[2017-08-11 09:25] rawlingsj commented on #550
As above I don't believe this is an issue.  The log is a warning that there's no quota to start build pods for two out of the three repos imported, this is because there's already one running for the first application.  Once the first build finishes Kubernetes then automatically schedules the second build pod, the Jenkins build then continues for the second imported repo and so on until all jobs c

[2017-08-11 09:25] #550 closed

[2017-08-11 09:29] rawlingsj commented on #526
Agreed, it's been on the list for the pipeline to wait (for a time) until the readiness checks for the new version pass.

[2017-08-11 09:45] pilhuhn opened #551 "Planning/Board "currently showing" should have 'all' option (as default?)"
I set up (as first and only thing) a task to do something. Whenever I come to to Plan/Board, it basically shows empty all over the place because 'Bug' is pre-selected.

Perhaps add a "All" category to the "Currently showing" dropdown.
Or on the left don't show 0 for All, but something like 0/1 to indicate that there are (hidden) items.
(Actually it looks like it always shows 0).

On the backlog ta

[2017-08-11 09:47] pilhuhn opened #552 "Board View: Switching "Currently showing" sets menu to "Backlog""
Go to Plan -> Board
See "Board" in blue
Switch "Currently showing" from Bug to Task
See "Backlog" in blue even if still in the board:

![bildschirmfoto 2017-08-11 um 11 46 56](https://user-images.githubusercontent.com/208246/29208561-d366e7a0-7e8a-11e7-841e-d2dc4892151b.png)

[2017-08-11 09:49] pilhuhn opened #553 "Sidebar: Work Item Count is broken"
The All counter in Plan / Backlog and Plan / Board always shows 0 no matter how many entries are in Backlog / Board

[2017-08-11 09:59] rawlingsj commented on #529
This should be fixed with Jenkins 3.0.81 https://github.com/fabric8io/jenkins-sync-plugin/commit/db03e025f3519b6ad8dd75c7ed05d03847f920fd please reopen if not.

[2017-08-11 09:59] #529 closed

[2017-08-11 10:00] rawlingsj commented on #512
This should be fixed with Jenkins 3.0.81 https://github.com/fabric8io/jenkins-sync-plugin/commit/db03e025f3519b6ad8dd75c7ed05d03847f920fd please reopen if not.

[2017-08-11 10:00] #512 closed

[2017-08-11 10:00] rawlingsj commented on #342
This should be fixed with Jenkins 3.0.81 https://github.com/fabric8io/jenkins-sync-plugin/commit/db03e025f3519b6ad8dd75c7ed05d03847f920fd please reopen if not.

[2017-08-11 10:00] #342 closed

[2017-08-11 10:01] rawlingsj commented on #447
This should be fixed with Jenkins 3.0.81 https://github.com/fabric8io/jenkins-sync-plugin/commit/db03e025f3519b6ad8dd75c7ed05d03847f920fd please reopen if not.

[2017-08-11 10:01] #447 closed

[2017-08-11 10:01] rawlingsj commented on #509
This should be fixed with Jenkins 3.0.81 https://github.com/fabric8io/jenkins-sync-plugin/commit/db03e025f3519b6ad8dd75c7ed05d03847f920fd please reopen if not.

[2017-08-11 10:01] #509 closed

[2017-08-11 10:08] rawlingsj commented on #545
Agreed - shall we close this and reopen if we start seeing the 503's again?

[2017-08-11 10:39] pilhuhn opened #554 "Pipelines display on space main page wrongly shows "no pipelines have run""
Clicking on the pipelines link in the top left of this box leads to the pipeline page, which shows that pipelines have indeed run in the past.

![bildschirmfoto 2017-08-11 um 12 36 58](https://user-images.githubusercontent.com/208246/29210072-054b1078-7e92-11e7-9eec-858a674bd05f.png)

[2017-08-11 11:50] rgarg1 opened #555 "Few links open in same window, few in new tab"
All links in OSIO should open in new tab to not cause disruption to user workflow. A user may not like to go back and forth between pages. See video for evidence:

https://drive.google.com/open?id=0BwLIZeed5jyKdHZOajZkOUQxUjA

[2017-08-11 11:54] rgarg1 commented on #529
I saw this today once. Will come back with proof.

[2017-08-11 11:55] rgarg1 opened #556 "A drop-down menu option on the Pipeline page blinks like a light"
Pipelines Page > Kebab Menu > Second option from the top:

https://drive.google.com/open?id=0BwLIZeed5jyKUENTckNGY0ZhamM

[2017-08-11 13:51] rawlingsj commented on #545
@burrsutter has just had a 503..

[code]

[2017-08-11 14:31] bmicklea commented on #349
Ultimately I agree with you Stevan, but for the time being the status widget is critical - the system is not yet stable and for the moment the manual tenant updates and version checks are important. So I think we have to leave it where it is until we get to a state where it's not actually required on a day-to-day basis.

However, I do agree that we should have contextual status for Che and Jenkins

[2017-08-11 15:05] rawlingsj commented on #545
Ok so the 503's still happen even when I wrap a retry around the recommender API call.

So I added a couple of curl commands in the pipeline after we get a 503 and we get an interesting result:

First here's the reported 503 from the bayesian jenkins plugin:
[code]
Next curl the external URL which WORKS:
[code]
Now try the internal kubernetes service URL which in turn points at the external one ab

[2017-08-11 18:48] burrsutter opened #557 "Add the remaining build notifications to MatterMost to complement the existing ones."
We need an ongoing/real-time "report" of changes happening to the production environment.  This would allow end-users (those watching MM) to know that elements A, B or C have been updated recently, they might wish to close and re-open their incognito browser session and likely clean/Update Tenant depending on what changed.  They also know to quickly report issues related to the component that was

[2017-08-11 18:50] burrsutter opened #558 "Applications Tab no longer responding"
Two users (myself and another) noticed the Applications Tab would not respond today - I ran through 2 different accounts, fully cleaned in-between.

https://screencast.com/t/7crcXh0qk

This tab is an important part of the story arc for our developer-focused console

Che version 1.0.275
Jenkins version 3.0.81

[2017-08-11 18:50] cctrieloff commented on #557
showing out update stream to production would be a great transparency feature.

[2017-08-11 18:53] bmicklea commented on #557
I expect there's a bot / API that we could use from CI to automatically publish the information. Ideally we'd have something like:

`production updated with <asset-version> please [additional instructions like update tenant, reload browser, etc...]`

[2017-08-11 18:56] rafabene commented on #557
We need to be more DevOps oriented and everytime that there is a new version of a new component we should see it. Each new version should have:

- Version number
- Release Date/time
- Changelog (New features / Bug fixes)

[2017-08-11 18:59] bmicklea commented on #557
There should also be an indication as to whether tenant update or browser refresh / clear is required (or any other manual user action).

[2017-08-11 19:00] rawlingsj commented on #557
We currently have hubot slack notifications in the fabric8 pipelines which send updates / requests for interaction during releases.  I added a [hubot mattermost image](https://github.com/fabric8io/hubot-mattermost) a little while back which in theory can be switched in place of our slack one but I've not tested it yet.

One issue would be that fabric8 pipelines do everything apart from the actual

[2017-08-11 19:38] maxandersen commented on #545
This looks very much like routing from inside and out don't honor SNI or one of the certs on its way is wrong. i.e. you should not be given a certificated with `*.09b5.dsaas.openshiftapps.com` when you are reaching out to  `https://recommender.api.openshift.io/api/v1`

[2017-08-11 20:23] bmicklea commented on #500
@corinnekrych - who is working on the linked issue?  This is a priority for the OSIO workshops which start next week.

[2017-08-11 20:26] maxandersen commented on #545
for those wanting to try this without pipelines you can do the following:

[code]
now run:

[code]

now you are in env that excerts same behavior as @rawlingsj observed above.

[2017-08-11 20:33] maxandersen commented on #545
note: It does not look like `https://recommender.api.openshift.io/api/v1` is what `https://bayesian-link` refer to.

When running without ssl check's I get this:

[code]

versus

[code]

[2017-08-11 20:42] maxandersen commented on #545
btw. @rawlingsj  if the code are using https://recommender.api.openshift.io/api/v1 then that baysian-link fails on cert issue is a seperate issur, right ?

[2017-08-11 21:26] maxandersen commented on #545
okey, with some help from @jfchevrette at https://chat.openshift.io/developers/pl/ccrh8y6bk7y8mfmmc1ht476i8a I'll conclude that `https://baysian-link` is not working is simply due to https/TLS not  being enabled on internal routed services in the cluster.

But then still weird why  `curl -v http://bayesian-link/api/v1` doesn't work either, I get an "Application is not available"

[2017-08-11 23:03] ldimaggi commented on #557
+1 to notifications of when the user should perform a tenant update, or browser refresh. Maybe something along the lines of how eclipse informs users that updates are available?

[2017-08-11 23:33] rafabene commented on #544
I've tried it now and it only shows the latest selected project.

[2017-08-12 00:58] aslakknutsen commented on #526
Related https://github.com/openshiftio/openshift.io/issues/508

[2017-08-12 01:10] ldimaggi opened #559 "Intermittent issue - Jenkins and Che version/status icons are missing"
Just noticed this:

![screenshot from 2017-08-11 21-07-18](https://user-images.githubusercontent.com/642621/29236516-530612c6-7ed9-11e7-821f-20edd4f0e307.png)

What happened to the Jenkins and Che staus icons?

[2017-08-12 15:14] samuzzal-choudhury commented on #545
However strange it might sound with all that explained here, I have been getting `stack reports` for every single build run since last evening :-)

[2017-08-12 19:03] catrobson commented on #539
@aslakknutsen @rgarg1 I agree with Aslak that this is not valuable information for this view.  We'll eventually be heading towards @slemeur's suggestions for the list view here which will only show the last commit along with some other more relevant daily metrics for the user to see.  https://redhat.invisionapp.com/share/94CH0VNV5#/screens/241681656

[2017-08-13 02:45] joshuawilson commented on #515
Duplicate of https://github.com/fabric8-ui/fabric8-ui/issues/1626
Closing.

[2017-08-13 02:45] #515 closed

[2017-08-13 02:52] joshuawilson commented on #514
@dlabrecq can you try this please and see if this is related to anything we did recently.

[2017-08-13 02:58] joshuawilson commented on #517
Please post here again if you see this. I haven't seen it yet.

[2017-08-13 03:04] joshuawilson commented on #487
I don't think the error is related, as I get it when I go to the Create tab.
@jstrachan is this feature broken or just some mocked up UI?

[2017-08-13 03:06] joshuawilson commented on #520
It is fake, there is no implementation yet.
Duplicate of #489
Closing.

[2017-08-13 03:06] #520 closed

[2017-08-13 03:15] joshuawilson commented on #522
I saw this several days ago too. Are you still seeing it? It works for me now.

[2017-08-13 03:19] joshuawilson commented on #523
@burrsutter where did you run the Import? In Che or in the app wizard?

[2017-08-13 03:23] joshuawilson commented on #490
Please reopen if you can reproduce this.

[2017-08-13 03:23] #490 closed

[2017-08-13 03:26] joshuawilson commented on #530
This is related to the other "import" issues.

[2017-08-13 03:28] joshuawilson commented on #527
Well now, I haven't tried to remove myself. You are good at poking around in the strangest places.
I guess we should fix this.

[2017-08-13 03:32] joshuawilson commented on #532
related to https://github.com/fabric8-ui/fabric8-ui/issues/1857
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/1858
@ldimaggi please validate

[2017-08-13 10:17] jstrachan commented on #487
The feature has been working for many months. Is suspect this is related to the DNS/IP issues OSO that Aslak has been taking about lately - temp fix is bounce f8ui pods to flush DNS cache and longer term fix is in OSO AFAIK

[2017-08-13 18:05] aslakknutsen opened #560 ""Create" blocks all actions in UI if Che is idling"
Steps to reproduce:

* Idle CheHost
* Go to https://openshift.io/openshiftio/openshiftio/create
  * See network tab n blocking calls to 'Edit' in state pending (eventually 504)

Until 504, the rest of the UI is unresponsive, e.g. Plan/Analyze

[2017-08-13 23:07] ldimaggi opened #561 "[RFE] Provide users with a "user environment/account" health report feature"
I think we should provide users with an easy way to diagnose potential problem situations by generating a report of the current condition of their account - OSO resources consumed, quotas, installed service versions, etc.

Users could then be able to include this in formation when they file problem reports,. Thx!

[2017-08-14 01:25] ldimaggi commented on #487
James - which pods are these pods? We are already dropping and recreating everything in the user's OSO account.

_temp fix is bounce f8ui pods to flush DNS cache and longer term fix is in OSO AFAIK._

[2017-08-14 01:31] joshuawilson commented on #536
@cmoulliard or you can ask @alexeykazakov to drop your OSO account and you can sign up again. It really depends if you want to keep your existing OSO account or not.

[2017-08-14 01:33] joshuawilson commented on #504
@dgutride can you please take a look at this too.

[2017-08-14 01:35] joshuawilson commented on #538
Duplicate of https://github.com/openshiftio/openshift.io/issues/528, closing. Please provide updates there.

[2017-08-14 01:35] #538 closed

[2017-08-14 01:38] joshuawilson commented on #528
I'm now seeing analytics reports. @ldimaggi can you please confirm.

[2017-08-14 01:40] joshuawilson commented on #537
This is not a bug. The Context menu shows you the spaces you recently visited. That space is not one of yours so you can't delete it. If you view 5 other spaces it will push it out. Or if you wait a few days it will time out and not be displayed, at least until you visit it again.

Closing as this works as designed.

[2017-08-14 01:40] #537 closed

[2017-08-14 01:41] joshuawilson commented on #540
@mindreeper2420 can you please take a look at this.

[2017-08-14 01:43] joshuawilson commented on #541
The 2 projects are not compatible. At least not yet.
Why did you try this? Did someone ask for it?
@burrsutter @ldimaggi did you want this tested and tracked? OR can we close this?

[2017-08-14 01:47] ldimaggi commented on #541
I did not think that we were testing with launch.openshift.io - I thought that we were importing "vanilla" projects as specified by Burr.

But - users may try this - if we cannot support this, then we should make this clear to users. How are the projects not compatible? Thx!

[2017-08-14 02:08] ldimaggi commented on #532
This is still a problem - see:

![screenshot from 2017-08-13 22-06-16](https://user-images.githubusercontent.com/642621/29255927-ea880a00-8073-11e7-9b90-85fa59b5ea63.png)

[2017-08-14 03:05] ldimaggi commented on #528
I am seeing analytics in the UI - but no reports:

![screenshot from 2017-08-13 23-04-11](https://user-images.githubusercontent.com/642621/29256900-e028d1ea-807b-11e7-9317-ac5af468d214.png)

Should a report be generated for each and every build?

[2017-08-14 03:07] ldimaggi commented on #522
I have not seen this for a few days 0 closing this issue - will re-open if the issues returns.

[2017-08-14 04:03] joshuawilson commented on #542
@jstrachan do you know if this is supposed to work? What does it delete?

[2017-08-14 04:04] joshuawilson commented on #543
The wizard is under design. The new version should fix this.

[2017-08-14 04:08] joshuawilson commented on #547
Are there any errors when this happens?

[2017-08-14 04:14] joshuawilson commented on #551
cc @michaelkleinhenz

[2017-08-14 04:14] joshuawilson commented on #552
cc @michaelkleinhenz

[2017-08-14 04:15] joshuawilson commented on #553
cc @michaelkleinhenz

[2017-08-14 04:21] joshuawilson commented on #554
This works for me. Have you cleaned and started fresh, as @burrsutter has outlined?

[2017-08-14 04:22] joshuawilson commented on #555
This is something for @catrobson and the UX team to work out.

[2017-08-14 05:07] jstrachan commented on #487
The fabric8-UI pods that host the web console & nginx proxy to the OSO rest api

[2017-08-14 05:26] samuzzal-choudhury commented on #528
@ldimaggi a report should be generated for every build. I can see from the screenshot that your `aug13-build#1` build was still in progress. Could you please check your pipelines status for `aug13-build#1`?

Here is the related issue https://github.com/openshiftio/openshift.io/issues/545. So, it will be really interesting to check your build log for the error 503. Could you please share your build

[2017-08-14 07:25] krishnapaparaju opened #562 "[3]500 server while doing stack analysis from build pipelines"
Here is the content from the Jenkins logs (sorry for the huge cut&paste, hopefully this helps):
[code]

[2017-08-14 07:28] krishnapaparaju commented on #562
Steps to reproduce:

 Create a space with VertxBasic as starting app with auto trigger build.

[2017-08-14 07:36] pilhuhn commented on #554
Yes, also works for me now after a force-reload. Closing this one.

[2017-08-14 07:36] #554 closed

[2017-08-14 07:50] invincibleJai opened #563 "Stack report on space dashboard - doesn't show anything if build pipeline is in progress"
If build pipeline is in progress, Stack report on space dashboard shows empty screen as below. It should not be in empty state , creates a bit of confusion.
<img width="1679" alt="screen shot 2017-08-14 at 1 18 19 pm" src="https://user-images.githubusercontent.com/5129024/29262663-34b248aa-80f3-11e7-925e-96e9f923ac1c.png">

[2017-08-14 07:57] msrb commented on #562
This is interesting, looks like the first attempt got 500 from server, but the second attempt succeeded.

[2017-08-14 08:12] jstrachan commented on #542
yes its supposed to work; it currently deletes the BuildConfig (i.e. the pipeline).

It looks like the nginx proxy in fabric8-ui is not allowing DELETE so we get a 405 when we try to delete anything in OpenShift.

[2017-08-14 08:35] aslakknutsen commented on #542
I think this is related to the wwwopenshiftio proxy. It never seems to reach the f8ui proxy.

Suspect it's related to the 'try_files' directive set in place to return index.html on 404, it tries to delete on local fs first, but fail with 405 and return without going to the proxy pass.

[2017-08-14 08:39] rgarg1 opened #565 "OSO: Broken link to jenkins on the Pipelines detail page"
This is an issue related to OSO. Kindly forward.

Logging it here as the users are most likely to see this in the workshop workflow.

The link to Jenkins displayed is broken and leads the user to a page that does not exists.

Broken link: http://jenkins/job/rgargosiotest1/job/vertx-paint/job/master/
Working link: https://jenkins-rgarg-osiotest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/

[2017-08-14 09:09] jstrachan commented on #542
@aslakknutsen ah cool thanks

[2017-08-14 09:32] aslakknutsen commented on #542
@jstrachan and it tried to delete the DeploymentConfig not the BuildConfig ;)

[2017-08-14 09:48] jstrachan commented on #542
depends on which page you click Delete; the Pipelines page deletes BuildConfigs, the Apps page deletes DeploymentConfigs and the Environments page deletes whatever tab you've got open (Services / Pods / DeploymentConfigs / Routes / ConfigMaps etc)

[2017-08-14 09:55] aslakknutsen commented on #542
@jstrachan Yes of course. But in the context of this issue.. :)

[2017-08-14 10:53] jstrachan commented on #500
the linked issue is fixed and is now in prod. Could folks retest this and see if its working now in prod?

[2017-08-14 11:58] rgarg1 opened #566 "Importing multiple projects place multiple builds for each project in queue"
1) For the workshop doc and import all 3 vertx projects into OSIO
2) Post successful import, open the OSO pipelines page and observe that multiple builds are in queue for each project. Sometime 3, or may be 5 if your are indeed in luck

This is happening with Jenkins build 3.0.81 and 3.0.82 as well.

[2017-08-14 11:59] rgarg1 commented on #566
![3 builds triggered](https://user-images.githubusercontent.com/28748448/29270804-11fd08ae-8116-11e7-98ec-1ece826399ca.png)

[2017-08-14 12:00] catrobson commented on #555
Thanks for the feedback @rgarg1 - is the Pipelines page the primary place you experienced this?  I think most other pages we have specified new tabs correctly for behavior where it should be a new tab (when you are opening external links).  Noted that we need to improve the pipeline page behavior to match.  Captured that requirement in a future UXD story here:  https://github.com/fabric8-ui/fabric

[2017-08-14 12:03] rgarg1 commented on #566
Video proof: https://drive.google.com/open?id=0BwLIZeed5jyKcVNsOGR2MTRZWTg

[2017-08-14 12:33] rgarg1 commented on #555
@catrobson It appears that this problem lies only with the lings I've mentioned in this report. A quick test on other pages did not revel anything to me.

[2017-08-14 12:37] dgutride commented on #312
UI work and backend work has been completed already on this - moving to closed.

[2017-08-14 12:37] #312 closed

[2017-08-14 13:07] dgutride commented on #560
@aslakknutsen  - I think this was meant for @dlabrecq

[2017-08-14 13:10] aslakknutsen commented on #560
@dgutride yes :)

[2017-08-14 13:42] samuzzal-choudhury commented on #545
503 is back for me after a tenant update.

[2017-08-14 13:43] ldimaggi opened #568 "Stack report on dashboard - does not allow user to select pipeline"
The pipeline dropdown is not being populated with pipeline names - the dropdown is always empty:

![screenshot 61](https://user-images.githubusercontent.com/642621/29274190-efe16198-80d4-11e7-88ed-03f6833e063c.png)

Related to:
https://github.com/openshiftio/openshift.io/issues/563

[2017-08-14 13:52] dlabrecq commented on #514
There have not been any changes here that I know of.

There are two possible scenarios that the user may be seeing.

1. A new workspace was created, but Che failed to start it. For some reason, our workspace API won't provide the newly created workspace, unless Che successfully started it.

2. The user created a workspace using the kebab Vs of the select menu. If the select menu were used instead,

[2017-08-14 14:04] ldimaggi opened #569 "[RFE] Provide link to Che dashboard in OSIO UI"
It would be helpful for users to be able to easily locate/access their Che dashboard directly from the OSIO UI. This would help in the near-term, as we are facing issues managing Che workspaces. This would also help users in the future as they manage and use multiple Che workspaces. Thx!

[2017-08-14 14:18] dlabrecq commented on #560
Can you please elaborate a little more? For example, does this happen upon entering the page or when you open/create a workspace?

If you open/create a workspace, we keep trying until Che starts up -- it can take 2-3 min if Chie is idle. Are you attempting to navigate elsewhere after selecting that?

[2017-08-14 14:20] rhopp commented on #514
I created the workspace using create workspace link/button, not kebab menu. I tried it again today and the workspace appeared after refreshing browser window.
I tried again create workspace using kebab menu and the workspace again appeared correctly in UI after page refres.
```"For some reason, our workspace API won't provide the newly created workspace, unless Che was able to successfully start i

[2017-08-14 14:23] aslakknutsen commented on #542
Fix pushed to prod and can verified

[2017-08-14 14:26] invincibleJai commented on #545
Tested it now post updating tenant got 503 again now during OSIO build run
`Bayesian API URL is https://recommender.api.openshift.io/api/v1
com.redhat.jenkins.plugins.bayesian.BayesianException: Bayesian error: 503`

[2017-08-14 14:28] aslakknutsen commented on #560
If you just go to the page, when che is idling, nothing will work in the ui until the edit reponse timeout(504)

[2017-08-14 14:29] jstrachan commented on #542
@aslakknutsen awesome! Tried `Delete` on `Pipelines` and `Apps` pages in prod and both now worked perfectly now!

[2017-08-14 14:29] #542 closed

[2017-08-14 14:30] kbsingh commented on #545
cross cluster, short urls will not work - you need the full real DNS name to be used. For the app itself unable to process the request, can we get the full html output of what is returned when you get the 503 error ?

@samuzzal-choudhury you will need to check the app logs on the OSD to work through the issue ? it looks like the problem might be in the bayesian app itself, either unable to handle

[2017-08-14 14:37] ldimaggi opened #570 "Intermittent issue - Create new workspace fails to import external libraries"
Steps to recreate:
* From a clean user account:
* Create new space
* Add to space - Vert.X quickstart
* Create Che workspace

See the error highlighted - the problem is that the external libraries are not imported:

![screenshot 63](https://user-images.githubusercontent.com/642621/29276385-773cdd78-80dc-11e7-8457-c315719897ac.png)

[2017-08-14 14:39] ldimaggi commented on #570
And - here is a successful run:

![screenshot from 2017-08-14 10-21-52](https://user-images.githubusercontent.com/642621/29276530-e306ec7e-80dc-11e7-923e-7e3199d8ea11.png)

[2017-08-14 14:40] ldimaggi commented on #501
Seeing this about 50% of the time today:

Could not start workspace pbtesc8z. Reason: Start of environment 'default' failed. Error: Timeout. The Che server is unable to ping your workspace. This implies a network configuration issue, workspace boot failure, or an unusually slow workspace boot.

[2017-08-14 14:41] ldimaggi commented on #570
Che pod log from failed attempt:

[che_pod_log.txt](https://github.com/openshiftio/openshift.io/files/1222526/che_pod_log.txt)

[2017-08-14 14:48] ldimaggi opened #571 "Che deployments are not being removed by cleaning script"
Just noticed that these deployments were not removed by the cleaning script:

![screenshot 65](https://user-images.githubusercontent.com/642621/29276731-88cc1c56-80dd-11e7-8e9c-69063a799450.png)

[2017-08-14 14:50] ldimaggi commented on #570
Another che log file:

[che_pod_log.txt](https://github.com/openshiftio/openshift.io/files/1222558/che_pod_log.txt)

[2017-08-14 14:55] ldimaggi commented on #570
Seeing lots of these errors - haven't seen these before

WARNING: A connection to https://kubernetes.default.svc/ was leaked. Did you forget to close a response body? To see where this was allocated, set the OkHttpClient logger level to FINE: Logger.getLogger(OkHttpClient.class.getName()).setLevel(Level.FINE);

[2017-08-14 14:59] burrsutter commented on #501
I notice that when I receive this message:
- Kube/OpenShift have killed the pod - it happened during our live demo today
- and then hit the Start button
- the Workspace does come up but having failed to import the project from github - the workaround is to manually import the project.  The good news was the Run Command was properly configured.

[2017-08-14 15:33] msrb commented on #545
I think the 503 in pipelines could be caused by trailing newline character in RECOMMENDER_API_TOKEN env. variable in Jenkins. It terminates headers section in a HTTP request and effectively cuts off Host header, causing the 503.

It looks like not all tokens have this trailing newline. My token is affected.

[2017-08-14 16:12] msrb commented on #545
[code]

And then click "update tenant" in UI. The problem should be fixed.

[2017-08-14 16:18] ldimaggi opened #572 "When a new Che workspace is not fully/correctly created, error details are not reported to user"
See: https://github.com/openshiftio/openshift.io/issues/570

When the error occurs, a red "x" character is shown in the project navigator, but the user is not informed as to the cause of the error.

[2017-08-14 16:29] ldimaggi commented on #566
A simple way to recreate this bug is:
* Create a new project (add to space - Quickstart)
* Then, import that same project's git hub repo as a new project

[2017-08-14 17:08] kbsingh commented on #495
I would recommend dropping the P1 severity and bringing the conversation into a service architecture piece. Its not something we are going to be able to execute in the short to immediate term.

[2017-08-14 17:08] kbsingh commented on #441
is #495 a dupe of this issue ?

[2017-08-14 17:10] GeorgeActon commented on #376
@luebken @invincibleJai  https://github.com/redhat-developer/rh-che/issues/218 is closed now. Should this be retested?

[2017-08-14 17:17] invincibleJai commented on #376
@GeorgeActon CVE's are being flagged now for all three ecosystem, but still we face issue with certain pom.xml i.e based on content. Details can be seen here - https://github.com/eclipse/che/issues/5843

[2017-08-14 17:28] invincibleJai commented on #210
related to https://github.com/openshiftio/openshift.io/issues/376. Actual issue is based on certain content of pom.xml above issue appears which is being fixed by Che side else works as expected.

[2017-08-14 17:50] ldimaggi commented on #559
Not reproducible - closing.

[2017-08-14 17:50] #559 closed

[2017-08-14 19:05] ldimaggi opened #573 "Jenkins won't start, won't spawn slaves - Che-host does start but can not spawn workspaces"
Event log for Jenkins:

[code]

[2017-08-14 19:06] ldimaggi commented on #573
Seeing this with Jenkins 3.0.83

[2017-08-14 19:30] ldimaggi commented on #573
Jenkins won't start, won't spawn slaves
Che-host does start but can not spawn workspaces

[2017-08-14 19:32] ldimaggi commented on #547
I don't think that there is anything in the log - will verify when it happens next.

[2017-08-14 20:09] aslakknutsen commented on #573
This is highly likely due to the OSO upgrade that is happening atm. Nodes will go up and down multiple times..

I had the same on content-repo, but it started up 20s later

[2017-08-14 20:43] joshuawilson commented on #557
@rawlingsj you want me to set up a MM channel for it? I don't know that we want it in the main channel.

[2017-08-14 20:59] rawlingsj commented on #557
@joshuawilson thanks, we can hold off setting up the MM channel until ready to try it out which is unlikely to be this week.

[2017-08-14 20:59] rawlingsj commented on #557
Just another thought on this; I wonder if there's two things here, one short term another which might be more involved but could be a great feature...

1. __short term__ send chat (mattermost) notifications when new tenant updates are available
2. __long term__ have a more advanced info messaging feature, maybe like a stackoverflow type thing where folks can asynchronously get updates about new re

[2017-08-14 21:00] aslakknutsen commented on #559
@joshuawilson Note: the underlying issue to them 'missing' is still there even if the 'common' problem is fixed with the proxy. The Status API is still not able to report if the status is horrible bad (e.g. oso is down).

[2017-08-14 21:23] joshuawilson commented on #539
I do not see the value to the dev. Maybe some value in testing the app to verify that the codebase was added.

Since this page is being rewritten I'm closing this. You can still post your reasons/value gained and it can be incorporated into the new design.

[2017-08-14 21:23] #539 closed

[2017-08-14 21:26] joshuawilson commented on #561
@catrobson this might fit with the work you are doing on the clean up page.

[2017-08-14 21:28] joshuawilson commented on #541
They use a different OSO structure. We are working on making them compatible and so it should be tested. But only after we let you know it works.

[2017-08-14 21:33] #522 closed

[2017-08-14 21:47] joshuawilson commented on #562
@krishnapaparaju @GeorgeActon Please only assign to the person(s) that are actively work on it. If you want someone to look at it, please just mention them in a comment.

[2017-08-14 21:52] jjohnstn opened #574 "Logging into Openshift.io first time does not work on Firefox"
Using Firefox 45.4 on RHEL 7.3, logging into openshift.io routes me to the _gettingstarted page.  This page does not show anything on Firefox.  It works with Chrome, but it should also work with Firefox.

[2017-08-14 22:30] joshuawilson commented on #565
@kbsingh @jstrachan who can we pass this to?

[2017-08-15 00:33] joshuawilson commented on #569
There is a plan in place to create a workspaces page like the codebases page to manage Che.
It is being tracked at https://github.com/fabric8-ui/fabric8-ui/issues/1528
Closing as a duplicate.

[2017-08-15 00:33] #569 closed

[2017-08-15 01:10] catrobson commented on #561
@joshuawilson thanks.  @ldimaggi we'll want your feedback on the system utilization and status pages that we're working through now.  We can then also talk about how to include this information into what we attach to feedback that users provide in-app in the user feedback capability we'll be looking to add soon.

[2017-08-15 01:34] ldimaggi commented on #561
Thx! Send a link to the system utilization and status pages when they ready for review.

[2017-08-15 02:01] joshuawilson commented on #514
@ibuziuk @dlabrecq do you think this has anything to do with CheStarter? The issue appears to be on the Codebases page, not in Che. Is that correct @rhopp?

[2017-08-15 02:08] joshuawilson commented on #560
@dlabrecq if you are working this, go ahead and assign it to yourself.

[2017-08-15 02:12] joshuawilson commented on #542
Thanks @aslakknutsen

[2017-08-15 02:14] joshuawilson commented on #571
So after you delete everything in the Che namespace, they are still there?
These are the workspaces, right?

[2017-08-15 02:17] joshuawilson commented on #571
@jstrachan @kbsingh @aslakknutsen if he ran a complete delete, why are these still here?

[2017-08-15 02:17] ldimaggi commented on #571
+1

But - the workspaces don't seem to exist.

[2017-08-15 02:19] joshuawilson commented on #501
Can you please try again when the servers/nodes/pods are all back up and running?

[2017-08-15 02:21] joshuawilson commented on #572
Not a solution but for anyone else reading this; if you refresh the error goes away.
I know that the Che team is aware of this, but I don't know what issue they are tracking it on.

[2017-08-15 02:27] joshuawilson commented on #441
@kbsingh this one is a request to lower the QS memory, whereas #495 wants to lower the available minimum so that this one can go that low.

[2017-08-15 02:35] joshuawilson commented on #573
Closing as this has to do with the OSO upgrade.

[2017-08-15 02:35] #573 closed

[2017-08-15 02:36] joshuawilson commented on #559
@aslakknutsen agreed, we need to fix the status widget.

[2017-08-15 02:37] joshuawilson commented on #574
@mindreeper2420 can you please verify the supported version of FF. I think that might be too old.

[2017-08-15 02:54] mindreeper2420 commented on #574
@joshuawilson you are correct. OpenShift.io has not been tested on Firefox below version 51 (released January 24, 2017). The latest supported release for OpenShift.io is 54.0.1 (June 13, 2017).

Chrome is the recommended browser, per our Browser Guidelines (https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers).

[2017-08-15 06:00] ibuziuk commented on #514
@joshuawilson do not think it is coupled with CheStarter since it just returns list of workspaces based on github repo (no extra logic here). cc: @aslakknutsen

dlabrecq do not really know what kebab means in terms of OSIO, but if a new workspace was created and started UI simply is not aware of it with disabled polling

[2017-08-15 06:12] joshuawilson commented on #574
@catrobson any idea what we can do for the standard configuration on RHEL? Is it fare to tell all our internal RHEL users to install Chrome?

[2017-08-15 07:02] maxandersen opened #575 "links to pipelines broken when username has special characters in it"
I have user `manderse@redhat.com` meaning my base url is `https://openshift.io/manderse%40redhat.com` but links in the Pipelines widget uses `https://openshift.io/manderse/mirror3/create/pipelines` as opposed to the correct url at `https://openshift.io/manderse%40redhat.com/mirror3/create/pipelines`

[2017-08-15 09:11] jpopelka opened #576 "Build is running - No stages have started"
Created 'New Quickstart project' with 'Vert.x - Basic' and 'Release' pipeline strategy.
Build has not started, log says 'Application is not available'.

https://console.starter-us-east-2.openshift.com/console/project/jpopelka/browse/pipelines/osio-test-15-8-1

Firefox: 55.0

[2017-08-15 09:49] maxandersen opened #577 "importing project using same repo as already used resulting in duplicate codebases"
I had an old space using a git repo but all builds etc. was gone. I used import existing repo and end result was things seemed to work again but I now have two codebases for the same repo.

I would have expected it to use the existing codebase/repo, not add another one.

<img width="1277" alt="menubar_and_banners_and_alerts_and_create_-_openshift_io" src="https://user-images.githubusercontent.com/

[2017-08-15 10:34] ppitonak commented on #574
There is Firefox ESR 52.3 available on RHEL 7.2 so I guess that similar version is available on RHEL 7.3 and 7.4. In my opinion, OSIO should support and be tested on latest Firefox ESR.

[2017-08-15 10:51] ppitonak commented on #535
I'm not sure if it's the same problem but I see Che and Jenkins as shut down on clean account

![osio_jenkins_che_not_started](https://user-images.githubusercontent.com/445100/29313091-590c96c2-81b8-11e7-9e70-7ab82ddb7439.png)

[2017-08-15 12:06] jstrachan commented on #565
fixed in prod

[2017-08-15 12:06] #565 closed

[2017-08-15 12:26] ppitonak commented on #524
It would be nice if user could choose email for commits on Forge wizard (user can have different email in OSIO account and GitHub account)

[2017-08-15 12:43] ldimaggi commented on #535
Did you update the tenant after the cleaning?   ;-)

On Tue, Aug 15, 2017 at 6:51 AM, Pavol Pitonak <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-08-15 12:59] ppitonak commented on #535
You are right... updating the tenant helped. It now shows green ticks... can you still reproduce this issue?

[2017-08-15 13:03] ldimaggi commented on #535
Well - when you clean - you have deleted the pods. The "power button" icon
could be clearer - maybe a diff icon?

On Tue, Aug 15, 2017 at 8:59 AM, Pavol Pitonak <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-08-15 13:50] dlabrecq commented on #560
Yes, but this is really a dup of https://github.com/fabric8-ui/fabric8-ui/issues/1825

[2017-08-15 14:12] ldimaggi opened #578 "Date based codebase filters treat dates as strings, not as dates"
If a user filters codebases based on commit or create dates, the user must enter the dates as strings.

For example, a filter of "Aug 15, 2017" will return codebases created today, but a filter of "8/15/2017" will not.

It would be better if date related selection fields would enable the user to select dates from a calendar.

![screenshot 68](https://user-images.githubusercontent.com/642621/293194

[2017-08-15 14:20] dlabrecq commented on #514
If Che has not started, the polling may simply timeout because it took too long. If you try creating a second workspace, you may find that the page updates.

I'll have to experiment with the polling timer. If it does not match the Che timeout, it should be adjusted.

Now that we have the Che start API, it's possible we can do something else to update that menu.

[2017-08-15 14:24] joshuawilson commented on #576
I don't think the upgrade of OSO has been fully fixed. Can you go in an update your tenant and try again.

[2017-08-15 14:25] maxandersen commented on #575
No I don't think this is the same issue nor related to osio username != github usernames.

Issue is that my user has a @ in the name (i.e. `manderse@redhat.com`) which should be encoded as `%40` but for some reason the links to pipelines cuts off at this symbol instead.

[2017-08-15 14:29] joshuawilson commented on #524
@ppitonak can you write that up as a request for enhancement. Adding it to a bug will get it lost.

[2017-08-15 14:30] kbsingh opened #579 "unidling Che takes longer than the route timeout will tolerate"
We have effective idle for che turned on, this is a huge resource win for us - however there seems to be a problem wherein the first time its unidled due to activity, the time it takes for the servie to restore is longer than the tolerance on the router for an idled app.

Needs investigation as to where the correct fix might be, and if we can perhaps optimise the unidle process.

[2017-08-15 14:30] joshuawilson commented on #524
@aslakknutsen @alexeykazakov do you know why the username isn't being used? Or whatever is supposed to be used.

[2017-08-15 14:31] aslakknutsen commented on #560
@dlabrecq Not so much a dup as "if fabric8-ui/fabric8-ui#1825 is implemented properly it would fix this"

[2017-08-15 14:32] kbsingh commented on #579
Manually testing this, against the wall clock it looks like we need ~ 3 min from first hit request to when the che-dashboard will load up.

[2017-08-15 14:42] ldimaggi opened #580 "Environments view lists Test, Stage, Run - but no "Test" project exists in OpenShift Online user account"
See attached screenshot - We dropped the Test project a while ago:

![screenshot 72](https://user-images.githubusercontent.com/642621/29320787-51cec6e4-81a6-11e7-82c2-44212996ad89.png)

[2017-08-15 14:45] bmicklea commented on #557
@rawlingsj +1. For #2 some kind of automated message that explains the release version and includes a link to release notes and changelog would be idea.

[2017-08-15 14:54] rawlingsj commented on #557
Yeah exactly that!  It would also be a pretty nice way to let folks know about experimental features, how to toggle them on/off etc.

[2017-08-15 14:55] dlabrecq commented on #560
Yes, integrating the CheStarter API with the codebases page would resolve the issue with the worksapce menu as well.

[2017-08-15 15:22] rafabene opened #581 "Triggering any git push doesn't launch any build."
It is now the opposite of #512 :)

[2017-08-15 15:30] ldimaggi opened #582 "Codebases list displays github icon that appears to be a link, but is not"
See attached screenshot - the blue text is a live link to the codebase's github repo, but the blue highlighted github icon is not. This may be confusing for users.

![capture 2](https://user-images.githubusercontent.com/642621/29322861-0d9f11a2-81ad-11e7-8c65-31c4943fc055.PNG)

[2017-08-15 16:27] jstrachan commented on #581
requires an update tenant to 3.0.86

[2017-08-15 18:08] joshuawilson commented on #579
@ibuziuk @aslakknutsen @dlabrecq is this something we can deal with in the CheStarter?

[2017-08-15 18:12] joshuawilson commented on #557
The problem is this is a SaaS not a product that lives by a release schedule. The best you can do is compile a list of the commits as they happen across all the repos that are brought together to form the service.

[2017-08-15 18:14] joshuawilson commented on #582
@catrobson @dlabrecq what do you think we should do?

[2017-08-15 18:17] ldimaggi commented on #582
For the very short-term, we could remove the icon.

For the longer term, when we want to support repos at places in addition to github, I'd recommend making the icon part of the live link.

[2017-08-15 18:19] dlabrecq commented on #582
I don't believe the icon was ever intended to be a link? The highlighting and mouse cursor don't change on hover.

It's not even the same color blue; although, the screen shot looks similar. The link is actually a darker blue than that.

![screen shot 2017-08-15 at 2 18 26 pm](https://user-images.githubusercontent.com/17481322/29329686-acdb13e4-81c4-11e7-8909-45723e8d3b2d.png)

[2017-08-15 18:21] joshuawilson commented on #498
This idea was first raised in https://github.com/fabric8-ui/fabric8-ui/pull/1325
We have done the work and I want to get approval before we do the move from @jstrachan and @rajdavies
cc @maxandersen

[2017-08-15 18:27] ibuziuk commented on #579
from @aslakknutsen comment on mattermost:

[2017-08-15 18:48] rafabene opened #583 "Stacks recommendation build # shows a hash"
The Stacks recommendation shows dialog title shows Report title on Application, Build #3403b809c7e045ff820da4756a56c180.

It should be Report title on application-name, Build 3

![screenshot 2017-08-15 14 46 38](https://user-images.githubusercontent.com/30131/29330916-c15ca1ee-81c8-11e7-963a-92d4c9206eb6.png)

[2017-08-15 18:50] rafabene opened #584 "Stacks recommendation problems after a second run of the pipeline."
In the first execution of the pipeline, everything was fine.

In the second execution, the report is missing/blank with a message: "There was a problem and we couldn't build a full stack overview analysis."

![screenshot 2017-08-15 14 50 18](https://user-images.githubusercontent.com/30131/29331015-19be7858-81c9-11e7-984a-c9ab500e44e3.png)

[2017-08-15 19:03] pilhuhn opened #585 "Short pipeline does not show link to staging"
I am using the middle of the 3 pipeline options to only roll out to staging (to save time).

Unlike the long one, there is no link to the app on staging, so I need to leave OSIO and go over to OSO and into the -stage project to find my app.

OSIO version : Jenkins version 3.0.87

![bildschirmfoto 2017-08-15 um 21 00 46](https://user-images.githubusercontent.com/208246/29331516-fb9cddea-81fc-11e7-8

[2017-08-15 19:10] pilhuhn commented on #585
Update: it may be that this is hidden in the context menu under "stage:demo" - I certainly did not expect this.

[2017-08-15 19:21] pilhuhn opened #586 "Clicking on project name in pipelines widget shows warning that this is not found"
I clicked on the myspace-demo link in the Recent-active-pipelines view and got an orange warning box

![bildschirmfoto 2017-08-15 um 21 19 31](https://user-images.githubusercontent.com/208246/29332208-8ebdfd96-81ff-11e7-887c-0da310e81364.png)

Same happens from within the space.

[2017-08-15 20:08] alexeykazakov commented on #527
You should be able to remove yourself from the list of collaborators. What you can't do is to remove the space owner from the list of collaborators. It's currently forbidden by API.
So, if it's your own space then you can't remove yourself.

[2017-08-15 20:09] alexeykazakov commented on #527
And btw if you look at the full error text from API you will see the explanation of this failure.

[2017-08-15 20:25] alexeykazakov commented on #536
@maxandersen If unapproved user tries to login we currently redirect to the OSIO/OSO registration page. We set this redirect URL via an env var in fabric8-wit. And I agree It can be confusing. We should create a dedicated page in openshiftio app with some proper explanation what is wrong and what user can do about it and redirect to that page instead.
I created an issue in auth repo to track this

[2017-08-15 21:57] alexeykazakov commented on #524
It's an issue with our app generator/wizard. It's supposed to obtain the user's email from github using the github token. @aslakknutsen should know details.

[2017-08-15 22:23] aslakknutsen commented on #524
https://github.com/fabric8io/fabric8-generator/issues/32

A possible workaround/normal solution would be to make the commit as some 'OSiO user' as opposed to the user. Similar to how a CI/CD bot would do.

[2017-08-16 00:36] aslakknutsen commented on #571
@ldimaggi Are you sure you ran the clean up on that namespace? Have any logs? Did you refresh the UI?

[2017-08-16 01:53] ldimaggi commented on #571
Yes - the cleanup was run - and the UI was refreshed. Will try to recreate and get any logs.

[2017-08-16 08:03] ibuziuk commented on #579
from @kbsingh comment:
`the endpoints problem[1] should get fixed today as well,  it looks specific to our cluster`

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1481603

[2017-08-16 08:16] arunkumars08 commented on #584
@rafabene I have tried this in local as well as in my openshift account, I am unable to reproduce this issue. Could you give me more information so that I can try even better?

[2017-08-16 08:39] #319 closed

[2017-08-16 08:39] #321 closed

[2017-08-16 08:39] #322 closed

[2017-08-16 08:39] #324 closed

[2017-08-16 08:39] #331 closed

[2017-08-16 08:39] #335 closed

[2017-08-16 09:47] pilhuhn opened #587 "When a pipeline stage fails, the time is shown as 0s, not the real run-time so far"
This build was running for more than 39s (after it took quite a while until it started).

Once the result flipped to error, the time went to 0s.
I find this is confusing, as 0s is normally an indicator that the git clone failed long before the build even started. I think it would be better to leave the run-time.

![bildschirmfoto 2017-08-16 um 11 44 11](https://user-images.githubusercontent.com/20

[2017-08-16 09:52] pilhuhn opened #588 ""Can not contact Jenkins-slave-xxx" in Jenkins output"
My build log has twice:

`Cannot contact jenkins-slave-mvd45-51hk7: java.io.IOException: corrupted content in /home/jenkins/workspace/pilhuhn_myspace-demo_master-EEICNF735FRJKBYYBWFBQPA2UIYCRGQMZLOI7KG2NUN4UKVNAQWQ@tmp/durable-feae4093/pid: java.lang.NumberFormatException: For input string: ""`

<details>
[Pipeline] stage (Build Release)
Using the ‘stage’ step without a block argument is deprecate

[2017-08-16 09:56] rawlingsj commented on #588
This is due to a jenkins plugin upgrade but doesn't cause any issues AFAIK.  Should be fixed in a future plugin upgrade.  There's more info here https://issues.jenkins-ci.org/browse/JENKINS-42048

[2017-08-16 10:06] pilhuhn commented on #587
Looks like this is an issue in Jenkins, as Jenkins sets them to 0 :-(
![bildschirmfoto 2017-08-16 um 12 06 00](https://user-images.githubusercontent.com/208246/29358430-4f6c9b76-827b-11e7-92e6-171ffd2afed9.png)

[2017-08-16 10:14] arunkumars08 commented on #584
@rafabene I am able to reproduce the scenario now. The fix for the same is in the pipe.

[2017-08-16 10:52] rgarg1 opened #589 "Collapsible sidebar in Planner"
# Description
As a user, I want to be able to collapse the shortcut sidebar when not needed.

# Acceptance Criteria
- [ ]  The user can collapse the sidebar when in expanded (shown). The rest of the UI adapts to the collapsed sidebar.
- [ ]  The user can expand the sidebar when in collapsed state. The rest of the UI adapts to the collapsed sidebar.

# Relationships
_Put linked Team/Product story l

[2017-08-16 11:03] adisakala commented on #585
The issue seem to be more related to issue with our Pipeline UI. @rajdavies suggest get this addressed by somebody in CD team

[2017-08-16 11:04] jstrachan opened #590 "import project creates a new webhook; leading to duplicate webhooks on repeated imports"
which then leads to duplicate builds triggered via duplicate github push events

[2017-08-16 11:17] rgarg1 commented on #590
Will this fix #566 ?

[2017-08-16 11:21] jstrachan commented on #590
@rgarg1 I really hope so yes! Should be live in a production in an hour or so - will close this issue when its there then we can retest if #566 is fixed

[2017-08-16 11:25] rgarg1 commented on #590
Thank you @jstrachan for tracking this problem down and fixing it. Appreciate it.

[2017-08-16 11:37] rawlingsj commented on #568
Maybe this pipeline isn't annotating the builds for some reason.  Can you attach the jenkins log for that build please?

[2017-08-16 11:37] jstrachan commented on #568
its it still empty if you reload? wondering if its just not watching for new pipelines being created; or if it never populates

[2017-08-16 12:14] jstrachan commented on #590
fixed in prod

[2017-08-16 12:14] #590 closed

[2017-08-16 12:15] jstrachan commented on #566
wanna try retest this? think its fixed - there should be now only 1 webhook after an import

[2017-08-16 12:56] GeorgeActon commented on #568
@samuzzal-choudhury is this related to the work Arun is doing?

[2017-08-16 13:18] GeorgeActon commented on #376
@invincibleJai @samuzzal-choudhury Those bugs have no severity on them. Does this impact Burr workshops? Should it be on the hit list for that to get more attention to it?

[2017-08-16 13:30] GeorgeActon commented on #438
@krishnapaparaju @samuzzal-choudhury Please update this to assign to the person working on it. Is Sarah leading for this?

[2017-08-16 13:46] jstrachan commented on #498
+1

[2017-08-16 14:31] rgarg1 commented on #566
You fixed it! Works fine with 3.0.88. Success logs attached.

[2017-08-16 14:32] rgarg1 commented on #566
[jenkins-1-nr98q.txt](https://github.com/openshiftio/openshift.io/files/1228511/jenkins-1-nr98q.txt)

[2017-08-16 14:41] jpopelka commented on #576
Tried again, but still no luck:

- updated tenant, waited
- checked Jenkins version, it's 3.0.88
- removed all spaces
- deleted all pipelines
- Scaled the "jenkins" service to 0 pods and then to 1
- created new space
- checked Jenkins logs: http://pastebin.test.redhat.com/508766

Should I try to [clean-up all apps and pipelines](https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-clean-u

[2017-08-16 14:42] jstrachan commented on #566
awesome thanks!!!!

[2017-08-16 14:42] #566 closed

[2017-08-16 14:47] GeorgeActon commented on #545
@msrb @samuzzal-choudhury Have we reached a conclusion on this?

[2017-08-16 14:58] samuzzal-choudhury commented on #438
This is due to the fact that the Anitya server is not updated with the latest version of the components. @msrb can Anitya server be refreshed to get the latest versions of components?

[2017-08-16 15:09] msrb commented on #438
@samuzzal-choudhury I will check what's going on there. Do we take the information directly from Anitya? No graph?

[2017-08-16 15:44] joshuawilson commented on #576
yes, please run a complete clean up

[2017-08-16 15:57] rafabene opened #591 "The import dialog for more than one project is not aligned"
I've imported three projects. In the last page of the dialog, the third repository is not aligned.

![screenshot 2017-08-16 11 56 12](https://user-images.githubusercontent.com/30131/29372755-063c1f4a-827a-11e7-9c3f-c0e355fe0580.png)

[2017-08-16 16:34] samuzzal-choudhury commented on #438
@msrb graph is involved.

[2017-08-16 17:01] rafabene opened #592 "Importing three projects makes Jenkins Pipeline to create two builds for one of them."
I have imported three projects at the same time forked from

- https://github.com/burrsutter/vertx-eventbus
- https://github.com/burrsutter/vertx-paint
- https://github.com/burrsutter/vertx-wiki2

The project vertx-wiki2 has two builds

![screenshot 2017-08-16 13 00 59](https://user-images.githubusercontent.com/30131/29375431-f6dbe40a-8282-11e7-9ead-7dc749f3478f.png)

[2017-08-16 17:14] mindreeper2420 commented on #540
@joshuawilson this is most likely caused by the pipeline section being a fixed width and static assets and the modal is fluid by nature. It was never intended for screens taller than they are wide, so all of those pieces should be taken into account when the wizard is refreshed.

[2017-08-16 17:20] rafabene opened #593 "Che "Download outputs" creates a file with "null" content"
When Che 286 is starting, and you click in the link "Download outputs", it creates a file with a string "null".

![screenshot 2017-08-16 13 18 56](https://user-images.githubusercontent.com/30131/29376147-9ddff528-8285-11e7-8717-6e385819e741.png)

[2017-08-16 17:32] rafabene opened #594 "Second Che workspace is not starting"
When I try to start a second instance of Che 286, I get the following message and then it asks to restart.

![screenshot 2017-08-16 13 30 42](https://user-images.githubusercontent.com/30131/29376641-3a5d15e2-8287-11e7-82f1-65bf7630e2bf.png)

After clicking on the restart button I get the following message:

![screenshot 2017-08-16 13 32 24](https://user-images.githubusercontent.com/30131/29376682-

[2017-08-16 18:50] gastaldi commented on #501
Same failure here, and when I try again I get:

[code]

[2017-08-16 18:54] SaketJNU commented on #438
I don't why are we using this; but the fact is "libio_latest_version" from graph is being used as a latest version recommendation, which is responsible to reflect the above mentioned the latest version mismatch.
Attaching two files containg data in graph [1] http://pastebin.test.redhat.com/506334  [2] http://pastebin.test.redhat.com/506335 ; Both has latest_version values, but in UI latest_version

[2017-08-16 18:58] ibuziuk commented on #501
@aslakknutsen @kbsingh could this be related to endpoint issue - https://bugzilla.redhat.com/show_bug.cgi?id=1481603

Just speculation but it looks like wsmaster can not ping wsagent. I can not repro it right now, but those who can could run:

` oc get endpoints <WORKSPACE_POD_NAME> `

maybe endpoints for wsagent is simply not availbale similar to che-host one just after unidling [1]

[1] https://

[2017-08-16 19:03] gastaldi commented on #501
This is the output in the devmachine tab:

[code]

[2017-08-16 19:05] ibuziuk commented on #501
@gastaldi che server pod logs would be more informative

[2017-08-16 19:16] gastaldi commented on #501
This is the log:
[code]

[2017-08-16 19:50] ldimaggi opened #595 "Intermittent and recurring issue - Jenkins and Che fail to start within 10 minutes after a tenant update"
Update - August 18

Steps to recreate:
* Clean a user account
* Update the tenant
* Observe the Che and Jenkins pods in the OSO web console
* I am seeing pods fails to deploy about 30% of the time - logs are not generated

-------------------------------------------------------------------
Original problem description:

Seeing this about 20-25% of the time today:

Steps to recreate:
* Create a new

[2017-08-16 20:47] aslakknutsen commented on #141
All namespaces are now locked down. Closing.

[2017-08-16 20:47] #141 closed

[2017-08-16 22:32] jstrachan commented on #487
Is this now fixed? Could have been the same issue that broke Delete too?

[2017-08-16 23:28] aslakknutsen commented on #487
@jstrachan It's possible. I think I only checked DELETE. But I'm guessing PUT would be 405 on a 'static webroot' in nginx as well.

[2017-08-17 03:15] burrsutter opened #596 "Awakened Workspaces loses ssh keys for git push"
Start a Workspace
Wait an hour+ for it to idle
Refresh its browser tab once, maybe three times
I wakes and connects
Change code then git commit and attempt git push (via the dialog box)

and you are likely to see this error

<img width="419" alt="screenshot 2017-08-16 23 12 31" src="https://user-images.githubusercontent.com/378310/29394514-b732941a-82d8-11e7-9b80-22306a750388.png">

[2017-08-17 03:22] ldimaggi opened #597 "Intermittent issue - Creating a new Che workspace fails - "no route to host""
Just started seeing this with Che 1.0.288:

2017-08-17 03:16:37,136[nio-8080-exec-3]  [ERROR] [c.r.c.k.s.KeycloakUserChecker 74]    - Exception while calling the user auth endpoint:
  | java.net.NoRouteToHostException: No route to host (Host unreachable)

[code]

[2017-08-17 03:27] burrsutter opened #598 "Create Workspace against an idled Che Host"
If your Che Host is idled and you login and click Create Workspace (no workspace had previously been created), it will awake the Che Host BUT no workspace is actually created.

You get a number of errors in the browser console like:

[code]

[2017-08-17 03:28] burrsutter commented on #598
Che : 1.0.288

[2017-08-17 03:29] amisevsk commented on #597
@ldimaggi I'm assuming this log is coming from a workspace pod?

Are you able to run `echo $CHE_API` in the pod? Also `curl $CHE_API/keycloak/settings`?

[2017-08-17 03:38] burrsutter commented on #596
Workaround is to click Create Workspace again, but then your project may fail to import.  The workaround for that is to manually import the project from github.

[2017-08-17 03:38] burrsutter commented on #596
Che : 1.0.288

[2017-08-17 03:49] ldimaggi opened #599 "Creating a new workspace - when successful - browser window with workspace is not opened"
After creating a new workspace, Chrome is no longer opening the new workspace window. See screencast:

https://drive.google.com/a/redhat.com/file/d/0B1s-ZoxD8FjUTEpqdmFWT0lUQWs/view?usp=sharing

[2017-08-17 04:47] miteshvp commented on #438
@SaketJNU - this is for stack-analyses and not `v2`

[2017-08-17 05:38] jyasveer opened #600 "Stack reports modal does not display the build number."
<img width="1440" alt="screen shot 2017-08-17 at 10 24 56 am" src="https://user-images.githubusercontent.com/5430080/29397521-6b60771e-833c-11e7-9657-558f1dbabbbe.png">

[2017-08-17 05:44] arunkumars08 commented on #600
@jyasveer It is a known issue. The reason is because the PR in runtime console is still to be merged. https://github.com/fabric8-ui/fabric8-runtime-console/pull/548 Once that is merged, you will not see this.

[2017-08-17 06:31] eivantsov commented on #501
@ibuziuk there are several scenarios possible:

1. Workspace agent never starts. I did have this one before. In this case, when running `ps ax | grep java` in a workspace pod, I got nothing. So, for whatever reason, ws agent Tomcat never starts, although the agent scripts gets executed.

2. Workspace agent starts, but for some reason workspace master cannot reach it, for example because endpoint i

[2017-08-17 07:03] samuzzal-choudhury commented on #568
@GeorgeActon not really.
@ldimaggi,  The pipeline dropdown will not populate if Bayesian call fails during a build. It will be helpful to check the build log for that pipeline run to validate the status of the Bayesian call. As you know, many OSIO users had run into the error 503 time and again (https://github.com/openshiftio/openshift.io/issues/545) which prevented a successful recommender API ca

[2017-08-17 07:04] jstrachan commented on #487
its working fine for me in prod - I guess its fixed. Gonna close this - we can reopen if it can be reproduced

[2017-08-17 07:04] #487 closed

[2017-08-17 07:05] jstrachan commented on #595
did the forge wizard complete successfully?  does `oc get project -n ${ID}` find it?

[2017-08-17 07:08] jstrachan commented on #592
could you double check the webhooks at https://github.com/burrsutter/vertx-wiki2/settings/hooks and check that there is only 1 webhook. If there are more than one what are the URLs it triggers?

We fixed an issue yesterday so that importing / creating a project removes all the old webbooks for the URL before it creates a new one so there should not be any duplicates.

If thats not the issue - atta

[2017-08-17 07:12] jstrachan commented on #580
Environments have logical names (Test, Stage, Run) that map to physical namespaces. The UI is designed so that users don't need to know or care too much what the physical namespaces are.

The users main namespace `${ID}` is used for the `Test` environment; then `${ID}-stage` for `Stage` and `${ID}-run` for `Run`.

If you click the `Test` link it'll take you to the associated project in the OpenShi

[2017-08-17 07:12] #580 closed

[2017-08-17 07:20] jstrachan commented on #530
the UI currently lets you pick from organisations you are a member of; however it doesn't have a way currently of knowing if you have write access to the repo you pick. A stack trace might help; am guessing its failing to commit/push changes?

I guess the forge back end could query permissions in github and if there's no write access create a PR instead

[2017-08-17 07:23] jstrachan commented on #530
@corinnekrych fancy experimenting with this one? We may want to modify the git push code https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/git/GitCommitAndPushStep.java#L64 to for github check if a user has write access and if not do a commit and create a PR instead (then store the PR details in the results so that we can display the PR links to th

[2017-08-17 07:27] samuzzal-choudhury commented on #438
@msrb You will be able to find the latest version in the file `/maven/io.vertx:vertx-core/3.4.2.json` of S3 bucket `prod-bayesian-core-data`.

[2017-08-17 07:47] jpopelka commented on #576
[How do I clean-up all apps and pipelines in my OpenShift Online](https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-clean-up-all-apps-and-pipelines-in-my-openshift-online) followed by [How do I update my tenant ?](https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-update-my-tenant-) helped, closing. Thanks.

[2017-08-17 07:47] #576 closed

[2017-08-17 08:22] jstrachan commented on #508
yeah, this is a known issue - hoping to have a fix soon

[2017-08-17 08:39] rhopp opened #601 "I'm unable to remove codebase from space"
I've added second codebase to my space by clicking plus button on codebases card:
![image](https://user-images.githubusercontent.com/1215011/29403209-f263f5f6-8337-11e7-842c-6cf25af64372.png)

This didn't create pipeline (as the blue button "Add to space"->"Import existing code" should) so I wanted to remove the codebase and add it again using the "Add to space" button. Unfortunately I cannot find

[2017-08-17 09:32] slemeur commented on #551
+1 with the proposal.

I got trapped with that issue too.

[2017-08-17 09:53] slemeur opened #602 "Not receiving email notifications from planner"
Following the workshop, I created a work item and assigned it to myself. I'm supposed to receive an email notification.

After 1 hour, I still not have received the email notification.

[2017-08-17 09:56] rhopp commented on #599
It seems that you have blocked popups. See Burr's workshop document, section "Create Tab - Codebases - to Create a Che Workspace"
<img width="367" alt="image47" src="https://user-images.githubusercontent.com/1215011/29406964-01a23590-8343-11e7-9907-e368a8a398ff.png">
<img width="232" alt="image49" src="https://user-images.githubusercontent.com/1215011/29406981-0e65b4a0-8343-11e7-8c2e-43db95ae3b0b.

[2017-08-17 10:06] corinnekrych commented on #530
@jstrachan I think there are different ways of getting this error.
Here is the flow how I get it:
1. start import wizard
2. select default organisation (ie: corinnekrych), next
3. all repositories from all organisations are disaplayed (other 600 for me)
this is wrong:
expected: only the repo that belongs to corinnekrych should be displayed
4. select `3musket33rs.github.com` that belongs to `3muske

[2017-08-17 10:39] jstrachan commented on #530
@corinnekrych ah thanks - I thought we'd fixed that `only show repos for the selected org` bug a while back - I guess its back

[2017-08-17 12:22] aslakknutsen commented on #602
@slemeur I can see there are currently 7 email notifications attempted sent to you. Most are currently in state "deferred".

Most of them seem to be in a graylist process:
    451 4.7.1 Greylisting in action, please come back in 00:03:14"

First message sent at GMT: Thursday, August 17, 2017 9:23:44 AM
with sent status at GMT: Thursday, August 17, 2017 12:07:26 PM

Last message attempted sent at G

[2017-08-17 12:28] aslakknutsen commented on #602
Note: When this task (https://github.com/fabric8-services/fabric8-notification/issues/21) gets resolved sometime during the day you won't be able to receive notifications on your own actions. Under the assumption that you are awake when you do them ;)

[2017-08-17 12:28] ldimaggi commented on #599
Closing - user error.   ;-)

[2017-08-17 12:28] #599 closed

[2017-08-17 12:29] catrobson commented on #582
@ldimaggi thanks for pointing out your confusion.  We're the the middle of redesigning this page, so let's just factor this into the redesign.  Redesign happening here:  https://github.com/fabric8-ui/fabric8-ux/issues/599#issuecomment-323048674

Would you be OK with closing this issue since I'm putting some information into that design effort about this?

[2017-08-17 12:37] ldimaggi commented on #582
Yup! Just close it now - thx!

[2017-08-17 12:46] slemeur commented on #602
I now have received all the notifications. I'll close that issue, but why there is so much delay?

[2017-08-17 13:02] slemeur opened #603 "Che's editor is almost unusable - missing edits, automatically moving cursor to top"
The Che's editor is behaving in a way which is making it challenging to use.

I'm experiencing issues while reproducing the workshop doc instructions:
**1- After few edits, the editor's cursor is moving to the top of the file**
![editor-move-to-top](https://user-images.githubusercontent.com/1636769/29413546-066b7766-835d-11e7-88ee-aa3ae796d528.gif)

**2- Some edits are lost**
![editor-remove-chang

[2017-08-17 13:30] ldimaggi commented on #595
Yes - the OSO projects are created:
[code]

[2017-08-17 13:31] slemeur commented on #603
linking to upstream issues:
https://github.com/eclipse/che/issues/6028
https://github.com/eclipse/che/issues/6027

[2017-08-17 13:34] ldimaggi commented on #597
No values found/returned:

![screenshot from 2017-08-17 09-33-20](https://user-images.githubusercontent.com/642621/29414902-3d3499f4-832f-11e7-9ba6-4599a4b53a3f.png)

[2017-08-17 13:45] ldimaggi commented on #597
Note that this problem was seen repeatedly on August 16 - I am not seeing it on August 17.

All tests were performed only after "cleaning" the user account in OSO - and performing a tenant update.

[2017-08-17 14:00] ldimaggi opened #604 "Intermittent issue - "Build #0" is seen - but the first build is build #1"
See attached screenshots - the steps to cause this issue to occur (seen 2 times on August 16):
* Clean user OSO account
* Create new space, new quickstart project
* Observe Build #0 on space dashboard page:

![screenshot from 2017-08-16 23-15-54](https://user-images.githubusercontent.com/642621/29415983-bad80f82-8332-11e7-89cf-632464dfa390.png)

* Navigate to pipeline page - observe that it is now

[2017-08-17 14:01] aslakknutsen commented on #602
I think there is a general delay primarily because we haven't proven to the world we're not spammers yet.. :)

[2017-08-17 14:31] slemeur commented on #602
ok :) ! Thanks

[2017-08-17 14:31] #602 closed

[2017-08-17 15:03] michaelkleinhenz commented on #336
Note: removed "only one active iteration" and "force-deactivate" due to technical considerations. These req's will be added back in a later story.

[2017-08-17 15:16] #582 closed

[2017-08-17 15:24] joshuawilson commented on #604
When I run it, I see build#0 for a second on the dashboard. Once the build pipeline starts it updates to Build#1.

[2017-08-17 16:22] ldimaggi commented on #595
Finally found a pattern to explain this.

I am seeing this problem both running manually and automated tests. The automated tests update the tenant, and then wait for the Jenkins and Che status icons to go green, before the test is run.

What seems to be happening is that the Jenkins pods are stopping and restarting randomly.  I noticed this by cleaning the user account, updating the tenant, and t

[2017-08-17 16:49] slemeur opened #605 "Che: Opening a terminal tab must take the focus"
When the user is creating a new terminal tab or clicking to open an existing, the focus is not given into the terminal, which force the user to click one more time to be able to start typing.

**Reproduction Steps:**
1- Open the Processes panel
2- Click on default terminal provided
--> Focus is not given into the terminal
3- Click into the terminal
--> Focus is given into the terminal and user can

[2017-08-17 16:49] slemeur commented on #605
upstream issue: https://github.com/eclipse/che/issues/6034

[2017-08-17 16:57] ldimaggi commented on #595
![screenshot from 2017-08-17 12-56-17](https://user-images.githubusercontent.com/642621/29423896-87bb0672-834b-11e7-8edd-031c54374a3c.png)

![screenshot from 2017-08-17 12-56-04](https://user-images.githubusercontent.com/642621/29423897-87bf03c6-834b-11e7-86bb-345d7c19b185.png)

![screenshot from 2017-08-17 12-55-48](https://user-images.githubusercontent.com/642621/29423898-87c10c3e-834b-11e7-8b41

[2017-08-17 18:04] ldimaggi commented on #595
Seeing this > 75% of the time on August 17.

[2017-08-17 18:05] ldimaggi commented on #595
To recreate problem:
* Clean the user's OSO account
* Update tenant
* Watch/observe the Jenkins* pods

[2017-08-17 19:32] jcperezamin opened #606 "OCP 3.5 - Jenkins Persistent - "Jenkin's doesn't have label maven...""
Running a Jenkinsfile with a Jenkins Persistent using Openshift + Maven + Latest RedHat/Centos release image is stuck on "Jenkin's doesn't have label maven...". but running on Jenkins Ephemeral is working out.

Are there some limitations in using Jenkins Persistent inside Openshift with Maven?

[2017-08-17 19:59] samuzzal-choudhury commented on #545
@kbsingh the core API service is working without any failure throughout as we have tested by invoking the recommender API endpoint immediately after we had encountered 503 during the build.

@rawlingsj's text on the openshiftio-saas channel conformed that behaviour https://chat.openshift.io/developers/pl/ohdf4ftzupda8b89ueqbmqt5or. During the occurrence of this error, API server did not print any

[2017-08-17 20:02] samuzzal-choudhury commented on #545
@GeorgeActon I don't see anything to be done from the fabric8 analytics application point of view because error 503 is not being thrown by the application server. Rather, it was on a position to handle requests even when Jenkins plugin reported error 503.

[2017-08-17 20:50] ldimaggi opened #607 "Intermittent issue - Pipelines are disappearing - CacheLoader returned null for key"
See the attached Jenkins pod log and references screencast. I have been seeing this randomly for a few days.

What is happening is that:

* Pipelines are disappearing from the pipeline display page while the pipelines are running. It is possible to see the pipeline for a fraction of a second if the user toggles between the pipelie and codebase pahe - as is seen in the referenced screencast. I'm as

[2017-08-17 20:54] ldimaggi commented on #607
Screencast:
https://drive.google.com/a/redhat.com/file/d/0B1s-ZoxD8FjUUW9TM1FybVh2aVk/view?usp=sharing

[2017-08-17 23:36] aslakknutsen commented on #558
@burrsutter Not seen this after the DNS proxy fix correct?

[2017-08-18 01:09] joshuawilson commented on #606
Is this for the application that get generated or for OSIO and it run? Can you please provide some context?

[2017-08-18 01:32] joshuawilson commented on #595
@ldimaggi can you confirm this is blocking the EE tests from passing?

[2017-08-18 01:34] joshuawilson commented on #501
@ldimaggi can you confirm this is blocking the EE tests from passing?

[2017-08-18 01:35] joshuawilson commented on #597
@ldimaggi are the tests failing on this? or is it fixed?

[2017-08-18 05:02] arunkumars08 opened #608 "Recommendation messages are getting truncated even though there is enough space"
<img width="1423" alt="screen shot 2017-08-18 at 10 30 04 am" src="https://user-images.githubusercontent.com/7880465/29444837-723e83e0-8400-11e7-897a-2906d56a7320.png">

[2017-08-18 05:32] jcperezamin commented on #606
You can reproduce the error using this example of jenkinsfile https://github.com/OpenShiftDemos/openshift-cd-demo/tree/ocp-3.5

Only change is it would be running in a persistent jenkins not epheremal

[2017-08-18 06:20] sanbornsen commented on #359
I can take this up for UI side having a dependency on a core issue - https://github.com/fabric8-services/fabric8-wit/issues/1582

[2017-08-18 06:53] joshuawilson commented on #606
@jstrachan @rawlingsj @kbsingh this sounds like one for you.

[2017-08-18 08:04] tisnik commented on #608
I can see the same problem in FF:
Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:51.0) Gecko/20100101 Firefox/51.0

Current resolution is 1640 x 1000, ie. there's enough space in FF

[2017-08-18 09:01] rawlingsj commented on #606
@jcperezamin are you running this on OpenShift.io or OpenShift.com?   OpenShift.io comes with a persistent Jenkins OOTB and is running in `$YOUR_USERNAME_jenkins` namespace.  This also means the quota's you have available to you can be used to run your applications rather than build infra.

[2017-08-18 09:30] jcperezamin commented on #606
I am using Openshift 3.5 company cluster setup in AWS.

[2017-08-18 09:52] rawlingsj commented on #606
OK so this issue tracker is for the hosted service OpenShift.io so you'll want to raise this (with a bit more info like error messages / logs etc) on either that repo that you linked to https://github.com/openshiftio/openshift.io/issues/606#issuecomment-323263552 or seek support through your Red Hat subscription alternatively if this is Origin then you could try an issue on their issue tracker htt

[2017-08-18 09:52] #606 closed

[2017-08-18 10:07] pranavgore09 commented on #325
Modifications in API endpoint-
GET Workitems API should include `parent` relationship for the only immediate parent if it exists.
And `included` section must have that parent object details.

[2017-08-18 10:13] krishnapaparaju opened #609 "[8](5) Performance tests for end to end consumption of user facing API"
So far, there been performance tests done at individual components. End to end performance testing of the user API would need be instrumental in scaling the resources (which resources , how much to scale upto) as needed and calculate associated cost involved at infra. level

Acceptance Criteria:

- [x] SLA, throughput for Component analysis API / requests (for known component)
- [x] SLA, throughpu

[2017-08-18 10:18] krishnapaparaju opened #610 "Improve, Validate recommendations for OSIO Quickstart applications"
Verify recommendations for these quickstart applications, part of OSIO work flow and the workshops being conducted.

https://docs.google.com/spreadsheets/d/1_-BZu_0hMyIhfG5ElTM0VmZZuOjgKrZ1SJr6PS9il1s/

[2017-08-18 10:22] krishnapaparaju opened #611 "Improve and Validate recommendations for Python ecosystem"
### Description
End-user should be able to see improved recommendations for the **Python** ecosystem for identified Supported Github Stacks

#### Acceptance Criteria
- Automated Tagging is implemented for Springboot ecosystem
- Target Recommendations of **70% accuracy**
- Recommendations will fit into the [definition](https://docs.google.com/document/d/1VM5JLrM1DCd-hKdB2RAXrarT4sZhtliXV1wRgYLi7Tg/

[2017-08-18 10:23] krishnapaparaju commented on #610
Changed the label for the milestone

[2017-08-18 10:24] krishnapaparaju commented on #611
Changed the label for the milestone

[2017-08-18 10:25] krishnapaparaju opened #612 "Migrate all the deployment units onto public CI/CD"
Currently all the OSIO analytics related deployments done thru CentralCI, would need to migrated to CentOS pipelines.

**fabric8-analytics-pgbouncer**
- [x] CI scripts checked in into the fabric8-analytics-pgbouncer repository
- [x] jobs for fabric8-analytics-pgbouncer created in CentOS CI
- [x] webhooks set for fabric8-analytics-pgbouncer

**fabric8-analytics-jobs**
- [x] CI scripts checked in in

[2017-08-18 10:29] krishnapaparaju opened #613 "Application components tagging: Migrate from manual tagging to tagging based on algorithm"
Currently packages are manually tagged to attach meaning / category for an application component to indicate the purpose of an application component which is foundation to determine intents across a group of application components.

This milestone covers:
  (a) Tags generated by algorithm fed intent based alogithms
  (b) process / algorithm needs to be in place to verify the accuracy of each tag b

[2017-08-18 10:47] krishnapaparaju opened #614 "[8]Enable External users to consume a specific OSIO service"
Currently users get registered at openshift.io and get approved to start using OSIO services.
This approval would let these users consume any of the OSIO services (Planner, Che, Analytics).

To enable more users to start consuming analytics API / validate the recommendations being generated by OSIO Analytics,  the ask is to expose Analytics API (only) for external users (IDE Marketplace users: VSC

[2017-08-18 10:57] ldimaggi commented on #597
Closing as not reproducible.

[2017-08-18 10:57] GeorgeActon commented on #614
@krishnapaparaju do not assing theese to me. If you want to bring them to my attention just put a comment in it.

[2017-08-18 10:57] ldimaggi commented on #595
Yes - this causes the tests to frequently fail.

[2017-08-18 11:12] aslakknutsen commented on #595
@ldimaggi Do you have the Jenkins logs or Events log when this happen?

[2017-08-18 11:36] ldimaggi commented on #595
It seems to happen randomly. The logs are lost as the failed pods are deleted/recreated.

[2017-08-18 11:36] ldimaggi commented on #595
Will try to grab part of a log - or screenshot it.

[2017-08-18 12:03] slemeur commented on #605
Duplicated by #202

[2017-08-18 12:03] #605 closed

[2017-08-18 13:20] jyasveer commented on #608
this issue is fixed here https://github.com/fabric8-ui/fabric8-recommender/pull/269

[2017-08-18 14:25] benoitf commented on #203
@burrsutter could you confirm it's fixed ?

[2017-08-18 14:26] benoitf commented on #217
this issue should be closed as downstream issue has been closed : https://github.com/redhat-developer/rh-che/issues/104

[2017-08-18 14:27] benoitf commented on #454
https://github.com/redhat-developer/rh-che/issues/238 is closed so this issue should be closed as well ?

[2017-08-18 14:30] slemeur commented on #525
I have the same issue as well recorded a video for it.

![project-type](https://user-images.githubusercontent.com/1636769/29463088-b8fd9c40-8431-11e7-9c3c-4718ca2f6668.gif)

[2017-08-18 14:37] ldimaggi opened #616 "Intermittent issue - Codespace name, commit date/time not displayed on codespace page"
Just noticed this after creating new project  - any logs were lost as the test subsequently cleaned the account - will attach logs when possible.

![screen shot 2017-08-18 at 10 14 06 am](https://user-images.githubusercontent.com/642621/29463039-42338b4c-83ff-11e7-92f8-333998a56d9d.png)

![screen shot 2017-08-18 at 10 14 31 am](https://user-images.githubusercontent.com/642621/29463038-423142b0-83f

[2017-08-18 14:38] ibuziuk commented on #525
@eivantsov could this be related to https://github.com/eclipse/che/issues/5970?

[2017-08-18 14:42] ldimaggi opened #617 "Intermittent issue - Status icon for Che or Jenkins *sometimes* goes missing"
Seeing this now and then.

![screenshot from 2017-08-18 10-40-15](https://user-images.githubusercontent.com/642621/29463763-bf7502fa-8401-11e7-8c81-56ae0a38b013.png)

[2017-08-18 14:44] ldimaggi commented on #501
Yes - the EE test creates a workspace and then attempts to verify that the workspace was created.

[2017-08-18 14:54] ibuziuk commented on #501
@ldimaggi in terms of issue description - is it really around 50% now? I was not able to reproduce this problem in the last few days.

[2017-08-18 15:19] ldimaggi commented on #517
Closing - I think that this issue is the root cause:
https://github.com/openshiftio/openshift.io/issues/595

[2017-08-18 15:19] #517 closed

[2017-08-18 15:19] ldimaggi commented on #547
Closing - I think that this issue is the root cause:
https://github.com/openshiftio/openshift.io/issues/595

[2017-08-18 15:19] #547 closed

[2017-08-18 15:20] ldimaggi commented on #595
Related to:
https://github.com/openshiftio/openshift.io/issues/547
https://github.com/openshiftio/openshift.io/issues/517

[2017-08-18 15:33] rafabene commented on #592
I checked the following repos:
- https://github.com/rafabene/vertx-paint/settings/hooks
but it created two builds.

![screenshot 2017-08-18 11 32 17](https://user-images.githubusercontent.com/30131/29465924-ef162eb0-8408-11e7-8d3e-83f91326d17e.png)

The repo https://github.com/rafabene/vertx-paint/settings/hooks has also a single webhook but also created two builds

![screenshot 2017-08-18 11 33 4

[2017-08-18 15:56] ldimaggi opened #618 "Intermittent issue - Che workspace window fails to open"
Will added logs if this can be recreated - seeing this issue multiple times today.

After creating a new project, attempting to create a codebase fails - no error is returned to the user.

[2017-08-18 16:39] bmicklea opened #619 "Usernames with underscore can't be provisioned properly"
It was discovered during our first early access workshop that OSIO usernames that include an underscore ("_") character foul the provisioning of the tenant. Underscores are hard to avoid because today the username is generated by stripping "." and "@" from email addresses.

We need a way to either handle underscores or generate the username via some other method.

### Impact
We have 4 users who ar

[2017-08-18 16:39] bmicklea commented on #619
@aslakknutsen has done some work on this already connected to https://github.com/openshiftio/openshift.io/issues/283

[2017-08-18 18:28] joshuawilson commented on #454
@bmicklea can you confirm?

[2017-08-18 18:30] joshuawilson commented on #217
@burrsutter can you verify?

[2017-08-18 19:19] eivantsov commented on #525
Yeah, I think at this point we don't have AST. Once the problem with resolving project deps is resolved, this one disappears as well.

[2017-08-18 19:22] maxandersen commented on #619
In a perfect world it would be nice if the vanity name used in openshift.io urls i.e. `openshift.io/maxandersen` would be what we could use as base for all default naming of "things" such as namespace, urls etc.

Unfortunately reality is slightly more complicated:

a) we have users (especially old users) in RHD that has invalid characters like `@` and `_` in their user account - and due to legacy

[2017-08-18 20:04] aslakknutsen commented on #619
That sounds correct. There is also the added 'bonus' option of changing the username in OSiO which then would be != OSO/RHD username.

showTenant is available in prod via GET /api/user/services data.attribute.namespaces[]{type:che, name:xxx, ++}

[2017-08-19 02:18] #608 closed

[2017-08-19 02:20] #563 closed

[2017-08-19 02:32] jyasveer commented on #528
@ldimaggi There was a issue here. If pipelines were not ready or in progress, it would show a blank widget. Now this is fixed now. Please find the screenshot below
<img width="1440" alt="screen shot 2017-08-19 at 8 01 09 am" src="https://user-images.githubusercontent.com/5430080/29482722-a2b6aa20-84b4-11e7-913e-61223940e581.png">

Can I close this issue now ?

[2017-08-19 02:35] jyasveer commented on #600
This is fixed now. Thanks @arunkumars08

[2017-08-19 02:35] #600 closed

[2017-08-19 02:35] jyasveer commented on #583
This is fixed now. I am closing this.

[2017-08-19 02:35] #583 closed

[2017-08-19 02:42] jyasveer commented on #584
@rafabene Can you please confirm and close this issue ? Thanks

[2017-08-19 02:52] jyasveer commented on #568
@GeorgeActon @samuzzal-choudhury i checked this on my side. everything works fine now. If the pipelines are not annotated with with bayesian. Currently if we don't any annotated pipelines for bayesian we show a message that there are no results.
@ldimaggi Can you please confirm and close this ?

[2017-08-19 07:54] samuzzal-choudhury commented on #276
@luebken @GeorgeActon this has been fixed. The new response is similar to -

[code]
with an HTTP status code 404 (Not Found).

I am closing this issue. Please feel free to reopen if you see otherwise.

[2017-08-19 07:54] #276 closed

[2017-08-20 04:30] ldimaggi opened #620 "Che/Jenkins pods failing to start - SchedulerPredicates failed due to PersistentVolumeClaim is not bound"
Seeing these errors - cannot start the Che or Jenkins pods:

Example event:
SchedulerPredicates failed due to PersistentVolumeClaim is not bound: "che-data-volume", which is unexpected. (repeated 103 times)

![screenshot from 2017-08-20 00-28-29](https://user-images.githubusercontent.com/642621/29492099-c13910e8-853e-11e7-83cf-6fd222a58a77.png)

![screenshot from 2017-08-20 00-27-31](https://user-

[2017-08-20 06:12] rawlingsj commented on #620
The error in the screenshot is..

Failed to provision volume with storage class "ebs". RequestLimitExceeded: Request limit exceeded. Status code 503 request id:

[2017-08-20 17:33] burrsutter opened #621 "Che: Spring Boot Commands"
Spring Boot Commands, "build" should be
scl enable rh-maven33 'mvn install -f ${current.project.path}'
and there should be a "clean build" which is
scl enable rh-maven33 'mvn clean install -f ${current.project.path}'

The former is specifically to allow for Spring DevTools hot redeploy.  The end-user still needs to Save (unless auto-save is enabled) and then run this Build command in order for his

[2017-08-21 01:55] ldimaggi commented on #620
Whatever the problem is/was - it seems to be OK now.

[2017-08-21 01:55] #620 closed

[2017-08-21 01:58] ldimaggi commented on #597
It's back - seeing this error again on August 20.

[code]

[2017-08-21 04:19] krishnapaparaju opened #622 "[User Story] Improve and Validate recommendations for SpringBoot ecosystem"
### Description
End-user should be able to see improved recommendations for the **SpringBoot** ecosystem for identified Supported Github Stacks

#### Acceptance Criteria
- Automated Tagging is implemented for Springboot ecosystem
- Target Recommendations of **70% accuracy**
- Recommendations will fit into the [definition](https://docs.google.com/document/d/1VM5JLrM1DCd-hKdB2RAXrarT4sZhtliXV1wRgYLi

[2017-08-21 04:21] krishnapaparaju commented on #622
@GeorgeActon please take a look, will be adding more details to firm up this Epic

[2017-08-21 04:22] krishnapaparaju opened #623 "[User Story] Improve and Validate recommendations for VertX ecosystem"
### Description
End-user should be able to see improved recommendations for the **Vertx** ecosystem for identified Supported Github Stacks

#### Acceptance Criteria
- Automated Tagging is implemented for Springboot ecosystem
- Target Recommendations of **70% accuracy**
- Recommendations will fit into the [definition](https://docs.google.com/document/d/1VM5JLrM1DCd-hKdB2RAXrarT4sZhtliXV1wRgYLi7Tg/e

[2017-08-21 04:23] krishnapaparaju commented on #623
@GeorgeActon  please take a look at this Epic. Will add more details to add more details for this Epic

[2017-08-21 04:51] krishnapaparaju opened #624 "[3] Slow rendering of Stack Analysis Page at VSCode extension"
1) After receiving response from Analytics API, there is quite a lag before the complete page (HTML) is rendered.

2) Traversing thru multiple tabs of VSCode does take a long time to render the Stack analysis report when the tab for 'Stack analysis report' is highlighted.

@GeorgeActon, please take a look at this bug.

[2017-08-21 05:08] invincibleJai commented on #624
@arunkumars08 FYI , i guess it's due to load time. will caching be of any help , at least second point it should be able to handle.

[2017-08-21 06:11] arunkumars08 commented on #624
@invincibleJai Yes. I guess it could be.
There are a few pointer to note.
Once you hit the GET url for seeing the View,

1. The view actually has to make a call to the API server to get the data. As our whole view depends on data, it has a lag to load.

We can think of some preloading view to let the user know something is happening. It is some kind of initial paint to browser.

And regarding cach

[2017-08-21 06:14] invincibleJai commented on #624
@arunkumars08 got it , let's try preloading view once.

[2017-08-21 06:19] maxandersen opened #625 "the cleanup screen is nice but ambigious"
![cleanup_-_openshift_io](https://user-images.githubusercontent.com/54129/29505801-a9169d54-8648-11e7-806d-2eb538f1d11d.png)

The text says "the following ... will be removed ..." and the first thing that is listed is your account causing at least for me a to rethink a few times if I wanted to click "Erase" - I only did as I could guess from code what it would do.

I suggest to list the spaces fir

[2017-08-21 08:11] vpavlin opened #626 "Add to Space visible/clickable when not logged in"
When not logged in into OSIO, you can veiw your space (expected), but the button *Add to Space* is still there and clickable, but it throws errors when you try to use it. Would be better if users could not see it at all if they are not authorized to add to space.

![screenshot from 2017-08-21 10-09-22](https://user-images.githubusercontent.com/4759808/29509533-e5e3ee02-8658-11e7-942d-d15de1187e76.

[2017-08-21 08:26] rhopp opened #627 "Cleanup failed with "Response with status: 0 for URL: null""
Today, I tried the new "Clean tenant" button, but it failed with ""Response with status: 0 for URL: null"":
![image](https://user-images.githubusercontent.com/1215011/29510140-09aef74e-865b-11e7-8bb3-97812f8c40ae.png)

I looked into openshift console and it seemed clean (nothing in rhopp-che, nothing in rhopp-jenkins).

[2017-08-21 08:34] rhopp commented on #627
Doing "Clean tenant" again, no error showed up.

[2017-08-21 08:48] samuzzal-choudhury commented on #545
Closing this issue as this issue does not occur any more. We will reopen this if required.

[2017-08-21 08:48] #545 closed

[2017-08-21 08:53] aslakknutsen commented on #627
Can't find any errors in the backend. Clean and all related calls seems to return 200 OK.

[2017-08-21 10:42] krishnapaparaju opened #628 "[3]Support multiple manifest files across all the integration points"
Currently Analytics platform support projects with multiple manifest files (eg: multiple POM files for Maven ecosystem).

Support for multiple manifest files is now available for OSIO workflow and needs to be extend this to other integration points like IDEs:  (a) DevStudio/Eclipse (b)  VSCode Extension.

@GeorgeActon  please take a look at this...

##### Sub Tasks
- [x] Add multiple manifest file

[2017-08-21 14:05] ldimaggi opened #629 "Infinite scrolling appears to be present, but is not working for viewing spaces"
See attached screenshot - when the user has a large number of spaces, performing 'view all spaces' does not return all spaces - and the user cannot scroll to view all spaces:

![screenshot from 2017-08-21 09-17-31](https://user-images.githubusercontent.com/642621/29522738-3efe50c8-8658-11e7-9424-cec929cf97ed.png)

[2017-08-21 14:17] jpopelka commented on #439
I'm seeing this after pressing 'Finish' button:

![screenshot from 2017-08-21 16-05-40_](https://user-images.githubusercontent.com/288686/29523027-ce3f8bde-868b-11e7-8a3c-08d59c504be3.png)

Neither `Update profile` -> `Clean tenant` nor `gofabric8 tenant delete` helped.

[2017-08-21 14:29] benoitf commented on #496
For speeding up codenvy factories, for example the .m2 cache is stored inside the docker image.

For example we could store all maven vert.x dependencies in the vert.x docker image.

[2017-08-21 15:15] ldimaggi opened #630 "User cleanup has a limit on the number of spaces it can delete at one time"
It looks like the new "clean tenant" has a limit of being able to delete 50-60 spaces at a time. Can the clean tenant feature be changed to delete ALL of tenant's spaces? Thx!

[2017-08-21 15:38] ldimaggi opened #631 ""View all Spaces" fails to display more spaces after spaces are deleted"
Steps to recreate:
* Create 20+ new spaces
* Navigate to "View all Spaces"
* Delete the spaces
* Navigate to "View all Spaces"
* Observe that spaces are not displayed
* Navigate to "Account Home"
* Navigate to "View all Spaces"
* Observe that spaces are displayed

[2017-08-21 15:39] ldimaggi commented on #631
Screencast:
https://drive.google.com/a/redhat.com/file/d/0B1s-ZoxD8FjUbnNwX3ZlLUZuM1k/view?usp=sharing

[2017-08-21 17:47] joshuawilson commented on #625
@catrobson Can you take a look at this please.
cc @dgutride

[2017-08-21 18:01] joshuawilson commented on #627
@rhopp can you look at your console logs when you try it again. Post any errors you find there.

[2017-08-21 18:07] joshuawilson commented on #630
@aslakknutsen is there a limitation on the api?
cc @dgutride

[2017-08-21 18:09] joshuawilson commented on #631
This has to do with how we are calling the list of spaces. It is not infinite scroll as far as I know.

[2017-08-21 18:13] ldimaggi commented on #631
The scroll bar implies, well, scrolling. Can we remove the scroll bar?

[2017-08-21 18:55] ldimaggi commented on #528
Closing - fix confirmed. Thx!

[2017-08-21 18:55] #528 closed

[2017-08-21 18:56] ldimaggi commented on #568
Closing - fix verified.

[2017-08-21 18:56] #568 closed

[2017-08-21 19:03] catrobson commented on #625
@maxandersen We'll be removing the circles that make it look like you can select them, there was a UX feedback on review of the Visual Design to remove these for that reason but we were also implementing at the same time.  :) . Small oversight, Dana is working on it now.

"Account tenant services" will make no sense to a user that isn't familiar with OpenShift.  The goal of the product is that use

[2017-08-21 19:03] ldimaggi opened #632 "SEVERE level error ("Unexpected error when retrieving changeset") consistently seen in jenkins pod log when creating new project - seems to not affect project creation"
This error is logged when a new project is successfully created - there doesn't seem to be any functional impact - but - is this pointing to a functional problem? Thx!

[code]

[2017-08-21 19:04] ldimaggi commented on #632
[jenkins_pod_log.txt](https://github.com/openshiftio/openshift.io/files/1239857/jenkins_pod_log.txt)

[2017-08-21 22:31] joshuawilson commented on #631
We are redesigning the whole page and moving it. That is covered under https://github.com/openshiftio/openshift.io/issues/477

[2017-08-22 07:36] rhopp commented on #592
I just encountered this one importing https://github.com/rhopp/vertx-wiki2 (one webhook), but two builds spun up.
I've imported this project multiple times in past few days, but this is first time this happened.

[2017-08-22 08:16] benoitf commented on #621
It's fixed

[2017-08-22 08:28] maxandersen commented on #595
I was mentioned yesterday on platform call that status of jenkins/che was hard to get reliably - is this the issue here ?   and is this happening because it is an automatic test where things goes normally faster than if a human goes through the steps ?

[2017-08-22 09:01] tuhinsharma opened #634 "Improve GNOSIS Reference Architecture"
- [ ] Include multiple layers in Gnosis reference architecture

- [ ] Use a less minimum support count which give us significantly large number of itemsets.
The intention is to capture 3-itemsets and greater than 3-itemsets. We call 2-itemsets and greater than 2-itemsets as intents.

- [ ] Constraint the number of parents for each nodes above the “topic/keywords” nodes.

[2017-08-22 09:05] tuhinsharma opened #635 "Improve the Generation of Kronos Dependency Graph"
Modify the logic for computing alternate packages. (Frido shared an idea https://docs.google.com/document/d/1vtJlUSovs63N2w314XNbefW8XOA3UNOb4ZRU3hfwzfk/edit?usp=sharing )

[2017-08-22 09:06] SaketJNU opened #636 "Run tagger to collect tags for OSIO example stacks"
OSIO start-up example has five stacks with 13 packages belonging to springboot and vert.x and README file is available on S3 (assumed). Run tagger to collect tags for these 13 packages. It requires:
- [x]  Check whether S3 bucket has required README files.
- [x] run tagger to collect tags.
- [x] update the S3 buckets with collected tags.

[2017-08-22 09:09] tuhinsharma opened #637 "Improve Co-occurrence Matrix Generation"
Sparkify the code for speed up. Use Spark Dataframe to boost the computation.
Current implementation : We are using pandas dataframe and updating row by row which is inefficient.

[2017-08-22 09:29] tuhinsharma opened #638 "Improve PGM (the Probabilistic Graph Model)"
- [ ] Include the concept of anchor packages.
- [ ] Train the model for significantly large number of github manifest files.

[2017-08-22 09:31] tuhinsharma opened #639 "Create a Framework for Automated Evaluation of Recommendations"
Evaluate recommendations for Companion packages, Outlier packages, Alternate packages for 100 manifest files (for each ecosystems) automatically whenever a new Implementation or PR is merged.

Tasks:
-  [X]  Rest Endpoint to call the accuracy evaluation class (calls PGM scoring internally)
-  [X]  Record the precision

[2017-08-22 12:07] harjinder-hari opened #640 "License Analysis: Implement outliers based on licenses"
Identify the license based outlier i.e. the set of components whose licenses were responsible for making the overall stack license very restrictive even when these components are less in number as compared to other less restrictive components.

For example, consider the stack of components { C1, C2, C3 } with licenses { L1, L2, L3 } respectively. Now, let us say L1 and L2 are less-restrictive lice

[2017-08-22 12:08] harjinder-hari commented on #640
- [ ] Add support for license synonyms i.e. the set of terms that mean same license.
- [ ] Provide details about unknown licenses, conflict licenses in the output of license analysis.
- [ ] Implement outliers based on licenses.

[2017-08-22 12:19] ldimaggi commented on #595
The issue that I am seeing is that Jenkins/Che seem to fail to start reliably - are you seeing the pods started in the OSO web console, but that status is not being reflected in the OSIO UI?

[2017-08-22 12:33] slemeur commented on #603
The two upstream issues have been fixed, but there is still some edits that are lost.
To reproduce, try to input when the autosave event is fired (=when the blue star is just removed from the file's tab).

[2017-08-22 13:39] rafabene commented on #584
I confirm that it's working. Thanks

[2017-08-22 13:39] #584 closed

[2017-08-22 13:42] ldimaggi commented on #595
The problem that I am seeing - sometimes - is not a matter of a status not being reported correctly - the problem that I am seeing is that after an account is cleaned - the Jenkins and/or Che pod simply fails to start.

[2017-08-22 14:20] corinnekrych commented on #500
@burrsutter this should be fixed. could you confirm and close the issue.

[2017-08-22 14:41] ldimaggi opened #641 "Seen when creating Che workspace in OSIO - WARNING: A connection to https://kubernetes.default.svc/ was leaked"
Seeing these warnings consistently in the Che pod log while creating a new Che workspace, in an OSIO space where the user has (1) existing/running Che workspace.

There doesn't seem to be a functional impact - is this a problem?

[code]

[2017-08-22 15:09] joshuawilson commented on #621
@burrsutter can we close this?

[2017-08-22 15:11] joshuawilson commented on #634
@sara-02 Usually a User Story is the context for an Enhancement. This should not have both labels. Please pick one.

[2017-08-22 15:18] joshuawilson commented on #635
@sara-02 the labels user-story and enhancement should not be used at the same time.

[2017-08-22 15:34] ldimaggi opened #642 "Seeing random instances of Analytic Recommendations not being displayed in OSIO space dashboard - but recommendations are included in detailed report"
Steps to recreate - this has been seen only once today:
* Create new space
* Create new quickstart project - Vert.X basic
* At completion of pipeline build, observe no recommendations:

![screenshot 7](https://user-images.githubusercontent.com/642621/29573484-185d1582-872d-11e7-9250-96b4879e38d4.png)

In contrast, creating another project from the same quickstart did generate the recommendations:

[2017-08-22 15:35] ldimaggi commented on #642
Is there a log that can be viewed to debug this issue? Thx!

[2017-08-22 21:21] rafabene opened #643 "[RFE] Generate a Swagger.yaml for each quickstart"
Each quickstart could have its own swagger.yaml file that could be consumed for tools that wants to consume REST endpoints

[2017-08-23 07:24] maxandersen opened #644 "mail notification should have area as part of mail text and as a mail header"
I currently get ~50-80 mails from notifiy.openshift.io and it is tedius to process as the area is not rendered anywhere nor is it part of headers to actually be filtered/grouped by good email clients.

Suggestion:

Have a label in the body of the mail with the area listed and link to it:

**Area**: [Planner](https://openshift.io/openshiftio/openshiftio/plan?area=Planner)

AND

Have a mail header l

[2017-08-23 07:26] SaketJNU opened #645 "Stop Sentiment-Scoring Services during stack-analysis V2"
We are not showing the sentiment-analysis on UI, but it is running internally during stack-analysis and consuming resources and time during processing.  Can we stop this service ?

[2017-08-23 07:27] maxandersen opened #646 "mail notifications for the same workitem should be in the same thread"
currently every mail from notify.openshift.io is a unique mail thread.

Mails should have `In-Reply-To` and `References` set to an initial stable message-id (i.e. `In-Reply-To: 42@https://openshift.io/openshiftio/openshifito/workitem/42`).

This would allow use of threading, mark-thread-as-read and mute thread.

[2017-08-23 09:57] l0rd commented on #598
@ibuziuk can you confirm that's a duplicate of #579?

[2017-08-23 10:43] ibuziuk commented on #598
@l0rd might be more related to https://github.com/fabric8-ui/fabric8-ui/issues/1825
In general the whole unidling UX should be changed

[2017-08-23 10:59] ibuziuk commented on #525
Che 294 should contain fixes for https://github.com/eclipse/che/issues/5970

[2017-08-23 13:16] aslakknutsen commented on #644
@mindreeper2420 Something for you ! :)

[2017-08-23 13:49] #92 closed

[2017-08-23 14:32] rafabene opened #647 "The preview "stage application" in pipeline disappeared."
There was a link as you can see in the "Rollout to stage" pipeline as you can see in the following picture

![screenshot 2017-08-23 10 30 58](https://user-images.githubusercontent.com/30131/29621257-352940d4-87ee-11e7-94cd-1a3db9043fe5.png)

But it doesn't show any more.

![screenshot 2017-08-23 10 27 39](https://user-images.githubusercontent.com/30131/29621294-52f261a4-87ee-11e7-827a-80b52430a82d

[2017-08-23 14:41] rawlingsj commented on #647
Are there any errors in the browser javascript console?  Also is the app still running in the stage environment?

[2017-08-23 14:57] GeorgeActon commented on #642
@samuzzal-choudhury Can you poit Len in the right direction

[2017-08-23 17:53] ibuziuk commented on #579
Fixes for endpoint delay is now available on prod. However, the whole unidling UX will be changed as part of https://github.com/fabric8-ui/fabric8-ui/issues/1825

[2017-08-23 18:13] ibuziuk commented on #525
@rhopp could you please verify on osio against 294 ?

[2017-08-23 18:18] ibuziuk commented on #516
@slemeur is it still reproducible against 1.0.294 ?

[2017-08-23 22:07] maxandersen opened #648 "Remove the blockers for getting boosters/quickstarts testable on openshift.io"
- [ ] [Use/fix arquillian Kube in boosters](https://github.com/openshiftio/booster-common/issues/8)
- [ ] [Stop using parent pom in boosters/quickstarts](https://github.com/openshiftio/appdev-planning/issues/10)

[2017-08-23 22:09] maxandersen opened #649 "Have openshift.io relevant docs in boosters"
Current boosters has a generated readme file that does not mention anything about openshift.io, che, etc.
Should find a way to handle that better.

- [  ] [Better readme in booster](https://github.com/openshiftio/launchpad-addon/issues/46)

[2017-08-23 22:12] maxandersen opened #650 "Make filtering of boosters that work/don't work on openshift.io more managable"
currently we are doing hacks to filter the list of boosters available on openshift.io

Lets work with launch team to get it handled better.

- [ ] [Add filters into catalog/repos](https://github.com/openshiftio/launchpad-addon/issues/48)

[2017-08-23 22:32] maxandersen commented on #244
its a must for increasing user bandwidth thus putting on early access list for visibility.

[2017-08-24 01:27] mishaone opened #651 "Error: Unable to erase space"
I'm using the "Reset Environment" option to clear out my account but one space consistently cannot be erased. See screenshot for error. I'm not sure if there is something we're supposed to do (maybe in OSO to "free" the resources) before using the reset environment option, but this would be good to document if it's a feature, not a bug.
![unable_to_erase](https://user-images.githubusercontent.com/

[2017-08-24 02:35] joshuawilson commented on #651
@aslakknutsen @dgutride any ideas?

[2017-08-24 03:11] #646 closed

[2017-08-24 05:47] sdash-redhat commented on #362
Listing some of UX Questions:
Please elaborate - "Each entry has meaningful attribute views that identifies the Work Item represented by the entry. This is not changed from the current implementation."

What are the attributes that can be showed for each entry ? Do we have the list of attributes available for an entry?

As the implementation will be actually a list ..can we show column lines (usin

[2017-08-24 05:53] sdash-redhat commented on #329
Listing some of UX Questions:

Is there a predefined list of labels ?
Does the user can also choose from a list of labels..
Can a label be part of filter criteria?
Please elaborate "n the board view, the labels are displayed as part of the shown entry attributes." -- what attributes typically expected to be shown in card ?

[2017-08-24 05:58] sdash-redhat commented on #325
Question from UX:
Should we distinguish visually the parent from the node?

[2017-08-24 06:23] jyasveer commented on #642
@ldimaggi @GeorgeActon @samuzzal-choudhury  this is a known issue we are facing in the Analytics dashboard widget. There is no error anywhere. Just that the dashboard does not auto refreshes(there is a issue). If we refresh the page we do get to see the recommendations that are available. There is also a bug raised that needs to be fixed https://github.com/fabric8-ui/fabric8-ui/issues/1898

[2017-08-24 09:04] l0rd commented on #598
@ibuziuk I agree that this is related to https://github.com/fabric8-ui/fabric8-ui/issues/1825. But it looks like the problem described here will be solved as soon as #579 will be solved.

https://github.com/fabric8-ui/fabric8-ui/issues/1825 will provide a way better UX and fix the workspace creation problem when another workpace is starting (and by the way I hope that it will be implemented soon b

[2017-08-24 09:06] l0rd commented on #618
When you say "Fails to open" do you mean that the new tab opens but the IDE doesn't shows up? Or clicking the "Create workspace" button doesn't do anything at all?

That may be related to https://github.com/fabric8-ui/fabric8-ui/issues/1825 or #579

@eivantsov do you have any idea?

[2017-08-24 09:17] l0rd commented on #595
@ldimaggi I'm adding the label `area/che` to keep it under our radar even if I've never noticed that for Che (but I haven't done as much tenant deployment as you do for sure).

By the way Che and Jenkins have distinct OpenShift deployments. Can you confirm that failures happen for Che too?

[2017-08-24 09:56] l0rd commented on #501
@ldimaggi can you please provide the following information when you hit this problem:
- Was it a fresh install (i.e. no workspaces created) or did you already created a Che workspace
- Complete logs for che server and che wsagent (c.f. [instruction to get Che logs](https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-retrieve-che-logs))
- OpenShift events (`ID=<your osio id> && oc project

[2017-08-24 10:01] l0rd commented on #597
@ldimaggi it looks like Che could not reach keycloak server. Maybe that was because keycloak was down at that point?

[2017-08-24 10:14] SaketJNU commented on #645
The mentioned issue for the removal of sentiment-score workflow may have following benefits.
   1. It will reduce the stack-analysis response time by half (approximately).
   2. It will reduce the image size also.
   3. It will reduce nearly  20 env. variables.

Got green signal from @srikrishna for removal, and open the PR:
a. https://github.com/fabric8-analytics/fabric8-analytics-server/pull/128

[2017-08-24 10:45] SaketJNU commented on #645
Opened one PR:  https://github.com/fabric8-analytics/fabric8-analytics-common/pull/240

[2017-08-24 10:47] ibuziuk commented on #598
@dlabrecq is working on the improving unidling UX and as I understand PR is almost ready (re-design to display a status for Che starting from UX team, which should be provided soon, is the only blocking thingy AFAIK)

In terms of this issue. The description is pretty vague and only js stack trace provided. There is no evidence that it is coupled with unidling process actually (maybe the same probl

[2017-08-24 11:38] michaelkleinhenz commented on #329
TODO: discuss if the lable title should be unique. Might be needed for filtering (having multiple equal titles in the value list is odd).

[2017-08-24 11:45] michaelkleinhenz commented on #334
TODO: we should discuss the format of the rendered link, like does it need to contain the type of external system ("GitHub") or the whole unique inf (org, project)?

[2017-08-24 11:48] debloper commented on #334
This should provide some context on which all cases to cover: https://help.github.com/articles/autolinked-references-and-urls/

One advantage that GitHub has is that it doesn't require any identifier to mark it for GitHub itself, but for our case we will need an identifier to tag it for the site we're linking issues to (considering GitHub isn't going to be the only linkable external issue site).

[2017-08-24 12:27] ldimaggi commented on #595
Yes - I am seeing problems with both Che and Jenkins. In the past couple of days, Che seems to have more problems than Jenkins in starting reliably after a cleanup/update.

[2017-08-24 12:51] dlabrecq commented on #598
The codebases page is being reworked a bit, but the latest changes may not resolve this particular issue? That is, unless we prevent the user from clicking on the "Create workspace" link -- we may be doing that, anyway.

I'm curious what happens if you try creating a workspace, again, after Che has started? If you still cannot create a workspace, then something else is wrong with the environment.

[2017-08-24 13:13] kbsingh opened #652 "stale / dead WkSp's still hold quota for tenant's che allocation"
With stale wksp, when a user aims to create a new workspace they are unable to do so since the stale deployments are still holding onto the resources allocated from the quota. Is it possible to auto-clear out these stale pieces when bringing up a new workspace ?

cc @vpavlin

[2017-08-24 13:20] vpavlin commented on #652
I clicked "Create Workspace", got che opened, but workspace creation failed. I checked OSO and saw 2 workspace DCs, with no pods running

[code]
I looked into workspace deployment which was trying to start and saw

[code]
But quotas tab seemed ok:

![screenshot from 2017-08-24 15-01-56](https://user-images.githubusercontent.com/4759808/29668181-8abf18ba-88df-11e7-92ee-90dbb8bda2a4.png)

Deleting e

[2017-08-24 13:31] kameshsampath opened #653 "Error while Importing Projects"
When I try to import project from my github account into openshift.io, I get the error as shown in the wizard

Ref screen shot: https://www.dropbox.com/s/1uyxiwycr8ngaou/Screenshot%202017-08-24%2009.23.06.png?dl=0

[2017-08-24 13:46] kameshsampath opened #654 "Unable to setup Authorization after initial setup"
Following the steps below

1. Login to openshift.io,
2. Setup github authorization
3. (optional) create space and import project
4. Get back to Github and revoke permissions to openshift.io
5. Comeback to the OpenShift.io screen,
6. Do try import again, the application is not asking for re-authorization.

There no  currently to setup re-authorization again

[2017-08-24 13:50] ldimaggi opened #655 "After failed build, seeing large number of repeated printf statements in Jenkins log"
Scenario:
* User, with a clean account, creates a new space and attempts to create quickstart
* The build fails - see log below
* The user restarts the build pipeline, the build is successful

The Jenkins pod log contains a large number of instances of this set of messages:
[code]
What is the meaning/impact of these statements?

[2017-08-24 13:51] ldimaggi commented on #655
Failed build log:

[code]

[2017-08-24 13:51] ldimaggi commented on #655
Jenkins pod log attached:

[jenkins_pod_log.txt](https://github.com/openshiftio/openshift.io/files/1249018/jenkins_pod_log.txt)

[2017-08-24 13:57] dgutride commented on #651
@joshuawilson  - nothing on the front end should prevent this - maybe @aslakknutsen could see if there is something happening on the backend?

[2017-08-24 14:25] xcoulon opened #656 "'Update Profile' page is not scrollable - 'Reset Environment' button is invisible"
Using Chrome in Incognito mode during internal workshop: the `Update Profile` page did not allow for vertical scrolling, which means that I could not see the `Rest Environment` button until I expanded the browser window on a larger screen.

[2017-08-24 14:29] alexeykazakov commented on #654
Here are two issues which cover this:
https://github.com/fabric8-services/fabric8-auth/issues/73
https://github.com/fabric8-services/fabric8-auth/issues/38

[2017-08-24 14:52] odockal opened #657 "Jenkins pipeline progress is not propagated into openshift.io"
I was pushing some commits in che intho github that start pipeline build process. But the fact that jenkins pipeline is running and build of each phases was done (until production build that requires promoting) was not reflected into openshift.io - myspace - pipelines dashboard. Build #3 is the one.

![openshift-io-pipelines](https://user-images.githubusercontent.com/19164299/29672358-4a8ab562-88e

[2017-08-24 15:26] rafabene commented on #647
Closing as I was never saw it happening again.

[2017-08-24 15:30] rafabene commented on #525
I've tried it today and I was never able to reproduce it. Can we close this?

[2017-08-24 15:33] msrb commented on #438
This is going to be fixed by switching to new `stack-analyses` version 2 endpoint. The endpoint takes data from a different source, so this issue will disappear. The new endpoint should be deployed to production in upcoming days. Thanks @samuzzal-choudhury 😉

[2017-08-24 15:45] DonSchenck commented on #647
![metoo](https://user-images.githubusercontent.com/5067110/29674979-c03017a6-88c1-11e7-861f-57541aed5a02.JPG)
Happened to me as well.

[2017-08-24 15:56] #525 closed

[2017-08-24 15:57] ibuziuk commented on #525
294 contains fixes for eclipse/che#5970. Closing

[2017-08-24 16:31] kwk opened #658 "Remove background gradient in space dashboard"
I'm not a UI expert but I feel that color or saturation gradients most of the time disrupt your focus and draw the attention away. For example, on the space dashboard, there seems to be a very huge gradient in the background, going from a darker shade in the top left to lighter shade in the bottom right corner:

![screenshot from 2017-08-24 18-22-32](https://user-images.githubusercontent.com/19340

[2017-08-24 16:31] samuzzal-choudhury opened #659 "Failures on stage: HTTP code 500 Internal Server Error is returned for the stack analysis results"
_From @tisnik on August 2, 2017 15:10_

The test case with the "standard" requirements.txt sometimes fails with the 500 Internal Server Error. The probability of failure is approximately 4/10 analysis.

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#108_

[2017-08-24 16:37] samuzzal-choudhury opened #660 "Stack analysis failure on stage when the === clause is used to specify component version"
_From @tisnik on August 1, 2017 14:58_

```click===6.7```

Log messages:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#104_

[2017-08-24 17:16] kwk opened #661 "Consistency in visual cues: content is key, simple is king!"
**A word of warning: This is a collective critique on the UI/UX design and not meant to be taken personally by anybody.**

I'm not an expert but to me this visual design doesn't look good:

![screenshot from 2017-08-24 18-44-34](https://user-images.githubusercontent.com/193408/29677798-8d7fa214-88fc-11e7-98da-3ef6c3166861.png)

It is not the Board view in particular. It is simply the fact he we se

[2017-08-24 17:35] ldimaggi commented on #661
Very detailed description Konrad!

One point that I'd like to add - and I'm not sure if this is already being addressed, is our use of screen "real estate." The OSIO UI can be confining if you work on a laptop. I'd recommend that we keep this in mind for future UI changes. Thx!

[2017-08-24 20:42] fche commented on #595
Have the OSD/OSO ops people tried to reconfigure elasticsearch or whatnot in order to avoid immediately losing logs of dead pods?

[2017-08-24 21:25] joshuawilson commented on #655
@jstrachan @rawlingsj any ideas?

[2017-08-24 22:03] joshuawilson commented on #656
@mindreeper2420 can you add this to your list

[2017-08-24 22:07] mindreeper2420 commented on #656
I'm unable to reproduce the non-scrolling effect. On a 788x465 screen, I can scroll, as seen below:
![screen shot 2017-08-24 at 6 05 17 pm](https://user-images.githubusercontent.com/4032718/29690901-e943d198-88f6-11e7-986d-0519e4918945.png)

@xcoulon what version of Chrome are you using and on what OS? My screenshot was taken with Version 60.0.3112.101 (Official Build) (64-bit) running macOS 10.12

[2017-08-24 22:10] joshuawilson commented on #525
@ibuziuk is 294?

[2017-08-24 22:12] joshuawilson commented on #658
cc @catrobson

[2017-08-24 22:17] joshuawilson commented on #658
@kwk I just checked and it is a solid #D1D1D1 grey from corner to corner. Maybe it is your monitor.

[2017-08-24 22:24] joshuawilson commented on #661
cc @catrobson

[2017-08-25 07:35] xcoulon commented on #656
@mindreeper2420 I was running Version 60.0.3112.101 (Official Build) (64-bit) on macOS 10.11.6 but I can't reproduce it today, neither on normal mode, nor on 'incognito' mode. Sorry about that.
I'll close the issue for now and will reopen if I can reproduce it again.

[2017-08-25 07:35] #656 closed

[2017-08-25 08:51] rawlingsj commented on #293
@vpavlin  I think this has been done now?

[2017-08-25 08:54] rawlingsj commented on #441
I had two PRs merged https://github.com/snowdrop/spring-boot-http-booster/pull/56 https://github.com/openshiftio-vertx-boosters/vertx-http-booster/pull/15 and as far as I'm aware we're waiting for new tags to be created by the runtime teams so we can update our booster catalogue https://github.com/openshiftio/booster-catalog/tree/osio

[2017-08-25 09:01] rawlingsj commented on #471
There's a PR waiting to be merged https://github.com/fabric8io/fabric8-maven-plugin/pull/1025 which once released will mean all our tenant apps + boosters will have a default revision history limit on DCs which means old RCs won't be kept around.

[2017-08-25 12:17] jstrachan opened #662 "provide a canonical URL to a users profile pages"
it'd be nice to be able to link to users profile pages. e.g. from the wiki in docs on how to `Update Tenant` it'd be nice to link to the update profile page.

e.g.  we could use a canonical link like this: http://openshift.io/_profile/_update which would redirect to https://openshift.io/james_strachan/_update (for me)

we've also got a user case in CD; when we generate PRs against team/che/jenkins

[2017-08-25 12:19] jstrachan commented on #662
cc @joshuawilson @dgutride

[2017-08-25 12:28] corinnekrych opened #663 "Automated acceptance tests on app wizard (focused wizard flows)"
# Description
As a developer, I want to to make sure bug fixes done on app wizard won't break neither the import flow not the quickstart flow.

# Acceptance Criteria
- [ ] Each PR on f8-ui wizard should trigger the tests.
- [ ] Each PR on f8-generator should trigger the tests.
- [ ] Based on [e2e test on import](https://github.com/fabric8io/fabric8-test/blob/master/ee_tests/src/tests/work-item/wor

[2017-08-25 12:35] corinnekrych commented on #663
@ldimaggi @joshuawilson here is an epic for the e2e test we could do next sprint. @ldimaggi feel free to add more content so we can plan this one for sprint 136.

[2017-08-25 12:59] corinnekrych opened #664 "Automated API tests for Forge Wizard"
# Description
As a developer, I want to test the Forge API for the [Fabric8 addon](https://github.com/fabric8io/fabric8-generator/).

# Acceptance Criteria
- [x] Test Import repository flow step1 GithubImportPickOrganisationStep / [GithubImportPickRepositoriesStep](https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/github/GithubImportPickOrganisatio

[2017-08-25 13:02] corinnekrych commented on #664
@rgarg1 maybe you can help on that one. @ldimaggi have just pointed me to https://github.com/fabric8io/fabric8-test/tree/master/EE_API_automation/pyresttest

[2017-08-25 13:16] catrobson commented on #658
@kwk yup, there is no gradient on this page.  We're also looking at the shade of gray we use for backgrounds on our pages overall which might help the perception problem that could have occurred here if it isn't your monitor ;).  https://github.com/fabric8-ui/fabric8-ux/issues/625

Closing this issue.

[2017-08-25 13:16] #658 closed

[2017-08-25 13:27] catrobson commented on #661
@kwk Thanks for the input.  There are a lot of things that have happened along the way that led to this problem as you pointed out in the beginning.  The planner team is working on the overarching visual design now to help clean this up.  We're also looking at the overall design of OSIO at large, and working with our visual design team on some updates to our visual design system in general.  I wil

[2017-08-25 15:24] joshuawilson commented on #662
Good idea, @dgutride can you take care of this?

[2017-08-25 15:27] joshuawilson commented on #663
I think this would be called an "acceptance" test, not sure though.
Thanks for adding this @corinnekrych

[2017-08-25 15:29] corinnekrych commented on #663
@joshuawilson ok renamed :)

[2017-08-25 15:33] joshuawilson commented on #661
@catrobson I think we can leave it in the backlog and then close it when the visuals are updated. This would allow anyone else that sees something to see that it has been listed here or add to this.

[2017-08-25 15:41] l0rd commented on #657
@joshuawilson I've removed `area/che` label since it doesn't seem to be related.

[2017-08-25 15:47] joshuawilson commented on #657
@odockal can you please clarify. Is this issue because you started in Che? Or is it not related?

[2017-08-25 15:50] l0rd commented on #641
The upstream issue for that https://github.com/eclipse/che/issues/5902

[2017-08-25 15:51] l0rd commented on #652
Related to OpenShift upstream issue https://bugzilla.redhat.com/show_bug.cgi?id=1482337

[2017-08-25 15:53] l0rd commented on #621
Closing it. @burrsutter feel free to reopen if you still have problems with spring boot commands.

[2017-08-25 15:53] #621 closed

[2017-08-25 15:58] l0rd commented on #598
@ibuziuk makes sense. Let's wait https://github.com/fabric8-ui/fabric8-ui/issues/1825

[2017-08-25 16:19] l0rd commented on #596
That should be fixed when multi-tenant Che is implemented eclipse/che#5943 but for now the workaround is to fix https://github.com/redhat-developer/rh-che/issues/297

[2017-08-25 16:25] l0rd commented on #594
Hello @rafabene can you provide the steps to reproduce this? It will help us investigating.

[2017-08-25 16:28] l0rd commented on #572
"Red cross" problems should have been solved. @ldimaggi can you confirm?

[2017-08-25 16:32] l0rd commented on #570
"Red cross" problems should have been solved. @ldimaggi can you confirm?

[2017-08-25 16:36] l0rd commented on #531
I've created https://github.com/redhat-developer/rh-che/issues/298 to plan to investigate that for next sprint

[2017-08-25 16:41] l0rd commented on #524
Opened issue https://github.com/redhat-developer/rh-che/issues/299 to address that in next sprint

[2017-08-25 16:44] l0rd commented on #503
@eivantsov are you aware of any issue of this kind?

[2017-08-25 16:46] l0rd commented on #502
@eivantsov do the close button works fine on Docker? Do you think is an OpenShift connector specific issue?

[2017-08-25 16:54] l0rd commented on #500
Removing `area/che` because more related to wizard/forge than Che

[2017-08-25 16:56] l0rd commented on #499
@jstrachan does https://github.com/fabric8io/fabric8-generator/issues/41 fix this as well?

[2017-08-25 17:19] l0rd commented on #454
Debug commands for both vertx and spring-boot stacks are available on OSIO. I'm closing this issue @bmicklea feel free to reopen.

[2017-08-25 17:19] #454 closed

[2017-08-25 17:21] l0rd commented on #446
@ibuziuk how hard would it be to implement that on che-starter?

[2017-08-25 17:32] l0rd commented on #514
Removing `area/che` label because it's codebase related

[2017-08-25 17:32] l0rd commented on #425
Removing label `area/che` because related to the codebase
Related to https://github.com/openshiftio/openshift.io/issues/514

[2017-08-25 17:34] l0rd commented on #386
@burrsutter I am closing this issue since haven't seen this since a long time (and I'm not using icognito). Feel free to re-open

[2017-08-25 17:34] #386 closed

[2017-08-25 17:35] joshuawilson commented on #514
I added the area/che label because the issue is the integration point between codebases and che. Do you disagree?

[2017-08-25 17:44] l0rd commented on #309
@debianmaster  the preview url for spring-boot run command has been fixed. Can we close that issue?

[2017-08-25 17:44] l0rd commented on #203
Closing this issue since it has been fixed and available on OSIO

[2017-08-25 17:44] #203 closed

[2017-08-25 17:45] jstrachan commented on #499
I hope so! ;)

[2017-08-25 18:21] l0rd commented on #501
@ldimaggi I've set severity to P1. If you are still reproducing it can you please provide us the steps to do that.

[2017-08-25 18:44] #499 closed

[2017-08-25 18:50] ldimaggi commented on #501
OK - I will update when I can recreate the error. Thx!

On Fri, Aug 25, 2017 at 2:21 PM, Mario Loriedo <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-08-25 18:59] l0rd commented on #514
I'm restoring `area/che` label and removing `team/che`

[2017-08-25 23:20] ibuziuk commented on #446
@l0rd codebase name is not passed to che-starter from wit, so it is not possible to implement without updating wit and changing API contract. What can be done easily it the following:
- project name + branch + workspace name `spring-boot-demo-master-nomjqa2c`

[2017-08-25 23:51] aslakknutsen commented on #524
@l0rd this issue is for the Wizard and is fixed: fabric8io/fabric8-generator#32

@rafabene Can you verify?

[2017-08-26 01:52] ldimaggi commented on #595
From Mattermost thread:

CHANNEL: openshiftio-saas
aslak - 21:12 UTC, August 25

@ldimaggi The errors I see, that might be what you refer to is EBS Mount/sync issues that last for about 20min but it eventually come up

[2017-08-26 01:56] ldimaggi commented on #595
This problem also seems to be happening more and more frequently in the past few days.

[2017-08-26 03:11] ldimaggi opened #665 "Intermittent issue - Status icons do not represent actual Jenkins/Che state"
Seeing this now and then - it'a affecting automated EE tests as the tests rely on the icons to determine when a tenant update is complete and successful:

![screenshot from 2017-08-25 23-06-15](https://user-images.githubusercontent.com/642621/29738189-c2fb66be-89ea-11e7-8909-b0ce0654ced4.png)

![screenshot from 2017-08-25 23-06-35](https://user-images.githubusercontent.com/642621/29738190-c597f7ac

[2017-08-26 03:15] ldimaggi commented on #665
Seeing this frequently today. Very frequently.

[2017-08-26 03:20] ldimaggi commented on #595
![screenshot from 2017-08-25 23-19-51](https://user-images.githubusercontent.com/642621/29738237-03250d52-89ec-11e7-96a3-25f8738db1f5.png)

[2017-08-26 08:49] l0rd commented on #524
@aslakknutsen ok thanks. Note that I was able to reproduce it during thursday workshop (2 days ago). But only the first initial commit had the question mark. The commits done via Che didn't had the issue. This confirm that it's a wizard only issue.

[2017-08-26 08:55] l0rd commented on #446
@bmicklea would @ibuziuk proposal be ok?

[2017-08-26 11:51] ldimaggi commented on #595
It looks like Jenkins is failing to update the status icon - Che seems to be OK.

[2017-08-26 13:06] ldimaggi commented on #665
Actually- this seems to be happening all the time today - only for the Jenkins status icon.

[2017-08-26 13:26] VeerMuchandi commented on #665
I have the same exact issue

[2017-08-26 13:44] aslakknutsen commented on #524
@l0rd @rafabene Ah, the updated generator-backend is not in prod yet.

[2017-08-26 14:53] joshuawilson commented on #665
cc @kbsingh @jstrachan @rawlingsj

[2017-08-26 18:12] rawlingsj commented on #665
This really isn't much to go on. If the status says Jenkins isn't green  I would guess that Jenkins isn't running. With things like this it's best to include any information from the namespace in this case Jenkins. Check if pods are running, if not try checking the deployment config and RC events and attach them to the issue.

I wonder if we should create a 'gofabric8 diagnose osio' command to gen

[2017-08-26 18:32] kbsingh commented on #665
Have you guys looked at tge zabbix dashboard, @jrawlings all the version and pod info you are looking for is included there.

-1 for creating more per user workarounds for service side  problems.

[2017-08-26 18:39] rawlingsj commented on #665
@kbsingh I've not said I'm looking for version and pod info.  Are all the deployment config and replication controller events captured there?

[2017-08-26 19:08] rawlingsj commented on #665
a `gofabric8 diagnose osio` would also..

- Help users provide better info when raising issues.  This issue for example contains no info to help diagnose the problem which means helpers are slower to react.
- Easier triaging of issue.  If more info is provided upfront then it is easier to label + recognise duplicates etc.
- Beneficial for advanced users that don't have access to our centralised lo

[2017-08-26 19:35] kbsingh commented on #665
Yes, events stream is captured at this point for the entire namespace,  but at 30 min intervals so its not realtime yet.

[2017-08-26 20:17] ldimaggi commented on #665
The original description in this issue shows 2 simultaneous screenshots - one shows the Jenkins icon off in the OSIO UI, the other shows Jenkins pods running in the OSO web console.

[2017-08-26 20:17] ldimaggi commented on #665
The original description in this issue shows 2  simultaneous screenshots - one shows the Jenkins icon off in the OSIO  UI, the other shows Jenkins pods running in the OSO web console.

[2017-08-27 03:30] ldimaggi opened #666 "Che pod can require ~10+ minutes to start after user resets environment in OSIO"
To recreate:
* Clean/reset user account
* Observe Che pod events log - Error attaching EBS volume errors are logged

As are syncing errors and errors related to volume mounting:

Unable to mount volumes for pod "che-1-deploy_ldimaggi-osiotest1-che(cb6a1abe-8795-11e7-a062-0233cba325d9)": timeout expired waiting for volumes to attach/mount for pod "ldimaggi-osiotest1-che"/"che-1-deploy". list of una

[2017-08-27 03:41] ldimaggi commented on #666
[Che Events.pdf](https://github.com/openshiftio/openshift.io/files/1254125/Che.Events.pdf)

[2017-08-27 03:41] ldimaggi commented on #666
This error was seen all day on August 26 - it seems to have cleared up at about 23:00 Boston time - did something change?

[2017-08-27 03:43] ldimaggi commented on #666
Related to:
* https://github.com/openshiftio/openshift.io/issues/665
* https://github.com/openshiftio/openshift.io/issues/595

[2017-08-27 05:10] joshuawilson commented on #666
cc @kbsingh @jstrachan @aslakknutsen @rawlingsj

[2017-08-27 06:33] jstrachan commented on #665
When tests fail we need them to diagnose why and report accurate error messages so we can more easily respond to issues in a timely fashion. So the gofabric8 CLI sounds a good idea to me - as something the tests run on failure - not something we need to show to end users.

If we find accounts get into a funny state we need to fix that ASAP; if it's common outside of the tests we could internally u

[2017-08-27 11:27] aslakknutsen commented on #665
This seems to be the reason why it doesn't show up:
https://github.com/fabric8-ui/fabric8-ui/pull/1921

A problem on _all_ accounts that have a newer v of tenants.

[2017-08-27 15:00] eivantsov commented on #618
@l0rd i have got the same question to @ldimaggi - how exactly it does not work. Screenshots and server logs will help of course.

[2017-08-27 15:06] eivantsov commented on #503
@l0rd it looks like the file was opened twice somehow. This is a similar issue in Che and I have reopened it https://github.com/eclipse/che/issues/4952

[2017-08-27 15:29] eivantsov commented on #502
@l0rd close button causes workspace to stop and snapshot is created (if snapshotting is configured).

@rgarg1 How did you workspace restart? I've just tried killing ws agent in a running workspace and swa the same behavior - workspace was stopped.

[2017-08-27 16:56] #665 closed

[2017-08-27 17:03] ldimaggi commented on #618
Cannot recreate - probably was a problem with Che not running. Closing this issue - thx!

[2017-08-27 17:09] #618 closed

[2017-08-27 17:16] aslakknutsen commented on #666
@joshuawilson @kbsingh Has ops on it to diagnose.

[2017-08-27 17:19] ldimaggi opened #667 "If Che pod is down, and user attempts to create codespace, no error is reported to user"
Related to: https://github.com/openshiftio/openshift.io/issues/618

If Che is down, the user's attempt to create a Che codepsace will fail, but no error will be reported to the user through the OSIO UI. The chrome console log reports:

[code]

[2017-08-27 18:32] ldimaggi commented on #665
This problem seems to still be there"

![screenshot from 2017-08-27 14-31-59](https://user-images.githubusercontent.com/642621/29752905-9c25c584-8b34-11e7-9cb9-30734078c007.png)

[2017-08-27 20:00] aslakknutsen commented on #665
@ldimaggi Are you trying from the same account? Can you try again? You might have tested before it hit production.

[2017-08-28 00:16] ldimaggi commented on #665
Still seeing this:

![screenshot from 2017-08-27 20-13-35](https://user-images.githubusercontent.com/642621/29755352-ab4aa072-8b64-11e7-9c69-53fb8c2a6467.png)

[2017-08-28 03:07] ldimaggi commented on #665
Just saw it be successful!

![screenshot from 2017-08-27 23-07-30](https://user-images.githubusercontent.com/642621/29757795-8bfe5516-8b7c-11e7-82b8-59c410356136.png)

[2017-08-28 09:36] msrb opened #668 "Autoscale f8a worker pods based on number of messages in queues"
# Description
Currently we can only scale f8a worker pods manually via pull requests to https://github.com/openshiftio/saas-analytics repo. We want to be able to autoscale workers based on number of messages in SQS. The initial implementation can work with just `{stage,prod}_ingestion_bayesianAnalysisFlow_v0` queues.

# Acceptance criteria
- [x] worker pods are autoscaled (up and down) automatical

[2017-08-28 09:53] msrb opened #669 "Move firehose service to production"
# Description

We have a service which listens for events about new releases (https://github.com/fabric8-analytics/fabric8-analytics-firehose-fetcher). It's been running in staging environment for quite some time, but it's not running in production yet. We want to move this service to production. This will require changes in CI/CD configuration in https://github.com/almighty/almighty-jobs.

# Acce

[2017-08-28 10:04] msrb opened #670 "[3] Refresh GitHub data in S3"
# Description
We want to refresh all already ingested GitHub data and we want to repeat this automatically every 2 weeks from now on.

# Acceptance criteria
- [x] ~~all GitHub data available in S3 are up-to-date (not older than 2 weeks)~~ all post-summit GitHub data available in S3 are up-to-date
- [x] all GitHub data in S3 will be automatically refreshed every 2 weeks
- [x] graph layer is notifie

[2017-08-28 12:36] muruGanesan commented on #661
@kwk, Thanks, I understand your points - it touches the entire OSIO visual layout.
@catrobson; @bdellasc; @sdash; we will look at these points as soon as we complete the Freesia goals

[2017-08-28 13:00] ldimaggi commented on #666
Is this an issue of the pod, when dropped/created is moved to a new AWS volume?

[2017-08-28 13:16] bmicklea commented on #446
@ibuziuk Where does workspace name come from?

[2017-08-28 13:36] sdash-redhat commented on #329
First draft UX wireframe based on the grooming discussion is available for planning now at https://redhat.invisionapp.com/share/2AD855HNS

Please review and share your thoughts.

@michaelkleinhenz

[2017-08-28 13:53] bmicklea opened #671 "Give user the option to stop import if it will overwrite a pre-existing jenkins file"
Link to: https://github.com/fabric8io/fabric8-generator/issues/38

Marking this as a bug because overwriting someone's files without warning is not a standard or acceptable practice.

[2017-08-28 14:18] ldimaggi commented on #595
Closing as a duplicate of:  https://github.com/openshiftio/openshift.io/issues/666

[2017-08-28 14:18] #595 closed

[2017-08-28 14:18] ldimaggi commented on #571
Closing as no longer reproducible.

[2017-08-28 14:18] #571 closed

[2017-08-28 14:55] invincibleJai opened #672 "Have CI/CD in place for fabric8 analytics LSP"
# Description
Have CI/CD in place for fabric8 analytics LSP

# Acceptance criteria
- [x] Should make a release on PR merge
- [x] Raise PR on RH-CHE with updated release
- [x] Trigger npm release , which can be consumed by node app (VSCode plugin can consume now)

[2017-08-28 14:57] invincibleJai opened #673 "Have CI/CD in place for fabric8 VSCode Extension"
# Description
Have CI/CD in place for fabric8 VSCode Extension

# Acceptance criteria
- [ ] Should make a release on PR merge
- [ ] Publish extension to VSCode marketplace

[2017-08-28 15:12] ldimaggi opened #674 "OSIO status icon should provide "push" information to user in the event that any of the tracked resources is not in a "green" state"
At present, the user must query/click on the status icon to view the state of the tracked resources.

The status pulldown icon should provide the user with status information (blinking, turning red, showing a warning/error, etc.) whenever any resource is in a non-green state.

[2017-08-28 15:15] arunkumars08 opened #675 "Packaging LSP server codebase as an NPM to be consumed by VScode client"
Set up NPM publishing for LSP server codebase.

# Checklist

- [ ] Setting up NPM
- [ ] Continuous Integration and Continuous Deployment

# Acceptance Criteria

- [ ] Test as NPM
- [ ] Test CICD

[2017-08-28 19:40] omajid opened #676 "OpenShift.io doesnt let me create a space with name HelloWorld.NET"
A number of projects use a dot (`.`) in their names. Github allows me to do that, but not OpenShift.io

Some examples of projects that I would be interested in having as separate "spaces" within OpenShift.io.

- https://github.com/JamesNK/Newtonsoft.Json (aka Json.NET)
- https://github.com/dotnet/coreclr.xunit
- https://github.com/dotnet/docs.es-es
- https://github.com/angular/angular.js
- http://

[2017-08-28 19:43] omajid commented on #479
Also applies to the import wizard.

[2017-08-28 19:53] omajid opened #677 "Import project wizard step 1 is very confusing"
1. Create a new space in OpenShift.io
2. Click "Add to space" (or any other way to get to the "How would you like to get started?" dialog.
3. Select "Import Existing Code"

You then get this dialog:

![strange](https://user-images.githubusercontent.com/174451/29790680-a774b39e-8c08-11e7-9f34-9862ef2f8e03.png)

It asks me for my organization. It is difficult to understand that they are asking about

[2017-08-28 19:58] omajid opened #678 "Import project step 4 flow is very confusing"
I created a new space, then started the import project wizard to import a project from github. On step 4, I see some options to check or uncheck. If I uncheck the "Add webhooks" option, the Next button becomes enabled:

![step4](https://user-images.githubusercontent.com/174451/29791022-91b0f116-8c09-11e7-8628-4258907efaab.png)

If I click on Next, it says "Validating" and brings me back to step 4,

[2017-08-28 20:20] omajid opened #679 "Default jenkinsfile added by openshift.io fails with strange error message"
I created a new project and imported into OpenShift.io. OpenShift added a jenkinsfile to it: https://github.com/omajid/HelloWorld/blob/master/Jenkinsfile

When I kick off a build, this fails with an error from git itself. Here is the log from jenkins:

    OpenShift Build rhn-engineering-omajid/helloworld-1 from https://github.com/omajid/HelloWorld.git
    Checking out git https://github.com/omaji

[2017-08-28 21:41] burrsutter commented on #441
@rawlingsj if you see this "go in", please let me know so we can update the Workshop documentation accordingly.

[2017-08-28 21:41] burrsutter commented on #495
I chatted with Clayton about this, it is apparently a setting on OSO that could be changed.

[2017-08-29 00:00] bmicklea opened #680 "Redesign of the Board View"
We had some good feedback from a community member who suggested that it would be helpful to have (an optional) Review stage that would sit between In Progress and Complete.

For organizations which are using a gitflow and pull request paradigm this provides important visibility, plus (at some point) we could theoretically automate the movement of a work item to that stage based on the creation of

[2017-08-29 00:04] rafabene commented on #524
Still waiting for going to prod to check it.

[2017-08-29 00:45] aslakknutsen commented on #619
Related https://github.com/fabric8-ui/fabric8-ui/pull/1911

[2017-08-29 02:21] ldimaggi commented on #570
This problem has not been seen recently - closing.

[2017-08-29 02:21] #570 closed

[2017-08-29 05:49] sdash-redhat commented on #329
Here is an updated version draft based on the feedback and alternative approach.
https://redhat.invisionapp.com/share/QSD8LKRAM

@michaelkleinhenz

[2017-08-29 06:40] msrb commented on #612
Following PRs need to be merged to complete this task:
- https://github.com/fabric8-analytics/fabric8-analytics-server/pull/133 (API server, cc @samuzzal-choudhury)
- https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/43 (data-importer, cc @miteshvp)
- https://github.com/almighty/almighty-jobs/pull/271 (job definition for data-importer, cc @vpavlin)

[2017-08-29 07:16] sdash-redhat commented on #589
Please find the first draft for GH#589  Collapsible sidebar in Planner
https://redhat.invisionapp.com/share/R9D8MJ0QB

[2017-08-29 07:46] msrb opened #681 "[3] Can't reconnect until invalid transaction in RDS is rolled back"
TL;DR; this basically means that if pgbouncer container gets restarted from some reason, rest of the system is unable to reconnect.

_From @msrb on August 22, 2017 7:50_

Observed on staging on August 22:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-worker#268_

[2017-08-29 07:46] msrb commented on #681
Note this is likely the same issue as https://github.com/fabric8-analytics/fabric8-analytics-jobs/issues/105, i.e. it's caused by pgbouncer restart.

[2017-08-29 08:12] ibuziuk commented on #446
@bmicklea currently name is randomly generated on che-starter side

[2017-08-29 08:25] corinnekrych commented on #677
it should be redesigned with https://github.com/fabric8-ui/fabric8-ui/issues/1915

[2017-08-29 08:31] msrb opened #682 "[5] Find a new source of CVE data for NPM"
# Description

We need to find a new source of CVE data for NPM ecosystem. The database (snyk) that we've been using previously hasn't been updated for ~2 months and upstream has stopped publishing (full) information about vulnerabilities. With crucial information missing (like range which versions are affected), it's not very useful any more. We want to spend some time evaluating different source

[2017-08-29 08:43] corinnekrych commented on #678
@catrobson I think this related to what we discussed about the finish/next button UX issue.
if you can advise on a better UX, I'll be all in favor.

This is how forge work you can go next (and validate) each field until the end of the wizard steps. The next button becomes grayed either if some fields is invalid (in that case we displayed red errors at fields level) or if we reached the end of the

[2017-08-29 10:27] krishnapaparaju opened #683 "[EPIC] Improve and Validate recommendations for Node ecosystem"
### Description
End-user should be able to see improved recommendations for the **Node** ecosystem for identified Supported Github Stacks

#### Acceptance Criteria
- Automated Tagging is implemented for Springboot ecosystem
- Target Recommendations of **70% accuracy**
- Recommendations will fit into the [definition](https://docs.google.com/document/d/1VM5JLrM1DCd-hKdB2RAXrarT4sZhtliXV1wRgYLi7Tg/ed

[2017-08-29 10:35] krishnapaparaju opened #684 "Integration with Libraries.io"
Integration of Libraries.io would enable quicker Onboarding of newer ecosystems at OSIO platform.
This opens up single point of integration for all the supported ecosystems and this integration would cover at least 70% of data needs for an ecosystem.
Notable data variables not covered with Libraries.io: (a) Deducted licenses (b) CVEs

This integration needs to be covered on technical side along wi

[2017-08-29 10:56] krishnapaparaju opened #685 "Proposal: Sources for CVE data"
Currently OSIO analytics platform depend on 'snyk.io' for CVE data sources. 'snyk.io' cover NPM, Maven, PyPi and Ruby ecosystems.

Ask is to have proposal document covering ..
               (a) Paid version of 'synk.io' to flag CVEs (for NPM, Maven, PyPi, Ruby) with minimal lag.
                    Currently OSIO platform use free version of CVE database which does not get updated frequently as t

[2017-08-29 10:56] msrb opened #686 "Add golang support on component analysis level"
# Description

We want to be able to analyze golang packages in fabric8-analytics. The initial step is to implement support for golang on component analysis level and store the data in S3.

**Note:** We are not starting this task from scratch, we already have some code written, but it needs to be rebased, tested, and missing functionality implemented. Talk to @msrb.

# Acceptance criteria

- [x] f

[2017-08-29 11:01] rgarg1 commented on #685
@krishnapaparaju What rules out https://nvd.nist.gov/? I'm sure you'd have done the due diligence for this. Just curious.

[2017-08-29 11:34] bmicklea commented on #446
It's an improvement.

What's wit and is changing its API contract impactful to anything outside OSIO?

[2017-08-29 11:56] msrb opened #687 "Control rolling update of workers via maxSurge and maxUnavailable"
# Description

Currently we rely on the default k8s/OpenShift settings for rolling update deployments. Since there can be many workers running, we should explicitly set at least `maxSurge` to some safe value (default is 25%).

See the docs for k8s: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#rolling-update-deployment

# Acceptance criteria
- [x] OpenShift template for wor

[2017-08-29 11:57] msrb opened #688 "Move Graph Importer as part of Selinon Workers"
_From @miteshvp on August 18, 2017 4:55_

Currently, graph sync for any EPV happens outside of worker process by way of data-model's API endpoint. This unnecessarily increases a moving piece and one more disconnected data gathering. Rather we should move this graph importer task as part of other selinon stable, so that we can take advantage of audit trail and sync to graph only those EPVs that are

[2017-08-29 12:05] msrb opened #689 "[8] Gradle support in mercator"
# User story

As a fabric8-analytics developer, I want to be able to extract dependencies from [Gradle](https://gradle.org/) manifest files. This will enable me to collect dependency usage information from Java projects which use Gradle as a build system.

# Acceptance criteria
- mercator supports Gradle
- mercator doesn't execute any untrusted code from Gradle manifest files
- mercator with Gradl

[2017-08-29 12:23] msrb opened #690 "Monitor Maven Central for new releases"
# Description

We currently depend on firehose-stream from libraries.io for notifications about new releases/versions in various ecosystems. Unfortunately, Maven is not supported very well (a lot of releases is missing) thus we should handle this ecosystem separately. We want to catch all new releases in Maven Central and automatically analyze them.

# Acceptance criteria
- [ ] fabric8-analytics k

[2017-08-29 12:26] krishnapaparaju opened #691 "Supported Integrations of OSIO Analytics platform"
Here are the targeted list of integrations for OSIO analytics platform:

- [x] OSIO work flow  (Stack analysis at Che, Build pipelines)

- [x] DevStudio plugin

- [ ] Eclipse plugin

- [x] VSCode extension

- [ ] CodeEnvy extension

[2017-08-29 13:10] GeetikaBatra opened #692 "Unit tests for Devstudio Plugin"
# Description
Unit Tests for Devstudio

[2017-08-29 13:16] GeetikaBatra opened #693 "Integration Tests for Devstudio Plugin"
# Description
Integration Tests for Devstudio Plugin

[2017-08-29 13:19] GeetikaBatra opened #694 "Remove the requirement of installing lsp4e manually."
- [x] Follow up with Nick to get it fixed

[2017-08-29 14:13] jpopelka commented on #685
@rgarg1 NVD is not the only source.
There's also cve.mitre.org & cve.mitre.org, cvedetails.com, nodesecurity.io (for nodejs) and many sites which aggregate data from these. See also #682

Problem is that mapping platform/package names to [CPE](https://nvd.nist.gov/products/cpe) which NVD uses is not that straightforward. For example for Maven we use [OWASP Dependency Check](https://www.owasp.org/i

[2017-08-29 17:28] dgutride commented on #662
PR up here: https://github.com/fabric8-ui/fabric8-ui/pull/1933 - adds new /_profile route

[2017-08-29 18:30] bmicklea commented on #680
@qodfathr - not sure where to put this in the planner backlog or if it was there already but I think it makes sense to have an optional review state for the board.

[2017-08-29 19:30] bmicklea commented on #462
closing as linked issue is solved.

[2017-08-29 19:30] #462 closed

[2017-08-29 19:30] bmicklea commented on #217
Confirmed closed by linked issue.

[2017-08-29 19:30] #217 closed

[2017-08-29 19:38] qodfathr commented on #680
The roadmap calls for a highly customizable board -- both in terms of columns and swim lanes. Note that there are all sorts of challenges which need to be considered, not the least of which is what does it mean to move a WI from one column to another. In other words, does moving a WI change its state? If yes, what are the rules for those state changes? What if the columns do not match the availabl

[2017-08-30 04:08] samuzzal-choudhury opened #695 "API server fails with status 500 for springboot microservices demo app"
Steps to recreate:
1. In openshift.io, create a new space and import "https://github.com/samuzzal-choudhury/microspringboot1" (Fork this repo onto your org if required)
2. Complete the space creation wizard steps and let a build trigger for that automatically.
3. Check Jenkins logs for that build.

Following error shows up in the build log -
[code]

Corresponding API server log: https://gist.githu

[2017-08-30 07:32] ibuziuk commented on #667
Unidling UX is going to be significantly improved once https://github.com/fabric8-ui/fabric8-ui/issues/1825 is resolved and all idling related issues should be fixed with new UX

[2017-08-30 09:15] msrb commented on #695
Just talked to @jyasveer about this. My findings:

- nothing wrong in the jenkins plugin, it gets 500 from the API server so it doesn't know how to continue
- I think the real problem lies here:
https://github.com/fabric8-analytics/fabric8-analytics-server/blob/304f1e0148c18d9742f4db290bf5b86031e0ce73/bayesian/api_v1.py#L634-L638

The maximum size of a message on SQS is 256k ([docs](http://docs.aw

[2017-08-30 09:21] samuzzal-choudhury opened #696 "[13]Introduce stack reports in openshift.io Che"
##### Acceptance Criteria:
* From the eclipse che IDE in openshift.io, a user can invoke stack analyses for a given project of maven or node ecosystem and can view the corresponding stack report.
* Supports stack analysis of multiple manifest files present in the project.

Tasks:
- [x] Have a kick off discussion with the che and openshift.io che teams
- [x] Understand the development process.
- [

[2017-08-30 09:28] samuzzal-choudhury opened #697 "User Story: Develop and deploy developer studio plugin"
##### Acceptance Criteria:
* A developer studio plugin with the support for both fabric8-analytics LSP and stack analysis is available in a public marketplace.
* User authentication and token management is in place for the plugin.
* All required integration tests for the plugin are functional.
* CI/CD for the plugin repository is in place with the integration tests.

[2017-08-30 09:29] samuzzal-choudhury opened #698 "[13](8) Develop and deploy VSCode fabric8-analytics plugin"
###### Acceptance Criteria:

* A VSCode plugin with the support for both fabric8-analytics LSP and stack analysis is available in a public marketplace.
* User authentication and token management is in place for the plugin.
* All required integration tests for the plugin are functional.
* CI/CD for the plugin repository is in place with the integration tests.
* Plugin supports stack analysis of mul

[2017-08-30 09:34] samuzzal-choudhury opened #699 "[8] User Story: Develop and deploy Eclipse fabric8-analytics plugin"
##### Acceptance Criteria:

* An Eclipse plugin with the support for both fabric8-analytics LSP and stack analysis is available in a public marketplace.
* User authentication and token management is in place for the plugin.
* Plugin supports stack analysis of multiple manifest files present in the project.
* All required integration tests for the plugin are functional.
* CI/CD for the plugin repos

[2017-08-30 09:37] samuzzal-choudhury opened #700 "Develop and deploy codenvy extension for fabric8-analytics"
Acceptance Criteria: TBD

[2017-08-30 09:49] krishnapaparaju opened #701 "[13](13) Integration: OSIO Analytics platform, 3Scale API Gateway"
In the context of integrating OSIO analytics platform with IDE extensions, DDoS protection from API gateway and API  life cycle management features would become key enablers for scaling the OSIO analytics platform to broader group of users.

To achieve this target, OSIO analytics platform would need to be integrated with 3Scale API Gateway . This is a mandatory requirement for exposing OSIO analyt

[2017-08-30 09:56] msrb commented on #612
Everything we deploy to staging/prod now goes through CentOS CI.

@krishnapaparaju I believe this issue can be closed now.

[2017-08-30 09:57] samuzzal-choudhury opened #702 "[13](5) User Story: Improve the Independent UI portal"
##### Acceptance Criteria:
Improve the following in the independent UI portal for fabric8-analytics:
1. UX as per the latest OSIO benchmark.
2. Deployment scripts are developed to deploy the portal on Bayesian project on prod.
3. CI/CD is in place with the required integration tests.
4. Update the UI to incorporate the new license data

Tasks:

- [x] https://github.com/openshiftio/openshift.io/iss

[2017-08-30 09:59] invincibleJai opened #703 "[5] Set up test environment for fabric8-analytics LSP"
Set up test environment for fabric8-analytics LSP, Currently we don't have testcases for language server and even the framework needed to run those are not in place i.e mocha to run test in node environment

# Acceptance Criteria

- [ ] Setting test environment for fabric8-analytics LSP
- [ ] Increase test coverage

[2017-08-30 10:01] invincibleJai opened #704 "[3]Increase test coverage for VSCode extension"
Increase test coverage for VSCode extension.

# Acceptance Criteria

- [x] Add test to check if extension is present
- [x] Add test to check if extension is activated
- [x] Add test to check if commands registered are being triggered
- [x] Add test to check if all registered commands are there
- [x] Add test to check if commands registered are being triggered
- [x] Add test to check if stack-analy

[2017-08-30 10:15] tuxdna commented on #635
@tuhinsharma Can you point to the code-base where current approach is implemented?

[2017-08-30 10:22] msrb opened #705 "Handle effective pom files in mercator"
# Description

[mercator](https://github.com/fabric8-analytics/mercator-go), our tool for extracting dependencies from manifest files, always tries to build effective pom first (because pom.xml files are not self-contained). This strategy works fine for data ingestion, but it doesn't really work on user-provided pom.xml files which may reference dependencies that are not available in Maven Central

[2017-08-30 10:24] msrb commented on #705
@jyasveer FYI.

[2017-08-30 10:26] krishnapaparaju opened #706 "Analytics stream: Current Checklist"
Success criteria for improving recommendations require accuracy of 70% across entire spectrum of GitHub repositories  for VertX, SpringBoot, Python, .NET ecosystems.

Along the trend around registered users at OSIO, Python has been de-prioritised (for the current train) and replaced with Node ecosystem. Any of the below tasks related to Python are stretch goals.

These tasks been derived from thes

[2017-08-30 11:17] msrb opened #707 "Rerun license worker on already ingested components"
# Description

We have switched to a new tool for detecting licenses on source code level. It produces much better results, but majority of our license data in S3 was produced by the old tool and thus is of lower quality. We want to rerun license worker on all already ingested components to get better license data.

The goal for sprint 137 is to have 10% of license data in S3 produced by the new w

[2017-08-30 11:28] samuzzal-choudhury commented on #609
On request, added Pavel T as the assignee.

[2017-08-30 11:33] msrb opened #708 "Test database migrations"
# Description

Database migrations can be tricky and we don't have any tests for them at the moment. To prevent issues similar to https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/191 we need to figure out how to test them.

# Acceptance criteria
- [ ] tests for database migrations exist and they run in CI

[2017-08-30 11:50] samuzzal-choudhury commented on #695
@msrb API server is working fine with the pom.xml in https://github.com/samuzzal-choudhury/microspringboot1 as I tried that out from PostMan. So, I don't think it cab be an API issue rather an issue of how API is being called.

[2017-08-30 11:51] msrb opened #709 "Enable tests for Jobs service which require authentication"
# Description

Pavel (@tisnik) prepared E2E tests for our Jobs service, but some of them are not enabled in CI at the moment, because they require authentication.

# Acceptance criteria
- [ ] all existing tests for Jobs service all enabled and pass in CI

[2017-08-30 11:58] fridex opened #710 "Gather tags from StackOverflow"
# Description

In order to proceed with tagging, we would like to gather tags from StackOverflow. These tags are not strictly bound to any ecosystem, so we could treat them as ecosystem agnostic tags and use them with per-ecosystem specific tags (aggregate tags multiple sources - see [tagger aggregation](https://github.com/fabric8-analytics/fabric8-analytics-tagger/#aggregating-keywords---aggregat

[2017-08-30 12:18] ibuziuk commented on #446
@bmicklea wit = https://github.com/fabric8-services/fabric8-wit/, and API contract is used only between wit & che-starter e.g. can be changed on demand, so technically it is not a problem to make che-starter aware of codebase info:

I would probably opt for option 2 with random postfix. WDYT ?

[2017-08-30 12:29] bmicklea commented on #446
@ibuziuk yes let's go with option 2, it's safer.

[2017-08-30 12:41] bmicklea opened #711 "Show only CentOS stacks in the quickstart section of Che dashboard"
At some point we should show only OSIO-compatible stacks (based on CentOS presumably) in the stack sections of the Che dashboard when it's deployed to OSIO.

[2017-08-30 12:45] bmicklea commented on #711
@davidfestal - FYI it was confusing when I went into OSIO and the Che dashboard and saw a bunch of non-CentOS.

[2017-08-30 12:48] fridex commented on #707
[This template for jobs](https://github.com/fabric8-analytics/fabric8-analytics-jobs#run-graph-syncs-of-previously-analysed-ecosystem-package-version) can be used, just add `source_lisences` to tasks that should be run (`task_names` array) and tweak `limit` and `offset` based on desired batch size.

[2017-08-30 12:51] bmicklea commented on #619
@aslakknutsen based on yesterday's workshop it looks like this is fixed, do you agree?

[2017-08-30 12:58] fridex opened #712 "Gather tags from MVN Repository"
# Description

In order to tag Maven projects, we would like to gather tags from [MVN Repository](http://mvnrepository.com/). Unfortunately, it looks like MVN repository has no API so this gathering needs to be probably done directly on HTML by scraping tags. Also there is probably no listing of projects on MVN Repository so we would need to list projects using maven indexer.

It would be also goo

[2017-08-30 13:20] fridex commented on #670
Please update jobs service in production as the current master already has some related fixes/code to run this periodically.

[2017-08-30 13:46] bmicklea opened #713 "Disable email updates in user profiles"
Cross linked to: https://github.com/fabric8-ui/fabric8-ui/pull/1936

Users can currently edit their email in the OSIO profile page to something that is unverified and can't receive email. When we repeatedly try and email those addresses it harms our spam score and could result (ultimately) in blacklisting.

[2017-08-30 16:23] nelmax1 opened #714 "Issue with Stack Report Recommendations and Pipelines"
Hello,

Stack Report Recommendations is keep on adding pom.xml tabs every second on both the Spaces. if I refresh the browser all those pom.xml tabs go away attached is what I see when I try to select the Pipeline for test "myspacebugtest"

Also, when I switch space a new pom.xml tab is created in the Stack Report Recommendations section.

My OS is Sierra 10.12.6
I am using Chrome Version 60.0.311

[2017-08-30 17:05] ldimaggi commented on #714
I am seeing this too - the browser eventually reports that "analyze" is failing to respond. This should be blocker as it can render analytics (and the browser) unusable.

[2017-08-30 17:12] ldimaggi commented on #714
See screencast:

https://drive.google.com/a/redhat.com/file/d/0B1s-ZoxD8FjUdG5Fc2xkNWlPTFU/view?usp=sharing

[2017-08-30 17:13] ldimaggi commented on #714
![screenshot from 2017-08-30 13-00-40](https://user-images.githubusercontent.com/642621/29885458-f246b872-8d84-11e7-9687-be027c9fbb26.png)

[2017-08-30 17:20] ldimaggi commented on #714
The loop of creating more and more pom.xml entries seems to stop when the build pipeline completes.

[2017-08-30 17:30] ldimaggi opened #715 "Analytics report appears to provide a link to the project's pom.xml, but the file name is not a link"
See attached screenshot - the pom.xml file name is displayed in blue text implying that it is a live link - but it is static text and not a link.

![screenshot from 2017-08-30 13-20-40](https://user-images.githubusercontent.com/642621/29886179-3da09a66-8d87-11e7-8e61-782b134209b1.png)

[2017-08-30 17:51] bmicklea commented on #671
Waiting on James to return from PTO

[2017-08-30 18:14] cctrieloff commented on #666
2:07:18 PM	che-2-deploy	Pod	Warning	Failed mount 	Unable to mount volumes for pod "che-2-deploy_cctrieloff-che(bd4a55a1-8dad-11e7-b495-02d7377a4b17)": timeout expired waiting for volumes to attach/mount for pod "cctrieloff-che"/"che-2-deploy". list of unattached/unmounted volumes=[deployer-token-csq0k]

I'm getting a slightly different error, with pvc failures.

Carl.

[2017-08-30 18:36] ldimaggi commented on #666
https://bugzilla.redhat.com/show_bug.cgi?id=1486523

[2017-08-30 18:57] alexeykazakov commented on #714
It's not a blocker just for Annalists. It blocks the entire space dashboard page. This bug overloads the browser and kills the space dashboard page eventually.

[2017-08-30 18:59] bmicklea opened #716 "Stack recommendations causes browser thrashing and ultimately lock"
Stack recomendations in OSIO using the vert.x-basic project triggers cascading recommendation tabs for pom.xml (~1 pom.xml / 3 secs). As the number of these grow the browser runs slower and slower and ultimately becomes unusable.

## How to Reproduce
- Follow the steps in the [workshop document](https://docs.google.com/document/d/1KsV8oHRe7DYCVCMfVrB2yd3hU4iBi11YI5MyuXoozQw/edit#)
- When the space

[2017-08-30 19:00] bmicklea commented on #716
@adisakala and @krishnapaparaju - this is a blocker as it makes it very difficult for students to complete the workshop. I assume it's related to the recent update of the analytics version in production.

[2017-08-30 19:03] #716 closed

[2017-08-30 19:44] burrsutter commented on #715
duplicate of #714

[2017-08-30 20:20] ldimaggi commented on #666
Similar issue seen for Jenkins - less severe as less memory is required?

[2017-08-30 20:23] ldimaggi opened #717 "Intermittent issue - unable to access OSO token when creating new codespace"
Intermittent issue being seen today - when creating a new codespace, the OSO token is treated as invalid.

[2017-08-30 20:24] ldimaggi commented on #717
[che-1-log.txt.txt](https://github.com/openshiftio/openshift.io/files/1264976/che-1-log.txt.txt)
[code]

[2017-08-30 20:31] ldimaggi commented on #666
Increased competition for 3GB for each user's Che service would lead to slower repsonse times under load by large numbers of users.

[2017-08-30 21:16] arunkumars08 commented on #714
Bug that created multiple pushes of the same file has been fixed and is in prod. Please review and let me know if you can still see multiple push behaviour.

[2017-08-30 21:19] rafabene opened #718 "Integrate git commit message with work item"
Based on customer's feedback in the workshop, the work item ID should be communicated to Che so that the commit message can include the work item ID. The commit should then be reflected in the work item as a comment / event.

This will simplify tracking between the codebase changes and the work items.

[2017-08-31 01:44] krishnapaparaju commented on #716
@bmicklea , will look into this right away.

[2017-08-31 02:17] ldimaggi opened #719 "After successful import of existing code - 'OK' button is non operative"
The button highlighted in the attached screenshot is not operative after a successful import:

![screenshot from 2017-08-30 22-07-48](https://user-images.githubusercontent.com/642621/29903237-d0d7c6ee-8dd0-11e7-9264-c6f72fbc2d7a.png)

[2017-08-31 02:25] alexeykazakov opened #720 "www.openshift.io is not promoted to prod"
It seems that https://github.com/openshiftio/saas-openshiftio/blob/master/dsaas-services/www.openshift.io.yaml doesn't promote the latest openshift.io app (https://github.com/openshiftio/openshift.io) to prod.
I see a new deployment but it's some old image.

[2017-08-31 03:17] krishnapaparaju commented on #715
@arunkumars08  font colour for the text as part of tab ('pom.xml') to reflect that its not a link.

[2017-08-31 03:33] krishnapaparaju opened #721 "Issue with 'show complete stack report' in the dashboard page"
Only first time click on 'show complete stack report' (at the space dashboard page) opens up the stack report. Any further clicks on this click would not open up stack report.

If user moves away from dashboard of a space, comes back to space dashboard.. first click would work with 'show complete stack report' , further clicks would not open up complete stack report.

[2017-08-31 04:31] invincibleJai opened #722 "Issue with stack report on space change from dashboard screen (left top)"
Steps to reproduce

- open space dashboard
<img width="1680" alt="screen shot 2017-08-31 at 9 58 27 am" src="https://user-images.githubusercontent.com/5129024/29906484-fe6f91ba-8e32-11e7-9e53-0d1cd21aeb34.png">

- now switch space from dashboard view itself (left top nav)
<img width="1679" alt="screen shot 2017-08-31 at 9 59 32 am" src="https://user-images.githubusercontent.com/5129024/29906507-21

[2017-08-31 04:35] invincibleJai opened #723 "work item description has HTML markups <br /> post creation of work item from stack report"
work item description has HTML markups <br /> post creation of work item from stack report, needs to be markdown(supported)

<img width="1676" alt="screen shot 2017-08-31 at 10 04 07 am" src="https://user-images.githubusercontent.com/5129024/29906639-d951ef44-8e33-11e7-983e-a79b80c27873.png">

[2017-08-31 05:09] arunkumars08 commented on #715
@ldimaggi Yes, that shouldn't be highlighted as a link. However it is not a link to project's pom.xml. It is just an indicator of the manifest file.

[2017-08-31 05:53] vpavlin commented on #720
Hi, I see new image...the tag for image should be `befd41` based on last master commit

I see it being correctly used here https://ci.centos.org/view/Devtools/job/devtools-saas-openshiftio-promote-to-prod/230/console

And I see the image with this tag to be used in dsaas-production project in OSD

Can you elaborate why do you think it's an old image?

[2017-08-31 06:20] fridex opened #724 "Periodic tags/keywords gathering"
# Description

In order to create fully automatic tagging pipeline, we would like to automatically collect tags for various ecosystems. Some of these collectors are implemented in [tagger](https://github.com/fabric8-analytics/fabric8-analytics-tagger#collecting-keywords---collect), some of them are planned to be implemented (e.g. https://github.com/openshiftio/openshift.io/issues/712, https://gith

[2017-08-31 06:26] fridex opened #725 "Gather tags from npm.js"
# Description

In order to tag NPM projects, we would like to gather tags from [npmjs.com](http://npmjs.com). It would be good to parametrize this gathering so we can periodically gather new tags based on new project releasing.

This gathering should gather ALL topics that are present at npmjs in order to tag projects.

# Acceptance criteria

- [ ] License of npmjs.com repository data (tags) is ch

[2017-08-31 06:36] fridex opened #726 "Tags and free text gathering"
This epic covers tags gathering that would help us tag different projects based on gathered files written in natural language.

- Tags gathering - ordered by priority
  - [x] Gather tags from MVN Repository #712
  - [ ] Gather tags from StackOverflow #710
  - [ ] Gather tags from npm.js #725 - not part of sprint 137
  - [ ] Gather tags from nuget.org #810 - not part of sprint 137

- Free text gath

[2017-08-31 06:48] fridex opened #727 "[3] Gather free text present at PyPI project description page and collect keywords present"
# Description

As README files are not strictly present on GitHub for each project (moreover we do not have GitHub URL for each project as it is optional), it would be good to gather as much as possible free text sources and do keywords extraction on them using existing data mining algorithm.

One of candidates for PyPI ecosystem is PyPI's project description page - see [Celery as an example](http

[2017-08-31 06:51] fridex opened #728 "[3] Gather free text present at NPM project description page and collect keywords present"
# Description

As README files are not strictly present on GitHub for each project (moreover we do not have GitHub URL for each project as it is optional), it would be good to gather as much as possible free text sources and do keywords extraction on them using existing data mining algorithm implemented in tagger.

One of candidates for NPM ecosystem is NPM's project description page - see [serve-

[2017-08-31 07:16] sdash-redhat commented on #589
As per feedback from the Dev, there is a limitation to implement the nav icon in the header as there is dependency from planner, on request for alternate design to implement the icon within the planner controlled area, here is the updated design - https://redhat.invisionapp.com/share/TRDA41HGN

[2017-08-31 07:33] fridex opened #729 "Automatize PGM training"
# Description

In order to automate PGM training we could introduce API endpoint that would trigger training job and place appropriate training outcome on S3. This was probably already implemented but was removed - search git log history to revert removal.

Training could be automatically triggered from jobs service by creating a periodic job that would handle this operation. PGM API would not be

[2017-08-31 07:35] fridex commented on #729
CC @tuhinsharma

[2017-08-31 07:41] fridex opened #730 "Automatically update newly trained PGM model"
# Description

In order to automate PGM updates we could introduce API endpoint that would trigger updating PGM model data by retrieving already trained model data from S3 (see related #729). This was probably already implemented but was removed - search git log history to revert removal.

Updates could be automatically triggered from jobs service by creating a periodic job that would handle this

[2017-08-31 07:42] fridex commented on #730
CC @tuhinsharma

[2017-08-31 07:44] fridex commented on #730
Possible optimization we could change training part described in #729 to automatically trigger update once model data get updated and placed on S3. With this we would "immediately" update model after training. Needs discussion and design decisions with @tuhinsharma. Having "update" endpoint as described in this issue could be beneficial in long-term anyway.

[2017-08-31 07:48] tuxdna commented on #705
@jyasveer  Could you provide a sample pom file what can reproduce the issue for this task?

[2017-08-31 07:55] fridex opened #731 "[13] Dynamically add new tasks in analytics core during runtime"
# Description

[Selinon/Dispatcher](https://github.com/selinon/selinon) that was developed for analytics core does not support changes in the [YAML configuration files](https://github.com/fabric8-analytics/fabric8-analytics-worker/tree/master/f8a_worker/dispatcher) when it comes to adding/removing tasks or changing structure of task flow graph on runtime. We would like to add such support which wo

[2017-08-31 07:58] corinnekrych commented on #664
After meeting with @bartoszmajsak we will also do a POC on API contract testing.
See [video on contract testing](https://www.youtube.com/watch?v=-6x6XBDf9sQ).
We'd like to use [pact framework](https://docs.pact.io/) which comes with Java, JS, Go... SDK support.
[Worksop with pact](https://github.com/DiUS/pact-workshop-jvm)

Here is the different task involved:
[ ] make consumer working on fabric8-

[2017-08-31 08:01] jyasveer commented on #705
Here you go Saleem

[2017-08-31 08:04] fridex opened #732 "Configure PCP for aggregating process-level metrics in analytics core"
# Description

With Performance Co-Pilot we would be able to monitor all processes that are run inside containers. We would like to do so to possibly detect very resource hungry processes in the cluster and separate them on standalone workers with configured resource limits. This would prevent from recent CPU-related issues in the cluster.

Please follow thread [1], possibly contact Frank Eigler <

[2017-08-31 08:11] tuxdna commented on #705
@jyasveer Looks like an attachment is missing

[2017-08-31 08:17] jyasveer commented on #705
On 31-Aug-2017, at 1:18 PM, Saleem Ansari <notifications@github.com> wrote:

@jyasveer <https://github.com/jyasveer> Could you provide a sample pom file
what can reproduce the issue for this task?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshiftio/openshift.io/issues/705#issuecomment-326218152>,
or mute the thread
<

[2017-08-31 08:36] rgarg1 commented on #664
@corinnekrych I hope I was able to provide you all the help to get you going with your API tests. Do keep me informed about your results from contract testing.

[2017-08-31 08:44] corinnekrych commented on #664
@rgarg1 I hope to finish import flow and quickstart PR by end of this week. I'll put you as reviewer.

[2017-08-31 08:45] tuxdna commented on #705
Using this file ( shared by @jyasveer elsewhere ) - https://gist.github.com/tuxdna/b54950567722c1cd66a8c9ddf5fb96e7

[2017-08-31 08:46] jyasveer commented on #705
[pom.xml.txt](https://github.com/openshiftio/openshift.io/files/1266419/pom.xml.txt)

[2017-08-31 08:56] jyasveer commented on #696
- [ ] Have a kick off discussion with the che and openshift.io che teams
- [ ] Understand the feasibility of the requirement with the che teams
- [ ] Understand the available code in the rh-che code repo. Decide where our new enhancements should go inside the repo.
- [ ] Understand the development process.
- [ ] If the requirement is feasible, come up with a POC to demonstrate the end to end flow.

[2017-08-31 09:01] rgarg1 commented on #664
@corinnekrych That is great progress.

[2017-08-31 09:36] arunkumars08 opened #733 "Description in work item created from Stack Report should reflect the new data points"
[1] We still see the description highlighting the old data points.

It has to be highlighting usage of alternate and companion components.

In case of companion components,
Something like:

Stack analysis has identified some additional components for your application stack. You have chosen to add io.vertx:vertx-codegen with 3.4.2 to your application stack

In case of alternate components,
Somethin

[2017-08-31 10:23] jpopelka commented on #682
Document describing individual sources of CVE/CWE:
https://docs.google.com/a/redhat.com/document/d/1Xa68aMUNTjJW8D0UMIrrxRZtNs0vomeXQtz4njL3f0o/edit?usp=sharing

[2017-08-31 10:54] sbose78 commented on #720
This fix in prod will call 'logout' , and then redirect to login when you try logging in on https://openshift.io, I tried it out and looks like the fix works.

https://github.com/openshiftio/openshift.io/commit/befd416efc8aa5198a1767cb428981bec4d25ae4#diff-670d0a4d2d9db6ee9ce223391cf66387R93

Functionally, it does looks like prod has the right image.

[2017-08-31 11:08] tuxdna commented on #705
After downloading the file, and running mercator on it I get this:

[code]

[2017-08-31 11:11] GeetikaBatra opened #734 "[13]Unit Tests and Integration Tests for Devstudio"
- [ ] Unit Tests

- [ ] Integration Tests

[2017-08-31 11:11] msrb commented on #705
To completely process pom.xml files, you can run mercator as following:

`MERCATOR_JAVA_RESOLVE_POMS=true mercator pom.xml`

[2017-08-31 11:17] tuxdna commented on #705
@msrb

I am getting same output as above, after adding the env variable:

[code]

@jyasveer Does this behavior replicate the issue for this task?

[2017-08-31 11:18] #693 closed

[2017-08-31 11:19] #692 closed

[2017-08-31 12:08] ldimaggi commented on #719
Yup - found by the EE tests:
https://ci.centos.org/job/devtools-test-end-to-end-openshift.io/293/console

[2017-08-31 12:12] corinnekrych commented on #719
@ldimaggi it should be fixed by: https://github.com/fabric8io/fabric8-generator/pull/46 once pushed to prod

[2017-08-31 12:54] fridex commented on #726
An overview that was done by @msrb on sources and tags availability https://docs.google.com/document/d/1_-Jf84fAl1DvJ5piim44pAgaaM1cSowJuFiYdqs7XzU/edit

[2017-08-31 13:33] miteshvp opened #735 "[1][Done]Categories/Topics not listed for a user stack components"
When I submit a stack for analysis, topics appear for alternate and companion recommendations, but somehow it does not appear for given input stack components. Previous iterations used to show topics for the same set of pom.xmls.

[2017-08-31 14:17] cctrieloff opened #736 "Add OC to Che cmd interface for usablity & resolve oc firewall issues in workshops"
@burr @bradmicklea I watched the workshop yesterday and quite a few people had firewall issues with OC...  would it help if we included OC into the cmd shell of Che, so they could OC from there?  There would be no firewall issues with such an approach.
burr
@cctrieloff yes, it should be in the Che Terminal
ideally the Che Terminal has all the needed tools like mvn, git, java, oc
or if it is a node

[2017-08-31 14:19] alexeykazakov commented on #720
@vpavlin yes, @sbose78 is correct. I see the old code in that image. But the image in prod-preview does have the correct code.

[2017-08-31 14:25] msrb commented on #688
Pulling into Sprint 137 as discussed today with Mitesh.

[2017-08-31 14:44] jpopelka commented on #660
Should be fixed now, closing.

[2017-08-31 14:44] #660 closed

[2017-08-31 14:54] bmicklea commented on #736
@gorkem and @eivantsov not sure who is the best person to do this but I think it's probably just a matter of adding OC binary to the workspace definition, right?

[2017-08-31 15:55] alexeykazakov commented on #713
Email updates are now disabled in user profile (in UI)

[2017-08-31 15:55] #713 closed

[2017-08-31 16:27] invincibleJai commented on #723
@arunkumars08 have been fixed , in prod now pls verify
CC @samuzzal-choudhury

[2017-08-31 16:28] invincibleJai commented on #733
@arunkumars08 fixed it , changes can be seen in prod now. Pls verify
CC @samuzzal-choudhury

[2017-08-31 16:29] arunkumars08 commented on #715
@ldimaggi The color problem is addressed now and is in production. Please verify and let me know in case of issues.

[2017-08-31 16:30] arunkumars08 commented on #714
@nelmax1 @ldimaggi Please let me know if this issue still appears. This has been fixed already and is in production.

[2017-08-31 16:32] arunkumars08 commented on #722
@invincibleJai The fix for this is in prod. Please let me know in case this issue still persists.

[2017-08-31 16:33] arunkumars08 commented on #721
@krishnapaparaju The fix for this is in production. Please let me know if it still persists.

[2017-08-31 18:32] samuzzal-choudhury commented on #695
@burrsutter Turns out that the Bayesian Jenkins plugin generated an effective POM which is too big  to be handled by the AWS SQS. Only way to handle this scenario is to send a reference of the manifest (pom.xml) files instead of the content of the file. The fix is on the way.

[2017-08-31 19:11] ldimaggi commented on #715
Verified the fix - closing.

[2017-08-31 19:11] #715 closed

[2017-08-31 19:29] nelmax1 commented on #722
Looks better now, thank you for fixing it!

[2017-08-31 19:31] nelmax1 commented on #714
Looks better now, thank you

[2017-09-01 01:06] krishnapaparaju commented on #695
@samuzzal-choudhury You can reference a bigger object (not sure about the size, but much bigger 256K) on S3 thru SQS message.

[2017-09-01 01:26] mishaone commented on #651
Quick update (or maybe I just noticed this now) but the erase environment option can't erase the space, but it shows a success message (see screenshot) despite this, which doesn't seem ideal.

![success](https://user-images.githubusercontent.com/926572/29951771-527c8288-8f08-11e7-8523-d2011c686cc1.png)

[2017-09-01 02:53] alexeykazakov commented on #651
For some reason there is no resource which represents this particular space. It may happen with some old spaces if Keycloak failed to create a resource when the space was being created.
That was fixed by https://github.com/fabric8-services/fabric8-wit/pull/1589 so, now new spaces will not be created if there is any problem with creating a resource for that space.  But previously the space created

[2017-09-01 02:55] alexeykazakov commented on #651
UI part still need to be fixed (If something failed then there status should not be green)

[2017-09-01 04:51] gorkem commented on #736
We need to manage the oc binary version. Also on OSIO we usually set the credentials for CLI tools so that they are ready to use.

This is something for @l0rd to consider for next sprint.

[2017-09-01 05:28] fridex commented on #695
Yes - we need to reference object stored on S3 in SQS message, not to directly pass manifest files in message payload. This issue was tracked here [1] - that's why we hit SQS message size limitation.

[1] https://github.com/fabric8-analytics/fabric8-analytics-server/issues/43

[2017-09-01 05:30] invincibleJai commented on #722
@arunkumars08 looks good. Thanks !!

[2017-09-01 05:30] #722 closed

[2017-09-01 05:48] rgarg1 opened #737 "Logging into OSIO from pages other than landing page, lands the user at home page post login"
1) While the user is logged out and visits a URL in OSIO, say https://openshift.io/openshiftio/openshiftio/plan

2) Now to log into the system, he clicks the login button on the top right corner

3) Provides the OSIO credentials and login

4) The user post login, ends up at the Home page: https://openshift.io/_home. The context to the URL he started with in step#1 is lost

There must be a mechanis

[2017-09-01 05:52] rgarg1 commented on #718
This will be a handy functionality to provide cross linking between OSIO and GitHub or any other source management system.

[2017-09-01 05:56] rgarg1 commented on #718
@catrobson Assigning to you so that you can get Product Management perspective and priority on this. If you think this should be assigned to someone else, pls let me know.

[2017-09-01 06:14] alexeykazakov commented on #737
Login API supports "redirect" param which should be used to redirect back to original page.

[2017-09-01 06:18] arunkumars08 commented on #714
@nelmax1 If things are fine, I think you can close it.

[2017-09-01 07:50] corinnekrych opened #738 "Automated Contract API test for Forge Wizard"
After meeting with @bartoszmajsak we will also do a MVP on API contract testing.

See [video on contract testing](https://www.youtube.com/watch?v=-6x6XBDf9sQ).
We'd like to use [pact framework](https://docs.pact.io/) which comes with Java, JS, Go... SDK support.
[Worksop with pact](https://github.com/DiUS/pact-workshop-jvm)

Here is the different task involved:
- [ ] make consumer working on fabri

[2017-09-01 08:01] corinnekrych opened #739 "Automated Contract API test with CD/CI"
Following the initial work on [automated contract API test MVP](https://github.com/openshiftio/openshift.io/issues/738), the goal of this epic is to be able to publish those pact files (ie: the contract between UI and forge addon API) to a shared location.

- [ ] defined a published .ocation
- [ ] trigger the publishing of pact files
- [ ] trigger run of build on both parts consumer (f8-ui) and pr

[2017-09-01 08:14] corinnekrych opened #740 "Remove generator-backend fork"
The [generator-backend](https://github.com/fabric8io/generator-backend) was originally forked from [launchpad-backend](https://github.com/openshiftio/launchpad-backend).
- [ ] adjust fabric8-add to not load all forge addon
- [ ] the generator-backend use version `1.0.0.CR3` of forge service. The service is now in `1.0.1.Final`. This stable version has changed the way addon are loaded.
- [ ] uncomm

[2017-09-01 08:44] invincibleJai opened #741 "Stack report doesn't render properly if user open it up immediately post successful build"
Stack report doesn't render properly if user open it up immediately post successful build, a minute later it works fine

[2017-09-01 08:47] bartoszmajsak commented on #740
There are several things to care of here. Sadly it's not a matter of simple merge.

 1. We cannot simply switch to upstream, as there were several changes made in the fork:
     * we have [`fabric8-generator`](https://github.com/fabric8io/fabric8-generator/) addon
     * we introduced [`OpenShiftServiceResource`](https://github.com/fabric8io/generator-backend/blob/eeb15127728348eb55607841ecacd09e2

[2017-09-01 09:03] #318 closed

[2017-09-01 09:03] #323 closed

[2017-09-01 09:03] #332 closed

[2017-09-01 09:03] #336 closed

[2017-09-01 09:03] #464 closed

[2017-09-01 09:47] jyasveer commented on #735
We already have the code this. This line should get us the topic_list for the components in user stack.
https://github.com/fabric8-analytics/fabric8-analytics-server/blob/master/bayesian/api_v1.py#L365

However i will check it again and close it

[2017-09-01 10:01] pkajaba commented on #710
PR submitted: https://github.com/fabric8-analytics/fabric8-analytics-tagger/pull/29

[2017-09-01 11:12] bartoszmajsak commented on #740
Old tests have been re-enabled https://github.com/fabric8io/generator-backend/pull/50. More to come as a contract PoC.

[2017-09-01 11:55] miteshvp opened #742 "Improve and Validate recommendations for .NET ecosystem"
### Description
End-user should be able to see improved recommendations for the **.NET** ecosystem for identified Supported Github Stacks

#### Acceptance Criteria
- Automated Tagging is implemented for Springboot ecosystem
- Target Recommendations of **70% accuracy**
- Recommendations will fit into the [definition](https://docs.google.com/document/d/1VM5JLrM1DCd-hKdB2RAXrarT4sZhtliXV1wRgYLi7Tg/ed

[2017-09-01 12:24] #326 closed

[2017-09-01 12:59] GeorgeActon commented on #734
@Geetika Can you assign this to yourself since you are working on it.

[2017-09-01 13:06] gastaldi commented on #740
+1 on simplifying deps on the fabric8 addon. Also as part of this merge, it would be nice to introduce a maven profile containing a dependency to the fabric8 addon, as this won't be used by the launch app

[2017-09-01 13:09] bartoszmajsak commented on #740
Yeah, profile could be one way of `Ad. 1`

[2017-09-01 13:16] arunkumars08 opened #743 "Revamping the UI design in the portal to the latest UX"
### Acceptance Criteria

- [x] Change the design for stack level information
- [x] Change the design for component level information [User components]
- [x] Change the design for component level information [Companion components]
- [x] Change the design for component level information [Alternate components]

User Story
https://github.com/openshiftio/openshift.io/issues/702

[2017-09-01 13:28] arunkumars08 commented on #701
@krishnapaparaju As per my understanding, we need to have an authentication mechanism (say Registration and Login) right inside IDEs just like we have an ability to receive tokens from the users. Since it can be cached, we don't expect the user to login every time.

If that can be achieved, we can authenticate users right at the root and that still leaves me thinking how portal's hit will be authe

[2017-09-01 13:34] arunkumars08 commented on #741
@invincibleJai The fix for this is in prod. Kindly verify and let me know in case it still persists.

[2017-09-01 15:52] alexeykazakov commented on #720
Any update on this?

[2017-09-01 18:01] msrb commented on #681
Reopening for now as this was closed by merged PR.

[2017-09-01 18:43] samuzzal-choudhury commented on #695
PRs have been merged and the changes have been being tested on the staging environment:

Server https://github.com/fabric8-analytics/fabric8-analytics-server/pull/144
Worker https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/293

[2017-09-02 16:54] krishnapaparaju opened #744 "EPIC: Crowdsourcing the intent for software components"
For OSIO analytics platform, attaching intent / meaning to packages / software components is key to generate recommendations with accuracy.

Attaching intent to packages is currently an activity in progress (eg: #712)

This request for crowdsourcing needs to be carried out with non-intrusive UX.

Crowdsourcing can be prompted in either of these of two possibilities:

(a) OSIO analytics would not h

[2017-09-03 01:44] #662 closed

[2017-09-03 02:44] joshuawilson commented on #720
@alexeykazakov Prod has you commit, which is the latest. Maybe you need a hard refresh or it doesn't do what you thought it should do.

[2017-09-03 02:56] joshuawilson commented on #743
This looks more like a user story to me that has 4 tasks/issues listed that should be the work.

[2017-09-03 04:26] alexeykazakov commented on #720
It was the cache! Closing.

[2017-09-03 04:26] #720 closed

[2017-09-03 20:26] l0rd commented on #736
Linking to an existing issue in our repo https://github.com/redhat-developer/rh-che/issues/292. I've updated that one to `severity/P1`.

[2017-09-04 04:16] krishnapaparaju opened #745 "Update SoS reports to include Analytics specific data requirements"
SoS reports provide diagnostic information for a combination packages (application stack).

To start using SoS reports as key data sources to measure (at OSIO analytics platform) health of an application stack, need to close in these two work items:

- [ ] Understand the current structure / data variables, supported application runtime versions at SoS reports
- [ ]  Document required changes / add

[2017-09-04 07:09] invincibleJai opened #746 "Post creation of Work-items through stack-reports , can't see it in planner on clicking of "view work item" link"
Post creation of Work-items through stack-reports , can't see it in planner on clicking of "view work item" link. Can see http status code 400 (bad request) in network. Caused due to change in route in planner.

<img width="1680" alt="screen shot 2017-09-04 at 3 36 32 pm" src="https://user-images.githubusercontent.com/5129024/30021978-e22b4330-9186-11e7-87b3-67670c0dc9b7.png">

[2017-09-04 07:32] miteshvp commented on #613
@SaketJNU

[2017-09-04 09:28] miteshvp opened #747 "Local Setup for PGM Training + Scoring"
#### Description
Users should be able to get recommendations for a sample stack in local environment

##### Tasks
- [ ] Local docker environment for PGM training with one sample stack
- [ ] Local docker environment for PGM scoring
- [ ] Integrate docker setup with main fabric8-analytics

[2017-09-04 09:32] ibuziuk commented on #446
@bmicklea one last question to make sure that we are on the same page. Codebase name = repository name ?
![image](https://user-images.githubusercontent.com/1461122/30020502-4a7d1300-9164-11e7-9b57-e4bc3b791b9e.png)

e.g. for `redhat-developer/che-starter` expected workspace name is `che-starter-f8zbl2is`

[2017-09-04 09:58] miteshvp opened #748 "Display reasoning for Alternative and Companion components"
### Description
End user should be shown the reason behind alternate and companion components

#### Acceptance Criteria
- Alternate components are recommended with reasoning about the outliers (usage based or license based)
- Companion components are recommended with reasoning about the confidence of co-occurrence with other stack components

##### Tasks
- [x] https://github.com/openshiftio/opensh

[2017-09-04 11:21] bmicklea commented on #446
Yes exactly

[2017-09-04 11:52] sara-02 opened #749 "Prepare ground truth for recommendation evaluation"
In order to perform evaluation of analytic model, we need a curated test data for each ecosystem. Applying the 80/20 rule, we need at least 20% manifest per ecosystem to have a curated set of recommendations.
For each file in the 20% dataset, we need:
* Alternate packages
* Companion packages
* Outlier packages (if any)

As the result will be compared against PGM scoring, no filtering or versionin

[2017-09-04 11:52] sara-02 commented on #639
Linked to #749

[2017-09-04 13:36] vpavlin commented on #744
@krishnapaparaju You speak about intent, but link to an issue talking about tags - can you, please, clarify if this is about intent (i.e. higher-level metadata) or tag (i.e. low-level metadata)?

Also your list of possibilities talks about 2 end states - none vs. all packages have intent, how would you envision possibility of "OSIO analytics has intent for some components user is using"?

Another