[2018-12-06 18:09] jarifibrahim commented on #4539
@joshuawilson Look at this peice of [code](https://github.com/fabric8-launcher/ngx-launcher/blob/be52635774b3b10ea899c3a6bb3150936d3387fe/projects/ngx-launcher/src/lib/components/targetenvironment-step/target-environment-review.component.html#L67-L72)
[code]

The spacePath comes from a shared variable.
[code]
See https://github.com/fabric8-launcher/ngx-launcher/blob/bb237b009f01980064642267acda1ba

[2018-12-06 18:20] joshuawilson commented on #4413
I've commented on the designs. They don't match the latest and there are some pages that are blank.

[2018-12-06 21:16] alexeykazakov commented on #1121
@joshuawilson instead of replicating multiple issues with broken html template rendering in notification service we can just ask the UI team to fix it once and in one place?

[2018-12-06 21:22] alexeykazakov commented on #3385
Please let us know when the template is ready to be consumed. Then we will incorporate it in backend.

[2018-12-06 22:53] joshuawilson commented on #1121
Each bug points to a different issue in the template. If you want to close them all then they should all be listed in a story to fix them.

[2018-12-07 05:39] vikram-raj commented on #4616
@joshuawilson I am working on this.

[2018-12-07 10:20] ppitonak commented on #4598
I have more information about what is going on.

* Dec 6, 2018 14:40:00 [build 4273](https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/4273/) is started and succeeds, account is reset, nothing unusual in logs
* Dec 6, 2018 15:40:00 [build 4274](https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/4274/)

[2018-12-07 10:46] yzainee opened #4619 "Parser code for ecosystems to be shifted in utils"
Planner Link:https://openshift.io/openshiftio/Openshift_io/plan/detail/1212

- [x] Move the existing npm parser in the utils

- [x] Add maven parser logic

- [x] Add test cases

[2018-12-07 11:41] sanketpathak opened #4620 "Close button is obsolete"
##### Issue Overview

In application setup window of launcher when selecting close button it asks you to leave without saving changes when selecting leave it does not give the intended result i.e.the application is created. This leaves its use as obsolete

##### Expected Behaviour
Application should not be created

##### Current Behaviour
Application is created

##### Steps To Reproduce

1. open h

[2018-12-07 11:44] sanketpathak commented on #4620
@vikram-raj  Please have a look

[2018-12-07 12:04] ppitonak commented on #4598
When I click the " See additional details in jenkins", I see the following error in browser instead of Jenkins UI.

![osio_promote2](https://user-images.githubusercontent.com/445100/49646809-97f34480-fa20-11e8-8d1c-db64f2fbc536.png)

[code]

[2018-12-07 12:09] sanketpathak opened #4621 "API giving Internal Server Error"
##### Issue Overview
`https://prod-preview.openshift.io/api/deployments/spaces/\spacID\` API giving `500 Internal Server Error`

##### Expected Behaviour
It should work properly.

##### Current Behaviour
Giving `500 Internal Server Error`.

##### Steps To Reproduce

1. open https://prod-preview.openshift.io
2. create a space
3. click "Add to Space", type some name, click "Create a new codebase"
4.

[2018-12-07 12:31] hrishin commented on #4598
@ppitonak from where we are seeing the following log?

[code]

[2018-12-07 12:37] hrishin commented on #4598
@ppitonak yeah, can see now with prod-preview Jenkins.

[2018-12-07 12:54] edewit commented on #4539
@joshuawilson seems to be a front-end issue, there is a service that get the space and other custom settings and it's used to add to the users settings, so it should always set spaceId instead using `_.defaults`

https://github.com/fabric8-launcher/ngx-launcher/blob/master/projects/ngx-launcher/src/lib/components/project-summary-step/project-summary-step.component.ts#L44-L48

[2018-12-07 13:18] edewit commented on #4539
@joshuawilson seems the `context` that includes the `spacePath` is cached here: https://github.com/fabric8-ui/fabric8-ui/blob/60d966dbd24071454e7cc0a64d17224b10520d3a/src/app/space/app-launcher/services/app-launcher-dependency-check.service.ts#L12

[2018-12-07 13:36] pmacik opened #4622 "Che workspace fails to start due to 'Unauthorized!' error"
##### Issue Overview

When creating a new application via the launcher and trying to create and open the Che workspace,
it cannot be started and the following Error dialog is shown:

![image](https://user-images.githubusercontent.com/3263627/49650596-09d18b00-fa2d-11e8-8a03-fb424ebaeb55.png)

The Error message is:
[code]

##### Additional Information
Cluster: `starter-us-east-2a`

[2018-12-07 13:58] ibuziuk commented on #4622
@pmacik please, provide info about your user / `identity_id`

[2018-12-07 14:09] pmacik commented on #4622
I have several accounts for testing and I tried this with `osio-ci-ee8` and `osio-ci-ee9`. It happens in both cases.

[2018-12-07 14:11] ljelinkova commented on #4622
It happened for my ljelinko-preview account as well.

[2018-12-07 14:15] ibuziuk commented on #4622
cc: @alexeykazakov @nurali-techie similar problem I had on prod-preview with my user (`a04ab657-b7ca-408a-9243-da60057e719d / ibuziuk@redhat.com) provisioned against `free-stg`. Could the root case be the same as in https://github.com/fabric8-services/fabric8-tenant/issues/697

[2018-12-07 14:16] pmacik commented on #4622
It happens on `osio-ci-ee1`, too.

I also tried account on `starter-us-east-2` (`pmacik@redhat.com`), and it did not happen.

[2018-12-07 14:16] ppitonak commented on #4622
Probably just a different symptom of the same root cause (expired access token), related to #4598

[2018-12-07 14:22] ibuziuk commented on #4622
@nurali-techie @alexeykazakov I'm going to switch all prod users back to usage of OSIO user token (on prod-preview  Che would still be using Che SA Token for communications with oso-proxy, so that we could continue investigation). Let me know if this works for you ?

[2018-12-07 14:33] ibuziuk commented on #4622
@ppitonak @pmacik @ljelinkova it seems to be problem related to token for particular clusters. For example all seem to work fine for users provisioned against `us-east-2`
I suspect QA team has test users on every single starter cluster. Could you please provide info on which clusters workspace startup works fine and on which it fails ? It would be super helpful for further investigation

[2018-12-07 14:35] pmacik commented on #4622
For me, the problem happens on `starter-us-east-2a` and do not happen on `starter-us-east-2`.

[2018-12-07 14:52] joshuawilson commented on #4539
Oh, that makes sense. Thanks @edewit

[2018-12-07 15:05] joshuawilson commented on #4620
This whole page is about to get updated. There is a new design for it.
The new design is here https://redhat.invisionapp.com/share/MHP7TIO3XYK#/screens/332556493_ExistingFlow-_Start and was tracked at https://github.com/openshiftio/openshift.io/issues/4193
I'm going to close this as we are already working this under different issues.

[2018-12-07 15:05] #4620 closed

[2018-12-07 15:40] ppitonak commented on #4622
I can confirm that from e2e tests PoV, only `starter-us-east-2a` is affected.

[2018-12-07 16:06] alexeykazakov commented on #4622
Yes, cluster tokens got invalidated. The SD team is working on updating them.

[2018-12-07 19:10] alexeykazakov commented on #4622
This should be fixed by now. Please reopen if it still doesn't work.

[2018-12-07 19:13] alexeykazakov commented on #4598
The token was updated. Should be fixed by now. Please reopen if it's still not working for you.

[2018-12-07 19:18] alexeykazakov commented on #4621
But does the wizard work? Were you able to create the app? Is it just an error in network window?

[2018-12-07 19:20] alexeykazakov commented on #4621
Not sure why Deployments API is called in the new app wizard at all.
Something for the UI and app creation team to clean up.

[2018-12-07 19:43] #4597 closed

[2018-12-08 02:52] joshuawilson commented on #4621
The error is `failed to GET /api/user/services due to status code 401` as 500.
I got this on prod-preview for a space that never had the pipeline run. It doesn't have an application but it should if the pipeline had run. There is an Application widget/view that is on the Analyze page that I'm guessing is calling a user services api and for some reason it is getting the 500.

I can't reproduce this

[2018-12-08 06:00] alexeykazakov commented on #4621
@joshuawilson what cluster your prod preview account provisioned to?
If it’s free-stg then it’s known and reported issue with invalid cluster token. SD team is working on updating it.

[2018-12-10 08:15] kpiwko commented on #4609
Maybe something from here? http://tryqa.com/what-are-software-testing-levels/

I think that the name should reflect how much of infrastructure the tests would require and what is mocked. It does not matter that much if that's pre-prod or prod from that regard - only difference would be that pre-prod would be *system tests* while prod *acceptance tests* but both would be end2end tests - as they exe

[2018-12-10 08:56] GeetikaBatra opened #4623 "Gemini changes to support the new json format"
**Planner Link :** https://openshift.io/openshiftio/Openshift_io/plan/detail/1215
**Tasks**

- [x] Setup Gemini

- [x] Understand Code base

- [x] Remove parser code

- [x] Add functionality to change json formats

- [x] Update tests

[2018-12-10 09:01] pmacik commented on #4622
@alexeykazakov It still does not work:
![image](https://user-images.githubusercontent.com/3263627/49720642-a2038600-fc60-11e8-8f39-473374828ff3.png)

Checked with accounts on the `us-east-2a` cluster where id does not work:
* `osio-ci-boost1`
* `osio-ci-boost2`
* `osio-ci-boost3`
* `osio-ci-ee9`

The account on the `us-east-2` cluster works fine:
* `pmacik@redhat.com`

[2018-12-10 09:32] ljelinkova commented on #4622
Added SEV1 and P1 since this affects all users provisioned on 2a clusters + all e2e jobs running with 2a cluster users (including PR checks to SAAS and fabric8-ui repository).

[2018-12-10 09:37] ibuziuk commented on #4622
@alexeykazakov I have switched all the prod users to use OSIO user token instead of Che SA token for communications with oso-proxy by changing `che.serviceaccount.lockdown` strategy from `default` to `userWithId` on prod (on prod-preview still `default` strategy & Che SA token for communications with oso-proxy are used).

@ljelinkova @pmacik please re-test workspace creation against problematic ac

[2018-12-10 09:43] nurali-techie commented on #4622
I checked oso-proxy logs and I can see the issue (401 Unauthorized) happening with `api.starter-us-east-2a.openshift.com` from `2018-12-10T03:14:27Z`.

[code]
kibana logs: [link](https://logs.dsaas-stg.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2018-12-08T21:30:00.000Z',mode:absolute,to:'2018-12-09T04:30:00.000Z'))&_a=(columns:!(_source),index

[2018-12-10 09:59] ljelinkova commented on #4622
I tried with user ```osio-ci-e2e-007``` and it still does not work (the same error).

[2018-12-10 10:03] pmacik commented on #4622
Tried with `osio-ci-ee9` and it still does not work, too.

[2018-12-10 10:08] ljelinkova commented on #4598
Reopening because the fix did not work and it may not be the root cause of this issue.

[2018-12-10 10:12] GeetikaBatra opened #4624 "API Server support for maven for vscode and build"
**Planner Link :** https://openshift.io/openshiftio/Openshift_io/plan/detail/1213
**Tasks**

- [ ] Setup API Server

- [ ] Understand Code Integration point for Vscode

- [ ] Remove dependency from parser code

- [ ] Point to the Utils parser

- [ ] Update tests

[2018-12-10 10:31] hrishin commented on #4598
@ljelinkova Is it still happening on prod-preview?

I can access the Jenkins now
![image](https://user-images.githubusercontent.com/28615674/49726673-8d40e580-fc94-11e8-832f-aaefc5a68b92.png)

[2018-12-10 11:09] ibuziuk commented on #4622
Any ideas why does it happen ? It looks like it the token used does not really mater and it is reproducible against both Che SA token and OSIO user token

@pmacik @ljelinkova `osio-ci-e2e-007` / `osio-ci-ee9` those are prod accounts, right ? Also does `2a` cluster is the only one that is affected ? Could QA provide information about all other starter clusters:

- 1a
- 1b
- 2
- 2a
- free-stg
- etc.

[2018-12-10 11:17] nurali-techie commented on #4622
@ibuziuk we have restarted oso-proxy service (for safer side) and I tired to start_che_workspace for my user (nvirani-preview) on prod-preview.  It gives `HTTP 404 - Not found`.

I am investigating on the same.

[2018-12-10 11:51] ljelinkova commented on #4622
@ibuziuk Yes, the 2a cluster was the only one affected - no other jobs failed with this issue.

[2018-12-10 11:59] pmacik commented on #4622
`osio-ci-ee9` is prod account on `2a`.

[2018-12-10 12:10] ljelinkova opened #4625 "Different Che workspace name generated based on aplication name length"
I've noticed that there is different workspace name generated based on the length of application name.
1. if application name length is < 15 characters -> the workspace name is application name + hash, e.g ```a1234567891011-fgdrg```
2. if the application name length >= 15 characters -> only hash is used as workspace name

Please see screenshot (see the combobox values)
![codebases](https://user-im

[2018-12-10 12:20] rohitkrai03 commented on #4025
@joshuawilson This has been fixed and demoed.

[2018-12-10 12:20] #4025 closed

[2018-12-10 12:23] rohitkrai03 commented on #4527
@joshuawilson Do we have a WI for this one? We will need backend support for this as well.

[2018-12-10 12:35] rohitkrai03 commented on #4591
@sahil143 @nimishamukherjee Does frontend generates email notifications for any updates to Work Item? This is the backend service https://github.com/fabric8-services/fabric8-notification which sends email notification and there are no calls to this service from frontend.
AFAIK the WIT backend is responsible to send emails for any updates in Work Item. This one is not related to UI

[2018-12-10 12:36] ibuziuk commented on #4625
currently, it is expected. Related to https://github.com/redhat-developer/che-starter/issues/225

[2018-12-10 12:37] ibuziuk commented on #4625
@tinakurian this is trivial issue, if you are interested in smth. to work in che-starter are ;-)
cc: @sbose78

[2018-12-10 12:39] ibuziuk commented on #4622
@ljelinkova could you confirm that `free-stg` is not affected ?

[2018-12-10 12:41] ljelinkova commented on #4622
@ibuziuk I am sorry we do not have any user accounts on free-stg.

[2018-12-10 12:43] ibuziuk commented on #4622
@ljelinkova ok, which clusters are covered by test users ?

[2018-12-10 12:50] ljelinkova opened #4626 "[Intermittent] Workspace fails to start"
The e2e tests have failed multiple times on che tests - the workspace was not started.
For example:
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/1203/console

![04-01-aftereach](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/1203/04-01-che-failed.png)

Or:
https://ci.centos.org/job/devtools-test-e2e

[2018-12-10 12:53] nurali-techie commented on #4622
@ibuziuk @pmacik we have fix some issue on our side.  Now, I am able to start_che_ws for my user which is hosted on `api.starter-us-east-2a.openshift.com`.  Can you plz check now start_che_ws for your users ??

[2018-12-10 12:59] jarifibrahim opened #4627 "Failed to start che workspace"
##### Issue Overview
I'm seeing the following error on **prod-preview** when starting a workspace in che
[code]
##### Steps To Reproduce

1. Open che.prod-preview.openshift.io
2. Start a workspace

[2018-12-10 12:59] rohitkrai03 commented on #4582
@joshuawilson This is because the backend is limiting the API result to 500 work items only.
This is the request that is sent to get all the work items for a space.
`https://openshift.io/api/search?page[limit]=100000&filter[expression]=%7B%22space%22%3A%22e8864cfe-f65a-4351-85a4-3a585d801b45%22%7D`
This has a limit of `100000` which is not really a good solution to begin with. But the backend then

[2018-12-10 13:01] jarifibrahim commented on #4622
I was facing this issue but I see a different failure now. See https://github.com/openshiftio/openshift.io/issues/4627

[2018-12-10 13:01] ibuziuk commented on #4627
Looks like related to https://github.com/openshiftio/openshift.io/issues/4622

[2018-12-10 13:02] ljelinkova commented on #4622
@ibuziuk Tests cover users on 1, 1a, 2 and 2a (prod + prod-preview). They do not cover free-stg.

[2018-12-10 13:03] ibuziuk commented on #4622
were the fixes applied on both prod & prod-preview ?

[2018-12-10 13:08] nurali-techie commented on #4622
@ibuziuk till now I was investigated start_che_ws issue on prod-preview only.  So now, start_che_ws should work on prod-preview.
Let me also check what's going on `prod` now.  Can you plz point me to user and cluster for which start_che_ws issue is encountered ??

[2018-12-10 13:09] chmouel opened #4628 "Jenkins Idler: Test that the token is valid before adding watches"
When the token is expired or invalidated idler would not check it and would
still try to use it again and again, it should see if there it's usuable and
back off from that cluster.

Fabric8 Jenkins Idler issue: https://github.com/fabric8-services/fabric8-jenkins-idler/issues/311

[2018-12-10 13:13] ibuziuk commented on #4622
@nurali-techie I believe those are `osio-ci-e2e-007 / osio-ci-ee9`. I will switch all prod users back for usage of the Che SA token.

[2018-12-10 13:16] chmouel commented on #4598
The issue is still that we are getting an invalid token for free-stg :

We (idler) do get the clusters from auth with the `/api/clusters`  rest path,

We get the token on prodpreview for two clusters, `free-stg` and `east-2a`

Using manually the token provided by auth to east-2a work :

[code]

The token for stg is invalid :

[code]
so we really need to get a proper token to stg to work,

having s

[2018-12-10 13:55] piyush-garg commented on #4598
@ppitonak @ljelinkova Can you please check if the issue has been resolved now? Thanks

[2018-12-10 13:56] sahil143 commented on #4591
@rohitkrai03 No, Frontend doesn't generate email notifications. WIT is responsible for email notifications.

[2018-12-10 14:05] ppitonak commented on #4598
@piyush-garg we are monitoring it closely but it's too soon to judge. Let's give it couple of hours before closing this issue.

[2018-12-10 14:09] piyush-garg commented on #4598
Thanks, @ppitonak No problem. Just from the last run seems like it is fixed. But close it whenever you are sure about it. Thanks a lot.

[2018-12-10 14:31] ljelinkova commented on #4622
@pmacik I think that is different issue because it occurs on all clusters. I've reported it here

https://github.com/openshiftio/openshift.io/issues/4626

[2018-12-10 14:31] ibuziuk commented on #4622
@pmacik this seems to be a different () error - https://github.com/openshiftio/openshift.io/issues/4627 not related to SA token.

[2018-12-10 14:34] pmacik commented on #4622
@ljelinkova @ibuziuk Got it, thanks.

[2018-12-10 14:36] nurali-techie commented on #4622
@ibuziuk @pmacik yes, it's unrelated error.  Kindly confirm if `401` is solved which I assume as with `osio-ci-ee9` user on `prod` not getting `401` anymore .. right ??
If so then would you fine to close this issue and create new for new error ??

[2018-12-10 14:40] pmacik commented on #4622
@nurali-techie Yes, I don't see the `401` anymore, so I assume this issue can be closed.
The other issue is already covered by https://github.com/openshiftio/openshift.io/issues/4626

[2018-12-10 14:43] #4622 closed

[2018-12-10 14:47] xcoulon commented on #4622
@pmacik can you confirm it's also good for you on production ? (I'm not sure to which env the `osio-ci-ee9` account is associated)

[2018-12-10 15:30] divyanshiGupta commented on #3296
@AshishDurgude @Veethika what is the status for the UX of warning page?

[2018-12-10 15:36] Veethika opened #4629 "Filter Editor For Planner - New Requirements"
New set of requirements for teh new filter editor design captired during the discussion around the use cases for query builder #4572

### Acceptance Criteria
- [ ] Explore designs for a pseudo-interface-based, predictive filter editor
- [ ] Include prompted filter presets
- [ ] Include sorting criteria as a part of the filter input and resolve the conflict with field sorting
- [ ] Explore grouping

[2018-12-10 15:38] christianvogt commented on #3296
@divyanshiGupta can you please post an update on your proposed strategy for addressing this issue now that you've had some time to investigate.

[2018-12-10 15:44] ppitonak commented on #4622
I can confirm that `osio-ci-e2e-007`is OK (prod env).

[2018-12-10 15:45] Veethika commented on #4629
@stevengutz @christianvogt @serenamarie125 @joshuawilson @nimishamukherjee
I have created a list of new req. here with points from the previous meeting. Please feel free to add anything that I'd have missed out.

[2018-12-10 15:45] Veethika commented on #4572
Closing this issue as the uses cases have been captured.
Have captured the new set of requirements in #4629

[2018-12-10 15:45] #4572 closed

[2018-12-10 16:03] ibuziuk commented on #4627
@jarifibrahim https://github.com/openshiftio/openshift.io/issues/4622 is resolved. Can we close it now ?

[2018-12-10 16:36] divyanshiGupta commented on #3296
@christianvogt I am not yet 100% sure on any one approach yet since I am yet to find a good generic solution for the URL change problem. I would prefer a modal approach since that would be easier to just have a generic modal that can be accessed from any component @AshishDurgude ^^. I have tried a few things but they didn't turn out to be the best solution. I have a few other ideas that need to be

[2018-12-10 17:09] ibuziuk opened #4630 "When reset environment / update tenant if failing no errors is reported on UI"
When errors during update-tenant / reset env happen for some reason e.g. https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2476

there are no errors on UI when update tenant / reset environment button is pressed - `Success! Your OpenShift.io environment has been erased!`

![image](https://user-images.githubusercontent.com/1461122/49533259-d40e9400-f8be-11e8-8f64-1e4a0bc35605.png)

However, ac

[2018-12-10 17:14] ibuziuk commented on #4630
cc: @alexeykazakov @joshuawilson

[2018-12-10 17:20] sbose78 commented on #4621
Verified this now. This looks fixed to me - after invalidated devtools-sre token was replaced.

[2018-12-10 17:22] sbose78 commented on #4627
Verified. Works for me.

[2018-12-10 17:24] #4627 closed

[2018-12-10 17:25] ibuziuk commented on #4627
@jarifibrahim feel free to re-open

[2018-12-10 18:16] sbose78 opened #4631 "WIT Deployments API fails with 401 to /api/user/services"
[code]

fails with
[code]
https://github.com/fabric8-services/fabric8-wit/blob/master/controller/deployments_osioclient.go#L122

Note, call to wit/api/user/services
[code]
works perfectly.

[2018-12-10 18:20] joshuawilson commented on #4621
this is now blocking the e2e tests, moving up

[2018-12-10 18:21] joshuawilson commented on #4631
related to #4621

[2018-12-10 18:23] sbose78 commented on #4631
@tinakurian Could you please investigate and see if you can catch something ? As a starting point, setting up everything locally might be hard. However, verify if  the token is being passed on to the /api/user/services call.

[2018-12-10 18:25] joshuawilson commented on #4621
This doesn't have to do with app creation as I can get to it without make a new one. Just loading the page.

[2018-12-10 19:13] alexeykazakov commented on #4618
@corinnekrych absolutely. We are planning to investigate goa 1.4 move in our cluster service - https://github.com/fabric8-services/fabric8-cluster/issues/13
Cluster service is tiny and looks like a good candidate for the first try.
But this is not a blocker for using go 1.11 - https://github.com/fabric8-services/build-tool-detector/pull/28#issuecomment-445930809

[2018-12-10 19:54] joshuawilson commented on #4630
Thanks. As long as the API responds with the error we should be able to handle it and tell the user.

[2018-12-10 20:12] joshuawilson commented on #4527
we have nothing planned nor written up on it

[2018-12-10 20:15] joshuawilson commented on #4582
Based on what you found, I'm going to remove `team/ui`. This needs to be updated in the API.

[2018-12-10 20:16] joshuawilson commented on #4589
@sahil143 please add labels

[2018-12-10 20:39] joshuawilson commented on #4591
If anyone working on the backend needs help with HTML or CSS they can ask, but that is correct, this is controlled by the backend.

[2018-12-10 21:40] alexeykazakov commented on #4564
@MatousJobanek please take a look.

[2018-12-10 21:41] alexeykazakov commented on #4564
@tolusha what's your username?

[2018-12-10 22:45] gorkem opened #4632 "ContentRepo pods on prod"
I see 3 ContentRepo pods dangling as l reported by Zabbix. I expect no ContentRepo pods to show up anymore. I am not sure if it is Zabbix or we actually have some left over pods but we should resolve this.

[1] https://zabbix.devshift.net:9443/zabbix/charts.php?graphid=8774

[2018-12-10 23:21] sthaha commented on #4628
@chmouel does this result in memory leak as well? If so I suspect https://github.com/fabric8-services/fabric8-jenkins-idler/blob/master/internal/openshift/client/openshift_client.go#L301

2 things

1. the `if err != nil` should be checked before checking `resp`
2. Must call `resp.Body.Close()` before continuing

With regards to OP, we need a way to be notified (zabbix?) if idler chooses to ignore

[2018-12-11 00:17] chmouel commented on #4628
@sthaha yup and yup, when idler goes out of control it usually goes all the way and just grow and grow until crashing by the OOM and get restarted by idler,

We need to fix what you pointed but perhaps, test the token before as well (there is some whoami and probably being bugged by a bad error check) at the time of getting it from the clusters list and then completely ignore everything that happe

[2018-12-11 06:37] abhinandan13jan opened #4633 "ToolTip not showing up in attributes table"
##### Issue Overview
ToolTip not showing up in attributes table

##### Expected Behaviour
ToolTip should show up in attributes table

##### Current Behaviour
ToolTip is not showing up in attributes table

https://drive.google.com/file/d/1pyAWzk4H5pZe347OU7sP01JSO8sKw-Il/view?usp=sharing

##### Steps To Reproduce

1. Open any 'space' in prod-preview
2. Move to 'Plan' page
3. From right corner, clic

[2018-12-11 07:09] baijum commented on #4591
This issue is marked as a "bug" as the system was providing the expected behavior before. So, when was the bug introduced, any approximate time? Also, please provide screenshots of how it looked when it was working before.

[2018-12-11 07:58] baijum commented on #4591
@sbose78 I can see the above-described behavior in the notification. But I need to get answers to the above questions that I asked.

[2018-12-11 08:19] tolusha commented on #4564
@alexeykazakov

`abazko`

[2018-12-11 08:30] jarifibrahim commented on #4631
The failure is reproducible only on prod-preview. The deployments API works fine on prod.
@sbryzak could https://github.com/fabric8-services/fabric8-auth/pull/689 have caused this?

[2018-12-11 09:41] ppitonak commented on #4598
This issue has **NOT** been caused by expired token. We have new occurences:

https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/4372/console
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/4377/console
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east

[2018-12-11 09:42] ljelinkova commented on #4598
I think that the problem with expired token was not the root cause of this issue, because we are back to Deadline Exceeded status of Jenkins deploy pod.

These are some of the jobs that failed recently:
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1784/oc-jenkins-logs.txt
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift

[2018-12-11 09:43] ljelinkova commented on #4598
The same in production.

[2018-12-11 09:49] chmouel commented on #4598
Do you have the link to the openshift logs?

I do have some issue currently on prod with gluster  timing out:

[code]

[2018-12-11 09:53] chmouel commented on #4598
if that's the [log](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/4373/oc-jenkins-logs.txt), this seems to correlate although the error seems different:

[code]

Can you show me where is the output of  `oc logs dc/jenkins` please, I'd like to know why readiness probe failed,

[2018-12-11 09:55] ibuziuk commented on #4626
@ljelinkova @ppitonak are you still able to reproduce this problem on prod ? we have changed a few che-server configs [1]  that should fix the problem. I currently can not reproduce it (Note on prod-preview we have not changed anything)

[1] https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2476

[2018-12-11 10:40] ljelinkova commented on #4626
I haven't seen this issue on prod since this morning, however, we need to let more e2e tests to run to make any conclusion.

BTW, we need to fix the prod-prev to allow PR checks for SAAS to pass.

[2018-12-11 10:42] ppitonak opened #4634 "Deployments page/applications widget doesn't work"
##### Issue Overview

Account set to beta features: deployments page and applications widget in space dashboard don't work
Account set to released features: applications widget in space dashboard doesn't work

##### Expected Behaviour

it shows deployed applications

##### Current Behaviour

applications widget:
![osio_apps](https://user-images.githubusercontent.com/445100/49795017-3f31ed80-fd39-1

[2018-12-11 10:45] ljelinkova commented on #4598
The deployment config section starts with
[code]

If you want us to add any other command to the script, just specify what shall we add.

[2018-12-11 10:48] chmouel commented on #4598
@ljelinkova thanks, can you please get us the output of :

(in jenkins namespace)

that would be much helpful to debug those,

[2018-12-11 10:53] ljelinkova commented on #4598
We do have
[code]
and I'll add `oc logs dc/jenkins`

[2018-12-11 11:02] ppitonak commented on #4598
@chmouel

how is this different from `oc logs jenkins-1-somehash`?

[2018-12-11 11:07] chmouel commented on #4598
okay right we have all the information, so definitively the issue is with :

[code]

I think we saw that error before?

you (@ppitonak or someone else chatted to @sthaha  about it, when `jenkins-home` don't get created,  it means  the tenant creation or recreation hasn't been done properly and the volume is not there,

Somehow there is an error hapenning earlier (at tenant creation) where fabric8-

[2018-12-11 11:08] sbose78 commented on #4631
The request being passed on from the WIT Deployments API to WIT user/services API doesn't pass on the Authorization header.

[code]

[2018-12-11 11:09] chmouel commented on #4598
(and as well with those sev1 issues there is multiple issues in a catch all one)

[2018-12-11 11:35] ibuziuk commented on #4626
ok, lemme apply the same config on preview

[2018-12-11 11:38] jarifibrahim commented on #4631
I tried to reproduce the error locally but the header was correctly passed to the `/user/service` endpoind.

[2018-12-11 11:39] ljelinkova commented on #4626
I've just seen this failed che test in production
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1210/04-01-che-failed.png

[2018-12-11 11:55] chmouel commented on #4598
I believe it's then related : https://github.com/openshiftio/openshift.io/issues/4121

[2018-12-11 11:57] ppitonak commented on #4634
possibly duplicate of #4631

[2018-12-11 12:06] ibuziuk commented on #4626
@ljelinkova according to the screenshot it fails to start the bayesian lsp. Could you provide events from *-che namespace ?

[2018-12-11 12:09] ljelinkova commented on #4626
These are the logs:

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1210/oc-che-logs.txt

@rhopp is also investigating this issue

[2018-12-11 12:32] chmouel commented on #4121
related https://github.com/openshiftio/openshift.io/issues/4598#issuecomment-446176893

[2018-12-11 12:45] sbose78 commented on #4634
Why is this a sev1, which flow does this block ?

[2018-12-11 12:58] ibuziuk commented on #4626
@rhopp @ljelinkova FYI new config is applied on `prod-preview`:

![image](https://user-images.githubusercontent.com/1461122/49802312-d9e7f780-fd4c-11e8-8804-1144d1f04f5b.png)

[2018-12-11 13:14] ibuziuk commented on #3257
Can reproduce against latest prod with `6.15.0` upstream:

![image](https://user-images.githubusercontent.com/1461122/49802950-c047af80-fd4e-11e8-8172-5a4f18ce3908.png)

@vparfonov any ideas? do you happen to know if there is a relevant issue upstream

[2018-12-11 13:23] AshishDurgude commented on #3296
@christianvogt @divyanshiGupta @Veethika Here it the Invision link for this issue: https://redhat.invisionapp.com/share/82PBG5XN9S6

[2018-12-11 13:30] Veethika commented on #795
@serenamarie125 ^

[2018-12-11 13:33] Veethika commented on #3692
@nimishamukherjee in the discussion a few days back we also talked about including 'ranking' column so that it could be used for sorting by priority/exec. order. It could be confusing for the user to see multiple columns with numbers. We might have to drop or change the treatment for at least one of them. let me know your thoughts.

[2018-12-11 13:36] joshuawilson commented on #4634
I would agree, this shouldn't be a SEV1. Even if this were in prod it does not block normal usage of the system. Deployments is in Beta.

Also, I have confirmed that the latest UI runs fine against the prod server. So this is not caused by a change in the UI.

[2018-12-11 13:39] joshuawilson commented on #3296
That doesn't have a flow that solves this issue @AshishDurgude. It is just a different page to opt-in. How do you get back after you opt-in?

[2018-12-11 13:44] joshuawilson commented on #3692
I know for me, in the past the systems that I used, I like to see the item number in the list.

If I'm working on the backlog with anyone else, it makes it easy to reference. You can then sort by the number to more easily find them.

That is not to say I don't want rank, I do want rank too.

They fit into different use cases that are all valid.

[2018-12-11 13:45] ppitonak commented on #4634
Applications widget is in Released.

We don't know the root cause yet so it's should be our top priority to find out.

[2018-12-11 13:47] Veethika commented on #3296
@joshuawilson in the InVision doc @AshishDurgude , users would be able to change the opt-in feature without being redirected to another page. If they choose to go to the opt-in settings page using the secondary action, the flow for coming back would be the same as what we have now.

[2018-12-11 13:53] joshuawilson commented on #3296
That flow is what I reported as the issue. As a new user, I opt-in for Planner (or anything else) and I end up in my profile without knowing how to get back. I then have to find my space and remember that I was trying to get into planner.

[2018-12-11 14:15] christianvogt commented on #4633
@abhinandan13jan did you mean that the cursor isn't switching to a pointer to indicate a clickable button?

[2018-12-11 14:22] christianvogt commented on #4617
If the modal is mounted in the dom upon open (as oppose to changing css `display) use the `autofocus` attribute on the input.

[2018-12-11 14:32] joshuawilson commented on #4621
This is not a UI issues as we can not reproduce this in prod or local. This is a broken API.

Additionally, the UI is not really able to create a 500 error.

[2018-12-11 14:34] joshuawilson commented on #4569
I think this has to do with the UI holding the Context of the space and not refreshing it.

[2018-12-11 14:34] abhinandan13jan commented on #4633
@christianvogt I see that there is a 'tooltip' attribute added to the icons but tooltip is not showing on hover as the required modules have not been imported. I am adding the required Tooltip module so that the tooltip feature shows up once we hover the icons.

[2018-12-11 14:40] divyanshiGupta commented on #3296
@Veethika but what exactly changed since the last Invision doc you posted? The flow Stated in the current doc is same as the previous one. And as @joshuawilson mentioned above, if the user goes to the settings page, and selects a feature flag, either he should be taken directly back to where he was or by clicking on some button like back button. And in above comments I have suggested that it shoul

[2018-12-11 14:40] joshuawilson commented on #4563
@gorkem I'm not sure who can fix this but I don't think it is any of us. Can you pass this to right team.

[2018-12-11 14:50] christianvogt commented on #4512
@openshiftio/uxd-team please provide guidance on removing the borders around comments. The borders are currently there because of the `show more` feature. Should we consider removing `show more` altogether as well?

[2018-12-11 14:51] Veethika commented on #3296
@joshuawilson the major problem identified by us for this issue was - to simply change an opt-in setting to view a feature, the users are directed to the settings page from where it was difficult to navigate back. This solution is an attempt to avoid the redirection to the settings page at all, until necessary. The opt-in setting is space specific and not application specific, so retaining the  An

[2018-12-11 14:55] christianvogt commented on #4362
I will test on mac and close if cannot reproduce.

[2018-12-11 15:03] alexeykazakov commented on #4121
@MatousJobanek please take a look.

[2018-12-11 15:03] alexeykazakov commented on #4598
cc: @MatousJobanek

[2018-12-11 15:04] christianvogt commented on #4599
I tried to reproduce this without success.
Moving to auth team to further investigate as this is apparently an intermittent issue.

[2018-12-11 15:11] christianvogt commented on #4352
If after investigating the issue, it's found that the service is correctly sending all pipeline info, reassign to the UI team.

[2018-12-11 15:21] christianvogt commented on #4222
@Veethika
Related to https://github.com/openshiftio/openshift.io/issues/4629 as the query builder is still in the design process.

[2018-12-11 15:32] christianvogt commented on #4122
@Veethika could you provide guidance on the sort order

[2018-12-11 15:42] christianvogt commented on #4089
This appears to have been fixed.

[2018-12-11 15:42] #4089 closed

[2018-12-11 15:48] christianvogt commented on #4074
Closing because the text is no longer cut off. Truncation can occur as a broader feature request overall in the UI.

[2018-12-11 15:48] #4074 closed

[2018-12-11 15:55] christianvogt commented on #4059
Whomever picks this up, simply change the font to align with the description. There will be no show more / less button on this field.

[2018-12-11 15:59] christianvogt commented on #4048
Consistency needs to be evaluated as a whole across the app with UXD.

[2018-12-11 16:02] jarifibrahim commented on #4631
Interestingly I can no longer reproduce the issue.

[code]

[2018-12-11 16:09] christianvogt commented on #4030
@muruGanesan the invision links are not working for me.

[2018-12-11 16:15] christianvogt commented on #4009
When the updates are available in prod, please assign to UI team.

[2018-12-11 16:21] christianvogt commented on #3972
We should look at making this a normal text area instead of a `contenteditable` element.

[2018-12-11 16:35] christianvogt commented on #3881
We will update the message to be `Please enter a valid numeric value` for the effort field.

[2018-12-11 16:44] christianvogt commented on #1375
We should be hosting a static image specifically for the notification email logo. One that's not also used by our app and processed by webpack which is adding the hash to the url name.

[2018-12-11 16:46] hrishin opened #4635 "Build: reduce the jenkins image size"
In order to fix https://github.com/openshiftio/openshift.io/issues/4568 we have baked the Jenkins plugins inside an image,  which was able to reduce the gluster storage consumption however it has increased image size from 894 MB to 1GB.

Need to optimize the Jenkins image size.

[2018-12-11 16:50] christianvogt commented on #1834
Closing as UX guidance is to continue using the current design.

[2018-12-11 16:50] #1834 closed

[2018-12-11 17:49] christianvogt commented on #1837
Looks like we need to enable the extension `EXTENSION_NO_EMPTY_LINE_BEFORE_BLOCK` in the markdown lib. See https://github.com/russross/blackfriday/issues/339

[2018-12-11 17:53] christianvogt commented on #1944
Closing as hover treatment is present to address this issue.
Responsive behaviour both small and large screens hasn't been designed and is a larger design task.

[2018-12-11 17:53] #1944 closed

[2018-12-11 18:04] joshuawilson commented on #3860
we should just not remove the `save` option

[2018-12-11 18:05] joshuawilson commented on #3860
Since you can't update right now, the user will have to just make a new query.

[2018-12-11 18:12] ibuziuk commented on #4625
Fixed on prod. Closing

[2018-12-11 18:12] #4625 closed

[2018-12-11 18:18] christianvogt commented on #3860
After looking at this with @joshuawilson, it seems like there's indeed a bug which puts the page into a bad state with respect to the save button. After deleting a saved filter, there are times where no matter what I cannot get the save button to reappear unless i refresh the page.

I got into this state by creating multiple filters, selecting the 1st filter, and then deleting the 2nd followed by

[2018-12-11 18:24] #3824 closed, assigned to nobody

[2018-12-11 18:31] christianvogt commented on #3772
We will show users as "FirstName LastName (username)" as per the invision doc.
Searching should match against full name and username.

[2018-12-11 18:40] christianvogt commented on #3709
Regardless of what implementation is currently there. Prevent adding more than 255 characters. Make sure pasting into the field also adheres to the 255 character limit. The component should never delete characters from the end of the text.

Keep newline handling as is for now even if they are collapsed to spaces.
Will wait on UXD to comment on handling new lines for display purposes and depending

[2018-12-11 18:55] christianvogt commented on #3644
@Veethika why should it appear disabled vs hidden? If disabled, is there a message informing them how to enable the capability? ie contact a space admin to add them as a collaborator?

Looks like the add work item fields are disabled but adding an interation button is still enabled and fails with a error 403 when trying to create a new iteration.

[2018-12-11 19:09] christianvogt commented on #3582
In safari, only when dragging the first row do I see the row ghosted as a the drag image. Any other row doesn't work. I also do not see the icon change when the drop area is accepted.

In all browsers, there's no clear indication where the drop will occur.

[2018-12-11 19:17] christianvogt commented on #3575
Non-collaborators can edit their own comments.

[2018-12-11 19:17] #3575 closed

[2018-12-11 19:21] christianvogt commented on #3508
This is still an issue. We should be storing the value as entered by the user. It's up to the view to escape as necessary for display purposes.

[2018-12-11 19:38] christianvogt commented on #3504
I think we can update the widget to use the `user-spaces.service#getInvolvedSpaces` function instead of using recent spaces now.

[2018-12-11 19:49] christianvogt commented on #3502
This issue has diverged from the original issue regarding closing the top most popover item using the esc key.

In general all of our components should act upon a layer system and when in a higher layer, focus should be trapped and pressing esc, if appropriate, should only close the top most popover.

Whether general navigation keybindings remain active when in a higher layer can be discussed when

[2018-12-11 19:58] christianvogt commented on #3703
Agree with @joshuawilson that the backend should ignore the time altogether and only use the date. That being said from the UI, if we require sending the time along with the date value, we should set the startAt to be `00:00:00Z` and endAt to be `23:59:59Z`.

[2018-12-11 20:05] christianvogt commented on #3484
As noted above, when the UI sends the data to the backend, it does so unescaped. The response from the backend includes the escaped characters which is incorrect. Therefore the UI ends up displaying exactly what it received.

[2018-12-11 20:06] christianvogt commented on #3508
Upon further investigation, the UI is sending the unescaped characters to the server but receiving a response with the characters escaped. The backend should send the data as is without performing any escaping.

[2018-12-11 20:07] christianvogt commented on #3508
Same backend issue affects https://github.com/openshiftio/openshift.io/issues/3484

[2018-12-11 20:14] joshuawilson commented on #3296
I didn't realize that you could click on the opt-in button on the design and that linked back to the planner.

[2018-12-11 20:21] kwk commented on #4591
In August I prepared the fabric8-wit backend to help fix this problem:

I think I have a PR or at least a branch on the notification repo that uses this revision ID to fetch information about the changes that happened in the update.

Btw. this issue was reported a while back I think but under a different title.

[2018-12-11 20:22] joshuawilson commented on #3149
It appears the error is sent in the response. We should display the error.

[2018-12-11 20:23] christianvogt commented on #3149
The error detail message isn't very user friendly:
[code]

Ideally we could use the message directly returned by the server.

Furthermore we could do client side validation to ensure the user cannot perform an invalid action such as creating a cycle in the links.

[2018-12-11 20:23] kwk commented on #4591
Btw. it might make sense to wait with this issue when I'm back from PTO/sick leave. Then we'll have to opportunity to address this on a completely different level using events instead of directly telling the notification service what to do. I'll do a cabal on this when I'm back.

[2018-12-11 21:34] joshuawilson commented on #4631
I think this issue has to do with a difference in GoLang versions

[2018-12-11 21:39] joshuawilson commented on #1375
we have the static image but we are going through rebranding and need to set the new one

[2018-12-11 21:48] christianvogt commented on #3066
As per UX guidance, our notifications should include a close button.

[2018-12-11 21:54] christianvogt commented on #3057
It certainly would be possible to preserve the state of the tree. What about a scenario where the user navigates from the tree to the tree of another space and then presses back button again. Would we expect the tree to show the previous state? Similarly if the user navigates to an external URL causing the app to reload when the user presses the back button.

I think that we should probably preser

[2018-12-11 21:55] alexeykazakov commented on #4599
Auth can’t investigate every 401. Really. We get too many of them and that’s expected. If it works In incognito mode it means there is an issue in UI somewhere most likely. Or in jenkins login since as I know it uses cookies too.
@jarifbrahim could you please provide more details. What endpoint returns 401. Any missing or invalid Autherization headers in the request?

Meanwhile I’m assigning it to

[2018-12-11 22:00] christianvogt commented on #2968
Should be dealt with by pf4 / common components.

[2018-12-11 22:03] christianvogt commented on #2411
Closing as duplicate of https://github.com/openshiftio/openshift.io/issues/2997

[2018-12-11 22:03] #2411 closed

[2018-12-11 22:08] christianvogt commented on #2951
Title is still incorrect and should be `Plan: Board - <product name>` to align with the other pages.

[2018-12-11 22:11] joshuawilson commented on #3504
This appears to work as designed and there have been changes to `Spaces`, is this still an issue?

[2018-12-11 22:15] christianvogt commented on #2950
This is still present a very bad experience.
When the user isn't logged in, they get the opt-in banner page. Upon clicking the opt-in button, the user is brought to `https://openshift.io` instead of the login page. I think this is why they are returned home instead back into the app.

That being said unless we first fix https://github.com/openshiftio/openshift.io/issues/3296, we cannot properly re

[2018-12-11 22:18] christianvogt commented on #2941
Still present...

[2018-12-11 22:20] christianvogt commented on #2878
Related to caching and https://github.com/openshiftio/openshift.io/issues/3312.

[2018-12-11 22:20] #2878 closed

[2018-12-11 22:31] christianvogt commented on #2738
Still an issue. The assignee should always be a part of the list.

[2018-12-11 22:36] christianvogt commented on #2696
Very old sentry error, code has changed a lot since then.

[2018-12-11 22:36] #2696 closed

[2018-12-11 22:38] christianvogt commented on #2646
Require guidance from @openshiftio/ux-team on expected flow.

[2018-12-11 22:40] christianvogt commented on #2603
Closing as order is defined by dnd.

[2018-12-11 22:40] #2603 closed

[2018-12-11 22:44] christianvogt commented on #2593
No longer an issue because the fields are disabled if you are not a collaborator. However why do we still continue to show the `+` button at all?

[2018-12-11 22:48] christianvogt commented on #2344
Any update from uxd?

[2018-12-11 22:55] christianvogt commented on #2303
Closing as this is an old sentry error.
Pushing data to the user is a general issue and requires subscriptions to data and event bus.
The issue according to Dana above has been fixed as the list is now cleared when the space is removed.

[2018-12-11 22:55] #2303 closed

[2018-12-11 23:01] christianvogt commented on #2290
It's janky in chrome because chrome is holding up the UI thread while it's painting and chrome's scrolling is tied to UI thread.

Firefox on the otherhand scrolls outside of the UI thread and therefore you get smooth scrolling while the UI catches up on painting.

There's nothing wrong here and it is simply an artifact of virtual scrolling. Performance of the row rendering could be improved to mak

[2018-12-12 03:38] sbose78 commented on #4631
- The issue https://github.com/openshiftio/openshift.io/issues/4631 started appearing from this commit https://github.com/fabric8-services/fabric8-wit/commit/6f27f8b50bb178a468839475f45d199c0d7602c6 , so as a response @corinnekrych was considering reverting this https://github.com/fabric8-services/fabric8-wit/pull/2375.
- However the code changes in that commit looks harmless.
- After some careful

[2018-12-12 04:10] jarifibrahim commented on #4599
@alexeykazakov I can't reproduce it right now but I've seen this failure more than a few times.

[2018-12-12 04:19] jarifibrahim opened #4636 "Logout button on Jenkins does nothing"
##### Issue Overview
http://jenkins.prod-preview.openshift.io page has a logout button on the top right corner which does nothing.

##### Expected Behaviour
Logout should work

##### Current Behaviour
Logout doesn't work :man_shrugging:

##### Steps To Reproduce

1. Go to https://jenkins.prod-preview.openshift.io/
2. Click on the logout button

[2018-12-12 04:39] piyush-garg commented on #4566
Fixed with https://github.com/fabric8-services/fabric8-build/pull/123

[2018-12-12 04:39] #4566 closed

[2018-12-12 04:53] christianvogt commented on #3296
@divyanshiGupta earlier I proposed a solution to wrap the component with a feature flag instead of doing it at the route level. I still believe this is the best approach vs a modal. One side effect of this is that the sub nav links for `Backlog`, `Board`', and `Query` will always be visible when on the `plan` page. But I feel that this is an OK compromise (UX can chime in on this).
Keep in mind we

[2018-12-12 05:34] nurali-techie commented on #3953
@alexeykazakov I will have a look :+1:

[2018-12-12 05:35] christianvogt commented on #1595
According to the docs linked above, there is `no restriction` put on the max length of the description field.

For reference github has a max length of 65536 characters for the description.
Do we really want to have an unbounded limit?

@muruGanesan I believe we should have a limit, perhaps a high one like github but a limit nonetheless.

[2018-12-12 05:38] christianvogt commented on #1551
UX guidelines ellipsis: https://docs.google.com/presentation/d/1x1iJyuqbqPedxhnduUASiJkRogh1RA8qVLIcJEGFjM0/edit#slide=id.g35442f53a6_1_86

[2018-12-12 06:42] joshuawilson commented on #4634
Since rolling back, the e2e tests pass. We have plan to deal with the issue. Is this a SEV1? Aside from tracking the removal of the Deployments page, should this even remain open?

[2018-12-12 06:43] Veethika commented on #2344
@rgarg1 @christianvogt I agree with @nimishamukherjee
For the iterations the dynamic portion of the path has to visible else the users would possibly end up looking at the exact same truncated path for all the iterations. And in the tree, it is just the name being displayed which is unique anyway, so it makes absolute sense to display the starting characters of the name. Providing consistency here

[2018-12-12 07:03] sbose78 commented on #4631
Here's what we are gonna do next:
- The updated version Golang 1.10 got used instead of 1.9.4 because centos pulled out golang and the fallback in the Dockerfile.builder installed Golang 1.10 from the website. This will be fixed as part of of the work being done on https://github.com/openshiftio/openshift.io/issues/4618
- The UI components consuming this API is being deprecated.
- Till then, we ar

[2018-12-12 07:10] Preeticp opened #4637 "Drag & Drop in Planner backlog not working, unable to reorder Work items"
##### Issue Overview

Drag and drop feature on Planner backlog is not functioning, unable to reorder work items.

##### Expected Behaviour
Drag and drop should let me reorder my WIs
##### Current Behaviour
Drag and drop does not work. I am able to drag but not drop.
##### Steps To Reproduce

1. Create WIs
2. Drag and drop to reorder.
![screenshot from 2018-12-12 12-25-20](https://user-images.githu

[2018-12-12 07:33] rhopp commented on #4626
@ibuziuk I'm afraid new config didn't help...  The issues is still happening ([for example here, from today's morning run](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/1215/04-01-che-failed.png)). And I was able to reproduce it pretty often yesterday too.

[2018-12-12 08:13] piyush-garg opened #4638 "Build Service: Refactor List and Show API"
Consider the case that there can be multiple pipeline env map in a space

Right now we are using show API as list API and always return the first map as we were considering single map in a space.

Refactor show API to get the id and return that map and implement list API to return the list of all maps in a space.

Build-service issue https://github.com/fabric8-services/fabric8-build/issues/142

[2018-12-12 08:58] Veethika commented on #3502
@rgarg1  @christianvogt pressing escape key should only close the most immediate component that user is operating within. For example, if a user is inside a dropdown in the quick preview panel, on pressing ESC first the drop-down should be exited then on pressing ESC the 2nd time the quick preview panel should be closed.

[2018-12-12 09:04] Veethika commented on #3644
@christianvogt my concern was that there would be many actions that a collaborator wouldn't be authorized to perform, hiding each one of them might result in a change of a few layouts as well.
Hiding is definitely a better option, but that could be well implemented once we are sure of the actions associated with each role.
IMO there could potentially be a larger exercise.

[2018-12-12 09:06] rgarg1 commented on #3502
I expect the same @Veethika

[2018-12-12 09:07] ibuziuk commented on #4626
@rhopp could you please provide info about the failure rate ? preferably based on periodic CI jobs. I want to understand how often does it currently happen on prod

[2018-12-12 09:08] ppitonak commented on #4634
Closing this issue, the remaining work will be tracked in linked issues.

[2018-12-12 09:10] kwk commented on #4631
Since when is Go 1.11 available in CentOS or RHEL?

[2018-12-12 09:16] #4581 closed

[2018-12-12 09:17] corinnekrych commented on #4631
See Shoubhik link https://github.com/openshiftio/openshift.io/issues/4618

[2018-12-12 09:23] muruGanesan commented on #1595
@christianvogt, is there any technical issue if we don't specify the limit?
Meanwhile, I will check with @sdash-redhat (who has done secondary research on the character limits) and get further information on this.

[2018-12-12 09:33] nimishamukherjee commented on #1225
@openshiftio/uxd-team can we re-define the story scope?
We now have quick add on the backlog page, the board view, and the query page.
Also we could consider what actions a user would perform after creating a work item.

[2018-12-12 09:37] karthikjeeyar opened #4639 "Remove multiple duplicate refresh token calls on startup"
##### Issue Overview

Post login, there are multiple timers registered in the app to call refresh token API.

##### Expected Behaviour

Application should not have multiple refresh token API calls at the same time.

##### Current Behaviour

App has multiple instances of authentication service, resulting in different refresh token timers are set up in different time interval.

##### Steps To Reprod

[2018-12-12 09:44] karthikjeeyar commented on #4639
I have brought down the refresh timer to one second, to illustrate the two api calls are made simultaneously
 in every one second.

[2018-12-12 09:44] ibuziuk commented on #4626
@rhopp ~50% rate is pretty high. Most, if not all, are currently happening during bayesian installation.
Also, I'm wondering about error message in e2e test e.g. [1]:

What does it mean ?

[1] https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1796/console

[2018-12-12 09:45] ppitonak commented on #4626
It simply means that workspace did not start, for whatever reason

[2018-12-12 09:50] ppitonak commented on #4626
BTW, I've just noticed that account are not reset on prod because of UI change. Probably not related to this error because I observed it multiple times in prod-preview.

[2018-12-12 09:51] ibuziuk commented on #4626
@ppitonak ok, but wouldn't it be better to put `Workspace failed to start` instead of non-obvious `Number of projects in che` ?

[2018-12-12 10:19] ibuziuk commented on #4626
@rhopp does this issue reproducible equally likely on prod-preview ? Am I correct that those jobs [1] are running against prod ?

[1] https://docs.google.com/spreadsheets/d/1SsC06QJSp4fptCzEsFrVvOHKbQKqaDROeH1oE97lUiQ/edit?usp=sharing

[2018-12-12 10:44] rhopp commented on #4626
@ibuziuk Today runs agains prod-preview (2 jobs, running every 2 hours). 20 runs, 4 failures on this error
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/4412/04-01-che-failed.png
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/4408/04-01-che-failed.png
htt

[2018-12-12 11:18] ppitonak commented on #4626
Fair point...I changed that and all new builds will have a more meaningful message.

[2018-12-12 11:21] ibuziuk commented on #4626
@rhopp I do not see anything obvious currently:

@rhopp do you have the same logs when workspace is failed to start for you (no obvious errors) ?

All installers are processed just fine without obvious errors, but workspace is still in a starting phase untill timeout occurs

[2018-12-12 11:31] rhopp commented on #4626
@ibuziuk That's exactly what I'm seeing and that's what perplexes me for last few days (and what I was trying to say on daily standups for last few days :-D)

[2018-12-12 13:00] ppitonak commented on #4121
I tried to reconstruct what happened, it was useful when we were debugging different Jenkins issues in the past. All times are UTC

* Dec 12, 2018 00:10:00 [build 4401](https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/4401/) starts, creates a space, new app
* Dec 12, 2018 00:14:32 e2e test creates a workspace in OSIO UI, opens Che and waits for

[2018-12-12 13:49] joshuawilson commented on #2344
It sounds like you are saying this is working the way it is designed.

I'm going to close this. If you want to redesign it, please reopen it.

[2018-12-12 13:49] #2344 closed

[2018-12-12 14:20] ldimaggi commented on #2290
Question on the closing of this issue - will we be addressing the performance of the row rendering? It's pretty awkward from a user perspective in its current form. Thx!

[2018-12-12 15:21] christianvogt commented on #3644
I agree that for now it's ok to stick with disabling the fields.

My general view is that if the user can perform an action on the page to enable the controls, they should be disabled. Otherwise they should be hidden.

I'd like UX to provide some general guidelines around this behavior and start to create their designs with this behavior in mind especially now that we have more roles and permissio

[2018-12-12 15:41] christianvogt commented on #2951
@ppitonak I was just commenting that the board title is still incorrect. I agree that a title including the summary of an issue similar to github would be more useful for when accessing an issue directly.

[2018-12-12 16:35] MatousJobanek commented on #4598
I was trying o find anything relevant in the tenant logs - related to this issue - unfortunately, I haven't found anything (which doesn't mean that there is nothing :-))

if the Reset, Clean & Apply is fast enough and OpenShift slow enough, then it can happen that some objects are still present in OS while creation of the new ones with the same name is requested.
I see two options for fixing this:

[2018-12-12 16:56] joshuawilson commented on #4637
I can reproduce this on the latest.

[2018-12-12 18:16] ibuziuk commented on #4079
@rhopp @ScrewTSW @Katka92 the gluster subvol fix is applied on 1a cluster. Will you be able to verify that volume mount problem is not  reproducible there ?

[2018-12-12 19:18] ibuziuk commented on #4626
@rhopp @ppitonak @ljelinkova hot-fix [1] has been rollout to prod. Would be really useful to get info about startup failure similar to what was provided today - https://docs.google.com/spreadsheets/d/1SsC06QJSp4fptCzEsFrVvOHKbQKqaDROeH1oE97lUiQ/edit?usp=sharing

[1] https://github.com/redhat-developer/rh-che/pull/1140

[2018-12-12 19:22] christianvogt commented on #4512
@kwk I agree that the `show more` is more pain than helpful IMO

[2018-12-13 03:33] christianvogt commented on #4617
Wait for https://github.com/openshiftio/openshift.io/issues/4616 to be fixed.

[2018-12-13 03:33] christianvogt commented on #4617
@vikram-raj can you fix this next?

[2018-12-13 03:39] christianvogt commented on #4294
Tooltip: `Add a Space`
![image](https://user-images.githubusercontent.com/14068621/49914113-135c5800-fe5e-11e8-8409-80800f7da8d3.png)

Tooltip: `Add a Codebase`
![image](https://user-images.githubusercontent.com/14068621/49914146-32f38080-fe5e-11e8-8099-285809a1a16b.png)

Tooltip: `Add a Work Item`
@muruGanesan please confirm as this button currently only brings the user to planner 0_o
![image](ht

[2018-12-13 03:52] christianvogt commented on #4101
Latest impl has a lighter font color and uses patternfly styling which applies an italic.

[2018-12-13 03:52] #4101 closed

[2018-12-13 07:56] rhopp commented on #4626
@ibuziuk So far, so good. I've checked all the runs that were executed today (since midnight). Out of 10 runs, none of them failed on this bug.

[2018-12-13 08:21] jarifibrahim commented on #4636
The `logout button` on the Jenkins page sends request to https://jenkins.prod-preview.openshift.io/logout which redirects to https://jenkins.prod-preview.openshift.io/login

[2018-12-13 09:21] ppitonak commented on #4079
I  can confirm that e2e tests started passing on this cluster. 12 of 12 runs successful so far.

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/

[2018-12-13 09:44] ppitonak commented on #4121
We have two jobs that failed with similar error but contain a different message in OpenShift events:
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1802/oc-jenkins-logs.txt
[code]

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/1221/oc-jenkins-logs.txt
[code]

[2018-12-13 09:45] chmouel commented on #4121
@ppitonak any chances you can do a `oc get pvc` before running the tests, perhaps that would help,

[2018-12-13 09:47] ibuziuk commented on #4079
@ppitonak are we positive that the fact that tests started to pass related to the gluster subvol fix (are those were failing due to slow volume mount) and not fix for https://github.com/openshiftio/openshift.io/issues/4626 ?

[2018-12-13 10:05] yzainee commented on #4619
https://github.com/fabric8-analytics/fabric8-analytics-utils/pull/17

[2018-12-13 10:22] Preeticp commented on #4598
I am also facing the same issue as mentioned above, not able to mount volume. Attaching screenshot

![jenkins](https://user-images.githubusercontent.com/16647625/49932472-1ce1d080-feef-11e8-9b01-209811748575.png)

[2018-12-13 10:31] chmouel commented on #4598
@Preeticp that's another issue, this is not an issue where the volume wasn't created but where it's timing out mounting out from gluster, from my experience the dc would come up after a while or we need to wait for gluster upgade to fix this (I am not sure where we have a issue for the upgrade)

[2018-12-13 10:37] chmouel commented on #4598
@MatousJobanek

I have seen this script floating around https://github.com/sborenst/ansible_agnostic_deployer/blob/development/ansible/configs/ocp-workshop/files/wack_terminating_project.sh not sure if this  call :

[code]

could be useful to force terminate,

for

I am not sure i understand you are suggesting, would that break some associations ?

[2018-12-13 10:58] ppitonak commented on #4079
I'm not sure but

you commented in this issue on Dec 12, 18:16 UTC
fix for #4626 got into production on Dec 12, 19:13 UTC
first successful build started on Dec 12 18:35 UTC

[2018-12-13 11:04] ibuziuk commented on #4079
@rhopp could someone from QA team with the account provisioned against `1a` make sure that it is not possible to reproduce the problem by following the `steps to reproduce` from the description ?

[2018-12-13 11:34] MatousJobanek commented on #4598
I'm not sure if force-terminating and expecting that the original PVC should be immediately correctly removed is the best solution.

it shouldn't break anything. we are already using this [logic](https://github.com/fabric8-services/fabric8-tenant/pull/675) for [cases](https://github.com/fabric8-services/fabric8-tenant/issues/674) when there are two users with the same name. TLDR explanation would

[2018-12-13 11:35] pmacik opened #4640 "Git provider appears logged out while loading user info in the launcher."
##### Issue Overview

##### Expected Behaviour
When a user goes to the git provider step in the launcher, it should look and behave appropriately - either appear logged in or be disabled while it loads the user info.

##### Current Behaviour
The form looks and behaves as if user has no git account linked for a while (the `[Log In & Authorize Account]` button is enabled and clickable) and then it c

[2018-12-13 12:59] #4619 closed

[2018-12-13 12:59] Veethika commented on #4533
the new iteration has all the tabs arranged in sequence and an additional layout option for responsive design adaptability https://redhat.invisionapp.com/share/QRPLXTAG6Z8

[2018-12-13 13:23] chmouel commented on #4598
@MatousJobanek sounds good then thanks for taking the time to describe how it works, I think that looks good then!

I think the state terminating mean the volume drive is 'recycling' the gluster volumes and it is stuck into it at that time, perhaps @jfchevrette or @pbergene can give us some advice here.

[2018-12-13 13:30] chmouel commented on #4451
There is multiple problem in this issue, one of them is in there https://github.com/openshiftio/openshift.io/issues/4598 one of them is as @JohnStrunk mentioned is the issue with the slow PV chown/mount issue which should be faster after the update and after rolling this https://github.com/openshiftio/openshift.io/issues/4568 (we decrease the amount consumed by jenkins on the gluster storage so le

[2018-12-13 13:36] GeorgeActon commented on #4582
@joshuawilson @rohitkrai03 For some reason I was not receiving notifications. To answer your question: from a user perspective:
None of the numbers are correct since none of them can be reconciled in the UI available to the user
Today the dashboard says:
1231 Total work items
3 resolved
43 in progress
15 open

In plan view:
200 in work items (this would indicate it is showing a limit of 200 return

[2018-12-13 13:37] GeorgeActon commented on #4582
@joshuawilson it is unclear to me who owns this problem since @michaelkleinhenz indicated it was not a WIT problem.

[2018-12-13 13:40] muruGanesan commented on #4030
@christianvogt,
Please try this link & let me know if you can access.
https://redhat.invisionapp.com/share/3AOH1QYH69G#/324562585_4030_Login-2-Home

[2018-12-13 13:53] serenamarie125 commented on #4185
Looks great, since there is an associated planner item, i am closing

[2018-12-13 13:53] #4185 closed

[2018-12-13 13:54] serenamarie125 commented on #4030
@christianvogt if you agree, can you add a link to the associated planner item, and we will close out.  Thanks!

[2018-12-13 13:55] ibuziuk commented on #4626
@rhopp @ljelinkova @ppitonak if the situation is stabilized, please remove P1 / SEV1 / e2e labels.

[2018-12-13 13:56] serenamarie125 commented on #2307
@joshuawilson @christianvogt please take a look at this solution.  We will review at the 12/19 stakeholder meeting as well

[2018-12-13 13:56] sdash-redhat commented on #4560
Based on the review discussion in standup on 10th, the option 2 was selected.
The only change was to rename the title of the page as "Browse Plugins" - that was updated in the same Invision link **https://redhat.invisionapp.com/share/J8PGG7D7TFP**
High fidelity of VD was provided already (https://redhat.invisionapp.com/share/J8PGG7D7TFP#/335166344_0-4-3_Visuals).

@serenamarie125 @slemeur @sivaavk

[2018-12-13 14:04] GeorgeActon opened #4641 "Scrolling problem in Plan view when using key board down arrow"
##### Issue Overview
I was scrolling through list of closed work items using the down arrow on the keyboard. When I scrolled past the first screen load at bottom of page, the list popped up half a screenload from the next page which overlaid the WI in the middle of the screen and made the overlaid line unreadable.

In plan view selected work items in backlog:
filtered for:
state: closed
workitemty

[2018-12-13 14:04] joshuawilson commented on #4582
@GeorgeActon where did he say that? Based on what @rohitkrai03 found, it looks like something in WIT.

cc @sbose78

[2018-12-13 14:14] GeorgeActon commented on #4582
This is the first thing peple see when they log in, so I think it is important that user can:
1. know what is being counted (this should be reviewed to see if these are the correct ones)
2. trust the number
3. reconcile the numbers

What is the purpose of having this overview?
it might be more useful if it was a snapshot of the crent train:
Epics: total/In progress/Closed
Stories Total/In progress

[2018-12-13 14:30] joshuawilson commented on #4030
As long as this is a bug we will track it here. We just need to change the team.

If we want to make it a Story then we will close this in favor of tracking in planner.

[2018-12-13 14:35] sunilmalagi commented on #4560
@serenamarie125 @sdash-redhat Updated the visuals with new page title 'Browse Plugins'

[2018-12-13 14:36] joshuawilson commented on #4582
I'm not disagreeing with the value of the widget. Please note, it is still at the Experimental level.

I just wanted to know when or where did @michaelkleinhenz say that it was not a WIT issue.

[2018-12-13 14:40] ppitonak commented on #4626
Is the redhat-developer/rh-che#1140 the final fix or are there any follow-up issues? I would prefer closing this issue and track the rest in more specific issues.

[2018-12-13 14:49] sdash-redhat commented on #4560
Marking as completed.
This story can be considered to be closed.

[2018-12-13 14:50] ibuziuk commented on #4626
The issue is very likely related to the fact, that currently each log entry from workspace installers is pushed to Che master via json rpc, which creates significant load and results in the fact, that che master can not create yet another native thread. This leads to the failure during workspace startup when logs from installers can not be pushed to master anymore. There is already an issue  opene

[2018-12-13 14:54] michaelkleinhenz commented on #4606
WIT Epic: https://openshift.io/openshiftio/Openshift_io/plan/detail/1153

[2018-12-13 14:54] ppitonak commented on #4626
Thanks for the list of issues. Closing the issue now and will reopen when it appears again.

[2018-12-13 14:54] #4626 closed

[2018-12-13 14:57] joshuawilson commented on #4640
I can't reproduce this. I have over a 100 repos on my account.

That said, we can disable the form until you are logged in. What do you think @openshiftio/uxd-team ?

[2018-12-13 15:40] michaelkleinhenz commented on #4582
I think this was in a BJN with George a while back.

There are two distinct issues here:

1. the total number is correct, but the state breakdown is only looking at the first window. There is an upper limit for the window size of 500 and the query will only return the first 500 of the current 1237 WIs.

2. the state breakdown in it's entirety does not make sense since we introduced the space templ

[2018-12-13 15:47] christianvogt commented on #2290
@ldimaggi reopening to track as a performance issue as it does seem more noticeable on lesser powered machines.

[2018-12-13 15:53] michaelkleinhenz commented on #4582
@GeorgeActon I'd say there should be a per WIT breakdown of states:

[code]

based on the available WITs. For this, the UI needs to get all WITs, roll over them and their possible state values and keys and fetch the data using the expression language from the WIT.

[2018-12-13 16:21] rhopp commented on #4079
PVC mount issue seems to be fixed on `1a` cluster. Workspace container starts quickly even with lots of files inside.

I've encountered another (not so critical issue) while testing that... I'll report that as separate issue.

[2018-12-13 16:41] christianvogt commented on #4030
Links are working again. Must have been an issue with invision at the time as I kept getting errors.

[2018-12-13 16:47] christianvogt commented on #4582
Based on the available data and the current design. Adding UX to chime in.

We need to agree on what the widget should show first. Thanks @michaelkleinhenz for the detailed description.

[2018-12-13 16:52] christianvogt commented on #2307
@serenamarie125 @muruGanesan  i cannot open that invision link

[2018-12-13 17:25] MatousJobanek commented on #4121
Just giving a link to my proposed solution in another issue: https://github.com/openshiftio/openshift.io/issues/4598#issuecomment-446653499
May I ask what kind of reset was used by the account? Just clean or complete delete which is enabled only at internal feature level?

[2018-12-13 17:47] joshuawilson commented on #4582
If you have an API that returns to the actual totals for each `state` in a JSON object, we could read that and display the `state` and total. This would solve both of your issues

[2018-12-13 19:02] #4637 closed

[2018-12-14 03:40] serenamarie125 commented on #4640
I think the problem being reported is that they are logged in, but it's taking a long time to show the information.  In the recording, it shows that the username is NONE for a few minutes, the Login In button is enabled and the associated fields are disabled.

In my opinion, the proper solution would be, if there is a authorized GH account,
(1) show the username
(2) disable the Log In button
(3) s

[2018-12-14 03:41] serenamarie125 commented on #4439
@joshuawilson based on the email thread held this week, there's been a decision to remove this Deployments page.  If that's the case, I assume we can close this?

[2018-12-14 03:44] serenamarie125 commented on #4048
Assigning @Veethika as she is working on #3999, which will likely solve this.

[2018-12-14 04:01] serenamarie125 commented on #4582
Assigning to myself while trying to trying to get some background information on if UX provided this design in the first place.

[2018-12-14 04:03] serenamarie125 commented on #4205
@joshuawilson I don't think this is a UX issue, seems like code not design, thoughts?

[2018-12-14 04:05] serenamarie125 commented on #3929
@rohitkrai03 has this issue been resolved by the mentioned PRs?

[2018-12-14 04:06] serenamarie125 commented on #3920
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:06] #3920 closed

[2018-12-14 04:07] serenamarie125 commented on #3919
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:07] #3919 closed

[2018-12-14 04:07] serenamarie125 commented on #3921
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:07] #3921 closed

[2018-12-14 04:07] #3922 closed

[2018-12-14 04:07] serenamarie125 commented on #3923
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:07] #3923 closed

[2018-12-14 04:08] serenamarie125 commented on #3899
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:08] #3899 closed

[2018-12-14 04:08] serenamarie125 commented on #3900
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:08] #3900 closed

[2018-12-14 04:08] serenamarie125 commented on #3901
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:08] #3901 closed

[2018-12-14 04:09] serenamarie125 commented on #3903
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:09] #3903 closed

[2018-12-14 04:09] serenamarie125 commented on #3904
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:09] #3904 closed

[2018-12-14 04:09] serenamarie125 commented on #3905
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:09] #3905 closed

[2018-12-14 04:09] serenamarie125 commented on #3906
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:09] #3906 closed

[2018-12-14 04:09] serenamarie125 commented on #3907
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:09] #3907 closed

[2018-12-14 04:09] serenamarie125 commented on #3908
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:09] #3908 closed

[2018-12-14 04:10] serenamarie125 commented on #3909
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:10] #3909 closed

[2018-12-14 04:10] serenamarie125 commented on #3910
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:10] #3910 closed

[2018-12-14 04:10] serenamarie125 commented on #3911
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:10] #3911 closed

[2018-12-14 04:10] serenamarie125 commented on #3912
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:10] #3912 closed

[2018-12-14 04:10] serenamarie125 commented on #3913
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:10] #3913 closed

[2018-12-14 04:10] serenamarie125 commented on #3914
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:10] #3914 closed

[2018-12-14 04:11] serenamarie125 commented on #3916
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:11] #3916 closed

[2018-12-14 04:11] serenamarie125 commented on #3917
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:11] #3917 closed

[2018-12-14 04:11] serenamarie125 commented on #3918
Closing out Design Standardization tasks as related to the wiki

[2018-12-14 04:11] #3918 closed

[2018-12-14 04:18] serenamarie125 commented on #4479
Agreed that we need to handle these issues gracefully.

@joshuawilson I know this issue is about GH, not OpenShift, but I was asking about how we display the fact that OpenShift isn't available to the user, to evaluate if we should use a similar pattern.

@christianvogt are we able to identify all the areas which need GH availability?  If so, upon user action, we could proactively check if GH is a

[2018-12-14 04:21] serenamarie125 commented on #4417
@sdash-redhat can you please do some investigation regarding past issues and designs mentioned above and come up with a proposal?

[2018-12-14 04:37] serenamarie125 commented on #4273
If there is a performant way to query across spaces, I would suggest that we alter the drop-down to include an "All Spaces" option.  This will enable users to quickly get an understanding of their workitems across their spaces quickly.  Thoughts @joshuawilson @christianvogt ?

[2018-12-14 04:37] christianvogt commented on #4479
@serenamarie125 I was thinking that if we have a notification panel or something this is where we can put this type of information as soon as the user enters the app.

Sure we could compile a list of all areas that require GH.

If we already know that GH, or any other dependent system is down, we could indicate that actions aren't available.

[2018-12-14 04:44] yzainee commented on #4535
@chmouel AS mentioned earlier as well, i dont understand why is analytics stack report blocking any of this? You can go ahead and merge the changes for the new pipeline. The analytics part wont work but it wont affect the build pipeline. When we add the analytics support for maven, you will start seeing the stack report. I dont know how can this be blocking?

cc @sivaavkd

[2018-12-14 04:46] christianvogt commented on #4273
@serenamarie125 that seems very reasonable to me. GH also allows this.

[2018-12-14 04:50] serenamarie125 commented on #4267
Looks like JIRA tops out at 1e+14 for story points.  @stevengutz should we do the same here ?

[2018-12-14 04:51] serenamarie125 commented on #4222
@Veethika please be sure to include this as part of #4629

[2018-12-14 04:58] serenamarie125 commented on #4122
@Veethika I agree that Iterations should be sorted alphabetically by name, do you agree?

[2018-12-14 05:03] serenamarie125 commented on #3799
Closing out all design wiki stories

[2018-12-14 05:03] #3799 closed

[2018-12-14 05:04] serenamarie125 commented on #3732
@slemeur are you still waiting on anything related to this Issue?

[2018-12-14 05:11] serenamarie125 commented on #3709
Agreed that we shouldn't allow more than 255 characters.  IMO we should allow for new lines.

[2018-12-14 05:15] serenamarie125 commented on #3599
@muruGanesan can you look into this and see what's needed?

[2018-12-14 05:18] serenamarie125 commented on #3366
Closing as this widget has been removed from OSIO

[2018-12-14 05:18] #3366 closed

[2018-12-14 05:20] serenamarie125 commented on #3093
This is addressed by #4191 so closing this issue

[2018-12-14 05:20] #3093 closed

[2018-12-14 05:31] serenamarie125 commented on #905
@joshuawilson I don't think we should be addressing this, given that we are making the IA changes.

[2018-12-14 05:36] sivaavkd commented on #4535
This has been discussed few times already - in MM, in sprint demos, SoS report email etc and this was not a blocker earlier. We have it as a user story/feature request in our sprint 159 plan and we are working on it.  It will take till end of the sprint to complete it.

@yzainee @GeetikaBatra  - I read the comments in #4547 and looks like the issue found in that can be fixed only by moving to new

[2018-12-14 05:57] sdash-redhat commented on #4417
Sure @serenamarie125

[2018-12-14 05:59] Veethika commented on #4122
@christianvogt @serenamarie125 @invincibleJai
The sorting for iteration should definitely be on the basis of 'Start date'. At a later stage we could provide an option to sort by dates or names, but as a default, it should always follow the start date.
**Why?**   There could be situations in which the names might not follow a sequence(alphabetical/numerical), as they are merely there for identifica

[2018-12-14 06:06] baijum commented on #4582
@michaelkleinhenz Added WI to track it here: https://openshift.io/openshiftio/Openshift_io/plan/detail/1249

[2018-12-14 07:12] #4639 closed

[2018-12-14 10:15] muruGanesan commented on #1976
@joshuawilson, @christianvogt
Based on my comparison study 'Trello, VersionOne & Jira' allow users to 'create and assign'  labels at the same time.
From UXD; we proposed the following design on Mar'18... (but I am not sure about status i.e. whether we considered the design for implementation or not)

Could please review the below design? Let me know if this makes sense or not.
Based on your feedba

[2018-12-14 10:52] ljelinkova commented on #4435
Maybe this is more of a UX issue - what should be displayed to user, if no boosters are loaded (e.g. due to backend failure).

[2018-12-14 14:00] GeorgeActon commented on #2222
@msrb I see #2480 has been closed. Does that mean this defect can be closed as well?

[2018-12-14 14:03] joshuawilson commented on #4640
@serenamarie125 they are 2 different calls to GitHub.

[2018-12-14 14:08] joshuawilson commented on #4205
Agreed

[2018-12-14 14:14] joshuawilson commented on #4273
Agreed. Then we could set the `all spaces` option as the default.

[2018-12-14 14:18] joshuawilson commented on #4267
Who would ever need `100000000000` story points? That is 100 Billion. :-)

[2018-12-14 14:22] #905 closed

[2018-12-14 14:34] joshuawilson commented on #1976
Why not have a settings page where they can be managed like github? How do you delete a label that is wrong or you don't want anymore?

As for directly adding a new label; is it a 2 step process? Add and then once added, Assign?

[2018-12-14 14:37] joshuawilson commented on #4435
cc @openshiftio/uxd-team

[2018-12-14 14:38] ldimaggi commented on #4479
@christianvogt   Giving the users that type of information when they login would be a big help - and it would also be much simpler than trying to provide real-time updates on the health and accessibility of external systems on which we depend.

[2018-12-14 14:41] joshuawilson commented on #4479
Providing it initially makes sense, but what if you have been using it all day. I can go days without logging out. It should also appear when we make a call to the service and it is down. Unless we have some status widget that regularly checks and updates it's self.

[2018-12-14 14:53] ibuziuk commented on #4079
@rhopp closing this issue

[2018-12-14 14:53] #4079 closed

[2018-12-14 14:56] muruGanesan commented on #1976
@joshuawilson, thanks! I am also thinking on this same line...because that is a scalable solution.
Let me create a low fidelity mockup which will contain 'create, assign and manage' flows.

[2018-12-14 15:51] invincibleJai opened #4642 "Stack-analyses GET call returns null for some Projects"
Issue Overview :

Tried stack analyses on https://github.com/fabric8io/kubernetes-client, POST was success with stackID: 4fbfcfab8a1a403e9b7124b8dfba2977.

On GET stack-analyses getting null in response as well as in

[code]

Expected Behaviour:

It should show details stack analyses for all the dependencies.

[2018-12-14 15:55] abhinandan13jan commented on #4267
After the PR (https://github.com/fabric8-ui/fabric8-planner/pull/2816), the input limit for all float fields have become -2^32 to 2^32. As story-point and Effort are float fields, this range will apply to these fields as well.

[2018-12-14 16:34] samuzzal-choudhury commented on #4642
Root cause:
1. [Mercator could not find the value of 'type'](https://github.com/fabric8-analytics/mercator-go/blob/master/handlers/java_handler/src/main/java/mercator/MavenUtils.java#L231) in [the effective POM](https://gist.githubusercontent.com/samuzzal-choudhury/053b34771da9d542abac8fd4e7f53402/raw/c2f5945803bc3b35b7f93a33bf99fe375406c48e/pom.xml) and forms a structure `groupid:artifactid:type:

[2018-12-14 17:03] joshuawilson commented on #4267
That is a good point, we now have the javascript limit on the field. However, I think it would be reasonable to limit it further.

Easier to user, easier to test.

[2018-12-14 19:03] christianvogt commented on #4640
@serenamarie125 our app has many problems dealing with async data. We tend to show incorrect information while data is loading instead of proper progress. This is just another case where this is happening.

I agree with your suggested solution. We may not be able to show the username until the call returns (not confirmed).

[2018-12-15 03:14] christianvogt opened #4643 "changes to work item description is lost when editing title before saving description"
Work item description is lost if user clicks to edit the title before saving their description.

1. Open any work item
2. Change the description
3. Click the preview button
4. Click the markdown button
5. Click to edit the work item title
**Observe** the changes made earlier to the description are lost.
**Expected** the changes made earlier to the description to remain.

This is exceptionally pain

[2018-12-15 07:38] muruGanesan commented on #4030
@christianvogt, thanks!
@joshuawilson, if engineering team is going to handle this issue then I would like to remove UXD (i.e. my name) from the assignees' list.

[2018-12-15 08:05] muruGanesan commented on #4017
@joshuawilson, thanks.
I too discussed with  @hrishin about the same point. [It is difficult to separate UI from the Jenkins status]
Considering the above scenario, we can do only the visual enhancement i.e. height, width, and the display position of both pop-ups/dialog boxes should be same.

[2018-12-16 05:07] miteshvp commented on #4642
Looks like `type=bundle` would solve the case. Guess, fix should be done at mercator level. WDYT @samuzzal-choudhury ?

[2018-12-17 01:30] gorkem commented on #4547
#4535 is not a blocker for migrating **only** thorntail, please go ahead and enable thorntail without waiting for it. #4535 is a blocker for migrating all other boosters.

[2018-12-17 01:33] gorkem commented on #4535
@sivaavkd @yzainee This is not a blocker for thorntail migration but this will quickly become a blocker when we decide to move rest of the boosters to the new pipeline library so treat it as such.

[2018-12-17 04:32] chmouel commented on #1838
I don't believe this ever has been reported again, so after almost one year we can close this,

[2018-12-17 04:32] #1838 closed

[2018-12-17 04:33] chmouel commented on #3349
This should get better with the new Gluster deployment, I am going to close this for now,

[2018-12-17 04:33] #3349 closed

[2018-12-17 05:57] yzainee opened #4644 "Stack report not getting generated from build pipeline"
Issue Overview:

The stack report is not getting generated via the build pipeline. The problem is that when we try to get the github token via the auth API "https://auth.openshift.io/api/token?for=https://github.com" , by passing the OSIO token, we are getitng back "unauthorized_error" and hence we do not get the git hub token. Due to this, the 1st step of stack analysis, where we clone the github

[2018-12-17 06:16] nurali-techie commented on #4618
@sbose78 I see that f8-wit also would face same issue with http/proxy and reverseproxy which f8-auth faced in last week.

Issue: https://github.com/fabric8-services/fabric8-auth/issues/734
Fixed f8-common: https://github.com/fabric8-services/fabric8-common/blob/master/httpsupport/proxy.go#L165-L186
Need Fix f8-wit: https://github.com/fabric8-services/fabric8-wit/blob/master/rest/proxy/proxy.go#L12

[2018-12-17 06:40] sbose78 commented on #4644
Go to settings and reconnect Github ? https://openshift.io/shbose/_settings ( should look something like this )

[2018-12-17 06:44] abhinandan13jan opened #4645 "Broken CSS (LESS compilation) in Table Config component"
##### Issue Overview

CSS broken in Table Config component
(Local setup of master - fabric8-ui)

##### Expected Behaviour
Table should be listed properly with appropriate width
##### Current Behaviour
Available attribute portion appears to be broken

##### Additional Information
![screenshot from 2018-12-17 12-08-44](https://user-images.githubusercontent.com/24852534/50070748-3a67b080-01f5-11e9-81

[2018-12-17 06:46] yzainee commented on #4644
@sbose78 This is not an issue with the user's OSIO token, this is the issue with the OSIO token (offline) that we get during build pipeline flow

[2018-12-17 07:07] alexeykazakov commented on #4618
Right. This is why I’ve created a PR to update WIT a week ago - https://github.com/fabric8-services/fabric8-wit/pull/2377
Still waiting for review.
Just be aware that you are about to break proxy used in WIT without merging https://github.com/fabric8-services/fabric8-wit/pull/2377

[2018-12-17 07:11] SriKrishnaPaparaju commented on #4644
am not sure if using offline OSIO token to clone repos.

[2018-12-17 07:14] yzainee commented on #4644
@SriKrishnaPaparaju We dont use offline token to clone repos. The offline token is used when we call the auth APIs to get the github token. Later we use the token to clone the repos

[2018-12-17 07:52] sdash-redhat commented on #4417
While going through previous works and various feedbacks, here is what I believe the major contents of the email body (Refer the image below)-
Short Description – It gives a first glance  what can not be conveyed through the title alone. This also helps when the subject line is cut in inbox depending on the email client/resolution/on mobile device  etc. This is basically a complete form of the sub

[2018-12-17 08:33] Preeticp opened #4646 "Welcome to Codeready Toolchain screen does not let a user create a new space or import"
The 'Welcome to Codeready Toolchain' screen, which you see when you have no spaces and are not a collaborator on any space, does not let a user create a new application or import.

Expected behavior:
Clicking on 'Create new codebase' or 'Import existing codebase' should take the user to create space screen and so on.

Actual Behavior:
Nothing happens when you click the create or import buttons, us

[2018-12-17 08:34] sbose78 commented on #4644
osio hardcoded token is not used for github API calls. Only user's OSiO tokens could be used for such calls.

[2018-12-17 08:44] abhinandan13jan commented on #4645
Will be fixed for this component with PR #3450( https://github.com/fabric8-ui/fabric8-ui/pull/3450 ), there might be LESS related issue in other components as well.

[2018-12-17 09:22] msrb commented on #4642
mercator is actually right here: `io.fabric8:openshift-client::bundle` is a valid package name. It's equal to `io.fabric8:openshift-client:jar:bundle` (type `jar` is default).

[2018-12-17 09:31] msrb commented on #4642
We have [`MavenCoordinates`](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/utils.py#L320) class in worker that can help with this.

[2018-12-17 09:38] msrb commented on #4642
Yeah, I think backbone should not assume that there are no extra `::` pairs in the package name. If we want to keep using `::` as a delimiter in backbone, then we should rewrite the split logic and only consider the left most part to be ecosystem, right-most part to be version, and keep everything in between untouched.

[2018-12-17 10:32] ppitonak commented on #2290
For the record, I can reproduce it on a high-end laptop.

[2018-12-17 12:50] sbose78 commented on #3742
@sthaha @rupalibehera @tinakurian
Could you please add the above context to this issue in comments so that someone else could pick this up?

[2018-12-17 12:57] ppitonak commented on #4121
Our accounts are set to either `beta` or `released` features. it clicks on Profile -> Edit Profile -> Reset Environment

[2018-12-17 13:02] miteshvp commented on #4642
@msrb @samuzzal-choudhury - the actual ingestion creates package-name as `io.fabric8:openshift-client:bundle` . Still this will fail even with whatever Michal proposed because it will translate package-name to `io.fabric8:openshift-client::bundle` Note extra `:`

[2018-12-17 13:04] piyush-garg commented on #3742
@sbose78

[code]

Hope this helps. Thanks

[2018-12-17 13:08] bmicklea commented on #4598
What's the latest status on this?

[2018-12-17 13:21] joshuawilson commented on #4030
@muruGanesan that is the work flow that we follow. I had already changed the team from UX to UI. I just removed you as a user. You can do both of those when you are done with your work on the issue, that way someone else can pick it up.

[2018-12-17 13:37] serenamarie125 commented on #4560
Closing out the story since this is completed.

[2018-12-17 13:37] #4560 closed

[2018-12-17 13:38] serenamarie125 commented on #4198
@sdash-redhat please put this on the stakeholder meeting for December 19th

[2018-12-17 13:38] serenamarie125 commented on #4190
@sdash-redhat please put this on the December 19th stakeholder agenda

[2018-12-17 13:40] serenamarie125 commented on #3655
@sdash-redhat please put this on the agenda for the Dec 19 stakeholder review, so we can be sure that it has been implemented already

[2018-12-17 14:17] muruGanesan commented on #4198
@serenamarie125, @sdash-redhat,
This git story is overlapping with #4193, I created the flow, reviewed with stakeholders, and closed.
This story can be closed...

Invision link:
https://redhat.invisionapp.com/share/MHP7TIO3XYK#/332556491_Proposed_Change-_Space_Dashboard

[2018-12-17 14:32] christianvogt commented on #2747
Seems related to https://github.com/openshiftio/openshift.io/issues/4030

[2018-12-17 15:09] ppitonak commented on #4634
Broken again in prod-preview.

[2018-12-17 15:19] sbose78 commented on #4634
Should be fine again.

[2018-12-17 15:35] ppitonak opened #4647 "New dashboard: promoting the pipeline doesn't provide any feedback"
##### Issue Overview

When user promotes clicks the Promote button, it disappears after a while and doesn't provide any feedback of what is going on.

##### Expected Behaviour

User knows that something is happening.

##### Current Behaviour

![crt_promote_new_dashboard](https://user-images.githubusercontent.com/445100/50097193-9d6b3e80-0219-11e9-9017-d5b9dfba02f7.gif)

##### Steps To Reproduce

1

[2018-12-17 15:55] ibuziuk commented on #4634
@sbose78 would be great to understand what was done to fix it ;-)
e2e tests have been failing for dozens of times

[2018-12-17 15:59] ppitonak opened #4648 "New dashboard: user doesn't know the status of new pipeline"
##### Issue Overview

User doen't know what is the current status of a new pipeline/new build until the `Build Image` stage finishes successfully and the application is deployed to the stage environment.

If the build fails, the dashboard will be displaying spinner forever.

##### Expected Behaviour

User knows the status of new pipeline/build at each moment.

##### Current Behaviour

![crt_new_pi

[2018-12-17 16:07] sbose78 commented on #4634
@ibuziuk , WIT is on a deployment freeze till we drop a couple of features from the UI . One of the folks had updated it on prod-preview - I've reinforced the freeze by reverting it.

[2018-12-17 16:07] ppitonak opened #4649 "New dashboard: confusing navigation"
##### Issue Overview

In the old space dashboard it was possible to navigate from the dashboard to codebases, planner and pipelines page easily. Now the user needs to use menu (i.e. he needs to know where to find these views).

##### Expected Behaviour

Widget name is a hyperlink that takes the user to the corresponding view, as in old dashboard

##### Current Behaviour

New dashboard:
![crt_new_d

[2018-12-17 16:21] ldimaggi commented on #3742
That explains the intermittent nature of the issue.

[2018-12-17 17:22] joshuawilson commented on #4634
The Deployments widget and page is displaying in prod-preview. I'm closing this.

[2018-12-17 17:22] #4634 closed

[2018-12-17 17:34] joshuawilson commented on #4648
@openshiftio/uxd-team please advise

[2018-12-17 17:36] joshuawilson commented on #4649
@openshiftio/uxd-team please advise.

[2018-12-18 03:11] serenamarie125 commented on #4198
This work was incorporated into #4193 so closing this story.

[2018-12-18 03:11] #4198 closed

[2018-12-18 03:38] serenamarie125 commented on #4640
@AshishDurgude can you please work on high fidelity mocks for these and incorporate into an Invision using the notes in the right side of the invision ?

![gitproviderauthorization](https://user-images.githubusercontent.com/12504403/50130632-7ed26b00-024c-11e9-8890-2206f18e5b2f.png)

[2018-12-18 03:48] sdash-redhat commented on #3655
@serenamarie125 This was later addressed by  **Improve the My Spaces page #4326** which was reviewed and closed.

[2018-12-18 04:09] joshuawilson commented on #4649
Thanks @serenamarie125

[2018-12-18 04:11] joshuawilson commented on #4648
@serenamarie125 I forgot about that change, that should solve this issue nicely. Can you link to the issue with that is tracking that design?

[2018-12-18 05:06] muruGanesan commented on #4648
Please see this issue also #4193:

Here is the Invision link of the same:
https://redhat.invisionapp.com/share/MHP7TIO3XYK#/332556491_Proposed_Change-_Space_Dashboard

[2018-12-18 09:18] piyush-garg commented on #3160
@joshuawilson Adding team-ui label. If the issue is not there now, please close this. Thanks

[2018-12-18 09:22] piyush-garg commented on #4598
@ljelinkova @ppitonak Any updates about how the tests are performing now?

[2018-12-18 09:41] divyanshiGupta commented on #3951
@Veethika is the UX ready for this?

[2018-12-18 09:48] ppitonak commented on #4598
@piyush-garg observed twice in last 24 hours but there is a problem in Launcher at the moment so many builds didn't get that far.

https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/4548/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1248/console

[2018-12-18 10:01] jarifibrahim commented on #4631
Here's what we'll be doing to investigate the failure.
## What we know till now
- The `/deployments/spaces/spaceID` API on WIT calls the`/api/user/services` endpoint on  WIT (wit to wit api call)[0]. The `/deployments/spaces/spaceID` API receives the `Authorization` header but the `/user/services` endpoint doesn't receive the `Authorization` header and the `JWT middleware` fails with missing heade

[2018-12-18 10:08] sbose78 commented on #4631
:+1: CC @ppitonak

[2018-12-18 10:11] jarifibrahim commented on #4634
We will be investigating the failure which caused this SEV-1. This SEV-1 is expected to show up again while we are investigatin the failure. Please see https://github.com/openshiftio/openshift.io/issues/4631#issuecomment-448164687.

[2018-12-18 10:33] chmouel opened #4650 "Build: Test ignore"
Hello this is a test please ignore,

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/148

[2018-12-18 10:34] #4650 closed

[2018-12-18 11:13] piyush-garg commented on #4632
@pbergene @jfchevrette can you please take a look and also lets us know if anything is required from build side

[2018-12-18 11:14] ppitonak commented on #4517
Any updates?

[2018-12-18 11:15] muruGanesan commented on #3599
@serenamarie125,  thanks, I will look at this issue.

[2018-12-18 11:46] pbergene commented on #4632
Ah, nice catch :)

[2018-12-18 11:50] ppitonak commented on #4617
When is the next deployment to production planned?

[2018-12-18 11:56] muruGanesan commented on #4294
@christianvogt,
I could see a lot of changes from the original 'space dashboard' design.
I will recheck the design again & get back with an appropriate answer.

CC: @serenamarie125, @sunilmalagi, @AshishDurgude

[2018-12-18 11:59] pbergene commented on #4632
Pods are 21 days old.  Probably coincides with latest upgrade and they got rescheduled. Familiar names on all the namespaces.  DCs have been removed manually, but this state should be managed.

[2018-12-18 11:59] #4632 closed

[2018-12-18 12:41] hrishin commented on #4517
Not yet Pavol. Give us day or two will give an update.

On Tue, Dec 18, 2018 at 4:44 PM Pavol Pitonak <notifications@github.com>
wrote:

--
Hrishikesh | +91 7276 342274 | IRC: hshinde

[2018-12-18 12:59] joshuawilson commented on #3951
@divyanshiGupta for now, you can just auto-save it. That is the normal use of a form.

[2018-12-18 13:19] joshuawilson commented on #4617
shortly

[2018-12-18 13:30] ppitonak opened #4651 "Deployments: CPU usage is nearing capacity"
##### Issue Overview

User sees a warning that CPU usage is nearing capacity in prod-preview (cluster 2a)

##### Expected Behaviour

Page reports status OK

##### Current Behaviour

![deployments](https://user-images.githubusercontent.com/445100/50157278-50e33a00-02d1-11e9-83fd-01dccd295a53.png)

##### Steps To Reproduce

1. create a space and new app
2. wait for pipeline to finish
3. go to Deploy

[2018-12-18 13:38] joshuawilson commented on #4617
in prod now

[2018-12-18 13:40] joshuawilson commented on #4294
That is a good point, @Bumbilo please ensure this works on each feature flag level.

[2018-12-18 13:42] joshuawilson commented on #4651
Not sure what the issue is here, can you please explain?

[2018-12-18 14:12] gorkem commented on #4632
When should we start seeing the zabbix chart to reflect the change?

[2018-12-18 14:20] divyanshiGupta commented on #3951
@joshuawilson okay :+1:

[2018-12-18 14:20] pbergene commented on #4632
The pods were left in terminating for a while, and still are.  I've done a delete pod --now, to see if this helps.  If not they'll go away when os decides to kill them, but not picking this up as a priority.

[2018-12-18 14:21] ppitonak commented on #4617
Fixed in prod, closing.

[2018-12-18 14:21] #4617 closed

[2018-12-18 14:40] slemeur commented on #4560
Confirming that the mockups are good for me.

[2018-12-18 15:19] ppitonak commented on #4651
I'm not sure if it is an issue or not... it's just strange that it uses so much resources on one account and not on others.

[2018-12-18 15:56] muruGanesan commented on #4294
I collected the latest space dashboard design from #4196.
Here is the design file URL:
https://redhat.invisionapp.com/share/A5POLEI7TEG#/337627441_latest-SpaceDashboard

CC: @serenamarie125, @sunilmalagi, @AshishDurgude, @Veethika

[2018-12-18 17:15] christianvogt opened #4652 "feature flag beaker"
The feature flag beaker icon currently adds little value to the user. It indicates there are features on but not where they are. The names are also cryptic with no description of the feature. There's also no action to take from the popup.

![image](https://user-images.githubusercontent.com/14068621/50170343-b9c0b700-02bd-11e9-9995-e4c61a98e0af.png)

I suggest we improve the user experience here in

[2018-12-18 17:49] christianvogt commented on #4294
@muruGanesan are these confirmed to be the final changes?

[2018-12-18 19:37] msrb commented on #2222
Yes, thanks.

[2018-12-18 19:37] #2222 closed

[2018-12-18 20:17] msrb commented on #4642
I'd expect ingestion pipeline to fail as there is no such package in Maven Central.

[2018-12-18 20:18] joshuawilson commented on #4323
@kwk do you mean planner labels that are like tags or Kube labels?

[2018-12-18 20:20] msrb commented on #4642
There are data for the package in S3 (with the incorrect name), but all of them are from June 2017.

[2018-12-18 20:30] kwk commented on #4323
@joshuawilson. In planner we have labels that are like tags. And as github does it, we could have a set of default ones that each project gets when created.

[2018-12-18 21:09] joshuawilson commented on #4323
Github has a set of default labels, we could start by matching them.

[2018-12-18 21:43] christianvogt commented on #3951
@Veethika The UX here has to change if we implement auto save. We cannot have an ok cancel button if we immediately apply the change on leaving the field.

[2018-12-19 01:58] alexeykazakov commented on #4574
Che works fine with updated template:

![osd-che](https://user-images.githubusercontent.com/620087/50194163-80546f80-02ee-11e9-9f0c-df3191420cd2.png)

[2018-12-19 05:10] #4616 closed

[2018-12-19 05:17] #1994 closed

[2018-12-19 05:18] #4633 closed

[2018-12-19 06:37] yzainee commented on #4605
@nurali-techie I am not getting the emails again. Here is the payload
Payload {'data': {'attributes': {'custom': {'cve_count': 3, 'transitive_updates': [{'cve_count': 1, 'cves': [{'CVE': 'CVE-2017-16138', 'CVSS': 5.0}], 'is_transitive': True, 'ecosystem': 'npm', 'name': 'mime', 'version': '1.3.4'}, {'cve_count': 1, 'cves': [{'CVE': 'CVE-2017-16119', 'CVSS': 5.0}], 'is_transitive': True, 'ecosystem

[2018-12-19 07:16] chmouel commented on #1103
From a discussions we had with @sspeiche OpenShift 4.0 is planned to be released with a DockerBuild that uses Buildah which would be enabled as default on OSO/OSD,

We would be able to close this issue by then

[2018-12-19 07:17] chmouel commented on #1307
this depends on https://github.com/openshiftio/openshift.io/issues/1103  which would hopefully be fixed by openshift 4.0 timeline,

[2018-12-19 07:27] chmouel opened #4653 "Osio Pipeline: Override BuildConfig timeout"
We need to find a way to override the BuildConfig timeout.

Patching the spec of the buildconfig with the [completionDeadlineSeconds](https://docs.openshift.com/container-platform/3.6/dev_guide/builds/advanced_build_operations.html#builds-setting-maximum-duration) option,

Ideally we want to have a different timeout by "cluster", i.e: if it's on OSIO
or on OSD.

Osio Pipeline issue: https://github

[2018-12-19 07:34] chmouel commented on #4406
This seems to be our issue with the storage, it was waiting too long to release the PVC, this could be  the AWS  EBS storage timing out or gluster who was doign some operations timing out,

I am going to close this issue since we don't have any `oc get ev` and gluster new version should be better with this, we can reopen this if this shows up again,

[2018-12-19 07:34] #4406 closed

[2018-12-19 07:39] chmouel commented on #4504
@pbergene do we have any quota on IO thoughtput or disk size limitations on the gluster volume ?  This is an IO error coming back from the linux kernel/vfs which would come from the gluster underneath.

[2018-12-19 07:40] chmouel commented on #4598
I have unassigned myself, this is not something we can solve from the build side, as stated before this is or the test or fabric8-tenant that can fix this,

[2018-12-19 08:19] Veethika commented on #3951
@christianvogt Right, my solution swayed towards the opening and closing the panel which should be addressed in a different story altogether. For this issue, the work-item should not be reloaded everytime a user begins to edit a field.
But the state of the fields has to be maintained for a 'session' if I'm not wrong. So are we referring to end of the session as 'until another work item is selected

[2018-12-19 08:56] sanketpathak opened #4654 "Planner functional tests are failing"
##### Issue Overview
Planner functional tests are failing at Prod and Prod-preview

##### Expected Behaviour
Tests should pass

##### Current Behaviour
Tests are failing

##### Steps To Reproduce

1. Open E2E tests for Planner on prod at https://ci.centos.org/job/devtools-test-e2e-openshift.io-planner-functional-tests/lastBuild/console and on prod-preview at https://ci.centos.org/job/devtools-test

[2018-12-19 09:19] sunilmalagi commented on #3145
@Preeticp @nimishamukherjee can we take out the 'team ux' label if the issue got solved? I will also un assign myself when you confirm me.

[2018-12-19 11:31] piyush-garg commented on #4599
@jarifibrahim If you are not able to reproduce this, can we close this. Maybe we reopen it whenever happens again with all the details. Thanks

[2018-12-19 11:47] msrb opened #4655 "graph-cve-sync is unable to sync the latest data"
The job has been running for more than a day now, which is unusual, and it seems to be stuck. This means that the latest data is not in stage/prod.

From logs:

[code]

I don't see any errors in the logs, so I suspect that the problem will be on graph side somewhere.

[2018-12-19 11:50] nimishamukherjee commented on #4652
@openshiftio/uxd-team have a look at this feature request.

[2018-12-19 12:08] jarifibrahim commented on #4599
@piyush-garg Thanks

[2018-12-19 12:08] #4599 closed

[2018-12-19 13:55] bmicklea opened #4656 "Remove mention of reset environment from onboarding doc"
Users shouldn't be using reset environment except in the most extreme cases (when guided by a community helper).

As a result the onboarding doc needs to be checked to ensure that we are not pointing new users to reset environment as part of the onboarding experience.

[2018-12-19 13:55] bmicklea commented on #4598
`SEV1` label downgraded during the IC today due to the fact that users shouldn't be doing reset environment ever, let alone frequently. We can't remove it from the E2E tests though because there's nothing that can replace it as a method to provide a clean environment for testing.

Separately the docs team needs to ensure that the onboarding doc sent to users does not reference the reset environmen

[2018-12-19 13:59] muruGanesan commented on #4294
@christianvogt, we will discuss and close in our stakeholder meeting (today) 19Dec18.

[2018-12-19 14:04] ldimaggi commented on #4121
Raising severity to level "2" based on investigation that this issue is the root cause of issue # #4598 - resulting after a user resets his user environment.

[2018-12-19 14:20] ibuziuk commented on #4656
Note I have found so far:
- https://docs.openshift.io/optimizing-ct-resources.html#resetting_your_ct_account

[2018-12-19 14:23] ldimaggi opened #4657 "Feature Request - Enhanced Space Deletion - To delete OpenShift resources and remove need for Env Reset"
As of today, human users and automated tests do not have a reliable way to remove a space, and all of its related OpenShift resources. The users/tests are able to work-around this by performing an environment reset, but this is problematic as the reset intermittently results in some resources not restarting. For example, issue #4598 describes an intermittent problem where Jenkins is not accessible

[2018-12-19 14:47] muruGanesan commented on #4294
@christianvogt,
As we discussed in today's meeting, I need to have an internal discussion and sync-up with another issue #4196 before I propose the final version.

CC: @serenamarie125 @joshuawilson, @Veethika , @sunilmalagi , @AshishDurgude

[2018-12-19 14:52] muruGanesan commented on #4196
@Veethika,
FYI: This story overlaps with another issue #4294, I would be updating the 'space dashboard' and sync-up with you.

CC: @serenamarie125 , @christianvogt , @joshuawilson

[2018-12-19 15:15] sdash-redhat commented on #4190
Based on today's stakeholders' review call, we will iterate on this design:
1. "Find a Space to Join" should change to "Search Spaces". Also related titles, placeholder texts must change.
2. "Join" related action triggers should be removed.
3. type ahead will be still parked for future. For the time being the placeholder search must provide hint that the user must hit Enter to activate search.

Mo

[2018-12-19 15:17] muruGanesan commented on #2307
@joshuawilson, @christianvogt
Based on our stakeholder's meeting (19Dec18) it will be on hold.
Points discussed:
1) The users may log-in using GitHub/other social media -change password will take to RedHat developer site
2) Very less % of people change the password.
3) Remove/delete Env- should not be an upfront option for the user
4) Remove/delete Env - role based
5) Remove/delete Env - what happ

[2018-12-19 15:18] sdash-redhat commented on #3655
Based on today's stakeholder meeting:
1. The new IA should be implemented.
2. The upfront available "Create Application" must move to kebab menu
3. Need to keep an eye for mobile/small screen touch-screen aspect.

@serenamarie125 : please provide the new IA template to use.

Moving the status to in-progress.

[2018-12-19 15:53] christianvogt commented on #3951
@Veethika @joshuawilson
I believe this issue is exactly the same as I logged here: https://github.com/openshiftio/openshift.io/issues/4643

What we do if the user chooses to navigate away is a separate issue. But when editing the same issue, we are losing data. If we fix this problem, do we still need an auto save? Or a warning about navigating away?

[2018-12-19 16:00] christianvogt commented on #4654
These tests look to have been failing before the monorepo change.

Are these functional tests those found in the planner repo? If that's the case we need to make sure we now run the tests from the monorepo and ensure devs can run these there. We moved the code and got unit tests working but we never tried functional tests. I brought this up in the UI sync.

We also need to figure out how best to r

[2018-12-19 16:14] christianvogt commented on #3145
@sunilmalagi once ux is complete with their deliverables in the issue, update the label to assign to the ui team.

I find it odd that our docs send the user to another dev site to find additional information about our support. This means that we expect the external reference to remain unchanged and if don't keep our library up to date the supported extensions may not be correct.

I think we should

[2018-12-19 16:17] christianvogt commented on #4657
This is also important for devs to run e2e tests with their own accounts. We encourage devs to run e2e tests and also fix them up. However if they need to always reset their env it's a big ask depending on the setup they already have. It would best to have a cleaner solution.

[2018-12-19 17:48] joshuawilson commented on #3951
@christianvogt can you close #4643 as a duplicate?

[2018-12-19 19:37] #3709 closed

[2018-12-19 20:45] christianvogt commented on #3713
Monorepo supports sass.

[2018-12-19 20:45] #3713 closed

[2018-12-19 20:47] christianvogt commented on #3716
Too broad of a task. Will need to do individual tasks.

[2018-12-19 20:47] #3716 closed

[2018-12-19 20:48] christianvogt commented on #3714
Too broad of a task to sweep the entire code base. Need to do on an individual case basis.

[2018-12-19 20:48] #3714 closed

[2018-12-19 20:49] christianvogt commented on #3712
Sass support can be done incrementally. Need to do on an individual case basis.

[2018-12-19 20:49] #3712 closed

[2018-12-19 20:51] christianvogt commented on #3710
Closing as we want to consume PF4 using react. We also want to create common components rather than updating the existing codebase which writes components from html and css.

[2018-12-19 20:51] #3710 closed

[2018-12-19 20:51] #3717 closed

[2018-12-19 21:09] christianvogt commented on #1097
Closing as we have empty / loading states. There are many consistency issues that are going to be addressed by common components using pf4.

[2018-12-19 21:09] #1097 closed

[2018-12-19 21:15] christianvogt commented on #4117
Cannot reproduce the import flow issue.

Login issue covered by: https://github.com/openshiftio/openshift.io/issues/4030

async loading state is a general issue we have and is being addressed through various architectural changes.

[2018-12-19 21:15] #4117 closed

[2018-12-20 02:31] christianvogt commented on #4643
Duplicate of #3951

[2018-12-20 02:31] #4643 closed

[2018-12-20 05:30] Preeticp commented on #3145
@christianvogt, you are right, our docs should point to the official page here: https://access.redhat.com/help/markdown, but it was brought to the docs team notice that the extensions here are what a user needed to use, hence we had to point the users there. Please see here for discussion on this: https://github.com/openshiftio/openshift.io/issues/3065#issuecomment-382305397

@xcoulon, in this con

[2018-12-20 06:07] rgarg1 commented on #4654
@christianvogt Planner UI tests were always running against all Planner PRs. Now that we've a new monorepo, all those jobs need to be updated. @sahil143 and @divyanshiGupta manage the Planner UI tests now so they can look into it. This should be a priority task IMHO.

[2018-12-20 06:08] hrishin opened #4658 "Idler : Idler fails to undle certain jenkins tenants"
Details https://github.com/fabric8-services/fabric8-jenkins-idler/issues/315

[2018-12-20 06:14] chmouel opened #4659 "Jenkins Idler: Test please ignore"
Hello Moto

Fabric8 Jenkins Idler issue: https://github.com/fabric8-services/fabric8-jenkins-idler/issues/317

[2018-12-20 06:20] #4659 closed

[2018-12-20 08:13] pmacik commented on #4657
In addition, all the corresponding Che workspaces from the space's codebases should be removed as well.

[2018-12-20 09:14] Preeticp commented on #4656
A PR removing all references to reset environment in all guides has been pushed to docs prod-preview: https://github.com/fabric8io/fabric8-online-docs/pull/475#issuecomment-448918270
This will be updated on prod ASAP.

[2018-12-20 09:52] #4517 closed

[2018-12-20 10:00] chmouel opened #4660 "Jenkins Idler: Test please ignore"
This is a wonderful test

Fabric8 Jenkins Idler issue: https://github.com/fabric8-services/fabric8-jenkins-idler/issues/319

[2018-12-20 10:01] #4660 closed

[2018-12-20 11:19] MatousJobanek commented on #4630
The fix is in prod-preview https://github.com/fabric8-services/fabric8-tenant/pull/709
Now, when either reset or update fails then the error should be returned back to the caller

[2018-12-20 11:21] ppitonak commented on #4651
It's not specific to cluster 2a
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1882/console

[2018-12-20 11:35] ppitonak commented on #1994
@christianvogt why did you close this issue?

[2018-12-20 11:47] muruGanesan commented on #4196
@sunilmalagi,
I need your help,
a) The current look and feel of the 'Space Dashboard' is designed by @mceledonia (on 27 March 2018)
Here is the Invision Link: https://redhat.invisionapp.com/share/DQFLCG4G9YK
b) Later, I modified the 'application' card
c) Veethika added (i) info icon to the card.

Based on yesterday's meeting, we need to verify the following:
1) Do we need (i) info icon for all the

[2018-12-20 13:09] joshuawilson commented on #1994
I think he closed it because the bug was fixed, though it hasn't been pushed to prod yet.

[2018-12-20 14:11] piyush-garg commented on #4598
As mentioned in previous comments and also explained, this is reset environment and platform team is taking care/looking at it. I will add the platform team label and remove build team label. If build team needs to do something regarding this, please assign back. Thanks

[2018-12-20 14:17] piyush-garg commented on #2354
Closing this as it is a very old one and also we are currently working on #4658

cc @sthaha @hrishin @pradeepto

[2018-12-20 14:17] #2354 closed

[2018-12-20 14:17] piyush-garg commented on #3758
Closing this as it is a very old one and also we are currently working on #4658

cc @sthaha @hrishin @pradeepto

[2018-12-20 14:17] #3758 closed

[2018-12-20 14:21] sunilmalagi commented on #4196
@muruGanesan the above matter discussed in todays "DevTools UX Sprint Demo" meeting, I will wait till the final call to take it forward.

[2018-12-20 14:31] alexeykazakov commented on #4605
Notification service was not promoted to prod since the cve email notifications was merged to master. Fixed in https://github.com/openshiftio/saas-openshiftio/pull/1177
Closing.

[2018-12-20 14:31] #4605 closed

[2018-12-20 14:56] ldimaggi commented on #4451
This problem was being seen on December 19-20 by the E2E tests - this resulted in multiple failed test runs.

On December 20, I was able to recreate this problem manually/randomly - but not 100% of the time.

[code]

[2018-12-20 14:57] ldimaggi commented on #4451
The problem seems to be most common on this cluster:  starter-us-east-2

[2018-12-20 15:09] Preeticp commented on #4656
Docs with the above changes have been updated to Prod.

[2018-12-20 15:11] #4656 closed

[2018-12-20 16:31] gorkem commented on #4451
I am not sure if it is related but starter-us-east-2 is the one that is getting more load compared to other clusters nowadays.

[2018-12-20 16:33] ldimaggi commented on #4451
Just noticed that this is still happening:

![screenshot from 2018-12-20 11-33-16](https://user-images.githubusercontent.com/642621/50297581-1d2c1f80-044b-11e9-9932-28d475c8ef6d.png)

[2018-12-20 20:22] ldimaggi commented on #4657
Will the fix to this issue:
https://github.com/fabric8-services/fabric8-tenant/issues/710

Also solve our env reset issues?
@MatousJobanek

[2018-12-21 00:02] ldimaggi opened #4661 "Creating objects and tenant reset elements in env reset encounter intermittent race condition"
##### Issue Overview
Resetting a user's environment in OpenShfift.io looks to be encountering an intermittent race condition between the reset and the setting up new objects. The race condition results in the Jenkins pod not starting. An error indicating quota exceeded is written to the events log.

##### Expected Behaviour
The environment should be successful.

##### Current Behaviour
See: https:

[2018-12-21 00:55] alexeykazakov commented on #4661
Duplicates https://github.com/openshiftio/openshift.io/issues/4661

[2018-12-21 02:33] christianvogt commented on #4193
I think I understand your point. We will need to investigate if the API used by the dashboard widget can fetch apps being setup as well or if we even have an API to list apps that are in progress of being setup.

[2018-12-21 07:45] chmouel commented on #4451
@sthaha is it related to the issue you were debugging yesterday with adiyta?

On Thu, Dec 20, 2018, 17:33 Len DiMaggio <notifications@github.com wrote:

[2018-12-21 09:50] piyush-garg commented on #4450
Closing this as it is implemented

[2018-12-21 09:50] #4450 closed

[2018-12-21 09:51] piyush-garg commented on #4384
This has been done. Closing.

[2018-12-21 09:51] #4384 closed

[2018-12-21 09:51] piyush-garg commented on #4383
This has been done. Closing this.

[2018-12-21 09:51] #4383 closed

[2018-12-21 17:00] MatousJobanek commented on #4598
Just a small update - the "fix" (from the tenant point of view) is done https://github.com/fabric8-services/fabric8-tenant/pull/714 - now I'm just waiting till the [quay database](http://status.quay.io/) is fixed, so I can merge it and deploy it to prod-preview.

[2018-12-21 17:01] MatousJobanek commented on #4121
Just a small update - the fix is done https://github.com/fabric8-services/fabric8-tenant/pull/714 - now I'm just waiting till the [quay database](http://status.quay.io/) is fixed, so I can merge it and deploy it to prod-preview.

[2018-12-21 17:17] alexeykazakov commented on #4598
The tenant master build is green again and the fix has been deployed to prod-preview.

[2018-12-21 17:17] alexeykazakov commented on #4121
I's in prod-preview now. https://github.com/openshiftio/openshift.io/issues/4598#issuecomment-449446167

[2018-12-21 17:18] #2650 closed

[2018-12-23 17:45] piyush-garg commented on #1657
@joshuawilson According to the current home page, this seems fixed. Can you please check and close?

[2018-12-24 08:02] #3856 closed

[2018-12-24 08:04] abhinandan13jan commented on #4047
currently effort field will only allow values between (-2147483647) and (+2147483648). Closing this issue.

[2018-12-24 08:04] #4047 closed

[2018-12-26 05:02] vikram-raj commented on #4645
Currently, all style is broken where we are using ```width: ~'calc(e("100% - 30px"))';```. I should be this ```width: ~'calc(100% - 30px)';```.

[2018-12-26 07:20] sdash-redhat commented on #3655
Based on the discussion made the changes. The updated workflow is in the following:

**https://redhat.invisionapp.com/share/VYPRH2I793F**

Please review and let me know your thoughts.
@serenamarie125 @catrobson

[2018-12-26 08:09] piyush-garg opened #4662 "Pipeline Stage Time in OSIO is different from openshift console"
When you create/import a repo or start a new build of the pipeline. Then timer shown while running the stage are not same in OSIO and openshift console.

OSIO Pipeline Page
![time-osio](https://user-images.githubusercontent.com/19270240/50438224-0b4af080-0913-11e9-8156-3d15a67a72ba.png)

Openshift Console
![time-oso](https://user-images.githubusercontent.com/19270240/50438235-143bc200-0913-11e9-9c

[2018-12-26 10:53] sanketpathak commented on #4651
The build is failing due to CPU usage problem: https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1966/console

[2018-12-26 13:33] muruGanesan commented on #4193
@vikram-raj,
**Today (26 Dec 2018) we discussed the following points:**

1) In the application setup page, "build pipeline" step - reflects the status on pipeline page. i.e once application enters into pipeline it considered as 'the step' completed.
In other words, User will NOT get to know the build status of the application on pipeline i.e. whether it started in stage/run etc...
[refer the below

[2018-12-26 13:40] sbose78 commented on #4193
At this stage, all we need to know is if the buildConfig has been setup successfully. That is what we currently show as successful.

The status of the actual build is outside the scope of application creation and should not be displayed here.

In fact, there are chances that the build wouldn't start right away because it would be waiting on unidling of the Jenkins.

[2018-12-26 13:58] muruGanesan commented on #4193
" this was a reason we would like to show the in-progress state" -muru

[2018-12-26 13:59] muruGanesan commented on #4193
@sbose78, thanks.

In such case,
1) the setup page cannot show the actual status of the application &
2) it will complete in 3-4 sec and mark as completed (as @vikram-raj mentioned)

It looks like, we are going back to the preview design i.e. all the steps will be shown as 'completed' even though the application is in progress - is that correct?

IMO: the scope of this UX enhancement is to show th

[2018-12-27 04:35] #4575 closed

[2018-12-27 08:40] chmouel opened #4663 "Jenkins Idler: API to set logging severity"
We are currently deploying/redeploying things to prod to set log severity on idler.

It would be nice this can be exposed at the API level

(and if it's not possible by API then find another way to get this dynamically)

Fabric8 Jenkins Idler issue: https://github.com/fabric8-services/fabric8-jenkins-idler/issues/323

[2018-12-27 10:10] #4645 closed

[2018-12-28 07:13] ravsa commented on #4642
I am facing the same error for other ecosystems(pypi, npm). even after replacing delimeter `::` to `|`. I was geting `null` and I noticed that when we send version as `float` or other types than string it raises an exception
[code]
it occurs here https://github.com/fabric8-analytics/f8a-server-backbone/blob/master/src/stack_aggregator.py#L372-L377 and that solved the problem for me.

[2018-12-28 07:16] miteshvp commented on #4642
This is interesting. @ravsa - can you please share those versions being sent as float? That is something we may have to handle at client side then. cc @invincibleJai @samuzzal-choudhury

[2018-12-28 10:04] sbose78 commented on #4193
The setup page only needs to show if 'setup' of everything that is needed for builds and deployment to start.

The setup page should show the application setup status. Neither the application build status nor the application deployment status.

Yes. In future, this buildConfig setup could be happening on a different cluster ( specific to a customer ).

Not really @muruGanesan . The application **b

[2018-12-28 15:41] muruGanesan commented on #4193
@sbose78 thanks,
I would request @vikram-raj to explain the changes in the current design.
1st week of Jan 19,  as soon as @serenamarie125 comes back, we can discuss and decide on the further steps.

[2018-12-31 09:33] yzainee opened #4664 "Test cases for git operations"
**Planner Link:**  https://openshift.io/openshiftio/Openshift_io/plan/detail/1288

- [ ] Add test cases for the git operation task

- [ ] Modify the type, so that e2e test doesnt fail for the cron job

[2019-01-02 08:58] divyanshiGupta commented on #3951
@Veethika what is the suggested UX?

[2019-01-02 09:51] ljelinkova commented on #3742
I've just seen this issue on prod-preview again

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/4915/05-01-pipeline-info.png

[2019-01-02 10:23] Bumbilo opened #4665 "Root of the iteration should be "/" for detail page"
On detail pageRoot of the iteration should be  '/' and not expose the root iteration(spacename).
In case of no iteration attached, it should just say NA.

[2019-01-02 10:27] Bumbilo opened #4666 "Root of the iteration should be "/" for quick preview"
On detail pageRoot, the iteration should be '/' and not expose the root iteration(spacename).
In case of no iteration attached, it should just say NA.

[2019-01-02 11:41] ppitonak opened #4667 "Analytics report not generated in prod"
##### Issue Overview

Analytics report is not generated in prod

##### Expected Behaviour

report appears in space dashboard after couple of minutes

##### Current Behaviour

![crt_analytics](https://user-images.githubusercontent.com/445100/50590484-853b2680-0e8b-11e9-9459-bf3a0a37a814.png)

##### Steps To Reproduce

1. create new space and new app in it
2. wait for pipeline to finish
3. go back t

[2019-01-02 11:45] piyush-garg commented on #3742
@sbose78 @tinakurian

I got the rights for the repo created above from @ljelinkova and confirmed the same. There are two webhook events - and code push event happened after 3 mins of other.

Thanks @ljelinkova

[2019-01-02 12:39] stevengutz commented on #4642
I don't understand how this qualifies as a SEV2 bug.  I would argue it's a SEV3

[2019-01-02 13:07] serenamarie125 commented on #4640
@joshuawilson @christianvogt FYI here are the high fidelity mocks: https://redhat.invisionapp.com/share/3SPRFA3HJEM#/screens/338490463

If you approve with this proposal, please create an issue in planner, and link it in this issue.

[2019-01-02 13:47] joshuawilson commented on #1657
This has been implemented in experimental features. I think once it gets to Beta or Prod then you can close it.

[2019-01-02 14:13] ljelinkova opened #4668 "Jenkins pods in terminating state for days"
I've noticed that we have at least 3 user accounts with Jenkins stuck in terminating state for 19 - 20 days even thought the accounts are frequently reset.

1. Can I delete those pods with my average user rights? If not, can anybody delete them?
2. Can we monitor all Jenkins pods in case they are in "bad" state?

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-

[2019-01-02 14:17] ppitonak commented on #4668
@aditya-konarde does your team monitor pods in terminating state? If not, would it make sense to start doing it?

[2019-01-02 14:50] joshuawilson commented on #4640
Design looks fine. Since this is bug I'm going to leave it here and just removed `team/ux`.

[2019-01-02 15:31] serenamarie125 commented on #4640
ok great thanks @joshuawilson !

[2019-01-02 15:40] alexeykazakov commented on #4598
Should be fixed in https://github.com/fabric8-services/fabric8-tenant/pull/714 (in prod-preview now).

[2019-01-02 16:43] chmouel opened #4669 "Osio Pipeline: Do not use openshift deprecated 'jenkins-plugins' feature"
It has been depracated in 3.11 and broke run the run osio-pipeline on pristine
openshift jenkins image story.

i.e: getting this failure when using latest version of the plugin :

[code]

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/95

[2019-01-02 18:30] ldimaggi commented on #4451
The pace/rate or retires seems to be much faster now:

1:19:24 PM | jenkins-1-x4h49 | Pod | Warning | Failed Scheduling | persistentvolumeclaim "jenkins-home" not found 6041 times in the last 18 minutes

And...

12557 times in the last 20 minutes

[2019-01-03 05:43] sivaavkd commented on #4667
@yzainee is this related to what you told me about maven pipelines changes which are in prod-preview and not in prod yet ?

[2019-01-03 05:56] yzainee commented on #4667
@sivaavkd No this is not related to that. I was debugging it last night. There was some connection problem between the worker and the celery due to which none of the calls were reaching the worker and hence the reports were not getting generated. I dont exactly know why this happened. From the logs, the reports were generated till 12:33.. After this time, none of the reports were getting generated

[2019-01-03 07:36] yzainee commented on #4667
![screenshot from 2019-01-03 13-03-18](https://user-images.githubusercontent.com/37098367/50627132-17106580-0f58-11e9-96e1-694ac5a4fe8b.png)
![screenshot from 2019-01-03 13-03-29](https://user-images.githubusercontent.com/37098367/50627133-17106580-0f58-11e9-88a4-52bfd2f956e6.png)
![screenshot from 2019-01-03 13-03-44](https://user-images.githubusercontent.com/37098367/50627135-17a8fc00-0f58-11e9-

[2019-01-03 07:37] yzainee commented on #4667
@invincibleJai @sivaavkd
Please verify the same

[2019-01-03 08:12] jyasveer commented on #4667
I am still not able to see stack report - wheel is spinning forever.  I used Maven repo (https://github.com/apache/maven <https://github.com/apache/maven>)

Here is the stack id - f085749b778a4c75a6c5a92e4b3283a7

Thanks, Siva Kumar

[2019-01-03 08:13] sivaavkd commented on #4667
I am still not able to see stack report - wheel is spinning forever.  I used Maven repo (https://github.com/apache/maven <https://github.com/apache/maven>)

Here is the stack id - f085749b778a4c75a6c5a92e4b3283a7

Thanks, Siva Kumar

[2019-01-03 09:46] ljelinkova opened #4670 "Booster catalogue is empty for prod-preview"
##### Issue Overview
User cannot create application from boosters because the booster catalogue for prod-preview is empty
##### Expected Behaviour
All available boosters are loaded into OSIO launcher
##### Current Behaviour
No boosters are loaded into OSIO launcher

![launcher](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/

[2019-01-03 09:53] muruGanesan commented on #1976
Invision link for internal UX review: https://redhat.invisionapp.com/d/main#/console/16304111/338067059/preview

[2019-01-03 10:20] ljelinkova commented on #4667
The e2e tests works now OK - the analyses is generated. The tests started to pass approximately since 6 AM UTC.

[2019-01-03 12:23] invincibleJai opened #4671 "Pipelines stage names are not consistent across"
##### Issue Overview

Pipelines stage names are not consistent

##### Expected Behaviour

Pipelines stage names should be consistent for launcher wizard and pipelines view

##### Current Behaviour

Pipelines stage names are not consistent

<img width="1323" alt="screen shot 2019-01-03 at 5 49 29 pm" src="https://user-images.githubusercontent.com/5129024/50637518-518df880-0f80-11e9-8b86-f1f3d46f173

[2019-01-03 13:07] joshuawilson commented on #4670
I can confirm this is in prod-preview. We need to figure this out as it blocks pushing to prod.

[2019-01-03 13:23] joshuawilson commented on #1976
@muruGanesan I can't see that link.

[2019-01-03 15:34] alexeykazakov commented on #4670
@gastaldi @sbose78 ^^^

[2019-01-03 16:41] ppitonak commented on #4598
We cannot judge if the fix helped because of https://github.com/openshiftio/openshift.io/issues/4670

[2019-01-03 18:15] sbose78 commented on #4670
Looks like the latest booster catalogue changes broke this.

[2019-01-03 18:19] sbose78 commented on #4670
https://github.com/fabric8-launcher/launcher-booster-catalog/pull/307

[2019-01-03 18:20] gastaldi commented on #4670
I reindexed the booster catalog and it seems to be working again, can
someone confirm that?

Em Qui, 3 de jan de 2019 16:16, Shoubhik Bose <notifications@github.com
escreveu:

[2019-01-03 18:35] jarifibrahim commented on #4670
@gastaldi Quick Question - What token did you use on the `reindex` API? Is it the `openshiftio` token?
Also, do we have to call the `reindex` API every time a booster is enabled/disabled/updated?

[2019-01-03 18:38] gastaldi commented on #4670
The token is in the launcher configmap.

You don't need to call reindex everytime a booster is updated, the webhooks
in the launcher-booster-catalog repository should already do that for us.

Em Qui, 3 de jan de 2019 16:35, Ibrahim Jarif <notifications@github.com
escreveu:

[2019-01-03 18:46] invincibleJai opened #4672 ""Stack Report" link is not shown on pipelines view for Node Application"
##### Issue Overview

"Stack Report" link is not shown on pipelines view, though it appears on dashboard post successful build completion for Node Applications.

##### Expected Behaviour

"Stack Report" link should show up in pipelines view post successful build completion for Node Applications.

##### Current Behaviour

"Stack Report" link is not shown on pipelines view

<img width="1649" alt="sc

[2019-01-03 18:48] invincibleJai commented on #4672
The reason for stack-report not shown up for Node is "Stack Report" link is dependent on Stage name and it changed with Node as in https://github.com/openshiftio/openshift.io/issues/4671 , however it shouldn't be tied to stage name.

[2019-01-03 18:48] jarifibrahim commented on #4670
in the launcher-booster-catalog repository should already do that for us.

So why didn't the webhook work this time? :)

[2019-01-03 18:53] gastaldi commented on #4670
I don't have the logs, but I think it may be because I pushed two commits
at (almost) the same time and the reindex may have had some synchronization
issue. I'll keep an eye on it and investigate in case this happens again

Em Qui, 3 de jan de 2019 16:48, Ibrahim Jarif <notifications@github.com
escreveu:

[2019-01-03 22:44] chmouel opened #4673 "Osio Pipeline: Documentation for jenkinsfile-runners"
Documentation of how we want to do jenkinsfiles-runners

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/98

[2019-01-03 22:47] #4673 closed

[2019-01-03 22:48] chmouel opened #4674 "Osio Pipeline: Detect if we bayeseian plugin is available"
And if not, do not use it. this is so we are able to run on pristine openshift-jenkins

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/99

[2019-01-04 05:11] yzainee commented on #4667
Closing the issue as the report is generating properly.

[2019-01-04 05:11] #4667 closed

[2019-01-04 06:09] #4671 closed

[2019-01-04 06:35] hrishin commented on #4671
![image](https://user-images.githubusercontent.com/28615674/50676183-0673f400-1019-11e9-94d9-c69cb4386149.png)

Fixed now.

[2019-01-04 07:58] ljelinkova commented on #4598
https://github.com/openshiftio/openshift.io/issues/4670 is resolved now.

I can see some failed jobs on prod-preview caused by Jenkins, for example.

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/4957/oc-jenkins-logs.txt

However, this could be also caused by https://github.com/openshiftio/openshift.io/issues/4668 . Could anybo

[2019-01-04 08:53] ljelinkova commented on #4657
If I understand it correctly, the reset of environment calls delete on all spaces. That means that if delete space does not work properly, the reset of environment does not work either.

That is why it is so annoying to have an issue like this where delete space does not delete Che workspaces.

https://github.com/openshiftio/openshift.io/issues/4559

It means we need to manually delete all che wor

[2019-01-04 09:19] ppitonak commented on #4657
Pipelines are not removed on space delete, too https://github.com/openshiftio/openshift.io/issues/3802

[2019-01-04 09:25] chmouel opened #4675 "Build Team: Architecture diagram for OSD and Build workflow"
Make a diagram of how OSD and build will work with the different scenarios.

- [ ] Github webhook action
- [ ] UI action
- [ ] CLI (oc start-build) action

Fabric8 Build Team issue: https://github.com/fabric8io/fabric8-build-team/issues/59

[2019-01-04 09:31] chmouel opened #4676 "Build Team: Zenhub binding for openshiftio-issue"
So build team can automate their workflow.

We have a script here :

https://github.com/chmouel/github-issue-cli/blob/master/openshiftio-issue

automating our reporting,

let's add zenhub since we moved there,

Fabric8 Build Team issue: https://github.com/fabric8io/fabric8-build-team/issues/60

[2019-01-04 09:32] #4676 closed

[2019-01-04 09:45] joshuawilson commented on #4657
@ppitonak do you agree with the change to the labels and setting of severity?

[2019-01-04 10:38] chmouel opened #4677 "Build: Deploying f8build with openshift/deploy-openshift-dev.sh fails"
Environment variables seems missing,

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/150

[2019-01-04 10:56] #4677 closed

[2019-01-04 11:31] muruGanesan commented on #4197
@serenamarie125, @joshuawilson, @christianvogt
I am reopening his issue.
Based on our discussion on the issue #4193, I will make some changes to 'the content' of the setup page.

CC: @sunilmalagi, @stacymcauliffe

[2019-01-04 12:09] michaelkleinhenz commented on #4657
Delete spaces seems to be broken or non complete in WIT. @kwk is already working on fixing this. As far as I collected from the issues linked here, deleting a space should:

 1. delete the Che workspaces via che-starter (#4559).
 2. delete all work items (#4382) and all other WIT resources that are connected to the space.

Is this list complete (minus the things already being done, see below)? The

[2019-01-04 12:17] ppitonak commented on #4657
@joshuawilson yes, thanks for setting it

@michaelkleinhenz #2352 is talking about idling Jenkins jobs that are waiting on approval, it has nothing to do with #3802

[2019-01-04 12:20] michaelkleinhenz commented on #4657
got it. Wanted to link to PR 2352, not issue 2352 :)

[2019-01-04 12:41] piyush-garg commented on #3742
I think my comments will not make sense anymore after this https://github.com/fabric8-launcher/launcher-backend/pull/612

[2019-01-04 13:38] jarifibrahim opened #4678 "Cannot run Nodejs Health Check booster in Che"
##### Issue Overview
`npm install` command for Nodejs Health Check booster (https://github.com/nodeshift-starters/nodejs-health-check) fails with
[code]

The nodejs health check booster needs `har-validator@5.1.2` which was unpublished by the package owner https://github.com/ahmadnassri/node-har-validator/issues/112#issuecomment-437378269

##### Steps To Reproduce

1. Create a new application
2. C

[2019-01-04 13:45] serenamarie125 commented on #1976
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items.  Removing the team/ux label and un-assigning UX folks.  If priorities are changed in the future, please add the team/ux label

[2019-01-04 15:28] ldimaggi opened #4679 "In creating new app, if the browser window height is too small, critical buttons are not displayed and cannot be reached by scrolling"
##### Issue Overview
If a user creates a new app through the launcher, and the browser window is less than ~700 pixels in height, then the cancel/next buttons are not displayed. The user is also not able to scroll the window to display these buttons. The only workaround is to resize the window.

##### Expected Behaviour
It's reasonable to expect to be able to scroll a browser window to make all re

[2019-01-04 15:34] muruGanesan commented on #1976
@serenamarie125  Thanks.

[2019-01-04 15:41] ldimaggi commented on #4657
+1 on Lucia's comment - changed the issue title to reflect that his is a bug and not a feature request. Thx!

[2019-01-04 16:13] jarifibrahim commented on #4678
Fixed via https://github.com/nodeshift-starters/nodejs-health-check/pull/128

[2019-01-04 18:49] #2911 closed

[2019-01-04 18:49] #3344 closed

[2019-01-04 18:49] #3637 closed

[2019-01-04 18:49] #3757 closed

[2019-01-04 18:49] #4439 closed

[2019-01-04 18:49] #4631 closed

[2019-01-04 18:49] #2543 closed

[2019-01-04 18:49] #2629 closed

[2019-01-04 18:49] #2632 closed

[2019-01-04 18:49] #2754 closed

[2019-01-04 18:49] #2888 closed

[2019-01-04 18:49] #2113 closed

[2019-01-04 18:49] #2336 closed

[2019-01-04 18:49] #2338 closed

[2019-01-04 18:49] #2380 closed

[2019-01-04 18:49] #2529 closed

[2019-01-04 18:49] #1909 closed

[2019-01-04 18:49] #1964 closed

[2019-01-04 18:49] #1965 closed

[2019-01-04 18:49] #1968 closed

[2019-01-04 18:49] #2096 closed

[2019-01-04 18:49] #1726 closed

[2019-01-04 18:49] #4651 closed

[2019-01-06 16:47] #4678 closed

[2019-01-06 18:30] serenamarie125 commented on #661
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 18:31] serenamarie125 commented on #1225
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 18:34] serenamarie125 commented on #2296
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

Going forward we should have standard responsive design guidance throughout the product, it shouldn't be specific to an area.

[2019-01-06 18:39] serenamarie125 commented on #2646
If a user is removed from being a collaborator to a space, first check to see If any workitems are currently assigned to that user.  If so, present a confirmation dialog stating that there are existing work items assigning to that user, and that if they are removed, they will also be unassigned from those workitems.

If they are not assigned to workitems, issue the warning that is currently there.

[2019-01-06 18:39] serenamarie125 commented on #2646
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 18:41] serenamarie125 commented on #2593
If a user does not have permission to perform an action, that action button and/or menu should not be visible.

[2019-01-06 18:41] serenamarie125 commented on #2593
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 18:48] serenamarie125 commented on #4122
Can we do primary and secondary sort?  If so, I would say primary should be start date, and secondary is by name.

Agreed as Veethika said, eventually we should allow the user to set the sort order.

[2019-01-06 18:48] serenamarie125 commented on #4122
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:49] serenamarie125 commented on #4222
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:50] serenamarie125 commented on #3145
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:51] serenamarie125 commented on #3998
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:51] #3998 closed

[2019-01-06 18:51] serenamarie125 commented on #4267
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:52] serenamarie125 commented on #3964
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:53] serenamarie125 commented on #3059
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:53] serenamarie125 commented on #2599
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:54] serenamarie125 commented on #3931
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:55] serenamarie125 commented on #3155
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:55] serenamarie125 commented on #2947
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:56] serenamarie125 commented on #4048
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:57] serenamarie125 commented on #3999
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Closing this issue since this was solely around gathering requirements.

[2019-01-06 18:57] #3999 closed

[2019-01-06 18:58] serenamarie125 commented on #3887
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 18:59] serenamarie125 commented on #3692
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 19:00] serenamarie125 commented on #3628
This is a larger question around permissions in general.

[2019-01-06 19:00] serenamarie125 commented on #3628
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 19:02] serenamarie125 commented on #3616
This again is a larger question around permissions which needs to be addressed at a higher level.

[2019-01-06 19:02] serenamarie125 commented on #3616
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 19:05] serenamarie125 commented on #3693
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 19:08] serenamarie125 commented on #3644
@joshuawilson good points, and the UX proposal should be consistent across the product.

If a user cannot perform an action, it should not be shown (hidden).
If an action cannot be performed due to it's current state, it should be shown and disabled.

Going forward we need to have this generic guidance documented and incorporated into all designs going forward.

[2019-01-06 19:09] serenamarie125 commented on #3644
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 19:10] serenamarie125 commented on #4417
Based on a conversation held on 2019-Jan-04 including Dev, PM and UX, the UX team will not be providing support for planner items. Removing the team/ux label and un-assigning UX folks. If priorities are changed in the future, please add the team/ux label

[2019-01-06 19:11] serenamarie125 commented on #4401
This is already complete, so closing :)

[2019-01-06 19:11] #4401 closed

[2019-01-06 19:12] serenamarie125 commented on #4402
Although we didn't provide high fidelity mockups, @sunilmalagi created and delivered the necessary visuals for the CodeReady Toolchain branding changes.

[2019-01-06 19:12] #4402 closed

[2019-01-06 19:17] serenamarie125 commented on #4540
Mockups need to be based off of the use cases & requirements documented as part of #4571

[2019-01-06 19:17] serenamarie125 commented on #4571
Document has been reviewed by @alexeykazakov and presented in stakeholder meetings.  Closing since we are now working on the designs.

[2019-01-06 19:17] #4571 closed

[2019-01-06 19:19] serenamarie125 commented on #4648
@joshuawilson I'm removing team/ux label since we have a design ( and associated code ) which solves the issue.

[2019-01-06 19:38] serenamarie125 commented on #4479
I'd suggest showing an icon in the masthead to indicate system status which can impact the use of the product.  Github being down or unreachable are just 2 things which could attribute an icon being displayed in the masthead.

Users should be able to click on the icon to get more information displayed in a popover.

[2019-01-06 19:42] serenamarie125 commented on #4413
@AshishDurgude please update the Current invision flow to incorporate the following
#1 - use the new CodeReady Toolchain image provided by @sunilmalagi
#2 - use the sketch file provided by Mary which has the "latest" PF4 changes with the PF3 L&F of vertical navigation

[2019-01-06 20:07] kwk commented on #4512
Please provide details of that conversation!

[2019-01-06 20:08] kwk commented on #661
Please provide details of that conversation!

[2019-01-06 20:45] christianvogt commented on #4154
@serenamarie125
Tracked by https://openshift.io/openshiftio/Openshift_io/plan/detail/404 assigned to @vikram-raj

[2019-01-06 21:10] serenamarie125 opened #4680 "Document all available tasks in OSIO"
Document all available tasks in OSIO with **Experimental Features** turned on, excluding the Planner.

- [ ] [User Profile](https://docs.google.com/document/d/1t68mwUFMjFWThx3FpgYAEW75nucwabYeLCrA7eeGvOQ/edit)
- [ ] [User Settings](https://docs.google.com/document/d/1ICg3qoJeXmRgkPN0rBUyWDLtj7C3bu_jwzavVZQD1EE/edit)
- [ ] [Space Settings](https://docs.google.com/document/d/1OxStI92F9WzeQSx58b9_VCW

[2019-01-06 21:26] serenamarie125 opened #4681 "Create a task analysis of all available tasks in OSIO"
Based on tasks identified in #4680, create a task analysis for all available tasks in each of the following areas:

- [ ] [User Profile](https://docs.google.com/presentation/d/1XWA8rqferage8Rsem5JimFFeI4JLDIc7-w9LNMUaHbU/edit#slide=id.p)
- [ ] [User Settings](https://docs.google.com/a/redhat.com/presentation/d/1XWA8rqferage8Rsem5JimFFeI4JLDIc7-w9LNMUaHbU/copy?id=1XWA8rqferage8Rsem5JimFFeI4JLDIc7-w

[2019-01-06 21:30] serenamarie125 opened #4682 "Identify task flows which need redesign"
Based on #4681, work with PM to determine which task flows need to be redesigned.  Document which tasks need to be redesigned in a Google Document in this [drive](https://drive.google.com/drive/folders/1tExL8MB5Y75OYxTFkODgp8tNP-Z_3Jr1)

[2019-01-06 21:34] serenamarie125 opened #4683 "Redesign tasks including task analysis"
Based on tasks identified in #4682 redesign the task flow, and create a task analysis to support it:

XXX UPDATE ONCE 4682 is complete
- [ ] Task Name & link to task analysis diagram

Each document should include the task analysis of the original flow as well as with the proposed flow. Note that a task analysis would probably have a greater proportion of “green” flows originally. A re-designed tas

[2019-01-07 03:49] #4649 closed

[2019-01-07 04:03] joshuawilson commented on #4479
@serenamarie125 at one point a status widget in the masthead was designed. Can you see if they still exist?

[2019-01-07 04:16] joshuawilson commented on #3616
I'm going to say that no, they should not do this. I wouldn't want an unapproved person changing what is the parent or child of a work item.

Since this can't be done, I'm closing this.

[2019-01-07 04:16] #3616 closed

[2019-01-07 04:18] joshuawilson commented on #3628
closing as this will not be answered

[2019-01-07 04:18] #3628 closed

[2019-01-07 04:26] #4048 closed, assigned to nobody

[2019-01-07 06:17] invincibleJai commented on #4672
Closing as fixed.

[2019-01-07 06:17] #4672 closed

[2019-01-07 06:19] invincibleJai commented on #4603
it's working fine in both prod/prod-preview cc @yzainee

[2019-01-07 11:41] stevengutz commented on #661
As noted in previous team meeting, we are focusing completely on a few specific use cases in L-Train.  While these use cases are crucial for Summit we don't want to cut corners to get them done.  This means we need focus our resources on the priorities to achieve those goals.

[2019-01-07 12:16] ibuziuk commented on #3878
Reopened due to https://github.com/eclipse/che/issues/12329

[2019-01-07 12:17] ibuziuk commented on #3878
@Katka92 @rhopp could you please confirm that the problem is reproducible on prod. Also, could we add a e2e test for this on prod cc: @ppitonak @ldimaggi @ljelinkova

[2019-01-07 12:27] ljelinkova opened #4685 "Jenkins build failed - failed to push image to docker-registry"
When I tried to run the Spring Boot + REST API booster the build failed with the following exception:

[code]

Full log:
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2106/05-04-jenkins-log.html

It also happened several times on the e2e tests.

[2019-01-07 13:01] piyush-garg commented on #4635
This has been done and in prod, closing it.

[2019-01-07 13:01] #4635 closed

[2019-01-07 13:10] ljelinkova commented on #4668
Our E2E tests are failing constantly for user osio-ci-e2e-005 and the reset of environment does not help. I am changing to SEV1

[code]
</details>

[2019-01-07 13:26] msrb opened #4686 "[GitOperationTask] duplicate key value violates unique constraint "worker_results_worker_id_key""
In prod:

[code]

[2019-01-07 13:38] aditya-konarde commented on #4668
@ppitonak we currently do not monitor the pods in 'terminating' state. But we've agreed to implement this check asap. I'll take a look at this tomorrow.

For the terminating pods: Jenkins idler can force delete them as noted in https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2495

@ljelinkova as a band-aid, I can manually force-delete the pods in the e2e test namespaces, but I think its a g

[2019-01-07 13:38] aditya-konarde commented on #4668
I'll leave it upto you guys to decide, since development of the feature for idler to correctly terminate pods might take time.

[2019-01-07 13:39] aditya-konarde commented on #4668
Related: https://github.com/fabric8-services/fabric8-jenkins-idler/issues/315

[2019-01-07 14:19] sdash-redhat commented on #3655
Based on the feedback need to change the following 2 and add it to stakeholder's meeting:

1. Change the title of the modal to "Search Spaces" - that one was issued out
2. Use Parvathyvr's reference screen as the parent page.

@serenamarie125 @parvathyvr

[2019-01-07 14:20] sdash-redhat commented on #4190
Based on today's team discussion, we can relook at it once Ashish's sketch is available with the new IA

[2019-01-07 14:23] #4686 closed

[2019-01-07 14:31] parvathyvr commented on #3655
https://redhat.invisionapp.com/share/Y7OC1HORWQC#/screens/322844508
screen for reference-done as part of #4326

[2019-01-07 15:00] chmouel opened #4687 "[Experimental] Stuck in Application Setup in Progress"
Using the experimental feature to create a nodejs example, the UI keeps telling me that the "application Setup is in Progress" and get stuck there, i.e:

![image](https://user-images.githubusercontent.com/98980/50774983-3a5b4d80-1295-11e9-8cb1-48307f43ba55.png)

when clicking on view setup progress, the application is built :

![image](https://user-images.githubusercontent.com/98980/50775005-49da9

[2019-01-07 16:31] joshuawilson commented on #3655
At this point, this feels like a bug. If UX is done, please assign to UI team.

[2019-01-07 21:04] ldimaggi opened #4688 "Pipeline build image timer resets to zero seconds if user leaves/returns to page"
##### Issue Overview
If, while a pipeline build is running, the user leaves the pipeline page, and then navigates back to that page, the timer displayed for the build resets to zer.

##### Expected Behaviour
I expected that the timer would continue to be incremented even if the user leaves the pipeline page.

##### Current Behaviour
The timer resets to zero.

##### Steps To Reproduce

1. Start a p

[2019-01-08 01:57] ldimaggi commented on #4451
![screenshot from 2019-01-07 20-51-57](https://user-images.githubusercontent.com/642621/50805099-dcdbf680-12be-11e9-9524-455019c60580.png)

[2019-01-08 02:14] ldimaggi commented on #4475
I just saw this error on production, for a user account provisioned on starter-us-east-2:
Deployer pod "jenkins-1-deploy" has gone missing

[code]

![screenshot from 2019-01-07 20-58-44](https://user-images.githubusercontent.com/642621/50805591-1dd50a80-12c1-11e9-813c-4dbac24ebdff.png)

[2019-01-08 03:47] sdash-redhat commented on #3655
Updated the invasion on the same link.
**[https://redhat.invisionapp.com/share/VYPRH2I793F](https://redhat.invisionapp.com/share/VYPRH2I793F)**

[2019-01-08 03:54] joshuawilson commented on #3655
Looks fine to me.

[2019-01-08 05:17] piyush-garg commented on #4688
Duplicate of #4662

[2019-01-08 05:54] ljelinkova commented on #4668
@aditya-konarde Please delete those pods manually. Do you need the list of users or can you find all pods for users starting osio-ci-e2e?

[2019-01-08 07:59] ibuziuk opened #4689 "Che does not show bayesain recommendations for pom.xml (only package.json)"
Upstream issue - eclipse/che#12329

[2019-01-08 08:00] ibuziuk commented on #3878
thanks this issue is a bit opposite - pom.xml used to work fine, but not package.json. I believe we need to create a new issue - https://github.com/openshiftio/openshift.io/issues/4689

[2019-01-08 08:00] #3878 closed

[2019-01-08 09:21] chmouel opened #4690 "Build: Implement repository pipelines associations"
We need a CRUD to be able to store the repository to pipeline name associations,

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/152

[2019-01-08 09:46] chmouel opened #4691 "Jenkins Idler: Handle large tenant update gracefully"
This is a follow up on the discussion happenning here :

https://chat.openshift.io/developers/pl/reegarnowty9iedkyqujgfcm1o

When there is a large tenant update all pods gets awaken, we need to be able to
handle this gracefully.

* Perhaps have a API call to have idler suspended at that time until the tenant update is done ?
* A workflow like this, tenant update (for jenkins pod) start :

- Disabl

[2019-01-08 11:05] jmelis commented on #4668
We have compiled the list of stuck pods, and raised to issue to ops. We have also let them know that those that are in e2e are very urgent.

[2019-01-08 11:06] piyush-garg opened #4692 "Build Service: Refactor Pipeline and Environment Struct"
Refactor Environment Struct as required and align with Env Service also.

Refactor Pipeline Struct as it is confusing and rename it to PipelineEnvironmentMap

Build Service: https://github.com/fabric8-services/fabric8-build/issues/153

[2019-01-08 12:44] #4688 closed

[2019-01-08 13:37] chmouel opened #4693 "OSIO-Pipeline: Image promotion between environment"
Part of OSD we are going to need to be able to import and export the image
produced from one build to another registry.

There is two way to do this:

1. reference an external registry where to push and to pull from the stage and run.
2. dump the generated image and transport it to the next cluster to import,

1. is the preferred method.

- The configuration for external registry could be in Jenki

[2019-01-08 16:18] slemeur commented on #3732
Not at this moment.

[2019-01-08 16:18] #3732 closed

[2019-01-08 17:16] ldimaggi commented on #4451
Fir a user account provisioned on starter-us-east-2, this error is being seen ~90% of the time after an environment reset. Are other users also seeing this frequency?
![screenshot from 2019-01-08 11-31-32](https://user-images.githubusercontent.com/642621/50847264-23713580-133f-11e9-938f-816b2547592d.png)

[2019-01-08 17:22] gorkem commented on #4451
@pbergene did we ever escalate this issue. I feel that we are missing data that would allow us to understand the underlying cause.

[2019-01-08 18:47] ldimaggi opened #4694 "Non-reproducible ildler behavior seen on January 7"
##### Issue Overview
Multiple instances of the idler NOT idling/un-idling when expected were seen on January 7. The behavior is not being seen on January 8. Logging this issue to document the behavior.

##### Expected Behaviour
##### Current Behaviour
The idler was not able to un-idle when a new build pipeline was created. Also, the idler was triggered when a new build pipeline was created. This b

[2019-01-08 20:31] ldimaggi commented on #4694
The user account where this error is seen is provisioned on: starter-us-east-2
The booster used was Vert/X/REST HTTP

[2019-01-09 09:03] pbergene commented on #4451
@gorkem it looks like a mix of various issues and errors.  Is there a common root cause, can re reproduce?

[2019-01-09 09:44] ljelinkova opened #4695 "Che fails to start on some clusters (1a / 2 / 2a) due to infrastructure issues related to long route exposure and route flapping"
Related HK issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2520
When I create a new booster in OSIO and open it in Che, Che is started properly but no projects are loaded and no error message is displayed to the user (wait timeout is 10 minutes).

![Che](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2134/04-01-che-failed.png)

E

[2019-01-09 09:47] ljelinkova commented on #4695
It may be related to https://github.com/openshiftio/openshift.io/issues/4511

[2019-01-09 10:53] ljelinkova commented on #4685
It happend again (2 times on 1a cluster)

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1382/05-03-jenkins-log.html

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1380/05-03-jenkins-log.html

[2019-01-09 10:57] ljelinkova opened #4696 "Launcher: Push booster to GitHub failed"
Several E2E tests failed while creating booster SpringBoot + REST API

![Launcher](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1383/03-03-launcher-results.png)

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/1380/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2-r

[2019-01-09 11:58] parvathyvr commented on #4540
Updated set of Mockups Invision Link: https://redhat.invisionapp.com/share/KWPKC8WVH5U#/screens/336343213

[2019-01-09 12:30] piyush-garg commented on #3742
This is happening very frequently after https://github.com/fabric8-launcher/launcher-backend/pull/612 now

Actually, Launcher-backend was like this only before as current after PR https://github.com/fabric8-launcher/launcher-backend/pull/612.

I raised the PR https://github.com/fabric8-launcher/launcher-backend/pull/478 that make it very intermittent but I have already explained the fix we need to

[2019-01-09 12:35] chmouel commented on #4353
DEMO-WIP: https://github.com/chmouel/openshift-jr/tree/master/jenkins

[2019-01-09 12:45] #4614 closed

[2019-01-09 12:51] sbose78 commented on #3742
@piyush-garg , in that case, I think the first step would be to revert https://github.com/fabric8-launcher/launcher-backend/pull/612 ? Is that what you are implying?

[2019-01-09 12:58] ldimaggi commented on #3742
I started seeing a variation on this problem yesterday. What I am seeing is that when the first build completes, a second build is immediately started.

However, I am not yet able to reliably recreate this behavior as my user account is provisioned on the starter-us-east-2 cluster - and is blocked by these issues:

https://github.com/openshiftio/openshift.io/issues/4668

and

I also am seeing abou

[2019-01-09 13:17] sdash-redhat commented on #3655
Thanks, Joshua :)

[2019-01-09 13:33] jarifibrahim opened #4697 "Launcher backend leaks file descriptors"
##### Issue Overview
The launcher-backend (https://github.com/fabric8-launcher/launcher-backend) stores all the boosters locally and the `/reindex` API is used to update the local cache.

If multiple requests (more than ~10 requests) are sent to launcher-backend (doesn't need to be sent concurrently), it crashes with `Too many files open` exception. With every request sent to `/reindex` endpoint,

[2019-01-09 14:22] sbose78 commented on #4697
Interesting, the fix would need to somewhere in the dependency of https://github.com/fabric8-launcher/launcher-backend/blob/master/core/core-impl/src/main/java/io/fabric8/launcher/core/impl/catalog/RhoarBoosterCatalogFactory.java#L104

[2019-01-09 22:50] ldimaggi commented on #4451
The situation is definitely worse than it has been in the past.

Is this the root cause:  https://github.com/openshiftio/openshift.io/issues/4668  ?

[2019-01-09 22:59] gorkem commented on #4451
@pbergene I was thinking about the root cause for 'persistentvolumeclaim "jenkins-home" not found '. I do not think we have been able to identify it.

[2019-01-10 00:05] ldimaggi commented on #4451
That's this issue:
https://github.com/openshiftio/openshift.io/issues/4475

[2019-01-10 02:19] sbose78 commented on #3742
@piyush-garg , When webhooks are setup, Github tests out the URL by sending an event. That would explain why their's always an extra webhook event being triggered. Given that there's nothing that could be done on the launcher side to avoid that, could we find a way to ignore that webhook event on Jenkins's side?

[2019-01-10 07:36] slemeur commented on #4332
I don't think we have a significant number of users of `factory.json`.

The work on the devfile has been progressing nicely and it should now be possible to use the devfile to create Che 7 based workspaces with the factory flow.
That could be something to experiment @skabashnyuk @mshaposhnik to validate the work currently in progress on the devfile.

[2019-01-10 09:08] chmouel opened #4698 "Build: Document the state of union"
Document the Build Team state of the union for January 2019 F2F Arch meeting.

[2019-01-10 09:09] ibuziuk commented on #4332
@slemeur @gorkem so, are you ok if we close this issue and focus on devfile support in openshift.io flow - https://github.com/openshiftio/openshift.io/issues/4538 ?

[2019-01-10 09:12] ibuziuk commented on #4695
@ljelinkova could you provide `identity_id` of e2e users against which accounts this problem is reproducible ?

[2019-01-10 09:13] ibuziuk commented on #4695
also, please provide links to jobs where the problem was caught

[2019-01-10 09:15] ibuziuk commented on #3510
@jarifibrahim @sbose78 do you think we can close this issue now ?

[2019-01-10 09:18] jarifibrahim commented on #3510
Yes. The Nodejs boosters work fine in Che. I'm closing the issue.

[2019-01-10 09:18] #3510 closed

[2019-01-10 09:44] pbergene commented on #4668
This has been raised again and we were told someone would be looking at this shortly.

[2019-01-10 10:04] ljelinkova opened #4699 "Booster application is not deployed on 1a cluster"
Deployment of the booster application failed several times on cluster 1a. They seem to have been caused by the same error - _no route to host_

[code]
You can see the full oc log here:
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2142/oc-run.txt

This is the list of affected jobs:
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoke

[2019-01-10 10:12] ljelinkova commented on #4696
The issue happened again today. Yes, it is intermittent but please investigate since it has not been occurring before.

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2146/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1388/console
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-u

[2019-01-10 10:21] ljelinkova commented on #4695
This is the last failed job: https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2143/console
User: osio-ci-e2e-002

I am not sure what you mean by `identity_id` - is it something you get from
[code]

[2019-01-10 11:00] ibuziuk commented on #4695
@jmelis @aditya-konarde @pbergene are there any known infrastructure issues on starter clusters ? Che currently fails to start for me on 2 cluster due to networking issues. Are we positive that https://redhat.service-now.com/help?id=rh_ticket&table=incident&sys_id=b173eceedb36a7c01e48cae3b9961912&view=ess has been fully resolved and not affect other clusters ? As I understand currently it is not p

[2019-01-10 12:06] piyush-garg commented on #4568
Tenant update has been done. Closing this,

[2019-01-10 12:06] #4568 closed

[2019-01-10 12:55] stevengutz commented on #1121
@Veethika this is assigned to you and is very old.  Are we going to fix this so we can get it off our plate?

[2019-01-10 13:07] msrb opened #4700 "[f8a]: FatalTaskError - Path does not exist"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/9034/

[2019-01-10 13:55] sbose78 commented on #4435
Haven't seen this issue lately.

[2019-01-10 13:56] sbose78 commented on #4140
Works now.

[2019-01-10 13:56] #4140 closed

[2019-01-10 13:57] sbose78 commented on #3282
Works now.

[2019-01-10 13:57] #3282 closed

[2019-01-10 14:40] ibuziuk commented on #4695
@rhopp @Katka92 @ScrewTSW could you please confirm that this problem only persists on particular clusters while not being reproducible on others cc: @ppitonak @ldimaggi

[2019-01-10 14:43] ljelinkova commented on #4435
How come?

https://github.com/openshiftio/openshift.io/issues/4670

This could happen anytime and the user should be given some clue as why there are no boosters.

It would be great if UX team could comment @serenamarie125

[2019-01-10 14:45] #2747 closed

[2019-01-10 15:21] corinnekrych commented on #4606
@sbose78 Following instructions given by David @davidfestal in as per [HK issue](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1977#note_342060) to clean workspace, the steps as followed:
1 - login to prod-preview with:
[code]
2 - Get pod name for che-tenant-maintainer from [dssas preview](https://console.dsaas-stg.openshift.com/console/project/dsaas-preview/overview) and port forward:
[c

[2019-01-10 15:40] corinnekrych commented on #4606
Deletion issue tracked with https://github.com/fabric8-services/che-tenant-maintainer/issues/28

[2019-01-10 15:46] corinnekrych commented on #4606
As per discussion in [MM](https://chat.openshift.io/developers/pl/p6e7rjy4siga58hk6fb8kn1gmo) quoting shoubhik:
" Let's keep it simple. Let's not enhance the API, we can generate a super shortlived user token in the auth service and then call the che-maintainer. There's no endpoint. But since auth service will be calling the che-maintainer. It can generate a token using the keys. "
cc @sbose78

[2019-01-10 16:00] jarifibrahim commented on #4696
I just tried SpringBoot + REST API on prod-preview and it failed with a similar error

![screenshot from 2019-01-10 21-28-25](https://user-images.githubusercontent.com/12949454/50980506-dd72c800-151e-11e9-9c71-64ea0b4762bc.png)

[2019-01-10 16:37] alexeykazakov commented on #4657
I've removed team/platform because I don't see what else platform services should remove during space deletion. Please let me know if I missed something. I added team/wit because it needs to remove codebases, workspaces, work items etc.

[2019-01-10 16:57] Katka92 commented on #4695
@ibuziuk I have run tests many times and the only failure it discovered is bayesian (known issue). I created new workspace from OSIO from the space that I created some time ago with vertx-http-booster from my repo and works fine.
I'll investigate further tomorrow by manual testing directly from OSIO - I'll try reset environment and try it again.

[2019-01-10 17:19] sbose78 commented on #4435
The server side issues have been resolved. The title of the issue was a bit misleading. Probably we should have a general way of displaying an error note to communicate that boosters couldn't be loaded for some reason.

[2019-01-10 21:01] msrb commented on #4051
Duplicate: https://github.com/openshiftio/openshift.io/issues/4700

[2019-01-10 21:01] #4051 closed

[2019-01-10 21:17] msrb commented on #4056
The problem is in the same part of the worker code base as https://github.com/openshiftio/openshift.io/issues/4700.

[2019-01-11 07:07] jarifibrahim opened #4701 "Reindex Booster Catalog (Nodejs Booster out of sync)"
##### Issue Overview

I recently updated one of the Nodejs boosters https://github.com/nodeshift-starters/nodejs-health-check/pull/128 but the changes aren't reflected on OSIO. This is because the `launcher-backend` caches all the boosters locally and this cache needs to be updated.

The boosters need to be reindexed by calling the `/reindex` API on launcher-backend

@gastaldi Can you please reind

[2019-01-11 07:49] Katka92 commented on #4695
Today I tried to reset environment and create new space + new workspaces and works fine. I've run tests with that account several times and haven't reproduced this issue. @rhopp @ScrewTSW could you give it a try please?

[2019-01-11 08:07] rhopp commented on #4695
I'm not observing any troubles starting workspaces with my accounts on 2, 2a and 1a

[2019-01-11 08:19] ibuziuk commented on #4695
@Katka92 @rhopp thanks for verification. Indeed, it looks like temp infra related issue.
@ljelinkova I see that the job has been stabilized, so please close the issue if the problem is no longer reproducible.

I have raised concerns about oso starter cluster health monitoring in the mailing thread and would probably raise it again on the next IC. The fact that we do not control cluster(s) state af

[2019-01-11 08:32] ljelinkova commented on #4696
E2E failed twice in the last day too.

[2019-01-11 08:40] ljelinkova commented on #4695
I've found one failed job on cluster 2

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/1392/console

User osio-ci-e2e-005

I agree that this is infrastructure problem but I'd like to have this issue open in case anybody else encounters it.

[2019-01-11 08:42] ibuziuk commented on #4695
@ljelinkova please remove P1 label in this case

[2019-01-11 08:48] ljelinkova commented on #4695
Done.

[2019-01-11 09:12] pbergene commented on #4695
Note a tenant update was running on 2 in this timeframe, might be good for @MatousJobanek to know

[2019-01-11 09:21] jarifibrahim commented on #4701
Looks like the pipelines are also out of sync. https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/45 was merged yesterday but https://forge.api.prod-preview.openshift.io/api/services/jenkins/pipelines doesn't show the new pipelines.

[2019-01-11 09:54] slemeur commented on #4332
Yes, fine for me.

[2019-01-11 10:34] yzainee commented on #4535
https://openshift.io/openshiftio/Openshift_io/plan/detail/1168
The changes from the analytics side are done and tested.
Note: You need to change the generated jenkins file in order to invoke the new build pipeline

[2019-01-11 10:35] yzainee commented on #4535
cc: @sivaavkd

[2019-01-11 10:35] #4535 closed

[2019-01-11 10:39] gastaldi commented on #4701
Changes to the Jenkins files require a rebuild, so I bumped the launcher-backend build and you should see the change soon

[2019-01-11 10:42] gastaldi commented on #4701
@jarifibrahim you may already know, but just to remind you that changes in the booster repositories are only reflected in the production catalog when the booster is tagged and updated in the booster-catalog repository

[2019-01-11 11:10] gastaldi commented on #4701
@jarifibrahim I believe this has been fixed, can you confirm?

[2019-01-11 11:12] gastaldi commented on #4697
Nice catch, can we have this issue moved to (or referenced in another issue in) https://github.com/fabric8-launcher/launcher-backend/ please?

[2019-01-11 11:57] sdash-redhat commented on #4680
Updated the document with a tabular content with the details where applicable.

**Space List View** - https://docs.google.com/document/d/1GeouVk7O1T8mgkZpIta6zkj6ze4tdYGMyvNq0bzujrU/edit?usp=sharing

[2019-01-11 12:02] Preeticp commented on #4696
+1 I got similar errors too while trying the springboot app for documenting it, just a few minutes back.

[2019-01-11 12:09] sdash-redhat commented on #4680
Updated the document with a tabular content with the details where applicable.

**Space Settings**
https://docs.google.com/document/d/1OxStI92F9WzeQSx58b9_VCW9idHV5L-Wj1KKvOh6Sp0/edit?usp=sharing

[2019-01-11 12:22] #4056 closed

[2019-01-11 12:23] #4700 closed

[2019-01-11 13:14] ppitonak commented on #4319
Any progress here?

[2019-01-11 13:21] piyush-garg commented on #4319
PR https://github.com/fabric8io/osio-pipeline/pull/91 is review/update phase in new library https://github.com/fabric8io/osio-pipeline

[2019-01-11 13:21] ppitonak commented on #3756
Closing this issue because it's outdated.

[2019-01-11 13:21] #3756 closed

[2019-01-11 13:25] msrb opened #4702 "psycopg2.ProgrammingError: can't adapt type 'dict'"
Looks like some part of the system is scheduling analyses for packages without providing correct version. There is 100k of such failed analyses.

[code]

Args (note the version key):
[code]

Sentry: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/9388/

[2019-01-11 13:59] gastaldi commented on #4697
It seems that it is only part of the solution, maybe there is somewhere in the launcher-booster-catalog-service code where file handles are not closed, @quintesse any clue?

[2019-01-11 14:32] quintesse commented on #4697
Not immediately, I can take a look next week.

[2019-01-11 14:33] gastaldi commented on #4697
This issue was moved to fabric8-launcher/launcher-backend#617

[2019-01-11 14:33] #4697 closed

[2019-01-11 14:36] sbose78 commented on #4701
Thanks @gastaldi ,

Could you point me to this, please.

Could you point me to an example, please.

[2019-01-11 14:38] gastaldi commented on #4701
@sbose78 here is an example: https://github.com/fabric8-launcher/launcher-booster-catalog/pull/310

[2019-01-11 14:40] sbose78 commented on #2772
@xcoulon / @sbryzak I think the token management ( native logout support ) were the only things remaining before keycloak could be pulled out, right? https://github.com/fabric8-services/fabric8-auth/issues/350

[2019-01-11 14:40] sbose78 commented on #2332
@xcoulon / @sbryzak I think the token management ( native logout support ) were the only things remaining before keycloak could be pulled out, right? https://github.com/fabric8-services/fabric8-auth/issues/350

[2019-01-11 14:59] Veethika commented on #1121
@stevengutz I think we should close this. There's no clarity yet if this there's a problem with Gmail or in our layout. Unassigning myself.

[2019-01-11 15:06] ibuziuk commented on #4332
Closing in favour of dev file support - https://github.com/openshiftio/openshift.io/issues/4538
dev file is supposed to be the only portable format for workspace generation in future

[2019-01-11 15:06] #4332 closed

[2019-01-11 15:20] dv1x3r opened #4703 "Can't initialize TypeScript language server"
##### Issue Overview

I use the standard Node.JS stack with 'TypeScript Language Server' installer enabled.
When I open .ts files I get the following error message in dev console:

[code]

##### Expected Behaviour

Add TypeScript Intellisense support

##### Current Behaviour

TypeScript Intellisense is not working

##### Steps To Reproduce

1. Create a workspace at che.openshift.io
2. Select 'Cent

[2019-01-11 16:36] alexeykazakov commented on #2772
@sbose78 the only things left are:
- native logout (we already have a PR to close this - https://github.com/fabric8-services/fabric8-auth/pull/746 which is under review)
- an endpoint to invalidate tokens for particular user (to be used by admin console). This is what we will do next. The endpoint should be pretty easy to implement since all needed business logic is already in place in https://git

[2019-01-11 16:45] alexeykazakov commented on #2332
@sbose78 here is the list of what left - https://github.com/openshiftio/openshift.io/issues/2772#issuecomment-453577182

[2019-01-11 17:39] joshuawilson commented on #2321
now that we have moved the UI to the monorepo this is fixed.

[2019-01-11 17:39] #2321 closed

[2019-01-11 18:47] jarifibrahim commented on #4701
So when we update a booster, the booster tag (https://github.com/nodeshift-starters/nodejs-rest-http-crud/releases) should also be updated and the booster-catalog should have the right tag (https://github.com/fabric8-launcher/launcher-booster-catalog/blob/master/nodejs/v10-community/health-check/booster.yaml#L15)

[2019-01-11 18:51] jarifibrahim commented on #4701
I see newer pipeline in launcher-backend https://forge.api.prod-preview.openshift.io/api/services/jenkins/pipelines/golang-releaseandstage/jenkinsfile . We can close this issue.

But we'll still have to release a new version of the booster and update the tag.
@gastaldi Who can help us release a new version? I don't have access to the booster repository and I don't think even @sbose78 can release (

[2019-01-11 18:54] gastaldi commented on #4701
@jarifibrahim you need to talk to the Node.js team: @lholmquist may be able to help you

[2019-01-11 18:56] jarifibrahim commented on #4701
Thanks @gastaldi :)

[2019-01-11 18:56] #4701 closed

[2019-01-11 19:21] lholmquist commented on #4701
@jarifibrahim i need to create a new release on that health-check repo with that commit, then i'll send the request to the catalog to point to that new release

[2019-01-11 20:11] msrb opened #4704 "import failed: local variable 'topics' referenced before assignment"
It looks like data-importer is having trouble importing packages which don't have any GitHub topics:

[code]

[2019-01-11 20:54] #4704 closed

[2019-01-13 09:04] muruGanesan commented on #4197
Based on engineering input &  UX review, Here is the proposed new flow:
https://redhat.invisionapp.com/share/7VO5831SYNF#/333742556_Setup_page_-_in_Progress

Please review and provide your feedback.

NOTE:
- This is NOT final &
- It is a low fidelity wireframe.
Once we review and agree final visual design will be delivered.

@joshuawilson, @christianvogt, @vikram-raj, @nimishamukherjee , @sbose78

[2019-01-13 09:06] muruGanesan commented on #4193
Based on engineering input &  UX review, Here is the proposed new flow:

https://redhat.invisionapp.com/share/MHP7TIO3XYK#/332556493_ExistingFlow-_Start

Please review and provide your feedback.

NOTE:
- This is NOT final &
- It is a low fidelity wireframe.
Once we review and agree final visual design will be delivered.

@joshuawilson, @christianvogt, @vikram-raj, @nimishamukherjee , @sbose78
CC:

[2019-01-13 17:05] #2097 closed

[2019-01-13 17:05] #2170 closed

[2019-01-13 17:05] #3164 closed

[2019-01-13 17:07] #3228 closed

[2019-01-13 17:56] #3638 closed

[2019-01-14 01:37] hrishin commented on #4568
@pbergene could we confirm if this issue has fixed with recent tenant update? It should drop the gluster storage usage(Not able to make grasp looking at Zabbix). If not feel free to reopen this issue. Thank you

[2019-01-14 05:14] jarifibrahim opened #4705 "Launcher-backend: 504 Gateway Timeout"
##### Issue Overview

The launcher-backend (https://forge.api.prod-preview.openshift.io/api/booster-catalog) is returning 504 for all the requests.
[code]

From the deployments logs
[code]
it looks like it's stuck at pre-fetching boosters

[2019-01-14 05:18] jarifibrahim commented on #4705
A redeploy would fix the issue for now but we should try to find the root cause. My guess is launcher-backend is stuck in an infinite loop here https://github.com/fabric8-launcher/launcher-booster-catalog-service/blob/master/src/main/kotlin/io/fabric8/launcher/booster/catalog/AbstractBoosterCatalogService.kt#L139

[2019-01-14 05:46] abhinandan13jan commented on #4679
Buttons are appearing in my browser at a 698*698 px display.
![screenshot from 2019-01-14 11-14-28](https://user-images.githubusercontent.com/24852534/51097915-db925880-17ed-11e9-8031-eee19ceb900a.png)

[2019-01-14 05:50] abhinandan13jan commented on #4679
Buttons appear in my browser (chrome) for 698*698px display and I tried a few other resolutions as well.
![screenshot from 2019-01-14 11-14-28](https://user-images.githubusercontent.com/24852534/51098015-61160880-17ee-11e9-8edb-ff0f2718b75a.png)

[2019-01-14 05:51] msrb commented on #4432
I haven't seen this exception since we have updated to new version of Boto3.

[2019-01-14 05:51] #4432 closed

[2019-01-14 05:53] msrb commented on #2993
Fixed in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/697.

[2019-01-14 05:53] #2993 closed

[2019-01-14 05:55] msrb commented on #2220
Jobs API is now deprecated so this issues is irrelevant.

[2019-01-14 05:55] #2220 closed

[2019-01-14 05:59] msrb commented on #4050
We fixed couple of IntegrityError issues in the past two months. I don't see this one in the logs any more.

[2019-01-14 05:59] #4050 closed

[2019-01-14 05:59] msrb commented on #2005
This is no longer relevant.

[2019-01-14 05:59] #2005 closed

[2019-01-14 06:12] rgarg1 commented on #4705
This log message is interesting:
[code]
Was the server configuration changed recently?

[2019-01-14 06:14] msrb opened #4706 "Error during running command "git reset --hard ...""
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/9927/

[2019-01-14 06:52] jarifibrahim commented on #4705
I don't think so. The `ALPN, server did not agree to a protocol` warning is related to SSL/TLS protocol and that shouldn't cause a 503 :)

[2019-01-14 06:53] jarifibrahim commented on #4705
@gastaldi @sbose78 Shall we redeploy launcher-backend on prod-preview?

[2019-01-14 07:47] Preeticp opened #4707 "Create Application wizard must mention application name should be in lowercase"
##### Issue Overview

When a user creates an application with title case in the name, example 'Title',  by default it renders T as t and shows red (error) without telling the user what is wrong. Also user can create a space with a title case name but Application name only allows for lowercase.
This should clearly be mentioned in the warning.

##### Expected Behaviour
We need to add the word lowerc

[2019-01-14 07:59] ljelinkova commented on #4695
We had more issues since yesterday morning, both on 1a and 2 clusters. Especially worrying is the cluster 2 since the tests failed 4 out of 6 last runs on this Che problem.

1a
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2182/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2183/console

2
https://ci.centos.org/job/de

[2019-01-14 08:13] ljelinkova commented on #4695
I am putting P1 label back since the errors are quite frequent.

[2019-01-14 08:21] MatousJobanek commented on #4695
that's true, however, the update was triggered only for `jenkins` namespaces, so it shouldn't influence che anyhow.

[2019-01-14 09:36] jarifibrahim commented on #4705
Launcher-backend was redeployed 2 hours ago because of config change and this issue is no longer reproducible.

[2019-01-14 09:36] #4705 closed

[2019-01-14 10:32] jmelis commented on #4695
Since Jan 12, 15 jobs have run in starter-2 out of which 12 have failed.

- 7 failed because: git clone failed (import project): #1414, #1413, #1411, #1408, #1404, #1403, #1401
- 4 failed because: Build job did not run: #1412, #1410, #1405, #1400
- 1 failed because: Workspace failed to start (FailedMount): #1409

[2019-01-14 11:04] ljelinkova commented on #4695
@jmelis For example for 1413, where do you see that git clone failed?

[2019-01-14 12:06] msrb commented on #4702
Input validation improved in: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/777

[2019-01-14 12:06] #4702 closed

[2019-01-14 14:30] joshuawilson commented on #4267
Fixed in  fabric8-ui/fabric8-planner#2816

[2019-01-14 14:30] #4267 closed

[2019-01-14 14:51] Katka92 commented on #4695
Today I was finally able to reproduce this issue. I saw some errors in logs which are probably related with flapping route issue. I've tested some cluster I have accounts on.

**starter-us-east-2** is probably hardly affected cluster, the flapping happened in 3/4 runs of the test and took a long time (it swapped many times between 503 and 401 response). You can see one example report at pastebin [