[2018-06-20 12:40] RickJWagner commented on #3101
Unreproduceable.  Let's hope there is no bug and everything works.

[2018-06-20 12:40] #3101 closed

[2018-06-20 12:42] RickJWagner commented on #2600
Unreproduceable.  Let's hope there is no bug and everything works.

[2018-06-20 12:42] #2600 closed

[2018-06-20 12:46] pbergene commented on #3822
Auto-closed, re-opening once verified in prod.

[2018-06-20 12:54] piyush1594 commented on #2600
Thanks @RickJWagner

[2018-06-20 12:54] piyush1594 commented on #3101
Thanks @RickJWagner

[2018-06-20 12:57] piyush1594 commented on #3030
Closing this.

[2018-06-20 12:57] #3030 closed

[2018-06-20 13:18] joshuawilson commented on #3785
this is fixed in production

[2018-06-20 13:18] #3785 closed

[2018-06-20 13:27] andrewazores commented on #3791
Elliott listed all of the metrics here:

https://github.com/openshiftio/openshift.io/issues/2086#issuecomment-371984005

(plus CPU and Memory, which we already have)

[2018-06-20 13:29] piyush1594 commented on #2237
@michaelkleinhenz Seems like this is something different and if this is related to the planner, can we close this, as the planner has moved out of GKE?

[2018-06-20 13:31] #3347 closed

[2018-06-20 13:36] joshuawilson commented on #3765
@muruGanesan since what we have is in production, we need UX to confirm exactly what we need to change it to. The invision design has several differences. The navigation is present. The cover is transparent.

Do we should a navigation item if the whole page is not available? If not, then what does it look like when you click a link to get there?

[2018-06-20 13:37] joshuawilson commented on #3824
I don't think we have any designs from @openshiftio/uxd-team on mobile screens for the Deployments page.

[2018-06-20 13:40] muruGanesan commented on #3836
@sbryzak, @sbose78,

Please see the proposed design from UXD team:
https://redhat.invisionapp.com/d/main#/console/13657683/298638714/preview

<img width="1509" alt="image" src="https://user-images.githubusercontent.com/26006817/41661947-881b342a-74bd-11e8-8f07-1544c624958c.png">

[2018-06-20 14:06] christianvogt commented on #3826
@mindreeper2420 good to know about less-loader. Let's hold off making any changes until openshiftio/openshift.io#3715 is complete

[2018-06-20 14:17] joshuawilson commented on #3765
This isn't a SEV2 since it doesn't keep you from using things, it is more just annoying.

[2018-06-20 14:21] jiekang commented on #3742
I also saw this when running E2E smoke tests locally, causing them to fail.

[2018-06-20 14:22] lwrigh commented on #3836
@sbryzak @sbose78 @muruGanesan @mindreeper2420  The screenshot above is what I had suggested for the space invite email template. The copy on it needs to be reviewed but the general layout was informed by some of the other emails that Openshift.io sends out. I can add the space invite email template back into the wireframes ( https://redhat.invisionapp.com/share/3WLEP2NCDRT ) for reference.

[2018-06-20 14:22] mindreeper2420 commented on #3824
Correct - but I'll also add that there are no mobile specific screens for any of the pages. Ideally, each page would/should use the built-in responsive nature of Bootstrap.

[2018-06-20 14:23] christianvogt commented on #3153
Closing unreproducible. Feel free to reopen / raise a new issue if it happens again.

[2018-06-20 14:23] #3153 closed

[2018-06-20 14:30] alexeykazakov commented on #3690
This is not the latest WF. This is the latest: https://redhat.invisionapp.com/share/CDKUE8V795H#/screens

No. We don't have the whole userstory in GitHub. We have some in planner - https://openshift.io/openshiftio/openshiftio/plan/detail/2353 (with sub-work items) but there is no much of description unfortunately. Please see to my latest presentation in the Integration Cabal.

[2018-06-20 14:32] muruGanesan commented on #3824
@joshuawilson,
I agree with @mindreeper2420,
(1) I am not sure OSIO screens are responsive in nature
(2) We also need to understand the PM's point of view or requirements

FYI: @catrobson & @serenamarie125

[2018-06-20 14:35] christianvogt commented on #3438
@mindreeper2420 i'm inclined to simply remove the code associated with `documentationListVisible` as it currently does nothing unless you can remember anything.

[2018-06-20 14:35] Ohrimenko1988 commented on #2641
@piyush1594 Sorry, I have some problems with access to my openshift.io account, so I will check it a bit later.

[2018-06-20 14:39] mindreeper2420 commented on #3438
@christianvogt @jiekang I can't recall anything about that - see what happens when it is removed I guess?

[2018-06-20 15:23] jiekang commented on #3821
I think this is a duplicate of https://github.com/openshiftio/openshift.io/issues/3705

@dlabrecq knows more.

[2018-06-20 15:28] jiekang commented on #885
Closing as the Areas page is a tree list view. See https://github.com/fabric8-ui/fabric8-ui/pull/2638

[2018-06-20 15:28] #885 closed

[2018-06-20 15:55] jiekang commented on #920
There is environment reset and I think deletion of resources is being tracked in other issues. Can this one be closed @joshuawilson or is it still needed?

[2018-06-20 16:00] ebaron commented on #3556
With https://github.com/fabric8-services/fabric8-wit/pull/2110, the deployments API no longer queries this config map. The information about environments comes directly from the tenant API instead.

[2018-06-20 16:00] #3556 closed

[2018-06-20 16:02] jiekang commented on #1335
The story in fabric8-ux was closed as the dashboard is being redesigned. I think this can be closed as well; feel free to reopen otherwise.

[2018-06-20 16:02] #1335 closed

[2018-06-20 16:04] jiekang commented on #1340
The profile page has been redesigned and the work item and space widgets look to behave correctly. As well, editing the profile is no longer an available option. Closing this issue.

[2018-06-20 16:04] #1340 closed

[2018-06-20 16:10] jiekang commented on #1349
There has been developer work on disabling user actions of widgets when visiting a space you do not own so that issue is resolved.

It's still not clear who owns a space when visiting one. The only visible option at the moment is to check the URL. However, the new designs do cover this and are work in progress so I am closing this issue. Feel free to reopen if you think it's still valuable open.

[2018-06-20 16:10] #1349 closed

[2018-06-20 16:10] #3727 closed

[2018-06-20 16:10] #3728 closed

[2018-06-20 16:11] jiekang commented on #1363
This feature no longer exists. Closing this issue.

[2018-06-20 16:11] #1363 closed

[2018-06-20 16:14] jiekang commented on #1542
This space creation dialog no longer exists. Closing this issue.

[2018-06-20 16:14] #1542 closed

[2018-06-20 16:25] jiekang commented on #1707
The Add Codebase action described here is no longer accessible. All the buttons now open the wizard instead, forcing users to add a codebase and pipeline combination. Closing this issue.

[2018-06-20 16:25] #1707 closed

[2018-06-20 16:29] jiekang commented on #1848
This add codebase feature no longer exists. Closing.

[2018-06-20 16:29] #1848 closed

[2018-06-20 16:30] jiekang commented on #1870
These status icons have been removed completely. Closing. Feel free to reopen if this issue is still needed!

[2018-06-20 16:30] #1870 closed

[2018-06-20 16:34] jiekang commented on #2170
@chrislessard if you're not working on this anytime soon feel free to unassign yourself

[2018-06-20 16:34] christianvogt commented on #2850
Scrolling works for me on both areas and collaborators pages. Scrolling appears on the body.
Must have already been fixed or a it was a css leak from another part of the app.

[2018-06-20 16:34] #2850 closed

[2018-06-20 16:35] jiekang commented on #2203
Changes have been made so the actions are no longer accessible when visiting another users space. Closing this issue.

[2018-06-20 16:35] #2203 closed

[2018-06-20 16:39] jiekang commented on #2339
Does this issue still have value?  think developers are aware how this state can be triggered, and many fixes have been put into place. I think this issue can be closed. @joshuawilson Thoughts?

[2018-06-20 16:41] jiekang commented on #2458
A cache has been put in place so this won't occur. Closing.

[2018-06-20 16:41] #2458 closed

[2018-06-20 16:41] jiekang commented on #2459
A cache has been put in place so this won't occur. Closing.

[2018-06-20 16:41] #2459 closed

[2018-06-20 16:41] jiekang commented on #2460
A cache has been put in place so this won't occur. Closing.

[2018-06-20 16:41] #2460 closed

[2018-06-20 16:44] arunkumars08 commented on #3833
I think this PR https://github.com/fabric8-ui/fabric8-ui/pull/3019 from @edewit fixes this issue

[2018-06-20 16:49] christianvogt commented on #3105
The specific issue has been fixed now by fabric8-ui/fabric8-ui#2978

Error handling will be field by field. We should make an effort to reuse our validation code for fields of the same data.

Even though fields may take the same data, the error messages may be specific to their use case. We certainly could look at sharing error messages and I believe that would be done by sharing the same validati

[2018-06-20 16:49] #3105 closed

[2018-06-20 16:49] jiekang commented on #3516
Closing as fix has been merged.

[2018-06-20 16:49] #3516 closed

[2018-06-20 17:05] christianvogt commented on #3171
~54 requests and 1.7MB transferred in 5.3s before I got the 404 page with caching disabled.

There were 3 separate chunks of network requests that where each subsequent chunk of requests was blocked on the previous chunk first finishing.

I'm not sure why we need to know the users information before determining if a route is valid or not but we currently are making requests (and duplicates) to our

[2018-06-20 17:33] aptmac opened #3837 "Profile Work ItemsComponent displays logged in user's work items when viewing other user's profile pages"
Viewing the profile page of another user can result in a `TypeError` which can cause duplicate and broken components to be displayed on the screen.

The console is complaining about an undefined value in the work-items component at line 42 [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/profile/overview/work-items/work-items.component.html#L42). This is likely because `loggedInU

[2018-06-20 17:40] dlabrecq commented on #3821
Yes, this is a duplicate of #3705. Instead of a spinner, you should expect to see an empty state.

[2018-06-20 18:27] fabricepipart commented on #2834
Hi
I would need one of the following:
- Be able to login inside the container (oc exec -ti content-repository-5-3cw6j bash). In my case I get rejected (Could not connect to the container. Do you have sufficient privileges?)
- gofabric8 CLI can be used to clean the repository (also does not work in my case)
- have a sample pipeline that I could run to empty the content-repository

Unfortunately non

[2018-06-20 18:53] piyush1594 commented on #3058
FMP 3.5.40 has been released with the fix for better error logging. We need to include that in boosters now

cc @rohanKanojia @hrishin @krishnapaparaju @pradeepto

[2018-06-20 18:54] hrishin commented on #2237
@piyush1594 it should be good to close now. As planner team has moved PR builds to CICO CI.

@michaelkleinhenz @nimishamukherjee please confirm it once.

[2018-06-20 19:01] aptmac commented on #3783
duplicate of: https://github.com/openshiftio/openshift.io/issues/2196

[2018-06-20 19:01] #3783 closed

[2018-06-21 01:37] sthaha commented on #3390
@hrishin We have deployed reverse-proxy changes to production which should help. Could you please see if you get 504?

[2018-06-21 02:09] #3821 closed

[2018-06-21 02:44] joshuawilson commented on #2339
I'm fine to close this. It can be reopened if someone can reproduce it.

[2018-06-21 02:44] #2339 closed

[2018-06-21 02:51] joshuawilson commented on #920
I agree, closing.

[2018-06-21 02:51] #920 closed

[2018-06-21 02:52] piyush1594 commented on #3833
This is in PROD right now and you can not create an application.

[2018-06-21 03:15] #3722 closed

[2018-06-21 04:13] #3438 closed

[2018-06-21 04:39] nimishamukherjee commented on #3822
@Raunak1203 @rgarg1 please verify the fix on production

[2018-06-21 04:42] joshuawilson commented on #311
@michaelkleinhenz can you move this to https://openshift.io/openshiftio/openshiftio

[2018-06-21 04:45] Raunak1203 commented on #3822
Closing the issue,  verified in production

[2018-06-21 04:45] #3822 closed

[2018-06-21 04:48] hrishin commented on #3390
@sthaha Its coming now. _will observe its bheaviour for next 2 days_.

[2018-06-21 05:05] sthaha commented on #3390
@hrishin thanks. Could do please clarify if you meant that the proxy seems to be working fine and you are not getting a 504 error?

[2018-06-21 05:20] piyush1594 commented on #3517
This is WIP here fabric8-services/fabric8-jenkins-proxy#289

[2018-06-21 05:22] piyush1594 commented on #3742
This is an intermittent issue and happens sometimes. cc @sthaha

[2018-06-21 05:51] piyush1594 commented on #3444
@pradeepto @krishnapaparaju @rupalibehera @sthaha We can try this thing and check if everything works fine. Should we prioritize this?

[2018-06-21 05:53] piyush1594 commented on #3774
No response. Closing this.

[2018-06-21 05:53] #3774 closed

[2018-06-21 05:55] piyush1594 commented on #3797
@rupalibehera @jaseemabid Can you please check if we can do anything related to this?

[2018-06-21 05:56] piyush1594 commented on #3797
@ppitonak Its something like its waiting for a slave with that label and as soon as slave comes up it starts executing the job. Correct me if I am wrong @rupalibehera @jaseemabid

[2018-06-21 05:57] piyush1594 commented on #3798
@rupalibehera @jaseemabid Can we remove this? Is this something not relevant and required?

[2018-06-21 05:59] piyush1594 commented on #2807
Duplicate of #3802 closing this.

[2018-06-21 05:59] #2807 closed

[2018-06-21 06:01] piyush1594 commented on #3802
Is build team need to do anything related to this. @ppitonak @joshuawilson cc @sthaha

[2018-06-21 06:09] piyush1594 commented on #2897
Duplicate of #3346 Can we close this? @jaseemabid

[2018-06-21 06:11] piyush1594 commented on #132
Duplicate of #3802 Can we close this.

[2018-06-21 06:13] sdash-redhat commented on #3655
Here is the Invision link of the first draft of the interaction with 2 options for short-term. https://redhat.invisionapp.com/share/E4LH2OCDC7A
Please feel free to go through and share your thoughts.

@catrobson @serenamarie125 @joshuawilson @aslakknutsen @lwrigh @mceledonia  @bdellasc @dlabrecq  @muruGanesan @sunilmalagi @Essjaysee

[2018-06-21 06:18] jmelis commented on #3833
https://github.com/openshiftio/saas-openshiftio/pull/941 was rolled back, so for the moment we are good in prod

[2018-06-21 06:29] Veethika commented on #3690
@joshuawilson @nimishamukherjee UX would be creating a story for Planner Permissions for the next sprint. Please assign this story to the relevant person who would be taking care of the momentary fix.

[2018-06-21 06:43] sthaha commented on #3802
@piyush1594 yes, this is a build-cd bug as we should be cleaning up unwanted resources.
IMHO the service that is creating the job/pipeline must be the one cleanup it up as well.  So the question is what is creating that job?

I also wonder if this issue is an indirect cause of cpu/memory spike when jenkins start.

[2018-06-21 06:44] jmelis commented on #3833
removing SEV-1 label as the PR roll back restored the functionality back to normal

[2018-06-21 06:46] piyush1594 commented on #508
@rgarg1 This is very old and not the case now. Can you please confirm and close?

[2018-06-21 06:48] piyush1594 commented on #221
@RanjithRV @joshuawilson @danieloh30 I think this is not an issue right now. Can you please confirm and close?

[2018-06-21 06:50] piyush1594 commented on #123
@maxandersen Is this we need to workaround? We are going well with master branch :smiley:

[2018-06-21 06:52] piyush1594 commented on #183
@jfchevrette Is this still a problem and need to be resolved?

[2018-06-21 06:53] piyush1594 commented on #763
@sbose78 Is this still happening? Can you confirm please?

[2018-06-21 06:58] piyush1594 commented on #1301
@jfchevrette Can you please check once more. Can you please confirm if this is still there?

[2018-06-21 07:02] rgarg1 commented on #3690
@nimishamukherjee @sbose78 @sanbornsen

I tested by patching the work item in question via APIs and observed that the API _allows_ editing the work item. I was able to add a description test to the work item. So, the restriction is enforced by the Planner UI, which needs to be handled.

[2018-06-21 07:07] jaseemabid commented on #3798
@piyush1594 Yeah, we could go delete hubot references from pipeline library or make it an empty function so that existing Jenkinsfiles won't break.

[2018-06-21 07:10] surajssd opened #3838 "Same container name in build causes conflict"
## Expected behavior

The build scripts in cico should do their job and not fail on random things, to increase the frustration of developers.

## Actual behavior

One of PR build failed on the build step with following error:

[code]

Build URL https://ci.centos.org/job/devtools-fabric8-wit/2764/console

## Steps to reproduce the problem

Happened on the CI, saw this for the first time, now sure i

[2018-06-21 07:10] piyush1594 commented on #3798
@jaseemabid Is this something from here https://github.com/fabric8io/fabric8-pipeline-library/blob/master/vars/approve.groovy#L14

[2018-06-21 07:11] surajssd commented on #3838
Saw this again today while the build was happening for https://github.com/fabric8-services/fabric8-wit/pull/2127

here is the log:

[code]

[2018-06-21 07:20] sanbornsen commented on #3690
For the time being, we'll be allowing the `collaborators` and the `non-collaborator creators` to edit a work item.

[2018-06-21 07:29] jaseemabid commented on #3797
@piyush1594 Yep, it's the k8s plugin waiting for agents to be available. We could add a better message there, like "please wait" because that's all you can do as of now.

[2018-06-21 07:31] alexeykazakov commented on #3690
@sanbornsen this is what WIT is already supposed to do as far as I remember. Maybe it was changed since we implemented it though.

[2018-06-21 07:34] jaseemabid commented on #3798
Yeah, I see a few more references to the same function.

1. This doesn't break anything and is just an annoying line in the logs. Since we usually have 40 java stack traces along with this, this is something tiny that can be ignored. We could make it a SEV3 or 4. Joshua probably just added a SEV2 label to all issues that didn't have a severity so that someone will take a look at it appropriately.

[2018-06-21 07:35] #2897 closed

[2018-06-21 07:37] aslakknutsen commented on #3838
Possible cause: https://bugs.centos.org/view.php?id=14920

[2018-06-21 07:45] piyush1594 commented on #3797
@jaseemabid Then I think this is not an issue. @ppitonak WDYT?

[2018-06-21 07:55] ppitonak commented on #3797
It is a usability issue... when a user sees this message, they don't know if it's expected behavior or an error and when it is expected to continue.

[2018-06-21 07:56] piyush1594 commented on #3174
I think this is coming from https://github.com/jenkinsci/blueocean-autofavorite-plugin/blob/master/src/main/java/io/jenkins/blueocean/autofavorite/FavoritingScmListener.java#L133

@jaseemabid @rupalibehera What can be done for this?

[2018-06-21 07:57] pbergene commented on #3833
What part of the process is failing here?  How is an issue which breaks the happy path discovered in preview and then promoted to production?

[2018-06-21 08:00] ppitonak commented on #3833
@arunkumars08 https://github.com/fabric8-ui/fabric8-ui/pull/3019 was merge but the issue is still reproducible in prod-preview

[2018-06-21 08:04] muruGanesan commented on #3792
@serenamarie125 thanks for your input.
Sure, I will prepare some documentation around the finding and share it with you.

[2018-06-21 08:10] rgarg1 commented on #3642
Also needs to be taken care for work items:

- Iteration drop-down
- Assignees drop-down
- Labels drop-down

[2018-06-21 08:11] ppitonak commented on #3833
@pbergene There are two Jenkins jobs for prod-preview running every hour, one tests happy path with released features, the second one tests beta features.
* https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/
* https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/

Both of them are failing, when you o

[2018-06-21 09:50] sthaha commented on #3390
@hrishin that seems to fail during authentication. Could you also provide the network screenshot since the one you provided seems to contain something unrelated.

[2018-06-21 10:21] sunilmalagi commented on #3786
@nimishamukherjee,
Here are my thoughts:
1) Fly-out i.e. quick preview displaced ONLY if the user click on any work-item which means his primary focus is on the "quick preview".

2) User can access the actions only the one's which he/she can view.  If user wants to act on any other hidden controls (beneath the quick preview pane) then the 'quick preview" panel has to be closed.  We went through Gi

[2018-06-21 10:47] arunkumars08 commented on #3833
@ppitonak Yes, I tried things with that PR in local yesterday. Things worked fine and still work fine. That gave me the confidence to say it will work in prod-preview as well. Also, without this PR things were failing in local yesterday as mentioned in the running issue.

Reasons could be:

1. Recently patternfly-ng was updated across fabric8-ui and the same had to be done in ngx-forge.
2. To addr

[2018-06-21 11:54] jaseemabid commented on #3174
Can we just get rid of blueocean-autofavorite-plugin?

[2018-06-21 12:19] piyush1594 commented on #3174
@jaseemabid @rupalibehera Is this not required? I really don't have idea.

[2018-06-21 12:54] mceledonia commented on #2380
@jiekang @catrobson

I may be wrong but I believe the warning overlays and pod scaling disabled tooltip were the only "finalized" designs there. The tooltips are conceptually correct but the icons and language used on them are incorrect. The resource usage drawer was not reviewed by dev but seemed to be getting good feedback from design, so that certainly would be worth discussing and deciding on

[2018-06-21 13:11] dlabrecq commented on #3833
I believe we need to update ngx-forge so it uses the same package version as fabric8-ui. The current ngx-forge version in fabric8-ui is 0.2.34, but the latest is 0.3.8.

[2018-06-21 13:13] invincibleJai commented on #3833
@dlabrecq it's latest there https://github.com/fabric8-ui/fabric8-ui/blob/master/package.json#L144

[2018-06-21 13:32] dlabrecq commented on #3833
Sorry, I didn't update my local workspace. After pulling the latest, I'm able to navigate through the app-launcher and create an application successfully.

[2018-06-21 13:47] christianvogt commented on #3793
When saving a 'space', all whitespace in the name are converted to underscores. They show up as a whitespace in the UI because the names are piped through the `spaceName` pipe which replaces all underscores with a space.

We cannot distinguish between the user entering whitespace or an underscope when creating a space due to the conversion. Then when it comes to filtering, we're trying to match a

[2018-06-21 14:08] dlabrecq commented on #3833
Looking at the errors with prod-preview, it appears as if that does not have the latest ngx-forge package. Is that possible? I encountered the same errors until I updated that package locally.

[2018-06-21 14:10] mindreeper2420 opened #3839 "Update User Settings Heading to Match Location"
Currently, the User Settings page has a heading that just states "Settings" with a gear icon. I believe it would be more beneficial to have this say "User Settings", without the gear icon, to better identify where the user is and what that page is nested under.

<img width="655" alt="screen shot 2018-06-21 at 10 08 55 am" src="https://user-images.githubusercontent.com/4032718/41724255-2901a072-753

[2018-06-21 14:11] mindreeper2420 commented on #3839
@mceledonia I wanted to add this issue in, as it looks like this pattern may become used by @lwrigh as well. I think we could make these clearer for the user and give some more context.

[2018-06-21 14:18] christianvogt commented on #3793
Github allows spaces in the repo name but tells you that the spaces will be converted to hyphens.
![image](https://user-images.githubusercontent.com/14068621/41724701-2212f7a6-753c-11e8-96e1-142fd9378e1f.png)

If the space name does not allow whitespace, we should indicate this and display the name as-is without any transformation. The current `spaceName` transformation is a cause for confusion be

[2018-06-21 14:24] invincibleJai commented on #3833
@dlabrecq not sure , we tried with all possible ways we could i.e build:prod, docker build but no luck in reproducing it. :|

[2018-06-21 14:32] dlabrecq commented on #3833
Wondering if it's an issue with package-lock?

[2018-06-21 14:36] kishansagathiya commented on #3390
@sthaha I think earlier also it was failing at the same stage.

[2018-06-21 14:55] pmacik opened #3840 "Prod: Duplicate build is triggered when importing booster from existing repo"
Steps to reproduce:

1) Reset environment
2) Create a space
3) Import a [github repo](https://github.com/osioperftest/test123) with the booster app (REST API Level 0 - Eclipse Vert.x Booster) with Promote Stage to Run strategy)
4) Wait for build pipeline to start

After several minutes of Build 1 the second Build 2 is triggered and Build 1 is waiting.

5) Open OpenShift Console to check for Pipeli

[2018-06-21 14:59] sbose78 commented on #3836
Thanks @muruGanesan .
"..you will be able to complete these sort of actions.." , @lwrigh , are we implying that we are gonna put the list of scopes that this role is gonna give the user in the email. ( "example, "create workitem" ) ?

CC: @sbryzak

[2018-06-21 15:02] pmacik commented on #3840
Each import of the same repo adds a new `Initial commit` that might cause the jenkins build to be triggered.
![image](https://user-images.githubusercontent.com/3263627/41727512-cff7cc6a-7574-11e8-9002-31b2814a0258.png)

[2018-06-21 15:08] jfchevrette commented on #1301
I can confirm this is fixed now. Thanks!

[2018-06-21 15:08] #1301 closed

[2018-06-21 15:09] jfchevrette commented on #183
I'm not seeing this anymore. Closing.

[2018-06-21 15:09] #183 closed

[2018-06-21 15:17] christianvogt commented on #3529
We should consider tooltips that mount on the body or use fixed display. Something to ensure pf4 addresses.

[2018-06-21 15:39] rootAvish commented on #3682
This work was de-prioritized and hence not taken up in the sprint. Moving to backlog.

[2018-06-21 15:41] rootAvish commented on #3547
PR is raised here: https://github.com/fabric8-analytics/fabric8-analytics-npm-insights/pull/28

[2018-06-21 15:41] #3547 closed

[2018-06-21 15:51] mceledonia commented on #3839
@mindreeper2420 This sounds good to me. Let's make the changes you listed above, we can also carry this design over into "Space Settings" in the same fashion as discussed earlier.

[2018-06-21 15:53] pmacik commented on #3840
Tried again and this time 2 additional builds were triggered by jenkins job.
![image](https://user-images.githubusercontent.com/3263627/41730373-f6be137a-757b-11e8-89e1-144f9163e894.png)

[2018-06-21 16:06] dlabrecq commented on #3833
I see that fabric8-ui is still using fabric8-planner v0.50.4, dated 6/20. That could be installing an older version of patternfly-ng? I'm thinking we should update fabric8-planner next.

[2018-06-21 16:08] christianvogt commented on #3711
I have a feature in planner as well covering the same topic as this issue.

@mindreeper2420 let's chat about the naming convention before doing any refactoring.

Do we want to continue to use the name `fabric8` or `f8`? Or move to `osio`?

[2018-06-21 16:28] piyush1594 commented on #3840
Duplicate of #3742

[2018-06-21 16:55] jiekang commented on #3784
@hrishin why is this assigned to me? The issue is not in fabric8-ui.

[2018-06-21 17:29] tisnik commented on #3592
everything's green, TYVM @abs51295

[2018-06-21 17:29] #3592 closed

[2018-06-21 18:33] andrewazores commented on #3837
@openshiftio/uxd-team what should this widget display when viewing another user's profile?

[2018-06-21 18:38] andrewazores commented on #3790
@aptmac can this be closed? Your related PR was merged but didn't contain the "magic words" in the commit message to autoclose this.

[2018-06-21 18:38] #3827 closed

[2018-06-21 18:39] andrewazores commented on #3757
@catrobson @serenamarie125 ping

[2018-06-21 18:46] aptmac commented on #3790
@andrewazores Ah yes this can be closed, I didn't realize that it was the commit messages that autoclosed issues - that's pretty neat.

[2018-06-21 18:46] #3790 closed

[2018-06-21 18:52] andrewazores commented on #3837
Related, more general issue: https://github.com/openshiftio/openshift.io/issues/3635

[2018-06-21 19:02] andrewazores commented on #3724
Taking a cursory look at this, it seems that the main "Create" tab navigation (Codebases/Pipelines/Deployments) and the Settings tab navigation look and feel the same, and Profile is different from these.

Create and Settings both use router links for navigation, where Profile has its own hand-rolled tab index solution rather than using a router outlet and child views. IMO Profile's tab system sho

[2018-06-21 19:05] mindreeper2420 commented on #3711
I think the naming convention depends on whether this stays as a repo within the fabric8 org, or if it becomes one inside of the openshiftio org (something like openshiftio/ui). If it stays inside of fabric8, I think the `f8` + `reponame` would be appropriate - `f8ui` for fabric8-ui, `f8planner` for fabric8-planner, etc.

Can you share the link for the planner story? I couldn't find anything in th

[2018-06-21 19:08] aptmac commented on #3837
I don't think #3635 should be relevant after the overhaul to the profile page; the user controls are hidden behind `ngIf="viewingOwnAccount"`

[2018-06-21 19:18] joshuawilson commented on #3711
From when we took the `fabric8` name we started using `f8` as a pre-fix. You should continue to use it until we go through a name change.

[2018-06-21 19:41] ldimaggi commented on #3774
Sorry for the delay - yes - this should be closed.

[2018-06-21 21:49] dlabrecq commented on #3833
FYI, I regenerated the package-lock for ngx-forge and fabric8-planner using the latest patternfly-ng. After planner has merged the PR, I'll update fabric8-ui.

[2018-06-21 22:23] maxandersen commented on #123
is the head of master branch still able to build/run project created 6 months ago ?

How about 12 months from now ? will master be able to build/run projects made today ?

[2018-06-21 23:52] sbryzak commented on #3836
@lwrigh I have a similar query as @sbose78 - currently we don't have any easy way to describe the privileges that will be gained by the user if they accept the invitation, as per the above screenshot.  Also, it is possible for a user to be invitied to accept multiple roles - how should this be reflected in the first sentence of the e-mail?  For example, a user might be offered both the contributor

[2018-06-22 02:20] jaseemabid commented on #3174
Reading the description of it, it seems like something we can live without. Since this Jenkins will usually run only a few jobs mirroring the name of the github repo or project, I don't think there is a need for a favourites feature. Each plugin reduced is huge savings in memory and potential bugs like these. WDYT @rupalibehera?

[2018-06-22 02:38] joshuawilson commented on #221
Closing as not reproducible.

[2018-06-22 02:38] #221 closed

[2018-06-22 02:39] #132 closed

[2018-06-22 05:05] hrishin commented on #3784
@jiekang no worries. This issue could be addressed at various levels. It's launcher first that has to validate project name to compliment DNS name constraints. At build side, there is little/no scope to address this it.

@gastaldi  @animuk

[2018-06-22 06:01] animuk commented on #2931
@piyush1594 , thing is that, this idling of the jenkins can be seen intermittently though this is not happening every time. this week also, for one of the request, jenkins build went to idle state for around 15 mins, after that I killed the build.

[2018-06-22 06:07] Preeticp commented on #241
Thanks @joshuawilson I have created an issue in the docs repo to track this work.

[2018-06-22 07:02] sanbornsen commented on #3690
@alexeykazakov maybe, but we don't have a proper generic permission model in place to look for what is allowed and what is not from the front end. We assumed non-collabs can't add a work item thus, all the checks in front end were based on that.

[2018-06-22 07:05] #3560 closed

[2018-06-22 07:08] Raunak1203 commented on #3028
Issue is fixed with PR https://github.com/fabric8-ui/fabric8-planner/pull/2675

[2018-06-22 07:08] #3028 closed

[2018-06-22 07:10] pmacik opened #3841 "Recent Active Pipelines link in Homepage is invalid"
Recent pipelines link in Homepage is invalid and to lead to 404:

![image](https://user-images.githubusercontent.com/3263627/41762637-a9492140-75fb-11e8-9eed-33a79c62c3bd.png)

The correct Pipelines page is:
`https://openshift.io/osio-ci-ee9/osio-ci-ee9-BDD-space-2018-06-21T17-42-02/create/pipelines`

![image](https://user-images.githubusercontent.com/3263627/41762757-1384c168-75fc-11e8-833c-6b914

[2018-06-22 07:12] piyush1594 commented on #2931
Yes, we are aware of the issue sometimes Jenkins is failing to become un-idle and that may be causing this issue. That issue is logged at #3517 and work is in progress. @animuk

[2018-06-22 07:14] pmacik commented on #3841
The recent pipelines show Build 3 while the Pipelines page show Build 1.

Likely caused by https://github.com/openshiftio/openshift.io/issues/3840 (https://github.com/openshiftio/openshift.io/issues/3742).

[2018-06-22 08:34] corinnekrych commented on #3815
After further thinking, here a rough idea of different tasks associate to the work:
- [ ] Create `ngx-feature-flag` (`ngx-toggles` already used on npm)
- [ ] Build: run test, demo, make a new npm release
- [ ] Add demo like [ngx-launcher](https://github.com/fabric8-launcher/ngx-launcher)
- [ ] Add CI/DD
- [ ] Make fabric-ui uses ngx-feature-flag + clean code
- [ ] Move documentation from fabric8-u

[2018-06-22 08:44] rgarg1 opened #3842 "Data being typed is lost on clicking outside"
# Steps

1. Open quick-preview of any work item
2. Type a new description text. Do not save the description yet
3. Edit another field in the work item, say Area.

_Observe that the description message you typed, vanishes._

# Expectations
 Users may choose to edit any field, while they are still typing in the description. If they lose all data like this, they are not going to like it.

[2018-06-22 09:18] invincibleJai commented on #3833
Thanks @dlabrecq , let us know if any changes are needed in ngx-forge.

As this issue looks related to patternfly-ng version in fabric8-ui so unassigning myself and @jyasveer as we not looking actively into it.

[2018-06-22 10:35] #1835 closed

[2018-06-22 12:21] catrobson commented on #3757
@andrewazores There isn't an existing, clean, solution for this in PatternFly after some investigation. I'd suggest that we leave this as it is implemented for right now, and we'll put a story into the UXD backlog to investigate the creation of an indeterminate state icon until the actual state loads to replace that icon with.

[2018-06-22 12:30] joshuawilson commented on #3757
@catrobson do we convert this to a `task` or do you want to create a new issue and we close this one?

[2018-06-22 12:36] joshuawilson commented on #3784
@hrishin we do not assign people.

Assignment == commitment to do the work.

So only the person doing the work should assign themselves when they take it on. The only except is the Lead may assign them during planning.

[2018-06-22 13:21] jiekang commented on #3784
So after a little more digging with a vert.x http booster GitHub repository that was renamed to start with a number, I have found that it's actually the maven artifactId that triggers this issue. A pipeline with just the GitHub name change passed. After changing the artifactId to match the name, the pipeline failed. For an example see: https://github.com/jiekang/1234-4321/commits/master (This repo

[2018-06-22 14:05] CermakM commented on #3684
Resolved by https://github.com/msrb/nvdlib/commit/9ee0a09b1e758f2b97c8dd47a3910fad47623ddf

[2018-06-22 14:05] #3684 closed

[2018-06-22 14:11] hrishin commented on #3784
@joshuawilson noted, will keep that in mind :+1:

@jiekang thanks a lot for the further investigation on this. :+1:

If a user commits artifacts id with an invalid name it would boil down to build system. yeah, let's create the service name by appending `service-` with all lowercase. Let's see if it works.

[2018-06-22 15:03] chrislessard commented on #3724
@andrewazores "Profile's tab system should be replaced with a router outlet"

I second this as a good idea.

[2018-06-22 15:19] mceledonia commented on #3839
@mindreeper2420 This sounds good to me. Let's make the changes you listed above, we can also carry this design over into "Space Settings" in the same fashion as discussed earlier.

[2018-06-22 15:46] ldimaggi commented on #3840
Issue was found by the automated BDD tests.

[2018-06-22 16:11] lwrigh commented on #3836
@sbose78 @sbryzak In that case, for the first iteration we can omit that part of the copy. I've been designing with the intention that a user can only have one role per space invite so in that case a user might have to receive multiple multiple space invites if they were to have multiple roles in space since I thought we had discussed users not having multiple roles in a space.

Here's an updated

[2018-06-22 16:40] corinnekrych opened #3844 "create initial repo for ngx-feature-flag"
Link to user story https://github.com/openshiftio/openshift.io/issues/3815

create the repo, move the source code, run build and test.

[2018-06-22 17:37] catrobson commented on #3757
Updated to type:task.

[2018-06-22 18:31] aptmac commented on #3841
The `contextPath` portion of the URL is listed as undefined from the `Contexts.current` [0]. From a bit of playing around, the line of code that sets the `contextPath` [0] is not being hit. As a result, the URL for the link is broken in the component [1].

I'm wondering .. is it necessary to retrieve the value from the Contexts when the namespace can be retrieved from the same config that is used

[2018-06-22 18:49] jiekang commented on #3841
I'm not sure. I don't know the history behind `Contexts.current`. It seems to be a regression that it's no longer being set.

[2018-06-22 18:56] jiekang commented on #3841
This must have been broken for a long time otherwise? Since the recent pipelines widget is on _home, the context will not have an associated space. I think your solution is fine.

[2018-06-22 19:28] #3833 closed

[2018-06-22 20:11] dlabrecq commented on #3833
Tested the latest prod-preview and I was able to create an application successfully.

[2018-06-22 20:24] GeorgeActon commented on #3699
@humaton @msrb what is the status of this. It is marked as resolved in planner??

[2018-06-22 20:34] lwrigh commented on #3654
Interaction notes have been added to the wireframes.

[2018-06-23 00:19] sdash-redhat commented on #3655
Here is the updated version (0.2)  : [https://redhat.invisionapp.com/share/P7LNZNZUZ9Y](https://redhat.invisionapp.com/share/P7LNZNZUZ9Y)

[2018-06-23 02:28] joshuawilson commented on #3833
nice work @dlabrecq :)

[2018-06-23 03:57] #3839 closed

[2018-06-23 05:09] #3724 closed

[2018-06-23 07:36] Ohrimenko1988 commented on #2641
@piyush1594 I can't reproduce this issue

[2018-06-23 07:36] #2641 closed

[2018-06-23 08:34] piyush1594 commented on #2641
Thanks a lot @Ohrimenko1988 for your feedback

[2018-06-23 08:46] piyush1594 commented on #3203
I tried to reproduce this but can't. @mmclanerh Can you please check once again? Seems like fixed

[2018-06-23 08:57] piyush1594 commented on #3425
@rgarg1 I tried to reproduce this. This is not the case right now. Can you please check and confirm? Thanks

[2018-06-23 16:15] piyush1594 commented on #1604
Duplicate of #3802 Can we close this? @aditya-konarde

[2018-06-23 16:15] piyush1594 commented on #1604
Can we close this? @aditya-konarde

[2018-06-23 20:33] aslakknutsen commented on #3804
Clusters for prod and preview updated.

[2018-06-23 20:33] #3804 closed

[2018-06-25 03:50] piyush1594 commented on #3098
Duplicate of #3797

[2018-06-25 03:50] piyush1594 commented on #3098
Closing this @RickJWagner as other has more visibility. Thanks

[2018-06-25 03:50] #3098 closed

[2018-06-25 03:53] piyush1594 commented on #2210
@jmelis This is working fine now. Can you please check?

[2018-06-25 04:43] Raunak1203 opened #3845 "404 error on clicking View full details"
Steps:

- Open https://openshift.io/nmukherj/fabric8-planner/plan?q=(space:e0e8e630-ecce-497f-b394-0061a18edb22%20$AND%20typegroup.name:Work%20Items)&showTree=true
- Click on workitem title to open quick preview
- In the quick preview, click on  "View full details "
- 404 error is thrown

![404](https://user-images.githubusercontent.com/34271052/41830741-5a3139e6-7860-11e8-8ce8-51a62b658a2c.gif)

[2018-06-25 06:00] animuk commented on #3346
@piyush1594 As discussed, If you already have that endpoint in the jenkins proxy layer, then use that to prompt the user "try again" and/or "cancel" in the pipeline screen before it starts deployment in the openshift.

[2018-06-25 06:32] invincibleJai commented on #3818
Changes are in prod. In Import/create flow both repo name and app name shouldn't be dependent on each other i.e shouldn't be same. It can be closed

[2018-06-25 06:32] invincibleJai commented on #3795
Changes are in prod, hence closing it.

[2018-06-25 06:32] #3795 closed

[2018-06-25 06:33] invincibleJai commented on #3356
Have handled the changes as suggested by UX as in https://github.com/openshiftio/openshift.io/issues/3356#issuecomment-396562994

This can be closed cc @kishansagathiya @piyush1594

[2018-06-25 06:34] msrb commented on #3699
This is [resolved], but the changes are not yet in production. It makes more sense to wait for [planner/2448] to be resolved as well and then promote both of them to production at the same time.

[resolved]: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/676
[planner/2448]: https://openshift.io/openshiftio/openshiftio/plan/detail/2448

[2018-06-25 06:34] #3699 closed

[2018-06-25 06:44] nurali-techie opened #3846 "restrict few specific cluster to be default backend for oso-proxy"
There is a difference in how the 2 and 2a cluster work compared to 1a and 1b. It's being investigated (HK Issue), but 1a and 1b can't be used as a 'default' cluster for the CORS stuff (it returns unauth on all CORS requests). Since we're currently 'randomly' selecting a cluster there is a certain chance we kill the UI on redeploy. Until the root cause is found, maybe we should add a "don't use 1a

[2018-06-25 07:12] #3751 closed

[2018-06-25 07:38] piyush1594 commented on #3356
Tested. Worked fine for me. Closing this @kishansagathiya @invincibleJai

[2018-06-25 07:38] #3356 closed

[2018-06-25 07:41] piyush1594 commented on #877
@joshuawilson It happened something like this for me now

![test-fail](https://user-images.githubusercontent.com/19270240/41836717-399c5e72-7879-11e8-80c3-fd3f7637c4ff.png)

Seems like the issue is not there now.

[2018-06-25 08:51] mmorhun opened #3847 "user namespace is missing for some of the accounts (side effects is 'Internal Server Error' during che workspace creation)"
When I try to start any workspace it fails right after loading GWT IDE with `Internal Server Error occurred, error time: ********` message in a popup.

I have `<username>-che` namespace. When I try to see logs or events I only can see `No Pods` message.
I can always reproduce this issue. It doesn't matter which stack I try to use (I tried a few - the same result).

[2018-06-25 08:57] AndrienkoAleksandr commented on #3847
I have the same issue.

[2018-06-25 09:07] tisnik commented on #3750
Check was added, but the threshold was not set to 90% for all repositories right now. It could be configured later.

[2018-06-25 09:07] #3750 closed

[2018-06-25 09:07] ibuziuk commented on #3847
@AndrienkoAleksandr @mmorhun could you please provide events from `*-che` namespaces from oso ?

[2018-06-25 09:12] ibuziuk commented on #3847
for @mmorhun case the che server logs shows the following:

[code]
@AndrienkoAleksandr could you please provide your osio username ?

[2018-06-25 09:26] tisnik opened #3848 "[1] `f8a-hpf-insights` processed by all QA-related scripts and displayed on the QA Dashboard"
## Planner issue:

https://openshift.io/openshiftio/openshiftio/plan/detail/2676

## Task description

Add `https://github.com/fabric8-analytics/f8a-hpf-insights/` repository to QA Dashboard and setup all QA-related scripts.

## Acceptance criteria

- [x] `f8a-hpf-insights` repository is displayed on QA Dashboard
- [x] all QA-related scripts are prepared in the repository
- [x] all Python code che

[2018-06-25 09:38] piyush1594 commented on #2728
Closing this as no response seems like fixed.

[2018-06-25 09:38] #2728 closed

[2018-06-25 09:42] AndrienkoAleksandr commented on #3847
@ibuziuk I'm using oandriie to login.

[2018-06-25 09:47] ibuziuk commented on #3847
@AndrienkoAleksandr do you have all the namespaces when you login to oso ? it appeared to be that @mmorhun is missing user namespace (`mmorhun` namespace does not exist) :

![image](https://user-images.githubusercontent.com/1461122/41843320-881310a2-786d-11e8-931f-2c6171d82a67.png)

[2018-06-25 09:50] ibuziuk commented on #3847
@aslakknutsen any ideas why user namespace could me missing ?

[2018-06-25 09:53] AndrienkoAleksandr commented on #3847
![screenshot-console starter-us-east-2 openshift com-2018 06 25-12-53-13](https://user-images.githubusercontent.com/6873095/41843673-cd3de270-7876-11e8-939d-f51a7b4322d2.png)

[2018-06-25 09:55] ibuziuk commented on #3847
@AndrienkoAleksandr O_O you're also missing user namespace `oandriie` but what is super weird is the `TestProject` namepace.

[2018-06-25 11:35] piyush1594 commented on #877
@ldimaggi @joshuawilson I happened because of some failure from maven-central pulling.

[2018-06-25 11:41] rupalibehera commented on #3797
This is not a sev-2, and this is the kubernetes plugin as mentioned by the @jaseemabid , I am not sure how much we can do to prevent this on the Jenkins console output, may be on the OSIO UI we can say that "slave is not ready yet" until the slave is assigned.

[2018-06-25 11:41] sthaha commented on #3841
I am going to remove the build-cd tag since it seems like a UI issue. Please add it back if you think that isn't the case.

[2018-06-25 11:46] sthaha commented on #1604
Closing this in favour of #3802

[2018-06-25 11:46] #1604 closed

[2018-06-25 11:51] sthaha commented on #3797
downgrading the severity to 3 after referring https://github.com/openshiftio/openshift.io/wiki/Labels

IMHO the bug doesn't meet that criteria.

[2018-06-25 11:55] ibuziuk commented on #3847
@AndrienkoAleksandr I would really appreciate if you could try to delete `TestProject` (if you would be able to do it, this would mean that you have created the project yourself, otherwise it would mean some subtle bug in init-tenant)

[2018-06-25 12:04] rupalibehera commented on #3802
This is a build-cd bug, we should consider this issue in this or next sprint

[2018-06-25 12:15] sthaha commented on #3603
Closing as there isn't any support for openshift

[2018-06-25 12:15] #3603 closed

[2018-06-25 12:15] AndrienkoAleksandr commented on #3847
@ibuziuk I deleted project. Look video, please:
![screencast-console starter-us-east-2 openshift com-2018 06 25-15-05-24](https://user-images.githubusercontent.com/6873095/41849703-86e38974-788a-11e8-924c-9be83ee01b78.gif)

[2018-06-25 12:28] piyush1594 commented on #3058
Issue created for updating the FMP version in boosters https://github.com/openshiftio/booster-parent/issues/29

[2018-06-25 12:29] joshuawilson commented on #3841
@sthaha the Platform team is not the UI team. While we do help, this is ultimately the Build team's responsibility, even if all you can do is work with a UI dev from Platform. You still own it.

[2018-06-25 12:33] #3818 closed

[2018-06-25 12:49] #2237 closed

[2018-06-25 12:58] Veethika opened #3849 "Permissions Model for Planner"
Come up with the first iteration of Permissions model for Planner on OSIO.

### Acceptance Criteria
- [x] Understand the existing roles and permissions outlined by the Auth team
- [x] Define permissions for various action areas within Planner
- [x] Discuss with the Auth team
- [x] Finalise the permissions
- [x] Lay down the roadmap for future evolution in the model

[2018-06-25 12:59] Veethika commented on #3849
Here's the document outlining the permissions:
https://docs.google.com/presentation/d/1Q74OzhmLtqk2uaHnxOmLtsOMJjZWD1dz5YfbIudEkLw/edit#slide=id.p

[2018-06-25 13:11] bdellasc opened #3850 "Visuals: Rachel Branding"
VCs:

- [x] Meet with Stevan LeMeur to go over needs/requirements
- [ ] Post first pass concepts based on precedents with other products' branding
- [ ] Gather feedback on banding and iterate as necessary

Reference Materials
https://docs.google.com/document/d/1z7pR5CuisCamYTNlbaIL6elXTieKE4jnWgCzA9CWQUA/edit?usp=sharing

https://docs.google.com/presentation/d/1rDlTt4BxFYi2o916h71cwMJrXO6Jx1RyVR7T

[2018-06-25 13:36] parvathyvr commented on #3679
UX mockup screens are completed and reviewed.Hence closing this.

[2018-06-25 13:36] #3679 closed

[2018-06-25 13:56] #2880 closed

[2018-06-25 14:54] ibuziuk commented on #3847
The issue with missing / extra namespaces is tracked [1] by the SD team.
@mmorhun @AndrienkoAleksandr the issue for your accounts have been fixed. could you please re-login (in order to trigger `init-tenant`) and verify that the problem is fixed ?

[1] https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1852

[2018-06-25 14:56] ibuziuk commented on #3847
The issue with extra namespaces is supposed to be fixed as part of  https://github.com/openshiftio/openshift.io/issues/1446

[2018-06-25 15:07] piyush1594 opened #3851 "Git commit and Push Not Triggering Pipeline"
When you go to che workspace and do some changes, then git commit and git push, it is not triggering a pipeline

Steps to reproduce:

1. Create a booster application.
2. Open Che Workspace.
3. Do some changes, do git commit and push.

See no pipeline get triggered.

[2018-06-25 16:17] aptmac commented on #3837
@openshift/uxd-team

[2018-06-25 21:04] mmclanerh commented on #3232
@InfoSec812 is this still an issue or can this be closed?

[2018-06-25 22:04] bmicklea opened #3852 "Chrome pop-up blocking can lead to bad experience with OSIO"
**Problem**: When using OSIO the first time it's easy to miss the Chrome notification about allowing popups. If you do you're likely to get an unhelpful error and the impression that Che won't start.

**Environment**: Production

**Feature Flag Level**: Any

Ideally we'd find some way to avoid needing popups, but alternatively perhaps we can find some way to help avoid a situation in which the use

[2018-06-25 23:50] sthaha commented on #3841
@aptmac thanks for helping us.

@joshuawilson

Agreed, I am adding the label back

[2018-06-25 23:52] sthaha commented on #3802
@rupalibehera yes, I have added the `sprint/next` label and is in our backlog.

[2018-06-26 01:56] joshuawilson opened #3853 "Incident: cannot create an application"
== "cannot create an application"

*Period*: "20 Jun 2018 - 21 Jun 2018"

*System*: "OSiO|Launcher"

*Effected*: "~40 users"

=== Story

Fabric8-UI updated OSIO to the latest commit. This push to prod produced an error when trying to create a new application after creating a new space. This was seen in prod-preview and in the e2e tests.

It was initially reported at https://github.com/openshiftio/

[2018-06-26 02:06] joshuawilson commented on #3852
Duplicate of #3565
Fix is being worked in https://github.com/fabric8-ui/fabric8-ui/pull/2972

[2018-06-26 02:06] #3852 closed

[2018-06-26 02:11] joshuawilson commented on #3837
@openshiftio/uxd-team

[2018-06-26 03:10] sthaha opened #3854 "Importing a new project starts 2 builds"
I see two builds (instead of one) being started in openshift console  when a new codebase is added

#### Steps to reproduce

1. create a new workspace
1. Add an new codebase (didn't try with import codebase)
1. Select REST 0, and vertx-booster ( I don't think it matters what you choose)
1. Select the default release workflow (build -> stage -> approve -> run)
1. Wait for the pipeline to start

###

[2018-06-26 03:30] mmclanerh commented on #3847
@mmorhun are you able to go to profile -> edit profile -> update tenant? that should create missing objects. if that doesn't work go to the same spot and try "reset environment".

i am not seeing namespaces for mmorhun* via tier2 or via service account -- so, if they were manually created, this would be in a space that i cannot see into.

[2018-06-26 03:47] #3747 closed

[2018-06-26 03:58] Raunak1203 opened #3855 "loading workitem issue"
Steps:

- Select a new space
- Hide Panel
- Open detail view
- close detail view,  shows loading workitem

![sev-2](https://user-images.githubusercontent.com/34271052/41888455-2815f7f8-7923-11e8-9bf0-3f5b9e2f38a6.gif)

[2018-06-26 04:01] Raunak1203 opened #3856 "settings(move to displayed or available attribute) should be disabled if no column is selected"
![screenshot from 2018-06-26 09-31-13](https://user-images.githubusercontent.com/34271052/41888549-b01d426e-7923-11e8-9de2-87aa2e32df30.png)

[2018-06-26 04:12] Raunak1203 opened #3857 "Search for my spaces issue"
Steps:
Select My spaces from dropdown

1) Search by space name  'Agile' works
![screenshot from 2018-06-26 09-39-16](https://user-images.githubusercontent.com/34271052/41888810-d6d2c02c-7924-11e8-9930-dd1f465ec5db.png)

2) Search by space name 'new' works
![screenshot from 2018-06-26 09-40-02](https://user-images.githubusercontent.com/34271052/41888829-f9bb3024-7924-11e8-9525-8f22434954c4.png)

3)

[2018-06-26 05:00] Raunak1203 opened #3858 "Navigation bar header Backlog needs css color change"
Color of Navigation bar backlog looks fine in detail page
![screenshot from 2018-06-26 10-27-11](https://user-images.githubusercontent.com/34271052/41890074-8212ef10-792b-11e8-92e2-269a20019f38.png)

but in the list display it needs some changes ( as header and side panel color is different)
![screenshot from 2018-06-26 10-29-23](https://user-images.githubusercontent.com/34271052/41890145-cfdb6772

[2018-06-26 05:05] #3762 closed

[2018-06-26 05:06] #2538 closed

[2018-06-26 05:09] piyush1594 commented on #3854
Duplicate of #3742

[2018-06-26 05:11] #3854 closed

[2018-06-26 05:13] sthaha commented on #3742
What I observed was

1. Pipeline starts with `Build - 2` instead of `Build - 1`
1. The `Build - 2` fails and then `Build - 1` starts

OSO pipeline view looks a below:
![2-pipelines](https://user-images.githubusercontent.com/3005132/41886566-3d89a1b2-7940-11e8-9ec7-2a8ed1e57ff3.png)

Build - 2 fails with the following error
[code]

It seems to me that launcher is starting two pipelines instead of o

[2018-06-26 05:35] joshuawilson commented on #3858
@openshiftio/uxd-team

[2018-06-26 05:50] mmclanerh commented on #2984
this is a bit old -- is this still an issue?

[2018-06-26 05:50] mmclanerh commented on #2755
@pbergene thoughts on closing this and documenting as a known item + workaround available

[2018-06-26 05:52] mmclanerh commented on #2409
@ldimaggi can this be closed?

[2018-06-26 05:53] mmclanerh commented on #2395
@ldimaggi can this be closed? we have moved off of ebs.

[2018-06-26 05:53] mmclanerh commented on #2337
@joshuawilson @pbergene is this still an active goal?   if not, can we close this issue out?

[2018-06-26 05:54] mmclanerh commented on #2336
@pbergene / @joshuawilson this is from heather -- is this a priority this train?

[2018-06-26 05:55] mmclanerh commented on #1902
@pbergene did this all get moved..?

[2018-06-26 05:56] Raunak1203 opened #3859 "Adding a new work item in iteration issue"
Steps:
- Create a new iteration
- Click on iteration
- Add a new workitem
- Workitem is added and shown
- Now Go to Workitem group, newly created workitem is not shown anywhere.

Expectation:
- Newly created workitem should be shown in iteration and workitemtype group

![iteration](https://user-images.githubusercontent.com/34271052/41891847-b1ebc9ca-7933-11e8-98be-7b3023dc80fc.gif)

[2018-06-26 05:56] mmclanerh commented on #1724
closing, if people need merge access, list can be shipped as workaround.

[2018-06-26 05:56] #1724 closed

[2018-06-26 05:58] mmclanerh commented on #1442
this has been untouched since jan and there are significant limits on oso (Free). closing.

[2018-06-26 05:58] #1442 closed

[2018-06-26 06:00] piyush1594 commented on #2984
Duplicate of #3058

[2018-06-26 06:01] piyush1594 commented on #2984
Closin this.

[2018-06-26 06:01] #2984 closed

[2018-06-26 06:09] Raunak1203 opened #3860 "Custom query save should appear if saved query is deleted"
Steps:

- Save a custom query
- Delete a custom query
- After deleting save button should exist with active filters
![save delete](https://user-images.githubusercontent.com/34271052/41892375-75afd4c2-7935-11e8-912f-ddc57c274cf5.gif)

[2018-06-26 06:13] sthaha commented on #3851
Closing this as this seems to work fine. The thing is that you won't see that under `Pipeline` page in os.io as expected.

[2018-06-26 06:13] #3851 closed

[2018-06-26 06:15] #2805 closed

[2018-06-26 06:20] sthaha opened #3861 "Investigate switching to upstream Jenkins image to see if that brings more stability"
It seems a lot more JVM optimisation has gone into Openshift Jenkins. The spike is try using the upstream image to see if it brings about any improvements our current setup.

[2018-06-26 06:31] sthaha opened #3862 "Jenkins should cancel builds in progress when a PR is updated"
Currently when a PR is submitted a jenkins build is started to build and test the PR. However if the PR is updated while the build is in progress, user would have to wait for the build in Jenkins to be over in order to start a new build with updated PR. Lets change this behaviour so that build in progress will be cancelled and a new one would be started if a PR is updated.

This can be easily conf

[2018-06-26 07:11] arunkumars08 opened #3863 "[5] Dependency Editor UX Change list"
Planner Feature: https://openshift.io/openshiftio/openshiftio/plan/detail/2678

The following document has the change list based out of feedback - https://docs.google.com/document/d/1cO1GEMnetAcONnuQTR2AEohyfT0JNtoPJQaQS5ToHXA/edit

Tasks:

- [x] - Error handling [missed Feature]
- [x] - Count of dependencies shown against 'All' is wrong. [Bug]
- [x] - Tooltips [Feature]
- [x] - addition of descri

[2018-06-26 07:29] pbergene commented on #2337
It is, but H-train does not seem to be accurate.

[2018-06-26 07:32] mmorhun commented on #3847
@mmclanerh yes updating of tenant helped. Thank you.

[2018-06-26 07:40] pbergene commented on #2755
3.10 is shipping with the same haproxy, which I was hoping would be bumped.  Keeping this open would help not getting duplicates.  Do we have somewhere we're tracking known items where this could go?

[2018-06-26 07:43] AndrienkoAleksandr commented on #3847
@mmclanerh updating of tenant helped me too. Thank you!

[2018-06-26 08:05] jaseemabid commented on #1902
@mmclanerh Not yet. @rupalibehera is working on it.

[2018-06-26 09:58] tisnik commented on #3848
1st part: https://fabric8-analytics.github.io/dashboard/dashboard.html
2nd part: https://github.com/fabric8-analytics/f8a-hpf-insights/pull/17
3rd and 4nd part: dtto
5th part: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/566

[2018-06-26 10:02] #3848 closed

[2018-06-26 10:55] Katka92 opened #3864 "Create space button sometimes not visible and not working"
When having no space created and clicking "My spaces", I can see only white screen without the "Create space" button.

![screenshot from 2018-06-26 12-50-37](https://user-images.githubusercontent.com/29278800/41906916-96ebc45c-793f-11e8-8db8-d1d6b6c8dd73.png)

Up right button still works, so I created space via this one. Then I click "My spaces" again and removed the space. Now the "Create space"

[2018-06-26 11:13] ljelinkova opened #3865 "Cannot promote application in firefox"
Steps to reproduce
1. Create space
2. Create new application with "Rollout to Run" strategy
3. Go to pipeline page and wait until the "Input required" link is shown
4. Result on Firefox: the dialog appears but remains in 'Loading' state
5. Result on Chrome: the dialog appears and user is able to promote to Run

Firefox:
![firefox](https://user-images.githubusercontent.com/2078072/41907923-a0414326

[2018-06-26 11:24] ljelinkova opened #3866 "Link to Recent Active Pipeline does not work"
When you go to Account home and click some of the recent pipelines, you get _404: You've found something, but not the page you're looking for._ It seems that the linked URL contains the space twice.

`https://openshift.io/ljelinko@redhat.com/My_space/My_space/create/pipelines`

When I manually change the link to the following it works

`https://openshift.io/ljelinko@redhat.com/My_space/create/pipe

[2018-06-26 11:30] spicemit commented on #3777
Description added in graph at Staging and Prod.

[2018-06-26 12:46] jiekang commented on #3866
Possible duplicate of: https://github.com/openshiftio/openshift.io/issues/3841

See also: https://github.com/fabric8-ui/fabric8-ui/pull/3071

[2018-06-26 12:52] ljelinkova opened #3867 "Feature Flag Indicator breaks the feature level setting"
Steps:
1. Set the feature level to 'Production' and Feature Flag Indicator as OFF
2. Go to Account home and check that it is the 'old' dashboard
3. Change the feature level to 'Internal'
4. Go to Account home and check that it is the 'new' dashboard
5. Change Feature Flag Indicator to ON
6. Go to Account home
RESULT: There is 'old' account home page

[2018-06-26 12:57] jiekang commented on #3864
From `my-spaces.component.ts`. Empty state seems to be part of `pfng-list` behavior. This would be something to resolve in Patternfly.

[2018-06-26 13:03] ibuziuk commented on #3847
@mmorhun @AndrienkoAleksandr thanks for reporting! Closing this one since the issue with extra namespaces is supposed to be fully fixed as part of #1446

[2018-06-26 13:03] #3847 closed

[2018-06-26 13:03] invincibleJai commented on #3865
thanks @ljelinkova

[2018-06-26 13:15] jiekang commented on #3864
@dlabrecq @dgutride could you take a look here? Maybe the empty state config is wrong, otherwise I think the patternfly component will need to be updated. If an empty state config exists, it might be okay as the default start state of the list.

[2018-06-26 13:47] dlabrecq commented on #3864
The reason the empty state is not displayed is that the `get spaces()` accessor is never called. The spaces subscription never initializes the _spaces variable.

It's possible that the pfng-list could display the empty state for undefined items, but think we can handle this differently in the my spaces component.

[2018-06-26 13:49] dlabrecq commented on #3864
The reason why the empty state button doesn't work is that the onActionSelect was removed from pfng-list. The line below was removed when the new space overlay was enabled?

`(onActionSelect)="handleAction($event)"`

[2018-06-26 13:53] dlabrecq commented on #3864
This method was also removed from the my spaces component.

[code]

[2018-06-26 13:54] joshuawilson commented on #2336
This is something we are talking about starting in J Train.

[2018-06-26 13:56] joshuawilson commented on #2337
We are looking at adding this to J train.

[2018-06-26 13:57] aptmac commented on #3857
Looking at the Patternfly design explanations for the [Filter [0]](http://www.patternfly.org/pattern-library/forms-and-controls/filter/#design), it looks like this was intentional; the attribute categories aren't being correctly used here. Take a look at the heading "Filter Behavior", the screenshots above correspond to example 1 [0], which details: "Filters between attribute categories should be

[2018-06-26 14:02] jiekang commented on #3864
@dlabrecq will you have time to fix these? Otherwise I can take this on. Thanks for the analysis!

[2018-06-26 14:34] mindreeper2420 commented on #3858
Discussions are currently taking place around this. The only area affected (at the moment) is Planner. I will try to find the previous issues and link them to this.

[2018-06-26 14:46] dlabrecq commented on #3864
I'll be working on a similar (spaces subscription) issue regarding widget loading behavior on the home dashboard. I can take a look after that one, but don't wait for me.

[2018-06-26 15:08] kwk commented on #3839
Why is this closed? Can you verify this in the deployment (prod/prod-preview) and not close it with a commit?

[2018-06-26 15:11] hrishin commented on #3675
### Finding around unknowns

 The recommended version is 10 but it can also work with 8+ version, for node booster.

No.

No as such.

Unlike maven(Java) builds, npm build doesn't require preprocessing for `package.json`. From integration standpoint build need to invoke [bayesian Jenkins step](https://github.com/fabric8-analytics/fabric8-analytics-jenkins-plugin/blob/master/src/main/java/com/redha

[2018-06-26 15:11] mindreeper2420 commented on #3839
It is on prod-preview
<img width="350" alt="screen shot 2018-06-26 at 11 11 36 am" src="https://user-images.githubusercontent.com/4032718/41921812-b917483e-7931-11e8-9212-79506e6cdb6a.png">

[2018-06-26 16:10] aptmac commented on #3837
https://github.com/fabric8-ui/fabric8-ui/pull/3036 has been merged which solved the initial issue here; the undefined loggedInUser value.

However, loggedInUser is still used in several parts of the component [0][1][2][3] which cause the logged in user to see their recent work items in the work-item-component of other user's profile. For example, I have a work item, that I see on my profile, but I

[2018-06-26 17:36] sunilk747 commented on #3777
@spicemit I don't see any description in prod as well as staging.

[2018-06-26 18:16] lwrigh commented on #3374
Here are the most recent wireframes with interaction notes included: https://redhat.invisionapp.com/share/U7LVS3QQF9K

[2018-06-26 19:56] aptmac commented on #3867
There seems to be a weird disconnect between the feature level values.

For example, I put a logging line in the `analyze-overview.component` to display `UserService.loggedInUser.featureLevel` (showing internal) [0], and another one for the `FeatureTogglesService.getFeature().attributes['enablement-level']` (showing beta) [1], and they're different. They're also different from what I have currentl

[2018-06-26 20:09] mindreeper2420 commented on #3829
This is also an important resource: https://www.w3.org/WAI/WCAG21/Understanding/character-key-shortcuts.html.

Per WCAG guidelines, any interface that has custom keyboard shortcuts that only use a single letter (such as C to create or D to delete), it must allow users to turn them off, remap them or only apply the shortcut when the component is in focus.

[2018-06-27 05:44] #3642 closed

[2018-06-27 06:18] animuk commented on #3566
As we completed the document stating the guidelines. This completes the user story.

[2018-06-27 06:18] #3566 closed

[2018-06-27 06:21] #3841 closed

[2018-06-27 06:26] Raunak1203 opened #3868 "404 error while opening My Work Items from Profile page"
Steps:
- Go to My profile page
- then to My Workitem
- And click on workitem where you are not space owner but a collaborator
- throws 404 error

![404_error](https://user-images.githubusercontent.com/34271052/41956378-0c8fa84c-7a01-11e8-873f-bb6a4824b044.gif)

[2018-06-27 06:34] animuk commented on #3514
@GeorgeActon As discussed with @krishnapaparaju Build team needs to handle this particular task going forward. So, We might be closing this as we are not actively working on this shortly.

[2018-06-27 06:43] sunilmalagi commented on #3787
Here is the approved visual for Board view:
https://redhat.invisionapp.com/share/FHLX81BN52A#/305522296_BoardView_Approved

You can also view the following slides for exploration made for Card layout and Column's.

[2018-06-27 06:43] #3787 closed

[2018-06-27 07:14] piyush1594 commented on #3866
@jiekang Can we close this as other issue is closed

[2018-06-27 08:08] sunilk747 commented on #3777
Descriptions were added for each package in stage as well as prod.

[2018-06-27 08:08] #3777 closed

[2018-06-27 09:27] sdash-redhat commented on #3801
We went through the identified list by Catherine and Serena. Along with this, Ashish captured some points in his quick scanning of OSIO. Then based on the common affected areas/components, it looks like the following can be the structure of the Wiki to be fixed in alphabetical order):

https://drive.google.com/open?id=1iUWRui7Y2KFd_dG7l0h3J0Idu95o1Qq8

![wiki-structure-0 1](https://user-images.git

[2018-06-27 10:18] corinnekrych opened #3869 "fabric8-ui use ngx-feature-flag lib"
Link to US https://github.com/openshiftio/openshift.io/issues/3815
Make fabric-ui uses ngx-feature-flag + clean code

[2018-06-27 10:31] ljelinkova commented on #3755
I've not seen this issue for a while so I suggest to close it and re-open if it ever happens again.

[2018-06-27 10:57] michaelkleinhenz opened #3870 "Custom Attributes in Detail/Quick Preview View don't have "nil" Values"
The extra custom fields on the detail views always initialize with the first value in the enum and are not showing "nil" value even if the value on the Work Item is not set.

[2018-06-27 11:13] piyush1594 commented on #3755
Closing it @ljelinkova Please reopen it if happens again.

[2018-06-27 11:13] #3755 closed

[2018-06-27 11:21] Veethika commented on #2874
I'm doubtful of my availability for this task in this and the coming train, hence unassigning myself.

[2018-06-27 11:22] Veethika commented on #2972
Looks good to me
@catrobson @maxandersen WDYT?

[2018-06-27 11:28] Veethika commented on #3052
@xcoulon @nimishamukherjee
Please follow up on the solution and let's close if resolved.

[2018-06-27 11:31] Veethika commented on #3079
@SMahil @sunilmalagi @nimishamukherjee has this been resolved or is there something more awaited from the UX side?

[2018-06-27 11:33] Veethika commented on #3145
@Preeticp @nimishamukherjee @sunilmalagi has this been implemented already?

[2018-06-27 11:39] Veethika commented on #3359
@nimishamukherjee  @divyanshiGupta @sunilmalagi this problem seems to persist.
<img width="596" alt="screen shot 2018-06-27 at 5 07 37 pm" src="https://user-images.githubusercontent.com/35127763/41971608-aa5b5d8e-7a2c-11e8-898e-99ad972587b8.png">
Could we implement the following solution and close this?

UX Solution:
The moment a user click anywhere outside the tooltip(including another tooltip tr

[2018-06-27 11:41] GeorgeActon commented on #3284
@arunkumars08 This is closed but the 3 tasks are not marked off as done?

[2018-06-27 11:57] rgarg1 commented on #3359
@Veethika The PR that fixes it is still open.

[2018-06-27 12:01] Veethika commented on #3706
@nimishamukherjee @rgarg1 we should allow adding children on the detail page, but it should be looked at in a different story altogether along with few other changes to the detail view. Does this sound fine?
For now, we could limit this story to giving VD options for the linking action flow.

[2018-06-27 12:05] arunkumars08 commented on #3284
@GeorgeActon The tasks are being tracked there in https://github.com/openshiftio/openshift.io/issues/3244.
This seems to be a duplicate. Hence closed this.

[2018-06-27 12:12] chmouel opened #3871 "Build up skills on S2I"
We currently have some knowledge of how S2I works and S2I is critical of how we will build images on build.now or next.

Spent some time investigating this of how it works,

[2018-06-27 12:38] ibuziuk commented on #3817
@Katka92 could you please try now when rh-che is running against latest `6.7.1` ? is it still reproducible ?

[2018-06-27 12:50] ljelinkova commented on #3744
Sorry it took me so long, I've completely forgotten about this issue. But it has occurred today again so I was able to run through your steps. It seems that the `fabric8.io/bayesian.analysisUrl` key is not present.

![analytics](https://user-images.githubusercontent.com/2078072/41974854-66758986-7a19-11e8-87f6-757c0504471c.png)

[2018-06-27 13:17] catrobson commented on #2972
@kwk @Veethika looks good.  Thanks!

[2018-06-27 13:21] jaseemabid commented on #3861
1. The fork of  the base image [openshift/jenkins](https://github.com/openshift/jenkins) to [fabric8-jenkins/jenkins-openshift-base](https://github.com/fabric8-jenkins/jenkins-openshift-base) makes no sense anymore. I'm trying this change here in this [PR](https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/176).

2. Almost all the builder/slave images in fabric8-images repo is copy pas

[2018-06-27 13:27] #3866 closed, assigned to nobody

[2018-06-27 13:30] lwrigh commented on #3249
Here's the link to the Invision doc that features different options for showing different states within the applications widget: https://redhat.invisionapp.com/share/6SLYKNDUGVN

[2018-06-27 13:35] jaseemabid commented on #3861
Ref https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/176

[2018-06-27 13:53] aptmac commented on #3868
That'll be because of the way the URL is structured - it uses `context.user.attributes.username` [0] so instead of building the URL with space owner's username it'll just use the username of the profile page you're viewing.

[0] https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/profile/overview/work-items/work-items.component.html#L42

[2018-06-27 15:03] nimishamukherjee commented on #2972
![consistentfilters](https://user-images.githubusercontent.com/1892722/41982535-53b65be2-7a49-11e8-804f-c021eec84fe8.png)

Closing this as fix is on production

[2018-06-27 15:03] #2972 closed

[2018-06-27 15:58] nimishamukherjee commented on #3706
Sounds good @Veethika

[2018-06-27 17:00] slemeur commented on #3232
We can close this issue as the migration has been handled now.

[2018-06-27 17:00] #3232 closed

[2018-06-27 18:14] lwrigh commented on #3721
Here is an updated design suggestion for the page loading screen. I tried to make it more of a waiting screen instead of a loading screen: https://redhat.invisionapp.com/share/SJGOPZ44F83#/305682585_1-2_Login_Waiting---

@dlabrecq Let me know what you think.

[2018-06-27 18:29] dlabrecq commented on #3249
I like the screen with the in-progress and failed badges. That would leave room if we want to add a badge for a canceled state later.

[2018-06-27 18:33] lwrigh commented on #3721
@dlabrecq I think in this case it would make sense to still have the indeterminate progress bar. Great that sounds good to me, I can update the waiting message if it's a different thing we're waiting for.

[2018-06-27 19:08] andrewazores opened #3872 ""View all spaces" view is no longer reachable"
# Bug

As mentioned here:
https://github.com/fabric8-ui/fabric8-ui/pull/3070#pullrequestreview-132559144

The "View all spaces" page is no longer reachable due to an unintentional path collision with the Profile page's Spaces subview routing.

[2018-06-27 22:23] alexeykazakov commented on #3868
@rohitkrai03 could you take a look please?

[2018-06-28 03:02] Veethika commented on #3849
WIP: https://docs.google.com/spreadsheets/d/1ALVEMyI_i5dvOwx_0ChN9WvlyGhHkCwchylje2SrpdQ/edit?ts=5b3206d6#gid=0

[2018-06-28 05:04] rohitkrai03 commented on #3868
@alexeykazakov Sure.

[2018-06-28 05:51] nimishamukherjee commented on #3786
@sunilmalagi consider this use case - I'm look at the quick preview of one work item. I want to keep the preview open and perform some more filtering to look at related items

On a side note - I don't think what we call quick preview is actually quick preview :)

[2018-06-28 05:56] nimishamukherjee commented on #3772
![username](https://user-images.githubusercontent.com/1892722/42015657-d3c0c8d2-7ac5-11e8-901b-d804966e2efa.png)

We have something in place on the Adding Collaborator page. This design would not hold good on the planner page as we are dealing with much lesser real estate. @sunilmalagi you could look at the same design as the collaborator page but redesign it to fit in the Planner layout.

[2018-06-28 06:23] Veethika commented on #661
Removing myself as an assignee as I'm not actively working on this right now. Will reassign when needed.

[2018-06-28 07:04] arunkumars08 opened #3873 "Changes in the UI to point to /api/booster-catalog/ instead of /api/booster-catalog/booster for getting github information"
Currently in ngx-launcher, we hit /api/booster-catalog/booster for getting github information associated with the mission and runtime combination selected by the user.

Since the backend has migrated that to make things more effective, the necessary changes needs to be handled in the UI as well to consume the correct response.

This task tracks those changes.

[2018-06-28 07:07] #3740 closed

[2018-06-28 07:08] SMahil commented on #3739
@Raunak1203 I think this is fixed. Please verify and close(if resolved)

[2018-06-28 07:10] #3092 closed

[2018-06-28 07:10] #3083 closed

[2018-06-28 07:11] SMahil commented on #3079
@vikram-raj wdyt?

[2018-06-28 07:12] Raunak1203 commented on #3739
No @SMahil issue is still in prod and prod-preview

[2018-06-28 08:52] arunkumars08 commented on #3863
@parvathyvr @AshishDurgude Regarding tooltips, I have implemented them in this way. Please let me know if this sounds ok.

Content can be refined as well.

<img width="373" alt="screen shot 2018-06-28 at 2 21 10 pm" src="https://user-images.githubusercontent.com/7880465/42023929-aeb099d2-7ade-11e8-8547-7de5038f2270.png">
<img width="379" alt="screen shot 2018-06-28 at 2 21 01 pm" src="https://user

[2018-06-28 09:02] arunkumars08 opened #3874 "Delete use case for Dependency editor's insights"
Currently as shown in the below image, dependency editor's insights section handles removal of dependencies only from UI end. (If the same is refreshed, the deleted ones are sure to show up back)

This task can be used for the discussion around the implementation of it in the backend and the feasibilities.

What I can think for now,

1. Needs user mapping (as if one dependency when deleted by a us

[2018-06-28 09:30] hrishin commented on #3784
Added fix for this issue https://github.com/jenkinsci/kubernetes-pipeline-plugin/pull/68

[2018-06-28 10:31] slemeur commented on #3814
@ibuziuk :
The pages you put the screenshots for are the right ones. You are right, we want to rebrand these pages but not change the registration flow.

The rebranding should:
- Change the title
  - instead of "Register for the OpenShift.io" it should be something like "Register to Eclipse Che Live" (consider `Eclipse Che Live` as a placeholder for now)
  - we would add a small subtitle: "Eclipse

[2018-06-28 11:08] Katka92 commented on #3817
@ibuziuk Today I've tried it several times and seems it is not reproducible anymore.

[2018-06-28 11:54] arunkumars08 commented on #3863
Thanks @AshishDurgude. I think documentation and content changes for dependency editor is done by @Preeticp. I will get in touch.

[2018-06-28 11:54] arunkumars08 commented on #3874
The easier solution is to not show the 'Remove' icon.

[2018-06-28 11:58] slemeur commented on #3874
Not show the "remove" icon to avoid the proposal to be removed?

[2018-06-28 12:05] arunkumars08 commented on #3874
@slemeur Remove is a very nice feature to have and I am always on the same side. Currently, given the huge architectural changes that might be required to address this feature in the backend, it would be wise to not show it until we are ready.

Your thoughts are welcome.

[2018-06-28 12:14] slemeur commented on #3874
Maybe we can simplify.

We want the user to be able to hide certain recommendations will he is doing the setup of a project. The user should be able to tell to the system "I'm not interested by this library, don't show it anymore while I continue to setup this project".
While this is true for the session, for the unique project the user is setting-up, it might not be true for the next session (whe

[2018-06-28 12:19] arunkumars08 commented on #3874
Yes. if I understand your point correctly, the suggestion is to use that as a "hide for now" feature rather than an 'entirely remove' feature.

Which means, if a user clicks on the hide, it gets hidden in the current view but when he/she refreshes it is ok if it shows up.

[2018-06-28 12:20] arunkumars08 commented on #3874
If that is the case, that's how it is currently happening. Maybe we can rethink on the delete icon to show a hide icon and clearly indicate it to the user via a tooltip.

[2018-06-28 12:27] michaelkleinhenz opened #3875 "/render and POST on WIs with Description Markup does not get Quotes right"
When adding a code area to a description field, markup does not get rendered correctly. See https://github.com/fabric8-ui/fabric8-planner/issues/2351.

When looking at the queries, it looks like `/render` queries return the correct quoting and the preview ui is displaying the content correctly:

[code]

But on a PATCH on system.description, the response rendered markup appears to be double quoting

[2018-06-28 12:28] Raunak1203 opened #3876 "[Agile Template] : Business value, Effort, Time Criticality can't be updated"
Steps:

- Open quickPreview for workitem of type Theme
- Try updating Business Value, Effort, Time Criticality
- 'Workitem updated' message is shown but none of the value are shown

![dynamic](https://user-images.githubusercontent.com/34271052/42034157-c5a11f86-7afc-11e8-9d07-3d57b22d70b8.gif)

[2018-06-28 12:43] ppitonak commented on #3744
I managed to reproduce couple of minutes ago

[code]

[2018-06-28 12:48] joshuawilson commented on #2997
I vote for using the slash. That means when the root of the iteration should be `/`.

I don't need to see the spacename in the iteration, it just takes up more space.

[2018-06-28 13:23] #2955 closed

[2018-06-28 13:32] #3844 closed

[2018-06-28 13:49] sdash-redhat commented on #3655
UXD Review meeting notes (from today):
1. Type-ahead shown in the experience is to be marked as a stretch goal for implementation.
2. The Grey Background in Modal -- should it be white? -- While implementing in HTML, the team can play around with the background in modal.

[2018-06-28 13:51] muruGanesan commented on #2643
@rgarg1 , @mihaelkleinhenz , @SMahil
Please close this issue once it is fixed.

[2018-06-28 13:56] muruGanesan commented on #2640
@Ohrimenko1988, it is similar to #2643.
UX solution is provided in #2643 so, remove UX team from this issue

[2018-06-28 14:16] muruGanesan commented on #3837
@joshuawilson, it looks like more of an implementation issue.
Please let us know if any UX solution or recommendation is needed for this issue

[2018-06-28 14:55] aptmac opened #3877 "Subsequent navigation to the Planner results in a ExpressionChangedAfterItHasBeenCheckedError"
Navigating to the Planner after an initial visit results in a `ExpressionChangedAfterItHasBeenCheckedError`.

To recreate: navigate to the Planner and then navigate to a different page in OSIO. Navigate back to the planner and (if run locally) observe the following error in the console:
![error](https://user-images.githubusercontent.com/10425301/42041499-0d68b690-7ac0-11e8-9c5d-3de15bf2f952.png)

[2018-06-28 16:23] mmclanerh commented on #2755
@bmicklea Is there a known-issues/release notes place where placing this knowledge would be most appropriate?

[2018-06-28 16:29] joshuawilson commented on #3837
@muruGanesan this is not an issue for UX but a question was raised above for you.

"What should this widget display when viewing another user's profile?"

[2018-06-28 16:34] #3736 closed

[2018-06-28 16:34] #3746 closed

[2018-06-28 17:07] ibuziuk opened #3878 "Che does not show bayesain recommendations for package.json (only pom.xml)"
rh-che version based on `6.6.2` upstream che processed correctly both `pom.xml` & `package.json`

![image](https://user-images.githubusercontent.com/1461122/42049523-90173ac6-7b06-11e8-9126-16e2dc16ce27.png)

But after update to `6.7.1` recommendations only for `pom.xml` are working. The problem is likely to be coupled with the following commit [2] where quite a few bayesain related changes were i

[2018-06-28 20:52] alexeykazakov opened #3879 "WIT deployments are broken after latest DB migration"
The latest commit in WIT master contains a DB migration step - https://github.com/fabric8-services/fabric8-wit/pull/2133
It seems that that migration broke something.
Now WIT deployments fail in both preview and prod:

[code]

[2018-06-28 20:59] alexeykazakov commented on #3879
@kwk @michaelkleinhenz

[2018-06-29 05:51] nurali-techie commented on #3554
upgraded to 1.6.4

[2018-06-29 06:16] #3864 closed

[2018-06-29 07:09] jarifibrahim commented on #3879
The migrations are failing because the `values` for impediment field were changed but no `sql migration script` was added for it. We need sql migration script for these fields https://github.com/fabric8-services/fabric8-wit/pull/2133/files#diff-ef9bca69129f8d8e357ad2ba0192455aL55

[2018-06-29 07:28] kwk commented on #3879
@jarifibrahim I know which is why I said that in the mattermost chat.

[2018-06-29 10:09] kwk opened #3880 "Old WIT shall not run on new DB"
In https://github.com/openshiftio/openshift.io/issues/3879 we had a problem with importing a space template. The database was migrated and a field with type (*integer*) was removed from a particular work item type during that migration.

The space template import then wanted to reconstructed the field with a different type (*string*). But it never got to that point and failed before.

We assume th

[2018-06-29 10:27] rgarg1 opened #3881 "Multiple issues with WI fields in the Agile template"
The new Agile template introduces many new fields in a work item. It also brings along a few usability issues:

1. It's unclear which field requires text or integer or float. The error message in this regard pops up too late

2. Fields that require integer/float value too are too big, which may erroneously indicate a text input

3. The new fields carry no description (no tooltip) so an untrained u

[2018-06-29 10:28] kwk commented on #3880
To mitigate the danger of starting an old core on a newer database we could ensure that the old core also fails by doing two things:

1. Each core should know against which DB version is shall run. This can be figured out by inspecting the number of migrations a core is aware of.
2. When a core starts up and finished it's migration it MUST abort if the DB version is not exactly as the one it expec

[2018-06-29 10:53] sbose78 commented on #3880
@kwk I think your assumption is correct.

[2018-06-29 11:00] sbose78 commented on #3880
This should not cause a downtime, there might one replica less. The others should keep receiving traffic.

[2018-06-29 11:19] kwk commented on #3880
@sbose78 well there's a high chance of the old core to fail when operating on a new DB. This is actually another problem. Hm...

[2018-06-29 11:41] kwk commented on #3879
This was fixed with https://github.com/openshiftio/saas-openshiftio/commit/3fe35033026a05182d38bb562542ebfb5ccf1c2d.

[2018-06-29 11:41] #3879 closed

[2018-06-29 12:00] corinnekrych commented on #3867
👀 let me look...

[2018-06-29 12:01] nurali-techie opened #3882 "remove sensitive data from oso-proxy logs"
Currently, oso-proxy (i.e. traefik) logs `"Authorization"` header and `"access_token"` parameter into logs.  Till traefik 1.5.x it was not possible to remove this fields from logs.  With Traefik 1.6.x they have provided access_log_filtering feature [link](https://docs.traefik.io/v1.6/configuration/logs/#access-logs).  Use this feature to remove `"Authorization"` header and `"access_token"` paramet

[2018-06-29 12:38] nurali-techie commented on #3882
Reference - https://docs.traefik.io/v1.6/configuration/logs/#access-logs

For `Authorization` below changes done in traefik toml configuration file.

[accessLog]
format = "json"
  [accessLog.fields.headers]
  defaultMode = "keep"
    [accessLog.fields.headers.names]
    "Authorization" = "redact"

There were two possibility, either `drop` or `redact`.
drop will drop the field from logs altogether.

[2018-06-29 12:38] nurali-techie commented on #3882
Changes for `Authorization` with HK - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2089

[2018-06-29 12:45] corinnekrych commented on #3867
@aptmac my user is experimental on prod-preview.
in line 39 if I dump `user`:
[code]
in line 42 if I dump `feature`:
[code]
here `enablement-level` refer to the level of enablement of the feature itself which is `beta`, since I've accepted `experimental` features i can also see beta features therefore `"user-enabled":true`:
![screenshot 2018-06-29 14 32 06_preview](https://user-images.githubuserco

[2018-06-29 12:51] nurali-techie commented on #3882
For `access_token`

access_token is part of query parameter, it will be something like.
/some/path?param1=value1&access_token=secret

This path holds by to field in traefik.  `RequestPath` and `RequestLine`.

With traefik 1.6.x, one can drop fields altogether.  Like one can stop logging `RequestPath` field for always but it's not possible to drop this fields only when `access_token` is present as

[2018-06-29 13:36] aptmac commented on #3867
@corinnekrych

Ah I had overlooked that, thanks for clarifying.

There's still something fishy going on with my feature-flags though, it seems to be stemming from the toggle to show/hide the indicator. I ran into it again right now, I had:

1. Started with feature level `beta` with showing indicator `on`
2. I went to a space analyze page, and confirmed that I was correctly seeing `beta` features
3

[2018-06-29 13:36] corinnekrych commented on #3867
I dont' reproduce the issue. Ive added a log in html in [new component](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/analyze/analyze-overview/analyze-overview.component.html#L2) and [old component](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/analyze/analyze-overview/analyze-overview.component.html#L36), and here is what i get from your 6 steps:
* step1

[2018-06-29 13:41] aptmac commented on #3867
Here I started on the analyze page for a space, with settings `beta` and indicator `on`. I went to the settings page and toggled the indicator `off` keeping `beta`, but when going back to the analyze page I'm seeing `internal` features.

![feature-indicator-toggle](https://user-images.githubusercontent.com/10425301/42095345-5bd54a58-7b80-11e8-8a83-635ccaa35866.gif)

[2018-06-29 14:19] ibuziuk opened #3883 "As a OSIO user I want to have a possibility to try workspace.next with Theia IDE"
`rhche` on osio is already build against upstream che `6.7.1` which means there is already a possibility to try [1]  workspace.next with Theia IDE  on openshift.io. It would be great to have a possibility to enable workspace.next with Theia IDE as a sidecar for a given set of osio users. We could probably start with toggle with `userID` strategy and once the whole workspace.next skeleton [2] would

[2018-06-29 14:22] ibuziuk commented on #3883
@garagatyi could you please add some input regarding this story ?

[2018-06-29 14:32] stooke commented on #3553
I agree that the history is very important.
One question I have, which repo would we start with?

[2018-06-29 14:37] aptmac commented on #3867
After retracing my steps and checking out the network response from `user`, here's what I found:

EXPERIMENTAL & ON
"featureAcknowledgement":true
"featureLevel":"experimental"

BETA & ON
"featureAcknowledgement":true
"featureLevel":"beta"

BETA & OFF
"featureAcknowledgement":false
"featureLevel":"experimental"

It would appear that the act of updating the indicator true/false is causing my feature

[2018-06-29 14:37] stooke commented on #3553
I see @xcoulon has done quite a bit of work and already populated the repo.
I thought we were going to add packages one by one?

Also, my assumption was that common code would be less of an entire application; that that belonged in fabric8-starter.

Please be patient with me as I may have missed any relevant conversations while I was on PTO.

[2018-06-29 15:07] garagatyi commented on #3883
If we want to accomplish that we need:
1. Deploy marketplace placeholder that hosts Feature/ChePlugin yaml files.
1. In case toggle is enabled CheStarter would create a workspace and remove all the installers and somehow should find alternatives to the installers, so we need to find a solution for this issue.

What are the consequences for a user that has WS.NEXT toggle enabled:
1. WS.NEXT workspa

[2018-06-29 15:39] skryzhny opened #3884 "Can't start che workspace via che.openshift.io, getting osoproxy error"
I'm trying to start my che workspace at https://che.openshift.io/ but getting this error:
![osio che start error 2018-6-29 18-21](https://user-images.githubusercontent.com/1636620/42101335-84084354-7bcb-11e8-9404-298de3926a25.jpg)
I tried to create new workspace but got similar error.

[2018-06-29 15:43] skryzhny commented on #3884
Text from new workspace:
`
Could not start workspace wksp-oidg. Reason: Failure executing: GET at: https://f8osoproxy-test-dsaas-production.09b5.dsaas.openshiftapps.com/api/v1/namespaces/skryzhni-che/persistentvolumeclaims. Message: Unauthorized! Configured service account doesn't have access. Service account may have been revoked. Unauthorized. The error may be caused by an expired token or chang

[2018-06-29 15:45] ibuziuk commented on #3884
very likely related to https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/844#note_359943

@skryzhny please provide your osio username
@aslakknutsen @nurali-techie any ideas ?

[2018-06-29 15:48] skryzhny commented on #3884
My OSIO account is `skryzhni@redhat.com`

[2018-06-29 16:59] piyush1594 commented on #877
@joshuawilson @ldimaggi Happened once for me. Everything working fine.

![fail](https://user-images.githubusercontent.com/19270240/42104860-d9440572-7beb-11e8-8404-b37f72d3452b.png)

We are good to close this issue.

[2018-06-29 17:05] aptmac commented on #3867
Does `UserService.loggedInUser` and `User.currentLoggedInUser` reference the same object? I'm trying to poke around to see if I can get a better understanding of what's going on, and I've noticed [0] and [1] currently use `currentLoggedInUser` and `loggedInUser` respectively, but if they are change to use the same then I stop seeing the issue where the feature level isn't updated properly. I still

[2018-06-29 19:45] aptmac commented on #3668
@bdellasc is this the issue you were referring to about the summit feedback? https://github.com/openshiftio/openshift.io/issues/3704

If so, it largely concerns the create app wizard while this issue concerns the create space wizard. Was there any specific feedback that could be useful for this issue in particular?

[2018-06-29 20:15] Essjaysee commented on #2926
These are done, thanks.

[2018-06-29 20:15] #2926 closed

[2018-06-29 20:16] Essjaysee commented on #3011
These are done.

[2018-06-29 20:16] #3011 closed

[2018-06-29 20:16] Essjaysee commented on #3013
This is done.

[2018-06-29 20:16] #3013 closed

[2018-06-29 20:19] Essjaysee commented on #3015
I think this may need a tweak.  The screen I was referring to in Invision showed the space name here:

![screen shot 2018-06-29 at 4 18 08 pm](https://user-images.githubusercontent.com/3267889/42113089-2073e2c0-7bb8-11e8-9770-194d621f4229.png)

And this is where I'm seeing it:

![screen shot 2018-06-29 at 4 18 13 pm](https://user-images.githubusercontent.com/3267889/42113119-2b9e5b4e-7bb8-11e8-958

[2018-07-01 12:57] muruGanesan commented on #3792
1) I did some initial study on Wizard with hierarchy & without hierarchy...
https://docs.google.com/presentation/d/1fTqtX3wTW5MZzhcIl0PEVJYpiE7yGp5cUinzWBjTEbM/edit?usp=sharing
2) I will get more use-case details of OSIO & Openshift Online and provide UX recommendation.

[2018-07-01 23:33] sbryzak commented on #3836
Here are the updated templates - I modified the design from the wireframes to take into account multiple roles. The first one is for a team invite, the second one is for a space invite.

![image](https://user-images.githubusercontent.com/165507/42139950-b84f5baa-7dda-11e8-804b-b180b684a358.png)

![image](https://user-images.githubusercontent.com/165507/42139957-d4109142-7dda-11e8-8738-11a08382aa8d

[2018-07-02 04:49] arunkumars08 commented on #3779
@jiekang The reason is you need to set environment variables for them to be accessed in local. https://github.com/fabric8-ui/fabric8-ui/blob/master/config/webpack.dev.js#L43-L44
I will ping you the values you have to set in direct chat.

[2018-07-02 05:28] nurali-techie commented on #3884
@ibuziuk can you please summarize the issue and your investigation in one comment.
Have you able to re-produce the issue or you got any logs on server for the issue faced by @skryzhny ?
Cc: @aslakknutsen

[2018-07-02 05:29] #3882 closed

[2018-07-02 06:08] hrishin commented on #2527
### Problem:

The root cause of this problem is if the application name is greater than 64 characters then Jenkins not able to spinup slave pod. The application name is used as an identifier at every place, in this case, to generate a label for slave pod.

error log from Jenkins

[code]
### Possible Solutions:
1) Retsrict application name to 49 characters max (from backend as well). K8's restricti

[2018-07-02 06:42] Raunak1203 commented on #3876
issue is fixed with PR from backened

[2018-07-02 06:42] #3876 closed

[2018-07-02 06:54] Raunak1203 commented on #3832
This response is coming from backend

[2018-07-02 07:31] arunkumars08 opened #3885 "[Improvement] Lazy loading of modal inside Dependency Editor"
Currently the 'Browse All Dependencies' modal in **Dependency Editor** makes calls to the REST endpoint every time it is being opened.
As a result, this takes roughly **5 seconds** to process the response and thereby resulting in the delay in rendering data to the modal.

Suggestion:

To start with, we can improve the performance by doing the call on the background just once and cache the response

[2018-07-02 08:12] jarifibrahim commented on #3832
We should have `None/To Be Triaged` field value as default

[2018-07-02 08:20] Veethika commented on #3881
@nimishamukherjee @kwk @michaelkleinhenz what kind of values are anticipated for 'Time Criticality'? Could it possibly be from a set standard range to choose from?

[2018-07-02 10:38] michaelkleinhenz commented on #3832
Yes, that is a known issue. But before we can fix this on the template, we need a UX consideration. So basically the issue is that for enum fields, the *first* value of a list is always the default and there is no "nil" value.

We could play around with the enum value list in the template, like reversing the values or adding a "n/a" "value", but that all appears to me like a hack. So we left this

[2018-07-02 10:38] michaelkleinhenz commented on #3832
@rgarg1 I'd say that is not always the case. So for example, a component field should never be empty. We need a general solution for this.

[2018-07-02 10:48] jyasveer opened #3886 "Launcher: npm link not working for ngx-forge to fabric8-ui"
- at present npm link from ngx-launcher to fabric8-ui is not working.

[2018-07-02 10:55] rgarg1 opened #3887 "Need better UX for editable fields of a work item"
The editable fields of a work item hardly appear to be editable as of today. Needed a better visual representation in this regard. See the image below:

![quick view](https://user-images.githubusercontent.com/28748448/42160308-5cf07d5e-7e14-11e8-9aa3-135edb1c6230.png)

Observe the drop-downs of:- Area, Iteration, Severity, Priority Resolution.

[2018-07-02 11:38] Veethika commented on #3832
IMO these fields should always hold a default value that's most commonly allocated in case of defects and are unalarming(like P1 and Sev1). The following could be considered to show as default:
Severity: Sev3 - Medium
Priority: P3 - Medium
Resolution: None
@catrobson @nimishamukherjee WDYT?
@michaelkleinhenz we would still need to discuss "how to properly treat "nil" values on enum fields" to solv

[2018-07-02 11:51] ibuziuk commented on #3817
@Katka92 ok, going to close - feel free to reopen if it occurs again

[2018-07-02 11:51] #3817 closed

[2018-07-02 12:07] Veethika commented on #3794
This is currently blocked by #3849

[2018-07-02 12:13] Veethika commented on #3881
@Preeticp Could there be an alternate title for 'Time Criticality'? If not we should break it in 2 lines instead of truncating for sure.
@michaelkleinhenz @rgarg1 (until we could give range customization options) The field should be shortened in width to communicate the expectation(@SMahil hope PF isn't against it) and for the error message, something more simple could be looked at like "Please en

[2018-07-02 12:19] rgarg1 commented on #3832
@Veethika
Having unalarming values as defaults is an acceptable solution. However, we still have to deal with None in the Resolution field and as you mentioned, story-points.

@michaelkleinhenz An empty field, screaming for attention sounds more acceptable to me than being populated with defaults, which was never updated by the author. But this is just my opinion.

[2018-07-02 12:37] sthaha commented on #2191
Closing this issue in favour of #2360. Please reopen if these 2 issues must be tracked separately.

[2018-07-02 12:37] #2191 closed

[2018-07-02 12:43] Veethika commented on #3832
@rgarg leaving a field blank makes more sense when the content has to be unique for that field every single time, pre-populating with some default value that fits the majority of the cases can make life easier for the user.

[2018-07-02 14:19] mceledonia commented on #3837
@aptmac @andrewazores @joshuawilson

I might be misunderstanding the issue but the screenshots seem to be correct (other than the broken components), the tabs of "My work items" and "My spaces" should indeed change to "[User's] work items" and "[User's] spaces" with both lists showing public items in both of those lists. The tabs and lists should function the same as if viewing your own profile. T

[2018-07-02 14:42] Preeticp commented on #3881
@Veethika , Time criticality seems to be an accepted agile/scrum concept to calculate cost of delay. If we change the name probably the meaning could get altered. I guess @michaelkleinhenz  / @nimishamukherjee  should take a call on whether we should change this field name. Meanwhile 2 lines sounds good.

Wrt the error message how about:
'Please enter an integer' in case the field accepts only int

[2018-07-02 15:28] Veethika commented on #3881
@Preeticp Sure if 'Time Criticality' is a standard term then let's not disturb it and go with 2 lines for now.
From the options, I'd prefer 'Please enter a valid numeric value'
since 'float' is inclusive of decimals and not excluding out anything, there's no need to mention the exact nature of input if it's not restricting the user. @michaelkleinhenz @nimishamukherjee ?

[2018-07-02 15:33] ldimaggi opened #3888 "Users provisioned on starter-us-east-1a are unable to start Jenkins and Content Repo pods after an env reset"
Steps to recreate:
* Login to https://openshift.io with a user account provisioned on the starter-us-east-1a cluster
* Reset user env
* Observe that Jenkins and Content Repo pods fail to start
* Observe in OpenShift console that pods' status indicates that rollouts are paused:

![screenshot from 2018-07-02 11-13-09](https://user-images.githubusercontent.com/642621/42172984-a3253aea-7deb-11e8-8ab4-

[2018-07-02 15:33] ldimaggi commented on #3888
Issue found/encountered by EE tests.

[2018-07-02 15:38] catrobson opened #3889 "Settings & Profile navigation selection should slide, not drop in"
The Settings and Profile navigation has a blue selection state.  Today, the bar showing the selected tab drops in from top to bottom for the animation.  This should slide horizontally from tab to tab if we're going to animate it, not drop in.  Otherwise we should just remove the animation and follow the basic patternfly style of the tabs: http://www.patternfly.org/pattern-library/widgets/#tabs

To

[2018-07-02 15:42] sbose78 commented on #3888
@michaelkleinhenz @sunilmalagi has encountered this as well.

[2018-07-02 15:43] catrobson commented on #3858
Is the same component/code used for the secondary navigation in this situation and the secondary navigation in situations with a header such as Profile ({username}/_profile) or Space Settings ({spacename}/_settings)?  Ideally I think we want the secondary navigation where there is no header in use (Planner, Dashboards, etc) to be the dark gray they always were.  Only when we have that additional h

[2018-07-02 15:50] alexeykazakov opened #3890 "Can't create a new app using New Space wizard"
I'm trying to create a new Space & App:

1. Create new Space
2. Select Agile as template
3. Click OK. And now I see New Application page/wizard:
4. Problem: I try to click on the Cancel button but it doesn't do anything
5. Enter the app name
6. Problem: Continue button doesn't do anything.

I see that UI is trying to get the github token but it doesn't include Authorization header into the request

[2018-07-02 15:53] sbose78 commented on #3890
Same as this https://github.com/openshiftio/openshift.io/issues/3743

[2018-07-02 15:56] alexeykazakov commented on #3890
Not sure if it's the same. My account is connected to GitHub.

[2018-07-02 16:56] invincibleJai commented on #3890
@alexeykazakov have tried in both prod/prod-preview could not reproduce it, I was able to create an app along with new space with Agile template. I even tried disconnecting GitHub from settings and that as well worked.

Am I missing something here?

[2018-07-02 16:57] joshuawilson commented on #3890
I can not reproduce this. Was the issue on prod?

[2018-07-02 17:04] abs51295 commented on #3890
I am able to reproduce this on prod. I am using Firefox.

[2018-07-02 17:08] msrb commented on #3890
I am not able to reproduce this issue on prod (chrome).

[2018-07-02 17:09] joshuawilson commented on #3890
I was NOT able to reproduce it on FF.

[2018-07-02 17:10] alexeykazakov commented on #3890
It’s reproducible in both preview and prod for me. I’m using Chrome. I also tried incognito. Still can reproduce.

[2018-07-02 17:12] abs51295 commented on #3890
Well, I did a hard refresh and wasn't able to reproduce it anymore. Thanks.

[2018-07-02 17:46] bmicklea commented on #3880
I'm not sure this is an issue that PM can effectively set the SEV on. Can someone more technical please add a SEV label?

[2018-07-02 17:50] bmicklea commented on #3863
This is a list of bugs, not a bug itself so I've changed the label from `bug` to `task`.

[2018-07-02 18:00] alexeykazakov commented on #3890
I tried many things (incognito mode, GitHub settings, etc) nothing helped.
But I tried to create spaces with "2018-07-02-01", "2018-07-02-02", "2018-07-02-03", etc names and could reproduce the issue. But then I tried to create a space with "abs" name and it worked! I couldn't reproduce the issue again. I tried it in preview and it helped as well. After that it worked even with "2018-N" names. And

[2018-07-02 18:06] sbose78 commented on #3880
Yes, would be wrong to assume that the old code would be compatible.

[2018-07-02 18:08] sbose78 commented on #3880
Added a sev2 @bmicklea .

@kwk , based on your meeting with @aslakknutsen , Could you comment/close the issue, please ?

[2018-07-02 18:10] ibuziuk commented on #3814
@slemeur thanks for clarification, so for me it sounds that the issue for UI / UX team. Basically, the issue is about applying different css themes based on `document.referrer` [1] e.g. if it "https://rhche.openshift.io/dashboard/" / "https://che.openshift.io/dashboard/" new che theme should be applied on registration pages. I guess, no input is required from Che / Auth team regarding this issue.

[2018-07-02 18:56] ibuziuk commented on #3884
@nurali-techie could you please take a look at my comments in  https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/844#note_359943 I guess more logs could be retrieved from kibana

[2018-07-02 19:55] lwrigh commented on #3249
Updated wireframes can be viewed here: https://redhat.invisionapp.com/share/AHMBSXZK76D#/306489730_1-_Refined_Applications_Widget Most of the actions that a user could take from the widget have been taken out and the widget now serves as more of an overview. If the user would want to dig deeper and complete any actions they would have to go to the full pipelines page. A view all pipelines link has

[2018-07-02 22:12] mmclanerh commented on #3888
this should be working again. there was a configuration present on starter-us-east-1a, applied friday, that was reverted today. may need to issue a new tenant reset to re-create pvcs.

[2018-07-02 22:12] #3888 closed

[2018-07-03 03:57] nurali-techie commented on #3884
@ibuziuk as I told you previously (twice - here as well on mattermost), either you should re-produce the issue and share steps or share the logs of the occurrence of original issue which will be having timestamp on when the issue happened.  You comment https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/844#note_359943 just give the error message and no idea of when it happened.  If this is re-

[2018-07-03 04:11] kwk commented on #3880
@sbose78 @bmicklea . We can close this issue as @aslakknutsen, @michaelkleinhenz and I have figured out a way to update our database by following the approach described in [
Migrating to Microservice Databases: From Relational Monolith to Distributed Data](https://developers.redhat.com/promotions/migrating-to-microservice-databases/). To keep it short: we agreed to make it a two-step update proces

[2018-07-03 04:11] #3880 closed

[2018-07-03 04:19] kwk commented on #3881
@rgarg1 please do validate that the input `1` is a valid input for a float field or does the input require an extra decimal point in order to become real float (e.g. `1.0`)?

@Preeticp, @Veethika  also, please know that only have a limited set of types on the backend for which we should always have a fallback description on the front-end:

1. "string"
1. "integer"
1. "float"
1. "bool"
1. "instant"

[2018-07-03 04:20] kwk commented on #3553
@stooke see @xcoulon 's comment https://github.com/fabric8-services/fabric8-wit/pull/2096#issuecomment-401708330.

[2018-07-03 05:09] invincibleJai commented on #3890
IMO it shouldn't be SEV1 as for may it works as expected, we need to diagnose why it's happening intermittently for few.

[2018-07-03 05:13] sivaavkd commented on #3890
I am not able to reproduce this, tested in Firefox and Chrome.

[2018-07-03 06:07] rgarg1 commented on #3881
@kwk Sure I will test the fields with all possible combinations of acceptable inputs, as soon as this defect is fixed: https://github.com/openshiftio/openshift.io/issues/3830

[2018-07-03 06:13] Raunak1203 commented on #3830
issue is fixed with PR https://github.com/fabric8-services/fabric8-wit/pull/2133

[2018-07-03 06:13] #3830 closed

[2018-07-03 07:57] michaelkleinhenz commented on #3832
That all feels to me like we need a proper "default value" handling in the backend. Currently, simply the first entry is treated as default. Which will not work with the above suggestions. To me it absolutely makes sense to have a default defined there explicitly. Like @Veethika has suggested. But that is actually a new story. I'll put it into the backlog.

[2018-07-03 08:00] kwk commented on #3832
@michaelkleinhenz We have the mechanics in place to have defaults. But what is blocking us on moving values up in an Enum to make them the default?

[2018-07-03 08:08] #3859 closed

[2018-07-03 08:10] divyanshiGupta commented on #3666
@rgarg1 can you confirm if the issue is still present as I was not able to reproduce the issue following the above steps.

[2018-07-03 08:45] ibuziuk commented on #3884
@rhopp is going to provide more details soon, he is also having this problem. Sorry, I can not look at this issue right-away. I think it is pretty easy to repro by just adding `identity_id` to toggle [1]  and starting the workspace

[1] https://admin-dsaas-production.09b5.dsaas.openshiftapps.com/toggles/#/features/strategies/che.serviceaccount.lockdown

[2018-07-03 09:45] rgarg1 commented on #3832
@michaelkleinhenz This is a SEV-2 and needs an early fix. As @kwk mentioned, this could be done.

[2018-07-03 09:46] rgarg1 commented on #3842
@nimishamukherjee Please have a look.

[2018-07-03 09:54] lordofthejars commented on #3058
So what are the next steps regarding this issue?

[2018-07-03 10:00] animuk commented on #3890
@ldimaggi and @pmacik Can you test the scenario whther you can replicate this at the moment.

[2018-07-03 10:43] rgarg1 opened #3891 "Field gets auto-cleared if cursor is moved away"
In the new Agile template:

![field cleared](https://user-images.githubusercontent.com/28748448/42215427-05462b6c-7edc-11e8-899d-1c875ae79c77.gif)

[2018-07-03 11:17] Veethika commented on #3829
@michaelkleinhenz @nimishamukherjee @mindreeper2420 @catrobson @serenamarie125 Here is the spreadsheet with control  to command mapping for Planner: https://docs.google.com/spreadsheets/d/1cATzs0UyUgeZ_cn32LCTQlVHJLsPcfmw3KUTYQN6n-E/edit#gid=0 (Please look at both the sheets enclosed)

[2018-07-03 11:39] arunkumars08 commented on #3863
@bmicklea Yes Brad. I think I missed that. Thanks for the change :)

[2018-07-03 11:59] corinnekrych opened #3892 "CI / CD for ngx-feature-flag"
Linked to user story https://github.com/openshiftio/openshift.io/issues/3815
Add CI / CD build on CentOS for ngx-feature-flag library used bu planner and fabric8-ui.

[2018-07-03 12:03] rhopp commented on #3884
@nurali-techie We (rh-che QE team) have few accounts with `che.serviceaccount.lockdown` toggle enabled and none of them is able to start workspace. Those accounts have also revoked admin access to `*-che` namespace in their OSO.
If you want to search kibana for logs, I've generated few of these failures in last few minutes. One of them can be found in this search: https://logs.dsaas.openshift.com/

[2018-07-03 12:29] pmacik commented on #3890
I just tried it on prod with Chrome and I wasn't able to reproduce it.

[2018-07-03 12:56] lordofthejars commented on #3802
@rupalibehera can you write down your conclusions so I can fix it? Or you prefer to fix by yourself since you already started to investigate?

[2018-07-03 13:00] ibuziuk commented on #3884
2. is not required ;)

[2018-07-03 13:45] #3690 closed

[2018-07-03 14:49] andrewazores commented on #3889
The secondary tab bar under the "Create" menu looks similar to these two but also differs in its hover state and animations, also varying from the Patternfly secondary tab standard. Notably, this one does not have a grey underline on hover, and the text label turns blue on hover rather than remaining grey. Should all three of these instances of secondary tab navigations follow the Patternfly stand

[2018-07-03 16:11] ldimaggi commented on #3058
When the update to FMP is in the boosters, this test can be retried and, if fixed, the issue can then be closed .

[2018-07-03 16:17] piyush1594 commented on #3058
After updating the FMP version, we need to reproduce this and figure out the issue, as better logging has been added in FMP. So that we may get to know the root cause of this.

[2018-07-03 17:11] ldimaggi opened #3893 "Intermittent issue - Creating Che workspace fails - configured service account doesn't have access"
Seeing this problem intermittently when creating a new workspace. Performing an env reset and then retrying seems to resolve this.

Steps to recreate issue:
* Create new OSIO space
* Create new Che workspace

![bd259c291e4d7197d0033214220e8c66](https://user-images.githubusercontent.com/642621/42234345-437c4688-7ec2-11e8-92b2-1c8c6fc0b671.png)

[2018-07-03 17:12] ldimaggi commented on #3893
From the Che log:

[code]

[2018-07-03 18:57] ldimaggi commented on #2409
Closing as all clusters are now off EBS.

[2018-07-03 18:57] #2409 closed

[2018-07-03 19:07] mindreeper2420 opened #3894 "Can't Comment on a Work Item Using Firefox"
I tried to comment on a work item that I was linked to, but am unable to using Firefox. I verified that I am logged into OpenShift.io correctly. There did not appear to be any errors in the console.

When I switched over to Chrome, I was able to add my comment without issue.

I am using Firefox v60.0.2 on macOS High Sierra.

**Firefox**
<img width="572" alt="screen shot 2018-07-03 at 3 06 06 pm" s

[2018-07-03 19:17] ldimaggi commented on #2154
Closing as no longer reproducible.

[2018-07-03 19:17] #2154 closed

[2018-07-03 19:17] ldimaggi commented on #2395
Closing as no longer reproducible.

[2018-07-03 19:17] #2395 closed

[2018-07-03 23:55] sbryzak commented on #3836
There don't seem to be any further comments here, so closing this issue.

[2018-07-03 23:55] #3836 closed

[2018-07-04 04:18] arunkumars08 commented on #3813
Changes for the same are available in prod-preview. Please feel free to reopen if things are not as expected.

[2018-07-04 04:18] #3813 closed

[2018-07-04 04:19] arunkumars08 commented on #3809
Changes for the same are available in prod-preview. Please feel free to reopen if things are not as expected.

[2018-07-04 04:19] #3809 closed

[2018-07-04 04:19] arunkumars08 commented on #3775
Changes for the same are available in prod-preview. Please feel free to reopen if things are not as expected.

[2018-07-04 04:19] #3775 closed

[2018-07-04 04:19] arunkumars08 commented on #3779
Closing this as it is not a bug.

[2018-07-04 04:19] #3779 closed

[2018-07-04 04:33] nimishamukherjee commented on #3870
@sanbornsen can you check this.

[2018-07-04 04:34] nimishamukherjee commented on #3881
We can go with this message

[2018-07-04 04:59] sanbornsen commented on #3870
The backend sets the default value. True that we don't handle `null` as well which I can fix but still once created enum field will have a default value from the backend. @kwk please verify.

[2018-07-04 05:46] sanbornsen commented on #3870
Well, I verified that UI has a check for null value. So nothing to change from UI side.

[2018-07-04 06:45] nimishamukherjee commented on #3870
Thanks @sanbornsen
@michaelkleinhenz @kwk please check.

[2018-07-04 07:17] sthaha opened #3895 "Handle the network outage gracefully when pushing artefacts to content-repository"
Currently  `init-container` hack (wait for content-repository) in jenkins image is causing more problems that what it solves. Hence lets

- [x] remove the init container hack from the image. Done with https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/107
- [ ] check if some sort of pre-hook can be added to kubernetes-plugin so that  when the jenkins slave comes up it tries  reach jen

[2018-07-04 07:18] chmouel opened #3896 "Build Multi Language Support Design"
Multi Language for the current Build CI/CD system

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/290

[2018-07-04 07:19] chmouel commented on #3896
Starting working on this in public will move it to a Google Document https://hackmd.io/aOuvTaU2QM6raiwdTcFB0A

[2018-07-04 07:28] chmouel commented on #3895
on another topic of removing content-repo this is something i have been trying to do for many times, the argument from max was that entreprise devs needs it since they need a certain point of time with all the dependencies stored and browseable.

It's not browseable anymore since we removed the public route due of security issue and I am not so sure *any people using it.

This probably warrant a n

[2018-07-04 07:29] AshishDurgude commented on #3801
### **1. Spreadsheet for standardization research:**
There are 6 pages in a spreadsheet.
Page 1: List of PatternFly Components
Page 2: Initial draft of wiki
Page 3: OSIO Comparison with Patternfly and Consistency
Page 4: OpenShift Online Comparison with Patternfly and Consistency
Page 5: iPass Comparison with Patternfly and Consistency (Not done)
Page 6: Common Component flow (Work in progress)
He

[2018-07-04 08:35] kwk commented on #3870
@michaelkleinhenz to my best knowledge every work item that was created with the work item repository has a default value for every enum field. I think I can proof this by showing the "path" we take when creating a new work item:

1. When you create a work item, the [`GormWorkItemRepository.Create`](https://github.com/fabric8-services/fabric8-wit/blob/67a3d3a631e1e2a92cd7ce833eb64573f30f0fa0/worki

[2018-07-04 08:52] rhopp commented on #3893
This seems, like that account does not have admin access to `-che` namespace (as requested in HK issue 2082), but feature toggle for this to work (on che side) was probably not set for those accounts (cc @ibuziuk )
But even if the toggle would be active for your account, you would encounter different issue: https://github.com/openshiftio/openshift.io/issues/3884

[2018-07-04 09:00] ibuziuk commented on #3893
@rhopp for me it sounds like a duplicate of https://github.com/openshiftio/openshift.io/issues/3884
original reported had exactly the same problem and was not in the toggle

[2018-07-04 09:02] rhopp commented on #3893
@ibuziuk The error messages are slightly different in these two issues ,that's why I thought this one is a bit different issue.

[2018-07-04 09:04] ibuziuk commented on #3893
ah, right in the original issue it was about `pvc` not `svc`

[2018-07-04 09:13] jyasveer commented on #3241
We see events getting registered in woopra website now.

[2018-07-04 09:44] kishansagathiya opened #3897 "Figure out what are we using jenkinsci/kubernetes-pipeline-plugin or fabric8io/kubernetes-pipeline-plugin or fabric8-jenkins/fabric8-pipelines-plugin"
Figure out what are we using https://github.com/jenkinsci/kubernetes-pipeline-plugin or https://github.com/fabric8io/kubernetes-pipeline-plugin

If we are not using https://github.com/fabric8io/kubernetes-pipeline-plugin, archive it

[2018-07-04 10:02] animuk commented on #3514
Closing this after discussion with @krishnapaparaju

[2018-07-04 10:02] #3514 closed

[2018-07-04 10:56] kwk commented on #3881
@rgarg1 my point was to be aware of these combinations when building placeholder strings for input fields.

[2018-07-04 11:32] hrishin commented on #2527
@gastaldi we have tried to apply validation on project length https://github.com/fabric8-launcher/launcher-backend/pull/468 in launcher backend. Looks like this change is in the production.

When we create a project with more than 49 characters it's accepting the launch request but expected behavior to get HTTP 400 response.

Could you please confirm it once?

[2018-07-04 12:08] rupalibehera commented on #3802
@lordofthejars, I have not investigated on this issue.

[2018-07-04 12:36] muruGanesan commented on #3887
@Veethika since Sunil is on PTO, you can take help from @AshishDurgude...

[2018-07-04 12:36] jiekang commented on #3779
@arunkumars08 The repository contains scripts to set the required environment variables for various environments [1], for example to target openshift.io (production) [2]

[1] https://github.com/fabric8-ui/fabric8-ui/tree/master/environments
[2] https://github.com/fabric8-ui/fabric8-ui/blob/master/environments/openshift-prod-cluster.sh

Can the proper defaults be added to at least production and pr

[2018-07-04 12:48] jiekang commented on #2527
Will this need any changes on the UI side? Maybe there needs to be coordination with the people working on the application wizard?

[2018-07-04 13:53] #3892 closed

[2018-07-04 13:54] gastaldi commented on #2527
@hrishin now I realized that the PR is changing the wrong ProjectileContext implementation. Your PR changed the /launcher/launch endpoint, when it should have impacted /osio/launch

This is the correct one: https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/projectiles/context/OsioImportProjectileContext.java

Can you undo the

[2018-07-04 15:00] hrishin commented on #2527
@jiekang we have to make sure 49 max. char. limit for application name from UI as well.

@gastaldi I can try.

[2018-07-04 16:01] Veethika commented on #3887
@muruGanesan sure, if @AshishDurgude has some bandwidth we could brief him on this. Would help us take care of this issue on time.

[2018-07-04 19:20] bartoszmajsak commented on #3880
That sounds helpful @kwk. How would you envision this sing-off to look like?

[2018-07-05 02:15] mindreeper2420 opened #3898 "OpenShift.io header image in email notifications not appearing"
In the OpenShift.io notification emails, the header only shows a broken image, due to the file not being found at the URL given.

It appears, from local testing and multiple variations of the URLs in question, that this is due to the additional hashes that are added to image URLs when in production (see lines [345](https://github.com/fabric8-ui/fabric8-ui/blob/a848b211c1af302448c13b49a42da78a18cd2

[2018-07-05 04:13] sdash-redhat opened #3899 "Design Standardization : Layout"
### Description:
This is a parent story to manage the individual standardization stories related to the Layout.
Each of the stories below would be added to the Design Standard Wiki (DSW)

This focus area will address the following stories:
- [ ] Design Standardization : Layout > List View
- [ ] Design Standardization : Layout > Card View
- [ ] Design Standardization : Layout > Empty States
- [ ] D

[2018-07-05 04:16] kwk commented on #3880
It can be as simple as the `/ok-without-tests` comment, so initially when the critical files under a directory are modified, this needs a `/sign-off` (just a though) comment to get rid of this status. So potentially in a PR with no tests and files in `spacetemplate/assets` modified it would require 2 comments for the PR to pass: `/ok-without-tests` and `/sign-off`.

[2018-07-05 07:37] bartoszmajsak commented on #3880
@kwk Isn't `/sign-off` effectively the same as approving the PR by the reviewer? My thinking was more in the direction of a checklist, so assuming we have changes in the given location such as `spacetemplate/assets`, we can define a checklist so that every PR which touches those files will have automatically added a comment with a checklist of extra things to consider.

[2018-07-05 07:40] sdash-redhat opened #3900 "Design Standardization : Layout > List View"
This story addresses the standardization aspect of List View.

Some earlier explorations/pointers to that need to be addressed :
- Should we support a grouping title around some of the list view?  OpenShift has this in the project overview.  CloudForms actually has this too
- OpenShift should have the top panel be white, not grey
- Let’s see if we can get optional column headers for list views

##

[2018-07-05 07:42] sdash-redhat opened #3901 "Design Standardization : Layout > Card View"
This story addresses the standardization aspect of Card View.

Some earlier explorations/pointers to that need to be addressed :
- Card selection for single select and multi-select is confusing
- Checkboxes? Currently, OSIO has an idea for radio button selection
- Cards being used on a white background?

### Verification Criteria
The following activities need to be performed and completed:
- Revie

[2018-07-05 07:45] sdash-redhat opened #3902 "Design Standardization : Layout > Empty States"
This story addresses the standardization aspect of Empty States.

Some earlier explorations/pointers to that need to be addressed :
- PF - Should test empty states - Catherine says that in some cases people are clicking the larger icons
- Could the pattern be extended to allow for an icon OR an image?

### Verification Criteria
The following activities need to be performed and completed:
- Review

[2018-07-05 07:52] chmouel commented on #3895
While working on multi language support, I had a bit of an experiment last night with this :

https://github.com/chmouel/space2/blob/90bb1b308d45ff9c1c61ad712039455371c54ed5/Jenkinsfile#L13-L23

Unfortunately the node() still have to come up with a slave so it's actually not working,

If the kubernetes-plugin doesn't work (as my guts feeling think this is going to be complex way) I wonder if inste

[2018-07-05 08:10] sdash-redhat opened #3903 "Design Standardization : Layout > Overlay"
This story addresses the standardization aspect of Overlay.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the review process.
- Updat

[2018-07-05 08:23] Raunak1203 commented on #3630
The issue is not reproducible.

[2018-07-05 08:23] #3630 closed

[2018-07-05 08:38] Raunak1203 commented on #3601
fixed with PR https://github.com/fabric8-ui/fabric8-planner/pull/2684

[2018-07-05 08:38] #3601 closed

[2018-07-05 08:51] arunkumars08 commented on #3885
Things are in prod-preview. Closing

[2018-07-05 08:51] #3885 closed

[2018-07-05 08:51] kishansagathiya commented on #3895
Adding the registered issue on the OpenShift side https://bugzilla.redhat.com/show_bug.cgi?id=1552373

[2018-07-05 08:52] arunkumars08 commented on #3863
Things are in prod-preview. Closing this

[2018-07-05 08:52] #3863 closed

[2018-07-05 09:58] kwk commented on #3880
Yes and no. If a reviewer just approves a PR with GH's board tools then the PR should not be mergable if it touches a file in e.g. `spacetemplate/assets` and hasn't received a `/sign-off` comment.

As much as this sounds reasonable I think people WILL NOT read the comment. I've heard so many people asking what they can do about IKE complaining about missing tests. They simply didn't read the comme

[2018-07-05 10:32] mindreeper2420 commented on #3894
@rgarg1 - what version of Firefox on Fedora? I know that on Red Hat builds, the default Firefox install is locked to the LTS version, which is far behind the public releases.

[2018-07-05 10:38] rgarg1 commented on #3894
57.0.1 (64-bit)

[2018-07-05 10:45] miteshvp commented on #609
Closing this issue as performance numbers are shared as mentioned in the document in previous comment.

[2018-07-05 10:45] #609 closed

[2018-07-05 10:46] #610 closed

[2018-07-05 10:46] miteshvp commented on #611
Closing this as this is not relevant any longer

[2018-07-05 10:46] #611 closed

[2018-07-05 10:47] miteshvp commented on #684
Its already implemented. Hence closing this.

[2018-07-05 10:47] #684 closed

[2018-07-05 10:47] #688 closed

[2018-07-05 10:48] miteshvp commented on #691
Closing this issue as those extensions are available for Che, Dev-studio and VsCode.

[2018-07-05 10:48] #691 closed

[2018-07-05 10:50] miteshvp commented on #698
Closing this as all the necessary things are covered. Waiting for publishing to VsCode marketplace.

[2018-07-05 10:50] #698 closed

[2018-07-05 10:50] miteshvp commented on #699
Not relevant. Hence closing

[2018-07-05 10:50] #699 closed

[2018-07-05 10:51] miteshvp commented on #701
The workflow is already developed. Some of the items may not be relevant any longer. Hence closing

[2018-07-05 10:51] #701 closed

[2018-07-05 10:51] miteshvp commented on #703
Not relevant any longer.

[2018-07-05 10:51] #703 closed

[2018-07-05 10:52] miteshvp commented on #706
Closing this as no longer relevant

[2018-07-05 10:52] #706 closed

[2018-07-05 10:53] miteshvp commented on #707
Closing this as I do not see any workers batch.

[2018-07-05 10:53] #707 closed

[2018-07-05 10:54] miteshvp commented on #709
Done. Closing.

[2018-07-05 10:54] #709 closed

[2018-07-05 10:54] miteshvp commented on #710
Done. Closing

[2018-07-05 10:54] #710 closed

[2018-07-05 10:54] miteshvp commented on #712
Done. Closing

[2018-07-05 10:54] #712 closed

[2018-07-05 10:54] miteshvp commented on #724
Done. Closing.

[2018-07-05 10:54] #724 closed

[2018-07-05 10:55] miteshvp commented on #725
Done in a separate exercise. Closing.

[2018-07-05 10:55] #725 closed

[2018-07-05 10:55] miteshvp commented on #729
Done. Closing

[2018-07-05 10:55] #729 closed

[2018-07-05 10:56] miteshvp commented on #846
Closing this as not relevant.

[2018-07-05 10:56] #846 closed

[2018-07-05 10:57] miteshvp commented on #854
Debug was introduced for audit trail. Closing this

[2018-07-05 10:57] #854 closed

[2018-07-05 10:58] miteshvp commented on #855
Not relevant.

[2018-07-05 10:58] #855 closed

[2018-07-05 10:59] miteshvp commented on #950
Not relevant

[2018-07-05 10:59] #950 closed

[2018-07-05 10:59] miteshvp commented on #953
implemented. Closing.

[2018-07-05 10:59] #953 closed

[2018-07-05 10:59] #995 closed

[2018-07-05 10:59] #1002 closed

[2018-07-05 11:00] miteshvp commented on #1015
Not relevant.

[2018-07-05 11:00] #1015 closed

[2018-07-05 11:01] #1024 closed

[2018-07-05 11:01] miteshvp commented on #1057
Already done. Closing.

[2018-07-05 11:01] #1057 closed

[2018-07-05 11:01] miteshvp commented on #1063
Done.

[2018-07-05 11:01] #1063 closed

[2018-07-05 11:02] miteshvp commented on #1080
Not relevant any longer. Moved to backbone service.

[2018-07-05 11:02] #1080 closed

[2018-07-05 11:02] miteshvp commented on #1086
POC done.

[2018-07-05 11:02] #1086 closed

[2018-07-05 11:03] miteshvp commented on #1093
Improved. Closing.

[2018-07-05 11:03] #1093 closed

[2018-07-05 11:03] #1101 closed

[2018-07-05 11:04] miteshvp commented on #1102
Not relevant.

[2018-07-05 11:04] #1102 closed

[2018-07-05 11:05] miteshvp commented on #1104
Implemented.

[2018-07-05 11:05] #1104 closed

[2018-07-05 11:05] miteshvp commented on #1105
Not relevant any longer.

[2018-07-05 11:05] #1105 closed

[2018-07-05 11:07] miteshvp commented on #1108
Not relevant. We can again open this issue in case

[2018-07-05 11:07] #1108 closed

[2018-07-05 11:08] miteshvp commented on #1109
We had static analysis but seems not used any longer. Closing this.

[2018-07-05 11:08] #1109 closed

[2018-07-05 11:08] #1473 closed

[2018-07-05 11:08] #1521 closed

[2018-07-05 11:09] miteshvp commented on #1319
Already covered by Getting Started and Dependency Editor workflow. Closing

[2018-07-05 11:09] #1319 closed

[2018-07-05 11:09] miteshvp commented on #1314
Not reproducible. And v2 is dead.

[2018-07-05 11:09] #1314 closed

[2018-07-05 11:10] miteshvp commented on #1306
Closing

[2018-07-05 11:10] #1306 closed

[2018-07-05 11:10] miteshvp commented on #1249
Not relevant. Can re-visit and re-open and needed.

[2018-07-05 11:10] #1249 closed

[2018-07-05 11:10] miteshvp commented on #1248
Done.

[2018-07-05 11:10] #1248 closed

[2018-07-05 11:10] miteshvp commented on #1236
Implemented.

[2018-07-05 11:10] #1236 closed

[2018-07-05 11:11] miteshvp commented on #1235
Done.

[2018-07-05 11:11] #1235 closed

[2018-07-05 11:11] miteshvp commented on #1222
Not relevant. Closing. Can re-open if we re-visit this again.

[2018-07-05 11:11] #1222 closed

[2018-07-05 11:11] miteshvp commented on #1200
Done.

[2018-07-05 11:11] #1200 closed

[2018-07-05 11:11] miteshvp commented on #1200
Done.

[2018-07-05 11:12] miteshvp commented on #1199
Done.

[2018-07-05 11:12] miteshvp commented on #1142
We inrementally update graph.

[2018-07-05 11:12] #1142 closed

[2018-07-05 11:15] #1762 closed

[2018-07-05 11:16] miteshvp commented on #1766
Not relevant. Closing.

[2018-07-05 11:16] #1766 closed

[2018-07-05 11:17] #1935 closed

[2018-07-05 11:17] miteshvp commented on #2007
We get manifest using BigQuery.

[2018-07-05 11:17] #2007 closed

[2018-07-05 11:19] #2335 closed

[2018-07-05 11:19] #2491 closed

[2018-07-05 11:19] #2535 closed

[2018-07-05 11:19] #2564 closed

[2018-07-05 11:20] #2617 closed

[2018-07-05 11:21] sdash-redhat opened #3904 "Design Standardization : Layout > Dashboard"
This story addresses the standardization aspect of Dashboard.

Some earlier explorations/pointers to that need to be addressed :
Should we look into card actions in PatternFly?  Currently, there is an actions panel defined as an optional panel on the bottom of the card.  We should look into other design solutions from a PF perspective

### Verification Criteria
The following activities need to be

[2018-07-05 11:21] miteshvp commented on #2761
Done.

[2018-07-05 11:21] #2761 closed

[2018-07-05 11:22] sdash-redhat opened #3905 "Design Standardization : Layout > Mastheads"
This story addresses the standardization aspect of Mastheads.

Some earlier explorations/pointers to that need to be addressed :

- Fuse Ignite should get an SVG from visuals for the product
- Username w/ icon (generic user icon vs. avatar)
- OSIO allows you to customize, but cannot share this info back because of keycloak
- iPaaS - add Name of User next to drop-down - is it there already?
- Help

[2018-07-05 11:24] #3535 closed, assigned to nobody

[2018-07-05 11:24] #3627 closed, assigned to nobody

[2018-07-05 11:29] sdash-redhat opened #3906 "Design Standardization : Navigation"
### Description:
This is a parent story to manage the individual standardization stories related to Navigation.
Each of the stories below would be added to the Design Standard Wiki (DSW)

This focus area will address the following stories:
- [ ] Design Standardization : Navigation > Primary
- [ ] Design Standardization : Navigation > Secondary
- [ ] Design Standardization : Navigation > Sidebar Na

[2018-07-05 11:31] sdash-redhat opened #3907 "Design Standardization : Navigation > Primary"
This story addresses the standardization aspect of Primary Navigation.

Some earlier explorations/pointers to that need to be addressed :
When in context of a product, OS adds a secondary masthead for context & vertical navigation
When in context of a space, OSIO adds primary nav items to the masthead
Fuse responsive nav isn’t consistent
iPaaS:  Hamburger icon should have content come from left to

[2018-07-05 11:33] sdash-redhat opened #3908 "Design Standardization : Navigation > Secondary"
This story addresses the standardization aspect of Secondary Navigation.

Some earlier explorations/pointers to that might need to be addressed :
- Fuse responsive nav isn’t consistent
- iPaaS:  Hamburger icon should have content come from left to right, not top down.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different exi

[2018-07-05 11:42] kwk commented on #3832
I'm working on default values for all kind of fields and I'm almost finished.

[2018-07-05 11:43] #3242 closed

[2018-07-05 11:44] GeorgeActon commented on #3242
Closing because replaced by https://github.com/openshiftio/openshift.io/issues/3863

[2018-07-05 11:44] sdash-redhat opened #3909 "Design Standardization : Navigation > Sidebar Navigation"
This story addresses the standardization aspect of Sidebar Navigation.
The goal is to find if some consistency can be brought to sidebar navigation if at all applicable.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal wi

[2018-07-05 11:46] sdash-redhat opened #3910 "Design Standardization : Navigation > Breadcrumb"
This story addresses the standardization aspect of Breadcrumb.

Some earlier explorations/pointers to that might need to be addressed :

- May want to consider combining Page Titles with Breadcrumbs as shown in the Breadcrumbs Combined with Page Title (Optional) section
-  http://www.patternfly.org/pattern-library/navigation/breadcrumbs/#design/

### Verification Criteria
The following activities

[2018-07-05 11:51] sdash-redhat opened #3911 "Design Standardization : CRUD"
### Description:
This is a parent story to manage the individual standardization stories related to CRUD interaction aspect across the applications.

Each of the stories below would be added to the Design Standard Wiki (DSW)

This focus area will address the following stories:
- [ ] Design Standardization : CRUD > Create
- [ ] Design Standardization : CRUD > Rename
- [ ] Design Standardization : C

[2018-07-05 11:54] sdash-redhat opened #3912 "Design Standardization : CRUD > Create"
This story addresses the standardization aspect of Create flow across applications.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the

[2018-07-05 11:58] sdash-redhat opened #3913 "Design Standardization : CRUD > Rename"
This story addresses the standardization aspect of Rename flow across applications.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the

[2018-07-05 12:00] sdash-redhat opened #3914 "Design Standardization : CRUD > Update"
This story addresses the standardization aspect of Update flow across applications.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the

[2018-07-05 12:02] yzainee opened #3915 "Modify the stackanalysis flow to call scan"
Planner: https://openshift.io/openshiftio/openshiftio/plan/detail/2084

Tasks

- [x] Get the email and git url from the header

- [x] Make an asynchronous scan call and pass the values as per json format

- [x] Integrate with Gemini Server and test

Description

As an Openshift.io Engineer, I should be able to call scan of repo for cve when trying to do a build

Size ?

Acceptance

    Scan API ge

[2018-07-05 12:03] sdash-redhat opened #3916 "Design Standardization : CRUD > Delete"
This story addresses the standardization aspect of Delete flow across applications.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the

[2018-07-05 12:08] sdash-redhat opened #3917 "Design Standardization : CRUD > Inline Edit"
This story addresses the standardization aspect of Inline Edit.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the review process.
- U

[2018-07-05 12:09] sdash-redhat opened #3918 "Design Standardization : CRUD > Delete Confirmation"
This story addresses the standardization aspect of Delete Confirmation.
This may also be linked to Notifications related stories.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft init

[2018-07-05 12:13] sdash-redhat opened #3919 "Design Standardization : Notification"
### Description:
This is a parent story to manage the individual standardization stories related to Notification.

Each of the stories below would be added to the Design Standard Wiki (DSW)

This focus area will address the following stories:
- [ ] Design Standardization : Notification > Notification Drawer
- [ ] Design Standardization : Notification > Toast Notifications
- [ ] Design Standardizat

[2018-07-05 12:16] sdash-redhat opened #3920 "Design Standardization : Notifications > Notification Drawer"
This story addresses the standardization aspect of Notification Drawer.

Some earlier explorations/pointers to that need to be addressed :
- Notification Drawer - OS has it
- Notification Drawer - OSIO plans: https://redhat.invisionapp.com/d/main#/projects/prototypes/11914584
- OS is moving inline to toast notifications
- Are the styles of our inline/toast matching PF ?
- OS customized the toast n

[2018-07-05 12:18] sdash-redhat opened #3921 "Design Standardization : Notifications > Toast Notifications"
This story addresses the standardization aspect of Toast Notifications.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the review proc

[2018-07-05 12:19] sdash-redhat opened #3922 "Design Standardization : Notifications > Inline Notifications"
This story addresses the standardization aspect of Inline Notifications.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the review pro

[2018-07-05 12:20] sdash-redhat opened #3923 "Design Standardization : Notifications > Error Messages"
This story addresses the standardization aspect of Error Messages.

### Verification Criteria
The following activities need to be performed and completed:
- Review the usage across the different existing applications.
- Compare ones from Patternfly.
- Provide the proposal
- Review the Proposal with the team (UX, Engg., PM)
- Draft initial guidelines and engage with the team in the review process.

[2018-07-05 12:47] yzainee commented on #3915
https://github.com/fabric8-analytics/fabric8-analytics-server/pull/341

[2018-07-05 12:55] ldimaggi opened #3924 "In Planner - no search bar for finding a space?"
The Planner no longer enables a user to search for a space by space name - can we restore searching for a space by name? At one point, the Planner UI included a space name search bar.

No search bar:
![screenshot from 2018-07-05 08-38-49](https://user-images.githubusercontent.com/642621/42324385-0eab8548-8031-11e8-9395-659586754cc0.png)

[2018-07-05 13:08] piyush1594 commented on #3742
@gastaldi I am trying to reproduce this issue and not able to do so. Can you please help me regarding this. I checked the repo https://github.com/sthaha/st-vertx-booster-j26 there is only single commit by launchpad. Can you please guide so that i can reproduce this cc @ravsa @animuk

[2018-07-05 13:08] yzainee opened #3925 "Build related changes for passing the git url"
Planner: https://openshift.io/openshiftio/openshiftio/plan/detail/2084
Tasks

- [x] Modify the jenkins plugin to send the desired headers (git repo and email)

- [x] Make changes in jenkins groovy files to inject git url to jenkins plugin

- [x] Create a jpi file and add to s2i-config

- [x] Test on staging with the new images to test the changes

Description

As an Openshift.io Engineer, I should

[2018-07-05 13:09] ldimaggi opened #3926 "In Planner, work items that do not contain children display icon implying children"
In Planner, workitems that contain child work items are displayed with a ">" symbol/link that expands the child list.

Workitems that do not contain child workitems are also displayed with the same symbol, but the link is not active and hovering over the link results in an indication that the link is not enabled.

![untitled](https://user-images.githubusercontent.com/642621/42325086-2560ec22-8033-

[2018-07-05 13:10] joshuawilson commented on #3858
@catrobson I'm unsure what you want from us. This sounds like a styles change. Do you want something more dynamic?

You can work with @christianvogt and/or me on this.

[2018-07-05 13:10] yzainee commented on #3925
https://github.com/fabric8-analytics/fabric8-analytics-jenkins-plugin/pull/14
https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/177
https://github.com/fabric8io/fabric8-pipeline-library/pull/407

[2018-07-05 13:11] piyush1594 commented on #3742
I checked https://github.com/ljelinkova-testing/e2e-0605-111854 also, there is a single commit too.

[2018-07-05 14:12] gastaldi commented on #3742
@piyush1594 @ravsa can you try running the launcher backend locally ? I wonder if the order of the steps declared in https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/OsioLaunchMissionControl.java needs to be changed

[2018-07-05 17:48] bmicklea commented on #3867
@corinnekrych could you add a severity level label please? It's difficult for me to ascertain what the right level here is...

[2018-07-05 19:06] #3872 closed

[2018-07-05 20:02] andrewazores commented on #3655
I'm prototyping implementation for this to ensure current feasibility from the engineering perspective. The querying capability for spaces is, as far as I know, restricted to querying by space name. It also doesn't always behave exactly as I would expect - for example, querying for "test-space" returns one set of results, but querying for just "test" returns a *smaller* set of results, which does

[2018-07-05 20:05] jiekang commented on #3924
For what it's worth, the component screen shotted looks like the my-spaces widget on the profile page which shows the list of spaces the user has created. I don't think it's related to the planner. It was added as part of the profile page update and I don't recall the component having an ability to search for space by space name.

I think it would be a good thing to add though.

[2018-07-05 20:38] ldimaggi opened #3927 "When importing a repo as a project into OpenShft.io, the user is not presented with a full list of all available repos"
Steps to recreate:
* In OpenShift.io, create a new project - specify import
* In a user account with a large number of githib repos, observe that not all the repos are displayed in the drop down presented to the user (in this case, the user account has 37 repos defined - the repo drop downlist only provides access to 20

![screenshot from 2018-07-05 16-32-00](https://user-images.githubusercontent.

[2018-07-05 20:41] ldimaggi commented on #3927
Also note - the repo list shown in the drop down is not presented in alphabetic order.

[2018-07-06 05:17] hrishin commented on #763
PR build is failing for Integration Tests

1) vertex app build logs:
https://pastebin.com/N2X5YMEF

2) Springboot app build logs:
https://pastebin.com/sD7TPwfZ

[2018-07-06 06:19] hrishin opened #3928 "OSIO pipeline UI doesn't reflect PR builds"
### Steps to reproduce:

1) create quickstart application on OSIO
2) submit a PR(pull request) to Github repo created in step 1

**Expected:**
https://openshift.io/usernmae/space/create/pipelines should display PR build status

**Actual:**
It doesn't display any build progress for PR though a build is running on Jenkins for PR

OSIO Pipeline
![image](https://user-images.githubusercontent.com/28615

[2018-07-06 06:41] corinnekrych commented on #3867
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/3098

[2018-07-06 06:41] #3867 closed

[2018-07-06 06:45] rgarg1 commented on #3842
The issue is also seen in other WI fields like:

- _Component_
- _Storypoints_
- _Efforts_

Entering a value in these fields and clicking outside clears the fields.

[2018-07-06 06:58] muruGanesan commented on #2456
@rkratky @joshuawilson, Though it is closed the GitHub status is not changed.
I am closing it again... but if it is not fixed, please reopen.

[2018-07-06 07:16] Veethika commented on #3849
The proposal has been through multiple stages of review and is good to be used by Planner team.

[2018-07-06 07:16] #3849 closed

[2018-07-06 07:59] muruGanesan commented on #2623
@rkratky, @mindreeper2420,  any updates on this issue?

[2018-07-06 08:00] jyasveer commented on #3873
closing this as this is fixed

[2018-07-06 08:00] #3873 closed

[2018-07-06 08:21] rkratky commented on #2456
@muruGanesan I have tried it right now, and the issue is still there.

[2018-07-06 08:31] muruGanesan commented on #2640
@Ohrimenko1988, @joshuawilson,
Can you please close this issue? Because this is will be addressed in #2643

[2018-07-06 08:49] rohitkrai03 opened #3929 "Design: Page where user would be redirected to after accepting an invitation to a space"
When a user is invited to a space for a role he/she gets an email containing the link to accept the invitation. After accepting the invitation there should be a page where user is redirected which shows the status for invitation if it was successful or not.

Very similar to what we have for email verification - https://github.com/fabric8-ui/fabric8-ux/issues/799

[2018-07-06 09:07] ibuziuk commented on #3814
@slemeur Joshua have added `team/che/osio` label but I believe it is pure UI / UX thingy, and `team/ux` would be more appropriate here, right ?

[2018-07-06 09:35] jarifibrahim opened #3930 "Browser cache doesn't get invalidated on updates to WIT"
This issue cannot be reproduced (easily).

When a resource is updated on fabric8-wit, the frontend doesn't get updated.
The backend returns a **304 not modified** even though the response has changed. I faced a similar issue some time ago see https://github.com/openshiftio/openshift.io/issues/3550.
I've seen the issue on the following two requests
1. GET on `https://api.prod-preview.openshift.io/a

[2018-07-06 09:42] kishansagathiya commented on #3897
Found one more https://github.com/fabric8-jenkins/fabric8-pipelines-plugin

[2018-07-06 09:48] Preeticp commented on #3930
+1, I faced multiple issues with the Planner UX yesterday and today, creation of multiple quick add bars, none of the drop-downs for add work item, add child work item, or the Select filter worked.
@Ibrahim was able to identify the issue and resolved it by disabling the cache. This happens apparently randomly and we must have some kind of permanent way to resolve this. Once resolved we cannot repr

[2018-07-06 10:06] hrishin opened #3931 "It's hard to follow the issue title in planner on work item page"
As a user, if I navigate to item detail page it's hard to follow an item/issue title. Also, the box around title it's not comfortable to read.

e.g.
![planner_withbox](https://user-images.githubusercontent.com/28615674/42306796-012b77e4-804e-11e8-9cec-808485c77f5a.png)

Would it be better to change title format?

for instance
![with_bold_lines](https://user-images.githubusercontent.com/28615674/42

[2018-07-06 11:09] rgarg1 commented on #3930
+1.

I've seen this issue too, but since there are no certain steps to reproduce it, couldn't log it. I'd label this issue as SEV-2 'coz it's a very bad user experience once the issue materializes, and it may occur anytime.

[2018-07-06 12:13] jyasveer commented on #3241
closing this as this is in prod now.

[2018-07-06 12:13] #3241 closed

[2018-07-06 12:24] rgarg1 opened #3932 "Cannot delete space and API response makes a reference to my another account on OSIO"
**Space created using user ID:** rgarg-osiotest1
**Space being deleted using user ID:** rgarg-osiotest1

**Request made:**
Request URL: https://api.openshift.io/api/spaces/17c1e9de-a89a-494b-91c4-819a013cb3b9
Request Method: DELETE
Status Code: 500 Internal Server Error

**Response from server:**
{"errors":[{"code":"internal_error","detail":"failed to GET url http://f8osoproxy/oapi/v1/namespaces/r

[2018-07-06 13:34] joshuawilson commented on #3814
@ibuziuk @slemeur you can pass it along to whatever team is working the issue. I added this one since you are writing on it.
cc @openshiftio/uxd-team

[2018-07-06 13:39] muruGanesan commented on #259
@alexeykazakov @sbose78, Do you need anything enhancement from UX side? e.g. while connecting with GitHub account - should we have to restrict/provide options to control the permission?
-or-
Is this handled in new permission module implementation?

[2018-07-06 13:39] joshuawilson commented on #2640
closing as a duplicate of #2643

[2018-07-06 13:39] #2640 closed

[2018-07-06 13:42] joshuawilson commented on #2456
@muruGanesan it was never closed, why did you close it?

[2018-07-06 13:46] jiekang commented on #3129
I believe current progress is in https://github.com/chrislessard/fabric8-wit/tree/spaceid-end-endpoint

[2018-07-06 14:05] ldimaggi opened #3933 "Intermittent issue - When viewing a user's profile, workitems and spaces displays are corrupted"
I have not been able to reliable reproduce this issue, but have encountered an issue multiple times in the past few days where when viewing a user's profile, the display of workitems and spaces is corrupted:

![screenshot from 2018-07-05 10-09-44](https://user-images.githubusercontent.com/642621/42383018-040f61ee-8104-11e8-934a-75dc73fbbecb.png)

[2018-07-06 14:30] ldimaggi opened #3934 "Intermittent/recurring issue - Seeing increased numbers of 503 errors on Jenkins pod starts this week"
This problem has been seen in the past and seems to have become very common this week - after a user env reset, the Jenkins pod encounters multiple 503 errors on starting. The result is that it can require several minutes for the Jenkins pod to start.

I have seen this on all clusters multiple times this week - example:

[code]

[2018-07-06 14:39] ldimaggi opened #3935 "Intermittent error - Jenkins log reports success - but promote button is not displayed in the OSIO UI"
Steps to recreate (this issue is not reproducible at will):
* Create new project
* Observe build success and option to promote to run in Jenkins log
* Observe promote button is not displayed in OSIO UI

![05-02-jenkins-log-failed](https://user-images.githubusercontent.com/642621/42384688-ab70fb06-8108-11e8-9025-02d5ea03c615.png)

![05-01-pipeline-failed](https://user-images.githubusercontent.com/6

[2018-07-06 15:12] muruGanesan commented on #2456
@joshuawilson,  there are duplicate issues #2771, #2772 that are in a 'closed' status. I misunderstand.

[2018-07-06 18:52] GeorgeActon commented on #3886
@jyasveer @animuk please set type, and if bug set severity

[2018-07-06 18:59] GeorgeActon commented on #3871
@chmouel removed the severity since this is a task not a bug and severity is only for bugs.

[2018-07-06 19:07] GeorgeActon commented on #3858
@catrobson couldn’t decide if this was a feature request or a bug. Feel free to change it.

[2018-07-06 21:51] ebaron commented on #2890
This is essentially the same as https://openshift.io/openshiftio/openshiftio/plan/detail/2005, but this issue is from the perspective of the resources page instead of the deployments page.

[2018-07-06 22:14] piyush1594 commented on #3742
@gastaldi @ravsa What I have observed so far is that the BuildConfig Created has property lastVersion in status equal to 2 in case of two builds of a pipeline. Have you any idea where that is getting changed. If that property is 1 it shows one build.

[2018-07-06 23:28] gastaldi commented on #3742
I remember @aslakknutsen saying something that the order in which the steps are executed needed to be changed, but I don't remember what was the issue back then, maybe this problem may be related

[2018-07-07 11:42] muruGanesan commented on #3881
@rgarg1, Are you referring to any UX artifacts?
@Veethika  @sunilmalagi,  could please link our UX proposal (deliverables like WF or VD) here?

[2018-07-07 12:18] Veethika commented on #3881
@muruGanesan there's no proposal doc linked to this story since it was a Sev-2 and had to be addressed immediately. Here we had only decided to use 'Please enter a valid numeric value' as an error message.
All the major issues with agile template/fields have already been translated into stories for upcoming sprint/train by @michaelkleinhenz . Those were not the type of problems we could have taken

[2018-07-07 15:00] piyush1594 commented on #3742
@gastaldi last version in build config yaml changes because of webhook event, I just checked by pushing a commit, it increments the last version in yaml and starts new build there in the pipeline. So seems like something is happening in between the process because I checked that in case of the 2-3 pipeline also there is only a single commit in the repo.

[2018-07-08 04:00] joshuawilson commented on #2456
Ah, yes. We close duplicates to keep the confusion down and the focus in one place.

[2018-07-08 04:02] #3889 closed

[2018-07-08 04:51] piyush1594 commented on #3935
@ldimaggi Can you also check if its there in openshift console or not? It remains like that for a long time or short time because Jenkins-sync-plugin's sync interval time is 5 sec.

[2018-07-09 05:39] Raunak1203 opened #3936 "Launcher : Creating new space by launcher and clicking cancel issue"
Steps:
- Click Create space from the drop-down.
- Select Development process
- Enter Space Name
- Click ok
- Wait until URL contains new space name
- Now click cancel
It doesn't work.

![launcher](https://user-images.githubusercontent.com/34271052/42432512-7d9252c2-8368-11e8-9081-1de394086910.gif)

[2018-07-09 06:07] mvulavak commented on #1440
@sivaavkd What is the status of this task?

[2018-07-09 06:20] sivaavkd commented on #1440
@mvulavak we discussed about this and moved it to backlog.  We are going to pick it up when it gets priority. cc @msrb

[2018-07-09 06:58] #3359 closed

[2018-07-09 07:11] sdash-redhat commented on #2871
@catrobson  should we close this one?

[2018-07-09 07:41] AshishDurgude commented on #3801
@mindreeper2420 Hi Adam. Can you update wiki website's left sidebar (Vertical Navigation) based on the hierarchy mentioned in the below document?

https://docs.google.com/spreadsheets/d/1A41zIQV3qqqx_TtPCjBI4KILHm7pRH23Y0rwccsdT34/edit?usp=sharing

[2018-07-09 08:12] tisnik opened #3937 "[1] Add f8a-hpf-insights repository to the dashboard"
Planner issue:
https://openshift.io/openshiftio/openshiftio/plan/detail/2689

[2018-07-09 08:35] sbose78 commented on #3656
Looks like a valid issue, I've notified the OpenShift team who manages the registration-app.
https://github.com/openshift/online-registration/issues/1359

[2018-07-09 08:37] hrishin commented on #2527
This issue has been fixed in the backend. Now application name could exceed the given limit.

[2018-07-09 08:46] tisnik commented on #3937
An implementation of all required changes:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/569

[2018-07-09 09:34] #3937 closed

[2018-07-09 10:50] miteshvp commented on #249
Closing this issue as this will be handled as part of entire OSIO support for .NET

[2018-07-09 10:50] #249 closed

[2018-07-09 10:53] miteshvp commented on #613
Moved from models based on tags to different DL models. Hence not relevant. Closing this.

[2018-07-09 10:53] #613 closed

[2018-07-09 10:53] miteshvp commented on #672
@invincibleJai - we should take this up in J train.

[2018-07-09 10:55] miteshvp commented on #696
Will re-open or re-visit this use-case once Che supports rendering css/html

[2018-07-09 10:55] #696 closed

[2018-07-09 10:55] animuk commented on #3820
@invincibleJai fyi

[2018-07-09 10:55] miteshvp commented on #700
Closing this as it has not moved anywhere.

[2018-07-09 10:55] #700 closed

[2018-07-09 10:56] miteshvp commented on #810
No longer relevant.

[2018-07-09 10:56] #810 closed

[2018-07-09 10:56] miteshvp commented on #808
No longer relevant

[2018-07-09 10:56] #808 closed

[2018-07-09 10:57] miteshvp commented on #837
We have code coverage dashboard as well as integrations with codecov.

[2018-07-09 10:57] #837 closed

[2018-07-09 10:58] miteshvp commented on #838
pylint job runs as part of every PR creation

[2018-07-09 10:58] #838 closed

[2018-07-09 10:58] rupalibehera commented on #3802
@lordofthejars ,
1. Check if we can reproduce this issue
2. Launcher creates the configmap here https://github.com/fabric8-launcher/launcher-backend/blob/763937f8186359d6a7732f066592e880621d5b74/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/OsioMissionControl.java#L156, then the jenkins sync plugin uses the configmap to create jobs
3. I am not sure how the deletion is handled, we need t

[2018-07-09 12:09] #2527 closed

[2018-07-09 12:49] andrewazores commented on #3933
Dupe of https://github.com/openshiftio/openshift.io/issues/3837 ?

[2018-07-09 13:40] catrobson commented on #2871
Yup, closing.

[2018-07-09 13:40] #2871 closed

[2018-07-09 13:44] catrobson opened #3938 "Capture end-to-end UXD improvements [13]"
### Description
Capture end to end UXD improvements we should consider to make the user experience of the path of using OSIO with current capabilities more smooth.

### Verification Criteria
- [ ] Capture document with areas of improvement
- [ ] Capture designs as they exist today into a single place
- [ ] Prioritize areas we want to fix
- [ ] Capture issues for things that should be worked on

[2018-07-09 14:10] #3815 closed

[2018-07-09 14:19] aptmac commented on #3894
![firefox-planner](https://user-images.githubusercontent.com/10425301/42455882-6f6eebd0-8361-11e8-98b6-fab96403d31d.png)

I'm using v60.0.2 on Fedora and am seeing the same behaviour as the issue reports.

[2018-07-09 14:22] aptmac commented on #3898
Is this not a duplicate of https://github.com/openshiftio/openshift.io/issues/1375 and/or https://github.com/openshiftio/openshift.io/issues/2623?

[2018-07-09 14:36] aptmac commented on #3933
The original issue in 3837 (broken components) was a duplicate of https://github.com/openshiftio/openshift.io/issues/3747, and was fixed in https://github.com/fabric8-ui/fabric8-ui/pull/3036. This issue may have a similar cause but *likely* not the same one.

@ldimaggi do you happen to have any more details regarding how you encountered this issue?

[2018-07-09 14:59] #3868 closed

[2018-07-09 15:13] jiekang commented on #3517
This  issue also affects users in production, not just the E2E tests; has there been any further work? Fortunately in production you do have permissions to scale Jenkins pods up and down, but it is frustrating to need to do this whenever Jenkins is idle.

[2018-07-09 15:17] piyush1594 commented on #3517
Its WIP and can be tracked here https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/289

[2018-07-09 15:58] chmouel opened #3939 "OpenShift on -2a would get crazy with some buildConfigs"
I have two buildConfigs in my project, sometime it shows up the two sometime it shows only one  :

![image](https://user-images.githubusercontent.com/98980/42461524-f1a24950-83a0-11e8-8e95-bf6ffa2ce170.png)

From the console it will will refresh sometime with the object (osio-pipeline) and sometime with a not found :

https://imgur.com/a/dO6P13d

[2018-07-09 16:03] catrobson commented on #3858
@joshuawilson I want to understand if the secondary navigation already is, or can be, broken into two distinct implementations:

Implementation 1:  Used for any time the secondary navigation is directly attached to the primary navigation (sits right below it).  We would use a dark gray navigation in these situations.

Implementation 2:  Used for any time the secondary navigation is shown below a h

[2018-07-09 16:05] chmouel commented on #3939
Deleted everything from my tenant and seems to work now, but that's even more worrysome, next time i'll keep that tenant as is,

[2018-07-09 18:51] ldimaggi commented on #2694
Re-opening as this problem was seen again on July 9.

The full set of test results/artifacts is available here:

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/282

[2018-07-09 19:45] ldimaggi commented on #3933
I wish I did - it seemed to be totally random.

[2018-07-09 20:21] aptmac commented on #1886
resolved in https://github.com/fabric8-ui/fabric8-ui/pull/2968

[2018-07-09 20:21] #1886 closed

[2018-07-10 01:05] catrobson opened #3940 "Prototype hub and spoke version of the launcher"
Implement a prototyped version of the hub-and-spoke version of the launcher as an alternative to user test against the vertical scrolling version of the launcher.

Designs:  https://redhat.invisionapp.com/share/UJMIGIDFXYV

Usability feedback from design prototype we'll also incorporate:
* See if we can get the "Set Up New Application" button above the fold of the window scrolling.  IXD and Dev to

[2018-07-10 01:51] sthaha opened #3941 "Ensure plugins included in jenkins image can be traced back to its source"
Currently we have jenkins image which includes a lot of plugins some which are [built by us](https://github.com/fabric8io/openshift-jenkins-s2i-config/tree/master/plugins) and copied to the `plugins/` directory manually and there is no way we can verify if the plugin contains any malicious code as we don't have a good way to trace back to the source of the plugins.

In other words given a plugin,

[2018-07-10 01:54] sthaha commented on #2773
Closing this issue as it isn't valid anymore.

[2018-07-10 01:54] #2773 closed

[2018-07-10 02:00] sthaha commented on #2202
Closing this we have removed the status entry for Jenkins.

[2018-07-10 02:00] #2202 closed

[2018-07-10 02:06] sthaha commented on #3581
@krishnapaparaju I am going to close this issue as it doesn't seem relevant anymore given that we will continue to support the current build engine - Jenkins for quite some time.

[2018-07-10 02:06] #3581 closed

[2018-07-10 02:17] sthaha commented on #297
@aslakknutsen can we close this issue now? We have locked down the privileges for the Jenkins namespace. Does anything remains to be done for Che?

[2018-07-10 02:37] sthaha commented on #291
I am not sure if this should be done as a jenkins job given that jenkins itself sometimes fails to start. I am closing this one year old issue. Please reopen if you disagree.

[2018-07-10 02:37] #291 closed

[2018-07-10 02:39] sthaha commented on #385
@ldimaggi any updates on this? are we good to close this?

[2018-07-10 05:19] hrishin commented on #3897
this plugin is used https://github.com/jenkinsci/kubernetes-pipeline-plugin

[2018-07-10 06:02] yzainee commented on #3925
The testing was done by creating a quickstart project on openshift.io and making sure that git repo url is passed on to the jenkins plugin.

[2018-07-10 06:13] ibuziuk commented on #297
it has not been done for che yet but it would be great to proceed with lockdown sooner rather than later.
@nurali-techie @aslakknutsen btw PR[1] with impersonate header support instead of query param has been merged and already available on preview

[1] https://github.com/redhat-developer/rh-che/pull/737

[2018-07-10 07:31] Preeticp commented on #2868
@sunilmalagi, @kwk, @sanbornsen,  what do we intend to do for the states in the Agile template, wrt icons and colors? I currently see this:
![screenshot from 2018-07-10 12-46-21](https://user-images.githubusercontent.com/16647625/42495301-5513b650-8440-11e8-8262-f478d92ea1ee.png)

Do we intend to retain this or add colors and icons to them as in the SDD template?
Fwiw, the states are the same as i

[2018-07-10 07:34] kwk commented on #2868
@Preeticp until we have a better way of annotation states in the template itself to provide an ID also, I'd say don't invest effort in finding a symbol for each state.

[2018-07-10 07:43] sdash-redhat commented on #3801
@mindreeper2420 @AshishDurgude
I will update the menu. We can later make changes based on any further feedback we receive in coming times, and it can evolve over the time.

[2018-07-10 07:49] sdash-redhat commented on #3801
We have identified the list of issues and created stories against each of them, (will be adding some more) under this parent epic https://github.com/openshiftio/openshift.io/issues/3799
We can now focus on the individual stories that are created.

So closing this issue.

[2018-07-10 07:49] #3801 closed

[2018-07-10 07:55] sdash-redhat commented on #3655
@catrobson  Looks like we have an agreed UX/design as of now. So closing this issue.
If we get further feedback/ we can reopen or use a different story.

The technical prototyping /feasibility aspect can be handled in a different story as suggested by @andrewazores

[2018-07-10 08:00] sdash-redhat commented on #3799
Changing the type to epic, to make sure the type is more meaningful

[2018-07-10 08:03] sdash-redhat commented on #3799
Being an epic, I am unassigning individuals, let's assign the stories that we will be working under this, so that they can be tracked for progress.

[2018-07-10 08:28] #3532 closed

[2018-07-10 08:36] Raunak1203 commented on #3615
@nimishamukherjee should we disable workitem input field? because in openshift.io space non-collaborator can create a work item.

[2018-07-10 08:53] #3915 closed

[2018-07-10 08:53] #3925 closed

[2018-07-10 10:01] piyush1594 commented on #3742
@gastaldi Are you talking about this https://github.com/openshiftio/openshift.io/issues/3252#issuecomment-384874867

Is this affecting the flow? cc @aslakknutsen @ravsa

[2018-07-10 10:10] Preeticp commented on #2868
Ok @kwk and what about the cases for the state, we left that pending for GA, now that we are post that maybe we ought to change that (Reference: https://github.com/openshiftio/openshift.io/issues/3448)

[2018-07-10 10:46] #3244 closed

[2018-07-10 11:05] invincibleJai commented on #3865
Fix is in Prod, closing it.

[2018-07-10 11:05] #3865 closed

[2018-07-10 11:09] invincibleJai commented on #3823
Closing the task as above changes  are in prod CC @miteshvp

[2018-07-10 11:09] #3823 closed

[2018-07-10 11:31] invincibleJai commented on #3745
update on the above story is, as per my understanding @jyasveer has all needed PRs in place.
Webhooks for the repo has been added by @joshuawilson. Centos-ci as the collaborator has been added based on issue comment.

Still it needs to validated and tested. @jyasveer can add more.

[2018-07-10 11:43] sivaavkd commented on #730
This is not relevant anymore, closing this.

[2018-07-10 11:43] #730 closed

[2018-07-10 11:45] sivaavkd commented on #732
Discussed this with Michal.. PCP is implemented and can be closed.

[2018-07-10 11:45] #732 closed

[2018-07-10 12:04] sthaha opened #3942 "Build: Investigate what is required to support Springboot better"

[2018-07-10 12:10] sbose78 opened #3943 "Closed workitems should not show up in the context of an 'iteration'"
![planner-closed](https://user-images.githubusercontent.com/545280/42509054-bbdc57c8-845b-11e8-8e6d-ae19c86f6c2a.png)

https://openshift.io/openshiftio/Openshift_io/plan/detail/42

[2018-07-10 12:12] sbose78 commented on #3943
@jarifibrahim , assigned it to you - feel free to change the assignment if you need to :)

[2018-07-10 12:14] ldimaggi opened #3944 "Creating new app blocked on prod-preview - no boosters are available"
Steps to recreate:
* On prod-preview, attempt to create a new app
* Observe 503 errors - observe that no boosters are available

Failed to load https://forge.api.prod-preview.openshift.io/api/services/jenkins/pipelines: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://prod-preview.openshif

[2018-07-10 12:17] ldimaggi commented on #3944
Looks like this issue was caused by an problem with a planned upgrade.

[2018-07-10 12:21] jarifibrahim commented on #3943
This issue exists because `SDD (legacy.yaml` template has states
[code]
while `Agile (agile.yaml)` template has
[code]

The request made from frontend is
[code]

Observe that `{ state : { $NE : closed } }` has `closed` with lower case `c`.

@michaelkleinhenz @kwk What do we do? Should we update the yaml files or do we fix the search endpoint to consider `upper and lowercase` expressions as equal?

[2018-07-10 13:22] jiekang commented on #3933
In the issue screenshot there looks to be no space selected but work items are shown, I'm not sure if that's expected. @aptmac do you know?

[2018-07-10 13:41] aptmac commented on #3933
@jiekang I don't recall having seen that behaviour when viewing my own profile, but perhaps it could be a side-effect of the behaviour displayed by the components in the issue. It is expected (but maybe not intended) that when viewing another user's profile that work items (that belong to you, not them) are shown, and no space is selected from the dropdown.

Example from viewing @jiekang's profile

[2018-07-10 13:47] #3698 closed

[2018-07-10 14:23] ldimaggi opened #3945 "Creating a blank booster fails on https://openshift.io (in production)"
Steps to recreate:
* Start launcher to create new app
* Select mission = Blank booster
* Observe "404 - NOT FOUND Cannot match given query to any API v1 endpoint" error when selecting any runtime (Vert.x, Springboot, Wildfly) - error is written to Chrome browser log - no erorr is returned to user in the OSIO UI, but the github repo is not created

[code]

[2018-07-10 14:40] joshuawilson commented on #3858
They can be independent if you want them that way.

[2018-07-10 14:47] invincibleJai commented on #3945
thanks @ldimaggi , @ravsa is following up on this. Recent fixes needs to be updated to prod. CC @animuk @miteshvp

[2018-07-10 14:52] aptmac opened #3946 "Dashboard work-items widget doesn't update when navigating between spaces"
When navigating between Space dashboard pages, the work items overview component doesn't update to display the work items of the latest visited space. Instead, it retains the information from the previous space. As far as I can tell the other widgets on the page do not exhibit the same behaviour and correctly display contents related to the current space.

Here are two gifs to illustrate what's go

[2018-07-10 15:12] jiekang commented on #3933
Strange; I don't see that when viewing my own work items component...

[2018-07-10 15:29] ibuziuk commented on #3884
@nurali-techie thanks for investigation. I wanted to test if header approach works with oso-proxy on preview in the meantime but unfortunately prod-preview is down due to cluster update. Will try and let you know tomorrow

[2018-07-10 15:33] sbose78 commented on #3943
This, please :)

[2018-07-10 15:35] quintesse commented on #3940
Very nice! I like it.

I would suggest one simplification though: justy make the "select mission" and the "select runtime" simple lists instead of the current 2-column one with its complex enabling/disabling.

We had come up with a new idea, something like this:

![launcher mission_runtime idea v3](https://user-images.githubusercontent.com/778793/42520456-9555fc48-8466-11e8-806f-e09cf3cff46d.png)

[2018-07-10 16:56] aptmac commented on #2000
The collaborators dropdown was updated in https://github.com/fabric8-ui/fabric8-ui/commit/8f493457c2c0b9b8cf7c8c0b6283c1d66466b0f1

It now looks like:
![2018-07-10-125445_612x558_scrot](https://user-images.githubusercontent.com/10425301/42525213-9a1b6842-8440-11e8-9d5e-3149057b6cf4.png)

Is this close enough to the planner one to close this issue?

[2018-07-10 17:10] lordofthejars commented on #3802
@gastaldi @rupalibehera @sthaha @ppitonak I have been investigating this. And I have noticed that it is reproducible.

But I have noticed another thing and it is that if I login into Jenkins and go to Jenkins admin console and I tried to delete the job manually, but I have noticed that there is no `Delete Pipeline` button.

So it seems that from Jenkins point of view the user has no rights for del

[2018-07-10 17:20] aptmac commented on #859
I took a brief look into this - was this increase in test runtime not to be expected? The commit [0] referenced at the top of this issue introduced 131 spec files, and each of those require time to be ran.

Additionally, the elapsed time increase reported here was about 26 seconds. I went through the a-runtime-console spec files and forced them to be skipped when running tests, and noticed that th

[2018-07-10 17:33] joshuawilson commented on #2000
I think it is. If we need any update from here it should be on the Planner.
I'll close this, please reopen if needed.

[2018-07-10 17:33] #2000 closed

[2018-07-10 17:40] aptmac commented on #3936
The bug is at `AppLauncherDependencyCheckService` [line 28 [0]](https://github.com/fabric8-ui/fabric8-ui/blob/6945bc98ba76fe4ba65adc75166ca942f5a41519/src/app/space/app-launcher/services/app-launcher-dependency-check.service.ts#L28).
![error](https://user-images.githubusercontent.com/10425301/42527076-a978eac6-8445-11e8-94d9-c5fbfc4343e5.png)

This can be recreated if the user hasn't visited a pag

[2018-07-10 17:45] gastaldi commented on #3802
@lordofthejars deleting pipelines or jobs (or any other resource) is out of scope of Launcher.

[2018-07-10 17:52] andrewazores commented on #3837
@aptmac what was the last status of this? @mceledonia confirmed above that when viewing the profile page of another user, the widgets should indeed list the workitems owned by that user and the spaces they are a member of. As far as I can tell the current state of the widgets on prod is that the Spaces widget correctly displays the list of spaces that the viewed user belongs to, but the workitems

[2018-07-10 17:54] andrewazores commented on #3655
Has a story for the technical side been opened anywhere? I have some details regarding the current querying capability, and some questions about the typeahead behaviour in the design as well.

[2018-07-10 18:08] gastaldi opened #3947 "Launcher got an unknown response from WIT"
According to https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-launcher-backend/issues/6361/, something changed in WIT that caused launching of applications to `/osio/launch` to fail:

[code]

This is the code that validates the response, it should be updated as well:
https://github.com/fabric8-launcher/launcher-backend/blob/067edfd4307f1c36af834894d273f73f869ec2dc/addons/osio-a

[2018-07-10 18:19] aslakknutsen commented on #3947
@surajssd https://github.com/fabric8-services/fabric8-wit/blob/master/codebase/analytics-gemini/client.go#L181 check status instead of the summary?

[2018-07-10 18:58] joshuawilson commented on #3857
might be a Duplicate of #3655

[2018-07-10 19:20] surajssd commented on #3947
Here is the PR which will fix this issue https://github.com/fabric8-services/fabric8-wit/pull/2159

[2018-07-10 19:37] #3947 closed

[2018-07-10 19:37] aptmac commented on #3837
Currently, the work-items component on the profile page will display the work-items from recent spaces that belong to the current logged in user. As a result, if I have work-items in my recent spaces I will see them in the component when viewing someone else's profile. So the component needs to be updated to display the work-items of the currently viewed user.

Additionally, the spaces/work-items

[2018-07-10 19:42] aptmac commented on #3857
@joshuawilson No this one should be different, the wording of the title may be misleading. This particular issue is concerning the way filters are applied when making a search for spaces. Furthermore the behaviour shown in this issue is intentional as implemented in pfng and not a bug [0], but I've re-purposed the PR [1] to ease the strictness of the filters with regards to case sensitivity.

[0]

[2018-07-10 20:20] ldimaggi opened #3948 "On prod-preview, blank booster with Vert.X runtime fails to run in CHE with ClassNotFoundException"
Steps to reproduce:
* On prod-preview:
* Create new space and new project
* In the new project, select mission = blank and Runtime = Vert.X
* Create a new Che workspace for the blank booster
* In Che, select 'run' from toolbar
* Observe this error:

[code]

[2018-07-11 00:34] sdash-redhat commented on #3655
@andrewazores I'm reopening the issue.
Please share your thoughts on the design and related aspects here.
Also, you can provide feedback on the design in the InVision document.

[2018-07-11 04:48] kwk commented on #2868
@Preeticp just beware that the state is a field almost like any other field and potentially can be defined by a user at one point. But before that happens we can have icons pre-defined in the UI (@sanbornsen, @vikram-raj).

[2018-07-11 04:52] sbose78 commented on #3932
Ruchir, does this happen in incognito as well?

[2018-07-11 05:19] Preeticp commented on #2868
@kwk I was trying to ask about the cases used for the values of the State field, i.e title case (New, Open, In Progress, Resolved, Closed in Agile template) v/s small case (new, open, in progress, resolved, closed in the SDD template). Currently we are not consistent on the two templates (as pointed in #3448 ).

Even if the field is potentially customizable, should we not give optimal defaults for

[2018-07-11 05:34] kishansagathiya opened #3949 "fabric8-jenkins-proxy: Invesigate if `osio` command is required, get rid of it if not"
In proxy we do not use sso.openshift.io for login
However I see it being used for setting proxy locally
A quick search for sso gives me a few other occurrences (https://github.com/fabric8-services/fabric8-jenkins-proxy/search?q=sso&unscoped_q=sso)

but they are being used in osio command.
What does this osio command?

proxy has two commands. one is fabric8-jenkins-proxy and the other one is osio.

[2018-07-11 05:37] kishansagathiya opened #3950 "identify if idler/proxy/jenkins-plugins etc access KeyCloak"
identify if idler/proxy/jenkins-plugins etc access KeyCloak, if so use auth service instead

More details in this thread https://chat.openshift.io/developers/pl/9q7yqgbic3btudo8jpuwgbjcea

[2018-07-11 05:52] animuk commented on #3945
@ldimaggi yes, there are some fix yet to updated in production.

[2018-07-11 06:00] sunilmalagi commented on #3858
@Raunak1203 I am not working on this issue right now and I am taking out my name and please include me if required later...

[2018-07-11 06:10] sunilmalagi commented on #3079
I am not actively involved in this issue, unassigning myself..

[2018-07-11 06:19] rgarg1 commented on #3932
I can confirm that this problem happens even without the browser being involved. Just using APIs to create and delete the space is enough to see this problem.

[2018-07-11 06:29] ibuziuk commented on #3884
on prod-preview (identity_id is passed via header there) I got the very same issue:

![image](https://user-images.githubusercontent.com/1461122/42553941-4336a1ba-84e3-11e8-9e89-3625a9d25321.png)

if oso-proxy is functioning as expected it looks like the problem with the auth token. need to investigate a bit more

[2018-07-11 06:31] lordofthejars commented on #3802
@gastaldi ok then when a space is deleted, where is the logic which receives the call of delete space and deals with it? My thoughts are that since it is a delete they are calling delete Job to Jenkins(or whatever) it fails because of permission but the error is ignored.

[2018-07-11 08:11] rohitkrai03 commented on #3933
@jiekang The default work items that are shown currently are from recent space and the dropdown contains only the spaces created by the user, that may be the reason why there is no space selected in the dropdown when viewing work items from recent space which is not owned by the user.

[2018-07-11 08:14] rohitkrai03 commented on #3635
@chrislessard This issue was solved with https://github.com/fabric8-ui/fabric8-ui/pull/2777. Closing it.

[2018-07-11 08:14] #3635 closed

[2018-07-11 08:49] rgarg1 opened #3951 "Should dynamic fields retain values on work item update?"
### A question for the UX team....

Consider the following scenario:

1. User open work item quick preview
2. Enters some value on a dynamic field like _Story points_. Doesn't saves the value yet
3. Edits the iteration of the work item. This causes the work item to reload and the storypoints entered earlier by the user are lost.

So, is it okay to lose data in the dynamic fields on an update, or t

[2018-07-11 08:50] rgarg1 commented on #3951
Cc @Veethika @divyanshiGupta

[2018-07-11 08:57] ibuziuk commented on #3884
just checked the che sa token and it seems to be valid on prod preview - oso proxy understand it and returns 200 when it passed via curl / REST client

[2018-07-11 09:05] chmouel opened #3952 "content-repository update with latest caddy server update"
Caddy has been rebased and updated,  we need to rebase the content-repository against it

[2018-07-11 09:33] rupalibehera commented on #3952
we just need to push an empty commit to repo like this https://github.com/fabric8io/caddy-server/pull/3, it will build the new image and push it.
and then change the image version like this https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/71

[2018-07-11 09:50] kwk commented on #3951
@rgarg1

It is absolutely NOT okay to discard the entered data!

[2018-07-11 09:51] rgarg1 opened #3953 "Work item titles with special characters are displayed escaped in notification emails"
Sample this work item: https://openshift.io/openshiftio/Openshift_io/plan/detail/50

Actual title: **Add support for RPT tokens for providing scopes' information**

The special charters in the title are displayed escaped in the notification email that we receive:

![escaped title in notify email](https://user-images.githubusercontent.com/28748448/42564277-fe486c2e-851d-11e8-90f3-eec8ad1ddd4b.png)

[2018-07-11 10:01] gastaldi commented on #3802
@lordofthejars I have no idea, maybe someone from the platform team may be able to answer that (@aslakknutsen @joshuawilson  ?)

[2018-07-11 10:02] chmouel commented on #3939
Another instance where openshift-sync-plugin is buggy, closing this.

[2018-07-11 10:02] #3939 closed

[2018-07-11 10:07] nurali-techie commented on #3884
@ibuziuk It means things are working fine on prod-preview when call made from curl to oso-proxy.  So, I will pause debugging at oso-proxy side.
Cc: @aslakknutsen

[2018-07-11 10:21] rohitkrai03 commented on #3655
@andrewazores Have you decided on implementation details for the typeahead search box? After going through the designs I think `ng-select` component can be reused for that which is currently being used in add-collaborators component - https://github.com/fabric8-ui/fabric8-ui/blob/2f3979be26235950053faed7325947f5cc3d3427/src/app/space/settings/collaborators/add-collaborators-dialog/add-collaborator

[2018-07-11 10:47] ibuziuk commented on #3884
@nurali-techie @aslakknutsen the problem might be more subtle than incorrect processing / missing `identity_id`. in oso-proxy logs when error occurs there is a message when auth error occurs:

`time="2018-07-11T08:58:59Z" level=error msg="Token not found, Missing auth"`

For some reason it says `Token not found` which is super strange. I mean what would be expected if there would be smth. like `To

[2018-07-11 11:00] rgarg1 commented on #3891
Addressed by #3842

[2018-07-11 11:01] rgarg1 commented on #3891
https://github.com/fabric8-ui/fabric8-planner/pull/2714

[2018-07-11 11:02] lordofthejars commented on #3802
This is not an easy task, the first thing we need to do is create a build API which offers, apart from other operations,  a `delete` operation to external callers.

Then when space is deleted, this method should be called.

[2018-07-11 11:35] slemeur commented on #3814
@catrobson : Could your team handle this issue ?

[2018-07-11 11:51] kishansagathiya opened #3954 "Can't login to jenkins.openshift.io"
I see this after entering my login details.
![screenshot from 2018-07-11 17-19-12](https://user-images.githubusercontent.com/10185999/42569597-a87ed7cc-852e-11e8-9dc6-eee840e661ee.png)

Keep trying further with `review profile` or `add to existing account` is also hopeless.

[2018-07-11 11:58] catrobson commented on #3814
@slemeur yes, thanks for the ping as I missed this earlier.  @mindreeper2420 could you work with Tiffany to get these changes into the SSO pages for Che.openshift.io branding and information?

@slemeur is there an "approved" name and logo for this already, or do we need to work with Brand on getting a new logo made?

[2018-07-11 12:03] rgarg1 opened #3955 "Cannot query closed work items without checking 'Show Completed' checkbox"
1) Go to osio space in osio

2) Select 'State' from the filter drop-down and select 'closed' from the available states.
Observe that no results are displayed.

3) Start over (refresh the page) and this time select the 'Show Completed' checkbox before starting with step 1.
Observe that closed work items are displayed.

Expectation: Explicit filter query for work items by the state should include al

[2018-07-11 12:03] rgarg1 commented on #3955
Cc @vikram-raj

[2018-07-11 12:13] kishansagathiya commented on #3954
@sthaha @hrishin @rupalibehera If any of you can reproduce this, I will tag this as `SEV1`

[2018-07-11 12:22] divyanshiGupta commented on #3776
@nimishamukherjee @rgarg1 can you please confirm if this issue still exists as I couldn't reproduce it.

[2018-07-11 12:31] catrobson commented on #3889
Well, as discussed in this issue https://github.com/openshiftio/openshift.io/issues/3858, we'd like to see two implementations of the secondary navigation.  We should standardize the animations, but the colors might need to be distinct.

[2018-07-11 12:33] andrewazores commented on #3655
My concern with the typeahead is that the result set can be very large (eg. searching for "test" currently returns 1900+ results), and so the results are paginated. This means that the typeahead results will probably be restricted to the first page of results for the current search term. I don't know what kind of filtering or sorting is supported on the backend, so this might feel wonky if the fil

[2018-07-11 13:10] sthaha commented on #3954
For the record, @kishansagathiya and I tried it with my account and I am able to login in both incognito mode and otherwise.

[2018-07-11 13:54] andrewazores commented on #3655
Right, that's what I figured would be the bare minimum. But then we have a case where when you type in "tes", the typeahead will only display a single suggestion based on the first page of results: "test". It wouldn't display "testA" because that wouldn't be found until the second, or third, or nth page of results, which won't be retrieved until the user has entered a search term that matches past

[2018-07-11 14:09] rohitkrai03 commented on #3655
@andrewazores @sdash-redhat Instead of showing just one result for 20 non-distinct ones we can probably add username and user avatar in the result list of typeahead. That would solve the problem @andrewazores mentioned in the above comment.

Also, for a very large set of result we can have an infinite scroll functionality implemented.
For the delay we can simply add a debounce of 200ms for input e

[2018-07-11 14:11] chmouel opened #3956 "Jenkins is Slow to boot at first boot"
Jenkins is very much still slow to boot for the first time user. It takes over 6 minutes for a first boot

Try first to `oc rsh` into your jenkins pod and `rm -rf /var/lib/jenkins`, you then `oc scale dc/jenkins --replicas 0` to kill it and `oc scale dc/jenkins --replicas 1` to boot it again and you can properly the pain of our first time user trying on openshift.io.

Here is my full log: http://p

[2018-07-11 14:37] sdash-redhat commented on #3655
@andrewazores
Good points, just thinking aloud, see if it helps --

I think now we are entering into how the search algorithm is getting the data from the backend to form ...

"...that wouldn't be found until the second, or third, or nth page of results, which won't be retrieved until the user has entered a search term that matches past "test" - ie, until they actually write "testA" themselves..."

[2018-07-11 14:59] ldimaggi opened #3957 "Cannot start a new Che workspace on prod-preview"
Started seeing this issue 100% of the time on prod-preview last night. Steps to recreate:
* Create a new space on prod-preview
* Create a new app
* Attempt to create a new Che workspace - observe that Che is never able to start the workspace:

![screenshot from 2018-07-11 10-41-42](https://user-images.githubusercontent.com/642621/42580852-750377a2-84f9-11e8-92bc-744e0ead949e.png)
![screenshot from

[2018-07-11 15:23] RickJWagner opened #3958 "New Space / vanilla fails, broken socket"
A new Space with a vanilla project (Spring Boot / REST) fails in the initial build.

The root of the problem seems to be:

org.eclipse.aether.connector.basic.BasicRepositoryConnector$TaskRunner.run(BasicRepositoryConnector.java:350)
	... 4 more
Caused by: java.net.SocketException: Connection reset

[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Buildi

[2018-07-11 15:34] RickJWagner commented on #3958
Note: a Build restart did not show the error a second time, the Build completed without incident.

[2018-07-11 15:35] ldimaggi opened #3959 "Delay in Launcher feedback to user can cause user to create failure in app creation"
Steps to recreate:
* Create a new app in the launcher - observe the 6-10 second delay in providing feedback to the user after the project is created but before the user is provided with a button to view the app:
![wait](https://user-images.githubusercontent.com/642621/42582832-10c06a2a-84fe-11e8-89c1-db65114e2a19.gif)

* Create a new app in the launcher - But, this time, don't wait for the UI to r

[2018-07-11 15:54] ldimaggi opened #3960 "In production - seeing 500/server error in console log when creating new app"
Steps to recreate:
* Create a new app in the launcher, after selecting the runtime and mission, observe this error inthe browser console log:

[code]

Note - There doesn't appear to be any functional impact caused by this error - the app is created.

[2018-07-11 16:06] lordofthejars commented on #3942
This issue is really ambiguous, because what it means better? Now it works, so what I assume is what build team should do to support advanced cases.

Maybe one advanced case would be the communication between two components, `Component A -> Component B` where `Component B` can be another service or a database, but in any case, it is pretty similar. To simplify from now the scenario will be a Sprin

[2018-07-11 17:58] slemeur commented on #3940
@catrobson : From the mockup, I'm worry that it is likely going to increase the number of clicks and the number of different screens that the user has to interact with. As a result, the time spent in the wizard might be longer that what it should be.

@quintesse : I like your proposal. I think the selector of runtimes should be more obvious (and visual, using the runtime's icon - so the user does

[2018-07-11 18:01] samuzzal-choudhury opened #3961 "Productize analytics notification service"
## Description
The service to provide analytics notification for user repositories have to be productized and the code quality is ensured so that OSIO users start getting notification emails for any identified CVE in the application stack with minimal errors.

## Acceptance Criteria
1. openshift.io users get an email notification with the list of CVE associated with their application stacks when