[2017-09-19 03:43] joshuawilson opened #898 "Analyze dashboard: Pipelines widget should use links for the pipeline names"
_From @jstrachan on June 14, 2017 12:16_

so you can quickly link to either all the pipelines or a single pipeline and see its pipeline history etc

_Copied from original issue: fabric8-ui/fabric8-ui#1514_

[2017-09-19 03:43] joshuawilson opened #899 "delete option on the Applications page should delete all resources associated with an App"
_From @jstrachan on June 14, 2017 8:48_

not just the Deployment/DeploymentConfig but also all the associated ReplicaSets, Pods, Service, Route, ConfigMap, Secrets etc

_Copied from original issue: fabric8-ui/fabric8-ui#1508_

[2017-09-19 03:44] joshuawilson opened #900 "delete Pipeline should prompt the user if they wish to delete the apps from each environment too"
_From @jstrachan on June 14, 2017 8:47_

if you delete a Pipeline the dialog should prompt the user to ask if they want to delete the associated resources from the Stage and Run environments too.

If so all the resources for a pipeline should be removed

_Copied from original issue: fabric8-ui/fabric8-ui#1507_

[2017-09-19 03:44] joshuawilson opened #901 "New project creation should be in a transaction - so that users are not left to "clean up" after a failure"
_From @ldimaggi on June 12, 2017 18:33_

If user attempts to add a new project to a space, and project creation fails, the user can be left with unwanted assets (github repo, pipeline, etc.)

See:  https://github.com/fabric8io/fabric8-ui/issues/1498

It would be much better for the user if the project creation were enclosed in a transaction, and if the user were given the option of cleaning up in

[2017-09-19 03:45] joshuawilson opened #902 "New project creation should be in a transaction - so that users are not left to "clean up" after a failure"
_From @ldimaggi on June 12, 2017 18:33_

If user attempts to add a new project to a space, and project creation fails, the user can be left with unwanted assets (github repo, pipeline, etc.)

See:  https://github.com/fabric8io/fabric8-ui/issues/1498

It would be much better for the user if the project creation were enclosed in a transaction, and if the user were given the option of cleaning up in

[2017-09-19 03:45] joshuawilson commented on #902
This issue was moved to openshiftio/openshift.io#901

[2017-09-19 03:46] joshuawilson opened #903 "Update Gulp Scripts"
_From @mindreeper2420 on June 12, 2017 14:9_

Update Gulp Scripts to build less files, move images/fonts and consume node_modules for frameworks (PatternFly, Bootstrap and Font Awesome). Convert Webpack scripts to Gulp scripts, where appropriate.

_Copied from original issue: fabric8-ui/fabric8-ui#1497_

[2017-09-19 03:48] joshuawilson opened #904 "review the Apps page UX"
_From @jstrachan on June 9, 2017 12:15_

we may wanna polish it a bit etc.

I like [this demo](https://drive.google.com/file/d/0B-T8vwICvu2MTDV5M25tTURoOUU/view)that Jorge pointed us at:

<img width="1364" alt="osepipelinedashboard_export_mp4_-_google_drive" src="https://user-images.githubusercontent.com/30140/26974931-8248f864-4d15-11e7-8add-12badc4fe0ed.png">

so we could add the (optional) Prom

[2017-09-19 03:48] joshuawilson commented on #904
_From @jstrachan on June 9, 2017 12:15_

+ @catrobson

[2017-09-19 03:50] joshuawilson opened #905 "changing spaces via the context drop down; should that keep on the same page but just change the space?"
_From @jstrachan on June 6, 2017 9:26_

if I'm on the Codebases / Pipelines / Apps / Environments page and switch between 2 spaces I'd have thought the UI should stay on the same space; not always go to the space overview page. Otherwise to switch between 2 spaces when looking at something in the Create site, we have to then navigate to Create then navigate to the tab we were on which feels clunky

[2017-09-19 03:50] joshuawilson commented on #905
I do like that idea. If I'm planning and I need to add an issue to another space it would be better if the context switcher just switched the context and not my view too.

I think the question we need to ask (and answer) is this; Why would a use change spaces?

[2017-09-19 03:50] joshuawilson commented on #905
_From @jstrachan on June 8, 2017 17:6_

because you're working on different apps in different spaces and you want to switch between them (either planning / codebases / pipelines / apps / environments)?

[2017-09-19 03:50] joshuawilson commented on #905
_From @catrobson on June 13, 2017 18:3_

I like this idea as well, but I think we need to think through what happens if I move over into a user context and then back to a space context.  Let me take a task to do a quick run-through of this so we make sure we have all scenarios/use cases covered for how to handle leaving the user in context as they switch between spaces and users.

[2017-09-19 03:53] joshuawilson opened #906 "Pipeline(s) not shown after creation over 'Add to Space'"
_From @joshuawilson on June 5, 2017 16:34_

_From @pkettman on June 5, 2017 14:30_

Steps:
Created a new project/codebase over 'Add to Space' with a selected pipeline
The pipeline is not available in OSIO Pipelines list

Reason:
The OSIO codebase was not linked to an expected default namespace pkettman, but to namespace pke-test1, which I had created previously while I testing the OSO.

https://gi

[2017-09-19 03:53] joshuawilson commented on #906
_From @rawlingsj on June 5, 2017 17:41_

FWIW we worked around the issue by manually deleting the `pke-test1` openshift project and created a new one `oc new-project pkettman` but note this is not a solution.

[2017-09-19 03:53] joshuawilson commented on #906
@rawlingsj do you have a proposed solution?

[2017-09-19 03:53] joshuawilson commented on #906
_From @rawlingsj on June 5, 2017 19:36_

No proposed solution, my suggestion of deleting the existing users home namespace and recreating one which matched the username in keycloak worked but asking folks to do this themselves seems extreme.

I guess when a user signs up with openshift.com they can choose their namespace name via `oc new-project foo` as long as it's unique where as openshift.io ex

[2017-09-19 03:53] joshuawilson commented on #906
maybe @alexeykazakov should be involved in this too

[2017-09-19 03:53] joshuawilson commented on #906
_From @alexeykazakov on June 5, 2017 22:29_

Actually the init tenant service creates namespaces based on the OSO username. Not the Keycloak one. But currently the keycloak username == OSO username == developers.redhat.com username. We should improve our tenant namespace management in OSIO.

[2017-09-19 03:53] joshuawilson commented on #906
_From @rawlingsj on June 5, 2017 22:38_

But in this case @pkettman already had an openshift.com account and had created a namespace called `pke-test1` which doesn't equal any username.  Therefore when @pkettman signed into openshift.io there's an incorrect assumption in the UI that the user had a namespace of `pkettman`.

To work around the issue we deleted the `pke-test1` and manually created a

[2017-09-19 03:53] joshuawilson commented on #906
_From @alexeykazakov on June 5, 2017 23:1_

I'm not sure what approach is better here. Ideally we should support existing namespaces I guess.
cc: @aslakknutsen @qodfathr.
What I'm saying is that it's rather an issue of how we manage namespaces. It's not related to SSO.

[2017-09-19 03:53] joshuawilson commented on #906
@rawlingsj @alexeykazakov do either of you have a suggestion on how to fix this?

[2017-09-19 03:54] joshuawilson opened #907 "when we deploy an app and we're out of quota we get a spinner which can be confusing"
_From @jstrachan on June 5, 2017 14:38_

here's an example:
<img width="1053" alt="fabric8_and_keycloak_account_management" src="https://cloud.githubusercontent.com/assets/30140/26788360/d53568dc-4a04-11e7-8927-90e9bc4939f5.png">

in this case we've created a Deployment with a replica count of 1 but no pods have been started yet. So we show a spinner. But when no pods have actually started; we may

[2017-09-19 03:54] joshuawilson commented on #907
_From @jstrachan on June 5, 2017 14:38_

this is related too https://github.com/fabric8-ui/fabric8-runtime-console/issues/490

[2017-09-19 03:56] joshuawilson opened #908 "Can't open with Firefox on a Mac"
_From @joshuawilson on June 1, 2017 20:49_

_From @luebken on June 1, 2017 9:32_

Trying to open with Firefox on a Mac I got the following error:

[code]
<img width="1637" alt="screen shot 2017-06-01 at 11 29 40" src="https://cloud.githubusercontent.com/assets/53055/26673645/ee11faf4-46bd-11e7-83a7-1b7b2f20c2e9.png">

_Copied from original issue: openshiftio/openshift.io#188_

_Copied from origina

[2017-09-19 03:56] joshuawilson commented on #908
_From @maxandersen on June 1, 2017 11:21_

I don't get unresponsive script - I just don't get it loading at all on Firefox. Very weird.

Works for me in Chrome and Safari which would be the workaround.

Can you tell me if that works for you ?

also, I just used openshift.io - did you try another url ?

[2017-09-19 03:56] joshuawilson commented on #908
_From @luebken on June 1, 2017 12:7_

I was able to reproduce it: I opened the pipeline history in a new tab.

<img width="1677" alt="screen shot 2017-06-01 at 14 05 04" src="https://cloud.githubusercontent.com/assets/53055/26678986/7f65ccbe-46d3-11e7-9d45-524e27dfd2fa.png">

[2017-09-19 03:56] joshuawilson commented on #908
@mindreeper2420 can you reproduce this? (since you have a Mac)

[2017-09-19 03:56] joshuawilson commented on #908
@luebken it looks like you tried to access https://openshift.io/_error. Did you get this error on that page or were you redirected to it?

[2017-09-19 03:56] joshuawilson commented on #908
_From @mindreeper2420 on June 22, 2017 12:37_

@joshuawilson I get this:

![viewpipelineserror](https://user-images.githubusercontent.com/4032718/27434224-fdc4c6c0-5725-11e7-8577-4bde1c1b1fd4.gif)

[2017-09-19 03:56] joshuawilson commented on #908
Did you click on something to get there? Or did you manually type in the URL

[2017-09-19 03:56] joshuawilson commented on #908
_From @mindreeper2420 on June 22, 2017 15:30_

I clicked on the 'View Pipeline Runs' link, but by using cmd+click to open it in a new tab in the background. Just clicking on the link (no new tab) works fine.

[2017-09-19 03:56] joshuawilson commented on #908
@luebken are you creating a new tab?
@mindreeper2420 we have an issue for new tab #1539

[2017-09-19 03:56] joshuawilson opened #909 "Creating a new pipeline collaterally re-recreates deleted pipelines"
_From @joshuawilson on May 26, 2017 2:25_

_From @sbose78 on May 25, 2017 20:22_

Steps to reproduce :

1. Create space.

2. Create 3-4pipelines

3. I deleted all but 1 from the openshift online webconsole because the the 'delete pipeline' option in openshift.io returned a HTTP 405
[code]

4.  So I tried deleting them from OpenShiftOnline , which worked.
5. I checked the Pipelines page on OpenShif

[2017-09-19 03:56] joshuawilson commented on #909
_From @jstrachan on June 5, 2017 13:59_

this is a known issue with the jenkins-sync-plugin; we'll hopefully have a fix soon

[2017-09-19 03:56] joshuawilson commented on #909
I just verify this. I deleted all my pipelines and builds, then created a new one.
So you can't really delete the pipelines then?
Any progress on this @jstrachan ?

[2017-09-19 03:56] joshuawilson commented on #909
_From @jstrachan on June 19, 2017 16:11_

fixed in the latest tenant - jenkins-sync-plugin correctly removes the project name from the github org job

[2017-09-19 03:56] joshuawilson commented on #909
_From @qodfathr on June 30, 2017 11:59_

Either I'm still seeing this, or some variant of it. My approach (sorry but this is from memory)
1. Create 3 new spaces and do a quick start in each.
2. Delete the spaces.
3. Create a new space and do a quickstart
4. Observe all Pipelines put into that new space (should only have the one new one)

I aggressively deleted everything in OSO, and everything ret

[2017-09-19 03:56] joshuawilson commented on #909
_From @ldimaggi on June 30, 2017 12:9_

FYI - This issue was logged in May 2017:  https://github.com/fabric8-ui/fabric8-ui/issues/1283

It was linked to this (unresolved) issue: https://github.com/fabric8io/fabric8-init-tenant/issues/75

[2017-09-19 03:56] joshuawilson commented on #909
_From @jstrachan on June 30, 2017 14:28_

@qodfathr the only explanation I can think of if you have a recent Tenant is that Jenkins was down when you zapped your BuildConfigs (pipelines) so that when jenkins came back up it had missed them get deleted so didn't know to zap them from the GitHub Org plugin. You have a recent tenant right? (The version of jenkins you're using appears on the new statu

[2017-09-19 03:58] joshuawilson opened #910 "add a "_notauthorized" page"
_From @jstrachan on May 24, 2017 14:42_

when using fabric8-ui on premise such as on minishift the user can login as a user who is not yet approved. On OpenShift.io we redirect to: https://manage.openshift.com/openshiftio which is fine.

However we probably need a little page we can use for on premise that basically says something like...

[code]

_Copied from original issue: fabric8-ui/fabric8-ui

[2017-09-19 03:58] joshuawilson commented on #910
_From @alexeykazakov on May 24, 2017 16:49_

@jstrachan this redirect URL can be set via ALMIGHTY_AUTH_NOTAPPROVED_REDIRECT env var for the api service.

[2017-09-19 03:58] joshuawilson commented on #910
_From @alexeykazakov on May 24, 2017 16:53_

if the env var is not set then a JSON with an error message: `user <username> is not approved` will be returned to the browser instead.

[2017-09-19 03:58] joshuawilson commented on #910
_From @rawlingsj on May 24, 2017 16:57_

That's interesting, ok so until we have a not authorized page we can use that.  It's crude but explains what's happening rather than the redirect to the red hat developer site.

[2017-09-19 03:58] joshuawilson commented on #910
We have an "error" page that I eventually plan to use for all redirects. It should take the error message and display it. However, how we do this is up to @fabric8io/uxd and @qodfathr

[2017-09-19 03:58] joshuawilson commented on #910
_From @jstrachan on May 25, 2017 9:26_

@alexeykazakov thanks for the heads up! I've switched the default now to leave `ALMIGHTY_AUTH_NOTAPPROVED_REDIRECT` blank so it generates the JSON.

Though I prefer having a single static HTML page for not-approved, its a nicer UX; then we can give the user more meaningful nice HTML as to what not approved means and how to work around it (e.g. instructions o

[2017-09-19 03:58] joshuawilson opened #911 "the Finish button should not need to invoke Validate again if there's been no change"
_From @jstrachan on May 23, 2017 13:37_

if you change a field on the first page and tab, it validates. Then if I click `Finish` it validates again. It'd be nice to avoid this extra validation; as validation is kinda slow ;)

_Copied from original issue: fabric8-ui/fabric8-ui#1380_

[2017-09-19 03:58] joshuawilson commented on #911
I'm guessing this is for the App Wizard.

[2017-09-19 03:58] joshuawilson commented on #911
_From @jstrachan on May 25, 2017 7:23_

ah yeah sorry! :) this is the app wizard - lemme create a label for that to make it a bit more clear what issues relate to it

[2017-09-19 03:59] joshuawilson opened #912 "Help link top right should link to documentation"
_From @catrobson on May 23, 2017 11:34_

Help link in username dropdown should link to documentation, not Fabric8 documentation online.  Documentation link location:  https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide.

_Copied from original issue: fabric8-ui/fabric8-ui#1378_

[2017-09-19 03:59] joshuawilson commented on #912
That link returns a 404 page and after looking around I can't find the correct link there.

[2017-09-19 03:59] joshuawilson commented on #912
@catrobson That link you provided doesn't work. Can you please provide the correct link?

[2017-09-19 03:59] joshuawilson opened #913 "have a richer 'Open' page for codebases/pipelines?"
_From @jstrachan on May 22, 2017 16:6_

I wonder if we need a nicer Open wizard that explains to users how to:

* create a workspace / open in Che
* use IDEA / Eclipse / VS Code
* install git clients and clone from the command line

So rather than having "Open in Che, Open in  IDEA, Open in Eclipse" links in various parts of the UI maybe we should just link to an Open page which lets users one cli

[2017-09-19 03:59] joshuawilson commented on #913
@catrobson can you add this to your list of user scenarios that we need to discus / plan

[2017-09-19 04:00] joshuawilson opened #914 "add a simple code browser/editor UI?"
_From @jstrachan on May 22, 2017 13:11_

we used to have this in the old fabric8-console; a way to browse & edit text files in git without firing up a full IDE. Its particularly handy for demos where you can instantly browse and edit code.

more of a long term thing really as it avoids having to wait for the Che workspace/service to come up etc

_Copied from original issue: fabric8-ui/fabric8-ui#1

[2017-09-19 04:00] joshuawilson commented on #914
Interesting idea. You may want to also consider one of the many REPLs out there like Plunker as a source of inspiration.

[2017-09-19 04:00] joshuawilson commented on #914
_From @jstrachan on May 23, 2017 7:5_

yeah - in https://github.com/fabric8io/fabric8-console we created a simple UI that looks and feels like navigating around a github repository; but keeping the fabric8 nav bar/UI so you can easily switch between source, pipelines, apps, environments etc. Its kinda handy really; though Che is our IDE - there's times an editor is handy. I still find myself doing

[2017-09-19 04:00] joshuawilson commented on #914
_From @pmuir on May 23, 2017 14:9_

I think the Che team also want to provide an embeddable version of Che... @l0rd

[2017-09-19 04:00] joshuawilson commented on #914
_From @l0rd on May 23, 2017 15:23_

@pmuir I'm not sure if Che would fit here. We want to provide 3 flavors of Che:

**osio-ide**: that's openshit.io IDE
**fabric8-ide**: that's osio-ide that can run on your local minishift
**eclipse-che**: upstream Che that is configured to talk with the Docker API directly

And we can have these really quickly.

But, regardless of the flavour, Che is still more

[2017-09-19 04:00] joshuawilson commented on #914
_From @gorkem on May 25, 2017 11:36_

This is a scenario we want to support eventually. You can follow up progress on https://github.com/eclipse/che/issues/5006. The trick is to back the embedded widget with a factory which will provide the workspace. I think a factory, combined with the new universal command palette https://github.com/eclipse/che/issues/4993 will be enough to reach all the functi

[2017-09-19 04:21] joshuawilson opened #915 "Deleting a space doesn't delete associated pipelines"
_From @joshuawilson on May 22, 2017 1:56_

_From @fbricon on May 2, 2017 15:22_

After deleting a space, I still have a zombie pipeline still trying to build. It's possible the pipeline state is in a borked state that prevents it from being deleted, I have no idea, but in that case the deletion process should be more robust.

_Copied from original issue: openshiftio/openshift.io#132_

_Copied from

[2017-09-19 04:21] joshuawilson commented on #915
_From @jstrachan on June 14, 2017 8:45_

I guess this is a UX question; should deleting a space delete all Pipelines & Apps in that space? Or move them to some other space? Maybe the space deletion wizard needs to present the user with that choice?
[code]
etc?

[2017-09-19 04:21] joshuawilson commented on #915
_From @jstrachan on June 14, 2017 8:46_

Or the simple solution - don't allow a Space to be deleted until you delete all the Pipelines + Apps?

[2017-09-19 04:21] joshuawilson commented on #915
@fabric8io/uxd @catrobson please review for design of deleting spaces.
@jstrachan do we have an API to remove pipelines and apps?

[2017-09-19 04:21] joshuawilson commented on #915
_From @jstrachan on June 14, 2017 21:8_

Yeah, we've all the APIs we need in the openshift REST API.

Once we get the UX figured out I can implement it pretty easily. I might add a basic option for now with a couple of checkboxes & we can iterate with the UX

[2017-09-19 04:21] joshuawilson commented on #915
sounds good, we need this and can adjust when the designs come in

[2017-09-19 04:21] joshuawilson commented on #915
_From @catrobson on June 14, 2017 21:48_

Adding @qodfathr to the thread to get some input on expectations when deleting a space.  There are *many* things that a space contains that could either be migrated to another space or deleted upon deleting a space.  Is there an expectation around this from the PM standpoint on what we should be supporting?

[2017-09-19 04:21] joshuawilson commented on #915
related to #1252 #1197 #1251

[2017-09-19 04:21] joshuawilson commented on #915
_From @qodfathr on June 29, 2017 21:7_

There are a lot of considerations to be made here, and many equally valid and competing use-cases. We'll need to do some UX research, but, based upon even some back of the napkin use-casing, I feel that we essentially need to offer the user a list of everything which is associated with the Space (pipelines, repos, etc.), each with a checkbox. The checkbox co

[2017-09-19 04:21] joshuawilson commented on #915
_From @ldimaggi on June 30, 2017 15:51_

Issue was originally logged here:  https://github.com/fabric8-ui/fabric8-ui/issues/1251

[2017-09-19 04:21] joshuawilson commented on #915
_From @ldimaggi on June 30, 2017 15:51_

Closing 1251 as a dup of this issue.

[2017-09-19 04:22] joshuawilson opened #916 "after creating a new app, the `Analyze` tab is kinda confusing as you don't really get to see the new app/pipeline"
_From @jstrachan on May 17, 2017 16:22_

I wonder if we should default to taking the user to the Create tab (and maybe the Pipelines tag) so users can see their new app being built?

_Copied from original issue: fabric8-ui/fabric8-ui#1318_

[2017-09-19 04:22] joshuawilson commented on #916
_From @jstrachan on May 17, 2017 17:13_

or maybe the wizard should prompt if the user wants to see the new pipeline and/or codebase?

[2017-09-19 04:22] joshuawilson commented on #916
@qodfathr @catrobson what do you think?

[2017-09-19 04:22] joshuawilson commented on #916
_From @catrobson on May 23, 2017 0:29_

We need to improve the dashboard to actually show the user what is happening rather than bring them to a different place in the application.  The dashboard should give me an overview of everything going on in the system which it doesn't do a great job of today.  Let's do an ideal design of this and drive towards better data and APIs that can show useful info

[2017-09-19 04:22] joshuawilson commented on #916
@catrobson I'm assigning this to you until the designs are ready.

[2017-09-19 04:22] joshuawilson commented on #916
@jstrachan there was a bug in the dashboard that prevented it from displaying. Can you please confirm that this is still an issue.

[2017-09-19 04:22] joshuawilson commented on #916
_From @jstrachan on June 21, 2017 7:35_

Its still an issue.

If you are on the Analyse tab and you create a new app, once you click OK on the wizard it stays on the Analyse tab. You have to stare at the screen very carefully to spot that anything's really happened (you will hopefully detect something new happening in the Pipeline rectangle if your browser window is big enough to show that below t

[2017-09-19 04:22] joshuawilson commented on #916
@jstrachan that makes sense.

I think we still need @catrobson to come up with the updated designs and user flows to nail down what we do.

[2017-09-19 04:22] joshuawilson commented on #916
_From @jstrachan on June 21, 2017 13:43_

totally agreed - this page could be the first page folks see when clicking on links on github projects; so we want a really slick lovely page!

Mind you we could probably add the functions we need (Fork repo, Create Codebase and/or create Workspace / and or Open Workspace, Import Pipeline)  using simple buttons for now until we replace the HTML layout with

[2017-09-19 04:22] joshuawilson commented on #916
_From @jstrachan on June 21, 2017 13:44_

we'll also need to show `you are not logged into openshift.io; to be able to work on this codebase we recommend you  [Log In]` etc

[2017-09-19 04:22] joshuawilson opened #917 "how should we allow users to pick the upstream quickstarts in addition to the RHOAR ones?"
_From @jstrachan on May 13, 2017 10:33_

more of a UX question than anything else really. Right now we've 1 wizard which just uses the RHOAR wizards (vertx, spring boot, WF swarm) but we've loads more quickstarts we could let users use (node, php, C++, go, swift, ruby, python et al - together with camel/fuse quickstarts too).

So we maybe need a way to pick which 'set' of quickstarts to choose fro

[2017-09-19 04:22] joshuawilson commented on #917
_From @jstrachan on May 13, 2017 10:34_

right now we have 2 separate wizards for RHOAR and upstream quickstarts; which isn't an awesome UX - wonder if we need a better combined wizard that groks all possible quickstarts with a nice way to filter/choose?

[2017-09-19 04:22] joshuawilson commented on #917
@fabric8io/uxd What do you think?

[2017-09-19 04:22] joshuawilson commented on #917
_From @catrobson on May 23, 2017 0:37_

+1 to reconsider the wizard.  UX Issue:  https://github.com/fabric8io/fabric8-ux/issues/444

[2017-09-19 04:27] joshuawilson opened #918 "have a canonical openshift.io console URL for a github repo and/or branch..."
_From @jstrachan on May 13, 2017 10:28_

which when opened in a browser would present the user with the options to:

* create or open a Che workspace for the git repo
* import the project as a Pipeline so that it can built/ran
* fork the repo to another organisation (then do the above)

e.g. a URL something like `https://openshift.io/github/owner/repo/[branchOrTag[/filePath]]` so that its super ea

[2017-09-19 04:27] joshuawilson commented on #918
_From @jstrachan on May 13, 2017 10:29_

we could implement this page using the component/code from #1290 as well - but also to add the ability to import a BuildConfig so it can be built/deployed on your tenant etc

[2017-09-19 04:27] joshuawilson commented on #918
_From @pmuir on May 19, 2017 14:51_

Codenvy Factories are relevant here.

[2017-09-19 04:27] joshuawilson commented on #918
@jstrachan @pmuir @maxandersen @catrobson
Where would these URLs be set/stored/used? Would they be a link on the Codebases page?

[2017-09-19 04:27] joshuawilson commented on #918
_From @jstrachan on June 21, 2017 7:14_

We'd be able to use these URLs inside README.md files on github projects for example. Or on wiki pages. Links are kinda handy on the internet to link to things from anywhere. They could be used as links in commits / PRs in the planner when we populate PRs/commits from github too; or as links on Deployments / Pods in the runtime views (as we know the github

[2017-09-19 04:27] joshuawilson commented on #918
Maybe I'm missing something. The only way I can see to do this is to set up routes to go to those URLs.

OR they would be artificially created and stored but not really usable. Meaning `https://openshift.io/github/owner/` would be dead.

If you want every level active then aren't we duplicating github?

I do think the idea has merit, I just don't understand how to do it.

[2017-09-19 04:27] joshuawilson commented on #918
_From @jstrachan on June 21, 2017 13:34_

I think you've misunderstood me completely :) Lemme try again!

All I'm talking about is using the usual Angular router to create a single HTML page inside fabric8-ui for viewing github repos (optionally branches) from which we can offer the user options to Fork, Open in Che, import as a Pipeline options etc.

The actual URL we use doesn't matter. Given `h

[2017-09-19 04:28] joshuawilson opened #919 "create an Angular component to link to view/open/create a workspace for a git URL and optional branch/sha"
_From @jstrachan on May 11, 2017 14:37_

e.g. on a Pipeline / BuildConfig / Deployment / Work Item we may be able to find the github URL, branch and possibly Che stack ID.

It would be nice to be able to link to a single page via "Open In Che" links around the UI which would then:

* check to see if there is a workspace already for the given git URL, branch and stack ID and if so open it
* if not

[2017-09-19 04:28] joshuawilson commented on #919
_From @jstrachan on May 11, 2017 14:45_

@dlabrecq wonder if you had a clue here? the basic issue is when viewing, say, a Pipeline, WorkItem, Deployment or some other resource we may find a git URL / branch / che stack; but not be aware if there's a Codebase/Workspace for it yet.

So figure we could just have a page we link to that then wraps up looking for the corresponding codebase/workspace and

[2017-09-19 04:28] joshuawilson commented on #919
_From @dlabrecq on May 11, 2017 20:8_

We currently have the ability to retrieve a list of the user's codebases which can be iterated over to match a GitHub URL. If a match is found, we can easily open Che.

(It's my understanding that the Che APIs don't accept a branch. The user must select a branch within Che.)

If there is no matching codebase, you can create one providing you have a GitHub URL

[2017-09-19 04:28] joshuawilson commented on #919
_From @jstrachan on May 11, 2017 21:25_

I wonder if for now we can create a component like:

    <open-codebase-link gitUrl='foo' branch='bar' stackId='abc'>Open Che<...>

Where everything but git URL is optional - we can then use this markup on pages like the pipelines & work items - then the implementation can lazily load the codebases to open a modal or whatever?

[2017-09-19 04:28] joshuawilson commented on #919
_From @jstrachan on May 11, 2017 21:29_

Though a service to open the link may be easier too ;)

[2017-09-19 04:28] joshuawilson commented on #919
@jstrachan is this still something you think we should pursue? I'm not clear on how this would work.
cc @maxandersen @catrobson

[2017-09-19 04:28] joshuawilson commented on #919
_From @jstrachan on June 21, 2017 7:12_

yes I think we should still do it as there are going to be many places in the UI we need to 'open in Che'. In terms of how it would work I'm assuming its an angular component along the lines of
[code]
or something like that.

We'd like to use this on multiple Pipeline / Build / Deployment / Pod UIs for a start; am sure we could use it in the planner when we

[2017-09-19 04:28] joshuawilson opened #920 "Feature request - Automated method for users to delete a project"
_From @ldimaggi on May 10, 2017 12:55_

(And also delete all a project's assets.)

Related to:  https://github.com/fabric8io/fabric8-ui/issues/1283

_Copied from original issue: fabric8-ui/fabric8-ui#1284_

[2017-09-19 04:28] joshuawilson commented on #920
What do you mean by "project"? Is this in OpenShift or are you referring to Space?

What would the user workflow be for the scenario you listed?

[2017-09-19 04:28] joshuawilson commented on #920
_From @ldimaggi on May 22, 2017 19:41_

This is related to the Spaces - where the user adds a project (such as a Vert.X HTTP Booster) to a space. It should be possible for a user to delete a project and by doing so also optionally have the project's assest (pipeline, github repo, etc.) deleted.  Thx!

[2017-09-19 04:28] joshuawilson commented on #920
I agree we need to be able to have the "delete" clean up after it's self.

[2017-09-19 04:30] joshuawilson opened #921 "Blue links on dark background are hard to read"
_From @rkratky on May 5, 2017 12:10_

Links rendered as blue text on dark background are difficult to read. The styling should be different.

![blue-links](https://cloud.githubusercontent.com/assets/6623103/25744913/99bf5ef0-319c-11e7-9737-319d42341e6c.png)

_Copied from original issue: fabric8-ui/fabric8-ui#1260_

[2017-09-19 04:30] joshuawilson commented on #921
@catrobson @mindreeper2420 can you please take a look at this.

[2017-09-19 04:30] joshuawilson commented on #921
_From @catrobson on May 23, 2017 0:39_

Yup, agreed it is hard to read.  Will get visual input.

[2017-09-19 04:30] joshuawilson opened #922 "Add ability to have multiple Admins of a Space"
_From @mindreeper2420 on May 4, 2017 15:40_

When trying to add Areas to a Space, it was discovered that the creator the Space must add Collaborators/Areas (access the Settings). There should be the ability to have multiple administrators of a Space.

_Copied from original issue: fabric8-ui/fabric8-ui#1249_

[2017-09-19 04:30] joshuawilson commented on #922
This will be solved when we add Orgs and possibly need Role Based Access Control. Currently we are creating a shared space under a "user" not an "org".

[2017-09-19 04:31] joshuawilson opened #923 "Add unit test to improve code coverage"
_From @corinnekrych on May 2, 2017 13:54_

Test in isolation:
- services,
- components/directives,
- modules

Let's sub-task the uni tests per module (ie: functionalities of fabric8-ui):
- [ ] unit test for [space-wizard module](https://github.com/fabric8io/fabric8-ui/issues/1545)
- [ ] unit test for settings-wizard module
- [ ] unit test for profile module
- [ ] unit test for shared module
- [ ]

[2017-09-19 04:31] joshuawilson commented on #923
Cleaned up the and moved the listed to the main description so that it would be easier to track.

[2017-09-19 04:32] joshuawilson opened #924 "styles changed for the worse on the fly"
_From @joshuawilson on April 28, 2017 3:14_

When you in the Planner on the Backlog and go to the Create tab and then back to Planner the styles on the list view are edited.

The .list-view-pf-main-info class gets `display: block` gets added.

It appears to be set in fabric8-ui and then the change persists when you leave the component

_Copied from original issue: fabric8-ui/fabric8-ui#1199_

[2017-09-19 04:32] joshuawilson commented on #924
This appears fixed.

[2017-09-19 04:32] joshuawilson commented on #924
related to #974

[2017-09-19 04:33] joshuawilson opened #925 "Space is recreated after delete on logout"
_From @ldimaggi on April 28, 2017 2:35_

Steps to recreate:
* Create a new space
* In that space create one or more workitems
* Delete the space
* Logout and login to refresh all menus/lists of spaces
* The space is still there, but its workitems are gone
* The space can now be deleted

_Copied from original issue: fabric8-ui/fabric8-ui#1197_

[2017-09-19 04:33] joshuawilson commented on #925
Cool feature! I was wanting to do that earlier today.

[2017-09-19 04:33] joshuawilson commented on #925
_From @aslakknutsen on July 19, 2017 2:36_

I just noticed the same. This is my debug info:

Create a space, Go anywhere, Go to View All spaces, Delete created space. The rest api DELETE space is called. Logout. Notification '"SpaceName" was created!" appear. It somehow manages to call POST spaces with the same space during logout for some absurd reason. Log back in and the space is there. This ti

[2017-09-19 04:36] joshuawilson opened #926 "Work item title moves to the second line in the Planner list view when navigating between Plan and Create tabs"
_From @nimishamukherjee on April 21, 2017 16:43_

1. Select a space
2. Select Plan tab (Analyze Plan Create)
4. Select Backlog
3. The work item title appears next to the ID
![beforenavigatingtocreate](https://cloud.githubusercontent.com/assets/1892722/25287284/6ec56686-26de-11e7-85c5-21477955c88e.png)
4. Select Create (Analyze Plan Create)
5. Select Plan tab (Analyze Plan Create)
6. Select Backlog

[2017-09-19 04:36] joshuawilson commented on #926
reference notes on #1199 for further direction

[2017-09-19 04:37] joshuawilson opened #927 "Logging in with Firefox on RHEL7 presents the user with a blank screen"
_From @ldimaggi on April 17, 2017 16:47_

his happens at the 18 second mark of the referenced screencast:

https://drive.google.com/open?id=0B1s-ZoxD8FjUcmRqSlpUQXBzT3M

This seems to be limited to RHEL7.

_Copied from original issue: fabric8-ui/fabric8-ui#762_

[2017-09-19 04:37] joshuawilson commented on #927
I can't see the video. Does the UI eventually appear? If that is the case, I have noticed this as a bug that was fixed but needs a hard refresh to clear out.

[2017-09-19 04:37] joshuawilson commented on #927
_From @ldimaggi on April 18, 2017 12:34_

Sorry - can you see this link:

https://drive.google.com/a/redhat.com/file/d/0B1s-ZoxD8FjUcmRqSlpUQXBzT3M/view?usp=sharing

No - the app never loads for me with Firefox 45.4.0 on RHEL 7

[2017-09-19 04:37] joshuawilson commented on #927
@ldimaggi is this still an issue?

[2017-09-19 04:37] joshuawilson commented on #927
_From @ldimaggi on June 17, 2017 3:11_

YES it is!  ;-)

[2017-09-19 04:37] joshuawilson opened #928 "Codebases page should also list BuildConfigs from OpenShift which have a Che stack annotation"
_From @jstrachan on April 10, 2017 14:33_

Folks can create apps via the Space wizard, via the OpenShift console or via `oc`. They appear on the Builds/Pipeline UI. However they don't show up in Codebases; so there's no way to open Che from that page for created projects.

For now we should combine the data from the Planner and the BuildConfig resources in the users default OpenShift Namespace.
e.

[2017-09-19 04:37] joshuawilson commented on #928
_From @jstrachan on April 10, 2017 14:36_

an example of how to view the BuildConfigs is on this page of the fabric8-runtime-console: https://github.com/fabric8-ui/fabric8-runtime-console/blob/master/src/app/kubernetes/ui/buildconfig/list-page/list-page.buildconfig.component.ts#L18 there's a view of them with an Observable<BuildConfigs> we could then filter/combine with the planner data maybe?

[2017-09-19 04:37] joshuawilson commented on #928
_From @jstrachan on April 10, 2017 14:37_

this change will mean folks don't need to do the 'Add codebase' in the UI after using the Space wizard

[2017-09-19 04:37] joshuawilson commented on #928
@pmuir can you help with this?
cc:/ @dlabrecq @michaelkleinhenz

[2017-09-19 04:37] joshuawilson commented on #928
@jstrachan Is this still relevant? Is this still the best way to do this?

cc: @maxandersen @aslakknutsen

[2017-09-19 04:37] joshuawilson commented on #928
_From @jstrachan on June 20, 2017 6:54_

yeah - as folks can import projects using wildcards or create projects using `oc`; none of which show up in the Codebases view. Any BC should always really have a Codebase too I'd have thought. Or at least an easy wizard to import them all in one quick operation

[2017-09-19 04:37] joshuawilson opened #929 "Create Error page"
_From @joshuawilson on April 6, 2017 6:28_

We need to handle Error when pages don't load.

Use this design. https://redhat.invisionapp.com/share/VTB0FR05Z

_Copied from original issue: fabric8-ui/fabric8-ui#536_

[2017-09-19 04:37] joshuawilson commented on #929
_From @catrobson on April 12, 2017 19:32_

There are additional error page situations that you can see here:  https://redhat.invisionapp.com/share/UQB3HEXFN

[2017-09-19 04:37] joshuawilson commented on #929
@catrobson since all the pages look the same except for the text, I thought we could change that on the fly as needed.

[2017-09-19 04:37] joshuawilson commented on #929
_From @catrobson on April 13, 2017 16:4_

Yup - makes sense to me @joshuawilson

[2017-09-19 04:37] joshuawilson commented on #929
We have the error page but we need the flow that gets a user to it. In most cases if something doesn't exist we redirect them.
What flows would bring a user to an error page.

[2017-09-19 04:38] joshuawilson opened #930 "Order list on <user>/_spaces by most recently created"
_From @pmuir on April 5, 2017 17:27_

_Copied from original issue: fabric8-ui/fabric8-ui#507_

[2017-09-19 04:38] joshuawilson commented on #930
@pmuir is this in the "view all spaces"?

[2017-09-19 04:38] joshuawilson commented on #930
_From @pmuir on June 16, 2017 13:43_

Yes.

On 16 June 2017 at 00:11, Joshua Wilson <notifications@github.com> wrote:

--
Pete Muir
Technical Director, Red Hat Developer

[2017-09-19 04:38] joshuawilson opened #931 "Add feedback button"
_From @pmuir on April 4, 2017 13:37_

_Copied from original issue: fabric8-ui/fabric8-ui#492_

[2017-09-19 04:38] joshuawilson commented on #931
from @kbsingh "Can we get a 'feedback' button on the logged-in user UI that points to a
specific planner board ? Maybe even put it on every page. Feedback as a
term so as to not confuse the situation with a 'support' button."

[2017-09-19 04:38] joshuawilson commented on #931
@pmuir @qodfathr @catrobson this is going to be important but I have some questions about how we do it.

Where does the feedback go?
Does it get logged as issues on the Planner?
Does it send an email to the devtools-saas mail list?
How will it different from a "support" button?

[2017-09-19 04:38] joshuawilson commented on #931
_From @catrobson on June 21, 2017 0:19_

Captured external research, possible user flows, and a first pass at design here:  https://redhat.invisionapp.com/share/CFC91QFHU.  Need to review and discuss with PM and Dev stakeholders to solidify direction.

[2017-09-19 04:38] joshuawilson commented on #931
I commented on the designs. Nice work @catrobson, that helps a lot.

[2017-09-19 04:38] joshuawilson commented on #931
_From @catrobson on June 28, 2017 22:27_

Updated user flows and designs after talking with @qodfathr: https://redhat.invisionapp.com/share/CFC91QFHU

@dgutride we'll capture a story for experimenting with the screenshot mechanism, as I'm worried about how long of a delay that will cause for opening the pop-down.

[2017-09-19 04:40] joshuawilson opened #932 "Validate username is ok"
_From @pmuir on March 28, 2017 20:27_

usernames may only contain lower-case letters, numbers, and dashes. They may not start or end with a dash. Max 63 chars in length.

_Copied from original issue: fabric8-ui/fabric8-ui#382_

[2017-09-19 04:40] joshuawilson commented on #932
@SMahil please verify this has been completed and close or fix it.

[2017-09-19 04:40] joshuawilson commented on #932
_From @SMahil on June 15, 2017 5:17_

Sure @joshuawilson

[2017-09-19 04:40] joshuawilson commented on #932
_From @SMahil on June 15, 2017 7:0_

@joshuawilson Currently we are taking the usernames directly for RedHat login system. Where/on which page you want me to put the validation?

[2017-09-19 04:40] joshuawilson commented on #932
_From @alexeykazakov on June 15, 2017 7:7_

We used to allow editing usernames. Then we disabled it.

[2017-09-19 04:40] joshuawilson commented on #932
@alexeykazakov is there any thought to allowing it again, if so we can make sure the logic is there and then close this.

[2017-09-19 04:40] joshuawilson commented on #932
_From @alexeykazakov on June 15, 2017 16:56_

Yes, our intention is to allow to change usernames. The first step would be to allow to change it only once right after registration/first login. But eventually we would like to allow change the username anytime. Our sso supports it. The problem is in opensfhit namespace names which are currently based on OSO usernames which we don't control. As soon a

[2017-09-19 04:40] joshuawilson commented on #932
@SMahil on the "gettingStarted" page that you go to when you first login, there is a place that you can change your username. Though as has been stated, it is currently disabled. You can turn it on to work with it but leave it off when you

[2017-09-19 04:40] joshuawilson commented on #932
_From @SMahil on June 19, 2017 7:1_

@joshuawilson this functionality is already there. I have questions. Can a username start with a number ? Are we allowing uppercase characters in username?

[2017-09-19 04:40] joshuawilson commented on #932
@alexeykazakov can you define the exact list of requirements for the user name?

[2017-09-19 04:40] joshuawilson commented on #932
_From @alexeykazakov on June 19, 2017 21:47_

@pmuir has already specified requirements :) See the description of the issue:

To be clear. We don't have any technical limitations from sso. Any string can be a username. But usernames are part of URLs so they should be URL-friendly. And maybe @catrobson can add anything from the UX point of view.

[2017-09-19 04:41] joshuawilson opened #933 "Profile picture should use aspect ratio of source image"
_From @qodfathr on March 24, 2017 15:3_

When displaying the user's profile picture on /<userid>, set the image's aspect ratio to match the source image. Note it is not necessary to display the image in its original size. (e.g., if the source image is 3000x2000, you probably want to display it at 150x100).

_Copied from original issue: fabric8-ui/fabric8-ui#350_

[2017-09-19 04:41] joshuawilson commented on #933
_From @pmuir on March 25, 2017 16:3_

@mindreeper2420 do you know a good way to fix this?

[2017-09-19 04:41] joshuawilson commented on #933
_From @mindreeper2420 on March 27, 2017 3:2_

@qodfathr @pmuir if we continue to pull images in from gravatar, then by taking off the hard-coded `height: 250px; width: 150px`, the image will render in the default `80px X 80px` that gravatar utilizes (I tested this locally with no fixed width/height and it came out to `80px X 80px`).

We can also set a constraint for `80px X 80px` to be the minimum

[2017-09-19 04:41] joshuawilson commented on #933
_From @alexeykazakov on March 27, 2017 4:46_

We will use GitHub images.
Now we have GitHub account linking in place and it's easy to start re-using GitHub images.
See https://github.com/almighty/almighty-core/issues/874
And https://github.com/fabric8io/fabric8-ui/issues/193#issuecomment-282354014

[2017-09-19 04:41] joshuawilson commented on #933
_From @VineetReynolds on March 27, 2017 7:38_

I've fixed this incidentally in the spaces listing page, where the profile pic is also shown. It would be great if someone could review the html and layout (I've used flexbox, due to the infinite scroll component) in #367. For reference this is how the profile image looks with height set to 250px in the referenced PR.

![image](https://cloud.githubuse

[2017-09-19 04:41] joshuawilson commented on #933
_From @mindreeper2420 on March 27, 2017 12:22_

@VineetReynolds can a media query be added to shrink the size of the image proportionately when viewed on a smaller screen?

[2017-09-19 04:41] joshuawilson commented on #933
_From @qodfathr on March 27, 2017 12:47_

Note that using GitHub for images is only a stop-gap solution. Eventually we'll support multiple Git servers and not require GitHub. So, at some point, we'll need to maintain our own set of images. (Likely with an options such as "just use my Gravatar image' or 'just use my GitHub image'.)

[2017-09-19 04:41] joshuawilson commented on #933
_From @pmuir on March 27, 2017 17:31_

Actually we have the ability to switch out images today (as it's just a URL, the profile PATCH endpoint supports it). UX is working on a UX for supporting imageURLs... Though this means we need to somehow crop of otherwise size the image...

[2017-09-19 04:41] joshuawilson commented on #933
_From @qodfathr on April 1, 2017 15:12_

/<userid>, /<userid>/_spaces and /<userid>/_resources render profile image differently, although /_spaces looks most correct. (But very low-res).

[2017-09-19 04:41] joshuawilson commented on #933
@mindreeper2420 can you post an update on this.
@alexeykazakov do you know anything more?

[2017-09-19 04:41] joshuawilson commented on #933
related to #193

[2017-09-19 04:42] joshuawilson opened #934 "Profile picture should come from github"
_From @catrobson on February 23, 2017 19:12_

The profile picture is not being carried in from github correctly:

![image](https://cloud.githubusercontent.com/assets/3739227/23274820/1977a7e0-f9d2-11e6-8694-0a772bd4e736.png)

_Copied from original issue: fabric8-ui/fabric8-ui#193_

[2017-09-19 04:42] joshuawilson commented on #934
_From @pmuir on February 24, 2017 13:19_

@catrobson I will need to borrow you or your account to reproduce.

[2017-09-19 04:42] joshuawilson commented on #934
_From @catrobson on February 24, 2017 17:38_

After discussion with @alexeykazakov, the current profile picture is being carried in from gravatar.  We don't ask the user before doing this, so its a bit hard for the user to identify where this mysterious profile picture came from.

Instead, I propose that we have a blank state image for the profile picture until we link to the user's github account

[2017-09-19 04:42] joshuawilson commented on #934
_From @pmuir on March 17, 2017 1:0_

I'm not actually clear where the image is coming from now that we get the user record from developers.redhat.com.

However, @catrobson we now have the ability for the user to update their image by providing a new URL. We can't implement image storage atm. Can you think about how we present that UX?

[2017-09-19 04:42] joshuawilson commented on #934
_From @catrobson on April 12, 2017 20:21_

@alexeykazakov - can you describe where we currently stand with this?  Where are we getting the user profile image from by default before the user attempts to change it?

[2017-09-19 04:42] joshuawilson commented on #934
_From @alexeykazakov on April 20, 2017 1:43_

@catrobson sorry, I missed your question somehow. Currently we generating a gravatar URL based on user's email.

[2017-09-19 04:42] joshuawilson commented on #934
@catrobson what do we want to do here? Do we need to add something to the profile to allow the user to point to another image?

[2017-09-19 04:42] joshuawilson commented on #934
_From @catrobson on June 17, 2017 10:42_

I think there are a few options:
Option 1:  Pull the user profile image from one of the OATH accounts (github most likely for now, eventually we would use a Red Hat one used for login
Option 2: Only allow for user uploaded profile images.

If we go the way of Option 2, it might be work we throw away as we get a proper "Red Hat Account" set up with picture,

[2017-09-19 04:43] joshuawilson opened #935 "Determine which pages require login"
_From @pmuir on February 14, 2017 16:30_

_Copied from original issue: fabric8-ui/fabric8-ui#139_

[2017-09-19 04:43] joshuawilson commented on #935
_From @catrobson on July 14, 2017 20:10_

I have captured which pages require log-in on the URL spreadsheet here:  https://docs.google.com/a/redhat.com/spreadsheets/d/1cNSDuek0v1EBPpdPlFwG_Y_yOlux86m9MYf9UrF82l4/edit?usp=drive_web

[2017-09-19 04:43] joshuawilson commented on #935
_From @aslakknutsen on July 16, 2017 16:40_

@catrobson just as a note; GH does not require login on #5 There is a public and a private view of it. (user profile page)

[2017-09-19 04:43] joshuawilson commented on #935
_From @catrobson on July 16, 2017 22:7_

@aslakknutsen - Thanks for the catch!  I thought I had notated the 'view profile' page as not requiring log-in but I had that incorrect in the spreadsheet.  Updated to reflect that 'view' does not require log-in, only 'edit' profile/settings.

[2017-09-19 04:43] joshuawilson commented on #935
Create a story for this in openshift.io repo.

[2017-09-19 04:43] joshuawilson commented on #935
Details at
- #1717
- #1708

[2017-09-19 04:43] joshuawilson commented on #935
_From @corinnekrych on August 28, 2017 15:16_

@joshuawilson is it ok to close it? should it be an epic on OSiO

[2017-09-19 04:43] joshuawilson commented on #935
This has not been done. Why do you think it should be an epic?

[2017-09-19 04:43] joshuawilson commented on #935
_From @corinnekrych on September 3, 2017 10:32_

@joshuawilson is it sth to split in requirements and tasks ie: fill-in the document + implement it. or does it cover only the fill-in of the document?

[2017-09-19 04:43] joshuawilson commented on #935
There is the list that @catrobson made. We need to review and verify that. So maybe that is enough to close this. Then we can open another issue to do the work.

An epic is larger then a user-story and I don't feel it is big enough to be an epic.

[2017-09-19 04:43] joshuawilson opened #936 "Login process is cumbersome"
_From @pmuir on February 9, 2017 4:21_

The current (Feb 8) initial login process is cumbersome - 4 steps to login with an existing github account - see below.

Requires significant changes

_Copied from original issue: fabric8-ui/fabric8-ui#114_

[2017-09-19 04:43] joshuawilson commented on #936
_From @ldimaggi on February 9, 2017 14:5_

Step 1:

![1](https://cloud.githubusercontent.com/assets/642621/22786510/ce5282fc-eea6-11e6-8fad-dd7956ff5bb5.png)

Step 2:
![2](https://cloud.githubusercontent.com/assets/642621/22786508/ce3dda0a-eea6-11e6-8edc-77a9af5b7f66.png)

Step 3:
![3](https://cloud.githubusercontent.com/assets/642621/22786511/ce5365dc-eea6-11e6-9e82-6cbca37bf442.png)

Step 4:
![4

[2017-09-19 04:43] joshuawilson commented on #936
@pmuir @catrobson @maxandersen who owns this task?

[2017-09-19 04:44] joshuawilson opened #937 "Consider moving the <header> element back inside the header component"
_From @pmuir on January 18, 2017 20:58_

https://github.com/fabric8io/fabric8-ui/pull/60 moved it out, but we should consider moving it back in.

_Copied from original issue: fabric8-ui/fabric8-ui#72_

[2017-09-19 04:44] joshuawilson commented on #937
I agree, that the header, main, and footer elements belong in the components that generate them.

@mitchharpur what is the reason to have them outside of their controlling components?

[2017-09-19 04:44] joshuawilson commented on #937
@mindreeper2420 @dgutride @dlabrecq what do you guys think about this. Please reference the code and discussion in the PR #60

[2017-09-19 04:45] joshuawilson opened #938 "Get AoT to work with Chunking"
_From @joshuawilson on December 12, 2016 21:35_

There is something preventing the AoT build from Chunking the code into vendor, polyfills, and main.

Is it possible to use both AoT and Chunking with Angular 2 and Webpack?

_Copied from original issue: fabric8-ui/fabric8-ui#8_

[2017-09-19 04:45] joshuawilson commented on #938
_From @TheLarkInn on December 12, 2016 21:39_

Alright so this is what I did in your aot.min config:

[code]

Inside of your vendors.ts file, I simply removed any `import @angular/core` etc. Instead the commonschunk for polyfills and vendor are now determining whether modules resource (aka the url) comes from node_modules, if so, shove it into vendor chunk. You can see comments for the information

[2017-09-19 05:17] samuzzal-choudhury commented on #846
@tisnik would you like to put some more notes with an example of the current behaviour and an example of the expected behaviour?

[2017-09-19 05:19] samuzzal-choudhury commented on #845
@tisnik is this still a valid case? Can you be a little specfic with the current and the expected behaviour?

[2017-09-19 05:31] samuzzal-choudhury commented on #835
@tisnik @fridex The integration cookbook is in place that describes the API resources. Can we add that to the `fabric8-analytics-server` repo docs and mark this issue closed?

[2017-09-19 05:35] samuzzal-choudhury commented on #851
@harjinder-hari would you please comment on this?

[2017-09-19 06:14] corinnekrych commented on #893
@joshuawilson this one should be fixed with the refactor/rewrite of the wizard going on in  https://github.com/fabric8-ui/fabric8-ui/pull/1997

[2017-09-19 06:14] #893 closed

[2017-09-19 06:24] msrb opened #939 "[5] Initial ingestion of Go ecosystem"
# Description
We want to start ingesting Go ecosystem. Initial run will probably reveal some bugs, so we can start small, let's say with 1000 packages (not components) and fix bugs. Then we can target 10% (for now) of Go packages hosted on GitHub (as there is no "Maven Central" for Go).

# Acceptance criteria
- [ ] 10% of the Go packages hosted on GitHub is analysed and available in production S3

[2017-09-19 07:05] jstrachan commented on #928
the Codebases UI should also show BuildConfigs if present; as folks can create those via the oc CLI or OpenShift console

[2017-09-19 07:14] fridex commented on #939
Blocked until https://github.com/openshiftio/openshift.io/issues/686

[2017-09-19 07:21] msrb opened #940 "[5] Better CVE data for Maven ecosystem"
# Description

DependencyCheck has a good support for Java/Maven, but since it relies on NVD, the process of determining whether component is vulnerable or not involves guessing of CPE names. Also the data in NVD are not always accurate. We want to find a better source of CVE data for Maven and either replace DependencyChcek (and NVD) completely or use this new source alongside existing implementa

[2017-09-19 08:02] benoitf commented on #202
upstream issue is now closed so we can close this one

[2017-09-19 08:02] #202 closed

[2017-09-19 08:03] benoitf commented on #309
closing as issue has been fixed.

[2017-09-19 08:03] #309 closed

[2017-09-19 08:55] tuxdna commented on #686
Issue encountered with server API https://github.com/fabric8-analytics/fabric8-analytics-server/issues/154

[2017-09-19 09:29] jstrachan commented on #917
now we've updated to the latest RHOAR addon we could look at trying to turn the current upstream quickstarts into boosters; no clue whats involved in that mind you ;)

[2017-09-19 11:09] tisnik opened #941 "[3] Setup Python linter as a separate job on CentosCI"
Currently we run Python linters (on bayesian-common and bayesian-server ATM) as part of the 'main' CI job, which is not the perfect solution, because users can see just one message for each PR that is related to checking and testing:

[code]

[2017-09-19 11:31] tisnik opened #942 "[13] Setup Python linter for all relevant fabric8-analytics repositories"
# Description

In order to remove any unnecessary coding errors and automate error checking (see https://github.com/openshiftio/openshift.io/issues/829), we would like to run linters on every PR.

# Acceptance criteria

- [x] all repos respect one unified configuration of code linters that is shared across the whole team
- [x] PRs are checked in CI (depends on https://github.com/openshiftio/opensh

[2017-09-19 11:39] tisnik opened #943 "[2] Fix all Pylint warnings and error messages for the bayesian8-server repository"
Depends on #856

[2017-09-19 12:34] rupalibehera commented on #760
This is fixed by @rawlingsj here https://github.com/fabric8io/jenkins-sync-plugin/commit/489a3e97fe1d71cda37c880e9eb25f2353070ab3, So we can close this one.

[2017-09-19 12:34] rawlingsj commented on #760
great

[2017-09-19 12:34] #760 closed

[2017-09-19 12:48] cctrieloff commented on #876
I'll retest once we get the storage updates later this week,

[2017-09-19 13:05] mindreeper2420 commented on #903
@joshuawilson I don't believe that this is necessary anymore.

[2017-09-19 13:33] bmicklea commented on #666
@slemeur @qodfathr  FYI - more information above on the reliability issues we've been seeing with Che on OSIO.

[2017-09-19 13:48] mitchharpur commented on #937
A best practice is to separate site layout (where things go) from components (what things do). The header is part of 'layout', which controls where things go or are placed, while the component is focused on what is being done i.e function is navigation ... two different things and in my opinion do not and should not go together.

[2017-09-19 14:11] humaton commented on #687
After discussion with @fridex and @vpavlin we decided to use .spec.strategy.type==Recreate for workers and set maxSurge=100% for the other parts of the project. In this case, workers will be always all killed and all recreated. Other deployments should have 0 downtimes with this config.

[2017-09-19 14:47] samuzzal-choudhury commented on #642
@joshuawilson @ldimaggi The existing RESTful API setup requires the UI to poll intermittently to get the recommendations. A user will be able to get recommendations when those are ready when we introduce a web socket API.

This is going to require changes in both backend and frontend and IMHO it will be meaningful to keep this open as a feature request rather than a bug. CC: @krishnapaparaju @Geor

[2017-09-19 15:42] jpopelka commented on #659
https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/348 should fix it

[2017-09-19 15:46] #903 closed

[2017-09-19 16:00] GeorgeActon commented on #850
@samuzzal-choudhury was this introduced as a result of v2?
the error message seems correct bt it would be better if we could determine which line is in error so they knew what to change

[2017-09-19 16:20] ldimaggi commented on #788
Finally seeing a pattern for this issue - it does not seem to be tied to the number of github repos.

When a pipeline is created, this WARNING is written to the Jenkins pod log:
[code]

But - when the pipeline fails to be created - the same error is raised as a SEVERE error:
[code]

[2017-09-19 16:21] tisnik opened #944 "[2] Code enhancement: refactor API version (1.0) into one constant"
The API version (1.0 at this moment) is used several times in the code:
https://github.com/fabric8-analytics/fabric8-analytics-server/blob/master/bayesian/api_v1.py#L557
https://github.com/fabric8-analytics/fabric8-analytics-server/blob/master/bayesian/api_v1.py#L667
https://github.com/fabric8-analytics/fabric8-analytics-server/blob/master/bayesian/api_v1.py#L800
https://github.com/fabric8-analyti

[2017-09-19 17:42] samuzzal-choudhury commented on #850
@GeorgeActon Not really.  It's actually a failure on the worker side when the manifest contents are processed. We need to investigate more to figure out the component in fault.

[2017-09-19 18:12] pombredanne commented on #682
@jpopelka I would be interested to get a look at your research ... but the doc access is not public. Shall I request read access to the google doc?

[2017-09-19 19:59] ldimaggi opened #945 "Creation of new build pipeline can require up several minutes before providing feedback to user in OSIO UI"
See attached Jenkins pod log - when a new project is added into the user's space, and a new build pipeline is created, it is taking up to 3 minutes for a Jenkins Pod to be scheduled - in an otherwise idle user account.

Steps to recreate:
* Reset user environment
* Create new space
* Create new quickstart project

[code]

## Impacts
- [ ] #2155 CI Experience placeholder

[2017-09-19 19:59] ldimaggi commented on #945
[jenkins-2.log.txt](https://github.com/openshiftio/openshift.io/files/1315669/jenkins-2.log.txt)

[2017-09-19 20:13] joshuawilson commented on #945
@jstrachan this looks like something for you. If not please redirect.

[2017-09-19 20:34] fridex commented on #687
Reasoning - we need to be sure that during deployment there are no old workers that would accept messages with old flow configuration. This can occur if rolling deployment would be done in rolling strategy - a new worker would be up but old workers that can still process messages can pick old message with old flow configuration - under some circumstances this can have not nice affects (never endin

[2017-09-19 20:38] fridex commented on #942
Relevant (possibly duplicate): https://github.com/openshiftio/openshift.io/issues/829

[2017-09-19 20:42] ldimaggi commented on #876
This issue is a duplicate of:   https://github.com/openshiftio/openshift.io/issues/820

[2017-09-19 20:42] ldimaggi commented on #876
Yup! It's related to - https://github.com/openshiftio/openshift.io/issues/501

[2017-09-19 21:59] joshuawilson opened #946 "login in with a new user still presents UX content from previous user"
_From @kbsingh on September 19, 2017 21:51_

Logged out from openshift.io via developers.redhat.com ( ie, logged out from both places ) - going back to openshift.io i am presented with login option. logging in with a different user this time, I still see content ( spaces's list, profile details ) from the previous user. Eventually this times out and I do get the correct details, but for some minut

[2017-09-19 23:35] aslakknutsen commented on #945
Trying to figure out what happened between 18:47 and 18:50. Unknown at this point.

[code]

[2017-09-19 23:57] ldimaggi commented on #788
Just spotted what might be a contributing factor.

If the jenkins pod cannot access https://api.github.com/user - then this issue is seen.

See attached log file.

[jenkins-2.log.txt](https://github.com/openshiftio/openshift.io/files/1316184/jenkins-2.log.txt)

[2017-09-20 00:50] ldimaggi commented on #945
Another log - about 4 min to get the pipeline running - see attached log.
[another_jenkins_pod_log.txt](https://github.com/openshiftio/openshift.io/files/1316239/another_jenkins_pod_log.txt)

[2017-09-20 00:58] aslakknutsen commented on #945
Seems to suffer a lot from quota issues:

[code]

[2017-09-20 02:55] joshuawilson opened #947 "ngx-widgets build failure"
Currently I'm unable to get the master for ngx-widgets to build and release.

I can build it locally and the PR builds pass.

Here is the repo and jenkins page:
https://github.com/fabric8-ui/ngx-widgets/commits/master
https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/ngx-widgets/job/master/3/console

I don't know if this is related to the dependency changes that were made in the code or if the

[2017-09-20 02:56] joshuawilson commented on #947
@rawlingsj can you please take a look at this?

[2017-09-20 03:56] joshuawilson commented on #869
@kbsingh have you seen this with any other user?

[2017-09-20 03:57] joshuawilson commented on #869
@aslakknutsen can you please look into this.

[2017-09-20 04:58] alexeykazakov opened #948 "Multi Cluster support"
Users can be provisioned to different OS clusters. So, OSIO services should handle it properly.

There are two main scenarios:

1. A user (space owner/collaborator) is working on a space/codebase in the same cluster.
2. A user (space collaborator) is working on a space/codebase which was created by another user and may be in a different cluster.

We will need to provide API which can be used to ge

[2017-09-20 05:05] alexeykazakov commented on #948
We need every OSIO team to prepare requirements for their services/parts. What info (provided by some new API) they would need to get to successfully support multi cluster. Any limitations and gotchas?

[2017-09-20 05:24] #704 closed

[2017-09-20 05:28] SaketJNU commented on #780
Data is available in S3 bucket prod-keywords-summary with file names and description:
1. package_topics.json  : a complete list of packages with or without tags, this will be the input for PGM after tagging each package.
2. master_list_package_topic_map_maven.json : a sublist of 1, where each package has tags and is useful for tagger accuracy measure.
3. tag_missing_package_list_ maven.json : a su

[2017-09-20 05:28] SaketJNU commented on #781
Data is available in S3 bucket prod-keywords-summary with file names and description:
1. package_topics.json  : a complete list of packages with or without tags, this will be the input for PGM after tagging each package.
2. master_list_package_topic_map_maven.json : a sublist of 1, where each package has tags and is useful for tagger accuracy measure.
3. tag_missing_package_list_ maven.json : a su

[2017-09-20 05:29] SaketJNU commented on #781
we can close this issue.

[2017-09-20 05:29] SaketJNU commented on #780
we can close this issue.

[2017-09-20 07:06] pkajaba opened #949 "[3] Refactoring of configuration in fabric8-analytics-worker"
The current implementation is a little bit overengineered since it supports multiple ways how to get the configuration to our system. Even though it sounds like a good feature, but we are using just environment variables for configuration. After refactoring this we would get rid of env/hack.sh script, which basically renames some environment variables.

[2017-09-20 07:37] fridex opened #950 "Benchmarks of core workers and their configuration"
# Description

We would like to check and evaluate performance on component level and on stack-analysis level. There are already present nice benchmarks done by @tisnik that does performance tests on worker side. These benchmarks track results and metadata info that are available in results we store on S3 (execution time of tasks that results are stored on S3), however we have some tasks that do n

[2017-09-20 07:38] Preeticp opened #951 "Work Item List: "Associate with Iteration" in Kebab Menu not working"
Despite re-associating an Iteration with the WI it is not reflected in the preview.

Please see the following screenshots.
![3](https://user-images.githubusercontent.com/16647625/30632137-aa2c4210-9e04-11e7-9400-91564f21e915.png)
![1](https://user-images.githubusercontent.com/16647625/30632138-aa2d7072-9e04-11e7-9782-412b9a874e32.png)
![2](https://user-images.githubusercontent.com/16647625/3063213

[2017-09-20 07:41] jpopelka commented on #705
https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/346 runs on staging

[2017-09-20 07:45] fridex commented on #792
I missed this card. As posted on ML, candidates: https://github.com/pyupio/safety-db, https://pypi.python.org/pypi/safety

[2017-09-20 07:46] jstrachan commented on #449
FWIW we now use the latest launchpad-addon which does not have a package name input any more. If folks do wanna be able to specify a package name (which TBH sounds reasonable to me ;) - then openshiftio/appdev-planning#34 is the issue to track & vote up

[2017-09-20 07:46] #449 closed

[2017-09-20 07:47] jstrachan commented on #750
package is no longer an option in the RHOAR booster addon. For background see openshiftio/appdev-planning#34

[2017-09-20 07:47] #750 closed

[2017-09-20 07:48] jstrachan commented on #679
is this still an issue? Import seems to work fine for me

[2017-09-20 07:50] kbsingh commented on #869
It seems the users oso token stored in keycloak was no longer valid, so the tenant service was failing. Would it be possible for the tenant service to report through to the UI something better? And maybe even redirect the user to a page where they can relink their account from oso ?

[2017-09-20 07:51] jstrachan commented on #453
it should be working now; is this still an issue for you?

Can you look at the imported project in the openshift console to find the underlying `BuildConfig` and see its labels and see if it has a `space` label?

If so the value of the `space` label is the Space you need to be inside in the OpenShift IO console to see the Pipeline. Right now the OpenShift IO console filters all Pipelines by the `s

[2017-09-20 07:52] jstrachan commented on #775
fixed - the app name is now stored as the pom.xml `artifactId` so that the `Deployment(Config), RS/RC & Pods` use the same name prefix

[2017-09-20 07:52] #775 closed

[2017-09-20 07:55] jstrachan commented on #280
should be fixed now

[2017-09-20 07:55] #280 closed

[2017-09-20 07:55] #826 closed

[2017-09-20 08:21] jpopelka commented on #848
Should be fixed with https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/348

[2017-09-20 08:25] jpopelka commented on #847
Should be fixed with https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/138

[2017-09-20 08:30] fridex opened #952 "[3] Add handler to Jobs service to gather popular go packages"
# Description

As we would like to ingest go ecosystem, let's create a job's service handler that would automatically schedule analyses of go packages. Take a look at existing job handlers for Maven, NPM or Python ecosystem for scheduling popular packages.

You can use [go-search](http://go-search.org/) page to find the most popular packages. It has available API, but feel free to explore possibil

[2017-09-20 08:32] fridex commented on #812
Closing, as done.

[2017-09-20 08:32] #812 closed

[2017-09-20 08:33] fridex commented on #728
Closing, as done.

[2017-09-20 08:33] #728 closed

[2017-09-20 08:34] fridex commented on #727
Closing, as done.

[2017-09-20 08:34] #727 closed

[2017-09-20 08:34] fridex commented on #687
Closing, as done.

[2017-09-20 08:34] #687 closed

[2017-09-20 08:34] fridex commented on #681
Closing, as done.

[2017-09-20 08:34] #681 closed

[2017-09-20 08:34] fridex commented on #669
Closing, as done.

[2017-09-20 08:34] #669 closed

[2017-09-20 08:38] fridex commented on #705
@jpopelka can this be marked as completed now?

[2017-09-20 08:44] fridex commented on #939
Relavant: https://github.com/openshiftio/openshift.io/issues/952

[2017-09-20 08:44] fridex commented on #686
We can in parallel work on handler for gathering packages available in ecosystem. Relavant: https://github.com/openshiftio/openshift.io/issues/952

[2017-09-20 09:08] fridex opened #953 "Spike around go package management"
# Description

The way how go programming language is treated in core is different. Go projects can directly use git repositories. However there are used package managers in community. [The official package manager](https://github.com/Masterminds/glide#golang-dep) in go ecosystem looks like in an early stage. Community also uses [glide](https://glide.sh/) package manager.

This spike should explor

[2017-09-20 09:20] samuzzal-choudhury commented on #628
Both the sub-tasks are complete and hence closing this use case. CC: @krishnapaparaju @GeorgeActon @GeetikaBatra @invincibleJai @jyasveer

[2017-09-20 09:20] #628 closed

[2017-09-20 09:32] tisnik opened #954 "[3] Develop integration tests to check the results of component analysis"
The new tests should follow these steps:

- [x] force the analysis of component (with known expected results for given ecosystem+component+version)
- [x] wait for the analysis, report error if the analysis timeout
- [x] check if all package metadata are present in the AWS S3
- [x] check if all component metadata are present in the AWS S3
- [x] check the content of package metadata (given the packa

[2017-09-20 09:52] jpopelka commented on #705
It's been [pushed to prod](https://github.com/openshiftio/saas-analytics/pull/102).
Now somebody from integration stream should verify that the acceptance criteria are met - @jyasveer ?

[2017-09-20 09:55] tisnik commented on #942
@fridex yes, #829 seems to be an Epic for #942 and #943 as well

[2017-09-20 10:01] #334 closed

[2017-09-20 10:03] maxandersen opened #955 "keep getting routed back to "Connected accounts" page"
when i log in on openshift.io (user: manderse@redhat.com) I keep getting asked to connect accounts:

<img width="854" alt="getting_started_-_openshift_io" src="https://user-images.githubusercontent.com/54129/30638215-8dc86ee4-9df2-11e7-942a-1c2428850346.png">

i tried mulitple ways to connect accounts when I click "Connect Accounts" button it just comes back.

[2017-09-20 10:10] jpopelka commented on #848
@tisnik can you verify that this has been fixed ?

[2017-09-20 10:10] jpopelka commented on #847
@tisnik can you verify that this has been fixed ?

[2017-09-20 10:12] pkajaba opened #956 "[3][firehose-fetcher] Service is keep restarting in stage/production"
There seems to be a problem with liveness probe in firehose-fetcher service. Because of this container keeps restarting.

There was PR created to ease problems with liveness problem (https://github.com/fabric8-analytics/fabric8-analytics-firehose-fetcher/pull/19), but it's not guaranteed that it will really fix this issue so a goal of this task would be to investigate the root cause of it.

[2017-09-20 10:17] jpopelka commented on #689
@pkajaba haven't we had some document from a spike around Gradle ?

[2017-09-20 10:19] rawlingsj commented on #947
The reason CI passes is because CI (https://github.com/fabric8-ui/ngx-widgets/blob/master/release.groovy#L4) doesn't run the `npm run build` that the CD pipeline run https://github.com/fabric8-ui/ngx-widgets/blob/master/release.groovy#L21

I don't know this library or particularly familiar with node but will try and help when I get a chance.

[2017-09-20 10:20] jstrachan opened #957 "fabric8-ui About page includes OpenShift.IO branding when running on minishift"
we've fabric8 branding for the home page but we also need it on the About page too

[2017-09-20 10:35] arunkumars08 opened #958 "[3] Incorporate Feedback Comments in UI for both Independent Portal and OSIO Stack report"
- [ ] Incorporate feedback based on the last demo.
- [ ] Handle other UX related changes.

[2017-09-20 10:36] tuxdna commented on #686
If we just follow a package name to be `github.com/golang/protobuf/proto` and version to be `1.0`, we can query the analyses API like below:

  * http://localhost:32000/api/v1/component-analyses/golang/github.com/golang/protobuf/proto/1.0

In this scenario, the analyses API fails to accept this package analyses:

[code]

The reason of failure being that, package name shouldn't contain slashes.

[2017-09-20 10:48] arunkumars08 opened #959 "3 Scale Gateway - Setting up and consuming"
## Description
This task will provide a layer/API to set up basic things necessary to have a 3 scale configuration ready.

## How
We currently segregate based on every unique organization. For every org., there will be a new 3 scale infrastructure setup and route created.

## Usage
Based on the JWT auth token, we identify the organization. Using that, we register in the case where the org is not a

[2017-09-20 11:01] pkajaba commented on #689
https://drive.google.com/open?id=1TLze74pitjyN5iAZAxijZcLgS7s-zHbL-SYX0GcUCK4 @jpopelka

[2017-09-20 11:03] michaelkleinhenz commented on #409
Can not reproduce this. Looks like outdated.

[2017-09-20 11:03] #409 closed

[2017-09-20 11:05] michaelkleinhenz commented on #273
Dupe of #325.

[2017-09-20 11:05] #273 closed

[2017-09-20 11:05] michaelkleinhenz commented on #272
Can not reproduce this. May be outdated.

[2017-09-20 11:05] #272 closed

[2017-09-20 11:07] michaelkleinhenz commented on #315
Already fixed. Was incorrect usage of id vs issue number.

[2017-09-20 11:07] #315 closed

[2017-09-20 11:08] michaelkleinhenz commented on #271
The quick preview is supposed to stay open because the user should be able to select a different WI.

[2017-09-20 11:08] #271 closed

[2017-09-20 11:09] michaelkleinhenz commented on #269
Done. Behaviour was changed in recent versions.

[2017-09-20 11:09] #269 closed

[2017-09-20 11:12] michaelkleinhenz commented on #256
Dupe of #325. Will be in current sprint.

[2017-09-20 11:12] #256 closed

[2017-09-20 11:12] michaelkleinhenz commented on #255
Done in recent Sprints.

[2017-09-20 11:12] #255 closed

[2017-09-20 11:13] michaelkleinhenz commented on #254
Done in recent sprints.

[2017-09-20 11:13] #254 closed

[2017-09-20 11:13] michaelkleinhenz commented on #235
Not a Planner issue imo.

[2017-09-20 11:17] michaelkleinhenz opened #960 "Quick Preview: Display the complete issue description"
The quick preview should always display the full title as long as it stays withing reasonable bounds (currently, it is way too short).

[2017-09-20 11:20] michaelkleinhenz opened #961 "Quick Preview: Markdown components is rendering elements outside of its area"
![](https://user-images.githubusercontent.com/1636769/30269182-501fe57e-96e8-11e7-9e3f-698e8a815e7b.png)

[2017-09-20 11:21] michaelkleinhenz opened #962 "Quick Preview: Comments are disappearing once collapse"
There is a bug in the layout, when the user is collapsing the comments of the WI. It is not possible to show them again.

![](https://user-images.githubusercontent.com/1636769/30269008-d23d9df4-96e7-11e7-98c8-116a9576f905.gif)

[2017-09-20 11:22] michaelkleinhenz commented on #790
Created individual issues #962 #961 #960.

[2017-09-20 11:22] #790 closed

[2017-09-20 11:23] michaelkleinhenz opened #963 "Detail View: Layout needs to be improved"
There is a lot to improve on the general layout there: the description field needs to be larger, the comments area needs to be larger etc.

![](https://user-images.githubusercontent.com/1636769/30220809-3b307170-94c1-11e7-8a7b-f311d6801d06.png)

[2017-09-20 11:25] michaelkleinhenz opened #964 "Text fields and textareas are inconsistent in behaviour"
We have many different ways to let the user confirming the edition of fields. We need to make those consistent.
- cancel on the left in default color
- confirm on the right in primary color

### Edition should not require to click on the "pen" icon
When the user wants to edit a field, he needs to go on the "pen" icon. The interaction on this is not really easy to understand - especially because th

[2017-09-20 11:25] michaelkleinhenz commented on #785
Created individual issues: #964 and #963

[2017-09-20 11:25] #785 closed

[2017-09-20 11:26] michaelkleinhenz commented on #964
Note comment by @catrobson on original issue:

Save button should only be enabled when valid field input has been achieved. Using primary button (blue) in this situation is probably overkill since the user's focus is already on the field since they chose to edit it. The save should also go first, before the cancel. Agree this needs to be applied consistently.

[2017-09-20 11:41] michaelkleinhenz commented on #325
Comment from @slemeur

# Goals
This issue is listing few improvements and tweaks that we should do in order to cleanup the list of WI.

# Quick Fixes

## Positions, sizes and alignements

<img width="1088" alt="screen_shot_2017-09-11_at_10_13_26" src="https://user-images.githubusercontent.com/1636769/30265663-1659d42c-96dd-11e7-8a34-d1ee43002e44.png">
- [ ] Add more padding between the `>` arrow a

[2017-09-20 11:41] michaelkleinhenz commented on #789
Issues copied to #325

[2017-09-20 11:41] #789 closed

[2017-09-20 11:46] michaelkleinhenz commented on #802
Dupe of #778.

[2017-09-20 11:46] #802 closed

[2017-09-20 11:51] joshuawilson commented on #353
Closing to track issues individually.
cc @corinnekrych

[2017-09-20 11:51] #353 closed

[2017-09-20 12:06] #682 closed

[2017-09-20 12:18] rgarg1 opened #965 "Board View: Horizontal scroll bar missing"
However, can scroll using left and right keys. https://drive.google.com/open?id=0BwLIZeed5jyKa1B0YWMxbWNMVUk

[2017-09-20 12:24] corinnekrych opened #966 "Rework Application Wizard to align with Launchpad Wizard for the UI"
# Description
Atm we have 3 wizards [patternfly-ng](https://github.com/patternfly/patternfly-ng), [launchpad](https://github.com/openshiftio/launchpad-frontend/blob/master/src/app/wizard/wizard.component.ts), [fabric8](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/wizard/space-wizard.component.ts). The goal is to aligned them all for better maintenance and performance.

Follow

[2017-09-20 12:27] rgarg1 commented on #272
Largely fixed, however some overlap still remains.
![overlap in ui](https://user-images.githubusercontent.com/28748448/30643555-1711b68a-9e2d-11e7-94a3-3606baf8db24.png)

[2017-09-20 12:32] rgarg1 opened #967 "Work Items in unassigned state not returned in filter query"
The following query returns no data on UI, even when there are several Bugs in Unassigned state: https://openshift.io/openshiftio/openshiftio/plan?workitemtype=Bug&assignee=Unassigned

The back end return [] for the query: filter[expression]={"$AND":[{"assignee":{"$EQ":"none"}},{"space":{"$EQ":"020f756e-b51a-4b43-b113-45cec16b9ce9"}}]}

Update: Backend was fixed, however the change in UI from none

[2017-09-20 12:34] rgarg1 commented on #967
Backend fix: https://github.com/fabric8-services/fabric8-wit/pull/1596

[2017-09-20 12:37] rgarg1 opened #968 "Work Item Title Text is showing special characters in encoded form"
WI title, if contains a special character like " ' ", the display string post save shows up in escaped from, making it very user unfriendly.

https://drive.google.com/open?id=0BwLIZeed5jyKVU91c1NWcWdXc1U

Escaping the strings is necessary, but the system should not reflect back the string in escaped from to the user.

[2017-09-20 12:40] rgarg1 opened #969 "Usability: Mouse hover a WI icon should display its type as tool tip"
Its difficult for a user to remember all the icons. The tool tip would give him a quick reference anywhere on any page.

Also, we should figure out a way to educate users on the meaning of various WITs.

[2017-09-20 12:42] rgarg1 opened #970 "External URLs open in same browser tab"
All external URLs in the WI description field open is the same tab, disrupting the user context. They should open in a new tab. Internal OSIO URLs can open in the same tab.

Test it here: https://www.redhat.com/en

[2017-09-20 12:47] rgarg1 opened #971 "Sidebar: Iteration Kebab Menu remains open"
The kebab menu for iterations remain open even after the focus is moved to other part of the page. Its possible to make multiple kebab menus to remain open at a time.

[2017-09-20 12:47] fridex opened #972 "Spike around Maven ecosystem"
# Description

We used to use `Anitya` for getting latest versions and release feed for `Maven`. However, release feed has never really worked since we are using `maven-index-checker`. It's too heavy for Anitya pipeline since Anytia is designed for curling lightweight ecosystem endpoints.

**GOAL**: of this spike is to determine whether a) we should fix integration with `Anytia` b) Implement stand

[2017-09-20 12:48] rgarg1 commented on #971
![iter kebab remains open](https://user-images.githubusercontent.com/28748448/30644449-0b4a3a18-9e30-11e7-8471-fc3294f07445.png)

[2017-09-20 12:48] fridex commented on #972
@pkajaba please fill the task

[2017-09-20 12:59] sara-02 opened #973 "Accounting for weighted dependency set for PGM training"
### Description
Currently all GitHub stacks used for training the model have same weight-age. i.e the model treats all stacks to be equally popular and used. But if there a very popular GitHub stack, then we need to assign it more weight-age to account for its popularity and usage.

#### Acceptance Criteria
Need to train PGM model to account for weight-age and check the results against the quick s

[2017-09-20 13:06] GeorgeActon commented on #734
@GeetikaBatra use the labels provided. Do not add WIP in the title use the status/in-progress label

[2017-09-20 13:20] sara-02 opened #974 "Enable Unit testing for components of analytics platform."
### Description
Currently, the unit test are present under the folder of each component, but and not included in the CI testing.

#### Acceptance Criteria:
Have unit tests enabled in the CI.

#### Todo:
- [x] Add a repository wide test folder.
- [x] Add the unit tests to the CI for the repository.
- [x] Rename the tests to reflect the component it is testing.

[2017-09-20 13:27] michaelkleinhenz commented on #680
Note: we're currently working with Todd on a redesign of the board view. There is a WIP document here: https://docs.google.com/document/d/1VzcxKV5EVhBcVS_OvUj9oXfuKdK_tVL8SINSJbFIOCQ/edit#heading=h.68nstgzglraa

[2017-09-20 13:29] michaelkleinhenz commented on #803
Note: this is being addressed by a community project called "scrumola".

[2017-09-20 13:30] michaelkleinhenz commented on #330
There is a document from Todd that describes a redesign of the board view.
https://docs.google.com/document/d/1VzcxKV5EVhBcVS_OvUj9oXfuKdK_tVL8SINSJbFIOCQ/edit#heading=h.68nstgzglraa

[2017-09-20 13:33] michaelkleinhenz commented on #680
For backlog cleanup, I am closing this issue and copy over the comments to #330 which is the story dealing with the update to the board view.

[2017-09-20 13:33] #680 closed

[2017-09-20 13:34] michaelkleinhenz commented on #330
We had some good feedback from a community member who suggested that it would be helpful to have (an optional) Review stage that would sit between In Progress and Complete.
@bmicklea

 organizations which are using a gitflow and pull request paradigm this provides important visibility, plus (at some point) we could theoretically automate the movement of a work item to that stage based on the creat

[2017-09-20 13:34] michaelkleinhenz commented on #330
@qodfathr

These are all valid models, and we are looking to unify them. So, yes, on the roadmap, but lots of work to be done to clarify what this will look like. We'll be looking at this deeper in a couple of months.

[2017-09-20 13:36] michaelkleinhenz commented on #257
Note #804 deals with tooltips for the same problem.

[2017-09-20 13:37] michaelkleinhenz commented on #364
Not reproducible. Looks like outdated. Works now.

[2017-09-20 13:37] #364 closed

[2017-09-20 13:38] michaelkleinhenz commented on #367
This will be adressed in the board revamp with #330

[2017-09-20 13:38] #367 closed

[2017-09-20 13:39] michaelkleinhenz commented on #493
This will be addressed with #265

[2017-09-20 13:39] #493 closed

[2017-09-20 13:40] michaelkleinhenz commented on #551
This will be addressed with #330.

[2017-09-20 13:40] #551 closed

[2017-09-20 13:43] michaelkleinhenz commented on #553
The counter is broken as we now have to deal with different WITs that are being displayed.

[2017-09-20 13:44] michaelkleinhenz commented on #661
I am unsure if this should be an issue in the Planner backlog. It is more of a discussion and not a single issue.

[2017-09-20 13:46] jfchevrette commented on #876
FWIW earlier this week I logged on to the console of my che server and a workspace that was starting up. I was able to validate that the network between the pods is working by running curl against eachother's endpoints. The pods were on different nodes, network between pods was working and the workspace still ended up returning the same errors as reported by OP

[2017-09-20 13:46] michaelkleinhenz commented on #970
This is intended behaviour.

[2017-09-20 13:47] michaelkleinhenz commented on #969
Dupe of #804.

[2017-09-20 13:47] #969 closed

[2017-09-20 13:49] jfchevrette commented on #876
The error seem to indicate that it is trying to create a k8s resource that already exists. I have seen this error come up on a freshly created OSIO account, on the second workspace bringup and onward.

[2017-09-20 14:13] kwk commented on #325
@michaelkleinhenz my suggestion would be to have circular gravatar CSS classes. That is in almost all of Sunil's designs right now. @xcoulon pointed out that we should also focus on the first impression rather getting features in. I think I speak for both of us that it's better to have a very polished UI rather than one or two more features.

[2017-09-20 14:44] joshuawilson commented on #661
@michaelkleinhenz does it refer to any other area of OSIO? It looks like it is just the Planner. If so, where would you suggest placing it?

[2017-09-20 14:46] fridex commented on #943
Closing as duplicate of #942.

[2017-09-20 14:46] #943 closed

[2017-09-20 15:05] fridex opened #975 "[3] Finding out reasons on why no tags found for a package"
# Description

Now we tag projects in production. We have a complete list of projects that should be tagged, but some of them could be missing. This work item is about checking which packages were not tagged during the initial tagger run and also find out reasoning why these packages couldn't be tagged (lack of data for tagger?, non-existing packages?). Ideally we would like to also suggest improv

[2017-09-20 15:08] fridex opened #976 "[13] tagger iteration 1 - implement updated logic based on observations"
# Description

Based on our tagging work we should evaluate accuracy of tagging  and check what can be improved in tagger implementation.

Depends on: https://github.com/openshiftio/openshift.io/issues/975 and TBD (Avishkar's work).

# Acceptance criteria

- [x] based on evaluated accuracy check which packages could be tagged in a better way
- [x] suggest and implement improvements in tagging work

[2017-09-20 15:21] catrobson commented on #478
Designs can be found here:  https://redhat.invisionapp.com/share/2BD1C1GQY

[2017-09-20 15:22] corinnekrych opened #977 "Automated API tests for Forge Wizard for Quickstart"
# Description
As a developer, I want to test the Forge API for the [Fabric8 addon](https://github.com/fabric8io/fabric8-generator/).

# Acceptance Criteria
- [x] Test quickstart repository flow step1 ChooseMissionStep / ChooseRuntimeStep with success and error
- [x] Test quickstart repository flow step2 Fabric8ProjectInfoStep with success and error
- [x] Test quickstart repository flow step3 Choos

[2017-09-20 15:22] corinnekrych commented on #664
done

[2017-09-20 15:22] #664 closed

[2017-09-20 15:25] #348 closed

[2017-09-20 15:25] catrobson commented on #477
We have some design ideas being generated around how we show Spaces in a list for users to find the spaces they are looking for:

Listing with activity graphs:
 https://redhat.invisionapp.com/share/6XD26VFZB#/screens/253559792
Listing with activity feeds: https://redhat.invisionapp.com/share/6XD26VFZB#/screens/253371806
Listing with object counts: https://redhat.invisionapp.com/share/6XD26VFZB#/sc

[2017-09-20 15:39] joshuawilson commented on #930
tracking in #477

[2017-09-20 15:39] #930 closed

[2017-09-20 15:39] catrobson opened #978 "Notifications in OSIO"
# Description
As a user of OpenShift.io, I would like to be able to see notifications within the application so I can easily react to them while using the product rather than having to move back to e-mail to see changes happening across the system.

# Acceptance Criteria
- [ ] Notification Drawer is added to OpenShift.io and shows the latest notifications for the overall system as well as specific

[2017-09-20 15:40] bmicklea commented on #477
Adding @qodfathr

[2017-09-20 15:41] catrobson commented on #978
Designs for Notifications Drawer and Full Page: https://redhat.invisionapp.com/d/main#/projects/prototypes/11914584

Note:  Settings need to be resolved across multiple designs happening in UXD.

[2017-09-20 15:41] #909 closed

[2017-09-20 15:43] joshuawilson commented on #897
@jstrachan what is the status on this?

[2017-09-20 15:47] joshuawilson commented on #890
closing as it has not been seen in a while

[2017-09-20 15:47] #890 closed

[2017-09-20 15:54] joshuawilson commented on #560
fixed

[2017-09-20 15:54] #560 closed

[2017-09-20 15:55] jstrachan commented on #897
no idea - is it still an actual issue with the vertx quickstarts?

[2017-09-20 15:56] joshuawilson commented on #171
new marketing page fixes this

[2017-09-20 15:56] #171 closed

[2017-09-20 15:56] ldimaggi commented on #879
879 is still a bug
deleted spaces still appear in the account home page - under recent pages

[2017-09-20 16:10] GeorgeActon commented on #696
@jyasveer why is **Support multiple manifest file** called out separately. It is part of implement code and is identified as part of the acceptance criteria above.

@samuzzal-choudhury since this is a story a short description of what the user experience will look like should be above the acceptance criteria. The first line of the acceptance criteria sounds like part of the experience.

[2017-09-20 16:54] rawlingsj commented on #947
So it's definitely the `npm run build` step that fails in the pipeline and I'm not sure why yet.  If I pause the pipeline after `npm install` and `kubectl exec` into the build pod to manually run `npm run build` it works!  It doesn't seem to be timing as I've tried adding a sleep between the two commands and it also still fails if I run it as one inline command i.e. `npm install && npm run build`

[2017-09-20 17:20] muruGanesan commented on #661
@kwk, @joshuawilson , @catrobson , @michaelkleinhenz

Based on my observation most of the suggestions (point#1-9) fall under 'planner' and Konard summary (point# 1-4) touches the Patten-fly components _`e.g. Don't make all links of the same color. For example work item titles shouldn't be blue but maybe simply black (see directories in Gitlab screenshot)._`.

Since 'Planner' is GUI rich project, w

[2017-09-20 17:33] omajid commented on #679
Just happened to me.

1. I created https://github.com/omajid/HelloWorld2 (I just did https://github.com/omajid/HelloWorld2/commit/cbcb5597a871b2d248393d89e13e1946b6df9cdf, the second commit in repo was added by OpenShift.io)
2. Imported it into a new space on openshift.io (was recognized by wizard as a java stack, not .NET Core, but that is a separate issue). I did not add build hooks.
3. Kicked o

[2017-09-20 18:25] ldimaggi opened #979 ""View last build" pipeline kebab option brings user to page with broken image"
Steps to recreate:
* Select "view last build" from pipeline page:
![screenshot 59](https://user-images.githubusercontent.com/642621/30660599-6da14614-9e0f-11e7-9ce8-63225112189d.png)

* Observe the broken image on the build page:
![screenshot 60](https://user-images.githubusercontent.com/642621/30660616-7d47969a-9e0f-11e7-8387-b5f0e7837da2.png)

[2017-09-20 18:26] ldimaggi opened #980 ""View last build" brings user to a page with a reference to a nonexistent "home" page:"
Steps to recreate:
* Select "view last build" from pipeline page:
![screenshot 59](https://user-images.githubusercontent.com/642621/30660599-6da14614-9e0f-11e7-9ce8-63225112189d.png)

* Select the "home" page link:
![screenshot 62](https://user-images.githubusercontent.com/642621/30660687-b2257e22-9e0f-11e7-97a4-76a54826689e.png)

[2017-09-20 18:46] tisnik commented on #847
I works, TYVM. I'm closing this issue, the regression test (new feature for this project :) will follow tomorrow.

[2017-09-20 18:46] #847 closed

[2017-09-20 18:51] tisnik commented on #848
This feature works as well, TYVM! As I wrote under #847, the regression test for this issue will follow soon.

[2017-09-20 18:51] #848 closed

[2017-09-20 19:24] pombredanne commented on #682
@jpopelka note that as part of the https://github.com/nexB/vulnerablecode (started as a GSoC project and is really in its infancy) I am working on building eventually a comprehensive aggregated data set and feed of package vulnerabilities (and this includes working with buddies from cve-search too for this).

[2017-09-20 19:36] ldimaggi opened #981 ""View test report" pipeline kebab option results in a 404 error"
If a user selects 'View Last Report' from a pipeline kebab:

![screenshot 63](https://user-images.githubusercontent.com/642621/30663576-17ab54a2-9e19-11e7-932a-b9424cbb8b04.png)

The browser attempts to open this page:   https://openshift.io/nulltestReport

This fails and redirects the user to the 404 error page:

![screenshot 64](https://user-images.githubusercontent.com/642621/30663657-5df127c0-

[2017-09-20 19:45] ldimaggi opened #982 "Pipeline kebab - Run:space and Stage:space options are non-functioning"
See screencast: https://www.dropbox.com/s/52arjtji2klh9nj/blinking.webm?dl=0

The user cannot select these options - if the user tries to select either of these options, the text blinks continuously.

[2017-09-20 23:43] SaketJNU opened #983 "[8] Capture Github Statistics for each manifest we collect"
### Description:
Collect Github Statistics for Vertx and Springboot Github Manifest files

#### Acceptance Criteria:
Each Vertx and Springboot manifest files should also capture Github Statistics

##### Task:
- [x] Finalize the json structure.
- [x] Create an parser for extracting github-statistics from repos.
- [x] Integrate the parser with manifest-data collector, so that during dependency snaps

[2017-09-20 23:52] SaketJNU opened #984 "[5] Display Reasoning for recommendations"
# Description:
Provide the reason for each recommendation
## Acceptance criteria
Show simple reasoning behind any recommendations (English Sentence)
## Task
- [ ] Phrase a sentence for recommended companion packages.
- [ ] Phrase a sentence for recommended alternate packages.

### UI Changes
- [ ] UI Changes in the stack report
    - [ ] Implement a tooltip to highlight the recommendation reason

[2017-09-21 00:40] joshuawilson commented on #983
This looks more like a `user-story` then a `task`, it does list tasks.

[2017-09-21 00:40] alexeykazakov commented on #869
@kbsingh yes, we are planning to address it. The corresponding issue on Auth side - https://github.com/fabric8-services/fabric8-auth/issues/38

[2017-09-21 01:50] joshuawilson commented on #869
@alexeykazakov is this a bug with one user or a bug for everyone? If it is just one user then we should move the issue.

[2017-09-21 01:58] joshuawilson commented on #661
My point is that though it is not written as a user story, it is more of a user-story then anything else. Therefore it should go into the Planner backlog.

[2017-09-21 02:01] joshuawilson commented on #947
`npm run build` creates the files that get released, so it can't be skipped. I'll try doing a manual build and release and see if that resets things.

[2017-09-21 02:27] rootAvish opened #985 "[8] PGM to handle unknown packages at the time of training"
## Description

Currently the PGM training works on the assumption that the training data to it and will be passed a package to topic map where all packages have some tags associated with them. The PGM training will fail if this assumption was to fall through in some case. The idea here is to do a short spike and either figure out how to deal with such packages in a better way or have the PGM trai

[2017-09-21 02:43] joshuawilson commented on #897
@ldimaggi can you verify please.

[2017-09-21 02:48] joshuawilson commented on #478
@dgutride is this something you are working on?

[2017-09-21 02:56] joshuawilson commented on #971
cc @michaelkleinhenz

[2017-09-21 03:06] joshuawilson commented on #235
@michaelkleinhenz There is a button on the Error page that links to the Planner to file an issue. If this is not a Planner task/issue, who does it belong to?

[2017-09-21 03:09] joshuawilson commented on #256
Since #325 is the user-story, why not link to this as the task to cover that part of the user-story?

[2017-09-21 03:12] joshuawilson commented on #271
I thought UX had said you should be able to click on the issue in the list that is the open one and it closes it. It even did that for a while.

I also feel like I want to click on the header area to close it. I still do that, but nothing happens and then in frustration have to go find the `x`.

[2017-09-21 04:11] alexeykazakov commented on #869
@joshuawilson it's a very old issue. Sometimes for whatever reason OSO tokens get invalid. We don't know why. OSO team doesn't know either. It happen with different users.
The solution on our side would be to catch such errors (when OSO token is not good anymore) and initiate OSO account linking (see https://github.com/fabric8-services/fabric8-auth/issues/38).

[2017-09-21 04:12] miteshvp commented on #974
@sara02 please re-format the contents as per https://github.com/openshiftio/openshift.io/issues/973

[2017-09-21 04:27] joshuawilson commented on #955
@alexeykazakov can you please look into this and let me know if you need some UI help.

[2017-09-21 04:38] alexeykazakov commented on #955
Cache issue again maybe? I see that manderse@redhat.com has all links set in KC. Not sure why UI doesn't see them.
@maxandersen does it work in incognito mode?

[2017-09-21 04:51] miteshvp commented on #983
@joshuawilson - this is a task and this effects the data collection part to be modified to capture more

[2017-09-21 04:53] joshuawilson commented on #947
I did a manual release and then merged a PR and the build failed again.

[2017-09-21 04:56] joshuawilson commented on #983
Just saying, it looks like a user-story to me. But it is your issue so you can call it what you want. :)

[2017-09-21 05:23] miteshvp opened #986 "Machine Generated Stacks"
### Description:
We want to help developers to generate a stack based on their inputs. There will be different types of Inputs
1. Categories such as Web, UI, Cloud, Security, etc.
2. Ecosystem such as Java (Vertx, Springboot), Python, Node, etc.
3. Manual selection of components based on descriptive data such as Github Statistics, Licenses, Usage Data, etc.

#### Acceptance Criteria:
For selective

[2017-09-21 05:25] sara-02 commented on #974
@miteshvp done.

[2017-09-21 05:27] rootAvish opened #987 "[8] Task Iteration 1 - Tagging related Statistics (Observations, suggest improvements, statistics)"
## Description

With the tagging accuracy report first cut released(see https://github.com/fabric8-analytics/devnull/pull/1) we need to add more metrics to the same to have a more clear picture and take up any possible enhancements to the same so by the end of the sprint we have a more clear picture of where we are with respect to automated tagging.

## Acceptance criteria

Have more metrics surro

[2017-09-21 07:06] pkajaba commented on #986
From what I understand spike is supposed to do some research about the problem and not deliver a complete solution. This seems to be more like epic...

[2017-09-21 07:34] humaton commented on #986
@miteshvp is this spike or user story? Inthe name I read spike and in tasks, I read implementation. So which one is this?

[2017-09-21 07:35] vpavlin commented on #986
@miteshvp Can you elaborate on the goal of this spike? I do not understand what do you expect as the outcome and what are the motivations behind this.

Also I'd suggest to replace start.spring.io with launch.openshift.io as that would make it easy for you to contact it's devs and collaborate (@gastaldi)

[2017-09-21 07:42] miteshvp commented on #986
@pkajaba @humaton @vpavlin - thanks for pointing out, its a user-story. Again, Vasek, thanks for suggestion. Replaced the reference.

[2017-09-21 07:43] adisakala commented on #986
Yes this will be integrated with Andy's team.

[2017-09-21 07:50] vpavlin commented on #986
@miteshvp And could you please elaborate a bit more on the goals, please? I'd suggest you extend the description so that it's understandable even for people who were not on the planning. Right now it sounds to me without any context like you want to reimplement start.spring.io or launch.openshift.io:)

[2017-09-21 08:03] miteshvp commented on #986
@vpavlin - I guess that's pretty much it.

[2017-09-21 08:07] humaton commented on #986
@miteshvp and why would we need/want to reimplement such thing? Should not be better to come up with stack definition and reuse existing boilerplate generators?

[2017-09-21 08:08] zhutaoredhat commented on #785
Hi @slemeur  @joshuawilson  @michaelkleinhenz @catrobson I had ever posted a blog about "inline edit" on PatternFly.
https://blog.patternfly.org/inline-edit-on-forms-conceptual-design/ and here is a demo about it patternfly/patternfly#671.
Now I am working on the task Design: Inline field editing #663. Welcome your feedback~

[2017-09-21 08:10] miteshvp commented on #986
@humaton - Idea is we are trying to build machine generated stacks based on keywords/categories. But this will be part of a bigger user-story/epic that someone else is putting across. Till that time, I will move this back to Analytics Backlog to clear the confusions.

[2017-09-21 08:27] l0rd commented on #882
This should be fixed now. @ldimaggi have you been able to reproduce it recently?

[2017-09-21 08:28] michaelkleinhenz commented on #235
Then this should be a story that describes the req's for this feature, not a bug report. And: the link is not even there anymore.

[2017-09-21 08:32] michaelkleinhenz opened #988 "Work Item List: "Open" in Kebab Menu not working"
Clicking Open does not open the detailed view of the WI as expected, I see just a blank screen.

[2017-09-21 08:34] michaelkleinhenz commented on #951
Splitted up into seperate issues.

[2017-09-21 08:43] l0rd commented on #878
This has been fixed 2 months ago

[2017-09-21 08:56] michaelkleinhenz opened #989 "Sidebar: Drag-and-Drop for Iterations should be disabled"
Currently, you can drag the iteration cells around with funny effects.

[2017-09-21 08:57] michaelkleinhenz opened #990 "Sidebar: Current Iteration should use a pointer as cursor"
Currently it is set to edit-cursor.

[2017-09-21 08:59] michaelkleinhenz opened #991 "Sidebar: Expand Caret too high in position"
The expand caret is too high in the line position:
![bildschirmfoto von 2017-09-21 10-58-14](https://user-images.githubusercontent.com/7101098/30687570-f39f81a2-9ebb-11e7-806c-9079dd143564.png)

[2017-09-21 09:01] michaelkleinhenz opened #992 "Sidebar: "Portfolio", "Requirements" and Current Iteration have no hover highlight"
..while "All" and the iterations have it.

[2017-09-21 09:02] michaelkleinhenz opened #993 "Sidebar: "Delete Iteration" should be possible"
Currently, we can not delete an iteration.

[2017-09-21 09:14] ppitonak opened #994 "No scroller in Pipelines view"
1. create two projects in one space
2. navigate to Pipelines view (something like https://openshift.io/username/spacename/create/pipelines)

result:
There is no scroller so it's impossible to see the second pipeline on smaller screen/in small browser window.

![osio_pipelines_scroller](https://user-images.githubusercontent.com/445100/30688276-003dc11a-9ebe-11e7-9855-e919b69cd101.png)

[2017-09-21 10:00] miteshvp opened #995 "[User-story] Backend for Machine Generated Stacks"
To be filled

[2017-09-21 10:01] miteshvp opened #996 "[User-story] - Curate data for machine generated stacks"
To be filled

Subtasks:
- [x] [Generate component-categories mapping for springboot components from start.spring.io](https://github.com/openshiftio/openshift.io/issues/1009)
- [x] [Generate component-categories mapping for vertx components from vertx.io](https://github.com/openshiftio/openshift.io/issues/1010)
- [x] [Generate a list of common categories](https://github.com/openshiftio/openshift.io

[2017-09-21 10:26] #781 closed

[2017-09-21 10:35] #780 closed

[2017-09-21 10:36] miteshvp commented on #747
moving back to Analtyics backlog. Will pick up this task as part of sprint 139 based on resource availability

[2017-09-21 11:23] arunkumars08 opened #997 "POC - Handling UI Logic for logging of UI Incidents"
## Description

This sub task will create necessary things needed from the UI layer to identify and report to backend

## Why

This could, in a way, help us identify the issues if any from the frontend that are gone unnoticed.

## How

Although, we can't track all of the incidents as javascript is single threaded, we might use this feature to target the one's applicable.

Handle from the UI and hi

[2017-09-21 11:27] arunkumars08 opened #998 "POC - Handling API Logic for logging of UI Incidents"
## Description

This sub task will store the information received from the UI layer in regards to error logging and store in some space.

## Why

This could, in a way, help us identify the issues if any from the frontend that are gone unnoticed.

## How

As we get the model from the UI layer, to begin with we can store that in a flat file just to track the progress and eventually move it to S3 buc

[2017-09-21 12:13] ldimaggi commented on #882
We can close this issue - it is no longer being seen.

[2017-09-21 12:13] #882 closed

[2017-09-21 12:14] ldimaggi commented on #878
Closing - no longer a problem.

[2017-09-21 12:14] #878 closed

[2017-09-21 12:29] ldimaggi commented on #897
Closing - this issue has not been seen for months.

[2017-09-21 12:29] #897 closed

[2017-09-21 12:42] joshuawilson commented on #998
This is a duplicate of https://github.com/openshiftio/openshift.io/issues/863
If you have time to work on it let me know and we can plan it.

[2017-09-21 12:45] ldimaggi opened #999 "Recurring/intermittent issue - pipeline is not created - no pipeline information is shown to user"
See attached screenshot and Jenkins log - after a new quickstart is created - a pipeline is not created for the project.

Steps to recreate:
* Reset user environment
* Create new space
* Create new quickstart project

[2017-09-21 12:46] ldimaggi commented on #999
[jenkins-1-log.txt](https://github.com/openshiftio/openshift.io/files/1321161/jenkins-1-log.txt)
![194_testsep211505990189712_pipeline_promote_fail](https://user-images.githubusercontent.com/642621/30696338-4a86c772-9ea9-11e7-8d0d-a16371692440.png)

[2017-09-21 12:46] jstrachan commented on #999
is there a BuildConfig created in your namespace? if so could you do `oc export bc` and attach it please?

[2017-09-21 12:46] ldimaggi commented on #999
The EE test found this bug - screenshot is here:
http://artifacts.ci.centos.org/devtools/e2e/194_testsep211505990189712_pipeline_promote_fail.png

[2017-09-21 12:47] jstrachan commented on #999
it'd be nice if the E2E tests exported BC / Build along with `oc get deploy -n $(ID)-stage; oc get pod -n $(ID)-stage` etc to help diagnose issues

[2017-09-21 12:49] ldimaggi commented on #999
[code]

[2017-09-21 12:51] ldimaggi commented on #999
oc get deploy -n ldimaggi-osiotest1-stage
No resources found.

oc get pod -n ldimaggi-osiotest1-stage
No resources found.

[2017-09-21 13:03] jstrachan commented on #999
that pipeline that was created is from another test right? `testsep211505997897684` is different to the one in the screenshot

[2017-09-21 13:09] joshuawilson commented on #235
@michaelkleinhenz I'll leave it to you to change it or reference a user-story.

[2017-09-21 13:17] sara-02 commented on #749
@miteshvp As per our current logic we will not be needing this. I am closing this issue. We can reopen it if the need arises.

[2017-09-21 13:17] #749 closed

[2017-09-21 13:23] sara-02 commented on #973
@miteshvp Just repeating the dependencies in the `manifest.json` will explode the JSON. We can look at improving the co-occurrence matrix to account for the weights instead. Changing at the manifest level will be the last resort.

[2017-09-21 13:30] arunkumars08 commented on #998
@joshuawilson Sure Joshua. I will update you on this. We have taken this as a stretch goal. Thanks

[2017-09-21 13:30] kbsingh opened #1000 "[WIP] missing rolebindings for user"
a user project is missing rolebindings, maybe due to a tenant call faliing untrapped at the point of account creation. The user is then presented with a message "You do not have access to Openshift Online." on login.

cc: @pbergene

[2017-09-21 13:39] rawlingsj commented on #947
After spending 4 hours resorting to basic investigation on a project I have no idea about, npm plugins I've not used before and an unfamiliar build process I have a fix in place https://github.com/fabric8-ui/ngx-widgets/pull/97.

Also I have to say adding a label of `severity/blocker` when you have a manual work around is incorrect.  Please let's not abuse the use of this label.

Also just because

[2017-09-21 13:54] joshuawilson commented on #947
I've change the severity from blocker to P1, since as you say we have a manual work around.

I have done all that I know to fix this issue, that is why I raised it. I agree that building the modules should not be the CI/CD team's responsibility. It sounds like you are saying we should shift all the builds back to @kbsingh and his team to run con centos.ci so they can support it.

I think the CI/CD

[2017-09-21 13:58] rawlingsj commented on #947
No I did not say anything like that :) I'm saying someone (you) other than the build team (me) could have done exactly what I did.  I have no knowledge of this repo so it took me a few hours, but I think you could have tried breaking down the npm steps as I did and you'd have found the same issue + resolution as me :)

[2017-09-21 14:26] ldimaggi commented on #999
Sorry - wrong screenshot - the same problem was seen by multiple test runs last night.

[2017-09-21 14:53] samuzzal-choudhury commented on #796
@jyasveer after a discussion with @GeorgeActon , subtasks are not supposed to be estimated as we have already estimated the user story.

[2017-09-21 15:01] catrobson commented on #970
+1 that URLs external to OSIO should open in a new tab.  @michaelkleinhenz - Where was this noted as intended behavior?

[2017-09-21 15:04] samuzzal-choudhury commented on #997
@arunkumars08 @joshuawilson This work was scoped for logging only the recommender UI exceptions/incidents ATM.

[2017-09-21 15:06] samuzzal-choudhury commented on #998
@arunkumars08 @joshuawilson This work was scoped for logging only the recommender UI exceptions/incidents ATM

[2017-09-21 15:11] joshuawilson commented on #998
This type of thing should be done at a broader level. All of the UI needs it. If it is done for one, all benefit.

If you don't have the time, then wait. If you do have the time then we should work through the architecture and concerns.

[2017-09-21 16:13] jpopelka commented on #850
I began to look at this and I must admit I don't understand what's the issue.

As far as I understand it:
When you post a request to `/stack-analyses` it returns success & ID and asynchronously starts `stackApiGraphFlow`, which runs `GraphAggregatorTask`, which processes the manifest files.
When you then access `/stack-analyses/<external_request_id>`, we check result of `GraphAggregatorTask` and w

[2017-09-21 16:18] samuzzal-choudhury commented on #998
@joshuawilson I was not aware that the platform team is already taking a lead on this. I totally agree to your point that the work should benefit all.

@GeorgeActon @krishnapaparaju, I added the user story (as a stretch goal) https://github.com/openshiftio/openshift.io/issues/754 address logging of recommender UI incidents in the server and was scoped accordingly.

But, apparently we are looking a

[2017-09-21 16:19] jeffmaury commented on #466
This is an absolute requirement because the current solution, based on the JSON transmitted as an URL parameter, is a blocker for the Eclipse / Windows implementation because Windows navigators (IE/Edge) limit the length of the URL that is displayed in the URL bar and the API we use in Eclipse is based on this.

[2017-09-21 16:20] ALRubinger commented on #986
@all We in RHOAR are looking at working with this with you, coordinated through @maxandersen.  It amounts to a feature enhancement on the Getting Started experience we're building together that's now more restricted in Launch.  Let's raise at the next integration team meeting to move forward; Max will coordinate for the DevTools side.

[2017-09-21 16:20] ALRubinger commented on #986
FYI @quintesse @gastaldi @edewit

[2017-09-21 16:20] joshuawilson commented on #998
If you do get some bandwidth for this, ping me and we can collaborate on it.

[2017-09-21 16:29] samuzzal-choudhury commented on #614
[This is the related issue](https://github.com/openshiftio/openshift.io/issues/466) which the DevStudio team is working on.

[2017-09-21 16:30] GeorgeActon commented on #986
Agreed. This is a discussion and awareness only at the moment. We need the broader business vision and PM engagement before we can go further than that.

[2017-09-21 16:31] samuzzal-choudhury commented on #466
@joshuawilson we can collaborate to create the contents of the landing page if you could create a blank page. cc: @jeffmaury  @invincibleJai

@jeffmaury do you have a UX in mind for that page?

[2017-09-21 16:48] joshuawilson commented on #466
@samuzzal-choudhury I get the idea this is more of an API type of call. He said we can just use JSON.

[2017-09-21 16:52] jeffmaury commented on #466
To be honest, I plan to close the browser as soon as I enter this page so UX design is not that relevant for me.
Maybe copy what's OpenShift does for OAuth login but with well defined ids and div to retrieve the info through DOM parsing

[2017-09-21 16:55] alexeykazakov commented on #955
@joshuawilson I could reproduce this issue. The problem is in UI requests to KC. It doesn't add the access token:
`Authorization:Bearer undefined`
So, it's rejected by KC.
I couldn't reproduce it in incognito mode. So, looks like some issue with cache again?

[2017-09-21 17:06] invincibleJai commented on #466
I agree but it would be good to have some basic view in place where user can see the refresh token as we show access token under profile tab in OSIO

[2017-09-21 17:15] maxandersen commented on #244
The issue is OpenShift don't have aggregated logging we can use.

And about Che the logs are in there if you have access to do `oc log` on the specific pod - but we don't have individual access to the users tenant pods.

[2017-09-21 17:23] jeffmaury commented on #466
Another argument for the landing page: on Linux; I tested with Firefox embedded in Eclipse and the last URL (/api/status) is not processed by Firefox so user is being asked to save (cause of the content type and the callback I expect is not being called in the UI Browser Eclipse framework

[2017-09-21 17:28] jeffmaury commented on #466
![image](https://user-images.githubusercontent.com/695993/30709562-f9544974-9f02-11e7-8201-f5af373275b2.png)

Example of OpenShift display after OAuth login

[2017-09-21 17:29] alexeykazakov opened #1001 "Can't see any space if username contains "+""
If username contains some characters that have to be encoded to be used in URL then UI is just failing apart.
For example if username is something like username+1@gmail.com then you can't even see the user's spaces. Profile page fails too. Some old accounts can have + in gmail usernames. Plus new users may have username+N@redhat.com too.
The problem is that UI doesn't encode usernames when calling

[2017-09-21 17:29] joshuawilson commented on #466
I think for now we can just copy that.

[2017-09-21 18:27] jeffmaury commented on #466
OK but we need all fields not a single one:

- access token
- refresh token
- access token expires in
- refresh token expires in

[2017-09-21 18:38] alexeykazakov commented on #466
The only thing you really need is the refresh token. You can use the refresh token to get a new access token. And expiry are encoded in tokens too.

[2017-09-21 18:40] alexeykazakov commented on #466
And btw, the OSIO tokens will be much bigger than in OSO. Some nice "copy" button on that page would help.

[2017-09-21 19:01] samuzzal-choudhury opened #1002 "[8]UI and API for crowdsourcing of software component intent"
#### Description:
As an OSIO analytics user, I would like to add a valid intent for a component to the existing list of intents in the stack report so that the component gets categorized properly.

#### Note: This user story is derived from Epic https://github.com/openshiftio/openshift.io/issues/744.

#### Acceptance Criteria
*  The stack reports UI provides the means to enter a new intent to the

[2017-09-21 19:09] jfchevrette commented on #244
We now have each tenant's openshift events and pod logs pulled out of the cluster and sent to our production Kibana instance. This is currently running on a 5 minutes timer.

che-server's pod STDOUT logs are visible there

However from what I can see, the workspace logs are sent to a file as opposed to STDOUT.

[2017-09-21 19:39] joshuawilson commented on #466
Why not get the token from local storage?

You can use this code in any browser console `localStorage.getItem('refresh_token');`

[2017-09-21 19:54] jeffmaury commented on #466
Don't we need the access token @alexeykazakov ?

[2017-09-21 20:18] alexeykazakov commented on #466
You need an access token to use it against our API. But you can get it via refresh token. We have already discussed it a few times, right? :)
http://swagger.goa.design/?url=github.com%2Ffabric8-services%2Ffabric8-auth%2Fdesign#!/token/token_refresh

And as far as I remember it's possible to run a JavaScript snippet in the browser from Eclipse. If so, then you could use `localStorage.getItem('refre

[2017-09-21 20:28] jeffmaury commented on #466
We just logged in so sourds natural to get the access token to use osio services rather than making another round trip.
Parsing the dom would be much easier than dealing with Javascript and we want to manage several osio accounts per ide install

[2017-09-21 20:32] joshuawilson commented on #466
I don't really like the idea of adding an extra page just for this. I'm just feels like a hack.

[2017-09-21 20:34] jeffmaury commented on #466
Maybe but the curent solution does not work for all use cases

[2017-09-21 21:39] maxandersen commented on #986
as others asked i'm curious to what the output of this would actually be ? a list of dependencies ? and what would its use be ?

[2017-09-21 21:43] maxandersen commented on #955
i tried again just now and it showed the connect accounts page for a few seconds before it automatically moved on (!?!?!) and now it works.

didn't do anything besides NOT using te browser to goto openshfit.ui the last 24hrs or so...

[2017-09-21 21:52] alexeykazakov commented on #955
I still can reproduce this issue. There is no token in local storage (if I'm looking at right place). I tried localStorage.getItem('access_token'); Null. But I'm logged in. Something wrong on UI side.

[2017-09-21 23:02] alexeykazakov commented on #955
I see that UI tries to refresh the token and sending some old refresh token with an inactive session. It means that that refresh token was issued in previous login. After logout the token is not valid anymore and should not be used. UI for some reason still using it and refreshes fails. I suspect in this case UI just save null as a new refresh and access token which cause the OSO/GitHub token api

[2017-09-21 23:10] alexeykazakov commented on #955
Went through the whole cycle. Login-logout-login again. And I can confirm that UI doesn't update the tokens after re-login. Still using the old ones, which are not valid anymore!

[2017-09-21 23:15] alexeykazakov commented on #1001
Removed auth area because it's not really auth. There is nothing wrong with the username. It's matter of correct using of usernames in URLs.

[2017-09-22 00:36] pombredanne commented on #682
@jpopelka Thanks ++ I can see the doc now. Nicely done research!

[2017-09-22 06:27] samuzzal-choudhury commented on #466
@jeffmaury @alexeykazakov  @joshuawilson @invincibleJai

Just to be on the same page:

1.  The landing page provides a refresh token which is going to be used within the IDE either by reading the DOM or by running JS `localStorage.getItem('refresh_token');` from Eclipse. We do not know the mechanism to be used in VSCode currently.

2.  The refresh token will be used to generate the access token fo

[2017-09-22 09:27] SMahil commented on #991
@Michael This has been fixed in below PR
https://github.com/fabric8-ui/fabric8-planner/pull/2152

[2017-09-22 09:40] tisnik opened #1003 "Source code style improvement: do not use bare except in the fabric8-analytics-jobs repository"
The Python linter found the following errors in the source code that need to be fixed:

[code]

Blocks #942

[2017-09-22 09:43] SaketJNU commented on #983
A PR https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/351 related to 2, 3, and 4th tasks from top is opened. Once it will get approved, one more PR is required for the last task in order to complete this issue.

[2017-09-22 09:51] tisnik opened #1004 "Source code style improvement: do not use bare except in the fabric8-analytics-data-model repository"
The Python linter found the following errors in the source code that need to be fixed:

[code]

Blocks #942

[2017-09-22 10:02] kbsingh commented on #244
We should circle back with the team supporting Che, based on the conversations over the last few months, the original scope defined here might not be accurate anymore. We should figure out what the problem is that were trying to solve, how its being addressed at the moment and what pieces of data remain missing.  From my understanding, we're all good on all of the above.

Also, my understanding is

[2017-09-22 11:32] jyasveer commented on #796
I am facing a bug where on PR build is not triggering. have raised a bug here :-https://bugs.centos.org/view.php?id=13889

[2017-09-22 11:59] arunkumars08 opened #1005 "POC - Machine Generated Stacks"
## Description
Ability to give the user to generate his own stack based on the intent he/she has.

## Initial use case

To give him/her a predefined set of options, say

1. ecosystem (**maven**, node, python)
2. Frameworks (depends on selection of ecosystem)
3. Versions of those

They can go ahead and select the required ones and give some more additional information like the
1. project name
2. de

[2017-09-22 12:02] GeetikaBatra commented on #697
This user story is on hold until token mechanism is implemented by Jeff.

[2017-09-22 12:32] samuzzal-choudhury commented on #784
This story was moved to "Analytics Backlog" as the user story https://github.com/openshiftio/openshift.io/issues/1002 has got a higher priority.

[2017-09-22 13:51] rawlingsj commented on #947
PR merged and build is working.

[2017-09-22 13:51] #947 closed

[2017-09-22 14:42] jstrachan commented on #999
so when this issue happened was there a BuildConfig for the space being tested? If so thats sounding like a UI bug to not show it

[2017-09-22 15:18] alexeykazakov commented on #466
@samuzzal-choudhury looks good. Here are the refresh token API (https://auth.openshift.io/api/token/refresh) details btw - http://swagger.goa.design/?url=github.com%2Ffabric8-services%2Ffabric8-auth%2Fdesign#!/token/token_refresh

Regarding refreshing tokens.. I recommend refresh tokens once in 24 hours. No really need to do it more often and it will guarantee if user start the IDE at least once i

[2017-09-22 16:41] michaelkleinhenz commented on #970
We had a discussion in the team before and the argument was that as a developer, I want to have complete control over where a link is opening - this is a crucial thing of my workflow. When it is a "normal" link, I have this control. If the system designates it to open in a new window, then this control is taken away from me.

*But* we discussed it again in today's daily and Pranav has given anothe

[2017-09-22 17:06] joshuawilson commented on #970
Additionally, this is in reference to external links. I think the common paradigm is that external links open in a new tab and internal links don't. That helps to keep the flow intact not just the state.

[2017-09-22 19:03] ldimaggi commented on #999
Actually - I think that the confusion is related to my attaching the wrong files.   ;-)

Each test starts with a new/empty space and performs all of its actions within that space. Thx!

[2017-09-23 00:42] rafabene commented on #765
It is now appearing.

[2017-09-23 00:42] #765 closed

[2017-09-24 21:59] GeetikaBatra opened #1007 "[3]Bug Fixing in Devstudio."
5 crucial bugs need to be fixed.

- [x] Remove 'server' directory from git repo .https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/34

- [x] Use Eclipse's jobs instead of own treads https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/29

- [x] Remove fabric8-analytics-lsp-server-test-devstudio from git repo  hhttps://github.com/fabric8-analyt

[2017-09-25 05:05] muruGanesan commented on #744
I will look at this backlog from UX perceptive - if required.

[2017-09-25 07:09] jstrachan commented on #888
@joshuawilson is the main issue that we need to consolidate version change PRs together?

I guess there's

1.  reusing PRs for subsequent releases. e.g. if component A releases 1.0.1 and then 1.0.2 then the latter should cancel the first PR and recreate another one - so that there's only one PR for release A of 1.0.2
2. combining version change PRs into a single PR (e.g. if component A and compone

[2017-09-25 07:34] sdash-redhat commented on #267
Here is a highlevel guideline on how much text we should display before we show ellipses (...) Slide -4 at . https://redhat.invisionapp.com/share/23CC7R3QZ

[2017-09-25 07:36] sdash-redhat commented on #267
Some more guidelines also are on slide 6 :

https://redhat.invisionapp.com/share/23CC7R3QZ#/screens/235814948

[2017-09-25 07:40] sdash-redhat commented on #268
Any popup box, combo box flyout, info-tip , popover (without close icon too), should be closed as a general rule -
1. when clicking outside the box..
2. Also pressing ESC key on keyboard.
-------
In case of Modals, pressing ESC key on keyboard should also close it apart from clicking on X icon.

[2017-09-25 07:54] jyasveer opened #1008 "Task: Incorporate the new license data in the recommender UI"
1. Update the recommender portal in the OSIO with the new license data.
2. Update the independent operations portal with the new license data.

Below is the new json structure for license data :-
[code]

[2017-09-25 08:23] rawlingsj commented on #888
Yeah, this currently happens in the pipeline today https://github.com/fabric8io/fabric8-pipeline-library/blob/master/vars/npmUpdateOrganisationDependencies.groovy#L61 so if updatebot did the same thing it shouldn't change any current expected behaviour.

This is the main issue we have with the auto version updates provided by our pipelines.

Maybe for 2 we could define what dependencies to group t

[2017-09-25 09:02] jeffmaury commented on #466
I have a temporary solution based on a static page hosted on github. Will see if we can host it on DevStudio web site. Would be usable by VSCode as well

[2017-09-25 09:44] SaketJNU commented on #983
A PR https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/171  related to last task from top is opened. When both PR's will get approved, merged and deployed on prod, then only remaining task (5th task) is : run the query on swagger, get data and make @sara-02 unblock from data-side in new structure of PGM.

[2017-09-25 09:55] fridex commented on #952
Implementation in https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/170

Unfortunately go-search does not provide package versions. For now the handler schedules analyses on package level so it does not capture version-level information. We will need to tackle this - highly depends on https://github.com/openshiftio/openshift.io/issues/686

[2017-09-25 11:07] samuzzal-choudhury opened #1009 "Task: Generate component-categories mapping for Spring Boot"
**Description:**

1. Generate component-categories mapping for springboot components from [start.spring.io](http://start.spring.io/).

[2017-09-25 11:18] invincibleJai commented on #466
thanks @jeffmaury , let me know if it works

[2017-09-25 11:34] abs51295 commented on #1009
The following [JSON file](https://drive.google.com/file/d/0B9-xNPFDl6o3NGFJNVFzd19WSlU/view?ts=59c8e7cb) is generated as a result of the curation of data.

[2017-09-25 11:36] abs51295 opened #1010 "Task: Generate component-categories mapping for Vertx.io"
**Description:**

1. Generate component-categories mapping for springboot components from [vertx.io](http://vertx.io/).

[2017-09-25 11:43] michaelkleinhenz commented on #257
Fixed for the detail view and quick preview. Will be part of #325 for the list. I'll close this when #325 is done.

[2017-09-25 11:49] abs51295 opened #1011 "Task: Generate a list of common categories"
**Description:**

1. As the categories generated for Spring Boot and Vert.x ecosystem are different, a list of common categories is required to aggregate packages from both the ecosystems.

[2017-09-25 11:54] abs51295 opened #1012 "Task: Map the respective components of Vertx and Springboot to list of generated common categories"

[2017-09-25 12:00] invincibleJai commented on #466
Thanks @jeffmaury

[2017-09-25 12:29] #1003 closed

[2017-09-25 12:56] joshuawilson commented on #1011
Common categories of what and for what? I get it from the labels that it should be for analytics, but it is better to be clear then to rely on labels to imply knowledge.

[2017-09-25 12:57] tisnik opened #1013 "Source code style improvement: do not use bare except in the fabric8-analytics-licence-analysis"
The Python linter found the following error in the source code that need to be fixed:

[code]

[2017-09-25 13:04] fridex commented on #975
Implementation of automated script is present in [this repo](https://github.com/fabric8-analytics/devnull/tree/master/why_missing_maven) with found issues in JSON. Tagging re-scheduled in production for the missing packages.

[2017-09-25 13:07] michaelkleinhenz commented on #804
Fixed in PR#2167.

[2017-09-25 13:07] #804 closed

[2017-09-25 13:42] michaelkleinhenz commented on #968
Fixed with PR#2169.

[2017-09-25 13:42] #968 closed

[2017-09-25 13:57] msrb opened #1014 "[8] Figure out a way how to configure SQS queues automatically"
# Description

Queues in SQS are created automatically when they are needed. However, we use non-default values for some of the configuration options:
- Default Visibility Timeout (maybe not? check)
- Message Retention Period (we want 14 days)

These were set manually in staging/prod.

We need to find a way how to configure the queues automatically, ideally at creation time.

# Acceptance criteria

[2017-09-25 14:02] michaelkleinhenz commented on #970
Fixed for GitHub links in PR ngx-widgets#110. Needs another change in the backend's markdown rendering.

[2017-09-25 14:16] fridex opened #1015 "Optimize tagger run"
# Description

The current speed of tagging can be optimized. The main bottleneck in the tagging task is the fact that configuration files are parsed and post-processed multiple times during a task run. These config files capture tags present in the analysed ecosystem, stopwords etc. It would be nice to introduce "context" that would carry these config entries and devel would handle this context o

[2017-09-25 14:22] michaelkleinhenz commented on #970
Fixed for all other links by https://github.com/fabric8-services/fabric8-wit/pull/1664.

[2017-09-25 14:22] #970 closed

[2017-09-25 14:47] joshuawilson commented on #888
You have it mostly figured out. Here is updated diagram.

![ui-integration-arch2](https://user-images.githubusercontent.com/1184371/30814447-3a444686-a1de-11e7-8caf-9e3cdc40e5ea.png)

Here is what I have to do manually. Change ngx-base. Update the version of ngx-base in all the other components but since they are also added I do it in order. Update ngx-login-client and ngx-fabric8-wit. Once those

[2017-09-25 14:56] joshuawilson commented on #1008
It doesn't look like this is specifically an issue with HTML or Styles, removing area/UI label.

[2017-09-25 16:13] rafabene opened #1016 "Microservices Proposal: Edit multiple projects in CHE"
We would need to find a way for a team/developer to work in a microservices environment. Initially I would think about importing more than one project at time with a single "Create workspace" button and multiple checkbox to select the desired microservices just like the picture bellow.

![microservices proposal](https://user-images.githubusercontent.com/30131/30818884-d856829c-a1ea-11e7-9d6d-60846

[2017-09-25 16:15] rafabene opened #1017 "Microservices proposal: CHE should be able to see/route request to a desired environment"
Use case: Developer is working on a microservices A inside CHE. The application needs to performa a call to microservices B and C that are deployed in a Stage enviroment. CHE should allow these requests to be routed to an specific environment (Stage or Run).

[2017-09-25 17:23] abs51295 commented on #1011
@joshuawilson I have edited the description. Please review.

[2017-09-25 17:42] joshuawilson commented on #1011
nice, thanks

[2017-09-25 17:54] joshuawilson commented on #888
I just thought of another layer of complexity. What happens when I need to update a package that is used by all the components?

When I update Angular, I still need to start from the bottom and work my way up. But now, Angular has to be updated along with the ngx-base at the next layer up.

[2017-09-25 18:24] ldimaggi opened #1019 "Investigate ~1 hour time period on September 25 where Che failed to import quickstart code"
This issue is being logged to track an issue where, from about 11AM to noon (Boston time) on September 25, attempting to create a new Che workspace failed - as Che was not able to import quickstarts' code.

![screenshot 65](https://user-images.githubusercontent.com/642621/30824265-fde53d16-a1fc-11e7-8f0d-11af5108e7e6.png)

I do not have any OSO logs from this time period, but for that hour, the er

[2017-09-25 18:50] ldimaggi opened #1020 "Che log mixes 20 hour with 12 hour time formats"
See atatched log file - this is a small point, but it can made locating statements in the logs more difficult to locate - for example:

[code]
[che1_log.txt](https://github.com/openshiftio/openshift.io/files/1330518/che1_log.txt)

[2017-09-25 19:13] rafabene opened #1021 "Might impact on-boarding process: Forget password is not working"
When I received an email with the reset password link, the URL gave me:

The workaround was to reset the password through developer.redhat.com

[2017-09-25 19:23] alexeykazakov commented on #1021
We do not reset passwords in OSIO at all. What did you do? :)
Note, if you reset password via RHD and then try to login to OSIO without being approved you will get the same error as above. Could you give us more details of what you actually did.

[2017-09-25 19:53] ldimaggi opened #1022 "Intermittent error opening Che workspace - 403 - User "system:serviceaccount:[user]-che:che" cannot watch events in project "[user]-che"
Started seeing this error today - see attached log file - when creating a new workspace - not reproducible at will. Was there a KC outage today?
[che_log.txt](https://github.com/openshiftio/openshift.io/files/1330664/che_log.txt)

[code]

[2017-09-25 19:59] alexeykazakov opened #1023 "When unapproved users are logging in then redirect to a page with proper explanation what to do"
Currently if unapproved user is trying to log into OSIO we show a simple JSON error with a message "User is not approved". We should create a page with proper explanation instead of showing a JSON.

Related to https://github.com/fabric8-services/fabric8-auth/issues/53

[2017-09-25 20:08] rafabene commented on #1021
I've registered a new account and the link gave me a similar message:

[2017-09-25 20:48] alexeykazakov commented on #1021
It's not a bug if you trying to login using unapproved account. We should show a better message though. See https://github.com/openshiftio/openshift.io/issues/1023

[2017-09-25 21:23] joshuawilson commented on #1019
@kbsingh @jfchevrette I think the change made to authentication is the cause of this error.

[2017-09-25 21:24] kbsingh commented on #1019
@joshuawilson agreed.

[2017-09-25 21:25] joshuawilson commented on #1020
Where are these logs from?

[2017-09-25 21:25] joshuawilson commented on #1023
cc @catrobson

[2017-09-26 00:19] jfchevrette commented on #1019
@joshuawilson +1 That does fit the time window while auth was broken.

[2017-09-26 02:36] ldimaggi commented on #1019
Can you provide any details on the failure?

[2017-09-26 02:37] ldimaggi commented on #1019
Also - I have this test running every 2 hours - it failed while the auth issue happened. Can we talk about running a test like this on a more frequent basis to serve as a "heart monitor" for the system?  ;-)

[2017-09-26 02:37] ldimaggi commented on #1020
The Che pod in a user's OpenShift console.

[2017-09-26 06:15] ibuziuk commented on #652
Tested. Should be fixed now on prod cluster after the latest update. @rhopp Could you please verify & close ?

[2017-09-26 07:17] msrb commented on #983
Just curious, why do we need this data?

[2017-09-26 08:12] fridex opened #1024 "Free unused entries in RDS"
# Description

As we often cleaned queues in the past due to issues and fixes in the cluster, it resolved in unusable entries in RDS. These entries consist of JSONB data that would be subsequently synced onto S3, but as a flow was interrupted by cleaning queues, this was not done.

Our jobs service is really good candidate to introduce such capability as it already has authentication and there is

[2017-09-26 08:19] msrb commented on #851
Is this still a problem? Judging from the original bug report, this was happening in staging environment where we simply don't have all the data.

In any case, I've scheduled (forced) analysis of all components from the stack in question.

There were some memory related issues in license worker recently: https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/326.

[2017-09-26 08:25] l0rd commented on #1022
@jfchevrette sent an email about the auth problem. Che side there is nothing we can do to fix that.

[2017-09-26 08:31] l0rd commented on #1020
That's the che-server pod. Thanks for reporting this @ldimaggi. We will have a look to see how and if we can fix that. By the way these warnings will disappear once SPI branch in Che upstream will get merged to master but if it doesn't require too long we may fix it before the SPI get to OSIO.

[2017-09-26 08:37] msrb commented on #953
There is more package managers https://github.com/golang/go/wiki/PackageManagementTools. A lot of them simply produce `vendor/vendor.js` file (or similar, easy-to-parse file). Note it looks like vendoring in Go usually happens on application level, not on library level. If my understanding is correct, then this work is needed for stack analysis (mecator needs to be able to extract dependencies fro

[2017-09-26 08:44] msrb commented on #686
If porting of `gofedlib` to Python 3 is not trivial, then we can run it with Python 2 for now and just open an issue so we don't forget. It would be nice to have it running on Python 3, but it's not critical (Red Hat will maintain Python 2 in RHEL for another 7+ years, so we are good on this front).

[2017-09-26 08:45] msrb commented on #686
@tuxdna

I think it should be possible to use URL-encoded slashes in package names.

[2017-09-26 08:48] msrb commented on #686
Note I wouldn't worry about various package managers in Go as it seems that people use them to vendor dependencies in their Go applications. Initial Go ingestion is about Go libraries.

[2017-09-26 08:50] fridex commented on #686
I think it is not possible right now on server API (as package names are not decoded), but on jobs it naturally should work as it is passed in JSON.

[2017-09-26 08:52] ibuziuk commented on #652
Upstream issue is closed. Closing

[2017-09-26 08:52] #652 closed

[2017-09-26 08:56] fridex commented on #707
The batch has been scheduled. It will take some time to finish (I assume significant based on number of packages available).

[2017-09-26 09:01] msrb commented on #689
Since we rely on GitHub to identify most used components, we need to add support for Gradle. Gradle is becoming more and more popular: https://github.com/search?utf8=%E2%9C%93&q=filename%3Abuild.gradle&type=Code

[2017-09-26 09:02] fridex commented on #670
The batch was not so successful as we encountered issues with queue configuration. The batch will be rescheduled again once workers will be free.

Payload used for selective task runs on our jobs API service:

[code]

Postponed due to https://github.com/openshiftio/openshift.io/issues/707

[2017-09-26 09:17] msrb commented on #972
The problem really is:

Anitya has always been kinda detached from the rest of the system and it led to weird issues with latest versions. Plus, as you've mentioned, Maven support in Anitya was broken from the day one.

`firehose-fetcher` is not really a replacement for Anitya. It helps us to keep up with new releases and it solves the problem with latest versions (in a fragile way, IMO). It was e

[2017-09-26 09:21] msrb commented on #705
Seems to be working as expected, thanks guys 😉

[2017-09-26 09:21] #705 closed

[2017-09-26 09:25] msrb commented on #668
I will move this forward while @humaton is on PTO.

[2017-09-26 09:40] l0rd commented on #1017
In practice that would mean creating a service in the Che namespace and a route in the Stage namespace. That should be done dynamically (using https://github.com/fabric8io/exposecontroller?).

@jstrachan I remember you were talking about that a few weeks ago on openshiftio-saas channel: any thoughts about that?

[2017-09-26 09:44] msrb commented on #772
@krishnapaparaju @SaketJNU I will add some docs 😉

[2017-09-26 10:03] l0rd commented on #531
A PR that should fix that has been opened upstream https://github.com/eclipse/che/pull/6416

[2017-09-26 10:14] jstrachan commented on #1017
yeah, we should be able to create a little CLI tool to do things like this; mirror services from Stage/Run into the Che namespace. Its a generally useful thing to do
https://github.com/openshift/origin/issues/15980

[2017-09-26 10:15] SaketJNU commented on #983
@msrb as updated version of PGM needs some more data as mentioned by @sara-02 in the format as given in https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/61. This data will make the building block for new logic of PGM when the packages do't have tags, then other data-values my help to find-out companion, alternate, outlier packages and many-more. I not aware of exact logic

[2017-09-26 10:17] l0rd commented on #1016
@rafabene that's the current proposal to change the codebase UI: https://github.com/openshiftio/openshift.io/issues/388#issuecomment-329260367

[2017-09-26 10:21] msrb commented on #745
Document describing SoS reports in context of f8a: https://docs.google.com/document/d/14n347Ebg5uf5DXFFWTmo-ahDypeMH2o1pS1Bnuyp3R4/edit#heading=h.ri8epctg2w2y

[2017-09-26 10:36] l0rd commented on #425
@ldimaggi that should be fixed now. Can we close it?

[2017-09-26 10:43] l0rd commented on #502
I haven't seen that lately. I should have been fixed. @rgarg1 please let me know if we can close this issue.

[2017-09-26 10:47] rgarg1 commented on #502
@l0rd You can close it for now. Will reopen if I see it again.

[2017-09-26 10:47] #502 closed

[2017-09-26 11:07] l0rd commented on #603
@slemeur do you still have the issue? Is it something that you are experiencing only when using Che on OSIO or it happens on upstream too?

[2017-09-26 11:10] l0rd commented on #596
Now that https://github.com/redhat-developer/rh-che/issues/297 has been fixed the error should not be reproducable. @burrsutter can you confirm?

[2017-09-26 12:08] invincibleJai commented on #466
@joshuawilson have raised a PR with the basic HTML view as we're looking for landing/redirect screen for IDE users (https://github.com/openshiftio/openshift.io/pull/1025)

CC @jeffmaury @samuzzal-choudhury @alexeykazakov

[2017-09-26 12:22] jfchevrette commented on #1019
@ldimaggi an authentication secret was rotated earlier and then got reverted by an automated system which caused the authentication issues.

My understanding is that this e2e test runs multiple times per hour as often as it can at the moment. Is that correct? We should monitor the test result and trigger alerts if it fails.

[2017-09-26 12:24] jfchevrette commented on #1022
The auth problem was resolved yesterday. I have a feeling this is something else. Is this still occurring?

[2017-09-26 12:32] sdash-redhat commented on #257
Yes, the title of the WI type should be next to the icon in the list.. following is how it should look like--
Sunil will update the VD and provide the specs.
![image](https://user-images.githubusercontent.com/27761023/30860399-9ef065c2-a2e4-11e7-8d37-b1d627202db2.png)

[2017-09-26 12:33] jstrachan commented on #888
for most common stuff (e.g. angular) I'm hoping we can configure a single project to be the `master` so that any change to, say, `@angular/core` in `ngx-base` then gets propagated through to all the dependent projects.

I'm about to add a project specific set of includes/excludes patterns so that we can define owners of sets of dependencies at different points in the tree; the simplest possible th

[2017-09-26 12:38] kbsingh commented on #1019
@jfchevrette the e2e tests are meant to be in the zabbix dashboard, and we should alert on that

[2017-09-26 12:50] jstrachan commented on #888
am still pondering on how best to tackle the fabric8-ui tree problem in  [updatebot](https://github.com/fabric8io/updatebot).

I guess the main issue is we want to delay updating, say, `fabric8-planner` until we have a new release of `ngx-base` plus all its dependencies which use that dependency too (the other `ngx-*` libraries) so that a consistent set of dependencies are all using the same `ngx-

[2017-09-26 12:53] ibuziuk commented on #594
@rafabene could you please tests it again after cluster update ? there were quite a few infra issues fixed

[2017-09-26 12:55] jstrachan commented on #888
@joshuawilson btw do you really want to manually curate by hand dependencies in, say, `ngx-base` or just use the version ranges in `ngx-base` and have the versions updated automatically? We've the latter in [updatebot](https://github.com/fabric8io/updatebot) we're just missing the ability to push the version of dependencies from `ngx-base` down into downstream projects; but thats fairly easy - add

[2017-09-26 13:13] ldimaggi commented on #1022
The problem was only seen intermittently - and this was after the September 25 auth issue was resolved. Leave it open for now and assigning to me to try to recreate. Thx!

[2017-09-26 13:32] tisnik opened #1026 "Source code style improvement: do not use bare except in the fabric8-analytics-worker repository"
The Python linter found the following error in the source code that need to be fixed:

[code]

[2017-09-26 14:27] l0rd commented on #666
After yesterdey deployment I've repeated [the test](https://github.com/openshiftio/openshift.io/issues/666#issuecomment-330406166) I've done last week (deploying an helloworld application over and over for 1h) and results are encouraging:

- Deployment never takes more than 52 seconds
- There are still some errors in OpenShift events but these don't affect performances and there are only 2 kind of

[2017-09-26 14:31] ldimaggi commented on #666
Thanks Mario - Che does seem quicker now. Let me check today - maybe we can close this issue now.

[2017-09-26 14:35] ldimaggi commented on #1019
Are the EE tests in zabbix? URL? Thx!

[2017-09-26 14:42] ldimaggi commented on #425
No longer a bug - closing.

[2017-09-26 14:42] #425 closed

[2017-09-26 16:53] joshuawilson commented on #888
Ideally, I only want to hand control the library versions in https://github.com/fabric8-ui/fabric8-npm-dependencies.

Ranges on dependencies have bit me before, since this is production I want to keep it locked down. So it only gets updated when I change it.

There are 2 issues with not having the same version in all the projects.
1) there can be conflicts using different libraries
2) even if ther

[2017-09-26 18:16] kbsingh commented on #666
This is in line with the perf improvement we have seen from service side as well. @l0rd we should still work on and get the potential fixes you outlined above.

[2017-09-26 18:43] l0rd commented on #666
@kbsingh here is a short update on the fixes outlined above:

- **Decrease readinessProbe initial delay**: PR opened https://github.com/fabric8-services/fabric8-tenant-che/pull/42 and when applied Che server will be ready ~45s earlier.
- **Remove workspaces PVC from Che server deployment yml**: That doesn't seems to work because `che` service account doesn't have the right to create PVC
- **Use di

[2017-09-26 18:55] l0rd commented on #824
@alexeykazakov I've been looking to add some information in the logs but taking aside the token there is not much to add.

With these informations:

- the HTTP error code (`500`)
- the error timestamp (`2017-09-15 14:11:27`)
- the user for whom KC returned the error (@ldimaggi)

you may be able to find more details KC side no? What can we add in the che-server logs to help you investigate?

[2017-09-26 19:03] joshuawilson commented on #473
@rawlingsj can you please edit the main description since this was your request as I recall? Or close it.

[2017-09-26 19:39] joshuawilson commented on #927
@ldimaggi can you please confirm this is still an issue?

[2017-09-26 19:46] joshuawilson commented on #895
This appears to be fixed, please reopen if you are still seeing it.

[2017-09-26 19:46] #895 closed

[2017-09-26 19:55] ldimaggi opened #1027 "Analytic report "In Progress" displays a meaningless (to the user) ID number"
The "in progress" message for an analytic report refers to an ID field that is meaningless to the user:

![screen shot 2017-09-26 at 3 49 51 pm](https://user-images.githubusercontent.com/642621/30881153-c8104ce0-a2d2-11e7-928f-84454694087c.png)

_____________________________________

In contrast, the titles and text displayed when the report is completed are more informative

![screen shot 2017-09

[2017-09-26 19:56] ldimaggi commented on #1027
The easiest solution is just to remove the ID numeric value from the display. Thx!

[2017-09-26 20:11] alexeykazakov commented on #1021
Closing. Let's track it in https://github.com/openshiftio/openshift.io/issues/1023

[2017-09-26 20:11] #1021 closed

[2017-09-26 20:15] rafabene opened #1028 "Inconsistence between the pipeline strategy and its wizard screens"
During the Quickstart project wizard, the Pipeline strategy mentions and shows "Integration tests"

![screenshot 2017-09-26 16 14 25](https://user-images.githubusercontent.com/30131/30882047-ccb74412-a2d5-11e7-9073-be5539b207f8.png)

However the "Integration tests" is not present anymore in the default stragegy

![screenshot 2017-09-26 16 15 03](https://user-images.githubusercontent.com/30131/3088

[2017-09-26 20:25] joshuawilson opened #1029 "Support Various profiles"
# Objective

As a developer I want to be able to have a profile with more or less resources.

 [ ] create a set of profiles with graduated amounts of resources that can be assigned to users
 [ ] These are system level (high level) profiles that control the resources that are provisioned for the tenant

[2017-09-26 20:29] joshuawilson commented on #283
related to #355

[2017-09-27 05:06] joshuawilson commented on #876
What is the status on this?

[2017-09-27 05:07] joshuawilson commented on #820
What is the status on this?

[2017-09-27 05:09] joshuawilson commented on #824
@ldimaggi are you still seeing this?

What is the status on this?

[2017-09-27 05:09] joshuawilson commented on #666
Can we close this?

[2017-09-27 05:10] joshuawilson commented on #441
What is the status on this?

[2017-09-27 05:16] joshuawilson commented on #388
@michaelkleinhenz there is no story only this issue. Do think @xcoulon has time to help on this?

[2017-09-27 05:26] joshuawilson commented on #163
What is the status of this?

[2017-09-27 05:27] joshuawilson commented on #557
What needs to be done next? Is what we have enough?

[2017-09-27 05:47] Preeticp commented on #955
I had a similar experience as Max. Clearing the history and starting in a fresh browser helped, did not need to go incognito. Thanks @alexeykazakov

[2017-09-27 05:50] SaketJNU commented on #645
The team is convinced and showing alignment to remove entire work and task related to sentient scorer from fabric8-analytics before to start a new train. Necessary action will be taken soon in term of re-base and updation of earlier opened PR's related to this issue.

[2017-09-27 06:26] SMahil commented on #963
PR: https://github.com/fabric8-ui/fabric8-planner/pull/2177

[2017-09-27 07:19] kbsingh commented on #557
the push-to-prod has been reported to mattermost for the last 8 months or so.

[2017-09-27 07:20] jstrachan commented on #888
here's an overview of how we're planning on using [updatebot](https://github.com/fabric8io/updatebot)  to solve this:
https://github.com/fabric8io/updatebot/issues/4

[2017-09-27 07:32] SMahil commented on #965
This issue has been fixed

[2017-09-27 07:35] SMahil commented on #962
@vikram-raj @michaelkleinhenz This issue has been fixed in

https://github.com/fabric8-ui/fabric8-planner/pull/2152

[2017-09-27 07:40] SMahil commented on #964
This has been fixed in
https://github.com/fabric8-ui/fabric8-planner/pull/2177

[2017-09-27 07:42] SMahil commented on #990
@michaelkleinhenz Do we want this behaviour for Active Iteration??

[2017-09-27 07:57] SaketJNU commented on #645
Updated the PR's to remove the "sentiment-scorer" from entire flows and repos. Thanks

[2017-09-27 08:04] pranavgore09 commented on #993
@michaelkleinhenz  Please verify
- After deletion what should happen to WI having that iteration?
        1. Obvious (just remove the relation between deleted iteration and WI)
        2. Move WI to its parent iteration if any

- And what should happen to child iterations?
       1. Move all child iterations up in the hierarchy

Any other **side-effects** than mentioned above?

[2017-09-27 08:58] Preeticp opened #1030 "Work Item Description: Ability to add a checklist"
As an user I would like to have the ability to add a checklist for tasks/a task list in the Description for my Work Item.

[2017-09-27 10:20] sunilmalagi commented on #257
Done, included WI type title next to respective WI type icons, accordingly adjusted the spacing for each row.  Here is the invision link:
https://redhat.invisionapp.com/share/YZDOM6S2R

[2017-09-27 10:56] pkajaba commented on #941
jobs are ready for each active repository. Marking it as done.

[2017-09-27 11:01] vikram-raj commented on #962
Thanks @SMahil

[2017-09-27 11:04] l0rd commented on #876
Che-server timed out waiting for Che servers to come up (wsagent, terminal and bayesian). From the errors in the OpenShift events it looks like is related to the OSO issues when starting pods attached to a PV (che server, che workspaces but an helloworld too). When these errors arise the pod may take more than 10 minutes to become available. That may explain why Che server times out.

[2017-09-27 11:30] SMahil commented on #992
This issue has been fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2152

[2017-09-27 11:32] rawlingsj commented on #441
Waiting for a tag of the springboot quickstart https://github.com/snowdrop/spring-boot-http-booster/issues/59#issuecomment-332492237 then we can add it to our catalogue https://github.com/openshiftio/booster-catalog/tree/osio

[2017-09-27 11:58] l0rd commented on #820
That has been solved by cluster update that happened earlier this week. This issue was related https://github.com/redhat-developer/rh-che/issues/325. @ldimaggi can we close it?

[2017-09-27 12:12] #951 closed

[2017-09-27 12:12] kbsingh commented on #244
@maxandersen we might want to recheck if this remains a P1 item or not,

[2017-09-27 12:15] SMahil commented on #990
Fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2152

[2017-09-27 12:15] rawlingsj commented on #557
reassigning back to you @kbsingh as I'm still waiting for the token as per the email :)

[2017-09-27 12:27] kbsingh commented on #557
unsure why we need the user-token, the other 40 odd integrations have not needed it. There is no schedule to get user-tokens onboarded, so we should block / close this issue for now.

[2017-09-27 12:45] michaelkleinhenz commented on #993
- WIs:
1. yes, remove the iteration value on the Wis.
2. no, we just remove the iteration, not set another (for now).

- child iterations
1. I think the most logical way would be to remove the child iterations as well. If that is possible without much extra work, we should do that.

[2017-09-27 12:48] rawlingsj commented on #557
we use [hubot](https://hubot.github.com/) as the integration which requires a personal access token so notifications can be sent from the fabric8 bot.

[2017-09-27 12:50] pranavgore09 commented on #993
yes, remove the iteration value on the Wis.
no, we just remove the iteration, not set another (for now).

Okay, I will start over it

I think the most logical way would be to remove the child iterations as well. If that is possible without much extra work, we should do that.

I will check once and come back

[2017-09-27 12:55] kbsingh opened #1031 "handle users existing workload in OSO gracefully"
In many cases, when a user logs into osio, they might already have some project / namespace or app deployed in their OSO space. Since we need to config this namespace as the users dev environment, we should handle the condition gracefully, doing either one of the following options:
 * When the user logs into osio, they are asked to link their oso account - at this point, we should sanity check the

[2017-09-27 12:57] kbsingh commented on #1031
@joshuawilson assigning to you, to triage and route accordingly.

[2017-09-27 13:00] l0rd commented on #876
I am closing this issue (c.f. previous comment). @cctrieloff feel free to reopen if you are still able to reproduce.

[2017-09-27 13:00] #876 closed

[2017-09-27 13:02] rawlingsj commented on #557
Is this issue a severity P1? as @kbsingh mentions its just the pipeline notifications that aren't going to MM yet, prod deployments done by centos ci are being done.

[2017-09-27 13:03] l0rd commented on #820
I am closing this issue (c.f. previous comment). @ldimaggi feel free to reopen if you are still able to reproduce.

[2017-09-27 13:03] #820 closed

[2017-09-27 13:06] jstrachan commented on #445
BTW I've seen cases where the Service is created, the pod is Ready but the URL doesn't work. I think there may be some OSO load balancer issue too for new users maybe?

[2017-09-27 13:09] l0rd commented on #666
I am closing this issue. Only task "Use deployment instead of replicaset" need to be addressed but it's already tracked by [875](https://github.com/openshiftio/openshift.io/issues/875) and is losely related to this issue. @ldimaggi feel free to reopen if you can still reproduce.

[2017-09-27 13:09] #666 closed

[2017-09-27 13:15] ldimaggi commented on #824
Will try to recreate this today - in the past, it was seen by multiple users.

[2017-09-27 13:16] l0rd commented on #501
From what we know that was related to the issue of pods taking up to 10 minutes to start on OSO (c.f #666) and should have been fixed by the cluster update earlier this week. @ldimaggi I'm closing this issue but feel free to reopen if you can still reproduce it.

[2017-09-27 13:16] #501 closed

[2017-09-27 13:45] ldimaggi commented on #927
Trying Firefox 45.4.0  today - seeing the same problem.
Console log:

[code]

[2017-09-27 14:12] #990 closed

[2017-09-27 14:12] #992 closed

[2017-09-27 14:13] #991 closed

[2017-09-27 14:13] #965 closed

[2017-09-27 14:13] #964 closed

[2017-09-27 14:13] #963 closed

[2017-09-27 14:13] #962 closed

[2017-09-27 14:14] SMahil commented on #589
Fixed: https://github.com/fabric8-ui/fabric8-planner/pull/2152

[2017-09-27 14:14] #589 closed

[2017-09-27 14:15] SMahil commented on #267
This issue does not exist now

[2017-09-27 14:15] #267 closed

[2017-09-27 15:35] jstrachan commented on #888
@joshuawilson BTW here's an example of updatebot generating PRs from an 'exemplar' project in this case we're using `ngx-base` as the canonical set of base versions of stuff
https://github.com/jstrachan-testing/ngx-widgets/pull/13

so that changing, say, the angular version in ngx-base then generates PRs on downstream projects:
https://github.com/jstrachan-testing/ngx-widgets/pull/13/commits/a3ade

[2017-09-27 15:47] l0rd commented on #513
I confirm that this is reproducible on OSIO right now

[2017-09-27 15:56] ibuziuk commented on #513
I believe this functionality have never worked with OpenShiftConnector

[2017-09-27 16:03] l0rd commented on #516
@slemeur I cannot reproduce this. Can we close?

[2017-09-27 16:30] l0rd commented on #523
I have verified that this is fixed now (che v2.0.31). @burrsutter feel free to reopen if you can reproduce it.

[2017-09-27 16:30] #523 closed

[2017-09-27 16:31] l0rd commented on #593
Duplicate of #513

[2017-09-27 16:31] #593 closed

[2017-09-27 16:45] l0rd commented on #594
Cannot reproduce it anymore after this week OSO upgrade. @rafabene please reopen if you are able to reproduce.

[2017-09-27 16:45] #594 closed

[2017-09-27 17:03] slemeur commented on #603
I cannot reproduce the issue anymore. Closing it.

[2017-09-27 17:03] #603 closed

[2017-09-27 17:03] slemeur commented on #516
I confirm I cannot reproduce it either.

[2017-09-27 17:03] #516 closed

[2017-09-27 17:25] l0rd commented on #503
@eivantsov @rgarg1 does this issue still exist? If yes how can we reproduce it?

[2017-09-27 17:35] gnufied opened #1032 "When starting workspace the eclipse editor popup gets blocked by chrome"
I tried opening the eclipse workspace in browser but Google Chrome kept blocking the popup. I did not notice for awhile that popup was being blocked and I was very confused.

[2017-09-27 18:02] joshuawilson commented on #1032
This is explained in the getting started workshop guide. Have you read through that?
https://docs.google.com/document/d/1KsV8oHRe7DYCVCMfVrB2yd3hU4iBi11YI5MyuXoozQw/edit#heading=h.ozijuvnl8msv

[2017-09-27 18:05] gnufied commented on #1032
No, I did not read that.  I did not even realize that there is a workshop guide that exists.

I think we should fix this nonetheless. We can't expect people to read workshop guide (IMHO).

[2017-09-27 18:23] joshuawilson commented on #1032
Submit a PR, we'll get it merged.

[2017-09-27 18:53] joshuawilson commented on #888
I comment on the issue for updatebot, nice idea.

Why not use https://github.com/fabric8-ui/fabric8-npm-dependencies to store/track/update the dependencies?

I don't want to have to define every library I use in a project that is not meant for that. The ngx-base project has a specific task. Or did I misunderstand your intent.

[2017-09-27 19:08] joshuawilson commented on #557
The severity/priority was set by @burrsutter. If he doesn't respond, then maybe @rafabene or @qodfathr can comment.

[2017-09-27 19:16] joshuawilson commented on #1031
This will need input from @qodfathr @catrobson @alexeykazakov @aslakknutsen @maxandersen and you @kbsingh

[2017-09-27 19:20] joshuawilson commented on #244
@kbsingh do we have sufficient logging in place then?

[2017-09-27 19:34] ldimaggi commented on #1031
The first choice sounds like a smaller task - build a tool to examine a user's environment, and if the state does not match our predefined concept of a "good" state, clean it up.

The second choice sounds more involved as we would be performing discrete modifications to a user's environment.

[2017-09-27 19:50] jstrachan commented on #888
use any git repos you like to own the exemplar versions of any sets of dependencies - you just associate the dependency sets that a repo ‘owns’. Feel free to do whatever works best.

I mostly picked ‘ngx-base’ as an example due to its name and it having quite a lot of dependencies ;)

[2017-09-27 19:51] joshuawilson commented on #888
Nice. Thanks.

[2017-09-27 21:13] kbsingh commented on #1024
Before rolling this out,  if you need any backups run for the prod db, please sync with @pbergene for the state and backup

[2017-09-27 21:14] #1019 closed

[2017-09-28 01:16] rafabene commented on #557
I don't think it should be P1, but I'll defer to @burrsutter

[2017-09-28 06:53] rawlingsj commented on #557
As it happens I think this is still pretty important. We really do need to have the pipeline notifications in mattermost.

[2017-09-28 07:06] rgarg1 commented on #257
Isn't having both tooltip and type-text an overkill? Tooltips were added in the absence of the type-text, so should the tooltips be removed now?

[2017-09-28 07:16] sunilmalagi commented on #257
Tooltips are also required to ensure we meet the accessibility . So we have to keep them. Also tool tip can provide the details or helpful info which type text can not provide upfront.

[2017-09-28 08:51] l0rd commented on #503
@l0rd <https://github.com/l0rd> yes, it can be reproduced in Che

How? :-)

[2017-09-28 08:59] rootAvish commented on #985
Picking up #987 while I'm waiting on a review for PR.

[2017-09-28 09:07] eivantsov commented on #503
https://github.com/eclipse/che/issues/4952 when trying to open the same file twice

[2017-09-28 09:24] jyasveer commented on #1002
PR's for this US -
https://github.com/fabric8-ui/fabric8-recommender/pull/331
https://github.com/fabric8-analytics/fabric8-analytics-server/pull/167

[2017-09-28 12:41] ldimaggi opened #1033 "Intermittent issue - Invalid scan credentials (cd-github) to connect to https://api.github.com - but user account does have github access"
This issue was seen on September 28, it is not yet reproducible at will.

Steps to recreate issue:
* Create new space
* Create new quickstart
* Observe build failure

Jenkins pod log (see attached) reports:
[code]
![screenshot from 2017-09-28 08-15-18](https://user-images.githubusercontent.com/642621/30966952-b3c656b0-a428-11e7-90c0-f594d2eb77f1.png)

[jenkins-1.log.txt](https://github.com/openshi

[2017-09-28 12:42] ldimaggi commented on #1033
[jenkins-1.log.txt](https://github.com/openshiftio/openshift.io/files/1340855/jenkins-1.log.txt)

[2017-09-28 13:18] ldimaggi opened #1034 "Intermittent issue - Resetting a user's environment fails to restart Che and Jenkins pods, or requires up to 10 min to start"
This problem is being encountered intermittently by automated tests and is not reproducible at will.

![screenshot from 2017-09-28 06-38-22](https://user-images.githubusercontent.com/642621/30968652-05054798-a42e-11e7-958b-da949fca3684.png)

[2017-09-28 13:19] ldimaggi commented on #1034
Logs are not written. A fragment of the events listing for Jenkins is attached.
![screenshot from 2017-09-28 06-43-52](https://user-images.githubusercontent.com/642621/30968688-1ce24ed8-a42e-11e7-90df-7c89579a2bca.png)

[2017-09-28 13:19] ldimaggi commented on #1034
It looks like the pods get into a state where repeated attempts to reset the user account environment fail.

[2017-09-28 13:20] ldimaggi commented on #1034
Assigning to me to attempt to recreate and obtain more details.

[2017-09-28 13:25] joshuawilson commented on #1034
@aslakknutsen @kbsingh I don't know who else should look at this.

[2017-09-28 15:07] michaelkleinhenz commented on #279
Fixed with https://github.com/fabric8-ui/fabric8-planner/pull/2188.

[2017-09-28 15:07] #279 closed

[2017-09-28 18:10] bmicklea commented on #445
@jstrachan from a user POV "ready" would mean that the URL works so we'd want some way to identify if load balancer or other issues were preventing a seemingly ready pod from being user reachable.

[2017-09-28 18:58] alexeykazakov opened #1035 "Add logout button to the _gettingstarted page"
For some reason there is no logout button on the _gettingstarted page. So, users are stuck if they don't have OSO/GH account linked and want to re-login using another account.
We should add at least the "Logout" button to that page. But maybe just adding the regular toolbar as we have in other pages will be even better.

[2017-09-28 18:59] alexeykazakov commented on #1035
cc: @joshuawilson

[2017-09-28 19:01] alexeykazakov commented on #1035
Workaround: Use https://openshift.io/_home and logout from there.

[2017-09-28 22:51] ldimaggi opened #1036 "After resetting a user's environment, Che and Jenkins are not deployed"
Just started seeing this!

![screenshot from 2017-09-28 18-42-20](https://user-images.githubusercontent.com/642621/30993652-ed248ee0-a47d-11e7-80be-30a96b400c62.png)

[2017-09-29 01:41] aslakknutsen commented on #1036
Related to https://github.com/fabric8-services/fabric8-wit/commit/a2ebc85befa8944749fe54049525009c395f9c88 and tenant client not copying Auth headers on redirect request to different domain.

[2017-09-29 02:56] alexeykazakov commented on #1036
https://github.com/fabric8-services/fabric8-wit/pull/1670 should fix the issue

[2017-09-29 03:43] #1036 closed

[2017-09-29 04:24] alexeykazakov commented on #777
Probably bc the commit uses <private@github.com> instead of the actual user name?

[2017-09-29 04:45] aslakknutsen commented on #777
I assume GH is returning private@github.com in API when email is masked, but if I remember correctly @burrsutter account does not have a private email... But even then, not sure about the link to the p-meier account. It's possible that p-meier has registered private@github.com as an email on his account but...

I doubt GH has started masking email addressed in the raw git repo as that would change

[2017-09-29 04:57] joshuawilson commented on #1035
@dlabrecq can you please add this.

[2017-09-29 04:59] alexeykazakov commented on #777
This is what I see in my repo:
[code]
I replaced my real @gmail.com email by xyz@gmail.com above ^. Which is the only and public email I have in my account.
Here is the repo - https://github.com/alexeykazakov-osio/mysuperspace/commits/master

[2017-09-29 06:11] arunkumars08 opened #1037 "API logic to handle generation of manifest file"
## Description

Following this user story - https://github.com/openshiftio/openshift.io/issues/1005, the user can have the ability to generate downloadable manifest files.

Tasks:

- [x] Setting up of API environment (Python, Flask)
- [x] Handling logic for receiving and sending the response in a specified format
- [x] Hosting it in a dev cluster, for now.

[2017-09-29 06:13] arunkumars08 opened #1038 "Handling of UI logic for generation of manifest files"
Following this user story - #1005, the user can have the ability to generate downloadable manifest files. (UI end)

Tasks:

- [x] Creating a service
- [x] Handling UI design
- [x] Handling the server response

[2017-09-29 06:20] arunkumars08 opened #1039 "Setting up of UI infrastructure for machine generated stacks"
## Description
Following the user story - https://github.com/openshiftio/openshift.io/issues/1005, the user needs to have an interface where he/she has the ability to generate stacks required to him/her.

Tasks

- [x] Bringing in the basic Angular2 code structure so the framework is ready and usable
- [ ] Setting up unit tests
- [x] Creation of UI as per design mock.
    - [x] Bringing in the abil

[2017-09-29 09:51] sbose78 commented on #1035
I took a shot at this : https://github.com/fabric8-ui/fabric8-ui/pull/2045

[2017-09-29 10:57] msrb commented on #1024
Our RDS instance is slowly filling up, there in only 6 GB left out of 30. Hence raising priority.

Note another option could be to stop using RDS as a temporary result storage and store results on S3 right away. Partial results would be available sooner and there would be no need for "result collector" task and subsequent RDS cleanup.

[2017-09-29 11:00] pbergene commented on #1024
I have increased the size available to the DB, which should give you a little headroom.  Also took a snapshot immediately before.

[2017-09-29 11:18] ldimaggi commented on #1036
Perfect - many thanks!

[2017-09-29 11:25] msrb commented on #1024
Thanks @pbergene :)

[2017-09-29 11:35] ldimaggi commented on #824
The "default" error message shown to the user - for example:
Could not start workspace exvke. Reason: Start of environment 'default' failed. Error: Fail launching agent Exec. Workspace ID:workspacesxld5z75b2ajcbrg

Is showing up again yesterday and today.

The error written to the Che pod log this time does not refer to a token issue:

[code]

[2017-09-29 12:39] joshuawilson commented on #1035
Thanks @sbose78

[2017-09-29 12:39] tisnik opened #1040 "RFE: move the list of recent releases one level up in the package analysis libraries.io"
Currently, the list of recent releases for the selected package is hidden under the attribute 'latest' in the AWS S3 database:

[code]

It would be (IMHO, of course) better to have two attributes on the same level: 'latest' and 'recent':

[code]

[2017-09-29 13:51] l0rd commented on #824
@ldimaggi this new exception is related to a timeout when starting a process (the so called exec agent). Since it's not related to keycloak we could open a new issue to track that. What do you think?

And it would be nice if you could add more details:
- What Che version where you running?
- How can I try to reproduce it (what's the che-stack, the git repo)?
- Have you spotted any error in the dev

[2017-09-29 14:01] austincunningham commented on #1023
Behaviour different in Mozilla Firefox

![image](https://user-images.githubusercontent.com/16667688/31019269-0879abea-a527-11e7-965e-47b0af4bca57.png)

[2017-09-29 15:40] ldimaggi opened #1041 "Intermittent/recurring error - OSIO fails to create Che workspace - timeout when starting a process"
This is being seen - intermittently - with Che 2.0.31

Steps to recreate:
* Create a new space
* Create a new quickstart project - Vert.x basic
* The error occurs intermittently - no pattern seen yet

![screenshot from 2017-09-29 07-27-33](https://user-images.githubusercontent.com/642621/31023803-04b77da0-a50b-11e7-81e8-92d68cf92b01.png)

[2017-09-29 15:43] ldimaggi commented on #1041
See attached Che pod log
[che1log.txt](https://github.com/openshiftio/openshift.io/files/1344923/che1log.txt)

[2017-09-29 15:43] ldimaggi commented on #824
See the new issue - https://github.com/openshiftio/openshift.io/issues/1041

Thx!

[2017-09-29 16:28] ldimaggi opened #1042 "Build piplelines are failing - "No service hubot is running""
Steps to recreate - with https://openshift.io
* Create new space
* Create new quickstart project
* Observe the build pipeline failing:

![screenshot from 2017-09-29 12-21-50](https://user-images.githubusercontent.com/642621/31025718-9edff960-a511-11e7-834a-25f019514467.png)

![screenshot from 2017-09-29 12-26-58](https://user-images.githubusercontent.com/642621/31025722-a74b3bb4-a511-11e7-8427-921

[2017-09-29 16:29] ldimaggi commented on #1042
Build log attached
[build_log.txt](https://github.com/openshiftio/openshift.io/files/1345026/build_log.txt)

[2017-09-29 16:54] ibuziuk commented on #955
Having this problem on https://prod-preview.openshift.io/

[2017-09-29 16:56] rawlingsj commented on #1042
Should be fixed now.

[2017-09-29 16:56] #1042 closed

[2017-09-29 16:57] alexeykazakov commented on #955
Many people complain about that issue. It makes OSIO quite unusable if not used in a incognito mode. @joshuawilson could you please ask someone from the UI team to take a look?

[2017-09-29 16:58] ldimaggi commented on #1041
[che1log.txt](https://github.com/openshiftio/openshift.io/files/1345084/che1log.txt)

[2017-09-29 17:38] catrobson commented on #1031
The challenge is that this project/dev environment needs to live in a space somewhere.  I think the ideal situation here long term is that we would have a unique UI flow to handle this situation, as it may be a likely situation for many people on-boarding into OSIO.  I can add this to the UX Backlog.  If we want to do a fix until then, I agree that asking the users to clean if we see this is a fin

[2017-09-29 17:42] catrobson commented on #1031
Added UX issue here: https://github.com/fabric8-ui/fabric8-ux/issues/687

[2017-09-29 18:10] l0rd commented on #1041
It looks like the exec agent hasn't been downloaded. Agents are usually downloaded from the che pod to the workspace pod via http. Can you rsh into the che pod and look for any evidence of that in the logs:

[code]

[2017-09-29 23:32] joshuawilson commented on #955
@dgutride do you have time to look at this? If not, I'll try to look at it next week.

[2017-09-30 09:04] maxandersen commented on #244
do we have the various places documented now somehow so new and existing team can become aware ? I for one are pretty sure I don't know or remember all the various entry points to find the information at this time.

[2017-10-02 03:11] ldimaggi opened #1043 "Forge errors showing up repeatedly when creating new project"
Starting see this late on Oct 1 - when creating new quickstart project:
![screenshot from 2017-10-01 23-06-41](https://user-images.githubusercontent.com/642621/31063047-ae5bd56a-a6fd-11e7-900e-62d0a4e1afb5.png)

Not seeing any issues in Jenkins log - see attached.
[jenkins_log.txt](https://github.com/openshiftio/openshift.io/files/1347798/jenkins_log.txt)

[2017-10-02 06:18] corinnekrych commented on #1043
@ldimaggi @jstrachan The error returned by the REST endpoint for execute on quickstart is:
https://gist.github.com/corinnekrych/fd30160ff2a35d9d8b219a756010d506
The failure happens in`CreateBuildConfigStep` bc of missing class in classpath.
@jstrachan Any new deployment version bump that occurs recently?

[2017-10-02 07:00] jstrachan commented on #1043
nothing's changed in a while - the pods have been running for 10 days now.

I saw this in one pod:
[code]
looks like something swarm related maybe. I don't have karma to bounce pods so lemme try trigger a redeploy to see if restarting the pods helps

[2017-10-02 07:28] #1026 closed

[2017-10-02 08:51] msrb commented on #1040
Lower priority, but it would be nice to fix this.

[2017-10-02 08:56] msrb commented on #854
IIRC `_audit` field is/was hidden by default, one can add `?debug=true` query string to reveal it.

[2017-10-02 08:57] msrb commented on #854
Note it can take days for analysis to finish, so it would be better to have timestamps in every task (where it makes sense).

[2017-10-02 08:58] fridex commented on #854
`?debug=true` is not available anymore (but would be valuable I think).

[2017-10-02 09:00] msrb commented on #853
Note this will require changes to authentication as we don't want to let anyone with a valid OSIO token to force new analyses.

[2017-10-02 09:18] austincunningham commented on #1023
Looks to be resolved :)

[2017-10-02 09:46] fridex commented on #853
Note this was already done in https://github.com/fabric8-analytics/fabric8-analytics-server/pull/141. Using authentication against existing OSIO token.

[2017-10-02 13:26] jpopelka commented on #792
[Document](https://docs.google.com/document/d/1ScTu7BlGu9nzbSnOPb_eyiKU1ZPwjfMo1xe76YzD8Q4) has been created.
I decided to [fix the issues we are seeing with OWASP Dependency Check](https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/363) rather than using other source of data.  Change has been merged and runs on staging.
I'll mark this as completed once it's pushed to production.

[2017-10-02 14:42] ldimaggi commented on #1043
Closing - it's OK now

[2017-10-02 14:42] #1043 closed

[2017-10-02 15:44] #1035 closed

[2017-10-02 20:12] michaelkleinhenz opened #1044 "Angular version consistency broken between patternfly-ng, platform, and ngx-widgets"
Currently, we have a mixup of Angular versions between those three components (and Planner, for that matter). Some of them are using 4.0.3, some 4.4.3. This causes the Planner build to break with newer features, especially some that we need for stories in the current sprint. This is currently blocking the Planner team.

All components should use 4.4.3 as per suggestion from the Patternfly team.

[2017-10-03 06:53] #988 closed

[2017-10-03 07:59] jstrachan commented on #999
I still don't follow - is there or is there not a BuildConfig created?

[2017-10-03 10:16] containscafeine opened #1045 "Deleting a space is a bit unintuitive"
I created a space from my openshift.io homepage, and after a few clicks it gets created and reflects at the homepage.
Now, to delete the space I just created,
- I start looking for a _bin_ or a _trash_ icon after hovering over the space name under recent spaces, but there is nothing there.
- Then I assume that the delete option will be there after going into the space after clicking on the space n

[2017-10-03 10:31] hrishin opened #1046 "Not able to proceed after create pipeline step"
Not able to proceed after create pipeline stage while creating the application.

Steps to reproduce:
1) Reset the environment from update profile
2) Create space
3) Create QuickStart project
4) Choose Vertx booster application, click next
5) Enter group id, artifact id, project name, click next
6) Choose any pipeline option, click next, it shows validating message but nothing happens

Screenshot O

[2017-10-03 12:07] ldimaggi commented on #999
Sorry for the confusion regarding this issue. The tests have been updated to report on the presences of the build configs. I will recreate the issue and attach a coordinated set of test results today. Thx!

[2017-10-03 12:27] tuxdna commented on #686
Encountered issue while installing `gofedlib` in container image  - https://paste.fedoraproject.org/paste/95qLrmrl1MHxv4~1PkAufw

Looking for a workaround.

[2017-10-03 12:57] tuxdna commented on #686
Adding gofedlib-cli to the worker image proceeds further with following error:

[code]

A fix is required in gofedlib.

[2017-10-03 13:01] cctrieloff commented on #239
We should use the same trigger event we use to idle Jenkins to also Idle Stage.  If someone is not doing builds they don't need stage. Stage will then get restarted on the next build trigger from Jenkins

[2017-10-03 13:04] #960 closed

[2017-10-03 13:18] ldimaggi opened #1047 "On prod-preview - Jenkins pod fails to start after environment reset"
This problem is reproducible 100% of the time. After an environment reset, Jenkins fails to start. No log file is written. This event is reported:

Error creating: No API token found for service account "jenkins", retry after the token is automatically created and added to the service account
18 times in the last 9 minutes
38 times in the last 20 minuites

[2017-10-03 13:58] ldimaggi opened #1048 "Users with "@" char in their OSIO usernames experience 404 errors on recent active pipelines"
If a user with a '@' char in his/her OSIO username clicks on a 'recent active pipeline' - this error is raised:
![screenshot from 2017-10-03 09-44-52](https://user-images.githubusercontent.com/642621/31128861-f895970a-a820-11e7-94ad-4a4b8d1a0c2d.png)

The problem is that the pipelines URL is:
https://openshift.io/ldimaggi/Oct3/create/pipelines

When it should be:
https://openshift.io/ldimaggi%40re

[2017-10-03 14:23] ibuziuk opened #1049 ""Reset Environment" should cleanup custom tenant config"
fabric8 PR verification is a super cool feature and everyone can test new version of tenant by navigating to URL e.g. [1] and pushing "Save and Update Tenant" button. However, resetting this configuration is not very straight forward - one should navigate to the profile tenant page [2] and push "Clear Values" button.
At very least "Reset Environment" from profile page should also do custom tenant

[2017-10-03 14:54] ldimaggi commented on #999
Closing this as non-reproducible.

[2017-10-03 14:54] #999 closed

[2017-10-03 15:02] rawlingsj opened #1050 "add red hat repos to maven settings.xml secret so pipelines can run FIS quickstarts"
Reported on IRC we cant build this project https://github.com/rawlingsj/mlo-fis2-karaf-demo in a pipeline because we're missing artifacts in https://maven.repository.redhat.com/earlyaccess/all and https://maven.repository.redhat.com/ga.

[2017-10-03 15:03] rawlingsj commented on #1050
Adding these repos to the build settings xml makes sense, hopefully we can build the example project after.  Will take a look...

[2017-10-03 15:06] ibuziuk commented on #432
@l0rd should we close this one ?

[2017-10-03 15:11] ibuziuk commented on #513
rh-che issue - https://github.com/redhat-developer/rh-che/issues/360

[2017-10-03 17:04] rawlingsj commented on #1050
Rather than adding the repos I just removed the mirror that preventing folks from using `<repository>` in their poms.  I just merged this https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/26 but it will take a little while to trickle up the pipelines and be available in OSIO.

[2017-10-03 18:41] ldimaggi opened #1051 "Creating pipelines (while adding a new quickstart project to a space) is failing: rg.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed"
See attached Jenkins pod log.

Started seeing this on Oct 3 - steps to recreate:
* Create a new quickstart/project
* Observe the project's build pipeline fail to run
[jenkins_pod_log.txt](https://github.com/openshiftio/openshift.io/files/1353462/jenkins_pod_log.txt)

[2017-10-03 19:17] ldimaggi commented on #1051
Looks like this may not be reproducible.

[2017-10-03 19:18] ldimaggi commented on #1051
Multiple (>160) instances of references to projects' build configs already existing.

WARNING: Caught: java.lang.IllegalArgumentException: testoct31507056344110 already exists
java.lang.IllegalArgumentException: testoct31507056344110 already exists
2:54 PM

[2017-10-03 23:51] l0rd commented on #432
@ibuziuk yes I've just verified that is not reproducible anymore

[2017-10-03 23:51] #432 closed

[2017-10-04 01:14] alexeykazakov commented on #466
It looks like the landing page is not required anymore. Can we close this issue?

[2017-10-04 05:16] invincibleJai commented on #466
@alexeykazakov yes i think we are good on this. CC @jeffmaury

[2017-10-04 08:10] benoitf commented on #1049
I faced the same issue, I was expecting that `reset env` button was also clearing up all tenant config but it was not the case.

[2017-10-04 08:19] eivantsov commented on #503
Should be fixed by https://github.com/eclipse/che/pull/6478

[2017-10-04 09:12] tuxdna commented on #686
One more issue (among other the issues listed above) to resolve for full analysis flow of a golang package:

Hit the analysis using: http://localhost:32000/api/v1/component-analyses/go/github.com%2Fstretchr%2Ftestify/master

Here is the error in Graph import: https://paste.fedoraproject.org/paste/0VO2lQgIO3lhhLSb8T-MdQ

Looking into it now.

[2017-10-04 10:04] SaketJNU commented on #983
A PR https://github.com/openshiftio/saas-analytics/pull/107 is opened

[2017-10-04 10:31] tisnik commented on #1013
Fixed

[2017-10-04 11:10] krishnapaparaju opened #1052 "Spike around mapping CVEs to individual packages of an ecosystem"
With quite a bit of energy been spent around evaluating different sources for CVEs, either OSIO analytics platform were blocked by license terms of the data sources (or) inaccurate mapping of CVEs at NVEDB to individual packages of an ecosystem.

During the discussions with product security team, there is no 'global database for CVEs covering all the ecosystems' and accurate enough to flag a packa

[2017-10-04 12:38] tisnik commented on #1004
Fixed

[2017-10-04 12:38] #1004 closed

[2017-10-04 13:08] pkettman opened #1053 "Space is not loaded in my browser"
After a week I've logged again to OSIO and can't get back to my space or account.
I am getting 404 on https://openshift.io/pkettman/PKE_Space/ or https://openshift.io/pkettman/, my OSIO home looks like this:
![osio_oct4th](https://user-images.githubusercontent.com/26871874/31177145-533752c6-a915-11e7-8f1e-c02603794b15.png)
I am using Chrome 56.0.2924.87 Fedora Project (64-bit). SBose investigated

[2017-10-04 13:50] tisnik commented on #856
@samuzzal-choudhury if you want to, I can take over this issue to finish #942 (this is the only remaining part)

[2017-10-04 13:51] LalatenduMohanty opened #1054 "The getting started guide for openshift.io is not available"
The getting started guide for openshift.io is not available , It is giving me a 404 not found error https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide

I was at i.e. https://openshift.io/_home and then clicked on the link  in : Learn how to get [started in the document](https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_gu

[2017-10-04 13:59] ldimaggi opened #1055 "User cannot see Content Repo status in Current OSIO Status Display"
The current status display looks like this:
![screenshot from 2017-10-04 09-55-39](https://user-images.githubusercontent.com/642621/31179616-6a09a998-a8ea-11e7-9a2c-a5168ae2c56c.png)

If the Content Repo deployment has failed, the user will not know until a quickstart deployment fails with this error:
[code]

[2017-10-04 15:20] tuxdna commented on #686
On resolving the above error, two additional errors are are happening:

 1. `selinon.errors.FlowError: {"finished_nodes": {"security_issues": ["a1f165e1-5ac8-484f-bc04-7e4c26d9b578"], "digests": ["cffbc003-c822-4d80-bad8-18199ca15c05"], "source_licenses": ["a524d388-5410-4ecd-a2bf-43a8b07e92e5"]}, "failed_nodes": {"metadata": ["93b51224-3640-43e7-8a2f-57fc65fa72d3"]}}`
 1. `ERROR:data_importer:imp

[2017-10-04 16:39] tuxdna commented on #686
This will fix the second issue mentioned above:

 * https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/56

[2017-10-04 19:09] tisnik opened #1056 "Stack analysis on the production server does not finish, even after 1 hour"
How to reproduce:

1. call the API to start new stack analysis on the recommender.api.openshift.io address
2. try to wait for the analysis to finish

Actual behaviour:
1. only HTTP 202 Accepted code is returned (almost) endlessly

Expected behaviour:
1. after some time (let's say under 5 minutes) the HTTP 200 OK + stack analysis should be returned

Possible causes:
1. Performance tests were run ~6

[2017-10-04 19:12] tisnik commented on #1056
@samuzzal-choudhury @msrb @fridex [FYI ^]

[2017-10-04 21:43] alexeykazakov commented on #1053
I can reproduce it in my Firefox. It works fine in my chrome though.
The problem looks like in redirects. For some reason my Firefox doesn't follow 307 redirects. Maybe it's because we send these requests via Ajax.
Can someone from the UI team take a look?
There is a bunch of 307 responses (to AJAX requests) which redirect from api.openshift.io to auth.openshift.io But some browsers doesn't follow

[2017-10-05 08:36] #989 closed

[2017-10-05 08:37] msrb commented on #686
PR (wip): https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/376

[2017-10-05 08:50] SaketJNU commented on #645
All three PR's mentioned here, have been merged. So, we can say that sentiment-scorer has been entirely removed from the wok-flow. So, we can close this issue.
Thanks

[2017-10-05 09:09] SaketJNU commented on #984
A PR https://github.com/fabric8-analytics/fabric8-analytics-server/pull/171 is opened for both mentioned tasks.

[2017-10-05 12:04] #329 closed

[2017-10-05 12:35] aslakknutsen commented on #1046
Logout and login again (or hard refresh OSIO).. That should reprovision you in a useful state

[2017-10-05 12:48] fridex opened #1057 "Restrict pushes to master and force review process"
# Description

We would like to restrict pushes to master and let all contributors submit PRs that would go through review process. With this restriction we are sure that all PRs are reviewed and CI passes.

https://help.github.com/articles/enabling-branch-restrictions/

# Acceptance criteria

 - [ ] All repositories in fabric8-analytics organization have "master" branch protected
-  [ ] All repos

[2017-10-05 13:00] jerboaa opened #1058 "Spaces starting with non-alphanumeric characters should not be allowed"
I've created a space on OSIO with name `1test`, which creates a `1test` source project on github, etc. When the pipeline tries to deploy it fails.

![Failed pipeline](https://user-images.githubusercontent.com/357222/31228318-65488b38-a9dd-11e7-81b8-05ae792d030f.png)

The openshift online jenkins console shows this:

    ERROR: Error during kubernetes apply: java.lang.RuntimeException: Failed to cr

[2017-10-05 13:15] kbsingh opened #1059 "tenant service should abort if service privilege is unavailble"
In order to build up the tenant infrastructure on a target openshift cluster, we use a privileged account able to create and then edit role bindings for the and on behalf of the user. In testing, we've noticed that if the privilged account is missing, or not running with the required privilges, the tenant does not abort or report-failure.

This results in the false impression that the tenant infra

[2017-10-05 13:20] jfchevrette commented on #1059
we should also consider situations where the privileged account token is valid, but some actions can't be executed for all sorts of reasons. ther should/could be appropriate feedback to indicate failure to initialize and to retry or contact support

[2017-10-05 13:22] aslakknutsen commented on #1059
If Token is missing or Invalid the WhoAmI call will fail and the service will fail to start. But yes, it doesn't verify the account auth beyond that.

[2017-10-05 13:23] kbsingh commented on #1059
in this case, the account exists, and the token is valid. its just unable to do the edits needed to change limits / perms.

[2017-10-05 13:37] corinnekrych commented on #1058
This is related to the fact WIT create space API does not do any name validation.
if the space was created through UI, such a name is not valid.
Note that those space name are also not valid for forge wizard, any attempt to create a quickstart in space named 1xxx will fail. related to https://github.com/fabric8-services/fabric8-wit/issues/1693