[2017-12-19 13:28] gastaldi commented on #1723
This was a scenario that was not tested during the back-end merge. The launcher-team has agreed to not do the validation on `next` and only when the frond-end calls `validate` (because that way going to the next page will take the least amount of time and the validation can be done async when the user is still entering the form for specific fields as explained in the comment above)

[2017-12-19 14:16] pkajaba opened #1724 "CentOS CI and f8a"
fabric8-analytics team currently uses CentOS CI for CI/CD. It's great and stable service. However, problem is that there is no process established (or we are not aware of it) how to promote changes of CI/CD configuration.

The developer has to open PR in https://github.com/almighty/almighty-jobs and then waits until somebody from service delivery team merges it, which can take some time. So the pu

[2017-12-19 14:22] tisnik commented on #1230
Progress so far:

we are at 100% of coverage:

https://fabric8-analytics.github.io/dashboard/dashboard.html

[2017-12-19 14:33] ibuziuk commented on #1719
@hrishin I believe this is a pure upstream issue. Could you please open relevant issues against https://github.com/eclipse/che so that it would be tracked upstream ?

[2017-12-19 15:33] ldimaggi opened #1725 "On prod-preview, 'promote' button on pipeline fails"
New problem being seen today - steps to recreate:
* Create new quickstart/app
* Select stage-run development strategy
* Select "promote" to stage - observe error raised:

[code]

![screenshot from 2017-12-19 10-30-52](https://user-images.githubusercontent.com/642621/34164521-c14acb3a-e4a7-11e7-9727-1f1d3af2bb12.png)

Observe that user is able to promote to stage/run through the Jenkins log:

![scr

[2017-12-19 15:33] ldimaggi commented on #1698
Closing - problem is no longer seen. Thx!

[2017-12-19 15:33] #1698 closed

[2017-12-19 15:33] ldimaggi commented on #1677
Closing - problem is no longer seen. Thx!

[2017-12-19 15:33] #1677 closed

[2017-12-19 15:34] ldimaggi commented on #1640
Closing - problem is no longer seen. Thx!

[2017-12-19 15:34] #1640 closed

[2017-12-19 15:34] ldimaggi commented on #1381
Closing - problem is no longer seen. Thx!

[2017-12-19 15:34] #1381 closed

[2017-12-19 16:33] jiekang opened #1726 "Support HPA properly in deployment card donut component"
The deployment cards show a pod donut chart, closely following the implementation in Openshift's web-console. It shows the number of pods deployed and their status, as well as a control to scale pods up and down.

Openshift has a concept of Horizontal Pod Autoscaling (HPA) that allows pod scaling to be automated. The donut chart implementation in Openshift's web-console supports this properly. The

[2017-12-19 16:46] jiekang commented on #1712
If there is an upper bound, this value should be the same as the resource quota for the environment the application is deployed in. E.g. environment 'run' has cpu quota of 10 cores. This is the upper bound for the CPU data in the per deployment card for environment 'run'.

For data like network usage that has no quota, there should be no upper bound.

[2017-12-19 17:27] joshuawilson commented on #1503
If the fix is linked via the PR then it gets closed automatically when the PR gets merged. However, it has been my practice to close things when they are in prod if it wasn't auto-closed.

[2017-12-19 17:33] GeorgeActon commented on #1684
@adisakala, Discussion should already be happening ( @krishnapaparaju & @gastaldi discussing this). Understanding the work can happen now, but to deliver it, the launcher-backend has to be deployed in staging first and with vacation that will be in Jan (since it is a large change).

[2017-12-19 19:12] jiekang commented on #1641
Closing as a fix was merged.

[2017-12-19 19:12] #1641 closed

[2017-12-19 19:29] ibuziuk commented on #1683
I also do not have strong opinion on this - both approaches have its for and against. It sounds like workspace sharing feature is the only thing that affects UX  and by choosing `1 mt che-server per cluster` workspace sharing will be available only for users on the same cluster. I believe this requires some input from PM side. cc: @slemeur @bmicklea

[2017-12-19 20:27] gastaldi commented on #1723
This happens in prod-preview only btw

[2017-12-19 20:37] joshuawilson commented on #1724
Shouldn't this be a question for the SD team, since they own it?
cc @kbsingh @pbergene @jfchevrette @vpavlin

[2017-12-19 20:39] ibuziuk commented on #1683
`If I did need to have collaboration with someone from another cluster then I can simply invite them to create an account on my cluster. It's hacky but it would work, right?`
Not sure about that. As I understand multi-cluster is just impl. detail and user is not in charge of picking cluster while account creation.

[2017-12-19 20:42] gastaldi commented on #1499
The OSIO addon will remain as is until the new UXD flow is implemented. Closing this issue now

[2017-12-19 20:42] #1499 closed

[2017-12-19 20:59] jiekang commented on #1713
Closing as PR has been merged.

[2017-12-19 20:59] #1713 closed

[2017-12-19 21:00] jiekang commented on #1622
A PR for this has been merged on the UI side. For the UI, the last step is to swap the service from returning mock data, to making a http request and returning the data in the response.

[2017-12-20 00:29] #1711 closed

[2017-12-20 00:49] joshuawilson commented on #1717
Is this something we want the user to control? Or is it a privilege that we assign?

[2017-12-20 03:14] joshuawilson commented on #1707
I'm not sure if this is a bug or a question about the user flow.
@catrobson can you please have someone look into this?

[2017-12-20 03:17] alexeykazakov commented on #1683
One che server per cluster IMO scales worse. Maybe it's better performance wise but it makes any manipulations with clusters (new clusters, updates in existing ones) more complicated.

If talking about performance then shouldn't we move to support of multiple che-server replicas instead?

[2017-12-20 03:21] alexeykazakov commented on #1717
Both. Some groups should be available for the user to change (experimental, beta) and some should be limited (internal).

[2017-12-20 04:13] rootAvish opened #1727 "Improve companion recommendations for entire Vert.x and SpringBoot ecosystem to support release of IDE extenstions"
## User Story

As an OSIO or IDE extensions user, I should be able to get companion recommendations for any stack that contains packages from the SpringBoot or Vert.x ecosystem.

## Acceptance Criteria

IDE users should be able to get reasonable companion recommendations for the Vert.x(partial support) and SpringBoot ecosystems.

For a recommendation to be acceptable:

* The testing and evaluation

[2017-12-20 04:15] rootAvish commented on #1727
@sivaavkd Please see this. I couldn't find the epic for the IDE extensions with the search for type/epic & stream/analytics, if there is one elsewhere can you please link it here?

[2017-12-20 07:14] sivaavkd commented on #755
@ldimaggi Is this still an issue?  I am moving it to Analytics backlog for now.  Based on what you find in your tests, we will either close or target for a sprint. -- Thanks, Siva Kumar

[2017-12-20 08:29] hferentschik commented on #1707
IMO it is both. In its current form, it is a bug. However, I also think the overall flow is not quite right.

[2017-12-20 09:52] pbergene commented on #1724
Yeah, I don't have access to that myself and I don't think JF has. Need to try to sync with someone to see who actually has access to get an idea of the current situation and what is the intended process. That would be kb and vpavlin, both of who are on PTO, so this conversation will likely have to be resumed then.

[2017-12-20 10:10] l0rd commented on #1683
Agree. We need to decide between making something slightly more complicated vs having a little performance risk.

We need to solve this before https://github.com/eclipse/che/issues/7662 but yes I agree with you.

[2017-12-20 10:40] ibuziuk commented on #1666
@mmclanerh Thanks for an update - verified on prod-preview and workspace creation works just fine. Closing

[2017-12-20 11:06] l0rd commented on #1683
After discussion with @ibuziuk we agreed that the best approach will be to have a single multi-cluster Che server. And to raise priority for https://github.com/eclipse/che/issues/7662 to beeing able to scale when needed.

[2017-12-20 12:51] jpopelka commented on #688
@msrb Re-openning since I think this was closed by mistake.

The code change is being done in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/355 (follow-up of https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/335)

[2017-12-20 12:56] GeorgeActon commented on #833
@samuzzal-choudhury I set this to a bug SEV3. Please confirm.

[2017-12-20 13:25] catrobson commented on #1707
+1 that this is confusing right now.  I don't think there is a bug here actually, I think this is as designed currently.  We'll work on improving this as we update the space dashboard designs.

[2017-12-20 14:12] GeorgeActon commented on #694
@GeetikaBatra is this still valid?

[2017-12-20 14:24] GeetikaBatra commented on #694
@GeorgeActon, No, This was covered with the updated sites.

[2017-12-20 16:02] #694 closed

[2017-12-20 17:37] ibuziuk commented on #1621
@rhopp memory limits for multi-tenant che have been updated. Could you please verify & close if not reproducible ?

[2017-12-20 17:39] ibuziuk commented on #1616
@ldimaggi @rhopp closing. Feel free to reopen

[2017-12-20 17:39] #1616 closed

[2017-12-20 17:51] ibuziuk commented on #1610
@nimishamukherjee closing, since this is considered to be expected behavior (while using desktop IDE like Eclipse / InteliJ you would get the very same UX). Please, feel free to open new issue against https://github.com/eclipse/che if you think that having preferences for disabling subsequent run commands should be in place

[2017-12-20 17:51] #1610 closed

[2017-12-20 17:57] ibuziuk commented on #1476
Closing, since single multi user Che master serves all openshift.io users since Tuesday morning

[2017-12-20 17:57] #1476 closed

[2017-12-20 17:59] ibuziuk commented on #531
verified on prod. Closing

[2017-12-20 17:59] #531 closed

[2017-12-20 18:04] ibuziuk commented on #641
Closing. Connection leaks are not spotted on prod in multi-tenant che.
@ldimaggi feel free to reopen

[2017-12-20 18:04] #641 closed

[2017-12-20 18:13] ibuziuk commented on #1174
This should be fixed once PR is merged - https://github.com/redhat-developer/rh-che/pull/496
User will not be able to start a new workspace if there is already one running via dashboard on osio

[2017-12-20 19:13] andrewazores opened #1728 ""Delete" menu item on the Deployment page should display toast notification"
Clicking the "delete" menu item of a deployment card should produce a toast notification informing the user of the action's success or failure.

[2017-12-20 20:24] gastaldi commented on #1723
![screenshot_20171220-181758](https://user-images.githubusercontent.com/54133/34227038-de4e1f14-e5b2-11e7-9f22-bf6cbaae5880.png)

I can confirm this is fixed. +1 to close this issue

[2017-12-20 20:34] #1723 closed

[2017-12-20 21:48] rupalibehera commented on #1648
After these changes have been merged ,  https://github.com/fabric8io/jenkins-sync-plugin/pull/8, https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/127, https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/59 and https://github.com/fabric8-services/fabric8-tenant/blob/426a97ccaf41e320818ae3fdd9b39a2333692a6c/JENKINS_VERSION.
As reported by @jfchevrette these api watch call h

[2017-12-20 21:56] jfchevrette commented on #1648
A graph is worth a thousand words (or something like that)

![prom-jenkins-api-calls-low](https://user-images.githubusercontent.com/3001/34230638-baabdb34-e5a6-11e7-9561-4ead92fd7bac.png)

[2017-12-21 04:42] joshuawilson commented on #1687
cc @aslakknutsen @xcoulon

[2017-12-21 04:56] joshuawilson commented on #1685
@dlabrecq you think you want to take this on?

[2017-12-21 04:57] joshuawilson commented on #1682
@kwk who do you suggest fix this? It has been sitting here 6 days now?

[2017-12-21 05:04] ldimaggi opened #1729 "Cannot create a new app/quickstart on https://openshift.io - 412 error code returned"
Just stated seeing this - when creating a new quickstart - this error is occurring - seems to be reproducible:

![screenshot from 2017-12-21 00-03-05](https://user-images.githubusercontent.com/642621/34241290-7b81ed2c-e5e2-11e7-80c2-8d16a4332fab.png)

[2017-12-21 05:05] ldimaggi commented on #1729
Nothing is written to the Jenkins pod log when the error occurs.

[2017-12-21 05:13] joshuawilson commented on #1729
Does the repo `testDec21` already exist, as that is the error listed?

[2017-12-21 05:19] joshuawilson commented on #1680
are you still seeing this?

[2017-12-21 05:45] samuzzal-choudhury commented on #1647
License server response time was consistently between 6-10 milliseconds.

Some examples -
[code]

[2017-12-21 09:11] xcoulon opened #1730 "Expose toggled feature information in the service API"
The `/api/features/:name` endpoint should expose the following data to the client, so it can react accordingly (ie, show a component with the appropriate banner, etc.):
- description (string, mandatory): the description of the feature
- enabled (boolean, mandatory): marks if the feature is globally enabled (prior to applying strategies)
- user-enabled (boolean, mandatory): marks if the feature is

[2017-12-21 09:29] kwk commented on #1682
@joshuawilson it is assigned to me, so I'm supposed to fix this. And there's already a PR open. I tried to be extremely pedantic about changing the `status/XY` label to indicate what's happening. Please have a look at this pending PR https://github.com/fabric8-services/fabric8-wit/pull/1810.

[2017-12-21 09:52] pbergene commented on #1648
That is absolutely awesome. Fixed and verified.  Thanks everyone, closing it off :)

[2017-12-21 09:52] #1648 closed

[2017-12-21 10:37] rhopp commented on #1621
I've run soak tests for workspace creation and the issue did not appear. Closing.

[2017-12-21 10:37] #1621 closed

[2017-12-21 11:52] sunilk747 commented on #1695
CDDL 1.0, CDDL 1.1 and CDDL 2 added.

[2017-12-21 11:53] sunilk747 commented on #1695
MPL 2.0 added.

[2017-12-21 12:15] ldimaggi commented on #1729
Closing - not reproducible. I had seen this multiple times late on December 20 - with repo's that did not previsouly exist. Not sure what happened. Thx!

[2017-12-21 12:15] #1729 closed

[2017-12-21 12:28] ldimaggi commented on #1680
Haven't seen this since Che switch to multi-tenant - will retry today and hopefully close.

[2017-12-21 12:46] tisnik commented on #1231
FYI: now we have 100% of sources covered by Pylint and Pydocstyle as well.

[2017-12-21 13:13] joshuawilson commented on #1682
sorry, I missed the assignment ;-)

[2017-12-21 15:06] tisnik commented on #1226
ATM the pylint tests are 100% ok and pydocstyle checks 56% of source codes:
https://fabric8-analytics.github.io/dashboard/dashboard.html

[2017-12-21 15:07] ibuziuk commented on #1699
@slemeur was not able to reproduce so far. Basically, it is quite weird to see this problem for multi-tenant che since it is supposed to be always available. Please, report here if you will be able to repro this again.
For now I would still keep it open and close & verify after  all toggle / migration code will be removed from che-starter / init tenant https://github.com/redhat-developer/rh-che/is

[2017-12-21 15:25] ibuziuk commented on #1573
@ldimaggi @rhopp this one should be fixed - could you please verify ?

[2017-12-21 15:27] ibuziuk commented on #1510
@ldimaggi I believe this one is related to various wsagent / route flapping issue. Could you please verify ?

[2017-12-21 15:46] joshuawilson commented on #1612
What is the status of this?

[2017-12-21 15:49] ibuziuk commented on #1612
free-int is no longer used as prod-preview cluster, so probably we can just close this one as out-of-date

[2017-12-21 15:50] joshuawilson commented on #1650
Is this still an issue?

[2017-12-21 15:51] ibuziuk commented on #1612
@rhopp ah, sorry - looks like you have the very same problem on https://console.free-stg.openshift.com. Reopening, but I can not repro it on new cluster

[2017-12-21 16:01] joshuawilson commented on #1657
Can you provide an example? We do have a `input needed` thing on the pipeline, that is at the `stage` stage. Are you talking about that or something else?

[2017-12-21 16:10] jfchevrette commented on #1657
@joshuawilson In the screenshot I posted above, the actual jenkins job was at the Approve (Input Needed) step.

The page under Create / Pipelines was showing an "Input needed" message as expected but the Pipelines panel on the main/Analyze page was showing the pipeline as "Running"

[2017-12-21 16:11] joshuawilson commented on #1657
Ah, so it is bug then.

[2017-12-21 16:12] joshuawilson commented on #1657
Can you reproduce it?

[2017-12-21 16:16] joshuawilson commented on #1634
What is the status on this?

[2017-12-21 16:45] joshuawilson commented on #1628
It sounds reasonable to me but I would like @aslakknutsen to reply too.

[2017-12-21 16:49] joshuawilson commented on #1468
@catrobson @qodfathr do you want the history for work items to be a part of the planner or for the whole service? I can see it being used a lot in the planner but also having value external to it.

[2017-12-21 17:10] joshuawilson commented on #1638
@catrobson can you confirm that the `my work items` on the dashboard should be those assigned to me vs the ones I've made.

[2017-12-21 17:14] joshuawilson commented on #1637
@ldimaggi do you have a reliable way to reproduce this?

[2017-12-21 17:16] joshuawilson commented on #1636
@tisnik it shouldn't be both `in-progress` and going to work it `sprint/next`. `sprint/next` is a label for planning what you will do.

[2017-12-21 17:28] joshuawilson commented on #1565
@nimishamukherjee is this reproducible?

[2017-12-21 17:33] jiekang commented on #1535
Closing as PR has been merged.

[2017-12-21 17:33] #1535 closed

[2017-12-21 17:36] #1712 closed

[2017-12-21 17:43] joshuawilson commented on #1630
@aslakknutsen do we have an api for this?

[2017-12-21 17:45] alexeykazakov commented on #1630
No we don't. Yet.

[2017-12-21 18:01] jiekang commented on #1534
Closing as PR was merged. The extra functionality will be another issue and PR

[2017-12-21 18:01] #1534 closed

[2017-12-21 18:18] ldimaggi opened #1731 "On prod-preview - seeing slower than usual times to start a build pipeline"
Noticed this today - it is taking up to 5-6 minutes for a build pipeline to start, while creating a new quickstart/app:

![screenshot from 2017-12-21 12-30-54](https://user-images.githubusercontent.com/642621/34269129-383c07f4-e651-11e7-8c4c-5fb93aaed234.png)

Seeing messages such as the following written to the Jenkins log every 30 seconds - does nayone know what is going on here?
[jenkins_log.tx

[2017-12-21 18:50] joshuawilson commented on #1629
@aslakknutsen @xcoulon what would it take to implement this?

[2017-12-21 19:12] joshuawilson commented on #1627
cc @aslakknutsen

[2017-12-21 20:14] joshuawilson commented on #1584
@catrobson is this something that can be changed or influenced? Or should we close this as "can't fix"?

[2017-12-21 20:19] mindreeper2420 commented on #1715
I was only able to successfully run the build after I downgraded to npm 5.5.1. with node 8.3.0, and deleted the package-lock.json file.

[2017-12-21 20:23] #1728 closed

[2017-12-21 20:26] joshuawilson commented on #1715
Please set Node to v8.3.0 and npm to v5.3.0

[2017-12-21 20:28] qodfathr commented on #1468
@joshuawilson let me answer it this way. I assume the audit is available via an API owned by the work item tracking service. This API, in turn, will be used by the Planner to display history details within a work item. But this should not prohibit some other part of the system from also displaying audit history. This is particularly true, because Planner does not even know about all of the work it

[2017-12-21 20:52] joshuawilson commented on #1468
That fits with my understanding, thanks.

So the Planner can build out a history UI for planner things.

[2017-12-21 21:06] joshuawilson commented on #1617
@mindreeper2420 is this fixed?

[2017-12-21 21:18] joshuawilson commented on #1582
This is getting completely redesigned. Closing.

[2017-12-21 21:18] #1582 closed

[2017-12-21 21:42] mindreeper2420 commented on #1617
I’ll need to check against Master, as I don’t think the fix made it to prod before the freeze. I’ll update this story once I know.

[2017-12-21 22:24] mindreeper2420 commented on #1617
@joshuawilson There was an oddity that threw an error when the card's internal structure was not the same (it differs depending on the data inside of it). I filed PR https://github.com/fabric8-ui/fabric8-ui/pull/2349 to remedy this situation.

[2017-12-22 01:05] joshuawilson commented on #1605
@dlabrecq @mindreeper2420 can you guys take a look at this.

[2017-12-22 01:11] dlabrecq commented on #1605
What should the limit be?

[2017-12-22 01:34] mindreeper2420 commented on #1605
The general online consensus is 70-80 characters. The US Web Design Standards don't say anything on limits, just accessibility requirements (https://standards.usa.gov/components/form-controls/#text-input).

PatternFly does not have any suggestions on limits either, only styling for validation conditions.

[2017-12-22 01:50] #1680 closed

[2017-12-22 02:32] joshuawilson commented on #1598
I added `area/ui` because this issue and fix are in the styles and placement of text and icons on the screen. It does not mean the UI for the planner. It also has `area/planner` since this issue is in the planner app.

@RanjithRV this is a good example of `area/UI`.

[2017-12-22 02:37] joshuawilson commented on #1579
@qodfathr can you please update the guide in this regard.

[2017-12-22 02:49] krishnapaparaju commented on #1524
@bmicklea Except items related to 'Engineering Work', all other work items carry same/high priority. While working towards these high priority items, comfortable to close on these by end of the current train.

[2017-12-22 02:58] joshuawilson commented on #1607
What is the status on this?

[2017-12-22 03:02] joshuawilson commented on #1606
@mindreeper2420 are you going to fix this? or do you need help? Maybe @dlabrecq could assist you.

[2017-12-22 04:07] joshuawilson commented on #1586
This is just a refresh issue, closing.

[2017-12-22 04:07] #1586 closed

[2017-12-22 04:16] joshuawilson commented on #1603
This page has already been completely redone. It will get pushed to prod in the new year. Closing.

[2017-12-22 04:27] rootAvish commented on #1429
@abs51295 Since you're coding the outlier logic you might want to assign yourself here.

[2017-12-22 05:41] GeetikaBatra commented on #1278
This should be closed with the merge of following PR.
https://github.com/openshiftio/saas-analytics/pull/179

[2017-12-22 07:00] rhopp commented on #1612
I had the same problem on free-stg, but it's solved now. @ibuziuk feel free to close this one (I don't have rights to do that)

[2017-12-22 07:01] joshuawilson commented on #1600
@catrobson I don't know if we are squishing a good icon or the wrong one was provided.
@gastaldi can you talk to the owners.

[2017-12-22 07:03] #1612 closed

[2017-12-22 09:44] gastaldi commented on #1600
@edewit can you identify if the correct icon image is used in this case?

[2017-12-22 10:26] gastaldi commented on #1600
This is what we use in the launcher-frontend: https://github.com/fabric8-launcher/launcher-frontend/blob/master/src/assets/img/project-select-icons/vertx.svg

[2017-12-22 12:27] ldimaggi commented on #1637
No - sadly - the bug is random. It seems better now, since the change to Che - will watch this and hopefully close it if the problem is not seen.

[2017-12-22 12:28] ldimaggi commented on #1510
Closing as this has not been seen recently.

[2017-12-22 12:28] #1510 closed

[2017-12-22 12:51] ldimaggi commented on #384
Closing - the related issues and PRs are:

- https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/909 (closed)
- https://github.com/fabric8-ui/fabric8-ui/pull/1873 (closed - made obsolete by 2341)
- https://github.com/fabric8io/fabric8-pipeline-library/pull/371  (merged)
- https://github.com/fabric8-ui/fabric8-ui/pull/2341 (Dec 22 - not yet merged - tests are now running on PR)
- https://jenkins

[2017-12-22 12:51] #384 closed

[2017-12-22 12:59] ldimaggi commented on #1637
Just saw it again....

![screenshot from 2017-12-22 07-46-55](https://user-images.githubusercontent.com/642621/34298914-18de12ec-e6ee-11e7-8122-e8faf7686b83.png)

[2017-12-22 18:34] alexeykazakov commented on #1586
Yeah sure. But the fact that OSIO still requires hard refresh is a bug itself.

[2017-12-23 03:36] joshuawilson commented on #1586
very true

[2017-12-23 10:19] rkratky commented on #408
@ldimaggi, @l0rd, is that a known issue that will be fixed eventually, or is that expected behaviour? If it is expected (which I assume it is when Mario says it's "by design"), shouldn't the UI be updated/modified to make it clear to users?

[2017-12-24 02:11] joshuawilson commented on #1580
Closing as this page is going through a complete redesign.

[2017-12-24 02:11] #1580 closed

[2017-12-24 02:19] joshuawilson commented on #1576
@ashumilova you may want to talk to @dlabrecq. I think he worked on this.
We may need some UX help on this from @catrobson and team.

[2017-12-24 02:22] joshuawilson commented on #1575
Closing, duplicate of https://github.com/openshiftio/openshift.io/issues/1566

[2017-12-24 02:22] #1575 closed

[2017-12-24 02:25] joshuawilson commented on #1574
The entire navigation and flow is being redesigned.
cc @catrobson

[2017-12-24 02:26] joshuawilson commented on #1572
cc @qodfathr

[2017-12-24 02:52] joshuawilson commented on #1571
I've been looking into this with @mindreeper2420. We think we know what it is.
cc @michaelkleinhenz @nimishamukherjee

[2017-12-24 03:30] joshuawilson commented on #1568
This page is being completely redesigned in the new Deployments page. Closing.

[2017-12-24 03:30] #1568 closed

[2017-12-24 03:33] joshuawilson commented on #1567
This page is being replaced by the Deployments page but we should keep this in mind.

@andrewazores @jiekang please take a look at this and make sure you take this into consideration.

[2017-12-24 03:35] joshuawilson commented on #1563
cc @qodfathr

[2017-12-24 03:48] joshuawilson commented on #1562
The navigation is going through a major redesign.
cc @catrobson

[2017-12-24 03:55] joshuawilson commented on #1561
you should take a look at https://github.com/openshiftio/openshift.io/issues/287 and the work the team is doing around it. Please provide feedback on the new designs.

cc @catrobson

[2017-12-24 04:14] joshuawilson commented on #1477
@debloper did you want to continue this or should we close it?

[2017-12-24 04:16] joshuawilson commented on #344
What is meant by this that is different then https://github.com/openshiftio/openshift.io/issues/354?

[2017-12-24 04:38] joshuawilson commented on #139
This was removed a while ago.

[2017-12-24 04:38] #139 closed

[2017-12-26 06:19] tuxdna commented on #1404
This PR https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/218 was updated and reviewed, and is good to merge.

[2017-12-26 06:56] sunilk747 commented on #1695
MPL 2.0 added.

[2017-12-26 08:21] invincibleJai commented on #1690
Related PRs :
https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/pull/20
https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/50

[2017-12-26 14:45] aditya-konarde commented on #1586
@joshuawilson I think this issue should stay open, and that needs to be fixed. Doesn't look good to me from a UX perspective.

[2017-12-26 21:11] ldimaggi commented on #1194
May have found a root case for this error:  Unexpected exception in CPS VM thread
[code]

[jenkins_log.txt](https://github.com/openshiftio/openshift.io/files/1587884/jenkins_log.txt)

[2017-12-27 14:15] ldimaggi opened #1732 "Intermittent error in creating pipeline - Unexpected exception in CPS VM thread"
Seeing this once or twice this week -  Unexpected exception in CPS VM thread

Steps to recreate:
* Create new space
* Create new quickstart
* Observe build pipeline fail
[code]

[jenkins_log.txt](https://github.com/openshiftio/openshift.io/files/1587884/jenkins_log.txt)

[2017-12-27 14:24] ldimaggi commented on #1194
Moving that new error into a separate issue -

[2017-12-27 14:26] ldimaggi opened #1733 "Creating Che workspace could fail after logout / workspace idling (KC token used by Che is invalidated)"
Example error reported it:  Could not start workspace. Reason: Start of environment 'default' failed. Error: Pod with deployment name not found

![screenshot from 2017-12-26 18-50-54](https://user-images.githubusercontent.com/642621/34384085-e999baec-eae7-11e7-94bf-9469f04477b9.png)

![screenshot from 2017-12-26 18-46-33](https://user-images.githubusercontent.com/642621/34384086-e9ac62aa-eae7-11e7

[2017-12-27 19:55] dlabrecq commented on #1576
The “sync” is more of a validation to ensure a code base can be created from the information provided — an invalid entry will demonstrate this. The “completely irrelevant” information obtained from GitHub simply confirms that. At this point, “it gets better” because now we’re able to proceed by “associating” the repo.

I have defer to @mindreeper2420 regarding the terminology...

[2017-12-28 04:15] ldimaggi commented on #1733
Not reproducible - closing.

[2017-12-28 17:50] jarifibrahim opened #1734 "FABRIC8_REALM value doesn't actually affect realm value in Fabric8-ui"
Steps to reproduce
1. Run `docker run -p 8080:8080  -e PROXY_PASS_URL="https://api.free-int.openshift.com" -e FABRIC8_REALM="someRandomText" fabric8/fabric8-ui:v1fa6be7`
2. Login to fabric8-ui
3. Open network tab and check the URL for the `token` request. It should be `https://sso.prod-preview.openshift.io/auth/realms/someRandomText/broker/openshift-v3/token` but instead it is `https://sso.prod-pr

[2017-12-28 17:51] jarifibrahim commented on #1734
Can someone please assign this issue to me?

[2017-12-28 17:54] abs51295 commented on #1734
Done @jarifibrahim :)

[2017-12-28 18:01] jarifibrahim commented on #1734
Thanks @abs51295

[2017-12-28 19:43] hferentschik commented on #1576
Sure, I get that. However, even apart from the inconsistency "syncing" != "validation". From http://www.yourdictionary.com/syncing - " Transferring data between two or more devices so they will have the same files". That's what most people understand under "syncing". What happens here is "get repository info", a step which is imo unnecessary, especially if the best we can come up with is to presen

[2017-12-29 15:22] abs51295 commented on #1647
Outlier detection was identified as a performance bottleneck for PGM and a new logic was set in place. The documentation for the same can be found at: https://docs.google.com/a/redhat.com/document/d/1kLyEbJDY8LuCU5nr2kvcHivCFm-bAEe-38bI_IkeCfs/edit?usp=sharing. Also, the code can be found at: https://github.com/abs51295/fabric8-analytics-stack-analysis/tree/outlier_detection

[2018-01-01 01:53] ldimaggi opened #1735 "Intermittent maven error results in build pipeline failures"
This error showed up multiple times on December 31 - while executing build pipelines on quickstarts:
[code]

The workaround was to simply retry - any ideas on causes for this?

[maven_fail_log_Dec31_1.txt](https://github.com/openshiftio/openshift.io/files/1595570/maven_fail_log_Dec31_1.txt)
[maven_fail_log_Dec31_2.txt](https://github.com/openshiftio/openshift.io/files/1595571/maven_fail_log_Dec31_

[2018-01-01 01:55] ldimaggi commented on #1731
Seeing multiple instances on December 31 - log attached.

[pod_slow_start.txt](https://github.com/openshiftio/openshift.io/files/1595572/pod_slow_start.txt)

[2018-01-01 02:27] ldimaggi commented on #1733
Automated tests (and manual checking) seeing this repeatedly today (Dec 31).

[2018-01-01 02:28] ldimaggi commented on #1733
Seems like this bug is back - https://github.com/openshiftio/openshift.io/issues/1599

[2018-01-02 01:28] ldimaggi commented on #1731
Another example - 14+ minutes to start a build:

![screenshot from 2018-01-01 20-24-13](https://user-images.githubusercontent.com/642621/34472524-55e78ff0-ef32-11e7-857c-177463173259.png)

[2018-01-02 04:34] joshuawilson commented on #1586
Are you saying it should stay open because it looks bad in the image you posted or because we have caching issues?

[2018-01-02 04:41] joshuawilson commented on #1734
@alexeykazakov @sbose78 @xcoulon do any of you remember where and why we use this?

[2018-01-02 05:44] alexeykazakov commented on #1734
Keycloak realm is used to construct the URL for OSO token endpoint: https://sso.openshift.io/auth/realms/fabric8/...
We use different realm names in dev env (fabric8-test) and preview/prod (fabirc8). We won't need any realm name in UI as soon as we switch to Auth for OSO account linking.

[2018-01-02 05:55] sivaavkd opened #1736 "[Spike][PoC] Deep and Wide models to support Node ecosystem"
Start working towards Deep and Wide models

[2018-01-02 05:56] sivaavkd opened #1737 "Implement Bayesian Neural network/ hierarchical Inference using Edward to scale the approach for NPM"
### User Story

As a Fabric8-analytics IDE user I should be able to get recommendations for the NPM ecosystem within the time frame committed in the SLA.

### Acceptance Criteria

Confirmation about whether this approach is scalable and works for the node ecosystem, a working POC of the same.

### Description

The current approach uses a Bayesian network(hierarchical Bayesian inference) built on t

[2018-01-02 08:10] sivaavkd opened #1738 "Sprint 143 Planning: Fabric8 Analytics"
## OSIO Analytics Sprint 143

### Sprint Goals
**Publishing IDE extensions for OSIO analytics platform (VSCode, DevStudio)**
- [x]  <img width="31" alt="screen shot 2018-01-09 at 7 59 14 pm" src="https://user-images.githubusercontent.com/15967765/34725740-dcd64010-f577-11e7-9288-d2e6b61a18dc.png"> UX related enhancements for the stack report  (https://github.com/openshiftio/openshift.io/issues/177

[2018-01-02 10:38] tisnik opened #1739 "[2] The QA Dashboard should contain matrix with all relevant CI jobs"
The QA Dashboard https://fabric8-analytics.github.io/dashboard/dashboard.html should contain matrix with all relevant CI jobs.

An example:

[code]

Also:
use icon/color to display status of the last build

[2018-01-02 10:40] #1702 closed

[2018-01-02 10:40] #1703 closed

[2018-01-02 11:21] sara-02 commented on #1674
@arunkumars08 What is the status on this? The work from the API side is complete now.

[2018-01-02 11:28] sara-02 opened #1740 "Capture user feedback for the stack-analysis report."
## User Story:
As an OSIO user, the feedback I submit should be stored against each recommendation.

## Description:
Once the user submits the feedback, we need to have a mechanism to save the feedback in RDS to be consumed by analytic.
The end-to-end flow depends on the new UX being implemented. This task focuses on having the back end flow ready to be integrated.

## Acceptance Criteria:
Have an

[2018-01-02 12:08] joshuawilson opened #1741 "unable to build fabric-ui due to docker access blocked"
There are several PRs that can not build on fabric8-ui with the following error.

[code]
ex https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-ui/view/change-requests/job/PR-2350/1/console

[2018-01-02 12:10] ibuziuk commented on #1733
@ldimaggi can you repro this against prod-preview ?

[2018-01-02 12:25] ldimaggi commented on #1733
Seeing the same problem on prod-preview today too.

[2018-01-02 12:51] aditya-konarde commented on #1733
@ldimaggi can you reproduce this on prod?

[2018-01-02 12:54] #1688 closed

[2018-01-02 13:04] ibuziuk commented on #1733
this one is related to https://github.com/openshiftio/openshift.io/issues/1649
Seeing the following in che server logs:
`

{"@timestamp":"2018-01-02T11:02:11.898+00:00","@version":1,"message":"Workspace 'ldimaggi-osiotest1/rehsk' with id 'workspaceop10g5rm201wt01e' is being stopped by user 'activity-checker'","logger_name":"org.eclipse.che.api.workspace.server.WorkspaceManager","thread_name":"Work

[2018-01-02 13:08] chmouel commented on #1741
I had rawlingjs removed from the user rights on docker hub, i have just added back and it should be fixed now. We are going to work to move away from james username, https://github.com/orgs/fabric8io/projects/2#card-6423971

[2018-01-02 13:09] chmouel commented on #1741
as per https://hub.docker.com/r/fabric8/fabric8-ui/tags/ It has now uploaded properly, closing this

[2018-01-02 13:09] #1741 closed

[2018-01-02 13:55] ldimaggi commented on #1733
A keycloak token issue is causing this error.

If you logout without stopping a pending workspace, and leave your che account as is, then after some time workspace idling will be triggered and then, the last keycloak token that was used to interact with the che server will be invalid and the openshift resources associated to your workspace will not be correctly cleaned on idling.

The thing is the

[2018-01-02 13:58] joshuawilson commented on #1741
thanks

[2018-01-02 14:05] jiekang commented on #1655
It would be much preferred if the pod status was in the format:
[code]

[2018-01-02 14:10] catrobson commented on #1638
@joshuawilson - Correct, these should be work items assigned to me.

[2018-01-02 14:22] catrobson commented on #1584
Let's close this as "can't fix".

[2018-01-02 14:22] #1584 closed

[2018-01-02 14:49] ldimaggi commented on #1733
Workaround to this bug = reset the user environment (from Update Profile in the OSIO UI).

[2018-01-02 14:50] catrobson commented on #1600
I don't think this was designed to handle the logo in the card.  Our new design shouldn't have the application name in the card at all.  Do we really think showing the technology logo is valuable here?  I'd think that the application name that the user has provided is far more important and shouldn't be distracted from by a runtime logo.

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens

[2018-01-02 14:53] ldimaggi opened #1742 "On https://openshift.io - creating new quickstart - repo path overwrites display"
![screenshot from 2018-01-02 08-42-49](https://user-images.githubusercontent.com/642621/34487548-c33f866e-efa2-11e7-9750-e838716ac582.png)

[2018-01-02 15:06] tisnik opened #1743 "[2] Provide CLI options for the dashboard generator"
The following CLI options would be useful:

- enable/disable part "Services liveness and readiness"
- enable/disable part "SLA"
- enable/disable part "Code quality"
- enable/disable part "CI jobs"
- whether to make local clone of all repositories
- whether to cleanup local clones ^ after the dashboard is generated

[2018-01-02 15:13] tisnik opened #1744 "[3] Provide unit tests for the sources from repository fabric8-analytics-tagger"
There are no unit tests created and CI job configured for the fabric8-analytics-tagger repository:
https://fabric8-analytics.github.io/dashboard/dashboard.html

Acceptance criteria:

- [x] a few unit tests prepared
- [x] CI job configured
- [x] QA dashboard updated
- [x] code coverage at least 75%

[2018-01-02 15:14] tisnik opened #1745 "Provide unit tests for the sources from repository fabric8-analytics-recommender"
There are no unit tests created and CI job configured for the fabric8-analytics-recommender repository:
https://fabric8-analytics.github.io/dashboard/dashboard.html

Acceptance criteria:

- [ ] a few unit tests prepared
- [ ] CI job configured
- [ ] QA dashboard updated

[2018-01-02 15:32] ldimaggi commented on #1733
What is the URL for that log?

On Tue, Jan 2, 2018 at 8:04 AM, Ilya Buziuk <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2018-01-02 15:40] dgutride opened #1746 "API: Need expanded delete space functionality"
Goal would be to have a DELETE /api/spaces/{id} to support UI in this story:

https://github.com/fabric8-ui/fabric8-ux/issues/610

Delete should not just delete the space from the platform database, all labeled space entries on openshift should also be removed so we don't orphan entries.

Internally call:

* Deployment API for OSO App Removal
* Che for Workspace Delete

Long term:

* Build confirm

[2018-01-02 15:44] dgutride opened #1747 "API/Auth: OpenShift token auto connect"
We'd like to remove the getting started flow, github is now connected on demand.  We need to remove the need for users to connect their openshift account with openshift.io.  There is a blocker currently that @alexeykazakov will need to comment on but as soon as we provision a user for openshift.io, the openshift cluster should be auto connected and a token provided on login for retrieving openshif

[2018-01-02 15:47] dgutride opened #1748 "API: OpenShift environment suitability check"
We need an API to ensure openshift online projects are not present before we let user work with OpenShift.io.  User will encounter unexpected failures if any projects are present that they've added with OpenShift online before using OpenShift.io.  There is a new design to check their account on login (which a backend API is needed for) to ensure the environment is suitable for OpenShift.io

[2018-01-02 15:56] jiekang opened #1749 "Don't show application cards for environments where the application is not deployed"
If an application does not have any deployments in an environment, the card should not be shown.

If an application does have a deployment but has 0 pods, the card should still be shown with the relevant data.

[2018-01-02 15:58] jiekang commented on #1749
@catrobson Can you verify if this is the right way to go UX wise? Another option is to show some kind of empty card.

[2018-01-02 15:58] jiekang commented on #1714
@catrobson Can you verify if this is the right way to go UX wise? Another option is to show some kind of empty state.

[2018-01-02 16:05] jiekang opened #1750 "Make deployments sparkline chart data bounded"
The deployments sparkline chart should show the last 15 minutes of data. We should only hold the last 15 minutes in memory. At the moment the data is unbounded so leaving the application running on the page for a long time results in a slowdown and eventual crash.

[2018-01-02 16:06] catrobson commented on #1714
@jiekang Confirmed, this is how I would expect this to behave.

[2018-01-02 16:22] jiekang opened #1751 "UI: Show deployments tab"
The Deployments page is an experimental feature and the tab is hidden (though the page is visible). The tab should be shown.

[2018-01-02 16:23] ibuziuk commented on #1733
the logs are taken from multi-tenant che server pod deployed on prod dedicated

[2018-01-02 16:25] jiekang opened #1752 "UI: Remove applications and environments pages"
The applications and environments pages should be removed once the deployments page is complete.

[2018-01-02 16:47] jiekang commented on #1751
This should wait till the live data work has been merged.

[2018-01-02 17:27] qodfathr commented on #1572
Each of these should be tracked as a separate issue.

[2018-01-02 17:36] RickJWagner opened #1753 "Stack Report not depicted as seen in the Getting Started Guide"
On a recent walk-through of the Getting Started Guide, Stack Report did not appear as described in the  Guide.  Maybe an update to the depiction is needed?

[2018-01-02 17:36] RickJWagner opened #1754 "Getting Started Guide has awkward wording"
On a recent walk-through of the Getting Started Guide, this awkward wording was noted: "In the pipelines menu (, you may see"

[2018-01-02 17:37] RickJWagner opened #1755 "Getting Started Guide doesn't fully describe "Create WorkItem" features."
"Create Workitem" offered more features than the Getting Started Guide described.

[2018-01-02 17:38] RickJWagner opened #1756 "Getting Started Guide doesn't tell how to open the terminal in Che."
The user may not know how the terminal should be opened, please provide detail at this point in the Getting Started Guide.

[2018-01-02 17:39] RickJWagner opened #1757 "Getting Started Guide has 'Asdasdasd' template text in 'Update Tenant Services' section."
Getting Started Guide has 'Asdasdasd' template text in 'Update Tenant Services' section.

[2018-01-02 17:39] RickJWagner opened #1758 "Getting Started Guide has 'Asdasdasd' template text in 'Troubleshooting' section."
Getting Started Guide has 'Asdasdasd' template text in 'Troubleshooting' section.

[2018-01-02 17:40] ldimaggi opened #1759 "When creating new quickstart, IllegalStateException seen in Jenkins log - for successful builds"
There doesn't seem to be any adverse impact to the build, but the message as written to the Jenkins pod log may cause user concern. What is the cause of the IllegalStateException?

Steps to recreate:
* Create new quickstart
* Observe Jenkins pod log

[code]

[2018-01-02 18:16] eivantsov commented on #1756
Isnt terminal tab opened by default and active when a ws is up?

[2018-01-02 18:41] joshuawilson commented on #1751
As long as the Env and App tabs are kept we can turn this on with mock data.

[2018-01-02 18:41] joshuawilson commented on #1752
cc @dgutride

[2018-01-02 18:51] ldimaggi opened #1760 "On prod-preview, reset user environment fails - results in Jenkins pod not starting"
This is failing 100% of the time for the past hour or so.

![screenshot from 2018-01-02 13-49-20](https://user-images.githubusercontent.com/642621/34495610-fb535974-efc3-11e7-8d14-480bb01b987a.png)

![screenshot from 2018-01-02 13-49-02](https://user-images.githubusercontent.com/642621/34495611-fb664b92-efc3-11e7-83c7-6b178e18dc26.png)

[2018-01-02 18:57] jiekang commented on #1516
@c-koehler I think using *ngIf would not be viable if it recreates the chart every time. If there's any way to delay loading but not have it recreate, that would be great.

When you get time, could you do the same profiling you did earlier with the latest work? It has more charts now... As well, if you can, I'd be interested in seeing CPU and Memory usage of the deployments page. I'm worried the p

[2018-01-02 18:59] joshuawilson commented on #1600
I agree I don't see this as providing a lot of value.

[2018-01-02 19:01] ldimaggi commented on #408
+1 is there any way to shield the users from this error? Or - can we simply document this?

[2018-01-02 19:02] jiekang commented on #1751
Okay, I'll look into it then.

[2018-01-02 20:34] #868 closed

[2018-01-02 20:56] #1385 closed

[2018-01-03 03:43] sunilk747 opened #1761 "Determine a representative license for a github repository given by user"
## Description
The task here is to determine a representative license for a github repository given by the user. The user will give repository url as an input and our license analysis platform should be able to determine a license the user can use by taking into consideration all the transitive and immediate dependencies for that repository.  The final representative license shouldn't be in confli

[2018-01-03 03:47] sunilk747 opened #1762 "Transitive dependencies licenses should be considered while computing representative license"
## User story
As an OSIO developer I should get a conflict free representative license for my selected stack.

## Description
As of now while computing representative license for user stack the licenses for transitive dependencies are not considered. The license analysis platform only consider the immediate dependencies. This leads to a conflict situation between different packages. This user stor

[2018-01-03 04:17] rootAvish commented on #1471
This is resolved in the PGM retrain of https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/164.

[2018-01-03 04:17] #1471 closed

[2018-01-03 05:14] aditya-konarde commented on #1600
@catrobson +1.

[2018-01-03 05:35] krishnapaparaju commented on #1738
@sunilk747 Please include the License related EPIC (next steps) as part of the sprint plan

[2018-01-03 05:36] krishnapaparaju commented on #1738
@miteshvp Please include PGM caching related work item

[2018-01-03 05:39] krishnapaparaju commented on #1738
@invincibleJai Please include work items related to quick POCs around (a) Insights at Che (b) Flagging CVEs, Stack level Licenses at build, pipelines screens. Goal is to iterate a quick POC and get it reviewed with PM team.

[2018-01-03 05:42] krishnapaparaju commented on #1738
@rootAvish @abs51295  Please include spikes around research around analytics: (a) based on Bayesian networks with Edward to have Bayesian networks run on deep neural networks (b) Plain deep neural networks

[2018-01-03 05:44] krishnapaparaju commented on #1738
@samuzzal-choudhury we wanna wrap up fixing performance bottlenecks by end of sprint # 143. Please change #1144 / create  a new issue and include as part of the sprint plan.

[2018-01-03 05:52] krishnapaparaju commented on #1738
@miteshvp Please include the issue covering remaining work items related to insights for VertX and SpringBoot ecosystems.

[2018-01-03 05:57] krishnapaparaju commented on #1738
@sivaavkd please remove #1521

[2018-01-03 05:59] #1690 closed

[2018-01-03 05:59] krishnapaparaju commented on #1738
Please remove code merge related work until UX work is done for this activity

[2018-01-03 06:00] krishnapaparaju commented on #1738
@sivaavkd  From this sprint, please remove integrating into Che files as currently OSIO support Che version 5x and this Che files format is being planned for Che version 6x.

[2018-01-03 06:14] samuzzal-choudhury opened #1763 "Fix identified stack analyses bottlenecks and publish resource requirements"
## User Story
As a Fabric8-Analytics developer I would like to fix `/stack-analyses` performance bottlenecks so that subsequent load and performance testing can be done on the revised API endpoints and resource requirements can be published.

## Description
We have already identified the various performance bottlenecks in the existing `/stack-analyses` by running performance and load tests. In thi

[2018-01-03 07:00] ravsa opened #1764 "POC for Dependency Editor flow"
#### User Story:

As an OSIO user, I will be able to generate my own stack and also be able to select my custom dependencies related to the details.

#### Description:
Allowing the user to edit (add/remove) the project dependencies once he selected one of the boosters in the project creation wizard and providing stack report of the project he is building.
Showing recommendations on the dependencie

[2018-01-03 07:11] msrb commented on #689
This is in prod now, thanks @pkajaba and @jpopelka 👍

[2018-01-03 07:11] #689 closed

[2018-01-03 07:11] miteshvp commented on #1727
@rootAvish - I've added two more task list items to this issue. I will be talking to experts to validate all our reference stacks for Vertx and Springboot

[2018-01-03 08:02] msrb commented on #1081
Everything should be merged and I just pushed the new worker to production. Thanks @jpopelka 😉

[2018-01-03 08:02] #1081 closed

[2018-01-03 08:24] tisnik commented on #1460
The test jobs has been created and now the CI run it periodically:
https://ci.centos.org/job/devtools-test-end-to-end-prod-fabric8-analytics/

Please note that six scenarios fail ATM: https://ci.centos.org/job/devtools-test-end-to-end-prod-fabric8-analytics/448/console

I'm looking at those failures.

[2018-01-03 08:32] tisnik commented on #1460
FYI: pull requests to almighty jobs that are related to this task:

https://github.com/almighty/almighty-jobs/pull/444/
https://github.com/almighty/almighty-jobs/pull/438

[2018-01-03 08:38] tisnik commented on #1230
PR to CI setup to run Pydocstyle:
https://github.com/almighty/almighty-jobs/pull/448

[2018-01-03 09:09] msrb opened #1765 "Remove Anitya service"
# User story

As a fabric8-analytics developer, I want to remove Anitya bits from the codebase and stage/prod deployments so this no longer used component is not consuming resources and flows are simpler.

# Description

We started using Anitya service for upstream release monitoring long time ago. Requirements changed since then quite significantly - we started relying on libio to provide informa

[2018-01-03 09:16] #1230 closed

[2018-01-03 09:28] miteshvp commented on #1727
Sent an email to Hrishikesh, Burr and Kamesh to help us validate the stacks.

[2018-01-03 09:39] tisnik commented on #1522
The CI job to run EE tests has been setup:
https://ci.centos.org/job/devtools-test-end-to-end-prod-fabric8-analytics/

Now we are about to figure what caused the failures.

[2018-01-03 09:43] sunilk747 opened #1766 "Improve license recommendation for end user"
## Motivation
The OSIO user should be able to get a conflict free license for it's selected stack or for a github repository.

## Description
As of now while computing final representative license our license analysis platform produce result without considering the effect of transitive dependencies on license compatibility. Which sometimes result in a license which are in conflict with others. So

[2018-01-03 09:59] msrb opened #1767 "Periodically get up-to-date CVE data for Maven components from NVD"
# User story

As a developer, I want to know if my manifest file contains components with known CVEs associated with them so I can decide whether upgrading/replacing such components is needed or not.

# Description

We scan components for known CVEs during ingestion. Refreshing already ingested data is problematic as NVD doesn't map CVEs to package names as we know them. However, we should be able

[2018-01-03 10:00] pkajaba commented on #1647
Why can't you add to the repository?

Why don't you create PR to have working code without bottlenecks inside the main repository? (I am sorry if you did, but I could not find it)

[2018-01-03 10:00] msrb commented on #1613
Followup task: https://github.com/openshiftio/openshift.io/issues/1767

[2018-01-03 10:01] #1613 closed

[2018-01-03 10:18] GeetikaBatra commented on #1697
@msrb, This is taken care by @tisnik,  I guess. Closing this one.

[2018-01-03 10:18] #1697 closed

[2018-01-03 10:21] debloper commented on #1477
@joshuawilson sorry, this one got overlooked last week (or I forgot to click the comment submit button).

I'm going to implement this for planner, depending on that experience you may wanna make a call whether it makes more sense or not (honestly, it's just an idea, and I'd like to discover the real-world implications too - on paper it definitely looks good to me). Till then, it's up to you whethe

[2018-01-03 10:29] jyasveer commented on #1523
Please refer this User Story for this task
https://github.com/openshiftio/openshift.io/issues/1693

[2018-01-03 10:29] #1523 closed

[2018-01-03 12:00] ravsa opened #1768 "POC - Display Insights from Fabric8-Analytics at Che UI"
#### Feature : https://github.com/openshiftio/openshift.io/issues/1706

#### User Story:

As an OSIO user, I will be able to see insights from Fabric8-Analytics platform inside Che UI as the user adding in new packages at IDE.

#### Description:
Insights are shown inside Che UI as the user adding in new packages at IDE which include insights for the combination of packages, licenses used, addition

[2018-01-03 12:26] arunkumars08 opened #1769 ""reason" field comes null in stack analysis response"
Stack Id: 6422008e69b9474195ef395918a2c892
Response in Gist: https://gist.github.com/invincibleJai/1e01d422a599697ee82979596cf6da12#file-response-json-L101

[2018-01-03 12:49] sanketpathak opened #1770 "POC for CVE alerts on Pipeline view"
### User Story:

As an OSIO user, I will be able to see important information like CVE beforehand without opening complete report.

### Description:

Flag CVEs, License issues at build pipelines screen for these possibilities:

  a) CVEs are present in OSIO user's application stack
      b) OSIO analytics platform does not support/understand licenses for few packages being used by OSIO user. This

[2018-01-03 12:57] tisnik commented on #1231
The CI has been configured: https://ci.centos.org/job/devtools-fabric8-analytics-jobs-fabric8-analytics-pydoc/

[2018-01-03 12:58] #1231 closed

[2018-01-03 13:24] arunkumars08 commented on #1769
@sara-02 It seems to work fine for this stack id - ba6fc53625fb47c1901e04fce58d0a05. Something could have been the problem with the previous stack

[2018-01-03 14:12] vpavlin opened #1771 "Promote dialog in UI fails due to CORS error"
I get

`Failed to load https://forge.api.prod-preview.openshift.io/services/jenkins/vpavlin-jenkins/job/vpavlin/job/vpavlin-pp-test/job/master/3/input/Proceed/proceedEmpty: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://prod-preview.openshift.io' is therefore not allowed access.
`

when

[2018-01-03 14:13] pkajaba commented on #1202
@msrb I guess this one is done

https://ci.centos.org/job/devtools-mercator-go-copr-mercator-build-master/
https://ci.centos.org/job/devtools-mercator-go-fabric8-analytics-copr-mercator/

[2018-01-03 14:15] gastaldi commented on #1771
@edewit looks like we slipped that one. The new URL should be `https://forge.api.prod-preview.openshift.io/api/openshift/services/jenkins/...`

[2018-01-03 14:43] stooke commented on #1655
Can we make this an array of objects, instead of an array of heterogeneous arrays?

  "pods" : [
     { "running" : 1 },
    ...
  ]

Also, can we use lowercase here; the state strings should be localized by the UI.

[2018-01-03 14:55] pkajaba commented on #1196
List of images
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-server/pull/226
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/489

More to come

[2018-01-03 15:14] joshuawilson commented on #1439
@ashumilova is there anyone on your team that can do this work?

[2018-01-03 15:16] jiekang commented on #1655
@stooke I'm going to see if I can accept that format without conversion in c3js but if not, we would end up converting this into an array of arrays on the UI side, though it's not a huge deal. It's really just a matter of which side loops over the object; since it will need to be done to calculate the total.

I would much prefer this kind of work done on the backend though; I already have concerns

[2018-01-03 15:36] jiekang commented on #1655
@stooke for lowercase, sure it can be done on the UI side. If we do all the work on the UI side, and the API is just a proxy for the Openshift/Kubernetes API. If we do all the work on the API side where the API is a converter for the Openshift/Kubernetes API so that the data can be used as is. A halfway conversion feels strange to me, why can't it do the rest?

For extra context:

The pod work is

[2018-01-03 15:43] GeorgeActon commented on #1299
@tuxdna If it is not reproducible, can this be closed now?

[2018-01-03 16:04] invincibleJai commented on #1706
@joshuawilson am not sure if `team/che/IDE` label is needed as mostly analytics team will be working on this item, may need help from CHE team.

[2018-01-03 16:06] ldimaggi commented on #1760
And - the CORS error is back - if the user attempts to create a new quickstart after an unsuccessful env reset:

![screenshot from 2018-01-03 11-04-29](https://user-images.githubusercontent.com/642621/34528195-19a7892e-f076-11e7-9cbb-7471193acccc.png)

[2018-01-03 16:07] andrewazores commented on #1516
I'm investigating the memory leak we seem to be experiencing, and putting an `<ng-container *ngIf="!collapsed">` around the contents of the collapsible div of the deployment cards seems to stabilize memory consumption while the cards are all collapsed. This does lead to a slightly noticeable fade/pop-in effect of card body contents when the cards are clicked, but the page performance is significan

[2018-01-03 16:15] jiekang commented on #1516
I examined the Openshift collapsible cards and it looks like they use *ngIf as well. The elements do load very quickly though so I suppose we need to make sure our charts and elements load into initial state as fast as possible, delaying adding data to later. Or rather, just make sure we aren't delaying rendering waiting for initial data to come in and be processed.

[2018-01-03 16:22] ibuziuk commented on #1060
The issue will be resolved once che will switch to jdt.ls in upstream
@slemeur in the mean time, could we change severity to SEV3 ?

[2018-01-03 16:22] andrewazores commented on #1516
I think we're already doing okay on that front - we just need to make sure that the component sets an initial data set for the chart, even if that data set is empty. This should allow the chart to render ASAP once its card is expanded, even if the first service update has not yet occurred and there is no data history built up in the card component.

Adding `transition: { duration: 0 } }` to the ch

[2018-01-03 16:34] RickJWagner commented on #1756
Additional notes:
The PDF version of the GSG (https://openshift.io/osiogettingstarted.pdf) has this flaw.  Under section "Explore the Terminal" it instructs the user "Open the Terminal...."  without prior explanation of how to do this.

The Prod-Preview version of the GSG has a nice section, "Using the terminal tab"
https://docs.prod-preview.openshift.io/e2e_workshop.html#using_terminal_tab

[2018-01-03 16:42] ibuziuk commented on #1570
@slemeur in terms of Che startup time - it would be significantly improved in Che6. Also, could we change it to SEV3 ?

[2018-01-03 16:52] jiekang commented on #1655
After further discussion with Simon, the pods data format will be a multi-dimensional string array as arrays with items of different type aren't so easy to do outside of javascript.

[2018-01-03 16:55] c-koehler commented on #1516
@jiekang @andrewazores After checking out the patternfly chart data limiter (PR coming, everything is working but doing a cleanup) and running the chart data limiter, I'm no longer getting any memory leaks, which is good.

The way I tested it was to run it without my change, and noticed the RAM just kept leaking 10 megs/sec, then I applied my patch and the memory didn't go anywhere.

Hopefully thi

[2018-01-03 17:02] mmclanerh opened #1772 "[prod] tenant Jenkins does not ask 'Login with Red Hat' (regression of #1525?)"
Experiencing the same issue notated here: https://github.com/openshiftio/openshift.io/issues/1525

When I click from this page to view the build log:
![image](https://user-images.githubusercontent.com/33727536/34529540-a072cbc4-f069-11e7-86bc-100dc7841054.png)

This takes me to:
https://jenkins-mmclane-1-jenkins.NNN.starter-us-east-2.openshiftapps.com/login?from=%2Fjob%2Fmmclanerh%2Fjob%2Feverythi

[2018-01-03 17:03] mmclanerh commented on #1772
Hmm. I ended up resetting my entire workspace and now I get the expected jenkins handoff auth prompt.. weird.  Okay.

[2018-01-03 17:03] #1772 closed

[2018-01-03 17:42] ibuziuk commented on #1756
According to @rkratky comment https://github.com/openshiftio/openshift.io/issues/1559#issuecomment-351107476 we are currently in transitional period to Asciidoc-based guides

[2018-01-03 18:06] andrewazores commented on #1516
@c-koehler what was the maximum length of the data sets with your patch? It makes sense that this would stop the leaking (since it's probably not truly a leak after all - just unbounded chart data), but I still think that using ngIf to remove the charts from the DOM when they aren't visible will lead to a much better page performance, especially on slower clients.

[2018-01-03 18:20] mmclanerh commented on #1538
+1 on closing, not a current issue.

[2018-01-03 18:20] #1538 closed

[2018-01-03 18:20] mmclanerh commented on #1607
this should be resolved at this time as #1538 is also resolved

[2018-01-03 18:20] #1607 closed

[2018-01-03 18:23] joshuawilson commented on #1706
The `team` label is for any team that may have an interest or be involved with the issue. The milestone `Analytics Backlog` is to say that your team is responsible for it. The label would allow the Che team to search for this issue and know they need to help you or be aware you are working in their space.

[2018-01-03 18:31] ldimaggi commented on #1570
Rick - are you seeing this?   https://github.com/openshiftio/openshift.io/issues/1731

[2018-01-03 18:48] jiekang commented on #1346
My understanding is @Rydekull  is referring to the codebases page in the openshift.io web ui where the results part of the filtering toolbar is wrong. See screenshot below for an example where Results is 0 instead of 1 (it's always 0 because of a bug in the code):

![codebase-results](https://user-images.githubusercontent.com/5430520/34534530-76befa1e-f08c-11e7-833d-2f8f98db5721.png)

If this is c

[2018-01-03 18:55] joshuawilson commented on #1346
If you have the time, go for it.

[2018-01-03 18:59] joshuawilson commented on #1771
Since this was only seen in prod-preview and has now been fixed there, I'm closing it. Please reopen if needed.

[2018-01-03 18:59] #1771 closed

[2018-01-03 19:10] joshuawilson commented on #1477
I'll close it, it you want to reopen it later go ahead.

[2018-01-03 19:10] #1477 closed

[2018-01-03 19:11] RickJWagner commented on #1570
Hi @ldimaggi,
I've just started a new project (after resetting environment, to be sure I've got a good start).  3 minutes have passed, the build is static and reports status as "not started".
I believe I am seeing the problem.

[2018-01-03 19:17] RickJWagner commented on #1570
Some things that may be of interest:
- Signing on via CLI, switching to project 'rhn-support-rick-jenkins', then using oc get events, we find:
-   Readiness probe failed: Get http://10.129.105.157:8080/login: net/http: request canceled
- A few other lines that don't seem 'normal'....
---------------------------------------------------------- Events from list ------------------------------------
LA

[2018-01-03 19:23] ibuziuk commented on #1573
@ldimaggi @rhopp closing. Feel free to reopen if needed

[2018-01-03 19:23] #1573 closed

[2018-01-03 19:25] ibuziuk commented on #1665
@rhopp @aditya-konarde is it still reproducible for you ? I can reset env without any problems even when having a few workspace deployments in *-che namespace

[2018-01-03 19:28] ibuziuk commented on #1651
Related rh-che issue https://github.com/redhat-developer/rh-che/issues/486

[2018-01-03 19:35] joshuawilson commented on #1352
done in https://github.com/fabric8-ui/fabric8-ui/pull/2353

[2018-01-03 19:35] #1352 closed

[2018-01-03 19:39] arunkumars08 opened #1773 "Stack Report design revamp"
### User Story:
As an OSIO Developer I will be able view more detailed stack report so that I can get lot more clarity. I should be able to view the information on demand rather than all at once.

### Description:
As a fabric8-analytics developer, I would like to implement the stack report on openshift.io based on the revamped UX (as per
https://redhat.invisionapp.com/share/6TF4C40KF#/screens/2709

[2018-01-03 19:42] arunkumars08 commented on #1277
Closing this as it is being tracked here - https://github.com/openshiftio/openshift.io/issues/1773

[2018-01-03 19:42] #1277 closed

[2018-01-03 20:46] c-koehler commented on #1516
@andrewazores @jiekang Here is the report:

Viewing the deployments page with 6 cards (where right now we have 2 sparkline's each) will consume enough memory to have chrome crash after 9-10 minutes of usage on my machine. `htop` reports it using 10 megs/sec for 12 charts. Chrome dev-tools reports less but it still grows, the charts show an unbounded growth

Having the sparkline charts be reset by

[2018-01-03 20:52] andrewazores commented on #1516
Nice report, thanks.

If the memory is not fully returned when the card details are destroyed (collapsed and removed via ngIf), then that sounds like we are actually leaking something in the real sense. We'll have to investigate what exactly that is. I'd suspect some chart event handlers or something along those lines, but that's just a hunch.

For the meantime - and preferably, before we open thi

[2018-01-03 21:45] c-koehler commented on #1709
@chrislessard There's been work done (will be up for PR) which uses `ngIf` to hide the sparkline charts. This may take away a chunk of the problem, or possibly even do most or all of the work.

I did some research into this over the break, and I think I know a way of refreshing the graph with some modifications to patternfly. I'm going to check later today or tomorrow to see if there's any luck th

[2018-01-03 22:07] c-koehler commented on #1516
@andrewazores
```Did you try manually triggering a GC in your browser's devtools to be sure that it's really not able to reclaim the memory?```

Yes I tried the `Collect Garbage` button to see if I could reclaim any memory, sadly it didn't help reclaim anything.

```I assume this testing is being done with the default service poll rate of 5 seconds with mock data? ```

Yes, that should help a lot

[2018-01-03 22:18] ldimaggi opened #1774 "In OSIO Planner filters, labels are always an AND, not an OR"
Situation - A user has created a number of workitems, divides the workitems into 2 groups, and designates a label for each group.

A filter that specifies both group labels will return zero workitems as the filter looks for workitems that have BOTH group labels set.

![screenshot from 2018-01-03 17-04-09](https://user-images.githubusercontent.com/642621/34542316-0b039758-f0aa-11e7-8587-800b9432d06

[2018-01-03 22:29] alexeykazakov opened #1775 "Ability to select Private or Public for the Email address on user profile page"
Auth back-end is now supports public and private emails. It's just a new field in user's profile payload. See https://github.com/fabric8-services/fabric8-auth/pull/237 for details.
Now we need to add this public/private switcher to the user profile page, so, users can make their emails private/public.

Wireframe - https://redhat.invisionapp.com/share/F4F0D8FZA

[2018-01-03 22:30] alexeykazakov commented on #1775
@joshuawilson @catrobson @dgutride I hope someone from Platform/UX teams can help us with this UI feature :)

[2018-01-03 22:47] ldimaggi commented on #1760
This issue is blocking us from running tests on PRs as configured by James S as the tests rely on prod-preview - thx!

[2018-01-04 03:07] joshuawilson commented on #1775
Is this critical? If not then we can work it into a sprint.

[2018-01-04 03:12] joshuawilson commented on #1774
Labels in github work the same way.

[2018-01-04 03:28] alexeykazakov commented on #1775
Well, it's critical but not super urgent :) If it can be done in this sprint then great. Especially because I don't think it will take much time to implement. But if it's tricky then it's OK to fix it in the next sprint. Kinda SV2.

[2018-01-04 03:41] joshuawilson commented on #1775
I'm confused, who needs this feature? What does it do that makes is so important?

[2018-01-04 04:22] krishnapaparaju commented on #1463
@pkajaba please update this issue with your thoughts..

[2018-01-04 04:24] krishnapaparaju commented on #1147
@jyasveer would the new UX (for the stack report)   take care of this issue ?

[2018-01-04 06:29] sunilk747 commented on #1695
BSD - Simplified added.

[2018-01-04 06:54] aditya-konarde commented on #1202
@msrb @pkajaba I think we're good to close this ticket now?

[2018-01-04 07:34] rhopp commented on #1666
This started happening today on prod again. Can somebody reopen this issue (I don't have rights to do so)?

[2018-01-04 08:32] pkajaba commented on #1463
@krishnapaparaju I was looking into it before the holidays and seems to be stabilized. It's using just about 0.18 core.

[2018-01-04 09:17] pkajaba commented on #1765
- [ ] CI Change: https://github.com/almighty/almighty-jobs/pull/458
- [ ] worker changes https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/491
- [ ] CD changes
- [ ] local deployment changes
- [ ] devcluster changes

[2018-01-04 09:45] msrb commented on #1463
It would be great to have at least some idea what may have caused this. But if it's not reproducible any more, it won't be trivial. I know this is long time ago, but are we sure we weren't just doing some stress testing at the time? Maybe @samuzzal-choudhury or @tisnik could know (?).

[2018-01-04 10:53] pkajaba commented on #1522
@tisnik @krishnapaparaju the problem is an invalid token for API. I sent a request to insert valid one into centos CI. I thought that we could reuse existing ones at first, but it somehow did not work.

[2018-01-04 11:24] ibuziuk commented on #1666
openshift online cluster upgrades are ongoing now, need to wait till it finished and retry.

[2018-01-04 11:31] ibuziuk commented on #1733
@ldimaggi could you please provide steps to reproduce? I can not catch it during manual tests

[2018-01-04 11:50] pkajaba commented on #1765
@msrb I have discovered that there are some database changes required (we are currently storing latest version in RDS and graph DB, same applies to some downstream data).

My current status is that I did the groundwork for removing and I have to focus on testing of the system because I don't want to broke it.

[2018-01-04 11:55] msrb commented on #1202
Yup, thanks 👍

[2018-01-04 11:55] #1202 closed

[2018-01-04 12:21] #1524 closed

[2018-01-04 13:56] rupalibehera commented on #1731
@ldimaggi , could you please mention the Jenkins version you were using when you reproduced this issue ?

[2018-01-04 14:03] rhopp commented on #1665
Yes it is still reproducible on both of my accounts (rhopp@redhat.com, rhopp+osiotest1@redhat.com).

[2018-01-04 14:09] tisnik commented on #1743
It's been implemented via the following PR: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/434

[2018-01-04 14:09] #1743 closed

[2018-01-04 14:12] ldimaggi commented on #1666
Seeing this error again today:  Could not start workspace a6lex. Reason: Start of environment 'default' failed. Error: null

[2018-01-04 14:14] ldimaggi commented on #1733
Started seeing this error again today:
Could not start workspace a6lex. Reason: Start of environment 'default' failed. Error: null

[2018-01-04 14:22] ibuziuk commented on #1665
@rhopp any openshift events ?

[2018-01-04 14:23] ldimaggi commented on #1731
I reset the env at least daily - not sure what the version was when I was seeing this last week. Are you no longer able to see this issue? I *think* it is better now - running with 4.0.47 today.  Will update the issue if the problem appears again.

[2018-01-04 14:43] rupalibehera commented on #1731
@ldimaggi , I was not able to see this issue let me know if could reproduce this one.

[2018-01-04 14:45] ibuziuk commented on #1733
The issue you are facing today is https://github.com/openshiftio/openshift.io/issues/1666 and it is different from this one

[2018-01-04 14:50] vpavlin opened #1776 "Webhooks sending everything vs. sending push only"
Currently when a webhook is generated in repository from Forge, it sends all events to the webhook URL

![screenshot from 2018-01-04 15-30-25](https://user-images.githubusercontent.com/4759808/34567868-38ce4f92-f164-11e7-86d6-37e35cdb7c41.png)

This is might be problematic for idler as that means proxy will get hit unnecessarily and  thus Jenkins might not be idled for user as early as it could be

[2018-01-04 14:51] ibuziuk commented on #1733
Steps to reproduce
1. start workspace
2. log out from osio
3. after some time workspace idling is triggered
4. ERROR: when che-server tries to stop workspace the token is already invalid and as a result workspace will not be stopped and resources will not be cleaned correctly
5. Log in to osio and start a new workspace
6. ERROR: failure while workspace startup due to the fact that openshift resour

[2018-01-04 14:52] catrobson commented on #1775
@joshuawilson there was a privacy and security concern about going GA with e-mails available publicly to the world without user choice to make their e-mail private.  So this is critical for GA, but I think we can schedule this into a sprint.

[2018-01-04 14:56] gastaldi commented on #1776
I'm fine with that. But how about building pull-requests? Is that needed in those repositories too?

[2018-01-04 15:02] vpavlin commented on #1776
I am not sure.. @maxandersen?

We could probably hand pick some events and specify those - I am mostly concerned about status events and issue events, which are basically useless for Jenkins

[2018-01-04 15:07] vpavlin commented on #1724
People with access are Aslak, Konrad, KB, Mario, Alexey, Joshua and me. I am not aware of any existing rules about who should have access and who shouldn't.

I'd say it makes sense for someone from f8a team to have push access - my suggestion would be @msrb  as he created most of the templates and jobs for f8a in there.

@kbsingh any objections?

[2018-01-04 15:09] jpopelka commented on #1283
The job along with unit tests is https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/211

[2018-01-04 15:19] krishnapaparaju opened #1777 "Long term planning for scaling Fabric8 Analytics platform"
Document the long term scaling plan covering number of concurrent users (coming either from openshift.io / IDE extensions)

[2018-01-04 15:53] ldimaggi commented on #1731
Thanks - looking today - this issue was very common last week - not so today. What changed?

[2018-01-04 16:13] ldimaggi commented on #1760
This problem seemed to have been resolved latelast night - now it is back - cannot reset env on prod-preview,

[2018-01-04 16:45] qodfathr commented on #1579
This has been an on-going concern of mine, and is making any kind of future documentation very difficult. It's also just odd behavior (IMHO) that "add something" acts so differently when the list is empty vs. not empty. I like the fact that the empty list has a big, bold "add something" gadget where the list would be displayed, but I disagree that this should also make invisible the normal "add so

[2018-01-04 17:16] ibuziuk commented on #1666
Upstream bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1526165

In order to reproduce the problem on prod / prod-preview cluster the sample [1] provided by @jfchevrette was used. After applying yml on prod / prod-preview clusters deployment is never scaled up.

BTW, the problem is **not** reproducible of free-int cluster which was previously used for prod-preview :

[code]

[1] https://gist

[2018-01-04 17:35] jpopelka commented on #1283
The last bullet point on Saket's list for this task is to write an integration/E2E test.

However the job as it is (see previous comment) modifies properties of **all** packages of specified ecosystem, which is definitely not what we want to do in tests.
I don't see a way how to test the job on just one package, so for now I'd leave implementing a e2e test for this out. We can do it later if we ch

[2018-01-04 17:57] abs51295 commented on #1429
The following PR solves this issue: https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/168.

[2018-01-04 18:07] stooke commented on #1622
Current status on the API side: code has been written, will be in the coming PR.
As per @xcoulon request, a future PR will change the API for this to become more JSON-API conformant

[2018-01-04 18:16] stooke commented on #1662
This will be implemented after the API becomes JSON-API conformant.

[2018-01-04 18:17] jiekang commented on #1660
After further discussion with Simon, the pods data format will be a multi-dimensional string array as arrays with items of different type aren't so easy to do outside of Javascript.

[code]

[2018-01-04 18:33] abs51295 opened #1778 "Show reasoning from kronos when the number of unknown packages are more than the known ones in the user input"
Currently, kronos gives an empty response when the number of unknown packages are more than the number of known packages in the users' stack. For example:

Request:
[code]
Response:
[code]

[2018-01-04 18:59] mmclanerh commented on #1666
production is now working for pod spin ups

[2018-01-04 19:06] ibuziuk commented on #1666
since workspace creation is working fine on prod after controllers restart changing to SEV2

[2018-01-04 19:25] kwk commented on #1681
Absolutely. It is all on the fly validation during link creation. Nothing is changing storage-wise.

[2018-01-04 20:36] andrewazores opened #1779 "Deployments "Resource Usage" panel title should not underline on hover"

[2018-01-04 21:54] mmclanerh commented on #1666
if everything satisfactory, i believe this issue can be closed out.

[2018-01-05 01:56] ldimaggi opened #1780 "Cannot create new quickstart on prod-preview - "Error calling service""
This started happening in the past hour - nothing is written to the Jenkins log:

![screenshot from 2018-01-04 20-53-57](https://user-images.githubusercontent.com/642621/34592393-965735a2-f191-11e7-9c84-9ba236ce236e.png)

This blocks testing on prod-preview.

[2018-01-05 02:13] gastaldi commented on #1780
There is something wrong in the launcher-backend pod, because it fails the readiness check. I can't see the logs either: https://console.rh-idev.openshift.com/console/project/launchpad-preview/overview

[2018-01-05 02:26] gastaldi commented on #1780
Nevermind, it is back up, can you try again?

[2018-01-05 03:06] miteshvp commented on #1283
@jpopelka - ack. Thanks.

[2018-01-05 03:08] #1283 closed

[2018-01-05 03:09] miteshvp commented on #1311
Code is deployed on Staging. Marking it as closed

[2018-01-05 03:09] #1311 closed

[2018-01-05 03:09] miteshvp commented on #1311
Further improvements around stop-words and stemming can be taken up incrementally.

[2018-01-05 03:15] #1779 closed

[2018-01-05 04:43] alexeykazakov opened #1781 "New registered users can't login"
Currently our registration process is broken. New approved users can't login to OSIO. The issue was introduced today. Existing users are OK.

[2018-01-05 05:10] ldimaggi commented on #1780
Thx! It's working now.

[2018-01-05 05:10] #1780 closed

[2018-01-05 06:08] arunkumars08 opened #1782 "[prod-preview] Unable to successfully create quick start projects"
I have tried creating a new quick start application in **prod-preview** (**vert.x booster**)

I was able to select Vert.x Booster but was unable to proceed beyond that.

Here is what I get, (
<img width="1437" alt="screen shot 2018-01-05 at 11 11 22 am" src="https://user-images.githubusercontent.com/7880465/34597016-211901ac-f20a-11e7-90ea-3c3d65e6bf65.png">
PFA)

[2018-01-05 06:30] alexeykazakov commented on #1781
We fixed the OSIO side of things - https://github.com/fabric8-services/fabric8-auth/pull/243
Now waiting for the OSO reg app team to adopt this fix on the registration app side.

[2018-01-05 06:51] sbose78 commented on #1781
The issue happened because we were passing an incorrect RHD user id to keycloak.

To fix that:
We added support for `rhd_user_id` in the payload of the `Create User API` in Auth.

This is how the new payload looks like :
[code]

https://github.com/openshift/online-registration/issues/762#issuecomment-355485057

[2018-01-05 07:33] #1749 closed

[2018-01-05 07:39] joshuawilson commented on #1782
Is this a duplicate of #1503 and #1634?

[2018-01-05 08:05] rupalibehera commented on #1731
@ldimaggi, from last 15 days we have the same version of Jenkins, atleast nothing from that side :)

[2018-01-05 09:01] xcoulon opened #1783 "Include `/api/status` endpoint for healthchecks"
In the new https://github.com/fabric8-services/fabric8-toggles-service/, we need such an endpoint to configure the `readiness` and `liveness` probes used by OpenShift/k8s to monitor the application pods.

[2018-01-05 09:53] #1783 closed

[2018-01-05 10:34] xcoulon opened #1784 "Include openshift template"
Include the Openshift template (app and config) as requested by the Service Delivery's `new application onboarding` doc.

[2018-01-05 10:48] #1784 closed

[2018-01-05 11:11] abs51295 opened #1785 "Remove logging from PGM once it is tested on production"
Currently, PGM has the flag `verbose` enabled with value `51` and that makes PGM log every job that it does in the console along with the time taken. Need to remove it once the time taken by the PGM is verified on production.

[2018-01-05 12:16] tuxdna commented on #1085
After a discussion with the team, we need to come up with:

 * 1 ) code that does the sync between OLTP and OLAP
 * 2 ) location where this code will run, and with what strategy

(2) can be one of:

 * OpenShift Jobs
 * Jobs service
 * standalone script that is invoked periodically

I will be in a better position in another couple of days about the design for this sync mechanism.

[2018-01-05 12:53] tisnik opened #1786 "[3] RFE: tests for the /schemas* REST API endpoints"
Currently, only a very small subset of /schemas* REST API endpoints is covered by integration tests. It needs to be fixed to test at least following endpoints:

- [x] ```'/schemas'```
- [x] ```'/schemas/<collection>'```
- [x] ```'/schemas/<collection>/<name>'```
- [x] ```'/schemas/<collection>/<name>/<version>'```

[2018-01-05 13:35] tisnik commented on #1460
FYI: yet another PR, now with updated token:
https://github.com/almighty/almighty-jobs/pull/460

[2018-01-05 14:09] tisnik commented on #1226
New CI job has been created via the following PR:
https://github.com/almighty/almighty-jobs/pull/463

Job itself:
https://ci.centos.org/job/devtools-fabric8-analytics-server-fabric8-analytics-pydoc/

[2018-01-05 14:10] #1226 closed

[2018-01-05 14:41] #1776 closed

[2018-01-05 14:43] gastaldi commented on #1776
Just changed in prod-preview to use just PUSH event. @vpavlin can you give it a try if there is any collateral effects with this?

[2018-01-05 14:52] gastaldi commented on #1776
This is the same behavior that we use for apps deployed through developers.redhat.com/launch

[2018-01-05 15:08] jiekang opened #1787 "Show network resource usage in per deployment sparkline charts"
The mock [1] has network resource usage sparkline charts (input/output KiB/s, and no. of requests).

As of this issue, the deployment cards only have the CPU and Memory sparkline charts. The network charts should be added.

[1] https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/260764295

[2018-01-05 15:10] jiekang commented on #1787
The Network usage chart should mimic the one found in the Openshift Web Console.

I am not convinced the Network Requests chart is useful...

[2018-01-05 17:08] sbose78 commented on #1781
Corresponding change in registration app: https://github.com/openshift/online-registration/pull/882

Tim ( OSO team ) and I have tested out by creating a new test user, got myself provisioned and then logged into Openshift.io successfully.

Marking this as resolved.

[2018-01-05 17:08] #1781 closed

[2018-01-05 20:24] jiekang opened #1788 "Prevent donut chart c3js code from crashing"
There is a race condition in c3js when destroying the chart. The fields are being set to null but there are timers still running that try to access these fields to render transitions/animations/etc. When this happens, the c3js library fails spectacularly, unable to render charts in the entire application. The only fix for a user would be to reload the application by refreshing the browser. It woul

[2018-01-05 22:43] ldimaggi commented on #1780
It's fixed - thx!

[2018-01-05 22:44] ldimaggi commented on #1760
This is fixed - thx!

[2018-01-05 22:44] #1760 closed

[2018-01-05 22:45] ldimaggi commented on #1731
Seeing it today on prod-preview:

![screenshot from 2018-01-05 14-11-37](https://user-images.githubusercontent.com/642621/34631808-33a8c484-f240-11e7-82f6-b87622c82a59.png)

[2018-01-06 02:03] ldimaggi opened #1789 "[prod-preview] Cannot create new Che workspace on when importing codebase"
Attempts to create new Che workspaces on prod-preview fail - the UI never gets past this point:

![screenshot from 2018-01-05 20-56-01](https://user-images.githubusercontent.com/642621/34635326-d0b664fa-f25b-11e7-9288-57cfcde08edc.png)

[2018-01-06 02:21] ldimaggi opened #1790 "Intermittent/recurring issue - Access to Jenkins logs through OpenShift is broken on prod-preview and production"
Steps to recreate:
* Create a new quickstart - observe its build pipeline starting
* Attempt to access the build's Jenkins log ("View Log")
* Observe logging in to Jenkins thru OpenShift does not occur - user is directed to this screen instead:

![screenshot from 2018-01-05 21-15-56](https://user-images.githubusercontent.com/642621/34635494-67cbc180-f25e-11e7-8385-11d1f2269372.png)

[2018-01-06 02:51] joshuawilson commented on #1789
@dlabrecq @ibuziuk you guys have the most experience with this. What do you think?
cc @ashumilova

[2018-01-06 05:43] #1717 closed

[2018-01-06 16:25] aslakknutsen opened #1791 "Create Iteration with Force Active not saved"
## Reproduce

* Create new iteration
    * Set 'Force Active' to On in the Create screen
* Save

## Expected

* Newly created iteration with active state ON

## Actual

* Newly created iteration with active state OFF

[2018-01-07 17:05] #871 closed

[2018-01-08 05:46] krishnapaparaju opened #1792 "For a source code base, Identify key functions and generate missing unit tests"
- [ ] Identify frequently used functions at a source code base (eg: GitHub repository)

- [ ] Flag if any of these functions do not have corresponding unit tests

- [ ] Generate source code for unit tests if unit tests are missing for these important functions

[2018-01-08 06:13] krishnapaparaju commented on #1792
For generating missing unit tests, please check out these links if we can reuse / collaborate with team at Rice University.

https://www.youtube.com/watch?v=e4CMTk-3iNk

http://pliny.rice.edu/index.html

[2018-01-08 06:48] invincibleJai opened #1793 "Work items for publishing VSCode extensions"
## User Story
As a Fabric8-Analytics developer I would like to close on open tasks so that VSCode extension can be published

## Description
We have already identified the various open items/tasks/issues which we need to close in order to publish VSCode extension to marketplace.This serves as master list to track all open items for Same

## Task List
--- Effective Pom ---
- [x] VSCode extension to

[2018-01-08 07:46] krishnapaparaju commented on #1527
performance work is being tracked #1144

[2018-01-08 07:47] krishnapaparaju commented on #1467
performance work is being tracked at #1144

[2018-01-08 08:27] tisnik opened #1794 "[1] The QA Dashboard should display current status of the e2e tests for the production environment"
The QA Dashboard https://fabric8-analytics.github.io/dashboard/dashboard.html should contain status of the e2e tests for the production environment

[2018-01-08 08:28] tisnik commented on #1739
The dashboard has been updated as can be seen here:
https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-01-08 08:28] #1739 closed

[2018-01-08 09:08] rootAvish commented on #1450
Solved by https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/163.

[2018-01-08 09:08] #1450 closed

[2018-01-08 09:23] GeetikaBatra opened #1795 "Publish Devstudio IDE Plugin."
## User Story
As a Fabric8-Analytics developer I would like to close some tasks, so that Devstudio Plugin is ready to be published.

## Description
We have identified the various open items/tasks/issues which we need to close in order to publish Devstudio Plugin. Following is the task list for the same.

## Task List
--- Effective Pom ---
- [x] Create a async job to retrieve effective pom.
- [x] A

[2018-01-08 10:59] krishnapaparaju commented on #1737
I am not sure either the title and objective cover the broader goals of this work. Will create a EPIC to cover these objectives..

[2018-01-08 11:49] tisnik commented on #1460
another small fix:
https://github.com/almighty/almighty-jobs/pull/466

[2018-01-08 12:14] tuxdna commented on #1085
We provide a list of EPV to the Data Model importer HTTP API, and this list of packages are imported into the Graph. However this API doesn't mark the imported packages back in either RDS or S3. So we have to add these markers. We can use S3 tags as proposed by @msrb .

For identifying the diff between Graph and S3, we have to enlist all the package-versions and then identify the packages missing

[2018-01-08 12:35] tisnik commented on #1460
e2e test has been setup and now is green (finally!) https://ci.centos.org/job/devtools-test-end-to-end-prod-fabric8-analytics/

[2018-01-08 12:36] #1460 closed

[2018-01-08 13:18] xcoulon commented on #1716
resolved in https://github.com/fabric8-services/fabric8-toggles-service/commit/3fc7a2c2889ced3db0ece8c3fe28e4f456f9e799

[2018-01-08 13:18] #1716 closed

[2018-01-08 13:18] xcoulon commented on #1730
resolved in https://github.com/fabric8-services/fabric8-toggles-service/commit/3fc7a2c2889ced3db0ece8c3fe28e4f456f9e799

[2018-01-08 13:18] #1730 closed

[2018-01-08 13:22] xcoulon opened #1796 "endpoint in WIT to proxy requests to toggles-service"
Add an endpoint in `wit` to proxy requests to the `f8-toggles-service` for the following HTTP requests:
- `/api/features/`
- `/api/features/:featureName`

[2018-01-08 14:20] l0rd commented on #408
@rkratky that is expected behaviour and yes I believe that the "health check" quickstarts don't make sense if user cannot even test it in Che.

[2018-01-08 14:39] maxandersen commented on #955
this is still happening on prod-preview. thus reopening.

[2018-01-08 14:45] dlabrecq commented on #1789
Seeing the following error in the browser console, which is probably responsible for the page rendering incorrectly.

"ERROR TypeError: Cannot read property 'running' of null"

I'm also seeing duplicate information in the "Add Codebase" dialog.

![screen shot 2018-01-08 at 9 39 35 am](https://user-images.githubusercontent.com/17481322/34675493-cfec54d2-f457-11e7-9c0f-8a7b812a5b44.png)

To reproduc

[2018-01-08 14:46] dlabrecq commented on #1789
FYI, I don't see this error on prod.

[2018-01-08 14:47] joshuawilson commented on #1789
Prod has not been updated, we need a new issue for the duplication of the UI.

[2018-01-08 14:48] joshuawilson commented on #955
did you try refreshing, it might still have your old token

[2018-01-08 14:51] dlabrecq commented on #1789
I believe it's just a symptom of the same issue.

[2018-01-08 14:52] dlabrecq commented on #955
I just tested on prod-preview. After clearing my browser's local storage, I no longer see the issue.

[2018-01-08 14:54] joshuawilson commented on #955
@maxandersen I'm not saying it isn't a bug, but random guesses at what should work does not help define the issue. I had the same issue this morning and a simple refresh fixed it. If you need more then that we need to know.

[2018-01-08 14:54] maxandersen commented on #955
thanks for confirming it is not me ;)

so, is there something we can do to fix this ? I don't know of other sites at large where having to clear the browser cache and possibly try with incognito is required on a regular basis.

[2018-01-08 14:55] joshuawilson commented on #955
We are working on fixing this. We need as many data points as we can get to figure out the cause.

[2018-01-08 14:56] maxandersen commented on #955
i'm back at trying to log in and this time it let me in. only thing I changed afaics is that some time went by and I used a seperate tab to try again.

[2018-01-08 14:57] joshuawilson commented on #955
Same for me. I suspect it has to do with the token.

[2018-01-08 15:04] ldimaggi opened #1797 "Quickstart "Spring Boot - Secured HTTP Booster" fails to build on prod-preview"
The build error is:

[code]

[2018-01-08 15:18] dlabrecq commented on #1605
@sbose78 what is the character limit for keycloak?

[2018-01-08 15:19] jiekang commented on #1633
Closing as PR has been merged.

[2018-01-08 15:19] #1633 closed

[2018-01-08 15:21] ldimaggi commented on #955
I suspect a token time/expiration issue. I just saw this issue on an office machine that I had not used since before the big snow storm last week.

[2018-01-08 15:24] bmicklea commented on #1738
This is a very aggressive sprint - perhaps we should start listing priorities in the description here?  From my perspective the most important things are:
#1773
#1144
#1264
#1767
#1761
#1695
#1693
#1329

[2018-01-08 15:35] rhopp commented on #1666
Aaaand it's back.
It's impossible to create workspaces on prod. (it was possible half an hour ago).

[2018-01-08 16:14] jiekang commented on #1501
I think it will be difficult to go back in time in the f8-ui repository and have true tests against production if the API URL's that the repository targets have changed.

[2018-01-08 16:30] aslakknutsen commented on #1628
That's a bug if anything...

[2018-01-08 17:12] RanjithRV commented on #204
Closing this issue as Joshua mentioned it was moved to a different repo and the issue has been closed
https://github.com/fabric8-ui/fabric8-ui/issues/1466

[2018-01-08 17:55] joshuawilson commented on #204
It was closed with the comment

[2018-01-08 17:56] joshuawilson commented on #204
In the early days we moved from one repo to another. We finally settled on this one to track all issues.

[2018-01-08 17:57] joshuawilson commented on #204
@ldimaggi have you seen this issue?

[2018-01-08 18:33] jiekang commented on #1659
Initial work: https://github.com/fabric8-ui/fabric8-ui/pull/2351

[2018-01-08 18:34] jiekang commented on #1516
@andrewazores @c-koehler With https://github.com/fabric8-ui/fabric8-ui/pull/2359 merged do you think this issue can be closed? Is there anything else under discussion here?

[2018-01-08 18:38] jfchevrette commented on #1666
The OpenShift controllers have been restarted to workaround this issue. Upstream has a fix openshift/origin#17855 which is making it's way to our cluster soon. I unfortunately don't have an ETA yet.

[2018-01-08 18:44] ldimaggi commented on #204
Just tried it - the quickstart builds for me on prod-preview and production.

[2018-01-08 18:45] andrewazores commented on #1516
@jiekang I think that wraps it up.

[2018-01-08 18:49] RanjithRV commented on #138
@rkratky Looks like this issue should be closed as its linked to https://github.com/openshiftio/openshift.io/issues/912 which is closed as the navigation has been updated is the new page https://docs.openshift.io/ is working fine and does not give a 404 error. Can you please confirm.

[2018-01-08 18:53] RanjithRV commented on #148
Closing this ticket as it is being tracked below (confirmed by @gastaldi)
# https://github.com/fabric8-launcher/launcher-planning/issues/29

[2018-01-08 18:53] #148 closed

[2018-01-08 19:00] RanjithRV commented on #191
Closing this issue as it is was associated with a closed ticket referenced below #https://github.com/openshiftio/openshift.io/issues/906

Final comment on 906 by Alexey
"I think we can close this issue. This particular problem with this user was manually fixed. The general solution will be addressed as part of our multi cluster support effort - #948 (comment)"
--

[2018-01-08 19:00] #191 closed

[2018-01-08 19:03] alexeykazakov commented on #1605
The limit seems to be 255 characters.

[2018-01-08 19:04] RanjithRV commented on #154
Closing this issue as the associated issue was closed
#https://github.com/fabric8-ui/fabric8-ui/issues/1353

Final comment on 1353 by Joshua
"The number has been removed. Closing."

[2018-01-08 19:04] #154 closed

[2018-01-08 19:13] abs51295 commented on #1429
PR has been merged and the new logic works fine on staging. Sent a PR to saas-analytics in order to push it to production: https://github.com/openshiftio/saas-analytics/pull/193

[2018-01-08 19:13] RanjithRV commented on #113
@joshuawilson looks like this issue was moved to #1362 and that in turn was associated to https://github.com/openshiftio/openshift.io/issues/353
353 was closed as it was determined to track issue individually based on the last comment.

Since both the referencing tickets are closed can we close this one as well? Or is there work still to be done on this one?

[2018-01-08 19:24] RanjithRV commented on #185
Closing this one as the associated ticket 1417 was closed

Note: The requirements were changed and those links removed from that particular navigation. more info on #https://github.com/fabric8-ui/fabric8-ui/issues/1417

[2018-01-08 19:24] #185 closed

[2018-01-08 19:29] RanjithRV commented on #155
Closing this issue as the associated Issue #1354 was closed.

Comment by Chmouel on issue #1354 confirms that the issue no longer exists. For more info refer to #https://github.com/fabric8-ui/fabric8-ui/issues/1354

[2018-01-08 19:29] #155 closed

[2018-01-08 19:32] RanjithRV commented on #181
@joshuawilson Since we are no longer experiencing this issue. Can we go ahead and close it? Should we mention when this code was deployed to prod?

[2018-01-08 19:37] joshuawilson commented on #113
Nothing has been done according to the comments. This should stay open until it can be verified.

[2018-01-08 19:40] joshuawilson commented on #113
If this is still happening it is important to fix.
@chmouel @rupalibehera I do not know if this is a build issue, can you please take a look.

[2018-01-08 19:42] joshuawilson commented on #181
Closing as fixed

[2018-01-08 19:42] #181 closed

[2018-01-08 19:43] joshuawilson commented on #181
If you have the time to find it then you can link it.

[2018-01-08 19:53] joshuawilson commented on #138
appears fixed, closing

[2018-01-08 19:53] #138 closed

[2018-01-08 19:54] joshuawilson commented on #204
Closing, if this is still an issue please reopen.

[2018-01-08 19:54] #204 closed

[2018-01-08 20:11] dlabrecq commented on #1605
I'll add an 80 char limit for the user's name and company. The URL, Bio, and email will be 255.

[2018-01-08 21:33] RanjithRV commented on #183
@jfchevrette @alexeykazakov can you please look into this issue created in May 2017. I am guessing this must be resolved by now. Can you please verify and close?

[2018-01-08 22:08] #1605 closed

[2018-01-08 22:23] joshuawilson commented on #1353
This issue has been been done in https://github.com/fabric8-ui/fabric8-ui/pull/2367. While there are more rules, the basics are in place.

[2018-01-08 22:23] #1353 closed

[2018-01-08 22:23] joshuawilson commented on #1354
This was turned on in https://github.com/fabric8-ui/fabric8-ui/pull/2367.

[2018-01-08 22:23] #1354 closed

[2018-01-08 22:24] joshuawilson commented on #1351
We now have TS lint rule on and running.

[2018-01-08 22:24] #1351 closed

[2018-01-08 23:00] c-koehler commented on #1566
@catrobson Here's an updated working example of the above:

![updating](https://user-images.githubusercontent.com/33262856/34696688-c271ceea-f49d-11e7-80f3-a821e05593eb.png)

![updated](https://user-images.githubusercontent.com/33262856/34696694-c3e98222-f49d-11e7-84ac-a0d38db00493.png)

![failed](https://user-images.githubusercontent.com/33262856/34696697-c622280a-f49d-11e7-9f6c-67af9c5e615f.png)

[2018-01-08 23:14] c-koehler opened #1798 "Notification toast checkmark overflows over text"
After updating to master for https://github.com/openshiftio/openshift.io/issues/1566 I found that the following image occurs when emitting a notification (did not happen before rebasing to master):

![profile-updated](https://user-images.githubusercontent.com/33262856/34697120-ad29310c-f49f-11e7-8157-c9c0e86a231f.png)

It should not overflow, maybe look like the following

![should-look-like](http

[2018-01-09 08:17] maxandersen commented on #122
seems we updated to latest versions now so it at least no longer occurs.

[2018-01-09 08:17] #122 closed

[2018-01-09 08:20] maxandersen commented on #123
This issue still happens; just 2018-01-09 created a project in prod-preview and the same @master reference is inserted (see https://github.com/maxandersen/tonightshow2/blob/master/Jenkinsfile#L2)

The linked issue seem to just been closed without no update/context thus keeping this open.

[2018-01-09 08:21] maxandersen commented on #123
p.s. pointing to @master wouldn't be an issue if we could guarantee at least some certainty the library would be backwards/forwards compatible in perpetuity.

[2018-01-09 08:39] Katka92 opened #1799 "Link to Web Console redirects back to openshift.io/_home"
When trying to get to web console via link on page https://manage.openshift.com/ it does some redirects and ends on https://openshift.io/_home. Not sure, if it should end on openshift online dashboard page or on *-che namespace page. Can someone specify please?

[2018-01-09 08:46] ibuziuk commented on #1799
![image](https://user-images.githubusercontent.com/1461122/34712036-c0d260de-f521-11e7-873b-63f87b10e969.png)

@joshuawilson am I correct that `open web console` button should redirect user to prod openshift online cluster ?

[2018-01-09 09:32] rkratky commented on #138
That's right @RanjithRV. Thanks for taking care of it @joshuawilson.

[2018-01-09 09:54] mvulavak commented on #142
Closing this issue as the associated Issue #1351 was closed.

[2018-01-09 11:30] maxandersen commented on #1632
yes, we will need to support it but not currently availble.

[2018-01-09 11:41] aslakknutsen commented on #1632
The general question is; Is this a GA requirement. If it is, there is a lot of work to be done (which most likely won't be ready in time)? If it's not, then remove it from the UX.

[2018-01-09 12:01] aslakknutsen commented on #1628
Replaced by #1627

[2018-01-09 12:01] #1628 closed

[2018-01-09 12:04] aslakknutsen commented on #1746
Openshift resources are easy enough assuming all the labeling matches(I think the route is missing it atm), but just that would leave GitHub repos with orphan webhooks as well as Che workspaces referring the codebases.

[2018-01-09 12:13] fbricon commented on #143
Upstream issue was closed

[2018-01-09 12:13] #143 closed

[2018-01-09 12:14] #142 closed

[2018-01-09 12:15] fbricon commented on #137
Upstream issue was closed

[2018-01-09 12:15] #137 closed

[2018-01-09 12:16] fbricon commented on #131
Upstream issue was closed

[2018-01-09 12:16] #131 closed

[2018-01-09 12:18] krishnapaparaju opened #1800 "Ingest manifest files and packages from awesome-python"
@tisnik  has suggest this repository and can be quite useful to train PyPi models, lets make sure to ingest manifest files, packages from https://github.com/vinta/awesome-python.

[2018-01-09 12:18] ibuziuk commented on #1683
@alexeykazakov @aslakknutsen does OSO-proxy already available on prod-preview ?

[2018-01-09 12:32] mvulavak commented on #10
Closing this issue as the associated issue #1304 is closed.

[2018-01-09 12:32] #10 closed

[2018-01-09 13:27] ibuziuk commented on #1789
@joshuawilson this might also be related to https://github.com/redhat-developer/rh-che/issues/503
need to check with SD team

[2018-01-09 13:48] joshuawilson commented on #1789
@dlabrecq can you please check again on prod, we fixed what we think is the issue yesterday.

[2018-01-09 14:09] joshuawilson commented on #1799
@Katka92 do you have an account on  https://openshift.io? Were you trying to access it or go someplace else?

If you can tell me what you want to do or happen and then what you observed, we can better help you.

[2018-01-09 14:14] ibuziuk commented on #1799
@joshuawilson for me when I click on "Open Web Console" it redirects me to  https://openshift.io/_home and I would expect to be redirected to prod openshift online (starter-us-east-2) dashboard

[2018-01-09 14:16] joshuawilson commented on #1799
But the page you posted has `OpenShift.io` on it as the target. Why would expect to go any place else?

[2018-01-09 14:23] ibuziuk commented on #1799
@joshuawilson but I was redirected to it from https://manage.openshift.com/
I guess this link was used by @Katka92 in order to access prod openshift online cluster before
The issue is labeled as `question` since I am not 100 % sure what is expected behavior, but for me the navigation looks broken and I would expect to be redirected to prod openshift online console, not to https://openshift.io/_hom

[2018-01-09 14:28] dlabrecq commented on #1789
I don't see the issue on prod. Although, I encountered a different issue -- not able to open any workspaces.

I successfully added a new codebase via the dialog. Next, I created a workspace. I'm just not able to open any workspaces -- new or existing.

I don't see any errors in the browser console. I also tried resetting my user environment.

[2018-01-09 14:30] joshuawilson commented on #1799
Yeah, I'm not sure either. That is why I was asking for clarification.

[2018-01-09 14:30] joshuawilson commented on #1789
Prod has not been updated yet. Do you see this on prod-preview?

[2018-01-09 14:32] ldimaggi commented on #1789
I was just able to create and open a new workspace on prod-preview. Looking on prod now.

[2018-01-09 14:37] krishnapaparaju commented on #1738
@bmicklea Ack. Doing well with these work items marked as priority. I have included an new icon to indicate priority and maybe would be good to review during spring demos..

[2018-01-09 14:39] dlabrecq commented on #1789
Ok, you said prod above. I don't see the issue with the codebases dialog, but the newly added codebase isn't displayed. I also still see the same errors in the page.

![screen shot 2018-01-09 at 9 38 11 am](https://user-images.githubusercontent.com/17481322/34726082-fa6a5172-f520-11e7-9a3e-64148b3fa73f.png)

[2018-01-09 14:40] ibuziuk commented on #1733
Related rh-che issue https://github.com/redhat-developer/rh-che/issues/507 which would improve UX (there will be no need to do manual resource cleanup and user will be provided with the retry message)
The issue would be fully fixed in che6 release where keycloak token cache mechanism will not be used

[2018-01-09 14:41] #1516 closed

[2018-01-09 15:08] joshuawilson commented on #1789
oops, I meant prod-preview. sorry

[2018-01-09 17:14] ibuziuk commented on #1789
@ldimaggi are you able to create workspace on prod-preview via dashboard ?

[2018-01-09 18:13] jiekang commented on #1788
Closing as PR has been merged.

[2018-01-09 18:13] #1788 closed

[2018-01-09 18:52] ibuziuk commented on #1174
Now user will not be able to start more than one workspace via dashboard
![image](https://user-images.githubusercontent.com/1461122/34736470-54873ae2-f573-11e7-8047-63d923675e37.png)

[2018-01-09 18:52] #1174 closed

[2018-01-09 19:09] ldimaggi commented on #1789
On prod-preview, after an env reset, I was able to create a new quickstart, and create a new workspace from the codebase created when the quickstart was created:

![screenshot 91](https://user-images.githubusercontent.com/642621/34738245-6cc89786-f546-11e7-96b2-41cf1c3fdcb4.png)

However, I was not able to create a new workspace after importing a codespace from a repo that was created by creating

[2018-01-09 19:33] joshuawilson commented on #1630
This api will be used to know if you are a collaborator on a space.

1. Based on that you should be able to leave the space and stop being a collaborator.
2. You should also be able to filter the list of spaces to show only those that you own or are a collaborator on

Does the current API support these use cases?

[2018-01-09 21:02] catrobson commented on #1566
@c-koehler Can we give the Check and X a bit of right-hand padding before the text starts, a little bit more like updating tenant with the spinner for padding between the icon and the text?  Otherwise looks good!

[2018-01-09 21:37] c-koehler commented on #1566
@catrobson Is this padding okay?

![updated-padding](https://user-images.githubusercontent.com/33262856/34744463-4b74cf40-f55b-11e7-9e10-746bf6d93f45.png)

![failed-padding](https://user-images.githubusercontent.com/33262856/34744465-4cbab39c-f55b-11e7-86cb-b7ae8cd900f2.png)

[2018-01-09 21:38] catrobson commented on #1566
Yes, thanks @c-koehler!

[2018-01-09 22:01] #1566 closed

[2018-01-09 23:57] alexeykazakov commented on #1683
Not yet. But should be soon.

[2018-01-10 00:42] #1750 closed

[2018-01-10 00:47] alexeykazakov commented on #1630
What we have now:
1. GET /api/space/:spaceID/collaborators - list collaborators of the space
2. POST /api/space/:spaceID/collaborators/:userID - add collaborator
3. DELETE /api/space/:spaceID/collaborators/:userID - delete collaborator

That's it.
New API will provide endpoints for checking if user is a collaborator for particular space and for getting the list of spaces where user is a collaborat

[2018-01-10 02:45] rootAvish commented on #1500
This is solved in https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/163.

[2018-01-10 02:45] #1500 closed

[2018-01-10 02:46] rootAvish commented on #1490
@miteshvp Can I close this? This is related to the model size being large at times and there is nothing at the code level that can be done about it.

[2018-01-10 02:57] miteshvp commented on #1490
yes, please close this.

[2018-01-10 02:59] #1490 closed

[2018-01-10 02:59] miteshvp commented on #1786
@tisnik - can you please add corresponding labels of `type` for this issue.

[2018-01-10 03:00] liangxia opened #1801 "Documentation link on profile page show 404"
Log into OpenShift.io, go to profile page to setup your profile. There is a link "in the documentation" beside button "Create a Space". Click the link, show 404.

[2018-01-10 03:00] miteshvp commented on #1745
@tisnik - can you please add corresponding labels of type for this issue.

[2018-01-10 03:02] rootAvish opened #1802 "Generate stack recommendations using a probabilistic approach with Edward"
### User Story

As an OSIO/Fabric8-analytics IDE extension user I should be able to get companion/outlier insights for my stack via the new approach.

### Acceptance Criteria

A working POC with multiple probabilistic approaches implemented (using [Edward](http://edwardlib.org/)) and tested. The results/requirements/shortcomings of each for the NPM ecosystem should be documented at the end of this

[2018-01-10 03:05] rootAvish commented on #1737
Closing this as it is cloned by #1802 , created a new one so there's no confusion around who to contact in case of any queries around the issue description(since Github currently does not indicate that I'm the one who's written it if the issue has not been created by me). Updated the same in #1738

[2018-01-10 03:05] #1737 closed

[2018-01-10 03:17] miteshvp commented on #1704
@samuzzal-choudhury - as we observed this was a behavior around how SQS queue works
- FIFO - exactly once delivery
- Standard - atleast once delivery

WIth Standard queues under load tests, workers got the same tasks delivered on many occassions. It reduced for FIFO queues but we still observed some tasks were delivered to more than one workers because of the [visibility_timeout](https://docs.aws.

[2018-01-10 03:19] miteshvp commented on #1547
@arunkumars08 - can you please point to the issue where new UX is been implemented. Maybe this might be a stale issue now and can be closed.

[2018-01-10 03:23] miteshvp commented on #1299
@tuxdna - any updates here? Can this be closed since it is not reproducible anymore?

[2018-01-10 03:24] liangxia commented on #1801
![screenshot from 2018-01-10 11-22-48](https://user-images.githubusercontent.com/4716987/34754447-c083fa7a-f5f8-11e7-8f93-987410b5b9eb.png)

[2018-01-10 03:57] RanjithRV commented on #1
@sbose78 @alexeykazakov can you please take a look at this very old issue. I am guessing we are way past it but can you please confirm so that we can close it

[2018-01-10 04:41] abs51295 opened #1803 "[POC for Node]Using Deep and Wide Neural Networks to generate stack recommendations"
#### User Story

As an OSIO developer, I will be able to see stack recommendations via the new approach so that I can improve my stack.

#### Description

Currently, companion recommendations come from PGM using hierarchical Bayesian inference and on the other hand the outlier recommendations come from the usage data of the packages. Using [Deep and Wide networks](https://www.tensorflow.org/tutori

[2018-01-10 05:42] alexeykazakov commented on #1
Won't fix. Closing.

[2018-01-10 05:42] #1 closed

[2018-01-10 06:00] abs51295 commented on #1736
Duplicate of #1803. Closing this. Thanks.

[2018-01-10 06:00] #1736 closed

[2018-01-10 06:01] #1299 closed

[2018-01-10 06:13] abs51295 commented on #1429
Pushed to Prod. Thanks.

[2018-01-10 06:13] #1429 closed

[2018-01-10 06:17] abs51295 commented on #1474
I think PGM doesn't need parallel execution anymore since only companion packages are being fetched from PGM. The outlier logic has been already pulled out of PGM which can be tracked here #1429. Closing the issue. Thanks.

[2018-01-10 06:17] #1474 closed

[2018-01-10 06:21] RanjithRV commented on #21
@catrobson guessing the landing page is owned by UX team. Can we close this old issue, as we did make over the page quite a bit from those initial days.

[2018-01-10 06:24] abs51295 commented on #1647
@pkajaba The PR has already been created and merged: https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/168. Also, it has been pushed to prod: https://github.com/openshiftio/saas-analytics/pull/193. Regarding the doc, since the approach was still under discussion I didn't add it to the repo, but since the PR has been merged now, I would add it to the repo. Thanks.

[2018-01-10 06:33] liangxia opened #1804 "URL and bio in profile need a manual refresh after click update button to fresh."
Update to URL and bio in profile for the first time succeed.
Since the second time, it show updated successfully, but actually the content does not change after you click the update button. You need a manual refresh to get it updated.

[2018-01-10 06:37] RanjithRV commented on #221
@chmouel @pradeepto assigned this bug to build team. Not sure if this is still an issue so classified it as an Sev3. Please update as you see it appropriate

[2018-01-10 06:41] RanjithRV commented on #183
@alexeykazakov @sbose78 since this is been here since May 2017, I have classified it as SEV3. Please update if its misclassified.

[2018-01-10 06:47] RanjithRV commented on #132
@chmouel @pradeepto made this issue Sev3 as it has been hanging around since May 2017. Please update if needed.

[2018-01-10 06:48] liangxia opened #1805 "Wrong organization map and string validation in "Application Wizard""
In "Application Wizard", the organization show "OpenShift Origin, https://www.openshift.com", which is not the correct map between product and website.
OpenShift Origin should link to https://www.openshift.org, while
OpenShift Online should link to https://www.openshift.com.

![screenshot from 2018-01-10 14-42-28](https://user-images.githubusercontent.com/4716987/34759098-e910a2c4-f614-11e7-9bec-0

[2018-01-10 06:49] RanjithRV commented on #153
@baijum any progress on this suggestion you made? Please close if there is no further action needed.

[2018-01-10 07:14] liangxia commented on #1805
Also wrong validation after the first character typed in "Goup Id" field.

![screenshot from 2018-01-10 15-12-42](https://user-images.githubusercontent.com/4716987/34759951-bf47911a-f618-11e7-9046-efdce9fa784d.png)

[2018-01-10 07:25] pkajaba commented on #1647
sure

[2018-01-10 07:32] sanketpathak commented on #1650
Build happens successfully but sometimes failure occurs. I think this issue can be closed.

[2018-01-10 08:15] jaseemabid commented on #1103
@chmouel I think this issue is underrated. Having proper docker (and not just s2i) builds will let us move a lot of ad-hoc jobs to our own pipelines. The last time I checked on this, it was disabled due to security concerns. Enabling this for a set of trusted users is IMO a good strategy.

I'd like to get this prioritised if possible.

[2018-01-10 08:35] pradeepto commented on #1103
@jaseemabid Note that this is very important but not prioritised for G and H train. Plus it is also something that is not blocked by us. There are some infosec bits that needed to sort out before this can progress.

cc @bmicklea @qodfathr

[2018-01-10 09:11] chmouel commented on #1103
@jaseemabid this is not really up to us, as this need to be enabled on OSIO fist

[2018-01-10 09:12] baijum commented on #153
The screenshots are removed.

[2018-01-10 09:12] #153 closed

[2018-01-10 10:29] aditya-konarde commented on #1801
@liangxia Thanks for reporting. Looks like this is a duplicate and is already reported at: https://github.com/openshiftio/openshift.io/issues/1588

[2018-01-10 10:45] krishnapaparaju commented on #1646
@sunilk747 @miteshvp please close this issue as package licenses are covered for OSIO quick starts.

[2018-01-10 10:47] #1506 closed

[2018-01-10 11:14] #1505 closed

[2018-01-10 11:20] RickJWagner opened #1806 "Build takes a long time to start (noticed during 'Test Day', with 20 users)"
During 'Test Day', the first effort to make a build resulted in a long wait.  (8 minutes total build time, from start till 'Rollout to run'.)
The initial wait for build to start was long, it seemed like 4 or 5 minutes.

[2018-01-10 11:29] Ladicek opened #1807 "Application Wizard thinks that "a" is an invalid group id"
When creating a new project, I tried to set the group id in the wizard to `a`, and I'm getting "Group Id should not contain uppercase or special characters". I'm pretty sure `a` is a valid Maven groupId.

[2018-01-10 11:34] pkajaba commented on #1263
I am trying new plugin here: https://github.com/almighty/almighty-jobs/pull/471

[2018-01-10 11:39] tisnik opened #1808 "[RFE] [UX]: The info about the stack analysis is not prepared on the Pipeline view, but the Stack analysis link is displayed (w/o additioal icon)"
Scenario:

1) new project is created
2) click on the Pipelines link from the Space
3) the pipeline is displayed (OK)
4) under the "Build Release" there's link to Stack analysis
5) click on the Stack analysis -> the info that the analysis is not yet done is printed

RFE: display some form of icon next to the Stack analysis link to display current status

[2018-01-10 11:39] camilamacedo86 commented on #1799
WHAT: Re-direct to fo to home page after the login is a bad experience
WHERE: After the registration
WHEN: Click on the button "Open Web Console" has a redirect to an openshift.io page and a check if the user is logged or not, if yes has a new re-direct to the home page.
IMPACT: It shows as has an error and makes the user confused. Also, if the user has a low/poor internet connection it will show

[2018-01-10 11:40] krishnapaparaju opened #1809 "EPIC: Experiments around generating insights for future ecosystems"
For Fabric8 Analytics platform, focus has been so far centered around providing insights for VertX and SpringBoot ecosystems. These ecosystems are smaller in size (number of packages, projects == manifest files) compared to Node, Python ecosystems. Insights been generated from these small datasets (for VertX, SpringBoot) thru Machine learning algorithms. These ML algorithms are based on Bayesian n

[2018-01-10 11:46] rsvoboda opened #1810 "Application Wizard - enhance wizard forward navigation by clicking in left wizard panel, not only Next button"
Application Wizard - enhance wizard forward navigation possibilities with clicking in left wizard panel, not only Next button.

This is also inconsistency comparing to backward scenario, when I'm at "1B. Define Project" I can chose 2 ways to get to "1A Select Stack":
 * Click on Back button
 * Click on "1A Select Stack" in left panel

Screenshot for the wizard context:
![screenshot from 2018-01-10

[2018-01-10 11:49] hhovsepy opened #1811 "[RFE] [UX] New Item - Enter Title - Improvements"
Currently when adding a New Item by clicking "+ Create" button, the input of "Enter Title" seems like not mandatory input.

[Proposal] Improve it to have by default in edit mode with cursor on it and a sign "*" of required field.

[2018-01-10 11:49] camilamacedo86 opened #1812 "Error "An authentication error occurred" is faced when trying to connect the "OpenShift.com account""
# Problem Description
**WHAT:** Error "An authentication error occurred" is faced when trying to associated the "OpenShift.com account"
**WHERE:** Into the OpenShift.com connect accounts
**WHEN:** Has a new user/account and after to do the required connection to the GitHub account
**BEHAVIOUR CHECKED AT:** 10/jan/2018

# Steps to reproduce:
1. Register to have a new account on the OpenShift.io
2.

[2018-01-10 11:56] rsvoboda opened #1813 "Openshift.io integration with GH didn't allow me to specify which GH organizations can be connected"
Openshift.io integration with GH didn't allow me to specify which GH organizations can or cannot be also connected.

Of course this can be prevented by GH organization configuration, but I don't have control over them.

Now I must be extra careful because I have one private organization connected to openshift.io.
I can't do any fine-tuning, I looked at https://github.com/settings/applications and

[2018-01-10 11:56] shannon opened #1814 "HTML entities not rendered in Planner Item Title"
If you use a character such as `>` in a planner item title it converts it to `&gt;` which could make sense but it should probably still render it correctly in the UI. The description seems to allow the character without issue.

<img width="1680" alt="capture" src="https://user-images.githubusercontent.com/1154610/34771603-16137ed2-f5d3-11e7-8059-59d264708fd4.PNG">

## Impacts
- [ ] #2162 Planner B

[2018-01-10 12:02] rgarg1 commented on #1814
Same as https://openshift.io/openshiftio/openshiftio/plan/detail/1785

[2018-01-10 12:05] camilamacedo86 opened #1815 "The search filter is not working when the content/text is changed"
# Problem Description
**WHAT:** The search filter is not working when the content/text is changed
**WHERE:** Application Wizard/Quick started
**WHEN:** Type the text it
**BEHAVIOUR CHECKED AT:** 10/jan/2018

# Steps to reproduce:
1. Openshift.io home >> click on the dropdown in the left top >> Create space
2. Add a name to space >> Create Quick started
3. Try to search due adding text into the fil

[2018-01-10 12:05] tisnik opened #1816 "Typo in https://openshift.io/osiogettingstarted.pdf"
Page 36 says:
"Do not check the “Append previous commit” checkbox."

I believe it should says:
"Do not check the “Amend previous commit” checkbox."

[2018-01-10 12:07] jkandasa opened #1817 "Create space dialog has extra space on the bottom"
When creating new space, There is a popup to enter `Space` name. I see extra space at the bottom of the dialog.
![image](https://user-images.githubusercontent.com/1004403/34771994-85ac8140-f62c-11e7-90c8-1fa9da44067f.png)

[2018-01-10 12:09] liangxia opened #1818 "The cancel button on Application Wizard summary page cancels nothing."
Going through Application Wizard step by step till the last one (summary page), and click cancel, nothing cancelled.

[2018-01-10 12:11] camilamacedo86 opened #1819 "Unable to check all steps into the lateral menu on the Application Wizard"
# Problem Description
**WHAT:** Unable to check all steps into the lateral menu on the Application Wizard
**WHERE:** Application Wizard/
**WHEN:** the user is into the "Quick started" and Ïmport code base process"
**BEHAVIOUR CHECKED AT:** 10/jan/2018

# Steps to reproduce:
1. Openshift.io home >> click on the drop-down in the left top >> Create space
2. Add a name to space >> Create Quick started

[2018-01-10 12:14] gbaufake opened #1820 "Deleting a space leaves a pipeline running on Recent Active Pipelines"
On Openshift.io,
After creating a space with a pipeline then deleting it leaves a recent pipeline running on Recent Active Pipelines

![image](https://user-images.githubusercontent.com/2313749/34772158-3e43a5c4-f5ee-11e7-8f3e-77d3e87e7006.png)

Clicking on Recent Pipeline page, it redirects to 404 Page

![image](https://user-images.githubusercontent.com/2313749/34772331-c8907d60-f5ee-11e7-9a0f-e9f

[2018-01-10 12:14] camilamacedo86 commented on #1813
I could not face the same issue:

It is showing for me all organizations:

<img width="911" alt="screen shot 2018-01-10 at 12 12 40 pm" src="https://user-images.githubusercontent.com/7708031/34772367-a5c2615c-f5ff-11e7-8164-b19558699c82.png">

My GitHub account is associated with the profile:

<img width="965" alt="screen shot 2018-01-10 at 12 18 04 pm" src="https://user-images.githubusercontent.c

[2018-01-10 12:15] rsvoboda opened #1821 "First class citizen support for Firefox"
Firefox is included in standard repositories for Fedora and RHEL.
Chrome is not part of standard repositories for Fedora and RHEL.

Firefox should be first class citizen for OpenShift.io usage too.
We are Red Hat, aren't we :).

[2018-01-10 12:18] camilamacedo86 commented on #1821
However, I believe that Google Chrome is the most used navigator by devs. Particularly, I don't like too much use Firefox and the its dev tools.

[2018-01-10 12:18] liangxia commented on #1818
![screenshot from 2018-01-10 20-03-53](https://user-images.githubusercontent.com/4716987/34772580-770333ca-f643-11e7-8a44-3c837f4cd649.png)

[2018-01-10 12:19] tisnik opened #1822 "[RFE] [UX] Links to stage/prod applications are displayed as a regular text"
Links to stage/prod applications are displayed as a regular text, they got the 'link look and feel' only if the mouse cursor is hover above them. IMHO it might be better to inform users that app versions work as links.

[2018-01-10 12:21] RickJWagner opened #1823 "Log in problems during OSIO Test Day (Jan 10th 2018)"
OSIO showed login problems.

1)  When trying to access Michael's shared project, I could view the project when not logged in.  If I logged in, then I could no longer see the space.  (If I tried to hack the URL to jump straight to the Space, then it would log me out enroute.)
2)  Note the attached Screenshot.  I am logged in, trying to 'view all spaces'.  It knows it's me-- it's got my picture-- bu

[2018-01-10 12:25] liangxia opened #1824 "Work item popop menu overlap"
Create some work items, and bring out the popup menu.
![screenshot from 2018-01-10 20-20-50](https://user-images.githubusercontent.com/4716987/34772818-5e2e62ec-f644-11e7-934d-330589d2ed4a.png)

[2018-01-10 12:25] hhovsepy opened #1825 "Item Move to backlog - Remains on board"
Task remains on board after "Move to backlog".
It is possible to to clock on Move several times and it logs success each time but does not move.

![screenshot from 2018-01-10 13-15-18](https://user-images.githubusercontent.com/604313/34772669-1a0a02aa-f609-11e7-8ed1-11845e9146a9.png)

[2018-01-10 12:27] rsvoboda opened #1826 "Getting started guide, Che and Jenkins versions, stress out that it's about tenant versions"
Getting started guide, page number 12 and 13 / 16th and 17th page in thumbnails.
Stress out that it's about Jenkins and Che tenant versions.

Example: `When visiting these URLs, you will see a screen like this, which indicates that the latest version of Che is 2.0.45:`

Should say `... latest version of Che tenant is ...`
Maybe add extra note that Jenkins and Che versions are not aligned to tenant

[2018-01-10 12:27] pmacik opened #1827 "Creating a workitem in selected Iteration does not assign the workitem to the Iteration"
![image](https://user-images.githubusercontent.com/3263627/34772902-065c8902-f60a-11e7-9d05-25ebe3e6cbe7.png)

## Impacts
- [ ] #2162 Planner Backlog Management Experience placeholder

[2018-01-10 12:28] jkandasa opened #1828 "Quick start project widgets are not uniform"
Create a new software project via a “Quickstart.” On Select stacks, we can see a list of predefined projects. These projects display widgets are not uniform, hence not aligned properly.

![image](https://user-images.githubusercontent.com/1004403/34772915-caba2e4c-f62f-11e7-96de-faafd646a519.png)

[2018-01-10 12:31] pmacik opened #1829 "The notification bubble is not rednered properly."
![image](https://user-images.githubusercontent.com/3263627/34773046-8f61cf14-f60a-11e7-80d5-7d17e9b0fac3.png)

## Impacts
- [ ] #2164 Platform Rendering Issues for Heather

[2018-01-10 12:32] camilamacedo86 opened #1830 ""Create new work item" page is opening scrolled down when in small viewport"
# Problem Description
**WHAT:** Create new work item" page is opening with the scroll to end of the page which doesn't allow the user see the options
**WHERE:** `https://openshift.io/<user>/<space>/(action:add-work-item)` with the Chrome Version 63.0.3239.132 (Official Build) (64-bit) | https://openshift.io
**WHEN:** Click on the  "Create new work item" button
**BEHAVIOUR CHECKED AT:** 10/jan/2018

[2018-01-10 12:33] RickJWagner opened #1831 "Planner calendar doesn't allow date usage"
Making a new Iteration, I was unable to choose arbitrary dates.

1.  Make Iteration 1.  Assign dates from today - 1 week from today.
2.  Make Iteration 2.  Dates are restricted (see screenshot).

This may be user error -- I assigned the project as the Parent Iteration.  (Is that the right thing to do?)

![osio_cant_use_calendar](https://user-images.githubusercontent.com/524520/34773129-30738df6-f5

[2018-01-10 12:36] rsvoboda opened #1832 "Import of existing codebase (WildFly and WildFly Core) ends with "Error calling service" and "Something went wrong""
Import of existing codebase (WildFly and WildFly Core) ends with "Error calling service" and "Something went wrong"

Using space https://openshift.io/rsvoboda@redhat.com/foooooooooooooooo
Time-stamp: 2018-01-10 13-33-01 CET

![screenshot from 2018-01-10 13-33-01](https://user-images.githubusercontent.com/925259/34773185-108a49e0-f60b-11e7-8ef4-44b51ae6354f.png)

[2018-01-10 12:38] sunilk747 commented on #1646
https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/48 solves this issue.

[2018-01-10 12:39] tisnik commented on #1528
Implemented in the following PRs:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/442
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/447

[2018-01-10 12:39] #1528 closed

[2018-01-10 12:40] budhrg opened #1833 "Too much space around text under "Detailed analysis of your stack components""
Steps to reproduce:
1. Create space
2. Go to stack report
3. Hover over rows under "Detailed analysis of your stack components"

See below:
![1 hover](https://user-images.githubusercontent.com/1132451/34771109-64f65adc-f629-11e7-970d-bc4499e03a3c.png)
![2 hover](https://user-images.githubusercontent.com/1132451/34771110-652e1c06-f629-11e7-8a3f-2e4a749a3a8d.png)

[2018-01-10 12:40] pmacik commented on #1829
![image](https://user-images.githubusercontent.com/3263627/34773384-c1454032-f60b-11e7-98bb-af6846ef7b3b.png)

[2018-01-10 12:41] shannon opened #1834 "Work Item Assignees/Labels selector is unintuitive"
When you select a name or names from the assignee selector, it's unclear that you have to hit the `x` to make the change persistent. `x` feels like it should be cancel. There should probably be a check box. The same goes for the label selector.

<img width="336" alt="capture" src="https://user-images.githubusercontent.com/1154610/34773430-aff6aa32-f5d9-11e7-9d6e-0caa6e684364.PNG">

[2018-01-10 12:41] miteshvp commented on #1646
Closing this issue.

[2018-01-10 12:41] #1646 closed

[2018-01-10 12:41] miteshvp commented on #1696
fabric8-analytics/fabric8-analytics-license-analysis#48  fixes this

[2018-01-10 12:44] RickJWagner opened #1835 "Planner 'Experience' Title bar is unintuitive"
When making a new 'Experience' in Planner, "Enter title" is depicted in grey and is placed apart from other input fields (which are in white).

To me, this makes the "Enter title" area almost invisible, it is not intuitive.

![osio_makeexperience](https://user-images.githubusercontent.com/524520/34773556-be018532-f5d1-11e7-9e96-4853a6793673.png)

[2018-01-10 12:49] liangxia opened #1836 "Labels for work items can not really removed."
Create some work items, and add labels for them. Then try to remove the labels. They seems to be removed. But when you click "Add label", the labels are still there.

[2018-01-10 12:50] liangxia commented on #1836
![screenshot from 2018-01-10 20-47-02](https://user-images.githubusercontent.com/4716987/34773774-d92f6740-f647-11e7-89af-71296acc2155.png)
![screenshot from 2018-01-10 20-47-23](https://user-images.githubusercontent.com/4716987/34773784-e17bff1c-f647-11e7-881a-8395129eeec1.png)
![screenshot from 2018-01-10 20-47-36](https://user-images.githubusercontent.com/4716987/34773787-e3c51150-f647-11e7-811

[2018-01-10 12:51] ldimaggi commented on #1832
Can you provide the following information:
* Confirm that this was attempted on https://openshift.io
* The URLs for the codebases that you attempted to import
* Were any errors logged in the Chrome browser console
* Is the error 100% reproducible?

[2018-01-10 12:51] rsvoboda opened #1837 "List in Markdown is not working for description of the Feature"
List in Markdown is not working for description of the Feature.
Probably wider problem as the same Markdown component is probably used on many places.

https://openshift.io/rsvoboda@redhat.com/foooooooooooooooo -- My Work Items -- (+) -- select Feature
Description area says "Markdown Supported"

So I added following text, used * / + / - for list items
[code]

Rendered as:
[code]

[2018-01-10 12:58] edseymour opened #1838 "jenkins-git-ssh key not created automatically"
Creating a new space and using one of the quickstarts (vertx health check example), the jenkins slave failed to start. The problem was that the jenkins-git-ssh secret was missing.

I noticed my github account didn't have a public SSH key configured, although the client would need its own private key to work, I presume.

Creating a dummy source secret `jenkins-git-ssh` resolved the problem.

[2018-01-10 12:59] pkettman opened #1839 "Repeatedly logged out from pre-prod"
During testing on initial Len's test session on https://fabric8-ui-fabric8-ui-pr-2380-fabric8-planner.badger.fabric8.io I got repeatedly logged out, e.g. each 10-15 minutes while testing the new planner features.

[2018-01-10 13:00] #1696 closed

[2018-01-10 13:00] rsvoboda opened #1840 "Add Ctrl+Enter support to submit comment / confirm text / confirm markdown area"
Add Ctrl+Enter support to submit comment / confirm text / confirm markdown area

Noticed that when adding comment to Feature, wanted to just hit Ctrl+Enter to submit my comment, but had to use mouse and navigate to confirm tick button.

![screenshot from 2018-01-10 13-59-40](https://user-images.githubusercontent.com/925259/34774145-8e0be72c-f60e-11e7-8bab-5423fa29d87c.png)

[2018-01-10 13:01] tradej commented on #1821
To further @rsvoboda's point, only developing for Chrome basically [makes it the new Internet Explorer 6](https://www.theverge.com/2018/1/4/16805216/google-chrome-only-sites-internet-explorer-6-web-standards).

[2018-01-10 13:01] gastaldi commented on #1782
Is this still happening? This seems to be caused by the cluster issues last week?

[2018-01-10 13:02] tradej commented on #1822
I suggest the blue "Open in new tab" icon be used here to make this UI more consistent with the Pipelines view.

[2018-01-10 13:04] rsvoboda opened #1841 "Feature title - `let's` see translated to `let&#39;s` see"
Feature title - `let's` see translated to `let&#39;s` see

![screenshot from 2018-01-10 14-02-14](https://user-images.githubusercontent.com/925259/34774286-08acc104-f60f-11e7-9f19-5c2c93ab12a5.png)

[2018-01-10 13:05] ldimaggi commented on #1839
This was a result of a test environment that was unstable and is not supported for anything beyond temporary internal testing. Closing - thanks!

[2018-01-10 13:05] #1839 closed

[2018-01-10 13:07] tradej commented on #1816
I will hijack this issue for other typos I found as well:
* P12, par. 3: A service _that_ is starting.
* P25, par. 4: Change _top-most_ to _topmost._
* P50, par 1: Replace And with Next.

[2018-01-10 13:08] ldimaggi commented on #1823
This was a result of a test environment that was unstable and is not supported for anything beyond temporary internal testing. Closing - thanks!

[2018-01-10 13:08] #1823 closed

[2018-01-10 13:09] rsvoboda commented on #1832
I think the problem is that https://github.com/wildfly/wildfly and https://github.com/wildfly/wildfly-core do not have Jenkinsfile in repo.

Some safety check should be in place.

Yes for `Confirm that this was attempted on https://openshift.io` and `Were any errors logged in the Chrome browser consoleThe rest can`, see attached screenshot

[2018-01-10 13:13] tradej opened #1842 "Problems with https://openshift.io/osiogettingstarted.pdf (not typos)"
This is a (non-exhaustive) list of problems I found in the Getting Started document:

* P17, “Name” is in the docs, “OpenShift Project Name” is in GUI.
* P26: Instruction to click “Create workspace” actually missing.
* P27: It is not obvious where the command-line screenshot comes from. My Che instance didn’t show any of that.
* P37: Does not say whether the reader should commit the changes.
* P38

[2018-01-10 13:14] ldimaggi commented on #1829
Pavel - can you confirm that:
* You saw this on https://openshift.io
* And - can you list the precise steps that you took to recreate the problem? Thx!

[2018-01-10 13:16] ldimaggi commented on #1828
Can you confirm that this issue is seen on both production (https://openshift.io) and prod-preview? Thx!

[2018-01-10 13:16] tradej opened #1843 "[UX] "Input required" modal should show to which environment the build is being promoted"
When promoting a build in Pipelines, the modal window only says it's promoting "into the next environment," which I find somewhat lacking. I believe it should say the build is being promoted to Run or Production, based on which subscription the user has.

[2018-01-10 13:19] tradej opened #1844 "[UX] No indication of progress when Rolling out to Run for the first time"
When the build has been approved for Run in the Pipelines screen, there is no indication of activity for a long time before the _Rollout to Run_ stage indication appears. It may seem to the user that the application is doing nothing or that they did something wrong.

[2018-01-10 13:19] inoxx03 opened #1845 "Work item counter in the sidebar always 0"
In the production deployment on openshift.io, in the Planner section, the sidebar always lists the number of outstanding issues as 0, despite there being several issues on the backlog.

This happens regardless of the Issue status (new, open, in progress, resolved...)
The counter does not seem to be responding to the actual number of issues in the backlog.

Attaching image of reference:

![osio-ite

[2018-01-10 13:20] pkettman opened #1846 "WI Type incorrectly set if quick add is committed using Enter key"
I have create several new Experiences in Planner on https://fabric8-ui-fabric8-ui-pr-2380-fabric8-planner.badger.fabric8.io/pkettman/PKE_Space and some of them turned to Scenarios and are now listed as Scenarios, see below. In addition one created Requirement was changed to Experience.

![experiences](https://user-images.githubusercontent.com/26871874/34774865-5b291d0e-f611-11e7-9dc7-e703e08932c6.

[2018-01-10 13:21] rsvoboda commented on #1813
This is about GitHub.com Authorization described on page 6 of getting started pdf.

[2018-01-10 13:23] ldimaggi commented on #1846
This was a result of a test environment that was unstable and is not supported for anything beyond temporary internal testing. Can you recreate this in production?

[2018-01-10 13:25] ldimaggi commented on #1818
Duplicate of:  https://github.com/openshiftio/openshift.io/issues/1325

[2018-01-10 13:25] #1818 closed

[2018-01-10 13:28] tisnik opened #1847 "Wrong info about licenses are displayed on openshift.io for the "Hello world" vertx project"
I've realized in on today's test day:

### Current output:

![stack_analysis_current](https://user-images.githubusercontent.com/4579967/34774940-39fa30d0-f609-11e7-8041-fe7dc3a3f446.png)

### Expected output:

![stack_analysis_expected](https://user-images.githubusercontent.com/4579967/34774941-3a18d10c-f609-11e7-8798-3899556d86f5.png)

[2018-01-10 13:28] ldimaggi commented on #1806
Dupicate of:  https://github.com/openshiftio/openshift.io/issues/1731

[2018-01-10 13:28] #1806 closed

[2018-01-10 13:29] ldimaggi commented on #1807
Can you provide additional context on this?
* Did this fail with "a" only? Or, is the issue that single char group id's failed? Thx!

[2018-01-10 13:32] ldimaggi commented on #1812
This was a result of a test environment that was unstable and is not supported for anything beyond temporary internal testing. Closing.

[2018-01-10 13:32] #1812 closed

[2018-01-10 13:32] camilamacedo86 opened #1848 "Unable to check all available repos to add codebase"
# Problem Description
**WHAT:** Unable to check all available repos to select
**WHERE:** Add new code base popup
**WHEN:** Try to add/import new code base to a space
**BEHAVIOUR CHECKED AT:** 10/jan/2018

# Steps to reproduce:
1. Openshift.io home >> click on the drop-down in the left top >> Create space >> And create a new space
2. Go to the home space via
    2.1 click on the drop-down inot the

[2018-01-10 13:34] jkandasa commented on #1828
@ldimaggi I see this issue in both environments.

[2018-01-10 13:40] pmacik commented on #1829
* I saw it in the PR build and prod-preview, not in prod (openshift.io)
 * The steps are:
    * Open Planner
    * Click on Scenarios
    * Fill in new scenario name and click Add
    * Once created a new scenario, the notification is displayed.

[2018-01-10 13:44] qodfathr commented on #1813
This is definitely a bug; it makes it impossible for a user to safely proceed through the application wizard as there is no way to know in which org the codebase is going to be created.

[2018-01-10 13:49] dgutride opened #1849 "Space List: API adjustments needed for sorting/filtering and additional data needed"
This is an issue to roll up all of the others that have been entered around this and provide a higher level overview of what is needed.

Design: https://redhat.invisionapp.com/share/DQDSL22JA#/screens/261389228

API needs:
**Filtering/searching/sorting**
The page needs to be able to support sorting and filtering server side.  This is because All spaces can be returned and the list can be enormous.

[2018-01-10 13:49] michaelkleinhenz commented on #263
This is done and on prod.

[2018-01-10 13:49] #263 closed

[2018-01-10 13:53] michaelkleinhenz commented on #778
I think this is outdated now. There were no other reports on this since a while.

[2018-01-10 13:53] krishnapaparaju commented on #1511
@sanketpathak Are you able reproduce this problem, I could not reproduce this issue..

[2018-01-10 13:53] michaelkleinhenz commented on #783
Fixed.

[2018-01-10 13:53] #783 closed

[2018-01-10 13:54] gastaldi commented on #1318
I created https://github.com/fabric8-launcher/launcher-planning/issues/94 in the launcher backlog

[2018-01-10 13:54] michaelkleinhenz commented on #967
Fixed.

[2018-01-10 13:54] #967 closed

[2018-01-10 13:55] krishnapaparaju commented on #1546
@arunkumars08 please take care of this issue as part of the new UX implementation ..

[2018-01-10 13:56] michaelkleinhenz commented on #971
Fixed.

[2018-01-10 13:56] #971 closed

[2018-01-10 13:56] rgarg1 commented on #971
Fixed!

[2018-01-10 13:56] pkettman commented on #1846
No, this functionality is not on Production yet.

[2018-01-10 13:58] michaelkleinhenz commented on #1218
Fixed, but we have a different issue with the board currently. Will create a new bug.

[2018-01-10 13:58] #1218 closed

[2018-01-10 13:59] michaelkleinhenz commented on #1220
@nimishamukherjee I think we fixed that. I can't reproduce it with current master. Can you check and close the OSIO issue?

[2018-01-10 13:59] rgarg1 commented on #1431
Fixed!

[2018-01-10 13:59] #1431 closed

[2018-01-10 14:06] camilamacedo86 opened #1850 "Unable to recognized and create app environments which are not JAVA"
# Problem Description
**WHAT:** Unable to recognized and create app environments which are not JAVA
**WHERE:** Import code base actions
**WHEN:** Import a project that is not JAVA stack
**BEHAVIOUR CHECKED AT:** 10/jan/2018

# Steps to reproduce:
1. Openshift.io home >> click on the drop-down in the left top >> Create a space
2. Click on the  "import codebase" button
3. Select an organization and

[2018-01-10 14:12] Ladicek commented on #1807
Yea, it's a single-char group id that causes this issue, `aa` is fine.

[2018-01-10 14:15] gastaldi commented on #1782
Closing as we believe this was caused by the cluster instabilities. Reopen if the problem persists

[2018-01-10 14:15] #1782 closed

[2018-01-10 14:16] pbergene commented on #1813
@gastaldi something for you? It came up on the issue triage that you had worked a related or similar issue.

[2018-01-10 14:16] gastaldi commented on #1634
Closing as we believe this was caused by the cluster instabilities. Reopen if the problem persists

[2018-01-10 14:16] #1634 closed

[2018-01-10 14:17] camilamacedo86 opened #1851 "[UI] - Layout broken into the area Recent Spaces"
# Problem Description
**WHAT:** Layout broken into the area Recent Spaces
**WHERE:** Recent Spaces Card / Home
**WHEN:** Have many spaces
**BEHAVIOUR CHECKED AT:** 10/jan/2018

# Result:
<img width="1244" alt="screen shot 2018-01-10 at 2 19 30 pm" src="https://user-images.githubusercontent.com/7708031/34777037-edf7bf88-f610-11e7-812f-f76871d86b08.png">

# Expected Behaviour:
Show fewer items or ha

[2018-01-10 14:18] gastaldi commented on #1813
@pbergene I'll have a look at it.

[2018-01-10 14:18] bmicklea commented on #1524
@sivaavkd going forward perhaps each item referenced in the sprint plan should be proceeded by a checkbox. That way at the end of the sprint when we close the issue the team can "check" each of the items that was completed. This would provide a quick way for PM to understand what was completed and would be a good input into the sprint retrospective.

[2018-01-10 14:19] gastaldi commented on #1813
Why is this SEV1? Is this happening in production?

[2018-01-10 14:23] mindreeper2420 commented on #21
Closing, as signups are handled by the Red Hat Developers portal.

[2018-01-10 14:23] #21 closed

[2018-01-10 14:25] sara-02 commented on #1847
@tisnik Please try again in some time.
With the latest code in prod, this error should get resolve.
Let us know if it still does not work.

[2018-01-10 14:25] sara-02 commented on #1847
Will close the issue, once @tisnik has verify :)

[2018-01-10 14:29] michaelkleinhenz commented on #1811
Yes, we also encountered that issue.

This will be different in the H train version anyway. The create button on the top will be removed. If you want to create a non-child WI, you use the quick add on top, add a title, then click "Create and Open" which takes you to the full detail dialog. In this scenario, the title will always be mandatory.

Also, this removes the somewhat ugly "select type" scr

[2018-01-10 14:29] #1811 closed

[2018-01-10 14:30] michaelkleinhenz commented on #1814
Yes, and this is like beating badgers. We repeatedly fixed this and it keeps coming back.

[2018-01-10 14:38] michaelkleinhenz commented on #1830
I can't reproduce that on either prod or prod-preview. Can someone else check? @nimishamukherjee

[2018-01-10 14:41] michaelkleinhenz commented on #1831
I can't reproduce this. Can someone else try? @nimishamukherjee

[2018-01-10 14:42] michaelkleinhenz commented on #1834
Note: UX issue.

[2018-01-10 14:43] michaelkleinhenz commented on #1835
Note: UX issue.

[2018-01-10 14:48] michaelkleinhenz commented on #1836
The dropdown only contains all available labels, not the assigned ones. But I think this is two bugs overlaying. I can confirm issues with the labels dropdown on prod-preview.

[2018-01-10 14:49] tisnik commented on #1816
Thanks a lot @tradej

[2018-01-10 14:49] qodfathr commented on #1813
@gastaldi as this is essentially blocking *all* updates/pushes to prod, I'm labeling as a SEV1.

[2018-01-10 14:53] michaelkleinhenz commented on #1837
This looks like an issue with how itemized lists are rendered:

`- something

-> works

`Header:
`- something

-> does not work

[2018-01-10 14:54] gastaldi commented on #1813
@qodfathr ok, just wanted to understand if that was happening in production too. I'm working in this right now

[2018-01-10 14:54] michaelkleinhenz commented on #1841
Dupe of https://github.com/openshiftio/openshift.io/issues/1814

[2018-01-10 14:54] #1841 closed

[2018-01-10 14:55] tradej opened #1852 "[Che] When operating the Terminal, scrolling is impossible (hard to reproduce)"
Occasionally, I can not scroll in the Terminal window. It works normally (can write into it, executes commands and returns values), but I can not see some 5-10 last lines of output. However, this behaviour doesn't happen always, and I found no clear pattern when it does.

[2018-01-10 14:55] michaelkleinhenz commented on #1845
The counts will be removed entirely in the next version.

[2018-01-10 14:55] #1845 closed

[2018-01-10 14:56] gastaldi commented on #1813
Also, it was my understanding that issues labeled as SEV1 impacts customer-facing in production only

[2018-01-10 14:56] michaelkleinhenz commented on #1846
This weird anyway. Even when unstable, this should not happen at all.

[2018-01-10 14:58] qodfathr commented on #1813
@gastaldi a fair point, but I needed a way to get this moved to the top of the fix queue immediately. Plus, although I observed in prod-preview, I'm curious if @rsvoboda observed in production.

[2018-01-10 14:59] michaelkleinhenz commented on #1827
Let's look at this again when the new iteration panel is in place. Looks like there is something off with the context, but the mechanism behind that will change with the new panel.

[2018-01-10 14:59] camilamacedo86 commented on #1830
@michaelkleinhenz I am adding the Chrome version.

[2018-01-10 15:00] tradej opened #1853 "[Che] Debug menu doesn't show "bug" icon and hotkey the first time"
When you create a debug configuration in Che (e. g. Remote Java from the Getting Started doc) and want to run it for the first time, the Run→Debug menu only shows the name of the configuration (i. e. "Remote Java"). When you run it for the second time, it shows the icon of the bug, the name of the configuration, and the hotkey (i. e. Shift + F9, as seen in the screenshot on page 52 in the Getting

[2018-01-10 15:03] maxandersen commented on #1813
for what it is worth - I just tried in both prod-preview and production and I see an organization drop down in both cases.

![2018-01-10_15-59-21](https://user-images.githubusercontent.com/54129/34779001-405a9dc8-f61f-11e7-8051-29e9cb437642.png)

Thus I'm not sure what issue is being reported here ?

from @rsvoboda it feels like his issue is with how github today don't allow fine grained permissio

[2018-01-10 15:05] qodfathr opened #1854 "Notification after app wizard is formatted poorly"
Here's what I got after finishing app wizard on prod-preview:
![image](https://user-images.githubusercontent.com/16322190/34779229-8b1c9bae-f5ed-11e7-928c-afd45b4d8018.png)

[2018-01-10 15:06] qodfathr commented on #1813
@maxandersen agreed, it seems to be working now. Can anyone confirm that there was a change made to address this?

[2018-01-10 15:09] gastaldi commented on #1813
I have only pushed the visibility for the Runtime Version field yesterday. Now, comparing the boosters in production, I see that there are more boosters than in production. I'll fix it in a different issue

[2018-01-10 15:13] qodfathr opened #1855 "Jenkins not starting (prod-preview)"
(This is on prod-preview) Upon finishing the app wizard, a pipeline build is kicked off. When I go to the pipelines screen, I can see my pipeline, but it's not doing anything. Looking at Jenkins status, it appears to be off.
![image](https://user-images.githubusercontent.com/16322190/34779612-bda93572-f5ee-11e7-86c0-458f26f57c9f.png)
That screenshot was taking 7 minutes after the pipeline tried to

[2018-01-10 15:14] sivaavkd commented on #1524
@bmicklea - ack.  I think we have check boxes already in the sprint plan. But I think, we are not checking.  Will look into this and talk to team.

[2018-01-10 15:14] tradej opened #1856 "https://openshift.io/osiogettingstarted.pdf should follow the IBM Style Guide"
As a part of the OSIO documentation, I believe the Getting Started document should follow the rules prescribed by the IBM Style Guide, most notably (but not limited to):

* No contractions (isn't, doesn't)
* No future tense unless something really happens in the future (e. g. _The number of GitHub permissions required by OSIO will be reduced..._)
* Use of dashes (Is "Foo -- bar", should be "Foo—ba

[2018-01-10 15:15] gastaldi opened #1857 "List of Boosters in prod-preview differs from production"
Production:
![screenshot from 2018-01-10 13-12-56](https://user-images.githubusercontent.com/54133/34779736-3ec97022-f608-11e7-8587-35e7725eb2a4.png)

Staging:

![screenshot from 2018-01-10 13-19-51](https://user-images.githubusercontent.com/54133/34779981-f7123c7c-f608-11e7-9dfa-bba041c94c61.png)

[2018-01-10 15:22] #1857 closed

[2018-01-10 15:39] ldimaggi commented on #1855
After an env reset, the Jenkins pods are not starting for me on prod-preview:
[code]

[2018-01-10 16:00] ldimaggi commented on #1850
At present - we only support Java apps.

[2018-01-10 16:02] tisnik commented on #1847
@sunilk747 do you think we will need to open another issues for the missing graph?

[2018-01-10 16:07] rsvoboda commented on #1813
This issue is intended to be about initial GitHub.com Authorization when new user comes. Sorry if I didn't provide enough details, I tried to add some clarification in my comment https://github.com/openshiftio/openshift.io/issues/1813#issuecomment-356600233

I'm member of 5 organizations, some were "blocked" when I was authorizing OpenShift.io to consume my GH stuff, 2 organizations were checked,

[2018-01-10 16:09] qodfathr commented on #1813
Thanks, @rsvoboda -- there are two issues then that had a similar context but I probably conflated the two of them. Thanks for the clarification.

[2018-01-10 16:15] sara-02 commented on #1847
@tisnik that would be better.
To further verify that the license service is giving the expected output, you can paste the response stack-analysis `get` request.
Then we can close this issue, and create a new one for the integration team to track. :)

[2018-01-10 16:16] tisnik commented on #1847
ok @sara-02, thanks!

[2018-01-10 16:17] #1847 closed

[2018-01-10 16:18] sara-02 commented on #1847
From the license scoring side, we are finally getting the expected output.
![screenshot from 2018-01-10 15-40-56](https://user-images.githubusercontent.com/7047079/34782851-e9206aac-f64f-11e7-8f5a-d29ed240e385.png)

[2018-01-10 16:19] tisnik commented on #1847
yeah, that's correct as far as I can tell 👍

[2018-01-10 16:32] tisnik opened #1858 "The license pie chart is not shown on openshift.io"
The license pie chart is not shown on openshift.io:
![screenshot from 2018-01-10 15-40-56](https://user-images.githubusercontent.com/7047079/34782851-e9206aac-f64f-11e7-8f5a-d29ed240e385.png)

I'm not sure whether it is still supported or not, @samuzzal-choudhury WDYT?

FYI:
Previous issue that has been already fixed on OSIO:
https://github.com/openshiftio/openshift.io/issues/1847

[2018-01-10 16:40] andrewazores commented on #1709
Is this still relevant? As far as I can tell, it has been fixed as a side-effect of https://github.com/fabric8-ui/fabric8-ui/pull/2359 . @chrislessard if you can still reproduce this then keep the issue open, othewise, close it.

[2018-01-10 16:50] c-koehler commented on #1709
@andrewazores It's a lot nicer with the fix, it would depend on if we care about window resizing. When the window is dragged to be wider or smaller, the chart will overflow (or be too compressed). Are we okay with that?

I think I had a fix for it however, there's a function (that's unfortunately `protected` so we can't access it) which can be called to refresh the chart, and one of the arguments

[2018-01-10 16:56] andrewazores commented on #1709
@c-koehler what function is that? I'm sure there's a way we can get around it being protected - that's just a compile-time TypeScript thing.

[2018-01-10 17:02] jiekang commented on #1709
I feel like the element should resize automatically as other html elements do. If you take a bland c3js chart and resize the window, it seems to work fine (ie. visit any page on c3js.org with a chart and resize). We need to figure out why this isn't working in our use case.

Manually redrawing the chart on a resize is the very very last resort.

[2018-01-10 17:03] jiekang commented on #1709
This discussion should be on a separate issue that describes the problem clearly though. @c-koehler can you please open a separate issue?

[2018-01-10 18:12] joshuawilson commented on #1813
@qodfathr can we change the severity?

[2018-01-10 18:20] gastaldi commented on #1813
Is this issue specific related to wizard? According to @rsvoboda's comment, it seems to be in the initial Github authorization screen?

[2018-01-10 18:32] joshuawilson commented on #1849
After talking with @qodfathr he confirmed that the things we already support can be implemented. Whereas things like private spaces don't exist and we will not be adding it.

[2018-01-10 18:35] joshuawilson commented on #1799
He currently working on updating the registration process to streamline it.
cc @catrobson

[2018-01-10 18:36] #1650 closed

[2018-01-10 19:09] joshuawilson commented on #1856
Just asking, but why `IBM`? Do you have a link?
Is there a Red Hat Style guide we should follow?
cc @qodfathr

[2018-01-10 19:12] jiekang commented on #1714
Closing as fix has been merged.

[2018-01-10 19:12] #1714 closed

[2018-01-10 19:31] joshuawilson commented on #1830
@camilamacedo86 how were you accessing the Planner? Do you have a link?

[2018-01-10 19:31] c-koehler opened #1859 "Sparkline resizing on deployments card in real-time when window resized"
Resizing of the webpage when a deployment-card is open (with the sparkline graphs) has a delay for resizing until the polling causes it to get new graph data. This means when someone resizes a window, the text for the data (like _Memory: X megs_) will overlap with the chart, which doesn't look good.

A previous changeset mitigated this issue by destroying the chart on collapse and creating it when

[2018-01-10 19:35] alexeykazakov commented on #183
This is/was not an auth issue anyway. Moved it to the build-cd team.

[2018-01-10 19:36] c-koehler commented on #1709
New issue: https://github.com/openshiftio/openshift.io/issues/1859

[2018-01-10 19:39] camilamacedo86 commented on #1830
@joshuawilson I didn't. I create a new space, go to the home of it, and click on in this button.

[2018-01-10 19:41] qodfathr commented on #1850
Thanks, @camilamacedo86, for this feedback. We totally agree with you! Polyglot support is absolutely a part of our roadmap; it's simply not part of the pre-beta service. There are a lot of pieces that need to be made operational to support a language -- support in the QuickStart wizard, support in Che, support in the build pipelines, support in stack analysis, even support in the runtime environm

[2018-01-10 19:41] #1850 closed

[2018-01-10 19:41] joshuawilson commented on #1830
Were you in prod, prod-preview, a PR link?

[2018-01-10 19:43] joshuawilson commented on #1830
https://openshift.io
https://prod-preview.openshift.io/
https://fabric8-ui-fabric8-ui-pr-2398-fabric8-planner.badger.fabric8.io/

[2018-01-10 19:45] joshuawilson commented on #1830
Are you still able to reproduce it? I am not able to.

[2018-01-10 19:46] qodfathr commented on #1856
The Getting Started guide is being revised by the Red Hat documentation team. It will likely adopt many Red Hat documentation conventions, but the spirit of the Getting Started guide is to be more conversational that traditional technical reference documentation.

Stringent style rules will be applied to reference materials.

I recommend closing this issue and evaluating the new Getting Started gu

[2018-01-10 19:48] camilamacedo86 commented on #1830
@joshuawilson IN : https://openshift.io

[2018-01-10 19:49] qodfathr commented on #1813
@joshuawilson actually, this now feels more like a real SEV1 issue, as it is impacting first time users on prod.

@gastaldi yes, the original intent of this issue was to report an Auth issue, but I confused it with an app wizard issue. The app wizard issue has gone away, so we can drop that label, but the auth issue (I assume) still remains.

[2018-01-10 19:50] camilamacedo86 commented on #1850
@qodfathr :-) Sure

[2018-01-10 19:51] joshuawilson commented on #1813
cc @alexeykazakov @sbose78

[2018-01-10 19:56] qodfathr commented on #1103
@pradeepto if you want to make an argument for prioritizing on H train, please get that into the appropriate documents ASAP as H train finalization is less than 24 hours away. Work with you management chain if you don't know where to put the information.

[2018-01-10 20:04] joshuawilson commented on #1830
@michaelkleinhenz I can reproduce this now. It is a styles issue. If you have the viewport small but not mobile sized it introduces a scroll bar and scrolls you down.

cc @mindreeper2420 @SMahil

[2018-01-10 20:05] jiekang commented on #1709
Closing this one. Thanks.

[2018-01-10 20:05] #1709 closed

[2018-01-10 20:07] #1856 closed

[2018-01-10 20:12] joshuawilson commented on #1816
cc @qodfathr

[2018-01-10 20:29] joshuawilson commented on #1851
@mindreeper2420 is this an easy fix? I thought we saw this else where and got it fixed.

[2018-01-10 20:32] qodfathr commented on #1854
Likely a dup of #1829

[2018-01-10 20:38] qodfathr commented on #1825
I'm not sure this is a bug, but this is also reflecting an area of Planner which is changing, so the whole issue may be resolved when the new changes are releases. In any event, the reason why this does not look like a bug to me is because, on the left hand side, you have selected 'All', which means, quite simply, 'all work items'. Moving a work item 'to the backlog' simply means removing it from

[2018-01-10 20:42] alexeykazakov commented on #1813
Here are two issues:

1. GitHub does not support fine grained permissions in terms of choosing what org can be accessible by the app (OSIO) and what can't when we requesting GitHub authorization. There is nothing we can do about this. And it's not a Sev1.

2. Currently users can't re-connect GitHub in OSIO UI in prod. It's available in preview but we are still waiting for the latest UI to be rolle

[2018-01-10 20:50] qodfathr commented on #1813
@alexeykazakov thank you for your analysis. Now that I fully grok the issue, I agree with you. The behavior that is being seen is as designed. Furthermore, it's a limitation imposed by GitHub's APIs. This is not a regression.

We'll work on a plan to get the latest fixes pushed to prod.

[2018-01-10 21:14] alexeykazakov commented on #1799
https://manage.openshift.com/ is part of OpenShift Online Registration app. OSIO doesn't control this. I'm not sure why it now pointing to openshift.io instead of OSO Web console (cc: @luciddreamz) but maybe it's actually the right thing to do for now? Users can damage their OSO namespaces if they go to the console before logging into OSIO after approval. So, maybe having links to the console in o

[2018-01-10 21:20] qodfathr commented on #1799
Agreed that this needs improving, and improvements are coming.

I think the real confusion stems from this. Depending upon what you've signed up for under the account you are currently logged in as, you can see two *subtly* different things in the UI, which do *radically* different things.

If you only have an OpenShift Online account, you'll see something like (note that it says *Starter:*):

![i

[2018-01-10 21:31] gastaldi commented on #1797
Removed booster from list of supported boosters in prod-preview. We will add back when the booster is certified to work in OSIO

[2018-01-10 21:31] #1797 closed

[2018-01-10 21:31] gastaldi commented on #393
Removed booster from list of supported boosters in prod-preview. We will add back when the booster is certified to work in OSIO

[2018-01-10 21:31] #393 closed

[2018-01-10 21:31] gastaldi commented on #392
Removed booster from list of supported boosters in prod-preview. We will add back when the booster is certified to work in OSIO

[2018-01-10 21:31] #392 closed

[2018-01-10 21:38] gastaldi commented on #408
It's not clear what the action item for this issue is. Will the docs be updated? Should the booster be removed from the list of boosters? Let me know how we should proceed with this

[2018-01-10 21:40] luciddreamz commented on #1799
A few things here:

   1. Plan Name: This should have simply said "OpenShift.io" rather than
   "OpenShift.io: US East (Ohio)" - this is now updated in production.
   2. By-line: The by-line is DEFINITELY incorrect and I'll get that fixed
   ASAP. This should be something like "End-to-end cloud-native development."
   3. Open Web Console: This link goes to the web console of whatever
   service th

[2018-01-10 21:43] c-koehler commented on #1859
After discussion, the proposed idea of dynamically resizing may not be the best option, however I was curious if it worked and what kind of memory footprint it would leave with us if we have no choice but to go with it.

I made a test example here: https://github.com/c-koehler/fabric8-ui/commit/8b383bed5ded5798871936be0de87fb7ad280a52 (located on the following branch: https://github.com/c-koehler/

[2018-01-10 21:48] luciddreamz commented on #1799
A few things here:

1. Plan Name: This should have simply said "OpenShift.io" rather than "OpenShift.io: US East (Ohio)" - this is now updated in production.
2. By-line: The by-line is DEFINITELY incorrect and I'll get that fixed  ASAP. This should be something like "End-to-end cloud-native development."
3. Open Web Console: This link goes to the web console of whatever  service the card is for. I

[2018-01-10 21:51] luciddreamz commented on #1799
Question - does anyone actually want this link to go to your OpenShift Online account directly, circumventing OpenShift.io? I was under the impression that you wanted to control the experience and linking over to the OpenShift Online web console related to the OpenShift.io account a bit more at the moment.

[2018-01-10 23:50] joshuawilson commented on #1799
I think the current behavior of linking to OSIO is correct.

[2018-01-10 23:53] qodfathr commented on #1799
Technically, an OSIO user has both, so I'd suggest that two tiles should be displayed, but I defer to @catrobson.

[2018-01-11 00:16] alexeykazakov commented on #1799
I would like to note again. Allowing users to access OSO Web console for OSIO cluster(s) is error prone. Users can access it without logging into OSIO after approval and create projects so OSIO will fail because it can't exceed quota. Until we fix this via proper user permissions I think we should keep OSO console links in OSIO only and management.openshift.io should link to OSIO.

[2018-01-11 00:39] joshuawilson commented on #1821
@rsvoboda what makes you think that FF is not a first class citizen? I don't see any issues listed.

For reference see https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

[2018-01-11 01:32] ldimaggi opened #1860 "Che is not able to create workspaces on https://openshift.io"
Seeing this problem repeatedly for the past couple of hours:

Could not start workspace jan10-t6cyz. Reason: Start of environment 'default' failed. Error: Failed to get the ID of the container running in the OpenShift pod

![screenshot from 2018-01-10 20-31-02](https://user-images.githubusercontent.com/642621/34804208-57af8e86-f645-11e7-9250-2912d22ed490.png)

[2018-01-11 04:11] joshuawilson commented on #1829
This sounds like an issue with the styles in planner and how they are effecting the notification.
What do you think @mindreeper2420?

[2018-01-11 04:13] joshuawilson commented on #1828
This looks like a styles setting.

[2018-01-11 04:28] Preeticp commented on #1831
Related to this issue: https://github.com/fabric8-ui/fabric8-planner/issues/2386

[2018-01-11 05:27] rgarg1 commented on #1814
@michaelkleinhenz Since we are already tracking this issue in Planner, do we need to keep this open?

[2018-01-11 06:24] rgarg1 commented on #1846
@pkettman Notice the workitem IDs in the __ID__ column? The IDs for scenarios and Experiences displayed are different, which means that they are different workitems. E.g. Expereinces IDs (21, 20, 14, ...., 6), whereas Scenarios IDS (22, 19, 7, ..., 1). Visually, it may appear that workitems changed while switching context from say, **Experiences** to **Scenarios** as only the matching entries are

[2018-01-11 06:45] SMahil commented on #1830
@joshuawilson I am not able to reproduce it on openshift.io and prod-preview.openshift.io

[2018-01-11 07:31] rsvoboda commented on #1821
During the OSIO Test session we were told to use Chrome when people asked about FF.

Getting started guide PDF contains this:
Page 2 => Browser requirements
`we require all participants to use the Google Chrome browser`

[2018-01-11 07:54] alexeykazakov commented on #1813
Let’s not mix up the new app/import wizards with connecting GitHub and OSIO accounts. They are related but different features/areas. We already are talking about a few different issues here. Let’s track them separately in dedicated issues.

Regarding the re-connection API:

Step 1:  Disconnect Github.
curl -i -H "Authorization: Bearer $AUTH_TOKEN" -X DELETE https://auth.openshift.io/api/token?for=

[2018-01-11 07:55] alexeykazakov commented on #1813
$AUTH_TOKEN is your token from the profile page.

[2018-01-11 08:03] rsvoboda commented on #1813
Thanks, asked to connect GH account.

[2018-01-11 09:02] ibuziuk commented on #1666
the issue is back again on prod changing label to SEV1

[2018-01-11 09:05] #1796 closed

[2018-01-11 09:16] rhopp commented on #1860
Is this happening every time? Could you provide some logs?
Isn't this just https://github.com/openshiftio/openshift.io/issues/1666 again?

[2018-01-11 09:28] pkettman commented on #1846
I looks like the wrong Type is associated with a workitem if I add it by writing a name and hitting Enter. When I write a name and click 'Add' or 'Add and Open' it keeps the right type. See pictures, titles explains way of creation :-)

![requirement2](https://user-images.githubusercontent.com/26871874/34818058-07a21ac4-f6ba-11e7-9bb6-b78c3746d68d.png)
![experience2](https://user-images.githubuser

[2018-01-11 09:31] xcoulon opened #1861 "Fix service port in Openshift template of toggles-service"
there's an inconsistency in the name/port combo of the service for `toggles-service`:
[code]
the `name` should be `80`

[2018-01-11 09:51] #1861 closed

[2018-01-11 10:11] rsvoboda opened #1862 "https://docs.openshift.io/ should mention at least osiogettingstarted.pdf"
https://docs.openshift.io/ says:
[code]

https://docs.openshift.io/ should mention at least https://openshift.io/osiogettingstarted.pdf

I got link to osiogettingstarted.pdf when accessing OpenShift.io for the first time, to find it again I had to search my browser history.

[2018-01-11 10:32] ibuziuk commented on #1860
yeah, there was starter-us-east-2 cluster maintenance and looks like we need to restart contollers yet another time https://github.com/openshiftio/openshift.io/issues/1666#issuecomment-356869719

[2018-01-11 10:45] michaelkleinhenz commented on #1814
@rgarg1 yes, for the time being. The GH issues are the channel to the reporting user as Planner issues can only be followed by team members.

[2018-01-11 10:49] michaelkleinhenz commented on #1830
@joshuawilson @SMahil Ok, I can reproduce it now. @SMahil you need to get the viewport just below the firt breakpoint (when the boxes on the space home are breaking into vertical boxes, but the menu still stays  non-hamburger). If you then click on "Create Work Item", you get to the type selection and the scrollbar is not at the top.

In my case, the scrollbar hangs halfway down, so I can still se

[2018-01-11 10:51] michaelkleinhenz commented on #1830
Good find by the way @camilamacedo86

[2018-01-11 11:06] michaelkleinhenz commented on #1846
I can now reproduce this. Steps:

1. Go to "Scenarios".
2. Add a new WI using the quick add. **Do not touch the dropdown.** Press Enter for committing (**do not use the button**).
3. The new WI is added to the current view as a Scenario.
4. Switch to "Experiences". The new Scenario is listed there as an Experience(!).
5. Switch back to "Scenarios". The new Scenario is not listed.

I think what hap

[2018-01-11 11:19] slemeur commented on #1764
@ravsa Adding few feedbacks from comments in the current layout.
<img width="1580" alt="screen_shot_2018-01-11_at_10_39_59" src="https://user-images.githubusercontent.com/1636769/34823061-5d4fd376-f6c9-11e7-9e40-20ba1cbeb8e3.png">

There is another one which is quite important: we should try to use less space for each dependency. On the screen I attached, we are able to show only 4 dependencies, w

[2018-01-11 11:31] ravsa commented on #1764
Thanks, @slemeur It is very helpful.

[2018-01-11 11:46] ldimaggi opened #1863 "Cannot create new quickstart on https://openshift.io"
This error is seen - is this the CORS issue again?

![screenshot from 2018-01-11 06-44-30](https://user-images.githubusercontent.com/642621/34824083-0a09ca7e-f69b-11e7-9149-c7f408174d66.png)

[2018-01-11 11:48] pbergene commented on #1666
Controllers restarted and deplloyments work. For future reference the service is atomic-openshift-master-controllers.service.  Hotfix is applied to free-stg, but does not yet look to be on starter clusters - my impression is that this should hit starter-us-east-2 within a few working days.

[2018-01-11 11:58] ibuziuk commented on #1860
@ldimaggi could you please verify that this does not happen any more ?

[2018-01-11 11:58] pbergene commented on #1863
Generator backend crashing heavily.  @gastaldi

[2018-01-11 12:07] gastaldi commented on #1863
Having a look

[2018-01-11 12:19] gastaldi commented on #1863
It works for me. What steps did you follow to reproduce that?

[2018-01-11 12:21] michaelkleinhenz commented on #1824
The kebab menu will be removed in the next version.

[2018-01-11 12:30] sbose78 commented on #1863
Worked for me.

[2018-01-11 12:33] tisnik commented on #1528
Results are available here:
https://fabric8-analytics.github.io/perf-tests/Gremlin/package_query_graph_db_parallel.png
https://fabric8-analytics.github.io/perf-tests/Gremlin/package_version_query_graph_db_parallel.png

[2018-01-11 12:36] gastaldi commented on #1863
Removing the SEV-1 label, as it is working and apparently it doesn't for @ldimaggi's user only

[2018-01-11 12:38] gastaldi commented on #1863
Closing as it is not reproducible. Reopen if the problem persists

[2018-01-11 12:38] #1863 closed

[2018-01-11 12:53] vikram-raj commented on #1501
This issue has been resolved but it is not on prod yet but you can check it on prod-prev. Hence, closing this.

[2018-01-11 13:03] michaelkleinhenz commented on #1824
Also, this is only appearing in the old grid. The new one will be deployed to prod this week.

[2018-01-11 13:03] #1824 closed

[2018-01-11 13:05] ldimaggi commented on #1863
Whatever the problem was - it's gone now - was failing repeatedly early this morning. Thx!

[2018-01-11 13:12] pkettman commented on #1846
Yes, good point when I select a WI type via dropdown, the issue is not reproduced. And the issue is valid also for Experiences and Requirements added by Enter without the dropdown selection.

[2018-01-11 13:26] ldimaggi commented on #1855
This looks OK today:

![screenshot from 2018-01-11 08-25-51](https://user-images.githubusercontent.com/642621/34827712-15703796-f6a9-11e7-8afe-88c6be0cea81.png)

[2018-01-11 13:26] ldimaggi commented on #1855
![screenshot from 2018-01-11 08-26-47](https://user-images.githubusercontent.com/642621/34827741-2fb6748a-f6a9-11e7-8e7d-729b787ac11c.png)

[2018-01-11 13:29] GeorgeActon commented on #1805
@gastaldi I assigned this a Sev2. Please assess

[2018-01-11 13:47] ldimaggi commented on #1860
This looks OK now - thx closing.

[2018-01-11 13:47] #1860 closed

[2018-01-11 14:10] joshuawilson commented on #1821
We have been trying to make sure it works on other browsers. I think the intent of the doc was to ensure things worked since the first place we developed against was Chrome.

If you have the time to run through the doc against FF, I would love to know if you run into any issues.

[2018-01-11 14:13] tuxdna commented on #1085
Only available boto3 APIs for Object tagging - https://github.com/boto/boto3/issues/915#issuecomment-267667390

 * https://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.Client.put_object_tagging
 * https://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.Client.get_object_tagging

Minio doesn't support Object tagging - https://github.com/minio/minio-go/issues/605

So all

[2018-01-11 14:24] jfchevrette opened #1864 "Che workspaces deployments created with a bogus memory limit"
Che workspaces are currently being created with a bogus memory limit.

[code]

[2018-01-11 14:40] camilamacedo86 commented on #1830
@michaelkleinhenz it is something really silly, just a CSS, just to render it on top. I am glad that I could help.

[2018-01-11 14:44] jfchevrette commented on #1864
The 'm' unix suffix is milli(bytes) and so 2576980377600m **is equal** to 2.4Gi.

This issue is thus much less critical than I thought it was. Technically the limit is fine, however it would be useful to understand why it is being converted to millibytes and instead let it be set as 'Gi'

[2018-01-11 14:54] jfchevrette commented on #1864
https://bugzilla.redhat.com/show_bug.cgi?id=1473584

I've updated the che configmaps to set 2400Mi instead of 2.4Gi (which according to the above is buggy/not recommended)

[2018-01-11 14:54] #1864 closed

[2018-01-11 14:56] rupalibehera commented on #1731
@ldimaggi , Looks like some resources problem if with the same version of Jenkins is behaving differently in two different environment.
I think so this issue should be closed, or have some info or error logs on this, this isn't enough for debugging this issue.
The error logs which you have provided above they are warnings which we can ignore.

[2018-01-11 15:42] catrobson commented on #1849
@joshuawilson can you expand on this a little bit for what exactly you expect this means?

- Does this mean that we will not show a list of both owner and collaborator spaces?  This felt like MVP need to me.
- Does this mean we will not support any sort of filtering on the page?
- Does this mean we will not support any sort of sorting on the page?

Activity and Private spaces not being included fo

[2018-01-11 15:50] adisakala commented on #1813
@alexeykazakov should area/auth label be removed from this as well?

[2018-01-11 16:11] chrislessard commented on #451
Can this be closed ? @joshuawilson

[2018-01-11 16:26] ibuziuk commented on #1495
Closing - new success Che icon placeholder is now available on prod

[2018-01-11 16:26] #1495 closed

[2018-01-11 16:41] chrislessard commented on #887
@joshuawilson  is this still relevant ? I believe a very similar feature exists already.

[2018-01-11 16:56] jiekang opened #1865 "Incorporate loading indicator on Deployments page"
It would be nice for there to be a loading indicator of some sort when waiting for data to arrive before UI elements can be displayed.

For example, setting a delay of 10 seconds on the Observable that deals with application deployments, the UI will not display any application cards till 10 seconds pass. In the meantime, the application deployments section is empty and currently, there is no indic

[2018-01-11 16:58] jiekang commented on #1865
@catrobson There is no UX design for this at the moment as far as I know. Should we coordinate with you on how this should look?

[2018-01-11 17:05] joshuawilson commented on #887
I think we can close it as the whole nav is getting redesigned.
@dgutride please reopen if you still need it.

[2018-01-11 17:05] #887 closed

[2018-01-11 17:07] joshuawilson commented on #451
This appears fixed, if this is still an issue please reopen.

[2018-01-11 17:07] #451 closed

[2018-01-11 17:08] joshuawilson commented on #1813
We've gotten the UI updated with the fix listed above.
Is there something else that needs fixing or can we close this?

[2018-01-11 17:17] qodfathr commented on #1849
If we have an API which can provide the necessary data, we will use it.
If we don't have an API, the API should be considered to be a stretch goal for H.
So, "will we show a list of both owner and collaborator" will have the same answer as "do we have an API which provides list of Spaces and, either in the API itself or easily on the front end, that list can be classified between owner and collabo

[2018-01-11 17:18] qodfathr commented on #1813
I'm ready to close; @alexeykazakov / @rsvoboda can you please cast a vote?

[2018-01-11 17:19] sbose78 commented on #1813
There's nothing we can fix here since Github doesn't support granular permissions, unfortunately.

This has been addressed by the UI promotion-to-prod.

Therefore, we could close this issue.

[2018-01-11 17:20] qodfathr commented on #1821
@ldimaggi does QE have a plan to certify FF?

[2018-01-11 17:28] sbose78 commented on #1813
@adisakala  `area/auth` seems OK for the second part of the issue.

[2018-01-11 17:44] #1457 closed

[2018-01-11 17:56] #1813 closed

[2018-01-11 17:56] joshuawilson commented on #1813
reopen if needed

[2018-01-11 18:12] ldimaggi commented on #1790
When this issue was first logged, it was being seen on prod-preview - and it seemed to be intermittent.

Today, however, I am seeing it constantly.

[2018-01-11 18:15] joshuawilson commented on #1790
I just tried it and it asked me to login but then took me to the log.
I closed it and tried again. The second time it took me directly to the logs.

[2018-01-11 18:19] joshuawilson commented on #1862
cc @rkratky

[2018-01-11 18:20] ldimaggi commented on #1790
Seeing this today:

![screenshot from 2018-01-11 13-02-44](https://user-images.githubusercontent.com/642621/34840168-22984b24-f6d2-11e7-864a-b302c810ad10.png)

[2018-01-11 18:21] chrislessard commented on #1659
A solution in under review [here](https://github.com/fabric8-ui/fabric8-ui/pull/2373).

[2018-01-11 18:22] joshuawilson opened #1866 "fix failing UI builds"
The UI builds are failing on the fabric8-cd pipeline. We think it might have to do with PhantomJS.

One issue is listed at https://github.com/karma-runner/karma-phantomjs-launcher/issues/126
Might also try using headless Chrome.

## Impacts
- [ ] #2131 OpenShift.io development uses CI

[2018-01-11 18:23] rkratky commented on #1862
@qodfathr Would you agree to make docs.openshift.io live? Users who have already been onboarded, i.e. went through the currently used PDF, could benefit from having access to the docs we're developing. And they could start filing issues against them etc.

[2018-01-11 18:52] catrobson commented on #1865
@jiekang can you reach out to Michael Celedonia on chat about this to get to a finer level of detail, or maybe a quick bluejeans would help.  I'll ping him to look at this issue and be prepared.

It would be helpful to understand from a technical standpoint whether we can start drawing the screen, but just segments of it might need a loading spinner/indicator, or if we need the whole page to have

[2018-01-11 19:20] gastaldi commented on #1805
Where is this happening? prod-preview? prod?

[2018-01-11 19:23] qodfathr commented on #1862
@rkratky makes sense. +1.

Thanks for the feedback, @rsvoboda. Two things: (1) that PDF is just a temporary, pre-beta stop-gap solution and (2) the link is also in the welcome email you got. (Not that I would expect people to necessarily remember that.)

[2018-01-11 19:34] gorkem commented on #1439
@l0rd @ibuziuk Do we still need to use WIT API or che-starter for workspace operations? Wouldn't it be OK for these UIs to deal with Che server nowadays?

[2018-01-11 19:53] aslakknutsen opened #1867 "Tiny off-center Codebase GitHub icon"
![screenshot from 2018-01-11 20-49-02](https://user-images.githubusercontent.com/132158/34844329-5ab45bda-f711-11e7-838b-455290f8943f.png)

[2018-01-11 19:54] bartoszmajsak commented on #1867
Did you try to clear your cache?

[2018-01-11 19:55] joshuawilson commented on #1867
I can confirm it.

[2018-01-11 19:56] aslakknutsen commented on #1867
@joshuawilson Did you clear your cache?

[2018-01-11 20:15] joshuawilson commented on #1805
If you see this in prod, please try a refresh and see if that clears it up.

[2018-01-11 20:16] joshuawilson commented on #1842
cc @rkratky @qodfathr

[2018-01-11 20:20] rkratky commented on #1842
@mishaone, @Preeticp, please check and potentially fix these issues if they also occur in the new doc.

[2018-01-11 20:35] joshuawilson commented on #1838
@alexeykazakov is this an Auth issue?

[2018-01-11 21:51] ldimaggi commented on #1855
And - it's back...

![screenshot from 2018-01-11 16-51-33](https://user-images.githubusercontent.com/642621/34849232-b84563a6-f6ef-11e7-8314-f8a28593c99e.png)
![screenshot from 2018-01-11 16-51-12](https://user-images.githubusercontent.com/642621/34849233-b8545c94-f6ef-11e7-8fca-38d119fcab58.png)

[2018-01-11 23:04] alexeykazakov opened #1868 "There is no header in home page if there is some parameter in URL"
If I open https://openshift.io/_home then I see the header (with username, drop down menu, etc). But if I open for example https://openshift.io/_home?verified=true (we redirect there after email verification) then the header is missing.

![scr](https://user-images.githubusercontent.com/620087/34851831-a579aa20-f6e0-11e7-9e76-7feb4f363a34.png)

[2018-01-12 00:20] ldimaggi commented on #1855
Seeing events like this:

Error creating deployer pod: pods "content-repository-4-deploy" is forbidden: exceeded quota: force-sleep, requested: pods=1, used: pods=0, limited: pods=0

[2018-01-12 00:41] sbryzak commented on #1630
Is "collaborator" the only useful scope to query for, or should we be providing a more generic api in which you can query the resources for which the user has any specified scope?

[2018-01-12 01:15] joshuawilson commented on #1826
cc @rkratky @qodfathr

[2018-01-12 01:17] joshuawilson commented on #1630
I think a generic one that covers everything would work. For more details see #1849.

[2018-01-12 01:20] joshuawilson commented on #1868
@alexeykazakov do you know why we redirect to that URL?
@dgutride or @dlabrecq can you take a look at this?

[2018-01-12 01:47] qodfathr commented on #1826
Probably could use better wording. I'm not sure "tenant version" is the best wording, however. I wound not expect anyone to know what that means, and we do not expose the term "tenant" anywhere else. It's not clear that we even want to draw attention to this implementation detail, as it can change in the future. Indeed, as we've done some multi-tenancy work, it has already changed.

Our goal is to

[2018-01-12 01:48] joshuawilson commented on #1819
The wizard is getting completely redesigned. Closing as won't fix here.

[2018-01-12 01:48] #1819 closed

[2018-01-12 01:57] joshuawilson commented on #1817
@catrobson do we have plans to update the design for the space creation part of the wizard?

[2018-01-12 02:10] liangxia commented on #1801
Closing this one as it is a duplicate of #1588

[2018-01-12 02:10] joshuawilson commented on #1801
Closing as a duplicate.

[2018-01-12 02:10] #1801 closed

[2018-01-12 02:15] liangxia commented on #1804
Update title and comments to reflect the real problem.

[2018-01-12 02:24] liangxia commented on #1588
The correct link might be "https://docs.openshift.io"

[2018-01-12 03:20] liangxia opened #1869 "Failed to create space with max character length (63 chars)"
Max character length for space name is 63 chars.

![screenshot from 2018-01-12 11-07-50](https://user-images.githubusercontent.com/4716987/34858118-67476dce-f789-11e7-8fb8-fc7f03773e6c.png)
When you input 63 chars for the name, no error prompt, and create button is clickable,

![screenshot from 2018-01-12 11-08-17](https://user-images.githubusercontent.com/4716987/34858119-677a958c-f789-11e7-8c6c-

[2018-01-12 03:21] ldimaggi commented on #1855
And now - it seems OK again....

[2018-01-12 03:21] #1855 closed

[2018-01-12 03:29] joshuawilson commented on #1588
@rkratky if you can provide the correct link, we can get it updated.

[2018-01-12 03:33] liangxia commented on #1588
On "Account Home" page, in the "Recent Spaces" part, it links to "https://docs.openshift.io" when there are no spaces created.

[2018-01-12 03:34] joshuawilson commented on #1643
not seen in a while, closing

[2018-01-12 03:34] #1643 closed

[2018-01-12 03:36] joshuawilson commented on #1642
The tests were commented out, this is fixed.

[2018-01-12 03:36] #1642 closed

[2018-01-12 03:39] joshuawilson commented on #1571
It is possible that the styles are overriding the ones from patternfly or from the main UI.

[2018-01-12 03:44] joshuawilson commented on #1048
Is this still an issue?

[2018-01-12 03:46] joshuawilson commented on #948
@maxandersen SEVerity is only for bugs.

[2018-01-12 03:51] joshuawilson commented on #1700
Can you please confirm this on prod.

[2018-01-12 03:53] joshuawilson commented on #1637
@aslakknutsen @jfchevrette @vpavlin any idea why the reset would not work?

[2018-01-12 03:54] joshuawilson commented on #1611
Has this been changed?
@ldimaggi do know if we have a plan to fix this?

[2018-01-12 03:56] joshuawilson commented on #1588
谢谢

[2018-01-12 04:01] joshuawilson commented on #1579
@catrobson do we need an updated design or just make the change?

[2018-01-12 04:05] joshuawilson commented on #1556
Confirmed this is still an issue.
@dgutride or @dlabrecq do you have time to look at this?

[2018-01-12 04:08] joshuawilson commented on #1480
@c-koehler what is the status on this?

[2018-01-12 05:26] alexeykazakov commented on #1838
No.

[2018-01-12 05:30] alexeykazakov commented on #1868
@joshuawilson we redirect to this URL when user clicks on the link from the verification email. We are going to redirect to a dedicated page later but for now we redirect to _home with a param.

[2018-01-12 06:09] krishnapaparaju commented on #1833
@arunkumars08 @jyasveer please test this out as part of UX revamp work , due by end of sprint # 143.

[2018-01-12 06:10] krishnapaparaju commented on #1808
@arunkumars08 @jyasveer please test this out as part of UX revamp work , due by end of sprint # 143.

[2018-01-12 06:12] krishnapaparaju commented on #1769
@sara-02 please give out one more try for reproducing as its currently not able to reproduce..

[2018-01-12 06:14] krishnapaparaju commented on #1704
@samuzzal-choudhury now the SQS been removed from user facing traffic, am closing this issue..

[2018-01-12 06:14] #1704 closed

[2018-01-12 06:14] krishnapaparaju commented on #1547
@arunkumars08 @jyasveer please test this out as part of UX revamp work , due by end of sprint # 143.

[2018-01-12 06:14] krishnapaparaju commented on #1544
@arunkumars08 @jyasveer please test this out as part of UX revamp work , due by end of sprint # 143.

[2018-01-12 06:16] krishnapaparaju commented on #1497
@arunkumars08 @jyasveer please test this out as part of UX revamp work , due by end of sprint # 143.

[2018-01-12 06:17] krishnapaparaju commented on #1487
@arunkumars08 @jyasveer please test this out as part of UX revamp work , due by end of sprint # 143.

[2018-01-12 06:17] krishnapaparaju commented on #1487
Closing this as the new UX does not have the indicated UI components

[2018-01-12 06:17] #1487 closed

[2018-01-12 06:18] krishnapaparaju commented on #1484
This been implemented.. closing this issue..

[2018-01-12 06:18] #1484 closed

[2018-01-12 06:19] krishnapaparaju commented on #1459
Not relevant at this time as analytics platform does not make use of dynamic routes at 3Scale..

[2018-01-12 06:19] #1459 closed

[2018-01-12 06:21] krishnapaparaju commented on #1147
@jyasveer please take care of this issue as part of UX revamp , due by end of the current sprint # 143.

[2018-01-12 06:23] arunkumars08 commented on #1546
@krishnapaparaju This will be addressed as a part of the revamp.

[2018-01-12 06:24] arunkumars08 commented on #1544
@krishnapaparaju Will be addressed as a part of the UI revamp.

[2018-01-12 06:28] arunkumars08 commented on #1674
@sara-02 It is already in prod. You can verify and close.

[2018-01-12 06:29] arunkumars08 commented on #1674
@sara-02 The design will again change as a part of the revamp. Just a heads up.

[2018-01-12 06:31] arunkumars08 commented on #948
@alexeykazakov Is the proxy url ready and if so, is there a place where I can go check on how to consume them? Just curious to know.

[2018-01-12 06:32] krishnapaparaju commented on #1463
Closing this issue as its not been reproducible..

[2018-01-12 06:32] #1463 closed

[2018-01-12 06:36] sbose78 commented on #948
No @arunkumars08 , The proxy url is not available yet for consumption.
@aslakknutsen is working on it.

[2018-01-12 06:42] liangxia commented on #1805
I can still see that in prod.

[2018-01-12 06:42] krishnapaparaju commented on #852
Please check if you are able to reproduce this issue..

[2018-01-12 06:44] arunkumars08 commented on #948
@sbose78 Thanks Shoubik for the update. Will follow up with @aslakknutsen

[2018-01-12 06:51] krishnapaparaju commented on #1237
@msrb need to licenses for the indicated repo. and other repos..

Here are the guidelines... https://docs.google.com/spreadsheets/d/1-i-TBGo5Logz4D6NPGCkj63d3nceWfFZLt8tqfuugBU/edit?ts=58c292b4#gid=0

[2018-01-12 07:06] krishnapaparaju commented on #1191
@tisnik can you please check out if you are able to reproduce this issue..

[2018-01-12 07:22] DhritiShikhar commented on #1262
https://github.com/fabric8-services/fabric8-wit/blob/master/controller/label_blackbox_test.go#L233

[2018-01-12 08:14] rsvoboda commented on #1813
+1 for close. I'm in Europe so I saw https://github.com/openshiftio/openshift.io/issues/1813#issuecomment-356997962 after this was closed :)

[2018-01-12 08:29] ibuziuk opened #1870 "All status icons apart from "Jenkins" are currently just hardcoded "success" placeholders"
![image](https://user-images.githubusercontent.com/1461122/34865895-c34774ac-f77a-11e7-8a79-024bdf153d20.png)

Need to obtain the real status & version of the service for:

- [ ] Che
- [ ] Console
- [ ] Analitics
- [ ] GitHub
- [ ] Forge

[2018-01-12 08:31] rkratky commented on #1588
@joshuawilson I opened https://github.com/openshiftio/saas-openshiftio/pull/540 to get the docs.openshift.io updated with docs content. As soon as it's merged, the docs.openshift.io address can be used to link to official docs.

[2018-01-12 08:35] xcoulon opened #1871 "Fix controller mount in `core`"
The recently added controller to proxy requests to the `toggles-service` is mounted on `/api/api/features` which is wrong: https://github.com/fabric8-services/fabric8-wit/blob/master/design/featuretoggles.go#L9

[2018-01-12 08:40] gastaldi commented on #1805
@liangxia this data is taken from Github: https://github.com/openshift which is the org you belong to displays the same thing.

Closing this issue as it is not a bug. Do you mind opening a new issue regarding the groupId validation?

Thank you!

[2018-01-12 08:40] #1805 closed