[2018-04-19 16:19] Raunak1203 opened #3205 "Planner : workitem can be self linked"
Steps:

- Create a new workitem 'new workitem'
- Open quick preview or detail page
- and create a link to 'new workitem'
![selflink](https://user-images.githubusercontent.com/34271052/39004560-45b521fe-441b-11e8-89fb-5cfa645cecae.gif)

[2018-04-19 16:25] miteshvp commented on #2929
Maybe this might help https://www.openshift.com/about/contact.html

[2018-04-19 16:32] Raunak1203 opened #3206 "Planner : issue with linking workitem and then openening quickpreview for other workitem"
Steps:

1. Click on workitem to open quickpreview
2. create a link.
3. Now open other workitem quickpreview
and it shows previously selected linkType and link button is already enabled.
If we click link, it will create link to workitem( in step2)
![links](https://user-images.githubusercontent.com/34271052/39005197-2628a7c8-441d-11e8-90b8-56626ede203e.gif)

[2018-04-19 16:32] jiekang commented on #3097
This is a duplicate of https://github.com/openshiftio/openshift.io/issues/2744

[2018-04-19 16:32] #3097 closed

[2018-04-19 16:35] chmouel commented on #2352
after some testing `completionDeadlineSeconds` doesn't seem to be supported on jenkins build strategy, @jfchevrette we need to chat about this to make sure i understand properly the problem, I will not be able to work on this before Monday as tomorrow I will be travelling,

[2018-04-19 16:35] jiekang commented on #3020
This is a duplicate of https://github.com/openshiftio/openshift.io/issues/2744

[2018-04-19 16:35] #3020 closed

[2018-04-19 16:42] jiekang commented on #2923
@joshuawilson noticed the team/platform label. Wouldn't this be something for team/planner instead?

[2018-04-19 16:46] jiekang commented on #2860
@andrewazores can you supply the text of the patch in a code block instead of a downloadable text file?

[2018-04-19 16:48] slemeur commented on #3141
@animuk + @catrobson : Thanks. Who is working on fixing the size of the cards?

[2018-04-19 16:51] #2604 closed

[2018-04-19 16:52] andrewazores commented on #2860
[code]

This issue is resolved though - I apparently never assigned myself to it, and forgot to close it when the fix PR when in.

[2018-04-19 16:52] #2860 closed

[2018-04-19 16:54] jiekang commented on #234
@joshuawilson do you know if this has been looked into at all? Is it still valid?

[2018-04-19 17:02] andrewazores opened #3207 "[1] Deployments CPU usage graph label should be rounded"
I missed it when going to take a screenshot, but the Deployments cards' CPU usage label (beside the sparkline) should round or truncate values at some point. I saw a very wide fractional value like 0.043500000000000004 in the label. This is also present in the sparkline tooltip, so perhaps the data point itself should be rounded/truncated and not just the label.

[2018-04-19 17:03] slemeur commented on #3138
@invincibleJai : Sorry for the confusion. We need to prefill the two fields:
- project name
- repository name (with the project name)

(placeholders should be there, but we are looking to help the user to get started as fast as possible, so we need to povide prefilled values).

[2018-04-19 17:07] stooke commented on #2858
@sara-02 this was the spring http quickstart.

I created a new project and I get no unknown dependencies anymore.

I still get the 'usage outlier' insights for com.fasterxml.jackson.jaxrs:jackson-jaxrs-json-provider and org.apache.cxf:cxf-spring-boot-starter-jaxrs.

I question the usefulness of flagging 'outliers' unless a more commonly used alternative is proposed.  I think it just adds to the no

[2018-04-19 17:12] sara-02 commented on #2858
@stooke, as per current logic we try to find alternates only if a package is flagged as an outlier. But it is possible that for an outlier, we are not able to find a valid alternate component.

**Eg:** If in a stack of `A-B-C`, `C` is an outlier, and we know that `D` and `E` are alternates of `C` based on similarity of tags/github_topics. It is still possible that the system has not seen any set/s

[2018-04-19 17:14] sara-02 commented on #2858
It may seem like noise, but as we feed more stack combinations to the system, the noise will decrease.

[2018-04-19 17:57] ebaron commented on #2985
Looks like we can associate BuildConfigs to DeploymentConfigs using an annotation applied to Build objects by kubernetes-pipeline-plugin:
[code]

I'll get working on a fix using this approach.

[2018-04-19 18:01] catrobson commented on #3138
If we're going to check their repo and create a unique name, we would just fill the field in with a unique name without any message below it.

I think we have 2 'naming' fields:
Application name:  Don't pre-fill.  Users usually make this unique.  This is filled out on one of the dark screens before the launcher flow shows.  Don't restrict this to the rules of OpenShift, git, etc.
Project name shou

[2018-04-19 18:56] stooke commented on #2858
Is there documentation as to what is an outlier?  I think if something is an outlier but there is no suggestion that accompanies it, then it constitutes noise.  A developer should be able to 'clean up' the analysis by taking action, in the same way she or he would try to remove all compiler warnings from a build.

I think in your example, just because the system hasn't come across ABD or ABE doesn

[2018-04-19 18:58] stooke commented on #2858
I'm also curious, does the analytics system consider individual packages in isolation, or try to match dependency graphs and subgraphs?

[2018-04-19 19:43] catrobson commented on #3193
We should be taking notifications directly from patternfly-ng for all UI components of OpenShift.io:
https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/toastnotification

[2018-04-19 19:49] stooke commented on #2858
I should note that I see more 'unknown' packages in the vertx starter on prod-preview: io.vertx:vertx-core and io.vertx:vertx-web.

[2018-04-19 20:01] bisaga opened #3208 "Curly braces - on the non-english keyboard layout doesn't work"
I use AltGr+B, AltGr+N  in the Slovenian (SLV) keyboard template to enter curly braces "{}", but in Che editor this doesn't work.

When I press AltGr+B the "Loading" is shown and the editor froze.

Workaround: use English (United States) (ENG) keyboard template.

[2018-04-19 20:38] jiekang commented on #1141
This should be resolved. Feel free to re-open if the issue persists

https://github.com/openshiftio/openshift.io/issues/2206
https://github.com/fabric8-ui/fabric8-ui/pull/2581

[2018-04-19 20:38] #1141 closed

[2018-04-19 20:41] jiekang commented on #955
Has there been any progress on this? Is it still an issue?

[2018-04-19 20:58] jiekang commented on #2365
Duplicate of https://github.com/openshiftio/openshift.io/issues/2365 which has been fixed via https://github.com/fabric8-ui/fabric8-ui/pull/2635

[2018-04-19 20:58] #2365 closed

[2018-04-19 21:45] joshuawilson commented on #2499
I'm not sure why I closed it. Must have been an accident. Thanks.

[2018-04-19 21:47] joshuawilson commented on #2746
This sits between Auth and Platform. You can fix it.

[2018-04-19 21:51] ldimaggi commented on #2988
The test is failing in production - it looks good in prod-preview. Thx!

[2018-04-19 21:52] joshuawilson commented on #3046
@catrobson what do you think?
cc @corinnekrych

[2018-04-19 21:54] joshuawilson commented on #2849
I think it is still a bug. Leaving it up to @krishnapaparaju to work out.

[2018-04-19 22:10] gastaldi commented on #2988
Try in production now, the catalog was released

[2018-04-20 00:16] #1443 closed

[2018-04-20 01:03] sdash-redhat commented on #3187
Based on review (19 April 2018 ), it was concluded that instead of a Canary switching screen, we need a section in the HDD that will handle all the actions, where one of the action would be action would be deployment and thereby one of the deployment strategies would be Canary. So we need a separate story to handle this. I will be creating a separate story that would address the "My Actions" secti

[2018-04-20 01:19] sdash-redhat opened #3209 ""My Actions" Section in HDD with "Builds Deployment" Action"
"My Actions" section in HDD will deal with any action that the user would take based on the outcome of one or more hypotheses which can be automated, semi-automated or manual in nature.  The current story focuses on the "deployment" action, especially with Canary deployment strategy.

For completion of we need to ensure, we have broadly the following items reviewed and ready 👍

- [x] The concept w

[2018-04-20 01:28] sdash-redhat commented on #3209
Refer to #3187 to track the previous developments. From #3187, the initial idea of canary builds management has now evolved to a more modular and fleshed out section in HDD to handle actions, especially the deployments.

[2018-04-20 02:30] gastaldi commented on #2988
What is the repository that was created? Do you know if it's different from the one you tested in prod-preview?

[2018-04-20 04:15] miteshvp commented on #3193
@jyasveer @invincibleJai @arunkumars08 - can one of PTAL here?

[2018-04-20 04:26] chmouel commented on #2093
Just updating on this, part of the F2F we decided to start to work on this, we are planning to ave a REST server for clients (here is launcher-backend) to call for build related operations. I will update this issue as soon I will  have more documentation to share,

[2018-04-20 04:37] sivaavkd commented on #3193
Is this really a Sev2?  There is some inconsistency reported, but no loss of functionality.  Seems more like a Sev3 to me, may be with more priority than other Sev3s.

[2018-04-20 05:36] Raunak1203 opened #3210 "Create a new quickStart project alignment issue(in application wizard)"
Steps:

- Click on create new application
- Create a new quickStart project
- In application wizard Steps1, "Spring Boot Health Check" is not align properly
![screenshot from 2018-04-20 11-02-44](https://user-images.githubusercontent.com/34271052/39032387-e5cd3356-448a-11e8-8ca0-14ee059e0cbb.png)

[2018-04-20 05:39] animuk commented on #3088
since it is duplicate , I am closing this. will track #3095

[2018-04-20 05:39] #3088 closed

[2018-04-20 05:43] sivaavkd commented on #2801
This is more a feature request since we never implemented that way.  However, we need to work on to make sure authorization is implemented.  Changing it as a feature request and in backlog.  @miteshvp - please review and plan for this.

[2018-04-20 05:52] sivaavkd commented on #2045
@humaton any update on this ? cc @msrb

[2018-04-20 05:54] Raunak1203 opened #3211 "custom query and filter dropdown issue"
![screenshot from 2018-04-20 11-20-18](https://user-images.githubusercontent.com/34271052/39032874-069bc1d6-448d-11e8-82f4-39e80b091929.png)

[2018-04-20 06:00] Raunak1203 opened #3212 "Hiding Side Panel and creating custom query dropdown breaks"
![screenshot from 2018-04-20 11-28-31](https://user-images.githubusercontent.com/34271052/39033110-15838ade-448e-11e8-9cbf-1e13ab08b524.png)

[2018-04-20 06:00] kishansagathiya commented on #3026
I followed the exact steps as mentioned here, was not able to reproduce it. My build passed just fine. I didn't have to go to view logs to approve it. I did it all from OSIO.

I think the real issue here is `could not login to Jenkins in
mmatsuya-jenkins namespace`, and couldn't have much to do with promote button. It could be because of RedHat Developer Login.
Some Problems with RH-Dev Login
- I

[2018-04-20 06:01] rgarg1 commented on #3193
@sivaavkd I agree that this is a Sev-3, but in the absence of a priority metric, I had to tag it with Sev-2 to attract faster traction. The Sev metric that we use for OSIO is a confused mix of Severity and Priority :(

[2018-04-20 06:22] invincibleJai opened #3213 "Pipelines UI code needs to have specs for some of the components and services"
- Pipelines UI code needs to have specs for some of the components and services
- As some logic are in the model it would be difficult to make it testable, needs some refactoring as well

https://github.com/fabric8-ui/fabric8-ui/tree/master/src/a-runtime-console/kubernetes/ui/pipeline/build-stage-view

https://github.com/fabric8-ui/fabric8-ui/blob/master/src/a-runtime-console/kubernetes/model/pipe

[2018-04-20 06:28] rgarg1 opened #3214 "Why does the Analytics and Planner UI look so different?"
The Analytics report UI and Planner UI appear to be from two different tools, with no similarity between each other.

For OSIO users, this would come as a shock as they expect the look an feel to be consistent between different OSIO pages.

I believe a UX audit of OSIO and redesign (if deemed necessary) is the need of the hour.

[2018-04-20 06:42] Raunak1203 opened #3215 "Column distorted if title is long( show and hide panel)"

[2018-04-20 06:51] Raunak1203 opened #3216 "Issue with long space name analyze dashboard"
![screenshot from 2018-04-20 12-21-30](https://user-images.githubusercontent.com/34271052/39034803-5f3d949c-4495-11e8-8729-b2ebf26bb484.png)

[2018-04-20 06:58] kishansagathiya commented on #3026
{"Errors":[{"code":"500","detail":"could not login to Jenkins in
mmatsuya-jenkins namespace"}]}<a href="
It is genereated by the proxy.go: 278 ...

[2018-04-20 06:59] sthaha commented on #3026
I tried the same steps as well and wasn't able to reproduce the issue.  @mmatsuya did you by any chance look at the state of your `jenkins` namespace in the openshift cluster? Specifically interested in the pods that were running and the state of jenkins master.

What I gather from the error message is that

[code]

Jenkins proxy failed to login to the underlying openshift cluster https://github.c

[2018-04-20 07:02] kishansagathiya commented on #3026
@sthaha osioToken takes 30 days to expire, so it is unlikely that it needed a refresh.

[2018-04-20 07:02] Raunak1203 opened #3217 "Work Item Overview is not updating when selecting other spaces(analyze dashboard)"
Steps:

- Click on Analyse tab
- It shows workitem
- Now select other space
WorkItem are not updated in analyze tab
![analyse](https://user-images.githubusercontent.com/34271052/39170908-c1a41534-47ba-11e8-80f6-cf2466b90e85.gif)

[2018-04-20 07:05] kishansagathiya commented on #3026
If this is related to proxy and login, it could be because of https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/165

[2018-04-20 07:09] xcoulon opened #3218 "Support for conditional requests on toggles-service endpoints"
Part of https://github.com/openshiftio/openshift.io/issues/2626

Support for condition requests using the `ETag` / `If-None-Match` response/request headers to limit the amount of data to transfert between the server and the client.

[2018-04-20 07:12] Raunak1203 opened #3219 "Workitem with New state are missing in work Item overview(analyze dashboard)"
![screenshot from 2018-04-20 12-41-45](https://user-images.githubusercontent.com/34271052/39035586-3412764a-4498-11e8-9e22-9faef45e8f19.png)

[2018-04-20 07:32] sthaha commented on #3026
@kishansagathiya but we can be sure that from the error message it seems to a failure at - https://github.com/fabric8-services/fabric8-jenkins-proxy/blob/b7717758591f6655ba07a23d280be2eca481d9be/internal/proxy/proxy.go#L254 , can't we?

[2018-04-20 07:33] Katka92 commented on #3178
I've seen this today on openshift.io too.

[2018-04-20 07:34] kishansagathiya commented on #3026
Yes

[2018-04-20 07:37] Raunak1203 opened #3220 "Newly added area is not in quick preview area dropdown"
Steps:
 -Open setting
- Add a new child area
- Now click on plan tab
- Click on work Item title to open quick preview
- Click area dropdown
- Newly created are is not in the list..
Now refresh the page and again try adding, area is in the list

[2018-04-20 07:53] Raunak1203 opened #3221 "Infotips issue in create new application with new getting started experience"
Steps:
- Create an application
- Try our new getting started experience -> continue
- Authorize git provider
- Select pipeline(click infotip icon)
- full Information is not displayed
![screenshot from 2018-04-20 13-22-41](https://user-images.githubusercontent.com/34271052/39037378-ebeec5ca-449d-11e8-89f1-0e34a611906a.png)

[2018-04-20 08:04] Raunak1203 opened #3222 "Analyze dashboard issue with header section after creating a new application"
![peek 2018-04-20 13-25](https://user-images.githubusercontent.com/34271052/39037787-2bdd63ca-449f-11e8-958d-6e65f623a012.gif)

[2018-04-20 08:10] kishansagathiya commented on #3026
@hrishin was also not able to reproduce this. I think it would safe to change it to SEV2, clearly this is intermittent.

[2018-04-20 08:12] jyasveer commented on #3112
@goodwinos if possible can you please send me the payload for the http request to set up the application. This could help me to understand the issue

[2018-04-20 08:14] xcoulon commented on #3065
Blackfriday is a library that supports Markdown, but the "problem" with Markdown itself is that it was initially limited in term of supported syntax (eg: tables, etc.), so there have been several "flavors" of MD developed to enrich the syntax. Note that there's a work in progress to provide a "common markdown" to avoid the diversity of those flavours.
Back to BlackFriday: it is a good library that

[2018-04-20 08:15] jaseemabid commented on #3077
/me is looking into this.

[2018-04-20 08:27] invincibleJai commented on #3222
@Raunak1203 I don't exactly get the issue, is it about different header option in new launcher flow?

[2018-04-20 08:35] invincibleJai opened #3223 "In new launcher flow the progress screen show github repo link, click opens in same window"
In new launcher flow the progress screen show GitHub repo link, click opens in the same window. This should open in new window.

<img width="1671" alt="screen shot 2018-04-20 at 2 02 56 pm" src="https://user-images.githubusercontent.com/5129024/39039796-cd5a5074-44a3-11e8-9635-7ee07821cd2d.png">

[2018-04-20 08:40] jaseemabid commented on #3077
## Updates

1. The error seems to be reported by yet another [plugin](https://github.com/jenkinsci/github-branch-source-plugin/blob/master/src/main/java/org/jenkinsci/plugins/github_branch_source/Connector.java#L532) we use with practically 0 lines of docs in readme.

[2018-04-20 08:44] Raunak1203 commented on #3222
@invincibleJai that was a scroll issue in the analyze dashboard..working now
closing this issue

[2018-04-20 08:53] invincibleJai commented on #3222
thnx @Raunak1203

[2018-04-20 08:58] Raunak1203 commented on #3222
@invincibleJai reopening the issue, so there is some issue with vertical scroll bar.. See if you move from plan to analyze tab ...This scroll bar is missing. Can you please check.

[2018-04-20 09:06] invincibleJai commented on #3222
@Raunak1203 not sure worked for me , guess you are on fedora @sanketpathak can you pls test once

[2018-04-20 09:17] rgarg1 opened #3224 "Space name does not persist while switching to new space wizard"
While creating a new space, the switch from old wizard to the new wizard is not smooth and has a few issues:

- [ ] Not entering any space name on the old wizard and directly clinking the option _New Create Space Experience_ leads to an error _Name is required for space_. User should be allowed to switch to the new wizard without the error
- [ ] Clicking on the option _New Create Space Experience_

[2018-04-20 09:27] sanketpathak commented on #3222
@Raunak1203 @invincibleJai I'm not able to reproduce the issue. I've tested it in chrome on fedora with prod and prod-preview, things are working fine on my system.

[2018-04-20 09:51] sara-02 commented on #2853
@sivaavkd I am updated the issue, as part1 of the work is complete. I will create a new issue to list and track the part2 of the PoC, which will be the main focus for this sprint.

[2018-04-20 09:51] #2853 closed

[2018-04-20 09:55] sara-02 commented on #1809
@sivaavkd @krishnapaparaju As the Pocs for both these task are complete I am closing this issue, I have already created a Poc for extending maven, will create an EPIC around that, and track Maven related Pocs in that.

[2018-04-20 09:55] #1809 closed

[2018-04-20 10:01] sara-02 commented on #2853
We tried the HPF based approach.

[2018-04-20 10:25] tuxdna commented on #3182
We should have used pom.xml instead. So after renaming `t/vertx-web-3.5.1.pom` to `t/pom.xml` we get following output in current steup:

[code]

However with resolve pom flag set to true, the dependency output is empty:

[code]

The above outputs are from the `mercator` present in the container image.

Next is the output from `mercator` built from latest master:

[code]

and with resolve poms flag

[2018-04-20 10:31] invincibleJai commented on #3139
have taken off extra space from runtime/missions screen and have taken off spaces between the cards in summary screen.

[2018-04-20 10:32] pbergene commented on #3077
It seems to be a blocker for any sort of concurrent use as the anonymous users on the same node count towards a very limited quota. This needs to be sorted as we expect concurrent usage to increase.

[2018-04-20 10:39] invincibleJai commented on #3141
@catrobson @animuk Have taken off spaces between the cards in summary screen, but still button is not visible. We need to reduce the card size of two bottom cards i.e "Application Information" and "Authorized GitHub Account" , am not sure if we can remove "Space Path" and "Target Environment" as these info maynot be much useful for user. Than can change the styles of card from `card-pf--small` to

[2018-04-20 10:40] jaseemabid commented on #3077
@pbergene Do you know the flow that causes users to be anonymous?

[2018-04-20 10:52] pbergene commented on #3077
@jaseemabid see log in first post.

[2018-04-20 11:07] miteshvp commented on #2720
Changes are in prod and able to see the recommendations. Users may not be able to see any recommendation for a version if there is no better alternative version available. So in that case the original message is completely valid. But in the current context, it was a bug for this specific dependency.
<img width="650" alt="image" src="https://user-images.githubusercontent.com/17736013/39047769-c63db

[2018-04-20 11:07] #2720 closed

[2018-04-20 11:09] invincibleJai commented on #3049
@sanketpathak can you see if you can reproduce it?

[2018-04-20 11:12] tisnik opened #3225 "[1] QA Dashboard improvements for sprint 148"
- [ ] QA dashboard should read list of repositories from its configuration file
- [ ] Code coverage reported should do the same
- [ ] Update sprint #
- [ ] All remaining repos added to dashboard + links to job are configured properly

[2018-04-20 11:12] quintesse commented on #3176
I'm getting the exact same thing, but trying a second time (or third or ...) never works for me. I haven't been able to get into Jenkins for over a week now making testing nigh on impossible.

[2018-04-20 11:12] animuk commented on #3091
@arunkumars08  where are we on this ?

[2018-04-20 11:14] tisnik commented on #3201
Fixed in https://github.com/fabric8-analytics/fabric8-analytics-auth/pull/7

[2018-04-20 11:14] #3201 closed

[2018-04-20 11:14] miteshvp commented on #2707
@sanketpathak - can you PTAL in this issue as well.

[2018-04-20 11:16] animuk commented on #2944
@invincibleJai  is the aboce PR solved the issue?

[2018-04-20 11:26] animuk commented on #2581
@pmacik is that completed? can you close this?

[2018-04-20 11:28] #2377 closed

[2018-04-20 11:29] animuk commented on #2377
We dont update this tasklist for the new sprint. If required, we will make a new one. closing this

[2018-04-20 11:31] #3199 closed

[2018-04-20 11:37] ldimaggi commented on #2988
Sorry for delay in getting back to you - the repo is here:  https://github.com/osiotestmachine/testapr191524190994388

[2018-04-20 11:42] jyasveer commented on #2328
@aptmac does it happen even when you close the report modal with the close button ?

[2018-04-20 11:55] ldimaggi commented on #3176
Are you seeing an error? Or, are you presented with a Jenkins login page through which you cannot login? Can you attached a screenshot? Thx!

[2018-04-20 12:01] #2571 closed

[2018-04-20 12:02] pkettman opened #3226 "Work items created in Analytics Insights can't be opened in Chromium and Firefox."
The work item created in the Analytics Insights menu can't be opened, see blank screen and Chrome log: "Redirect ... was blocked by CORS policy...". And I can't see it in the Planner backlog.

Scenario:
1) Open 'View complete stack report' from 'Stack Report Recommendations'
2) Select 'Insights' and tab 'Companion Dependency Details'
3) Select a dependency and click 'Create work item'
4) Click 'Vi

[2018-04-20 12:03] gastaldi commented on #2988
This is not a Configmap booster. Are you sure it is the right repo?

On Fri, Apr 20, 2018, 08:37 Len DiMaggio <notifications@github.com> wrote:

[2018-04-20 12:05] pkajaba commented on #3182
@tuxdna it works for me either way (with/without flag and in/out container)

[2018-04-20 12:09] Preeticp commented on #3145
@sunilmalagi if you go ahead on this, please note that this link: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet should be replaced by Red Hat's mark down help page: https://access.redhat.com/help/markdown.

[2018-04-20 12:49] bdellasc commented on #2875
- Met this morning with @slemeur @ashumilova @catrobson and Vitaliy to walk through sketches and ideas
- Added some additional inspirational imagery to [this doc](https://docs.google.com/document/d/1K9FcIOHxL0G4lUdgeTSrm5zPSrwN8NS8TiV98Isxo3w/edit?usp=sharing)
- Concepts to continue with/use as inspiration: 2, 4, 5, 9, 10
- Regroup next week to check in on progress made

[2018-04-20 12:51] pmacik opened #3227 "Launcher: A text field validation fails when name is pasted using mouse middle-click"
1) Start with `Authorize Git Provider` section:
![image](https://user-images.githubusercontent.com/3263627/39051653-a13e8856-44a9-11e8-9559-4879f14f781e.png)
2) Paste repository name with middle-click:
![image](https://user-images.githubusercontent.com/3263627/39051669-b3da5f3a-44a9-11e8-9f5a-421fa8e56090.png)
The `Continue` button is not enabled.
3) Update the repository name using keyboard:
![im

[2018-04-20 12:54] pmacik commented on #3227
Using a Chrome browser.

[2018-04-20 13:08] ldimaggi commented on #3026
Is this problem appearing to be intermittent because all promote requests are funneled through a single Jenkins service and a limit is hit?  If this is the case, the intermittent nature of the bug may make sense as the problem is dependent on multiple users all performing a promote operation at the same time?

[2018-04-20 13:14] tuxdna commented on #3182
This is what I get from mercator.py worker

[code]

This corresponds to following JSON data:

[code]

Clearly, no dependencies are being listed.

[2018-04-20 13:14] aptmac commented on #2328
@jyasveer Yes and no, I think this may be related to how the modal itself is opened.

If the modal is opened by clicking the "View complete stack report" link, then the overlay disappears as expected both when using the close button, or clicking a blank area outside the modal.

However, if the modal is opened by clicking on either of the three cards for "Security Issues", "Licenses", or "Insights"

[2018-04-20 13:14] tuxdna commented on #3182
@pkajaba What output do you get?

[2018-04-20 13:17] sanketpathak commented on #3049
@Preeticp @invincibleJai  I'm also not seeing this issue. I've tried in prod as well as Prod-preview, working fine for me

[2018-04-20 13:26] ldimaggi commented on #3176
Can you try this with an incognito window?

[2018-04-20 13:37] catrobson commented on #3194
@parvathyvr Can you take a look at this?

[2018-04-20 13:57] ravsa commented on #3095
I found that this block of code https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/steps/OpenShiftSteps.java#L93-L97 is causing this problem.
@gastaldi do you have any idea what could be the problem?
I have noticed the same behavior in legacy flow also.

[2018-04-20 14:02] #2896 closed

[2018-04-20 14:02] #2734 closed

[2018-04-20 14:02] #2359 closed

[2018-04-20 14:02] #2171 closed

[2018-04-20 14:02] #2144 closed

[2018-04-20 14:03] #2015 closed

[2018-04-20 14:07] ldimaggi commented on #2988
Sorry - this is a Vert.X/ConfigMap repo:
https://github.com/osiotestmachine/april22

[2018-04-20 14:12] ldimaggi commented on #3178
Seeing it today too - it was not happening late last night - perhaps tied to system load?

[code]

[2018-04-20 14:15] chrislessard opened #3228 "Pull common logic out of settings page sub components into settings component"
There is a fair amount of code reuse throughout the various child components in the new user settings page. This should be pulled out into the parent component and shared.

[2018-04-20 14:16] gastaldi commented on #2988
Ah, it is still using the old code because https://github.com/openshiftio/saas-launchpad/pull/94 wasn't merged yet. @joshuawilson is supposed to merge https://github.com/openshiftio/saas-openshiftio/pull/783  first

[2018-04-20 14:40] Raunak1203 opened #3229 "Custom query dropdown breaks if we remove filter"
![custom](https://user-images.githubusercontent.com/34271052/39057411-c51d79f8-44d6-11e8-8908-edd5257d7c3f.gif)

[2018-04-20 14:53] gastaldi commented on #3095
@ravsa no idea, but that code was copied from the legacy flow, so it makes sense to see this behavior in both flows if that is the cause.

[2018-04-20 14:58] ldimaggi commented on #3226
Peter - can you list the precise set of actions that you performed to encounter this bug? I just tried (with a REST/VertX quickstart) and was not able to recreate the bug:

![screenshot from 2018-04-20 10-55-10](https://user-images.githubusercontent.com/642621/39058413-bf31f944-4489-11e8-8e42-c4d3e7ae51d0.png)

[2018-04-20 15:09] pkettman commented on #3226
Len, I added the scenario above and recreated it also on Firefox.

[2018-04-20 15:11] ldimaggi commented on #3226
Hmm - the only difference is that I was able to access the workitem through the dependencies panel - does that work for you?

Which quickstart did you use?

[2018-04-20 15:48] ldimaggi commented on #3135
Looking for the issue now - this has not been seen for a few days.

[2018-04-20 15:57] andrewazores commented on #3207
![cpu-usage-width](https://user-images.githubusercontent.com/3787464/39061381-0e06e3e2-4492-11e8-953c-e44d2b87a106.png)

[2018-04-20 16:11] jiekang commented on #2701
When the list of applications changes, the card is no longer shown, however the component instance remains and `ngOnDestroy` is not called. When the list changes again and the application reappears, the old instance is reused and the destroy boolean is still true. I'm surprised about the component reuse behavior.

[2018-04-20 16:12] ldimaggi commented on #3226
Hey Peter - I am still able to create and access a workitem - this  time from the "insights" section - can you tell me exactly which quickstart mission and runtime you used to create the issue? thx!

[2018-04-20 16:14] jiekang commented on #2701
I think it has to do with the `active`' logic used. We aren't actually choosing not to load the card, just to hide it. This goes deeper into how we use *ngFor and *ngIf on the data we're getting to decide what to display. Maybe we want to refactor this.

[2018-04-20 16:15] jiekang commented on #2701
A quick fix should be to reset `deleting` when `active` goes from `false` to `true`.

[2018-04-20 16:34] quintesse commented on #3176
I always work with an incognito window because the user used for OSIO conflicts with my regular users I use everywhere else. So everything I've said here is using incognito windows.

[2018-04-20 16:42] krishnapaparaju commented on #3077
@animuk @gastaldi need your help to troubleshoot GitHub tokens not being populated / misplaced for booster applications. This problem showed up while concurrent users (around 30) were trying to use Launcher. I am not sure if this is related to one replica currently being used for Launcher backend. @jaseemabid would be great if we can have a check for 'avoiding Github interaction' incase 'anonymous

[2018-04-20 16:52] gastaldi commented on #3077
@krishnapaparaju I don't believe the number of replicas used in the Launcher backend should cause this.

[2018-04-20 17:04] gastaldi commented on #3077
Launcher calls Jenkins to create the github credentials after the repository is created here:

https://github.com/fabric8-launcher/launcher-backend/blob/1e6975e5e6cee6d8f9b8cf0ce102108d9fae8798/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/OsioMissionControl.java#L113-L114

Could it be that Jenkins somehow scans the repositories created in an organization before that happens? In this ca

[2018-04-20 17:34] rohitkrai03 commented on #2661
PR raised - https://github.com/fabric8-ui/fabric8-ui/pull/2777

[2018-04-20 17:34] rohitkrai03 commented on #2660
PR raised - https://github.com/fabric8-ui/fabric8-ui/pull/2777

[2018-04-20 18:16] andrewazores commented on #3144
@rohitkrai03 sorry, didn't see your offer to open the PR yourself. I'd be okay with that, if you'd like to reassign this issue to yourself and take ownership.

We're talking about a patch like this, right?

[code]

I think this seems to make sense from what we understand about the context of this `error` URL param.

[2018-04-20 19:30] andrewazores commented on #3144
PR opened: https://github.com/fabric8-ui/fabric8-ui/pull/2779

[2018-04-20 20:07] jiekang opened #3230 "Charts sometimes look strange"
See image below and compare the Memory chart for the two applications. The lower one looks okay, the upper one looks strange

![charts](https://user-images.githubusercontent.com/5430520/39071393-e34a788a-44b4-11e8-93ff-ef865487e85c.png)

[2018-04-20 20:31] jiekang opened #3231 "Deployment charts decimal rounding sometimes doesn't apply"
This was seen when scaling two applications between various combinations of 0:0, 2:0, 0:2, 1:1, 1:0, 0:1 pods.

![chart-scale-miss](https://user-images.githubusercontent.com/5430520/39072200-c80b8c8c-44b7-11e8-81c0-7917d5f25bc4.png)

[2018-04-20 20:36] aptmac commented on #3021
@joshuawilson  @dlabrecq @dgutride  So I'm a bit stumped with this one, and could use some guidance more information if you happen to know.

Here's what I've gathered so far ..

What's happening is that the named outlet ('action') is incorporating the target url and creating a url that isn't recognized to our router. For example, from `/(action:add-work-item)` and going to the Create page, we end

[2018-04-20 20:39] aptmac commented on #3230
Neat, I saw it for the same application with similar units.
![side by side](https://user-images.githubusercontent.com/10425301/39072585-f9c5d1fa-44b8-11e8-92da-bc6564047c6e.png)

Here's what the size looked like when I inspected the c3-chart for the normally displaying chart, with dimensions 251x48:
![regular size chart](https://user-images.githubusercontent.com/10425301/39072588-fd60cbbc-44b8-11e

[2018-04-20 21:56] joshuawilson commented on #2923
yes @jiekang thanks, updated.

[2018-04-20 22:00] joshuawilson commented on #234
I think this just be a question that is considered by the Build team. @krishnapaparaju @chmouel

[2018-04-21 13:07] InfoSec812 opened #3232 "Stuck with "Migrating workspaces to the new version of Che...""
My old (~2 mos) and new projects in OSIO are stuck, unable to open a workspace. I only see a message as indicated in the title of this issue. Screenshot attached.
![bug report - screenshot_2018-04-21_08-59-41](https://user-images.githubusercontent.com/99691/39084410-6cbe9dce-4543-11e8-987d-8d480e9aeac6.png)

[2018-04-22 01:27] joshuawilson commented on #955
I haven't seen this in a while. @ldimaggi have you see it?

I think @maxandersen gets this more since he logs in to 2 different accounts often.

[2018-04-23 02:30] mishaone commented on #3120
I have tested these and added some additional instructions (for examples https://github.com/openshiftio/openshift.io/issues/2965). Did you have any specific unique steps in mind, Len? If generic, then we do test every procedure and add any additional steps required because we require them as well.

[2018-04-23 04:12] miteshvp commented on #2963
@arunkumars08 - can we push these changes in the prod.

[2018-04-23 04:13] miteshvp commented on #1858
Closing this as this design is no longer valid. New UX is in place.

[2018-04-23 04:13] #1858 closed

[2018-04-23 04:15] miteshvp commented on #3226
@pkettman - I am not able to reproduce this issue. It works as expected for me. Can you please try a new stack?

[2018-04-23 04:27] sbose78 commented on #3096
From what I am aware of - whenever a request from the UI ends up with a 401 response, the UI logs out the user and sends him to the login page. So, if you can open the Developer console --> Network, and record the requests, you might be able to catch something.

CC: @rohitkrai03

[2018-04-23 05:35] chmouel commented on #2352
From a direct message on mattermost from @pbergene it seems that the issue here (which is misleading in its description and its title) is that the build that are stuck on the approval process are not going to get idled, this idler issue [here](https://github.com/fabric8-services/fabric8-jenkins-idler/issues/141) partially documented the problem.

[2018-04-23 06:02] sunilk747 commented on #3044
@rgarg1 I couldn't reproduce the issue. Can you please provide me all the related inputs to reproduce this issue. Did you tried again with the same input?

[2018-04-23 06:04] sunilk747 commented on #3044
@rgarg Can you share your config.xml from openshift console? DM me.

[2018-04-23 06:06] chmouel commented on #234
@pradeepto i don't think we have anyone who are able to takes on UI works, isn't it ?

[2018-04-23 06:15] humaton commented on #2045
@sivaavkd , we have builds from master branch deployed in staging from the end of the last week.
@msrb has opened WIP pull request with some changes. Once he is satisfied we can move it to production.

[2018-04-23 06:18] #2775 closed

[2018-04-23 06:27] arunkumars08 commented on #2963
@miteshvp @sivaavkd @invincibleJai The PR for the same in fabric8-ui is here - https://github.com/fabric8-ui/fabric8-ui/pull/2753

I will follow it up.

[2018-04-23 06:42] animuk commented on #3112
@goodwinos  could you please reply on the query that @jyasveer has asked ?

[2018-04-23 06:58] msrb opened #3233 "[worker-scaler] the API version in the data (extensions/v1beta1) does not match the expected API version (apps.openshift.io/v1)"
# Description

version: 9f3d9230c2c96f47ad23c670be25e63b71035685

I can see following error message in both staging and prod:

[code]

[2018-04-23 07:12] #3146 closed

[2018-04-23 07:16] xcoulon commented on #3065
@Preeticp yes, this looks good to me, thanks!

[2018-04-23 07:19] msrb commented on #2883
@ldimaggi is it the same Vert.x HTTP quickstart app?

[2018-04-23 07:32] rkratky commented on #3120
@ldimaggi This looks it's at odds with https://github.com/fabric8io/fabric8-online-docs/issues/289 -- should we perhaps add a generic troubleshooting item to suggest steps users should try if things to go as expected in Che?

[2018-04-23 07:48] sivaavkd commented on #2045
Thanks.. as mentioned in earlier comments, did we inform SD team and did we document our discussions ? @humaton @msrb

[2018-04-23 07:49] ibuziuk commented on #3232
@riuvshin the user `rhn-gps-josphill` is listed in `Che 6 Migration Errors` doc, with description - `Timeout while waiting for container creation or command execution` - recommended action `Rerun the migration`.
Not sure this would help though since migration via codebase is also failing.

@InfoSec812 could you please provide openshift events from your *-che namespace ?

[2018-04-23 07:54] ibuziuk commented on #875
closing, since migration to che 6 is finished and replica sets are not used for workspace creation anymore

[2018-04-23 07:54] #875 closed

[2018-04-23 07:55] jyasveer commented on #2516
@sivaavkd work is in progress. i am tracking this task here https://github.com/openshiftio/openshift.io/issues/2945

[2018-04-23 08:24] jyasveer opened #3234 "[Launcher] Set up application post call request parameters mismatch."
I am running locally with PROD env sourced
I am trying to create a application in `PROD` using new getting started experience. While doing this i observed that the parameters that we send from the javascript post call is not accepted by the `/osio/launch` api.
Below is the http request detail

[code]
**Response from the above request**
[code]

[2018-04-23 08:33] sunilk747 commented on #3044
Closing this issue as I am not able to reproduce this. Please feel free to reopen this if you again encounter this issue.

[2018-04-23 08:33] #3044 closed

[2018-04-23 08:35] msrb commented on #2257
CI/CD docs: https://github.com/fabric8-analytics/fabric8-analytics-common/blob/master/README-cicd.md

https://github.com/fabric8-analytics/fabric8-analytics-jenkins-plugin is not a service, so some parts of the CI/CD documentation don't apply here (saas-herder config YAML file for example).

[2018-04-23 08:35] invincibleJai commented on #3234
once these(associated) PRs get's merged we should be good https://github.com/openshiftio/saas-openshiftio/pull/783

[2018-04-23 08:44] tuxdna commented on #3182
Inside container:

[code]

[2018-04-23 08:48] animuk opened #3235 "Config map - vert.x quickstart/booster fails to build"
When, pipeline build is completed and user clicks on the application link, the sample service is not behaving as expected. It says "unable to read the configuration" in prod.
![un](https://user-images.githubusercontent.com/11207106/39116121-37e7c534-4701-11e8-87fa-07db43a77dcd.png)

[2018-04-23 08:54] parvathyvr commented on #3194
@catrobson @arunkumars08 @rgarg1
The behaviour of the feedback button is defined in this Invision link.
https://redhat.invisionapp.com/share/JTF8802X6#/272279341_ScreenV2_02
The feedback buttons change colors as shown in the link when the user clicks on it.

[2018-04-23 08:57] arunkumars08 commented on #3194
@rgarg1 As per UX, the intention is to turn the clicked thumbs solid. I think that is missed.
But to your other point of how it is used, as @sara-02 has already mentioned, currently it is just for internal references and purposes.

[2018-04-23 09:05] rgarg1 commented on #3194
@arunkumars08 Thanks for confirming the _feedback_ defect.

As far as the feedback usage is concerned, I raised that question because we are not letting our users know what this feedback means. We need to insert an info-tip (maybe) to indicate the meaning and usage of the feedback.

[2018-04-23 09:07] #3234 closed

[2018-04-23 09:27] ia3andy opened #3236 "Http Error 500 when creating space on prod-preview"
I think there is a bug on https://prod-preview.openshift.io/, it is not possible to create a space anymore.

I reproduced it from the website, and by calling the api endpoint as well.

[code]

[code]

[2018-04-23 09:28] ia3andy commented on #3236
maybe related to: https://github.com/openshiftio/openshift.io/issues/3191

[2018-04-23 09:44] ibuziuk commented on #1294
In Che 6 vert.x folder is still shown, but there is no red-cross anymore. Also, the folder color is faded which probably means hidden (?) :
![image](https://user-images.githubusercontent.com/1461122/39118476-c8eaf276-46e9-11e8-9e8f-57bb261de0eb.png)

Technically speaking there are two `.vertx` folders one is in the root of the project and the second one is on the same level as a project. The one w

[2018-04-23 09:45] arunkumars08 commented on #3194
@rgarg1 Oh, I understand that point. @parvathyvr is there something we can do here?

[2018-04-23 09:47] pkajaba commented on #3182
Great findings @tuxdna. However, I am not sure how to tackle this problem, since we can't easily update version of maven.

[2018-04-23 10:08] tisnik opened #3237 "[5] Gather and display Cyclomatic Complexity and Maintainability Index for all f8a repositories"
Acceptance criteria:

- [x] Cyclomatic Complexity is measured for all repositories (currently listed on QA Dashboard)
- [x] Results are displayed on CI
- [x] Cyclomatic Complexity results are integrated into the Dashboard (overall mark + links to generated results)
- [x] Maintainability Index is measured for all repositories (currently listed on QA Dashboard)
- [x] Results are displayed on CI
- [x

[2018-04-23 10:15] rgarg1 commented on #3236
@ia3andy This is a backend issue and @kwk is working on this.

[2018-04-23 10:24] tuxdna commented on #3182
Setting up Maven 3.5.3 inside the container using instructions [here](https://www.vultr.com/docs/how-to-install-apache-maven-3-5-on-centos-7) still has same bug.

As noted earlier bot inside and outside the container the `effective-pom` plugin version used is same. So there must be some other dependency that is causing this behavior.

[2018-04-23 10:31] animuk opened #3238 "NodeJS RHOAR + Boosters Availability in OSIO"
OSIO Users should be able able to select NodeJS boosters as a part of launcher flow and proceed with creating the project out of it.

Acceptance Criteria

OSIO Users should able to select NodeJS as a runtime for the boosters available in the launcher flow.
OSIO Users should able to see the suggested dependencies and security insights in the dependency editor for nodeJS runtimes.
OSIO pipeline shou

[2018-04-23 10:34] tuxdna commented on #3182
I also tried 3.0.1 version of effective pom plugin inside the container, but still same behavior.

[code]

This means there is some other dependency that is causing this behavior. Perhaps some component that generates XML documents.

[2018-04-23 10:36] ibuziuk commented on #784
@samuzzal-choudhury since it is moved to another issue [1] can this one be closed ?
[1] https://github.com/openshiftio/openshift.io/issues/1002

[2018-04-23 10:39] pkettman commented on #3226
@ldimaggi I used Eclipse Vert.x Booster, created in February, see https://github.com/pkettman/pke-demo21/ for details. Let's spend some time on this one on our today's session.

[2018-04-23 10:41] quintesse commented on #3131
This doesn't seem like a problem with the launcher code but more like an infrastructure issue.

[2018-04-23 10:46] ibuziuk commented on #2179
@eivantsov afaik, all osio recipes have node.js pre-installed (Bayesian requirment) [1]

[1] https://github.com/redhat-developer/che-dockerfiles/blob/master/recipes/vertx/Dockerfile#L30

[2018-04-23 10:50] animuk opened #3239 "[3] Collect Telemetry events in the dependency editor"
#### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2210
OSIO should be able to track and collect telemetry events on how the dependency editor is being used.

Acceptance Criteria:
1. System should log: -
           - How many dependencies added
          - Use of the search
          - Selection of a recommended dependency by analytics
          - Removal of a dependency

**

[2018-04-23 11:01] tuxdna commented on #3182
Highlighting the issue below ( extra XML tag ):

[code]

[2018-04-23 11:01] chmouel opened #3240 "OpenShift get watch is returning bogus datas"
I am trying to debug an idler bug and have encountered a bug on prod-preview, when using `oc get watch` we seem to get a lot of build events that have already been captured which seems to loop for ever or at least for a long time.

This buildname is called "app-test-1-sadsadsa-1" which seems to be located on 2a for user `ssamal-preview`

without using idler and just via the CLI i am capturing the

[2018-04-23 11:03] animuk opened #3241 "[5] Collect Telemetry events for Launcher wizard"
#### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2107
Gather telemetry information which will support analysis of User behaviour in the launcher flow to guide improvements to the OSIO User Getting Started experience.

Track events inside the wizard
Runtime selected
Booster selected
Pipepline selected
What arrows used for navigation
How often use overview on left
Duration o

[2018-04-23 11:04] parvathyvr commented on #3194
@rgarg1 @arunkumars08 I feel the feedback button is self explanatory and since the usage of the user feedback at this point is only for internal analytics consumption,i am not sure if we should show an info tip to the user about it.So may be we can drop the idea for now.
Also after validating with some real users,if a need arises to show the info tip we can introduce that
at a later point in time.

[2018-04-23 11:09] tisnik commented on #3202
@miteshvp @samuzzal-choudhury WDYT? Is it possible to work on this issue in the current sprint?

[2018-04-23 11:12] Veethika commented on #2912
Done:
a. Discussion about the standard Scrum process types and their respective states with Scrum master
b. Competitor study and analysis

In Progress: To come up with initial set of sketches and wireframes for scrum template and discuss with the concerned people in the planner team and PM

[2018-04-23 11:12] miteshvp commented on #3202
@tisnik - I will rather put it in the Backlog and if time permits, we can target in this sprint. Thanks for raising this.

[2018-04-23 11:16] humaton commented on #3233
I have found this BZ https://bugzilla.redhat.com/show_bug.cgi?id=1543357

[2018-04-23 11:20] animuk opened #3242 "Improve the launcher flow"
As per User's feedback and telemetry analysis, New Launcher should be adjusted and changed to improve the user experience.

Acceptance:
The new launcher experience area improved and changes in launcher UI, UXD and Backend should be implemented as per the above scenarios.

**Tasks**

- [x] - Accommodating feature and feedback requests.
- [x] - All flows to Add/Import an application/codebase should

[2018-04-23 11:25] gastaldi commented on #3235
Prod is not updated yet: https://github.com/openshiftio/saas-launchpad/pull/94

[2018-04-23 11:25] kbsingh commented on #3240
if we can get a better description and breakdown than 'something' 'someone' 'some things' 'other things' - we can try and help triage the issue down.

[2018-04-23 11:28] tisnik opened #3243 "Wrong code metrics data found for the following E/P/V on STAGE S3: maven/io.vertx:vertx-core/3.3.3"
The code_metrics.json contains just the following entry, nothing else:

[code]

Expected content:

something similar to:

[code]

[2018-04-23 11:28] tisnik commented on #3243
@msrb WDYT? Is it anything that could be easily verified & fixed?

[2018-04-23 11:34] rupalibehera commented on #2825
Here is the PR https://github.com/fabric8io/fabric8-pipeline-library/pull/396 from @jaseemabid , need to test it and merge it.

[2018-04-23 11:39] pkettman commented on #3226
@miteshvp I've tried another codebase of the same stack (Vert.x, https://github.com/pkettman/pke-demo22/) - got the same result. Another stack (newly created WildFly Swarm) doesn't offer any dependencies to create a WI for.
Interestingly when I go to the a stack analysis where I've previously created a WI, I am allowed to create the WI again, see below. So I will test it with Len today.
![insights

[2018-04-23 11:55] sara-02 commented on #3194
@parvathyvr +1, we don't have any formula or usage information to display as this moment, and we don't know yet how many users will feedback for us to have any useful to start with.

[2018-04-23 11:55] pkajaba commented on #3182
I haven't encountered extra tag, but I am having this problem: https://github.com/trustin/os-maven-plugin/issues/21

And it seems that `vertx-web` package has a dependency on os-maven-plugin

[2018-04-23 11:55] InfoSec812 commented on #3232
It shows "No Events"

[2018-04-23 11:56] sara-02 commented on #3194
As fas as UI changes are concerned, instead of showing the info-bar that comes at the top we can simply turn the color solid, a green for thumbs up, and read for thumbs down.

[2018-04-23 11:57] InfoSec812 commented on #3232
Ooooh... I just switched over to my Jenkins Project in the OpenShift console and I see that Jenkins failed to deploy. Unfortunately, the logs are no longer available.

[2018-04-23 11:58] gastaldi commented on #3124
@animuk this is not a bug in Launcher, but in the booster. Please assign this issue to the WF Swarm team

[2018-04-23 11:59] ibuziuk commented on #3232
@InfoSec812 could you please navigate to codebase UI again, wait till migration spinner would appear and than go back to *-che namespaces and see what happens in namespace (maybe there would be some new events) ?

[2018-04-23 12:00] chmouel commented on #3240
@kbsingh I am not sure what you are not understanding here, it's all in the past snippet, I have rephrased some of it if that's what you are asking?

[2018-04-23 12:01] InfoSec812 commented on #3232
And of course, it's not happening now... :(

[2018-04-23 12:02] eivantsov commented on #1294
A couple of related PRs https://github.com/eclipse/che/pull/9193 and https://github.com/eclipse/che/pull/8928

Looks like it happens only when the folder is actually created. Page refresh helps, but it is not an expected bahavior

[2018-04-23 12:04] ibuziuk commented on #3232
Sorry, not following how jenkins is related to this problem ? have you deployed smth. to your che namespace manually ?

[2018-04-23 12:10] InfoSec812 commented on #3232
Now, instead of getting the "Migrating" message, Che just fails to start with errors about mounting volumes. See attach screenshot.

![bug report - che fails to start - 2018-04-23](https://user-images.githubusercontent.com/99691/39125669-c4eb17bc-46cd-11e8-84f3-78470e40db14.png)

[2018-04-23 12:13] tisnik commented on #3202
Thanks a lot @miteshvp . Let's move it into Backlog then :)

[2018-04-23 12:14] InfoSec812 commented on #3232
@ibuziuk I'm not sure Jenkins has ANYTHING to do with the problem reported. I was just providing as much detail as possible of what I am seeing.

[2018-04-23 12:18] animuk opened #3244 "[8] Add Blank booster Support for each run-times in Getting Started flow"
#### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2113
As an openshift.io user, He should able to select blank mission in the launcher screen to start the project from scratch.

**Acceptance:**

- OSIO Users should be allowed to proceed with the mission as blank and choose the runtime as per user's requirement.
- OSIO Users can proceed in the launcher flow till completion o

[2018-04-23 12:28] miteshvp commented on #3243
@msrb since we are no longer using the code metrics statistics, WDYT of tweaking the integration tests to remove them?

[2018-04-23 12:29] pbergene commented on #3240
What version of oc tools are you using?

[2018-04-23 12:31] chmouel commented on #3240
@pbergene oc v3.6.0+c4dd4cf but that's happenning inside the loop of idler too

[2018-04-23 12:42] chmouel commented on #3240
Further to explain what i mean by hapenning from inside the loop of idler, idler loop is using oc watch to know when there is a new build event, this is what I get currently from the system, it works fine at first and then loop forever on this tenant `ssamal-preview` :

![image](https://user-images.githubusercontent.com/98980/39127037-2ea73218-4704-11e8-8513-a1a207e2aef3.png)

The only code added

[2018-04-23 12:43] InfoSec812 commented on #3232
@ibuziuk I see a single bound PVC:

claim-che-workspace | Bound to volume 7aaf13b6-5b17-463a-a83b-9af2efde7b19-00-14 | 1 GiB | RWO (Read-Write-Once) | 20 days
-- | -- | -- | -- | --

[2018-04-23 12:44] sthaha commented on #3077
@gastaldi even in that case isn't the build is triggered  after the credentials are mounted - https://github.com/fabric8-launcher/launcher-backend/blob/1e6975e5e6cee6d8f9b8cf0ce102108d9fae8798/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/OsioMissionControl.java#L127  ?

[2018-04-23 12:45] msrb commented on #3243
+1 for not checking code metrics data on S3. We don't collect the data any more. It's perfectly fine to report these kind of issues, we can clean them up in future (ideally all at once).

[2018-04-23 12:46] gastaldi commented on #3077
@staha yes, I think it's something else beyond the scope of Launcher itself

[2018-04-23 12:49] ibuziuk commented on #3232
@InfoSec812 all looks correct, just for some reason "Failed Mount" is keep happening...

@riuvshin  do you happen to know if prod oso clusters have already switched to Gluster storage backend

[2018-04-23 12:49] sthaha commented on #3077
@mpguerra  I tried reproducing this but I am unable to. Are you still able to reproduce this? If so, I want to try inspecting the state of Jenkins pod and also see if the credential is configured properly.

[2018-04-23 12:49] joshuawilson commented on #3021
I think we need to look at doing something else.  I think it might violate the URL pattern.

@catrobson @maxandersen what is the requirement for the URL pattern?

[2018-04-23 12:51] joshuawilson commented on #234
@chmouel @pradeepto I think @jiekang is willing to work it. Can you validate it?

[2018-04-23 12:54] ia3andy commented on #3236
@kwk it seems to be fixed on https://prod-preview.openshift.io/?

[2018-04-23 12:54] joshuawilson commented on #2825
I thought this was NOT going to get merged due to the risk of breaking upstream external projects.

[2018-04-23 12:56] sthaha commented on #3077
@pbergene @gastaldi I think was @jaseemabid is trying to point to is - https://github.com/jenkinsci/github-branch-source-plugin/blob/a507a73a223ab89fa8051c5b58a64a30953e35b0/src/main/java/org/jenkinsci/plugins/github_branch_source/Connector.java#L447 which prints the message - `Connecting to <gh> ...`

[2018-04-23 13:06] rgarg1 commented on #3026
@kishansagathiya I can confirm that I've encountered this issue many times, but sadly this is very intermittent in nature and there are no steps to reproduce this issue consistently.

[2018-04-23 13:11] tisnik commented on #3243
Thanks @miteshvp @msrb for clarification, I've comment out the tests accordingly :)

[2018-04-23 13:13] sthaha commented on #3077
### Quickfix

As a quickfix to this issue I am thinking of failing early at https://github.com/fabric8io/fabric8-pipeline-library/blob/0bff0f50a2af9a0dcc4d2c4abb28d1eafcbfdfb9/vars/mavenCI.groovy#L14 if `cd-github` credential is blank/null so that the IP isn't blocked/rate-limited.
WDYT ?

/cc @pbergene @jaseemabid @gastaldi @sbose78

[2018-04-23 13:14] sbose78 commented on #3077
That's a good place to start, Sunil.

On Mon, Apr 23, 2018, 18:43 sthaha <notifications@github.com> wrote:

[2018-04-23 13:17] jiekang commented on #3231
Closing: Duplicate of https://github.com/openshiftio/openshift.io/issues/3207

[2018-04-23 13:17] #3231 closed

[2018-04-23 13:22] rgarg1 opened #3245 "Planner SCRUM template is confusing"
Now that the space templates are ready, the new SCRUM template is available for use in Planner, at least for now in Prod-preview. Here is a peek into how the hierarchy looks like currently:

![scrum_template_issue](https://user-images.githubusercontent.com/28748448/39128163-b3f5fd12-4724-11e8-87b5-ca636aad7816.png)

I've been a SCRUM user for many years, but this template confuses me due to follow

[2018-04-23 13:33] jiekang opened #3246 "Investigate memory leaks in fabric8-ui"
![memory](https://user-images.githubusercontent.com/5430520/39129705-2ba4a71a-46d9-11e8-8401-60a5fb224c8d.png)

The above image is heap snapshots taken after taking the actions:
1. From 'Create' tab, visit 'Analyze' tab.
2. From 'Analyze' tab, visit 'Create' tab.

repeatedly. The final snapshot is taken after using the console's 'Collect Garbage' button.

Memory usage should be looked at in case o

[2018-04-23 13:43] quintesse commented on #3023
We're experiencing the very same thing (in openshift.io) and it prevents us from doing proper testing. @krishnapaparaju , @gastaldi told me you could perhaps assign someone of your team to help us with this?

[2018-04-23 13:45] michaelkleinhenz commented on #3245
https://www.scruminc.com/product-backlog-item-pbi/ talks about PBI being a generic term for all entities in the backlog, like Epic, Story etc.

But apart from any specific naming of entities, the template we offer should resemble a "best-of-breed" approach that matches the most common use of a backlog and the most commonly used WITs.

[2018-04-23 13:52] rohanKanojia commented on #3026
Hi, I tried the above-mentioned steps but it seemed to be working fine in my case.
Build logs: https://pastebin.com/8Np5cqD5
Please find the screenshot attached also.
![screenshot from 2018-04-23 19-20-49](https://user-images.githubusercontent.com/13834498/39130779-94d4d47e-472b-11e8-8632-a076d156be78.png)

[2018-04-23 13:54] stacymcauliffe opened #3247 "Provide copy for dependency screen in Launcher"
Provide copy for dependency screens in the Launcher:
https://redhat.invisionapp.com/share/4UGJPFTM8NC#/screens/287586356

[2018-04-23 13:59] #3065 closed

[2018-04-23 13:59] invincibleJai commented on #3152
@bdellascI don't think it's an ask from GA point of view. I highlighted it just to have a better user experience as in case of some invalid input/error API call will silently fail at least in those scenarios user to be prompted with a notification saying "there is an issue with repo name entered by you or groupID etc".

why not keep user in summary section itself and show toast notification with e

[2018-04-23 14:01] bdellasc commented on #3152
I spoke with @dlabrecq and he had some insights on the challenges around this issue. I'll let him chime in. Please keep the conversation/progress updates in this comment thread so it's all in one place. Thanks!

[2018-04-23 14:04] invincibleJai commented on #3023
@quintesse it's related to second part of the this issue https://github.com/openshiftio/openshift.io/issues/2833 i.e FMP timeout error

@hrishin from build was looking into it.
@animuk PTAL

[2018-04-23 14:06] ldimaggi opened #3248 "The supported browser list still refers to the need to use incognito mode"
The reference to incognito mode should be removed from:

https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

[2018-04-23 14:09] catrobson commented on #3194
@parvathyvr - All icons should have at least a basic info tip for accessibility reasons.  Even if doesn't really explain the formula impact, having a user friendly description of what this icon is will be necessary.

[2018-04-23 14:09] dlabrecq opened #3249 "Design: Applications widget (3)"
The applications widget initially shows an empty state with a button to add an application. After adding an application, I can navigate to the pipelines page and see my progress. However, the empty state remains for the application widget until the application is staged. Currently, the design shows only the stage and run deployment environments.

Verification criteria:
* Empty state for applicatio

[2018-04-23 14:10] tuxdna commented on #3182
I also observe the warning:

[code]

I guess this is probably due to absence of `.m2` folder where the maven cache is stored. I need to verify this

[2018-04-23 14:15] chmouel commented on #3240
We have done some discussion with @pbergene on this,

According to the monitoring system (zabbix) there was some idling done on `prod` so idler is still working.

We only have some project looping forever not all of them have this issue.

Since there is multiple workers on idler only one of them in this case would get stuck but others would still be able to properly works, which is what seems to h

[2018-04-23 14:16] bdellasc commented on #3152
@invincibleJai @jyasveer @dlabrecq I think Dan was suggesting a similar approach to what you described above. My initial proposal was a shot in the dark without a lot of background knowledge on what was technically feasible. If we're all ok with the toast notification approach, I'm fine with that as well.

I think we'd just need to make a pass at the content for that toast notification, and for th

[2018-04-23 14:19] jiekang commented on #234
Testing with upstream (local deployment), it looks like nothing happens now when a PR is merged into a repository that's a codebase + pipeline + deployment in OSIO.

[2018-04-23 14:25] rohanKanojia commented on #3058
@apupier: Hi, I'm trying to reproduce this issue. I tried building it several times but somehow I'm not able to
reproduce it. Are you able to reproduce it or facing this issue intermittently? Here is what I did:

1) Visit https://openshift.io/_home
2) Select a created space in "Recent spaces"
3) Click "Add to space" in Pipelines.
4) click "import existing code"
5) Select "Spring-boot-http-booster"

[2018-04-23 14:26] #3218 closed, assigned to xcoulon

[2018-04-23 14:26] #2626 closed

[2018-04-23 14:32] kishansagathiya commented on #3026
I believe by now enough people ( 6 to be precise) have failed to reproduce this issue. Either this is intermittent or doesn't exist, but anyway we don't have a reason to work on this unless we see this again.

[2018-04-23 14:33] kwk commented on #3236
@ia3andy as of https://github.com/fabric8-services/fabric8-wit/pull/2035 this should be fixed.

[2018-04-23 14:34] pbergene commented on #3240
There are multiple builds that seem to be looping on 2a, but not for 2.  Compiling a list on HK.

[2018-04-23 14:41] mmclanerh commented on #3077
For what it's worth, I also didn't produce this in my own account (using experimental features enabled).  Some criteria around when this was seen were:  there was a larger number of concurrency user activity and all users were using the experimental features-enabled quickstarts wizard.

Thinking about what /might/ cause this..   perhaps we had conditions of a) gh api token not getting set properly

[2018-04-23 14:42] kwk commented on #3245
@rgarg1 I'm just the messenger. The grouping was done here: https://docs.google.com/presentation/d/18xKQmkf3UKlGoP7qLqUnrIYiflza674n_paUZXKuepA/edit#slide=id.g3758dca8f8_0_53

[2018-04-23 14:43] jfchevrette opened #3250 "Getting started page not shown on first login"
I've just registered on cluster us-east-1a and was manually approved and on first login the getting started page did not show up.

I believe it did the same for @pbergene

I was able to manually link my github account by going to my profile page.

[2018-04-23 14:45] jfchevrette commented on #3250
Marked as SEV-2 because that currently breaks the happy path

[2018-04-23 14:46] jiekang commented on #234
Tested with PR and build was triggered and I don't see the odd UI artifact. I'm closing this issue. Feel free to re-open if you have a reason otherwise.

[2018-04-23 14:46] #234 closed

[2018-04-23 14:46] dlabrecq commented on #3152
It's not clear when the 400/500 error is received. Is it before landing on the progress page?

That said, my preference would be to keep the user in the summary screen (as @invincibleJai suggested) and display a toast notification or inline error.

Looking at the screenshot, I see messages like "pipeline is required", "runtime is required", etc.  I assume this is due to missing/incorrect summary d

[2018-04-23 14:48] aslakknutsen commented on #3240
@chmoul  Isn't this just the sync plugin updating the model over and over for no reason?

[2018-04-23 14:51] pkettman commented on #3226
It work for me in Chrome, but not in Chromium and Firefox.

[2018-04-23 14:55] RickJWagner opened #3251 "User can't use GitHub(!) without excessive friction"
Using OSIO outside the quickstart scenario, the user might be coerced into bothersome GitHub workarounds.

Example:  The user wants to try a WildFly Swarm quickstart.  (i.e. '/wildfly-swarm-examples/tree/master/jaxrs/jaxrs-cdi').  The expected series of actions:
- Fork the WF Swarm github repo to user's GitHub account
- Select a quickstart from the repo, target it from OSIO's 'Import Code base' ac

[2018-04-23 14:57] jfchevrette opened #3252 "Jenkins idler/proxy - Unable to determine tenant id for repo"
- Registered an account on new cluster starter-us-east-1a
- Created a new space/codebase
- Github webhook appropriately set to https://jenkins.openshift.io/github-webhook/
- Github reports that messages sent return a 500

Headers
[code]

Payload
[code]

Response
[code]

[2018-04-23 14:58] jfchevrette commented on #3252
ping @chmouel @krishnapaparaju @pradeepto @rupalibehera fyi. marking this as SEV-1 because that cluster is about to be promoted to production today

[2018-04-23 14:58] invincibleJai commented on #3152
yes Dan it's before landing on the progress page, for progress screen we do have error notification.

@dlabrecq agree with you that's the expectation, I came across this scenario a few days back when GitHub repo name didn't have validation apart from check if repo name exists/ doesn't exist so during click part one user has entered repo with space in it i.e "my repo" and it silently failed in summ

[2018-04-23 15:04] jfchevrette commented on #3252
After retrying the hook message from my Github account, it succeeded.

It would appear that for a brief period of time after a new account is created/provisioned jenkins-proxy/idler do not know about it and as such the first few hooks may fail?

Downgrading to SEV-2 but I think this still severely affects the 'happy path' if the first hook (which happens when the repo is first created & quickstart

[2018-04-23 15:04] RickJWagner commented on #3251
This seems like a sizeable inconvenience to real-world users.
Adding @catrobson  for ux visibility.

[2018-04-23 15:14] jfchevrette opened #3253 "Pipelines not shown on space dashboard"
- From the home page, accessing my space shows that I have [1] pipeline but it is not listed.
- Refreshing my space dashboard then shows I have [0] pipelines.
- The Create/Pipelines section shows that I have 1 pipeline.

Recording: https://youtu.be/2H2PJ1wlDuI

[2018-04-23 15:16] chmouel commented on #3252
Thanks for the details @jfchevrette

This error comes from here :

https://github.com/fabric8-services/fabric8-jenkins-proxy/blob/master/internal/proxy/proxy.go#L593-L595

in this case it connects to the wit system to search for that [codebase](https://github.com/fabric8-services/fabric8-jenkins-proxy/blob/master/internal/clients/wit.go#L84) and then fails because it was probably not provisioned a

[2018-04-23 15:26] chmouel commented on #3240
@aslakknutsen ah yes i forgot about that little bugger thanks, I am still not sure about this then :

* how come this happen on some projects who has active project and not on other ones.

I don't see difference between the different payloads that coming thru as well.

fixing #2352 would anyway shut this up,

[2018-04-23 15:29] lordofthejars commented on #3056
@mattd72 @ppitonak One question, which booster have you chosen? Boot, Vertx or Wildly?

[2018-04-23 15:31] mattd72 commented on #3056
I went through it fairly quickly.  One thing to keep in mind about the
click party is that the were many users and the system was under load.

-mattd

On Mon, Apr 23, 2018 at 11:23 AM, Alex Soto <notifications@github.com>
wrote:

--

Matthew Davis
JBoss Solutions Architect
919-302-7238

[2018-04-23 15:31] mattd72 commented on #3056
Boot for this specific issue.

On Mon, Apr 23, 2018 at 11:29 AM, Alex Soto <notifications@github.com>
wrote:

--

Matthew Davis
JBoss Solutions Architect
919-302-7238

[2018-04-23 15:36] lordofthejars commented on #3056
Ok, I used the same booster. Thanks.

[2018-04-23 15:55] rkratky commented on #3170
@debloper Not sure about the reasoning here. This issue reacts to the way it is implemented in prod at this moment, which, IMHO, makes it a bug.

Ad the issue itself: I've run this past a number of people who are not familiar with OSIO. I only told them the following: _"We have scenarios, fundamentals, papercuts, experiences, and value props. Show me where you would look for each of those."_ The a

[2018-04-23 16:00] jfchevrette commented on #3252
@chmouel I had created the space in OSIO and created a new codebase from the VertX quickstart. That it itself worked fine: space was created, repo was created at github and code from quickstart was pushed to the repo.

The issue is that when I went to validate the webhook URL in github I noticed it was marked as failed. Then at the bottom there was a single webhook transaction marked as failed (th

[2018-04-23 16:32] jfchevrette commented on #3240
I've done some troubleshooting on this. The following namespaces/builds are currently exhibiting this issue on starter-us-east-2a

[code]

Upon watching the builds with -ojson or -oyaml, I noticed that only the **resourceVersion** field kept changing. This field is updated whenever openshift updates an object. The number in the above builds is incrementing at at pace of ~60 per second.

I then ran

[2018-04-23 16:32] tuxdna commented on #3182
`effective-pom` plugin uses `plexus-utils` for generating POM XML files

https://github.com/apache/maven-help-plugin/blob/maven-help-plugin-2.2/src/main/java/org/apache/maven/plugins/help/EffectivePomMojo.java#L84

Via the constructor, the first xml tag is printed here:

https://github.com/codehaus-plexus/plexus-utils/blob/plexus-utils-1.5.7/src/main/java/org/codehaus/plexus/util/xml/PrettyPrintXM

[2018-04-23 16:34] jfchevrette commented on #3240
I also see this on the following builds running in starter-us-east-2

[code]

[2018-04-23 16:52] andrewazores opened #3254 ""Features Opt-in" Settings page has duplicated descriptions"
![screenshot_2018-04-23_12-50-18](https://user-images.githubusercontent.com/3787464/39141207-13cd1912-46f5-11e8-8818-bece470cade7.png)

"Experimental" and "Production Only" Features levels probably shouldn't have the same description text.

[2018-04-23 16:52] andrewazores commented on #3254
@chrislessard

[2018-04-23 17:07] bostrt opened #3255 "Application Wizard reports a build config already exists in a brand new space"
I deleted my old space and created a new one (with different name) and when I try to add a codebase, osio reports that a build config is already present. It is not clear what I need to delete or clean up to resolve this and add the codebase to my space.

![screenshot from 2018-04-23 13-04-18](https://user-images.githubusercontent.com/215290/39141932-30526d38-46f7-11e8-9633-31e1d6a7cb74.png)

[2018-04-23 17:09] bostrt opened #3256 "Application Wizard repository name filter should be enabled by default"
There is a blank text box to the left of the filter button that I expected to be the filter text input but it was not click-able:

![screenshot from 2018-04-23 13-08-28](https://user-images.githubusercontent.com/215290/39142011-70929242-46f7-11e8-9b47-94911bcc62d8.png)

However, I have to click the filter button first and then it drops down a second text input.

![screenshot from 2018-04-23 13-03-

[2018-04-23 17:11] ldimaggi commented on #2526
Closing as not reproducible - the upgrade to Che6 seems to have solved this.

[2018-04-23 17:11] #2526 closed

[2018-04-23 17:12] ldimaggi commented on #3176
Closing as duplicate of #2752

[2018-04-23 17:12] #3176 closed

[2018-04-23 17:14] ldimaggi commented on #1790
Related to:  #2752

[2018-04-23 17:17] ldimaggi commented on #2408
Closing as duplicate of #3178

[2018-04-23 17:17] #2408 closed

[2018-04-23 17:25] bostrt opened #3257 "Selecting different Parent path in Project Configuration results in hanging dialog"
I have switched to the NodeJS Project Configuration and also tried changing the Parent path to my project's folder (instead of workspace root). However, when selecting the new path, the dialog hangs indefinitely with a spinner on the Save button:

![screenshot from 2018-04-23 13-20-13](https://user-images.githubusercontent.com/215290/39142818-c2286472-46f9-11e8-80f8-74778ab73bea.png)

[2018-04-23 17:25] catrobson commented on #2912
@Veethika thanks.  Any links for competitor study and analysis, requirements and states captured?

[2018-04-23 17:29] ldimaggi commented on #2427
Closing as not reproducible.

[2018-04-23 17:29] #2427 closed

[2018-04-23 17:37] catrobson commented on #3141
@invincibleJai sorry, missed your update.  I think this will be OK for the summary.  Did we fix this also on the runtimes and missions on the first screen for those cards - I think that is the more serious issue.  By here the user knows this is a scrolling experience.

[2018-04-23 17:42] qodfathr commented on #3064
Likely related: #2191

[2018-04-23 17:46] ebaron opened #3258 "Creating application with new launcher may create 2 build configs"
When using the new launcher experience to create an application by importing an existing codebase, I ended up with 2 new build configs. This seems to be due to the application name (app-test-1) differing from the Maven artifact ID (mynewvertx) in the repository. I believe the former is created by the launcher and the latter is created by Jenkins.

Steps to reproduce:
1. Using new launcher experien

[2018-04-23 17:56] ebaron commented on #3258
This also occurs when selecting "Create a new codebase", where you name the repository something different from the application name. I have updated the issue title to reflect this.

[2018-04-23 17:57] qodfathr commented on #2907
@ldimaggi  I assume if you just keep hitting refresh, the app eventually displays? If yes, please drop to SEV-3.

[2018-04-23 18:06] bostrt opened #3259 "SSH client commands are incomplete"
If I right-click on the `dev-machine` and choose SSH, the commands it suggests are not complete and missing the hostname:

[code]

[2018-04-23 18:08] bostrt commented on #3255
I filed this issue already in #3064. Closing out this one.

[2018-04-23 18:08] #3255 closed

[2018-04-23 18:09] catrobson commented on #3140
@slemeur let's consider this in the future design improvements.  We are interesting in potentially investigating a design change to a hub & spoke model rather than a vertically scrolling page which would remove this completely.  We'll want to test a few new models out to get feedback on what works best before proceeding.  If we have time we'll try to get some clickable wireframes together for thes

[2018-04-23 18:15] joshuawilson opened #3260 "Opt-In goes to wrong page"
With the change of the Feature Flag options page to the settings, the link for Opt-In takes you to the wrong place. It is still going to the profile page.

[2018-04-23 18:16] ldimaggi commented on #2429
Downgrading to SEV3 as this problem has not been seen for at least a week - will close if not seen again.

[2018-04-23 18:45] mindreeper2420 commented on #3012
@Essjaysee I've updated the mega-menu prototype with the Book icon (fa-book), and added it to the menu under the 'My Dashboard/Create new space/View more spaces' section of the top level.

![screen shot 2018-04-23 at 2 44 04 pm](https://user-images.githubusercontent.com/4032718/39146499-ed58c3a2-4704-11e8-9d63-9f17596e1911.png)

[2018-04-23 18:47] mindreeper2420 commented on #3018
The centered navigation prototype has been updated, and is available at the rawgit link.

[2018-04-23 19:06] ldimaggi opened #3261 ""bobross_925" is displayed on user's dashboard"
![screenshot from 2018-04-23 15-02-28](https://user-images.githubusercontent.com/642621/39147494-c0b67a08-4707-11e8-9a27-f5a084ba0b8e.png)

[2018-04-23 19:07] ldimaggi opened #3262 "Non-functional "add collaborator" button displayed on user dashboard"
The "add collaborator" button is missing - clicking on the icon does nothing.

![screenshot from 2018-04-23 15-02-28](https://user-images.githubusercontent.com/642621/39147587-0e46ee24-4708-11e8-97b2-11ec517d0130.png)

[2018-04-23 19:10] ldimaggi opened #3263 "Total of "59" collaborators displayed on user's dashboard - seems to be hardcoded number"
![screenshot from 2018-04-23 15-02-28](https://user-images.githubusercontent.com/642621/39147735-7bf12cd2-4708-11e8-8b93-9f07a05c6c6c.png)

[2018-04-23 19:15] aptmac commented on #3261
From Mattermost #fabric8-ui channel last Friday:

[2018-04-23 19:18] ldimaggi opened #3264 "Promote button on production failing with 404 error"
Steps to recreate:
* Create a new space
* Create a new quickstart, select release/stage/promote for deployment scheme
* Observe build pipeline deploy successfully to stage
* Observe 'input required' button - click on this button and then select promote

In Chrome console/log - observe this error:
[code]

![screenshot from 2018-04-23 15-09-19](https://user-images.githubusercontent.com/642621/391479

[2018-04-23 19:37] andrewazores commented on #2701
@jiekang yea, that makes sense and does seem to work. I'm okay with just PRing that one-liner for now, and then post-Summit we can look at re-examining how we interact with Angular change detection, ngIf, ngFor, etc. and consider a larger refactor for better page performance.

[2018-04-23 19:38] aptmac commented on #3021
What's the reasoning behind using the `action` outlet for these two cases specifically? It just seems kind of peculiar that we have modals and forms that perform 'actions' but aren't using this same routing.

[2018-04-23 19:48] andrewazores commented on #2701
Since I'm here anyway, I'm wondering about the scenarios and how this "Deleting" state appears. As it is now, the card switches to this state immediately after the user confirms the deletion via the modal dialog, and the card remains in this state until a point in the future where the deployment is actually no longer present in the data updates. A notification is also displayed once the request co

[2018-04-23 19:58] jiekang commented on #2701
@andrewazores Good points. I think your suggestions sound good to me.

[2018-04-23 20:37] christianvogt commented on #2955
Tree shaking should have reduced the inclusion of the planner library in several chunks.

Tree shaking with webpack has always been a source of problems. Add typescript to the mix to further complicate the issue. Webpack 4 has addressed a lot of historic issues. Since we are planning to move to angular 5 after summit, we can also upversion webpack at that time. We may want to hold off on investiga

[2018-04-23 22:00] qodfathr commented on #3263
@ldimaggi make sure you are not set to "Internal" on your profile. In general, we should not be reporting bugs against Internal or Experimental. (And please no Internal reports/discussions in public forums.)

[2018-04-23 22:13] joshuawilson commented on #3104
Nice work @aptmac. Very clearly presented.

@michaelkleinhenz can you please make sure this gets reviewed and merged if possible.

[2018-04-23 22:17] qodfathr commented on #3004
I'd recommend reclassifying this as `type/feature-request`. Thoughts?

[2018-04-23 22:25] mindreeper2420 commented on #3016
Screen resolution for test environment will be 1366x768.

[2018-04-23 22:31] joshuawilson commented on #3004
I agree.

[2018-04-23 22:34] joshuawilson commented on #3004
ok, now that I have done that I'm having second thoughts. If the "delete" doesn't delete everything and leaves orphaned children that is a bad thing, right?

[2018-04-23 22:38] mindreeper2420 commented on #3016
**Home Dashboard**
<img width="1357" alt="homedashboard" src="https://user-images.githubusercontent.com/4032718/39156522-85bb02ee-4724-11e8-84e2-86c8a1ffb25a.png">

**Space Dashboard (Analyze tab)**
<img width="1353" alt="spacedashboard" src="https://user-images.githubusercontent.com/4032718/39156563-b40dc1c2-4724-11e8-8b87-bd76c70968e9.png">

**Plan**
<img width="1369" alt="planner" src="https://

[2018-04-23 22:45] mindreeper2420 commented on #3016
I also have the notification drawer added to the prototype. It slides in from the right when you click on the bell icon in the navbar.

<img width="1366" alt="screen shot 2018-04-23 at 6 44 51 pm" src="https://user-images.githubusercontent.com/4032718/39156940-6ecd6ca0-4726-11e8-81fe-ba03d2d6694e.png">

[2018-04-23 22:56] #2963 closed

[2018-04-23 23:28] #3260 closed

[2018-04-24 00:05] #2744 closed

[2018-04-24 02:26] joshuawilson commented on #3263
@mindreeper2420 is this left over from your set up?
@qodfathr should we just close it?

[2018-04-24 02:27] joshuawilson commented on #2955
I agree, this should wait till after we upgrade to webpack 4.

[2018-04-24 02:28] joshuawilson commented on #3261
This is an internal view. Closing as it is still under development.

[2018-04-24 02:28] #3261 closed

[2018-04-24 02:30] mindreeper2420 commented on #3263
@joshuawilson - correct. It is not a bug at this time.

[2018-04-24 02:31] joshuawilson commented on #3262
Internal view, this is still under development.

[2018-04-24 02:31] #3262 closed

[2018-04-24 02:31] #3263 closed

[2018-04-24 02:57] joshuawilson commented on #3251
This looks like a feature request to me. If anyone thinks the original design should do this, please change it to a bug.

[2018-04-24 03:01] joshuawilson commented on #3250
@rkratky can you please confirm that docs don't need updating regarding this?

[2018-04-24 03:02] kishansagathiya opened #3265 "Build urls direct to OSIO homepage"
Build URLs in 'my namespace page' (something like this https://prod-preview.openshift.io/ksagathi-preview/sample) points to OSIO homepage

https://github.com/openshiftio/openshift.io/issues/2744 was closed recently. I saw this happen when I was checking the behaviour after https://github.com/openshiftio/openshift.io/issues/2744 being fixed
This issue is same as https://github.com/openshiftio/opens

[2018-04-24 03:08] dlabrecq commented on #3104
Surprised to see DOM styles modified directly via JavaScript. Setting the body's overflow style should be done via CSS. Possibly by fabric8-ui itself when Planner is displayed? @mindreeper2420

[2018-04-24 03:24] mindreeper2420 commented on #3104
Ideally, Planner specific CSS would have a particular prefix (similar to launcher's use of `f8-launcher`) that would prevent any other aspects of the application from being affected by the types of interactions. This would be preferred over other types of manipulation.

Additionally, there are multiple pieces that appear to 'break' when navigating to other aspects of the site after first visiting

[2018-04-24 03:41] dlabrecq commented on #3251
I don't believe it's just a matter of changing one input field to allow a custom path. The back-end APIs must also support subdirectories. Will have to confirm with @aslakknutsen how the import is performed with the provided GitHub URL. However, I believe the APIs currently expect this to be formatted as a GitHub clone URL, with no subdirectory?

[2018-04-24 03:44] kishansagathiya commented on #3026
@mmatsuya We are not closing it. Just parking it until we are able to reproduce it.

[2018-04-24 03:55] #2746 closed

[2018-04-24 04:01] dlabrecq commented on #3104
To eliminate any CSS bleed into fabric8-ui, I'd like to see the top level Planner components (list, board) use ViewEncapsulation.Emulated. (Alternatively, we could wrap Planner with a component and add ViewEncapsulation.Emulated there?) Unfortunately, that wouldn't prevent Planner from using JavaScript to manipulate the fabric8-ui's body tag.

[2018-04-24 04:01] ldimaggi commented on #3026
I did see a similar issue today: https://github.com/openshiftio/openshift.io/issues/3264

But - it turned out to be non-reproducible.

[2018-04-24 04:13] kishansagathiya commented on #3026
@ldimaggi Could this have something to do with the region we are in? Because some RHD related issues which I (India) face are not seen by people in Australia.

[2018-04-24 04:32] joshuawilson commented on #3265
I'm unsure what link you are clicking on. Can you please post a screen shot with the link circled?

[2018-04-24 04:32] #2786 closed

[2018-04-24 04:54] eivantsov commented on #3259
SSH agent should be somehow removed on OpenShift infra as OpenShift routes do not support ssh protocol, even if one manages to run sshd without sudo on a non privileged port.

^^ @slemeur @bmicklea

[2018-04-24 04:55] eivantsov commented on #3259
Upstream issue https://github.com/eclipse/che/issues/9488

[2018-04-24 05:10] #3144 closed

[2018-04-24 05:32] gastaldi commented on #3235
@animuk production was updated. Please retest

[2018-04-24 05:40] invincibleJai commented on #2837
@miteshvp changes suggested by you are in prod, am closing it. Please reopen if you still see it.

[2018-04-24 05:40] #2837 closed

[2018-04-24 05:44] kishansagathiya commented on #3265
![screenshot from 2018-04-24 11-13-30](https://user-images.githubusercontent.com/10185999/39168203-970df9a2-47b0-11e8-8d06-6f2c25fbc2af.png)
@joshuawilson The link is selected

[2018-04-24 05:44] joshuawilson commented on #3235
@animuk please do NOT assign issues to people unless they are actively working it. If you want to get someones attention, please use @ mentions in the comments.

[2018-04-24 05:47] joshuawilson commented on #3265
Clicking that link takes me to OpenShift Online. Can you try it in incognito, it might be a cache issue.
(note: incognito is only used to test for a cache issue, not regular daily use)

[2018-04-24 05:53] Raunak1203 commented on #2823
linked to https://github.com/fabric8-ui/fabric8-planner/issues/2575

[2018-04-24 05:55] Raunak1203 commented on #3215
working now

[2018-04-24 05:55] #3215 closed

[2018-04-24 06:04] chmouel opened #3266 "openshift jenkins-sync-plugin is generating too much noise"
This is to followup on this issue #3240

Openshift sync plugin is simply generating a humongous amount of data in a very stupid way. From what was observed it tries to synchronise the Jenkins jobs with OpenShift plugin by simply writing again and again without looking if there was previous changes.

This stress the system pretty badly and generate load on the system exponentially to the number of

[2018-04-24 06:09] debloper commented on #3170
@rkratky please don't shoot the messenger - I personally think the group-names on the left-pane should change as well to capture as the umbrella for all that it contains.

My point being, whether the names would/should be changed or what they'd become will need a planning first. Calling it bug means it doesn't behave the way it's meant to. But according to the last decision made (with UX approval)

[2018-04-24 06:18] kishansagathiya opened #3267 "Don't show anything in my namespace if I am not logged in"
![screenshot from 2018-04-24 11-46-20](https://user-images.githubusercontent.com/10185999/39169388-3c066e0e-47b5-11e8-8844-295e5e96df22.png)
@joshuawilson Went directly to https://prod-preview.openshift.io/ksagathi-preview/sample in incognito and found this.
Is this a bug? Or is it by design?

[2018-04-24 06:26] #3221 closed

[2018-04-24 06:26] chmouel commented on #3252
@jfchevrette ok thanks for the detailled report, this should be potentially easy to fix with a loop to try multiple times to get the coderepo info, but is there a way to test this behaviour (i.e: functionally)

[2018-04-24 06:27] animuk commented on #3049
As not able to reproduce, closing this atm

[2018-04-24 06:27] #3049 closed

[2018-04-24 06:28] rgarg1 commented on #3236
@ia3andy The issue is fixed in prod-preview. Closing this.

[2018-04-24 06:28] #3236 closed

[2018-04-24 06:29] chmouel commented on #3240
as identified this is caused by the sync plugin  generating that bogus behaviour, i have create a new issue here to track this down and closing this. #3266

[2018-04-24 06:29] #3240 closed

[2018-04-24 06:32] SMahil commented on #3104
@aptmac This was done because of planner previous design where quick add was at bottom. Now its good to handle this via css. https://github.com/fabric8-ui/fabric8-planner/pull/2577 This PR fixes platform but not planner. I will raise the PR for planner

[2018-04-24 06:32] animuk commented on #2944
@jyasveer can u please check this ?

[2018-04-24 06:36] kwk commented on #3148
@debloper @maxandersen can you please see if the issue is fixed now? @baijum had worked on it.

[2018-04-24 06:37] rgarg1 commented on #2953
Assigned to @sahil143 as the original issue (https://github.com/openshiftio/openshift.io/issues/2285) is assigned to him too.

[2018-04-24 06:56] rgarg1 commented on #2948
@nickboldt I was able to reproduce the issue where the modal auto-closes, but I cannot add a workitem without being a collaborator or space owner. The backend API throws a permission denied error when I try to do that, which is expected. What am I missing?

[2018-04-24 07:00] rgarg1 commented on #3217
Cc @joshuawilson

[2018-04-24 07:01] animuk opened #3268 "App Wizard defects Resolution"
To improve quality aspects of the getting started experience, We will focus around the defects raised and its resolution to prioritize.
1. App Wizard UI defects
2. App Wizard backend functionality defects
3. App Wizard integration defects

**Tasks**

- [ ] - Fixing defects depending on severity.

[2018-04-24 07:11] debloper commented on #3148
Presently don't have access to `prod-preview`. It will help if anyone can provide a link to a Space/WI on `prod-preview` so that I can verify it without having to log in.

[2018-04-24 07:15] corinnekrych commented on #3029
@nimishamukherjee I think this is a duplicate of https://github.com/openshiftio/openshift.io/issues/2339

[2018-04-24 07:27] baijum commented on #3148
This was the fix: https://github.com/fabric8-services/fabric8-wit/pull/2009

[2018-04-24 07:30] rgarg1 opened #3269 "Tenant cannot reset environment if there are many spaces to scroll down"
_Fedore+Chrome_
The button to reset environment cannot be reached if the user has many spaces. On the reset env page, vertical scrolling doesn't work and the button at the bottom of the page cannot be reached.

See here:

![cant scroll reset env page](https://user-images.githubusercontent.com/28748448/39172435-5af26c5a-47bf-11e8-9bf3-abbb183f8665.png)

[2018-04-24 07:32] lordofthejars commented on #3056
I have tried to reproduce this issue under different circumstances and I have not been able to reproduce this issue, in all cases the built has been promoted and deployed correctly.

PRobably the porblem is related to some load problem. Also I think that this problem is a duplicated of https://github.com/openshiftio/openshift.io/issues/3026

What I have noticed while executing this issue is gettin

[2018-04-24 07:33] lordofthejars commented on #3026
In my case I have been able to reproduce it. Or at least it happens to me always.

[2018-04-24 07:35] kwk commented on #3148
Closing because two people have verified the fix is working.

[2018-04-24 07:35] #3148 closed

[2018-04-24 07:43] rkratky commented on #3250
@joshuawilson Docs have been updated accordingly when the getting started page was removed.

[2018-04-24 07:44] rkratky commented on #3170
@debloper Understood, thanks for the clarification.

[2018-04-24 07:59] ppitonak opened #3270 "Arrow in What's new doesn't do anything"
1. open dashboard
2. click on arrow next to the text "What's New?"

result:
* nothing happens

![osio_whats_new_1](https://user-images.githubusercontent.com/445100/39173848-2e246f8e-47a6-11e8-81ae-8812ed008efd.png)

[2018-04-24 08:01] sbose78 commented on #3112
The username returned to OpenShift.io by Red Hat Developers ( via the registration-app ) is `rhn-support-mgoodwin` ( this is what is reflected in OSIO keycloak ). Hence, in OpenShift.io's knowledge your username is `rhn-support-mgoodwin` and we don't support changing that.

[2018-04-24 08:01] ppitonak opened #3271 "'No thanks' link in What's new doesn't do anything"
1. open dashboard
2. click 'No thanks' link in What's New? section

result:
* nothing happens

![osio_whats_new_1](https://user-images.githubusercontent.com/445100/39173930-6552352c-47a6-11e8-85e1-c3f69f845fb9.png)

[2018-04-24 08:03] pbergene commented on #3250
Ah! Good to know :)

I never got to the point of linking github as my first step was to check what accounts were linked.  Makes sense.

[2018-04-24 08:03] ppitonak opened #3272 "Learn more button in What's opens general docs page"
1. go to dashboard
2. click "Learn more" button in What's New? section

result:
* page https://docs.openshift.io/ is loaded
* user won't find any information about new feature on this page
* it should point to the page/section of docs describing the feature

![osio_whats_new_1](https://user-images.githubusercontent.com/445100/39174023-c2455386-47a6-11e8-81c6-0b5e03593a0c.png)

[2018-04-24 08:04] sbose78 commented on #3112
@aslakknutsen , any way to check if the tenant namespaces were not created https://auth.openshift.io/api/users/5bb67c14-90b7-4552-9761-e24f0b15a67e ?

[2018-04-24 08:12] ppitonak commented on #2285
@qodfathr could this issue qualify for sev-2/p0?

[2018-04-24 08:20] ppitonak opened #3273 "New launcher not rendered correctly in Firefox"
1. open space dashboard in Firefox 59
2. click "Create an Application"
3. click "Try our new Getting Started experience"
4. choose some name and click "Create a new codebase", click Continue

result:
* page is not rendered correctly
*

![osio_new_launcher](https://user-images.githubusercontent.com/445100/39174799-f4396d44-47a8-11e8-9c74-0eb4426f3134.png)

[2018-04-24 08:25] chmouel opened #3274 "Handle long running Jenkins builds"
Following discussion on #2352

We currently don't have any timeout on Jenkins, we would have hope the `completionDeadlineSeconds` seconds would work but that's not supported on openshift for jenkins build. I have logged a feature request here :

https://github.com/openshift/origin/issues/19481

but in the meantime we need to try to figure out an alternative to this since this would take some time

[2018-04-24 08:28] rohanKanojia commented on #3058
@apupier : Although looking at code it doesn't seem like a build issue, as pointed out by Jaseem. The error we get over here in fabric8 maven plugin(i.e `Unable to build the image using the OpenShift build service`) seems to be coming during the openshift s2i build here:

https://github.com/fabric8io/fabric8-maven-plugin/blob/03ecb4bd630cdd82133ad8916066240aa9055cba/core/src/main/java/io/fabric8/m

[2018-04-24 08:28] goodwinos commented on #3112
Hi all, regarding my username - yes it seems OSIO wants to use rhn-support-mgoodwin despite me logging in as mgoodwin@redhat.com (I also tried logging in as rhn-support-mgoodwin) - both get the same result.
There doesn't seem to be any way for me to deprecate rhn-support-mgoodwin and this seems to be related to the issue at heart. The GH repo for the project gets created correctly, but the tenant

[2018-04-24 08:31] ppitonak opened #3275 "Launcher: Select mission and runtime section too big"
1. open space dashboard in Firefox 59
2. click "Create an Application"
3. click "Try our new Getting Started experience"
4. choose some name and click "Create a new codebase", click Continue

result:
* section with "Choose a mission" and "Choose a runtime" is too big (too high)

![osio_choose_mission](https://user-images.githubusercontent.com/445100/39175429-91e58018-47aa-11e8-9df4-e4d1e968f229.pn

[2018-04-24 08:33] #3104 closed

[2018-04-24 08:35] apupier commented on #3058
I think that this is an intermittent failure as several other people were able to handle it during "click party".

[2018-04-24 08:36] ppitonak opened #3276 "Launcher: chevron button doesn't work in Firefox"
1. open space dashboard in Firefox 59
2. click "Create an Application"
3. click "Try our new Getting Started experience"
4. choose some name and click "Create a new codebase", click Continue
5. scroll a bit and click blue round icon with down chevron in it

result:
* "Select pipeline" is highlighted in left navigation menu but the page doesn't scroll to the correct section
* click it again and "Au

[2018-04-24 08:48] sahil143 commented on #2995
Not Duplicate of #2567

[2018-04-24 08:49] ppitonak opened #3277 "Space dashboard: multiple icons not clickable"
1. create new space
2. create new project
3. wait for a pipeline to start

result:
* pipeline shows up in space dashboard but there are 4 icons that are not clickable

![osio_new_dashboard_pipeline2](https://user-images.githubusercontent.com/445100/39176449-26810db2-47ad-11e8-92b3-bbe1152533a7.png)

[2018-04-24 08:51] ppitonak opened #3278 "Space dashboard: scroller always visible"
1. create new space
2. create new project
3. wait for a pipeline to start

result:
* scroller is visible even though all data can easily fit in page

![osio_new_dashboard_pipeline3](https://user-images.githubusercontent.com/445100/39176558-63e4a57e-47ad-11e8-9377-04efbdc4cb46.png)

[2018-04-24 08:52] humaton commented on #3233
The latest master build should have a correct version of origin-clients and this issue should be resolved.

[2018-04-24 08:52] humaton commented on #3233
@msrb can you please verify and close if that is the case?

[2018-04-24 08:53] rootAvish opened #3279 "Mockup for automated git commit messages concept"
## Description

The analytics team would like to do a spike around creating a smarter git commit message workflow where we auto-generate git commit message for users based on JavaDoc/code comments and basic code understanding. As a first step towards it the task here is to create mockups for the same which are required by the PM to visualize the workflow.

Link to value proposition in planner: htt

[2018-04-24 08:57] ljelinkova opened #3280 "Failed login"
I am having trouble logging in - I am getting An internal server error. Also, the loading of login page is very slow. Note that it does not happen every time, but quite often in the last hour.

![failed-login](https://user-images.githubusercontent.com/2078072/39176800-ffef62f6-47ad-11e8-91b7-5e3f50126989.png)

[2018-04-24 09:08] sbose78 commented on #3112
@goodwinos Which namespaces do you see when you login to https://console.starter-us-east-2.openshift.com/console/ ?

[2018-04-24 09:15] rkratky commented on #3248
I updated the wiki page.

@qodfathr On a related note, should the docs team assume responsibility over this wiki? I now see other pages need updates, too -- so I guess we should pay ore attention to it.

[2018-04-24 09:15] #3248 closed

[2018-04-24 10:39] sunilk747 commented on #2391
@containscafeine Can you please repeat the above steps with the new wizard flow.

[2018-04-24 10:42] sunilk747 commented on #2712
This legacy issue is not present anymore. We have solved this by re-engineering the new launcher experience flow.
cc @animuk

[2018-04-24 10:42] #2712 closed

[2018-04-24 10:42] rgarg1 commented on #3074
I was able to reproduce the hung planner issue. Steps I took:

1) Go to Planner list view and ensure that you've got a few work items and data to load
2) Now go to the Board view tab and create a new work item
3) Drag and drop that workitem to another column
4) return to list view and you should see the hang. If not, repeat steps 1 through 4

![planner hung](https://user-images.githubusercontent.c

[2018-04-24 10:44] sunilk747 commented on #2391
This legacy issue is not present anymore. We have solved this by re-engineering the new launcher experience flow.
cc @animuk

[2018-04-24 10:44] #2391 closed

[2018-04-24 10:45] ravsa opened #3281 "duplicate pipelines (if the reponame and projectname is same)"
I created an app in new launcher flow and used same application name as github repo name in the organization `loop-org`.
It produced two builds one with the application name and another one with `organizaion.applicationName`
![duplicate](https://user-images.githubusercontent.com/11839674/39181954-de0a817c-47d8-11e8-8aba-92f4a8918964.png)

[2018-04-24 10:53] animuk opened #3282 "[8]Support Nodejs Booster in Launcher Flow"
OSIO Users should be able able to select NodeJS boosters as a part of launcher flow and proceed with creating the project out of it.

Acceptance Criteria

-  OSIO Users should able to select NodeJS as a runtime for the boosters available in the launcher flow.
- OSIO Users can proceed in the launcher flow till completion of the project setup with the selected NodeJS Booster.
- Websocket event updat

[2018-04-24 10:55] animuk opened #3283 "Support NodeJS Booster within dependency Editor"
OSIO Users should be able able to select projected dependencies for NodeJS boosters in the dependency editor as a part of launcher flow and proceed with creating the project out of it.

Acceptance Criteria

-  OSIO Users should able to see the suggested dependencies and security insights in the dependency editor for nodeJS runtimes.

Out of Scope: - N/A

[2018-04-24 11:08] sunilk747 commented on #2902
This legacy issue is not present anymore. We have solved this by re-engineering the new launcher experience flow. Please refer the attached image for reference.
![screenshot from 2018-04-24 16-33-47](https://user-images.githubusercontent.com/7105965/39183499-d7a5650e-47dd-11e8-9a1e-330acdee8b62.png)

cc @animuk

[2018-04-24 11:08] #2902 closed

[2018-04-24 11:09] animuk opened #3284 "[5] UI - Leverage Dependency Editor to support Blank Boosters"
#### User Story:https://openshift.io/openshiftio/openshiftio/plan/detail/2113
When OSIO User chooses runtime for the blank mission booster, Dependency editor will use that context to provide relevant dependencies to start with.

**Acceptance:**

- OSIO Users should able to see the relevant dependencies in the dependency editor.
- OSIO Users can add all or some of the recommended dependencies for b

[2018-04-24 11:09] rohanKanojia commented on #3023
Duplicate of #3058

[2018-04-24 11:10] tuxdna commented on #3182
I tried setting different versions of JAR files in `/usr/share/java/maven` and `/usr/share/java/plexus/` but this ended up in all different kinds of issues with missing methods and so on. So to figure out which versions will work is a no go.

Instead we can workaround by removing the extra xml tag in our code, rather than depending on updates to Maven in yum repo.

[2018-04-24 11:11] lordofthejars commented on #3027
I have tried to reproduce this issue under different circumstances and I have not been able to reproduce this issue, in all cases the built has been promoted and deployed correctly.

Probably the problem is related to some load problem. Also I think that this problem is a duplicated of #3026

cc/ @pradeepto @krishnapaparaju

[2018-04-24 11:12] tisnik commented on #3237
1st part is implemented here:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/530

[2018-04-24 11:14] arunkumars08 opened #3285 "Launcher flow needs to toggle based on feature flag selections"
Currently, we have the legacy launcher wizard and a link for the new launcher flow appears (provided the feature flag levels are enabled and met)

The change required here is to have the new launcher flow independent of legacy flow.
(i.e Whenever the feature flag is enabled and met, new launcher flow has to totally replace the legacy wizard flow wherever applicable)

- [x] - Handle feature toggle

[2018-04-24 11:15] animuk opened #3286 "[8]Support Blank Booster in build pipeline"
#### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2232
As an openshift.io user, He should able to build blank mission booster in the pipeline build.

**Acceptance:**
- Once OSIO Users setup app new application/import Blank Boosters in the launcher flow, all the pipeline stages should start like the existing boosters -
**Build Release** --> **Rollout To Stage** --> **Approve

[2018-04-24 11:17] kishansagathiya commented on #3027
@pradeepto @lordofthejars This issue exactly same as https://github.com/openshiftio/openshift.io/issues/3026
Look at https://github.com/openshiftio/openshift.io/issues/3026#issuecomment-383790928
We should close this one, since the other one has more visibility

[2018-04-24 11:33] kishansagathiya commented on #2534
https://github.com/openshiftio/openshift.io/issues/2534#issuecomment-376564075 was seen while we moves prod-preview accounts to username-preview. Apart from that this is duplicate of https://github.com/openshiftio/openshift.io/issues/3026. This should be close since the other one has more info and visibility.

[2018-04-24 11:44] kishansagathiya commented on #2333
Behaviour described in https://github.com/openshiftio/openshift.io/issues/2333#issuecomment-375656028 is same as described in https://github.com/openshiftio/openshift.io/issues/2744, which is recently fixed and closed.

While getting 404 is concerned, the issue is mostly obsolete since it wasn't reproduced.
@joshuawilson Is this issue still relevant or should be closed?

[2018-04-24 12:00] corinnekrych commented on #3150
@catrobson the features (enableByEmail) will be retrieved from the backend API call from fabric8-toggles-service but atm will not be displayed in the UI FAB button as they do not match any "level". It's either you use the enableByLevel strategy or the enabeByEmail.
Note that the anableByEmail was created for WIP feature. so it might just be ok not to have them displayed int he FAB button.
cc @xcou

[2018-04-24 12:03] rohanKanojia commented on #2833
Hi @animuk, you can track this `SocketTimeoutException` issue on #3058 . That being said I strongly feel that it's not related to fmp. Although I'm trying to reproduce it and see if I get that stack trace.

[2018-04-24 12:15] kishansagathiya commented on #1028
This is UI/UX related and not build related. Build team at the moment doesnt take care of UI.
@joshuawilson @pradeepto We should remove `team/build-cd` tag from this

[2018-04-24 12:15] #3281 closed

[2018-04-24 12:17] maxandersen commented on #3021
platform and planner team was supposed to look into it - the most documented we have is https://docs.google.com/spreadsheets/u/1/d/1cNSDuek0v1EBPpdPlFwG_Y_yOlux86m9MYf9UrF82l4/edit?usp=drive_web&ouid=103249841199145518066 but we already know that is being broken.

[2018-04-24 12:24] kishansagathiya commented on #1626
If I go to the upstream issue, it is created 35 minutes ago from now on (weird! How?)
@rupalibehera Do we know how frequent is this issue?

[2018-04-24 12:29] animuk commented on #3141
can we consider adding the "setup application" button on the top right hand portion of the above screen? then user can easily find the button and proceed. @invincibleJai @catrobson @slemeur

[2018-04-24 12:33] chmouel commented on #1028
@kishansagathiya let's be clear, build team cares about Ui it just we don't have resources for it at the moment, we should not remove this tag and find a way if we can find someone who can help us on this instead,

[2018-04-24 12:34] Veethika commented on #2912
@sunilmalagi @muruGanesan @catrobson here is the InVision link: https://redhat.invisionapp.com/share/CEHEDZGXNZJ
The screenshots from various apps do not follow the same pattern because each one of them have provided the choice of process in a different manner.

[2018-04-24 12:36] jiekang commented on #3265
The workaround PR https://github.com/fabric8-ui/fabric8-ui/pull/2759 only fixes the pipelines page. The race will still occur on the pipelines widget and the recent pipelines widget. I will write a workaround that shares code for that and use this issue to track.

[2018-04-24 12:38] bmicklea commented on #3274
Removing the P0 label because this seems to make our resource utilization inefficient (and therefore costs higher) but won't negatively impact user experience.

[2018-04-24 12:38] rupalibehera commented on #113
This issue is not reproducible now, and this was fixed long back https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/resources/jenkins-job-template.xml#L37,
The pipeline only kicks for master and PR builds

[2018-04-24 12:39] bmicklea commented on #3274
@chmouel if you or others disagree please let me know what the user impact is.

[2018-04-24 12:40] bmicklea commented on #3266
Is this the sync plugin from DevStudio?  Or something else?

[2018-04-24 12:41] piyush1594 commented on #3266
FYI Issue and related repo https://github.com/fabric8io/jenkins-sync-plugin/issues/19

[2018-04-24 12:41] rupalibehera commented on #113
I am closing this issue now as it is not reproducible, please open it again if required.

[2018-04-24 12:41] #113 closed

[2018-04-24 12:42] chmouel commented on #3266
updated the title,

[2018-04-24 12:44] chmouel commented on #3274
I believe this was reported by the SD team, i 'll let them decide if it's a P0 or not /cc @kbsingh

[2018-04-24 12:45] #2865 closed

[2018-04-24 12:46] msrb opened #3287 "Unable to deploy Jobs service"
# Description

E2E tests fail for Jobs service because deployment via saas-herder fails with following error:

[code]

CI logs: https://ci.centos.org/job/devtools-f8a-master-deploy-e2e-test/1044/console

[2018-04-24 12:48] msrb commented on #3287
Not sure if this is a problem on our side. It could be a bug in [saas-herder](https://github.com/openshiftio/saasherder) or something has changed in new OpenShift.

[2018-04-24 12:55] joshuawilson commented on #3258
What severity would you set this to?

[2018-04-24 12:57] pradeepto commented on #1028
Agreed with @chmouel I will work on finding someone who can help us with that.

[2018-04-24 13:08] joshuawilson commented on #1028
@chmouel Can you confirm that there will be no "integration test" stage? If so, then this is an issue for the Launcher/Wizard team.

@qodfathr As the current app-wizard is deprecated and not being worked on, I'm going to reduce this to a SEV3 and remove the P0. If you disagree, please reset it.

[2018-04-24 13:09] rupalibehera commented on #1028
If we do not run any integration tests and this is the issue with the launcher team to look in to , as we need to remove the "Integration Tests" from the wizard.

[2018-04-24 13:11] rupalibehera commented on #1028
@joshuawilson , there is no stage for integration tests.

[2018-04-24 13:14] rupalibehera commented on #1626
@kishansagathiya , I have never seen this issue we need to check if we could reproduce this one

[2018-04-24 13:15] sdash-redhat commented on #3209
Created first draft of concept (v2.1.1)  on actions and shared for review scheduled for this evening. 'My Actions' section focusing only on Deployment of builds and canary builds strategy flow. This is reflected in slides  #126 till #160.

The following files are shared as well as Invision links.
HDD – Experiment+Hypothesis+Actions+Metrics+UOM-ConceptDraft - 2.1.1- 19 Apr 2018.pdf
HDD – Experiment

[2018-04-24 13:16] joshuawilson commented on #1028
Then this is just an app-wizard issue.

[2018-04-24 13:16] dlabrecq commented on #3021
The action outlets is more useful for something like add-to-space and add-work-item so that task can be performed from any screen. At one time, we were also adding codebases from the home page? However, if the modal is only displayed on one page, then action outlets isn't necessary. The modal can be opened directly or with a broadcast event.

[2018-04-24 13:18] rupalibehera commented on #1664
This issue is related to GKE , safe to close as every team is moving or moved to cico for CI builds

cc: @pradeepto

[2018-04-24 13:24] chmouel commented on #3266
The proper way and would be long term is openshift but we should come up with a workaround (which should be doable)

[2018-04-24 13:32] joshuawilson commented on #2333
If this is reproducible, please reopen with steps needed.

[2018-04-24 13:32] #2333 closed

[2018-04-24 13:33] rupalibehera commented on #1790
@ldimaggi , are you able to reproduce this issue now also, I am not able to reproduce it now.

[2018-04-24 13:36] rupalibehera commented on #1913
We need to check this issue, include in the sprint.
cc: @pradeepto

[2018-04-24 13:39] rupalibehera commented on #2193
@sthaha @hrishin , I think we solved this one like a month back ?

[2018-04-24 13:42] stooke opened #3288 "deployments - rework DeleteDeployments error handling"
@xcoulon raised a concern that the delete deployment code gives up too early; if a deployment, for example has a config but perhaps no routes or no services, it's possible that the deployment config won't get deleted because the code is never reached.

This issue tracks the rework to make the code more resilient.

An aside: If a deployment is partially constructed, then the construction code shoul

[2018-04-24 13:47] joshuawilson commented on #3026
@lordofthejars can you try in Released mode in incognito to make sure it isn't a cache issue.

[2018-04-24 13:50] joshuawilson commented on #3217
This is under the Internal Feature flag (under development and should not be reported on). Closing.

[2018-04-24 13:50] #3217 closed

[2018-04-24 13:50] rohanKanojia commented on #3034
Possible duplicate of #3026

[2018-04-24 13:53] joshuawilson commented on #3267
This is by design. It should act like github. You can view my profile and my projects on github.

[2018-04-24 13:53] #3267 closed

[2018-04-24 13:55] piyush1594 commented on #3095
@ravsa @gastaldi Is build team need to do something for this.

[2018-04-24 13:58] xcoulon commented on #2928
See also https://github.com/openshiftio/openshift.io/issues/3288 for errors related to the following kind of message:
[code]

[2018-04-24 14:05] joshuawilson commented on #2825
This has started working again, magically.
This also should not be a P0 as the user never sees this.

[2018-04-24 14:08] joshuawilson commented on #2339
How do we reproduce this? I have not seen this in months. I'm going to downgrade it to a SEV3 unless someone can provide repeatable steps to get to this condition.

[2018-04-24 14:11] joshuawilson commented on #2629
What is the status of this?

[2018-04-24 14:12] rohanKanojia commented on #2384
linked to #2729

[2018-04-24 14:12] ldimaggi commented on #1790
This specific issue is not being seen - #2752 is a current issue. Closing.

[2018-04-24 14:12] #1790 closed

[2018-04-24 14:13] piyush1594 commented on #2825
The release of Fabric8 Kubernetes Model is still facing the issue. Reopening it.

[2018-04-24 14:14] ebaron commented on #3258
I think SEV-2, since although the build eventually occurs in the expected build config (named after the application), you first have to manually approve builds in the other build config (named after the artifact ID). Since the pipelines view doesn't know about this other build config, you wouldn't know about it unless you visited the OSO web console.

[2018-04-24 14:14] lordofthejars commented on #3026
@joshuawilson I tried in incognito window (Chrome) + Production Features and it worked to me perfectly.

[2018-04-24 14:15] msrb opened #3289 "Update f8a deployment docs"
# Description

f8a deployment [README](https://github.com/fabric8-analytics/fabric8-analytics-deployment/#developing-fabric8-analytics) seems to be outdated. We should go through it once and update it.

[2018-04-24 14:15] rohanKanojia commented on #2193
@rupalibehera : Could you please link the pr that fixed this issue here? If it is resolved, I think we can close this issue.

[2018-04-24 14:17] joshuawilson commented on #2825
I didn't know we had Fabric8 Kubernetes Model auto releasing to fabric8-ui.

[2018-04-24 14:18] piyush1594 commented on #2825
Here is the link to the job I just started after your comment @joshuawilson https://jenkins.cd.test.fabric8.io/job/fabric8io/job/kubernetes-model/job/master/20/console

[2018-04-24 14:25] ibuziuk commented on #2063
@ScrewTSW @rhopp is it still reproducible for che 6 ?

[2018-04-24 14:31] surajssd opened #3290 "going to deployments page logs you out"
In a clean environment (which is reset from the update profile page), I created a sample project whose builds were still in progress:
![1](https://user-images.githubusercontent.com/5815795/39193679-c0de0daa-47f9-11e8-8618-a2af988b2796.png)

Then you can see builds in progress here
![2](https://user-images.githubusercontent.com/5815795/39193712-d3747b2a-47f9-11e8-91e0-907e17d5c3b6.png)

from there

[2018-04-24 14:33] ppitonak opened #3291 "Space dashboard: applications section shows Loading"
1. create a space
2. create a new project
3. go to space dashboard

result:
* bottom-right section called "Applications" shows "Loading..." for long time (indefinitely?)

![osio_apps_loading](https://user-images.githubusercontent.com/445100/39194053-214feff4-47dd-11e8-8860-efcbc54fd723.png)

[2018-04-24 14:39] rohanKanojia commented on #2193
I think we fixed it recently in #2505
cc @rupalibehera @sthaha

[2018-04-24 14:41] jiekang commented on #3290
@surajssd can you provide network request images. I'd like to see which part actually failed.

[2018-04-24 14:46] surajssd commented on #3290
The error that I got on the dashboard one was:

[code]

@jiekang on it!

[2018-04-24 14:47] rohanKanojia commented on #3027
duplicate of #3026

[2018-04-24 14:48] lordofthejars commented on #3252
@chmouel Right I will implement some retry loop with 1 seconds sleep and iterate 15 times before raising the exception. I can work on that.

[2018-04-24 14:51] lordofthejars commented on #945
I am not sure if we can do much more for this now. We improved a bit the starting time by reducing the number of starting plugins, but maybe this should be something to be addressed for Build.Next?

[2018-04-24 14:52] jiekang commented on #3290
I just realized this is in production since WIT was updated there as well. The requests for deployments related info are actually getting 401's.

[2018-04-24 14:55] piyush1594 commented on #2527
I tried to reproduce this and I am also facing the issue

Jenkins Log
[code]

[2018-04-24 14:55] surajssd commented on #3290
following are scrolled down snapshots of what you want, you might wanna open image in new tab to look closer

![screenshot from 2018-04-24 20-22-57](https://user-images.githubusercontent.com/5815795/39195433-769a2e5a-47fd-11e8-9d36-b32724ebf8e8.png)
![screenshot from 2018-04-24 20-23-26](https://user-images.githubusercontent.com/5815795/39195434-76fbbc2e-47fd-11e8-94d7-634de15059a8.png)
![screensh

[2018-04-24 15:04] ldimaggi commented on #2426
I have not seen this bug recently and am in favor of closing this bug in favor of keeping the focus on this newer/related bug:  https://github.com/openshiftio/openshift.io/issues/3178

[2018-04-24 15:04] #2426 closed

[2018-04-24 15:10] piyush1594 commented on #2232
This seems like an intermittent issue, it occurs but not always, for me, it took 4-5 minutes and sometimes 2 minutes and sometimes immediately started in few seconds.

[2018-04-24 15:13] jiekang commented on #3290
Thanks.

It looks it's intended behavior to log out if there is a 401 response. This isn't handled by the Deployments page.

The WIT API should not be returning 401. @stooke will be working on this.

[2018-04-24 15:15] catrobson commented on #2629
@joshuawilson I think we need feedback from engineering on the link Michael shared above to make sure our design covers the situations needed.  If so, this could move into UI development.

[2018-04-24 15:16] mindreeper2420 commented on #3017
Here is the notification drawer screenshot:
![notification-drawer](https://user-images.githubusercontent.com/4032718/39196795-fef5c5cc-47b0-11e8-9dcc-abf01e3e573c.png)

[2018-04-24 15:17] mindreeper2420 commented on #3017
Notification drawer has been added to the mega menu:
<img width="1366" alt="screen shot 2018-04-23 at 6 44 51 pm" src="https://user-images.githubusercontent.com/4032718/39196814-0b25c518-47b1-11e8-95ee-d5536ee18974.png">

[2018-04-24 15:25] ibuziuk commented on #2856
@rhopp @ldimaggi do we happen to have some integration tests for reproducing this problem on che 6 ?

The upstream issue says:

I believe if it's not reproducible against che 6 label should be changed to SEV3 and P0 should be removed. WDYT ?

[2018-04-24 15:26] riuvshin commented on #3232
@ibuziuk ` us-east-2a, 1a, 1b = gluster.  us-east-2 (the original) = ebs.  `

[2018-04-24 15:29] lordofthejars commented on #2232
I am not sure if we can do much more for this now. We improved a bit the starting time, but maybe this should be something to be addressed for Build.Next?

[2018-04-24 15:35] mindreeper2420 commented on #3017
Notification drawer added to the centernav:
<img width="1292" alt="screen shot 2018-04-24 at 11 34 52 am" src="https://user-images.githubusercontent.com/4032718/39197846-91701b3a-47b3-11e8-8cff-6d6b540855fe.png">

[2018-04-24 15:38] mindreeper2420 commented on #3012
The centered nav uses just a link for Documentation:

<img width="327" alt="screen shot 2018-04-24 at 11 37 50 am" src="https://user-images.githubusercontent.com/4032718/39198003-fbb4a150-47b3-11e8-9c6f-d7f20854a311.png">

[2018-04-24 15:39] mindreeper2420 commented on #3010
The icon for "View All Spaces" is `fa-th` (https://fontawesome.com/v4.7.0/icon/th/).

The icon for individual Spaces is `fa-th-large` (https://fontawesome.com/v4.7.0/icon/th-large/).

[2018-04-24 15:50] ldimaggi commented on #3120
The major point I wanted to make is that the quickstarts' README files are still important. Simply selecting 'run' may or may not work - based on the nature of the quickstart. This is especially true when running a quickstart in a terminal window in Che.

[2018-04-24 15:59] ldimaggi commented on #402
I recommend closing this issue in favor of the quickstart/documentation issue logged here: https://github.com/openshiftio/openshift.io/issues/3120

Also - there are more recent (April 2018) quickstart issues that supercede this issue.

[2018-04-24 15:59] #402 closed

[2018-04-24 16:00] ldimaggi commented on #403
I recommend closing this issue in favor of the quickstart/documentation issue logged here: https://github.com/openshiftio/openshift.io/issues/3120

Also - there are more recent (April 2018) quickstart issues that supercede this issue.

[2018-04-24 16:00] #403 closed

[2018-04-24 16:00] ldimaggi commented on #404
I recommend closing this issue in favor of the quickstart/documentation issue logged here: https://github.com/openshiftio/openshift.io/issues/3120

Also - there are more recent (April 2018) quickstart issues that supercede this issue.

[2018-04-24 16:00] #404 closed

[2018-04-24 16:00] ldimaggi commented on #406
I recommend closing this issue in favor of the quickstart/documentation issue logged here: https://github.com/openshiftio/openshift.io/issues/3120

Also - there are more recent (April 2018) quickstart issues that supercede this issue.

[2018-04-24 16:00] #406 closed

[2018-04-24 16:01] ldimaggi commented on #408
I recommend closing this issue in favor of the quickstart/documentation issue logged here: https://github.com/openshiftio/openshift.io/issues/3120

Also - there are more recent (April 2018) quickstart issues that supercede this issue.

[2018-04-24 16:01] #408 closed

[2018-04-24 16:03] alexeykazakov commented on #3112
Just for clarification. @goodwinos your username is rhn-support-mgoodwin and your email is mg***@redhat.com
You can use both username or email when logging.
In the past the usernames where auto-generated during registration. This is why you got this username. It's fixed now and new users can choose their own usernames during registration.

But it's not the problem here. I suspect tenant service fa

[2018-04-24 16:10] ibuziuk commented on #3232
Thanks for the info, @l0rd I believe we need to come up with a clear plan of how we are going to proceed with `Che 6 Migration Errors`

[2018-04-24 16:24] sdash-redhat commented on #3186
Started on this.

[2018-04-24 16:26] anshulbehl opened #3292 "Is there a way to pull the redhat container catalog images from UI (Not using oc client)?"
on the link below

https://access.redhat.com/containers/?tab=images&platform=openshift#/registry.access.redhat.com/rhcertification/redhat-certification-management

It says:

Container images that are made to run with OpenShift platforms can either be pulled from the command line (using the oc command) or from the OpenShift Dashboard GUI interface. The following is one command line you could use to

[2018-04-24 16:27] l0rd commented on #3232
@ibuziuk looks like @InfoSec812 account is provisioned on cluster 2a that uses gluster.

[2018-04-24 16:32] ibuziuk commented on #3232
yeah, I see a ref to `starter-us-east-2a`, so we can not blame ebs here

[2018-04-24 16:33] andrewazores commented on #2610
Closing as roughly a duplicate of https://github.com/openshiftio/openshift.io/issues/2610 , for which a fix has been merged.

[2018-04-24 16:33] #2610 closed

[2018-04-24 16:34] rkratky commented on #3120
Thanks for the clarification, @ldimaggi.

So, coming back to my initial suggestion: @mishaone, perhaps we could add an admonition reminding users to review the README files?

[2018-04-24 16:36] andrewazores opened #3293 "Collaborators list is not ordered"
# Bug

The list of Collaborators should be ordered (alphanumeric sorted?) so that users see a consistent and predictable view of the Collaborators for a space.

[2018-04-24 16:36] gastaldi commented on #3124
This is tracked in https://issues.jboss.org/browse/SWARM-1701.

@animuk Please check with the WF Swarm team (@kenfinnigan) to decide how/if this booster should be supported in OSIO

[2018-04-24 16:39] gastaldi commented on #3131
@gytis is verifying this issue. All we know right now is that https://github.com/snowdrop/spring-boot-configmap-booster/pull/43 needs to be merged too.

[2018-04-24 16:41] gastaldi commented on #3134
@ladicek @kenfinnigan any clue on what's going on? Who can own this issue?

[2018-04-24 16:42] gastaldi commented on #3235
Assigning back to @animuk

[2018-04-24 16:45] gastaldi commented on #3131
Actually @gytis is working on making the Spring Boot Configmap work in OSIO, which may not be related to this error specifically, but it would be nice to test anyway ;)

[2018-04-24 16:47] kenfinnigan commented on #3134
As this is a Che specific issue, and there isn't much in terms of a stacktrace, it's hard to know what's going on

[2018-04-24 17:01] joshuawilson commented on #2360
@ebaron It looks like you have a fix in place that is more temporary and a permanent one in the works.

I'm going to reduce this to a SEV3 or you can close it and make a task for the permanent fix. If I misread and there is not temp fix in place, please set back to a SEV2 P0.

[2018-04-24 17:11] ALRubinger commented on #3134
Requesting of the OSIO Getting Started team to triage and provide actionable requests for the runtime team if necessary. @animuk

[2018-04-24 17:15] ldimaggi commented on #945
The problem has a couple of parts:
* There is no feedback to the user while the Jenkins slave is being allocated/spun up. Waiting several minutes with no feedback may cause some users to assume the build failed.
* I think that we have to reassess this issue by tracking the startup time while the system is under load. We may see longer times for users.
* The time is variable. For example, I just sa

[2018-04-24 17:29] invincibleJai commented on #3141
@catrobson  thanks, any thoughts on the suggestion of @animuk, from the user experience POV?

[2018-04-24 17:38] sdash-redhat commented on #3185
Marking it complete. Invision link and drive links already shared over email. A backup copy will be copied to OSIO drive folder.

Closing this.

[2018-04-24 17:38] #3185 closed

[2018-04-24 17:39] #3209 closed

[2018-04-24 17:43] sdash-redhat commented on #3186
Based on today's call with UX & PM, it is decided that medium fidelity mockups will not be used in the presentation. So only the change in story narrative in the current concept screens will not be required. So closing this task.

[2018-04-24 17:43] #3186 closed

[2018-04-24 17:46] invincibleJai commented on #1028
@joshuawilson so if I am understanding it correctly the expectation here not to show integration step in pipelines in the launcher irrespective of which booster/import user selected?

cc @animuk

[2018-04-24 17:49] sdash-redhat opened #3294 "Create a Low-fidelity Conceptual Screen for Canary Build Deployment Scenario for Summit Talk."
Based on today's review call, a conceptual wireframe for Canary build deployment is needed for summit talk.

[2018-04-24 17:56] invincibleJai commented on #2063
@ibuziuk nope it's not working on che 6 in prod-preview, the reason I feel is env variable is not coming for "RECOMMENDER_API_URL" it's coming only for "RECOMMENDER_API_TOKEN"
`ps -awx |grep RECOMMENDER_API_URL`
<img width="1221" alt="screen shot 2018-04-24 at 11 19 00 pm" src="https://user-images.githubusercontent.com/5129024/39204840-9a1eeeb0-4816-11e8-8cbf-427a020fa74a.png">

[2018-04-24 18:06] lordofthejars commented on #945
Yes I understand what you mean, but I see not easy solution since we are
really tight to HW resources. Maybe as workaround we could provide a warni
g to user explaining why it takes so long?

El mar., 24 abr. 2018 19:15, Len DiMaggio <notifications@github.com>
escribió:

[2018-04-24 18:07] ldimaggi commented on #2230
I think we can close this issue. The 2a cluster achieved parity (or even better) with the original (2) cluster several weeks ago. A quick test on the 1a cluster also showed no problem.

[2018-04-24 18:07] #2230 closed

[2018-04-24 18:10] ldimaggi commented on #2232
I think that is really the same problem as #945 - closing as a duplicate of #945. The effect for the user is the same - a slow start to a build pipeline without feedback.

[2018-04-24 18:10] #2232 closed

[2018-04-24 18:12] ldimaggi commented on #2544
This is the same problem as is defined in #2154 - the situation has improved - but the problem is still present.

[2018-04-24 18:12] #2544 closed

[2018-04-24 18:28] catrobson commented on #3150
+1 - I think we can just not show these features in the FAB.

[2018-04-24 18:28] ldimaggi commented on #2856
I have not seen this since we upgraded to Che6 - downgrading to SEV3 and will close if I do not see this issue again this week. Removing the P0 label too.

[2018-04-24 19:12] ebaron commented on #2360
The temporary fix, which is already in prod, is to treat a missing space label as a warning instead of an error. The worst that can happen with this workaround is we show a deployment belonging to one of the user's other spaces. This could happen in the unlikely scenario that the user has:
* a Build Config named _X_, part of space _A_, in environment _E_, and
* a Deployment Config named _X_, part

[2018-04-24 19:13] joshuawilson commented on #1028
@invincibleJai it looks like Build does not support an Integration Test phase/stage. Therefore, it should not be listed on the page in the wizard describing the pipelines.

[2018-04-24 19:17] ldimaggi commented on #945
I think that would be adequate - the issue right now is that the user sees nothing until the "view log" link appears.

[2018-04-24 19:24] AshishDurgude commented on #3247
Hi Stacy, Thanks for the copy. There is one page missing. I need one more copy of the same project but for a different page. It is an Error State of dependency editor:
https://redhat.invisionapp.com/share/4UGJPFTM8NC#/screens/291489396
I have added comments for you on 17 April.

[2018-04-24 19:38] joshuawilson commented on #3265
@kishansagathiya this is a build issue but @jiekang has been working in this area and it looks like he has a fix for it.

[2018-04-24 19:41] catrobson commented on #3139
@invincibleJai I'm not seeing this in production yet, any chance you could share a PR and/or screenshot?

[2018-04-24 19:45] ravsa commented on #3095
@piyush1594 this issue occurs when `application name` and GitHub `repository name` is different.
and I found that the configMap is pretty much same for both cases (`applicationName==repoName` and `applicationName != repoName`)  in launcher-backend and these are the changes we are making in configMap https://github.com/fabric8-launcher/launcher-backend/blob/dfa6e6cc3e8e6c2d1992ce386a02d487876ca346/

[2018-04-24 19:56] andrewazores commented on #2629
My comment above regarding the DeploymentsService functions and its design intent to support only the Deployments area is now out of date. We now export a DeploymentApiService at the application root module level, which looks like this: https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/create/deployments/services/deployment-api.service.ts . This service is intended to be consumed

[2018-04-24 20:16] joshuawilson commented on #3026
I downgraded it since it can NOT be reliably reproduced.

[2018-04-24 21:06] joshuawilson commented on #3139
Is this a bug or a question? If it is a bug, what Severity is it?

[2018-04-24 21:25] alexeykazakov commented on #3280
developers.redhat.com had some issues today. It should work fine now. Please reopen if you still see this error.

[2018-04-24 21:25] #3280 closed

[2018-04-24 21:37] joshuawilson commented on #3141
please add Severity to this

[2018-04-24 22:17] maxandersen commented on #3026
if the issue is not present anymore then lets close it; but if believed still present then its still open and we can state why we think it shouldn't be p0 anymore.

[2018-04-24 22:31] maxandersen commented on #3003
@invincibleJai are you still awaiting input here or is it fixed in the #2754 merge ?

if questions around how pipelines UI/backend work that is for team/build-cd; possibly @chmouel or @rupalibehera  are best candidates.

[2018-04-24 23:56] ebaron commented on #3258
@joshuawilson It seems to. The build shown in the Pipelines view (import-test) seems to wait for the other build (mynewvertx) to finish before it starts.
![screenshot from 2018-04-24 19-53-29](https://user-images.githubusercontent.com/4326090/39219568-4b3f8326-47f9-11e8-868a-c132fe6a57b3.png)
![screenshot from 2018-04-24 19-53-47](https://user-images.githubusercontent.com/4326090/39219571-4ec14fc0

[2018-04-24 23:59] joshuawilson commented on #3258
@ebaron if this means the build never completes, then this would be a SEV1?

[2018-04-25 00:02] joshuawilson commented on #3292
Where did you get to this? This issue tracker is for issues in https://openshift.io

[2018-04-25 00:03] joshuawilson commented on #3292
maybe try asking on https://chat.openshift.io/developers/channels/town-square to get direction where to post the question

[2018-04-25 00:15] alexeykazakov commented on #3290
There should not be 401 at all in the first place but even if there is some 401 it should not always cause logout from OSIO. This is fundamentally wrong to logout when receiving 401 for any request.

@rohitkrai03 can you please create a separate issue for this 401 error handling and work with platform team to address it? Not sure if we already have it filed..

[2018-04-25 00:52] catrobson commented on #3141
We're looking into various options on how to change this and will respond back to this once we have investigated with design/CSS tomorrow.

[2018-04-25 02:04] joshuawilson commented on #3026
@chmouel @kishansagathiya do you want to keep this open?

[2018-04-25 02:05] joshuawilson commented on #3034
closing duplicate

[2018-04-25 02:05] #3034 closed

[2018-04-25 02:13] joshuawilson opened #3295 "New Feature Flag settings do NOT refresh"
It appears that changing the feature flag does not get stored. It does, in fact, get stored but the UI doesn't refresh and so the UI change is lost without a refresh.

[2018-04-25 02:14] joshuawilson commented on #3295
@chrislessard @corinnekrych can you please take a look at this.

[2018-04-25 02:17] joshuawilson opened #3296 "Opt-in settings do NOT redirect you back to the last page"
When I opt-in, I am taken to the page to change my feature flag but I am left there. There is no Save button or option to complete the step. I do not get returned.

As a new user may not know where they were when they clicked Opt-in, this could be very confusing.

tracking at: https://openshift.io/openshiftio/Openshift_io/plan/detail/1110

[2018-04-25 02:36] joshuawilson commented on #3027
closing duplicate

[2018-04-25 02:36] #3027 closed

[2018-04-25 02:38] joshuawilson commented on #3291
@andrewazores @jiekang I have seen this too. Do you know what is causing it?

[2018-04-25 02:48] joshuawilson commented on #3026
it might be a race condition not a caching issue

[2018-04-25 02:48] joshuawilson commented on #2534
closing duplicate

[2018-04-25 02:48] #2534 closed

[2018-04-25 02:48] ldimaggi commented on #945
Another recent example:

![screenshot from 2018-04-24 22-47-48](https://user-images.githubusercontent.com/642621/39223719-a21418c0-4811-11e8-987c-426c6725fa3d.png)

[2018-04-25 02:49] joshuawilson commented on #3056
closing duplicate

[2018-04-25 02:50] kishansagathiya commented on #3026
@maxandersen @joshuawilson There were several duplicate issues found during click party, so this definitely a valid issue. I think @joshuawilson has closed those duplicate issues. I think it needs little more investigation or we can keep this park until someone is able to reproduce it.

[2018-04-25 02:51] kishansagathiya commented on #3265
Thanks a lot to @jiekang  and @joshuawilson

[2018-04-25 02:51] joshuawilson commented on #3026
If this is reproducible then we need to set it back to SEV2 and maybe P0.

[2018-04-25 02:53] joshuawilson commented on #3023
closing duplicate

[2018-04-25 02:53] #3023 closed

[2018-04-25 02:53] kishansagathiya commented on #3026
None of us(around 6 people) were able to reproduce it.

[2018-04-25 02:54] joshuawilson commented on #3026
except all the duplicate issues I'm closing, they can do it

[2018-04-25 02:58] kishansagathiya commented on #3026
So it could be intermittent. Look at this click party issue (https://github.com/openshiftio/openshift.io/issues/3027#issue-313586765), logs are exactly same.
As @ldimaggi mentioned it could also be because of increase traffic.

[2018-04-25 02:58] joshuawilson commented on #3272
@rkratky maybe you can talk to @catrobson about this.

[2018-04-25 02:58] joshuawilson commented on #3272
You may also want to talk to @qodfathr about release notes.

[2018-04-25 03:02] joshuawilson commented on #3248
@rkratky we should coordinate wiki changes. It might makes sense to have Docs own it. So far it has been roughly maintained by Eng.

[2018-04-25 03:07] joshuawilson commented on #3277
This is under the Experimental flag and therefore is considered still in development.

[2018-04-25 04:29] andrewazores commented on #3291
That widget uses the DeplotmentApiService, so it's probably the same root cause as #3290 .

[2018-04-25 04:29] joshuawilson commented on #3271
this is an issue under Experimental and is not ready for review

[2018-04-25 04:30] joshuawilson commented on #3270
this is under experimental and not ready for review

[2018-04-25 04:36] joshuawilson commented on #3170
@debloper `type/planning` is for an issue that does planning. An issue that is a list of tasks to be done by a team. This issue could be a `type/feature-request` or maybe a `type/question`. But it is definitely NOT `type/planning`.

[2018-04-25 04:41] joshuawilson commented on #3029
closing duplicate

[2018-04-25 04:41] #3029 closed

[2018-04-25 04:42] joshuawilson commented on #2953
closing duplicate

[2018-04-25 04:42] #2953 closed

[2018-04-25 04:56] #2776 closed

[2018-04-25 05:15] invincibleJai commented on #3003
@maxandersen Thanks Max, it's fixed now. Changes are in prod. Didn't closed it as changes were not promoted to prod earlier.

[2018-04-25 05:15] #3003 closed

[2018-04-25 05:25] aditya-konarde commented on #3031
I agree with @aslakknutsen here. We don't use the `starter-us-east-1` cluster for OSIO.

@ashmitha7 if you have the logs or can reproduce failing builds, please add in a separate issue.

[2018-04-25 05:25] #3031 closed

[2018-04-25 05:41] invincibleJai commented on #3139
@catrobson changes are prod now.

<img width="1484" alt="screen shot 2018-04-25 at 11 08 57 am" src="https://user-images.githubusercontent.com/5129024/39227989-54b11f52-4879-11e8-96f0-cad55e3d6e3a.png">

[2018-04-25 06:05] invincibleJai commented on #3223
Changes are in prod, closing it.

[2018-04-25 06:05] #3223 closed

[2018-04-25 06:08] jaseemabid commented on #3077
@krishnapaparaju @pradeepto Could you drop the SEV1 label as this is not a blocker anymore? Most of us aren't able to reproduce this.

@sthaha The approach makes sense. That's the only code we understand/own as of now.

@gastaldi TIL that launcher-backend is a 28000 loc in 337 files large Java project. I wasn't aware of the complicated initialization sequence.

[2018-04-25 06:10] invincibleJai commented on #3138
Changes are in prod, repo name in create flow is getting prefilled with application name provided by the user and are editable. Let me know if we can close this?

[2018-04-25 06:11] invincibleJai commented on #2920
Changes are in prod. Closing it pls reopen if still see this.

[2018-04-25 06:11] #2920 closed

[2018-04-25 06:25] xcoulon commented on #3295
After looking at the requests/responses, I could see that the feature level change is correctly persisted in the backend (as a consequence, features are enabled/disabled as expected).
The problem is at the `Feature Opt-In` page which keeps showing the older level of the user.

[2018-04-25 06:29] GeorgeActon commented on #3275
Closing as duplicate
It is being addressed as part of #3141

[2018-04-25 06:29] #3275 closed

[2018-04-25 06:32] miteshvp commented on #2335
@krishnapaparaju - isn't this an expected behavior where we try to pick the data from latest build triggered?
If yes, maybe we could change the message shown to the users from
`No results found` -> `Build under progress` .
If this is not an expected behavior then we may have to go and figure out a mechanism to pick last successful build data.
I am reducing the severity to Sev-3 as it does not affe

[2018-04-25 06:40] aditya-konarde commented on #3292
Thinking that this question is towards 'OpenShift' as opposed to 'OpenShift.io'. @anshulbehl please note that the two are different products. Can you please confirm that you're asking this in the context of 'OpenShift.io'(https://openshift.io/)?

[2018-04-25 06:41] invincibleJai commented on #3275
This has been taken care of changes are in prod.

[2018-04-25 06:42] anshulbehl commented on #3292
@aditya-konarde Should be OpenShift, where to file the relevant bugs?

[2018-04-25 06:50] ppitonak commented on #3275
@invincibleJai I still see this problem in prod.

[2018-04-25 07:04] corinnekrych commented on #3295
@xcoulon @joshuawilson yeap I've noticed that yesterday while working on #2402 it's a UI regression brought by the settings PR.
it is fixed in the WIP PR for 2402.

[2018-04-25 07:11] aditya-konarde commented on #3292
@anshulbehl Bugzilla for Bugs, Internal IRC for discussions (sent channel name in chat.)

[2018-04-25 07:11] #3292 closed

[2018-04-25 07:13] slemeur commented on #3138
Just tested and found the following bug:
When the application name is the name of an already existing repository, it is handled (ie we are not calculating another name for the repository, so the flow is blocked and user has to provide an input)
![screen shot 2018-04-25 at 09 11 16](https://user-images.githubusercontent.com/1636769/39230982-dce1b212-4868-11e8-92fc-e34783096f07.png)

Otherwise it wo

[2018-04-25 07:35] invincibleJai commented on #3138
@slemeur yes for App name we are providing default name always as "app-test-1". Can we have some better default value i.e something meaningful and suffix it with the timestamp that will make it unique as well (eg : app-test-1524641623081)

It would help with repo name as well as it would be prefilled with app name which would have timestamp suffixed?

[2018-04-25 07:43] sunilk747 commented on #2428
Done. Closing this issue.

[2018-04-25 07:43] #2428 closed

[2018-04-25 08:11] kpiwko commented on #3077
Is there any way how we could make this issue the top priority? It is blocking performance testing scenario.

[2018-04-25 08:13] pkajaba commented on #3182
I have tinkered with it even further and I was not able to get it working. I agree that we should strip comments from the beginning of the XML.

[2018-04-25 08:13] ljelinkova opened #3297 "Features Opt-in description"
There is a bug in the description, where Production and Experimental features have the same description

_This is the default and current release version of the product._

![feature-opts](https://user-images.githubusercontent.com/2078072/39233545-ed9e9522-4870-11e8-88fa-9f9ed5532cda.png)

Also, the wording is a bit inconsistent - the production and internal start with "this / these version/feature

[2018-04-25 08:15] corinnekrych commented on #3297
duplicate of https://github.com/openshiftio/openshift.io/issues/3254

[2018-04-25 08:15] #3297 closed

[2018-04-25 08:25] tuxdna commented on #3182
There is one more bug in the generated XML that I found after implementing code to strip extra XML tag.

Following part of the generated XML is incorrect, due to which we get subsequent error in XML parsing.

[code]

Offending XML lines below. Notice the quotes inside xml tags:

[code]

The above indicates more bugs in the container image.

[2018-04-25 08:28] ljelinkova commented on #3254
Also, the wording is a bit inconsistent - the production and internal start with "this / these version/feature" but the beta starts with verb "Experience features".

[2018-04-25 08:50] invincibleJai commented on #3275
@ppitonak ah try hard refresh `ctr+shift+r`, I tried now

<img width="1484" alt="screen shot 2018-04-25 at 11 08 57 am" src="https://user-images.githubusercontent.com/5129024/39235514-ae84d202-4893-11e8-893a-eede324a1b37.png">

[2018-04-25 08:54] tuxdna commented on #3182
Atleast one person has reported same behavior here - https://stackoverflow.com/questions/38253619/maven-shade-plugin-detects-os-release-with-wrong-output-format-os-detected-rel

[2018-04-25 08:55] piyush1594 commented on #3266
May be this one also https://github.com/openshift/jenkins-sync-plugin/commit/53ce3f4a12f1b246967a90bd6b08c4d429bb3d0b#diff-b9ed119c66ed02d31e9cb3377f727207 can resolve our problem

[2018-04-25 08:56] kpiwko commented on #3077
@pmacik do you see any concerns with solution above?

[2018-04-25 08:59] tuxdna commented on #3182
Okay, figured out why this behavior ( quotes in xml ) is happening:

[code]

In the above file `ID` and `ID_LIKE` values are provided with qoutes, which is not being interpolated by some Java library inside the container.

[code]

Not sure which Java library needs to be patched to fix this.

[2018-04-25 09:01] Preeticp opened #3298 "Case mismatch between State options shown in Filter by type drop-down and the preview"
State options in the filter drop-down should be in Title case similar to the state options shown in preview.

![screenshot from 2018-04-25 14-25-16](https://user-images.githubusercontent.com/16647625/39235972-0da1b8c6-4895-11e8-98b7-277e50adbea7.png)

![screenshot from 2018-04-25 14-25-28](https://user-images.githubusercontent.com/16647625/39235981-14fc674c-4895-11e8-8163-81b10d60aa10.png)

[2018-04-25 09:04] jarifibrahim commented on #3024
@ldimaggi There should be better error reporting. A would user would never be able to figure out how/why the quota error was thrown.

[2018-04-25 09:07] arunkumars08 opened #3299 "Build failing for quick start [Tried Vert.x health check and Http] - OSIO intermittently cannot reach OSO"
I was trying to create a build using quick starts (Legacy flow)

Steps:

1. Reset my environment
2. Updated my tenant
3. Created a new space
4. Using the legacy wizard flow, tried creating a quick start
5. Picked Vert.x HEalth check
6. All successful and the pipeline started
7. During the time of release, build failed with the following error.

<img width="1666" alt="screen shot 2018-04-25 at 2 33

[2018-04-25 09:08] kwk commented on #3298
Please use whatever is in the `system.state` enum of the work item type and don't modify it in any way.

[2018-04-25 09:09] rgarg1 commented on #3066
@sunilmalagi Are we also agreeing on providing a close option to dismiss the notification, if the users need to?

[2018-04-25 09:11] rgarg1 commented on #3066
Even though its marked as SEV-3, it is such an irritant that I'd rather see it bumped to SEV-2 + priority0.

WDYT @qodfathr ?

[2018-04-25 09:27] kishansagathiya opened #3300 "Can't create a work item"
1. Open any space (https://openshift.io/ksagathi/myspace)
![screenshot from 2018-04-25 14-49-42](https://user-images.githubusercontent.com/10185999/39236999-e76e759c-4897-11e8-98ff-cf6b9194f2e2.png)

2. Click on create work item, that will get you ->(https://openshift.io/ksagathi/myspace/(action:add-work-item)
![screenshot from 2018-04-25 14-51-52](https://user-images.githubusercontent.com/1018599

[2018-04-25 09:29] piyush1594 commented on #3299
This failed at the deploy stage and seems that it is not able to reach OpenShift.

[2018-04-25 09:30] maxandersen commented on #3077
can you give list of namespaces / jenkins urls seeing the issue ?  then i'll go look and see what I can find via logs.

[2018-04-25 09:30] invincibleJai commented on #3273
@ppitonak this is duplicate of https://github.com/openshiftio/openshift.io/issues/2944, can we close it.

am not sure if Firefox is a priority for the summit.
CC @GeorgeActon

[2018-04-25 09:31] maxandersen commented on #3077
can we please get a PR ASAP for the proposed change ?

[2018-04-25 09:35] maxandersen commented on #3077
got pointers to this in github org plugin ? I would expect that plugin to also be possible to configure to use proper credentials.

[2018-04-25 09:41] kishansagathiya opened #3301 "Build failed while creating quickstart project"
This is seen on Prod

1. Reset Environment
2. Create new space
3. Create a new quickstart project
4. Select VertX HTTP Booster
5. Select the pipeline with approve stage.

Wait for the build.
Here are jenkins logs
[code]
I see fabric8-maven-plugin in logs. so @piyush1594

[2018-04-25 09:56] rupalibehera commented on #3077
we cannot drop the SEV-1 label as we cannot reproduce due not having enough load on the system.

[2018-04-25 09:58] rupalibehera commented on #3077
@kpiwko , could you please help us generating load on the system through your performance tests so that we could reproduce this bug ?

[2018-04-25 09:58] chmouel commented on #3058
Related bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1552373

[2018-04-25 10:05] pbergene commented on #3077
My concern here is that the build teams effort here is not going to address the underlying issue which seems to be missing tokens as opposed to there being calls being done without.  There can be multiple reasons this is missing, but it really does look like we have a bug somewhere in this area. I am doing an iteration over the tokens across east-2 users. While this is not yet complete I am seeing

[2018-04-25 10:07] piyush1594 commented on #3301
Duplicate of #3023 and #3058

[2018-04-25 10:08] kishansagathiya commented on #3301
Added a commit. Failed again with the exact same logs

[2018-04-25 10:11] kishansagathiya commented on #3301
@piyush1594 Closing this since #3058 has more visibility

[2018-04-25 10:11] #3301 closed

[2018-04-25 10:13] sunilk747 commented on #3112
@sbose78 Is this issue related to auth team? If it is, can we change the label here?

[2018-04-25 10:25] tuxdna commented on #3182
[code]

Made changes to `java/io/File.java` class as in this [changes.diff.zip](https://github.com/openshiftio/openshift.io/files/1946548/changes.diff.zip) patch file.

Updated bootclasspath in Maven

[code]

And then figured out the offending Java module i.e. `os-maven-plugin` as below:

[code]

The resolve the latest issue, we can either fix `/etc/os-release` or update the `os-maven-plugin` to i

[2018-04-25 10:28] pkajaba commented on #2343
We won't be able to resolve this on our own. This problem is caused when worker time is out of sync with Amazon servers. However, we are not able to adjust time inside containers without root privileges.

[1] https://stackoverflow.com/questions/44017410/signature-expired-is-now-earlier-than-error-invalidsignatureexception

[2018-04-25 10:30] pbergene commented on #3077
east-2 numbers are in.  Keep in mind that this is impact / scope / investigation work and there are multiple reasons for this token missing, so lets not jump to any conclusions - but do chase one.

Reasons may include:
* User never linked GH, intentionally, cancelled process or simply only ever logged in and didn't do anything else
* User deleted token retrospectively
* User never got directed to

[2018-04-25 10:31] pmacik commented on #3077
@rupalibehera  Hi, I can help you with the load.

[2018-04-25 10:32] aslakknutsen opened #3302 "Error message in 'space name' validation is missing the cause"
The Field level error message is suggesting 3 other causes, but missing the cause of the name being to long.

![screenshot from 2018-04-25 12-04-30](https://user-images.githubusercontent.com/132158/39240613-9ba44e92-4884-11e8-9296-9d1cc753e9ad.png)

[2018-04-25 10:37] sbose78 commented on #3112
@sunilk747 , Not related to the auth team - I've added the appropriate label.

[2018-04-25 10:38] rohanKanojia commented on #3058
After lots of attempts, I'm struggling to reproduce this issue. Maybe this issue comes whenever there
are concurrent users using OSIO; Whenever there is a heavy load on the system. See bugzilla ticket shared by @chmouel .Still, I feel that there is not much plugin can do here.

I'm submitting a pull request in fmp for handling this `SocketTimeoutException` better by checking for possible failures

[2018-04-25 10:57] l0rd commented on #2154
Apparently this issue has been found on cluster `2a` too https://github.com/openshiftio/openshift.io/issues/2154

[2018-04-25 10:59] maxandersen commented on #3077
@pmacik can we get the list of users/namespaces and times where you seen it being reproduced already ? can help us narrow down the search.

[2018-04-25 11:04] l0rd commented on #3232
Related to https://github.com/openshiftio/openshift.io/issues/2154. @jfchevrette @riuvshin it looks like we have some `Timeout expired waiting for volumes to attach/mount to pod` on cluster `starter-us-east-2a` too. Were you aware of that?

[2018-04-25 11:09] aslakknutsen commented on #1994
Focus is lost again in prod.

[2018-04-25 11:13] pmacik commented on #3077
@maxandersen I can see it now for user `osio-ci-ee9` on cluster `start-us-east-2a`:
![image](https://user-images.githubusercontent.com/3263627/39242470-6ca64a5e-488a-11e8-97c2-37024931d684.png)

[2018-04-25 11:16] #2864 closed

[2018-04-25 11:17] l0rd commented on #3113
@ldimaggi I am closing this one since it looks identical to #3130. Please re-open if you consider that issues are different.

[2018-04-25 11:21] pkajaba opened #3303 "psycopg2 package rename"
This message keeps appearing in our logs:

`
/usr/lib64/python3.4/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
`

It means that package is going to renam

[2018-04-25 11:30] tuxdna commented on #3182
The above bug was fixed in this commit - https://github.com/trustin/os-maven-plugin/commit/28a9b45b8bf7c271e118a2c6f3113c6e852a9528

Now, need to figure out how to force effective-pom plugin to use `os-maven-plugin-1.6.0`

[2018-04-25 11:45] chmouel commented on #3299
Updated BZ https://bugzilla.redhat.com/show_bug.cgi?id=1552373

[2018-04-25 11:50] andrewazores commented on #3290
@alexeykazakov agreed. This faulty behaviour occurs like this. First, the UI class providing `Http` delegates to `ngx-login-client`'s `HttpService`, which broadcasts `authenticationError` whenever a response comes back with 401 status: https://github.com/fabric8-ui/ngx-login-client/blob/master/src/app/shared/http.service.ts#L50 .

This is then handled in `fabric8-ui` `LoginService` here: https://g

[2018-04-25 11:53] andrewazores commented on #3291
Confirmed, this is happening due to 401s on the requests to the Deployments API backend, so same root cause. I'm looking into why the 401s from this widget do not trigger a logout (see comment for explanation here https://github.com/openshiftio/openshift.io/issues/3290#issuecomment-384259304 ).

[2018-04-25 11:55] l0rd commented on #1733
I have tried to reproduce using the steps detailed [here](https://github.com/openshiftio/openshift.io/issues/1733#issuecomment-355301573) but the resources got deleted successfully. Closing.

[2018-04-25 11:55] #1733 closed

[2018-04-25 11:56] muruGanesan commented on #3142
Discussed with Todd (PM) to understand the requirement of 'Teams+Security group+ Areas+Space'
date: 20 April 2018
Recording link: https://bluejeans.com/s/BJl4C/

[2018-04-25 12:00] mattd72 commented on #3026
Can confirm that https://github.com/openshiftio/openshift.io/issues/3056 is a duplicate of this issue.

[2018-04-25 12:01] ldimaggi commented on #3113
#3130 refers to a different quickstart (HealthCheck/SpringBoot) failing

This issue refers to the REST/SpringBoot quickstart failing.

The same solution may solve the issue for both quickstarts, but I think it's better to keep both issues open as they refer to different quickstarts. Thanks!

[2018-04-25 12:01] maxandersen commented on #3077
FYI: on call on this atm; spotted mismatch between old and new launcher that could cause this. will update ASAP.

[2018-04-25 12:02] slemeur commented on #1150
Closing as it has been done.

[2018-04-25 12:02] #1150 closed

[2018-04-25 12:02] ldimaggi commented on #3103
That's fine - if you believe that the same issue is described in both issues.

[2018-04-25 12:09] l0rd commented on #3113
@ldimaggi makes sense. I've set the same labels as #3130 (assigned to `team/analytics/wizard`)

[2018-04-25 12:10] ldimaggi commented on #3077
Max - can you elaborate? What mismatch are you seeing?

[2018-04-25 12:11] pradeepto commented on #2527
@piyush1594 are you working on the fix for this? If so, please assign it to yourself.

[2018-04-25 12:11] andrewazores commented on #3290
Adding the `HttpModule` from `@angular/http` to the DeploymentsModule imports array works around the logout issue, since (I believe) this will override the customized `Http` provider and remove the delegation to the `ngx-login-client` `HttpService`, meaning the `authenticationError` will not be broadcast. Quite a few modules in the fabric8-ui codebase also import HttpModule and so override the cus

[2018-04-25 12:14] l0rd commented on #3121
I have checked and not been able to reproduce. The first workspace is stopped automatically and the second one starts with no user action needed. Closing.

[2018-04-25 12:17] kishansagathiya commented on #3026
Thanks a lot @mattd72

[2018-04-25 12:26] vikram-raj commented on #2445
This issue has been fixed and in prod.

[2018-04-25 12:26] #2445 closed

[2018-04-25 12:27] vikram-raj commented on #2442
This issue has been fixed and in prod.

[2018-04-25 12:27] #2442 closed

[2018-04-25 12:31] l0rd commented on #3123
@ldimaggi looks like a duplicate of #2152. Please re-open if it makes sense to have 2 distinct issues.

[2018-04-25 12:31] #3123 closed

[2018-04-25 12:33] vikram-raj commented on #2432
This issue has been fixed. @rgarg1 If you find this issue again then feel free to reopen this.

[2018-04-25 12:33] #2432 closed

[2018-04-25 12:36] andrewazores commented on #3290
@joshuawilson do you know what the reasoning is for handling all 401s with an authService logout? Was it intended only to catch 401s on login requests perhaps?

[2018-04-25 12:42] sanketpathak commented on #3199
This has been addressed

[2018-04-25 12:42] sdash-redhat commented on #3294
Submitted the first draft for review.

[2018-04-25 12:45] vikram-raj commented on #2506
@rgarg1 Fix for this issue is in prod. Can you please verify?

[2018-04-25 12:46] jfchevrette commented on #3232
@l0rd I was not. I'm investigating this now.

[2018-04-25 12:46] rupalibehera commented on #2527
`Jenkins doesn’t have label mavencjdncdjcjdjfjfjjfjfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj_1` this comes from some plugin I don't think so we can fix it directly. it should be fixed in the plugin.

[2018-04-25 12:49] arunkumars08 opened #3304 "Changes in the structure of payload for creating work item from Stack Report"
Currently, stack report creates a work item to planner using a static id that points to the legacy template.

Due to this, creating a work item from scrum template won't be proper.

In order to address this, the change requires to dynamically pick the template id selected by the user and pick the relevant bug work item from that.

Tracks this - https://github.com/fabric8-services/fabric8-wit/issue

[2018-04-25 12:53] garagatyi commented on #3036
@rohanKanojia I've tried to reproduce it but as far as I understand UI has changed significantly since I did it on the click party. So I tried to do that in a completely different place on the UI. And couldn't reproduce.
Closing the issue since it seems irrelevant now.

[2018-04-25 12:53] #3036 closed

[2018-04-25 12:53] gastaldi commented on #3077
https://github.com/fabric8-launcher/launcher-backend/issues/362 is now fixed. Can someone test in prod-preview before I percolate this change to production?

[2018-04-25 12:54] jfchevrette commented on #3232
When I opened the "Create" tab and it began migrating my che workspace the migration pod failed and I saw the following event:

[code]

[2018-04-25 12:54] gastaldi commented on #3077
After https://ci.centos.org/view/Devtools/job/devtools-launcher-backend-generator-build-master/496/ is finished, of course

[2018-04-25 12:58] ldimaggi opened #3305 ""Legacy" Scenario should be renamed back to: Scenario Driven Development"
![screenshot from 2018-04-25 08-56-18](https://user-images.githubusercontent.com/642621/39247178-b0135e68-4866-11e8-83d4-fb27f63a930a.png)

The correct name of the scenario is:   Scenario Driven Development

[2018-04-25 12:58] jfchevrette commented on #3232
I've gathered more data and engaging with the storage team to troubleshoot this

[2018-04-25 13:00] ldimaggi commented on #3291
Issue found/encountered by EE tests.

[2018-04-25 13:02] l0rd commented on #2318
@kpiwko @qodfathr my understanding was that to address this issue we would limit RHD username length. Am I correct?

[2018-04-25 13:04] ldimaggi commented on #3077
This issue was surfaced in the click party - and also in automated tests - as the users and tests followed a sequence of resetting the user's environment before attempting to create a new space + app with the launcher. It must have been the case than in many instances Jenkins had not started and anonymous access was used.

[2018-04-25 13:04] jfchevrette commented on #3232
My account is stuck at attempting to migrate my che workspace. As such I am unable to create/open a workspace at all. I believe we have seen this on a few accounts now. Should we bump this to SEV-1?

[2018-04-25 13:04] ldimaggi commented on #3291
Note - this bug is causing the E2E tests to fail.

[2018-04-25 13:10] kpiwko commented on #2318
As a workaround, yes, that's my understanding as well. As a real fix, there is more work to be done.

[2018-04-25 13:12] pradeepto commented on #3058
@animuk @sivaavkd Please see above message.

[2018-04-25 13:14] pradeepto commented on #3095
@animuk @sivaavkd I had spoken about this with @piyush1594 couple of hours back and he had told me that @ravsa is working on it (at least that is what he had told @piyush1594 around the same time) Can you ACK @piyush1594 @ravsa ?

[2018-04-25 13:15] pradeepto commented on #2833
@animuk @sivaavkd Please above comment from @rohanKanojia

[2018-04-25 13:16] ravsa commented on #3095
@pradeepto I've checked in launcher code and found nothing. It seems like it's a bug into build pipeline.

[2018-04-25 13:17] ppitonak commented on #3305
+ Scrum should be available only as an Experimental feature

[2018-04-25 13:18] eivantsov commented on #2152
@ibuziuk I have run tests on Docker and OpenShift, without Che at all. Tests fail with exact same error.

Tests were held on a local Docker and Origin, as well as on OSO Pro. I can share OpenShift deployment yaml so that you can quickly test it locally as well.

It is interesting that commands:

`mvn clean install` in the project root
and
`mvn clean install -f /path/to/project`

cause different be

[2018-04-25 13:25] jfchevrette opened #3306 "Che migration pod fails if PV is used to 100% (quota exceeded)"
The che migration pod fails to run if there is not enough space on the PV to do the migration.

When that happens, I found out that it keeps retrying (forever?) and as a tenant I am effectively unable to create/open a workspace at all. The UI is stuck at "Migrating workspaces to the new version of Che..."

How to reproduce: Fill your claim-che-workspace PV to 100% and then attempt/force a migratio

[2018-04-25 13:25] ravsa commented on #3095
cc @piyush1594 @animuk

[2018-04-25 13:29] l0rd commented on #3232
@jfchevrette yours is a different issue (your disk space is full). There may be many reasons why a user fill his 1GB PV but in your case I suspect that's related to https://github.com/openshiftio/openshift.io/issues/1614. I don't think it's a SEV1 but should be a P0.

[2018-04-25 13:34] kwk commented on #3305
@ppitonak did request Scrum.

[2018-04-25 13:38] Raunak1203 opened #3307 "Issue if we open setting dropdown and then quickPreview"
Steps:
- Open settings dropdown
- Click on workitem to open quickpreview
![screenshot from 2018-04-25 19-05-54](https://user-images.githubusercontent.com/34271052/39249304-ff48d2d8-48bb-11e8-8685-1477fc225ead.png)

[2018-04-25 13:39] ebaron commented on #3258
@joshuawilson Perhaps? This only occurs with the new launcher via "Try our new Getting Started experience", which only appears for me as an internal experimental feature. I'm not sure if that qualifies as SEV1.

[2018-04-25 13:41] catrobson commented on #3139
Thank you, this is great!

[2018-04-25 13:43] catrobson commented on #3139
@slemeur Let's go forward with this for summit, and start watching users trying it there to make sure the next action is visible and understood.  We can then make further modifications if needed on the next button/capability if still needed.  Ok to close this?

[2018-04-25 13:43] piyush1594 commented on #3258
is this same/like #3095 ?

[2018-04-25 13:43] ppitonak commented on #3291
This issue might get irrelevant when new dashboard is finished.

[2018-04-25 13:43] catrobson commented on #3296
@mceledonia can you take a look at this?

[2018-04-25 13:44] andrewazores commented on #3291
There should be a Deployments backend fix in place before that point, which will make this widget work as expected again.

[2018-04-25 13:45] catrobson commented on #945
@muruGanesan can you take a look into this and provide any suggestions?

[2018-04-25 13:48] lwrigh commented on #2841
Here is the link to the meeting that Muru and I had with Todd to get a sense of the scope of the Git providers within Openshift.io: https://bluejeans.com/s/3kAbV/

[2018-04-25 13:48] catrobson commented on #3272
@mceledonia @dlabrecq @mindreeper2420 please look into this while you're working through fixes on dashboards.

[2018-04-25 13:50] xcoulon opened #3308 "Invalid feature enablement update after user changes settings"
Planner feature is enabled for a user with level `beta`, even though the feature is only available for `internal` and `experimental` levels

[2018-04-25 13:54] catrobson commented on #2841
Can you also post some summarized notes here @lwrigh @muruGanesan ?

[2018-04-25 13:57] mindreeper2420 commented on #3272
This should not be under the 'Production' release and is in the process of being moved back to 'Experimental'. The plan was to inform docs that it was under the 'Experimental' level, so that it could be documented :)

I'm also working with Len/Pavol/Lucia to help them with getting their tests updated against this new dashboard.

[2018-04-25 13:59] tisnik commented on #3243
@msrb @miteshvp I've found the same issue for digests metadata (the same E/P/V). Would you recommend to create new issue for this? Presumably other metadata will be empty as well (but tests are not finished yet).

[2018-04-25 14:05] ebaron commented on #3258
@piyush1594 Yes it is. Closing as duplicate of #3095.

[2018-04-25 14:05] #3258 closed

[2018-04-25 14:11] lwrigh commented on #2841
Yup here are the notes from the meeting:

- For selecting a Git provider, you don’t need to add one until you need it
- The moment you need to ask for it is when a user needs to set up a new repo
- There needs to be a way for a user to select a Git provider before the initial repo set up
- There could be a list of all of your Git accounts, which one do you want to use? Is there a default one?
- Us

[2018-04-25 14:14] bdellasc commented on #3152
Given the discussion, is there enough information to implement what @dlabrecq suggested in his last post? I don't get a sense that you'd need anything from a mockup standpoint to do what he described?

[2018-04-25 14:17] ppitonak commented on #3275
@invincibleJai neither `ctrl+shift+r` nor Incognito mode helped

[2018-04-25 14:26] ldimaggi commented on #3306
I'd recommend designating this issue as P0 as the workaround for users - the user cannot resolve this issue from within the OSIO UI.

[2018-04-25 14:27] lordofthejars commented on #3252
PR sent and it is under review.

[2018-04-25 14:28] joshuawilson commented on #1001
What is the status on this?

[2018-04-25 14:29] ldimaggi commented on #945
I'd vote for #2 - ideally we could show the user a progress-bar.

[2018-04-25 14:31] lordofthejars commented on #3076
I think this is a duplicate of https://github.com/openshiftio/openshift.io/issues/3026

cc/ @kishansagathiya

[2018-04-25 14:34] xcoulon commented on #3308
turns out that `Etag` does not change when `user-enabled` field changes in the response, apparently... (facepalm)

[2018-04-25 14:34] stooke commented on #1001
We've made some fixes in the UI* to properly URL encode usernames - actually, it should be part of a larger reqork to do that same for any user-entered name (space names, etc).  There are almost certainly places where the UI doesn't encode names.

*There is a PR in the UI https://github.com/fabric8-ui/ngx-fabric8-wit/pull/174 awaiting a second review from @joshuawilson.  It will not fix all the is

[2018-04-25 14:35] l0rd commented on #2152
@eivantsov That makes sense with what I have observed. It doesn't look like OpenShift kills the process because it's using too much memory (there would be an evidence in the openshfit events). What we should looked at are the `JAVA_OPTS` memory settings more than the infrastructure configuration.

[2018-04-25 14:36] aptmac commented on #3300
Regarding: # 2
- The add-work-items page is getting a 404 when trying to retrieve the list of work item types.

Regarding # 3:
- This behaviour is a known issue and is documented here: https://github.com/openshiftio/openshift.io/issues/3021

[2018-04-25 14:37] miteshvp commented on #2706
@Preeticp - am not able to reproduce this issue. Can you please try again?

[2018-04-25 14:40] l0rd commented on #2152
We never really finished to tune `JAVA_OPTS` for workspaces https://github.com/redhat-developer/rh-che/issues/451 and the time may have come to work on that.

[2018-04-25 14:44] pradeepto commented on #2825
@joshuawilson This is p0 because it blocks releases of few bits - including the jenkins-openshift-sync plugin which is required by Idler.

[2018-04-25 14:44] aslakknutsen commented on #3112
@sbose78 Seems tenant provision related. checking

[2018-04-25 14:45] l0rd commented on #2318
Ok thanks @kpiwko. I remove the `priority/P0` label then. It doesn't look like it's required for GA. @qodfathr feel freed to add it back if you don't agree.

[2018-04-25 14:54] kwk commented on #3305
Apparently we can ;) GH closed the issue because of my commit message automatically. Sorry about that. I will try to only say `See https://github.com/openshiftio/openshift.io/issues/3305` next time insteaf of `Fixes https://github.com/openshiftio/openshift.io/issues/3305`.

[2018-04-25 14:57] bmicklea commented on #2318
Has the RHD username limit been added?  I don't see it as a linked issue here so can't be sure...

[2018-04-25 14:57] #3305 closed

[2018-04-25 14:58] l0rd commented on #1614
I am raising this one as a `priority/P0` and adding `team/platform`. As @davidfestal explained in the previous comment we have setup a `che-tenant-maintainer` endpoint to clean workspaces data. So now it's just a matter to call this API when resetting a user osio account.

[2018-04-25 14:59] jfchevrette commented on #3306
@ldimaggi It only happens for users that have filled up their PV completely, which is probably very few users.

[2018-04-25 15:01] l0rd commented on #3306
@jfchevrette that's not specific to migration. If you use 100% of the quota you won't be able to create workspaces anyway. During migration only 5 users over thousands had this problem.

In case of migration the workaround would be to access [che5 dashboard](https://che.openshift.io/), delete all the existing workspaces and finally refresh osio codebase UI page to re-trigger migration.

I have rai

[2018-04-25 15:04] muruGanesan commented on #945
@ldimaggi, I'm planning put all '3' together...

[2018-04-25 15:07] kwk commented on #3305
For prod-preview you can see that it has been updated properly:

[code]

[2018-04-25 15:13] kwk commented on #3305
![bildschirmfoto von 2018-04-25 17-11-52](https://user-images.githubusercontent.com/193408/39255040-d8ce4738-48ab-11e8-9b4d-162894b770ea.png)

@ldimaggi prod is updated but apparently the space creation dialog sorts space templates and doesn't select a default one. That makes Scrum the default choice.

@qodfathr is there a template you want to default to?

@michaelkleinhenz @nimishamukherjee @sanb

[2018-04-25 15:27] piyush1594 commented on #3058
@ldimaggi seems duplicate

[2018-04-25 15:32] christianvogt opened #3309 "profile bio character count exceeded and saved"
It's possible to exceed the bio character count in the user profile. If the user pastes a large chunk of text into the bio, although the textarea is truncated to 245 characters (only if pasting view keyboard shortcuts), and then immediately saves, then the bio includes the full text.

![bio](https://user-images.githubusercontent.com/14068621/39256192-427f8bf4-487c-11e8-9b1e-fef5cafb0d24.gif)

[2018-04-25 15:39] vikram-raj opened #3310 "Recommended License modal overlay remain open even after closing the modal."
![screencast from 04-25-2018 09_05_34 pm](https://user-images.githubusercontent.com/2561818/39256577-de88234e-48cc-11e8-8c23-7ce46ff52d9d.gif)

[2018-04-25 15:40] aptmac commented on #3310
Duplicate of https://github.com/openshiftio/openshift.io/issues/2328

[2018-04-25 15:40] #3310 closed

[2018-04-25 15:41] rohanKanojia commented on #3178
Duplicate of #3058

[2018-04-25 15:41] rohanKanojia commented on #3058
@ldimaggi : Yes, looks like it's duplicate

[2018-04-25 15:43] ldimaggi commented on #3058
Closing as a duplicate of #3178

[2018-04-25 15:44] rohanKanojia commented on #3058
No, close #3178

[2018-04-25 15:44] rohanKanojia commented on #3178
Closing as duplicate

[2018-04-25 15:44] #3178 closed

[2018-04-25 15:45] piyush1594 commented on #3058
Let this remain open, close #3178

[2018-04-25 15:47] kpiwko commented on #2318
No, the limit most likely has not been added, see from RHD team comment in the email thread:

So I'm re-adding P0

[2018-04-25 15:52] invincibleJai commented on #3275
not sure what's wrong as am not able to see "section with "Choose a mission" and "Choose a runtime" is too big (too high)" am in chrome. @animuk can you pls try once.

[2018-04-25 16:01] maxandersen commented on #3077
took a bit to test since I could not access launcher in prod-preview - but when I could (in incognito mode) secretes now gets created but I can't access jenkins.prod-preview.openshift.io - but not sure that is related ?

[2018-04-25 16:10] maxandersen commented on #3026
I just saw this issue in prod-preview.

incognito mode and all did and does not help.

Its on an account that probably haven't seen me log in for a while so could be a token expiry - its for account `manderse-madman` if anyone wants to go look closer to it.

[2018-04-25 16:11] Preeticp commented on #2706
@mitesh, this issue, as explained by @rgarg1 above, occurs when there are spaces in the name of the space you create.
As he points out: the spaces in the space name have been escaped. Instead, the spaces should have been replaced by "_".
Actual Space name: Plnr Anltcs doc tests
Current and wrong space name in URL: Plnr_Anltcs%20doc%20tests
Expected space name: Plnr_Anltcs_doc_tests

I tried again

[2018-04-25 16:12] ldimaggi commented on #3121
I am able to recreate this issue 100% of the time by following these steps:
* In Che dashboard, remove all old workspaces
* In OSIO, reset user environment
* Create a new OSIO space
* Create a new OSIO quickstart/app
* From the quickstart, create a new Che workspace
* After the workspace is crated, return to OSIO
* And create a second Che workspace
* Observe the second workspace fail to open:

[2018-04-25 16:48] kishansagathiya opened #3311 "Viewing deployments fails with 500/server error - configmaps "fabric8-environments" is forbidden"
This is Prod
Getting this on clicking on going to deployments after building the VertX HTTP Booster

![screenshot from 2018-04-25 22-14-46](https://user-images.githubusercontent.com/10185999/39260222-7abaad64-48d6-11e8-8269-7e8a6439c2c2.png)

[2018-04-25 16:52] kishansagathiya commented on #3076
@lordofthejars I don't see a similar message(OpenShift Project 'leospol-jenkins' cannot be found) on #3026
We can wait and try to get some logs for this if possible

[2018-04-25 17:08] joshuawilson commented on #2825
@pradeepto it looks like you are raising an issue not related to the title.  The cause and fix may be related. But does this block Planner (or anything else) from pushing to fabric8-ui?

[2018-04-25 17:10] ldimaggi commented on #3076
Are you able to recreate this issue now? Can you try also try this in incognito mode?

[2018-04-25 17:11] ldimaggi commented on #3311
I am seeing this issue too - on production.

[2018-04-25 17:16] ldimaggi commented on #3026
I am not able to recreate this issue on prod-preview - but - my account is used almost daily.

[2018-04-25 17:36] lwrigh commented on #2910
Flows and wireframes to document the add teams and security groups flows are currently being worked on

[2018-04-25 17:55] joshuawilson commented on #1001
@stooke I've merged that PR. Once that change makes it to Prod do you think we can downgrade this issue?

[2018-04-25 17:56] l0rd commented on #2154
@ldimaggi not more than the details that are described in #2154. But we should probably run @rhopp script against cluster `2a` too.

[2018-04-25 17:59] stooke commented on #1001
Absolutely.  The real fix is an architectural change - OSIO keeps being bit by it (space names too long, weird characters, no internationalization, etc), but the band-aid (which this is) is only required if OpenShift names have '+' in them, which I think is not currently allowed any more.  We might want to revisit this even for a more complete band-aid later.

[2018-04-25 18:10] #3207 closed

[2018-04-25 18:28] joshuawilson commented on #3272
It is already under Internal and should not have been reported. We are working on educating people to only review/report on Released and Beta.

[2018-04-25 18:28] aptmac commented on #2622
Fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2654

[2018-04-25 18:28] #2622 closed

[2018-04-25 18:41] qodfathr commented on #945
Maybe instead of saying "No stages have started" we can say something else which may help users to understand? Something like "Setting up build server." I'd avoid being too specific (i.e. don't say "Setting up Jenkins slave pod" or "Unidling jenkins master node"), because, even if more accurate, it's probably less understandable to the uninformed.

Is that potentially the quickest fix?

[2018-04-25 18:44] qodfathr commented on #3066
@rgarg1 I agree it's super annoying, but I feel the severity is currently correct. Even if we bumped to SEV2, I would not assign p0.

But, if all of the Planner SEV2 p0's get completed, then I'd vote to move this to SEV2 and put it at the top of the stack. :)

[2018-04-25 18:45] qodfathr commented on #3248
@rkratky I'm happy to have docs own the wiki, but I really feel this is a decision between ENG and Doc. PM supports whatever is decided.

[2018-04-25 18:51] qodfathr commented on #2285
Is the resolution to just use a newer package? What's the gut feeling on that -- generally a safe operation (it's z-stream, so I hope so...). If this feels like a 5 minute fix, then, yes, sev2/p0 because it does have reasonably broad impact.

If there is concern that this is a hard fix for some reason, then SEV2 but not p0 (so that we can address it soon after the p0's are complete).

[2018-04-25 18:55] qodfathr commented on #3004
It's a "bad thing" but it's not a bug, because the specification never said "be sure to delete the workspaces." Defining "delete" broadly across OSIO is still an open item, and needs a lot of curation from PM, UXD and ENG.

Ultimately, this mainly a pain for the service, because it's wasting resources, but doesn't really impact users. We can probably do some scripted deletions if it becomes a larg

[2018-04-25 19:00] qodfathr commented on #2678
@joshuawilson if it's not doing anything, remove it.
@kishansagathiya I'm reacting to the fact that this is labeled 'type/bug'. If the type needs to change, we should change it. If it is a bug, is needs a severity.

[2018-04-25 19:03] alexeykazakov commented on #3290
It was added as a quick solution more than one year ago for handling token expiration and other similar cases. We crated a lot of technical debt back then.

We should limit logout to some particular cases only... When OSIO user token is expired for example. Or has been revoked... Let's create a separate issue for that where we can discuss it.

cc @rohitkrai03

[2018-04-25 19:08] #3293 closed

[2018-04-25 19:50] qodfathr commented on #3311
Notice that it's giving an error that you cannot access the stuff of **some other user**. I am seeing this, too -- my Deployments screen seems to be trying to load data for ldimaggi and lwright

![image](https://user-images.githubusercontent.com/16322190/39269244-5bd3bc82-48a0-11e8-8d53-0472167e1d0a.png)

[2018-04-25 19:55] joshuawilson commented on #3290
@andrewazores I think we need to look at removing it from `ngx-login-client`. I don't want a hack here. It was a hack that put us in the situation we are in now.

Please work with @rohitkrai03 and check with @dgutride as he has the most experience with the code.

[2018-04-25 19:58] joshuawilson commented on #2678
The `status` menu has been removed from production. This has no impact on idling.

@kishansagathiya Is the removal of the menu enough to close this or is it still an issue?

[2018-04-25 19:59] ldimaggi commented on #3311
So - it seems to be persisting a reference to the previous user that accessed their own deployments?

[2018-04-25 19:59] ebaron commented on #3311
@stooke is fixing this bug with this PR: https://github.com/fabric8-services/fabric8-wit/pull/2057

[2018-04-25 20:05] jfchevrette commented on #3232
I wonder if this may be a case of trying to start a 2nd workspace while another workspace pod (or the migration pod) has the PV attached?

[2018-04-25 20:15] #1001 closed

[2018-04-25 20:41] aptmac commented on #1804
Fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2552

[2018-04-25 20:41] #1804 closed

[2018-04-25 20:50] #3265 closed

[2018-04-25 20:51] maxandersen commented on #3077
@pmacik @ldimaggi  since this is now in prod, can you run a perf tests where you do *not* prime jenkins ? if that no longer reproduces the issue we can close this.

[2018-04-25 20:51] #2662 closed

[2018-04-25 20:51] #2659 closed

[2018-04-25 20:53] maxandersen commented on #3077
as discussed on calls today downgrading this from SEV1 to SEV2 since this is not actually in prod but in experiemental feature; but it is a P0 as we'll need this ready very soon.

[2018-04-25 20:58] aptmac commented on #1886
The dropdown sizes to be the width of the longest space name, what if it's width were to be constrained? e.g., here it is with width: 50%
![fixed-size-dropdown](https://user-images.githubusercontent.com/10425301/39272366-b3b82e98-48a9-11e8-82fa-d20e8c401dfb.png)

[2018-04-25 22:36] christianvogt opened #3312 "error: failed to load chunk"
Every time we push a change to production we are potentially causing grief for our users with existing sessions opened in the browser wherein their webapp may throw errors and they will need to refresh their page to fix the issue.

The build produces chunks and each chunk is named with a hash. The hash changes whenever the artifacts within a chunk change. The main artifact knows the names of all t

[2018-04-25 22:44] christianvogt commented on #3312
We need to reproduce this in production.

Open OSIO in a browser but do not navigate anywhere (may want to try different landing pages). Then wait till new changes are pushed to production and try to navigate the app. Check for errors in the console for failure to load chunk errors.

[2018-04-25 22:47] bdellasc opened #3313 "Launch Experience - Add cluster selection into existing flow"
**Verification Conditions**
- [x] Verify use cases with UXD and Dev teams, get answers to questions, verify scenarios we need to support [27 Apr Meeting Notes](https://docs.google.com/document/d/1gZJiW_AhMQOr9jlOj0bz_qimttKY48ahEpDNaGNgxjw/edit?usp=sharing)
- [x] As promised in the meeting, provide design for [.ZIP download instructions page](https://redhat.invisionapp.com/share/6BEZL73M7#/2868926

[2018-04-25 23:01] christianvogt commented on #3312
One solution could be:
Have the web client check for version changes (using a websocket connection?). When the version changes, our router instead of updating the page like a SPA would instead cause the new route to refresh the web app to the new URL. Upon refreshing the new chunk names would resolve without issue.

There are still potential problems here in that actions taken by the user that doe

[2018-04-25 23:55] joshuawilson commented on #3058
Which team is working this? Please add the team label.

[2018-04-26 00:29] starksm64 opened #3314 "First quick start app has Loading... status after 20 mins"
I have created a new quick start wfswarm project, and have been waiting for something to show up in the Application section to continue the 4.4 Working with pipelines section of the quickstart. However, I am not seeing anything in the Applications section of the dashboard as seen in the attached screen shot after 20+ minutes since the creation of the osio-test project.

If I look at the project on

[2018-04-26 01:01] joshuawilson commented on #3314
Duplicates #3291

[2018-04-26 01:08] starksm64 commented on #3314
This does not seem to be the same issue as there are no builds running, and it is a 500 error from the webhook, not a 401 error from the widget.

[2018-04-26 01:16] joshuawilson commented on #3314
Fair enough, I'll reopen and call it related to #3291

[2018-04-26 01:29] kishansagathiya commented on #2678
I think we can close this.

On Thu 26 Apr, 2018, 1:28 AM Joshua Wilson, <notifications@github.com>
wrote:

[2018-04-26 01:40] #2678 closed

[2018-04-26 01:53] muruGanesan commented on #945
@qodfathr, thanks, I will work on few options and come back.

[2018-04-26 02:02] joshuawilson commented on #3273
It is supposed to run on the latest 2 versions of all browsers. If you have compatibility issues you can check with @mindreeper2420. He has been helping in this area.

[2018-04-26 02:26] joshuawilson commented on #3219
This is under Experimental and not ready for review. Closing.

[2018-04-26 02:26] #3219 closed

[2018-04-26 02:27] joshuawilson commented on #3216
This is under Experimental and not ready for review. Closing.

[2018-04-26 02:27] #3216 closed

[2018-04-26 02:31] joshuawilson commented on #2859
this is done

[2018-04-26 02:31] #2859 closed

[2018-04-26 02:35] mmatsuya commented on #3026
I tried it in incognito mode, but now I cannot create an application at all.
I selected "mmatsu space" as a space, and clicked 'Create an application'.
Select 'Create a new Quickstart project'. Select 'Vert.x HTTP Booster'.
Changed into 'helloworldvertx4" in OpenShift Project name.
Selected 'Release, Stage, Approve and Remote'. And just clicked next or
finish without any change. And, I didn't see

[2018-04-26 02:38] joshuawilson commented on #3203
Are you still able to reproduce this?

[2018-04-26 02:44] joshuawilson commented on #3026
Is it possible this has to do with the issue where the new launcher wizard has a name and app name that don't match?

[2018-04-26 03:06] sthaha commented on #3077
Just a heads up, I am adding a fix to the pipeline side as well - https://github.com/fabric8io/fabric8-pipeline-library/pull/401 (WIP)

[2018-04-26 03:14] kishansagathiya opened #3315 "Can't see applications - pipelines are not visible in OSIO UI"
I have tried several scenarios
- In incognito, without incognito
- Tried reseting my environment
- Tried quickstart projects
- Tried adding importing the code
Nothing seems to show me my applications

![screenshot from 2018-04-26 08-40-56](https://user-images.githubusercontent.com/10185999/39283793-9de28a12-492d-11e8-9ed4-c1fdd9dbe1d4.png)

[2018-04-26 03:29] ldimaggi commented on #3315
I am seeing the same thing. If you open the Chrome browser console - you see a stream of these errors:
[code]

[2018-04-26 03:35] ldimaggi commented on #3314
Is this the same problem as - https://github.com/openshiftio/openshift.io/issues/3315

[2018-04-26 03:37] ldimaggi commented on #2154
And - against all the additional clusters too.

[2018-04-26 03:59] ldimaggi commented on #3315
The problem is worse than originally logged.

If you set the Features Opt-In to 'Production' - and create a new space and quickstart - the quickstart pipeline is not created.

[2018-04-26 04:05] starksm64 commented on #3314
If I open the console I am seeing the same websocket errors as #3315 . I have attached the console log.

[openshift.io-1524715452603.log](https://github.com/openshiftio/openshift.io/files/1949663/openshift.io-1524715452603.log)

[2018-04-26 04:11] joshuawilson commented on #3315
Is this a duplicate of #3291 or #3314

[2018-04-26 04:26] joshuawilson commented on #3315
I'm setting this back to SEV1. I can't see anything for the pipeline/build.

I'm getting
`Error retrieving list BuildConfigs: SyntaxError: Unexpected token < in JSON at position 0`

followed by a 500 on the deployments.

@pradeepto @rupalibehera @chmouel @sthaha @jaseemabid can you take a look

[2018-04-26 04:28] aslakknutsen commented on #3315
Probable root casue: https://github.com/openshiftio/openshift.io/issues/3290

[2018-04-26 04:28] aslakknutsen commented on #3291
Probable root casue: https://github.com/openshiftio/openshift.io/issues/3290

[2018-04-26 04:28] aslakknutsen commented on #3314
Probable root casue: https://github.com/openshiftio/openshift.io/issues/3290

[2018-04-26 04:38] sbose78 commented on #3290
There was a similar situation faced when we introduced the GET /api/token endpoints , where a legit 401 had caused a log out in the Getting Started page - the fix to avoid that was this https://github.com/fabric8-ui/ngx-login-client/commit/5e4a6a3b305030b162658b151358a2b6c026eeab .

[2018-04-26 04:56] gastaldi commented on #3076
This error is thrown here: https://github.com/fabric8-launcher/launcher-backend/blob/master/web/src/main/java/io/fabric8/launcher/web/api/OpenShiftResource.java#L162 (which may need to be reviewed by the build team if that changed recently)

I have opened https://github.com/openshiftio/openshift.io/issues/2093 a long time ago asking to move that code to the Build team ownership and if requires cha

[2018-04-26 05:04] sanbornsen commented on #2706
@joshuawilson due to the guided type work item creation, we don't allow creating work items out of planner. That non-contextual add work item dialog is legacy and doesn't work.

[2018-04-26 05:14] animuk commented on #3235
thanks @gastaldi . This is working now in prod. closing this

[2018-04-26 05:14] #3235 closed

[2018-04-26 05:24] sthaha commented on #3315
Adding to @ldimaggi's observation that pipelines are created in openshift and the builds run in Jenkins but the UI seems to not reflect that.

[2018-04-26 05:33] animuk commented on #3124
hi @kenfinnigan , Please comment on the availability and supportibility of this booster in OSIO because this is in priority. I know, you already said that the this won't be fixed in WF Swarm product until 7.1.0 is released, which is likely some time in May. So, Should we park it for now ?

[2018-04-26 05:59] animuk commented on #3273
@jyasveer Please reach out to https://github.com/openshiftio/openshift.io/issues/2944 for this.It may help you. closing this as this is duplicate.

[2018-04-26 05:59] #3273 closed

[2018-04-26 06:02] animuk commented on #3276
duplicate issue :https://github.com/openshiftio/openshift.io/issues/2944

[2018-04-26 06:02] arunkumars08 commented on #2706
@sanbornsen @joshuawilson Yesterday I raised a PR with respect to addressing dynamic space templates - https://github.com/openshiftio/openshift.io/issues/3304

Will this not help?
Or is this something entirely different?

@kwk

[2018-04-26 06:03] animuk commented on #3276
closing this as you can track in : https://github.com/openshiftio/openshift.io/issues/2944

[2018-04-26 06:03] #3276 closed

[2018-04-26 06:14] animuk commented on #3130
It seems that this is related to che.

[2018-04-26 06:25] jyasveer commented on #2706
@Preeticp What i remember we had addressed this scenario. however we will see to it again. Thanks

[2018-04-26 06:25] maxandersen commented on #3026
renaming this issue since it seems to have very little if anything to do with the promote button but simply about jenkins auth/login issues when trying to get to it.

Also now observed in production by @aslakknutsen it seems.

[2018-04-26 06:25] animuk commented on #2117
This type of issue we have resolved by reengineering the new Launcher experience Flow. This issue should not be there. Closing this.

[2018-04-26 06:25] #2117 closed

[2018-04-26 06:32] piyush1594 commented on #3095
I tried to reproduce this with the help of @ravsa and it is reproducible.

[2018-04-26 06:37] jyasveer commented on #3141
@catrobson Do we have any updates on this please ?

[2018-04-26 06:49] #3308 closed

[2018-04-26 06:51] invincibleJai commented on #3196
@joshuawilson @animuk as per my understanding this fails in space overlays, which is owned by platform. Changing the label, let me know if you want me to look into this.

[2018-04-26 06:53] invincibleJai commented on #3198
@joshuawilson  @animuk  as per my understanding this falls in space overlays, which is owned by platform. Changing the label, let me know if you want me to look into this.

[2018-04-26 07:00] corinnekrych opened #3316 "Retrieve all features of fabric8-ui without specifying name as input."
Task belong to [UserStory User consent profile screens revisited](https://github.com/openshiftio/openshift.io/issues/2402)

We need en endpoint:
- to retrieve all features with that use strategy `enableByLevel` ie; all features defined for fabruc8-ui feature-flag
- similar to the endpoint `https://api.prod-preview.openshift.io/api/features?group=Analyze` that retrieve features per group, here we n

[2018-04-26 07:03] rgarg1 commented on #3074
@vikram-raj The issue was observed on the list view and not on the board view. Only the steps to reproduce involved board view, so I'll try to reproduce it once the board is removed and I hope we don't see it anymore.

[2018-04-26 07:04] sthaha commented on #3077
#### Update

I was under the wrong impression that `withCredentials`(used in pipeline) silently pass when credentials are absent but in fact it fails so, we do not require changes to pipeline library itself. What I found was that the following log is printed even before the control reaches pipeline.

[code]

There is a good chance that we may hit this issue if `cd-github` credentials are missing f