[2018-05-03 10:59] jaseemabid commented on #3095
Pasting the diff here inline.

[code]

[2018-05-03 11:10] animuk opened #3430 "wildflyswarm rest http booster fails to build in the pipeline"
[code]

[2018-05-03 11:26] jaseemabid opened #3431 "Space overview UI is slightly broken"
See the screenshot.
![2018-05-03-165428_620x596_scrot](https://user-images.githubusercontent.com/601714/39573911-c193a804-4ef2-11e8-8c49-e8c88e9a83bc.png)

PS: I've no idea what 'bobross_925' is, but googling for that gives just one result, @ldimaggi's github account.

The 59 collaborators might be a problem as well.

[2018-05-03 11:27] jaseemabid commented on #3431
cc: @joshuawilson Is there a `team/` tag for UI?

[2018-05-03 11:30] animuk commented on #3430
reference issue: https://github.com/openshiftio/openshift.io/issues/3134
Updates from the wildflyswarm team : There will be no release of WF Swarm Boosters based on 7.1.0 until the end of May, any environment, anywhere
Only the community boosters have this fix, it's only the product boosters that are affected

[2018-05-03 11:30] piyush1594 commented on #3431
![ui](https://user-images.githubusercontent.com/19270240/39574080-774fb980-4ef3-11e8-86f7-b898a6fdfd4a.png)
I am also seeing the same

[2018-05-03 11:31] jaseemabid commented on #3299
I've seen this once in a while and since its a network/infrastructure issue, there is nothing much build team could do. In general the services underneath are flaky and when you see a lot of these, you start to ignore them.

I think we should monitor the infra bits more carefully and fix it at the lower level, it is substantially harder to fix these things when the real problem is hidden deep insi

[2018-05-03 11:40] invincibleJai opened #3432 "Have same value for application name and repo name In new Launcher flow"
Have same value for the application name and repo name as part of contingency plan with changes at Launcher.

### Create Flow
- [x] Pass value of App name provided by User as repo Name.
- [x] Change in repo Name should be reflected on Application Name.
- [x] Change in App Name in Step Indicator should be reflected in repo Name.
- [x] Change in App Name in Summary View should be reflected on repo N

[2018-05-03 11:57] pradeepto commented on #3299
cc @krishnapaparaju  @maxandersen

[2018-05-03 11:58] lordofthejars commented on #3422
I have tried this in prod with `beta` features. What I have done is:
1) Reset my environment
2) Go to `jenkins.openshift.io` and wait until the Jenkins UI has come up.
3) Create a new project
4) The build is never started

Navigating though Jenkins UI I noticed two things:

1) No **slave** is up and running, all of them are idled.
2) The project itself (the Jenkins job) is not created, so obviousl

[2018-05-03 11:59] piyush1594 commented on #3058
@maxandersen @krishnapaparaju @pradeepto Can you please take a look at this?

[2018-05-03 12:00] piyush1594 commented on #3299
@maxandersen @krishnapaparaju @pradeepto Can you please take a look at this?

[2018-05-03 12:09] maxandersen commented on #3058
possibly related to https://github.com/openshiftio/openshift.io/issues/3299

can any who have this issue do whats suggesting in [bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1552373):

[code]

[2018-05-03 12:16] pradeepto commented on #3299
possibly related to #3058

(from the upstream bugz link)

Can any who have this issue do whats suggesting in bugzilla:
Can you curl the pod IP addresses directly?
Can you curl the service while checking tcpdump output?
Can you attach the OVS flows and iptables rules please?

oc adm diagnostics networkcheck

@bmicklea @qodfathr This issue is so intermittent and we can't reproduce it. We tried it ma

[2018-05-03 12:25] piyush1594 commented on #3422
Yes the github username config map in resources tab of username namespace is there for me.

[2018-05-03 12:26] sdash-redhat commented on #3357
Updated and shared the draft with stakeholder.

[2018-05-03 12:27] lordofthejars commented on #3422
But in this case, there is no job created.
<img width="802" alt="screen shot 2018-05-03 at 14 26 17" src="https://user-images.githubusercontent.com/1517153/39576321-0890f712-4ede-11e8-90aa-72a8bc8a1375.png">

[2018-05-03 12:32] krishnapaparaju commented on #3299
@qodfathr this is an intermittent problem, I guess you going thru (no building getting started) is tracked here at #3422

[2018-05-03 12:39] rohanKanojia commented on #3422
Here is my configmap screen on openshift console:
![screenshot from 2018-05-03 18-08-25](https://user-images.githubusercontent.com/13834498/39576799-07da9066-4efd-11e8-8045-57b803e7433e.png)

[2018-05-03 12:39] jiekang commented on #3380
Isn't there an issue somewhere within that code that's calling the same HTTP request repeatedly? Removing the whole component would work but it sounds like it wouldn't fix the issue within the component.

@dlabrecq Any ideas regarding what might be occurring inside ApplicationsStackReportComponent? Is it coming from some component in fabric8-stack-analysis-ui that is being used there?

[2018-05-03 12:43] #3363 closed

[2018-05-03 12:52] jmelis commented on #3321
All the services are now running on RHEL. Closing issue.

[2018-05-03 12:52] #3321 closed

[2018-05-03 12:56] ibuziuk commented on #3320
PRs for handling `cluster-capacity-exhausted` for che-starter & rhche:
- https://github.com/redhat-developer/che-starter/pull/304
- https://github.com/redhat-developer/rh-che/pull/661

[2018-05-03 13:00] rohanKanojia commented on #3422
I'm attaching my jenkins pod logs: https://pastebin.com/pTbu1xKV

[2018-05-03 13:55] bmicklea commented on #3299
Do we have a sense for how quickly it goes away?  Or once it happens does it somehow "corrupt" a user's project/space?

[2018-05-03 13:58] bmicklea commented on #3356
Thanks @lordofthejars. Any idea how we fix this?  I can see a non-trivial number of users pausing while using OSIO long enough to hit these kind of idle/unidle issues.

[2018-05-03 14:01] lordofthejars commented on #3356
@bmicklea Not on my side. No idea why this is happening.

[2018-05-03 14:03] dlabrecq commented on #3380
When the pipelines observable is updated, this will rerender the stack report. I added code to the applications-details component to only update when the pipeline's statusPhase changes. That code should prevent the stack report component from being updated unnecessarily.

There are a few requests at first, after the application has been initially created, but it seems to settle down quickly.

That

[2018-05-03 14:04] jiekang commented on #3431
These components are currently on 'Internal' level. It's a work in progress and is known. People on Production, Beta and even Experimental should not see these.

[2018-05-03 14:06] jiekang commented on #3380
Maybe the stack report component could be reworked? In my screenshot the http requests are all the same and the response contents are the same as well. It doesn't really make sense.

[2018-05-03 14:07] dlabrecq commented on #3380
Yes, that would be ideal.

[2018-05-03 14:07] #3287 closed

[2018-05-03 14:10] jiekang commented on #1913
My understanding of the pipelines component in fabric8-ui is it's pulling BuildConfigs straight from OpenShift API. It's strange that it would be missing some. Maybe my assumption is wrong then.

[2018-05-03 14:11] arunkumars08 commented on #3380
@dlabrecq Yes Dan. Also, there is one thing to note here, stack report gets called on loading itself as there are some preliminary checks that will happen to show CVEs and other information up front. That being said, we can discuss about keeping it as we already have the stack report dedicated card.

[2018-05-03 14:11] ldimaggi commented on #3422
Is the problem only being seen AFTER a tenant update/env reset? Does this explain why only some users are seeing this issue?

[2018-05-03 15:09] ibuziuk commented on #3426
@corinnekrych do you happen to know if someone from UI team would be able to help with this one ?

[2018-05-03 15:46] kwk commented on #2868
As for the product backlog item and impediment we have a resolution as of https://github.com/fabric8-services/fabric8-wit/pull/2067. Icons of work item types and side panel entries where changesd according to these designs: https://redhat.invisionapp.com/share/WJGSJ17SMHN#/screens/290540724.

**Impediment** (WIT):

Changed from `fa fa-question` to `fa fa-stumbleupon`  ![bildschirmfoto von 2018-04-

[2018-05-03 16:01] Raunak1203 opened #3433 "[~1] Label filter disabled in select filter dropdown"
Steps-
- Create a new space
- Create 2-3 workitem
- Select Filter By Option
- Click on Label
- Label is disabled(We don not have label)
- Now Click on workItem
- Create a new label
- Assign it to workitem
- In Filter-By label is still disabled
![screenshot from 2018-05-03 21-31-26](https://user-images.githubusercontent.com/34271052/39588418-5f34a286-4f19-11e8-9baf-2255d2d47c34.png)

[2018-05-03 16:03] pradeepto commented on #3299
@krishnapaparaju No, @qodfathr 's is facing a different issue. Todd is on an old tenant Jenkins which still doesn't have the problem that users complained on #3422 .

As mentioned, this issue is different and is very intermittent and shows all signs of network/infra issue. If seen again, please provide the above data. We need to pass that on to upstream folks.

@rohanKanojia @qodfathr @ldimaggi @a

[2018-05-03 16:11] animuk opened #3434 "Tests fail at Che for WF-Swarm -- HTTP (Community)"
In the Che editor, booster builds are failing. Tests has been failing.
But, We can build the booster at Che by invoking command : mvn install -DskipTests
![today1](https://user-images.githubusercontent.com/11207106/39589050-be76afae-4f1a-11e8-80c9-bc5b557b4a2e.png)

[2018-05-03 16:12] Raunak1203 opened #3435 "Fix type column width(Scrum template)"
![screenshot from 2018-05-03 21-39-08](https://user-images.githubusercontent.com/34271052/39589058-c943ff04-4f1a-11e8-8b04-382a87cbcb0a.png)

[2018-05-03 16:19] animuk opened #3436 "Tests fail at Che for WF-Swarm -- healthcheck (Community)"
In the Che editor, booster builds are failing. Tests has been failing.
But, We can build the booster at Che by invoking command : mvn install -DskipTests
![today2](https://user-images.githubusercontent.com/11207106/39589441-d27337d8-4f1b-11e8-8c7b-e66ad7f8e1b7.png)

[2018-05-03 16:20] Raunak1203 opened #3437 "Distorted column issue with Scrum template"
- Go to settings
- Move all the columns from Displayed -> Available
- Then Move all the columns from Available -> Displayed
![screenshot from 2018-05-03 21-47-45](https://user-images.githubusercontent.com/34271052/39589463-e13f6b10-4f1b-11e8-92d1-25ec2ef6eb74.png)

[2018-05-03 16:26] ldimaggi commented on #3422
The number of users affected? Seems likie only the users who have commented on this issue? What's the fix for affected users? Env reset?

[2018-05-03 16:26] ldimaggi commented on #3422
Followup question - how does a user determine the version number of jenkins they are running?

[2018-05-03 16:28] piyush1594 commented on #3422
You go to jenkins namespace in Opensift onsole, go to jenkins dc and there will you get the info about the jenkins version.

[2018-05-03 16:29] jiekang opened #3438 "fabric8-ui: Header component has unknown method in html"
`header.component.html` has snipped contents:

[code]

`onDocumentationListVisible` exists but there is a reference to `onDocumentationList` which does not exist. Maybe it's a typo?

[2018-05-03 16:30] jiekang commented on #3438
@mindreeper2420 Any ideas?

[2018-05-03 16:30] Raunak1203 opened #3439 "Show Completed doesn't work for scrum template"
Steps:

- Change Work Item State to Done(Show Completed Checked)
- Now Click Show Completed
- Work Item with State Done should not be displayed

[2018-05-03 16:37] jiekang commented on #3426
I think a UX change needs some review from the UX team. @catrobson

If this is truly P0 that needs to be addressed, I recommend in the short term that:

1. In every location in UI that it's possible to create workspace (I hope it's one spot, the codebases page?), a request is made to above API and if `clusterFull` is `true`, the normal request to create does not occur and a warning notification is

[2018-05-03 16:40] ibuziuk commented on #3426
@jiekang yeah, I believe it is P0 since it is a subtask of https://github.com/openshiftio/openshift.io/issues/3320

thanks for the pointers with `NotificationsService`

[2018-05-03 16:41] jiekang commented on #3160
After some more investigation it looks like the code does reopen a new websocket connection. There's still the issue of a close frame containing a reserved status code but I'm not really sure where to look to fix that. I think it would be the server that this client is connecting to?

[2018-05-03 16:45] jiekang commented on #3426
As far as the warning message something like:

Workspace capacity is reached, new workspace cannot be started.

However, it would be best if it also included a note on how users can proceed to a state where they can start the workspace that they originally wanted to start. Is there something actionable for the user in this state?

[2018-05-03 16:47] Raunak1203 opened #3440 "dropdown alignment issue (scrum template)"
![screenshot from 2018-05-03 22-05-57](https://user-images.githubusercontent.com/34271052/39590848-a33f4b9c-4f1f-11e8-9cb6-0b3d511978fc.png)

[2018-05-03 16:50] jiekang commented on #2188
The developer tasks are tracked at:

https://github.com/openshiftio/openshift.io/issues/3126
https://github.com/openshiftio/openshift.io/issues/3127

with parent user story at:

https://openshift.io/openshiftio/openshiftio/plan/detail/2144

[2018-05-03 16:52] ibuziuk commented on #3426
@jiekang in terms of message smth. like this should be good:

I believe there is nothing "actionable" could be done from the user perspective. So, just showing message and preventing workspace startup should be just enough

[1] https://github.com/redhat-developer/rh-che/pull/661/files#diff-f2821ac62d8158e3bafa443f0876cddeR146

[2018-05-03 16:56] jiekang commented on #3426
Yes that message makes more sense. Thanks!

[2018-05-03 17:27] ibuziuk commented on #3428
seems relevant to add this flag to command if it does not have side effects.
Or is it planned to have a fix from quickstart side ? there is already one update pending for quickstart - https://github.com/openshiftio/openshift.io/issues/2988#issuecomment-386076481

[2018-05-03 17:52] slemeur commented on #3131
@gytis : Do you have an update?
@animuk : Why did you removed the P0 from this issue?

[2018-05-03 17:59] ldimaggi commented on #3336
Looks like it has been fixed - cannot recreate the problem.

[2018-05-03 18:14] nimishamukherjee opened #3441 "Planner - The filter dropdown for state does not get updated for Scrum template"
Planner - The filter drop down for state does not get updated for Scrum template. It shows the SDD values.

[2018-05-03 18:16] jfchevrette opened #3442 "Jenkins excessive CPU usage"
It looks like jenkins often uses 50% of a cpu core (up to 1 full cpu core) from startup up to when the pod is idled/scaled down.

This has been observed across multiple tenants namespaces and jenkins deployments.

Could there be a bad plugin consuming a lot of CPU for some reason?

I've sampled logs from a couple of jenkins pods which were showing high CPU utilization and I did not notice any repe

[2018-05-03 18:17] jfchevrette commented on #3442
Raising this as a SEV-2. If this is widespread across all jenkins this will affect our ability to scale and may cause cluster performance issues.

[2018-05-03 18:17] dlabrecq commented on #3380
I spoke with @mceledonia and UXD is okay with removing it since there is a stack report widget in the page already.

[2018-05-03 19:39] maxandersen commented on #3428
@cescoffier what do you guys prefer ? seems fixing it in the pom.xml would be the best/most complete option ?

but if not then lets fix it in the stacks. And yes @ibuziuk it does not have any sideeffects as far as we know except actually making it work reliably ;)

[2018-05-03 19:49] gastaldi opened #3443 "The `More` link when selecting a mission shouldn't appear if the description fits the box"
The `More` link doesn't make sense in such a small content. It should be displayed only in large descriptions

![screenshot from 2018-05-03 16-46-55](https://user-images.githubusercontent.com/54133/39599265-aa11826a-4ef1-11e8-8a98-2f27d106d082.png)

[2018-05-03 19:50] gastaldi commented on #3443
Same is valid for Runtimes

[2018-05-03 19:52] jfchevrette commented on #3442
Bumped to SEV1 because we can't meet the scale goals and concurrency expectations if jenkins is using so much CPU for log periods of time. This may even be the reason why we're seeing a lot of slowdowns in jenkins & builds lately.

[2018-05-03 20:32] ibuziuk commented on #3428
@cescoffier we are going to make rollout (hopefully last before summit) on prod, so please let me know if we should update the command

[2018-05-03 21:27] maxandersen commented on #3442
trying to reproduce it and use jstack to locate the problematic code.

[2018-05-03 22:48] maxandersen commented on #3442
I haven't been able to catch the issue yet but if anyone does see high cpu usage then please do this within your jenkins namespace:

` oc rsh dc/jenkins jstack 1` a few times (with 5-10 s) between and attach the output here.

then we should be able to spot where the "hotspot" is.

[2018-05-03 22:56] kbsingh opened #3444 "build jobs are set to timeout after 3600 seconds should be 900 seconds"
At the moment, build jobs ( the jenkins slace and ose-sti ) are set to timeout after 3600 seconds, this needs to be lowered to 15 min ( 900 seconds )

[2018-05-03 23:04] #3381 closed

[2018-05-03 23:31] maxandersen commented on #3422
sorry for late update but we should be all done here now.

1) new version of jenkins rolled out that has proper sync plugin
2) @aslakknutsen  identified users affected by running the following with admin priv:
[code]

with `templ.tm` being:
[code]
that gave us the list of ~71 users, 18 non-redhat

3) for all 39 users that had updated to 4.0.71 @aslakknutsen  did a cleanup of their PV:
[code]
and t

[2018-05-03 23:52] catrobson commented on #3426
@mceledonia can you take a look at this since it relates to the other quota messages we're looking to have in OpenShift.io?

[2018-05-04 02:54] sthaha commented on #3320
### Proxy & Idler update

- Idler (deployed to prod-preview) now honours the `cluster-capacity-exhausted` flag and wakes up Jenkins only if the flag isn't set (`false`).
- The patch to show the "Capacity full" when user visits https://is in progress and should be in prod-preview today

[2018-05-04 02:55] alexeykazakov opened #3445 "API to delete a user from Tenant should be DELETE. Not GET"
Currently the endpoint for deleting users in tenant service is declared as `GET /api/tenants/:tenantID` which conflicts with another endpoint.

It should be `DELETE /api/tenants/:tenantID instead.`

Introduced by https://github.com/fabric8-services/fabric8-tenant/pull/579

Part of https://github.com/openshiftio/openshift.io/issues/2393
Blocks https://github.com/fabric8-services/fabric8-auth/pull/4

[2018-05-04 03:16] ldimaggi commented on #3422
My account is still seeing this problem:
![screenshot from 2018-05-03 23-15-38](https://user-images.githubusercontent.com/642621/39611723-fa1ca038-4f27-11e8-8929-d6ea183407dd.png)

Is anyone else still affected?

fabric8/jenkins-openshift:v38d21c0

[2018-05-04 05:01] divyanshiGupta commented on #3359
@nimishamukherjee do we need to have a discussion on this? Or should I implement close popover on outside click?

[2018-05-04 05:11] rgarg1 commented on #3359
UX can take the final call, but IMHO we can leave the closing of the info-tips part to the user.

[2018-05-04 05:16] rgarg1 commented on #3359
I see two issues with the current implementation:
1) The info-tips overlap with each other, and clicking on the lower info-tip does not bring it to the foreground. This makes it difficult for the user to read it
2) Clicking the info-tip for Experiences also results in a click on the Experiences. The same behavior was experienced with all other info-tips too.

@nimishamukherjee Should I track these

[2018-05-04 05:25] maxandersen opened #3446 "fabric8-init tenant failing to deploy in production"
found in logs of failing fabric8-inittenant:
[code]

seems related to https://github.com/fabric8-services/fabric8-tenant/commit/2614bf1824754901b7e2f9d7b4ad4d7e3bac61ff

[2018-05-04 05:26] maxandersen commented on #3446
prevents rollout of fix for https://github.com/openshiftio/openshift.io/issues/3422

[2018-05-04 05:27] #3445 closed

[2018-05-04 05:27] maxandersen commented on #3422
reopened as error in tenant caused rollout to not occur see #3446

[2018-05-04 05:37] divyanshiGupta commented on #3359
@rgarg1 for the 2 issue that you mentioned, I have handled the click propagation to parent on the infotip icon and the close pop-over icon. Are you clicking on the pop-over itself?

[2018-05-04 05:41] divyanshiGupta commented on #3359
And for the 1st issue if close pop-over on outside click is implemented then it will take care of multiple tooltips remaining open simultaneously and overlapping issue.

[2018-05-04 05:51] Raunak1203 opened #3447 "Filter dropdown for WorkItemType also supports Impediements and Scrum Common Type"
![screenshot from 2018-05-04 11-18-07](https://user-images.githubusercontent.com/34271052/39614398-2319d374-4f8d-11e8-97a7-b0dff92f2fc0.png)

[2018-05-04 05:56] divyanshiGupta commented on #3359
![Uploading New GIF.gif…]()

[2018-05-04 05:58] invincibleJai commented on #2944
Thanks @jyasveer, closing it works fine for me.

[2018-05-04 05:58] #2944 closed

[2018-05-04 05:59] invincibleJai commented on #2858
@sara-02 has this been fixed?

[2018-05-04 06:01] divyanshiGupta commented on #3359
![new gif](https://user-images.githubusercontent.com/20724543/39614567-85582bf2-4f8e-11e8-8cdc-f92b4681d75b.gif)

[2018-05-04 06:01] divyanshiGupta commented on #3359
I couldnt reproduce 2nd issue.

[2018-05-04 06:01] rgarg1 commented on #3359
@divyanshiGupta Yes, I'm clicking on the pop-over. This click should not propagate down but instead should only bring the clicked pop-over to the foreground.

[2018-05-04 06:03] nimishamukherjee opened #3448 "Planner: Use consistent case for state options between templates"
The work item states are in lower case for the SDD template
![sdd_states](https://user-images.githubusercontent.com/1892722/39614579-97f3e756-4f8e-11e8-9eb9-c6ea601015c3.png)

The work item states start with a capital letter in the scrum template
![scrumstates](https://user-images.githubusercontent.com/1892722/39614604-bb70ffc0-4f8e-11e8-8954-e0d99d00d195.png)

We need to use a consistent format -

[2018-05-04 06:04] rgarg1 commented on #3359
for the second issue, the following Gif would help you:

![infotips](https://user-images.githubusercontent.com/28748448/39614656-258d84e6-4f8f-11e8-89d2-b83f260d9b67.gif)

[2018-05-04 06:05] divyanshiGupta commented on #3359
@rgarg1 Got it :+1: . So if outside click is in place all of the above-mentioned issues will be resolved.
@nimishamukherjee should I start implementing it?

[2018-05-04 06:05] rgarg1 commented on #3359
I'm not sure if outside click should be implemented at all.

[2018-05-04 06:06] divyanshiGupta commented on #3359
Should we wait for the UX to look at it?

[2018-05-04 06:07] rgarg1 commented on #3359
Issue # 3

The info-tips always stack-up in a particular order (Scenario > Exp > Reqs), but not in the order they were opened.

[2018-05-04 06:07] alexeykazakov commented on #3446
Fixed by https://github.com/fabric8-services/fabric8-tenant/pull/588

[2018-05-04 06:07] #3446 closed

[2018-05-04 06:08] rgarg1 commented on #3359
Cc @sunilmalagi @Veethika

[2018-05-04 06:09] rgarg1 commented on #3447
This should be p0.

[2018-05-04 06:10] Preeticp commented on #3448
@nimishamukherjee this was raised earlier, @kwk says these need to be fixed at backend, do I have that right @kwk.
I recommend title case, that is New, Open, In-Progress and so on, to keep it consistent with rest of OSIO UX.
Please note, if we change this, we need to ensure that they are changed in the 'Filter by state' options too.

[2018-05-04 06:11] maxandersen commented on #3422
#3446 fixed, but still need to recheck users who have bad plugins. @aslakknutsen can you rerun your checks ?

[2018-05-04 06:13] arunkumars08 commented on #3194
Closing this as changes are pushed to prod long time back.

[2018-05-04 06:13] #3194 closed

[2018-05-04 06:30] sara-02 commented on #2858
@stooke

We don't train on packages, we train on application stack(a combination of packages). So for any project, we collect its first level dependency and treat that as one combination. Then based on all combinations we have, the packages are trained. An individual package can be a project in itself, in that case, we again use the first level dependencies of that package.
Eg of application stack

[2018-05-04 06:36] jaseemabid commented on #3429
This is feature work, and should be a SEV3 instead of a P0 one working day before the demo.

[2018-05-04 06:39] Preeticp commented on #3448
Also please note this needs to be reflected in the list view too, currently though in the detailed view the state drop-down says "New", the list view says 'new'

[2018-05-04 06:39] maxandersen commented on #3429
why is this now put as top priority over actual p0s ?

[2018-05-04 06:49] animuk commented on #3436
Here is complete stacktrace from che -
https://gist.github.com/animuk/801ea1c7d52a51788f43c258c7857b0a

[2018-05-04 06:56] Raunak1203 opened #3449 "From Detail Page can't open linked workitem"
Steps-
- Click on WorkItem to open quick Preview
- Link a workItem
- Go to detail page
- Click on linked workItem

[2018-05-04 06:58] pradeepto commented on #3442
@maxandersen @jfchevrette

![jenkins-monitoring-osio](https://user-images.githubusercontent.com/59771/39615947-8b6f8186-4f96-11e8-92e3-95d4ce8a4d3e.png)

The logs that go with this nice picture.

[jstack01.txt](https://github.com/openshiftio/openshift.io/files/1973473/jstack01.txt)
[jstack02.txt](https://github.com/openshiftio/openshift.io/files/1973474/jstack02.txt)
[jstack03.txt](https://github.

[2018-05-04 07:00] animuk commented on #3434
Here is the complete stacktrace:
https://gist.github.com/animuk/fa4b27dd71172ba0400c73b80221d99d

[2018-05-04 07:02] maxandersen commented on #3429
user or someone else can refresh/curl  jenkins.openshift.io to keep it a live. rejecting until actual usecase provided for having this change in idler.

[2018-05-04 07:02] #3429 closed

[2018-05-04 07:05] Raunak1203 commented on #2826
issue is fixed. Verfied in prod-preview

[2018-05-04 07:05] #2826 closed

[2018-05-04 07:11] pradeepto opened #3450 "Jenkins namespace is wrongly asking for 2Gi of ram"
While it limits itself to 512Mi [1], and content cache also only limits
to 512Mi, the namespace is blocking 2Gi of ram.

This puts our scale at risk and effectively halves the total Jenkins we
are able to run in the cluster ( not really, since overcommit and
rounding / scheduling issues kick in ), but we should fix this and
ensure the namespace only calls for 1Gi and 2 Cpu's.

Note that the mappin

[2018-05-04 07:39] kwk commented on #3447
Yes, they should be filtered out. @sanbornsen I think I've seen a PR from you somewhere around that filters on `can-construct`. This filter should be applied here as well. @michaelkleinhenz @nimishamukherjee shall we mark the impediment also with `can-construct=false`? The ScrumCommonType already is marked this way.

[2018-05-04 07:42] michaelkleinhenz commented on #3447
Yes, we can't create impediments for now and the discussion at https://docs.google.com/presentation/d/18xKQmkf3UKlGoP7qLqUnrIYiflza674n_paUZXKuepA/edit?ts=5ad650b4&pli=1#slide=id.g3758dca8f8_0_53 has not come to a conclusion yet.

[2018-05-04 07:42] sunilk747 commented on #3370
@arunkumars08 I tested it and it's working fine for me. We are good to go here. Please go ahead and merge it.

[2018-05-04 07:43] sunilk747 commented on #3432
@invincibleJai  I tested it and it's working fine for me. We are good to go here. Please go ahead and merge it.

[2018-05-04 07:44] kwk commented on #3435
@sanbornsen Is the width of the columns statically defined?

[2018-05-04 07:45] #3370 closed

[2018-05-04 07:46] jyasveer commented on #3141
@slemeur can we close this issue now ?

[2018-05-04 07:47] gytis commented on #3131
@slemeur I've rolled back the versions and the booster in theory should be usable on OSIO. However, @animuk tried it twice and it failed to deploy because of a socket timeout during the S2I build. Since I don't have access to OSIO I cannot debug the issue, but this doesn't sound like being related to ConfigMap.

[2018-05-04 07:49] kwk commented on #3447
@michaelkleinhenz I thought we've agreed to having the impediment type in the system but don't "invite" the user to create by having a dialog or quick add somewhere? My proposal with the `can-construct` flag would disallow creation of impediments for starters. If @sanbornsen then filters on this flag, we should be good.

[2018-05-04 07:49] michaelkleinhenz commented on #3435
The width percentage of a column is fixed. We should just use a proper name for the user story. Would fix this and the confusion around "where are user stories in this 'scrum' tempate??".

[2018-05-04 07:55] pradeepto commented on #3450
@jaseemabid 's reply ...

There are 2 pods in the user-jenkins namespace by default and they both take 512Mi ram and 1 cpu each.
While we run a build, there is one more pod in alive with 2 containers and they are,

image: 'fabric8/maven-builder:v9ff62e0'              | name: maven | cpu: 1250m | memory: 640Mi
image: 'fabric8/jenkins-slave-base-centos7:vb0268ae' | name: jnlp  | cpu: 500m  | memory:

[2018-05-04 08:03] pbergene commented on #3026
Sounds good, we should also make sure we track the auth work on the older tokens which was one of the issues here.

[2018-05-04 08:07] pbergene commented on #2755
@kishansagathiya what browser / OS?

This seems to be limited to specific openssl / client versions when attempting to reproduce. I am not entirely sure chrome macos version is currently actually using openssl, or if it's built against some other version, but some googling seems to indicate that this was the plan a few years ago, and would be a good explanation or at least a working theory.

[2018-05-04 08:31] rupalibehera commented on #3393
https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/164 and https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/27

[2018-05-04 08:36] ibuziuk commented on #3428
@cescoffier ok, lemme provide PR with command update.
Could you please tell if any more quickstart updates are planned before summit ? each update could potentiallyintroduce subtle bugs and might require rebuilding our stacks. So, please give me a heads-up about this

[2018-05-04 08:40] michaelkleinhenz commented on #3447
Yes, that is what I mean :-)

[2018-05-04 08:47] sunilk747 commented on #3346
@invincibleJai @arunkumars08 I guess this issue can be solved from client side. We just need to add a check for the available resources and used resources. We can use this API end point to get the metadata
`https://api.starter-us-east-2.openshift.com/api/v1/namespaces/ssamal/resourcequotas`. It will return something like this
![screenshot from 2018-05-04 14-16-21](https://user-images.githubusercon

[2018-05-04 08:51] invincibleJai commented on #3346
@sunilk747 agree it should be handled the client end, it needs some development effort and even the flow needs to be decided i.e when to show quota screen https://redhat.invisionapp.com/share/CTGJ6F7V4K9#/screens , it's more like a task to me not exactly an issue. Which we need to have in sprint plan.

[2018-05-04 08:59] rootAvish commented on #3369
This problem was related to ingestion, solved by re-ingesting the package.

[2018-05-04 08:59] #3369 closed

[2018-05-04 09:02] rootAvish opened #3451 "Confidence reason is not populated in all responses when multiple manifests are sent in the same request"
# Description

When stack-analyses is triggered using VSCode IDE extension for mutiple manifests, the confidence reason for companions in all manifests but the first is not populated. This was due to monkeypatching of code in `fabric8-analytics-server`.  Attaching screenshot for reference.

<img width="1230" alt="screen shot 2018-05-04 at 2 31 19 pm" src="https://user-images.githubusercontent.com/

[2018-05-04 09:04] rootAvish commented on #3451
PR is merged: https://github.com/fabric8-analytics/fabric8-analytics-server/pull/319

[2018-05-04 09:06] slemeur commented on #3131
@gytis Thanks for the update!

[2018-05-04 09:09] slemeur commented on #3131
From discussing with @animuk (and email thread) that version of the booster is now working properly on OSIO.

[2018-05-04 09:09] nimishamukherjee commented on #2588
Not able to replicate this issue. Please re-open if you face the issue again.

[2018-05-04 09:09] #2588 closed

[2018-05-04 09:12] kwk commented on #3448
@Preeticp well, the old states for SDD are all lowecase in the backend and the new states are sort of camel cased. Changing those state now in the backend would require a big migration and we don't know if we break any client that filters on states or creates work items (e.g. analytics) and specify a state.

Long story short: changing the backend is not an option.

@Preeticp but you're right that

[2018-05-04 09:13] nimishamukherjee commented on #2394
Not able to replicate this issue. @rgarg1 can you try.

[2018-05-04 09:13] kwk commented on #3298
@nimishamukherjee @Preeticp I'm sorry but I've changed my mind about this. You can display whatever you want but please only sent the states that the backend defined.

[2018-05-04 09:17] containscafeine commented on #2418
FYI: The idler issue which @chmouel opened was fixed - https://github.com/fabric8-services/fabric8-jenkins-idler/issues/171

[2018-05-04 09:34] #2866 closed

[2018-05-04 09:35] sunilmalagi commented on #3145
@nimishamukherjee @michaelkleinhenz @Preeticp @xcoulon
here is the visuals for "markdown syntax", there are 2 options, please check it out and let me know for any feedback:
https://redhat.invisionapp.com/share/R8I1JRXFVGQ#/295251624_00_Markdown_Syntax

[2018-05-04 09:38] ibuziuk commented on #3428
PR is sent https://github.com/redhat-developer/rh-che/pull/662

[2018-05-04 09:42] ibuziuk commented on #3434
@animuk several questions:
- does community version is used on osio ?
- isn't it a duplicate of https://github.com/openshiftio/openshift.io/issues/2152 ?

[2018-05-04 09:42] ibuziuk commented on #3436
@animuk several questions:

- does community version is used on osio ?
- isn't it a duplicate of #2152 ?

[2018-05-04 09:44] surajssd commented on #2634
[code]

so we have successfully updated the config without unidling the deploymentconfig.

[2018-05-04 09:45] surajssd commented on #2634
[code]

[2018-05-04 09:46] surajssd commented on #2634
@aslakknutsen as we saw it is not unidling the service even on the dc update, what changes need to go out on the tenant side?

[2018-05-04 09:48] kbsingh opened #3452 "drop the number of pv's in -jenkins quota to 2 from the 3"
[code]
now that we've lost the mvn-local-cache from each -jenkins namespace, we should reduce the quota for that namespace down to 2 from the present 3 across the cluster, and for new tenants.

[2018-05-04 09:48] slemeur commented on #3432
can we close this issue ?

[2018-05-04 10:03] ibuziuk commented on #3428
PR for rh-che is merged - should be soon on prod-preview
Also send a PR to upstream - https://github.com/eclipse/che/pull/9611

[2018-05-04 10:03] nimishamukherjee commented on #2741
Closing this as we have removed the option to create a work item from the dashboard

[2018-05-04 10:03] #2741 closed

[2018-05-04 10:14] ibuziuk commented on #2988
@ldimaggi @rhopp could you please test if it is fixed on prod-preiew / prod with a new verison of booster ?

[2018-05-04 10:25] ibuziuk commented on #3426
@jiekang thank you for looking at this, but @corinnekrych already provided a PR with a fix - https://github.com/fabric8-ui/fabric8-ui/pull/2870

[2018-05-04 10:38] slemeur commented on #3141
yes. the workaround allows to find the "set up application" more easily.
We can revisit based on new feedbacks.

[2018-05-04 10:38] #3141 closed

[2018-05-04 10:47] kwk commented on #3364
Reopening because not yet verified in prod.

[2018-05-04 10:47] animuk commented on #3436
@ibuziuk yes, community version of wildflyswarm is used. and It looks to be duplicate.

[2018-05-04 10:48] animuk commented on #3434
@ibuziuk yes, community version of wildflyswarm is used. and It looks to be duplicate.

[2018-05-04 11:32] maxandersen commented on #3442
thanks @pradeepto - with only the jstack dumps i can just see there is activtiy and where ; but not how much. having the matching ps dumps would be really useful

[2018-05-04 11:35] sunilk747 commented on #3432
@slemeur Yes. We can close this now.

[2018-05-04 11:44] ibuziuk commented on #3436
@animuk thanks for the info. Closing as a duplicate of https://github.com/openshiftio/openshift.io/issues/2152

[2018-05-04 11:44] #3436 closed

[2018-05-04 11:44] ibuziuk commented on #3434
@animuk thanks for the info. Closing as a duplicate of https://github.com/openshiftio/openshift.io/issues/2152

[2018-05-04 11:44] #3434 closed

[2018-05-04 11:47] ibuziuk commented on #2152
@slemeur this is the last P0 that is not addressed from che side. Are we ok to add flag for skipping tests in wildfly commands as a temp workaround ? I'm afraid we will not be able to provide better fix before summit

[2018-05-04 11:52] slemeur commented on #2152
Fine for me as a temporary solution.

[2018-05-04 11:56] aslakknutsen commented on #2634
Try changing the Image

[2018-05-04 12:03] maxandersen commented on #3393
@krishnapaparaju how does this related to this issue ?

[2018-05-04 12:15] maxandersen commented on #2988
when you run in IDE which kube config map do you expect to fetch ?

[2018-05-04 12:25] #3426 closed

[2018-05-04 12:32] jiekang commented on #3021
The discussion has led to the removal of this feature. Fix has been merged upstream. I will track this and close it when it reaches Production.

[2018-05-04 12:32] jiekang commented on #3383
Fix has been merged upstream. I will track this and close it when it reaches Production.

[2018-05-04 12:35] ibuziuk commented on #2152
@maxandersen do you happen to know who is the wildfly quickstart mainatainer ?

[2018-05-04 12:42] invincibleJai opened #3453 "Launcher flow: Show community badge in missions for selected Runtimes"
In New Launcher flow, show community badge in missions list card for selected Runtimes if the version is  Community

- [x] Show community badge in missions for selected Runtimes if the version is Community

[2018-05-04 12:49] #3432 closed

[2018-05-04 12:51] andrewazores commented on #3346
@sunilk747 you can use this service: https://github.com/fabric8-ui/fabric8-ui/blob/3683fb70017dd16a96951d259a08cf30698e09ea/src/app/space/create/deployments/services/deployment-api.service.ts

This provides access to the backend WIT endpoints developed for the Deployments page. This way you don't need to reimplement proxy handling etc. since it is done by the backend.

[2018-05-04 12:54] kwk commented on #3447
Screenshot from prod-preview:

![bildschirmfoto von 2018-05-04 14-52-22](https://user-images.githubusercontent.com/193408/39629006-0e3ca81e-4fab-11e8-8c6b-dcd517f4ca31.png)

[2018-05-04 12:56] andrewazores commented on #3346
In particular you can get CPU and Memory usage vs quota by calling `getEnvironments`, which returns an `Observable<EnvironmentStat[]>`. You can narrow this down from EnvironmentStat -> EnvironmentAttributes -> Quota -> {MemoryStat or CpuStat}. Both MemoryStat and CpuStat extend an interface Stat, which looks like this:

[code]

`used` and `quota` are the exact info you need here.

[2018-05-04 13:04] andrewazores opened #3454 "[5] Deployments UI charts do not begin displaying data after scale up from 0 pods"
# Bug

If the Deployments page is first loaded with a deployment containing 0 pods, scaling that deployment up appears to work (donut chart will update to reflect newly scaled pods), but the CPU, Memory, and Network charts seem to never begin displaying data. The user must refresh the page or navigate away from Deployments and back in order to see these data.

If a deployment is initially loaded w

[2018-05-04 13:06] ibuziuk commented on #3320
validation of capacity is also done on codebases UI side thanks to @corinnekrych :+1:

![image](https://user-images.githubusercontent.com/1461122/39629500-b587d4b2-4fac-11e8-813d-be0d6a7f5537.png)

[2018-05-04 13:11] lordofthejars commented on #3356
Ok I can confirm this way of reproduce, at least it happened to me twice:

1) With Jenkins unidled create a new project
2) The project will run until you get the manual step to promote to prod
3) Goto OSO and scale down Jenkins to 0
4) Push promote button

What you will observe is that after 5 minutes or so Jenkis is unidled and ready to serve requests but the promotion does not occurs.

5) Push a

[2018-05-04 13:25] jfchevrette commented on #3299
If someone sees a "No route to host" error again, I will need the following information sent out to me ASAP (in addition to commenting here, I'd suggest you ping me on chat.openshift.io)

`oc -n namespace get pods -ocustom-columns='NS:.metadata.namespace,NAME:.metadata.name,NODE:.spec.nodeName'`

If you dont know how/where to run that command, please reach out to me directly on chat.openshift.io a

[2018-05-04 13:27] ldimaggi commented on #3422
This is working for me now - many thanks!
![screenshot from 2018-05-04 09-26-29](https://user-images.githubusercontent.com/642621/39630438-51d49c68-4f7d-11e8-9a14-3b8f03b537af.png)

[2018-05-04 13:30] lordofthejars commented on #3422
It works in my case as well.

[2018-05-04 13:36] #3150 closed

[2018-05-04 13:38] aslakknutsen commented on #3035
"description" attribute not being set on call to backend:

[code]

[2018-05-04 13:38] #3313 closed

[2018-05-04 13:42] #2188 closed

[2018-05-04 13:45] piyush1594 commented on #3422
It's working for me also after updating to Jenkins Version 4.0.72

[2018-05-04 13:52] jiekang opened #3455 "Build also triggered when promoting in Jenkins and OSO with full promote pipeline"
A second build is triggered when using 'promote'.

Steps taken:

1. Reset env (optional?)
2. Import vertx booster codebase with full promote pipeline.
3. Once builds complete, press promote via Pipelines page.
4. See promotion occur **and** another build triggered, images below:

Another build was triggered in Jenkins. In OSO, the first build completed was Build #2, and then Build #1 ran after. Is

[2018-05-04 13:58] animuk commented on #3334
closing this

[2018-05-04 13:58] #3334 closed

[2018-05-04 14:03] catrobson commented on #3398
Already fixed.

[2018-05-04 14:03] #3398 closed

[2018-05-04 14:19] catrobson opened #3456 "Investigation: Initial loader for OpenShift.io (3)"
Right now we have an indeterminate loader for the first load of OpenShift.io.  We'd like to investigate whether we could make this a determinate loader/progress bar, or if we can determine how to load into the application quickly enough that a loading state is no longer necessary.

Verification Criteria:
* Investigation into options, and results posted into this issue
* Discuss with @lwrigh to det

[2018-05-04 14:33] aptmac commented on #3300
The add-work-items page from the dashboard has been removed as of https://github.com/fabric8-ui/fabric8-ui/pull/2855

[2018-05-04 14:33] #3300 closed

[2018-05-04 14:33] aptmac commented on #2620
The add-work-items page from the dashboard has been removed as of https://github.com/fabric8-ui/fabric8-ui/pull/2855

[2018-05-04 14:33] #2620 closed

[2018-05-04 14:34] stacymcauliffe opened #3457 "Explore and document terminology differences/overlaps between OSIO and OpenShift"
As a designer in OpenShift.io, I would like a better understanding of the terminology that is being used across OpenShift.io and OpenShift with emphasis on areas where overlaps and differences might cause confusion for our users.

-[ ] Create index for OSIO content
-[ ] Create index for OpenShift content
-[ ] Identify potential areas of confusion
-[ ] Review with stakeholders

[2018-05-04 14:38] catrobson opened #3458 "Widget Loading behavior for Account Home (5)"
### Description
If a widget is loading in a dashboard, the loading experience should be replaced with the widget loading experience that is documented in the new standards. That widget loading experience includes disabling the title of the widget, including a spinner, and a context specific loading message that gives the user a better sense of what is loading.

Link to updated standards: https://r

[2018-05-04 14:45] bdellasc opened #3459 "Visual Design - Standardize loading animations"
Verification Conditions:
- [ ] Review/understand the work done thus far in #2870
- [ ] Work with front-end devs & interaction designer on possibilities
- [ ] Based on that information, create some visual design directions

[2018-05-04 14:49] aptmac commented on #3431
Similar bugs have been reported a few times already, but because it's currently behind the internal feature-flag these issues will be closed until the feature is completed.

[2018-05-04 14:49] #3431 closed

[2018-05-04 14:51] jiekang opened #3460 "[1] Match header label for deployments page"
Parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2254

# Task

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/260764292

The header label in the design is 'Deployments'. The current label is 'Applications'. This should be fixed to match.

[2018-05-04 14:54] aptmac commented on #3278
I'm not seeing this anymore, can you confirm @ppitonak?

It looks to have been taken care of in: https://github.com/fabric8-ui/fabric8-ui/commit/c62508f72fd8a2475b2251a2aa9dfad518ada84e

[2018-05-04 14:58] #3393 closed

[2018-05-04 15:07] ibuziuk commented on #2988
@cescoffier could you please point to PR with update ? does not seem to be working on prod ?

[2018-05-04 15:32] ldimaggi opened #3461 "List of individual pipelines not always displayed in OSIO space dashboard"
Steps to recreate:
* Create a new space
* Create a new app/quickstart
* Navigate from the pipeline page: https://openshift.io/username/spacename/create/pipelines to the space dashboard page by going to account home and then the recent space page
* Most of the time, the pipeline for the recently created app is not displayed.

For example:

The pipeline is here at 10:51:05AM:

![screenshot from 2018

[2018-05-04 15:35] ldimaggi commented on #3461
Issue found/encountered by EE tests. This is causing what appear to be random test failures.

[2018-05-04 15:48] miteshvp commented on #3455
Looks like duplicate of #3095

[2018-05-04 15:48] andrewazores opened #3462 "[~?] Homepage "My Work Items" widget shows wrong links to work items"
![screenshot_2018-05-04_11-46-08](https://user-images.githubusercontent.com/3787464/39637377-cdfc291a-4f90-11e8-8ae7-9d6042af429f.png)

The work item displayed has the linked URL `https://openshift.io/aazores@redhat.com/openshiftio/plan/detail/2240`, which is incorrect. This work item belongs to the `openshiftio/openshiftio` user/space - my user account owns no such space named `openshiftio` as su

[2018-05-04 15:52] jiekang commented on #3455
This is the same pipeline.  #3095 is about two different pipelines being created for the same application.

[2018-05-04 15:55] ibuziuk commented on #3428
@maxandersen @cescoffier @slemeur  fix is available on prod:

![image](https://user-images.githubusercontent.com/1461122/39637787-5452f790-4fc4-11e8-9cb8-7b94a1d5d3fd.png)

are you ok to close ?

[2018-05-04 15:57] ibuziuk commented on #3135
@ldimaggi @rhopp @ScrewTSW fixed on prod - could you please verify & close

[2018-05-04 16:11] rootAvish commented on #3451
Solved with https://github.com/openshiftio/saas-analytics/pull/371

[2018-05-04 16:11] #3451 closed

[2018-05-04 16:12] slemeur opened #3463 "Different behaviour observed when a build command is executed from terminal vs che.command"
## Description
Different behaviour is observer when a command is executed from terminal vs che.command

## Steps to reproduce
1. Create a new application with WildFly Swarm runtime and REST mission
2. Open Che
3. In the terminal, run the command `mvn clean install -f ${current.project.path} -Dmaven.test.skip=true`
4. Observe that the build works well
5. Create a new command and in the instruction

[2018-05-04 16:13] ibuziuk commented on #1614
@ldimaggi @slemeur fix is on prod. Could you please verify & close

[2018-05-04 16:14] slemeur commented on #2152
We figured out that even by skipping the test from the che command, we are not able to build the application.

See: https://github.com/openshiftio/openshift.io/issues/3463

[2018-05-04 16:14] sdash-redhat commented on #3357
Got it reviewed by stakeholder. Certain label changes needed. Working on it.

[2018-05-04 16:15] ibuziuk commented on #3463
@slemeur AFAIK, it is reproducible only for wildfly, right ?

[2018-05-04 16:22] concaf opened #3464 "Unable to create a Health Check Vert.x application"
I go through the normal flow of creating an application on OSIO, but nothing happens when I click on "Set Up Application" and my console logs show -
`
400 - Bad Request [{"message":"java.lang.IllegalStateException: Error while preparing projectile: Booster not found in catalog: Mission [id=health-check, name=Health Check, description=Monitor an application's ability to service requests, metadata={

[2018-05-04 16:30] containscafeine commented on #3464
Wait, that breaks the UI? :open_mouth:
Yes, I did I guess, but then I deselected and selected all the other possible options as well.

[2018-05-04 16:32] containscafeine commented on #3058
FWIW, facing this too -

![screenshot from 2018-05-04 21-58-16](https://user-images.githubusercontent.com/9133660/39639371-b3cd8c40-4fe6-11e8-8590-320b3d0bcd74.png)

![screenshot from 2018-05-04 22-01-47](https://user-images.githubusercontent.com/9133660/39639393-d250fd8c-4fe6-11e8-86e6-24e9c8e535f2.png)

[2018-05-04 16:33] arunkumars08 commented on #3464
@containscafeine Just to test, could you refresh and try once by selecting mission first and then runtime and see if the issue is still there?

[2018-05-04 16:44] joshuawilson commented on #3383
Closing as this has been fixed and we don't want to work this way anymore.

[2018-05-04 16:44] #3383 closed

[2018-05-04 16:44] ibuziuk commented on #2988
@maxandersen @slemeur @cescoffier just tested locally - the version of quickstart [1] used on osio does not work locally - see https://github.com/openshiftio/openshift.io/issues/2988#issuecomment-386035987

However, I see that version of vertx was updated:

` <vertx.version>3.5.1.redhat-003</vertx.version>
`
But, there is still a bug in the quickstart[1]

As you can see `app-config.yml` is still l

[2018-05-04 16:50] joshuawilson commented on #3021
pushed to prod, closing

[2018-05-04 16:50] #3021 closed

[2018-05-04 16:51] eivantsov commented on #3463
@slemeur of course it is not intentional but you aren't telling the truth. In a command you pass -f path/to/dockerfile. In the terminal you cd to a directory with a Dockerfile in its root. See: https://github.com/openshiftio/openshift.io/issues/2152#issuecomment-362524343

So, probably this issue is a duplicate.

[2018-05-04 16:54] ScrewTSW commented on #3135
@ibuziuk @ldimaggi @l0rd Confirmed working on prod now as well 👍

[2018-05-04 16:55] eivantsov commented on #3463
And yes, when running mvn clean install with skipped tests it just hangs on collecting artifacts.

[2018-05-04 16:55] #3135 closed

[2018-05-04 16:59] ibuziuk commented on #3463
@eivantsov AFAIK 2 identical commands (with skipping tests) behaves differently for wildfly:
- from terminal works fine BUILD SUCCESS
- via command BUILD FAILURE with OOME - https://github.com/openshiftio/openshift.io/issues/2152#issuecomment-386599649

[2018-05-04 17:00] ibuziuk commented on #1614
@ScrewTSW if you have sometime would be nice to verify ;-)

[2018-05-04 17:05] ldimaggi commented on #3464
I think that this is a duplicate of:  https://github.com/openshiftio/openshift.io/issues/3418

[2018-05-04 17:07] eivantsov commented on #3463
@ibuziuk however, it is not related to this issue, at least with a given description. It's weird why invoking maven build from root and by passing path to pom.xml works in a different way.

As to OOM, I think a good way to `oc exec` without Che. I wonder if we see the same error.

[2018-05-04 17:11] ibuziuk commented on #2988
Upstream quickstart issue - https://github.com/openshiftio-vertx-boosters/vertx-configmap-booster-redhat/issues/14

[2018-05-04 17:18] #3464 closed, assigned to nobody

[2018-05-04 17:27] ibuziuk commented on #3463
@eivantsov I think you are commenting about https://github.com/openshiftio/openshift.io/issues/2152 not about this issue. The fact that is wildfly failing in docker is clearly quickstart problem. But we wanted to workaround it by skipping tests and this still fails with OOM when executing as Che command. Isn't it Che related problem (OOM for command execution I mean)?

[2018-05-04 17:28] ibuziuk commented on #3463
@eivantsov ah, you mean it fails with OOM in docker! good point

[2018-05-04 17:35] eivantsov commented on #3463
@ibuziuk not on Docker. On OSO. I stated a workspace from OSIO and ran an exec against pod.

[2018-05-04 17:36] jiekang commented on #3460
See discussion in https://github.com/fabric8-ui/fabric8-ui/pull/2875

[2018-05-04 17:36] #3460 closed

[2018-05-04 17:39] slemeur commented on #3463
yeah, so there is something weird indeed - and I think @eivantsov you are making a good point.
@bmicklea is actually able to do the build with:
`mvn clean install -f ${current.project.path} -Dmaven.test.skip=true` in the definition of the command

[2018-05-04 17:45] surajssd commented on #2634
[code]

[code]

edited the file to have new image

[code]

[code]

It is running because in the configuration we have `replicas: 1` which is setting the value to 1.

Now the proble here is:

* We created a resource using `oc apply` from a file declaratively
* Then used the command `oc idle` to change the value of one field `replicas`, from `replicas: 1` to `replicas: 0`. This value has changed onl

[2018-05-04 17:47] #2575 closed

[2018-05-04 18:05] kwk commented on #3447
Fix verified in prod:

![bildschirmfoto von 2018-05-04 20-04-21](https://user-images.githubusercontent.com/193408/39643900-7dba5d8c-4fd6-11e8-9345-2d035e69ff32.png)

[2018-05-04 18:05] #3447 closed

[2018-05-04 18:07] kwk commented on #3447
@Raunak1203 @sanbornsen it's a bit odd though that we need a scrolling drop down for the WITs in the SDD template:

![bildschirmfoto von 2018-05-04 20-07-02](https://user-images.githubusercontent.com/193408/39644576-ce200376-4fd6-11e8-8f33-6233849f2572.png)

[2018-05-04 18:08] nimishamukherjee commented on #2567
Fix on prod.

[2018-05-04 18:08] #2567 closed

[2018-05-04 18:10] arunkumars08 commented on #3380
Changes are merged in prod-preview. Please feel free to reopen it if you feel the issue is still persisting.

[2018-05-04 18:10] #3380 closed

[2018-05-04 18:10] nimishamukherjee commented on #2823
Fix on prod.

[2018-05-04 18:10] #2823 closed

[2018-05-04 18:13] nimishamukherjee commented on #3441
Fix on prod.

[2018-05-04 18:13] #3441 closed

[2018-05-04 18:14] ibuziuk commented on #2152
PR with updating wildfly recipe is send - let's see if it improve the situation

[2018-05-04 18:52] jiekang commented on #3246
We should also monitor the average memory usage of each page over time to alert for problematic changes.

For example between this issue being created and this comment (11 days) the memory usage on the 'Analyze' tab for an empty space has jumped about 20 megabytes:

Snapshot 1: 'Analyze' tab for space with 1 application
Snapshot 2: Account home
Snapshot 3: 'Analyze' tab for empty space

This kind

[2018-05-04 19:08] jiekang opened #3465 "Pipelines widgets are sometimes empty"
When visiting the pages that have pipelines widgets, the list is sometimes empty even though it displays the correct count.

When inspecting the html, the ngFor over the list has:

[code]

in the normal case it's:
[code]

I don't yet understand why it's null.

![empty-pipelines](https://user-images.githubusercontent.com/5430520/39647410-e175078e-4fac-11e8-9c38-31262354f9f5.png)

[2018-05-04 19:14] ldimaggi commented on #3465
Duplicate of https://github.com/openshiftio/openshift.io/issues/3461

[2018-05-04 19:15] jiekang commented on #3465
Closing as duplicate. Thanks!

[2018-05-04 19:15] #3465 closed

[2018-05-04 19:17] stooke commented on #3391
Because this is a P0, I created a small PR for the bandaid.
I don't know where the docs are, so if someone can give me a pointer, I'll get those updated too.

[2018-05-04 19:17] jiekang commented on #3461
@ldimaggi in your experience, it only appears/disappears when visiting the page right? If you sit on the page and don't navigate elsewhere for some length of time, does it switch states?

[2018-05-04 19:31] ldimaggi commented on #3461
Not sure - the problem that I logged seems to have become non-reproducible. Has something changed?

[2018-05-04 19:46] ibuziuk commented on #2152
Unfortumately, nothing changed after stack rebuilding :-(

[2018-05-04 19:49] jiekang commented on #3461
I think it may have been exacerbated by https://github.com/openshiftio/openshift.io/issues/3380 (huge number of http requests being made on the page that slowed everything on it down) which has been fixed.

I can still reproduce on my local instance by visiting Analyze -> Create -> Analyze. Sometimes the pipeline list will show, other times it won't; it looks like it occurs at a much lower rate. I

[2018-05-04 21:25] maxandersen commented on #3356
yes, so the api endpoint called is https://forge.api.openshift.io/api/openshift/services/jenkins/manderse-jenkins/job/maxandersen/job/reponame/job/master/1/input/Proceed/abort

My guess is this api is still talking directly to jenkins rather than through the proxy.

@gastaldi @edewit any idea where this is handled now ?

[2018-05-04 21:30] maxandersen commented on #3356
found the code https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/jenkins/JenkinsPipelineRegistry.java ...trying to trace it.

[2018-05-04 21:30] gastaldi commented on #3356
Yes, It doesn't seem to use the proxy:
https://github.com/fabric8-launcher/launcher-backend/blob/master/web/src/main/java/io/fabric8/launcher/web/api/OpenShiftResource.java#L164

Can someone provide a PR?

Em Sex, 4 de mai de 2018 18:25, Max Rydahl Andersen <
notifications@github.com> escreveu:

[2018-05-04 21:34] rupalibehera opened #3466 "Remove the plugins from ${Jenkins_home}/plugins which are not required."
we did found a way to update plugins https://github.com/openshiftio/openshift.io/issues/3393 but we need to remove the plugins too which are not required anymore or else they will stay on the disk.

[2018-05-04 22:07] ibuziuk commented on #3463
@bmicklea it is quite interesting that you do not have oom. Could you please tell against which oso cluster you are provisioned ?

[2018-05-04 22:27] maxandersen commented on #3422
we are waiting for @aslakknutsen to verify migration of whatever users reset env is done or happens when 4.0.73 images of jenkins rollout with version flag to ensure plugins gets copied when needed.

[2018-05-04 22:32] bmicklea commented on #3463
Odd, now it's failing with the following:
[code]

[2018-05-04 22:35] ibuziuk commented on #3463
yeah, this is one is what we all observe ;-)

[2018-05-04 23:03] maxandersen commented on #3356
PR in progress to try fix it at https://github.com/fabric8-launcher/launcher-backend/pull/387

but its currently givin gerrors.

general idea is to have launcher use jenkins.openshift.io proxy intsead of direct; but for that to wok we also need some wait logic or some async handlingas it can take minutes before its ready.

[2018-05-04 23:44] #1746 closed

[2018-05-05 00:16] gastaldi commented on #3356
PR reverted.

Can someone who understands what needs to happen with Jenkins proxy please stand up?

[2018-05-05 01:02] bmicklea commented on #3463
Not sure if it's helpful but it was working for me before JF did
investigation into my space. It had been working perfectly (including this
build working) then I hit  one of the Jenkins issues and since then it's
been broken.

Not sure if there's a correlation...
--

Brad Micklea // Director, Product Management // Developer Tools //
416.707.0792

[2018-05-05 01:56] sdash-redhat commented on #3188
completed closing this.

[2018-05-05 01:56] #3188 closed

[2018-05-05 02:05] alexeykazakov commented on #3356
@gastaldi https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/254 is might be the reason why your PR didn't work.

[2018-05-05 02:11] gastaldi commented on #3356
@alexeykazakov worth a shot, do you want me to re-revert my PR once your PR is merged?

[2018-05-05 03:13] alexeykazakov commented on #3356
@gastaldi yes. We will need to re-revert your PR if/when this PR is merged.

[2018-05-05 05:02] krishnapaparaju opened #3467 "Scale Jenkins proxy with more replicas"
Currently only one replica is being used to serve OSIO user traffic, this is single point of entry for the entire traffic. Scaling (3 replicas can be minimum), testing Jenkins Proxy is critical to scale Build platform for higher number of concurrent OSIO users.

[2018-05-05 05:03] krishnapaparaju opened #3468 "Scale Idler with more replicas"
Currently only one replica is being used to serve OSIO user traffic, this is single point of entry for the entire traffic. Scaling, testing Idler (with state maintained at PG) is critical to scale Build platform for higher number of concurrent OSIO users.

[2018-05-05 05:07] krishnapaparaju commented on #3356
@bmicklea 'Promoting to production' at OSIO can fail if Jenkins Pod is either idled / in the process of getting unidled. @kishansagathiya  This require a new end point at Jenkins Proxy factoring in current state of Jenkins Pod with async events send to UI.

[2018-05-05 06:39] cescoffier commented on #3428
Ok for me

[2018-05-05 06:48] slemeur commented on #2988
@cescoffier Unfortunately, the issue is not fixed in the booster itself and we are blocked here. Any suggestion on openshiftio-vertx-boosters/vertx-configmap-booster-redhat#14 ?

[2018-05-05 06:48] #3428 closed

[2018-05-05 07:15] lordofthejars commented on #3356
I think there is one method which already returns the current state of
Jenkins

El sáb., 5 may. 2018 7:07, SriKrishna <notifications@github.com> escribió:

[2018-05-05 07:47] cescoffier commented on #2988
@slemeur Can you confirm that the issue is when running `vertx:run` in che?

[2018-05-05 08:05] slemeur commented on #2988
Yes that's the command we are using:
`scl enable rh-maven33 'mvn compile vertx:run -f ${current.project.path} -Dvertx.disableDnsResolver=true'`

![screen shot 2018-05-05 at 10 03 14](https://user-images.githubusercontent.com/1636769/39661050-c698adae-504b-11e8-94b3-6517c9e1a054.png)

[2018-05-05 08:31] slemeur commented on #2988
Awesome, thanks @cescoffier !
Let us know when we can test.

[2018-05-05 08:35] cescoffier commented on #2988
@slemeur Do you need it in the launcher to test or if I push to master you would be able to check?

[2018-05-05 08:39] cescoffier commented on #2988
@slemeur changes have been made in the `master` branch of the booster. Release in progress (but it can take some time before it's merged in the launcher.

[2018-05-05 08:46] cescoffier commented on #2988
PR on launcher openeded: https://github.com/fabric8-launcher/launcher-booster-catalog/pull/230

[2018-05-05 08:51] slemeur commented on #2988
Wonderful ! I tested and it works in Che 👍 Thanks @cescoffier

@ibuziuk : The change means that we need should rebuild the stacks for vert.x one more time. Then we should be fine.

[2018-05-05 09:07] skabashnyuk commented on #3463
I believe that this issue related to MAVEN_OPTS  that we have in command execution environment.
For OSIO we have

terminal
[code]

commmand
[code]

Upstream Che

terminal
[code]

command
[code]

[2018-05-05 09:11] skabashnyuk commented on #3463
My "Quick and dirty" proposal is to execute commands like this
``` source ~/.bashrc && your_command_here```

[2018-05-05 09:29] skabashnyuk commented on #3463
Related to this pr https://github.com/fabric8-services/fabric8-tenant-che/pull/79

[2018-05-05 10:13] ibuziuk commented on #3463
@slemeur we could update the wildfy build command according to @skabashnyuk proposal. This would require rebuilding rh-che & yet another rollout on prod. wdyt ?

[2018-05-05 10:29] slemeur commented on #3463
We should be testing that it works. I’m afk at this moment.could you validate it works?

If we want to avoid another rollout, the other approach would be to edit the stack in che-server (as an admin).

We would still need to update the stack, so that next rollout, the change will be there and consistent.

Otherwise, if we can handle it, I’m fine to do another rollout now.

[2018-05-05 10:34] slemeur commented on #2988
Ok great !

[2018-05-05 11:07] ibuziuk commented on #3463
had a quick chat with @skabashnyuk . Approach with `.bashrc` is not reliable since it would set the following:

This would potentially kill wsagent since there would not be enough ram allocated in the pod for both processes.  Safer option / hack that works for me is the following:

`MAVEN_OPTS="-Xmx100m" && scl enable rh-maven33 'mvn clean install -f ${current.project.path} -DskipTests=true`

[2018-05-05 11:32] bmicklea commented on #3463
@ibuziuk that works for me too (although others should try since mine was working yesterday with the command that wasn't working for anyone else).

For some reason the trailing ' was lost in your command, so I'm repasting:

[code]

[2018-05-05 11:35] slemeur commented on #3463
+1

Le sam. 5 mai 2018 à 13:32, Brad Micklea <notifications@github.com> a
écrit :

--

STEVAN LEMEUR

PRODUCT MANAGER

Red Hat

<https://www.redhat.com/>

slemeur@redhat.com    M: +336-87-11-27-55 <javascript:void(0);>
<https://red.ht/sig>

[2018-05-05 11:38] ibuziuk commented on #2988
PR for stack rebuilding - https://github.com/redhat-developer/che-dockerfiles/pull/36

[2018-05-05 13:27] piyush1594 commented on #3058
I faced the same issue today,

Output of some commands mentioned on bugzilla

[code]

[code]

[code]

[code]

[code]

[2018-05-05 14:42] gastaldi commented on #2988
PR in booster-catalog merged and released to production

[2018-05-05 14:54] ibuziuk commented on #2988
PR for rebuilding stacks is also merged, so looks like we can close this issue

[2018-05-05 15:57] jfchevrette opened #3469 "Unidling jenkins sometimes do not unidle content-repository"
If I hit jenkins through the cluster route (ex: jenkins-tenantname-jenkins.8a09.starter-us-east-2.openshiftapps.com)
- Jenkins is unidled, content-repo does NOT
    - Openshift wakes up the idled DC behind the route, which is jenkins in this case
    - Openshift doesn't know that the content-repo DC should also unidle, content-repo DC has no relation to the jenkins route.
- Once jenkins is up, con

[2018-05-05 15:58] slemeur commented on #3463
LGTM ;)

[2018-05-05 17:06] slemeur commented on #2988
Tested, fixed in Che.
Thanks @cescoffier , @ibuziuk , @gastaldi !

[2018-05-05 17:06] #2988 closed

[2018-05-05 17:31] slemeur commented on #2152
We would have a workaround provided in https://github.com/openshiftio/openshift.io/issues/3463#issuecomment-386812715

[2018-05-05 18:05] #1988 closed

[2018-05-05 19:25] nimishamukherjee opened #3470 "Planner: Unable to update work item on the detail page"
From Mattermost:

The UI is not updating the version number in the patch call

[2018-05-05 19:28] nimishamukherjee opened #3471 "Planner: Newly added collaborators do not show up in the assignee drop down"
Issue reported on Mattermost by Todd:

If you add collaborators and navigate to planner, the collaborators get added
If you are on planner, navigate away to add collaborators, and come back to planner, the list does not get updated with the newly added collaborators.

[2018-05-05 22:26] ibuziuk commented on #3463
PR is merged and fixed should be available on prod-preview

[2018-05-06 01:56] qodfathr opened #3472 "Status of work items not displaying in tree"
![image](https://user-images.githubusercontent.com/16322190/39669066-22766e50-50af-11e8-843a-92d548c1100e.png)

[2018-05-06 02:09] qodfathr opened #3473 "My Work Items showing closed WIs"
Very quickly, this list will be full of nothing but closed WIs. The purpose of this list is to quickly show me my To Dos. Closed WIs should not be in this list.
![image](https://user-images.githubusercontent.com/16322190/39669116-da572fae-50b0-11e8-8cb4-686f984c2bfc.png)

[2018-05-06 02:13] qodfathr opened #3474 "Selecting Execution level of Planner should expand through to Tasks"
Viewed a sprint; expansion stopped at Features. It should expand Features to show the Tasks.

![image](https://user-images.githubusercontent.com/16322190/39669141-778b78d4-50b1-11e8-80b6-0938766bb07a.png)
e.g., the child Tasks of 20 should be displayed automatically.

[2018-05-06 02:25] vikram-raj commented on #3472
Can you please follow these steps.
1. Delete the browser cookies with name datatableColumn (If you don't find the cookies with name datatableColumn then clear all cookies).
2. Refresh the page.

It's a one time issue.

[2018-05-06 02:36] sanbornsen commented on #3473
Hi @qodfathr, can provide me the URL for this list?

[2018-05-06 02:38] qodfathr commented on #3473
You need to be at Beta level, and then it's on ether your account home page (https://openshift.io/_home) or a Space home page (e.g. https://openshift.io/tmancini/SentimentShift for me).

[2018-05-06 03:05] joshuawilson commented on #3391
@rkratky can you tell us when you can update the docs? Then we can look at when we merge this change. This needs to be coordinated, so we are not merging it yet.

[2018-05-06 03:40] nimishamukherjee commented on #3474
@qodfathr The planner shows exact matches. All features, bugs, and tasks that belong to an iteration are displayed.
If a task is in an iteration, the tree is expanded to display the task.
![execution](https://user-images.githubusercontent.com/1892722/39669571-1f29a614-510d-11e8-85f2-a566b7592746.png)

[2018-05-06 06:50] slemeur commented on #3463
Was not able to test, as I hit an issue while creating the workspace.
![screen shot 2018-05-06 at 08 50 01](https://user-images.githubusercontent.com/1636769/39670705-8f8b900a-510a-11e8-8c12-5d8007dd4fcc.png)

[2018-05-06 07:01] slemeur commented on #1614
@davidfestal : I tested on prod and it did not work for me.

2 things I tested:
- The scenario descride in the issue
- Deletion of a single space from "My Spaces" page.

In both cases, the workspaces were not cleanup on my side

[2018-05-06 07:09] michaelkleinhenz commented on #3474
@qodfathr auto-expansion always is based on the matching state. If the Feature has Tasks that are in the Iteration, then it expands.

This is a generic behaviour across all contexts: auto-expansion always stops at the lowest matching WI. Changing this behaviour for Execution would seriously break the genericness of the behaviour.

Also, having a Feature in an Iteration while it's tasks are not see

[2018-05-06 07:18] SMahil opened #3475 "Toolbar breaks when switching back to Planner from areas/collaborators"
Steps to reproduce:

- Navigate to planner
![nav1](https://user-images.githubusercontent.com/1892722/39671525-8d53c370-5137-11e8-85f6-8e2ec00f5752.png)

- Navigate to areas/collaborators (pipe icon)
- Do some action
- Navigate back to the planner
- Extra gray bar at the top in toolbar
![nav2_extragrey](https://user-images.githubusercontent.com/1892722/39671528-931c0e02-5137-11e8-9bcf-428648d7dc4a.

[2018-05-06 08:16] maxandersen commented on #3474
just want to comment that the above is not odd if the tasks are made before you

a) fully define the tasks, or when you move the feature to another iteration

b) the tasks are in specific iterations where as feature is in a release train iteration.

for a) better support in UI to ask what user want to happen for children if they should move with the feature (and ui should let me map possible many

[2018-05-06 08:29] ibuziuk commented on #3463
@slemeur it looks like rollout of che on prod-preview osd failed: `Deployment rhche #47 failed`

[code]

[2018-05-06 08:43] nimishamukherjee commented on #3475
@qodfathr P0?

[2018-05-06 08:54] kwk commented on #3472
Reopened because not yet verified.

[2018-05-06 09:16] ibuziuk commented on #3463
Created housekeeping issue for prod-preview rollout problem - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1861

It is probably coupled with che 5 deprecation and removal of all resources, the thing is that both che 5 &  che 6 are using the same  che secret for obtaining service.account.secret / service.account.id

[2018-05-06 09:17] ibuziuk opened #3476 "Che is not available on prod-preview"
rhche deployment is failing on prod-preview - Error: secrets "che" not found
Created housekeeping issue for prod-preview rollout problem - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1861

It is probably coupled with che 5 deprecation and removal of all resources, the thing is that both che 5 & che 6 are using the same che secret for obtaining service.account.secret / service.account.id

[2018-05-06 09:26] ibuziuk commented on #3463
Created a SEV1 for this https://github.com/openshiftio/openshift.io/issues/3476

[2018-05-06 10:52] qodfathr commented on #3474
I just looked at the sprint on my phone, and the tasks are displaying. So it behaved differently on my laptop when I took the screenshot. I will recheck on my laptop.

[2018-05-06 11:05] qodfathr commented on #3474
It's now rendering properly on my laptop. Do we have a theory as to why the tasks did not show the first time?

[2018-05-06 11:17] qodfathr opened #3477 "Does Planner tree view have too much white space?"
I cannot fit all of the columns of Planner on my laptop screen, which makes it more difficult to use. Notice that there is a lot of horizontal white space in the Planner:
![image](https://user-images.githubusercontent.com/16322190/39672687-2f580e78-50fd-11e8-9b55-0f785c6375a6.png)
For example, the indenting under **Title** perhaps could be reduced by a lot, yet still be clean and unambiguous about

[2018-05-06 11:17] qodfathr commented on #3477
cc: @catrobson

[2018-05-06 12:26] michaelkleinhenz commented on #3474
@maxandersen I'd say a) is indeed happening if for example the Feature was not completed in an Iteration and is moved to a followup Iteration. Bit even then, I would find the behaviour correct as it shows what is actually in the Iteration and tries to only show context as it is needed to understand the state of the work.

b) on the other hand is a boundary case where the process might clash with t

[2018-05-06 12:30] michaelkleinhenz commented on #3474
@qodfathr if you can reproduce the issue, please capture if the tasks in the non-auto-expanded child list are in bold font.

I just checked on prod and it works for me. Auto-expand always expands down to the matching entries.

[2018-05-06 12:48] qodfathr opened #3478 "WIT detail page is blank"
![image](https://user-images.githubusercontent.com/16322190/39673434-2273d7fc-510a-11e8-98cd-7d63c35b8d83.png)

[2018-05-06 12:51] vikram-raj commented on #3478
@qodfathr Which browser you are using?

[2018-05-06 12:53] maxandersen commented on #3422
@jaseemabid this is still a must do - moved it back but moved a bit down in priority.

[2018-05-06 12:54] vikram-raj commented on #3478
I checked in Chrome and Firefox. And it's visible for me.

[2018-05-06 12:55] maxandersen commented on #3450
is this not in prod now or ?

[2018-05-06 12:59] qodfathr commented on #3478
Seems to only happen when I start from the My Work Items widget.

[2018-05-06 13:02] qodfathr commented on #3478
If I go to Planner and open details from there, it works. Also, it **then** works from the My Work Items widget.

If I log in -- which shows me My Work Items widget -- and click on a WI from there, I get blank details.

[2018-05-06 13:03] maxandersen commented on #3356
dont think we will be able to nor want to add more end points to jenkins proxy in rush imo.

can't we in short term additonal logic to frontend or the back end to wait  to increase chances of success ?

[2018-05-06 13:04] maxandersen commented on #3356
alternative is to idle jenkins much less agressively - like every 8 hrs instead of 45 min.

[2018-05-06 13:10] vikram-raj commented on #3478
Found it. Working on it.

[2018-05-06 13:36] ibuziuk commented on #3476
Since it is not affecting prod changing lcabel to SEV2 / P0

[2018-05-06 13:54] pradeepto commented on #3356
@maxandersen Is that an acceptable alternative? That increases the costs, doesn't it?

[2018-05-06 13:59] maxandersen commented on #3356
yes, but a shortime win if necessary. if we have cpu/ram free might as well use it.

[2018-05-06 14:00] maxandersen commented on #3356
thinking about it I actually think the absolute simplest fix/workaround is to add in the ui a step that checks jenkins.openshift.io (or direct jenkins) actually responds. If it does - just do as now; if not - ask user to retry a bit later (optimally have a retry loop that can be cancelled...)

[2018-05-06 14:10] maxandersen commented on #3390
fyi, this is the last 7 days with kibana query:

`"Got status 504 Gateway" AND kubernetes.container_name:jenkins-proxy`

![2018-05-06_16-07-43](https://user-images.githubusercontent.com/54129/39674139-a44dbb7a-5147-11e8-94e2-c695213120e7.png)

not 100% that is all cases of 504 we see, but its noteworthy its not occurring much besides at what look like time of gluster migration or possibly jenkins

[2018-05-06 14:23] maxandersen opened #3479 "basic/minimal woopra/segment events from che needed"
atm. che usage is invisible in woopra/segment - no usage data at all.

Can we get some basic things in like

a) open of workspace from osio
b) a basic ping when pages accessed
..others ? like workspace started/stopped could be useful.

if hard part is to inject callbacks in eclipse che maybe do it at the level of kubernetes/openshift.io integration points - like "start/stop of workspace pods" ?

[2018-05-06 14:33] alexeykazakov commented on #3356
@maxandersen can someone one just try to test https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/254 and https://github.com/fabric8-launcher/launcher-backend/pull/387 properly first? :)

[2018-05-06 16:25] alexeykazakov commented on #3356
OK. After a closer look I don't think it will solve the problem - https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/254#issuecomment-386891201

[2018-05-06 16:30] qodfathr opened #3480 "Pipeline stages not animated like OSO (3)"
Is there a reason why individual pipeline stages in OSIO do not have the same "active" animation as OSO?
![image](https://user-images.githubusercontent.com/16322190/39675438-2147138e-5129-11e8-96a3-a03ea9d99e89.png)
vs
![image](https://user-images.githubusercontent.com/16322190/39675457-44a82dcc-5129-11e8-8562-d66e612074d9.png)

They used to be animated in OSIO.

[2018-05-06 16:36] ibuziuk commented on #3476
secrets entries were moved to `rhche` and openshift template has been updated.
rhche is back to prod-preview \o/

[2018-05-06 16:36] #3476 closed

[2018-05-06 16:52] ibuziuk commented on #3463
Che is back to prod-preview and available for testing \o/
wildfly build / run commands seem to work fine.
Here is the PR for rollout of those fixes to prod - https://github.com/openshiftio/saas-openshiftio/pull/871

@slemeur if you are ok with the update of prod, I hope @davidfestal & @garagatyi would be able to handle rollout with announcement on Monday.
@jfchevrette told that `rhche` secret on p

[2018-05-06 16:54] ibuziuk commented on #2152
Workaround with disabling tests is already available on prod-preview - https://github.com/openshiftio/openshift.io/issues/3463#issuecomment-386893023

[2018-05-06 17:16] containscafeine commented on #3469
Hey @jfchevrette, thanks for all the information, very helpful :+1:

So, IIUC, here's what happening underneath -
- hitting `jenkins.openshift.io` talks to jenkins-proxy which talks to jenkins-idler, which unidles both jenkins and content repo
- hitting jenkins directly via route/service without going through jenkins-proxy (and hence skipping jenkins-idler), causes OpenShift (and not jenkins-idler

[2018-05-06 17:45] bmicklea commented on #3463
Do we need or want to wait for Monday to push this live? Seems like it would be better to push it now, test it and know it's ready than wait...

[2018-05-06 18:55] containscafeine commented on #3469
I've sent a PR to update the Jenkins' Kubernetes deployments to include an init container that waits for content-repository to be up - https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/91. This _should_ send traffic to the content-repository pod and OpenShift should unidle it.

I don't understand how half of this works, so I'll need help reviewing the PR and checking if it solves the

[2018-05-06 19:27] tuxdna commented on #3182
Closing this issue as the fix has been promoted to production:

 - https://github.com/openshiftio/saas-analytics/pull/355

[2018-05-06 19:27] #3182 closed

[2018-05-06 19:41] containscafeine commented on #3469
I can confirm that the fix at https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/91 works for me -

Steps to test -
1. Idle both content-repository and jenkins
`oc idle jenkins content-repository`
2. Send a request to Jenkins route -
`curl -L jenkins-username-jenkins.xyz.openshiftapps.com`
3. Wait for the :tada:, Jenkins pod will start the init container which will generate traffic to

[2018-05-06 20:13] ibuziuk commented on #3463
@bmicklea it is risky to push it now since it could technically be broken if there is smth. wrong from infa side e.g. invalid secret values on prod and there would be no one from che / sd side to fix it. So, I'd better wait till Monday when there would be people from both che & sd team around, announce update as we always did before and merge the PR for rollout. If smth. goes wrong there will be r

[2018-05-06 23:48] ldimaggi opened #3481 "Logging out after creating a new space results in a spurious error message"
Steps to recreate:
* Create a new space
* Verify the space has been successfully created
* Logout

![frame-011](https://user-images.githubusercontent.com/642621/39679066-3514506a-5166-11e8-9b77-94aac7a4185f.jpg)
![myimage](https://user-images.githubusercontent.com/642621/39679115-b57e0e12-5166-11e8-879b-b988215ef290.gif)

There is no functional impact - the space is created and is usable - but the

[2018-05-07 02:47] ldimaggi opened #3482 "Inconsistent behavior in 'run' menu selections in Che"
Steps to recreate:
* Create a new quickstart in OSIO
* Create a new Che workspace
* Open a terminal window - build project (mvn install)
* Select HeepApplicationTest.java test program
* Navigate to Run->Test
* Observe contents of menu - the expected items are:

![screen2](https://user-images.githubusercontent.com/642621/39681957-24917e1a-517b-11e8-87f1-3e9195bb4eba.png)

But - this is appearing so

[2018-05-07 03:16] ldimaggi commented on #3336
Seeing this again tonight:

![screenshot from 2018-05-06 23-13-23](https://user-images.githubusercontent.com/642621/39683438-772547a8-5183-11e8-9759-364325011b40.png)

[2018-05-07 05:07] rgarg1 commented on #3477
Cc @sanbornsen

[2018-05-07 05:12] kishansagathiya opened #3483 "To many links in pipeline"
![screenshot from 2018-05-07 10-39-29](https://user-images.githubusercontent.com/10185999/39685883-2f455cce-51e3-11e8-9fac-9c7e6e8bb73d.png)
That's a lot of links
(on Prod)

[2018-05-07 05:26] kishansagathiya commented on #3483
Everything was duplicate. Doing a refresh fixed it, but, I shouldn't see this. Is there an issue for this already?

[2018-05-07 05:41] rgarg1 opened #3484 "Work item titles with special characters are displayed escaped on OSIO dashboard"
1) Create a work item with title **"Hello"<world>**. Observe that it is displayed as _"Hello"<world>_ in Planner
2) Browse to the OSIO dashboard and view the same work item. It is displayed as **&# 34;hello & #34; & lt ;world &g t;** (spaces added manually)

Escaping needs to be handled by the rendering UI.

Cc @nimishamukherjee @joshuawilson @baijum

[2018-05-07 05:51] animuk commented on #3430
As off now, Wildfly swarm -rest http community version is enabled at booster catalog and redhat version is disabled until this is fixed.

[2018-05-07 05:57] sunilmalagi commented on #2599
@nickboldt @nimishamukherjee @ldimaggi @Veethika While being in the same session, when the user switches between work item's, the quick preview screen should retain the content edited/typed by the user which is yet to be saved, specific to the respective workitem.
The quick preview view after selecting any other workitem should be fresh without carrying forward the content what the user typed in f

[2018-05-07 06:03] jarifibrahim commented on #3471
This has been fixed via https://github.com/fabric8-ui/fabric8-planner/pull/2619

[2018-05-07 06:03] #3471 closed

[2018-05-07 06:06] sunilmalagi commented on #2598
Please refer to #2838,
UX proposal is:
1. When the user switches between left navigation tabs, the quick preview window should get closed.
2. If user try to switch to another tab on the left pane, In case of any unsaved changes on quick preview, user should be asked if he/she wants to save it before go to different tab.

[2018-05-07 06:07] hrishin commented on #3356
Need to add check here.

https://github.com/fabric8-ui/fabric8-ui/blob/800768435cbee7f029f79ef95d629346daf13ecc/src/a-runtime-console/kubernetes/ui/pipeline/input-action-dialog/input-action-dialog.component.ts#L41

[2018-05-07 06:11] kishansagathiya commented on #3483
I click on view last build, gets me 404

[2018-05-07 06:14] sunilmalagi commented on #3359
@nimishamukherjee @rgarg1 @divyanshiGupta @Veethika
UX Solution:
When the user clicks on another tool tip, while one is still open, the previous tooltip should automatically get closed, since the primary function of the tooltip is to provide quick information about something.

[2018-05-07 06:14] jarifibrahim commented on #3470
Fixed via https://github.com/fabric8-ui/fabric8-planner/pull/2618

[2018-05-07 06:14] #3470 closed

[2018-05-07 06:20] jarifibrahim opened #3485 "Unnecessary gray space when clicking on infotip"
![screenshot from 2018-05-07 11-47-26](https://user-images.githubusercontent.com/12949454/39687574-ad57d714-51ec-11e8-9fd2-8c279bd45e72.png)

Notice the huge gray area at the bottom of screen

Steps to Reproduce -
Click on the infotip for scenario

[2018-05-07 06:21] #3394 closed, assigned to nobody

[2018-05-07 06:25] jarifibrahim commented on #3169
Fixed via https://github.com/fabric8-ui/fabric8-planner/pull/2524

[2018-05-07 06:25] #3169 closed

[2018-05-07 06:30] sunilmalagi commented on #3477
@qodfathr @rgarg1 @nimishamukherjee @sanbornsen I agree with you Todd, the indentation space should be only 20px as shown in the visuals:

https://redhat.invisionapp.com/share/NVEWGDU4W#/268923363_Requirements_01

I discussed with eng team (Sahil) and he will be able to fix with the help of Sudipto
<img width="440" alt="screen shot 2018-05-07 at 11 58 04 am" src="https://user-images.githubusercont

[2018-05-07 06:49] animuk commented on #3095
As discussed with @maxandersen  and @slemeur ,From the launcher perspective, we have handled application name and repo name same  in the osio as a two-way binding for both new application and import flow. This way, possibility of landing this issue is substantially reduced now.
But, still build team needs to check from their side about the root cause and fix this while user changes the git organiz

[2018-05-07 06:51] jaseemabid commented on #3422
@maxandersen That was unintentional fat fingers on the mobile UI. Apologies.

[2018-05-07 06:52] kishansagathiya commented on #3356
@maxandersen @alexeykazakov @krishnapaparaju
How about adding logic in the UI to keep checking for whether the jenkins is up or not. And Whatever request that is being sent on clicking the promote button, send it once jenkins is up.
Checkout https://github.com/fabric8-services/fabric8-jenkins-proxy/blob/master/static/html/index.html#L33-L51
Clearly with this approach, promotion will take time equa

[2018-05-07 06:55] maxandersen commented on #3356
Yes, @kishansagathiya something like is what I was thinking about.

lets just not add some UI that *blocks* on this - but something you can cancel/close or retry.

[2018-05-07 07:08] animuk commented on #2558
closing this at the moment. we have enabled community edition of the wildfly boosters at the moment until the latest version is not published from the wildflyboosters team. This is the current status below:
https://docs.google.com/spreadsheets/d/1dr1XfsGiGGf_Sh6s0DbAvtLSLzbrNaUf6nZxPz0WTyo/edit#gid=0
We will be tracking this from now on in a separate issues

[2018-05-07 07:08] #2558 closed

[2018-05-07 07:14] kishansagathiya commented on #3356
Not sure what you mean here. Can you elaborate a bit?

[2018-05-07 07:29] ravsa commented on #3047
This issue is dependent on the resolution of https://github.com/openshiftio/openshift.io/issues/3095 and will be fixed once the duplicate pipeline issue will be fixed.

[2018-05-07 07:34] jarifibrahim commented on #3220
@Raunak1203 I cannot reproduce the bug. Can you please try reproducing it again?
This https://github.com/fabric8-ui/fabric8-planner/pull/2622 was merged few hours ago and it might have fixed it.

[2018-05-07 07:37] rhopp commented on #3482
It seems, that this menu is somehow context aware. If the focus is in the editor, it shows entries without junit/testng. When the focus is on the file in project explorer (on the right) it shows entries with junit/testng.
![peek 2018-05-07 09-32](https://user-images.githubusercontent.com/1215011/39690369-272330ce-51da-11e8-9406-c2648f7e5a1e.gif)

I'll try to reproduce this behavior in upstream che

[2018-05-07 07:49] lordofthejars commented on #3356
IMO what Max means is that user should be able to cancel the task of promotion if it takes so much and don't want to wait more time, or if it fails, show a message allowing user to cancel or retry.

[2018-05-07 08:44] #3473 closed

[2018-05-07 08:45] piyush1594 commented on #3266
As #3393 is closed and according to https://github.com/openshiftio/openshift.io/issues/3422#issuecomment-386921153, seems like this has been done. Closing this.

[2018-05-07 08:45] #3266 closed

[2018-05-07 08:48] surajssd commented on #3320
This can be safely closed, I think since it is done?

[2018-05-07 08:49] Raunak1203 commented on #3220
Yes working now.
Closing the issue

[2018-05-07 08:49] #3220 closed

[2018-05-07 09:02] containscafeine commented on #3450
@maxandersen not yet, https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/88 breaks everything. We need to find the underlying issue.

[2018-05-07 09:04] jarifibrahim commented on #3433
@Raunak1203 I cannot reproduce it. Can you please try again?
The `label` option is `filter-by` dropdown is always enabled for me (even when there are no labels)

[2018-05-07 09:08] Raunak1203 commented on #3433
@jarifibrahim click on label in dropdown(when there are no labels)

[2018-05-07 09:11] jaseemabid commented on #3468
We have done nothing that even remotely resembles performance benchmarking and we don't have any numbers available to talk about this issue meaningfully. If we have no idea how many req/s one instance can handle, how can you say what N instances would do?

There is effort required in making any service scale horizontally, let's do that only if required. Any conversation regarding scale and perform

[2018-05-07 09:15] jaseemabid commented on #3467
Scaling Idler and Proxy are similar and my comments are here on the Idler issue. https://github.com/openshiftio/openshift.io/issues/3468#issuecomment-387006568

[2018-05-07 09:15] jarifibrahim commented on #3433
Thanks! I was able to reproduce it now.

[2018-05-07 09:26] divyanshiGupta commented on #3359
@sunilmalagi The desired behavior that I am suggesting here is that any outside click to a popover will close it which inherently also handles the use case you mentioned.

[2018-05-07 09:27] rohanKanojia commented on #2752
Let me try to reproduce it.

[2018-05-07 09:29] rgarg1 opened #3486 ""Show completed" option has no effect while using Scrum template"
"Show completed" option has no effect while using Scrum template. The completed work items are not filtered out and all work items are displayed at all times.

[2018-05-07 09:31] sbose78 commented on #3320
`Capacity app sets capacity values to cluster config for Auth service` - looks like its automated from zabbix metrics. So we can close this.

[2018-05-07 09:31] #3320 closed

[2018-05-07 09:34] tisnik opened #3487 "[1] Mark all functions and methods in f8a repositories that need to reduce cyclomatic complexity"
Functions and methods in all f8a repositories with too high cyclomatic complexity need to me marked properly. That code areas could be displayed by the `list-todo.sh` script.

Acceptance criteria:

- [x] all relevant code areas marked
- [x] the script `todo-list.sh` in all f8a repositories

Relevant to #3237

[2018-05-07 09:36] davidfestal commented on #1614
@slemeur

I just tested on prod from the dashboard (to create / open a workspace and then delete it), and it appears that the PVC cleaning is tried but fails since the PVC cleaning POD cannot be created.
I get the following events in the Openshift monitoring of my Che account:
[code]

I have no idea what the last error means, but I assume it might be an infrastructure problem, since the same test

[2018-05-07 09:37] tisnik commented on #3487
This issue has been implemented in all relevant repositories:

1. fabric8-analytics-common
1. fabric8-analytics-server
1. fabric8-analytics-worker
1. fabric8-analytics-jobs
1. fabric8-analytics-tagger
1. fabric8-analytics-stack-analysis
1. fabric8-analytics-license-analysis
1. fabric8-analytics-data-model
1. fabric8-analytics-recommender
1. fabric8-analytics-api-gateway
1. fabric8-analytics-nvd-to

[2018-05-07 09:38] #3487 closed

[2018-05-07 09:39] nimishamukherjee commented on #3478
Fix on prod

[2018-05-07 09:39] #3478 closed

[2018-05-07 10:00] piyush1594 commented on #3469
Hey,

I tried doing the following steps (without the concaf's patch) -

1. Idle both content-repository and jenkins
`oc idle jenkins content-repository`
2. Send a request to Jenkins route -
`curl -L jenkins-username-jenkins.xyz.openshiftapps.com`

What i have observed is content repository sometimes get unidled and sometimes not. I tried it without concaf's patch

[2018-05-07 10:03] containscafeine commented on #3469
I was testing this out with @piyush1594 and looking at logs from prod, so this is what's happening.
Idler _is_ trying to un-idle content-repository when Jenkins comes up from the request to the route, but it's not un-idling reliably. The un-idle request to content-repository fails about 50 % of the times with errors saying - `"msg":"Skipping un-idle request since max retry count has been reached."

[2018-05-07 10:04] tisnik commented on #3189
Component-related part:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/537

[2018-05-07 10:12] davidfestal commented on #1614
cc @pbergene

[2018-05-07 10:21] tisnik opened #3488 "[3] Implement check of any form of metadata against selected schema for component-level metadata"
### Implement check of any form of metadata against selected schema for component-level metadata

A task for epic  #3189

Acceptance criteria:

- [x] Component toplevel metadata schema check
- [x] Component source licenses schema check
- [x] Component security issues schema check
- [x] Component metadata schema check
- [x] Component keywords tagging schema check
- [x] Component digest(s) schema ch

[2018-05-07 10:23] #3488 closed, assigned to tisnik

[2018-05-07 10:30] jyasveer commented on #3346
@catrobson @bdellasc
As per my understanding we have to show [this](https://redhat.invisionapp.com/share/CTGJ6F7V4K9#/screens/294042675) overlay while a user is trying to create a space. The steps can be something like this
1. User clicks create space link/button.
2. As soon as the user clicks on the button/link, we will check for the resource limits and display the overlay with the resource warni

[2018-05-07 10:37] pkajaba commented on #3409
PR: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/634

[2018-05-07 10:41] rohanKanojia commented on #2752
@ldimaggi : Hi, Are you able to reproduce this now.  I've been trying to reproduce this following steps provided by you; but as max said I couldn't reproduce it as well.

Here are my logs:
[Build 1](https://pastebin.com/K4LEpCSQ) : [:heavy_check_mark:]
[Build 2](https://pastebin.com/RsTvFfNn) : [:heavy_check_mark:]
[Build 3](https://pastebin.com/wMEHjRzW) : [:heavy_check_mark:]
[Build 4](https://p

[2018-05-07 10:43] rhopp opened #3489 "Plus sign on codebases section on "Analyze" page redirects to wrong page (first few seconds after page load)"
First few seconds after loading "Analyze" page, the plus sign on "Codebases" section redirects to `https://openshift.io/<username>/<spaceName>/create/(action:add-codebase)` instead of using new import application wizard.

From this screencast it's apparent. First clicking on the plus sign causes new import application wizard to show (correct behavior). The second click on the plus is immediately a

[2018-05-07 11:06] tisnik opened #3490 "[2] Implement check of any form of metadata against selected schema for package-level metadata"
### Implement check of any form of metadata against selected schema for package-level metadata

A task for epic  #3189

Acceptance criteria:

- [x] package schema check for GitHub details
- [x] package schema check for Git stats
- [x] package schema check for keywords tagging
- [x] package schema check for libraries.io
- [x] package schema check for toplevel
- [x] Tests for package level metadata

[2018-05-07 11:28] ldimaggi commented on #3483
Under what circumstances should "last build" appear? I am not seeing it after 1-2 build are created:

![screenshot from 2018-05-07 07-26-47](https://user-images.githubusercontent.com/642621/39699691-456f3a3a-51c8-11e8-8d25-42ae9a7fc30f.png)

[2018-05-07 12:32] ldimaggi commented on #3461
Still seeing this randomly.

[2018-05-07 12:56] pradeepto commented on #3450
@maxandersen @kbsingh I think this PR shouldn't be merged. We shouldn't touch this with a 100 foot pod.

@piyush1594 has tested this and told me that "every" build fails for him when he tests with this PR.

We need more extensive debugging and understanding before we merge this. :-1: to merge this  PR before summit.

[2018-05-07 13:01] bdellasc commented on #3346
@jyasveer I believe this would work. For this use case, instead of seeing the actual "Create Space" overlay, showing this makes sense to me.

CC @catrobson @mceledonia

[2018-05-07 13:03] stacymcauliffe opened #3491 "First draft terminology audit OSIO/OpenShift (5)"
PARENT: #3457

Create the first draft of a terminology audit focused on areas of overlap between OSIO and OpenShift

- [x] Identify areas of overlap
- [ ] Generate terminology index and suggestions for those areas
- [ ] Identify next steps

[2018-05-07 13:28] rupalibehera commented on #3469
Hey @containscafeine ,
I tested this out few more times and this looks good to me.
- `oc idle Jenkins content-repository`
- created a quickstart
- and checked logs `oc logs jenkins-8-fv2gg -c content-repository-init`
- Jenkins and content-repository both un-idled properly.
This PR https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/91 is good to go.

[2018-05-07 13:32] bdellasc commented on #3014
@mindreeper2420 added the changes in the notes above. Animation ended up being a something we couldn't accomplish for Summit.

[2018-05-07 13:32] #2870 closed

[2018-05-07 13:33] #3014 closed

[2018-05-07 13:34] stacymcauliffe commented on #3247
Sent review request to @slemeur

[2018-05-07 13:35] #2844 closed

[2018-05-07 13:39] Veethika opened #3492 "Board View for Planner"
Define the basic board view for Planner
https://openshift.io/openshiftio/openshiftio/plan/detail/2073

Verification Criteria
- [x]  General behaviour for board columns
- [x]  Individual card behaviour and edit options
- [x]  Board customisation options
- [ ]  Work-item preview in board view

[2018-05-07 13:40] catrobson commented on #3327
Logged out marketing page updates with this:  https://github.com/openshiftio/openshift.io/pull/3420

[2018-05-07 13:41] #2847 closed

[2018-05-07 13:42] #3016 closed

[2018-05-07 13:44] jiekang commented on #3461
Yes, I still see it in my local instance as well. The PR is available.

[2018-05-07 13:45] CermakM commented on #3183
The PR is still being a subject to a review and can be found [here](https://github.com/fabric8-analytics/fabric8-analytics-nvd-toolkit/pull/3).

[2018-05-07 13:45] Veethika opened #3493 "Audit Trail"
Interaction rules for audit trail, for changes made to a workitem
https://openshift.io/openshiftio/openshiftio/plan/detail/1964

[2018-05-07 13:46] CermakM commented on #3166
The root cause of this issue has been localized and the solution is in progress.

[2018-05-07 13:53] riuvshin commented on #3463
@ibuziuk I would recommend to increase xmx to 256 at least. we've updated prod and fix worked for @garagatyi and @rhopp but still failed for me... with 256mb it should be more stable.

[2018-05-07 13:59] jfchevrette commented on #1614
@davidfestal what cluster & namespace? Was this tested on another cluster? Prod-preview or prod?

[2018-05-07 14:25] pradeepto commented on #3299
@lordofthejars @rohanKanojia Can you please update the issue with the commands mentioned in the comment https://github.com/openshiftio/openshift.io/issues/3299#issuecomment-386275622 and JF's comment https://github.com/openshiftio/openshift.io/issues/3299#issuecomment-386600399 .

[2018-05-07 14:31] dlabrecq commented on #3456
After looking at the code, I confirmed there is nothing quantifiable to show here for a determinate progress bar. We're really not downloading anything, but waiting for a ready state (e.g., authentication, etc.).

What would help here is to enable Angular's ahead-of-time (AOT) compilation. Instead of a progress bar, the user would start out viewing the page immediately while the various widgets lo

[2018-05-07 15:03] dlabrecq commented on #3456
Discussed with @lwrigh and we appear to be using Patternfly's animated progress bar shown here:
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/progress-bars.html

However, there is also a spinner:
![screen shot 2018-05-07 at 10 54 36 am 2](https://user-images.githubusercontent.com/17481322/39708473-4d9d3fe6-51e5-11e8-8d78-9387ae3195c5.png)
According to the GitHub history, @mindree

[2018-05-07 15:03] davidfestal commented on #1614
@jfchevrette on OSIO prod it fails though it worked without any problem on prod-preview when I tested it some days ago.

FTR :
- my OSIO prod Che namespace in which it failed is at:
[code]
- while my OSIO prod-preview Che namespace (in which it succeeded) is:
[code]

I wonder if this could be related to the following error found in the logs by @pbergene :
[code]

the logs shared by @pbergene can b

[2018-05-07 15:36] nickboldt commented on #2598
This sounds like a good proposal to me. +1

[2018-05-07 15:38] joshuawilson commented on #2360
I think it was the same. I'll have to test it again.

[2018-05-07 15:44] bdellasc commented on #945
@muruGanesan What size is the clock icon? I'm ok with going with this general direction if we can bring down the size of that clock icon a little. If you have a source file, I can do a quick visual pass on it.

[2018-05-07 15:44] maxandersen commented on #955
@joshuawilson is this code even active at login anymore ? didn't we change for it to happen when needed rather than through login ?

I haven't seen this specific issue in a while; but I stll constantly have login issues but those are in othe issues.

[2018-05-07 15:45] rupalibehera commented on #3469
https://github.com/openshiftio/saas-openshiftio/pull/874

[2018-05-07 15:47] gastaldi opened #3494 "Dropdown in Create a new Space is using white font on white background"
![screenshot from 2018-05-07 12-43-26](https://user-images.githubusercontent.com/54133/39710938-9e725e74-51f4-11e8-8bd3-84f0fee32140.png)

[2018-05-07 15:48] sbose78 commented on #955
- Github is connected when needed.
- As for OpenShiftOnline, the user is auto-redirected to OSO url on login which redirects to RHD ..( where the user is already logged in) .. which brings the user back to `_home` page after a successful OSO connection.

[2018-05-07 15:49] rupalibehera opened #3495 "Cluster wide tenant wide update to Jenkins version 4.0.75"
Solves 'Unidling jenkins sometimes do not unidle content-repository' https://github.com/openshiftio/openshift.io/issues/3469 - PR https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/91

@aslakknutsen , I have raised PR https://github.com/openshiftio/saas-openshiftio/pull/874, let me know if you require something else from me.

[2018-05-07 15:49] aptmac commented on #3494
I believe this is a duplicate/related to: https://github.com/openshiftio/openshift.io/issues/3341

[2018-05-07 15:51] gastaldi commented on #3494
@aptmac indeed, I just couldn't find it because the title wasn't too clear :wink:

Closing this in favor of #3341

[2018-05-07 15:51] #3494 closed

[2018-05-07 15:51] catrobson commented on #3456
+1 that the next step should be AOT then.  Thanks for looking into this @dlabrecq.  @bdellasc we can close the Visual design story for the OSIO loader due to Dan's investigation.

[2018-05-07 15:52] maxandersen commented on #3026
@pbergene you mean the thought the issue could happen if over 30 days since you visited or ?

[2018-05-07 16:43] catrobson commented on #3346
I agree @qodfathr - I think the blocking of creation is being put into place because we do not have the right information, actions, and capabilities built into the system today to gracefully handle how the system acts, and what the user can do about it, in the case that they go over quota.  This is something that I think will be really important for us to focus on improving as soon as possible.

I

[2018-05-07 16:46] muruGanesan commented on #945
@bdellasc, I have not specified any size... since it is a vector (font) please go ahead and define the size as per the standard... Thanks for taking this up.

[2018-05-07 16:47] muruGanesan commented on #3054
@bdellasc, if it is related to #945, please close this issue too.

[2018-05-07 17:10] dlabrecq commented on #3341
This looks ok to me on prod, using Firefox and Chrome. Can you please confirm this is still an issue? And what browser are you using?

![screen shot 2018-05-07 at 1 09 00 pm](https://user-images.githubusercontent.com/17481322/39714405-f7eb8234-51f7-11e8-8d9b-f5f8c3ad841d.png)

[2018-05-07 17:11] dlabrecq commented on #3341
Safari looks ok, too.
![screen shot 2018-05-07 at 1 11 04 pm](https://user-images.githubusercontent.com/17481322/39714466-27f4dd54-51f8-11e8-9107-709763df637f.png)

[2018-05-07 17:12] bmicklea commented on #3346
Is this a case where if the deployment fails we could warn them and suggest they try again later?  If this was paired with some kind of alert on the system delivery side could we then clear the issue for them from the back?

[2018-05-07 17:15] dlabrecq commented on #3341
prod-preview also looks good on Firefox and Chrome

[2018-05-07 17:16] Raunak1203 commented on #3341
@dlabrecq could you please check in fedora ?
I'm facing issue in fedora chrome-browser

[2018-05-07 17:31] bmicklea commented on #3356
@catrobson a UI change (although it may be minor) is being discussed here. Adding you so we get a quick check from UX.

[2018-05-07 17:34] jarifibrahim commented on #3364
The issue no longer exists on Prod/Prod-preview.

Fixed via https://github.com/fabric8-services/fabric8-wit/pull/2075

[2018-05-07 17:34] #3364 closed

[2018-05-07 17:35] slemeur opened #3496 "OSO terminates Che workspaces 1h after their creation"
Che workspace agent is crashing when used for this source code:
https://github.com/qodfathr/sentimentmeasurer

Workspace is unstable and becoming unresponsive. Displaying this error in the IDE:
![image pasted at 2018-5-7 13-24](https://user-images.githubusercontent.com/1636769/39715502-cad4b3ac-522d-11e8-9a62-c3bf783da2c8.png)

[2018-05-07 17:42] bdellasc commented on #3456
@catrobson There are a couple of stories related to this...

I also found [this one](https://github.com/openshiftio/openshift.io/issues/3156) that you created. Reading through this - I think this is the story speaking specifically about the first time loader?

#3459 still feels like it's valid to me since it's looking across screens in the UI and a follow-up to Laura's #2870 ? Just wanted to verif

[2018-05-07 17:54] ldimaggi opened #3497 "Intermittent failures debugging Vert.X quickstart/booster in Che - java.lang.ClassNotFoundException: org.junit.runner.JUnitCore"
Steps to recreate:
* Reset user env
* Create new OSIO space
* Create new Vert/x/REST quickstart
* Create new Che workspace for the quickstart
* Observe the successful creation of the Che workspace
* In Che - build the quickstart (mvn install)
* Observe the successful build of the quickstart
* Open ApplicationHttpTest.java in the Che editor
* Observe that no source content errors are displayed (in

[2018-05-07 17:57] slemeur commented on #3463
@ibuziuk @riuvshin : The fix if not working on prod:
<img width="972" alt="screen shot 2018-05-07 at 19 57 15" src="https://user-images.githubusercontent.com/1636769/39716512-dd0f4a70-5230-11e8-9713-fb4a65c62522.png">

[2018-05-07 17:58] catrobson commented on #3356
Let me see if I am following this.

**Current behavior:**
User sees a step in the pipeline with promotion link, clicks the link.
Expected result:  modal with accept/reject shows, they can click either and the system reacts accordingly
Actual result: Somethings things go out to lunch, we don't show a pop-up, or anything, other than a spinning wheel on the step?  Or is the spinning wheel in the moda

[2018-05-07 17:59] eivantsov commented on #3463
@slemeur it looks like you have not built the project. Why do you expect a jar in target?

[2018-05-07 18:00] slemeur commented on #3463
I guess the command is wrong too.
Even running the following command in the stack:
`MAVEN_OPTS="-Xmx100m" && scl enable rh-maven33 'mvn clean install -f ${current.project.path} -DskipTests=true'` is not working either

Changing to :
`MAVEN_OPTS="-Xmx256m" && scl enable rh-maven33 'mvn clean install -f ${current.project.path} -DskipTests=true'
Works well.

[2018-05-07 18:01] slemeur commented on #3463
@eivantsov : I just hit the default run command for the wildfly stack

[2018-05-07 18:05] ldimaggi commented on #3496
I have seen this problem once today too - with a newly created Vert/X/REST quickstart - not sure of the sequence of actions - seems like it just happened after a period of inactivity in Che.

[2018-05-07 18:06] slemeur commented on #3463
Ok - Doing the "build" command and then doing the "run" command is working.

[2018-05-07 18:07] eivantsov commented on #3463
@slemeur yes, this is what I meant. Perhaps, for demo purposes the two should be combined in one.

[2018-05-07 18:08] catrobson commented on #3456
@bdellasc I think all of Laura's remaining designs are now just spinners in screens that follow patternfly standards other than this first loading screen.  @lwrigh can you confirm and update your wireframes if needed given discussion?  I think you could remove the skeleton loader as discussed as a team and just go back to the empty state page loader for the deployments page case.  @mceledonia can

[2018-05-07 18:09] slemeur commented on #3463
yes, here the flow is not consistent. In all other stacks, the "run" command is also doing the "build".

[2018-05-07 18:19] eivantsov commented on #3496
I think we are interested in java options for ws agent.

[code]

[code]

[2018-05-07 18:30] qodfathr commented on #3496
CHE_WORKSPACE_MAVEN__SERVER__JAVA__OPTIONS=-XX:MaxRAM=128m -XX:MaxRAMFraction=1 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xms20m -Djava
.security.egd=file:/dev/./urandom

[2018-05-07 18:34] qodfathr commented on #3496
![image](https://user-images.githubusercontent.com/16322190/39718253-97222686-51ea-11e8-85ac-c9728a7f7970.png)

[2018-05-07 18:34] joshuawilson commented on #955
looks like we can close this

[2018-05-07 18:34] #955 closed

[2018-05-07 18:36] garagatyi commented on #3496
So the reason might be that it takes a lot of CPU cycles for too long, WDYT?

[2018-05-07 18:38] slemeur commented on #3496
BTW .

when doing `env | grep JAVA`, we can see this:
`CHE_WORKSPACE_MAVEN__SERVER__JAVA__OPTIONS=-XX:MaxRAM=128m -XX:MaxRAMFraction=1 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xms20m -Djava .security.egd=file:/dev/./urandom `

But when going into the OSO Console we see this:
`CHE_WORKSP

[2018-05-07 18:40] garagatyi commented on #3496
`java -XX:+PrintGCDetails -XX:+Verbose   -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -version ` should show memory settings

[2018-05-07 18:43] slemeur commented on #3496
we cant' run the command @garagatyi . Not available.

[2018-05-07 18:46] krishnapaparaju opened #3498 "Not able to see deployed Tenant applications"
Clicking on Staging / Production applications at OSIO build pipelines would not show deployed applications.. This been observed for '(1) VertX-HealthCheck, (2) WFarm-HTTP, (3) WF-HealthCheck. Did not see this problem for SBoot-HTTP and Vertx-HTTP boosters. Might be happening for other boosters as well...

<img width="1398" alt="screen shot 2018-05-07 at 11 28 02 am" src="https://user-images.github

[2018-05-07 18:47] catrobson commented on #3341
Also a problem on Windows 10 + Chrome that Todd has experienced.

[2018-05-07 18:50] bmicklea commented on #3341
Thanks for confirming - this is blocking the demo. Please treat it as a priority.

[2018-05-07 18:52] garagatyi commented on #3496
Didn't get what is not available. Can you elaborate?

[2018-05-07 18:55] joshuawilson commented on #3327
this is in production, closing

[2018-05-07 18:56] bmicklea commented on #3498
I've noticed that some apps are slower to become available than others. Did you wait awhile for those you found to be failing?

[2018-05-07 18:56] eivantsov commented on #3496
[code]

[2018-05-07 19:11] ldimaggi commented on #3498
It can take a few min - I am seeing this:

Stage:
![screenshot from 2018-05-07 15-09-52](https://user-images.githubusercontent.com/642621/39719969-d2de672a-5208-11e8-929d-2c70bd6f3383.png)

Run:
![screenshot from 2018-05-07 15-10-21](https://user-images.githubusercontent.com/642621/39719974-d7de1b76-5208-11e8-9f2b-bc95310021f6.png)

[2018-05-07 19:11] ldimaggi commented on #3498
Are you seeing any errors in the Jenkins build or pod logs?

[2018-05-07 19:16] slemeur commented on #3496
correct thanks @eivantsov

[2018-05-07 19:24] webknjaz opened #3499 "[BUG] Hide email from public profile"
Hello,

I've got "private" radio selected in my profile settings, however on the profile page `https://openshift.io/<user_login>` it effectively displays my email address (which I obviously want to hide from public)

[2018-05-07 19:40] dlabrecq commented on #3341
Using Browser Stack to run Windows 11/10. OSIO (prod) won't run at all and keeps landing to the 404 error page.

I don't have the ability to run Fedora.

[2018-05-07 19:41] slemeur commented on #3496
This issue seems to be related to activeDeadline which is setup to `default` which means that the pod is going to be killed after one hour, even if there is the idlign mecanism in place in Che-master

[2018-05-07 19:48] aptmac commented on #3341
I made a small PR [0] to change the stylesheet and fill the text in black. It looks as intended in Chrome for me now, and looks as it did before (no-change) in Firefox. I don't have access to Windows/Mac, so if it could be verified that it works there too it'd be appreciated.

[0] https://github.com/fabric8-ui/fabric8-ui/pull/2890

[2018-05-07 19:57] catrobson commented on #3456
#3156 could also be closed, it sounds like Adam already did a first pass
towards using PF on this which will hold us over until we have AOT.

On Mon, May 7, 2018 at 3:23 PM, Brian Dellascio <notifications@github.com>
wrote:

[2018-05-07 20:01] dlabrecq commented on #3341
I don't see any change on Mac using Chrome, so the change seems ok to me.

[2018-05-07 20:15] bdellasc commented on #945
This is a different layout than anything else we have. For now, if we can just bring the clock down in size a little bit, I think that will be sufficient for now...

Icon color: #8B8D8F

If icons are defined in relative sizes (ems):
- If it's a 12px base font size, the clock icon should be: 2.3em
- If it's a 14px base font size, the clock icon would be 2em

If icons are defined in actual pixel siz

[2018-05-07 20:48] aptmac commented on #3371
@arunkumars08 are you still seeing this issue? Because I'm seeing it around half of the time.

Steps to reproduce:
- Visit analyze/dashboard page for a space that has pipelines
- Click any of the three boxes: (security issues, licenses, insights)
- Now, either the appropriate box pops up, or I see a blank dark overlay that I cannot get rid of. After playing with this for a while, I see the overlay

[2018-05-07 21:31] webknjaz commented on #3499
Yes, I tested this in an Incognito tab

[2018-05-07 22:53] alexeykazakov commented on #3499
The private email works fine (for example you won't see email in my account - https://openshift.io/alexeykazakov). What you see is actually your username. Not your email. Some old OSIO (developers.redhat.com) accounts got auto-generated usernames during registration. And for some accounts the auto-generated usernames matched account emails. This bug is fixed now and users can chose their own usern

[2018-05-07 22:53] #3499 closed

[2018-05-07 23:22] ldimaggi opened #3500 "Recurring/intermittent issue - user account env reset fails (configmaps fabric8-environments not found)"
Resetting a user's environment sometimes fails with this error:

![untitled](https://user-images.githubusercontent.com/642621/39729763-98cca8d0-522b-11e8-8dd0-6127d859297c.png)

[code]

Over time, I have seen this error less than 5% of the time - in debugging tests today, I have been seeing it ~20% of the time - randomly.

[2018-05-07 23:46] muruGanesan commented on #945
@bdellasc, would you be able to provide the icon (i.e.) as per the standard and close this issue?

[2018-05-07 23:52] joshuawilson commented on #945
You shouldn't close the issue as the focus is not design. This requires a fix to be implemented before you can close it.
If you are done with design, please remove designer from the assignee list and ping me.

[2018-05-07 23:58] joshuawilson commented on #3484
I can't reproduce this.

[2018-05-08 00:08] sthaha commented on #3468
@krishnapaparaju may I request that we remove the P0? Assigning it to you so that no else need to take a look at this issue.

[2018-05-08 00:09] sthaha commented on #3467
Assigning it to @krishnapaparaju so that we don't forget to remove P0 and to save others from having to go through the issue again.

[2018-05-08 00:28] muruGanesan commented on #945
@joshuawilson, Please assign to an appropriate team...
Any UX support please reach out to me or @bdellasc

[2018-05-08 00:43] sthaha commented on #3498
@krishnapaparaju by any chance did you inspect the state of the pods?

[2018-05-08 01:34] aslakknutsen commented on #3495
Complete

[2018-05-08 01:34] #3495 closed

[2018-05-08 01:50] sthaha commented on #3390
@krishnapaparaju @kishansagathiya @maxandersen I think I have a hunch about solving this. I am guessing this is what happens under the hood when you visit https://jenkins.openshift.io while idler is waking up pods.

1. going to https://jenkins.openshift.io results in `proxy` querying `idler` if the pods are `idle` ?
1. `idler` responds that the `pods` are **not** `idle` since they are  `starting`

[2018-05-08 03:09] pradeepto commented on #3469
We should close this now?

[2018-05-08 03:09] joshuawilson commented on #945
@christianvogt can you take this on since build doesn't have anyone working UI?

[2018-05-08 03:09] pradeepto commented on #3469
Closing as this is in prod now.

[2018-05-08 03:09] #3469 closed

[2018-05-08 03:34] joshuawilson commented on #3344
@animuk how is this a SEV3 and not breaking UX? If the user doesn't know it, they will try to start a new app and think it all works while the build fails silently. Then they think the whole system is junk. If they then go and delete one of the apps, they can't even spin it down. Then they ask in an issue or on chat and someone tells them that they will need to wipe out everything with `reset envi

[2018-05-08 03:43] kishansagathiya commented on #3483
@joshuawilson Don't remember exact steps, sorry.

[2018-05-08 04:12] kishansagathiya commented on #3356
@catrobson

** Actual result: Somethings things go out to lunch, we don't show a pop-up, or anything, other than a spinning wheel on the step? Or is the spinning wheel in the modal?

On `View Pipelines` page result is Actual result is same as expected result when we click on `Promote`
However on `Analyze` page Actual result is different. When we click on `Promote`, it doesn't show a pop up or anyt

[2018-05-08 05:04] joshuawilson commented on #3391
@Preeticp Can you please check the docs to for any reference to the length of characters for the app name. This change is in prod now.

[2018-05-08 05:04] #3391 closed

[2018-05-08 05:08] Preeticp commented on #3391
Will do @joshuawilson

[2018-05-08 05:21] hrishin opened #3501 "[UI] shows old launcher screen on pipeline view"
**Steps to produce:**

1. navigate to pipeline view -> https://openshift.io/username/spacename/create/pipelines
2. click on right-hand corner breadcrumb menu and click `Add to Space` option as shown in below screenshot
![screenshot from 2018-05-08 10-41-34](https://user-images.githubusercontent.com/28615674/39739156-119c014e-52ad-11e8-9491-950812ff4a68.png)
3.  It shows the following launcher wiza

[2018-05-08 05:30] joshuawilson commented on #1614
I think @xcoulon made a fix for this. Can you please check if it worked. I'm just not 100% his fixed covered this or not.

[2018-05-08 05:31] joshuawilson commented on #3341
This fix has been pushed to prod. Closing. If there is still an issue, please reopen.

[2018-05-08 05:31] #3341 closed

[2018-05-08 05:34] joshuawilson commented on #3501
these buttons and links need to be updated but also the difference should be behind a feature flag.

[2018-05-08 05:35] joshuawilson commented on #3500
I just ran into this. I ran the reset again and it cleared it out.

[2018-05-08 05:36] rgarg1 commented on #2506
@vikram-raj The PR fixes the original issue, but a side-effect is observed. Once a date range is selected, editing the dates to chose a date in the future for an iteration is not possible.

[2018-05-08 06:34] kwk commented on #2506
Both, past and future MUST be allowed.

[2018-05-08 06:34] krishnapaparaju commented on #3498
I could still reproduce this error , this time with WFSwam HealthCheck. Earlier I was able to reproduce this problem with 3 boosters, this time with one booster (WFSwarm HealthCheck)

Here is the Jenkins log : https://gist.github.com/krishnapaparaju/c999d73a73d1e507197ba648b3301a11

I do see slight delay in deploying most of the boosters. However this issue covers 'not able to see deployed applica

[2018-05-08 06:36] rgarg1 commented on #268
The issue is fixed in production for _Assignees_ and _Label(s)_ selectors. LGTM!

However, the escape key issue still exists as mentioned by @qodfathr and I'll track it via a separate issue.

[2018-05-08 06:36] #268 closed

[2018-05-08 06:40] rgarg1 opened #3502 "Clicking Esc key closes the quick-preview, instead of the open drop-down"
Ref: https://github.com/openshiftio/openshift.io/issues/268

While a drop-down like _Assignees_ is open, pressing the Escape key on the keyboard closes the quick-preview, rather than the open drop-down.

See @qodfathr comment in the referenced defect.

Note: On the detail view page, Esc key has no effect either.

[2018-05-08 06:40] rgarg1 commented on #268
Opened: https://github.com/openshiftio/openshift.io/issues/3502

[2018-05-08 06:46] rgarg1 commented on #2435
The issue is fixed in prod. Closing.

[2018-05-08 06:46] #2435 closed

[2018-05-08 06:46] Preeticp commented on #3391
@joshuawilson, docs have been updated via PR: https://github.com/fabric8io/fabric8-online-docs/pull/351

[2018-05-08 06:52] rgarg1 commented on #1887
With the introduction of feature flags, I can't reproduce this issue anymore.

[2018-05-08 06:54] rgarg1 commented on #1887
Closing.

[2018-05-08 06:54] #1887 closed

[2018-05-08 06:56] divyanshiGupta commented on #3502
@rgarg1 this happens for each dropdown. Label selector, iteration selector and area selector if open doesn't get closed after pressing ESC.

[2018-05-08 07:07] rgarg1 opened #3503 "Cannot delete spaces. "500 Internal Server Error" from the API"
1) Log into OSIO
2) Browse to the page to see all your spaces
3) Try deleting a space. Observe that space is not deleted and you see a 500 error response from the backend API

![cannot delete space](https://user-images.githubusercontent.com/28748448/39742774-633ce658-52bc-11e8-84e7-312ffa357516.png)

[2018-05-08 07:09] rgarg1 commented on #3503
Priority @qodfathr ?

[2018-05-08 07:10] rgarg1 opened #3504 "OSIO dashboard's Spaces drop-down is missing the scrollbar"
And due to that, its impossible to view all spaces created by the user.

![not all spaces on dash](https://user-images.githubusercontent.com/28748448/39742938-f1c9a5aa-52bc-11e8-9434-2aed5c5016c9.png)

[2018-05-08 07:17] rgarg1 opened #3505 "Row overlapping with displayed tool-tip"
The tool-tip of a _Product Backlog Item_ get hidden behind a row highlighted. It happens while adding a PBI as a child work item. See image below for better clarity into the issue:

![infotip hidden](https://user-images.githubusercontent.com/28748448/39743206-d69abd68-52bd-11e8-8e1f-f534c0afbca6.png)

[2018-05-08 07:31] pbergene commented on #3026
@maxandersen this was in relation to the older, expired tokens that people internal to the team were issued around this time - before we moved to shorter linked tokens.  I think a relink was needed, but I only got a very general picture of this.

[2018-05-08 07:32] sara-02 opened #3506 "[8+2]New analytical model to extend companion recommendation for the whole Maven Ecosystem"
**Planner** [2149](https://openshift.io/openshiftio/openshiftio/plan/detail/2149) **and** [2150](https://openshift.io/openshiftio/openshiftio/plan/detail/2150)

## Description:
Extend the recommendations engine to support entire maven ecosystem and not the current subset of Vertx, Spring-boot and Wildfly.

## Task List:
- [x] Use Bigquery to collect the pom.xml
- [x]  Extract the EPs from the pom.

[2018-05-08 07:42] garagatyi commented on #3496
I did an investigation of the issue and it seems that something weird is happening in communication between fabric8 k8s client and OSO cluster. We will need to investigate it more but for now, we would not be able to provide a solution in time. What I can suggest is setting the default value of activeDeadline on OSO clusters to something like 3 hours. Just for the demo purposes.
@slemeur @kbsingh

[2018-05-08 08:01] riuvshin commented on #3496
@garagatyi you are right, that is not a memory thing. this is related to settings of `activeDeadlineSeconds`. It is fixed for @qodfathr WS for demo.

[2018-05-08 08:02] webknjaz commented on #3499
Ah.. I see, thanks! You are right.

[2018-05-08 08:19] rgarg1 opened #3507 "Work item title showing escaped in the link section"
1) Create a work item (say, Scenario) with a title having special chars e.g. `"hello"`
2) Create another Scenario with any title, say B
3) Create a child of B, say C
4) Open the quick-preview of C and browse to the Link section
5) Edit the links to make C a child of work item titled `"hello"`. Don't click on the _Link_ button yet.

Observe that the work item titled "hello" is displayed with escape

[2018-05-08 08:34] rgarg1 opened #3508 "Work item title with special characters is displayed escaped on edit"
A work item title with special characters is _avoidingly_ displayed escaped on edit. The title, however, is not updated with escaped string.
![trivial escaping issue](https://user-images.githubusercontent.com/28748448/39746644-9350bbe2-52c8-11e8-9b49-081009bef46f.gif)

[2018-05-08 08:51] tisnik commented on #3490
Package-related part:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/538

[2018-05-08 08:54] sunilk747 commented on #3403
Closing this as this is being tracked here #3282

[2018-05-08 08:54] #3403 closed

[2018-05-08 09:01] #3490 closed

[2018-05-08 09:06] ravsa opened #3509 "Support Blank Booster in Che"
#### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2266
As an openshift.io user, He should able to build blank mission booster in the Che environment.

**Acceptance:**
- Blank mission Boosters should be able to do :

     -- Build in Che

     -- Run in Che

     -- Autocompile in Che

**Out of Scope:**
- N/A

[2018-05-08 09:36] kwk commented on #2867
I think this issue is related openshiftio/openshift.io#3503

[2018-05-08 09:41] kwk commented on #3503
I can confirm the issue but interestingly the space disappears from the list of my spaces anyways.

[2018-05-08 09:50] sunilk747 opened #3510 "Support NodeJS Booster in che"
OSIO Users should be able able to build NodeJS boosters as a part of launcher flow and proceed with creating the project out of it.

Acceptance Criteria

- NodeJS Boosters should be able to do :

     -- Build in Che

     -- Run in Che

     -- Autocompile in Che

**Out of Scope:**
- N/A

[2018-05-08 09:57] jyasveer opened #3511 "[5] - Spike to try out Telemetry in a Web Application"
#### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2264
This is a spike user story to try out telemetry in a web application.
This includes :
- [ ] Understand the Woopra sdk library and see how we can use within our application
- [ ] Setup up events on the elements
- [ ] Decide on generic object model that will have the payload data like application, page, dom element, etc
-

[2018-05-08 10:01] kwk commented on #3472
@jarifibrahim is this really verified yet in prod? It seems like you've closed this issue with a commit.

[2018-05-08 10:06] jarifibrahim commented on #3472
@kwk Thanks for reopening this. I updated my fork and that automatically closed this issue.

[2018-05-08 10:07] sunilk747 opened #3512 "[8] Create a basic structure to support Node in launcher"
## User Story

As an OSIO user, I will be able to create a project from a nodejs booster.

## Description:
As we are adding support for the node, to make it compatible with launcher we need to add generic classes for nodejs and we also need to add an extra field in OSIO endpoint to support this.
## Acceptance criteria
Node support in the launcher.

## Task List:
- [x] Create a node dependency para

[2018-05-08 10:10] ibuziuk commented on #1502
fixed in che 6 and new icon is available on prod. Closing
![image](https://user-images.githubusercontent.com/1461122/39751504-b0e7e8ca-52b8-11e8-96f6-8933de1820bd.png)

[2018-05-08 10:10] #1502 closed

[2018-05-08 10:18] divyanshiGupta commented on #2537
@Raunak1203 as I said before this issue doesn't occur always but sometimes and randomly. @debloper can you please take a look at it? You might better debug it since you implemented delete comment.

[2018-05-08 10:19] divyanshiGupta commented on #3359
@sunilmalagi ^^

[2018-05-08 10:20] invincibleJai opened #3513 "[5] Notification to be shown to in case of any info/error"
#### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2262
As an openshift.io user, He should be notified in case of any failure/info while setting up an application in Launcher flow

**Acceptance:**

- OSIO Users should be notified in case of any failure while setting up an application in Launcher flow.

**Task**

- [ ] Have patternfly Toast notification to update the user wit

[2018-05-08 10:23] jyasveer opened #3514 "[8] Update the user about the resource quota available."
####User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2253
As a user of OSIO, I should be informed about the resources available in order to proceed to create a application.

### Description
As seen in design link in parent issue, In case of OSIO Users exhausted the usage quota limit at Openshift , then Users should be prevented for creating another new application from Openshif

[2018-05-08 10:24] invincibleJai opened #3515 "[8] Integrate Dependency Editor into Launcher flow as an optional step"
### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2180
As an openshift.io user, He should be able to see Dependency Editor in launcher flow as an internal feature.

### Acceptance:

- OSIO Users should be able to see Dependency Editor in launcher flow as an experimental feature.
- OSIO Users should able to search the relevant project dependencies from the dependency editor.

[2018-05-08 10:32] sunilmalagi commented on #3359
@divyanshiGupta Agree with you Divyanshi...

[2018-05-08 10:35] debloper commented on #2537
@divyanshiGupta on the surface it looks like the modal's lifecycle isn't being handled properly, but I haven't looked into the code yet. It seems like a regression because of some new changes elsewhere.

I'm on PTO, so unless this is very urgent+important, I'll take a look into it on next Monday. If it is indeed urgent+important, then please have someone else to look into it - this shouldn't be to

[2018-05-08 10:48] divyanshiGupta commented on #2537
@debloper no problem. This issue is hard to debug since it occurs only once. Once you are back we can talk about it and can try to debug and resolve it.

[2018-05-08 11:03] kwk commented on #3472
@jarifibrahim It is not re-opened after you've closed it with your commit. Please re-open yourself if needed.

[2018-05-08 11:04] jarifibrahim commented on #3472
Reopened because it's not verified in prod

[2018-05-08 11:28] ldimaggi commented on #3500
For the most part, a retry resolves this problem. However, I have seem instances where multiple retries are needed. No details other than the 500 error are logged.

[2018-05-08 11:37] garagatyi commented on #3496
An interesting thing I've discovered is that when Che creates WS pods in user-che namespace there is an `activeDeadline` property set, but when I create a pod in the same namespace from OSO cluster UI there is no `activeDeadline` and it seems that such pod can run forever.
@riuvshin Do you know somebody from SD or OSO platform team who can help us figuring out whether it is a bug or not?

[2018-05-08 12:32] stooke opened #3516 "Disallow leading digit or embedded spaces in application names"
The current UI validates names via a regex that allows leading digits and embedded spaces.
I would like to remove both of those; leading digits cause issues with DNS in Kubernetes, and spaces may cause unknown problems at some point.

First, I would like to ask for the _actual_ naming requirements; my proposed change is just a common-sense guess.

The "ideal" architecture disconnects the applicati

[2018-05-08 12:33] divyanshiGupta commented on #3485
@jarifibrahim I cannot recreate this issue. Can you please confirm again?

[2018-05-08 12:37] hrishin commented on #3390
Hitting this issue quite a bit in last 2 days. Rather I'm facing this issue for Jenkins tenants route URL as well. https://jenkins-hshinde-jenkins.8a09.starter-us-east-2.openshiftapps.com/configure

![image](https://user-images.githubusercontent.com/28615674/39757444-79d345dc-52ea-11e8-8066-3566b005d9a7.png)

cc: @sthaha

[2018-05-08 13:47] jarifibrahim commented on #3485
@divyanshiGupta I can reproduce it.

[2018-05-08 14:04] aptmac commented on #3485
Neat! I'm seeing the same issue too, here's a gif of it in action:

![planner-tooltip-grayspace](https://user-images.githubusercontent.com/10425301/39761820-14bf4dfa-52a7-11e8-8a53-340d98854085.gif)

[2018-05-08 14:06] stooke commented on #3516
Kubernetes:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md

[2018-05-08 14:33] ldimaggi commented on #3461
![screenshot from 2018-05-08 10-32-41](https://user-images.githubusercontent.com/642621/39763498-461042de-52ab-11e8-8854-58452dcebcf2.png)

[2018-05-08 14:34] jarifibrahim commented on #3485
@divyanshiGupta It's on prod and prod-preview

[2018-05-08 14:52] ldimaggi commented on #3498
I still cannot recreate this error - Wildfly Swarm/Healthcheck:

![screenshot from 2018-05-08 10-51-39](https://user-images.githubusercontent.com/642621/39764575-ea84c068-52ad-11e8-806a-4c4d30878be0.png)
![screenshot from 2018-05-08 10-50-52](https://user-images.githubusercontent.com/642621/39764576-ea923ad6-52ad-11e8-82c8-d7ff78b8a3e1.png)

[2018-05-08 15:48] Preeticp commented on #3461
@ldimaggi I am not sure this is the same problem. We are updating the docs as per latest changes on the UX. I am on experimental view and I just created an app following the launcher, when I go to Analyze/Dashboard page, I do not see a section for Pipelines at all. I tried resetting my environment and then created a fresh App, and this what I see:

![screenshot from 2018-05-08 21-03-16](https://us

[2018-05-08 15:51] bdellasc commented on #2875
- Created another concept, but in digital form
- Presented the concept in demo
- Hunted some more for a good WYSIWYG SVG animation tool, and seemed to have found one
- Brought digital concept into the tool and began playing around with the animation ideas I had
- Have a couple more ideas that I want to flesh out as "vignettes" on style and motion to get some reactions from @slemeur 's team. There'

[2018-05-08 16:37] jiekang commented on #3461
In the new dashboard, the Pipelines widget no longer exists. I think this is expected. @joshuawilson ?

[2018-05-08 16:47] Preeticp commented on #3461
Thanks @jiekang, then the docs team is on the right track. We are removing all references in the docs to Pipelines in the Dashboard view.

[2018-05-08 18:34] aptmac commented on #3277
These features were added in https://github.com/fabric8-ui/fabric8-ui/pull/2812

[2018-05-08 18:34] #3277 closed

[2018-05-08 20:35] joshuawilson commented on #3461
@Preeticp but that is the experimental view. You should only be pre-loading the Beta view.

[2018-05-08 20:56] slemeur commented on #2875
Sounds good. Thanks @bdellasc !

[2018-05-08 21:40] joshuawilson commented on #3484
Does your title include quotes? I had thought you were quoting the title you used.

[2018-05-08 21:45] joshuawilson commented on #3483
closing, if you can reproduce please reopen or start a new issue

[2018-05-08 21:45] #3483 closed

[2018-05-09 00:24] ldimaggi opened #3517 "Jenkins un-idling not working"
Seeing this behavior:
* Reset user env
* Observe Jenkins and Content Repo pods start up
* Wait until both pods idle
* Create a new app
* Observe Jenkins and Content Repo pods do not un-idle

![screenshot from 2018-05-08 19-23-50](https://user-images.githubusercontent.com/642621/39789351-56a8d0dc-52fd-11e8-9e6f-0edc7636ac9f.png)

![3](https://user-images.githubusercontent.com/642621/39789350-569a53

[2018-05-09 00:29] ldimaggi commented on #3517
The only event seen is:
[code]

[2018-05-09 02:46] joshuawilson commented on #3500
I think this is a duplicate of #2867

[2018-05-09 02:51] joshuawilson commented on #3517
related to #3356

[2018-05-09 05:35] #2810 closed

[2018-05-09 05:36] animuk commented on #2517
@jyasveer do we still need this? Closing it.

[2018-05-09 05:36] #2517 closed

[2018-05-09 05:37] #2516 closed

[2018-05-09 05:39] #2320 closed

[2018-05-09 05:41] animuk commented on #1187
it's being tracked here https://github.com/openshiftio/openshift.io/issues/2945

[2018-05-09 05:41] #1187 closed

[2018-05-09 05:43] Preeticp commented on #3461
Got it, thanks @joshuawilson

[2018-05-09 06:42] msrb commented on #1897
PR merged, thanks Pavel :wink:

[2018-05-09 06:43] #1897 closed

[2018-05-09 07:43] rhopp commented on #3489
@arunkumars08 Basically yes... In the first few seconds after page load, the plus sign redirects to wrong page. After those few seconds, I guess that some script finishes loading and the plus sign behaves as expected (probably onClick method on that element is overriden?)
@aptmac This is happening in both "Production Only features" and "Internal Experimental". If you wan't me to try that with othe

[2018-05-09 08:40] tisnik opened #3518 "[1] Update selftests to verify the package and component schema checks"
New schema checks implemented via #3490 and #3488 needs to be verified by so called selftests.

### Acceptance criteria:

- [x] selfchecks are prepared
- [x] test data are stored in the `fabric-analytics-common` repository
- [x] integration test framework prepared to accept new steps
- [x] all selfchecks passed

[2018-05-09 08:45] animuk commented on #3402
not needed. closed

[2018-05-09 08:45] #3402 closed

[2018-05-09 08:48] tisnik opened #3519 "[3] Display charts with code coverage, cyclomatic complexity etc. on the QA Dashboard"
RFE:

- [ ] display charts (or link to new page) with code coverage for each repository on the QA Dashboard
- [x] display charts (or link to new page) with cyclomatic complexity for each repository on the QA Dashboard

[2018-05-09 08:56] rootAvish commented on #2806
The remaining work around the training will be scoped in a separate issue in 149. Closing as done.

[2018-05-09 08:56] #2806 closed

[2018-05-09 09:15] tisnik opened #3520 "[1] Reduce cyclomatic complexity in the `fabric8-analytics-common` repository"
Reduce cyclomatic complexity in the `fabric8-analytics-common` repository

### Acceptance criteria

- [x] All code has cyclomatic complexity in rank A and B
- [x] No code with rank C, D, E, F
- [x] Average complexity below 2.5 points

[2018-05-09 09:23] arunkumars08 opened #3521 "[8] CICD and Semantic release for Dependency editor"
### Description: https://openshift.io/openshiftio/openshiftio/plan/detail/2271

As a developer, I should be able to seamlessly develop and deploy changes as and when pushed to master.

### Acceptance Criteria

- Pushing changes to master branch should release a new NPM version and release it to NPMJS.org
- Post that, it has to create pull requests to all the repositories that has this as a depende

[2018-05-09 09:25] tisnik opened #3522 "[2] Reduce cyclomatic complexity in the `fabric8-analytics-license-analysis` repository"
Reduce cyclomatic complexity in the `fabric8-analytics-license-analysis` repository

### Acceptance criteria

- [ ] All code has cyclomatic complexity in rank A and B
- [ ] No code with rank C, D,E, F
- [ ] Average complexity below 3.0 points

[2018-05-09 09:27] arunkumars08 opened #3523 "[8] Integration tests for dependency editor"
### Description

As a developer, I need to make sure integration tests are run on every change pushed to master in order to ensure the stability of the application.

### Acceptance Criteria

- Run integration tests on each PR as well as push to master.

### Tasks

- [ ] - Bring in integration tests related infra.
- [ ] - Write tests to make sure the functionalities are covered.
- [ ] - Bring in CI

[2018-05-09 09:27] #3453 closed

[2018-05-09 09:33] abs51295 commented on #3167
`package-lock.json` is not available for https://github.com/openshiftio/openshift.io/ and hence we would only be able to scan direct dependencies.

[2018-05-09 09:33] #3167 closed

[2018-05-09 11:42] #3268 closed

[2018-05-09 11:43] animuk commented on #3268
no need to track now

[2018-05-09 11:47] jyasveer commented on #2517
no we dont need this anymore. Thanks @anindya for closing this

Jyasveer Gotta

Software Engineer

Red Hat India <https://www.redhat.com>

jgotta@redhat.com
<https://red.ht/sig>

On Wed, May 9, 2018 at 11:06 AM, Anindya Mukherjee <notifications@github.com

[2018-05-09 11:57] miteshvp commented on #2694
@ldimaggi - have you observed this behavior? I am still not able to reproduce this.

[2018-05-09 12:04] containscafeine commented on #3517
@ldimaggi were the pods still being showed as idled in the UI? This could be an intermittent error of content-repository service not responding to the Jenkins init-container which @piyush1594 and @rupalibehera have faced in the past.

[2018-05-09 12:13] containscafeine commented on #3517
One way to test if this is the case is by checking if there are continuous retries in the Jenkins' init container even though the content repository is up; run the command `oc logs -c content-repository-init -f <jenkins pod name>`

[2018-05-09 12:49] joshuawilson commented on #3498
no one can reproduce this, downgrading to SEV2

[2018-05-09 13:14] jiekang opened #3524 "Deployments request to https://api.openshift.io/api/deployments/spaces/<spaceId> fails"
Seen on production, requests to `https://api.openshift.io/api/deployments/spaces/<spaceId>` fail with:

Request failed: 500 (Internal Server Error) {"errors":[{"code":"internal_error","detail":"could not retrieve space arst: failed to GET url http://f8osoproxy/oapi/v1/namespaces/jkang/builds?labelSelector=openshift.io%2Fbuild-config.name%3D0123456789012345678901234567890123456789012345678901234567

[2018-05-09 13:14] jiekang commented on #3524
@ebaron @stooke any ideas?

[2018-05-09 13:25] stooke commented on #3524
Yes, but do you have any entity with that long string in its name? 0123456789012345678901234567890123456789012345678901234567890123 application

[2018-05-09 13:26] tisnik commented on #3518
Basic checks implemented in:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/539

[2018-05-09 13:32] jiekang commented on #3524
Ah... right. Yes that was created when testing the 64 character limit and demonstrating the ability to start an application name with a number via the new wizard (but not via the old wizard)

Maybe this is a good reason for https://github.com/openshiftio/openshift.io/issues/3516 and the 40 character limit?

[2018-05-09 13:34] stooke commented on #3524
almost certainly.  Can you still make a 64 character name in the new wizard?

[2018-05-09 13:35] piyush1594 opened #3525 "Not able to see new Github org"
In new launcher-UI, after selecting the mission, runtime and pipeline, when I enter the GitHub repo name, I am not able to see new org just created on GitHub to choose.

I tried refreshing the page, also log out and new incognito window, and also refresh GitHub account but still not able to see new org.

[2018-05-09 13:36] jiekang commented on #3524
This was done before your change went in. I can't anymore.

[2018-05-09 13:39] jiekang commented on #3524
I guess this is in a round-about way a duplicate for #3516 but it does highlight why that needs to be done.

[2018-05-09 13:42] jiekang commented on #3461
I was planning to try to find the root cause for this but I can't reproduce it on production or on a local instance anymore. I wonder what changed for me... :(

[2018-05-09 13:43] piyush1594 commented on #3517
I also faced this thing today

Steps:
My Jenkins and content repo were idle.
I created an application
Content repository got unidle but Jenkins pod does not come up and get stuck in init container stage. It's not able to get the response from content-repository for the curl request it is making

[code]

After that restarting the Jenkins pod works.

[2018-05-09 13:45] ldimaggi commented on #3517
Yes - the pods were shown as idle in the UI.

[2018-05-09 13:51] jfchevrette commented on #1614
The errors are caused by the very short lived container terminating before Openshift has the time to finish the pod bringup (networking, mounting secrets, etc...)

As a quick workaround we can add a sleep in there after the rm (`sleep 5` should do)

As a long term solution, it is probably worth looking into creating a [Job](https://docs.openshift.com/container-platform/3.9/dev_guide/jobs.html) whi

[2018-05-09 14:02] xcoulon opened #3526 "*url.Error: Delete http://f8tenant:80/api/tenant?remove=false: EOF"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/3127/

[code]

[2018-05-09 14:15] ebaron commented on #3524
Perhaps we should add a check for the 63 character limit in the deployments API, so we fail with a better error?

[2018-05-09 14:27] stooke commented on #3524
The deployments API takes UUIDs for space IDs.
What we could do is (on failure from k8s calls) check the length and if it's too long add a message into the error response passed back from k8s.
In that way, we're not adding any restrictions of our own.

How does that sound?

[2018-05-09 14:57] ebaron commented on #3524
When I send this request using a cURL, I noticed there is a Kubernetes Status resource returned in the response body.
[code]
We should probably check the response body for this and extract the message from it. This would improve our error messages throughout, without us needing to check each condition ourselves.

[2018-05-09 15:05] davidfestal commented on #1614
So to summarize, looking directly into the PV with a test POD showed that, in fact, all the tests I did today were successful: the corresponding workspace folders were correctly removed from the PV when deleting a workspace from the dashboard.
The warning shown in the events related to the cleaning POD finally doesn't seem to be a problem.

As for adding a `sleep 5` in the cleaning command, I'm no

[2018-05-09 15:16] ldimaggi commented on #3461
Followup on Pavol's earlier comment - this problem seems to be seen much more often on the 1a and 1b clusters (less often on 2 and 2a).  Maybe timing related?

[2018-05-09 15:34] jiekang commented on #3461
I think it's certain there is a race, I just don't know where. The pipelines observables are a bit strange. They emit a lot of different values sometimes.

[2018-05-09 15:57] ldimaggi opened #3527 "User accounts provisioned on 1a and 1b cluster are seeing No 'Access-Control-Allow-Origin' errors"
Steps to recreate issue:
* Login to https://openshift.io with a user account provisioned on the 1a or 1b cluster
* Observe the browser console log - the error is seen frequently while performing operations such as creating a new build pipeline:

[code]
Note - is this issue related to this problem:  https://github.com/openshiftio/openshift.io/issues/3461?
#3461 seems to happen very frequently with

[2018-05-09 16:10] ldimaggi commented on #3461
It looks as though issue #3461 is being seen 100% of the time for user accounts on the 1a and 1b clusters - See: #3527

[2018-05-09 16:10] ldimaggi commented on #3527
It looks as though issue #3461 is being seen 100% of the time for user accounts on the 1a and 1b clusters - See: #3527

[2018-05-09 16:11] piyush1594 commented on #3525
Docs need to be fixed here https://docs.openshift.io/user-guide.html#adding_github_org Working for me after going to this link https://github.com/settings/installations and then 'Authorized OAuth apps` and then Grant.

[2018-05-09 16:33] gastaldi commented on #2093
Given that the Jenkins may be idled, I'd suggest to increase the priority on this issue.

As of https://github.com/fabric8-launcher/launcher-backend/pull/390 we're removing the launcher-backend code that talks to Jenkins and the UI needs to change to talk to the jenkins-proxy URL directly instead (https://github.com/fabric8-ui/fabric8-ui/blob/master/src/a-runtime-console/kubernetes/ui/pipeline/inp

[2018-05-09 16:36] Preeticp commented on #3525
@piyush1594 the doc has been updated as per the workaround I suggested. Here's the PR for the same: https://github.com/fabric8io/fabric8-online-docs/pull/358.
Happy to know the Launcher workflow worked after following the workaround.

[2018-05-09 16:51] l0rd commented on #3496
An update on this issue. We figured out that Che workspaces are considered terminating pods whereas before they where considered non terminating:

![image](https://user-images.githubusercontent.com/606959/39827529-0b7a9346-536d-11e8-9565-c9dae9b76bb1.png)

The workaround for @qodfathr namespace has been to increase the default value for `activeDeadLine` (something that can be set at single namespa

[2018-05-09 17:03] invincibleJai commented on #3525
@Preeticp @piyush1594  it's not a workaround, that's the expected behavior ;) i.e just by creating an org in GitHub it won't show up, user needs to grant access for that org to OSIO https://github.com/settings/applications, this even happens during authorization to Github

[2018-05-09 17:04] aptmac commented on #3461
fwiw I encounter this infrequently, but when I do I'm usually able to recreate it after a bit of spam refreshing. I added a console.warn() in a local run to the `pipelines-widget.component.ts` to see what the `buildConfigs` observable [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/c62508f72fd8a2475b2251a2aa9dfad518ada84e/src/app/dashboard-widgets/pipelines-widget/pipelines-widget.component.ts

[2018-05-09 17:07] Preeticp commented on #3525
@invincibleJai the workaround was for the steps to the docs, which allowed him to grant access. Once I figured the correct links, he was able to grant access and your launcher flow worked as expected :)

[2018-05-09 18:15] gastaldi commented on #3418
It looks like this is still happening in production: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-launcher-backend/issues/4009/

@bmicklea do you confirm this? Feel free to reopen this issue

[2018-05-09 18:45] jiekang commented on #3461
The DOM not being updated is what the PR targets and resolves that. Though I'm worried it could be a sign of a deeper underlying issue, this widget is going to be removed soon anyways.

[2018-05-09 18:49] ldimaggi opened #3528 "Intermittent issue - Che workspace fails to fully initialize"
Started seeing this randomly/repeatedly today - steps to recreate:
* Create a new app
* Create a new Che workspace
* Observe one of these errors in the dev-machine window:

[code]

- or -

[code]

Not able to recreate - but have seen this multiple times today.

[2018-05-09 18:51] kishansagathiya commented on #3356
We had a failed attempt at this with https://github.com/fabric8-ui/fabric8-ui/pull/2889
The whole retry logic doesn't perform well. Proxy doesn't behave the way it is supposed to. Proxy was not written to serve this purpose, we reused current proxy flow to serve this purpose anyway and thus we ended up with a switch with many codes.
Anyway after a long discussion with @containscafeine @sbose78 @pi

[2018-05-09 18:54] sbose78 commented on #3356
We've hit a wall with the current approach.

Why?
Our current approach was to make an async call to Jenkins proxy, during "Promote" to check if jenkins is up - the call would also have unidled jenkins if needed.

However, there is no REST API in Jenkins Proxy which returns a distinct HTTP response code to imply if jenkins is up. It always returns a 302 first. Hence, the user experience refactored

[2018-05-09 19:47] msrb commented on #3409
We already have a fix, but CI seems to be broken at the moment.

[2018-05-09 19:48] msrb commented on #3406
PR merged, thanks :wink:

[2018-05-09 19:48] #3406 closed

[2018-05-09 19:49] msrb commented on #3405
PR: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/632

[2018-05-09 19:50] msrb commented on #3166
PR merged, thanks :wink:

[2018-05-09 19:50] #3166 closed

[2018-05-09 19:52] msrb commented on #2702
Initial version is complete, thanks :wink:

[2018-05-09 19:52] #2702 closed

[2018-05-09 19:58] msrb commented on #1084
PR: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/524

[2018-05-09 20:12] ebaron commented on #3524
Should we propagate the 400 Bad Request here, or stick with 500 Internal Server Error? I'm a bit concerned about any unintended side effects of doing so, such as when returning 401 logged the user out from OSIO.

[2018-05-09 20:15] stooke commented on #3524
I'd take chance with the 400.  Recently I bubbled up some other errors that were hidden like that and it helped us catch the issue (the reused osio client object) right away.

[2018-05-09 20:16] ebaron commented on #3524
Sounds good, thanks for the input!

[2018-05-09 20:16] jiekang commented on #3524
If this issue doesn't affect all the results, is there some response that indicates that some parts are faulty but the rest are usable? E.g. if I have 5 applications, 1 of them is malicious, we could still get the right data for the 4 back to the front-end to display, and handle the 5th as an error and maybe have some UX around that.

[2018-05-09 20:20] aptmac opened #3529 "Hovering a recent space link in home component can introduce an unneccessary scrollbar"
When hovering a link in the recent spaces widget of the home component, a scrollbar can appear on the highlighted list group. This currently only occurs in feature-flag >= experimental, because the trigger for this is the addition of a tooltip when highlighting the space link [0].

Here's an example:
![scrollbar](https://user-images.githubusercontent.com/10425301/39837269-fdd8e972-53a3-11e8-9c7c-4

[2018-05-09 20:32] msrb commented on #3522
@tisnik you shouldn't be working on this. Somebody needs to own the code and make sure that it is maintainable.

[2018-05-09 20:39] msrb commented on #3522
@miteshvp who would be the best person to work on this?

[2018-05-09 20:56] msrb opened #3530 "Clean up Python CVE false positives in S3 and graph"
# Description

We tried to use multiple tools/sources of CVE data in the past. None of them was particularly good and graph queries reveal that there is quite a lot of false positives. We want to get rid of them and only use curated CVE data for Python that we have now. We want to clean up both S3 and graph.

[2018-05-09 20:57] msrb opened #3531 "Clean up Node.js CVE false positives in S3 and graph"
# Description

We tried to use multiple tools/sources of CVE data in the past. None of them was particularly good and graph queries reveal that there is quite a lot of false positives. We want to get rid of them and only use curated CVE data for Node.js that we have now. We want to clean up both S3 and graph.

[2018-05-09 21:24] msrb opened #3532 "Move fabric8-analytics-nvd-toolkit to production"
Planner ID: #2122

# Description

We want to move Marek's [nvd-toolkit](https://github.com/fabric8-analytics/fabric8-analytics-nvd-toolkit) to production as it will help us reduce the number of CVE false positives that our current CVE job produces.

[2018-05-09 21:41] CermakM commented on #3183
The PR has been merge in [this commit](https://github.com/fabric8-analytics/fabric8-analytics-nvd-toolkit/commit/8ea12e0f2a88583f633cf5c23686cd4d26d85e2a), closing the issue.

[2018-05-09 21:41] #3183 closed

[2018-05-09 21:52] ldimaggi commented on #3528
This problem is showing repeatedly today - networking issues?

![screenshot from 2018-05-09 15-05-28](https://user-images.githubusercontent.com/642621/39841699-ab870650-53b1-11e8-89a9-c03f107cd445.png)

[2018-05-09 21:56] CermakM opened #3533 "Bookkeeping API improvements"
### Description

The bookkeeping API design (as a part of [jobs](https://github.com/fabric8-analytics/fabric8-analytics-jobs/tree/master/f8a_jobs) repository) provides just a way to list summed information about the EPVs. This behaviour is quite unintuitive and does not resemble API spec.

As an example, it is possible to list information about the package given its EPV, but there is no way to lis

[2018-05-09 22:14] slemeur commented on #3247
Done - other than my comments, it looks great.
Thanks @stacymcauliffe

[2018-05-09 22:32] #2481 closed

[2018-05-09 22:47] msrb commented on #2883
@ldimaggi I believe this should be fixed already. Please reopen if you are still able to reproduce this issue. Thanks :wink:

[2018-05-09 22:47] #2883 closed

[2018-05-09 23:26] ldimaggi commented on #3528
Expected results would be to see this logging in the dev-machine panel window:

[code]

[2018-05-10 03:34] eivantsov commented on #3496
@l0rd will restart policy really help? Even if a ws pod is restarted, it won't have any of the agents unless Che server re-bootstraps it again

[2018-05-10 04:33] sthaha commented on #3356
Isn't it better to return the `state` of jenkins instead? e.g. api/jenkins/state/:namespace returns ` { data: { state: "running|starting|idled" } errors: [ {code: xxx, description: "foobar" } ]` as the api itself does succeed ?

/cc @kishansagathiya @sbose78

[2018-05-10 04:35] kishansagathiya commented on #3356
This is definitely better

[2018-05-10 04:40] gastaldi commented on #3356
Can I ask you guys to also POST directly to Jenkins instead of using launcher-backend as a proxy? I have created [1]  for that matter, but CORS issues are preventing it to work as it should :cry:

[1] https://github.com/fabric8-ui/fabric8-ui/pull/2895#issuecomment-387944649

[2018-05-10 04:46] kishansagathiya commented on #3356
@sthaha
The issue is intermittent even when Jenkins is idle. Since the request to promote is not going through the proxy, it would be good to spend some time on how things are happening right now.

In the attempt that we made it failed, because jenkins.prod-preview.openshift.io did not get JSESSIONID cookie. I would rather investigate why this cookie is not being sent.

Because even with the new e

[2018-05-10 06:00] garagatyi commented on #3496
@l0rd I think that workspace pods were always terminating, but, probably, default cluster-wide `activeDeadline` was introduced which caused the issue.
I agree with @eivantsov that setting restart policy, for now, doesn't make sense because our workspaces can't restart, unfortunately.
Deploying workspace with a deployment config seems very reasonable even without the need to mitigate the issue. I d

[2018-05-10 06:35] eivantsov commented on #3496
As far as I understand, pods scheduled by deployments aren't subjected to such caps, otherwise Che server pod would have already had identical issues, while hasn't so far.

As to using deployments, not pods, for workspaces, it has its advantages of course, however, as I understand it, deployments are for apps that have their update and restart lifecycle. In case of a workspace pod, it is what it i

[2018-05-10 07:53] Veethika commented on #3066
@xcoulon @Preeticp @rgarg1 @nimishamukherjee We should go ahead with @catrobson 's suggestion of showing notification only for serious actions and not when there's a very clear visual feedback following it.
And every notification should come with a 'close' option to avoid any hinderance.
Let me know if we all agree on this so that @sunilmalagi could take it further.

[2018-05-10 07:56] parvathyvr commented on #3279
Invision Mockup link: https://redhat.invisionapp.com/share/GXIEBSK7VU3#/screens/296299817_Table_Of_Contents
please add comments for any changes.

[2018-05-10 08:00] #3518 closed

[2018-05-10 08:08] msrb opened #3534 "f8a sentry: ignore non-error exceptions"
# Description

Majority of fabric8-analytics exceptions in Sentry are not actually bugs. Tasks in ingestion pipeline use exceptions to control flow, e.g. if GitHub URL is invalid, then task immediately ends by throwing an exception.

Since the number of these non-error exceptions is huge, we need to find a way how to either don't send them to Sentry at all, or how to automatically hide/ignore them

[2018-05-10 08:20] msrb opened #3535 "Automatically analyze unknown components found during stack analysis"
# Description

It should be possible to automatically schedule analysis of unknown components found during stack analysis. This feature should be configurable, and for now, disabled in production.

[2018-05-10 08:37] abs51295 commented on #2993
I think this is already done [here](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/dispatcher/flows/bayesianAnalysisFlow.yml#L104). @msrb WDYT?

[2018-05-10 09:04] tisnik commented on #3520
Current status (cyclomatic complexity blocks in ranks C to F):

[code]

[2018-05-10 09:31] #2970 closed

[2018-05-10 09:41] msrb commented on #2993
@abs51295 nope: https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/dispatcher/flows/bayesianAnalysisFlow.yml#L85-L88

We still run dependency snapshot task even if recursive limit is set to 0.

[2018-05-10 09:44] #3409 closed

[2018-05-10 11:12] ppitonak commented on #3278
Yes, it's ok now. Feel free to close this issue.

[2018-05-10 12:12] sara-02 commented on #3506
PoC Code can be tracked here:
https://github.com/fabric8-analytics/poc-maven-stack-analysis

[2018-05-10 12:17] sara-02 commented on #3202
@tisnik A companion issue that I created in the repo https://github.com/fabric8-analytics/f8a-server-backbone/issues/69

[2018-05-10 12:30] InfoSec812 opened #3536 "Deleting a Space from the all spaces view does not show any indication it is working"
To reproduce:

1. Create a new space
2. Switch to "View all spaces"
3. Click the "Trash" icon
4. Confirm deletion

Expected: Some sort of visible indication that the delete operation is in progress

Actual: No visual indication until the delete is complete and the modal dialog disappears

Suggested resolution: Add a "spinner" to indicate the operation is in progress

[2018-05-10 13:32] #3278 closed

[2018-05-10 13:32] hrishin commented on #2729
**Update:**

After evaluating overall options to limit concurrent builds It's better to handle it at Jenkins level. To make it work we need to fix the behavior of `containerCap` parameter in [kubernetes Jenkins plugin](https://github.com/jenkinsci/kubernetes-plugin/pull/264#issuecomment-388039947) which is broken ATM.

cc: @rohanKanojia @maxandersen

[2018-05-10 14:15] aditya-konarde commented on #3496
Is this still to be considered a SEV-1?

[2018-05-10 14:53] Preeticp commented on #1755
@RickJWagner the work items section in the docs has been updated to provide more context on the work flow for both SDD and Scrum methodologies: https://docs.openshift.io/user-guide.html#using_guided_hierarchy_to_create_work_item
Also terms like Scenarios, Value Proposition have been explained both as infotips in the UX as well as in the User guide glossary: https://docs.openshift.io/user-guide.htm

[2018-05-10 18:41] stevef1uk opened #3537 "Issue with persistent volumes claims < 1Gb"
Hi,

I am trying to deploy Cassandra using the community tier from this repo: https://github.com/anderssv/openshift-cassandra

I need Cassandra for a microservice project I am working on. I appreciate that the community account is limited, so I reduced the size of the persistent volumes claimed, but the errors I get are:

Error from server (Forbidden): persistentvolumeclaims "cassandra-pvc-1" is f

[2018-05-10 19:50] stevef1uk opened #3538 "Logon issue"
When I logon as the Id I registered with for openshift.io get the message that:

User with email ****@****.com already exists. How do you want to continue?

When I select 'Add to existing account' I get asked for the password, which isn't accepted for the ****@****.com ID. I know I haven't forgotten it as I have just changed it using this link: https://www.redhat.com/wapps/sso/lostPassword.html

I

[2018-05-10 21:03] mmclanerh commented on #3496
can we get an update on where we are at with a fix here? is this a sev-1 item? this seems to fit more under a sev-3 description.

https://github.com/openshiftio/openshift.io/wiki/Labels

[2018-05-10 21:04] mmclanerh commented on #3450
can we get an update here on this sev-1?

[2018-05-10 21:05] mmclanerh commented on #3442
can we get an update on this sev-1?  thanks.

[2018-05-10 21:10] mmclanerh commented on #3299
are folks still experiencing this? my impression is yes --  if so, let's try to get some debug data captured as described via https://github.com/openshiftio/openshift.io/issues/3299#issuecomment-386600399

[2018-05-10 21:19] aptmac commented on #3481
I don't see it every time, but I did manage to have it happen once with breakpoints inserted, and noticed a 409 error printed to the console.
![error-409](https://user-images.githubusercontent.com/10425301/39894819-1a9978d8-5476-11e8-8e1b-d2e7104889a1.png)

[2018-05-10 21:27] piyush1594 commented on #3450
Please go through the discussion on the pull request https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/88

[2018-05-10 21:40] piyush1594 commented on #3299
Issue #3058 seems like also oso networking and I commented there with details asked. Here's the link https://github.com/openshiftio/openshift.io/issues/3058#issuecomment-386805721

[2018-05-10 21:41] piyush1594 commented on #3299
and if you want to reproduce this, then PR https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/88 will always result into #3058

[2018-05-11 01:57] tuxdna commented on #3339
The issue is with Jobs API sending parameters directly to the flow engine without performing case transformation.

Here is how to inspect this issue.

### Step 0

Run component analysis for some package that ensures initialization of s3 buckets for package and version data ( This is only required if you are starting afresh )

[code]

### Step 1

Now invoke component analysis for `pyjwt`:

[code]

[2018-05-11 05:32] msrb commented on #2343
Reducing Severity to 2 as per yesterday's post standup discussion.

[2018-05-11 05:50] hrishin commented on #2729
[Issue](https://issues.jenkins-ci.org/browse/JENKINS-50664) for kubernetes plugin is reported and [PR](https://github.com/jenkinsci/kubernetes-plugin/pull/320) is in queue.

[2018-05-11 06:18] jyasveer commented on #3346
@catrobson can you please help me know if UX team is still working on the UXD for this ?

[2018-05-11 06:26] jyasveer commented on #3399
@ebaron Thanks for the information.

[2018-05-11 06:35] animuk commented on #3032
Known issue
reference issue: #3134
Updates from the wildflyswarm team : There will be no release of WF Swarm Boosters based on 7.1.0 until the end of May, any environment, anywhere
Only the community boosters have this fix, it's only the product boosters that are affected

[2018-05-11 07:02] Raunak1203 opened #3539 "Wrong error message if you are not authorize to login"
Steps:
- Try to login with user name/password(which is not authorize to use openshift.io)
- You get error message "you are not authorize to login"
- Now do a browser back
- You get a message "You are already logged in"
![peek 2018-05-11 12-28](https://user-images.githubusercontent.com/34271052/39910973-3ac658a0-5517-11e8-8134-1317f9c9ce57.gif)

[2018-05-11 07:34] #3405 closed

[2018-05-11 07:34] msrb commented on #3405
Thanks @humaton :wink:

[2018-05-11 08:06] riuvshin commented on #3496
I think it was sev-1 / p0 just for because it was affecting demo.

[2018-05-11 09:17] sbose78 commented on #3538
@stevef1uk could you try logging in with just the username instead of the email ?

[2018-05-11 09:20] jyasveer opened #3540 "New Launcher Mission and Runtime cards are misaligned"
In the new launcher flow, in the mission and runtime selections screen, two cards are misaligned.

[2018-05-11 09:28] sbose78 commented on #3538
Similar to https://github.com/openshiftio/openshift.io/issues/2332

[2018-05-11 09:32] stevef1uk commented on #3538
Whatever I did made no difference until I registered the email address it was complaining about and used that one

[2018-05-11 09:32] #3538 closed

[2018-05-11 09:35] stevef1uk opened #3541 "Request for support of Golang"
I would like Golang to be a first class citizen on OpenShift along with other modern languages

[2018-05-11 10:27] msrb opened #3542 "Increase test coverage in f8a-worker repository"
# Description

Test coverage in worker repository is <60%. We want to increase the test coverage, ideally to 80-90%.

[2018-05-11 11:31] tisnik opened #3543 "[1] Add fabric8-analytics-version-comparator into the QA dashboard"
The origin is here:
https://github.com/fabric8-analytics/fabric8-analytics-version-comparator

### Acceptance criteria:

- [x] Pylint is setup
- [x] Pydocstyle is setup
- [x] Unit test coverage is measured
- [x] Cyclomatic complexity is measured
- [x] Maintainability index is measured
- [x] All results are displayed on the QA Dashboard
- [x] Unit test coverage for this repo is included in week sta

[2018-05-11 12:19] jfchevrette commented on #3527
The CORS issue seem to be between the frontend and the f8osoproxy, not on the cluster side

[2018-05-11 12:44] containscafeine commented on #3356
Update:
- A new status API endpoint was introduced in Idler (merged) https://github.com/fabric8-services/fabric8-jenkins-idler/pull/238
- There is ongoing work in proxy to expose the above endpoint for UI to use
- There is an open fix for the CORS issue by @gastaldi at https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/257, but we're investigating if this the right API to add CORS to

[2018-05-11 12:57] lordofthejars commented on #3299
I have not been able to reproduce in my case.

[2018-05-11 13:05] piyush1594 commented on #3299
Hey @lordofthejars, try PR https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/88 and you will always result into #3058 and that is also regarding openshift networking or something related to openshift

[2018-05-11 13:08] jiekang commented on #3527
Right. I think the f8osoproxy should respond with `Access-Control-Allow-Origin` for `https://openshift.io`.

[2018-05-11 13:26] tisnik commented on #3520
Fixed in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/541

[2018-05-11 13:26] #3520 closed

[2018-05-11 14:07] bdellasc commented on #3346
My impression: reading last comments from @catrobson and @qodfathr , it sounds like we (UXD, Development and PM) need to look at the information, user recovery and resource management topics. Based on that conversation, we would try to figure out how to add or improve those so we don’t have to “block” them when maxed out on current resource usage. “Blocking” them feels like an interim solution, wh

[2018-05-11 14:26] ldimaggi commented on #3346
I think that as a general rule, if we block a user from performing a task, we have to also provide them with an easy path to get un-blocked. Blocking a user from performing a task without providing a path forward/around the block is a dead-end situation.  Thx!

[2018-05-11 14:28] jyasveer commented on #3346
@ldimaggi i agree with you.
@qodfathr @bdellasc @catrobson
My question here is do we want to have temporary solution of blocking a user to not create a space for now OR do we want to have a permanent solution and implement the same later ?

[2018-05-11 14:49] bdellasc commented on #3346
If this is critical to have <<something>> implemented ASAP, it might make sense to arrive at a very basic solution where we block the user, but give them that path to get unblocked, so we don't end up the with dead end that @ldimaggi mentioned. It may not be an ideal flow, but would serve the purpose for now. Then, we can take a wider look at a better, more permanent solution for the longer term?

[2018-05-11 15:37] mceledonia commented on #3346
My understanding of this is that it was a temporary, first-step of a multi step implementation to solve the problem. I'm assuming (let me know if I'm wrong) that the dead end is remedied with a direct link to a page that allows the user to scale down, delete, or both... However there are a couple issues with this which need to be solved which is why we are implementing only the first increment (bl

[2018-05-11 17:39] joshuawilson commented on #3360
I find it annoying that the order is display newest at the top. While this may be easier to read if you are keeping up with it. But in most cases you need to read from the beginning, that would mean I would have to scroll to the bottom and read up. This is very un-natural.

[2018-05-11 18:05] aptmac opened #3544 "TypeError when viewing work items in a foreign user's profile"
In a similar vein to issues regarding UI when viewing other user's pages [0]:

When viewing another user's profile the "My Work Items" widget dropdown shows the currently logged in user's spaces, and encounters an error if a space is selected that has active work items:
`ERROR TypeError: Cannot read property 'id' of undefined`

example: If I'm viewing @chrislessard's profile, I see my own spaces a

[2018-05-11 18:33] aptmac commented on #1576
The old import codebases actions have been replaced with the new launcher in https://github.com/fabric8-ui/fabric8-ui/pull/2839

[2018-05-11 18:33] #1576 closed

[2018-05-11 18:34] aptmac commented on #2605
The old add-codebases action has been updated to use the new app launcher as of https://github.com/fabric8-ui/fabric8-ui/pull/2839.

[2018-05-11 18:34] #2605 closed

[2018-05-11 18:35] jiekang commented on #3127
The layout of this is a little more complicated to execute than expected.

[2018-05-11 18:36] jyasveer commented on #3399
thanks @ebaron for the reply. I will have a look and work on it.

[2018-05-11 18:36] aptmac commented on #2733
The old wizard has recently been replaced with the new app launcher as of https://github.com/fabric8-ui/fabric8-ui/pull/2839, this issue is no longer relevant.

[2018-05-11 18:36] #2733 closed

[2018-05-11 20:16] aptmac commented on #3481
Alrighty, I'm back with a few more details. The stack trace is a bit more helpful when I put in a few more breakpoints, here's the path I found:

start
[0] `header.component.html` log out button is clicked
[1] `header.component.ts` delegates to `login.service.logout()`
[2] `login.service.ts` delegates to `auth.service.logout()`
[3] `authentication.service.ts` calls broadcaster with 'logout' argume

[2018-05-12 07:39] stevef1uk commented on #3541
Most of the work seems to have been done already for this as I have used this repo successfully: https://github.com/amsokol/openshift-golang-template.git

[2018-05-12 15:48] qodfathr commented on #3346
Being out of quota (which has something like 5 dimensions -- disk,cpu, ram, services, routes, others?) should be something known to users at all times, in a *non-intrusive* way. Perhaps a warning icon in the topnav, which, when clicked, gives details plus links to how to remediate. But even as a "short term" solution, I wouldn't want us to proceed until all quota dimensions are known, documented a

[2018-05-14 02:06] ldimaggi commented on #3346
+1 to Todd's description of handling a deployment that would fail due to a lack of resources. Instead of blocking a user, I think it's better to inform the user, and provide the user with a path forward.

Also +1 to Todd's recommendation of our having a clear definition of all the dimensions of a user being out of quota (we've been focusing on a subset of these in our discussions) AND to our provi

[2018-05-14 06:29] jarifibrahim commented on #3486
@rgarg1 The fix has been merged. Please update the issue.

[2018-05-14 06:34] jarifibrahim commented on #3439
Duplicate of https://github.com/openshiftio/openshift.io/issues/3486.

Closing this one.

[2018-05-14 06:34] #3439 closed

[2018-05-14 06:47] rhopp commented on #2605
@aptmac FYI: For few first seconds after page load/reload, the plus sign still redirects to wrong page: https://github.com/openshiftio/openshift.io/issues/3489

[2018-05-14 06:50] jyasveer commented on #3399
This issue is fixed here https://github.com/fabric8-ui/fabric8-ui/pull/2902

[2018-05-14 07:00] sbose78 commented on #3544
@rohitkrai03 Could you take a look at this, please?

[2018-05-14 07:02] sbose78 commented on #3309
@rohitkrai03 , could you please take a look at this?

[2018-05-14 07:04] sbose78 commented on #3541
Thanks.

Do you mean, in openshiftv3 or, in openshift.io ?

[2018-05-14 07:07] sdash-redhat commented on #3357
Completed. Closing.

[2018-05-14 07:07] #3357 closed

[2018-05-14 07:29] rootAvish opened #3545 "Mockups and samples for API breaking changes AI use case"
### Description

The idea with this use case is for analytics to better help developers to work with API breaking changes so they can stay up-to-date with the latest versions of their dependencies.

This involves predicting the fix for an API breaking change by using docstrings and code understanding to match the "intent" of functions and assign them a similarity score to figure out which new func

[2018-05-14 07:29] rootAvish commented on #3545
/cc @sivaavkd @miteshvp @parvathyvr

[2018-05-14 07:29] abs51295 opened #3546 "Mockup for automated generation of documentation strings"
## Description

The analytics team would like to do an experiment regarding how we can reduce the burden of developers by auto generating documentation strings/JavaDoc for every possible class/method definition. As a first step towards, the task here is to create mockups for the same which are required by the PM to visualize the workflow.

Link to planner issue: https://openshift.io/openshiftio/op

[2018-05-14 07:35] rootAvish opened #3547 "Increase unit test coverage and complete training code in npm-insightes repo"
### Description

The newly created https://github.com/fabric8-analytics/fabric8-analytics-npm-insights still needs the training job code and the aggregator scripts for S3 data, initial work around the same was done in the last sprint however some items to merge it are still pending.

In addition to that we need to add the coverage script to it so we can monitor increase unit test coverage.

### Ac

[2018-05-14 07:36] animuk commented on #3346
@pradeepto Please see Tod's comments above. As a part of long term approach instead of pipeline failure in case of resource quota limit exceed in openshift, we can give users a warning message with the option to go correct the cause of the deployment failure in the pipeline build level. Can you analyse the possibility from the team as a future process improvement?
cc @krishnapaparaju

[2018-05-14 07:38] rootAvish commented on #3547
/cc @sivaavkd What is the appropriate type label here?

[2018-05-14 07:41] sivaavkd commented on #3547
@rootAvish task makes sense, thanks

[2018-05-14 07:43] sanketpathak opened #3548 "Application Name is shown invalid whereas Setup Application button is enabled."
I was creating an application with vertx-health check but when I was editing project name with addition of # it was showing application name as invalid but the `Set Up Application button was enabled ` which should not happen.

Here is the screenshot
![er1](https://user-images.githubusercontent.com/10252230/39984327-7c3a31ea-5778-11e8-9024-335008da7bea.png)

[2018-05-14 07:46] sbose78 opened #3549 "openshift resources don't have the space label/selector, when new launcher used"
When I create an app with the new launcher and do a
[code]
On doing so, the resources relevant to the app created using the launcher **does not** show up.

However the BCs and the Builds in the user namespace have the correct `space` label
[code]

This has been observed with the new launcher. I've verified that the on using the old launcher/wizard, the `space` label shows up in -stage and -run .

[2018-05-14 07:52] jarifibrahim opened #3550 "Failure to load filters on prod-preview"
![screenshot from 2018-05-14 13-17-40](https://user-images.githubusercontent.com/12949454/39984567-464eca9a-5779-11e8-8495-32a8af201581.png)

[2018-05-14 08:13] Veethika commented on #3147
@Preeticp @rgarg1 @sunilmalagi
Proposed solution:
1. For the very first time the user has to be introduced to the concept of linking, hence the following should appear:
<img width="667" alt="screen shot 2018-05-10 at 10 16 14 pm" src="https://user-images.githubusercontent.com/35127763/39985064-d543a904-577a-11e8-855c-363a428fab11.png">
[This screenshot is consistent with the new design language]
C

[2018-05-14 08:47] #3413 closed

[2018-05-14 10:15] hrishin commented on #2729
**Updated:**

Filed one more issue for Kubernetes Jenkins plugin issues https://issues.jenkins-ci.org/browse/JENKINS-51286 and sent PR https://github.com/jenkinsci/kubernetes-plugin/pull/322 for the same.

[2018-05-14 10:16] rootAvish opened #3551 "The planner"

[2018-05-14 10:40] rootAvish opened #3552 "The "quick create" thing in the planner gives too much of a search bar feel (5)"
### Description

In the planner board view, the quick creation bar (pictured) gives the look and feel of a search bar way too much (I know there's "add" written everywhere but you'd be surprised at the ability of people to zone out and focus only on the "work item title" thing).

Because of this looking too much like a search bar, the part that at the moment there's no search in the planner is not

[2018-05-14 10:40] jarifibrahim commented on #3550
Closing this since the issue was fixed by disabling the cache and enabling it back.

[2018-05-14 10:40] #3550 closed

[2018-05-14 11:18] andrewazores commented on #3127
Yea, I can see that it could be. Feel free to bump up the points on this if you've been looking at it and have a better estimate.

[2018-05-14 11:38] michaelkleinhenz commented on #3462
Looks like an issue with the manual assembly of URLs in the widget.

[2018-05-14 11:41] michaelkleinhenz commented on #3143
@Raunak1203 can you elaborate please? The description is empty.

[2018-05-14 11:44] Raunak1203 commented on #3143
@michaelkleinhenz issue is fixed with this PR https://github.com/fabric8-ui/fabric8-planner/pull/2617

[2018-05-14 11:44] #3143 closed

[2018-05-14 11:46] michaelkleinhenz commented on #2654
Top level quick-add is only for adding new root-level work items. Childs are created using the contextual quick add (+-icon on the list element itself).

[2018-05-14 11:46] #2654 closed

[2018-05-14 11:47] michaelkleinhenz commented on #2653
And all issues around the board view are now legacy because board view is no longer in prod and will be refactored in Iris.

[2018-05-14 11:47] #2653 closed

[2018-05-14 11:50] michaelkleinhenz commented on #2536
Board view is now legacy as we're refactoring it in Iris. The functionality described in the issue is not part of prod.

[2018-05-14 11:50] #2536 closed

[2018-05-14 12:06] tisnik commented on #3519
The first part is implemented via:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/542

[2018-05-14 12:07] #3519 closed

[2018-05-14 12:07] michaelkleinhenz commented on #3462
The widget also has UX issues. What should the dropdown on the top right do?

[2018-05-14 12:08] michaelkleinhenz commented on #3462
Possible story that is connected to this issue: https://openshift.io/openshiftio/openshiftio/plan/detail/1914

[2018-05-14 12:10] jiekang commented on #3549
This is a more apt description but probably duplicate of https://github.com/openshiftio/openshift.io/issues/2360

[2018-05-14 12:10] chmouel commented on #3467
Here is how to scale the proxy, i haven't tested it :

[code]

[2018-05-14 12:15] michaelkleinhenz commented on #3085
Can not be replicated. @rgarg1 will try it.

[2018-05-14 12:16] michaelkleinhenz commented on #3072
Board view is now legacy and no longer part of production.

[2018-05-14 12:16] #3072 closed

[2018-05-14 12:17] michaelkleinhenz commented on #2983
This is part of the refactoring/arch efforts.

[2018-05-14 12:45] stooke opened #3553 "Create new fabrics8-services repository for common (shared) code"
A new repo is proposed that contains code common to several of the current fabrics8-services repos.

Included in this new repo should be common error handling and logging code, along with whatever else is suggested.  A readme file should document common coding idioms in the fabrics8-services organization.

This will aid consistency between the various services and help onboarding newcomers to the

[2018-05-14 12:51] RickJWagner commented on #1755
Hi @Preeticp,
Thank you for your efforts.  I find the Glossary especially good, these entries will help the users decide the best way to use Planner.  We can close this issue, my concerns are addressed.
Thank you,
Rick

[2018-05-14 12:51] #1755 closed

[2018-05-14 13:14] catrobson commented on #3327
We also need to change the logged in user dropdown to say 'Chat with us' to match.

[2018-05-14 13:18] catrobson commented on #3456
Closing this story.

[2018-05-14 13:18] #3456 closed

[2018-05-14 13:31] aptmac commented on #3489
@rhopp Thanks for the heads up! I was just able to reproduce it.

This issue should be fixed in a commit [0] I made the other day to fix the header highlighting when using the add-codebase action, and I'm pretty sure this code hasn't made it to production yet. In local runs I'm not able to reproduce the bug, but in prod I am. Essentially all instances of the codebases slider has been replaced with

[2018-05-14 14:09] catrobson commented on #3462
@fabric8-ui/uxd FYI

[2018-05-14 14:16] #3459 closed

[2018-05-14 14:40] nurali-techie opened #3554 "oso-proxy upgrade with traefik 1.6.x"
Traefik 1.6.0 is out ([link](https://blog.containo.us/traefik-1-6-get-our-latest-tetedemoine-1859164bf521)) with some new features and changes.

oso-proxy was forked at traefik 1.5.2 so currently we have ..
oso-proxy = traefik 1.5.2 + osio_middleware + osio_porvider

Apart from upgrading to 1.6.0, we also should utilize "Access Logs Filtering" to hide some of the sensitive information from access

[2018-05-14 14:44] tisnik opened #3555 "[1] Improve code coverage in fabric8-analytics-version-comparator to at least 95%"
Repository https://github.com/fabric8-analytics/fabric8-analytics-version-comparator

## Acceptance criteria:

- [x] unit test code coverage over 95%
- [x] code coverage report is displayed on the QA Dashboard

[2018-05-14 14:44] tisnik commented on #3555
1st part: https://github.com/fabric8-analytics/fabric8-analytics-version-comparator/pull/3

[2018-05-14 14:54] Preeticp commented on #3147
@Veethika, the overall solution seems fine.
Regarding Point No. 1.  - Happy to see the big plus sign going away.
However, imho the text 'Work Item Links' can be done away with too. It is clear to the user that the preview or detailed view is for the work item. In the other fields we do not say work item assignee, work item labels etc. So it would be consistent with the rest of the preview too, plu

[2018-05-14 15:04] joshuawilson commented on #3254
@catrobson can you please have someone provide the correct copy on this?

[2018-05-14 15:04] catrobson commented on #3254
@stacymcauliffe @mceledonia - can you take a look at these and see if we had a separate description captured somewhere for these feature levels?

[2018-05-14 15:32] #2788 closed

[2018-05-14 15:50] lordofthejars commented on #3442
Ok after trying several things, it has happened to me the described behavior. Still not sure if it is reproducible or not, but I have tried next thing (which is somehow slow).

1) Unidle Jenkins, create a new project and run the build.
2) Wait until you need to push if Promote or Abort the build. Just wait there for one day (until the build expires)
3) After this day and having Jenkins idled, try

[2018-05-14 15:51] joshuawilson commented on #2975
Closing, this appears fixed.

[2018-05-14 15:51] #2975 closed

[2018-05-14 15:56] joshuawilson commented on #627
Is this still an issue?

[2018-05-14 15:58] xcoulon opened #3556 "*errors.StatusError: configmaps "fabric8-environments" not found"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/3699/

[code]

[2018-05-14 16:37] stacymcauliffe commented on #3254
@catrobson @mceledonia - I don't believe we have these descriptions captured. Here are my initial recommendations for your review: https://docs.google.com/document/d/1j9_9Go4NnSvHWRKGGGChhdmMDGKTwBSqa67bxDysUs4/edit?usp=sharing

@rkratky - would you also mind reviewing?

[2018-05-14 18:16] ibuziuk opened #3557 "Need to add labels for specifying quickstart runtime owner"
Currently there are no labels for defining concrete `runtime` in the issue, so it might be handy to specify the following runtime labels

`area/launcher/runtimes/vertx`
`area/launcher/runtimes/wildfly`
`area/launcher/runtimes/spring-boot`
`area/launcher/runtimes/node.js`

Also, it is not straight forward who are the runtime key contacts. Please, correct me if I'm wrong but AFAIK those are:

@kenfi

[2018-05-14 18:19] ibuziuk commented on #3557
@gastaldi wdyt ?

[2018-05-14 18:25] gastaldi commented on #3557
@ibuziuk :+1: don't forget `area/launcher/runtimes/node.js` with @lholmquist

[2018-05-14 18:27] lholmquist commented on #3557
that is the most important runtime :)

[2018-05-14 18:42] joshuawilson opened #3558 "Add package-lock update to UI version updater"
parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2343

The build system sends a PR to the UI to update the version number of libraries that we build. (could be any library it watches)

This tool needs to now update the package-lock too.

[2018-05-14 19:34] alexeykazakov commented on #3551
Please add more details :)

[2018-05-14 19:34] #3551 closed

[2018-05-14 20:00] ibuziuk commented on #3557
@lholmquist @gastaldi added to the description ;-)

[2018-05-14 20:36] alexeykazakov commented on #3539
This is an issue with Keycloak - https://issues.jboss.org/browse/KEYCLOAK-5179

[2018-05-15 01:16] mishaone commented on #1753
This should be fixed (See linked fabric8 bug).

[2018-05-15 01:16] mishaone commented on #1753
Sorry, just noticed it's assigned to Todd. Reopening in case he wants to do anything more with this.

[2018-05-15 01:18] mishaone commented on #3272
Are we good to close this issue?

[2018-05-15 03:08] joshuawilson commented on #3272
Closing as this is not released yet.

[2018-05-15 03:08] #3272 closed

[2018-05-15 03:27] mishaone commented on #627
I haven't seen it for a while so if nobody else has, we can close it, I think.

[2018-05-15 03:27] #627 closed

[2018-05-15 04:32] rootAvish commented on #3551
I created a different issue, this was erroniously created, sorry.

[2018-05-15 04:35] rootAvish commented on #3551
https://github.com/openshiftio/openshift.io/issues/3552

[2018-05-15 05:05] sthaha commented on #3356
Update:

In order to support this in jenkins proxy, we will have to add another server to the  proxy to serve publicly accessible api (new route). The server should perform authentication and then communicate with the idler which is all going to take a while, so instead we think may be easier to add this to the api service (wit) which will act as a gateway for idler.

cc: @gastaldi @containscafein

[2018-05-15 06:10] rgarg1 commented on #3085
The issue cannot be reproduced by following the steps provided. Neither the expand arrow was seen disabled nor the work item parent relationship was mangled.

@mattd72 Do you still see this issue? If yes, please provide us more information to reproduce it.

[2018-05-15 06:36] animuk commented on #3549
@ebaron Can I close this if this is a duplicate of #2360

[2018-05-15 06:55] xcoulon opened #3559 "Add support for codecov.io in `fabric8-tenant` repository"
to be able to measure the code coverage during the tests.

[2018-05-15 06:59] ljelinkova commented on #3461
Is there any progress on this issue? It causes the E2E tests fail constantly (and no, we are not commenting out any part of the E2E test unless it is fixed).

[2018-05-15 07:01] ljelinkova commented on #3517
Is there any progress on this issue? The E2E tests are still failing from time to time because of that.

[2018-05-15 07:04] rohitkrai03 commented on #3544
@sbose78 I have a fix for this issue already in the raised PR - https://github.com/fabric8-ui/fabric8-ui/pull/2777. But because of several reasons we could not merge this one before summit. And now after the summit i would like to refactor this PR. So do you want me to add another patch just for this issue and raise a PR specific to this?
Also, can you test if the issue is there on https://fabric8

[2018-05-15 07:10] animuk commented on #3241
@jyasveer Please refer this links for woopra implementations:
https://www.woopra.com/docs/setup/javascript-tracking-v3/
https://docs.woopra.com/v3.0/reference#intro-javscript-sdk
We need to use the woopra SDK in the JS files to achieve this.

[2018-05-15 07:30] tisnik commented on #3543
PR for new jobs has been created: https://github.com/openshiftio/openshiftio-cico-jobs/pull/656

[2018-05-15 07:33] corinnekrych commented on #3046
UX is back with a proposal to implement "corner" triangle button as per Micheal
https://redhat.invisionapp.com/share/4EEE2JAQ7#/screens/292641754

[2018-05-15 07:51] #3427 closed

[2018-05-15 07:52] 0xh0b0 commented on #682
@jpopelka I would like to access the document as well.
Please approve access request.

[2018-05-15 08:02] GeetikaBatra opened #3560 "Provide flexibility to ingest data from any 3rd party public repo of supported types on OSIO"
Planner: https://openshift.io/openshiftio/openshiftio/plan/detail/2346

### Description

Create a RESTful service that would hold information about available packages in pre-configured repositories (multiple repositories per ecosystem need to be supported).

### Acceptance Criteria

- [x] Create data model service ready

- [x] Flask service with endpoints to ingest the data

### Task List

- [x] s

[2018-05-15 08:26] #3332 closed

[2018-05-15 08:42] slemeur commented on #3479
see: https://github.com/redhat-developer/rh-che/issues/630

[2018-05-15 08:57] 0xh0b0 commented on #682
@jpopelka please approve access to the npm package also.
Thanks you!!

[2018-05-15 09:01] sunilmalagi commented on #2868
Scenario based Icons:
https://redhat.invisionapp.com/share/WJGSJ17SMHN#/290540723_Scenario_Based_Icons

Scrum Based Icons:
https://redhat.invisionapp.com/share/WJGSJ17SMHN#/290540724_Scrum_Based_Icons

States Icons:
https://redhat.invisionapp.com/share/WJGSJ17SMHN#/290540725_States_Icons

Common Icons:
https://redhat.invisionapp.com/share/WJGSJ17SMHN#/290557721_Planner_Generic_Icons

[2018-05-15 09:05] lordofthejars commented on #3299
@piyush1594 So we cannot do anything right? So we could un-assign this from our team?

[2018-05-15 09:05] jyasveer commented on #3241
Thanks @animuk for the info

[2018-05-15 09:05] #3559 closed

[2018-05-15 09:09] sunilmalagi opened #3561 "Visual Design for Audit Trial"
To create Visual Design for wireframes defined for Audit Trial:
https://redhat.invisionapp.com/share/N7IH5I3QWZU#/screens/296530484

Planner Issue Link:
https://openshift.io/openshiftio/openshiftio/plan/detail/1964

[2018-05-15 09:16] piyush1594 commented on #3299
@lordofthejars I think nothing we(build-team) can do at this stage for this issue and #3058 but if you go through the discussion on #3058 you will get a better idea.

[2018-05-15 09:48] rohitkrai03 commented on #3309
@christianvogt We use a patternfly-ng [directive](https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/remainingcharscount) for limiting max chars in textarea. I can see in the [code](https://github.com/patternfly/patternfly-ng/blob/master/src/app/remaining-chars-count/remaining-chars-count.directive.ts) that it only handles keyup event and not the right click paste.
So, I've handle