[2017-11-20 01:14] mishaone opened #1402 "Cannot log in to OSIO - seems to be limited to users in Brisbane"
There doesn't seem to be anyone around on MM so logging an issue. I'm trying to log into OSIO this morning (worked fine last I used it on Friday) and 9 times out of ten it redirects me back to the OSIO main page. One time it let me log in. I logged back out to retry a few more times and it's back to not letting me log in. Steps:

1. Try to log in.
![login1](https://user-images.githubusercontent.co

[2017-11-20 01:25] ldimaggi commented on #1034
Yes - I am still seeing instances where the pods do not start - maybe 10% of the time recently.

[2017-11-20 01:26] mishaone commented on #1402
For anyone else who finds this, the workaround seems to be to use https://openshift.io/openshiftio to log in and this works. The above problem still persists for me after a few more tries with fresh incognito windows.

[2017-11-20 01:30] ldimaggi commented on #429
This is no longer an issue - closing.

[2017-11-20 01:30] #429 closed

[2017-11-20 01:31] ldimaggi commented on #632
Closing - this problem is no longer being seen.

[2017-11-20 01:31] #632 closed

[2017-11-20 01:34] ldimaggi commented on #655
This can be closed - not seeing these messages now.

[2017-11-20 01:34] #655 closed

[2017-11-20 01:37] ldimaggi commented on #768
No - this is still an issue.

[2017-11-20 01:41] ldimaggi commented on #769
Closing - I have not seen this issue recently.

[2017-11-20 01:41] #769 closed

[2017-11-20 01:46] ldimaggi commented on #945
Yes - this issue is still being seen.

[2017-11-20 01:53] joshuawilson commented on #1402
Could be a latency issue with everyone having the issue in Brisbane.

@mindreeper2420 could your reset the redirects to what they were before, once logged in always go to the `_home` page? At least until we figure out what is going on.

[2017-11-20 01:53] mindreeper2420 commented on #1402
@joshuawilson - best to just revert that commit/merge then.

[2017-11-20 02:15] joshuawilson commented on #1402
@mindreeper2420 your commit was not atomic, best if you make a new commit in the morning. That will also give others a change to work on the issue while it exists.

[2017-11-20 02:16] krishnapaparaju opened #1403 "Sprint 141 Planning - OSIO Analytics"
## OSIO Analytics Sprint 141

### Sprint Goals
**Work towards publishing IDE extensions for OSIO analytics platform (VSCode, DevStudio)**
- [x] Test and increase analytics coverage for Vertx, SpringBoot (#1287)
- [ ] UX related enhancements for the stack report  (#1277)
- [ ] Identify performance bottlenecks and publish matrix for OSIO resource requirements based on load testing results (#1144)
-

[2017-11-20 02:28] dlabrecq commented on #1179
That's just the nature of the ngx-bootstrap tooltip. It's going to shift over because there isn't enough room. However, it would probably look a lot better if you simply make the tooltip appear on the left.

FYI, the PatternFly tooltip uses some CSS trickery to better align the arrow. It's possible we could do the same for ngx-bootstrap, but it would take some effort.

[2017-11-20 02:47] joshuawilson commented on #459
This is not OSO, please log the issue with them. Closing.

[2017-11-20 02:47] #459 closed

[2017-11-20 02:49] joshuawilson commented on #422
@cctrieloff are you still seeing this? Can you reproduce it?

[2017-11-20 02:56] joshuawilson commented on #412
@pbergene looks like there is already an issue for your idea. :-)
cc: @maxandersen @kbsingh @aslakknutsen

[2017-11-20 02:58] alexeykazakov commented on #90
I didn’t see it for awhile. It looks like it was fixed in UI.

[2017-11-20 02:58] #90 closed

[2017-11-20 03:26] dlabrecq commented on #1179
FYI, the new spaces page design shows "Create Space" text, to the right of the plus icon, which launches the space wizard. For consistency, perhaps we want to add "Add Codebase" to the right of the plus icon for the codebases page? That would definitely give the tooltip enough room for the arrow to align properly.

![screen shot 2017-11-19 at 10 20 47 pm](https://user-images.githubusercontent.com/

[2017-11-20 03:27] alexeykazakov commented on #1402
Adding team/platform because I don't see any issues with Auth backend. Auth team also didn't change anything in UI, so, we need to work together with the platform UI team on this issue.

[2017-11-20 03:37] joshuawilson commented on #411
@pbergene more content for your idea.

[2017-11-20 03:38] joshuawilson commented on #389
Is this still an issue?

[2017-11-20 03:39] mishaone commented on #1304
Since the last time I reported constantly encountering this issue (see earlier comment 4 days ago), I have now managed to get the workspace to load so possibly whatever the fix was has worked to some extent.

[2017-11-20 03:40] joshuawilson commented on #370
closing as a duplicate

[2017-11-20 03:40] #370 closed

[2017-11-20 03:43] joshuawilson commented on #305
Closing. If this is still a concern, please reopen and be more specific.

[2017-11-20 03:43] #305 closed

[2017-11-20 03:56] joshuawilson commented on #301
Fixed in https://github.com/fabric8-ui/fabric8-ui/pull/1636

[2017-11-20 03:56] #301 closed

[2017-11-20 04:02] joshuawilson commented on #297
I think this has be dealt with. Closing. If it is still an issue please reopen.

[2017-11-20 04:19] joshuawilson commented on #262
Closing as I believe the latest version has a `back` button.

[2017-11-20 04:19] #262 closed

[2017-11-20 04:28] joshuawilson commented on #164
cc @qodfathr

[2017-11-20 04:34] alexeykazakov commented on #1387
What's this issue about actually? Is it about updating email? Then it's not SEV2 (Important and should be done before any work on features).
If it's about changing RHD accounts then I don't think we will support it.

[2017-11-20 04:59] alexeykazakov commented on #575
I'm removeing team/auth and area/auth. This issue with pipeline UI. Not Auth.

[2017-11-20 05:24] alexeykazakov commented on #536
Duplicates https://github.com/openshiftio/openshift.io/issues/1023

[2017-11-20 05:24] #536 closed

[2017-11-20 05:26] sthaha commented on #1402
@sbose78 and I digged a bit into the source and here is what we think is the reason
[`document.ready`](https://github.com/openshiftio/openshift.io/blob/07ac1a837938835923361fa3a39e04f7de7884cd/src/app/index.ts#L338) calls updateUserMenu twice [1](https://github.com/openshiftio/openshift.io/blob/07ac1a837938835923361fa3a39e04f7de7884cd/src/app/index.ts#L201) [2](https://github.com/openshiftio/opens

[2017-11-20 05:30] alexeykazakov commented on #777
Removed team/auth because it's not an Auth related issue.

[2017-11-20 05:32] alexeykazakov commented on #173
Duplicates https://github.com/openshiftio/openshift.io/issues/371

[2017-11-20 05:32] #173 closed

[2017-11-20 05:32] alexeykazakov commented on #341
Part of https://github.com/openshiftio/openshift.io/issues/371

[2017-11-20 05:32] alexeykazakov commented on #371
Part of https://github.com/openshiftio/openshift.io/issues/341

[2017-11-20 05:33] sbose78 commented on #1402
yeah, we see that the request to `/api/user` gets `cancelled` because of the redirect to `GettingStarted` ,
and that might cause the control to go into the `else` block which has the `this.logout()`

[code]

[2017-11-20 05:41] joshuawilson commented on #233
This has not been seen in months, closing.

[2017-11-20 05:41] #233 closed

[2017-11-20 05:43] joshuawilson commented on #232
Closing, if this is still an issue please reopen.

[2017-11-20 05:43] #232 closed

[2017-11-20 05:45] joshuawilson commented on #231
This hasn't been seen in a while. Closing, if you are still seeing this issue please reopen.

[2017-11-20 05:45] #231 closed

[2017-11-20 05:52] joshuawilson commented on #229
Here is a list of support browsers and their versions. https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

[2017-11-20 05:52] #229 closed

[2017-11-20 06:16] joshuawilson commented on #1387
I shouldn't have put the SEV on it to begin with. That is why I removed it.

[2017-11-20 06:18] joshuawilson commented on #1387
I also think you answered the question. Let's close it and reopen if needed.

[2017-11-20 06:18] #1387 closed

[2017-11-20 07:33] msrb commented on #1330
I believe this depends on https://github.com/openshiftio/openshift.io/issues/1081.

[2017-11-20 07:50] krishnapaparaju commented on #1330
Yes

[2017-11-20 08:26] msrb opened #1404 "[8] Expose workers bookkeeping data via API"
# User Story

We want to build a bookkeeping API for analyses of ecosystems and their packages so that we can know the current state of packages ingestion into the system.

# Description

We schedule analyses of components in any ecosystem using Jobs API at the moment. Once a job has been scheduled, we have to check logs, S3, Kibana etc. to know what is happening behind the scenes. Was there any f

[2017-11-20 08:42] pkajaba commented on #1244
@msrb https://github.com/fabric8-analytics/mercator-go/pull/22 Done. I asked to build RPM too.

[2017-11-20 09:02] invincibleJai commented on #1276
Have not done the tasks about implementing timeout logic for user-intent from VSCode as we have discussed this logic shouldn't be handled in client side. For now am showing user-intent screen once user triggers STACK-ANALYSIS POST call and polling for stack report is handled in web portal

CC @samuzzal-choudhury @krishnapaparaju

[2017-11-20 09:03] arunkumars08 commented on #1323
This user story is mainly a POC around how this can be achieved.

[2017-11-20 09:16] msrb opened #1405 "Dockerize fabric8-analytics deployment scripts"
# Description

fabric8-analytics deployment scripts require few tools to be installed on the system. It would be great to have a Dockerfile that one could build and then run the scripts inside the container instead of trying to figure out what tools are needed and how to install them.

# Acceptance criteria
- [x] there is a Dockerfile that produces an image capable of running f8a deployment script

[2017-11-20 09:23] msrb opened #1406 "[8] Support Glide in mercator"
# User story

As a fabric8-analytics developer, I want to be able to use mercator tool to extract information from `glide.lock` files so I can later implement support for Golang on stack analysis level.

# Description
[mercator](https://github.com/fabric8-analytics/mercator-go) is a tool used in fabric8-analytics to extract dependencies from various manifest files. [Glide](https://github.com/Maste

[2017-11-20 09:37] samuzzal-choudhury commented on #814
@sivaavkd we can't target that as part of this sprint and it's severity is lowered and there are still open questions before we finalize on a fix. Moving this to analytics backlog.

[2017-11-20 09:43] samuzzal-choudhury commented on #1271
@ravsa is this user story complete? If yes, can you set the label status/completed to this?

[2017-11-20 09:44] samuzzal-choudhury commented on #1274
@invincibleJai please add the label status/complete if this user story is complete.

[2017-11-20 09:45] invincibleJai commented on #1274
Added @samuzzal-choudhury

[2017-11-20 09:46] samuzzal-choudhury commented on #1277
@sanketpathak how far are we with the implementation?

[2017-11-20 09:47] samuzzal-choudhury commented on #1278
@GeetikaBatra are you working on this? If yes, is the portal deployed on staging already?

[2017-11-20 10:06] invincibleJai opened #1407 "Stack-report shows blank if result comes as empty list in response of stack-analysis call"
Stack-report shows blank if result comes as empty list in response of stack-analysis call as in

![image](https://user-images.githubusercontent.com/5129024/33012696-b28b6520-ce07-11e7-9c4d-04f75d77b2fe.png)

To reproduce need to make STACK-ANALYSIS POST call and make a call to stack-analysis GET call this can be seen as intermediate response.

[2017-11-20 10:30] ashumilova opened #1408 "Replace remove codebase confirm dialog with options slider"
There is a suggestion to replace the confirm dialog flow for removing codebases with the confirm options, that slide over the delete option.
Similar to [Save filter](https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/filters)
![screenshot from 2017-11-20 12-28-56](https://user-images.githubusercontent.com/1611939/33014042-934fbecc-cdee-11e7-9d11-6d035f80eee4.png)

[2017-11-20 10:44] msrb commented on #1403
Tasks proposed for the core stream:

Go:
- continue ingesting Go packages: https://github.com/openshiftio/openshift.io/issues/939
- bug in Go support: https://github.com/openshiftio/openshift.io/issues/1394
- glide support in mercator: https://github.com/openshiftio/openshift.io/issues/1406

Dev cluster workflow:
- finish: https://github.com/openshiftio/openshift.io/issues/1062
- dockerize deploym

[2017-11-20 10:50] tuxdna commented on #1394
This error looks strange to me because:

[code]
Looks like `package` is malformed before that `split`() call.

https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/solver.py#L310

[2017-11-20 10:53] tuxdna commented on #939
So far following sequence of Go packages were scheduled:

 * 400
 * then 400
 * then 20000
 * then 40000 ( yesterday )

As of now `20207` have been ingested from 40000 scheduled recently. This should account for over 10% of total Go packages.

[2017-11-20 10:58] tisnik commented on #1403
Tasks for the QA team (on member :):

1. enable/improve E2E tests for ingestion components: #1329
2. utc timestamps: #1359
3. Configure the fabric8 server module to use Swagger-UI and make the API Swagger-compliant https://github.com/openshiftio/openshift.io/issues/1327

[2017-11-20 11:21] sbose78 commented on #1402
Here's what we need to do, to avoid the auto-logout
https://github.com/openshiftio/openshift.io/pull/1409/files

[2017-11-20 13:09] tuxdna commented on #1394
The error is happening due to `gopkg.in/yaml.v1` which apparently is one of the dependency of the package being anlyzed.

[code]

[2017-11-20 13:27] c-koehler commented on #1385
@andrewazores Would you say this issue is fixed by this: https://github.com/fabric8-ui/fabric8-ui/commit/ae6c38279f297e124a8b43a2c2271ba426b981f6

[2017-11-20 13:54] GeorgeActon opened #1410 "test for planning - ignore until complete"
Sprint Goal
Publish IDE extensions for OSIO analytics platform (VSCode, DevStudio)
RHOAR - Plan/design for Machine generated stacks covering user experience
Continue the Research of NPM tags to cover the entire ecosystem

Engineering work:
Continue the progress on developers using Dev. cluster and wrap up remaining TODOs.
Wrap up service related open items for getting a handle on various operation

[2017-11-20 13:55] tuxdna commented on #939
It is 24287 packages as of now i.e. 100 * 24287 / 756881 = 3.2 %

[2017-11-20 14:07] jerboaa opened #1411 "org.eclipse.che.maven.server.MavenServerMain does not respect container env vars"
For Che workspaces the process with main class `org.eclipse.che.maven.server.MavenServerMain` has no way of getting tuned to the specific container use case. That is, no matter whether it'll run on a physical machine or a Docker container with a set memory limit it will always set things up according to the physical machine (i.e. a node on OpenShift) instead of the container limit.

Steps to repro

[2017-11-20 14:37] #1410 closed

[2017-11-20 14:48] jerboaa commented on #1411
@ibuziuk @l0rd FYI: this seems to inhibit memory tuning of che workspaces on OSIO.

[2017-11-20 15:01] qodfathr commented on #164
This is getting addressed, but I don't think it's technically a bug. Everything is working as specified. It's just what was specified was not good. :) I recommend switching to `kind/enhancement`; thoughts @joshuawilson? Will be addressed during sprint 141.

[2017-11-20 15:04] andrewazores commented on #1385
No, not quite. Splitting out the resource cards is the majority of it
though, but I think moving the collapsible div out of the main component
HTML makes some sense too. It's a pretty small task now that you've done
the resource card so please feel free to knock this one out too :)

On 20/11/17 08:27 AM, Chris Koehler wrote:

[2017-11-20 15:23] jfchevrette commented on #1304
The routers were restarted on Friday and this appear to have cleared an issue. Unfortunately that also means we have no way to debug the issue further at the moment until the routers get in this state again.

[2017-11-20 15:29] joshuawilson commented on #164
@qodfathr works for me. I updated it.

[2017-11-20 15:31] andrewazores opened #1412 "resource-card component leaks subscriptions"
resource-card is passed a Subscription, which the component then subscribes on and updates its own properties for every publish. This subscription is never closed by the resource-card or its parent component. It should be released on component destroy so that resources are not leaked every time a user visits the Deployments page and navigates back away.

[2017-11-20 15:35] pbergene commented on #1304
Is anyone still seeing this? @mishaone Can you elaborate around  "some extent" - is it still occurring to your workspace?

[2017-11-20 15:44] qodfathr commented on #1392
Verified in prod.

[2017-11-20 15:44] #1392 closed

[2017-11-20 15:51] jerboaa commented on #1304
FWIW, I've seen it a couple of times today.

[2017-11-20 16:06] ldimaggi commented on #1304
The EE tests are still seeing this error:

https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-openshift.io-chequickstartTest/1807/console

[2017-11-20 17:27] msrb commented on #1257
I guess that's it. Thanks @jpopelka and @pkajaba, great work 😉

[2017-11-20 17:27] #1257 closed

[2017-11-20 17:29] msrb commented on #612
We are CentOS CI citizens already. Closing.

[2017-11-20 17:29] #612 closed

[2017-11-20 18:07] jfchevrette commented on #1304
What I am seeing when launching a workspace is that while the wsagent container service is becoming active, it's route is still in the process of being created on the OpenShift side when the "Unable to initialize IDE" message appears. The route becomes active ~ 15 seconds after this.

1) I am still working with upstream to make sure there was no recent performance regression on the routers which w

[2017-11-20 18:08] ldimaggi commented on #389
Closing - this problem has not been seen for months.

[2017-11-20 18:08] #389 closed

[2017-11-20 18:30] joshuawilson opened #1414 "Status did not go green, can't use the system"
A new user logged in and their status had the grey half circle. It did not update after a `tenant update`or `reset env`.

[2017-11-20 18:37] ldimaggi commented on #1414
They probably do not have pod logs for Che/Jenkins - are any events visible in OSO?

[2017-11-20 18:59] joshuawilson commented on #1414
User was able to create a custom project, making an account that had to be removed to use OSIO.

[2017-11-20 19:04] joshuawilson commented on #1338
@Rydekull is this still an issue?

[2017-11-20 19:07] joshuawilson commented on #1338
If it is still an issue you should log into https://console.starter-us-east-2.openshift.com/console/ and confirm that you did not add any projects manually. They need to be deleted and then you should relogin to OSIO and go to `profile` and `reset env`.

[2017-11-20 19:19] joshuawilson commented on #1414
Closing as the user account was fixed. Needed to remove manually created project in OSO.

being worked at #1031

[2017-11-20 19:20] joshuawilson commented on #1338
being worked at #1031

[2017-11-20 20:22] jfchevrette commented on #1304
The workaround implemented in fabric8-services/fabric8-tenant-che#72 allows the workspace to start. I am still investigating the possibility of a performance issue on the openshift routers

[2017-11-20 21:08] joshuawilson commented on #1402
This has been fixed in #1413

[2017-11-20 21:08] #1402 closed

[2017-11-20 22:03] xcoulon opened #1415 "User blocked has tenant service still has entries for him"
user `mmclane` is blocked because the tenant service has entries for Che and Jenkins for his previous project. The `env reset` procedure did not reset all the data, and manually removing the projects was not enough.

[2017-11-20 22:04] xcoulon commented on #1415
Status for his account:
![image pasted at 2017-11-20 14-58](https://user-images.githubusercontent.com/178502/33043843-0ea94b6c-ce47-11e7-8a82-7ff5c26b4235.png)

[2017-11-20 22:04] maxandersen commented on #625
sorry i missed this - but to be clear: manderse@redhat.com *is* my username; not just the email.

[2017-11-20 22:06] maxandersen commented on #919
There are no ashumilova references in this issue...wrong issue you commented on ?

[2017-11-20 22:07] mmclanerh commented on #1415
Created an empty project in OSO before initiating OSIO.    Removed that project (learned that is a known issue: https://github.com/openshiftio/openshift.io/issues/1031).   The OSIO projects are still active in OSO:

![image](https://user-images.githubusercontent.com/33727536/33043954-54236e36-ce04-11e7-99a8-47bad613f113.png)

[2017-11-20 22:32] joshuawilson commented on #1414
The account was not fully fixed.

[2017-11-20 23:03] mindreeper2420 commented on #1393
@joshuawilson was this solved by @dgutride's PR?

[2017-11-20 23:04] andrewazores commented on #1372
IMO, breaking the Resource Usage panel out into a component makes sense, and the cards within that would also be their own component. Call this deployments-resource-usage and deployments-resource-usage-card.

The top half of the view (Applications x Environments grid) can also be a component, again with the cards within also a component. deployments-appenvs and deployments-appenvs-card ? I hope so

[2017-11-20 23:04] mindreeper2420 commented on #1097
@nimishamukherjee @michaelkleinhenz is this only for Planner, or for all of OpenShift.io?

[2017-11-20 23:25] alexeykazakov commented on #1393
I see it now redirects to _home after hard refresh .The fact that hard refresh is still required after UI updates is another issue. Closing.

[2017-11-20 23:25] #1393 closed

[2017-11-21 02:49] mishaone commented on #1304
@pbergene - yes, back to the same issue as before today. I can add screenshots of the error and logs if that helps.

[2017-11-21 03:21] ldimaggi opened #1416 "On prod-preview, cannot log into OSO (e.g., to view build logs)"
Steps to recreate:
* On prod-preview, create new app/quickstart
* Attempt to view build log - observe this menu:

![screenshot from 2017-11-20 22-18-06](https://user-images.githubusercontent.com/642621/33053279-b662c4ca-ce40-11e7-9087-18859911291c.png)

Attempting to login fails:

![screenshot from 2017-11-20 22-18-49](https://user-images.githubusercontent.com/642621/33053301-cf0f4e30-ce40-11e7-9d

[2017-11-21 03:24] #1179 closed

[2017-11-21 03:58] alexeykazakov commented on #1416
What button did you click? I clicked on the top one and it worked.

[2017-11-21 03:59] alexeykazakov commented on #1416
@kbsingh is this something the SD team can look at? Something is wrong with free-int cluster.

[2017-11-21 04:26] GeetikaBatra commented on #1278
@samuzzal-choudhury, currently, I am working on making the api cast available on staging. I remember that this was not supposed to be deployed on production.
Please make a note, this is about making api cast available on deployment and not the self hosted 3scale gateway.

[2017-11-21 04:33] rajdavies commented on #1381
from the logs - looks like the build service is unavailable or timesout

[2017-11-21 04:37] #921 closed

[2017-11-21 04:53] joshuawilson commented on #1157
@corinnekrych is this fixed?

[2017-11-21 04:56] joshuawilson commented on #1070
@dgutride what is the status on this?

[2017-11-21 05:24] joshuawilson commented on #1097
Yes, It makes sense to me to have this be consistent.

[2017-11-21 05:29] joshuawilson commented on #1372
@andrewazores that sounds like a good plan.

[2017-11-21 05:41] joshuawilson commented on #919
That is why I pinged her on it, so she can consider it for her work.

[2017-11-21 06:18] rawlingsj commented on #1381
Yeah - there may be logs from an s2i build in the Jenkins namespace that gives more info but as @rajdavies said the error is saying it’s the openshift build that fails.

[2017-11-21 07:13] joshuawilson commented on #1414
Closing as this is now being tracked by #1415

[2017-11-21 07:13] #1414 closed

[2017-11-21 07:25] l0rd commented on #1304
@mishaone have you updated you tenant this morning? The latest Che version (2.0.60) has a workaround that mitigates the routes issues: a change in the [server evaluation strategy](https://github.com/fabric8-services/fabric8-tenant-che/pull/72). That is something we tested without success last week. But this weekend something has changed in the routes configuration and, associated with our workarou

[2017-11-21 07:38] jaseemabid opened #1417 "README doesn't say what this repository contains"
Can we add a top level heading? Is this marketing pages? What else do we have here?

[2017-11-21 07:48] maxandersen commented on #919
ack -  of course - I read it as a reply not a "ping" - my bad :)

[2017-11-21 07:51] joshuawilson commented on #1417
The code for this repo is just the marketing page. However, since the repo has the same name as the application it started to be a place where people posted issues. Out of that the dev team decided to openly track all work items/issues/bugs in this repo.

[2017-11-21 07:56] tuxdna commented on #939
It is 24287 packages as of now i.e. 100 * 31321 / 756881 = 4.13816 %

[2017-11-21 08:03] jaseemabid commented on #1417
@joshuawilson Sent a PR https://github.com/openshiftio/openshift.io/pull/1418

[2017-11-21 08:09] joshuawilson commented on #1417
Thanks for the PR, merged. Closing this issue.

[2017-11-21 08:09] #1417 closed

[2017-11-21 08:44] corinnekrych commented on #1157
yes `_` are removed as they are not authorized for k8s namespace.

[2017-11-21 08:44] #1157 closed

[2017-11-21 08:46] apupier commented on #1157
they are now replaced by what?

[2017-11-21 09:09] pbergene commented on #1415
Synced with @xcoulon - waiting for @mmclanerh to come on today and we'll walk through the steps required to clean out the tenant DB.

[2017-11-21 09:16] miteshvp commented on #1295
Initial data dump created on Stage Environment

[2017-11-21 09:16] #1295 closed

[2017-11-21 10:25] rawlingsj commented on #206
This has been resolved https://github.com/fabric8-jenkins/jenkins-openshift-base/commit/2328e5e01f6d3d45af0b37c24cd97950623df2da

[2017-11-21 10:25] #206 closed

[2017-11-21 11:00] corinnekrych commented on #1157
Default name for space "My own space with spaces" => `myownspacewithspaces`

[2017-11-21 11:05] l0rd commented on #1146
The first task is done. Multi tenant che is already deployed on OSIO. Most of the users are still using their dedicated Che but we are currently rolling out multi tenant Che for everybody (c.f. https://github.com/redhat-developer/rh-che/issues/107)

[2017-11-21 11:35] jerboaa commented on #1304
It's looking good so far on my end (version 2.0.60). It did load the workspace correctly on first attempt. I'll report back should I see the issue again.

[2017-11-21 12:15] bmicklea commented on #1146
Thanks Mario - the idea here was to list out all the things needed for us to handle 500 concurrent users (my list may be incomplete) and link to tasks that can be sprint-scheduled for tracking.

[2017-11-21 13:40] maxandersen opened #1419 "Extract deployment diagram snapshot via kubernetes/openshift api"
As a contributor and support I would like to document and understand how the system is physically and optimally logically deployed.

We could manually keep a diagram uptodate but it very easily get tedious and probably incorrect.

More interesting if we could extract deployment diagram using the k8 api and generate a plantuml diagram like this (not representative, just example):

![](http://www.pl

[2017-11-21 13:50] maxandersen opened #1420 "Extract a regular daily/recent changelog based on https://github.com/openshiftio/saas-openshiftio"
With changes coming into osio from multiple places it can be hard if not impossible to track where changes come from.

There are so many that automation is necessary and idea is to use
 https://github.com/openshiftio/saas-openshiftio as a starting point.

Basically traverse the structure in that repo, for each found repository take the sha's and fetch the changelog from that SHA until the previous

[2017-11-21 13:55] joshuawilson commented on #1328
@ldimaggi can you confirm this was fixed?

[2017-11-21 15:22] jaseemabid opened #1421 "Text element to select a github repo is confusing"
Please see the attached screenshots. The white block area to the left of the filter icon looks like a text area but its not. Clicking on the filter opens up a real text area underneath which looks ugly.

Suggestions:

   1. Make the white block actually a text area and avoid the extra space that pops below.
   2. Make sure user can type there without actually clicking the tiny icon.

![screenshot

[2017-11-21 15:23] jaseemabid opened #1422 "Cannot import code in Firefox because patternfly blows up"
Importing code with the wizard fails on latest Firefox because of patternfly issues. Please see the screenshot for stack trace (I've no idea how I can copy paste it from the console).

![screenshot from 2017-11-21 14-52-52](https://user-images.githubusercontent.com/601714/33064519-f64ef6ea-cecb-11e7-82b1-cedfa2c42826.png)

[2017-11-21 15:28] xcoulon commented on #1415
The awesome @pbergene cleaned the `tenant` database with the remaining entries for @mmclanerh entries (1 entry in the `tenants` table and 4 entries in the `namespaces` table, for the `-che`, `-jenkins`, `-stage` and `-run` projects on OSO), then he deleted the corresponding projects on OSO using the `devtools-sre-tools` account, since those 4 remaining projects did belong to this SA user and not t

[2017-11-21 15:28] #1415 closed

[2017-11-21 15:30] ibuziuk opened #1423 "[multi-tenant] Che status should be obtained not from user namespace, but from dsaas / rh-idev"
Currently, for multi-tenant che users, status is still obtained from *-che namespace and not from dsaas / rh-idev wheremulti-tenant che is deployed:

![image](https://user-images.githubusercontent.com/1461122/33079890-0694f936-ced7-11e7-93a4-6c29548f63e8.png)

We could possibly treat this as a known issue since the whole migration is going to happen in the next few weeks and there is no API for ob

[2017-11-21 15:36] jerboaa commented on #1304
From where I'm standing this issue can be closed as fixed.

[2017-11-21 15:55] ibuziuk commented on #1423
@slemeur @qodfathr do you agree that we could treat status icon as a know issue for multi-tenant users and switch to using multi-tenant status before the major migration ?

[2017-11-21 16:25] joshuawilson commented on #1336
This should be fixed, please reopen if it is still an issue.

[2017-11-21 16:25] #1336 closed

[2017-11-21 16:26] sbose78 commented on #1336
This was the fix I assume: https://github.com/fabric8-services/fabric8-auth/commit/aa6c3f6f2a6d74e88b2d549708df61135035064f

[2017-11-21 16:35] joshuawilson commented on #1210
Fixed in #2221

[2017-11-21 16:35] #1210 closed

[2017-11-21 16:38] joshuawilson commented on #1289
Met with Clayton and we all agreed to use websocket for now.

[2017-11-21 16:38] #1289 closed

[2017-11-21 16:40] joshuawilson commented on #1375
closing, if it is still an issue please reopen

[2017-11-21 16:41] joshuawilson commented on #1328
I think this was fixed. Please reopen if you are still seeing it.

[2017-11-21 16:41] #1328 closed

[2017-11-21 16:46] joshuawilson commented on #955
Based on the changes recently made this should be fixed. If you are still seeing it please reopen.

[2017-11-21 17:18] jiekang commented on #486
I tested this today and this functionality works for me on OSIO Production with space name 'arst' and application named 'osio-vertx'. I also verified through OSO that the deployment configurations are actually deleted and through OSIO that running the pipeline again successfully recreates the expected deployments.

Closing as fixed. If this issue can be reproduced, feel free to reopen with more de

[2017-11-21 17:18] #486 closed

[2017-11-21 17:35] qodfathr commented on #1423
We either need to get the status indicating working properly against the multi-tenant server, or we need to remove this status icon temporarily until we've got it working against the mutli-tenant server. It will cause a lot of support problems if users do not see a green checkmark when everything is operating nominally.

My preference is that we get the status checkmark to report correctly for the

[2017-11-21 17:37] qodfathr commented on #1423
Setting to SEV-3 for now, but will become SEV-2 or SEV-1 if we do not have this addressed when the mass migration begins.

[2017-11-21 17:38] ibuziuk commented on #1423
@joshuawilson @xcoulon could you please point to the place in the code where che status is currently obtained ?

[2017-11-21 17:44] ibuziuk commented on #531
@l0rd this should be fixed right ?

[2017-11-21 17:47] ibuziuk commented on #1304
@ldimaggi could you please verify ?

[2017-11-21 17:49] l0rd commented on #531
@ibuziuk I am afraid we need to wait for Che `5.21.0` to reach OSIO. This PR should fix the last STDERR message https://github.com/eclipse/che/pull/7471

[2017-11-21 18:26] rootAvish opened #1424 "Scrollbar appears when context menu of an issue is opened in planner backlog"
Sorry if this issue is a duplicate, couldn't find anything when searching with "scroll". I have only two issues in the backlog, but when I open the context menu for one of them the menu is not visible fully, instead a scrollbar appears in the view that contains just the two issues.

I don't think this behavior is desired, is it?

<img width="1680" alt="screen shot 2017-11-21 at 11 48 44 pm" src="h

[2017-11-21 18:29] joshuawilson commented on #1304
The only issue is that we have now introduced a 60 sec delay to overcome an unknown issue. That unknown issue may grow and then we would need more then 60 sec. Plus, this is not good for the user experience.
If we close this, can we open a new one to address these new issues?

[2017-11-21 18:33] ibuziuk commented on #1304
@joshuawilson we could create a new one for SD team (which would be resolved after 3.7 update)

[2017-11-21 18:51] joshuawilson commented on #1423
@ibuziuk here is a starting point for you https://github.com/fabric8-ui/fabric8-ui/blob/master/src/a-runtime-console/kubernetes/ui/status/status-list.component.ts#L98

[2017-11-21 18:55] burrsutter opened #1425 "responsive design on Add Work Item"
I can not replicate this right now since I do not have an external monitor connected.
At conferences and meetups, it is common to use an external projector that supports 720p (1280×720) at best.  And what I believe I have seen is that Adding a Work Item in Planner mostly attempts to drop into a 'mobile mode' and the "dialog" fills the entire screen.   1280x720 should still be enough pixels to allo

[2017-11-21 19:06] joshuawilson commented on #1422
What is your version of Firefox? Have you tried it on another browser?

[2017-11-21 19:15] joshuawilson commented on #1421
@slemeur can you please take a look at this? Who is doing UX on this?

[2017-11-21 19:16] joshuawilson commented on #1422
We need to confirm the browser that was used and compare it against the supported list. https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

[2017-11-21 19:22] joshuawilson commented on #1420
who is going to own this?

[2017-11-21 19:30] joshuawilson commented on #1338
@xcoulon @pbergene can you work with @Rydekull to get his account clean to

[2017-11-21 21:37] maxandersen commented on #1420
at the moment me - talking with KB on candidates.

[2017-11-21 22:43] kbsingh commented on #1419
cc @pbergene as something we might want to track in the service docs as well

[2017-11-22 00:37] ldimaggi opened #1426 "On prod-preview, env reset failing - Che and Jenkins pod not starting after an environment reset - reproducible"
Seeing errors similar to this in the event log:
[code]

[2017-11-22 00:37] ldimaggi commented on #1426
Steps to reproduce:
* Reset the user environment

[2017-11-22 00:38] ldimaggi commented on #1426
![screenshot from 2017-11-21 19-37-55](https://user-images.githubusercontent.com/642621/33103962-80acec76-cef3-11e7-9a26-967100d35d4b.png)

[2017-11-22 03:50] mishaone commented on #1304
+1 now works for me with updated che.

[2017-11-22 04:35] krishnapaparaju opened #1427 "Not able to calculate license for quickstarter application stack"
Pleas see the screenshot :

<img width="1345" alt="screen shot 2017-11-22 at 10 03 27 am" src="https://user-images.githubusercontent.com/15967765/33110243-9424421c-cf6c-11e7-98cd-77b6b5c78523.png">

[2017-11-22 04:39] krishnapaparaju opened #1428 "Stack report: Label texts need to be revamped for better understanding (UX)"
<img width="1330" alt="screen shot 2017-11-22 at 10 06 29 am" src="https://user-images.githubusercontent.com/15967765/33110336-34dbdd3c-cf6d-11e7-8a57-5634226f3aec.png">

There are couple of labels which do not make sense, eg: 'Conflict with in a component'

[2017-11-22 04:42] krishnapaparaju opened #1429 "Incorrect usage outliers show up at stack report"
Take any quick start application, run the stack report two times : (a) with no changes at current pom.xml (b) remove some packages at pom.xml. New usage outliers show up in (b) that do not show up at (a).

[2017-11-22 05:12] krishnapaparaju opened #1430 "No Categories shown for basic vertx packages"
Please check this screenshot:

<img width="1351" alt="screen shot 2017-11-22 at 10 40 47 am" src="https://user-images.githubusercontent.com/15967765/33111020-b43b6d50-cf71-11e7-8ff0-c3ca2e0e10fc.png">

[2017-11-22 05:44] jaseemabid commented on #1422
I'm using latest stable Firefox 58. `this.gui.inputs[3] === undefined` doesn't look like a browser incompat issue :/

[2017-11-22 05:45] jaseemabid commented on #1421
Update. Suggestion 3.

It might be a good idea to just remove the tiny icon and have a filter that is always active.

[2017-11-22 06:00] mishaone opened #1431 "Quick-add Work Item behavior is unexpected"
I used the quick add fields to create a new Work Item (bottom of the Planner view, see screenshot) and it worked as expected. After creating the WI, I changed the Work Item type to Bug to create a new WI. Unexpectedly, the WI name and description fields retained the values I added for the previous (already created) Work Item. Moreover, the text for the name field is greyed out but still displays t

[2017-11-22 06:38] jaseemabid commented on #1422
This blows up on Chrome Version 62.0.3202.75 (Official Build) (64-bit) as well, but with a different issue.

I'd like to say this bug prevents the user from using almost all of OSIO, hence should be considered critical.

![screenshot from 2017-11-22 12-06-06](https://user-images.githubusercontent.com/601714/33113283-9e7f3fa8-cf7d-11e7-9715-1e98c6ebd5e5.png)

[2017-11-22 06:40] jaseemabid commented on #1422
PS: Why am I seeing stack traces pointing to CSS files? o_O

[2017-11-22 07:10] joshuawilson commented on #1422
I just ran the import of code in Chrome in production and it worked with no errors.
Are you importing a known working repo? (one that you had previously made in OSIO)

[2017-11-22 07:18] jaseemabid commented on #1422
This is what I installed with gofabric8. The deployed version seems to be `fabric8/fabric8-ui:v318d700`

[2017-11-22 07:23] ashumilova opened #1432 "Connect the workspace list page with API interactions"
To continue work on the list of workspaces defined here: https://redhat.invisionapp.com/share/EUE7YA6HG#/screens/261486067
need to finish work on :
- [ ] workspace creation
- [ ] workspace deletion
- [ ] workspace stop

[2017-11-22 07:31] joshuawilson commented on #1422
Ah, that explains it. It helps to know that you are not on prod when you report a bug.

[2017-11-22 07:33] jaseemabid commented on #1422
I'll try to be more precise next time.

[2017-11-22 08:20] msrb opened #1433 ""Error syncing pod" for workers in staging"
# Description

E2E tests have [started failing](https://ci.centos.org/job/devtools-f8a-master-deploy-e2e-test/387/console) for workers recently. The root cause seems to be that the pods can spend 10+ minutes in "Container creating" state. We need to investigate and fix this problem.

[2017-11-22 08:22] msrb commented on #1433
@vpavlin just told me that rh-idev lacks resources. That could explain the problem...

[2017-11-22 08:25] ashumilova opened #1434 "Add repositories layouts according to new designs"
Need to implement the repositories section according to new designs:

![screenshot from 2017-11-22 10-23-39](https://user-images.githubusercontent.com/1611939/33116952-5fb00676-cf6f-11e7-8a5f-3b4eb59ed7f9.png)

More details are here:
https://redhat.invisionapp.com/share/EUE7YA6HG#/screens/261486067

[2017-11-22 08:28] pbergene commented on #1338
All 5 projects are in place and look correctly set up.  @Rydekull did you set up the 'arydekul' namespace on openshift yourself (so the tenant db doesn't know about it) or was that provisioned by OSIO? I'm not sure this is a https://github.com/openshiftio/openshift.io/issues/1031 thing.

Reset environment and reset tenant would be the place to start.

[2017-11-22 08:40] abs51295 commented on #1291
Group ids with &ge; 200 artifacts were identified as significant sub-ecosystems for Maven.

[2017-11-22 08:41] pbergene commented on #1328
I suspect this was due to the hibernation/ force-sleep quotas which affected creation of all new pods. These applied to 331 jenkins and 2 che namespaces (with @ldimaggi / e2e as one of the latter). The rolebinding error was a red herring.

[2017-11-22 08:41] #1291 closed

[2017-11-22 08:47] abs51295 commented on #1292
Top 30% packages for identified sub-ecosystems [ #1291 ] were chosen as anchor packages. Artifact usages from [mvnrepository](http://www.mvnrepository.com/) were taken as the primary metric to identify top 30% packages for the sub-ecosystems.

[2017-11-22 08:47] #1292 closed

[2017-11-22 08:50] abs51295 commented on #1250
Please look at the respective user stories #1291 and #1292.

[2017-11-22 08:50] #1250 closed

[2017-11-22 08:55] rootAvish commented on #1268
Future scope: Add some parallelization logic and run subsequent runs of the tagger.

[2017-11-22 08:55] #1268 closed

[2017-11-22 09:08] maxandersen commented on #1376
@rawlingsj any idea on this ? are these jobs stuck on approval stage or how ?

[2017-11-22 09:18] samuzzal-choudhury commented on #1430
The PR https://github.com/fabric8-analytics/fabric8-analytics-server/pull/216 has been merged for this.

[2017-11-22 09:26] rawlingsj commented on #1376
I'm not sure what feature times jenkins jobs out, TBH it's the first I've heard of a jenkins job only being able to run for 30 mins - I'd say if that's the case then there's a usability issue here as pipeline jobs are expected to be long running especially with approval steps involved.

@kbsingh can you provide more information around this feature that @vpavlin is referring to please?

@maxanderse

[2017-11-22 09:33] jerboaa commented on #1304
@joshuawilson FWIW, I'd track this as a separate issue and link it here.

[2017-11-22 09:39] msrb opened #1435 "output of GitHub worker doesn't conform to its schema"
Bug observed in staging:

[code]

Likely related to: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/424

[2017-11-22 09:55] xcoulon opened #1436 "User blocked with an existing OSO project"
User @abs51295 is blocked with an existing OSO project that he created during a workshop before starting on OSIO:

![openshift-web](https://user-images.githubusercontent.com/178502/33120867-98e93080-cf73-11e7-99a0-bf77795d8524.png)

Project has since been deleted, but the setup remains incomplete.

[2017-11-22 09:59] #1435 closed

[2017-11-22 09:59] samuzzal-choudhury commented on #1403
Marketplace related TODOs identified by developers are -

#### VSCode

1. Need to have readme's verified as this will be shown in marketplace [1] [2]
2. Get the icon for extensions
3. Need to finalise on Extension names as well(We have 2 extensions for VSCode)
4. Need to automate the flow to publish the extension to marketplace as redhat official
5.

Developer Studio:
NA

[2017-11-22 10:04] msrb commented on #1261
Done. Thanks @pkajaba  😉 Good job 👍

[2017-11-22 10:04] #1261 closed

[2017-11-22 10:05] msrb commented on #1258
Moving to sprint 141.

[2017-11-22 10:05] msrb commented on #1244
Done, thanks @pkajaba 😉

[2017-11-22 10:05] #1244 closed

[2017-11-22 10:06] sunilk747 opened #1437 "Blocked with an existing OSO project: @ssamal"
similar to #1436

[2017-11-22 10:06] sunilk747 commented on #1437
@sbose78 @xcoulon

[2017-11-22 10:09] msrb commented on #972
This is no longer relevant as we have implemented https://github.com/openshiftio/openshift.io/issues/690 for Maven. "Anitya 2.0" should be a different issue.

[2017-11-22 10:09] #972 closed

[2017-11-22 10:11] msrb commented on #1264
Nice, thanks @jpopelka 😉

[2017-11-22 10:11] #1264 closed

[2017-11-22 10:12] msrb commented on #688
Moving back to backlog as nobody plans to move this forward in sprint 141.

[2017-11-22 10:17] msrb commented on #1024
Implementation ready, we need to test this, move it prod and run the job there.

[2017-11-22 10:23] krishnapaparaju commented on #1403
@samuzzal-choudhury @msrb @miteshvp @sivaavkd @GeorgeActon

These stream level planned activities would need to be grouped into few work items (for the entire platform) as this consolidated list of work items would need to reviewed by PM team...

[2017-11-22 10:25] krishnapaparaju commented on #1403
@tisnik require QE help out on performance, user facing SLA. (load testing with different combinations of resources) and sharing results with the development team...

[2017-11-22 10:44] msrb commented on #1242
Just FYI, response time logging in kronos: https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/123

[2017-11-22 10:47] maxandersen commented on #1420
@jaseemabid is looking at this.

idea is to add a script to https://github.com/openshiftio/saasherder which will generate a changelog based on the commit history  on that and connected repos.

[2017-11-22 10:51] msrb opened #1438 "Redesign stack analysis flow"
# Description

We have identified [few bottlenecks](https://github.com/openshiftio/openshift.io/issues/1242) in the way how we process stack analysis requests. One of the bottlenecks being workers synchronously waiting (sometimes 40+ seconds) for response from underlying service. The goal of this spike is to redesign stack analysis flow.

[2017-11-22 10:52] msrb commented on #1242
Follow up task: https://github.com/openshiftio/openshift.io/issues/1438

[2017-11-22 10:53] ashumilova opened #1439 "Extend API for interaction with Che workspaces"
There is need to expose Che workspace API (https://github.com/fabric8-services/fabric8-wit/blob/master/codebase/che/client.go) with the following items:
- [ ] ability to stop workspace
- [ ] ability to create workspace pointing the repository branch ? (maybe here changes for codebases are needed as well to be identified by source location + branch)
- [ ] ability to delete workspace
- [ ] ability t

[2017-11-22 10:53] ashumilova commented on #1432
depends on https://github.com/openshiftio/openshift.io/issues/1439

[2017-11-22 10:59] #1271 closed

[2017-11-22 10:59] #1274 closed

[2017-11-22 10:59] #1276 closed

[2017-11-22 11:00] samuzzal-choudhury commented on #1275
There will not be any client side change for this. Hence, this user story is obsolete.

[2017-11-22 11:05] msrb commented on #1201
Thanks, we are done here 😉

[2017-11-22 11:05] #1201 closed

[2017-11-22 11:08] msrb opened #1440 "Remove result collectors from the main flows"
# Description

Based on results of https://github.com/openshiftio/openshift.io/issues/1201, we want to exclude result collector tasks from the main flows. Please see https://docs.google.com/a/redhat.com/document/d/1azMHHv6Sj_aokNWAbGOBQUhdJUM1ikgkf35esjaOdB4/edit?usp=sharing for details.

# Acceptance criteria
- [ ] result collectors are not part of the main f8a flows and task results are stored t

[2017-11-22 11:09] msrb commented on #1201
Follow up task: https://github.com/openshiftio/openshift.io/issues/1440

[2017-11-22 11:13] msrb commented on #709
We need to find out if it's possible to have credentials in Jenkins that can be used only by particular job/set of jobs. Or we could run these credentials-sensitive tests in Central CI.

https://github.com/openshiftio/openshift.io/issues/1329 has higher priority in this sprint, so I am moving this issue back to backlog.

[2017-11-22 11:14] msrb commented on #939
Good progress here, thanks @tuxdna 😉

[2017-11-22 11:31] cescoffier commented on #408
Is this affecting all vert.x boosters, all boosters, or only the config map one?

[2017-11-22 11:32] cescoffier commented on #408
OH BTW, you forgot the `-Popenshift`

[2017-11-22 11:32] msrb commented on #1203
Updating only certain type of workers is possible even today. However, it is not recommended. The deployments can be tightly coupled together, for example via database migrations. Therefore one needs to be very careful when doing so.

[2017-11-22 11:32] #1203 closed

[2017-11-22 11:33] cescoffier commented on #408
`mvn -Dtest=OpenShiftIT test -Popenshift, openshift-it` is the right command

[2017-11-22 11:42] msrb opened #1441 "[3] Test f8a autoscaler and move it to prod"
# User story

As a fabric8-analytics developer, I want to be able just sit and relax and let the system alone to take care of scaling workers up and down based on workload available in queues. This will allow me to focus on other important things.

# Description
@humaton implemented a small service which can autoscale worker pods based on available workload (number of messages in SQS queues). This

[2017-11-22 11:42] msrb commented on #668
Autoscaler still lives only in staging as it hasn't been properly tested yet. I am gonna close this issue, but follow up issue for moving this service to prod is here: https://github.com/openshiftio/openshift.io/issues/1441

[2017-11-22 11:43] #668 closed

[2017-11-22 11:44] #1394 closed

[2017-11-22 12:00] ldimaggi commented on #1426
Updated on November 22 - Now, the env reset is failing - and neither the Che nor Jenkins pods are restarting on prod-preview. This error is not being seen on production.

[2017-11-22 12:06] #1242 closed

[2017-11-22 12:06] #1243 closed

[2017-11-22 12:11] #1062 closed

[2017-11-22 12:16] tuxdna commented on #939
It is 32894 packages as of now i.e. 100 * 32894 / 756881 = 4.3459 %

[2017-11-22 12:17] gastaldi commented on #402
I believe you need to have the `openshift` Maven profile enabled to run this test? @cescoffier can confirm

[2017-11-22 12:31] tisnik commented on #1324
@samuzzal-choudhury nice! TYVM. I'm going to talk about the public viewing with people from the CCS team.

[2017-11-22 12:40] fridex commented on #1404
[Sentry support](http://selinon.readthedocs.io/en/latest/trace.html#sentry-integration) can be helpful here (for debugging). There are two options how to implement this:

 * use selinon's tracing mechanism and waiting for [events](http://selinon.readthedocs.io/en/latest/selinon/doc/selinon.trace.html#module-selinon.trace) TASK_START, TASK_END, TASK_FAILURE, FLOW_START, etc.
 * use `store_error()`

[2017-11-22 12:47] rafabene opened #1442 "Authorization: Avoid somes users to change deployment resources"
Some users should not be allowed to change the memory limit or other deployment resources like number of replicas, etc.

We should also be able to limit users who can promote an app to a specific environment

[2017-11-22 12:51] maxandersen commented on #1376
The 30 min could be another value, but we've had requirement from day one that we can't keep having jenkins running "forever" as it takes alot of resources. @vpavlin is working on the idler that is being made to make it so we can idle jenkins when its either not doing anything, taking too long or just sitting around waiting for approval.

For jobs that are taking too long we can just kill the proc

[2017-11-22 12:53] mindreeper2420 opened #1443 "Investigate Small Screen Rendering"
The goal of OpenShift.io should be to serve the site as a responsive site or dynamic serving site, with the primary content/markup rendering the same across mobile and desktop devices.

Areas of greatest concern:
- Navigation
- Planner
- Applications
- Environments

[2017-11-22 12:55] gastaldi commented on #392
@ldimaggi where is this openshift.yaml supposed to exist? The booster doesn't have this file and that's not used in launcher: https://github.com/openshiftio-vertx-boosters/vertx-secured-http-booster.

[2017-11-22 13:09] alexeykazakov commented on #1416
free-int (OSO) is experiencing issues

[2017-11-22 13:09] miteshvp commented on #1286
I guess PR's are created. Closing this issue now.

[2017-11-22 13:09] #1286 closed

[2017-11-22 13:10] joshuawilson opened #1444 "fabric8.io pipelines stability"
The build pipelines, running on fabric8.io, go down too often and do not have enough support to keep them running for devs around the world.

[2017-11-22 13:13] rawlingsj commented on #1376
Ok fair enough - that's an idling requirement which as @vpavlin from the SD team mentioned he's working on so I think we can remove the **bug** and **cd team** labels?

For jobs that are taking too long we can just kill the process - but we do want to make sure approval steps are handled well. Our understanding is that jenkins has all state on disk thus it should be possible for us to kill jenkins

[2017-11-22 13:20] alexeykazakov commented on #1426
free-int is down

[2017-11-22 13:24] msrb commented on #1085
We will start with a spike.

[2017-11-22 13:29] tuxdna opened #1445 "Create a landing page for all things f8a analytics"
Use case:

For a developer to pick an issue, fix it, create a PR against that issue and make it go all the way to production, there are a lot of steps to be performed. Also there are lot of resources one needs to know about to follow these steps. These resources includes( among other things ):

* git repos for all projects
* documentation to develop on local machine
* documentation to develop on d

[2017-11-22 13:32] rawlingsj commented on #1444
I'm assuming you mean Jenkins on GKE running the fabric8 pieplines?  Rather than the website fabric8.io?

Support for GKE is being picked up by the service delivery team (adding the SD team label) - BTW @joshuawilson a bit more information is required than this to help understand what's going on.  AFAICT this is related to a mattermost comment I saw that you had a 503 last night but then it rectif

[2017-11-22 13:34] maxandersen commented on #1376
I think this issue was @vpavlin's ask to get help from cd-team to figure out why there was this long running jenkins job as assumption was jobs were setup to stop sooner.

okey, thought there was another state where node{} does create an agent or similar that prevents shutting down jenkins. if not the case that is irrelevant.

Its a mix i reckon, if you are saying when a jenkins job is waiting for

[2017-11-22 13:40] rawlingsj commented on #1376
Ok - it didn't sound like that but yeah if a pipeline (a type of jenkins job) is waiting for approval then yes the job stays running.

not AFAIK

Correct - I would definitely prefer to avoid timeouts in the Jenkinsfile.  So yes I agree the idler should stop jenkins and idle it.

[2017-11-22 13:51] miteshvp commented on #939
Graph being our OLTP, I guess we should share the statistics keeping pacakges synced to graph. WDYT? @msrb @tuxdna

[2017-11-22 14:17] sanketpathak commented on #1277
@samuzzal-choudhury  one and half component are done

[2017-11-22 14:31] ldimaggi commented on #1426
Closing as this problem was resolved. Question - do we have any active monitoring of free-int? Thanks!

[2017-11-22 14:31] #1426 closed

[2017-11-22 14:32] rawlingsj commented on #1376
After an internal discussion it seems the original comment from KB..

Was actually referring to build pods and not jenkins jobs.  The build pod is an openshift timebound pod which uses separate quota, this build pod is terminated after the maven build but the jenkins job continues to run and uses an executor on the master while waiting for approval.

AFAICT this is working as expected and not an i

[2017-11-22 14:32] #1376 closed

[2017-11-22 14:34] slemeur commented on #1323
cross - linking to #1319

[2017-11-22 14:37] ldimaggi commented on #1416
The top button is not working for me - it just loops back to the same login page.

[2017-11-22 14:57] joshuawilson commented on #1439
@xcoulon Can you work with @ashumilova to get these API's added?

[2017-11-22 15:39] gastaldi commented on #406
You need the `openshift` maven profile enabled for that to work correctly

[2017-11-22 15:39] gastaldi commented on #408
You need the `openshift` maven profile enabled for that to work correctly

[2017-11-22 15:52] gastaldi commented on #404
Is this still happening?

[2017-11-22 16:01] #1395 closed

[2017-11-22 16:01] tisnik commented on #1359
Fixed in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/457

[2017-11-22 16:02] #1359 closed

[2017-11-22 16:33] xcoulon opened #1446 "Detect if the user to init on Tenant already has a project on OSO"
Goal is to verify that the user to init on Tenant has no project on OSO prior to using OSIO, otherwise it would cause some problems during the tenant initialization (unable to create a new project in his account due to quota limits).
This verification could be done _during_ the init (in which case, there would be an error returned if the user already has a project), or _before_, which requires a n

[2017-11-22 17:09] maxandersen commented on #1375
mails still don't have a working image and the link still don't exist - thus reopening.

[2017-11-22 17:12] rafabene opened #1447 "Planner: Integrate issues with github issues"
All OSIO issues should be integrated with Github. So github issues would appear in OSIO and all OSIO created issues should be published on Github

[2017-11-22 18:03] joshuawilson commented on #1375
@mindreeper2420 do you know enough of what is needed to own this issue?

[2017-11-22 18:24] ibuziuk-test opened #1448 "Che is not deployed to the namespace of new users"
For some reason che template is applied partially and che deployment never starts:

Reproduced against new test account
Workaround: Profile -> Update Profile -> Update tenant

Events:

![image](https://user-images.githubusercontent.com/33908548/33143590-a2e8e9b2-cfba-11e7-885c-12d68e336b1c.png)

The following resources are applied correctly:

Cms:

![image](https://user-images.githubusercontent.co

[2017-11-22 18:26] mindreeper2420 commented on #1375
@joshuawilson if you need to set an owner, you can add me. It might stay open until Aslak comes back from PTO, but I can run some scripts Aslak shared with me to see whats up.

[2017-11-22 19:12] msrb commented on #939
@miteshvp I am all for it. But I am not sure how to get the numbers :) Could you please share the steps how to get them?

[2017-11-22 20:03] joshuawilson commented on #1371
@mindreeper2420 do you still this this is unreasonable?

[2017-11-22 20:10] joshuawilson commented on #1375
That is fine, thanks.

[2017-11-22 20:19] mindreeper2420 commented on #1371
@joshuawilson @jiekang After more thought (and was what tickling the back of my brain with the convo), this would (most likely) hamstring us with moving to the updated toolkits/frameworks in the spring (tentative goal). PatternFly is already working on switching over to Bootstrap 4, which is built with flexbox (ditching the HTML grid system), as well as the BEM naming convention. Both are also mov

[2017-11-22 20:21] joshuawilson commented on #1371
That makes sense. We can go with that.

[2017-11-22 20:37] joshuawilson commented on #1444
Thanks. Yeah, I saw several builds get stuck in the first stage and restarting didn't do anything. Usually that is when you go in and fix/restart something.

Is the need to restart something you can fix? Or are we stuck with that issue?

[2017-11-22 20:47] joshuawilson commented on #1442
Can you please be more clear in how to reproduce this?

[2017-11-22 20:54] joshuawilson commented on #1394
Was this fixed, is that why it is closed?

[2017-11-22 20:55] jiekang commented on #1371
Sounds good; thanks for the explanation!

[2017-11-22 20:59] joshuawilson commented on #1440
Should this be in the sprint? You have @fridex assigned and it marked as `in-progress`. Both of those tell me that is it being worked.

[2017-11-22 21:10] joshuawilson commented on #1420
For the UI repos, we use Semantic Release. This adds a nice layer of organization to the changelog that is generated and viewable on the release page on github.
If all the teams used it, then we would have cleaner commits.

[2017-11-22 21:28] joshuawilson commented on #1437
@pbergene

[2017-11-22 21:28] joshuawilson commented on #1437
@sunilk747 please post back when this is cleared.

[2017-11-22 22:49] joshuawilson commented on #1436
is this fixed?

[2017-11-22 23:08] joshuawilson commented on #1422
Thanks. You may want to file an issue again gofabric8 since the issue is there. They won't see an issue for it here.

[2017-11-23 03:43] krishnapaparaju opened #1449 "Stack report: Count mismatch for packages been analyzed"
Please check out numbers shown at the top right corner of the screen:

Total, Analyzed, Unknown: Total number is shown as greater than Analyzed.

When 'Unknown' count is shown (packages that OSIO analytics can not understand), would need to display the unknown package names as well...
<img width="1368" alt="screen shot 2017-11-23 at 9 10 13 am" src="https://user-images.githubusercontent.com/159677

[2017-11-23 03:59] #1412 closed

[2017-11-23 04:26] ldimaggi commented on #1194
This problem is still being seeing frequently.

From the Jenkins pod logs:

When the pipeline is not successful:

[code]

And - when it is successful:
[code]

[2017-11-23 04:32] sivaavkd commented on #768
@samuzzal-choudhury - can you please review this ?

[2017-11-23 04:37] sivaavkd commented on #755
@miteshvp - can you please review this ?

[2017-11-23 04:41] miteshvp commented on #755
@sivaavkd - this is more integration point when we try to create a work-item from front-end based on analytics recommendations, it fails. Changing the stream accordingly. @samuzzal-choudhury - please review this. Thanks.

[2017-11-23 05:07] krishnapaparaju opened #1450 "Stack report: Not displaying recommendations for companion components"
Start with VertX/ConfigMap starter application, generate stack report, no additional, companion components been recommended. This is OK as the quick starter application got all the right, needed packages.

After this, remove a package from pom.xml (vertx-web-client) and this removed package (commonly used package in the vertx world) is not showing up as part of recommended companion components.

[2017-11-23 08:11] xcoulon commented on #1389
Resolved in https://github.com/fabric8-services/fabric8-tenant/commit/839c30cce336d238f480a068e460aac806b561b2

[2017-11-23 08:11] #1389 closed

[2017-11-23 08:45] jaseemabid commented on #1422
@joshuawilson This is clearly an issue with the UI and I don't see why this should be filed on gofabric8.

[2017-11-23 09:03] pbergene commented on #1436
This is not yet fixed, we will be doing these cleanups manually in weekly batches starting Monday.  For it to be successful @abs51295 needs to delete their 'Capstone Project' and we will clear the tenant database, remove all other projects and the account will be re-initialized on next login.  The work in https://github.com/openshiftio/openshift.io/issues/1031 should remove the need for this manua

[2017-11-23 09:15] samuzzal-choudhury commented on #1403
@krishnapaparaju @GeorgeActon @sivaavkd @miteshvp @msrb - Please review the following sprint deliverables for the entire team and suggest any modifications.

#### Sprint Goal
- Publish IDE extensions for OSIO analytics platform (VSCode, DevStudio)

    - [ ] Test and increase analytics coverage for Vertx, SpringBoot (#1287)

    - [ ] UX related enhancements for the stack report  (#1277)

    - [

[2017-11-23 09:25] edewit commented on #1422
@jaseemabid css are only for styling and the references you see are wrong. The first stack trace you posted is clear, the error that you get is that the backend is not returning a json result that the front-end expects.

[2017-11-23 10:04] tuxdna commented on #1394
@joshuawilson Yes, it was fixed in the PR attached to this issue.

[2017-11-23 10:35] rajdavies commented on #1444
Its not something we can automate unfortunately - going to close this

[2017-11-23 10:35] #1444 closed

[2017-11-23 11:15] samuzzal-choudhury commented on #755
@ldimaggi is "add workitem to backlog" actually the "Create Work Item" link?

![image](https://user-images.githubusercontent.com/17740190/33167013-34e11fd6-d062-11e7-8f1f-12f7e4d0cb08.png)

I have tried out the scenario and found that creating new work items is working as expected for the vertx booster application. I reset my tenants before checking.

![image](https://user-images.githubusercontent

[2017-11-23 11:19] maxandersen commented on #1420
Yes - and once we get this aggregator in it will become very apparent :)

Right now it is a chore even finding the actual changes.

[2017-11-23 11:19] samuzzal-choudhury commented on #816
A sprint work item #1277 is already in progress for revamping the UX for OSIO stack report. This issue shall be addressed during the implementation.

[2017-11-23 11:22] jaseemabid commented on #1420
I'm working on this.  I don't have permissions to add WIP label

[2017-11-23 11:31] samuzzal-choudhury commented on #981
"View test report" in the kebab menu of is not meant for opening "Stack Report". This is beyond the scope of the recommender UI. Removing the stream/integration and team/analytics labels. @joshuawilson could you please set an appropriate backlog milestone to this?  tag. CC: @krishnapaparaju @miteshvp @ldimaggi

[2017-11-23 11:32] samuzzal-choudhury commented on #816
@joshuawilson I think this issue reports a cosmetic change. Should not we change the severity to SEV 4 instead?

[2017-11-23 12:36] samuzzal-choudhury commented on #768
@ldimaggi this error occurs on receiving HTTP error 500 from the server. The most obvious remedy in such a scenario will be to retry the pipeline run so that stack analysis on recommender API is re-invoked.

Could you please help me understand what kind of a user experience are you referring to for such a scenario?

[2017-11-23 12:45] muruGanesan commented on #768
If there is a HTTP server error,  we need to display an 'Error page' with details and provide option to the user to re-do/redirect.
From UX side, I will provide common server error page design - that should be displayed whenever user come across such error.

[2017-11-23 12:45] rkratky commented on #1324
@tisnik, what is the intended audience for this doc? End users or Analytics devs?

[2017-11-23 12:59] samuzzal-choudhury commented on #768
@muruGanesan as you already know, Stack Report Recommendation is a part of the space dashboard. Do you intend to provide an error page for that section only?

[2017-11-23 13:30] samuzzal-choudhury commented on #1288
@GeorgeActon thanks for the comment. We will be fixing that in https://github.com/openshiftio/openshift.io/issues/1449.

[2017-11-23 13:31] invincibleJai opened #1451 "Deploy self hosted 3scale gateway"
#### User Story:

As a fabric8-analytics developer I would like to deploy self hosted 3scale gateway so that the IDE extensions can consume OSIO services via 3scale

#### Description:
Self hosted 3scale gateway needs to be deployed on dev cluster( to start with) which would be using the 3Scale api management service (enterprise). fabric8-3scale-registration would be consuming it's services to regi

[2017-11-23 13:35] samuzzal-choudhury commented on #1430
@krishnapaparaju  The fix is on the prod cluster ATM. Closing this bug. Please feel free to reopen if you think otherwise.

![image](https://user-images.githubusercontent.com/17740190/33175276-387409d2-d081-11e7-8c24-8d917917db30.png)

[2017-11-23 13:35] #1430 closed

[2017-11-23 13:38] ashumilova commented on #1439
Adding some additional information:
1. Workspace creation in che-starter already has ability to handle the branch https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/client/WorkspaceClient.java#L150,
and the WIT API too - https://github.com/fabric8-services/fabric8-wit/blob/master/codebase/che/client.go#L396, so here will need to provide branch informat

[2017-11-23 15:30] mindreeper2420 commented on #768
UX already has a set of error pages, based on received errors (401,500, etc). They should be in InVision.

This is also just a card error, and should be contained to just the card. As there are already `if` statements for blank card vs one with content, another should be added for any kind of error.

I’ll create an issue in the UX backlog and link to this.

[2017-11-23 15:34] mindreeper2420 commented on #768
I’ve created a UX issue here for this problem: https://github.com/fabric8-ui/fabric8-ux/issues/752. We triage and plan on Mondays.

[2017-11-23 15:46] ibuziuk commented on #1448
@xcoulon could we have someone from the platform team to help us with this problem ?

[2017-11-23 15:51] bmicklea commented on #1403
Wow, that's a huge sprint. Do you expect to complete all the items listed above stretch?  Are they in priority order?

[2017-11-23 15:55] jaseemabid commented on #1420
Heads up! most of this is going alright but I hit one ugly issue. The yaml definitions in saas-openshift supports null values for hash key. I assume this means deploying the master or something like that.

This makes sense in the context of deployments but makes generating changelogs way harder.

What do I do for a master..master or null..null case?

[2017-11-23 15:56] samuzzal-choudhury commented on #768
This issue cannot be targeted for analytics sprint planning unless the UX team take action on the related UX issue #752. Hence, moving #768 to "Analytics Backlog".

[2017-11-23 16:02] maxandersen commented on #1420
For now - skip it and just add a "latest master deployed" or similar.

These are symbols of problems we need to fix.

[2017-11-23 16:04] krishnapaparaju commented on #1403
Its a huge sprint. Couple of sprint goals are spill overs from last train. Work items under 'Sprint goals', 'Bugs' carry higher priority than work items at 'Engineering work'

[2017-11-23 16:22] jaseemabid commented on #1420
Thanks for the pointer @sbose78. I'll ignore them for now.

[2017-11-23 18:12] kbsingh commented on #1451
lets also make sure we identify all the monitoring points needed, for dev/stage/prod for : our code, the 3scale gateway itself we host, and for the upstream 3scale end points. Once identified, we need to then work with the SD team to get it setup and the right reporting paths established.

[2017-11-23 18:25] kbsingh commented on #768
@samuzzal-choudhury are you sure about #752 ? that looks entirely unrelated.

[2017-11-23 18:36] ibuziuk commented on #1448
Logs for my test `identity_id` : `8923a6a3-aa10-4980-96bb-82b9a1e8e52c`

https://logs.dsaas.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-1w,mode:relative,to:now))&_a=(columns:!(identity_id),filters:!(),index:'project.dsaas-production.129c1244-1b37-11e7-8db9-124160897002.*',interval:M,query:(query_string:(analyze_wildcard:!t,query:'kubernetes.

[2017-11-23 18:40] samuzzal-choudhury commented on #768
@kbsingh thanks for pointing that out. It should have been https://github.com/fabric8-ui/fabric8-ux/issues/752. I updated that.

[2017-11-23 18:48] ibuziuk commented on #1448
@xcoulon in the logs I see 409 status:

`{"action":"setup","bytes":0,"ctrl":"TenantController","duration":2.280348,"duration_unit":"ms","identity_id":"8923a6a3-aa10-4980-96bb-82b9a1e8e52c","level":"info","msg":"completed","pkg":"github.com/fabric8-services/fabric8-tenant/vendor/log.LogRequest.func1","req_id":"NrLLP9JPLv-31536","status":409,"time":"2017-11-23 10:15:11"}`

Any ideas what does it mea

[2017-11-23 18:48] ibuziuk commented on #1448
{"action":"setup","bytes":0,"ctrl":"TenantController","duration":1.834306,"duration_unit":"ms","identity_id":"8923a6a3-aa10-4980-96bb-82b9a1e8e52c","level":"info","msg":"completed","pkg":"github.com/fabric8-services/fabric8-tenant/vendor/log.LogRequest.func1","req_id":"NrLLP9JPLv-31536","status":409,"time":"2017-11-23 10:15:11"}

[2017-11-23 18:52] ibuziuk commented on #1448
Logs from another f8tenant pod:

https://logs.dsaas.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-1w,mode:relative,to:now))&_a=(columns:!(kubernetes.container_name,message,identity_id),index:'project.dsaas-production.129c1244-1b37-11e7-8db9-124160897002.*',interval:w,query:(query_string:(analyze_wildcard:!t,query:'kubernetes.pod_name:%22f8tena

[2017-11-23 20:15] c-koehler opened #1452 "Add a tooltip to the deployment cards for the green checkmarks"
**Before:**
The black box did not appear.

**After:**
![everythinglooksokay](https://user-images.githubusercontent.com/33262856/33188160-763164e8-d065-11e7-9177-b997a598004f.png)

[2017-11-23 21:21] rbaumgar commented on #1061
I have created the configmap in my stage project, but I am not able to add the view role, so the vertx example is still not able read the configmap...

$ oc whoami -c
rbaumgar-stage/api-starter-us-east-2-openshift-com:443/rbaumgar
$ oc get configmap app-config -o yaml
apiVersion: v1
data:
  app-config.yml: |
    message : "Hello, %s from a ConfigMap !"
    level : INFO
kind: ConfigMap
...
$ oc pol

[2017-11-24 02:58] Swannie007 opened #1453 "Launching Che section, the "Your Workspaces are loading" Stuck"
Hi

I am attempting to go through the osiogettingstarted.pdf and is stuck on the.

Launching Che section, the Your Workspaces are loading spinning wheel has been going for about 20-30 minutes.

Regards

[2017-11-24 03:15] kbsingh commented on #1453
maybe dupe for #1448

[2017-11-24 03:21] Swannie007 opened #1454 "Project tree loses selection"
scl enable rh-maven33 'mvn compile vertx:run -f 'preview:http://vertx-5tll0myenn1er1jy-rhn-sa-jswanepo-che.8a09.starter-us-east-2.openshiftapps.com
Unable to parse command line options: Missing argument for option: f

[2017-11-24 04:25] invincibleJai commented on #1451
sure @kbsingh will worked towards it, thanks for inputs

[2017-11-24 05:29] sunilk747 commented on #1293
The vectors identified are `dependents`, `dependencies`, `star_gazers` count and `subscribers` count  and the corresponding data sources are `npmjs` and `github`.

[2017-11-24 05:45] mishaone commented on #1304
FYI - loading a previously created workspace is now down to about 50% change of fail for me. Usually this for ages:
![ws_not_running](https://user-images.githubusercontent.com/926572/33196881-9bae1a40-d12d-11e7-9054-b63515d04cdc.png)

At one point today, when left inactive for a half hour, the workspace indicated that it needed to restart (with a restart button, from memory), then the above for 10

[2017-11-24 06:18] sbose78 commented on #1454
@l0rd Could you have a look at this ?
Please feel free to update the triaging as necessary.

[2017-11-24 06:45] cescoffier commented on #1061
The last line is annoying because you can't grant the `view` permission - to you would not be able to view the config map.

[2017-11-24 06:50] samuzzal-choudhury commented on #1096
@msrb @miteshvp @krishnapaparaju this looks to me like a technical debt. Hence, removing the "kind/bug" label.

[2017-11-24 06:51] samuzzal-choudhury commented on #814
@krishnapaparaju @sivaavkd this is a technical debt which does not have any effect on production workflow. Removing the "kind/bug" label from this. Please revert if you think otherwise.

[2017-11-24 06:56] invincibleJai opened #1455 "Items related to publishing VSCode extension to marketplace"
#### User Story:

As a IDE(VSCode) user I would like to have OSIO-Auth/f8-analytics extension in marketplace so that the can use this extension to authorise IDEs to consume OSIO services for f8-analytics

#### Description:
OSIO-Auth extension needs to be in market place of VSCode, which would help any user to install and try out the extension. This story talks about the items needs to be achieved

[2017-11-24 07:05] eivantsov commented on #1454
The problem is with project selection in project tree. For some reason the IDE thinks that no project is selected. As a result, current.project.path macro is translated into nothing, hence `-f <null>`

[2017-11-24 07:26] samuzzal-choudhury commented on #1243
@msrb @miteshvp database operation will add up to the total response time. That was reason behind doing bookkeeping async way.

[2017-11-24 08:07] xcoulon opened #1456 "Missing Applications on the Space page"
After importing the `Vert.X` quickstart and deploying the application on the environments using the pre-configured pipeline, the space page still shows no content in the `Application` card:

<img width="1237" alt="screenshot 2017-11-24 09 05 29" src="https://user-images.githubusercontent.com/178502/33200924-da3afe7c-d0f6-11e7-821e-357919853d8a.png">
<img width="1197" alt="screenshot 2017-11-24 09

[2017-11-24 08:46] l0rd commented on #1454
@eivantsov is there an upstream issue about that?

[2017-11-24 08:50] xcoulon opened #1457 "Avoid using a browser popup to open a Che workspace ?"
If the browser blocks the popup (could be turned on by default), then trying to open the Che workspace from the `Codebases` page will result in ... nothing happened and if the user did not notice the popup blocker message in the navigation bar of the browser, he/she may think that an error occurred... This is at least my own experience :/
Could we try to find a workaround to avoid this situation,

[2017-11-24 08:51] eivantsov commented on #1454
https://github.com/eclipse/che/issues/7143

[2017-11-24 09:39] samuzzal-choudhury commented on #1433
@msrb can this be closed as it is not related to the analytics application?

[2017-11-24 09:41] ashumilova commented on #1457
+1 had same experience - first thought that Open button is not working.

[2017-11-24 10:03] rbaumgar commented on #1061
I can read it, but the vertx cann't!

[2017-11-24 10:40] samuzzal-choudhury opened #1458 "Technical Debt: Integration Test for stack dependency topic list validation"
Integration test has to be added for checking the following in the stack analysis result:

result[i]["user_stack_info"]["analyzed_dependencies"] topic_list should match with the topics found for that dependency in result[i]["recommendation"]["input_stack_topics"].

[2017-11-24 10:41] arunkumars08 opened #1459 "Make 3scale intermediate API repository fool proof"
Currently it hits almost 7 to 8 REST API calls to fully register an application inside 3 scale with mappings, metrics, proxies, end points and everything that is needed for a full fledged application to seamlessly work.

While making REST calls, currently it doesn't rollback or handle gracefully the failures in API calls if any.

This will create some faulty registrations and it might be prone to

[2017-11-24 11:12] #1433 closed

[2017-11-24 11:16] kbsingh commented on #1442
this would be smething for the platform team, and the tenant service sine thats where the role bindings are setup - but i would like to see, as @joshuawilson said, a reproducer and specifics around which part of a tenant service is the user able to edit quotas for.

[2017-11-24 11:18] kbsingh commented on #1416
this looks to have been a transient issue with free-int, should have cleared.

[2017-11-24 11:19] kbsingh commented on #1381
not really a service delivery thing, the cicd team will need to investigate

[2017-11-24 11:22] kbsingh commented on #1338
agree with @pbergene this isnt #1031 but more likely to be #1448

[2017-11-24 11:23] kbsingh commented on #1259
unsure how the service-delivery team can help here ? removing tag, but let us know if there is anything we can help with . this looks to be a cicd team / forge area problem.

[2017-11-24 11:27] kbsingh commented on #1146
We need multi-cluster deployed as well for this goal.

[2017-11-24 11:28] kbsingh commented on #1117
@joshuawilson happy to track, own as the deliverable.

[2017-11-24 11:30] kbsingh commented on #1059
ping @xcoulon - as you are working through, thinking through some parts of this - maybe an easy win to get done, for just validating those few roles are working ?

[2017-11-24 11:34] miteshvp commented on #1096
@samuzzal-choudhury - Thanks but we have already fixed this issue in the last sprint, but I forgot to close it out here. Hence closing this issue for now.

[2017-11-24 11:34] #1096 closed

[2017-11-24 11:35] rajdavies commented on #1381
Its not a build problem - removed CD from this issue

[2017-11-24 11:41] msrb commented on #1441
The service runs in production now, but only in "dry-run" mode so far.

[2017-11-24 11:46] kbsingh commented on #1034
original issue was resolved, please open a new issue if you continue to see the problem

[2017-11-24 11:47] #1034 closed

[2017-11-24 11:47] kbsingh commented on #1020
let us know if there is a problem with the logs or logging backend that needs escalating

[2017-11-24 11:48] #1000 closed

[2017-11-24 11:51] msrb opened #1460 "[3] Run E2E tests against fabric8-analytics prod deployment"
# Description

We run E2E tests against staging every time changes are merged to master branch and automatically deployed there. Other teams run their E2E tests also against prod deployment, every hour or so. We'd like to follow their example and start doing the same for fabric8-analytics.

[2017-11-24 11:51] msrb commented on #1460
@tisnik FYI

[2017-11-24 11:57] kbsingh commented on #676
do we need a PM / Product decision to close this ? we might want to atleast let folks know about this being a thing, either in docs or otherwise.

cc @rkratky @qodfathr @bmicklea

[2017-11-24 11:58] msrb commented on #1441
Looks good 🎆 🎉

[code]

[2017-11-24 12:01] kbsingh commented on #1363
If its just a case of 'waiting', can we have the summary icon be the watch icon ? atleast something that isnt Tick ?

Another option might be to use an exclamation mark as a way to get the users attention.

[2017-11-24 12:06] muruGanesan commented on #768
@samuzzal-choudhury @kbsingh , @mindreeper2420,  @sivaavkd @invincibleJai

https://redhat.invisionapp.com/share/KGE3V2B79#/265822086_OSIO_Analytics_V07_Error-001

[2017-11-24 12:06] kbsingh commented on #465
I propose having the area/tenant scope be used to rehash the usernames, if we still have old stale renamed users, the accounts should be removed and let them re-init OSO tenant space.

removing team/service-delivery for now, there isnt much we can help with, as far as I can tell, but if there is a task our way, please do add us back in

[2017-11-24 12:09] invincibleJai commented on #768
@muruGanesan thanks for help

[2017-11-24 13:27] jaseemabid commented on #1420
Ref https://github.com/openshiftio/saasherder/pull/41

[2017-11-24 13:33] cescoffier commented on #1061
Basically, your application cannot read the config map. So, you will have to switch to another way to read the config map (volume or system properties)

[2017-11-24 14:01] qodfathr commented on #676
I believe this to be a bug. If we decide to support space names in FQDNs in the future, we'll find a mapping for the dots to FQDNs.

Note that there may be implementation challenges to support dots in terms of ensuring no clashes when creating artifacts in OpenShift. E. G., if I have the following spaces in my account:
a b
a.b
a_b
a-b
we need to ensure those don't conflict with one another in any

[2017-11-24 16:54] xcoulon commented on #1457
yes, that's exactly what I was meaning, and I suspect a few (lot ?) of users will have the same reaction...

[2017-11-24 17:56] jiekang commented on #1370
A WIT repository with the latest prototype API can be found at:
https://github.com/jiekang/fabric8-wit/tree/deployments-api

[2017-11-24 22:01] maxandersen commented on #676
worthwhile to be aware of is that https://docs.google.com/spreadsheets/d/1cNSDuek0v1EBPpdPlFwG_Y_yOlux86m9MYf9UrF82l4/edit#gid=208615194 our canonical url strawman states this:

"all names should follow the same verification pattern as spaces - fewer than 63 chars, replace spaces with pluses, lowercase or uppercase letters, numbers or dashes or underscore. cannot start with a dash or a underscore"

[2017-11-25 07:34] rbaumgar commented on #1061
Agree! But this is the example which is provided in OpenShift.io with the name "Vert.x HTTP & Config Map". And I assume an example should work OOTB.
BTW this example shows dynamic config update and I am not sure the other ways do work...

[2017-11-25 07:59] msrb commented on #1441
⚖️ 🍷 🎉

[code]

[2017-11-25 08:12] msrb commented on #1441
Although liveness probe is not very happy:

[code]

[2017-11-25 19:49] sunilk747 commented on #1293
The final data set obtained can be found [here](https://drive.google.com/open?id=1dLvhDRInIK7ierHWMx3cUIkOzjOA86-X).

[2017-11-26 22:22] mindreeper2420 commented on #1375
@joshuawilson is there any way to know if the image I added to this repo for the email templates is actually on the server? I've checked against ones that I know are there, and they work without issue.

Example:
This one works https://github.com/openshiftio/openshift.io/blob/master/src/assets/images/redhat_reverse.png

This one does not work https://github.com/openshiftio/openshift.io/blob/master/

[2017-11-27 01:37] ldimaggi commented on #1416
Closing - I was just able to login.

[2017-11-27 02:50] ldimaggi opened #1461 "On prod-preview, builds are timing out"
This seems to be reproducible.

Steps to reproduce:
* On prod-preview, create a new app/quickstart
* Observe the build fail - the following timeout error is seen in the build log:

[code]

[2017-11-27 06:46] ravsa opened #1462 "API Implementation of analytics flow to create his/her own application stack"
#### Epic: https://github.com/openshiftio/openshift.io/issues/1319

#### User Story:

As an OSIO user, I will be able to get relevant get relevant packages given English text or a tag as input and able to check if the dependencies are valid or not.

#### Description:

As a fabric8-analytics developer, I would like to create API endpoints to get relevant packages information given English text or t

[2017-11-27 08:04] xcoulon commented on #1245
(checked the mark for the `Reverse lookup tenant by cluster/namespace` task in the description as it was resolved last week)

[2017-11-27 09:03] msrb commented on #1441
The probe is fixed now.

[2017-11-27 09:22] ibuziuk commented on #1049
@joshuawilson it is a back door currently and some trivial back-end validation of maven repo / checksum for sure must be in place

[2017-11-27 09:24] l0rd commented on #1061
@rbaumgar @cescoffier for the namespace <username>-che namespace we had taken the decision to avoid any access to the OpenShift API by design. This is from the terminal within a Che workspace:

[code]

But @rbaumgar I agree with you that we need to take a decision: either we provide sufficient privileges to run the booster or we need to remove the booster from the quickstart. cc @kbsingh @joshuawi

[2017-11-27 10:59] msrb commented on #1441
And the service is running in prod now, closing.

[2017-11-27 10:59] #1441 closed

[2017-11-27 11:05] tisnik commented on #1329
@miteshvp in order to finish this task I'd need to know the structure of data stored in our graph DB. Could you please point me to (any) documentation about this topic? Thank you in advance!

[2017-11-27 12:03] fridex commented on #731
Code done mostly in https://github.com/selinon/selinon/pull/48, https://github.com/selinon/selinon/pull/56, https://github.com/selinon/selinonlib/pull/46, https://github.com/selinon/selinonlib/pull/45, https://github.com/selinon/selinonlib/pull/44 and https://github.com/selinon/selinonlib/pull/43

[2017-11-27 12:24] msrb commented on #1298
PV should do the trick here, IMO.

[2017-11-27 12:27] maxandersen commented on #1420
okey, we now got the basics for generating the log on a given update to saas-openshiftio (great job @jaseemabid )

Now how do we get the generation triggered on build and made available somewhere - @vpavlin any good place in the pipeline jobs we can pont @jaseemabid  to hook in a call to saasheder changelog and then have it published somewhere ?

[2017-11-27 12:30] ibuziuk commented on #1423
@joshuawilson it was decided to hide [1] che status icon temporary for now as a first step. Could you point to the place where we could use `hidden` attribute for che status info ?

[1] https://github.com/redhat-developer/rh-che/issues/449

[2017-11-27 12:51] msrb opened #1463 "fabric8-analytics API server uses half a CPU core even though there is no traffic [prod-preview]"
Originally reported by @jfchevrette on the ML (thanks 😉 )

bayesian-api pod running on rh-idev uses half a CPU core while doing nothing:

![bayesian-cpu](https://user-images.githubusercontent.com/3759039/33267279-21169372-d379-11e7-8501-ea476632a1b2.png)
![bayesian-cpu-graph](https://user-images.githubusercontent.com/3759039/33267282-23df4482-d379-11e7-8731-07f08241052e.png)

Both prod and prod-pr

[2017-11-27 12:51] msrb commented on #1463
cc @samuzzal-choudhury

[2017-11-27 12:52] rootAvish opened #1464 "Stack report includes multiple replicas of the same repository with varying number of stars in Github Dependants column"
<img width="1680" alt="screen shot 2017-11-27 at 3 50 57 pm" src="https://user-images.githubusercontent.com/5445560/33267415-67609b54-d39f-11e7-9458-84cbc8ff3e56.png">

**Observed behaviour**: The same repository is shown multiple times.

**Expected behaviour**: One repository should be included only once.

**Steps to reproduce**:
- Create a new spring boot http booster app on OSIO
- Wait for stac

[2017-11-27 14:24] fridex commented on #731
Changes in worker: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/437

[2017-11-27 14:35] ibuziuk commented on #1423
PR is sent - https://github.com/fabric8-ui/fabric8-ui/pull/2268

[2017-11-27 14:45] fridex commented on #1072
I guess this sync was done for both npm and nuget ecosystem. @miteshvp, could you please verify it?

[2017-11-27 15:17] miteshvp commented on #1072
@fridex - this is still ongoing as I can see increments in graph for npm nodes. Currently I see `113886` EPVs in Graph

[2017-11-27 15:51] miteshvp commented on #1329
@tisnik - we do not have any documentation around the structure. I am pasting a response for your use. Let me know if you need more information.
`Package - io.vertx:vertx-core`
[code]

`Version 3.4.1`
[code]

[2017-11-27 15:58] jerboaa opened #1465 "Jenkins slave pods should use latest JNLP client container"
There was a recent improvement to the jnlp Jenkins client container:
https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/5

This allowed for the jnlp container to reduce its memory limit from `512MB` to `256MB` (improved JVM flags and 32 bit OpenJDK). See [this fix](https://github.com/fabric8io/fabric8-pipeline-library/pull/362) for example.

The new image got tagged as `docker.io/fabri

[2017-11-27 16:06] GeorgeActon commented on #1459
@arunkumars08 we do not have a type "Technical Debt". If this is creating incorrect registrations then it is a bug and should be labelled as a bug.

[2017-11-27 16:10] GeorgeActon commented on #1191
@samuzzal-choudhury we do not apply severity to a feature, it only applies to defects. If this is a performance issue then it is a defect.

Severity not = equal priority.

[2017-11-27 16:13] GeorgeActon commented on #1198
@msrb Sevrity applies to bugs only.

Severity not= priority

[2017-11-27 16:28] catrobson commented on #865
I'd like to keep carrying this forward in our backlog, we still need at address it.

[2017-11-27 16:32] ldimaggi commented on #1304
Just saw this error again:
https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-openshift.io-chequickstartTest/1945/console

[2017-11-27 16:34] catrobson commented on #543
Created UXD issue to identify or create better widget/experience for this.  https://github.com/fabric8-ui/fabric8-ux/issues/759

[2017-11-27 16:58] catrobson commented on #287
Final designs for the deployments page:
https://redhat.invisionapp.com/share/YSDL0KRKW#

We'll be reviewing any comments in InVision and replying as soon as possible.

[2017-11-27 17:06] jerboaa commented on #1304
Yes, I've seen it too on Friday :(

[2017-11-27 17:55] arunkumars08 commented on #1459
@GeorgeActon 3 scale feature isn't in production yet. Currently it is in the dev phase.
To make it clear, currently the developed intermediate API can handle registrations just fine. It is just to make sure we handle all the probable failure scenarios before pushing it to production.

[2017-11-27 18:16] l0rd commented on #1304
This looks like a new problem always related to routes but the endpoint that does return **503** is `/api/languageserver/supported`.

![image](https://user-images.githubusercontent.com/606959/33281969-5978835a-d3a7-11e7-84e9-39d10754aa2c.png)

Looking at it

[2017-11-27 18:46] bmicklea commented on #1403
FWIW operationalizing the CVE information so that it can appear in analytics reports is a high business priority.

[2017-11-27 23:45] GeorgeActon commented on #1283
@SaketJNU please put an email stints in this today.

It looks to me like 5points total and you have alr day completed 3of 5 tasks.

[2017-11-28 01:49] mindreeper2420 opened #1466 "Upgrade to PatternFly 3.30.1"
Upgrade to PatternFly version 3.30.1 in order to consume the latest patterns and components.

As part of the upgrade, any references to `node_modules/patternfly/src/less/*` must be changed to reference PatternFly, Bootstrap and Font Awesome individually, in order to comply with the new configurations from PatternFly-core.

[2017-11-28 04:32] jaseemabid commented on #543
xref https://github.com/openshiftio/openshift.io/issues/1421

[2017-11-28 06:22] jaseemabid commented on #1420
@vpavlin ping

[2017-11-28 08:56] invincibleJai commented on #1449
@krishnapaparaju changes are in Prod now.

[2017-11-28 08:57] invincibleJai commented on #1428
@krishnapaparaju Changes are in Prod now.

[2017-11-28 09:20] invincibleJai commented on #1027
@ldimaggi this has been fixed and changes are in prod.

[2017-11-28 09:24] invincibleJai commented on #816
@ldimaggi have made the changes in existing stack report as you suggested i.e having scroll within the report and it's in prod now.

[2017-11-28 09:27] tisnik opened #1467 "[3] Perform and publish load test results for stack analysis"
# Perform the following performance tests on production:

1. Start 100 stack analysis requests
1. Check that SLA requirements are met (2 minutes to finish)
1. Start 500 component analysis requests for known components
1. Check that SLA requirements are met (1 second to finish)
1. Start 500 component analysis requests for unknown components
1. Check that SLA requirements are met (1 second to finish

[2017-11-28 09:31] invincibleJai commented on #787
@ldimaggi have changed the place holder now it's "Stack report for vertx-basic-nov-28-3, Build #1", it's in prod now.

[2017-11-28 09:41] pbergene commented on #1436
This account should now cleanly re-initialize on next relogin if there are no projects in openshift.com. cc @abs51295 @joshuawilson @xcoulon

[2017-11-28 09:46] pbergene commented on #1437
I could not find any projects on openshift, assuming these have been deleted.  Entries removed in tenant service. This account should now cleanly re-initialize on next relogin if there are no projects in openshift.com. cc @sunilk747  @joshuawilson @xcoulon

[2017-11-28 09:51] sunilk747 commented on #1437
@pbergene @joshuawilson  Yeah. I am unblocked now. Should I close this issue?

[2017-11-28 10:01] pbergene commented on #1437
Great! Closing - ping me if it turns out it didn't create the projects correctly. Keep in mind that you currently need a 'reset tenant' after init to get che up and running.

[2017-11-28 10:01] #1437 closed

[2017-11-28 10:02] rgarg1 opened #1468 "Provide audit history for all workitems"
As a user, I want to view logs of all changes made to a workitem, so that I can establish accountability and track history.

The audit logs **must** capture the following:
- [ ] Date and time stamp
- [ ] User ID of the person making a change (all updated/writes must be captured)
- [ ] Details of the changes made to the workitem, clearly indicating old and new state

[2017-11-28 10:04] #1219 closed

[2017-11-28 10:14] adisakala commented on #1317
CC @arunkumars08

[2017-11-28 10:18] bartoszmajsak commented on #1468
Just my .2$ here - it seems to me like an architectural question rather than just a user story. We probably should think about events in the system which will let us not only capture changes like in this case, but also react on them (e.g. having 3rd party integrations through webhooks or any other mechanisms). Wit this audit log will be one of the consumers of events planner will emit.

[2017-11-28 10:22] miteshvp commented on #1464
Fixes are in prod. Please re-open if you see this issue again.

[2017-11-28 10:22] #1464 closed

[2017-11-28 10:52] jyasveer commented on #768
@muruGanesan I assume the button in the new UX page for the analytics dashboard is to take a user to the `Create pipeline` screen. But the text in the button says `Restart from pipe-line`. Can we change this to a appropriate text please ?

[2017-11-28 11:01] muruGanesan commented on #768
@jyasveer , @samuzzal-choudhury , @invincibleJai
I updated the screen please look at:
https://redhat.invisionapp.com/share/KGE3V2B79#/screens/265852226

[2017-11-28 12:09] miteshvp commented on #1251
@sunilk747 - you can close this issue now. Incrementally we need to find top 100 anchor package for entire node ecosystem we have and not just for 3k packages. Please open one backlog issue for the same.

[2017-11-28 12:16] kwk commented on #1219
I've verified that [my fix](https://github.com/fabric8-services/fabric8-wit#1786) (as proposed by @aslakknutsen) is working on prod-preview. Will now port it over to prod to see if it works.

[2017-11-28 12:55] ldimaggi opened #1469 "Use of prod-preview is blocked - https://console.free-int.openshift.com/console not responding"
Seeing this error on: https://console.free-int.openshift.com/console:

![screenshot from 2017-11-28 07-53-15](https://user-images.githubusercontent.com/642621/33320758-40c4054a-d411-11e7-9413-4b2935b108ae.png)

This blocks use of prod-preview

[2017-11-28 13:27] ldimaggi commented on #768
Will we also include error details, in addition to the pipeline restart button?

[2017-11-28 13:37] samuzzal-choudhury commented on #1458
The code has been deployed and the integration tests now make use of the current steps.

[2017-11-28 13:42] #1458 closed

[2017-11-28 14:07] jyasveer commented on #1288
@Preeticp Can you please suggest a appropriate message to display for this issue ?

[2017-11-28 14:54] Preeticp commented on #768
I have added comments in the Invision doc, just to add to that:
Afaik, to restart a pipeline the user would need to go to the Pipelines page, click the Kebab Menu and then **Start Pipeline**.
"Restart from Pipeline" does not convey this.

It would be great, if the button there actually restarts the Pipeline as **Pipelines>Start Pipeline** does. That would be ideal user experience and we could simp

[2017-11-28 14:55] tisnik commented on #1329
Thanks @miteshvp. If I understand correctly, these are results generated by following queries:

[code]

and

[code]

[2017-11-28 15:01] kwk commented on #1219
The issue is fixed in production as well.

[2017-11-28 15:15] tisnik commented on #1329
Btw is last updated really supposed to be float value? I'm pretty sure it must be int64 or uint64.

[2017-11-28 15:28] ldimaggi commented on #787
Verified - closing - thanks!

[2017-11-28 15:28] #787 closed

[2017-11-28 15:31] ldimaggi commented on #816
Verified - closing.

[2017-11-28 15:32] ldimaggi commented on #1027
Verified - closing.

[2017-11-28 15:32] #1027 closed

[2017-11-28 15:38] miteshvp commented on #1329
@tisnik - Your queries are right. That's what I used to generate the response.
`last_updated` is a double value. If you see it closely it has `E9` in the last

[2017-11-28 15:53] kbsingh commented on #1304
I dont see the timeout issue being addressed in 3.7 either. @ibuziuk did you mean some other issue ?

[2017-11-28 16:23] slemeur commented on #1457
Could we do with the same mechanism than the one used to display the openshift console. Like here:
![screen_shot_2017-11-28_at_17_22_19](https://user-images.githubusercontent.com/1636769/33331031-c8707d6c-d460-11e7-9c84-ddfe1b4eed2d.png)

[2017-11-28 16:33] slemeur commented on #1457
@joshuawilson + @ashumilova : I added the label, team/platform but that might be something team/che/plugins could handle too.

[2017-11-28 17:21] kwk commented on #1219
When talking to @qodfathr he mentioned that there also seems to be an issue with the workitems shown on the dashboard. I'm double checking that now.

[2017-11-28 17:28] kwk commented on #1219
@qodfathr I could not verified what you described. Here's what I've tried:

1. Create a space `space2`
1. Create work item `feature1`
   1. specify name
   1. specify description
   1. assign to yourself
1. Reset environment
1. Click "Take be to dashboard" button
   1. Notice that `feature1` **doesn't** appear there
1. Create space `space2` again
  1. Notice, no `feature1` is appearing

[2017-11-28 17:49] #1397 closed

[2017-11-28 18:15] dgutride commented on #1070
@joshuawilson  - I had created a PR for this but abandoned it after @corinnekrych said it was fixed by a different change, closing...

[2017-11-28 18:15] #1070 closed

[2017-11-28 18:20] andrewazores commented on #1382
@joshuawilson what do you want to do with this issue now that the old Applications and the new Deployments are living side-by-side while under development? Would the acceptance criteria be "when Deployments is complete and Applications is removed" now?

[2017-11-28 19:04] #489 closed

[2017-11-28 19:22] tisnik commented on #1329
thanks a lot @miteshvp for clarification.

re double value: yeah I know it's double, but I was interested why it's serialized this way, with lost of precision. Because for storing ```last_updated``` attribute, the str(time.time()) is used and this call returns proper Unix time, with or without decimal numbers (it's system dependent):

[code]

It would be interesting to know where the precision (at

[2017-11-28 19:31] catrobson commented on #678
We will reflect this in updated wizard design screens - The old wireframes are out of date at this point for the actual content and I'm not sure it makes sense to try to capture it fully there.  (Old ones for reference which do allude to this behavior: https://redhat.invisionapp.com/d/main#/console/10426007/228077943/preview).

New design efforts:  https://github.com/fabric8-ui/fabric8-ux/issues/6

[2017-11-28 19:48] ldimaggi opened #1470 "On prod-preview, users cannot access build logs"
This problem has been seen in the past and is back again.

Steps to recreate:
* Start a build pipeline
* Attempt to view the build log - this window is opened:
![screenshot from 2017-11-28 14-42-44](https://user-images.githubusercontent.com/642621/33340712-e3d36850-d44a-11e7-8ba8-fbc18f61dfeb.png)

* Selecting the first menu choice - brings the user to this screen:
![screenshot from 2017-11-28 14-

[2017-11-28 20:07] ldimaggi commented on #1470
This situation makes it impossible to debug problems such as this:

![screenshot from 2017-11-28 15-06-39](https://user-images.githubusercontent.com/642621/33341735-de5cc77e-d44d-11e7-8890-7c00f50e9232.png)

[2017-11-28 20:41] jfchevrette commented on #1470
This is a known issue with the prod-preview environment. In the meantime, clicking the first button labeled 'Login with Keycloak' should get you past the login page and allow you to access the build logs.

[2017-11-28 21:00] ldimaggi commented on #1470
That's just the problem - clocking on the first button locks the user into the loop described in this issue.

[2017-11-28 21:04] jfchevrette commented on #1470
I'm sorry, there are no mentions of a loop in your original issue description.

I hate to say this but clicking on 'Login with Keycloak' worked for me (tm)

[2017-11-28 22:29] tisnik commented on #1467
Stack analysis results for current production setup:

https://raw.githubusercontent.com/fabric8-analytics/fabric8-analytics.github.io/master/perf-tests/core_api/stack_analysis/production_100_calls/stack_analysis_parallel_calls_100_threads_concurrent_100_threads_min_max_avg_times.png

https://raw.githubusercontent.com/fabric8-analytics/fabric8-analytics.github.io/master/perf-tests/core_api/stack_an

[2017-11-29 01:49] krishnapaparaju commented on #1428
Looks good. thanks @invincibleJai .. closing this issue...

[2017-11-29 01:49] #1428 closed

[2017-11-29 05:22] miteshvp commented on #1450
@krishnapaparaju - this looks to be an expected behavior where-in a single component removal from a perfect stack-1 does not guarantee a companion recommendations since present stack-2 itself maybe a perfect stack. Closing this issue but please re-open if you think otherwise.

[2017-11-29 06:40] miteshvp opened #1471 "Improve Analytics recommendations for quick starter applications"
### Description
Current fabric8-analytics support for Vertx and Springboot takes into account [top github stacks](https://github.com/search?utf8=%E2%9C%93&q=filename%3Apom.xml+vertx+language%3Ajava+stars%3A%3E1&ref=simplesearch). We would also like to account for OSIO quick starter applications as part of training.

#### Acceptance Criteria
User sees improved recommendations for OSIO quick starter

[2017-11-29 06:50] sunilk747 opened #1472 "Improve licence recommendation for quickstarter application stack"
#### User Story
As an OSIO developer, I will be able to get better license recommendation for my selected stack.

#### Description
Currently the licence analysis not showing the correct license for quickstarter application. This user story aims to improve on that.
#### Acceptance Criteria

- The application should be able to give correct license recommendation for quickstarter application.

#### T

[2017-11-29 07:54] sunilk747 commented on #1297
refer #1293

[2017-11-29 07:54] #1297 closed

[2017-11-29 07:55] sunilk747 commented on #1251
refer #1293

[2017-11-29 07:55] #1251 closed

[2017-11-29 07:55] #1293 closed

[2017-11-29 07:57] sunilk747 opened #1473 "Identification of top 100 anchor packages for entire node ecosystem"

[2017-11-29 08:54] tuxdna commented on #1404
## API description

[code]

All above paths will have filter query parameters:

`?worker=w1&worker=w2...status=success&status=failure...`

For example, following request shall return NPM package details for just the privided version, and worker name

[code]

[2017-11-29 08:59] Preeticp commented on #1288
@jyasveer, quite a few stack-level label and layout changes went through as part of this PR: https://github.com/fabric8-ui/fabric8-recommender/pull/373
Can you please validate and confirm if any further changes are required.

[2017-11-29 09:26] rootAvish opened #1474 "Performance Enhancements to the PGM"
### Description

This task is a part of story #1471. Currently the Kronos service takes about 40 seconds to respond to each request. By the way of parallelizing the probability calculation at the time of scoring and implementing the post-processing filters in a more efficient way we aim to bring down this response time.

### Task List
- [x] Decrease the post filter validation time.
- [ ] ~~Paralle

[2017-11-29 09:35] rootAvish opened #1475 "PGM - Technical Debt / Housekeeping and improvement of end-user experience"
### Description

This task involves adding Python3 support to the PGM and improving the end user experience in terms of recommendations that are shown for the quickstart applications in OSIO.

### Task List

- [x] Python 3 compatability
- [x] Upgrade to the most recent version of pomegranate
- [x] Integrate unit tests in the CI pipeline
- [x] Confirm whether INFO logging level is required at all p

[2017-11-29 09:54] msrb commented on #1467
@tisnik thanks!

These results were achieved with following resources:
- 4 API workers
- 1 kronos for PyPI
- 1 kronos for Maven

Pavel, were these Maven or Python stacks?

[2017-11-29 09:58] msrb commented on #1467
This doesn't look that bad, could you please perform the same test (Maven) at least one more time please?

[2017-11-29 12:43] ibuziuk opened #1476 "[Codebases] User should be notified about workspace migration from single-tenant che-server to multi-tenant one"
Initial status UI for idled che-server has been provided as part of https://github.com/fabric8-ui/fabric8-ui/issues/1825

When user is navigated to codebase page UI makes requests for getting che-server status and starting it if needed. `Your Workspaces are loading...` is shown during the unidling process.

For multi-tenant che-server need to reuse this UI and provide info about workspace migratio

[2017-11-29 12:47] ibuziuk commented on #1476
blocked by wit & che-starter PRs

[2017-11-29 12:47] tisnik commented on #1324
@rkratky Hi Robert, ATM this API is consumed by OSIO and by the Eclipse plugin only (AFAIK), but it might be consumed by our customers and external users in the future.

[2017-11-29 12:51] rkratky commented on #1324
@tisnik, if it's only for 'internal' (developer) purposes, I'd suggest using GitHub pages (gh.io) to host it. But if it should be exposed (even if only in the future) to customers/users, then I expect it should live on docs.openshift.io (I can help with that).

[2017-11-29 13:02] tisnik commented on #1324
Cool, TYVM @rkratky. I'll need to talk about it with @samuzzal-choudhury

PS: our gh.io pages are a bit ...minimalistic ATM: https://fabric8-analytics.github.io/

[2017-11-29 13:23] ldimaggi commented on #1470
Closing - this is now working - thx!

[2017-11-29 13:23] #1470 closed

[2017-11-29 13:24] debloper opened #1477 "Simplify npm run scripts by sending in params"
We are using yargs, which makes arg-parsing really simple in JS code.
`npm run <scriptname> -- -arg="value"` allows to pass over `args` to `scriptname`.

With this in hand, we can simplify the ~70 different scripts that we preset, down to about 20.

For example, `"build:aot", "build:aot-min", "build:dev", "build:docker", "build:prod",  "build:prod-aot" & "build"` all these steps become one simple

[2017-11-29 13:43] dgutride commented on #1477
A lot of us use webstorm for running the npm scripts - if I have to specify arguments, it will make it much more difficult to run the application when developing.  I prefer the shorthand approach instead of leaving it to developers to figure out what all available flags are.  Please do not make this change.

[2017-11-29 13:54] krishnapaparaju commented on #1368
Updating comments from @rawlingsj :  F8 Analytics Jenkins plugin can pickup a credential from Jenkins (a secret created by Forge)

https://github.com/fabric8io/openshift-jenkins-s2i-config/blob/master/Jenkinsfile#L117

[2017-11-29 14:05] debloper commented on #1477
@dgutride haven't used webstorm, but you mean to say you can run `npm run build:dev` but not `npm run build -- --type="dev"` or `npm run build -- --dev`?

[2017-11-29 14:20] ldimaggi commented on #1461
Closing - no longer reproducible

[2017-11-29 14:20] #1461 closed

[2017-11-29 14:21] dgutride commented on #1477
@debloper - you can run with any arguments, but many of the IDE's make it really easy to run the npm scripts by just double-clicking.  You'd have to set the properties in a separate configuration step to make them always use them (and they aren't as discoverable by users)

[2017-11-29 14:24] ldimaggi commented on #1378
Saw this on production on November 28:

![screenshot from 2017-11-28 11-49-10](https://user-images.githubusercontent.com/642621/33379780-ff6ec798-d4e6-11e7-8e5c-5380982ab93f.png)

[2017-11-29 14:28] ldimaggi commented on #1378
And - just saw it on prod-preview:

![screenshot from 2017-11-29 09-27-58](https://user-images.githubusercontent.com/642621/33379997-ade3fd8e-d4e7-11e7-8ea9-d7414694bdb5.png)

[2017-11-29 14:45] corinnekrych commented on #1165
@catrobson @joshuawilson do we have an issue/epic for the UX flows for features toggles?
One question that was asked by auth team cc @alexeykazakov @sbose78 @xcoulon is:
for the admin flow, is it only the user that can select which toggle settings he is on? or could it be an admin user to define group of internal/experimental/beta users?

[2017-11-29 15:02] tisnik commented on #1467
@msrb that tests were run for Python stacks. I'm going to run tests for Maven stack at today night. Will let you know when results will be available.

[2017-11-29 15:13] rafabene commented on #441
I don't see it in production yet. Shouldn't it be closed only when it lands on production a be verified?

[2017-11-29 15:25] ldimaggi opened #1479 "On prod-preview, rollout to stage failing"
Steps to recreate:
* Create new app/quickstart
* Observe build pipeline runs to completion
* Verify that app is deployed to run environment
* Verify that app is not deployed to stage environment

Attached build log does not indicate an error related to rollout to stage.

[build_log.txt](https://github.com/openshiftio/openshift.io/files/1514281/build_log.txt)

[2017-11-29 15:29] joshuawilson commented on #1477
The structure of these scripts is very common. If you look at a couple of examples you will see they are the current norm.
 - https://github.com/angular/quickstart/blob/master/package.json
 - https://github.com/angular/angular-cli/blob/master/package.json

I did find others using the approach you suggest. I will consider it.

My first 2 thoughts regarding all of the architecture designs/decisions

[2017-11-29 15:32] ldimaggi commented on #1479
[jenkins_log.txt](https://github.com/openshiftio/openshift.io/files/1514305/jenkins_log.txt)

[2017-11-29 15:34] ldimaggi commented on #1479
This problem seems to be reproducible. Seeing it 5 out of 5 tries today.

[2017-11-29 15:34] joshuawilson commented on #1477
If you reason is to "keep the package.json lean and clean" then that is not enough for me based on the last comment.
What has driven you to look into these things. What pain point is it creating for you. Mostly this stuff should be invisible to much of the team.

[2017-11-29 17:06] catrobson commented on #1023
We have a page design for implementation: https://redhat.invisionapp.com/share/BGEPRG73N#/screens.  @mindreeper2420 would you be able to do the HTML/CSS for this page?  Would that be enough for you to take and implement into the workflow @alexeykazakov?

[2017-11-29 18:16] mindreeper2420 commented on #1023
I can create the page for this, if Alexey and team can implement into the workflow. Will this reside inside of the app, or outside (like the marketing page)?

[2017-11-29 18:39] TimMoran opened #1480 "404 on 'Space' view when side panel is open"
If you're on a space (ex. https://openshift.io/timoran/Tim-Demo) and you click on the codebase + symbol to open the side panel.. if you try to click "my work items" with the panel open it will throw a 404

[2017-11-29 18:59] alexeykazakov commented on #1023
I was thinking about the outside app. @joshuawilson wdyt?

[2017-11-29 19:04] TimMoran commented on #1480
I can't add labels it seems:

team/platfrom area/dashboard

[2017-11-29 19:30] ldimaggi opened #1481 "On prod-preview, Jenkins pod idling fails to transition to a running state"
Started seeing this today - November 29 - steps to recreate:

* Reset user environment in OSIO
* In OSO console, observe content-repo pod start
* In OSO console, wait ~10 min, observe jenkins transition to an idle state

* Attempting to force activity by creating a build pipeline does not cause the jenkins pod to start - it remains in the idle state

[2017-11-29 20:45] ldimaggi commented on #1481
After a few hours - this problem is not being seen - closing.

[2017-11-29 22:49] kbsingh commented on #1481
@ldimaggi can you elaborate a bit on exaclty how you are creating the pipeline ?

[2017-11-29 23:01] #1452 closed

[2017-11-29 23:39] tisnik commented on #1467
@msrb so the results for Maven stack (the classic vert.x) show that there's still room for improvements ;)

https://fabric8-analytics.github.io/perf-tests/core_api/stack_analysis/production_100_calls_vertx/stack_analysis_parallel_calls_100_threads_concurrent_100_threads_min_max_avg_times.png

https://fabric8-analytics.github.io/perf-tests/core_api/stack_analysis/production_100_calls_vertx/stack_an

[2017-11-29 23:41] tisnik commented on #1467
The next step would be to increase # of PODs assigned to workers and/or kronos, right?

[2017-11-30 01:11] ldimaggi commented on #1481
To create a pipeline - add a new app/quickstart ('add to space') in OSIO - and then observe the pipeline created.

[2017-11-30 03:44] invincibleJai opened #1482 "Overflow of spaces list outside of Space card in profile"
Issue: Under user profile if user has more number of spaces , it flows out of "my space" card
Browser : chrome (OSX)
Screenshot :

<img width="1639" alt="screen shot 2017-11-30 at 9 05 48 am" src="https://user-images.githubusercontent.com/5129024/33411948-97a262f0-d5ae-11e7-8ae1-d9438685d09c.png">

Steps :
- login to OSIO
- Click on Profile from right top
- Should have more number of spaces
- View

[2017-11-30 04:03] krishnapaparaju opened #1483 "CVEs do not show up at stack summary section of stack report"
If a package of stack report has a CVE associated, CVE would show up at 'detailed analysis section' of stack report. This CVE is not showing up at 'Stack summary' section of the stack report.

Please see the screenshot...
<img width="1370" alt="screen shot 2017-11-30 at 9 29 37 am" src="https://user-images.githubusercontent.com/15967765/33412479-93cb21e6-d5b1-11e7-84a5-4ddddce3ee55.png">

[2017-11-30 04:15] jyasveer commented on #1288
@Preeticp i dont think for now we have anything more to do on this.

[2017-11-30 04:16] miteshvp commented on #1483
@krishnapaparaju - would it be possible to share the stack id? You need to get it more developer tools

[2017-11-30 04:19] jyasveer commented on #1407
@invincibleJai what do we mean here by 'Stack report shows blank' ?

[2017-11-30 04:20] invincibleJai commented on #1483
@miteshvp i guess Krishna tried on https://github.com/krishnapaparaju/some-one/blob/master/pom.xml

[2017-11-30 04:20] krishnapaparaju commented on #1483
@miteshvp am not seeing stack id at the stack report..

[2017-11-30 04:34] miteshvp opened #1484 "Component analyses shows replacement version even with CVE"
Current implementation at component level recommends the user to move to a different version although that version has a CVE <= current version CVE.
We need to change this behavior with flagging the package with CVE but stating in a message that "we do not have any alternative version to recommend at the moment"

[2017-11-30 04:43] samuzzal-choudhury commented on #1483
@krishnapaparaju the stack id should be available in the network console's xhr tab in the browser.

[2017-11-30 04:50] krishnapaparaju commented on #1483
@samuzzal-choudhury @miteshvp here is the stack id: 48d602148d154afcb77e0f42a1b9b235

[2017-11-30 04:54] invincibleJai commented on #1483
@samuzzal-choudhury @miteshvp here is response json for ID which Krishna have shared https://gist.github.com/invincibleJai/04f693ff52fdb70d02a40958c7a01126

[2017-11-30 05:15] krishnapaparaju opened #1485 "With default resolution on Mac, not to able to see Additional components at Stack report"
With default resolution on Mac, not to able to see Additional components. Clickin on 'additional components often used by similar stacks' will not show these additional components (keyboard scroll down would not scroll the screen).

Please see attached
<img width="1357" alt="screen shot 2017-11-30 at 10 45 12 am" src="https://user-images.githubusercontent.com/15967765/33415304-9daf1712-d5bb-11e7-9

[2017-11-30 05:42] sunilk747 commented on #1427
refer #1472

[2017-11-30 06:43] invincibleJai commented on #1407
@jyasveer sorry this has been taken care of , closing it.

[2017-11-30 06:43] #1407 closed

[2017-11-30 06:54] jyasveer commented on #1483
this issue is fixed in this PR https://github.com/fabric8-ui/fabric8-recommender/pull/377

[2017-11-30 06:55] krishnapaparaju commented on #1485
Is some cases (where the number of packages are around6  in a stack), there is no way to see 'additional components' / nor scroll down with keyboard.. Please check attaches screenshot..

Bumping up the severity...
<img width="1359" alt="screen shot 2017-11-30 at 12 23 23 pm" src="https://user-images.githubusercontent.com/15967765/33417938-8cd5ce82-d5c9-11e7-9f8c-bf81c9be7c46.png">

[2017-11-30 07:16] jyasveer commented on #1288
@Preeticp yes we require a proper message to display for this scenario

[2017-11-30 07:23] invincibleJai commented on #1288
@jyasveer `Components that aren't commonly used in your stack` was replaced with `Components not used together`. So is the question here is in case of 0, can we show 0 under `Components not used together` or do we need to show some different message? CC @Preeticp

[2017-11-30 07:25] jyasveer commented on #1288
yes @invincibleJai this is my question to @Preeticp

[2017-11-30 07:46] msrb commented on #1467
Thanks  @tisnik, this is exactly what we needed to know.

I'd first try to increase number of worker replicas. That should help a lot here. We can later try to scale up kronos as well.

[2017-11-30 07:51] msrb commented on #1474
This is great, thanks for looking into this. It will also help with https://github.com/openshiftio/openshift.io/issues/1144.

👍

You guys rock 😉

[2017-11-30 07:52] Preeticp commented on #1288
@jyasveer, @samuzzal-choudhury , @invincibleJai  in case of  `Components not used together` > `0` can we give a more positive message to the user like: `No usage outliers in your stack.
All the components in your stack work well with each other.`

[2017-11-30 07:54] krishnapaparaju opened #1486 "Filter dropdown is getting truncated at stack report"
Select 'License outliers' from the stack report, if there are no 'License outliers to display', this drop down would not show any other options below 'License outliers'..

Please check the screenshot ..

<img width="205" alt="screen shot 2017-11-30 at 1 28 41 pm" src="https://user-images.githubusercontent.com/15967765/33419875-67f0967a-d5d2-11e7-95f3-a8c79e67a69c.png">

[2017-11-30 07:57] jyasveer commented on #1288
For me this will be a apt message

[2017-11-30 08:04] krishnapaparaju opened #1487 "Need to remove 'Component License conflicts' from stack report"
Currently stack report does not show the components which create components causing license conflicts. This option from filter at stack report would need to be removed..

Please check the attached screenshot:

<img width="207" alt="screen shot 2017-11-30 at 1 32 12 pm" src="https://user-images.githubusercontent.com/15967765/33420051-1f576c94-d5d3-11e7-846e-a4cc54696114.png">

[2017-11-30 08:16] krishnapaparaju opened #1488 "Column width would need to be adjustable at stack report"
Currently the most important attributes to look at stack report: package name and categories are not visible (full text) as the column width is not adjustable.

Please see the attached screenshot

<img width="1337" alt="screen shot 2017-11-30 at 1 44 22 pm" src="https://user-images.githubusercontent.com/15967765/33420564-13052fc4-d5d5-11e7-994e-e33137d99eb2.png">

[2017-11-30 08:18] invincibleJai commented on #1486
@krishnapaparaju this is happening as we have scroll in modal rather than using browser's window scroll, other options can be seen if we scroll manually , as keyboard binding has issued with modal scroll https://github.com/openshiftio/openshift.io/issues/1485

CC @jyasveer

[2017-11-30 08:29] samuzzal-choudhury commented on #1288
@jyasveer @Preeticp @invincibleJai  The card header is now "Usage Outliers" and this is how we display '0' usage outlier info:

![image](https://user-images.githubusercontent.com/17740190/33420830-13233022-d5d6-11e7-814c-2b576b45c0d3.png)

I think this is good enough. But, if we choose to be verbose, IMO, we can put `All the components in your stack work well with each other` .

CC: @krishnapapara

[2017-11-30 10:18] jyasveer commented on #1288
So what is the final decision here ?

[2017-11-30 10:55] jyasveer commented on #1288
Okay I am changing the code to show the message `All the components in your stack work well with each other.`

[2017-11-30 12:04] jyasveer commented on #1485
@krishnapaparaju we have to revert this change https://github.com/fabric8-ui/fabric8-recommender/pull/375 to get the key binding back on the modal.
By default key binding will act on the browser page.
However we can write some javascript logic and make the modal scroll down in its fixed height window, but this will be very hacky and not a good practice of doing things.

IMO, we should change back

[2017-11-30 12:10] krishnapaparaju commented on #1485
no using  hacks, would suggest discuss at tomorrow's standup if needs more discussion.

[2017-11-30 12:29] miteshvp commented on #1147
@invincibleJai @jyasveer - Is anything happening on this one? I am assuming we fixed it when Jai was handling UI part for licensing. If that is the case, can you please update this issue accordingly?

[2017-11-30 12:37] miteshvp commented on #1329
@tisnik - is this card still blocked? Please let me know if you have more questions. Else suggest to remove the label accordingly. Thanks.

[2017-11-30 12:39] ibuziuk commented on #1476
PRs to wit / che-starter are megred
PR to UI is sent - https://github.com/fabric8-ui/fabric8-ui/pull/2273

[2017-11-30 12:54] qodfathr commented on #164
New email deployed; only one is sent. Users have successfully completed Hello World.

[2017-11-30 12:54] #164 closed

[2017-11-30 13:17] GeorgeActon commented on #1449
@invincibleJai If it is in prod please mark as closed.

[2017-11-30 13:28] invincibleJai commented on #1449
Closing it as changes are in prod. Please feel free to reopen if feel otherwise.

[2017-11-30 13:28] #1449 closed

[2017-11-30 14:21] msrb commented on #732
@fche

I can see following in worker logs:
[code]

Should we be worried about the first line?
[code]

[2017-11-30 15:27] fche commented on #732
Nope, that's all good.  It's a workaround for this pending issue:
https://github.com/performancecopilot/pcp/issues/365

[2017-11-30 15:49] tisnik commented on #1329
@miteshvp no, it is no longer blocked. TY

[2017-11-30 15:50] #192 closed

[2017-11-30 15:56] msrb commented on #732
workers with PCP are now running in production.

[2017-11-30 16:02] fche commented on #732
OK, now we just need to get the data actually collected (not just made available for collection, which is what the current work does), and sent out someplace.  Is it the case that y'all intend to be in a separate openshift namespace from the rest of osio f8 infrastructure?  Then we'll need a local copy of 'osd-monitor' or similar.

[2017-11-30 18:05] bdellasc commented on #1363
I posted a visual design proposal for this issue on [InVision](https://redhat.invisionapp.com/share/ZFEP5QKXA).

Please feel free to comment on the on the InVision project or on [visual design story](https://github.com/fabric8-ui/fabric8-ux/issues/748).

[2017-11-30 18:47] dgutride commented on #465
@danieloh30 , @rafabene  - is this still an issue for either of you?  I'm not seeing any behavior like this right now ( https://openshift.io/doh@redhat.com/myspce-kebhanapoc seems to load fine and I can click on the pipelines link )

[2017-11-30 19:04] danieloh30 commented on #465
It’s working now.

On Fri, 1 Dec 2017 at 3:53 AM Dana Gutride <notifications@github.com> wrote:

--

Daniel oh

SENIOR specialist solution architect

agile & devops COMMUNITY OF PRACTICE manager

Red Hat Inc <https://www.redhat.com/>

doh@redhat.com    M: (82)10.2985.5330 <javascript:void(0);>     @:
danieloh30
<https://red.ht/sig>
TRIED. TESTED. TRUSTED. <https://redhat.com/trusted>

[2017-11-30 20:53] msrb commented on #1277
I see this section called "Additional components suggested by analytics" in the new UI. And I have to say it's a bit confusing. Are we really suggesting those companion packages? User is not really missing any packages so suggesting that he/she should add some, without any explanation why, feels kinda weird.

I wouldn't expect people to just go and add the companion packages to their stacks. Becau

[2017-12-01 03:58] invincibleJai opened #1489 "Usage Outliers card's content message should be centre aligned like other cards in summary"
In Stack summary (dashboard) Usage Outliers card's content message should be centre aligned like other cards in summary.
<img width="1047" alt="screen shot 2017-12-01 at 9 25 18 am" src="https://user-images.githubusercontent.com/5129024/33467308-9a3fdf12-d679-11e7-933e-fad9c44b5024.png">

[2017-12-01 04:19] miteshvp opened #1490 "PGM scoring fails with OOM error"
Error from worker-api
[code]
On further debugging, found that PGM crashed with OOM error as below
<img width="527" alt="image" src="https://user-images.githubusercontent.com/17736013/33467762-e9c80d22-d67c-11e7-8dbe-754549ce52df.png">

[2017-12-01 04:25] invincibleJai opened #1491 "Usage Outliers card just have heading without any content."
Issue : Usage Outliers card just have heading without any content.
Steps :
- Create a space with any starter Project (i tried spring-boot-crud)
- let build go through
- open stack report immediately , can see usage outliers card with just heading (later it works)

<img width="1560" alt="screen shot 2017-12-01 at 9 48 13 am" src="https://user-images.githubusercontent.com/5129024/33467821-5a39291a-d

[2017-12-01 05:23] jyasveer commented on #1483
closing this as it is in prod now

[2017-12-01 05:23] #1483 closed

[2017-12-01 05:24] jyasveer commented on #1288
closing this as it is in prod now.

[2017-12-01 05:24] #1288 closed

[2017-12-01 08:17] SaketJNU commented on #1283
Opened the PR for unit-test:: https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/216

[2017-12-01 08:39] miteshvp commented on #1277
@msrb - Good points. We did discuss this already and we will be re-wording the word suggestions to more like based on our insights. Also, we are currently showing as a tooltip about why this companion package is recommended. We provide the number of stacks that use this package in addition to user stack as a reasoning. Hope it helps.

[2017-12-01 08:46] msrb commented on #1277
@miteshvp yeah, I am just watching the BJN recording from yesterday. I am glad more people see this similarly :)

👍

[2017-12-01 09:47] jyasveer commented on #816
@ldimaggi @invincibleJai
I suggest we should remove the scroll within the report instead have the scroll on the browser page. For many reasons:-
1. Our report sits within a modal, and having a scroll within the modal is not recommended as per UX. With this, we find two scrolls now, one within the report and one in the background page. This behaviour is annoying for the user.
2. Second thing is key

[2017-12-01 09:51] #816 closed

[2017-12-01 10:21] krishnapaparaju opened #1492 "Che workspace not loading for the first time at OSIO"
<img width="505" alt="screen shot 2017-12-01 at 3 47 18 pm" src="https://user-images.githubusercontent.com/15967765/33478491-7684aee6-d6af-11e7-8e49-44ee5b6aa1f1.png">
Have created two times: creating space, choose a quickstart application (SpringBoot CRUD) , create Che workspace. First time while Che workspace is launched, its failing with either of two errors (Please see the attached screenshots

[2017-12-01 10:28] ibuziuk commented on #1492
@krishnapaparaju looks like a duplicate https://github.com/openshiftio/openshift.io/issues/1304
Refresh should probably help

[2017-12-01 10:29] ibuziuk commented on #1304
@kbsingh I was not able to reproduce this problem on prod-prevew so far

[2017-12-01 10:43] jyasveer commented on #1486
this issue is fixed here https://github.com/fabric8-ui/fabric8-recommender/pull/381

[2017-12-01 10:47] #1486 closed

[2017-12-01 10:48] jyasveer commented on #1485
fix for this is here https://github.com/fabric8-ui/fabric8-recommender/pull/381

[2017-12-01 10:48] #1485 closed

[2017-12-01 11:09] vpavlin commented on #1245
I've deployed new version of Idler and Proxy yesterday - Idler now uses new permissions added to our token for OSO, so it does not do polling anymore. Also Proxy now gives you a loading page while Jenkins is unidling.

JF had an issue that Jenkins was killed immediately after update or reset tenant event - this is now solved too and Jenkins will stay up after such event for some time.

I am workin

[2017-12-01 11:57] #1492 closed

[2017-12-01 13:00] ibuziuk opened #1493 "[prod-preview] After resetting environment che pod fails to start - "Failed create pod sandbox""
Che 2.0.67 on https://console.free-int.openshift.com

Steps to reprodue: **Profile -> Update Profile -> Reset Environment**

![image](https://user-images.githubusercontent.com/1461122/33483814-d7ed0562-d69f-11e7-91ac-b14953e7b4c1.png)

Events:

![image](https://user-images.githubusercontent.com/1461122/33483829-e9d14b58-d69f-11e7-8071-8aaccc579dd1.png)

[2017-12-01 13:22] vpavlin commented on #1493
I've seen this with Jenkins yesterday whole day. It came up after some time. I found this https://github.com/openshift/origin/issues/17047

[2017-12-01 14:05] ldimaggi opened #1494 "Che status icon not displayed on production and prod-preview"
Just spotted this today:

![screenshot from 2017-12-01 09-03-42](https://user-images.githubusercontent.com/642621/33486065-b190c10c-d676-11e7-8dc9-60650e917c9e.png)

But - Che is up and running:

![screenshot from 2017-12-01 09-04-00](https://user-images.githubusercontent.com/642621/33486072-b999a7ba-d676-11e7-9d2f-907fcbbe280f.png)

[2017-12-01 14:07] ldimaggi commented on #1494
Production:

![screenshot from 2017-12-01 09-06-35](https://user-images.githubusercontent.com/642621/33486138-fe0ea076-d676-11e7-8d9f-e39453034356.png)

[2017-12-01 14:11] ibuziuk commented on #1494
Closing since this is expected due to multi-tenant migration:

https://github.com/openshiftio/openshift.io/issues/1423

https://github.com/fabric8-ui/fabric8-ui/pull/2268

workshop document is also updated - https://docs.google.com/document/d/1KsV8oHRe7DYCVCMfVrB2yd3hU4iBi11YI5MyuXoozQw/edit#heading=h.w6vdcug5aer9

[2017-12-01 14:11] #1494 closed

[2017-12-01 14:17] qodfathr commented on #1219
I wonder if it's a local caching issue. I need to retest, but I think hitting refresh on the account home page / dashboard made the item disappear.

[2017-12-01 14:55] dgutride commented on #1001
Created a new account with dgutride+1 and this is not reproducible.  Moving to closed.

[2017-12-01 14:55] dgutride commented on #465
Thanks @danieloh30 - moving to closed.

[2017-12-01 14:55] #465 closed

[2017-12-01 16:08] qodfathr opened #1495 "Che missing from Status widget and not starting reliably"
![image](https://user-images.githubusercontent.com/16322190/33491081-294b81f4-d687-11e7-8c93-a5b1d17cd261.png)

Note that Che is not showing yup in the status widget. When navigating to Codebases, it is taking an exceptionally long time for existing workspaces to appear in the drop-down. (3 minutes). Trying to open a workspace launched the Che IDE, but was unable to successfully start the workspac

[2017-12-01 17:54] ibuziuk commented on #1493
Currently this issue is a blocker for testing che on prod-preview

[2017-12-01 17:55] qodfathr commented on #1495
Reducing to SEV2 because #1496 has updating the Getting Started guide. Che starting issue is still a concern.

[2017-12-01 18:42] mindreeper2420 commented on #1345
This has been fixed. The tooltip now appears above the text, similar to the other pieces in the toolbar. This eliminates any rendering issues and page jumps.

<img width="214" alt="screen shot 2017-12-01 at 1 40 56 pm" src="https://user-images.githubusercontent.com/4032718/33497858-55d42d82-d69d-11e7-9b42-ae9b88ea0730.png">

[2017-12-01 18:42] #1345 closed

[2017-12-01 19:16] c-koehler opened #1497 "Stack Report not updating when viewed from the popup box"
After making a pipeline run to completion, opening up the Stack Recommendation popup box before it's done leaves you with the window on the image provided below (on the right half). When refreshing the dashboard to see if it has completed (on the left half of the image below), it shows it as completed.

The popup window (right side of the image below) has the word "Updating..." at the top, along w

[2017-12-01 19:25] alexeykazakov commented on #1001
I updated the test account so now it has + in the name for real this time :) Reopening for re-testing.

[2017-12-01 20:52] ldimaggi commented on #1481
Closing - no longer an issue.

[2017-12-01 20:52] #1481 closed

[2017-12-01 21:21] fche commented on #732
Now online for .rh-idev. preview: https://osd-monitor-bayesian-preview.b6ff.rh-idev.openshiftapps.com/
Pending (waiting for a serviceaccount) for identical setup for .dsaas. production.
Ping me offline for the required authentication.

[2017-12-02 01:55] #1466 closed

[2017-12-02 03:16] ldimaggi opened #1498 "On prod-preview, cannot access OSO console"
Attempts to access https://console.free-int.openshift.com/console - are failing with 429 (too many requests) errors:

![screenshot from 2017-12-01 22-13-23](https://user-images.githubusercontent.com/642621/33511247-0b48da4a-d6e5-11e7-9ed1-c42ce1230901.png)

[2017-12-02 03:32] mindreeper2420 commented on #1482
I believe this was fixed less than a day ago - I just checked your profile and the list is scrolling in the card (not overflowing). Can you verify in your environment? Thanks!

[2017-12-02 04:15] jyasveer commented on #768
This is fixed here https://github.com/fabric8-ui/fabric8-recommender/pull/382

[2017-12-02 12:31] msrb commented on #732
@fche Thanks Frank, really appreciate the help. I will reach out to you for the auth details.

[2017-12-02 14:27] samuzzal-choudhury commented on #1497
@jyasveer can you please look into this scenario? For your ready reference, I see that the stack analysis is complete for ID '1c096084c85e46dab58d628bdef91865'.

[2017-12-03 13:46] gastaldi opened #1499 "Refactor the openshift-io Forge add-on to reuse services in the fabric8-launcher backend"
As part of the unification efforts in the fabric8-launcher backend, the existing OSIO add-on must be refactored to reuse the services and the libraries we already provide in https://github.com/fabric8-launch/launcher-backend. This means that the OSIO add-on needs to be included as part of the launcher-backend repository

The launcher-backend provides services that interacts with OpenShift instance

[2017-12-03 13:50] gastaldi commented on #1317
@slemeur can you add https://github.com/openshiftio/openshift.io/issues/1499 as a new merge task checkbox? That is the only missing task extracted from https://github.com/openshiftio/appdev-planning/issues/66

[2017-12-04 02:43] miteshvp commented on #1497
@samuzzal-choudhury @jyasveer - I guess it is more of when the stack report dashboard says it is completed, but the modal on the right still says 50%. I guess it is never the case that modal refreshes. Please correct me if I am wrong.

[2017-12-04 05:16] arunkumars08 commented on #1136
@catrobson Regarding summary screen ux for the wizard, I see this story (https://github.com/fabric8-ui/fabric8-ux/issues/696) has been closed already. Just to be on the same page, we are going with this design https://redhat.invisionapp.com/share/UME00N9CD , right?

[2017-12-04 05:56] tuxdna commented on #939
It is 71928 packages as of now i.e.100 * 71928 / 756881 ~= 9.5 %

[2017-12-04 06:02] miteshvp commented on #1072
I see `122529` EPVs for node ecosystem in graph

[2017-12-04 07:21] msrb commented on #1072
@miteshvp with the libio integration via firehose-fetcher, we are analyzing/syncing newly released NPM packages every day. So the number should/will grow every day :)

[2017-12-04 07:23] miteshvp commented on #1072
@msrb - I see a total of `241537` npm EPVs in S3. We are nowhere close there yet.

[2017-12-04 09:39] msrb commented on #1024
The code is in prod, I will flip the switch later this week (but in staging first:)).

[2017-12-04 10:11] jyasveer commented on #1497
As per this use case IMO, lets not show the user the progress bar and show just a message showing like 'report is not ready'. And we can also provide a button which says 'Refresh' and this button does the modal refresh. I have to work with the UX team and decide on what is the best way to show this to the user.

[2017-12-04 11:59] l0rd commented on #1448
Looking at the init tenant logs when initializing a che namespace there was a `POST` request which got a response with status `400`:

[code]

Looking deeper that was related to an update of the `fabric8-maven-plugin` that uses Kubernetes 3.x model in Che and Jenkins templates (while `init-tenant` continued to use the old model):

[code]

This PR should fix the problem: https://github.com/fabric8-s

[2017-12-04 12:03] kwk commented on #1219
Yes @qodfathr , please do so and confirm here.

[2017-12-04 14:08] aditya-konarde commented on #1498
@ldimaggi free-int was down for a while and is back now. Could you try accessing the console again?

[2017-12-04 14:31] pbergene commented on #1338
Issues with a specific user, account cleaned on Monday 27.11.17. Closing, ping on here if you are still experiencing this @Rydekull

[2017-12-04 14:31] #1338 closed

[2017-12-04 14:34] krishnapaparaju opened #1500 "Stack report recommendations show up only for one quick start application"
Currently stack report recommendations show up / validated only for one quick start application (SpringBoot CRUD).
Stack report recommendations would need to show up for other 5 quick start apps. at OSIO.

[2017-12-04 14:40] krishnapaparaju commented on #1450
If a package been removed from a well-crafted quick start application, that package would need to be showing up as 'companion package'. For example: if a user manually adds packages to pom.xml and misses out a package (that is a critical part of that intent), that would need to be showing up in the list of companion packages...

[2017-12-04 15:45] GeorgeActon commented on #1491
@jyasveer I do not see any related work but you have majked this as complete?
If you submitted a PR then go to it and reference this bug so we see it and the status of it here.

[2017-12-04 15:53] catrobson commented on #1136
Correct.  My apologies, I had shared that with Corinne in Mattermost.  I'll keep you informed on any changes in the future.  Thanks!

[2017-12-04 15:58] slemeur commented on #1317
Done. Thanks @gastaldi

[2017-12-04 16:10] maxandersen opened #1501 "Can not see things like planner when not logged in"
Goto https://openshift.io/openshiftio/openshiftio/plan as logged out user.

Expect: can see the issues and browse them, but not be able to created/edit before logged in.

Actually: shows up with blank page, only top openshift planner is visible.

## Impacts
#2091 Anonymous user should see features as `released` ie: Production only

[2017-12-04 16:37] slemeur opened #1502 "In Che - unclear clear icon to delete a command from the command explorers"
Reported by *deven.phillips* on #openshift.io mattermost channel.

Unclear icon to delete command from the command explorer
![screen shot 2017-12-04 at 17 33 21](https://user-images.githubusercontent.com/1636769/33564007-bdf0d310-d919-11e7-9c17-99daff8344c9.png)

[2017-12-04 16:43] InfoSec812 commented on #1502
The icon appears to indicate a "collapse" operation instead of a "delete" operation... Perhaps a "trash" icon instead?

It would also be beneficial to allow highlighting the item and pressing the "delete" key on the keyboard to accomplish this task as well.

[2017-12-04 16:54] ldimaggi opened #1503 "Unable to create a new app/quickstart at openshift.io (production)"
Started seeing this - on manual and automated tests - mid-day (east coast US time) on December 4:

Steps to recreate:
* Create a new space
* Create a new app/quickstart
* Observe this error raised:

![screenshot from 2017-12-04 11-52-11](https://user-images.githubusercontent.com/642621/33564977-dee945c8-d8e9-11e7-80b6-3d81b95fab38.png)

[2017-12-04 16:57] jiekang commented on #1382
@andrewazores I think this issue can be considered 'done' now. Deployments being completed and Applications removed is really the whole task at hand, and I don't think this issue is right for it.

[2017-12-04 17:03] andrewazores commented on #1382
@jiekang yes, true. @joshuawilson ping, thoughts? Can we close this?

[2017-12-04 17:49] corinnekrych commented on #1503
@ldimaggi is there anything special on your account, I can't reproduce it:
https://www.dropbox.com/s/p35bpsclaw1wi6h/Screenshot%202017-12-04%2018.44.51.png?dl=0

[2017-12-04 17:50] corinnekrych commented on #1503
@kbsingh @jfchevrette how can we access prod log?

[2017-12-04 17:51] arunkumars08 commented on #1136
Sure no problem. @catrobson Thanks!

[2017-12-04 17:54] ldimaggi commented on #1503
I am seeing this on my personal account and on the account I use for testing. 2 separate accounts.

[2017-12-04 18:03] kwk commented on #1501
@maxandersen  I cannot tell why, but this is what I see, which should resemble what you've described:

![bildschirmfoto von 2017-12-04 18-58-31](https://user-images.githubusercontent.com/193408/33567970-279bac12-d925-11e7-9a3d-7d9f5c81d3c8.png)

For a particular work item, the page loads fine:

![bildschirmfoto von 2017-12-04 18-59-15](https://user-images.githubusercontent.com/193408/33568032-5e73

[2017-12-04 19:07] ldimaggi commented on #1503
See these 504 forge errors in the Chrome browser console:
[code]

[2017-12-04 19:19] ldimaggi commented on #1503
Also seeing these errors:

[code]

[2017-12-04 19:28] ldimaggi commented on #1503
I am trying this for 2 separate user accounts, on 2 separate physical machines. It fails unless I use incognito mode.

[2017-12-04 20:24] ldimaggi commented on #1503
This problem seems to be intermittent. Seeing it often - not every time. Is this a service access timing issue?

[2017-12-04 20:55] ldimaggi commented on #1503
This is failing about 7 out of 10 tries - both manually (on multiple machines) and on jobs running on Centos CI.

[2017-12-04 21:10] joshuawilson commented on #1498
Closing, please reopen if it is still an issue.

[2017-12-04 21:10] #1498 closed

[2017-12-04 21:18] joshuawilson commented on #1501
@alexeykazakov @sbose78 any ideas on this?
@c-koehler are you sure this has nothing to do with the changes you made?

[2017-12-04 21:20] joshuawilson commented on #1503
@gastaldi is something down on the forge side?

[2017-12-04 21:32] joshuawilson commented on #1382
I think you covered it with the new name. Closing.

[2017-12-04 21:32] #1382 closed

[2017-12-04 21:41] ldimaggi commented on #1503
@jkang is also seeing this issue.

[2017-12-04 22:48] alexeykazakov commented on #1501
I see 401 from `PATCH https://auth.openshift.io/api/users` which makes perfect sense because there is no user token in the request. I have no idea what was changed on the UI side to break anonymous access to Planer.

[2017-12-04 23:36] gastaldi commented on #1503
@joshuawilson I have no idea, this instance is not managed by us yet, but these steps work for me

[2017-12-04 23:54] gastaldi commented on #1503
Is there something useful in the logs?

[2017-12-05 01:53] joshuawilson commented on #1503
@gastaldi if you are referring to something managed by James then you should just take it now or we need to figure out who owns it. We need to transition that stuff.

[2017-12-05 03:05] gastaldi commented on #1503
@joshuawilson yes, that's the main reason why we are unifying our launcher codebase.

Our backend merge is pratically done, we just need to certify that it does not break anything by running the existing E2E tests against it before we flick the switch.

Before that happens, I'll be happy to investigate and help identifying the cause.

[2017-12-05 03:21] adisakala commented on #1503
@gastaldi assigned this to you so you can resolve this accordingly.

[2017-12-05 03:21] miteshvp commented on #1450
@krishnapaparaju - let's say we have two quick-start application with packages as below
[code]
If you remove `D` from the first application-stack, the remaining packages still form a complete stack. Hence removal of any package from a stack is no guarantee that it will show as companion in the next iteration. cc @rootAvish . Hence, I feel this is an expected behavior in general, unless you have so

[2017-12-05 03:24] adisakala commented on #1304
@ibuziuk @l0rd is this still an open issue on Prod?

[2017-12-05 03:50] ldimaggi commented on #1304
+1    I saw this today (December 4)

[2017-12-05 03:56] krishnapaparaju commented on #1450
Will include this at today's cabal..

[2017-12-05 04:32] adisakala commented on #948
@surajssd

[2017-12-05 05:02] rajdavies commented on #1194
Which environment is this in?  prod, pre-prod or .... ?

[2017-12-05 06:01] sthaha opened #1504 "Unable to create a new quickstart project"
On  openshift.io when I try to create a new space and then a new quickstart project I get an error as follows

![quickstart-wizard-failed2017-12-05 15-19-49](https://user-images.githubusercontent.com/3005132/33592059-afe3d996-d9d4-11e7-9b6a-05772cf93f57.png)

Further inspection revealed that the following http request failed
https://forge.api.openshift.io/forge/commands/fabric8-new-project/execute

[2017-12-05 06:56] rawlingsj commented on #1194
Also what percentage of runs fail?
What made an intermittent error that as far as I can tell has only affected the test user be a sev1?
Have there been any reports of real users being affected by this?

[2017-12-05 07:27] alexeykazakov commented on #1501
I think this PATCH is called to update the user's context to add the space to the list of recent spaces. I think we always had it. So, not sure if this 401 is related to the issue.

[2017-12-05 08:02] msrb opened #1505 "Add PCP to API server"
Related to https://github.com/openshiftio/openshift.io/issues/732.

We already have PCP in our worker containers, but we'd like to add it to the API server container as well.

[2017-12-05 08:04] msrb opened #1506 "Add PCP to Jobs service"
Related to #732.

We already have PCP in our worker containers, but we'd like to add it to the Jobs container as well.

[2017-12-05 08:56] samuzzal-choudhury commented on #1497
@jyasveer let's plan this in the upcoming sprint.

[2017-12-05 09:44] mishaone commented on #1322
Hi folks,

I can't see this change in the identified wizard (the quickstart menu). See screenshot:

![organisation](https://user-images.githubusercontent.com/926572/33600216-52c113f8-d9f4-11e7-9d6d-199ab051ee23.png)

Is this a change that hasn't been published yet or is this not fixed (and this issue should be reopened)? (cc: @c-koehler)

[2017-12-05 10:19] pkajaba commented on #689
@krishnapaparaju I have concluded that only safe option how to gather data from `Gradle` files is simply parse those files. gradle offers a good tooling, where we could just print dependencies with `gradle dependencies` and much more stuff! However, Gradle files are scripts. Users can put there whatever they want and it will be executed. This might get us into the trouble (credentials leak, databa

[2017-12-05 10:39] krishnapaparaju commented on #1403
@bmicklea Ack.

[2017-12-05 10:39] maxandersen commented on #1194
its marked as sev2-high, not sev1. I think that is fair for an issue that is believe to make the end-2-end test fail often.

[2017-12-05 11:48] pbergene opened #1507 "Can't create new space and quickstart"
I reset my space today, deleting from tenant database and doing re-init.  It seems I am unable to do the vertx quickstart.  The github repository is created, but subsequently fails.

Account: pbergene+osiotest1
GH: https://github.com/pbergeneOsiotest1

Reproduce: Reset account, create new space, add codebase, vertx quickstart, next, next, next, ok.
Hangs at loading wizard a little (page 3a summary

[2017-12-05 11:51] pbergene commented on #1507
Already reported at https://github.com/openshiftio/openshift.io/issues/1504

[2017-12-05 11:53] aditya-konarde commented on #1504
In addition to this, a repository is actually created on the GitHub account.

[2017-12-05 12:10] aditya-konarde opened #1508 "Unable to init tenant following changes on _tenant"
I am unable to see any projects on my OSO console, looks like init tenant does not work.

In the status dropdown, Jenkins shows up with a loading icon.

Relevant snippet from logs:
[code]

Context: I had put some test values ('asdasd') on the custom tenant page, but have tried clicking `clear all values`, save, and then reset environment again. Also tried a manual hard-reset with the help of @pber

[2017-12-05 12:11] pbergene commented on #1508
We should try dropping from the tenant db now that you have cleared the values in _tenant.

[2017-12-05 12:12] aditya-konarde commented on #1508
@pbergene  Sure, we can try that and check.

[2017-12-05 12:15] ldimaggi commented on #1504
Already reported here:  https://github.com/openshiftio/openshift.io/issues/1503

[2017-12-05 12:15] ldimaggi commented on #1507
Actualy - it was first reported here:  https://github.com/openshiftio/openshift.io/issues/1503

[2017-12-05 12:18] maxandersen commented on #1504
closing as a duplicate of #1503

[2017-12-05 12:18] #1504 closed

[2017-12-05 12:19] maxandersen commented on #1507
closing as duplicate of #1503

[2017-12-05 12:19] #1507 closed

[2017-12-05 12:21] ldimaggi opened #1509 "Reset env fails to bring up Che and Jenkins on prod-preview"
Started seeing this last night - after an env reset, Che and/or Jenkins pods fail to relably start on prod-preview. Nothing is written to the pod logs, errors seen in the events include:

[code]

and

[code]

[2017-12-05 12:24] ldimaggi commented on #1509
Closing as duplicate of:  https://github.com/openshiftio/openshift.io/issues/1493

[2017-12-05 12:24] #1509 closed

[2017-12-05 12:51] maxandersen commented on #1501
he stated his changes hadn't been merged yet thus this does not seem likely to be the reason. Looks like a planner frontend issue.

[2017-12-05 13:01] krishnapaparaju commented on #1500
@GeorgeActon This issue talks about the analytics platform is available (recommendations) for only quick start application. For other quick start applications, analytics platform is not generating any recommendations / nor exists (for users who choose any other stack than SpringBoot-CRUD. Its SEV-1 in my opinion as analytics service is breaking the OSIO user experience for majority (5 out of 6) of

[2017-12-05 13:28] c-koehler commented on #1501
I went looking in a `git bisect` kind of way to discover where this started happening. Originally I tried finding where it started and found out that whatever is causing this appears to be happening a lot farther back in time.

`6b0a9249bd2c8d39c05c33696d5fc27b9b5d46fe` (16 Oct) - Has the same error

`484371eb9258752f48f3b6911e4b1f599f5784bb` (12 Oct) - Has some different kind of error:
```can't o

[2017-12-05 13:38] gastaldi commented on #1503
Apparently this error may have been caused by the following error in the pod logs: `java.io.IOException: User limit of inotify watches reached`.

This could be caused the project caching feature in Forge core which listens for changes in the project's pom.xml and evicts the Project cache when that happens (useful when Forge is not running in a webapp).

A temporary short-term solution would be to

[2017-12-05 13:43] maxandersen commented on #1368
correction: forge do not currently afaik generate a secret that contains openshiftio key - it puts a secret that contains github key. Two different things; thus the suggestion is to use a similar approach and forge setup a secret for openshiftio in addition to github.

@alexeykazakov wdyt here ?

[2017-12-05 13:43] l0rd commented on #1448
The PR of the previous comment had [some side effects on Jenkins](https://github.com/fabric8-services/fabric8-tenant/pull/487#issuecomment-349259646) and we have not merged it.

As an alternative we have created https://github.com/fabric8-services/fabric8-tenant-che/pull/88 that should fix the problem as well.

[2017-12-05 13:49] maxandersen commented on #1503
but what could have caused this error to trigger? we are supposedly running immutable images thus  sounds weird if we suddenly have a change here that causes limit of inotify to be reached ?

[2017-12-05 13:52] gastaldi commented on #1503
I cannot confirm, but maybe a high load of simultaneous users may cause this

[2017-12-05 14:21] skabashnyuk commented on #1411
Could be fixed by https://github.com/openshiftio/openshift.io/issues/1411

[2017-12-05 14:26] skabashnyuk commented on #1020
That happens because okhttp3 uses java.util.logging (AFAIK with default configuration, different from logback) This PR https://github.com/eclipse/che-lib/pull/67 redirect  java.util.logging --> slf4j --> logback. All you need is Eclipse Che 5.22.

[2017-12-05 14:58] l0rd commented on #1448
https://github.com/fabric8-services/fabric8-tenant-che/pull/88 has been merged and deployed to prod and I have been able to test it: Che deploymentconfig is now successfully created for new users. I am closing this issue.

[2017-12-05 14:58] #1448 closed

[2017-12-05 15:52] gastaldi commented on #1503
Restarting the pods seems to have solved the issue momentaneously until I provide a definite fix for this.

[2017-12-05 16:15] ldimaggi opened #1510 "Intermittent issue on https://openshift.io - Che fails to start workspace - unable to load preferences"
Saw this once on December 5 while attempting to create a new workspace.

Steps to reproduce:
*  Create new space
* Create new quickstart/app
* Attempt to create new workspace

![screenshot from 2017-12-05 10-47-35](https://user-images.githubusercontent.com/642621/33617242-4259a896-d9ad-11e7-866c-229c401215a6.png)

Seen this once so far - nothing in the Jenkins pod log.

[2017-12-05 17:59] l0rd commented on #1304
I have tried with the wsagent route create as the last route amongst the 9 workspaces routes but that didn't help. The only solution I see is to add some kind of ping timeout mechanism (the one that is [used by the wsagent](https://github.com/eclipse/che/blob/master/wsagent/agent/src/main/java/org/eclipse/che/api/agent/WsAgentLauncher.java#L124)) on the bayesian language server agent too.

[2017-12-05 18:38] ldimaggi commented on #1304
I just tried (10) manual tests - where each test created a new quickstart/app and then attempted to create a Che workspace. All (10) attempts failed.

The majority of the failures showed bug #1304, but there were some others too:

#1 - Fail, https://github.com/openshiftio/openshift.io/issues/1304
#2 - Fail, https://github.com/openshiftio/openshift.io/issues/1304
#3 - Fail, https://github.com/opens

[2017-12-05 19:56] ldimaggi commented on #1503
This seems to be working OK now - but - was all that was done just a node restart?

[2017-12-05 19:57] gastaldi commented on #1503
Yes. I wonder if the health check probe can be enhanced to detect such failures

[2017-12-05 20:15] alexeykazakov commented on #1368
@maxandersen +1

[2017-12-05 20:30] rawlingsj commented on #1368
AFAIK it wasn't suggested that forge currently does this.

From the chat I suggested that someone could do a similar thing to the [code linked](https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/kubernetes/CreateBuildConfigStep.java#L483) in mattermost which currently creates a secret with the github token.  A Jenkins credential would then be create

[2017-12-05 20:52] l0rd commented on #1020
Thanks @skabashnyuk. Eclipse Che 5.22.0 will be released next week so we should get that on osio next week.

[2017-12-05 20:56] joshuawilson commented on #1503
@kbsingh do you own the health check?

[2017-12-05 21:28] bartoszmajsak commented on #1503
I believe healtcheck should be owned by respective service teams and SD team can advise/define what should be the part of it.

[2017-12-05 21:56] maxandersen commented on #1503
Anyone actually know what controls forge deployment these days ? is it https://github.com/openshiftio/saas-openshiftio/tree/master/homeless-templates ?

@vpavlin can you help clarify ?

[2017-12-05 22:16] alexeykazakov commented on #1368
@rawlingsj just for clarification. We are talking about passing the OSIO user token. Not OSO. But yes, we can use the same approach.

[2017-12-06 02:52] gastaldi commented on #1503
Now that production is running smooth due to the node restart, is this issue still considered SEV-1?

[2017-12-06 04:11] gastaldi commented on #1503
I created https://github.com/fabric8io/fabric8-generator/pull/81 and https://github.com/fabric8io/generator-backend/pull/77 to fix the inotify issues. Can someone review and run a full E2E test once it's merged?

Thanks

[2017-12-06 06:48] jyasveer commented on #1491
this is fixed here https://github.com/fabric8-ui/fabric8-recommender/pull/380

[2017-12-06 06:51] #1491 closed

[2017-12-06 06:53] jyasveer commented on #1489
this is fixed here https://github.com/fabric8-ui/fabric8-recommender/pull/380

[2017-12-06 06:53] #1489 closed

[2017-12-06 06:57] #768 closed

[2017-12-06 08:22] corinnekrych commented on #1322
In prod we got:
[code]
v1.0.99 of the backend, checking here:
https://github.com/fabric8io/generator-backend/commit/5f16351379faa05021ea758d84ec6c7fef9f0668 and then the pom file associated to this backedn:
https://github.com/fabric8io/generator-backend/blob/5f16351379faa05021ea758d84ec6c7fef9f0668/pom.xml#L22 we got `1.0.74` deployed on PROD

However @c-koehler change is in https://github.com/fab

[2017-12-06 08:58] invincibleJai commented on #1147
count thing i fixed as in https://github.com/openshiftio/openshift.io/issues/1449 @jyasveer @miteshvp

[2017-12-06 09:09] jyasveer commented on #1147
@invincibleJai @miteshvp this issue talks about the license count for each component but not the analyzed component count. I guess i have to fix it.

[2017-12-06 09:12] invincibleJai commented on #1147
@jyasveer am not sure what this issue targets , let's connect once. Coz even in licence card i did some work, not sure if this exists now

[2017-12-06 10:27] sanketpathak opened #1511 "Stack Report Recommendations not updating when build status is complete"
In Openshift.IO window when a build is complete, the Stack Report Recommendations section shows the window as shown in the image below which leads user to believe it'll automatically refresh when everything finishes but never does. As I tried this I had to refresh my window to see the stack summary section and 'show complete stack report' button(as in the ideal case)
![s01](https://user-images.git

[2017-12-06 10:37] maxandersen commented on #1503
@rawlingsj @jstrachan can one of you help @gastaldi here ?

[2017-12-06 10:39] rawlingsj commented on #1503
I think @corinnekrych is picking up work on forge AFAIK and is best placed to review etc.

[2017-12-06 11:31] msrb commented on #1298
Waiting for https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/852.

[2017-12-06 11:39] msrb commented on #1298
Note the same problem is in prod as well.

[2017-12-06 11:56] vpavlin commented on #1503
Forge is built in/deployed from GKE, but we still wanted to track the generated template in saas-openshiftio repository, so we added homeless-templates and a service yaml pointing to that dir.

[2017-12-06 12:01] maxandersen opened #1512 "end-2-end failures"
Tracking issues for known issues blocking end-2-end work

- [ ] Forge fails to create quickstarts #1503
- [ ] Che init issues #1304
- [ ] Jenkins pipeline not created reliably #1194

[2017-12-06 12:04] rawlingsj commented on #1194
waiting for info above

[2017-12-06 12:11] maxandersen commented on #1512
@ldimaggi please help keep this task list above uptodate on what blocks end-2-end and tick them off when you are unblocked.

[2017-12-06 12:35] l0rd commented on #1304
It looks like there is kind of route dance here: when, after one minute or so, the route becomes available (HTTP code 200) it becomes unavailable again after a few ms. This continues for at least 20 seconds during which Che is unusable.

There is not much we can do here Che side. If the routes are available and then becomes unavailable the client part of Che running in the browser won't work prope

[2017-12-06 12:36] GeorgeActon commented on #1467
@tisnik Are you able to do anything more on this while you are waiting for https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/870 to be acted on?

[2017-12-06 12:45] maxandersen commented on #1304
thats just weird and can't be right.

Any chance you can reproduce this in a simpler examle and we can raise to openshift team ?
 @kbsingh comments ?

[2017-12-06 12:47] maxandersen commented on #1194
afaik the issue itself was opened by normal usage, not the test scenario. Test scenario just reproduced it.

the last info you are awaiting info on is what % of runs fail ?

For that I'll have to relay to @ldimaggi

[2017-12-06 12:52] tisnik commented on #1467
@GeorgeActon this issue is blocked ATM, because if I run the tests again prod with the same number of resources, the durations will remain the same

[2017-12-06 13:24] ldimaggi commented on #1194
I am seeing this fail about 30-50% of the time - both from manual ("normal use") and automated testing.

[2017-12-06 13:38] maxandersen commented on #1304
related issue tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1519918

[2017-12-06 13:50] pbergene opened #1513 "[prod-preview] Quickstarts failing"
Following the move to free-stg we are seeing an issue with quickstarts on prod-preview.

Fails with quickstart error: "The repository X already exists!"

Seeing the following on console:
POST https://forge.api.prod-preview.openshift.io/forge/commands/fabric8-new-project/execute 500 (Internal Server Error)
POST https://forge.api.prod-preview.openshift.io/forge/commands/fabric8-new-project/execute 4

[2017-12-06 13:52] jfchevrette commented on #1304
We're seeing two issues:
- Route endpoint flapping between HTTP 503 and 200: https://bugzilla.redhat.com/show_bug.cgi?id=1522812
- Routers take ~1min to reload and activate a route: https://bugzilla.redhat.com/show_bug.cgi?id=1519918

We will be able to tune down the router reload timers when the cluster is upgraded to 3.7 in the coming weeks.

[2017-12-06 14:00] gastaldi commented on #1513
Can we have access to this project in https://console.free-stg.openshift.com/console? Add @edewit 's user too

[2017-12-06 14:51] corinnekrych commented on #1155
@joshuawilson @mindreeper2420 sorry but i can reproduce it :/
https://www.dropbox.com/s/khxfs7i7goj4v1d/Screenshot%202017-12-06%2015.49.38.png?dl=0

[2017-12-06 15:03] jfchevrette commented on #1304
It looks like getting the routers to reload in sync is a complex problem. From what I understand there is no quick fix upstream to address this. This is also something that users normally don't see as the time it takes for all the routers to reload (usually 15-20sec after the initial HTTP 200) is short enough that by the time the users try to access the endpoint from his browser the routers are re

[2017-12-06 15:08] ldimaggi commented on #1304
Are you sure that (human) users will not see this issue? I was unable to get Che to create a workspace on December 5 ten out of ten tries - all done manually in the ISIO UI. Thx!

[2017-12-06 15:12] ibuziuk commented on #1304
@jfchevrette so, what you are proposing is to have this mechanism in place for *every* call to *every* endpoint exposed from console.starter-us-east-2.openshift.com ?

[2017-12-06 15:14] jfchevrette commented on #1304
@ldimaggi I meant outside of the context of OSIO. The error we're seeing is coming from Che assuming the router endpoints all have reloaded at the same excact second which as I describe above is very optimistic. My comment around (human) users not seeing this is more in the context of a casual user trying to run a web application on OpenShift Online (not OSIO).

By the time the user's app is up an

[2017-12-06 15:18] jfchevrette commented on #1304
@ibuziuk software break, infrastructure break. if your service isn't designed to fail and retry gracefully I can guarantee that it will break at some point.

When I loose network connectivity on my phone, I don't get 10s application crashing on me. They retry in the background and eventually succeed in reconnecting to the service. Of course this is not a great comparison but this sort of graceful

[2017-12-06 15:25] pbergene commented on #1513
Should be ok now :)

[2017-12-06 15:26] gastaldi commented on #1513
I see the following errors in the logs:
[code]

[2017-12-06 15:54] ldimaggi opened #1514 "On prod-preview, reset env results in a 500 server error"
Just started seeing this:

![screenshot from 2017-12-06 10-52-42](https://user-images.githubusercontent.com/642621/33670756-cbba5c36-da73-11e7-8bf4-e1533b400f34.png)

[2017-12-06 16:13] jiekang opened #1515 "Investigate event listener warnings from patternfly sparkline chart"
The deployments page uses patternfly-ng sparkline charts to show resource usage of each deployment. These charts cause console violation logs to appear:

![violations](https://user-images.githubusercontent.com/5430520/33671654-31c8e9d2-da76-11e7-8572-e05817f142e7.png)

This should be investigated for severity level (does it matter) and possible resolution. The number of 'non-passive event listener

[2017-12-06 16:20] jiekang opened #1516 "Research: Consider using ngIf for deployments card collapsible portion"
The deployments cards have a collapsible portion that is initially not shown. At the moment, these elements and their respective js code are executed though not initially shown. It is possible to use ngIf to not load these elements until the collapsible is actually expanded. The performance impact should be analyzed in order to decide whether or not to do this.

[2017-12-06 16:21] jiekang commented on #1515
Further investigation suggests this comes from c3js. An issue is already open in their repository:
https://github.com/c3js/c3/issues/2130

I don't think there's any more to be done for this.

[2017-12-06 16:21] #1515 closed

[2017-12-06 16:30] rawlingsj opened #1517 "Unable to progress in the quickstart UI"
I don't seem to be able to create a quickstart, I'm stuck on the pipeline page.  There's am error in the java script console.
[code]

[2017-12-06 16:31] rawlingsj commented on #1517
@corinnekrych @gastaldi does this mean anything to you two?

[2017-12-06 16:32] gastaldi commented on #1517
Production or Staging?

[2017-12-06 16:32] rawlingsj commented on #1517
Prod

[2017-12-06 16:33] gastaldi commented on #1517
I see this error in the backend pod logs:

[code]

[2017-12-06 16:35] gastaldi commented on #1517
@alexeykazakov This seems related to https://github.com/openshiftio/openshift.io/issues/1513. Is there anything wrong with the auth service?

[2017-12-06 16:39] l0rd commented on #1304
@jfchevrette @kbsingh The two problems with routes (timeout and flapping) are clearly regressions. Everything worked fine 30 days ago. In the past we had similar [issues](https://github.com/redhat-developer/rh-che/issues/115) with [routes](https://gist.github.com/l0rd/12a6f7fc6397b4156eb24e9a6d21d886#file-503-issues-we-had-before-summit-md) that got solved. So the question are:

- Can't we just ro

[2017-12-06 16:39] joshuawilson commented on #1517
I just tried this and was able to build a new app.
@rawlingsj did you change any of the defaults?

[2017-12-06 16:46] l0rd commented on #1304
What do you think would be a reasonable `successTreshold` in our case?

[2017-12-06 16:49] rawlingsj commented on #1517
I had a custom jenkins tenant but this is before getting to any of that as this is in the wizard.  I've reset my environment just now and get the same error just for completeness.

[2017-12-06 17:02] corinnekrych commented on #1356
@joshuawilson @catrobson here is the outcome of the spike, we produced with @xcoulon :

* a diagram to give backend context ![toggles_architecture](https://user-images.githubusercontent.com/1395710/33674135-f42e4a34-daae-11e7-8c97-8279da421445.png)
* demo: https://www.youtube.com/edit?o=U&video_id=MIkvrHbzjHY
cc @aslakknutsen @alexeykazakov

@catrobson This demo does not cover all user stories. Th

[2017-12-06 17:27] kbsingh commented on #1298
We should be able to close this with the corresponding PVC piece moving forward, @msrb please ping @mmclanerh if you are not closed on this in the coming days.

[2017-12-06 17:39] catrobson commented on #1356
The UXD story is here:  https://github.com/fabric8-ui/fabric8-ux/issues/724

[2017-12-06 18:19] jfchevrette commented on #1304
@l0rd I realize the tone of my comments may sound like I'm throwing this problem at the che team. I am definitely not and we are actively engaging with upstream to figure out whats the best way to address this. On the other hand we have a service that is failing so lets try to find appropriate solutions to get us going in the right direction.

From what I have seen it can take from a few seconds u

[2017-12-06 18:29] joshuawilson commented on #1517
I reset and it works. Can you please try incognito mode.

[2017-12-06 19:12] joshuawilson commented on #1322
I'm not sure, I haven't published this before. @vpavlin do you know?

[2017-12-06 19:26] ldimaggi commented on #1517
What's in the Jenkins pod log? Are there any errors?

[2017-12-06 19:27] joshuawilson commented on #1411
This is #1411, an issue can't fix itself. ;-)
You have a link to the PR?

[2017-12-06 19:48] ldimaggi commented on #1513
https://github.com/openshiftio/openshift.io/issues/1514 is blocking me from even running a quickstart on prod-preview.

[2017-12-06 20:04] skabashnyuk commented on #1411
@joshuawilson Sorry. Correct link https://github.com/eclipse/che/issues/7726

[2017-12-06 20:06] joshuawilson commented on #1508
Was this fixed?

[2017-12-06 20:11] joshuawilson commented on #1411
Fixed would be the wrong word here, fixed/fixes are keywords in github that link to the PR that "fixes" it. I was about to ask if it was in prod then clicked it to realize it was another issue.

This is more of "being worked from a different issue" kind of link.

[2017-12-06 20:22] skabashnyuk commented on #1411
Yeah. Unfortunately, it's only a registered issue for now. Hope I have better news next time.

[2017-12-06 20:28] joshuawilson commented on #1482
closing as this was fixed, please reopen if it is still an issue

[2017-12-06 20:28] #1482 closed

[2017-12-06 23:15] jfchevrette opened #1519 "Jenkins & content-repository not provisioned into the jenkins namespace for new users"
When a new user is logging in for the first time to OSIO, no jenkins or content-repository deployments are created on the jenkins namespace.

If the user does a 'reset tenant', the deployments are created properly.

This was observed on prod-preview.

This appear to be very similar to #1448 (and hopefully the fix is similar too)

[2017-12-06 23:22] alexeykazakov commented on #1513
I don't see any errors from Auth service for the last 12 hours for pbergene-osiotest1 user.
@gastaldi what user got this error? 401 from /api/token?for usually means there is a problem with the user access token or GitHub was not linked. I need username/id to provide more details.

[2017-12-06 23:25] gastaldi commented on #1513
@pbergene what user did you use?

[2017-12-06 23:28] alexeykazakov commented on #1517
`Caused by: com.auth0.jwt.exceptions.JWTDecodeException: The token was expected to have 3 parts, but got 1.`
What token is it? Don't see any calls to Auth in this stack trace.

[2017-12-07 01:05] joshuawilson commented on #1519
Are you saying the fix is to `reset env` for the tenant? OR do you have fix since you just did it for something else?

[2017-12-07 01:15] joshuawilson commented on #1363
@c-koehler can you take this on as your next task

[2017-12-07 01:26] jfchevrette commented on #1519
@joshuawilson i meant that `reset tenant` is a workaround that _must_ be executed after a new user sign up. Otherwise builds will not work as jenkins is missing completely.

[2017-12-07 01:51] ldimaggi opened #1520 "Che, Jenkins pods not starting on https://openshift.io"
Seeing these errors after a user env reset on https://openshift.io:

[code]

[2017-12-07 02:01] ldimaggi commented on #1520
After multiple retries - this looks to be intermittent - some pods are coming up now.
Moving to sev2.

[2017-12-07 02:16] aditya-konarde commented on #1520
@ldimaggi what's the current status on this?

[2017-12-07 02:21] joshuawilson commented on #1519
So this is a likely an OSO 3.7 thing and we need a solution or we have to use this workaround?
Any ideas on a fix?

[2017-12-07 02:46] joshuawilson commented on #1023
I think we keep the work on the platform team since there are not UI devs on the Auth team. With oversight/review by the Auth team.
This should live with the marketing pages on this repo: https://github.com/openshiftio/openshift.io

[2017-12-07 02:50] joshuawilson commented on #1479
Is this still an issue? Is it specific to OSO 3.7? If not then it would be a CD team issue.

[2017-12-07 02:51] joshuawilson commented on #441
Reopening until proven fixed.

[2017-12-07 02:52] joshuawilson commented on #441
Who is working this and what is the status?

[2017-12-07 03:09] ldimaggi commented on #1520
The problem only lasted about an hour - closing - thx!

[2017-12-07 03:27] ldimaggi commented on #1520
I have not seen this in the hour or so.

[2017-12-07 03:47] #1520 closed

[2017-12-07 03:48] krishnapaparaju opened #1521 "Fabric8 Analytics: All the code promotions go thru Dev. cluster"
Got the deploy scripts in place, would need to make sure all the code promotions for F8 Analytics go thru individual developer code changes / verifications done at Dev. cluster..

#1062

https://docs.google.com/presentation/d/1ccT5WSfJm52NZApEF-9egM6mnA2XxisY_wfixJWCBy8/edit#slide=id.p

[2017-12-07 03:58] krishnapaparaju opened #1522 "Run E2E tests against f8a deployments at OSIO"
**# User story**

 For all F8 Analytics deployments, ensure the new changes are tested E2E and regression performed at OSIO (production cluster)

**# Description**

These E2E tests would need to touch/cover all the OSIO user facing components.

**# Acceptance criteria**

These tests can be run at each production promotion / every 30 mins. Tests run with frequency need to be co-ordinated with @ldim

[2017-12-07 04:02] gastaldi commented on #441
I don't understand why the `launchpad.backend.catalog.git.ref` is set to `devtools-saas`. That branch does not exist in the booster catalog, unless there is some magic going on. Can you clarify @jstrachan?

[2017-12-07 04:02] krishnapaparaju opened #1523 "UI integration tests for F8A platform"
**# User story**

 For all F8 Analytics deployments, UI integration tests are run at Dev., Stage and Production clusters

**# Description**

These UI integration tests would need to touch/cover all the OSIO user facing components.

**# Acceptance criteria**

These UI integration tests would need to be integrated into E2E tests currently being done at respective environments..

[2017-12-07 04:07] krishnapaparaju opened #1524 "Sprint 142 Planning: Fabric8 Analytics"
## OSIO Analytics Sprint 142

### Sprint Goals
**Work towards publishing IDE extensions for OSIO analytics platform (VSCode, DevStudio)**
- [ ] UX related enhancements for the stack report  (#1277)
- [ ] Identify performance bottlenecks and publish matrix for OSIO resource requirements based on load testing results (#1144)
- [ ] Deploy 3scale APICast gateway, Update IDE workflow to include 3scale

[2017-12-07 04:08] gastaldi commented on #441
Unless the gitRef information is being sent from the UI as a HTTP Header parameter. Is that the case @edewit @corinnekrych?

[2017-12-07 04:22] sbose78 opened #1525 "tenant jenkins does not ask 'Login with Red Hat'"
1. Did a reset environment today  ( and have jenkins 4.0.44 )
2. Created a quickstart project.
3. Opened the pipelines page and clicked 'view logs' https://jenkins-shbose-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/sbose78/job/testafterdowntime01/job/master/1/console

![screenshot from 2017-12-07 09-35-19](https://user-images.githubusercontent.com/545280/33698682-1c47de56-db34-11e7-8c5c-4

[2017-12-07 04:40] sbose78 commented on #1525
Had to click on the top right to be able to reach the sso login - nevertheless it's a slightly confusing user experience. The previous experience was really nice :)

[2017-12-07 04:50] sbose78 commented on #1525
Re-opened because this new experience is confusing - I was used to seeing the RHD login page directly.

[2017-12-07 05:00] maxandersen commented on #1525
I agree what @sbose78 are seeing definitely are not expected, for what it is worth when I reset my environment and I get jenkins 4.0.44 then I do get the normal RHD login directly - not what @sbose78 is seeing here.

[2017-12-07 05:43] maxandersen commented on #441
where are you looking and seeing this ref set @gastaldi ?

[2017-12-07 06:54] aditya-konarde commented on #1508
@joshuawilson Not yet, need a full account nuke it seems. I was able to change the invalid string by going to _tenant, but nothing shows up on my OpenShift console yet. Needs further investigation.

[2017-12-07 08:19] edewit commented on #441
gitRef is not added as http parameter by the frond-end

[2017-12-07 08:21] msrb commented on #1398
@jpopelka @pkajaba @tuxdna @humaton

Team, if you're done with your current tasks, please take a look here. We still have couple more days in this sprint.

I _think_ this should be fairly trivial to implement. We basically want to take [this](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/hack/workers.sh#L55) and run it [here](https://github.com/fabric8-analytics/fabric8

[2017-12-07 08:31] msrb commented on #1081
@jpopelka @pkajaba @tuxdna @humaton

Team, this is another task which requires some attention. We want to automatically tag AWS resources that we allocate so we can later identify and delete resources that are no longer needed (like for example resources allocated by developers, not associated with prod/staging envs.)

Take a look what we already do for S3 buckets: https://github.com/fabric8-analy

[2017-12-07 08:40] msrb commented on #1081
Note this is only about tagging the resources, then there is a separate task for deleting unnecessary resources: https://github.com/openshiftio/openshift.io/issues/1330.

[2017-12-07 08:48] msrb opened #1526 "[f8a] data-importer: The import failed: 'status'"
# Description

Observed on prod-preview, but prod is likely affected as well.

[code]

[2017-12-07 08:48] msrb commented on #1526
cc @miteshvp

[2017-12-07 08:56] tisnik commented on #1329
To be able to successfully develop, debug, and run these tests, the following issue need to be resolved: [f8a] data-importer: The import failed: 'status' #1526

[2017-12-07 09:02] corinnekrych commented on #441
@gastaldi @edewit i think it is set as env variable here: https://github.com/fabric8io/generator-backend/blob/master/run.sh#L2

[2017-12-07 09:08] tisnik commented on #1523
cc @ldimaggi FYI

[2017-12-07 09:11] l0rd commented on #1519
That's because there has been a change in the `apiVersion` used for `DeploymentConfig` in Jenkins and Che yml templates:
[code]
And init-tenant need to be updated too. These PRs https://github.com/fabric8-services/fabric8-tenant/pull/487 https://github.com/fabric8-services/fabric8-tenant-che/pull/89 should fix this issue.

[2017-12-07 09:15] tisnik opened #1527 "Fix bottlenecks in stack analysis"
We need to identify and fix the bottlenecks in the stack analysis. Possible areas:

- graph DB access times
- kronos efficiency and scalability
- workers efficiency and scalability
- accessing S3 queue

Measured data so far:
https://fabric8-analytics.github.io/perf-tests/core_api/stack_analysis/production_100_calls_vertx/stack_analysis_parallel_calls_100_threads_concurrent_100_threads_min_max_avg_

[2017-12-07 09:17] miteshvp commented on #1526
looking into it.

[2017-12-07 09:24] tisnik commented on #1526
thanks a lot @miteshvp

[2017-12-07 09:27] tisnik opened #1528 "[3] Create performance tests for common queries to the graph database"
To identify possible bottlenecks in our DB backend we need to be able to run performance tests for common queries to the graph database.

Acceptance criteria:

- [ ] Gremlin endpoint is configurable
- [ ] The query to be measured is selectable (like 'gather package info', 'gather info for package version')
- [ ] Queries should be run in parallel (configurable)
- [ ] Results to be plotted as graph

[2017-12-07 09:50] tuxdna commented on #939
It is 74664 packages as of now i.e. 100 * 74664 / 756881 ~= 9.86 %

[2017-12-07 09:55] pbergene commented on #1513
pbergene-osiotest1, but linked to gh pbergene it seems.  Having failed back again to free-int this may have been resolved, as @jfchevrette successfully ran a quickstart last night.

[2017-12-07 10:20] miteshvp commented on #1526
@msrb @tisnik - PTAL - https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/64

[2017-12-07 10:21] miteshvp commented on #1329
@tisnik - https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/64

[2017-12-07 10:26] #1526 closed

[2017-12-07 10:44] msrb commented on #939
Note I can see there is almost 100k messages in ingestion queues. The chances are that we won't be able to process significant portion of them in time and they will timeout (after 14 days in queues).

It should be possible to [specify range of packages](https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/f8a_jobs/handlers/golang_popular_analyses.py#L81) that should be analyzed,

[2017-12-07 10:45] msrb commented on #939
We will reach the 10% goal by the end of the sprint though.

[2017-12-07 10:58] pbergene commented on #1514
@ldimaggi Just to make sure, did you re-link on https://sso.prod-preview.openshift.io/auth/realms/fabric8/account/identity ?

[2017-12-07 11:32] gastaldi commented on #441
@maxandersen I am seeing in the generator-backend configmap in the openshift console.

@corinnekrych that makes sense. The latest version is v15, I'll provide a PR changing that

[2017-12-07 11:32] krishnapaparaju commented on #1471
Please extend this effort to cover all the OSIO quick starts

[2017-12-07 11:34] krishnapaparaju commented on #1521
Please make sure UI integration tests are in place....

[2017-12-07 11:41] krishnapaparaju commented on #1522
Has dependency on creation / availability of UI integration test cases

[2017-12-07 12:31] l0rd commented on #1519
@jfchevrette should be solved now. Can you confirm?

[2017-12-07 13:10] c-koehler commented on #1480
@joshuawilson @dgutride If you guys have any input on the following it would be great:

This can be easily fixed by changing the **(+)** button on the analyze page to use:
`... [routerLink]="[contextPath, 'create', { outlets: { action: 'add-codebase' } }]" ..."`
instead of
`...[routerLink]="[{ outlets: { action: 'add-codebase' } }]" ...`
as this will take you to the codebases page and open up the

[2017-12-07 13:13] corinnekrych commented on #1503
@vpavlin talking with @gastaldi it seems this template https://github.com/openshiftio/saas-openshiftio/blob/master/homeless-templates/generator-backend.yaml is not used but this one is used to deploy to prod: https://github.com/fabric8io/generator-backend/blob/master/src/main/fabric8/deployment.yml#L16
right?

[2017-12-07 14:05] ibuziuk commented on #1495
Related to https://github.com/redhat-developer/rh-che/issues/450
Need to provide multi-tenant che-server status icon & update Getting Started guide

[2017-12-07 14:20] jfchevrette commented on #1519
@l0rd that fixed it. thanks!

[2017-12-07 14:24] jfchevrette opened #1529 "Error: secrets "jenkins-recommender-api-token" not found"
When a new tenant is initialized, the jenkins-recommender-api-token secret is missing / not deployed.

This is probably related to the changes made in fabric8-services/fabric8-tenant#487

A similar issue was fixed in #1519

[2017-12-07 14:25] jfchevrette commented on #1519
The jenkins deployments are created but the jenkins-recommender-api-token secret is missing.

I have created #1529 to track this

[2017-12-07 14:25] #1519 closed

[2017-12-07 14:27] corinnekrych commented on #1422
@jaseemabid do you deploy with local dev as per https://github.com/fabric8io/fabric8-platform/blob/master/INSTALL.md#local-development ?

it looks like the error is coming from:
https://github.com/fabric8-ui/fabric8-ui/blob/f51cbe359a898bfe971064c5f9ae1ee6b10ea113/src/app/space/forge-wizard/import-pages/step3/pipeline-step.component.ts#L22
BUT the latest version of forge backend should always retu

[2017-12-07 14:28] jyasveer opened #1530 "Mitigate all the UI changes done in fabric8-recommender to fabric8-analytics-stack-report-ui"
- [ ] License card changes.
- [ ] Usage card changes
- [ ] All label changes
- [ ] Misc changes

[2017-12-07 14:28] c-koehler opened #1531 "Spinner from analyze page on 'Stack Report Recommendations' bleeds through add-work-item window"
If you have a report that is loading when you visit your space homepage (or the analyze button), if you have a stack report that is taking a while to load and has a spinner that won't go away for a while, it will leak through if you click the **(+)** button next to 'My Work Items', causing the following:

![leaking-through](https://user-images.githubusercontent.com/33262856/33720072-d3a0d30e-db30-

[2017-12-07 14:40] jfchevrette commented on #1529
`{"identity_id":"016033e6-c9a7-4190-bcee-1307d04a135e","kind":"Secret","level":"info","method":"POST","msg":"resource requested","name":"jenkins-recommender-api-token","namespace":"jchevret-osiotest1-jenkins","pkg":"github.com/fabric8-services/fabric8-tenant/controller.InitTenant","req_id":"jgIuthfaTI-3271","status":403,"time":"2017-12-07 14:37:21"}`

[2017-12-07 15:03] c-koehler commented on #1516
@jiekang here are the results:

---

Tried profiling by changing
`<pfng-chart-sparkline [config]="config" [chartData]="data"></pfng-chart-sparkline>`
to
`<pfng-chart-sparkline *ngIf="!collapsed" [config]="config" [chartData]="data"></pfng-chart-sparkline>`

These were the results:

**Eager loading:**
![eager-load](https://user-images.githubusercontent.com/33262856/33720924-7311c6c6-db33-11e7-8196-

[2017-12-07 15:28] jfchevrette commented on #1529
init tenant fails to create the secret but running 'update tenant' can

[2017-12-07 15:43] rawlingsj commented on #1529
are there different roles required for create and update?

wonder if you can get the roles for the service account in prod and compare with prod preview?

[2017-12-07 15:45] #1155 closed

[2017-12-07 16:02] joshuawilson commented on #1457
I think it is for `team/che/plugins` but if they need help we can assist.

[2017-12-07 16:07] jfchevrette commented on #1529
This issue appear to have been caused by me deleting the denant and trying to have it re-initialized to fast resulting in f8tenant trying to create resources (secret in this case) which were not completely removed in the backend yet.

[2017-12-07 16:07] #1529 closed

[2017-12-07 16:15] pbergene opened #1532 "Builds fail to rollout to stage"
Looks like we have the return of https://github.com/openshiftio/openshift.io/issues/1254 or something very similar.

Steps to reproduce: Reset tenant, create new space, do vertx quickstart, promote build to run, then  attempt to run the build a second time.

Was this never fixed and rolled out to production a second time?

@rawlingsj @maxandersen @kbsingh @rajdavies @chmouel @joshuawilson

Jenkins

[2017-12-07 16:21] joshuawilson commented on #1532
To fix it last time @aslakknutsen had rolled back to Jenkins 4.0.41 fabric8-services/fabric8-tenant@1cc44c6

[2017-12-07 16:21] joshuawilson commented on #1532
So if a new tenant was released and this wasn't fixed then we could have the issue again.

[2017-12-07 16:22] ldimaggi commented on #1532
We are now at 4.0.44 - trying to recreate this now.

[2017-12-07 16:26] bartoszmajsak commented on #1532
Fix was applied to https://github.com/jenkinsci/kubernetes-pipeline-plugin/pull/64/files - but is it in this version of jenkins... Not sure where this "version" lives.

[2017-12-07 16:35] jfchevrette opened #1533 "Jenkins idler is idling my jenkins continuously"
How to reproduce

- Created a new tenant
- Ran through getting/started, Init Tenant
- Tried to launch a build, build was pending
- Found that jenkins was not running
- Jenkins was scaled to 0/idled
- Scaled jenkins to 1
- Jenkins was immediately scaled back to 0

What I was expecting

- As a new tenant I expect my jenkins to start and run for ~1 hour and not get idled immediately.
- As an existing

[2017-12-07 16:37] kbsingh commented on #1493
@vpavlin can we get a seperate issue filed for jenkins

[2017-12-07 16:37] bartoszmajsak commented on #1532
I am just wondering - as we rolled back to `4.0.41` intentionally how come https://github.com/fabric8-services/fabric8-tenant/pull/490 was automerged and made this problem reappear? Can we somehow prevent such automerges from happening?

[2017-12-07 16:40] gastaldi commented on #1513
It works in PROD for me.

[2017-12-07 16:45] rawlingsj commented on #1532
The fix is in here https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/121

[2017-12-07 16:46] rawlingsj commented on #1532
We upgraded all the plugins yesterday for 4.0.44 but the kubernetes pipeline plugin didn't have the latest kubernetes client.  We noticed this earlier and fixed it with the commit above.  There should be a PR on fabric8 tenant shortly.

[2017-12-07 16:47] joshuawilson commented on #1513
The issue is that prod-preview will soon become prod and then break prod.

[2017-12-07 16:48] rawlingsj commented on #1532
Yes that was already done yesterday but after the 4.0.44 release so we are protected going forward. https://github.com/fabric8io/openshift-jenkins-s2i-config/commit/9b02d7aba1b9b9b137be73453a14661eaa115295

[2017-12-07 16:53] rawlingsj commented on #1532
4.0.45 is being released by fabric8-tenant now https://jenkins.cd.test.fabric8.io/job/fabric8-services/job/fabric8-tenant-jenkins/job/master/43/console

[2017-12-07 16:54] bartoszmajsak commented on #1532
I wasn't looking for a global switch really, but thanks for the pointer.

[2017-12-07 17:01] l0rd commented on #1304
Hopefully [PR](https://github.com/eclipse/che/pull/7766) should fix this. It introduces a successful ping threshold that needs to be met before considering that the wsagent is really available. After some tests I've set the threshold to 10 successful ping. The value is in a [config map](https://github.com/fabric8-services/fabric8-tenant-che/blob/master/apps/che/src/main/fabric8/cm.yml#L33) and can

[2017-12-07 17:09] ibuziuk commented on #1493
Still can reproduce on prod:

![image](https://user-images.githubusercontent.com/1461122/33728124-b7345490-db79-11e7-98b5-508a5cfcee45.png)

[2017-12-07 17:19] kbsingh commented on #1532
does rolling this out involve a cluster wide update of the tenant spaces ?

[2017-12-07 17:19] rawlingsj commented on #1532
Fix is now being released in the tenant service https://jenkins.cd.test.fabric8.io/job/fabric8-services/job/fabric8-tenant/job/master/161/console

Once this is done it is just the automated PR on https://github.com/openshiftio/saas-openshiftio and the pipeline will wait for centos CI to build the prod image.  Then when that PR merges it's just the ci centos promote to prod that needs to run for th

[2017-12-07 17:20] gastaldi commented on #1513
I see the following error in the pod logs:

[code]

[2017-12-07 17:20] rawlingsj commented on #1532
I'm not actually sure what happens here, I know there was some work on the tenant service doing upgrades when a new version is available but TBH I'm not that familiar with it.

[2017-12-07 17:21] rawlingsj commented on #1532
@xcoulon do you happen to know if the tenant service will automatically upgrade users jenkins tenant namespaces with the new version when it's available?

[2017-12-07 17:22] kbsingh commented on #1532
addeding area/user/tenant - @xcoulon is this something that we are able to execute ? ( do not execute it yet though, we will need to sync on service side )

[2017-12-07 17:30] abs51295 commented on #1474
For optimizing the post filter PTAL at the following https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/139.

[2017-12-07 17:31] abs51295 commented on #1474
For parallel execution of PGM PTAL at the following https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/140.

[2017-12-07 17:33] gastaldi commented on #1513
The following error appears if I CURL with my Authorization token: {"errors":[{"code":"internal_error","detail":"record not found","status":"500","title":"Internal error"}]}

[2017-12-07 17:40] rawlingsj commented on #1532
@kbsingh FYI the fabric8 pipelines have finished now and PR merged on saas-openshift https://github.com/openshiftio/saas-openshiftio/pull/505.  Over to the ci centos promote to prod job is that correct?  Reason I mention it is because I saw a note about disabling auto promotes.  This one here would need to be manually triggered I guess?

[2017-12-07 17:41] ibuziuk commented on #1493
@kbsingh After a few attempts I was able to deploy Che on console.free-int.openshift.com, so probably we should change the severity to SEV2-high

[2017-12-07 17:43] vpavlin commented on #1493
Yeah, same for Jenkins - this is not 100 % reproducible

[2017-12-07 17:46] joshuawilson commented on #1493
@kbsingh do you want me to add a label `area/jenkins` that we can filter by? Most of these issues get filed under `area/pipelines`.

[2017-12-07 17:47] vpavlin commented on #1533
It should be fixed now, let me know if you are able to verify or reproduce still

[2017-12-07 17:48] kbsingh commented on #1493
yes please, Also - talk in the SD team, we are ok to drop SEV1 to SEV2 if the owning dev is happy with that.

@joshuawilson @ibuziuk

[2017-12-07 17:50] kbsingh commented on #1532
@rawlingsj pushing now

[2017-12-07 17:55] vpavlin commented on #1503
Correct

[2017-12-07 18:28] gastaldi commented on #1503
When is https://github.com/fabric8io/generator-backend/pull/77 going to be merged? @corinnekrych do you have the necessary privileges to do so?

[2017-12-07 18:39] rawlingsj commented on #1532
The fix in 4.0.45 is now available in prod - there's still an open question about how / if the tenant service updates existing tenant namespaces, but a fresh reset environment will bring in the latest version so ready for verification.

@pbergene did you want to verify and close this issue?

[2017-12-07 18:46] joshuawilson commented on #1480
@c-koehler your observations make sense. I would need to spend the time digging into it to find anything else. Does your purposed fix work?

[2017-12-07 19:01] aslakknutsen commented on #1532
It does not as there are no automated tests to verify the behavior of jenkins/che.