[2017-03-07 18:03] Mgranfie opened #1 "Allow user to navigate + log in to their home page via cut and paste or type entering URL"
@pmuir
As a user of OpenShift.io I want to be able to paste or type my URL "openshift.io/" into the browser and if I am not yet logged in, I am directly navigated to the RHD login, so that I don't have to click the "Log in" option/button on the OS.io beta page every time I want to log in to OS.io.

[2017-03-14 13:32] invincibleJai opened #10 "Setting up test case environment"
Need to set up test case environment for the appliocation

[2017-03-15 13:47] pmuir opened #11 "The fact that you have to navigate back to the user menu, and hit profile is confusing"

[2017-03-20 02:38] ldimaggi opened #16 "http://www.prod-preview.openshift.io/index.html - "Register for Developer Preview" button display is truncated"
![screenshot from 2017-03-19 17-58-07](https://cloud.githubusercontent.com/assets/642621/24087402/d5f77870-0cf4-11e7-89c3-e93c953636b7.png)

[2017-03-20 02:43] mindreeper2420 commented on #16
Fixed as part of https://github.com/openshiftio/www.openshift.io/pull/15

[2017-03-20 13:25] ldimaggi opened #17 "Login process via github requests full access to personal information"
Seeing these screens while loging in via github authorization - the level of access requested seems way too intrusive:

![access](https://cloud.githubusercontent.com/assets/642621/24101538/1c2ad8d2-0d4f-11e7-918f-3730e2bb028d.png)
![access2](https://cloud.githubusercontent.com/assets/642621/24101537/1c2a5a88-0d4f-11e7-9883-a237f0733ba3.png)

[2017-03-22 15:25] pmuir opened #21 "Validate the email field is not empty"

[2017-03-23 15:31] mindreeper2420 commented on #16
@ldimaggi can you recheck and verify that this is fixed? thanks!

[2017-03-24 12:07] qodfathr opened #27 "First logged in screen should be /_home"
Upon logging in, user should be navigated to /_home, not /<userid>.

[2017-03-24 12:09] qodfathr opened #28 "Auto navigate from www to /_home if already logged in"
If the user currently has a valid login token, then / should be an auto-redirect/navigation to /_home. However, if the saas is in a known bad state, then do not do so. (e.g., don't redirect from the working marketing page to a 503 /_home page)

[2017-03-24 12:11] qodfathr commented on #28
Or, as an alternative if that's too difficult -- when user is logged in and on /, add a link to top navigation named "MY HOME" which goes to /_home

[2017-03-24 12:13] qodfathr opened #29 "Status link should indicate Green/Yellow/Red in navbar"
The Status link should include a prefixing indicator right in the navbar.

Green -- all services green.
Yellow -- one or more services yellow but none red.
Red -- one or more services red.

[2017-03-24 12:20] pmuir commented on #27
@mindreeper2420 I assigned this to you - I think I already implemented the redirect, but check on it and change it to /_home I think

[2017-03-24 12:35] mindreeper2420 commented on #29
Static roll-up added as part of PR https://github.com/openshiftio/www.openshift.io/pull/30

[2017-03-24 12:40] mindreeper2420 commented on #27
@pmuir yes, the redirect is already there, but it sends the user to their profile (http://prod-preview.openshift.io/adamjolicoeur). I'll update.

[2017-03-24 12:45] mindreeper2420 commented on #27
redirect updated as part of PR #31

[2017-03-24 13:10] pmuir commented on #28
@mindreeper2420 let's start with the alternative and then keep this issue open for the primary.

[2017-03-24 21:18] qodfathr opened #32 "TItle should be OpenShift.io, not openshift.io"

[2017-03-24 21:18] qodfathr opened #33 "Use OpenShift favicon"
Here's one: https://assets.openshift.net/content/subdomain/favicon32x32.png

[2017-03-25 02:40] #29 closed

[2017-03-25 02:40] #27 closed

[2017-03-25 12:19] qodfathr opened #34 "Remove Overview section and text Features"
@mindreeper2420  On www, remove the entire "Overview" section (the black box of text above "Features") and also remove the word 'Features' at the start of the features list.

[2017-03-25 12:24] qodfathr opened #35 "Make background of Features more distinct"
@mindreeper2420  When #34 is complete, there will be no visible separation between the features list and the top registration area. As such, find a way to visibly make the regions distinct. e.g., a horizontal rule. Or, please consider using a subtle contrasting background behind each feature -- e.g. "An end-to-end" gets light gray, which will separate it from the registration area. "Create continu

[2017-03-25 12:31] #32 closed

[2017-03-25 13:13] pmuir commented on #33
I've added the favicon, but unfortunately nowadays a single 32x32 png for the favicon doesn't cut it, due to icons for people saving bookmarks, saving things on phone screens etc. I really need the svg for this, from which we generate 37 different sizes of favicon actually needed - svg is create as it scales really well. @mindreeper2420 @qodfathr can you hunt down the svg for me?

[2017-03-25 13:19] pmuir commented on #21
I've pushed a basic html5 validation but could you look at PF styling for it?

[2017-03-25 13:19] #16 closed

[2017-03-25 13:19] #11 closed

[2017-03-25 13:47] mindreeper2420 commented on #34
PR https://github.com/openshiftio/www.openshift.io/pull/36

[2017-03-25 13:48] mindreeper2420 commented on #35
The visuals will be updated once the Visual Design story (referenced above) is completed - should be done by mid-week.

[2017-03-25 15:23] mindreeper2420 commented on #33
I'll reach out to the brand and visual design teams to get the icons (or the one svg). The .com site appears to just use the png, so I'll check to see if something else is being done.

[2017-03-25 15:27] pmuir commented on #33
If you can get me a bigger png, I think imagemagick can scale it down ok, but svg is still best.

[2017-03-25 20:14] mindreeper2420 commented on #28
@qodfathr @pmuir
Here is the navigation when logged out:
<img width="1920" alt="screen shot 2017-03-25 at 4 13 57 pm" src="https://cloud.githubusercontent.com/assets/4032718/24325744/1ea2b12c-1176-11e7-80d4-5d5468b4b764.png">

Here is the navigation when logged in:
<img width="1920" alt="screen shot 2017-03-25 at 4 13 50 pm" src="https://cloud.githubusercontent.com/assets/4032718/24325748/27376300

[2017-03-26 00:24] mindreeper2420 commented on #28
PR https://github.com/openshiftio/www.openshift.io/pull/37

[2017-03-26 15:52] mindreeper2420 commented on #21
I gave it a look, but the default HTML5 required identifiers are drastically different than the PatternFly styles.
The PF styles are here: [PatternFly Form](http://www.patternfly.org/pattern-library/widgets/#forms), and they use Bootstrap's [Validation States](http://getbootstrap.com/css/#forms-help-text) for rendering. I'm not sure how to properly translate the jquery snippets needed for Bootstra

[2017-03-26 15:54] pmuir commented on #21
We can just use Bootstrap validation & jquery...

[2017-03-26 15:55] mindreeper2420 commented on #21
Ok, I thought this had to all be in Angular2/Typescript w/no jQuery. I'll go back and see what I can do with the default framework configs.

[2017-03-26 15:59] pmuir commented on #21
The landing page is pure jquery & bootstrap. It is in typescript, but you can also just JS obviously.

[2017-03-27 00:42] mindreeper2420 commented on #21
@pmuir can you take a crack at this? The HTML5 validation does not work in Safari (desktop or mobile), so even with an incorrect email input, it will still submit and show the success message.

[2017-03-27 00:45] pmuir commented on #21
Ok, I will probably use some jquery validation framework...

[2017-03-27 11:59] qodfathr commented on #33
FYI, in https://issues.jboss.org/browse/RHDENG-1231 you can find an SVG. It's a logotype, but you could remove the text and be left behind with just the icon.

[2017-03-27 12:19] mindreeper2420 commented on #33
@qodfathr I'll grab those and edit them in Illustrator to keep the svg format. I also reached out to see if there is a specific icon to use for saving the site on phone desktops as an app.

[2017-03-27 12:48] mindreeper2420 commented on #33
Updated favicon to svg in PR https://github.com/openshiftio/www.openshift.io/pull/38

[2017-03-27 14:07] mindreeper2420 opened #39 "Update WWW to Match Visual Designs"
Update the www landing page to match the designs as provided by the visual design team. These designs should match the brand designs around web standards.

The site should continue to function on mobile devices.

[2017-03-27 19:38] qodfathr opened #40 ""Application is not available" on Microsoft Edge"
1. Use Edge.
2. Go to site
3. Get:

Application is not available
The application is currently not serving requests at this endpoint. It may not have been started or is still starting.

Works fine from Chrome on same desktop.

[2017-03-27 19:50] pmuir commented on #40
Suggest we add a simple static page that links to http://lmgtfy.com/?q=how+to+switch+to+chrome+from+edge

[2017-03-27 20:38] mindreeper2420 opened #41 "Add Progress Indicator for Analysis"
As a user, I need to be able to see that the file I have chosen to upload for analysis is actually being processed. When clicking 'upload', I am not told that anything is happening, nor am I told when it has been completed.

When I click on 'View Report', I am sent to the top of the page, where a notification is flashed. Unfortunately, that notification is too short to read and I now have to scrol

[2017-03-28 12:33] qodfathr commented on #40
As an alternative, may I recommend to you http://mnstr.me/2nqIypJ

[2017-03-28 14:04] qodfathr opened #44 "Footer links"
Please put following into footer:

Privacy Statement --> https://www.redhat.com/en/about/privacy-policy
Terms and Conditions --> https://www.openshift.com/legal/terms.html
Open Source --> https://fabric8.io
(We'd then want a Contact Us, but we don't have a link for this yet.)
facebook icon --> https://www.facebook.com/openshiftio/
twitter icon --> https://twitter.com/openshiftio

See footer of htt

[2017-03-28 16:32] #34 closed

[2017-03-28 16:32] #33 closed

[2017-03-28 16:32] #28 closed

[2017-03-30 02:35] mindreeper2420 commented on #35
This should be resolved with the merger of the current PR.

[2017-03-30 19:53] pmuir opened #49 "hero-background.png is very large"
![image](https://cloud.githubusercontent.com/assets/157761/24523432/0694a484-1561-11e7-9610-11087cf7058f.png)

I can visibly see it loading. Should be about 1% - 10% this size.

[2017-03-30 21:22] mindreeper2420 commented on #44
@qodfathr do you want a GitHub link to a specific repo, or just the Facebook and Twitter links? Also, do you have any text in mind for the JOIN US area?

here is the current version, before PR is filed:
<img width="1440" alt="screen shot 2017-03-30 at 5 21 40 pm" src="https://cloud.githubusercontent.com/assets/4032718/24526774/68a21358-156d-11e7-9f9a-29485e63b57d.png">

[2017-03-30 21:47] qodfathr commented on #44
No GitHub link, thx.

[2017-03-30 21:51] qodfathr commented on #44
I guess this means "join us" as in "join us on social media," and not "join us" as in join our open source community. I think that's a bit confusing.

Can we just simplify for now and move the fb/twitter icon links to the bottom footer? This matches openshift.com, and saves us from having to figure out this text.

[2017-03-31 11:38] mindreeper2420 commented on #49
I'm able to get it down to 130kb without degrading the visuals of the background. Beyond that, it begins to look pixelated. I was also able to drop the other background images to 50kb and 48.7kb respectively.

[2017-03-31 11:39] #41 closed

[2017-03-31 11:49] pmuir commented on #49
Did you also try a jpeg, typically they are much better than pngs for
larger images...

On 31 March 2017 at 07:38, Adam Jolicoeur <notifications@github.com> wrote:

--
Pete Muir
Technical Director, Red Hat Developer

[2017-03-31 12:01] mindreeper2420 commented on #49
yup - I went through 4 types of jpegs and 2 types of pngs

[2017-03-31 12:10] pmuir commented on #49
Ok, 130kb it is - damn the visual designers!

[2017-03-31 15:46] mindreeper2420 commented on #49
@pmuir it is loading a lot faster now on prod. Have you noticed a difference?

[2017-03-31 15:50] pmuir commented on #49
Yes, I think that is acceptable.

On 31 March 2017 at 11:46, Adam Jolicoeur <notifications@github.com> wrote:

--
Pete Muir
Technical Director, Red Hat Developer

[2017-03-31 15:53] qodfathr opened #55 "Change headline text"
Please change "Experience the future of Red Hat" to "A free, end-to-end development environment in the cloud".

[2017-03-31 19:51] mindreeper2420 opened #57 "Explore Link?"
@qodfathr Where should the Explore link land when a user clicks on it but is not logged in? Is there a default profile or page that should be set as the landing place?

[2017-03-31 20:50] #55 closed

[2017-03-31 22:18] pmuir opened #58 "Remove token from URL after reading"

[2017-04-01 14:53] qodfathr opened #59 "Remove word "Features" from start of 2nd section"
Please remove the section title text "Features" from that start of 2nd section. It does not add anything, but, worse, that's not the list of Features. The features list is coming, is substantially longer, and will have it's own content page.

[2017-04-01 14:57] qodfathr commented on #57
Let's remove for now. This will take some work.

[2017-04-01 16:35] mindreeper2420 commented on #57
Do you want to keep the 'Features', 'Red Hat Developers', and 'Community' or remove those as well for the time being?

[2017-04-01 17:03] #49 closed

[2017-04-01 19:03] qodfathr commented on #57
RHD can stay and link to d.r.c.
Community is trickier -- it's in the footer with 3 links, so not sure what to do about this one. If 'Community' was it's own section on this page, or even it's own full page, I'd say link there. But as it's current part of a larger div at the bottom of the page, there is really no good way to link this one as it stands.

Remove it.

[2017-04-02 14:58] #35 closed

[2017-04-02 15:04] #57 closed

[2017-04-02 15:04] #59 closed

[2017-04-02 15:07] pmuir commented on #58
Done

[2017-04-02 15:07] #58 closed

[2017-04-02 15:14] mindreeper2420 opened #62 "'Learn More' Points to Where?"
@qodfathr In the second section, each div has a 'Learn More' link. Is there currently a place to point these to (either in the product or elsewhere) or should they be removed for the time being?

[2017-04-02 15:15] pmuir commented on #40
I *suspect* this was caused by caching as the homepage and app work fine for me on Edge 40.15063.0.0. I did hit some caching issues as well, and refreshing got me past them. I suspect Edge's implementation of service workers is different/broken somehow, as that is what normally causes our caching issues.

Can you retry after flushing your browser cache or in a new InPrivate window?

[2017-04-03 13:40] qodfathr commented on #62
This content is being authored.

[2017-04-04 19:54] ldimaggi opened #68 "logging with Firefox presents the user with a blank screen"
This happens at the 18 second mark of the referenced screencast:

https://drive.google.com/open?id=0B1s-ZoxD8FjUcmRqSlpUQXBzT3M

[2017-04-04 19:58] mindreeper2420 commented on #68
@ldimaggi please clear you cache and try again - I am not able to replicate this issue on Firefox.

[2017-04-04 20:04] ldimaggi opened #69 "Enhancement request - to facilitate automated UI creation - add unique (within each page) ID's to UI elements"
The UI at present is difficult to work with for automated test creation - multiple elements share the same ID, path, selectors - for example:

![screenshot 63](https://cloud.githubusercontent.com/assets/642621/24676288/64cd2308-1950-11e7-9be5-7417513e20c8.png)

[2017-04-04 20:18] mindreeper2420 commented on #69
@ldimaggi I believe that this belongs in https://github.com/fabric8io/fabric8-ui. This repo is just for the home page.

[2017-04-05 15:15] qodfathr opened #71 "Revised community copy"
Under "Not just a tool, but an entire community," please change text to read:

Your registration includes a free membership to the Red Hat Developer Program where you get access to Red Hat software for development, books, cheat sheets, and a lot more. Learn more.

[2017-04-05 18:27] ldimaggi opened #72 "On https://prod-preview.openshift.io, user accounts with corresponding RHD accounts fail to create new space"
Steps to recreate:
* Login to https://prod-preview.openshift.io using a github account for which there is a corresponding RHD account
* Attempt to create a new space - this error results:
[code]

See attached screenshot.

NOTE - This problem is NOT being seen if a github account that is not associated with an RHD account is used.

![screenshot from 2017-04-05 14-25-29](https://cloud.githubusercont

[2017-04-05 19:09] alexeykazakov commented on #72
Can you post the full error message?

[2017-04-06 00:27] #39 closed

[2017-04-11 16:38] #71 closed

[2017-04-17 16:29] ldimaggi opened #83 "Logging into prod-preview.openshift.io raises 400 (bad request) exception - No 'Access-Control-Allow-Origin' header is present on the requested resource"
After logging in, this exception is logged:
[code]

[2017-04-17 16:29] ldimaggi commented on #83
Originally logged here:
https://github.com/fabric8io/fabric8-planner/issues/1637

[2017-04-17 16:30] ldimaggi opened #84 "On prod-preview.openshift.io, home page 'create a space' options are not operational"
Workaround - Spaces can be created through the logged in user's profile.

Clicking on the 'create a space' options on the home page does nothing.

[2017-04-17 16:30] ldimaggi commented on #84
Originally logged here:
https://github.com/fabric8io/fabric8-planner/issues/1638

[2017-04-17 16:31] ldimaggi opened #85 "Logged in user cannot view existing spaces on prod-preview.openshift.io"
Selecting 'View all spaces' (under left navigation bar) raises this exception:

[code]

[2017-04-17 16:32] ldimaggi commented on #85
Originally logged here:
https://github.com/fabric8io/fabric8-planner/issues/1639

[2017-04-17 16:32] ldimaggi opened #86 "Logged in user cannot create new space on prod-preview.openshift.io"
Steps to recreate:
* Login
* Select left top navigation bar, under the bar select 'Create space'
* Fill in space create dialog - on saving, this exception is raised:

[code]

[2017-04-17 16:33] ldimaggi commented on #86
Originally logged here:
https://github.com/fabric8io/fabric8-planner/issues/1640

[2017-04-17 16:36] mindreeper2420 commented on #86
@ldimaggi can you file this issue here: https://github.com/fabric8io/fabric8-ui?

[2017-04-17 16:36] mindreeper2420 commented on #85
@ldimaggi can you file this issue here: https://github.com/fabric8io/fabric8-ui?

[2017-04-17 16:37] mindreeper2420 commented on #84
@ldimaggi this issue is part of the work in https://github.com/fabric8io/fabric8-ui and is still in progress. What you are seeing is just the HTML - nothing is wired up yet.

[2017-04-17 16:39] ldimaggi commented on #83
Moved to:
https://github.com/fabric8io/fabric8-ui/issues/757

[2017-04-17 16:39] #83 closed

[2017-04-17 16:40] ldimaggi commented on #84
Moved to:
https://github.com/fabric8io/fabric8-ui/issues/758

[2017-04-17 16:40] #84 closed

[2017-04-17 16:41] ldimaggi commented on #85
Moved from:
https://github.com/fabric8io/fabric8-ui/issues/759

[2017-04-17 16:42] #85 closed

[2017-04-17 16:43] ldimaggi commented on #86
Moved to:
https://github.com/fabric8io/fabric8-ui/issues/760

[2017-04-17 16:43] #86 closed

[2017-04-17 16:44] ldimaggi commented on #72
Moved to:
https://github.com/fabric8io/fabric8-ui/issues/760

[2017-04-17 16:44] #72 closed

[2017-04-17 16:45] ldimaggi commented on #69
Moved to:
https://github.com/fabric8io/fabric8-ui/issues/761

[2017-04-17 16:45] #69 closed

[2017-04-17 16:46] ldimaggi commented on #17
Closing - obsolete issue

[2017-04-17 16:46] #17 closed

[2017-04-17 16:47] ldimaggi commented on #68
Moved to:
https://github.com/fabric8io/fabric8-ui/issues/762

[2017-04-17 16:47] #68 closed

[2017-04-21 11:21] mindreeper2420 commented on #44
@qodfathr created footer to match openshift.com

<img width="1326" alt="screen shot 2017-04-21 at 7 20 47 am" src="https://cloud.githubusercontent.com/assets/4032718/25275408/25d4520a-2663-11e7-8900-4aa3625a04a4.png">

[2017-04-24 20:27] aslakknutsen opened #90 "Reset URL on login errors to avoid recursive error messages in notification"
![screenshot from 2017-04-24 16-26-11](https://cloud.githubusercontent.com/assets/132158/25357182/e4bd3fca-290a-11e7-98d7-69a9cdd9a1c7.png)

[2017-04-24 21:45] luebken opened #92 "Question: How start / test it locally?"
I'm trying to test it locally and would prefer a pure docker option.

 I tried `docker build -t www.openshift.io . -f Dockerfile.builder` but the image doesn't have a command.

When I tried to to run `npm start` from within the container I get the following error:

[code]

[2017-04-24 21:54] joshuawilson commented on #92
This is the web front end, not the app. Do you intend to run this alone?

[2017-04-24 21:55] luebken commented on #92
Yes. I want to change the text.

[2017-04-24 21:57] joshuawilson commented on #92
Have you tried "npm i" and then "npm start"?

[2017-04-24 21:57] luebken commented on #92
Trying that now. But why is that not part of the Docker image?

[2017-04-24 21:59] joshuawilson commented on #92
I don't know but if you fix the docker image then PRs are welcome. :)

[2017-04-26 08:01] catrobson opened #95 "Description for second card a copy of the first one"
"Collaborate at any scale across the development lifecycle, powered by Red Hat OpenShift" used as description for first two cards.

[2017-04-26 11:53] mindreeper2420 commented on #95
fixed in https://github.com/openshiftio/www.openshift.io/pull/96

[2017-04-26 11:54] #44 closed

[2017-04-26 11:54] mindreeper2420 commented on #44
fixed in PR https://github.com/openshiftio/www.openshift.io/pull/93

[2017-04-26 11:59] #95 closed

[2017-04-26 13:20] qodfathr opened #97 "Change Home to Account Home"
![image](https://cloud.githubusercontent.com/assets/16322190/25436500/6a9af270-2a61-11e7-818c-aa83dd6914f1.png)

I recommend changing Home to say Account Home. This would be consistent with the context menu name within OSIO, plus it helps to make it clearer that this link goes to the user's home page and not the marketing home page.

[2017-04-26 15:54] qodfathr opened #98 "Legal changes for footer"
Privacy Statement --> keep as-is
Terms of Use --> Rename to Service Terms, keep link as-is
ADD Terms of Use : link to https://www.redhat.com/en/about/terms-use
All policies and guidelines --> keep as-is

Revised should look like:
Privacy Statement | Service Terms | Terms of Use | All policies and guidelines

[2017-04-26 17:22] mindreeper2420 commented on #98
resolved with PR https://github.com/openshiftio/www.openshift.io/pull/100

[2017-04-26 17:26] mindreeper2420 commented on #97
fixed with PR https://github.com/openshiftio/www.openshift.io/pull/101

[2017-04-26 17:34] #98 closed

[2017-04-26 17:34] #97 closed

[2017-04-27 14:52] qodfathr opened #102 "Update tag line everywhere"
Proper tag line is:

A free, end-to-end, cloud-native development experience.

Please change in hero area (currently: A free, end-to-end development environment in the cloud)

and in "Features" area (currently: An end-to-end team development environment in the cloud)

[2017-04-27 15:53] mindreeper2420 commented on #102
fixed by PR https://github.com/openshiftio/openshift.io/pull/104

[2017-04-27 15:54] mindreeper2420 opened #105 "Change Primary CTA Text"
Update the primary CTA text from 'REGISTER FOR THE PREVIEW' to 'SIGN UP FOR THE PREVIEW'

[2017-04-27 15:56] mindreeper2420 commented on #105
fixed by PR https://github.com/openshiftio/openshift.io/pull/106

[2017-04-27 17:05] #102 closed

[2017-04-27 19:08] #105 closed

[2017-04-29 12:28] rawlingsj opened #110 "springboot basic quickstart fails in pipeline: Server credentials with ID "ossrh" not found!"
Looks like there's some default Red Hat distribution details somewhere which means `mvn deploy` is unable to transfer artifacts to the content repo.

Here's the project that was generated https://github.com/rawlingsj/jr-demo111

[code]

[2017-04-29 16:02] harrymower opened #111 "Setup Wizard - Next Button goes nowehre after specifying github repo"
![image](https://cloud.githubusercontent.com/assets/1022371/25556892/b5b9f25a-2cd3-11e7-99b7-a18b31710997.png)

[2017-04-29 16:06] harrymower opened #112 "After completing the wizard, the wizard get started menu should close and go back to the dashboard (or somewhere)"
![image](https://cloud.githubusercontent.com/assets/1022371/25556912/3409c888-2cd4-11e7-8cf7-80309bd1089b.png)

[2017-04-29 18:46] pmuir opened #113 "Doing an import codebase and selecting the default options seems to kick off master builds continually"
It looks like this registers a webhook for all events on github, which in turn is kicking off a build for any change to the github repo, not just pushes to master.

Note that this wizard allows you to select CI as well as build master, which we ticked when importing this repo.

@jstrachan @rawlingsj ^^^

## Impacts
- [ ] #2085 Getting Started Quickly with a Framework - from Import, to IDE, to Depl

[2017-04-29 19:38] joshuawilson commented on #111
@mitchharpur please look at this.

[2017-04-29 19:43] joshuawilson commented on #112
@catrobson Can you look at updating the flow for this?

[2017-04-29 21:10] catrobson commented on #112
Yes, it is supposed to bring you to the space dashboard after completing the QuickStart so you can see your project building.  It is also supposed to do some other things that are currently not implemented, like add your new codebase automatically.  I'll capture a workflow with all of the expected interactions when I get in front of a laptop tonight so we have that documented.  The screen flow lan

[2017-04-29 23:21] joshuawilson commented on #112
@mitchharpur can you take this on when @catrobson completes the designs and flow.

[2017-04-30 03:36] catrobson commented on #112
Flow:
![gettingstarted](https://cloud.githubusercontent.com/assets/3739227/25561212/9c71a138-2d34-11e7-9e7f-73deca98cf10.png)

[2017-05-01 13:39] jfchevrette opened #119 "It is possible to create a space without selecting a template"
When a user creates a space, the _Template_ drop-down is empty by default. It should not be possible to create a space without a template.

The field should be marked mandatory to make sure the user selects one. We can also select a template by default.

![create-space-empty-template](https://cloud.githubusercontent.com/assets/3001/25580792/ac93a5fc-2e51-11e7-8e46-fc076868adaf.png)

[2017-05-01 13:40] jfchevrette opened #120 "Notifications are sometimes hidden behind other overlays."
Should we make the notifications appear on top of everything else?

![error-overlay](https://cloud.githubusercontent.com/assets/3001/25580893/3a8ed994-2e52-11e7-9899-ef82e55b31d7.png)

[2017-05-01 15:08] maxandersen opened #122 "jenkins tenant showing warning/errors after update"
Saturday @aslakknutsen upgraded my tenants which I think was the trigger for me now having errors/warnings in jenkins like this:

![max_rydahl_andersen_ _mirror_ _master__1_console__jenkins_](https://cloud.githubusercontent.com/assets/54129/25583003/3bf04d84-2e90-11e7-87e4-fd2a990b20d3.png)

@jstrachan asked for output of `ls -al /var/lib/jenkins/plugins` on the jenkins pod:

[code]

[2017-05-01 15:23] maxandersen opened #123 "created jenkinsfile refer to @master of library files"
generated projects refer to `@Library('github.com/fabric8io/fabric8-pipeline-library@master')` rather than a specific version.

I would have expected a specific version or possibly a branch where only minor issues would be changing ?

[2017-05-02 14:44] fbricon opened #127 "Profile page is an hard coded mockup"
Opening https://openshift.io/fbricon%40redhat.com shows a mockup profile page

<img width="878" alt="screen shot 2017-05-02 at 10 42 46 am" src="https://cloud.githubusercontent.com/assets/148698/25623072/4e3c2686-2f24-11e7-93eb-e8ba54e38dbf.png">

[2017-05-02 14:50] fbricon opened #128 "Opening a new bug shows overlaying bug status menu"
Opening a new bug shows overlaying bug status menu, hiding the OK/Validation button.

<img width="723" alt="screen shot 2017-05-02 at 10 46 34 am" src="https://cloud.githubusercontent.com/assets/148698/25623327/cb11d624-2f24-11e7-82ec-494aa333722d.png">

Tested on Chrome 57.0.2987.133 (64-bit)

[2017-05-02 14:54] fbricon opened #129 "Avatar no displayed when assigning someone to an issue"
This is a minor issue, but when assigning a user to a bug, the avatar is shown during the user lookup, but then disappears when actually selecting that user:

![may-02-2017 10-53-03](https://cloud.githubusercontent.com/assets/148698/25623789/c18fb26e-2f25-11e7-8d48-d7f3801ebb93.gif)

[2017-05-02 14:55] mindreeper2420 commented on #128
this is remedied in an upcoming release

[2017-05-02 15:00] fbricon opened #130 "Can't open pipeline view. Navigation fails silently"
See
![may-02-2017 10-59-01](https://cloud.githubusercontent.com/assets/148698/25624121/79471460-2f26-11e7-894a-c7d9fbfa3d61.gif)

[2017-05-02 15:04] fbricon commented on #130
This seems caused by something gone bad on the openshift side I guess. From the chrome dev tools I can see :

[code]
...which is an orthogonal problem. There should be some user feedback, explaining the action can't be done

[2017-05-02 15:10] fbricon commented on #130
Additionally, none of the menus on the left of the pipeline work. Similar errors are shown in the browser console.

Deleting the pipeline fails with:
[code]

[2017-05-02 15:17] fbricon opened #131 "Creating a new space doesn't filter Github repos properly"
I can't type my repository name in the filter field, it's readonly apparently. Which forces me to scroll through my hundreds of repo.
<img width="572" alt="screen shot 2017-05-02 at 11 13 06 am" src="https://cloud.githubusercontent.com/assets/148698/25624880/ce75c240-2f28-11e7-9ab1-c77d98549774.png">

Moreover, all repositories display the same hard-coded description (`The regexp pattern to match

[2017-05-02 15:22] fbricon opened #132 "Deleting a space doesn't delete associated pipelines"
After deleting a space, I still have a zombie pipeline still trying to build. It's possible the pipeline state is in a borked state that prevents it from being deleted, I have no idea, but in that case the deletion process should be more robust.

[2017-05-02 15:28] fbricon opened #133 "Invalid link to Home from the pipeline history page"
Clicking on the `Home` link from the Pipeline history (`https://openshift.io/<user>/<space>/create/pipelines/<repo>/history`) page fails:

<img width="946" alt="screen shot 2017-05-02 at 11 25 33 am" src="https://cloud.githubusercontent.com/assets/148698/25625313/2fdc9a12-2f2a-11e7-9a08-2820d0c7e90c.png">

[2017-05-02 15:31] baijum opened #134 "Existing OpenShift account holders not able to access"
From the issue reported at HN:
https://news.ycombinator.com/reply?id=14246981
[code]

[2017-05-02 15:34] baijum commented on #134
One more report : https://news.ycombinator.com/item?id=14247163

[2017-05-02 15:45] alexeykazakov commented on #134
https://issues.jboss.org/browse/RHDENG-1320

[2017-05-02 15:53] fbricon opened #135 "Homepage doesn't scale on mobile phone screen"
![screenshot_20170502-115101](https://cloud.githubusercontent.com/assets/148698/25626549/df63a1da-2f2d-11e7-9258-5ed4f3e51bf9.png)

[2017-05-02 16:32] fbricon opened #137 "Collaborators page has wrong email css when hovering over user"
Minor issue when hovering over a user in the collaborators page
![may-02-2017 12-29-46](https://cloud.githubusercontent.com/assets/148698/25628205/6155f29c-2f33-11e7-9efa-4fc7267093d6.gif)

[2017-05-02 16:42] fbricon opened #138 "Landing page link to user doc 404s"
`Learn more using our documentation.` on the [home page](https://openshift.io/_home) opens https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide which is not reachable

[2017-05-02 16:50] fbricon opened #139 "Developer poll seems hard coded"
Developer poll on https://openshift.io/_home seems hard coded. It resets after the page is reloaded. Seems like a left over mockup piece. Either make it functional or remove it, since the website is now live.

[2017-05-02 17:15] fbricon commented on #130
Now, clicking on the Build link, I get a webpack related error

[code]

[2017-05-02 17:19] fbricon opened #140 "No way to open the OpenShift console or Jenkins?"
There's no link to the openshift console that I could find, or to Jenkins.

I'm trying to figure out how to fix my zombie pipelines from #130

[2017-05-02 17:34] fbricon commented on #140
I finally found a link to the OpenShift Console from the Pipelines page. Dunno how I missed it. Maybe it could be made more prominent?

[2017-05-02 18:20] fbricon opened #141 "Can't delete *-jenkins project in OpenShift"
All projects can be deleted in OpenShift, except for `Project 'fbricon-jenkins'' could not be deleted.User "fbricon@redhat.com" cannot delete projects in project "fbricon-jenkins"`

Behaviour should be consistent for all OpenShift projects

[2017-05-02 18:53] fbricon opened #142 "Creating/Deleting spaces doesn't update the top left menu"
Creating/Deleting spaces doesn't update the top left menu, which can lead to situations like this, where the menu is missing spaces :
<img width="544" alt="screen shot 2017-05-02 at 2 52 05 pm" src="https://cloud.githubusercontent.com/assets/148698/25634021/24711e1a-2f47-11e7-97f1-cf4df5f3b500.png">

[2017-05-02 19:04] fbricon opened #143 "No way to recover from *cough* accidental *cough* OpenShift project deletion"
Because this user doesn't know what he's doing, (following #130 and #141), some critical, missing OpenShift projects prevent new spaces from being operational, even though a git project was successfully created

<img width="469" alt="screen shot 2017-05-02 at 2 56 27 pm" src="https://cloud.githubusercontent.com/assets/148698/25634320/23fb470c-2f48-11e7-9803-f3e5b47e0839.png">

Either openshift.io

[2017-05-02 20:46] alexeykazakov commented on #134
Fixed upstream - https://issues.jboss.org/browse/RHDENG-1320

[2017-05-03 04:19] debianmaster opened #148 "tryng launch.openshift.io fails w/ minishift"
Tried this tutorial w/ minishift:  http://appdev.openshift.io/docs/minishift-installation.html
And everything simply fails with following errors trying to pull images
[code]

[2017-05-03 15:57] edewit commented on #148
@debianmaster could you give it a go with the version from master? if you use the script:
[code]
or manually past in this template `https://raw.githubusercontent.com/openshiftio/launchpad-templates/master/openshift/launchpad-template.yaml`

[2017-05-03 16:16] rawlingsj opened #150 "create quickstart sometimes fails: git-receive-pack not found"
Creating a new project via the forge wizard sometimes throws this error:

`message = Failed to import project to https://github.com/rawlingsj/jr-demo320.git. org.eclipse.jgit.api.errors.TransportException: https://github.com/rawlingsj/jr-demo320.git: https://github.com/rawlingsj/jr-demo320.git/info/refs?service=git-receive-pack not found
               status = FAILED`

[2017-05-03 19:55] gastaldi commented on #148
This may be related to https://github.com/openshiftio/appdev-planning/issues/29

[2017-05-04 10:59] baijum opened #153 "Bind Escape button press to close the screenshots"
Once the screenshot is maximized, to minimize it again there is a cross button towards top-right. It would be nice if `Esc` key press is bound to do the same operation.

[2017-05-05 04:40] debianmaster commented on #148
Not working....!!
[code]

[2017-05-05 07:31] chmouel opened #154 "space count is wrong"
I have played around with openshift.io and creating/deleting around spaces (on openshift.online  or openshift.io).

It seems that the number of spaces available on the tab as seen in the screenshot as I have no spaces but it still list it as 2 :

![image](https://cloud.githubusercontent.com/assets/98980/25736997/a249a0e8-3175-11e7-87e9-60259a7fb133.png)

[2017-05-05 07:35] chmouel opened #155 "OpenShift project is not accecible"
Maybe I am missing some things but when creating a new space I am getting this error :

![image](https://cloud.githubusercontent.com/assets/98980/25737056/f85357ae-3175-11e7-88fa-c2a7da49d10b.png)

[2017-05-05 08:10] edewit commented on #148
I think you need to set `LAUNCHPAD_MISSIONCONTROL_OPENSHIFT_API_URL`

[2017-05-08 12:55] patrickm-rh opened #156 "Incorrect Performance Co-Pilot identifier on landing page"
On the main landing page [https://openshift.io] under "What is OpenShift.io (OSIO)?" please change
"Performance Code Pilot" to "Performance Co-Pilot".

[2017-05-16 19:22] adisakala opened #162 "Landing page - abrupt end of paragraph"
On home page, www.openshift.io, The following paragraph is incomplete. It is missing a word at the end.

Allow development teams be more confident in the technology decisions they make.
OpenShift.io helps developers make better decisions. It provides actionable recommendations and insights around the software components developers use. OpenShift.io Analytics applies machine learning algorithms bas

[2017-05-17 13:55] burrsutter opened #163 "Delete on Pipelines has no UI to indicate it is deleting"
this page https://openshift.io/rhn-engineering-bsutter/myspace/create/pipelines

the delete function
https://www.screencast.com/t/VniafQAW3Ohh

selecting delete seemingly does nothing

https://screencast.com/t/X5jikZYqm

[2017-05-17 14:02] burrsutter opened #164 "Usability issue with Welcome Emails"
You first receive a Welcome to OpenShift.com
https://screencast.com/t/Nz3zaEZFWa2
then you receive a Welcome to OpenShift.io
https://screencast.com/t/GWOyz1WVxgoP
which email does the user follow?
where do I go for help?
this is a no-reply email which always sucks

Also, the openshift.com email refers to something that is NOT my username.  It says "rhn-engineering-bsutter" while I used "bsutter@re

[2017-05-17 14:11] pmuir commented on #164
Unfortunately rhn-engineering-bsutter is your username, but you logged in using your email 'bsutter@redhat.com'. We have a page at first login which allows you to change your username, but not all the backend systems are using that new username yet - it will be online soon.

@luciddreamz we should rationalize those emails...

[2017-05-17 14:15] rawlingsj commented on #150
duplicate of https://github.com/fabric8io/fabric8-generator/issues/11

[2017-05-17 14:15] #150 closed

[2017-05-17 14:35] burrsutter opened #165 "Planner: New Task, drop-down list box overlays the text field"
see screenshot
https://screencast.com/t/nw4hCfKId

Browser scaled to 100%
MacOS
Chrome
screen resolution: Default for Display (built-in Retina Display)

[2017-05-17 14:37] burrsutter commented on #165
scaling to 75% (command -) allows me to hit the blue button
https://screencast.com/t/Znyt0yxkPeG

[2017-05-17 18:17] pmuir opened #168 "Wire in Status monitor"
status-api is containerized and running in the dev cluster at http://statusapi-apifun.dev.rdu2c.fabric8.io/status

source : https://github.com/openshiftio/status-api

We need to get this delivered to dsaas OSD, and also wired into the UI for both the landing page and fabric8-ui

[2017-05-17 18:22] pmuir commented on #168
/cc @mindreeper2420

[2017-05-17 23:04] burrsutter opened #171 "usability issue, when logged in and visiting the openshift.io main page, where are my projects?"
https://screencast.com/t/mNVwutZBk

Under "Account Home", but that is not obvious

[2017-05-19 16:33] omajid commented on #171
I had the same reaction. I was logged in, didn't see my projects, so I scrolled down to the bottom of https://openshift.io and clicked "Log in" again, which asked for my credentials *again* and then brought me back to https://openshift.io without showing me my projects. I thought "Account Home" was for managing my account, not to actually work on my projects.

[2017-05-19 16:52] MikGue opened #172 "OSIO homepage renders poorly on Mac/Chrome"
While displaying on Mac/Firefox is fine, the OSIS home page does not display properly on Mac/Chrome.  See attached pic.
![screen shot 2017-05-19 at 12 04 30 pm](https://cloud.githubusercontent.com/assets/10928738/26258298/0ab48ebe-3c92-11e7-9f00-556142c4a72c.png)

[2017-05-20 23:49] burrsutter opened #173 "2 OSIO accounts, reusing github account, stuck"
The screen at https://openshift.io/_gettingstarted?wait=true will simply get stuck if the github account had previously been used with openshift.io.

You will see the experience about half way through this video
http://www.screencast.com/t/2N83qKcaZnR

[2017-05-20 23:59] burrsutter opened #174 ""Saving Work Item" spinnings forever"
https://screencast.com/t/oV50taQ9

Though the workitem appears to be created and landed
https://openshift.io/burrsutter/myspace/plan/detail/817

[2017-05-21 02:05] mindreeper2420 commented on #162
fixed with PR https://github.com/openshiftio/openshift.io/pull/175

[2017-05-21 17:17] burrsutter opened #177 "Tests java.util.concurrent.TimeoutException"
Using the Vert.x Basic booster/quickstart, generated by the main wizard (pick your tech stack/pipeline).   The webhook does pick up changes to the repo and kicks off a pipeline.  I have used both the github UI to make a change as well as Che, however, tests always fail with a timeout.

Here is the project:
https://github.com/burrsutter/myvertxbasic10

and the Jenkins logging

---------------------

[2017-05-22 01:56] joshuawilson commented on #132
This issue was moved to fabric8io/fabric8-ui#1344

[2017-05-22 01:57] joshuawilson commented on #133
This issue was moved to fabric8io/fabric8-ui#1345

[2017-05-22 01:59] joshuawilson commented on #137
This issue was moved to fabric8io/fabric8-ui#1346

[2017-05-22 02:00] joshuawilson commented on #138
This issue was moved to fabric8io/fabric8-ui#1347

[2017-05-22 02:01] joshuawilson commented on #139
It was a space filler and there are UX plans to replace it.

[2017-05-22 02:01] joshuawilson commented on #139
This issue was moved to fabric8io/fabric8-ui#1348

[2017-05-22 02:02] joshuawilson commented on #130
This issue was moved to fabric8io/fabric8-ui#1349

[2017-05-22 02:03] joshuawilson commented on #140
The UI has changed even further and now each pipeline has a link to the OpenShift console.

[2017-05-22 02:03] #140 closed

[2017-05-22 02:04] joshuawilson commented on #141
This issue was moved to fabric8io/fabric8-ui#1350

[2017-05-22 02:06] joshuawilson commented on #142
This issue was moved to fabric8io/fabric8-ui#1351

[2017-05-22 02:07] joshuawilson commented on #143
This issue was moved to fabric8io/fabric8-ui#1352

[2017-05-22 02:09] joshuawilson commented on #134
@baijum can you please verify if this is still an issue?

[2017-05-22 02:11] joshuawilson commented on #154
This issue was moved to fabric8io/fabric8-ui#1353

[2017-05-22 02:12] joshuawilson commented on #155
This issue was moved to fabric8io/fabric8-ui#1354

[2017-05-22 02:22] joshuawilson commented on #163
This issue was moved to fabric8io/fabric8-ui#1355

[2017-05-22 02:24] joshuawilson commented on #165
This issue was moved to fabric8io/fabric8-planner#1914

[2017-05-22 02:26] joshuawilson commented on #171
This issue was moved to fabric8io/fabric8-ui#1356

[2017-05-22 02:27] joshuawilson commented on #173
This issue was moved to fabric8io/fabric8-ui#1357

[2017-05-22 02:28] joshuawilson commented on #174
This issue was moved to fabric8io/fabric8-planner#1915

[2017-05-22 02:32] joshuawilson commented on #177
This issue was moved to fabric8io/fabric8-ui#1358

[2017-05-22 02:38] baijum commented on #134
@joshuawilson I don't have an account which I can use to verify this particular issue. It was reported by someone in hacker news.

[2017-05-22 02:54] joshuawilson commented on #134
@baijum you can create a new account with a new email.

[2017-05-22 02:56] joshuawilson commented on #110
This issue was moved to fabric8io/fabric8-ui#1359

[2017-05-22 02:57] joshuawilson commented on #111
This issue was moved to fabric8io/fabric8-ui#1360

[2017-05-22 02:58] joshuawilson commented on #112
This issue was moved to fabric8io/fabric8-ui#1361

[2017-05-22 02:59] joshuawilson commented on #113
This issue was moved to fabric8io/fabric8-ui#1362

[2017-05-22 03:00] joshuawilson commented on #119
This issue was moved to fabric8io/fabric8-ui#1363

[2017-05-22 03:01] joshuawilson commented on #120
This issue was moved to fabric8io/fabric8-ui#1364

[2017-05-22 03:02] joshuawilson commented on #122
@maxandersen is this still an issue or can we close it?

[2017-05-22 03:03] joshuawilson commented on #123
This issue was moved to fabric8io/fabric8-ui#1365

[2017-05-22 03:03] joshuawilson commented on #127
This issue was moved to fabric8io/fabric8-ui#1366

[2017-05-22 03:04] joshuawilson commented on #129
This issue was moved to fabric8io/fabric8-planner#1916

[2017-05-22 03:05] joshuawilson commented on #131
This issue was moved to fabric8io/fabric8-ui#1367

[2017-05-22 03:53] joshuawilson opened #178 "Typos and incomplete content on the landing page for openshift.io"
_From @Preeticp on May 18, 2017 13:55_

There seem to be a few typos and incomplete sentences in the content on the OSIO landing/login page. I realize this was done in a hurry, here are a few things I noticed and some suggestions:

1. In the "Makes it simple to create containerized dev, test and staging environments." box:
The sentence: "Pipeline definitions are written using a Groovy DSL providin

[2017-05-22 04:36] baijum commented on #134
@joshuawilson I used another account and it's working now. This issue can be closed.

[2017-05-22 12:49] jstrachan commented on #177
is an issue with the underlying quickstart from RHOAR?
https://github.com/openshiftio-vertx-boosters

[2017-05-22 13:24] burrsutter commented on #177
https://github.com/openshiftio-vertx-boosters/vertx-http-booster
after a git clone and "mvn test" it fails for me locally

[2017-05-22 14:20] mindreeper2420 commented on #156
fixed with PR: https://github.com/openshiftio/openshift.io/pull/179

[2017-05-22 14:30] mindreeper2420 commented on #178
fixed with PR: https://github.com/openshiftio/openshift.io/pull/180

[2017-05-22 14:31] mindreeper2420 commented on #172
this should be remedied once PR https://github.com/openshiftio/openshift.io/pull/176 is implemented.

[2017-05-22 20:42] #134 closed

[2017-05-22 20:53] joshuawilson commented on #172
merged #176

[2017-05-22 20:53] #172 closed

[2017-05-24 14:02] #110 closed

[2017-05-24 14:09] bit4man opened #181 "Profile page shows events from other users"
When going to https://openshift.io/<username> I'm seeing content from other users in the activity window. For instance my username is plarsen@redhat.com and I'm seeing this:

ryhanych's recent activity

    @jryhanych added BalloonPopGame space Just now

    @jryhanych added BalloonPopGame space Just now

    @jryhanych added BalloonPopGame space Just now

[2017-05-25 02:08] joshuawilson commented on #181
There is a fix for this in staging and should be in production soon.

[2017-05-25 07:48] danieloh30 opened #182 "Broken link to documentation at homepage"
Can't link to documentation[1] at homepage
[1]https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide

[2017-05-25 15:39] jfchevrette opened #183 "OS project name mapping changed when github profile email address changed"
I have had an account on OSIO for a couple of weeks. When I logged in to my account for the first time, it created a bunch of projects under my tenant account. Project are called 'jf-cron0' (, -che, -jenkins, -test, -run, -stage). I assume this is because my github email address is 'jf.cron0@gmail.com'. I was able to successfully deploy code and workspaces in the past. (last time ~2 weeks ago)

To

[2017-05-25 18:55] joshuawilson commented on #183
You may try updating your tenant.
Select the dropdown at your username
Select Profile
Click on the Update Profile button
Scroll to the bottom and click on the Update Tenent button

[2017-05-25 19:05] jfchevrette commented on #183
@joshuawilson I tried that, didn't seem to do anything. There was no feedback when I clicked the button.

[2017-05-25 20:22] sbose78 opened #184 "Creating a new pipeline collaterally re-recreates deleted pipelines"
Steps to reproduce :

1. Create space.

2. Create 3-4pipelines

3. I deleted all but 1 from the openshift online webconsole because the the 'delete pipeline' option in openshift.io returned a HTTP 405
[code]

4.  So I tried deleting them from OpenShiftOnline , which worked.
5. I checked the Pipelines page on OpenShift.io , the deleted ones were gone - all good till now.
6. I add a new pipeline usi

[2017-05-26 02:25] joshuawilson commented on #184
This issue was moved to fabric8io/fabric8-ui#1403

[2017-05-26 02:25] #184 closed

[2017-05-29 13:37] danieloh30 opened #185 "Not working "Plan out my space" and "Create new code from scratch" in welcome popup"
During creating new space, we can see the popup window as below screenshot. But when we click icons related to "Plan out my space" and "Create new code from scratch", it's not working but only "Import exist code" and "Select technology stack and pipeline" .

![screenshot from 2017-05-29 22-33-37](https://cloud.githubusercontent.com/assets/14066977/26551742/e740010e-44be-11e7-985f-d3e6cea09c92.png)

[2017-05-30 06:57] luebken opened #186 "Link to stack analysis report missing"
<img width="1350" alt="screen shot 2017-05-29 at 16 53 00" src="https://cloud.githubusercontent.com/assets/53055/26571368/f062aec4-4515-11e7-9abb-10e23e436aa1.png">

I expected a link / button to stack analysis report under the "Build Release" stage.

[2017-05-30 07:16] miteshvp commented on #186
Yes, I have seen CD pipeline works just fine. Its the CI pipeline that does not report the said button.

[2017-05-30 09:59] arunkumars08 commented on #186
As far as I have checked, the authentication token seems to have expired. Thus resulting in a 401 while hitting Bayesian's endpoint from Jenkins.

[2017-05-30 19:40] joshuawilson commented on #185
This issue was moved to fabric8io/fabric8-ui#1417

[2017-05-31 15:14] joshuawilson commented on #174
fixed https://github.com/fabric8io/fabric8-planner/pull/1939

[2017-05-31 15:14] #174 closed

[2017-06-01 09:32] luebken opened #188 "Unresponsive script"
Trying to open with Firefox on a Mac I got the following error:

[code]
<img width="1637" alt="screen shot 2017-06-01 at 11 29 40" src="https://cloud.githubusercontent.com/assets/53055/26673645/ee11faf4-46bd-11e7-83a7-1b7b2f20c2e9.png">

[2017-06-01 11:21] maxandersen commented on #188
I don't get unresponsive script - I just don't get it loading at all on Firefox. Very weird.

Works for me in Chrome and Safari which would be the workaround.

Can you tell me if that works for you ?

also, I just used openshift.io - did you try another url ?

[2017-06-01 12:01] luebken commented on #188
* opend https://openshift.io/

[2017-06-01 12:07] luebken commented on #188
I was able to reproduce it: I opened the pipeline history in a new tab.

<img width="1677" alt="screen shot 2017-06-01 at 14 05 04" src="https://cloud.githubusercontent.com/assets/53055/26678986/7f65ccbe-46d3-11e7-9d45-524e27dfd2fa.png">

[2017-06-01 20:49] joshuawilson commented on #188
This issue was moved to fabric8io/fabric8-ui#1434

[2017-06-02 07:46] samuzzal-choudhury commented on #186
@luebken this is in working condition now. To test, go to your OSO profile > Update profile > Update tenant. Related issue https://github.com/fabric8-analytics/fabric8-analytics-jenkins-plugin/issues/2.  CC: @arunkumars08

[2017-06-02 13:57] luebken commented on #188
Ack. I'm subscribed to the other one. So fine with closing this one.

[2017-06-02 14:09] luebken opened #189 "Pipelines view plank"
- I've switched to the pipelines tab.
- Started a new pipeline via the kebab menu.
- As nothing happend I refreshed the page.
- The resulting page was blank.

<img width="1348" alt="screen shot 2017-06-02 at 16 03 28" src="https://cloud.githubusercontent.com/assets/53055/26729419/dc4a9a1a-47ad-11e7-9f31-6e33cdbc2890.png">

[2017-06-02 14:40] qodfathr opened #190 ""No Activity" message on profile page has improper case for text "OpenShift.io""
Go to profile page for an account with no activity. (/openshift.io/userid)
It will read similar to:

Please capitalize S so as to change to Open**S**hift.io
![image](https://cloud.githubusercontent.com/assets/16322190/26730624/91475266-477f-11e7-8d81-5248135dacfb.png)

[2017-06-02 16:54] joshuawilson commented on #189
This issue was moved to fabric8io/fabric8-ui#1436

[2017-06-02 18:32] #190 closed

[2017-06-05 14:30] pkettman opened #191 "Pipeline(s) not shown after creation over 'Add to Space'"
Steps:
Created a new project/codebase over 'Add to Space' with a selected pipeline
The pipeline is not available in OSIO Pipelines list

Reason:
The OSIO codebase was not linked to an expected default namespace pkettman, but to namespace pke-test1, which I had created previously while I testing the OSO.

https://gist.github.com/pkettman/b722228ae7bb67f282a7d1cc93d03711

[2017-06-05 14:43] pkettman opened #192 "Can't remove a codebase"
The codebases can't be removed over the OSIO GUI. When I clean them on OS over its concole, the OSIO GUI looks strange, see the picture.
![obrazek](https://cloud.githubusercontent.com/assets/26871874/26788622/235fabb8-4a0e-11e7-9a1a-9b933852477b.png)

[2017-06-05 16:34] joshuawilson commented on #191
This issue was moved to fabric8io/fabric8-ui#1445

[2017-06-05 16:36] joshuawilson commented on #192
This issue was moved to fabric8io/fabric8-ui#1446

[2017-06-06 07:28] luebken commented on #186
I was able to re-run the pipeline but the link to the build report is still missing.

<img width="1459" alt="screen shot 2017-06-06 at 09 26 29" src="https://cloud.githubusercontent.com/assets/53055/26818315/77bf8c64-4a9a-11e7-8457-b6507f3e4f50.png">

[2017-06-06 09:09] samuzzal-choudhury commented on #186
@luebken do clicking on "View Log" for the build and searching for "bayesian" show you a 401 error in the Jenkins console log? If yes, the tenant has not been updated for you. In that case, we can conclude that your tenant did not update.

[2017-06-06 10:07] luebken commented on #186
Did another "update tenant" round. Now it works.

@samuzzal-choudhury thanks.

[2017-06-06 10:07] #186 closed

[2017-06-06 13:20] burrsutter opened #193 "Service "12-vertxbasic" is invalid: metadata.name: Invalid value:"
Projects that begin with numbers fail in the Integration Test phase of the Jenkins build.

https://gist.github.com/burrsutter/f48fac019c3e3b371d9f51b9b212ee91

Workaround is to put the numbers later in the string like "vertx12basic".  The reason I moved the numbers earlier in the string is because the back end of the string is cut-off in the UI.

https://screencast.com/t/ilxblIBSplA

[2017-06-06 13:23] jstrachan commented on #193
yeah - the wizard should disallow project names starting with numbers as they are invalid as kubernetes names for things like services

[2017-06-06 14:57] burrsutter opened #194 "workitem UI: New WI, Area should default to current space"
A new WI (Task), Area defaults to None
https://screencast.com/t/Monc5lhiuH

[2017-06-06 14:58] burrsutter opened #195 "workitem UI: edit WI (Task), Assignees have broken icon"
https://screencast.com/t/Monc5lhiuH

Note the icon beside Assignees

[2017-06-06 14:59] burrsutter opened #196 "workitem UI: Edit WI (Task), recreates the task"
https://screencast.com/t/b11xv8PGF

Editing the Description causes a new WI to be created

[2017-06-06 15:02] burrsutter opened #197 "Space dashboard (Analyze), width of Codebases too narrow, vertical too short"
https://screencast.com/t/eLrhN87RCJ

My codebase list is too narrow and too short, it should also be sorted by last accessed date descending (most recent up top).

The current UI widget is essentially useless

[2017-06-06 15:23] burrsutter opened #198 "Create, codebases UI should be sorted, most recent"
https://screencast.com/t/lukyPpyId

Unclear what the current sorting criteria are
The drop-down list box and the ascending/descending UI do nothing
https://screencast.com/t/tLNChNkpVmB

[2017-06-06 15:42] burrsutter opened #199 "Che: Run Command for Vertx (compile vertx:run)"
https://screencast.com/t/3xjfAjqZJxR

Che should have an out-of-the-box run command (it has build and test-compile by default).  The run needs to be "compile vertx:run" to properly leverage the vert.x hot redeploy.   I then use Terminal to curl the endpoint
https://screencast.com/t/Ye7PLsZuwbZd

[2017-06-06 18:30] joshuawilson commented on #193
This issue was moved to fabric8io/fabric8-ui#1454

[2017-06-06 18:31] joshuawilson commented on #194
This issue was moved to fabric8io/fabric8-planner#1971

[2017-06-06 18:31] joshuawilson commented on #195
This issue was moved to fabric8io/fabric8-planner#1972

[2017-06-06 18:32] joshuawilson commented on #196
This issue was moved to fabric8io/fabric8-planner#1973

[2017-06-06 18:34] joshuawilson commented on #197
This issue was moved to fabric8io/fabric8-ui#1455

[2017-06-06 18:34] joshuawilson commented on #198
This issue was moved to fabric8io/fabric8-ui#1456

[2017-06-06 19:07] joshuawilson commented on #199
@gorkem this one is for you

[2017-06-06 23:41] burrsutter opened #200 "create workspace sometimes never changes its label"
After a dozen tests today, I found the Create Workspace "button" does not always switch to Open Workspace after the workspace is created.
http://www.screencast.com/t/wUNyuvKlYXBk

my workaround is to find the Che URL and navigate to the workspace via the Che Dashboard
https://screencast.com/t/PhVMVAfr

[2017-06-06 23:44] mishaone commented on #182
The link is correct but the documentation is (intentionally) not yet published.

[2017-06-06 23:49] burrsutter opened #201 "Che: context assist HTTP 401"
https://screencast.com/t/549bv3F2

Using the Vert.x Basic template and
router.
looking at the methods of the Vert.x router - they all pop-up HTTP 401

[2017-06-07 01:26] joshuawilson commented on #200
This issue was moved to fabric8io/fabric8-ui#1460

[2017-06-07 01:27] joshuawilson commented on #201
This issue was moved to fabric8io/fabric8-ui#1461

[2017-06-07 02:06] burrsutter opened #202 "Che: Terminal Tab default focus"
When I click on the Terminal tab header, I also have to click into the window to give it focus and a cursor.  This is particularly annoying when switching command tabs.  How about the Terminal tab gain focus/cursor by default when clicked on and brought to the foreground.

[2017-06-07 02:07] burrsutter opened #203 "Che: Run has Preview"
I created a "compile vertx:run" command and it pops up a preview link of
http://tomcat8-y5z8fqcsn2bgyg80-burrsutter-che.8a09.starter-us-east-2.openshiftapps.com//vertxbasic23/src/main/java/io/openshift/booster/HttpApplication.java
which is not valid, plus it says "tomcat" and my Vert.x app is totally not Tomcat.
https://screencast.com/t/0TcsLmpsx

[2017-06-07 02:30] joshuawilson commented on #202
@gorkem here is another Che issue.

[2017-06-07 02:31] joshuawilson commented on #203
@gorkem - che issue

[2017-06-07 04:39] joshuawilson commented on #203
This issue was moved to redhat-developer/rh-che#92

[2017-06-07 04:40] joshuawilson commented on #202
This issue was moved to redhat-developer/rh-che#93

[2017-06-07 04:41] joshuawilson commented on #201
This issue was moved to redhat-developer/rh-che#94

[2017-06-07 04:45] joshuawilson commented on #199
This issue was moved to redhat-developer/rh-che#95

[2017-06-07 04:45] #188 closed

[2017-06-07 04:46] #178 closed

[2017-06-07 04:50] #162 closed

[2017-06-07 10:28] luebken opened #204 "Springboot CRUD quickstart failed to build"
Reproduce:
* Add new project to space via quickstart
* Select Springboot CRUD
* Build in pipeline fales.

This is the repo that I worked with: I've created: https://github.com/luebken/test-springboot-crud

This is the of my jenkins log:
[code]

[2017-06-07 14:05] luebken opened #205 "Bug: Build report doesn't show the declared licenses"
In the stack report the dependencies should report the licenses declared by the project.

## Associated test-cases:

- Test-1704E469-02

  - io.vertx/vertx-core/3.4.1 should report Apache 2.0, EPL 1.0

- Test-1704E469-03

  - io.vertx/vertx-web/3.4.1 should report Apache 2.0, EPL 1.0

- Test-1704E469-04

  - org.springframework/spring-core/4.3.3.RELEASE should report Apache 2.0

## Associated expe

[2017-06-07 16:54] joshuawilson commented on #204
This issue was moved to fabric8io/fabric8-ui#1466

[2017-06-07 17:16] burrsutter opened #206 "Jenkins: java.lang.OutOfMemoryError: Metaspace"
https://gist.github.com/burrsutter/8ec379579b07115df5e017a2a0cd45cf
workaround, restart the Jenkins pod
oc scale dc/jenkins --replicas=0 -n burrsutter-jenkins
oc scale dc/jenkins --replicas=1 -n burrsutter-jenkins

[2017-06-07 17:22] burrsutter opened #207 "Bayesian Stack Report: does not update during pipeline runs"
https://screencast.com/t/gATQgadjjBV
shows 2 deps but there are 3, I added one, a bad one
https://github.com/burrsutter/vertxbasic23/blob/master/pom.xml#L44
and no recommendations are offered, even with the bad dep added to my pom.xml
Note: this dep is flagged in Che, just not during the pipeline run

[2017-06-07 17:27] burrsutter commented on #207
Che while editing pom.xml
https://screencast.com/t/6fuHDG0L9

[2017-06-07 17:33] burrsutter commented on #207
A gist of the Jenkins output
https://gist.github.com/burrsutter/44cfcf4249e4b951afd772c27a71969e
this run failed, I will restart Jenkins and try again

[2017-06-07 17:38] joshuawilson commented on #205
This issue was moved to fabric8-ui/fabric8-recommender#241

[2017-06-07 17:39] joshuawilson commented on #206
This issue was moved to fabric8io/fabric8-ui#1467

[2017-06-07 17:40] joshuawilson commented on #207
This issue was moved to fabric8-ui/fabric8-recommender#242

[2017-06-07 19:42] rawlingsj commented on #206
We were seeings this pre summit after 5 or 6 pipeline runs that included a call out to bayesian.  We tried a few things like groovy and java tuning.  Perhaps we should look to bump up that Metaspace again https://github.com/fabric8io/jenkins-openshift-base/commit/2328e5e01f6d3d45af0b37c24cd97950623df2da

[2017-06-07 19:43] rawlingsj commented on #206
@joshuawilson we probably don't need to move this issue to fabric8-ui, it relates to a possible few components of openshift.io but not the UI.

[2017-06-07 20:05] alexeykazakov commented on #206
I can confirm that the workaround helps. @sbose78 could you please add it to your FAQ doc if it's not there yet.

[2017-06-07 21:30] burrsutter opened #208 "Stack Report Recommendations never populates"
https://screencast.com/t/3vK0v13q6p

[2017-06-08 02:26] joshuawilson commented on #206
@rawlingsj you may continue to comment on it here, I only copy it over so that it gets more visibility. It should only be closed when the issue is resolved. Addtionally, I can copy it to any other repo that you think needs visibility into it. :)

[2017-06-08 02:27] joshuawilson commented on #208
This issue was moved to fabric8-ui/fabric8-recommender#243

[2017-06-08 04:38] joshuawilson commented on #205
This issue was moved to fabric8-analytics/fabric8-analytics-license-check#9

[2017-06-08 06:50] samuzzal-choudhury commented on #208
@burrsutter @joshuawilson That was a valid scenario where there was no recommendation generated for the user stack as openshift.io analytics found a 100% match with one of its reference stacks.

We have got the following UX to represent that scenario in the stack report but unfortunately not on the dashboard view.
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/1774019

[2017-06-08 08:08] arunkumars08 commented on #208
@samuzzal-choudhury @joshuawilson The implementation was already in place and I think it somehow got removed https://github.com/fabric8io/fabric8-ui/commit/d5af7826a2bb0600ec626b1d26776f3fb8928167

I think this can be brought back in

[2017-06-08 09:41] burrsutter opened #209 "Applications never populates"
on the Analyze/Space Dashboard
https://screencast.com/t/LodwWToA9J
https://screencast.com/t/ZkGecTDMc

[2017-06-08 09:53] burrsutter commented on #208
There is a notification/recommendation in Che, but not one in the stack report
https://screencast.com/t/mWwSoZqC

The stack report seems to think there are on 2 deps when there are 3, perhaps my use of       <scope>import</scope> is throwing things off?

[2017-06-08 10:05] samuzzal-choudhury commented on #208
@burrsutter you are right. Dependencies with only default scope are considered currently.

[2017-06-08 10:21] samuzzal-choudhury commented on #207
@burrsutter because of the scope "import", the dependency logback-core 1.1.10, the stack analysis could not detect the appropriate reference stack and hence no recommendations were generated.

Removing the scope should get you the recommendation that you are looking for.

<img width="1283" alt="image" src="https://user-images.githubusercontent.com/17740190/26924102-f027f092-4c61-11e7-8e5e-75c5fabf

[2017-06-08 10:24] samuzzal-choudhury commented on #208
@burrsutter could you please retry without the scope import for logback-core 1.1.10?

My comment on the related issue https://github.com/openshiftio/openshift.io/issues/207 -
https://github.com/openshiftio/openshift.io/issues/207#issuecomment-307062765

[2017-06-08 11:01] burrsutter commented on #207
Import removal was the trick...now just make the Che and build/pipeline experience the same, I should not get a warning/recommendation in one but not the other - at least on the same exact thing in the pom.xml

[2017-06-08 13:58] joshuawilson commented on #209
This issue was moved to fabric8io/fabric8-ui#1475

[2017-06-09 10:06] luebken opened #210 "Bug: Che doesn't show analytics error when opening it"
- If you add a vulnerable dependency an error is shown
- If you close Che and reopen it the error is not shown.

[2017-06-09 13:23] burrsutter opened #211 "Che: loading of the pom.xml"
Two things:
1) the pom.xml auto-closes in Che, if I leave the browser tab for too long or after having put the laptop to sleep, or perhaps it is my tab suspender, I find the pom.xml has closed
2) opening the pom.xml may say "loading language server protocol" or something like that and essentially stay frozen, the solution is to stop and start the workspace from the Dashboard.

[2017-06-09 13:52] burrsutter opened #212 "Che: Import context-assist offering an invalid import"
https://screencast.com/t/hUwgyV5SqDM
why is it offering io.vertx.rxjava.* as option?
https://github.com/burrsutter/vertxbasic23/blob/master/pom.xml

[2017-06-09 14:44] burrsutter opened #213 "Create Space workflow does not throw you into the new space"
Video
https://screencast.com/t/1q2lHgdfl

By default, it left me in my old space.  Granted, I canceled out of the Add to Space wizard but that should still have put me into the new added space

[2017-06-09 14:45] burrsutter opened #214 "Plan out my space appears to be a dead button"
And since it is first in the list, that is going to be very confusing to the new end-user
https://screencast.com/t/3B8NL94gq

[2017-06-09 14:48] burrsutter opened #215 "Confusing UI: Create a new Starter project, Create a new Quick start Project"
https://screencast.com/t/3B8NL94gq

These two buttons appear to lead to the same place, therefore one of them is superfluous.

I believe the rightmost Quick start option is the most important and therefore should be left-most (most of our end-users will read and prioritize left-to-right).

[2017-06-09 15:19] burrsutter opened #216 "Pipelines can bleed across spaces"
https://www.screencast.com/t/QcrJtvwKrESV

The vertxbasic24myspace2 was created in myspace2
https://screencast.com/t/SMhokI3oy

[2017-06-09 15:20] jstrachan commented on #216
since the UI + wizard was updated recently (this week) to do space filtering, newly created projects (BuildConfigs) are created with a label "space: foo"

So I suspect the 'bleeding' is due to old projects created before we had per-space filtering enabled in the UI + wizard

[2017-06-09 15:36] burrsutter commented on #216
if you look at the screenshot, my old space "myspace" is the one picking up the newly added pipelines in the newly added space.  The new space "myspace2" is filtering correctly.

[2017-06-09 16:51] joshuawilson commented on #213
This issue was moved to fabric8io/fabric8-ui#1485

[2017-06-09 16:52] joshuawilson commented on #214
This issue was moved to fabric8io/fabric8-ui#1486

[2017-06-09 16:53] joshuawilson commented on #215
This issue was moved to fabric8io/fabric8-ui#1487

[2017-06-09 16:57] joshuawilson commented on #216
@jstrachan is there a way to filter old spaces too? We can't just delete old spaces anymore.

[2017-06-09 17:02] burrsutter opened #217 "Che: Create Workspace, fails to Import"
After running the Wizard for a new Vert.x basic project, I click Create Workspace and Che launches but often (perhaps always) it fails to load the project by default.

https://screencast.com/t/H3UgZn1qF

workaround is to manually import the project

[2017-06-09 17:06] jstrachan commented on #216
you can easily delete and reimport git repos at any time. Or `oc edit bc foo` and add a `space: cheese` label

[2017-06-09 20:02] jstrachan commented on #216
sorry misread - I've no clue if we can delete spaces, thats a WIT thing - I'd love to be able to delete Spaces or Codebases but I've no idea how ;)

[2017-06-09 21:44] burrsutter commented on #206
I have now found that oc scale dc/jenkins --replicas=0 -n burrsutter-jenkins
no longer works, you need to "oc delete pod jenkins-1231 --now -n burrsutter-jenkins" to give it more gas to run with.

[2017-06-09 22:03] burrsutter opened #218 "Something went wrong your environments as the OpenShift Project 'burrsutter' is not accessible to you or does not exist."
On Create, Applications
https://screencast.com/t/GJsj8Pa1Je

This used to work but started failing on June 9th, in the afternoon.

[2017-06-09 22:04] burrsutter opened #219 "Something went wrong your environments as the OpenShift Project 'burrsutter' is not accessible to you or does not exist."
Create
Environments

This also used to work but started failing as of June 9th.

[2017-06-12 01:46] joshuawilson commented on #210
This issue was moved to redhat-developer/rh-che#101

[2017-06-12 01:47] joshuawilson commented on #211
This issue was moved to redhat-developer/rh-che#102

[2017-06-12 01:48] joshuawilson commented on #212
This issue was moved to redhat-developer/rh-che#103

[2017-06-12 01:49] joshuawilson commented on #217
This issue was moved to redhat-developer/rh-che#104

[2017-06-12 01:52] joshuawilson commented on #216
@jstrachan we can "delete" spaces. But my question is how do we filter old spaces without deleting. We already have spaces we are using. And yet we need a way to filter them. It sounds like the filter only works for new spaces, is that correct? If so, what do we do with existing spaces that we want to keep?

[2017-06-12 01:58] joshuawilson commented on #218
@jstrachan do you know anything about this?

[2017-06-12 07:08] jstrachan commented on #216
we don't need to delete spaces; we just need to either

* delete all the BCs and import them again
* label the BCs with the space you want to put them in

We've no software yet that can go back in time and guess the space you meant to create a BC inside I'm afraid - so space-less BCs will stay space-less.

We could one day add a 'Move Pipeline to Space ..." UI option to let folks move BCs that wer

[2017-06-12 08:14] danieloh30 opened #220 "It does's display any list of workspaces when it hit "workspaces(2) on left menu at Eclipse Che window."
There is no changes in right window when I hit workspace menu in Eclipse Che window even though there is 2 workspaces like "workspaces(2)" as below screenshot. Normally it expects the details of workspace list.
![screenshot from 2017-06-12 17-08-51](https://user-images.githubusercontent.com/14066977/27024582-08800958-4f92-11e7-80a4-60d9b7c6d7db.png)

[2017-06-12 08:24] danieloh30 opened #221 "Nothing shows in pipeline tab even though it's already created and executed in jenkins."
Nothing shows in pipeline tab even though I created pipeline during creating codebases and details codebases including jenkins pipeline configuration is here.
https://github.com/danieloh30/daniel-agile-project

![screenshot from 2017-06-12 17-24-29](https://user-images.githubusercontent.com/14066977/27025050-040aae76-4f94-11e7-91f6-3533fb4a444d.png)

[2017-06-12 20:55] joshuawilson commented on #216
Having a work around is all I really needed. Thanks.

[2017-06-12 20:57] joshuawilson commented on #220
This issue was moved to redhat-developer/rh-che#105

[2017-06-12 21:00] joshuawilson commented on #221
@danieloh30 can you please walk through exactly what you did to try and create a pipeline.

[2017-06-13 05:07] danieloh30 opened #223 "Can't update workitems even relevant spaces are already removed"
Can't update workitems[1] even relevant spaces are already removed[2] at user profile menu.
However it looks all fine once the page is reloaded and I think the workitem - select box - should be refreshed automatically when the relevant spaces are removed.
[1]
![screenshot from 2017-06-13 14-01-04](https://user-images.githubusercontent.com/14066977/27066738-38cdf552-5041-11e7-826c-f9eed5243f3d.png)

[2017-06-13 05:10] danieloh30 commented on #221
I tried to create a brand new space with vert.x codes via agile template then here is my choice for quick pipeline. Let me know more details how I create the space with codes, pipeline, etc.

![screenshot from 2017-06-13 14-08-46](https://user-images.githubusercontent.com/14066977/27066856-0125ecb2-5042-11e7-82a8-c0698b5e15bf.png)

[2017-06-13 06:38] naina-verma opened #224 "[Bug]Clicking on some individual Pipeline links take to Error page"
Clicking on some individual  Pipeline links take to Error page
Steps to reproduce
1. create a space / or take any existing space
2. create a pipeline and try browsing (clicking on the pipeline link)
It throws user to an Error page
Video link : https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COUGcwVGhXclVoaWs/view?usp=sharing

[2017-06-13 06:55] naina-verma opened #225 "[Bug]Workspaces don't show up in rh-che dashboard"
Workspaces don't show up in rh-che dashboard
In the rh-che (with keycloak) when trying to have access to the list of workspaces from the dashboard (workspaces in the left menu) no workspace show up.

https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COX1BGemg4V0F5ekE/view?usp=sharing

[2017-06-13 07:05] naina-verma opened #226 "[Bug]Error page is Dead"
User redirected to Error page https://openshift.io/_error
Video link : https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COUGcwVGhXclVoaWs/view?usp=sharing

[2017-06-13 07:10] naina-verma opened #227 "[Bug] Builds aren't complete "probably due to API whitelisting:sandbox.RejectedAccessException""
[Bug] Builds aren't complete "probably due to API whitelisting: org.jenkinsci.plugins.scriptsecurity.sandbox.RejectedAccessException"

[Pipeline] echo
WARNING: Failed to invoke Environments.namespaceForEnvironment(environment) probably due to API whitelisting: org.jenkinsci.plugins.scriptsecurity.sandbox.RejectedAccessException: unclassified method java.lang.Class namespaceForEnvironment java.lang

[2017-06-13 07:14] ibuziuk commented on #225
Even though this looks like a bug, note that Dashboard is not going to be exposed to the end-user. In order to list workspaces "Codebases" view should be used on openshift.io side

[2017-06-13 07:15] sbose78 commented on #224
Thanks @naina-verma for the report.

I'm guessing this wasn't implemented , the link "view pipeline runs" works at the moment.
CC: @jstrachan

[2017-06-13 07:25] almightytest commented on #227
those warnings go away in the next Tenant release. I don't think thats any reason why the build isn't being started though.

I suspect it might be this is an old build from when jenkins was ran before; might be worth killing this job and restarting?

[2017-06-13 12:29] navidshaikh opened #228 "Broken link for work items under profile section"
I have a task assigned under my team space.
The work items are listed under profile tab.
If I click on any work item, it prompts `404`

![screenshot from 2017-06-13 17-55-20](https://user-images.githubusercontent.com/2510184/27082339-f985d902-5061-11e7-83b0-9276e4875042.png)

[2017-06-13 14:44] joshuawilson commented on #223
This issue was moved to fabric8io/fabric8-ui#1501

[2017-06-13 14:48] joshuawilson commented on #221
There are several things to try. First let's update your tenant profile.
Go to the Profile page and select the "Update Profile" button, then at the bottom of the page select the "update tenant" button. Please note, the button does not yet provide feedback that it did anything. Wait about 2 minutes and try again.

[2017-06-13 16:03] jstrachan commented on #218
have a fix coming shortly...

[2017-06-13 18:27] samuzzal-choudhury commented on #207
@burrsutter can we close this issue?

[2017-06-13 18:29] samuzzal-choudhury commented on #208
@burrsutter can this issue be closed?

[2017-06-13 20:42] joshuawilson commented on #224
I can't see the video, doesn't play on my system. What are the exact steps to reproduce? What link did you click on?

[2017-06-13 21:19] hferentschik opened #229 "Getting started does not work with Safari"
I tried to launch OpenShift.io from Safari and followed the sign up process and the linking of the required accounts. I ended up on the page with the "Get Started" link:

![getting-started](https://user-images.githubusercontent.com/296354/27105068-7cf8a98c-508e-11e7-9f14-dabcd537bf8e.png)

Once I press the button, the following page stays empty:

![empty](https://user-images.githubusercontent.com/

[2017-06-13 21:37] jstrachan commented on #218
was fixed by the new fabric8-runtime-console version.

Adding in this PR and we've got the real time tenant status widget too: https://github.com/fabric8io/fabric8-ui/pull/1504

[2017-06-13 21:39] jstrachan commented on #219
now fixed in fabric8-ui - just needs a new release

[2017-06-13 21:39] #219 closed

[2017-06-13 21:40] jstrachan commented on #218
just needs a new production fabric8-ui release

[2017-06-13 21:40] #218 closed

[2017-06-13 21:40] jstrachan commented on #209
fixed - just need a fabric8-ui release in production

[2017-06-13 21:40] #209 closed

[2017-06-14 08:00] hferentschik opened #230 "GitHub project gets created without info message"
When going through the steps to setup a sample project with OpenShift.io, I selected to create a new sample project (Wildly Swarm based). I continued through the wizard and only after the project was full created, I noticed on the Codebases list, that an actual repository on Github got created.

IMO this should not happen without an information dialog and confirmation. I was fully in evaluation mo

[2017-06-14 08:30] jstrachan commented on #216
added the workaround to the FAQ https://github.com/openshiftio/openshift.io/wiki/FAQ#my-pipelines-are-not-being-properly-filtered-by-my-space

[2017-06-14 08:30] #216 closed

[2017-06-14 08:33] jstrachan commented on #226
this is a duplicate of https://github.com/openshiftio/openshift.io/issues/224 so gonna close - should have a fix soon!

[2017-06-14 08:33] #226 closed

[2017-06-14 08:35] jstrachan commented on #221
Pipelines are filtered by the space you are in. From the screenshots it looks like you have 2 spaces, `daniel-pipeline` space and `daniel-agile-project` space.

My guess is that the pipeline got created in one space and you're viewing the pipelines from the other space .

Try viewing all your spaces and switching between them?

[2017-06-14 08:41] jstrachan commented on #133
fixed by https://github.com/fabric8-ui/fabric8-runtime-console/pull/

[2017-06-14 08:41] #133 closed

[2017-06-14 08:45] danieloh30 commented on #221
I have no data of pipeline on both of spaces[1][2].

[1]daniel-pipelint
![screenshot from 2017-06-14 17-42-48](https://user-images.githubusercontent.com/14066977/27123530-1f2b0c3c-5129-11e7-8a81-59f76b145d10.png)

[2]daniel-agile-project
![screenshot from 2017-06-14 17-43-17](https://user-images.githubusercontent.com/14066977/27123563-3bd40514-5129-11e7-8737-32657e2e5407.png)

Any ideas?

[2017-06-14 08:52] jstrachan commented on #141
the `-jenkins` + `-che` namespaces are owned by openshift.io; am not sure we should let users be able to delete them.

[2017-06-14 20:27] joshuawilson commented on #225
Works as designed.

[2017-06-14 20:27] #225 closed

[2017-06-14 20:29] joshuawilson commented on #227
You will need to clean up your old builds. With this being fixed in the new tenant release, I'm closing it.

[2017-06-14 20:29] #227 closed

[2017-06-14 20:32] joshuawilson commented on #228
I just tried it and it works for me. Try a hard refresh ctr + shift + r

[2017-06-14 20:34] joshuawilson commented on #207
Closing this issue as it appears resolved. @burrsutter please reopen if needed.

[2017-06-14 20:34] #207 closed

[2017-06-14 20:48] joshuawilson commented on #208
The dashboard was fixed in https://github.com/fabric8io/fabric8-ui/pull/1513
Closing this issue. @burrsutter please reopen if needed.

[2017-06-14 20:48] #208 closed

[2017-06-14 20:50] joshuawilson commented on #229
Currently we are only testing against Chrome. We plan to support the other browsers moving forward.

[2017-06-14 20:50] joshuawilson commented on #229
This issue was moved to fabric8io/fabric8-ui#1516

[2017-06-14 20:55] joshuawilson commented on #230
We can add a warning to the wizard but the system needs to use real names to validate that it can do what it needs to.
@catrobson can you please look at this?

[2017-06-15 01:20] joshuawilson commented on #228
If you have deleted the space that help that issue then you are seeing a remnant. A hard refresh should clear it up.

[2017-06-15 07:07] naina-verma opened #231 "Failed to find Jenkins URL: java.lang.IllegalArgumentException"
While adding pipeline to the space with updated tanent , this error occurred

Video : https://drive.google.com/a/redhat.com/file/d/0B1qUq_laG6COSUp5WUtSOUE4ek0/view?usp=sharing

Log: https://gist.github.com/anonymous/11475c9173bf7a845e0d7740b6fcf651
![screenshot from 2017-06-15 15-40-15](https://user-images.githubusercontent.com/19172870/27179121-dd5df7a2-51ea-11e7-90b6-bbfb96845701.png)
![screens

[2017-06-15 08:58] eivantsov opened #232 "Cannot start any builds / pipelines show blank page"
Freshly registered, created a space, connected my GitHub account.

It does not matter if I use a starter sample or import own codebase, everything related to builds is inaccessible for me:

![image](https://user-images.githubusercontent.com/5337267/27173475-807a7fca-51c1-11e7-86c8-7ff8515719e5.png)

Any clues on what i am doing wrong?

[2017-06-15 09:08] hferentschik commented on #229
Maybe this should be mentioned somewhere. One could even have a little popup at some early stage telling me that my browser is not supported. It would have saved me some time, figuring out why I literally see nothing.

[2017-06-15 12:09] naina-verma opened #233 "[Bug]Build failed with "java.io.FileNotFoundException: /root/.mvnrepository/io/vertx/vertx-health-check/3.4.1/vertx-health-check-3.4.1.pom.part.lock ""
Build failed with "Caused by: java.io.FileNotFoundException: /root/.mvnrepository/io/vertx/vertx-health-check/3.4.1/vertx-health-check-3.4.1.pom.part.lock "

Steps to reproduce
- Create a space
- Add to space
- chose Basic vertx
This build fails due to error !
logs : https://gist.github.com/almightytest/2eeecafe969b165a6997f16fb59f440a

[2017-06-15 15:43] joshuawilson commented on #231
This issue was moved to fabric8io/fabric8-ui#1524

[2017-06-15 15:59] joshuawilson commented on #232
@eivantsov we currently only have one working path. You can Add to a Space either during creation of the space or from the Analyze tab. In there you should pick the button on the right "Create a new Quick Start project". You will need a unique name for the project but otherwise you can just click finish. You will need to build it with the default vert.x quickstart.
All the other paths through the

[2017-06-15 16:04] joshuawilson commented on #233
This issue was moved to fabric8io/fabric8-ui#1525

[2017-06-15 19:13] burrsutter opened #234 "PR accepted creates odd UI artifact"
I accepted a PR to my github repo, via the github UI and that created this 2nd pipeline artifact in the UI.

https://screencast.com/t/4oHCawSph

[2017-06-15 21:03] mindreeper2420 commented on #62
'Learn More' links were removed from the current site.

[2017-06-15 21:03] #62 closed

[2017-06-16 01:18] catrobson commented on #230
Agreed that we need to be clearer to the user about what we're doing during the wizard creation process.  I'll look at this as part of the wizard improvements we tackle next week.

[2017-06-16 06:18] eivantsov commented on #232
@joshuawilson the problem is that as soon as I create a space, I get an error that somth is wrong with pipelines, so I did not even have time to mess it up :) :

![image](https://user-images.githubusercontent.com/5337267/27214366-ba9c3ac8-5274-11e7-968d-6ad1e2a934d7.png)

[2017-06-16 06:45] luebken opened #235 "Direct Bug Reporting Form for OSIO (and other Spaces) for anonymous users"
How to redo: Go to https://openshift.io/_error and click the"I'm felling helpful, let's report the issue" button. No errors in the console.
![screen shot 2017-06-16 at 08 45 09](https://user-images.githubusercontent.com/53055/27215115-1d1adbbe-5270-11e7-9f68-4e4b0c0af50d.png)

[2017-06-16 12:09] maxandersen opened #236 "Access control for the che workspaces needed"
currently if you get the url to a che workspace you can access and use it even if you are not using it.

This needs fixing as you can see other users data but also go execute git and possibly also openshift operations as that other person as the workspace

ref: https://openshift.io/openshiftio/openshiftio/plan/detail/1119
https://issues.jboss.org/browse/CHE-291

[2017-06-16 12:17] maxandersen opened #237 "Remove test namespace from tenant config to reclaim resources"
the test namespace should not be available by default for openshift online free accounts. lets remove it.

ref: https://openshift.io/openshiftio/openshiftio/plan/detail/883

[2017-06-16 12:18] maxandersen opened #238 "prevent anonymous execution of Pull requests"
Currently anyone can send anything as a PR and have it run with access to the users 'prod env'.  We need to prevent that somehow.

Either remove the functionality for now or add some kind of whitelisting.

ref: https://openshift.io/openshiftio/openshiftio/plan/detail/951

[2017-06-16 12:19] maxandersen opened #239 "Bring back idling + agree on what limits to use for Jenkins"
idling of che and jenkins is needed to reduce resource usage.

resource usage should at least get from 3 GB to 2 GB.

[2017-06-16 12:19] maxandersen opened #240 "open up chat.openshift.io to non-red hat users"
chat.openshift.io should be made publically accessible.

Cannot just be done by opening up to everybody - we should make sure existing channels are for public consumption and if not those channels should be marked private.

ref: https://openshift.io/openshiftio/openshiftio/plan/detail/882

[2017-06-16 12:22] maxandersen opened #241 "Mechanism to communicate to onboarded users about known issues"
need to document and keep uptodate list of known issues and work arounds new comers should be aware of.

[2017-06-16 12:22] maxandersen opened #242 "Have automatic update of tenants"
automatic updates of tenants are not working at the moment making it non managable when we start rolling out new versions and updates.

We'll need to either automate this or at least warn the user to do a manual update.

[2017-06-16 12:23] maxandersen opened #243 "Limit non-collaborators ability to create/modify issues"
There is a concern about signed in users can create issues in other spaces.

Current proposal is to remove ability to create work items unless you are a collaborator (https://github.com/almighty/almighty-core/issues/1358) - this though blocks our own usage.

[2017-06-16 12:30] maxandersen opened #244 "Logging metrics for tenant services to be able to support and investigate, trap and report on tenant che and jenkins services"
Logging/metrics for tenant services to be able to support and investigate, trap and reports on tenant che services. At this point we have no logs, no metrics, no reporting of what happens in che project on OSO cluster. Its important we get this.

As an initial step, it would be good to see what we want to find out about, where that information might be present, and how we might need to extract thi

[2017-06-16 12:32] maxandersen opened #245 "email notifications for creation and updates"
coordinating especially on workitems is impossible without notifications. users can't see, follow or discover workitems that created.

Falling back to manually sending email to get updates just don't work.

[2017-06-16 12:32] jstrachan commented on #237
its been removed already from the latest Tenant.

We just need some mechanism to remove them from the current tenants who have `-test` namespaces

[2017-06-16 12:35] rawlingsj commented on #238
This is fixed and deployed to prod

[2017-06-16 12:35] #238 closed

[2017-06-16 12:35] rawlingsj commented on #238
fix is in this commit https://github.com/fabric8io/fabric8-pipeline-library/commit/671d833a9a5f8db2b939b3808f3fdf18ac0d0c23

[2017-06-16 12:37] maxandersen opened #246 "Remove dummy data/fake screens"
Fix or remove bad data.

[2017-06-16 12:44] qodfathr commented on #246
I think I only see 1 remaining: Developer Poll (https://openshift.io/_home)

[2017-06-16 14:12] maxandersen opened #247 "Define where users should open issues and how we triage them"

[2017-06-16 14:16] maxandersen opened #248 "Filter by space on pipelines view"
Pipelines shows jobs from other spaces than the one currently selected. Causing confusion to users.

This *might* be artefact of old pipelines and only happening if they don't have the right labels.

But should the filter not be more exclusive and only show builds that exactly has the right labels ?

[2017-06-16 14:26] maxandersen commented on #240
parts of this is in https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/289 (internal)

[2017-06-16 14:31] maxandersen opened #249 "Add .net support as a language"

[2017-06-16 15:40] jstrachan commented on #232
it looks like your OpenShift token is invalid. I wonder if you need to relink your OpenShift account?

[2017-06-16 15:41] joshuawilson commented on #235
This issue was moved to fabric8io/fabric8-ui#1531

[2017-06-16 15:46] rawlingsj commented on #232
One other thing to check is the namespace (openshift project) names you have.  I think the tenant init service assumes that you already have a namespace that matches your username.  I've seen cases where existing OSO users have a different 'home' namespace which doesn't match their userid.

If relinking your openshift account as @jstrachan mentioned above you could check what namespaces you have.

[2017-06-16 16:28] joshuawilson commented on #239
Who owns this? @jstrachan @rawlingsj or @kbsingh ?

[2017-06-16 16:30] joshuawilson commented on #241
How much does the [FAQ](https://github.com/openshiftio/openshift.io/wiki/FAQ) cover that?

[2017-06-16 16:57] joshuawilson commented on #242
Who owns this? @aslakknutsen or someone else?

[2017-06-16 17:11] joshuawilson commented on #237
@jstrachan is there an issue for that task?

[2017-06-16 17:20] joshuawilson commented on #247
I think we have already figured that out.
Currently:
 - Open issues here in https://github.com/openshiftio/openshift.io/issues
 - I triage the issue and redirect them to the appropriate repo
Next:
 - Once Planner is fully functional they log issues in https://openshift.io/openshiftio/openshiftio/plan
 - I don't mind continuing to triage them there either

Is this sufficient?

[2017-06-16 17:24] joshuawilson commented on #248
I think @jstrachan already fixed this in https://github.com/fabric8io/fabric8-ui/pull/1451 but there is an issue with old pipelines that is addressed in https://github.com/openshiftio/openshift.io/wiki/FAQ#my-pipelines-are-not-being-properly-filtered-by-my-space

@jstrachan is there anything planned beyond that?

[2017-06-16 17:28] joshuawilson commented on #246
This issue was moved to fabric8io/fabric8-ui#1533

[2017-06-16 17:31] joshuawilson commented on #240
Does this task belong to @kbsingh ?

[2017-06-16 17:33] joshuawilson commented on #249
I think @kbsingh mentioned looking into this. This task also involves @gorkem.

[2017-06-17 05:57] jstrachan commented on #248
Nothing planned yet- this issue doesn't affect new users or new apps.

We could add a 'move to different space' wizard for old apps

[2017-06-17 08:01] maxandersen commented on #248
I grok this only applies for old jobs, but what is the usecase of showing pipelines without a filter ?  Why is it not only showing things with labels ?

[2017-06-17 08:02] maxandersen commented on #242
yes, its for @aslakknutsen but he haven't accepted invite so he can be assigned :)

[2017-06-17 08:04] maxandersen commented on #239
Initially @kbsingh and we might want to get this split up separately for idling and resource constraints.

[2017-06-17 08:49] jstrachan commented on #248
If we did that then there would be loads of zombie resources using up your
quota that were invisible

On Sat, 17 Jun 2017 at 09:01, Max Rydahl Andersen <notifications@github.com>
wrote:

--
James
-------
Red Hat

Twitter: @jstrachan
Email: james.strachan@gmail.com
Blog: https://medium.com/@jstrachan/

fabric8: https://fabric8.io/
open source development platform

funktion: https://funktion.fabric8

[2017-06-17 17:36] qodfathr opened #250 "No builds are moving; "Jenkin's doesn't have label maven..."

[2017-06-17 17:40] qodfathr opened #251 "No builds are moving; "Jenkin's doesn't have label maven...""
All of my pipelines are stuck. Each has the same problem; something similar to:

`Jenkins doesn’t have label maven.qodfathr_jenk_master.1`

This was preceded by:
`First time build. Skipping changelog.`
`[Pipeline] echo`
`WARNING: Failed to invoke Environments.namespaceForEnvironment(environment) probably due to API whitelisting: org.jenkinsci.plugins.scriptsecurity.sandbox.RejectedAccessException:

[2017-06-18 03:11] danieloh30 opened #252 "Can't remove jenkins project via Online console"
When a space is deleted at OSIO, a relevant repository in github and all relevant projects like jenkins, pipeline at OpenShift Online should be removed as well. But repos and some projects don't. So I try deleting a project like doh-jenkins via OpenShift Online web console, I got a error like as below:

Project 'doh-jenkins'' could not be deleted.User "doh@redhat.com" cannot delete projects in pro

[2017-06-18 05:18] joshuawilson commented on #250
@jstrachan @rawlingsj @kbsingh Any idea what is happening?

[2017-06-18 05:19] joshuawilson commented on #250
Closing this duplicate.

[2017-06-18 05:19] #250 closed

[2017-06-18 05:19] joshuawilson commented on #251
@jstrachan @rawlingsj @kbsingh Any idea what is happening?

[2017-06-18 08:49] rawlingsj commented on #251
I fixed a problem on Friday and released a new jenkins image however the PR https://github.com/fabric8io/fabric8-init-tenant/pull/104 on the tenant service needs to be merged /CC @aslakknutsen.  This needs to happen and whatever is needed for the tenant service to use the new version templates in prod.

FWIW if you want to try the fix out:
1. make sure there are no jenkins jobs running
2. delete a

[2017-06-18 14:33] qodfathr commented on #252
Some of that requires fixing. But we absolutely do not want to automatically delete github repos. Counter example is that I make a space, import an existing repo, later decide I don't want the space (or I want to switch to another space template). Deleting that repo would be a Very Bad Thing. another example is that I can import a repo into multiple spaces - deleting one of those spaces should not

[2017-06-18 14:35] qodfathr commented on #250
If we close as dupe, shouldnt that include a link to the dupe?

[2017-06-18 14:38] danieloh30 commented on #252
@qodfathr, thanks for the response and I also agree the conservative way at this moment. Like you said, is that working to fix a bug which I can't remove some project on OpenShift Online? If so, is there any workaround to clean up or just need to wait for the release?

[2017-06-18 21:38] joshuawilson commented on #250
@qodfathr almost always, yes. But this appears to be more of a glitch then a duplicate that someone else made. Since they both have the same title and the other one has the description. Linking back to this one does not provide more insight or inform a different user.

But since you asked for it;
duplicates #251

[2017-06-19 04:40] maxandersen commented on #248
You mean if users go and configure their own jobs and don't add the right labels ?

if that is a problem I would say we should need to prevent that or have a more explicit way of showing them (i.e. a "There are N unknown jobs running, want to show them ?" button)

Anyway, separate issue from this one.

[2017-06-19 04:43] maxandersen opened #253 "Space creation template choice must be real and have a list of relevant templates available"
Space Creation - Template must be “live” and result in different issue tracking types. All templates should work. (PR open for this at https://github.com/fabric8io/fabric8-ui/pull/1421)

Template - Looking at the template, we need to show a gap analysis of exactly what is working or not working for any particular template.
Only one that matters at the moment is the Scenario Driven Development Temp

[2017-06-19 04:49] maxandersen commented on #253
Can @michaelkleinhenz and @qodfathr verify if having SDD template is enough for first onboarding ?

[2017-06-19 04:51] maxandersen commented on #246
Found in planner punchlist is also to either remove of fix "Number of WIs in the Backlog - left panel" which at most times does seem to show a non-truthful number.

[2017-06-19 05:01] maxandersen opened #254 "Create new work item should be guided rather than generic create "Anything""
Main feedback from @qodfathr is that the creation of work items is not guided as all options are available to the user at all times. Proposal is to cleanup work item creation and the views around it to be more "guided" based on the context.

Details are in https://docs.google.com/document/d/1MnPB14tFRx3OoeK2AtxssINcna2GxBv3f8vxNzKXvgI/edit

Examples highlights are:
When creating items in an iterat

[2017-06-19 05:08] maxandersen opened #255 "Browsing work items should be guided / contextual rather than generic"
Related to #254 but this is about browsing rather than creation of workitems.

The "Iteration panel" is considered not enough for users to be successful, instead of only having a way to browse iterations and their workitems the panel should (Based on the template) give some guided paths of navigation, especially using the parent/child relationships between work items.

Details at https://docs.goog

[2017-06-19 05:12] maxandersen opened #256 "Hiearchial parent/child navigation needs to work"
Currently a work item list has two options: List vs hierarchal where the latter visualizes parent/child relationships between work items.

The hiearchy view has UI/UX glitches but is also not handling paging nor when the result has work items without "parents". These should be fixed.

[2017-06-19 05:15] maxandersen opened #257 "Have text next to type icons to make it clearer what they represent"
Current UX state only icons should be shown for workitem types  - that is currently deemed as not working well and request is to show icon + text (i.e. "🐛 Bug" instead of just "🐛")

[2017-06-19 05:23] maxandersen opened #258 "Support multiple clusters to allow onboarding"
Multiple cluster support on osio are needed to allow:

a) for pay users who runs in another OSD
b) deploy of osio itself to another OSD
c) to scale beyond the initial user count there will be different clusters

open question are if these will be supporting Single-signon or we'll need to treat them as separate instances like i.e. github is separate from openshift.io access. Users wanting to target

[2017-06-19 05:31] maxandersen opened #259 "Improve UX around github permissions"
Currently we ask up front to let users grant openshift.io full permissions for github access.

Several issues raised on that:
a) there is little to no info on *why* openshift.io needs it (we need it for doing push and creation of content)
b) that it is asked as the *first* thing puts people off

Proposal is to make it so we don't request full permissions before we actually need them (at space crea

[2017-06-19 05:36] maxandersen opened #260 "Dead links in pipeline view needs fixing or attaching"
Pipeline view has some links that are not working and others that needs attaching.

This issue comes from notes from @michaelvirgil based on @qodfathr comments.

[2017-06-19 06:46] eivantsov commented on #232
@jstrachan just spent 10 mins finding out how to unlink my OpenShift account - all in vain. Profile and settings do not have anything like that. Tried docs link on the getting started page - https://access.redhat.com/documentation/en-us/red_hat_openshift.io/1/html-single/user_guide - and it's 404 for me.

After I have deleted all the auto generated pods on OpenShift Online side (they were then rec

[2017-06-19 08:27] sbose78 commented on #251
To delete all jenkins slave pods , run
`oc delete pods -l jenkins=slave`

[2017-06-19 08:34] rawlingsj commented on #251
FWIW the two related fixes are https://github.com/fabric8io/jenkins-openshift-base/commit/3b1ad031cb086881d0c8d349ac6e802e14a16b43 and https://github.com/fabric8io/openshift-jenkins-s2i-config/commit/37d000cccc39b4fdad5649d7b801dedcb81a6fd0

[2017-06-19 11:37] maxandersen commented on #241
It covers part of it - but that FAQ isn't really reachable/discoverable from users entering openshift.io.

What was mentioned as possible solutions was we had some content we could put into where the "poll" is now and list the top issues and link to the FAQ.

[2017-06-19 14:11] qodfathr commented on #251
Thanks, @rawlingsj ! My pipelines have concluded...screen is much cleaner now. :)

[2017-06-19 14:12] rawlingsj commented on #251
phew :)

[2017-06-19 14:37] jstrachan commented on #237
see https://github.com/fabric8io/fabric8-init-tenant/issues/107

[2017-06-19 14:39] jstrachan commented on #248
users can create BuildConfigs however they like via the `oc` command, the openshift console or forge wizards. We can't stop them having un-labelled BuildConfigs.

We need some UX to be able to view un-labelled BuildConfigs which are not associated with a space; then we can filter out any non-labelled BuildConfigs (ditto for the Applications / Environments pages)

[2017-06-19 14:47] jstrachan commented on #259
things are hard enough with getting KeyCloak to sync with valid tokens from openshift + github token in a stable way as it is :). Then changing the scope dynamically to ask for more and more permissions on demand (and handling the UX workflow as we walk through the steps of asking and getting approval to change the scope) just sounds like a ton of complexity for very little actual gain leading to

[2017-06-19 14:52] jstrachan commented on #242
before we have automatic updates; we need to get updates working at all ;) they seem to be pretty flaky -
 I've yet to have one work OOTB for me without manual hacks to work around issues: https://github.com/fabric8io/fabric8-init-tenant/issues/74

[2017-06-19 14:54] jstrachan commented on #258
for a) you mean a different OSO cluster right?
what does b) mean? If we're talking 100% on premise thats fabric8 right?
for c) you mean just for the users builds and runtime environments right? i.e. using a customers own OSD for their tenant apps and the Dev / Staging / Runtime environments while reusing everything else via the openshift.io SaaS?

[2017-06-19 14:58] jstrachan commented on #258
details on changes required for multiple tenant clusters here: https://github.com/fabric8io/fabric8-init-tenant/issues/70

[2017-06-19 16:14] maxandersen commented on #249
removing from list as not considered relevant for "first user"

[2017-06-19 17:55] kbsingh commented on #244
while we work on a longer term solution, I aim to have something interim functional this week. We need to scope this up and also consider security and audit process around it. Will be in touch with the teams in the coming days with more info / questions.

[2017-06-19 17:57] kbsingh commented on #239
Do we need seperate issues for each ? che and jenkins ? for the che side, we will need @gorkem and @l0rd

[2017-06-19 18:03] rawlingsj commented on #239
Yeah I think seperate issues is best and easier to track any blockers. FWIW I added an idleing
script to our current Jenkins which works in plain docker but not with the post shutdown kubernetes script I added. So hopefully there's not too much work here from the Jenkins side.

[2017-06-19 18:38] jstrachan commented on #260
fixed by https://github.com/fabric8-ui/fabric8-runtime-console/pull/507 just needs the new fabric8-runtime-console version merged into fabric8-ui and a release

[2017-06-19 19:38] joshuawilson commented on #130
fixed

[2017-06-19 19:38] #130 closed

[2017-06-19 19:47] joshuawilson commented on #246
Do you want it fixed or removed? to remove it would be a UX call, I think. Also as that is a specific issue and this is a generic task, it is worth creating an issue for it so that it is tracked.

[2017-06-19 19:56] joshuawilson commented on #255
This issue was moved to fabric8io/fabric8-planner#2011

[2017-06-19 19:57] joshuawilson commented on #254
This issue was moved to fabric8io/fabric8-planner#2012

[2017-06-19 19:58] joshuawilson commented on #256
This issue was moved to fabric8io/fabric8-planner#2013

[2017-06-19 20:02] joshuawilson commented on #241
I like that idea. I had originally thought of linking to the FAQ from the help menu.

[2017-06-19 20:04] joshuawilson commented on #251
This looks to be fixed. Closing.

[2017-06-19 20:04] #251 closed

[2017-06-19 20:19] joshuawilson commented on #257
This is done. Closing.

[2017-06-19 20:19] #257 closed

[2017-06-19 20:56] alexeykazakov commented on #258
@jstrachan I think by c) @maxandersen means the case when a user's account may be provisioned to different OSO-starter clusters when for example the full capacity of the current (the only) east-2 cluster is used. Or the user is provisioned to a cluster geographically closer to the user.

[2017-06-19 21:25] joshuawilson commented on #257
It is in the Details view. It didn't work in the list view, they tried it there and it was a mess.

[2017-06-19 21:59] mindreeper2420 commented on #257
This would probably be best moved to the Planner list - the UX team there can take this up, in order to get it looking better/making sense in the list. The difficult part is showing that information in the cards on the Board.

[2017-06-19 22:05] alexeykazakov commented on #259
Currently only Planner doesn't require GitHub at all (until we support github integration here), right? So, I would agree with @jstrachan that our first step could be making github linking optional on the getting started page. But then there is a question how/when we would ask users to link GitHub. By disabling the relevant UI and providing a link to the getting started page (or a new dedicated pa

[2017-06-20 00:05] l0rd opened #261 "Added a new section in the FAQ to retrieve Che logs"
I could not edit the FAQ directly so: https://github.com/l0rd/openshift.io-wiki/commit/54f82ba2f5ad99d311f5217060120bedb9fb9af9

[2017-06-20 02:00] joshuawilson commented on #257
Let's see if @qodfathr approves of the current solution. If not we can open this with the Planner team.

[2017-06-20 02:04] joshuawilson commented on #259
I think we are going to need @catrobson on this one.

[2017-06-20 05:12] jstrachan commented on #259
Maybe we just need full GitHub support to run the new app wizard or create a codebase/workspace? At least those are 2 places we could do the checks fairly easily

[2017-06-20 07:45] jstrachan commented on #258
so a) and c) are about different _tentant clusters_ for tenant apps (jenkins/che), builds, pipelines and environments. Not the SaaS stuff.

I still don't grok b) though. You mean for hosting the shared SaaS services across multiple OSDs in multiple data centres? For things like fabric8-ui and Forge thats fine; for KeyCloak / WIT its much harder. Then fabric8-init-tenant we may need a pool of those

[2017-06-20 07:50] jstrachan commented on #260
fixed, just needs a new release of fabric8-ui which I don't have karma to do nor any visibility in when it happens.

[2017-06-20 12:54] maxandersen commented on #257
please don't move the issue to planner - copy/link if need be.

@qodfathr can you tell if the current fix is sufficient for you (type is spelled out in details view) or if list view should have it too ?

[2017-06-20 15:11] joshuawilson commented on #260
Just released latest.

[2017-06-20 15:39] jstrachan commented on #260
@joshuawilson don't see it yet on openshift.io - is the new release supposed to be live? (would be nice to have a UI version in the status widget ;)

[2017-06-20 17:32] joshuawilson commented on #261
thanks, added

[2017-06-20 17:32] #261 closed

[2017-06-20 17:34] joshuawilson commented on #260
@jstrachan Oops, I got distracted and didn't push the button to finish it. Sorry,
As to the version, there is already info in the About dialog.

[2017-06-21 04:57] mishaone opened #262 "Quickstart wizard should have a back button"
The 5 step wizard for the quickstart app menu has a next and finished option, but should have a back option as well to go to a former step in the process to change something if required. At the moment the only workaround for this is to quit the process and start again from scratch.

How to replicate:
1. Add to space > Create a quickstart project
2. Add project type information in step 1 of the 5 s

[2017-06-21 05:00] mishaone opened #263 "Filtering/Searching: Work Items should be searchable by title"
Work items can currently be filtered based on area, assignee and type, but this is not useful when searching to see if an existing issue has already been logged. Work Items should be searchable by strings or keywords to be able to tell if the new issue would just be a duplicate.

[2017-06-21 05:16] joshuawilson commented on #262
This issue was moved to fabric8io/fabric8-ui#1555

[2017-06-21 05:16] mishaone opened #264 "Cannot deselect checkbox options in QuickStart Wizard Step 4"
Step 4/5 in the Quickstart wizard offers two checkboxes for CI and triggering builds. Neither can be deselected. Deselecting either or both of these results in OSIO verifying and then re-selects both. Not sure why this is an option to change if it can't actually be changed.

![checkboxes](https://user-images.githubusercontent.com/926572/27368011-7453d3b4-5693-11e7-9656-14012d9b9ad9.png)

Additiona

[2017-06-21 05:18] joshuawilson commented on #263
This issue was moved to fabric8io/fabric8-planner#2023

[2017-06-21 05:19] joshuawilson commented on #264
This issue was moved to fabric8io/fabric8-ui#1556

[2017-06-21 05:26] mishaone opened #265 "Dialog Create Work Item: Interaction flow for saving broken"
When creating a Work Item, you can leave title unsaved and still save values for the following fields:
* Assignee
* creator
* Area
* Iteration

However, when you try to add a description and save it, it gives an error (see screenshot). I assume this is because the WI is not yet created (i.e. title is not yet created) but this behavior seems inconsistent. Either you should be able to fill in all fi

[2017-06-21 05:29] mishaone opened #266 "File Attachments for Work Items"
When using Work Items to report issues, it's very useful to be able to add an attachment to illustrate the problem or show the error, etc. At the moment, we can't do this. I would suggest this should be high priority otherwise work items are not as useful as intended.

[2017-06-21 05:32] mishaone opened #267 "Detail View/Quick Preview: Area (possibly other fields) titles render badly if they are longish"
Children/grandchildren do not render well in the text boxes if they have long-ish names. See screenshot for examples.

![overlap](https://user-images.githubusercontent.com/926572/27368558-9fd47d06-5696-11e7-8a65-0bbf9a90630a.png)

[2017-06-21 06:29] nimishamukherjee commented on #257
Currently how it looks on the detail's page:
![typename](https://user-images.githubusercontent.com/1892722/27370142-c356f4c6-564a-11e7-945f-67a022f01b55.png)

On the list view, we could display the type name on hover over the type icon.

[2017-06-21 07:09] rgarg1 opened #268 "Detail View/Quick Preview: clicking outside the 'Assignees' popup box should close it"
When an assignment selection is unchanged, clicking outside the pop-up box should auto-close it. No need to have an additional 'Cancel' button.

Similarly, the first item in the drop-down list could remain empty and that would eliminate the need of the 'Unassign' button too, giving us a cleaner UI and lesser clicks.

[2017-06-21 07:13] rgarg1 opened #269 "Clicking just once on a Work item should not open it's detail view"
Clicking just once on a Wi should not open it. The WI name string could be a hyperlink and clicking only on that should open the WI details pane.

The current behavior leads to accidental opening of the detail view pane for the first WI in the list. This also makes scrolling up and down very annoying.

[2017-06-21 07:15] rgarg1 opened #270 "'Blocked' status for Work Items"
This will clearly display the task status for the team on the Kanban board, which otherwise right could see it as 'In-progress' and the blocked status could be retrieved only after opening the task.

This is much needed to draw attention of the team to its blocked state.

[2017-06-21 07:17] rgarg1 opened #271 "Opened Work items do not close on clicking anywhere outside their detail view window"
The WI details pane remain on the screen, unless closed explicitly.

Expectation is that the detail view must close once the user clicks outside its window.

[2017-06-21 07:21] rgarg1 opened #272 "Resizing the browser window leads to overlapping UI elements"
Menu options and buttons display fine only when the browser window is open maximized. Re-sizing the browser windows leads to operlapping screen objects.

Please refer to the attached screenshot for reference.

![overlapping menu options](https://user-images.githubusercontent.com/28748448/27371939-3923ac74-5652-11e7-913a-ec8a6fc356b6.png)

[2017-06-21 07:25] rgarg1 opened #273 "Tasks in 'Board' view do not show any relationship to their parent Feature/Story"
Task details must show the relationship with their parent WI, or else it becomes extremely difficult to map/identify tasks for a story/feature.

Two features/stories in an iteration may have similar tasks with identical names e.g. 'Write Unit Tests'. A user currently has no way to identify the story the task belongs to.

[2017-06-21 07:29] sbose78 commented on #242
I really find it necessary to expose the 'latest version' as an API endpoint. of our tenant apps ( the prod version of https://github.com/fabric8io/fabric8-init-tenant/blob/master/TEAM_VERSION ) to the user.

Proposal : https://github.com/almighty/almighty-core/pull/1410

That way there's a way to show the user if even the update fails "which version you are on.." and "which version is the latest.

[2017-06-21 07:52] jstrachan commented on #248
we need a UX solution for this really https://github.com/fabric8io/fabric8-ui/issues/1557

[2017-06-21 07:52] jstrachan commented on #260
@joshuawilson looks great now thanks!

[2017-06-21 07:52] #260 closed

[2017-06-21 08:03] jstrachan commented on #260
@joshuawilson BTW I'd love the CD pipelines to comment on issues when they are available for testing in production!

[2017-06-21 11:53] maxandersen commented on #237
Marking as closed as it will not affect new users, the other is just cleanup.

[2017-06-21 11:53] #237 closed

[2017-06-21 11:57] maxandersen commented on #248
Okey, i'm leaving this open to be confirmed by @qodfathr if he is okey with this middleground solution.

@qodfathr in short: pipelines are now filtered by space, but if a user creates build configts via oc commands it will currently show up on *all* spaces.

I don't think that is a big issue for now with the first set of users, and would as @jstrachan talks about get UX involed on how we can handl

[2017-06-21 11:58] joshuawilson commented on #265
This issue was moved to fabric8io/fabric8-planner#2026

[2017-06-21 12:00] qodfathr commented on #248
Acceptable for now. We'll figure out a way to deal with these other cases eventually.

[2017-06-21 12:07] jstrachan commented on #248
BTW I'm liking the idea of an `All` space thats always there and means 'look across all my spaces` so you can see all your pipeilnes / apps / resources across spaces

[2017-06-21 12:07] joshuawilson commented on #266
This issue was moved to fabric8io/fabric8-planner#2027

[2017-06-21 12:08] maxandersen commented on #246
If it is wrong we remove it.

@joshuawilson please create specific tasks as you see fit for your team.

[2017-06-21 12:09] joshuawilson commented on #248
maybe `all-my-spaces`

[2017-06-21 12:10] joshuawilson commented on #267
This issue was moved to fabric8io/fabric8-planner#2028

[2017-06-21 12:11] jstrachan commented on #248
yeah - we can leave it to UX to figure out the space ID and the space textual name; I don't much care either way ;) and it'll be pretty trivial to implement too

[2017-06-21 12:18] maxandersen commented on #253
@michaelkleinhenz I talked with @qodfathr and we are okey with having just the one available. importance is that we show the truth. additional templates can come later.

Is the work @kwk did to have the list reflect reality merged in ?

[2017-06-21 12:41] joshuawilson commented on #268
This issue was moved to fabric8io/fabric8-planner#2029

[2017-06-21 12:42] joshuawilson commented on #269
This issue was moved to fabric8io/fabric8-planner#2030

[2017-06-21 12:42] joshuawilson commented on #270
This issue was moved to fabric8io/fabric8-planner#2031

[2017-06-21 12:43] joshuawilson commented on #271
This issue was moved to fabric8io/fabric8-planner#2032

[2017-06-21 12:44] joshuawilson commented on #272
This issue was moved to fabric8io/fabric8-planner#2033

[2017-06-21 12:51] joshuawilson commented on #273
This issue was moved to fabric8io/fabric8-planner#2034

[2017-06-21 12:58] joshuawilson commented on #246
@maxandersen I'm adding things as I find them. However, I do not see any issue with the number in the `my workitems` dashboard widget. It appears to work as designed.

[2017-06-21 12:59] joshuawilson commented on #248
+1

[2017-06-21 13:32] maxandersen opened #274 "Access to logs of tenant services for doing support to users"

[2017-06-21 13:33] maxandersen commented on #274
related to #244

[2017-06-21 15:33] christian-posta opened #275 "Stack Report is incomplete for code metrics"
See this image:

<img width="1107" alt="oio-code-metrics" src="https://user-images.githubusercontent.com/53201/27392747-49560204-565c-11e7-86bf-5b79fc4a88de.png">

[2017-06-21 15:36] christian-posta commented on #275
Here's the code from the git repo used in this project/codebase

https://github.com/christian-posta/basic-springboot

[2017-06-21 15:55] luebken opened #276 "Stack analysis wrong API response"
If you request with an unknown id you get the misleading error that the analysis is in progress:
[code]
This is especially misleading as it is the same message if there is a legitimate analysis in progress. But that case should not be noted as an "error".

[2017-06-21 18:25] joshuawilson commented on #275
This issue was moved to fabric8-ui/fabric8-recommender#245

[2017-06-21 19:21] mindreeper2420 commented on #128
@joshuawilson this has been fixed, but I do not have a PR to link it to. I believe it was done as part of other work on the Detail Panel.

[2017-06-21 20:41] #128 closed

[2017-06-21 20:55] #135 closed

[2017-06-22 03:54] joshuawilson commented on #223
Fixed in https://github.com/fabric8io/fabric8-ui/pull/1559. Closing.

[2017-06-22 03:54] #223 closed

[2017-06-22 09:34] pmuir commented on #168
@sgk can you update with the latest status please?

[2017-06-22 13:24] ldimaggi opened #277 "405 error reported when a new space is created in the openshift.io UI"
Steps to recreate:
* Using the Chrome browser, open the More Tools->Developer Tools->Console log
* At https://openshift.io, create a new space
* Observe this error written to the console log:

```polyfills.f49acb8….bundle.js:1 PUT https://openshift.io/_p/oso/api/v1/namespaces/almusertest1/configmaps/fabric8-spaces 405 (Not Allowed)```

Note - there is no apparent functional impact of the error - a

[2017-06-22 13:39] maxandersen opened #278 "A way to mark areas as experimental features"
For launch Planner, Applications and Environment features should be marked as "experimental".

Proposal is to add a `[ ] Enable experimental features` checkbox under the users Profile page.

When this checkbox  is checked the tabs related to Planner, Applications and Environment should not be shown/active.

Unanswered question: What to do about deep links into these areas ? What about the public u

[2017-06-22 13:45] maxandersen commented on #246
See https://openshift.io/openshiftio/openshiftio/plan/detail/1291?iteration=%2Fopenshiftio%2FEnthusiasm

Enthusiasm is listed having 15 items but when clicking on it there is obviously more rendered (probably due to child iterations).

[2017-06-22 13:55] maxandersen commented on #248
Closing this at is ack'ed as sufficient.

@joshuawilson @jstrachan work with UX in https://github.com/fabric8io/fabric8-ui/issues/1557 on finding ways to handle the "non-labelled" items.

[2017-06-22 13:55] #248 closed

[2017-06-22 14:30] joshuawilson commented on #278
cc @catrobson

[2017-06-22 17:22] joshuawilson commented on #277
This issue was moved to fabric8io/fabric8-ui#1582

[2017-06-22 17:31] joshuawilson commented on #246
I mis-understood what you were referencing, now I see it in the Iteration panel in the Planner. I was talking about an issue list widget on the main dashboard of the whole UI. So yes this needs fixing.

[2017-06-22 17:33] joshuawilson commented on #173
This is being worked on at almighty/almighty-core#1291

[2017-06-23 06:19] mishaone opened #279 "Dialog Create Work Item: Creating Work Items from empty List View should have context values prefilled"
I was testing iterations and noticed that when an iteration is started and is moved to the current iteration (while empty of Work Items), we see a big "Create a Work Item" option in the empty right pane (see screenshot 1). The expected and intuitive behavior here should be that when I click the plus to create a new Work Item it is intended to be for this current iteration and should have the curre

[2017-06-23 07:09] #224 closed

[2017-06-23 07:13] #193 closed

[2017-06-23 08:25] ppalaga opened #280 "Build configuration appears twice in Create a new Starter project wizard"
Create a new Starter  project
EXPECTED: Build configuration step appears just once
ACTUAL: Build configuration step appears twice
![image](https://user-images.githubusercontent.com/1826249/27473116-48f39170-57fe-11e7-84ed-5fc68ee99b04.png)

[2017-06-23 12:44] qodfathr commented on #257
It needs to be displayed in the list, not just the details, per our discussion a few weeks ago.

[2017-06-23 13:19] #189 closed

[2017-06-23 14:11] michaelvirgil opened #281 "Platform - Build/Release/Deploy - Continuous Integration/Deployment"
# Description
As a developer of the system, I want to be able to have a clean, fast, reliable build that is both CI and CD.

# Acceptance Criteria
- [x] The various UI components should "roll-up" into all consuming UI components as they are merged to their master repo, via CI/CD https://github.com/fabric8io/fabric8-ui/issues/1591
- [ ] The builds should have consistent, repeatable, reliable, perfo

[2017-06-23 14:16] michaelvirgil opened #282 "Public GitHub Repos - Verify the free tier for users on OSIO"
# Description
As an owner/operator, I need all the Github repos to be public since they are deployed on the free tier of OSO and OSIO.

# Acceptance Criteria
- [ ] The system should prevent users from connecting to a private Github repo. Everything has to be "open" - includes the user's source code
- [ ] The system should verify that when operating, building etc of an associated GitHub repo that i

[2017-06-23 14:19] michaelvirgil opened #283 "Multiple tenant target support"
- [ ] Deployment targets (OSO-Free, OSO-Paid, OSD)
- [ ] Che Workspace / Jenkins master (OSO-Free, OSO-Paid, OSD)

Notes:

- OSiO currently only support OSO as a deployment target for the built applications.
- OSiO does not run on OSO, but in our own OSD.
- Build OSiO in OSiO we need support for running tenant services like Build in OSD so we can deploy into the production environment.

[2017-06-23 14:28] michaelvirgil opened #284 "Platform Architecture - Performance & Scale"
# Description
As a developer, I want to know and understand the architecture and I want it to be performant and reliable.

# Acceptance Criteria
- [ ] The architecture needs to be defined, documented, and published
    - [ ] Discuss, document, and share the current and progression of architecture
    - [ ] Architecture - Principles, planning the architectural runway...
    - [ ] Document the proce

[2017-06-23 14:32] michaelvirgil opened #285 "Notifications of base/simple/common actions"
Note: Functionality/mechanism provided by Platform
- [ ] email notifications service - component based definition of what to send...
    - [ ] Investigate management of notifications - platform/components…
    - [ ] Discover/register notifications available and management within platform
    - [ ] https://openshift.io/openshiftio/openshiftio/plan/detail/953
- [ ] Across component notifications - e

[2017-06-23 14:37] michaelvirgil opened #286 "Register, Sign up, login flow - Platform UI flow"
- [ ] Overall UX assessment and refinement [happening externally]
- [ ] Alexey/Aslak/JamesS/Dana Consider whether we need full AUTH against GitHub
- [ ] Remove requirement to have public full name and email from github profile
- [ ] UXD: Started page - Reconsider flow.

[2017-06-23 14:40] michaelvirgil opened #287 "Deployments page"
# Description
As a user, I would like to be able to easily understand how my application is currently deployed, including all of the services and their versions across multiple environments.

# Acceptance Criteria
- [x] As a user, I should be able to easily find my code deployments
- [x] As a user, I should be able to easily see which versions of which services are currently active on which enviro

[2017-06-23 14:41] michaelvirgil opened #288 "Applications and Environments pages"
- [ ] UXD design needed
- [ ] Pages recently added - need stakeholder discussion & review - next steps / plans

[2017-06-23 14:45] michaelvirgil opened #289 "Collaborators"
# Description
As a user, I want to be able to collaborate with other users in a space.

# Acceptance Criteria
- [ ] The collaborators page should have advanced searching capabilities.
- [ ] The collaborators page should have an easier add functionality.
- [x] Only collaborators may add new work items to a space https://github.com/almighty/almighty-core/issues/1358
- [ ] Collaborators in a space -

[2017-06-23 14:49] michaelvirgil opened #290 "Activity History"
- [ ] UX Design needed
- [ ] Definition of what we need for MVP outstanding
- [ ] Need to be able to understand/track/debug changes in the WI/system

[2017-06-23 16:11] joshuawilson commented on #246
@qodfathr you stated above that the only thing remaining was removing the Developer Poll. That has been removed. Closing this issue.

Anyone, if there are other specific things that need to be cleaned up please reopen and specify them.

[2017-06-23 16:18] joshuawilson commented on #279
This issue was moved to fabric8io/fabric8-planner#2040

[2017-06-23 16:21] joshuawilson commented on #280
@ppalaga this is a limitation of the Forge backend that requires a validation step. That said, we are aware of it and are looking for a better way to handle it.

[2017-06-23 16:21] joshuawilson commented on #280
This issue was moved to fabric8io/fabric8-ui#1593

[2017-06-23 17:46] joshuawilson commented on #288
Closing as this is a duplicate of #287

[2017-06-23 17:46] #288 closed

[2017-06-27 08:06] jstrachan opened #291 "A diagnose pipeline to capture tenant status and metadata to help diagnose tenant issues"
a pipeline job may be the easiest place to do nightly diagnosis reports on whats happening in the tenant space; what pods are running, restarts, memory usage and whatnot.

ultimately we'll have nice prometheus & elasticsearch to help; but a job we can trigger on a per user basis on demand might be the simplest thing to do.

Being able to login to tenants Jenkins might be handy too so we can noodle

[2017-06-27 08:12] maxandersen opened #292 "fix dual access to 'dual' openshift so launch works with openshift.io"

[2017-06-27 08:23] jstrachan opened #293 "disable the auto-creation of the Jenkins pod in the users main namespace"
when we create a BuildConfig in the users main namespace, openshift automatically creates a Jenkins. Though there's also one in the `-jenkins` namespace ;)

So we need to disable OSO from automatically creating the jenkins in the main namespace

[2017-06-27 08:25] jstrachan opened #294 "support fabric8 and OSIO branding in the UI using an env var to enable OSIO branding"
the default should be fabric8 branding when folks install fabric8 on premise

[2017-06-27 08:34] jstrachan commented on #242
we need a way to phase the rollout of new tenant versions as part of the CD pipeline - see https://github.com/fabric8io/fabric8-init-tenant/issues/68

[2017-06-27 08:38] joshuawilson opened #295 "Display Status info"
The drop down that shows status is hard coded to "green". It needs to be connected to the service that provides those statuses.

[2017-06-27 08:39] joshuawilson commented on #295
@kbsingh can you please provide the reference to the service.

[2017-06-27 08:40] jstrachan opened #296 "Use Zabbix REST API to populate the status for Planner & Platform"
this is for for OSIO - for fabric8 on premise we'd either disable or use something else?

Here's the code:
https://github.com/fabric8-ui/fabric8-runtime-console/blob/master/src/app/kubernetes/ui/status/status-list.component.html#L3-L9

[2017-06-27 08:56] kbsingh opened #297 "recap users privileges on non app namespaces"
Users should have view, and only view priv's on Jenkins and Che spaces

[2017-06-28 16:32] piggyvenus opened #298 "Create a new Quickstart project wizard failed to complete"
At the end of the Forge Wizard, I got an error like this:
<img width="837" alt="screen shot 2017-06-28 at 9 18 56 am" src="https://user-images.githubusercontent.com/15617833/27648844-bf277e94-5be4-11e7-9aaf-6763aeaab1f5.png">

[2017-06-28 21:48] piggyvenus opened #299 "NullPointerException from the Quickstart Wizard"
![screen shot 2017-06-28 at 2 42 37 pm](https://user-images.githubusercontent.com/15617833/27661880-ce960c16-5c10-11e7-97c6-288759593823.png)

[2017-06-28 21:54] debianmaster opened #300 "can see other's spaces!"
Logged in as cjonaga-io  but can see other's spaces too.?  it it on purpose?   ofcourse i could not delete them :)

<img width="1263" alt="others" src="https://user-images.githubusercontent.com/1439169/27662148-83144ee6-5c11-11e7-9f93-fa239c477542.png">

[2017-06-28 22:04] debianmaster commented on #298
+1 on this.   i'm on the same page.

[2017-06-29 07:56] bartoszmajsak opened #301 "Duplicated "Create new space" header"
When creating new space from the **Profile**, modal has double "Create new space" label.

![image](https://user-images.githubusercontent.com/719616/27677169-081e8bde-5cb1-11e7-968c-79635be273a8.png)

It seems that first one is part of `<h4 class="modal-title">Create new space</h4>` and the other is nested in `<space-creator>`.

Chrome v59.0.3071.104

[2017-06-29 11:33] luebken opened #302 "Bug: No /stack-analysis results for known stack"
I started a stack analysis for https://github.com/openshiftio-vertx-boosters/vertx-http-booster

The results seem broken:
[code]

[2017-06-29 16:34] maxandersen opened #303 "new users does not get che + jenkins setup"
issue at https://github.com/fabric8-ui/fabric8-ui/issues/1606

means new users don't have the right setup is thus a blocker.

[2017-06-29 17:44] piggyvenus commented on #299
Here is what I did: Create a new space → quickstart → selected springboot - basic as the tech stack  → click Next → saw message (validating… loading next step) → get the NullPointerException.

[2017-06-29 18:22] debianmaster opened #304 "continues page reload loop"
Goto:  https://openshift.io/cjonagam-io/_spaces     `replace cjonagam-io` with your yousername

and click `New` button   page goes into infinite loop of   Reload -> New -> Reload

[2017-06-29 18:29] jstrachan commented on #303
this is the underlying issue https://github.com/fabric8io/fabric8-init-tenant/issues/122

[2017-06-29 18:29] jstrachan commented on #295
this duplicates https://github.com/openshiftio/openshift.io/issues/296

[2017-06-29 18:30] bartoszmajsak commented on #298
I saw it yesterday. I think updated tenant solved the problem.

[2017-06-29 18:46] piggyvenus commented on #299
I did Update Profile --> update tenant
https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-update-my-tenant-
Thanks @debianmaster!

[2017-06-29 18:46] #299 closed

[2017-06-29 18:50] piggyvenus commented on #298
Yes, it did. Thanks! Tested and worked now.

[2017-06-29 18:50] #298 closed

[2017-06-29 22:59] debianmaster opened #305 "UX request -- enabling che seems to be not very User friendly"
As a first time user i found it difficult to locate the button to enable che in openshift.io.
Not sure how but looks like if we can enable it by default or more UX friendly messaging should be done

[2017-06-29 23:06] piggyvenus opened #306 "Failed to create workspace"
Failed to create workspace when clicking on "create workspace" under codebase

[2017-06-29 23:07] piggyvenus commented on #306
resolved by updating tenant again.

[2017-06-29 23:07] #306 closed

[2017-06-29 23:17] debianmaster opened #307 "Unable to delete pipelines"
How to replicate:
Create -> Pipelines ->  Select pipeline -> Select `Delete` from Popup
EX:- https://openshift.io/cjonagam-io/test/create/pipelines

Expected:
Pipeline should be deleted

Actual result:
Pipeline is not getting deleted nor any showing any acknowledgement.

[2017-06-29 23:19] debianmaster commented on #307
This may be because of stale records.   should order of deleting of objection matter?

[2017-06-29 23:26] debianmaster opened #308 "Same code base shown multiple times"
I started from scratch and created a booster springboot application.
Screen now redirected to my app namespace. but code base is shown 3 times ( please see picture)

<img width="708" alt="screen shot 2017-06-29 at 4 27 59 pm" src="https://user-images.githubusercontent.com/1439169/27714709-89938558-5ce7-11e7-8e89-807e59440dde.png">

fyi: i may have hit create button three times on booster creation

[2017-06-29 23:31] joshuawilson commented on #292
@maxandersen please add a description. I'm unsure what this means.

[2017-06-29 23:34] debianmaster opened #309 "Usability: unable to locate application url from Che"
After launching workspace for a Springboot application i did following steps
-> Build
-> Run

Console shows my app is running on 8080  but i'm not able to locate URL which i can use for testing the application.    it be difficult to go openshift.com and then figure out what url  i need to use for testing.    A helper message which shows complete application url may be helpful

[2017-06-30 07:57] aslakknutsen commented on #308
Related https://github.com/fabric8-services/fabric8-wit/issues/1294

[2017-06-30 08:52] michaelkleinhenz opened #310 ""Start Coding" button to seamlessly start coding from a Work Item"
# Description
As a user, I want to go seamlessly from a logged issue to the sourcecode with the intention of directly being able to work on resolving that issue.

# Acceptance Criteria
- [ ] In the Planner, in the detail view, there is a function that links to the Che workspace associated with the current project.
- [ ] Activating that link opens a new window that loads the associated Che workspac

[2017-06-30 10:12] michaelkleinhenz opened #311 "Support and Customer Service for external users"
# Description
As an external user, I want to get timely help on problems or issues I have with the OpenShift.io service. As a developer, I want to get feedback from external users in a structured, manageable way to use it to improve the offering.

# Acceptance Criteria
- [ ] The system has monitoring support that allows components to send monitoring information to a central storage for further pro

[2017-06-30 14:11] ldimaggi commented on #311
We will also want to be able to generate metrics on customer issues - mean/average time to resolve customer issues, counter for instances of the same issue being reported, regressions if problems are reported, resolved, and then recur, etc.

And - some measure of customer satisfaction too - such as - https://www.getfeedback.com/blog/measure-customer-satisfaction-with-csat/

[2017-06-30 14:23] ldimaggi commented on #310
Just to confirm - the user would add this metadata to the workitem that identifies the bug? (metadata for adressing the workspace, codebase, and path)

[2017-06-30 15:44] ldimaggi commented on #309
You might have run into this issue:
https://github.com/fabric8-ui/fabric8-ui/issues/1619

The links displayed on the pipeline page will take you to the deployed app - but it requires some time until the app is reachable.

[2017-07-03 15:28] kwk commented on #285
Do we want to have a permanent storage for notification that can be served to the user somewhat like Github is doing here: https://github.com/notifications ?

[2017-07-03 15:48] joshuawilson commented on #253
Templates are not complete but the dropdown only shows "Scenario Driven Planning".
Marking this as done.

[2017-07-03 15:48] #253 closed

[2017-07-03 16:03] aslakknutsen commented on #285
@kwk Yea, we probably want some sort of 'Notification area' in the future. But as far as this sprint is concerned it's more about just getting some kind of notification out so people can know that something has happened.

[2017-07-03 16:06] hectorj2f commented on #285
@aslakknutsen It depends of what we want but having some storage might be easy

[2017-07-03 18:47] dgutride opened #312 "Add item already exists error code to areas/{id} POST when user attempts to create duplicate area"
In order for PR https://github.com/fabric8-ui/fabric8-ui/pull/1616 to be merged and to fix https://github.com/fabric8-ui/fabric8-ui/issues/921, we need to be able to know definitively that a duplicate area was created.  Ideally, an application specific error code would be added to the JSON API in order to determine that an area already exists.  The current PR is looking at the human-readable descr

[2017-07-03 19:49] aslakknutsen commented on #312
The backend should probably return HTTP 409 Conflict on the POST to the collection in these cases.

[2017-07-03 20:43] RickJWagner opened #313 "Doc link broken from 'home' page"
The 'Home' page is divided into 3 panes:
- Recent spaces
- My work items
- Recent active pipelines

'My work items' has a link, 'Learn how to get started in the documentation.'  The link is broken, it leads to a 404.

![image](https://user-images.githubusercontent.com/524520/27807436-657dff96-6006-11e7-97b4-884f1a0256e5.png)

[2017-07-03 20:44] RickJWagner commented on #313
![image](https://user-images.githubusercontent.com/524520/27807448-80ddb07e-6006-11e7-9870-f081f0f996c7.png)

[2017-07-04 01:33] #295 closed

[2017-07-04 01:36] joshuawilson commented on #297
@alexeykazakov @jstrachan @maxandersen who should work on this?

[2017-07-04 01:38] joshuawilson commented on #300
The Delete icon is being removed from ones you don't own to help clear up that part. This view allows you to search for spaces if you want to view one that is not your own. This is done on purpose.

[2017-07-04 01:38] #300 closed

[2017-07-04 01:39] joshuawilson commented on #301
This issue was moved to fabric8-ui/fabric8-ui#1627

[2017-07-04 01:50] joshuawilson commented on #302
This issue was moved to fabric8-ui/fabric8-recommender#248

[2017-07-04 01:58] joshuawilson commented on #302
@luebken I'm not sure who would work/own this. If it should go to a different repo, please let me know.

[2017-07-04 02:01] joshuawilson commented on #304
This issue was moved to fabric8-ui/fabric8-ui#1628

[2017-07-04 02:04] joshuawilson commented on #305
Are you referring to the "update tenant" button. If so, we plan to make it automatic or make it very obvious that it needs to be done.

[2017-07-04 02:08] joshuawilson commented on #307
The feature, to delete, has not be implemented yet.

[2017-07-04 02:10] joshuawilson commented on #307
This issue was moved to fabric8-services/fabric8-wit#1464

[2017-07-04 02:12] joshuawilson commented on #307
Duplicate of https://github.com/fabric8-ui/fabric8-ui/issues/1355

[2017-07-04 02:16] joshuawilson commented on #311
This is related to https://github.com/fabric8-ui/fabric8-ui/issues/492
https://redhat.invisionapp.com/share/CFC91QFHU

[2017-07-04 02:27] alexeykazakov commented on #297
Jenkins is for @jstrachan and @amisevsk is working on Che

[2017-07-04 02:37] joshuawilson commented on #309
@debianmaster are you having an issue from within Che or getting to Che?

[2017-07-04 02:41] joshuawilson commented on #285
related to #245

[2017-07-04 02:42] joshuawilson commented on #312
@aslakknutsen do you have an issue for working this or do you want me to copy this to fabric8-wit?

[2017-07-04 02:45] joshuawilson commented on #313
duplicates https://github.com/fabric8-ui/fabric8-ui/issues/1378

[2017-07-04 02:46] joshuawilson commented on #313
@mindreeper2420 can you please take a look at this.

[2017-07-04 07:35] corinnekrych commented on #246
Subtasks:
[] clean platform code https://github.com/fabric8-ui/fabric8-ui/issues/1629
[] fix bug on count

[2017-07-04 07:58] luebken commented on #302
@joshuawilson Me neither. I'm only tracking my issues in this repo.

[2017-07-04 14:21] joshuawilson commented on #246
@corinnekrych I don't think that cleaning up the code in the UI counts as a Blocker. It is more a tech-debt level.

[2017-07-04 23:52] mishaone opened #315 ""My work items" in dashboard rendering badly"
Right after logging in, we're take to the dashboard with Recent Spaces, My work Items and recent active pipelines. The "My work items" part of this is rendering oddly. The first screenshot shows how the title of the work items seems to be overwriting a hash. The second shows multiple work items doing the same. I highlighted the title to see what exactly it said.

![workitemerror](https://user-imag

[2017-07-05 02:07] joshuawilson commented on #315
This issue was moved to fabric8-ui/fabric8-ui#1630

[2017-07-05 03:52] joshuawilson commented on #243
fixed with https://github.com/fabric8-services/fabric8-wit/pull/1359

[2017-07-05 03:52] #243 closed

[2017-07-05 12:52] maxandersen opened #316 "Curate list of boosters/quickstarts to only contain those that actually will work within Che in openshift online"

[2017-07-05 16:47] joshuawilson commented on #316
To be clear, this is to remove those quickstarts that do NOT run on our build set or work in Che?

[2017-07-06 12:22] michaelkleinhenz opened #317 "Non-Contextual Detail View for Work Items in Planner"
# Description
As a user, I want to have a context-free detail view that is full-screen displaying detail information of a work item. I can also directly link to this detail view using a sane URL pattern.

# Acceptance Criteria
- [ ] The user can navigate to the detail view using a deep link URL containing readable adressing of the Work Item.
- [ ] The user can navigate to the detail view from the

[2017-07-06 12:22] michaelkleinhenz opened #318 "Quick Preview for Work Items in Planner"
# Description
As a user, I want to use a quick preview of the details of a work item from the query result in either the list or board view.

# Acceptance Criteria
- [ ] The user can navigate to the quick preview from list entry in the list view.
- [ ] The user can navigate to the quick preview from the card entry in the board view.
- [ ] The interaction for opening the quick preview does not inte

[2017-07-06 12:23] michaelkleinhenz opened #319 "Query Language for Entities"
# Description
As a user, I want to use a powerful yet flexible query language to query for Work Items in the Planner.

# Acceptance Criteria
- [ ] There is a query language available for creating complex search expressions.
- [ ] The query language can use all attributes of Work Items as keys in expression terms, this includes Area, Assignee, Work Item Type, Iteration, Work Item State, Iteration P

[2017-07-06 12:23] michaelkleinhenz opened #320 "Shortcut Query UI Section in Sidebar of Planner"
# Description
As a user, I want to use meaningful shortcuts to common queries based on the current Space template to be available in all view contexts to make it easy to get to commonly used views of my Work Items.

# Acceptance Criteria
- [ ] In the sidebar, there is a section containing shortcuts to common search criterias.
- [ ] The criterias are expandable/collapsable with a header that design

[2017-07-06 12:24] michaelkleinhenz opened #321 "Shortcut Query Type Hierarchy UI Section in Sidebar of Planner"
# Description
As a user, I want to use meaningful shortcuts derived from the type hierarchy based on the current Space template to be available in all view contexts to make it easy to get to commonly used views of my Work Items.

# Acceptance Criteria
- [ ] In the sidebar, there is a section containing type hierarchy criterias.
- [ ] The section contains a criteria "Portfolio" that, when activated

[2017-07-06 12:24] michaelkleinhenz opened #322 "Adding new Work Items using Quick Add in Planner"
# Description
As a user, I want to add new Work Items using a quick add function that creates new Work Items based on my current context, setting certain attributes on the new Work Item implicitly in a meaningful way.

# Acceptance Criteria
- [ ] The user can add Work Items using a quick add function from the list view.
- [ ] All existing features of the current quick add function are preserved.
-

[2017-07-06 12:24] michaelkleinhenz opened #323 "Adding new Work Items using Dialog Add in Planner"
# Description
As a user, I want to add new Work Items to my current Space using a dialog that offers all settings and attributes that are available on the new Work Item and it's selected Work Item Type.

# Acceptance Criteria
- [ ] The user can navigate to a New Work Item dialog.
- [ ] using the dialog, the user can add new Work Items.
- [ ] The dialog is displayed full screen and without context

[2017-07-06 12:24] michaelkleinhenz opened #324 "Context Views for Planner"
# Description
As a user, I want to view my Work Items in a structured way. I want to have different visual representations for different usecases on the same data.

# Acceptance Criteria
- [ ] The user can switch between a list view and a board view of Work Items using the menu navigation.
- [ ] The current query/filter context is persistent when switching between context views. This includes the

[2017-07-06 12:25] michaelkleinhenz opened #325 "List View for Work Items in Planner [13]"
# Description
As a user, I want to view query results of Work Items in a list view that enables me to browse the resulting Work Items and it's childrens, open views on specific items and letting me update items in a meaningful way.

# Acceptance Criteria
- [ ] The user can switch to a hierarchical list view of the current context. See the Context Views story for details on the context.
- [ ] The h

[2017-07-06 12:25] michaelkleinhenz opened #326 "Filter Toolbar for Planner"
# Description
As a user, I want to narrow down Work Item results from the list view as well as the board view using common filter criterias based on the current Space template.

# Acceptance Criteria
- [ ] There is a Filter Toolbar that shows the controls that lets the user create a search expression.
- [ ] There is an Active Filter Bar that shows the current active filter configuration.
- [ ] Bot

[2017-07-06 12:26] michaelkleinhenz opened #327 "User Settings Storage"
# Description
As a user, I want to have settings and other UI-based data (like custom filters) stored on my account and being available on later visits.

# Acceptance Criteria
- [ ] User settings are transparently stored on server side on the User.
- [ ] User settings can be retrieved and updated from any client component.
- [ ] Client components should be able to create new settings using a conte

[2017-07-06 12:26] michaelkleinhenz opened #328 "User-defined Custom Filters in Planner"
# Description
As a user, I want to store custom filter expressions to be used as shortcuts. I want to be able to derive those stored filters from view configurations I made using the common filter features in the Planner.

# Acceptance Criteria
- [ ] The user can store a current configuration of the query/filter toolbar to a custom criteria.
- [ ] The user can give a name for the new custom criter

[2017-07-06 12:26] michaelkleinhenz opened #329 "Work Item Labels for Planner [3]"
# Description
As a user, I want to create labels and add them to Work Items to have an easy way of categorizing Work Items. I also want to be able to filter for labels using the filter UI features.

# Acceptance Criteria
- [ ] The user can create labels from a dialog view.
- [ ] The user can delete labels from a dialog view.
- [ ] The user can set a color and a title on a label.
- [ ] In the detai

[2017-07-06 12:26] michaelkleinhenz opened #330 "Board View for Work Items in Planner"
# Description
As a user, I want to view query results of Work Items in a board view that enables me to browse the resulting Work Items, open views on specific items and letting me update items in a meaningful way.

# Acceptance Criteria
- [ ] The user can switch to a board view of the current context. See the Context Views story for details on the context.
- [ ] The board view displays the Work It

[2017-07-06 12:26] michaelkleinhenz opened #331 "Guided Type Selection for new Work Items in Planner"
# Description
As a user, I want to have new Work Items created following a type hierarchy that is custom for the current space template. I want to be guided based on the current space template on which types of Work Items I can create using the quick add or the dialog based new Work Item feature.

# Acceptance Criteria
- [ ] The Work Item Types of a Space template are part of a defined structure t

[2017-07-06 12:27] michaelkleinhenz opened #332 "Linking Work Items in Planner"
# Description
As a user, I want to be able to link Work Items using named/semantic links.

# Acceptance Criteria
- [ ] Work Items can be linked together not regarding the Work Item Types on the source or target Work Item.
- [ ] All other UI and semantic behaviour of the current implementation is unchanged.

**Note**: The important requirement of this story is the removal of the current restriction

[2017-07-06 13:09] michaelkleinhenz opened #333 "Notifications for Events on Work Items"
# Description
As a user, I want to receive notifications for events on Work Items.

# Acceptance Criteria
- [ ] The user receives a notification for events on Work Items via the platform notification service.
- [ ] A user can be added to a "follower" list of users on a Work Item.
- [x] A user gets added to the follower list when he is the creator of the Work Item.
- [x] A user gets added to the fo

[2017-07-06 13:10] michaelkleinhenz opened #334 "Linking to GitHub from Markdown Fields"
# Description
As a user, I want to be able to put links to GitHub issues into the description fields or comments so that they directly link to the GitHub issue.

# Acceptance Criteria
- [ ]  The user can add a GitHub issue link to the description field by pasting the GitHub URL into the field.
- [ ]  The user can add a GitHub issue link to a comment field by pasting the GitHub URL into the field.

[2017-07-06 13:10] michaelkleinhenz opened #335 "Fixed Attributes on Work Items"
# Description
As a user, I want to have a set of fixed attributes on all Work Item Types. These attributes describe mandatory information that is used in the semantic behavior of the Planner and OSIO.

# Acceptance Criteria
- [ ] All fixed attribute fields existing in the current implementation are unchanged.
- [ ] The user can set an attribute field "state" that describes the current state of a W

[2017-07-06 13:12] michaelkleinhenz opened #336 "Viewing and Updating the Current Iteration"
# Description
As a user, I want to see and update the current Iteration from the context views.

# Acceptance Criteria
- [ ] The user can set optional start and end dates for an Iteration.
- [ ] The user can set an "active" flag on an iteration. The active flag has a higher significance as the automatic calculation from the date.
- [ ] If a start and end date is set, the iteration is considered "a

[2017-07-06 13:23] maxandersen commented on #335
You mean list of states are global for the whole system or just per space template ?
is that any different from what is there now ?

[2017-07-06 15:24] michaelkleinhenz opened #337 "Backlog in Planner"
# Description
As a user, I want to..

# Acceptance Criteria
- [ ]

**Note**:

# Relationships
_Put linked Team/Product story links here_

[2017-07-06 18:59] joshuawilson commented on #327
@michaelkleinhenz I think this is something the Platform team should own. All the teams/components need this but they shouldn't set it up. Can we move this to the Platform backlog?

[2017-07-06 19:01] joshuawilson commented on #326
This is such a key and basic feature we should see if we can get it included in patternfly-ng.

[2017-07-06 19:03] joshuawilson commented on #333
This is already in the Platform Backlog at #285, can you please update that one.

[2017-07-06 23:21] alexeykazakov opened #338 "Space-Level Authorization"
As a User, I want to have full control of my owned Spaces, including defining who has access to them and in what way

[2017-07-06 23:30] alexeykazakov opened #339 "Pipeline-Level Authorization"
As a User, I want to have full control of pipelines in my owned Spaces, including defining who has access to them and in what way.

[2017-07-06 23:31] alexeykazakov commented on #339
Currently, because of OS technical limitations we probably can't do much besides making pipelines visible for space collaborators.

[2017-07-06 23:38] alexeykazakov opened #340 "Work Item-Level Authorization"
As a User, I want to be able to limit access to work items in my spaces for other osio users.

[2017-07-06 23:46] alexeykazakov opened #341 "Token storage service"
We need a service where we can store user's OpenShift and GitHub tokens.
This service will need to provide REST API to:
1. Link GitHub and OpenShift accounts to the main user account
2. Obtain GitHub and OpenShift user tokens

[2017-07-07 08:49] michaelkleinhenz commented on #338
- The user can view and update the collaborators list using a dialog view.
- The user can add new collaborators from a list of users known to the system (having an account on OSIO).
- The default role for newly added users on the list of collaborators is "developer".
- The user can remove collaborators from the list of collaborators.
- The user can update the role of a user on the list of collabor

[2017-07-07 09:39] michaelkleinhenz commented on #340
I am unsure if this is a topic for the next 5-6 sprints. This would imho require a lot of ui dialogs, possibly with user-created roles and associations of roles to rights. I think this is something for beyond J1.

[2017-07-07 09:45] michaelkleinhenz commented on #341
This should go into the team's backlog as it is a detail story describing the specific implementation. The story here should be about the users (or PMs) point of view. For this example:

Story: Authentication over Community Sites
-> As a user, I want to register and log in using my GitHub, (...) account to access OSIO as fast and as convinient as possible.

Story: Access to GitHub data from OSIO
-

[2017-07-07 09:49] michaelkleinhenz commented on #339
- The user can view, set and update the AuthZ settings for users on pipelines using a dialog view.
- The user can add view access to pipelines to collaborators of a space.
- The user can remove view access to pipelines to collaborators of a space.
- The default access setting is "can view" for collaborators on a space.

**Note**: only users can be added that are already collaborators on a Space.

[2017-07-07 09:56] michaelkleinhenz commented on #333
Lets talk about that in the Consolidation meeting today. But yes, this is an example of a crossover story. We need to consolidate this into one single story.

[2017-07-07 09:58] michaelkleinhenz commented on #326
Mmh..this is one of the two central elements of the Planner. I don't think this can be generic. This will be a very specific component. But there are generic components inside of it, the filter "flag" bar for example - and we're already using standard components from Patternfly for that.

[2017-07-07 10:01] michaelkleinhenz commented on #327
Sure. This is the intention. We need to consolidate crossover stuff. Also, everything in here has to end up in the master OSIO backlog. Derived sprint-long stories should be ending up in the teams backlogs (as it was till now, no change there). This level is PM communication level only.

[2017-07-07 10:03] michaelkleinhenz commented on #335
Yeah, that is an open question I also had. As we don't have a sane way of configuring or storing "system wide space-crossing" settings of types, those should go into the Space template.

[2017-07-07 12:45] maxandersen commented on #316
Ideal is to have only quickstarts that actually will deploy AND be possible to run the unit tests in Che (even if that means remove the tests)

[2017-07-07 12:48] maxandersen opened #342 "Triggering any build with a git push runs all pipelines not just the one related to the repo"

[2017-07-07 12:48] maxandersen commented on #342
@ldimaggi @qodfathr mentioned you seen this - can you point to details/steps to reproduce ?

[2017-07-07 12:53] maxandersen commented on #246
planner related items don't block at this time. thus closing as that is the only issue left.

[2017-07-07 12:53] #246 closed

[2017-07-07 12:54] maxandersen commented on #257
Planner items not blocking initial rollout. thus removing from first block list.

[2017-07-07 13:23] maxandersen opened #343 "Notifications"

[2017-07-07 13:42] #343 closed

[2017-07-07 14:14] maxandersen opened #344 "Coarse grained UI extendability/isolation"

[2017-07-07 14:14] maxandersen opened #345 "Deploy to other clusters than openshif online"

[2017-07-07 14:45] gastaldi commented on #316
So these are the boosters in https://github.com/openshiftio/booster-catalog right?

Let me know which boosters are valid and then I'll create a branch containing only the supported boosters (probably named `che` or something more intuitive - suggestions are welcome)

[2017-07-07 14:48] gastaldi commented on #316
We'll have a meeting on Monday 10th to discuss about how to improve the booster-catalog, so although a different branch will resolve the issue for now, the strategy may will probably change depending on the outcome of the meeting.

[2017-07-07 15:08] jstrachan commented on #316
so to fix this blocker for now we could just remove them all right ?

/me ducks :)

[2017-07-07 15:14] gastaldi commented on #316
<sarcasm>
They all work in my local IDE
</sarcasm>

😃

[2017-07-07 15:37] mbenitez1607 commented on #236
JIRA issue: https://issues.jboss.org/browse/CHE-291 is now tracked in github: https://github.com/redhat-developer/rh-che/issues/139

[2017-07-07 15:40] #112 closed

[2017-07-07 15:42] #111 closed

[2017-07-07 16:09] nimishamukherjee commented on #336
- Does the "active" flag get auto-updated on iterations based on their start date or it needs to be set manually by the user?
- If an iteration is no longer active where does it move - future iterations or closed iterations?
- If an iteration is no longer active, what is the impact on the associated work items?

[2017-07-08 05:28] sdash-redhat commented on #328
The story needs to avoid the descriptions of "where" and "how" of the interaction to avoid defining the user experience - unless the experience and layout with interaction expected is pre-decided. For example "In the sidebar, there is a section containing shortcuts to the stored custom criteria of this user." - this defined the UX element of where on UI certain elements will appear ... This will r

[2017-07-08 20:07] joshuawilson commented on #312
This issue was moved to fabric8-services/fabric8-wit#1484

[2017-07-09 01:31] joshuawilson opened #346 "Account Dashboards"
When a user logs into OpenShift.io, they are show their primary account dashboard. The primary account dashboard is one of potentially many account dashboards; these dashboards display information about the user's account, resource usage, Spaces, etc.. The information is displayed via a number of widgets.

When a new user account is created, a single, default dashboard is automatically created wit

[2017-07-09 01:37] joshuawilson opened #347 "Profile"
# Description
As a user, I want to be able to access my information and activity in my profile.

# Acceptance Criteria
- [ ] The list of all spaces should be in the profile pages. This should default to just the spaces of the logged in user.
- [ ] There should be an Activity feed or list of actions take. (history)
- [ ] There should be controls for notifications.

**Note**:

# Relationships
_Put l

[2017-07-09 01:43] joshuawilson opened #348 "Space - dashboard / overview"
# Description
As a user, I want to be able to use a space to work in.

# Acceptance Criteria
- [x] The space dashboards should only show information for that space. https://github.com/fabric8-ui/fabric8-ui/issues/1746

[2017-07-09 02:04] joshuawilson opened #349 "System health status"
# Description
As a user, I want to be able to know the status of the system.

# Acceptance Criteria
- [ ] Gather requirements for what subsystems and information a user desires to see about status https://github.com/fabric8-ui/fabric8-ui/issues/1851
- [ ] The system should let the user know when sub-system is not working https://github.com/openshiftio/openshift.io/issues/168 https://github.com/ope

[2017-07-09 03:27] joshuawilson opened #350 "Organizations"
The creation of a new organization must be initiated by an existing user. **UXD work to be done here** The user goes to the Organizations screen of their user Settings and performs the `New Organization` operation.

An organization requires a unique name, following the same naming restrictions for a user account. This name is be used to navigate the service, using URLs of the form https://openshif

[2017-07-09 03:37] joshuawilson opened #351 "Teams (Overview)"
## Overview
As the number of people involved with a development project increases, it is natural to divide the members into logical Teams. Some people may even be a part of multiple Teams.

In OpenShift.io, Teams serve  a primary purposes: to filter the display of development artifacts to those relevant to the members of team. For example, seeing only the backlog items for the team or only the pip

[2017-07-09 03:47] joshuawilson opened #352 "Areas"
# Description
As a user, I want to be able to segregate a space into areas that allow for a separation of concerns.

# Acceptance Criteria
- [ ] Areas should be nestable, as in fitting into a hierarchy.
- [ ] The user should be able to create, view, and update the area details
- [ ] A team should be able to be associated to an area.
- [ ] Users should be able to view teams associated with an area.

[2017-07-09 03:53] joshuawilson opened #353 "Application Wizard"
# Description
As a user, I want to be able to automatically generate an application in a way that is easy to follow.

# Acceptance Criteria
- [ ] The quickstarts that made available should work all the way through the system.
- [ ] The app-wizard should be clear and easy to understand.

**Note**:
Experience 1608E095 [P0] - create applications
Experience 1608E177 [P*] - The “new project wizard” end

[2017-07-09 03:55] joshuawilson commented on #353
@catrobson do you think the app-wizard needs UX to look at it again?

[2017-07-09 04:06] joshuawilson opened #354 "Platform extensibility"
# Description
As a user, I want to be able to add my own components to OSIO. I also want to configure which components I have in my view and where they are displayed. It should be personalizable.

# Acceptance Criteria
- [ ] Developers should be able to create an extension that plugs into the OSIO framework.
- [ ] Approved extensions will be made available to all users of OSIO.
- [ ] The user shou

[2017-07-09 12:35] catrobson commented on #353
@joshuawilson yes.

[2017-07-09 23:56] aslakknutsen commented on #303
Fixed by https://github.com/fabric8io/fabric8-init-tenant/pull/144

[2017-07-09 23:56] #303 closed

[2017-07-09 23:58] aslakknutsen commented on #293
You mean something beyond deploying the dummy "Jenkins" service in the user namespace? Else this sounds fixed...

[2017-07-09 23:59] aslakknutsen commented on #297
This could effect the current impl of the Status API as well. For the Status API to work the user would at least require Read rights to -che and -jenkins

[2017-07-10 01:52] joshuawilson opened #355 ""Upgrade" suggestions"
# Description
As a user, I want to be aware of when the resource limits of the free tier are hindering me and be informed that upgrading to the paid tier will allow things to work.

# Acceptance Criteria
- [ ] When the user tries to perform an action, like opening 2 che workspaces, that require more resouces then they are allocated a message should be displayed extolling the advantages to the paid

[2017-07-10 07:03] sbose78 commented on #329
How similar would this be , wrt to Github labels? Asking for a better understanding.

Is this a hint that later on, we *might* want to co-relate this with kubernetes/openshift labels?

[2017-07-10 07:18] sbose78 commented on #334
Are we planning to have a working URL in the text fields - in that case all url strings in the text fields should be working url.

Or, we looking at rendering the urls in a fancy way ... Something like this - " https://github.com/fabric8io/fabric8-init-tenant/issues/105 "

[2017-07-10 08:00] sbose78 commented on #351
Does admin access here imply privileges to administer a space, or privileges to administer the team?

Similar to Github Organization, are teams a subset of an organization? Or can a team be defined without the context of an organization.

Example,
I create a team called "CI experts" and add the same team to multiple orgs.

[2017-07-10 08:23] maxandersen opened #356 "Login flow ends up in "already logged in" and still user has to manually login twice"
This tend to happen after some 8-24hr+ of non openshift.io or any developers.redhat.com usage at all - meaning, I see it almost every morning.

CURRENT BEHAVIOR:

1) Open Browser on openshift.io or manage.openshift.com and gets told I need to login
2) click on login, fill in credentials
3) Presented with page saying "Already logged in" (no buttons available to do *anything*
4) Repeats Open Browser

[2017-07-10 08:31] invincibleJai commented on #302
@luebken tried recreating , have used same manifest file as yours https://github.com/invincibleJai/test-my-space19/blob/master/pom.xml

for this build in OSIO I was able to get recommendations as below , am i missing something here ??

curl -sH "Authorization: Bearer $STACK_API_TOKEN" https://recommender.api.openshift.io/api/v1/stack-analyses/b0e69d2876c44c5aacc5b7d38f400509

`{
    "finished_at":

[2017-07-10 09:45] l0rd commented on #236
We have a first PR to address that on [rh-che repository](https://github.com/redhat-developer/rh-che/pull/173) but we haven't merge it to `master` yet because we need to solve some related issues:

-  [Can not open workspace from Codebases view (ERR_TOO_MANY_REDIRECTS)](https://github.com/redhat-developer/rh-che/issues/180)
- [KC authentication fails when username contains a dot](https://github.co

[2017-07-10 09:54] l0rd commented on #236
cc @ibuziuk @davidfestal

[2017-07-10 10:11] luebken commented on #302
@invincibleJai please format the output it's hard to read.

But the bug could be fixed meanwhile.

[2017-07-10 10:15] invincibleJai commented on #302
@luebken sorry it was bit large , have created a gist https://gist.github.com/invincibleJai/6cb6039381e75ed20b7aebafb3c878d1

[2017-07-10 10:24] luebken commented on #302
@invincibleJai looks like this bug is fixed. But please note that the recommendations section should be empty according to Test-1704E516-01 https://docs.google.com/spreadsheets/d/1ULvQzG1YZk1TwU3KaqiMXiD4FBGpmOLO0jqybE6Y7tk/edit#gid=2133453270

[2017-07-10 10:44] invincibleJai commented on #302
@luebken thanks , will look into this.

[2017-07-10 11:03] maxandersen commented on #356
whoops - adding to kill list was mistake.

[2017-07-10 11:05] maxandersen commented on #316
basically.

Here is a result of @ldimaggi running through them:

Vert.X basic - OK
Secured Spring Boot Tomcat - fail - https://github.com/fabric8-ui/fabric8-ui/issues/1660
Secured Vertx - Rest & Red Hat SSO - fail - https://github.com/fabric8-ui/fabric8-ui/issues/1664
Vert.x - CRUD - fail - https://github.com/fabric8-ui/fabric8-ui/issues/1667
Vert.x - ConfigMap - OK
Spring Boot Basic - OK
Spring B

[2017-07-10 11:06] maxandersen commented on #316
I probably can't make it but could you add me on this as I would like to listen in to better understand the challenges.

[2017-07-10 11:12] maxandersen commented on #316
Btw to be clear: We absolutely need to get the list cut down to actually working on openshift.io quickstarts. If they don't work in the deploy phase nor when running tests in Che they are a waste of time for users on openshift.io to try out.   Thus getting the list reduced to what actually runs by July 14th is of higher priority than fixing the quickstarts.

[2017-07-10 13:16] l0rd commented on #316
Note that due to a current limitation in OSIO, regardless of the booster/quickstart selected, the Che stack will always be the same one (plain java): https://github.com/fabric8-ui/fabric8-ui/issues/1534

[2017-07-10 14:55] ldimaggi commented on #316
And - in the unpaid account config, the user can have (1) Che workspace at a time.

[2017-07-10 15:11] aslakknutsen commented on #349
https://github.com/openshiftio/openshift.io/issues/297#issuecomment-313974183

[2017-07-10 15:54] joshuawilson opened #357 "Move Auth out of WIT"
# Description
- As a developer of the system, I want to be able to work on Auth in it's own repo.
- Delegate all Auth related calls from WIT to Auth

# Acceptance Criteria
- [x] Delegate space resource creation from WIT to AUTH  https://github.com/fabric8-services/fabric8-auth/issues/27
- [ ] Delegate userProfile+login requests from WIT to AUTH https://github.com/fabric8-services/fabric8-auth/issu

[2017-07-10 18:38] ldimaggi commented on #342
See here:
https://github.com/fabric8-ui/fabric8-ui/issues/1642

[2017-07-10 19:25] alexeykazakov commented on #356
Related issue in RHD JIRA - https://issues.jboss.org/browse/RHDENG-1523

[2017-07-10 19:27] alexeykazakov commented on #356
![you_are_already_logged_in____red_hat_developer_program](https://user-images.githubusercontent.com/620087/28035913-2663a184-656b-11e7-8bfc-b15b34219f0a.png)

[2017-07-10 19:56] joshuawilson commented on #356
There was a long discussion on https://github.com/fabric8-ui/fabric8-ui/issues/726 and it was decided that the current flow is the best option. However, if you want to pick things up here we should add @catrobson to this thread.

[2017-07-10 20:18] joshuawilson commented on #275
This issue is now being tracked at https://github.com/fabric8-ui/fabric8-recommender/issues/249

[2017-07-10 21:04] alexeykazakov commented on #356
@joshuawilson this issue is actually not about login workflow. It's just a bug when you login via developers.redhat.com but after filling in credentials you see a screen saying that you are already logged in instead of redirecting you.

[2017-07-10 22:05] joshuawilson commented on #356
I see that now, thanks for clearing it up.

[2017-07-11 06:18] joshuawilson opened #358 "Feature Toggle"
# Description
As a user, I want to be able to turn on new features without being required to use/view them.

# Acceptance Criteria
- [x] The user can activate an experimental feature easily.
- [x] The user can deactivate an experimental feature easily.
- [x] An experimental feature can be a whole page. [1576](https://github.com/fabric8-ui/fabric8-ui/issues/1576)
- [ ] An experimental feature can b

[2017-07-11 13:06] xcoulon commented on #334
I assume this will need some processing on the server-side, to convert from a syntax such as `#123` to an actual link.

[2017-07-11 13:12] xcoulon commented on #319
Once a grammar has been defined, we could look at https://github.com/mna/pigeon/ on the server-side to parse the query.

[2017-07-11 13:50] ldimaggi commented on #319
Just to confirm, the query language provides READ-ONLY access to data - it will not support UPDATE or DELETE operations, either within the API or later on when we expose it to end-users, yes?

[2017-07-11 13:52] ldimaggi commented on #319
Will the query language function as the "engine" for any queries performed in the UI, for example the display and/or filtering of workitems? The point I am making is that it would be best if the query language was the single means by which queries were performed.

[2017-07-11 13:55] ldimaggi commented on #334
Will this take the form of URLs entered into the description and/or comment fields? Or, will we provide a dedicated field (arrary, etc.) to track github issues?

[2017-07-11 13:56] joshuawilson commented on #319
I think that is the plan

[2017-07-11 13:58] joshuawilson commented on #334
It should be in the actual comment, like here in github.

[2017-07-11 22:22] maxandersen commented on #292
updated - hope it makes it more clear. @alexeykazakov should be aware on the auth side of this.

[2017-07-11 22:50] alexeykazakov commented on #292
Short term solution would be some better UX on OSO side to re-provision users in openshift.io cluster when requested. There is ongoing discussion with the OSO team about this.
Long term solution would be proper multi cluster support when openshift.io can work with users provisioned to different clusters.

[2017-07-12 08:24] maxandersen commented on #358
Tried the feature and noticed a few things:

Visiting deep links like https://openshift.io/openshiftio/openshiftio/plan/detail/cb15f74f-1211-474b-bdd7-d0fe3976bf92 gives various surprising behaviour.

Not logged in: 404 error
Logged in with or without flag enabled: page shows, no warning/info.

[2017-07-12 08:27] maxandersen opened #359 "vanity url has internal system id for work items - in the past displayed work it Numbers, now displays UUIDs"
When browsing issues you end up with urls like https://openshift.io/openshiftio/openshiftio/plan/detail/cb15f74f-1211-474b-bdd7-d0fe3976bf92 instead of https://openshift.io/openshiftio/openshiftio/plan/detail/1393

Also https://openshift.io/openshiftio/openshiftio/plan/detail/1393 gives not give the actual result nor a 404.

[2017-07-12 12:13] ldimaggi commented on #316
Update - which of the quickstarts that build cleanly in OSIO are able to run their (Junit) tests in Che?

* Vert.X basic - fails - https://github.com/fabric8-ui/fabric8-ui/issues/1694
* Vert.X ConfigMap - fails - https://github.com/fabric8-ui/fabric8-ui/issues/1699
* Spring Boot - fails - https://github.com/fabric8-ui/fabric8-ui/issues/1703
* Vert.X HTTP ConfigMap - fails - https://github.com/fabr

[2017-07-12 12:31] kbsingh commented on #244
adding @jfchevrette

[2017-07-12 12:32] kbsingh commented on #274
adding @jfchevrette  - this is the place to track the developer logs, and #244 would be the place to track the wider longer term solution we are able to bring in down the road.

[2017-07-12 13:10] jfchevrette commented on #274
We have a script running that retrieve tenant services logs from OpenShift:
- OpenShift events
- Jenkins server and slave/build pod logs (STDOUT, log file written to /var/lib/jenkins/logs/**)
- Che server pod logs (STDOUT, log files written to /logs)
- Che workspace pod logs (STDOUT, log files written to /home/user/che/ws-agent/**)

Some key points:
- jenkins logs are persisted to the PV mounted a

[2017-07-12 13:11] jfchevrette commented on #120
Closing in favor of https://github.com/fabric8-ui/fabric8-ui/issues/1364

[2017-07-12 13:11] #120 closed

[2017-07-12 13:46] ldimaggi opened #360 "Creating a new project in a space results in new builds being created for all other projects in the space"
Steps to recreate:
* Create a space, create a project in that space - observe the pipeline/build for that project:
![screenshot from 2017-07-06 11-16-00](https://user-images.githubusercontent.com/642621/27918625-854f2da2-623d-11e7-914c-09f31b94193c.png)

* Create a second project in the space - observe that a 2ns build/pipeline for the first project is also created:
![screenshot from 2017-07-06 11

[2017-07-12 13:46] jstrachan commented on #316
So to be able to filter the list of boosters we display unfortunately thats all done inside the Obsidian code in `io.openshift.launchpad.ui.quickstart.NewProjectWizard.initializeUI()` where it does...
[code]

so we'll need code in `NewLaunchpadProjectWizard` here:https://github.com/fabric8io/fabric8-generator/blob/b2ad1f11db56c42c799ce7606d6f5cff78d8336b/src/main/java/io/fabric8/forge/generator/qu

[2017-07-12 13:46] ldimaggi commented on #360
Originally logged here:
https://github.com/fabric8-ui/fabric8-ui/issues/1642

[2017-07-12 14:11] gastaldi commented on #316
@jstrachan until we come up with the definitive solution, we can create a new branch in booster-catalog and add only the passing boosters so you guys can use them without any changes. WDYT?

[2017-07-12 14:22] maxandersen commented on #278
https://github.com/fabric8-ui/fabric8-ui/issues/1719

[2017-07-12 14:32] l0rd commented on #316
@ldimaggi @maxandersen to be clear `mvn clean install` works in Che (just tested Vert.X basic where `mvn vertx:run` works too).

For what I can see errors are related to the fact that file `target/classes/META-INF/fabric8/openshift.yml` cannot be found. But to generate that file you can `mvn fabric8:resource` from Che terminal. But that's not enough to solve the problem of running successfully `Op

[2017-07-12 15:24] maxandersen commented on #316
so we just need to have 'fabric8:resource' tied into the test lifecycle ?

[2017-07-12 15:25] maxandersen commented on #316
@l0rd btw. when I run 'mvn' from terminal I get:
[code]

[2017-07-12 15:56] ldimaggi opened #361 "A new user creating a new project fails to create the project's build pipeline"
This is a new issue - first started being seen on July 12.

Steps to recreate:
* Using a user account that is "clean" (in other words, the user has zero github repos defined, zero Che workspaces, and no resources such as builds configs, image streams, etc. defined in OpenShift)
* Create a new space
* Create a new project from the Vert.X quickstart - accept all defaults in the project creation dial

[2017-07-12 15:58] ldimaggi commented on #361
Also note that when the token is refreshed, additional duplicate entries are created:

![screenshot from 2017-07-12 11-57-20](https://user-images.githubusercontent.com/642621/28127039-47c7ab56-66f9-11e7-924f-eeeb45e9b561.png)

[2017-07-12 16:12] ldimaggi commented on #361
Just noticed - the user account contained undeleted routes in the *-run project - this seems to be the cause of the problem. But - why would this cause the replicated creation of incomplete pipelines?

[2017-07-12 16:26] #316 closed

[2017-07-12 16:30] jstrachan commented on #316
OK here is our curated list of boosters we include: https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/quickstart/ValidBoosters.java#L39

So if we find another booster that works - or one to remove - we can just make a PR on this file.

When we can refer to individual versions of boosters we can then add better automated CI pipelines to add/remove/u

[2017-07-12 16:44] l0rd commented on #316
@maxandersen

I don't know how we should run this test. What I can tell is that if I `git clone` and `mvn -Dtest=OpenShiftIT test` I have the same `java.io.FileNotFoundException` on my local bash too (so nothing to do with Che). But my point is another: should we really consider it a blocker? If `mvn clean install`, `mvn test` and `mvn vertx:run` do we really need to log that problem in the kill l

[2017-07-12 17:24] ldimaggi commented on #361
Cleaned up the issue with pipelines not being create by deletig unused routes in project-*run

Then reset and started over. Now seeing duplicates being created:

![screenshot from 2017-07-12 13-23-06](https://user-images.githubusercontent.com/642621/28130618-5e725f66-6705-11e7-86cf-0030982e9331.png)

[2017-07-12 17:45] ldimaggi commented on #361
Screencast:
https://drive.google.com/open?id=0B1s-ZoxD8FjUa2FMd2N4NVRESUU

[2017-07-12 18:25] michaelkleinhenz opened #362 "List View for Work Items in Planner (without Parent) [13]"
# Description
As a user, I want to view query results of Work Items in a list view that enables me to browse the resulting Work Items, open views on specific items and letting me update items in a meaningful way.

# Acceptance Criteria
- [ ] The user can switch to a list view of the current context. See the Context Views story for details on the context.
- [ ] The list view displays the Work Items

[2017-07-12 18:29] maxandersen commented on #316
Awesome @jstrachan

and @l0rd for now if we can't give users an end-2-end walkthrough that is somewhat error free that is considered a blocker.

But yes, it is not Che specific - it is the quickstarts that are faulty.

About Che being old, then status says I'm running 1.0.201 - is that old or new ?

[2017-07-12 18:32] michaelkleinhenz commented on #362
![2017-07-12 14 31 21](https://user-images.githubusercontent.com/7101098/28133737-f0b4e3cc-670e-11e7-9f5d-ad4ca635cb0f.jpg)

[2017-07-12 18:32] michaelkleinhenz commented on #325
![2017-07-12 14 31 21](https://user-images.githubusercontent.com/7101098/28133754-fade3254-670e-11e7-997f-01c543452524.jpg)

[2017-07-12 19:36] sbose78 commented on #316
The latest che is `1.0.206` as per

http://central.maven.org/maven2/io/fabric8/online/packages/fabric8-online-che/1.0.206/fabric8-online-che-1.0.206-openshift.yml

[2017-07-12 20:37] michaelkleinhenz commented on #331
![2017-07-12 16 36 42](https://user-images.githubusercontent.com/7101098/28138905-630f71ce-6720-11e7-9a63-cf98881bb3ff.jpg)

[2017-07-13 01:01] l0rd commented on #236
The first related issue (https://github.com/redhat-developer/rh-che/issues/180) has been fixed and deployed on OSIO. Not sure if we should close this issue. I would wait for the second related issue (https://github.com/redhat-developer/rh-che/issues/183) to be solved too. But we may remove the label `severity/blocker` to this issue.

[2017-07-13 03:05] joshuawilson commented on #359
Who owns this?

[2017-07-13 03:10] joshuawilson commented on #360
why duplicate it?

[2017-07-13 05:52] jstrachan commented on #316
@maxandersen the new filtered list is now live on prod.

Though it looks like a UI regression has kicked in breaking all combo boxes + kebab menus https://github.com/fabric8-ui/fabric8-ui/issues/1726 so you can only pick 1 quickstart anyway right now ;)

[2017-07-13 07:43] maxandersen commented on #360
@joshuawilson do you believe this issue is for fabric8-ui ? It looks to be some backend/cross cutting issue thus does it not make more sense to have it here where CD team will see it more easily ?

[2017-07-13 09:00] rawlingsj commented on #360
I think this is an issue with the jenkins multi branch plugin.  When a github org scan is triggered it uses config to say which branches to auto trigger, we say `master|PR.*` but if the job already exists then we'd want the multi branch plugin to NOT auto trigger the existing master + PR jobs.

That's my guess without having looked into it yet. @sathishvj did you want to see if you can reproduce u

[2017-07-13 09:02] sathishvj commented on #360
yes @rawlingsj let me try it out.  just am trying to figure it out.  thanks for the lead.

[2017-07-13 09:14] rawlingsj commented on #360
great @sathishvj

[2017-07-13 09:15] rawlingsj commented on #360
BTW @joshuawilson I agree with @maxandersen this is not a ui issue and most folks are tracking this repo for general openshift.io issues not fabric8-ui.  Issues raised there are easily missed by anyone not working directly on fabric8-ui.

[2017-07-13 10:03] dharmit opened #363 "Not able to open list of Tasks in the Board"
This was working till yesterday but today, under the "Board" view, when I click on the "Currently Showing" dropdown, it doesn't work. It shows the "Bugs" and I'd like to switch to "Tasks". But that ain't working.

As a workaround, I switched to the "Backlog" view to get a view of all the cards so that I can access ones I'm working on.

[2017-07-13 10:05] aslakknutsen opened #364 "Deep link to plan/board does not show any data"
https://openshift.io/openshiftio/openshiftio/plan/board

Changing iteration etc does not work at this point. Going to Backlog and then back to Board works.

[2017-07-13 10:08] aslakknutsen commented on #363
Possible broke with release bbf4418379c9060a40b18bcaa284fadc75759e9c

[2017-07-13 11:52] pmuir commented on #168
@joshuawilson will take this one.

[2017-07-13 11:52] pmuir commented on #349
@joshuawilson please take this on

[2017-07-13 11:52] pmuir commented on #90
@alexeykazakov please take this one on.

[2017-07-13 12:26] maxandersen commented on #278
okey, confirmed by @qodfathr via Carl on email that current implementation is ok for launch thus closing this and leaving the active issues to do deep linking open to be fixed.

[2017-07-13 12:26] #278 closed

[2017-07-13 12:59] michaelkleinhenz commented on #319
Yes it is. The Planner becomes more or less a browsing tool. Everything is centered around the query.

[2017-07-13 13:01] michaelkleinhenz commented on #329
It is much more like the GitHub lables and just for user reference. The note was about that the user may add labels to other things, like builds - and that we may want to have one single "label repository".

[2017-07-13 13:02] michaelkleinhenz commented on #328
I sort of agree, but keep in mind that this story is the input for the engineering team - and that team needs to know where that function has to go. This story is the bridge from the abstract experience to the actual engineering tasks.

[2017-07-13 13:07] michaelkleinhenz commented on #336
Yes an no. An iteration is "active" or "current" when the current date is in the timeframe. The "physical" active flag can just override this:

in timeframe && active flag -> active
in timeframe && !active flag -> active
not in timeframe && active -> active
not in timeframe && !active -> inactive

But I agree that we should talk about this. The handling appears clunky to me now.

The "future" or "

[2017-07-13 13:44] kwk commented on #332
@michaelkleinhenz this can be closed as we have no work item type restrictions on link ends any more since https://github.com/fabric8-services/fabric8-wit/pull/1444.

[2017-07-13 14:27] maxandersen commented on #236
I agree redhat-developer/rh-che#183 is a bug that should be fixed but I would suggest it does not block the kill list issue thus I'm going to mark this as closed.

In case we do find it is a blocker for killliist we can reopen this issue again.

[2017-07-13 14:27] #236 closed

[2017-07-13 15:31] jstrachan commented on #361
I can't reproduce; just created a project on prod and it created the pipeline too.

Though there's this issue that various pipelines are triggered too https://github.com/openshiftio/openshift.io/issues/360

[2017-07-13 15:34] maxandersen commented on #361
I can't reproduce either, but retrying now with a fully blank account to see if its a "new user" only issue.

[2017-07-13 15:39] maxandersen commented on #361
okey, so I can't reproduce the missing pipelines, but I do now have duplicate entries (two per codespace)

[2017-07-13 15:44] aslakknutsen commented on #363
fixed by https://github.com/fabric8-ui/fabric8-ui/pull/1728 ? Not in prod yet

[2017-07-13 15:45] maxandersen commented on #363
this seem to affect all kind of dropdown boxes thus putting on kill list as blocker.

@mindreeper2420 do you have an ETA ?

[2017-07-13 15:46] mindreeper2420 commented on #363
@maxandersen it is fixed in PR https://github.com/fabric8-ui/fabric8-ui/pull/1728 that was merged to Master. No idea on deploy time to production.

[2017-07-13 16:10] alexeykazakov commented on #90
@maxandersen @joshuawilson I can't assign myself. Please assign to me.

[2017-07-13 16:24] l0rd commented on #220
This has been fixed by https://github.com/redhat-developer/rh-che/commit/8950bf1f3936fdd17b003fbe11e69f18cdfe227d

![image](https://user-images.githubusercontent.com/606959/28176608-65ce06b8-67f8-11e7-8090-fb1000c50b7c.png)

[2017-07-13 16:24] #220 closed

[2017-07-13 18:01] l0rd commented on #316
@maxandersen I'm able to reproduce your issue when trying to run maven in Che terminal:
[code]

As a workaround I've `scl enable rh-maven33 bash`

That happens because the docker image used to run Che workspaces is rhche/vertx. Before it was rhche/centos_jdk8 but we need to figure what caused this change of stack.

By the way this problem should be solved by https://github.com/redhat-developer/rh-

[2017-07-13 18:18] #337 closed

[2017-07-13 19:48] maxosiotest1 opened #366 "Forge: Cannot read property 'type' of undefined, blocks new user creating project (update: Looks to be a timing issue)"
on a fully fresh new user I ran quickstart with vert-x basic and clicked finish.

Got this error presented to me:

[code]

[2017-07-13 19:54] maxandersen commented on #361
Okey - just reproduced this on a brand newly created user (maxosiotest1@xam.dk).

A new user does not get a working pipeline created AND get double listing of the repos.

This means new users wont be able to use the system thus this is now on kill list.

[2017-07-13 19:58] maxandersen commented on #363
this have been pushed and verified to work in prod.

[2017-07-13 19:58] #363 closed

[2017-07-13 20:03] gastaldi commented on #366
Any stacktrace in the pod logs?

[2017-07-13 20:08] maxandersen commented on #360
This makes sense and was similar to my guess on the fault here - but is this is recent change or has it just always been like this but noone noticed it  ?

[2017-07-13 21:05] maxandersen commented on #366
@gastaldi i dont seem to have access to read any logs....so can't help much there at the moment.

[2017-07-13 21:44] aslakknutsen commented on #361
This is in the Jenkins log for that user:

[code]

[2017-07-13 22:04] maxandersen commented on #258
b) is that ultimately we build osio components on osio and then need to deploy it back on to itself, rather than into openshift online.

[2017-07-14 08:27] rawlingsj commented on #361
Are these the same errors in the logs for @ldimaggi issue?  @ldimaggi can you include the jenkins logs please?

[2017-07-14 09:29] maxandersen commented on #361
@rawlingsj @ldimaggi is on vacation so if we need these  we'll need to lookup in  dsaas logs like I believe @aslakknutsen  just did for my test user.

[2017-07-14 10:16] sbose78 commented on #361
I see this which looks like jenkins pod wasn't in good shape .. not sure what the status of @maxandersen 's issue is at the moment.

[code]

[2017-07-14 10:21] jstrachan commented on #361
I'm just trying to grok what the issue really is.

So this issue is that the BuildConfig and Jenkins job do get created for new users - its just that the job isn't automatically triggered right?

[2017-07-14 10:23] jstrachan commented on #361
there's a separate issue for duplicates appearing: https://github.com/fabric8-ui/fabric8-ui/issues/1707

[2017-07-14 10:48] samuzzal-choudhury commented on #302
@luebken during the summit demo, one additional component "ch.qos.logback:logback-core 1.2.3" was added to the stack "Vert.x HTTP Booster" which is recommended as a missing component in the response.

Also, the version mismatch in the recommendation is because of the fact that the reference stack has got dependencies io.vertx:vertx-web/3.4.1 and io.vertx:vertx-core/3.4.1 whereas your pom.xml is co

[2017-07-14 10:49] samuzzal-choudhury commented on #302
@joshuawilson I can't close an issue here. Would you please do that for me?

[2017-07-14 11:03] navidshaikh opened #367 "[RFE] Option to show all items under planner board"
RFE for Space->Plan->Board

(Sample URL -> https://openshift.io/bkundu%40redhat.com/CentOS_Container_Pipeline/plan/board )

If we go to `Plan` and then hit `Board` layout to check the items under given space, on top it shows
`Currently showing:`  with a drop down. The drop down has types (Bug, Features, Task, etc) of items that can be created.
Once a board is populated with different items card, a

[2017-07-14 11:13] maxandersen commented on #361
let me try that. I did try creating multiple projects and same error - but didn't try manual kick off.

[2017-07-14 11:21] maxandersen commented on #361
Using the kebab menu I get this:

![banners_and_alerts_and_pipelines_-_openshift_io](https://user-images.githubusercontent.com/54129/28210218-9f649880-6896-11e7-86d7-c0d977e554eb.png)

I then for reasons unknown to me got a frozen browser. After restart I now have this:

![banners_and_alerts_and_pipelines_-_openshift_io](https://user-images.githubusercontent.com/54129/28210350-37e6d762-6897-11e7-8

[2017-07-14 11:23] jstrachan commented on #361
so - builds can be triggered manually; there's a duplicate rendering issue which is known - then its just a case of waiting for kubernetes to provision a build slave. Am assuming there's no quota issues in your openshift console right? Any issues in the main Jenkins log?

[2017-07-14 11:25] jstrachan commented on #361
Note that if there is a pending build, triggering a new build won't show up on the Pipelines page until that new build starts. If you look in the jenkins console you'll see pending builds etc

[2017-07-14 11:29] maxandersen commented on #361
13 minutes later - nothing there and no resources issues listed afaics.

But I spotted this on https://status.starter.openshift.com/

[code]

[2017-07-14 11:31] maxandersen commented on #361
When I go to https://jenkins-maxosiotest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/blue/organizations/jenkins/maxosiotest1%2Fwonka2/branches/ there is nothing there afaics.

![jenkins___wonka2](https://user-images.githubusercontent.com/54129/28210637-ac53e13e-6898-11e7-8369-2aa786784340.png)

[2017-07-14 11:34] jstrachan commented on #361
you can't find any jenkins jobs and there are no pending jobs at all in jenkins? could you post a screenshot of https://jenkins-maxosiotest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/

[2017-07-14 11:34] maxandersen commented on #361
and btw. nothing is showing up  in any of the users projects Builds on https://console.starter-us-east-2.openshift.com/console/project/maxosiotest1/browse/builds either.

[2017-07-14 11:36] maxandersen commented on #361
<img width="1341" alt="menubar_and_dashboard__jenkins_" src="https://user-images.githubusercontent.com/54129/28210756-4cc640f8-6899-11e7-8226-18db6513b146.png">

and when I click that I get this:

![default__maxosiotest1___jenkins_](https://user-images.githubusercontent.com/54129/28210762-583689ac-6899-11e7-80be-cf6d90bfa233.png)

and following that here:

![banners_and_alerts_and_welcome__jenkins

[2017-07-14 11:55] rawlingsj commented on #361
The logs show a timeout when jenkins first did the org scan to create the jobs, this meant they weren't generated correctly.  I manually re-ran the scan via jenkins and it completed successfully + automatically triggered the pipelines

![screenshot 2017-07-14 12 47 03](https://user-images.githubusercontent.com/1457180/28211263-9cf43d6a-6893-11e7-9198-f1b050570a49.png)

My guess is this isn't the s

[2017-07-14 12:09] luebken commented on #302
If you close this issue please open a new one for  https://github.com/openshiftio/openshift.io/issues/302#issuecomment-314066880

The recommendation of adding a new dependency (e.g. ch.qos.logback:logback-core 1.2.3) on a fresh booster stack is generally wrong. Even if that has been showed in some demo.

[2017-07-14 14:07] miteshvp commented on #302
@luebken @samuzzal-choudhury - done all the necessary changes in the back-end. Can you test this and let me know it works as expected. Thanks in advance.

[2017-07-14 15:01] michaelkleinhenz commented on #331
![img_20170714_101051](https://user-images.githubusercontent.com/7101098/28217632-cbedc664-6883-11e7-8798-34d487c91c3f.jpg)

[2017-07-15 15:27] joshuawilson commented on #364
@michaelkleinhenz do you want this moved to fabric8-planner or will you track it here?

[2017-07-15 16:11] joshuawilson commented on #360
@rawlingsj I agree.

[2017-07-15 16:17] joshuawilson commented on #367
The problem is that the each type has different states/stages and therefor different columns. Until we can find a better way to combine the views they must remain separate.

[2017-07-16 16:18] ldimaggi commented on #361
Sorry to be late to the thread - I cannot recreate the problem of the build pipelines not being created - the problem of the duplicate build pipelines IS still present and is logged here: https://github.com/fabric8-ui/fabric8-ui/issues/1707

[2017-07-16 16:21] ldimaggi commented on #361
Closing in favor of fabric8-ui/fabric8-ui#1707

[2017-07-17 01:46] joshuawilson commented on #361
@ldimaggi why close this if there is such a good conversation happening here?

[2017-07-17 07:59] corinnekrych commented on #366
this is the stack trace displayed on Froge server when running locally:
[code]

[2017-07-17 08:09] corinnekrych commented on #366
@gastaldi @maxandersen After restarting Forge + using OSiO UI in incognito mode, all works better. MY previsou Forge server has being running for 5 days.

[2017-07-17 10:30] maxandersen commented on #361
@ldimaggi I've reproduced the issue of build pipelines not being created twice - only happens for new users.

Thus reopening this until verified it is not happening for new users this week :)

[2017-07-17 10:34] maxandersen commented on #367
To be clear - the current board is known to not be the right way to go. We will get  a board that shows logical list of columns and the list of "cards" will be of any mix of types.