[2018-03-06 14:39] stooke commented on #2229
some additional information.
curl 'https://api.openshift.io/api/user/services' -H "Authorization: Bearer $PROD"
returns nothing.
{
   "data":{
      "attributes":{
         "created-at":"2018-03-01T18:22:15.949453Z"
      },
      "id":"d4dfa5e7-67a7-4276-84d2-5704c8231979",
      "type":"userservices"
   }
}

[2018-03-06 14:39] ldimaggi commented on #2472
So - to recreate this issue - did you:
* Create (3) new quickstarts - and the first 2 were successfully deployed while the 3rd was not actually successfully deployed, but was reported as successfully deployed? Thx!

[2018-03-06 14:39] jfchevrette commented on #2457
@jaseemabid I'd like someone from the build team to validate the config first. I merely copy/pasted configs from other settings.xml and it happened to work great for me. We should make sure we understand what this does and if hardcoding a repo like that is the way to go.

@aslakknutsen how can we update secret jenkins-maven-settings on all existing tenants as change the default for new tenants?

[2018-03-06 14:41] catrobson commented on #2447
@muruGanesan can you coordinate with Michael and Namisha to get this captured in the planner and schedule into a sprint for the UX team to do?

[2018-03-06 14:42] jiekang commented on #2472
This is tied into: https://github.com/openshiftio/openshift.io/issues/2225

[2018-03-06 14:45] jiekang commented on #2225
Note option 2 does not cover the situation when users create new deployments that exceed quota externally from the page, for example by importing an existing application or using the quickstart wizard. Looks like some form of option 1 would be best. I'm not sure the events API would cover that scenario unless we looked at all past events.

[2018-03-06 14:58] #2253 closed

[2018-03-06 15:06] ibuziuk commented on #2318
@qodfathr yeah, this looks like the same issue.

Do we have an issue for this ?

[2018-03-06 15:14] joshuawilson commented on #1588
This is in prod.

[2018-03-06 15:14] #1588 closed

[2018-03-06 15:15] rhopp commented on #2426
My build on 2a cluster failed also, but with different error:
[code]
Pasting this as a comment here, because both errors seem to have commong problem - network issues.

[2018-03-06 15:41] jiekang commented on #2404
Looks to be a race condition of some sort, as Aslak says. Sometimes it works and other times it doesn't; refreshing repeatedly helps.

[2018-03-06 15:44] jfchevrette commented on #2381
I've been able to reproduce using this reproducer script: https://gist.github.com/jfchevrette/c65d16e45993133c3537b2a0c16968f6

I've reached out upstream to see how we can address this.

[2018-03-06 15:52] #1663 closed

[2018-03-06 15:55] ebaron commented on #1655
With the deletion API merged, all of the specified API is now present.

[2018-03-06 15:55] #1655 closed

[2018-03-06 15:58] jiekang opened #2474 "UI: Use API to delete deployments"
Parent: #1658

The API to delete deployments is now available; the delete action should now use it instead of the current mock.

Note the UX has been updated for the delete function.

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/273202263
https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/273548935
https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/273549059

I think it would

[2018-03-06 16:00] ldimaggi commented on #2423
Closing this issue as non-reproducible. It was seen several times on March 2, but is not being seen today. #2427 in contrast, is being seen repeatedly today - but multiple users.

[2018-03-06 16:00] #2423 closed

[2018-03-06 16:01] andrewazores commented on #2474
+1 for separating this into two tasks (make real request; update UX)

[2018-03-06 16:06] chmouel commented on #2457
@jaseemabid @rupalibehera @sthaha

[2018-03-06 16:31] #2368 closed

[2018-03-06 16:41] joshuawilson commented on #2258
This was demoed in prod.

[2018-03-06 16:41] #2258 closed

[2018-03-06 16:41] tisnik opened #2475 "Another issue found in the graph database - several properties are missing causing integration tests to fail"
The `description` property can not be found for the tested package io.vertx:vertx-core, causing the integration tests to fail.

Reproducer:
fabric8-analytics/fabric8-analytics-common#499

Logs:
https://ci.centos.org/job/devtools-e2e-fabric8-analytics/354/console

Actual data read from the Gremlin DB:
[code]

[2018-03-06 16:51] joshuawilson commented on #1245
This appears to be done. While there are other bugs and features around this, it does work. Closing.

[2018-03-06 16:51] #1245 closed

[2018-03-06 16:55] stooke commented on #2101
The code causing the panic has been redone, with more tests for nil and better logging.
I believe this issue has been addressed in WIT PR 1870.

[2018-03-06 16:55] #2101 closed

[2018-03-06 16:57] joshuawilson opened #2476 "Update OSIO User names"

[2018-03-06 17:07] jfchevrette commented on #2457
@aslakknutsen sure, but where does the jenkins-maven-settings come from when we init a tenant?

[2018-03-06 17:08] jpopelka commented on #1199
Also https://github.com/fabric8-analytics/fabric8-gemini-server now [bundles worker](https://github.com/fabric8-analytics/fabric8-gemini-server/blob/master/Dockerfile)

[2018-03-06 17:13] aslakknutsen commented on #2457
https://github.com/fabric8-services/fabric8-tenant-jenkins/blob/master/apps/jenkins/src/main/fabric8/jenkins-maven-settings-secret.yml

[2018-03-06 17:50] msrb commented on #2012
TL;DR:

`latest_version` property is deprecated. Please look for `libio_latest_version` instead.

Feel free to reopen if I missed something here. Thanks for reporting there anomalies :wink:

[2018-03-06 17:50] #2012 closed

[2018-03-06 17:51] msrb commented on #2221
This is done, let's  push it to prod.

[2018-03-06 18:04] msrb commented on #2475
This is actually correct. We normally take descriptions from manifest files and there is no description in this pom.xml file: http://repo1.maven.org/maven2/io/vertx/vertx-core/3.5.1/vertx-core-3.5.1.pom

[2018-03-06 18:05] msrb commented on #2475
@tisnik is this a new test or something that started failing recently and unexpectedly?

[2018-03-06 18:16] alexeykazakov commented on #259
@l0rd @ashumilova btw, @sthaha went through tested OSIO with a GH token with reduced scopes (`admin:repo_hook read:org public_repo read:user`) yesterday. See the Che part here - https://github.com/openshiftio/openshift.io/issues/259#issuecomment-370307060
Che seemed to work well.

[2018-03-06 18:34] joshuawilson commented on #2403
Thanks @chmouel that is correct. Now that you made it a `type/bug`, what is the `severity`?

[2018-03-06 18:38] joshuawilson commented on #2432
Then it is not a `bug`, as bugs are things in prod or possibly prod-preview and all bugs need a severity. If this is just something that is unfinished but not released then make it a `type/task`.

However, anything in planner master should also be in fabric8-ui master, which deploys to prod-preview, and can at anytime be pushed to prod. That would make it a bug and it needs severity.

[2018-03-06 19:24] jaseemabid commented on #2403
@joshuawilson This is not blocking anyone from deploying code, but is definitely pointing towards a few other problems. SEV2 or 3. Someone from build team needs to investigate this and I don't when we will be able to.

[2018-03-06 19:54] jiekang commented on #1997
I think I'm following the steps correctly and do not see the error in console anymore. Can anyone else try to reproduce this in prod?

[2018-03-06 19:59] jiekang commented on #1456
This is tracked in issue above and the related PR has been merged. Closing this issue. If the issue persists feel free to re-open.

[2018-03-06 19:59] #1456 closed

[2018-03-06 20:03] joshuawilson commented on #2403
Is the issue noticeable and annoying but you can work around it? then SEV2
Is the issue noticeable but you can live with it? then SEV3
is the issue not obvious or cosmetic? then SEV4

[2018-03-06 20:44] dlabrecq commented on #2461
I believe this PR will resolve the warning.
https://github.com/fabric8-ui/fabric8-ui/pull/2610

[2018-03-06 21:29] joshuawilson commented on #1997
I can not reproduce it.

[2018-03-06 21:42] ldimaggi opened #2477 "In Che, Assistant->Navigate to File highlighting makes file name unreadable"
See attached screenshot:

![screenshot from 2018-03-06 16-39-09](https://user-images.githubusercontent.com/642621/37060118-57624994-215d-11e8-92df-b2e01425cef5.png)

[2018-03-06 21:44] ldimaggi commented on #2477
https://github.com/eclipse/che/issues/9035

[2018-03-06 21:49] aptmac commented on #2461
I'm still seeing a mobx warning, but that PR has made the build time much shorter.

[2018-03-06 21:52] dlabrecq commented on #2461
In that case, this is an issue with how ngx-forge.js is bundled. See: https://github.com/fabric8-launcher/ngx-launcher/issues/93

[2018-03-06 21:54] aptmac commented on #2461
Great, thanks for looking into it!

[2018-03-06 22:54] aslakknutsen opened #2478 "goroutine leak in WIT around SQL package"
Not sure what exactly is going on atm, but there is a slow goroutine leak happening somewhere in the usage of the sql package:

[code]

![screenshot from 2018-03-06 23-47-34](https://user-images.githubusercontent.com/132158/37063446-b0b4c580-2199-11e8-8097-5c6969f905ac.png)

[2018-03-07 01:04] jfchevrette commented on #2426
I've raised an issue upstream: https://bugzilla.redhat.com/show_bug.cgi?id=1552373

[2018-03-07 01:04] jfchevrette commented on #2427
I've raised an issue upstream: https://bugzilla.redhat.com/show_bug.cgi?id=1552373

This seems to be a dupe / same root cause as #2426

[2018-03-07 01:33] ldimaggi commented on #2477
Closing as not a bug - highlighting was caused by debugging tool.

[2018-03-07 01:33] #2477 closed

[2018-03-07 02:22] pradeepto commented on #2349
@chmouel @hrishin @jaseemabid Do we need this any more post #2368?

[2018-03-07 02:38] pradeepto commented on #2457
@jaseemabid Are you working on this?If so, can you assign yourself?

[2018-03-07 02:39] pradeepto commented on #2457
@chmouel Should this part of the sprint 146?

[2018-03-07 04:03] ldimaggi commented on #2154
I started seeing this about 80% of the time - for several hours - on March 6 - is anyone else seeing this at a greater frequency too?

[2018-03-07 04:03] ldimaggi commented on #2154
Why is this a SEV3? It should be at least a SEV2.

[2018-03-07 04:17] miteshvp commented on #2217
Gaps identified and documented https://docs.google.com/document/d/1bqRPSOyd7PA1FYSPFMlH-BfyDIBaMI8ysHnrZ1TpsoM/

[2018-03-07 04:23] miteshvp commented on #2399
@ldimaggi - I have edited this issue to consider modularized test suites as discussed in our last meeting. Please let me know if there are any missing links or pieces to be added

[2018-03-07 04:33] jaseemabid commented on #2457
@hrishin was looking into this I believe?

[2018-03-07 04:39] miteshvp commented on #2475
@msrb @tisnik - can we have a small BJN session to understand the current tests and if there is a way to improve them further?

[2018-03-07 04:56] hrishin commented on #2349
@pradeepto we don't need this now. Good to close considering all technical dept about this approach.

[2018-03-07 04:56] #2349 closed

[2018-03-07 05:53] rootAvish commented on #2264
Have recommendations working on dev cluster.

[2018-03-07 05:53] #2264 closed

[2018-03-07 06:26] humaton commented on #2475
@msrb but that is not really ok. API responses should be consistent either insert empty string as a description or remove description at all.

[2018-03-07 06:34] msrb commented on #2475
@humaton AFAIK, we are doing raw queries to the database here. So the output represents what's really there.

[2018-03-07 06:34] msrb commented on #2475
Definitely.

[2018-03-07 06:43] humaton commented on #2475
@msrb that does mean we have wrong data in the database. It needs to be consistent.

[2018-03-07 06:44] sthaha opened #2479 "Jenkins idler kicks in too early"
I tried the following scenario

## steps

1. created a quickstart project
2. wait for the initial pipeline to deploy to `run`
3. Submit a PR on my github
4. Wait for the PR Continous Intregration run to finish
5. Merge the PR on GH once the CI run finshed

## Expected result
 -  pipeline to start again to deploy the new version to `run`

## Observed
- The idler shutdowns jenkins in spite of being

[2018-03-07 06:54] msrb commented on #2475
@humaton imagine this:

You are using relational database and you decide to add new column to a table, because you will start collecting more data from now on. All the old rows will automatically inherit this "null" field, for free.

But I don't think graph databases work that way. This null property (if you decide to store the new data in a property) will not automatically appear in all vertices

[2018-03-07 06:57] humaton commented on #2475
@msrb we should do it. Data consistency is one of the key things you want to have in any project. It does not matter if you have to iterate all the data in a graph.
It should not get stored inconsistently in the first place.

[2018-03-07 08:14] msrb opened #2480 "Clean up Maven CVE false positives in graph database"
# Description

As an OSIO user, I want fabric8-analytics to only flag dependencies that are actually vulnerable

We tried to use multiple tools/sources of CVE data in the past. None of them was particularly good and graph queries reveal that there is quite a lot of false positives. We want to get rid of them and only use  curated CVE data for Maven that we have now. This also means that we want to

[2018-03-07 08:14] msrb opened #2481 "[5] Identify changes needed for supporting 3rd party package repositories"
# Description

In this spike, we want to document changes that we will need to make to our existing components, if we want to start supporting 3rd party repositories (like for example RH Maven repository). We will only focus on data ingestion part of the f8a pipeline here (s3+graph and corresponding components: workers, jobs, data-importer).

The output of this spike should be a document describin

[2018-03-07 08:14] msrb opened #2482 "[3] Integrate f8a jobs service with Sentry"
# Description

We want to integrate f8a jobs service with Sentry, for much better error tracking.

Docs: https://github.com/getsentry/raven-python/blob/master/docs/integrations/flask.rst

[2018-03-07 08:14] msrb opened #2483 "Integrate data-importer with Sentry"
# Description

We want to integrate data-importer with Sentry, for much better error tracking.

[2018-03-07 08:15] msrb opened #2484 "Introduce API gateway with authentication"
# Description

data-importer has no public route (no authentication in place) so we can't call its API directly. In this task, we will try to use jobs service as a gateway and will see how it goes.

[2018-03-07 08:15] msrb opened #2485 "[8] Find a way how to get project name from NVD CVE data"
# Description

Mapping CVE entries to actual package names is much easier when we at least know name of a project (e.g. "Apache NiFi", or "Apache POI") that is affected by given vulnerability. Knowing the project name will help us to get better results and less false positives.

The output of this task should be a function that takes one NVD CVE record on input and returns list of possible project

[2018-03-07 08:15] tisnik commented on #2475
@msrb @miteshvp the that fails (second time this sprint ;) is not new, but the failure is caused by new versions of the vertx.core package inserted into the Gremlin. And because vertx.core is one of the most important package we need to handle properly, I'd say it is perfectly ok that this test failed. At least we know that the DB contain 'garbage' ;)

I agree with @humaton, the DB consistency is

[2018-03-07 08:42] #2376 closed

[2018-03-07 08:42] #2302 closed

[2018-03-07 08:43] #2260 closed

[2018-03-07 08:50] #2388 closed

[2018-03-07 08:59] msrb commented on #2220
We will not focus on this now. Scaling up this service means rewriting significant portion of it.

[2018-03-07 09:00] msrb commented on #2045
@humaton we still need the summary so we can close this.

[2018-03-07 09:03] msrb commented on #2006
Marek did some groundwork around this, but we realized that we first need to have good package name before we can implement this properly. We will return to this (in slightly different shape and form) in future.

[2018-03-07 09:04] msrb commented on #2006
Next: https://github.com/openshiftio/openshift.io/issues/2485

[2018-03-07 09:05] msrb commented on #1440
Not at this point. We will incorporate these changes as part of bigger refactoring.

[2018-03-07 09:07] #2006 closed

[2018-03-07 09:14] #2216 closed

[2018-03-07 09:16] tuxdna commented on #2315
This task is ready for review now:

 - SyncToGraph like  - https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/266

[2018-03-07 09:20] chmouel commented on #2314
@hrishin I believe all the maven content caching performances improvement can be striked thought, since this could be achieved with a  global proxy.

[2018-03-07 09:22] msrb commented on #1329
@tisnik are we still blocked here?

[2018-03-07 09:23] tuxdna commented on #2484
This may depend on -Jobs API concurrency - https://github.com/openshiftio/openshift.io/issues/2220

[2018-03-07 09:24] tuxdna commented on #2483
Needs a link to documentation for configuring SENTRY for new services. This will make it much easier and coherent across all projects.

[2018-03-07 09:24] chmouel opened #2486 "Implement Global Proxy for Maven Caching"
SD team is  setting up a global proxy for Maven Caching.

This issue to implement this on the Build Side.

This would need to go on Maven `settings.xml` as documented [here (https://maven.apache.org/settings.html)

* [ ] We need setting.xml setup, this should be dynamic and using variables.
* [ ] We need some numbers attached to this issue with the improvement.

Build Team: This should be prioriti

[2018-03-07 09:24] tuxdna commented on #2482
Needs a link to documentation for configuring SENTRY for new services. This will make it much easier and coherent across all projects.

[2018-03-07 09:29] rootAvish opened #2487 "Setup of EMR with a deep learning AMI"
## Parent:  #2467
## Description

For the training of the deep learning model for production, documented in [this Google doc](https://docs.google.com/document/d/1LTAJRq60lNs-fDGsZLkLS0r8E8j5zDxK_7zkXJqLRxM/edit) and POC code [present here](github.com/fabric8-analytics/poc-npm-stack-analysis) we need to setup an EMR cluster containing P3 instances to train the model on GPUs and store it in S3, perh

[2018-03-07 09:34] rootAvish commented on #2487
Using the deep learning AMI containing CUDA 9 and built from source (https://aws.amazon.com/marketplace/pp/B076TGJHY1), on EMR version 5.12 bringing up a cluster containing just one master node fails, there is some provisioning error on Amazon's side in starting hadoop.

[2018-03-07 09:36] msrb commented on #2106
This is an epic, but we should probably close it and create another one (for automating CVE mapping), as this is a mixture of different ideas and tasks...

[2018-03-07 09:46] msrb commented on #2480
This is already in progress.

[2018-03-07 09:48] CermakM commented on #2485
A sub task has been added. In order to be able to at least estimate the accuracy of a model, we need an accessible toy set of labeled data.

[2018-03-07 09:52] chmouel opened #2488 "[Architecture] Define Build.Next"
We need to think about build.next and what do we want to achieve with it.

* What is the current deficiency with the build system now.
*  What is the ideal build system
* How do we want to build it
* What are the depencies needed before.

This should be only a task for architecture and documentation.

[2018-03-07 09:56] GeorgeActon commented on #2275
@sanketpathak Is this story complete? All boxes are checked off so it looks like it is complete.

[2018-03-07 09:57] sanketpathak opened #2489 "[5] Re Revamped UI :Dependency Editor Main Screen"
User Story:

As a OSIO user I will be able to see UI of Dependency Editor (OSIO) as per  UX Design.
https://redhat.invisionapp.com/share/AJFXNL4X4M2#/screens/280269881

Description:

Allowing the user to edit (add/remove) the project dependencies once he selected one of the boosters in the project creation wizard and providing stack report of the project he is building.
Showing recommendations on

[2018-03-07 09:58] sanketpathak commented on #2275
I'm closing this user story since new revamped ux is introduced . The left over from this story is either redundant or are introduced in new design.
For reference refer to this story #2489

[2018-03-07 09:58] #2275 closed

[2018-03-07 10:19] chmouel commented on #2350
@rupalibehera @lordofthejars can you ack on this please if that happen or not and cause slowdown ?

[2018-03-07 10:23] lordofthejars commented on #2350
I can check this by just starting and Jenkins and checking or it is something more specific to our Jenkins instance?

[2018-03-07 10:25] chmouel commented on #2350
I believe we just need a ack at first if this is happening.

If it does (as reported) we need to figure a way to make it more robust,
i.e: do we need to have plugins pining, what is a sane way to manage the dependencies pinning.

[2018-03-07 10:31] chmouel opened #2490 "Jenkins image contain rupalibehera user"
Seems like we have rupalibehera user on the jenkins image as reported [here](https://github.com/fabric8io/fabric8-build-team/issues/41)  :

![image](https://user-images.githubusercontent.com/98980/37087578-f783fc04-21fa-11e8-91f5-f8fe28bba6e5.png)

[code]

[2018-03-07 10:32] msrb commented on #2483
@tuxdna good point, I added a link to the docs.

[2018-03-07 10:35] miteshvp commented on #2043
@ravsa - can you please ping the PR around this. Can this be closed?

[2018-03-07 10:50] chmouel commented on #2350
@lordofthejars Update my comment here ^

[2018-03-07 10:52] sivaavkd commented on #1974
@miteshvp - a gentle reminder !!!

[2018-03-07 11:01] rupalibehera commented on #2350
@lordofthejars , you can run it locally only if it is running inside kubernetes/openshift cluster.
or you can test it on your OSIO account by changing the image in the jenkins tenant dc.

[2018-03-07 11:04] rupalibehera commented on #2350
@chmouel , I am not able to assign the issue to @lordofthejars

[2018-03-07 11:17] chmouel commented on #2350
@maxandersen just added him to openshiftio org, I think @lordofthejars may need to accept the invite

[2018-03-07 11:18] lordofthejars commented on #2350
I have already invited

[2018-03-07 11:19] hrishin commented on #2457
We have added the same maven repository URL's to an existing profile that is being used.
https://gist.github.com/hrishin/6e45d64889c6e732f9cb51595442b43b

<[repository](http://maven.apache.org/ref/3.5.2/maven-settings/settings.html)> contains the information needed for establishing connections with remote repository.

As this is a confinmap (secretes), relatively it could be feasible to update it

[2018-03-07 11:33] jaseemabid commented on #2350
@lordofthejars We run https://github.com/fabric8io/openshift-jenkins-s2i-config, derived from the base image you mentioned.

[2018-03-07 11:34] #1974 closed

[2018-03-07 11:34] miteshvp commented on #1974
License API - https://github.com/fabric8-analytics/fabric8-analytics-server/pull/276

[2018-03-07 11:41] samuzzal-choudhury opened #2491 "[8] Scale analytics platform to support 500 concurrent requests"
## User Story
As a fabric8-analytics developer, I would like to figure out the analytics resource requirements so that the system supports 500 concurrent mixed API traffic within a minute.

## Epic
Part of the work done for #1144

## Description
In this sprint, we plan to scale the analytics system to support 500 mixed requests within a minute which will include 'x' number of `/stack-analyses` POS

[2018-03-07 11:49] miteshvp commented on #2282
Closing this as new one is created https://github.com/openshiftio/openshift.io/issues/2481

[2018-03-07 11:49] #2282 closed

[2018-03-07 11:59] jyasveer opened #2492 "Task list for Integrating Dependency Editor with Launcher"
### Integration with Launcher
- [x] Complete standalone work items https://github.com/openshiftio/openshift.io/issues/2431
- [ ] UI - Work on the styles to integrate it well with the launcher flow - Jyasveer
- [x] UI - do a Post call on load - Jyasveer
- [x] UI - Pass mission, runtime, github url to the dep editor component from the launcher component -
       Arun/Jai
- [x] UI - Accept Input para

[2018-03-07 12:14] GeetikaBatra opened #2493 "[13] OSIO Gemini server tasks"
## User Story
As a fabric8-analytics gemini user, I would like to consume use the register endpoint which will help me scan my github repo.

## Description
In this sprint, we plan to develop and deploy fabric8-analytics-gemini server on production with endpoint `/api/v1/register' and integrate it with OSIO workflow.

## Task List
- [x] Develop endpoint '/api/v1/regsiter'
- [x] Ingest the data
- [x

[2018-03-07 12:33] GeetikaBatra commented on #2326
Associated user story https://github.com/openshiftio/openshift.io/issues/2493

[2018-03-07 12:33] hrishin commented on #2314
Second that :+1:

By the way, https://github.com/openshiftio/openshift.io/issues/2457 is showing significant improvement in build experience.

[2018-03-07 12:52] vasulakkaraju opened #2494 "[13] OSIO Gemini workflow implemenation tasks"
## User Story
As a fabric8-analytics gemini user, I would like to consume/use the /report endpoint to return report generation task output.

## Description
In this sprint, we plan to develop and deploy fabric8-analytics-gemini server on production with endpoint `/api/v1/report' and integrate it with OSIO workflow.

## Task List
- [ ] Generalise unknown dependency fetcher task to support maven,go,p

[2018-03-07 13:04] tisnik commented on #1227
Everything has been implemented and works as expected -> closing this issue.

[2018-03-07 13:04] #1227 closed

[2018-03-07 13:07] tisnik commented on #2454
Blocked by https://github.com/openshiftio/openshiftio-cico-jobs/pull/539

[2018-03-07 13:07] gastaldi commented on #2461
@edewit any thoughts?

[2018-03-07 13:17] sthaha opened #2495 "Jenkins is configured to start builds only after a minute"
I see that jenkins is configured to wait for a minute before it starts a build? See [quiet period][quiet]. There is a good reason to do this (see documentation) but do we want to preserve this behaviour for osio or should the builds start as soon as it is requested?

[quiet]: https://jenkins.io/blog/2010/08/11/quiet-period-feature/

[2018-03-07 13:48] catrobson commented on #2015
There is UX activity at the next level down in the hierarchy.

Summary:
* There are UX flows completed here:  https://redhat.invisionapp.com/share/PYG7IRFXZQD
* We're meeting with the various Dev team stakeholders to discuss implementation, back end and front end.
* Front end: Minimal or no UI changes are required in OSIO, main UI changes will be in the OpenShift.io webpage and we're working on de

[2018-03-07 13:51] miteshvp commented on #2475
Good points, but I guess we need to treat RDBMS databases differently than a NoSQL or a Graph. There is always a scope of improvement in Graph management as well as our test cases.
BTW, I cleared the version entries from graph to see if it helps.

[2018-03-07 14:09] joshuawilson commented on #2468
What `severity` is this?

[2018-03-07 14:18] abs51295 opened #2496 "[8] Generalize GithubDependencyTreeTask to support multiple ecosystems"
##### Epic: #2326

#### User Story

As on OSIO user, I will be able to get vulnerabilities for all my direct and transitive dependencies so that I can refine my stack to remove the vulnerabilities.

#### Description

Currently [GithubDependencyTreeTask](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/dependency_parser.py) identifies the direct and trans

[2018-03-07 14:25] tisnik opened #2497 "[1] Improve QA Dashboard to support list of files that are ignored by pylinter or pydocstyle checker"
Currently, one source file need not to be checked by pydocstyle, because such file is used by tests (to retrieve information about license etc.). This is reported as a problem on QA Dashboard:

[code]

Thus we need to improve QA Dashboard a bit to allow us to specify such ignored files, like:

[code]

and update the application logic to handle such situation.

Additionally the ignored files needs

[2018-03-07 14:31] joshuawilson commented on #2469
What is the `severity`?

[2018-03-07 14:33] joshuawilson commented on #2471
cc @xcoulon @corinnekrych

[2018-03-07 14:36] edewit commented on #2461
I'm fine with moving the asciidoctor stuff back to launch created [issue 129](https://github.com/fabric8-launcher/launcher-planning/issues/129) to track that

[2018-03-07 15:41] lordofthejars commented on #2350
@jfchevrette I have started reviewing this issue. Regarding if plugins are updated during start up, I have not noticed anything related to this in my pod. I have been putting in IDLE jenkins pod and restarting again and I have not seen anything that suggests that the plugins are updated. Of course this means nothing since maybe it happens every X time and I have been barley unlucky to not see that

[2018-03-07 16:08] #1865 closed

[2018-03-07 16:23] joshuawilson commented on #2495
The label `type/experience` is an SDD term and applies at a broader level. I tend to think of it as an `epic`. You may want a different `type`.
@qodfathr can you clarify?

[2018-03-07 16:25] joshuawilson commented on #2492
I'm not sure this is really a `papercut`. @qodfathr can you please clarify?

[2018-03-07 16:42] joshuawilson commented on #2479
Please add labels. Needs area, team, type.

[2018-03-07 16:47] stevengutz commented on #773
Are we closing this?

[2018-03-07 17:07] lordofthejars commented on #2347
Things that I have noticed while reviewing Jenkins log:

- https://stackoverflow.com/questions/49155218/startup-performance-in-jenkins (no solution yet)
- `organization scan action completed: SUCCESS in 6.5 sec` if we already know which project we are configuring, why organization scanning? Maybe better just branch scanning?
- Remove gravatar (it is not necessary and it takes 1 sec)
- Docker image

[2018-03-07 17:22] lordofthejars commented on #2347
About size I think I havefound the reason https://github.com/fabric8-jenkins/jenkins-openshift-base/blob/master/2/Dockerfile we are installing a lot of things, would be great to 1) check if we need all these programs installed and 2) can we use alpine based instead of centos? We will safe 150 Mb more or less.

[2018-03-07 17:23] #2362 closed

[2018-03-07 17:32] lordofthejars commented on #2347
Also we can remove `subversion` plugin

[2018-03-07 17:33] kbsingh commented on #2347
@lordofthejars no, going alpine way solves the wrong problem - note that we are not trying to optimise for size, we just want to lose unusued and potentially hazard code from the content we ship

[2018-03-07 17:35] lordofthejars commented on #2347
@kbsingh yes I noticed then but downloading from internal registry 1Gb each time is a lot even for an internal registry, but yeah I figured out then that we need to stay in centos image.

[2018-03-07 17:41] joshuawilson commented on #773
We do have other issues that talk to some of this but it is not implemented yet. I'll leave it to @cctrieloff if he wants to close it.

[2018-03-07 18:27] msrb commented on #2496
One thing to keep in mind here is that if parsing dependencies requires executing code from users' `setup.py` files, or if `npm list` command requires the dependencies to be installed first (and thus executing untrusted [scripts](https://docs.npmjs.com/misc/scripts)), then this cannot be done in our current worker containers. Untrusted code could attempt to damage our infrastructure or to steal cr

[2018-03-07 19:16] jfchevrette commented on #2495
I've never observed this during my tests. Is it possible this is ignored for some reason?

Whenever I commit to github, it takes a couple of seconds for jenkins to pick up the webhook, then a build starts, then the slave, etc... I'm not seeing any artificial 1min wait anywhere before the build starts.

[2018-03-07 19:17] #2466 closed

[2018-03-07 20:24] ebaron commented on #2360
@gastaldi Sorry to bother you. Do you know if any decision has been made yet on whether to move the fabric8-maven-plugin invocation from the parent POM back to the boosters themselves?

[2018-03-07 20:34] gastaldi commented on #2360
@ebaron nothing has been discussed so far. Do you mind bumping the thread in https://groups.google.com/forum/#!topic/fabric8-launcher/NTsE8JBzHGw?

[2018-03-07 21:57] joshuawilson opened #2498 "UI Architecture - Document, Improve, Clean, and Refactor"
# Description
As a developer of the system, I want to be able to have a clean, fast, reliable build that is both CI and CD.

# Acceptance Criteria
- [ ] The builds should have consistent, repeatable, reliable, performant packaging, releasing and deployment
- [ ] The UI should be refactored to clear up immediate performance concerns
- [ ] Automated end-2-end testing should be added to the build bef

[2018-03-07 22:10] joshuawilson opened #2499 "UI builds"
Child of epic #2498
# Description
As a developer of the system, I want the builds to be have consistent, repeatable, reliable, performant packaging, releasing and deployment

Development ideas for how to accomplish acceptance
- [ ] Investigate and propose an idea to provide a consistent build experience across all of fabric8 repos
- [ ] The builds should have all unneeded steps removed
- [ ] Impro

[2018-03-07 22:59] msrb commented on #2484
@humaton please provide your time estimate

[2018-03-07 23:06] msrb commented on #1897
@pkajaba could you please provide time estimate on this one?

[2018-03-07 23:54] joshuawilson opened #2500 "UI refactor performance concerns"
Child of epic/experience #2498
# Description
As a developer of the system, I want the UI to be performant and fast

# Acceptance Criteria
- [ ] The common components should take advantage of UI based store https://github.com/openshiftio/openshift.io/issues/2560
- [ ] Observables should not be used on things that do not change
- [ ] Remove duplicate calls to the back-end, https://github.com/openshi

[2018-03-08 00:10] joshuawilson opened #2501 "Document UI Architecture"
Child of epic/experience #2498
# Description
As a developer of the system, I want be able to easily find, read, and understand the UI architecture.

# Acceptance Criteria
- [ ] The doc should be easy to find.
- [ ] The doc should cover how fabric8-ui is built with the build pipelines (fabric8cd and ci-centos)
- [ ] The doc should include information about our platform UI service bus (context, spac

[2018-03-08 00:39] joshuawilson opened #2502 "[5] Tree Shaking"
Child of epic/experience #2498
# Description
As a developer of the system, I want be able to use tree shaking to limit the size the application.

# Acceptance Criteria
- [x] The build should be configured to use tree shaking
- [ ] Evaluate the quality of the current Tree Shaking in the build
- [ ] The other components should configured to use tree shaking

[2018-03-08 00:44] joshuawilson opened #2503 "Service Workers"
Child of epic/experience #2498
# Description
As a developer of the system, I want be able to use Service Workers.

# Acceptance Criteria
- [ ] The build should be configured to use Service Workers

[2018-03-08 00:50] joshuawilson commented on #281
This is has been replaced by a more complete set of user-stories in #2498. Closing.

[2018-03-08 00:50] #281 closed

[2018-03-08 03:55] muruGanesan commented on #2447
@catrobson,  sure I will do.

[2018-03-08 04:57] sthaha opened #2504 "The URL to jenkins job posted on Github in response to a PR is invalid"
### Steps
1. create quickstart project
2. create a pull-request to the project on GitHub
3. wait for the CI to trigger
4. Look at the `Details` link see: ![ci-run-link](https://user-images.githubusercontent.com/3005132/37133707-b43ebc68-22e0-11e8-8fb0-0ddd8a722397.png)

### Expected
Must point to actual jenkins job console

### Actual
Points to `http://unconfigured-jenkins-location/job/{user}/job/

[2018-03-08 05:17] sthaha commented on #2495
@jfchevrette you are correct. @hrishin and I tested it again and like you said I see that the build starts right away for both manually triggered pipeline through osio and for a PR to github. Hence closing this issue.

[2018-03-08 05:17] #2495 closed

[2018-03-08 05:38] jaseemabid commented on #2314
Closed off (Jenkins starting after 1 min)

https://github.com/fabric8io/fabric8-build-team/issues/46
https://github.com/openshiftio/openshift.io/issues/2495

[2018-03-08 05:40] invincibleJai commented on #2178
Sure @joshuawilson will work through it.

As per my understanding, we wanted it as an epic which will have user-story associated with it.
I was not aware if we are not supposed to use Epic's

[2018-03-08 05:41] sivaavkd commented on #2256
@msrb @tisnik - please estimate story points for this

[2018-03-08 05:44] sivaavkd commented on #2221
@jpopelka @msrb - Are we ready to push this to Prod ?  Is there something yet to be done ?

[2018-03-08 05:59] sthaha opened #2505 "Pipeline fails to deploy changes to an application"
### Steps
1. create a quickstart vertx (tested only using vertx template) project
1. choose `build` `->` `stage` `->` `approve` `->` `run`
1. wait for the pipeline to finish
1. Create a PR to the github project (make some changes to html for easy verification)  and merge it
1. Wait for pipeline to start and deploy the new version
1. Check if the new changes made in the PR is deployed

### Expected

[2018-03-08 08:34] tisnik commented on #2454
All jobs has been setup and results are now displayed on the QA dashboard:
https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-03-08 08:35] #2454 closed

[2018-03-08 08:53] msrb commented on #2256
I think it would be the best if somebody who is familiar with the codebase could start and add at least some tests so others can then join and help. Unfortunately, the only person in the stream that is really familiar with the codebase si Saleem.

@tuxdna Do you think you could give up one of the Sentry integration tasks and focus on this issue instead? I think one of the barriers why people tend

[2018-03-08 10:02] tuxdna commented on #2315
Deployed to production and in already in progress. https://github.com/openshiftio/saas-analytics/pull/275

[2018-03-08 10:02] tuxdna commented on #2315
We can close this issue now.

[2018-03-08 10:02] #2315 closed

[2018-03-08 10:47] #2413 closed

[2018-03-08 10:50] muruGanesan commented on #2412
I am closing this issue... because UX is not going to change base font/typography until we find some usability and accessibility issue -or- we may consider the change only if 'PatternFly' redefines the 'font/typography'.

[2018-03-08 10:50] #2412 closed

[2018-03-08 10:51] tisnik commented on #2256
@msrb :+1:

[2018-03-08 10:56] muruGanesan commented on #2447
![add_apply_cancel](https://user-images.githubusercontent.com/26006817/37147500-24dd2ed0-22ed-11e8-819a-04c2dadb15e6.png)

Above is UX proposal, I will discuss with @nimishamukherjee @michaelkleinhenz and try to incorporate in this sprint.

[2018-03-08 11:21] rgarg1 opened #2506 "[~2] Iteration date selector only allows selecting dates in the past"
_with ngrx changes_

While creating or editing and iteration, user cannot select either current or a date in future.

The only option allowed is to select a date in the past, which is meaningless.
![calendar grayed](https://user-images.githubusercontent.com/28748448/37148557-e7e9036a-22f0-11e8-9c39-2e0ef37ea33e.png)

[not assigning severity as the issue neither exist in prod or prod-preview, but o

[2018-03-08 11:45] arunkumars08 opened #2507 "[5] (Getting Started) Mission and Runtime - Tasks"
### User Story:
As an OSIO user, I should be able to select mission and runtimes.

### Description:
Mission and Runtimes flow lists all the available missions and runtimes which the user can select.

### Acceptance Criteria:
As an OSIO user, I should be able to select mission and runtimes and move on to next step.

### Mission Tasks

- [x] - Integration of Services in the new UX flow
- [x] - Unit

[2018-03-08 11:49] rgarg1 opened #2508 "Filtering by workitem title is broken"
Cannot filter down workitems by searching for keywords in the title field. The filter gets added but the results are meaningless. Try searching for a bug on openshiftio/openshiftio

Steps:

1. Browse to https://openshift.io/openshiftio/openshiftio/plan?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20$WITGROUP:Requirements)

2. Select __Title__ from the filter dropdown
3. Enter any keyword,

[2018-03-08 11:50] arunkumars08 opened #2509 "[3] (Getting Started) Target Environment - Tasks"
### Tasks

- [x] - Unit Tests to handle new ux

[2018-03-08 11:51] invincibleJai opened #2510 "[3](Getting Started) Select Release Strategy - Tasks"
### User Story:
As an OSIO user, I will be able to see the release strategy based on selected runtimes/missions in the previous step as per new UXD. [Quick Start flow]

### Acceptance Criteria:
OSIO user should be able to select release strategy, based on selected runtimes/missions in the previous step.

##### Task list
- [x] - Integration of Services in the new UX flow
- [x] - Unit test cases to

[2018-03-08 11:54] arunkumars08 opened #2511 "[3] (Getting Started) Summary screen - Tasks"
### User Story:
As an OSIO user, I should be able to see the summary of all my selections from previous steps.

### Description:
Summary screen shows the preview of all the selections and inputs made in the previous steps.

### Acceptance Criteria:
As an OSIO user, I should be able to see the summary of all my selections from previous steps and click on set up.

### Summary Screen Tasks

- [x] - I

[2018-03-08 11:59] ravsa opened #2512 "[5] short and meaningful error message and no duplicate information."
#### User Story:

As an OSIO user, I will be able to get the short and clear exception message and no duplicate information.

#### Description:
In status/web-socket API exception messages are long and duplicate. For example when one creates a build config with an invalid name the exception message is:
[code]

#### Task List:
- [x] Add validation regex validation to getProjectName/client

[2018-03-08 12:00] sanketpathak opened #2513 "[5] Dependency Editor UI Integration"
User Story:

As a OSIO user I will be able to see UI of Dependency Editor (OSIO) integrated with backend API's.

Description:

Integration with API and getting result successfully.

Task List:

- [x] Displaying project info like metadata  etc. in `Current Project & metadata section`
    - [x] Displaying booster name and version with icon in 'Runtime' section.
    - [x] Metadata information .
- [x]

[2018-03-08 12:00] jpopelka commented on #2221
Has been pushed to prod with https://github.com/openshiftio/saas-analytics/pull/275 & https://github.com/openshiftio/saas-analytics/pull/276

[2018-03-08 12:00] #2221 closed

[2018-03-08 12:07] invincibleJai opened #2514 "[5] (Getting Started) Authorize git provider - Tasks"
### User Story:
As an OSIO user, I will be able to link my account with GitHub, fetch user's authorized Organisations and validate if repository exists as per new UXD. [Quick Start flow]

### Acceptance Criteria:
OSIO user should be able to link his account to GitHub, fetch user's authorized Organisations and validate if repository.

##### Task list
- [x] - Integration of Services in the new UX fl

[2018-03-08 12:07] tuxdna commented on #2219
[code]

[2018-03-08 12:09] arunkumars08 opened #2515 "[5] (Getting Started) Progress Screen - Tasks"
### User Story:
As an OSIO user, I should be able to see the progress of the Application creation, Jenkins creation, Github creation, Github push, Webhook creation

### Description:
Progress screen shows the progress of the Application creation, Jenkins creation, Github creation, Github push, Webhook creation

### Acceptance Criteria:
As an OSIO user, I should be able to see the progress of the Ap

[2018-03-08 12:13] arunkumars08 commented on #2274
Closing this as the work is being tracked here - https://github.com/openshiftio/openshift.io/issues/2440

[2018-03-08 12:13] #2274 closed

[2018-03-08 12:15] invincibleJai commented on #2178
@GeorgeActon let me if need to close it as we have planning done here https://github.com/openshiftio/openshift.io/issues/2440 and it has the list of user stories associated with it

[2018-03-08 12:20] jyasveer opened #2516 "[8](Getting Started): CICD and Semantic release"
### User Story
As an OSIO developer, I will be able to see CICD being triggered for every PR. I will also be able to see a new version getting released when a PR is merged to master in this repo https://github.com/fabric8-launcher

### Acceptance Criteria
1. CI should trigger on every PR created.
2. CICD should trigger on every PR merged to master.
3. A new semantic sversion should be released on

[2018-03-08 12:26] jyasveer opened #2517 "[13] (Getting Started): Integration tests for all the steps"
### User Story
As an OSIO developer, I want to have integration tests for getting started flow in place in OSIO test suite.

### Acceptance Criteria
1. Getting started integration tests should run in the OSIO test suite.

### Task List
- [ ] Setup for integration tests.
- [ ] Increase integration tests coverage.

[2018-03-08 12:36] sanketpathak opened #2518 "[5] Re Revamped Dependency Editor: Modal for choosing additional dependencies"
User Story:

As a OSIO user I will be able to see modal for `browse all dependency`of Dependency Editor (OSIO) as per UX Design.
https://redhat.invisionapp.com/share/AJFXNL4X4M2#/screens/280269881

Description:

Allowing the user to edit (add/remove) the project dependencies once he selected one of the boosters in the project creation wizard and providing stack report of the project he is building

[2018-03-08 12:38] ldimaggi commented on #2399
Test to run junit tests in Che for booster - https://github.com/fabric8io/fabric8-test/pull/509

[2018-03-08 13:08] andrewazores opened #2519 "Deployment card status icon should reflect memory usage status, not only CPU"
The deployment card status icon currently only changes to warning/error based on the CPU usage and quota of a deployment. This logic should be updated to also consider memory usage.

Related:
https://github.com/openshiftio/openshift.io/issues/1659
https://github.com/openshiftio/openshift.io/issues/2086

[2018-03-08 13:10] andrewazores opened #2520 "Deployment resource charts should be highlighted when nearing quota"
Parent: https://github.com/openshiftio/openshift.io/issues/1658

# Task

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/262786733

When a resource is nearing its deployment quota, the resource's chart/text should be highlighted in orange, the card should gain the orange warning indicator, and the "Nearing Quota" label should be displayed beside the "Resource Usage" label.

# Relationships

[2018-03-08 13:31] xcoulon commented on #2471
ok, thanks for reporting this issue, @aslakknutsen. I'll take a look at it.

[2018-03-08 14:04] jfchevrette commented on #2381
Fix found and addressed upstream. Waiting for it to be deployed to both clusters hopefully today.

[2018-03-08 14:07] msrb commented on #2219
During ingestion, we actually call data-importer twice. Once for version-level data and second time for package-level data (but that's much later, only after package-level analysis is done). I *think* data-importer checks both buckets when we call it. If people run this locally, on docker-compose, then we call data-importer for version-level data, but package-level data are not there in the bucket

[2018-03-08 14:30] lordofthejars commented on #2350
@jfchevrette news about metadata https://twitter.com/alecharp/status/971684446192709632 so it seems that plugins are not updated by default and requires some kind of script. Other thing to think about is if our jenkins installation bundles this script.

[2018-03-08 14:54] chmouel commented on #2350
@lordofthejars  it may be good to figure out why this file takes 40s as well https://updates.jenkins-ci.org/current/update-center.json (takes less than a second on my laptop), or is it actually doing something else too ?

[2018-03-08 15:03] lordofthejars commented on #2350
This time is for downloading the `update-center.json` and compare with current plugins. Why it take so much? probably because of network latency. Since user has no permissions to update plugins, we should check how to disable this process.

[2018-03-08 15:10] chmouel commented on #2350
I don't think it's the latency for that file, trying this from inside the containers :

[code]

Not saying that the latency is not because of the update (and as you said it's not worth to have it) but i would imagine that there is something going on that takes time after or before the file download.

[2018-03-08 15:14] lordofthejars commented on #2350
notice that the time is printed when say `Finished Downloaded` I can take a look at Jenkins code, but it _should_ not do anything else.

[2018-03-08 15:16] #2421 closed

[2018-03-08 16:21] hrishin commented on #2505
The issue is correct image tag is not getting reffered:

As part of build step, Image is getting pushed into Jenkins namespace (username-jenkins) and deploymentconfig is referring the image SHA from stage, run (username-stage, username-run) namespaces. FMP queries the ImagesStreams and try to find the latest version of Image tag that is being pushed. But its logic of picking the correct ImageStrea

[2018-03-08 18:18] andrewazores opened #2521 "[1] Deployment charts do not accurately reflect usage vs quota"
Parent: https://github.com/openshiftio/openshift.io/issues/1658

# Task

![screenshot from 2018-03-08 13-09-29](https://user-images.githubusercontent.com/3787464/37168199-1b8b3d24-22d2-11e8-86f9-6ffc14bc0305.png)

Deployment charts should scale their Y axes to the stat quota.

# Notes

As seen in the screenshot above, the max Y value for the chart is simply taken to be the maximum Y value sample o

[2018-03-09 01:58] ldimaggi commented on #2154
Interesting characteristic of this problem - I've noticed a repeating pattern - after 19:00 Boston time, the problem morphs from intermittent to happening 90% of the time. I have observed this for the past few days and the pattern is consistent.

[2018-03-09 03:08] sbose78 commented on #2504
This looks pretty severe to me :(

[2018-03-09 06:23] tuxdna commented on #2219
Also observed this in production instance:

[code]

[2018-03-09 07:10] sthaha commented on #2505
### Status Update

@hrishin has a fix for the [`fabric8-maven-plugin (f-m-p)`][fix-fmp] and would make new release of the f-m-p which includes the fix soon but it wouldn't solve the problem for everyone as the `pom.xml` in users repo would still point to the old version of f-m-p. For a complete solution

1. Users would have to update their pom.xml  to use `3.5.38` (going to be released) version of

[2018-03-09 07:22] sthaha commented on #2504
@sbose78 do you know if this is a regression?

[2018-03-09 08:33] chmouel commented on #2505
@krishnapaparaju Srikrishna would your team be able to help us for updating those quickstarts?

[2018-03-09 08:48] rupalibehera commented on #1900
NOTE: whenever the tenant wide update is done this would reflect then. As @sthaha said above the existing edit roles for the tenant will have to be removed manually.
cc : @pbergene @chmouel

[2018-03-09 09:12] rupalibehera commented on #1900
From the `SaaS Changes 2018-03-07 16:00` email this has gone to production https://github.com/fabric8-services/fabric8-tenant/commit/f8ee8bb.
The Manual edit roles removal is pending from SD side.

[2018-03-09 09:18] tisnik commented on #2497
Implemented in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/502

[2018-03-09 09:19] #2497 closed

[2018-03-09 11:26] rohanKanojia commented on #2505
**Wildfly swarm boosters**
Healthcheck Booster - https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-health-check
Crud Booster - https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-rest-http-crud
Http Booster - https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-rest-http
Configmap Booster - https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-configmap-redha

[2018-03-09 11:31] pbergene commented on #1900
Lovely, thanks!

[2018-03-09 11:53] krishnapaparaju opened #2522 "Few times, OSIO quick start builds are failing"
Few times , OSIO builds are failing. Build for a quick start would go OK few times, so other times fail with this error:  https://gist.github.com/krishnapaparaju/79c550eac1b2eb8aba437d449e73f337

cc @chmouel @kbsingh @pradeepto

[2018-03-09 11:53] #2482 closed

[2018-03-09 12:05] chmouel commented on #2522
is sporadic service issues SEV1 ?

[2018-03-09 12:07] chmouel commented on #2522
and we would need more details, please.

[2018-03-09 12:14] piyush1594 commented on #2522
Hey @krishnapaparaju

Can you provide the details like,  which project you are building, which Openshift version you are using and command to reproduce this?

From logs, FMP 3.5.28 is getting used there.

Thanks

[2018-03-09 12:15] pmacik opened #2523 "Selecting a version of a runtime via dropdown button redirects page right to the Home page."
![image](https://user-images.githubusercontent.com/3263627/37207140-e6223424-239b-11e8-89b5-1d1be94eef9e.png)

[2018-03-09 12:17] chmouel commented on #2522
I am dropping the SEV1 until we get more infos

[2018-03-09 12:18] pmacik opened #2524 "'Reset Selections' button in the launcher does not do reset selections"
![image](https://user-images.githubusercontent.com/3263627/37207237-64497ac4-239c-11e8-8d50-2ab3f45956c6.png)

[2018-03-09 12:30] invincibleJai commented on #2524
@pmacik i guess you are trying it out in prod, recent changes have not been promoted to prod. It's in prod-preview and it works there.

https://prod-preview.openshift.io/jakumar/{space}/applauncher/createapp/

Not sure if logging issue here is right for in-progress task, it will be good to log it here https://github.com/fabric8-launcher/ngx-launcher/issues

@dlabrecq WDYT?

[2018-03-09 12:37] invincibleJai commented on #2514
Associated PRs  https://github.com/fabric8-ui/fabric8-ui/pull/2615

[2018-03-09 12:38] krishnapaparaju commented on #2522
This problem happening at least 1 out of 3 times at starter-2 cluster. This I guess happening with all the quick starts.  Steps followed: Select a OSIO quick start after creating new space, this has triggered build. I have tried multiple builds. Some of them were successful. Other times, builds were failing with this error: https://gist.github.com/krishnapaparaju/79c550eac1b2eb8aba437d449e73f337

[2018-03-09 12:42] pmacik commented on #2524
@invincibleJai Ah, yes you are correct I was trying prod... I'll switch to the prod-preview, then. Thanks

[2018-03-09 12:45] ldimaggi opened #2525 "Intermittent/recurring error that becomes almost constant at midnight UTC time - attempts to open Che workspace fail - Start of environment 'default' failed (see #2154)"
This problem is a variation on #2154

I am seeing a consistent pattern where, starting at 19:00 Boston time, this issue morphs from occurring intermittently, to happening approx. 90% of the time.

I have observed this problem on a daily basis for the past 5+ days.

[2018-03-09 12:54] ldimaggi opened #2526 "Creating Che workspace - error: "Projects exists in workspace but does not exist in filesystem""
This problem started showing up on March 9 - am currently seeing this about 50% of the time when creating a new Che workspace.

Steps to recreate:
* Create a new space
* Create a new quickstart
* Attempt to create a new workspace

![screenshot from 2018-03-09 07-14-15](https://user-images.githubusercontent.com/642621/37208328-02c0abb0-236f-11e8-9ad2-4853d8d7f311.png)

[2018-03-09 12:56] jpopelka commented on #2149
I created a [PR](https://github.com/fabric8-analytics/fabric8-analytics-deployment/pull/19), because I didn't realize that Michal had moved it back to Backlog.

[2018-03-09 13:09] ibuziuk commented on #2273
just faced it again:
- `ibuziuk-che` namespace
- `workspace-data-migration-workspaceab5a16ylegdqys9r` pod

events:

![image](https://user-images.githubusercontent.com/1461122/37208862-3c029738-23a3-11e8-9f13-6843bcf417b4.png)

[2018-03-09 13:11] pbergene commented on #2525
Backups of che master db are happening much later, is this observed in the e2e tests?

[2018-03-09 13:17] ibuziuk commented on #2526
@ldimaggi which stack have you been using for quickstart ?
@eivantsov any ideas (looks like an upstream issue) ?

[2018-03-09 13:40] ldimaggi commented on #2525
I am seeing this manually and with automated tests. I am seeing it manually after about 19:00 daily.

[2018-03-09 13:41] ldimaggi commented on #2526
VertX - thx!

[2018-03-09 13:46] ibuziuk commented on #2526
@ldimaggi  if you just close the pop-up workspace is working correctly ?

[2018-03-09 13:50] pbergene commented on #2505
@krishnapaparaju any update on this Sev-1?

[2018-03-09 13:57] jiekang opened #2527 "Applications with maximum character length (63) can't build in Jenkins"
I created an application with maximum character length and the pipeline build is permanently stuck at, for example:
[code]

Cancelling the build and then starting it again results in the same issue.

Steps to reproduce:

1. Use quickstart wizard to create an application (vert.x http booster). In step 1B, set OpenShift Project Name to be a 63 character length name. Continue through to the end, crea

[2018-03-09 14:14] dlabrecq commented on #2524
I tested by running the demo in the ngx-launcher repo. I had no issues resetting my selections. If you have trouble, check the browser console for errors.

Note that this feature has no relevance to being on prod or prod-preview.

[2018-03-09 14:17] invincibleJai commented on #2524
@dlabrecq what I meant was latest changes are in prod-preview in prod still we have https://openshift.io/_applauncher here reset selection is not working

[2018-03-09 14:21] ibuziuk commented on #2273
facing it also during workspace creation
- `ibuziuk-che` namespace
- `workspace29ocjjnk7q7imapa.dockerimage` pod
- UTC time: 2:19:39 PM, March 9, 2018

![image](https://user-images.githubusercontent.com/1461122/37211839-919dbb46-23ad-11e8-8771-24d4d3d36fdb.png)

[2018-03-09 14:25] dlabrecq commented on #2524
Sorry, I thought you were speaking about OSIO. I wasn't aware that there was an app-launcher deployed at https://openshift.io/_applauncher.

This looks like very old code. For example, the reset button should be disabled. It should also be located in a different spot. There is no cancel button at the top left and so on. We've made a lot of changes to the app-launcher component for the usability st

[2018-03-09 14:26] corinnekrych commented on #1165
@qodfathr @xcoulon @aslakknutsen @joshuawilson @mceledonia let's identify use-case for next UX review, replacing feature1, feature2 with real components.

[2018-03-09 14:33] jfchevrette commented on #2490
Saw the same for a different user

[code]

[2018-03-09 14:53] #2519 closed

[2018-03-09 14:59] hrishin commented on #2522
Hi @krishnapaparaju
Thanks for reporting this issue. On which cluster you are running these builds?

[2018-03-09 15:34] chmouel commented on #2505
Is it actually closed? we still need to fix the boosters, right?

[2018-03-09 15:35] piyush1594 commented on #2505
I merged the PR there, it automatically got closed here, I also reopened it. Yaa we need to fix boosters.

[2018-03-09 15:47] jfchevrette commented on #1790
Does this occur in Incognito mode too? I have a feeling this may be caused by a prior openshift session/cookie/token under a different username which may not match the one that is logged on to OSIO.

[2018-03-09 16:06] joshuawilson commented on #2502
done in https://github.com/fabric8-ui/fabric8-ui/pull/394

[2018-03-09 16:09] joshuawilson commented on #2501
Added https://github.com/fabric8-ui/fabric8-ui/wiki/UI-Architecture-Guide

[2018-03-09 16:54] ldimaggi commented on #2526
Yes - that seems to work.

But - I have not seen this bug before the past couple of days.

[2018-03-09 17:43] maxandersen commented on #1595
@muruGanesan this kinda of detailed info need to be in text/searchable format - does that exist ?

also, I assume these are UI beaviors and not necessarily match back to what the backend will put limits on (i.e. backend would not care around number of lines)

[2018-03-09 19:27] joshuawilson commented on #2447
What `severity` is this?

[2018-03-09 19:40] #2461 closed

[2018-03-09 20:23] jiekang opened #2528 "API: Provide websocket support"
Parent: #2380

# Task

Provide websocket based API for the deployments page

# Sub-Tasks

- [ ] Provide events API
- [ ] Provide pods API

[2018-03-09 20:24] jiekang opened #2529 "UI: Use websocket API for data"
Parent: #2380

# Task

Use websocket API to acquire pod and events information

# Sub-Tasks

- [ ] Use events API to provide deployment status notifications
- [ ] Use pods API to update pod UX

[2018-03-09 20:37] piyush1594 commented on #2505
Update : [FMP 3.5.38](https://repo.maven.apache.org/maven2/io/fabric8/fabric8-maven-plugin/3.5.38/) has been released.

[2018-03-09 20:38] jiekang commented on #2521
@catrobson

[2018-03-09 20:39] jiekang commented on #2227
@catrobson

[2018-03-10 00:32] ebaron commented on #2086
On the OpenShift side there is currently support for quotas of the following objects:

Resource Name | Description
-- | --
pods | The total number of pods in a non-terminal state that can exist in the project.
replicationcontrollers | The total number of replication controllers that can exist in the project.
resourcequotas | The total number of resource quotas that can exist in the project.
servic

[2018-03-10 00:49] muruGanesan commented on #2447
@nimishamukherjee, @michaelkleinhenz, Please review this issue and consider UX proposal for the H-train goal.
**There are TWO parts in this issue:**
1) Current implementation issue i.e. If you follow the @Raunak1203  steps > Label is not getting assigned to WI/issue
2) I found some UX gap-  for that, we are trying to propose some changes in the " Add Label" flow.
Please look at the below image- We

[2018-03-10 09:02] ibuziuk commented on #2526
@ldimaggi we are going to switch to che 6 next week, so it would be great to verify this issue against new version.

[2018-03-10 14:28] joshuawilson commented on #2522
@krishnapaparaju what `type` is this?

[2018-03-10 18:56] joshuawilson commented on #2527
Please explain exactly what you did to produce this and where you found the bug.
Please add labels for `area`, `team`, and `severity` if you know them.

[2018-03-11 00:40] ldimaggi commented on #2425
Closing - not seeing this in production on cluster starter-us-east-2a.

[2018-03-11 00:40] #2425 closed

[2018-03-11 00:42] ldimaggi commented on #2427
The upstream bug is still open - but I am not seeing this issue on cluster starter-us-east-2a this weekend.

[2018-03-11 00:44] ldimaggi commented on #2426
The upstream bug is still open - but I am not seeing this issue on cluster starter-us-east-2a this weekend.

[2018-03-11 00:45] ldimaggi commented on #2392
The upstream bug is still open - but I am not seeing this issue on cluster starter-us-east-2a this weekend.

[2018-03-11 00:45] ldimaggi commented on #2390
Verified fixed in production - closing.

[2018-03-11 00:45] #2390 closed

[2018-03-11 04:53] krishnapaparaju opened #2530 "Known, Unknown do NOT add up to total dependencies analysed"
At OSIO stack report, please check this screen shot:

<img width="1389" alt="screen shot 2018-03-11 at 10 22 29 am" src="https://user-images.githubusercontent.com/15967765/37249882-443f357c-2516-11e8-975d-0d465f2fdac4.png">

[2018-03-11 07:14] miteshvp commented on #2530
@sara-02 - please look into this. This looks to be based on the latest changes.

[2018-03-11 10:14] sbose78 commented on #2504
Yeah looks like since this used to work pretty well before.

[2018-03-11 13:11] bartoszmajsak commented on #2504
It's not a regression, it's been like that for a long time. Duplicate of https://github.com/openshiftio/openshift.io/issues/1259

[2018-03-11 13:11] #2504 closed

[2018-03-11 13:23] bartoszmajsak commented on #1259
Obviously, the same problem occurs on PR checks, as status API from GH is related to any commits, including merge commits which are shown in PR status.

Bumping it to SEV2 as this should be in my opinion fixed rather urgently. cc @chmouel @lordofthejars

[2018-03-11 13:23] bartoszmajsak commented on #1259
Duplicate: https://github.com/openshiftio/openshift.io/issues/2504

[2018-03-11 16:39] catrobson commented on #2521
@andrewazores your example with the Y value set to quota or highest Y value absolutely makes more sense, and is really what is intended with these graphs.  Sorry this wasn't specified or discussed before.  Please proceed with your prototype with the new Y values!

[2018-03-11 17:41] gastaldi commented on #2093
Can the UI call `jenkins.openshift.io` (or the prod-preview counterpart) directly instead?

[2018-03-11 23:28] sthaha commented on #1259
### Steps to reproduce
1. create quickstart project
2. create a pull-request to the project on GitHub
3. wait for the CI to trigger
4. Look at the `Details` link see: ![ci-run-link](https://user-images.githubusercontent.com/3005132/37133707-b43ebc68-22e0-11e8-8fb0-0ddd8a722397.png)

### Expected
Must point to actual jenkins job console

### Actual
Points to `http://unconfigured-jenkins-location/jo

[2018-03-12 00:22] gastaldi opened #2531 "Vert.x icon is not being displayed in Openshift.io"
_From @gastaldi on March 11, 2018 19:51_

Probably caused by the latest catalog changes?

![screenshot_20180311-164656](https://user-images.githubusercontent.com/54133/37257791-4644fec0-254c-11e8-8e78-9cab433da9df.png)

_Copied from original issue: fabric8-launcher/launcher-booster-catalog#170_

[2018-03-12 02:37] joshuawilson commented on #2093
The goal is to get the UI to talk to a backend service that we control so that we are not tied directly to a service like jenkins.

[2018-03-12 02:40] joshuawilson commented on #2531
@gastaldi you marked this as an `integration` issue. Who are you having an issue integrating with?

[2018-03-12 02:56] gastaldi commented on #2531
@joshuawilson Fabric8-UI and the Fabric8-Launcher backend

[2018-03-12 03:00] gastaldi commented on #2093
@joshua I'm not sure you've seen the URL posted. It's sending the full path Jenkins requires, basically doing what jenkins.openshift.io does. I don't think right now it does what you say it does. 😉

[2018-03-12 03:02] gastaldi commented on #2093
In any case, this service still has to move out of launcher and something that the build team controls

[2018-03-12 03:03] joshuawilson commented on #2531
The `integration` label is meant to link `teams`. Please add the teams that you need to integrate with.

[2018-03-12 03:04] joshuawilson commented on #2093
agreed
@chmouel @pradeepto @rupalibehera are you aware of this?
cc @aslakknutsen

[2018-03-12 04:02] hrishin commented on #2403
Around 12-14 minutes for the entire build. After that app is immediately getting available to access.

[2018-03-12 06:16] hrishin commented on #2505
@sthaha @ppalaga @rohanKanojia
One strange thing is https://github.com/openshiftio-vertx-boosters/vertx-http-booster/blob/master/pom.xml#L140 use FMP v.3.5.33
Then why OSIO VertX booster is having a different version of FMP ?

[2018-03-12 06:52] vasulakkaraju commented on #1761
Currently to identify the dependencies and unknown dependencies for given go project we are parsing the glide.lock/gopkg.lock file.

[2018-03-12 07:01] Raunak1203 commented on #2447
@muruGanesan issue is diiferent. once we add a label to a workitem from quick preview, then it is displayed in the table view , There if you try clicking the label it is not working.
![peek 2018-03-12 12-23](https://user-images.githubusercontent.com/34271052/37269578-fc6417e6-25f0-11e8-9bb1-53add2f7fa18.gif)

[2018-03-12 07:23] muruGanesan commented on #1595
@maxandersen, You are right, these limitations mapped to UI (front-end) behavior.

[2018-03-12 07:25] Raunak1203 opened #2532 "Notification issue while applying a filter condition and then adding a workItem( doesnt match filter condition)"
Steps:
-Click on Scenario work item group
-Select Filter By : WorkItemType- Scenario
-Now Add new workItem of type Fundamentals
-Message is displayed "WorkItem is added"

So, There are 2 parts of this issue:
-  Should the work Item be displayed(because we already have some filter condition)
-  Or there could be a message that this workitem doesn't match filter condition but is added

[2018-03-12 07:34] rootAvish commented on #2487
The custom AMI solution did not work, however on the default AMI if you choose MXnet as an application you get CUDA and the NVIDIA drivers. In this way along with minimal bootstrap steps it's possible to spin up a cluster containing just the one master node.

Here's the final configuration that works:

No. of instances: 1 (p3.2x large)
EMR version: 5.10.0 (contains CUDA 9, Tensorflow does not supp

[2018-03-12 07:46] rgarg1 commented on #2447
@muruGanesan The discussion side tracked the original issue reported. Do you have any objections to @Raunak1203 expectations?

[2018-03-12 07:48] Raunak1203 opened #2533 "Suggestion issue with iteration dropdown"
Steps:
-Click on work item to open quick preview.
-Click on Iteration dropdown.
-Type Iteration name which doesn't match the condition
-Message displayed "No matches found"
-Click Cancel
and again click on Iteration, It still shows "No matches Found"

![peek 2018-03-12 13-16](https://user-images.githubusercontent.com/34271052/37271162-bbe8d8f8-25f7-11e8-883c-76d4cce18642.gif)

[2018-03-12 08:26] chmouel commented on #2093
I don't know any of this and not aware that we have a new responsibility for a new service to be run in the build infra,

[2018-03-12 08:27] chmouel commented on #1259
I add this to our backlog on https://github.com/orgs/fabric8io/projects/2

[2018-03-12 08:45] garagatyi commented on #2273
Just faced it
- `ogaragat1` namespace
- `workspacequu7g93ghqzmgpif.dockerimage` image
- UTC time: 08:40:10 AM, March 12

`0/10 nodes are available: 1 Insufficient cpu, 3 PodToleratesNodeTaints, 6 MatchNodeSelector.`

[2018-03-12 08:51] jaseemabid opened #2534 "Accessing jenkins.openshift.io fails with auth errors"
Its partly html and partly json. I'll rather have this page redirect me to auth and take me back.

[code]
This could be auth, idler, platform or some other piece I don't know yet.

[2018-03-12 08:56] animuk commented on #2439
Here is the Loadtesting Report.
https://docs.google.com/spreadsheets/d/1QL6WlCf3z2d5JLyCJ0JdSoMmnAZi4-LAzvrxvnoJl_g/edit?usp=sharing
Comments:
1. Apart from GIT Apis, other APIs preformed well under load testing for minimum 500 concurrent users.
2. GIT APIs are under performers because of dependency of external GIT REST APIs. Their average response time under load of 500 concurrent users varies fr

[2018-03-12 09:09] jaseemabid commented on #2534
Idled or not, I usually try to get to my Jenkins instance directly through the jenkins.openshift.io url.

Right now, I am authenticated on openshift.io but that seems to be not making any difference.

Doing this in an incognito window takes me to https://developers.redhat.com and when I come back after authentication, I get the same error.

[2018-03-12 09:23] hferentschik commented on #2534
jenkins.openshift.io is the Jenkins Proxy. Let's open an issue there and let's have the discussion there https://github.com/fabric8-services/fabric8-jenkins-proxy/issues

[2018-03-12 09:27] ppitonak commented on #2415
related to #2140, #2399 and https://github.com/fabric8io/fabric8-test/issues/494

[2018-03-12 09:30] maxandersen commented on #2505
Are we 100% sure this is the actual issue ? wouldn't this imply that updates never worked before ?
or is this because s2i wasn't used until recently ?

[2018-03-12 09:33] msrb opened #2535 "Celery exceptions not showing up in Sentry"
# Description

We integrated workers with Sentry in https://github.com/openshiftio/openshift.io/issues/2236, but I can clearly see following exception in the logs, but not in Sentry:

[code]

The reason could be that we enable Sentry integration in Selinon, which is probably too late.

[2018-03-12 09:41] mishaone opened #2536 "UI bug: board view display highlights backlog view"
In the Planner, when we select the Backlog view, the Backlog tab should be highlighted to indicate that this is the current view and the Board view should look deselected since this is not the view, and vice-versa.

Currently, whether I am viewing the Backlog or Board view, the Backlog tab appears "selected". The following screenshots illustrate the problem:

When I click on `Backlog View`:
![back

[2018-03-12 09:47] hrishin commented on #2505
It might have worked before if GET `/imagestreams` API returned the latest build tag as the first item in `imagestreams` list. Somehow if this behavior got changed then FMP is picking the wrong build. The code has been written based on this assumption in FMP.

Not sure about it unless configuration changed explicitly. FMP does S2I build by default for OpenShift environment.

[2018-03-12 09:52] Raunak1203 opened #2537 "Gray overlay on canceling delete comment popup in detail page"
Steps:
- Click on wi-detail-icon to open detail page
- Add a new comment
- Click on kebab menu delete to delete comment
- Pop is displayed
- Gray overlay on canceling popup

![peek 2018-03-12 15-24](https://user-images.githubusercontent.com/34271052/37277058-98d4b38e-2609-11e8-9a0a-a7bb0802e279.gif)

[2018-03-12 10:04] Raunak1203 opened #2538 "[~2] Empty comment can be saved in quick preview"
Steps
- Click on Work item title to open quick preview
- Add a new comment
- Now edit a comment and try saving Empty comment

[2018-03-12 10:15] #1089 closed

[2018-03-12 10:32] Raunak1203 opened #2539 "Double Clicking calendar date closes the iteration dialog"
Steps:
- Edit an existing Iteration from side panel
- Now select a start date and double click
- Iteration dialog is closed
![uu](https://user-images.githubusercontent.com/34271052/37278700-926a82ee-260e-11e8-864b-cf16c19f161e.gif)

[2018-03-12 11:11] Raunak1203 opened #2540 "Issue with child title"
Steps:

- Click on workItem to open quickPreview
- Edit the work Item and close the quick Preview
- Now add a child workItem.
- Click on child workitem title to open quick Preview
- Title is in edit mode.
- Click cancel. Title is updated to parent title
![peek 2018-03-12 16-38](https://user-images.githubusercontent.com/34271052/37280530-05f0f176-2614-11e8-8c3d-0526a5d0ac22.gif)

[2018-03-12 11:55] ibuziuk commented on #696
@samuzzal-choudhury @jyasveer any update on this task ? is it still planned to have stack reports from IDE ?

[2018-03-12 12:58] joshuawilson commented on #2536
Please add labels. What `area`, `team`, and `type` is this?

[2018-03-12 13:24] andrewazores opened #2541 "Deployment card chart labels can extend outside of card edges"
Parent: https://github.com/openshiftio/openshift.io/issues/1658

# Task

Round/truncate the values displayed by the chart label component.

# Notes

When the usage value for a metric (CPU or Memory) is a number with many digits, the label can extend to the right past the edge of the card. ex. "0.0000001 of 1 Cores", particularly when the browser viewport is set a bit narrow (ex. opening the dev to

[2018-03-12 13:28] andrewazores opened #2542 "Deployment card icon shows error when 0 pods are deployed"
Parent: https://github.com/openshiftio/openshift.io/issues/2545

# Task

![screenshot from 2018-03-12 09-25-11](https://user-images.githubusercontent.com/3787464/37286103-65c26a40-25d7-11e8-8066-34a4f98dcf27.png)

Do not display a "quota reached" error message for deployments with 0 pods.

# Notes

The tooltip contents did not come through in the screenshot, but the tooltip read "CPU usage has rea

[2018-03-12 13:38] andrewazores opened #2543 "DeploymentsService timeseries quotas are not truly historical"
Parent: https://github.com/openshiftio/openshift.io/issues/1658

# Task

Modify service's timeseries data behaviour to include quota at time of each sample, rather than only current quota.

# Notes

`DeploymentsService` functions `getDeploymentCpuStat` and `getDeploymentMemoryStat` produce snapshot windows of the last 15 minutes of timeseries data muxed with the quota for the metric. This is curre

[2018-03-12 13:43] ldimaggi opened #2544 "Between midnight and and ~03:00 UTC, users provisioned on cluster starter-us-east-2 canot create Che workspaces"
**_Updated March 22, 2018 - The pattern is consistent - starts at midnight UTC and continues for 3+ hours - only affects the starter-us-east-2 cluster._**

-----------------------------------

The problem was first noted as affecting the creation of new Che workspaces starting after 19:00 (Boston EST time) here - https://github.com/openshiftio/openshift.io/issues/2154#issuecomment-371688041

Since

[2018-03-12 13:45] maxandersen commented on #349
@joshuawilson @qodfathr reopening this as I couldn't spot where the other design work is going on for status page is located - do you have a link for it ?

[2018-03-12 14:07] jiekang commented on #2527
@joshuawilson I've added steps to reproduce. I'm not sure on the severity, area, or team for this.

[2018-03-12 14:17] andrewazores commented on #2543
This will likely require some backend support to implement nicely.

[2018-03-12 14:55] joshuawilson commented on #2544
tasks don't have severity, is this a bug?

[2018-03-12 15:00] ldimaggi commented on #2544
Not yet - still investigating - removed bug label.

[2018-03-12 15:01] andrewazores opened #2545 "Pod Deployment Status"
Parent: #287

# Description

As a user, I want to be able to see the status of pods in my deployments, and to be able to see issues that could potentially block the scaling of my pods.

# Relationships

- https://github.com/openshiftio/openshift.io/issues/2086

- https://github.com/openshiftio/openshift.io/issues/1658

# Acceptance Criteria

- [x] When my deployment has no issues, I should see an

[2018-03-12 16:49] krishnapaparaju opened #2546 "500 error while retrieving spaces"
<img width="1427" alt="screen shot 2018-03-12 at 10 16 55 pm" src="https://user-images.githubusercontent.com/15967765/37297302-4e512ff6-2643-11e8-866a-1cc57ae14704.png">
<img width="1241" alt="screen shot 2018-03-12 at 10 16 41 pm" src="https://user-images.githubusercontent.com/15967765/37297307-57123ed2-2643-11e8-8667-8252c11571ce.png">

[2018-03-12 17:04] andrewazores commented on #2546
Looks like a probable duplicate of https://github.com/openshiftio/openshift.io/issues/2360

[2018-03-12 17:08] ibuziuk commented on #1870
in terms of che server, it is quite easy to obtain the status via `api/system/state` endpoint which is not secured by keycloak. However, probably it would be better to use `cheState` [1] endpoint provided by wit (under the hood it calls che-starter which would call `api/system/state` )

[1]  https://github.com/fabric8-services/fabric8-wit/blob/master/design/codebases.go#L245

[2018-03-12 17:16] alexeykazakov commented on #2534
Removed team/auth and added team/platform for investigation.

[2018-03-12 17:37] jiekang commented on #2543
I feel like the chart UX should be changed to where the Y max is auto and the quota is another line in the line chart by being another set of X points. This would also give users an indication of when things scaled in the last 15 minutes and resolve this issue. Thoughts?

[2018-03-12 17:45] jiekang commented on #2543
Might need some changes in the backend to support the above though.

[2018-03-12 18:16] andrewazores commented on #2543
Yea, that could work too, but it might be awkward that this makes the (relatively stable) quota as prominent and visible as the actual usage trend. It might be too much visual noise. Something worthwhile to ask designers anyway.

[2018-03-12 18:16] #2521 closed

[2018-03-12 18:27] catrobson commented on #346
New account homepage designs:  https://redhat.invisionapp.com/share/E9FH915D3U7

[2018-03-12 18:28] catrobson commented on #2032
Space dashboard designs for H Train: https://redhat.invisionapp.com/share/DQFLCG4G9YK
(Focus on bringing in slightly more informational displays and aligning with visual design for other high level pages like account dashboard and user profile)

[2018-03-12 18:52] jfchevrette commented on #2381
With the recent fixes I am not able to reproduce this anymore.

[2018-03-12 19:00] #2363 closed

[2018-03-12 19:03] joshuawilson commented on #2527
@jiekang this looks like something for @chmouel and the build team.

[2018-03-12 19:19] joshuawilson commented on #2546
@krishnapaparaju what are the steps to reproduce this?

[2018-03-12 19:21] joshuawilson commented on #1870
@ibuziuk is this something you can do?
@andrewazores can you help if needed?
cc @catrobson

[2018-03-12 19:23] #2471 closed

[2018-03-12 19:26] andrewazores commented on #1870
@joshuawilson yes, I'll have time for it coming up

[2018-03-12 20:53] jfchevrette commented on #2381
A permanent fix has been deployed upstream to adress this. Basically now our provisioning user will have permissions at the cluster level to update quotas, limits, etc... instead of relying on a separate async process to do this.

I've done some testing and were not able to reproduce this.

[2018-03-12 21:04] andrewazores commented on #2542
Note: to reproduce this, the deployment must first have running pods and have had time to load stat and quota data. Then the deployment must be scaled down to 0 pods. Once the scale to 0 is complete the above state can be observed.

[2018-03-12 21:11] aslakknutsen opened #2547 "Investigate using PUT (or PATCH) instead of DELETE/POST for ResourceQuota/LimitRanges for Tenant.Init"
In an attempt to remove cluster scoped role create/delete ResourceQuota/LimitRanges and only rely on update role, investigate how Tenant Init cold use PUT/PATCH instead of DELETE/POST REST APIs.

[2018-03-12 21:15] aslakknutsen commented on #2381
The fix seems ok as far I can see atm as well.

Follow up task:
* https://github.com/openshiftio/openshift.io/issues/2547
* Manually update users that failed to provision over the last couple of days

[2018-03-12 21:22] abhgupta commented on #2547
Please include rolebindingrestriction resources as well within the scope of this issue.

[2018-03-12 21:27] aslakknutsen commented on #2547
@abhgupta We do create our own RoleBindingRestrictions tho, not just edit...?

[2018-03-12 21:42] abhgupta commented on #2547
@aslakknutsen Alright, as part of this review/revisit, I'd like to see what is being created and whether that can be folded into one of the existing rolebindingrestriction resources.

[2018-03-12 21:57] aslakknutsen commented on #2547
@abhgupta Right. Added. I just remember we never quite got the RBR's to work as 'assumed' when we tried last year. Whatever we got now is kinda whatever we got working last time. So definitely reviewable. :)

[2018-03-12 21:58] gastaldi commented on #2531
@edewit I still don't see the Vert.x icon, are you sure this is the right fix?

[2018-03-12 22:02] abhgupta commented on #2547
@aslakknutsen rolebindingrestrictions are definitely less of a concern from a security standpoint or the standpoint of accidentally breaking the cluster. But still, something worth reviewing.

[2018-03-13 00:05] mishaone commented on #2536
I don't have the permissions to assign any labels to issues in this repo, AFAIK.

[2018-03-13 00:17] mindreeper2420 opened #2548 "Codebases Page Fails to Load if GitHub Repo Removed"
If a user removes a GitHub repo from GitHub before removing said repo link from OpenShift.io, the Codebases page fails to load any repos (even valid ones).

**Space Dashboard w/a List of Codebases**
<img width="1920" alt="screen shot 2018-03-12 at 8 15 46 pm" src="https://user-images.githubusercontent.com/4032718/37315861-3dc24960-2632-11e8-9ebe-c4773db7ce09.png">

**Create/Codebases Empty Page w/

[2018-03-13 01:36] joshuawilson commented on #2548
@jiekang or @andrewazores do either of you have time to look at this?

[2018-03-13 01:54] ldimaggi commented on #2399
My thinking for the structure of the tests follows - and, by the way, I think that we should start to consider and refer to these tests not as E2E tests but as Booster-OSIO tests as the primary goal of the tests is to verify the operation of the Boosters in the context of OSIO.

Each Booster will be verified by the same basis set of tests. We may additionally create Booster-specific tests as neede

[2018-03-13 02:04] ldimaggi commented on #2544
Seeing a series of these errors:

[code]

[2018-03-13 02:44] ldimaggi opened #2549 "Vert.X icons missing on prod-preview"
This is only an issue on prod-preview:

![screenshot from 2018-03-12 22-42-58](https://user-images.githubusercontent.com/642621/37319775-dc21a24a-2646-11e8-8b7e-66d9a3e10b31.png)

[2018-03-13 02:57] ldimaggi opened #2550 "Jenkins pods failing to start on prod-preview"
Seeing this for the past hour or so - after an env reset:

![screenshot from 2018-03-12 22-55-19](https://user-images.githubusercontent.com/642621/37320128-a69af110-2648-11e8-8a79-38b725b43df8.png)

Not an issue in production.

[2018-03-13 03:05] joshuawilson commented on #2549
Closing as a duplicate of #2531

[2018-03-13 03:05] #2549 closed

[2018-03-13 06:33] jaseemabid commented on #2534
Update: Works on the old 2 cluster, not on the newer 2a cluster.

[2018-03-13 07:14] edewit commented on #2531
@gastaldi don't know what is wrong was it deployed? Don't see my changes on prod preview

[2018-03-13 07:27] msrb commented on #2219
@tuxdna Looks like multiple different issues here. But we want to fix them all, of course :)

[2018-03-13 07:38] msrb commented on #2535
Sentry docs here: https://docs.sentry.io/clients/python/

[2018-03-13 07:58] maxandersen commented on #1933
just to check - this error *only* occurs on GKE jenkins, correct ?

its not happening when running locally nor when running builds in cico ?

[2018-03-13 09:02] chmouel commented on #2347
Is there anything else that needs to be done on this task, or we are happy that there is nothing more we can do ?

[2018-03-13 09:03] chmouel commented on #2350
@lordofthejars would you have an update for us here?

[2018-03-13 09:13] lordofthejars commented on #2350
About this no idea, now I am just working on updating plugins for Jenkins since after we removed some of them, then we have some failures at boot up, so checking what's happening there. This is going to be hard to know why it takes so many time on this.

[2018-03-13 09:14] lordofthejars commented on #2347
Yes there are more things to do, it is not as easy as just remove plugins, because now we are getting some failures, so we need to figure out why they are happening and fix it. Currently, after talking with @rupalibehera we decided to update to latest Blue Ocean.

[2018-03-13 09:35] chmouel commented on #2347
Okay thanks, can we please make sure we capture the updates (i.e: those failures) and offline discussion on this issue? Since this is valuabe information we want to keep for proposperity

[2018-03-13 09:41] chmouel commented on #2350
I guess we can close this issue then and come back to it if needed:
*  jenkins is getting the list of updates
* jenkins doesn't do any update
* in between the download there is something (networking or others) that takes times which is hard to know what's going on,

[2018-03-13 09:41] #2350 closed

[2018-03-13 09:54] ppitonak commented on #2399
1. As you wrote in your description, Setup and Teardown are not test cases but setup/tear down tasks.
2. It's unnecessary to list login and logout  in every test case, see ^
3. What I'm missing most is the fact that these type of tests should not depend on production environment. We should think about how to test booster+one OSIO component outside of prod/prod-preview environment.

[2018-03-13 09:54] maxandersen commented on #1933
is this a duplicate of https://github.com/openshiftio/openshift.io/issues/2235 - can one be closed over the other ?

[2018-03-13 09:55] qodfathr opened #2551 "Build pipelines no longer animated"
None of my running pipeline builds are showing the 'sliding blue line' animation to indicate the currently processing  stage. When I observe the pipeline directly in OSO, the animation is working properly.

[2018-03-13 10:02] krishnapaparaju commented on #2505
@pbergene @chmouel missed out this GitHub issue, look into this and update this issue..

[2018-03-13 11:26] pmacik commented on #2399
@ppitonak That (3) would be very tricky since OSIO is an integration of many components KC, RHD, Auth etc. Our goal is to test the integration of boosters into OSIO. In order to test it all outside prod/prod-preview one would need to re-create the whole setup (and/or mock some components) which would be impractical.
@ldimaggi WDYT?

[2018-03-13 12:14] hrishin commented on #2505
### Status Update

1. _Users would have to update their pom.xml  to use `3.5.38` (going to be released) version of f-m-p:_
Work for updating boosters templates is in progress. Submitted the [PR](https://github.com/openshiftio/booster-parent/pull/26) to update f-m-p version in one place.  we need to update [this](https://github.com/openshiftio/booster-parent/pull/26) change references across all bo

[2018-03-13 12:53] animuk commented on #2505
Vertx Boosters
 HTTP Booster - PR Merged
 Health check Booster - already updated to version 20 for launcher-parent

Springboot

 HTTP Booster - already updated to version 20 for launcher-parent
 Health check Booster - already updated to version 20 for launcher-parent

Wildfly swarm boosters

 Http Booster - already a part of another PR for updating the version 20 for launcher-parent
 Health check

[2018-03-13 12:55] andrewazores commented on #2548
@joshuawilson I can take a look

[2018-03-13 13:03] #2541 closed

[2018-03-13 13:08] jiekang opened #2552 "Fix fabric8-ui compilation error in my-spaces.component.spec.ts"
[code]

The tests added for `my-spaces.component` don't compile. In fact, the code that it's testing is also very hacky.

In `myspaces.component.ts:restorePins` there is

[code]

This is a loop over `Space` objects, which are treated as type `any` so that `showPin` can be set, as this property is not defined in the `Space` interface. The test could be updated to use type `any`, disregarding types

[2018-03-13 13:08] jiekang commented on #2552
@aptmac would you have time to take a look at this?

[2018-03-13 13:13] jiekang opened #2553 "Fix fabric8-ui compilation error in app-launcher-project-progress.service.ts"
Compilation fails with:

[code]

It looks like the version of forge was updated and the interface was changed.

Does Forge follow some kind of versioning like semantic versioning [1] where version updates that include breaking changes are clearly defined? When we update through a breaking change version of some dependency, it would be best to also include any fixes at the same time.

[1] https://s

[2018-03-13 13:14] jiekang commented on #2553
@joshuawilson would you be able to triage this? I'm not sure on the labels and who would be working in the area.

[2018-03-13 13:17] corinnekrych opened #2554 "Feature flag dedicated page when user-enablement is not allowing feature display"
Related to [Display feature-flagged component](https://github.com/openshiftio/openshift.io/issues/2056) User story.

Make all module dynamic loaded only if feature level is enabled for this user.

[2018-03-13 13:20] terrafoundry opened #2555 "Import of disabled-private repositories fails"
I know what you're thinking, it's working as intended right?

There's no problem with an import failing, though it does fail with 'object object' in a dialogue box.

There's a problem with the fact the import box doesn't suggest a repository is disabled, allowing you to attempt an import anyway.

Recreate:

Have a disabled private repository on GitHub.

Go to Add to space -> Import existing code -

[2018-03-13 13:40] joshuawilson commented on #2555
@terrafoundry thanks for writing it out. There are several points here.
1) we do not yet support private repos but plan to
2) we are still working on better reporting that is easier to understand

While both of those issues are known, I am not aware of anyone trying a disable private repo. Thanks for bringing that to our attention.

[2018-03-13 13:59] aptmac commented on #2552
@jiekang Ah, thanks for catching this. In the code, if the `showPins` attribute isn't present, then it gets appended to the profile. In my IDE, I was silencing these errors that were being brought up by lint by using a ts-ignore comment [0], and that unit test in particular was written to verify that `showPins` is undefined before calling `restorePins()`, and defined afterwards. This also happens

[2018-03-13 14:04] jiekang commented on #2553
Relevant PR: https://github.com/fabric8-ui/fabric8-ui/pull/2621

[2018-03-13 14:05] joshuawilson commented on #2531
I'm going to guess that you didn't use the semantic commit syntax. Also, while you have the freedom to review and merge in fabric8-ui, you may still want to let someone else review it.

[2018-03-13 14:05] joshuawilson commented on #2531
There have been other commits merged, please see if you can see your change now?

[2018-03-13 14:24] miteshvp opened #2556 "Booster fails to build (CI) with rolebindings authorization error"
Affected boosters:
- [ ] VertX configmap
- [ ] SpringBoot configmap
- [ ] WF Swarm HTTP

When launching mvn build command from OSIO (openshift.io) Che Terminal or create a PR to trigger CI build, it fails with rolebindings authorization error - [Full Stacktrace](https://gist.github.com/spicemit/e65f2920a40191ae9ed0b48d052f3dcb)

#### Steps Performed for Che Terminal
1. fork the repo https://github

[2018-03-13 14:25] miteshvp commented on #2556
Still need to figure out team label. Will update once I know correct assignee.

[2018-03-13 14:29] miteshvp opened #2557 "vertex configmap booster fails to do mvn deploy from che terminal"
Steps Performed
1. oc login https://api.starter-us-east-2.openshift.com --token=yourtoken
2. oc project <user-namespace>
3. git clone https://github.com/openshiftio-vertx-boosters/vertx-configmap-booster
4. cd vertex-config-booster
5. oc policy add-role-to-user view -n $(oc project -q) -z default (failed because of permission issues)`Error from server (Forbidden): the server does not allow access

[2018-03-13 14:33] miteshvp opened #2558 "Boosters in OSIO - failures and gaps"
### Description
As an OSIO user, I should be able to select quickstart applications from pre-defined boosters, build and deploy successfully onto my OSO namespace.

#### Acceptance Criteria
- Boosters available OSIO Launcher
- Able to select a booster and trigger a build
- Able to Commit, Push changes to trigger a build
- Able to invoke unit tests from Che Terminal
- Able to build using `mvn clean

[2018-03-13 14:34] miteshvp commented on #2557
Will assign correct team label once I know who should be assigned this task.

[2018-03-13 14:36] jiekang commented on #2552
@aptmac in Typescript, you can't add attributes to an object of some Type; it will be a compilation error. The `Space` interface from ngx-fabric8-wit does not define `showPins`. You can bypass this by taking a `Space` object and typing it as `any`, and then setting the attribute, since it's valid Javascript. However, this is disregarding types which is the whole point of Typescript.

Your unit tes

[2018-03-13 14:47] ldimaggi commented on #1790
Raising to SEV2 as this is having an adverse effect on automated tests.

[2018-03-13 15:17] miteshvp opened #2559 "vertex configmap booster junit tests from che terminal shows empty tests"
When I try to execute JUnit tests from che terminal for vertex configmap booster, it displays the message `Test suite is empty.`

Steps Performed
1. Import github repo in user space
2. Open che workspace
3. Right click on project name and click `Run JUnit Test`
4. It displays the message `Test suite is empty.`

[2018-03-13 15:17] ldimaggi commented on #2558
Just to confirm and set the context for this issue - the full set of Boosters to which this issue refers is:

* HTTP: Vertx, Springboot, WildflySwarm
* HealthCheck: Vertx, Springboot, WildflySwarm
* ConfigMap: Vertx, Springboot, WildflySwarm

Is this correct? Thanks!

[2018-03-13 15:18] miteshvp commented on #2559
Will add team label after confirmation

[2018-03-13 15:22] miteshvp commented on #2558
@ldimaggi - I have just tested on Vertx Configmap and not any others. I will keep this issue updated if I am able to replicate the same behaviors for other boosters

[2018-03-13 15:22] corinnekrych opened #2560 "[spike] investigate ngrx for fabric8-ui"
Relate to [UI refactor performance](https://github.com/openshiftio/openshift.io/issues/2500) user story.
# Description
Evaluate how to use ngrx in `fabric8-ui`.
# Tasks
- [x] write UI architecture design, how to add new store
- [x] review planner PR on ngrx [Refactored planner with Redux technology with (ngrx/store and ngrx/effects)](https://github.com/fabric8-ui/fabric8-planner/pull/2482) and lin

[2018-03-13 15:24] jiekang commented on #2553
Looks like this may be addressed in: https://github.com/fabric8-ui/fabric8-ui/pull/2615

[2018-03-13 15:30] joshuawilson commented on #2553
Thanks for writing it up and connecting the dots. Let's see if the fixes will set this right.

[2018-03-13 15:35] jiekang commented on #2552
Closing as this has been fixed with the above merge.

[2018-03-13 15:35] #2552 closed

[2018-03-13 16:13] joshuawilson commented on #2558
@miteshvp this reads like a `user-story`. `support` is for someone asking for help using the system, is that your intent?

[2018-03-13 16:26] ldimaggi commented on #2559
Do the tests run if you first perform:   mvn install   ?

[2018-03-13 16:30] gastaldi commented on #2407
@alexeykazakov @ldimaggi any 401 errors shown in the Wizard (before Finish is clicked) are returned by calls to either https://api.openshift.io/api/user or https://auth.openshift.io/api/user services

[2018-03-13 16:51] joshuawilson commented on #2551
@mindreeper2420 do you know why this would stop working?

[2018-03-13 17:09] sanbornsen commented on #2468
This issue is fixed in following PR  - https://github.com/fabric8-ui/fabric8-planner/pull/2488

[2018-03-13 17:25] mindreeper2420 commented on #2551
@joshuawilson I do not. From what I can see, the classes are still in the file under runtime-console, but I can't make much of it beyond that.

[2018-03-13 17:39] sunilk747 commented on #2399
IMO it would be better to create userspace for a booster once and use it for further testing. Creating userspace for each test would be time taking and kind of redundant.
@ldimaggi @pmacik What are your opinions on this.

[2018-03-13 17:55] jpopelka commented on #2149
Both `STAGE-bayesian-core-data` and `prod-bayesian-core-data` have been purged, closing.

[2018-03-13 17:55] #2149 closed

[2018-03-13 17:59] kbsingh commented on #2457
ping @chmouel @pradeepto can we get this moving and deployed ? the condition this fix's is being reported by the users being onboarded at this time

[2018-03-13 18:05] gastaldi commented on #2407
Sorry, what is not accurate exactly? The errors returned by the tenant service? I agree, it should be more intuitive

[2018-03-13 18:06] chmouel commented on #2457
I have already asked that same question to you this morning :

![image](https://user-images.githubusercontent.com/98980/37360603-0eb2e278-26f1-11e8-9612-66c5d0c79104.png)

We have the fix ready but to deploy it there is something to do on the SD side (see conversation above with aslak)  to a cluster wide update,

[2018-03-13 18:11] alexeykazakov commented on #2407
The statement that 401 shown in Wizard can come only from https://api.openshift.io/api/user or https://auth.openshift.io/api/user services is not accurate.

[2018-03-13 18:13] ldimaggi commented on #2407
Is there some way tp reset/reprovision the account?

[2018-03-13 18:20] gastaldi commented on #2407
Sorry again, but why is that not accurate? You just showed us that the
tenant service is returning 401, or am I missing something?

On Mar 13, 2018 15:11, "Alexey Kazakov" <notifications@github.com> wrote:

The statement that 401 shown in Wizard can come only from
https://api.openshift.io/api/user or https://auth.openshift.io/api/user
services is not accurate.

—
You are receiving this because you

[2018-03-13 18:26] alexeykazakov commented on #2407
Tenant service failed. This what I said. But https://api.openshift.io/api/user returned 200 OK because there is no any Auth issues with this account.
I guess this is the OSO Proxy which returned 401 (came from OSO) to the wizard because the user was not provisioned correctly (see the tenant error).
You are realizing that Tenant, Auth, WIT and OSO Proxy are different services, right? :)

[2018-03-13 18:32] gastaldi commented on #2407
I thought that Tenant and WIT were the same services. Thanks for the
clarification :)

On Mar 13, 2018 15:26, "Alexey Kazakov" <notifications@github.com> wrote:

Tenant service failed. This what I said. But https://api.openshift.io/api/
user returned 200 OK because there is no any Auth issues with this account.
I guess this is the OSO Proxy which returned 401 (came from OSO) to the
wizard because

[2018-03-13 18:48] kbsingh commented on #2457
SD does not own any content, the build team is responsible for getting this shipped out guys. Do you need to speak with the platform team around the tenant space perhaps ?

[2018-03-13 18:58] joshuawilson commented on #2551
@jiekang is it possible that something got missed when things were cleaned up in the runtime-console?

[2018-03-13 19:19] jiekang commented on #2551
I just checked the pipeline animation in OSO and I do not recall ever seeing that in OSIO, even prior to the removal of the runtime-console. I will investigate further.

[2018-03-13 19:39] jiekang commented on #2551
I tested a revert of the runtime console removal and I don't see the animations either. I'll ask others to try reproducing and move from there.

[2018-03-13 19:56] joshuawilson commented on #2551
I know I've seen it but I don't remember how long ago it was.

[2018-03-13 23:46] ldimaggi commented on #2556
This problem is not unique to the Vert.x configmap booster - I am seeing with also with the Springboot boosters.

[2018-03-14 00:01] ldimaggi opened #2561 "Error seen: space label missing from deployment config for application (imported booster) - not reproducible"
Create new space
Import boosters - for this test I imported the SpringBoot HTTP/REST booster
Navigate to the pipelines page
Navigate to account home page - observe the error displayed:
[code]

[2018-03-14 01:39] ldimaggi commented on #2544
The pattern is consistent:

Build log:

``
EXITCODE   0[ERROR] F8: Failed to execute the build [Unable to build the image using the OpenShift build service]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 11:09 min
[INFO] Finished at: 2018-03-14T01

[2018-03-14 01:47] ldimaggi commented on #2561
Have not been able to reproduce this bug yet.

[2018-03-14 03:15] sthaha commented on #2505
@hrishin

seems to point to an issue rather than a PR

[2018-03-14 03:35] hrishin commented on #2505
seems to point to an issue rather than a PR

@sthaha
updated the comment :+1:
PR: https://github.com/fabric8io/fabric8-pipeline-library/pull/392

[2018-03-14 04:48] gastaldi commented on #2556
The launcher team is still working on making the configmap boosters work in OSIO, that's the reason they are not in the OSIO booster list.

This is the issue that references it: https://github.com/fabric8-launcher/launcher-planning/issues/119

[2018-03-14 05:06] miteshvp opened #2562 "Manual: Configmap fails to be applied in user's stage and run environments"
Affected boosters:

- [ ] VertX ConfigMap

- [ ] SpringBoot ConfigMap

- [ ] WF Swarm ConfigMap

When I try to manual apply configmap for vertx boosters, it fails with following error
<img width="1152" alt="image" src="https://user-images.githubusercontent.com/17736013/37384026-56ec2d5c-2772-11e8-9322-09da79913ef8.png">

Steps Performed
1. In OSIO space, import Github repo and select the pipeline

[2018-03-14 05:10] miteshvp commented on #2558
@joshuawilson - thanks for the clarification. I have modified the type for now, but I still don't know the correct label here. Will talk to @krishnapaparaju and identify the correct ones.

[2018-03-14 05:57] invincibleJai commented on #2377
https://github.com/fabric8io/kubernetes-client/issues/1019

We need to have a validation in client side for the project name. This should resolve it.

[2018-03-14 06:10] nimishamukherjee commented on #2436
@SMahil please work with @sunilmalagi on this.

[2018-03-14 06:32] nimishamukherjee commented on #2452
When any entry is clicked on the side panel, the transient filters need to get cleared.

[2018-03-14 06:33] hrishin commented on #2457
Merged the relevant PR https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/74

@aslakknutsen could you please let us know how we can ship the new release of [fabric8-tenant-jenkins](https://github.com/fabric8-services/fabric8-tenant-jenkins) to prod?
I guess some CI job should update the [JENKINS_VERSION](https://github.com/fabric8-services/fabric8-tenant/blob/master/JENKINS_VERSION#L1

[2018-03-14 06:39] nimishamukherjee commented on #2469
Let us discuss this in Planner Cabal

[2018-03-14 06:51] eivantsov commented on #2557
@miteshvp I think you will see the same behavior when doing it from your local terminal.  Is `oc policy add-role-to-user view` supposed to work for a non admin user?

[2018-03-14 06:51] nimishamukherjee commented on #2532
Let us discuss this in Cabal.

[2018-03-14 06:56] brizrobbo opened #2563 "could not find tenant in Jenkins namespace error on initial provisioning"
First time user. My account was recently provisioned in the last few days.

When following [3.2. Confirming Che and Jenkins status](3.2. Confirming Che and Jenkins status) of the [OpenShift.io Getting Started Guide](https://docs.openshift.io/getting-started-guide.html#creating_che_workspace-hello-world), my Jenkins status showed as "ready" (green tick).

However, when I went in to https://jenkins.

[2018-03-14 07:08] hrishin commented on #2457
### Status update

A new version of fabric8-tenant-jenkins is available: [v4.0.62](https://github.com/fabric8-services/fabric8-tenant/blob/master/JENKINS_VERSION#L1) in [fabric8-tenant](https://github.com/fabric8-services/fabric8-tenant) repo.

[2018-03-14 07:17] rupalibehera commented on #2457
@hrishin we are done from our side the changes would reflect to prod after tenant wide update which SD team will handle or someone who does the tenant wide update.

[2018-03-14 08:00] miteshvp opened #2564 "Booster configmaps should be applied automatically as part of deployment"
Affected Boosters:
- [ ] Vertx ConfigMap
- [ ] Springboot ConfigMap
- [ ] WF Swarm ConfigMap

When trying to access a deployed configmap booster, it shows following error
<img width="1157" alt="image" src="https://user-images.githubusercontent.com/17736013/37389808-b2e3dd44-278b-11e8-9ca6-20919e156c0d.png">

Further debugging shows no configmaps applied in the stage and run environment.

[2018-03-14 08:07] nimishamukherjee opened #2565 "fabric8-ui builds are failing"
Impact: fabric8-planner PRs cannot be merged as we cannot run the integrated UI

Fix - https://github.com/fabric8-ui/fabric8-ui/pull/2615 needs to get merged.

[2018-03-14 08:15] chmouel commented on #2505
@sthaha  @animuk can we link all the GH issues that fix the boosters here ?

[2018-03-14 08:15] corinnekrych commented on #2465
fixed with https://github.com/fabric8-services/fabric8-toggles/pull/24

[2018-03-14 08:15] #2465 closed

[2018-03-14 08:16] arunkumars08 commented on #2565
This PR has the fix that takes care of the build - https://github.com/fabric8-ui/fabric8-ui/pull/2634

Currently, just the fix from the PR - https://github.com/fabric8-ui/fabric8-ui/pull/2615 has been moved to a new PR to unblock the flow.

@nimishamukherjee

[2018-03-14 08:16] arunkumars08 commented on #2565
Once the build goes through for the new PR, it will be merged in.

[2018-03-14 08:17] nimishamukherjee commented on #2565
Thanks @arunkumars08

[2018-03-14 08:19] chmouel commented on #2245
@sthaha I was wondering if you had an update on this?

[2018-03-14 08:46] tuxdna commented on #2219
Also need to fix this issue:

- [ ]  https://github.com/fabric8-analytics/fabric8-analytics-data-model/issues/122

[2018-03-14 08:48] miteshvp commented on #2557
@eivantsov - I was trying to follow the steps based on https://appdev.openshift.io/docs/vertx-runtime.html#mission-configmap-vertx and see if a user can successfully deploy an app from OSIO che terminal.

[2018-03-14 09:06] vikram-raj commented on #2438
Fixed in this PR https://github.com/fabric8-ui/fabric8-planner/pull/2491

[2018-03-14 09:07] vikram-raj commented on #2445
Fixed in this PR: https://github.com/fabric8-ui/fabric8-planner/pull/2497

[2018-03-14 09:29] animuk commented on #2505
As per Hrishikesh, Vertx and Spring Boot is working fine with updated version. Only wildfly-swarm dont have updated fmp version ie. booster-parent version is still 10, instead of latest version 20. we are checking this.

[2018-03-14 09:47] animuk commented on #2505
As per @Ladicek 's comments, Wildfly swarm boosters are not updated till now. they are working for it.

[2018-03-14 09:54] sthaha commented on #2245
@chmouel no, I only made minor progress with enabling the timestamp but then this task is still in "Backlog" and there was another one that was in progress which got assigned to me - #2403 so started work on that.

[2018-03-14 10:14] animuk commented on #2439
Started scalability testing with 6pods

[2018-03-14 10:23] tuxdna commented on #2535
@GeetikaBatra You my want to follow these steps to configure sentry for local development: https://github.com/fabric8-analytics/fabric8-analytics-deployment/issues/21#issuecomment-372972232

[2018-03-14 10:25] pmacik commented on #2399
@sunilk747 Creating a userspace is not done for each test. It is done just once for the whole suite in the "Test case: Setup" and re-used for the rest of the tests.

[2018-03-14 10:28] nimishamukherjee commented on #2565
https://github.com/fabric8-ui/fabric8-ui/pull/2634 merged.

Planner PRs are working now https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8-ui%2Ffabric8-planner/detail/PR-2487/5/pipeline/

Closing this issue.

[2018-03-14 10:28] #2565 closed

[2018-03-14 10:38] kbsingh commented on #2457
Can i request the team to then open a new issue, assign it to the platform team ( since they own tenant interface service ), mark it as a SEV2 to get a cluster upgrade done. When you have that issue, please link to it here. Once the work is done to get the cluster upgrades, please verify and close this issue as fixed, pushed.

[2018-03-14 11:33] #2530 closed

[2018-03-14 11:48] vikram-raj commented on #2432
Fixed in this PR: https://github.com/fabric8-ui/fabric8-planner/pull/2488. @rgarg1 Can you please verify?

[2018-03-14 11:59] tuxdna commented on #2219
Another blocker:

- [ ] https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/570

[2018-03-14 12:11] krishnapaparaju commented on #2485
@CermakM  can you please share the approach for retrieving the project name ? Which ecosystems being considered for this work ?

[2018-03-14 12:16] hrishin commented on #2505
Now wildfly swarm also has updated FMP v3.5.28. It's in projects pom.xml only.

### Status Update
All 6 booster templates have updated with FMP v.3.5.28.

[2018-03-14 12:48] tsaxon13 commented on #2563
I am also having this experience. My account was set up yesterday. I am getting:
`{"Errors":[{"code":"500","detail":"could not find tenant tony.saxon@gmail.com Jenkins namespace"}]}`
I tried resetting my environment and updating my tenant and logging out and logging back in but no change.

[2018-03-14 13:09] gastaldi commented on #2558
@miteshvp the Configmap boosters do not work yet in OSIO, that's why it is not listed in the UI. We're working on it: https://github.com/fabric8-launcher/launcher-planning/issues/119

[2018-03-14 13:23] rupalibehera opened #2566 "Cluster wide tenant wide update to Jenkins version 4.0.62"
To get the changes related to https://github.com/openshiftio/openshift.io/issues/2457 (Jenkins slave should use a known good/local maven mirror) to all our tenants, we need to do a tenant wide update. Here is the commit id for the same https://github.com/fabric8-services/fabric8-tenant/commit/13feec276ce4b604c44bb43c9265d5659ddd9985

Let me know if we need any more details for the same. cc: @aknut

[2018-03-14 13:28] catrobson commented on #2109
Completed flow can be found here: https://redhat.invisionapp.com/share/PYG7IRFXZQD
Screen designs for OpenShift.io website are still being reviewed and finalized before implementation.

[2018-03-14 13:49] miteshvp commented on #2558
@gastaldi - noted. I am trying to collate all the problems across boosters so that it becomes easier to manage.

[2018-03-14 14:33] sara-02 commented on #2530
![screenshot from 2018-03-14 20-02-39](https://user-images.githubusercontent.com/7047079/37408738-ba3ec824-27c2-11e8-87e2-be87959b3ce9.png)

[2018-03-14 14:38] pkettman opened #2567 "New planner work items are not opened with "Add and Open" button applied"
I've added a new work item in Planner with "Add and Open" button. The item was created but not opened as expected, instead an empty page and following errors in the browser console was displayed:
![newwi](https://user-images.githubusercontent.com/26871874/37408966-822c6646-279d-11e8-9810-f0d77db47734.png)

[2018-03-14 14:43] pbergene commented on #2381
Reducing this to Sev-2 - please let me know if we should raise it again

[2018-03-14 14:52] pmacik opened #2568 "Integration Test for Booster support: Setup"
# Test case: Setup
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [x] Reset the user environment
- [x] Create a space
- [x] Create a new booster app
- [x] Create Che workspace

[2018-03-14 14:54] catrobson commented on #1975
This issue is no longer occurring in OSIO today.

It is possible for this issue to come back up based on how developers write code into the UI.  We still need to address this so that the issue will not reoccur in the future.

[2018-03-14 15:03] pkettman opened #2569 "Clicking on a blue icon next to a work item leads to a blank page"
When I click a blue icon next to a work item, I get to a blank page with a "XMLHttpRequest cannot load ..." message in the browser console, see pictures below. This scenario is from Chrome, on Firefox clicking on the icon is without any action.

![wi-icon](https://user-images.githubusercontent.com/26871874/37410587-3e0f2f12-27a1-11e8-93a2-d209577d4eee.png)

![wi-click2](https://user-images.githubu

[2018-03-14 15:04] vikram-raj commented on #2506
This issue has been fixed in PR: https://github.com/fabric8-ui/fabric8-planner/pull/2500

[2018-03-14 15:06] hhovsepy commented on #2567
It crashes also when clicking on "View full details" link of any work item.

![screenshot from 2018-03-14 16-05-12](https://user-images.githubusercontent.com/604313/37410735-839a0ebc-27a1-11e8-821c-b1601d0fd0fd.png)

[2018-03-14 15:06] pmacik opened #2570 "Integration Test for Booster support: Access project in OSO"
# Test case: Access project in OSO
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
 - [x] Open Openshift Console from OSIO
 - [x] Copy Login Command (under username right-hand side)
 - [x] Open Che workspace
 - [x] Check the success of importing github contents by opening a manifest file (`pom.xml`)
 - [x] Paste

[2018-03-14 15:09] pmacik opened #2571 "Integration Test for Booster support: Pipeline"
# Test case: Pipeline
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [x] Verify the completion of the build pipeline and deployment to stage and run.
- [x] Verify successful operation of the deployed booster endpoints at stage and run.

[2018-03-14 15:12] pmacik opened #2572 "Integration Test for Booster support: Triggers the CD Build (Jenkins)"
# Test case: Triggers the CD Build (Jenkins)
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

Commit and push the project source code to git repo - verify rebuild, redeploy

## Steps after login:
- [ ] Modify source code.
- [ ] Create PR.
- [ ] Verify redeployment to stage and run.
- [ ] Verify changes are deployed.

[2018-03-14 15:14] pmacik opened #2573 "Integration Test for Booster support: Check for Stack/Analytic reports"
# Test case: Check for Stack/Analytic reports
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [ ] Verify that build completion creates stack report.
- [ ] Verify report contents by comparing to expected results.

[2018-03-14 15:16] pmacik opened #2574 "Integration Test for Booster support: Build the project using Maven in the Che terminal window"
# Test case: Build the project using Maven in the Che terminal window
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [x] Open Che workspace.
- [x] Execute `mvn clean install -Popenshift,openshift-it` command in Che terminal window.

[2018-03-14 15:18] bartoszmajsak commented on #2574
If you want to build with all tests executed you have to invoke a build `mvn clean install -Popenshift,openshift-it`.

[2018-03-14 15:20] pmacik opened #2575 "Integration Test for Booster support: Verify that the preview URL provided in the Che terminal is correct and can be accessed"
# Test case: Verify that the preview URL provided in the Che terminal is correct and can be accessed
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [ ] Open Che workspace.
- [ ] Execute:
[code]
  in the Che Terminal.
- [ ] Verify URL generated endpoint is reachable.
- [ ] Verify that the deployed Booster funct

[2018-03-14 15:21] joshuawilson commented on #2573
@pmacik please don't assign anyone to an issue. You can assign yourself if you have started working on it. If you do then update the Milestone to the current Sprint.
If you want to make sure someone knows about an issue just @ mention there here.

[2018-03-14 15:22] jeffmaury opened #2576 "[Che] Can't push commit in amend mode"
I followed the workshop but when I commited I forgot the select the push option. Then I reran the git commit command and as nothing changed, the UI proposed the amend mode but I can't select the push option then

[2018-03-14 15:24] pmacik opened #2577 "Integration Test for Booster support: Run the project from the Che menu"
# Test case: Run the project from the Che menu
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [ ] Open Che workspace.
- [ ] Run the Booster from the `Run` menu in Che.
- [ ] Verify results.

[2018-03-14 15:25] pmacik opened #2578 "Integration Test for Booster support: Debug the project from the Che menu"
# Test case: Debug the project from the Che menu
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [ ] Open Che workspace.
- [ ] Debug the Booster from the `Debug` menu in Che.
  - [ ] Open a booster source file
  - [ ] Add a break point
  - [ ] Run `Debug` from menu until stopped at the break point
- [ ] Verify

[2018-03-14 15:27] pmacik opened #2579 "Integration Test for Booster support: Run the project's Junit tests from the Che menu"
# Test case: Run the project's Junit tests from the Che menu
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [x] Open Che workspace.
- [x] Run the Booster Junit tests from the `Run` menu in Che.
- [x] Verify results.

[2018-03-14 15:29] pmacik opened #2580 "Integration Test for Booster support: Modify the project source code in Che - verify rebuild, redeploy"
# Test case: Modify the project source code in Che - verify rebuild, redeploy
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [x] Open Che workspace.
- [x] Edit source code.
- [x] Verify rebuild and redeploy.
- [x] Verify redeployment to stage and run.
- [x] Verify changes are deployed.

[2018-03-14 15:30] pmacik opened #2581 "Integration Test for Booster support: Clean up"
# Test case: Clean up
A test case for the https://github.com/openshiftio/openshift.io/issues/2399#issuecomment-372520115 test suite.

## Steps after login:
- [x] Reset user environment.
- [x] Verify environment is cleaned.

[2018-03-14 15:34] joshuawilson commented on #1975
@dgutride once we get the Observables fixes so that others can't break the UI then we can close this.

[2018-03-14 15:40] pkettman opened #2582 "Planner work items trees are not properly shown"
I created at least 3 level work items trees for several Scenarios, Experiences and Requirements and selected "Show tree" option. Then I went over these 3 categories and the behaviour was following: a) for Requirements there are all WI levels shown, b) for Experiences there are only 2 levels displayed c) for Scenarios there is no tree shown. I had to manualy unfold each tree.

Expected behaviour: A

[2018-03-14 15:43] hhovsepy opened #2583 "Work Items in Iteration are lost after refresh"
In a Backlog, check any of iterations.
Add new work items, Task or Feature. They are shown after save.
![screenshot from 2018-03-14 16-40-17](https://user-images.githubusercontent.com/604313/37413157-ae4f54d2-27a6-11e8-9398-59901b34a795.png)

Refresh the page, it will keep selected the iteration, but work items are gone.
![screenshot from 2018-03-14 16-40-46](https://user-images.githubusercontent.

[2018-03-14 16:02] gastaldi commented on #2531
I see the icons now, they are a bit strechted, but it is there.

![screenshot from 2018-03-14 13-01-30](https://user-images.githubusercontent.com/54133/37414460-ea710d26-2787-11e8-9353-9c83643c834e.png)

Closing this issue

[2018-03-14 16:02] #2531 closed

[2018-03-14 16:42] alexeykazakov commented on #2348
Stage 1.

- [ ] Create "How to get provisioned on preview to use prod cluster" dev guide doc for developers.
- [ ] Do not create/provision preview OSO accounts in prod OSIO/Auth if they were provisioned for preview env. No account sharing between prod and preview.
- [ ] Switch the default cluster in Auth preview to east-2a (update CM in Auth)
- [ ] Clean up free-stg tenant namespaces in both free-

[2018-03-14 16:45] CermakM commented on #2485
@krishnapaparaju sure thing,
This approach is not ecosystem specific, since it is based on project name extraction from CPE description only, without using any external search engines.

In [the notebook](https://nbviewer.jupyter.org/github/CermakM/nvdlib/blob/descriptions/cve-desrciption-cracker.ipynb) you can see a suggestion of the approach that could greatly improve our current approach (also a

[2018-03-14 16:47] mmclanerh opened #2584 "[prod-preview] Cluster specific URLs in configurations"
In order to facilitate seamless planned and unplanned cluster fail-over scenarios, we need to make use of non-cluster specific url references (non-generated hostnames) for public routes and cascade these references into configs (env vars, secrets, configmaps..).  We need to have the ability to quickly update DNS during a fail-over without additional host name changes for routes.

An example of how

[2018-03-14 16:56] #2520 closed

[2018-03-14 16:58] andrewazores commented on #2561
Isn't this the same as https://github.com/openshiftio/openshift.io/issues/2360 ?

[2018-03-14 17:09] andrewazores opened #2585 "DeploymentsService "Environment" type can be replaced with string"
Parent: #2630

The `Environment` interface specifies only a `name: string` property, so all instances of this type can be flattened to the single property. This was initially implemented due to uncertainty about environment names vs IDs, but this is settled and stable now so there is no need for the type.

[2018-03-14 17:11] andrewazores opened #2586 "DeploymentsService function parameter orders are inconsistent"
Parent: #2630

Some functions have param lists `spaceId: string, applicationId: string, environmentName: string` and others `spaceId: string, environmentName: string, applicationId: string`. The order and naming should be made consistent across all functions in the class.

[2018-03-14 18:04] RickJWagner opened #2587 "New Che Workspace requests login (even though I'm already in)"
Starting OSIO Test day scenario:
1)  New project
2)  Pick a template (Springboot / HTTP)
3)  From project front-page, navigate to 'Create' and choose to make a new workspace.

(Result, after signing in again:  All seems normal, Che project looks good.)

![image](https://user-images.githubusercontent.com/524520/37421888-3172bbc0-2788-11e8-8365-ee739e49bf24.png)

[2018-03-14 18:11] RickJWagner opened #2588 "'Add' button seems to do nothing, other non-intuitive behaviors"
OSIO Test day scenario:

- Within new project, use planner and add some Iterations.
- Try to add a new Scenario, 'S1'.
- Attempting to finish the action by hitting 'Add' button results in no discernible action.

![image](https://user-images.githubusercontent.com/524520/37422453-233d1086-2789-11e8-8218-099e68ada732.png)

[2018-03-14 18:12] RickJWagner commented on #2588
Note:  A moment later (after I filled out the comment above) the 'Add' buttons disappeared and I was given the choice to 'Log in'.
Note that my Iterations are still present.

![image](https://user-images.githubusercontent.com/524520/37422561-61475d0a-2789-11e8-9275-99573959ec79.png)

[2018-03-14 18:15] RickJWagner commented on #2588
Following above, chose to Log in (again).  The next view shows no 'Recent Spaces', though it does show the new project ('osiotestday') in 'Recent Active Pipelines'.

![image](https://user-images.githubusercontent.com/524520/37422701-d0455784-2789-11e8-949d-d1d6b6668f5a.png)

[2018-03-14 18:20] nickboldt opened #2589 "Automatically update tenant if Jenkins doesn't start"
Solution to 'jenkins won't start' is Profile > Update Profile > Update Tenant > wait 2 mins.

But why does this need to be a human-manual process? Couldn't the same code that detects Jenkins hasn't started (and displays a helpful red X) could also simply update your tenant behind the scenes, saving users the need to dig into their Profile?

Or, if that's not a good solution, how about making the r

[2018-03-14 18:29] nickboldt opened #2590 "Github repo browser filter doesn't work... until you enable it?"
From a space ( https://openshift.io/kleinhenz-1/osio-planner ) I tried to import some code from github.com/nickboldt and wanted to find the p2 projects I have (p2-browser or p2diff).

I tried to type in the filter field above the project list. NOTHING HAPPENED.

![import-codebase-filter-doesnt-work](https://user-images.githubusercontent.com/227597/37423328-f03c590c-2793-11e8-8091-8524e0393575.png)

[2018-03-14 18:30] RickJWagner opened #2591 "Associating a Feature with an Iteration seems to do nothing"
OSIO Test day scenario.
1)  Make a bunch of Scenarios, Experiences, etc.
2)  Edit one of the Features. Assign it (works).  Associate it with an Iteration.

Note in the screenshots below that the Feature is associated with /osio_testday/I3/I3.5, but nothing shows up when viewing that iteration.  I'd expect to see the Feature there.

![image](https://user-images.githubusercontent.com/524520/37423396

[2018-03-14 18:30] sbose78 commented on #2589
The plan is to eventually `update tenant` for all users whenever an update is available.

[2018-03-14 18:36] jfchevrette commented on #2566
The tenant update has completed. Jenkins is running version 4.0.62

[2018-03-14 18:43] hrishin commented on #2566
thanks, @jfchevrette!

[2018-03-14 18:43] #2566 closed

[2018-03-14 18:47] nickboldt opened #2592 "Clicking OK after importing your own source code leaves you stuck in the Add Codebase Application Wizard, with no Codebase added, only a Pipeline"
From a space ( https://openshift.io/kleinhenz-1/osio-planner ) I tried to import some code from github.com/nickboldt and wanted to find the p2 projects I have (p2-browser or p2diff).

After picking some code to import (I picked github.com/nickboldt/p2-browser the first time, then github.com/nickboldt/p2diff the second time), I kept clicking OK to pick defaults...

![import-01](https://user-images.

[2018-03-14 18:50] nickboldt commented on #2592
Additionally, when I click on the p2-browser link next to the 'in progress' icon...

![pipelines 01](https://user-images.githubusercontent.com/227597/37424513-ff5b9ff8-2796-11e8-9efa-791079546647.png)

I get a 404 with ninjas and https://openshift.io/_error ... but then a couple minutes later the link works.

[2018-03-14 18:54] nickboldt commented on #2592
oh, and one more thing... the imported projects both fail to build... one because for no apparent reason the job decided to bump my poms from 1.0.1-SNAPSHOT to 1.0.1 (and didn't do the same for MANIFEST.MF and feature.xml files) so a version mismatch occurs with Tycho and the build fails.

In the other, it failed because it couldn't find the pom to build.

So... since the codebase isn't being impo

[2018-03-14 19:01] jiekang commented on #2553
Closing as it looks like it was fixed via: https://github.com/fabric8-ui/fabric8-ui/pull/2634

[2018-03-14 19:01] #2553 closed

[2018-03-14 19:01] ldimaggi commented on #2587
Rick - are you able to recreate this issue? Can you confirm that you were logged in at the start of the sequence? I cannot recreate this problem myself. Thx!

[2018-03-14 19:23] #2542 closed

[2018-03-14 19:25] nickboldt opened #2593 "No error or feedback when browsing a readonly space's Planner and trying to add items"
When I'm in https://openshift.io/kleinhenz-1/osio-planner 's planner, I can see lots of requirements:

![view-of-requirements-in-readonly-space](https://user-images.githubusercontent.com/227597/37425953-8f76b6c8-279b-11e8-9424-b8ee24a34729.png)

-- https://openshift.io/kleinhenz-1/osio-planner/plan?q=(space:a3753a02-53a9-4f5c-8b5d-1ee1c7539752%20$AND%20$WITGROUP:Requirements)

When I try to add a

[2018-03-14 19:26] GeorgeActon opened #2594 "Error 404 when trying to view build in openshift console (March 14 Testing)"
Reset my environment
Ran the scenario  "Hello World for Developers"
In step 4.5

I clicked on Build #1 to  view build in the OpenShift console

got
404: Have you seen this page? Probably not.

closed tab
clicked on the same link in pipeline again ... same result (multiple times)
use browser refresh on the pipelines screen
clicked on same link
OpenShift console opened

[2018-03-14 19:29] petra-sargent opened #2595 "Getting Started Doc: Application Wizard window needs updating"
Section 4.2 Creating a new project
Step 2c The screenshot has the organization field but that field is not available

[2018-03-14 19:33] jiekang commented on #2586
I'd prefer hierarchical order from the top: spaceId -> environmentName -> applicationId

[2018-03-14 19:34] cassiussa opened #2596 "Pipelines Report Inaccurate Times"
Going through the helloworldvertx demo for beta, I'm seeing some pretty inaccurate times for the Jenkins pipeline status.

See attached image.
![screen shot 2018-03-14 at 3 31 46 pm](https://user-images.githubusercontent.com/16277810/37426507-1154938a-279d-11e8-9292-d784539ae319.png)

[2018-03-14 19:35] jiekang opened #2597 "Review Deployments API and remove unused APIs"
Parent: #2636

The deployments page is in a stable position and barring UX overhauls, uses a stable set of APIs. The API [1] should be reviewed and any unused endpoints should be removed.

[1] https://github.com/fabric8-services/fabric8-wit/blob/master/design/deployments.go

[2018-03-14 19:38] nickboldt opened #2598 "When switching between Scenarios, Experiences, and Requirements, the right-hand detail panel does NOT refresh to show the latest"
1. Open a scenario. Select it.

![image](https://user-images.githubusercontent.com/227597/37426654-86ef9554-279d-11e8-9087-453a4ed7837e.png)

2. Now move to Experiences. Note that the right-hand detail panel still shows the same scenario:

![image](https://user-images.githubusercontent.com/227597/37426703-a7c46c1e-279d-11e8-8318-660cf249376c.png)

Why is this bad? well, an unsuspecting user could

[2018-03-14 19:43] nickboldt opened #2599 "No autosave when switching between work items"
1. Open a scenario. Select it.

![image](https://user-images.githubusercontent.com/227597/37426654-86ef9554-279d-11e8-9087-453a4ed7837e.png)

2. Now add some commments or descriptions. DO NOT SAVE.

![image](https://user-images.githubusercontent.com/227597/37426911-1eb5db14-279e-11e8-8572-a2badbb9c7a5.png)

3. get distracted by a text message, phone call, IM ping, etc. Forget what you're doing.

4

[2018-03-14 19:48] RickJWagner opened #2600 "Build Pipeline won't talk to un-idled Jenkins"
I built a new workspace, I think at a time Jenkins was idled.  (I didn't look first.)
After my project was established, a build would never start.  Looking at the $USER-jenkins space,I saw Jenkins was idled and manually re-started the pod.
The build still will not start, even if manually requested.
Screenshots below.

1 - The build view.  'No stages have started'.

![image](https://user-images.git

[2018-03-14 19:54] ldimaggi commented on #2596
Can you provide more details here - what is not accurate? The difference in time from the build summary to the individual build steps is related to the time that was required for the Jenkins pod to start. Thx!

[2018-03-14 19:59] aptmac commented on #2458
After a bit of digging, here's what I was able to find.

When visiting the home screen, I had 2 requests to user, 4 requests to users, and 2 requests to a filtered users query. The requests go in pairs, first an OPTIONS request is made, and is followed immediately by it's associated GET or PATCH.
![duplicate-calls](https://user-images.githubusercontent.com/10425301/37426844-149d378a-279e-11e8-9418

[2018-03-14 20:03] RickJWagner opened #2601 "Jenkins pod log contains WARN message"
Checking up on the Jenkins pod log (waiting for a build to start) there is a WARN message.
Please debug/explain/take some action to remove from the log.

![image](https://user-images.githubusercontent.com/524520/37427929-bfccc004-2798-11e8-9313-c3d2c4349b8d.png)

[2018-03-14 20:04] RickJWagner commented on #2601
Text version:

INFO: Obtained the updated data file for hudson.plugins.gradle.GradleInstaller
--
  | Mar 14, 2018 7:54:12 PM hudson.XmlFile replaceIfNotAtTopLevel
  | WARNING: JENKINS-45892: reference to jenkins.branch.OrganizationFolder@19b6aa1[rickjwagner] being saved from unexpected /var/lib/jenkins/jobs/rickjwagner/computation/computation.xml
  | java.lang.IllegalStateException
  | at hudson.X

[2018-03-14 20:18] ldimaggi commented on #2594
George - can you include the text of the URL (that led to the 404 error) presented in the build? Thx!

[2018-03-14 20:19] GeorgeActon opened #2602 "In Planner Backlog View - the kabob on right is not visible"
All of the other action are on the left
the kabob would be more useful/obvious if it was on the left as well

By having it on the right, it is invisible to the user.

<img width="1106" alt="screen shot 2018-03-14 at 4 04 18 pm" src="https://user-images.githubusercontent.com/19672343/37428668-6331764a-27a3-11e8-960f-4c64f3218806.png">

[2018-03-14 20:25] GeorgeActon opened #2603 "Experience under a Scenario should have an obvious sort order"
<img width="1106" alt="screen shot 2018-03-14 at 4 04 18 pm" src="https://user-images.githubusercontent.com/19672343/37428918-1cebff2e-27a4-11e8-8578-280217c095db.png">

The sort order seems to be random.

Sort by order of creation, or by Title would be preferable

[2018-03-14 20:28] GeorgeActon opened #2604 "Filter lists should be sorted"
<img width="530" alt="screen shot 2018-03-14 at 4 28 17 pm" src="https://user-images.githubusercontent.com/19672343/37429090-baed1b0e-27a4-11e8-9124-c19962d50518.png">

work item type selection list should be sorted.

[2018-03-14 20:35] ldimaggi commented on #2561
Closing as a dup of #2360

[2018-03-14 20:35] #2561 closed

[2018-03-14 21:16] nickboldt commented on #2602
Is a kabob what you get when you rotate an elipsis through 90 degrees?

[2018-03-14 21:24] nickboldt opened #2605 "Ninjas appear when adding codebase, when I expected an import wizard"
Tried to add a codebase while stack analysis was in progress by clicking the (+) icon on the Codebases panel:

![image](https://user-images.githubusercontent.com/227597/37431601-152cdc7e-27ac-11e8-9ad5-1937f748a0e3.png)

Rather than seeing the import wizard, I got this:

![image](https://user-images.githubusercontent.com/227597/37431645-2f0bca56-27ac-11e8-8eb4-2a1bc863978f.png)

If I close the rig

[2018-03-14 21:49] nickboldt opened #2606 "Usability: Create Pipeline Wizard's error messages appear below the fold"
I'm trying to attach a pipeline to an existing codebase in my space.

Codebase was imported from https://github.com/nickboldt/p2-browser and generated a Jenkinsfile for me. I then added a Che workspace to edit the code, but have no way to run it (because no pipeline was created).

And as noted in https://github.com/openshiftio/openshift.io/issues/2592 ... this project won't import as a pipeline by

[2018-03-14 21:55] nickboldt opened #2607 "Can't rename a pipeline"
I'm trying to attach a pipeline to an existing codebase in my space.

Codebase was imported from https://github.com/nickboldt/p2-browser and generated a Jenkinsfile for me. I then added a Che workspace to edit the code, but have no way to run it (because no pipeline was created).

And as noted in https://github.com/openshiftio/openshift.io/issues/2592 ... this project won't import as a pipeline by

[2018-03-14 22:46] joshuawilson commented on #2563
@chmouel @hferentschik does this have to do with jenkins idler?
cc @aslakknutsen @kbsingh

[2018-03-14 23:12] aslakknutsen commented on #2563
This sounds very much like https://github.com/openshiftio/openshift.io/issues/2381

We've been having some issues with the provisioning over the last couple of weeks. The fix is in place for new users, but we still have some accounts that were provisioned in that period that needs some manual fixing. (I know @tsaxon13 is on my list)

[2018-03-14 23:19] aslakknutsen commented on #2563
@tsaxon13 You should be ok now. Sorry for the inconvenience

[2018-03-15 00:08] jfchevrette opened #2608 "Lots of config errors on jenkins startup"
Yesterday an update to OpenShift went in to the the latest CVEs [1]. That update made secrets and configmaps mounts go read-only.

Presumably on startup jenkins tries to update the files mounted from configmap before it copies it to /var/lib/jenkins. That doesn't work anymore. The file from the configmap mount should be copied elsewhere and updated there.

[1] kubernetes/kubernetes#60814

[code]

[2018-03-15 00:22] dgolovin opened #2609 "What is the purpose of second anonymous column on 'My Spaces' page?"
`My Space`' page looks like:
![image](https://user-images.githubusercontent.com/620330/37437456-97a782e6-27aa-11e8-939a-1bfd7ba5531f.png)

As you can see second column has no name and always show my avatar/email. I am already on 'My Spaces' page and every line basically repeating my info.

[2018-03-15 00:36] cassiussa commented on #2596
Hi,

Sorry I didn't specify.  In the image, it shows that the Approve Stage is 25350931m 45s in length.  The Rollout to Stage also initially displayed a similar value but then fixed itself after a minute or so.

[2018-03-15 00:40] ldimaggi commented on #2596
Closing as a dup of #1378

[2018-03-15 00:40] #2596 closed

[2018-03-15 00:54] dgolovin opened #2610 "Space Collaborators page allows to call delete action on space owner"
Collaborators page for space shows `Remove from space` menu for space owner
![image](https://user-images.githubusercontent.com/620330/37438568-9b1371d2-27b0-11e8-8109-7f9043fc6046.png)
When `Remove from space` item selected it show warning dialog
![image](https://user-images.githubusercontent.com/620330/37438577-b4f64ea8-27b0-11e8-8aad-480ca6f7149a.png)
But remove button does nothing.

[2018-03-15 01:19] brizrobbo opened #2611 "Maven run command not configured as per section 4.12 of Getting Started Guide"
_[Was previously an issue in [fabric8io/fabric8-online-docs](https://github.com/fabric8io/fabric8-online-docs/issues/204), but now migrated to product]_

In [Section 4.12. Configuring your Che workspace](https://docs.openshift.io/getting-started-guide.html#configuring_your_che_workspace-hello-world) of the [OpenShift.io Getting Started Guide](https://docs.openshift.io/getting-started-guide.html#cr

[2018-03-15 01:22] joshuawilson commented on #2611
cc @gorkem @l0rd

[2018-03-15 01:25] #2554 closed

[2018-03-15 01:44] ldimaggi commented on #2611
Criag - did you see this after importing a repo into OSIO?

[2018-03-15 01:48] alexeykazakov commented on #2609
It's not your email. It's your username (which happens to be the same as your email). But in general I agree. It looks a bit weird.

[2018-03-15 01:52] alexeykazakov commented on #2610
Yeah.. because our backend won't allow you to remove the space owner :) UI should be fixed though.

[2018-03-15 01:57] brizrobbo commented on #2611
@ldimaggi Yes. I originally created the helloworldvertx repo as per the guide, but was having some issues with Jenkins. To resolve the Jenkins issues, I reset my environment. The second time around, as the helloworldvertx repo was already created, I just imported instead of creating a new one.

[2018-03-15 02:21] kbsingh commented on #2608
we do need to get this done, but might not be a SEV1 - i think it needs a bit more of a deep dive from build team to scope up.

[2018-03-15 02:24] kbsingh opened #2612 "Jenkins moves plugins on every startup"
Every time Jenkins boots, either due to new-init for user, or un-idle or pod relocation for infra work or on user demand, it will move 400+ MB of data to /var/lib/jenkins/plugins - if this is anything other than a new-init, Jenkins first removes each of the plugins, one at a time, and then replaces the exact same content into place.

/var/lib/jenkins/ is mounted as a pvc

We should not be moving t

[2018-03-15 02:25] kbsingh commented on #2612
adding @jfchevrette and @mmclanerh here to track

[2018-03-15 02:34] adisakala commented on #2612
@pradeepto @stevengutz please prioritize this accordingly.

[2018-03-15 02:43] dgolovin opened #2613 "Space Collaborators page `View User` action navigates to my personal profile instead of selected user"
On Cpace Collaborators page if I select 'View User' action (se below):
![image](https://user-images.githubusercontent.com/620330/37441578-5dd59322-27bf-11e8-9cec-a7105e95e978.png)
It navigates me to page below which is my profile page. The email in left upper corner is shown for selected user.
![image](https://user-images.githubusercontent.com/620330/37441624-9b686b7e-27bf-11e8-9b49-5cd1966e3983.p

[2018-03-15 03:06] vikram-raj commented on #2533
This has been fixed in PR https://github.com/fabric8-ui/fabric8-planner/pull/2501

[2018-03-15 03:06] alexeykazakov commented on #2613
It's not your email. It's your username. Some old developers.redhat.com accounts have username == email :(
But we have a bigger problem here. If you are logged in and open any profile page for any user you will see your own profile.
Try open https://openshift.io/alexeykazakov for example.

[2018-03-15 03:07] alexeykazakov commented on #2613
@rohitkrai03 could you please take a look at this.

[2018-03-15 04:01] joshuawilson commented on #2595
cc @rkratky

[2018-03-15 04:09] dgolovin commented on #2613
@alexeykazakov good catch :) I can confirm I see my profile when I opened yours and now I have your user name listed among my spaces.

[2018-03-15 04:12] joshuawilson commented on #2609
@catrobson do you have an answer for this?

[2018-03-15 04:20] joshuawilson commented on #2612
Is this really blocking production or is it a Critical-Dependency?

[2018-03-15 04:22] dgolovin opened #2614 "Validation message in 'New Space' gets on and off as I type name"
![onoff](https://user-images.githubusercontent.com/620330/37444304-053446be-27ce-11e8-9775-142cf1b399aa.gif)

[2018-03-15 04:39] dgolovin opened #2615 "There is no way to navigate back to Space home page form Codebases page"
Space 'Home page' below let you navigate to other sub-pages, but not all of them provides UI element to navigate back to space 'Home page'.
![image](https://user-images.githubusercontent.com/620330/37444650-f58aecc0-27cf-11e8-8522-c03eb932bfa8.png)
The only way back form Codebases page below is browser's 'Back' button.
![image](https://user-images.githubusercontent.com/620330/37444665-0e1d9f58-27d

[2018-03-15 04:40] miteshvp commented on #2575
@pmacik - I have just edited the contents to reflect correct command to be executed.

[2018-03-15 04:41] miteshvp commented on #2574
+1 @bartoszmajsak
@pmacik - I have modified the contents to correct the command that needs to be executed.

[2018-03-15 04:57] rgarg1 commented on #2446
Cannot reproduce the defect with https://fabric8-ui-fabric8-ui-pr-2488-fabric8-planner.badger.fabric8.io

[2018-03-15 05:03] rgarg1 commented on #2468
Cannot reproduce this issue with https://fabric8-ui-fabric8-ui-pr-2488-fabric8-planner.badger.fabric8.io

[2018-03-15 05:05] rgarg1 commented on #2432
Cannot reproduce this issue with https://fabric8-ui-fabric8-ui-pr-2488-fabric8-planner.badger.fabric8.io

[2018-03-15 05:12] #1995 closed

[2018-03-15 05:30] dgolovin opened #2616 "Import Existing Code wizard fails after quick pressing 'Next' and then 'Back' buttons"
The result is in animated gif below.
![download](https://user-images.githubusercontent.com/620330/37445780-14738960-27d7-11e8-9f87-8922fa7d555d.gif)
Progress is always running and even closing and reopening the wizard does not help. Full page refresh resets wizard to normal state.

[2018-03-15 05:36] invincibleJai opened #2617 "VSCODE Extension tasks"
### User Story:
As a VSCode user, I will be able to see stack reports for ` package.json`, feature for multi workspace support, change suggested version for CVEs with a click.

### Acceptance Criteria:
VSCode user, should be able to see stack reports for ` package.json`, get support for multi workspace, should be able change suggested version for CVEs with a click.

##### Task list
- [ ] - Code Ac

[2018-03-15 05:50] dgolovin opened #2618 "Autofocus input fields in wizards after opening"
Would be good to put focus on first input field after opening dialogs or activating features required input. Examples are:
1. New Space dialog
2. Add code base

Every time after opening the dialog I have to do extra click to input field to start typing.

[2018-03-15 05:52] dgolovin commented on #2616
Same problem with Quickstarts, it looks like generic problem with wizard itself.

[2018-03-15 05:53] joshuawilson commented on #2615
`account home` is in the context menu on the upper left. But as this is not obvious to you, we should have UX take a look at it.
@catrobson

[2018-03-15 05:55] joshuawilson commented on #2617
Please set the `type`

[2018-03-15 05:55] hrishin commented on #2457
For VertX HTTP booster it took
[code]
Jenkins Version: 4.0.62, Cluster: starter-us-east-2
Jenkins logs: https://pastebin.com/DMrbtcQz

[2018-03-15 05:56] joshuawilson commented on #2614
closing as duplicate

[2018-03-15 05:56] #2614 closed

[2018-03-15 06:02] dgolovin opened #2619 "Validation does not disable 'Next' button in Application Wizard"
After deleting version and selection 'Group Id' field validation message appears, but 'Next' button still enabled:
![image](https://user-images.githubusercontent.com/620330/37446689-75400a80-27db-11e8-828f-d4c1e0f7ecc5.png)
If 'Next' button pressed wizard shows empty step
![image](https://user-images.githubusercontent.com/620330/37446752-bfbcc7b0-27db-11e8-9d9e-dba80aecf237.png)

[2018-03-15 06:56] dgolovin opened #2620 "'Create Work Item' pressed in small window navigates to 'Choose new work item type' page with the same scrolling position"
... that makes all work items almost invisible.
To replicate, make Space dashboard page smaller (see screenshot below)
![image](https://user-images.githubusercontent.com/620330/37448203-94ea08d4-27e2-11e8-9ed1-7897aec5590f.png)
Press 'New Working Item' and get the page on screenshot below:
![image](https://user-images.githubusercontent.com/620330/37448344-2a900ac8-27e3-11e8-946d-7297aded3414.png)

[2018-03-15 07:09] sthaha commented on #2470
@lordofthejars does the PR https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/151 also address this issue?

[2018-03-15 07:10] lordofthejars commented on #2347
https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/151

[2018-03-15 07:22] pradeepto commented on #2457
@hrishin So can we close this?

[2018-03-15 07:27] divyanshiGupta commented on #2537
@Raunak1203 @nimishamukherjee this issue is present in prod as well.

[2018-03-15 07:29] rohitkrai03 commented on #2613
@alexeykazakov Looking into it.

[2018-03-15 08:07] hrishin commented on #2522
@krishnapaparaju could you provide more updates, please?

[2018-03-15 08:14] l0rd commented on #2611
@brizrobbo if I understand your scenario this is a duplicate of https://github.com/openshiftio/openshift.io/issues/2358. Unfortunately we don't pre-configure commands when you import an existing github repo yet.

[2018-03-15 08:14] hrishin commented on #2457
@pradeepto its good to close now.
cc: @kbsingh @jfchevrette @rupalibehera

[2018-03-15 08:14] #2457 closed

[2018-03-15 08:17] hrishin commented on #2314
### Update

Closing: Jenkins slave should use a known good/local maven mirror
Issue #2457  is showing a significant reduction in build time.

[2018-03-15 08:42] rupalibehera commented on #2612
@kbsingh this is something started happening today itself ? like moving 400+ MB of data to /var/lib/jenkins/plugin everytime ? just curious how did we found this out ?

[2018-03-15 08:51] msrb opened #2621 "[1] Lock versions of dependencies in data-importer"
# Description

We don't lock versions of dependencies that we use in [data-importer](https://github.com/fabric8-analytics/fabric8-analytics-data-model/). That could be a problem as two builds (for example PR build and subsequent master branch build) can end up using different set of dependencies, builds can break if newer version of a dependency changes API and so on.

data-importer should follow

[2018-03-15 08:54] rkratky opened #2622 "404 page has three identical links"
The 404 page (https://openshift.io/_error):

![osio404](https://user-images.githubusercontent.com/6623103/37452943-77ced690-2836-11e8-960c-16b07944b4f0.png)

contains three links:

- Take me home (button)
- Spaces
- My Dashboard

All three links lead to https://openshift.io/_home

[2018-03-15 08:57] chmouel commented on #2522
Let's close this and reopen if it's happen again,

[2018-03-15 09:06] rkratky opened #2623 "Logo linked in notif. emails doesn't exist"
Notification emails include some logo, but the file doesn't seem to exist:

![osioemail](https://user-images.githubusercontent.com/6623103/37453579-63536512-2838-11e8-9e80-40a718ebf199.png)

File URL: https://openshift.io/_openshiftio/assets/images/openshift_logo_black.png

[2018-03-15 09:13] pmacik commented on #2574
@bartoszmajsak @miteshvp Thanks!

[2018-03-15 09:13] pmacik commented on #2575
@miteshvp Thanks!

[2018-03-15 09:18] #2455 closed

[2018-03-15 09:23] jaseemabid commented on #2384
@jfchevrette I'm starting to look into this and I could use some help understanding this.

1. Where is this configured/code? Where can I read a bit more about this?
2. Does this imply this is happening on the new 2a cluster with gluster backed storage?

Nothing I know of, but I'll take a look and comment here if any.

[2018-03-15 09:23] hrishin commented on #2505
### Status Update

Following tasks are completed

- [x] Fix bug in FMP :
- [x] Release FMP : v3.5.38
- [x] Update qucikstart templates : 6 boosters applications

_Now user can deploy the application changes for fresh deployments in openshift.io._

Remaining task is
- [ ] Patch existing users application for upgrading FMP to v3.5.38  either by
- Sending an issue report to users by mattermost/email

[2018-03-15 09:32] msrb commented on #2621
And while on it, we should also introduce a separate `requirements.txt` file for dev/testing dependencies.

[2018-03-15 09:39] sunilmalagi commented on #2436
Here is the visuals for both

With Filters:
https://redhat.invisionapp.com/share/86FXSEWJ42P#/280309524_SaveFilter_01

Without Filters:
https://redhat.invisionapp.com/share/NVEWGDU4W#/268692030_Scenarios_01

[2018-03-15 10:01] jaseemabid commented on #2384
These are the volumes I see when I run 2 concurrent builds. Which of them will cause issues when shared?

![volumes](https://user-images.githubusercontent.com/601714/37456642-de1dd836-2865-11e8-97b6-cf5eb1be4b0e.png)

[2018-03-15 10:11] bartoszmajsak commented on #2574
@joshuawilson @ldimaggi does it really belong to `team/test`?

[2018-03-15 10:12] chmouel commented on #2612
@joshuawilson I think this is Critical-Dependency, I think we really need to have a tag called Critical-Performance which make more sense for a lot of issues we have been working on (and can be treated as such for us)

[2018-03-15 10:31] chmouel commented on #2608
added to our backlog, @pradeepto feel free to prioritize,

[2018-03-15 10:32] aslakknutsen commented on #1790
You can normally get to the 'other login' by clicking the top right 'login' button.

[2018-03-15 11:12] jaseemabid commented on #2384
Among the few volumes I found at the [jenkins dc](https://github.com/fabric8-services/fabric8-tenant-jenkins/blob/eeca24d9874760dd4472b394cc8ef33b5b1fb770/apps/jenkins/src/main/fabric8/openshift-deployment.yml), this is the only volume that's mounted in a rw mode (I'm assuming the default is read only). Is this the one that cannot be shared?

[code]

[2018-03-15 11:15] lordofthejars commented on #2612
@kbsingh I am trying to figure out what's happening here, for what I understand at the end everything is related in https://github.com/fabric8-services/fabric8-tenant-jenkins/blob/eeca24d9874760dd4472b394cc8ef33b5b1fb770/apps/jenkins/src/main/fabric8/openshift-deployment.yml#L88

When you say creating a symbolic link, of course this symbolic link should be created in the start script, my question

[2018-03-15 11:18] pmacik opened #2624 "[Set Up Application] at the end of the ngx launcher in prod-preview fails"
Using a new Launcher in prod-preview to create a new booster application ends up with:

[code]

When `Set Up Application` button at the end of the wizard is clicked after all the steps are completed, including connecting a github account and selecting an organization.

[2018-03-15 11:36] pmacik commented on #2624
Probably caused by https://github.com/fabric8-launcher/launcher-planning/issues/131

[2018-03-15 11:54] kbsingh commented on #2612
that is right, the /var/lib/jenkins comes from a PVC. What happens is that a plugins dir is created under there and the plugins from the container are copied out to the PVC, repeatedly. What specific info can I help you track down ?

[2018-03-15 12:19] jaseemabid commented on #2403
@sthaha I've updated the title and description. This is not a blocker anymore, just something wrong related to deployments.

[2018-03-15 12:20] stevengutz commented on #1790
@pradeepto this one has been lingering since Jan 5th.  Not that there isn't already enough on your plate, but after we get some of the immediate SD issues under control can we get a body on this one?

[2018-03-15 12:22] ldimaggi commented on #1790
It's annoying for a human user to use the 'other login' path to be able to (mostly) login and then find the jenkins build log. It's much more difficult to code this path into an automated test.  Thx!

[2018-03-15 12:28] catrobson commented on #2609
We will be showing spaces that you own, as well as spaces that you collaborate in, which would have a different username next to it, which will hopefully help with why this information is shown.  This is also meant to scale for when we have organizations associated with spaces so we can show the organization name.  @dlabrecq can you validate for me whether we are currently showing spaces that I am

[2018-03-15 12:34] catrobson commented on #2615
Getting back to the Space Homepage is actually something you would click "Analyze" to do.  I agree it is not terribly obvious today that I would find this under Analyze - we'll consider this into our navigation design effort.

[2018-03-15 12:42] tsaxon13 commented on #2563
@aslakknutsen All good now. Thanks!

[2018-03-15 12:45] catrobson opened #2625 "User Profile and Settings UI to reflect new UX"
The user profile area has been a mix of profile, dashboard, and user settings information.  In an effort to separate these concerns and put them into logical places in the information architecture, the UX team has an updated user profile page design to include just user profile information and work items.  All settings have been moved to a new "Settings" page.

https://redhat.invisionapp.com/share

[2018-03-15 12:47] catrobson commented on #2625
@joshuawilson The new UI Designs are captured here.  I think we need to change both User Profile and User Settings as one development effort so we don't have loss of functionality as we move to this new model.

[2018-03-15 12:56] kbsingh commented on #2314
does #2612 belong here ?

[2018-03-15 12:56] vasulakkaraju commented on #1761
Here is the PR for the same https://github.com/fabric8-analytics/fabric8-analytics-server/pull/286

[2018-03-15 13:49] stevengutz commented on #2608
@chmouel Let's assume this is high priority (probably #3 in our current list of issues).  It's not really breaking anything but it is polluting log files at a time when SD needs them to be concise to diagnose real issues.

[2018-03-15 13:56] sthaha commented on #2505
@hrishin

Is that needed? wouldn't patching the pom.xml fix the issue?

[2018-03-15 14:00] joshuawilson commented on #2574
@bartoszmajsak I don't think it is. Next time just remove your team.
This looks like something @gastaldi and the Launch team own since they own the boosters/quickstarts.

[2018-03-15 14:04] gastaldi commented on #2574
@ldimaggi do your e2e tests do that already?

[2018-03-15 14:05] pbergene commented on #2505
@sthaha that would fix the issue for any users that are new on the service or do a fresh quickstart, but not for those who have the pom.xml in their repositories already.

[2018-03-15 14:24] jpopelka commented on #2343
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1546

[2018-03-15 14:30] sthaha commented on #2505
@pbergene by patching the pom.xml I meant what the commit does here - https://github.com/hrishin/fabric8-pipeline-library/commit/07a8e134e7a0f225054a2ad2235a3bba97d69ffc which actually replaces the value in pom.xml with the latest version of f-m-p before running `mvn` which IIUC is sufficient to solve the issue.

[2018-03-15 14:49] corinnekrych opened #2626 "[4] Reduce the number of API calls for feature-flag"
Parent: https://github.com/openshiftio/openshift.io/issues/1165
# Description
As a user of OSiO, I want the app to perform. We want to make sure we reduce the number of API calls for feature-flag.
# Tasks
- [ ] spike: investigate browser cache for getFeatures([]) - todo corinne/xavier
- [ ] cache: getFeature('featurename') `cache-control` on header to stay this request is valid for 30mins, `last-m

[2018-03-15 14:54] pbergene commented on #2505
@sthaha OIC, sed to the rescue. I am reducing this to a Sev-2

[2018-03-15 14:57] andrewazores commented on #2545
Closing. There is still related future work to be done from https://github.com/openshiftio/openshift.io/issues/2086 , but that's out of the current scope for this issue.

[2018-03-15 14:57] #2545 closed

[2018-03-15 15:10] dlabrecq commented on #2609
That is the intention; however, we don't have an API that shows the spaces a user is a collaborator in. Right now, it only shows the user's spaces.

[2018-03-15 15:19] joshuawilson commented on #2625
I agree. We should also try to use Feature Flags.

[2018-03-15 15:19] joshuawilson commented on #2625
cc @chrislessard

[2018-03-15 15:22] ldimaggi commented on #2427
When this issue was originally logged, the problem was only seen on the starter-us-east-2a cluster.

On March 14 and 15, George Acton and I started seeing it on the starter-us-east-2 cluster. The problem is only being seen randomly/intermittently. When it occurs, the pattern is consistent with that described in this issue.

[2018-03-15 15:30] catrobson commented on #2609
Thanks @dlabrecq - @joshuawilson I think some of the issues Dan created around this got closed.  Is this feasible to add a story around this API to the next sprint, or at least get it on the backlog?

[2018-03-15 15:41] corinnekrych opened #2627 "[20] Group all components visible in a UI menu page"
# Description
To make only one call to fabric8-toggles-service. Possibly enhance existing endpoint List features or create new one. Use naming convention `planner.*` to retrieve all feature associated with planner menu.

# Tasks
#### Option 1: contribute to upstream project
* contribute to upstream unleash-server. See [the feature payload issue](https://github.com/Unleash/unleash/issues/301).
Not

[2018-03-15 15:55] GeorgeActon commented on #2427
Saw this again today
After 100 tries
then seemed to be starting on the seocnd series of tries on try 7
but failed

[2018-03-15 16:18] pmacik commented on #2568
Done by https://github.com/fabric8io/fabric8-test/pull/527

[2018-03-15 16:20] krishnapaparaju commented on #2522
This is happening at OSIO (starter-2 cluster). This is a bug with a timeout error. Please check the comments above.

3 Consecutive VertX http booster builds now, please see this new screen shot..

<img width="1389" alt="screen shot 2018-03-15 at 9 47 30 pm" src="https://user-images.githubusercontent.com/15967765/37476315-db7ade50-289a-11e8-8e76-373be342290c.png">

[2018-03-15 16:22] chmouel commented on #2522
Since we cannot reproduce (it's an intermittent error) can you copy paste the developper console network information and see which service fails, pleae

[2018-03-15 16:38] chmouel opened #2628 "Quickstart get started box don't seem to be aligned"
Currently the  how would you like started box seems to be a bit off :

![image](https://user-images.githubusercontent.com/98980/37477225-64d99dae-2877-11e8-8e18-666c9d46fe5c.png)

Following a dicussion on MM this seems to have been hapenning since https://github.com/fabric8-ui/fabric8-ui/commit/f91cb7bf6e030e5e904d7738e5955febf1143fa8 as investigated by almac.

How it looked like previously

![201

[2018-03-15 16:44] ldimaggi commented on #2427
It looks like after 2 hours of trying, the build will be marked as failed in the OSIO UI.

[2018-03-15 16:51] dgolovin commented on #2609
@catrobson, @dlabrecq, thank you for explanation 👍 So 'My Spaces' meaning is 'My Spaces I am collaborating in' and the second column could be named 'Owner', where 'Owner' value could be Person or Organization.

[2018-03-15 16:51] ldimaggi commented on #2522
Is this the same problem as:  https://github.com/openshiftio/openshift.io/issues/2427

What do you see in the Jenkins pod log?

[2018-03-15 17:00] chmouel commented on #2522
Ah yeah right @ldimaggi thanks for pointing this out,

[2018-03-15 17:07] ldimaggi commented on #2522
The interesting thing is that this problem is now being seen intermittently by multiple people.

[2018-03-15 17:25] chmouel commented on #2427
I have seen the same issue tonight and so is some people, from my investigation the jnlp interface doesn't get open :

![image](https://user-images.githubusercontent.com/98980/37479820-dc1a1c26-287d-11e8-9c28-f8e3180c88d2.png)

cause it waits to be able to download something from http://jenkins

the problem the jenkins internal service doesn't seems to  be available between pods :

![image](https:

[2018-03-15 17:37] joshuawilson commented on #2609
yes, but since we are not collaborating much you will mostly just see you username there

[2018-03-15 17:53] ldimaggi opened #2629 "Error in OpenShift Online deployment not reported to user in OpenShift.io if quota exceeded"
Steps to recreate:
* Reset user environment
* Create a new quickstart, observe deployment to stage and run, verify endpoints are reachable on both stage and run
* Create a 2nd new quickstart, observe deployment to stage and run, verify endpoints are reachable on both stage and run
* Create a 3rd new quickstart, observe deployment to stage and run are reported in the pipeline view:

![screenshot 20

[2018-03-15 18:02] joshuawilson commented on #2622
@mindreeper2420 please keep this in mind when you update the page.

[2018-03-15 18:04] joshuawilson commented on #2623
@mindreeper2420 do you know why the logo image isn't there?

[2018-03-15 18:16] joshuawilson commented on #2629
This is due to the first 2 apps using up all the quota and not being shut down. We might need to tell them that there quota is full and they need to turn off ones they are not using.

This gets to be very bad if they "remove" the app from OSIO but the children are not removed from OSO.  They continue to run but now the user can't see them in OSIO.

[2018-03-15 18:17] joshuawilson commented on #2629
Workaround is to reset env on profile page.

[2018-03-15 18:18] joshuawilson commented on #2629
@catrobson once this is confirmed by SD team, we will need some direction in what and how to tell the user.

[2018-03-15 18:19] mindreeper2420 commented on #2623
@joshuawilson most likely because the referenced logo was removed/moved and the URL was not updated. I believe it is referencing images from https://github.com/openshiftio/openshift.io/tree/master/src/assets/images, but @aslakknutsen would know more than I.

[2018-03-15 18:20] mindreeper2420 commented on #2622
@joshuawilson yes, they'll be updated once the 404 page is updated.

[2018-03-15 18:35] RickJWagner commented on #2587
Hi Len,
Yes, I was just able to recreate this issue.
- I was logged in at the start, and even went through an 'environment reset' to start
- Then made a new project, used Spring Boot again, after the workspace was created went immediately to the 'create' tab and choose to create a Che workspace.  I got the login page again.
(If someone is log spelunking, this all happened about 13:35 Central time)

[2018-03-15 18:40] rohitkrai03 commented on #2613
@alexeykazakov I've found the issue and fix for opening any user profile while logged in. But still need to figure out to update my spaces, work items and connected accounts section when navigating to another user profile from within the application.

[2018-03-15 18:47] jiekang opened #2630 "[1] (Deployments) UI: Clean up DeploymentsService API"
Parent: #287

# Description

As a developer, I want to use a cleaner DeploymentsService API

# Acceptance Criteria
- [x] DeploymentsService "Environment" type can be replaced with string #2585
- [x] DeploymentsService function parameter orders are inconsistent #2586
- [x] Deployments files do not have any clutter (ex: unused imports) #2753

[2018-03-15 19:02] hferentschik commented on #1790
This might be a proxy issue. Also, as @jfchevrette is suggesting, are you using the same browser with multiple accounts? Have you tried with a private browser window.

That said, I'd prefer this issue to be moved here - https://github.com/fabric8-services/fabric8-jenkins-proxy/issues

@ldimaggi, could you create an issue in the Proxy issue tracker. Also, could you add some more context? Where do y

[2018-03-15 19:03] catrobson commented on #2629
@joshuawilson we have a design to warn the user and not allow them to add more deployments (applications) here:  https://redhat.invisionapp.com/share/PMDCE3G94

This was not carried into the launch wizard design since the functionality wasn't prioritized for implementation, but we could easily do the same thing in the new visual design.

[2018-03-15 19:05] alexeykazakov commented on #2613
@rohitkrai03 all these actions just open a user profile page (which is broken), no? Anyway. Just fix the profile page for now. If there are some issues in Planner and other places where the open user profile page action is broken then you can just file an issue(s) for that for now. And let the corresponding team (Planner for example if it's in planner) to fix it.

[2018-03-15 19:09] ldimaggi opened #2631 "Removing a pipeline in OSIO does not remove the endpoints deployed by that pipeline"
Related to: https://github.com/openshiftio/openshift.io/issues/2629

Steps to recreate:
* Create a new quickstart
* Observe the build pipeline runs to completion and deploys to stage and run
* Verify that the quickstart's endpoints are available
* Delete the build pipeline
* Verify that the quickstart's endpoints are still available

At this point, the user cannot initiate a new build for the quic

[2018-03-15 19:12] catrobson commented on #2629
I think this also relates to deleting a space, since we leave stuff in OSO but the user might not realize that and then question why they are hitting limits.

[2018-03-15 19:13] rohitkrai03 commented on #2613
@alexeykazakov There is problem with profile page as well. So, with the current fix for example if I open your profile from the link above, it will show your profile data with your spaces and work items. But when i click on profile button from the top right dropdown, data on left (email id, name, bio) changes and not the spaces section. This is happening because each of these sections have separat

[2018-03-15 19:23] catrobson commented on #2609
API needed for which spaces a user is a collaborator on issue:  https://github.com/openshiftio/openshift.io/issues/1630

[2018-03-15 19:25] stooke opened #2632 "[13/20] (Deployments) Deployments page must be multicluster-aware"
Parent: #287
# Description
As a user, I have to be able to access my consoles, logs and see my metrics, no matter what cluster a pod is deployed on.

# Acceptance Criteria
- [ ] #2096 Migrate deployments API to use proxy instead of accessing Kubernetes directly
- [ ] #3111 Read environments from Tenant instead of Config Map

[2018-03-15 19:31] ldimaggi opened #2633 "Deleting an endpoint from the OSIO Deployments page does not delete the endpoint"
Steps to recreate:
* Create a new quickstart
* Observe the quickstart's build pipeline successful completion and deployment to stage and run
* Navigate to the Deployments page and delete a deployed endpoint:

![screenshot 24](https://user-images.githubusercontent.com/642621/37486736-c1fcccb6-2865-11e8-8b16-96c9f9cca82d.png)

* Observe that the deployed endpoint is not deleted:

![screenshot 25](ht

[2018-03-15 19:45] catrobson commented on #2227
I agree that expanding all cards at once might be desirable since it is "lost space" otherwise.  However, this would require an updated design with new expansion interactions probably at the application level over just "when I expand one, expand all" which does not feel like expected behavior with the current design.  This will require a new design story for us to redefine how the expansion behavi

[2018-03-15 19:46] alexeykazakov commented on #2613
Ah ok. Yeah. we should fix the profile page.

[2018-03-15 19:54] aptmac commented on #2633
The PR that introduces the delete functionality hasn't been merged yet: https://github.com/fabric8-ui/fabric8-ui/pull/2626

[2018-03-15 20:04] aptmac commented on #2460
Similar to the issue where there are numerous calls to api/user [0], each one of these calls is a GET request accompanied by an OPTIONS request first.

![service-calls](https://user-images.githubusercontent.com/10425301/37488166-215ddef8-286a-11e8-954b-b262f5773b4f.png)

Furthermore, they get called in quick succession (once the OPTIONS are finished, GET is immediately requested).

![network-traff

[2018-03-15 20:06] aslakknutsen opened #2634 "Investigate performing tenant update without waking up idled services"

[2018-03-15 20:10] aslakknutsen opened #2635 "Store tenant oso username in tenant db"
We need to store the OSO username for the tenant in the tenant db to avoid requiring the osio user token when performing update / clean.

- [ ] Fetch from Auth on Init
- [ ] Remove Auth OSO Token call on Update / Clean
- [ ] Migrate data set (Fetch data from OSO using cluster token and check RoleBindings)

[2018-03-15 20:10] aptmac commented on #2474
Once merged, can close this issue too: https://github.com/openshiftio/openshift.io/issues/2633

[2018-03-15 20:40] jiekang commented on #2460
@aptmac just a heads up in case: The OPTIONS requests are expected for CORS; it's just that there should be one OPTIONS + GET pair instead of 4 (if possible).

[2018-03-15 20:41] aptmac commented on #2460
Yup sounds good, on the surface it makes the number of calls look more intimidating than it actually is.

[2018-03-15 20:59] jiekang opened #2636 "[5] (Deployments) API: Clean up Deployments API"
Parent: #287

# Description

As a developer, I want to provide a clean API

# Acceptance Criteria
- [x] Review Deployments API and remove unused APIs #2597
- [x] Investigate go-vcr for kubernetes package tests #2355

[2018-03-15 21:03] joshuawilson commented on #2631
This is either a duplicate or an expansion of https://github.com/openshiftio/openshift.io/issues/1746

[2018-03-15 21:11] jiekang commented on #2225
Related to (Deployments): Use websockets instead of HTTP requests #2380

Events API is best served through websockets.

[2018-03-15 21:52] joshuawilson commented on #2613
@rohitkrai03 please talk to @dgutride as he has been looking into storing context info.
cc @corinnekrych

[2018-03-15 22:13] alexeykazakov commented on #2625
FYI @rohitkrai03

[2018-03-15 22:21] dgolovin opened #2637 "Iteration selected on Plan/Backlog page does not show working items added to it"
There is a working item assigned to 'Third Iteration'

![image](https://user-images.githubusercontent.com/620330/37493786-67fea1dc-2863-11e8-91e5-805f4eebc822.png)

But when iteration is selected on Backlog page it says 'No Working Items Available'

![image](https://user-images.githubusercontent.com/620330/37493813-837db6c8-2863-11e8-95e1-f7aec46ba360.png)

[2018-03-15 22:49] dgolovin opened #2638 "Cannot find Task Working Item after creating it using 'Add Working Item' form"
It seems Task working item can be seen only if it created as a child working item. In scenario below I can create it when I select Iteration on Plan/Backlog page:

![image](https://user-images.githubusercontent.com/620330/37494871-ec134e4c-2867-11e8-8832-0fcd66c2ed1f.png)

Then it appears on the page after add button pressed

![image](https://user-images.githubusercontent.com/620330/37494894-073a8

[2018-03-15 23:50] sthaha commented on #2505
@pbergene please note that https://github.com/fabric8io/fabric8-pipeline-library/pull/392 isn't merged yet so the issue isn't solved yet in prod.

[2018-03-16 01:58] sthaha commented on #2403
I took a measurement of how long it takes to execute these  statemetns and fail and it seems the saving is only 6 seconds

[code]

@pradeepto I am going  move this task back to backlog since I am working on the sev-1 : https://github.com/openshiftio/openshift.io/issues/2427

[2018-03-16 03:40] hrishin commented on #2505
https://github.com/hrishin/fabric8-pipeline-library/commit/07a8e134e7a0f225054a2ad2235a3bba97d69ffc Its will fix the issue. The side effect of hard-coding FMP version will always override the applications FMP version and the user may feel annoying "why pipeline is using a different version than from `pom.xml`".

It's better to enhance the patching strategy like
[code]

@sthaha

[2018-03-16 04:20] sthaha commented on #2427
This is my observation about issue which I performed on `cluster 2a`.

Initially when jenkins master pod starts it takes a while (2 - 3 mins) to be fully functional during which the jenkins server return 504 but the host itself was reachable from outside. One jenkins settled down. All my 3 builds succeeded without any issues.

Note sure if this is related; my account on cluster-2a got activated on

[2018-03-16 04:33] dgolovin commented on #2615
@joshuawilson account home would not work, because then I would need to select space form the list. @catrobson has right answer for me, I did not realize "Analyze' is getting me back to space's dashboard.
Feel free to close the issue, thanks!

[2018-03-16 05:07] joshuawilson commented on #2615
I misunderstood what you were asking for. But thankfully @catrobson can read better then me. :)

[2018-03-16 06:47] sanbornsen commented on #2442
@kwk that looks correct. I am sorry. I was so sure that I was not doing any reordering in UI, but anyway I'll fix this.

[2018-03-16 07:04] chmouel commented on #2522
This is the related issue we are working on https://github.com/openshiftio/openshift.io/issues/2427 let's close this and work on this one instead,

[2018-03-16 07:04] #2522 closed

[2018-03-16 07:09] jaseemabid commented on #2403
@sthaha To make my point clear, I'm not worried about the performance implications, this is about us doing something obviously wrong with a software we aren't even suppose to use, but somehow the build succeeded because of a retry logic somewhere in the Jenkinsfile.

[2018-03-16 07:14] chmouel commented on #2403
@jaseemabid I was one worried if there was perf issues from this, we all agree we should still fix it since it's ugly as...

[2018-03-16 07:21] rupalibehera commented on #2612
@lordofthejars , I just disabled the behavior of copying the plugins every time , here is the PR https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/18 I need to test it yet.

[2018-03-16 07:37] muruGanesan commented on #1595
@maxandersen Please find the Google document link:
https://docs.google.com/presentation/d/1x1iJyuqbqPedxhnduUASiJkRogh1RA8qVLIcJEGFjM0/edit?usp=sharing

[2018-03-16 08:20] maxandersen commented on #2326
We have email notifications setup and api in platform this should use. Not sure if notifications api fits to this yet but we’ve gone through all the mail setup thus should be best to use that.

[2018-03-16 08:24] jaseemabid commented on #2384
Adding to https://github.com/orgs/fabric8io/projects/2

[2018-03-16 09:00] Ohrimenko1988 opened #2639 "Error marker in pom.xml does not propose valid version of dependency."
**Steps to reproduce:**
 - Do steps which described in the paragraph 6.1 of this document: https://docs.openshift.io/getting-started-guide.html#analyze_che_dependencies
 - Pay attention that tip in error marker does not include information about valid version of dependency.

**Attachments:**

![screenshot from 2018-03-14 17-18-31](https://user-images.githubusercontent.com/22724619/37511876-0d01bc0

[2018-03-16 09:03] Ohrimenko1988 opened #2640 "Notification messages overlap page items."
**Steps to reproduce:**
 - Do steps which described in paragraph 4.2 of this document: https://docs.openshift.io/getting-started-guide.html#analyze_che_dependencies
 - Pay attention that notifications overlap page items and it is impossible to close it. It will be great to add ability to close this messages by "x" icon.

**Attachments:**

![screenshot from 2018-03-14 16-21-09](https://user-images.

[2018-03-16 09:06] Ohrimenko1988 opened #2641 "Pipeline starts displaying in several minutes after it status is changed to "Running"."
**Steps to reproduce:**
 - Do steps which described in the paragraph 4.2 of this document: https://docs.openshift.io/getting-started-guide.html#analyze_che_dependencies
 - Wait until status of “helloworldvertx” is “Running”
 - Click on this pipeline and wait until page is loaded
 - Make sure that progress of pipeline’s building is not displaying at least several minutes.

**Expected result:**
Prog

[2018-03-16 09:26] Ohrimenko1988 opened #2642 "Add Assignee widget is not closed after double clicking or pressing "Enter" key"
**Preconditions:**
 We should prepare scenario or experience on the Work Item page
**Steps to reproduce:**
 - Select the just created item. After opening the side bar click on ‘+’ Add Assignee button
 - Select the assigned person from toolbar and try to finish choosing by double click or Enter key, or clicking on outside widget area.

**Expected result:**
A user expects that item should be chosen,

[2018-03-16 09:31] artaleks9 opened #2643 "Notification overlaps the icon which is closing the 'work items detail' form"
**Reproduction Steps:**
* Go to the _Plan_ section and create a work item
* Select the work item for update details
* Update content of the work item

**Expected result:**
* the notification has not to overlap the close icon

**Actual result:**
* the notification overlaps the icon of close the _work items details_ form
* also, the timeout of closing the notification is a too long

**Build**: #1064

[2018-03-16 09:49] divyanshiGupta commented on #2537
@Raunak1203 can you try to recreate it without the gif maker? I couldn't recreate it.

[2018-03-16 09:56] divyanshiGupta commented on #2537
And for me, this issue occurs in prod as well but only the first time when I follow the above steps

[2018-03-16 10:05] pbergene commented on #2505
Oh.. what's the ETA on that?

[2018-03-16 10:33] Raunak1203 commented on #2537
yes @divyanshiGupta issue occurs only for the first time, later it works

[2018-03-16 10:57] chmouel commented on #2427
@staha (or anyone else) if you do some investigations please investigates by giving the log output of the pods like done on my screenshots previously. The cause seems to be of issues with intercommunication between the pods and we should look her first.

I had a theory at first that maybe since we have deployed a new idler yesterday, maybe it increased the network throughput and then brings down (

[2018-03-16 11:02] ravsa opened #2644 "[5] Implement the logic in launcher-backend to insert the dependencies in pom.xml"
#### User Story:

As an OSIO user, I will be able to insert the dependencies in pom.xml.

#### Description:
As dependency editor will be the part of launcher wizard flow which will allow users to add dependencies to their project. once he selected one of the boosters in the project creation wizard and which will provide the analytics insights to selected dependencies and these dependencies should

[2018-03-16 11:49] tuxdna commented on #2219
This changes fix the issue for me:

- [ ] https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/127

- [ ] https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/577

[2018-03-16 11:53] vikram-raj commented on #2442
This issue has been fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2504

[2018-03-16 12:11] pradeepto commented on #2384
@jfchevrette @pbergene Jaseem needs your input on this issue. Thanks.

[2018-03-16 12:59] SkorikSergey opened #2645 "When creating a new area with a name longer than 63 characters, there are no error notifications"
**Steps to reproduce:**

1. Create a space.
2. Try to create a new area for this space with name more than 63 symbols.
3. Click the Create button.

**Expected result:**
There is an error notification that the area name must be less than 63 symbols long .
**Actual result:**
Nothing happened in UI.
There is “400 invalid_request: length of request.name must be less than or equal to 63 but got value”

[2018-03-16 13:01] SkorikSergey opened #2646 "User is still assigned to work items after removing from space"
**Steps to reproduce:**

1. Create a space.
2. Add user to the space.
3. Create any work item and assign the added user to it.
4. Remove the user from space.

**Actual result:**
The user is still assigned to the work item.

[2018-03-16 13:13] SkorikSergey opened #2647 "Filter user names list is empty when only one user exists in a space"
**Steps to reproduce:**

1. Create a space.
2. Add some work items.
3. Try to filter the work items by **Creator** or **Assignee** in **Filter**.

**Expected result:**
Owner user name exists in users list.

**Actual result:**
Users list is empty.

**Screenshot:**
![plan backlog - openshift io - google chrome_213](https://user-images.githubusercontent.com/7760565/37522360-52735c3a-292c-11e8-9b36-79

[2018-03-16 13:21] SkorikSergey opened #2648 "Nothing happens when delete a pod from the Deployments page"
**Steps to reproduce:**

1. Create any **Quickstart** project by the **Application Wizard**.
2. Wait until a pipeline finished.
2. Open the **Deployments** page and try to delete a pod.

**Expected result:**
The pod is deleted.

**Actual result:**
Nothing changed.

**Screencast:**
![deployments-delete-pod](https://user-images.githubusercontent.com/7760565/37522497-c394735e-292c-11e8-955f-28f6d5535

[2018-03-16 13:29] aptmac commented on #2648
Duplicate of https://github.com/openshiftio/openshift.io/issues/2633

[2018-03-16 13:32] chmouel commented on #2427
I am not seeing any failed build at the moment on my account :

![image](https://user-images.githubusercontent.com/98980/37523302-cfd84632-2926-11e8-8f26-107173ac5a0e.png)

I am going to get this issue down to SEV-2 since thi sis not impacting production anymore but I am hoping osops can follow with at least some network graph of the platform so we can see what's going on,

[2018-03-16 13:35] chmouel commented on #2427
If you ever get this issue please provide the logs of the `jenkins-master`, the `jenkins-slave` with both `jnlp` and `maven` containers and connect to the content-repository pod and try to do a curl -v http://jenkins/

[2018-03-16 13:35] SkorikSergey opened #2649 "Some input fields must have restrictions for added text"
**Steps to reproduce:**
Add a very long text to a space description or work items comments.

**Actual result:**
Added text can be saved.

**Screencast:**
![nimbus-record-video-2018-03-16-15-29-59](https://user-images.githubusercontent.com/7760565/37523328-3cf7327a-292f-11e8-9183-c8fab65b3483.gif)

[2018-03-16 13:36] #2648 closed

[2018-03-16 13:39] hrishin commented on #2505
### Status Update:

Working on a Remaining task
- [ ] Patch existing users application for upgrading FMP to v3.5.38

- WIP for PR: fabric8io/fabric8-pipeline-library#392, have done most of the changes required for patching 'pom.xml' but need sometime for testing. ETA for this  Monday.
- Preparing an incident report on this issue.

[2018-03-16 14:39] joshuawilson commented on #2646
This assumes that the user added isn't the creator of the space as that user can't be removed.

@qodfathr how do you want this to work? Should removing a user from a space, "clean up" anything they touched? I had thought we would still want to know or track that for continuity.

[2018-03-16 14:47] musienko-maxim opened #2650 "Button in Create Iteration widget is active when name is not set (improvement)"
**Steps to reproduce:**
1. Go to the planner ->  Select iteration on Navigation Bar and click ‘plus’ icon. From usability point it's better to disable the button when field is empty.

[2018-03-16 14:49] musienko-maxim opened #2651 "Calendar widget dropped down after closing the Create Iteration widget"
Steps to reproduce:
1. Go to the planner ->  Select iteration on Calendar widget dropped down after closing the Create Iteration widget and click ‘plus’ icon.  Open calendars.
2.  Reopen Calendar widget.
Expected result: The widget should be empty and ready for the entering new data
Actual result: The Calendar widget still dropped down and overlapped Create and Cancel buttons

See also screencast:

[2018-03-16 14:50] musienko-maxim opened #2652 "Cannot select scenario items in the navigation bar menu when cursor is not over the name item"
**Preconditions:**
 We should have some iteration items on the Navigation Bar of planner page.
**Steps to reproduce:**
1. Go to the planner  page and try to select the iteration item by clicking on area without the label with a name
See also screencast:
https://drive.google.com/file/d/1pWpWwSXHWPyZSObAlOx4IkHhJle_9mKf/view?usp=sharing

[2018-03-16 14:55] catrobson commented on #2649
We saw this problem when we went to implement the new dashboard and fixed it in that version.  I'd say lets wait for this new design to come through to fix this since its a very short horizon to that.

[2018-03-16 14:57] musienko-maxim opened #2653 "Misleading error message in Create Iteration widget when we type invalid name - is not clear"
**Steps to reproduce:**
Go to the planner ->  Select iteration on Navigation bar and click + icon.
Type name more than 65 symbols long and click to Create button
Wrong:  The message like Something went wrong. is not informative for a user

The closed Column on Board page is not fully visible
**Steps to reproduce:**
 A user have monitor with 1680x1050 resolution. He go to the Board page and try to

[2018-03-16 14:57] musienko-maxim opened #2654 "Work item can't be added as a child node to the selected scenario (improvements)"
**Steps to  reproduce:**
**Precondition:** A user has scenario  with name New Scenario and some child (Experience1).
1. Select Experience field from navigation bar. Select the scenario.
2. Open dropdawn from Add Work Item section
3. Select Experience or Value  from the list. Set name and add this one.
**Expected result:** The user expects that just added work item set as child node for scenario.
*

[2018-03-16 14:58] musienko-maxim opened #2655 "There are no error notifications while creating a new area with name more than 63 symbols long"
**Steps to reproduce:**
Create a space.
Try to create a new area for this space with name more than 63 symbols.
Click the Create button.*
**Expected result:**
There is an error notification that name must be less than 63 symbols long .
**Actual result:**
Nothing happened in UI.
There was “400 invalid_request: length of request.name must be less than or equal to 63 but got value” error message in b

[2018-03-16 14:59] musienko-maxim opened #2656 "User is still assigned to work items after removing from space"
**Steps to reproduce:**
Create a space.
Add user to the space.
Create any work item and assign the added user to it.
Remove the user from space.
**Actual result:**
The user is still assigned to the work item.

[2018-03-16 15:02] musienko-maxim commented on #2655
duplicated

[2018-03-16 15:02] #2655 closed

[2018-03-16 15:02] musienko-maxim commented on #2656
duplicated

[2018-03-16 15:02] #2656 closed

[2018-03-16 15:04] musienko-maxim opened #2657 "Cannot delete created work items and labels"
For example: User can’t remove an item which he/she had been created by mistake.

[2018-03-16 15:06] musienko-maxim opened #2658 "Deployments -> POD the collapsing feature may be not clear for some users (improvent)"
![selection_006](https://user-images.githubusercontent.com/1640058/37528096-621c82f0-293c-11e8-912a-c04c9a7ef4a9.png)

[2018-03-16 15:10] aptmac commented on #2658
Related to: https://github.com/openshiftio/openshift.io/issues/2226

[2018-03-16 15:57] maxandersen commented on #2629
Is there a way in the launcher flow to check for resources available and warn user if its getting "crowded" ?

[2018-03-16 16:26] rohitkrai03 commented on #2625
@catrobson I think ability to make your email private/public is missing from the update profile page.

[2018-03-16 16:30] rohitkrai03 commented on #2625
@alexeykazakov I think i should work on the current profile page fix without changing much of the underlying logic and code because this new design implementation would need us to implement all the components with a lot of changes. What do you think?

[2018-03-16 16:35] alexeykazakov commented on #2625
@rohitkrai03 I agree. Just fix it without massive refactoring. The code will be refactored anyway when implementing the new design.

[2018-03-16 16:54] chrislessard commented on #2625
@catrobson don't we already have a "Profile" option in the top right dropdown ?

[2018-03-16 17:07] catrobson commented on #2625
@chrislessard you're right, I'm not sure why I wrote that in the description.  Must have been multi-tasking not so effectively :).  Updated description to reflect.

[2018-03-16 17:09] catrobson commented on #2625
@rohanKanojia thanks for catching that, I'll have the profile design updated with public/private email

[2018-03-16 17:11] pmacik commented on #2574
Done by https://github.com/fabric8io/fabric8-test/pull/534

[2018-03-16 17:21] chrislessard opened #2659 "Add "Settings" to drop down"
To be in line with the new design specification, the project's top right drop down should include an option called "Settings" which will redirect users to the settings page for their profile.

The relevant part of the spec : https://redhat.invisionapp.com/share/FWFGF7VXMB8#/screens/283260597

The parent user story can be found here : https://github.com/openshiftio/openshift.io/issues/2625

[2018-03-16 17:27] #2474 closed

[2018-03-16 17:27] #2633 closed

[2018-03-16 17:27] chrislessard opened #2660 "'Profile' in user dropdown in top right should navigate to new version of profile design"
Once the new profile redesign has been completed, the "Profile" option in the drop down menu should redirect the user to this page.

The parent user story can be found here : #2625

[2018-03-16 17:31] chrislessard opened #2661 "Implement UI to follow Profile design in InVision"
The design specification has been updated for the profile page. We need to implement these changes in the UI.

The relevant aspects of the design specification are here :
[1] The general profile view https://redhat.invisionapp.com/share/FWFGF7VXMB8#/screens/284667233
[2] The expanded "edit" profile view https://redhat.invisionapp.com/share/FWFGF7VXMB8#/screens/284667232

The parent user story can

[2018-03-16 17:37] chrislessard opened #2662 "Implement UI to follow Settings design"
There is a new design specification for the Settings page, where the user chooses all their preferred settings for their account. We need to implement these changes in the UI.

Relevant aspects of the design spec :
[1] The landing page for user settings https://redhat.invisionapp.com/share/FWFGF7VXMB8#/screens/282415824
[2] An example of different button status for connected accounts https://redha

[2018-03-16 17:43] tisnik commented on #1744
Actual test coverage:
[code]

[2018-03-16 17:47] #1744 closed

[2018-03-16 18:06] rupalibehera commented on #2612
@lordofthejars @pradeepto @adisakala @stevengutz
I did test this image `fabric8/jenkins-openshift:SNAPSHOT-PR-154-1` on both old and new clusters, it does not copy the plugins over and over again. Tested it by un-idling the jenkins image and running a quickstart it was fine.
Once this PR is merged https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/154 it auto deploys the tenant image.

[2018-03-16 18:11] lordofthejars commented on #2612
I agree with plugins problem (or for example an update of versions) but for now I will leave as is, let's see if it fixes, and in the near future let's see if it is best option to rewrite for just OpenShift IO purposes.

[2018-03-16 18:22] mindreeper2420 commented on #2215
@rkratky How would you like me to deliver the header/footer for docs.openshift.io? Would it be preferred to just share to HTML/CSS or is there a particular dev that I should speak with?

[2018-03-16 18:43] catrobson commented on #2629
@maxandersen We had a solution (linked above) that we had removed this from the design process for launcher since there was no backend support for this capability.  If we can support it, we can add that element back into the design for launcher.  Please let me know and I'll get designs updated accordingly.

[2018-03-16 18:50] aptmac opened #2663 "404 notification displayed when deployment is deleted"
Issue:
- Upon deletion of a deployment, a 404 notification is displayed saying that the deployment cannot be found
- If you stay on this page after deleting the deployment, when the polling occurs that would have updated the deployment chart data it will also display a 404 notification

Example:

Initially start with four deployments:
![initial-deployments](https://user-images.githubusercontent.co

[2018-03-16 19:14] joshuawilson commented on #2629
I think we need to prioritze this. If it weren't for the Env Reset this might be a **SEV1**.

[2018-03-16 19:46] ebaron opened #2664 "[8] (Deployments) HTTP requests should not wait indefinitely"
Parent: #287

## Description
As an OSIO operator, I want the deployments backend to close connections that are taking too long.

## Acceptance Criteria
- [x] Use timeout for Kubernetes/OpenShift HTTP requests #2462
- [x] Make deployments backend timeout configurable #2665

[2018-03-16 19:46] ebaron opened #2665 "Make deployments backend timeout configurable"
Parent: #2664

The timeouts introduced in #2462 should be made configurable, to allow them to be modified without rebuilding WIT. We can use existing configuration mechanisms in WIT to achieve this goal, by adding a new property to config.yaml. See configuration/configuration.go for how this is used.

[2018-03-16 20:33] jiekang commented on #2597
API that is currently being used by the UI:

Scale pods: `deployments/spaces/${spaceId}/applications/${applicationId}/deployments/${environmentName}?podCount=${desiredReplicas}`

Preload timeseries:
`deployments/spaces/${spaceId}/applications/${applicationId}/deployments/${environmentName}/statseries?start=${startTime}&end=${endTime}`

Poll timeseries:
`deployments/spaces/${spaceId}/applications/$

[2018-03-16 21:16] catrobson commented on #2629
After speaking with @joshuawilson we decided this was bigger than just the launcher - this is about informing users throughout the system about quota limitations.  I have created the following UXD story to capture the work needed around this:  https://github.com/fabric8-ui/fabric8-ux/issues/932

[2018-03-17 07:27] rkratky commented on #2215
@mindreeper2420 Sharing the HTML/CSS is just fine. There's no dev assigned to that page.

[2018-03-17 12:56] aslakknutsen opened #2666 "Codebase search by URL is missing index"
![screenshot from 2018-03-17 13-54-59](https://user-images.githubusercontent.com/132158/37555628-cfaadbd8-29ea-11e8-8bdf-2e81f08a4a2e.png)

API Used by Jenkins Proxy to reverse lookup GH Repo to Space.

## Parent Scenario
#2016 OpenShift.io has best-of-breed performance

[2018-03-17 12:59] aslakknutsen opened #2667 "Comments search parent_id is missing index"
![screenshot from 2018-03-17 13-59-37](https://user-images.githubusercontent.com/132158/37555668-753d7b1e-29eb-11e8-81ec-67cd77fc22ec.png)