[2018-05-15 10:26] rgarg1 commented on #541
The issue is not reproducible anymore. Closing this.

[2018-05-15 10:26] #541 closed

[2018-05-15 11:17] apupier opened #3562 "Provide Continuous Testing capabilities"
As a first step, it would be nice to have the same kind of capabilities than [infinitest](https://infinitest.github.io/): testing continuously JUnit (including version 5) and testNg tests when modifying code.

A second step would be to have the tests launched in a dedicated container to not interact with other workspace/build actions.

Given that it is done remotely in a container in any cases, it

[2018-05-15 11:41] containscafeine commented on #3517
@ljelinkova can you share the logs for the failures? I'd also like to see the logs of content-repository-init init container in jenkins deployment in the e2e tests, if those are logged.

[2018-05-15 11:58] chmouel commented on #3468
This issue will take a lot of time to implement (even if we have numbers or not)

[2018-05-15 12:01] ibuziuk commented on #3557
labels have been added & wiki updated. Closing

[2018-05-15 12:01] #3557 closed

[2018-05-15 12:51] pbergene commented on #3442
It doesn't look like it's hitting us very widely, I am removing the Sev-1 and will re-escalate if it becomes common and causing serious resource contention.

[2018-05-15 12:58] tisnik opened #3563 "[1] Add fabric8-analytics-ingestion into the QA dashboard"
The origin is here:
https://github.com/fabric8-analytics/fabric8-analytics-ingestion

### Acceptance criteria:

- [x] Pylint is setup
- [x] Pydocstyle is setup
- [x] Unit test coverage is measured
- [x] Cyclomatic complexity is measured
- [x] Maintainability index is measured
- [x] All results are displayed on the QA Dashboard
- [x] Unit test coverage for this repo is included in week status repor

[2018-05-15 13:13] bmicklea commented on #3299
So in this case if the problem is in openshift itself how do we ensure it's being worked to completion on that side? Is there a case open in Bugzilla?

[2018-05-15 13:26] jfchevrette commented on #3299
The more concrete details / reproducers we get the better upstream can investigate and pinpoint the root cause of this. So please keep sending details when you hit this issue.

[2018-05-15 13:27] jfchevrette commented on #3299
That being said, I haven't had any reports in about a week.

[2018-05-15 13:28] lordofthejars commented on #3562
We have something similar of infinitest (http://arquillian.org/smart-testing/) which might be a first step towards this. Of course, I am not saying that everything is done, but the core it is.

[2018-05-15 13:29] maxandersen commented on #3412
lets get that answered and we can then close or evolve this issue if an issue found.

[2018-05-15 13:35] lordofthejars commented on #3442
ok, thanks :)

[2018-05-15 13:41] ljelinkova commented on #3517
@containscafeine Unfortunately, the tests are set to reset the whole environment after each run.

However, if you can specify which logs could help you debug the issue, I might try to store those logs during the test run.

[2018-05-15 14:08] catrobson commented on #3046
@mceledon I think there were issues with the triangle design and the scroll
bars.  I believe we needed an alternative solution than this.  Can you
update this thread with your current thinking?

On Tue, May 15, 2018 at 3:33 AM ckrych <notifications@github.com> wrote:

[2018-05-15 15:02] joshuawilson commented on #3549
Closing. Duplicates: #2360

[2018-05-15 15:02] #3549 closed

[2018-05-15 15:07] joshuawilson commented on #3562
cc @bartoszmajsak

[2018-05-15 15:15] apupier commented on #3562
I think that the two ideas are complementary.
The arquillian smart testing is providing a way to select which test to launch based on "smart" heuristics.
What I'm proposing here, is to have tests launched in background every time a file is modified.

As a second iteration, I think having the continuous tests selecting which tests to launch based on the heuristics provided by arquillian smart testi

[2018-05-15 15:23] chrislessard opened #3564 "Add tests to work-item-widget component"
parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2312

Currently, the work-item-widget component (under app/home) has no tests. It ought to !

[2018-05-15 16:15] invincibleJai commented on #945
Thanks @muruGanesan @bdellasc for input. I have few doubts

1. In case of user have reached Quota limit and triggers a build, and we show above message won't it be again misleading? as that will never complete.

2. If user clicks on "Hide and run in background", will it hide the message and mostly be back to current scenario i.e blank?

[2018-05-15 16:30] lordofthejars commented on #3562
You ve got both possibilities in smart testing.

But in this case I think best is to run smart testing in selecting mode and
affected strategy each time a file has changed

El mar., 15 may. 2018 17:15, Aurélien Pupier <notifications@github.com>
escribió:

[2018-05-15 16:37] MatousJobanek commented on #3562
Hi @apupier
the idea of continuous testing has been already proposed/discussed here https://issues.jboss.org/browse/CHE-34 and here https://github.com/eclipse/che/issues/5482 and maybe on some mailing list as well. Unfortunately, it has never been completed. One of the main blockers was missing incremental auto-compilation of the saved files in Che. In other words, it is necessary to compile the w

[2018-05-15 16:39] #3526 closed

[2018-05-15 16:58] ldimaggi commented on #3461
When will this fix be available in production? It's still broken there:

![screenshot from 2018-05-15 12-56-51](https://user-images.githubusercontent.com/642621/40071752-bace4654-583f-11e8-977e-805871bf2c0b.png)

[2018-05-15 17:26] #2879 closed

[2018-05-15 20:05] #3247 closed

[2018-05-15 20:20] joshuawilson commented on #3461
validating, then I'll update prod

[2018-05-15 22:27] bostrt opened #3565 "Failed to open workspace"
When clicking the *Open* workspace button on page https://openshift.io/<user>/<codebase>/create, it sometimes fails with a message "Failed to open workspace". I found this is due to the built in pop-up blocker in Google Chrome. Allowing popups from openshift.io seemed to fix this.

Is there some other way to pop the new workspace tab without triggering Chrome's popup blocker?

[2018-05-16 02:12] krishnapaparaju commented on #3450
@pbergene , here is the current status:  @jaseemabid has tried out reducing RAM and service does not come up. @jaseemabid, can you please add more details...

[2018-05-16 03:58] sbose78 commented on #3544
@rohitkrai03 , looks like it's fixed here.

[2018-05-16 04:05] joshuawilson commented on #3565
The docs should reference needing to enable the pop-ups.
@l0rd @ibuziuk maybe you can answer this.

[2018-05-16 04:07] sbose78 commented on #3325
Some history - We had had to put in a hack to avoid this for token retrieval https://github.com/sbose78/ngx-login-client/blob/b55792302c4dde458df52722b236256c589d38c1/src/app/shared/http.service.ts#L49

[2018-05-16 04:14] sbose78 commented on #3122
Hi @catrobson , Would you be able to suggest how to make the 'add collaborators' type-ahead's search results less confusing? @rohitkrai03 could then add it to his queue for fixing this :)
CC: @alexeykazakov .

[2018-05-16 04:18] sbose78 commented on #3105
Thanks, this has to be addressed application-wide. CC: @catrobson @rohitkrai03 @alexeykazakov

[2018-05-16 04:20] sbose78 commented on #2709
@pmacik  this looks fixed to me.

[2018-05-16 04:48] ravsa opened #3566 "[8] Standardize Booster Readiness Guidelines"
#### Description: https://openshift.io/openshiftio/openshiftio/plan/detail/2348

As an OSIO Developer, I will be able to create a new booster and that will be able to add a booster in booster-catalog that will be available on osio.

As we are adding new boosters in OSIO and planning to improve/troubleshoot issues in existing booster this document will help to Booster owners and OSIO owners underst

[2018-05-16 05:43] msrb opened #3567 "HTTP 599 Could not resolve host: queue.amazonaws.com; Unknown error (None)"
Graph-import worker seems to be stuck and it is not processing messages in this state.

It looks like it did not recover after an exception from kombu.

[code]

[2018-05-16 05:44] #2424 closed

[2018-05-16 05:44] msrb commented on #3567
I'd expect pod to restart, which would automatically fix this issue.

[2018-05-16 06:00] msrb commented on #3567
I restarted the pod.

[2018-05-16 06:26] jaseemabid commented on #3450
Just before the summit, @containscafeine and I tried to lower the resource utilization of the Jenkins master and that led to the instance not coming up correctly several times in a row. Since there were no code changes, I think we might be running the service close to the minimum requirements already.

This is indeed costing us money, but is definitely not preventing users from using the service h

[2018-05-16 06:37] msrb opened #3568 "404 when clicking on a work item link from my profile page"
I have assigned a feature to myself in Planner. As expected, I can see the work item on my profile page now [1]. However when I click on it, I get 404 [2].

1:
![screenshot from 2018-05-16 08-32-14](https://user-images.githubusercontent.com/3759039/40100316-d8123096-58e3-11e8-9f20-070d7834be96.png)

2:
![screenshot from 2018-05-16 08-32-32](https://user-images.githubusercontent.com/3759039/4010032

[2018-05-16 06:39] msrb commented on #3568
The link on my profile page points to https://openshift.io/msrb@redhat.com/openshiftio/plan/detail/2273

While the correct one would be https://openshift.io/openshiftio/openshiftio/plan/detail/2273.

[2018-05-16 06:44] ljelinkova opened #3569 "Removed IDs from feature flags"
The features IDs on Features Opt-in page have been removed last night / this morning what broke smoke E2E tests. Please put it back :-)

It used to be
[code]
And now is just
[code]

@joshuawilson

[2018-05-16 06:48] krishnapaparaju opened #3570 "EPIC: Evaluate CI&CD tools for containers"
One of key goals of Build.Next initiative is to choose the right build engine for performing CI&CD of container images. Evaluation of currently available tools is key to understand current offerings and evaluation can be carried out with these criteria..

1) Convert Source to artifact
2) Deployable on Openshift
3) Support Multi tenancy
4) Able Retrieve status of jobs, logs
5) Orchestration of para

[2018-05-16 06:58] jaseemabid commented on #3299
@jfchevrette The build team is using a service and we just happened to be the people discovering these issues. Its not fair to expect us to debug and fix them as well. This is most probably an openshift networking problem, which happens during build once in a while because we make a ton of network calls. I'm not sure we can actually do anything more on this.

This is a potential SEV1 and P0, but i

[2018-05-16 08:06] xcoulon commented on #3452
@kbsingh @aslakknutsen I opened https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/92 to change the "base" template that is used to generate the deployment template which is itself applied when a tenant is created or updated. However, I'm not sure how to update the existing tenants. Do we have a batch procedure for that ?

[2018-05-16 08:09] slemeur commented on #1614
It works for me. Thanks @davidfestal

[2018-05-16 08:11] #3309 closed

[2018-05-16 08:50] michaelkleinhenz commented on #1425
The breakpoints above indicate that for a 720p resolution, the standard UX is being used. If that is not the case, it is a bug.

Although I just tested this with current prod and it works for me. 720p still uses the standard UX before the first breakpoint. I think what @burrsutter is referring to is the old "select work item type" screen, which was "mobile-like" with unusally large buttons (for *a

[2018-05-16 09:01] apupier opened #3571 "Cannot login to openshift.io anymore"
when I try to access openshift.io, I'm redirected to this page:
![image](https://user-images.githubusercontent.com/1105127/40107381-5aa58ab2-58f8-11e8-945b-22e6d37e1af3.png)

if I click "Sign up for OpenShift Online", i'm redirected to this page:
![image](https://user-images.githubusercontent.com/1105127/40107409-6deb6d6c-58f8-11e8-9eed-838edc0e7160.png)

I already tried in incognito mode and same

[2018-05-16 09:14] lordofthejars commented on #3570
Prow is not a CI/CD tool

[2018-05-16 09:15] mmclanerh commented on #3299
further debug details will help not only with upstream artifacts, but also around design/architecture challenges we might encounter through concurrent operations.

if a dependency is unavailable (eg: rolling a new deployment, affinitize a pod to a new node),  we should think about how the caller behaves (and ultimately, what that looks like to the user).  how should the app deal with a dependency

[2018-05-16 09:35] jyasveer commented on #2945
Now we see that on PR merge a version is released to npm adhering to semantic versioning

[2018-05-16 09:35] #2945 closed

[2018-05-16 09:47] hrishin commented on #1913
Its OpenShift resource
pipeline -> `buildconfig`, running build -> `build`. As far as looking the OSO quota page I dot think there is limit.

cc: @chmouel

[2018-05-16 09:51] jaseemabid commented on #3570
There is a lot going on here!

One of the big lessons from the f2f meeting was to consider the service as 3 different verticals Build, Orchestrator and Deploy. Unless we look at it so, none of the tools above will even remotely match our needs. I've been thinking about the problem lately and I'd like to add a 4th vertical - Engineering Sanity. Even if Jenkins did all 3 well, its not something that

[2018-05-16 10:01] jaseemabid commented on #3570
@krishnapaparaju This initial list needs to be thought through carefully before it can be worked upon.

Jenkins is not even a remote option, let's not have the same discussion we've had for last 6 months one more time. Jenkinsx considering its origins is not something I want to touch with a 100m pole.

Prow has [no multi tenancy](https://github.com/kubernetes/test-infra/issues/7803#issuecomment-38

[2018-05-16 10:25] hrishin commented on #3058
It's classical build issue for S2I build. https://github.com/openshiftio/openshift.io/issues/2729.
Its happening either due to quota limit for pod (build requires additional pod) or issue on OSO when its receives [large build loads](https://github.com/openshift/origin/issues/15143)

[2018-05-16 10:29] hrishin commented on #2729
Wondering if there is an issue on OSO side as well. https://github.com/openshift/origin/issues/15143

[2018-05-16 10:30] invincibleJai commented on #945
Thanks @muruGanesan it helps. Will reach out to you if needed.

[2018-05-16 10:32] hrishin commented on #3058
Additionally, we making changes on [FMP](https://github.com/fabric8io/fabric8-maven-plugin/pull/1284) side to log right failuare messages.

[2018-05-16 10:50] miteshvp commented on #2694
@ldimaggi - any updates here?

[2018-05-16 10:54] sbose78 commented on #3571
@apupier Your account was de-provisioned because you had posted sensitive data in https://github.com/openshiftio/openshift.io/issues/3073

Please create a new RHD account and start from the scratch.

[2018-05-16 10:54] #3571 closed

[2018-05-16 11:31] krishnapaparaju commented on #3450
@jaseemabid would be rather useful to focus the comments to this specific issue. @jaseemabid would be great if you can specify what is blocking you ? service not coming up with lower limits ?

cc @pbergene

[2018-05-16 12:14] kishansagathiya commented on #3026
@krishnapaparaju The issue is not being faced anymore. Same was confirmed by @maxandersen
We can close this. If we see this again we will reopen it.

[2018-05-16 12:14] #3026 closed

[2018-05-16 12:25] jaseemabid commented on #3450
@krishnapaparaju Yes, service is not coming up with lower limits and its not worth fixing.

[2018-05-16 12:29] lordofthejars commented on #3570
I pick up Concourse CI to see how it works inside Kubernetes because it seems there is no official support but I want to see deeply.

[2018-05-16 12:30] jiekang commented on #3569
Do you happen to know which file this is? My text searches for variations of `<input type="radio" value="item.selected" />` don't return anything. Maybe this isn't `fabric8-ui` repository?

[2018-05-16 12:30] jfchevrette commented on #3299
@jaseemabid ok to reassign this to the service delivery team. However having received no reports of this still occurring in the past 1+ week I'm tempted to consider this resolved. Looking at the original report the error state that jenkins could not reach the content-repository pod through the internal service route and that was fixed about a week ago by making sure content-repository is unidled b

[2018-05-16 12:31] ldimaggi commented on #2694
OK to close - have not seen this issue recently - closing.

[2018-05-16 12:36] rupalibehera commented on #3570
@jaseemabid @lordofthejars , please create a issue with the tool you guys are evaluating and link to this epic

[2018-05-16 12:38] joshuawilson commented on #3249
@dlabrecq are you working on this? or is it still under design?

[2018-05-16 12:45] jaseemabid commented on #3299
@mmclanerh I don't disagree. From what we find here, the whole logic of idler might be broken. https://github.com/fabric8-services/fabric8-jenkins-idler/issues/233#issuecomment-387370518

[2018-05-16 12:47] maxandersen commented on #3450
@jaseemabid no matter if there is build.next or not we still need to grok resource usage and limits. Thus figuring out this issue is key imo.

As discussed in this issue and on PR would we not be better of keeping memory as is and reduce the pod count ? This would allow one build to start with enough memory and then other builds would be queued.

[2018-05-16 12:53] joshuawilson commented on #3442
Is this still a P0? If so, who is working on it?

[2018-05-16 13:00] ldimaggi commented on #3566
When you refer to redeploy - you're really talking about auto-recompile and auto-redeploy.

[2018-05-16 13:03] jiekang commented on #3347
The oauthconfig issue has been resolved.

[2018-05-16 13:03] ljelinkova commented on #3517
I'll add the logs retrieving into our tests and post here if we have any results.

[2018-05-16 13:04] dlabrecq commented on #3249
This is being designed

[2018-05-16 13:08] ljelinkova commented on #3569
I guess this is the file but I do not know why there is no <input>

https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/profile/settings/feature-opt-in/feature-opt-in.component.html

[2018-05-16 13:13] maxandersen commented on #2729
and would using https://github.com/openshiftio/openshift.io/issues/3450 not be viable solution ?

[2018-05-16 13:26] catrobson commented on #3105
@sbose78 we should be following PatternFly standards as much as possible here:  http://www.patternfly.org/pattern-library/forms-and-controls/errors-and-validation/

While errors across the application should be handled in the same sort of pattern for communication, the way to get the whole application to have error handling is field by field ;).  Hoping you can look at how we handle verification o

[2018-05-16 13:28] krishnapaparaju commented on #3450
@maxandersen ,  #2729 restricts more than one tenant build at any given point of time.. This is WIP..

cc @hrishin

[2018-05-16 13:36] GeorgeActon commented on #3570
Is there a link into planner for this?

[2018-05-16 13:47] kpiwko commented on #3569
I believe removed of ids in radio buttons is associated with this commit @corinnekrych:

https://github.com/fabric8-ui/fabric8-ui/commit/b77269ec64208d9ddc118216ab84ded5d47e3c61#diff-b52fb93fcd8263f583abf5f4b6c65c3f

[2018-05-16 14:00] kpiwko commented on #3569
That's unfortunate but likely - e2e tests would need to use input@name - unless we want to fix patternfly lists to support ids:

https://github.com/patternfly/patternfly-ng/blob/a23d41d04b8ed607ddcdc6d3d69a873966edeb53/src/app/list/basic-list/list.component.html

[2018-05-16 14:05] catrobson commented on #3122
@lwrigh could you take a look at this?

[2018-05-16 14:07] ppitonak commented on #3569
Do I understand it correctly that patternfly doesn't support IDs?

@kpiwko what do you mean by saying that tests need to use input@name? Attribute "name" is not defined.

[2018-05-16 14:07] lwrigh commented on #3122
@catrobson Yup I can take a look at it.

[2018-05-16 14:26] kpiwko commented on #3569
I mean input@value, sorry.

From what I see here, Patternfly does not support id for input lists - https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/list . Definitely something that should be considered to be added to patternfly to make patternfly projects easier to test.

[2018-05-16 14:36] tisnik opened #3572 "[1] The threshold or code coverage needs to be configured on the QA Dashboard"
The threshold or code coverage needs to be configured on the QA Dashboard

## Acceptance criteria
- [x] code coverage threshold specified in `config.ini`
- [x] the value can be overwritten by the command line option
- [x] the currently used constant can be used as fallback when `config.ini` is not
- [x] threshold is set to 90% (as requested in Planner for current train)

[2018-05-16 14:37] maxandersen commented on #3570
Getting a structured approach is key here. +100

[2018-05-16 14:58] l0rd commented on #3565
Thanks @bostrt for reporting this. I honestly think that's quite an important issue. I don't like websites that tries to open windows blocked by my browser. I guess that some users may get confused and won't be able to open the window at all.

Of course there is nothing we can do Che side. The problem is in the javascript code that opens the new window (c.f. https://stackoverflow.com/questions/258

[2018-05-16 15:03] kpiwko commented on #3569
With my limited understanding of angular, I believe that a quickfix would need to have 2 steps:

1/ Add item.value for every option here: https://github.com/fabric8-ui/fabric8-ui/blob/b77269ec64208d9ddc118216ab84ded5d47e3c61/src/app/profile/settings/feature-opt-in/feature-opt-in.component.ts#L83
2/ Update tests to use item@value to navigate

More complicated fix would be to modify patternfly lists

[2018-05-16 15:10] lwrigh commented on #3122
@andrewazores Can you share a screenshot of what you're seeing?

[2018-05-16 15:14] jiekang commented on #2225
Closing as this is tracked via

https://github.com/openshiftio/openshift.io/issues/874
https://github.com/openshiftio/openshift.io/issues/2380
https://github.com/openshiftio/openshift.io/issues/3346

[2018-05-16 15:14] #2225 closed

[2018-05-16 15:15] joshuawilson commented on #3565
I don't think the pop-ups are a part of the UX design. Since it is on the codebases page I'll add it to the Platform team as a SEV2.

I should have thought about this sooner.

[2018-05-16 15:18] #2226 closed

[2018-05-16 15:19] andrewazores commented on #3122
It's about this screen:

![screenshot from 2018-05-16 11-18-02](https://user-images.githubusercontent.com/3787464/40126227-d49977aa-58fa-11e8-8230-8a3ca978cdfb.png)

I don't know any people with identical names off the top of my head to illustrate the behaviour Simon's talking about, but the point is that only displaying the names here makes it hard to figure out who you're selecting if there are

[2018-05-16 15:27] joshuawilson commented on #3569
I'm not sure why the ID was removed. We need @corinnekrych to comment on that.

I will say that `beta` is not a unique ID and therefore violates HTML. We should only be using IDs for tests. They should also be unique across the entire application. This can be done by prefixing the ID with the file name as a namespace.

Now we need to know if Tests need this radio button to have an ID or if they ca

[2018-05-16 15:46] #3318 closed

[2018-05-16 16:07] piyush1594 commented on #3095
Regarding this issue,

PR on launcher-backend is merged https://github.com/fabric8-launcher/launcher-backend/pull/401 and https://github.com/fabric8-launcher/launcher-backend/pull/402

Changes in launcher-side are in Prod by https://github.com/openshiftio/saas-launchpad/pull/132

Need the changes to sync plugin which is still in the review process https://github.com/fabric8io/jenkins-sync-plugin/p

[2018-05-16 16:12] ldimaggi commented on #3569
I don't think that we can rely on the @value attribute - it seems to be selected for all (4) of the feature levels:

![screenshot from 2018-05-16 12-03-27](https://user-images.githubusercontent.com/642621/40129453-55732982-5902-11e8-8127-dfeda56674e1.png)

[2018-05-16 16:37] aptmac commented on #3569
For a bit of background, there had been a structural change to the list in a commit yesterday [0].

Previously, the radio button was manually included into the pfng-list and it wasn't using pfng expansion logic as intended. Recently, a commit [1] was made to the pfng-list to include radio buttons as an option, and this change was incorporated into the commit [0] that got pushed yesterday.

[0] htt

[2018-05-16 16:46] ldimaggi commented on #3569
Any idea why all 4 radio buttons are designated as
`
<input type="radio" value="item.selected" class="xh-highlight">
`

[2018-05-16 17:00] ldimaggi commented on #2752
It has been a while since this was seen - +1 to closing it now - we can re-open if it starts showing up again in future.

[2018-05-16 17:03] ldimaggi commented on #3566
See https://github.com/openshiftio/openshift.io/issues/2399 for the same type of list - with finer grained detail. I think that the lists are in sync.

[2018-05-16 17:03] ldimaggi commented on #2399
See: https://github.com/openshiftio/openshift.io/issues/3566

[2018-05-16 17:29] aptmac commented on #3489
@rhopp I cannot reproduce this issue any more, can you confirm?

[2018-05-16 17:31] alexeykazakov commented on #3122
I would expect Full name + username in the list.

[2018-05-16 17:33] aptmac commented on #3395
The element for adding a description was changed from a `div` to an `input` in a recent commit [0], new lines no longer cause this effect.

[0] https://github.com/fabric8-ui/fabric8-ui/commit/0a0bb576324541bb1c642a8d8102b7b754b293ec#diff-2b298216067bc6e473a1141f508b2d3a

[2018-05-16 17:33] #3395 closed

[2018-05-16 17:39] lwrigh commented on #3122
### Profile photo + email
![avatar email](https://user-images.githubusercontent.com/20227374/40133281-466f3524-590d-11e8-96dd-d157f2df82e8.png)
### Just email
![just email](https://user-images.githubusercontent.com/20227374/40133285-4bec249e-590d-11e8-8468-3c0df10424f6.png)

My suggestions include adding the user's email below their name or including both their profile picture and email in the lis

[2018-05-16 17:50] joshuawilson commented on #3347
Next we need to handle the 401 not authorized errors. I would think that we don't need to display this to the user. Shouldn't even report it as an error to the console or on Sentry.

We need to tell the user to log in when they try to do something but not a huge error message when they visit the page.

[2018-05-16 17:51] stooke commented on #3122
I suspect having a profile picture there could get slow really quickly.

Another alternative is
    User Name <email@address>
similar to what's used in mail clients - it's familiar and succinct.

I'd also like to point out that the search box will need to match both username and email address.  THis is probably fairly straightforward.

[2018-05-16 17:56] alexeykazakov commented on #3122
Emails can be private and not available for browsing. Let’s use usernames instead.

[2018-05-16 17:59] lwrigh commented on #3122
@alexeykazakov +1 That's a good point

[2018-05-16 18:02] joshuawilson commented on #1425
closing as it is out of date

[2018-05-16 18:02] #1425 closed

[2018-05-16 19:12] stooke commented on #3122
Agreed.  (In fact, if it were only usernames I'd be happy - I just want to ensure uniqueness in the list)

[2018-05-16 19:25] joshuawilson commented on #3122
Only space owners can see the collaborators page. But collaborators can get the list from within the planner.

There are several things to think about here.
1. While "adding" you are looking at all users of OSIO, currently over 11k. That is a lot, so images would be bad here. Does the search work on name, username, or both/either? I would like to search on both.
2. The display list in the collabor

[2018-05-16 19:27] stooke commented on #3122
Is there any hope of having one people-picker widget and reusing it in different scopes?  Easier to code, easier to train...

[2018-05-16 19:36] alexeykazakov commented on #3122
As I said we are completely re-doing our permission/collaboration model right now. So, let’s not make any significant changes in UI right now. Some cosmetic changes like adding usernames/avatars can be done now though.

Regarding searching for an OSIO user. Search API searches on names, usernames and public emails. The search result is limited to 30 users or something like this (don’t remember the

[2018-05-16 19:39] joshuawilson commented on #3570
@krishnapaparaju this should be listed under https://openshift.io/openshiftio/openshiftio/plan/detail/2034 as an `Experience`.

[2018-05-16 19:40] joshuawilson commented on #3122
That makes sense. Let's keep it simple then.

[2018-05-17 02:47] joshuawilson commented on #3475
I don't think this is a P0. I think it might be a SEV3.

This is likely due to the difference in how CSS is handled/done in Planner vs the rest of the UI. @SMahil you may want to talk to @mindreeper2420 and @christianvogt on this.

[2018-05-17 05:05] joshuawilson commented on #2945
nice to see this done

[2018-05-17 05:08] joshuawilson commented on #3568
duplicate of #3462

[2018-05-17 05:08] #3568 closed

[2018-05-17 05:11] joshuawilson commented on #3462
@dlabrecq can you take a look at this when you have time

[2018-05-17 05:13] joshuawilson commented on #2709
Closing. If you still see this please reopen.

[2018-05-17 05:13] #2709 closed

[2018-05-17 05:34] joshuawilson commented on #3479
Rahul Manchanda is the one to talk to about Woopra

[2018-05-17 05:46] rgarg1 opened #3573 "[~?] Browser support, beyond Chrome"
Need full support for the following browsers:

- [ ] Firefox
- [ ] Safari

[2018-05-17 05:46] rgarg1 commented on #3573
@qodfathr What does this stand in the order of priorities?

[2018-05-17 05:49] rgarg1 opened #3574 "Should be able to use Planner using keyboard"
As of today, keyboard support in Planner is sporadic and inconsistent.

Planner needs to provide full and consistent keyboard support for its users.

[2018-05-17 05:50] rgarg1 commented on #3574
@qodfathr Where does this stands in the order of priorities?

[2018-05-17 06:02] joshuawilson commented on #3574
Please file user stories under https://openshift.io/openshiftio/openshiftio/plan/detail/2009

[2018-05-17 06:04] joshuawilson commented on #3573
This is a bug. We have said from the beginning that we support all major browsers at the current version -2.

[2018-05-17 06:34] invincibleJai commented on #945
There are three steps here till stages appear

1. Builds gets triggered but not started i.e Jenkins log urls is not there

<img width="1635" alt="screen shot 2018-05-16 at 10 24 16 pm" src="https://user-images.githubusercontent.com/5129024/40159677-0814d002-59c8-11e8-8cb7-7c66da6dd756.png">

Above message looks good here.

2. Build is started i.e Jenkins log urls is there but stages have not start

[2018-05-17 07:26] tisnik commented on #3572
Implemented in the following pull request: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/544

[2018-05-17 07:27] #3572 closed

[2018-05-17 07:31] michaelkleinhenz commented on #3085
Can not be replicated.

[2018-05-17 07:31] #3085 closed

[2018-05-17 08:38] jaseemabid commented on #3570
@joshuawilson The link says "Continuous delivery may increase success" and a text that is almost lorem ipsum. How is this relevant?

[2018-05-17 08:49] jaseemabid opened #3575 "Unable to edit or delete comments added by a non collaborator"
The screenshot shows a comment added by me, but I've no way of editing or deleting it.

![2018-05-17-141748_793x579_scrot](https://user-images.githubusercontent.com/601714/40166821-238d0fa6-59dd-11e8-9c33-f79c429cccb9.png)

[2018-05-17 08:51] jaseemabid commented on #3575
btw, the comment author is not seen as well but @sanbornsen says its a known issue.

[2018-05-17 08:54] CermakM commented on #3180
The solution has been submitted for review in [this PR](https://github.com/fabric8-analytics/fabric8-analytics-nvd-toolkit/pull/9).

[2018-05-17 09:34] ppitonak opened #3576 "Create space button opens old dialog when in My spaces"
1. click on top-left menu -> My spaces
2. click "Create Space" button in top-right corner

expected:
* new dialog opens

actual:
* old dialog opens

![osio_create_space](https://user-images.githubusercontent.com/445100/40169397-3397d960-59c6-11e8-9393-5af1ca7b34c9.gif)

[2018-05-17 10:16] hrishin commented on #2729
### Update:

Tested the [kubernetes plugin PR](https://github.com/jenkinsci/kubernetes-plugin/pull/322) on http://openshift.io. Its restricting one build at a time to run, other build requests gets queued.

![image](https://user-images.githubusercontent.com/28615674/40171365-afc0aaea-59e8-11e8-953e-8f31d00c9839.png)

[2018-05-17 10:35] muruGanesan commented on #945
@invincibleJai,  Thanks.

1) In step 2# : "Build has started. Can view logs for more info." - make sense...
2)

[2018-05-17 11:13] rgarg1 commented on #3574
https://openshift.io/openshiftio/openshiftio/plan/detail/2352

[2018-05-17 11:13] rgarg1 commented on #3573
Cc @michaelkleinhenz

[2018-05-17 11:17] lordofthejars opened #3577 "Evaluating Concourse CI"
https://concourse-ci.org/

[2018-05-17 11:17] lordofthejars commented on #3570
Concourse CI: https://github.com/openshiftio/openshift.io/issues/3577

[2018-05-17 11:26] ppitonak commented on #3569
@joshuawilson we don't need ID, it can be value or name of the input tag. We just need it to be page-unique (application-unique is even safer).

[2018-05-17 11:31] rupalibehera opened #3578 "Evaluate Travis CI"
Evaluate Travis Ci to check if it can be the next build service we are looking for

[2018-05-17 11:32] rupalibehera commented on #3570
Travis Ci: https://github.com/openshiftio/openshift.io/issues/3578

[2018-05-17 11:45] jyasveer commented on #3241
@rahulmanchanda
I got to know from @joshuawilson that you are handling the `Woopra` integration in OSIO to capture User's behaviour data for analytics.

I want to understand more about this on the following points below :-
1. Are there any guidelines set to integrate this woopra service
2. Is there a implementation already in OSIO ?
3. As per the config object here https://docs.woopra.com/v3.0/ref

[2018-05-17 11:59] chmouel commented on #1913
I have been investigating the issue and can't reproduce.

Looking at the obvious culpurit openshift-sync-plugin, it seems that this commit would address it :

https://github.com/fabric8io/jenkins-sync-plugin/commit/ff752044ad2024c11535f61e037429673988a681

I am trying to reproduce this issue and see if I can add some debug,

[2018-05-17 12:32] jaseemabid commented on #3570
### A framework for evaluating services for Build.Next

We need a set of parameters and critereon to evaluate each of the canidates in
an unbiased way. I'm hoping to come up with a minimal list in _at least_ 4
categories - **Build**, **Orchestration**, **Deploy** and **Engineering
Sanity**. The goal is to answer the same set of questions per tool so that the
final comparison is easy and because un

[2018-05-17 12:46] krishnapaparaju commented on #3570
These criteria kinda more specific than list mentioned in the issue, but missing couple of important criteria.   Would be great if you can expand the original list of criteria mentioned.  I guess we take out Bamboo, GitLab from the original list (Deleted). Any compatibility , we might wanna stick with OpenShift than K8S.. a bit more specific as we would be deploying our infra. on OpenShift.
We sur

[2018-05-17 13:09] lordofthejars commented on #3570
I also miss some subpoints in section 2 like: is cloud-native? External dependencies of the system. If it is scalable. And how difficult is to scale up.

Also how multitenant is covered.

[2018-05-17 13:50] ldimaggi commented on #3573
See the supported browser list here:
https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

[2018-05-17 14:37] #3125 closed

[2018-05-17 15:17] bostrt opened #3579 "HTTP 404 in Internet Explorer and Edge"
Internet Explorer and Edge are not supported browsers yet:
  https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

However, I think some clarification on *how* unsupported they are would be useful. For example, is openshift.io going to not work entirely (i.e. front-end not compiled for IE) or is it just not guaranteed to function correctly?

When logging into openshift.io via IE or

[2018-05-17 16:06] GeorgeActon commented on #3513
Please make sure that when this toast notification shows up it does not cover ANY action buttons in the UI. This is currently an issue in the planner and we should learn from that experience

[2018-05-17 17:10] invincibleJai commented on #3513
@GeorgeActon sure, we will not repeat that. In case of launcher notification will be rare event i.e will be shown only in the Summary screen in case of bad request/ some error while making calls to APIs.

[2018-05-17 17:19] gastaldi commented on #3570
Semaphore CI (https://semaphoreci.com) is a much better alternative than CircleCI and Travis for Java projects, in case you're considering other options ;)

[2018-05-17 17:42] lwrigh commented on #2910
Here's a current link to the prototype: https://redhat.invisionapp.com/share/QNGBDSOHP6K

[2018-05-17 18:32] ldimaggi commented on #3500
Seeing a pattern where additional information is available:

The 500/server error returned includes:

[code]

[2018-05-17 18:43] ldimaggi commented on #3500
This is happening repeatedly - this should be a SEV2.

[2018-05-17 18:49] ldimaggi opened #3580 "OSO proxy error in deleting workspace"
In the course of debugging automated API tests, I inadvertently created an OSIO space with an invalid name - where the name included characters that the UI would prevent a user from using in a spacename:  ldimaggi@redhat.com-SDD-space-2018-05-17T09:13:56

In trying to delete this space through the API:

It is possible to GET the space:
curl -s -X GET -H "Authorization: Bearer ${THE_TOKEN}" --heade

[2018-05-17 18:52] alexeykazakov commented on #3580
@xcoulon please take a look

[2018-05-17 19:34] gastaldi commented on #3418
As of https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-launcher-backend/issues/4009/ this is not fixed yet. Reopening

[2018-05-17 19:51] mceledonia commented on #3046
@catrobson @corinnekrych
### Latest design updates to feature flags indicator:

**Keep everything the same but with a few visual changes:**
- Change circle indicator shape to a rounded rectangle
     - 48x48, 8px rounded corners
- Icons for each level are now individual flask icons that are filled to match the different levels
     - This change was to combat concerns around accessibility from usi

[2018-05-17 21:45] piyush1594 commented on #3095
Update

One more PR on launcher backend, that is merged https://github.com/fabric8-launcher/launcher-backend/pull/404

It is in prod by https://github.com/openshiftio/saas-launchpad/pull/134

Changes requested on Jenkins sync plugin are addressed https://github.com/fabric8io/jenkins-sync-plugin/pull/28

PR raised on jenkins-s2i-config with latest binary(jpi) https://github.com/fabric8io/openshift-

[2018-05-18 01:28] #3433 closed

[2018-05-18 04:52] jaseemabid commented on #3570
@krishnapaparaju @lordofthejars As mentioned in mattermost, the draft above is definitely not complete, I just left it here for an early preview. I'll try to work on it over the next couple of days.

[2018-05-18 05:03] #3548 closed

[2018-05-18 05:04] jyasveer commented on #3399
this issue is fixed now

[2018-05-18 05:04] #3399 closed

[2018-05-18 05:16] invincibleJai commented on #3418
As stated by @gastaldi om MM

[2018-05-18 05:33] gastaldi commented on #3418
@invincibleJai I have only noticed that there are three events in Sentry with this error, I don't know exactly how to reproduce it.

https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-launcher-backend/issues/4009/events/

Do you see any error in the console while trying the steps in this issue description?

[2018-05-18 05:40] animuk commented on #3410
@gastaldi I think for summit, It was good to live with one replica. It was more like an contingency plan. But, Once, marketing is planning for GA, we need to increase the replica count for load. As off now, we are thinking of changing existing websocket implementation to Ajax polling .

[2018-05-18 05:50] gastaldi commented on #3410
@animuk Ajax polling won't resolve the issue. The point is that if you do another request, it's highly likely that another replica will be called.

The only solution I see is to introduce a mechanism that shares the state of a projectile launch between multiple replicas in the backend (a distributed cache or a distributed temporary queue)

[2018-05-18 05:57] krishnapaparaju opened #3581 "Evaluate Jenkins for Container CI and CD platform"
this issue covers evaluation of Jenkins for container CI/CD. Here are the criteria going to be evaluated against criteria mentioned at #3570

[2018-05-18 06:17] invincibleJai commented on #3418
ah @gastaldi no console looks good. I saw these events in Sentry we need to figure out what is the pattern.  I am not sure if it can be dude to cache issue for those users and two out of three events were fired on 9th May around same time i.e same user on Mac. On 15th may it's a diff user in fedora.

[2018-05-18 06:34] sahil143 opened #3582 "Safari: No Visual indication when a row is being dragged"
Issue:
1.  Hovering over rows duplicates the drag handle
2. Their is no visual indication when a row is dragged

<img width="1638" alt="screen shot 2018-05-18 at 11 48 52 am" src="https://user-images.githubusercontent.com/9278015/40219132-c5fec770-5a91-11e8-94e7-55c5df3b36eb.png">

[2018-05-18 07:56] xcoulon commented on #1614
I also ran a quick test on prod-preview with a new space and a new workspace, and when deleting the space, the associated workspace was also deleted.
@slemeur can you confirm this issue is resolved and can be closed, now?

[2018-05-18 08:13] rgarg1 commented on #3573
@nimishamukherjee As you are aware, the focus pre-summit was always Chrome. Now that summit is over, detailed validation of other browsers will start. Hence, the placeholder. I originally created a task.

[2018-05-18 08:18] sthaha commented on #3570
@jaseemabid @krishnapaparaju

Is this something the build tool must address? i.e. should it be able to build and publish npm, gems, jars etc ? If so, what is the minimal set of languages that build.next must support?

[2018-05-18 08:27] sthaha commented on #3570
@jaseemabid

Why k8s instead of openshift?

[2018-05-18 08:29] sthaha commented on #3570
@jaseemabid @krishnapaparaju

Shouldn't we also look at how much work is involved in integrating OSIO auth (authentication and authorisation) into the engine?

[2018-05-18 09:40] rupalibehera opened #3583 "Cluster wide tenant wide update to Jenkins version 4.0.76 and 4.0.77"
@aslakknutsen ,
This update solves openshiftio/openshift.io#3466 and openshiftio/openshift.io#3095, details in this here https://github.com/openshiftio/saas-openshiftio/pull/883 once this is merged we can do the update.

Let me know if you need something else from me.

[2018-05-18 09:42] rupalibehera commented on #3466
I have raised a PR here https://github.com/openshiftio/saas-openshiftio/pull/883 to update in prod and also raised issue https://github.com/openshiftio/openshift.io/issues/3583 for cluster wide update.

[2018-05-18 09:56] SMahil commented on #3475
PR: https://github.com/fabric8-ui/fabric8-ui/pull/2885

[2018-05-18 10:03] animuk commented on #3410
@gastaldi As the polling keeps generating new requests, eventually it will call the original replica again in subsequent calls. As we are targeting for 500 concurrent requests, We might go into issue with scalability with only one pod. As per our last analysis, It is recommended to go with 3 replicas.

[2018-05-18 10:52] sivaavkd commented on #2063
@sunix @ibuziuk any comments on this please? cc @invincibleJai

[2018-05-18 10:54] sivaavkd commented on #3407
@humaton this is moved from Sev3 to Sev2.  Any update on this please ? cc @msrb

[2018-05-18 11:10] ravsa opened #3584 "[5] Create a service to generate effective POM"
#### User Story:

As an OSIO Developer, I will be able to get effective POM for normal POM.

#### Description:
In `Dependency-Editor` we are passing boosters or other maven projects which might not have an effective POM and `Dependency-Editor` further calls the Analytics APIs for insights and all which requires effective POM to process. So the goal is to create a service to automate the process of

[2018-05-18 11:24] jyasveer opened #3585 "Semantic release for ngx-launcher fails to publish release notes on github"
- Post commit build for https://github.com/fabric8-launcher/ngx-launcher is releasing a new version to npm registry but it is failing to publish the release notes on github for the same.

Here is the build logs to refer :-
https://ci.centos.org/view/Devtools/job/devtools-ngx-launcher-npm-publish-build-master/48/console

[2018-05-18 11:47] ppitonak opened #3586 "Prod-preview: cannot close Create application dialog"
1. login to https://prod-preview.openshift.io
2. create a space
3. close the "Create an application" dialog using button in top-right corner

result:
* nothing happens, dialog stays visible

![osio_create_app_cancel](https://user-images.githubusercontent.com/445100/40233106-f843068c-5aa1-11e8-9d88-7661974079c8.png)

[2018-05-18 11:49] ldimaggi commented on #3586
Is an error logged to the browser console?

[2018-05-18 11:53] tisnik opened #3587 "[1] Add fabric8-analytics-npm-insights repository into the QA dashboard"
The origin is here:
https://github.com/fabric8-analytics/fabric8-analytics-npm-insights

### Acceptance criteria:

- [x] Pylint is setup
- [x] Pydocstyle is setup
- [x] Unit test coverage is measured
- [x] Cyclomatic complexity is measured
- [x] Maintainability index is measured
- [x] All results are displayed on the QA Dashboard
- [x] Unit test coverage for this repo is included in week status re

[2018-05-18 12:04] ppitonak commented on #3586
No errors in browser console

[2018-05-18 12:42] piyush1594 commented on #3095
Update

Testing done by @hrishin and @rupalibehera, all worked fine.

PR on sync plugin is merged https://github.com/fabric8io/jenkins-sync-plugin/pull/28

PR on jenkins-s2i-config with latest binary(jpi) https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/170 is there, we will merge it on Monday and will do the tenant wise update. After that you can do the respective changes in launche

[2018-05-18 12:48] xcoulon commented on #1614
thanks for the confirmation, @slemeur. Closing the issue now :)

[2018-05-18 12:48] #1614 closed

[2018-05-18 13:02] tisnik opened #3588 "Unit tests code coverage needs to be setup on CI for the fabric8-analytics-npm-insights repository"
Currently, no test coverage is reported for the `fabric8-analytics-npm-insights`. We'd like to implement this feature.

## Acceptance criteria
- [x] unit test are run (via `runtest.sh`)
- [x] code coverage is reported via `pycov` in the same way as in other repositories

[2018-05-18 13:10] tisnik commented on #3587
Blocked by https://github.com/openshiftio/openshift.io/issues/3588

[2018-05-18 13:14] joshuawilson commented on #3475
@SMahil if that fixes this issue, please close this.

[2018-05-18 13:19] tisnik commented on #3587
Depends on https://github.com/fabric8-analytics/fabric8-analytics-npm-insights/pull/22

[2018-05-18 13:20] joshuawilson commented on #3573
Who said that the focus was to be Chrome? For 2 yrs now we have said it should work on all major browsers. It might be that any issue regarding FF or Safari was marked at a lower priority but that doesn't mean we didn't have it as a requirement from day 1.

[2018-05-18 13:23] #3475 closed, assigned to SMahil

[2018-05-18 13:34] aptmac commented on #3126
This functionality was introduced in: https://github.com/fabric8-ui/fabric8-ui/pull/2917

[2018-05-18 13:34] #3126 closed

[2018-05-18 14:15] rohitkrai03 commented on #3481
@aptmac I could not reproduce it on prod or prod-preview.

[2018-05-18 14:36] aptmac commented on #3481
Hmm, I was able to reproduce on production twice in two attempts. I'm wondering if there's something racy happening with the app launcher and that's what's causing the issue.

gif:
![409](https://user-images.githubusercontent.com/10425301/40240755-4da4100a-5a87-11e8-8f59-dc3941f9de85.gif)

[2018-05-18 14:47] ldimaggi commented on #3481
I am still seeing this problem - consistently.:

![frame-010](https://user-images.githubusercontent.com/642621/40241376-e22b2c9e-5a88-11e8-8c78-63bca4865781.jpg)

[2018-05-18 15:23] aptmac opened #3589 "Adding an application from a non-space page causes TypeError: Cannot read property 'id' of null"
In a recent commit [0], the add-app-overlay component was changed to check the id of the current space [1]. However, this overlay can be launched via the add-space-overlay from non-space related pages (e.g., profile, home, all spaces, etc). When done so, it causes a TypeError because the code [1] is looking for the id of something that doesn't exist.

Example:
![example](https://user-images.github

[2018-05-18 15:33] tisnik commented on #3587
Depends on https://github.com/fabric8-analytics/fabric8-analytics-npm-insights/pull/23

[2018-05-18 15:39] jiekang opened #3590 "Features Opt-in settings page allows for deselected state"
By clicking a selected list item, it becomes unselected, which is strange because a level must be selected. I don't think it affects anything outside of UX.

![features-unselect](https://user-images.githubusercontent.com/5430520/40244134-03cb6646-5a90-11e8-8f37-03fd4ee530a0.png)

[2018-05-18 16:02] tisnik commented on #3555
ATM we are at 99%, but results are not displayed on the QA Dashboard.
We are blocked by https://github.com/openshiftio/openshiftio-cico-jobs/pull/656

[2018-05-18 16:03] tisnik commented on #3563
Blocked by https://github.com/openshiftio/openshiftio-cico-jobs/pull/662

[2018-05-18 16:05] #3454 closed

[2018-05-18 16:05] tisnik commented on #3543
Blocked by openshiftio/openshiftio-cico-jobs#656

[2018-05-18 16:09] hrishin commented on #2729
### Update:

Upstream PR https://github.com/jenkinsci/kubernetes-plugin/pull/322 is still under review (no response from upstream maintainers yet).
For the time being shall we fork the upstream project in fabric8 github org and shipt the plugin version from fork? (though I'm against of maitaining the upstream fork)

cc: @krishnapaparaju @maxandersen @pradeepto @rupalibehera

[2018-05-18 17:19] joshuawilson commented on #3500
could be related to #3556

[2018-05-18 17:35] dlabrecq commented on #3462
The router links are generated using WorkItemService from Planner, like so:

[routerLink]="[contextPath | async, 'plan', 'detail', workItem.attributes['system.number']]"

During my test, this routed me to the Planner page and showed the expected work item. If this is not a valid router URL, please advise?

[2018-05-18 17:40] andrewazores commented on #3462
The CreateWorkItemWidget does it that way, but the links look like this:

`[routerLink]="['/', loggedInUser.attributes.username, currentSpace.attributes.name, 'plan', 'detail', workItem.id]"`

in the WorkItemsComponent and WorkItemWidgetComponent. Without digging into it further this looks like it would match the bug description I gave - my username should not be part of the created workitem URL.

[2018-05-18 17:48] dlabrecq commented on #3462
The CreateWorkItemWidgetComponent is shown on the home dashboard, which only shows "My Work Items".

The WorkItemWidgetComponent is shown on the space dashboard, which shows a summary for all work items; total open, resolved, etc. It doesn't provide links to individual work items. The only link takes you directly to Planner -- it doesn't take you to a specific work item.

[2018-05-18 17:53] andrewazores commented on #3462
I don't really know much about these widgets - there appear to be three separate ones in the codebase, so I don't know which is meant to be displayed where or why. I have marked them A/B/C/D in their titles in my local build here so I can try to understand this.

This is what my homepage looks like:

![screenshot_2018-05-18_13-49-58](https://user-images.githubusercontent.com/3787464/40249909-8b310

[2018-05-18 17:55] dlabrecq commented on #3462
Seems there are two WorkItemWidgetComponent components. Found one under dash-board-widgets and another under home.

[2018-05-18 17:55] andrewazores commented on #3462
I have the same widgets on production openshift.io as well, with the same behaviour.

[2018-05-18 17:57] joshuawilson commented on #3586
I can't reproduce this.

[2018-05-18 17:58] andrewazores commented on #3462
$ ag -l "my work items"
src/app/profile/overview/work-items/work-items.component.html
src/app/home/work-item-widget/work-item-widget.component.html
src/app/dashboard-widgets/create-work-item-widget/create-work-item-widget.component.html

There are three different components providing what appears to be various forms or versions of the work items widget. The work-item-widget-component actually cont

[2018-05-18 18:35] dlabrecq commented on #3462
Just to clarify. The WorkItemWidgetComponent (doesn't work), displayed on the home dashboard, uses this router link:

[routerLink]="['/', loggedInUser.attributes.username, currentSpace.attributes.name, 'plan', 'detail', workItem.id]" class="f8-list-group-item-link">

While CreateWorkItemWidgetComponent (reported to work), displayed on the old space dashboard, uses this router link:

[routerLink]="

[2018-05-18 18:35] dlabrecq commented on #3462
Looking at the screenshot, I don't see a space name selection -- the menu is blank. However, it appears that the component is showing work items for a recently visited space. The work items should be filtered by the logged-in user. Regardless, the component shouldn't show any work items that don't belong to the user.

Note that we still don't have an API to retrieve the spaces a user owns, so we h

[2018-05-18 18:39] dlabrecq commented on #3462
Are there any errors in the console that might help reproduce your scenario?

[2018-05-18 18:42] andrewazores commented on #3462
No, I don't see any errors in the console or the Network tab. There are a few CORS warnings like this:

[code]

but I'm not sure if these are actually related.

[2018-05-18 18:46] dlabrecq commented on #3462
Is your menu truly empty without any options? Both screen shots look like that.

Wondering what happens if you're able to make a selection. Maybe you can also try visiting another space to see if the menu is populated?

Sorry for all the questions, but having a hard time reproducing the problem.

[2018-05-18 18:49] andrewazores commented on #3462
Yes, the menu dropdown really does come up empty. If I do click on it there are items for my spaces, as well as the "Select a space" text item. It seems that this occurs when the most recently visited space was not one that I own. If I visit the openshiftio/openshiftio space for example and then go back to my account home, the widget will be in the state pictured. If I visit one of my own spaces o

[2018-05-18 19:01] dlabrecq commented on #3462
I'm able to reproduce after assigning myself to a work item in the openshiftio/openshiftio space.

[2018-05-18 19:47] CermakM commented on #3180
The issue has been solved.

Corresponding commit: https://github.com/fabric8-analytics/fabric8-analytics-nvd-toolkit/commit/be45437d5fce27cad98abb9fb5222403221ce52a

[2018-05-18 19:47] #3180 closed

[2018-05-18 20:17] dlabrecq commented on #3462
In order to navigate to a work item correctly, we need to construct a link using the space owner -- not the logged in user. Otherwise, this widget can only show "My Work Items" for "My spaces".

The widget only understands what space the work item belongs to, but not who owns the space. (This is also why the menu shows a blank selection.) Unfortunately, WorkItem objects contain no information abou

[2018-05-18 20:54] dlabrecq commented on #3462
See PR: https://github.com/fabric8-ui/fabric8-ui/pull/2925

[2018-05-18 23:06] #3327 closed

[2018-05-19 16:46] sunilk747 commented on #3401
Here is the report on load testing of above API endpoints - https://docs.google.com/spreadsheets/d/1a-1wYGpkuw7BWpguhQTBUnEHOEY5EQYnaJ_GSpH_FNQ/edit?usp=sharing

[2018-05-21 04:19] krishnapaparaju commented on #3570
@sthaha integration into OSIO Auth is key, the front ending build service (API endpoint) would be integrated into OSIO Auth,  we have couple of working API end points already been integrated with OSIO Auth. Multi-tenancy is already present in the list of criteria mentioned.

[2018-05-21 04:47] joshuawilson commented on #3484
@michaelkleinhenz @nimishamukherjee can you find out if this is required by the planner?

[2018-05-21 04:51] rhopp commented on #3586
I was able to reproduce it on friday and I'm still able to. See screencast:
![peek 2018-05-21 06-47](https://user-images.githubusercontent.com/1215011/40291110-16ee0cb2-5cc3-11e8-9cb9-5c7b833c48a5.gif)

I was able to reproduce using Beta, Experimental and Internal feature opt-in. This is not happening when on Production features toggle, because it uses old create space experience.

[2018-05-21 06:32] ppitonak commented on #3586
@joshuawilson it seems to be a Firefox issues. I have Firefox 60.0

[2018-05-21 06:34] rhopp commented on #3586
I forgot to add my env: Chrome 67.0.3396.40

[2018-05-21 06:51] piyush1594 opened #3591 "[UI] shows old launcher screen on profile page"
Steps to produce:

1. Reset your Environment or Make sure you have zero space created
2. Navigate to profile page -> https://openshift.io/username/
![first](https://user-images.githubusercontent.com/19270240/40293766-08c1e1fe-5cf0-11e8-87d2-8a25260ef983.png)

3. Click on create space and it will show you old wizard according to the image shown below
![two](https://user-images.githubusercontent.com

[2018-05-21 07:07] jyasveer commented on #3586
@animuk
i tried with Firefox 52.8.0 and Chrome 66.0.3359.181. This closing action is working fine for me. I can't test with the above said browser versions because manual updating is disabled in our macs.

We have to debug this in another system who has these browser versions.

[2018-05-21 08:18] humaton commented on #3407
@sivaavkd I think this should be fixed.

[2018-05-21 08:37] tisnik opened #3592 "Improve code coverage in fabric8-geminy-server to at least 90%"
Repository https://github.com/fabric8-analytics/fabric8-gemini-server

## Current status:
[code]

## Acceptance criteria:

- [x] unit test are setup to run on each pull request
- [x] code coverage is measured for all unit tests
- [x] unit test code coverage over 90%
- [x] code coverage report is displayed on the QA Dashboard

## Links

QA Dashboard: https://fabric8-analytics.github.io/dashboard/da

[2018-05-21 08:38] Veethika commented on #3147
I agree to your suggestion @Preeticp . 'There are no work items linked to this issue' gives more clarity, and we could do away with 'Work Item Links'.
Unless its a consistent structure we're following here @catrobson?

[2018-05-21 08:39] tisnik commented on #3555
Current status:

[code]

[2018-05-21 08:39] #3555 closed

[2018-05-21 08:41] tisnik commented on #3543
current status:

[code]

[2018-05-21 08:41] #3543 closed

[2018-05-21 11:29] parvathyvr commented on #3545
Invision link for the mockups : https://redhat.invisionapp.com/share/4BJ3MCL9D3G#/298240619_Table_Of_Contents .Feel free to comment for any changes.

[2018-05-21 11:31] parvathyvr commented on #3546
Invision mockup link: https://redhat.invisionapp.com/share/V3J3MK8Y2M8#/298265078_Table_Of_Contents
Feel free to comment for any changes.

[2018-05-21 11:35] sanketpathak opened #3593 "Post Stack API call not happening in prod-preview"
I am testing dependency editor in prod-preview and getting 400 bad request for the Stack Analyses Post call.
My inputs are :
[code]
Error it is giving is:
`error: "Error processing request. Please upload a valid manifest files."`

[2018-05-21 11:57] debloper commented on #3573
https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

@ldimaggi that list is gonna get obsolete really fast and will need continuous docs update to stay relevant, and I think the better way to express the supported versions by saying it the way Joshua explained it `current version -2`.

@joshuawilson I believe @rgarg1's point was, _"even though we target to make it work on all the l

[2018-05-21 12:00] Veethika opened #3594 "Experience for Board View for Planner"
To come up with the overall experience for the board view for planner.
Story link: https://openshift.io/openshiftio/openshiftio/plan/detail/2073

[2018-05-21 12:33] qodfathr commented on #3574
@joshuawilson it should be added to bottom of backlog (under the relevant experience) and PM will prioritize as appropriate.

There may need to be a new Fundamental regarding accessibility, with a child Experience for keyboard operation/navigation in OSIO, as this feels like a cross-cutting concern.

[2018-05-21 12:39] qodfathr commented on #3347
Let's make sure we get UXD's viewpoint on the proper behavior. I can imagine all sorts of possibilities.

1. Any action requiring the user to be logged in, when attempted, sends the user to the log in experience.
2. Any action requiring the user to be logged in is not presented in the UI at all.
3. The display of data requiring the user to be logged in is replaced with placeholder text (e.g. "Plea

[2018-05-21 12:43] #1753 closed

[2018-05-21 13:05] bdellasc commented on #2875
Because of the amount of time the exploration is taking, I'm going to spin off the final animation work into a separate story. I'd like to finish this week with preference down to one or two general directions for the final animation.

[2018-05-21 13:06] muruGanesan commented on #3142
Here is the latest Invision link:
https://redhat.invisionapp.com/d/#/console/14290293/297713090/comments/98120452

[2018-05-21 13:10] muruGanesan commented on #3142
Currently, we delivered the minimum viable product (MVP) for Teams...

[2018-05-21 13:15] stacymcauliffe commented on #3491
Completed first review of terms and identified several issues of overlap and interest between OSIO, OSO, and Tectonic - scheduling review with OSO team (Colleen and Serena). Will begin working to consolidate feedback and recommendations

[2018-05-21 13:25] #3373 closed, assigned to AdamJ

[2018-05-21 13:25] joshuawilson opened #3595 "Planner Add item looks like a search"
Many users, including our own devs continue to try to search via the `add new item` line at the top of the list. This would only be mildly annoying if you could delete work items, but since we can't this adds permanent issues to the system.

[2018-05-21 13:30] stacymcauliffe commented on #2886
This work is complete - additional visual work being addressed in #3366

[2018-05-21 13:30] #2886 closed

[2018-05-21 13:40] msrb commented on #3407
I think this was already fixed in https://github.com/fabric8-analytics/fabric8-analytics-worker/commit/5f43c8a0cb39d89b5fd87006c806ead57313019b (?)

[2018-05-21 13:42] bdellasc opened #3596 "Visuals: Indicate validation error in previous steps"
- [x] Provide visual guidance for use case in [this story](https://github.com/fabric8-launcher/ngx-launcher/issues/209)
- [x] Post an InVision prototype showing the design

[2018-05-21 13:51] RickJWagner commented on #3579
Notable:  This issue tracker is in response to a Red Hat support ticket.

[2018-05-21 14:02] humaton commented on #3407
Yes, that is it.

[2018-05-21 14:39] ldimaggi commented on #3142
The most recent link is private - can you open it up for reviewers? Thx!

[2018-05-21 14:46] AshishDurgude commented on #3142
This is the latest Invision link:
https://redhat.invisionapp.com/share/GTJ4AJG8A3K
This will allow comments on the prototype.

[2018-05-21 14:48] pmacik opened #3597 "[Create Space] button on _myspaces page opens obsolete legacy wizard"
![image](https://user-images.githubusercontent.com/3263627/40313739-b906f560-5d16-11e8-92d8-3f34dff81b2e.png)
![image](https://user-images.githubusercontent.com/3263627/40313754-c0fac2ec-5d16-11e8-944a-bf547008901b.png)

[2018-05-21 14:50] pmacik commented on #3597
Happens to a user with all feature levels.

[2018-05-21 15:26] joshuawilson commented on #3579
@mindreeper2420 did you come across this in your compatibility testing?

[2018-05-21 15:31] tisnik commented on #3587
PR with changes made in repository: https://github.com/fabric8-analytics/fabric8-analytics-npm-insights/pull/25

[2018-05-21 15:38] #3587 closed

[2018-05-21 15:43] joshuawilson commented on #3585
the log says:

[code]

[2018-05-21 15:57] sivaavkd opened #3598 "Unable to edit Planner items created by others"
Here is an example:
2164 was created by Mitesh.  Both Bob and Brad tried to edit it and they cannot ("Problem in update Workitem").  However, I am able to edit.  So, Bob created another item 2395 and I am able to edit that too.

Is there any additional step that needs to be done to get these accesses properly set ?

cc @bmicklea @miteshvp

[2018-05-21 16:02] joshuawilson commented on #3598
I think you might not be Contributors on the Space. I was able to change Bob's issue to closed.

[2018-05-21 16:53] joshuawilson commented on #3552
cc @openshiftio/uxd-team

[2018-05-21 17:11] joshuawilson commented on #3527
What is the status on this?

[2018-05-21 17:43] joshuawilson commented on #3516
I'm guessing this is the Space name?

[2018-05-21 17:46] joshuawilson commented on #3503
Is this a refresh issue? or does not delete it all?

[2018-05-21 17:49] joshuawilson commented on #3508
It looks like we need to either store the specials and the whole line as a string. Or we have to restore the escaped characters. It depends on what the backend is doing and needs.

[2018-05-21 18:02] lwrigh opened #3599 "Visual Design: Space Permissions"
### Description
Visual design needed for space permissions wireframes.

### Parent Issue(s)
- #2075
- #2069

### Interaction Design Issue
- #2910

### Verification Criteria
- [ ] Visual design posted to the same InVision project as the wireframes
- [ ] Visual design reviewed by UXD, Dev, PM

[2018-05-21 18:31] alexeykazakov commented on #2867
I don't thin it's related to https://github.com/openshiftio/openshift.io/issues/3503
We don't prevent space deletion (and do not pass this error to UI) if auth failed to delete the space resource in Keycloak.

[2018-05-21 18:32] alexeykazakov commented on #3503
Maybe related to https://github.com/openshiftio/openshift.io/issues/3580

[2018-05-21 18:46] ldimaggi commented on #3503
See: #3580

The error is due to the spaces including characters that the UI prevents the users from including in space names.

@rgarg1  To confirm - try this with a space (name) that is created in the UI.

[2018-05-21 18:57] ldimaggi commented on #3536
Note - After the user confirms the deletion - there is a ~5+ second delay until the space is deleted. During this time - there is no feedback to the user and nothing is written to the browser console log. Also, there is no feedback to the user after the deletion is complete:

![screenshot from 2018-05-21 14-53-59](https://user-images.githubusercontent.com/642621/40324678-365159c6-5d07-11e8-901e-6f

[2018-05-21 18:59] ldimaggi commented on #3527
This problem look like it has been resolved. The user on the 1a cluster was successful late last week and the 1b cluster started working over the weekend.

One big question before we close this issue - what exactly was changed by whom and when? Thx!

https://ci.centos.org/view/Devtools/job/devtools-test-e2e-openshift.io-logintest-cluster-1a/
https://ci.centos.org/view/Devtools/job/devtools-test-e2

[2018-05-21 19:11] ldimaggi commented on #3579
I was not able to recreate this error with the Edge browser:

![screenshot 1](https://user-images.githubusercontent.com/642621/40325227-f434bf2c-5d08-11e8-8e97-c4742b0905a4.png)
![screenshot 2](https://user-images.githubusercontent.com/642621/40325228-f4566500-5d08-11e8-8b02-f00aa1d137de.png)

I was, however, able to recreate the issue by launching IE from within Edge:

![screenshot 3](https://use

[2018-05-21 19:28] bostrt commented on #3579
Turns out I reproduced the issue on a grossly outdated version of Microsoft Edge. Updating it now and checking again.

[2018-05-21 19:37] bostrt commented on #3579
Re-tested on Edge 42 and no longer experience the issue. However, I did notice that a different *chunk.js file was requested and not https://openshift.io/_assets/lib/8.46625a184663c65948d8.chunk.js.

[2018-05-21 20:02] joshuawilson commented on #3579
Was it a chunk (refresh) issue or was it an issue with a specific version of a browser?

[2018-05-21 20:10] joshuawilson commented on #3480
cc @openshiftio/uxd-team

[2018-05-21 20:13] bostrt commented on #3579
@joshuawilson I'm not sure beyond my observations.

My old Edge browser instance is still trying to load 8.46625a184663c65948d8.chunk.js even after clearing the cache whereas the newer version successfully loads another chunk.js file (I can pull the exact file name if needed).

[2018-05-21 20:15] joshuawilson commented on #3579
Can you try a hard refresh `ctl+shft+R` in your old browser?

[2018-05-21 20:16] joshuawilson commented on #3246
Are you able to repeat this?

cc @christianvogt

[2018-05-21 20:31] mindreeper2420 commented on #3579
@joshuawilson The base HTML/CSS framework is compatible with IE 10+, but I do not know about any of the JS work or how things are being served to the front end.

During my testing (when the compatibility list was created and then subsequently updated), there were some issues (animations and such), but nothing breaking.

[2018-05-22 00:17] catrobson commented on #3536
We need to add Search to find other spaces to the /_myspaces page so that we can remove this page from the application all together.  This is the longer term UXD plan for this page - retire it.

[2018-05-22 01:06] catrobson commented on #3347
@openshiftio/uxd-team

Right now our strategy mostly aligns to Todd's outline about, and is that:
* The user should be able to navigate to most screens, regardless of their logged in status.  There are a few exceptions outlined here in the 'log in required' column: https://docs.google.com/spreadsheets/d/1cNSDuek0v1EBPpdPlFwG_Y_yOlux86m9MYf9UrF82l4/edit?usp=drive_web&ouid=110291179327641160262.  Go

[2018-05-22 01:13] joshuawilson commented on #3347
We also have an interesting case when a whole page (like the Planner) is behind a feature flag. Currently it shows the page that tells them they need to change the settings. But they would need to be logged in to see it. Should this page be completely hidden from a non-logged in user?

[2018-05-22 01:26] joshuawilson commented on #3316
Is this done? Can we close it?

[2018-05-22 01:28] joshuawilson commented on #3414
what is the status of this?

[2018-05-22 01:33] joshuawilson commented on #2997
@sunilmalagi please don't set the status to `completed` unless you have implemented the fix and it is in prod. Or if this is only a UX issue. It makes it look like it is done and should be closed.

@nimishamukherjee @michaelkleinhenz I agree that NA is wrong. I spoke to @qodfathr about it and he suggested to use either a slash `/` or the root name. I'm partial to just a slash, it is cleaner.

[2018-05-22 04:27] miteshvp opened #3600 "Planner - not listing all the fundamentals under an iteration"
Planner does not list all the fundamentals for a selected iteration.

1. Select Scenarios
2. Filter by `Area Analytics`
3. See Fundamental 2097 listed.
4. Quick view to see Fundamental belongs to `Iteration Iris`
5. Select Iteration Iris
6. Filter by `Area Analytics`
7. Fundamental `2097` is not listed even the iteration is set correctly to `Iris`

See below snapshots

<img width="1201" alt="image

[2018-05-22 04:43] joshuawilson commented on #3600
@qodfathr this is exactly the problem I had. The current layout makes the user think the iteration is a filter that can be applied to all levels.

@miteshvp currently the iteration only displays Features, Tasks, and Bugs. Adding the iteration to the Experience has no value. I agree with you, it should be enough to appear there so we can plan the next train by putting the Experience, without any ch

[2018-05-22 05:26] miteshvp commented on #3600
@joshuawilson - thanks for the explanation

[2018-05-22 05:54] sunilmalagi commented on #2913
UI cleanup done based on existing review feedback.

[2018-05-22 05:54] #2913 closed

[2018-05-22 06:25] corinnekrych commented on #3316
@joshuawilson nope, PR are done for backend. we mis ui one. I'll do that in this sprint.

[2018-05-22 06:41] Raunak1203 opened #3601 "Linking issue"
- Click Scenario, Create a work item
- Click Requirement, create a workitem of type bug
- Now create a link b/w these 2 and try deleting a link.
It throws error
![peek 2018-05-22 11-44](https://user-images.githubusercontent.com/34271052/40345129-8d58496a-5db5-11e8-86f7-00a2d02c5054.gif)

[2018-05-22 06:48] sunilk747 commented on #3400
Here is the link to all the blank booster for each runtime:
- [vert.x](https://github.com/fabric8-analytics/vertx-blank-booster.git)
- [springboot](https://github.com/fabric8-analytics/springboot-blank-booster.git)
- [wildflyswarm](https://github.com/fabric8-analytics/wfswarm-blank-booster.git)

[2018-05-22 06:48] #3400 closed

[2018-05-22 07:38] tisnik commented on #3563
Complexity part: https://github.com/fabric8-analytics/fabric8-analytics-ingestion/pull/9

[2018-05-22 07:39] #3563 closed

[2018-05-22 07:41] tisnik commented on #3588
Measured:
[code]

[2018-05-22 07:41] #3588 closed

[2018-05-22 07:47] chmouel opened #3602 "Evaluate JenkinsX for build.next"
Picked this from the list on https://github.com/openshiftio/openshift.io/issues/3570

Evaluate JenkinsX to check if it can be the next build service we are looking for

[2018-05-22 07:59] hrishin opened #3603 "Evaluate Drone for build.next"
[Drone](http://drone.io) from #3570

[2018-05-22 08:02] rohanKanojia opened #3604 "Evaluate Zuul for build.next"
Evaluate Zuul CI to check if it can be the next build service we are looking for: https://zuul-ci.org/
#3570

[2018-05-22 08:48] rhopp commented on #3414
This is something which is returning from time to time (last time it was yesterday). It blocks almost all code to be buit and test to be run in ci.centos.org. Hopefully, build.next will come soon and we won't have to deal with ci.centos.org anytmore.
This issue is usually escalated to KB/Brian Stinson/CentOS issue tracker and after they do their magic, things work for some time again...

[2018-05-22 09:29] jaseemabid commented on #3604
Leaving some useful links.

https://techcrunch.com/2018/05/21/openstack-spins-out-its-zuul-open-source-ci-cd-platform
https://www.businesswire.com/news/home/20180521005376/en/Open-Source-CICD-Platform-Zuul-Releases-V3

[2018-05-22 10:17] tisnik opened #3605 "[1] Integration test enhancements - waiting for package analysis finish in the S3"
The following test step would need to be implemented in our integration tests:
`When I wait for new toplevel data for the package {package} in ecosystem {ecosystem} in the AWS S3 database bucket {bucket}`

## Acceptance criteria

- [ ] new test step is implemented
- [ ] it is used in at least one test

[2018-05-22 10:19] corinnekrych commented on #3569
Like @aptmac and @kpiwko said the id were removed bc we now used [patternfly-ng radio button](https://github.com/patternfly/patternfly-ng/blob/master/src/app/list/basic-list/list.component.html#L70). In `fabric8-ui` we don't control the HTML content of the input anymore.
cc @ppitonak @joshuawilson

* option1: I could add an `id` (in red) but you have to do a CSS xpath query like: give me the input

[2018-05-22 10:30] #2940 closed

[2018-05-22 10:45] tisnik commented on #1077
depends on #3605

[2018-05-22 10:45] michaelkleinhenz commented on #3600
@miteshvp Yes, as @joshuawilson said, the Iteration tree is considered "Execution Level" and only shows Features, Tasks and Bugs. Refer to the type level diagram to see how the levels are structured: https://docs.google.com/presentation/d/1t-WQvqrIlOjW6qTzpFFkzGtwgjQU72ex4uOiiJB9sUM/edit#slide=id.g2c696f2514_0_14

[2018-05-22 11:01] michaelkleinhenz commented on #3573
A consequence is that we need to run the tests on all supported browsers then, not only Chrome. For functional as well as unit tests. That would mean we need to work on the test framework (again).

[2018-05-22 11:03] michaelkleinhenz commented on #3573
I wouldn't consider this a bug, it is an architectural issue. On the implementation as well as on the ci/cd side. We create a Fundamental for this. This will take a *lot* of work.

[2018-05-22 11:05] michaelkleinhenz commented on #3595
Looks like we need a feature request for this. Can you write a story for it?

[2018-05-22 11:12] michaelkleinhenz commented on #3462
@dlabrecq This is an interesting issue. It tackles the architecture in fact. So here's the key: you should not use an assembled router link for referring to the detail page of a work item. This is not (yet) supported or recommended. The router link resembles the URL and both might and can change. There is a story for providing a deep link URL for a WI on the JSONAPI structure: https://openshift.io

[2018-05-22 11:13] michaelkleinhenz commented on #3462
We should do a new story for this.

[2018-05-22 11:42] jaseemabid opened #3606 "Evaluate Prow for #3570"
See https://github.com/openshiftio/openshift.io/issues/3570 for details.

Results at https://github.com/fabric8io/buildnext/blob/master/Prow.md

[2018-05-22 11:45] AshishDurgude commented on #3142
Hi, @ldimaggi.  I have updated the wireframes with the team description.
Here is the link: https://redhat.invisionapp.com/share/RDJ7172Q9N3

[2018-05-22 11:56] andrewazores commented on #3484
Email subject lines from planner are also escaped. For example, an update for https://openshift.io/openshiftio/openshiftio/plan/detail/2380 has the subject line `[Experience] Define the roles &amp; scopes`. I suspect this has the same root cause on the backend.

[2018-05-22 11:56] corinnekrych commented on #3569
Closing https://github.com/patternfly/patternfly-ng/pull/358 as per @kpiwko suggestion, it leaves us with optiuon1 you can write test with: give me the input whose sibling descendant has an span with class of `icon-experimental`.

[2018-05-22 12:05] ibuziuk commented on #3348
@ldimaggi are you still able to reproduce ?

[2018-05-22 12:20] tisnik commented on #3605
Implementation of the 1st part:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/548

[2018-05-22 12:29] joshuawilson commented on #3595
I made it a SEV2 because the act of "searching" with the add item line creates Scenarios and they can NOT be deleted.

This is really 2 bugs:
1. Can't delete (which has a bug)
2. UX on Add Item is confusing

[2018-05-22 12:36] stooke commented on #3516
Yes, the regex is very permissive.  If we were passing UUIDs throughout, this would be fine, but we pass names, and not just names, names with extra strings tacked on - so it's hard to determine the exact limitations on any given identifier.

In particular, the existing pattern allows spaces, and there have been issues (resolved) around spaces.  There may still be more unsidcovered issues - it's n

[2018-05-22 12:37] joshuawilson commented on #3595
I've created the story at https://openshift.io/openshiftio/openshiftio/plan/detail/2396

[2018-05-22 12:38] ldimaggi opened #3607 "On prod-preview, new space wizard fails to create a new app"
This problem is being seen on prod-preview and not on production.

Steps to recreate:

* Create a new space:
![screenshot from 2018-05-22 08-28-34](https://user-images.githubusercontent.com/642621/40362647-2603f1fc-5d9b-11e8-9824-2b295bc2c143.png)

* Then, without leaving the new space wizard, attempt to create a new app:
![screenshot from 2018-05-22 08-29-31](https://user-images.githubusercontent

[2018-05-22 12:49] joshuawilson commented on #3573
@michaelkleinhenz I've added an Experience here for you to add user stories for this. https://openshift.io/openshiftio/openshiftio/plan/detail/2397

[2018-05-22 12:56] ljelinkova opened #3608 "Failed pipeline"
We've experienced some failed e2e smoketests caused by failed pipeline. This is one example of failed Jenkins job log

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-cluster-one/1266/pipelines-log.html

[2018-05-22 13:03] corinnekrych commented on #3569
@joshuawilson both, but if you think we need the issue to track the test change, feel free to re-open.
In the end the change is not going to happen in fabric8-ui.

[2018-05-22 13:09] joshuawilson commented on #3569
If this still needs to be fixed, it doesn't matter where it get's fixed, then we should keep it open, right?
Or do we need a user-story to plan to fix it?

[2018-05-22 13:10] ppitonak commented on #3586
@jyasveer you can run e2e tests inside docker, just follow instructions in https://github.com/fabric8io/fabric8-test/blob/master/ee_tests/README.md

[2018-05-22 13:10] krishnapaparaju commented on #2729
@hrishin please go ahead with fork and lets target promoting changes to OSIO production by end of this week..

[2018-05-22 13:15] ppitonak commented on #3569
We created a workaround in tests but, in general, we should always address this kind of issues. Patternfly-ng not having a feature is not a reason to close this issue - we either workaround it in fabrid8-ui or ideally fix it in patternfly-ng.

[2018-05-22 13:21] krishnapaparaju commented on #3450
@jaseemabid did you try out  'lower limits' (no change in RAM, go from 2 to 1 cores) and  service not coming up with these lower limits ? Please confirm...

[2018-05-22 13:28] joshuawilson commented on #3607
@jyasveer @animuk @arunkumars08 @invincibleJai please take a look. There are changes in prod-preview that I have yet to merge to prod.

[2018-05-22 13:32] psrna opened #3609 "Cannot see author of a comment in planner"
![screenshot 2018-05-22 15 27 59](https://user-images.githubusercontent.com/2078092/40365625-40557ff0-5dd5-11e8-82f8-bcf235420fba.png)

[2018-05-22 13:33] #3316 closed

[2018-05-22 14:11] joshuawilson commented on #3606
please add labels

[2018-05-22 14:12] joshuawilson commented on #3604
Please add labels.

[2018-05-22 14:12] joshuawilson commented on #3603
Please add labels.

[2018-05-22 14:35] aptmac commented on #3503
When deleting a space, is the expectation that all of it's data should disappear? I'm not quite sure the act of deleting a space is actually deleting it. When creating a new space the console prints out the updated spaces object, and mine contains a bunch of old "deleted" spaces that I had made for testing a while ago.

Example:

I currently only have 4 spaces as seen on the 'My Spaces' page:
![my

[2018-05-22 14:47] #3397 closed

[2018-05-22 14:47] #3386 closed

[2018-05-22 14:48] #3423 closed

[2018-05-22 15:26] aptmac commented on #3110
Yeah I was able to reproduce it just now - changing the page while the donut chart is transitioning from white to blue will cause the error still.

[2018-05-22 16:19] ebaron commented on #3388
When defining a custom resource limit for an application via `src/main/fabric8/deployment.yml`, this limit appears in the pod template for a deployment config:
[code]
If no resource limit customization is present, there will be no resources element specified in the pod template. The per-container defaults can be queried using the LimitRange API [1]. To determine the total needed by one extra pod,

[2018-05-22 16:40] andrewazores commented on #3110
Okay, that's unfortunate.

The c3 bug we had seen was closed, but this recent and still open one looks the same: https://github.com/c3js/c3/issues/2187

[2018-05-22 17:28] stacymcauliffe commented on #3081
@catrobson - yes, this screen shot does display the old text. The updated copy is in this doc beginning on page 4: https://docs.google.com/document/d/1PRKPlg9zOgG9Eu5GZr96GCADPhPnLwZte0jkVx5q3KQ/edit?usp=sharing

We shortened these descriptions significantly and removed a lot of the redundancy called out in this issue. If they're still proving too long, I'm happy to revisit and take another pass!

[2018-05-22 18:14] lwrigh opened #3610 "Toast Notification Best Practices study"
Right now in Openshift.io toast notifications are being shown all the time. Take a look at PatternFly to see if there are any guidelines and start a doc that captures best practices for the kinds of actions that should cause a toast notification.

[ ] Put together document
[ ] Add it into the Wiki that Adam

[2018-05-22 18:27] #2673 closed, assigned to nobody

[2018-05-22 19:35] AdamJ opened #3611 "Update docs.openshift.io Logo"
Update the logo on the docs.openshift.io site to use the OpenShift.io logo, rather than the Red Hat Developer Program logo.

[2018-05-22 21:55] joshuawilson commented on #3607
I confirmed this in prod-preview

[2018-05-23 00:45] ldimaggi opened #3612 "Intermittent issue seen randomly when creating new app"
When creating a new app, the summary screen is sometimes shown as follows:

![screenshot from 2018-05-22 17-10-43](https://user-images.githubusercontent.com/642621/40397453-db3d9e50-5e00-11e8-9ee9-fdbc4e35b622.png)

The app's build pipeline is created correctly. I have not been able to seen any pattern for this issue - nothing is written to the browser console or logs.

[2018-05-23 02:16] joshuawilson commented on #3607
Now I can't reproduce it. I'm concerned about pushing this to prod.

[2018-05-23 02:37] ldimaggi commented on #3607
I just saw it in prod-preview.

[2018-05-23 04:55] gastaldi commented on #2093
https://github.com/fabric8-launcher/launcher-backend/pull/390 just refactors the functionality to use the updated API in launcher-backend. The functionality must still be moved to the build team domain or replaced when Build.next comes up

[2018-05-23 05:29] jyasveer commented on #3607
I have assigned to myself. I am checkin it now

[2018-05-23 05:34] jyasveer commented on #3607
I also can't reproduce this. I don't find any errors here.
@joshuawilson @ldimaggi please confirm ?

[2018-05-23 06:12] Raunak1203 opened #3613 "Iteration issue if the iteration name is long"
2 issues:

- Iteration breaks in side panel if name is long
- Iteration column in data table breaks

![screenshot from 2018-05-23 11-40-13](https://user-images.githubusercontent.com/34271052/40406411-31c535a8-5e7e-11e8-9f16-fc37e1f16e60.png)

[2018-05-23 06:15] Raunak1203 opened #3614 "Non collaborator should be able to edit and delete comment, commented by them"

[2018-05-23 06:17] Raunak1203 opened #3615 "Add workItem input field should be disabled for non collaborator"

[2018-05-23 06:18] Raunak1203 opened #3616 "Should non collaborator be able to link a workitem ?"

[2018-05-23 06:30] ppitonak commented on #3607
I cannot reproduce.

[2018-05-23 06:33] kishansagathiya opened #3617 "Evaluate Spinnaker for build.next"
https://www.spinnaker.io/

Sub issue of https://github.com/openshiftio/openshift.io/issues/3570

[2018-05-23 06:56] jaseemabid commented on #3570
Thanks for the comments folks, I've updated the draft with hopefully all of the
concerns raised here answered.

@krishnapaparaju Even though I'm strongly against the idea of going ahead with
Jenkins, please go ahead if you think it might be an option. I could share the
notes from the discussion I had with the upstream openshift folks regarding
their experience with Jenkins without any of the f8 bi

[2018-05-23 06:59] ppitonak commented on #3607
I'm not sure if it's related but I can reproduce something similar:

1. delete all spaces on "My spaces" page
2. go to "Account home" page
3. I see 2 running (in fact not started) builds - openshift.io link is broken but I can see in OpenShift console that they still exist
4. click "Create space" in top-left menu
5. name it like on of these running pipelines
6. on "Create an Application" leave nam

[2018-05-23 07:05] gastaldi commented on #3570
the service, will you be able to help us by answering the questions in the
evaluation metrics once we (sort of) finalize it?

@jaseemabid sure, I think I may be able to help by answering that, I've had a good experience with it while configuring the Fabric8 Launcher builds.

[2018-05-23 07:50] jyasveer commented on #3607
@joshuawilson @ldimaggi
This is not a blocker for now. This happens in a particular scenario where we propose the default application name as `app-test-1` and this application name is already used in the current space and we click on `Continue` button.
However if we modify the application name to a unique one and then click on the `Continue` button we are good.

Solution for this:
At present i val

[2018-05-23 08:04] ppitonak commented on #3607
@jyasveer we are creating a **new app** in a **new space**, how could be this name already used?

[2018-05-23 08:27] xcoulon opened #3618 "Add tests on the `clean tenant` endpoint"

[2018-05-23 08:28] xcoulon opened #3619 "Add tests to `fabric8-tenant` service"
Increase tests coverage on the `fabric8-tenant` service

[ ] `controller.Tenant`'s `Clean` endpoint: https://github.com/openshiftio/openshift.io/issues/3618

[2018-05-23 08:34] nimishamukherjee commented on #2538
@Veethika @sunilmalagi please comment on this issue

[2018-05-23 08:36] sanbornsen commented on #3609
Duplicate to https://github.com/openshiftio/openshift.io/issues/2940

[2018-05-23 08:42] psrna commented on #3609
@sanbornsen the issue you linked above is closed. But this is still a current problem. We need to reopen that one, or work on this one.

[2018-05-23 08:44] miteshvp commented on #3530
@msrb - any updates?

[2018-05-23 08:44] miteshvp commented on #3531
@msrb - any updates?

[2018-05-23 08:48] rgarg1 opened #3620 "Unable to navigate/click in linked items in Work Item"
_What_
I'm not able to click any links that are in detailed view of a work item. Nothing happens.
This make linking of items useless.

It does not trigger any request and checking code I haven't found any anchor nor onClick handler.

https://user-images.githubusercontent.com/355881/40244680-ca4894b4-5ac3-11e8-88b0-29a3f79986a1.png

_Where_
Production grid, such as https://openshift.io/openshiftio/

[2018-05-23 08:48] rgarg1 commented on #3620
@nimishamukherjee Do you agree with the Severity of this defect?

[2018-05-23 08:57] sanbornsen commented on #3609
@psrna this issue was linked to a commit. As the commit is merged into the master, the issue got closed automatically. I don't suggest you, to close this one, but wait for the production to be updated. It'll take some time.

This PR needs to go in in order to get the changes in `prod-preview` - https://github.com/fabric8-ui/fabric8-ui/pull/2932

[2018-05-23 09:06] Raunak1203 opened #3621 "dropdown Alignment issue in the home page"
![screenshot from 2018-05-23 14-33-57](https://user-images.githubusercontent.com/34271052/40414724-aba16b5e-5e96-11e8-9faa-1d4f96e4dd78.png)

[2018-05-23 09:12] Raunak1203 opened #3622 "Add collaborator dropdown shows Nothing found before any search"
![screenshot from 2018-05-23 14-40-49](https://user-images.githubusercontent.com/34271052/40414948-4d8bf268-5e97-11e8-96a9-f45ad46b3ebe.png)

[2018-05-23 09:15] xcoulon commented on #3580
ok, @alexeykazakov ;)

[2018-05-23 09:36] psrna commented on #3609
@sanbornsen thx for clarification.

[2018-05-23 09:48] nimishamukherjee commented on #3620
Yes @rgarg1

[2018-05-23 10:48] #3452 closed

[2018-05-23 10:53] surajssd commented on #3414
@joshuawilson it is a heisenbug and not sure how to reproduce it, so if somebody encounters it again she/he can sit with someone who has access to cico internal logs and debug from there, not sure where is the problem in the stack!

[2018-05-23 11:11] pmacik commented on #2573
Done by https://github.com/fabric8io/fabric8-test/pull/612

[2018-05-23 11:11] #2573 closed

[2018-05-23 11:13] pmacik commented on #2572
https://github.com/fabric8io/fabric8-test/pull/697

[2018-05-23 11:29] #2578 closed

[2018-05-23 11:39] pmacik commented on #2572
Moved tracking to https://openshift.io/openshiftio/openshiftio/plan/detail/2406

[2018-05-23 11:40] pmacik commented on #2829
Moved tracking to https://openshift.io/openshiftio/openshiftio/plan/detail/2405

[2018-05-23 11:50] sanketpathak commented on #2707
Closing it as it is completed

[2018-05-23 11:50] #2707 closed

[2018-05-23 12:13] muruGanesan commented on #2845
we had a discussion on the 'environment' on 22 May 2018 with @krishnapaparaju, @rupalibehera.
The outcome looks like we need larger discuss with PM, 'Auth' & 'platform' teams.
I am scheduling a meeting with Eng. Lead, SME, and UX. I will update the outcome soon

[2018-05-23 12:17] rohitkrai03 commented on #3481
PR raised - https://github.com/fabric8-ui/fabric8-ui/pull/2934

[2018-05-23 12:43] krishnapaparaju commented on #3450
Assigning to @piyush1594

[2018-05-23 12:44] krishnapaparaju commented on #3450
Current status: Not tried yet lowering cores (2 to 1) keeping the RAM size intact. @piyush1594 can you please try out this combination.

cc @jfchevrette

[2018-05-23 13:00] jfchevrette commented on #3450
FYI on openshift online free tier, memory "request" is computed by the platform as 60% of the memory "limit" specified.

Additionally, the CPU limit as well as request are also computed based on memory numbers
 - 512Mi RAM (limit) corresponds to 1 core of CPU (limit)
 - 1 core of CPU (limit) results in a CPU "request" of 60m (millicores)

So technically, you would only need to specify a memory lim

[2018-05-23 13:51] GeorgeActon commented on #3566
@ravsa @animuk The acceptance criteria for **this story** should include the provision of a set of guidelines. That is the outcome we are looking for. Put a link to the document being produced in the  acceptance criteria section.

[2018-05-23 13:53] joshuawilson commented on #3621
What are you seeing? vs What do you expect?
Please add labels.

[2018-05-23 13:55] joshuawilson commented on #3616
please add a `type` label

[2018-05-23 13:56] joshuawilson commented on #3615
please add a `severity` label

[2018-05-23 13:56] joshuawilson commented on #3614
please add a `severity` label

[2018-05-23 13:57] joshuawilson commented on #3613
please add a `severity` label

[2018-05-23 14:01] ravsa commented on #3566
I will add the link to the document once it is finished.

[2018-05-23 14:20] maxandersen commented on #2845
by SME you mean platform and auth leads or ?

[2018-05-23 14:50] aptmac opened #3623 "Cannot resolve rh-ngx-datatable after recent f8-planner update"
As noted in the comments of a recent f8-ui [PR](https://github.com/fabric8-ui/fabric8-ui/pull/2932) [0] to update the planner version, the f8-ui build now fails when trying to find the rh-ngx-datatable, possibly from the updated dependency that was introduced in a recent planner [commit](https://github.com/fabric8-ui/fabric8-planner/commit/0ac13013bcd9419c6c4d82a503808e845f42f0d1) [1].

`ERROR in

[2018-05-23 14:53] ldimaggi opened #3624 "User is not able to navigate to linked workitems from Planner workitem 'full details' view"
Steps to recreate:
* Create a workitem and link it to other workitems
* Observe that from the summary view, the user can navigate to the linked workitems:
![screenshot from 2018-05-23 10-42-06](https://user-images.githubusercontent.com/642621/40432265-47fde24a-5e77-11e8-83b9-b9b3062ae93a.png)

* Observe that from the detailed view, the user cannot navigate to the linked workitems - clicking on the

[2018-05-23 15:27] hrishin commented on #2729
### Update:

1) Sent a PR to forked repo https://github.com/fabric8io/kubernetes-plugin/pull/6
2) Sent a PR for building Jenkins images

- PR to configure container cap: https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/30
- [WIPI] PR to use forked version of kubernetes cl`ient https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/171

cc : @rupalibehera

[2018-05-23 15:28] piyush1594 commented on #3517
We belive this to be linked with https://github.com/openshiftio/openshift.io/issues/3299

[2018-05-23 15:32] #2399 closed

[2018-05-23 16:00] jfchevrette commented on #3299
Thanks for reporting this @piyush1594 !

I have added the details to upstream BZ https://bugzilla.redhat.com/show_bug.cgi?id=1552373

[2018-05-23 16:38] GeorgeActon commented on #3566
@ravsa  the acceptance criteria above is supposed to tell us how we would know this story is complete. The way i will know the story is complete is if you state that a documented set of guidelines is the final outcome as the last part of acceptance criteria

[2018-05-23 16:50] nimishamukherjee commented on #1091
Closing this PR as infotips are on prod.

[2018-05-23 16:50] #1091 closed

[2018-05-23 17:15] andrewazores commented on #3128
@mceledonia the designs show the Resource Usage cards for environments gaining a second, dark blue coloured section within the utilization bars. I assume the original light blue colour will continue to indicate usage within the current space, and the dark blue indicates combined usage from other spaces? What happens to these new dual-colour utilization bars when the utilization reaches the warning

[2018-05-23 17:43] andrewazores commented on #3597
Duplicate of https://github.com/openshiftio/openshift.io/issues/3576

[2018-05-23 17:43] #3597 closed

[2018-05-23 18:10] ldimaggi opened #3625 "Users provisioned on starter-us-east-2 seeing frequent instances of Jenkins not un-idling"
The E2E/smoke tests that are now running on all clusters spotted this (this has also been confirmed with manual testing).

Steps to recreate:
* For a user where Jenkins + ContentRepo are idle
* Create a new space, and a new app
* Observe  Jenkins + ContentRepo fail to un-idle - perhaps ~50% of the time

![screenshot from 2018-05-23 14-04-36](https://user-images.githubusercontent.com/642621/4044297

[2018-05-23 18:58] jyasveer commented on #3607
@ppitonak the default application name what we are proposing could have already been used by the user for the space.

[2018-05-23 19:00] #3501 closed

[2018-05-23 19:06] jfchevrette commented on #3450
@jaseemabid I was able to update my jenkins namespace quota and unidle jenkins and content-repository and run a build to completion.

**quota: compute-resources**
[code]

Which as you can see is utilized to 100% when content-repository and jenkins are running.

There is also the **compute-resources-timebound** quota which is consumed when running the jenkins-slave and the s2i pods because both are

[2018-05-23 21:09] dlabrecq commented on #3458
Created PR: https://github.com/fabric8-ui/fabric8-ui/pull/2936

[2018-05-24 01:11] joshuawilson commented on #3623
My best guess at this point is that the main repo being used https://github.com/sahil143/ngx-datatable is at version 12.0.11 and the npm release included is at 12.0.16. The mis-match is causing some kind of disconnect in the build.

Currently version 12.0.19 is in npm. I suggest that @sahil143 update the version in the package.json and release again, ensuring they match.

cc @nimishamukherjee @mic

[2018-05-24 03:43] jyasveer opened #3626 "Get Applications api is giving status `500` in PROD"
This api is failing in prod  :-

[code]

**Response**
[code]

[2018-05-24 03:45] jyasveer commented on #3607
This isssue is dependent on https://github.com/openshiftio/openshift.io/issues/3626
cc @joshuawilson @animuk

[2018-05-24 04:53] jyasveer commented on #3626
@joshuawilson

[2018-05-24 05:28] kishansagathiya commented on #2690
@krishnapaparaju This is a stale issue with no information on how to reproduce it. Without enough data, there is no way to tell why build fails in this case. This is very intermittent. Personally, I have never faced this.
I think as we move to a more robust, issues like these will be fixed. Should we still keep this open? Or should we mark it down?

[2018-05-24 05:43] krishnapaparaju commented on #1913
@chmouel could not reproduce this problem. Guess we can close this , can reopen if this issue shows up again.

[2018-05-24 05:44] krishnapaparaju commented on #2690
@kishansagathiya if this not reproducible, can we close this and reopen if this issue shows up again..

[2018-05-24 05:47] #2690 closed

[2018-05-24 05:50] Veethika commented on #2538
@michaelkleinhenz @Raunak1203 @nimishamukherjee blank edits shouldn't be allowed to be saved by deactivating the confirmation button until user adds a minimum of one valid character. We are anyway going to give delete option in future so blank comments make no sense.

[2018-05-24 05:53] krishnapaparaju commented on #3037
@qodfathr shall we remove 'Delete pipeline' option for OSIO users ? Fixing #2729 would let only one build go at any point of time.. this will give us handle on resource consumption.

@maxandersen Yes, current 'Delete pipeline' removes Build config.

[2018-05-24 06:00] miteshvp opened #3627 "Sprint plan for Fabric8 Analytics: #150"
#### Maven Insights
- [ ] Training on EMR
- [ ] Load Testing on Dev Cluster
- [ ] Necessary data ingested into Graph

#### CVE Notification for OSIO users
- [ ] Design and Approach
- [ ] UX approved by PMs
- [ ] Implement workflow to invoke registration post stack-analyses on build
- [ ] Identify which notification service to use and how

#### Improve CVE Identification process
- [ ] Reduce number

[2018-05-24 06:01] Raunak1203 opened #3628 "Should space owner be able to delete comment of non collaborator?"

[2018-05-24 06:14] hrishin commented on #2729
### Update:

Still, there is one more hole in the kubernetes plugin behavior. Its not respecting the container cap behavior.
The sequence of events could be like this:

1. Jenkins wants to create a slave pod for the first build request. Container capacity is not exceeded.
2. The pod is being deployed to Kubernetes (it is starting).
3. Jenkins wants to create another pod for the second build reques

[2018-05-24 06:16] ravsa commented on #3566
yes @GeorgeActon, you are absolutely right. I'll change this.

[2018-05-24 06:33] invincibleJai opened #3629 "[8]Clean up legacy launcher code and new launcher flow should be default"
**PLANNER LINK** :- https://openshift.io/openshiftio/openshiftio/plan/detail/2447

#### User Story:

As an OSIO Developer, I will be able to clean up legacy launcher code and new launcher flow should be default i.e not under feature flags.

#### Description:
In `OSIO` we are having the legacy launcher as default flow and new launcher in production feature via toggle service. We need to clean up le

[2018-05-24 06:45] Raunak1203 opened #3630 "Empty row in Scrum template on clicking Add child work item"
Steps:

- Select workitem group(say, Features) in scrum template
- Click to Add child workitem
-First row is Empty
![screenshot from 2018-05-24 11-59-16](https://user-images.githubusercontent.com/34271052/40468822-249d7b50-5f4c-11e8-9d93-b4ff4615d398.png)

[2018-05-24 06:49] joshuawilson commented on #3626
@jyasveer how do you reproduce this?

@andrewazores @jiekang please look into this.

[2018-05-24 07:17] jyasveer commented on #3626
@joshuawilson I get this whenever i go to any space dashboard ?
As well as when i go to the `Create app overlay screen` in Getting Started flow

[2018-05-24 07:28] muruGanesan commented on #2845
@maxandersen, yes, you are right!
SME = leads of platform and auth teams + anyone who is affected by 'environments' flow.

[2018-05-24 08:34] jyasveer commented on #3540
this is not an issue

[2018-05-24 08:34] #3540 closed

[2018-05-24 08:50] rohanKanojia commented on #3058
Since fabric8io/fabric8-maven-plugin#1284 is merged, now we won't get this confusing `SocketTimeoutException` but some descriptive message of actually indicating what went wrong.

[2018-05-24 08:57] piyush1594 commented on #3058
But that will happen in OSIO, after fmp 3.5.40 get released and that gets reflected in boosters. So this is still there in OSIO.

[2018-05-24 10:08] piyush1594 commented on #3450
@jfchevrette @jaseemabid @pradeepto @krishnapaparaju @pradeepto @containscafeine

The latest patch https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/88worked fine for me.

[2018-05-24 10:30] stevengutz commented on #3570
This should be in Planner and tracked in the I-Train plan.

[2018-05-24 10:34] #2581 closed

[2018-05-24 10:41] #2829 closed

[2018-05-24 10:45] jaseemabid commented on #3570
@Steve, are you suggesting we use planner for the actual planning or use it
as a GitHub mirror?

On Thu, 24 May, 2018, 4:00 PM Steve Gutz, <notifications@github.com> wrote:

[2018-05-24 11:02] Preeticp commented on #3042
@SMahil I still see this behavior, hopefully it will be updated soon. However I also see another issue in the same scenario:
1. Click Experiences or Requirements in the left pane. Note this is not seen when you click Scenarios on the left pane.
2. Apply the work item type filter.
![screenshot from 2018-05-24 15-29-35](https://user-images.githubusercontent.com/16647625/40481628-9fd49f56-5f6f-11e8-9

[2018-05-24 11:06] ldimaggi commented on #3625
Closing as resolved - cluster token issue - which has been fixed.

[2018-05-24 11:06] #3625 closed

[2018-05-24 11:15] jyasveer commented on #3302
fixed.

[2018-05-24 11:15] #3302 closed

[2018-05-24 11:15] jyasveer commented on #3607
closing this.

[2018-05-24 11:15] #3607 closed

[2018-05-24 11:16] andrewazores commented on #3626
I can't reproduce this, everything looks OK to me on prod.

Anyway, this looks the same as this older bug: https://github.com/openshiftio/openshift.io/issues/3556

[2018-05-24 11:44] jyasveer commented on #3626
looks like it

[2018-05-24 11:57] #1913 closed

[2018-05-24 12:39] jaseemabid commented on #3570
@stevengutz all during the development of planner (and OSIO as a whole), it was stated several times that we are not the intended audience of the product. As an engineer, I really don't want anything more complicated than a simple issue list with tags (I think Github issues is almost perfect for the job) definitely not an over complicated mess that is going to be a huge productivity hole. The app

[2018-05-24 13:02] stevengutz commented on #3570
@jaseemabid So the original messaging was probably not correct since we are an engineering team and we also plan things :-). We also want to use our own tool to work out the obvious UX issues before we drop it on our users.

The good new from your perspective is that other than going in on occasion to set something in progress or complete, it won't really impact engineers.  We trying to initially

[2018-05-24 13:05] GeorgeActon commented on #3192
@msrb is this closed?

[2018-05-24 13:06] sivaavkd commented on #3598
Both Mitesh and Bob are contributors so am I.  We also noticed that Sam is unable to edit a feature that I created who is also a contributor. @joshuawilson @samuzzal-choudhury

[2018-05-24 13:57] andrewazores opened #3631 ""View All Spaces" list cannot be reset"
# Bug / Question

When initially visiting the "View all spaces" view via the top-left dropdown menu > "View all spaces", (ie. `/username/_spaces`), the list displays the names of all spaces owned by the username in the path. After the user enters some search text, the list changes to displaying spaces matching the search text, owned by any user. After clearing the search text, the list now display

[2018-05-24 13:58] jfchevrette commented on #3467
jenkins-proxy has been running with 3 replicas in staging for 2 weeks. are we OK to deploy the change to production?

[2018-05-24 14:07] andrewazores commented on #1925
I tried this just now and didn't appear to be able to reproduce it. Is this still valid?

![screenshot_2018-05-24_10-06-47](https://user-images.githubusercontent.com/3787464/40490678-2f723532-5f3a-11e8-8694-78b91d3fc24b.png)

[2018-05-24 14:08] andrewazores commented on #1817
Is this still valid? I think this wizard is being (has been?) phased out.

[2018-05-24 14:09] andrewazores commented on #1541
Is this still valid? I think this wizard is being (has been?) phased out.

[2018-05-24 14:19] stooke commented on #3553
I've just found that in WIT, both Auth and WIT have code that initializes the global logging...

[2018-05-24 14:20] stooke commented on #3553
A common code repo seems like a good place for global utilities, like space name verification, etc.

[2018-05-24 14:34] chmouel commented on #3467
I had an issue reported by @sthaha which I wasn't able to reproduce correctly, will deploy ASAP and will see how it goes,

[2018-05-24 15:07] jiekang commented on #3623
The update introducing this was reverted via https://github.com/fabric8-ui/fabric8-ui/pull/2937

If the responsible parties are tracking this elsewhere, I recommend this issue be closed. Thoughts?

[2018-05-24 15:07] joshuawilson commented on #1541
this is fixed in the new wizard, closing

[2018-05-24 15:07] #1541 closed

[2018-05-24 15:09] joshuawilson commented on #3623
I'm good with closing it.

[2018-05-24 15:09] #3623 closed

[2018-05-24 15:12] joshuawilson commented on #3553
@aslakknutsen and @xcoulon were talking about this today.

[2018-05-24 15:20] joshuawilson commented on #1925
I can not reproduce either, closing.

[2018-05-24 15:20] #1925 closed

[2018-05-24 15:35] abs51295 commented on #3546
Closing this since we got the feedback from PM team. Will be creating a new one to incorporate the suggestions received.

[2018-05-24 15:35] #3546 closed

[2018-05-24 15:48] lordofthejars commented on #3577
# Concourse CI (https://concourse-ci.org/)

### A framework for evaluating services for Build.Next

**NOTE**: _This is a living document, which I'm fixing as I see holes in the
argument and all your comments and feedback. Just leave a note below if I missed
anything and I'll act on it._

We need a set of parameters and critereon to evaluate each of the canidates in
an unbiased way. I'm hoping to c

[2018-05-24 15:53] mindreeper2420 commented on #3631
@catrobson can we add this to the overall navigation/IA work that is being done?

[2018-05-24 16:08] abs51295 opened #3632 "Remove unused installation of python34-virtualenv from analytics repositories"
### Description
We are using `pip install virtualenv` to run tests inside a virtual environment on CI and local machine. Installation of `python34-virtualenv` doesn't succeed on CI for [PR builds](https://ci.centos.org/job/devtools-fabric8-gemini-server-fabric8-analytics/11/console) since the package is not available on CI. But, how confusing it may sound it is able to install the same package dur

[2018-05-24 18:32] chrislessard opened #3633 "Remove screenshots from new updates banner"
I'd like to discuss the current design decision for the new feature banner. As it stands, we are including screenshots of the features along with a textual description and a link to the feature itself. Examples of this are :

![image](https://user-images.githubusercontent.com/17230733/40504196-9c575a46-5f5e-11e8-88c6-8e6f89cbf796.png)

![image](https://user-images.githubusercontent.com/17230733/40

[2018-05-24 19:03] #3576 closed

[2018-05-24 19:04] jiekang commented on #3481
Funny enough ,this issue occurred with the old space creation wizard as well. Funny as well how it was implemented again and has the same exact problem...

Issue/PR for old wizard.
https://github.com/openshiftio/openshift.io/issues/2206
https://github.com/fabric8-ui/fabric8-ui/pull/2581

[2018-05-24 19:31] jiekang commented on #448
This has been completely removed in production. I think this issue can be closed. @joshuawilson Thoughts?

[2018-05-24 19:32] #2743 closed

[2018-05-24 19:36] jiekang commented on #867
This element no longer exists in production. I think this issue can be closed. @joshuawilson Thoughts?

[2018-05-24 19:41] chrislessard opened #3634 "Features should not be available when visiting another user's space"

[2018-05-24 19:47] chrislessard opened #3635 "Features should not be available when visiting another user's profile"
If you visit another user's space under /<username> (for example /jiekang@redhat.com), you are presented with a link allowing you to "Add a url" to the profile. This causes a console error, with no discernible effect in the UI to make the user aware of the failure. Foreign user's should not be able to even attempt this.

Screenshot :

<img width="1440" alt="screen shot 2018-05-24 at 3 18 00 pm" sr

[2018-05-24 19:52] chrislessard opened #3636 "Feature's should not be available when visiting another user's space's pipelines tab"
If you visit another user's space's pipelines tab, i.e. by navigating to /<username>/<spacename>/pipelines, you can click the kebab in the top right and select "Add to space". This behaviour should not be available if you do not own the space.

Screenshot:

<img width="1439" alt="screen shot 2018-05-24 at 3 50 00 pm" src="https://user-images.githubusercontent.com/17230733/40510325-5a63499a-5f6a-11

[2018-05-24 20:00] chrislessard opened #3637 "What features should not be available when visiting another user's/space's deployments tab?"
If I visit another user's space's deployments page, i.e. by navigating to `/<username>/<spacename>/deployments` and no deployments are available, should I be allowed to click the "Add an application" link that currently display's there? What should happen if I do? What data should be displayed, about what deployments?

Here's a screenshot:

<img width="1440" alt="screen shot 2018-05-24 at 3 53 31

[2018-05-24 20:19] chrislessard opened #3638 "OSIO's behaviour should be well defined when visiting any feature belonging to another user"
**User story:**

As an OSIO user, if I choose to visit anything directly related to another user's account, I should not be able to access any functionality that was only destined for the other user.

**Description:**

As it stands, many features are available to users when they visit a foreign space or profile. Here, "foreign" is defined as "belonging to another OSIO user". Of the various functio

[2018-05-24 20:20] lwrigh commented on #3610
Here is the link to the document: https://docs.google.com/document/d/1Hf1WaKJBdZ-ouLD9IcrWoH8fiFyf6SUKgVJ6YjVJ_Mc/edit?usp=sharing

[2018-05-24 20:27] chrislessard commented on #3638
It wasn't really clear to me what to do about planner, so I havent documented it.

[2018-05-24 20:36] #3626 closed

[2018-05-24 20:40] andrewazores commented on #2472
See #874 and #2629 . Closing this as a duplicate.

[2018-05-24 20:40] #2472 closed

[2018-05-24 21:08] ibuziuk commented on #2152
Adding `area/launcher/runtime/wildfly` label. Created a wildfly issue for failing tests when building using -f option https://issues.jboss.org/browse/WFARQ-45 cc: @gastaldi @kenfinnigan

[2018-05-24 21:47] ebaron commented on #3626
@jyasveer If you still get this error, could you check whether the config map exists in your user namespace? (i.e. _username_ without -che, -jenkins, -run, etc.)

You can check this in either the OpenShift web console, or by using `oc`:
[code]

[2018-05-24 23:06] ldimaggi opened #3639 "New app creation failing in launcher"
Steps to recreate:
* Login to https://openshift.io
* Create a new space
* Attempt to create a new app/quickstart
* Observe that after entering the quickstart name and clicking 'Continue' - the new app launcher exits

![myimage](https://user-images.githubusercontent.com/642621/40517787-23cec132-5f85-11e8-998b-f08eb7beddf9.gif)

[2018-05-25 00:15] kenfinnigan commented on #2152
Moved the issue to https://issues.jboss.org/browse/THORN-2049 as it's not to do with WildFly or Arquillian, it's to do with WildFly Swarm (now Thorntail)

[2018-05-25 01:08] #2093 closed

[2018-05-25 01:15] joshuawilson commented on #3639
Confirmed, I get the same.

[2018-05-25 01:39] #3590 closed

[2018-05-25 03:44] animuk commented on #3639
I have tried with the steps described above by creating a new space. I could not able to reproduce it.

[2018-05-25 03:48] joshuawilson commented on #3639
did you try a hard refresh

[2018-05-25 03:51] animuk commented on #3639
Yes. @joshuawilson . I did the hard refresh. Created a new space. Then, proceeds on creating a new application in the launcher

[2018-05-25 03:58] joshuawilson commented on #867
It was removed completely. Closing.

[2018-05-25 03:58] #867 closed

[2018-05-25 03:59] joshuawilson commented on #448
This was removed. Closing.

[2018-05-25 03:59] #448 closed

[2018-05-25 04:17] invincibleJai commented on #3639
I confirm issue is there, it's bit tricky. Thanks @ldimaggi @joshuawilson

Steps:
* Go to cognito
* Login to https://openshift.io
* Create a new space
* Attempt to create a new app/quickstart
* Observe that after entering the quickstart name and clicking 'Continue' - the new app launcher exits
* it'll work if you try after that

for first time i see below in screen, than click 'Continue' - the new

[2018-05-25 04:40] invincibleJai commented on #3629
This story should take care of below

* https://github.com/openshiftio/openshift.io/issues/3576
* https://github.com/openshiftio/openshift.io/issues/3489

[2018-05-25 05:15] msrb commented on #3632
I can see following in the master build logs:

[code]

What's wrong in `cico_setup.sh` is that we trying to `yum install` both epel-release and python34-virtualenv in the same step. You first need to install epel-release -- to enable EPEL, and only then you can install python34-virtualenv package.

[2018-05-25 05:17] msrb commented on #3632
And what's confusing here is that we actually build 2 images now - one for CentOS and one for RHEL. The RHEL one inherits packages from a special base image, which already has EPEL enabled.

[2018-05-25 05:18] jyasveer commented on #3639
Anyway this was intermittent. Now i think i have fixed it permanently

[2018-05-25 05:18] #3462 closed

[2018-05-25 05:31] mishaone commented on #2807
Documented as a known issue: https://github.com/fabric8io/fabric8-online-docs/pull/364

[2018-05-25 05:42] jyasveer commented on #3241
Here are some informations regarding this task :-
In the current implementation this is what something is done in OSIO
1. This is the segment application which gives us tags to use. To understand more here is the link
https://segment.com/docs/sources/website/analytics.js/
2. Here the segment tags are implemented as of now: https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/analyti

[2018-05-25 05:48] jyasveer commented on #3639
@ldimaggi @joshuawilson  can you please verify and close this ?

[2018-05-25 05:49] abs51295 commented on #3632
Good catch @msrb 👍 . I struggled to find this explanation. Anyways, we don't need `python34-virtualenv` anymore, do we?

[2018-05-25 05:54] abs51295 commented on #3632
And one follow up question @msrb : These yum install commands run on CI and not inside images, correct? If that's the case, then how is the EPEL enabled for RHEL image and not for CentOS? I am thinking because we already installed `epel-release` in the first step during CentOS image build, we are able to install `python34-virtualenv` during RHEL image build since epel is already enabled.

[2018-05-25 06:02] SMahil commented on #3042
@Preeticp The text 1 in Experiences/1 in Requirements is overlapped with quick add which is fixed in the above-mentioned PR.
Afa the text 'n workitem(s)' is concerned, I think the current text makes better sense to me. Although we may reverify it with UX for better clarification

[2018-05-25 06:06] aslakknutsen commented on #3046
@mceledonia So the best way to deal with "there is an icon in the way of the data" is to present the user with a setting to "remove the icon completely"?

[2018-05-25 06:15] msrb commented on #3632
Ah, correct. You're right. Docker images are something different. They are not related to this problem with cico scripts.

[2018-05-25 06:41] Preeticp commented on #3042
Cool.

I agree, let's check with UX.
These are my 2 cents:
'1 in Scenarios' raises the question 1 'what' in my mind.
Secondly, if we want to repeat Scenarios, Requirements etc., though the context is visible to the user, then we probably would be better off saying 'n work item(s) in Scenarios' something similar to:
![screenshot from 2018-05-25 12-04-03](https://user-images.githubusercontent.com/16

[2018-05-25 06:42] sivaavkd commented on #3598
I just tried and couldn't update 2395 which Bob created.  Interestingly, I was able to update it few days ago when I created this issue.

[2018-05-25 06:49] michaelkleinhenz commented on #3598
There is no AuthZ beyond the contributor check. If there is a problem with the update, this is likely caused by something else. Can you check the request to the backend (look for a PATCH request that has a URL following this format: https://api.openshift.io/api/workitems/<UUID>) and report back the result of the request?

[2018-05-25 06:52] sivaavkd opened #3640 "Searching the Label is case sensitive"
When creating a new Planner item, do the following in openshiftio space:
1.  Click on Assign Labels
2.  In the seach box, type "ana" - no search results
3.  Now, type "Ana" - you will find "Analytics"

This is taking additional time to remove "ana" and type "Ana".. why the label is case sensitive ?  It should not be.

[2018-05-25 07:09] rgarg1 commented on #3598
I can confirm that being a contributor, I can edit work items created by others. So, this must be an auth related issue.

[2018-05-25 07:10] jyasveer commented on #3639
@ldimaggi @joshuawilson fix is in prod-preview now. can you please verify ?

[2018-05-25 07:17] miteshvp commented on #3598
It seems to me that, when there are more than one user working on same item, this becomes a problem.
1. User A is modifying Experience 1
2. User B has Planning page open
3. User A saves Experience 1
4. User A sees refreshed contents
5. User B still on Planning page and does not see refreshed contents related to Experience 1
6. User B tries to modify Experience 1
7. They get the error 409 conflict

[2018-05-25 07:26] miteshvp opened #3641 "Planner Item # 2173 description went missing"
Created a Fundamental with Planner ID 2173. Created with all the description necessary.
Description was modified as necessary. But when I checked yesterday, all the description went missing. Is there a way to get those description back? Is it even possible to get an audit trail of who modified the line item last? Because ir-respective of who modifies a line item, by default the email says Modified

[2018-05-25 07:43] sivaavkd commented on #3598
Thanks @miteshvp ..
@michaelkleinhenz @joshuawilson -  Given this scenario, should we ask user B to refresh the page instead of an unknown error message ?

[2018-05-25 08:12] rgarg1 opened #3642 "Drop-down values are not sorted"
**Assignee & Creator**: The usernames should be alphabetically sorted

**Area**: The area names should be alphabetically sorted

**Labels**: The Labels should be alphabetically sorted

Sample image, where the user names are displayed unsorted:
![user sorting](https://user-images.githubusercontent.com/28748448/40533728-4ab9892a-6021-11e8-81d9-c34258e62f51.png)

[2018-05-25 08:18] rgarg1 opened #3643 "Filter by Title string is truncated at the presence of a ':'"
1) Go to Planner
2) Select Filter by **Title**
3) In the value field, enter the string _this is a: string for test_. Hit enter
Observe that the string search for is only _this is a_. The rest is truncated.

Proof:
![search title truncation](https://user-images.githubusercontent.com/28748448/40534018-3bf6005c-6022-11e8-8af7-9d6a542bca61.gif)

[2018-05-25 08:22] rgarg1 opened #3644 "Add work item and Add Iteration options are showing enabled for a non-collaborator"
For a non-collaborator, the fields to 'Add work item' and 'Add Iteration' are showing as enabled.

But when the user tries to create a new item, he's rightly blocked by the backend API.

The UI needs to be updated so that these fields _do not_ show as enabled for a non-collaborator.

Proof:
![noncollab add wi and iter](https://user-images.githubusercontent.com/28748448/40534176-c8601c44-6022-11e8-

[2018-05-25 08:46] rgarg1 commented on #3598
Thanks, @miteshvp for the insight.

The issue is with the version information of the work item. Each path request relies on the version information and if the patch request carries an unexpected version, we see 409 error.

In this case, since the UI is not refreshed for user B, the version number sent in the patch request is older, hence 409.

Maybe UI requesting the updated version from the backe

[2018-05-25 08:49] msrb opened #3645 "CVEs with multiple version ranges/specifiers are not handled correctly"
# Description

Vulnerabilities with more than one version range/specifier are currently not handled correctly by workers.

Example:
[code]

Only version 5.0.0-beta1 gets flagged.

[2018-05-25 09:14] pmacik opened #3646 "Cancel [X] button does not work in 'Create an Application' launcher in production"

[2018-05-25 09:14] pmacik commented on #3646
Kind of duplicate of https://github.com/openshiftio/openshift.io/issues/3586, but on production (https://openshift/io)

[2018-05-25 09:19] pmacik commented on #3646
The cancel button does not work only when the app launcher is opened by the create-a-space wizard.
It works when the launcher is opened manually by clicking on [Add to space] button from a space dashboard.

[2018-05-25 09:26] pkajaba commented on #3192
@GeorgeActon PR is still waiting for review. From mercator point of view, it should be complete. @abs51295 can you elaborate?

[2018-05-25 09:31] michaelkleinhenz commented on #3598
@rgarg1 it is not that easy, actually. What should we do if there is an update coming in that conflicts with local changes? After the ngrx/store integration, we have already scheduled the integration of push updates. For these, we will also need to revisit the conflict scenarios. I don't see how we can do a quick fix for this.

But I agree with @sivaavkd that we should signal the user that there i

[2018-05-25 09:34] tisnik opened #3647 "[1] Display embeddable build status icons for all relevant CI jobs on the QA Dashboard"
Currently, the QA Dashboard (https://fabric8-analytics.github.io/dashboard/dashboard.html) displays static job status. This is a bit problematic because the content is refreshed just once per day. Better is to use 'live' build status icons that are provided by the CI (CentosCI in our case)

## Acceptance criteria
- [x] template is updated to use badges
- [x] statuses of all relevant jobs are displ

[2018-05-25 09:36] tisnik commented on #3647
Pull request with proposed changes:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/551

Live content on QA Dashboard:
https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-05-25 09:36] #3647 closed

[2018-05-25 09:38] rupalibehera commented on #3583
https://github.com/openshiftio/saas-openshiftio/pull/883 closed hence closing this one too.

[2018-05-25 09:38] #3583 closed

[2018-05-25 09:42] abs51295 commented on #3192
PR has been merged. Closing the issue @pkajaba. Thanks for the fix 👍

[2018-05-25 09:42] #3192 closed

[2018-05-25 10:39] ppitonak commented on #3576
@joshuawilson when will be this in prod? can we leave this issue open unitl it gets to production?

[2018-05-25 10:47] bmicklea commented on #3598
Please make sure there's also an issue in the backlog for the proper fix,
asking for a refresh isn't ideal as you've mentioned.

Do we have a list of issues generated from our team's use of planner - the
dog fooding issues?
--

Brad Micklea // Director, Product Management // Developer Tools //
416.707.0792

[2018-05-25 11:03] ppitonak opened #3648 "Cannot remove all spaces with one click"
1. create multiple spaces
2. go to "My spaces" page
3. delete all spaces

result:
* it's possible to only delete a single space at the time which is annoying, let the user delete more than one space

![osio_remove_all_spaces](https://user-images.githubusercontent.com/445100/40541413-f50cfeee-601b-11e8-9a11-4f9f34fa239b.png)

[2018-05-25 11:05] ldimaggi commented on #3639
Just tried on prod-preview - seeing these results:
* Log on to https://prod-preview.openshift.io
* Create a new space
* Observe this syntax error displayed while creating the space:
![screenshot from 2018-05-25 07-00-33](https://user-images.githubusercontent.com/642621/40541422-b5b1a2ea-5fe9-11e8-9c3f-bf80c3c2a4e0.png)
* Attempt to create a new app - observe that after pressing 'continue' the user

[2018-05-25 11:19] corinnekrych commented on #3046
@aslakknutsen TL;DR: Noooo!

![feature-icon](https://user-images.githubusercontent.com/1395710/40541942-38c8ac4e-601e-11e8-99e1-e5cb943df9c4.gif)

Longer:
The way ro deal with "there is an icon in the way of the data" is with opacity => without focus a very light opacity of the icon made it possible to read through the content, if you hover over the icon, the opacity increase and a tooltip appears

[2018-05-25 11:26] ldimaggi opened #3649 "New app creation in launcher - syntax error for title displayed"
Steps to recreate:
* Login to https://openshift.io
* Create a new space
* Start to create a new app/quickstart
* Observe that as user starts to enter app name, a syntax error is displayed - observe that the error message remains visible even if a name is entered using valid sytnax:
![screenshot from 2018-05-25 07-24-31](https://user-images.githubusercontent.com/642621/40542135-d361053a-5fec-11e8-9

[2018-05-25 11:44] sivaavkd opened #3650 "Planner - display format is gone"
I wanted to move Label column to the right most because it is occupying a lot of prime space.
Here is what I did -
1.  Clicked on little settings icon, next to "Add and Open" button
2.  Moved Label from right to left and clicked on X icon.
3.  Then, the page refreshed and Label column is gone.
4.  Again clicked on Settings icon and moved Label from left to right - and clicked on X icon.
5.  Screen

[2018-05-25 11:47] sanketpathak commented on #3515
[Tasks](https://github.com/fabric8-analytics/fabric8-analytics-dependency-editor/issues/84
)

[2018-05-25 11:49] sivaavkd opened #3651 "Iris view - is not showing up items attached to iterations within it"
Steps to reproduce:
1.  Click on Iris from left menu
2.  Planner items are now filtered - only items assigned to iteration "Iris" are shown.
3.  Please note that "Iteration 149", "iteration 150" are child items of "Iris".
4.  Planner items which are part of "Iteration 149" or "Iteration 150" are not shown in this view.

[2018-05-25 11:53] pmacik commented on #3649
Probably related: https://github.com/openshiftio/openshift.io/issues/3227

[2018-05-25 12:06] #3466 closed

[2018-05-25 12:06] rupalibehera commented on #3466
in prod

[2018-05-25 12:23] catrobson opened #3652 "Navigation for Organizations and Spaces"
### Description
Navigation for Organization settings and space settings that include the following new IA Nodes:

**Organizations settings:**
- People/Users/Members (terminology TBD)
- Security Groups
- Spaces
- Environments

**Space settings:**
- People/Users/Members (terminology TBD)
- Teams
- Areas
- Security Groups

This story will also investigate the placement of settings in the primary navi

[2018-05-25 12:35] catrobson opened #3653 "View model for teams, security groups, and users (13)"
### Description
Decide on the view model for teams, security groups, and users so we have a consistent UI model across these designs for spaces and organizations.

### Verification Criteria
- [ ] Designs created for a page layout that can be used for the viewing of a list of teams, security groups, and people/users/members (terminology tbd).
- [ ] Designs created for inline edit if needed in coord

[2018-05-25 12:47] stooke commented on #3046
@mceledonia "we want to avoid cluttering that bar with too many icons."
The answer to this is _not_ to clutter the primary UI with opaque icons.

Don't forget this icon should _only_ appear if the user has changed from the default.
Almost all OS have a number of icons at the top (I'm looking at You, macos!), it's just a fact of life.  As long as they don't have a colour or animated motion, they do

[2018-05-25 12:50] catrobson opened #3654 "Create and Edit model for Users, Teams, Security Groups (13)"
### Description
Decide on the creation and edit model for teams, security groups, and users so we have a consistent UI model across these designs for spaces and organizations.

### Verification Criteria
- [ ] Designs created for a page layout that can be used for the creation and editing the objects of teams, security groups, and people/users/members (terminology tbd).
- [ ] Collaborate with desig

[2018-05-25 12:52] aslakknutsen commented on #3046
@corinnekrych So the best way to deal with "there is an **opaque** icon in the way of the data" is to present the user with a setting to "remove the icon completely"?

[2018-05-25 13:36] catrobson opened #3655 "Search for a space from 'My Spaces' (8)"
### Description
Currently the only way for users to search for a space is in the "All Spaces" page.  This page is old and meant to be deprecated.  Before we can remove this page, we need to relocate the functionality of searching for a space, requesting an invite, etc.  This story will be determining how we can change the current 'my spaces' page to include a search.

### Parent Issue(s)
- [past l

[2018-05-25 13:45] #3396 closed

[2018-05-25 13:48] elmiko opened #3656 "inline error notification has improperly formatted http reference"
after using the password change form, i was redirected to my openshift.io account page. on that page i received an error notification which had an href tag inside. the tag was not formatted properly and thus the link didn't appear inside the notification. please see the attached image for further details

![openshift-io-error](https://user-images.githubusercontent.com/190649/40547755-bddcced8-6000

[2018-05-25 13:58] joshuawilson commented on #3656
@sbose78 @alexeykazakov do you know anything about this?

[2018-05-25 14:29] ldimaggi commented on #3639
It;s fixed in production. Thx!

[2018-05-25 14:29] #3639 closed

[2018-05-25 14:30] ldimaggi commented on #3649
Closing as no longer reproducible - maybe related to:  https://github.com/openshiftio/openshift.io/issues/3639

[2018-05-25 15:27] ldimaggi opened #3657 "Cancel button in new app wizard fails after user resets env"
Steps to recreate:
* Log in to https://openshift.io
* Reset user env
* Create a new space
* After the space is created. the user is placed on the 'Create an Application' page:
![screenshot from 2018-05-25 11-17-40](https://user-images.githubusercontent.com/642621/40552316-536500e0-600d-11e8-8a98-15e4594733c1.png)

![myimage](https://user-images.githubusercontent.com/642621/40552615-418911b2-600e-1

[2018-05-25 15:27] #3288 closed

[2018-05-25 15:28] ldimaggi commented on #3657
This bug is causing E2E test failures as the setup for the tests creates a space, then attempts to exit the launcher, before creating a quickstart.

[2018-05-25 15:31] aptmac commented on #3589
As seen in the image above, when the user encounters the null 'id' error the add-app-overlay is unable to be exited from the screen, which traps the user on this screen with no way of progressing or leaving.

[2018-05-25 16:12] joshuawilson commented on #3607
@ldimaggi can you confirm this is fixed?

[2018-05-25 16:18] joshuawilson commented on #3657
might be related to #3589

[2018-05-25 16:27] catrobson commented on #3596
@bdellasc can you link in your design and then I think this is ready to close.

[2018-05-25 16:29] catrobson commented on #2912
Was there any work captured around improvements to the current scrum implementation in planner that can be linked to?  If not what are the next steps for this story?

[2018-05-25 16:36] catrobson commented on #3491
Can we close this issue and open another one when you have action to take after reviews?

[2018-05-25 16:41] catrobson commented on #3249
@lwrigh looks good.  I think this is good to go from a design standpoint.  @dlabrecq do you need a dev story or want to use this as your dev story?

[2018-05-25 16:47] catrobson commented on #3493
@Veethika can you link to your prototype here?

[2018-05-25 17:04] lwrigh commented on #3536
Here's a document capturing some UX recommendations for toast notifications across the board: https://docs.google.com/document/d/1Hf1WaKJBdZ-ouLD9IcrWoH8fiFyf6SUKgVJ6YjVJ_Mc/edit?usp=sharing

One suggestion would be to add a "x" to all toast notifications so the user can dismiss it whenever they like instead of just waiting for it to time out. Here's a PatternFly example of what a toast notificati

[2018-05-25 17:19] ldimaggi commented on #3607
Confirmed - this is fixed.

[2018-05-25 17:33] ldimaggi opened #3658 "After env reset, attempt to create new application fails"
Steps to recreate:
* Log in to https://openshift.io
* Reset user env
* Create a new space
* After the space is created. the user is placed on the 'Create an Application' page:
![screenshot from 2018-05-25 11-17-40](https://user-images.githubusercontent.com/642621/40552316-536500e0-600d-11e8-8a98-15e4594733c1.png)

* After entering a name for the new app, tt this point, the create, import, and cont

[2018-05-25 17:35] ldimaggi commented on #3657
Related to #3658

[2018-05-25 17:35] ldimaggi commented on #3658
Related to #3657

[2018-05-25 18:06] jyasveer commented on #3646
@pmacik I tried just now with production. Cancel button is working for me for both the cases
- one which is opened from by the create space wizard
- other one which opened by the create application button from a space
Tested in Chrome 66

Could you tell me some more details of the issue so that i can reproduce it.

[2018-05-25 18:21] ldimaggi commented on #3646
This consistently fails for me if I start by performing a reset of the user env.

See: https://github.com/openshiftio/openshift.io/issues/3657

[2018-05-25 19:50] lwrigh commented on #3374
Wireframes have been updated to reflect BitBucket as another supported Git provider

[2018-05-25 20:26] jiekang commented on #3655
Likely to be relevant? https://github.com/openshiftio/openshift.io/issues/477

[2018-05-25 20:37] joshuawilson commented on #3650
I can't reproduce this.

[2018-05-25 20:52] aptmac commented on #3650
Neat! Here's a reproducer that seems to work:

1. Open the settings panel, and move the label attribute to the left.
2. Refresh the page.
3. Open the settings panel, and move the Label attribute back to the right.

And the planner now looks like:
![table-format](https://user-images.githubusercontent.com/10425301/40565613-3f89ada4-603b-11e8-9a36-f6144c2008ab.png)

Here's a gif of it happening:
![br

[2018-05-25 23:09] joshuawilson commented on #3646
duplicate of #3657

[2018-05-25 23:09] #3646 closed

[2018-05-25 23:10] joshuawilson commented on #3658
duplicate of #3657
closing

[2018-05-25 23:10] #3658 closed

[2018-05-25 23:28] joshuawilson commented on #3576
it should be in prod

[2018-05-27 10:05] rohitkrai03 commented on #3122
@joshuawilson For the dropdown multiselect option we use an open source angular component - https://github.com/softsimon/angular-2-dropdown-multiselect. This component doesn't provide any way to actually customize the options as per our need. So, basically its just limited to a simple list of names and nothing else. For our needs i found a good component which offers a lot of customization and fle

[2018-05-27 16:08] dlabrecq commented on #3249
This one is fine

[2018-05-27 17:26] Veethika commented on #3493
Sure @catrobson
Here it goes: https://redhat.invisionapp.com/share/8SJKMHDKNCV#/296530484_Title

[2018-05-28 03:29] nimishamukherjee commented on #3651
Removing bug label as the behaviour described by @sivaavkd is by design.
Let @Veethika from UX provide her feedback. We will proceed accordingly.

[2018-05-28 03:31] nimishamukherjee commented on #3624
Closing as duplicate of #3620

[2018-05-28 03:31] #3624 closed

[2018-05-28 03:33] nimishamukherjee commented on #3641
@miteshvp we are working on introducing audit trail this sprint - https://openshift.io/openshiftio/openshiftio/plan/detail/1915

[2018-05-28 03:35] nimishamukherjee commented on #3641
- Removing sev2 as this is a one of case and not reproducible.
- Removing bug as audit trail is a feature request

[2018-05-28 03:36] sivaavkd commented on #3651
cc @qodfathr

[2018-05-28 03:42] nimishamukherjee commented on #3598
@michaelkleinhenz @rgarg1 the right fix is the technical feature of "polling" that we need to introduce in planner. This would be a feature that we would have to work with Platform team as the notification display mechanism is tied to the user profile.

As @michaelkleinhenz said, a fix for this would be to display relevant error message other than "Something went wrong".

[2018-05-28 04:02] rgarg1 commented on #3650
The issue is reproducible using the steps provided by @aptmac.

[2018-05-28 04:12] rgarg1 commented on #3598
@michaelkleinhenz https://openshift.io/openshiftio/openshiftio/plan/detail/2437

[2018-05-28 06:34] #3410 closed

[2018-05-28 06:49] arunkumars08 commented on #3418
@gastaldi Are you able to reproduce the issue?

[2018-05-28 06:55] #3430 closed

[2018-05-28 06:56] jyasveer commented on #3511
Here are some informations regarding this task :-
In the current implementation this is what something is done in OSIO

1. This is the segment application which gives us tags to use. To understand more here is the link
https://segment.com/docs/sources/website/analytics.js/
2. Here the segment tags are implemented as of now: https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/analyt

[2018-05-28 06:58] animuk commented on #2616
Old launcher is replaced now, closing this

[2018-05-28 06:58] #2616 closed

[2018-05-28 07:00] animuk commented on #2592
Old legacy launcher is replaced with new improved launcher which should solved the above issue,

[2018-05-28 07:00] #2592 closed

[2018-05-28 07:00] jyasveer commented on #3511
Here is also a doc regarding the analytics and the third party integrations
https://docs.google.com/document/d/1Nuvv1gUrz4P51d_LbusipMjKx5nZpyPrO_50s7pN63o/edit#heading=h.ptsipi7o2i8u

[2018-05-28 07:02] jyasveer commented on #3511
closing this issue as we have started discussions around this with the other stake holders and will move forward on this in the next sprints.

[2018-05-28 07:02] #3511 closed

[2018-05-28 07:04] #3521 closed

[2018-05-28 07:10] animuk commented on #2369
Old legacy launcher is replaced with new improved launcher which should solved the above issue,

[2018-05-28 07:10] #2369 closed

[2018-05-28 07:16] animuk commented on #2606
Old legacy wizard has been replaced with new improved wizard in prod. Should be handled for that.

[2018-05-28 07:16] #2606 closed

[2018-05-28 07:20] animuk commented on #2903
Old legacy Launcher wizard is replaced now. this things are handled in new wizard.

[2018-05-28 07:20] #2903 closed

[2018-05-28 08:20] rgarg1 opened #3659 "Markdown not rendered for work item description field"
Work item description is rendered in plain text.

[2018-05-28 08:51] jaseemabid commented on #3581
Adding a few Jenkins specific questions @sthaha asked on the channel here, which
is on top of what we have in the [Evaluation
Criteria](https://github.com/fabric8io/buildnext/blob/master/Evaluation.md)

1. How are the deployments of multiple masters orchestrated
2. What plugins are required
3. How are logs from the builds streamed to the user
4. How are jobs defined (dsl/jenkinsfile)
5. How are te

[2018-05-28 09:12] #2572 closed

[2018-05-28 10:15] sunilk747 commented on #3047
With the fix for duplicate pipeline issue this issue is resolved also. I couldn't reproduced this issue. Hence, closing it.

[2018-05-28 10:15] #3047 closed

[2018-05-28 10:46] containscafeine commented on #3469
@jfchevrette what is the use case where we're having to hit the route directly and not go via the proxy? That would be ideal approach and changing the implementation there would be the right way forward.

[2018-05-28 11:26] pbergene commented on #2755
Chrome uses boringssl which is a fork of openssl.  The problem can not be reproduced on more recent versions of openssl.  This is a client side issue to which there is no known server side mitigation, but would still like to see if we can find if this issue was intentionally fixed in openssl and hence get some further clues.

[2018-05-28 11:30] rohanKanojia commented on #3604
## Basic Architecture:
Zuul is a program that drives continuous integration, delivery and deployment systems with a focus on
project gating and interrelated projects.

### Zuul Components:
Zuul provides the following components:
1.) **Zuul Scheduler**: The main Zuul process. Handles receiving events, executing jobs, collecting
                                results and posting reports. Coordinate

[2018-05-28 13:06] nimishamukherjee commented on #3651
Created an issue on OSIO - https://openshift.io/openshiftio/openshiftio/plan/detail/2452

[2018-05-28 13:13] jiekang opened #3660 "Deployments API for user requesting info for space that they do not own is inconsistent"
When visiting another users space and deployments page:

`https://api.openshift.io/api/deployments/spaces/<spaceId>`
If a user makes a request for deployments info for a space they do not own, the request comes back as 200 OK with an empty response.

`https://api.openshift.io/api/deployments/spaces/<spaceId>/environments`
If a user makes a request for environments info for a space they do not own,

[2018-05-28 13:13] jiekang commented on #3660
@ebaron @stooke Could you guys take a look at this?

[2018-05-28 13:18] maxandersen commented on #3037
Build Config != webhook.

if webhook happens, jenkins would still get its logic triggered that tries and lookup if a build makes sense to run - I do not believe deleting Build Config is enough to stop that from happening - if it is we should at least understand how.

[2018-05-28 14:00] tisnik opened #3661 "Toplevel component metadata in S3 is not updated during the component analysis"
## Problem description:

The toplevel component metadata in S3 is not updated during the analysis. All other metadata are updated correctly (toplevel package metadata, all relevant JSON files for component and package).

The actual content was created during the 1st analysis (see the date - different from today):

[code]

## Affected ecosystems:

Maven and PyPi at least, but I'm pretty sure that o

[2018-05-28 14:01] tisnik commented on #3189
5th point is implemented via:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/552

[2018-05-28 14:02] tisnik commented on #3189
Blocked by https://github.com/openshiftio/openshift.io/issues/3661

[2018-05-28 14:02] gastaldi commented on #3418
@arunkumars08 no, I am not able to reproduce it, maybe it was fixed in the recent changes in ngx-launcher. Feel free to close this issue for now if you can't reproduce it either.

[2018-05-28 15:27] kpiwko commented on #1554
While I agree that there are way too many notification, we need to evaluate impact on E2E tests that are relying on them at this point so the size of this work is larger than it appears.

An the other question - this is about notifications in UI (===toasts) but do we want to handle email notification as well? Or is that a separate thing? Sorry if that's a dumb question :-).

[2018-05-28 15:30] l0rd commented on #2063
@invincibleJai @sivaavkd it looks like `$RECOMMENDER_API_URL` is not passed on both prod-preview and prod (c.f. the screenshot below, white is osio prod, black is osio prod-preview).

![image](https://user-images.githubusercontent.com/606959/40620746-338014f6-629a-11e8-82ec-6072cf7cdbb9.png)

So I am afraid that this is not the root cause of bayesian plugin not working on prod-preview.

What we th

[2018-05-28 15:31] andrewazores commented on #3660
It seems that when I view another user's space, the Environments data I receive is actually data about my own Environments - this makes sense, although the UI doesn't necessarily reflect it well, and the `spaceId` request parameter is unused/confusing.

[2018-05-28 15:37] andrewazores commented on #3637
https://github.com/openshiftio/openshift.io/issues/3660 also has some connection to this question.

[2018-05-28 15:39] andrewazores commented on #3637
https://github.com/openshiftio/openshift.io/issues/3660 is also connected to this question.

[2018-05-28 15:41] jiekang commented on #3660
Ah right, the spaceId is unused for the environments. Good catch.

[2018-05-28 16:06] l0rd commented on #2063
Digging a little more I have figured out that when `$RECOMMENDER_API_URL` is not provided ls-bayesian set it to prod URL:

[code]

So @invincibleJai that may be the root cause of the problem after all. But we still need the prod-preview value for `$RECOMMENDER_API_URL`.

[2018-05-28 16:20] ebaron commented on #3660
For the space data, we translate the space ID into space name using the WIT API, and then search for deployments matching that space name in the user's (specified by bearer token) OpenShift namespaces. We could query the WIT API further to determine if the user has appropriate permissions for the space.

We probably do not want to return a 401 though, we had trouble with that before where it logge

[2018-05-28 16:35] jiekang commented on #3660
Right... Another fix would be on the UX side to not make the request if we're in a space that isn't owned by the user but I'm not sure that's a great idea.

Either way I think we should show different content in this situation. Something for the UX team I suppose.

[2018-05-28 16:40] andrewazores commented on #3660
re 401 handling: https://github.com/openshiftio/openshift.io/issues/3325

[2018-05-28 16:54] aptmac commented on #3621
@Raunak1203 What is the bug you're seeing?

[2018-05-28 17:08] aptmac commented on #3622
For context, the multiselect-dropdown that we're using is displaying "Nothing Found ..." because it's the default text [1] when there the search returns an empty result. If you scroll, you can see the full message.

![nothing-found](https://user-images.githubusercontent.com/10425301/40624015-14e3260e-6278-11e8-9cce-a3843350423a.png)

[0] https://github.com/softsimon/angular-2-dropdown-multiselect

[2018-05-28 17:19] Raunak1203 commented on #3621
@aptmac if the space name is long, My workitem dropdown is not shown properly.
Please see the above screenshot(right -> we can see the dropdown select a space to work with)

[2018-05-28 17:32] arunkumars08 opened #3662 "[3] Move away from having Github repository name and Application name the same."
### Description

Currently, the getting started flow supports the manual entering of Github repository name (in case of quick start flow) and application name. Due to some technical challenges in the background, both github repo name and application name is made to be same.
This user story tracks the removal dependency in name between these once the technical challenges are resolved.

### Acceptan

[2018-05-28 20:59] aptmac commented on #3621
Or if it's about the dropdown not displaying all of the spaces, it's because it's only retrieving the "recent" spaces. This is pretty confusing though (this also happens for the profile work items component).

[1] https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/home/work-item-widget/work-item-widget.component.ts#L32

[2018-05-29 03:31] Raunak1203 commented on #3621
Ok @aptmac it can be fix with #1886
Yes it's only retrieving recent spaces.

[2018-05-29 04:05] #3643 closed

[2018-05-29 05:21] #3513 closed, assigned to invincibleJai

[2018-05-29 06:00] #3418 closed

[2018-05-29 06:36] piyush1594 commented on #3662
@arunkumars08 JFYI, changes on pipeline side are done if you see https://github.com/openshiftio/openshift.io/issues/3095#issuecomment-391841163 This has been fixed in Jenkins sync plugin and the fix is available in Jenkins version 4.0.80 in OSIO. Let me know if you find something else.

[2018-05-29 06:40] arunkumars08 commented on #3662
Sure @piyush1594 will connect with you when testing the feature in case of any problems. Thanks!

[2018-05-29 06:46] piyush1594 commented on #3662
And please make sure of the third task. I really liked it a lot :wink: as it was not there previously.

[2018-05-29 07:03] ravsa opened #3663 "[3] Setup Jenkins locally to test Booster environment."
**UserStory**: https://openshift.io/openshiftio/openshiftio/plan/detail/2459
    As an OSIO Developer, I will be able to run boosters locally on Jenkins.

As we are adding new boosters in OSIO and planning to improve/troubleshoot issues in the existing booster. we want to run and test new boosters locally to know how it will behave on Jenkins pipelines.

**Acceptance:**
- A booster should able to

[2018-05-29 07:11] pmacik commented on #2417
Duplicate of https://github.com/openshiftio/openshift.io/issues/2318

[2018-05-29 07:11] #2417 closed

[2018-05-29 07:50] michaelkleinhenz commented on #3145
@Preeticp @sunilmalagi please note that markdown isn't markdown and different implementations are possibly (and in reality) a bit different here and there. I received some complaints about our markdown not doing this or that in the last days, but we can't really do something there as we're using an upstream markdown library.

Here's the library we're using: https://github.com/russross/blackfriday

[2018-05-29 08:14] tisnik commented on #2676
I'd also recommend to isolate other functions and classes that spread over more repositories: `abstract_data_source`, `s3_data_source`, `s3_data_store` (the same as *source?), probably graph DB interface and so on.

[2018-05-29 08:45] sivaavkd commented on #3407
@humaton - based on the above comments, I am closing this issue.  Please reopen otherwise. cc @msrb

[2018-05-29 08:45] #3407 closed

[2018-05-29 08:52] jyasveer commented on #3657
@ldimaggi this is fixed now in prod-preview. once the prod is updated, you can see the same in prod

[2018-05-29 08:53] jyasveer commented on #3586
@ppitonak this is fixed in prod preview now. Can you verify and close ?

[2018-05-29 08:55] Preeticp commented on #3145
@michaelkleinhenz you are right and currently our docs have a note with the links to the official Red Hat page as well as the blackfriday repo here:  https://docs.prod-preview.openshift.io/user-guide.html#adding_description_to_a_work_item - "In addition to the [standard markdown syntax](https://access.redhat.com/help/markdown), refer to [these extensions](https://github.com/russross/blackfriday#ex

[2018-05-29 08:58] Preeticp opened #3664 "Resolution field in the Scrum template has 'Default Header Text' and is not aligned correctly"
![screenshot from 2018-05-29 14-23-37](https://user-images.githubusercontent.com/16647625/40648657-97b903bc-634c-11e8-99a6-c12c89d1f967.png)
The header should say 'Update Resolution' this applies to the Severity field too.

[2018-05-29 09:08] hrishin commented on #2729
### Update:

After evaluating all plugins[1][2][3] to throttle the concurrent builds, none of them working reliably. Most of the time it is scheduling more than two jobs because of a race condition occurring at Jenkins scheduler.

Neither existing throttling plugins nor setting Jenkins configuration ('executers limit') is working at all.

To achieve this functinality, we have to implement this fea

[2018-05-29 09:28] msrb commented on #3531
Done :wink:

[2018-05-29 09:28] #3531 closed

[2018-05-29 09:29] msrb commented on #3530
Done :wink:

[2018-05-29 09:29] #3530 closed

[2018-05-29 09:31] #3659 closed

[2018-05-29 09:31] #3401 closed

[2018-05-29 09:34] jaseemabid commented on #2729
We have evaluated the obvious options, none worked and now we are looking at adding a feature to build.now, which we shouldn't. This is not a SEV1, shouldn't be a P0 and hopefully something we can ignore.

[2018-05-29 09:57] ppitonak commented on #3576
Works in prod.

@joshuawilson when will we completely remove old wizard?

[2018-05-29 10:05] rkratky opened #3665 ""Features Opt-in" tab shows 0 features"
All the categories on the **Features Opt-in** tab in personal **Settings** show "0 features", incl. **Production-Only Features**.

![osio-features](https://user-images.githubusercontent.com/6623103/40652427-84fc14d0-6338-11e8-9346-d27aac67a216.png)

[2018-05-29 10:16] michaelkleinhenz opened #3666 "Finding WIs by ID on the Link Panel"
Finding Work Items to link to using the search input on the link panel is not working as it should. I couldn't figure out how it actually does searches. Exact titles of WIs don't match, but single words are. Also (and that is a severe issue) IDs don't match.

We should make sure the user can at least just input a WI ID and gets the WI in the result list.

[2018-05-29 10:29] nimishamukherjee commented on #2538
Thanks @Veethika

[2018-05-29 10:51] lordofthejars opened #3667 "Evaluating Flux"
https://github.com/weaveworks/flux

[2018-05-29 10:52] lordofthejars commented on #3570
I have created this issue for evaluating Flux https://github.com/openshiftio/openshift.io/issues/3667 I really really love the idea behind it, as more videos I see about it the more I like it. I am not saying Build.Next should be based on that (I am trying to see if it can be used outside weavecloud) but a lot of concepts and simplifications they are taking are just awesome.

[2018-05-29 10:58] nimishamukherjee opened #3668 "The new create space wizard is not so usable"
It is very difficult to use the new Create Space wizard.
- The transparent background, along with the white italics texts makes strain my eyes to read the instructions
- My focus goes on the yellow box instead of creating my space
- I'm not sure where to focus on
![createspace](https://user-images.githubusercontent.com/1892722/40654545-3afcb050-635c-11e8-9247-28997233148f.png)

Also, during the cr

[2018-05-29 11:38] jyasveer commented on #3241
This user story depends on the initial work around `Woopra` and `Segment` integration which is being done by @rahulm0101 . So Rahul, if you could provide a user story link so that i can refer here that would be great.
cc @GeorgeActon @joshuawilson @animuk

[2018-05-29 11:56] andrewazores commented on #3576
I believe that work is tracked here: https://github.com/openshiftio/openshift.io/issues/3629

[2018-05-29 11:58] andrewazores commented on #3665
@joshuawilson @corinnekrych

[2018-05-29 12:05] ppitonak commented on #3576
@andrewazores yes, it's tracked in that issue but I don't see **when** it will be delivered.

[2018-05-29 12:06] andrewazores commented on #3576
Perhaps that issue is a better place to ask?

[2018-05-29 12:21] krishnapaparaju commented on #3442
Could not reproduce. Removing P0 label. @lordofthejars can you please close this if not reproducible ?

[2018-05-29 12:29] krishnapaparaju commented on #3356
@invincibleJai please work with @kishansagathiya  to integrate UI side changes for routing UI requests (build specific) to Jenkins Proxy

[2018-05-29 12:33] krishnapaparaju commented on #3058
@rohanKanojia can you please try to reproduce, if not frequent we can take out P0 label.
Please track the log related (logging failure content) into a different issue..

[2018-05-29 12:34] krishnapaparaju commented on #3054
@invincibleJai can you please update current status of this issue.. thanks..

[2018-05-29 12:42] jaseemabid commented on #3581
Adding a few of my own questions.

1. How are we going to control the number of concurrent builds? Previous attempts failed badly. #2729
2. How will we cleanup the dead slaves? The k8s plugin has failed innumerable times before.

[2018-05-29 12:44] krishnapaparaju commented on #2729
@hrishin  Please share job names and regular expression been tried out (Build blocker plugin)

[2018-05-29 12:45] jaseemabid commented on #2729
@krishnapaparaju `hello`, `world` and `.*`.

[2018-05-29 12:47] krishnapaparaju commented on #945
@invincibleJai can you please update the current status.. thanks.

[2018-05-29 12:52] ppitonak opened #3669 "Cannot remove space"
1. go to "My Spaces" page
2. remove a space

result:
* error is displayed, space is still in the list of spaces
* I have 4 spaces that cannot be deleted
[code]

![peek 2018-05-29 14-49](https://user-images.githubusercontent.com/445100/40659890-d65fa71c-634f-11e8-949e-2ed0fd89a043.gif)

[2018-05-29 12:55] hrishin commented on #2729
FYI @sthaha @jaseemabid  @krishnapaparaju  [entry point](https://github.com/jenkinsci/build-blocker-plugin/blob/master/src/main/java/hudson/plugins/buildblocker/BuildBlockerQueueTaskDispatcher.java#L91) for the Jenkins queue/scheduler to block or dispatch the job for execution.

@lordofthejars could you please help here to understand the plugin and jenkins behaviour?

[2018-05-29 13:03] #3491 closed

[2018-05-29 13:03] stacymcauliffe commented on #3491
Presented first draft review - meeting set for Friday to ID action items.

[2018-05-29 13:04] #3458 closed

[2018-05-29 13:09] lwrigh commented on #3653
Link to the space permissions for reference: https://github.com/openshiftio/openshift.io/issues/2910

[2018-05-29 13:09] lwrigh commented on #3654
Link to the space permissions for reference: #2910

[2018-05-29 13:10] #2910 closed

[2018-05-29 13:11] mceledonia commented on #2843
Linking to Navigation for teams/spaces #3652

[2018-05-29 13:11] #2843 closed

[2018-05-29 13:12] bdellasc commented on #3152
I will look into the original dev story and update the comments in this story accordingly.

[2018-05-29 13:13] tisnik opened #3670 "Unable to login to OSIO (prob. after I was added as a collaborator on the openshiftio space)"
Hi team,

I'm no longer able to login to OSIO. It worked fine, but after I was added as a collaborator on the openshiftio space, the login page displays:

Account already exists
User with email ptisnovs@redhat.com already exists. How do you want to continue?

And neither option works there.

[https://sso.openshift.io/auth/realms/fabric8/login-actions/first-broker-login?client_id=fabric8-online-pla

[2018-05-29 13:26] Veethika commented on #3360
@joshuawilson thanks for your inputs. These decisions were taken over a long period of time with several considerations in picture and any changes made might affect many other elements as well. That said, very soon we'd be carrying out a user-testing session to validate those decisions/ understand the user concerns better.

InVision link: https://redhat.invisionapp.com/share/PQJOF87V4G6#/294300421

[2018-05-29 13:26] #3360 closed

[2018-05-29 13:30] ppitonak commented on #3629
When is this issue planned to be resolved?

[2018-05-29 13:47] sara-02 commented on #3506
The scoring api is available at the devcluster here, http://bayesian-hpf-insights-maven-hpf-insights.dev.rdu2c.fabric8.io
sample POST
[code]

[2018-05-29 14:01] aptmac commented on #3668
It's the page navigating to the new space that you made, so that when the app wizard opens you can directly add to your new space. IIRC the old space wizard redirected the users like this too, this would be intentional behaviour.

[2018-05-29 14:02] aptmac commented on #3669
Duplicate of: https://github.com/openshiftio/openshift.io/issues/3503

[2018-05-29 14:02] #3669 closed

[2018-05-29 14:17] dlabrecq opened #3671 "Dev: Applications widget empty state"
The applications widget initially shows an empty state with a button to add an application. After adding an application, I can navigate to the pipelines page and see my progress. However, the empty state remains for the application widget until the application is staged.

See new design: https://github.com/openshiftio/openshift.io/issues/3249

[2018-05-29 14:45] ebaron commented on #2754
The error type returned by hawkular-client-go should be of type HawkularClientError, which includes the status code for the HTTP response. It should be easy to check this for 503. We will have to add a new error type in WIT for 503 responses.

[2018-05-29 14:46] rootAvish commented on #3545
Closing as this is done.

[2018-05-29 14:46] #3545 closed

[2018-05-29 14:55] ldimaggi commented on #3649
Seeing it again in production. Reopening.

[2018-05-29 15:00] krishnapaparaju commented on #2729
Try this Regular expression , this works

' .*.*  '

[2018-05-29 15:00] michaelkleinhenz commented on #3573
Can we please close this issue in favour of specific issues with the browser compatibility? Planner is generally working on Firefox and Safari, we need more specific issues here.

[2018-05-29 15:04] ldimaggi commented on #3639
This problem is not being seen on prod-preview.

[2018-05-29 15:05] michaelkleinhenz commented on #3666
This needs confirmation. It looks like it works sometimes.

[2018-05-29 15:14] ldimaggi opened #3672 "New app creation failing on prod-preview"
Steps to recreate:
* Reset user env
* Create new space
* Create new app - observe 500/server error in browser console

[code]

This problem is not being seen on production.

[2018-05-29 15:26] bdellasc commented on #2875
Met with @slemeur 's team late last week. We agreed they have some investigation before final animation work can commence. [Notes added to this document](https://docs.google.com/document/d/1UBudUth8GGfPRlyw9jkke3bGbZNgjCNx6ZUFwK3yoFc/edit?usp=sharing).

[2018-05-29 15:26] #2875 closed

[2018-05-29 15:31] alexeykazakov commented on #3670
yes. there are two developers.redhat.com (and openshift online) accounts with the same email. It causes problems. I deleted the unused account from OSIO. Try to login now. If not working then need more details. Do you use your username or email when logging?

[2018-05-29 15:49] ldimaggi commented on #3348
Closing - no longer reproducible.

[2018-05-29 15:49] #3348 closed

[2018-05-29 16:27] mindreeper2420 commented on #3197
I'd like to also add that `ESC` should also be a valid input on the Create Space overlays.

[2018-05-29 16:27] andrewazores commented on #2908
@corinnekrych  https://github.com/openshiftio/openshift.io/issues/3629

[2018-05-29 16:33] mindreeper2420 commented on #3197
@dlabrecq I've added screenshots for the two spots that should have the capability to use `Enter` and `Esc`. I added the `Esc` functionality request, as if you can use the keyboard for moving forward, you should also be able to use it for cancelling the process.

[2018-05-29 16:48] samuzzal-choudhury opened #3673 "[5] Design openshift.io application scanner service for security vulnerabilities"
Planner [2349](https://openshift.io/openshiftio/openshiftio/plan/detail/2349)
## Details
As an openshift.io engineer design a system that optionally generates security vulnerability notifications for OSIO users' registered repositories so that users can take necessary actions.

## Acceptance
Design document with architectural decisions and architecture overview diagram

## Assumption
Application d

[2018-05-29 16:51] samuzzal-choudhury commented on #3673
@sivaavkd @miteshvp fyi

[2018-05-29 17:11] lordofthejars commented on #2729
@hrishin I have no idea what else to add. What I see is that if a build is occurring and you need a new agent then this agent is started, but it takes some time to get started so if another build enters to the system since the agent is not already started then it starts another one.  As you said it seems a race condition. So I was never involved in any master/agent communication task, so the only

[2018-05-29 17:22] aptmac commented on #3665
The current response I'm seeing from the unleash server is `{"data":[]}`

The relevant lines of code here are in the [feature opt in](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/profile/settings/feature-opt-in/feature-opt-in.component.ts#L139) where the [service](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/feature-flag/service/feature-toggles.service.ts#L123) is c

[2018-05-29 17:40] dlabrecq commented on #3197
The problem with the "create application" screen is that the user must make a selection first. The submit (enter key) will only work if and only if the continue button is enabled. Although, it's unlikely the user will select that first, then add an application name.

The escape is more problematic because we don't do that anywhere else in fabric8-ui. I can make this work in the overlay screens, bu

[2018-05-29 17:50] bdellasc commented on #3596
I posted the mockups to InVision: https://redhat.invisionapp.com/share/V6JPJW7PW7B

[2018-05-29 17:50] #3596 closed

[2018-05-29 18:18] mindreeper2420 commented on #3480
@ldimaggi I cannot view a log for that specific build (one has not been generated), but when I open logs from previous builds, Jenkins says that it is idling and currently starting (though never starts).

[2018-05-29 18:33] ldimaggi commented on #3480
What do you see in the OpenShift console? Are the Jenkins and Content Repo pods idle? I have seen this problem intermittently in the past week too.

Is this the same problem that you are seeing?

https://github.com/openshiftio/openshift.io/issues/3517

[2018-05-29 18:47] aptmac opened #3674 "Space description is not editable in production or beta feature levels"
Currently, trying to edit a space's description when using a beta or production feature level will not work. Hovering the description will not show the pencil icon, and clicking on the text will not open the desired textbox.

Actual:
![not-editable](https://user-images.githubusercontent.com/10425301/40678601-f129f738-634e-11e8-866a-3a8e5cc06f56.png)

Expected:
![editable](https://user-images.githu

[2018-05-29 18:51] jiekang commented on #3672
The truncated text in `"detail":"confi…found"` section is kind of awkward hahah. I wouldn't be surprised if this is related to the configmap missing issue.

[2018-05-29 18:52] ldimaggi commented on #3639
Steps to recreate:
* Login to https://openshift.io
* Create a new space
* Attempt to create a new app/quickstart
* Observe that after entering the quickstart name and clicking 'Continue' - the new app launcher exits

[2018-05-30 02:44] ldimaggi commented on #2978
I have not been able to recreate this bug today - are you still seeing this?

[2018-05-30 03:02] piyush1594 commented on #3095
Can we close this issue as #3663 will address the UI changes? @krishnapaparaju

[2018-05-30 03:38] hrishin opened #3675 "Support for node.js boosters"
Investigate the efforts required to support node.js quickstart.

[2018-05-30 03:59] joshuawilson commented on #3665
Since we know we have things at various stages, I can only assume that we are missing something in the call to unleash.

[2018-05-30 04:03] joshuawilson commented on #3573
@michaelkleinhenz we can close it since we have the link I added above to track it.

[2018-05-30 04:03] #3573 closed

[2018-05-30 04:37] yzainee opened #3676 "[13] Create a base image from DynamoDB JanusGraph backend while using same set of dynamodb tables created earlier"
Planner : [2156](https://openshift.io/openshiftio/openshiftio/plan/detail/2156)

Tasks

- [x] Create an image of janusgraph in local setup. Add data and verify.

- [x] Modify the dockerfile to use janusgraph db backend instead of titan

- [x] Make the necessary config variable changes to point to existing titan db

- [x] Execute the dockerfile to build an image and test on dev cluster

**Descripti

[2018-05-30 04:38] yzainee commented on #3676
https://github.com/fabric8-analytics/gremlin-docker/pull/42 . Not merged yet. Will be merged once the data is tested fully

[2018-05-30 05:00] yzainee opened #3677 "[5] Validate new Graph backend works as expected"
Planner: [2157](https://openshift.io/openshiftio/openshiftio/plan/detail/2157)

Tasks:

- [x] Able to reuse titandb data wigh new janusgraph backend.

- [x] Indexes works as expected

- [x] Data importer works as expected

Description

As an openshift.io engineer, I need to validate new Graph backend works as expected by performing a small graph-sync job.

Size ?

Acceptance

    On pushing the im

[2018-05-30 05:12] rgarg1 commented on #3503
@ldimaggi Yes, I can confirm that spaces created with a **:** in the name have this problem. Though the UI enforces not to have a ':' in the space name, the same is allowed through the API.

[2018-05-30 05:55] jarifibrahim commented on #3028
I was able to reproduce this error.

[2018-05-30 06:44] rgarg1 commented on #3666
Steps that I figured can reproduce the issue:

1) Have a few work items in the list view
2) Open a work item quick-preview > Link
3) Select link type = Relates to
4) Type the work item ID of the work item just above the selected. The planner should be able to successfully search and suggest the WI to be added
5) Don't create the link, but just close the quick preview window with the link type set

[2018-05-30 06:45] abs51295 opened #3678 "[13] Technical feasibility research - Suggest alternatives to API breaking changes"
### Planner Item

https://openshift.io/openshiftio/openshiftio/plan/detail/2415

### User Story

As an OSIO user, I should be able to get suggestions when there are breaking changes to APIs that I used in my code, so that my code doesn't break.

### Description

The idea with this use case is for analytics to better help developers to work with API breaking changes so they can stay up-to-date with

[2018-05-30 06:46] abs51295 commented on #3678
/cc @sivaavkd @miteshvp

[2018-05-30 07:56] lordofthejars commented on #3442
I couldn't reproduce it. In my case, it happened one time, but then doing the same process didn't reproduce it, and tried multiple times but no luck. So it happens but no idea in which circumstance.

[2018-05-30 08:36] parvathyvr opened #3679 "[8] UX support to provide security notifications to Openshift.io users"
**Details:**
As an openshift.io engineer design UX for the notification service so that
 Openshift.io users are able to opt-in for such a service and get notifications via email

link to feature in planner:https://openshift.io/openshiftio/openshiftio/plan/detail/2389

Acceptance:
- [x] UX screens are designed and approved by the PM

Assumption: None

**Tasks List**
- [x] UX-opt-in setting to recei

[2018-05-30 10:00] sara-02 opened #3680 "[3] Create the training pipeline for the new model"
**Planner** [2151](https://openshift.io/openshiftio/openshiftio/plan/detail/2151)

## Description
As an Openshift.io Engineer, I need to create a necessary training pipeline so that the new model can be trained and retrained on AWS EMR.

## Tasks:

- [ ]  Add code for EMR training
- [ ]  Perform training on EMR
- [ ] Update the S3 bucket with the EMR trained model.

## Acceptance
*  EMR jobs pipel

[2018-05-30 10:11] sara-02 opened #3681 "[5] New maven scoring model to be available on Production"
**Planner** [2152](https://openshift.io/openshiftio/openshiftio/plan/detail/2152)

##  Description:
As an Openshift.io Engineer, I need to productionise the scoring service so that it can be consumed via API services.

## Tasks:

- [x] Integrate the model E2E
- [x] Test the model on staging
- [x] Test the model on the production
- [x] Load test the standalone model on Dev-cluster
- [x] Request for

[2018-05-30 10:23] rootAvish opened #3682 "[5] [Technical feisability Research] Automatic generation of git commit messages - Part I"
#### User story

As a user of Che, or the VSCode IDE extension instead of seeing a standard placeholder I would get a commit message.

#### Description

This issue is the first part of the TFR that will be done to scope the work required and feasibility of the auto generation of git commit messages use-case.

#### Acceptance Criteria

- [ ] The work required for this use case and the underlying te

[2018-05-30 10:29] rootAvish opened #3683 "[8] [Technical feisability Research] Automatic generation of git commit messages - Part II"
Continuation of https://github.com/openshiftio/openshift.io/issues/3682

### User story

As a user of Che, or the VSCode IDE extension instead of seeing a standard placeholder I would get a commit message.

### Description
This issue is the second part of the TFR that will be done to scope the work required and feasibility of the auto generation of git commit messages use-case. This involves conti

[2018-05-30 10:46] michaelkleinhenz commented on #3666
This has a workaround, setting it to SEV-3.

[2018-05-30 10:47] yzainee commented on #3676
For the verification task associated to this issue, refer to : https://github.com/openshiftio/openshift.io/issues/3677

[2018-05-30 10:47] #3676 closed

[2018-05-30 10:48] jyasveer commented on #3639
@joshuawilson can you please confirm if this https://github.com/fabric8-ui/fabric8-ui/pull/2945 is in prod now ?
@ldimaggi the above PR changes should move to prod to solve this issue.

[2018-05-30 10:54] sara-02 commented on #2851
Closing this as the Planner Epic takes care of this https://openshift.io/openshiftio/openshiftio/plan/detail/2154

[2018-05-30 10:54] #2851 closed

[2018-05-30 11:06] miteshvp commented on #3677
@yzainee - this verification would have worked in case of not migrating old titandb based data onto new janusgraph. Since we want to migrate the data, the accepted verification should change to something like
- able to reuse titandb data wigh new janusgraph backend.
- indexes works as expected
- data importer works as expected

[2018-05-30 11:09] sara-02 commented on #2375
@aslakknutsen Any update on this issue? I see #2381 is closed, and I myself have not faced this issue in the recent past. I am closing this for now, if you have any comments re-open it :)

[2018-05-30 11:09] #2375 closed

[2018-05-30 11:40] ppalaga commented on #2978
Sorry, no time to look. Feel free to close if you cannot reproduce.

[2018-05-30 11:46] ldimaggi commented on #3639
The fix is not yet in production - it is still failing.

[2018-05-30 11:46] ldimaggi commented on #2978
Closing as not reproducible.

[2018-05-30 11:46] #2978 closed

[2018-05-30 12:37] lordofthejars commented on #2778
Currently the original metrics are all of them exposed (proxy and idler metrics) Then there is this issue https://github.com/fabric8-jenkins/jenkins-openshift-base/issues/23 which don't know exactly how to proceed which is about adding prometheus plugin in Jenkins tenant.  So maybe this issue could be closed depending on what we decide with https://github.com/fabric8-jenkins/jenkins-openshift-base

[2018-05-30 13:05] CermakM opened #3684 "[8] Determine which versions of a package are affected by CVE"
Planner: [ Feature #2275](https://openshift.io/openshiftio/openshiftio/plan/detail/2275)

Our current CVE job only tries to map CVEs to package names. Figuring out which versions of a package are affected is completely up to reviewer. We need to find a way how to automate this.

[2018-05-30 13:11] msrb opened #3685 "F8A API server fails to deploy to staging"
# Description

Recently, CI started to fail for API server master branch builds: https://ci.centos.org/job/devtools-f8a-master-deploy-e2e-test/1215/console

[code]

[2018-05-30 13:11] msrb commented on #3685
cc @samuzzal-choudhury

[2018-05-30 13:17] msrb commented on #3685
This issue prevents us from testing the service E2E and therefore we don't know if it is safe to promote new versions to production.

[2018-05-30 13:30] joshuawilson commented on #3639
This is now in Prod, please try again.

[2018-05-30 13:41] mindreeper2420 commented on #3379
Completed with the merged PR.

[2018-05-30 13:41] #3379 closed

[2018-05-30 13:47] mindreeper2420 commented on #3480
From what I can see, the classes and styles are still present in the code - the colors are being applied as they should (i.e. for the different states of In Progress, Paused/Pending, Failed and Success), but the animations attached to them are not working as expected.

There are actually two files that have duplicate code in them, so determining which is the proper file will need to be done before

[2018-05-30 13:51] ldimaggi commented on #3649
Fixed in production - closing.

[2018-05-30 13:52] #2992 closed

[2018-05-30 13:53] aptmac commented on #3657
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2945

[2018-05-30 13:53] #3657 closed

[2018-05-30 13:53] aptmac commented on #3589
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2945

[2018-05-30 13:53] #3589 closed

[2018-05-30 13:54] msrb commented on #1198
We not have first tests for the jenkins plugin.

[2018-05-30 13:55] #1198 closed

[2018-05-30 13:57] ldimaggi commented on #3657
Closing - verified fixed in production.

[2018-05-30 13:57] #3649 closed

[2018-05-30 13:58] ldimaggi commented on #3527
Closing - verified fixed in production.

[2018-05-30 13:58] #3527 closed

[2018-05-30 14:14] ldimaggi commented on #3672
Not reproducible today on prod-preview - closing.

[2018-05-30 14:14] #3672 closed

[2018-05-30 14:21] christianvogt opened #3686 "fabric8-ui webpack config ignores nested node_module packages"
The current webpack configuration is setup to resolve node_modules only at the root level in fabric8-ui. This means that when libraries that depend on another library, fabric8-ui must also ensure it has an equivalent dependency so that it gets installed at the root (unless it's the only library of that version in the install). This means that a library cannot depend a version of a library that dif

[2018-05-30 14:37] aptmac commented on #3586
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2945

[2018-05-30 14:44] mceledonia opened #3687 "Feature Flags Indicator - UX Research"
Create research assets and conduct in person user research regarding the current feature flag indicator design.

- [x] Create an interactive prototype featuring the current indicator's designed visual treatment and behavior placed over a screenshot with large amounts of data. Used to study impact of covering information and response to interaction behavior.
- [ ] Create flashcards for rapid testin

[2018-05-30 14:49] aptmac commented on #737
This appears to be fixed; if I visit a page like https://openshift.io/openshiftio/openshiftio while logged out and then log in, I am sent to https://openshift.io/openshiftio/openshiftio (and not the home page).

[2018-05-30 14:53] joshuawilson commented on #3122
It looks like the only place using it is in `AddCollaboratorsDialogComponent`, so you should be fine to swap them out. But you should do a search for some of the keywords to make sure you don't break something by removing it.

@openshiftio/uxd-team do we have any other `dropdown multi-selects` in the current UI or in future designs?

[2018-05-30 15:47] alexeykazakov commented on #737
Yes. There were some bugs in UI which prevented correct redirection after login but they should be fixed by now. Closing.

[2018-05-30 15:47] #737 closed

[2018-05-30 16:02] alexeykazakov commented on #3122
@joshuawilson most likely we will need dropdown multi-selects in the new versions of Permissions/Team management UI too.

[2018-05-30 16:44] arunkumars08 commented on #3686
@christianvogt Sure Christian, let me check that.
Also, one thing to note - "fabric8-analytics-dependency-editor" appears as a 2nd level dependency to "fabric8-ui".
It sits inside "ngx-forge" which in turn sits inside "fabric8-ui".

[2018-05-30 16:44] arunkumars08 commented on #3686
Sorry, accidentally closed the issue.

[2018-05-30 16:52] christianvogt commented on #3686
@arunkumars08 by fixing our webpack config, you should no longer need to add the alias in fabric8-ui to point to the nested fabric8-analytics-dependency-editor.

I'll start posting PRs. Unfortunately there are 8 of them because of all the different repos where dependencies need to be updated.

[2018-05-30 17:30] slemeur commented on #3095
Yes. closing in favor of #3662 for a proper fix

[2018-05-30 17:30] #3095 closed

[2018-05-30 17:53] dlabrecq commented on #3480
Can you please check the applications widget? That borrows some code from the pieplines page.

[2018-05-30 17:53] lwrigh commented on #3654
Here is a link to the in progress wireframes: https://redhat.invisionapp.com/share/GUJTFTJE3RY

[2018-05-30 18:10] mindreeper2420 commented on #3122
As Alexey stated, the Permissions/Team Management will definitely have the multi-selects. A multi-select may also be in use in the Planner filtering (for applying filters/labels), but I am not 100% sure on that.

Regarding a new/different library, will the suggested one work with the planned Angular upgrade, or will it prevent us going beyond Angular 4?

[2018-05-30 18:15] ldimaggi opened #3688 "Editing comment in Planner resulted in screen corruption"
Steps to recreate:
* I added a comment to https://openshift.io/openshiftio/openshiftio/plan/detail/2112
* After saving the comment, clicking on the edit/cancel button produced this display:
![screenshot from 2018-05-30 13-54-54](https://user-images.githubusercontent.com/642621/40739215-897a95d2-6413-11e8-8548-bc53b721e165.png)

I have not been able to recreate this issue with other workitems. In f

[2018-05-30 18:17] mindreeper2420 commented on #3480
@dlabrecq I checked the applications widget (both in new and old dashboards), and they only showed the spinning progress icon.

[2018-05-30 18:26] ldimaggi opened #3689 "Blank boosters fail to build on OpenShift.io"
Steps to recreate:
* Fork blank booster, for example: https://github.com/snowdrop/spring-boot-blank-template
* Import the forked repo as a new app
* Observe the app fail to build

From the Jenkins build log:

[code]

See discussion here:

https://groups.google.com/d/msgid/fabric8-launcher/CAPDqkKG9_SgFGugSSQA4t6_589r9ALAzKGkM6J0wtQSikZ9Okg%40mail.gmail.com?utm_medium=email&utm_source=footer

[2018-05-30 18:55] Bob-Davis opened #3690 "Work items for spaces created under user openshiftio are not editable via UI"
https://openshift.io/openshiftio/tools/plan/detail/4

As an example.

I can't edit anything in this work item that I created.

[2018-05-30 18:57] arunkumars08 commented on #3686
@christianvogt Thanks, Christian. I understand there are many places to be updated.
Just curious to know when this all will be ready?
Because the PR of mine will introduce a new feature inside fabric8-ui which is highly critical for a few other sprint related items of "Getting Started" to proceed.

[2018-05-30 19:46] joshuawilson commented on #3686
@christianvogt if you are confident in the `npm link` change, please update the README files for each lib. There should be a section describing how to do that.

Changing to use peer deps is good, thanks for figuring it out.

[2018-05-30 19:52] joshuawilson commented on #3122
@rohitkrai03, @mindreeper2420 has a good point. If you look at the source you can see that https://github.com/softsimon/angular-2-dropdown-multiselect already supports Angular 6.

It is also a lot more active and has more contributors. I think it is a healthier project.

Can you look at submitting a PR to it to get add the features you need?

[2018-05-30 20:09] joshuawilson commented on #2778
If you want to track user telemetry via Woopra, you should talk to @rahulm0101.

[2018-05-30 20:22] joshuawilson commented on #3241
I don't know of anything @rahulm0101 needs to do first. You should just work together so that he knows what you are doing.

[2018-05-30 20:47] #3481 closed

[2018-05-30 20:52] #1084 closed

[2018-05-30 20:53] msrb commented on #2045
The service is running in staging. We will not move it to prod until test coverage is above 90%.

[2018-05-30 20:53] #2045 closed

[2018-05-30 20:56] msrb commented on #3542
I don't remember having all these repositories listed here. The title and the description clearly says "worker". It's not feasible to do all those repositories in just one sprint.

[2018-05-30 20:57] msrb commented on #3542
Updated the description.

[2018-05-30 21:06] joshuawilson commented on #3690
You are trying to edit a work item that you are not the owner of. If you log in as `openshiftio`, you can edit it.

I logged in and updated the description of the issue. I also added you as a collaborator so you can now work in the `tools` space.

[2018-05-30 21:07] joshuawilson commented on #3690
If that explains it, please close this.

[2018-05-30 21:07] msrb commented on #1636
@tisnik please close this issue, it it is finished, or move it to the current sprint/to the backlog. Thanks :wink:

[2018-05-30 21:08] msrb commented on #1077
@tisnik please close this issue, it it is finished, or move it to the current sprint/to the backlog. Thanks :wink:

[2018-05-30 21:16] joshuawilson commented on #3689
@krishnapaparaju I'm not really sure who should own this.

[2018-05-31 01:51] christianvogt commented on #3686
@joshuawilson I'll update the README files.

I installed and linked (`npm link --production`) the 8 libraries above into fabric8-ui and I was able to successfully run a local dev server.

@michaelkleinhenz I did not try running standalone planner (never ran it before). I may want to do a screen share with you and run through confirm the change is working with standalone planner.

@arunkumars08 I'l

[2018-05-31 02:53] samuzzal-choudhury opened #3691 "Implement scheduler to scan user repos and notify of any security issues"
## Description
As an Openshift.io Engineer, I need to create a scheduled job to scan user's repositories and notify users of any security issues via email.

## Acceptance
Scheduler implemented to scan all the direct dependencies of a user's application stack
Users to be notified via email in case of any security vulnerabilities
Assumption

## Assumption
1. Manifest file will have versions locked.

[2018-05-31 04:19] #3197 closed, assigned to AdamJ, dlabrecq

[2018-05-31 04:35] joshuawilson commented on #3668
cc @openshiftio/uxd-team

[2018-05-31 04:36] #3674 closed

[2018-05-31 05:12] joshuawilson commented on #3622
@openshiftio/uxd-team do you have any guidance here? I'm not sure we want to show everyone. We currently have 11K users. I guess we could page it and show the first 25.

[2018-05-31 05:24] Raunak1203 opened #3692 "Should we allow workitem filter by ID"
Problem Statement:
- Open a work Item in detail page.
- Click on close in detail page.
- Now if you want to search for the same workitem you have to apply various filter to search .
- WorkItem ID being unique might help to solve the problem

Eg: If somebody in your team sends a workitem ( with detail page link) to add child work Item say tasks and you have to apply many filters to search for the s

[2018-05-31 05:30] #3480 closed

[2018-05-31 05:38] joshuawilson commented on #3637
@qodfathr @openshiftio/uxd-team can you weigh in on this?

[2018-05-31 05:56] Raunak1203 opened #3693 "Filter By Creator and Assignee issue"
Steps:
- Create a workItem
- Add collaborator to your space
- Now add Assignee to your workitem, you can see the full Name of the collaborator.
- Now Use Filter-By toolbar to filter by Assignee you will the user name of Assignee.

Problem Statement  -  If i want to filter the result  by Assignee or creator, i have to remember the OSIO UserID of collaborator.

[2018-05-31 06:07] rgarg1 commented on #3692
This is a fair request and an expected feature. We already provide search by WI ID in the link panel, but we also need this functionality at the top of the List view and the Board view as well.

@michaelkleinhenz @stevengutz @qodfathr @nimishamukherjee

[2018-05-31 06:08] rgarg1 commented on #3692
@Raunak1203 You can create a story around this in the Planner backlog (in OSIO), and stakeholders can then take a call on its prioritization.

[2018-05-31 06:13] rgarg1 commented on #3693
I'd rather like to see a mix of both User-Name and User-ID in all user lists. E.g.
**Ruchir Garg (rgarg-1)**

There could be multiple users with same or similar names and that may cause confusion. Also, a user may have multiple accounts (like a primary and a test account) and then both names show up in the list, leaving the users confused which one to pick. Showing only user-IDs is a complete no-n

[2018-05-31 06:26] #2660 closed

[2018-05-31 08:08] maxandersen commented on #3689
the launcher team - they control what jenkinsfile is used and can work with the runtime teams.

[2018-05-31 08:10] tisnik opened #3694 "[3] Increase test coverage in fabric8-analytics-license-analysis repository to > 90%"
## Acceptance criteria

- [x] test coverage above 90%
- [x] all modules are covered
- [x] code coverage displayed on the QA Dashboard

## Additional info
https://openshift.io/openshiftio/openshiftio/plan/detail/2464

[2018-05-31 08:33] yzainee opened #3695 "[2] Data Importer API's clearly documented"
Planner: [2392](https://openshift.io/openshiftio/openshiftio/plan/detail/2392)

Tasks
- [x] List all the APIs for data importer

- [x] Provide sample req/res for the APIs

Description

As an Openshift.io Engineer, I need to clearly document data-importer APIs.

Acceptance

Data importer readme to be updated to contain

    Lists all the API endpoints
    Request and Response of all the endpoints d

[2018-05-31 09:10] maxandersen commented on #2359
moved to planner https://openshift.io/openshiftio/openshiftio/plan/detail/2015

[2018-05-31 09:49] rhopp opened #3696 "[Planner] Quick add looks like search bar"
Today, I added two new issues into planner, just because I wanted to search for an issue.
Then I looked on all "closed" issues and it seems I'm not the only one who did this silly mistake.
It's probably because the place, where Quick Add is located, is the place where usually (in other systems like JIRA for example) is the search bar.
![searchbar](https://user-images.githubusercontent.com/1215011/

[2018-05-31 10:12] rohitkrai03 commented on #3122
@joshuawilson I looked into adding features to https://github.com/softsimon/angular-2-dropdown-multiselect but it seems like a lot of work since the main architecture is written in a way assuming that the options in the dropdown cannot be customized. I also found another component - https://github.com/ng-select/ng-select which supports Angular 6 already and very actively maintained with all the fe

[2018-05-31 10:50] sara-02 opened #3697 "Increase test coverage in fabric8-analytics-stack-analysis repository to > 90%"
## Description:
Current coverage for the repo is at 57%, the aim is to improve this to at least 90%

## Acceptance criteria

- [ ]     test coverage above 90%
- [ ]     all modules are covered
- [ ]     code coverage displayed on the QA Dashboard

## Additional info
* QA Dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html
* Planner issue: https://openshift.io/openshiftio/opensh

[2018-05-31 10:52] CermakM commented on #3567
It is most likely bug in the upstream. There are quite a lot of related issues already:

- https://github.com/celery/celery/labels/Worker%20Hangs
- https://github.com/celery/celery/issues/4185
- https://github.com/celery/celery/issues/3712
- https://github.com/celery/celery/issues/3819
- ...

Also, the issue is very hard to reproduce, as it is caused by AWS.

<br>

As was discussed with @msrb, it

[2018-05-31 10:54] sara-02 commented on #3697
@abs51295 I will be needing some help in this from you, that is why I have added you to the assignee.

[2018-05-31 11:03] humaton opened #3698 "[8] Don't rely on Ecosystem name in worker tasks and configuration"
Planner [2448](https://openshift.io/openshiftio/openshiftio/plan/detail/2448)
Ingestion pipeline currently often makes ecosystem-specific decisions based on Ecosystem name. This works fine if we only want to support single repository per ecosystem. However, in order to support multiple repositories per ecosystem, we need to start doing ecosystem specific decisions based on EcosystemBackend. Note b

[2018-05-31 11:05] humaton opened #3699 "[5] Make caching and storage subsystems work with multiple repositories per ecosystem"
Planner [2449](https://openshift.io/openshiftio/openshiftio/plan/detail/2449)
Caching and storage subsystems currently often make ecosystem-specific decisions based on Ecosystem name. This works fine if we only want to support single repository per ecosystem. However, in order to support multiple repositories per ecosystem, we need to start doing ecosystem specific decisions based on EcosystemBack

[2018-05-31 11:21] sara-02 opened #3700 "[8] Incorporate new evaluation metric to accomodate user feedback"
**EPIC: 2172 on Planner
Feature: 2151 & 2153 on Planner**

## Description:
As a part of the current testing and evaluation framework, I have added an implementation of Precision, Recall and MAP(mean of average precision) functions. In the next sprint, we will be focusing on accommodating a user feedback matrix as well. One of the ways in which we can do that is to use for the evaluating the model

[2018-05-31 11:21] sara-02 commented on #3506
Closing this issue, a part of it will be continued in this sprint, as part of this issue
https://github.com/openshiftio/openshift.io/issues/3700

[2018-05-31 11:21] #3506 closed

[2018-05-31 11:36] lordofthejars commented on #3667
At the time of writing this issue, I have not been able to deploy Flux into OpenShift, it seems some security problems regarding the creation of SSH keys, but after trying several things, no luck. So it seems that Flux and OpenShift are not going to work pretty well together, but there are some features that are great:

* Git as single source of truth
* Any change in the operation means a new PR (

[2018-05-31 11:39] arunkumars08 commented on #3686
@christianvogt Since "Fixes" has been used in all the PRs, it closes this issue on every merge. Could you remove that "Fixes"?

[2018-05-31 11:40] jyasveer commented on #3241
Here is a doc link for reference
https://docs.google.com/document/d/1Nuvv1gUrz4P51d_LbusipMjKx5nZpyPrO_50s7pN63o/edit#heading=h.ptsipi7o2i8u

[2018-05-31 11:46] kishansagathiya commented on #3617
Since Spinnaker requires cluster root access, I am trying to install it on minikube. Minikube gives up in some time (i.e., stops working). I get something like this every once in a while, so that makes it really difficult to test
[code]

So everytime this happens, I restart minikube. But deploying spinnaker still fails
[code]

[2018-05-31 12:05] krishnapaparaju commented on #3581
1) * how are the deployments of multiple masters orchestrated --> Multiple masters , slave nodes are all multiple replicas on a K8 system. I do not think multiple masters would need to co-ordinate as an individual job always taken care by one master. Multiple masters are more meant for HA setup to avoid SPOF.

2)  what plugins are required ?? If this question is related to master management, I nee

[2018-05-31 12:12] krishnapaparaju commented on #3581
9) * How will we make the service commercially viable if we have to run a Jenkins per user?
      Current target to multi tenant setup with Jenkins / any engine on a cluster

10) * How are we going to control the number of concurrent builds? Previous attempts failed badly.  Build Blocker plugin is doing the trick. please follow the conversation at #2729

11) How will we cleanup the dead slaves? Th

[2018-05-31 12:17] christianvogt commented on #3686
@arunkumars08 oops... changed them all