[2018-10-08 11:30] Veethika commented on #4381
@ppitonak this means that the UX team is answerable to the resolution of this issue.
I'm trying to verify the same from @muruGanesan

[2018-10-08 11:51] sahil143 commented on #2582
When a user queries for a work item, and opts to look at the result in tree-view, they should be able to see maximum meaningful results on the screen

@Veethika I agree with both of your points. And to add more,  we dont show all the children expanded because for an applied filter user might want to see only the matching item and track its parent. A workitem can have multiple children which might

[2018-10-08 11:52] Veethika commented on #2582
@pkettman ^does this answer your query?

[2018-10-08 11:59] jarifibrahim commented on #4373
This is the expected behaviour. I'll let @ldimaggi close the issue.
Thanks @sahil143

[2018-10-08 12:06] pkettman commented on #2582
@Veethika on first experience it looked to me as confusing and not intuitive, but I could imagine situations with many children work-items it could be beneficial. So I am going to close this ticket. Thanks for your replies.

[2018-10-08 12:07] #2582 closed

[2018-10-08 12:36] ldimaggi commented on #4373
Ah - thanks - that makes sense.

But - from a user's perspective - this is confusing. The query returns a certain number, but the total number of elements displayed is different (larger) than that number due to how the parent/tree elements are also displayed.

I think that we have to provide the users with an explanation and will transfer this issue to the doc team. Thanks!

[2018-10-08 12:38] ppitonak commented on #4391
@l0rd @ibuziuk @rhopp @Katka92  could you have a look?

[2018-10-08 13:22] Veethika commented on #4196
@stacymcauliffe ^ Here's the InVision file attached that contains screens for empty states (500 & 504)in the Stack Report Widget

[2018-10-08 14:33] sleshchenko commented on #4391
Unfortunately, removing resources on OpenShift cluster is not enough. One more thing that should be cleaned up too is Runtime entity in Che Server Database.
I'm working on an improvement to make Che Server cleaning up such workspace by itself https://github.com/eclipse/che/issues/11364#issuecomment-425383803

[2018-10-08 14:36] ppitonak commented on #4391
It looks like we know the root cause, can somebody manually fix our account?

[2018-10-08 15:04] mmclanerh commented on #4378
This issue is a bit all over the place. Please provide:
- A clear summary of the symptoms (rather than interpretation of the root cause)
- A list of accounts that are experiencing those symptoms
- What actions were performed, to experience those symptoms.

Based on what we have observed so far, there are certainly pvc mount failures in the event log for a test account or two -- but these are relat

[2018-10-08 17:19] l0rd commented on #4391
@ppitonak That's the first time I hear that. I mean that `oc delete all` does not remove the resource. @sleshchenko with `oc delete` the workspace pod should be removed and wsmaster won't recreate it right? Maybe [che namespace lockdown](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/844) has been enforced on that account.

[2018-10-08 18:40] joshuawilson commented on #4172
I've added an story to track this at https://openshift.io/openshiftio/Openshift_io/plan/detail/802

[2018-10-08 18:44] joshuawilson commented on #3742
I've added a story to track the e2e bugs at https://openshift.io/openshiftio/Openshift_io/plan/detail/802

[2018-10-08 18:55] joshuawilson commented on #3802
I've also added this to a story to track the e2e bugs at https://openshift.io/openshiftio/Openshift_io/plan/detail/802

[2018-10-08 18:56] joshuawilson commented on #3935
I've also added this to a story to track the e2e bugs at https://openshift.io/openshiftio/Openshift_io/plan/detail/802

[2018-10-08 18:59] joshuawilson commented on #4215
I've also added this to a story to track the e2e bugs at https://openshift.io/openshiftio/Openshift_io/plan/detail/802

[2018-10-08 20:38] joshuawilson commented on #4381
`area/UX` = the bug is a design issue
`team/UX` = the UX team has responsiblity for the fix

If you are on the Account Home then you should see all your work items but if you are in a space then you should see only the work items in that space.

[2018-10-08 20:41] joshuawilson commented on #4381
@ljelinkova how does this impact the e2e tests?

[2018-10-08 22:53] joshuawilson commented on #3552
Since this has only been designed shouldn't we leave it open until it gets changed and released to production?

[2018-10-09 04:15] kishansagathiya commented on #4007
Resolved with
https://github.com/fabric8io/osio-pipeline/pull/50
https://github.com/fabric8io/fabric8-pipeline-library/pull/434
https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/47

[2018-10-09 04:15] #4007 closed

[2018-10-09 04:16] kishansagathiya commented on #2973
Resolved with
https://github.com/fabric8io/osio-pipeline/pull/50
https://github.com/fabric8io/fabric8-pipeline-library/pull/434
https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/47

[2018-10-09 04:16] #2973 closed

[2018-10-09 05:37] sleshchenko commented on #4391
Right. But even after OpenShift resources removing (pods, services, routes) Che Server still consider workspace as STOPPING and doesn't allow to remove it.

[2018-10-09 06:08] invincibleJai opened #4398 "[VSCode] Remove user authorization extension as dependency from Service extension (analytics)"
Currently, the user needs to authorize with OpenShift.io for consuming services from analytics in VSCode extension, With the proposed approach Authorization with OpenShift.io would not be needed instead will be leveraging RACHEL integration work.

**TASKS**

- [x] Remove Auth extension dependency from analytics VSCode extension.
- [x] Refactor/remove auth related code changes.
- [x] Configuring 3s

[2018-10-09 07:11] muruGanesan commented on #4381
@joshuawilson, thanks!
@ppitonak,
This issue is an implementation issue rather UX  - that's the reason we asked to remove UX label.
Moreover, any defect that affects 'general flow or expected outcome' touches the end-user experience.

[2018-10-09 07:37] muruGanesan commented on #4142
@vikram-raj, @bartoszmajsak, @piyush-garg, anyone addressed this issue?
Do you need any support from the UX team?

[2018-10-09 07:46] vikram-raj commented on #4142
@muruGanesan I addressed this issue and raised the PR https://github.com/fabric8-launcher/ngx-launcher/pull/374

[2018-10-09 07:50] humaton commented on #4372
This should be fixed.

[2018-10-09 07:50] #4372 closed

[2018-10-09 08:37] garagatyi commented on #4391
Looks like the only way to fix the account at the moment is to delete it from DB manually. @sleshchenko WDYT?

[2018-10-09 08:43] muruGanesan commented on #4142
@vikram-raj, thanks.

[2018-10-09 09:40] Veethika commented on #3552
UX solution provided. Removing the team/UX label.

[2018-10-09 09:43] ljelinkova commented on #4381
@joshuawilson The tests currently do not create any work items but they do check if the number of work items on the dashboard is 0. So if you ever run tests with user that has already any work item, the tests will fail.

This is problem especially with combination with this other issue because the work items from removed spaces are not deleted and kept forever.
https://github.com/openshiftio/opens

[2018-10-09 09:45] #3615 closed

[2018-10-09 09:48] vikram-raj commented on #4018
@ldimaggi This issue has been fixed and in production. Can you please verify?

[2018-10-09 09:50] Veethika commented on #4382
@Preeticp Could we come up with a better message for: "Removing this space would remove all the work-items contained within, do you want to proceed?"

[2018-10-09 10:06] Preeticp commented on #676
@joshuawilson,  can you please throw some light on this? Currently, the 'Create an Application' page displays a set of limitations as an Infotip. The User guide emphasizes that the user keep these restrictions in mind (https://docs.openshift.io/user-guide.html#creating_new_project-user-guide_iterations).
![screenshot from 2018-10-09 14-54-54](https://user-images.githubusercontent.com/16647625/4666

[2018-10-09 10:20] rootAvish commented on #3963
Right, this is fixed for me too.

[2018-10-09 10:20] #3963 closed

[2018-10-09 11:17] muruGanesan commented on #4382
@Veethika, thanks.
@Preeticp: We may have to educate the user about:
Removal of "applications, workspace, code base and contributors" - when a user removes the space.

[2018-10-09 11:19] parvathyvr commented on #4397
@yzainee here is the Invision Link to the mockup: https://redhat.invisionapp.com/share/MZOH3A68RBT#/324490795_Table_Of_Contents
Please check and let me know if any changes are required

[2018-10-09 11:29] kwk commented on #4030
@muruGanesan I've commented on the design. My main concern is that it is unclear to me how one gets from the "Start" to "Landing Page".

[2018-10-09 12:10] ldimaggi commented on #3959
Closing - this issue is no longer present in production.

[2018-10-09 12:10] #3959 closed

[2018-10-09 12:16] ldimaggi commented on #4018
This issue is no longer present in production - clsoing.

[2018-10-09 12:16] #4018 closed

[2018-10-09 12:17] sbose78 commented on #4095
@slemeur As far as I see, this information is already available in woopra. Closing.

[2018-10-09 12:17] #4095 closed

[2018-10-09 12:37] Preeticp commented on #4382
@muruGanesan @Veethika please see here: https://github.com/openshiftio/openshift.io/issues/2107#issuecomment-362405121
A detailed design and messaging has already been provided by @catrobson.
Also searching for Space deletion showed many other issues with Space deletion which probably needs to be resolved before @catrobson's suggestion is implemented, probably that's why it is on hold.

[2018-10-09 13:29] christianvogt commented on #4329
@serenamarie125

We currently display the full name adjacent to the user name. The full name is bold to make a distinction between the two pieces of information. The ask is the remove the bold which makes the full name and username read as if they are one piece of data. The issue description only mentions a name column whereas the mockup has a name and ID column.

Please confirm that you want this

[2018-10-09 13:36] joshuawilson commented on #676
The @openshiftio/uxd-team is working on a new design. I have not seen it yet but I agree that an info tip would be great.

@aslakknutsen since this issue is rather old and I don't know what has changed if anything regarding this. Can you please state the current space name limitations?

[2018-10-09 14:03] joshuawilson commented on #4381
If I have my feature flag setting at Released then the Space dashboard has NO workitem widget. There is only Pipelines, Codebases, Stack Report Recommendations, and Applications.

However, if I am not on released then there is a summary workitems widgets on the space page but it only shows total numbers and a chart.

On the Account Home page there is a list of `My Work Items`. This list should sho

[2018-10-09 14:14] joshuawilson commented on #4381
Do the e2e tests fail on this when run by the server? I can see how they might if run locally by a dev that has some work items.

[2018-10-09 14:17] joshuawilson commented on #3552
@nimishamukherjee is there anyone working on it or is it in your backlog?

[2018-10-09 14:33] aptmac commented on #4381
Ah, I believe this present at the `beta` level. The WI widget at the >`beta` level is what you describe as the summary of work items.

I'm not sure this is a "bug", it's more of a side-effect (see discussion at [[0]](https://github.com/fabric8-ui/fabric8-ui/pull/2966#discussion_r199374971)) .. in the sense that it may be unexpected behaviour but this is the way it's currently implemented. There wa

[2018-10-09 16:04] arilivigni commented on #4383
https://github.com/fabric8io/fabric8-pipeline-library/pull/435

[2018-10-09 16:05] arilivigni commented on #4384
https://github.com/fabric8io/fabric8-pipeline-library/pull/435

[2018-10-09 19:41] joshuawilson commented on #4381
Indeed, it is on `beta` but not `Experimental`, I did not realized that it was removed in the latest. (That is really rather odd that it was kept in `beta` while being removed in the latest.

As for the `Home` dashboard, so it is doing the best we can at the moment. Thanks for clearing that up.

[2018-10-10 05:35] sunilmalagi commented on #4198
Here you go for HiFi visuals for #4198:
https://redhat.invisionapp.com/share/VYOHSD2WKQZ#/324695043_Analyze_Dashboard
&
Sketch file:
https://drive.google.com/open?id=1iKktrrwLreMqQV2DmQXOEeUQ_94L9lhu

@sdash-redhat @serenamarie125 @muruGanesan

[2018-10-10 06:47] #3680 closed

[2018-10-10 06:47] sara-02 commented on #3680
Covered here: https://github.com/fabric8-analytics/f8a-hpf-insights/pull/30 and https://github.com/fabric8-analytics/f8a-hpf-insights/pull/45

[2018-10-10 06:49] sara-02 commented on #4034
Covered in the commits to PR https://github.com/fabric8-analytics/f8a-hpf-insights/pull/30/commits/9a8ecdb9cfad87e117b1ac8d0aa569c94f37e389 and https://github.com/fabric8-analytics/f8a-hpf-insights/pull/30/commits/2dd8b9433890fe6d20f9a9171f605e7d8f4bc900

[2018-10-10 06:49] #4034 closed

[2018-10-10 06:50] sara-02 commented on #3700
As the feedback matrix is now a part of scoring, we will not this.

[2018-10-10 06:50] #3700 closed

[2018-10-10 06:58] muruGanesan commented on #3858
@Raunak1203,
UX team addressed this issue in #4375.
Please review the same and close if it addressed.
https://redhat.invisionapp.com/d/main#/console/15579519/323634781/preview

[2018-10-10 07:03] Raunak1203 commented on #3858
@muruGanesan removed UX labels.
Thanks!

[2018-10-10 08:03] bartoszmajsak commented on #4142
@piyush-garg PR has been merged to ngx-launcher `master`. Once it lands on prod please verify.

[2018-10-10 08:15] kishansagathiya commented on #4020
@ppitonak @ljelinkova
Are we still seeing the behaviour mentioned in https://github.com/openshiftio/openshift.io/issues/4020#issuecomment-414631837 and https://github.com/openshiftio/openshift.io/issues/4020#issuecomment-417251004

If so, how frequent is it?

[2018-10-10 08:39] kishansagathiya commented on #4020
In the first log in the comment https://github.com/openshiftio/openshift.io/issues/4020#issuecomment-414631837, for some reason, slave pod failed to come up, which is why GET request is failing. From the logs, it is not possible to find why that pod failed(A lot of above log links are dead).

[2018-10-10 08:48] divyanshiGupta commented on #4381
@ljelinkova I cannot reproduce this issue in prod. I see a list of `My Work Items` on my space dashboard and I can filter the list by my spaces. Can you attach a gif of the steps that you mentioned above in the issue description? That might help me in reproducing the issue.

[2018-10-10 08:49] ppitonak commented on #4020
I haven't seen this issue for couple of weeks but it might be caused by the fact that due to https://github.com/openshiftio/openshift.io/issues/4215 Jenkins won't get to this stage. We need to fix #4215 first and then we can judge.

[2018-10-10 09:21] sunilmalagi commented on #4329
@serenamarie125 @christianvogt @AshishDurgude
Here is one example we have provided to display Assignee Name and ID for the Planner:
https://redhat.invisionapp.com/share/E6MUSNDBAQT#/308269814_Proposed_Assignnee_List
I propose to follow the same style.  If you all agree on that, Ashish can change the visuals and update you all.

[2018-10-10 09:30] muruGanesan commented on #3668
@nimishamukherjee, @joshuawilson,
This is addressed in #4185 and #4191.
Please review the same and close if it is addressed properly.
https://redhat.invisionapp.com/share/E7O609F8T9W#/screens/321098831

[2018-10-10 09:31] kishansagathiya commented on #4020
Can't make out the reason for https://github.com/openshiftio/openshift.io/issues/4020#issuecomment-417251004
@hrishin do you have any ideas on this?

[2018-10-10 09:35] chmouel commented on #4020
Transient error, gluster not working properly ? can you run a logstash to see how many time we see this ?

[2018-10-10 09:36] kishansagathiya commented on #4020
The main issue title is very different compared to some of the comments in here.
I feel like some of the comments in here could be separate issues.

@ppitonak Are all these logs seen together?

Otherwise, I feel like I should create a separate issue for https://github.com/openshiftio/openshift.io/issues/4020#issuecomment-417251004
and close the current issue because https://github.com/openshiftio/

[2018-10-10 09:48] ppitonak commented on #4381
@divyanshiGupta switch your account to Beta features

1. login
2. click top-right menu -> Settings -> Features Opt-in -> Beta
3. follow instruction in the original post

[2018-10-10 09:52] hrishin commented on #4020
Yes, I agree @chmouel comment. Appears more of underlying OpenShift issue rather Jenkins.

@kishansagathiya We are supposed to discuss these issue in IC, right?

[2018-10-10 09:53] divyanshiGupta commented on #4381
@ppitonak yes now the issue is reproducible, thanks.

[2018-10-10 10:00] ljelinkova opened #4399 "Stack analyses report is not generated"
##### Issue Overview
The stack report is not generated after successful build. This happens 100% times.

![report](https://user-images.githubusercontent.com/2078072/46732688-7c70f500-cc8e-11e8-8e6a-befa2a23638f.png)
##### Expected Behaviour
Stack report should be present on space dashboard page.
##### Current Behaviour
Stack report is not present on space dashboard page.
##### Additional Informati

[2018-10-10 10:31] Preeticp commented on #676
@joshuawilson  @aslakknutsen  [here's](https://redhat.invisionapp.com/share/2MO880J6SUZ#/322787865_Create_App_02) the tentative new design for App and Space creation, the restrictions are stated upfront. Since screenshots of the page will be added to the docs, I do not see a need to add these restrictions in the docs again. WDYT?
If it's alright with you and @aslakknutsen  I will go ahead and clos

[2018-10-10 11:04] kishansagathiya commented on #4020
@hrishin I remember you saying that this is an infra issue. You or @ppitonak or @chmouel, if any of you are aware of that you can link it here.

[2018-10-10 11:34] muruGanesan commented on #3214
@rgarg1,
We (UXD) made some UX enhancement under #4191
Here is the design, please review and close this issue if it is addressed in #4191
https://redhat.invisionapp.com/share/2MO880J6SUZ#/screens/322787870

[2018-10-10 11:45] ljelinkova commented on #4020
The issue still occurs in E2E tests, the last time yesterday. This is the output of script that retrieves Jenkins log:

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/833/oc-logs-output.txt

[code]
As for me, you can create separate issue for that if you find title misleading.

[2018-10-10 11:51] abs51295 commented on #4324
Blocked on: https://github.com/openshiftio/openshift.io/issues/4399

[2018-10-10 11:55] muruGanesan commented on #2649
@SkorikSergey,
The screenshot provided looks very old.
Could please review the latest implementation and provide your observation?
We (UXD) team is fixing some of these inconsistency issues with a new story #4191. Please review those designs too.

CC: @aptmac, @joshuawilson

[2018-10-10 12:02] ljelinkova commented on #4391
We have another account with workspace stuck in stopping state on production (osio-ci-e2e-001). It happend 11 hours ago.

[2018-10-10 12:05] sleshchenko commented on #4391
I think removing the corresponding entities from DB manually is the only way. I can provide needed SQL queries.

[2018-10-10 12:10] sleshchenko commented on #4391
@garagatyi @amisevsk
It makes sense to investigate why it happened. If Che Server crashed in that time then it will be fixed by my next PR. Otherwise, the separated issue should be created.
Do you have access to Che Server Logs?

[2018-10-10 12:18] ppitonak commented on #4020
@kishansagathiya no, those two don't occur at the same time.

`Jenkins doesn't have label xxx` and `Could not mkdirs /var/lib/jenkins/nodes` occur always together. Feel free to update this issue as you want and create new one for the `Unexpected error when retrieving changeset`

[2018-10-10 12:33] muruGanesan commented on #1121
@aslakknutsen,
Could please let us know the status of this issue? i.e. is it still appears as you mentioned?

[2018-10-10 12:34] ljelinkova commented on #4391
I do not have access but @rhopp was looking into it. The 'stuck' workspace name is yims9.

I am not sure if this is related but I noticed that there were many workspaces from previous runs of E2E tests (~60). We do reset environment after every test so I'd expect there to be 0 workspaces after reset.

[2018-10-10 12:45] msrb commented on #2893
Implemented in: https://github.com/fabric8-analytics/mercator-go/pull/50

[2018-10-10 12:45] #2893 closed

[2018-10-10 12:45] miteshvp commented on #3992
Closing this and all the necessary support was introduced and the ingestions completed.

[2018-10-10 12:45] #3992 closed

[2018-10-10 12:49] miteshvp commented on #4213
@abs51295 - any updates in this issue?

[2018-10-10 12:55] joshuawilson commented on #676
I'm good with closing the docs issue @Preeticp

[2018-10-10 13:00] christianvogt commented on #4329
We need to be consistent. If we already had a proposal for planner I don't understand why we have something different proposed for another part of the application.

If the planner designs were approved, I say we accept it everywhere. IMO it's clearly better than the ask in this issue.

[2018-10-10 13:12] msrb commented on #4399
So the problem here is that newly introduced auth library used by Analytics service checks if `email_verified` field in provided JWT token is True. This works just fine for user tokens, but tokens used by Jenkins don't have this field. This means that Analytics calls triggered from build pipelines are affected, but IDEs should be fine.

[2018-10-10 13:13] msrb commented on #4399
Note Jenkins tokens used in prod/prod-preview are different from our CI tokens, that's why this issue was not caught earlier.

[2018-10-10 13:33] kwk commented on #4381
Is there someone from UI here that can tell me what call is being made to the backend in order to get the list of work items? Maybe the dashboard is just missing the space ID from filtering out the work items from other spaces.

I'm marking this as a P1 as discussed in today's integration Cabal.

[2018-10-10 13:33] GeorgeActon commented on #4399
@ljelinkova why is this labeled with e2e-test? did the E2E test fail?

[2018-10-10 13:35] miteshvp commented on #3744
@hrishin - can you please provide your expert advise on this issue?

[2018-10-10 13:41] aptmac commented on #3924
@muruGanesan this issue seems to concern the profile page, the designs you've shown are solutions for what looks like the spaces page?

[2018-10-10 13:42] aptmac commented on #2649
This is still relevant; the amount of text you can cram into the description is more than what can be shown.

[2018-10-10 13:53] muruGanesan commented on #3002
@nimishamukherjee, @michaelkleinhenz, @sahil143
Sunil has already provided the solution (as shown below)
https://redhat.invisionapp.com/share/J4AKB1LCS#/220227075_01_ListView.

If it is implemented, please close this issue.

CC: @Veethika @sunilmalagi, @serenamarie125

[2018-10-10 13:53] chmouel opened #4400 "Remove jenkins templates upload on nexus to f8-tenant"
F8-Tenant now own the template generation

- [ ] Update [CICO script ](https://github.com/fabric8io/openshift-jenkins-s2i-config/blob/master/.cico/setup.sh#L96) to instead update [fabric8-tenant templates](https://github.com/fabric8-services/fabric8-tenant/blob/master/environment/templates/fabric8-tenant-jenkins.yml#L814)
  - https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/211
- [ ]

[2018-10-10 13:56] miteshvp commented on #4399
This change is in prod-preview. @ljelinkova - can you please validate on prod-preview?

[2018-10-10 13:57] miteshvp commented on #4324
@abs51295 - changes are in prod-preview - https://github.com/fabric8-analytics/fabric8-analytics-server/commit/67e1fc1cbdf6629a6f5ccb126ee9a2476f8ce9da

[2018-10-10 13:59] ldimaggi commented on #4399
The E2E test includes a test of the analytics report, yes.

On Wed, Oct 10, 2018 at 9:33 AM GeorgeActon <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2018-10-10 14:00] muruGanesan commented on #2649
@aptmac,
Thanks for providing your input and screenshot.
We will look into it and address with an appropriate resolution.

CC: @catrobson, @serenamarie125, @sunilmalagi , @AshishDurgude

[2018-10-10 14:04] msrb commented on #4399
I've tested the fix in staging and promoted it prod.

[2018-10-10 14:07] ppitonak commented on #4399
@msrb it's still failing

[2018-10-10 14:12] msrb commented on #4399
@ppitonak which environment? I've tested it in prod-preview before promoting to prod. I see the stack report.

[2018-10-10 14:12] muruGanesan commented on #3924
@aptmac,
Interesting! We will look at it and come up with an appropriate suggestion.

FYI: Based on K & L train focus these design may undergo a lot of changes.
In any case, we (UXD) will update the status.

[2018-10-10 14:13] andrewazores commented on #3924
@aptmac yes, that's corrrect. The original issue is talking about a search bar on the profile page being missing, but it's unsure if there ever was a search bar there. The My Spaces page has since gained a search capability as well that would replicate the same behaviour being asked for.

[2018-10-10 14:14] abs51295 commented on #4213
@miteshvp All the manifests files have been collected and passed to @msrb for ingestion.

[2018-10-10 14:21] serenamarie125 opened #4401 "OSIO ReBranding Design - Planning"
In order to prepare for the OSIO Rebranding effort, this story is focused on
- [ ]  identify a list of affected screens.  Use this document as a reference: https://docs.google.com/document/d/1KojlYvu2tOGIe6qsEWBuZH-wcbhpN8P4Wl3gbk7zMdg/edit#
- [ ]  bring each of the screens into a sketch file so that once we have the appropriate visual assets, they will be easy to apply

[2018-10-10 14:29] serenamarie125 opened #4402 "OSIO ReBranding Design - High Fidelity Mockups"
Based on the output of #4401 , once we have the Visual Assets from the branding team
- [ ] Update all mocks previously identified
- [ ] Create an Invision flow including all screens affected by the brand changes

[2018-10-10 14:34] ppitonak commented on #4020
happened 20 min ago
http://artifacts.ci.centos.org/devtools/e2e/devtools-saas-openshiftio-e2e-smoketest-released/236/05-03-jenkins-log-failed.png

[2018-10-10 14:36] sthaha commented on #4215
@ppitonak we have recently deployed a change to idler to give us a lot more insights into this issue. Could you please post logs / ping us when you hit this issue again?
Also would it be possible to get a logs of `oc get ev` of `-jenkins` namespace as soon as the test starts?

[2018-10-10 14:39] sthaha commented on #4215
@ppitonak since you marked it `P1` could you please let us know how frequent do you see this issue?

[2018-10-10 14:42] serenamarie125 commented on #4194
@AshishDurgude please update the invasion file to just have what you did for Slide 4 which shows the new empty state with the preferred icon.  We don't need to show the flow in the invision.

[2018-10-10 14:45] serenamarie125 commented on #4194
@AshishDurgude can you also create the necessary icon?  Have we done this in the past and gotten it added to the pf-icon set?

[2018-10-10 14:51] msrb commented on #4399
@ppitonak I see some `AuthError(401, 'Authentication failed - token missing')` errors in on prod-preview. Could you please check if your Jenkins master has the token in `RECOMMENDER_API_TOKEN`?

[2018-10-10 14:53] msrb commented on #4399
And if you haven't updated your tenant since May, then it could be the reason :)

[2018-10-10 14:59] sbose78 commented on #4399
Aslak usually updates all tenants using his script :)

[2018-10-10 15:02] GeorgeActon commented on #4347
@yzainee How will this be tested

[2018-10-10 15:13] aptmac commented on #4381
The work item components go through the `f8-planner`'s `work-item-service` [[0]](https://github.com/fabric8-ui/fabric8-planner/blob/master/src/app/services/work-item.service.ts) in tandem with the `filter-service` [[1]](https://github.com/fabric8-ui/fabric8-planner/blob/master/src/app/services/filter.service.ts). As previously mentioned, these issues started appearing after the upgrade to use the

[2018-10-10 15:29] divyanshiGupta commented on #4381
@kwk @aptmac I am raising a PR to solve this issue. As pointed by @aptmac the query to get workitem was not including space id in it.

[2018-10-10 15:30] #4400 closed

[2018-10-10 15:34] joshuawilson commented on #4381
I would also like to know why this beta feature is not in experimental. @corinnekrych is this working correctly?

[2018-10-10 15:43] aptmac commented on #4381
There's a bit of an explanation in an old issue regarding the work items component [[0]](https://github.com/openshiftio/openshift.io/issues/3398#issue-319310963):

Experimental uses the newer bar-chart-style component that was brought about with the dashboard revamp [[1]](https://github.com/fabric8-ui/fabric8-ui/pull/2740).

[0] https://github.com/openshiftio/openshift.io/issues/3398#issue-3193109

[2018-10-10 15:46] kwk commented on #4381
@aptmac I can see [this](https://github.com/fabric8-ui/fabric8-ui/pull/3282/files#diff-bd118359678af91fa2785b976c6e1932R83):

[code]

Isn't that respecting the space id?

[2018-10-10 15:49] divyanshiGupta commented on #4381
@kwk That is not the file actually. We have at least 4 work item widgets as far as i know in fabric8-ui. The correct one related to this issue is - https://github.com/fabric8-ui/fabric8-ui/pull/3282/files#diff-dfb7f05ddaac7e0dc9e6c3cd45914706R37

[2018-10-10 15:51] aptmac commented on #4381
Yes, but that's for the component observed at the experimental level.

[2018-10-10 15:51] kwk commented on #4381
@divyanshiGupta can you please boil down this whole typescript code into the HTTP call that is issued to the backend? I'm sure that we have working filtering capabilities in the backend and you're just not using it correctly.

[2018-10-10 15:52] kwk commented on #4381
@divyanshiGupta the URL is enough for me, I don't need the headers and so forth.

[2018-10-10 16:00] divyanshiGupta commented on #4381
@kwk Yes, we do have working filtering capabilities in the backend since other work item widgets in home and profile page which do filter work items based on space and user id. The issue here is UI was not sending space id in the query filter which is what i am adding in my PR.

This issue https://github.com/openshiftio/openshift.io/issues/4273 is different which we need to look at later.

[2018-10-10 16:30] msrb commented on #4399
Ah, cool :) Ignore my previous comment then :wink:

[2018-10-10 18:07] Raunak1203 opened #4403 "Infotips text are not displayed for Agile template"
env - production

![screenshot from 2018-10-10 23-34-53](https://user-images.githubusercontent.com/34271052/46756505-490d8500-cce5-11e8-84d8-5db369c2778b.png)

[2018-10-10 18:07] stacymcauliffe commented on #4191
Added content review for create space screen

[2018-10-10 18:08] Raunak1203 opened #4404 "Long title is not rendered properly in query page"
![screenshot from 2018-10-10 23-34-42](https://user-images.githubusercontent.com/34271052/46756629-85d97c00-cce5-11e8-8350-9cdf6ed1a8dc.png)

[2018-10-10 19:09] joshuawilson commented on #3668
@muruGanesan the github issues are designs and do not fix the issue listed here, they only propose a solution. They do link to items in the planner and we might close this and point to one of them. Additionally, I have commented on the design you shared.

[2018-10-10 19:28] invincibleJai opened #4405 "Stack report link not appearing in pipelines view"
Stack report link not appearing in pipelines view as in below screenshot.

<img width="1607" alt="screen shot 2018-10-11 at 12 56 25 am" src="https://user-images.githubusercontent.com/5129024/46760815-afe46b80-ccf0-11e8-8f2c-adc3ef762345.png">

[2018-10-10 19:44] alexeykazakov commented on #3802
@ppitonak why it's a blocker for e2e tests? I agree that it's not optimal right now. We should do a better clean up when deleting a space. There are other similar issues when we don't remove WIs for example when deleting a space but it doesn't break anything, does it?

[2018-10-10 19:48] alexeykazakov commented on #4172
I've removed "platform" label since it looks like a build issue.

[2018-10-10 19:58] alexeykazakov commented on #4381
I've removed team/platform and added team/planner labels because the bug was introduced by Planner contribution and the planner team is working on fixing it. The platform team can help if needed.

[2018-10-10 23:10] joshuawilson commented on #4405
What configuration gets a build with a report? I just tried Spring and REST and got no report.

[2018-10-11 00:06] sthaha commented on #4020
@ppitonak how long did the build take before it aborted?

[2018-10-11 05:03] muruGanesan commented on #3668
@joshuawilson, Thanks.
I saw your review comments in Invision, thanks again.
I believe @christianvogt has taken this issue to the planner.

[2018-10-11 05:21] kishansagathiya opened #4406 "Builds in the waiting queue won't start"
1. Create any projects in OSIO.
2. Make a bunch of commits.
3. Since we can perform only one build at least recent commit(for which the build has not been performed before) will trigger a build, and rest will go in some waiting queue.
4. Let the build reach `Approve` stage.
5. Do not approve. Wait forever(I waited for a day, I don't know what is the minima here).
6. Approve.
7. Current build finis

[2018-10-11 05:27] AshishDurgude commented on #4194
@serenamarie125 The newly created icon is not added in pf-set. We can add it but I do not know the process of adding an icon to Patternfly. I will add that SVG icon link here.
https://drive.google.com/open?id=1tFoWCGOCjlxZN5-SRYs36YOl8J32t6NX

[2018-10-11 06:35] baijum commented on #3974
This has been addressed here: https://github.com/fabric8-services/fabric8-wit/pull/2182

[2018-10-11 06:35] #3974 closed

[2018-10-11 06:52] GeetikaBatra opened #4407 "Security Alert Feature button wouldn't set to `On`"
##### Issue Overview
I am trying to use the feature cve notification. Since, it requires setting the security alert button to `on` state. Doing so, it is automatically setting to `off` state with an error.

`Status: undefined, Unable to update security alert subscription for codebase https://github.com/GeetikaBatra/hellovertx .`

##### Current Behaviour
Here is the image for reference.
![screensho

[2018-10-11 06:56] abs51295 commented on #4407
I can reproduce this on prod-preview except I don't see any error while turning the feature flag on, but the feature flag gets turned off automatically:

<img width="1267" alt="screen shot 2018-10-11 at 12 24 24 pm" src="https://user-images.githubusercontent.com/13438222/46785880-c15d6000-cd50-11e8-8537-2b6436f85063.png">
<img width="1248" alt="screen shot 2018-10-11 at 12 24 36 pm" src="https://u

[2018-10-11 06:59] abs51295 commented on #4324
Blocked on: https://github.com/openshiftio/openshift.io/issues/4407

[2018-10-11 07:10] kishansagathiya commented on #4406
At this point, I can't cancel build. Only option I have is reset environment.

[2018-10-11 07:15] ppitonak commented on #4399
I don't have the permissions to check that.

[2018-10-11 07:20] vikram-raj opened #4408 "Table header is not aligned properly in codebases page"
##### Issue Overview
Tabel header is not aligned properly in codebases page.

##### Expected Behaviour

Header should be aligned to the respective column.

##### Current Behaviour
![screenshot from 2018-10-11 12-43-40](https://user-images.githubusercontent.com/2561818/46786862-c374ee00-cd53-11e8-9dc6-dd0c1e635f56.png)

##### Steps To Reproduce

1. Go to create -> codebases page and you can see tha

[2018-10-11 07:29] hrishin commented on #3744
@yzainee @miteshvp recently we have changed the stage name for Java maven. That migt be regression issue. Otherwise nothing is changed as such from build.
https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/39

I guess @invincibleJai got the hunch of this issue.

[2018-10-11 07:34] invincibleJai commented on #3744
@hrishin stage name was recent change i think and i was not aware of it, have raised a fix for it https://github.com/fabric8-ui/fabric8-ui/pull/3366.

But the problem here is different, it's a very old issue observed intermittently in e2e. What i have observed while debugging it with @ppitonak as per Jenkins logs annotations are being added

[code]

in socket calls (WS) annotations are not seen wh

[2018-10-11 07:52] hrishin commented on #3744
I could be but don't think becuase build annotation are directly getting added to openshift [build](https://github.com/hrishin/fabric8-pipeline-library/blob/master/src/io/fabric8/Utils.groovy#L301) resource; not through sync plugin.

[2018-10-11 08:37] msrb opened #4409 "Do not check `email_verified` in F8A auth library"
# Description

fabric8-analytics auth library checks whether `email_verified` and is True. This caused some problems and we were told that checking just "sub" and "username" fields should be enough. We want to make the changes.

[2018-10-11 08:37] msrb commented on #4409
cc @humaton

[2018-10-11 08:41] ljelinkova commented on #4020
@sthaha At the moment, the e2e tests are aborted after 10 minutes. Previously it was 30 minutes. In either case, Jenkins log is stuck on _Jenkins doesn’t have label mavene2e_1010_1510_7994_1_ .

[2018-10-11 08:44] ppitonak commented on #4399
@msrb it passed twice with my account, feel free to close.

[2018-10-11 08:44] #4399 closed

[2018-10-11 08:56] ppitonak commented on #4180
Could this be related?
![image](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/843/05-06-jenkins-log-failed.png)

[2018-10-11 08:58] chmouel commented on #4180
@ppitonak any chances you can give us a bit more context to this error message?

[2018-10-11 09:32] ljelinkova commented on #4215
This is prod-preview job with the un-idling error:

https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/2923/

[2018-10-11 10:27] pradeepitm12 opened #4410 "Investigate supporting multi-container deployment by onboarding penfold app"
Understand more about openshift.io
Try to deploy an app on openshift.io
Read up penfold docs Make a note of whatever issue is faced
Onboard penfold app.

[2018-10-11 10:28] ppitonak commented on #4215
Stats from prod-preview: 30 jobs, 21 failures, 10 failures on this issue, i.e. 1 in 3 run fail on this issue, this is nr. 1 issue for prod-preview.

[2018-10-11 10:29] ljelinkova commented on #3935
These are screenshofts from today's run:
OSIO
![openshiftio](https://user-images.githubusercontent.com/2078072/46798069-244ef700-cd51-11e8-82a9-8171ece5ef2f.png)
OS
![openshift](https://user-images.githubusercontent.com/2078072/46798117-4ba5c400-cd51-11e8-828a-1f568417d4d6.png)

[2018-10-11 10:33] rohitkrai03 commented on #4407
There was a frontend issue due to which API calls were not going on change of state. After fixing that i am getting `500: Internal Server Error`

[code]

[2018-10-11 10:42] ppitonak commented on #3802
@alexeykazakov we will remove the `area/e2e-tests` label for now.

For the record, this issue doesn't block us at the moment therefore we don't consider it to be a blocker. However, it's important to fix it in the future because we would like to switch from resetting the account to removing space in our test.

[2018-10-11 11:09] ppitonak commented on #4180
@chmouel everything looks the same as in `too many redirects` case but the actual content of http://jenkins.openshift.io is what you see on screenshot

[2018-10-11 11:16] ppitonak commented on #4215
https://github.com/fabric8io/fabric8-test/pull/1069 by @ljelinkova merged, all jobs starting in 15min will gather these events

[2018-10-11 11:20] kishansagathiya commented on #4020
[code]

Going through the code, it seems, that this could be the only place that could lead us to such an error
https://github.com/jdkmirrors/openjdk8/blob/656225c5ace82fa23d2e3bf382e89ace5866a1eb/jdk/src/share/classes/java/io/File.java#L1354

`parent != nil` to be specific

Initially I was thinking that this could be because of lack of permissions. But then earlier logs show that we are able to r

[2018-10-11 11:28] ldimaggi commented on #1512
This issue lists some very old issues - if we want to have a parent JIRA for all new failures, I'd recommend opening a new issue. Thx!

[2018-10-11 11:55] serenamarie125 opened #4411 "Che Marketplace - Analysis of Firefox Marketplace"
Once there is an instance of the Firefox marketplace available, understand what's available via this solution.

[2018-10-11 11:56] serenamarie125 commented on #4411
@catrobson this is relatively vague, but likely so until you and I are able to see what's there, do you agree?

[2018-10-11 11:59] serenamarie125 opened #4412 "OSIO - Short term navigation changes - rework current IA to utilize vertical navigation"

[2018-10-11 12:00] serenamarie125 opened #4413 "OSIO - Short term navigation changes - provide high level mockups with new IA"

[2018-10-11 12:08] serenamarie125 commented on #4412
@catrobson @christianvogt @ sspeiche One of the questions is can we do this utilizing PF4 from the start.  We could produce high fidelity mocks for both PF3 and PF4?

[2018-10-11 12:11] miteshvp commented on #4399
I can confirm it's working in production as well.

[2018-10-11 12:30] ljelinkova commented on #4391
Have you done anything with the prod account? Because it seems to be fixed now. The tests started to pass at 4pm UTC.

The prod-preview account is still stuck though.

[2018-10-11 12:45] kishansagathiya commented on #4020
I am going to try this and see if it helps
Create that `/var/lib/jenkins/nodes` using pipeline library. If it can't bail out saying that there is an infrastructure issue.

[2018-10-11 12:46] catrobson commented on #4411
Agree there is only so much definition we can build at this point.  Do you think it would make sense to do a competitive review of Eclipse Marketplace, Visual Studio Marketplace, and others so that once we get access to the Firefox Marketplace we have a better comparison set to rate it against to understand if it will meet UXD needs for what we need the Che Marketplace to accomplish?

[2018-10-11 12:48] ppitonak commented on #4378
Unidling is no longer the only issue in 1a cluster. Closing in favor of #4215 and #4121

[2018-10-11 12:48] #4378 closed

[2018-10-11 13:04] aslakknutsen commented on #4150
remove everything around the gemini service from wit https://github.com/fabric8-services/fabric8-wit/tree/master/codebase/analytics-gemini and everything around it. Just store the CVEScan bool on Codebase as a bool and nothing more.

[2018-10-11 13:08] aslakknutsen commented on #4407
Fixed by https://github.com/openshiftio/openshift.io/issues/4150

[2018-10-11 13:23] pradeepitm12 opened #4414 "Unable to create application"
I am trying to create an application on openshift.io and every time getting  message "**There was a problem fetching results, please try again**"
1. Select space
2. Click on create an application.
3. Select mission as REST Api Level 0
4. Select run time as Spring Boot
5. Select Red Hat suggested pipeline
6. Click on Select application.

I repeated this multiple time and observed that every time wh

[2018-10-11 13:54] sdash-redhat commented on #4411
Is there any initial vision of what items the market place for Che would have?

[2018-10-11 13:55] christianvogt commented on #4412
@serenamarie125 I'd like to be able to support react in k train and therefore we could use PF4-react.

[2018-10-11 14:15] catrobson commented on #4411
@slemeur - Do you have any documents around the Che Marketplace that you can share with us?

[2018-10-11 14:31] aptmac commented on #4325
@serenamarie125 this issue seems to encompass two parts: the removal of `View all Spaces` and updating the `Spaces` page.

As posted on the OSIO dev story for this issue:

Does the `spaces` page need to be updated before (or at the same time) as the removal of `view all spaces`? Or is it okay to remove the `view all spaces` page and have the `spaces` page be the sole page for the immediate future?

[2018-10-11 14:33] serenamarie125 commented on #4009
@muruGanesan will take an action item to hold a BlueJeans conversation with the stakeholders involved in this conversation ( and record for those of us who cannot attend )

[2018-10-11 15:31] andrewazores commented on #4326
How will users without a typical cursor pointing device - ie those without a mouse, using either a touch screen or an accessibility device such as a screen reader - be able to read the full space descriptions as described in the latest mockup? The interaction as specified requires a mouse hover event, which may not be available to all users.

[2018-10-11 15:47] #4408 closed

[2018-10-11 15:48] garagatyi commented on #4391
No, we haven't fixed it. We don't know the reason and still investigating how to fix intermittent occurrence.

[2018-10-11 16:35] slemeur commented on #4411
If you want to explore the capabilities of the firefox marketplace: http://addons.mozilla.org

Kickoff meeting recording: https://docs.google.com/document/d/1HQ1Lt5dFHODEKc1msRErrggF8u5oR-zI8osBx3sryb4/edit

[2018-10-11 16:49] joshuawilson commented on #4185
dev story https://openshift.io/openshiftio/Openshift_io/plan/detail/788

[2018-10-11 16:57] joshuawilson commented on #3668
So if you want to close this then we need to link to the issue in the planner.

Closing as this issue is being tracked at:
https://openshift.io/openshiftio/Openshift_io/plan/detail/788
https://openshift.io/openshiftio/Openshift_io/plan/detail/785

[2018-10-11 16:57] #3668 closed

[2018-10-11 17:33] joshuawilson commented on #3858
@muruGanesan I can't view the invision link.

[2018-10-11 17:34] joshuawilson commented on #3858
Does this PR fix this issue?
https://github.com/fabric8-ui/fabric8-ui/pull/3364

[2018-10-11 19:04] bartoszmajsak commented on #4312
Link to PRs would help to understand the changes made.

[2018-10-11 19:45] rohitkrai03 commented on #4325
@aptmac Are you working on this? Please assign yourself to planner Work Items that you plan to work on so that we do not duplicate any work.

[2018-10-11 19:46] aptmac commented on #4325
I can work on this, but wanted to firm up details before I begin.

[2018-10-11 19:48] rohitkrai03 commented on #4325
I think its better to split both of work into separate PRs. The changes in `My Spaces` will need a bit more work that the first part.

[2018-10-11 19:50] aptmac commented on #4325
I agree, it's listed in the OSIO Planner as being two different issues. My question is does the completion of the new page for Spaces block the story to remove the duplicate pages, or can they be done in any order?

[2018-10-11 19:55] rohitkrai03 commented on #4325
Removing `View All Spaces` page should not be an issue here since that page actually doesn't show all of the spaces user is a collaborator. That APi was added recently in the Auth Service.

[2018-10-11 19:55] joshuawilson commented on #4325
I would suggest that only one of you work on this and take both tasks since they are related.

[2018-10-11 20:03] joshuawilson commented on #4412
We have a dev story to work on Updating Navigation: https://openshift.io/openshiftio/Openshift_io/plan/detail/777

[2018-10-11 20:08] joshuawilson commented on #4414
@bartoszmajsak do you think this is a bug in the backend in handling underscores? Or in how the frontend handles the name to begin with?

[2018-10-11 20:15] joshuawilson commented on #4410
why create a github issue if you already have it in planner?

[2018-10-11 20:15] slemeur commented on #4411
Thank you @catrobson ! I get the context now :)

The idea of the Che Marketplace is to be an upstream marketplace available online to the whole Eclipse Che community. Plugins contributor would be able to expose their plugins and Che users will have a place to get the plugins from. As we would prefer to avoid creating our own marketplace, we explored the different opensource solutions that are avai

[2018-10-11 20:19] joshuawilson commented on #4406
cc @pradeepto @bartoszmajsak

[2018-10-11 20:32] bartoszmajsak commented on #4414
@gastaldi is it the same as https://github.com/fabric8-launcher/launcher-backend/issues/553 ? If so we might close that one once a new version of Launcher Backend goes live.

[2018-10-11 20:36] gastaldi commented on #4414
@bartoszmajsak I don't think they are related. I can't even proceed if I type `demo_app_1` as the application name in https://developers.redhat.com/launch/wizard. Maybe this validation is not being applied in OSIO?

[2018-10-11 20:39] bartoszmajsak commented on #4414
@gastaldi do you mean using `_` is illegal and should be validated in the UI? What's the reason behind that?

[2018-10-11 20:41] gastaldi commented on #4414
Underline is not part of the naming requirements:
![screenshot from 2018-10-11 17-40-42](https://user-images.githubusercontent.com/54133/46832588-cfc17100-cd7c-11e8-9c3f-6f6695c36971.png)

[2018-10-11 20:46] bartoszmajsak commented on #4414
So here's OSIO side of things

![image](https://user-images.githubusercontent.com/719616/46832825-5c812480-cda7-11e8-99c9-6bff1a1e70fb.png)

So now the question of the day is - why is that different if we are presumably using the same `ngx-launcher` component? @vikram-raj any clue?

[2018-10-11 21:00] bartoszmajsak commented on #4414
@gastaldi this still does not answer "why" part of my question btw :P

[2018-10-11 21:12] bartoszmajsak commented on #4406
![giphy](https://user-images.githubusercontent.com/719616/46834226-1d54d280-cdab-11e8-97e8-548b2ee7bea0.gif)

[2018-10-11 21:14] joshuawilson commented on #4414
If underscore is illegal then we should catch it in the UI. But it would be nice for the backend to respond with the reason things failed. "Underscores are not allowed"

[2018-10-11 22:02] alexeykazakov commented on #3935
Looks like a pure build issue. Removed team/platform.

[2018-10-12 03:19] #4407 closed

[2018-10-12 04:01] muruGanesan commented on #3858
@joshuawilson,
Please try this link:
https://redhat.invisionapp.com/share/MBOEF1JX4VD#/323634781_Space_Plan

[2018-10-12 04:56] vikram-raj commented on #4414
@bartoszmajsak It is different because we are not using the same create application modal component in OSIO. We have our own validation in OSIO.

[2018-10-12 07:00] nimishamukherjee commented on #4047
@jarifibrahim so integer should also be restricted to 5 digits?

[2018-10-12 07:18] jarifibrahim commented on #4047
@nimishamukherjee yes. Every field should have some kind of limitations. 5 digits on an integer or float field should be more than enough.

[2018-10-12 08:01] kishansagathiya commented on #4020
This won't work. Can't create directories through pipeline library. It doesn't have permissions to do so

<details>
<summary>Jenkins Logs (Using java.io.File mkdir)</summary>
<br>
OpenShift Build ksagathi/app-test-1-7 from https://github.com/kishansagathiya/app-test-1.git
Connecting to https://api.github.com using kishansagathiya/****** (cd-github)
Obtained Jenkinsfile from 1786347a396e1cf250d33c8

[2018-10-12 08:04] sunilmalagi commented on #4198
@sdash-redhat @serenamarie125 @muruGanesan

Updated the visuals based on yesterdays discussion, links remains same as mentioned above..

[2018-10-12 09:56] ljelinkova opened #4415 "Could not start workspace. Dev-machine not available."
##### Issue Overview
When running E2E tests we found the following error when starting che

![04-01-aftereach](https://user-images.githubusercontent.com/2078072/46862602-883af380-ce15-11e8-8acb-f31c7c7d58e6.png)

This was logged in che-server (thanks @rhopp)
[code]

[2018-10-12 10:06] rhopp commented on #4415
This is link to logs in kibana from the timeframe from start of that workspace to it's failure:
https://logs.dsaas.openshift.com/goto/0ee0f03cb4b21148a72e48ecfdb87720
(I've filtered some messages, as they were clogging the output)

[2018-10-12 10:10] ljelinkova opened #4416 "Che: 2 workspaces created instead of one"
The E2E tests started to fail while performing the following scenario:
1. Create space and application
2. Create new workspace
3. Run Che
4. Close Che
5. Assert number of workspaces is 1 fails, because there are 2 workspaces

This could be caused by some test programming issue, but we haven't changed the code for quite a long time. When @rhopp  checked the workspaces, they have both been created 3

[2018-10-12 11:31] ppitonak opened #4417 "Email notifications should say what changed"
##### Issue Overview

When a user receives an email notification from Planner, it's not clear what changed.

##### Expected Behaviour

User knows what happened

##### Current Behaviour

![osio_email](https://user-images.githubusercontent.com/445100/46866798-1c5f8780-ce23-11e8-91d7-78fa32763700.png)

##### Steps To Reproduce

1. user A - create a work item
2. user B - write a comment on work item
3

[2018-10-12 12:12] joshuawilson commented on #4194
@serenamarie125 it appears there are at least place that need design but only one has been provided.

1. empty state for application (getting started) https://openshift.io/openshiftio/Openshift_io/plan/detail/840
2. empty state codebases widget https://openshift.io/openshiftio/Openshift_io/plan/detail/842
3. empty state for stack report widget https://openshift.io/openshiftio/Openshift_io/plan/det

[2018-10-12 12:17] rhopp commented on #4415
It almost seem to me, that we have some networking problem and this could be one aspect of it.
Today I'm randomly encountering (fairly often) `504 - Gateway Time-out` on various places, when working with che.
For example, right now, I got 504 when trying to stop workspace using dashboard:
![image](https://user-images.githubusercontent.com/1215011/46868712-8549fe00-ce29-11e8-97d7-fb32243defef.png)

[2018-10-12 12:18] joshuawilson commented on #4194
There also appears that the context menu has changed. This is not within the scope of this change.

[2018-10-12 12:33] joshuawilson commented on #4326
@serenamarie125 There is a request to review the designs. Are they approved?

[2018-10-12 12:43] joshuawilson commented on #4326
This design also includes [Change the context menu to sometimes be a breadcrumb](https://openshift.io/openshiftio/Openshift_io/plan/detail/843) and that is outside the scope of this change.

[2018-10-12 12:47] parvathyvr commented on #4326
@andrewazores @serenamarie125 As per the last comments about the 'ellipsis & tooltip' interaction -that it may not be available to all users;I have modified the design to show wraped text if there is a long space description.This is current behaviour in OSIO as well.
Please see the modified design in the Invision link below:
https://redhat.invisionapp.com/share/Y7OC1HORWQC#/screens/322844508_3

[2018-10-12 12:52] ljelinkova commented on #4415
I've found one job that failed to load Jenkins log due to Gateway timeout
Screenshot: http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/848/05-03-jenkins-log-failed.png

Jenkins log contains quite o lot of errors (not sure if related)
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/848/o

[2018-10-12 12:53] rhopp commented on #4415
For analysis of the original issue (dev-machine not available).
I've just attempted to start workspace and it failed with exactly same message as in this issue description.
This is browser console output:
<details>

[code]

</details>

[2018-10-12 13:01] bartoszmajsak commented on #4414
@vikram-raj why is that so? Shouldn't we share validation logic in the frontend? Backend relies on those restrictions so if we don't do that - we face issues exactly like this one.

@gastaldi is there a validation on the backend too? as @joshuawilson suggests - more contextual error messages would be handy here :)

[2018-10-12 13:02] ldimaggi commented on #4391
Regarding the severity of this issue -if the problem is 100% solved in production and the E2E tests are passing, then we can move it to SEV2. The P1 designation should remain if the issue as presented on prod-preview is causing the E2E tests to fail (on prod-preview).

[2018-10-12 13:04] ldimaggi commented on #4391
The issue of multiple workspaces remaining after an attempt to delete them is a different issue. I saw that same problem earlier this week. The symptoms of that issue were that a workspace was "stuck" which seems to cause other workspaces to not be deleted. I have not seen this issue a 2nd time (yet).

[2018-10-12 13:13] invincibleJai opened #4418 "Generation of stack-report is failing in VSCode for some npm projects"
Generation of stack-report is failing in VSCode for some npm projects if npm dependencies are not installed.

Repo : https://github.com/keystonejs/keystone
VSCode analytics ext : 0.0.3

[code]

[2018-10-12 13:13] joshuawilson commented on #4193
The original description appears much broader and should be worked under the [Navigation stories](https://openshift.io/openshiftio/Openshift_io/plan/detail/777)

The designs for the end of the launcher, are they the landing page that tells the user what is done? Are these final and approved?

[2018-10-12 13:20] garagatyi commented on #4415
Since there are 504s checks of the workspace agent can easily fail and then workspace would be treated as unhealthy.
Since we also have 504s in other parts of the system such as
[code]
I would want to remove label area/che as Che wouldn't be able to work properly with a faulty networking.
@rhopp WDYT?

[2018-10-12 13:45] gastaldi commented on #4414
@bartoszmajsak yes, there is validation in the backend too, using the Bean Validation annotations in https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/projectiles/context/OsioProjectileContext.java

[2018-10-12 14:25] spaparaju opened #4419 "Reduce the # of unknown dependencies at OSIO AI platform"
Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/848

OSIO AI platform proactively ingests application dependencies, application stack report shown to the user would contain both the known and unknown (not ingested yet) dependencies.

Need to know the list of all dependencies that are being shown to the user as 'unknown' and ingest these currently 'unknown' dependencies into

[2018-10-12 14:58] aptmac commented on #3858
@muruGanesan I think @joshuawilson meant along the lines of does the PR that was merged meet the criteria to close this issue. There are attached screenshots in the PR that match the mock-ups you've posted.

[2018-10-12 15:04] garagatyi commented on #4415
I just started my workspace without any error

[2018-10-12 15:44] ppitonak commented on #4009
@muruGanesan following up our today's conversation, the pipeline could show "in progress" and no link to app until the application is ready.

![osio_pipeline_2](https://user-images.githubusercontent.com/445100/46879484-7d4c8700-ce46-11e8-9567-935ca0c3cc14.png)

[2018-10-12 15:52] andrewazores commented on #4194
I need to clarify some parts of this design before development work can get started.

First, please confirm where this new empty state will be displayed. There are a lot of references to "dashboard" in the preceding discussion, which makes it seem as if this is an empty state for the Analyze Dashboard. However, I'm not sure I understand how that flow is supposed to play out - the Analyze Dashboard

[2018-10-12 15:54] ldimaggi commented on #4009
So - the UI would show "in progress" until the app endpoint was available, at which point, the checkbox/arrow icon would be displayed, yes?

What about the scenario that Pavel mentioned where a new version of an app is deployed? When do we disable the link to the previously deployed version of the app? When the user starts the build for the new version of the app?

[2018-10-12 15:55] #4381 closed

[2018-10-12 15:56] andrewazores commented on #4326
Thanks for that clarification. There is still one more remaining question along those lines however, which Joshua has written as an Invision comment but I will echo here for visibility. If long descriptions are no longer truncated and will instead be wrapped, how is this expected to work with the stated design goal of a fixed/static row height? There should be some other way to hide too-long descr

[2018-10-12 16:12] muruGanesan commented on #4009
@ppitonak, thanks for the screenshot.

[2018-10-12 16:29] aptmac commented on #4326
Regarding the "my spaces" and "shared spaces" toggle filter [[0]](https://redhat.invisionapp.com/share/Y7OC1HORWQC#/screens/322844508_3), is there any "easy" way to get that to be displayed as shown (hugging far left) using the current `pfng-toolbar` implementation? From what I can tell, the two templates available to us for custom behaviour are the `ActionTemplate` and `ViewTemplate`. We're alrea

[2018-10-12 19:06] invincibleJai commented on #4418
closing as fixed.

[2018-10-12 19:06] #4418 closed

[2018-10-14 15:31] serenamarie125 opened #4420 "Create space should be Create Space in the header component"
Please change capitalization to **_Create Space_** in the header component.  We should be using **_H_** eadline **_C_** apitalization.
![image](https://user-images.githubusercontent.com/12504403/46918792-789de500-cfa4-11e8-936f-bb8a1a2f2167.png)

[2018-10-14 15:31] serenamarie125 commented on #4420
FYI @aptmac issue previously commented on https://github.com/fabric8-ui/fabric8-ui/pull/3374 but was considered out of scope.

[2018-10-14 16:43] garagatyi commented on #4391
There is a [fix](https://github.com/eclipse/che/pull/11570) in upstream that should fix the situation. It removes the state of a hanging workspace after ~8 minutes of waiting for the workspace to report its successful stopping. Hopefully, we would be able to deliver this fix with a bugfix release of upstream soon.
It would be great to understand the reason why workspace got this state to fix the r

[2018-10-14 16:52] garagatyi commented on #4415
@ljelinkova can you reproduce the issue now?

[2018-10-14 16:54] garagatyi commented on #4332
@gorkem do you mean the creation of a workspace using OSIO flow or directly in Che?

[2018-10-14 17:32] garagatyi commented on #1160
Was fixes at some point, but no one tracked it to close down the issue.
![image](https://user-images.githubusercontent.com/1851863/46919971-fe934d80-cfef-11e8-96d4-4022c65eeaaf.png)
![image](https://user-images.githubusercontent.com/1851863/46919974-03580180-cff0-11e8-9ac7-314ab013e88f.png)

Maybe we need a bot that would ask to close the issue and then ppl involved would react and validate whethe

[2018-10-14 17:42] gorkem commented on #4332
This is for OSIO flow. Right now we are always creating workspace according to passed ID but if we start putting `factory.json` or any other devfile that we are starting to work on, it will be ignored when opening from OSIO. I think we should prioritize devfile/factory.json over anything else.

[2018-10-14 18:06] ibuziuk commented on #4416
Could you please provide more info about the tests & details that you have figured out during investigation - workspace ids, logs from kibana would be really useful here.

[2018-10-14 18:11] ibuziuk commented on #4243
Closing since all the issues have been resolved and the fixes are available on prod.

[2018-10-14 18:11] #4243 closed

[2018-10-14 18:30] ibuziuk commented on #3878
The fix is available on prod. Closing
![image](https://user-images.githubusercontent.com/1461122/46920530-d3106300-cfef-11e8-87b8-35bd75f1fc48.png)

[2018-10-14 23:35] serenamarie125 commented on #4326
@joshuawilson confused what you mean by this, can you clarify?

[2018-10-14 23:50] serenamarie125 commented on #4194
@joshuawilson this only covers your #1 for on boarding

[2018-10-15 02:38] sthaha commented on #4180
@chmouel seems to me like an openshift n/w issue again  - 5432 AFAICT is the postgres port.

[2018-10-15 02:40] sthaha commented on #4180
@ppitonak could you please explain why this is a P1 ?

 namespaces missing DC for Jenkins must be a very rare case and is related to E2E tests resetting workspaces. How are you validating if the reset environment has worked?

[2018-10-15 04:06] sdash-redhat commented on #4411
@slemeur @catrobson very helpful!

[2018-10-15 06:06] sunilk747 opened #4421 "Refactor license service"
#### Description
Currently the license service show the stack level license as `None` when it doesn't find the declared license for any of the packages in stack. This task aims to refactor the license service to consider only those packages for which it get's a declared license in request.

#### Acceptance Criteria
Stack level license without considering the packages with no declared license.

[2018-10-15 06:45] chmouel commented on #4180
But that issue only is about when resetting environment not sure if that can be postgresql related,

agree with you @sthaha `oc delete all` is only for people who have -edit rights on -jenkins and does that kind of things withouth going by the tenant reset call,

[2018-10-15 06:52] hrishin commented on #4414
@bartoszmajsak jsak we are accepting only characters that are valid to form DNS URL. Since the project names used to construct DNS names; if invalid DNS characters appear then kubernetes/OpenShift fails to create service, route.

[2018-10-15 06:54] kishansagathiya commented on #4020
Some fun stuff
[code]

[2018-10-15 06:54] hrishin commented on #4414
This is how backend responds right with HTTP 401 status.

[code]

[2018-10-15 07:32] sdash-redhat commented on #4411
@serenamarie125 @catrobson @slemeur

As Che is browser-based, are the plugins/add-on for are always for the backend? e.g. a plugin for new language support or something... unlike the add-on for Firefox, where there is UI component that is part of most of the plugin.  Is this assumption true?

[2018-10-15 08:16] chmouel commented on #4180
I tried again to confirm and looking at the logs it is indeed the deletion that makes the issues :

[code]

access jenkins.opebshift.io

[code]

[2018-10-15 08:27] rhopp commented on #4415
The 504's disappeared and the original error happened only twice through the weekend:
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/856/
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/866/

[2018-10-15 08:49] garagatyi commented on #4415
@rhopp I don't know how to reproduce it. For me, workspaces start just fine.

[2018-10-15 09:38] nurali-techie commented on #4150
PR is merged but changes will NOT apply to prod-preview until this is fixed https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2349

[2018-10-15 09:43] kishansagathiya opened #4422 "Unable to mount volumes on both clusters 2 and 2a"
Created a new quickstart project after `reset environment`
Jenkins takes a lot of time to start and when it does openshift doesn't get a view logs link

The issue was experienced on prod-preview and seems consistent as I faced the same problem consecutively on doing the above exercise.
Same was seen on prod, consistentlly.

Going through `monitoring`, I see the following errors

[code]
Saw this so

[2018-10-15 09:49] chmouel commented on #4422
note: The issue is about gluster volumes not mounting properly not about quota,

[2018-10-15 10:03] miteshvp opened #4423 "Analytics Githuber worker not refreshing the data"
### Description
Currently it seems analytics githuber is not refreshing the data on a bi-weekly basis. Based on the snapshot available, it seems to have some issue.

#### GH Website Metrics
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/17736013/46944296-4d43f480-d08f-11e8-953c-9eaac07252cb.png">

#### OSIO Analytics Snapshot
<img width="1024" alt="image" src="https:/

[2018-10-15 10:15] slemeur commented on #4411
A Che plugin is can be:
- Backend: example a language server
- Frontend: to display a new panel with new information
- Frontend + Backend: a service that is running on the platform and displaying things in the UI. Example: an openshift plugin.

[2018-10-15 10:48] ppitonak commented on #4009
When Build 2 starts, Build 1 is hidden so the issue doesn't exist until the link is displayed. In other words, if first run of pipeline is implemented correctly, there is no issue with second run of pipeline.

[2018-10-15 11:06] kishansagathiya commented on #4422
This definitely consistent. Happens every time.
Because of this issue, I can't trigger any builds on prod-preview, stopping me from whatever manual testing I use prod-preview for

[2018-10-15 11:17] ljelinkova commented on #4416
@garagatyi @ibuziuk  I am afraid I do not have more details about this issue. The issue appeared approximately 10 times but was not reproducible. I have not seen this issue since last Friday. The only clue we have is that it was probably connected to _Gateway Time-out_ error that was encountered on multiple occasions during the time the issue existed.

https://github.com/openshiftio/openshift.io/i

[2018-10-15 11:31] sdash-redhat commented on #4411
Thanks, @slemeur. Also connected with Shiva this morning to get an idea. This helped a lot to understand the scope the context. I think the first 2 personae, namely User and Contributor will be easier to explore in Mozilla Addon Marketplace. I will be creating a hello world extension and submit to Mozilla marketplace understand the flow. Later we can explore the Approver/Moderator persona.
Will up

[2018-10-15 11:43] GeetikaBatra opened #4424 "Image Scan Timeout [Gemini Scan]"
##### Issue Overview

The following images timed out during scan

- [ ] quay.io/openshiftio/rhel-fabric8-services-fabric8-tenant:df67bf

- [ ] quay.io/openshiftio/rhel-che-rh-che-server:5fc0c80

- [ ] quay.io/openshiftio/rhel-fabric8-services-fabric8-jenkins-idler:8840ca

- [ ] quay.io/openshiftio/rhel-fabric8-services-fabric8-oso-proxy:496742

- [ ] quay.io/openshiftio/rhel-fabric8-services-fabri

[2018-10-15 11:48] miteshvp commented on #4424
@abs51295 - can you PTAL on why these images are not completing on time?

[2018-10-15 11:56] msrb commented on #4423
The data on S3 is 2 months old from some reason.

[2018-10-15 11:59] sthaha commented on #4180
@chmouel good find! Any thoughts in case of `404` what the proxy should do?

[2018-10-15 12:02] chmouel commented on #4180
return a 404 ? user would know that "jenkins dc cannot be found" ?

[2018-10-15 12:05] ppitonak opened #4425 "Applications in space dashboard doesn't update when space changes"
##### Issue Overview

`Applications` widget on space dashboard is not updated correctly when space changes

##### Expected Behaviour

`Applications` widget contains apllications from given space

##### Current Behaviour

`Applications` widget contains data from different space

##### Steps To Reproduce

1. create two spaces with two apps
2. open space A, verify Applications
3. click top-left menu

[2018-10-15 12:17] rhopp commented on #4415
@garagatyi I too fail to reproduce this issue (trying since morning).
After further investigation of the existing failures, in both recent cases (linked in my previous comment) there were 503 responses to web socker connection in browser console:
[code]
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/856/04-01-afterEach.log
http://artifacts.

[2018-10-15 12:50] garagatyi commented on #4391
Hopefully days only.

[2018-10-15 12:54] garagatyi commented on #4415
@rhopp the error from the description says that the problem is the unavailability of wsagent, not terminal. But both could be unhealthy back then. When Che can't reach wsagent for some time it thinks that workspace is unhealthy. Especially at workspace start where we check whether everything started as expected by pinging wsagent by HTTP. Since routes worked improperly back then it is expected tha

[2018-10-15 13:18] chmouel commented on #4180
@ppitonak We are working on that issue,

But it came to my attention that it has been estimated as critical for running the E2E, from my understanding with the chat we had on mattermost, you don't do a tearUp or tearDown of the environment  (i.e: resetting the env), can you please confirm ?

Because if you don't do the whole `oc delete --all all` of the -jenkins tenant following by a call to the f

[2018-10-15 13:29] rhopp commented on #4416
I've just reproduced this issue (running reduced e2e tests locally). The common denominator is this:
[code]
@ljelinkova Did some more investigation and localized possibly suspicious code, which could cause this request to be called once again and thus creating two workspaces. (She will comment in a minute with her findings)

[2018-10-15 13:31] ppitonak commented on #4180
@chmouel we reset the environment (i.e. click "Erase My OpenShift.io Environment on https://openshift.io/myuser/_cleanup) after test run

[2018-10-15 13:33] ljelinkova commented on #4416
I've noticed that the createWorkspace  is called with retry in case any error occurs. This could have caused that 2 workspaces were created.

https://github.com/fabric8-ui/fabric8-ui/blob/f26f5a98e17acca51036df2aa4f122bb466afc24/src/app/space/create/codebases/services/workspaces.service.ts#L43

[code]

@joshuawilson What is the reason for that retry? Is creating 2 workspaces the right approach?

[2018-10-15 13:38] chmouel commented on #4180
@ppitonak well right so can you please let us know if there is objects i.e: `oc get all -n $USER-jenkins` before running the start of a test, and run that would be very useful so we can make sure what is your issue, the `oc get ev -n $USER-jenkins` and `oc logs jenkins/dc -n $USER-jenkins` and the time the test has been started so we  can correlate inside the idler logs,

Thanks a lot,

[2018-10-15 14:51] andrewazores commented on #4326
The designs show the top left menu displaying "Spaces", whereas today this menu displays the current logged in user's username. The display behaviour of that menu is out of scope of this change request, since it's not as simple as changing what it displays on a per-page basis for this page.

[2018-10-15 14:54] ppitonak commented on #4180
I will provide all data when I see this error next time.

[2018-10-15 19:13] andrewazores commented on #4194
I am still looking for clarification on my questions above.

[2018-10-15 20:59] andrewazores commented on #4194
I have a fourth question. Why does the main action button on the empty state card read "Create New Codebase", but the modified Launcher flow on the next slide starts with a new step that appears to both create a new Space as well as a Codebase (Application Name) to belong to the Space? Is this intentional?

[2018-10-16 02:05] serenamarie125 commented on #4411
@slemeur i think that Steve S shared the marketplace mocks today in the train meeting - if you missed it, let me know and I can share tomorrow.  Thanks!

[2018-10-16 02:06] serenamarie125 commented on #4411
@sdash-redhat please capture information in a GDoc so it can be shared!  Thank you

[2018-10-16 04:05] muruGanesan commented on #4030
@kwk, @sbose78, @aptmac, @serenamarie125,
Based on my discussion with Authentication team, I update the flow to address the issue.
NOTE: this is only a draft (wireframe) based on your review & feedback... I will update the screen with an appropriate visual design

https://redhat.invisionapp.com/share/3AOH1QYH69G#/324562585_4030_Login-2-Home

CC: @sunilmalagi, @AshishDurgude

[2018-10-16 04:17] kishansagathiya commented on #4422
I saw this on prod just now
my prod-preview is on cluster 2a
prod on cluster 2
[code]

[2018-10-16 04:27] kishansagathiya opened #4426 "https://developers.redhat.com/ login page would not redirect me to OSIO"
1. Click log in on OSIO home page. Redirects to redhat developers.
2. Enter details on https://developers.redhat.com/, hit enter
3. Wait forever, it won't redirect

open osio on the next tab. you are already logged in.
This happens on both prod, prod-preview (of course https://developers.redhat.com/ would have little to do with our clusters)

Anyone else facing this? I am facing this everytime.

[2018-10-16 05:06] kishansagathiya commented on #4422
prod logs
[events_prod.log](https://github.com/openshiftio/openshift.io/files/2481502/events_prod.log)

[2018-10-16 07:50] ppitonak commented on #4180
We have failed job

* [console log](https://ci.centos.org/job/devtools-saas-openshiftio-e2e-smoketest-released/246//console)
* [artefacts](http://artifacts.ci.centos.org/devtools/e2e/devtools-saas-openshiftio-e2e-smoketest-released/246/)
* [logs from OpenShift before run](http://artifacts.ci.centos.org/devtools/e2e/devtools-saas-openshiftio-e2e-smoketest-released/246/oc-jenkins-logs-before-all.txt

[2018-10-16 08:12] muruGanesan commented on #4030
@kwk,
I agree with your points.
Ideally, there should not be a delay in "login -to- home" flow.
In other words, after login, users should be redirected  to "_home"  [without showing progress bar & 'gray-colour" screens]

As per my understanding and @sbose78 information(above), this may be addressed in upcoming trains...

[2018-10-16 08:36] pbergene commented on #4422
There are a couple of hundred jenkins in a bad state (idler/proxy related) that are presumed to be causing the stress on the PV mounts.

[2018-10-16 08:40] ppitonak commented on #4180
Setting the priority back to P1 because it caused PR check to saas-openshiftio failure, affects whole OSIO team.

[2018-10-16 09:50] chmouel commented on #4180
@ppitonak your log indicate you haven't run it inside the jenkins namespace, would it be possible to run it there instead?

Looking at the events (although ideally i'd like to do the whole content inside the jenkins user namespace) it seems that the jenkins does have a deploymentConfig, so can you please create a new issue with these logs.

This issue as suspected has nothing to do with your probl

[2018-10-16 09:54] sdash-redhat commented on #4411
@serenamarie125  Sure. Will capture the data as a Google doc and share.

[2018-10-16 10:04] abs51295 commented on #4424
@GeetikaBatra can we have the repository urls as well listed here?

[2018-10-16 10:10] chmouel commented on #4180
And FYI the error in the console.log that you see :
[code]

is because you haven't run the "./oc-get-project-logs.sh script  in the proper namespace,

[2018-10-16 10:16] chmouel commented on #4180
Removing my previous comment about not being run in jenkins namespace which indeed does,

it seems that the tenant service don't recreate properly the jenkins namespace after tenant reset or this wasn't done properly,

(either way this should be another issue)

[2018-10-16 10:20] chmouel commented on #4180
Removing P1 from this issue,

[2018-10-16 12:20] serenamarie125 commented on #4194
@andrewazores

This empty state is is for the "Home" page

The desire is to have defaults changed & default focus on certain items in the Space & Application modals as well ...
1. Select AGILE by default on the Space creation modal
1. Default focus should be on the Space Name text field
1. Select the appropriate radio button on the Application creation modal (Create New or Import based on selectio

[2018-10-16 12:38] invincibleJai commented on #4202
@sunilk747 changes have been done, it's live in extension. Pls verify

[2018-10-16 12:42] joshuawilson commented on #866
This should be fixed. But it is not a simple thing.
@alexeykazakov I'm adding Platform as the owner since this needs support from the backend.

[2018-10-16 12:44] stevengutz commented on #866
@alexeykazakov If we are going to fix it can we do it in the next bug fix week?  It's ancient.

[2018-10-16 12:51] andrewazores commented on #4194
Thanks, that clears it up a lot.

[code]

This is doable, but it means that the overlay code will need to be modified so that it makes assumptions about what templates exist and are available, which makes it more fragile and require dev time for maintenance (and an application redeploy) any time this is changed again in the future. Currently it makes no such assumptions and the list is populated f

[2018-10-16 13:07] serenamarie125 commented on #4194
@andrewazores if it's not a "quick" fix, let's drop that from the scope of this Issue.

[2018-10-16 13:14] andrewazores commented on #4194
It should be quick to implement on the backend but the difficulty is in verifying that no other API consumer relies on the current ordering. Implementing it on the frontend is possible and can be done very quickly, but I would call it a hacky solution.

I can work around it on the frontend by either simply reversing the returned list (currently just SDD and Agile) or sorting the elements by name,

[2018-10-16 13:28] andrewazores commented on #4194
That may be best.

[2018-10-16 13:33] serenamarie125 opened #4427 "Consider making AGILE the default on the Space creation modal"
Consider making AGILE the default on the Space creation modal

[2018-10-16 13:34] serenamarie125 commented on #4194
I updated the Description to pull it :)  and added another GH Issue here: https://github.com/openshiftio/openshift.io/issues/4427

[2018-10-16 13:35] andrewazores commented on #4427
Context: https://github.com/openshiftio/openshift.io/issues/4194#issuecomment-430224866

[2018-10-16 14:33] #3128 closed

[2018-10-16 15:07] sunilk747 opened #4428 "Firefox add-On Server compatibility with openshift"
## Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/679

## Description
As a part of the pre investigation to be done in order to reuse the mozilla addon-server we need to investigate if the server and the services on which it is dependent can be deployed to openshift. This task aims to verify the compatibility of all the services collectively on openshift.

## Acceptance C

[2018-10-16 15:15] #4420 closed

[2018-10-16 15:45] hrishin commented on #3935
### Update

### Issue:
Sometimes back we introduced a patch that updates OS `Build` resources at the certain condition to reduce the unnecessary build updates in the openshift-sync plugin. Which might have introduced a side effect where despite the necessity it won't update build status.

### Solution:
Fix that issue by making right update condition so it would not miss any build status.

[2018-10-16 18:58] joshuawilson commented on #4194
There is already a PR to make Agile the default and remove it as a selection. It initially used only the UI to make the change but I've requested the change to be started in the backend.
https://github.com/fabric8-ui/fabric8-ui/pull/3371

[2018-10-16 19:58] joshuawilson commented on #4326
This is not very efficient and is one the reasons that @corinnekrych is looking into an api gateway. For now, we need to just do it the hard way. Later we can update it to use the api gateway.

[2018-10-16 20:28] joshuawilson commented on #4416
The Che pod/environment may not be started. It has to be running to allow/take the `createWorkspace` and if not then it returns an http error. The retry will continue to send until it gets no error.

[2018-10-16 20:35] joshuawilson commented on #4009
One of the problems is that if it goes green and the link is still inactive and they have the page open, they will just go and refresh the page. If the pipeline is not green till it is ready then we are giving the user a clue that they should not try.

[2018-10-16 20:52] aptmac commented on #4326
@serenamarie125 What should the empty-state look like when the user owns spaces but does not share any? The default for the spaces list currently tailors to the state of the user not having any spaces at all, which doesn't quite fit this scenario.

![2018-10-16-165027_1738x508_scrot](https://user-images.githubusercontent.com/10425301/47046637-9b2a2c80-d163-11e8-8bee-1296eb4039e3.png)

[2018-10-16 21:03] joshuawilson commented on #4190
I don't think this has been done by eng, nor has an issue been created for eng to track it.

@serenamarie125 I'm going to reopen it until we get it moved over.

[2018-10-16 21:06] joshuawilson commented on #4042
@invincibleJai it is best just to add them and then the team and remove themself.

[2018-10-16 21:15] sbose78 commented on #4426
Verified, works fine for me.

[2018-10-17 02:43] ldimaggi commented on #4121
Seeing this problem again on October 17 - this is causing automated tests running on the starter-us-east-2 cluster to fail as the Jenkins pod fails to start after a reset.

[2018-10-17 02:56] serenamarie125 commented on #4326
@aptmac great question.  In this case ( you are not a collaborator of any spaces), I'd suggest:

- do not include an icon
- Title text should say :
**No Spaces Found**
- Explanatory text:
**You are not listed as a collaborator of any spaces.**
_then leave a blank space_
**Find a Space to determine the owner of a space, then contact the space owner to request being added as a collaborator.**
- do n

[2018-10-17 06:03] jarifibrahim opened #4429 "Search query returns 500"
The following search queries return 500 internal server error

[code]

[2018-10-17 06:39] chmouel commented on #4180
@ppitonak maybe related to your issue https://github.com/openshiftio/openshift.io/issues/4121#issuecomment-410648540

[2018-10-17 07:29] ljelinkova commented on #4416
@joshuawilson Ok, but
1. do you think this issue is caused by the retry in createWorkspace?
2. do you think it is OK that 2 workspaces have been created instead of one?
3. if not, how would you prevent that?

[2018-10-17 07:38] chmouel opened #4430 "Archive fabric8-tenant-jenkins repository"
Since the move of templates to fabric8-tenant this project is not neded anymore
(and may prove confusing).

There may be some cleanup to do in jobs as well,

See:

https://github.com/openshiftio/saas-openshiftio/commit/04dfed7cff89fe31d7e69976588907b7c22bd0e3
https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/137
https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/211

[2018-10-17 07:40] chmouel commented on #4430
Repository archived, ![image](https://user-images.githubusercontent.com/98980/47070014-a7100000-d1f0-11e8-885f-295cc2a845dc.png)

[2018-10-17 07:40] #4430 closed

[2018-10-17 07:41] jarifibrahim commented on #4365
Works fine for me. @Raunak1203 can you check again please?

[2018-10-17 07:42] Raunak1203 commented on #4365
Yes @jarifibrahim issue is fixed.
Closing this issue

[2018-10-17 07:42] #4365 closed

[2018-10-17 07:42] AshishDurgude commented on #4196
Hi. I have made changes in visuals based on the reviews. Here is the final Invision Link:
https://redhat.invisionapp.com/share/YDOI4Z19R3B

Also, I am attaching google drive link so that you can find sketch file easily:
https://drive.google.com/open?id=1lLjc4snJCYgophdGexEFRaOGuT2MEnrJ

The only thing is missing is Stack report error text. Waiting for @stacymcauliffe inputs.

[2018-10-17 08:35] abs51295 opened #4431 "Show only compile and runtime dependencies in gemini report"
### Description

Currently, for internal OSIO repositories we scan all the dependencies irrespective of the scope. We only need to focus on compile and runtime scope dependencies for maven since that's what the developers care about.

[2018-10-17 08:45] msrb opened #4432 "ValueError: filedescriptor out of range in select()"
From sentry: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/6249/

[code]

[2018-10-17 08:48] msrb opened #4433 "FatalTaskError: Strict assert failed in task 'GraphImporterTask'"
From sentry: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/5820/

[code]

[2018-10-17 09:45] kishansagathiya commented on #4422
I think so. I was not able to start my Jenkins. Now I am.

[2018-10-17 10:18] Preeticp opened #4434 "Profile page: Clicking on Change password should open Reset your password screen"
##### Issue Overview

##### Expected Behaviour:
On clicking Change password'  in the Edit profile page  (_Username_>Profile>Edit Profile) user should be directed to the 'Reset your password' screen directly
![screenshot from 2018-10-16 15-43-58](https://user-images.githubusercontent.com/16647625/47079540-68e00400-d223-11e8-839b-224f4fd459f1.png)

##### Current Behaviour:
When we click 'Change Pass

[2018-10-17 10:18] ljelinkova opened #4435 "Cannot create application - no boosters are displayed"
##### Issue Overview
The e2e tests failed when creating new application because there were no available boosters listed.

![Screenshot](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/877/03-01-afterEach.png)

##### Expected Behaviour
The wizard should list available boosters
##### Current Behaviour
The wizard is empty
##### Steps To Reproduc

[2018-10-17 10:28] ljelinkova opened #4436 "Jenkins job was not created"
##### Issue Overview
The e2e tests failed during the pipeline build. The Jenkins WAS unidled but there was no job created.
The OSIO part:

![OSIO screenshot](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/869/05-02-pipeline-failed.png)

Jenkins when accessed directly

![Jenkins screenshot](http://artifacts.ci.centos.org/devtools/e2e/devtools

[2018-10-17 10:29] Preeticp opened #4437 "Collaborators page: Options next to Collaborator, to 'View user' and 'Remove from Space' hidden"
##### Issue Overview

##### Expected Behaviour:
When user adds a collaborator and clicks the options (cabob) menu next to the last collaborator, she should see the options clearly, instead of having to use a scroll bar to scroll and see the options.

##### Current Behaviour:
When user adds a collaborator and clicks the options (cabob) menu next to the last collaborator, he gets two options which a

[2018-10-17 10:30] Preeticp commented on #4437
@sbose78 as per our discussion assigned @rohitkrai03 to this issue, thanks!

[2018-10-17 10:41] ljelinkova opened #4438 "Failed to create workspace (Gateway timeout)"
##### Issue Overview
E2E tests failed because the workspace was not created in 60 seconds. While the UI seems to be loading the workspace, the log shows there were some Gateway-timeout errors.

![Screenshot](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/875/04-01-afterEach.png)

[code]
##### Expected Behaviour
The workspace should have bee

[2018-10-17 10:50] abs51295 commented on #4424
@miteshvp I am unable to reproduce this for all the images except `quay.io/openshiftio/rhel-fabric8-services-fabric8-oso-proxy:496742` which doesn't have `requirements.txt` in required format: https://github.com/fabric8-services/fabric8-oso-proxy/blob/master/requirements.txt.

[2018-10-17 11:04] ppitonak commented on #4121
@aslakknutsen regarding your comment from Aug 6, did we try to fix it?

[2018-10-17 11:06] rupalibehera commented on #4172
I tried to reproduce this 7-8 times, it did not reproduce at all, we suspect that this issue might be related to the launcher fix for this https://github.com/openshiftio/openshift.io/issues/3742

[2018-10-17 11:08] rupalibehera commented on #4172
@ppitonak , I think we can reduce the priority of this issue as it is so intermittent.

[2018-10-17 11:54] ppitonak opened #4439 "Beta: deployments page confusing when app has no deployments"
##### Issue Overview

Deployments page (BETA feature) is confusing when containing just one application using the simplest pipeline (containing just "Build Image" step)

##### Expected Behaviour

Deployments page shows only space-related stats or explicitly says that it is about global resource usage.

##### Current Behaviour

Deployments page shows two resource usage widgets, none of them provide

[2018-10-17 13:00] pmacik commented on #4422
I see it too, after reset environment (2a cluster user), no jenkins is deployed:

![image](https://user-images.githubusercontent.com/3263627/47087792-33d0b300-d21d-11e8-8fe7-ddf09a664879.png)

[2018-10-17 13:01] ppitonak commented on #4172
@rupalibehera what about decreasing the priority **after** you know the root cause? Are you 100% sure that it's a duplicate of #3742? We did experience #3742 recently.

[2018-10-17 13:13] msrb opened #4440 "ValueError: need more than 1 value to unpack"
From sentry: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/6899/

[code]

[2018-10-17 13:18] msrb opened #4441 "FatalTaskError: gofedlib-cli failed"
From sentry: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/6946/

[code]

[2018-10-17 13:54] mvulavak commented on #4436
@ljelinkova Should this issue be assigned to service delivery team?I think it will be helpful if we assign team so that there is visibility around who owns the issue.

[2018-10-17 14:01] chmouel opened #4442 "Build service: fix golangci makefile target"
$(GOLANGCI_BIN) is not used here :

https://goo.gl/ucd5F9

Upstream: https://github.com/fabric8-services/fabric8-build-service/issues/43

[2018-10-17 14:03] aptmac commented on #4326
@serenamarie125
Here's what it'll look like:
![shared-spaces-empty-state](https://user-images.githubusercontent.com/10425301/47091899-cf4d2e00-d1f3-11e8-916a-69a1e05d7d45.png)

[2018-10-17 14:23] chmouel opened #4443 "Build Service: Add saas deployment"
Add saas deployment for fabric8-build service

[2018-10-17 14:24] #4443 closed, assigned to chmouel

[2018-10-17 14:25] chmouel opened #4444 "Build Service: Add saas deployment"
Add saas deployment configuration for fabric8-build-service, figure out how to
connect to a DB as well.

[2018-10-17 14:34] chmouel opened #4445 "Build Service: Get user information in jwt_token"
We are currently able to go to auth service but we need to act on information
from the jwt token

[2018-10-17 14:35] #4445 closed

[2018-10-17 14:37] chmouel opened #4446 "Build Service: Get user information in jwt_token"
We are currently able to go to auth service but we need to act on information
from the jwt token

[2018-10-17 14:51] chmouel opened #4447 "EPIC: Build Service: Documentation"
Add build service documentation :

https://github.com/fabric8-services/fabric8-auth/tree/master/docs

- [x] Readme #4562 and fabric8-services/fabric8-build#89
- [x] swagger API openshiftio/openshift.io#4584 and closes fabric8-services/fabric8-build#113
- [ ] Add comprehensive guidebook like f8-auth is doing https://fabric8-services.github.io/fabric8-auth/

[2018-10-17 15:33] chmouel opened #4448 "Build Service: Docker push for RHEL image is not working"
From: https://ci.centos.org/job/devtools-fabric8-build-service-fabric8-push-build-master/8/console

[code]

[2018-10-17 16:02] chmouel opened #4449 "Build Service: Use migration from fabric8-common"
Instead of using our own

Fabric8-Build issue: https://github.com/fabric8-services/fabric8-build/issues/39

[2018-10-17 16:07] chmouel opened #4450 "Build Service: Connect with fabric8-environement"
Get json schema from fabric8-environement service

Fabric8-Build issue: https://github.com/fabric8-services/fabric8-build-service/issues/41

[2018-10-17 16:33] ldimaggi opened #4451 "User provisioned on starter-us-east-2 seeing frequent failure starting Jenkins after env reset"
##### Issue Overview
User provisioned on starter-us-east-2 seeing 100% failure starting Jenkins after env reset

##### Expected Behaviour
Jenkins should start after a user resets the environment.

##### Current Behaviour
After an environment reset, Jenkins is left in this state:
![screenshot from 2018-10-17 09-53-51](https://user-images.githubusercontent.com/642621/47101598-805dc380-d208-11e8-973b

[2018-10-17 17:20] joshuawilson commented on #4416
We need to ask some Che people. @ibuziuk @l0rd

[2018-10-17 17:37] joshuawilson commented on #3296
@serenamarie125 is this something that is being considered?

[2018-10-17 17:44] joshuawilson commented on #3536
@serenamarie125 do we need to do anything else on this?

[2018-10-17 17:55] l0rd commented on #4416
1. I think that it was a workaround to be able to wait for more than 30s even if the router returned a timeout error.
2. It's not ok. If I remember correctly che-starter should handle that (if a second request is received, it should ignore it). @ibuziuk should be able to provide a better answer.

[2018-10-17 18:59] joshuawilson commented on #2950
@aptmac if your fix still works, could you submit it as a PR?

[2018-10-17 19:02] joshuawilson commented on #859
this has been fixed in the latest update where we moved to Jest for test framework

[2018-10-17 19:02] #859 closed

[2018-10-17 19:24] ldimaggi opened #4452 "After user env reset, Jenkins pod is idled after ~1 min"
##### Issue Overview
Seeing a recurring pattern of behavior for the past ~24 hours. After a user env reset (and after the user manually deploys the Jenkins pod - see: #4451) - when the Jenkins pod is deployed, and manually started, Jenkins is idled after approx 1 min.

##### Expected Behaviour
Jenkins should not be idled until its default timer (15 min?) is reached.

##### Current Behaviour
Jenkin

[2018-10-17 21:12] joshuawilson commented on #2307
@serenamarie125 do you want to move the `reset env`?

[2018-10-17 21:13] joshuawilson commented on #4205
@dlabrecq were you ever able to clean this up?

[2018-10-18 00:59] dlabrecq commented on #4205
At the time, these features were still considered experimental, so no clean up. I don't know if any of that has changed?

[2018-10-18 01:59] sdash-redhat commented on #4411
Here is a google slide I created **[https://docs.google.com/presentation/d/1qxPxY-mChfCu9GuZ3oS6sKNbZCLnECv5-AD5ulNuJz8/edit?usp=sharing](https://docs.google.com/presentation/d/1qxPxY-mChfCu9GuZ3oS6sKNbZCLnECv5-AD5ulNuJz8/edit?usp=sharing)**

This records the flow for the 2 personae i.e. User/Dev and Contributor
The approver workflow, I am not able to view.

[2018-10-18 03:05] joshuawilson commented on #555
This is a UI bug, changing teams.

[2018-10-18 03:07] joshuawilson commented on #1378
No one can reproduce this and it is rare. I'm going to close it. If someone can reproduce it, please reopen this.

[2018-10-18 03:07] #1378 closed

[2018-10-18 03:42] serenamarie125 commented on #3536
@joshuawilson I'm fine with this being closed for a number of reasons

1. i just tested this on the live instance, and the space is deleted immediately
1. this page is being removed as part of quick wins ( may have already been )
1. there are a number of other issues discussed here, but the description is about space deletion from the All Spaces page

[2018-10-18 04:03] joshuawilson commented on #3536
Thanks, closing.

[2018-10-18 04:03] #3536 closed

[2018-10-18 04:09] joshuawilson commented on #1595
@kwk @xcoulon was there ever a limit set in the Go code? I understand there should be one in the db.
If the user wants to slow down their browser with too much text that is on them as long they can't store more then would be reasonable.

That said, it can also be fixed in the UI. But that is secondary in priority in my opinion.

[2018-10-18 04:13] joshuawilson commented on #3656
@sbose78 should we keep this open if it not something we will be fixing?

[2018-10-18 04:42] sthaha commented on #4422
I am going to close this issue as deployment of new idler seems to have fixed the issue. Please try resetting the environment before reopening

[2018-10-18 04:42] #4422 closed

[2018-10-18 05:14] joshuawilson commented on #4439
@serenamarie125 how do you want to handle this?

[2018-10-18 05:47] muruGanesan commented on #4030
@kwk, @sbose78
Please review the UX recommendation provide your inputs. If it satisfies the criteria, please close this issue.

[2018-10-18 05:59] bartoszmajsak commented on #2093
It seems that calls from https://github.com/fabric8-ui/fabric8-ui/blob/master/src/a-runtime-console/kubernetes/ui/pipeline/input-action-dialog/input-action-dialog.component.ts#L61-L77 do not have `X-App: OSIO` in the headers. That results in Launcher Backend assuming it's a call from Standalone are trying to validate that against RHD KeyCloak keys.

@joshuawilson can anyone from the UI team valida

[2018-10-18 06:06] bartoszmajsak opened #4453 "UI calls Launcher Backend without X-App header causing JWT validation to fail"
##### Issue Overview

We introduced [JWT validation in Launcher Backend](https://github.com/fabric8-launcher/launcher-backend/pull/557) and it seems Launcher Backend is called outside of the "wizard flow" without proper headers - causing token validation logic to fail.

A bit of a background here. Launcher Backend works in two modes - as a service for OSIO and Standalone Launcher. For this purpose

[2018-10-18 06:06] bartoszmajsak commented on #4453
Related issue https://github.com/openshiftio/openshift.io/issues/2093#issuecomment-430879277

[2018-10-18 06:11] kwk commented on #1595
@joshuawilson no, currently we only check for types of fields and check if they are required but we don't have restrictions for limits or input validation. That is for all generic field types like `text`. For somewhat layered field types like `URL` or `datetime` where constraints are embedded within the name, we do validation checks.

[2018-10-18 06:13] chmouel opened #4454 "Jenkins Proxy: API for metadata removal: GDPR compliance"
Provide an API which effectively do those SQL queries :

Find the jenkins namespace associated with the user - say ${user_jenkins_namespace}

[code]
https://openshift.io/openshiftio/Openshift_io/plan/detail/805

Jenkins Proxy issue: https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/322

[2018-10-18 06:43] kishansagathiya opened #4455 "Unauthorized to promote build"
Promote build throws 401
![screenshot from 2018-10-18 12-15-09](https://user-images.githubusercontent.com/10185999/47135853-7e126c80-d2cf-11e8-9602-5e530623eb52.png)

[2018-10-18 06:44] abs51295 commented on #4424
@miteshvp @msrb I found only one plausible explanation that can justify the scans not going through, and that will be worker restarts. My understanding is, that worker starts to process the scan request and starts executing the tasks involved in it. At one point, in the middle of the execution, worker pod restarts due to an error, that might be caused by the `osioAnalysisFlow` or any other ongoing

[2018-10-18 06:53] kishansagathiya opened #4456 "Jenkins idles without waiting 45 mins"
prod-preview, 2a

1. A build just finished.
2. Started a new build by commit trigger
3. Jenkins was idled and back to spinning wheel page

[2018-10-18 06:53] abs51295 commented on #4440
This is because of https://github.com/openshiftio/openshift.io/issues/4424#issuecomment-430581978.

[2018-10-18 07:01] chmouel opened #4457 "Review jenkins permissions"
Go over all permissions in Jenkins from the [jenkins
template](https://github.com/fabric8-services/fabric8-tenant/blob/886a8e170688db675e3e07bc6c78cbe66ac08a46/environment/templates/fabric8-tenant-jenkins.yml)
and make sure there is no permissions that has been wrongly given.

[2018-10-18 07:08] kishansagathiya opened #4458 "Review allowed script operations in the pipeline"
Continuing from https://github.com/fabric8-services/fabric8-tenant/pull/665

Going through commits for the allowed script operations, it is not clear why certain operations were allowed and others were not.
Over time we allowed more operations, for those also I don't find explanations.

Review current operations and make sure that we are not opening to security threats (highly possible in case of

[2018-10-18 07:13] chmouel commented on #4457
Duped from #4458

[2018-10-18 07:13] #4457 closed

[2018-10-18 08:08] ljelinkova commented on #4436
I've added team/build-cd label.

[2018-10-18 08:11] ppitonak commented on #4453
@bartoszmajsak this looks like it should be covered by a contract test.

[2018-10-18 08:22] GeetikaBatra opened #4459 "Creating a project on Openshift.io throws 404"
##### Issue Overview
Creating a project on Openshift.io throws 404.

##### Steps To Reproduce

1. Log In to Openshift.io
2. Click on Create
3. Click on a`add a code base`
4. Fill in the name of the project and select the checkbox `import an existing codebase`
5. Click on continue and you will see the following

![screenshot from 2018-10-18 13-50-14](https://user-images.githubusercontent.com/866423

[2018-10-18 08:38] GeetikaBatra commented on #4459
Also, inspecting the source I see the following `{errors: [{code: "not_found", detail: "space with id 'Openshift_io' not found", status: "404",…}]}
errors: [{code: "not_found", detail: "space with id 'Openshift_io' not found", status: "404",…}]`

This is coming when it doesn't import the code.

[2018-10-18 08:40] chmouel opened #4460 "Build Service: Use jwt middleware from fabric8-common"
jwt middleware has been integrated in fabric8-common :

https://github.com/fabric8-services/fabric8-common/commit/441f5274bd64fdbf3d1d0eebd40dbb61f630807d

Related fabric8-services/fabric8-build-service#34

Fabric8 Build Service issue: https://github.com/fabric8-services/fabric8-build-service/issues/42

[2018-10-18 09:02] piyush-garg opened #4461 "Update Jenkins Plugins"
Update Jenkins Plugins to latest, validate, test all plugins and verify CICO job.

[2018-10-18 09:03] invincibleJai commented on #4459
@GeetikaBatra are you using space "Openshift_io" intentionally? try with creating one of your own space

[2018-10-18 09:11] chmouel opened #4462 "Brief for analytics on build logs"
Write a brief for providing analytics on Build Log for detecting anomality and
common issues.

[2018-10-18 09:27] hrishin commented on #3744
@invincibleJai @yzainee @miteshvp I tried to investigate from build side if anything causing an issue, but I don't think so.

Could you try to log the response or query the `build` OpenShift as soon as it adds an annotation?

[2018-10-18 09:45] kishansagathiya commented on #4456
Logs of Jenkins pod [build_failure.log](https://github.com/openshiftio/openshift.io/files/2491265/build_failure.log)

[2018-10-18 09:49] kishansagathiya commented on #4456
[code]

This one is also IOException, I wonder if the reason why this is happening has something to do with #4020

[2018-10-18 10:02] kishansagathiya commented on #4456
build logs
[code]

[2018-10-18 10:10] bartoszmajsak commented on #4453
Or any kind of test

[2018-10-18 10:33] kishansagathiya commented on #4456
Happened consecutively many times. Jenkins restart on every build.

[2018-10-18 10:35] vikram-raj commented on #4459
Yes, @GeetikaBatra ```Add Codebase``` button should not be visible if the user is not an owner of the space.

Related: https://github.com/openshiftio/openshift.io/issues/2324

[2018-10-18 10:37] GeetikaBatra commented on #4459
Thanks @vikram-raj

[2018-10-18 11:59] #4442 closed

[2018-10-18 12:05] chmouel opened #4463 "Build Service: Integrate sentry"
Sentry was added by fabric8-setup but this is not used

And fabric8-common is now providing it so use it from [there](https://github.com/fabric8-services/fabric8-common/blob/441f527/sentry/sentry.go),

Fabric8 Build Service issue: https://github.com/fabric8-services/fabric8-build-service/issues/45

[2018-10-18 12:59] joshuawilson commented on #4416
The UI makes the call and if it gets an error it calls again after 30 sec. Are you sure no error is sent back?

[2018-10-18 13:30] rhopp commented on #4416
@joshuawilson It seems, that the error is sent back (or at least logged by WIT) after more, than 30 seconds.
In the instance from my previous comment:
* 14:39:28.079 - WIT logs first request to create workspace (POST `/api/codebases/d693e8f8-aa2f-4e86-b7f6-be3e37c0ab2a/create`)
* 14:39:58.196 - WIT logs second request to create workspace
* 14:40:10.251 - WIT logs the error from the first request (

[2018-10-18 13:34] joshuawilson commented on #4416
I can change the timing on the retry easy enough but I would like confirmation what is being done on the backend.

[2018-10-18 13:45] skryzhny commented on #4215
Idler fix was deployed to prod 2 days ago and fixed at least gluster/filesystem resource usage problem, did it fix the problem?
Can someone recheck?

[2018-10-18 14:01] joshuawilson commented on #1595
@kwk do you think this is a concern?

[2018-10-18 14:02] #4453 closed

[2018-10-18 14:03] kwk commented on #1595
I can see how one could exploit this, so yes it is a concern.

[2018-10-18 14:10] joshuawilson commented on #4215
@ljelinkova does this issue effect user in production or just the e2e? Severity describes the effects on the user.

[2018-10-18 14:32] sthaha commented on #4215
@ldimaggi could you try resetting twice and wait a while (10mins or so) ?

[2018-10-18 14:33] ppitonak commented on #4215
@sthaha I tried multiple resets and long wait on my accounts with no result, basically all my, Lucia's and Jenkins accounts are broken at the moment.

[2018-10-18 14:33] sthaha commented on #4215
@ljelinkova why has the severity being bumped to `sev-1` ?

[2018-10-18 14:36] aptmac commented on #4459
There's an open issue for this at: https://github.com/openshiftio/openshift.io/issues/3634

[2018-10-18 14:38] ppitonak commented on #4215
See my previous comment... since we aren't able to get our accounts to usable state, we assume that accounts belonging to external users cannot self-heal and there is no workaround.

[2018-10-18 14:42] sthaha commented on #4215
Could you please publish the `oc get -w ev` when you go https://jenkins.openshift.io ?

[2018-10-18 14:46] ldimaggi commented on #4215
@sthaha

Seeing the PV issue after resets:

10:41:39 AM | jenkins-1-5t6lf | Pod | Warning | Failed Scheduling | persistentvolumeclaim "jenkins-home" not found20 times in the last 8 minutes
10:35:42 AM | jenkins-1-5t6lf | Pod | Warning | Failed Scheduling | persistentvolumeclaim "jenkins-home" is being deleted6 times in the last 9 minutes
10:35:27 AM | jenkins-1 | Replication Controller | Normal |

[2018-10-18 15:02] joshuawilson commented on #4459
closing as a duplicate

[2018-10-18 15:02] #4459 closed

[2018-10-18 15:04] ppitonak commented on #4215
@sthaha latest results

1. account reset 46 minutes before test start
2. [events before test started](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/3097/oc-jenkins-logs-before-all.txt)
3. [events after 10 minutes after build started](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smokete

[2018-10-18 15:19] joshuawilson commented on #4426
Why would expect that going to https://developers.redhat.com/ it will redirect you to OSIO. It is an existing site. We only use it for common login. It is not the landing page for OSIO.

If you are NOT logged in and go to https://openshift.io , it should redirect you to the login page, then redirect you back.

[2018-10-18 15:36] kishansagathiya commented on #4426
@joshuawilson Sorry for confusion, my initial description was not clear. I have updated. This happens when you
Click log in on OSIO home page. Redirects to redhat developers. --> Enter details on https://developers.redhat.com/, hit enter --> Wait forever, it won't redirect

For whatever reason this happens to me all the time, but not to everyone

[2018-10-18 15:58] aptmac commented on #2950
I rebased the branch [[0]](https://github.com/aptmac/fabric8-ui/tree/feature-opt-routing) so that it sits on top of current master, but it really was just a PoC hoping to get some discussion going .. the tests don't pass and the implementation is not very pretty (or robust). However, given proper designs this could probably be fixed up pretty easily.

![opt-in](https://user-images.githubuserconten

[2018-10-18 17:07] joshuawilson commented on #2950
@serenamarie125 @openshiftio/uxd-team can a designer please review

[2018-10-18 17:10] joshuawilson commented on #4426
This is the first I have heard of this.  What browser and operating system are you using. Can you please try in incognito mode?

[2018-10-18 17:10] skryzhny commented on #4215
I tried with fresh account on 1b and got this:
[code]

[2018-10-18 17:11] joshuawilson commented on #4426
@sbose78 I'm going to pass this to you as it appears a login issue and the redirect is outside of OSIO.

[2018-10-18 17:14] joshuawilson commented on #4215
Is this really a `SEV-1`?

[2018-10-18 17:33] muruGanesan commented on #4154
@bartoszmajsak and @catrobson,
1) I believe this is not an urgent requirement now to address
2) UXD provided some recommendations on this.
3) Based on K & L train focus please close this issue (if it is NOT relevant)

[2018-10-18 17:44] muruGanesan commented on #4009
@ldimaggi , @ppitonak, @joshuawilson,

Please find the 1st draft version & provide ur feedback
https://redhat.invisionapp.com/share/DZOLKNI95YP#/325796400_Pipeline_Appln_readiness

[2018-10-18 17:45] andrewazores commented on #4326
@serenamarie125 for the Work Items column in the updated table-style spaces list, what kinds of Work Item should be included in this count? All Work Items, or only Open/In Progress, or something else?

[2018-10-18 17:59] skryzhny commented on #4215
I tried 2 accounts - old on starter-2 and fresh on starter-1b, both have build failed.

[2018-10-18 18:58] joshuawilson commented on #4326
The intent of the workitem in the list is to help you identify a live active space vs a dead one. So I think it is the total number of non-closed issues.

[2018-10-18 19:00] joshuawilson commented on #4009
lgtm

[2018-10-19 08:33] ljelinkova opened #4464 "I cannot see spaces where I am a collaborator on Spaces page"
##### Issue Overview

When I open Spaces page, there are only my spaces. I cannot see spaces where I am a collaborator.

##### Expected Behaviour
I would like to see all spaces - mine and where I am a collaborator. They should be distinguished.
##### Current Behaviour
I can see only mine spaces.

[2018-10-19 09:02] ljelinkova commented on #4456
I've ran into this issue but for me, Jenkins restarts even DURING the build.

[2018-10-19 09:26] chmouel opened #4465 "Jenkins Proxy: Golint install error in CI"
cf: https://travis-ci.org/fabric8-services/fabric8-jenkins-proxy/builds/442149028?utm_source=github_status&utm_medium=notification

[code]

Fabric8 Jenkins Proxy issue: https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/324

[2018-10-19 09:41] chmouel opened #4466 "Jenkins Proxy: Remove validate-commit from the checks"
This has been removed already for idler, let's do that for proxy.

Fabric8 Jenkins Proxy issue: https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/326

[2018-10-19 09:46] #4466 closed

[2018-10-19 09:47] #4462 closed

[2018-10-19 09:55] chmouel opened #4467 "Jenkins Proxy: ike should not validate Makefile and other scripts directory"
Fabric8 Jenkins Proxy issue: https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/328

[2018-10-19 10:06] #4465 closed

[2018-10-19 11:07] #4467 closed

[2018-10-19 12:04] sthaha commented on #4215
I see that the current idler is a bit too aggressive in idling jenkins. i.e it idles as soon as a build is over. I will deploy a fix for this into prod-preview so that it can be tested in prod before deploying to Prod.

[2018-10-19 12:23] rohitkrai03 opened #4468 "Add interceptor for `X-App` headers in launcher API calls"
Related Issue - https://github.com/openshiftio/openshift.io/issues/4453
Discussion for adding interceptor - https://github.com/fabric8-ui/fabric8-ui/pull/3380#issuecomment-430888651

[2018-10-19 12:56] ldimaggi commented on #4451
This problem seems to be resolved.

[2018-10-19 13:42] aptmac commented on #4464
Will be addressed by: https://github.com/openshiftio/openshift.io/issues/4326

[2018-10-19 14:23] #4468 closed, assigned to rohitkrai03

[2018-10-19 14:38] joshuawilson commented on #4464
Closing as a dulicate

[2018-10-19 14:38] #4464 closed

[2018-10-19 15:06] joshuawilson commented on #4329
I like what was designed for Planner.

[2018-10-19 15:18] arilivigni commented on #4383
This is fixed fabric8io/fabric8-pipeline-library#435

[2018-10-19 15:20] joshuawilson commented on #3924
@ldimaggi this appears to be a feature request as this page in the profile could not do what you are for, from my memory.

@openshiftio/uxd-team Please asses if this something that improves usability. (I'm inclined to say no since we have the Spaces page)

[2018-10-19 15:28] muruGanesan commented on #4329
@sunilmalagi, As discussed, please provide your design to @AshishDurgude and he will update the 'username' display as per planner standard.

[2018-10-19 15:34] muruGanesan commented on #3002
@joshuawilson, yes, please. We can keep this issue open.
Since the UX team provided the recommendation, can we remove "Team/UX"?

[2018-10-19 16:11] andrewazores commented on #4326
![image](https://user-images.githubusercontent.com/3787464/47230231-a5347100-d397-11e8-9f8a-fe2200a48ec9.png)

I just noticed the difference in capitalization here: `Add Pin` and `Remove space`. When the space is already pinned it is `Remove Pin` and `Remove space`. Which capitalization is preferred here?

Looking around the whole application now I notice a lot of inconsistency here. Perhaps there

[2018-10-19 16:45] muruGanesan commented on #3924
@joshuawilson,
UXD team provided a recommendation to improve 'my space' display #4326
We may provide the consistent look and feel for both the page.

CC: @parvathyvr @serenamarie125

[2018-10-19 16:52] joshuawilson commented on #3924
@muruGanesan my question was about usability not design. Does it make sense to have it here since it is on the Spaces page.

[2018-10-19 17:06] ldimaggi commented on #4451
My mistake - this problem is still happening.

[2018-10-19 18:17] joshuawilson commented on #4382
@xcoulon can you explain / share what gets removed when we remove a Space?

@openshiftio/uxd-team please be specific if you want the UI changed for this. It appears to me as this has nothing to do with the UI but needs to just be fixed in the backend.

[2018-10-19 18:27] skryzhny opened #4469 "When username contains a dash `-` at the end OSIO can't create user project namespace"
##### Issue Overview

When username contains `-` at the end OSIO can't create user project namespace
[code]

##### Expected Behaviour

Don't allow usernames that starts/ends in non-alpanumeric characters

##### Current Behaviour

##### Steps To Reproduce

Try to register with name like `test-for---`

[2018-10-19 19:35] joshuawilson commented on #4373
cc @rkratky @Preeticp

[2018-10-19 19:35] muruGanesan commented on #3924
As I mentioned, it may be addressed in the upcoming train.

[2018-10-19 19:44] joshuawilson opened #4470 "Bold items in Planner look like unread not results"
##### Issue Overview

Bold items in a list have always meant unread. Look at gmail for example. I could not figure out how to get them to be unbold when I looked at (read) them. Only today did I realize that bold is for search results.

##### Expected Behaviour

Parent items that don't comply with the search results should be grayed out.

##### Current Behaviour

Parent items that don't comply wit

[2018-10-19 23:02] joshuawilson commented on #4390
@yzainee all Platform feature work is tracked in the Planner.
cc @alexeykazakov

[2018-10-19 23:03] joshuawilson commented on #4390
@yzainee this needs designs and detailed descriptions of what is to be done to support you.

[2018-10-20 02:43] joshuawilson commented on #3991
This is fixed, closing.

[2018-10-20 02:43] #3991 closed

[2018-10-20 07:16] hrishin commented on #2093
@chmouel I think we should consider this API for build service.

[2018-10-21 05:14] SriKrishnaPaparaju opened #4471 "TODO list for IDE extensions"
-  CVEs would need to be expanded beyond run time dependencies
- CVEs would need to be expanded to transitive dependencies
- Current LSP way of flagging CVEs would need to rehashed as opening up a pom.xml / package.json (every time) fire up 'n' number of API calls which is not scalable. Wrapping up all the required dependencies (when user opens a manifest file) under one API call's payload is requ

[2018-10-21 12:02] muruGanesan commented on #3858
@aptmac, the implementation matches with #4375  recommendation.

[2018-10-21 17:09] chmouel opened #4472 "Fabric8 Build Service: HALLO MOTO!"
HALLO MOTOTOTOTO

[2018-10-21 17:09] #4472 closed

[2018-10-22 01:15] ldimaggi opened #4473 "Cannot connect user account to github - 401 error"
##### Issue Overview
Am unable to create new projects due to failure to connect user account to github.

##### Expected Behaviour
The user account in question had a working connection to github that cannot be reconnected now.

##### Current Behaviour
The user account should be able to be connected to github.

##### Steps To Reproduce

1. In Settings - attempt to connect to github account
2. Observ

[2018-10-22 03:48] kishansagathiya opened #4474 "Deployer pod "jenkins-1-deploy" has gone missing"
prod-preview, 2a

Reset environment, create new quickstart project
That should try to start jenkins, that's when this happens

[code]

[2018-10-22 04:05] kishansagathiya opened #4475 "Deployer pod "jenkins-1-deploy" has gone missing"
Prod-preview, 2a
[code]

[2018-10-22 04:14] sthaha commented on #4456
@kishansagathiya I know the root cause and the fix will be deployed in the next idler deployment. The reason this happens is because dc condition was removed (as a solution to the high gluster load) from idler.

[2018-10-22 05:16] Preeticp commented on #4373
[WIP](https://github.com/fabric8io/fabric8-online-docs/projects/1), entire Planner section is being reviewed and updated, I will add a note on this along with it @joshuawilson.

[2018-10-22 06:01] jarifibrahim commented on #4382
We remove the codebase and openshift resources (deployments) associated with space along with the actual space. Currently, we have only soft deletes and due to which all the entities related to space (eg: workitems, area, iterations) are not removed.

[2018-10-22 06:01] jarifibrahim commented on #4382
Assigning this issue to @kwk because he is working on improving the entity deletion mechanism on the backend.

[2018-10-22 06:23] #4473 closed, assigned to nobody

[2018-10-22 06:49] invincibleJai commented on #3744
Thanks @hrishin for debugging.

@yzainee as @hrishin suggested can you pls add logs https://github.com/fabric8io/fabric8-pipeline-library/blob/master/vars/bayesianScanner.groovy#L25, it would help us to debug it further.

[2018-10-22 06:51] invincibleJai commented on #3744
thanks @hrishin for debugging.

@yzainee needed your help here, can we add log in https://github.com/fabric8io/fabric8-pipeline-library/blob/master/vars/bayesianScanner.groovy#L25 to fetch added annotations, as suggested by @hrishin .

[2018-10-22 07:21] humaton commented on #4409
https://github.com/fabric8-analytics/fabric8-analytics-auth/pull/40

[2018-10-22 07:51] AshishDurgude commented on #4329
@joshuawilson @christianvogt @sunilmalagi Here is the updated InVision file based on above changes:
https://redhat.invisionapp.com/share/N6O4OYX89RG

[2018-10-22 09:18] muruGanesan opened #4476 "OSIO Analytical team internal emailer format"
Issue Overview
Currently, OSIO analytical team share the report (internal) in email format.
The look and feel of the email format can be improved and make it more readable

 Current display
<img width="1252" alt="image" src="https://user-images.githubusercontent.com/26006817/47282349-7bc84f00-d5fc-11e8-992c-c7c4d35ce7e5.png">

Recommendated
 - Use common font
 - Left align
 - Visual hierarchy

[2018-10-22 09:22] muruGanesan commented on #4476
Recommended
    - Use a common font
    - Left align
    - Visual hierarchy (gray background)
<img width="1252" alt="image" src="https://user-images.githubusercontent.com/26006817/47285818-fd72a980-d609-11e8-9bb7-791753dbbf1c.png">

[2018-10-22 10:13] chmouel commented on #4341
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2331

[2018-10-22 10:13] rupalibehera commented on #4172
@ppitonak , I was not able to reproduce it, finding the root cause becomes difficult them.
I am not 100% sure if that is a duplicate of https://github.com/openshiftio/openshift.io/issues/3742, it can be a side effect though so lets wait for the fix from launcher team for https://github.com/openshiftio/openshift.io/issues/3742.

[2018-10-22 11:04] invincibleJai commented on #4405
changes are in prod, hence closing it.

[2018-10-22 11:04] #4405 closed

[2018-10-22 11:05] invincibleJai commented on #4398
closing it as the requested feature is in prod.

[2018-10-22 11:05] #4398 closed

[2018-10-22 11:05] invincibleJai commented on #4380
closing as changes are in prod.

[2018-10-22 11:05] #4380 closed

[2018-10-22 11:35] sunilk747 commented on #4428
Refer this link for more information :- https://docs.google.com/document/d/1hZFo1aZp1DG2zgpztejuUmj8OeVGGUNjgzPO8-FF0Ac/edit?usp=sharing

[2018-10-22 11:57] chmouel opened #4477 "Jenkins Proxy: Unit tests are falling"
Unit tests are currently falling on `internal/auth/auth.go`  :

[code]

Fabric8 Jenkins Proxy issue: https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/331

[2018-10-22 12:38] chmouel opened #4478 "Build Service: Use minishift for local development"
We are currently using a bunch of docker containers in development linked
together for DB and auth and its DB :

https://github.com/fabric8-services/fabric8-build-service/blob/e20c9ae9bcbfc5458c5c62fcd69415a8a3e442fd/Makefile#L313-L343

It all works nicely and respect KISS philosophy  but this could get fragile and overly complicated in Makefile

Let's try to use kubernetes template and minishift

[2018-10-22 13:05] catrobson commented on #3765
@serenamarie125 FYI

The menu should not change when we show the Beta screen.  The beta screen should be an overwrite of the page within the menu area.  We don't have any situations in OpenShift.io where we want to hide the navigation to a page because it is not GA, we always show all the navigation and then only hide the content unless they opt into that section/area of the UI.

[2018-10-22 13:06] aptmac commented on #3858
Great, then this is closed as of: https://github.com/fabric8-ui/fabric8-ui/pull/3364

[2018-10-22 13:06] #3858 closed

[2018-10-22 13:12] catrobson commented on #3385
This appears to be an implementation bug.  Removing team/ux since there is no additional design effort required.

[2018-10-22 13:21] #4194 closed

[2018-10-22 13:22] catrobson commented on #4030
@muruGanesan @serenamarie125 I have left comments on the InVision.

In most use cases, the user is already logged in, their log in has been cached.  I would expect two use cases here:

1. I am a logged out user of OpenShift.io (my log in has expired, or I manually logged out).  In this case, I would see the openshift.io marketing screen, and click log in.  This would follow the flow outlined in In

[2018-10-22 14:12] aptmac commented on #3631
The "View All Spaces" page was removed in: https://github.com/fabric8-ui/fabric8-ui/pull/3374

[2018-10-22 14:12] #3631 closed

[2018-10-22 14:14] aptmac commented on #3504
There will be a function for fetching spaces the user is a collaborator on in the `user-spaces.service` once https://github.com/fabric8-ui/fabric8-ui/pull/3381 is completed.

[2018-10-22 14:36] muruGanesan commented on #4030
@catrobson,  I got your points. Thanks!

I updated the flow for the scenario-2 (where users credentials are stored in the browser):
https://redhat.invisionapp.com/share/3AOH1QYH69G#/324562585_4030_Login-2-Home

[2018-10-22 14:44] #4389 closed

[2018-10-22 14:46] yzainee commented on #4388
GH Account created : OSIO Analytics Notifier

Adding the collaborator will be done via the platform toggle button

[2018-10-22 14:46] #4388 closed

[2018-10-22 16:16] slemeur commented on #4411
Great. Thanks.

Reviewed and commented

On Thursday, October 18, 2018, Samir Dash <notifications@github.com> wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2018-10-22 17:15] ldimaggi opened #4479 "If github is down or unreachable, an error should be raised in OSIO when user attempts to create project"
##### Issue Overview
See issue #4473 - in the event that github is not available, no error is reported to the user in the OSIO UI.

Tell us briefly what the problem is about.
On October 21/22, issue #4473 illustrated a problem where if github is unreachable, no error is returned in the OSIO UI. A permissions error is written to the browser console log.

##### Expected Behaviour
If an error occurs,

[2018-10-22 17:18] joshuawilson opened #4480 "Planner Closed items should be hidden"
##### Issue Overview

It is too easy to look at the planner list and think that a `closed` item is active. While planning, I almost never want to see finished work.

##### Expected Behaviour

When I look at the list of items, the closed ones should be hidden behind a filter of some kind. Github does this with a tab that toggles the filters between Open and Closed.

##### Current Behaviour

Closed

[2018-10-22 18:49] amisevsk commented on #4379
Going forward this issue should be solved, now that fixes for https://github.com/eclipse/che/issues/11445 and https://github.com/redhat-developer/rh-che/issues/971 are available on prod.

[2018-10-22 19:06] ldimaggi commented on #4451
The sequence that I am seeing is that the Jenkins pod fails to start - and then encounters a quota limit - seeing this problem about 100% of the time today (October 22):

3:03:46 PM | jenkins | Deployment Config | Warning | Failed Create | Error creating: pods "jenkins-1-8k57n" is forbidden: exceeded quota: compute-resources, requested: limits.cpu=2,limits.memory=1Gi, used: limits.cpu=2,limits.mem

[2018-10-22 20:52] joshuawilson commented on #4329
@AshishDurgude I left a comment on the design.

[2018-10-23 04:55] kishansagathiya commented on #4474
duplicate of https://github.com/openshiftio/openshift.io/issues/4475

[2018-10-23 04:55] #4474 closed

[2018-10-23 05:41] joshuawilson commented on #4479
@openshiftio/uxd-team Please review.

[2018-10-23 05:48] GeetikaBatra opened #4481 "Image Scan Timeout [Gemini Scan] - 20/10/2018"
##### Issue Overview

The following images timed out during scan
- [ ] quay.io/openshiftio/rhel-che-rh-che-server:05417c6
- [ ] quay.io/openshiftio/rhel-fabric8-services-fabric8-oso-proxy:496742
- [ ] prod.registry.devshift.net/osio-prod/fabric8/launcher-documentation:9f33c32
- [ ] prod.registry.devshift.net/osio-prod/fabric8/launcher-backend:5f1c87c

[2018-10-23 05:50] GeetikaBatra commented on #4481
@abs51295, can you please take a look

[2018-10-23 06:03] mvulavak commented on #2755
@pbergene Is this still an issue?

[2018-10-23 06:04] mvulavak commented on #3299
@jfchevrette Is this still an issue?

[2018-10-23 06:17] mvulavak commented on #2960
@sbose78 Is this still an issue?

[2018-10-23 06:18] mvulavak commented on #2772
@sbose78 Can this issue be closed?

[2018-10-23 06:19] mvulavak commented on #2747
@alexeykazakov Is this still an issue?

[2018-10-23 06:28] mvulavak commented on #3171
@christianvogt Is there a fix for this issue?

[2018-10-23 06:29] mvulavak commented on #3161
@rohitkrai03 Is this still an issue?

[2018-10-23 07:44] jarifibrahim opened #4482 "Failed to delete codebase: lookup geminiservice.analytics on 172.28.62.242:53: no such host"
##### Issue Overview
There are too many errors logged in sentry related to codebase deletion.

##### Expected Behaviour
Codebase deletion shouldn't **always** fail. It looks like codebase deletion always fails for some users.
see https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/2083/

##### Current Behaviour
The deletion request always fails with
[code]

[2018-10-23 07:45] jarifibrahim commented on #4482
Similar errors https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/3127/

[2018-10-23 09:40] muruGanesan commented on #3765
Please find the UX recommendation for this issue:
https://redhat.invisionapp.com/share/HBOQ1IK7VMF#/327116757_3765_Beta_information
Please review the same and provide your feedback if any.

CC: @serenamarie125, @catrobson

[2018-10-23 11:03] sdash-redhat commented on #4411
Thanks, @slemeur your feedback is helpful. I am exploring the links you have shared.
I am trying to collate the different interaction blocks to prepare a flow, that I will share by tomorrow.
This would be a high-level IA and flow that will have the basic blocks of interactions. I heard from @serenamarie125 and @catrobson  that alternative solutions to Mozilla are being evaluated, which also includ

[2018-10-23 11:07] GeorgeActon commented on #4481
@GeetikaBatra @abs51295  Is this a duplicate of 4424? It looks like same problem just additional information.

[2018-10-23 11:31] muruGanesan commented on #3296
@joshuawilson,

1) OSIO > User/profile settings
2) click on "Features Opt-in"
3) Select an option, the user gets a confirmation message about the update.

<img width="1676" alt="image" src="https://user-images.githubusercontent.com/26006817/47353210-4e9d9e80-d6d9-11e8-902d-398431373e1a.png">

If I understand correctly,
you are expecting to have a button like 'Save/Close/Back/Return" - am I right?

[2018-10-23 11:43] sbose78 commented on #2332
@mvulavak , No, once we have this merged https://github.com/fabric8-services/fabric8-auth/pull/689 - other bits will fall in place easily.

[2018-10-23 12:15] ibuziuk commented on #4415
@ljelinkova @rhopp is this issue still reproducible ? Gateway timeouts is an infrastructure problem and according to the comments [1] not only che but also other OSIO components where affected by those networking issues.

[1] https://github.com/openshiftio/openshift.io/issues/4415#issuecomment-429315118

[2018-10-23 12:22] #4477 closed

[2018-10-23 12:22] CermakM commented on #4368
The relevant documents can be found here: https://drive.google.com/drive/u/1/folders/10o-N8Yo_LSRvw_oIs2pObocIAa3uwiNm

[2018-10-23 12:22] #4368 closed

[2018-10-23 12:28] xcoulon commented on #4426
@kishansagathiya do you still face this issue ?

[2018-10-23 12:33] msrb opened #4483 "Incorrect ecosystem name for Golang packages"
Golang packages in graph database have incorrect ecosystem name ("scm"). It should be "go".

[2018-10-23 12:39] kishansagathiya commented on #4426
Yes, every time :)

[2018-10-23 12:46] ppitonak commented on #4456
@sthaha since you closed this issue, can you link PR fixing it?

[2018-10-23 12:49] piyush-garg commented on #4456
I think PR https://github.com/fabric8-services/fabric8-jenkins-idler/pull/290 will resolve this issue and it is in prod-preview right now and will be moved to prod soon today. More details @sthaha can provide.

[2018-10-23 12:52] jfchevrette commented on #3299
@mvulavak not to my knowledge

[2018-10-23 12:56] hrishin commented on #3802
### Update:

For the time being, we are adding this functionality into `fabric8-wit`, WIP https://github.com/hrishin/fabric8-wit/tree/delete-pipeline.

Eventually we have to move this to  `build-service`.
cc: @chmouel

[2018-10-23 12:56] xcoulon commented on #4426
@kishansagathiya could you check if you have any errors in your browser's console when `step #3` happens, please ?

[2018-10-23 12:57] muruGanesan commented on #4009
@ldimaggi , @ppitonak, @alexeykazakov, @hrishin, @bartoszmajsak,@kwk, @ljelinkova, @sthaha, @piyush-garg
Please look at the UX recommendation:
https://redhat.invisionapp.com/share/DZOLKNI95YP#/325796400_Pipeline_Appln_readiness

Note: @alexeykazakov provided his feedback and I responded back with details in the above 'Invision' file.
Feel free to add your review comments. If everyone is fine with

[2018-10-23 12:57] chmouel commented on #3299
I think it's not an issue because we removed the content-repository and that's not affecting us as much anymore, let there be glory until we have a new container introduced in the jenkins namespace. we'll reopen if needed,

[2018-10-23 12:57] #3299 closed

[2018-10-23 13:02] rhopp commented on #4415
Lately, E2E tests didn't fail with this message. I've discussed this with @ljelinkova and we think it's ok to close this issue.
She will reopen if she sees that again.

[2018-10-23 13:02] #4415 closed

[2018-10-23 14:09] vikram-raj commented on #4197
@muruGanesan I don't have permission to invision link.

[2018-10-23 14:13] muruGanesan commented on #4197
@vikram-raj,
Here is the public link: (I hope this works)
https://redhat.invisionapp.com/share/7VO5831SYNF#/320872288_Launcher-2

[2018-10-23 14:29] ibuziuk commented on #4379
@amisevsk could we close this issue now since the fixes are now available on prod? Also could you please clarify what would be the expected behavior when user starts a workspace with untracked deployment in the *-che namespace ?

[2018-10-23 14:37] sbose78 commented on #2332
I mean - yes, still an issue :)

[2018-10-23 14:41] msrb commented on #4483
PR: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/730

[2018-10-23 14:49] joshuawilson commented on #4048
@tinakurian from the beginning we have modeled much after github. Unlike Jira, this is an open to view platform. A non-user can look any content. The github model of requiring edit on any existing field makes sense for multiple reasons. Primarily, we need to validate access. Yes that can be done when the use clicks on an editable field but that is a poor approach. Our users are familiar with githu

[2018-10-23 14:51] slemeur commented on #4411
Can we do the same study for the Kubernetes Marketplace?

On Tue, Oct 23, 2018 at 1:03 PM Samir Dash <notifications@github.com> wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2018-10-23 15:42] Veethika commented on #4470
Parent items that don't comply with the search results should be grayed out.

Parent items that don't comply with the search results are bold.

@joshuawilson  this issue is pertaining to the tree view, right?

[2018-10-23 15:42] tinakurian commented on #4048
@joshuawilson Thanks for the clarification. That makes sense - i think the more important issue is consistency. It's hard to use a tool when i cannot understand or anticipate it's behaviour.. especially in seemingly similar situations.

[2018-10-23 15:52] sivaavkd opened #4484 "Weekly scan report - fabric8-gemini-server"
##### Please fix the issue reported in the weekly scan report

 | Dependency | Version | Ecosystem | CVE | CVE With the Highest CVSS Score | Highest CVSS Score
1 | pycrypto | 2.6.1 | pypi | CVE-2013-7459CVE-2018-6594 | CVE-2013-7459 | 7.5

[2018-10-23 15:55] sivaavkd opened #4485 "Weekly scan report - fabric8-license-analysis"
##### Please fix the issue reported in the weekly scan report

 | Dependency | Version | Ecosystem | CVE | CVE With the Highest CVSS Score | Highest CVSS Score
1 | pyjwt | 1.5.0 | pypi | CVE-2017-11424 | CVE-2017-11424 | 5.0

[2018-10-23 16:12] alexeykazakov commented on #2747
@mvulavak yes.

[2018-10-23 16:23] ibuziuk commented on #4391
@ljelinkova could you please tell if the prod-preview account is now fixed ? the fix [1] has been available on prod-preview / prod for a while.

[1] https://github.com/eclipse/che/pull/11570

[2018-10-23 17:32] christianvogt commented on #3171
@mvulavak no there is no fix yet for this.

However the same test is now 39 requests, 1.4MB transferred.

The 404 shows up in a few seconds depending on the network speed and amount of cached files present on the user's machine. Never experienced the 30secs stated in the summary.

404s are edge cases and as such this issue isn't a high priority. We certainly could do better. It's worth keeping thi

[2018-10-23 18:52] chmouel opened #4486 "Jenkins Idler: Pod Running in out of memory"
While deploying latest idler in production we have experience some pods running
out of memory and get killed by openshift.

While digging onto the ELK logs we have seen that idler [is creating](https://logs.dsaas.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-1w,mode:relative,to:now))&_a=(columns:!(message),index:'project.dsaas-production.129c1

[2018-10-23 20:16] joshuawilson commented on #4048
I agree there are a lot of inconsistencies.

[2018-10-23 20:31] joshuawilson commented on #3296
@muruGanesan try this:

1. set your feature flag setting to `released`
1. Go to the `Home` screen
1. go to a space, with an app, that you created or create a new one
1. go to the Plan page
1. since you are at `released` click the link/button that takes you to the settings and change it to `beta`
    1. [here is the problem, how do I get back to the planner]
1. via the context menu, go to the space

[2018-10-23 21:01] joshuawilson commented on #3161
This is still an issue.

[2018-10-23 21:03] joshuawilson commented on #2719
closing as can't reproduce

[2018-10-23 21:03] #2719 closed

[2018-10-23 21:13] joshuawilson commented on #4197
@muruGanesan I've commented on the design.

[2018-10-23 22:28] msrb commented on #4036
Sarah was working on this, I just added one test.

[2018-10-23 22:28] #4036 closed

[2018-10-23 23:46] sthaha commented on #4286
@chmouel isn't this closed now?

[2018-10-24 02:42] miteshvp commented on #4485
@sunilk747 - please have a look here

[2018-10-24 03:45] sthaha commented on #4486
From the kibana logs I gather that the pod [got restarted 6 times][restarts], so it is not 24777 users that is created but around ~4K users that is created.

[restarts]: https://logs.dsaas.openshift.com/goto/8c21d6c7ae5cc11551b7dfc9ddcbc36c

[2018-10-24 04:51] sunilk747 commented on #4485
This PR -https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/160 takes care of this issue. Hence closing this issue.

[2018-10-24 04:51] #4485 closed

[2018-10-24 04:53] joshuawilson commented on #3832
@kwk I just looked at production and the `resolution` is set to `Done`.

[2018-10-24 04:54] amisevsk commented on #4379
@ibuziuk I agree that this issue should be closed now.

Regarding untracked deployments, as far as I know, all of those were due to the recovery bugs that are now fixed, so there *shouldn't* be any more untracked deployments.

Could you clarify what you mean in expected behaviour? There are a few aspects to this:
- If Che loses track of a workspace, and there are untracked deployment resources on

[2018-10-24 05:17] kishansagathiya commented on #4426
@xcoulon
[code]

These are all the requests. You can ignore middle two, they are used to get some gif I guess. First and last are xhr.

[2018-10-24 06:00] #4429 closed

[2018-10-24 06:07] invincibleJai opened #4487 "Show proper status messages for progress for stack report generation"
- Show proper status messages for progress for stack report generation, currently it just shows "Generate Application Stack Report".
- There is no indication when LSP gets initialized.
- Some indication would be good for the user when LSP is consumed.
- Change the diagnostic messages shown from LSP in problems "Component Analysis" to "Dependency Analytics" and word "Package"  to "Application depen

[2018-10-24 06:10] kishansagathiya commented on #4451
Putting relevent event logs
[exceeded_quota.log](https://github.com/openshiftio/openshift.io/files/2509147/exceeded_quota.log)

[2018-10-24 06:13] GeetikaBatra commented on #4481
@GeorgeActon  This is not a duplicate, this one is based on the recent stack report dated 20/10/2018.

[2018-10-24 06:17] chmouel commented on #4486
@sthaha  If the pod restart the pod_name would be different isn't it ? and afaics the ELK search is matching on a specific pod?

[2018-10-24 06:18] chmouel commented on #4286
yup! thanks,

[2018-10-24 06:18] #4286 closed

[2018-10-24 06:42] chmouel opened #4488 "Archive repos with dependences issues"
We have been receiving a "GitHub security alert digest" on old repositories that
has security issues, afaik those are not used anymore.

Here is the list :

http://github.com/fabric8io/fabric8/network/alerts
http://github.com/fabric8io/shootout-docker-maven/network/alerts
http://github.com/fabric8io/data-mapper/network/alerts
http://github.com/fabric8io/insight/network/alerts
http://github.com/fab

[2018-10-24 06:44] chmouel commented on #4488
@piyush-garg @hrishin @sthaha @rupalibehera @kishansagathiya

any chances you go over this list and see if there is anyone used,

[2018-10-24 06:49] muruGanesan commented on #4009
< Iteration -3>
@ldimaggi , @ppitonak, @alexeykazakov, @hrishin, @bartoszmajsak,@kwk, @ljelinkova, @sthaha, @piyush-garg
I discussed with @sthaha on There use cases:
1) case-1: Only one application (1 URL)
2) case-2: There is no application (0 URL) e.g. bot deployment
3) case-3: Multi-clusters ( > 1 URLs) - this is a future requirement

I covered the "case-1 and 2" and updated the flow. Please rev

[2018-10-24 06:51] sivaavkd opened #4489 "Auth library - required dependencies"
##### Auth library should install its own required dependencies.

##### Expected Behaviour - Auth library should install its own required dependencies.

##### Current behaviour - auth library requires dependencies to be installed in the consuming repository to work as expected

##### Additional Information

since the auth library requires dependencies to be installed in the consuming repository to

[2018-10-24 06:51] vikram-raj commented on #4435
@ljelinkova Is this issue still persist? For me, it is the app creation flow working as expected.

[2018-10-24 07:13] chmouel commented on #4448
@jmelis @aditya-konarde  would you know by any chances how can we fix this ?

[2018-10-24 07:44] xcoulon commented on #4426
@kishansagathiya what about errors in the console?

[2018-10-24 08:02] ljelinkova commented on #4391
No, unfortunately, the workspace is still `stopping`.

[2018-10-24 08:03] rhopp commented on #4391
I don't think that fix is already in prod/prod-preview. The PR was merged 7 days ago, 6.12.2. was released 8 days ago... Furthermore I don't see the commits from that PR in commits Alex cherrypicked to 6.12.2 release. I think it will be available when we switch to 6.13.

[2018-10-24 08:30] kishansagathiya commented on #4451
@ldimaggi I am removing the intermittent label. The issue is consistent.

[2018-10-24 10:07] muruGanesan commented on #3924
@joshuawilson,
IMO:
1) If we implement my space as per UX recommendation: https://redhat.invisionapp.com/share/Y7OC1HORWQC#/screens/322844508_3 (reference #4326) then we can remove "my space list" from my profile page.

Let me check with @serenamarie125.
Based on her inputs & priority list, I will provide UX recommendation.

[2018-10-24 10:10] kishansagathiya commented on #4426
@xcoulon
[code]
No errors after `submit`. But I see this since the page loads.

[2018-10-24 11:15] ppitonak commented on #3765
Joshua correctly pointed out that your design only solves part of the problem but IMHO that is exactly what this issue is about. We should probably create new issue for navigating from features page back to origin page.

[2018-10-24 11:37] chmouel commented on #4180
We have merged https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/334#issuecomment-432577825 and now errrors should be more explicit i.e: for our issue when there is no dc inside jenkins namespace we are now showing a 500 :

![image](https://user-images.githubusercontent.com/98980/47427814-c202e700-d791-11e8-8d1a-67fd714c9310.png)

@ppitonak this may affects your tests (in a good way),

[2018-10-24 11:37] #4180 closed

[2018-10-24 11:39] sthaha commented on #4486
I am concluding  it is not based on this query where I am matching only by msg - https://logs.dsaas.openshift.com/goto/144d0411c842b25cf6d4926276b75519

which gives me only `jenkins-idler-28-msvqb` as the pod name.

[2018-10-24 11:45] chmouel opened #4490 "Jenkins Proxy: ui_requests.go doesn't have unit tests"
It is a critical part of the proxy code and we don't have unit test there.

I have added [some minimal test](https://github.com/fabric8-services/fabric8-jenkins-proxy/blob/master/internal/proxy/ui_requests_test.go) for a PR sent but that's need proper unit testing.

Fabric8 Jenkins Proxy issue: https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/336

[2018-10-24 12:01] pmacik commented on #4451
@ldimaggi I experience this too with a user provisioned on the  `starter-us-east-2a` cluster, today.

[2018-10-24 12:37] msrb opened #4491 "Analytics services should fetch CVE data from the new graph nodes"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/730

[2018-10-24 12:38] msrb commented on #4491
PRs:

* [API] https://github.com/fabric8-analytics/fabric8-analytics-server/pull/395
* [stack analysis] https://github.com/fabric8-analytics/f8a-server-backbone/pull/107
* [gemini] https://github.com/fabric8-analytics/fabric8-gemini-server/pull/113

[2018-10-24 12:52] ljelinkova commented on #4009
@muruGanesan I like the proposal.

[2018-10-24 13:09] GeorgeActon commented on #3744
@invincibleJai I assigned you since you are driving this from analytic so prspective

@yzainee there’s is an action request for you above

[2018-10-24 14:21] sthaha commented on #4306
Closing this issue in favour of https://github.com/openshiftio/openshift.io/issues/4340 since the idle/unidle loop doesnt happen anymore.

[2018-10-24 15:07] ibuziuk commented on #4438
@ljelinkova are there any housekeeping issue for this problem since this looks like infrastructure problem ?

[2018-10-24 15:41] ibuziuk commented on #4391
@rhopp @ppitonak could you please point me to prod-preview e2e ci job which is failing due to this issue? AFAIK, prod e2e tests are not affected by this issue:
- https://ci.centos.org/job/devtools-saas-openshiftio-e2e-smoketest-released/
- https://ci.centos.org/job/devtools-saas-openshiftio-e2e-smoketest-beta/

[2018-10-24 18:28] serenamarie125 commented on #4197
@muruGanesan let's chat on this in our review tomorrow - i'm not sure this is the design that we reviewed internally

[2018-10-24 18:37] muruGanesan commented on #4197
Sure Serena. I haven't changed much. I added one additional screen i.e. 'set up' completed page. But we can review and finalize tomorrow.

[2018-10-24 19:45] joshuawilson commented on #3145
@sunilmalagi This task has `UX` in the title asking for your help. It is not about implementing a solution. If you have don everything needed, then you should verify with @Preeticp and close it. If we need to implement something then a new task can be created and linked to this one.

[2018-10-24 19:48] ppitonak commented on #4391
This is the job https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/

This is how it looks like for end user
![che](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/3245/04-01-afterEach.png)

[2018-10-24 20:09] sleshchenko commented on #4391
@rhopp

Thanks for a good news for me. Because I was just wondering why my fix does solve this issue.
So, let me know if it doesn't solve issue after updating to 6.13

[2018-10-25 05:57] samuzzal-choudhury opened #4492 "Failure in processing a particular application stack"
## Description
The Analytics server returns an internal server error (HTTP Error 500) while processing the attached package.json with resolved dependency version.

## Attached
[package.json.zip](https://github.com/openshiftio/openshift.io/files/2513483/package.json.zip)

[2018-10-25 06:15] muruGanesan commented on #4009
@ljelinkova, Thanks.
If the stakeholders are fine with UX recommendation, I request @sthaha, @joshuawilson to assign to an appropriate team.

[2018-10-25 06:33] yzainee commented on #3744
@hrishin In the log that you have shared, this is what i see
[Pipeline] echo
Looking for matching Build e2e-0605-230714-1
[Pipeline] echo
Adding annotation 'fabric8.io/bayesian.analysisUrl: https://recommender.api.openshift.io/api/v1/stack-analyses/3b4e6263a05e42feb17cf65fee7138f4' to Build e2e-0605-230714-1
[Pipeline] echo
looking for e2e-0605-230714-1 in namespace osio-ci-e2e-007

[2018-10-25 06:41] joshuawilson commented on #4009
When @sthaha confirms the backend supports it and there is a decision on the design, the UI team can pick up the changes to the pipeline page.

[2018-10-25 07:05] jarifibrahim opened #4493 "Blank page after login to prod-preview"
#### Issue Overview

Tell us briefly what the problem is about.

After login I see just a blank page

##### Steps To Reproduce

1. [step 1] - Login to prod-preview.openshift.io
2. [step 2] - Notice you get a blank page

Console log shows
![screenshot from 2018-10-25 12-31-52](https://user-images.githubusercontent.com/12949454/47481710-24bbb780-d852-11e8-8a99-e7bce26e3ca1.png)

[2018-10-25 07:11] chmouel commented on #4493
I am getting this as well
![image](https://user-images.githubusercontent.com/98980/47482139-f92ad400-d835-11e8-8582-ca89a4194d98.png)

[2018-10-25 07:17] joshuawilson commented on #4493
I'm looking at it.

[2018-10-25 07:28] #4392 closed

[2018-10-25 07:29] jarifibrahim commented on #4493
So is this a SEV 2? We have no workaround for the issue and I thought if an issue doesn't have a workaround it is a SEV 1.

[2018-10-25 07:30] chmouel commented on #4493
It's 3h30AM on the east coast, let's move it to SEV2 ;)

[2018-10-25 07:38] chmouel opened #4494 "Rename fabric8-build-service to fabric8-build"
So we can be consistent with the fabric8-services/

Fabric8-build issue: fabric8-services/fabric8-build-service#21

[2018-10-25 07:48] ljelinkova commented on #4493
@joshuawilson @chmouel  It was agreed some time ago that broken prod-preview is SEV-1.

[2018-10-25 07:49] joshuawilson commented on #4493
Severity is only for users of the system. They can only use production. This should be a SEV4 and P1.

[2018-10-25 07:52] joshuawilson commented on #4493
We are following https://access.redhat.com/support/policy/severity
It is a Users point of view not a devs point of view.

I could argue that prod-preview doesn't even get severity, just priority.

[2018-10-25 07:55] ljelinkova commented on #4493
@joshuawilson Let me quote you:
_We also agreed that something in prod-preview can be a SEV1 if pushing to prod will break prod._
https://github.com/openshiftio/openshift.io/issues/3853

[2018-10-25 07:58] joshuawilson commented on #4493
I concede.

[2018-10-25 08:17] joshuawilson commented on #4493
It's fixed.

[2018-10-25 08:17] #4493 closed

[2018-10-25 08:35] #4494 closed

[2018-10-25 08:48] #1088 closed

[2018-10-25 08:57] nimishamukherjee commented on #1976
@openshiftio/uxd-team do we implement this?

[2018-10-25 08:59] nimishamukherjee commented on #1982
Closing this issue based on @michaelkleinhenz 's comment.

[2018-10-25 08:59] #1982 closed

[2018-10-25 09:06] nimishamukherjee commented on #2344
@openshiftio/uxd-team advice.
Note: The rationale behind the current implementation is that Active iterations shows the entire nested path. We decided to go with .../parent iteration/iteration name format so that the user can see the iteration name.
The iterations tree display only the iteration name as we can see the nested hierarchy for any iteration.

[2018-10-25 09:06] yzainee commented on #3744
@hrishin Just wondering.. whats the problem out here? I see the annotation getting set, but not in the deployment config..

[2018-10-25 09:28] rupalibehera commented on #3742
@tinakurian , are you guys working on this one, this is a P1 and is important for the e2e tests. and we also suspect that it may fix https://github.com/openshiftio/openshift.io/issues/4172 as a side effect which is P1 too. https://github.com/openshiftio/openshift.io/issues/4172 is blocked until https://github.com/openshiftio/openshift.io/issues/3742 is done.

cc: @pgarg @pradeepto @sthaha

[2018-10-25 10:17] hrishin commented on #3935
### Update

To fix this issue, the patch has been sent on [openshift-sync-plugin](https://github.com/fabric8io/jenkins-sync-plugin/pull/41) project. In nutshell, this patch updates openshift build state as soon it receives a build state event from Jenkins. In the previous approach, it was polling for build state at fixed interval time.

[2018-10-25 10:36] #4489 closed

[2018-10-25 10:39] hrishin commented on #3744
One way to get more info about this issue is to retrive `build` annotation after pipeline set it to `Build` as [mentioned](https://github.com/openshiftio/openshift.io/issues/3744#issuecomment-431753633) above.  As this is happening mostly in e2e test envirionment.

Do you mean `BuildConfig`? Could you please confirm with the team whether this annotation needs in `Build`, `BuildConfig` or `Deployme

[2018-10-25 11:32] ibuziuk commented on #4391
@ljelinkova @ppitonak @rhopp 6.13.0 has been released on prod-preview could you please check if this problematic workspace is still in the stopping phase and can not be deleted ?

[2018-10-25 11:38] ljelinkova commented on #4438
@ibuziuk Yes, there is a housekeeping issue for that.

[2018-10-25 11:38] #4484 closed

[2018-10-25 11:39] kwk commented on #1595
@michaelkleinhenz you're assigned to this issue and haven't responded to @nimishamukherjee's [question](https://github.com/openshiftio/openshift.io/issues/1595#issuecomment-407636039).

[2018-10-25 12:00] ljelinkova commented on #4391
The fix worked and the workspace is now stopped.

![workspace-eigje](https://user-images.githubusercontent.com/2078072/47498666-3c993880-d85e-11e8-8c51-bd56e1966dde.png)

Let's wait until the next e2e test (scheduled in 10 minutes) and if it goes well I'll close this issue.

[2018-10-25 12:03] ljelinkova commented on #4438
Since it seems this issue was caused by infrastructure and we have issue for that I am closing this one. If the gateway error occurs again I'll create separate issue in OSIO for that.

[2018-10-25 12:03] #4438 closed

[2018-10-25 12:11] ljelinkova commented on #4435
I haven't seen this issue for couple of days. However, I'd expect launcher to display some error message if it is not able to get the boosters from server.

`[22:08:17.804] SEVERE https://openshift.io/osio-ci-e2e-005/e2e-1016-2307-1415/applauncher/createapp/e2e-1016-2307-1415 - Failed to load https://forge.api.openshift.io/api/booster-catalog/: No 'Access-Control-Allow-Origin' header is present on

[2018-10-25 13:09] ppitonak commented on #3744
Just give us an `oc` command that will retrieve the information that you need and we will add it to our script and will be gathering it during every test run.

[2018-10-25 13:12] ppitonak commented on #4020
@mvulavak this issue could not surface because of other issues in idler/Jenkins. We need more time to decide if it is still happening.

[2018-10-25 14:33] GeorgeActon commented on #4202
@rootAvish Can we close this?

[2018-10-25 17:54] joshuawilson commented on #2290
@mvulavak this is a P4, so I'm guessing not for a while.

To the devs, I will say that we should look at using virtualization of the view to create a smooth scrolling experience.

[2018-10-25 18:38] joshuawilson commented on #3693
@openshiftio/uxd-team Can you take one more look at this design. I think they should use the same dropdown not just the same format of data.

[2018-10-25 19:06] joshuawilson commented on #3366
@serenamarie125 should this be closed?

[2018-10-25 19:09] joshuawilson commented on #3786
@openshiftio/uxd-team has this been decided?

[2018-10-25 19:12] joshuawilson commented on #3707
This has not been fixed, we need to leave it open so that Eng can work it.

[2018-10-25 20:35] andrewazores commented on #4330
There are two screens in the design showing the popover component. In the second case there is a search widget added to the top of the popover. Is the intent to display the search widget only when the scroll bar also displays (ie when the list overflows)? I'm not sure if this will be practical to implement.

[2018-10-26 04:41] gastaldi commented on #4360
@anagavk is this issue still happening with you?

[2018-10-26 05:35] muruGanesan commented on #2344
@sunilmalagi, @Veethika,
If you have discussed and provided any recommendation, please share it here.

[2018-10-26 06:48] jarifibrahim commented on #4427
This was fixed in UI via https://github.com/fabric8-ui/fabric8-ui/pull/3371 and backend via https://github.com/fabric8-services/fabric8-wit/pull/2323.

[2018-10-26 06:48] #4427 closed

[2018-10-26 06:50] ibuziuk commented on #4416
@joshuawilson I believe `retry`[1][2] calls should be rem completely since those have been added back to the time

[1] https://github.com/fabric8-ui/fabric8-ui/blob/f26f5a98e17acca51036df2aa4f122bb466afc24/src/app/space/create/codebases/services/workspaces.service.ts#L48
[2] https://github.com/fabric8-ui/fabric8-ui/blob/f26f5a98e17acca51036df2aa4f122bb466afc24/src/app/space/create/codebases/servic

[2018-10-26 09:10] kishansagathiya commented on #4426
More logs, not quite sure if first too log lines are because redhat developers, last too surely are

[developers.redhat.com-1540544744829.log](https://github.com/openshiftio/openshift.io/files/2518540/developers.redhat.com-1540544744829.log)
[developers.redhat.com-1540544703542.log](https://github.com/openshiftio/openshift.io/files/2518541/developers.redhat.com-1540544703542.log)

[2018-10-26 10:09] ibuziuk commented on #4416
PR has been sent - https://github.com/fabric8-ui/fabric8-ui/pull/3394
Once merged this issue could be closed. @ljelinkova created a separate HK issue for analyzing root causes of 504 on the infrastructure level

[2018-10-26 10:53] rootAvish commented on #4202
Verified as working.

[2018-10-26 10:53] #4202 closed

[2018-10-26 12:13] GeetikaBatra commented on #4390
This is on hold. Right now I am working on vscode which is a higher priority.

[2018-10-26 12:20] GeetikaBatra opened #4495 "Update Icon and Readme in Devstudio IDE and Jboss tools access repository."
**Planner Link
**Tasks**

- [x] Setup code base and understand the points of change for Devstudio and Jboss tools access repository

- [x] Change the icons
Reference PR:- https://github.com/jbosstools/jbosstools-discovery/pull/386
https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/174

[2018-10-26 12:55] nimishamukherjee commented on #2569
The blue icon indicates work item details page. Fix works on prod (for sometime now).

[2018-10-26 12:55] #2569 closed

[2018-10-26 12:57] nimishamukherjee commented on #2532
In the current UI, work items are created in context of applied filters.
@Raunak1203 can we close this?

[2018-10-26 12:58] nimishamukherjee commented on #3052
Closing based on UX comment.

[2018-10-26 12:58] #3052 closed

[2018-10-26 13:52] joshuawilson commented on #4416
Thanks for the PR.
Merged to master, not prod yet. Let's see what it does to the prod-preview e2e tests.

[2018-10-26 13:58] GeetikaBatra opened #4496 "Platform support for users to opt-in for Analytics PR collaboration"
**Planner Link :** https://openshift.io/openshiftio/Openshift_io/plan/detail/286
**Tasks**

- [x] Learn type script

- [ ] Understand Multiple Workspace API

- [ ] Implement the functionality

[2018-10-26 14:21] chmouel opened #4497 "Jenkins Idler: Increase idler pod available memory"
We have seen idler running OOM inside its pod due of too many users (and not
because of a memory leak). Let's increase the memory usage.

Related: https://docs.google.com/document/d/1l9Q5IedNLFagEQ1Yqa_osHoWNNiCwfh-ouAa0nFujNY/edit#

Fabric8 Jenkins Idler issue: https://github.com/fabric8-services/fabric8-jenkins-idler/issues/294

[2018-10-26 14:40] #4497 closed

[2018-10-26 15:28] joshuawilson commented on #3966
This was either missed in design or dev. I can't see how this would be intentional. To me it is a bug.
I have to set the iteration each time. Or sometime I forget and have to go back and do it. But I never want it left at the default top level.

@openshiftio/uxd-team please advise.

[2018-10-26 17:18] joshuawilson commented on #3633
Is this even still in the header? I can't find it.

[2018-10-26 17:29] joshuawilson commented on #3703
I agree that it should be set to midnight.

I suggest that the backend only use the date since we control data there.
Then as a convenience the frontend should only send the date or set the time to midnight.

[2018-10-27 02:40] bartoszmajsak commented on #4154
@muruGanesan I think the overall flow looks good. One option I could think of is to add selection of all supported runtime for the user regardless if we detect or not - to give him a way to correct based on his knowledge of the project.

As for what is presented - as I mentioned above we shouldn't talk about the runtimes such as Spring Boot or VertX, but the build tool used for those - in case of

[2018-10-27 02:54] joshuawilson commented on #4364
@gorkem should this be in planner, since we track most work there?

[2018-10-27 02:58] joshuawilson commented on #3115
I can confirm it works as designed. I'm going to close this. If you have further questions please reopen it.

[2018-10-27 02:58] #3115 closed

[2018-10-27 02:59] joshuawilson commented on #3539
Is this still an issue @sbose78 ?

[2018-10-27 03:04] joshuawilson commented on #4354
@jmelis @jfchevrette or someone from the SD team please take a look at this.

[2018-10-27 03:07] joshuawilson commented on #4351
Since the chart is fixed I'm closing it. If you want to create a new design to update how the widget works, please open a new issue.

[2018-10-27 03:07] #4351 closed

[2018-10-27 05:41] joshuawilson commented on #4323
cc @openshiftio/uxd-team

[2018-10-27 06:47] joshuawilson commented on #4288
Can we close this?

[2018-10-27 07:39] joshuawilson commented on #4269
Is this still an issue after the changes you made?

[2018-10-27 14:55] gorkem commented on #4364
I guess so, I am still confused about what goes where.

[2018-10-27 22:19] joshuawilson commented on #4364
stuff that we plan to work on
This github thing is used for bug tracking mostly

[2018-10-28 01:13] serenamarie125 commented on #905
@joshuawilson based on the quick win updates, i don't think this is applicable anymore.  Do you agree?  If so, can you please Close?

[2018-10-28 02:42] joshuawilson commented on #4479
makes sense to me

[2018-10-28 02:44] joshuawilson commented on #4479
But the question is about github, not OpenShift. I think for OpenShift being down we need the System Status. Is the same true for github? You can still build and plan.

[2018-10-28 02:47] joshuawilson commented on #4480
Maybe that only works for the `Work Items` view. While in an iteration, I still see closed items.

[2018-10-28 02:50] joshuawilson commented on #4480
Nope, doesn't work there either. I don't know what it is supposed to do but it doesn't hide closed items.

[2018-10-28 02:57] joshuawilson commented on #905
What of the quick wins changes this? We still have the context menu and can change spaces.

[2018-10-28 06:30] #4311 closed

[2018-10-28 21:11] andrewazores commented on #4269
Yes, although after Alex's comment above this may be a WONTFIX deal if it's an intentional Bootstrap quirk/feature.

[2018-10-29 03:13] joshuawilson commented on #4295
@vikram-raj is this fixed?

[2018-10-29 06:44] sthaha commented on #4436
@ljelinkova how frequently do you see this issue? does this happen on prod-preview?
Could you please justify why this is a `P1` and e2e test blocker?

[2018-10-29 07:06] #2532 closed

[2018-10-29 07:30] ibuziuk commented on #4379
Going to close the issue after 6.13.0 update on prod which contains some important fixes from upstream

[2018-10-29 07:32] ibuziuk commented on #4416
@joshuawilson che e2e tests [1] are passing on prod-preview (jenkins are still failing though). Could with proceed with rolling out the fix to prod ?

[1] https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released

[2018-10-29 07:41] ibuziuk commented on #1160
I believe we should close this issue now, since all the data provided in the About dialog is correct.

I agree, but we should address and discuss in the separate issue IMO, since currently it is not clear what would be the best approach for displaying version of rh-che (we might also consider removing it completely since we are doing CD and version = revision in our case)

Not sure it will help mu

[2018-10-29 07:41] #1160 closed

[2018-10-29 08:59] Raunak1203 commented on #4404
fixed with PR https://github.com/fabric8-ui/fabric8-planner/pull/2790

[2018-10-29 08:59] #4404 closed

[2018-10-29 09:05] Raunak1203 commented on #4277
fixed in prod and prod-preview

[2018-10-29 09:05] #4277 closed

[2018-10-29 09:12] Raunak1203 commented on #3855
Issue is fixed
verified in prod and prod-preview

[2018-10-29 09:12] #3855 closed

[2018-10-29 09:13] sdash-redhat commented on #4411
@serenamarie125 @slemeur
I added a few slides #42 - #48 to the deck
https://docs.google.com/presentation/d/1qxPxY-mChfCu9GuZ3oS6sKNbZCLnECv5-AD5ulNuJz8/edit?usp=sharing
that captures some of the interesting VS Code specific aspects that we may consider to include.

I will be looking forward to @serenamarie125 's demo of Openshift marketplace, post which based on the direction we will move forward.

[2018-10-29 09:15] Raunak1203 commented on #3437
Issue is fixed
verified in prod and prod-preview

[2018-10-29 09:15] #3437 closed

[2018-10-29 09:16] Raunak1203 commented on #3211
fixed verified in prod and prod-preview

[2018-10-29 09:16] #3211 closed

[2018-10-29 09:16] kwk commented on #4288
@rgarg1 here's the visual proof that searching from the link section on production works fine:

## Search without quotes:
![bildschirmfoto von 2018-10-29 10-14-07](https://user-images.githubusercontent.com/193408/47640273-84bca180-db63-11e8-982e-ad1f6fef6867.png)

## Search with quotes:
![bildschirmfoto von 2018-10-29 10-14-21](https://user-images.githubusercontent.com/193408/47640323-a0c04300-db6

[2018-10-29 09:19] Raunak1203 commented on #3440
Closing this issue as side panel is changed for agile template

[2018-10-29 09:19] #3440 closed

[2018-10-29 09:30] kwk commented on #3832
In https://github.com/openshiftio/openshift.io/issues/3832#issuecomment-414303809 I wrote that the resolution has been set to `None`  for a while already. As it turns out this was only true for the Impediment type but not for the Defect WIT.

I'll change that right away.

[2018-10-29 11:16] ljelinkova commented on #4436
It is hard to tell since some jobs do not un-idle Jenkins at all. However, when I saw that issue locally it seemed that the problem was not that the job was not created, but that the Jenkins restarted during the build. After it came up again, there was obviously no running job. I

I hoped that this will be resolved by

https://github.com/openshiftio/openshift.io/issues/4456

Can you confirm that t

[2018-10-29 11:18] kwk commented on #3832
@sanbornsen for the Impediment, we have a `None` resolution and now we have one for a Defect as well. I wonder if we should keep the `None` that was added by the UI. For an Impediment we currently see two `None`s. Only one of them is selectable and the other is not.

![bildschirmfoto von 2018-10-29 12-16-07](https://user-images.githubusercontent.com/193408/47646579-a1150a00-db74-11e8-8a70-d11de045

[2018-10-29 11:41] chmouel opened #4498 "Build: golangci-tool is crashing in CI"
golangci-tool is Currently crashing the CI :

[code]

GolangCI issue: https://github.com/golangci/golangci-lint/issues/260#issuecomment-433850010

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/51

[2018-10-29 11:44] sthaha commented on #4436
@ljelinkova no, waiting for @jfchevrette to merge https://github.com/openshiftio/saas-openshiftio/pull/1115

[2018-10-29 11:54] #4498 closed

[2018-10-29 12:06] rgarg1 commented on #4288
@kwk I can confirm that the issue is fixed on prod as well.

And, I also observed the issue that you noticed, regarding the search results not displaying in bold.

[2018-10-29 12:12] chmouel commented on #4448
Fixed and created here: https://quay.io/repository/openshiftio/rhel-fabric8-services-fabric8-build?tag=latest&tab=tags

[2018-10-29 12:12] #4448 closed

[2018-10-29 13:36] aptmac commented on #3633
It was removed in https://github.com/fabric8-ui/fabric8-ui/pull/3361

[2018-10-29 13:36] #3633 closed

[2018-10-29 15:57] joshuawilson commented on #4288
Can we close this since it is fixed. And open a new issue regarding the boldness?

[2018-10-29 16:11] joshuawilson commented on #4416
Yes, I'll push it prod.

[2018-10-29 16:19] ibuziuk commented on #4416
@joshuawilson thanks.
@rhopp @ljelinkova once merged could you please verify & close ?

[2018-10-29 16:20] sthaha commented on #4215
This has been fixed and deployed to prod. Please reopen if you experience the same issue happen.
FWIW, I see that there are intermittent e2e test failure which I think are unrelated to jenkins idler.

[2018-10-29 16:22] sthaha commented on #4436
@ljelinkova the new idler is deployed into production. Could you please run the tests and close the issue if you can't reproduce the problem?

[2018-10-29 17:58] joshuawilson commented on #4284
@sbose78 @alexeykazakov do you think this work should be under Auth team since it is user related or Platform since it is Notifications?

[2018-10-29 18:00] joshuawilson commented on #3068
Are you still having loading issues? Are you able to confirm this?

[2018-10-29 18:02] joshuawilson commented on #4416
I just merged it to prod. The PR that ran passes on both e2e tests.

[2018-10-29 19:08] #4478 closed

[2018-10-29 19:11] christianvogt commented on #4479
@serenamarie125 @joshuawilson
A system status and / or status of dependent systems makes sense. But parts of the app are still functional and we need to handle these failure cases much more gracefully across the UI.

[2018-10-29 20:09] joshuawilson commented on #4479
agreed

[2018-10-29 21:00] joshuawilson commented on #1593
Duplicate of #4009

[2018-10-29 21:00] #1593 closed

[2018-10-29 23:06] joshuawilson commented on #4184
@alexeykazakov what do you think about using a hash ID instead of the name? We might be able to do that in the UI. Just thinking it should be set in backend to be safer.

[2018-10-30 00:03] alexeykazakov commented on #4184
Yeah.. there are other places were we hit some OCP/k8s limitations in resource naming. Properly fixing it on the backend side will take some time (don't expect it to be fixed soon), so I would add some validation in UI for now.

[2018-10-30 02:16] joshuawilson commented on #4184
we can each plan to include it

[2018-10-30 03:32] joshuawilson commented on #1895
@bartoszmajsak @sthaha is this a known issue? Do you know the cause.
@ldimaggi can you reliably reproduce it?

[2018-10-30 03:33] joshuawilson commented on #1895
@openshiftio/uxd-team it looks like we might need some form of notification in the UI when this happens.

[2018-10-30 04:53] joshuawilson commented on #4078
Were you able to get past this?

[2018-10-30 04:59] #4211 closed

[2018-10-30 05:00] joshuawilson commented on #4168
@openshiftio/uxd-team Is this something on your radar?

[2018-10-30 05:01] joshuawilson commented on #4168
@sbose78 this might need roles or permissions to work.

[2018-10-30 05:05] joshuawilson commented on #1990
How much of this is left to do? I know some improvements have been made.
cc @alexeykazakov

[2018-10-30 05:07] joshuawilson commented on #4013
@aslakknutsen @alexeykazakov do you want to close this since no one answered him?

[2018-10-30 05:09] joshuawilson commented on #3933
It has been months since I've seen it. I'm closing it. Please reopen if you get this again.

[2018-10-30 05:09] #3933 closed

[2018-10-30 05:20] sbose78 commented on #4168
Thanks @joshuawilson for pointing out.

There's no plan to add new notification channels in the next couple of trains. When we do plan to add something, the notification service would need some revamp.

In any case, in the current state, the space admin(s) already have the distinguishable scope `manage` that can be validated to render a UI with extra knobs/controls.

[2018-10-30 05:43] rgarg1 commented on #4288
@joshuawilson Yes this could be closed now.

[2018-10-30 05:43] #4288 closed

[2018-10-30 08:27] chmouel opened #4499 "Build: CICO push job is not pushing images properly"
As per https://ci.centos.org/job/devtools-saas-openshiftio-promote-to-prod-test/1163/console :

[code]

It should be cut to the DEVSHIFT_TAG_LEN.

Related: https://github.com/openshiftio/saas-openshiftio/pull/1119

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/53

[2018-10-30 08:43] #4499 closed

[2018-10-30 08:51] rupalibehera opened #4500 "Update the upstream java boosters with the application.yaml as required by osio pipeline library"
Below are the list of boosters to be updated.

- [ ]  Health check - Thorntail ( https://github.com/thorntail-examples/health-check ) - PR raised https://github.com/thorntail-examples/health-check/pull/43
- [ ]  Rest API level 0 - Thorntail ( https://github.com/thorntail-examples/rest-http) - PR raised https://github.com/thorntail-examples/rest-http/pull/51
- [ ]  Heath Check - Sprint boot ( https

[2018-10-30 08:56] rupalibehera opened #4501 "Modify the existing Jenkifiles for java boosters to use the osio pipeline library"
Modify the Jenkinsfiles here -> https://github.com/fabric8io/fabric8-jenkinsfile-library/tree/master/maven to use the osio pipeline library.

[2018-10-30 09:10] ibuziuk commented on #4416
@ljelinkova could we close this issue now ?

[2018-10-30 09:11] #4379 closed

[2018-10-30 09:15] muruGanesan commented on #4197
@vikram-raj, @joshuawilson,
FYI
I have updated the flows based on our design review. But it is NOT finalized.
https://redhat.invisionapp.com/share/7VO5831SYNF#/320872288_Launcher-2

CC: @serenamarie125, @catrobson

[2018-10-30 09:21] invincibleJai commented on #4487
closing as changes are in Marketplace

[2018-10-30 09:21] #4487 closed

[2018-10-30 09:45] ljelinkova commented on #4416
@ibuziuk We had trouble running e2e tests since yesterday (unrelated to che) so let's wait till tomorrow and see how che is doing.

[2018-10-30 09:58] ibuziuk commented on #4416
@ljelinkova hmm.. e2e seems to be stable on prod:

- https://ci.centos.org/job/devtools-saas-openshiftio-e2e-smoketest-released/
- https://ci.centos.org/job/devtools-saas-openshiftio-e2e-smoketest-released/

If there are some concerns sure we could still have it open, but otherwise I believe we should close

[2018-10-30 10:20] invincibleJai opened #4502 "Test coverage for VSCode Extension"
### Palnner link : https://openshift.io/openshiftio/Openshift_io/plan/detail/940

### Tasks :

- [x] Configuration needed to show coverage report
- [x] Adds unit tests for all files
- [x] Refacor code wherever needed
- [x] Updates e2e tests
- [x]  test should run as part of CI on each PR and on release

[2018-10-30 10:28] invincibleJai commented on #4502
Associated PRs :
- https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/206
- https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/208
- https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/211
- https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/212

[2018-10-30 10:56] ljelinkova commented on #4416
Those jobs run on prod-preview, not production. These are production jobs:

https://ci.centos.org/view/Devtools/search/?q=devtools-test-e2e-openshift.io-smoketest-us-east

As I said, let's wait until production jobs and stable and run several times (since this issue was intermittent).

[2018-10-30 11:16] ppitonak commented on #4215
@sthaha unfortunately it still doesn't work

[2018-10-30 11:30] ppitonak commented on #3742
@tinakurian what is the progress on this issue?

[2018-10-30 11:43] vikram-raj commented on #4078
After upgrade to angular 6 there is no link command is define in ```ngx-launcher```. So, this issue is not valid anymore.

[2018-10-30 11:43] #4078 closed

[2018-10-30 11:56] ljelinkova opened #4503 "Jenkins is idled during build"
##### Issue Overview
The e2e tests are failing because Jenkins is idled during the pipeline build (both prod and prod-preview)

##### Expected Behaviour
The pipeline should finish successfully and after that I should be able to see Jenkins log.
##### Current Behaviour
The pipeline either does not finish at all and when I click the View log link I can see that Jenkins is idled. Or the pipeline fini

[2018-10-30 11:58] ljelinkova commented on #4503
This issue might be related to
https://github.com/openshiftio/openshift.io/issues/4456
https://github.com/openshiftio/openshift.io/issues/4436

[2018-10-30 12:05] sthaha commented on #4215
@ppitonak unfortunated "doesn't work" isn't that helpful

what doesn't work?

- Did the jenkins not get idled or unidled?
- Did the job run?
- Did the job get terminated in between
- Do you have the logs?
- what is user-id you used to test?

[2018-10-30 12:17] fabricepipart opened #4504 "Jenkins build fails "Disk quota exceeded""
##### Issue Overview
When building my application on Jenkins, the pipeline fails with the following error:
org.codehaus.plexus.archiver.ArchiverException: Problem writing to output in xAR operation Disk quota exceeded

##### Expected Behaviour
The Docker build image should be built during that step.

##### Current Behaviour
`[INFO] --- fabric8-maven-plugin:3.5.40:build (default) @ frontend ---
[IN

[2018-10-30 12:17] apupier commented on #3068
no more loading issues

the tooltip is no more jumping but the arrow pointing the + is shifted

![image](https://user-images.githubusercontent.com/1105127/47717473-25838d80-dc46-11e8-8350-9158541a7c20.png)

[2018-10-30 12:18] tinakurian commented on #3742
@ppitonak As mentioned, i was not actively working on this issue. I have started to look into this with @ldimaggi help to setup a more automated way to reproduce this issue to help with implementing and testing a fix.

[2018-10-30 12:46] jiekang commented on #4013
I have opened issues in the OSIO planner to track this better following discussions with Aslak that I did not document here. Sorry for the confusion. I think this can be closed.

[2018-10-30 12:46] #4013 closed

[2018-10-30 12:51] ppitonak commented on #4215
Unfortunately I don't have data, it failed locally with my personal account. I'll close now and reoples when I have some data.

[2018-10-30 12:57] joshuawilson commented on #3068
thanks for the update

[2018-10-30 13:05] joshuawilson commented on #4197
I still don't understand why this is a modal and not a fixed tab that I can find again. That was the original plan. This is **not** useful if I can only see it once.

[2018-10-30 13:18] chmouel commented on #4488
I have archived all those repos,

[2018-10-30 13:21] catrobson commented on #4144
Closing this issue as we will need to resolve through PatternFly.

[2018-10-30 13:21] #4144 closed

[2018-10-30 13:33] sthaha opened #4505 "Unable to cancel Jenkins builds"
Steps to reproduce
1. on board a project
1. start a pipeline
1. go to jenkins build
1. click the stop button to stop the build

Expected result: build should stop/abort

Actual: build does not stop

Known workaround: go to openshift console / pipeline view and stop the pipeline

[2018-10-30 13:39] muruGanesan commented on #4197
@joshuawilson,
We proposed modal because
1) 'set-up' page takes long-time
2) The user can access this page anytime to see the status of the application setup.

Note:
I also added my comments in 'Invision' [point 12] please review the same.

[2018-10-30 13:46] joshuawilson commented on #4274
Are you still getting this? I can not reproduce this.

[2018-10-30 13:48] aptmac commented on #4274
No I haven't seen this for at least a few weeks, this can be re-opened if it occurs again in the future.

[2018-10-30 13:48] #4274 closed

[2018-10-30 13:55] joshuawilson commented on #4197
@muruGanesan "Open in a new Window" is a **BAD** solution. We don't want more then one instance open intentionally. It is a "single page app". It is disruptive work between more then one instance.

What do you mean `'set-up' page takes long-time`? for whom? design or engineering?

If you firmly believe "Open in a new Window", please provide research. This application has never been designed to do

[2018-10-30 13:58] chmouel opened #4506 "Build: Implement env-pipelines REST call"
As described here [here](https://docs.google.com/document/d/1JcL2ZXjxkgTfDLwtpLHzymS0Z-cSo4wEiSc9_QuUUPE/edit) :

[code]

env[0-9] being reference id to environments

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/55

[2018-10-30 14:06] ljelinkova commented on #4503
This is one example of failed build on prod.
![osio](https://user-images.githubusercontent.com/2078072/47723567-0dffd100-dc55-11e8-9ce7-e17ec3fccb6f.png)
Idled Jenkins
![jenkins](https://user-images.githubusercontent.com/2078072/47723577-12c48500-dc55-11e8-9f83-fc7ff0e54e95.png)

Logs before tests (note that the jenkins container is running)
http://artifacts.ci.centos.org/devtools/e2e/devtools-tes

[2018-10-30 14:41] joshuawilson commented on #4273
@aslakknutsen @michaelkleinhenz @alexeykazakov Is this an API issue? Can we query for all work items that are assigned to a user across spaces?

[2018-10-30 14:46] catrobson commented on #4197
@joshuawilson this is a modal within the application, not a new window (Not sure where you got new window from?).

The decision was to navigate to the dashboard and open this modal upon creation of an application.  The user could close this modal to see their dashboard again, and can re-open this modal from the dashboard if they want to return to it at any point in time.  I've commented in InVisio

[2018-10-30 14:49] chmouel commented on #4504
@rohanKanojia f-m-p can probably handle more gracefully ?

@pbergene is there a way to clear these volume for @fabricepipart

There is always the way to reset your tenant by going to `https://openshift.io/${USER}/_cleanup` but that would remove *everything*

[2018-10-30 15:02] joshuawilson commented on #4197
As long as the user can easily get back to the modal, that is my concern. Thanks for clearing it up.

[2018-10-30 15:45] kwk commented on #3832
@sanbornsen We now have `None` as the default for all new Defects in prod-preview. The response from the work item creation shows that it is `None` for the `resolution` field. Do you know what problem there is within the UI when you see this screenshot?

![bildschirmfoto von 2018-10-30 16-42-44](https://user-images.githubusercontent.com/193408/47730759-1bbc5300-dc63-11e8-9a80-cfbbb551705e.png)

[2018-10-30 15:45] kwk commented on #3832
@sanbornsen I'm assigning the issue to you because I think that my part is done.

[2018-10-30 15:46] joshuawilson commented on #4262
Closing as this was moved to planner.

[2018-10-30 15:46] #4262 closed

[2018-10-30 17:38] joshuawilson commented on #4259
@DhritiShikhar are you still working on this? Is it fixed?
If still needs work can you provide a full explanation?

[2018-10-30 17:49] ibuziuk opened #4507 "[che.openshift.io] Sometimes jdt.ls failed to initialize"
Steps to reproduce:
- create & start workspace via UD (user dashboard) based on `vertx` stack with `vertx-health-check-booster`
- Once workspace is started there are the error logs in the `dev-machine` console
- ERROR: open any java file and try to do content assist via `Cntrl - space` - Intellisense does not work and there is an NPE error message in dev machine logs.

[2018-10-30 17:50] joshuawilson commented on #4181
Is this fixed?

[2018-10-30 17:55] joshuawilson commented on #1994
This is still an issue.

[2018-10-30 17:57] joshuawilson commented on #2296
@openshiftio/uxd-team Please advise.

[2018-10-30 18:20] chmouel opened #4508 "Build: Get make dev to generate the goa files before restarting"
piliu/fresh doesn't support it currently so we need an alternative.

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/56

[2018-10-30 18:23] joshuawilson commented on #3507
@sahil143 please don't assign work to people. Using the @ mention in comments is sufficient.

[2018-10-30 18:32] joshuawilson commented on #4173
looks like it is

[2018-10-30 18:32] #4173 closed

[2018-10-30 18:42] joshuawilson commented on #4206
I'm not sure this is a Planner issue. It might be in the Work Item Tracker but I'm not sure who owns `spaces` on the backend.

Does anyone think we should attempt to catch/prevent this in the UI? I know it needs to be dealt with in the backend for security reasons.

@aslakknutsen @bartoszmajsak

[2018-10-30 19:41] baijum commented on #4181
Yes, you can query like this:

`https://openshift.io/api/search?filter[expression]={"iteration":"eeb1f690-7258-4bcf-a09f-22aaf3e71216","child":true}`

`https://openshift.io/api/search?filter[expression]={"iteration":"eeb1f690-7258-4bcf-a09f-22aaf3e71216","child":false}`

[2018-10-30 20:03] joshuawilson commented on #4177
is this still an issue?

[2018-10-30 20:03] joshuawilson commented on #4181
can we close it then?

[2018-10-30 20:04] fabricepipart commented on #4504
A complete reset could be ok. Can I restart everything afterwards by just re importing my github project ?

[2018-10-30 20:10] piyush-garg commented on #4172
@rupalibehera @ppitonak @sthaha

I was able to reproduce this issue as I was testing some other fix.

I observed the same behavior as mentioned earlier. Two builds get triggered as the initial setup that is #3742

After that second build on osio get sync to the first job in Jenkins and first build of osio get sync to the second build of Jenkins. Sometimes both pass or fail. Appears opposite to us.

[2018-10-30 20:14] joshuawilson commented on #4165
closing as dup

[2018-10-30 20:14] #4165 closed

[2018-10-30 22:21] ldimaggi commented on #4172
How were you able to reproduce the error? Manually - or with an automated test?

[2018-10-31 00:02] joshuawilson commented on #3114
Closing. If you can provide steps to reproduce it then please reopen.

[2018-10-31 00:02] #3114 closed

[2018-10-31 02:14] serenamarie125 commented on #2307
I agree that it should be moved to Settings.  Let me add a design task around this.

[2018-10-31 03:37] #4508 closed

[2018-10-31 03:38] chmouel commented on #4488
I am thinking to just have an empty commit there so nobody can actually depends on it,

[2018-10-31 03:47] hrishin commented on #4504
@fabricepipart yes, you can.

[2018-10-31 04:53] hrishin opened #4509 "osio-pipeline test cases"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/935

[2018-10-31 04:55] hrishin opened #4510 "evaluate tools to execute osio-pipeline tests"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/936

[2018-10-31 06:14] joshuawilson commented on #2996
Closing as this is being tracked at https://openshift.io/openshiftio/Openshift_io/plan/detail/399

[2018-10-31 06:14] #2996 closed

[2018-10-31 06:14] joshuawilson commented on #4138
Closing as this is being tracked at https://openshift.io/openshiftio/Openshift_io/plan/detail/399

[2018-10-31 06:14] #4138 closed

[2018-10-31 06:16] joshuawilson commented on #2307
That makes sense to me. You could also include the Personal Access Token.

[2018-10-31 06:20] joshuawilson commented on #2968
Since the dropdowns are from (or should be from) Patternfly, is this something that should fixed there?

[2018-10-31 08:58] pbergene commented on #4504
Would clearing that PV completely be a supported flow and would be correctly repopulated next run? If it comes down to that I can look into this.  We can handle a one off request now and then, but should strive to figure out what goes wrong here.  Lack of cleaning, or simply too large build artefacts?

[2018-10-31 09:14] ibuziuk commented on #4507
@fbricon do you happen to have some ideas about the root cause of those failures.

[2018-10-31 09:35] ljelinkova commented on #4215
The e2e tests failed for user osio-ci-e2e-002 because Jenkins was not unidled.

Jenkins build started but the View link was never displayed. When the e2e navigated to Jenkins page directly it showed idled Jenkins screen.

These are logs when tests started
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1292/oc-jenkins-logs-before-all.txt

These

[2018-10-31 09:39] rhopp opened #4511 "Route flapping on 1a cluster results in broken e2e tests for Che"
##### Issue Overview

Che workspace starts up, but agents are not responding (503 on all routes) and in a while,  "Workspace agent is not running" pops up.

Browser log: https://pastebin.com/8f5ELVxu

One of the interesting messages from browser console could be this:
[code]

Also there is this error in che-server logs:
<details>

[code]

</details>

Running query in kibana shows this startet happ

[2018-10-31 10:19] ibuziuk commented on #4511
This looks like an infrastructure issue for me since the tests are failing only against this particular cluster and passing on others, so rh-che update to 6.13.0 does not seem to be related to this problem.

@rhopp could you please deploy some app with a route to the dev cluster in order to figure out after how much time it becomes accessible ? some time ago I used the following project / resource

[2018-10-31 10:20] sthaha commented on #4215
@ljelinkova I  am going to close this bug. Please open a new one against sd-team if jenkins fails to come up on 1a.

I see that idler has tried to un-idler jenkins and it seems jenkins failed to wake up due to pvc issues. Idler's role is to `idle` or `unidle` jenkins which it has done.

[code]

[2018-10-31 10:20] #4215 closed

[2018-10-31 10:22] sthaha commented on #4215
@ljelinkova .. I should be fairly straight forward to test this. You don't need idler for testing  if this is an openshift issue. You should be able to `oc idle dc/jenkins` and `oc scale --replicas=1 dc/jenkins` to test if it is an openshift issue.

[2018-10-31 10:34] rhopp commented on #4511
I've reproduced this with my user on 1a and che workspace:
It seems, that the route is somewhat flapping:
Simple script:
[code]

Output:
[code]

I'll try to deploy some simple pod with route to try to replicate that in simpler setup.

[2018-10-31 10:41] rhopp commented on #4511
Ok. The same thing happened with default Wildfly app deployed there:
[code]
It definitely seems like infra issue (@pbergene )

[2018-10-31 10:59] sunilmalagi commented on #4401
@serenamarie125 I went through the details you have provided, I need more clarity on the same.

1. There is a Gitlab link in the document, in which I tried go through the requirement, but its not clear that which are the screens that needs to be worked on and where do I find them?

2. Once I get the list of screens, I will be able to work on the ReBranding effort,

3. Is it finalised on the rebran

[2018-10-31 11:02] pbergene commented on #4511
Do you know what time perspective until it stabilizes? What is the current wait in che for the routes to become ready?

Doing some bz archaeology turned up https://bugzilla.redhat.com/show_bug.cgi?id=1519918 from about a year ago, adding it in for completeness

[2018-10-31 11:04] kishansagathiya commented on #4020
This issue is waiting for a tenant update
One https://github.com/fabric8-services/fabric8-tenant/pull/665 goes in prod we can merge pipeline library changes

[2018-10-31 11:05] pbergene commented on #4511
https://github.com/openshiftio/openshift.io/issues/1304 was the relevant osio issue at the time

[2018-10-31 11:06] pbergene commented on #4511
https://bugzilla.redhat.com/show_bug.cgi?id=1522812 also

[2018-10-31 11:11] ppitonak commented on #4215
@sthaha users don't have rights to idle/unidle by default.

[2018-10-31 11:12] pbergene commented on #4511
Requested a router restart to see if that can help point in a direction.

[2018-10-31 11:15] rhopp commented on #4511
@pbergene The pod with wildfly app in it is currently running for ~37 minutes and the route flapping is still there.

[2018-10-31 11:17] pbergene commented on #4511
Ah, that's not the same then.  This sounds like one of the routers is out of sync permanently. Excellent issue description and reporting :)

[2018-10-31 11:18] ppitonak commented on #4020
@kishansagathiya when do you plan to deploy it to prod?

[2018-10-31 11:49] kishansagathiya commented on #4020
@ppitonak
today
@piyush-garg or @hrishin would be doing those tenant updates

[2018-10-31 12:20] ljelinkova commented on #4416
I've not seen this issue in the last e2e test runs on production so I am closing it now.

[2018-10-31 12:20] #4416 closed

[2018-10-31 13:04] #4502 closed

[2018-10-31 13:07] kwk opened #4512 "Too many borders on work item detail page in planner"
##### Issue Overview

We have too many borders that don't add value.

##### Expected Behaviour

I want a clean uncluttered display of content on the planner detail page:

![after](https://user-images.githubusercontent.com/193408/47789529-115a9180-dd15-11e8-90c9-7a4dfbcd8952.png)

**NOTE: This is just one change, after this one I would like to remove some of the padding between comments, but this c

[2018-10-31 13:12] GeorgeActon commented on #2694
@ldimaggi This looks like a duplicate of #3744
And all the work is being done in that bug. Can we close this as duplicate?

[2018-10-31 13:16] ldimaggi commented on #2694
Closing as duplicate of #3744

[2018-10-31 13:16] #2694 closed

[2018-10-31 13:17] christianvogt commented on #4185
@serenamarie125 there's still outstanding asks for the invision update before we can assign the dev work.

[2018-10-31 13:34] miteshvp commented on #4423
@msrb - is this pending for qa verification or can be closed?

[2018-10-31 13:35] miteshvp commented on #4371
@yzainee - who is supposed to work on this? Does it belong to Analytics or other team?

[2018-10-31 13:36] miteshvp commented on #4265
@sunilk747 - can you PTAL?

[2018-10-31 13:43] rhopp commented on #4511
This seems to be resolved.

@pbergene Could that be prevented somehow? Does the team taking care of OSO clusters have some checks in place to catch such issues as soon as possible?

[2018-10-31 13:47] miteshvp commented on #3759
Closing this since fixed by https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/669

[2018-10-31 13:47] #3759 closed

[2018-10-31 13:47] joshuawilson commented on #4512
I like the cleaner look.
@openshiftio/uxd-team please advise/review.

[2018-10-31 13:48] pbergene commented on #4511
Excellent. Thanks.  This "shouldn't" have happened.  I've asked for clarification whether or not monitoring catches this and will suggest they add it.

[2018-10-31 13:55] kwk commented on #4512
@joshuawilson thanks. One thing to note is that this is NOT a top down decision but a bottom up one of which we have way to less IMHO. I don't blame anybody but when there's a design that doesn't work in real life, just improve it and don't go back into some UI/UX cycle before change hits the user's eye. And if it really is as I said (with the three repos) we should make sure that this process is

[2018-10-31 13:56] kwk commented on #4512
@joshuawilson the P4 priority is debatable. It is a quick win IMHO and it is visible since day 1 almost. To me the older those issues are the more pressure is to fix them because it reveals that the issue is somewhat hidden and system immanent.

[2018-10-31 14:24] sthaha commented on #4215
@ppitonak I see the point you are making but idler can't fix openshift if pods don't come up.

we can propagate the errors back to jenkins proxy ui but idler and proxy can't do anything more than that and this doesn't help when jenkins needs to be woken up in response to a webhook.

I certainly see your point that there must be some way to report and fix broken namespaces but that is outside the s