[2019-01-14 15:39] jmelis commented on #4695
@ljelinkova if you look at this screenshot, you will see that the workspace pod is running, but that there are no imported projects. I'm assuming that is because the git clone failed, or wasn't even called, but I could be wrong about what exactly happened. What I believe is certain though is that the pod is running and that this has nothing to do with route flapping.

http://artifacts.ci.centos.or

[2019-01-14 15:41] jmelis commented on #4695
@Katka92 did the report you labeled as [1] never return 200?

[2019-01-14 15:41] riuvshin commented on #4695
@Katka92 I can't reproduce this on 1a and 2 with this:
https://gist.githubusercontent.com/jfchevrette/fdbd7dd2ec34130b91cb0af51baab5ee/raw/5787223884278bd25f079deb37bc90f9c75b698a/test-oso-route.sh

and from what I've seen is that test starting to receive 200s not right after route is published
but in some time, which I think is fine
but once it is set it was always giving me 200s

[2019-01-14 15:42] jmelis commented on #4695
@Katka92 also, the report you labeled as [1], does it correspond to a specific jenkins job? If so, which one?

[2019-01-14 15:47] ibuziuk commented on #4695
@jmelis @riuvshin guys, don't you think we need to raise the route flapping issue with ops and get clarifications about the cluster(s) health at the point of time? AFAIK those kind of issues should be caught by monitoring not QAs - https://github.com/openshiftio/openshift.io/issues/4511#issuecomment-434693373

[2019-01-14 16:14] jmelis commented on #4695
@ibuziuk we totally would raise this with ops, but @riuvshin tried to reproduce it himself and he couldn't. We are working on it still, though.

[2019-01-14 16:22] ibuziuk commented on #4695
@Katka92 I believe you have used che specific samples for reproducing the problem. Are you able to reproduce it on some synthetic sample as it was done before -  https://github.com/openshiftio/openshift.io/issues/4511#issuecomment-434633713

[2019-01-14 16:36] ibuziuk commented on #4695
@jmelis @riuvshin FYI I was able to repro route flapping on `us-east-2` via https://github.com/ibuziuk/route-flapping/tree/master/resources
Also, noticed that it takes ~ 30 second for route to become accessible after pod  startup which does not look normal IMO

[2019-01-14 18:20] ldimaggi opened #4708 "For user provisioned on starter-us-east-2, environment reset fails with server (500) error"
##### Issue Overview
Trying to reset the user env is failing for (at least 2) user accounts on the starter-us-east-2 cluster.

##### Expected Behaviour
Environment reset should be successful.

##### Current Behaviour
The reset is failing.

##### Steps To Reproduce

1. Log onto https://openshift.io using an account provisioned on starter-us-east-2
2. In the browser, open the Developer Tools browser

[2019-01-14 18:24] ldimaggi commented on #4708
In trying to start the Jenkins pod that is idles - seeing this error:

An error occurred scaling deployment config jenkins.
 Reason: deploymentconfigs "jenkins" is forbidden: User "osio-ci-preboost1" cannot update deploymentconfigs/scale in the namespace "osio-ci-preboost1-jenkins": no RBAC policy matched

![screenshot from 2019-01-14 13-07-18](https://user-images.githubusercontent.com/642621/5113

[2019-01-15 06:46] Katka92 commented on #4695
@jmelis I don't think this issue is related with git clone at all. Yesterday I was able to reproduce that issue (that project was not cloned to workspace) and I found this error in logs [1].

The script returns only 401 (not authorized) but I don't think it is problem. Even if it would return 200, it would jump between 200 and 503. If you think this is somehow affecting test, I can rework it. I'm

[2019-01-15 06:48] ljelinkova commented on #4695
@jmelis If you look into the original bug description, you can see in attached browser logs this line:

`https://route458cf5up-osio-ci-e2e-002-che.9a6d.starter-us-east-1a.openshiftapps.com/api/project-type - Failed to load resource: the server responded with a status of 503 (Service Unavailable)`

So for me it looks as a pretty good evidence that the problem is with route.

[2019-01-15 06:54] ljelinkova commented on #4679
I do have this issue too because I have my screen set up to use large text font. Sometimes I am able to scroll, but sometimes not. I am also not able to run the e2e tests locally without switching "large text" option off because they are not able to scroll to the button at all.

[2019-01-15 07:01] ljelinkova commented on #4668
It seems that the pods are deleted, at least for out e2e accounts.

[2019-01-15 07:03] ljelinkova commented on #4695
BTW, we have one failed e2e run on 1b cluster too:

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/1417/console

[2019-01-15 07:09] ljelinkova commented on #4708
I can confirm that the reset does not work for e2e tests on cluster 2 too. I can see the following in the broser logs:
[code]

[2019-01-15 09:38] msrb commented on #4293
This was fixed in following cleanup PR: https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/311.

[2019-01-15 09:38] #4293 closed

[2019-01-15 10:01] MatousJobanek commented on #4708
This was caused by the expired token for east-2 cluster. The token was updated, so this issue should be fixed.

[2019-01-15 10:09] riuvshin commented on #4708
@MatousJobanek yeah this is woking now. Closing.

[2019-01-15 10:09] #4708 closed

[2019-01-15 13:13] ldimaggi commented on #4708
This should have been a SEV1 as there was no workaround for those users - thanks for the rapid response in getting it fixed!

[2019-01-15 13:27] ljelinkova opened #4709 "Home dashboard is not loaded on prod-prev"
When I login into prod-preview I get thw following screen. The home page is not loaded. However, I can navigate to some other page via top menut and when I go back to home page it is loaded properly.

![home](https://user-images.githubusercontent.com/2078072/51183440-77e15b80-18d1-11e9-8f1c-c2b45976b8a3.png)

[2019-01-15 13:39] ljelinkova commented on #4703
@ibuziuk Could you have a look?

[2019-01-15 13:39] GeorgeActon commented on #4668
@ljelinkova @pbergene If the pods are deleted should this be closed?

[2019-01-15 13:43] ljelinkova commented on #4668
Could anybody from SD team (@riuvshin)  confirm if all affected pods have been deleted or only the e2e accounts?

Also, it would be also good to know why this "urgent" ops issue took 7 days.

[2019-01-15 13:59] joshuawilson commented on #4709
Please try a hard refresh `cntl + shift + r` OR `cmd + shift + r` on Mac.

[2019-01-15 14:01] ppitonak commented on #4709
`Ctrl + F5` in Firefox helped.

[2019-01-15 14:09] joshuawilson commented on #4709
looks intermittent and refresh does not fix it

[2019-01-15 16:39] riuvshin commented on #4668
this seems can be closed as pods are removed.

[2019-01-15 16:39] #4668 closed

[2019-01-15 17:03] christianvogt commented on #4709
anyone still encountering this issue?

[2019-01-15 18:30] chmouel commented on #4698
https://docs.google.com/presentation/d/17PdIMbDh2W7lgpR87eF6V5XnASG3jC25LoQGianzPcM/edit#slide=id.g4bfa7c6dff_0_10

[2019-01-15 18:58] piyush-garg commented on #4709
Just faced the same issue

[2019-01-15 22:11] chmouel opened #4710 "Osio Pipeline: Rename OSIO-Pipeline codeready toolchain based name"
- [ ] codeready-pipeline
- [ ] cr-pipeline-library (cpl)
- [ ] ...

(feel free to add other suggestions in there,)

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/104

[2019-01-16 04:18] sbose78 commented on #4709
Faced this, refreshed and it worked.

[2019-01-16 04:20] sbose78 opened #4711 "UI calls incorrect build tool detector URL"
When the UI tries to detect the build tool , it fails to do so because the request returns a 404

[code]

The URL called needs to be `https://detector.api.prod-preview.openshift.io/api/detect/build/https%3A%2F%2Fgithub.com%2Fsbose78%2Fspace-for-ingress`
instead of `https://detector.api.prod-preview.openshift.io//api/detect/build/https%3A%2F%2Fgithub.com%2Fsbose78%2Fspace-for-ingress`

[2019-01-16 04:50] sbose78 commented on #4711
CC @nimishamukherjee @vikram-raj

[2019-01-16 06:06] divyanshiGupta commented on #3296
Closing this issue as this is fixed in this PR - https://github.com/fabric8-ui/fabric8-ui/pull/3467

[2019-01-16 06:06] #3296 closed

[2019-01-16 07:37] pradeepto commented on #4698
@chmouel Closing this since you were done presenting it yesterday. Please reopen if need be.

[2019-01-16 07:37] #4698 closed

[2019-01-16 08:02] hrishin commented on #4410
@pradeepitm12 can this be closed now? Please update the issue.

[2019-01-16 09:21] ljelinkova commented on #4598
The #4670 is resolved and it seems that the fix on prod-prev helped to lower the number of occurrences. However, it still happens.

These are the last logs

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/5247/oc-jenkins-logs.txt

I can see in the logs that readiness probe failed
[code]

And then the quota limit
[code]

[2019-01-16 09:58] muruGanesan commented on #4680
Tasks list of **'User profile"** is captured here:
https://docs.google.com/document/d/1t68mwUFMjFWThx3FpgYAEW75nucwabYeLCrA7eeGvOQ/edit

[2019-01-16 11:24] animuk opened #4712 "Fix https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-staging-kb/issues/9971/"
Payload Used :
   {
'event': 'issue',
**'id'**: 8895920632,
'package': 'k8s.io/kubernetes/pkg/client/unversioned/clientcmd/api',
'repository': 'kubernetes/kubernetes'
   }
Correct payload should be -
   {
'event': 'issue',
**'number'**: 8895920632,
'package': 'k8s.io/kubernetes/pkg/client/unversioned/clientcmd/api',
'repository': 'kubernetes/kubernetes'
   }

[2019-01-16 12:32] hrishin commented on #3802
### Update:

Started working on this the PR, will update it by tomorrow.
Thanks!

[2019-01-16 13:17] piyush-garg commented on #3742
@sbose78 According to me, the issue is not the `ping` event but a `push` event which happens sometimes. I have observed that in the case of two builds, `push` event is there which is not in case of one build. The reason is as you see here https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/OsioLaunchMissionControl.java#L76, even

[2019-01-16 13:17] Katka92 commented on #4695
@jmelis @riuvshin @pbergene Today I've tried to verify other issue and I needed to start workspace 5 times on prod cluster 2 to have the project imported and shown. Is there some progress with that issue please? It is quite slowing me down.

[2019-01-16 13:33] Katka92 commented on #4695
This search in kibana [1] shows all occurrences of "Application not available" which is contained in log when project is not loaded into workspace. This search is for last 24 hours. Maybe it can help you somehow.

[1] https://logs.dsaas.openshift.com/goto/3c08ed5a51c28b753b4669a08db1ae82

[2019-01-16 14:22] rohitkrai03 commented on #2950
This was fixed in https://github.com/fabric8-ui/fabric8-ui/pull/3472. Closing it.

[2019-01-16 14:22] #2950 closed

[2019-01-16 14:46] GeorgeActon commented on #4703
@ljelinkova Can we get this labeled correctly. Sounds like a bug if so would also need a severity and a prioirity

[2019-01-16 14:47] GeorgeActon commented on #4699
@ljelinkova Bug? severity?

[2019-01-16 14:48] chmouel opened #4713 "Osio Pipeline: Add a diagram of osio-pipeline flow"
Add the plantuml file directly in the source and the generated image, attached to the readme. It's
available here :

PlantUML: https://goo.gl/EMCV5A

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/107

[2019-01-16 15:02] chmouel opened #4714 "Osio Pipeline: [POC] oc new-app integration"
a poc that try to leverage `oc new-app` feature supported on osio-pipeline :

1. Take an exisiting repo without `.openshiftio/application.yaml`
2. Run :

[code]

3. Run OSIO-Pipeline and see if it builds and deploy correctly on OSO/OSD

4. Identify what things are missing, there is arguments to play with on `oc new-app` to get the template exactly the way we want,

Osio Pipeline issue: https://git

[2019-01-16 17:04] joshuawilson commented on #4711
this is still in prod-preview and is being actively worked

[2019-01-16 17:33] vikram-raj commented on #4711
Build tool detector is not working on prod-preview.
This PR fix this issue https://github.com/fabric8-ui/fabric8-ui/pull/3490

[2019-01-16 18:00] ibuziuk commented on #4537
Closed accidentally. Reopening

[2019-01-16 19:44] ibuziuk commented on #4695
@pbergene @jmelis @riuvshin related HK issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2520
Long route expose is the reason of the problem

[2019-01-17 05:48] vikram-raj opened #4715 "New navigation: not able to go to the other space"
##### Issue Overview
I am not able to go to space where I am added as a collaborator.

Tell us briefly what the problem is about.

##### Expected Behaviour
A user should visit the other space

##### Current Behaviour
Getting 404 error when I going to other space.

##### Steps To Reproduce

1. [step 1]: Navigate to the overview page
2. [step 2]: Select the space from the dropdown which is not owned

[2019-01-17 05:58] vikram-raj commented on #4715
cc: @christianvogt

[2019-01-17 06:06] vikram-raj opened #4716 "new navigation: Plan tab should expand I user visit work item detail page"
##### Issue Overview
Plan tab should expand I user visit work item detail page from my work items card on the home page

Tell us briefly what the problem is about.

##### Expected Behaviour
Plan tab should expand when the user visits the detail page of the work item

##### Current Behaviour
Plan tab is not expanded when the user visits to the work item detail page.

##### Steps To Reproduce

1. [s

[2019-01-17 06:06] vikram-raj commented on #4716
cc: @christianvogt

[2019-01-17 06:14] vikram-raj opened #4717 "[New navigation]: User can not navigate back from 404 error page"
##### Issue Overview
If a user gets 404 error then he/she can not navigation back any other page using the side navigation

Tell us briefly what the problem is about.

##### Expected Behaviour
A user should navigate back to any other page using the side navigation.

##### Current Behaviour
A user can not navigation to other page once he/she gets 404 error using side navigation

[2019-01-17 06:15] vikram-raj commented on #4717
cc: @christianvogt

[2019-01-17 07:23] sanketpathak opened #4718 "Stack report is not loading"
##### Issue Overview
I've created an application using nodejs as runtime and Health Check as mission but the stack report is not generated after successful build.

![screenshot from 2019-01-17 12-28-13](https://user-images.githubusercontent.com/10252230/51301339-e4d12e80-1a54-11e9-9f69-d26685319990.png)

![screenshot from 2019-01-17 12-30-33](https://user-images.githubusercontent.com/10252230/5130

[2019-01-17 08:32] ppitonak commented on #4598
I would just add that there is another type of suspicious OpenShift events:
[code]
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1431/oc-jenkins-logs.txt

@MatousJobanek @alexeykazakov who is working on this? Nobody is assigned to this issue.

[2019-01-17 09:35] invincibleJai commented on #4718
Looks like related to https://github.com/openshiftio/openshift.io/issues/4642  cc @ravsa @samuzzal-choudhury

[2019-01-17 09:57] ppitonak commented on #4121
I haven't seen this issue for long time. Closing

[2019-01-17 10:10] MatousJobanek commented on #4598
Well, we (platform team) were asked to try to resolve this issue by fixing the [missing PVC one](https://github.com/openshiftio/openshift.io/issues/4121). That issue has been fixed (or at least it's [not been observed](https://github.com/openshiftio/openshift.io/issues/4121#issuecomment-455111941) for a long time).

These "new" failures and suspicious events reported by @ppitonak as well as by @lj

[2019-01-17 12:34] GeetikaBatra commented on #4623
Closing this one as done

[2019-01-17 12:34] #4623 closed

[2019-01-17 13:02] ppitonak commented on #4121
Unfortunately I found it in our 5 hours old logs :(
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/5271/oc-jenkins-logs.txt

[2019-01-17 14:19] hrishin commented on #4568
Can see some reduction in gluster storage usage.

@chmouel @sthaha

![image](https://user-images.githubusercontent.com/28615674/51324513-f0424b00-1a90-11e9-9fff-0610b9f051e3.png)

[2019-01-17 14:22] chmouel commented on #4568
Really nice! 😍

Great work 💪

[2019-01-17 14:33] kpiwko commented on #4589
Marking this as a bug - it is API UX bug.

[2019-01-17 15:04] #4709 closed

[2019-01-17 16:06] ppitonak commented on #4647
@serenamarie125 could somebody have a look?

[2019-01-17 19:57] Deepakny opened #4719 "Pipeline in Jenkins 2.0 as Code for iOS 10"
When i run my jenkinsfile, I am getting the below console output and is running like that without exiting
Running in Durability level: MAX_SURVIVABILITY
[Pipeline] node
Still waiting to schedule task
Jenkins doesn’t have label iOS Node

[2019-01-17 21:01] msrb commented on #4718
I have a similar problem. I can see the stack-report, but there are no data in it.

id: 3120a7c980d849788ea105f9083058ba

[2019-01-17 22:07] alexeykazakov commented on #4121
This failure seem to be caused by something else. See https://github.com/openshiftio/openshift.io/issues/4598#issuecomment-455116171

I'm assigning it to the build team to investigate the new failures.

[2019-01-17 22:31] chmouel commented on #4121
Those are indeed other issues but those are issues with the openshift platform, there is nothing we can 'fix' in there we just need to accept that is unstable,

[2019-01-18 03:04] vikram-raj commented on #4711
This has been fixed. @sbose78 do check it out on prod-prev.

[2019-01-18 03:04] #4711 closed

[2019-01-18 04:01] christianvogt commented on #4647
The item should probably just move to the run column immediately and show progress.

[2019-01-18 07:11] ppitonak commented on #4598
@chmouel can you do something about failing readiness probe?

[2019-01-18 07:38] chmouel commented on #4598
I think it's better to fail fast than trying to just wait more, the increase startup time with storage should not be greater than a second,

in the case of that other bug, this was because there was a node eviction going on (out of resources) and just waiting more is not fixing it,

we could potentially handle this in the pipeline to detect errors and retry the pipeline but the detection is going

[2019-01-18 09:04] hrishin commented on #4719
@Deepakny
Could you please share more details like `Jenkinsfile` or job Jenkins is running.

[2019-01-18 09:48] ppitonak opened #4720 "Codebases: Che workspace not created in prod-preview"
##### Issue Overview

When user clicks "Create workspace" button in Codebases page, nothing happens

##### Expected Behaviour

Button changes to a combo box and user can open newly created Che workspace

##### Current Behaviour

Button/link still visible

![crt_che](https://user-images.githubusercontent.com/445100/51378531-c11def00-1b0d-11e9-81a2-ee716bae532f.png)

##### Steps To Reproduce

1. cre

[2019-01-18 11:07] ppitonak commented on #4598
@chmouel I am happy to report a new issue when there is a new issue but from my end point of view, it's still the same symptom which could have one or more root causes.

The two links in issue description contain these clues:
* jenkins-home PVC problem
* readiness probe failed
* exceeded quota

Later we identified the problem with evicted pods and I agree with you that it's unrelated/not in our ha

[2019-01-18 12:18] muruGanesan commented on #4647
@ppitonak , @joshuawilson

There is a 'tooltip' on mouse over of the 'Promote' button.

<img width="610" alt="image" src="https://user-images.githubusercontent.com/26006817/51383132-9bf5a480-1b3e-11e9-949c-a4641a386352.png">

** I agree that there is no feedback -or- status indication.**
** We need analyse other parameters and propose an appropriate solution (that should align to pipeline flow)
E.

[2019-01-18 15:13] muruGanesan commented on #4193
Hi @sbose78, @joshuawilson, @christianvogt,

I need your clarification on the below:
1) Possible error cases.
2) Is it possible to show the log to the user? **(ref: point# [e2])**
3) **"Try again"**  - there are two options: **(ref: point# [3b])**
      (i) User can go back to "Application creation" (Launcher)
      (ii) User can restart the setup process again
       Which of the above option wou

[2019-01-18 15:18] ppitonak commented on #4720
Still appearing in multiple Jenkins jobs

[2019-01-18 15:23] serenamarie125 commented on #4647
I'd imagine that the promote CTA should only available when the Build is complete.

Once the user clicks on Promote, could we a line of text under "Build # - complete" saying "Promoting application..."

@christianvogt thoughts?

[2019-01-18 15:30] christianvogt commented on #4647
@serenamarie125 I just noticed that too in the gif. I need to better understand what was going on here. But it makes sense that you cannot promote if it's still running. So looks like a different bug. Or maybe the original intent was to allow promotion as soon as it was complete. But I don't think that's a good flow.

[2019-01-18 16:33] joshuawilson commented on #4193
2 - yes you can view the log. This should be accessable once the build starts even before it has an error.
3 - that really depends on what the error is. Is it something that can be fixed by running it again or do they need to update some field.

[2019-01-19 04:50] muruGanesan commented on #4193
@joshuawilson, thanks!
IMO:
point(3): Pipeline error happens due to Jenkins (idle state) issue, because others are straight forward steps.

[2019-01-19 06:48] joshuawilson commented on #4193
@muruGanesan I think you should talk to someone on the build team, like @rupalibehera.

[2019-01-19 07:47] muruGanesan commented on #4193
@joshuawilson, thanks.
I will talk to @rupalibehera and @hrishin and get more info.
Thanks again.

[2019-01-19 10:15] muruGanesan commented on #4680
Tasks list of 'User setting" is captured here:
https://docs.google.com/document/d/1ICg3qoJeXmRgkPN0rBUyWDLtj7C3bu_jwzavVZQD1EE/edit

[2019-01-21 08:20] #4692 closed

[2019-01-21 09:58] pbergene commented on #4568
Good job indeed! We have a couple of graphs which show it even more dramatically.  The device space also contains snapshots and is not a direct measure of space used by PVs, but we can clearly see the updates go in with this one :)

[2019-01-21 10:03] hrishin commented on #4568
Thanks @pbergene ! for giving confimation.

[2019-01-21 10:04] chmouel commented on #4568
@hrishin We need to plan for merging a better looking (i.e: not hack) patch to jenkins upstream, since they are affected as well and we want to consume their images asap,

/cc @arilivigni

[2019-01-21 10:10] ibuziuk commented on #4720
@ppitonak workspace creation via codebase UI seems to work fine for me on prod-preview. Is this problem still reproducible ?

[2019-01-21 10:21] hrishin commented on #3861
We need to consider the [plugins fix](https://github.com/openshiftio/openshift.io/issues/4568) while switching to upstream.

The fix is to symlink `plugins` directory from `/var/lib/jenkins/plugins` to `/opt/openshift/plugins` directory in upstream [jenkins builder image](https://github.com/openshift/jenkins).

One option for implementing such feature is to enable symlinking with env var switch. I

[2019-01-21 10:31] ppitonak commented on #4720
@ibuziuk yes, Jenkins jobs are still failing. We implemented a workaround in tests so will know more after couple of runs.

[2019-01-21 11:13] ljelinkova commented on #4598
The e2e tests failed on `persistentvolumeclaim "jenkins-home" not found` both on prod and prod-prev.

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/2274/oc-jenkins-logs.txt
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/5365/oc-jenkins-logs.txt

[2019-01-21 11:16] chmouel commented on #4598
This seems to be an error where the pod didn't get out of terminated and get stuck :

[code]

[2019-01-21 13:22] chmouel opened #4721 "Osio Pipeline: Add debug/verbose mode"
Providing there is a debug=True (or whatever) in JenkinsFile, do print as much
as possible for example the generated templates.

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/111

[2019-01-21 15:31] ppitonak commented on #4720
We tried two things in e2e test, none of them helped
1. browser.sleep for 5s before clicking the button
2. when clicking on button doesn't do anything, refresh the page and click again

This error was observed for the first time in https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/5262/ at Jan 16, 2019 11:10:00 PM UTC

[2019-01-21 15:54] rohitkrai03 commented on #4720
@ppitonak This is the error it seems ` SEVERE https://prod-preview.openshift.io/api/user/spaces - Failed to load resource: the server responded with a status of 500 (Internal Server Error)` which means that the space is not getting loaded. The server is returning 500 error which might be the reason why even after refreshing the page tests are failing.

[2019-01-21 15:55] ibuziuk commented on #4720
@alexeykazakov @MatousJobanek ^

[2019-01-21 16:04] ppitonak commented on #4720
@rohitkrai03 we have observed these errors for long time so I'm not sure if they are connected to this issue.

[2019-01-21 19:04] christianvogt commented on #4717
I believe this will be fixed once issue https://github.com/openshiftio/openshift.io/issues/4715 is addressed.

[2019-01-22 09:05] chmouel opened #4722 "Osio Pipeline: Private GIT repo"
We are currently only supporting github public repo,

We need to support private git repo.

We need to be able to reference a git secret and pass it to openshift :

https://docs.openshift.com/container-platform/3.5/dev_guide/builds/build_inputs.html#source-clone-secrets

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/113

[2019-01-22 09:06] chmouel opened #4723 "Osio Pipeline: Split application.yaml between build and deploy bits"
Brief: https://docs.google.com/document/d/1jnBywxwpVn2G_1Gm5tm0XwZCPYTU-eKQ5yn-P3h1hl0/edit#heading=h.mls8yxpctmt9

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/114

[2019-01-22 09:13] #4713 closed

[2019-01-22 09:16] chmouel opened #4724 "Osio Pipeline: Attach a secret to an environment"
We need to have a way to attach a secret to an environement. Each environment
have the same secret name (as openshift object) but different content by
environment.

Osio Pipeline issue: https://github.com/fabric8io/osio-pipeline/issues/115

[2019-01-22 09:17] chmouel commented on #4722
May be dependent of #115

[2019-01-22 10:22] ibuziuk commented on #4720
@ppitonak the PR has been merged [1], wondering if the issue is fixed now ?
[1] https://github.com/fabric8io/fabric8-test/pull/1241

[2019-01-22 10:58] ppitonak commented on #4720
Yes, last 8 runs or so passed the problematic point in test. Closing.

[2019-01-22 10:58] #4720 closed

[2019-01-22 12:08] ibuziuk commented on #4695
@ljelinkova could you possibly provide info about time required for route to be accessible after exposure with some synthetic sample e.g.  [1] for each oso cluster (last time I tried it on `2a` it was just a couple of seconds and more than a minute on `2`, but the situation might have changed)

[1] https://github.com/ibuziuk/route-flapping/tree/master/resources

[2019-01-22 15:33] Bumbilo opened #4725 "A work item loses focus after saving in a quick review"
A work item loses focus in planner table, when you are saving description in a quick review.
![workitemdetail](https://user-images.githubusercontent.com/12659320/51545964-cfe90680-1e6b-11e9-95b7-89fc8ff34690.gif)

[2019-01-22 16:08] Bumbilo opened #4726 "Can't select a text when cursor goes out from the field of description"
When the user hasn't changed description and wants select all text (for removing etc.) and the cursor goes out from the field of description then editing will be closed. I think it can be quite annoying.

![select](https://user-images.githubusercontent.com/12659320/51548266-af6f7b00-1e70-11e9-8db1-a23090ff07db.gif)

[2019-01-22 16:53] #4666 closed

[2019-01-22 16:58] #4665 closed

[2019-01-22 16:59] #3703 closed

[2019-01-22 17:58] #4542 closed

[2019-01-22 19:05] sbose78 commented on #4711
Verified, works great. Thank you.

[2019-01-22 20:01] sttyerase opened #4727 "Workspace service will not start: Internal Server Error"
##### Issue Overview
Attempting to "RUN" the workspace and repeatedly receive the following error message: Internal Server Error occurred, error time: 2019-01-22 19:46:26.  I have yet to create a workspace that will run.

Tell us briefly what the problem is about.

##### Expected Behaviour
Workspace runs and I can open it.
##### Current Behaviour
Failure with error: Internal Server Error occurred,

[2019-01-22 23:07] sttyerase commented on #4727
URL: https://che.openshift.io/dashboard/#/workspace/dbmidan/test01?tab=Overview

[2019-01-23 03:11] muruGanesan commented on #2307
Since it is on hold. Let's move to the backlog and removing my assignment

[2019-01-23 09:21] ljelinkova opened #4728 "Pods with "unknown" state appearing on cluster 2a"
I've noticed that 3 of our accounts on cluster 2a contain jenkins pods with "unknown" state. They are there for more days and remain there even after reset of environment.
[code]

Affected accounts: osio-ci-e2e-001-preview, osio-ci-e2e-002-preview, osio-ci-e2e-007

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/5415/oc-jenki

[2019-01-23 12:05] skryzhny commented on #4728
Does it block you?

[2019-01-23 12:59] ljelinkova commented on #4699
I haven't seen this issue for over a week, so I am closing it.

[2019-01-23 12:59] #4699 closed

[2019-01-23 13:00] ljelinkova commented on #4685
I haven't seen this for over a week - closing now.

[2019-01-23 13:00] #4685 closed

[2019-01-23 13:06] ljelinkova commented on #4695
@ibuziuk I'll look into that

[2019-01-23 13:14] ibuziuk commented on #4695
@ljelinkova thanks, I did a quick tests today.  Route flapping is detected on us-east-2 - first time route becomes accessible in 37 seconds after pod starup. us-east-2a no route flapping but route becomes accessible in 18 seconds. Would be interesting to get data from another account and from `1a` cluster (I do not have account to this cluster)

[2019-01-23 13:31] ibuziuk commented on #4695
should be pretty easy to do:
[code]

[2019-01-23 14:02] muruGanesan commented on #4193
@gastaldi,
Could please look at the above proposal and let me know your thoughts?
I checked with 'the build' team and I was redirected to check with launcher team.
In Brief:
1) During the 'App setup' - does the user encounter any error?
2) If yes, what kind of errors are expected?

CC: @vikram-raj, @joshuawilson, @nimishamukherjee

[2019-01-23 14:08] gastaldi commented on #4193
@muruGanesan it's hard to determine what kind of errors you may find since each step could throw errors, but the most common that I have observed are:

- GitHub repository already exists,
- Failure on creating the Openshift resources due to quota limit reached

[2019-01-23 14:10] ljelinkova commented on #4695
What exactly do I need to run this? Simply cloning your repo and running the commands did not work, I got  `error: the path "route.yaml" does not exist`

[2019-01-23 14:11] muruGanesan commented on #4193
In such a case, would you suggest, the user to 're-run' setup again?

[2019-01-23 14:20] muruGanesan commented on #4193
Sorry, by mistake I pressed 'close and comment'
@gastaldi,
Quick question:
 Let's say: there is an error (may because of git/quota).
Option-1: Tell the user that, something went wrong. Go and look at the log file
Option-2: Tell the user that, exact error scenario and the possible way to resolve
Option-3: Tell the user that,  there is an error + retry again > provide this issue can be resolved.
If

[2019-01-23 14:38] ljelinkova commented on #4728
Yes.

[2019-01-23 14:39] chmouel opened #4729 "Build Team: Setup OpenShift 4.0"
Aws?
Libvirt?
VirtualBox?

Fabric8 Build Team issue: https://github.com/fabric8io/fabric8-build-team/issues/61

[2019-01-23 14:39] chmouel commented on #4729
AWS Document for requesting an account: https://mojo.redhat.com/docs/DOC-1081313?forceNoRedirect=true#jive_content_id_Amazon_AWS

[2019-01-23 14:45] ljelinkova commented on #4695
Sorry, typo :-)

[2019-01-23 15:30] ibuziuk commented on #4695
yeah, you would need to change the curl code [1] a bit based on namespace where route is created

[1] https://github.com/ibuziuk/route-flapping/blob/master/resources/curl.sh#L2

[2019-01-23 15:41] gastaldi commented on #4193
Option 1 doesn't seem very user-friendly and isn't possible because there isn't a log file generated per request.

IMHO Option 2 and 3 seems like reasonable choices.

[2019-01-23 15:46] muruGanesan commented on #4193
@gastaldi,
Thanks, Click on 'Try Again' will restart the setup process again.
Shall I finalize the below screen?

![image](https://user-images.githubusercontent.com/26006817/51618204-dc488e80-1f53-11e9-8162-60faca026eb5.png)

CC: @vikram-raj, @joshuawilson, @nimishamukherjee, @sbose78

[2019-01-23 15:50] gastaldi commented on #4193
"Try again" must have the same behavior as in the standalone launcher: restart the setup process from the step that errored.

[2019-01-23 16:13] muruGanesan commented on #4193
Thanks George!

[2019-01-23 16:30] muruGanesan commented on #4193
Here is the final design. Please reveiew and let me know if anyone has any query.
[NOTE: I am planing to close this ASAP]
https://redhat.invisionapp.com/share/MHP7TIO3XYK#/332556493_ExistingFlow-_Start

CC: @joshuawilson, @vikram-raj , @sbose78 , @gastaldi , @nimishamukherjee, @serenamarie125

[2019-01-23 16:32] muruGanesan commented on #4197
Here is the final design. Please review and let me know if anyone has any query.
[NOTE: I am planning to close this ASAP]
https://redhat.invisionapp.com/share/7VO5831SYNF#/333742797_Overview-Page

CC: @joshuawilson, @vikram-raj , @sbose78 , @gastaldi , @nimishamukherjee, @serenamarie125

[2019-01-24 07:37] divyanshiGupta commented on #3951
Unassigning myself as I am not working on this issue currently as I have some other tasks on priority.

[2019-01-24 09:41] skryzhny commented on #4728
OPS cleared pods, I also can't see them.
@ljelinkova  can you recheck?

[2019-01-24 12:05] ibuziuk commented on #4695
@rhopp btw, this might super useful for status page - https://github.com/openshiftio/openshift.io/issues/4695#issuecomment-456800940 maybe need to sync with e2e QA in order to avoid duplicate effort ?

[2019-01-24 13:38] sbose78 commented on #4193
@muruGanesan ,
https://redhat.invisionapp.com/share/MHP7TIO3XYK#/screens/340614425
"view setup details" looks like the user would want to go to an application summary page and not the final step of a wizard.

What we are doing here in this design is to take the user to the last step of the wizard
The wizard today hides out the context of the space it is being run in, and not something I would prop

[2019-01-24 13:43] ppitonak commented on #4319
@piyush-garg does it mean that every new project on prod-preview will now use new pipeline library?

[2019-01-24 14:02] piyush-garg commented on #4319
Hi @ppitonak

This means we have tested and added whatever required in new pipeline-library to onboard java boosters. Now the new library is ready with the requirement.

we are working on #4500 right now. After that, we will move java boosters to use new library using
https://github.com/openshiftio/openshift.io/issues/4501

Thanks

[2019-01-24 14:42] slemeur opened #4730 "Providing che.openshift.io status and monitoring tools"
### Goals
The idea of this epic is to improve the different mechanism we have in place to report the state of che.openshift.io. We would add solutions to monitor the state, report the metrics and expose those in a way which could be leverage to provide a better user experience.

Example: When we detect that the platform is having issues to start the workspaces, we should inform the user that his w

[2019-01-24 14:54] invincibleJai commented on #4642
reopening it as it's still being observed.

[2019-01-25 09:20] jarifibrahim commented on #4538
I was playing around with devfile and here's what I found
 - A workspace can be created by a simple curl request. See https://gist.github.com/jarifibrahim/6a3f4bfb0efb863b9f73d40b9bdad420
 - The created workspace has `node/npm` by default (node/npm exists even for a java project)
 - I couldn't build/run the node project on che.prod-preview.openshift.io (see https://github.com/eclipse/che/issues/12

[2019-01-25 13:38] ljelinkova commented on #4695
We added the following script into our smoketest

https://github.com/fabric8io/fabric8-test/blob/master/ee_tests/scripts/routes/test-routes.sh

You can now see the output of the script in job's artifacts under the name `test-routes.txt`, e.g

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/5469/test-routes.txt

Note that `real` e

[2019-01-25 16:43] akochnev opened #4731 "Workspace creation times out for specific user"
##### Issue Overview

che.openshift.io times out and fails to start for my user "akochnev_redhat". This has been failing consistently for the last few months since I first tried using Che. When I created a new account, my workspace starts out fine.

##### Expected Behaviour
The workspace should start for this account

##### Current Behaviour
The workspace "Open" times out and fails to start.
#####

[2019-01-25 19:38] christianvogt commented on #4725
Other than losing location indicator in the list, I'm really not sure what use we have for selection in the work item list today.

[2019-01-25 19:59] christianvogt opened #4732 "Behavior of space switcher in new IA is not well defined"
There are two scenarios where we need to clarify the behavior of the space dropdown menu:
1. within the context of a space owned by the current user eg. `/christian/space1/create/pipelines`
2. within the context of a space owned by another user eg. `/otheruser/space2/create/pipelines`

On prod-preview today, the space dropdown always shows the spaces of the user in context. Which means if I am vis

[2019-01-25 20:00] #4717 closed

[2019-01-25 20:14] christianvogt opened #4733 "page content does not refresh in new navigation layout when switching spaces"
The following pages do not refresh to update the contents when switching between spaces in the new navigation layout:
* Code: `/<username>/<space>/create`
* Plan/Backlog: `/<username>/<space>/plan`
* Plan/Board: `/<username>/<space>/plan/board`

Steps to reproduce. The same steps are valid for other pages listed above:
1. Login to prod-preview
2. Ensure your feature flag is set to `internal` to vi

[2019-01-28 04:08] muruGanesan commented on #4193
@serenamarie125, any thoughts on this?

[2019-01-28 08:44] riuvshin commented on #4695
@ljelinkova @Katka92 can you please rerun tests? ticket now is closed so let's make sure we can confirm that issue is gone.

[2019-01-28 09:24] jarifibrahim opened #4734 "Cannot access health check application deployed on stage and run namespace"
#### Update - The issue isn't booster specific. I tried the sample application and even the sample application wasn't accessible from the public route. I've created https://github.com/openshiftio/openshift.io/issues/4735 to track the new issue. Closing this one.

The `health-check` boosters (both node and golang) are not accessible via the public route created after build completes.
The same boost

[2019-01-28 10:06] jarifibrahim opened #4735 "Routes created on cluster 2a are not accessible - users cannot access deployed apps (bad request 400 error returned for all apps)"
##### Issue Overview

Routes created on https://console.starter-us-east-2a.openshift.com/ aren't accessible from outside.

##### Expected Behaviour
Routes should work
##### Current Behaviour
Routes created return `400 Bad Request`

![desktop screenshot](https://user-images.githubusercontent.com/12949454/51825786-8a18bc00-230b-11e9-915a-4a78b20913aa.png)

##### Steps To Reproduce

1. Create a new a

[2019-01-28 10:07] #4734 closed

[2019-01-28 10:45] ibuziuk commented on #4695
@riuvshin I will let QA to provide statistics from periodic jobs, but according to manual tests we failure rate is still very high on 2 / 2a.

[2019-01-28 10:47] hrishin opened #4736 "Jenkins.openshift.io is not accessible"
Jenkins proxy is keep thowing
[code]
[code]
May be this on is related https://github.com/openshiftio/openshift.io/issues/4735

[2019-01-28 10:50] hrishin opened #4737 "github webhook not working"
Jenkins is not triggering a job upon the change in code. Maybe some issue with GitHub webhook.

[2019-01-28 10:54] pbergene commented on #4735
Can confirm - doing some further investigations

[2019-01-28 10:56] ibuziuk commented on #4695
Some quick tests against 2 cluster:
1. There are quite a few `ErrImagePull` but eventually image is pulled and container started

![image](https://user-images.githubusercontent.com/1461122/51831677-f89d5000-22f2-11e9-902b-24a636a9ce67.png)
![image](https://user-images.githubusercontent.com/1461122/51831737-2d110c00-22f3-11e9-845f-c0ebc87d65a4.png)

2. It takes ~35 seconds for route to be accessibl

[2019-01-28 10:58] ljelinkova opened #4738 "Che fails to run on 2a cluster"
Che fails to start on 2a cluster 100% with the following error

![Che screenshot](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1497/04-01-che-failed.png)

I do not see anything suspicious in the browser log
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1497/04-01-che-failed.log

N

[2019-01-28 11:00] ljelinkova commented on #4738
It could be related to #4735

[2019-01-28 11:12] pbergene commented on #4736
Looks to possible be a result of #4735 #4738

[2019-01-28 11:29] ljelinkova opened #4739 "Cannot promote application on cluster 2"
When e2e tests try to promote application, the Promote button is not enabled (wait time is 10 minutes)

![Pipelines screenshot](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/1496/05-04-pipeline-failed.png)

I can see many SEVERE logs in browser log

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east

[2019-01-28 11:30] piyush-garg commented on #4739
#4737 is also because of same issue

[2019-01-28 12:59] piyush-garg commented on #4736
Closing this as the duplicate of #4735 Will repone if that does not resolve this.

[2019-01-28 12:59] #4736 closed

[2019-01-28 13:01] piyush-garg commented on #4739
Even GitHub webhook events are also not working on prod cluster 2. That issue has also been reported which is #4737 I am closing that as a duplicate of this.

[2019-01-28 13:02] piyush-garg commented on #4737
#4739 is the same issue and has the same effects. Closing this and will continue there.

[2019-01-28 15:59] #3644 closed

[2019-01-28 16:19] christianvogt commented on #4362
Cannot reproduce

[2019-01-28 16:19] #4362 closed

[2019-01-29 09:02] ppitonak commented on #4735
FYI we regularly test in e2e jobs how long it takes to create a route and last three runs failed to create a route in 5 minutes

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1499/test-routes.txt
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/5560/test-routes.txt
http://

[2019-01-29 09:40] ljelinkova opened #4740 "Stack report analyses is not shown on the dashboard"
In the last few days the e2e tests face issue that the analyses is not shown on the dashboard. The tests wait 10 minutes.

![Dashboard screenshot](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1503/06-01-afterEach.png)

When I look into Jenkins build config I can see that the bayesian url is generated:
`fabric8.io/bayesian.analysisUrl: htt

[2019-01-29 09:42] miteshvp commented on #4740
@yzainee - can you PTAL here

[2019-01-29 09:54] yzainee commented on #4740
@ravsa FYI

[2019-01-29 09:56] invincibleJai commented on #4740
I checked the stackID and response is null as in

[code]

it is similar to issue https://github.com/openshiftio/openshift.io/issues/4718

@ravsa

[2019-01-29 10:03] pbergene commented on #4735
Thanks.  Can confirm it's still an issue.

[2019-01-29 10:54] piyush-garg commented on #4739
This seems to be like an issue happened because of token expiry. We have redeployed the idler in prod and updated the proxy in prod because it caches the token and uses same till restart. It seems working fine now, I checked with my account also. I am closing this issue, please reopen if it still happens for you.

Thanks, @alexeykazakov @hrishin for the help.

[2019-01-29 10:54] #4739 closed

[2019-01-29 10:55] piyush-garg commented on #4737
As per comment https://github.com/openshiftio/openshift.io/issues/4739#issuecomment-458496671, this has also been resolved, confirmed with my account. Please reopen if it happens again

[2019-01-29 10:55] #4737 closed

[2019-01-29 10:56] pbergene commented on #4739
I don't think the token was ever actually cycled?

[2019-01-29 10:57] piyush-garg commented on #4736
This has been resolved for cluster 2 with https://github.com/openshiftio/openshift.io/issues/4739#issuecomment-458496671 and for cluster 2a they are already working on #4735

[2019-01-29 11:01] piyush-garg commented on #4739
@pbergene As per comment https://github.com/openshiftio/openshift.io/issues/4708#issuecomment-454334473, the token was updated 14 days back, and idler instance was restarted 19 days back. we have concluded the same and asked for a restart. cc @hrishin @alexeykazakov

[2019-01-29 11:19] ibuziuk commented on #4689
Fixed in `6.17.1` verified on che.openshift.io:

![image](https://user-images.githubusercontent.com/1461122/51904850-0076f600-23c0-11e9-9b73-5471f2c89c8e.png)

[2019-01-29 11:19] #4689 closed

[2019-01-29 12:10] ljelinkova commented on #4739
I tried manually and the promote worked on cluster 2.

[2019-01-29 12:11] khrm commented on #4341
This will be resolved by this service:- https://github.com/fabric8-services/fabric8-webhook/issues/3

[2019-01-29 13:25] invincibleJai opened #4741 "Complete Stack report is not shown"
##### Issue Overview
I've created an application using nodejs as runtime and Health Check as mission but the stack report is not shown.

<img width="1677" alt="screen shot 2019-01-29 at 6 53 19 pm" src="https://user-images.githubusercontent.com/5129024/51911192-35526f80-23f7-11e9-8dac-1d4392c53a12.png">

##### Expected Behaviour
Stack report should be displayed

##### Current Behaviour
Stack repor

[2019-01-30 00:47] sbryzak opened #4742 "Implement new logout endpoint"
We are in the process of removing support for OSIO Keycloak from the auth service, and instead authenticating the user directly against RHD.  As part of this, the logout process must change slightly in order to invalidate all of the user's tokens which are now managed by the auth service instead of KC.

Instead of calling the `/api/logout` endpoint (which currently returns a 302 redirect response)

[2019-01-30 08:55] ppitonak commented on #4735
Any news?

[2019-01-30 09:12] pbergene commented on #4735
So - the sdn pod logs indicate that the routers can't reach the services. Cluster sre gas reached out to edge networking for assistance.

[2019-01-30 09:46] ppitonak commented on #4598
What is the progress of this issue? It's still appearing, e.g. http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/1509/

[2019-01-30 09:58] ppitonak commented on #4741
Probably a duplicate of #4740

[2019-01-30 10:59] ibuziuk commented on #4695
2a startup failures related to - https://github.com/openshiftio/openshift.io/issues/4735

[2019-01-30 11:10] ppitonak opened #4743 "Cannot create application: GitHub account not linked"
##### Issue Overview

It's not possible to create a new application in new space because UI looks like GitHub account is not linked

##### Expected Behaviour

User with linked GitHub account sees his account in Launcher's step "Authorize Git Provider'

##### Current Behaviour

![crt_create_app](https://user-images.githubusercontent.com/445100/51977355-8ca02080-2487-11e9-9d82-b1631d9ffa9a.png)

###

[2019-01-30 11:24] ppitonak opened #4744 "Jenkins doesn't have label XYZ"
##### Issue Overview

Pipeline gets stuck at the beginning and Jenkins log only shows message `'Jenkins' doesn't have label 'mavenPROJECTNAME_1'` and a spinner

##### Expected Behaviour

1. Jenkins slave is created and pipeline finishes successfully
2. The message explains the situation more clearly

##### Current Behaviour

![crt_jenkins_label](https://user-images.githubusercontent.com/445100/519

[2019-01-30 11:38] ppitonak commented on #3742
@piyush-garg @tinakurian If I understand it correctly, you know the root cause. What is the next step? I would appreciate regular updates.

@stevengutz @kpiwko

[2019-01-30 12:01] sbose78 commented on #4696
@gastaldi Any idea of the top of your head why this intermittent error occurs? Have you seen this before in a different scenario?

[2019-01-30 12:09] sbose78 commented on #3742
@gastaldi any thoughts on Piyush's comment above? Any suggestions on what the possible fix could be? The last one hadn't worked.

[2019-01-30 12:56] gastaldi commented on #3742
@sbose78 one thing that it could be tried (it requires someone to test it though) is to remove the explicit call to trigger the build in launcher-backend (like in the unmerged PR https://github.com/fabric8-launcher/launcher-backend/pull/637)

[2019-01-30 16:32] chmouel commented on #4744
I don't believe this is solved in 4020,

"Jenkins doesn't have label" is a catch all sentence, which in english would mean, "i have asked to get a new pod with this label but it didn't came up"

I can't get a pod can mean a lot of things,  99% of the time is beause of an infrastrcture issue, without logs it's hard to say,

[2019-01-31 05:53] muruGanesan commented on #3214
@rgarg1,
IMO:
1) We are enhancing the entire experience with PF4 implementation. [refer the new IA of OSIO proposed by Serena]
2) Considering the current prioritization, do you want to keep this issue open?

CC: @serenamarie125

[2019-01-31 06:50] rohitkrai03 commented on #4742
@sbryzak So, instead of client redirecting to `/api/logout?redirect_url='something'` we need to send an http request to `/api/logout/v2`?
Also, `redirect_url` is sent by client itself so why do we need to extract that from response payload?

[2019-01-31 08:47] piyush-garg commented on #4744
@ppitonak The changed message appears when slave pod gets ready, but till that time it does not print anything. In our case, the slave pod was not provisioned that's why we did not see the message, otherwise, if you see any other job this message is still there.

[2019-01-31 08:52] pbergene commented on #4735
This should now be sorted.

[2019-01-31 09:05] ppitonak commented on #4743
@gastaldi please have a look

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1511/console

[2019-01-31 09:08] invincibleJai commented on #4642
Closing it as has been fixed.

[2019-01-31 09:08] #4642 closed

[2019-01-31 09:11] invincibleJai commented on #4740
Looks fine to me, can see stack-report in the dashboard. @ravsa can u pls verify.

[2019-01-31 09:43] pbergene commented on #4728
@JohnStrunk has an understanding of what might be causing this.  It seems related to stuck mounts which can either be unmounted manually or go away as the node is rebooted.  As by ways of a fix, this would first have to be created and then we'll have to work out the process to get it applied.

[2019-01-31 11:09] rupalibehera commented on #3742
@gastaldi , it would be nice if you could push this to prod-preview so that we can test it.

[2019-01-31 11:19] piyush-garg commented on #4588
Closed with https://github.com/fabric8-services/fabric8-jenkins-idler/pull/329

[2019-01-31 11:19] #4588 closed

[2019-01-31 11:50] ibuziuk commented on #4735
@pbergene reopening for two reasons:
1. There is route flapping on 2a
2. first time route becomes accessible after ~1 minute

[2019-01-31 11:53] ppitonak commented on #4740
@miteshvp e2e jobs fail most of the time on other issues. It won't get that far so I cannot tell you if the fix helped or not. Please leave this issue open for one or two days.

[2019-01-31 12:05] pbergene commented on #4735
Are we seeing 400s?

[2019-01-31 12:07] Preeticp opened #4745 "Builds for Spring Boot quickstart application not going through."
##### Issue Overview

Builds for Spring Boot quickstart application not going through. While the build failed in the first attempt, despite restarting the pipelines twice (this was after resetting my environment before starting), in the second attempt (again after resetting my environment) the build has started but I see no pipelines since the last 2 hours.

##### Expected Behaviour
Pipelines buil

[2019-01-31 12:08] ibuziuk commented on #4735
503s

[2019-01-31 12:36] pbergene commented on #4735
Would be good if we could have a separate issue for that, this one is specifically related to the router returning 400s.

[2019-01-31 12:36] #4735 closed

[2019-01-31 12:40] ibuziuk commented on #4735
@pbergene ok, whatever works. But what I think is that:
- issues with `e2e-test` labels should be closed by osio QA in charge of tests e.g. @ppitonak @ldimaggi @ljelinkova
- just closing issue when one problem (400s) is replaced with 503s + route flapping does not really a good approach

[2019-01-31 12:42] ibuziuk commented on #4695
2a issue was closed, but:

- There is still route flapping
- first time route becomes accessible after ~1 minute (route becomes stable after 70 - 80 secs)

So, in reality infra issues are still there

[2019-01-31 12:52] jarifibrahim commented on #4744
This could be related to https://github.com/openshiftio/openshift.io/issues/4745. https://github.com/openshiftio/openshift.io/issues/4745 was also seen on cluster 2.

[2019-01-31 12:57] pbergene commented on #4735
they have different solutions and causes and trace back to different snow issues etc, so want to keep the history / audit trial separate.

[2019-01-31 13:59] gastaldi commented on #4743
@ppitonak seems to have been caused by instabilities in the cluster? Can you tell if this is still happening ?

[2019-01-31 14:00] gastaldi commented on #4696
I upgraded the GitHub library to the latest version. Can you tell if this still happening in prod-preview?

[2019-01-31 14:34] ppitonak commented on #4743
1. It doesn't matter if it was caused by instabilities of the cluster. You need to find the root cause and handle errors in your code properly. UX is not good enough right now.
2. Yes, it's still happening

[2019-01-31 14:47] gastaldi commented on #4743
There is not much we can do when a Gateway Timeout happens since in this case the Backend is never reached. The UI must handle and fail properly when this happens

[2019-01-31 14:51] sbose78 commented on #4696
@ppitonak , I know it's been 20 days but intermittent issues are hard to catch. @gastaldi just got to it - let's be patient.

[2019-01-31 14:54] sbose78 commented on #4696
I tested it just now, works for me. Unfortunately, it always worked for me, so it's hard to tell if the fix has fixed the problem.  @jarifibrahim @ljelinkova @ppitonak , Could you verify once manually or part of a test run if the fix has worked.

[2019-01-31 14:57] sbose78 commented on #3742
I'm good with https://github.com/fabric8-launcher/launcher-backend/pull/637 , let's merge this.

[2019-01-31 19:15] sbryzak commented on #4742
@rohitkrai03 that's really strange, is that against prod-preview?  The only difference with the new logout endpoint is that it is invalidating all tokens belonging to the user.  @alexeykazakov is there any way to get access to the prod-preview database to test some queries there?

[2019-01-31 19:22] alexeykazakov commented on #4742
I tested it in prod.

[2019-01-31 19:52] tinakurian commented on #4696
@sbose78 i tested using Spring Boot + REST and it has passed for me each time on prod-preview. However, this has always worked for me as well.

It's interesting that this problem has only been logged with Spring Boot + REST. If it were the Github library we should have seen this issue across the other boosters as well. Has anyone seen this happen?

[2019-02-01 01:21] gastaldi commented on #4743
@ppitonak issue https://github.com/fabric8-launcher/ngx-launcher/issues/566 created. @sbose78 can you please assign to someone in the UI team to work on it?

[2019-02-01 01:48] gastaldi commented on #4696
Looking at https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-launcher-backend/issues/9993/ may indicate that requests made to Github are being cached and therefore returning that the repository doesn't exist when creating the webhook.

I have disabled the Github cache completely to avoid situations like this in https://github.com/fabric8-launcher/launcher-backend/pull/642.

[2019-02-01 02:08] alexeykazakov commented on #4742
https://github.com/fabric8-services/fabric8-auth/pull/766 fixed the issue with slow response.

[2019-02-01 03:31] sbryzak commented on #4742
@rohitkrai03 the endpoint should be more responsive now.  Your earlier comment about sending an http request to the new endpoint (instead of redirecting the client there) is correct.  The `redirect_url` that the client has though is the local redirect, it is different to the redirect returned by the auth service (which itself does contain the client's redirect url value).

[2019-02-01 06:30] Preeticp commented on #4744
@jarifibrahim you are right, as mentioned in the last screenshot for #4745 I get a similar error message in my second attempt and the pipeline seems to be stuck forever (19 hours now).

[2019-02-01 07:20] jarifibrahim commented on #4745
[code]
@pbergene any clue why the docker registry wasn't reachable?

[2019-02-01 08:46] ppitonak commented on #4743
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1517/console

[2019-02-01 08:55] ppitonak commented on #4696
Thanks for updates and fixes. Due to nature of this bug, I would like to leave it open. If it doesn't appear in prod-preview over the weekend, I will close it.

[2019-02-01 09:00] ppitonak commented on #4745
I saw this bug in recent Jenkins test results.

[2019-02-01 10:39] pbergene commented on #4745
There have been some reports on cluster networking issues on east-2 - let's try to consolidate the reports and what we know.

[2019-02-01 11:38] jarifibrahim opened #4746 "Can't access Jenkins"
##### Issue Overview
I'm unable to access the route created for jenkins deployment. The pod is running but the public route doesn't who anything. The page keep loading for about 10 minutes and then crashes. I've retried to reset my account multiple times but it doesn't seem to help.

This particular line seems to be interesting
[code]

The complete log can be found here - https://gist.github.com/j

[2019-02-01 11:43] rupalibehera commented on #4746
On which cluster do you face the issue ?
The logs looks fine.

[2019-02-01 11:46] jarifibrahim commented on #4746
I'm on cluster 2a.
Interestingly, I have a Grammarly chrome extension which seems to be messing with the page source code.
[code]

Jenkins seems to be working in incognito mode.
Closing this issue. :sweat_smile:

[2019-02-01 11:46] #4746 closed

[2019-02-01 19:39] #4742 closed

[2019-02-02 19:56] gorkem commented on #4731
@ibuziuk @alexeykazakov Feels like a tenant service issue but needs to be checked.

[2019-02-02 20:21] alexeykazakov commented on #4731
Rather looks like the account got in a bad state for some reason. Maybe some tenant cleanup needed. @MatousJobanek could you please take a look?
Meanwhile, @akochnev you can try resetting your environment if you are OK to lose your data . See https://openshift.io/akochnev_redhat/_cleanup

[2019-02-04 07:04] ppitonak commented on #4743
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1523/console

[2019-02-04 07:56] Preeticp opened #4747 "Code changes in Che workspace post SB app creation fails to be pushed"
##### Issue Overview

Che connectivity to GH broken

##### Expected Behaviour
Code changes in quick start app should be pushed to GH and a new build should be triggered

##### Current Behaviour
1. Code changes are not pushed. User gets 2 contradictory messages: 1. A confirmation message that it has been pushed. 2. An Authentication error just below it.
2. Authentication error is shown despite refr

[2019-02-04 08:16] ppitonak commented on #4696
@gastaldi I haven't seen this bug in prod-preview but it appeared in prod https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1524/console

Could we promote this fix to the prod env?

[2019-02-04 08:58] gastaldi commented on #4696
Prod updated in https://github.com/openshiftio/saas-launchpad/pull/270

[2019-02-04 13:20] jarifibrahim commented on #3742
fabric8-launcher/launcher-backend#637 removed the second call to trigger build but now I don't see any builds. This seems to be a bug on jenkins-proxy. @piyush-garg can you confirm this?

[2019-02-04 13:39] jarifibrahim commented on #3742
I do have a webhook event.

[2019-02-04 19:57] christianvogt opened #4748 "`resources` user settings link returns 404 error page"
All deployments related pages have been removed by PR#3502. However there is a navigation link that remains and refers to a page that no longer exists:

![image](https://user-images.githubusercontent.com/14068621/52233410-03c12480-288d-11e9-86db-50b41db2578d.png)

Remove the `Resources` link in the sub navigation of the user settings.

[2019-02-04 21:57] hrishin opened #4749 "Build: fix template parameter name in nodejs Jenkinsfiles"
At present nodejs boosters, Jenkinsfile is using `release_version` template parameter name. While in nodejs boosters template file has `RELEASE_VERSION` parameter.

As template pareameter names are case sensitive, this missmatch is causing issues in osio-pipeline processing.
Pipeline not able to tag the resources correctly.

[2019-02-05 08:53] yusufzainee opened #4750 "Data Pipeline Automation : Latest Version Update on GraphDB"
- [x] Add logic in common utility to find the latest version

- [x] Use the latest version logic from utils during data ingestion

- [ ] Create a dummy EPV for the new version

- [ ] Backbone changes for the stack analysis report for the latest version

[2019-02-05 08:54] #4750 closed

[2019-02-05 08:59] yzainee opened #4751 "Data Pipeline Automation : Latest Version Update on GraphDB"
- [x] Add logic in common utility to find the latest version

- [x] Use the latest version logic from utils during data ingestion

- [x] Create a dummy EPV for the new version

- [x] Backbone changes for the stack analysis report for the latest version

[2019-02-05 09:13] garagatyi commented on #4695
Starting Che workspaces on prod-preview against 2a cluster. Workspace starts, but the route is not available, so here is what shown:
![image](https://user-images.githubusercontent.com/1851863/52263119-fbbdbf00-2936-11e9-8a68-3eab21b948bb.png)

[2019-02-05 09:49] ibuziuk commented on #4695
just tested and nothing have changed since my last on 2a cluster [1]
@pbergene any updates on that ?

[1] commenthttps://github.com/openshiftio/openshift.io/issues/4695#issuecomment-459330261

[2019-02-05 11:40] ljelinkova opened #4752 "Cannot run pipeline on prod-prev"
When I create a new space and a new application on prod-prev, the pipeline screen looks like this and the pipeline is never executed.

![pipelines](https://user-images.githubusercontent.com/2078072/52270958-af787c00-2942-11e9-964b-4577fa979983.png)

When I navigate to dashboard, it says that pipeline status is _Unknown_

![dashboard](https://user-images.githubusercontent.com/2078072/52270965-b43d3

[2019-02-05 12:33] jarifibrahim commented on #4752
[Kibana logs](https://logs.dsaas-stg.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2019-02-05T11:10:29.280Z',mode:absolute,to:'2019-02-05T12:31:29.280Z'))&_a=(columns:!(kubernetes.labels.deploymentconfig,msg),index:'project.dsaas-preview.6e520a9f-d097-11e8-9fb7-121499db9246.*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'request-

[2019-02-05 13:56] chmouel commented on #4752
Maybe the pods had issues to come up? Environment issue ? Can we have the dump of all the logs/pods/pvc event in there?

[2019-02-05 15:15] ljelinkova commented on #4752
I do not have logs after the build was triggered because the test fail before they are retrieved. However, this is the log that is retrieved at the beginning of the tests. There are some readiness probe failures.

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/5733/oc-jenkins-logs-before-all.txt

If you want to debug the issue t

[2019-02-05 22:13] rupalibehera commented on #4501
https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/46

[2019-02-06 07:08] jarifibrahim opened #4753 "Unable to start workspace with centos_go stack on prod-preview"
##### Issue Overview
I am unable to start workspace created by `centos_go` stack on prod-preview. It always fails with timeout

[code]

##### Expected Behaviour
Workspace should start

##### Current Behaviour
Workpace doesn't start
##### Steps To Reproduce

1. Go to che.prod-preview.openshift.io
2. Create a new workspace with Go (centos_go) stack
3. Start the workspace

[2019-02-06 07:46] ppitonak commented on #4752
@chmouel were you able to reproduce?

[2019-02-06 08:10] piyush-garg commented on #4752
Hey @ppitonak,

@hrishin was able to reproduce this issue and working towards the fix. Maybe we will get the further update.

His last comments were -
[code]

[2019-02-06 20:30] #4733 closed

[2019-02-07 04:25] miteshvp commented on #4740
@ppitonak @ljelinkova - any updates here? Are you still seeing this issue?

[2019-02-07 07:12] ppitonak commented on #4745
Still happening https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/1556/console

[2019-02-07 07:47] ppitonak commented on #4740
There are three other issues so test won't get that far.

[2019-02-07 08:54] ljelinkova commented on #4740
The other issues preventing the e2e to finish on some clusters are long term so I think we could close this one for now and re-open in case it appears again.

[2019-02-07 08:54] #4740 closed

[2019-02-07 10:02] ljelinkova commented on #4728
I haven't seen new terminating pods in the last week so I will decrease the severity and priority of the issue. However, I'll leave it open since this should be investigated and prevented in the future.

[2019-02-07 12:10] hrishin commented on #4752
We had a discussion within @jarifibrahim about how we can fix this ATM. We are going to try a few fixes and update on this issue further.

[2019-02-08 08:09] ppitonak opened #4754 "GitHub account unlinked from OSIO account"
##### Issue Overview

User's GitHub account get disconnected from his OpenShift.io account without explicitly clicking on disconnect account

##### Expected Behaviour

GitHub account stays connected to OSIO account as long as the user clicks on disconnect button or calls the API to remove the token

##### Current Behaviour

account disconnected *four times* in two months in our low-touch testing a

[2019-02-08 09:29] ppitonak commented on #4696
@gastaldi unfortunately it appeared again in prod-preview today https://ci.centos.org/job/devtools-saas-openshiftio-e2e-smoketest-released/557/console

[2019-02-08 11:02] ppitonak commented on #4559
@xcoulon when is this planned to be fixed? It causes trouble in production. We manually remove old che workspaces in our testing accounts but cannot expect our customers to do the same.

[2019-02-08 12:15] #4752 closed

[2019-02-08 12:29] waveywaves commented on #4608
Have opened the following PRs to supplement this one.
https://github.com/fabric8-services/fabric8-tenant/pull/748
https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/234

[2019-02-08 13:08] gastaldi commented on #4696
@ppitonak this is really weird, it acts as if the repository is deleted before the hook creation. I pushed https://github.com/fabric8-launcher/launcher-backend/commit/5d87a56ccbac6ededdd9d2308ae82bb4451155a4 /to prod-preview to gather more information about what's going on. The message in the UI should change too. Please let me know if/when this happens again

[2019-02-08 17:50] alexeykazakov commented on #4559
@ppitonak it's not for @xcoulon (Core team) to answer that question :)
It's for WIT team to fix that (cc: @sbose78 )

[2019-02-08 18:43] sbose78 commented on #4559
Thanks @alexeykazakov .

[2019-02-08 19:17] #4569 closed

[2019-02-08 19:17] #4539 closed

[2019-02-08 20:34] #3972 closed

[2019-02-11 07:56] ppitonak opened #4755 "Cannot pull image jenkins-slave-base-centos7:v4.0"
##### Issue Overview

Pipeline fails to start because it cannot pull image `openshift/jenkins-slave-base-centos7:v4.0`

##### Expected Behaviour

Pipeline starts and finishes succesfully

##### Current Behaviour

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/5841/oc-jenkins-logs.txt

[code]

[code]

##### Steps To Reproduce

[2019-02-11 08:07] ppitonak commented on #4696
@gastaldi here you are http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/1568/03-04-afterEach.png

[2019-02-11 09:30] ppitonak commented on #4743
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/5855
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1581
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/1581
http://artifacts.ci.centos.org/devtools/e2e/devtools-te

[2019-02-11 10:04] jarifibrahim commented on #3742
This issue was fixed by https://github.com/fabric8-launcher/launcher-backend/pull/637 and should no longer be reproducible.

@ljelinkova can you confirm if this issue is fixed?

[2019-02-11 10:53] ljelinkova commented on #4696
I looked into Kibana logs and I've found this error
[code]

See https://logs.dsaas.openshift.com/goto/c028139b87df8601bb677ee5fe7b792f for the full stack trace

When I looked into the GitHub repository I can see that it has been created but it is empty.
https://github.com/osiotestmachine/e2e-0209-0107-7607

 

 

[code]

[2019-02-11 10:55] ppitonak commented on #3742
@jarifibrahim due to the nature of this bug, it's not possible to reliably confirm if this issue is fixed. I'll close now and reopen if it appears again.

[2019-02-11 10:55] #3742 closed

[2019-02-11 11:24] aditya-konarde commented on #4755
I can reproduce this on my local machine, the image is not found.
From the job error logs
[code]

On local:
[code]

Was the image version changed recently?

[2019-02-11 12:28] muruGanesan commented on #4197
Hi @joshuawilson, @christianvogt,

The above link is a final version of the UX recommendation.
Please assign to the respective team/person.

CC: @joshuawilson, @vikram-raj , @sbose78 , @gastaldi , @nimishamukherjee, @serenamarie125,

[2019-02-11 12:32] muruGanesan commented on #4193
https://redhat.invisionapp.com/share/MHP7TIO3XYK#/332556493_ExistingFlow-_Start

Hi @joshuawilson, @christianvogt,
The above link is a final version of the UX recommendation.
Please assign to the respective team/person.

CC: @joshuawilson, @vikram-raj , @sbose78 , @gastaldi , @nimishamukherjee, @serenamarie125,

[2019-02-11 13:44] ppitonak commented on #4754
@sbryzak could be this issue caused by https://github.com/fabric8-services/fabric8-auth/commit/0afb1b2616b3eaa0f49438cd2788e72a9be355a8 ?

[2019-02-11 14:19] hrishin commented on #4755
@ppitonak we have fixed an image issue. The pipeline is going through now, could you please confirm it once.

Thanks!

cc: @piyush-garg @aditya-konarde

![image](https://user-images.githubusercontent.com/28615674/52568951-1a8bec00-2e36-11e9-9468-41dbf58989d3.png)

[2019-02-11 14:36] ppitonak commented on #4755
Yes, pipeline finished successfully in https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/5877/console

[2019-02-11 14:36] #4755 closed

[2019-02-11 14:50] piyush-garg commented on #4694
We fixed https://github.com/openshiftio/openshift.io/issues/4739 issue on cluster 2 w.r.t to Idler. token was expired there. Can you please check if it's happening and if not then can you please close. Thanks

[2019-02-11 14:52] piyush-garg commented on #4658
@hrishin, AFAIK this has been resolved and idler is in a pretty stable state now. Can we close this if that is the case? Thanks

[2019-02-11 14:53] piyush-garg commented on #4505
@sthaha AFAIK, cancel button on UI is not accessible to normal OSIO user.

[2019-02-11 14:54] piyush-garg commented on #4475
We fixed https://github.com/openshiftio/openshift.io/issues/4739 issue on cluster 2 w.r.t to Idler. token was expired there. Can you please check if it's happening and if not then can you please close. Thanks

[2019-02-11 15:03] hrishin commented on #4755
Thanks @ppitonak for the confirmation.

[2019-02-11 15:15] gastaldi commented on #4696
@ljelinkova When I click on https://logs.dsaas.openshift.com/goto/c028139b87df8601bb677ee5fe7b792f, I get the following:

```{"statusCode":406,"error":"Not Acceptable","message":"Short url target path must be in the format \"/app/{{appId}}\", found \"/\""}```

Is the URL correct?

About the error, it seems to be a network glitch and I believe a retry should be sufficient. I'll change the code to p

[2019-02-11 15:37] joshuawilson commented on #4754
Removing UI and adding Auth. Not sure how this is a UI bug.

[2019-02-11 15:46] christianvogt commented on #4197
@muruGanesan thanks for this.
The ui team will be focused on dev console unless direction changes. We will eventually circle back to this.

[2019-02-11 16:09] gastaldi commented on #4696
I created https://github.com/fabric8-launcher/launcher-backend/pull/657 that would allow us to retry the operation when that error happens. Note that this is a different error compared to the original error.

I'd suggest to observe if that error is still seen in prod-preview before updating production after the PR is merged.

[2019-02-11 17:14] alexeykazakov commented on #4754
No it can't. That change is taking care of OSIO user tokens. Not GitHub tokens.
@ppitonak it would be very useful if you could check what HTTP requests are actually made during that flow. I suspect there is something wrong with the request from UI to auth.openshift.io/api/token?for=github (this is what UI is supposed to call when trying to obtain the github token for the user to check if the user

[2019-02-11 17:16] joshuawilson commented on #4754
Why is this a SEV1?
Can you reproduce the effect?

[2019-02-11 17:20] alexeykazakov commented on #4754
I guess it's SEV1 because it's cumming from e2e failures.
I can't reproduce it manually.

[2019-02-11 18:03] joshuawilson commented on #4748
Is this fixed?

[2019-02-11 22:58] sthaha commented on #4505
@piyush-garg so how are they supposed to stop a build? or prevent a deployment?

[2019-02-12 00:57] christianvogt commented on #4743
@vikram-raj what changes did you do here? The latest screenshot failure looks the same as the original screenshot in the description.

[2019-02-12 03:03] sthaha commented on #4722
On hold until we figured out how we defined an environment on OpenShift4 and OSD bits

[2019-02-12 05:31] vikram-raj commented on #4743
@christianvogt Initially it was failing because of the timeout error from the backend and error was not handled in the UI. The changes that I did was handle the error in the UI and added a loader which would be shown up while fetching the user data. My changes were verified by @gastaldi here https://github.com/fabric8-launcher/ngx-launcher/issues/566.
I added a loader as per the UX recommendation

[2019-02-12 05:45] vikram-raj commented on #4754
UI sending request to this https://forge.api.prod-preview.openshift.io/api/services/git/user endpoint. Its response is 404 not found when GitHub account is not connected. If connected its return 200 Ok with all user details and the array of user repositories and organizations.

[2019-02-12 07:20] ppitonak commented on #4696
@gastaldi IMHO retrying again in the public API is not a correct approach. While it will work from launcher's PoV, the client will probably time out meanwhile.

[2019-02-12 07:38] alexeykazakov commented on #4754
I'm trying to find something useful in the logs but I don't think it's really a Sev-1 issue. As stated above it happened four times in two months for the e2e tests and we can't reproduce it manually.

[2019-02-12 07:42] ppitonak commented on #4743
@vikram-raj actually, it's not implemented according to the design... it was supposed to show username and loader when account is linked but I see this:

![crt_github](https://user-images.githubusercontent.com/445100/52619526-27dec000-2ea2-11e9-9546-391ac45d1019.gif)

[2019-02-12 09:01] ppitonak commented on #4754
@alexeykazakov I found the first job with unlinked account

1. test logs in and waits for dashboard to load http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-che-us-east-1b-released/30/01-01-afterEach.perf.log
2. test navigates to settings and then to features opt-in page http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-che-us-east-1b-released/30/

[2019-02-12 11:22] Preeticp opened #4756 "No pipelines triggered when changes are made in quick start app code and committed using Che."
##### Issue Overview

After the quickstart codebase is edited in Che and the change successfully committed, pipelines should be triggered in CRT, but this does not happen. I tried it with Nodejs-health-check booster and mission.

##### Expected Behaviour
As per the happy path/getting started path in CRT, an user uses the wizard to launch a Nodejs app, sees that pipelines are created, promotes his

[2019-02-12 11:46] hrishin commented on #4756
@Preeticp how did git push after commit as well right?

[2019-02-12 11:57] Preeticp commented on #4756
Yes, the first shot says it has been pushed to origin, the second shot shows the changes in the code.

[2019-02-12 11:59] rupalibehera commented on #4172
@ppitonak do you still this issue ?

[2019-02-12 11:59] Preeticp commented on #4756
Following instructions from here: https://docs.openshift.io/getting-started-guide.html#committing_pushing_changes_git-hello-world

[2019-02-12 17:31] alexeykazakov commented on #4754
Hm.. I don't see anything in our prod logs with `req_id: "1000000314.150"` at all.

[2019-02-12 17:41] alexeykazakov commented on #4754
@ppitonak for some reason I can't find anything in prod the logs with the req_id from the e2e logs. So, it's hard to say what's going on.
Could you modify the e2e tests so they log details of 401 errors? All headers and response body would help a lot.
The failed request is `https://auth.openshift.io/api/token?force_pull=true&for=https://github.com` with `force_pull=true` which force Auth to call g

[2019-02-13 10:32] piyush-garg commented on #4756
@Preeticp @hrishin I tried to reproduce this,  for me, builds are getting triggered on webhook event if Jenkins is running, In case if Jenkins is idled, then on webhook events, the proxy receives the request and return 202 in response, wake up Jenkins but do not trigger build later.

cc @sthaha

[2019-02-13 11:15] sanketpathak opened #4757 "Can't loggout from prod preview."
##### Issue Overview

I'm not able to logout  from my prod-preview account.
##### Expected Behaviour
One should logout from https://prod-preview.openshift.io
##### Current Behaviour
Not able to logout, error 404 is shown

![err01](https://user-images.githubusercontent.com/10252230/52707274-53020600-2fad-11e9-9726-19b6cca268db.png)

##### Steps To Reproduce

1. [step 1] Go to https://prod-preview.o

[2019-02-13 12:38] jarifibrahim commented on #4757
Logout v2 was added to Auth via https://github.com/fabric8-services/fabric8-auth/pull/746 and in UI via https://github.com/fabric8-ui/fabric8-ui/pull/3513 .

The login/logout requests are proxied through WIT but WIT wasn't updated.
The `/logout/v2` endpoint should be added to https://github.com/fabric8-services/fabric8-wit/blob/master/design/auth.go#L43

[2019-02-13 16:27] ScrewTSW commented on #4695
This error has surfaced again.
https://github.com/redhat-developer/rh-che/issues/1248

[2019-02-13 16:49] alexeykazakov commented on #4757
@rohitkrai03 @sbryzak hm.. how did you test this guys? :)

[2019-02-13 17:59] rohitkrai03 commented on #4757
@alexeykazakov  For me, logout is not working only if you have enabled `internal` feature flag and are running the new navigation which is in react and has a different way of setting env variables for URLs.
So, the problem is in the angular part `AUTH_API_URL` is `https://auth.prod-preview.openshift.io/api/logout/v2` and in react part it is coming as `https://prod-preview.openshift.io/api/logout/v

[2019-02-13 18:05] jarifibrahim commented on #4757
Wouldn't `apiUrl` always point to WIT irrespective of angular/react being used?
https://github.com/fabric8-ui/fabric8-ui/pull/3513/files#diff-735652f39dbcfbb2d5d95c1f508c9287R77

[2019-02-13 18:11] rohitkrai03 commented on #4757
@jarifibrahim No, so value of `apiUrl` is being injected using `AUTH_API_URL` and that is being built from https://github.com/fabric8-ui/fabric8-ui/blob/master/packages/fabric8-ui/src/app/shared/auth-api.provider.ts#L8. In react the api url is being injected in a different way using env config https://github.com/fabric8-ui/fabric8-ui/blob/master/packages/toolchain/src/app/api/internal/api.config.t

[2019-02-13 18:12] jarifibrahim commented on #4757
Ah, right.

[2019-02-13 18:19] rohitkrai03 commented on #4757
So, i think know why the URL for react is not setting up properly. There is no config map for setting `authApiUrl` in prod-preview deployment, so this line  `export const AUTH_API_URL = config.authApiUrl || FABRIC8_AUTH_API_URL || DEFAULT_URL;` evaluates to `/api/` and it becomes https://prod-preview.openshift.io/api/logout/v2

[2019-02-13 18:33] rohitkrai03 commented on #4757
@alexeykazakov Since this is only happening under `internal` feature flag can we remove the `Sev-1`?. And for the quick fix i can add the config map value for auth url in `dsaas-stg` but we would still need to update the config map for prod or add the proxy in WIT.

[2019-02-13 19:04] alexeykazakov commented on #4757
@rohitkrai03 I agree. It's not Sev-1. It will if we promote Internal to Released without fixing it :) I also suspect that other things can fail too. We do not proxy everything from wit to Auth. There are plenty of new API which we introduced in Auth and use from UI directly (not through WIT). So we need to fix the CM in UI. I'm assigning the issue to the UI team.

[2019-02-13 19:35] rohitkrai03 commented on #4757
@alexeykazakov I have updated the config maps for `dsaas-stg` and this issue is resolved for prod-preview. I have also raised an issue to update config for `dsaas` - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2560. Once that is closed we can push new changes to prod. I think we can close the current issue since it only mentions prod-preview and its resolved.

[2019-02-13 20:10] #4748 closed

[2019-02-13 22:04] alexeykazakov commented on #4754
Changed from Sev-1 to Sev-2.

[2019-02-14 04:14] #4757 closed

[2019-02-14 12:52] ppitonak commented on #4754
@alexeykazakov these are request ID numbers used internally by Chrome, not something OSIO-specific so you need to manually match it to errors in Kibana using timestamp.

Lucia will add logging response headers and body content in the case of 4xx or 5xx response.

[2019-02-14 13:30] ljelinkova commented on #4754
I looked into it and we already log the status code + status message. I do not think that there will be additional useful information.

This is example of such an output (it is an example of output, the error has nothing to do with this issue).

[code]

[2019-02-14 14:33] alexeykazakov commented on #4754
I’m more interested in 401 response from Auth.
Also response headers are important too because Auth using WWW-Authorize header to provide additional information in 401 errors.

[2019-02-15 02:07] sttyerase commented on #4727
OK ... suddenly this is working.
![screen shot 2019-02-14 at 9 05 13 pm](https://user-images.githubusercontent.com/25646282/52829863-6d66dd00-309c-11e9-979b-c277761bed78.png)

[2019-02-15 07:03] #4608 closed

[2019-02-18 08:30] piyush-garg opened #4758 "Update Jenkins and related plugins"
Right now, we are using LTS 2.138 and plugins related to that. Upstream has moved to Jenkins 2.150. Let's upgrade the Jenkins to 2.150 and also related plugins upgrade required.

Also, fix some plugins which are getting failed right now as shown in below image.
![error1](https://user-images.githubusercontent.com/19270240/52937475-32f38d80-3385-11e9-8cfd-a9ef585eb74f.png)

[2019-02-19 07:01] vikram-raj commented on #4707
This issue has been fixed.

[2019-02-19 07:01] #4707 closed

[2019-02-19 07:01] vikram-raj commented on #4154
This issue has been fixed and on prod.

[2019-02-19 07:01] #4154 closed

[2019-02-19 09:13] ppitonak commented on #4696
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/6009/console

[2019-02-19 11:25] gastaldi commented on #4696
According to
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-launcher-backend/issues/10350/,
it was caused by a GitHub server error.

Em Ter, 19 de fev de 2019 06:14, Pavol Pitonak <notifications@github.com
escreveu:

[2019-02-19 11:45] ppitonak commented on #4696
What about this?
[code]

[2019-02-19 12:07] gastaldi commented on #4696
@ppitonak that error message is misleading and hiding the original cause. I pushed a change in https://github.com/fabric8-launcher/launcher-backend/commit/37b5020cefb5ac4e995c5e8176f36d8ac588d166 to make display the original error message returned by GitHub

[2019-02-20 05:13] yzainee opened #4759 "Stack Report is failing for vscode and build flow if CVEs exist in transitive deps"
There is a problem in the code for the unknown dependencies due to which the stack report generation is failing.

Tested on dev cluster and on staging.

Scenario1
eco: maven
repo: https://github.com/yzainee/maven-simple

Scenario2
eco: node
repo: https://github.com/yzainee/node-js-sample

Jai:
i verified and seeing similar behavior, response is as below

[code]

[2019-02-20 06:25] animuk commented on #4759
@yzainee Could you please send some error logs you are getting which proves that the exception comes from unknown dependency flow?

[2019-02-20 06:37] miteshvp commented on #4759
@animuk - yesterday Yusuf and myself debugged this bits by bits with lots of debug statements. We found that it gets stuck at this line https://github.com/fabric8-analytics/f8a-server-backbone/blob/master/src/stack_aggregator.py#L524 . This is because key used here is wrong. The same line when changed to
`if k == knowndep['version']['pname'][0] and v == knowndep['version']['version'][0]` worked fi

[2019-02-20 06:39] animuk commented on #4759
@miteshvp Ok. Let me check

[2019-02-20 06:46] yzainee commented on #4759
@animuk Basically, there is no 'package' in the data which is retrieved for the transitive deps (which is having CVEs). Also, https://github.com/fabric8-analytics/f8a-server-backbone/blob/b3058b8c8813e743182bfbf2e72f500b25e5af93/src/stack_aggregator.py#L565 This should be re ordered, so that even if some problems happen during the unknown call, the stack report gets stored in the db successfully a

[2019-02-20 08:43] animuk commented on #4759
@yzainee I understand for the particular scenario where CVE exists for the transitive dep, package node will be absent. So, we need to parse the version name for 'version' node.
Regarding the reordering of ingestion flow need not required as we can ignore the scenario where stack report is successfully generated, but we have ingestion issue in the background which prevent the unknown dep ingestion

[2019-02-20 08:46] miteshvp commented on #4759
@animuk - I agree with @yzainee here. We cannot fail a stack aggregator because of some issues in worker flows. Its better to invoke worker flows once the data is persisted in DB. Looking at the source code, it does not look like its difficult.

[2019-02-20 08:51] animuk commented on #4759
degrading to Sev2 as this issue is affecting to a particular scenarios where CVE exists in transitive dep flow.

[2019-02-20 09:01] yzainee commented on #4759
@animuk We pick the transitive deps only when CVEs are associated with it otherwise we ignore them. So basically, the transitive deps support is affected by it.
For the reordering, i dont understand why we should fail stack analyses if ingestion is having some issue? whats the relation between the 2?

[2019-02-20 09:08] animuk commented on #4759
@yzainee I mean to say that if we generate successful stack report in spite of ingestion issue happened in the background, we will not be aware of the ingestion issue looking at the displayed report. Ok. Any case, Let me look at the source, how do we de couple it.

[2019-02-20 09:33] yzainee commented on #4759
@animuk The job of /aggregator and /recommender is to generate stack report. The ingestion is a kind of hack that we are adding to it to sanitize data. These APIs in no way guarantee sanity of data nor do they speak or guarantee about the ingestion. The APIs are supposed to generate report and once its generated, it should be stored in the db. Why do you want to kill the whole process for a subsid

[2019-02-20 14:11] ppitonak commented on #4559
We need to periodically remove che workspaces on our testing accounts, otherwise the product is unusable https://github.com/eclipse/che/issues/12638

[2019-02-20 15:15] ppitonak commented on #4743
Still reproducible in http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/6043/

[2019-02-20 19:24] msrb commented on #4759
Why is the structure of the response for transitive dependencies different from direct dependencies? If @animuk fixes the issue by accessing different keys in the dictionary, will it continue to work for direct dependencies?

I think we should plan to move away from having those crazy raw string graph queries scattered all over the repositories. It's incredibly error-prone and not really maintaina

[2019-02-20 19:28] msrb commented on #4759
cc @tisnik

Pavel might have some ideas how to prevent such bugs in future.

[2019-02-21 02:47] yzainee commented on #4759
@msrb the structure is different because we dont need package details in case of transitive data. Going via the package node would increase the query execution time as the number of transitives is always very high.
In both, direct and transitive, we retrieve the version data and you can always get the package name from the 'pname' field

[2019-02-21 04:11] #4559 closed

[2019-02-21 04:36] vikram-raj commented on #4743
It is because request is still failing with ```504 Gateway Time-out``` ```[14:32:30.169]   req_id:1000000477.244   [RESPONSE]   504   Gateway Time-out   https://forge.api.prod-preview.openshift.io/api/services/git/user```.

[2019-02-21 05:44] gastaldi commented on #4743
Also is there any way to reproduce this issue? What was the user used in this request?

[2019-02-21 05:50] gastaldi commented on #4743
Perhaps https://github.com/fabric8-launcher/launcher-backend/commit/a2eb145933e1044956aa96fac4945be37970ed19 may be a hint of what's causing this.

[2019-02-21 06:16] jarifibrahim commented on #4559
I've verified that this issue is fixed on prod-preview. @ppitonak can you confirm? I'll push the changes to prod once we're sure the issue is fixed.

[2019-02-21 06:30] vikram-raj commented on #4743
@gastaldi I am not able to reproduce this issue loacally or on prod-preview or on prod. It is only failling on e2e tests.

[2019-02-21 06:35] vikram-raj commented on #4743
This is request used to fetch only user detail and their GitHub orgs and repositories.

[2019-02-21 07:17] vikram-raj commented on #4743
@gastaldi I raised a PR with retry implementation https://github.com/fabric8-ui/fabric8-ui/pull/3520. Let's see if it fix work.

[2019-02-21 09:50] ppitonak commented on #4559
Works for me, thanks!

[2019-02-21 10:33] ljelinkova commented on #4754
Pavol modified the logging so that also response headers are logged for 401 responses. However, I do not see anything interesting there.
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1628/03-02-afterEach.perf.log

[code]

[2019-02-21 11:56] ljelinkova commented on #4695
@ibuziuk  This issue has been open for over a month and it is still occurring.  Have you considered to (maybe temporarily) accept the fact that the route takes long to create and modify Che to wait for a longer time?

[2019-02-21 12:01] ibuziuk commented on #4695
@ljelinkova e2e tests should not be affected by routes as long as timeout is 10 minutes. My opinion is that is infrastructure is not good enough for users but good enough for tests to pass and I told about that on IC to @ppitonak @rhopp . Basically, I do not understand why e2e tests are failing on che if manually I can not reproduce this issue

[2019-02-21 12:10] ljelinkova commented on #4695
@ibuziuk Tests wait until the project is shown but it is never shown. I guess it would be possible to reload page after 5 minutes and it should work - but that is not something a user would do.

The tests always fail during detecting the project type so I think that it would be worth to try to fix that part of the code to wait / retry the API call.

[code]

As for why you was not able to reproduce

[2019-02-21 12:14] ppitonak commented on #4695
@ibuziuk I'm able to reproduce it manually every time

1. open https://prod-preview.openshift.io
2. log in
3. create a new space
4. create a new codebase
5. select mission `REST API Level 0` and runtime `Spring Boot`
6. select whatever pipeline you like (I recommend the shortest one)
7. on last screen of Launcher, clikc "Return to your Dashboard"
8. open Codebases page
9. click `Create workspace`

[2019-02-21 12:15] ibuziuk commented on #4695
@ppitonak against which cluster(s) are you able to reproduce it ?

[2019-02-21 12:18] ppitonak commented on #4695
@ibuziuk see the steps in my last coment... I reproduced it 2 minutes ago on prod-preview, i.e. us-east-2a

[2019-02-21 13:29] Katka92 commented on #4695
Hi guys, there is another way how it can be reproduced:
- create workspace via dashboard but don't start it
- open workspace via direct link ( https://che.prod-preview.openshift.io/user/workspace_name )

I was able to reproduce it on prod-preview now 4/5 times.
I am able to reproduce it on 2a almost every try. It happens on cluster 2 too - today my PR failed on that [1]. But I was not able to repr

[2019-02-21 14:37] ljelinkova commented on #4754
I found another disconnected account with this log message:
[code]

[2019-02-21 14:50] alexeykazakov commented on #4754
This means that the token is present in auth but it's not accepted by GitHub as a valid token.

[2019-02-21 14:53] ljelinkova commented on #4754
Can you find the reason why it is not accepted?

[2019-02-21 17:54] alexeykazakov commented on #4754
I have an idea. We share the same github account among many test accounts, right? Every time one account authorizes in git (via osio) git generates a new token. Which automatically invalidates some old tokens for that git account (which might still be used by other osio test accounts).

[2019-02-21 17:55] alexeykazakov commented on #4754
There is nothing we can do in auth service side. It's a problem between e2e tests (the fact that they share the same github account) and GitHub limitations.

[2019-02-22 07:27] ljelinkova opened #4760 "User is logged out during e2e tests"
The e2e tests are now failing because the user is being logged out during the test execution. It does not fail on the same test step - I've seen it fail even just after the login, when the user navigated to the Settings -> Feature flags but usually it fails when resetting environment at the end of the tests.

Network logs are full of 401 Unauthorized errors.

http://artifacts.ci.centos.org/devtool

[2019-02-22 08:19] ppitonak commented on #4754
yes, we do

When does this happen in OSIO? Is it enough to open settings page?

[2019-02-22 08:32] alexeykazakov commented on #4754
No, it’s not enough to open settings. Have to click on refresh icon there. Or authorize github for another test account (which uses the same GitHub account). Or just generate a token in GitHub directly.

[2019-02-22 08:35] ppitonak commented on #4754
If two OSIO accounts are linked to the same GitHub account, they use two distinct GitHub tokens, don't they?

[2019-02-22 08:37] ibuziuk commented on #4695
@Katka92 thanks for details, so far I was not able to reproduce manually against `us-east-2`, but I was able to repro against `2a`
@ppitonak @ljelinkova until infrastructure is fixed could we add workaround with page refresh on e2e side ?

[2019-02-22 08:40] alexeykazakov commented on #4754
They do. But when GitHub generates a new token it invalidates some previously generated.

[2019-02-22 09:10] xcoulon commented on #4760
The latest deployment of `auth` includes a new check to verify that the access token is still valid (https://github.com/fabric8-services/fabric8-auth/commit/59ae2d80ad1c3c6722338fb1048fece4c893ef5d).
Here, the test was using 2 browsers for the same account, but when the user logged out, all her tokens were revoked, so the second browser would also be logged out.

[2019-02-22 09:10] #4760 closed

[2019-02-22 10:03] ljelinkova opened #4761 "404 after user logged out in different browser"
##### Issue Overview
When user is logged in into 2 browsers and logs out in one of them, he gets 404 page in the other browser. This has been found when investigating issue https://github.com/openshiftio/openshift.io/issues/4760

##### Expected Behaviour
User should get some meaningful message that he/she is no longer logged in.
##### Current Behaviour
User gets 404 page
##### Steps To Reproduce
1

[2019-02-22 10:51] ppitonak opened #4762 "Spaces page doesn't list anything"
##### Issue Overview

When user navigates to the `Spaces` page, nothing is dispalyed

##### Expected Behaviour

All user's spaces are listed

##### Current Behaviour

Empty page

##### Steps To Reproduce

1. create a new space
2. navigate to `Spaces` using top-left menu

##### Additional Information

Request to `https://openshift.io/api/user/spaces` ends with code 500, response body says
[code]

[2019-02-22 11:21] animuk commented on #4759
verified with the stack yusuf has mentioned in the description. Issue is resolved. closing this.

[2019-02-22 11:21] #4759 closed

[2019-02-22 23:30] sttyerase commented on #4727
@gorkem I am not sure what changed, but the workspaces seem to be creating and starting up consistently.  I will reopen this issue later if the problem reappears.

[2019-02-22 23:30] #4727 closed

[2019-02-24 14:01] #4751 closed

[2019-02-25 09:41] ppitonak commented on #4695
@ibuziuk after discussion with @ljelinkova we decided not to implement a workaround in e2e test. This is a production service and we cannot require our users to refresh the page.

There are two possible ways how to deal with this issue:
1. (preferred) you fix the issue in Che
2. we completely delete the che test from e2e smoketest if you don't care about it

@rhopp could this affect CRW customers

[2019-02-25 09:47] ibuziuk commented on #4695
@ppitonak this issue only occurs when infrastructure is not in a proper state (e.g. route issue). We have no capacity to fix this for che 6 and add some re-try logic, since che 6 is going to be deprecated in a short run (che 7 beta is released this week). Taken into account that this problem is not reproducible on clusters which are in a proper state, adding workaround with page refresh sounds lik

[2019-02-25 10:05] ppitonak commented on #4743
@vikram-raj happened again
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/6094/

[2019-02-25 10:06] ibuziuk commented on #4695
@ppitonak and please do not say that I do not care, since I do. The situation with infrastructure affects pretty much every single service and, we trying to bring it and resolve with to ops + find some SLA based solution. Util this is resolved, I hope we could be more flexible with the decisions regarding support of the existing codebase. In the current situation I do believe the page refresh coul

[2019-02-25 11:11] ppitonak opened #4763 "jenkins-recommender-api-token not registered"
##### Issue Overview

Pipeline doesn't work symptoms are the same as in #4598 but logs contain a different OpenShift events

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/6117/oc-jenkins-logs.txt

[code]

##### Expected Behaviour

##### Current Behaviour

##### Steps To Reproduce

1. create a new space
2. create a new proje

[2019-02-25 11:14] ppitonak opened #4764 "Failed to Statfs "/proc/71658/ns/net": no such file or directory"
##### Issue Overview

Pipeline doesn't work. Symptoms are the same as in #4598 but the OpenShift event in logs is different

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/6097/oc-jenkins-logs.txt

[code]

##### Expected Behaviour

##### Current Behaviour

##### Steps To Reproduce

1. create a new space
2. create a new project
3

[2019-02-25 21:39] christianvogt commented on #4762
I cannot reproduce this in production or on prod-preview.

[2019-02-26 08:58] ljelinkova commented on #4762
It happens to me too. I do not see any spaces on Spaces page, only empty state.

![spaces](https://user-images.githubusercontent.com/2078072/53399835-fccd9380-39ac-11e9-9ad6-049c5be06eda.png)

[2019-02-26 17:56] rbaumgar opened #4765 "Jenkins get killed before ready"
##### Issue Overview
I am not able start a pipeline because Jenkins is not running.
Now I have completely reset my profile. Problem is still the same.

##### Expected Behaviour

##### Current Behaviour

##### Steps To Reproduce

1. reset profile
2. create codebase
3. import existing github project(vertx sample)
4. define build-stage-run pipeline

##### Additional Information

[code]

event
[code]

[2019-03-01 14:32] Katka92 opened #4766 "[prod-preview] Problems starting Che 6 workspaces"
##### Issue Overview
Tests running against prod-preview cluster 2a are sometimes failing on "Unable to provision" error.
In a log, I can see:
[code]

##### Steps To Reproduce
I wasn't able to preproduce it manually today.

##### Additional Information
Job with failures: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/204/console
Username: osio-ci-preview-rhche-periodical
Environ

[2019-03-01 16:42] gorkem commented on #4766
Is this a multi-container workspace?

[2019-03-03 08:27] harshajith commented on #3667
Now it is already at 3.11, Flux is supported there yet?

[2019-03-04 06:56] Katka92 commented on #4766
I was starting ```vert-x``` workspace with project ```vertx-http-booster```. So as far as I understand, it is not multi-container workspace.

[2019-03-04 09:30] ljelinkova opened #4767 "[prod-preview] Che workspace stuck in stopping state and cannot be deleted"
Our e2e user account `osio-ci-e2e-002` has workspace that has been stopping for 11 days. This means that the user cannot start any other workspace and use Che. The workspace name is `e2e-0221-1653-8932-vh8cr`

This has already happen before, more in issue https://github.com/openshiftio/openshift.io/issues/4391

[2019-03-04 09:49] Katka92 commented on #4766
Today I'm able to reproduce it manually via Dashboard with user ```osio-ci-preview-rhche-periodical``` and user ```kkanova-preview```. I'm getting this error in UI [1]. Both accounts are provision against use-east-2a cluster on prod-preview.

[1]
![screenshot from 2019-03-04 10-44-24](https://user-images.githubusercontent.com/29278800/53724619-875d3980-3e6a-11e9-8ef8-b4eab6c2e281.png)

[2019-03-04 14:17] ibuziuk commented on #4766
@Katka92 is it prod-preview specific ?

[2019-03-04 14:20] ibuziuk commented on #4695
@ppitonak @ljelinkova FYI the following workaround has been applied on rh-che funtional test side - https://github.com/redhat-developer/rh-che/pull/1273
Please, consider adding it to e2e side until infra is fixed

[2019-03-05 06:38] Katka92 commented on #4766
@ibuziuk speaking about periodic jobs, this error was seen only on prod-preview. Today I've tried it manually again and I was not able to reproduce it.

[2019-03-06 21:48] ibuziuk opened #4768 "che.openshift.io e2e / openshift.io registraion flow is broken - oso namespaces are not provisioned after registration of a new user"
Steps to reproduce:
1. Navigate to che.openshift.io and be redirected to https://developers.redhat.com
2. Register a new user
3. get a confirmation email
4. navigate to the confirmation link
5. ERROR layout of account confirmation looks broken:
![image](https://user-images.githubusercontent.com/1461122/53915509-5d6d6800-4060-11e9-8133-ff838ed3f06f.png)
6. press "Activate Account" button
7. receive

[2019-03-06 21:52] alexeykazakov commented on #4768
@MatousJobanek can you please also take a look at this one?

[2019-03-06 22:33] ibuziuk commented on #3814
@slemeur @l0rd FYI confirmation emails still have openshift.io branding for e2e che.openshift.io registration flow:

![image](https://user-images.githubusercontent.com/1461122/53918709-fe135600-4067-11e9-91f6-04ad4d84e8b3.png)
![image](https://user-images.githubusercontent.com/1461122/53918734-0e2b3580-4068-11e9-847c-f82fd4ff2501.png)

[2019-03-07 08:27] ibuziuk commented on #4768
Some comment from @MatousJobanek:

[code]

Today I see the following namespaces:

![image](https://user-images.githubusercontent.com/1461122/53942284-a7833780-40ba-11e9-9158-09e3c6a5ce32.png)

@MatousJobanek @alexeykazakov how is it planed to adress the HK issue, which is probably the root cause of the problem. Currently it is a showstopper for e2e registration flow on che.openshift.io

[1] https:

[2019-03-11 12:19] ibuziuk commented on #4768
@rhopp @ScrewTSW @Katka92 according to the dedicated mailing thread the namespace provisioning issue should be fixed by now. Could you please verify?

[2019-03-11 12:51] Katka92 commented on #4768
@ibuziuk I'll take a look on that today. Thank you for reminding.

[2019-03-11 13:26] Katka92 commented on #4768
@ibuziuk I've followed your reproduction steps and I created user ```osio-ci-testcreation```. The user was provisioned on 1a cluster and is able to create and start a workspace on a first attempt. I can see all 5 namespaces on OSO cluster. If you need me to verify something else about this issue, please let me know.

[2019-03-11 20:10] ibuziuk commented on #4768
great, I believe we can close this issue now in this case

[2019-03-11 20:10] #4768 closed

[2019-03-12 13:30] ibuziuk commented on #4574
@alexeykazakov should this issue be closed as outdated / won't fix ?

[2019-03-12 13:31] ibuziuk commented on #4537
@sbose78 wdyt about closing this issue as outdated / won't fix?

[2019-03-12 13:31] ibuziuk commented on #4536
@sbose78 what do you think about closing this issue as outdated / won't fix ?

[2019-03-12 13:33] ibuziuk commented on #718
Closing as outdated

[2019-03-12 13:33] #718 closed

[2019-03-12 13:35] ibuziuk commented on #1161
Closing as outdated. Black theme is supposed to be a default for Che 6 / Che 7 on che.openshift.io

[2019-03-12 13:35] #1161 closed

[2019-03-12 17:40] alexeykazakov commented on #4574
I agree. Closing as outdated.

[2019-03-12 17:40] #4574 closed

[2019-03-12 17:56] ibuziuk commented on #4766
closing since rh-che specific issue is also closed https://github.com/redhat-developer/rh-che/issues/1282 There is a problem with slow gluster / long cloning, but @rhopp already created a separate issue for this https://github.com/redhat-developer/rh-che/issues/1289

[2019-03-12 17:56] #4766 closed

[2019-03-12 17:57] ibuziuk commented on #4538
@sbose78 should we close this issue as outdated / won't fix ?

[2019-03-13 15:00] sbose78 commented on #4538
Right @ibuziuk . Thank you!

[2019-03-13 15:00] #4538 closed

[2019-03-14 06:55] Katka92 opened #4769 "Not able to start Che 6 workspace on che.openshift.io on various clusters - Error: Failed to run the workspace: "Server 'terminal' in machine 'dev-machine' not available.""
##### Issue Overview

Our automated tests are not able to create a workspace on production. I've tried that manually and I was able to reproduce that. However, my personal account seems to work fine (tried 4 times). Tests are failing on that from yesterday morning.

##### Expected Behaviour

Creating and starting workspace via User Dashboard should start a workspace.

##### Current Behaviour

Work

[2019-03-14 13:49] Katka92 commented on #4769
Today my personal account ```kkanova``` started to fail too. In rhche log there is a message:
[code]

[2019-03-14 15:30] #4246 closed

[2019-03-14 19:42] ibuziuk commented on #4769
able to repro against 1b

![image](https://user-images.githubusercontent.com/1461122/54386604-a1342300-4699-11e9-94e1-c82e81c6c853.png)

[2019-03-18 09:15] ibuziuk commented on #4767
@ljelinkova @ppitonak could you please confirm if the issue is still there?

[2019-03-18 09:24] ppitonak commented on #4767
There are no workspaces in Che dashboard for `osio-ci-e2e-002`

[2019-03-18 09:34] ibuziuk commented on #4767
@ppitonak ok, are you ok to close ?

[2019-03-18 09:35] ibuziuk commented on #4537
@sbose78  @jarifibrahim Closign as won't fix. Feel free to reopen with details

[2019-03-18 09:35] #4537 closed

[2019-03-18 09:36] ibuziuk commented on #4536
@sbose78 @jarifibrahim Closing as won't fix. Feel free to reopen with details

[2019-03-18 09:36] #4536 closed

[2019-03-18 09:56] #4767 closed

[2019-03-18 10:22] atrebla opened #4770 "Internal server error when trying to reset my account on openshift.io"
This happened the first time I've tried to reset my account on https://openshift.io

![image](https://user-images.githubusercontent.com/23000235/54523514-01fc7d80-4970-11e9-9278-d6edc34fa43b.png)

[2019-03-18 11:37] ibuziuk commented on #1016
Closing as won't fix

[2019-03-18 11:37] #1016 closed

[2019-03-18 12:01] ibuziuk commented on #4769
this might be related to the networking issue on various starter clusters - https://bugzilla.redhat.com/show_bug.cgi?id=1685277

[2019-03-18 12:29] ibuziuk commented on #4770
CC @alexeykazakov

[2019-03-18 12:51] MatousJobanek commented on #4770
This can happen when the openshift is too slow while resetting some objects in the namespaces. Another reset should help.
Unfortunately, this is something out of our control.

[2019-03-18 12:55] ibuziuk commented on #4770
btw, I can not repro - reset env works for me against both prod-preview / prod

[2019-03-20 13:23] atrebla commented on #4770
thanks this work for me

[2019-03-20 13:23] #4770 closed

[2019-03-21 16:06] ibuziuk commented on #4769
Related to SDN / route propagation issues across all starter clusters - https://status.starter.openshift.com/

[2019-03-23 02:55] johnshen44 opened #4773 "Che connection problems"
runing diagnostics on brand new account and (old account) both show/confirm same type connection issues:

==============================================================
Test connection from browser to workspace agent with websocket
No reply of websocket test after 5 seconds. Websocket is failing to connect to wss://routei8s57hkj-jonmelbdev-che.9a6d.starter-us-east-1a.openshiftapps.com/wsagent?toke

[2019-03-23 02:57] johnshen44 commented on #4769
hi - yes same issue now for about same 9 days,
There was some sort migration in opbenshift, i think routes changed - but bit of guess,.
cheers

[2019-03-23 16:49] ibuziuk commented on #4769
yeah all OSIO clusters are affected by SDN / route propagation issues:
- https://status.starter.openshift.com/incidents/3tb5kx8149s3
- https://status.starter.openshift.com/incidents/lh2tjc6qj074

[2019-03-23 16:50] ibuziuk commented on #4773
closing as a duplicate of https://github.com/openshiftio/openshift.io/issues/4769

[2019-03-23 16:50] #4773 closed

[2019-04-10 12:31] #4729 closed

[2019-04-10 12:31] #4675 closed

[2019-04-10 12:31] #4604 closed

[2019-04-10 12:31] #4447 closed

[2019-04-11 12:43] ibuziuk opened #4782 ""openshift.io" -> "che.openshift.io" redirect does not seem to work in a stable manner"
Steps to reproduce:
- open https://openshift.io/ in browser
- **ERROR:** redirect to `http://che.openshift.io` does not happen

Chrome:
![no-redirect-chrome](https://user-images.githubusercontent.com/1461122/55959537-43c8cd00-5c6b-11e9-9ebe-69b1112fe948.gif)

Tor:

![no-redirect-tor](https://user-images.githubusercontent.com/1461122/55959510-3875a180-5c6b-11e9-96d0-8e8dcf2c52cb.gif)

NOTE: seems t

[2019-04-11 15:40] ibuziuk commented on #4782
So, it looks it is expected that redirect happens only when user is either already logged in or just after the login via the "sign up" button.

[2019-04-11 15:40] #4782 closed

[2019-04-23 06:50] Katka92 commented on #4695
I can see this happening again. E.g. https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/508/console on 20th April.

[2019-04-29 05:29] Katka92 commented on #4695
Seen again https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/333/console on 26th April.

[2019-04-30 15:39] ibuziuk commented on #1159
I believe we should redirect to https://mattermost.eclipse.org/eclipse/channels/eclipse-che, but we are not planning to work on this issue in the meantime. The issue should be closed once che 7 is going to be the only option for che.openshift.io (Theia does not have Help -> Community / only Help -> About)

[2019-05-04 03:29] #4724 closed

[2019-05-04 03:29] #4723 closed

[2019-05-04 03:29] #4722 closed

[2019-05-04 03:29] #4721 closed

[2019-05-04 03:30] #4693 closed

[2019-05-04 03:30] #4690 closed

[2019-05-04 03:30] #4687 closed

[2019-05-04 03:33] #4669 closed

[2019-05-04 03:33] #4663 closed

[2019-05-04 03:33] #4653 closed

[2019-05-04 03:33] #4628 closed

[2019-05-04 03:33] #4607 closed

[2019-05-04 03:34] #4579 closed

[2019-05-04 03:34] #4577 closed

[2019-05-04 03:34] #4463 closed

[2019-05-04 03:34] #4454 closed

[2019-05-04 03:34] #4446 closed

[2019-05-04 03:34] #4374 closed

[2019-05-04 03:34] #4370 closed

[2019-05-04 03:34] #4369 closed

[2019-05-04 03:36] #2488 closed

[2019-05-04 03:37] #1903 closed

[2019-05-04 03:38] #2628 closed

[2019-05-05 22:11] #4714 closed

[2019-05-05 22:11] #4710 closed

[2019-05-05 22:11] #4691 closed

[2019-05-06 01:51] hodrigohamalho commented on #2980
Just face this same issue.
Step by step that I did:
Create a private image in quay.io
Deploy image in Openshift
Run two or three times and this start to happen.
For now, my workaround is build application from scratch on Openshift every time.

[2019-05-07 20:12] #3015 closed

[2019-05-07 20:13] #1188 closed

[2019-05-07 20:14] #3132 closed

[2019-05-07 20:18] #3419 closed

[2019-05-13 08:23] Katka92 commented on #2980
I can see this problem in our periodic jobs today too. Job runs with user provisioned on ```starter-us-east-1b```.

[2019-05-27 14:44] rikirenz commented on #2980
+1

[2019-06-02 21:48] ibuziuk commented on #2745
Closing as outdated

[2019-06-02 21:48] #2745 closed

[2019-06-07 10:06] ibuziuk commented on #4769
the infra incidents were resolved. Closing

[2019-06-07 10:06] #4769 closed

[2019-06-07 10:08] ibuziuk commented on #914
Closing in favour of upstream che issue - eclipse/che#5006

[2019-06-07 10:08] #914 closed

[2019-06-07 10:08] ibuziuk commented on #918
Closing as outdated

[2019-06-07 10:08] #918 closed

[2019-06-07 10:08] ibuziuk commented on #919
Closing as outdated

[2019-06-07 10:08] #919 closed

[2019-07-19 13:13] djbrown commented on #2980
In my case it was an error in my buildconfig. I had to fix / remove an invalid image pull secret reference in the yaml.

[2019-07-19 19:20] hodrigohamalho commented on #2980
I just inserted the `imagePullPolicy: IfNotPresent` attribute in the deployment config:

[2019-08-01 07:40] ibuziuk commented on #4695
Closing, since currently there is no route flapping / long exposure for quite a long period of time:

![image](https://user-images.githubusercontent.com/1461122/62274526-57798880-b440-11e9-85b7-65a7ab43b4b3.png)

[2019-08-01 07:40] #4695 closed

[2019-08-23 07:37] brujoand commented on #3570
Any progress on this or has Jenkins been chosen for the foreseeable future?

[2019-08-26 10:56] lkravi commented on #2980
Experienced same issue just after upgrade oc 3.9 to 3.11. Root cause was oc client version discrepancy. After 3.11 upgrade , I forget to upgrade my oc client version. with old oc client I have created new project namespace. In there I experience same issue. Then I delete the project and upgrade the oc client version to 3.11 after that issue went away.

[2019-09-03 06:25] sushmithakumar commented on #3528
how did this issue get fixed ?

[2019-09-10 12:53] #3189 closed

[2019-09-10 12:55] tisnik commented on #3726
Now it is part of the script to create deployment configuration hence closing this issue.

[2019-09-10 12:55] #3726 closed

[2019-09-13 10:00] #1795 closed

[2019-10-10 19:12] henriquellemos opened #4785 "QA environment failed - java.nio.charset.UnmappableCharacterException"
My environment is running on OpenShift and when I use the flushAndSkipLine (BufferedWriter) method, the error explodes below:

java.nio.charset.UnmappableCharacterException: Input length = 1
	at java.nio.charset.CoderResult.throwException(CoderResult.java:282)
	at sun.nio.cs.StreamEncoder.implWrite(StreamEncoder.java:285)
	at sun.nio.cs.StreamEncoder.write(StreamEncoder.java:125)
	at java.io.Outpu

[2019-10-22 08:48] maxim-sermin commented on #3390
I was facing this error when performing some longer-running jenkins operations (like checking for plugin updates) - resolved it by increasing the timeout of the route (which was 30 seconds by default) with `oc annotate route my-jenkins-route --overwrite haproxy.router.openshift.io/timeout=60s`

[2019-10-25 09:25] tl-alexandre-kaskasoli commented on #3667
Flux supported yet?

[2019-10-25 10:02] sideeffffect commented on #3667
@lordofthejars OpenShift 4.1.0 is already released. would it work Flux?

[2019-12-10 12:45] ibuziuk commented on #4564
@tolusha could you please try this again and let me know if you can start a workspace ?

[2019-12-11 10:28] tolusha commented on #4564
Everything works fine.

The list of namespaces:
- `abazko`
- `abazko-che`
The workspaces are being created under `abazko-che` namespace.

[2019-12-11 10:28] #4564 closed

[2020-01-02 02:21] isbur opened #4789 "Several commands (e.g. git, wget) not found inside container's terminal"
##### Issue Overview

Some basic commands such as "git", "wget" not working inside container's terminal while working with Python Stack Workspace on che.onpenshift.io

##### Current Behaviour
git: command not found

##### Steps To Reproduce

1. Create workspace using Python Stack on che.openshift.io
2. Start the workspace
3. Open terminal in specific container > python
4. Type "git"

##### Additio

[2020-01-23 17:30] FranciscoRD commented on #4789
I have the same issue, I was a codenvy.io user, and played around with different languages and linux distros, now I am learning Python in a proper way, and Theia and the containers are more "restricted", I don't know how to handle git repositories besides clone one

[2020-03-18 10:49] ibuziuk commented on #4703
should be fixed in Che 7. Closing

[2020-03-18 10:49] #4703 closed

[2020-03-20 13:17] dzabel commented on #4042
I see this issue only after Jenkins has been restarted.

[2020-04-11 05:26] hari1992-web opened #4790 "eclipse che issue whenver iam using yaml files facing issue"
Press F5 or click here to try again.

Error: Failed to start the workspace: "Failure executing: GET at: https://10.96.0.1/api/v1/namespaces/che-che. Message: Unauthorized! Configured service account doesn't have access. Service account may have been revoked. Unauthorized. The error may be caused by an expired token or changed password. Update Che server deployment with a new token or password."

!

[2020-04-11 08:38] skabashnyuk commented on #4790
@hari1992-web thank you for this report. Could you please follow GitHub bug template?

[2020-06-23 13:48] vladyslovestepanov commented on #2527
Hello @hrishin @joshuawilson @lordofthejars @animuk @arunkumars08 @jyasveer

I presume the issue still exists.
The project does not build with 77 characters name length for а full project name:(including branch name)

For a project with 77 lengths (**for instance** Namespace/my-project-which-should-build-on-name/feature-for-a-service-branch) it's does not build
I had to create a new branch with a

[2020-06-23 16:38] joshuawilson commented on #2527
This repo is/was for a application/service run by Red Hat. The service has been shut down. How are you running the application that you are running into this issue?

[2020-06-24 07:50] vladyslovestepanov commented on #2527
sorry for lack of knowledge, I am a newbie here
But my application then supposed to be deployed on google cloud with Kubernetes
Am I answered your question?

[2020-06-24 12:46] joshuawilson commented on #2527
What is the URL for the service that you are trying to deploy your application with?
I will try to redirect you to the right repo. This repo is deprecated, no one is working on it.

[2020-06-24 13:38] vladyslovestepanov commented on #2527
It's a private repo, I can not share the name
And it can be that multiple projects will face up with naming length issue
Is it feasible to solve this issue on a higher level to allow more than 63 characters for a Full project name?

[2020-06-24 13:48] joshuawilson commented on #2527
By posting here you are asking for a fix to the code in this repo. This repo is no longer a running service.
If you have forked this repo then you are maintaining a fork.
If you are running your app on OpenShift then the answer to my question is OpenShift. "openshift.io" does not exit any more so questions here would not fix your issue.

[2020-06-24 13:51] vladyslovestepanov commented on #2527
Okay, thank you
I will create a new issue if I face up with it again

[2020-06-24 13:53] joshuawilson commented on #2527
I'm trying to find the right place to send you so you can get your issue addressed.
Posting here though will not help as this repo is shutdown and no longer under development.

[2020-06-24 13:54] vladyslovestepanov commented on #2527
okay, thank you
Just did not want to duplicate issue

[2020-06-24 13:55] joshuawilson commented on #2527
Are you deploying your app to OpenShift?
Or is this a Jenkins issue?

[2020-06-24 13:56] vladyslovestepanov commented on #2527
it's Jenkins issue
sorry for misleading

[2020-06-24 13:58] joshuawilson commented on #2527
Then I suggest going to the [Jenkins](https://github.com/jenkinsci/jenkins) repo and posting your question there.

I wish the best in your coding.

[2020-06-24 14:00] vladyslovestepanov commented on #2527
thank you a lot!

[2020-07-12 02:24] deepakraous opened #4792 "Steps to reproduce"
Steps to reproduce :

1. Start workspace
2. Setup OC Cluster
3. Logout
4. Login back
5. URL now is https://che.openshift.io/dashboard/#/getstarted?tab=getStarted
6. Cannot logout and go back to Step:2

Looks like this issue is being floated around, any fix  please

_Originally posted by @ibuziuk in https://github.com/openshiftio/openshift.io/issues/1733#issuecomment-355301573_

[2020-07-23 00:23] deepakraous commented on #4792
I am going to close this issue due to non-response. However, there might be another workaround  is a workaround:

1)Setup **[CRC](https://code-ready.github.io/crc/)** on your local machine (Strictly for local testing)
2)Start/Stop CRC  using once the installation is complete ```bash $crc start```
3)Use any open playground to connect to the free openshift container from the CLI
4)$oc connect <Image