[2018-02-02 12:19] qodfathr opened #2163 "Planner Task Board Experience placeholder"
WIP

## Implementing Features

## Parent Experience
#2146 Planning Experience placeholder

[2018-02-02 12:31] CermakM commented on #2106
@krishnapaparaju, @msrb, @abs51295 , @sivaavkd

I've created a flowchart of an approach that I am currently exploring.

PTAL at [CVE research flowchart](https://github.com/CermakM/cvejob/blob/research/research/cve-analysis-flowchart.png)

also, analysis of gh-references cves from NVD json feed is available at

[GitHub reference analysis](https://github.com/CermakM/cvejob/blob/research/research/cve

[2018-02-02 12:32] qodfathr commented on #1903
See also #2110 Openshift.io DSaaS Monitoring/Metrics

[2018-02-02 12:33] GeetikaBatra commented on #1971
@nickboldt, it is working on Windows IE.
https://issues.jboss.org/browse/JBIDE-24897?focusedCommentId=13527755&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13527755

Things are complete from our end. I guess we are good to go.

[2018-02-02 12:44] qodfathr opened #2164 "Platform Rendering Issues for Heather"
## Associated Defects
- [ ] #1829 The notification bubble is not rednered properly.

## Parent Papercuts
#2132 Rendering Papercuts for Heather

[2018-02-02 12:58] jarifibrahim commented on #1933
@bartoszmajsak

Yes, these are the UI smoke tests. Since these tests perform actions such as clicking on a button it takes some time.

[2018-02-02 13:19] krishnapaparaju opened #2165 "Incorrect latest version displayed at stack report"
Please check the screen shot..
<img width="465" alt="screen shot 2018-02-02 at 6 48 39 pm" src="https://user-images.githubusercontent.com/15967765/35735194-d15128e2-0849-11e8-8270-ca97303c089b.png">

[2018-02-02 13:38] aslakknutsen opened #2166 "Iteration relationship changed trigger cause seq_scan"
I.ID::TEXT misses the index on ID.

[code]

![screenshot from 2018-02-02 14-34-12](https://user-images.githubusercontent.com/132158/35735839-5abd2974-0826-11e8-9488-67a79875221f.png)

## Impacts
- [ ] #2157 Planner iterations Feature placeholder

[2018-02-02 13:39] aslakknutsen commented on #2166
@xcoulon you're familiar with this stuff if my memory serves me... :)

[2018-02-02 13:49] chmouel commented on #1933
So after spending some times on it :

* There is no memory limit on the containers it's literally be my guest mister container and use whatever you have memory available on the cluster,

* we have a total memory of 15GB on the cluster currently (as seen on the screenshot i sent earlier)

* We have peaks going on up to 15GB sometime on Job which I guess is one of your UI tests, consuming hips of me

[2018-02-02 13:54] jyasveer opened #2167 "Confidence score is missing for companion dependency in Stack report UI"
This is the sample response for two manifest files which have confidence score and also the reasoning.  The issue here is we see the confidence score displayed for one and not for the other manifest file.

Sample response :- https://gist.github.com/spicemit/808df74c2634474afdb180878e9653ec

Also here are the screenshots
<img width="1440" alt="screen shot 2018-02-02 at 7 22 23 pm" src="https://user

[2018-02-02 13:55] jyasveer commented on #2167
Also we should handle the security card content section, in the case of no data.

[2018-02-02 14:00] krishnapaparaju commented on #2165
Have created new stack report resulted in 'latest version' not showing up..

<img width="485" alt="screen shot 2018-02-02 at 7 29 33 pm" src="https://user-images.githubusercontent.com/15967765/35736840-7f45f158-084f-11e8-8356-37712be4bb55.png">

cc @miteshvp

[2018-02-02 14:07] chmouel commented on #1933
I have just increased the memory/cpu available, let me know  if that make things better, we will montior the graphs as well :

![image](https://user-images.githubusercontent.com/98980/35737097-a4a7a4c0-082a-11e8-93c1-4f5543afa816.png)

[2018-02-02 14:08] sara-02 commented on #2167
@jyasveer can you share the effective pom for this request.

[2018-02-02 14:42] tisnik opened #2168 "Update the 'Worker definition in fabric8-analytics' document in the fabric8-analytics-worker repository"
The 'Worker definition in fabric8-analytics' document (README.md) in the ``fabric8-analytics-worker repository``` needs to be updated because it does not contain description for all tasks:

https://github.com/tisnik/fabric8-analytics-worker/blob/master/f8a_worker/workers/README.md

All workers (according to sources):

[code]

Workers that are not described (yet):

[code]

[2018-02-02 14:58] jiekang commented on #1658
@qodfathr I initially intended this issue to track tasks for the previous train. #1865 is a task that wasn't in the initial UX designs and was discussed in the last 2 weeks of the previous train; it was decided to be done in train/heather. I was inclined to recreate user stories to track tasks specifically for train/heather but wasn't sure if it would be worth it, versus continuing to use these on

[2018-02-02 15:29] nickboldt commented on #1971
Sounds good.

Next steps:

- [ ] QE tests the Central Discovery Site against the latest jbosstools/devstudio CI build
- [ ] If approved, the feature stays in Central and is available as of the next jbosstools milestone release (every 3 weeks) or the next devstudio GA release (every 12 weeks)
- [ ] Once the plugin is ready to be considered STABLE (rather than a Technology Preview milestone) Nick wi

[2018-02-02 16:36] qodfathr opened #2169 "Development teams desire to adopt best practices"
**WIP**

Development isolation / branching / CI
Test in production

## Value Propositions

## Realizing Experiences
- [ ] #1943 Testing on production
- [ ] #2715 Traceable branch isolation of planned work

[2018-02-02 16:43] chrislessard opened #2170 "Drop ngx-modal dependency from project"
One of our dependencies, ngx-modal, has been [deprecated](https://www.npmjs.com/package/ngx-modal). It would be a good idea for us to drop the dependency from the project altogether, since it can easily be replaced with another one of our dependencies, [ngx-bootstrap/modal](https://valor-software.com/ngx-bootstrap/#/modals).

## Parent Experience
#2175 Platform architecture placeholder

[2018-02-02 17:11] qodfathr opened #2171 "OpenShift.io is secure"
WIP

## Realizing Experiences
- [ ] #1900 Getting jenkins deployment and namespace locked for users on OSIO

ref: https://openshift.io/openshiftio/openshiftio/plan/detail/2167

[2018-02-02 17:18] qodfathr opened #2172 "OpenShift.io is multi-cluster capable"
WIP

## Implementing Features
- [ ] #1988 Centralize cluster configuration across services

## Parent Fundamental
#2028 OpenShift.io scales to meet user demand

[2018-02-02 17:24] qodfathr opened #2173 "Operational Papercuts for Heather"
A collection of bugs where the product behaves incorrectly when you try to do some action (other than navigation).

## Realizing Experiences

[2018-02-02 17:26] qodfathr opened #2174 "Che-in-OSIO Operational Issues for Heather"
## Associated Defects
- [ ] #1060 Run As -> JUnit test works only if the project was built beforehand

## Parent Papercuts
#2173 Operational Papercuts for Heather

[2018-02-02 18:06] qodfathr opened #2175 "Platform architecture plaeholder"
What it is.
Why it is good.

## Implementing Features

## Tasks
- [ ] #2170 Drop ngx-modal dependency from project

## Parent Fundamental
#2130 OpenShift.io development methodologies are best practices

[2018-02-02 19:57] qodfathr commented on #2107
PM approves design.
@joshuawilson Platform?

[2018-02-02 19:59] qodfathr commented on #1658
Thanks, @jiekang

[2018-02-02 20:17] andrewazores opened #2176 "Deployment card details styling does not match designs"
Design: https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/260764293

Current styling:

![screenshot-20180202151619](https://user-images.githubusercontent.com/3787464/35753006-0ec85dda-082c-11e8-9f76-4246daa045ee.png)

The "Resource Usage" label is missing, graph label text seems too large, and graph/label column widths should be adjusted so graphs are wider. The deployments donut pods scalin

[2018-02-02 22:16] joshuawilson commented on #2107
Looks good to me. Matches the flow for reset env.

[2018-02-02 23:12] aslakknutsen commented on #2107
@qodfathr @joshuawilson I wouldn't sign on for the 'complete' space delete for H, but design wise agree it's a good path. :)

[2018-02-03 05:09] joshuawilson commented on #2107
I was only agreeing with the design, not committing to delivering it in H train.

[2018-02-03 18:10] bartoszmajsak opened #2177 "Decomission old Fabric8 Generator repositories"
Someone with admin rights should [archive](https://help.github.com/articles/archiving-repositories/) following repositories, as they are not used anymore:

- https://github.com/fabric8io/generator-backend
- https://github.com/fabric8io/fabric8-generator

They have been moved and are maintained in https://github.com/fabric8-launcher/launcher-backend

[2018-02-03 21:39] mindreeper2420 commented on #2050
This should be fixed with the latest update. I’ve verified in emulators, but can someone else verify as well?

[2018-02-04 08:08] maxandersen commented on #2071
would be good to define the boundaries of openshift.io here - i.e. to clarify how these operational controls is expected to map over to operational systems (i.e. openshift online or other) if at all.

I assume they don't (as the user/security models don't map/work across multiple clusters) but since app/deployment controls literally are exposed in openshift.io we do need to be clear on wether thos

[2018-02-04 08:23] maxandersen commented on #2091
does this not mean that features like viewing workitems are hidden for anonymous users ?

I would expect we at least have the ability to allow read-only views to essential features (even if experimental).

[2018-02-04 14:35] qodfathr commented on #2107
Yes, I was only asking about the design itself, so that this may now move to the Approved Backlog, not the Train Backlog.

[2018-02-04 20:46] maxandersen commented on #292
Just to keep updated - I have a feeling this is not solved as even if
launcher can handle multiple OSO's then what happens if you signup for
OSO before openshift.io - openshift.io
don't (yet) manage all starter clusters.

Long story short - I want to actually test this (but can't right now as
I'm on a plane :)

/max
http://about.me/maxandersen

On 1 Feb 2018, at 20:36, Todd Mancini wrote:

[2018-02-04 20:58] ldimaggi commented on #945
Another data point - on Feb 2, late afternoon Boston time, I was seeing VERY slow response times - it improved later that evening.

[2018-02-05 03:25] arunkumars08 commented on #1546
@nimishamukherjee The ui has been revamped and this issue has been taken care. Please try once and close this issue if this is no longer reproducible.

[2018-02-05 03:26] arunkumars08 commented on #1773
@sivaavkd Changes for the modal are in prod. The design in the dashboard hasn't been moved yet and will be moved sooner. @jyasveer

[2018-02-05 03:27] arunkumars08 commented on #1974
UI items have been closed from this list.

[2018-02-05 07:26] miteshvp commented on #2165
@krishnapaparaju - this is an expected behavior in case user's version is higher than our collected latest version information. Closing this, please re-open if you think otherwise.

[2018-02-05 07:26] #2165 closed

[2018-02-05 07:53] invincibleJai opened #2178 "Getting Started Integration : ngx-forge/ngx-launcher in Openshift.io"
### Description:
Currently, in OSIO we don't have mission flow. With this addition, it helps us to merge the flow from Launcher (i.e the mission, tech stack flow and others).

### Acceptance Criteria:
OSIO user should be able to select mission, technology stacks than can proceed with Dependency Editor or move  with selecting release strategy, Authorize Git Provider, Confirm Application Summary and

[2018-02-05 08:02] corinnekrych commented on #2091
@maxandersen yes atm with the latest PR on toggles-service, no `401` is returned for anonymous user but as we don't have the user the `user-enabled` field is false therefore the ui don't know which user consent where on and propose the user-consent page. If we want a special case for anonymous users `toggles-service` ned to return the information whether or not the user is logged. cc @xcoulon
@qod

[2018-02-05 08:27] xcoulon commented on #2091
well, I understand @maxandersen's concern about anonymous users not being able to use a feature without login, but I think that if we return user-enabled: true for anonymous users, then we'd reverse the usage of toggles: instead of enabling a feature for a logged-in user, we'd enable all unreleased features unless users log in and update their profiles, which may seem wrong. Besides: when planner

[2018-02-05 09:13] corinnekrych commented on #1557
@dgutride @catrobson do we want to save the feature-banner got it per feature? ie: for planner in experimental level, got-it was acknowledge dso if i go back don't display full size got-it banner. But if i got to another experimental feature like Applications I still got the full size got-it banner. Do we need this granularity?
why not just say this user has acknowledge the beta/exp state for all

[2018-02-05 10:02] divyanshiGupta commented on #1992
@aslakknutsen can you please review the changes that I have made?
PR : https://github.com/fabric8-ui/fabric8-planner/pull/2430
Snapshot : https://fabric8-ui-fabric8-ui-pr-2430-fabric8-planner.badger.fabric8.io

[2018-02-05 10:54] surajnarwade opened #2179 "yaml-language-server fails to start"
* I enabled yaml-language-server agent Che workspace settings,

![screenshot from 2018-02-05 16-13-44](https://user-images.githubusercontent.com/17265451/35800890-5fb4c10a-0a90-11e8-8efa-1cc320b851d3.png)

*  Then I enabled Kubernetes in Preferences for YAML settings,

![screenshot from 2018-02-05 16-11-12](https://user-images.githubusercontent.com/17265451/35800935-81055144-0a90-11e8-860a-cfcad65

[2018-02-05 11:02] surajnarwade opened #2180 "Enable YAML langauge server by default in Che"
In order to use YAML completion or Kubernetes or Kedge support, we need the YAML language server, which is not enabled by default. The end user experience to enable this in the Che workspace settings as follows:
![screenshot from 2018-02-05 16-13-44](https://user-images.githubusercontent.com/17265451/35801179-5bfc9654-0a91-11e8-8c0d-9da587c2933a.png)

Post this, the pod gets restarted and then we

[2018-02-05 12:14] jarifibrahim commented on #1846
@michaelkleinhenz I cannot reproduce the bug on prod/prod-preview. Can you please confirm?

[2018-02-05 12:59] rhopp opened #2181 "Unable to start workspace pod on prod-preview - Failed to pull image"
Today, we are unable to start centos-jdk8 stack workspace pod on prod-preview.
This is relevant part of output of `oc get events` on free-stg:
[code]
But when I'm starting another type of workspace, for example centos-nodejs, everything is fine:
[code]
It seems, that in one case, it pulls the image from 172.30.44.192:5000 and in the other case it tries to pull it from docker-registry.default.svc:5

[2018-02-05 13:52] JPinkney commented on #2179
I think this may be related to https://github.com/redhat-developer/rh-che/issues/188 where node isn't being downloaded and thus starting the language server fails. I'm looking into this.

[2018-02-05 14:41] sanketpathak opened #2182 "Dependency Editor UI"
User Story:

As a OSIO user I will be able to see UI of Dependency Editor (OSIO) as per  UX Design.
https://redhat.invisionapp.com/share/KYFHMF8WABP#/screens/276084534

Description:

Allowing the user to edit (add/remove) the project dependencies once he selected one of the boosters in the project creation wizard and providing stack report of the project he is building.
Showing recommendations on

[2018-02-05 15:16] jpopelka commented on #1883
Deployed to production with https://github.com/openshiftio/saas-analytics/pull/238 and https://github.com/openshiftio/saas-analytics/pull/238

Can be closed.

[2018-02-05 15:23] dlabrecq commented on #1557
Yes, I believe showing the banner for each feature is necessary, but will defer to @catrobson. The profile page doesn't necessarily make it clear which features you opt-in to. For example, is Applications an internal feature, experimental, etc.?

[2018-02-05 15:49] joshuawilson commented on #1557
until we can provide a list of what is in each level, the banner is the only way to know what you are opting in for

[2018-02-05 15:58] aslakknutsen commented on #1992
@divyanshiGupta The behavior is saner now.

[2018-02-05 16:18] gastaldi commented on #2034
Before I dig deeper, was the UI updated to send the correct token as per @aslakknutsen's comment  in https://github.com/openshiftio/openshift.io/issues/2034#issuecomment-361290145?

[2018-02-05 16:27] qodfathr commented on #2071
@maxandersen agreed. This is really just scoping stuff that's functionally inside of OpenShift.io itself. As an analog, a lot of people use GitHub and deploy to AWS. If you have an org and private repos in GitHub, an admin has some level of control over the org and repos. But GitHub provides no controls over access to AWS. Same kind of thing here.

[2018-02-05 16:30] qodfathr commented on #2091
Yes, this means the Planner is hidden from anonymous users. All the more reason to get it into a released state. I really think this is a point-in-time issue. Once we've got all of the base features promoted to the released state, this concern will predominately go away.

[2018-02-05 18:02] #2010 closed

[2018-02-05 18:57] gastaldi commented on #2034
Trying (still) to run the environment locally to reproduce that. Can anyone explain to me what the correct flow should be? Right now in https://github.com/fabric8-launcher/launcher-backend/blob/0ba329303edb9f6e9e67afdf039d1488bf607a6a/web/src/main/java/io/fabric8/launcher/web/api/OpenShiftResource.java#L126 the service is just sending along the same OSIO token, what changes?

[2018-02-05 19:07] gastaldi commented on #2034
I am seeing the following error in the chrome console when navigating to my pipelines view:
[code]

Can anyone confirm if the UI is functioning properly?

[2018-02-05 19:10] gastaldi commented on #2034
[code]

[2018-02-05 19:35] qodfathr commented on #1028
Will likely be addressed by new appwizard design.

[2018-02-05 19:46] qodfathr commented on #1574
Likely will be addressed with redesign.

[2018-02-05 19:47] qodfathr commented on #1551
https://github.com/fabric8-ui/fabric8-ux/issues/443 should address this.

[2018-02-05 19:58] qodfathr commented on #957
NPTF (no plan to fix) in downstream.

[2018-02-05 19:58] #957 closed

[2018-02-05 20:32] jiekang opened #2183 "Show deployment quotas on cards instead of environment quotas"
The deployment cards currently show the environment quota limits alongside the charts for memory and CPU of the deployment. Instead, these should show the quota that the deployment itself is taking from the environment quota.

E.g. the stage environment has a 1 GB (1024 MB) Memory limit. An application with two pods deployed is taking up 512 MB of the limit, 256 MB per pod. The deployment card cur

[2018-02-05 20:38] chrislessard opened #2184 "When adding a codebase, user should be able to select by clicking on any part of the row"
When adding a codebase to a space, it would be nice if a user could simply click any section of the row containing their selection.

Here is an example, where I would like to add "terminal-chat" to my space.

![not-clicky](https://user-images.githubusercontent.com/17230733/35827472-191bc6e8-0ab4-11e8-8ca4-f99839f8145a.png)

As it stands, their selection will only be chosen if they click within the

[2018-02-05 20:50] gastaldi commented on #2034
Finally after resetting my environment I was able to reproduce the issue. `Caused by: java.io.IOException: Server returned HTTP response code: 401 for URL: https://jenkins-ggastald-osio-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/gastaldi-osio/job/abdefg/job/master/1/input/Proceed/proceedEmpty`

What kind of token the Jenkins proxy expects and how do I get it? I thought the token in the `

[2018-02-05 21:05] gastaldi commented on #2034
The Proxy service just delegates the HTTP request (including headers) to Jenkins. If any of the parameters are wrong, then it must be fixed in the UI. Delegating to Build team to fix that

[2018-02-05 21:41] mmclanerh commented on #1933
Following up on open SEV1 items.
- Is this still a SEV1?
- Has there been an improvement..? Should this move to SEV2?

Thanks!

[2018-02-05 22:44] jiekang commented on #2001
The next time this occurs can you check the browser console to see if there are any error outputs and post them here if there are?

[2018-02-06 00:19] mishaone commented on #2001
@jiekang will do. I'll try to replicate this today.

[2018-02-06 00:44] gastaldi commented on #2034
It looks like Jenkins requires the OSIO token grabbed from the `auth.openshift.io`. I'll push a fix that reads that information instead

[2018-02-06 00:49] gastaldi commented on #2034
Pushed a fix in prod-preview. Please let me know if that works before I update production

[2018-02-06 01:43] gastaldi commented on #2034
Closing issue. Please reopen if the problem persists

[2018-02-06 01:43] #2034 closed

[2018-02-06 02:24] joshuawilson commented on #2183
I think it might be useful to show the total someplace on the screen.
@catrobson can you have someone look at this?

[2018-02-06 02:26] joshuawilson commented on #2184
This wizard is being redesigned. Closing as this version will not be updated.

[2018-02-06 02:26] #2184 closed

[2018-02-06 04:42] sbose78 commented on #2034
Tested in prod, works. Thanks @gastaldi !

[2018-02-06 06:00] #2124 closed

[2018-02-06 06:01] #1930 closed

[2018-02-06 06:15] #2158 closed

[2018-02-06 07:11] surajssd commented on #1629
I am looking at this issue right now, when you say you want server side filtering and sorting, how is it done right now? What exactly do you expect as input and output here? A little clarity on this would be great.

[2018-02-06 07:14] eivantsov commented on #2179
@surajnarwade @JPinkney it must be the case when an installer actually tries to install deps that a language server requires.

@surajnarwade what stack did you start your workspace from? https://github.com/eclipse/che/blob/5.22.x/agents/ls-yaml/src/main/resources/org.eclipse.che.ls.yaml.script.sh you can see that if the package isn't installed, the installer script tries to install it, which expec

[2018-02-06 07:32] surajssd commented on #1629
For sorting in particular what keys would you want to sort your data against? How do we control the order of sort(ascending or descending)?

[2018-02-06 08:39] pbergene commented on #1938
@alexeykazakov is this an auth / oauth thing or should be solved elsewhere?

[2018-02-06 08:43] surajnarwade commented on #2179
@eivantsov , I created `vertx` application first and then I created `app.yaml`

[2018-02-06 08:58] eivantsov commented on #2179
Yeah, most certainly vertx image does not have node.js

[2018-02-06 09:21] containscafeine commented on #2179
@eivantsov so the Che container image should have the required dependencies installed, right?

[2018-02-06 10:01] vikram-raj opened #2185 ""Opt-in to Experimental Features" button is not working"
Steps to reproduce

- Select production feature in your profile update page.
- Access https://openshift.io/bkundu@redhat.com/CentOS_Container_Pipeline/plan/board
- A prompt for Optin Experimental feature should come up
- After clicking the ``` Opt-in to Experimental Features ```, there is no further progress on page

[2018-02-06 10:13] corinnekrych commented on #2185
@vikram-raj it should be fixed by https://github.com/fabric8-ui/fabric8-ui/pull/2470 once deployed to PROD
cc @joshuawilson

[2018-02-06 10:45] rupalibehera commented on #1933
@mmclanerh , I guess we can remove the SEV1 label , after upgrade there is a lot of improvement in the success rate of the PR Jobs, we can make this SEV2 and keep it open for some monitoring from build team side.

cc @maxandersen @michaelkleinhenz

[2018-02-06 11:00] rupalibehera commented on #1933
From some monitoring yesterday via GKE console I could see that UI pods were in error state below is the screenshot, due to high resource usage is my guess.
![ui-pod-slave](https://user-images.githubusercontent.com/4288561/35856100-36f823e2-0b35-11e8-9ed6-7084763e431f.jpg)

[2018-02-06 11:11] jpopelka commented on #2010
There's a new [/bookkeeping/upstreams](https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/f8a_jobs/swagger.yaml#L574) endpoint in jobs, which does it.

[2018-02-06 11:33] pranavgore09 commented on #1933
yes, can see improvements in builds at https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2426/   Rate of success for this build was much higher after the upgrade. few failures after build#36 are because of code change by me and were expected.
But build passes through, sometimes I see that slaves are not available for ~15-20m.... but later it gets a chance to run and buil

[2018-02-06 11:59] jpopelka opened #2186 "Redundant entries in RDS monitored_upstream table"
Testing the new [/bookkeeping/upstreams](https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/f8a_jobs/swagger.yaml#L574) job endpoint (added in #2010) on prod.
I see that:
- some upstream urls are in the table several times
- they are all marked as `active` even when their `deactivated_at` is not null

[code]

I guess the `active` field can be completely removed, since we can j

[2018-02-06 12:03] vikram-raj commented on #2185
@corinnekrych Thanks for the update.

[2018-02-06 12:08] jarifibrahim commented on #1933
Planner builds are more stable now. The time taken to run the tests has reduced from  `~6 minutes` to `~3 minutes`

[2018-02-06 12:16] eivantsov commented on #2179
Currently, yes, this is a requirement

[2018-02-06 13:19] ldimaggi opened #2187 "On prod-preview, Jenkins and Content Repo pods are not starting"
Steps to recreate:
* Reset user env
* Observe Jenkins and Content Repo pods not starting

The events indicate a quota being exceeded - but no resources are in use:
exceeded quota: force-sleep, requested: pods=1, used: pods=0, limited: pods=0

Jenkins pod events:
[code]

[2018-02-06 13:47] apupier commented on #1193
there is a Language Server for XML provided here https://github.com/microclimate-devops/xml-language-server . it is providing validation but no completion (which is the hard part I think)

[2018-02-06 13:47] jiekang opened #2188 "Improve empty states of deployments page"
Parent: #287

The deployments page has various empty states that are currently, empty, which leads to what I think is an awkward looking page.

For example: When a user has an application that does not have any applications deployed, the page currently looks like:

![empty-page](https://user-images.githubusercontent.com/5430520/35862597-3b9f0d22-0b1a-11e8-907d-85c0002254b4.png)

I think this can b

[2018-02-06 13:55] jiekang opened #2189 "Syntax error in fabric8-ui prod-preview"
I see

[code]

When opening `_formulas.less` in Sources, I see:

![error](https://user-images.githubusercontent.com/5430520/35862920-51536a04-0b1b-11e8-9eb2-7bd5885efe57.png)

However, the web application still runs and I don't notice any loss of functionality.

[2018-02-06 14:08] alexeykazakov commented on #1938
@pbergene no. Jenkins doesn't use the Auth service for login. This is something the build-cd team should look at.

[2018-02-06 14:28] ldimaggi commented on #2034
Verified in production - thanks!

[2018-02-06 14:34] dlabrecq commented on #1629
Currently, sorting and filtering is performed client-side only, based on the space name. This doesn't work well because the data is paginated. Unless we have all the data available, we cannot perform a client-side filter/sort properly. Filtering/sorting client-side omits data that may still only exists server-side (e.g., when the user has not paginated through all pages of data).

It would be grea

[2018-02-06 14:41] ppitonak commented on #2034
E2E tests pass now

[2018-02-06 14:53] #1869 closed

[2018-02-06 14:54] andrewazores commented on #2176
Updated styling:

![screenshot-20180202151238](https://user-images.githubusercontent.com/3787464/35865812-870cd4d4-0b23-11e8-87cb-26b5f77ee9c2.png)

The donut scaling label is still inside the donut, whereas the design shows it as above the donut as a label within the card.

[2018-02-06 14:54] msrb commented on #2161
@krishnapaparaju could you please provide more context for this task? Thanks 😉

[2018-02-06 14:54] joshuawilson commented on #2189
@mindreeper2420 can you fix this?

[2018-02-06 14:59] dlabrecq commented on #1629
Might want to look at https://github.com/openshiftio/openshift.io/issues/1849

[2018-02-06 14:59] andrewazores commented on #2176
However, this is how the equivalent charts look in the OSO console:

![screenshot-20180206095709](https://user-images.githubusercontent.com/3787464/35866066-2e72ef7e-0b24-11e8-8c3f-097006a87c2d.png)

The pod count/scaling label is within the donut here, so presumably this is the design that @jiekang mirrored when creating the component seen in the Deployments page.

@catrobson should the label be

[2018-02-06 15:00] sivaavkd opened #2190 "New Stack Report - issue with Insights card"
See the attachment

Insights card says Usage Outliers - 1.  However, details section says that there are no usage outliers.

<img width="1680" alt="screen shot 2018-02-06 at 9 54 55 am" src="https://user-images.githubusercontent.com/32661994/35866175-71e1014c-0b24-11e8-8e7b-8e2481265bbf.png">

[2018-02-06 15:13] mindreeper2420 commented on #2189
@joshuawilson I'm not sure why a deprecated angular element is showing up in the `_formulas.less` file. That `.less` file is fine, as Stylelint is green.

[2018-02-06 15:56] jiekang opened #2191 "Deployments API breaks when codebases conflict between production and prod-preview"
If I use the application wizard to add the same codebase to a space in production, and a space in prod-preview, I get conflicts like:

[code]

for the request to `https://api.openshift.io/api/apps/spaces/<spaceId>`

The application `osio-prod-preview` was first added to production space `myspace`, and then added to prod-preview space `abcdefg`. This error prevents the Deployments page from loading

[2018-02-06 16:02] jiekang commented on #2189
Yeah it's pretty strange; I'm not sure they're related. It might just be Chrome's dev console being weird. It's difficult for me to locate where the SyntaxError is truly coming from.

[2018-02-06 16:09] rupalibehera commented on #1933
I was monitoring the Jenkins instance, I tried to reproduce the behavior which leads the slaves in error state. I triggered 5 different [fabric8-planner ui ](https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/view/change-requests/) PR builds simultaneously.
My Observations below:
- The first and second PR CI build took much of the resources
- The other 3 PR build could hardly ac

[2018-02-06 16:21] jiekang commented on #2025
Update:

The applications and environments pages are removed and all unused a-runtime console code are removed.

The next step is to develop a plan for the components that depend on the remaining a-runtime-console code, whether it is to rewrite the dependencies, rewrite the components or something else.

[2018-02-06 16:22] jiekang commented on #1752
https://github.com/fabric8-ui/fabric8-ui/pull/2493

removes the apps and environments pages.

Closing as above has been merged.

[2018-02-06 16:22] #1752 closed

[2018-02-06 16:23] jiekang commented on #2020
Closing as fix has been merged.

[2018-02-06 16:23] #2020 closed

[2018-02-06 16:29] mindreeper2420 opened #2192 "Planner Not Showing Full Information in the List View"
When using Planner, the content of the List View is partially hidden by a horizontal scroll. Unfortunately, there is no scrollbar indicating that I should scroll to the right in order to view the additional information, leaving me to believe that it has been cut off. This is occurring at a screen width of 1440px. This issue becomes compounded when I have child elements.

When I expand my screen to

[2018-02-06 16:36] jiekang commented on #2189
Further investigation: This triggers when routing to any of the Analyze, Plan or Create tabs or sub tabs in a space.

[2018-02-06 17:07] gtema opened #2193 "Updated container image is not pushed to stage"
When doing everything according to the getting started guide the first (initial) project version get's deployed correctly. After implementing a code change new build is triggered, new version tag is deployed, but it contain the original version (without implemented code changes). In the jenkins project of the openshift.io a new image is generated, but in the stage new revision with the same sha256

[2018-02-06 17:10] gtema commented on #2193
![jenkins_project](https://user-images.githubusercontent.com/16461884/35873086-fe59bb3e-0b68-11e8-9838-46bef4eeb541.png)
![stage_project](https://user-images.githubusercontent.com/16461884/35873087-011513d2-0b69-11e8-93f1-61c0e07495f4.png)

[2018-02-06 17:47] bartoszmajsak commented on #2034
Can you share the link showing the last build results?

[2018-02-06 18:07] joshuawilson commented on #2025
@rkratky @qodfathr we have removed the App and Env pages. Can you please remove these from the getting started doc.

[2018-02-06 18:09] ldimaggi commented on #2034
EE tests that run every 4 hours:

   -

   https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-ts-openshift.io-runTest/
   -

   https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-ts-openshift.io-chequickstartTest/
   -

   https://ci.centos.org/job/devtools-test-end-to-end-ts-prod-preview.openshift.io-runTest/
   -

   https://ci.centos.org/job/devtools-test-end-to-end-

[2018-02-06 18:14] aslakknutsen commented on #1629
@surajssd It's in the design doc. Not all values exist, but ignore those for now.

[2018-02-06 19:20] pradeepto commented on #1933
Thanks @rupalibehera for the detailed report.

cc @jfchevrette @maxandersen

[2018-02-06 19:34] muruGanesan commented on #2153
@catrobson,  @joshuawilson, please add me to this repository.
Please remove "mganesan" from the list because IT IS GOING TO SOMEONE ELSE.

I will work with Sukhvir/ Arun and close it.

[2018-02-06 19:53] GeorgeActon commented on #2153
@catrobson @joshuawilson we have sent already Muru an invite in MM @muruganesan

[2018-02-06 20:23] muruGanesan commented on #2153
I accepted and I am part of this repository... let me go through UX related open issues (if any and fix with help of team)

[2018-02-06 21:37] sivaavkd commented on #2190
I just realised that this issue was fixed few months back.  My build pipeline was 4 months old and hence, the issue.  I created a new build and it worked fine for me.  So, closing this issue.

[2018-02-06 21:37] #2190 closed

[2018-02-06 21:44] sivaavkd commented on #1546
@nimishamukherjee - I just tried this and we cannot create multiple work items anymore.  can you try once and see if it is reproducible ?

[2018-02-07 03:06] joshuawilson commented on #1933
Thanks @rupalibehera that confirms what I have long suspected.

[2018-02-07 03:07] joshuawilson commented on #2190
what sprint was it fixed it?

[2018-02-07 03:28] #2115 closed

[2018-02-07 03:30] #1557 closed

[2018-02-07 04:55] miteshvp commented on #2161
@msrb - Currently we have common gremlin-http serving ingestion (read graph_sync) and online users. We should separate those two.

[2018-02-07 06:30] arunkumars08 commented on #2153
@muruGanesan Please let us know when the design for the same is finalized.
Also, @catrobson I know we are following patternfly for style guidelines but is there any place where there are a list of general guidelines like print friendliness, ARIA (accessiblity), browser support and things of this order, which we can look into? If yes, could you please point me to that.
@jyasveer

[2018-02-07 07:33] msrb commented on #2161
@tuxdna Saleem, could you please take a look into this? Thanks 👍

[2018-02-07 08:24] SMahil commented on #2192
PR: https://github.com/fabric8-ui/fabric8-planner/pull/2433

[2018-02-07 08:25] eivantsov commented on #2180
@surajnarwade note that YAML LS won't work for all stacks, just for those with node.js installed.

[2018-02-07 08:33] pranavgore09 commented on #1933
thanks @rupalibehera for finding this

[2018-02-07 08:34] containscafeine commented on #2180
@eivantsov but if we decide on installing dependencies as a resolution to #2179, then we can enable it by default?
WDYT?

[2018-02-07 08:37] eivantsov commented on #2180
Yes, it is just a matter of workspace configuration.

[2018-02-07 09:42] debloper commented on #1933
@rupalibehera nice and detailed observation. I'd like to amend some of the points you mentioned, to:

- UI PR's are VERY resource intensive (partially because of lack of optimizations)
- I think reducing the container cap from 5 to 1 which means only 1 build will execute at a time
- Increasing some more resources from 22 GB to 30 (3x10) GB if that is possible
- The slaves acquire resources dynamic

[2018-02-07 09:59] #1883 closed

[2018-02-07 10:00] jpopelka commented on #2009
Deployment scripts are now part of https://github.com/fabric8-analytics/fabric8-analytics-deployment

[2018-02-07 10:53] hferentschik commented on #1576
I'd argue there is no reason to have it at all. It could be safely removed.

[2018-02-07 10:57] hferentschik commented on #1574
Does one really need to wait for a re-design? A full redesign and reimplementation seem to be a fair bit down the road. Most likely we have to live with the current UI for quite some time more. It could be improved considerably by addressing this consistency issues. There are a lot of low hanging fruits here which would get what we have into a more usable state.

[2018-02-07 10:59] hferentschik commented on #1562
Why would my profile page appear in the list of recent places? If nothing else, this is extremely confusing and against expectations.

[2018-02-07 13:09] apupier commented on #2024
it will be available in openshift.io when Che 6.1 will be integrated
see https://github.com/openshiftio/openshift.io/issues/1150 and https://github.com/redhat-developer/rh-che/issues/448

[2018-02-07 13:38] catrobson commented on #2153
@arunkumars08 HTML/CSS code guidelines: https://fabric8-ui.github.io/fabric8-ux/code-guidelines
Browser support is currently being documented here: https://github.com/openshiftio/openshift.io/issues/2018
Accessibility standards are not documented yet, nor or print standards.

[2018-02-07 13:38] ibuziuk opened #2194 "[prod-preview] Can not start workspace on prod preview due to Sandbox Changed"
Getting the following problem while workspace creation on prod-preview:

| Sandbox Changed | Pod sandbox changed, it will be killed and re-created.

![image](https://user-images.githubusercontent.com/1461122/35919097-50498b76-0c14-11e8-8491-88871796292b.png)

[2018-02-07 13:47] joshuawilson commented on #1933
@dgutride and I are actively working on cleaning up and optimizing the UI build. Once we have that worked out in fabric8-UI we will provide those changes/fixes to the other UI repos.

[2018-02-07 13:47] ldimaggi opened #2195 "Creating a new space - the "Create" button, when pressed, does not close the creation dialog - appears to fail"
Seeing this since late night on February 6, on production and prod-preview.

Steps to recreate:
* Create a new space
* Observe that when the "Create" button is pressed, the space creation dialog is not closed
* No error is logged in the UI or in the browser console
* The space is created, but this is not obvious to the user
* Pressing the "Create" button a second time fails (as expected) as this r

[2018-02-07 13:48] mceledonia commented on #2176
@andrewazores Go ahead and keep the styling consistent with the OSO console, label inside the circle. Looking good!

[2018-02-07 13:49] ldimaggi commented on #2187
Issue found/encountered by EE tests.

[2018-02-07 13:49] ibuziuk commented on #2181
having the same problem for vertx stack:

Failed to pull image "docker-registry.default.svc:5000/ibuziuk-che/registry.devshift.net_che_vertx:moozfstyck4ird1g484aykxw65zsn8": rpc error: code = 2 desc = Get https://docker-registry.default.svc:5000/v1/_ping: x509: certificate is valid for docker-registry-default.1b7d.free-stg.openshiftapps.com, docker-registry.default.svc.cluster.local, 172.30.44.192

[2018-02-07 13:49] ldimaggi commented on #2195
Issue found/encountered by EE tests.

[2018-02-07 13:50] ldimaggi commented on #2195
![screenshot from 2018-02-07 08-40-49](https://user-images.githubusercontent.com/642621/35919697-e7ab3414-0be3-11e8-9ab8-0cd3e7f59d22.png)

![screenshot from 2018-02-07 08-40-32](https://user-images.githubusercontent.com/642621/35919698-e7c2f432-0be3-11e8-996f-9dc220a13eda.png)

[2018-02-07 13:50] ibuziuk commented on #2194
Duplicate of https://github.com/openshiftio/openshift.io/issues/2181

[2018-02-07 13:50] #2194 closed

[2018-02-07 13:52] rhopp commented on #2181
It seems, that today it's stack independent...

[2018-02-07 13:53] joshuawilson commented on #1574
This is to be addressed in this train, just not this sprint.

[2018-02-07 13:54] CermakM commented on #2106
[Here](https://github.com/CermakM/cvejob/blob/research/cve-spike-gh-analysis.ipynb) is the analysis of GH references.
Also, providing [link](https://github.com/CermakM/cvejob/blob/research/cve-spike-package-from-gh.ipynb) for the latest dashboard - atm I have implemented convenient ecosystem based search and visualization through CVEs (local setup needed, however).

[2018-02-07 13:55] joshuawilson commented on #1562
while I understand what it is doing, I would prefer to have @qodfathr and @catrobson respond

[2018-02-07 13:57] #2176 closed

[2018-02-07 14:12] joshuawilson commented on #2195
how long have you seen this? Can you confirm that it worked yesterday? (when did the tests start to fail?)

[2018-02-07 14:22] pbergene commented on #2181
Over the past few days free-stg has been upgraded from 3.7 to 3.9.
Earlier this week it has had differing versions on compute and master nodes (and kubernetes versions), but now it has settled on 3.9 & 1.9, so the target we are testing against has stabilized.

So as we are still experiencing it, we should be taking into consideration that this can be a result of the version change.

[2018-02-07 14:29] pbergene commented on #1933
Downgraded severity after no objections on triage.

[2018-02-07 14:41] xcoulon opened #2196 "space should not appear in the "recent spaces" card after deletion"
After deleting a space, it still appears in the "recent spaces" card on the home page, which is wrong. After a hard refresh, the entry does not appear anymore. Looks like a UI caching issue.

[2018-02-07 15:07] joshuawilson opened #2197 "set the env var for the feature toggle to use the proxy"

[2018-02-07 15:27] jiekang opened #2198 "Create Area Dialog breaks f8-ui web application"
The application breaks after opening and closing the Create Area dialog with, for example:

[code]

The code has:

[code]

but `openSubscription` is never given a value.

[2018-02-07 15:29] jiekang commented on #2198
@dgutride Do you know what the intended use of `openSubscription` is in `create-area-dialog.component.ts`?

[2018-02-07 15:36] pbergene commented on #2181
I'll read the issue before commenting, this looks like something that has changed during the upgrade that should be fixed infra side @jfchevrette

[2018-02-07 15:39] jfchevrette commented on #2181
I've reached out to the folks running the staging. Will report here once I have more info & a fix

[2018-02-07 15:41] jfchevrette commented on #2181
Fix is being built and applied today. Will report here once that is done so we can validate.

[2018-02-07 15:43] dgutride commented on #2198
If it's not used - we can remove it.  It was probably a holdover from trying to capture the open event that didn't work for us.

[2018-02-07 15:47] jiekang opened #2199 "Deployments charts are not aligned"
![charts](https://user-images.githubusercontent.com/5430520/35925567-0e69c830-0bf4-11e8-838c-1d9e2c5779b5.png)

As seen in the above picture, for whatever reason, the first points in the charts are misaligned between the CPU/Memory and the Network chart. This always occurs, regardless of how many points are in the chart.

[2018-02-07 16:40] joshuawilson commented on #2196
This fits under the caching issue we have.

[2018-02-07 17:00] joshuawilson commented on #2198
What severity is this?

[2018-02-07 17:07] jiekang commented on #2198
@joshuawilson

I suggest 2 or 1 as the entire application is unusable after visiting the areas page. You can't even hard refresh since it will visit the areas page and immediately break; you need to hard refresh into a different page by entering a different URL.

I've opened a PR that fixes this. https://github.com/fabric8-ui/fabric8-ui/pull/2509

I'm perplexed why this wasn't seen in the past tho

[2018-02-07 20:33] ldimaggi commented on #2195
![screenshot from 2018-02-07 11-50-27](https://user-images.githubusercontent.com/642621/35940155-39a27222-0c1c-11e8-8ac3-d977e29186b8.png)

Started seeing this late on February 6 (Boston time).

[2018-02-07 20:34] ldimaggi commented on #2195
It's fixed now - thanks!

[2018-02-07 20:50] jiekang commented on #2198
Closed as fix has been merged.

[2018-02-07 20:50] #2198 closed

[2018-02-07 20:52] ldimaggi opened #2200 "In production, after env reset, infinite loop of websocket errors seen - quickstart pipeline creation fails"
Steps to recreate:
* Reset user env
* Observe Chrome browser log for repeated series of these errors:
[code]
Impact to user - if a new quickstart is then created, the pipeline for the quickstart is not created. This error is written to the browser console log:

[code]

[2018-02-07 20:55] aptmac commented on #2038
Sorry about that, I was having trouble with my fork and must have accidentally closed this. :/

[2018-02-07 21:04] ldimaggi opened #2201 "Intermittent issue - user's OSO account is disconnected"
Started seeing this problem on February 5 - seeing it intermittently. A user's OSO account is getting disconnected from OSIO:

![screenshot from 2018-02-07 15-23-45](https://user-images.githubusercontent.com/642621/35941505-6f323d9c-0c20-11e8-92af-f1b0b7677b49.png)

No cause or pattern is apparent yet, but it has been see 5+ times in the past 72 hours.

## Impacts
- [ ] #2278 Environments placehol

[2018-02-07 21:05] ldimaggi commented on #2201
Issue found/encountered by EE tests.

[2018-02-07 21:05] ldimaggi commented on #2200
Issue found/encountered by EE tests.

[2018-02-07 22:22] aslakknutsen commented on #2200
This has been observed unrelated to env reset

[2018-02-07 23:10] ldimaggi commented on #2200
Have you seen this only in the past 2-3 days? Or at other times?

[2018-02-08 00:44] mishaone opened #2202 "Jenkins status in the tenant status indicator is always "in progress"/grey"
After resetting the environment and tenant several times, the Jenkins tenant status remains greyed out, i.e. "in progress". I can access Jenkins builds okay, etc. so it looks like it's just the presentation and doesn't reflect the actual status AFAIK.
![jenkins](https://user-images.githubusercontent.com/926572/35949409-06a7c1c8-0cbd-11e8-84aa-9baf51118da9.png)

[2018-02-08 01:52] #1969 closed

[2018-02-08 02:27] ldimaggi commented on #2195
Just verified that this is fixed in production.

[2018-02-08 02:27] #2195 closed

[2018-02-08 02:42] ldimaggi commented on #2200
Verified that this is fixed in production. Closing.

[2018-02-08 02:49] sunilk747 commented on #833
@samuzzal-choudhury If the documentation and readme corrections are done can you please close this issue?

[2018-02-08 02:54] sunilk747 commented on #843
@samuzzal-choudhury Is this bug fixed? If it is done please close this or else point me to the file where it needs to be changed I will raise a PR for it.

[2018-02-08 02:58] sunilk747 commented on #1808
@tisnik  If you are clear with your doubts can you please close this issue.

[2018-02-08 03:33] #1867 closed

[2018-02-08 03:39] joshuawilson commented on #1439
What is the status of this? It is blocking #2291

[2018-02-08 03:51] arunkumars08 commented on #2153
@catrobson Thanks Catherine, and the reason I asked for this is when we talk about print, I think we need to decide on what has to be shown to the user for printing. Analytics, for example, being a data intensive application, we can't simply let the user print all that are being shown as it includes 'accordion', 'tabs', 'cards', and a few more components that aren't by default print friendly.

[2018-02-08 03:54] joshuawilson commented on #2153
Think about it from a managers point of view. They may ask you as the dev to print the report out so they can review it. Personally I would just have them log in and look at it on the system.

[2018-02-08 05:09] samuzzal-choudhury commented on #843
@sunilk747 are you blocked because of this? This schema change will trigger changes in OSIO stack report as well as stack-report-ui. Let's hold on until the next sprint.

[2018-02-08 05:38] sara-02 commented on #2090
With the recent data that was collected by @msrb [here](https://s3.console.aws.amazon.com/s3/object/dev-stack-analysis-clean-data/maven/wildfly/manifest.json?region=us-east-1&tab=overview), I ran some numbers to see how useful it can be for our use-case. Unfortunately the data does not look any promising.

Total manifest collected: **250**
Total unique packages identified: **1776**

Inside the man

[2018-02-08 08:58] hferentschik opened #2203 "UI does not reflect permissions on viewed space"
Per design, spaces are public, which means they can be accessed by anyone provided one has the link. However, one does not have any permissions to modify anything (eg create codebases, pipelines, etc). This is not reflected in the UI. The UI looks and behaves the same no matter whether I view my own space or another user's space.

To reproduce, log into the UI. There will be all the UI elements to

[2018-02-08 09:29] arunkumars08 commented on #2153
Agree.

[2018-02-08 11:19] goern commented on #1052
a question on another level... will OSIO provide a GA service so that other projects can query the database, eg ask OSIO for all CVE related to package XYZ?

[2018-02-08 13:34] andrewazores commented on #2183
The bottom "Resource Usage" panel shows cards with the totals for each environment still, but the bug is that each individual deployment card shows those same numbers as its own upper limit. So if you're on OSO Starter and have 1GB of memory in your Stage environment, the Stage card will tell you you have 1GB of memory, and a health-check-example deployed in Stage with 1 pod will tell you that tha

[2018-02-08 13:36] andrewazores commented on #1987
This is done after that last set of commits was merged.

[2018-02-08 13:36] #1987 closed

[2018-02-08 13:39] andrewazores commented on #1662
This API is available since: https://github.com/fabric8-services/fabric8-wit/pull/1870.

[2018-02-08 13:46] joshuawilson commented on #2203
This is something we are planning to fix. @catrobson do you have designs on this or just notes?

[2018-02-08 13:58] andrewazores opened #2204 "Deployments network chart shows fractional values in tooltip"
![screenshot from 2018-02-08 08-51-42](https://user-images.githubusercontent.com/3787464/35976311-b76402a2-0cad-11e8-94e5-f8929cf510d6.png)

I believe the values are fractional because the backend is returning an average sample over a time span, but this may not be clear to users. It seems especially confusing when the traffic is low and the units are Bytes. Should the value be rounded/truncated?

[2018-02-08 14:12] andrewazores commented on #2183
![screenshot-20180208091030](https://user-images.githubusercontent.com/3787464/35977056-0e1f97ee-0cb0-11e8-974b-5c3d9485ebcd.png)

Here's an example showing the current state. The Environment card shows that 512/1024MB of memory are used, but the individual deployment with one pod is showing 149.8/1024MB. The deployment should be 149.8/512MB.

[2018-02-08 14:15] andrewazores commented on #2199
![screenshot-20180208091410](https://user-images.githubusercontent.com/3787464/35977221-74bdaab8-0cb0-11e8-9664-92d238d76cb6.png)

The alignment does seem to fix itself after some number of data points are added to the charts, but it should be aligned correctly from the start.

[2018-02-08 14:43] andrewazores commented on #2199
![screenshot from 2018-02-08 09-42-35](https://user-images.githubusercontent.com/3787464/35978691-6eccbcd0-0cb4-11e8-892d-04a993c6a2d9.png)

Hmm. Looks like it's C3 drawing the chart that way, not anything about the styles we're applying...

[2018-02-08 14:46] qodfathr opened #2205 "Unit tests will not run in Che for Vert.x HTTP Booster -- "No tests found to run. Test suite is empty.""
Create a new HTTP booster.
Create a workspace for the codebase.
In Che, run the project (so that is compiles)
Navigate to src/test/java/io.openshift.booster
Right-click on that folder and Run JUnit tests:
![image](https://user-images.githubusercontent.com/16322190/35978716-7948f2dc-0cb4-11e8-9c5b-718530429b8e.png)
Notification indicates that tests ran successfully:
![image](https://user-images.git

[2018-02-08 14:49] ibuziuk commented on #2205
@qodfathr could we close it as duplicate of https://github.com/openshiftio/openshift.io/issues/1060 ?
Currently JUnit test works via project explorer only if the project was built beforehand

[2018-02-08 14:54] qodfathr commented on #2205
How do I build it? I did run it before running the unit tests. There is no build option that I can find (other than run).

[2018-02-08 14:56] ibuziuk commented on #2205
@qodfathr you could build the project by executing the "build" command from Command Explorer

[2018-02-08 15:02] aslakknutsen commented on #2200
@joshuawilson It's the UI using some 'random' URL for some reason. Wondering if this could somehow be related to the init order issue @dgutride was talking about. 'Sometimes' some component come up before the URL env is loaded and ends up using a wrong url?

[2018-02-08 15:04] qodfathr commented on #2205
I'll close as a dupe. Is the lack of a build command in the menus another issue?

[2018-02-08 15:04] #2205 closed

[2018-02-08 15:04] joshuawilson commented on #2204
@catrobson @qodfathr do you have any thoughts on this question?

[2018-02-08 15:05] pmacik opened #2206 "'Failed to create "<SPACE>"' error notification occurs when logging out after completing space-qs-creating wizard"
Steps to reproduce:
1. Login to `openshift.io`:
2. Click on `Create a Space` button to start the wizard
3. Follow and finish the wizard to create a new QS project for 'Spring Boot - HTTP Example '.
4. When space and project are created a build appears in Pipelines and OK notification is shown (which indicates that space is indeed created:

![image](https://user-images.githubusercontent.com/3263627

[2018-02-08 15:07] ldimaggi commented on #2200
It looks like tis problem is resolved - or is that only the impression that I am getting? Is this a random issue that I have simply not seen in the past 10 hours?

[2018-02-08 15:28] hferentschik opened #2207 "Avoid links to OpenShift Console Pipeline view"
Currently, there is a link from the Pipeline box on the Analyze page to the build pipeline view in the OpenShift Console:

![analyze-pipeline](https://user-images.githubusercontent.com/296354/35980807-f64da3ae-0ceb-11e8-885b-1457a83756e3.png)

The link in the above screenshot refers to https://console.free-stg.openshift.com/console/project/hferents/browse/pipelines/demo-3-stage. It should just ref

[2018-02-08 15:31] joshuawilson commented on #2200
@aslakknutsen we need to dig into it. we put a hack in place to fix it, but I want to get it done right.

[2018-02-08 15:56] jiekang commented on #1662
Closing as completed. Thanks!

[2018-02-08 15:56] #1662 closed

[2018-02-08 16:10] ibuziuk commented on #2205
well, I believe it was not exposed deliberately in order not to overload UI panels. In Che 6 apart from command explorer there is also command palette for command execution:
![image](https://user-images.githubusercontent.com/1461122/35983674-c907488a-0cf2-11e8-9c2b-4d9d7bb0c819.png)

[2018-02-08 16:12] hferentschik commented on #2207
There seems to be a concern that this removes a link to the OpenShift Console. That is correct, however, this link is implicit anyway. It is not obvious for the user that this is potential entry point to the OpenShift console and if no pipeline is defined this link does not even exist. So if access to the OpenShift Console is a concern, I suggest adding an explicit menu item (top level) to get to

[2018-02-08 16:22] andrewazores commented on #2199
It's not a proper solution to the problem, but I wonder if preloading 15 minutes of samples masks this scenario. @aptmac , do you still see this on your branch?

[2018-02-08 16:23] jiekang opened #2208 "Investigate websockets for Deployments page"
The Deployments page content currently comes from polling HTTP requests. Some of this data should be obtained via websockets instead, so that changes come as soon as they are available, and network traffic is decreased.

* API: Add websocket endpoints
* UI: Use websocket endpoints

[2018-02-08 16:34] joshuawilson commented on #2207
@catrobson has your team been working on a new design or updated design of the pipelines page?
What do you think of @hferentschik suggestions?
cc @qodfathr

[2018-02-08 16:41] aptmac commented on #2199
@andrewazores Yeah it's still present on my branch. After digging a bit deeper, it looks like the c3-chart isn't filling it's allocated space.

Example: the cpu-chart has 253.66px width in this case..
![2018-02-08-113829_1916x1033_scrot](https://user-images.githubusercontent.com/10425301/35985449-ae58e710-0cc4-11e8-953e-8c6f2ce2bf96.png)

But the c3 chart only has a width of 248px.
![2018-02-08-11

[2018-02-08 16:46] ibuziuk commented on #1789
@ldimaggi closing. feel free to reopen

[2018-02-08 16:46] #1789 closed

[2018-02-08 18:21] aslakknutsen commented on #2200
@joshuawilson @ldimaggi Ok, if there is a hack in place it might have fixed it

[2018-02-08 18:25] chrislessard commented on #1999
@qodfathr a fix for this was merged. Can this issue be closed ?

[2018-02-08 18:42] jiekang commented on #1999
I'm sure you can close this at your discretion. If it turns out to still be an issue, it's easy to reopen.

[2018-02-08 18:59] #1999 closed

[2018-02-08 19:43] joshuawilson commented on #2207
cc @chmouel @sthaha

[2018-02-08 20:11] aptmac commented on #1829
I think this issue is a duplicate of https://github.com/openshiftio/openshift.io/issues/1798, which was addressed in https://github.com/fabric8-ui/fabric8-ui/pull/2445.

The notification correctly renders when adding a scenario:
![2018-02-08-150831_1581x292_scrot](https://user-images.githubusercontent.com/10425301/35995616-f10d714e-0ce1-11e8-973f-1d5081dacd13.png)

[2018-02-08 20:30] #1708 closed

[2018-02-09 05:37] dharmit opened #2209 "Unable to create new workitems (cards) on OSIO"
I'm trying to create new card on our [OSIO space](https://openshift.io/bkundu@redhat.com/CentOS_Container_Pipeline/plan/board). Clicking on "+" sign under the "new" column does nothing. I tried on both Firefox and Chrome.

Firefox version: Firefox Nightly 60.0a1 (2018-02-07) (64-bit)
Chrome version:  64.0.3282.140 (Official Build) (64-bit)

[2018-02-09 05:39] bamachrn commented on #2209
I am also facing the same issue here, not able to create cards.

[2018-02-09 05:41] joshuawilson commented on #2209
what is a card?

[2018-02-09 05:41] dharmit commented on #2209
@joshuawilson a workitem

[2018-02-09 07:28] pombredanne commented on #1052
@goern wrote

I cannot say is there such a plan for OSIO, but on my side this is the exact goal of https://github.com/nexB/vulnerablecode as a fledgling project ;)
Having this in OSIO would be awesome!

[2018-02-09 10:25] jmelis opened #2210 "Pipelines are hung: No stages have started"
This issue is seen after following the Getting started guide for the first time.

The pipeline indicates that "No stages have been started". Jenkins is hung at this stage (for more that 20 minutes):

[code]

Observations:

* Che and Jenkins are both running (Jenkins : 4.0.48)
* I created a new project using the options described in the [Getting started guide]
* After ten minutees passed I tried to

[2018-02-09 11:36] gastaldi commented on #740
This issue looks outdated. It can be closed now

[2018-02-09 14:41] mceledonia commented on #2183
If I am understanding correctly it sounds like it would be more helpful to have the deployment cards contain the usage versus pod summation quota, instead of the current design of usage versus environment quota as per @jiekang's request. This makes sense to me and keeping the total (per environment quota) contained at the bottom sounds like it will be enough to retain the usefulness of that info.

[2018-02-09 14:54] #740 closed

[2018-02-09 15:02] ldimaggi opened #2211 "SpringBoot quickstarts are missing on prod-preview"
![screenshot from 2018-02-09 09-13-32](https://user-images.githubusercontent.com/642621/36033933-5364925c-0d80-11e8-86b4-adca88ce7070.png)

## Impacts
- [ ] #2084 Getting Started Quickly with a Framework - from Wizard, to IDE, to Deployment

[2018-02-09 15:03] ldimaggi commented on #2211
The SpringBoot quickstarts are not missing from production.

[2018-02-09 15:16] jiekang commented on #2183
@mceledonia That sounds correct to me. I think this came from the design;;;

[2018-02-09 15:19] jpopelka commented on #2168
@tisnik looking at it from your QE perspective, you're right.
But it's quite difficult to keep the list there up2date, since the README is a bit hidden.
Also some tasks/workers are even no longer running, so describing them in the list wouldn't make much sense.
So what about explicitly stating that the list there are just examples ? Would that be OK ?

[2018-02-09 15:43] jiekang commented on #2188
@catrobson @mceledonia Can you give some guidance on this? Is it okay, or should things change and if so, how?

[2018-02-09 16:03] andrewazores opened #2212 ""Add Areas" dialog title displays outside of modal dialog box"
![screenshot from 2018-02-09 11-00-20](https://user-images.githubusercontent.com/3787464/36036798-c96e9440-0d88-11e8-9cf4-88f5969b4721.png)

@chrislessard

[2018-02-09 16:03] andrewazores commented on #2212
Screenshot taken from prod-preview.

[2018-02-09 16:35] GeorgeActon commented on #2167
@sivaavkd  I have assigned a severity for this issue. Review please

[2018-02-09 16:41] ldimaggi opened #2213 "All quickstart builds are failing on prod-preview"
Note: This issue affects prod-preview - this is not failing on production.

[code]

[2018-02-09 17:05] jfchevrette commented on #2181
This should be resolved. Please validate & close

[2018-02-09 19:04] sivaavkd commented on #2167
thanks @GeorgeActon
@jyasveer - can you share eff pom with @sara-02 ?

[2018-02-09 23:43] chrislessard opened #2214 "Information in add areas modal persists after modal is closed"
Steps to reproduce

1. Navigate to the areas section of some space
2. Click "Add Areas"
3. Create a new area
4. Click "Add Areas" again, or create a child area
5. The name of the recently created area will persist in the "name" input element

[2018-02-10 08:54] sara-02 commented on #2167
@sivaavkd the Effective Pom has been provided, I am trying to replicate the issue on dev-cluster with additional logs in place, but I am blocked by this issue on Gitlab https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1151, will have to resolve this kronos issue first.

[2018-02-10 09:04] sara-02 commented on #2090
The new data that was collected by @msrb with the search tag `org.wildfly.swarm`, it looks promising.

Total manifest collected: **87**
Total unique packages identified: **864**

Inside the manifest lists:

- Number of occurrence of `org.wildfly.swarm:jaxrs`: **48**
- Number of occurrence of `org.wildfly.swarm:monitor`: **10**
- Number of occurrence of `org.wildfly.swarm:cdi`:**21**
- Number of oc

[2018-02-10 13:49] divyanshiGupta commented on #1992
@aslakknutsen the changes are available in prod now. If it looks good to you then can you close the issue?

[2018-02-11 07:11] joshuawilson opened #2215 "Update docs links"
The docs team has released the getting started doc. This is to replace the pdf version that we currently have.

We need a link to this from the landing page and from within the running app.
We also need to remove the outdated pdf version.

Please use https://docs.openshift.io/getting-started-guide.html

This is need to support https://github.com/fabric8-ui/fabric8-ui/pull/2516

[2018-02-11 07:15] joshuawilson commented on #2215
@catrobson can you help identify where this link should go?
@mindreeper2420 can you add this link once a location is set?
@qodfathr here is the getting stared doc for your review.
@rkratky I noticed that the `Deployments` page image is with the `internal` setting, it is `experimental` in production. @corinnekrych can you please update prod-preview accordingly.

[2018-02-11 11:36] corinnekrych commented on #2215
@joshuawilson i've just set it experimental

[2018-02-12 02:46] miteshvp commented on #2167
@sara-02 I guess you need to try different strategy rather than being blocked just because your kronos service is not coming up

[2018-02-12 03:22] krishnapaparaju opened #2216 "Sprint plan for Fabric8 Analytics: #145"
**IDE Extensions:   Publish  IDE extensions**

- [x] Revisit 3Scale SaaS to fix CORS issue
- [x] Explore AWS API Gateway if CORS issue could not resolved with 3Scale SaaS

**Adding Insights to the platform**
***WF Swarm***
- [ ] Promote changes to production: insights to cover WildFly Swarm applications  #2090

***Node***
- [ ] Implement post filter for 'CVAE' and document insights been generated

[2018-02-12 03:33] krishnapaparaju opened #2217 "Make the boosters work with Launcher at OSIO"
The boosters documented here at
https://github.com/fabric8-launcher/launcher-documentation/wiki.

These boosters would need to working at OSIO launcher and across the complete user flow for an OSIO user (Che, Build, Analytics)

## Parent Experience
#2084 Getting Started Quickly with a Framework - from Wizard, to IDE, to Deployment

#### Task List
- [ ] Redhat GA Booster ingestion to Analytics #248

[2018-02-12 03:57] arunkumars08 commented on #1546
@nimishamukherjee Closing this issue as this is not reproducible. Please reopen it if you find it otherwise.

[2018-02-12 03:57] #1546 closed

[2018-02-12 04:53] vikram-raj commented on #2185
This issue has been fixed and it is in production.

[2018-02-12 04:53] #2185 closed

[2018-02-12 05:32] mishaone commented on #945
First time using prod-preview here and haven't had a build start yet (3 so far set to new).

[2018-02-12 08:10] msrb commented on #2186
This table and the logic around it seems to be completely broken. What's the purpose of blindly replacing one URL for the other? What if we analyze junit:junit/4.12 today (github.com/junit-team/junit.git) and older junit:junit/3.8.2 tomorrow (with URL http://junit.cvs.sourceforge.net/junit/). We end up monitoring old URL which upstream doesn't use any more.

+1 on removing the confusing "active" c

[2018-02-12 08:32] msrb commented on #2121
Some docs here: https://github.com/msrb/cvejob/blob/master/docs/cvejob.md

[2018-02-12 08:32] #2121 closed

[2018-02-12 08:45] corinnekrych commented on #2053
`spike: unleash admin ui - how to customize it?` spike is done. tech used is react.js Some PR done
https://github.com/Unleash/unleash-frontend/ have been merged already. Interactive community :)

[2018-02-12 08:45] pkettman commented on #1846
I just retested it on prod and it seams to work fine now.

[2018-02-12 08:45] #1846 closed

[2018-02-12 08:48] msrb opened #2218 "[3] psycopg2.IntegrityError: insert or update on table "package_worker_results" violates foreign key constraint "package_worker_results_package_analysis_id_fkey""
_From @jpopelka on June 7, 2017 15:22_

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-worker#43_

[2018-02-12 08:48] msrb commented on #2218
_From @fridex on June 12, 2017 12:50_

Was this issue found in the cluster?

[2018-02-12 08:48] msrb commented on #2218
_From @jpopelka on June 12, 2017 12:59_

Yes, I can still (*2017-06-12 12:43:55,589*) see it on `bayesian-production`

[2018-02-12 08:48] msrb commented on #2218
_From @fridex on June 12, 2017 13:11_

Thanks, I think the reason why we see this are old messages in the queue where `InitPackageFlow` was not run and `package_analysis_id` tends to be old `analysis_id` as it matches `document_id` - this was introduced in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/27

Are we sure that all scheduled messages were processed to this day? Espe

[2018-02-12 08:48] msrb commented on #2218
_From @fridex on August 3, 2017 12:31_

I haven't seen this issue for a while. I think it was caused by introduction of package level flows as stated above. Closing but feel free to reopen if this issue persists.

[2018-02-12 08:48] msrb commented on #2218
_From @jpopelka on August 15, 2017 9:40_

Bad news, I can still see this on prod when ingesting nugets.

[2018-02-12 08:48] msrb commented on #2218
_From @fridex on August 16, 2017 8:26_

Tracing this issue a bit - my observations:

This issue is caused by InitPackageFlow based on `worker` field. The error in `store_error` shouldn't occur as we do not store errors of init tasks (see https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/storages/postgres_base.py#L118 ).

The error with non-existing package_analys

[2018-02-12 08:51] pkettman commented on #2050
The Learn more page layout is formatted fine now. But I still can't get to the page from the OSIO homepage on my Google Chrome V61.0.3163.100.

[2018-02-12 08:56] #2151 closed

[2018-02-12 09:08] msrb opened #2219 "[3] No such bucket error encountered"
_From @tuxdna on January 31, 2018 11:34_

Start the import :

http://localhost:32000/api/v1/component-analyses/maven/org.apache.tomcat:tomcat-servlet-api/8.5.6

Data import into graph fails for a  package: /maven/org.apache.tomcat:tomcat-servlet-api/8.5.6

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-data-model#74_

[2018-02-12 09:08] msrb commented on #2219
_From @jpopelka on January 31, 2018 11:40_

Yeah, I think I've seen that too.
Would be nice if the data_importer could cope with the non-existing bucket.
But if it really needs the bucket to be there,
then for local testing we have [fabric8-analytics-cvedb-s3-dump-docker](https://github.com/fabric8-analytics/fabric8-analytics-cvedb-s3-dump-docker),
which uploads data to minio (local S3 equivalent)

[2018-02-12 09:08] msrb commented on #2219
_From @tuxdna on February 5, 2018 19:54_

I could reproduce the error again. However it seems like the bucket gets created once we analyze some other package, and later force analyze ( using curl -X POST ) the first package again.

Therefore, the bucket is getting created after it is required the first time by data importer.

[2018-02-12 09:08] msrb commented on #2219
This is weird, isn't it? It sounds like some logical error somewhere. Do we know what bucket is missing?

[2018-02-12 09:11] msrb commented on #2045
@humaton please summarize the discussions you had on this topic with various people. Either here or in a google doc. Thanks.

[2018-02-12 09:13] msrb opened #2220 "Improve Jobs API concurrency"
_From @tuxdna on February 2, 2018 10:27_

We are currently encountering Gateway Timeouts when the Jobs API calls take very long time to process. This is already a known issue https://github.com/fabric8-analytics/fabric8-analytics-jobs/issues/164

Another issue that I realized is that the number of API workers are at present set to only 1. This causes other clients to wait until a request completes

[2018-02-12 09:13] msrb commented on #2220
_From @fridex on February 2, 2018 10:31_

BTW see https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/f8a-jobs.py#L109-L112

[2018-02-12 09:13] msrb commented on #2220
_From @tuxdna on February 2, 2018 10:35_

There are two options:

 * first is to increase the number of uwsgi workers here - https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/028e37e149d900dbade54d1529c89ad831b26a71/hack/run_jobs.sh#L7
 * second is to increase the number of replicas running inside OpenShift for Jobs Service - https://github.com/fabric8-analytics/fabric8-analytics-jo

[2018-02-12 09:24] rhopp commented on #2181
Hi @jfchevrette we are still seeing this issue on prod-preview.
![image](https://user-images.githubusercontent.com/1215011/36089991-d45cb21c-0fde-11e8-977f-262827af437e.png)

[2018-02-12 09:26] msrb commented on #2220
Having scheduler running as part of the server process seems to be the limiting factor here. I think it would be much better to separate the two components (API and scheduler). This hidden scheduler is an easy way how to shoot ourselves in the foot.

[2018-02-12 09:29] msrb commented on #2218
This looks fishy: https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/init_package_flow.py#L84-L95

[2018-02-12 09:43] msrb commented on #1438
This is no longer relevant as guys decided to take a different approach and introduced "backbone" service instead. Closing.

[2018-02-12 09:44] #1438 closed

[2018-02-12 09:51] jpopelka commented on #2186
Maybe @fridex can shed some light on this ?

https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/253

@msrb Since it's end of sprint, I'd suggest merging [my worker PR](https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/514) to remove the `active` flag and stop adding new entries needlessly.
And create a follow-up ticket for your 'logic-being-completely-broken' issue a

[2018-02-12 10:56] fridex commented on #2186
The original design tried to keep the upstream URL based on the record from the last analyzes assuming f8a analyzes packages when they get released so the upstream URL can be updated to reflect changes that were made upstream. There is kept one upstream URL per package (avoiding keeping multiple URLs per project that could be invalid). Without doing some logic on top of release identifiers there i

[2018-02-12 11:17] msrb opened #2221 "Store timestamps when tasks started and finished in worker_results table"
# Description

Such a crucial information as when task started and when it finished is missing from our bookkeeping data in RDS. The same for package level data. We should add it.

The information needs to be available via Bookkeeping API.

[2018-02-12 11:49] tuxdna commented on #2048
Last time I checked the progress of Maven graph sync, went till package named `org.ops4j.pax.exam:pax-exam-spi` which is ranked `104495` out of total `131460` Maven packages ( considering lexicographic order by name ). This is about 79% of all packages which were synced.

[2018-02-12 11:53] ibuziuk commented on #1439
@ashumilova am I correct that after merging PR to wit [1] which would add "self" / "ide" links and status info it would be enough for UI to handle the following operations directly without calling wit:

- status
- stop
- delete

[1] https://github.com/fabric8-services/fabric8-wit/pull/1893

[2018-02-12 11:57] tuxdna commented on #1445
Closed via: https://github.com/fabric8-analytics/fabric8-analytics.github.io/pull/1

[2018-02-12 11:57] #1445 closed

[2018-02-12 12:07] ashumilova commented on #1439
@ibuziuk hi, yes - will try, thank you

[2018-02-12 12:43] jpopelka opened #2222 "[CVEDBSyncTask] dependency-check.sh --updateonly ended with 248"
I've spotted the following on **prod-preview** couple times, so it's probably not a one-time issue:

{"task_id": "680a9129-890d-4b67-b9ed-04e1b2f64f33", "node_args": {"job_id": "cveCheckJob", "only_already_scanned": true, "ignore_modification_time": false}, "parent": {}, "queue": "STAGE_ingestion_CVEDBSyncTask_v0", "task_name": "CVEDBSyncTask", "flow_name": "cveCheckFlow", "dispatcher_id": "57ce17

[2018-02-12 13:14] ravsa opened #2223 "Backend API Service Implementation for Dependency Editor"
#### User Story:

As an OSIO user, I will be able to get Stack Analysis and CVE analysis for user stack.

#### Description:
Implementation of logic for storing dependency snapshot column in RDS and creating API end-points for dependency editor and decoupling of services.

#### Tasks:
- [x] A column should be added to the RDS stack analysis table for storing Dependency Snapshot as JSON
- [x] Implem

[2018-02-12 13:17] sunilk747 opened #2224 "License scoring services for dependency editor"
## User story
As an OSIO developer I should get a conflict free representative license for my selected stack.

## Description
Currently there is no separate public facing API endpoint for license services. As of now all the license scoring activity was done internally while calling the stack-analysis endpoint. With the current implementation a user won't be able to get a representative license for

[2018-02-12 13:24] #2091 closed

[2018-02-12 13:35] ldimaggi commented on #2213
The builds are still failing:

[code]

[2018-02-12 13:38] jpopelka commented on #2222
Checking the memory consumption:
`docker stats` claims the container needs  max 1.4GiB when updating the DB so the current memory limit 1.5GiB should be fine.

[2018-02-12 13:49] joshuawilson commented on #2050
@pkettman there is a link in the center of the page below the image of the laptop that is called `Learn more about the features`. There is also the `Features` link in the header. Do these not work for you?

[2018-02-12 13:55] msrb commented on #2048
@miteshvp can we query graph for exact numbers of Maven packages/components please?

[2018-02-12 14:40] pkettman commented on #2050
When I click the "Learn more" link on the homepage, whole text is: "Learn more what Openshift.io can do for you." I can't get to the Learn more page and I am moved back to the homepage, see below. This happens only in my Chrome V61.0.3163.100 and works fine with Firefox and Chromium v56.
![osio_homepage](https://user-images.githubusercontent.com/26871874/36101800-a931ff9e-100a-11e8-8bb9-f8d4467cd0

[2018-02-12 14:49] sara-02 commented on #2090
Out of the 864 unique packages identified in the WildFly Swarm ecosystem, 243 have already been tagged during the tagging process for Vertx/Springboot.
The rest 621 are under the process of being manually tagged by the team.

[2018-02-12 14:50] joshuawilson commented on #2050
Ah, I thought you were talking about the main landing page. Once you are logged in if you click that link it opens up the Learn more page in a new tab.

[2018-02-12 14:51] sara-02 commented on #2090
@msrb @miteshvp while tagging of packages will take 1-2 days, I think we can parallel start ingesting the data into graph, if that is not in place. We already have the package list, if not we can obtain from the `manifest.json` of `wildfly.swarm`

[2018-02-12 15:04] jiekang commented on #1658
#1909 is now tracked under #1443. Removing from this issue.

Update on remaining work:

Provide ability to delete deployments : Waiting on API

Show alerts for deployment failures: Requires API, or internal calculation logic. Would be preferable to have websocket API as polling API isn't as great of a user experience.

Loading indicators

[2018-02-12 15:09] pkettman commented on #2050
Yes, a new tab is opened with url https://openshift.io/_gettingstarted but after some seconds it's from an unknown reason forwarded to https://openshift.io/_home.

[2018-02-12 15:24] #2214 closed

[2018-02-12 15:24] #2212 closed

[2018-02-12 15:29] joshuawilson commented on #2050
@catrobson can you please look into this with regard to how we link to docs?

[2018-02-12 15:31] pbergene commented on #2213
Same root cause as https://github.com/openshiftio/openshift.io/issues/2181
It is our highest priority tasks for ops.

[2018-02-12 15:32] nimishamukherjee commented on #1996
@aslakknutsen are you still facing this issue?

[2018-02-12 16:26] qodfathr commented on #1562
@hferentschik recent places includes your visits to Spaces, Teams, and Accounts. (And possibly other places.) You are seeing it in both places because the one on the right is permanent (it's how you get to your profile) whereas the one of the left just means that you recently went to your profile. So, semantically, it's correct. I guess we could optimize that a visit to your own profile does not c

[2018-02-12 16:28] qodfathr commented on #2204
While I'm okay with fractions for time-series data, I also feel that more than 1-2 decimal places is hard on the eyes. @catrobson does UXD have guidelines on this?

[2018-02-12 16:43] jiekang opened #2225 "Provide status information for when pod deployments fail"
Parent: #1658

There needs to be some way for the UI to know when a pod deployment fails.

In Openshift, there is a websocket connection to, for example, wss://api.starter-us-east-2.openshift.com/api/v1/namespaces/jkang-run/events?watch=true&resourceVersion=928801073 that provides information like:

"Error creating: pods "osio-prod-1-1-" is forbidden: exceeded quota: compute-resources, requested:

[2018-02-12 16:44] jiekang commented on #2225
@ebaron @stooke Would you be able to look at what it would take to provide an API for this?

[2018-02-12 16:49] qodfathr opened #2226 "Deployment card expansion non-discoverable"
When I see a collapsed deployment card, there is really no indication that it is expandable. Does UXD have an opinion on this?

![image](https://user-images.githubusercontent.com/16322190/36108323-9592d514-0fea-11e8-91ce-0c6c9762172c.png)

## Regarding
#287
#2176

[2018-02-12 16:52] qodfathr opened #2227 "Should deployment card expansion span envionments?"
When expanding a deployment card, is there any reason to **not** expand the other environment deployment cards for the same app? The whitepace under the unexpanded deployment seems wasted, and there is a good chance if I'm looking at the deployment in one environment that I want to see it in the other environments (e.g. to compare mem usage between old and new versions of the app).
![image](https:

[2018-02-12 17:25] nimishamukherjee commented on #2192
@mindreeper2420 have a look at https://github.com/fabric8-ui/fabric8-planner/pull/2433. This fix is on production.
The fix works for Fedora Chrome and Firefox browsers. For Mac, the scrollbar shows up after the initial scroll.
Any custom scrollbar for Mac would require changes across the UI.
Any thoughts on this?

[2018-02-12 17:53] qodfathr opened #2228 "Valid Space names which are invalid OpenShift project names might not trigger validation error"
1. Create a Space named '12345'
2. Add a QuickStart
3. Pick HTTP Booster (I don't think the choice of the booster matters)
4.  On Define Project step of AppWizard, note that `Next` button is disabled:
![image](https://user-images.githubusercontent.com/16322190/36111211-5ce53ce4-0ff3-11e8-9575-f198a8c89938.png)
5. The reason it is disabled is because the OpenShift Project name is invalid, but there

[2018-02-12 18:04] ldimaggi opened #2229 "Users configured on starter-us-east-2a directed to an invalid URL for the OSO console through OSIO"
Steps to recreate:
* Attempt to open the OSO console from OSIO - while logged in as a user configured on starter-us-east-2a (for example - from the pipeline page in OSIO)
* Observe this error:

![screenshot from 2018-02-12 13-00-59](https://user-images.githubusercontent.com/642621/36111709-0ce8cce0-0ff5-11e8-9b51-211e4fec83e8.png)

[2018-02-12 18:04] mindreeper2420 commented on #2192
@nimishamukherjee the scrollbar always appears for me on my Mac, running Chrome 64. I can confirm that this is fixed. Thanks!
<img width="1506" alt="screen shot 2018-02-12 at 1 03 00 pm" src="https://user-images.githubusercontent.com/4032718/36111779-45623cc8-0ff5-11e8-876c-1724d34ae20f.png">

[2018-02-12 18:04] #2192 closed

[2018-02-12 18:05] #1775 closed

[2018-02-12 18:36] qodfathr commented on #2091
When I go to https://openshift.io/openshiftio/openshiftio/plan, I see work items when I am not logged in.  Although it was hard for me to notice, there was this banner text:
![image](https://user-images.githubusercontent.com/16322190/36113006-60f3efbe-0ff9-11e8-961b-9b933ac83cb7.png)
1. I should not be able to see the planner at all
2. I'm really not sure what that banner text is trying to tell me

[2018-02-12 18:49] ldimaggi opened #2230 "Users configured on starter-us-east-2a seeing slow throughput"
Seeing this for OSIO users configured on starter-us-east-2a - throughput times > 30 min to create and build a quickstart:

![screenshot from 2018-02-12 13-32-14](https://user-images.githubusercontent.com/642621/36113596-5353c742-0ffb-11e8-87d4-288a60d3aca4.png)

## Impacts
- [ ] #2155 CI Experience placeholder

[2018-02-12 18:54] qodfathr commented on #819
I left my browser window open on OpenShift.io for an extended period of time (several days). When I returned to it, I could not do any basic navigation in the app.

I was sitting on the Account Home page, and noticed output similar to the following in the browser console:
![image](https://user-images.githubusercontent.com/16322190/36113736-d18d89ea-0ffb-11e8-9e05-49c54f862b7d.png)
This is repeatin

[2018-02-12 19:01] #2038 closed

[2018-02-12 19:09] ldimaggi commented on #819
Todd - are you also seeing return status codes of 200 in the console log?

[2018-02-12 19:17] chrislessard opened #2231 "Warning message for duplicate area title persists after modal is closed"
Steps to reproduce:
1. Open a space, create a new area by clicking "add area" and following the prompt
2. Create another area through the same steps, attempt to give it the same name as that created previously, a warning will appear
3. Close the modal, the attempt to add a third area. Notice that the warning message is still present when the modal appears

[2018-02-12 19:46] ldimaggi opened #2232 "Intermittent/recurring issue - delays of up to several minutes during allocation of Jenkins resources for OSIO build pipelines"
This problem is recurring, but intermittent and variable in scope.  When a build pipeline is started, there can be a delay of several minutes tracked in the Jenkins pod log - where no log messages are written.

For example:
[code]
What is happening in the ~2 min gap where nothing is logged?

Another example - what is happening in the 8 minute gap where nothing is logged?

[code]

Can we configure

[2018-02-12 20:17] jiekang opened #2233 "Reduce number of http requests for Deployments charts"
The observable for `DeploymentsService:getTimeConstrainedTimeseriesData` isn't cached so the page makes 3 http requests per deployment for the initial timeseries data. By storing it like the other http requests in `DeploymentsService`, we can reduce this to 1.

[2018-02-12 20:25] alexeykazakov commented on #2229
Removed auth and added platform and build-cd. This issue has nothing to do with Auth. It's OSIO UI issue which uses wrong cluster console URL.
@joshuawilson @dgutride

[2018-02-12 20:31] joshuawilson commented on #2229
I'll look into it.

[2018-02-12 20:57] msrb commented on #2222
Good catch 👍

Older issue with similar symptoms: https://github.com/jeremylong/DependencyCheck/issues/523

[2018-02-12 20:59] mmclanerh opened #2234 "[prod] [2a] When clicking on "view logs" link from openshift.io, getting wrong login prompt from Jenkins"
This is on the 2A cluster:

[code]

When I click on the view logs link, I expect either to be taken into Jenkins or to a openshift-io auth redirect button.  Instead, I'm taken to the jenkins native login page.. and I have to know to click log in on the upper right.  This is a regression.

![image](https://user-images.githubusercontent.com/33727536/36119181-6ed19f34-0ffc-11e8-9644-b283c40c8308.png)

[2018-02-12 21:03] msrb commented on #2090
@sara-02 Thanks for the update. I will make sure that we have up-to-date data in S3 and graph.

[2018-02-12 21:04] michaelkleinhenz opened #2235 "CI pipelines erratic and/or crashing"
We again face erratic behaviour on the pipelines that seriously blocks us from reaching our sprint goals. The usual behaviour is one or more of the following:

- the job is just sitting there for >20m, nothing is happening [1].
- crashes [2]
- weird behaviour on the ci build environment compared to local build [3]

This is seriously blocking us. I am now trying to get a single PR thru since this m

[2018-02-12 21:10] msrb opened #2236 "Enable sentry integration in workers"
# Description

We'd like to try to enable sentry integration in workers. This should help us to catch bugs more easily.

[2018-02-12 21:10] michaelkleinhenz opened #2237 "CI Pipelines do not queue PR commits"
PR updates are noch queued. If a build is currently being build, all commits done are ignored and the PR never gets approved. See this PR:

  https://github.com/fabric8-ui/fabric8-planner/pull/2419

Commit 0eacf5f was done while 5c7c652 was being built. So while the PR indicates that the PR is being built, it does not queue up the actual job, so the PR status remains dormant.

To retrigger the bui

[2018-02-12 21:21] msrb opened #2238 "Separate worker for processing dispacher messages"
# Description

It seems like data ingestion is running in turtle mode when there is a lot (80-100k) of messages in dispacher queue. Let's try to introduce a separate worker just for processing dispacher messages.

[2018-02-12 21:27] michaelkleinhenz opened #2239 "NPM has checksum failures on CI when using package-lock.json"
When I use package-locks, NPM crashes with random checksum errors:

npm ERR! code EINTEGRITY
npm ERR! sha1-0/ObGV6F81Oa2djLZWCp0rYyl8Q= integrity checksum failed when using sha1: wanted sha1-0/ObGV6F81Oa2djLZWCp0rYyl8Q= but got sha1-yyGq9VKct972BQoU6yeeTlTk9+8=. (61966 bytes)

In this case, the package in question is protractor, but I had the issue on other packages as well. Locally, it works with

[2018-02-12 21:28] michaelkleinhenz commented on #2239
See https://github.com/npm/npm/issues/18957 for a similar behaviour.

[2018-02-12 21:55] msrb opened #2240 "Implement filtering for /bookkeeping/upstreams endpoint"
# Description

We want to be able to filter records returned by `/bookkeeping/upstreams` endpoint. It should be possible to get records only for a specific package and/or only currently active records.

[2018-02-12 21:58] mmclanerh commented on #2234
fyi -- when i did a environment reset, this went back to the normal behavior.

[2018-02-12 22:10] aptmac commented on #2233
I mistook the number of calls required to get the fifteen minutes of data; I was wrongfully thinking that each call to get a cpu or memory quota was a separate request. In reality, it's using the already existing functions getEnvironmentCpuStat and getEnvironmentMemoryStat, which are cached. So the number of requests required for the 15 minutes of data is 1 for the timeseries call, and potentially

[2018-02-13 00:52] jfchevrette commented on #2181
Should be fixed for real now.

[2018-02-13 00:52] jfchevrette commented on #2213
This should be fixed now

[2018-02-13 01:50] ldimaggi commented on #2230
Example of timing on old cluster:

[INFO] ------------------------------------------------------------------------
[INFO] Building Vert.x - HTTP 1.0.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- versions-maven-plugin:2.2:set (default-cli) @ test456 ---
EXITCODE   0[INFO] Searching for local aggregator root...
[INFO] Local aggregation r

[2018-02-13 01:50] ldimaggi commented on #2230
Example in new cluster:

[INFO] ------------------------------------------------------------------------
[INFO] Building Vert.x - HTTP 1.0.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- versions-maven-plugin:2.2:set (default-cli) @ testforfeb12 ---
EXITCODE   0[INFO] Searching for local aggregator root...
[INFO] Local aggregation root:

[2018-02-13 02:42] #1881 closed

[2018-02-13 03:21] ldimaggi opened #2241 "Jenkins (or che workspace) pods intermittently not starting on https://openshift.io"
This has been happening intermittently for about an hour - these events are being reported:

[code]

[2018-02-13 05:09] sbose78 commented on #2235
CC: @pradeepto
@rupalibehera Is there way to give other teams access to the resource monitoring ( CPU , Memory,.. etc ) to folks in other teams as well for our GKE jenkins infra ?

[2018-02-13 05:45] joshuawilson commented on #1502
Was this done?

[2018-02-13 05:53] joshuawilson commented on #1685
@alexeykazakov I'm marking this as done. If we missed something please reopen.

[2018-02-13 05:53] #1685 closed

[2018-02-13 05:54] joshuawilson commented on #948
@alexeykazakov @aslakknutsen what are we missing to close this?

[2018-02-13 05:56] joshuawilson commented on #1446
what is the status on this?

[2018-02-13 06:04] joshuawilson commented on #1420
I'm moving this out of the sprint since it hasn't been updated 2 months.

[2018-02-13 06:06] joshuawilson commented on #1375
Moving to the backlog until it can be worked on.

[2018-02-13 06:07] #2197 closed

[2018-02-13 06:07] joshuawilson commented on #2051
What is the status on this?

[2018-02-13 06:08] joshuawilson commented on #2025
we have the docs updated, just need to get them linked in the application

[2018-02-13 06:09] joshuawilson commented on #1980
This still needs discussing, moving to the next sprint.

[2018-02-13 06:15] joshuawilson commented on #1439
@ibuziuk have you done everything needed here? What is left?

[2018-02-13 06:17] sbose78 commented on #948
"New Cluster(s) available and ready to get new users provisioned."

The above piece is not done - new cluster is available but not ready to provision users because of the performance issues being tracked by @jfchevrette .

[2018-02-13 06:25] benoitf commented on #1502
@joshuawilson it requires the update to che 6 on OSIO

[2018-02-13 06:27] joshuawilson commented on #1997
I think it might be on https://github.com/fabric8-ui/fabric8-planner/blob/master/src/app/components/work-item-quick-add/work-item-quick-add.component.ts#L341

Unless this has been fixed in the last 12 hrs.

[2018-02-13 07:00] pradeepto opened #2242 "Audit and remove unwanted Jenkins plugins from tenant Jenkins"
Currently, tenant Jenkins image has a boatload of Jenkins plugins that is perhaps not needed by anyone. We need to carefully audit what is required and what is not. Remove everything that is not required and create a lean tenant Jenkins image.

- [ ] Audit plugins
- [ ] Create a list of required ones
- [ ] Build a new Jenkins tenant image

[2018-02-13 07:08] pradeepto opened #2243 "Audit the existing fabric8 pipeline library and create a new OSIO pipeline library if need be."
https://github.com/fabric8io/fabric8-pipeline-library is huge. We need to audit it, figure out the relevant bits. Extract these relevant, required and important bits into perhaps a new OSIO pipeline library.

For the audit, we need to figure out where the libraries and which parts of it are being used across OSIO. Also, check if they are being used in the booster/launcher projects.

- [ ] Audit ht

[2018-02-13 07:14] pradeepto opened #2244 "Launcher apps (Boosters) fail 50% of the time during Build."
Apparently, they fail 50% of the time while passing through the build system. (this was a discussion at f2f in Westford)

Build team needs to dig into this and diagnose the failures. Are the failures due to a bug in the code or bug in build or something else? And report as such. If they are caused by a bug in build, we need to fix those. If not, file issues and assign to relevant team/group.

For

[2018-02-13 07:23] pradeepto opened #2245 "Tenant Jenkins needs to provide more insights into "Build" data"
Right now, we have no visibility into what happens in the tenant Jenkins. How many builds fail for OSIO user? How many builds pass? How long does a build take?

We need to define what are the data points we need to measure and track. All these data need to be fed into Zabbix.

There has been some work towards monitoring Jenkins albeit it was for monitoring the fabric8cd Jenkins instance itself. Ma

[2018-02-13 07:40] pradeepto opened #2246 "Scope out moving fabric8cd (http://jenkins.cd.test.fabric8.io/) out of GKE"
Moving fabric8cd from GKE to Badger will help a lot with costs. But more importantly, it will help the cause because of better hardware, more control for debugging etc.

The current system is setup using gofabric8 previously by James Rawlings. The team isn't aware of any manual configurations, if any. We need to evaluate how we deploy the new system.

- [ ] Figure what all will be needed to move t

[2018-02-13 07:43] corinnekrych commented on #2091
@qodfathr pls retry, UI was not deployed on PROD. this is now fixed cc @joshuawilson

[2018-02-13 07:44] pradeepto opened #2247 "EPIC: Scope out "What should be the Build.next?""
- How should the next build look post GA/Summit?
- What should we throw away?
- What should we keep?
- What should be the experience?
- Start whiteboarding these ideas and create PoCs where possible.

[2018-02-13 07:45] corinnekrych commented on #2091
@qodfathr as per the `create` route it has always redirected to login as this menu give access to writable actions. If we need to change that behavior pls log a separate issue.

[2018-02-13 08:33] #2148 closed

[2018-02-13 08:58] #2150 closed

[2018-02-13 09:39] jpopelka commented on #2240
It is already
https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/f8a_jobs/swagger.yaml#L599

[2018-02-13 09:41] msrb commented on #2186
Is it really that straightforward? The logic which surrounds the table seems to be the root cause of the bug https://github.com/openshiftio/openshift.io/issues/2218 which nobody was able to crack in more than half a year.

[2018-02-13 10:06] #2223 closed

[2018-02-13 10:48] pranavgore09 commented on #2235
@michaelkleinhenz yeah you are right, these are few other issues we found on CI
https://github.com/fabric8io/fabric8-build-team/issues?q=is%3Aopen+is%3Aissue+label%3A%22Build+Error%22

[2018-02-13 11:30] msrb commented on #2240
Cool, please promote the changes to prod 👍

[2018-02-13 11:49] rhopp commented on #2181
Yep... Working as expected. Thanks.
Closing.

[2018-02-13 11:49] #2181 closed

[2018-02-13 13:45] jfchevrette commented on #2229
@ldimaggi issue title states 'starter-us-east-2a' but your browser shows 'starter-us-east-2'. Is this simply a bad link in OSIO?

[2018-02-13 13:46] tisnik commented on #2168
Hi @jpopelka . Yes, if we mention that the list is not complete (and we won't use any no longer supported worker), that would be fine. TY in advance.

[2018-02-13 13:51] tisnik opened #2248 "Incorporate more unit tests for the LicenseAnalysis module"
New unit tests needs to be created, at least for following classes:

- [x] Vertex (100% coverage)
    https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/63
- [x] DirectedGraph (100% coverage)
    https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/60
    https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/66
- [x] LicenseA

[2018-02-13 14:09] #1906 closed

[2018-02-13 14:20] sspeiche commented on #2247
Can you outline the use cases the "Build.next" needs to support? It is hard to understand what it should be without that. For example, I don't think you mean: the process by which source code is transformed to a built artifact and then packaged into a container image and stored in a registry. I think you are talking about pipelines, the ability to orchestrate either release builds, CI or CD scenar

[2018-02-13 14:48] xcoulon opened #2249 "Add code coverage support on toggles-service"
Upload reports on codecov.io as we do for other services, in order to monitor/follow code covered by tests.

[2018-02-13 15:06] #2231 closed

[2018-02-13 15:08] tisnik opened #2250 "Computation of conflicts between licenses in the license-analysis project"
I'm trying to improve test coverage for the repository https://github.com/tisnik/fabric8-analytics-license-analysis but to do it correctly I'd need more info how the conflict between licenses are computed. I think that the conflict are to be transitive, but the following tests displays different results. Could you please explain how the algorithm should behave? TY in advance.

The following test p

[2018-02-13 15:09] chrislessard opened #2251 "Create areas"

[2018-02-13 15:17] michaelkleinhenz commented on #2235
Where can we see the configuration the build is using, eg node/npm version, Chrome version etc..?

[2018-02-13 15:25] chrislessard opened #2252 "Areas "Create Area" button should not be enabled after model reopened"
Steps to reproduce :
1. Create a new area, name it however you like, notice that once the name is provided the create button turns blue (going from disabled to enabled)
2. Create another area, notice that the button is still enabled

[2018-02-13 15:31] catrobson commented on #2204
I agree we should be limiting to 2 decimal places at the very least, but in this case I would round to the whole number for bytes since the fractions are not really going to do much for the user.

[2018-02-13 15:55] tuxdna commented on #2048
In the first pass, less than `11402` packages remain from Maven graph sync. This is

[code]

[2018-02-13 16:00] #2251 closed

[2018-02-13 16:08] pbergene commented on #2230
Root cause is known, we're tracking the performance issues on a separate sev-1 internally. :)

[2018-02-13 16:13] andrewazores opened #2253 "DeploymentsService interface is over-complicated"
The DeploymentsService interface is becoming overly complicated for components to consume, requiring components to make separate requests for preloaded 15 minutes historical data and live streaming data, and managing their own maximum amounts of data preserved. Instead, the service on its own should handle all of this logic and simply provide functions for subscribing to various types of data stre

[2018-02-13 16:29] davidfestal opened #2254 "BAD REQUEST http 400 error received from the OSO proxy for some very long GET requests"
When trying to run CHE6 on OSIO using the OSO proxy, it fails when the `openshift-client` tries to run some command in the workspace POD.
It appears that this is achieved by the `openshift-client` sends a very long http request such as the requests copied here: https://gist.github.com/davidfestal/7ba312b7e0d0c05fe6ecb4c71cd4126d

Thus it seems that there might be some underlying limitation on the

[2018-02-13 16:44] catrobson commented on #2100
@chrislessard yes, you're right, the hyphen needs to be introduced.

[2018-02-13 17:45] chrislessard opened #2255 "Error in Create Areas modal should result in highlighting of offending fields"
As per this section of the [patternfly specification](http://www.patternfly.org/pattern-library/forms-and-controls/errors-and-validation/), when an error occurs in the Create Area modal, any offending fields should be highlighted in red to indicated to the user where they must correct their mistake.

[2018-02-13 17:47] qodfathr commented on #1685
FWIW, there are 3 items in the list in the description, but only 1 is marked as done. Please mark the others if they are, in fact, done. Otherwise this issue shows up as both "Closed" and "1 of 3 complete."

[2018-02-13 18:38] ldimaggi commented on #2229
The URL presented to the user (who is provisioned on the new cluster) in OSIO is:

https://console.starter-us-east-2.openshift.com/console/project/ldimaggi-osiotest3

The "a" is missing.

[2018-02-13 18:58] ldimaggi commented on #2213
Closing - verified fixed on prod-preview.,

[2018-02-13 20:32] qodfathr commented on #819
@ldimaggi yes, there were all 200s. Which I found to be humorous -- "status code 200 was unexpected!" Oh, so you *expected* it to fail???

[2018-02-13 20:59] chrislessard commented on #2252
@catrobson While working on this I noticed another aspect of the modal I wanted to clear up:
By default, when you open the modal to add a new area, the dropdown for selecting a parent area will default to the Space you're currently working in. As things are currently implemented, each time the modal is reopened again, this value will be set to whichever value was last put there.

[2018-02-13 21:01] chrislessard commented on #2252
@catrobson While working on this I noticed another aspect of the modal I wanted to clear up:

By default, when you open the modal to add a new area, the drop down field for selecting a parent area will default to the Space you're currently working in. As things are currently implemented, each time the modal is reopened again, this drop down value will be set to whichever value was last put there.

[2018-02-13 21:13] catrobson commented on #2252
@chrislessard the design intent is if you use the top right "Add Area", the dropdown should always default to the parent-most area node (space id).  If you use a kabob menu to add a child on an existing node, the parent dropdown should default to the node that the child was being created from.

We have a story in UXD for Dev to change the list view to a tree list view that we have available in the

[2018-02-13 21:28] #2249 closed

[2018-02-14 04:29] sunilk747 commented on #1808
Closing this issue as this case is handled as part of UI revamp. Please reopen it if you find it otherwise.

[2018-02-14 04:29] #1808 closed

[2018-02-14 07:15] tuxdna commented on #2048
First is complete i.e. we have gone through all maven packages for graph sync. Many of which failed to be invoked because of multiple reasons:

 * gateway timeouts
 * service unavailable
 * bugs in data-model importer

I have started sync for these packages now.

[2018-02-14 07:45] jpopelka commented on #2168
Thanks. Fixed with https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/515

[2018-02-14 07:45] #2168 closed

[2018-02-14 08:00] tuxdna commented on #2048
First is complete. Many of the Maven packages failed to sync in graph due to multiple reasons:

 * service unavailable
 * gateway timeout
 * bugs in data model importer

I have scheduled the sync of those (pending) packages again now.

[2018-02-14 08:09] msrb opened #2256 "Improve test coverage in fabric8-analytics/fabric8-analytics-data-model repository"
# Description

Data importer is a very important piece in data ingestion pipeline, but @tuxdna recently discovered a lot of bugs there. Test coverage seems to be [rather low](https://github.com/fabric8-analytics/fabric8-analytics-data-model/tree/master/test). We want to add more tests, especially for parts which directly deal with data transformation and gremlin queries.

# Acceptance criteria

-

[2018-02-14 08:12] msrb commented on #2048
Thanks Saleem 👍

I've created https://github.com/openshiftio/openshift.io/issues/2256 for improving test coverage in data-importer.

[2018-02-14 09:07] aslakknutsen commented on #2229
@ldimaggi Where is this link?

[2018-02-14 09:10] #1405 closed

[2018-02-14 09:11] aslakknutsen commented on #2254
@davidfestal I've upgraded the proxy to latest upstream v, which 'might' have changed something... :) Not found anything specific yet.

Just for the public record, this is a 75Kb URL, browsers tend to complain around 2kb.

[2018-02-14 09:15] davidfestal commented on #2254
@aslakknutsen Thanks !

In the meantime I split the command into several (1 command per WS installer), and a last command that concatenates the result of the previous commands.
This now seems to work (at least the proxy error disappears)
I think I will submit a PR for this since, as you say, 75kb seems really too big for a GET request URL.

[2018-02-14 09:17] msrb commented on #2045
Moving to Sprint 145, we know we will not be doing this right now, but we still need to summarize the reasons.

[2018-02-14 09:19] msrb commented on #2007
Moving to backlog, we didn't need to do any changes to existing code for collecting Wildfly data.

[2018-02-14 09:25] msrb commented on #1024
Low priority, moving to backlog.

[2018-02-14 09:30] msrb commented on #1329
@tisnik do we still wait for the credentials to be available in CI?

[2018-02-14 09:30] aslakknutsen commented on #2255
@chrislessard Please let me know if the backend API's need to improve here

[2018-02-14 09:36] #1383 closed

[2018-02-14 09:36] aslakknutsen commented on #2234
This is not specific to 2a. Seen on 2 as well.

[2018-02-14 09:41] #1992 closed

[2018-02-14 09:43] aslakknutsen commented on #1996
@nimishamukherjee No, not seeing it anymore. Any attempts to fix it, or just a '5 other changes later' *boom* *magic* gone?

[2018-02-14 09:43] msrb opened #2257 "CI job for fabric8-analytics/fabric8-analytics-jenkins-plugin"
# Description

We don't have [CI job](https://github.com/openshiftio/openshiftio-cico-jobs) for fabric8-analytics [Jenkins plugin](https://github.com/fabric8-analytics/fabric8-analytics-jenkins-plugin) yet. We want to run `mvn clean verify` for PRs and when code is merged to master branch. We also want to preserve results (.hpi/.jpi files) of successful master branch builds directly in Jenkins.

[2018-02-14 09:51] corinnekrych opened #2258 "[User-Story] Improve login to feature toggles admin UI"
belongs to [Epic: feature flags](https://github.com/openshiftio/openshift.io/issues/1165)

# Description
As a developer, I'd like to be able to access prod-preview unleash admin ui without the need to request login/password from ops team.
Besides, integrating oauth within unleash will allow the admin server to be able to track who did the action in the events history.

# List of tasks:
- [x] updat

[2018-02-14 09:55] corinnekrych commented on #2258
@aslakknutsen @alexeykazakov I'd like to start with gh auth. Really easy to impl using `passport` - PR ready.
We can move it to `auth` with impl of role.
cc @xcoulon

[2018-02-14 10:00] GeetikaBatra opened #2259 "[User-Story] Change Image base from Cent OS to RHEL"
### EPIC: https://github.com/openshiftio/openshift.io/issues/2216

## User Story:
As Devtools developer, I will be to see stack analyses on a tab in manifest editor window.

## Description:
Currently the base image for most of the services provided by various teams in Devtools is Cent OS based. Completion of this user story would replace Cent OS images by RHEL for all the services.

## Acceptance

[2018-02-14 10:00] ravsa opened #2260 "Backend API service Implementation for Dependency Editor"
#### User Story:

As an OSIO user, I will be able to make License Analysis optional in fabric8-backbone service for dependency editor, improved component search service, and create category search service.

#### Description:
Decoupling license service from stack_aggregator and recommender and make it optional because we already have separate license service. Creating API end-points for category se

[2018-02-14 10:11] xcoulon opened #2261 "Evaluate hoverfly in replacement of go-vcr"
As suggested by @bartoszmajsak, we could give a try to [HoverFly](https://hoverfly.readthedocs.io/en/latest/) in replacement of `go-vcr` to mock remote services.

[2018-02-14 10:37] corinnekrych commented on #1187
@joshuawilson should we transfer that task to analytics team as they're now working on this lib?

[2018-02-14 11:01] bartoszmajsak opened #2262 "Unable to run WildFly Swarm Http Booster GreetingServiceTest from Che"
#### Steps to reproduce

1. Run GreetingServiceTest (either from the IDE or from Maven `mvn test -Dtest=GreetingServiceTest`)

##### Prerequisites if starting from scratch:
1. Select WildFly Swarm Http Booster as a quickstart to import
2. **In Che:** Comment out Cube dependency in the `pom.xml`
3. **In Che:** Delete `OpenshiftIT` test (there is another issue with Cube on OSIO/Che we are investigat

[2018-02-14 11:14] invincibleJai commented on #1455
it's completed @sivaavkd hence closing

[2018-02-14 11:14] #1455 closed

[2018-02-14 11:15] arunkumars08 commented on #1974
@miteshvp Hey Mitesh, you can have a look once and feel free to close this issue if you feel the API changes are taken care.

[2018-02-14 11:25] rootAvish commented on #2002
Since the CVAE approach worked, and has its results documented here: https://docs.google.com/spreadsheets/d/1OKq1BvPHUzKwYrL8XFWZAgkKC7jcaW0QyY0vleq0wV0/edit?usp=sharing we did not go forward with implementing the supervised autoencoder approach. Work around creating a post-filter business logic for the same will be carried out in this sprint.

[2018-02-14 11:25] #2002 closed

[2018-02-14 11:27] rootAvish commented on #2004
The CVAE approach worked, and has its results documented here: https://docs.google.com/spreadsheets/d/1OKq1BvPHUzKwYrL8XFWZAgkKC7jcaW0QyY0vleq0wV0/edit?usp=sharing, we did not go forward with implementing the supervised autoencoder approach as it would perform inferior to this approach and was a fallback in case the other did not work. Work around creating a post-filter business logic for the same

[2018-02-14 11:27] #2004 closed

[2018-02-14 11:27] miteshvp commented on #2042
This is promoted to prod. Closing this

[2018-02-14 11:27] #2042 closed

[2018-02-14 11:29] miteshvp commented on #2042
https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/70

[2018-02-14 11:34] tisnik opened #2263 "Strange error message + stacktrace is shown in f8analytics-data-model build+test job on CI"
https://ci.centos.org/job/devtools-fabric8-analytics-data-model-fabric8-analytics/68/console

[code]

[2018-02-14 11:46] tisnik commented on #1229
Job created on CI to run PyDocstyle:

https://ci.centos.org/job/devtools-fabric8-analytics-license-analysis-fabric8-analytics-pydoc/

[2018-02-14 11:47] #1229 closed

[2018-02-14 11:55] bartoszmajsak commented on #2262
Closing as duplicate of #2152

[2018-02-14 11:55] #2262 closed

[2018-02-14 11:58] bartoszmajsak commented on #2152
Provided more details in #2262 to only realize that it's a duplicate of this issue, so pasting it here to avoid looping through tabs:

#### Steps to reproduce

1. Run GreetingServiceTest (either from the IDE or from Maven `mvn test -Dtest=GreetingServiceTest`)

##### Prerequisites if starting from scratch:
1. Select WildFly Swarm Http Booster as a quickstart to import
2. **Optionally in Che:** Com

[2018-02-14 12:05] rootAvish opened #2264 "Document a post-filter business logic and alternate package logic for NPM recommendations & serve recommendations from dev cluster"
User Story
--

As an OSIO/IDE extensions user I should be able to filter the recommendations coming from the CVAE model (#2002) so I can get a trimmed, accurate set of recommendations.

Description
--
In the work done in the experiment in (#2002) we narrowed down on the approach that we would use to support large ecosystems with rich availability of data (results documented in: https://docs.google

[2018-02-14 12:09] rootAvish commented on #2264
@krishnapaparaju @sivaavkd Please let me know if the type of this should be a spike instead of a user story. I put spike since we're trying out multiple approaches around this.

[2018-02-14 13:22] corinnekrych opened #2265 "Anonymmous browsing create duplicate menu error"
This issue is in Prod:
![screenshot 2018-02-14 14 21 19_preview](https://user-images.githubusercontent.com/1395710/36206366-61345582-1192-11e8-951f-97267bf351d0.png)

Introduced by https://github.com/openshiftio/openshift.io/issues/1557 `FeatureAcknowledgementService` needs to work when no profile is provided (anonymous user)

[2018-02-14 13:24] pradeepto commented on #2235
@rupalibehera Is there a way to give other teams access to the resource monitoring ( CPU , Memory,.. etc ) to folks in other teams as well for our GKE jenkins infra ?

That is not for us to decide. You need to check with @jfchevrette We don't have the powers to do so. We can't even give access to GKE to our own team members.

cc @sbose78 @chmouel @michaelkleinhenz @pranavgore09 @pbergene

[2018-02-14 13:52] rupalibehera commented on #2235
is this really a SEV-1 are folks completely blocked due to this ?

[2018-02-14 13:52] #2224 closed

[2018-02-14 14:20] #2186 closed

[2018-02-14 14:23] tisnik commented on #2263
Seems like the exception is just printed onto the standard output, but its ignored then.

https://github.com/fabric8-analytics/fabric8-analytics-data-model/blob/master/test/test_insertion_from_minio.py#L94

[2018-02-14 14:25] sivaavkd commented on #1971
Closing 144 planning.  We have moved any open items to 145.

[2018-02-14 14:25] #1971 closed

[2018-02-14 14:31] joshuawilson commented on #1187
@corinnekrych that makes sense.
@krishnapaparaju moving this to your team.

[2018-02-14 14:44] joshuawilson commented on #2265
I think this is caused by a leakage styles from the Planner.
@mindreeper2420 can you confirm?

[2018-02-14 14:45] xcoulon opened #2266 "Refactor tenant service code"
As a follow-up to https://github.com/fabric8-services/fabric8-tenant/pull/526, we can arrange a bit the code of tenant service, especially all the parts that are currently in the `token` package.

[2018-02-14 14:45] mindreeper2420 commented on #2265
@joshuawilson yes, there are still style leaks from Planner. I have a proposal that I'll be messaging you about to help with these leaks.

[2018-02-14 14:46] joshuawilson commented on #2259
please give it a `team` and `area` too

[2018-02-14 14:54] joshuawilson commented on #2263
what Severity is this?

[2018-02-14 15:13] miteshvp commented on #2048
Late reply but here it is - there are total `137389` Maven packages in our graph

[2018-02-14 15:14] GeetikaBatra commented on #2259
Done

[2018-02-14 15:33] joshuawilson commented on #1502
I'm moving it to your backlog to close the sprint.

[2018-02-14 15:37] sara-02 commented on #2167
@jyasveer For the same effective pom, I tried running the stack analyses, and it seems to be giving the result as expected.
Stack ID on prod: `35dc6c22d02e4366b22067b289d5abf6`
Result: https://gist.github.com/sara-02/aadf22e9eb460a41bec65848c3ca4bb7

[2018-02-14 15:48] andrewazores commented on #2199
Still struggling with this one. Even now with the 15 minute preload merged, the sparkline charts look the same at initial load - a bit shorter on the left side than our line chart. After a few minutes so that some update events occur and the charts have redrawn a few times, the sparklines seem to fill in more to the left so the gap is not as noticeable. Just to be sure - you guys see that behaviou

[2018-02-14 16:01] andrewazores commented on #2199
Okay, it seems that the misalignment between the charts actually occurs because the network chart uses actual timestamps from the backend source, whereas the other two charts just count samples and use that for the X-axis. Replacing network sample timestamps with sample counts keeps the charts at the same apparent width, however, now they all slowly fill in that left margin after a few updates...

[2018-02-14 16:03] andrewazores commented on #2199
Here's what it looks like on first load, before any updates have occurred and the charts begin filling the left margin.

![screenshot from 2018-02-14 11-02-14](https://user-images.githubusercontent.com/3787464/36214129-a0db1d86-1176-11e8-8bf2-99a5a29e719a.png)

[2018-02-14 16:10] aptmac commented on #2199
@andrewazores I'll work on a fix for that, there are a few things that are a bit off when the charts update as a result of my last patch. Like you mentioned one is that the cpu/mem charts aren't using timestamps at the moment, and instead just increment the counter. There's also the fifteen minutes observable isn't guaranteed to return before the polled data, so the order of data can get a bit mes

[2018-02-14 16:16] andrewazores commented on #2199
@aptmac - ah, I actually have a fix for the guaranteed request ordering ready to go. Do you want me to open a PR for that and then you can handle the data trimming and real timestamps issues separately?

I think we'll still have the "growing left" problem but at least then things will line up and contain correct data.

[2018-02-14 16:20] aptmac commented on #2199
@andrewazores That'd be great actually, I'll wait for your PR to go through.

[2018-02-14 16:47] pradeepto commented on #2246
Related to https://github.com/openshiftio/openshift.io/issues/1902

[2018-02-14 16:48] andrewazores opened #2267 "Deployments' initial 15 minute data preload can resolve after first per-minute polling request"

[2018-02-14 16:54] andrewazores commented on #2199
@aptmac issue for the request ordering is here: https://github.com/openshiftio/openshift.io/issues/2267 , and a PR has been opened.

[2018-02-14 17:11] jpopelka commented on #2222
I have not been able to reproduce this on dev cluster.

On dev cluster I see that the process is killed everytime - tried to raise the memory limit to 4GB, but still the same - and I haven't found how to debug it further since dmesg/journalctl don't work in non-privileged container.

[2018-02-14 17:37] ldimaggi commented on #2241
Closing - this problem has not been seen for ~2 days.

[2018-02-14 17:37] #2213 closed

[2018-02-14 17:48] ldimaggi commented on #2232
Another example:

[code]

[2018-02-14 17:50] ldimaggi commented on #2232
And another:

[code]

[2018-02-14 18:04] #2265 closed

[2018-02-14 18:13] sara-02 commented on #2167
Also, I have added a minor fix, to capture this error if it occurs in the future.
https://github.com/fabric8-analytics/fabric8-analytics-server/pull/258

[2018-02-14 18:14] jyasveer commented on #2167
@sara-02 what i remember is , the property `confidence_reason` was missing in one of the companion recommendation dependency object. That is why UI was not showing the confidence score. What i see is we have two fields in the object, one is `confidence_reason` and the other is `cooccurrence_probability`. could you please confirm, which is the right one to use for confidence score display

[2018-02-14 18:15] #2233 closed

[2018-02-14 18:20] sara-02 commented on #2167
@jyasveer For the confidence score we use `confidence_reason`, the reason statement is generated used the `coccurrence probability`. For now the reason is simplly the number hence both parameters reflect save value, in future if we change the statement, then it will reflect `confidence_reason` field which is shown on the UI. So logically `cooccurrence_probability and `confidence_reason` should hav

[2018-02-14 18:47] bartoszmajsak commented on #1954
Related / potential duplicate #2152

[2018-02-14 19:40] andrewazores commented on #2199
Okay, weird. Changing all three charts to use sample counts makes them all draw with the same width, and starting the counts at 0 rather than 1 fixes the left margin issue.

I think this might be a c3 X-axis thing - if the X axis is not explicitly set to timeseries and a data point exists with X coordindate 1, it'll be drawn offset from the invisible Y-axis line on the sparkline chart. This explai

[2018-02-14 19:46] ldimaggi opened #2268 "Intermittent, recurring server errors (500) when refreshing OSIO deployment page"
Started seeing this on February 14 - issue is not reproducible at will, but was seen 5+ times today.

Steps to recreate:
* Create more than one pipeline (ex. by creating a new quickstart)
* Navigate to the deployments page
* Refresh the page

![screenshot from 2018-02-14 13-22-07](https://user-images.githubusercontent.com/642621/36224497-ce5fe326-1195-11e8-8ee3-42e82584fedd.png)

![screenshot from

[2018-02-14 19:53] catrobson commented on #2215
@rkratky @qodfathr -

I've put together my thoughts for handling this throughout the application (logged in and out) here: https://redhat.invisionapp.com/share/NVFTBRWQ9MB

The help icon in the header of the application is consistent with OpenShift design.  The documentation would always also be accessible via openshift.io when logged out via the new documentation tab on the homepage.

To do this,

[2018-02-14 19:55] ldimaggi opened #2269 "Very slow (~10 seconds) to load/refresh page in Fabric8-ui"
Note: This issue was first logged against the Deployments page - it actually affects all pages in the UI.

In navigating to, or refreshing the Deployments page, it can take over 15 seconds for the page to load.
The page loads ~2.4MB of data.

![screenshot from 2018-02-14 14-52-05](https://user-images.githubusercontent.com/642621/36224835-c0a6845a-1196-11e8-9076-bf57141b368f.png)

![screenshot from

[2018-02-14 20:01] ldimaggi opened #2270 "Errors resulting from deployments that exceed a users quota are not trapped and reported to the user"
Steps to recreate:
* Reset a user's env
* Create (3) new quickstarts - do this serially - and permit each build pipeline to complete:

![screenshot from 2018-02-14 14-38-39](https://user-images.githubusercontent.com/642621/36225084-9182d808-1197-11e8-86cd-16b04f52d438.png)

Observe that while the 3rd quickstart is reported to be successfully deployed, neither the stage nor run endpoints are access

[2018-02-14 20:07] aptmac commented on #2269
That's a lot of calls to statseries, is this prior to https://github.com/fabric8-ui/fabric8-ui/pull/2531? After that PR got merged I'm seeing a reduction in the number of network requests for that data.

[2018-02-14 20:15] aptmac commented on #2199
Ah that's pretty neat. I can add in the axis option.

After using the proper time stamps for the xData, the charts seem to be lining up correctly.
![screenshot from 2018-02-14 15-11-26](https://user-images.githubusercontent.com/10425301/36225724-9049f9e2-1199-11e8-93d4-ecd0d123f3ac.png)

@andrewazores In terms of propagating the timestamps to the caller, at the moment I patched up the usages of cp

[2018-02-14 20:20] ldimaggi opened #2271 "Delete option on OSIO deployments page should require users to confirm deletion"
The deletion is not yet implemented, but, when it is implemented, it should require users to confirm each deployment.

[2018-02-14 20:21] ldimaggi commented on #2269
This was in production - only a few min ago.

[2018-02-14 20:22] aslakknutsen commented on #2200
Similar seen yesterday

[code]

[2018-02-14 20:23] joshuawilson commented on #2269
just updated prod, please try again

[2018-02-14 20:25] andrewazores commented on #2199
@aptmac nice, that looks good.

I think it's reasonable to add the timestamps directly into the Stat interface, since the Stat interface is already intended to only describe timeseries data. The Timestamped* wrapper class could reasonably be used as a replacement for all instances of what it wraps, so there isn't really a point in the base time-less type. The cases of a component displaying the da

[2018-02-14 20:31] joshuawilson commented on #2200
hmm, is it still a SEV1?
how did you reproduce it? just make a new app from a quickstart?

[2018-02-14 20:32] #2267 closed

[2018-02-14 20:35] qodfathr commented on #351
Complete rewrite. :) There were aspects of the original write-up which are going to be exposed in peer Experiences to this one.

[2018-02-14 20:46] qodfathr commented on #351
@catrobson here is some first pass info on Teams (in terms of Features, not security). I do not think this impacts UX directly, but it does imply that every screen in the service needs to have a 'Team aware' version of the screen. In essence, right now OSIO is behaving as if there is just one, unnamed team. This expands upon that so individual screens have filtering applied to only show stuff for

[2018-02-14 21:05] qodfathr commented on #351
Added info on the default Team for a Space.

[2018-02-14 21:09] ldimaggi commented on #2269
Just tried - still about the same speed:

![screenshot from 2018-02-14 16-09-29](https://user-images.githubusercontent.com/642621/36228152-750ad432-11a1-11e8-92d4-8a5d1926d721.png)

[2018-02-14 21:09] qodfathr commented on #2215
@catrobson that works for me.

**Everyone** -- please note that the link https://docs.openshift.io/getting-started-guide.html is now part of the Welcome to OSIO email sent to new users, so if that URL is going to change, we need to update the email. (A process which takes a few days to get scheduled.) (So let's not change it :) )

[2018-02-15 01:28] aslakknutsen commented on #2227
There is also a large chance that e.g. the memory usage is completely different and incomparable as it's highly dependent on the traffic that is hitting the env. Trends in certain metrics could be similar, but not sure comparing metrics to metrics has much value in a normal setup.

But yea, lots a 'white space'.

[2018-02-15 04:27] sara-02 commented on #2167
@jyasveer As I was unable to reproduce it and track the issue, I am closing it. Please reopen if the problem surfaces.

[2018-02-15 04:27] #2167 closed

[2018-02-15 04:31] sara-02 commented on #973
Closing this issue and the corresponding PR, as it is no longer needed.
https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/79
In case we need to add weights via co-occurrence matrix, we can reopen the issue.

[2018-02-15 04:31] #973 closed

[2018-02-15 08:39] nimishamukherjee commented on #1996
@aslakknutsen it is the case of "5 other changes later"...

[2018-02-15 10:12] jarifibrahim commented on #1983
@michaelkleinhenz @aslakknutsen I see the same issue on prod/prod-preview. I'm the only collaborator in that space.

[2018-02-15 10:48] SMahil opened #2272 "two vertical scrollbars when stack report modal is opened"
Two scrollbars are coming when stack report modal is opened. The content behind the modal should not be scrollable when modal is opened.
<img width="1440" alt="screen shot 2018-02-15 at 4 15 54 pm" src="https://user-images.githubusercontent.com/10396359/36252868-05f0b424-126c-11e8-88ab-9187926e7361.png">

[2018-02-15 11:01] rhopp opened #2273 "Failed to schedule pod on free-stg due to "0/10 nodes are available: 1 Insufficient cpu""
Starting che workspace on prod-preview fails.

Che server log:

[code]
Events on free-stg:

![image](https://user-images.githubusercontent.com/1215011/36253391-b5c22a60-1247-11e8-9c4f-9cfc7aad130d.png)

[2018-02-15 11:10] rhopp commented on #2273
This is affecting not only che, but all OSIO on prod-preview.
For example, when doing account reset, jenkins pod is not started, because of this same error.
This may also interest @ldimaggi ;-)

[2018-02-15 11:32] tisnik commented on #2094
All PR are now tested on CI:

https://ci.centos.org/job/devtools-fabric8-analytics-license-analysis-fabric8-analytics/80/console

[2018-02-15 11:32] #2094 closed

[2018-02-15 11:36] msrb commented on #2006
I am first doing some refactoring in the code that deals with NVD data.

[2018-02-15 11:42] GeorgeActon commented on #2263
@sivaavkd review with @tisnik and add prioirity

[2018-02-15 11:50] msrb commented on #2263
This is SEV2 high in my opinion. Tests are failing, but CI thinks everything is OK and we are promoting such code to production.

[2018-02-15 11:50] msrb commented on #2263
Thanks @tisnik, good catch 👍

[2018-02-15 11:53] qodfathr commented on #2227
@aslakknutsen I agree that things could be incomparable, esp. for Stage and Run. But looking ahead, we'll have user defined environments, and those environments could represent, for example, two testing environments -- one with old version of app and other with new version -- whereby I'm running a load test simultaneously against both to see impact of a software change. In other words, they *could

[2018-02-15 11:55] msrb commented on #2263
@tuxdna could you please take a look? Thanks 😉

[2018-02-15 12:11] arunkumars08 opened #2274 "Getting Started - Service and Unit Tests"
### Epic : https://github.com/openshiftio/openshift.io/issues/2178

### User Story:
As a OSIO user I will be able to see the new flows of forge wizard (OSIO) as per new UXD. [Quick Start flow]

### Description:
Currently, in OSIO we don't have mission flow. With this addition, it helps us to merge the flow from Launcher (i.e the mission, tech stack flow and others).

### Acceptance Criteria:
OSIO

[2018-02-15 12:31] invincibleJai commented on #1187
@GeorgeActon yes we have it in our task list https://github.com/openshiftio/openshift.io/issues/2178

[2018-02-15 12:34] #2166 closed

[2018-02-15 13:37] tuxdna commented on #2263
Looks like test environment issue. It exists for a long time so it must be working at some point.

 @miteshvp Could you check if it works for you?

[2018-02-15 13:42] miteshvp commented on #2263
@tuxdna - seems strange. Tests fail for me locally but the local access key works just fine.

[2018-02-15 13:43] miteshvp commented on #2263
Need to debug whether the tests are no longer talking to local but trying to reach cloud?

[2018-02-15 13:43] sanketpathak opened #2275 "Revamp UI : Dependency Editor"
User Story:

As a OSIO user I will be able to see UI of Dependency Editor (OSIO) as per  UX Design.
https://redhat.invisionapp.com/share/4EFV8QUSPUD

Description:

Allowing the user to edit (add/remove) the project dependencies once he selected one of the boosters in the project creation wizard and providing stack report of the project he is building.
Showing recommendations on the dependencies us

[2018-02-15 13:44] sanketpathak commented on #2182
I'm closing this user story since new revamped ux is introduced . The left over from this story is either redundant or are introduced in new design.
For reference refer to this story `https://github.com/openshiftio/openshift.io/issues/2275`

[2018-02-15 13:45] sanketpathak commented on #2182
I'm closing this user story since new revamped ux is introduced . The left over from this story is either redundant or are introduced in new design.
For reference refer to this story `https://github.com/openshiftio/openshift.io/issues/2275`

[2018-02-15 13:45] #2182 closed

[2018-02-15 13:45] bartoszmajsak commented on #2274
Shouldn't the tests be written together (if not first, but that's broader discussion) with the production code, not after? Doing it after is harder and also makes you miss the right moment to think about the design, making the code more modular and refactoring opportunities.

As for mocking external services please have a look at the concept of Contract Testing and [pact](https://docs.pact.io/) in

[2018-02-15 14:10] rhopp commented on #2273
@pbergene You idled the jenkins pods, thus prod-preview is operational again. Feel free to close this issue

[2018-02-15 14:55] joshuawilson commented on #2227
we have talked about 2 additional types of data to add:

1. JVM metrics
2. metrics from Frank's monitoring efforts

[2018-02-15 14:59] qodfathr commented on #2270
Closing as a dupe of #874 and #508.

The *deployment* was fine, so the pipeline should be Green. The issue is that the `Rollout to Run` link does not indicate that the app isn't *running*.

The Pipelines Screen is in need of an overhaul (and potentially merging into either Codebases or Deployments).

[2018-02-15 14:59] #2270 closed

[2018-02-15 15:03] joshuawilson commented on #2271
Since the team mentioned they had this next to do on their list of building out the deployments page I agree, this should be closed.

[2018-02-15 15:03] #2271 closed

[2018-02-15 15:27] qodfathr commented on #2227
There are also about 3-4 other "quota blocking" metrics. (e.g., you can only have 5 OSO "Services" in the free tier, there's a limit on total Routes, etc.) Knowing which apps are consuming these may be helpful, but certainly it's important to know the overall usage for these in the "Resource Usage" section. I think I have an issue for this already filed.

[2018-02-15 15:49] #2204 closed

[2018-02-15 16:01] bartoszmajsak commented on #763
This might be fixed with https://github.com/fabric8io/fabric8-pipeline-library/pull/381

@sbose78 give it a spin or use `@Library('github.com/bartoszmajsak/fabric8-pipeline-library@cube-properties')` as that's what this PR brings.

[2018-02-15 16:02] bartoszmajsak commented on #1259
This also leads to losing status of the PR and be able to merge even when builds fails, as there is no update fed back to GH.

[2018-02-15 16:06] bartoszmajsak commented on #2177
@rupalibehera @chmouel  if you give me admin rights I can clean it up myself

[2018-02-15 16:08] pbergene commented on #2273
Ah yes - meant to comment on here.  Happy to hear that worked.  Sadly it looks like it's back.  Could be bad neighbours..

[2018-02-15 16:16] bartoszmajsak commented on #2243
Few observations from my side while working on the fix for Boosters imported through quickstart (so having Fabric8 pipeline library used)

- only "CI" builds executes integration tests, regular builds on `master` branch (so "CD" part in the `f8-p-l` book) runs regular tests unless specified differently (see [here](https://github.com/fabric8io/fabric8-pipeline-library/blob/4b899c6dd5bef984939658af5

[2018-02-15 16:21] bartoszmajsak commented on #2243
Another interesting bit is that this library assumes that user has certain profile defined in his Maven build [[1](https://github.com/fabric8io/fabric8-pipeline-library/blob/de8d06de6f8019354b8983804e8db6d049ea654c/vars/canaryRelease.groovy#L16-L20)] [[2](https://github.com/fabric8io/fabric8-pipeline-library/blob/e2ad4f66a3185d678c58419bbc31a37af278ea66/vars/mavenCanaryRelease.groovy#L17)] [[3](ht

[2018-02-15 16:43] jpopelka commented on #2222
Giving up for now.

The upstream issue which Michal references talks about disabled EC, ECDHE, ECDH algorithms in openJDK, but the version in worker image should be OK (and also if it was wrong it'd probably fail when running locally too as it runs in container, right ?):
[code]

No idea why the process is killed on dev cluster though.

[2018-02-15 17:32] andrewazores commented on #2269
I notice you have your cache disabled while the dev console is open. How much of that 2.3-2.4MB transferred is actually unique to the Deployments page and how much of it is common OSIO code paths, and how long does refreshing the page take if chunks can be cached? How do these numbers compare to other pages?

[2018-02-15 17:34] jiekang commented on #2268
@ebaron @stooke any ideas? `space label missing from deployment config` looks to be from `deployments_kubeclient.go`

I can't reproduce on my account though. I wonder if there's something wrong specifically with Len's deployment.

[2018-02-15 17:40] jiekang commented on #2268
If this error occurs once, I'd expect it to occur many many times; as far as I understand it the code producing the error is querying the same thing for the existence of some value. It shouldn't be possible for it to sometimes exist, and other times not exist.

[2018-02-15 17:40] ldimaggi commented on #2268
Not sure - the deployments that I used were simply from new quickstarts created in the OSIO UI on production.

The problem was intermittent - but I did see it numerous times.

[2018-02-15 17:44] jiekang commented on #2206
The code [1] suggests the error is being logged to console. @pmacik would it be possible to provide console logs for this? I'm having some trouble reproducing it; it just redirects me to the openshift.io landing page.

[1] https://github.com/fabric8-ui/fabric8-ui/blob/d94d6be421ff79d50666baca3fa5904085261062/src/app/space/wizard/space-wizard.component.ts#L82

[2018-02-15 17:48] jiekang commented on #2189
I no longer see this in prod-preview; closing.

[2018-02-15 17:48] #2189 closed

[2018-02-15 17:48] jyasveer commented on #2272
@SMahil i see only one scrollbar behind the modal. Could you please help me understand more ?

[2018-02-15 18:01] aptmac commented on #2268
I ran into this problem once yesterday, although it logged me out at the same time and I thought that had something to do with it.

[2018-02-15 18:17] ebaron commented on #2268
If anyone can reproduce this again, could you verify that the DeploymentConfig is missing the space label? You can do this by running `oc -n <namespace> get dc/<app name> -o json`. The space label should be under metadata/labels.

[2018-02-15 18:46] bartoszmajsak commented on #2217
Thread on detailed steps to validate boosters can be found on the [`#fabric8-launcher` mailing list](https://groups.google.com/d/msg/fabric8-launcher/NypXPuyoCrg/Ic-SWweOCgAJ).

[2018-02-15 19:07] ldimaggi opened #2276 "Pipeline page on https://openshift.io is corrupted - build pipelines cannot be promoted"
Steps to recreate:
* Create new quickstart, select release, stage, run as deployment strategy
* Observe the pipeline page display:

![screenshot from 2018-02-15 14-03-53](https://user-images.githubusercontent.com/642621/36275628-5caabbce-1259-11e8-89b1-0522ca00e629.png)

![screenshot from 2018-02-15 13-53-16](https://user-images.githubusercontent.com/642621/36275629-5cb71f5e-1259-11e8-9456-5b85f2b

[2018-02-15 20:33] qodfathr commented on #2276
Is this a dupe of #2034? (If yes, we need to reopen it...)

[2018-02-15 20:41] ldimaggi commented on #2276
Nope - diff issue - and I think that Josh just fixed it.

[2018-02-15 20:49] ldimaggi commented on #2269
With caching disabled - the time to refresh the page is about 10 seconds.

With caching enabled, the time is about 11 seconds.

[2018-02-15 20:52] qodfathr commented on #1564
See #351 for some auxiliary information; still need to write this one up.

[2018-02-15 21:12] aptmac commented on #2269
Is that using a browser refresh? Or simply loading the page from another page?

I did a bit of digging using the Planner page as a guinea pig to test against the deployments page, here's what I got:

- Loading of Deployments from another page: just under 3 seconds
- Hard refresh of Deployments (cached): 21.47s, 26.9 KB transferred
- Hard refresh of Deployments (no-cache): 23.27s, 49.5 MB transferr

[2018-02-15 21:22] qodfathr opened #2278 "OpenShift.io Environments"
OpenShift.io Environments are essentially deployment targets for applications created in OpenShift.io. Some environments are automatically created. Some lack configuration capabilities. For example, the free environments `Stage` and `Run` are good examples of both -- these environments are automatically created for the user, and there is almost nothing the user may do to customize these environmen

[2018-02-15 21:26] qodfathr commented on #2201
How intermittent is this? Perhaps better off as a SEV3?

[2018-02-16 03:22] ldimaggi commented on #2201
Actually - this was only seen for one day - closing for now, will re-open if it appears again.

[2018-02-16 03:22] #2201 closed

[2018-02-16 03:23] ldimaggi commented on #2276
Fixed in production.

[2018-02-16 03:23] #2276 closed

[2018-02-16 03:24] ldimaggi commented on #2269
That's interesting! I was doing a browser refresh. So - this is a more general problem. 53 seconds for the Planner?

[2018-02-16 03:25] SMahil commented on #2272
@jyasveer those are two scrollbars overlapping each other. try scrolling down the page when content is lengthy.
I have attached the video link:
https://drive.google.com/open?id=1HAkRUEDwKRWDiC9kns7KAyP9Lbmjno42

[2018-02-16 03:58] abs51295 commented on #2177
@bartoszmajsak @chmouel @rupalibehera if you can do this it would be quite helpful for us for Gemini activities. Thanks :)

[2018-02-16 04:33] sivaavkd commented on #2153
@SMahil - this is raised as Sev2.. I am assigning this to current sprint 145.  Let me know if you think otherwise.

[2018-02-16 05:05] joshuawilson commented on #2153
You should discuss it with PM, you might downgrade it to SEV3. If there is no expectation for anyone to print the report then it wouldn't be a SEV2. But it is a report and manager like to print reports. :)

[2018-02-16 05:19] miteshvp commented on #2263
From this logs https://ci.centos.org/job/devtools-fabric8-analytics-data-model-fabric8-analytics/17/consoleFull
this change looks to be the culprit as it is trying to reach to actual AWS services now

<img width="817" alt="image" src="https://user-images.githubusercontent.com/17736013/36294441-bd116dac-1306-11e8-84de-a25933bff360.png">

cc @msrb @tuxdna

[2018-02-16 05:29] muruGanesan commented on #2153
@SMahil, @arunkumars08,  is it possible to fix using HTML/CSS?

[2018-02-16 07:19] msrb commented on #2222
@jpopelka I think what's worth trying is to simply delete the cached DB from S3 and let the job to recreate it from scratch again.

[2018-02-16 07:21] msrb commented on #2090
Quick update: we should now have all the latest wildfly data (from packages.json) in S3 and in graph.

[2018-02-16 07:30] pbergene commented on #2273
Ah yes - meant to comment on here.  Happy to hear that worked.  Sadly it looks like it's back.  Could be bad neighbours..

Found this comment written, but not posted in my browser 16 hours later.  What is it looking like now?

[2018-02-16 07:30] sara-02 commented on #2090
@msrb Thanks :)

[2018-02-16 07:46] chmouel commented on #2177
Thanks for the reminder, I have archived it! I would not mind giving you rights but I am not sure I am the one who can give them,

[2018-02-16 07:46] #2177 closed

[2018-02-16 07:53] tisnik opened #2279 "The check for payload presence and its content is misplaced in f8a-license-analytics module stack_license.py"
The check is placed at line 107:

https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/blob/master/src/stack_license.py#L107

But it must be performed anywhere before line 102 (+ would be better to check for the presence of 'packages' entry):

https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/blob/master/src/stack_license.py#L102

The reproducer can be seed

[2018-02-16 09:52] Raunak1203 opened #2280 "Incorrect data on user profile page"
Current logged in user - Raunak Bajpai
Profile page user - Pavel Macik
Github account linked to user - Raunak Bajpai
Openshift account linked to user - Pavel Macik

![screenshot from 2018-02-16 15-17-15](https://user-images.githubusercontent.com/34271052/36301974-bf8bf388-132c-11e8-8292-16987362bd99.png)

[2018-02-16 09:58] jpopelka commented on #2222
Nice idea.
Tested and this time it was the same as on dev cluster, i.e. the process was killed (ended with -9)

[2018-02-16 09:59] ibuziuk commented on #2273
@pbergene currently prod-preview is unusable

![image](https://user-images.githubusercontent.com/1461122/36302368-7e0eef06-1308-11e8-9b6a-ac95828c53dd.png)

[2018-02-16 10:32] bartoszmajsak opened #2281 "Missing "title" text when selecting pipeline strategy in quickstart wizard"
When you select pipeline, radio box has alt text "choice.name" instead of the actual value.

### Steps to reproduce

1. Create new space
2. Select "create new quickstart project"
3. Got to pipeline step and mouse over any of the radio boxes

### Expected behavior

Pipeline strategy name displayed in the "mouseover text"

### Actual behavior

"choice.name" displayed

![image](https://user-images.gi

[2018-02-16 11:44] GeorgeActon commented on #2153
As a manager, I would much prefer to look at this online. It is a more focused & interactive view

[2018-02-16 11:48] ppitonak commented on #1554
Related to this, when you click "Add Assignee" and then click close (without any changes to assignees), it shows the unnecessary notification and performs a HTTP request which is unnecessary.

[2018-02-16 11:49] pbergene commented on #2273
Ack. The idling of jenkins was short lived, I'll see what we have consuming resources and investigate usage quotas.

[2018-02-16 11:51] ppitonak commented on #1598
It seems to be outdated.

[2018-02-16 11:53] ppitonak commented on #1638
Seems to be outdated.

[2018-02-16 12:13] ppitonak commented on #1829
I cannot reproduce it.

[2018-02-16 12:15] jarifibrahim commented on #2235
Based on the discussion we had on the call, I tried to profile the memory usage of planner build.
It turns out we need about 1 GB of memory.
I ran planner build in a docker container with the memory limit of 1 Gb.

Note - I executed only the first 3 steps of planner builds. I did not execute `fabric8-ui` build and the `snapshot build` step.

[![asciicast](https://asciinema.org/a/163367.png)](https

[2018-02-16 12:17] pbergene commented on #2235
As discussed on a call, we have a workaround and it is not a 'complete' blocker, but needs to be worked out. Reducing the severity and hoping this will be worked through.

[2018-02-16 12:19] miteshvp opened #2282 "Analytics Support for Boosters especially Redhat GA versions"
Current boosters available at launch.openshift.io has upstream and downstream releases bundled. Since Redhat GA versions are not available on `maven central` (which our anlytics relies on to fetch the artifact from), we will have to ingest these pacakges from `redhat maven` in order to make the analytics available for the said dependencies.

[2018-02-16 12:42] ppitonak commented on #1837
This works too:

[code]

[2018-02-16 12:45] muruGanesan commented on #2153
It may not be a use case for Analytics. But I could see the similar issue in planner too.
 - Is this a problem across the OSIO?

![printpreview_osio_planner](https://user-images.githubusercontent.com/26006817/36308008-ce27c30a-1344-11e8-9e3c-7f43fb777c82.jpg)

[2018-02-16 12:53] ppitonak commented on #1887
Looks OK for me.

[2018-02-16 12:56] michaelkleinhenz commented on #2235
Update: the cause of [3] is found. It is apparently an inconsistency between npm 5.3 and later versions. Tested with npm 5.6, I can reproduce that lock files generated with 5.6 show that problem on *some* packages when used with 5.3. We will switch to 5.3 locally now as well as Platform is not ready to move to current stabel npm.

[2018-02-16 13:05] joshuawilson commented on #2153
Planner is a dynamic table. Analytics is a report. @muruGanesan yes, the way you do this is with CSS.

[2018-02-16 13:10] ppitonak opened #2283 "Planner: long iteration name overflows the column"
1. open https://openshift.io/openshiftio/openshiftio/plan
2. navigate to `EE and Platform Tests` iteration
3. check the text in `Iteration` column

![osio_iteration_overflow](https://user-images.githubusercontent.com/445100/36309006-1fef09cc-1323-11e8-97d3-96c87bfcf304.png)

[2018-02-16 13:15] ppitonak opened #2284 "Planner: item preview - text not aligned with icon an dropdown menu"
1. Open any item in preview

![osio_alignment](https://user-images.githubusercontent.com/445100/36309157-d04d7254-1323-11e8-8e6e-f07d42968e1a.png)

[2018-02-16 13:27] ppitonak opened #2285 "Planner: full details page is blank in Firefox"
1. navigate to https://openshift.io/openshiftio/openshiftio/plan/detail/1873 in Firefox 58

![osio_blank](https://user-images.githubusercontent.com/445100/36309558-70adda8a-1325-11e8-8884-3eb9999f1c11.png)

[2018-02-16 13:40] ppitonak opened #2286 "Planner: icon next to item title does nothing"
1. open any project in planner with at least one item
2. hover over a work item
3. click on icon next to the work item title
![osio_item_icon](https://user-images.githubusercontent.com/445100/36310085-37cac7da-1327-11e8-8ee2-f6a467c88563.gif)

[2018-02-16 13:41] catrobson commented on #2153
IMO this was the inherent risk of calling this a "Report" rather than calling it a dashboard and treating it like a dashboard in our UI.  I believe the intent was to move Analytics over to the Analyze tab, and treat it more like a dashboard.  I think that might be more important in the short term than looking across OSIO for print-friendliness.  We can take on a task into UXD to consider print-fri

[2018-02-16 13:44] ppitonak opened #2287 "Planner: clicking on creator or assignee doesn't do anything"
1. open any project in planner with at least one item
2. hover over creator/assignee avatar - mouse cursor changes
3. click on the avatar

Result:
* nothing happens

Expected:
* something happens, although I'm not sure what - open all items the given user created/are assigned to him? open his profile?
* if no action is expected, mouse cursor should not change

[2018-02-16 13:49] ppitonak opened #2288 "Planner: arrow icon next to items that cannot be expanded"
1. open any project with at least one item of type with no children, e.g. `Task`
2. hover over `>` icon - mouse cursor changes
3. click on `>` icon - nothing happens

Expected:
There would be no icon unless a `Task` can have subtasks

![peek 2018-02-16 14-48](https://user-images.githubusercontent.com/445100/36310494-7a7097b2-1328-11e8-8ffe-fa36cd0850d1.gif)

## Impacts
- [ ] #2162 Planner Backlog

[2018-02-16 13:55] msrb commented on #2222
@jpopelka killed in staging?

[2018-02-16 13:56] ppitonak opened #2289 "Planner: add item button next to items that cannot have children"
1. open any project with at least one work item that cannot have children, e.g. `Task`

Result:
There is grey `+` icon which is inactive (correct behavior). It's easy to understand the meaning of this icon if there are tasks both that can and cannot have children (blue vs. grey `+` icon). However, it's confusing in views with only work items types that cannot have children, I suggest to stop using

[2018-02-16 14:00] muruGanesan commented on #2153
@ldimaggi, @qodfathr, Can we close this issue or treat it as low priority?
 Because we need to take this up as a separate requirement and work on it.

[2018-02-16 14:01] ppitonak opened #2290 "Planner: vertical scrolling in list of items slow"
1. open any project with so many work items that vertical scroller appears
2. start scrolling up and down

Result:
* In Chrome, it looks normal but is slow
* In Firefox, the text is disappearing

![peek 2018-02-16 14-57](https://user-images.githubusercontent.com/445100/36311012-27e1bcb8-132a-11e8-96d3-e5bb0a1d495b.gif)

[2018-02-16 14:05] ppitonak opened #2291 "Planner: update iteration date - popup doesn't close"
1. open any project
2. create new iteration or update existing one
3. click on "Start Date" calendar input
4. click on "Name" input

Expected:
calendar popup is closed

Actual:
you need to click on "Start Date" calendar input again to close it (or choose a date)

![peek 2018-02-16 15-05](https://user-images.githubusercontent.com/445100/36311215-d6f71194-132a-11e8-94a9-d5714aeb2203.gif)

[2018-02-16 14:07] #2281 closed

[2018-02-16 14:08] ppitonak opened #2292 "Planner: iteration - set start/end date doesn't do anything"
1. open any project in planner
2. create a new iteration with no start/end date
3. click `Set start date` in left panel

Result:
* nothing happens

Expected:
* either I can set the date or it is not displayed at all

![osio_date](https://user-images.githubusercontent.com/445100/36311329-3d4fc576-132b-11e8-9a45-8ef28f8429d5.png)

[2018-02-16 14:11] ppitonak opened #2293 "Planner: hide/remove non-functional search input"
1. open any project in planner
2. there is an input box in left bar that doesn't do anything

Expected:
* either it should work or it shouldn't be displayed

![osio_search](https://user-images.githubusercontent.com/445100/36311438-9958306a-132b-11e8-9604-1513100cd9a8.png)

[2018-02-16 14:14] ppitonak opened #2294 "Planner: filter name and column name not consistent"
![osio_state_status](https://user-images.githubusercontent.com/445100/36311586-0802fb08-132c-11e8-9908-65a38f5a3ae0.png)

[2018-02-16 14:18] ppitonak opened #2295 "Planner: clicking on label doesn't filter properly"
1. open any project with an item with a label and another item with different/no label
2. click on a label

Result:
* URL changes but the view contains also items without this label

![peek 2018-02-16 15-16](https://user-images.githubusercontent.com/445100/36311747-9146af7c-132c-11e8-9bde-59ef3732224b.gif)

[2018-02-16 14:20] catrobson commented on #2153
@muruGanesan is there a clear place where we can capture an issue to work on getting the current analytics report over into the Analyze tab as a dashboard experience?

[2018-02-16 14:23] ppitonak opened #2296 "Planner: horizontal scroller always present"
1. open project with items with short title, no/one label, no iteration, assigned user

Result:
* Horizontal scroller is present on big monitor (1920x1080) even though the table could be compressed and still show all data

![peek 2018-02-16 15-22](https://user-images.githubusercontent.com/445100/36311931-36cb17b2-132d-11e8-9b08-2f5f31760247.gif)

[2018-02-16 14:30] aptmac commented on #2269
Errrr, those values I saw were a lot higher because I was looking at a local build targeting prod, my mistake.

However, looking at prod, there is still a large amount of time being spend loading the page on a browser refresh. For example, refreshing the browser on the Planner page took 9 seconds and 2.8 MB (if uncached). Likewise, the Deployments page took almost the same amount of time (~9 secon

[2018-02-16 14:38] muruGanesan commented on #2153
@catrobson, since we (UX Bangalore team) doesn't have separate issue tracking,  I may request @GeorgeActon or @sivaavkd to capture this as an OSIO Analytics requirement and UX can work on it. Headsup information: we would like to take this up after summit/GA.

[2018-02-16 14:45] muruGanesan commented on #2153
Meanwhile, I request @ldimaggi, @qodfathr to reduce the severity or close this issue. Because 'print preview' is generic requirement (irrespective of Analytics/Planner/HDD etc).

[2018-02-16 15:13] joshuawilson commented on #2153
I'm going to close this and @qodfathr can reopen it if he wants this included.

[2018-02-16 15:13] #2153 closed

[2018-02-16 15:33] aslakknutsen commented on #2200
Refresh a few times. You can also see that links from pipeline view points to openshift.io from time to time instead of oso.

Is it a sev1 that the UI is completely off every n request.. :man_shrugging:

[2018-02-16 15:52] catrobson opened #2297 "Add "Manage Account" to user dropdown"
The user dropdown should get a new item added to it named "Manage Account". This should go below Chat, above Log out. A line should separate Manage account from logout.

Profile
Chat
Manage Account
<line>
Log Out

Manage Account should navigate the user to: https://manage.openshift.com/

This is to create consistency between applications using OpenShift accounts. All UIs (OpenShift Console, iPaaS

[2018-02-16 15:57] GeorgeActon commented on #2153
@sivaavkd @muruGanesan before taking design action here, review with PM. As a manager I do not think a print out of everything would be useful, inspecting online would be more useful. A condensed subset might be useful but that would actually be a new feature depending on what the use case is.

[2018-02-16 16:59] qodfathr commented on #2297
I understand the desire/need for consistency, but when I'm using OSIO, it seems that I think of my user account as "my account," so "Manage Account" going to manage.openshift.com seems odd. Worse, if I *only* have the OSO account from OSIO, then the only choice on that screen is to return to OSIO:

![image](https://user-images.githubusercontent.com/16322190/36319016-a6333738-130f-11e8-93a2-44ee162

[2018-02-16 17:14] catrobson commented on #2297
Waiting for PM signoff on this behavior before we implement.

[2018-02-16 17:15] catrobson commented on #2297
I'll bring this back to UXD and OpenShift PM for further conversation given your comments.  I agree this isn't really an expected behavior for OSIO and appreciate your thoughts on it @qodfathr!

[2018-02-16 17:32] jyasveer opened #2298 "Prod preview - Unable to start pipelines"
I am unable to start pipelines in prod preview. And I am BLOCKED by this.

[2018-02-16 17:40] ldimaggi commented on #1790
This problem is recurring. I have encountered this problem multiple times this week, but its timing seems to be random.

The problem is probably not a hardship for end-users, but it affects automated testing as it prevents the tests from automatically extracting the build logs. The absence of these logs makes it difficult to debug failed tests.

[2018-02-16 17:43] bartoszmajsak opened #2299 "Booster integration tests are failing during PR pipeline"
Pipelines are not executing booster integration tests properly due to wrongly configured "Integration Tests" step.

Build log - https://gist.github.com/lordofthejars/f134637a7e8299d61be452192a1cf2b4

## Impacts
- [ ] #2084 Getting Started Quickly with a Framework - from Wizard, to IDE, to Deployment

[2018-02-16 17:43] bartoszmajsak commented on #2299
Fixed in https://github.com/fabric8io/fabric8-pipeline-library/pull/381

[2018-02-16 18:02] joshuawilson commented on #1790
have you been seeing it on the new cluster 2a? or the old one?

[2018-02-16 18:03] joshuawilson commented on #2298
@alexeykazakov could this have to with moving from free-int to free-stg?

[2018-02-16 18:44] joshuawilson commented on #2280
How do I reproduce that? I have only my info.

[2018-02-16 18:53] ldimaggi commented on #1790
So far, only on the old cluster. Will look on the new cluster now too.

[2018-02-16 19:15] #2199 closed

[2018-02-16 20:23] jfchevrette commented on #2273
A bunch of stray infra pods were cleaned up by the ops team and this should now allow us to provision new pods again.

[2018-02-16 20:29] ldimaggi opened #2300 "Users on the new cluster are directed to an invalid URL when attempting to "View Log" for the Jenkins build log for a build"
Steps to recreate:
* Login to https://openshift.io as a user configured on the new cluster
* Create a new space, new quickstart - observe the build pipeline start
* Attempt to view the build log
* The link provided to the user for the build log is similar to:
https://jenkins.openshift.io/job/username/job/spacename/job/master/1/console

This URL returns this error:
{"Errors":[{"code":"500","detail"

[2018-02-16 20:46] ldimaggi commented on #2230
Srill seeing slow performance:

![screenshot from 2018-02-16 15-45-06](https://user-images.githubusercontent.com/642621/36328557-8aca4c90-1330-11e8-8ba8-717b9c0126d3.png)

[2018-02-16 21:49] ldimaggi commented on #1790
So far - I have only seen this on the old cluster.

[2018-02-16 22:04] ldimaggi commented on #2298
This looks OK now - is anyone still seeing this problem?
![screenshot from 2018-02-16 17-00-47](https://user-images.githubusercontent.com/642621/36331328-6346cdb4-133b-11e8-9f00-d05c141f029c.png)

[2018-02-16 22:56] alexeykazakov commented on #2280
Hm... Looks like some UI glitch.. Can you try hard refresh?

This is what I see when opening Pavel's profile page:

![scr](https://user-images.githubusercontent.com/620087/36332687-15487bf2-1328-11e8-810e-780b78b38d9e.png)

[2018-02-17 02:23] joshuawilson commented on #2298
They manually scaled down my jenkins and back up. That brought Jenkins to life and I could create pipelines again.

@jyasveer how long have you been unable to build / create pipelines?

[2018-02-17 02:28] joshuawilson opened #2301 "Configure Deployments widgets"
On the Analyze dashboard is a widget titled `Deployments`. This is the `Environments` widget renamed and relinked.

The dashboards are all getting redesigned. But we need to get this one operational for now. The App/Env widget was made out of date with the removal of the App/Env pages.

The old design should be good enough since everything is getting redesigned this train. It showed the applicatio

[2018-02-17 05:11] jaseemabid commented on #2235
@michaelkleinhenz  AFAIK, the current Jenkins master is running Node.js 0.10.30 which was released on 2014-07-31, almost 4y old. Would you like it to be upgraded to latest stable? I've a PR for that already.

See https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/13

[2018-02-17 05:20] sara-02 commented on #2090
[code]

[2018-02-17 16:35] muruGanesan commented on #2153
@GeorgeActon, We have not taken any design action on this issue.
We are considering this (print option) issue as a separate requirement in OSIO.io and would discuss with PM after the summit.

[2018-02-17 23:11] joshuawilson commented on #2235
@jaseemabid everything should be on Node 8.3.0 and NPM 5.3.0. If you find something running a different version please let me know.

[2018-02-18 04:56] jaseemabid commented on #2235
@joshuawilson Alright! Thanks. I'll take a look at the images and let you know.

[2018-02-18 13:06] ravsa opened #2302 "Gathering categories data for spring, vertx, wildfly-swarm"
#### User Story:

As an OSIO user, I will be able to get dependencies with categories based on mission and technology selected.

#### Description:
Collecting categories data from spring, vetx, wildfly-swarm and store it in graph database so that it can be used for categories search service in dependency editor.

#### Tasks:
- [x] Implement the logic for data collecting for spring and dumped it int

[2018-02-18 19:42] #2100 closed

[2018-02-19 05:29] joshuawilson opened #2303 "Response with status: 404 Not Found for URL: https://api.openshift.io/api/spaces/7f851fa5-8840-4e..."
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-ui/issues/239/

[code]

[2018-02-19 07:30] jpopelka commented on #2222
Yes, in staging the process is killed when pulling the NVD db from scratch.

[2018-02-19 08:41] SMahil commented on #2288
@muruGanesan Sunil,
Please have a look on this issue

[2018-02-19 08:58] pbergene commented on #2230
While there were some performance improvements done at the end of last week, especially affecting git operations, we are expecting that this networked storage backend will be slower than locally attached ebs volumes.

[2018-02-19 09:08] muruGanesan commented on #2289
@ppitonak , If I understand correctly,  you are suggesting to remove the (+) [add icons] for the last nodes i.e. work item type 'Task' - please confirm me the same.

[2018-02-19 09:09] ppitonak commented on #2289
@muruGanesan yes

[2018-02-19 10:15] tuxdna commented on #2220
I tried with the low hanging fruit of changing the server type. This doesn't make any difference to the number of requests we can make to Jobs API:

# With server='flask'

[code]

# With server='gevent'

[code]

In both the cases the result is same.

[2018-02-19 10:16] tuxdna commented on #2220
Next thing I am trying out is using a per-container Lockfile, that ensures exactly one process / thread has an active Scheduler.

[2018-02-19 10:42] #2299 closed

[2018-02-19 10:47] msrb commented on #2220
@tuxdna I realized that we have a persistent volume attached to the service at the moment. That's something we will need to tackle separately, but unfortunately it means that even if we find a workaround for the scheduler here, we still won't be able to easily scale up (increase number of replicas) the service.

[2018-02-19 10:48] Raunak1203 commented on #2280
@alexeykazakov i tried hard refresh and now i cant see his profile but still i can see space which he created.
![screenshot from 2018-02-19 16-17-25](https://user-images.githubusercontent.com/34271052/36374168-6d9e1aea-1590-11e8-8a53-75cf785f7d16.png)

[2018-02-19 10:52] davidfestal commented on #2273
It's broken again right now. I has been working this morning though.

[2018-02-19 10:54] tuxdna commented on #2220
@msrb That's correct. The root cause for not being able to increase the replicas is the way containers are started and stopped. At the startup we can definitely acquire a lock ( this lock could be an arbitrary mechanism and not just files ), but at the shutdown ( the container does for example ), we can not guarantee a release of that lock. i.e.

 * Container Startup --> acquire_lock() --> ensure

[2018-02-19 10:58] msrb commented on #2220
@tuxdna yeah, decoupling scheduler seems to be the best approach. But that alone will not allow us to increase number of replicas, because the persistent volume can only be attached to a single pod. That's out of scope for this issue though.

[2018-02-19 12:41] pbergene commented on #2200
Looks like sev-1 label was from before it was re-opened.  This obviously should be fixed, for the sake of the experience, but also having our tests succeed..   I don't consider it a complete blocker as there is a workaround, so not really a sev-1.   On the last call we agreed to see if this was caught in error tracking and if that could give us some idea on the frequency this is occurring.  Will b

[2018-02-19 12:43] msrb commented on #2282
This may seem trivial on surface, but adding support for 3rd party repositories (including our own RH Maven repository) will be far from trivial and it will require changes in many (all?) subsystems. It will also affect how we give recommendations.

Simple example:
The latest version of package X in Maven Central is V, but 3rd party Maven repository has version V+1. We will start recommending V+1

[2018-02-19 12:44] msrb commented on #2282
Let's discuss this in cabal tomorrow.

[2018-02-19 13:05] michaelkleinhenz commented on #1933
New behaviour: I have crashed builds when moving around files:

https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8-ui%2Ffabric8-planner/detail/PR-2419/32/pipeline

[code]

I can't reproduce this on local.

[2018-02-19 13:20] mindreeper2420 commented on #2050
@joshuawilson documentation linking has been updated, per https://github.com/fabric8-ui/fabric8-ux/issues/874 (all associated PRs attached to that).

Can you and @pkettman verify if this is still an issue or not? It went from browser rendering support to documentation, so I'm not quite sure if both have been fixed or not. :)

[2018-02-19 13:30] jarifibrahim commented on #1933
@michaelkleinhenz This is a known issue with `npm` https://github.com/npm/npm/issues/17444

[2018-02-19 13:35] joshuawilson commented on #2050
With the updates to the links on the page it appears to work. I'm going to close this.
@pkettman if you are still having issues, please reopen this.

[2018-02-19 13:35] #2050 closed

[2018-02-19 13:50] michaelkleinhenz commented on #1933
@jarifibrahim that thread says removing package-lock.json solves the issue. I just don't say anymore about all of this. It is just so sad.

[2018-02-19 13:54] jarifibrahim commented on #1933
@michaelkleinhenz We should try Yarn https://yarnpkg.com/en/ for once.

[2018-02-19 14:35] michaelkleinhenz commented on #1933
Update: the above issue has been fixed by removing an re-generating the lock files.

[2018-02-19 14:44] tuxdna commented on #2161
- [ ] https://github.com/fabric8-analytics/gremlin-docker/pull/32

- [ ] https://github.com/openshiftio/saas-analytics/pull/255

[2018-02-19 14:53] xcoulon opened #2304 "Enable force_pull on Token API to validate Cluster Token on startup"
This should help verifying that the token is valid.

[2018-02-19 15:00] muruGanesan commented on #2289
@ppitonak, We considered multiple aspects of the visual guidance and then decided on the current implementation. But still, we will evaluate your point and get back.
NOTE: we may not change the current implementation if we don't find the best alternative solution.

[2018-02-19 15:09] muruGanesan commented on #2289
@ppitonak, We considered multiple aspects of the visual guidance and then decided on the current implementation. But still, we will evaluate your point and get back.
NOTE: we may not change the current implementation if we don't find the best alternative solution.

[2018-02-19 15:47] nimishamukherjee commented on #2287
@sahil143 disable the mouse cursor

[2018-02-19 15:56] rootAvish commented on #2264
Link to possible logic for alternate package recommendation: https://docs.google.com/document/d/1ItGNUSLw7tkLyaEh7u-e0lFRg1hPgB2vAP9KcRUMO40/edit?usp=sharing

[2018-02-19 17:59] muruGanesan commented on #2288
@SMahil, this is similar to issue #2289. But, hover 'color' -or- 'cursor' change is based on the text (i.e. work-item) is clickable to bring quick preview.
@ppitonak, the expected behavior is similar to issue #2289 - which subjected to our visual review. If we decide to retain the icon in the disabled state then, we might close this issue too.

[2018-02-19 18:18] rootAvish commented on #2264
Link to possible approach for NPM package alternate recommendations: https://docs.google.com/document/d/1-naujnNC0FTQG8qnr0srBPVOrD5VYjusPU6vIK2pL9k/edit?usp=sharing

[2018-02-19 18:23] rootAvish opened #2306 "Change kronos dockerfile and fix unit tests to complete the move of Kronos to Python3"
## Description

In the Kronos service, we made sure that our codebase is compatible with Python3 with https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/45. However the `Dockerfile` has not been changed yet as the unit tests do not pass when using Python3. This is not due to some error in the code, rather a consequence of comparing two deep dicts using the Python `==` opera

[2018-02-19 18:24] rootAvish commented on #2306
/cc @sivaavkd Please take this up in the next sprint planning.

[2018-02-19 19:05] alexeykazakov commented on #2280
That's OK. You are supposed to see spaces. All spaces in OSIO are currently public. You should not see some links/buttons/menu for spaces (at least where you are not a collaborator) like "add to space" or "import codebase" but it's another issue.

[2018-02-19 20:57] alexeykazakov commented on #2304
BTW if you call /api/token with force_pull: `auth.openshift.io/api/token?for=openshift&force_pull=true` or
get token status via `auth.openshift.io/api/status?for=openshift&force_pull=true` then Auth will verify token for you. With this param the auth service will try to load the user profile from OSO, so if 200 OK is returned then the token is valid.

[2018-02-19 22:41] ldimaggi commented on #2230
Just saw 2 tests run in about 14 min:

https://ci.centos.org/view/Devtools/job/devtools-test-e2e-openshift.io-smoketest-cluster-two/37/
https://ci.centos.org/view/Devtools/job/devtools-test-e2e-openshift.io-smoketest-cluster-two/36/

In comparison, the same test on the old cluster ran in 8-10 min:
https://ci.centos.org/view/Devtools/job/devtools-test-e2e-openshift.io-smoketest-cluster-one/707/
htt

[2018-02-20 00:17] mishaone opened #2307 "RFE: env reset+tenant update and feature availability should be in settings instead of profile"
I would recommend that now that we have moved out the docs and about links to the ? icon, we should have either a separate cog icon for settings along with those icons or just a separate Settings option under the profile submenu. It feels very unintuitive to me to click on the profile option and then find the environment reset option or where I can choose whether I want production or experimental

[2018-02-20 01:43] joshuawilson commented on #2307
You have a title that does not match the description.
To the point of the title; we have been discussing removing the reset option completely.
The question of the Settings icon and location is up to UX. -> @catrobson

[2018-02-20 02:34] GeorgeActon commented on #2272
@sivaavkd this is a sev3 but looks very bad. Needs to be fixed

[2018-02-20 02:52] GeorgeActon commented on #2126
@sivaavkd Please follow up on this.

[2018-02-20 02:57] ldimaggi opened #2308 "Creating new Che workspace failing on https://openshift.io (in production and prod-preview)"
This problem has been seen in the past and is back again. When creating a new Che workspace, this error is being seen: Start of environment 'default' failed. Error: Failed to get the ID of the container running in the OpenShift pod

Production:

![screenshot from 2018-02-19 21-50-48](https://user-images.githubusercontent.com/642621/36405645-c2218a00-15bf-11e8-91f4-5d69ac6aa3f2.png)

Prod-preview:

[2018-02-20 03:00] ldimaggi commented on #2308
Issue found/encountered by EE tests.

[2018-02-20 03:04] kbsingh commented on #2308
is this in prod or prod-preview ?

[2018-02-20 03:29] jyasveer commented on #1773
changes for the dashboard are moved to prod now. so i am closing this issue.

[2018-02-20 03:29] #1773 closed

[2018-02-20 06:03] mishaone opened #2309 "deployments page kebob options both display at once"
In the Deployments screen, I clicked the Stage kebob (three vertical dots) option and it displayed additional options as expected. I then moved to the Run kebob and clicked that as well, expecting that the Stage one would stop displaying options but the second one appeared as well. Now both display, which is a minor bug. See screenshot for illustration of the problem:

![double_menu](https://user-

[2018-02-20 06:19] sahil143 commented on #2286
@ppitonak @nimishamukherjee I'm not able to reproduce this. Can you verify?

[2018-02-20 06:34] ibuziuk commented on #2308
@ldimaggi please provide more information - openshift events, che-server logs.

[2018-02-20 06:43] sivaavkd commented on #2126
@sara-02 - since the original reported bug is a feature and being tracked as #2090 , let us track this issue to update the message for "usage outliers" card when we don't support an ecosystem.  If we dont have a text to show, we can ask @Preeticp

[2018-02-20 07:54] ppitonak commented on #2286
@sahil143 I tried it again... it works fine in latest Chrome but doesn't work in Firefox 58

[2018-02-20 08:28] xcoulon commented on #2051
Moved to backlog as this is not a priority for the sprint: there are tests with mocks that already assert the controllers and unleash client wrapper.

[2018-02-20 09:29] tuxdna commented on #2263
@miteshvp Can you share your proposed fix in a PR?

[2018-02-20 10:08] sthaha commented on #1900
### Status Update

This is where we are with the task of locking down jenkins namespace. This is also a brain dump of how the roles and jenkins auth currently works.

Currently the `<user>-jenkins` namepace is configured to allow user to `view` and `edit` (rolebinding). The `edit` role allows them to fiddle around with jenkins deployment and hence removing the `edit` role would lock down the permi

[2018-02-20 10:12] tisnik opened #2310 "Gather and display code coverage on all repositories with unit tests on QA Dashboard"
Code coverage for all repositories that have unit tests needs to be displayed on QA Dashboard:
https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-02-20 10:12] tisnik commented on #2310
Implemented in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/482

[2018-02-20 10:15] tisnik opened #2311 "Code coverage report should be measured for all repositories that have unit tests"
Blocker for #2310

[2018-02-20 10:29] #2311 closed

[2018-02-20 11:11] tisnik commented on #2310
Implemented in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/482

[2018-02-20 11:11] #2310 closed

[2018-02-20 11:13] samuzzal-choudhury opened #2312 "Debug Analytics Anomalies on production"
## Description
The analytics API on production requires debugging mechanism for the following two broad categories:
1. Anomalies in accessing API endpoints.
2. Anomalies while processing requests in the API.

For category#1, we will require a mechanism to debug the 3scale gateway which is going to be a layer before the analytics API.

For category#2, we will require a script that can connect to th

[2018-02-20 13:16] ldimaggi commented on #2308
Closing - the problem is not reproducible this morning. It was reproducible ~8 hours ago - was something changed? Thx!

[2018-02-20 13:16] #2308 closed

[2018-02-20 13:32] catrobson commented on #2307
@mishaone we're moving towards this shortly, we're working on design proposals that we'll be implementing in this train where we will separate profile and settings.

[2018-02-20 13:38] msrb opened #2313 "Current graph queries could be missing some package versions"
_From @tuxdna on February 19, 2018 18:16_

This is what I have noticed on production for few packages, for example `org.wildfly.swarm:odata`:

All analyzed versions for this package (using bookkeeping api):

[code]

Which of these versions are not yet synced to graph ? ( using graph_sync pending API):

[code]

Even after invoking the graph sync API, I still get the pending version as not synced to

[2018-02-20 13:38] msrb commented on #2313
_From @miteshvp on February 20, 2018 3:13_

@tuxdna - acutally the above is correct. I do not see any data in our S3 bucket for the said version of the package. Below is the snapshot for version data

<img width="199" alt="image" src="https://user-images.githubusercontent.com/17736013/36406009-daacad5c-1619-11e8-96e6-46c9352e3d3f.png">
Also, the package level data is in error state.
Maybe you want

[2018-02-20 13:42] msrb commented on #2313
@tuxdna how do we obtain the list of packages that need to be synced? We indeed have no data for this packages in S3. I think what could have happened here is that we were analyzing this package, but the analysis was interrupted before the data reached S3. Therefore the record in RDS, but no data.

[2018-02-20 13:45] chmouel opened #2314 "Pipeline Performances checklist"
This is the epic task to improve the build pipeline :

- [x] Remove any unwanted jenkins plugins #2347
- [ ] Get more insights inside the Jenkins builds #2245
- [x] Jenkins moves plugins on every startup #2612
- [x] Jenkins slave should use a known good/local maven mirror #2457
- [x] ~~~Disable jenkins update of plugins on startup #2350~~~
- [x] Improve FMP performance loop https://github.com/fabr

[2018-02-20 13:52] jiekang commented on #2309
Investigation:

`deployment-card.component.html`:

[code]

The cards are expandable via clicking anywhere. Propagation is stopped when clicking on the kebab in order to prevent triggering of the expansion/collapse of the card. Unfortunately, this affects the ability to close other kebabs on the page when clicking them.

[2018-02-20 13:59] joshuawilson commented on #2314
please set the type and team labels at a minimum

[2018-02-20 14:03] krishnapaparaju opened #2315 "[5] Scale the transfer of packages to graph database"
Currently S3 to graph sync is sequential and very slow. This needs to significantly improve to reach near term goals (supporting Node ecosystem). This transfer rate to graph would need to be not less than 200 packages per min.

cc @msrb

[2018-02-20 14:22] jiekang commented on #2269
@ldimaggi

This is a common issue with Angular applications and slow initial page load time. I'm not sure how much tuning has been done before. Basically, a reload of the page constitutes a reload of the application and you should see long reload times on all pages.

[2018-02-20 15:09] ibuziuk commented on #2273
currently prod-preview console is not available https://console.free-stg.openshift.com/console

[2018-02-20 16:10] jiekang commented on #2025
Notes on code that have `a-runtime-console` dependencies:
[code]

[code]

[2018-02-20 18:21] xcoulon opened #2316 "Random test failures on auth (etag comparisons)"
See https://ci.centos.org/job/devtools-fabric8-auth/839/console

[2018-02-20 20:00] #2252 closed

[2018-02-20 20:35] ldimaggi opened #2317 "Cannot access OSO console for prod-preview"
A 502 error is returned:  console.free-stg.openshift.com is currently unable to handle this request.
HTTP ERROR 502

[2018-02-21 08:49] tisnik commented on #2248
Actual results:

[code]

[2018-02-21 08:49] #2248 closed

[2018-02-21 09:37] rhopp opened #2318 "Che workspace will not start if osio username is too big"
Seems like a networking issue. Workspace pod seems to be successfully starter, but IDE times out and kills itself:
![image](https://user-images.githubusercontent.com/1215011/36472766-0a8eb496-16f3-11e8-9c62-3ed3e12798b9.png)

Che-server logs:
[code]

There is nothing suspicious in tenant namespace (no errors in events)

[2018-02-21 09:43] eivantsov commented on #2318
Routes may be unavailable even though ws agent is up

[2018-02-21 09:44] rhopp commented on #2318
I think I found a reason. My username is too long:
![image](https://user-images.githubusercontent.com/1215011/36473238-414f053e-16f4-11e8-8b33-e40e11604c6b.png)

[2018-02-21 10:00] ibuziuk commented on #2318
@rhopp could you try how it works with different user ?

[2018-02-21 10:19] tuxdna commented on #2313
@msrb: We check `sync2graph` attribute of Version table.

https://github.com/fabric8-analytics/fabric8-analytics-data-model/blob/8ea3c3bc023252701a6bd4ae4e84eb0629355d40/src/data_importer.py#L229-L258

By default the `synced2graph` attribute is set to `FALSE` and is only marked as `TRUE` we have added that version's data to graph as well.

https://github.com/fabric8-analytics/fabric8-analytics-dat

[2018-02-21 10:20] tuxdna commented on #2313
I am looking for some marker in database that is set only when all workers for a package-version are completed.

[2018-02-21 10:51] sunilk747 opened #2319 "Exploring launcher backend APIs and it's workflow"
## Description
The task here is to get familiar with launcher backend APIs and it's workflow. It will help in the code merge work in case if some APIs need to be modified or some new API need to be added to fit our use case. In this task our main aim is to find out the invocation point and condition for each API endpoint of out interest. Also we are getting familiar with the CI/CD process of launc

[2018-02-21 11:20] #2316 closed, assigned to xcoulon

[2018-02-21 12:17] invincibleJai opened #2320 "Getting Started QuickStarts - 2"
### Epic : https://github.com/openshiftio/openshift.io/issues/2178

### User Story:
As a OSIO user I will be able to see the new flows of forge wizard (OSIO) as per new UXD. [Quick Start flow]

### Description:
Currently, in OSIO we don't have mission flow. With this addition, it helps us to merge the flow from Launcher (i.e the mission, tech stack flow and others).

### Acceptance Criteria:
OSIO

[2018-02-21 12:23] michaelkleinhenz opened #2321 "Planner Team does not own deployment to prod"
# Abstract

* Planner team does not own deployment to prod for the UI. We do not own the full stack and are unable to make assumptions on features appearing on prod. We have a standing dependency with other teams to get new Planner UI versions deployed.

* There is a high package-level dependency between different UI deliverables by different teams, resulting in a high amount of work needed to res

[2018-02-21 12:24] michaelkleinhenz commented on #2321
See https://docs.google.com/document/d/1fq3E5UQ5jVsHG6UNOedWmlAm-y_1MjZmi0WmBoh5tik/edit for some notes from the ongoing discussion. Results should probably end here.

[2018-02-21 12:38] ibuziuk commented on #2318
@rhopp am I correct that the user name / namespace of the test account is `devtools-automated-tests-rh-che-us-east-2a-che` ? (46 chars)
Basically, there is a known limitation that max k8s names / labels length is 63 chars.

On OSIO custom router is used which completely ignores the 'host' field and assumes that routes host is supposed to have the following format  $NAME.$NAMESPACE where:
$NAME = r

[2018-02-21 13:06] michaelkleinhenz commented on #2321
As of discussion in the SoS, reducing to SEV-2, but be aware that this has the highest priority for Planner and is the reason for being red.

[2018-02-21 13:18] jaseemabid commented on #2246
@pradeepto Not sure about that. Its a Jenkins installed somehow and then maintained with folder backups. I'm sure we modified a ton of things through the UI, CLI and any other ways we could. So there is _only_ manual configurations and no scripts or automation here.

[2018-02-21 13:26] jiekang commented on #2309
Closing as fix has been merged.

[2018-02-21 13:26] #2309 closed

[2018-02-21 14:19] ibuziuk opened #2322 "Can not import existing code / create quickstart via Forge Wizard on prod"
Import existing code:
![image](https://user-images.githubusercontent.com/1461122/36484381-60808f84-1719-11e8-8275-9d51dd43e759.png)

[code]

Create quickstart:

![image](https://user-images.githubusercontent.com/1461122/36484459-a90e2a54-1719-11e8-98a8-7558394fd089.png)
[code]

[2018-02-21 14:22] jyasveer commented on #2272
@SMahil Thanks for the clarification. This will be fixed

[2018-02-21 14:51] rhopp commented on #2322
I couldn't reproduce this issue. Both importing & creating for quickstart works for me.

[2018-02-21 15:39] mmclanerh commented on #2317
this is covered in hk 1336.

[2018-02-21 15:51] maxandersen commented on #2321
Thanks for writing it up @michaelkleinhenz !

One comment for now on this:

lets just be clear that goal is to actually *NOT* expose jenkins or even che as separate apps. If you look at jenkinsn at the moment it is also a good example of why having it separate is bad.

[2018-02-21 16:02] ibuziuk commented on #2318
This issue with username length (should be no more than 25 chars) restriction probably needs some PM attention cc: @slemeur @bmicklea @qodfathr

[2018-02-21 16:03] mmclanerh commented on #2300
@ldimaggi  update tenant -- seems like this is fixed now?  my test is redirecting properly:

https://jenkins-mmclane-osiotest2a-jenkins.....starter....openshiftapps.com/

[2018-02-21 16:04] mmclanerh commented on #2298
@jyasveer any update here? is this still an issue for you?

[2018-02-21 16:07] jiekang commented on #2183
@stooke @ebaron I think we will need backend support for this. For each application, we need the quota assigned to the pods it has. E.g. the default for a pod deployed via quickstart is 1 core and 512 MB. If it's scaled to 2 pods, then it should be a summation, 2 cores and 1 GB. This can be added to the deployments attributes which currently has `name, pod_total, pods, version`

[2018-02-21 16:07] mmclanerh commented on #2273
see hk 1336 re: prod-preview console.  currently still an upstream issue -- that is separate from pod scheduling, however.

[2018-02-21 16:14] mmclanerh commented on #2273
for reference: see hk 1349 covering multiple issues for prod-preview

[2018-02-21 16:20] mmclanerh commented on #2230
underlying storage is fine.  we need to explore optimizations within the body of what the builds are doing if we're finding the experience isn't in the satisfactory range.

[2018-02-21 16:22] mmclanerh commented on #2187
@ldimaggi is this still an ongoing issue? we've had some on/off issues in the preview env.

[2018-02-21 16:23] eivantsov commented on #2318
I think Che 6 handles that

[2018-02-21 16:29] #2266 closed

[2018-02-21 16:38] ldimaggi commented on #2187
Closing - no longer an issue.

[2018-02-21 16:38] #2187 closed

[2018-02-21 16:41] joshuawilson commented on #2321
Thanks for adding another reason to build the extensiblity framework that would fall under https://github.com/openshiftio/openshift.io/issues/354

[2018-02-21 16:41] ebaron commented on #2183
@jiekang To get this information, we could sum the resource limits for each container in a pod, and then sum each pod in the deployment.

This information is accessible from the Kubernetes pod API:
`{
    "apiVersion": "v1",
    "kind": "Pod",
    "metadata": {
        [...]
    },
    "spec": {
        "containers": [
            {
                [...]
                "resources": {

[2018-02-21 16:48] ibuziuk commented on #2318
@eivantsov hmm.. wondering how Che6 could handle it since `$NAME.$NAMESPACE` for host is obligatory pattern for routes on osio?  (it is a must for route to have a namespace postfix)

[2018-02-21 16:48] ldimaggi commented on #2300
Verified fixed in production - closing.

[2018-02-21 16:48] #2300 closed

[2018-02-21 17:05] maxandersen commented on #2321
I just recalled that we actually have  a specific label to call out critical dep issues - I think that is more apropriate and avoids the whole is it sev1 or 2 or even sev at all.

[2018-02-21 17:49] tuxdna commented on #2048
@miteshvp How did you figure this out ?

[2018-02-21 18:56] jiekang commented on #2183
@ebaron yes. I'm going to take a hand at implementing that if you don't mind :)

[2018-02-21 19:03] joshuawilson commented on #738
moving this task to Launcher / Analytics wizard team

[2018-02-21 19:05] ldimaggi opened #2323 "Intermittent, but frequent (~30% of the time) failure to generate a post build Analytics report"
Seeing this with both manual and automated tests - after the successful conclusion of a build pipeline, an Analytics report fails to be generated about 30% of the the time.

Steps to recreate:
* Create a new space and new quickstart
* Observe the quickstart's build pipeline complete successfully
* Observe that an Analytics report is not generated:

![screenshot from 2018-02-21 12-16-46](https://us

[2018-02-21 19:13] aptmac opened #2324 "Can create pipeline in another user's space"
This could be related to: https://github.com/openshiftio/openshift.io/issues/1122

Here are two OSIO accounts side by side, for simplicity's sake I'll refer to the page on the left as user A, and the page on the right as user B. As user A, I can view user B's space and create a pipeline that shows up on the deployments page. User B does not see this, but it is view-able to User A viewing User B's

[2018-02-21 19:28] joshuawilson commented on #346
@qodfathr Can you please update it to what you want and move this to the train backlog? This is a goal for H train.

[2018-02-21 19:38] joshuawilson commented on #2086
@qodfathr if this is for H train, please finish it and move it to the train backlog.

[2018-02-21 19:40] joshuawilson commented on #2215
this is done and in production

[2018-02-21 19:52] joshuawilson commented on #2053
Is this something that we can do in H train?

[2018-02-21 20:07] catrobson commented on #2301
Last set of UX designs.  This does not reflect the Deployments tab as we currently have it.  https://redhat.invisionapp.com/share/4WB1WXGK9#/screens/228703836

Would suggest, as Joshua says, that we use the "Deployments" header to link to the deployments page.  For each deployment, have the application name/version link to the app itself.

We'll be replacing this with a more advanced codebases/pip

[2018-02-21 20:21] joshuawilson commented on #2324
duplicate of https://github.com/openshiftio/openshift.io/issues/1122
If you check github you will see that B creates in B's github while looking at A's space. The UI appears to allow it but it is not possible. The UI needs to be cleaned up to prevent this as it is confusing.

[2018-02-21 20:27] ldimaggi commented on #2323
No errors are displayed to the user. How can we debug this?

[2018-02-21 20:30] aptmac commented on #2324
I wasn't sure it was recorded any where that in addition to creating the repo you can actually build the pipeline and visit the application [1], it even shows up in User A's OSO Console.

[1] http://space1-apmacdon-stage.8a09.starter-us-east-2.openshiftapps.com/

[2018-02-21 20:50] joshuawilson commented on #1217
I'm not sure who should own it. The space template selection is a part of the Platform UI but the Planner needs to define the templates for the work-items.

[2018-02-21 21:59] aptmac commented on #2324
@joshuawilson was nice enough to let me play around with his space, and I basically just recreated the above behaviour. I snapped a bunch of images to show the process I went through, and what I saw at each step. I'll add a short descriptor to each screenshot.

1. After visiting Gressland, I clicked the "Add to Space" button and added a new Vert.x HTTP booster called "notjoshsstuff". The wizard ev

[2018-02-21 22:07] jiekang commented on #2324
It looks like though you were in Josh's space, everything done was actually within your account. The UI will need some fixing but it looks like the backend and auth are behaving correctly.

[2018-02-21 22:18] aptmac commented on #2324
@jiekang, thanks for the insight!

[2018-02-22 03:28] miteshvp opened #2325 "Stack Report Dahboard card contents of licenses and insights need to be swapped"
Currently the dashboard of a stack report shows three cards. Out of which summary for `Licenses` and `Insights` needs to be swapped. See below snapshot
<img width="867" alt="image" src="https://user-images.githubusercontent.com/17736013/36518911-7fff8384-17ae-11e8-84b6-b4014b034094.png">

[2018-02-22 03:44] #2263 closed

[2018-02-22 04:03] samuzzal-choudhury opened #2326 "OSIO Gemini server workflow implementation"
## Description
This user story scopes the development work required for OSIO Gemini. The staging or production deployed Gemini API server shall provide an endpoint `/register` to register a new repository to the system that in turn will initiate an analytics scan on that and email a report with the security vulnerability status of all direct and transitive dependencies.

**Ecosystems To Be Support

[2018-02-22 06:38] eivantsov commented on #2318
@ibuziuk will check with Che 6! I know we had similar issue with pvcs

[2018-02-22 07:15] sivaavkd opened #2327 "Analytics Documentation updates"
We want to update the documentation for Fabric8 Analytics repos so that contributors can onboard quickly.  We identified some updates needed in the documentation while new team members are being onboard and there is some work done in this area.

This epic is to list down, track and fix all the documentation updates.

[2018-02-22 07:54] corinnekrych commented on #2053
TRDR; it would be good to move it out of H-train
@joshuawilson I think there still discussion needed on this topic in term of use-cases. More concrete use cases would help.
Discussed with @xcoulon @aslakknutsen (pls add more details on our thoughts if you wish) atm the current implementation used with naming convention could be used for grouping. No special support in admin tho.

[2018-02-22 07:57] krishnapaparaju opened #2328 "Closing stack report modal at space dash board screen disables entire screen"
Steps to reproduce (closing the stack report with MOUSE click DOES NOT reproduce this problem):
<img width="1429" alt="screen shot 2018-02-22 at 1 19 31 pm" src="https://user-images.githubusercontent.com/15967765/36526359-f757ac5c-17d3-11e8-8a7f-32d1d8fedf97.png">

1. Open Stack report from 'stack report' link at space dashboard, all is good with this step, close the stack report with ESCAPE key
2

[2018-02-22 08:23] ibuziuk commented on #2318
@eivantsov yeah, but pvc is a a different story since there is no naming restriction from oso cluster point of view. I believe that in che6 route `name` generation has been changed, but `namespace` is still a part of host (in che6 host is not set explicitly while route creation and  is generated automatically using the same pattern `$NAME.$NAMESPACE`, otherwise it would not work). So, I bet there

[2018-02-22 08:27] Preeticp commented on #2327
Tasks identified for the Analytics Repo work:
- [ ] List all the repos under Analytics with links.
- [ ] Create a workflow (Marek).
- [ ] Analyze them, filter, modify, or deprecate as required.
- [ ] Use Marek's dashboard for creating a better on-boarding experience.

Tasks for Getting Started guide and User guide:
- [x] Update Getting Started as per latest UX, content and screenshots. (Done by Mi

[2018-02-22 08:47] xcoulon commented on #2304
thanks for the info, @alexeykazakov ! So, @aslakknutsen, do we still need the `whoami` function in `tenant`, then ?

[2018-02-22 09:09] krishnapaparaju opened #2329 "Change in text: Replace 'Recommondations' with 'Insights'"
Please check the screenshot
<img width="861" alt="screen shot 2018-02-22 at 2 37 53 pm" src="https://user-images.githubusercontent.com/15967765/36529373-2be6b936-17de-11e8-9838-d37a9cedf9d8.png">

[2018-02-22 09:09] aslakknutsen commented on #2304
@alexeykazakov A yeah, good point! @xcoulon hmmm.. Can't think of a case on top of my head. Let's rename this issue to enable force_pull on Cluster Tokens.

[2018-02-22 09:13] michaelkleinhenz commented on #1933
New problem I encounter right now:
[code]
..while installing deps.

See https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2419/39/console

[2018-02-22 09:14] tisnik opened #2330 "Frequent failures of e2e tests on production: /api/v1/liveness REST API call"
In the last two days the success rate of e2e tests is lower than expected - just 78/100:
https://fabric8-analytics.github.io/dashboard/dashboard.html

Excerpt from log file:
https://ci.centos.org/job/devtools-test-end-to-end-prod-fabric8-analytics/1628/console

[code]

We got 504 status code before when the pod was frequently restored on openshift.

Please make sure whether this issue is related t