[2017-09-04 14:38] krishnapaparaju commented on #744
This task is about taking help from crowd sourcing Intent/tags at individual software component level.

I have updated the EPIC text to convey this: User can change exiting / add new tags/Intent for any software component being used

Referring to package / software component interchangeably, intent/tags would not change with multiple versions of a software component.

[2017-09-04 18:36] samuzzal-choudhury commented on #695
The changes are in prod and those are working as expected. Hence closing this issue.

[2017-09-04 18:36] #695 closed

[2017-09-04 19:05] rafabene opened #750 "Generated project doesn't respect the top level package."
During the project creation wizard asks for a "top level package"

![screenshot 2017-09-04 15 04 00](https://user-images.githubusercontent.com/30131/30036536-52da8410-9182-11e7-80d3-3b564bab5003.png)

But the project is created with the package "io.openshift.booster" in the java package.

![screenshot 2017-09-04 14 59 40](https://user-images.githubusercontent.com/30131/30036549-7661f45e-9182-11e7-

[2017-09-04 19:08] rafabene opened #751 "Typo in the generated Vert.x project"
Small typo on line 32
(starter -> started): System.out.println("Server starter on port " + ar.result().actualPort());

should probably be System.out.println("Server started on port " + ar.result().actualPort())

![screenshot 2017-09-04 15 08 09](https://user-images.githubusercontent.com/30131/30036611-ea68b982-9182-11e7-889a-b78bd659e78c.png)

## Impacts
- [ ] #2084 Getting Started Quickly with a

[2017-09-04 21:17] ibuziuk commented on #446
@bmicklea firstly workspace name validation pattern should be changed upstream - https://github.com/eclipse/che/issues/6130

[2017-09-04 21:26] ibuziuk commented on #446
PR[1] on che-starter side is merged but not updated on prod yet  (need to add workaround until new workspace name validation is changed upstream)

[1] https://github.com/redhat-developer/che-starter/pull/221

[2017-09-05 05:48] miteshvp commented on #735
verified that issue has been fixed.

[2017-09-05 05:48] #735 closed

[2017-09-05 06:24] sbose78 opened #752 "PRs not triggering builds"
For a github project configured for use with OpenShift.io, when I open a PR, a build pipeline does not get triggered https://github.com/sbose78/my-app-test/pull/2

In the Jenkins logs, the last 3 statements are :
[code]

CC: @rawlingsj @jstrachan

The webhook status in Github has a 200OK for the PR specific call to the jenkins webhooks url.

[code]

It seems as if the jenkins job is not configured

[2017-09-05 07:46] rawlingsj commented on #752
Was this on a clean environment?  I wonder if something else is affecting this as we use the same Jenkins image and plugins for our own PRs now which works great.  If this was a clean environment I'll take a look at some point today.

[2017-09-05 07:55] rupalibehera commented on #752
Yeah @rawlingsj, I am also not sure why it is not triggering with the default settings, but i think so as we have set  "Filter by name (with wildcards)"  to "master" it is not checking for other branches and PR's too, when I changed it to "*" it triggered a build for my PR and for the new branch too. May we need to modify in configmap

[2017-09-05 07:56] rawlingsj commented on #752
Ah actually I had that last night! I set it to `master|PR.*`

[2017-09-05 07:57] rawlingsj commented on #752
@jstrachan is the default config.xml in the backend forge repo?

[2017-09-05 07:57] rupalibehera commented on #752
Yeah I was looking for that file.

[2017-09-05 07:59] rawlingsj commented on #752
@rupalibehera this looks like it https://github.com/fabric8io/fabric8-generator/blob/master/src/main/resources/io/fabric8/forge/generator/kubernetes/github-org-job-config.xml#L37

[2017-09-05 08:14] tuxdna commented on #705
Alright, after some fiddling around with mercator and java-handler, I figured out how to generate dependencies from a given pom file:

 * Clone mercator repo, and then build java_handler ( sufficient for this case )
 * Run Java handler on the sample pom.xml file

[code]

Or alternatively for a closer to a dev environment ( easier to debug etc. ):

[code]

It takes some time ( in minutes ) to gener

[2017-09-05 08:23] tuxdna commented on #705
The resulting POM file looks like this: https://gist.github.com/tuxdna/b54950567722c1cd66a8c9ddf5fb96e7#file-resolvedpom605313494541275704-xml

[2017-09-05 08:36] invincibleJai commented on #376
@luebken it's working fine now , let me know if it looks good.
CC @GeorgeActon

[2017-09-05 08:37] invincibleJai commented on #210
@luebken it's working fine now , let me know if it looks good to you
CC @GeorgeActon

[2017-09-05 09:26] msrb commented on #705
Yes, that's exactly what we want to do 👍

[2017-09-05 09:38] jyasveer commented on #705
Yes. we can ignore the effective pom generation.
I have a question here:-
1. If our manifests come via jenkins pipeline plugin, we run the effective
pom generation step and then invoke the api which i see as fine.

2. Now what if we want to read the repo from the github directly, bcoz i
have implemented a use case where we can read the repo by passing just the
github url. So here in this case, we

[2017-09-05 09:45] jstrachan commented on #384
we've made some progress running the E2E tests in a Jenkins pipeline on fabric8:
https://github.com/fabric8io/fabric8-test/blob/master/Jenkinsfile

then we're close to having the E2E tests parameterisable by PRs now
https://github.com/fabric8io/fabric8-test/issues/129

 so we're getting close!

[2017-09-05 09:46] jstrachan commented on #384
the above works great for testing booster PRs or che/jenkins/team YAML PRs - to test UI + forge changes we'll need to also deploy a new forge service per forge PR that we can keep around until the UI PR is also tested - and having the custom UI service point at the PR of the forge

[2017-09-05 09:56] jyasveer opened #753 "[3]Task: Read manifest file from github url."
Until now we are only able to trigger the stack analyses by providing the required manifest files and corresponding path to the manifest file.
What about the projects available in github ?
This task aims at reading the project from github and parse the manifest files and fetch the corresponding paths, then trigger a stack analyses. So after this task is completed we would just require a github url

[2017-09-05 09:56] tuxdna commented on #705
For a project containing only a single `pom.xml` at the base path, the effective pom contains dependencies at following xpath `/project/dependencyManagement/dependencies/dependency/`

 * https://gist.github.com/tuxdna/b54950567722c1cd66a8c9ddf5fb96e7#file-resolvedpom605313494541275704-xml

However for a project containing multiple `pom.xml` files such as this one (https://github.com/jyasveer/maven

[2017-09-05 10:08] msrb commented on #705
@tuxdna

Real dependencies are only in `/projects/project/dependencies/dependency/`.

[2017-09-05 10:22] ibuziuk commented on #446
workaround is pushed in prod. Workspace name = `repository name + random prefix` in general case,  but if the length of repository is more than 15 chars only random prefix is used as a name

[2017-09-05 10:53] tuxdna commented on #705
@msrb

While I do understand that we want to disable effective pom generation, I am not sure of why we should completely disable that?

@jyasveer

Can you confirm that the effective pom file generated by Jenkins plugin contains the [following line](https://gist.github.com/tuxdna/b54950567722c1cd66a8c9ddf5fb96e7#file-effective-pom-xml-L11) ?

[code]

If yes, then the solution will be easy to implem

[2017-09-05 12:35] samuzzal-choudhury opened #754 "Server side logging of UI incidents"
Unified logging (Browser apps, Server side apps). UI incidents on prod have to be logged at the server side.

[2017-09-05 13:04] jpopelka commented on #745
If we are still interested in SCLs, then somebody should take over https://github.com/sosreport/sos/pull/900 and finish it since Slavek won't do that.

[2017-09-05 13:56] krishnapaparaju commented on #748
Would need to work backwards: Baseline the reason that would be shown on UI before planning the implementation.

@samuzzal-choudhury

[2017-09-05 13:57] krishnapaparaju commented on #747
Does this involve changing the current 'compose' script to bring up docker containers on the local machine ?

[2017-09-05 14:04] krishnapaparaju commented on #710
Can you please point me to  (a) master list of tags across all the ecosystems (b) Master list of tags for each ecosystem eg: Maven. These master lists are something that we can validate against and play a big role in crow sourcing the tagging work.

@samuzzal-choudhury @miteshvp @msrb

[2017-09-05 14:07] krishnapaparaju commented on #732
Did we consider sysdig for system level metrics ?

[2017-09-05 14:12] krishnapaparaju commented on #728
What are the current data  sources being used for gathering NPM based tags ?

[2017-09-05 14:15] krishnapaparaju commented on #682
@msrb we will a do spike around CVEs to solve this challenge (of finding the right sources for CVEs) with goal being reducing dependency on external sources

[2017-09-05 14:19] krishnapaparaju commented on #669
How does the performance side of things look like ? Did we test the limit on messages that Fabric8 Analytics platform would be comfortable to handle ? Documentation around traversal of these messages coming from firehose would be useful.

@pkajaba

[2017-09-05 14:20] ldimaggi opened #755 "Creating new workitem in backlog from Analytics report fails"
Steps to recreate
* Create a new project - Vert.x quickstart, for example
* After pipeline build is complete, view the analytics report
* Select the 'add workitem to backlog' option from test results

![screenshot 22](https://user-images.githubusercontent.com/642621/30065612-78bb5320-9223-11e7-8592-690bd6c87b30.png)

Google chrome console log:

[code]

[2017-09-05 14:20] krishnapaparaju commented on #668
can we document the findings around following OpenShift documentation for autoscaling ?

 https://docs.openshift.com/container-platform/3.6/dev_guide/pod_autoscaling.html

[2017-09-05 14:21] fridex commented on #728
Generic tags gathered from StackOverflow and GitHub can be used. The plan is to implement collector for NPM tags that are present at npmjs.com (e.g. see "keywords" at https://www.npmjs.com/package/express). The work is described in https://github.com/openshiftio/openshift.io/issues/712

[2017-09-05 14:23] fridex commented on #732
Thanks for suggestion. This needs to be consulted with service delivery team as these solutions are hosted/managed by them.

[2017-09-05 14:26] krishnapaparaju commented on #753
There is no description mentioned. Please update the task.

@GeorgeActon @samuzzal-choudhury

[2017-09-05 14:27] krishnapaparaju commented on #743
@arunkumars08 what are the current open items in this task of improving UX ?

[2017-09-05 14:28] krishnapaparaju commented on #734
Where these integration tests are run ? Would this integration tests cover the Java specific code which runs inside the plugin ?

[2017-09-05 14:29] fche commented on #732
sysdig requires custom kernel extensions and some other infrastructure; unlikely.

As for PCP, the normal OSIO OSD monitoring widgetry is already configured to track per-process resource usage.  The analytics component would need to opt into this by installing the pcp pmcd background process into the container(s) that you need monitored.  We can help with this; several other OSIO OSD components ha

[2017-09-05 14:29] krishnapaparaju commented on #704
Are we going to cover integration tests ? Where these integration tests are run ? Would this integration tests cover the VSCode specific code which runs inside the extension ?

[2017-09-05 14:30] krishnapaparaju commented on #703
More documentation around this execution would be useful as the documentation needs to include more details..

[2017-09-05 14:31] krishnapaparaju commented on #701
Yes,  these IDE extensions would have API token once IDE users get registered at OSIO

[2017-09-05 14:31] pkajaba commented on #669
Firehose fetcher is still not deployed in production. I will be focusing on it right after I finish gathering Maven tags.

However, If there were too many messages we might introduce new queue (instead of ingestion). There would be dedicated workers, so it won't be a problem for ingestion queue. We will see after this service is deployed in production.

[2017-09-05 14:32] krishnapaparaju commented on #624
What is the resolution on this bug ?

[2017-09-05 15:25] invincibleJai commented on #703
@krishnapaparaju have updated the description Krishna, Currently we don't have testcases for language server and even the framework needed to run those are not in place i.e mocha to run test in node environment

[2017-09-05 15:30] invincibleJai commented on #704
@krishnapaparaju yes we are already covering integration test now , these tests can run on dev machine as well it would be part of CI [1](as POC tested it with travis-ci , getting triggered on PR request or merge ).

It does cover integration tests of VSCode specific code which runs inside the extension as it installs VSCode in prepublish mode i.e headless mode which can be triggered to test durin

[2017-09-05 15:39] ldimaggi opened #756 "Error message is displayed for users, who do not belong to a github org, when creating a new project"
The error is not displayed for users that belong to an org:

![screenshot 2017-09-05 10 58 37](https://user-images.githubusercontent.com/642621/30069446-c4fa7e40-922e-11e7-9adc-7ba3a252633b.png)

[2017-09-05 15:39] ldimaggi commented on #756
Thanks to Corinne for finding this!

[2017-09-05 15:40] invincibleJai commented on #624
@krishnapaparaju Arun was looking into this. As per my discussion with him , we can't reduce the load time further as all the resources rendered in browser are already compressed and minified , the delay is due to time taken by angular to bootstrap the app and the API call to stack-analysis which we are making on load itself. So during the lag user views blank white screen , we thought of having s

[2017-09-05 18:15] ldimaggi opened #757 "Inconsistent naming of quickstarts"
Small point - but Vertx should be Vert.x:

![screenshot from 2017-09-05 14-05-07](https://user-images.githubusercontent.com/642621/30075714-a358e536-9244-11e7-8d6a-c6936f1b683c.png)

[2017-09-05 19:44] alexeykazakov commented on #651
The backend part is done. @mishaone I have successfully erased your account ;) Closing. The UI issue is tracked here - https://github.com/fabric8-ui/fabric8-ui/issues/1948

[2017-09-05 19:44] #651 closed

[2017-09-05 19:59] ldimaggi opened #758 "Quickstart Secured Vert.x - Rest & Red Hat SSO - fails to build"
Build log is attached.

Error is:
ERROR: Error during kubernetes apply: hudson.AbortException: No resources passed into the step using the 'file' argument or found in the default target folder generated by the fabric8-maven-plugin

[2017-09-05 20:00] ldimaggi commented on #758
[build_log.txt](https://github.com/openshiftio/openshift.io/files/1278723/build_log.txt)

[2017-09-05 20:32] rawlingsj commented on #758
The pipeline fails to find the openshift template yaml under the parent`./target` dir.  Looking at the project that was generated https://github.com/ldimaggi/setpember5a the fabric8-maven-plugin generated yaml is under the app folder `app/target/classes/template.yml`.  Has this worked previously?  Is the directory structure as expected?

For this to work either the booster needs to change to gener

[2017-09-06 03:51] joshuawilson commented on #446
@bmicklea is this good enough? Can we close it?

[2017-09-06 05:06] miteshvp commented on #747
@krishnapaparaju - yes, PGM local deployment scripts needs to be added and docker-compose under common repo needs to be modified.

[2017-09-06 05:51] tuxdna commented on #732
@fche Thanks for pointing to PCP. Is a running pmcd background process sufficient for collecting the metrics, as in this fille below ?

 * https://github.com/redhat-developer/rh-che/blob/bb51e5ab8625cb66b77ec3dc6ded7ecdb9ff4aa6/dockerfiles/che-fabric8/Dockerfile#L10

[2017-09-06 05:57] tuxdna commented on #728
AFAIK, the keywords for NPM packages are already present in S3;

Here is an example:

https://s3.amazonaws.com/bayesian-bayesian-core-data/npm/argparse/1.0.9/metadata.json

[code]

[2017-09-06 06:08] fridex commented on #728
Yes, that's true. We extract them using mercator for a single package. The main purpose of this work item is to collect *all* keywords in NPM ecosystem present to this date so we can tag packages that do not have explicitly associated tags.

[2017-09-06 06:29] humaton commented on #668
Currently, openshift autoscaler supports only CPU or MEM utilization. Our workers are not scalable based on this metrics since some tasks are CPU consuming other are not. Same works for memory utilization. We did try to use custom metrics for scaling but it's not ready yet.

[2017-09-06 09:09] vpavlin commented on #744
So are you saying you are going to target both - intents **and** tags in the crowdsourcing? Because title and descriptions talks only about intents, but link to #712 speaks about tags, we should try to be precise in using terms.

Sorry, I don't see where you updated that

Same remark as in the first - we should be precise in terms usage, as that will simplify communication - is there a difference

[2017-09-06 09:36] msrb commented on #705
There needs to be a way how to tell mercator that it shouldn't build effective pom and it should process the pom.xml as it is. I think the issue you filled against mercator repo will solve this problem 😉

I think the way how it is implemented right now is that we run mercator on each pom.xml file separately. So mercator, as used by API server, doesn't know about multi module projects.

[2017-09-06 09:44] tuxdna commented on #705
@msrb: Yes, this PR https://github.com/fabric8-analytics/mercator-go/pull/16 will enable us to configure POM expansion / resolution using `MERCATOR_JAVA_RESOLVE_POMS=true` env variable.

Now in case of a multi POM project, do we aggregate the dependencies gathered from different pom.xml files, i.e. the aggregate of all dependencies will represent this project?

[2017-09-06 09:57] humaton commented on #708
[Alembic verify](https://alembic-verify.readthedocs.io/en/latest/) seems to be the tool we are looking for.

[2017-09-06 11:20] rgarg1 commented on #551
@pilhuhn Kindly check now with the latest version, where All is the default.

[2017-09-06 12:15] ldimaggi opened #759 "WildFly Swarm map related quickstarts failing"
These new quickstarts are failing:
* HTTP CRUD - Wildfly Swarm
* WildFly Swarm - Circuit Breaker
* WildFly Swarm - Config Map
* WildFly Swarm - HTTP
* WildFly Swarm - Health Checks
* WildFly Swarm - REST and RH SSO

In the Swarm case, the pod won't even start, in Vert.x and Spring Boot case, the pod starts just fine, but the application doesn't work correctly, because the configmap isn't created -

[2017-09-06 12:18] rawlingsj commented on #759
We were chatting on MM and think we now have the full booster catalogue rather than the cut down OSIO branch.
@aslakknutsen @jstrachan does that sound about right?

[2017-09-06 12:19] Ladicek commented on #759
https://github.com/fabric8io/fabric8-team-components/pull/122 isn't related to ConfigMap boosters, but rather to all Swarm boosters.

[2017-09-06 12:19] rawlingsj commented on #759
Interestingly the OSIO branch does include the vertx and springboot configmap boosters https://github.com/openshiftio/booster-catalog/tree/osio/configmap - I wonder if this is right?

[2017-09-06 12:23] Ladicek commented on #759
I think the branch includes them because it's not immediately obvious they're failing -- they start just fine, but the application behavior is wrong.

[2017-09-06 12:35] pkajaba commented on #669
- [ ] Add cico scripts

- [ ] open PR for saas-analytics

- [ ] open PR for almighty-jobs

[2017-09-06 12:38] sbose78 opened #760 "Pipelines page on OpenShift.io doesn't show builds for PRs"
but the build has started in jenkins and the OSO API response has the details too for the PR

[code]

[2017-09-06 12:41] miteshvp commented on #705
AFAIK, each manifest will be shown as separate tabs to the end-user. That means, we should not aggregate deps for multi-manifest scenario, rather each manifest is one stack request for us.
@samuzzal-choudhury please correct me if my understanding is wrong.

[2017-09-06 12:44] GeorgeActon commented on #714
@nelmax1  Am closing this issue now since you confirmed the fix above

[2017-09-06 12:44] #714 closed

[2017-09-06 12:44] sbose78 commented on #752
Tested the fix, works - but here's the process..

This change impacts the https://jenkins-shbose-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/sbose78/config.xml file which doesn't get updated when on doing an `update tenant`

( apart from going into the pod and making the fix as per https://github.com/fabric8io/fabric8-generator/commit/203b7cd95c5fd2a0b7fab077af9c0c56968aef0c )

To get thi

[2017-09-06 12:45] GeorgeActon commented on #714
Closing as per @nelmax1 confirmation.

[2017-09-06 12:48] bartoszmajsak commented on #714
Could be good to refer PR bringing the fix to this issue.

[2017-09-06 12:55] GeorgeActon commented on #714
@arunkumars08 Please add reference to PR

[2017-09-06 13:05] ldimaggi opened #761 "Node.js - CRUD Example - quickstart fails - missing pom.xml file"
Building this quickstart fails in OSIO - build error is:

[code]

And - yes - the pom.xml file is missing:

![screenshot from 2017-09-06 09-00-17](https://user-images.githubusercontent.com/642621/30113344-6d0a622c-92e2-11e7-916f-e9cde59f6477.png)

[2017-09-06 13:07] Ladicek commented on #761
Well it's Node.js, no `pom.xml` is expected. Why is it even trying to run Maven?

[2017-09-06 13:10] sbose78 opened #762 "updating the PR doesn't trigger a build"
Confirmed by checking jenkins too.

[2017-09-06 13:10] sbose78 commented on #752
When I update the PR by updating the changed file, a new build does not get triggered. https://github.com/openshiftio/openshift.io/issues/762

[2017-09-06 13:10] #752 closed

[2017-09-06 13:13] ldimaggi commented on #761
Same issue is also seen for this quickstart:
Node.js - HTTP

[2017-09-06 13:19] ldimaggi commented on #761
OSIO expects it.

[2017-09-06 13:21] rawlingsj commented on #761
Right now OSIO only supports Java, this sounds like the same issue where we're using the full booster catalogue rather than our cut down version.

[2017-09-06 13:29] sbose78 opened #763 "PR builds on boosters do not pass"
https://gist.github.com/anonymous/7c1c32ad5e8b8ca1ba398074575f2fd9

[2017-09-06 13:35] Ladicek commented on #761
So I see the Fabric8 Jenkinsfile library also contains the pipelines for Node.js, so maybe it's just a matter of copying the corrent Jenkinsfile? (I realize I'm very likely oversimplifying here...)

[2017-09-06 13:37] rawlingsj commented on #761
It's not right now no.  The pipeline library makes use of the docker socket for non java builds on openshift.  So this wont work on OSIO right now.

[2017-09-06 13:50] jyasveer commented on #705
@tuxdna
This command is run in the jenkins plugin [command in jenkins](https://github.com/jyasveer/fabric8-analytics-jenkins-plugin-test-microspringboot1/blob/master/Jenkinsfile#L6)
And i don't see this [text](https://gist.github.com/tuxdna/b54950567722c1cd66a8c9ddf5fb96e7#file-effective-pom-xml-L11) in the generated effective poms

[2017-09-06 14:06] rawlingsj commented on #762
Did the webhook complete successfully if you check the github webhook settings?  Also are there any logs in the jenkins pod when you update the PR?

[2017-09-06 14:09] rawlingsj commented on #763
that looks like the integration test.. is that right?  If so can you check the resources in the environment that it is running in, I think now that should be your users home namespace.

The error looks like the pod didn't start in time during the integration test but I could be wrong.  A bit more info is needed.

[2017-09-06 14:27] ldimaggi opened #764 "Quickstarts unexpectedly added to OSIO app generation wizard"
The following quickstarts are now available in the OSIO 'add to space' wizard - the quickstarts marked in bold were present before September 5.

Is this addition of the other quickstarts intentional? Several of the new quickstarts are experiencing build failures:
https://github.com/openshiftio/openshift.io/issues/761
https://github.com/openshiftio/openshift.io/issues/759

**Vert.x HTTP Booster***

[2017-09-06 15:08] corinnekrych commented on #764
@ldimaggi this is the work @jstrachan has been doing reusing launchpad booster catalog.
Ongoing work is to step-up automated testing for booster.
@jstrachan if the build of the some quickstarts fails, are they going to be filtered from the list?

[2017-09-06 15:26] jstrachan commented on #764
I'm just releasing a fix that brings back the old filters if there's no custom booster catalog / git ref being used

[2017-09-06 15:27] jstrachan commented on #764
@corinnekrych right now its gonna be a manual process to curate the filtering; but the aim is to use CI / CD to enable/disable boosters using the E2E Tests - its gonna take a little while to get there mind you ;)

[2017-09-06 15:34] ldimaggi commented on #764
Question on:
'...the aim is to use CI / CD to enable/disable boosters using the E2E Tests...'

Are planning on dynamically altering the list of available quickstarts/boosters based on whether or not the quickstarts are failing at any point in time?

[2017-09-06 15:36] jstrachan commented on #764
Yeah. I don't think its gonna be too 'dynamic' really; its more a case of more boosters will appear as they are ready & any that start failing after being added will get removed (with issues raised against the developers so we can hopefully get them back again ASAP) - so that at any time only working boosters are shown in the list

[2017-09-06 15:46] sbose78 commented on #763
Thanks @rawlingsj for looking into this -
In https://console.starter-us-east-2.openshift.com/console/project/shbose/quota
Resource usage is at 50% for cpu and memory, with 2 out of 5 services.

You are correct, that's the integration test:

[code]

[2017-09-06 15:54] sbose78 commented on #762
Here's the log in my jenkins pod ( the last part probably is not relevant )

[code]

[2017-09-06 16:19] invincibleJai commented on #714
@GeorgeActon reference PR : https://github.com/fabric8-ui/fabric8-recommender/pull/288

[2017-09-06 16:54] jstrachan commented on #764
fixed in prod

[2017-09-06 16:54] #764 closed

[2017-09-06 16:54] jstrachan commented on #761
the boosters that don't work on OSIO have now been removed

[2017-09-06 16:54] #761 closed

[2017-09-06 17:00] rafabene opened #765 "Stage link is not showing"
The link highlighted with the red arrow is not present
![screenshot 2017-09-06 12 59 16](https://user-images.githubusercontent.com/30131/30124458-3c03b66c-9303-11e7-8576-775db9337b2c.png)

[2017-09-06 17:17] ldimaggi commented on #759
The failing quickstarts have been removed.

[2017-09-06 17:17] #759 closed

[2017-09-06 17:20] ldimaggi commented on #758
Failing quickstarts have been removed.

[2017-09-06 17:20] #758 closed

[2017-09-06 19:21] mindreeper2420 opened #767 "Update Analytics Functionality"
Update the analytics functionality of the marketing page.
The proper utilities must be utilized, as well as fixes need to be made to various libraries.

[2017-09-06 19:23] ldimaggi opened #768 "For Analytics - errors should provide users with a means to debug failures"
See attached screenshot - the cause of the failure was unknown - but the user had no recourse other than to recreate the project as there is no feature in the UI that provides more detailed error/failure reporting.

![screenshot 24 _li](https://user-images.githubusercontent.com/642621/30130482-54692b56-9317-11e7-9312-5419cb90a007.jpg)

[2017-09-06 19:32] ldimaggi opened #769 "Analytics - Report window is not automatically refreshed after report is processed"
Saw this today - while a report is being processed an "in progress" message is displayed:

![screenshot 24](https://user-images.githubusercontent.com/642621/30130783-5f99798a-9318-11e7-891a-f93cb1593d61.png)

But - the screen is not automatically refreshed when the report was completed. A manual browser refresh/reload resulted in the reporting being displayed:

![screenshot 25](https://user-images

[2017-09-06 19:48] #446 closed

[2017-09-06 20:07] ldimaggi opened #770 "Idle icon for Che in OCIO status may confuse users"
At present, if Che is idle, the OSIO status display looks like this:

![capture1](https://user-images.githubusercontent.com/642621/30131832-3b7e2efc-931c-11e7-8a39-72604a0eede3.PNG)

From a user's perspective, Che is up as it's possible to create a new codespace from within the OSIO UI without any manual restart/redeploy of Che.

If the red status icons indicate a failure,
And the black icons indi

[2017-09-06 21:14] joshuawilson commented on #770
@catrobson what do you think?
I would say that a green "off" icon is not right.

[2017-09-06 23:05] catrobson commented on #770
We need these icons to update to reflect the new PatternFly status icons, and plan to do so in an upcoming sprint.  Regardless the Idle will not be green, we will leave this as gray because the idea is that it is not currently active as compared with other components that are active.  Long term we have also discussed getting rid of this whole concept in favor of just raising 'issues' in the notifi

[2017-09-07 00:35] mindreeper2420 commented on #644
@maxandersen isn't something like this already present in the body?
<img width="538" alt="screen shot 2017-09-06 at 8 29 43 pm" src="https://user-images.githubusercontent.com/4032718/30140394-28dadb76-9342-11e7-8c2d-1e5ad39a6e24.png">

The "openshiftio/openshiftio" currently links to the Space Owner and Space Name, so would you just want the `/plan?area=Planner` added to the end?

[2017-09-07 00:45] aslakknutsen commented on #619
@bmicklea Yes, agree.

1) It's not much more intelligent atm then replace 'more'. Need a change in CheHost Auth to go fully 'random'.
2) No test case as we currently can't reproduce is end-2-end.

[2017-09-07 02:51] joshuawilson commented on #644
I think `area=Planner` would work. It should be in the title as that is what gets visually scanned. That would allow you to read the ones for your area first.

[2017-09-07 02:53] joshuawilson commented on #770
Additionally the new Che starter API update makes the idle status moot.

[2017-09-07 03:25] joshuawilson commented on #718
Unassigning @catrobson since you are just asking her a question and she isn't doing the work.

[2017-09-07 03:30] joshuawilson commented on #718
@rgarg1 While Cat can ask PM, this type of thing is either addressed directly by PM (since they read the issues too) or the dev leads would ask PM. (Note: @bmicklea is on the PM team and he read it and added a label, so PM at least knows about it)

[2017-09-07 03:32] joshuawilson commented on #718
@qodfathr what do you think? Do you agree that we should integrate the work item ID into the commit message?

[2017-09-07 03:34] joshuawilson commented on #721
Closing, please reopen if still needed.

[2017-09-07 03:34] #721 closed

[2017-09-07 03:41] joshuawilson commented on #719
@ldimaggi please verify.

[2017-09-07 03:46] joshuawilson commented on #666
@kbsingh do you have an update on this?
@ldimaggi are you still seeing this?

[2017-09-07 03:49] joshuawilson commented on #717
What do you mean "creating a new codebase"? Through the app wizard?

[2017-09-07 03:50] joshuawilson commented on #671
cc @jstrachan @rawlingsj

[2017-09-07 03:55] joshuawilson commented on #635
The description does appear to be more of an Enhancement.
cc @krishnapaparaju

[2017-09-07 03:57] joshuawilson commented on #667
This should be fixed in Prod now. @ldimaggi @ibuziuk please verify.

[2017-09-07 03:58] joshuawilson commented on #680
cc @michaelkleinhenz

[2017-09-07 04:06] joshuawilson commented on #678
@catrobson please advise.

[2017-09-07 04:11] joshuawilson commented on #524
@rafabene please validate.

[2017-09-07 04:13] joshuawilson commented on #495
@burrsutter were you able to work around this? Can we close it?
@kbsingh were you able to work this out and find a solution?
Is this still an issue? Can we close it?

[2017-09-07 04:14] joshuawilson commented on #441
@burrsutter @rawlingsj has this been done? Can we close this?

[2017-09-07 04:17] joshuawilson commented on #679
Currently you are only able to "Create new" in the wizard. The "import" feature has not been fully implemented.

[2017-09-07 04:18] joshuawilson commented on #479
@catrobson what do you want here?
cc @corinnekrych

[2017-09-07 04:19] joshuawilson commented on #676
The "import" feature does not fully work yet. Are you seeing this issue on the "Create new" wizard?

[2017-09-07 04:22] joshuawilson commented on #672
You should talk to @rawlingsj

[2017-09-07 05:12] pkajaba commented on #712
PR merged: https://github.com/fabric8-analytics/fabric8-analytics-tagger/pull/36

[2017-09-07 05:14] pkajaba commented on #710
@krishnapaparaju not sure whether this is what you are looking for, but tags for ecosystems can be found here: https://github.com/fabric8-analytics/fabric8-analytics-tags/tree/master/raw

[2017-09-07 08:05] jpopelka commented on #681
How can I label it as 'done' ?

[2017-09-07 08:21] jstrachan commented on #671
cc @corinnekrych

[2017-09-07 08:41] l0rd commented on #667
Now, when Che is idle, and I open the codebase UI, I have a new kind of error:

![image](https://user-images.githubusercontent.com/606959/30153770-f9115e80-93b7-11e7-9b32-cd9f3d2574bd.png)

And I cannot see any evidence of che-starter trying to un-idle my Che (no events in the namespace).

[2017-09-07 08:41] tuxdna commented on #705
@jyasveer: Can you elaborate on why `io.github.stackinfo:stackinfo-maven-plugin:0.2:prepare` is required to be present in resolved file? Perhaps I am missing some context here.

[2017-09-07 10:06] invincibleJai commented on #746
Reference PR - https://github.com/fabric8-ui/fabric8-recommender/pull/311

fixed and tested in prod, hence closing.

[2017-09-07 10:06] #746 closed

[2017-09-07 10:19] harjinder-hari opened #771 "Display reasoning for Alternate/Companion components recommendations"
Identify and prepare reason(s) that will help user clearly understand why an alternate/companion component was recommended by the system.

For example, if a component C1 makes the overall stack license more restrictive i.e. C1 is a license based outlier and if there is a similar and popular component C2 then system is expected to recommend C2. Here, the system should also generate a reason stateme

[2017-09-07 10:34] msrb opened #772 "Extend support for collecting GitHub manifest files"
Note this is just for tracking purposes, this work was not officially planned for this sprint, but it popped up during the sprint and it is high priority (related to tagging).

# Description
The old "collect manifest files from most starred GH repositories" job doesn't satisfy our needs any more. We want to be able to collect and process manifest files from GH repositories denoted by "random" quer

[2017-09-07 10:34] GeetikaBatra commented on #734
Hi Srikrishna, these integration tests would cover java specific code. I don't understand if the tests would run inside plugin.

[2017-09-07 10:35] msrb commented on #772
PR: https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/159

Merged.

[2017-09-07 10:54] msrb commented on #772
The code runs in production now.

[2017-09-07 11:01] pkajaba commented on #712
I encountered issue because mvnrepository.com has some throttling in place, so we can't gather all tags. I have to research what are our options.

[2017-09-07 11:05] #619 closed

[2017-09-07 11:55] ldimaggi commented on #719
Verified!

[2017-09-07 11:55] #719 closed

[2017-09-07 12:21] ldimaggi commented on #667
The original issue is still present.

Steps to recreate:
* Scale Che down to zero in the OpenShift Online console
* Attempt to create a codebase - observe the 504 errors written to the Chrome browser log:
![screenshot from 2017-09-07 08-17-51](https://user-images.githubusercontent.com/642621/30163034-56cad6b8-93a5-11e7-916e-f151e97f91bc.png)

* Eventually, Che un-idles and the workspace is opened

[2017-09-07 13:01] joshuawilson commented on #667
@dlabrecq can you please look at this.
@ldimaggi it looks like you might need a hard refresh.

[2017-09-07 13:03] joshuawilson commented on #772
moved to the main Sprint 137 milestone

[2017-09-07 13:04] ldimaggi commented on #717
Closing as non reproducible.

The issue had been seen in creatnig a new codebase after creating a new (quickstart) project. Thx!

[2017-09-07 13:04] #717 closed

[2017-09-07 13:05] ldimaggi commented on #666
Nothing seems to have changes in OSO - I am still seeing this issue - intermittently.

[2017-09-07 13:11] joshuawilson commented on #771
@harjinder-hari I'm not sure this is really a user story. Looks more like an enhancement.

[2017-09-07 13:13] joshuawilson commented on #671
@jstrachan are you saying this is something for @corinnekrych to do?

[2017-09-07 13:24] omajid commented on #676
This is about a space name, not a project name.

1. Top Left Menu -> Create space
2. Enter "OpenShift.io" as space name

The error is:

[2017-09-07 13:25] jstrachan commented on #671
yeah - we chatted about  fabric8io/fabric8-generator#38 and was CC'ing her to this related issue

[2017-09-07 14:03] cctrieloff opened #773 "Better Management of Deployments"
Watching the workshops, Burr creates 3 services, seeing what is going on is not optimal. By making 3 changes to the Applications tab we can improve the usability of the system.

A.) Add for each Service Deployed the requested limits from the YAML (extra points, add a link to the file in GitHub for easy future editing that opens it in Che :-)
B.) Add for each environment the limits for that env rea

[2017-09-07 14:09] cctrieloff commented on #773
@catrobson here are the 3 comments I made to you yesterday for better workshop usability.

Carl.

[2017-09-07 14:19] cctrieloff commented on #496
Think this should be a central cache so we don't duplicate jars etc for each tenant. I.e. Have SD team setup it up and tenants just use the central cache.

[2017-09-07 14:42] catrobson commented on #678
I think we might need this final page of the wizard to act a bit differently to have a sensible user experience.

On this page we should ideally only have the "Finish" button enabled, regardless of changes made to the screen.  Finish should validate any changes on that final page and then kick off the Forge creation process.

[2017-09-07 15:06] omajid commented on #678
As a user, this approach sounds much more sensible than the current implementation.

[2017-09-07 15:36] krishnapaparaju commented on #669
Diagram covering the data flow that comes out of firehose would be quite useful + We wanna cover gather performance metrics, estimated / max. throughput that we can handle at production would give close ask on resources side (if any)

@kbsingh

[2017-09-07 17:08] dlabrecq commented on #667
I suspect you'll need to reset your account to get the latest APIs.

If you have the latest, the controls to create/open workspaces should be hidden while Che is starting. You should also see a "Your workspaces are loading" message.

[2017-09-07 17:49] burrsutter opened #774 "Missing blue balls in the Forge Wizard"
Steps 1 and 2 (missing 3 and 4)
https://www.evernote.com/l/AQc4i2FPOIBBY7I1TBmC8zAbIHF1ETFjqGU

but 3 and 4 show up a wee bit later in the process
https://www.evernote.com/l/AQcVSoDBAGxGiar8lS01wiRbWvRhKajbbLE

[2017-09-07 18:32] ibuziuk commented on #667
for me new approach with loading workspaces against idled che server works just fine. BTW, is https://github.com/fabric8-ui/fabric8-ui/issues/1825 done or smth. else is planed to implement as part of Async unidling

[2017-09-07 18:36] dlabrecq commented on #667
#1825 is done.

[2017-09-07 19:20] catrobson commented on #479
"Application Wizard"

As defined by the latest wireframes here:  https://redhat.invisionapp.com/share/DUD3OHBMP#/249199298_Select_Stack_Unselected

[2017-09-07 23:23] rafabene commented on #524
It still happening

![screenshot 2017-09-07 17 58 48](https://user-images.githubusercontent.com/30131/30189464-f447877c-9401-11e7-91b5-0174fad62db5.png)

[2017-09-07 23:25] rafabene opened #775 "Different application name under "Applications""
My application is called "myvertxhello" as you can see in the Pipelines tab

![screenshot 2017-09-07 19 23 57](https://user-images.githubusercontent.com/30131/30189488-1c57446e-9402-11e7-8550-63abadad3efd.png)

But under applications tab it shows as "booster-rest-http-vertx"

![screenshot 2017-09-07 19 24 47](https://user-images.githubusercontent.com/30131/30189497-3989c28c-9402-11e7-8402-ea148964

[2017-09-07 23:40] rafabene opened #776 "Applications tab should show rollout information"
When I hit the approve button in the pipeline and I go to the applications tab it already shows the version 1.0.2

![screenshot 2017-09-07 19 37 59](https://user-images.githubusercontent.com/30131/30189796-2ebcb560-9404-11e7-83fb-b3653214c972.png)

But that information is wrong while the rolling update is happening. I click on the 1.0.2 link and I see the version 1.0.1 because the rollout didn't c

[2017-09-07 23:44] burrsutter opened #777 "p-meier is the creator of my github repository"
p-meier is now the creator of my github repository, it should be the actual end-user, not "p-meier".
https://screencast.com/t/6JL3GHSm1fz

[2017-09-08 00:13] burrsutter opened #778 "Work Items caching not working correctly"
New as of Sept 7th, previous work items are cached, despite a restarting of the Incognito window, despite the reseting of the environment
https://screencast.com/t/Eqd8qvLobTy
From the Board view, click on the WI to "assign to myself" but it opens a previously created WI in another browser session.

[2017-09-08 00:57] rafabene opened #779 "Work Item has assigned values different for each context view"
I have created a new workitem. If I open it in the Backlog tab it shows as Unassigned.

![screenshot 2017-09-07 20 55 21](https://user-images.githubusercontent.com/30131/30191450-e330a4ac-940e-11e7-8a65-0f89b3b5a89a.png)

In the Board tab it still as new. But when I open it, it shows as "In progress" and already assigned to myself.

![screenshot 2017-09-07 20 57 10](https://user-images.githubuserc

[2017-09-08 01:59] joshuawilson commented on #778
@michaelkleinhenz any ideas?
cc @kbsingh @aslakknutsen

[2017-09-08 02:00] joshuawilson commented on #779
cc @michaelkleinhenz

[2017-09-08 05:54] SaketJNU opened #780 "Determine the % of manual tagging required for SpringBoot components to determine the resource requirements for future sprints"
## Description
Manifest.json and Package_topic_map, two files are is required to train PGM. On Github many packages has no topic, so tagger is developed to extract tags form various sources like readme file, description, stackoverflow. After extracting tags by other resources, It is required to check its accuracy and completeness.

### Acceptance Criteria:
All created lists should be in S3 bucket.

[2017-09-08 05:58] SaketJNU opened #781 "Determine the % of manual tagging required for vertx components to determine the resource requirements for future sprints"
# **Description:**
Manifest.json and Package_topic_map, two files are is required to train PGM. On Github many packages has no topic, so tagger is developed to extract tags form various sources like readme file, description, stackoverflow. After extracting tags by other resources, It is required to check its accuracy and completeness.

## **Acceptance Criteria:**
All created lists should be in S3

[2017-09-08 07:46] pkajaba commented on #669
Hello @krishnapaparaju, here is the diagram how are data processed from libraries.io: [firehose-fetcher diagram.pdf](https://github.com/openshiftio/openshift.io/files/1287116/firehose-fetcher.diagram.pdf)

First of all firehose-fetcher is rather lightweight so you don't have worry about performance. In Openshift template, there is a limit set to 256MB: https://github.com/fabric8-analytics/fabric8-

[2017-09-08 07:58] ibuziuk commented on #598
https://github.com/fabric8-ui/fabric8-ui/issues/1825 is done and available on prod. Closing

[2017-09-08 07:58] #598 closed

[2017-09-08 07:59] ibuziuk commented on #579
fabric8-ui/fabric8-ui#1825 is done and available on prod. Closing

[2017-09-08 07:59] #579 closed

[2017-09-08 08:14] msrb commented on #705
@tuxdna We call `io.github.stackinfo:stackinfo-maven-plugin:0.2:prepare` in pipelines to generate effective poms in the same environment where build just happened (so we know all required poms and dependencies are on the system, and they can be non-free, private, not available in Maven Central, ...).

We then send those already generated effective poms to fabric8-analytics for analysis.

[2017-09-08 08:43] slemeur opened #782 "Improve UX when creating a Work Item"
## Goal
The goal of this issue is to list issues in the UX, in the flow and in the delivered experiences when a user wants to create a work item.

## Current Flow
Starting from an empty space, there are two entry points to create a new WI:
- From the "WI Widget" on the dashboard
- After going on "Plan" tab and clicking on the "create" button either in the center of the screen or top right.

**Stag

[2017-09-08 08:45] tuxdna commented on #705
@msrb On it. Let me check.

[2017-09-08 08:56] tuxdna commented on #705
@msrb In that case, the string that @jyasveer mentioned need not be a part of mercator's output? I am confused with that comment.

[2017-09-08 08:58] slemeur opened #783 "Detail View: Work Item fields stay in loading state after editing the title"
When editing the title of a work item from the WI details screen, the stay in loading mode.

## Steps to reproduce
1- Create a new WI
2- From the WI detail screen, edit the title and save

Current output: WI type + Area + Iteration are showing
Expected output: As those fields have not been edited, they should not need to be reloaded.

See the attached gif:
![editing-wi-details](https://user-images

[2017-09-08 09:37] pkajaba commented on #669
Firehose-fetcher is deployed and running in production.

It does not schedule new analysis at this point. Here is PR which enables this behavior: https://github.com/openshiftio/saas-analytics/pull/84

[2017-09-08 14:26] GeorgeActon commented on #376
@luebken Can this be closed?

[2017-09-08 14:52] jyasveer opened #784 "[5]Task: Spike: Test out a small POC in developing a UI component and also calling a micro service from che code inside a PLUGIN"
- [x] Do the local dev setup for upstream che
- [x] Understand the build mechanism for che.
- [x] Able to debug the server side code.
- [ ] Able to debug the client side GWT code
- [ ] Understand how the plugin architecture works in eclipse che
- [ ] Create a sample plugin for bayesian and follow the steps below
- [ ] Understand the GWT java package which will help in showing the HTML ops portal
-

[2017-09-08 15:41] rafabene commented on #779
Note that the title is also different (Camel case)

[2017-09-08 16:13] slemeur opened #785 "Improvements in WI details screen"
# Goals
This issue is listing improvements in order to provide a more usable work item "detail" view.
The issue is splitted into two sections:
- Quick fixes: things that are rather small and should be easy to fix
- Layout Improvements: making the layout more readable and easier to process for an end-user

# Quick Fixes

### Inconsistent edition modes
![screen_shot_2017-09-08_at_11_21_53](https://u

[2017-09-08 16:23] cctrieloff commented on #773
jfchevrette
12:19 PM
  1

oc get quota -n namespace -o yaml will give you limits and usage for all 3 quota types (compute-resources, compute-resources-timebound and object-counts)

[2017-09-08 16:30] rafabene opened #786 "Pods take long time to start"
CHE and Jenkins Pod take more than five minutes to start due to the following error:

(combined from similar events): Failed to attach volume "pvc-fead7e2a-94b1-11e7-b67b-02d7377a4b17" on node "ip-172-31-77-149.us-east-2.compute.internal" with: Error attaching EBS volume "vol-0b7b688836391fab9" to instance "i-07064ee1905629e90": VolumeInUse: vol-0b7b688836391fab9 is already attached to an instance

[2017-09-08 17:40] kbsingh commented on #786
this looks like the storage backing the che service, did you have a problem with jenkins as well ?

[2017-09-08 18:05] jstrachan commented on #293
AFAIK this has been fixed at the cluster level now?

[2017-09-08 18:05] #293 closed

[2017-09-08 19:14] bmicklea commented on #671
Closing as two linked issues are closed.

[2017-09-08 19:16] joshuawilson commented on #671
@bmicklea I think this has been fixed yet. @corinnekrych can you please confirm.

[2017-09-08 19:34] joshuawilson commented on #785
cc: @michaelkleinhenz @catrobson

[2017-09-08 20:03] joshuawilson commented on #783
cc @michaelkleinhenz

[2017-09-08 20:04] joshuawilson commented on #782
cc @michaelkleinhenz @catrobson

[2017-09-08 21:46] rafabene commented on #786
Yes. The same happens to Jenkins

[2017-09-08 23:03] kbsingh commented on #666
Working with 4 teams on this, there are different factors that impact the overall result. Typically for accounts that get into a bad-state you would see the bringup time of about 12 minutes. At this point the fix is via :
* networking team, is working on the endpoint latency issue ( this has improved from 2 min per endpoint to under 30 seconds, with some scope for further improvement )
* the stora

[2017-09-09 02:06] joshuawilson commented on #666
Since this has been impacting the workshop and specifically Rafael, I'm adding it to the Workshop backlog.
cc @burrsutter @bmicklea

[2017-09-09 07:14] krishnapaparaju commented on #670
Who is working on this task ? I do not see assigned to anyone.

This is a key task for keeping the sanity of the data..

Can someone document the current open issues / bugs to have incrementally refresh data ?

@GeorgeActon @fridex

[2017-09-09 07:17] krishnapaparaju commented on #772
Please document steps to follow for retrieving manifest files from GitHub

@msrb @SaketJNU

[2017-09-09 13:19] kbsingh commented on #666
One thing I wanted to comment on was that we have no evidence at this point that there is a memory issue. With no over commit running at this point, there ahould be no contention at all.

[2017-09-09 13:19] kbsingh commented on #666
Did not mean to close this, fat fingered the button. Reopen.

[2017-09-09 14:08] krishnapaparaju commented on #682
@jpopelka cvedetails.com looks good to me with the coverage, license terms. Can you please evaluate this source for the ecosystems that we needed to support (to start with NPM, Maven, PyPi and .NET)

[2017-09-09 17:55] burrsutter commented on #666
So the logic in "Reset Tenant" might have some bugs in it?  It took us over a month to get the current logic agreed to and coded.  With that said, I understand that it is a very, very tricky "feature" of the product since it touches on virtually everything.  Even when we have multi-tenant, we will still need a "reset" feature as there will still be "stuff in my tenant that needs to be cleaned".

[2017-09-10 03:16] ldimaggi commented on #786
This looks like the same (EBS) problem as:
https://github.com/openshiftio/openshift.io/issues/666

[2017-09-10 05:21] krishnapaparaju commented on #668
Following up with OpenShift team ... @msrb @humaton

[2017-09-10 08:55] fridex commented on #670
There were done some related fixes in the jobs service so our periodic jobs are scheduled correctly, it was already deployed to production and it looks like the periodical refresh was correctly done 7th-8th September (it is configured to be done each 14 days from now on as stated in the task description).

To completely finish this task there needs to be scheduled a job that would create package-r

[2017-09-10 09:18] krishnapaparaju commented on #670
thanks @fridex.

Once @jpopelka get a handle on pushing package related entries into RDS,  next interesting metric to get handle on is the number of workers that are required to support consistent incremental refreshes for all the currently supported ecosystems: Maven, Node, Python and .NET..

@jfchevrette

[2017-09-10 23:20] catrobson commented on #782
@mganesan @smahil

@slemeur - Please also refer to the "end game vision" of creating work items here: https://redhat.invisionapp.com/share/6RCWHA1TX#/245740015_Slide068

[2017-09-10 23:32] catrobson commented on #785
@slemeur - we actually had a consistent edit and save model specified quite a while ago here:  https://redhat.invisionapp.com/share/UAACVQ7XT#/217944720_Save-Edit_-_001
Save button should only be enabled when valid field input has been achieved.  Using primary button (blue) in this situation is probably overkill since the user's focus is already on the field since they chose to edit it.  The save

[2017-09-10 23:32] catrobson commented on #785
@mganesan @smahil

[2017-09-10 23:40] bmicklea commented on #435
Who would work on this (I assume it's not yet in progress)?

[2017-09-10 23:42] bmicklea commented on #244
@maxandersen Che generates logs on most relevant functions - why are they not available in OSO?

[2017-09-10 23:43] bmicklea commented on #648
@ldimaggi in the scheme of testing priorities for OSIO, where do you see this sitting?  P1?  P2?  Lower?

[2017-09-10 23:44] bmicklea commented on #501
@ldimaggi - is this still reproducible?  I haven't experienced this in the last two weeks.

[2017-09-10 23:45] bmicklea commented on #558
Things have been working properly for the last couple of weeks. Closing.

[2017-09-10 23:45] #558 closed

[2017-09-10 23:45] #546 closed

[2017-09-10 23:45] bmicklea commented on #546
Fixed

[2017-09-10 23:46] bmicklea commented on #495
Retagging as enhancement - my understanding is that this is an OSO limitation for now.

[2017-09-10 23:47] bmicklea commented on #441
@rawlingsj - is this now in prod?

[2017-09-10 23:48] bmicklea commented on #471
PR merged so closing.

[2017-09-10 23:48] #471 closed

[2017-09-10 23:49] #500 closed

[2017-09-10 23:49] bmicklea commented on #472
What's the status of this?  I haven't had issues with slaves launching so is this fixed?

[2017-09-10 23:50] bmicklea commented on #445
Relabelling as an enhancement

[2017-09-10 23:50] bmicklea commented on #430
@ldimaggi - is this fixed now?

[2017-09-10 23:52] bmicklea commented on #557
What happened with this?  Was it completed?  If so what's the MM channel name?

[2017-09-10 23:53] bmicklea commented on #461
fixed

[2017-09-10 23:53] #461 closed

[2017-09-10 23:53] bmicklea commented on #533
Closing - haven't seen this in several weeks.

[2017-09-10 23:53] #533 closed

[2017-09-10 23:54] bmicklea commented on #415
Closing - associated issues and PRs are closed/merged.

[2017-09-10 23:54] #415 closed

[2017-09-10 23:55] bmicklea commented on #496
Who can work on this - it will be critical for JavaOne workshops and demos. Upgrading to P1

[2017-09-10 23:56] bmicklea commented on #496
@gorkem who owns the Quick Start Che dockerfiles and could add the .m2 cache appropriate for each QS?

[2017-09-10 23:57] bmicklea commented on #200
Closing this as I've no longer seen this issue. @burrsutter please reopen if it reappears or is still happening.

[2017-09-10 23:57] #200 closed

[2017-09-10 23:58] bmicklea commented on #497
@slemeur thoughts?

[2017-09-11 00:02] bmicklea commented on #786
Closing as dupe of #666

[2017-09-11 00:02] #786 closed

[2017-09-11 01:52] ldimaggi opened #787 "Analytic report title looks like a placeholder"
The title for the detailed analytical report is:  "Report title on Application" - this looks like a generic  placeholder:

![screen shot 2017-09-07 at 3 48 10 pm](https://user-images.githubusercontent.com/642621/30255483-38512faa-9672-11e7-81be-f9adab2e9cc0.png)

[2017-09-11 01:59] ldimaggi opened #788 "Recurring/intermittent issue - build pipeline is not created or automatically triggered - seeing this daily with manual and automated tests"
This problem is being seen about 10%-15% of the time - this pattern seems consistent - it fails at least daily on automated tests.

Steps to recreate:
* Create a new space and new quickstart
* Observe that a pipeline is not created
* Observe no error messages written to the Jenkins log

Attachments:

For example - a project named "testsep101505082845532 " was created:

1) There are no errors relat

[2017-09-11 02:25] ldimaggi commented on #648
Quickstart tests - to run the build pipeline - are running here:
https://ci.centos.org/job/devtools-test-end-to-end-openshift.io-quickstartTest/

[2017-09-11 02:27] ldimaggi commented on #501
I think that we can close this issue now - thx for the update!

[2017-09-11 03:04] joshuawilson commented on #557
@bmicklea last week @rawlingsj was working on getting it set up on MM. I believe he needed a few things set in place and it should be working early this week.

[2017-09-11 03:23] joshuawilson commented on #445
cc @catrobson

[2017-09-11 03:25] joshuawilson commented on #472
@jstrachan I think this was something you reported. Can you expound on it.

[2017-09-11 04:54] benoitf commented on #496
I will add the cache in docker images like we do on che factories

[2017-09-11 05:31] invincibleJai commented on #787
@arunkumars08 FYI

[2017-09-11 06:31] corinnekrych commented on #671
@joshuawilson yes it should be completed with the merge of the UI PR: https://github.com/fabric8-ui/fabric8-ui/pull/1992

[2017-09-11 08:06] michaelkleinhenz commented on #778
@burrsutter to track the problem down, please try to disable your browser cache (Dev Tools -> Network -> Disable Cache on the top of the dev window) and see if the problem goes away.

[2017-09-11 08:08] michaelkleinhenz commented on #551
In the current way the boead is working, an "All" selection is not possible as the states may be different for different WITs. That is the reason for the dropdown in general. But we're re-visiting the way the board is working anyway, so the dropdown will go away, showing multiple WITs will be possible by default.

[2017-09-11 08:10] michaelkleinhenz commented on #755
Why does that functionality links to the Planner and into what context? AFAIK analytics is supposed to do a REST req to the backend, creating the WI. The Frontend should not be involved (at least primarily).

[2017-09-11 08:10] #369 closed

[2017-09-11 08:12] ibuziuk commented on #667
@ldimaggi the issue is supposed to be fixed. Could you please verify & close ?

[2017-09-11 08:20] ibuziuk commented on #711
![image](https://user-images.githubusercontent.com/1461122/30264801-6349008a-96da-11e7-92d2-3dc1d6184b6c.png)
@bmicklea looks like all the stacks are centos based in quickstart section - che 2.0.16

[2017-09-11 08:24] msrb commented on #686
Branch with my WIP changes: https://github.com/msrb/fabric8-analytics-worker/tree/go-support-init?files=1
Known missing pieces:
- gofedlib needs to be added to the worker base image
- support in mercator needs to be tested
- no need to run CVE worker now as we haven't find any source of CVE data for Golang yet
- tests are missing
- jobs service doesn't support Golang yet (for initial ingestion)

C

[2017-09-11 08:30] jpopelka commented on #682
www.cvedetails.com has been evaluated and mentioned in the [document](https://docs.google.com/document/d/1Xa68aMUNTjJW8D0UMIrrxRZtNs0vomeXQtz4njL3f0o) as well

[2017-09-11 08:34] fridex commented on #686
Here is the [gofedlib](https://github.com/gofed/gofedlib) with documentation. You can find how it was used in worker history - git commits aa4cf9b8472, f8089bb2. For usage in mercator task you will need to check internal non-squashed project (see workers/mercator.py) before we went open source.

[2017-09-11 08:42] ibuziuk commented on #594
@rafabene can still reproduce this problem ?

[2017-09-11 08:43] ibuziuk commented on #572
@ldimaggi red "x" issue is supposed to be fixed. Could you please verify & close ?

[2017-09-11 08:43] rawlingsj commented on #557
@joshuawilson @bmicklea last week I validated we can receive the existing hubot pipeline notifications in mattermost (we currently get them in slack).  I now have an internal issue requesting MM config changes which we need to enable these notifications https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/524.

FWIW this doesn't include notifications when new tenant versions are available for th

[2017-09-11 08:48] ibuziuk commented on #514
@rhopp is it still reproducible? Codebases UX has been significantly changed with https://github.com/fabric8-ui/fabric8-ui/issues/1825 and I was not able to repro it

[2017-09-11 08:52] ibuziuk commented on #202
Upstream che issue - https://github.com/eclipse/che/issues/5741

[2017-09-11 08:54] ibuziuk commented on #523
@burrsutter is it still reproducible?

[2017-09-11 09:10] sdash-redhat commented on #328
Here is the updated version.
https://redhat.invisionapp.com/share/KRDF4GH8V

Added one more option based on feedbacks on earlier option 1. The benefit of this solution is that implementing a MyFilters will not require additional control on the filter bar.

[2017-09-11 09:14] rhopp commented on #514
I have not seen this recently. Feel free to close this issue.

[2017-09-11 09:19] slemeur opened #789 "Improvements in WI list screen"
# Goals
This issue is listing few improvements and tweaks that we should do in order to cleanup the list of WI.

# Quick Fixes

## Positions, sizes and alignements

<img width="1088" alt="screen_shot_2017-09-11_at_10_13_26" src="https://user-images.githubusercontent.com/1636769/30265663-1659d42c-96dd-11e7-8a34-d1ee43002e44.png">
- [ ] Add more padding between the `>` arrow and the WI's status
- [

[2017-09-11 09:22] #514 closed

[2017-09-11 09:58] slemeur opened #790 "Improvements in WI quick preview"
# Goals
This issue is listing improvements in order to provide a more usable work item "detail" view.
The issue is splitted into two sections:
- Quick fixes: things that are rather small and should be easy to fix
- Layout Improvements: making the layout more readable and easier to process for an end-user

# Quick Fixes
We should apply the same treatments than those defined in the following issue:

[2017-09-11 10:33] rawlingsj commented on #441
I just tried a new vertx app and the old limits are still used.  Looking at the booster catalogue I guess we need to use the git tag 11 for vertx.  Not sure about the spring quickstart though as it looks like they've not released my change yet.  I'll raise an issue to see if we can move that along.
My assumption is once we have the new tag I can PR the osio branch of the catalogue https://github.c

[2017-09-11 10:35] rawlingsj commented on #441
issue requesting new spring boot quickstart release https://github.com/openshiftio/openshift.io/issues/441

[2017-09-11 10:46] gastaldi commented on #441
@rawlingsj yes, that's right

[2017-09-11 10:47] rawlingsj commented on #441
great, thanks @gastaldi

[2017-09-11 12:27] #479 closed

[2017-09-11 12:37] joshuawilson commented on #790
cc @michaelkleinhenz @catrobson

[2017-09-11 12:39] joshuawilson commented on #789
cc @michaelkleinhenz @catrobson

[2017-09-11 12:42] pkajaba commented on #709
I am afraid this can't be done with automation.

1) It can be done if we update token in Jenkins every 2 weeks.

2) It MIGHT be done if we stored credentials of GitHub user which is inside Jenkins. However, this is dangerous since with some effort everybody can read these secrets.

@fridex suggested that we have tests in place and we will run them just time to time with personals tokens.

[2017-09-11 12:46] fridex commented on #709
We could have these tests in place/ready for execution but do not run them on each PR in publicly available Jenkins instance. Basically all solutions that we come up with are not straightforward or require changes that could affect our security by introducing new security holes.

We could test them from "time to time" and every time there is done a change in our authentication mechanism.

[2017-09-11 12:48] joshuawilson commented on #755
@rgarg1 please do NOT assign issues to anyone but yourself.

[2017-09-11 12:50] fridex commented on #709
We can try to reach out to other teams in OSIO to check if they do tests like these in CICO and if so how do they do them automatically.

[2017-09-11 12:52] GeorgeActon commented on #753
@jyasveer add a desription and link to the higher level story as requested by Srikrishna

[2017-09-11 12:57] catrobson commented on #445
Will work on this as part of https://github.com/fabric8-ui/fabric8-ux/issues/655

[2017-09-11 13:17] ldimaggi commented on #667
The error is no longer being seen - closing.

[2017-09-11 13:17] #667 closed

[2017-09-11 13:46] tuxdna commented on #705
First check list is complete via - https://github.com/fabric8-analytics/mercator-go/issues/15

[2017-09-11 14:03] dgutride opened #791 "Document OpenShift.io front-end development guidelines"
Moving to a production ready system requires we start to build production ready code - a number of coding guidelines have been recommended as a result of this story: https://github.com/fabric8-ui/fabric8-ux/issues/637

The fabric8-ui platform should include clearly documented guidelines for inclusion in the platform and at-a-glance metrics for compliance measurement should also be quickly availabl

[2017-09-11 14:33] benoitf commented on #496
@gorkem it's preloading docker images with maven dependencies

[2017-09-11 14:34] ldimaggi commented on #709
See the EE tests defined here for reference:
https://github.com/almighty/almighty-jobs/blob/master/devtools-ci-index.yaml

[2017-09-11 14:59] l0rd commented on #496
For vert.x and spring boot stacks maven dependencies are already pre-installed (see [vertx](https://github.com/eclipse/che-dockerfiles/blob/master/recipes/centos_vertx/install-vertx-dependencies.sh) and [spring-boot](https://github.com/eclipse/che-dockerfiles/blob/master/recipes/centos_spring_boot/install_spring_boot_dependencies.sh)). What I think would help here is:

- [ ] As suggested by @benoi

[2017-09-11 15:03] ldimaggi commented on #572
Have not seen this recently - closing.

[2017-09-11 15:03] #572 closed

[2017-09-11 15:21] ldimaggi commented on #430
Closing - issue no longer being seen.

[2017-09-11 15:21] #430 closed

[2017-09-11 15:22] bmicklea commented on #496
Can't we have a set of CI jobs that rebuild those images with latest deps every night?

[2017-09-11 15:31] bmicklea commented on #711
@ibuziuk - my point was that when we have a package of Che on OpenShift we should really remove any stacks that aren't compatible with OS.

[2017-09-11 15:34] jpopelka opened #792 "[8] Better vulnerabilities data (CVEs) for Python"
# Description

When implementing security scans for Python, we chose the easiest solution, which was using the same tool, that we'd already been using for Maven packages, i.e. [OWASP Dependency Check](https://www.owasp.org/index.php/OWASP_Dependency_Check).

It has an experimental [Python Analyzer](https://jeremylong.github.io/DependencyCheck/analyzers/python.html) which we currently use.
However

[2017-09-11 15:35] bmicklea commented on #648
@ldimaggi I'm confused (sorry) the issues outlined by Max in the description are still open but you have some tests running. Can you update the issues (even description) to clarify what this is asking for or close it if you feel it's done.

[2017-09-11 15:37] ldimaggi commented on #648
Doh - sorry for the confusion - Max's issues are still open.

[2017-09-11 15:38] rawlingsj commented on #360
This was fixed with this commit https://github.com/fabric8io/jenkins-sync-plugin/commit/1eeaed5c6dd1f87a622a39fcfeaeacd610d466dc

[2017-09-11 15:38] #360 closed

[2017-09-11 15:42] rawlingsj commented on #472
I've not seen this for a while, my guess it was related to multiple builds being triggered when new quickstarts were created.  That's been fixed now https://github.com/openshiftio/openshift.io/issues/360 so closing this but please reopen if we start seeing it again.

[2017-09-11 15:42] #472 closed

[2017-09-11 16:34] jpopelka commented on #792
Results of my experiments with www.cvedetails.com and [pyupio/safety-db](https://github.com/pyupio/safety-db) are described in this document: https://docs.google.com/a/redhat.com/document/d/1ScTu7BlGu9nzbSnOPb_eyiKU1ZPwjfMo1xe76YzD8Q4/edit?usp=sharing

[2017-09-11 17:23] samuzzal-choudhury commented on #659
Observed on staging. StackAggregator task failed which caused this on server -

[code]

[2017-09-11 19:00] ldimaggi opened #793 "Add quickstart to space, deselecting options activates unnecessary 'Next' key"
Steps to recreate:
* While adding a quickstart to a space:
![capture1](https://user-images.githubusercontent.com/642621/30291657-94d7b534-9701-11e7-9733-53304dd00d3d.PNG)

* If the user deselects either checkbox, the 'Next' key is activated:
![capture2](https://user-images.githubusercontent.com/642621/30291691-a67b7d84-9701-11e7-944f-e773d42918d7.PNG)

* But, pressing the newly activated 'Next' ke

[2017-09-11 19:16] ldimaggi commented on #788
Just noticed this in a build log for a job that got into this state - and then managed to get itself out of this state:
[code]

Is this a github quota issue? In what units is the github quota measured? 900 of what?

[2017-09-11 20:58] ldimaggi opened #794 "No error is reported in OSIO UI build pipeline is not created"
Related to: #788 - build pipeline is not created or automatically triggered

When the issue described in https://github.com/openshiftio/openshift.io/issues/788 is seen, no error is reported to the user in the OSIO UI.

[2017-09-12 07:17] rawlingsj commented on #788
Looking at the github org you're using you have 1,500 repos https://github.com/osiotestmachine?tab=repositories

So my guess is at some point forge and or the E2E tests are doing a few org scans per hour resulting in the authenticated rate limit of 5000 being hit.

As a fix I would try and clear down the repos + add into the E2E tests a repo deletion if tests pass.

Let me know if you want a scrip

[2017-09-12 08:28] l0rd commented on #496
@bmicklea I've opened a PR to trigger the CI job daily (https://github.com/almighty/almighty-jobs/pull/297).

@benoitf I will let you open the PR to preload the quickstarts dependencies.

[2017-09-12 08:33] invincibleJai commented on #741
@arunkumars08 works for me . Closing it.

[2017-09-12 08:33] #741 closed

[2017-09-12 08:34] arunkumars08 commented on #733
@invincibleJai It appears as expected.

[2017-09-12 08:34] #733 closed

[2017-09-12 08:57] slemeur opened #795 "File attachments with descriptions and comments in a Work Item"
# Description
As a user, I want to add attachments to Work Items which can be helpful along with the description of the WI, and also along with a comment.

# Acceptance Criteria
- [ ] The user is able to upload files when creating a work item.
- [ ] The user is able to upload files after a work item has been created and add it to the description of the WI
- [ ] The user is able to upload files whe

[2017-09-12 09:45] jyasveer opened #796 "Task: CI/CD implementation for the Independent UI Portal"
Introduce CI/CD for the independent stack ui portal. List of sub tasks that needs to be targeted
- [x] Create a valid Dockerfile that can be used to create a docker image and can be deployed to openshift
- [x] Create a openshift template for the project
- [x] Introduce the cico-* files for the repo
- [x] Update the jenkins job file in almighty-jobs
- [x] Add the configuration in saas-analytics
- [

[2017-09-12 09:51] jyasveer commented on #796
Facing this error for now. Its blocking me to proceed further.
When i run `npm install` for this repo https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui in the local machine, it is working totally fine. However when i try to run the same command in the docker file, i am getting this following error :-
[code]

[2017-09-12 09:55] arunkumars08 commented on #723
@invincibleJai Appears as expected.

[2017-09-12 09:57] invincibleJai commented on #723
@arunkumars08 thanks. Closing it

[2017-09-12 09:57] #723 closed

[2017-09-12 10:23] jpopelka commented on #682
I've reviewed www.cvedetails.com once more specifically for [Python security scans use case](https://github.com/openshiftio/openshift.io/issues/792) and added my findings into a [document](https://docs.google.com/document/d/1ScTu7BlGu9nzbSnOPb_eyiKU1ZPwjfMo1xe76YzD8Q4)

[2017-09-12 13:33] joshuawilson commented on #795
@michaelkleinhenz since this appears to be focused on the Planner, I'm adding it to your backlog.

[2017-09-12 15:27] bmicklea opened #797 "UI issue - Che workspaces appear in the wrong place"
When creating multiple spaces in your account you will see the new space's project (springbasic in the example below) in the old space's Codebases tab beside the old space's project (springboot in the example below). This is confusing because that new project is not actually part of that space.

<img width="1028" alt="screen shot 2017-09-12 at 11 03 47 am" src="https://user-images.githubuserconten

[2017-09-12 15:28] bmicklea commented on #797
@joshuawilson please add the correct tags for team (UX?)

[2017-09-12 15:31] bmicklea opened #798 "SpringBoot Quick Start projects fail in Che"
Neither of the Spring Boot quick start projects can be properly started in Che on OSIO.

### To Reproduce
- Create space and use either of the Spring Boot quick starts.
- Space should appear correctly and builds kick off correctly.
- Go to Codebases section and create a Che workspace.
- Che IDE opens but workspace doesn't start. Error shown is`Workspace not running...` in the upper notification ce

[2017-09-12 15:32] bmicklea commented on #798
@l0rd and @gorkem - not sure if you're aware of this already but it's a problem since it seems to affect all spring boot project quick starts.

[2017-09-12 15:32] ibuziuk commented on #711
We have discussed this issue with @l0rd during stand-up. Currently the following stacks are predefined in rh-che assembly:
![image](https://user-images.githubusercontent.com/1461122/30334393-c6419a8e-97df-11e7-9d1d-f641e9e3172e.png)
All of them are supposed to work on osio, so it was decided to check all the stacks after fixing inconsistencies [1] and either exclude  or create separate issues for

[2017-09-12 15:59] l0rd commented on #798
@bmicklea no I was not. Let me try to reproduce it.

[2017-09-12 16:33] l0rd commented on #798
I've reproduce it. And I confirm that vert.x quickstart work on Che so the problem is related to springboot stack only.

[2017-09-12 16:40] bmicklea commented on #798
Thanks @l0rd.

[2017-09-12 17:06] l0rd commented on #798
So it looks like using image `rhche/spring-boot` instead of `registry.devshift.net/che/spring-boot` as source of the stack solve the issue. These images should be identical.

[2017-09-12 17:06] budhrg opened #799 "Always redirected back to openshift.io homepage on clicking login"
Hi,

Whenever, I am trying to login to openshift.io account, I am always getting redirected to openshift.io home page.
Here is the process:
- I click on Login button in https://openshift.io
- Added my deveopers.redhat.com credentials
- See `https://openshift.io/_gettingstarted` with progress bar in progress
- Redirected back to https://openshift.io page after 15+ seconds

#### Screenshots
![screen

[2017-09-12 17:09] bmicklea commented on #798
So that's a change to the Che dockerfile?

[2017-09-12 17:15] l0rd commented on #798
No the Dockerfiles are identical. But instead of using the Docker Hub for Docker images we have switched to registry.devshift.net late last week. I confirm that images are identical (same hash). There may be something in their name that osio don't like...continuing investigating

[2017-09-12 17:18] alexeykazakov commented on #799
We investigated it with @budhrg and here is what we found out. Incognito mode didn't help. It was reproducible in other browsers (FF) too.

The backend actually did login properly and returned the tokens. But I noticed some weird /api/user request (see screenshot in the description). This request doesn't have any headers! It looks like something is broken on UI side. Didn't notice any errors in co

[2017-09-12 17:19] alexeykazakov commented on #799
@joshuawilson take a look at this please.

[2017-09-12 17:20] budhrg commented on #799
Just to add, after logging out, I am still facing same behavior. I need to login by going into link https://openshift.io/bgurung%40redhat.com (my OSIO profile) and login from there.

[2017-09-12 17:20] alexeykazakov commented on #799
The network connection was very slow. Just a crazy idea... maybe that UI failed to load something and failed silently?

[2017-09-12 17:21] alexeykazakov commented on #799
I did see the same complaints from other users but clearing browser cache usually helped.

[2017-09-12 17:28] ldimaggi opened #800 "UI change to RH login field breaks EE tests"
The addition of a label to the RH login username field is problematic for the EE tests as the browser sees the label "inside" the username field.

[2017-09-12 17:28] ldimaggi commented on #800
Resolved here:
https://github.com/fabric8io/fabric8-test/pull/158

[2017-09-12 17:29] #800 closed

[2017-09-12 18:05] joshuawilson commented on #797
@dlabrecq can you take a look at this when you get a minute.

[2017-09-12 18:10] joshuawilson commented on #799
I have heard of others facing this too.
@dgutride when you have time, can you please take a look at this.

[2017-09-12 18:18] dlabrecq commented on #797
The UI is only displaying the workspaces returned by the back-end API -- if the user is still in the current space, then that would be expected.

Note that the codebases page has little to do with the "create space" functionality in the main menu or the Forge wizard.

I agree that the user should be navigated to the newly created space. However, this may be more of an issue with the Forge wizard?

[2017-09-12 18:27] ibuziuk commented on #798
[code]

@l0rd looks like the problem is coupled with the fact that kubernetes names / labels max max lenght is 63 chars[1].  During IS creation the last part of the tag is trimmed:

But workspace manager tries to find IS tag by non-trimmed name `che-ws-c067dx0sc9z4kbu79ku1799htx0p3wyl` and fails. Basically, switching to a new registry has sufficiently increase IS naming prefix and we started to hi

[2017-09-12 18:36] rafabene opened #801 "Impacting Workshop: Can't start springboot CHE intance"
It gives me an error: Start of environment 'default' failed. Error: ImageStreamTag che-ws-fq204e6nddbolsuno9d38zfl2tccz3jq not found!

[2017-09-12 18:42] ibuziuk commented on #798
Have not tested but looks like decreasing length check to 25 should do the trick [1]

[1] https://github.com/eclipse/che/blob/master/plugins/plugin-docker/che-plugin-openshift-client/src/main/java/org/eclipse/che/plugin/openshift/client/OpenShiftConnector.java#L1108

[2017-09-12 18:51] ldimaggi commented on #798
Screenshot of the error:

![screenshot 40](https://user-images.githubusercontent.com/642621/30343012-d3a56a2c-97c9-11e7-97e1-3994de553d74.png)

[2017-09-12 18:56] ldimaggi commented on #801
![screenshot 40](https://user-images.githubusercontent.com/642621/30343207-928bbfea-97ca-11e7-8822-7a6b537df5db.png)

[2017-09-12 18:57] ldimaggi commented on #801
See:  https://github.com/openshiftio/openshift.io/issues/798

[2017-09-12 18:57] ibuziuk commented on #798
Duplicate - https://github.com/openshiftio/openshift.io/issues/798
Closing

[2017-09-12 18:58] ibuziuk commented on #801
Duplicate - https://github.com/openshiftio/openshift.io/issues/798
Closing

[2017-09-12 18:58] #801 closed

[2017-09-12 19:59] ldimaggi commented on #788
Thanks James - I cleaned out the repos and will see if the bug goes away.

Question - Do we have any insight into the number of scans that Forge is performing on a daily/hourly basis? Are scans happening that are not caused by the user creating a new project?

[2017-09-12 20:44] l0rd commented on #798
Thanks @ibuziuk for the analysis. @bmicklea we will fix that tomorrow.

[2017-09-13 00:06] ibuziuk commented on #798
@l0rd tested on minishift - seems to work just fine.
This fix should work for all pre-defined rhche stacks - https://github.com/eclipse/che/pull/6245

[2017-09-13 00:08] bmicklea commented on #798
Great news - thanks!

[2017-09-13 00:15] ibuziuk commented on #736
https://github.com/redhat-developer/rh-che/issues/292 is done and now all pre-defined stacks include latest version of oc. Could we close this one now ?

[2017-09-13 00:29] bmicklea commented on #736
I think so but see @gorkem's comment in [292](https://github.com/redhat-developer/rh-che/issues/292#issuecomment-329021580).

[2017-09-13 00:30] #736 closed

[2017-09-13 03:56] RanjithRV opened #802 "'Reset Environment' is not clearing Planner WI list, possible caching issue"
Reset Environment is not clearing Planner workitems even though the associated space has been cleared. Refreshing the page also does not help. But when I login using incognito mode or if I close the browser and reopen it then the deprecated Planner workitems do not show up anymore.

![planner-items-after-cleanup](https://user-images.githubusercontent.com/22077715/30358993-6ba67c58-9865-11e7-9a5b-9

[2017-09-13 06:40] rgarg1 opened #803 "Add Story Points field to the workitems"
**Description**
As a user, I want to be able to add Story Points to the workitems

**Acceptance Criteria**
[] The Workitem has an additional field that captures Story point data
[] The field accepts only 2 digit integers > 0
[] The Story point data is visible in the list view and the board view

**Relationships**
Put linked Team/Product story links here

[2017-09-13 06:41] rgarg1 commented on #803
@michaelkleinhenz Have a look. I think we forgot about this after the initial discussion.

[2017-09-13 06:48] rgarg1 opened #804 "Have tooltips for type icons to make it clearer what they represent"
**Description**
As a user, I want to be able to easily identify the workitem by its type

**Acceptance Criteria**
[] Hovering the mouse over the workitem icon anywhere in planner should show its Type as a tool-tip
[] A context-sensitive help describing the meaning and expected usage of various WI types is provided

**Relationships**
Put linked Team/Product story links here

[2017-09-13 07:21] rgarg1 commented on #799
@budhrg @joshuawilson Same as #737 ?

[2017-09-13 07:34] rgarg1 opened #805 "Allow conversations through the Workitem's comments fields"
**Description**
As a user, I want to be able to reply to a comment, maintaining the context of the conversation

**Acceptance Criteria**
[] The workitem's comment field has a new 'Reply' option
[] Replying to the original comment builds a conversation, with the response showing a reference to the original comment. Need UX inputs
[] The reply should also have a 'reply' option
[] The original commen

[2017-09-13 09:15] l0rd commented on #798
@ibuziuk great job! Now we need to decide if:

- we ask Roman to do an hot fix release of eclipse/che that contains your fix
- we provide a temporary workaround (e.g. use `rhche/spring-boot` in [osio stacks.json](https://github.com/redhat-developer/rh-che/blob/master/builds/fabric8-che/assembly/fabric8-stacks/src/main/resources/stacks.json#L118)).

I would rather go with this second option. It's e

[2017-09-13 09:39] jstrachan commented on #788
scans tend to happen each time you create a project or every night AFAIK. It sounds like having 1000s of projects in a test account will result in failure though ;)

[2017-09-13 09:43] ibuziuk commented on #798
@l0rd +1 for the second option, but we would also need to use rhche for all the other stacks (vertx seems to be the only one which is not affected)

[2017-09-13 10:38] heiko-braun commented on #400
I guess it's missing the jboss maven repositories

[2017-09-13 11:05] l0rd commented on #798
@ibuziuk https://github.com/redhat-developer/rh-che/pull/333

[2017-09-13 11:27] l0rd commented on #798
Reopening it. PR is merged but we need to wait the build before it's available on OSIO.

[2017-09-13 12:27] ldimaggi commented on #400
FYI - the WildFly quickstart is no longer in the new project quickstart list:

Vert.X Basic
Vert.x - ConfigMap
Spring Boot - Basic
Spring Boot - HTTP
Vert.x Health Check Example
Spring Boot - Health Check

[2017-09-13 12:32] ldimaggi commented on #788
What do you think a reasonable upper limit would be for a total number of
projects in a test account?

On Wed, Sep 13, 2017 at 5:39 AM, James Strachan <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-09-13 12:40] tuxdna commented on #686
Made a few experiments with gofedlib; and along the way created issues / commits to that project

 * https://github.com/gofed/gofedlib/issues/10
 * https://github.com/gofed/gofedlib/issues/14
 * https://github.com/gofed/gofedlib/issues/16

[2017-09-13 12:43] fridex commented on #727
Implementation sits in [f8a_worker/workers/repository_description.py](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/repository_description.py) (some bits shared with https://github.com/openshiftio/openshift.io/issues/728), tests are ready to be merged in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/333. Code already runs in produ

[2017-09-13 12:44] fridex commented on #728
Implementation sits in [f8a_worker/workers/repository_description.py](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/repository_description.py) (some bits shared with https://github.com/openshiftio/openshift.io/issues/727), tests are ready to be merged in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/333. Code already runs in produ

[2017-09-13 12:49] sara-02 commented on #771
@miteshvp @harjinder-hari This looks like a duplicate of #748

[2017-09-13 12:49] sara-02 commented on #748
@miteshvp This looks like a duplicate of #771

[2017-09-13 12:51] fridex commented on #710
The last bit missing here is licensing. Was it checked? It should be CC based on [license.txt](https://ia800500.us.archive.org/22/items/stackexchange/license.txt) file so we should be fine.

[2017-09-13 12:59] sara-02 opened #806 "Improve recommendations for alternate packages based on the given requirements."
Criteria:
Alternatives packages would need to be recommended in these scenarios (only):
        (a) If a usage based outlier has been identified
        (b) If an alternative package has less restrictive license

The alternative package(s) getting recommended, would need to be cross checked with
(a) Usage data being present at OLAP store (AWS S3)  which is currently Github Data

Reason (for recomm

[2017-09-13 13:02] sara-02 opened #807 "Improve recommendations for companion packages based on the given requirements."
Criteria
The companion package(s) getting recommended, would need to be cross checked with :
(a) Usage data being present at OLAP store (AWS S3) which is currenlty Github data

Reason (for recommending a companion package) would need to be displayed to user. This would include the extent of the usage of a companion component along with the application components present in the application stack of

[2017-09-13 13:03] corinnekrych commented on #530
fixed

[2017-09-13 13:03] #530 closed

[2017-09-13 13:03] fridex opened #808 "[2?] Gather free text present at nuget.org project description page and collect keywords present"
# Description

As README files are not strictly present on GitHub for each project (moreover we do not have GitHub URL for each project as it is optional), it would be good to gather as much as possible free text sources and do keywords extraction on them using existing data mining algorithm implemented in tagger.

One of candidates for nuget ecosystem is nuget's.org project description page - see

[2017-09-13 13:04] sara-02 commented on #807
PR that care of the criteria: https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/46

[2017-09-13 13:04] sara-02 commented on #806
PR that care of the criteria: fabric8-analytics/fabric8-analytics-stack-analysis#46

[2017-09-13 13:07] fridex commented on #808
Similar to https://github.com/openshiftio/openshift.io/issues/728 and https://github.com/openshiftio/openshift.io/issues/727

[2017-09-13 13:10] joshuawilson opened #809 "UI module build failures"
PR's are not being built, example: https://github.com/fabric8-ui/fabric8-planner/pull/2143

[2017-09-13 13:10] fridex opened #810 "[2?] Gather tags from nuget.org"
# Description

In order to tag Nuget projects, we would like to gather tags from [nuget.org](https://nuget.org). Unfortunately, it looks like nuget.org repository has no API so this gathering needs to be probably done directly on HTML by scraping tags (please check this before starting working on this). Collector should gather all tags present in ecosystem to this date.

It would be also good to p

[2017-09-13 13:11] joshuawilson commented on #809
cc: @rawlingsj @michaelkleinhenz @nimishamukherjee

[2017-09-13 13:11] fridex commented on #810
Similar to https://github.com/openshiftio/openshift.io/issues/712, https://github.com/openshiftio/openshift.io/issues/710 and https://github.com/openshiftio/openshift.io/issues/725.

[2017-09-13 13:16] fridex commented on #712
@pkajaba added sleeping between requests in https://github.com/fabric8-analytics/fabric8-analytics-tagger/pull/42 to avoid ban. Gathering will be considerably slower.

[2017-09-13 13:27] SaketJNU opened #811 "Extract version information also during a manifest data collect"
## Description
The api  mentioned at swagger **/jobs/aggregate-github-manifest-pkgs** is useful to collects the manifest files from github with certain criteria. Currently, it is collecting only package-names not version level information. Version level information is useful to run tagger to collect tags from various other data-sources like readme, description, stackoverflow etc.

### Acceptance C

[2017-09-13 13:43] l0rd commented on #798
@bmicklea I've just verified that this is fixed on OSIO. Let me know if we can close it.

[2017-09-13 13:44] fridex commented on #811
Could you please elaborate on this? I think this is already done as we call dependency snapshot after retrieving package list - see `dependency_snapshot.json` in prod-bayesian-github-manifest-metadata bucket.

[2017-09-13 13:46] gastaldi commented on #441
Why is this issue assigned to me? I thought @rawlingsj was going to provide the PR for the osio branch?

[2017-09-13 13:51] SaketJNU commented on #811
Yes, it is there, I am asking abut few line changes in manifest aggregate function so that we can extract version information also during manifest.json creation, so that one more list as per tagger requirement need to stored in S3 bucket. I have identified the place some work has been done and will raise a PR for this. Hopefully that PR will make things more clear.

[2017-09-13 13:53] fridex commented on #811
OK, will wait.

[2017-09-13 14:01] jstrachan commented on #809
what PR is #809 and where does it live?

[2017-09-13 14:02] maxandersen commented on #809
sorry, bad copy/paste - updated it to https://github.com/fabric8-ui/fabric8-planner/pull/2143 and @rawlingsj said he was looking at it. Assigned it to you (@jstrachan) by mistake - sorry :)

[2017-09-13 14:10] fridex opened #812 "[3] Introduce priority workers"
# Description

Introduce one new worker type - "priority workers" which would be used for manual interaction with the system if there is a need (e.g. run a certain task, trigger rerun of some tasks, ingestion of new ecosystem).

This worker type will be used in parallel to API workers (SLA on API side) and in parallel to ingestion workers that will be used for periodic jobs triggered by Jobs servi

[2017-09-13 14:54] benoitf commented on #496
@l0rd I've created PR

[2017-09-13 15:19] ldimaggi opened #813 "User can retrieve contradictory messages after space creation"
I just saw a situation where space creation failed due to a (still unresolved) 401 permissions error on github.

The following two messages were displayed:

![screenshot 48](https://user-images.githubusercontent.com/642621/30385462-4450cb58-9875-11e7-8c8a-df02b4e92a48.png)

If there is an error, the success message should not be displayed.

[2017-09-13 15:45] ldimaggi commented on #798
Looks OK - Brad, is this working for you?

![screenshot 51](https://user-images.githubusercontent.com/642621/30386870-f06f15d6-9878-11e7-988d-c5cac8350731.png)

[2017-09-13 15:53] alexeykazakov commented on #799
No, https://github.com/openshiftio/openshift.io/issues/737 is not the same issue. 737 is about redirecting back to the original page after successful login.
And this issue is about not being able to login at all.

[2017-09-13 16:37] jyasveer opened #814 "Bug: Error while calling stack analyses from a github url"
This is the call that i tried to trigger :
[code]

And this is the error which is seen in the bayesian api production logs:
[code]

[2017-09-13 16:38] bmicklea commented on #798
Strangely it's still not working for me on 2.0.18 - is that what you had @ldimaggi?

[2017-09-13 17:23] joshuawilson commented on #799
We just deployed a new Landing Page. Can you please try again and verify.

[2017-09-13 17:25] joshuawilson commented on #813
@dgutride when you have time, please take a look at this.

[2017-09-13 17:26] rafabene commented on #594
Now the message is a little bit different: "Could not start workspace myspringboot-gjzcu. Reason: Start of environment 'default' failed. Error: Timeout. The Che server is unable to ping your workspace. This implies a network configuration issue, workspace boot failure, or an unusually slow workspace boot."

[2017-09-13 17:57] ldimaggi opened #816 "New analytic report treats the entire browser as a model display - scrolls the browser, not the report"
See attached screenshot - a better presentation would be to scroll within the report.

![screenshot from 2017-09-13 13-51-29](https://user-images.githubusercontent.com/642621/30392666-7bf538b2-988b-11e7-82ad-d7c28f823593.png)

[2017-09-13 18:05] joshuawilson commented on #388
@ibuziuk did you ever implement the api for deleting a workspace?
@aslakknutsen do we have an api to remove the codebase from the space, not from github?

[2017-09-13 18:09] ldimaggi opened #817 "Viewing the new analytic report can be disorienting"
Viewing the new analytic report can be disorienting as the information in columns and rows "pops up" - see screencast:

https://www.dropbox.com/s/72f3x6wa3s54m7s/report_display.webm?dl=0

Can we add a mode where the information must be explicitly expanded or compressed?

[2017-09-13 18:16] joshuawilson commented on #388
@catrobson do we have designs for the codebases page, I can't find them? Do they take into consideration the changes that @bmicklea suggested.

[2017-09-13 18:18] joshuawilson commented on #817
This is very hard to look at.

[2017-09-13 18:19] ibuziuk commented on #388
@joshuawilson API for deleting workspace by name - http://che-starter-dsaas-preview.b6ff.rh-idev.openshiftapps.com/swagger-ui.html#!/workspace-controller/deleteExistingWorkspaceUsingDELETE

[2017-09-13 18:21] joshuawilson commented on #388
Great! Thanks @ibuziuk!

@ashumilova is this enough for you to start with? Let me know if you are missing something or get stuck.

[2017-09-13 18:36] maxandersen commented on #441
sorry - I understood from @rawlingsj he had opened te PR.. @rawlingsj did I hear it wrong today ?

[2017-09-13 18:38] joshuawilson commented on #400
Closing this as it is not an option for OSIO right now.

[2017-09-13 18:38] #400 closed

[2017-09-13 18:41] joshuawilson commented on #805
cc @michaelkleinhenz

[2017-09-13 18:44] catrobson commented on #388
We're still going through design reviews, but here's the screens that we currently have for codebases and workspaces:
https://redhat.invisionapp.com/share/U2D95C1EC

The new designs probably do change the story for this.

[2017-09-13 18:46] joshuawilson commented on #804
Hover is not Mobile friendly. We should do very little hover.

[2017-09-13 18:46] joshuawilson commented on #804
cc @michaelkleinhenz

[2017-09-13 18:48] joshuawilson commented on #388
We may want to fix it so that we can remove workspaces and then fill in the new UI as time allows.

[2017-09-13 18:54] ldimaggi commented on #798
Yes - 2.0.18 - just tried again and it was able to open the workspace.

[2017-09-13 18:55] joshuawilson commented on #802
@RanjithRV does a hard refresh clear it?

[2017-09-13 19:00] catrobson commented on #388
@joshuawilson +1 to do an incremental fix to remove workspaces before we move over to the new UI

[2017-09-13 19:15] ldimaggi commented on #788
Hmm - just saw this error again - when the test account in use only had ~20 github repos - retrying...

[2017-09-13 19:57] bmicklea commented on #798
It's working now, closing.

[2017-09-13 19:57] #798 closed

[2017-09-13 20:13] rawlingsj commented on #441
@maxandersen as I said on the call this is waiting for the spring boot quickstart release as per the last comment I added to this issue https://github.com/openshiftio/openshift.io/issues/441#issuecomment-328490645

I said it's not for @gastaldi but for the person that looks after the spring boot quickstarts I don't know who that is and nobody is replying to that issue so not sure it's being mainta

[2017-09-13 20:28] ibuziuk commented on #388
@joshuawilson this API is available on from che-starter side though, wit does not have endpoint for it AFAIK

[2017-09-13 20:43] gastaldi commented on #441
You need the Snowdrop team (Charles Moulliard, Gytis, etc). Ping them in
the obsidian-toaster.slack.com, #2-springboot channel

Best Regards,

George Gastaldi

Principal Software Engineer

Red Hat <https://www.redhat.com>

Remote

Joinville - Santa Catarina

ggastald@redhat.com    M: +55-47-99711-1000
<https://red.ht/sig>
TRIED. TESTED. TRUSTED. <https://redhat.com/trusted>
@redhatnews <https://tw

[2017-09-14 03:11] miteshvp commented on #748
@sara-02 thanks. I have added the link in the description now.

[2017-09-14 03:11] miteshvp commented on #748
@harjinder-hari maybe, you may want to improve the description with more details https://github.com/openshiftio/openshift.io/issues/771

[2017-09-14 03:17] miteshvp commented on #811
@fridex intent here is to collect manifest_lists with Package names which will be an input for PGM. Similarly Saket will also create a list based on your inputs that can be fed to tagger. I hope it clears your doubt.

[2017-09-14 03:26] joshuawilson commented on #809
@rawlingsj this PRs are failing for me and I don't know why.
https://github.com/fabric8-ui/ngx-login-client/pull/63

[2017-09-14 04:50] miteshvp commented on #726
@fridex - For python ecosystem there are two tasks that sounds similar. Is Project description different from Gather free text present at PyPI project description page and collect keywords present #727. Same for other ecosystems as well.

[2017-09-14 05:12] fridex commented on #726
Yes, it's different. By PyPI description page I mean pages such as [this one](https://pypi.python.org/pypi/celery/) that state a brief overview for projects. By description I mean short project description that is present in releases - e.g. [setup.py](https://github.com/celery/celery/blob/master/setup.py#L207). The same applies for other ecosystems,

[2017-09-14 05:34] fridex commented on #811
I'm not sure here (I think we are already collecting this list in the stated endpoint), but OK - I will leave this work on you.

[2017-09-14 06:48] SaketJNU commented on #811
Created a PR for as an action item.  https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/163

[2017-09-14 08:23] rawlingsj commented on #809
Did you look at the CI build log that is linked to the failure of the issue you referenced?  Click the 'Details' link to the right of the red cross
<img width="715" alt="screenshot 2017-09-14 09 21 10" src="https://user-images.githubusercontent.com/1457180/30419403-1a8083e0-992e-11e7-9226-673b291b7bba.png">

That takes you to the log which explains why it is failing:

[code]

[2017-09-14 08:45] pkajaba commented on #710
You are right, it's CC. I tried to reach @GeorgeActon to verify whether it's really OK. I am waiting for his response.

[2017-09-14 09:08] slemeur opened #818 "Broken landing page of openshift.io"
The current state of the landing page on openshift.io is not rendering properly its image.

As a consequence, the layout is broken and user has to scroll (vertically, horizontally) in the page.

See attached gif.
![openshift-homepage](https://user-images.githubusercontent.com/1636769/30421411-f9ee90a4-993c-11e7-90f5-e986fb841e7e.gif)

[2017-09-14 09:24] fridex commented on #636
This is not required to do explicitly. The resulting S3 bucket with results (prod-keywords-summary) states origin of keywords/tags so there is no need to check README files (the same applies for other tag sources).

[2017-09-14 10:00] aslakknutsen commented on #388
@joshuawilson @ibuziuk It's easy enough to expose DELETE on the wit side and proxy it as we do with the others.

[2017-09-14 10:12] SaketJNU commented on #780
A subtask is https://github.com/openshiftio/openshift.io/issues/811

[2017-09-14 10:12] SaketJNU commented on #781
Improvement is https://github.com/openshiftio/openshift.io/issues/811

[2017-09-14 10:14] SaketJNU commented on #811
Subtask figured out from https://github.com/openshiftio/openshift.io/issues/780 and https://github.com/openshiftio/openshift.io/issues/781

[2017-09-14 10:42] #376 closed

[2017-09-14 10:43] GeorgeActon commented on #376
Tested multiple times. So we are closing this issue. If you encounter it again, re-open the issue

[2017-09-14 10:44] GeorgeActon commented on #210
tested multiple times so am closing this issue. If you encounter it again, please re-open.

[2017-09-14 10:44] #210 closed

[2017-09-14 10:54] invincibleJai commented on #701
Documentation for workflow : https://docs.google.com/a/redhat.com/presentation/d/1MUEh9cOiDpMdQoiJW_ptbwjhF1SRmWm1y66MCAC4o8Q/edit?usp=sharing

[2017-09-14 10:59] invincibleJai commented on #614
Documentation for workflow : https://docs.google.com/a/redhat.com/presentation/d/1MUEh9cOiDpMdQoiJW_ptbwjhF1SRmWm1y66MCAC4o8Q/edit?usp=sharing

[2017-09-14 11:26] ldimaggi commented on #798
Automated test to verify that each quickstart can open its Che workspace:
https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-openshift.io-chequickstartTest/

[2017-09-14 11:37] ldimaggi commented on #818
I noticed this yesterday - a hard reload (contro/shift/r) in the browser resolved it. Guessing it was due to the new UI being partially loaded in the browser?

![screenshot from 2017-09-14 07-36-48](https://user-images.githubusercontent.com/642621/30427872-7ed77272-991f-11e7-8ce7-76d782348984.png)

[2017-09-14 12:04] l0rd commented on #798
@ldimaggi that is great!
I have a couple of questions:
- I really think that this test should be run before deploying any a new version of Che. Does it makes sense to add it as a final step of our rh-che build, just before promoting the build to prod?
- Is the source code and instruction to run this somewhere? It would be nice if we could run it locally to test our commits before pushing to github

[2017-09-14 12:27] #362 closed

[2017-09-14 12:28] michaelkleinhenz commented on #362
Obsoleted by story #325.

[2017-09-14 12:37] michaelkleinhenz commented on #804
I vote for always having text in addition to the icon. Since the very beginning it was very confusing for me to only have the icon there. I think Konrad did a renegade PR against the recommendations from UX to add the label to the quick preview :-)

[2017-09-14 12:54] RanjithRV commented on #802
Didn't try hard refresh, will try it out next time

RANJITH VARAKANTAM

PRINCIPAL AGILE COACH, ICP-ACC, CSP, PMP

Red Hat India Pvt. Ltd. <https://www.redhat.com/>

rvarakan@redhat.com    M: 7032511191
<https://red.ht/sig>

On Wed, Sep 13, 2017 at 11:55 AM, Joshua Wilson <notifications@github.com>
wrote:

[2017-09-14 13:02] joshuawilson commented on #818
This is a cache issue.
Closing as refresh fixes it.

[2017-09-14 13:02] #818 closed

[2017-09-14 13:17] joshuawilson commented on #388
@michaelkleinhenz can we get one of your devs to do this please?

[2017-09-14 13:21] joshuawilson commented on #809
@rawlingsj I missed that, thanks. I'll look into it.

[2017-09-14 13:23] gorkem commented on #388
@aslakknutsen probably easy but what is the long term goal? proxy all che workspace mgmt calls through wit? I am not sure about the value of doing that after the multi-tenant Che.

[2017-09-14 14:33] muruGanesan commented on #816
I will look at this and fix

[2017-09-14 14:35] muruGanesan commented on #817
I will look at this issue and fix

[2017-09-14 14:39] #671 closed

[2017-09-14 14:40] ldimaggi commented on #798
Hey Brad:
* The tests are here: and can be run locally - https://github.com/fabric8io/fabric8-test/tree/master/ee_tests
* James S. is already running related tests in his build process - anyone else can do this too.

[2017-09-14 15:55] ldimaggi commented on #325
Can you add an explanation of the term "extra parent?"
_'...Matching entries and their children (but not the "extra parents") are explorable (they can be expanded) and show all childrens regardless of applied criteria. The shown parents are not expandable and are only for informational purposes to provide a context...'_

[2017-09-14 15:59] ldimaggi commented on #325
Do we want to reconsider this restriction:
_'... The shown parents are not expandable and are only for informational purposes to provide a context...'_

Isn't it reasonable for a user to be able to traverse the ancestry of a workitem to its root?

[2017-09-14 16:00] ldimaggi commented on #325
Just ton confirm - the user cannot delete a woritem's parent?
_'...The user can delete a Work Item from an entry...'_

[2017-09-14 16:01] ldimaggi commented on #325
Is this a typo? Are these statements intended to refer to the parent, or the extra parents?
_The user can open the quick preview from the extra parent.
The user can open the detail view from the extra parent._

[2017-09-14 16:04] ldimaggi commented on #325
When will we support sorting? Is this tracked in a different issue?
_Entries are sorted by order-of-execution by default, but only in the context of the expansion level. For example, all items on root level are sorted, then all childrens of an entry are sorted locally only._

[2017-09-14 16:43] rafabene commented on #441
Following as this impact the workshop time....

[2017-09-14 17:49] alexeykazakov commented on #818
We really need to address the cache issues. Users hit that all the time.

[2017-09-14 17:52] alexeykazakov opened #819 "Users have to hard refresh browser from time to time"
We really need to address the cache issues. Users hit that pretty often.
The last example - https://github.com/openshiftio/openshift.io/issues/818

[2017-09-14 18:46] joshuawilson commented on #819
@mindreeper2420 if you do make any progress in your caching research please post it here.

[2017-09-14 19:57] ldimaggi commented on #501
This issue still show up now and then - although less often - saw it 3-4 times today.

[2017-09-14 20:00] ldimaggi opened #820 "After Che workspace fails to start - deployments.extensions already exists"
Steps to recreate:
* Create a new project, attempt to create a new workspace
* If this error occurs - https://github.com/openshiftio/openshift.io/issues/501

The user is presented with this error message:
[code]

At this point, if the user attempts to start the workspace from the Che dashboard, this error is raised:

[code]

[2017-09-14 20:01] ldimaggi commented on #820
In order to resolve this problem, the user must delete the workspace through the Che dashboard, and then create a new workspace from the OSIO codespace page.

[2017-09-14 20:02] ldimaggi commented on #820
[che_log_sept14.txt](https://github.com/openshiftio/openshift.io/files/1304390/che_log_sept14.txt)

[2017-09-15 07:48] michaelkleinhenz commented on #388
@joshuawilson Please create a story on the Planner backlog for it.

[2017-09-15 07:52] ibuziuk commented on #820
Ok, so this issue is a side effect of https://github.com/openshiftio/openshift.io/issues/501, right ?

[2017-09-15 07:56] aslakknutsen opened #821 "Landing page causing security warning: overpass.css"
The following resources are attempted loaded over http on a https site causing them to be blocked with security warning in Chrome:

http://overpass-30e2.kxcdn.com/overpass.css
http://overpass-30e2.kxcdn.com/overpass-mono.css

Loaded from somewhere on:
https://openshift.io/

[2017-09-15 08:26] aslakknutsen opened #822 "Landing page cuts text when scaled"
![screenshot from 2017-09-15 09-50-38](https://user-images.githubusercontent.com/132158/30473331-5f8bd34a-9a00-11e7-9bc4-d5a68cd1304c.png)

[2017-09-15 10:14] #644 closed

[2017-09-15 10:15] arunkumars08 commented on #743
@samuzzal-choudhury This issue can be closed if verified once.

[2017-09-15 10:16] arunkumars08 commented on #624
@invincibleJai If you could verify by checking in the IDE, this issue can be closed.

[2017-09-15 10:40] SaketJNU commented on #811
The PR has been merged so we can close this issue.

[2017-09-15 10:54] aslakknutsen commented on #813
@ldimaggi At what point in the wizard did you get this? And why does it have anything to do with GitHub

It looks like what happens when you press the "create space" button twice. The first request is ok, but the second fail with duplicate space name. This comes back to our UI buttons behaving strangely. @catrobson

[2017-09-15 10:55] jyasveer commented on #753
Implemented

[2017-09-15 10:55] #753 closed

[2017-09-15 10:58] mindreeper2420 commented on #821
I've pushed a PR to fix this. The CDN from Overpass.org is using http, so I've switched it over to use Google Fonts.

[2017-09-15 10:59] jyasveer commented on #796
Above issue is fixed now

[2017-09-15 11:03] aslakknutsen commented on #777
The commit seems to have this info on it:

git@github.com:burrzinga/thenewapi.git
[code]

[2017-09-15 11:04] jyasveer commented on #796
PRs for this task
- https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui/pull/14
- https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui/pull/16
- https://github.com/almighty/almighty-jobs/pull/303
- https://github.com/openshiftio/saas-analytics/pull/97

[2017-09-15 11:05] aslakknutsen commented on #777
A little bit confused to why GH would think that is p-meier.

[2017-09-15 12:29] ldimaggi commented on #820
Yes - that is correct!

[2017-09-15 12:49] ldimaggi commented on #820
One more instance of this issue:

![screenshot from 2017-09-15 08-38-56](https://user-images.githubusercontent.com/642621/30482875-c37fade4-99f2-11e7-9964-4403d25601fd.png)

[che-2-lzz79_log.txt](https://github.com/openshiftio/openshift.io/files/1306384/che-2-lzz79_log.txt)

[2017-09-15 13:30] catrobson commented on #797
@dlabrecq - If you follow the steps here it looks like the second codebase added should be added to the new space [which the user creates through the main menu], not the old space.  I think that is the primary issue of this, and navigating to the new space upon creation is a secondary problem.

The Forge wizard might be not accurately adding the new codebase to the new space - @corinnekrych can yo

[2017-09-15 13:55] dlabrecq commented on #797
Yes, the API is returning the correct codebases for the given space.

Please keep in mind that codebases and planner are shown in the content of a given space. To work with a different space, the user must navigate to that space.

The underlying problem is that the user is still in the same space after the Forge wizard creates a new one.

Note that planner encounters the same issue. You can create

[2017-09-15 13:58] dlabrecq commented on #797
The Forge wizard provides a "take me to the dashboard" button, but users don't have to navigate away from the current space.

[2017-09-15 14:20] ldimaggi opened #824 "Intermittent/recurring error - OSIO fails to create Che workspace due to 500 error from keycloak when trying to obtain OSO token"
Started seeing this error frequently today - steps to recreate:
* Reset user environment
* Create new space
* Create new quickstart project
* Attempt to create new code base

User is presented with this error:

![screenshot from 2017-09-15 10-19-13](https://user-images.githubusercontent.com/642621/30486708-5bac6dbc-99ff-11e7-9c88-300c354da6b2.png)

Che pod log (see attached) reports this error:
[c

[2017-09-15 14:34] rafabene opened #825 "Wizard had an error during Workshop"
During the workshop the new quickstart wizard gave the following error:

"ExecuteForgeCommandErrorThe forge-quick-start :: next :: 3 command failed or only partially succeededmessageAn issue occurs with Forge backend. Please check the service is running."

[2017-09-15 14:35] burrsutter opened #826 "Group ID does not get properly generated into my project"
Group ID is a prompt in the Forge Wizard, yet making a change to this field does not actually "stick" and show up in the generated codebase.

https://screencast.com/t/uNK6tv3rn

https://screencast.com/t/I0qwY7EE1Jt

Why is this the case?  We are currently copying a pre-defined template and not using a Maven archetype, however, we could "search & replace" the original Maven package name and replace

[2017-09-15 14:42] joshuawilson commented on #826
@corinnekrych @jstrachan do you know what is happening here?

[2017-09-15 14:44] ibuziuk commented on #824
`Failed access: https://sso.openshift.io/auth/realms/fabric8/broker/openshift-v3/token?token  method: GET, response code: 500`
@alexeykazakov looks like keycloak problem ?

[2017-09-15 14:48] corinnekrych commented on #826
@burrsutter in step3: have you unchecked `override jenkins/pom file` ?

[2017-09-15 15:00] rafabene commented on #825
This happened with at least two people in the workshop

[2017-09-15 15:07] joshuawilson commented on #825
This may be a duplicate or related to #824

[2017-09-15 15:08] ldimaggi commented on #501
Seeing this error repeatedly on Sept 15

[2017-09-15 15:15] rawlingsj commented on #809
Subsequent commits to an open PR will now trigger build jobs again.  Fix in commit above and it's now rolled out to our GKE cluster.

[2017-09-15 15:15] #809 closed

[2017-09-15 15:27] alexeykazakov commented on #824
I don't see any problem with `https://sso.openshift.io/auth/realms/fabric8/broker/openshift-v3/token`
Make sure you pass an access token in this request.
If the token is an empty string it will cause 500.
And btw the correct url is `https://sso.openshift.io/auth/realms/fabric8/broker/openshift-v3/token` not `https://sso.openshift.io/auth/realms/fabric8/broker/openshift-v3/token?token`. But the ext

[2017-09-15 15:34] ldimaggi commented on #666
This is an intermittent problem - but it is being seen repeatedly on Sept 15.

[2017-09-15 15:36] jstrachan commented on #826
I think this could be an issue with the underlying RHOAR forge addon; traditionally fabric8 always used archetypes so you could always specify the group, artifact & version.

Though I think the RHOAR folks moved away from that and prefer to hard code things. If we can be sure we're passing through the custom groupId + artifact ID and they are being ignored by the RHOAR addon we can raise an issue

[2017-09-15 15:36] ibuziuk commented on #824
@alexeykazakov the issue is defined as `Intermittent/recurring`, is it possible to check some logs on keycloak side to figure out what might have happened?

`If the token is an empty string it will cause 500.`
Quite weird status code, I would expect 400

[2017-09-15 15:40] ldimaggi commented on #666
Events file - from 9 min Che start up sequence:

[9min-to-start-Che.pdf](https://github.com/openshiftio/openshift.io/files/1306846/9min-to-start-Che.pdf)

[2017-09-15 15:48] ibuziuk commented on #825
@joshuawilson could you clarify how the wizard issue is related to che ?

[2017-09-15 16:05] ibuziuk commented on #824
Just checker some code in rh-che - `KeycloakUserValidator` has not been changed for a couple of month and it only retrieves oso token based on keycloak one. So, I am pretty sure the problem is not on che side

[2017-09-15 16:06] joshuawilson commented on #825
@ibuziuk I got confused while in the middle of the workshop and thought this was a different issue. I'll clean it up.

[2017-09-15 16:07] ibuziuk commented on #825
@joshuawilson thanks for clarifaications ;-)

[2017-09-15 16:21] ldimaggi commented on #666
Is this an OpenShift issue?:

"Failed to attach volume. Volume is currently attached to an instance" issue. hat happens when we rollout a new instance of Che. OpenShift stops Che #1 first and detach all its PV. But apparently that takes a lot of time. So when Che #2 is started OpenShift fails to attach it to a persistent volume.

[2017-09-15 16:25] l0rd commented on #666
I'm trying to understand if this issue is really related to Che or not. To figure that out let me create a dumb deployment config yaml file with a couple of PVC and try to: start/idle/rollout.

@ldimaggi by the way if we agree that this issue is not related to the memory I think we should rename it with "Failed to attach Che volume because already attached to an instance".

[2017-09-15 16:55] dlabrecq commented on #797
Ok, I've found the culprit in the Forge wizard.

The Forge wizard is broadcasting a 'codebaseAdded' event, which adds the newly created codebase to the page. See:

./space/wizard/services/fabric8-app-generator.client.ts: this._broadcaster.broadcast('codebaseAdded', codebase);

This particular event was added specifically for the 'Add Codebase' functionality in the codebases page. That is, the slid

[2017-09-15 17:08] joshuawilson commented on #822
@mindreeper2420 do you have time to fix this?

[2017-09-15 17:11] joshuawilson commented on #388
@gorkem and @aslakknutsen what do you want to do?

@michaelkleinhenz Isn't the Planner backlog for planner issues/user-stories?

[2017-09-15 17:23] rafabene commented on #826
I've seen this issue before, but as the name states it the GroupId, I'm not sure if we expect that the package name should be changed also.

[2017-09-15 17:32] alexeykazakov commented on #824
I would expect 400 too :)

[2017-09-15 18:17] ibuziuk commented on #824
Was not able to reproduce. Double checked cm value set by init tenant script - all looks good:
![image](https://user-images.githubusercontent.com/1461122/30496904-2af64d08-9a51-11e7-9cb4-a500db14ca3d.png)
@ldimaggi look like it is coupled with some  keycloak outage

When workspace is failing to start with this problem could you please paste js logs. Maybe there would be also some keycloak related

[2017-09-15 18:33] bmicklea commented on #797
If a user creates a new space they will want to move to that new space
immediately in >90% of the cases. So that should be our default path - are
there technical challenges to doing this?

[2017-09-15 18:48] catrobson commented on #797
@bmicklea I would expect it to bring them to the dashboard for that space.  Do you agree?  I think this is not happening because we just recently put in some code to make it so that if you are creating a new project or importing code from within the same space, it doesn't navigate you back to the dashboard in those cases (and remove the user from their current context).

Due to the way that the Fo

[2017-09-15 19:06] ldimaggi commented on #824
[che_log.txt](https://github.com/openshiftio/openshift.io/files/1307515/che_log.txt)

[2017-09-15 19:13] mindreeper2420 commented on #822
@joshuawilson sure - I'll take a look.

@aslakknutsen what browser+version are you using?

[2017-09-15 19:26] dgutride commented on #797
@bmicklea - we should be able to update the wizard to handle being smarter about whether or not they were started in response to existing space configuration or space creation.  A change was made recently to not lose the space context if the user opened the wizard which likely resulted in what you are seeing for the user not being redirected.

[2017-09-15 19:29] ldimaggi opened #827 "Intermittent issue - Che workspace creation fails in OSIO - Exception while obtaining OSO token"
This issue has occurred in the past and is being seen today - is there a KeyCloak outage/issue?

[code]

[che2log.txt](https://github.com/openshiftio/openshift.io/files/1307560/che2log.txt)

![screenshot from 2017-09-15 15-22-11](https://user-images.githubusercontent.com/642621/30499994-98f1c66a-9a2a-11e7-8685-a33311fd1e19.png)

[2017-09-15 20:09] bmicklea commented on #797
@dgutride thanks for the clarifications.

@catrobson agree on the two scenarios and behaviors of each, let's make sure @qodfathr does too.

[2017-09-15 23:14] #822 closed

[2017-09-15 23:25] alexeykazakov commented on #827
It can be anything.. Keycloak problem or something wrong with the token passed by Che.

[2017-09-15 23:52] #821 closed

[2017-09-16 03:21] joshuawilson commented on #797
@catrobson what @dgutride said is right.

[2017-09-16 06:48] ibuziuk commented on #827
If the problem was on Che side the issue would be persisted and not Intermittent IMO

[2017-09-16 07:24] alexeykazakov commented on #827
How does Che get the token?

[2017-09-16 14:56] jstrachan commented on #826
I upgraded to the latest launchpad-addon and we now properly default the `artifactId` from the project name and changing the groupId & version do result in `groupId + artifactId + version` being updated in the generated `pom.xml`.

Fixes now released into prod - @burrsutter could you check its now fixed?

[2017-09-16 21:22] alexeykazakov commented on #827
No, I mean how do you get the Keycloak token? This error also returned if Keycloak session used to get the KC token has been closed. For example if you logout from OSIO/KC. Closing session invalidates the token. I ran the OSO token endpoint test a few hundred times. All passed. So, this endpoint seems to be stable, at least right now.

@ldimaggi do you reproduce it manually or it's some automated

[2017-09-17 22:55] ldimaggi commented on #827
The problem is beeing seen both with manual and automated tests - in production. Thx!

[2017-09-17 22:57] ldimaggi commented on #597
This issue has not been seen for weeks - closing.

[2017-09-17 22:57] #597 closed

[2017-09-18 02:54] ldimaggi commented on #813
In this case, I did not click on 'create space' twice - the problem seems to be intermittent. I have see it only a couple of times in the past week. Is there a way to make the popups behave in a more modal way so that only one of them (pass or fail, but not both) appears at one time?

[2017-09-18 06:35] corinnekrych commented on #797
@catrobsonI think @dlabrecq found the problem, it's a notification issue. with my OSIO account the codebase broadcast never works (wierd) therefore the codebase widget never get updated with the repo but if i go to codebase tab I can see the newly created repo. I can not reproduce the issue describe in this ticket. For me, the repo are created on the relevant space. @dlabrecq are you suggesting we

[2017-09-18 06:35] corinnekrych commented on #797
@dgutride @catrobson which recent change are you referring to? link to PR will help

[2017-09-18 07:02] corinnekrych commented on #813
I've reproduced the issue as suggested by @aslakknutsen by clicking several times on the create button:
![screenshot 2017-09-18 08 49 14](https://user-images.githubusercontent.com/1395710/30531406-680009ba-9c4e-11e7-960d-2e31a03cde83.png)
See newly created issue: https://github.com/fabric8-ui/fabric8-ui/issues/2005
I don't know about the intermittent issue @ldimaggi but let's start fixing the repr

[2017-09-18 07:36] ibuziuk commented on #827
Hmm.. but I thought that tokens are not expired once the session is invalidated (as I recall KC token invalidation was time based, and the token were invalidated after 1 month)
@davidfestal could you please clarify how we obtain keycloak token in rh-che (I think it is managed by tomcat valve)

[2017-09-18 07:36] samuzzal-choudhury commented on #562
This could not be reproduced after many attempts. @krishnapaparaju could you please retry on your tenant and close this issue if that's not applicable any more?

FYI - I reset my tenant before trying that.

[2017-09-18 07:42] benoitf commented on #496
images for vertx/springboot with M2 dependencies are now available on openshift.io so we don't "download internet" anymore for the quickstart examples.
issue could be closed.

[2017-09-18 08:19] fridex opened #829 "[EPIC] Run linters on Python code"
# Description

As Python is a dynamic programming scripting language with dynamic typing, some programming errors are not easy to catch in any other way except by running directly code. To cover at least some errors that can be issued it would be nice to set up linters that can find and report some errors that we can prevent from before pushing code to production. Linters also help with code quali

[2017-09-18 08:33] fridex opened #830 "Configure automated error reporting to track issues automatically"
# Description

Currently all errors are visible in OpenShift logs and subsequently sent to configured ELK stack where they are easily browsable besides info messages to help devs track errors. Catching errors in Kibana is not that straightforward as it requires developer's time to check log for errors and explicitly query for errors that occurred in the cluster. Instead, we could set up monitoring

[2017-09-18 08:57] rhopp opened #831 "Forge wizard is broken (no quickstarts available)"
How to reproudce?
Select "Create a new Quickstart project" when creating new space (or clicking "Add to space", when space is already created), click "Next". Now you should be able to select quickstart, but the combo box is empty and user is not able to proceed further.
Reproducible allways? Yes.

![image](https://user-images.githubusercontent.com/1215011/30534744-d3054d90-9c5f-11e7-872b-be4599361

[2017-09-18 08:59] rhopp commented on #831
I've tried it with clean (reset) environment and @ljelinkova with fresh account (first time user)

[2017-09-18 09:08] jstrachan commented on #831
this was a regression caused by changes in the underlying RHOAR launchpad-addon. Now resolved in production

[2017-09-18 09:08] #831 closed

[2017-09-18 09:11] fridex commented on #812
This should be done.

[2017-09-18 09:15] invincibleJai commented on #624
@arunkumars08 can see a loader icon on page load.

Closing it if you feel otherwise feel free to reopen.

[2017-09-18 09:15] #624 closed

[2017-09-18 09:19] fridex commented on #670
I've scheduled a batch that takes care of refreshing github data for components that were ingested before summit (it will take some time) based on @jpopelka query. The batch should sync results to graph database. For components that were ingested after summit, we should have data already refreshed and synced to graph (triggered by periodic job). This will be done periodically every 2 weeks based o

[2017-09-18 09:20] fridex commented on #681
Fixes addressed by @jpopelka. Can we close it now?

[2017-09-18 09:23] fridex commented on #686
I think we should be fine to run gofed with Python 2 as we did previously. No need to port it to Python3 for now.

[2017-09-18 10:01] michaelkleinhenz commented on #388
Is there a story already that can be estimated and planned?

[2017-09-18 10:22] l0rd commented on #666
I've been able to reproduce the PV error using image `openshift/hello-openshift` (instead of Che):

[code]

The error doesn't happen systematically. I'm writing a simple script that continuously create/delete deployment config with one pod and 2 PVC and logs when there are some volumes errors. I will let it run for one hour and will share results here.

[2017-09-18 10:24] michaelkleinhenz commented on #325
Removed
- [ ] The user can open the quick preview from the extra parent.
- [ ] The user can open the detail view from the extra parent.
based on discussions with UX, will be re-added later.

[2017-09-18 10:26] michaelkleinhenz commented on #325
@ldimaggi sorting is not yet in the context as this can get very complex. Also, exploring the parents would open up a pandoras box of all sorts of problems. I think it is better to keep the user focussed on what he actually has queried. I'd think a better way would be do do something like an hierarchy view of a WI as part of the detail view at some point that shows the whole tree of the particular

[2017-09-18 10:27] michaelkleinhenz commented on #325
Changed story text, made the extra parent term explicit @ldimaggi

[2017-09-18 10:39] invincibleJai commented on #704
stack-analysis is being triggered as part of integration test while we trigger commands for "run full stack-analysis" or on individual manifest file

Specifically it can be covered as unit test cases

[2017-09-18 10:40] #811 closed

[2017-09-18 10:43] #806 closed

[2017-09-18 10:47] ljelinkova-openshift-io opened #832 "Wrong committer of initial import of quickstart"
I tried openshift.io for the first time today. The quickstart generated the code and pushed it to my Git repository. Only that the commiter is not me (ljelinkova-openshift-io) but some other user (p-meier). Is this intended? Because when my colleague tried the same thing he was correctly mentioned as commiter.

https://github.com/ljelinkova-openshift-io/myfirstspace
https://github.com/rhopp/asdfad

[2017-09-18 10:53] rawlingsj commented on #832
closing as a duplicate of https://github.com/openshiftio/openshift.io/issues/777

[2017-09-18 10:53] #832 closed

[2017-09-18 10:56] rawlingsj commented on #762
Fixed by this commit and is now available in prod https://github.com/fabric8io/jenkins-sync-plugin/commit/489a3e97fe1d71cda37c880e9eb25f2353070ab3

[2017-09-18 10:56] #762 closed

[2017-09-18 11:23] tuxdna commented on #686
Add a couple more issues to gofedlib and a PR.

[2017-09-18 11:31] fridex commented on #686
Let's incorporate golang support to our core workers using Python2 for now (gofed is just one piece in metadata task). Any code related fixes in gofed are not part of this card and could be reported&fixed later.

[2017-09-18 12:14] tuxdna commented on #686
@fridex  Porting not porting `gofedlib` to Python3 is out of scope of the discussion for this issue.

Can you please make a release? - https://github.com/gofed/gofedlib/issues/20

[2017-09-18 12:22] davidfestal commented on #827
No currently on `rh-che`, the valve or tomcat adapter are *only used for checking the received token*.
The token is retrieved/refreshed *from the client-side* (either the dashboard of the GWT application).
And, afair, each time a request comes from the GWT application to the wsmaster with the Keycloak token, the token value is updated in a cache and available for OSO token retrieval.

In the speci

[2017-09-18 12:23] fridex commented on #686
I think it worth to discuss as it will require significant engineering time to accomplish and we are not dependent on this work. It's a third party library we are using and we can still invoke it using python 2 interpreter (we did the same for example for brewutils) and we already did it in the previous go support implementation. There is no need for us to invest engineering time to port this libr

[2017-09-18 12:36] tuxdna commented on #686
`gofedlib` works with Python2 at the moment ( after a few fixes that I made ), which is sufficient to extract dependencies.

[2017-09-18 13:25] dlabrecq commented on #797
Yes, I believe that should be removed. Unless the forge wizard is truly adding a codebase to the current space?

I'm thinking we should also modify the codebases page to reload the entire list whenever the 'codebaseAdded' event is received. It would be less efficient considering we've already retrieved the new codebase from the back-end. However, this would ensure we only display codebases for the

[2017-09-18 13:27] corinnekrych commented on #797
+1 @dlabrecq

[2017-09-18 14:34] samuzzal-choudhury commented on #814
@jyasveer any reason why `github_url` is a file parameter?

[2017-09-18 16:31] samuzzal-choudhury commented on #659
We are dependent on the mercator task for returning resolved versions of the repository. But, that is unable to resolve the version for `click==6.*` currently.

[2017-09-18 17:37] samuzzal-choudhury opened #833 "Server Documentation and Readme corrections."
API server documentation currently does not exist in `fabric8-analytics-server`. The related Readme file changes and broken links are to be corrected as well.

Related Issues:
https://github.com/fabric8-analytics/fabric8-analytics-server/issues/20
https://github.com/fabric8-analytics/fabric8-analytics-server/issues/21

[2017-09-18 17:44] alexeykazakov commented on #827
Killing a session (when user logs out for example) doesn't expire the token. But it does invalidate it. So the token is not valid (and rejected by Keycloak) even if the expiration date is still good.

[2017-09-18 17:51] alexeykazakov commented on #827
@davidfestal this particular issue doesn't seem to be related to the fact that you refresh tokens every 5 minutes instead of every 5 seconds :) The tokens used in OSIO get expired in 30 days after issuing.

[2017-09-18 18:07] ibuziuk commented on #827
@alexeykazakov hmm.. a bit lost in process of how keycloak check if the token is valid or not. So, it uses expiration date +  tracks all the sessions and invalidate token*s* (token refresh happens every 30 seconds or so) issued for particular session when the session is invalidated ?

[2017-09-18 18:07] #797 closed

[2017-09-18 18:14] joshuawilson commented on #813
@ldimaggi can you please verify this later today(after I get it all the way to prod), @corinnekrych did a fix but we are not sure if it applies to what you are seeing.

[2017-09-18 18:25] alexeykazakov commented on #827
@ibuziuk by session I mean the Keycloak session. Sorry for the confusion if it wasn't clear. When user logs in to OSIO/Keycloak a new session is created and a set of tokens are issued (access, refresh, and identity token). When you refresh the token then the new tokens are assigned to the same Keycloak session. Keycloak store this session and check if it's still active when validating the token. O

[2017-09-18 18:35] ibuziuk commented on #827
@alexeykazakov great, thanks for clarifications. In any case this issue does not seem to be connected keycloak session invalidation (this looks like manual process - log out / killing from admin console)

[2017-09-18 18:57] alexeykazakov commented on #827
Yeah, but this is why it's important to know what @ldimaggi did to reproduce it :) For example if he tried to open che in one browser tab and did logout in another then it will kill the token.

[2017-09-18 19:10] samuzzal-choudhury opened #834 "Misleading API response"
_From @pkajaba on June 12, 2017 10:1_

When I try to create an analysis for one component for the first time I got this response:
[code]
I believe it's not an error that there are no data and I think that when there is analysis in progress for this package there could be information about it instead of this "error" message.

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#2

[2017-09-18 19:10] samuzzal-choudhury commented on #834
_From @pkajaba on June 12, 2017 10:1_

@samuzzal-choudhury What do you think about it?

[2017-09-18 19:10] samuzzal-choudhury commented on #834
_From @fridex on June 12, 2017 10:35_

+1 for a more descriptive message.

[2017-09-18 19:10] samuzzal-choudhury commented on #834
@pkajaba sorry for the long delay. +1.

[2017-09-18 19:11] samuzzal-choudhury opened #835 "RFE: Document the current API"
_From @tisnik on June 14, 2017 13:11_

As API has changed a lot there's a need to document the current API so the integration tests could be created and the test coverage could be computed as well.

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#26_

[2017-09-18 19:11] samuzzal-choudhury commented on #835
_From @fridex on June 14, 2017 13:19_

+1, I will work on proposal for v2 API as the current API is introducing challenges in many aspects.

Also there are present schemas which I believe are now not useful for API as there is a significant difference in what results are stored vs what is the actual schema when it comes to presentation on the API side

[2017-09-18 19:11] samuzzal-choudhury commented on #835
_From @tisnik on June 14, 2017 13:35_

Thanks @fridex. Please let me know if you want any form of help from my side.

[2017-09-18 19:11] samuzzal-choudhury commented on #835
_From @fridex on June 14, 2017 13:39_

@tisnik OK, I will let you know once I will start work on this. Thanks!

[2017-09-18 19:12] samuzzal-choudhury opened #836 "RFE: FAQ for unit test developers"
_From @tisnik on June 16, 2017 9:32_

RFE: Create description how to create/update unit test.

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#28_

[2017-09-18 19:13] samuzzal-choudhury opened #837 "RFE: figure out how to measure code coverage for unit test"
_From @tisnik on June 16, 2017 9:58_

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#29_

[2017-09-18 19:13] samuzzal-choudhury commented on #837
_From @fridex on June 16, 2017 10:0_

I use codecov.io in selinon - see https://github.com/selinon/selinon/pull/29 for a report example. It's easy to setup and gives nice stats.

[2017-09-18 19:13] samuzzal-choudhury commented on #837
_From @tisnik on June 16, 2017 10:24_

Oh very cool @fridex . Do you think it would be possible to use it in ./runtests.sh (let's say when I set some flag or environment variable)? It would be very nice to have such numbers in test reports :)

[2017-09-18 19:13] samuzzal-choudhury commented on #837
_From @fridex on June 16, 2017 10:39_

I use a py.test extension pytest-cov ( see https://github.com/codecov/example-python#pytest for an example) where you specify just path to a python package [1]. I think this should be doable for api unit tests and for worker unit tests as well. We will need to register at codecov.io to get this.

[1] https://github.com/selinon/selinon/blob/master/Makefile#L34

[2017-09-18 19:13] samuzzal-choudhury commented on #837
_From @fridex on June 16, 2017 10:47_

@tisnik I've added fabric8-analytics to codecov - any member from this org can access codecov just by signing in with GitHub account. Feel free to contact me if any issue spotted.

EDIT: link is https://codecov.io/gh/fabric8-analytics

[2017-09-18 19:13] samuzzal-choudhury commented on #837
_From @tisnik on June 16, 2017 12:12_

IIRC the codecov.io is a site that just displays test results acquired from the local machine/Jenkins instance, right? So we still need to generate the report. I'll look at it.

[2017-09-18 19:13] samuzzal-choudhury commented on #837
_From @fridex on June 16, 2017 12:14_

Yes, the report is aggregated locally but it is sent to codecov.io - see py.test plugins. Thanks!

[2017-09-18 19:13] samuzzal-choudhury opened #838 "RFE: implement some sort of code quality tests (lints)"
_From @tisnik on June 16, 2017 10:7_

This is part of the overall QA coverage of fabric8 project.

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#30_

[2017-09-18 19:13] samuzzal-choudhury commented on #838
_From @fridex on June 18, 2017 15:24_

There was a plan to add some linters such as pylint or coala bears but it never happened. I think it will require quiet large effort as the current code base does not conform to pep standards, but it would increase code quality a lot (as well as PR code quality).

[2017-09-18 19:14] samuzzal-choudhury opened #839 "Expose component analyses on task level"
_From @fridex on June 21, 2017 13:21_

Currently the `/api/v1/component-analyses` endpoint shows results of all tasks that were run during analysis. It would be nice to have smaller granularity there and be able to get results of specific tasks.

This would lead to better optimization when querying for some particular data - e.g. if there are requested only github related statistics, there is no n

[2017-09-18 19:14] samuzzal-choudhury commented on #839
@fridex Component analyses response schema will require a change which will incur subsequent changes in UI and Che LSP plugin. Let me include this in one of the upcoming sprints.

But, about the requirement to fetch data for only one task, can you write a proposal doc and add the link of that in this issue?

[2017-09-18 19:14] samuzzal-choudhury commented on #839
_From @fridex on June 21, 2017 14:34_

I'm not sure what should be stated inside such document. Basically what I'm proposing is to introduce endpoints like:

[code]
An example could be:

[code]

[2017-09-18 19:14] samuzzal-choudhury opened #840 "Get rid of list of values in each entry"
_From @fridex on June 21, 2017 15:2_

Currently the API server returns results of tasks from graph database where there is available a list under each entry. In some cases it does not make sense and having such thing on API makes API not intuitive and harder to consume.

An example could be (`/api/v1/component-analyses/npm/serve-static/1.7.1`):

[code]

As there is already integration with other p

[2017-09-18 19:14] samuzzal-choudhury commented on #840
@fridex can we say that this issue and https://github.com/fabric8-analytics/fabric8-analytics-server/issues/38 are related? I thought I would take up the issue mentioned here in https://github.com/fabric8-analytics/fabric8-analytics-server/issues/39 by making changes in the component analyses response schema.

[2017-09-18 19:14] samuzzal-choudhury commented on #840
_From @fridex on June 22, 2017 8:23_

I don't think they are strictly related - #38 would just introduce endpoints on task level (regardless schema), this is more related to actual response schema and its structure.

BTW if we would like to support schemas on API level, these results do not conform raw results from tasks.

[2017-09-18 19:16] samuzzal-choudhury opened #841 "API Server: Proposal for supporting OpenAPI spec"
_From @GeetikaBatra on June 28, 2017 16:7_

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#52_

[2017-09-18 19:16] samuzzal-choudhury opened #842 "RFE: component-analysis API HTTP codes"
_From @tisnik on July 12, 2017 9:11_

Currently when you acces component-analysis API endpoints the API respond either by:

```200 OK``` if analysis is done

```404 NOT FOUND``` if: analysis just started OR is in progress

Because this API endpoints is used for many things at once, I'd suggest to use:

```200 OK``` if analysis is done and available (as currently implemented)
```201 CREATED``` or `

[2017-09-18 19:16] samuzzal-choudhury commented on #842
_From @tisnik on July 12, 2017 9:26_

Well TBH the current behaviour when HTTP GET start analysis seems to be against RFC 7231 as well, let's discuss about it in another issue ;)

[2017-09-18 19:17] samuzzal-choudhury opened #843 "Typo in stack analysis v2 result JSON"
_From @tisnik on July 17, 2017 11:50_

outlier_prbability should be outlier_probability:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#73_

[2017-09-18 19:17] samuzzal-choudhury opened #844 "Wrong number in analyzed_dependencies_count?"
_From @tisnik on July 17, 2017 11:51_

An example how the stack analyses v2 output look like - there's and array with one analyzed dependency, but the attribute analyzed_dependencies_count says it is zero:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#74_

[2017-09-18 19:17] samuzzal-choudhury opened #845 "Stack analyses v2 - userstack.dependencies array is empty"
_From @tisnik on July 17, 2017 11:52_

I'd say that the userstack.dependencies array would contain info taken from the original requirements.txt file. Is there a specification of such attributes pls?

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#75_

[2017-09-18 19:18] samuzzal-choudhury opened #846 "RFE: support for '-r' option in the requirements.txt (PyPi ecosystem)"
_From @tisnik on July 17, 2017 13:30_

According to the documentation (https://pip.pypa.io/en/latest/reference/pip_install/#requirements-file-format) and real requirements.txt files I've found:

it is possible to use the following option to refer to other requirements file:

[code]

It seems that it is not supported in fabric8-analytics right now.

_Copied from original issue: fabric8-analytics/fa

[2017-09-18 19:18] samuzzal-choudhury opened #847 "Compatible release clause does not work in stack analysis v2"
_From @tisnik on July 18, 2017 10:58_

The specification:
https://www.python.org/dev/peps/pep-0440/#compatible-release

requirements.txt that is sent to the stack analysis v2:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#78_

[2017-09-18 19:18] samuzzal-choudhury opened #848 "The * character in final releases does not work in stack analysis v2"
_From @tisnik on July 18, 2017 11:2_

It seems that * character that is allowed to specify final releases for package
https://www.python.org/dev/peps/pep-0440/#final-releases
does not work in stack analysis v2

requirements.txt to check:

[code]

on the other hand this one works:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#79_

[2017-09-18 19:34] samuzzal-choudhury opened #849 "Unknown components' count not proper stack analysis v2"
_From @arunkumars08 on August 25, 2017 7:1_

Tried with this stack

httpie==0.9.9
parsimonious==0.7.0
pygments==2.2.0
six==1.10.0
wheel==0.30.0a0
setuptools==36.0.1

According to the analysis only 3 components are known (Analyzed), then unknown count has to be 4. It is returned as 0.

https://gist.github.com/arunkumars08/1b00bf595b5877bee5a773a91abc5c5f

_Copied from original issue: fabric8-analyt

[2017-09-18 19:34] samuzzal-choudhury commented on #849
_From @sara-02 on August 25, 2017 9:55_

Facing similar issue with the Quickstart applications as well.

![screenshot from 2017-08-24 18-31-32](https://user-images.githubusercontent.com/7047079/29709314-64c0dd78-897b-11e7-9f9a-e874dccab2dc.png)

[2017-09-18 19:35] samuzzal-choudhury opened #850 "[5] Getting 500 in stack-analysis-v2 on get call after successfully getting stack ID for analysis"
_From @invincibleJai on August 25, 2017 7:7_

1) uploaded single manifest file (requirements.txt) with contents :
`click==6.7`
`httpie==0.9.9`
`parsimonious==0.7.0`
`pygments==2.2.0`
`six==1.10.0`
`wheel==0.30.0a0`
`setuptools==36.0.1`

2) got Stack ID `25ea680bdf4241e88be8490856840f72` get call works fine

3) add one more component(invalid one) to above requirements.txt
`click==6.7`
`httpie==0.9.

[2017-09-18 19:36] samuzzal-choudhury opened #851 "Licenses analysis fails for vertx-3.4.2 packages"
_From @tisnik on August 30, 2017 10:23_

Maven file posted to stack analysis:

[code]

Stack analysis output:

[code]

For comparison: there's output for vertx-3.4.1 packages:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#135_

[2017-09-18 19:37] samuzzal-choudhury opened #852 "Newly analyzed components are not found by component search"
_From @tisnik on August 30, 2017 13:56_

Newly analyzed component, namely npm/sequence/3.0.0 can not be found by component search endpoint:

[code]

It looks that only old data are returned for the 'sequence' component:

[code]

Btw the info about analyzed component can be seen via:

[code]

It looks ok for me:

[code]

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#138_

[2017-09-18 19:37] samuzzal-choudhury opened #853 "RFE: the API endpoint to force analysis for selected component on given ecosystem"
_From @tisnik on August 31, 2017 9:1_

Currently, the following endpoint called with GET method starts analysis for selected component+version only when the analysis is not finished already:

[code]

It would be nice to have the same endpoint, but for the method POST or PUT to force new analysis, even if old analysis already exists.

_Copied from original issue: fabric8-analytics/fabric8-analytics

[2017-09-18 19:37] samuzzal-choudhury commented on #853
_From @fridex on August 31, 2017 9:5_

An idea for next iteration - we could make it more "sensitive" by providing endpoint for updating only certain task results (as we already have selective task runs). A user could say - I want to update only github data and so. This would be similar to https://github.com/fabric8-analytics/fabric8-analytics-server/issues/38

[2017-09-18 19:37] samuzzal-choudhury commented on #853
_From @tisnik on August 31, 2017 10:33_

It would be really nice @fridex, TY in advance :)

[2017-09-18 19:37] samuzzal-choudhury opened #854 "RFE: add new attributes started_at and finished_at to component analysis response"
_From @tisnik on August 31, 2017 9:10_

It would be nice to have ```started_at``` and ```finished_at``` attributes in the component analysis response with the same meaning, as for stack analysis. Ideally that attributes would represent UTC time in format ```%Y-%m-%dT%H:%M:%S.%f``` or ```%Y-%m-%dT%H:%M:%S``` (w/o milliseconds)

_Copied from original issue: fabric8-analytics/fabric8-analytics-server

[2017-09-18 19:37] samuzzal-choudhury commented on #854
_From @fridex on August 31, 2017 11:39_

This is not that straightforward for us as we provide response based on data that are available in the graph AFAIK. This information is tracked in the init/finalize task and subsequently closed (finished_at) in the finalize task (or finalize task error task).

We would probably need to sync even `InitBayesianFlow` task to graph to expose such information. C

[2017-09-18 19:37] samuzzal-choudhury commented on #854
_From @fridex on August 31, 2017 13:9_

We looked at the current output of component-analyses endpoint with @tisnik and it looks like we are not providing information about task run (when the given task was run and when finished) - parts of the `_audit` field we have for each task.

These metadata are especially helpful when providing data that change in time (e.g. github data) so a user is aware

[2017-09-18 19:38] samuzzal-choudhury opened #855 "Follow fabric8-analytics project structure"
_From @fridex on September 15, 2017 8:34_

Currently, the server implementation sits in `bayesian` directory. To follow fabric8-analitcs project naming, it should go to f8a_server instead.

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#150_

[2017-09-18 19:38] samuzzal-choudhury opened #856 "[1] Source code style improvement: do not use bare except in the fabric8-analytics-server repository"
_From @tisnik on September 18, 2017 15:20_

Can anybody with the knowledge about the code fix the following warnings about not-so-nice code style?

[code]

It's detected for source files from the ```bayesian``` directory. TYVM in advance

_Copied from original issue: fabric8-analytics/fabric8-analytics-server#153_

[2017-09-18 20:02] joshuawilson opened #857 "capture performance metrics of page loads (when a page completes loading & rendering) plus when wizard steps complete"
_From @jstrachan on September 15, 2017 11:48_

we need to start capturing user performance metrics in the browser so we know how long it takes for pages to render properly.

Then we need to post these metrics to some SaaS metrics endpoint which we can then throttle/filter/avoid DoS attack) and store in zabbix.

One important set of metrics is the forge wizards; how long does each step take to rend

[2017-09-18 20:03] joshuawilson opened #858 "Update stylelint-webpack-plugin package"
_From @mindreeper2420 on September 6, 2017 15:31_

The stylelint-webpack-plugin package will need to be updated in order to properly rebuild after a style failure when `npm start` is run. Currently, the build fails completely, causing the user to have to restart their build in order to re-lint any changes to `.less` files.

The is currently a PR in the [stylelint-webpack-plugin](https://github.com

[2017-09-18 20:04] joshuawilson opened #859 "Unit test takes longer to run"
_From @corinnekrych on August 30, 2017 11:45_

Prior to this [commit to introduce runtime console](https://github.com/fabric8-ui/fabric8-ui/commit/f6bde5ea7249f4bf686c2bdcdd6648183e57fa9b) tests take
* 1.467 secs to run
* start date: 13:29:51 end date 13:31:29 of 1min38s to load and run

After, tests take:
* 27.548 secs to run (which is ok as runtime-console comes with more unit tests
 * start dat

[2017-09-18 20:04] joshuawilson opened #860 ""Open in IDEA" under Pipelines does not work"
_From @mindreeper2420 on August 25, 2017 17:40_

Under Create/Pipelines, there is a kabob menu option to "Open in IDEA" that does not work. When I click on the option, I do not receive any kind of notification or error - it just closes the kabob menu.

<img width="455" alt="screen shot 2017-08-25 at 1 37 57 pm 2" src="https://user-images.githubusercontent.com/4032718/29725690-f97731aa-899a-11e7-96

[2017-09-18 20:04] joshuawilson commented on #860
_From @gorkem on September 1, 2017 5:5_

Why do we even have this menu?

[2017-09-18 20:04] joshuawilson commented on #860
@gorkem I think it was something @jstrachan was working on.

[2017-09-18 20:04] joshuawilson commented on #860
_From @jstrachan on September 4, 2017 11:8_

@gorkem because not everyone uses Che yet - folks use eclipse / VS Code / IDEA too. There are moves for similar IDEA functionality for VS Code / Eclipse too. Ideally I'd prefer an "Open in IDE" dialog then have more options for opening in Che / IDEA / Eclipse / VS Code / using git CLI and vi/emacs etc)

[2017-09-18 20:04] joshuawilson commented on #860
_From @jstrachan on September 4, 2017 11:11_

@mindreeper2420 I suspect the issue is you've not installed Jetbrains Toolbox which has the URL handler?

I'm hoping to move that menu item into a dialog box so we can add a warning for IDEA that it requires Jetbrains Toolbox (unfortunately there's no easy way to test if a URL is gonna work or not AFAIK) - plus we could then have a CLI tab to show folk

[2017-09-18 20:04] joshuawilson commented on #860
_From @jstrachan on September 4, 2017 11:15_

There's been some attempts to offer Jetbrains Toolbox like URL handling for VS code:

* https://github.com/Microsoft/vscode/issues/22014
* https://github.com/Microsoft/vscode/issues/20291

and eclipse:

* https://bugs.eclipse.org/bugs/show_bug.cgi?id=513364
* https://bugs.eclipse.org/bugs/show_bug.cgi?id=513262

though neither work right yet AFAIK (we'

[2017-09-18 20:04] joshuawilson commented on #860
_From @mindreeper2420 on September 4, 2017 13:11_

I don't have anything installed, as I don't use JetBrains software. If this doesn't work without prompting and all sorts of things installed, it should either be removed from production until we have the process/flow in place, or have it changed to 'Open in Che' until one is ready, no?

The fact that it gave no prompt, no information and just clos

[2017-09-18 20:04] joshuawilson commented on #860
_From @mindreeper2420 on September 4, 2017 13:16_

Might it also make sense to keep this in the menu, but greyed out/disabled, and an 'Open with Che' also in the menu, but disabled? The only problem I see is the Che instances idling - then it will take a few minutes to start back up and launch.

[2017-09-18 20:04] joshuawilson commented on #860
_From @jstrachan on September 4, 2017 13:17_

yeah - any Open in IDE option should navigate to a dialog of sorts; as even Che takes a while to startup and IDEA might not be installed - ditto any other desktop IDE etc

[2017-09-18 20:05] joshuawilson opened #861 "use a nicer widget to pick quickstarts instead of the combo box"
_From @jstrachan on August 25, 2017 15:2_

the latest greatest forge back end using the latest `launchpad-addon` now has a single step to pick a quickstart (or booster in RHOAR speak) then step2 is the project info page (github org, name, group id, version etc).

* Step1:
<img width="1022" alt="pipelines_-_fabric8_io" src="https://user-images.githubusercontent.com/30140/29719514-4de6bb44-89ae-11e7

[2017-09-18 20:05] joshuawilson commented on #861
_From @jstrachan on August 25, 2017 15:2_

cc @catrobson

[2017-09-18 20:05] joshuawilson commented on #861
_From @catrobson on August 25, 2017 15:18_

+1 that we  want this to changeover to something easier to browse than a picker dropdown.  @mindreeper2420 is working  up a new design for the launch team that hopefully we can follow here as well.

[2017-09-18 20:13] joshuawilson commented on #642
Let's track this here. Is this still an issue?

[2017-09-18 20:15] joshuawilson opened #862 "Updating user profile requires browser refresh to see the changes"
_From @alexeykazakov on August 18, 2017 16:19_

1. Go to Update Profile page
2. Change email
3. Click on Update
4. I see the old email in the profile again
5. Refresh the browser
6. Now I see the updated email

I didn't try with other fields though.

_Copied from original issue: fabric8-ui/fabric8-ui#1896_

[2017-09-18 20:16] joshuawilson opened #863 "Improve error handling"
_From @joshuawilson on August 17, 2017 17:10_

We have observed that some errors can break whole sections of the UI when they really should be isolated.

We need to look at improving our error handling locally and consider covering global error handling.

This article is a starting point. https://medium.com/@amcdnl/global-error-handling-with-angular2-6b992bdfb59c

_Copied from original issue: fabr

[2017-09-18 20:16] joshuawilson commented on #863
_From @dgutride on August 17, 2017 17:13_

One other thing we could consider is uploading exceptions to a common logging endpoint to trigger quick responses (and reporting).  We might need a design for error handling in the UI  - should we show a notification, always redirect to an error page, let the user continue working?  We can't guarantee an unhandled exception will still result in a usable p

[2017-09-18 20:16] joshuawilson commented on #863
I have talked about posting UI errors back to the server so they can be viewed in logs and error tracking software we use. This would allow us to spot errors that users are seeing before they report them.

[2017-09-18 20:16] joshuawilson opened #864 "on the Codebases page we should have the option to create a Pipeline for a Codebase"
_From @jstrachan on August 17, 2017 10:0_

folks can create codebases via a github URL, which is great. Folks may then want to then create a pipeline for it after the codebase has been created; so we should:

* know if a Codebase has an associated Pipeline or not and if not provide a kebab option on a Codebase to `Create Pipeline`

The `Create Pipeline` wizard would then work kinda like the `Impor

[2017-09-18 20:17] joshuawilson opened #865 "Import vs. Create Codebase - resolve capability and update UI"
_From @catrobson on August 14, 2017 13:51_

Decide if we should have a create vs. import codebase capability on the space dashboard, update this issue and UI to reflect decisions made.

_Copied from original issue: fabric8-ui/fabric8-ui#1867_

[2017-09-18 20:19] joshuawilson opened #866 "Codebases Sync Issues"
_From @mindreeper2420 on July 26, 2017 22:24_

When deleting, moving or renaming a repo on GitHub, the changes are not synched to OSIO. Previous codebases still appear in the widget, but empty rows appear on the Codebases page for each repo that was deleted/moved/renamed existed. OSIO shows a notification that the repo in question cannot be found.

_Copied from original issue: fabric8-ui/fabric8-u

[2017-09-18 20:19] joshuawilson opened #867 "Status Icon Does Not Show Rollup"
_From @mindreeper2420 on July 26, 2017 15:58_

In the Status drop down, when a status is anything other than green (check mark), it should appear in the header as such. Currently, the status icon in the header is always shown as the check mark, regardless of what the individual statuses are.

<img width="265" alt="screen shot 2017-07-26 at 11 57 24 am" src="https://user-images.githubusercontent.co

[2017-09-18 20:19] joshuawilson commented on #867
Some of the values need to be polled to get them, they aren't there until you open the menu. So it is not simple to just copy it to the top.
If we want to patch it, we could change the icon to the text "status".

[2017-09-18 20:20] joshuawilson opened #868 "Add to space should redirect to login if user not logged in"
_From @corinnekrych on July 12, 2017 12:39_

![screenshot 2017-07-12 14 23 01](https://user-images.githubusercontent.com/1395710/28117980-b6dba77a-670f-11e7-8ca6-0e60df5d09bc.png)
Atm even without being logged, we can access the button.
@catrobson For fine granularity should we redirect to login or grey the button not available for non-logged user?

_Copied from original issue: fabric8-ui/fabric8-

[2017-09-18 20:20] joshuawilson commented on #868
_From @catrobson on July 12, 2017 12:41_

Redirect to login.

[2017-09-18 20:21] kbsingh opened #869 "reset environment fails with api errors"
For user drc01inb, trying to reset env I get, the Your account section :
[code]

The configs are not updated for che/jenkins

[2017-09-18 20:25] kbsingh opened #870 "Che is still using a dockerhub hosted image"
We need to switch to the managed registry, prod instances are still deploying from dockerhub.

[2017-09-18 20:26] joshuawilson opened #871 "Update profile page should not be displayed when not logged in"
_From @corinnekrych on July 11, 2017 6:50_

https://OPENSHIFT_IO/USER_NAME/_update should not be accessible when not logged in. Or could be accessible but update button should be disabled
* actual
Atm when we go there without being logged:
![screenshot 2017-07-11 08 46 59](https://user-images.githubusercontent.com/1395710/28054605-d3c9f4a4-6615-11e7-8a98-c1a286dbbe82.png)
Updating the profile thro

[2017-09-18 20:26] joshuawilson commented on #871
_From @catrobson on July 12, 2017 12:37_

Agreed that this requires login.  We should navigate the user to the log in page if they try to direct link to this page without being logged in.

[2017-09-18 20:26] joshuawilson commented on #871
_From @dlabrecq on July 19, 2017 18:2_

I believe this has been fixed.

I found an undefined user attribute property in the JS console when the user selects "Log Out" from this page. This prevented the login process from fully completing. With the issue fixed, the user should be navigated back to the log in.

Please retest after https://github.com/fabric8-ui/fabric8-ui/pull/1753 has been merged.

[2017-09-18 20:26] joshuawilson commented on #871
This is not fixed. We should block going to the edit profile page if not logged in or if it is a different user.

[2017-09-18 20:26] joshuawilson opened #872 "Need to document limitations of free account - quotas for creating projects"
_From @ldimaggi on July 10, 2017 3:3_

This issue is a task - for us to clearly document the limitations of a free account in terms of the projects that a user can create. It's looking like the limit is one project:

* I am seeing a predictable pattern in that a user can create 2 projects - depending on the characteristics of each project - for example - if a user creates a Vert.X project and a Sp

[2017-09-18 20:26] joshuawilson commented on #872
_From @ldimaggi on July 10, 2017 3:4_

Related to:  https://github.com/fabric8-ui/fabric8-ui/issues/1681

[2017-09-18 20:26] joshuawilson commented on #872
_From @ldimaggi on July 10, 2017 17:41_

More data:

With 1 workspace running:
[code]

After stopping that workspace:
[code]

[2017-09-18 20:27] joshuawilson opened #873 "User should be warned in OSIO UI when OpenShift limits are reached"
_From @ldimaggi on July 10, 2017 2:30_

In experimenting with a new (and empty) user account:

* I am seeing a predictable pattern in that a user can create 2 projects - depending on the characteristics of each project - for example - if a user creates a Vert.X project and a Spring Boot Healthcheck project. the stage and run resources look like this:
[code]

* If that user creates ONE Che workspac

[2017-09-18 20:27] joshuawilson commented on #873
_From @ldimaggi on July 10, 2017 2:30_

Related to:
https://github.com/openshiftio/openshift.io/issues/355

[2017-09-18 20:27] joshuawilson commented on #873
_From @ldimaggi on July 10, 2017 2:32_

Also note - if a user attempts to create a 2nd Che workspace, this error is logged in Che:

[code]

But - no error is displayed in the OSIO UI.

[2017-09-18 20:27] joshuawilson commented on #873
_From @ldimaggi on July 19, 2017 18:13_

Related to:

https://github.com/fabric8-ui/fabric8-ui/issues/1214

[2017-09-18 20:27] joshuawilson opened #874 "Quota limits, when reached and resulting in deployment failures, are not reported to user in OSIO UI"
_From @ldimaggi on July 9, 2017 3:17_

Steps to recreate:
* "Clean out" existing spaces, github repos, OpenShift pods, deployments, build configs, etc.
* Create (3) new projects (Vert.X, Spring-Boot, Vert.X Config Map)
* Observe success reported for rollout to stage and run:

![screenshot from 2017-07-08 23-13-19](https://user-images.githubusercontent.com/642621/27990894-774f3da8-6433-11e7-8860-7c

[2017-09-18 20:27] joshuawilson commented on #874
_From @ldimaggi on July 9, 2017 3:18_

Related to:  https://github.com/fabric8-ui/fabric8-ui/issues/1648

[2017-09-18 20:52] #496 closed

[2017-09-18 21:41] kbsingh opened #875 "Che workspaces use replicasets, can we move to using Deployments instead"
at the moment, we are using replicasets - if I recall correctly, this was down to us using the replicaset as a way to do time allocations - however, with openshift 3.6+ since we have a real idle api, do we want to consider moving to regular deployment configs for the workspace bringups ?

[2017-09-18 23:02] kbsingh commented on #870
looks like some of the deployments in the cluster are out of date and need to be upgraded, the new updated configs look ok. Closing as not an issue and will track getting the cluster upgraded for all tenants.

[2017-09-18 23:02] #870 closed

[2017-09-18 23:20] cctrieloff opened #876 "Che Workspace not starting"
Could not start workspace test4-tlmdi. Reason: Start of environment 'default' failed. Error: Failure executing: POST at: https://kubernetes.default.svc/apis/extensions/v1beta1/namespaces/cctrieloff-che/deployments. Message: deployments.extensions "che-ws-1rkxmuhwcxi3uqor" already exists. Received status: Status(apiVersion=v1, code=409, details=StatusDetails(causes=[], group=extensions, kind=deploy

[2017-09-18 23:24] cctrieloff commented on #876
Could not start workspace test4-tlmdi. Reason: Start of environment 'default' failed. Error: Timeout. The Che server is unable to ping your workspace. This implies a network configuration issue, workspace boot failure, or an unusually slow workspace boot.

[2017-09-18 23:37] cctrieloff commented on #876
ok, maybe it's the same storage issue...

pods/che-2-deploy
Unable to mount volumes for pod "che-2-deploy_cctrieloff-che(5346fade-9cc9-11e7-8821-02e52a0be43d)": timeout expired waiting for volumes to attach/mount for pod "cctrieloff-che"/"che-2-deploy". list of unattached/unmounted volumes=[deployer-token-4pj3q]
2 minutes ago
Warning
Failed sync
pods/che-2-deploy
Error syncing pod

[2017-09-18 23:46] cctrieloff commented on #876
Always seems to come back to failed sync...

7:45:28 PM | che-ws-a1nrk4skyucylnwb-1772696450-s0l7l | Pod | Warning | Failed sync | Error syncing pod
-- | -- | -- | -- | -- | --
7:45:27 PM | che-ws-a1nrk4skyucylnwb-1772696450-s0l7l | Pod | Normal | Killing | Killing container with id docker://a1nrk4skyucylnwb-machinedi7afoklqadfp3ex-che-dev-machine:Need to kill Pod2 times in the last minute
7:45:25

[2017-09-19 02:01] l0rd commented on #666
![image](https://user-images.githubusercontent.com/606959/30572501-49cb70d8-9cee-11e7-9806-0d128d25b0b3.png)

I've been running a script that creates/starts/deletes a simple [OpenShift Hello World](https://github.com/openshift/origin/tree/master/examples/hello-openshift) application for about one hour on openshift.io.

I've put the deployment yml file, the logs and the script to run the test in a

[2017-09-19 02:06] l0rd commented on #876
Yes I think it's a duplicate of #501 and related to #666

[2017-09-19 02:16] ldimaggi commented on #827
The steps to recreate this issue are:
* Reset user environment
* Create new space
* Create new quickstart
* And - the issue presents itself - on an intermittent basis

[2017-09-19 02:28] ldimaggi commented on #813
The problem that I saw was intermittent.

But - I was just able to recreate the issue described by pressing the create button twice when creating a new space:

![screenshot from 2017-09-18 22-27-39](https://user-images.githubusercontent.com/642621/30573235-a39ba55c-9cc0-11e7-9003-d79448facb58.png)

[2017-09-19 02:41] ldimaggi commented on #642
I think that we should keep this open - is there any way that we can push information to the user to inform him/her that a new analytic report is ready to be reviewed?

[2017-09-19 03:13] joshuawilson commented on #642
@krishnapaparaju @samuzzal-choudhury @jyasveer what do you think? If you have the API, then updating the UI should be easy enough.

[2017-09-19 03:25] joshuawilson opened #877 "Failures in staging should prevent deployment to run - but they aren't"
_From @ldimaggi on July 7, 2017 19:1_

See attached screenshot - creating a new (Vert.x - CRUD) quickstart failed in staging. (A separate issue will be logged for this failure.)

The failure in staging did not prevent the app from being promoted to run. Shouldn't a failure to stage always abort the build pipeline?

![screenshot from 2017-07-07 14-56-48](https://user-images.githubusercontent.com/64

[2017-09-19 03:25] joshuawilson commented on #877
@jstrachan here is another for you.

[2017-09-19 03:25] joshuawilson commented on #877
@rawlingsj do you know why this staging failure doesn't block the build?

[2017-09-19 03:28] joshuawilson opened #878 ""Add to Space" - results in SSO error creating Che workspace"
_From @ldimaggi on July 7, 2017 16:15_

This issue first started showing up on July 7 - After creating a new project, either by creating the project from a quickstart, or by importing existing code, attempts to create a new Che workspace are blocked by an "ERR_TOO_MANY_REDIRECTS" error. The Che workspaces, however, are created. The user must use an incognito window to access the workspaces in Che.

[2017-09-19 03:28] joshuawilson commented on #878
_From @ldimaggi on July 8, 2017 18:6_

SSO issue may be a caching issue - need to investigate - using an incognito window resolved the problems.

[2017-09-19 03:28] joshuawilson commented on #878
_From @alexeykazakov on July 8, 2017 19:7_

See https://github.com/redhat-developer/rh-che/issues/180

[2017-09-19 03:28] joshuawilson opened #879 "Caching in the UI results in the user seeing references to deleted spaces"
_From @ldimaggi on July 7, 2017 15:50_

To recreate this issue:
* Create and delete spaces - The deleted spaces are shown in the 'recent spaces' lists - if a space is deleted and then recreated, its name can appear more than once in the list.

Screenshots - these screenshots are all taken at the same time - the "view all spaces" list is correct - the others are incorrect.

![screenshot from 2017-0

[2017-09-19 03:29] joshuawilson commented on #879
_From @ldimaggi on July 7, 2017 15:56_

![screenshot from 2017-07-07 11-55-47](https://user-images.githubusercontent.com/642621/27965902-4231092c-630b-11e7-97a2-9f5004807759.png)

[2017-09-19 03:29] joshuawilson commented on #879
Does a refresh or hard refresh fix it?

[2017-09-19 03:29] joshuawilson commented on #879
_From @ldimaggi on July 7, 2017 17:39_

Yes - a control/r refresh clears the recent spaces displayed in the account home view.

[2017-09-19 03:29] joshuawilson commented on #879
_From @ldimaggi on July 7, 2017 20:47_

![screenshot from 2017-07-07 15-36-27](https://user-images.githubusercontent.com/642621/27976338-ffc29096-6333-11e7-94eb-327130fd6d9a.png)

[2017-09-19 03:29] joshuawilson opened #880 "Error in pushing project to stage caused by timeout reported as success in OSIO UI"
_From @ldimaggi on July 6, 2017 19:57_

Steps to recreate:
* Create a new Vert.X project - accept all defaults

The push to stage failed due to a timeout. The UI presented this as success:

![screenshot 23](https://user-images.githubusercontent.com/642621/27930144-8b752dfa-6263-11e7-9924-51a711be9d7e.png)

Openshift correctly trapped the error:

![screenshot 24](https://user-images.githubuserconte

[2017-09-19 03:29] joshuawilson commented on #880
_From @ldimaggi on July 10, 2017 17:9_

Just saw another instance of this issue:

![screenshot from 2017-07-10 11-50-55](https://user-images.githubusercontent.com/642621/28030224-d49e8700-6570-11e7-9d2a-0376e9e1ba8c.png)
![screenshot from 2017-07-10 11-44-30](https://user-images.githubusercontent.com/642621/28030225-d4b4ab3e-6570-11e7-81c3-fa58871ecfa2.png)
![screenshot from 2017-07-10 11-43-58](h

[2017-09-19 03:29] joshuawilson commented on #880
@rawlingsj @jstrachan Is this disconnect in the UI or in the pipeline?

[2017-09-19 03:29] joshuawilson opened #881 "Pipeline fails while build is successful - the user might miss the error symbol as the pipeline phases stays green"
_From @ldimaggi on July 6, 2017 19:24_

It's possible for a build to be successful, but the pipeline fails. The resulting pipeline display shows both red and green results - we should better highlight that the pipeline failed.

![screenshot from 2017-07-06 14-54-24](https://user-images.githubusercontent.com/642621/27928927-081ef3ea-625f-11e7-9890-8d5f1ceead37.png)

Log fragment follows:

[code]

_

[2017-09-19 03:30] joshuawilson commented on #881
@jstrachan how can it fail and pass at the same time?

[2017-09-19 03:30] joshuawilson commented on #881
_From @jstrachan on July 7, 2017 5:16_

the status of a stage != the status of the build.

From the log all the stages are green (see the 'SUCCESS') in the build log - thats the last stage. Then after all that the final build that returned an error. So the UI is totally correct - the stages all were green but the build failed right at the end.

I'll try figure out why though; as thats a tad wacky

[2017-09-19 03:30] joshuawilson commented on #881
_From @ldimaggi on July 7, 2017 11:49_

This issue is related - https://github.com/fabric8-ui/fabric8-ui/issues/1648

[2017-09-19 03:30] joshuawilson commented on #881
@jstrachan Is this something we should change in the UI? or is it good enough now. I'm asking because it was confusing to us. Maybe @catrobson can come up with a better way to display this so the user will understand.

[2017-09-19 03:30] joshuawilson commented on #881
related to #1615

[2017-09-19 03:30] joshuawilson commented on #881
_From @catrobson on July 25, 2017 12:26_

@jstrachan Are we able to give the user some information about the problem with the build failure?  I think the user in this case is looking to understand why I am in a failure state, so we need some information to show.  If so, can I get an example of what that might look like so I can consider how to integrate it into the screen for these cases?

[2017-09-19 03:31] joshuawilson opened #882 "Intermittent but recurring problem - codebase not populated with project code"
_From @ldimaggi on July 5, 2017 14:1_

Seeing this problem intermittently - no repeatable pattern seen yet - sometimes, when a new project is created, creating a codebase does not populate the codebase with the project's code:

![screenshot from 2017-07-03 14-20-20](https://user-images.githubusercontent.com/642621/27867814-ca8b9d5e-6168-11e7-9c4c-117111ece804.png)

Assigning to ldimaggi until a re

[2017-09-19 03:31] joshuawilson commented on #882
_From @ldimaggi on July 8, 2017 12:42_

Another example - created 3 new projects - and attempted to create workspaces for each project - only 1 workspace was populated with project code:

![screenshot from 2017-07-08 08-40-50](https://user-images.githubusercontent.com/642621/27985467-5bc9098a-63b9-11e7-836b-e65d79ae7d13.png)

[2017-09-19 03:31] joshuawilson commented on #882
_From @ldimaggi on July 8, 2017 12:48_

Error logged to Che when one of the workspaces missing project code was created:

[code]
[che_log.txt](https://github.com/fabric8-ui/fabric8-ui/files/1132970/che_log.txt)

[2017-09-19 03:31] joshuawilson commented on #882
_From @ldimaggi on July 8, 2017 18:8_

Another example - 4 new projects created:

![screenshot from 2017-07-08 14-07-26](https://user-images.githubusercontent.com/642621/27988049-e14093da-63e6-11e7-9198-e0db5cdeb280.png)

[2017-09-19 03:31] joshuawilson opened #883 ""View all Spaces" returns random subsets of a user's spaces"
_From @joshuawilson on July 3, 2017 20:38_

_From @ldimaggi on July 3, 2017 19:10_

I first started seeing this issue on July 3 - when a user views all spaces, random subsets of that user's spaces are seen:

![screenshot from 2017-07-03 14-26-01](https://user-images.githubusercontent.com/642621/27805194-403d941c-6001-11e7-9e9e-1cb7bfcf3fe8.png)

![screenshot from 2017-07-03 14-45-19](https://user-

[2017-09-19 03:31] joshuawilson commented on #883
_From @aslakknutsen on July 3, 2017 19:32_

This is a f8-ui issue, not planner. But possible caused by no pagination support in the UI and random returned order from server.

[2017-09-19 03:31] joshuawilson commented on #883
I wonder if this has to do with pagination of the result set.

[2017-09-19 03:31] joshuawilson commented on #883
_From @aslakknutsen on August 14, 2017 21:15_

What order do we want spaces in here? @catrobson

[2017-09-19 03:31] joshuawilson commented on #883
IMHO, I would want it in either most recently visited or alphabetical.

[2017-09-19 03:31] joshuawilson commented on #883
_From @catrobson on August 15, 2017 1:46_

This is being redesigned right now here:  https://github.com/fabric8-ui/fabric8-ux/issues/572
Right now we're thinking about showing these by latest change date, but this might be quite volatile so I need to think about that a bit more.  Last visited might be less volatile for if the user changes the filter criteria or refreshes the page.  Alphabetical by

[2017-09-19 03:32] joshuawilson opened #884 "In promoting project to run, timing delays may cause user confusion as links are displayed before the corresponding assets are ready"
_From @ldimaggi on June 30, 2017 15:39_

I just saw the following situation:
* User creates new project, pipeline reports success
* But - if the user attempts to access the staged app before promoting it to run - this error is seen:

![screenshot from 2017-06-30 11-01-52](https://user-images.githubusercontent.com/642621/27742862-32b00c88-5d88-11e7-8d18-a4ea2af1c296.png)

The problem is a matter of

[2017-09-19 03:33] joshuawilson opened #885 "Areas to use tree-list view"
_From @catrobson on June 29, 2017 19:1_

Change over Area list page to use tree-list view control to show parent and children areas as a tree rather than in a flat list with parent/child/grandchild/etc.

_Copied from original issue: fabric8-ui/fabric8-ui#1617_

[2017-09-19 03:33] joshuawilson commented on #885
@catrobson is this to be designed or do you have designs?

[2017-09-19 03:33] joshuawilson commented on #885
ping @catrobson

[2017-09-19 03:33] joshuawilson commented on #885
_From @catrobson on July 25, 2017 12:23_

@dgutride and I discussed that this could move forward without designs for just swapping out the list component itself to a tree-list component.  None of the other interactions will be affected, and the only change we discussed was that we would consider adding in drag-and-drop with the tree-list component.

[2017-09-19 03:33] joshuawilson opened #886 "Errors written to Jenkins logs are not communicated to users in OSIO UI"
_From @ldimaggi on June 29, 2017 16:32_

If a build fails, the failure is communicated to the user in the OSIO UI. It would be helpful to users to have the cause of the failures extracted from the Jenkins logs and made available to the user in the OSIO UI. At present, users must access the Jenkins log to find the root cause of failures.

For example, in a recent failure, the user only sees this in

[2017-09-19 03:33] joshuawilson commented on #886
@jstrachan @rawlingsj what do you think?

[2017-09-19 03:34] joshuawilson opened #887 "Context menu should include View my spaces option"
_From @dgutride on June 23, 2017 17:32_

The top menu should include a View my spaces link takes the user to their profile page and automatically shows the spaces tab.

_Copied from original issue: fabric8-ui/fabric8-ui#1595_

[2017-09-19 03:35] joshuawilson opened #888 "Configure CI/CD for the whole UI"
_From @joshuawilson on June 23, 2017 13:43_

Currently the UI repos build independently but they need to role up into the components that use them.

Additionally we need to have every push to master update prod automatically for CD.

_Copied from original issue: fabric8-ui/fabric8-ui#1591_

[2017-09-19 03:35] joshuawilson commented on #888
@jstrachan were you ever able to build the thing that would do this?

[2017-09-19 03:35] joshuawilson commented on #888
_From @jstrachan on July 25, 2017 7:41_

its on my TODO list once I've finished a few other things... hopefully I'll get to it soon

[2017-09-19 03:35] joshuawilson opened #889 "Intermittent issue - auto-recreation of pods is not always successful"
_From @ldimaggi on June 21, 2017 18:6_

This issue is being logged to ensure that its solution is fully verified.

When out of memory issues are encountered, the workaround is to manually delete Jenkins pods as they are automatically recreated. Sometimes, the automatic recreation fails, and they must be recreated manually.

We have to verify that the automatic recreation is successful after this i

[2017-09-19 03:35] joshuawilson commented on #889
_From @ldimaggi on June 21, 2017 18:12_

Related to:
https://github.com/fabric8io/fabric8-ui/issues/1279

[2017-09-19 03:36] joshuawilson opened #890 "Pipeline display in OpenShift.io seems to not be connected to Jenkins builds (issue limited to a specific user account)"
_From @ldimaggi on June 21, 2017 14:53_

Started seeing this on June 21 - it looks like the link to the builds is broken.

For example: - the promote option is displayed in the Jenkins log, but not the pipeline display:

![screenshot from 2017-06-21 10-22-12](https://user-images.githubusercontent.com/642621/27390503-68fc6982-566f-11e7-9b9e-08410e2249ce.png)

And - the (successful) status of the bu

[2017-09-19 03:36] joshuawilson commented on #890
_From @ldimaggi on June 21, 2017 14:54_

Is this caused by:  https://github.com/fabric8io/fabric8-ui/issues/1562   ?

[2017-09-19 03:36] joshuawilson commented on #890
@jstrachan @rawlingsj can you please take a look.

[2017-09-19 03:36] joshuawilson commented on #890
_From @ldimaggi on June 23, 2017 12:57_

I am seeing this with the "almightytest" account - AND - with my own account too.

[2017-09-19 03:36] joshuawilson commented on #890
_From @jstrachan on June 23, 2017 13:2_

I see it in mine too! :) only my quotas have stopped it from actually deploying! am guessing its OSO automating that due to the BC's with pipelines inside.

Need to find how to disable that

[2017-09-19 03:36] joshuawilson commented on #890
_From @rawlingsj on June 23, 2017 13:2_

I just tried here and it seems to work fine.  Yeah I think this is related to https://github.com/fabric8io/fabric8-ui/issues/1562.  Perhaps try with a new test account and see if you can recreate the issue.

[2017-09-19 03:36] joshuawilson commented on #890
_From @ldimaggi on June 23, 2017 13:3_

I just tried this my personal RHD-linked account. Am creating a new test account today and will try there too. Are you not seeing this issue?

[2017-09-19 03:36] joshuawilson commented on #890
_From @rawlingsj on June 23, 2017 13:4_

Ok scrap my comment if James S has it https://github.com/fabric8io/fabric8-ui/issues/1563#issuecomment-310659587

[2017-09-19 03:36] joshuawilson commented on #890
_From @jstrachan on June 23, 2017 13:4_

I have a jenkins DC in my main namespace here - but its not deployed a pod due to quotas...
[code]
its the one from OSO
[code]

[2017-09-19 03:36] joshuawilson commented on #890
_From @rawlingsj on June 23, 2017 13:4_

Any extra BCs around?

[2017-09-19 03:36] joshuawilson commented on #890
_From @ldimaggi on July 3, 2017 16:6_

No - the bcs have all been deleted

The issue is limited to the 'almightytest' account.

[2017-09-19 03:36] joshuawilson commented on #890
@ldimaggi can you please confirm that this is still an issue?

[2017-09-19 03:37] joshuawilson opened #891 "Over time, a user's maven .m2 Persistent Volume and Content Repo runs out of space - must be cleaned out manually"
_From @ldimaggi on June 21, 2017 14:3_

Related to: https://github.com/fabric8io/fabric8-ui/issues/1526

There's no centralised logs or metrics for tenant namespaces - and over time, a user's maven .m2 Persistent Volume runs out of space - as does the user's content repo

Current solution is to create a Jenkinfile that mounts the .m2 folder and runs rm - rf

We should ship jenkins with this job, c

[2017-09-19 03:37] joshuawilson commented on #891
_From @ldimaggi on June 21, 2017 14:4_

To clean out the content repo:

oc project almusertest1-jenkins

oc get pods
NAME                                 READY     STATUS      RESTARTS   AGE
content-repository-5-3cw6j           1/1       Running     0          1d

oc exec -ti content-repository-5-3cw6j bash
rm -rf /var/www/html/content/repositories

Can we also clean out the .m2 repo from the cont

[2017-09-19 03:37] joshuawilson commented on #891
_From @rawlingsj on June 21, 2017 15:8_

I'm gonna knock up a housekeeping pipeline that folks can run + add a diagnose one too that will help us investigate issues and even automatically solve known issues where we can.

[2017-09-19 03:37] joshuawilson commented on #891
_From @ldimaggi on June 21, 2017 15:12_

Thanks James - if we cannot solve this automatically (ala a garbage collector type approach) then we had better find a way to reliably warn the users and give them an easy way to fix this....when it happens.

[2017-09-19 03:37] joshuawilson commented on #891
@ldimaggi if we can't get it fixed automatically soon enough, could you please add this to https://github.com/openshiftio/openshift.io/wiki/FAQ

[2017-09-19 03:38] joshuawilson opened #892 "how should we deal with Pipelines/Resources not labelled with a space?"
_From @jstrachan on June 21, 2017 7:51_

Its possible to have kubernetes/openshift resources created without a label for the space. e.g. old projects created before the wizard associated the current space as a label have no `space` label. Folks can create resources or pipelines in multiple ways (openshift console, templates, `oc` CLI) which don't have the space label.

So how can we view the `spac

[2017-09-19 03:38] joshuawilson commented on #892
_From @maxandersen on June 22, 2017 13:58_

As comment on the "all spaces" then that is a great idea but assumes (I reckon) we can query across possible multiple clusters somehow efficiently - also Che workspaces and some aspects of planner aren't really well fitted inside a "all space view"

For this specific item of "non-labelled" items I would think it would make more sense to have them on a se

[2017-09-19 03:38] joshuawilson commented on #892
_From @jstrachan on June 22, 2017 14:4_

@maxandersen the UI only works on one OpenShift cluster at once so we don't need multi-cluster queries any time soon. One day federation may make multiple clusters look like 1 (and provide a single API to multiple physical clusters); but I'd expect there to be a single development cluster really.

The entire Create/Codebases/Pipelines/Apps/Environments UI i

[2017-09-19 03:38] joshuawilson commented on #892
@jstrachan
1) Do you want to associate "resource" with a space?
2) Do you want to view/work with non-labeled "resources" and leave them "non-labeled?

[2017-09-19 03:38] joshuawilson commented on #892
_From @jstrachan on June 22, 2017 15:37_

1. we already do, via a label of `space: nameOfSpace` in OpenShift (Pipelines, Deployments, Services etc)
2. be able to view resources using a space filter; or view all resources whether they are associated with a space or not

[2017-09-19 03:38] joshuawilson commented on #892
Let's have @fabric8io/uxd look at it.

[2017-09-19 03:38] joshuawilson commented on #892
_From @catrobson on June 23, 2017 1:27_

While I think this is a valid use case for users converting their apps over into OpenShift.io, I don't think this was a primary concern for MVP.  I agree we need to put some UX thought into the use case of migrating apps into OpenShift.io, but feel it should go from that use case instead of just adding a page that shows a set of resources that might not mak

[2017-09-19 03:38] joshuawilson commented on #892
_From @dgutride on June 26, 2017 13:57_

@jstrachan @catrobson - from looking at the code, it seems that our current behavior means we  include items that are not labeled so my rogue pipelines are always visible.

In my environment, it means my spaceship pipelines (that didn't get labeled somehow) show up in all of my space dashboards instead of filtering unlabeled items out by default.

[2017-09-19 03:38] joshuawilson commented on #892
_From @catrobson on June 26, 2017 14:6_

@dgutride Thanks.  I think that is probably not the behavior we desire at this point.  I think we don't want to show any pipeline or other artifacts which are not labeled.  If it is not labeled, my assumption is that there is some migration path we need to build to allow people to import these items, rather than surprising a user by showing them without any

[2017-09-19 03:38] joshuawilson commented on #892
_From @maxandersen on July 10, 2017 17:43_

@jstrachan how about we for now limit to show only what is in the space explicitly and for any "orphaned" builds users will go directly to jenkins and browse ?

[2017-09-19 03:38] joshuawilson commented on #892
_From @sbose78 on July 10, 2017 19:54_

Here's a way to manually fix the problem
https://github.com/openshiftio/openshift.io/wiki/FAQ#my-pipelines-are-not-being-properly-filtered-by-my-space

On Jul 10, 2017 11:14 PM, "Max Rydahl Andersen" <notifications@github.com>
wrote:

[2017-09-19 03:38] joshuawilson commented on #892
_From @jstrachan on July 11, 2017 6:6_

@maxandersen its not just BuildConfigs / Builds we use the same logic for all kubernetes resources too (Deployments / Services / Pods / ConfigMaps etc). Having an 'All Space' seems more consistent and avoids having a mostly broken UI where stuff goes invisible.

Remember in OpenShift folks can create BCs via the CLI or OpenShift console which don't know to a

[2017-09-19 03:39] joshuawilson opened #893 "Quickstart wizard should have a back button"
_From @joshuawilson on June 21, 2017 5:16_

_From @mishaone on June 21, 2017 4:57_

The 5 step wizard for the quickstart app menu has a next and finished option, but should have a back option as well to go to a former step in the process to change something if required. At the moment the only workaround for this is to quit the process and start again from scratch.

How to replicate:
1. Add to spac

[2017-09-19 03:39] joshuawilson commented on #893
@mishaone I'm not sure the API we are using can support going back. @mitchharpur or @corinnekrych can you please confirm.

[2017-09-19 03:39] joshuawilson commented on #893
With the changes we are making, this may be possible in the hear term.

[2017-09-19 03:39] joshuawilson commented on #893
_From @corinnekrych on August 8, 2017 12:14_

@joshuawilson with the patternfly wizard there is a back button:
https://github.com/patternfly/patternfly-ng/blob/master/src/app/wizard/wizard.component.ts#L50

cc: @catrobson do we want to be able to go back?

[2017-09-19 03:39] joshuawilson commented on #893
_From @catrobson on August 8, 2017 12:31_

@corinnekrych yes, we'd like to be able to allow the user to go back and change things on previous steps.  I *think* that the API changes that James was working on would enable us to do that.

[2017-09-19 03:39] joshuawilson commented on #893
_From @corinnekrych on August 8, 2017 12:38_

if we're in quickstart wizard and we want to go back, I think we only need to send an http call with previous params. No nee to change anything to forge add-on (ie: no API changes required).
@catrobson I think atm this is more a UI limitation.
@jstrachan could you confirm?

[2017-09-19 03:39] joshuawilson commented on #893
@jstrachan were you able to update the Forge REST endpoint to support fetching the needed info and validation on Finish?

[2017-09-19 03:39] joshuawilson commented on #893
_From @jstrachan on August 8, 2017 12:51_

@corinnekrych the client side should be able to move back at any time really without talking to the forge server side

@joshuawilson no I've not yet had chance to reimplement the server side forge wizard on the client side with the associated new REST API on the server and used on the client; its a more long term change when my TODO list is much shorter

[2017-09-19 03:40] joshuawilson opened #894 "Intermittent error - codebase not created when a new project is created"
_From @ldimaggi on June 20, 2017 17:30_

Steps to recreate:
* Create a new space
* Add to space - via Quickstart wizard - Vert.X project
* Observe that sometimes - (10%?) of the time - the codebase is not created - no error is logged to the UI or to the Chrome console

Assigning to ldimaggi to investigate - is anyone else seeing this?

_Copied from original issue: fabric8-ui/fabric8-ui#1552_

[2017-09-19 03:40] joshuawilson commented on #894
Can you confirm that the codebase does NOT get created in github, not just on the codebases page?

[2017-09-19 03:40] joshuawilson commented on #894
_From @ldimaggi on June 20, 2017 18:49_

Thanks for the reminder - the github repo is created.

[2017-09-19 03:40] joshuawilson commented on #894
@corinnekrych I think this is an issue in the app-wizard

[2017-09-19 03:40] joshuawilson opened #895 "Redirect loop"
_From @skabashnyuk on June 19, 2017 14:0_

After opening "View Pipeline Runs" in separate browser tab I have infinite redirect loop
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/1614429/27288828-aca1f450-5510-11e7-820a-2f5ab0bd815b.gif)

_Copied from original issue: fabric8-ui/fabric8-ui#1539_

[2017-09-19 03:40] joshuawilson commented on #895
That looks interesting, we'll have to investigate.

[2017-09-19 03:42] joshuawilson opened #896 "We should be able to stop and delete a workspace from the codebase UI"
_From @l0rd on June 16, 2017 14:18_

Users are not able to clean-up workspaces right now and look for workarounds like using [Che dashboard](https://github.com/redhat-developer/rh-che/issues/105).

Some discussions about porting Che dashboard functionalities to the codebase UI have already been initiated. But having stop and delete buttons is really the minimum otherwise we won't be able to remove

[2017-09-19 03:42] joshuawilson commented on #896
I'm still not sure how much functionality makes sense to add to the codebases page. That said, we should discuss it here.

cc @maxandersen @aslakknutsen @catrobson

[2017-09-19 03:42] joshuawilson commented on #896
The status/open-for-dev label is for issues that have a clear specification. This one needs discussion.

[2017-09-19 03:42] joshuawilson commented on #896
@catrobson we are going to need to work with @l0rd and the che team to figure out how we either change the Codebases page or what a Workspaces page would look like so that we can provide the che controls that are needed.

[2017-09-19 03:42] joshuawilson commented on #896
_From @slemeur on August 8, 2017 11:56_

I worked on the following set of specifications for these use cases:
https://redhat.invisionapp.com/share/94CH0VNV5

I think it covers what is needed, but we can refined them and scope them. First goal would be to only allow browsing the existing workspaces and deleting them from a new "Workspaces" tab. We can then add the other capabilities.

[2017-09-19 03:42] joshuawilson commented on #896
The visuals you provided appear releated to https://github.com/fabric8-ui/fabric8-ui/issues/1825

[2017-09-19 03:42] joshuawilson commented on #896
_From @slemeur on August 8, 2017 13:19_

@joshuawilson: They are also providing mockups for what a "Workspaces page" would look like.

[2017-09-19 03:43] joshuawilson opened #897 "New project creation - builds are failing - project jar not found - root cause is that over time, a user's Maven .m2 PV can run out of space"
_From @ldimaggi on June 16, 2017 3:6_

Create new project fails - build fails - project jar is not found:

https://jenkins-almusertest1-jenkins.8a09.starter-us-east-2.openshiftapps.com/job/almightytest/job/june16a/job/master/1/console

`
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-install-plugin:2.5.2:install (default-install) on project june16a: Failed to install artifact com.ex

[2017-09-19 03:43] joshuawilson commented on #897
_From @ldimaggi on June 16, 2017 16:53_

I think that the root cause of this is that the Jenkins services can not be scaled up or down, For the Jenkins service, the up/down icons are disabled.

How does the user resolve debug/resolve this issue?

![screenshot from 2017-06-16 12-35-43](https://user-images.githubusercontent.com/642621/27236377-c88e3e06-5292-11e7-836c-a3184c04450a.png)

[2017-09-19 03:43] joshuawilson commented on #897
@jstrachan do you have any ideas on this?

[2017-09-19 03:43] joshuawilson commented on #897
@ldimaggi Please specify the steps to reproduce.

[2017-09-19 03:43] joshuawilson commented on #897
_From @rawlingsj on June 16, 2017 20:53_

` Failed to install artifact com.example:june16a:jar:1.0.1: /root/.mvnrepository` sounds like you've run out of diskspace on the .m2 PV.  We only have 1GB per PV and the .m2 dir is mounted on one.  If you're running lots of tests then I'd say this is probably the issue.

To trash the PV (persistent volume) you need to delete the `jenkins-mvn-local-repo` PV

[2017-09-19 03:43] joshuawilson commented on #897
_From @ldimaggi on June 18, 2017 3:56_

Thanks - but that did not resolve this.

[2017-09-19 03:43] joshuawilson commented on #897
_From @rawlingsj on June 20, 2017 17:36_

So you deleted the PVC and get the exact same error with the new empty PV?

Does this happen on a fresh create project wizard too?  Only this seem to be the only occurrence of this error so am surprised at the steps to recreate.  I've been able to create vertx quickstarts and run their pipelines.

[2017-09-19 03:43] joshuawilson commented on #897
_From @ldimaggi on June 20, 2017 19:8_

Yes - watch the screencasts here - just ran the test again today:

https://drive.google.com/drive/folders/0B1s-ZoxD8FjUZmRjcE1rRG1QWjg?usp=sharing

[2017-09-19 03:43] joshuawilson commented on #897
_From @ldimaggi on June 21, 2017 13:46_

James discovered that:

Over time, a user's maven .m2 Persistent Volume runs out of space - as does the user's content repo

Current solution is to create a Jenkinfile that mounts the .m2 folder and runs rm - rf