[2018-08-02 13:34] GeorgeActon commented on #4050
@msrb I set this to p4 which is 'normal' if it is more urgent than that then change the prioirity to either p2 or p3

[2018-08-02 13:49] GeorgeActon commented on #3955
@rgarg1 I just verified this is fixed in production. re-open this defect if you are not satisfied

[2018-08-02 13:49] #3955 closed

[2018-08-02 14:01] GeorgeActon commented on #3963
@michaelkleinhenz My input: I would prefer a mechanism like a right click on the + sign which then lets me choose the type of child I want to add instead of immediately popping open a line which requires a second click to select the correct type of child.

[2018-08-02 15:10] GeorgeActon commented on #3239
@jyasveer any update on whether thie PR broke the tests? If it did this should be re-opened.

[2018-08-02 15:16] aptmac commented on #3239
The PR in question did break the unit tests, more specifically it's failing here [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/analytics.service.spec.ts#L64), because of [[1]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/analytics.service.ts#L87).

[0] https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/analytics.service.spec.ts#L6

[2018-08-02 16:26] hrishin commented on #3796
@ppitonak thanks for sharing logs. Let us confirm if its an issue with maven repository setting or network issue.

[2018-08-02 18:02] #3239 closed

[2018-08-02 18:04] jyasveer commented on #3239
@GeorgeActon This is a weird scenario, the tests in this PR passed in the PR build but it did fail in the commit build. We fixed this now. Tests passed in the build.

[2018-08-02 18:46] ldimaggi commented on #3934
Still consistently seeing this - the user account is provisioned on the starter-us-east-2 cluster:
![screenshot from 2018-08-02 14-43-28](https://user-images.githubusercontent.com/642621/43604048-bd7850c8-9662-11e8-8583-3b46f2470c1c.png)

The problem eventually resolves itself, but it can take up to 15 minutes to resolve.

[2018-08-02 18:47] ldimaggi commented on #3934
Setting the priority to P2 as, while this is not a blocker for the user, it causes frequent/constant delays.

[2018-08-02 19:08] piyush1594 commented on #3934
@ldimaggi The issue has been identified and resolved today as a part of #3956 It is on way to prod. @aslakknutsen Can we get a tenant updated to version 4.0.97. PR already raised at https://github.com/openshiftio/saas-openshiftio/pull/1014

[2018-08-02 20:06] ldimaggi commented on #4115
The E2E tests are also starting to see this error:

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/426/05-01-pipeline-failed.png

[2018-08-02 20:57] ldimaggi opened #4121 "Seeing persistent/repeated 'persistentvolumeclaim "jenkins-home" not found' errors after OSIO env reset"
For a user (my user account) provisioned on starter-us-east-2 - after an OSIO env reset, jenkins pod fails to start. Event log includes:

[code]

This issue appeared today after the resolution of:    #3934

[2018-08-02 21:10] ldimaggi commented on #3934
Still seeing this problem:

![screenshot from 2018-08-02 17-09-38](https://user-images.githubusercontent.com/642621/43611384-f1192a4c-9676-11e8-9172-d28eb5afe483.png)

[2018-08-03 00:47] chmouel commented on #3956
Any chance if we can have numbers of a couple of run it takes to first boot /unidle before closing this?

[2018-08-03 01:02] #3602 closed

[2018-08-03 04:29] kishansagathiya commented on #3895
Updated the description as per recent developments

[2018-08-03 05:25] hrishin commented on #3934
@ldimaggi readiness probs could show such behavior for some time since Jenkins is still taking some time to start. Now the fix we have production has reduced Jenkins access time significantly.
As a user are you facing too much delays to access Jenkins dashboard or start builds?

[2018-08-03 06:09] invincibleJai opened #4122 "Sorting order of Sprint under Train in menu"
I liked the view where we show all associated Sprints under a train along with dates, it is very useful.

What I observed is sprint's are not sorted i.e 154 appears before 155. I feel it would be a value add form User pov to have it as per date of creation or sprint number.

Feel free to close it if it's desired behaviour.

<img width="604" alt="screen shot 2018-08-03 at 11 31 40 am" src="https://

[2018-08-03 07:01] Preeticp commented on #4122
+1 @invincibleJai I have pointed this out to the team as well. You will notice the alphabetical order of the train is disrupted too because of this. Sorting it by date would put Jonquil, Knapweed and lilac in order.

[2018-08-03 11:20] aslakknutsen opened #4123 "Missing index, Seq_Scan on work_item_revisions 1mil reads in 15min on stage (200k table)"
![screenshot from 2018-08-03 13-18-23](https://user-images.githubusercontent.com/132158/43640345-e3592962-971f-11e8-8da2-c274117b3c17.png)

[2018-08-03 12:30] mvulavak commented on #4080
@samuzzal-choudhury  Could you please assign the team to which this belongs to?

[2018-08-03 14:02] kwk opened #4124 "SQL causing 100% CPU usage on stage (not seen on prod yet, stage has more data)"
originally reported here https://github.com/fabric8-services/fabric8-wit/issues/2210 by @aslakknutsen

[2018-08-03 14:12] GeorgeActon commented on #2228
Retested this today. This error is now trapped correctly
closing the defect

[2018-08-03 14:12] #2228 closed

[2018-08-03 15:09] ldimaggi commented on #3934
The problem described in this issue is now (mostly) being masked by this issue: https://github.com/openshiftio/openshift.io/issues/4121

[2018-08-03 15:28] bartoszmajsak commented on #4019
@ljelinkova can you close that issue if the problem is not occurring anymore?

[2018-08-03 15:51] GeorgeActon commented on #2414
@rgarg1 I shared a repo with you. It looks like this is only a problem in the SDD template?  I can find everything except a task. But I find them in weird places:
In Scenario - I find Scenarios
In Experiences - I find experiences and Value props
In Requirements - I find Features and bugs (which makes no sense from a user perspective)

And it is easy to isolate them , all you have to do is delete t

[2018-08-03 16:09] piyush1594 commented on #4121
@ldimaggi Just to correct you, build team is facing this issue from past 5-6 days and Service Delivery was also informed about that. I discussed this issue with @mmclanerh

This issue is not happening after or because of #3934 This is a different issue happening before that fix also.

The fix we just provided in Jenkins version 4.0.97 is related to #3956 and is affecting the #3934 as Jenkins will

[2018-08-03 16:14] piyush1594 commented on #3934
@ldimaggi This issue is not masked by #4121 That is totally a different issue. More details can be seen here https://github.com/openshiftio/openshift.io/issues/4121#issuecomment-410301108

[2018-08-03 17:20] catrobson commented on #4065
This solution should extend beyond just a Database, and also be able to handle other "Auxiliary" pods in an application such as a message queue, topic queue, etc.

[2018-08-03 19:36] catrobson commented on #4102
@rohitkrai03 proposal looks good to me!

[2018-08-03 20:00] mmclanerh commented on #4121
i would suggest looking at the pvc and clearing off any cruft / old files that arent relevant. i wonder if  the amount of files present have ballooned due to stale/failed workspace clean ups?

[2018-08-04 07:39] sdash-redhat commented on #4065
Based on the last meeting with reference to https://docs.google.com/presentation/d/1bRn63ZVxb24unGGOTscs72UGtUQocgb3Hxhx9w7XCNQ/edit?usp=sharing helped in pointing to one aspect that the current deployments page should be considered from Ops perspective, that will allow us to handle entities in multi container scenarios.

In the similar line, the developer's perspective would be more geared toward

[2018-08-04 15:30] sdash-redhat commented on #4065
There may be 2 personae having user goals as follows --

**1: Web/Application Developer goals:**

- Anything critical of notice from developer's  perspective.
- Application associated CI/CD pipelines
- Application health  --
     -- as mapped with the environments (run, stage, prod etc. )
     -- mapping of each environment and associated containers
- Application and associated services / Storage/

[2018-08-04 15:32] sdash-redhat commented on #4065
![image](https://user-images.githubusercontent.com/27761023/43678020-9fb9cd6e-9829-11e8-9989-0608fec121a4.png)

[2018-08-05 00:04] sdash-redhat commented on #4065
Updated the Google slides https://docs.google.com/presentation/d/1bRn63ZVxb24unGGOTscs72UGtUQocgb3Hxhx9w7XCNQ/edit?usp=sharing
... Especially in slide 5 and 6, I have listed down a sample set of data-points that might reflect

Please have a look and share your thoughts.

@aslakknutsen @joshuawilson @bartoszmajsak @serenamarie125 @catrobson @muruGanesan @parvathyvr

[2018-08-05 00:40] sdash-redhat commented on #4065
Applications View entities ...
![image](https://user-images.githubusercontent.com/27761023/43681612-2e062a4e-9876-11e8-9294-226f33607efe.png)

[2018-08-05 00:41] sdash-redhat commented on #4065
Deployments View entites ...
![image](https://user-images.githubusercontent.com/27761023/43681617-661788ec-9876-11e8-89e8-01671a71cef4.png)

[2018-08-05 23:22] mmclanerh opened #4125 "Update f8-wit to use proper url in prod-preview for osoproxy."
f8 components in prod preview need to make use of the static hostname or local service url (for namespace-internal only requests).

I believe this line here:
https://github.com/fabric8-services/fabric8-wit/blob/86ec0f4cb028222aecd64af77fa3f8bd2c2c8a80/config.yaml#L93

Needs to change to https://osoproxy.prod-preview.openshift.io

pretty much, anywhere that this exists:
"f8osoproxy-test-dsaas-previ

[2018-08-05 23:25] mmclanerh commented on #2114
this probably needs an update with regard to which pieces are already using errortracking service

[2018-08-05 23:37] mmclanerh opened #4126 "Update f8-ui to use proper url in prod-preview for osproxy"
f8 components in prod preview need to make use of the static hostname or local service url (for namespace-internal only requests).

I believe these lines here:
https://github.com/fabric8-ui/fabric8-planner/blob/91331760218b852bfbb09b63f8e2c76c4df30057/cico_setup.sh#L72-L73

Needs to change to osoproxy.prod-preview.openshift.io

pretty much, anywhere that this exists:
"f8osoproxy-test-dsaas-preview

[2018-08-06 00:12] catrobson commented on #2969
Should this be closed @debloper since it is a duplicate?

[2018-08-06 00:14] catrobson commented on #2968
Keyboard actions being defined in #3829.

[2018-08-06 00:17] catrobson commented on #2946
Tried in planner, and it is showing the creator icon as my own when adding fundamental using quick add.  @sanbornsen @Veethika could you both verify as well by testing this flow and we can close if it is resolved?

[2018-08-06 03:30] kishansagathiya opened #4127 "jenkins-idler: No need to unidle/idle `content-reposiory` once it is removed"
There is an effort to remove content repository with these PRs
https://github.com/fabric8io/fabric8-pipeline-library/pull/409
https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/108

Idler has code to idle and unidle content repository. This will have to be changed

[2018-08-06 05:49] vikram-raj commented on #3227
@pmacik I am not able to reproduce this issue. Can you please verify.

[2018-08-06 06:03] vikram-raj commented on #4089
@kishansagathiya I follow your steps but not able to reproduce this issue. and Is ```create a new codebase``` is selected by default for you when you land to ```Create an Application``` page?

[2018-08-06 06:10] sivaavkd commented on #3961
Yes, please close this @abs51295

[2018-08-06 06:12] #3961 closed

[2018-08-06 06:34] kishansagathiya commented on #4089
Just tried. It's not selected by default. My bad. Let me remove that part from the description.

[2018-08-06 06:34] ljelinkova commented on #4019
Ok, closing the issue.

[2018-08-06 06:34] #4019 closed

[2018-08-06 06:38] kishansagathiya opened #4128 "Store Builds object to analyze later"
Store Builds object such that it remains even after reset environment (this is for analyze logs),
Find/Make smart ways to get info from these logs

[2018-08-06 07:07] #4035 closed

[2018-08-06 07:40] rgarg1 commented on #2414
Yes @GeorgeActon. The defect was logged against SDD template as due to type groups, orphan tasks went missing from the view. This problem does not exist in the Agile template as there are no type groups.

[2018-08-06 07:51] samuzzal-choudhury commented on #4100
All identified tasks were completed. Hence, closing.

[2018-08-06 07:51] #4100 closed

[2018-08-06 08:11] ljelinkova commented on #4115
It just happened to me too.

[2018-08-06 08:14] msrb opened #4129 "Research - figure out how to compare versions in Golang"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/323

[2018-08-06 08:16] msrb opened #4130 "Refine nvdlib"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/96

[2018-08-06 08:20] msrb opened #4131 "Review old false positives"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/88

[2018-08-06 09:35] aslakknutsen commented on #4121
Not investigated this specifically, but it looks very similar to another issue from Friday.

Essentially this can happen due to a Reset; Clean & Apply.

Clean return 'deleted ok', but when Apply happens multiple seconds later, the PVC is still not deleted from Openshift, so Apply end up Updating the PVC instead of recreating it. Openshift then later comes around and Deletes the PVC.

A second Rese

[2018-08-06 09:55] RanjithRV commented on #2576
@jeffmaury @eivantsov Can we close this issue? Is the proposed solution a workaround or expected behaviour?

[2018-08-06 11:56] sara-02 commented on #4032
The normalized data format that will be added under the `hpf-insights/maven/training/feedback.json` is :
[code]
The bucket name and file path is loaded from env.
The current feedback will use only `recommendation_type`: `companion`. So the Postgres query to collect and normalize data should be parameterized for getting `only alternative or only companion or both`.

[2018-08-06 12:08] Preeticp commented on #833
Sounds good to me @samuzzal-choudhury will work on those and close this issue.

[2018-08-06 12:22] sara-02 opened #4132 "Markdown not rendered properly in Planner Comment section"
I was trying to add the following content under the comment section, but it did not render properly.
Expected comment:
[code]
Erroronus comment:
[code]
Visible at issue: https://openshift.io/openshiftio/Openshift_io/plan/detail/227

[2018-08-06 12:36] Veethika commented on #2946
@catrobson this issue is resolved, we can close it.

[2018-08-06 13:04] kpiwko commented on #3569
@ljelinkova can we close this one? I believe it has been already worked around, wasn't it?

Thanks!

[2018-08-06 13:05] ljelinkova commented on #3569
Sure, closing it now.

[2018-08-06 13:05] #3569 closed

[2018-08-06 13:39] Veethika opened #4133 "Custom Query Builder + Query Tab"
As an OSIO user I would like to be able to create custom queries into the Planner and have the results shown in a view so that I can clearly filter for the specific information I need to help make decisions and measure status.

### **Acceptance Criteria**
- [ ] Being able to create fully arbitrary queries and execute them.
- [ ] Having the result of above query displayed using the existing views (

[2018-08-06 13:44] Veethika commented on #3988
Back-end story for implementing the feature: https://openshift.io/openshiftio/Openshift_io/plan/detail/76

[2018-08-06 13:45] #4116 closed

[2018-08-06 13:49] jarifibrahim commented on #4132
The issue exists due to double escaping of the content.

https://github.com/fabric8-services/fabric8-wit/blob/master/controller/comments.go#L211-L224

[2018-08-06 13:51] Preeticp commented on #833
@samuzzal-choudhury please review and merge this PR if it seems alright: https://github.com/fabric8-analytics/fabric8-analytics-server/pull/360

[2018-08-06 14:11] sdash-redhat commented on #3791
Refer to https://github.com/openshiftio/openshift.io/issues/4065 regarding the ideation on Deployments page.
Also some associated useful links:
https://docs.google.com/presentation/d/1bRn63ZVxb24unGGOTscs72UGtUQocgb3Hxhx9w7XCNQ/edit?usp=sharing

[2018-08-06 14:11] parvathyvr commented on #3704
The invision link with the VD explorations of the 'initial launcher screen' considering the feedback points is captured in this task.
-But putting the 'status' as blocked since this task will be moved ahead only based on the outcome of the design thinking sessions for the launcher experience.

[2018-08-06 14:48] catrobson commented on #2946
Closing issue as no longer reproducible, appears to be fixed in production.

[2018-08-06 14:48] #2946 closed

[2018-08-06 14:49] ldimaggi commented on #4006
These issue is still being seen in production:

[code]

[2018-08-06 17:27] #4125 closed

[2018-08-06 17:31] mmclanerh commented on #4126
created pr https://github.com/openshiftio/saas-openshiftio/pull/1018   hopefully, that's the right path.

[2018-08-06 23:28] sthaha commented on #4006
@ldimaggi Although the issue has been fixed, it takes a while for the changes to be rolled out to prod.
I see that you reopened the issue around the time we had updated the files related to tenant jenkins - https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/115 . The image that contains the fix is v54eaba6
I am going to close the issue, please reopen if you still see the bug in that i

[2018-08-06 23:46] #3895 closed

[2018-08-07 02:15] piyush1594 commented on #3742
@bartoszmajsak This is still not fixed, reopening it. That PR is still reproducing it if call to push code takes time and create webhook happens before that.

[2018-08-07 04:05] Preeticp commented on #833
Fixed via https://github.com/fabric8-analytics/fabric8-analytics-server/pull/360

[2018-08-07 04:05] #833 closed

[2018-08-07 04:59] miteshvp commented on #843
rewired the logic to not rely on the said key - https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/commit/08fe9261be9520a43b4fb7cff55a1dd8a15b4747#diff-da74cad2a6a25f1b6964fd31d23df6e6L29
@abs51295 - can you please make sure, README's are corrected for `stack-analysis` and `common` repo, and tests are corrected again in these repo if needed

[2018-08-07 05:11] hrishin commented on #3442
@jfchevrette may be this was related issue  #https://github.com/openshiftio/openshift.io/issues/3956 and fix is in production.

[2018-08-07 07:15] lordofthejars opened #4134 "Use a custom Update center for Jenkins instead of public one"
If a plugin is not specified in plugins.txt but it is required transitively then Jenkins goes to configured update center and downloads the latest version, even if this version is not compatible with current Jenkins version.

This causes some errors like https://github.com/openshiftio/openshift.io/issues/4006

One possible solution to fix this would be to have a custom plugins update center with t

[2018-08-07 08:57] lordofthejars commented on #3604
@sthaha can we close this issue? I guess that for now and in middle term we are going to be stick to Jenkins, so maybe in the future, if we want to change/investigate another thing we could open a new issue or reopen this one.

[2018-08-07 08:57] lordofthejars commented on #3617
@sthaha can we close this issue? I guess that for now and in middle term we are going to be stick to Jenkins, so maybe in the future, if we want to change/investigate another thing we could open a new issue or reopen this one.

[2018-08-07 09:08] chmouel commented on #3989
Jaime == @jmelis

[2018-08-07 09:30] #3617 closed

[2018-08-07 09:31] #3604 closed

[2018-08-07 09:39] vikram-raj commented on #3927
@catrobson We need UX input on this.

[2018-08-07 10:40] lordofthejars commented on #2834
@sthaha Since `content-repository` is going to be removed, can we close this issue?

[2018-08-07 11:13] rupalibehera opened #4135 "Move kubernetes model CI job to CICO"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/296

[2018-08-07 11:17] rupalibehera commented on #4135
https://github.com/openshiftio/openshiftio-cico-jobs/pull/739
Job link -> https://ci.centos.org/job/devtools-kubernetes-model/1/
and PR raised with required build scripts - https://github.com/fabric8io/kubernetes-model/pull/335

[2018-08-07 11:21] rupalibehera opened #4136 "Move kubernetes-model CD job to CICO"
Planner: : https://openshift.io/openshiftio/Openshift_io/plan/detail/295

[2018-08-07 11:26] ppitonak commented on #4006
@sthaha it will go to production with https://github.com/openshiftio/saas-openshiftio/pull/1013, won't it?

[2018-08-07 11:38] abs51295 commented on #843
@tisnik will take this forward. cc: @sivaavkd

[2018-08-07 11:40] piyush1594 commented on #4006
@ppitonak It was an issue in jenkins image not proxy, i will be available in next jenkins tenant update.

[2018-08-07 12:06] tisnik commented on #843
@abs51295 is it changed in unit tests as well?

[2018-08-07 12:29] rupalibehera commented on #4135
Upstream issue to accept the invitation sent to `centos-ci` github user - https://bugs.centos.org/view.php?id=15149

[2018-08-07 12:52] sthaha opened #4137 "Build services should rely on new sso endpoints instead of keycloak"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/77

[2018-08-07 13:10] bartoszmajsak commented on #3927
@vikram-raj can you share a bit more context on what kind of UX input do we need?

I would think of investigating if showing partial results of all repositories user has is a bug in the application logic or limitation of the UI component we are using in parallel. Would this approach make sense?

[2018-08-07 13:18] GeorgeActon commented on #1777
@krishnapaparaju @miteshvp I think we did this work and this story is just widowed. If so can you close it? If not it needs to be in the backlog in planner

[2018-08-07 13:27] GeorgeActon commented on #1077
@tisnik @msrb  Is this still relevant? If so it should be moved to planner back log.
if it is already done labels should be updated andit should be closed.

[2018-08-07 13:30] hrishin commented on #3058
Its good to close now. As build is reporting a correct error message if S2I builds fails.

[code]

[2018-08-07 13:32] rupalibehera commented on #3897
@lordofthejars , @kishansagathiya means that that archive the repository which is not in use

[2018-08-07 13:33] lordofthejars commented on #3897
@rupalibehera in GitHub you mean right?

[2018-08-07 13:35] hrishin commented on #3897
@lordofthejars @rupalibehera @kishansagathiya I've archived the https://github.com/fabric8io/kubernetes-pipeline-plugin.

This issue would be addressed in a better way with https://openshift.io/openshiftio/Openshift_io/plan/detail/343.

[2018-08-07 13:35] GeorgeActon commented on #744
@krishnapaparaju @miteshvp Should this be a brief?

[2018-08-07 13:38] lordofthejars commented on #3897
@hrishin @kishansagathiya @rupalibehera Ok I have no rights to do it so, I unassign this issue.

[2018-08-07 13:51] sthaha commented on #2834
@lordofthejars yes, we can close this as won't fix as content-repository would be going away.
@fabricepipart I am interested to know if the `content-repository` has been of any use to you?

[2018-08-07 13:51] #2834 closed

[2018-08-07 13:56] catrobson commented on #3927
+1 - I need to understand the technical constraints we need to work within in order to give UX/Design guidance on this.

[2018-08-07 14:04] #3897 closed

[2018-08-07 14:13] hrishin commented on #3934
@ldimaggi still observing this issue on prod?

![image](https://user-images.githubusercontent.com/28615674/43781114-cb7554da-9a79-11e8-806f-154621f691e0.png)

503 frequency has dropped extensively by now. Other improvements are on the way which could descrese Jenkins boot time from 2-3 minutes to around 40 seconds .

[2018-08-07 15:13] GeorgeActon commented on #3239
@jyasveer Remember to update planner status when work is done

[2018-08-07 15:15] chrislessard opened #4138 "Should we change the way we handle long work item descriptions ?"
I've looked at a few work items now with lengthy descriptions and I've been confused each time. ATM, if a work item description is too long, then a button bearing the words "show more" is displayed below it, to the right. Clicking this will show the rest of the text.

As it stands there is no functional issue here, but I do wonder a bit about the design. Normally, as a dev, I will read the item de

[2018-08-07 16:29] abs51295 commented on #843
@tisnik yes the unit tests have been updated accordingly.

[2018-08-07 16:51] abs51295 commented on #843
Yes, the outlier dict from server will now reflect the `frequency_count` parameter instead of `outlier_prbability` and the value of the variable will be >=0.

[2018-08-07 18:25] fabricepipart commented on #2834
@sthaha No the content repository was not necessarily useful. I did not really need to publish my mvn artefacts (only the docker push is needed).
But if the content-repository is removed, then I would expect that OpenShift.io templates take this into consideration and that fabric8 pipeline libraries would not deploy anymore. Because, here I just followed the provided templates to end in that situa

[2018-08-07 18:27] dkranz opened #4139 "mvn build fails when following getting started guide"
I was following the guide. When I got to section 5.15 where you click the Run button in the new Che workspace I saw the following error:

scl enable rh-maven33 'mvn compile vertx:run -f -Dvertx.disableDnsResolver=true'https://routeyls1kykd-dkranz-che.9a6d.starter-us-east-1a.openshiftapps.com
Unable to parse command line options: Missing argument for option: f

usage: mvn [options] [<goal(s)>] [<ph

[2018-08-07 18:30] bartoszmajsak commented on #4139
Thanks for detailed report @dkranz! This seems to be a duplicate of https://github.com/openshiftio/openshift.io/issues/2152 - in such a case could you subscribe to that issue and close this one?

[2018-08-07 18:33] #4139 closed

[2018-08-07 18:37] dkranz commented on #2152
Is there any way to work around this and continue with the Getting Started?

[2018-08-07 18:54] piyush1594 commented on #4006
@ppitonak @ldimaggi This is in prod now, just update your tenant to Jenkins version 4.0.99

Closing this. Thanks

[2018-08-07 18:54] #4006 closed

[2018-08-07 20:41] mmclanerh commented on #4126
above pr was merged.. opened new pr to fabric8-ui repo to get a build kicked off prod-preview env:

https://github.com/fabric8-ui/fabric8-ui/pull/3240

[2018-08-07 21:19] bartoszmajsak opened #4140 "Pipeline selection not updated after changing the runtime"
When enabling new runtimes, such as NodeJS, pipeline selection is not updated and always point to Maven. This results in wrong `Jenkinsfile` being seeded in the generated repository.

Related to https://github.com/openshiftio/openshift.io/issues/3282

[2018-08-07 23:52] sthaha commented on #2834
@fabricepipart thanks and we have incorporated changes  into various components of openshift.io that directly or indirectly assumed content-repository service is available.

[2018-08-08 04:41] rhopp commented on #4139
@bartoszmajsak To me it seems more like duplicate of https://github.com/openshiftio/openshift.io/issues/2856 (the macro `${current.project.path}` sometimes returns empty string - and because of that the build fails... the option `-f` expects an argument)
This was also reported upstream (https://github.com/eclipse/che/issues/9321), but unfortunately it was closed, even though I provided steps to re

[2018-08-08 05:24] #4080 closed

[2018-08-08 05:59] bartoszmajsak commented on #4139
@rhopp Well, then we have two cases where `-f` is causing trouble. For Vertx and it's what you described, for WF Swarm/Thorntail it's https://issues.jboss.org/browse/THORN-2049

Would be good to understand what is this "sometimes" you mention :)

[2018-08-08 06:02] rhopp commented on #4139
@bartoszmajsak One of the use-cases where it's 100% reproducible is described in this comment: https://github.com/eclipse/che/issues/9321#issuecomment-409487175 and the screencast of that is in the comment below that ;-)

[2018-08-08 06:43] vikram-raj commented on #3927
@bartoszmajsak @catrobson Currently we are showing only first 20 repositories in the dropdown. So, is it require to show all the repositories? Keep in mind that it is typeahead dropdown and we show the repositories as user type the name of repositories.

[2018-08-08 07:34] invincibleJai commented on #4091
@samuzzal-choudhury have completed this task as planned, hence closing it.

CC @miteshvp @sivaavkd

[2018-08-08 07:34] #4091 closed

[2018-08-08 07:52] msrb opened #4141 "Services in analytics should fetch public keys from the Auth Service endpoint"
**Planner link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/78

[2018-08-08 08:18] piyush-garg opened #4142 "No feedback to user if Repository name is not available"
Steps to recreate

1. Click `Create Application`
2. Choose `Application Name` same as one of your already existing repositories
3. Choose `Create Codebase`
4. Proceed further, choose mission and runtime, pipelines etc.
5. When you reach the repository name page, you will get no feedback and not be able to proceed further.

![github-repo-name](https://user-images.githubusercontent.com/19270240/4382

[2018-08-08 08:42] ia3andy commented on #3997
This is not really a bug - it's just due to the fact that in OSIO flow it's not possible to change the version. So when you select "Externalized Configuration" mission, you actually have a "Spring boot" compatible, but when you select the runtime (the default behavior is to pre-select the first version), then the selected version is not compatible with the "Externalized Configuration".

To fix it,

[2018-08-08 09:08] ia3andy commented on #3997
In the osio catalog, I see two spring-boot version:
[code]

and

[code]

I think only the current-osio should be compatible with osio no?

[2018-08-08 09:27] ia3andy commented on #3997
I checked the catalog, and this seems to cause the problem:
[code]

the `current-redhat` version is used for `health-check` and `rest-http`
the `current-osio` version is used for `configmap`

When you select the `spring-boot` runtime, the `current-osio` version gets selected so `configmap` is available...

When you select the the `rest-http` mission first, the `current-redhat` version for `spring-

[2018-08-08 09:49] bartoszmajsak commented on #123
This requires a bit of automation too. All the jenkinsfiles are sourced from this repo https://github.com/fabric8io/fabric8-jenkinsfile-library, so whenever we have a new version and know it works (testing? ;)) - we should trigger update to this repo accordingly.

[2018-08-08 10:10] sdash-redhat commented on #4065
Based on the last discussion, these explorations we will use for a long-term solution. Looking at the current scope of 'J' train I will provide designs for the existing implementation that will address the requirements of J train.

@serenamarie125 @catrobson @muruGanesan @joshuawilson @aslakknutsen

[2018-08-08 10:48] ia3andy commented on #3997
@quintesse suggested to change the behaviour of runtime selection by not using the version to narrow down the compatible mission. I think it is the best solution.

[2018-08-08 11:00] msrb opened #4143 "[f8a] firehose-fetcher: ValueError: invalid literal for int() with base 16: b'"
From logs:

[code]

[2018-08-08 11:18] lordofthejars commented on #123
@bartoszmajsak I have seen that all these things are already done, see https://github.com/fabric8io/fabric8-pipeline-library/blob/master/release.groovy#L19 so the question is if it has ever used (my bets are that it is since there are a lot of tags on repo). So the real question is why this was not used since 2017?

@sthaha @piyush1594 @rupalibehera @kishansagathiya Do you know anything about this

[2018-08-08 11:44] #3956 closed

[2018-08-08 12:14] ppitonak commented on #4006
Verified in prod

[2018-08-08 12:19] miteshvp commented on #1777
Marking this item as closed. Relevant numbers are published here - https://docs.google.com/spreadsheets/d/1xfc_gxPdp-sNkw3gNqe4KLC2wN_IQC1B11NFxIiWc2w/edit?usp=sharing

[2018-08-08 12:19] #1777 closed

[2018-08-08 12:30] miteshvp commented on #843
@abs51295 `>=0` vs between `0 .. 1` has different meaning. Can you change the tests accordingly if not done. Else, please close this issue once tests are modified. Thanks.

[2018-08-08 12:45] catrobson opened #4144 "Filters should not show "filter by ___" in dropdown"
In any planner filters, the "filter by _<attribute>__" item should not be shown in the dropdown as a selectable item.

![image](https://user-images.githubusercontent.com/3739227/43837662-376f1de8-9ae7-11e8-91f5-b2cba10624a2.png)

@Veethika FYI

[2018-08-08 13:56] catrobson commented on #3927
Yes, we would want to show all repositories the user has ideally, in alphabetical order as Len states.  Ideally it would be great if we could show the 5 most recent at the top of the dropdown, but this is a nice to have.  The type-ahead would then filter down the list, not search for things not in the list.

Example of a dropdown field like this:
![image](https://user-images.githubusercontent.com/

[2018-08-08 14:02] abs51295 commented on #843
@miteshvp @tisnik is taking care of the tests.

[2018-08-08 14:09] mmclanerh commented on #4126
Good deal! This is now done as of: https://github.com/fabric8-ui/fabric8-ui/pull/3239

[2018-08-08 14:09] #4126 closed

[2018-08-08 14:17] chmouel opened #4145 "Implement shared PVC for build artifacts"
in order to get ride of the content-repository we nee dto be able to share artifacts created in previous build and the best way seems to use a PVC between the build system :

- [ ] Create a PVC with ReadWriteMany for jenkins-openshift
- [ ] Have jenkins-pipeline mounting this pvc on every build when starting a new pod
- [ ] Make f-m-p write to a local file instead of a remote http for content-repo

[2018-08-08 14:34] vikram-raj commented on #3927
@catrobson What will be the max height of the dropdown?

[2018-08-08 14:56] tinakurian opened #4146 "Wildfly Red Hat Boosters Fail on Jenkins PR Build"
When enabling Red Hat Wildfly boosters Jenkins builds fail for pull requests.

See attached logs.

[wildflyredhat-http.txt](https://github.com/openshiftio/openshift.io/files/2270700/wildflyredhat-http.txt)
[wildflyredhat-config.txt](https://github.com/openshiftio/openshift.io/files/2270698/wildflyredhat-config.txt)
[wildflyredhat-health.txt](https://github.com/openshiftio/openshift.io/files/227069

[2018-08-08 15:48] Veethika commented on #4144
@catrobson - @sunilmalagi has redesigned the drop-down and taken care of the mentioned problem. Here's the InVision link: https://redhat.invisionapp.com/share/E6MUSNDBAQT

Here's the linked GitHub issue: https://github.com/openshiftio/openshift.io/issues/3772
@SMahil shall be able to tell the status.

[2018-08-08 15:54] piyush1594 commented on #3862
Both the features have been added in sync plugin as we are scheduling job one by one, enabling the feature in Jenkins Configuration will not help. So, added both the fixes in sync plugin

PR which fixes both the issues is https://github.com/fabric8io/jenkins-sync-plugin/pull/40

[2018-08-08 17:00] samuzzal-choudhury commented on #4097
Blocked because of Dev Cluster issue https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2201

[2018-08-08 17:24] kwk opened #4147 "TypeError: Cannot read property 'map' of null"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-ui/issues/6717/

[code]

[2018-08-08 17:25] kwk commented on #4147
@sanbornsen let's talk about this tomorrow, okay? For now we should be good but in order to get the new event responses in we need to improve code like this:

**./node_modules/fabric8-planner/app/models/event.model.js at line 151:30**
[code]

[2018-08-08 17:28] kwk commented on #4147
see @vikram-raj's comment: https://chat.openshift.io/developers/pl/sabkhiyambrzjmipdfntd4dyce

[2018-08-08 18:14] msrb commented on #4145
Please note that local Maven repo is not concurrent-safe: https://issues.apache.org/jira/browse/MNG-2802.

[2018-08-08 18:35] ldimaggi opened #4148 "When creating new Thorntail quickstart, SOIO UI reports spurious 'incomplete section' error and blocks user in UI"
Steps to recreate:
* Log onto https://openshift.io (production)
* Create new space
* Create new app - REST/Thorntail
* Observe that an 'incomplete section' error is displayed (see screenshots below)
* Ignore the error and attempt to create the app
* Observe that the user cannot exit from the launcher and must manually return to the https://openshift.io URL

![1](https://user-images.githubuserconte

[2018-08-08 18:45] sunilk747 commented on #4071
This PR - https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/118 fixes this issue.

[2018-08-08 18:45] #4071 closed

[2018-08-08 18:46] #3946 closed

[2018-08-09 03:05] kishansagathiya commented on #123
@bartoszmajsak

Why is this required? I am under and impression that with a project we use a pipeline library version that is compatible with it. So, a project that was created 6 months ago would be creating a pipeline library version that was released six months ago.
If we do this, below question would be answered in yes

Isn't changing the project with the new pipeline version like using master?

[2018-08-09 03:06] kishansagathiya commented on #123
@lordofthejars

Nope

[2018-08-09 05:07] kishansagathiya commented on #4128
@sthaha The way we get Builds objects is by making API calls to OpenShift through OSO proxy. Currently, the service in the Deployment and Scale that uses this API (watch Builds) is https://github.com/fabric8-services/fabric8-jenkins-idler/
Idler already has Prometheus integrated with it.
I can check if it is already storing Builds objects, if not let's see how we can make this happen.

[2018-08-09 07:44] kishansagathiya commented on #4128
@lordofthejars Sure, Thanks

[2018-08-09 07:58] samuzzal-choudhury commented on #4097
The dev cluster issue is still open, but I am able to scale the services up to 3 and try out different traffic mix for now. Hence, removed the `status/blocked` atm.

[2018-08-09 07:59] kishansagathiya opened #4149 "Jenkins pods are coming up automatically"
Way too many jenkins are up then the usual number.
![screenshot from 2018-08-09 13-23-51](https://user-images.githubusercontent.com/10185999/43885806-9068de70-9bd7-11e8-8e13-6d3510bd550a.png)
I have tried manually scaling down my jenkins pod. It came up automatically all the time.
So I think problem is not with idling, but that jenkins pods are coming up automatically.

cc @sthaha @gorkem

[2018-08-09 08:11] chmouel commented on #4128
You will need to store those build object somewhere, I would imagine to kibana/elasticsearch,  it would be best you chat with the folks from servicedelivery to see how we can do that,

[2018-08-09 08:37] rhopp commented on #3884
I've verified that users in the `che.serviceaccount.lockdown` toggle can start&operate workspaces (I didn't find any issues). I've tried this with user with AND without `user-edit` role in `-che` namepsace. Closing.

[2018-08-09 08:37] #3884 closed

[2018-08-09 09:43] sanketpathak commented on #3227
@vikram-raj @pmacik I also am not able to reproduce the issue

[2018-08-09 10:05] kishansagathiya commented on #4149
being tracked in housekeeping repo

[2018-08-09 10:05] #4149 closed

[2018-08-09 10:06] vikram-raj commented on #3227
Closing this as it is not reproducible. Feel free to open this if you find it again.

[2018-08-09 10:06] #3227 closed

[2018-08-09 10:17] kishansagathiya commented on #4128
@chmouel
Talking to @aslakknutsen I feel like we can just log Build objects in idler.

We already capture all openshift logs and some pod logs. Here is a handy kibana query
[code]
However, from the result of this query, it seems that we are not storing Build objects at the moment.
However, I am not sure what kind of analysis we can do with kibana.
@sthaha can you put some lights on what kind of in

[2018-08-09 10:36] GeorgeActon commented on #4147
@kwk @sanbornsen please assign a severity to this defect.

[2018-08-09 10:55] sanketpathak commented on #3959
@ldimaggi @vikram-raj  I'm not able to reproduce the issue, so closing it.

[2018-08-09 10:57] kwk commented on #4147
@GeorgeActon currently the severity is low because we were able to revert the change that broke the planner ui. But before that it was a SEV1-high.

[2018-08-09 10:59] yzainee opened #4150 "Toggle button should not call analytics scan API"
Currently when the toggle button ( cve_notification) is enabled in the UI, it triggers an API call to the analytics scan. The toggling of the button should not call any scan. The scan is supposed to be called only from the build flow.

Refer to this conversation for more details: https://chat.openshift.io/developers/pl/47c71f8eoirc9ngaz6tmbesk8c.

[2018-08-09 11:30] sanketpathak commented on #3936
@Raunak1203 @vikram-raj  Not able to produce it so closing the issue

[2018-08-09 11:36] samuzzal-choudhury commented on #4097
The results for 300 concurrent user requests for both Maven and NPM mixed traffic is available in this spreadsheet - https://docs.google.com/spreadsheets/d/1xfc_gxPdp-sNkw3gNqe4KLC2wN_IQC1B11NFxIiWc2w/edit#gid=6958124

A housekeeping issue https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2203 has been opened to get acknowledgment about the required resources for running 3 npm-insights servic

[2018-08-09 11:42] sanketpathak commented on #4110
@bartoszmajsak I'm not able to reproduce it, so closing the issue.

[2018-08-09 11:42] #4110 closed

[2018-08-09 11:56] GeorgeActon commented on #3067
Set to Sev2 since it is a regression of a sev2 defect

[2018-08-09 11:56] tinakurian commented on #4146
@ldimaggi  Hey Len, this is for boosters with Red Hat Wildfly enabled, not for REST/Thorntail.

[2018-08-09 12:34] rhopp commented on #4145
Wouldn't this approach have the same troubles with mounting PVC in che workspaces? I guess at least maven repo will probably bloat to few thousands of files quite easily.

[2018-08-09 12:39] vikram-raj commented on #3927
@catrobson I added ```400px``` of ```max-height``` to the dropdown. Is it fine?

[2018-08-09 12:44] vikram-raj commented on #3845
This issue has been fixed and in prod.

[2018-08-09 12:44] #3845 closed

[2018-08-09 12:45] vikram-raj commented on #3205
This issue has been fixed.

[2018-08-09 12:45] #3205 closed

[2018-08-09 12:46] vikram-raj commented on #3640
This issue has been fixed.

[2018-08-09 12:46] #3640 closed

[2018-08-09 12:49] vikram-raj commented on #3943
This issue has been fixed.

[2018-08-09 12:49] #3943 closed

[2018-08-09 12:54] ldimaggi commented on #4121
Still seeing this:
persistentvolumeclaim "jenkins-home" not found52 times in the last 16 minutes

It looks like Aslak is correct - a 2nd reset is needed.

[2018-08-09 12:58] vikram-raj commented on #3960
I am not able to reproduce this. @ldimaggi Are you still seeing ```status: 500``` error in console?

[2018-08-09 13:01] muruGanesan commented on #4070
First-cut concept: (but will undergo change)
https://redhat.invisionapp.com/d/main#/projects/prototypes/15079718

[2018-08-09 13:16] chmouel commented on #4145
that's something we have to consider!

[2018-08-09 15:23] chmouel opened #4151 "environment reset is broken due of the content-repo removal"
See:

https://chat.openshift.io/developers/pl/i495srb5cfbpidfka74z3yjsxh

[2018-08-09 15:43] aptmac opened #4152 "Planner table elements formatting is out of sync"
I recall seeing this issue before a while ago (I believe it was fixed), but cannot find the issue for it. The Planner table elements are out of sync with each other, and are not rendering in a proper orientation.

Screenshot:
![2018-08-09-113652_1578x631_scrot](https://user-images.githubusercontent.com/10425301/43909583-aeb0102e-9bc8-11e8-8f40-e141b0232167.png)

[2018-08-09 16:09] hrishin opened #4153 "Fabric8 CD is not deploying maven artifacts"
In order to remove the content repository, recently some changes has been made in
[fabric8-pipeline-library](https://github.com/fabric8io/fabric8-pipeline-library/pull/409)
reagrding mavneCanaryRelease. As a side effect, some fabric8 CD jobhas stopped
deploying maven artifacts to nexus repositories.

[2018-08-09 16:24] hrishin commented on #4153
duplicate of #4151

[2018-08-09 16:24] #4153 closed

[2018-08-09 17:12] #4151 closed

[2018-08-09 17:58] bartoszmajsak opened #4154 "When importing existing project only Maven pipelines are available"
When user imports existing project he can select one of the pipelines through the wizard.

The problem is that these are always "maven based", so `Jenkinsfile` which we add to the repository will expect JVM/Maven project resulting in not working pipelines for other stacks/build tools.

As an interim solution, we could think of an additional step in the "import flow" of the wizard, where the user c

[2018-08-09 18:00] bartoszmajsak commented on #4154
@catrobson we might need some UX help on the additional step where user can select his runtime.

/cc @slemeur

[2018-08-09 18:01] bartoszmajsak commented on #4140
PR fabric8-ui/fabric8-ui#3242 fixes only "Create App" part of the flow exposing all the pipelines available in https://github.com/fabric8io/fabric8-jenkinsfile-library for the user to select.

![image](https://user-images.githubusercontent.com/719616/43916520-07d1f984-9c0e-11e8-811f-7e7a8c0be2d1.png)

Import flow improvements reported in https://github.com/openshiftio/openshift.io/issues/4154

[2018-08-09 18:26] bartoszmajsak opened #4155 "Launcher overwrites existing Jenkinsfile"
When importing the project through Launcher, if the Jenkinsfile exists, it is overwritten by the one selected by the launcher (from https://github.com/fabric8io/fabric8-jenkinsfile-library).

We could potentially solve it be either:

  * ask the user if he wants the file to be overwritten
  * having our build service using Jenkinsfile being located not in the root directory (e.g. `.openshiftio/Jen

[2018-08-09 19:00] bartoszmajsak commented on #4070
@muruGanesan I can't access the link - can you make it public?

[2018-08-10 03:56] sbose78 commented on #4030
@stevengutz , keeping this assigned to `team/auth` and `team/ux` for now.

[2018-08-10 04:28] muruGanesan commented on #4070
Please try this link:
https://redhat.invisionapp.com/share/WXNFWU4M7UV#/313564466_Launcher-2

[2018-08-10 07:11] ppitonak commented on #4020
This issue is still appearing regularly.

[2018-08-10 07:13] ppitonak commented on #4083
#3956 was resolved, what is the next step?

[2018-08-10 07:17] ppitonak commented on #3517
There is a new version of Jenkins in both prod-preview and prod. Un-idling still gets stuck from time to time.

[2018-08-10 07:57] msrb opened #4156 "[f8a] repo_dependency_finder: AttributeError: 'set' object has no attribute 'get'"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/6589/

[code]

[2018-08-10 07:57] msrb commented on #4156
cc @samuzzal-choudhury @abs51295

[2018-08-10 08:06] hrishin commented on #4083
@ppitonak this patch is ready https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/108. Soon we will remove CR.

cc: @kishansagathiya

[2018-08-10 08:08] bartoszmajsak commented on #4070
Thanks @muruGanesan I can view this one, but can't really comment as it asks me for login, so I will share my feedback here.

One thing I would like to bring up is "go to codebases" part. As a user this gives a view on something I might not be familiar with yet (I don't know what is a workspace when I come to OSIO as the first timer). How about we jump directly to Che instead?

[2018-08-10 08:11] bartoszmajsak commented on #4152
I confirm that it happens to me constantly.

[2018-08-10 08:14] bartoszmajsak commented on #4146
@ldimaggi PR builds will fail regardless, because they are executed in the wrong namespace https://github.com/fabric8io/fabric8-pipeline-library/pull/412

Tina's work is based on the patched pipeline running tests in user namespace instead and usng Red Hat boosters, not community ones we expose on OSIO right now.

[2018-08-10 08:15] jmelis commented on #3989
I think this can be closed. The tenant resources are all based on CentOS due to licensing issues, I don't think they will be migrated to RHEL at any point.

@chmouel are there other RHEL based tenant resources?

[2018-08-10 08:17] #3989 closed

[2018-08-10 09:15] kishansagathiya commented on #3517
@ppitonak It would be because many jenkins are getting stuck at the terminating stage. It is being tracked on housekeeping repo. Apart from that we had a task to remove init container hack, which was causing this and is done.

[2018-08-10 09:28] muruGanesan commented on #4070
@bartoszmajsak, Thanks for your feedback. I will consider this point in the next design iteration.

[2018-08-10 10:55] miteshvp commented on #672
@invincibleJai - any updates?

[2018-08-10 10:56] miteshvp commented on #708
@msrb @humaton - are we looking at this issue actively? If not, can we close this? We can create a new one or re-open when we take up this task.

[2018-08-10 10:58] miteshvp commented on #726
This work is no longer relevant. Closing this.

[2018-08-10 10:58] #726 closed

[2018-08-10 10:58] invincibleJai commented on #672
@miteshvp we need to plan this in upcoming sprint in 153 we din't had this.

[2018-08-10 10:59] miteshvp commented on #742
Not high priority. As and when we plan to support .NET, a planner issue should be created. Closing this one for now.

[2018-08-10 10:59] #742 closed

[2018-08-10 11:00] miteshvp commented on #745
Not relevant. Closing this.

[2018-08-10 11:00] #745 closed

[2018-08-10 12:10] catrobson commented on #4154
+1 to @slemeur's thoughts on the flow.  Since we only have Maven projects right now let's not introduce another step forcing the user to map their project to the runtime.  Once we plan to extend beyond Maven projects we can discuss how to make this part work.

[2018-08-10 12:11] yzainee commented on #3983
Closing the issue as the flow for newer versions is going to be triggered only via the cron job. The build flow is no longer required.

[2018-08-10 12:11] #3983 closed

[2018-08-10 12:36] joshuawilson commented on #4102
that looks like it should work

[2018-08-10 12:41] bartoszmajsak commented on #4154
Thanks @slemeur. I think we can do following right away

 * after importing the project we check if it's Maven based and if so we advance to pipeline selection
 * otherwise we show error with the information as you suggested

Question is if we can afford giving such a promise, as we have quite opinionated environment right now. It should be a broader conversation with the build team, as I'm not su

[2018-08-10 13:27] catrobson commented on #4154
@serenamarie125 @openshiftio/uxd-team - After a chat discussion with @bartoszmajsak, I now understand that we're trying to move towards being able to support Maven + Nodejs projects in the J Train.  In order to support that, a runtime discovery/selection will be necessary.  A few things we discussed:

* The name of the first step should probably be "Import codebase" or "Select repository" or somet

[2018-08-10 13:31] catrobson commented on #4154
Had a copy/paste queue error.  Please refer to issue for latest screenshot.

[2018-08-10 13:47] bartoszmajsak commented on #4154
In terms of import, we should distinguish two aspects of discovery:

  * technology stack (VertX, Thorntail, SpringBoot)
  * build tool (Maven, Gradle, Ant)

Both are equally important for both build and IDE, but for our pipeline selection, we rely on an odd mix of those right now. For Java we only support Maven and the whole pipeline library is Maven-focused (so we don't support other build tools

[2018-08-10 15:15] catrobson commented on #3927
@SMahil @mindreeper2420  do we have any standards on dropdown height?

[2018-08-10 18:54] aptmac opened #4157 "Pipelines Service emitting many values"
For a bit of context, I found this when looking into the applications-widget on the Analyze page, because it's loading behaviour is not correct. The line of code in question is the subscription to the `PipelinesService` to get the `current` value [0].

I'll try to illustrate this problem better with screenshots below, but the short version is that the `pipelinesService.current` when subscribed to

[2018-08-10 19:27] catrobson commented on #4154
@bartoszmajsak Here is a design for how we can add the runtime information into the import flow.  Please review and let us know if you have any feedback or updates.  Otherwise we should talk to @krishnapaparaju about how we would proceed forward with implementing these changes.

https://redhat.invisionapp.com/share/WQNGYRPSAYJ

[2018-08-10 20:13] aptmac commented on #4152
I found the issue that I made reference to in my description at the top of this issue; it is still open: https://github.com/openshiftio/openshift.io/issues/3650 [1]

At the time, this formatting behaviour was not default and could be triggered by playing with the settings [[1]](https://github.com/openshiftio/openshift.io/issues/3650). Presently, this seems to be the default when I view using both

[2018-08-10 20:27] bartoszmajsak commented on #3650
For me that's now permanent view

[2018-08-11 08:41] bartoszmajsak commented on #3512
@animuk I only see updates on the checklist in the issue description - can you point me to the code changes done if there were any? Was that work related to `launcher-backend` project as the title suggest?

[2018-08-11 08:44] bartoszmajsak commented on #3283
@animuk is this feature planned to be worked on in the nearest future?

[2018-08-11 08:58] bartoszmajsak commented on #4154
Thanks @catrobson. As I mentioned above `runtime` itself might not be sufficient right now. We should also know which build tool is in use. Based on the proposed design above we can have at least two common combinations:

  * Spring Boot + Maven (what we can support right now)
  * Spring Boot + Gradle (not supported as our pipelines don't support Gradle builds at this point)

[2018-08-11 09:01] bartoszmajsak commented on #2322
@ibuziuk can we close this issue? It's about old wizard and the whole import flow is going to be improved this train.

[2018-08-11 09:03] bartoszmajsak commented on #1838
@piyush1594 @rupalibehera is that related anyhow to Launcher or is that purely Build issue?

[2018-08-11 09:04] bartoszmajsak commented on #1815
Closing as that reflects old Launcher and we don't provide search for quickstarts anymore.

[2018-08-11 09:04] #1815 closed

[2018-08-11 09:08] bartoszmajsak commented on #1315
There is no option of overwritting `Jenkinsfile` anymore in the import flow. That functionality existed in the old Launcher wizard. We will work on refining this experience - #4155

[2018-08-11 09:08] #1315 closed

[2018-08-11 09:11] bartoszmajsak commented on #1259
@sthaha wassup with this one? :)

[2018-08-11 09:16] bartoszmajsak commented on #518
This bug is related to old version of Wild Swarm boosters (affects latest productized version though). Latest ones based on Thorntail are working and these are currently available in OSIO Launcher Wizard.

I think we can close it @slemeur as it is not relevant anymore.

[2018-08-11 09:30] bartoszmajsak commented on #3886
I don't see it as a user facing bug, it's engineering tooling problem. Shall we keep it as bug for your aggregation @stevengutz @GeorgeActon?

[2018-08-11 13:42] bartoszmajsak commented on #3742
@piyush1594 Interesting that it has been closed automatically through your commit on my fork :D The only thing I can think of is syncing my forked `master` with upstream. And it seems back then it was also closed.

Interesting to see that `Fixes #...` on the fork causes the same effect.

[2018-08-11 13:43] bartoszmajsak commented on #3523
@animuk @GeorgeActon are there any tests created or will be?

[2018-08-11 13:44] bartoszmajsak commented on #3404
@animuk is this going be worked on this train?

[2018-08-11 13:46] bartoszmajsak commented on #3346
@GeorgeActon @animuk just wanted to understand how much has been done and what is still needed to make this feature reality. /cc @slemeur

[2018-08-11 13:49] bartoszmajsak commented on #3282
@animuk Can you elaborate what you mean by

[2018-08-11 13:55] bartoszmajsak commented on #3113
Based on comments from @slemeur here and in #3130 I'm closing both issues.

[2018-08-11 13:59] bartoszmajsak commented on #3113
@slemeur @ldimaggi is there a parent feature request as I see this topic being discussed in other issues such as #3130?

[2018-08-11 14:09] bartoszmajsak commented on #1548
@rkratky @joshuawilson how this doc is ultimately generated and where is the repo we could send a PR to? Shall we look in https://github.com/fabric8io/fabric8-online-docs?

[2018-08-11 14:16] bartoszmajsak commented on #3742
@piyush1594 As those two are dependent - can this be executed in a sequence? What are the latest findings from your work with @tinakurian?

[2018-08-11 14:25] bartoszmajsak commented on #3959
@sanketpathak generally speaking we should ask issue creator to confirm that. @ldimaggi could you try and see if that still affects the use case you described?

[2018-08-11 14:27] bartoszmajsak commented on #3936
@sanketpathak generally speaking we should ask issue creator to confirm that. @Raunak1203 could you try and see if that still affects the use case you described?

[2018-08-11 16:20] sbose78 commented on #1548
@bartoszmajsak  https://github.com/openshiftio/openshift.io/tree/master/src/assets/documents

[2018-08-11 23:41] debloper commented on #2969
@catrobson ideally GitHub will close this automatically once the duplicate has been resolved, but feel free to do so if you think it's necessary.

[2018-08-12 01:28] GeorgeActon commented on #4152
Added severity and Priority. Please evaluate and revise if you disagree

[2018-08-12 01:29] GeorgeActon commented on #4157
Added severity and Priority. Please evaluate and revise if you disagree

[2018-08-12 01:31] GeorgeActon commented on #4145
@chmouel please label this correctly

[2018-08-12 01:47] GeorgeActon commented on #1706
Closing this item.

[2018-08-12 01:47] #1706 closed

[2018-08-12 01:48] GeorgeActon commented on #1522
Closing, no longer relevant. All this work is in planner

[2018-08-12 01:48] #1522 closed

[2018-08-12 08:53] bartoszmajsak commented on #4016
It's an application encoding issue. Vertx takes system settings ([`java.nio.charset.Charset.defaultCharset().name();`](https://github.com/vert-x3/vertx-web/blob/8cfca645a42d41da20492eb730a9959dc225ed8f/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/StaticHandlerImpl.java#L76)) so the image which we are using is not configured properly. What you are suppose to see is `—` instead.

One of the

[2018-08-12 08:55] bartoszmajsak commented on #3118
Duplicate of https://github.com/openshiftio/openshift.io/issues/4016

[2018-08-12 08:55] #3118 closed

[2018-08-12 09:39] camilamacedo86 commented on #1815
@catrobson In the user point of view is a bug since is it did not have the button search and nothing os telling that is required to give the enter. The usability here is not good at all.

[2018-08-13 01:17] sthaha commented on #1259
@bartoszmajsak that has been filed as a feature-request in Planner see the [planner link](https://openshift.io/openshiftio/Openshift_io/plan/detail/312)

Supporting this requires changes to the way proxy handles requests. Currently jenkins.openshift.io forwards requests to **their** jenkins instance. So if **I** submit a PR to **your project** just publishing the link to jenkins.openshift.io/jobs/

[2018-08-13 02:58] mindreeper2420 commented on #3927
@catrobson we do not - dropdowns are governed by PatternFly, which does not have set heights for dropdowns. The only set dimension is a minimum width of `160px`.

[2018-08-13 03:00] sthaha commented on #4128
@kishansagathiya some of the useful stats are
- how often does slaves fail to come up
- what are the common reasons for build failures
- how long are builds taking to run
- how long does each `stage` take

What we are trying to achieve is to minimise the errors in build and getting to know what the common errors are is the goal of this task.

[2018-08-13 04:12] tinakurian opened #4159 "Fix Migration 100 To Be Consistent"
Currently Migration 100, in migration.go is handled a little differently from the others. This should be consistent with the other migrations.

[2018-08-13 04:41] sthaha commented on #3412
You will start to see the logs only after proxy determines that jenkins is up and running properly and starts to forward the requests to actual jenkins.

Closing this as the implementation has changed a lot since the bug was filed.

[2018-08-13 04:41] #3412 closed

[2018-08-13 04:48] sthaha commented on #2931
@animuk This issue should be fixed with the recent changes to the jenkins image and deployment config. You should see jenkins getting unidled within 3 mins. Please reopen the bug if that isn't case.

Ref: https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/114

[2018-08-13 04:48] #2931 closed

[2018-08-13 04:52] sthaha commented on #3087
This issue should be (almost) fixed with the recent changes to Jenkins image (see: https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/114) . I am going to close the issue.

Kindly file a new one if you continue to face this issue.

[2018-08-13 04:52] #3087 closed

[2018-08-13 05:55] rootAvish commented on #4109
Closing as this is done, as demonstrated during weekly demos.

[2018-08-13 05:55] #4109 closed

[2018-08-13 05:59] rgarg1 commented on #3650
@stevengutz @nimishamukherjee Would this still be a P4?

[2018-08-13 06:15] sthaha commented on #508
@rgarg1 I am going to close this issue as this isn't the case anymore. Please reopen if you see otherwise.

[2018-08-13 06:15] #508 closed

[2018-08-13 07:00] animuk commented on #3283
@bartoszmajsak at this moment, any work related to adding new feature in the dependency editor has been deprioritized. So, this is in backlog which means we can plan in future depending upon priority.

[2018-08-13 07:06] animuk commented on #3523
@bartoszmajsak this is a backlog. tests yet to be created

[2018-08-13 07:07] animuk commented on #3404
@bartoszmajsak at this moment, any work related to adding new feature in the dependency editor has been deprioritized. So, this is in backlog which means we can plan in future depending upon priority.

[2018-08-13 07:09] animuk commented on #3346
@bartoszmajsak this has been assigned to build team before start of J train. Can you ask them?

[2018-08-13 07:10] rkratky commented on #1548
@bartoszmajsak This PDF is deprecated (and has been for a long time). The URL should redirect either to https://docs.openshift.io/getting-started-guide.pdf or even better just to https://docs.openshift.io/

@sbose78 Could you make that redirect happen?

[2018-08-13 07:14] animuk commented on #3282
@bartoszmajsak this means setup application should work when user choose node js boosters. setup application triggers subsequent web socket event calls in parallel in the launcher backend.

[2018-08-13 07:28] invincibleJai commented on #3886
it's a duplicate of https://github.com/openshiftio/openshift.io/issues/4078 , and @vikram-raj was looking into it. I think this can be cosed.

[2018-08-13 07:32] animuk commented on #3886
Closing as it is duplicate of #4078

[2018-08-13 07:32] #3886 closed

[2018-08-13 07:59] rhopp commented on #1706
@GeorgeActon Does that mean this issue was moved to planner? It would be nice, if you include link to planner, when closing issues, which were not yet resolved.

[2018-08-13 08:13] kishansagathiya opened #4160 "Move kubernetes client CD job to CICO"
repo: https://github.com/fabric8io/kubernetes-client

Link to Planner https://openshift.io/openshiftio/Openshift_io/plan/detail/253

[2018-08-13 09:10] bartoszmajsak commented on #1548
Thanks, @sbose78 @rkratky, but those links don't really answer my question. In the spirit of open source I was hoping we can start doing is that if we see such a typo we simply open PR with the correction (ideally that should be caught during the build process of the PDF itself). So let me rephrase my question:

can you point me to the repository and build scripts using which this PDF is generated

[2018-08-13 09:15] bartoszmajsak commented on #1548
On top of that. I don't see this PDF being available in the help section.

![image](https://user-images.githubusercontent.com/719616/44023215-1e01c908-9eea-11e8-81e5-32ef15289192.png)

Documentation link points to `https://docs.openshift.io/`

Can we just delete this file?

[2018-08-13 09:26] rkratky commented on #1548
@bartoszmajsak What I'm saying is that the PDF (https://openshift.io/osiogettingstarted.pdf) should not be made available at all. It should be either deleted or redirected to the correct docs. There's no point in fixing it. It is not, and will not be, maintained.

Instead, all users should be pointed to the docs at docs.openshift.io -- which is where you'll also find a new, maintained PDF with the

[2018-08-13 09:30] rkratky commented on #1548
At this point, our CI doesn't check for typos, but we do implement a bunch of other checks to make reasonably sure the docs don't go out with mistakes. We'll look into checking for typos.

(Again, this is for the 'new' docs. The old PDF referenced by the OP was created by Todd who manually exported it from MS Word. Fortunately, we're over that :)

[2018-08-13 09:36] bartoszmajsak commented on #1548
@rkratky so we are on the same page. We should make redirect perhaps, but I am just wondering if that link is by any means relevant - shared / exposed somehow. If not deleting is enough.

[2018-08-13 09:41] bartoszmajsak commented on #4142
It seems that validation is triggered at the wrong time - after you try to click on grey-outed `>>` icon. See screencast (somewhat oddly "optimized" though):

![existing_repo-opt](https://user-images.githubusercontent.com/719616/44024482-aefbafc0-9eed-11e8-8002-047a869ace0c.gif)

[2018-08-13 09:42] rkratky commented on #1548
It was promoted quite heavily (in registration e-mails) during the early days of OSIO, so I believe a redirect to docs.openshift.io would be better.

Good idea. I filed https://github.com/fabric8io/fabric8-online-docs/issues/409 to track it.

[2018-08-13 10:00] piyush1594 commented on #4142
Yes, @bartoszmajsak its shows validation after clicking on the box or if you type something in that box. Otherwise, the user keeps waiting for that to allow to proceed further. That not a nice user experience for me at least. If it does not look relevant to you, feel free to close this. Thanks

[2018-08-13 10:04] bartoszmajsak commented on #4142
I just wanted to clarify the current behavior - it's not that you don't get any feedback, you have to click hard around to get one ;)

I agree with you that it's a bad experience. We will improve that. Again - thanks for reporting it.

[2018-08-13 10:05] piyush1594 opened #4161 "Update nodejs slave image"
Jenkins requires an image to execute nodejs builds workload in the slave container.

Following set of tools are required to execute builds
1. nodejs runtime and npm tool v.8.0+
2. git
3. ssh
4. any other npm dependency
5. oc
6. s2i

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/401

[2018-08-13 10:15] piyush1594 commented on #1838
Not sure about this @bartoszmajsak

[2018-08-13 10:25] bartoszmajsak opened #4162 "Redirect to the new documentation"
Based on the conversation in #1548 URL `https://openshift.io/osiogettingstarted.pdf`, even though not exposed currently, has been heavily promoted in emails.

We should redirect to official and live docs instead - https://docs.openshift.io/

[2018-08-13 10:26] bartoszmajsak commented on #4162
@joshuawilson is that simply a matter of nginx rewrite URL?

[2018-08-13 10:26] bartoszmajsak commented on #1548
Wasn't aware of that heavy promotion, so yeah, a redirect will do.

Closing in favor of #4162

[2018-08-13 10:26] #1548 closed

[2018-08-13 10:28] stevengutz commented on #3650
Yeah, I think it's still P4.  This doesn't mean we can ignore, only that it is normal priority.

[2018-08-13 11:01] chmouel commented on #3989
all good thanks for the clarification,

[2018-08-13 11:29] Raunak1203 commented on #3936
Issue is fixed
Verified in production

[2018-08-13 11:29] #3936 closed

[2018-08-13 11:30] kwk commented on #4124
@mvulavak why is this assigned to the platform team when really it is a planner issue in the search query engine?

[2018-08-13 11:41] sdash-redhat commented on #4065
Here is a first draft of explorations with 4  concepts/approaches:
**https://redhat.invisionapp.com/share/2YNHLNXMKR8**
Please feel free to review and share your thoughts.
@serenamarie125 @catrobson @joshuawilson @aslakknutsen @bartoszmajsak

[2018-08-13 11:43] nurali-techie commented on #4150
@yzainee is it SEV2? What I understand is it's making extra call which need to be stopped.  It's not blocking any user for using functionality.

[2018-08-13 11:55] #4159 closed

[2018-08-13 12:35] catrobson commented on #3927
Thanks @mindreeper2420 - @vikram-raj I'm good with 400px for this one

[2018-08-13 12:49] kwk commented on #4009
I consider this to be a P1 issue because if we ignore this failure we cannot push to prod.

[2018-08-13 13:52] serenamarie125 commented on #4069
@AshishDurgude can you please add a link to the design artifacts?

[2018-08-13 13:59] muruGanesan commented on #4070
@serenamarie125 @catrobson @joshuawilson @bartoszmajsak

Please see the updated link:

https://redhat.invisionapp.com/share/WXNFWU4M7UV#/screens/313564466_Launcher-2

[2018-08-13 14:01] muruGanesan commented on #3938
Here is the approach document:
https://docs.google.com/presentation/d/1w3cCZDRpYeoBK9_5b47NfdXNeHIGoFbKdRq4ExZ25ow/edit#slide=id.g403892b45a_0_0

[2018-08-13 14:02] muruGanesan commented on #4069
@serenamarie125 , @catrobson @AshishDurgude @joshuawilson @bartoszmajsak
Here is the updated Wireframe:
https://redhat.invisionapp.com/share/5SN9DYO93E7#/313254475_01

[2018-08-13 14:29] jiekang commented on #4162
The pdf is located at [1] and loaded via webpack at [2].

[1]
https://github.com/openshiftio/openshift.io/blob/master/src/assets/documents/osiogettingstarted.pdf
[2]
https://github.com/openshiftio/openshift.io/blob/master/webpack.config.js#L149

[2018-08-13 14:31] bartoszmajsak commented on #4162
@jiekang thanks for all the details. Corrected the issue description too.

[2018-08-13 14:32] bartoszmajsak commented on #4154
That's because our boosters are all Maven based and thus pipelines are preselected. When we import any Java project we have a bunch of other build tools to consider (e.g. Gradle or Ant) - which will need a proper setup on the build service side. Currently, build will fail if the imported Java project won't be Maven based (so that would be a "feature-request" to @sthaha / build team).

For the mome

[2018-08-13 14:36] jiekang commented on #4157
I believe this has to do with how the pipelines observable is tied to the underlying "watch" API for build and buildconfigs. On initial connection, these APIs will emit each and every relevant  and existing event separately. The observable is not able to combine this into a single emission, and thus emits for each event coming from the "watch" api. There is a concept of "list and watch" but I beli

[2018-08-13 14:48] bartoszmajsak opened #4163 "Switching window while editing results in setting cursor at the end of the text"
#### Steps to reproduce

  * start editing work item description (put the cursor in a place different than the end of the text)
  * switch window and return to editing

#### Expected result

The cursor stays in the same position

#### Actual result

The cursor is at the end of the edited text/paragraph.

![focus-edit](https://user-images.githubusercontent.com/719616/44039128-aec1ea08-9f18-11e8-9eb

[2018-08-13 15:26] hrishin opened #4164 "Improve Jenkins bootup speed by tweaking the resources allocated to it"
Jenkins is taking around 3-4 minutes to boot. The boot time can be reduced to a major extent by availing more CPU/Memory resources and tuning JVM parameters.

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/400

[2018-08-13 15:38] stevengutz commented on #4147
@kwk It would be preferable is a defect was owned by only one person/team at a time.  This one has three owners, which doesn't really make sense to me.  Who's actually working on it?

[2018-08-13 16:34] Raunak1203 opened #4165 "Workitem component should display spaces where user is a collaborator"
Why?
It is very difficult to find out as an end user workitem assigned to me where I am a collaborator, not a space owner.

[2018-08-13 16:55] arilivigni commented on #3570
@krishnapaparaju is there a reason we can't use knative build for this?  https://github.com/knative/docs/tree/master/build#key-features-of-knative-builds
https://github.com/knative/docs/blob/master/build/builds.md

[2018-08-13 16:59] sspeiche commented on #3570
@arilivigni whatever is done should be done using or contributing to openshift for supporting this. It would note make sense for osio to take a different route other than to validate an approach. I'll bring you into a proposal I'm putting together

[2018-08-13 17:49] arilivigni commented on #3570
@sspeiche agreed that is exactly what I am going for rather than some of the options listed here that are not a part of OpenShift.

[2018-08-14 02:55] sthaha commented on #3570
@arilivigni

By this, do you mean: all of the below?

- [ ] Support Multi tenancy
- [ ] Able Retrieve status of jobs, logs
- [ ] Orchestration of parallel, serial pipeline steps
- [ ] API support for integrations
- [ ] Ecosystem of Plugin support
- [ ] Canary deployments
- [ ] Blue Green deployments
- [ ] Community adoption
- [ ] Health of upstream
- [ ] License
- [ ] Developer ease for pipeline D

[2018-08-14 04:19] miteshvp opened #4168 "OSIO Notifications and Platform - More configuration options for admin and regular users"
### Description ###
During one of the IC sessions, there was an ask from PM team to add some features to our OSIO notification service so that an admin user can have more control and a regular user have more configuration options with respect to notifications.

#### Features  ####
- More notification channels such as `email / web-notification / github PRs / ...`
- Admin users be able to set type o

[2018-08-14 04:45] miteshvp commented on #4150
@nurali-techie - do you see any challenges in blocking that extra call?

[2018-08-14 05:13] piyush1594 commented on #3862
This has been added in the sync plugin and made it configurable by putting a variable in Jenkins configmap.
All PR's related to this are:

- [ ] https://github.com/fabric8io/jenkins-sync-plugin/pull/40
- [ ] https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/184
- [ ] https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/117

[2018-08-14 06:07] corinnekrych commented on #2908
This closed by https://github.com/fabric8-ui/fabric8-ui/pull/3202

[2018-08-14 06:07] #2908 closed

[2018-08-14 06:18] miteshvp commented on #784
It was just a spike. No longer relevant. We can create a planner backlog item if needed.

[2018-08-14 06:18] #784 closed

[2018-08-14 06:25] miteshvp commented on #708
@msrb - any comments?

[2018-08-14 06:26] miteshvp commented on #830
We are already pushing the errors to Sentry. Sentry gives a dashboard view for all the errors.

[2018-08-14 06:26] #830 closed

[2018-08-14 06:27] rohitkrai03 commented on #4165
@Raunak1203 Duplicate issue - https://github.com/openshiftio/openshift.io/issues/3760
Auth team is working on the API for this issue currently.

[2018-08-14 06:27] miteshvp commented on #836
We have README's for unit tests now.

[2018-08-14 06:27] #836 closed

[2018-08-14 06:29] miteshvp commented on #839
Not relevant. Component analyses gives a collaborated view from all services

[2018-08-14 06:29] #839 closed

[2018-08-14 06:32] miteshvp commented on #840
It does not affect any user functionality. This cleanup should have to be handled as part of swagger spec. Closing this now. Will be creating planner backlog when we take swagger specifications.

[2018-08-14 06:32] #840 closed

[2018-08-14 06:32] msrb commented on #708
@miteshvp we want to keep this open for now. Either here, or in planner.

[2018-08-14 06:46] sthaha commented on #3797
I am setting p2 so that we can work on it next sprint

[2018-08-14 08:15] bartoszmajsak opened #4169 "Customizable groupId should result in chaning package name of the generated classes"
We offer the user the ability to edit `groupId` for the app we are about to create based on selected Booster.

![image](https://user-images.githubusercontent.com/719616/44079694-05b247f4-9faa-11e8-8f8d-a683ae586cee.png)

This, by convention should result in changing package names of the generated source, as that's how Maven projects are typically structured.

We don't do this customization step th

[2018-08-14 09:04] Azulinho commented on #2973
same issue here, from the pod logs it looks the same as: https://issues.jenkins-ci.org/browse/JENKINS-45910 ?

[2018-08-14 09:32] hrishin opened #4170 "Add a Jenkinsfile for "Build, Rollout to Stage, Approve, Rollout to Run""
Create Jenkinsfile for nodejs booster application

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/308

[2018-08-14 09:59] msrb commented on #4054
Fixed in https://github.com/fabric8-analytics/fabric8-analytics-worker/commit/9cfeb714409991e1bfe843424bc3987cc0fdc539.

[2018-08-14 09:59] #4054 closed

[2018-08-14 10:37] stevengutz commented on #859
@joshuawilson Is this still valid?  I think we should close this

[2018-08-14 10:59] ppitonak commented on #4009
We implemented a workaround in e2e tests (https://github.com/fabric8io/fabric8-test/pull/949).

I had a chat with @aslakknutsen @bartoszmajsak @ljelinkova @jiekang @joshuawilson ... the result of discussion is that we are not able to guarantee that the application is deployed and working at any point in time after the pipeline finished. The dev team is against adding the readiness probe to the pip

[2018-08-14 12:41] Raunak1203 commented on #3855
Steps:
- Select a new space
- Hide Panel
- Open detail view
- close detail view,
- Now select a space where you are not a collaborator
- Open detail view
- Click Cancel
- It shows loading
 ![issue](https://user-images.githubusercontent.com/34271052/44092102-15939c5c-9fed-11e8-97a4-81a191c1470f.gif)

[2018-08-14 16:40] stevengutz commented on #4146
@sthaha @pradeepto This is blocking Tina's progress on booster so I'm bumping the priority to P2.  This needs to get fixed ASAP (next sprint or sooner)

[2018-08-14 16:53] alexeykazakov commented on #4009
While I see the point of separating pipelines and service/pod readiness I also believe there is an UX issue.
We got many reports when user got confused when saw finished piplenes with unavailable app.
For many users it looks like a bug.

[2018-08-14 17:13] stevengutz commented on #4147
No doubt defects sometimes need input from more than one person, but I doubt that more than one of you is writing on at the same time.  It would be clearer if you do your part and assign it to the next person.  This way I/anyone knows who to ask about the status.

[2018-08-14 17:42] stevengutz commented on #3570
@sthaha This needs to be moved to Planner and this one should be closed.

[2018-08-14 17:51] bartoszmajsak commented on #4146
@stevengutz It is not a problem of build team per se. This is a particular version of a runtime which is having a problem with our limited infra. I think it's not worth an effort looking at those as we can live with Thorntail (community version of WF Swarm) which have those issues fixed.

@slemeur can correct me if I'm wrong here.

[2018-08-15 03:45] muruGanesan commented on #3002
@sunilmalagi, @sahil143
Have you done any change or update to this issue?
If yes, could you please share the solution details... so that we can close this issue.

@nimishamukherjee, @Veethika
Is tree-view still valid?
Are we considering 'drag & drop' in the new list view?

[2018-08-15 06:48] rhopp opened #4171 "Che workspaces fails to start since 14.8. evening (europe time)"
##### Issue Overview
Since yesterday evening (according to [1]), workspaces start started to fail with this error:
[code]

It seems, that this issue is affecting all users on prod & prod-preveiw.

This issue was first discovered by E2E tests around 8PM yesterday on all tested clusters.

This issue can be resolved by doing "env reset" or "update tenant".

[1] - https://logs.dsaas.openshift.com/goto

[2018-08-15 08:08] kwk commented on #4147
Closed through https://github.com/fabric8-services/fabric8-wit/pull/2239 (backend) and https://github.com/fabric8-ui/fabric8-planner/pull/2751 (frontend).

[2018-08-15 08:08] #4147 closed

[2018-08-15 08:26] ppitonak commented on #4009
@bartoszmajsak you are right that nobody explicitly said that they would be against, but nobody supported my suggestion. @aslakknutsen argued that we cannot guarantee that the application works at any point in time... while I agree with that I think that adding readiness probe to the pipeline itself will reduce user's confusion.

We would still need to solve problems described by Lucia and Aslak.

[2018-08-15 08:27] riuvshin commented on #4171
workspace with 1g ram starts normally. that so limits were changed for che workspaces somehow.

[2018-08-15 08:32] rhopp commented on #4171
Limits for accounts which are not working (a.k.a before tenant update):
![image](https://user-images.githubusercontent.com/1215011/44139101-6034cf36-a076-11e8-9805-f68e217bd98d.png)
Limits for account after tenant update:
![image](https://user-images.githubusercontent.com/1215011/44139124-71f83e1a-a076-11e8-91a3-7c855522e0bc.png)

Can we perform mass tenant update for every user to fix this? What

[2018-08-15 09:52] SkorikSergey commented on #1145
I cannot reproduce this issue on upstream CHE(6.10.0-SNAPSHOT). Is this issue still actual for openshift?

[2018-08-15 10:50] ljelinkova opened #4172 "Intermittent issue - build stage in OSIO and Jenkins are not in sync"
##### Issue Overview
I created simple application from booster and build it successfully for the first time. During second build I encountered strange state when OSIO showed stage 'Build release' as failed but the Jenkins log showed that the application successfully deployed to stage and prompted user to promote to run.

![screenshot from 2018-08-15 11-13-28](https://user-images.githubusercontent.

[2018-08-15 10:51] ppitonak commented on #3797
@sthaha there are two related issues

#3797 is UX issue... message is confusing/not clear enough
#4020 pipeline fails, the last thing in Jenkins log is this message

IMHO #4020 should be P2, #3797 is nice to have

[2018-08-15 11:15] abs51295 commented on #4108
PRs pending merge are: https://github.com/fabric8-analytics/fabric8-gemini-server/pull/84, https://github.com/fabric8-analytics/fabric8-analytics-common/pull/605

[2018-08-15 11:26] ppitonak commented on #4172
I found two jobs on prod-preview in last 24h with this bug:

* http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/1538
* http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/1557/

[2018-08-15 11:26] GeorgeActon commented on #4155
@bartoszmajsak I assigned this to build team. If that is wrong, please correct.

[2018-08-15 11:29] GeorgeActon commented on #4124
@kwk when you notice the team reference is wrong feel free to assign it to the correct team
@mvulavak you unassigned but did not assign to the correct team

[2018-08-15 11:49] miteshvp commented on #4097
@samuzzal-choudhury - We can close this issue as you have explained the process in the above comment on how to scale up the resources. Plese re-open if you think otherwise.

[2018-08-15 11:49] #4097 closed

[2018-08-15 11:57] spicemit commented on #4093
@invincibleJai - I guess items mentioned are done already. Can you close this issue?

[2018-08-15 12:27] jiekang commented on #4009
To restate my perspective from the discussion Aug 13 2018 on Mattermost

[code]

[2018-08-15 12:45] miteshvp commented on #842
Handled the response codes. Closing this.

[2018-08-15 12:45] #842 closed

[2018-08-15 12:47] pbergene commented on #4171
Limit ranges should be reset on all 4 clusters.

[2018-08-15 12:47] #4171 closed

[2018-08-15 12:59] muruGanesan commented on #3096
@RickJWagner,
Thanks for your inputs. I understood your points.
IMO: this is a technical (implementation) issue.
If we know the exact scenario then we may propose an alternate UX flow.
Question: who should review & fix this issue?

CC:@joshuawilson, @catrobson  @serenamarie125

[2018-08-15 14:02] hrishin opened #4173 "Displays encoded characters for special symbol in "My Work Items" section"
##### Issue Overview

Work item title shows encoded characters for special symbols like `"` in "My Work Items" section. On work item detail page it appears correctly.

##### Expected Behaviour
Show normal symbol insted of encoded one
##### Current Behaviour
Shows encoded one
##### Steps To Reproduce

1. Add work a title having special symbol e.g. `Build jenkinsfile for "deploy to the stage and run

[2018-08-15 14:06] michaelkleinhenz commented on #4152
Increased the SEV. @SMahil is aware and already working on it.

[2018-08-15 14:12] bartoszmajsak commented on #123
@kishansagathiya not sure if we are talking about the same thing so let me rephrase.

When you create new project (or import to OSIO) we get Jenkinsfiles from the https://github.com/fabric8io/fabric8-jenkinsfile-library - they are all pointing to `master` https://github.com/fabric8io/fabric8-pipeline-library. If we start making "releases" those files should be updated accordingly, otherwise we don

[2018-08-15 15:30] bartoszmajsak commented on #1832
@rsvoboda The import flow and backend services has been significantly changed since the last time you tried. I just imported successfully both `wildfly` and `wildfly-core` repositories. It took a while, but I have them in OSIO right now. Build fails for both, but that's a different problem I believe.

Can you verify on your side and close this issue if that is no longer a case for you?

[2018-08-15 15:38] bartoszmajsak opened #4174 "Wrong commit message while importing the project"
##### Issue Overview

Importing the project in OSIO means that arbitrary Git repo is enriched with OSIO-related artifacts (such as Jenkins pipeline) and added to OSIO space. As a result of adding new files to the repository we create a commit with `Initial commit` as a message. This is somewhat fine for "creating app" flow, but for adding things to the existing repository can cause confusion. It s

[2018-08-15 15:48] bartoszmajsak opened #4175 "Dropdown autocomplete covered by the browser one"
##### Issue Overview

When searching for the repository to import I am not able to see my existing repositories, as browsers autocomplete covers the actual values. Refocusing the element (e.g. hitting `esc` or switching window back and forth) shows the actual value.

**Note**: It might not be only an issue of this particular component - worth to check if that's a problem with component we are usin

[2018-08-15 15:52] bartoszmajsak commented on #4155
@GeorgeActon this is actually work needed on Launcher side as well as build team.

[2018-08-15 16:37] hrishin commented on #3552
Just an input (feel free to ignore)
Can we use this as a search box and add an item as well?

e.g. Quora - its one search box. If the user is trying to search for any question it would try to search existing a questions. If not it doesn't match with existing questions it gives facility to add a question.

![quora-search-box](https://user-images.githubusercontent.com/28615674/44159792-217bb100-a0d6

[2018-08-15 17:32] muruGanesan commented on #2650
Since UX solution is provided, I remove the UX labels.

[2018-08-15 17:48] bartoszmajsak commented on #1815
@camilamacedo86  thanks for raising your concerns. Let me try to address them.

We do have other places with search, no doubt about that :) If their functionality is broken though should be logged as another issue I believe (unless this is a general bug in the search component but then it still should be a different issue). If you can find this behaviour in other places I'm happy to help you file

[2018-08-15 17:52] bartoszmajsak commented on #3936
Thank you @Raunak1203

[2018-08-15 19:43] samuzzal-choudhury commented on #4097
Here is a document that describes the overall process of scaling the analytics system resources and setting 3scale rate limits https://docs.google.com/document/d/1mtR9wjUeLgWuOGDo7QWbCW0LG3CeCRh-4vN3SnUYYhc/edit#heading=h.4cvs8jees3ts

[2018-08-15 21:34] camilamacedo86 commented on #1815
@bartoszmajsak tks for your attention and reply.

[2018-08-16 02:08] sthaha commented on #4083
@bartoszmajsak thanks for this bringing this to our notice. I agree it is misleading now that we have made the change.

[2018-08-16 02:34] sthaha commented on #3468
closing this as this can be tracked in planner if there is a real need for scaling idler.

[2018-08-16 02:34] #3468 closed

[2018-08-16 02:43] sthaha opened #4176 "Ensure pipeline Build-Release flow reflects changes to content-repository"
@sthaha there is one minor detail with the removal of content repository and thus changing the behaviour of pipeline library. In all the pipelines we expose in OSIO we say that within this process we deploy artifacts to Maven repository:

https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/a57fb409ce52338e989e1d9707e2dfea851b880d/maven/ReleaseStageApproveAndPromote/metadata.yml#L9

This

[2018-08-16 02:44] sthaha commented on #4083
@bartoszmajsak I have added - https://github.com/openshiftio/openshift.io/issues/4176

[2018-08-16 03:58] sthaha commented on #3797
@ppitonak both added to our backlog for next sprint https://github.com/orgs/fabric8io/projects/2?fullscreen=true

[2018-08-16 05:31] sivaavkd opened #4177 "Filter in Planner not working as expected"
##### While using planner, filters are not working properly.  One of my Sprint 153 items, is not visible in one filter, where as it is showing up in another filter.

##### When filtered by AppAnalytics within Jonquil train, I should see all Analytics items that are planned for J train.

##### Planner number 78 is not showing up

##### Steps To Reproduce

1. Goto https://openshift.io/openshiftio/Op

[2018-08-16 07:45] slemeur commented on #518
Agree. Closing

[2018-08-16 07:45] #518 closed

[2018-08-16 08:00] bartoszmajsak commented on #3032
We are going to stick with the community versions hence closing this issue as it's related to a particular version of the runtime and OSIO infra.

[2018-08-16 08:00] #3032 closed

[2018-08-16 08:02] bartoszmajsak commented on #4146
We are going to stick with the community versions hence closing this issue as it's related to a particular version of the runtime and OSIO infra.

[2018-08-16 08:02] #4146 closed

[2018-08-16 09:54] tisnik commented on #843
@abs51295 there are changes made in the e2e tests: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/609   could you please verify that we are fixing the same issue please?

[2018-08-16 10:23] rootAvish opened #4178 "Stack analyses report insights are blank for some stacks"
##### Issue Overview

If stack analysis is triggered on a Maven repository through the IDE extension where the number of pom.xml files is greater than 3, because of possibly Kronos response taking too long, the recommendations are "null" for a long time and so nothing shows up in the UI.

##### Expected Behaviour

To be discussed, should we handle all multi-pom cases through hpf-insights model ins

[2018-08-16 10:27] tisnik commented on #843
@abs51295 also please make sure the API documentation is updated accordingly https://docs.openshift.io/analytics-integration-api-guide.html

[2018-08-16 10:31] rootAvish opened #4179 "Known dependency count is 0 for POMs not in the vertx, springboot, wildfly ecosystem even if packages are in graph"
##### Issue Overview

When analysis is triggered for some pom.xml not in the vertx, springboot, wildfly ecosystems when analysis is triggered through the IDE extensions the known dependency count is 0 even if packages are present in graph and elsewhere. Also recommendations from Kronos are returned.

##### Expected Behaviour

Known dependency count should be > 0 when dependencies are known, recomm

[2018-08-16 10:31] rsvoboda commented on #1832
Hi @bartoszmajsak, I was able to import `wildfly-core`, but with `wildfly` is have no luck.

I received `0 - {"isTrusted":true}` message in top right corner when importing the `wildfly` project.
I tried 2 pipelines (the shortest and the longest ones) in Select Pipeline step.

[2018-08-16 10:52] bartoszmajsak commented on #1832
Many thanks for spending your time checking this behavior @rsvoboda.

At which point of the import flow this result shows up?

Could maybe try to reset your enviroment and do the import of `wildfly` starting from scratch? Assuming you don't have anything important to loose and `rsvoboda` is your username simply go to https://openshift.io/rsvoboda/_cleanup

I will check on my side too.

[2018-08-16 11:03] rsvoboda commented on #1832
Clenup done, fresh import failed too

![screen shot 2018-08-16 at 13 02 14](https://user-images.githubusercontent.com/925259/44204866-aefde600-a154-11e8-9603-3b03b2c59cfa.png)

[2018-08-16 11:04] msrb commented on #843
If we are removing some keys from the API response, then we are breaking the API. This is the only public API that we have and we expect OSIO users to consume it :)

Wouldn't be better to update the [documentation](https://docs.openshift.io/analytics-integration-api-guide.html) and say that we don't consider the API to be stable yet and that it can change without prior notice in future?

@Preeticp

[2018-08-16 11:07] bartoszmajsak commented on #3977
As per discussion here https://openshift.io/openshiftio/Openshift_io/plan/detail/119 we are closing this and stick with community versions due to multiple issues encountered which are either old product version or our infra related. Latest community version does not suffer from it.

[2018-08-16 11:07] #3977 closed

[2018-08-16 11:09] bartoszmajsak commented on #3498
@krishnapaparaju can you verify if that is still a problem? If so could you provide more details - such as state of your pods, build logs etc. This would help us analyze the problem further.

[2018-08-16 11:13] sara-02 commented on #4179
@rootAvish it can be, I it worked as expected last two sprints. Some code changes this sprint triggered the bug.
Also, this can be replicated with other maven repos like twitter4j and incubator-dubbo

[2018-08-16 11:38] bartoszmajsak commented on #1832
@rsvoboda how many hooks do you have for that repo? What I see in the error logs in your case is following:

[code]

I tried importing this repo too and got hit by the error. After peeking into network console though I see that mine fails due to client timeout after 30s.

@gastaldi I think we have to make this call async to start. This is a huge repo to suck in but it would be also good to underst

[2018-08-16 11:39] chmouel opened #4180 "Idler is going crazy when there is no dc/jenkins in -jenkins namespace"
Getting `TOO_MANY_REDIRECTS` when there is no dc in -jenkins namespace (manual reset for example) ![image](https://user-images.githubusercontent.com/98980/44206340-bb387200-a159-11e8-8751-6574030dc566.png)

[2018-08-16 12:37] rsvoboda commented on #1832
My https://github.com/rsvoboda/wildfly/settings/hooks looks like a mess :).
Have there 20 inactive/failed versioneye.com hooks (connection timeout), cleaning it now and will try the import again.

[2018-08-16 12:42] samuzzal-choudhury commented on #4179
@miteshvp @rootAvish @invincibleJai  A few observations after I tried out stack report generation for guava project:

1. Root level pom.xml for guava does not have any dependencies (_mercator is sane in parsing only 'dependencies' as confirmed by @msrb_) listed and contains the pointers to the modules of the application. So, the generated report for that pom.xml without any dependencies make sense

[2018-08-16 12:42] rsvoboda commented on #1832
hmm, I got `0 - {"isTrusted":true}` again even with clean https://github.com/rsvoboda/wildfly/settings/hooks

[2018-08-16 12:46] miteshvp commented on #4179
@samuzzal-choudhury for point 1 above, I generated stack report for a single POM. It should not give us analyzed-deps and unknown-deps as empty. So backbone is receiving a wrong set of deps somewhere which makes sense because all the analyzed-deps and unknown-deps is empty for stack-aggregator and dummy recommendation as if no EPVs are passed from kronos. Something to debug between mercator and ba

[2018-08-16 13:12] samuzzal-choudhury commented on #4179
@miteshvp my point was that, if you generate report for the top level pom.xml, you are not going to get dependencies listed in the report as that does not include dependencies, rather includes the list of modules in the project. @msrb confirmed and he can reconfirm that we should not look for dependencies in 'DependencyManagement' tag.

I get failures in generating stack report for the module spec

[2018-08-16 13:33] gastaldi commented on #1832
The call is asynchronous already when the `Import Application` button is pressed. As for the number of webhooks, https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/steps/GitSteps.java#L96 should check if the creation should happen, but maybe there is a hidden bug in there (supposing that the webhooks were created recently by la

[2018-08-16 13:34] gastaldi commented on #1832
Ah the webhooks were versioneye hooks, ignore my last statement :)

[2018-08-16 13:56] bartoszmajsak commented on #1832
@rsvoboda I think this might be timeout I'm facing too. Did you see http call by any chance?

@gastaldi let's take it from there and have a look together on what to improve. The timeout is there so not sure if it's async or not.

[2018-08-16 13:56] kpiwko opened #4181 "Inconsistency in API of Planner/WIT for /iterations endpoint"
##### Issue Overview

There are multiple problems with API when fetching data from Planner.

 As part of /iterations endpoint, there is an URL query to workitems that does not work and does not show the right data

##### Expected Behaviour

1.  Link in workitems.link.related does not give HTTP 404
2. Query/url provided in workitems.link.related does not ignore nested iterations - whatever you fetc

[2018-08-16 14:06] ppitonak commented on #3928
@stevengutz imho this is important for osio on osio

[2018-08-16 14:07] arilivigni commented on #3570
@sthaha maybe I don't understand this but I was considering how Knative build could be used for the build service not the CI/CD part.  I look at them as separate.  Correct me if I am wrong but you are using Jenkins/fabric8 for both currently.  So to me if we can leverage the Knative build to replace the build service part https://github.com/knative/docs/tree/master/build#key-features-of-knative-bu

[2018-08-16 14:07] arilivigni commented on #3570
@sspeiche any update on bringing me into that proposal?

[2018-08-16 14:12] kpiwko opened #4182 "Not normalized data model for workitems"
##### Issue Overview

Querying work items from /search returns json that contains fields with '.' as key. This makes navigation in json complex as '.' is a notation navigate in hierarchies. A workaround is to flatten the object but if you unflatten it afterwards, you'll get non-compatible object with current API

Example: `"system.description.markup": "FOOBAR"`

##### Expected Behaviour

Values wi

[2018-08-16 14:14] kpiwko commented on #4181
Marking this as SEV2 as I consider API UX of the same importance as GUI UX

[2018-08-16 14:19] ppitonak opened #4183 "PR build fails even though the user is a collaborator"
##### Issue Overview

When a user creates a pull request to the repository of other user, Jenkins job is started but fails with the same message no matter if he is or isn't a collaborator.

##### Expected Behaviour

Jenkins job passes (assuming no actual bug introduced)

##### Current Behaviour

Jenkins job fails with message  `Change author is not a collaborator on the project, failing build unti

[2018-08-16 14:35] rsvoboda commented on #1832
I went back to https://openshift.io/ and I saw https://github.com/rsvoboda/wildfly in Codebases section of the my wf-import space. So it seems to be the timeout issue.

I nuked my stuff via _cleanup and tried again, I received `0 - {"isTrusted":true}`, but new hook was added to https://github.com/rsvoboda/wildfly/settings/hooks and after some time I could see  https://github.com/rsvoboda/wildfly i

[2018-08-16 14:40] jmelis commented on #4083
Are we OK to remove content repository already?

[2018-08-16 15:43] pmacik opened #4184 "Pipeline builds overlap between spaces when project name is the same"
##### Issue Overview

Pipeline builds overlap between spaces when project name is the same

##### Expected Behaviour
When a user creates a new project (using launcher) in different spaces the pipeline builds for each project should be isolated from each other completely - different pipelines should be triggered, one per project.

##### Current Behaviour
When user creates a new project in one space

[2018-08-16 15:54] slemeur commented on #3113
I don't think we have a parent issue for this one.

[2018-08-16 15:55] sara-02 commented on #4179
@samuzzal-choudhury yes, there is. If I understand you correctly then the server backbone is receiving an empty list of dependencies, right?  The logic which determines if Kronos or hpf is to be used defaults to Kronos if the original dependency list is empty. And within Kronos, since the input package list is empty, it returns a default set of companion recommendations.

[2018-08-16 15:56] slemeur commented on #917
No I think we should be closing this issue as this would need to be revisit along with the ability to bring more boosters to OSIO.

[2018-08-16 15:56] #917 closed

[2018-08-16 15:57] samuzzal-choudhury commented on #4179
@sara-02 is this by design?

[2018-08-16 15:59] piyush1594 commented on #4184
@pmacik

You can not create two pipelines with the same name in a single namespace. Basically, the application name is the name of the build config.

[2018-08-16 16:01] sara-02 commented on #4179
Kind of, not deliberate design, actually we check if 50% or more of the dependencies are from vertex/spring-boot/Wlidfly ecosystem or not, and return a true or false accordingly, but if the length of the set is zero then false is returned, since None might break the flow, and the former might lead to division by zero. So to not break the flow I default to Kronos.

[2018-08-16 16:52] joshuawilson commented on #1832
Thanks for bringing it up. I was not aware.

[2018-08-16 16:54] bartoszmajsak commented on #1832
For the record, here are the stats for both repositories:

https://github.com/wildfly/wildfly-core (1.12 GiB)

[code]

Current checkout (master)
[code]

https://github.com/wildfly/wildfly (2.58 GiB)

[code]

Current checkout (master)
[code]

So we are dealing with quite a chunk here.

[2018-08-16 18:03] samuzzal-choudhury commented on #4179
@sara-02 don't you think that this could be better handled at the server-backbone level with a check? Can you please take an initiative to fix this and share the timeline for delivering that fix?

[2018-08-16 19:02] #4037 closed

[2018-08-16 20:56] serenamarie125 opened #4185 "Provide richer information to set context."
Updated Description
Provide richer content on the Create Space and Create Application screens.  This should help novice users to understand OSIO concepts.

Historical
As part of the design thinking session around _Goal A - Improve Onboarding for novice_, **providing richer information to set context** was prioritized as an issue to address.  The following suggestions should help provide context on

[2018-08-16 21:02] serenamarie125 opened #4186 "Provide better status & feedback"
More details to come ...
this issue is added based on the design thinking session around Improving on boarding for the novice"

[2018-08-16 21:03] serenamarie125 opened #4187 "Provide "here's what you can do now!" once completing a task"
As part of the design thinking session around _Goal A - Improve Onboarding for novice_, **here's what you can do now** was prioritized as an issue to address.  The following suggestions should help provide context on the design direction:
- Once the flow is completed (of creating an application), provide actions to guided the user on what he can do next

[2018-08-16 21:04] serenamarie125 opened #4188 "Provide easy access to log issues"
More details to come ...
this issue is added based on the design thinking session around Improving on boarding for the novice"

[2018-08-16 21:04] serenamarie125 opened #4189 "Provide an easy starting point"
As part of the design thinking session around _Goal A - Improve Onboarding for novice_, **provide an easy starting point** was prioritized as an issue to address.  The following suggestions should help provide context on the design direction:

- Provide clear instruction before the user starts the application
- Provide an obvious flow on how to start a journey

[2018-08-16 21:05] serenamarie125 opened #4190 "Allow access to create app action from anywhere & everywhere"
As part of the design thinking session around _Goal A - Improve Onboarding for novice_, **always allow access to the create application action** was prioritized as an issue to address.

[2018-08-16 21:06] serenamarie125 opened #4191 "Address consistency of colors & fonts"
As part of the design thinking session around _Goal A - Consistency of Design Patterns_, **Address consistency of colors & fonts** was prioritized as an issue to address.  The following suggestions should help provide context on the design direction:

- Not to use too many colors (avoid black backgrounds) and controls
- Create flow has inconsistent visuals (background colors, font sizes)
- Rationa

[2018-08-16 21:07] serenamarie125 opened #4192 "Address animation consistency issues"
As part of the design thinking session around _Goal A - Consistency of Design Patterns_, **Address animation consistency issues** was prioritized as an issue to address.  The following suggestions should help provide context on the design direction:
- Creation & naming should be smoother than it is today
- Improve the transition between the pages, we should not see the “space dashboard” between th

[2018-08-16 21:07] serenamarie125 opened #4193 "User should be able to view progress of application creation at any time before it's complete"
Updated Description:
This issue is around allowing the user to view progress of application creation at any time, after the launcher is complete.
The Invision should include progressing from the launcher to the initial progress screen, and should also indicate how the user navigates back to view progress if the application creation is not yet complete.

Historical:
As part of the design thinking s

[2018-08-16 21:08] serenamarie125 opened #4194 "Analyze Dashboard : Improve home page empty state for on boarding"
1. Improve the Home page empty state for onboarding

![home02](https://user-images.githubusercontent.com/12504403/46923708-d0ab0a80-cfe9-11e8-99a4-43be18bd9eb4.png)

1. Space Name text field should have default focus
<img width="1326" alt="screen shot 2018-10-16 at 8 22 59 am" src="https://user-images.githubusercontent.com/12504403/47016144-d5bca680-d11c-11e8-87ea-e0446ad491d8.png">

1. Applicatio

[2018-08-16 21:09] serenamarie125 opened #4195 "Analyze Dashboard : Propose a guided tour"
More details to come ...
this issue is added based on the design thinking session around "Providing better guidance for the next steps once an application is created"

[2018-08-16 21:10] serenamarie125 opened #4196 "Analyze Dashboard : Address issues with filled dashboard widgets"
More details to come ...
this issue is added based on the design thinking session around "Providing better guidance for the next steps once an application is created"

[2018-08-16 21:10] serenamarie125 opened #4197 "Application Creation : Improve the details during the setup & in progress states"
Updated Description
Once the Setup/Progress dialog/modal is displayed, improve the details provided to the user.  Indicate if there should be specific messages for each stage regarding in progress & complete.  This will allow the user to beginning intermediate progress

Historical:
As part of the design thinking session around _Goal B - Providing better guidance for the next steps once an applicat

[2018-08-16 21:11] serenamarie125 opened #4198 "Analyze Dashboard : Re-evaluate in progress states in the dashboard"
As part of the design thinking session around _Goal B - Providing better guidance for the next steps once an application is created - Improve dashboard page, to include more obvious actions_, **re-evaluate in progress states in dashboard** was prioritized as an issue to address.

[2018-08-17 02:56] serenamarie125 commented on #4070
Please find my feedback in this GDoc : https://docs.google.com/document/d/199NSMJUOCyjbO-BBtW0rIomO33ITn43O3VRiYJ8KobU/

[2018-08-17 03:01] sthaha commented on #1754
Closing this as the getting started experience has changed.

[2018-08-17 03:01] #1754 closed

[2018-08-17 03:04] sthaha commented on #1759
@ldimaggi I am closing this as "Won't Fix" since we don't have much control over the message written by various plugins to stdout/stderr.

[2018-08-17 03:04] #1759 closed

[2018-08-17 03:26] serenamarie125 commented on #4188
Possible solution:
Add "Log an Issue" menu item to the Help menu in the masthead which navigates to : https://github.com/openshiftio/openshift.io/issues

[2018-08-17 03:51] kishansagathiya commented on #4083
Do you mean more resources to Jenkins?

[2018-08-17 04:01] serenamarie125 commented on #4065
@aslakknutsen @joshuawilson a few questions to help provide clarity:
1. is it possible for you to share what the Deployments view of one of your spaces would look like (add an image here)
2. currently when you "expand" an application, the card expands.  If there are a number of cards (db, message queue, etc) associated with a single application, would you assume that they would want all expanded a

[2018-08-17 04:15] sthaha commented on #4083
:D yes .. I did; corrected

[2018-08-17 04:46] hrishin commented on #4180
`bananas` ?

[2018-08-17 06:48] miteshvp commented on #2562
No longer reproducible. Closing this

[2018-08-17 06:48] #2562 closed

[2018-08-17 06:50] miteshvp commented on #1895
Assigning it to the right team owners.

[2018-08-17 07:06] muruGanesan commented on #4069
@joshuawilson, @bartoszmajsak, @aslakknutsen, @serenamarie125 , @gorkem ,  @catrobson

Updated URL for the UX concept:
https://redhat.invisionapp.com/share/5SN9DYO93E7

[2018-08-17 07:25] chmouel commented on #4180
![image](https://user-images.githubusercontent.com/98980/44253290-6fd89f00-a1ff-11e8-8ad6-f787152d37e5.png)

[2018-08-17 07:29] parvathyvr opened #4199 "Wireframes:Managing the Openshift instances that user can connect to OSIO from User ‘Settings’"
DESCRIPTION
Wireframes that cover the all screen flows needed for adding openshift instances the user can connect to OSIO from user settings.Also capture the 'resources' tab where the user can view the overview of the openshift instances connected to OSIO.

PARENT: https://github.com/openshiftio/openshift.io/issues/4064

VERIFICATION CRITERIA

- [ ] Wireframes created in Sketch and posted on Googl

[2018-08-17 07:30] yzainee commented on #4150
@aslakknutsen Closing this issue as we will be handling this issue in our backend. @miteshvp This will be lots of changes in the platform side, lets handle it in our code.

[2018-08-17 07:34] yzainee commented on #4114
Ingestion: https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/191
Notification : https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler/pull/2

[2018-08-17 07:39] parvathyvr opened #4200 "Wireframes:Defining Environments from ’Space Settings’"
DESCRIPTION
Wireframes that cover the all screen flows needed for defining environments from space settings.Capture screens for both scenarios ie,while a space already exists and while creating a new space
PARENT: https://github.com/openshiftio/openshift.io/issues/4064

VERIFICATION CRITERIA
- [ ] Wireframes created in Sketch and posted on Google Drive with interaction notes for all behaviors
- [

[2018-08-17 07:45] parvathyvr opened #4201 "Wireframes:Defining Pipelines-in 'space setting' and during 'app creation' flow"
DESCRIPTION
Wireframes that cover the all screen flows needed for defining pipelines from space settings and in the 'app creation' flow.
1)From space settings flow-capture screens for both scenarios ie,while a space already exists and while creating a new space
2)For the 'app creation' part-capture how the pipelines can be modified.

PARENT: https://github.com/openshiftio/openshift.io/issues/4064

[2018-08-17 08:07] Preeticp commented on #1826
@stevengutz, the Che and Jenkins Status indicator is no longer part of OSIO UX, as a result the docs removed this information: https://github.com/fabric8io/fabric8-online-docs/pull/279
@joshuawilson, @sbose78  can you please confirm on this.
I believe we can close this issue.

[2018-08-17 08:15] Preeticp commented on #1756
This was an issue for the PDF version of docs earlier which was deprecated.
The current Getting Started guide maintained by the docs team covers this information in the section on using the Che workspace: https://docs.openshift.io/getting-started-guide.html#running_your_project-hello-world.
We can close this issue.

[2018-08-17 08:18] Preeticp commented on #1563
@stevengutz, this issue can be closed. This was with reference to the earlier PDF doc which was later deprecated.
The current [Getting Started guide](https://docs.openshift.io/getting-started-guide.html) does not have any of these issues.

[2018-08-17 08:30] Preeticp commented on #3289
Basic Asciidoc conversion and format changes are done. Instructions are not working as of now, hence stalled for the moment.

[2018-08-17 09:57] pmacik commented on #4184
@piyush1594 I'm not trying to create two pipelines with the same name in a single namespace.

I do try to create one pipeline in each of the two spaces while the name of the pipeline (project) is the same:

Space `space1`:
 - pipeline (`test123`) with git repo `space1-test123`

Space `space2`:
 - pipeline (`test123`) with gt repo `space2-test123`

I expect that the 2 pipelines are separated but th

[2018-08-17 10:09] ppitonak commented on #2321
Can somebody explain me what this means?

[2018-08-17 10:14] piyush1594 commented on #4184
@pmacik You are getting confused between space and namespace.

Space in OSIO is a different thing. All the pipelines you create in any space in OSIO will actually get created in a single namespace in OSO(openshift) that is your username of OSIO.

And you can not create two pipelines with the same name in openshift basically any resource like pod, deployment config etc.

Thanks

[2018-08-17 10:36] rootAvish opened #4202 "License conflict reported but no conflicting license details provided in stack report"
##### Issue Overview

When I trigger stack analysis for a real-world Vaadin repository through the IDE extensions (since there is now support for full Maven) I don't get any supporting information around license conflicts.

##### Expected Behaviour

There should be some information in the stack report that tells you where the license conflicts actually are.

##### Current Behaviour

See screenshot

[2018-08-17 10:37] rootAvish commented on #4202
/cc @miteshvp

[2018-08-17 10:48] rootAvish commented on #4111
Resolved with https://github.com/openshiftio/saas-analytics/pull/460

[2018-08-17 10:48] #4111 closed

[2018-08-17 11:01] divyanshiGupta commented on #3615
@nimishamukherjee do we disable the input field for non-collaborators because as @Raunak1203 mentioned in openshift.io space non-collaborators can create work-items.

[2018-08-17 11:03] divyanshiGupta commented on #3666
Still cannot reproduce this issue and hence closing it. Feel free to open the issue if the issue is seen again.

[2018-08-17 11:03] #3666 closed

[2018-08-17 11:35] pmacik commented on #4184
@piyush1594 Ah, I understand, now... Thanks.

But, in that case, OSIO should not allow a user to create a project with the existing name within the namespace. But it does.

Is that intentional?

[2018-08-17 11:47] piyush1594 commented on #4184
There is a check for duplicate project name in the same space. I think we need to add it for all spaces I think.

![same-project](https://user-images.githubusercontent.com/19270240/44264726-46d8fe00-a241-11e8-889d-9566001d81be.png)

@bartoszmajsak or @vikram-raj can provide more details about that.

[2018-08-17 12:08] rootAvish opened #4203 "There is no indication in the UI around which dependencies are known to the recommendation model and used to generate recommendations"
##### Issue Overview

When running stack analysis through VSCode/OSIO for stack which have some unknown packages in them (i.e. packages unknown to the recommendation model) if the number of unknowns is less than the threshold, a recommendation is shown however we need to make it clear to the user that not all the preferences were considered to generate the report.

This is not really a bug, rather

[2018-08-17 13:16] tinakurian opened #4204 "Architecture of Endpoints is Incorrect"
##### Issue Overview

The architecture for launcher-backend endpoints is incorrect.

Consider the following APIs:
/services/openshift/clusters
/services/openshift/clusters/all

It is unclear looking at these two endpoints what the difference is. In true REST fashion, these endpoints should have been something more along the lines of the following:

/services/openshift/current-user/cluters
/service

[2018-08-17 13:59] dlabrecq opened #4205 "Cleanup: Remove unused feature flags and widgets"
The home page still contains old and new widgets based on the Analyze.newHomeDashboard feature name. The new work-item-widget has a feature flag named Analyze.WorkItemOverviewCard.
Unless we haven't enabled the new dashboard for some reason, I believe we can remove all those feature flags now? And remove the old, unused widgets (e.g., recent-pipelines-widget).

[2018-08-17 14:12] serenamarie125 commented on #4197
#4070 Muru this is an associated issue.  Please close out that issue, and track that work here.

[2018-08-17 14:48] kpiwko opened #4206 "Endpoints accept SQL LIKE syntax for text query"
##### Issue Overview

Endpoint `/api/search/spaces` provides parameter `q`. However, this parameter is very confusing as `_` is a reserved character in LIKE parameter and escape rules are needed to be provided by user.

##### Expected Behaviour

User can provide text in human readable / expected format, e.g. a search for space named 'OpenShift_io'

##### Current Behaviour

User need to escape acco

[2018-08-17 14:49] stevengutz commented on #1563
Closing based on @Preeticp comment above

[2018-08-17 14:49] #1563 closed

[2018-08-17 14:50] stevengutz commented on #1826
Closed based on @Preeticp comment above

[2018-08-17 14:50] #1826 closed

[2018-08-17 15:00] yzainee opened #4207 "No option to add comments in planner stories"
##### Issue Overview
Not able to add any comments on the planner stories as the tick mark is disabled

##### Expected Behaviour
IT should allow the user to add comments.

##### Current Behaviour
Tick mark is diabled and hence cannot submit (add) comments

##### Steps To Reproduce

1. Click to open a story in planner.
2. Click on the comment box, add some comments

##### Additional Information
Brow

[2018-08-17 15:13] vikram-raj commented on #4184
Yes, there is a check for the project name in the same space in which the user is.

[2018-08-17 15:18] jarifibrahim commented on #4132
@sara-02 The fix has been merged. Can you please verify the issue on prod-preview?

[2018-08-17 15:19] jarifibrahim commented on #1734
Closing this one.
Please see https://github.com/fabric8-ui/fabric8-ui/pull/2350#issuecomment-381298831

[2018-08-17 15:19] #1734 closed

[2018-08-17 16:33] GeorgeActon commented on #4181
@kpiwko how do you think this should be prioritized?

[2018-08-17 16:35] GeorgeActon commented on #4162
@bartoszmajsak then it should be assigned to that team. If it is not them they will replace the tag with the correct team

[2018-08-17 18:47] stevengutz commented on #4204
@aslakknutsen I don't think I agree with the comment above.  REST design is very specific on the URL structure.  The URL is supposed to a path to a resource, so it is hardly irrelevant.  In the example above "/services/openshift/clusters/all" isn't a resource - it's a function call in disguise.  Since we are supposed to be a company catering to software engineers we should probably build API endpo

[2018-08-17 19:17] bartoszmajsak commented on #4204
Can you define "the rest of the industry"? Because for example, this very thing I'm putting my comment in is moving away from REST to GraphQL for a lot of good reasons (including scalability, easiness and flexibility for 3rd party integrators).

Maybe we should take one step back and think if REST and resources is really a way to go for this set of services?

[2018-08-17 19:37] aslakknutsen commented on #4204
@stevengutz Why isn't /x/all a resource? What determines that it would be, if it was just /xs/? Does a program calling /x/all somehow behave differently because this URL has a path named as a 'function call in disguise', how?

Or perhaps there are completely different aspects of the 'URL handlers' behavior that determines it's 'restfullness'...

[2018-08-17 19:46] bartoszmajsak commented on #4204
@tinakurian I think the confusion here is the [swagger "tag"](https://swagger.io/docs/specification/grouping-operations-with-tags/). The idea, if I understand that correct, was to show you which services belong to which category. Maybe `Services` tag is one step too far, but "openshift.io" hints here that this is used by OSIO, whereas "jenkins" tag means that this particular service exposes "jenki

[2018-08-17 19:50] stevengutz commented on #4204
@bartoszmajsak You're right and I'm all for going to GraphQL, let's do it!

@aslakknutsen. if we were REST purists (and I probably am), we would have "/services/openshift/cluster" to return the current cluster and "/services/openshift/clusters" to return all clusters.  Lots of people will make an argument that as long as you don't have something like "/services/openshift/cluster/get" then you're R

[2018-08-17 20:31] alexeykazakov commented on #4204
I don't think it's possible in any real world complex app but we should try our best to go to that direction for sure :)

But I really don't care much if it's pure canonical REST or something else. So, I would work on the legit issue "Our API is confusing. Let's improve it!" rather than opening debuts about what is pure and true REST and what is not.

[2018-08-17 22:12] aslakknutsen commented on #4204
@stevengutz If you are a REST purist you would know the main purpose of REST is to decouple client and server, so why are you hardcoding knowledge of multiple endpoints in the client? You expose a root(api.os.io) and let the client traverse the logical links exposed resource by resource, at which point the URL path becomes completely irrelevant.

[2018-08-17 22:19] piyush1594 commented on #4184
@pmacik I think this is not a build team issue. Feel free to put label again if you find so. Adding app creation team label.

[2018-08-17 23:59] tinakurian commented on #4204
I agree with @alexeykazakov I agree. The whole point is that it's confusing.

@aslakknutsen The root api idea which you proposed for planner (which was implemented last sprint) was a brilliant idea! We should definitely do that in launcher as well. Definitely helps further decoupling the client and server. Part of the purpose of using tools like swagger is to generate documentation to help the end

[2018-08-18 04:59] miteshvp commented on #4202
@rootAvish - can you PM me your stack-id please?

[2018-08-18 06:06] jarifibrahim commented on #4132
The issue has been fixed. Closing this.

[2018-08-18 06:06] #4132 closed

[2018-08-18 06:14] jarifibrahim commented on #3835
Duplicate of https://github.com/openshiftio/openshift.io/issues/4132
Closing since the actual issue has been fixed in https://github.com/openshiftio/openshift.io/issues/4132

[2018-08-18 06:14] #3835 closed

[2018-08-19 01:40] #2576 closed

[2018-08-19 01:41] gorkem commented on #2576
closed, it looks like an acceptable solution and there was no further activity.

[2018-08-19 16:32] nimishamukherjee commented on #4144
@sunilmalagi how should the selected filters be displayed?
![filters](https://user-images.githubusercontent.com/1892722/44310893-7cc1e200-a3fb-11e8-8e91-95f90527f661.png)

[2018-08-19 16:39] nimishamukherjee commented on #4144
@Veethika note the original issue reported by @catrobson is in Patternfly-ng (https://www.patternfly.org/patternfly-ng/#/filters)
The same text is displayed as a placeholder text as well as the first element for the selected drop down.

[2018-08-19 17:08] ibuziuk commented on #3893
@ldimaggi @rhopp similar issue #3884 has been closed. Is it still reproducible or we can also close this one ?

[2018-08-19 18:34] animuk commented on #3512
@bartoszmajsak I dont think, those work on the checked ones are committed to any project.  this story might not be relevant right now. @sunilk747 please close this if it is not needed.

[2018-08-19 20:47] GeorgeActon commented on #3512
@animuk @sunilk747 @ravsa this story is NOT in Planner so it is definitely not in our plan any longer and not being worked on.

[2018-08-20 02:27] serenamarie125 commented on #4195
@Veethika does it make sense for you to look into this, given you have already begun work on the associated brief?

[2018-08-20 04:42] kishansagathiya commented on #4160
PR for adding job in CICO jenkins: https://github.com/openshiftio/openshiftio-cico-jobs/pull/761
 PR raised with required build scripts:- https://github.com/fabric8io/kubernetes-client/pull/1183/files

@rupalibehera Does this look good? Anything else required here?

[2018-08-20 06:02] rhopp commented on #3893
I didn't see this issue in the first place. @ldimaggi Have you seen this one since reporting it?

[2018-08-20 06:13] rootAvish opened #4208 "Provided scope dependencies picked up in some cases but not others"
##### Issue Overview

I am getting conflicting behavior around dependency resolution for the "provided" scope packages.

##### Expected Behaviour

Either the "provided" scope packages should be ignored in all cases or picked in all cases.

##### Current Behaviour

"Provided" scope packages are picked in some cases and ignored in others.

##### Steps To Reproduce

1. Generate stack report for: http

[2018-08-20 06:49] rootAvish opened #4209 "No license conflicts shown but no recommended license present"
##### Issue Overview

For some repositories on triggering stack analysis the recommended license is None but no license conflicts are reported.

##### Expected Behaviour

There should either be license conflicts or a recommended stack license.

##### Current Behaviour

There are no license conflicts or a recommended stack license.
[code]

##### Steps To Reproduce

1. Generate stack report for the

[2018-08-20 06:52] rootAvish opened #4210 "413 error in stack analysis"
##### Issue Overview

Triggering stack analysis for certain repositories give a 413 error.

##### Expected Behaviour

We should be able to generate a stack report for large POMs or alternatively handle this in some other way.

##### Current Behaviour

Stack report generation fails with 413 error.

##### Steps To Reproduce

1. Generate stack report for the pom.xml in the root folder for https://git

[2018-08-20 06:53] ravsa commented on #3512
I'm no longer is working on this so closing this issue.

[2018-08-20 06:53] #3512 closed

[2018-08-20 07:14] #4040 closed

[2018-08-20 07:41] vikram-raj opened #4211 "Add Codebase button should only visible to space owner"
##### Issue Overview

Add Codebase button on **Create > Codebases** page is always visible. If you try to add codebase then it will fail because only space owner can add codebase to space.

##### Expected Behaviour
Add Codebase button should only visible to space owner.

##### Current Behaviour
Add Codebase button is always visible on **Create > Codebase** page.
##### Steps To Reproduce

1. Go to

[2018-08-20 08:27] Veethika commented on #4144
@nimishamukherjee noted.
@catrobson this makes it an issue that the PF-NG should take care of. Which should be the right team to be assigned this task?

[2018-08-20 08:32] sunilk747 commented on #4038
Architecture details and high level view of mattermost-server :-
https://docs.google.com/document/d/131ItiDmOxMRvcll4G6-Tzst3uUYtrYKejo10RQFmq8I/edit?usp=sharing

[2018-08-20 08:32] #4038 closed

[2018-08-20 09:08] tisnik commented on #843
The implementation has been fixed and we don't have to change the documentation as it does not mention outliers (it will need to be fixed later via another issue ;)

[2018-08-20 09:08] #843 closed

[2018-08-20 09:33] ppitonak commented on #3517
@kishansagathiya there is a new Jenkins in prod and AFAIK the issue with stuck terminating pods is solved now but the Jenkins is still not un-idling from time to time.

What is the next step?

[2018-08-20 09:57] kpiwko commented on #4181
I don't know - something in between P2 and P3? - based on @rgarg1 comment in MM, this might have been worked around in UI - in such case I'd be in favor of P2. Otherwise P3.

[2018-08-20 10:27] #4044 closed

[2018-08-20 10:27] #4106 closed

[2018-08-20 10:28] #4093 closed

[2018-08-20 10:28] #4092 closed

[2018-08-20 10:29] #4090 closed

[2018-08-20 10:40] parvathyvr commented on #4064
The updated OSIO Environment flow after the discussion with the stakeholders:
https://redhat.invisionapp.com/share/HQNBB7SUNTM#/312253087_Table_Of_Contents

[2018-08-20 10:40] #4064 closed

[2018-08-20 10:41] #4118 closed

[2018-08-20 10:57] kishansagathiya commented on #3517
@sthaha
When the issue was opened, it was because init container hack in Jenkins.
At the moment
- Init Container hack is removed
- Content repo is removed and jenkins is given more resources

But as @ppitonak mentions

These definitely is because of reasons different than earlier. I say we close this one and track current problems with un-idling on a different issue. We already have a mesh of issu

[2018-08-20 10:57] rootAvish opened #4212 "Re-implement the fold-in logic for hpf-insights"
#### Planner Link

https://openshift.io/openshiftio/Openshift_io/plan/detail/437

#### Task List

- [ ] Implement the fold-in logic
- [ ] Write the unit tests
- [ ] Push to production

[2018-08-20 10:59] GeorgeActon commented on #4207
@yzainee Is it just work item 326 or are there other work items where you have the same problem?
    I was unable to replicate your problem.

Did you click the edit 'pencil' to add the comment or did you click in the comment box?

what version of Chrome are you on?

What feature Opt-in level have you selected in OSIO?

[2018-08-20 11:03] ppitonak commented on #3517
I would prefer keeping this issue open... you cannot be 100% sure that it was caused only by init container hack. Creating a new issue makes sense if a bug is fixed and later a regression appears. This one was never fixed.

Could you list related **open** issues here? I only know about https://github.com/fabric8-services/fabric8-jenkins-idler/issues/258

[2018-08-20 11:08] rootAvish opened #4213 "Identify and collect the manifests to be used for training of Python recommendation model"
#### Planner Link

https://openshift.io/openshiftio/Openshift_io/plan/detail/438

#### Task List

- [ ] Collect all the Github manifests for Python (requirements.txt)
- [ ] Normalize data and load to S3
- [ ] Pass list of EPVs for collection

/cc @msrb

[2018-08-20 11:09] tisnik opened #4214 "Improper object name in the `fabric8-analytics-data-model` repository"
##### Issue Overview

The problem has been found in the `utils.module` in `execute_gremlin_dsl` function:
https://github.com/fabric8-analytics/fabric8-analytics-data-model/blob/master/src/utils.py#L33

##### Expected Behaviour

- `resp` object to be used in the function
- unit tests has the full coverage for the `execute_gremlin_dsl`

##### Current Behaviour

- `response.status_code` is used on li

[2018-08-20 11:13] kishansagathiya commented on #3517
@ppitonak
We should close https://github.com/fabric8-services/fabric8-jenkins-idler/issues/258 as well since it makes sense only if we have init-container. Only in that situation, reseting might help us avoid openshift networking bug.

[2018-08-20 11:53] sthaha commented on #3517
@ppitonak

IMO, the earlier bugs must be fixed by now. How often are you able to reproduce the issue by repeating the steps in OP ?

1. Reset user env
1. Observe Jenkins and Content Repo pods start up
1. Wait until both pods idle
1. Create a new app
1. Observe Jenkins and Content Repo pods do not un-idle

Could you please post
1. the state of Jenkins pods
1. logs if jenkins pod even starts
1. the

[2018-08-20 12:02] ppitonak commented on #3517
@sthaha ok, OP mentions content repo explicitly, although content repo was not the root cause, I agree to close this issue and create a new one.

[2018-08-20 12:08] ppitonak opened #4215 "Jenkins un-idling not working"
##### Issue Overview

Sometimes Jenkins does not un-idle

##### Expected Behaviour

Jenkins work at any time, if it is idled, it would un-idle

##### Current Behaviour

User sees just a message that Jenkins is starting, it doesn't start in 30min.
![05-03-jenkins-direct-log](https://user-images.githubusercontent.com/445100/44339675-8e020180-a482-11e8-85b1-c2398ae64629.png)

##### Steps To Reproduce

[2018-08-20 12:09] #3517 closed

[2018-08-20 12:25] pbergene commented on #4083
Does this mean the content repository is gone?

[2018-08-20 12:44] kwk commented on #3832
I've made the changes to the template here in #2247:

https://github.com/fabric8-services/fabric8-wit/pull/2247/files#diff-ef9bca69129f8d8e357ad2ba0192455a.

The resolution is already set to `None` for a while already.

[2018-08-20 13:45] GeorgeActon commented on #4206
@michaelkleinhenz added team planner. Please correct if wrong.

[2018-08-20 13:49] surajssd commented on #3835
@jarifibrahim probably https://github.com/openshiftio/openshift.io/issues/4132 was duplicate of this issue :wink:  It's nice it's fixed :+1:

[2018-08-20 14:11] kishansagathiya commented on #4083
Yes

[2018-08-20 14:19] aptmac commented on #4173
Duplicate of https://github.com/openshiftio/openshift.io/issues/3484 ?

[2018-08-20 14:26] aptmac commented on #4211
Duplicate of https://github.com/openshiftio/openshift.io/issues/3634 ?

[2018-08-20 14:38] aptmac commented on #4205
The new dashboard is still only visible from a >= experimental level, and the recent-pipelines-widget is still currently present on the production view home page fwiw.

[2018-08-20 14:43] dlabrecq commented on #4205
@joshuawilson Any plans to make the new dashboard a non-experimental feature? Otherwise, we can probably close this issue.

[2018-08-20 15:17] pbergene commented on #4083
It doesn't look gone..

`oc get dc --all-namespaces -o json | jq -r '.items[] | select(.metadata.name == "content-repository") | .metadata.name' | wc -l
1589
`

[2018-08-20 15:29] piyush1594 commented on #4083
@pbergene can you please do update tenant and then reset environment? Let us know your results after that.

[2018-08-20 15:32] aptmac commented on #3270
The "What's New?" functionality has been commented out [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/home/home.component.html#L14) in [[1]](https://github.com/fabric8-ui/fabric8-ui/commit/194bd11c759aeb3cc23e4144f07fd427774cf28e), and is no longer visible.

[0] https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/home/home.component.html#L14
[1] https://github.com/fabr

[2018-08-20 15:32] aptmac commented on #3271
The "No thanks" link was removed in https://github.com/fabric8-ui/fabric8-ui/pull/2930/files#diff-eca39dd916df44977c2db3c73f7d7cb7L28

[2018-08-20 15:32] #3271 closed

[2018-08-20 15:36] aptmac commented on #3529
The recent-spaces card was updated [[0]](https://github.com/fabric8-ui/fabric8-ui/pull/3166/commits/7d054dabd80738267b3d5e657746f3a0fc3308f7) to fill the component with spaces instead of overflowing with a scrollbar.

[0] https://github.com/fabric8-ui/fabric8-ui/pull/3166/commits/7d054dabd80738267b3d5e657746f3a0fc3308f7

[2018-08-20 15:36] #3529 closed

[2018-08-20 15:40] aptmac commented on #2324
This bug can be better tracked by other issues relating to what the UI should look like when viewing other user's spaces [[0]](https://github.com/openshiftio/openshift.io/issues/3634)[[1]](https://github.com/openshiftio/openshift.io/issues/3636). This issue doesn't concern actually creating pipelines in other users spaces as I had first thought, but rather that there is nothing in the UI from prev

[2018-08-20 15:40] #2324 closed

[2018-08-20 15:44] aptmac commented on #2649
The new dashboard handles this by truncating the text and hiding it [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/dashboard-widgets/edit-space-description-widget/edit-space-description-widget.component.less#L92), however this still happens with the old dashboard (production/beta).

[0] https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/dashboard-widgets/edit-space-de

[2018-08-20 15:51] aptmac commented on #1551
FWIW, even with the new codebases widget the name can still be truncated if it's too long.

![truncated](https://user-images.githubusercontent.com/10425301/44351183-3a39ed00-a46f-11e8-89bf-7d7ddce0d2e2.png)

[2018-08-20 16:18] aptmac commented on #3621
duplicate of https://github.com/openshiftio/openshift.io/issues/3621

[2018-08-20 16:18] #3621 closed

[2018-08-20 17:59] tinakurian opened #4216 "Potential Resource Leaks"
##### Issue Overview

There are some places in launcher backend where resources are not closed. These resources can be closed using try-with-resources.

OsioWitClient.java --> deleteSpace(final String spaceId)
HttpClient.java --> parseJson(Function<JsonNode, T> jsonNodeFunction, Response response)
KeycloakIdentityProvider.java --> parseIdentity(Response r)
OpenShiftController.java --> checkNamespa

[2018-08-20 18:11] tinakurian opened #4217 "Exception Handling Improvements"
##### Issue Overview
Exception handling in Launcher Backend can be improved.

Currently, there are some examples of the following:
"RuntimeException" and "IllegalArgumentException" being thrown:
public Optional<GitHook> getHook(final GitRepository repository, final URL url) throws IllegalArgumentException { ... }

Exceptions are caught and swallowed:
this.httpClient.executeAndConsume(request, resp

[2018-08-20 20:37] piyush1594 commented on #4216
@tinakurian Are you seeing any error because of this. If so, can you paste that error? Thanks

[2018-08-20 21:31] bartoszmajsak commented on #4216
Links to actual codebase on GH would be helpful

[2018-08-21 05:51] ppitonak commented on #4215
Still happening with Jenkins 4.0.104

[2018-08-21 05:52] nimishamukherjee commented on #2287
Raised PR https://github.com/fabric8-ui/fabric8-planner/pull/2763 to remove cursor for assignees

[2018-08-21 06:12] ppitonak commented on #4083
@piyush1594 we can't force our customers to manually update their tenant and then reset the environment. The issue should not be closed until the content repository is removed for all users automatically.

[2018-08-21 06:16] ibuziuk commented on #3336
@ldimaggi @rhopp closing this one since https://github.com/redhat-developer/rh-che/issues/670 is resolved and up-to-date version of images with quickstarts is build as part of https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/
Also there is a separate issue for QA team for adding tests related to this issue - https://github.com/redhat-developer/che-functional-tests/issues/269

[2018-08-21 06:16] #3336 closed

[2018-08-21 06:31] ibuziuk commented on #3528
@ldimaggi are you still able to reproduce (seems it was related to some networking issues )?

[2018-08-21 06:33] ibuziuk commented on #3893
@ldimaggi closing. feel free to reopen in case you still can reproduce

[2018-08-21 06:33] #3893 closed

[2018-08-21 06:35] sthaha commented on #4083
@piyush1594 @ppitonak for the record the dc need not be deleted for the resources to be freed up. Given that content-repo isn't started by idler and can't be started by users (no edit role). Having the dc in that namespace shouldn't really block anything.

[2018-08-21 06:39] ppitonak commented on #4083
@sthaha what about misleading error events that users will see?

[code]

We should automatically remove all traces of content-repository, otherwise we should not call it done.

[2018-08-21 06:43] nimishamukherjee commented on #3650
@Veethika note how @sivaavkd is using select/deselect column to order the table...interesting

[2018-08-21 06:47] sahil143 commented on #2444
@jarifibrahim Please verify and close the issue.

[2018-08-21 06:49] yzainee commented on #4207
@GeorgeActon
Whether i use pencil or the dialogue box, in both the cases, i dont see an option to click on tick mark

Chrome - Version 66.0.3359.117 (Official Build) (64-bit)
Mozilla Firefox Quantum - 59.0.2 (64-bit)

Features Opt in - Internal Experimental Features

[2018-08-21 06:50] nimishamukherjee commented on #2602
Closing this as on the current UI we do not have the kebab menu.

[2018-08-21 06:50] #2602 closed

[2018-08-21 06:52] jarifibrahim commented on #2444
This issue has been fixed. Closing it.

[2018-08-21 06:52] #2444 closed

[2018-08-21 06:53] sahil143 commented on #3435
Closing this because this was fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2614 and we no longer have a `Planner Backlog Item` type.

[2018-08-21 06:53] #3435 closed

[2018-08-21 06:57] ibuziuk commented on #3496
The issue is should be fixed on prod once we switch to 6.10.0 upstream che version (this releases contains fixes for regressions introduced by the switch from pods to deployments):
- https://github.com/eclipse/che/issues/10559
- https://github.com/eclipse/che/issues/10295

[2018-08-21 07:01] sahil143 commented on #3062
Fixed in PR https://github.com/fabric8-ui/fabric8-planner/pull/2569. Closing.

[2018-08-21 07:01] #3062 closed

[2018-08-21 07:08] sahil143 commented on #3507
Assigning to @sanbornsen. Fixed in his PR.

[2018-08-21 07:10] ibuziuk commented on #3482
@rhopp could you please create an issue in upstream for to get some input from the IDE team ?

[2018-08-21 07:31] sahil143 commented on #3738
Fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2691. Closing.

[2018-08-21 07:31] #3738 closed

[2018-08-21 07:54] SMahil commented on #3650
Closing as this issue has been fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2759

[2018-08-21 07:54] #3650 closed

[2018-08-21 08:27] ibuziuk commented on #3479
Closing since basic woopra reports are already available for che [1] e.g.:
- running / active workspaces
- workspaces started from factories
- stacks
- factories
- programming languages used

More complex telemetry events are planned to be added as part of the https://github.com/redhat-developer/rh-che/issues/765

[1] https://www.woopra.com/live/project/test.openshift.io/reports/analytics/ujyyyn0b

[2018-08-21 08:28] #3479 closed

[2018-08-21 08:35] rgarg1 commented on #2736
Verified-fixed in prod. Closing the issue.

[2018-08-21 08:35] #2736 closed

[2018-08-21 08:56] yzainee opened #4218 "Platform support to display CVEs for transitive dependencies"
Planner link : https://openshift.io/openshiftio/Openshift_io/plan/detail/446

- [x] Change the template to add another table for transitive dependencies CVEs

- [x] Change the Gemini logic to populate the table for transitive dependencies CVEs

- [x] Modify test cases

- [x] Test

[2018-08-21 09:28] kishansagathiya commented on #4160
This would require a pipeline library written in shell script. @rupalibehera is working on that. Work on this issue will be resume after that is done.

[2018-08-21 09:30] yzainee opened #4219 "Changes in newer version notification flow to support transitive dependencies"
Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/447

- [x] Changes in the graph query to generate the newer versions for transitive dependencies as well

- [x] Platform changes to add additional table for transitive

- [x] Changes in platform logic to populate the new table

- [x] Test cases / test in platform repository

[2018-08-21 09:56] kishansagathiya commented on #2351
@hrishin Is this something done by sync plugin?

[2018-08-21 10:01] hrishin commented on #2351
@kishansagathiya yes its Jenkins kubernetes plugin (not sync plugin), responsible for spinning up slaves.

[2018-08-21 10:03] kishansagathiya commented on #2351
@hrishin do you mean https://github.com/jenkinsci/kubernetes-pipeline-plugin?

[2018-08-21 10:08] hrishin commented on #2351
@kishansagathiya here you go https://github.com/jenkinsci/kubernetes-plugin. We are using this upstream one.

[2018-08-21 10:09] jarifibrahim commented on #3737
Should be fixed by https://github.com/fabric8-services/fabric8-wit/pull/2196

[2018-08-21 10:17] gastaldi commented on #3443
Verified. Closing it.

[2018-08-21 10:17] #3443 closed

[2018-08-21 10:33] nimishamukherjee commented on #2651
Fix on prod

[2018-08-21 10:33] #2651 closed

[2018-08-21 10:43] ppitonak commented on #4020
It happened now with accout `ppitonak` on `starter-us-east-2`

Part of Jenkins log:
[code]

a minute or two later

[code]

[2018-08-21 10:44] ppitonak commented on #4020
FYI @sthaha @kishansagathiya @hrishin

[2018-08-21 10:54] kishansagathiya commented on #4020
@ppitonak Going through the logs, It seems that this is the infamous openshift networking issue. connection between slave and master is broken.

@chmouel can you confirm?

[2018-08-21 11:05] #4088 closed

[2018-08-21 11:05] vikram-raj commented on #3959
@ldimaggi This is has been fixed and in prod. Can you please verify.

[2018-08-21 11:09] #4112 closed

[2018-08-21 11:11] GeetikaBatra commented on #3358
@msrb Can we close this?

[2018-08-21 11:11] GeetikaBatra commented on #3361
@msrb. This one can also be closed, right?

[2018-08-21 11:12] #3984 closed

[2018-08-21 11:15] GeetikaBatra commented on #3984
This one is covered by https://github.com/openshiftio/openshift.io/issues/4114

[2018-08-21 11:16] GeetikaBatra commented on #4112
This [PR](https://github.com/fabric8-services/fabric8-notification/pull/84) covers this task.

[2018-08-21 11:20] kwk commented on #3832
Verified fix implemented by https://github.com/fabric8-services/fabric8-wit/pull/2247 in prod-preview.

[2018-08-21 11:36] kwk commented on #3448
I've unassigned myself because I don't think I'm the right person to make any changes here.

[2018-08-21 11:48] #4114 closed

[2018-08-21 11:59] yzainee opened #4220 "[Spike] How to create Github PR on user repo"
Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/448

- [x] Access GH token

- [x] Fork a repo

- [x] Update/Modify dependencies

- [x] Create a PR

- [x] Document all findings

[2018-08-21 12:06] yzainee opened #4221 "Increase the code coverage for cron job for notification"
Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/449

- [x] Write test cases for entrypoint

- [x] Write test cases for the user notification

- [x] Write test cases for utils

- [x] Write test cases for auth

[2018-08-21 12:13] hrishin commented on #4170
Jenkins file looks like for nodejs boosters.

[code]

[2018-08-21 12:13] #4170 closed

[2018-08-21 12:42] piyush1594 commented on #3058
This issue is just closed because now build will throw error message now whey it is failing that was not the case previously. Till now, what we have seen is build fails because of resource quota issue. Hence closed.

[2018-08-21 12:53] #3270 closed

[2018-08-21 12:57] joshuawilson commented on #4205
@stevengutz can we release these widgets?

[2018-08-21 13:08] sthaha commented on #4215
@ppitonak could you please post the following details when you encounter this problem

1. the cluster on which you are facing the issue
2. the pod logs
3. `oc get ev`
4. if Jenkins pod does get un-idled, could you upload the pod logs as well?
5. output of `oc get all`

[2018-08-21 13:13] sthaha commented on #2244
@pradeepto I am going to close this Epic since this isn't relevant anymore given the changes that has gone into various build components.
Lets start a new issue/feature-request when we have more reliable data.

[2018-08-21 13:13] #2244 closed

[2018-08-21 13:36] nimishamukherjee commented on #1088
We now allow changing of work item type.

[2018-08-21 14:17] chrislessard commented on #2625
@catrobson @joshuawilson I believe this work is done ? Discussion in #2890 suggests that the work was completed in https://github.com/fabric8-services/fabric8-wit/pull/2175.

[2018-08-21 14:29] tinakurian opened #4222 "Query Uses Term "Number" When Referring To The ID Column"
##### Issue Overview
When using query in order to find a work item by "id" the user must type "number." For instance
`number: 1`

This is not intuitive since there is no column titled "number"

##### Expected Behaviour
Expected that the user would type in "number" if there was a column titled "number" or, the "id" since there is currently a column titled "id"
##### Current Behaviour
Currently, the

[2018-08-21 14:35] stevengutz commented on #4205
@joshuawilson Sounds like a reasonable thing to do.

[2018-08-21 14:38] joshuawilson commented on #4069
@catrobson This is something that the Platform team should owns and can work with the other teams as needed. As for a person, @andrewazores has the most recent experience with this.

[2018-08-21 15:05] samuzzal-choudhury opened #4223 "Automatic release process for LSP"
### Planner Link:
https://openshift.io/openshiftio/Openshift_io/plan/detail/452

### Tasks:
- [ ]  CI: Unit test creation (Stretch)
- [x]  CI: Run PR build
- [x]  CI: Run PR merge build
- [x]  CI: Release the LSP server on NPM registry
- [x]  CI: Implementing Semantic version release for LSP server
- [x]  CI: The LSP server tar is to be release on Github
- [x]  CD: Automate PR creation for rh-che

[2018-08-21 15:32] joshuawilson commented on #2625
This appears done. @catrobson what do you think?

[2018-08-21 15:39] jarifibrahim commented on #4026
This one has been fixed. Please reopen if this issue persists.

[2018-08-21 15:39] #4026 closed

[2018-08-21 15:40] jarifibrahim commented on #4027
This issue has been resolved. Closing this.

[2018-08-21 15:40] #4027 closed

[2018-08-21 15:44] catrobson commented on #2625
Agree this appears complete.  Closing!

[2018-08-21 15:44] #2625 closed

[2018-08-21 17:06] samuzzal-choudhury opened #4224 "Test VSCode extension for real-world Java and NodeJS projects"
### Planner Issue
https://openshift.io/openshiftio/Openshift_io/plan/detail/458

### Tasks
- [x] Fix all the priority P1 and P2 issues reported in [the bug tracker spreadsheet](https://docs.google.com/spreadsheets/d/1nu9E-S2MdExIasHKD38OPtdYYidI22JM3F6cRpHvnK8/edit#gid=2071749690)

[2018-08-21 19:09] ebaron commented on #3500
All PRs have been merged to make use of the "skipCluster" argument when deleting spaces during an environment reset, and are now in production. If the issue reoccurs, feel free to reopen.

[2018-08-21 19:09] #3500 closed

[2018-08-21 20:13] aptmac commented on #2196
I don't believe this is a caching issue; there is no functionality in the SpacesService for handling space deletions, so it currently only handles changing spaces [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/spaces.service.ts#L36) and updating spaces [[1]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/spaces.service.ts#L32). This will tentatively

[2018-08-22 01:58] sdash-redhat commented on #4065
@joshuawilson
Thanks or sharing useful feedback!
Looks like the first options is getting more votes and seems more practical to go after as it also aligns with the existing implementation (for sure with some tweaks based on the feedback received)
Can you help to identify the data points we are showing on the preview panel or cards?
Can we list what attributes and parameters/data points we want to

[2018-08-22 01:58] sthaha commented on #4136
@rupalibehera the story related to this is https://openshift.io/openshiftio/Openshift_io/plan/detail/295

I have updated the description

[2018-08-22 03:46] #4113 closed

[2018-08-22 06:45] serenamarie125 commented on #3374
@catrobson is there additional work that needs to be accomplished as part of this issue?

[2018-08-22 06:49] serenamarie125 commented on #3633
@stacymcauliffe are you still working on this issue?  Can you provide an update?  Thanks!

[2018-08-22 08:46] tisnik opened #4225 "CI jobs are not setup for the fabric8-analytics-notification-scheduler repository"
CI jobs needs to be setup for the following repository:

https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler

##### Expected Behaviour

- All three jobs (tests, pylinter, pydoc checker) are setup.
- All three jobs are run for each PR

##### Current Behaviour

- Nothing is displayed on the GitHub

[2018-08-22 08:56] tisnik opened #4226 "Code used during testing has been merged into master branch in fabric8-analytics-notification-scheduler repository"
please see:
https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler/blob/master/f8a_notification/entryscript.py#L70

Either:
- document the purpose of this line - why it was added (demo?), when it will be removed etc
- remove this line so the code on pre-prod/prod would be correct

If you really need this functionality, is not it better to use env. variables setup properly fo

[2018-08-22 09:30] abs51295 commented on #4108
Some minor issues were found. PRs have been raised accordingly to fix them: https://github.com/fabric8-analytics/fabric8-gemini-server/pull/95 and https://github.com/fabric8-analytics/fabric8-analytics-server/pull/358. Closing this issue since those issues will be taken care of as a part of productionizing the experimental endpoint in Sprint 154. /cc: @samuzzal-choudhury @miteshvp @sivaavkd

[2018-08-22 09:30] #4108 closed

[2018-08-22 11:09] msrb commented on #4226
Related PR: https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler/pull/25

[2018-08-22 11:11] msrb commented on #4225
@tisnik I see all those jobs in CI: https://ci.centos.org/view/Devtools/search/?q=devtools-fabric8-analytics-notification-scheduler&Jenkins-Crumb=455bf5cf6008e3dcbf5525b400ede64c

[2018-08-22 11:29] msrb opened #4227 "Ingest packages from collected manifest files"
Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/459

[2018-08-22 11:32] GeorgeActon commented on #4214
@msrb @yzainee is this being worked on? It is assigned to you

[2018-08-22 12:02] corinnekrych commented on #4205
@joshuawilson what should I release? do you mean access the Feature flag admin console?
@dlabrecq you could remove the code + archive the feature flag in the admin console:
here is the instruction on how to login: https://github.com/fabric8-ui/ngx-feature-flag#admin-console

[2018-08-22 12:15] catrobson commented on #3374
No, I think this is ready to close.  This has been deprioritized from engineering standpoint, so we can set these wireframes to the side until this comes back around as a priority later.  Closing issue.

[2018-08-22 12:15] #3374 closed

[2018-08-22 12:36] msrb opened #4228 "Research on identifying security patches"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/460

[2018-08-22 13:43] msrb opened #4229 "Implement graph-cve-sync job"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/461

[2018-08-22 15:43] aptmac commented on #4101
@openshiftio/uxd-team

[2018-08-23 03:30] kishansagathiya commented on #4101
May be @catrobson @muruGanesan can help here

[2018-08-23 03:44] jarifibrahim commented on #4222
I suggest we use `#` instead of `id` for the column title.

[2018-08-23 03:54] kishansagathiya commented on #2973
But https://issues.jenkins-ci.org/browse/JENKINS-45910 has been resolved. Were we able to reproduce this recently?

[2018-08-23 04:09] muruGanesan commented on #4101
@kishansagathiya, thanks for your inputs.
We are working on UX enhancement (esp. launcher experience), this issue will also be addressed in any one of the UX GitHub tasks.
ref: #4191
https://github.com/openshiftio/openshift.io/issues/4191
#4192

[2018-08-23 04:26] jarifibrahim commented on #4207
This is similar to https://github.com/openshiftio/openshift.io/issues/3894
We seem to have an issue with firefox.

@yzainee can you please update to latest chrome (v68.0) and try again? I cannot reproduce this on latest chrome.

[2018-08-23 04:55] mishaone commented on #2307
@joshuawilson @catrobson is there any ETA on this feature yet or an issue that I can follow where this issue is being tracked?

We currently still tell users that they can use the reset environment button if they want to reclaim the resources used or if they are permanently stuck and can't fix the issue.

[2018-08-23 05:40] yzainee commented on #4207
@jarifibrahim
install google-chrome-stable gives me this
google-chrome                                                                                                                                                                       49 kB/s | 3.8 kB     00:00
Last metadata expiration check: 0:00:00 ago on Thu 23 Aug 2018 11:07:48 AM IST.
Package google-chrome-stable-66.0.3359.117-1.x86_64 is a

[2018-08-23 06:11] jarifibrahim commented on #4207
@yzainee can you please try downloading from here https://www.google.com/intl/en_in/chrome/? Choose rpm 64 bit.

I am on fedora using chrome 68

[2018-08-23 06:29] yzainee commented on #4207
@jarifibrahim Yes it works on the latest version of chrome.

[2018-08-23 08:27] yzainee commented on #4214
@GeorgeActon I will look into this.

[2018-08-23 08:38] sara-02 commented on #4179
Fixed from the backend in https://github.com/fabric8-analytics/f8a-server-backbone/pull/98
Working as expected on staging and prod via Postman.
@samuzzal-choudhury @rootAvish Can you guys verify if it is working as expected on VSCode, then we can close this issue.

[2018-08-23 08:57] sara-02 commented on #4179
Seems to be working as expected in VSCode as well.
![screenshot from 2018-08-23 14-26-12](https://user-images.githubusercontent.com/7047079/44515622-9fe0e000-a6e0-11e8-90d8-0bbad460a698.png)

[2018-08-23 08:58] #4104 closed

[2018-08-23 09:35] rootAvish commented on #4179
Works for me with Guava, thanks for the change @sara-02 🙂

[2018-08-23 09:35] #4179 closed

[2018-08-23 09:39] ravsa opened #4230 "[5] Implement Database model and API endpoint to access the chat history"
** Task: **
- [ ] Setup database server
- [ ] Integrate the database server with current http server
- [ ] Create  database schemas
     - [ ] Create a GET API to access the chat history in chunks
     - [ ] Modify the current [POST] `api/v1/query` API to store the data in database asynchronously

[2018-08-23 09:45] ravsa opened #4231 "Implementation of the Websocket API in chabot server"
- [ ] Implement flask Socket-IO for websocket endpoint.
     - [ ] Add Authorization mechanism
- [ ] Implement chatbot and web server interaction channel
     - [ ] Create an `InputChannel`
     - [ ] Create an `OutputChannel`

[2018-08-23 10:35] sunilk747 opened #4232 "Understanding mattermost-webapp codebase and it's underlying technology"
### Description
As part of our ongoing effort for understanding mattermost-server upstream repository we will be exploring the mattrmost-webapp code base. The web app is created using react framework which is different from what we use for our web applications(i.e angular). This task is more around exploring react frameowrk and webapp codebase and see how we can use it for our usecase.

### Accept

[2018-08-23 10:39] sunilk747 opened #4233 "[SPIKE] : Feasibility check of mattermost-server for chatbot usecase"
#### Planner Link - https://openshift.io/openshiftio/Openshift_io/plan/detail/468

### Description
This issue is a spike around understanding mattemost-server codebase. Our plan is to introduce a endpoint and see how we can use the server code for our chatbot use case in chat.openshift.io.

### Acceptance Criteria
A dummy endpoint with some functionality.

### Task
TBD

[2018-08-23 11:01] stevengutz commented on #866
@joshuawilson Are we ever going to fix this.  It's a year old so maybe we should just close it

[2018-08-23 11:26] chmouel commented on #4020
@kishansagathiya  the first one is just some timeout but it goes after to a git checkout, the network issue we have seen was only between services inside openshift, this goes outside to git and can't retrive things there. I would check if there is any issues with github at that time and if there is not an issue with the git repo and if you can manually checkin the 92fc97ecc4ff0f4ffc0783eeb789bf5d0

[2018-08-23 11:37] muruGanesan commented on #3999
@sunilmalagi, @Veethika:  based on our design review discussion: please find out the necessity of visual changes Vs interaction changes.
i.e. let us fix the interaction flaws from the end-user perspective and then fix the visual issues.

[2018-08-23 11:38] #4029 closed

[2018-08-23 11:47] jyasveer commented on #3744
As I had already said in my previous comments, this is working as expected. I am closing it for now. Please reopen if you see this again. Thanks

[2018-08-23 12:01] ppitonak commented on #4215
We don't gather pod logs yet but last failure is here http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/550/oc-logs-output.txt

cluster starter-us-east-2a
`oc get ev` empty

[2018-08-23 12:25] ppitonak commented on #4083
@pbergene could you run your magic command again? If i understand it correctly, there was a mass tenant update performed two days ago which should fix it (although I still have it in my account).

[2018-08-23 12:30] stacymcauliffe commented on #3633
@serenamarie125 - yes sorry! Got wrapped up in work for another project, but I'll pick this back up this week. Thanks

[2018-08-23 12:40] yzainee commented on #4214
@tisnik https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/193

[2018-08-23 12:53] rootAvish opened #4234 "Python recommendation model - Training and scoring via REST API"
#### Planner Link
https://openshift.io/openshiftio/Openshift_io/plan/detail/469

#### Task List

- Make the required changes for the new service in the openshift template/saas-analytics
- Setup service on dev cluster
- Run evaluation

[2018-08-23 13:01] GeorgeActon commented on #4214
@tisnik @yzainee if it is being worked on please change the status to in-progress

[2018-08-23 13:16] stevengutz commented on #859
@joshuawilson Todd added an "Info-needed" tag to this 7 months ago and not info has been provided.  Clearly it can't be important

[2018-08-23 13:54] aptmac commented on #2950
I wrote a quick proof of concept [0] as to what this could look like, but it's waiting on a ui-related discussion [1] as to what it should look like.

The idea was have a feature-related service look at incoming URLs and hold on to the last route before an opt-in screen is hit. This way we can redirect the user after they change their opt-in level.

![feature-opt-in-wip](https://user-images.github

[2018-08-23 13:56] rohitkrai03 opened #4235 "Add feature flag on notifications tab under settings section"

[2018-08-23 18:45] stooke commented on #3932
Closing this issue now, as there is no evidence of a root cause affecting other users, and this hasn't reoccurred.

[2018-08-23 18:45] #3932 closed

[2018-08-23 20:06] aptmac opened #4236 "Planner table avatar-related components may try to retrieve a null image"
##### Issue Overview

This error seems to only be reported in Chrome, I do not see the error notification in Firefox.

It looks as if the `alm-avatar-service` [[0]](https://github.com/fabric8-ui/ngx-widgets/blob/master/src/app/pipes/alm-avatar-size.pipe.ts#L13) is sometimes passed a null or empty value when appending a size to the end of it. This happens whenever the planner table needs to display

[2018-08-23 21:40] SMahil commented on #4152
This issue has been fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2759

[2018-08-23 21:40] #4152 closed

[2018-08-23 21:44] SMahil commented on #3229
This issue has been fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2626

[2018-08-23 21:44] #3229 closed

[2018-08-23 21:45] SMahil commented on #3109
This issue has been fixed in production

[2018-08-23 21:45] #3109 closed

[2018-08-23 21:47] SMahil commented on #2436
this has been fixed in https://github.com/fabric8-ui/fabric8-planner/pull/2532

[2018-08-23 21:47] #2436 closed

[2018-08-23 21:48] SMahil commented on #2296
@Veethika @sunilmalagi Please look into this.

[2018-08-23 21:50] SMahil commented on #2998
This issue is fixed in prod

[2018-08-23 21:50] #2998 closed

[2018-08-23 21:51] SMahil commented on #3042
This issue has been fixed in  prod

[2018-08-23 21:51] #3042 closed

[2018-08-24 05:55] sanbornsen commented on #4075
We can do this, but that has to be done from the upstream library. @sahil143 we discussed about an input property, did we ever work on that?

But wait, what are we talking about? **n level of work items**, is this ever going to happen. With option 1 we'll still have the problem, option 2 and option 3 requires a lot of effort and it's totally not worth taking to support crazy number of levels.

[2018-08-24 06:05] SMahil commented on #4073
Closing this issue as User Avatars have info-tip now

[2018-08-24 06:05] #4073 closed

[2018-08-24 06:07] SMahil commented on #3972
@DhritiShikhar @baijum Please provide your input on this issue as the description content will be accessed from backend

[2018-08-24 06:13] SMahil commented on #3068
Please confirm if this issue still persists.

[2018-08-24 06:27] SMahil commented on #2652
This issue has been fixed

[2018-08-24 06:27] #2652 closed

[2018-08-24 06:33] rootAvish opened #4237 "License "EPL 1.0 is shown as unknown""
##### Issue Overview

The license EPL 1.0 is unknown and because of that recommended stack license cannot be calculate wherever this license is present.

##### Expected Behaviour

The license EPL 1.0 should be known.

##### Current Behaviour

See screenshot:
![screen shot 2018-08-24 at 11 59 38 am](https://user-images.githubusercontent.com/5445560/44568684-7cc43800-a795-11e8-9b78-21b8ea8208d8.png)

[2018-08-24 06:33] rootAvish commented on #4237
/cc @sunilk747

[2018-08-24 06:35] rootAvish opened #4238 "Work on accomodating missing Angular/Node dependencies into the NPM scoring module"
##### Issue Overview

Currently for a lot of the angular repositories we are not able to see insights because the dependencies in them are not covered in the recommender model and there are too many unknown packages.

##### Expected Behaviour

We should see insights for more frontend javascript stacks.

##### Current Behaviour

Companion insights count is 0 for some frontend stacks (specifically o

[2018-08-24 06:43] rootAvish opened #4239 "Kronos is getting the recommendation call for some stack instead of the Maven insights service even where no vertx/spring components are present"
##### Issue Overview

In some cases instead of the Maven insights model Kronos is getting the recommender call.

##### Expected Behaviour

The call should go to the Maven model when no vertx, spring, wildfly components are present.

##### Current Behaviour

Companions are taking a long time to show up, due to Kronos being used as the recommendation service.

##### Steps To Reproduce

1. Run stack

[2018-08-24 06:43] #4005 closed

[2018-08-24 06:44] msrb commented on #4036
We decided not to do this in 153.

[2018-08-24 06:44] SMahil commented on #1994
This issue is one of the tasks of issue number 2628. Sudipta can share the status of this issue

[2018-08-24 06:44] #4131 closed

[2018-08-24 06:49] sunilk747 commented on #4237
@rootAvish Can you DM me the stackid for this stackrepot.

[2018-08-24 06:55] sunilk747 commented on #4237
This PR accommodate this missing license.

[2018-08-24 06:55] #4237 closed

[2018-08-24 06:59] rootAvish commented on #4237
@sunilk747 You forgot to link the PR 😄

[2018-08-24 07:06] sahil143 commented on #4075
@sanbornsen Yes, this was fixed in ngx-datatable but not in planner. I raised a Pr for the same.

[2018-08-24 07:18] msrb commented on #3358
Yes.

[2018-08-24 07:18] #3358 closed

[2018-08-24 07:18] #3361 closed

[2018-08-24 10:19] abs51295 opened #4240 "CVE notification not sent from experimental endpoint in gemini"
##### Issue Overview

Email notifications for CVEs are not sent from experimental endpoint `/api/v1/user-repo/scan/experimental` for subscribed repositories.

##### Expected Behaviour

Email notifications should be sent in case of CVE identification for subscribed repositories.

##### Current Behaviour

Email notifications aren't sent in case of CVE identification for subscribed repositories.

[2018-08-24 11:26] rootAvish commented on #2434
This was completed long ago but issue isn't closed for some reason. Closing now.

[2018-08-24 11:26] #2434 closed

[2018-08-24 12:33] GeorgeActon commented on #3651
its actually a feature request

[2018-08-24 12:35] GeorgeActon commented on #3651
Fixed in prod.

[2018-08-24 12:35] #3651 closed

[2018-08-24 13:47] #4123 closed

[2018-08-24 13:56] jarifibrahim commented on #3972
This issue has nothing to do with the backend. The markdown component breaks on copy paste. That's the issue.

[2018-08-24 14:18] #4214 closed

[2018-08-24 15:07] GeorgeActon opened #4241 "Indentation of child work items in tree view is not working correctly"
#####

Indentation of stories under epics does not line up correctly . If you do not notice then you can easily miss noticing a number of stories belong to the same parent in the tree view..

##### Child indents consistently under paren

##### Child sometimes does not indent and  we lose the visual benefit of indentation
##### Steps To Reproduce

1. go to default work item view
2. https://openshif

[2018-08-24 15:16] aptmac commented on #4241
In the image you posted, it looks like the stories that aren't indenting (e.g., id#95, id#281) are because of the misalignment of the row due to work item title overflow. Note the displacement of the vertical dividers that are used to separate the categories (id/type/title/etc.). This would be similar to https://github.com/openshiftio/openshift.io/issues/4152, which has a fix in f8-planner but not

[2018-08-24 16:41] andrewazores commented on #3924
Is the question here about filtering the listed spaces in that widget, or a general space searching ability? If it's the latter, refer to https://github.com/openshiftio/openshift.io/issues/3655 .

[2018-08-24 16:45] aptmac commented on #3924
I interpreted this as @ldimaggi thinking there was previously a search bar in the area he outlined in red on the screenshot.

Although, the issue wording mentions both the dashboard and planner UI, whereas the screen shot is the profile.

[2018-08-25 03:09] rootAvish opened #4242 "[Analytics IDE Extension] Component Analysis LSP server is triggered for files without an file extension"
##### Issue Overview

<img width="1680" alt="screen shot 2018-08-25 at 8 36 24 am" src="https://user-images.githubusercontent.com/5445560/44614440-19441400-a842-11e8-8985-6eda453891c3.png">

##### Expected Behaviour

LSP server should not turn on for nameless files.

##### Current Behaviour

LSP server gets turned on and reports errors for nameless files.

##### Steps To Reproduce

1. Open VSCode,

[2018-08-25 06:30] miteshvp commented on #4239
@rootAvish @sara-02 @abs51295 - increasingly it might get difficult to debug where the request is served from if we have more models serving an ecosystem. Ideally we should send an additional information in the response such as `model_scored : KRONOS / HPF / etc. ` for each recommender request. WDYT?

[2018-08-25 12:43] GeorgeActon commented on #4057
@nimishamukherjee Since you did not replace the severity, I assumed that the removal was accidental and re-added it.

If in future we are planning on allowing customer to customize states, I think we should be populating this overview with the states that exist in the database not a pre-determined list.

[2018-08-26 03:45] rootAvish commented on #4239
@miteshvp Agree, should be easy to add and would be a nice QOL improvement.

[2018-08-26 07:35] gorkem commented on #4069
Looking at the comments, I do not think they are stoppers, we can address them iteratively.

@joshuawilson I think you have a good point with your comment about recent workspaces can you file that separately.

[2018-08-26 14:46] kishansagathiya commented on #4007
@hrishin I feel like this is same as https://github.com/openshiftio/openshift.io/issues/2973 and https://github.com/openshiftio/openshift.io/issues/2351, but in the form of a task

[2018-08-27 02:02] sdash-redhat commented on #4190
Some explorations/WF are here
**https://redhat.invisionapp.com/share/TDNQ0T2BH3K**

There are 2 approaches, or we can think of combining them.
Please share your feedback and thoughts.

[2018-08-27 04:47] miteshvp commented on #2063
This looks to be work from che side. Removing `team/analytics` label.
@ibuziuk - I have added `team/che` generic label, but please assign it to respective che team. Thanks.

[2018-08-27 05:06] hrishin commented on #4007
yes @kishansagathiya they are related. However, #2351 is about handling this problem in OpenShift territory. While this one is about resolving the problem in Jenkins through kubernetes-plugin.

[2018-08-27 06:59] AshishDurgude commented on #3366
I have started working on the above referenced issue #4070 . So I am removing (unassigning) myself from this issue.

[2018-08-27 07:36] ibuziuk opened #4243 "WORKSHOP: Java development with Eclipse Che / che.openshift.io on OpenShift"
Workshop doc [1]

- [x] PR flow for che.openshift.io dashboard does not work - https://github.com/redhat-developer/rh-che/issues/727 / https://github.com/redhat-developer/rh-che/pull/810
- [x] The factories workflow after login doesn't work on Firefox (Works fine in Chrome) https://github.com/redhat-developer/rh-che/issues/832
- [x] Frames are not shown, when debugging on rh-che https://github.com

[2018-08-27 09:11] kpiwko commented on #3602
Hi @chmouel - was this closed as **won't do** or is there any outcome available?

Thanks!

[2018-08-27 09:32] chmouel commented on #3602
as won't do,

[2018-08-27 10:08] samuzzal-choudhury opened #4244 ""Not correct pom" error in effective pom generation"
While generating stack report for the repository https://github.com/alibaba/Sentinel using VSCode fabric8 services extension, the error "Not correct pom" was observed during the effective pom generation step.

/cc @sara-02

[2018-08-27 10:10] #2287 closed

[2018-08-27 10:32] samuzzal-choudhury opened #4245 "Effective POM generation taking too long"
For the repository:https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin, effective pom generation took well over five-ten minutes. Can be a possible bandwidth issue.

/cc @GeetikaBatra Might want to add more details here.

Comments:
https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/issues/144#issuecomment-414143485

https://github.com/fabric8-analytics/fabr

[2018-08-27 10:50] stevengutz commented on #4208
@GeorgeActon  @samuzzal-choudhury Please stop changing the priorities.  These are defined by/for the business and it looks like you are confusing then with severity.  This particular defect has no significant bearing on the business so it is a P4

[2018-08-27 11:06] samuzzal-choudhury opened #4246 "UI Freeze on repositories that have a very large number of pom.xml files"
For the repository: https://github.com/apache/incubator-dubbo

There are a very large number of pom.xml files present, in these cases the UI freezes up and you are not able to switch tabs.

/cc @sara-02

Subsequent communication is available here:
https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/issues/147

[2018-08-27 11:11] samuzzal-choudhury opened #4247 "The thumbs up and thumbs down feedback buttons do not work"
The buttons have no feedback, not sure whether they're really sending any feedback either. Bug with http://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui

[2018-08-27 11:17] kishansagathiya commented on #2351
@jfchevrette @hrishin
I see two issues here
- [ ] Because of the networking issue Jenkins thinks that no slave pod is up
- [ ] Kubernetes plugin does not clean up pods

[2018-08-27 11:17] samuzzal-choudhury opened #4248 "Infinite Looping error with user's npm"
_From @sara-02 on August 23, 2018 7:14_

My node was properly installed, but there was some error with ppm, even `npm -v` was not correctly working.
When I generated the stack report for a package.json, the process of generating effective pom went into an infinite loop of failure, instead of existing after the first try with a message.
After fixing my npm, the report worked as expected

VScode: 1.

[2018-08-27 11:17] samuzzal-choudhury commented on #4248
_From @rootAvish on August 23, 2018 12:14_

Resolution is to not try to rerun npm install when stderr is present.

[2018-08-27 11:17] samuzzal-choudhury commented on #4248
_From @sara-02 on August 24, 2018 6:12_

While for whole workspace there is an error in the developer log, for the single manifest there is no developer log and no action is taken. When the camelcase is changed, it worked.
We should take some action, to generate the appropriate error, and bring it to the foreground. Because it looks as if the extension stopped working, even though that is not the

[2018-08-27 11:17] samuzzal-choudhury commented on #4248
_From @invincibleJai on August 27, 2018 7:28_

@sara-02 yes it's true, current fix will avoid loop and it will show user with Stdout error.

[2018-08-27 11:21] samuzzal-choudhury opened #4249 "Stack analysis for NPM workspace fails due to target error"
_From @sara-02 on August 23, 2018 7:24_

When I am at the package.json and run stack analysis for the whole workspace, it gets into a target not getting generated error.
For the same package.json when stack report is run for given package, I am stuck at generating stack report, but progress is logged in the developer toggle.

![screenshot from 2018-08-23 12-50-28](https://user-images.githubusercon

[2018-08-27 11:29] samuzzal-choudhury opened #4250 "Stack report failure when there is a folder name with a space"
_From @rootAvish on August 24, 2018 6:46_

Stack analysis fails to generate stack report when there is a space in the folder name anywhere in the directory structure.

_Original issue: fabric8-analytics/fabric8-analytics-vscode-extension#153_

[2018-08-27 11:31] samuzzal-choudhury opened #4251 "Analysis stuck on "generating application stack report""
_From @rootAvish on August 24, 2018 6:47_

While trying out stack report generation with the VSCode extension for the repository https://github.com/codecentric/spring-boot-admin, @ravsa @sunilk747 observed that the application's stack analysis got stuck with the message "generating application stack report" on the VSCode status bar.

_Original issue: fabric8-analytics/fabric8-analytics-vscode-exte

[2018-08-27 11:31] samuzzal-choudhury commented on #4251
_From @invincibleJai on August 24, 2018 8:38_

The challenge here with `trigger stack analysis at workspace level` as above repo has both `pom.xml` and `package.json` which we don't support multiple ecosystems as of now.

To start with an ideal approach would be to check for root level pom, if any consider it as maven project and proceed.

NOTE: User can still trigger stack analysis on particular

[2018-08-27 11:31] samuzzal-choudhury commented on #4251
_From @miteshvp on August 25, 2018 6:23_

@invincibleJai - can we based on the filename, be able to generate either effective pom or npm list? Generally speaking, we will know in advance what are the supported manifest filename, and based on that, we come up with an approach? Would that be too complicated? Then, whatever approach you suggested also looks ok to me, but we may loose to generate stac

[2018-08-27 11:31] samuzzal-choudhury commented on #4251
_From @invincibleJai on August 27, 2018 5:36_

Sure @miteshvp I agree we need to support `package.json` as well in this scenario we'll discuss it and take it as the enhancement. For time  I feel we can have my approach.

[2018-08-27 11:36] samuzzal-choudhury opened #4252 "400 error on triggering stack analysis"
_From @rootAvish on August 16, 2018 12:20_

"Generate stack report on manifest" gives 400 error for twitter-core folder, works for workspace but with default maven, analyses dependencies are reported as 0.

Repository: https://github.com/yusuke/twitter4j
tried with https://github.com/yusuke/twitter4j/tree/master/twitter4j-core

/cc @sara-02 You might want to add additional info here.

_Copied from

[2018-08-27 11:36] samuzzal-choudhury commented on #4252
_From @sara-02 on August 16, 2018 16:3_

As we observed, the objects are all empty, the generating pom path is not giving any error, infact when run locally the effective pom is getting successfully build, but after then when the stack analysis is called, the objects are not allocated the correct values, leading to the `Manifest file not correct 400 error`

[2018-08-27 11:36] samuzzal-choudhury commented on #4252
_From @invincibleJai on August 19, 2018 17:42_

@sara-02 I tried with latest version , it works for me i.e Stack analysis for workspace as well as individual manifest's were working fine.

I'll request to try again with proper VSIX cc @samuzzal-choudhury @rootAvish

[2018-08-27 11:36] samuzzal-choudhury commented on #4252
_From @ravsa on August 20, 2018 6:25_

@invincibleJai I tried with
`vscode [ 1.25.1 ]`
[code]
 still facing the issue.

[2018-08-27 11:36] samuzzal-choudhury commented on #4252
_From @invincibleJai on August 24, 2018 8:47_

fixed with https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/149

Thanks :)

[2018-08-27 11:39] samuzzal-choudhury commented on #4252
[The original issue](fabric8-analytics/fabric8-analytics-vscode-extension#142) was fixed and closed. Hence, closing this as well.

[2018-08-27 11:39] #4252 closed

[2018-08-27 11:40] samuzzal-choudhury opened #4253 "For NPM ecosystem, triggering stack analysis either on workspace or on manifest file results in "Failed to resolve dependencies error""
_From @rootAvish on August 16, 2018 12:24_

Tried with the repositories:

https://github.com/sindresorhus/refined-twitter
https://github.com/chalk/chalk

Tried triggering stack analysis through both the workspace and manifest option, but both times it failed to generate package.json in "target" folder with the message:
"Failed to resolve dependencies". VSCode version was 1.26.0.

/cc @ravsa I thin

[2018-08-27 11:40] samuzzal-choudhury commented on #4253
_From @invincibleJai on August 19, 2018 17:46_

@rootAvish tried with chalk and it worked as expected. Pls try in debug mode if you get time.

@ravsa did you as well faced similar issue?

[2018-08-27 11:40] samuzzal-choudhury commented on #4253
_From @invincibleJai on August 20, 2018 6:10_

Same issue was observed by @sivaavkd as well. Below are the details :

node -v
v9.4.0
npm -v
5.6.0
VSCode Version 1.26.1 (1.26.1)
MacOsx

[2018-08-27 11:40] samuzzal-choudhury commented on #4253
_From @rootAvish on August 20, 2018 7:10_

@invincibleJai Please see the console output of running the extension in debug mode: https://gist.github.com/rootAvish/9edee79d3cece3a4a29cb3fbf7c20184 It is able to run npm install however it's infinite looping and trying to run the same over and again.

[2018-08-27 11:40] samuzzal-choudhury commented on #4253
_From @rootAvish on August 20, 2018 10:14_

Working for me with a reinstall of NPM, node and running `npm cache clean --force`. If the issue elsewhere is also due to problems with NPM, I'll close the same.

[2018-08-27 11:40] samuzzal-choudhury commented on #4253
This is not an issue anymore. Hence, closing.

[2018-08-27 11:41] samuzzal-choudhury commented on #4253
The original issue fabric8-analytics/fabric8-analytics-vscode-extension#145 has been closed. Hence, closing this as well.

[2018-08-27 11:41] #4253 closed

[2018-08-27 11:42] samuzzal-choudhury opened #4254 "Not all dependencies sent for analysis when triggering stack analysis for NPM"
_From @rootAvish on August 16, 2018 12:25_

1. stack report generatation for NPM shows effective pom specific log on the IDE
2. NPM package @angular/core ^6.1.0 was not version resolved properly and hence was not displayde as an unknown component in the stack report. (PeerDependencies were set as Dependencies for testing)

/cc @samuzzal-choudhury

_Copied from original issue: fabric8-analytics/fab

[2018-08-27 11:42] samuzzal-choudhury commented on #4254
_From @invincibleJai on August 24, 2018 10:8_

Closing it as `npm list` doesn't resolve absolute version for @angular/core as it have UNMET PEER DEPENDENCIES FOR other dependencies used in manifest i.e pkg A needs @angular/core > 4.0.0 but there could be a pkg B which need @angular/core <3.0.0

CC @samuzzal-choudhury

[2018-08-27 11:43] samuzzal-choudhury commented on #4254
The original issue fabric8-analytics/fabric8-analytics-vscode-extension#146 has been closed already. Hence, closing this.

[2018-08-27 11:43] #4254 closed

[2018-08-27 11:52] samuzzal-choudhury opened #4255 "Stack report for manifest file does not trigger any event due to CamelCasing"
_From @sara-02 on August 23, 2018 8:29_

An extension of the error: #151
While for whole workspace there is an error in the developer log, for the single manifest there is no developer log and no action is taken. When the camelcase is changed, it worked.
We should take some action, to generate the appropriate error, and bring it to the foreground. Because it looks as if the extension stopped worki

[2018-08-27 11:52] samuzzal-choudhury commented on #4255
This is a duplicate of #150. Hence, closing.

[2018-08-27 11:53] samuzzal-choudhury commented on #4255
Duplicate of openshiftio/openshift.io#4248. Hence, closing.

[2018-08-27 11:58] stevengutz commented on #4250
@samuzzal-choudhury I don't think this fits the criteria for a SEV2.  It's not a failure in a major feature.  This is probably a SEV3

[2018-08-27 12:02] stevengutz commented on #4247
This isn't a SEV2 since it's just a minor usage issue rather than a failure of any sort

[2018-08-27 12:07] stevengutz commented on #4244
@samuzzal-choudhury @GeorgeActon Putting priority back since defects have to have one.

Since there is no description here, I don't see how this is justified as a SEV2.  What is the major system failure here?

[2018-08-27 12:26] #4102 closed

[2018-08-27 12:30] ldimaggi commented on #3264
Started seeing this issue again on August 24:

![screenshot from 2018-08-24 10-31-42](https://user-images.githubusercontent.com/642621/44659808-71f6e680-a9d3-11e8-964e-7d8941fdc15a.png)

[2018-08-27 12:36] ldimaggi commented on #3264
Sorry - closing as a duplicate of #4042

[2018-08-27 12:36] #3264 closed

[2018-08-27 12:36] ldimaggi commented on #4042
Still seeing this issue:
![screenshot from 2018-08-24 10-31-42](https://user-images.githubusercontent.com/642621/44660049-5a6c2d80-a9d4-11e8-8659-a7fc536e57a5.png)

[2018-08-27 12:40] bartoszmajsak commented on #3134
@sthaha does it mean that it was re-tested and now those boosters work? I see the default command still being the one which was failing tests - hence my question. Or was the "close" a side-effect of referencing this issue in the commit?

[2018-08-27 12:57] samuzzal-choudhury commented on #4208
@stevengutz I understand that a bug's priority has to be set to P2 if the team thinks that it has a business impact and requires a fix for that during a sprint. Whereas, I see severity as the parameter that defines the impact of the bug on an application's functionality and user experience. Correct me if I am wrong.

cc: @GeorgeActon @sivaavkd

[2018-08-27 12:59] samuzzal-choudhury opened #4256 "Missing variant of Apache V2"
_From @sara-02 on August 23, 2018 8:53_

We are missing this variant of Apache V2, so even though the license is known in the license graph, it is reported as unknown.
`Apache Software License v2.0`
![screenshot from 2018-08-23 14-22-05](https://user-images.githubusercontent.com/7047079/44515356-fac60780-a6df-11e8-9ae4-5f9df9ed0b76.png)

_Copied from original issue: fabric8-analytics/fabric8-analy

[2018-08-27 12:59] samuzzal-choudhury commented on #4256
_From @sunilk747 on August 23, 2018 9:34_

This PR- https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/125 takes care of this missing license. Closing this issue.

[2018-08-27 13:02] samuzzal-choudhury commented on #4256
The original issue https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/issues/123 has been fixed and closed. Hence, closing this.

[2018-08-27 13:02] #4256 closed

[2018-08-27 13:07] stevengutz commented on #4208
@samuzzal-choudhury I don't think anyone is wrong - your definitions for severity and priority are right on target.  So my apologies.

In fact, I spoke to @GeorgeActon and he convinced me that your assessment is probably "right-er" than mine.  My suggestion to George was that priority values (except for a default P4 when the bug is created) should probably be adjusted by he and @sivaavkd just so i

[2018-08-27 13:18] samuzzal-choudhury commented on #4242
@invincibleJai @rootAvish can one of you please close this issue if fixed already?

[2018-08-27 13:19] chmouel commented on #4180
maybe related https://github.com/fabric8-services/fabric8-jenkins-proxy/commit/99399c90d426140e31f442ab1c34eb77cc58471c

[2018-08-27 13:34] chmouel commented on #4180
weird that when trying this locally i am getting the right error handling :

![image](https://user-images.githubusercontent.com/98980/44662637-a6d45f00-aa0e-11e8-9d7e-5e0c83e8ab09.png)

maybe that's just not deployed to master,

[2018-08-27 15:10] samuzzal-choudhury commented on #4249
@invincibleJai can this be closed?

[2018-08-27 15:11] samuzzal-choudhury commented on #4250
@invincibleJai can this be closed?

[2018-08-27 15:11] samuzzal-choudhury commented on #4251
@invincibleJai can we close this?

[2018-08-27 15:21] samuzzal-choudhury commented on #4248
@invincibleJai can this be closed?

[2018-08-27 15:47] samuzzal-choudhury commented on #4244
@stevengutz Added a description. The system failed to generate an application stack report for a real-world application.

[2018-08-27 16:35] invincibleJai commented on #4248
yes associated PR https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/157

Closing it.

[2018-08-27 16:35] #4248 closed

[2018-08-27 16:35] invincibleJai commented on #4251
yes associated PR https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/157

Closing it.

[2018-08-27 16:35] #4251 closed

[2018-08-27 16:36] invincibleJai commented on #4250
yes associated PR https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/157

Closing it.

[2018-08-27 16:36] #4250 closed

[2018-08-27 16:37] invincibleJai commented on #4249
yes associated PR https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/157

Closing it.

[2018-08-27 16:37] #4249 closed

[2018-08-27 19:26] ldimaggi opened #4257 "In Planner, incorrect user name is reported in email notifications for work item updates"
Steps to recreate:
* Create a new Planner workitem
* Assign more than one ~owner~ assignee to the workitem
* Edit the workitem description
* Observe that the email notification reports the incorrect username:

![screenshot from 2018-08-27 15-17-49](https://user-images.githubusercontent.com/642621/44681046-704a1480-aa0d-11e8-8438-88d312c79d25.png)

![screenshot from 2018-08-27 15-18-08](https://use

[2018-08-27 19:27] aptmac commented on #4257
similar https://github.com/openshiftio/openshift.io/issues/3719 ?

[2018-08-28 02:51] #4207 closed

[2018-08-28 04:32] sthaha commented on #3134
@bartoszmajsak

No, I think the bug got closed when I merged the patch that referenced this issue (thanks to GH :-)  . I am reopening the issue

https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/36  IIRC is open for your feedback
/cc @hrishin

[2018-08-28 04:51] SMahil commented on #2283
This issue has been fixed

[2018-08-28 06:39] hrishin opened #4258 "Allow external services could be hooked and invoked post or pre build/deploy etc"
Planner https://openshift.io/openshiftio/Openshift_io/plan/detail/310

[2018-08-28 06:46] nimishamukherjee commented on #4257
@jarifibrahim can you please do an initial investigation on this.

[2018-08-28 06:46] CermakM commented on #4130
Resolved by PR [#3](https://github.com/fabric8-analytics/nvdlib/pull/3)

[2018-08-28 06:46] #4130 closed

[2018-08-28 06:50] jarifibrahim commented on #4257
Yes @nimishamukherjee . Thank you

[2018-08-28 08:40] jarifibrahim commented on #4257
Yes, it's a duplicate of https://github.com/openshiftio/openshift.io/issues/3719

[2018-08-28 08:49] abs51295 commented on #4240
PR has been merged and tested on staging.

[2018-08-28 08:49] #4240 closed

[2018-08-28 09:27] baijum commented on #4181
There is a PR to address this issue: https://github.com/fabric8-services/fabric8-wit/pull/2182

[2018-08-28 09:30] sivaavkd commented on #3193
@miteshvp I just tested this and feedback submission is not showing any notification.  And notification when creating work item is consistent with planner notification.  I think we can close this, can you please review ? cc @rgarg1

[2018-08-28 09:32] sivaavkd commented on #2808
@msrb can you please review this ?  I see that related issue #3181 is already closed by @humaton

[2018-08-28 09:35] chmouel commented on #2351
new osio pipeline :

 https://github.com/fabric8io/osio-pipeline.git

and the nodejs support in current pipeline :

https://github.com/hrishin/fabric8-pipeline-library/tree/nodejs

has been taking this approach fyi.

nonetheless we should indeed not run our image manually and instead rely on a dc/rc

[2018-08-28 11:02] GeorgeActon commented on #2868
@sunilmalagi Why have you removed all the labels.  Are you indicating this is closed?
If so please re-add the labels and mark it as closed

[2018-08-28 11:17] yzainee commented on #4226
@tisnik The code has been reverted already.
https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler/pull/25
Currently have removed this. We will definitely include it as a env variable when we need this value again.

[2018-08-28 11:17] #4226 closed

[2018-08-28 11:30] sunilk747 commented on #4209
@rootAvish @samuzzal-choudhury In this case we have component conflict i.e conflict b/w licenses of a package. That's why there is no stack level license and there is no information for conflicting license as well as we are not passing the the package which contains the conflicting licenses. I raised a PR to fix this. Currently it's in staging, I will raise a PR to push it to prod.

[2018-08-28 11:51] DhritiShikhar opened #4259 "Restrict iterating over every workitem field during reorder"
## Expected Behaviour

Reorder action should update only `execution_order` and `version` fields

[2018-08-28 11:52] ppitonak commented on #3796
@hrishin I'm not aware of a way to reliably reproduce this issue

How can I try it in prod-preview?

[2018-08-28 11:54] rootAvish opened #4260 "Identification of "Kubernetes ecosystem" projects and collection of manifest files"
#### Planner Link

https://openshift.io/openshiftio/Openshift_io/plan/detail/492

#### Task List

- [x] Write the bigquery script to collect manifests from bigquery
- [x] Pass on the manifests to @msrb so that component ingestion can take place
- [x] Document the project names in a Google spreadsheet and share it

[2018-08-28 12:08] sunilmalagi commented on #2868
@GeorgeActon Yes, its done for now thank you..

[2018-08-28 12:08] #2868 closed

[2018-08-28 12:27] sdash-redhat commented on #4065
A quick option based PF expanded (similar usage can be seen in Satelite project) preview as a 5th option with of @sunilmalagi I have added   https://redhat.invisionapp.com/share/2YNHLNXMKR8#/316534512_-4065_-_Exploration_3_4_-_3_Copy

[2018-08-28 13:27] aptmac commented on #4257
closed as duplicate of https://github.com/openshiftio/openshift.io/issues/3719

[2018-08-28 13:27] #4257 closed

[2018-08-28 13:50] rgarg1 commented on #3193
@sivaavkd

With the changes, the analytics notification may appear similar to the Planner one, but it is not the same. (e.g. The Planner notification don't allow manual close, whereas Analytics one does).
This defect was raised to ensure we provide a consistent experience to our users, irrespective of the component they use. I don't intend to say that which one is better, just that we should have

[2018-08-28 14:12] ldimaggi opened #4261 "Column separators in Planner are not aligned"
Observe the following in the Planner backlog display - note the column separators:

![screenshot from 2018-08-27 22-43-10](https://user-images.githubusercontent.com/642621/44728582-dfc21180-aaaa-11e8-96fa-b38f1fac2d7b.png)

[2018-08-28 14:27] aslakknutsen commented on #3898
Duplicate https://github.com/openshiftio/openshift.io/issues/1375

[2018-08-28 14:27] #3898 closed

[2018-08-28 14:27] aslakknutsen commented on #4000
Duplicate https://github.com/openshiftio/openshift.io/issues/1375

[2018-08-28 14:27] #4000 closed

[2018-08-28 14:28] aslakknutsen commented on #2623
Duplicate https://github.com/openshiftio/openshift.io/issues/1375

[2018-08-28 14:28] #2623 closed

[2018-08-28 14:30] ldimaggi opened #4262 "In Planner, viewing text in a long description is not intuitive"
##### Issue Overview
If user writes a long description in a workitem, the steps required to view the text is not intuitive. See the attached screenshot - the "see more" text is easily overlooked. I think that users would expect to see some means to scroll the text in the description with a scroll bar.

##### Steps To Reproduce
1. Create a workitem with a long description
2. Observe the "see more"

[2018-08-28 15:01] aptmac commented on #4261
similiar: https://github.com/openshiftio/openshift.io/issues/4241