[2018-02-22 09:14] tuxdna commented on #2161
All PRs are merged, now waiting for deployment to succeed:

- [ ] https://github.com/openshiftio/saas-analytics/pull/259

[2018-02-22 09:14] tisnik commented on #2330
FYI: @jyasveer @msrb

[2018-02-22 09:15] tisnik commented on #2323
Hi @ldimaggi. This seems to be related to https://github.com/openshiftio/openshift.io/issues/2330

[2018-02-22 09:30] jyasveer commented on #2329
here is the fix https://github.com/fabric8-ui/fabric8-ui/pull/2564

[2018-02-22 09:35] jyasveer commented on #2330
@sivaavkd api e2e test cases is not somethiing i have worked on. This issue is for api e2e test cases. @tisnik is handling this from the very beginning.

[2018-02-22 09:51] vasulakkaraju opened #2331 "Figure out deployment of TensorFlow with RHEL as base image"
User Story:

As an OSIO Analytics developer I should able to run tensorflow on a docker built on RHEL base image.

Description:
Figure out building tensorflow from a RHEL base image on a docker and deploy the docker image in dev cluster so that users can use it.

Task List:

- [ ] Build a docker image consisting of tensorflow on a cent os base and deploy it in dev cluster.
    - [ ] Build Tensorfl

[2018-02-22 10:02] tisnik commented on #2323
@samuzzal-choudhury FYI: ^

[2018-02-22 10:47] xcoulon commented on #2304
@aslakknutsen ok, thanks! So I'll remove the `WhoAmI` func and call the `api/token` endpoint on  `auth`, instead!

[2018-02-22 10:57] sivaavkd commented on #2330
I understand @jyasveer.  Looks like these failures are because of #2323 and @tisnik already commented that these two may be related.  Please see if it the case or not.

[2018-02-22 11:15] rkratky opened #2332 "Cannot log in to OSIO; getting stuck on fabric8 login"
Upon opening tab with OSIO, I got automatically logged out (happened same way in both Chrome and Firefox). When attempting to log back in (and after entering my log in credentials), I get redirected to:

![account-exists](https://user-images.githubusercontent.com/6623103/36535303-789d0b6e-17c9-11e8-827f-786e366f801c.png)

Clicking on **Review profile** shows:

![update-account-info](https://user-i

[2018-02-22 11:34] michaelkleinhenz commented on #1996
Looks like this is fixed. **Magic**.

[2018-02-22 11:34] #1996 closed

[2018-02-22 11:35] stevengutz commented on #2109
Where are we on this?  I notice that the scenario it's attached to hasn't progressed.

[2018-02-22 11:37] krishnapaparaju opened #2333 "Piepelines screen: 404 error on clicking name of the pipeline"
Please check this screen shot: Clicking on 'booster-test' results in HTTP
<img width="125" alt="screen shot 2018-02-22 at 5 05 53 pm" src="https://user-images.githubusercontent.com/15967765/36536386-ca73f4c4-17f2-11e8-8afa-d7ba23f1c942.png">
404

cc @joshuawilson

[2018-02-22 11:40] sbose78 commented on #2332
I've investigated that this is happening for some accounts after the RHD keycloak's upgrade.
I personally couldn't get in using my real @redhat.com account, but worked for one of my test osio accounts.

I've investigated the issue and found out that the impacted users' RHD UUID has changed. We need to check with the RHD keycloak team about this.

[2018-02-22 12:12] ldimaggi commented on #2330
If this is the same bug - then it is also causing frequent/intermittent failures here:
https://ci.centos.org/view/Devtools/job/devtools-test-e2e-openshift.io-analyticstest-cluster-one/

[2018-02-22 12:38] miteshvp commented on #2330
@ldimaggi - do you have any build logs that you can share for the above failures? My guess is these two may not be related since Jenkins does not validate the response from stack-analyses. It will still show build as a success even if it gets 504 from stack-analyses.
cc @tisnik @sivaavkd @samuzzal-choudhury @jyasveer

[2018-02-22 12:40] krishnapaparaju commented on #2323
This is caused by CORS support 'not working consistently'  at recommender API. CORS support (a separate Flask module for CORS is not consistent). In the instances where CORS module is not working as expected, required HTTP response headers would not contain 'Access-Control-Allow-Origin' to let APIs at 'recommender.api.openshifio.*' be called from OSIO space dashboard 'https://openshift.io'.

This

[2018-02-22 12:40] #2323 closed

[2018-02-22 12:40] sbose78 commented on #2332
I can confirm that logging in using the username works
Example, if my email address is `abcd@redhat.com` , i can login using `abcd`

[2018-02-22 12:40] sbose78 commented on #2332
@rkratky can you check if you are able to login using your username and not email address?

[2018-02-22 13:11] debloper commented on #1983
Any reliable way to reproduce this?

[2018-02-22 13:17] debloper commented on #1836
Should be closed as `(unassigning a label from a work item !== deleting the label itself)` so it's working as intended. Further changes/updates to label management can have their own stories/issues.

[2018-02-22 13:18] rkratky commented on #2332
@sbose78, that doesn't work for me. When I click on **LOG IN** on OSIO homepage, I get directly to the **ACCOUNT ALREADY EXISTS** page (see 1st screenshot above).

[2018-02-22 13:34] debloper commented on #1831
Should have been fixed with fabric8-ui/fabric8-planner#2402

[2018-02-22 13:34] pmacik opened #2334 "Invalid link to a pipeline on space page"
Link to Pipelines is ok (contains 'pmacik@redhat.com' which is right):
![image](https://user-images.githubusercontent.com/3263627/36540947-91748cd0-17dc-11e8-8910-123504a034f9.png)
While the actual pipeline link is invalid = contains only 'pmacik' which is wrong:
![image](https://user-images.githubusercontent.com/3263627/36541194-688546ba-17dd-11e8-8f25-791804ca9832.png)
and leads to:
![image](htt

[2018-02-22 13:36] pmacik commented on #2334
Likely related to https://github.com/openshiftio/openshift.io/issues/2333

[2018-02-22 13:38] debloper commented on #1814
Full context on this issue: fabric8-services/fabric8-wit#1465
PR to resolve this issue: fabric8-services/fabric8-wit#1470

The PR is green from CI as well as review+
Quite unsure what's the blocker here from merging it.

[2018-02-22 13:43] krishnapaparaju opened #2335 "Stack report not showing up at dash board while a build is in progress"
Stack report at dashboard shows the stack report for the last build performed. However if a build is under progress, switching to 'Analyze' screen would not show the stack report of the 'last build performed'. I guess the logic is around looking for the currently 'in progress build' and shows this message. Please see the screenshot..
<img width="911" alt="screen shot 2018-02-22 at 7 09 20 pm" src=

[2018-02-22 13:45] msrb commented on #2048
Maven is in graph, closing. Thanks @tuxdna :wink:

[2018-02-22 13:45] #2048 closed

[2018-02-22 13:49] msrb commented on #2161
@tuxdna deployed to prod now :+1:

[2018-02-22 13:50] joshuawilson commented on #2053
OK, moving to the backlog

[2018-02-22 13:55] joshuawilson commented on #2109
Looks like it is waiting on UXD. cc @catrobson

[2018-02-22 13:58] joshuawilson commented on #2333
The build team owns the pipelines page.

cc @chmouel @rupalibehera @pradeepto @sthaha

[2018-02-22 14:00] chmouel commented on #2333
unless @sthaha can be driving and get help with this, we don't have anyone who can work on that,

[2018-02-22 14:08] rkratky commented on #2332
Explicitly logging out of RHD and then relogging with username only works for me, too.

[2018-02-22 14:11] catrobson commented on #2109
Thanks @joshuawilson @stevengutz - I don't think I knew this was tagged as a Heather goal.  We'll start working on flow & screens for this immediately.

[2018-02-22 14:13] joshuawilson opened #2336 "[DRAFT] enable one pro cluster for osio"
## User Story
As a user, I want to be able to use Pro tier of OSO on OSIO.

questions:
  - is there a way on OSO to upgrade starter to Pro ?
  - can same user id on osio have multiple clusters ?

## Acceptance criteria
- [ ] add a pro cluster endpoint to osio #2337
- [ ] add a link to sign up for Pro #2338 (stretch)

[2018-02-22 14:13] pkajaba commented on #2236
It's running on both production and staging environment:
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-staging-kb/

After logging into Sentry deployment you can see that errors are reported.

[2018-02-22 14:13] #2236 closed

[2018-02-22 14:15] joshuawilson opened #2337 "add a pro cluster endpoint to osio"
parent User-story #2336

In order to support a user going to pro we need a pro cluster available.

cc @kbsingh

[2018-02-22 14:16] jpopelka commented on #2222
Looks like "No space left on device" is the problem.

[code]

[2018-02-22 14:18] debloper commented on #2286
In the code, from `planner-list.component`
[code]

From angular-router documentation, `router.navigateByUrl` is supposed to have the full URL only, and needn't have `relativeTo`. I'm unsure if that's causing the issue here, but this may lead to unusual behaviors in any case.

[2018-02-22 14:20] joshuawilson opened #2338 "add a link to sign up for Pro"
parent User-story #2336

depends on - add a pro cluster endpoint to osio #2337

Add a reference to the free version of OSIO that will allow the user to sign up for Pro. We need to let the user know they are on the free tier and if they want more resources they can get them on Pro.

[2018-02-22 14:21] joshuawilson commented on #2338
@catrobson we are going to need UX direction on this.

[2018-02-22 14:27] pmacik commented on #2206
@jiekang Here's the Chrome console log: https://pastebin.com/kRWBvM3Y

[2018-02-22 14:34] debloper commented on #2285
Can confirm, can easily reproduce the same behavior.

I am unsure how to handle this, cause from our test suite to developers themselves are all seemingly on Chrome only, and we're unknowingly creating Planner to be a Chrome-only application.

Unless there's any drive from @qodfathr to change the situation and make Planner as webapp (and not a Chrome app), this is unlikely to change in near future

[2018-02-22 14:36] pkajaba commented on #2238
This PR introduces described functionality: https://github.com/openshiftio/saas-analytics/pull/256

Marking it as finished.

[2018-02-22 14:36] #2238 closed

[2018-02-22 14:46] krishnapaparaju opened #2339 "OSIO UI tabs keep getting added for every click"
Please check the screenshot:
<img width="1087" alt="screen shot 2018-02-22 at 8 15 34 pm" src="https://user-images.githubusercontent.com/15967765/36544759-3dd5225c-180d-11e8-9be1-74c00cb00919.png">

[2018-02-22 14:56] joshuawilson commented on #2332
Is this still a SEV1?

[2018-02-22 14:58] sbose78 commented on #2332
Bumped it down.

[2018-02-22 14:59] joshuawilson commented on #2334
cc @sthaha @chmouel

[2018-02-22 15:00] aptmac commented on #923
@joshuawilson when you mention modules, say profile for instance, does that mean including tests for the components under src/app/profile? So adding tests for profile/tenant, profile/update, etc?

[2018-02-22 15:14] sbose78 commented on #2332
Closing because having to log in using the 'username' is a feature.

[2018-02-22 15:17] joshuawilson commented on #2285
We already have direction that OSIO should run on Chrome, FF, Safari, and Edge.

[2018-02-22 15:18] joshuawilson commented on #2285
@mindreeper2420 you have spent a lot of time looking into this. Any ideas?

[2018-02-22 15:19] joshuawilson commented on #2339
how do you reproduce that?

[2018-02-22 15:21] joshuawilson commented on #923
Yes, we need unit tests for each component.

[2018-02-22 15:21] rkratky commented on #2332
@sbose78 The behaviour is super-confusing. User getting redirected to the fabric8 pages, "account already exists", etc. -- is that all expected behaviour? I think users shouldn't see those pages at all, IMO.

That's a weird feature because other Red Hat websites have no problems with using e-mail addresses as usernames. I mean, we can document this, but I believe it would be a mistake to disallow

[2018-02-22 15:27] mindreeper2420 commented on #2285
@joshuawilson @debloper AFAIK, Planner is the only piece that does not work in Firefox. My guess is exactly as what has been stated - Planner was/is developed with only Chrome in mind, thus bugs from other browsers are never/will never be found.

[2018-02-22 16:02] stevengutz commented on #2285
I think it's safe to say that any bugs will get fixed so let's try to filter the editorial and get to the real problems.  It may be that there are things done from first principles in Planner causing some of these problems, that should eventually be moved into Platform, but were done in order to hit particular delivery goals.

But if there is a requirement to support all browser in OSIO then Plann

[2018-02-22 16:12] nimishamukherjee commented on #1985
@aslakknutsen the tree behaviour has been updated along with the url query . We now highlight the exact matches.
Task 1 and Task 3 will not show up as they do not match the query which would be an AND of iteration and work item type.

[2018-02-22 16:15] jfchevrette opened #2340 "Jenkins appear to be building apps twice during a build"
It appears that the app is built twice and dependencies cleared and fetched twice.

During a jenkins build for a basic VertX app, the following two tasks appear to run for 5-10 min each during a build.

[code]

[code]

Both appear to do more or less the same thing, although the first one may be to do tests and the second one to build the app that will be deployed. Can we merge those into a single

[2018-02-22 16:18] nimishamukherjee commented on #1983
@debloper
1. Create a new space
2. Click on Assignee or Creator in the filter drop down.

This issue is seen on any space with a single user.

[2018-02-22 16:30] nimishamukherjee commented on #1831
@vikram-raj please check. I face the issue for the end date for the second iteration.

[2018-02-22 16:37] nimishamukherjee commented on #1501
@michaelkleinhenz can we close this based on #2091?

[2018-02-22 16:39] joshuawilson commented on #2268
@ldimaggi have you been able to reproduce this?

[2018-02-22 16:58] joshuawilson commented on #1567
This was from the Env page, that page has been removed. If you see anything related in the Deployments page please reopen and comment.

[2018-02-22 16:58] #1567 closed

[2018-02-22 17:32] ldimaggi opened #2341 "Build pipelines fail in production - Jenkins slaves are not starting - they are stuck in a suspended/state"
Started seeing this problem on Feb 22 - am currently seeing this for 2 separate user accounts. Resetting the users' envs is not resolving the issue.

Steps to recreate:
* Reset a user's environment - confirm that Jenkins and Content Repo pods are up and running.
* Create a new space and quickstart
* Observe that the build pipeline cannot build

In the Jenkins pod log observe:
[code]

Observe the s

[2018-02-22 17:38] ldimaggi commented on #2341
Seeing this on production on users configured on the old/original cluster. Trying w/ user on the new cluster now.

[2018-02-22 17:42] chmouel commented on #2341
Not sure if it's a network issue but the services are not talking to each others :

[code]

and :

[code]

[2018-02-22 18:28] sbose78 commented on #2332
@rkratky I understand the inconvenience. However, I doubt there's something that can be done to avoid this user experience - since this is a RHD side change that triggered this.  :)

[2018-02-22 18:47] stooke opened #2342 "Add Metrics, Console, Logs API support to OSO Proxy service"
The proxy service needs to proxy to the metrics endpoints for each OSO cluster.

If the k8s API endpoint is api.clusterhost.name, then the metrics API is at
metrics.clusterhost.name.  The proxy server needs to forward metrics requests to that host.

Similarly, the console is at
console.clusterhost.name/console/project/{environment}
It may be sufficient for the proxy to return this URL via  HTTP 30

[2018-02-22 18:50] stooke commented on #1623
Closing, as we'll be using the proxy server for this.

[2018-02-22 18:50] #1623 closed

[2018-02-22 18:51] stooke commented on #2096
Blocked by #2342 (Add Metrics, Console, Logs API support to OSO Proxy service)

[2018-02-22 19:25] alexeykazakov commented on #2332
I put Sev1 back until we fully understand what happening and what we can do with this.
Current behavior doesn't seem to be acceptable to me atm.

[2018-02-22 19:30] sbose78 commented on #2332
Agreed Alexey. Seems pretty weird to me, too.

[2018-02-22 19:34] ldimaggi commented on #2341
Closing - now it's working again. Can we have a post-mortem on happened?

[2018-02-22 19:37] #2161 closed

[2018-02-22 20:14] msrb commented on #2222
We have a [persistent volume](https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/openshift/template.yaml#L133-L135) that is attached to the container. There is 10GiB of space under `/pv/` directory. We already [use it](https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/Dockerfile#L6) for building [maven index](https://github.com/fabric8-analytics/fabric8-a

[2018-02-22 20:46] jfchevrette commented on #2273
I have been trying to reproduce this for the past hour or so. All my test pods are starting fine at the moment. The underlying problem may have cleared.

If anyone sees this again please make sure you mention your namespace, pod name and UTC time when this happened.

[2018-02-22 21:03] mindreeper2420 commented on #2285
For clarification on browser support, the wiki (last updated on August 3, 2017) has Chrome, Firefox and Safari listed as supported browsers.

[2018-02-22 22:07] mmclanerh commented on #2341
also, reproduced.  pinging ops on this.

[code]
[code]
[code]

[2018-02-22 22:15] msrb opened #2343 "Bug in workers: "Signature expired""
In prod:

[code]

[2018-02-22 22:23] ldimaggi commented on #2341
Seeing this pattern:

[code]

[2018-02-22 22:26] mmclanerh commented on #2341
tracking in hk #1367

[2018-02-22 22:45] ldimaggi commented on #2268
Closing - not reproducible.

[2018-02-22 22:45] #2268 closed

[2018-02-23 03:11] ldimaggi commented on #2341
This issue is being seen on production only - not on prod-preview.

[2018-02-23 03:31] mmclanerh commented on #2341
@vpavlin @hferentschik  some speculation:  is it possible for a race condition to be happening here, with regard to volume leases, idling, and resets?

today has seen a few examples of two issues.  issue a,  lack of network access from pod to service. that seems to no longer be an issue.  issue b, i believe, may be a race condition around idler and environment resets.  here's how to trigger that c

[2018-02-23 03:32] #862 closed

[2018-02-23 04:19] chmouel commented on #2341
I definitely can see this bug in prod when getting Jenkins unidled but could it be because we have a Limit reached ?

[code]

[2018-02-23 05:36] vasulakkaraju commented on #2331
This task is on hold as of now as we are awaiting  for RHEL VM with Subscription.

[2018-02-23 05:54] maxandersen commented on #2331
@vasulakkaraju got a pointer to the PR's/commits with what code/config you did to use rhel7 ?

[2018-02-23 07:14] rgarg1 opened #2344 "Maintain parity while displaying iteration names"
In the **Active Iteration** section, the last bits of the Iteration name strings are displayed, whereas in the **Iteration tree** section, the first bits are displayed. This leads to confusion in the identification of the right iteration in the two sections.

e.g. iter1.3-shuaidgewiucdejvcdscvdsvcdscvds hjds hjds hj vds
Its impossible to identify this iteration in the Active iteration section.

Ex

[2018-02-23 08:02] vasulakkaraju commented on #2331
@maxandersen we have not done anything on rhel7 as of now as we need rhel machine with subscription to start.

[2018-02-23 08:06] maxandersen commented on #2282
I can imagine it being tricky, but this would need handling though as supported dependencies != community dependencies.

This issue would also exist for container images where customers would be using red hat registries rather than i.e. dockerhub.

[2018-02-23 08:07] maxandersen commented on #2282
i missed this - are there any followups ? I would like to attend and can help explain the workings of how this works for at least maven in red hat.

[2018-02-23 08:55] rksharma1401 opened #2345 "Intermittent build failures on https://openshift.io - no route to host"
When running a build it unable to connect to http://content-repository/content/repositories/staging/

[INFO] F8: Found tag on ImageStream tutorial tag: sha256:8091fea8b5dd488e8ebee7db6b59635cfc134e554e377084587c7baec81d1272
Feb 23, 2018 6:26:40 AM okhttp3.internal.platform.Platform log
WARNING: A connection to https://kubernetes.default.svc/ was leaked. Did you forget to close a response body? To

[2018-02-23 09:40] tisnik commented on #2330
@miteshvp API e2e tests are now green, as you can see there: https://ci.centos.org/job/devtools-test-end-to-end-prod-fabric8-analytics/ Relevant logs can be displayed via Zabbix

[2018-02-23 09:43] xcoulon opened #2346 "Remove unused config variable for Keycloak URL"
This env variable in `configuration.go` and in the OpenShift template is useless and should be removed.

[2018-02-23 09:52] tisnik commented on #2330
Fixed in https://github.com/fabric8-analytics/fabric8-analytics-server/pull/267

[2018-02-23 10:01] tisnik commented on #2330
I'm closing this issue, but for future similar issues we'd need to improve communication.

[2018-02-23 10:01] #2330 closed

[2018-02-23 10:19] sara-02 commented on #2298
@ldimaggi I am still seeing is error.
![screenshot from 2018-02-23 15-48-52](https://user-images.githubusercontent.com/7047079/36589384-1388c1e4-18b1-11e8-99c3-0265288191b5.png)

[2018-02-23 10:23] sara-02 commented on #2298
The screenshot is for a build that was created last week, but today's build is also not getting triggered.

[2018-02-23 10:31] sara-02 commented on #2298
Jenkins is still not up for me.
![screenshot from 2018-02-23 15-57-45](https://user-images.githubusercontent.com/7047079/36589837-b919dc5a-18b2-11e8-9a58-80ab2f4b3d0c.png)

[2018-02-23 11:41] rupalibehera opened #2347 "Remove any unwanted jenkins plugins"
Remove plugins which may not require us now to help jenkins pod boot up faster in the jenkins tenant.

Currently, tenant Jenkins image has a boatload of Jenkins plugins that is perhaps not needed by anyone. We need to carefully audit what is required and what is not. Remove everything that is not required and create a lean tenant Jenkins image.

  - [ ] Audit plugins
  - [ ] Create a list of requi

[2018-02-23 11:52] pradeepto commented on #2242
Part of the epic : https://github.com/openshiftio/openshift.io/issues/2347

[2018-02-23 12:03] kbsingh opened #2348 "add prod as a multicluster target for our stage env"
As a part of our goal to test our tenant env closer to thr prod environment, we should be able to add the production clusters as multi cluster OSO proxy targets, and have our developers just be able to create new accounts against that cluster.

this would mean free'ing up capacity in free-stg, however we would not lose free-stg as a tenant target - it would just be dev's working in or engaging wit

[2018-02-23 12:04] kbsingh commented on #2348
we need to retain testing on free-stg since we need to make sure we continue to validate the next-oso updates.

[2018-02-23 12:09] aditya-konarde commented on #2341
We've added in a Bugzilla ticket, and working with Ops on getting this resolved.

[2018-02-23 12:13] chmouel opened #2349 "Precache maven dependencies with a tarball"
We have observed some significant long times when starting a new build.

- Maven is trying to parse the dependencies.
- Maven try to do network access
- Maven do a lot of little writes for 'tracking'

One simple and quick solution we can have is to start precache all the maven dependencies in an externally available tarball and wget/untar it at the first run of the pod (in the script that start th

[2018-02-23 12:19] miteshvp commented on #2330
@tisnik - all I asked was more logs to validate if the link given by len (which does not talk why e2e tests failed) is because of 504 errors. What communication gap are you talking here?

[2018-02-23 12:22] chmouel opened #2350 "[Performance] Check if Jenkins is updating plugins at startup"
There is some report that jenkins is updating its plugins and then cause some slowness,

* Investigate if and how this happening
* Disable this behavior if this is happening.

[2018-02-23 12:33] miteshvp commented on #2323
@krishnapaparaju - Just an update, even with reversal of CORS module, we did not observe  504 error codes till the wsgi process was killed and restarted.
AJAX calls generate a preflight message to contact the server. Chances are during one of those preflight messages, process went down resulting in the response seen
`No 'Access-Control-Allow-Origin' header is present on the requested resource. Ori

[2018-02-23 13:01] rupalibehera commented on #2347
Below is the list of plugins which can be removed immediately without much auditing
- mercurial:2.2
-  jira:2.5 ,
- gitlab-merge-request-jenkins:2.0.0,
- gitlab-oauth:1.0.9,
- gitlab-plugin:1.5.2,
- cloudbees-bitbucket-branch-source:2.2.7,
- blueocean-jira:1.3.4

[2018-02-23 13:20] rhopp commented on #2241
I'm reopening this one, as we are still seeing this one intermittently on prod & prod-preview.
Prod: https://logs.dsaas.openshift.com/goto/ce0f1dd614d4a674322616f30f5ae73a
Prod-preview: https://logs.rh-idev.openshift.com/goto/749adcbe504f0f1546fc66be3cdd68c7

Original rh-che issue for this: https://github.com/redhat-developer/rh-che/issues/467

[2018-02-23 13:28] sbose78 commented on #2332
Based on the update from the RHD team, it is unclear how many people are affected. I already know that a lot of redhatters have not been affected, and some have. However, the assumption is that the number would be small.

"this is mainly problem for RedHat employees as redhat automatically creates multiple accounts with same email in customer portal for employee, and even account where email is us

[2018-02-23 13:41] sbose78 commented on #2348
Add preview support to Registration app : https://github.com/fabric8-services/fabric8-auth/issues/349

[2018-02-23 13:48] debloper commented on #2285
Sounds good @stevengutz - So, how do we prioritize this?

This issue is just an one-off incident of the class-action needed to address the problem, and that's a full story in itself, not just an issue/bug. Should we address this, for e.g. ASAP, Next Sprint, Current Train, Next Train? Because, only when we know how should we prioritize this, and how much bandwidth we can spend on this we can make t

[2018-02-23 14:43] stevengutz commented on #2285
The priority of this really needs to come from PM (@qodfathr??).  It will help him if we can create the epics/stories and rough sizing to make this happen.  Given what we need to achieve in H-Train for GA/Summit, I'm betting he will say that it is for the next train, but I'll let him speak to this.

In the mean time it sounds like there are already some bugs logged for Planner, so hopefully as par

[2018-02-23 14:47] joshuawilson commented on #2345
Duplicates #2341, closing. If you feel this is different, please reopen.

[2018-02-23 14:47] #2345 closed

[2018-02-23 14:47] chmouel commented on #2350
@rupalibehera please update this issue with your finding, /cc @pbergene

[2018-02-23 14:49] joshuawilson commented on #2298
looks like a duplicate of #2341

[2018-02-23 14:49] chmouel commented on #2347
Updating with your finding, we have 144 plugins, most of them are dependencies,

@rupalibehera any chance if you can attach the list (or an URL) of all plugins installed in our Jenkins image on this issue?

/cc @pbergene  @kbsingh

[2018-02-23 14:53] joshuawilson commented on #2349
what `type` is this?

[2018-02-23 14:54] joshuawilson commented on #2241
Is this related to #2341

[2018-02-23 14:58] joshuawilson commented on #2350
please add `team` and `type`

[2018-02-23 15:25] rupalibehera commented on #2347
list of plugins installed from the update center https://github.com/fabric8io/openshift-jenkins-s2i-config/blob/master/plugins.txt (138 plugins)
and few customized or build from source if not available on update center -> https://github.com/fabric8io/openshift-jenkins-s2i-config/tree/master/plugins (6 plugins)

[2018-02-23 15:52] ldimaggi commented on #2298
I was able to run a couple of build pipelines late on February 22, but Jenkins is a black box on prod-preview as we cannot login to its console due to this bug:  https://github.com/openshiftio/openshift.io/issues/2317

[2018-02-23 15:58] ldimaggi commented on #2285
We'll get a mix of browsers and chromebooks in use for the next 'test
day.'

On Fri, Feb 23, 2018 at 9:43 AM, Steve Gutz <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2018-02-23 15:59] rupalibehera commented on #2347
I removed the above plugins from the image but in the jenkins logs I see below :
[code]
Not sure if I have removed the plugin why ask's me to install the latest version of the plugins and the Jenkins image after the removing the plugin is installed here http://jenkins.jenkins-pr-145-openshift-jenkins-s2i-config.tiger.fabric8.io/log/all

Note:
- Link to the PR : https://github.com/fabric8io/openshi

[2018-02-23 16:06] ldimaggi commented on #2323
I can't verify that this bug is fixed until this blocking bug is also fixed - https://github.com/openshiftio/openshift.io/issues/2341

[2018-02-23 16:16] maxandersen commented on #2336
if the intent here is to just enable pro tier for specific users that we manually setup then we do not need link to sign up to pro.

Lets make sure we keep this as simple as possible.

[2018-02-23 16:38] mindreeper2420 commented on #2285
@ldimaggi I currently have the following VMs that I can test PRs with, if needed (and what I test my local dev work with):

- Fedora w/Chrome and Firefox
- Ubuntu w/Chrome and Firefox
- Windows 10 w/Edge, Chrome, Firefox and IE

My native OS is macOS with Safari, Chrome and Firefox.

I'd recommend people get BrowserStack for the majority of UI testing (they do not have Linux browser testing though

[2018-02-23 17:44] ibuziuk commented on #1439
PR for listing project info - https://github.com/fabric8-services/fabric8-wit/pull/1914
PR for possibility of specifying branch during workspace creation https://github.com/fabric8-services/fabric8-wit/pull/1915

[2018-02-23 18:13] ibuziuk commented on #1439
During PR [1] discussion with @aslakknutsen this was considered as fundamentally wrong approach. The right one would be using the following arch:

Pros of the approach:
- the reason why Che has been stable from an OSiO perspective is because of the role CheStarter has been playing.
- the Che upstream team could completely change their deployment structure with no impact on anyone else becasue of C

[2018-02-23 18:21] maxandersen commented on #2341
@aditya-konarde got a link to the bz issue ?

[2018-02-23 18:34] aditya-konarde commented on #2341
@maxandersen https://bugzilla.redhat.com/show_bug.cgi?id=1548384

[2018-02-23 19:23] jfchevrette opened #2351 "Jenkins should create a DC/RC/Job to manage the slave pod lifecycle"
At the moment jenkins creates pod objects to run the slave. This puts the burden of managing the pods lifecycle on the jenkins plugin rather than on the Openshift side.

There was a networking issue with the cluster earlier today and jenkins kept trying to create jenkins slaves even though previous attempts failed. Some namespaces had over 10 jenkins slaves in a bad state at one time. Jenkins stil

[2018-02-23 19:26] jfchevrette opened #2352 "Need to cleanup old build jobs"
We are seeing some build objects that are running for a while, like 9 months etc.

Most are waiting for approval step - but they are running jobs that are unlikely to actually ever get anywhere.

Thoughts around how best to handle these ? Should we be scaling these back after say 6 hrs of no activity ? ( note that the Jenkins instance that would be used to actually promote these, goes away after 4

[2018-02-23 19:28] jfchevrette opened #2353 "Idler should throttle and cap the rate at which it tries to idle things"
As observed in the idler logs, it appears that it is currently trying to monitor and idle deployments as fast as possible (or every second?)

It is perfectly fine if the idler do this every 5 minutes or spread the tasks over 5 minutes so that we don't put too much pressure on the API endpoints.

[2018-02-23 19:32] jfchevrette opened #2354 "Idler sometimes not idling the jenkins properly"
It looks like the idler is not idling the following jenkins properly.

- DC revision is 2, generation/observedGeneration is 3
- DC says desired=0, current=0
- RC # 1 still set to desired=1, current=1, ready=1
- RC # 2 seems scaled down to 0 as expected
- Jenkins pod from RC # 1 is still running and not being idler

[code]

[2018-02-23 19:54] ldimaggi commented on #2352
If the Jenkins instance goes away after 45 min - does it matter when the jobs are scaled back?

[2018-02-23 20:26] ebaron opened #2355 "Investigate go-vcr for kubernetes package tests"
Parent: #2636

By using https://github.com/dnaeon/go-vcr, we may be able to remove much of the test code used to mock Kubernetes/OpenShift/Hawkular API calls that communicate over the network. The existing JSON test files can be used as request/response bodies in the go-vcr cassette files.

[2018-02-23 20:27] bartoszmajsak commented on #2355
Somehow related https://github.com/openshiftio/openshift.io/issues/2261

[2018-02-23 20:37] vpavlin commented on #2353
The logs you are seeing are reactions to events, not Idler doing something in a loop.

But I agree we need to control the rate of idling retries.

There is already an issue for this in Idler https://github.com/fabric8-services/fabric8-jenkins-idler/issues/133

[2018-02-23 20:51] jfchevrette commented on #2353
Closing in favor of fabric8-services/fabric8-jenkins-idler#133

[2018-02-23 20:51] #2353 closed

[2018-02-23 20:51] ebaron opened #2356 "Selected deployments for applications should match OpenShift web console"
Currently, we always show the newest deployment for an application. This includes cancelled or failed deployments, even when an older deployment is still running successfully. We should adopt the same selection process used by the web console to determine the "current" deployment version. This will ensure that if a user alternates between the deployments page and web console's overview, the same d

[2018-02-23 21:35] mmclanerh commented on #2341
@ldimaggi good to close this?

[2018-02-23 21:36] mmclanerh commented on #2298
@ldimaggi console should be fixed now.. you can also access openshift by command line.

[2018-02-23 21:37] mmclanerh commented on #2241
@ldimaggi  is this still an issue? #2341 has been stabilized

[2018-02-23 22:34] jfchevrette commented on #2352
https://docs.openshift.org/latest/dev_guide/builds/advanced_build_operations.html#builds-setting-maximum-duration

[2018-02-23 22:53] aslakknutsen commented on #2354
This state has been observed before when doing tenant update and I believe it was the same we started seeing after some OS upgrade with Che Workspaces some time ago. Maybe @ibuziuk or @l0rd remember if there were any conclusion to what is actually happening here?

[2018-02-23 23:00] aslakknutsen commented on #2352
On OSO Free we would want to reduce/remove them somehow as they are taking up etcd resources. When jenkins idles they shouldn't take cpu/memory resources or cause events and could continue when proxy unidles when a promote is triggered.

[2018-02-24 02:28] ldimaggi commented on #2341
I'm not seeing the problem now - do we believe that this issue was caused by the Jenkins idler problems? The linked bz is not yet closed.

[2018-02-24 02:34] ldimaggi commented on #2298
Verified - closing - thanks!

[2018-02-24 02:34] #2298 closed

[2018-02-24 08:22] cmoulliard commented on #2332
If I use my "rh-gs-cmoullia" username, then I can log to "openshift.io" but
then it tells me that I'm still waiting approval

https://www.dropbox.com/s/b9kzq5282puldzh/Screenshot%202018-02-23%2019.04.50.png?dl=0

Can somebody approve my request please ?

[2018-02-24 22:52] maxandersen opened #2357 "when connecting accounts please ask show what accounts are connected"
created a new user.
on login asked to connect github and openshift.
i click connect and UI without asking or showing *any* additional screens
says I have connected accounts.

It does not say *which* github account it took and I can tell I was not wanting it to take what account my browser currently are logged in with.

[2018-02-24 22:55] kbsingh commented on #2331
Can you please setup some time with me to workout what exactly you need a RHEL subscription for ? Also, Rad Analytics already ships a tensorflow stack - that would be the first place to start from. However, for step1, please ensure the SD team has signed off on your architectural plans and execution flow ( cc @krishnapaparaju )

[2018-02-24 23:03] alexeykazakov commented on #2357
@catrobson @dgutride would need some help from the UX team here. I think we should show what GitHub user/account has been connected + show some tip how user could connect another account: “please re-login to GitHub using desired account and reconnect it in OSIO” or something like this.

[2018-02-24 23:10] maxandersen commented on #2357
what additionally surprised me is that i did not get screens from github confirming my acceptance of using openshift.io with this *other* account.

seems like a security hole.

[2018-02-24 23:14] alexeykazakov commented on #2357
If it’s a security hole then it’s a GitHub security hole :)
But actually most likely you have already granted OSIO access to your GitHub account. It won’t ask the second time until you explicitly revoke it. Have you ever connected this account to OSIO?

[2018-02-25 15:13] ldimaggi commented on #2317
Closing - verified on prod-preview:

![screenshot from 2018-02-25 10-13-05](https://user-images.githubusercontent.com/642621/36643038-899b7688-1a14-11e8-97b1-912cfc81bf28.png)

[2018-02-25 15:13] #2317 closed

[2018-02-25 15:15] ldimaggi commented on #2200
Have not seen this for several days - is this a coincidence or did we address the issue?

[2018-02-25 15:17] ldimaggi commented on #2142
Closing this issue as it is not being seen.  However - this related issue IS still being seen:
https://github.com/openshiftio/openshift.io/issues/1790

[2018-02-25 15:17] #2142 closed

[2018-02-25 17:04] ldimaggi commented on #2241
Closing - problem is not being seen now.

[2018-02-25 17:04] #2241 closed

[2018-02-25 20:46] ldimaggi opened #2358 "Che "run" command not defined for imported projects"
Steps to recreate:
* Create new quickstart in OSIO - make note of the github repo location
* Reset user env in OSIO
* Create a new project in OSIO
* Import the github repo created earlier
* Create Che workspace
* Observe that the run command is not defined for the workspace

![screenshot from 2018-02-25 12-15-53](https://user-images.githubusercontent.com/642621/36646228-e5b83d1a-1a42-11e8-82db-d20

[2018-02-25 21:30] joshuawilson commented on #2200
we did not fix this, it is a race condition so you need to refresh multiple times to see it

[2018-02-26 03:11] krishnapaparaju commented on #1084
@msrb any thing we waiting / blocked for this task ?

[2018-02-26 07:00] #2329 closed

[2018-02-26 07:03] sivaavkd commented on #2335
@jyasveer - This is a Sev2 and I am able to reproduce this.  Please review.

[2018-02-26 07:09] jyasveer commented on #2335
@sivaavkd @krishnapaparaju yes we have to change the logic to get the latest completed stack report.  currently it is a web socket call which reads the latest build of a particular pipeline. if the latest build is in progress, we show the message as `no results found`.

[2018-02-26 07:13] sivaavkd commented on #2328
@jyasveer - I tried the steps, but could not reproduce the issue.  are you able to ?
cc @krishnapaparaju

[2018-02-26 07:42] pradeepto commented on #2246
Closing this as duplicate in favour of https://github.com/openshiftio/openshift.io/issues/1902 as discussed with @maxandersen and @stevengutz .

[2018-02-26 07:42] #2246 closed

[2018-02-26 07:43] pradeepto commented on #2242
Closing this as duplicate in favour of https://github.com/openshiftio/openshift.io/issues/2347  as discussed with @maxandersen and @stevengutz .

[2018-02-26 07:43] #2242 closed

[2018-02-26 09:36] rohanKanojia commented on #2349
We're trying cache all the maven dependencies in the container itself. We've made a tarball that consists of all the maven artifacts related to all Openshift.io booster projects, so after booting up it would download and extract this tarball to the local maven repository.
All this logic of fetching the tarball and extracting to the local maven repository directory(in our case `/root/.mvnrepository

[2018-02-26 09:54] rhopp commented on #2358
The run commands are defined in stack used by workspace.
Stacks used in rh-che (che on osio) are defined here: https://github.com/redhat-developer/rh-che/blob/master/assembly/fabric8-stacks/src/main/resources/stacks.json#L467-L491 (selected lines define commands for vert.x stack for example)
You can also see what commands are configured for each stack by going to `che.openshift.io -> Stacks -> <se

[2018-02-26 10:03] #2346 closed

[2018-02-26 10:04] ibuziuk commented on #2358
@ldimaggi @rhopp by default java-centos [1] stack is used for projects that are imported (not created via quickstart). In this stack there is no run command since user could import any project and run command would vary. Other stacks like vertx are used only when the project is created via quickstart. So, absence of the "run" command is expected.

https://github.com/redhat-developer/rh-che/blob/ma

[2018-02-26 10:31] maxandersen opened #2359 "Event/Message bus mechanism for decoupled coordination and communication of plan, code, build, etc."
WIP

# Description

To avoid coupling of the various system parts (especially che and jenkins) to the workitem tracker a mechanism to asynchrounsly be able to publish and subscribe to events should be added.

In other words, an event bus where for publishing and subscribing to things like:

1. when a build completes with its succes or failure info
2. when a work item is created, updated, etc.
3. w

[2018-02-26 11:10] msrb commented on #1084
@krishnapaparaju no blockers other than manpower. We will start working on this this week. As we discussed on cabal, we will rescope this a bit - we will trust OpenShift to automatically restart services that failed from some reason, but we will review/improve Zabbix monitoring that should give us an early warning that something is not stable enough, or not working properly.

[2018-02-26 12:07] krishnapaparaju commented on #1084
thanks @msrb . we can start with scope of network / API connectivity with AWS hosted resources as one of the initial tests for failures...

[2018-02-26 12:41] pbergene commented on #2341
Yeah, idler is disabled on prod for now and this behaviour is no longer observed. Closing this one.  Would expect an idler specific one to appear.

[2018-02-26 12:41] #2341 closed

[2018-02-26 13:16] ibuziuk commented on #2358
Even though the absence of the  "run" command is expected always falling back on `java-centos` stack is wrong. For example, if user would try to import node.js project it will not be possible to run it. Basically, there should be some mechanism in place for specifying stack during project import to codebase @l0rd WDYT ?

[2018-02-26 13:18] rhopp commented on #2358
This may be work for UX team, right?

[2018-02-26 13:47] ljelinkova opened #2360 "Error when displaying Deployments tab due to missing space label"
When I click Deployments tab, I get the following error:

Request failed: 500 (Internal Server Error) {"errors":[{"code":"internal_error","detail":"could not retrieve space My_space: space label missing from deployment config myspace2","status":"500","title":"Internal error"}]}

Also, the bar saying that I am using experimental feature keeps adding when I change tab and click Deployments again (se

[2018-02-26 13:56] maxandersen commented on #2332
afaics your user account is cmoulliard+osio@redhat.com and that user was provisioned many months back. Was that account ever working ?

rh-gs-cmoullia looks like a complete new account ?

[2018-02-26 14:04] joshuawilson commented on #2360
I can not reproduce this. Can you log out and log in again, then try the page.

[2018-02-26 14:13] ljelinkova commented on #2360
I tried to log out and in (even different browser) and I am still getting the same error.

[2018-02-26 14:35] ldimaggi commented on #2358
Thanks - I’ll log a feature request for this today.

(Sent from my iPhone)

On Feb 26, 2018, at 8:20 AM, Ilya Buziuk <notifications@github.com> wrote:

@rhopp <https://github.com/rhopp> yes, and we need a separate issue IMO.
Once created this one could be closed

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openshiftio/ope

[2018-02-26 14:41] aptmac commented on #2360
It looks like this is similar to https://github.com/openshiftio/openshift.io/issues/2268 [0]. @ljelinkova if this is still happening, if you could try to get some more information by following these instructions [1] it would be greatly appreciated:

From ebaron [1]: If anyone can reproduce this again, could you verify that the DeploymentConfig is missing the space label? You can do this by running

[2018-02-26 14:44] ibuziuk opened #2361 "User should be able to specify stack while "Import existing code" / "Add a Codebase""
Currently it is possible to specify stack only for quickstarts, but not while importing existing code. Basically, `java-centos` stack is used by default which would work for java projects. However, using `java-centos` would fail for node.js / .net projects and it would not be possible to run / build those projects from Che. Before adding any non-java centos stacks to quickstarts there should mecha

[2018-02-26 14:46] ibuziuk commented on #2361
@slemeur @gorkem @bmicklea WDYT ?

[2018-02-26 14:47] ibuziuk commented on #2358
@ldimaggi I have already created one https://github.com/openshiftio/openshift.io/issues/2361.
Closing

[2018-02-26 14:56] l0rd commented on #2358
That's something that [CheStackDetector](https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/che/CheStackDetector.java) was doing (automatically identifying the stack from the dependencies in `pom.xml`). So this look like a bug/regression launcher side (not Che).

Re-opening and adding label `team/launcher`.

[2018-02-26 15:01] ibuziuk commented on #2358
@l0rd cool, didn't know about that. Do you know if this detector also kick in for `Add Codebase` flow from the "Codebases" page ?

[2018-02-26 15:04] rhopp commented on #2241
I'm not very comfortable with this issue being closed ;-)
We are experiencing this pretty regularly in che functional test. And it's also reproducible
@ldimaggi Did you at least look at the kibana logs i posted in my previous comment before you closed this issue?
If you want to make you life bit easier to reproduce this issue:

1) Clone che-starter - https://github.com/redhat-developer/che-starter

[2018-02-26 15:04] ljelinkova commented on #2360
This is the content of my metadata/labels

"labels": {
            "app": "myspace2",
            "group": "io.openshift.booster",
            "provider": "fabric8",
            "version": "1.0.1"
        },

[2018-02-26 15:54] rhopp commented on #2241
I couldn't originally find it, but yeah... this is duplicate of https://github.com/openshiftio/openshift.io/issues/2154

[2018-02-26 15:58] corinnekrych opened #2362 "task: feature-wrapper for component (no dynamic load)"
relate to user-story https://github.com/openshiftio/openshift.io/issues/2056
Be able to Hide/show a component depending on its feature-flag.

[2018-02-26 16:01] corinnekrych opened #2363 "spike: dynamic loading of component"
Related to user story https://github.com/openshiftio/openshift.io/issues/2056
Be able to dynamically laod a component/module if toggles feature is on (and per user level).

[2018-02-26 16:06] mceledonia commented on #1165
Latest and greatest designs [found here](https://redhat.invisionapp.com/share/KAF97RBGB#/276638411_Options_Selection)

[2018-02-26 16:09] kbsingh opened #2364 "get idler enabled in production again"
We need to have idler back up in production

[2018-02-26 16:10] kbsingh commented on #2364
marking this across build and platform as one team takes over from the other

[2018-02-26 16:16] maxandersen commented on #2364
https://github.com/openshiftio/saas-openshiftio/pull/653

[2018-02-26 16:19] cmoulliard commented on #2332
I can access to openshift.io using as account `cmoulliard+osio@redhat.com`. Thanks

[2018-02-26 16:28] jiekang commented on #2360
Thanks for that. It looks like the service that created your application did not apply the right labels to associate it with a space. @joshuawilson any ideas who might know more about this?

[2018-02-26 16:30] jiekang commented on #2360
@ebaron does my explanation make sense to you? Is there anymore info you think would be useful to verify this?

[2018-02-26 16:53] cmoulliard opened #2365 "Project can't be deleted from Codebases view -> Failed to retrieve codebases"
My codebases contains 2 git hub repo (but one of them has been deleted on github)

![screenshot 2018-02-26 17 50 28](https://user-images.githubusercontent.com/463790/36683358-a680d194-1b1d-11e8-80fb-2168281962f1.png)

But if I click on the `codebases` button from the workspace, then I will be redirected to the codebases screen which is empty and where this error is reported - `Failed to retrieve c

[2018-02-26 17:04] RickJWagner opened #2366 "Che workspace becomes unresponsive"
Working with a default booster, I managed to break the Che workspace.

- Changed the message the 'Spring Boot' greeter produced
- Ran the Unit tests from the Che console with 'mvn test'
- Che started getting strange immediately after.  Note that the tests would fail, I had changed the message but did not have the Asserted test string properly changed yet.

Screenshots to follow.

[2018-02-26 17:28] alexeykazakov opened #2367 "Use developers.redhat.com Identity Provider directly from Auth service"
Currently we have there layers of services for login:
auth.openshift.io -> sso.openshift.io (OSIO Keycloak) -> developers.redhat.com (RHD Keycloak).
As soon as we switch Che to use Auth service and have authorization service in place on the auth.openshift.io side we can get rid of the OSIO Keycloak layer a start using RHD Keycloak directly.

Also tracked in Auth GitHub: https://github.com/fabric8-

[2018-02-26 17:42] jiekang commented on #2360
@ldimaggi it seems like it. Every so often, an application is created with no 'space' label in Openshift. A working set of labels looks like:
[code]

I say 'working' instead of 'correct' because I don't know if there was any change in how this was done, though I doubt it.

I was able to reproduce this after resetting my environment, creating a new space and using the wizard to create a new Spring

[2018-02-26 17:42] l0rd commented on #2358
@ibuziuk I have no idea is [CheStackDetector](https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/che/CheStackDetector.java) is ever used now. The fabric8-generator repository has been archived and I don't know where this code lives currently. Maybe @chmouel or @gastaldi have an idea?

[2018-02-26 17:49] ldimaggi commented on #2358
Just to confirm - the detector should be running and users therefore should be provided with run and debug options? Thx!

[2018-02-26 17:50] ldimaggi commented on #2360
Are any errors logged? In the Jenkins build log or Jenkins pod log? Thx!

[2018-02-26 17:56] l0rd commented on #2358
@ldimaggi that's my understanding, but we would better to have a confirmation by the launcher team.

[2018-02-26 18:00] gastaldi commented on #2358
@l0rd I think I have already mentioned in another issue that the code was moved to https://github.com/fabric8-launcher/launcher-backend/tree/master/addons/osio-addon

We kept the original behavior, are you sure that ever worked before?

[2018-02-26 18:04] gastaldi commented on #2358
Ah as per https://github.com/openshiftio/openshift.io/issues/2358#issuecomment-368449832 comments this is a new feature.

[2018-02-26 18:04] gorkem commented on #2361
I think [CheStackDetector](https://github.com/fabric8-launcher/launcher-backend/blob/492589d2789cdce4d1c4331f09645e8e6493466e/addons/osio-addon/src/main/java/io/fabric8/forge/generator/che/CheStackDetector.java) was meant to take care of this during imports too. It never got the love it deserves.

[2018-02-26 18:05] jfchevrette opened #2368 "Drop jenkins-mvn-local-repo PV from jenkins-slave"
Most of the build jobs disk IO is spent on downloading, extracting and updating the maven dependencies. Right now that is done on a PV mounted at /root/.mvnrepository

On Gluster storage where IOPS performance is lower than EBS this hurts the build times a lot.

| VertX quickstart | EBS | Gluster | % |
|---|---|---|---|
| First build| x | 2.5x | ~250% slower |
| Subsequent builds  | y | 3.5y | ~35

[2018-02-26 18:08] l0rd commented on #2358
@gastaldi thanks for the new repo link. I don't know if that ever worked. But if it never worked that would make it a bug rather then a regression but still something we may want to fix.

[2018-02-26 18:24] joshuawilson commented on #2364
Changing from `che/platform` to `platform`. Also, since only bugs can have Severity I change it to `crucial-dep`. Unless you see this as a bug.

[2018-02-26 18:26] jfchevrette commented on #2314
Added: Drop jenkins-mvn-local-repo PV from jenkins-slave #2368

SD team believe this will result in the best gains for the least amount of work needed at the moment.

[2018-02-26 18:29] ldimaggi opened #2369 "Intermittent/recurring issue being seen randomly - server (500) error seen while creating quickstart"
The net result to the user of this error is minor - he/she can simply close the app wizard dialog and continue. An error is not reported to the user in the OSIO UI - the error is only seen in the Chrome console.

Steps to recreate:
* Create a new quickstart
* Observe that at the last stage of the app creation dialog, the "OK" button is not operative - but - the quickstart is created and its build

[2018-02-26 18:54] msrb commented on #1084
Thinking about this more: we can actually identify good candidates for this type of testing by just looking at the current architecture. The services that rely on SQS are in advantage here as, as long as tasks on queues are idempotent, they will continue where they left before crash (we trust OpenShift to handle this). Interrupted tasks will be transparently re-tried again, thanks to [visibility t

[2018-02-26 19:01] gastaldi commented on #2358
We're rewriting the OSIO launcher backend addon, and the Import Wizard backend functionality is in a PR ( https://github.com/fabric8-launcher/launcher-backend/pull/95) The new OSIO backend addon is in https://github.com/fabric8-launcher/launcher-backend/tree/master/addons/new-osio-addon.

This bug/missing feature will need to be fixed in this new addon, as we don't want to maintain that legacy cod

[2018-02-26 19:15] #2255 closed

[2018-02-26 19:29] chrislessard commented on #2170
Technically, there are still some mentions of the dependency in the project. Re-opening until these can be dropped.

[2018-02-26 19:32] jiekang commented on #1865
Link to mock:

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/273548936

[2018-02-26 19:35] jiekang opened #2370 "Valid application name in fabric8-ui is invalid for Jenkins build and Kubernetes"
When adding an application to the space via the wizard, multiple '-' characters in a row are allowed in the UI but end up causing the Jenkins build to fail with:

[code]
Edit:

Steps to reproduce

1. Visit a space.
2. Click 'Add to space' to start the application wizard.
3. Select an application, for example, VertX HTTP Booster, Next.
4. Edit field 'OpenShift Project name' and enter, for example '

[2018-02-26 19:38] joshuawilson commented on #2360
cc @gastaldi @l0rd @ibuziuk
Do you guys know anything about this?

[2018-02-26 19:39] joshuawilson commented on #2368
what `type` is this?

[2018-02-26 19:42] jiekang commented on #2206
After a bit more investigating:

For whatever reason, after following the steps above, clicking logout triggers some part of the codebase to make another request to create the space that was created at the very beginning of the steps. This fails as it has already been created.

[2018-02-26 19:54] gastaldi commented on #2360
No idea, seems to be something wrong in the tenant space?

[2018-02-26 19:57] joshuawilson commented on #2370
Where are you entering these dashes? What are steps tor reproduce it?

[2018-02-26 19:58] joshuawilson commented on #2360
maybe @aslakknutsen or @jfchevrette knows

[2018-02-26 20:05] jiekang commented on #2370
I've added steps to reproduce. Interestingly, some locations in the UI will show the name with dashes truncated to 1, e.g 'arst-a', while others show the user inputted name 'arst---a'. It looks like the full name is given to the backend though.

[2018-02-26 20:06] jiekang commented on #2370
Also updated the issue to be more informative, sorry about the sparse initial write-up.

[2018-02-26 20:31] jfchevrette commented on #2360
Whats responsible for setting the space label on the deployment? My first instinct would be jenkins since it does the deployment to stage/run.

[2018-02-26 20:37] jiekang commented on #2360
@ldimaggi for the Jenkins build/pod I don't see any errors.

However on the successful build it has:

[code]

This suggests the logic is not applying the `space` label. After I reset my environment earlier today, this happens to every application I build.

[2018-02-26 20:38] ebaron commented on #2360
It appears this label is added by fabric8-maven-plugin, whose configuration is modified in GitHub when creating a new OSIO project:  https://github.com/ebaron/myspringboot/commit/230c82431b78b20ce15e06e76be93168c2152ceb

It looks like the code responsible for this is:
https://github.com/fabric8-launcher/launcher-backend/blob/83892044dceea275603fdb882a4b4043761faf9d/addons/osio-addon/src/main/java/

[2018-02-26 20:41] qodfathr commented on #346
@joshuawilson not much for me to do here -- UXD owns this and is creating the designs. I'm just signing off on them. :)  I think we just need to update the description with links to the designs.

[2018-02-26 21:12] ebaron commented on #2360
Perhaps the label is not being set because the Spring Boot HTTP booster moved the fabric8-maven-plugin configuration to the parent "io.openshift.booster:spring-boot-booster-parent". When the above launcher code tries to edit fabric8-maven-plugin in the POM file, there is nothing to edit.

Compare an old and a new project, both created with the Spring Boot HTTP booster:
Old: https://github.com/ebar

[2018-02-26 21:19] gastaldi commented on #2360
@ebaron that makes sense. This is the issue to remove the parent POM from the boosters: https://github.com/fabric8-launcher/launcher-planning/issues/10, we need to bring that discussion again with the runtime owners.

Is there any other way to set that information without using the fabric8-maven-plugin?

[2018-02-26 21:21] jiekang commented on #2360
In the discussion to resolve this it would be nice to consider automated tests that verify these generated files have certain expected values. I suppose this is a cross-team item.

[2018-02-26 21:28] gastaldi commented on #2360
I created a forum topic to discuss about the parent pom.xml structure here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/fabric8-launcher/NTsE8JBzHGw

[2018-02-26 21:38] qodfathr commented on #2285
Eventually, #2018 will be the parent fundamental which addresses all of this. But, in a nutshell, OSIO is an "HTML5 / ES6 " app (or ES7 or whatever we decide is the proper definition of 'open web'). We define our support in terms of *specifications*, **not** *browsers*. Something like **(but this is NOT the real list!!)**:

* EMCA-262, 6th edition
* HTML 5.1
  * APIs:
    * SVG
    * MathML 2.0

[2018-02-26 21:47] qodfathr commented on #1165
@catrobson I'm still envisioning value in having a "release candidate" level for feature flags (maybe call it "production candidate" to match the current nomenclature?), but I'd appreciate a recommendation from UXD on that.

As a reminder, in this model the features at the RC level *are* production ready. The differences between RC and prod are (1) RC features can turn on at any time, whereas prod

[2018-02-26 21:52] jiekang commented on #2369
This just happened to me; can confirm it occurs intermittently in production.

[2018-02-26 23:29] alexeykazakov commented on #2359
This is not only about notifying UI when some event happened but about some event notifications between backend services too, right?
For example we already have some events in Auth service like user updates we would like to share with other services.

[2018-02-27 01:26] kbsingh commented on #2368
ping @pradeepto @rupalibehera @jaseemabid  - service critical, maps back to #2314 - for now if we can get this tested and deployed, we are able to move forward.

cc @stevengutz FYI

[2018-02-27 02:16] catrobson commented on #1165
Thanks Todd.  We'll update the designs to capture this - sorry this got lost in the revisions!

[2018-02-27 02:21] mindreeper2420 commented on #2285
@qodfathr Do you have a preferred reference point for the specifications? We often use https://caniuse.com/ in UXD, so that we can see what browsers support what specs (which is how the browser support list was derived).

PatternFly has a list of supported browsers, but not specifications. We can investigate and post when and where it is appropriate.

[2018-02-27 02:54] vasulakkaraju commented on #2331
@kbsingh as part of Node recommendations which require scoring via tensor-flow, we were doing due diligence to check if tensor flow can be containerized on Centos/RHEL.Anyhow we could do on cent os but to try/check on RHEL we need subscription.

[2018-02-27 05:42] debloper commented on #2285
@qodfathr it's real good to have affirmation for the standards, instead of setting the needle on (any) browser. I understand the list isn't final, but the theme is; which is where we should start anyway.

@mindreeper2420 please consider this as me adding an eventlistener: when a discussion happens around the webapp standard compliance for OSIO, please loop me in.

[2018-02-27 07:33] animuk opened #2371 "Check and implement Scaling for the Getting started Launcher APIs"
The Goal is to check, verify and modify the required changes in the Launcher APIs implementation to support the Scaling requirement for OSIO Getting Started deployment for production:
1. Scaling needs to done for Launcher APIs to support 500 Concurrent Users.
2. Load testing needs to be done at API level so that at each scenarios the Getting Started flow is covered.
   - invoking different APIs co

[2018-02-27 08:38] davidfestal commented on #2254
This has been fixed by the commits mentioned in this issue

[2018-02-27 08:38] #2254 closed

[2018-02-27 09:17] msrb opened #2372 "Reduce number of S3 buckets needed for f8a deployments"
# Description

fabric8-analytics deployments create quite a lot of buckets (5+ per deployment). The problem is that if all f8a developers want to use dev cluster for testing, then we will quickly reach the AWS limit of 100 buckets per account (we all share the same account). We want to reduce the number of buckets that are required for f8a deployments.

[2018-02-27 09:25] rhopp commented on #2366
Hi @RickJWagner
Is this issue reproducible?
I was looking into che-server logs and only error I found in vicinity of this particular workspace logs is this:
[code]
Not sure it's relevant though.

@l0rd @eivantsov Any idea what can be causing this?

[2018-02-27 09:33] msrb commented on #1084
We discussed this with @tisnik and we agreed that we will start with a test when we will focus on resiliency of the user-facing part of the pipeline.

[2018-02-27 09:38] pradeepto commented on #2368
Thanks @kbsingh .

@jaseemabid is looking into it.

[2018-02-27 09:51] miteshvp commented on #1084
@msrb - you are right about backbone implementation. Its more a stateless service. Hence, as part of the workflow, if we have book-keeping record with a stack-id created, but still does not have any recommendation or aggregator result in RDS, we should invoke them again.

[2018-02-27 09:53] rhopp opened #2373 "OK button not enabled in the end of forge wizard (new app)"
After resetting environment, I've created new space and in that space created new app (basic vert.x booster).
Going through the wizard was ok, but in the last page of the wizard I had the "OK" button disabled with this error in console:
[code]

![image](https://user-images.githubusercontent.com/1215011/36721695-eaad72ee-1bab-11e8-852d-38176781a711.png)

Unfortunately I wasn't able to reproduce thi

[2018-02-27 09:54] jaseemabid commented on #2368
I've a small patch https://github.com/fabric8io/fabric8-pipeline-library/commit/4315aaadc50278475777da53eb339ba96cf649c8 removing the PV from the maven builder but I'm not sure if this will fix it all.
Can you please take a look at it @hrishin @rupalibehera @sthaha and let me know how I can proceed?

[2018-02-27 09:59] eivantsov commented on #2366
Most certainly OOM, and ws agent process is killed

[2018-02-27 10:09] joshuawilson commented on #346
cc @catrobson

[2018-02-27 10:14] jarifibrahim opened #2374 "Workitem quick add dropdown loses context"
Steps to reproduce
1. Go to planner on prod/prod-preview
2. Click on `Scenarios`

![download 6](https://user-images.githubusercontent.com/12949454/36722881-c21a8f82-1bd4-11e8-901c-d2ded5a29f7f.png)

Expected - Quickadd dropdown should have scenario, fundamental and papercut
Actual - Quickadd dropdown is empty

[2018-02-27 10:27] rgarg1 commented on #2374
@michaelkleinhenz @nimishamukherjee This should be a must fix.

[2018-02-27 10:47] tuxdna commented on #2315
WIP:

- [ ] https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/109

[2018-02-27 10:58] sara-02 opened #2375 "Prod-Preview: Jenkins deployment fails with persistentvolumeclaim "jenkins-home" not found"
Jenkins : 4.0.56

![screenshot from 2018-02-27 16-24-12](https://user-images.githubusercontent.com/7047079/36725048-0f807c18-1bdb-11e8-8902-ce0c75b85303.png)

[2018-02-27 11:19] rhopp commented on #2373
Closing as duplicate of https://github.com/openshiftio/openshift.io/issues/2369

[2018-02-27 11:19] #2373 closed

[2018-02-27 11:48] hrishin commented on #2368
@jaseemabid @jfchevrette ideally we should not remove the PV's as it helps in improving the overall build process it could be experimental.
This fix #2349 could help us to sustain the build performance to some extent without PV's, just by leveraging ephemeral storage.
This observation is good for booster applications but what about having real application development scenarios where dependencies s

[2018-02-27 12:33] ravsa opened #2376 "Service to detect under what license a project is distributed"
#### User Story:

As an OSIO user, I will be able to get my license from license file.

#### Description:
License extractor scans the LICENSE files and compare the contents with known license synonyms and detects the license for the project

#### Tasks:
- [x] Implement the logic for license extractor service.
- [x] Make the necessary changes in core API server for license service.
- [x] Make the n

[2018-02-27 12:43] invincibleJai opened #2377 "Task list for Getting started [ngx-launcher]"
##### API (Runtimes) `/booster-catalog/runtimes`
- [x] - Description is not coming as part of API response
- [x] - Missing/invalid Auth bearer token should respond with status code 401 (https://github.com/fabric8-launcher/launcher-backend/issues/122)
- [x] - API changes to handle UX changes (https://github.com/fabric8-launcher/launcher-planning/issues/121)
- [x] - Filter Node, Fuse from Runtimes

[2018-02-27 12:45] kbsingh commented on #2368
@hrishin can you elaborate a bit more around what you mean ? we've demonstrated above how this is a definite improvement, but you seem to disagree ?

[2018-02-27 12:48] aslakknutsen opened #2378 "Entering 'All spaces' view cause UI to go in loop"
https://www.youtube.com/watch?v=UzCL8xTLd2Q

[2018-02-27 12:49] tisnik commented on #1084
@miteshvp how do you check when to invoke new stack analysis? IIRC we don't track the progress and don't have any threshold for (possible) timeout.

[2018-02-27 12:52] pkettman opened #2379 "Wrong link to the User Guide"
Link to the User Guide (https://docs.openshift.io/user_guide.html) at the bottom of the Getting started page (https://docs.openshift.io/getting-started-guide.html) doesn't work.

BTW: Previously there was a 'Documentation' link from the drop-down menu leading to both guides. Any reason why it was removed? The Getting started doc is now available from the homepage which is good, but availability fr

[2018-02-27 12:58] miteshvp commented on #1084
@tisnik - you are right and true for any stateless service to not maintain the status/progress. But with this [PR](https://github.com/fabric8-analytics/f8a-server-backbone/pull/14) we can trigger one more stack-analyses call ir-respective of whether the original call is actually in progress or not. To further this, we can utilize started_at timestamp from original book-keeping record and initiate

[2018-02-27 13:02] ldimaggi commented on #2369
Issue found/encountered by EE tests.

[2018-02-27 13:03] ldimaggi commented on #2341
Issue found/encountered by EE tests.

[2018-02-27 13:03] ldimaggi commented on #2323
Issue found/encountered by EE tests.

[2018-02-27 13:18] tisnik commented on #1084
@miteshvp ah I see. Interesting implementation. Thank you for clarification.

[2018-02-27 13:29] aslakknutsen commented on #2349
@hrishin It's probably even just scoped to 1 OSIO booster since they all will run with different versions of the same stuff and different other stuff etc etc

[2018-02-27 13:56] RickJWagner commented on #2366
Hi Radim,

Thanks for having a look.  I'll try to work with similar scenarios, to see
if I can replicate the problem.  I'll update the issue if I manage to do it.

Rick

On Tue, Feb 27, 2018 at 3:25 AM, Radim Hopp <notifications@github.com>
wrote:

[2018-02-27 13:58] jiekang commented on #2206
Fix in progress. As an aside, this can be reproduced by creating a space and then logging out; you don't need to go through the whole process of creating the application.

[2018-02-27 14:20] corinnekrych commented on #2378
@dgutride spotted the issue: https://github.com/fabric8-ui/ngx-widgets/commit/5c51bede324e7f12623b4ea8ba1fa6f69f504811

see discussion https://chat.openshift.io/developers/pl/iym4634eotbrmcq5ir87u7acsw

Tested locally with ngx-widgets@2.3.6 => infinite loop
Tested locally with ngx-widgets@2.3.4 => much better!

@vikram-raj this issue is a regression of your fix in ngx-widgets.
I guess the issue is

[2018-02-27 14:30] jiekang commented on #2269
Can the issue be updated to reflect that this affects the entire f8-ui application? I'd like to remove it from being tracked under #287.

[2018-02-27 14:37] jiekang opened #2380 "[20] (Deployments) Show deployment status events in real time"
Parent: #287

# Description

As a user of OSIO's web application, I want to be able to see my deployment information update in real time.

# Notes

The Deployments API currently supports HTTP requests. This requires data to be polled for updates. The network usage for this is inefficient and the user experience on the page suffers because data cannot be updated 'live'.

For example, as a pod scale

[2018-02-27 14:42] qodfathr commented on #2285
@mindreeper2420 I do not have a recommendation for the reference point; caniuse seems reasonable. In essence, we need to basically decide what subset of https://caniuse.com/#index we consider to be required for OSIO -- and it would make sense for that selection to enable all major browsers to work. (e.g. Passive event listeners look safe to use but CSS font-smooth not so much.)

cc: @slemeur -- we

[2018-02-27 14:54] jfchevrette opened #2381 "Sporadic errors from OSO api"
I am seeing about 30 jenkins namespaces which are missing a "jenkins-git-ssh" secret.

The jenkins slaves are crashlooping because they are trying to mount that secret as a volume.

Can we re-create this secret? What should it contain?

[code]

@rupalibehera @chmouel @jaseemabid @pradeepto

[2018-02-27 14:57] jfchevrette commented on #2381
In the other namespaces the secret content is:

[code]

[2018-02-27 15:08] jiekang commented on #2208
Closing in favor of: https://github.com/openshiftio/openshift.io/issues/2380

[2018-02-27 15:08] #2208 closed

[2018-02-27 15:14] joshuawilson commented on #2269
I agree, I have updated it too.

[2018-02-27 15:19] #2378 closed

[2018-02-27 15:22] #2304 closed

[2018-02-27 15:27] andrewazores commented on #2360
As a short-term solution, yesterday we discussed having the DeploymentsService continue to log and notify on errors but to then swallow them, rather than re-throw. This would prevent uncaught errors in subscriptions from breaking the page at least. In the future we should continue adding proper specific error handling for various consumers in the Deployments page for various types of errors. Once

[2018-02-27 15:28] joshuawilson commented on #2379
I'm unsure which link does not work. Can you please be specific.

The links were changed when we were able to link to the new docs page.

[2018-02-27 15:32] pbergene commented on #2364
Re-enabled on prod - state is being closely tracked.

[2018-02-27 15:36] pkettman commented on #2379
There is a sentence at the end of the Getting Started guide: "See the OpenShift.io User Guide for comprehensive information about OpenShift.io and its features." And the link to the User Guide in that sentence is broken.

[2018-02-27 15:36] joshuawilson commented on #2360
@andrewazores as long as the error are sent to the global ErrorHandler.

[2018-02-27 15:38] joshuawilson commented on #2379
Ah, so it is in the doc. I misread the issue.

[2018-02-27 15:38] joshuawilson commented on #2379
cc @rkratky

[2018-02-27 15:40] qodfathr commented on #2370
What's particular odd is the fact that the string **does** match the regex expression displayed in the error message. That regex does **not** prohibit multiple dashes in a row. Perhaps the final `*` shown in the regex in the error message is in error and does not coincide with the actual code. (e.g. the intent is one more more alphanums, then either `.`, `_` or, `-`, and then one or more alphanums

[2018-02-27 15:47] qodfathr commented on #2361
@joshuawilson Removing type/experience as technically this is not an experience but more of a feature request. But I cannot label type/feature, either, because type/feature should now be the proper children of type/experience. Probably need a new label...

@ibuziuk yes, agreed that we need to support polyglot in some way (but perhaps not specifically the way you are suggesting). It is part of the

[2018-02-27 15:50] qodfathr commented on #2357
Agreed with @alexeykazakov on this one -- @maxandersen you must have already granted access to your currently logged in GitHub account. This is a real edge case. If you revoke OSIO from GitHub, I bet you'd see it working "properly" if you then try again.

[2018-02-27 15:55] jiekang commented on #2370
The regex is:

`[a-z0-9]+(?:[._-][a-z0-9]+)*`

I believe the regex is correct and does not match against multiple dashes in a row.

The * is applying to the non-capturing group (?:[._-][a-z0-9]+).

Verbally, the entire pattern is: one or more alphanumeric characters, followed by zero or more instances of: a single period, underline, or dash followed by one or more alphanumeric characters.

E.g. a.

[2018-02-27 15:55] qodfathr commented on #2334
Likely dupe of #575 links to pipelines broken when username has special characters in it

[2018-02-27 15:55] ibuziuk commented on #2361
@qodfathr as I understand there is already ` CheStackDetector` in place in launcher. Currently it can process only maven structure, so it is probably just a matter of making it smart enough to understand non-java projects

[2018-02-27 16:18] rkratky commented on #2379
Thanks for the ping. This has been fixed in https://github.com/fabric8io/fabric8-online-docs/pull/191. Push to prod is in progress.

[2018-02-27 16:18] #2379 closed

[2018-02-27 16:20] kbsingh commented on #2368
Can we get an update on this issue ( cc @stevengutz )

[2018-02-27 16:29] ldimaggi opened #2382 "Che should support drag-and-drop and control/c+v for file import and export to a workspace"
Noticed this while working with Che - copying a local file to a project is an import action, and copying a file from a project to a local file system is a download action. Both actions work, but it would be simpler/easier for users if we also supported drag-and-drop and copy/past for files - these are typical actions supported by desktop apps and IDEs, Thanks!

[2018-02-27 16:45] xcoulon opened #2383 "Verify the cluster tokens with a call to the `whoami` API"
Using the `forcePull=true` query param when retrieving the cluster token from `auth` service does not work because the token are encrypted in `auth` and can only be decrypted by `tenant`. So, in order to validate the token, we need to restore the call to the `whoami` API on the OpenShift cluster.

[2018-02-27 16:59] joshuawilson commented on #2370
@qodfathr do you want it to allow multiple periods, underscores, and dashs?

[2018-02-27 17:02] joshuawilson commented on #2382
I agree. I was very surprise that it couldn't do this. These common features are important for adoption IMHO.

[2018-02-27 17:07] jfchevrette opened #2384 "Jenkins trying to spin up multiple slaves at the same time"
Just observed a namespace that had 6 openshift builds in 'Running' state and jenkins was trying to start multiple slave pods at once. Because slaves are started with a PV mount, only one can run at once.

Once I cancelled all the builds and made sure jenkins had stopped trying to start slaves I triggered one build it completed just fine.

Is there something in jenkins that ensures that builds are

[2018-02-27 17:10] jiekang commented on #2370
@joshuawilson
To clarify some more: the error is coming from our request to a Kubernetes API endpoint. I think the requirement is from Kubernetes so it may not be something we can change. In theory, we could allow any name for external purposes and keep an acceptable 'id' that is used internally. I don't think this is valuable and can lead to a lot of issues down the road like hashing conflicts.

[2018-02-27 17:21] jaseemabid commented on #2368
1. Removed PV from pipeline library and made a PR
   https://github.com/fabric8io/fabric8-pipeline-library/pull/388

2. Started a vertx app and build on osio

3. First build didn't start for 45m or so
   https://console.starter-us-east-2.openshift.com/console/project/jabid/browse/pipelines/vertapp/vertapp-1?tab=detailshttps://console.starter-us-east-2.openshift.com/console/project/jabid/browse/pip

[2018-02-27 17:26] rhopp commented on #2382
I did quick search in che github repo and it seems that this was implemented (at least the "upload" part): https://github.com/eclipse/che/pull/75, but you are right it's not working right now (in rh-che based on che5).
I don't have running instance of che6 to try it in more recent version.
On the other hand... I've tried this in Theia and at least the "upload" part works there, so we have somethin

[2018-02-27 18:46] ldimaggi commented on #2382
Excellent suggestion Radim - https://github.com/eclipse/che/issues/8943

[2018-02-27 18:48] rkratky commented on #2178
@invincibleJai, could we please add the existence of respective docs to the acceptance criteria for this story? I filed https://github.com/fabric8io/fabric8-online-docs/issues/192 to track the work on docs.

[2018-02-27 18:48] jfchevrette commented on #2368
I don't understand why you are getting this error. `oc get nodes` will never work as tenants don't have admin privileges. Surely it must have failed elsewhere OR a prior check lead jenkins down the path of trying to detect minishift for some reason.

[2018-02-27 18:59] msrb commented on #2315
Idea:

I think one way how to speed this up is to do the heavy lifting (data transformation and actual gremlin calls) in background workers. Currently everything is happening in the context of a http request. Requester would not wait for the package to be synced to graph as this change would make the whole process asynchronous.

[2018-02-27 19:00] jaseemabid commented on #2368
@jfchevrette I believe I just went down the happy path, clicking the right buttons in the UI and filling text fields. I'll take a deeper look tomorrow morning.

[2018-02-27 19:19] slemeur commented on #2285
Thanks @qodfathr. That makes sense actually. We'll capture that for Che.

[2018-02-27 19:21] sunilk747 commented on #2279
closing this issue as this is taken care of in this PR - https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/79

[2018-02-27 19:21] #2279 closed

[2018-02-27 19:26] ldimaggi opened #2385 "Running OSIO on Chromebook - Che presents random blinking icons after creating new Java Class"
Upstream issue eclipse/che#8963

On this model Chromebook: Lenovo Flex 11 Chromebook, Part Number:  ZA27, 11.6" HD IPS AntiGlare Multitouch (1366x768)
Chrome 63.0.3239.140 (32 bit)

In Che - create a new Java class - observe presentation of random blinking icons:
https://youtu.be/D3GHHfe24AA
https://youtu.be/Zu7feDHD0OQ

[2018-02-27 20:00] jiekang opened #2386 "TypeError in Deployments unit tests"
After the kebab changes, the unit tests have

[code]

This error should be investigated and resolved. The tests do pass regardless but this may be a sign that things aren't running correctly and other issues could be hidden as a result.

[2018-02-27 21:04] jiekang commented on #1456
This is a known intermittent issue. The Applications widget is renamed to the Deployments widget and being fixed [1]

[1]
Issue: https://github.com/openshiftio/openshift.io/issues/2301
PR: https://github.com/fabric8-ui/fabric8-ui/pull/2574

[2018-02-27 21:07] joshuawilson commented on #2370
I agree, if it is to match Kubernetes then we should just keep it to that.

[2018-02-27 21:14] jfchevrette commented on #2381
It looks like the following secrets are missing from some namespaces, even newer namespaces initialized a few days ago
- jenkins-git-ssh
- jenkins-hub-api-token

This causes jenkins-slave pods to fail and crashloop.

Moving this to SEV1

[2018-02-27 21:22] joshuawilson commented on #2382
By "upload" do you mean the file menu "upload" or do you mean ctrl+v?

[2018-02-27 21:25] joshuawilson commented on #2178
if this is now an `epic`, please update the description to match

[2018-02-27 22:06] ebaron commented on #2360
@gastaldi Thanks for revisiting the discussion.

This is beyond my expertise, but perhaps a better way to handle the space label would be for the Jenkins pipeline to read the label from its own Build Config and somehow set that on objects it creates.

[2018-02-27 22:46] ebaron commented on #2360
@jiekang @andrewazores If necessary, I can remove the space label check, at least temporarily. What we do right now to get data for a space is:
1. Get all Build Configs with matching space label.
2. For each matching Build Config, check each environment for a Deployment Config with the same name as the Build Config.
3. Test whether the Deployment Config also has the expected space label.

[2018-02-27 22:58] alexeykazakov commented on #2332
More details about this issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1402

[2018-02-28 01:32] ldimaggi commented on #2382
Yup - the upload feature.

[2018-02-28 02:58] miteshvp commented on #2315
@msrb - or use async http calls and rely on data importer to update the RDS accordingly once the sync is done.

[2018-02-28 03:08] pradeepto commented on #2350
Already discussed with @rupalibehera but pasting her for posterity. The only "official" way, that I am aware of, to stop plugins from upgrading is to pin them.

https://jenkins.io/doc/book/managing/plugins/#pinned-plugins

[2018-02-28 03:21] joshuawilson commented on #2382
This is a request for ctrl-c and ctrl-v to work.

[2018-02-28 05:47] invincibleJai commented on #2178
Thanks @rkratky , have added it. Currently work is in progress , had synced up with @Preeticp as well. Will keep you updated.

[2018-02-28 09:07] jarifibrahim commented on #2374
Fixed by https://github.com/fabric8-ui/fabric8-planner/pull/2441

[2018-02-28 09:07] #2374 closed

[2018-02-28 10:04] containscafeine opened #2387 "Unnecessary empty commit being pushed to codebase"
Even though I have unchecked the following option while adding a new codebase:

![screenshot from 2018-02-28 15-28-27](https://user-images.githubusercontent.com/9133660/36781573-3c86a8a6-1c9c-11e8-83a7-ef0e6a013958.png)

a new "empty" commit is still created to my repository:

![screenshot from 2018-02-28 15-31-13](https://user-images.githubusercontent.com/9133660/36781669-8dd6dcda-1c9c-11e8-9ad9-

[2018-02-28 10:08] bartoszmajsak commented on #2387
On that note: I'm wondering how is it that we have both `jboss` and `openshift-io` as commiters? Shouldn't we have one account?

![image](https://user-images.githubusercontent.com/719616/36781840-6c080c98-1c77-11e8-8350-b22f40514773.png)

Screen above comes from my ["quickstart" repo](https://github.com/bartoszmajsak/wfswarm-booster-pipeline-test/commit/46db55ed5a891569a0a1684b857d94265eceec3a) cr

[2018-02-28 10:23] rupalibehera commented on #2368
@jaseemabid reported he is blocked on this issue due `{"Errors":[{"code":"500","detail":"Could not find entry for cluster https://api.starter-us-east-2.openshift.com/"}]}` https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/180
He cannot test his changes on his tenant due to the above issue.

[2018-02-28 10:46] msrb commented on #1084
@miteshvp yeah, stack analyses should be idempotent, so we should be able to run them more than once without any consequences. One thing that we still need to figure out is who/when will retry.

In the mean time, I've opened PR for @tisnik test suite that will help us test these types of scenarios.

[2018-02-28 10:48] msrb commented on #1084
Another good candidate for this type of testing is pgbouncer. We had problems with it before - services were not able reconnect after pgbouncer restart.

[2018-02-28 10:56] tuxdna commented on #2315
@msrb With the required graph sync APIs having support for limit and offset, what I am looking at right now is to revamp the [SyncToGraph](https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/f8a_jobs/handlers/sync_to_graph.py#L10) worker to use data-model-importer graph sync APIs in a way that can be parallelized. So essentially such a worker will fire multiple requests to data

[2018-02-28 11:50] sunilk747 opened #2388 "Introduce new API endpoint to return pom contents for the repo created on launch"
## Description
For integration of dependency editor to launcher backend we need another API which will return the content of the pom file or the url of the github repo that will be created on launch. This pom file will be consumed by the dependency editor.

## Acceptance criteria
A separate end point to return the contents of pom or URI of the github repo created whichever is feasible.

## Task Li

[2018-02-28 12:02] adisakala commented on #2368
Do we have an issue tracking the blocker?

[2018-02-28 12:04] kbsingh commented on #2331
@vasulakkaraju my question is why are you doing this, when the tensor content already exists for RHEL. Also, disagree that a sub is needed. ( cc @krishnapaparaju )

[2018-02-28 12:13] kbsingh commented on #2368
i understand this is fixed in prod already ( the idler-proxy ) that was blocking Jaseem ( cc @hferentschik )

[2018-02-28 12:38] #1693 closed

[2018-02-28 13:11] containscafeine opened #2389 "Well, looks like a text box, but not really a text box"
Well, the text box right under "Repository name pattern" is not a text box. I clicked on it to search, like I would on any other website, but I could not, because... it's not a text box, but looks like one.

![screenshot from 2018-02-28 18-37-39](https://user-images.githubusercontent.com/9133660/36789188-a2044930-1cb6-11e8-9e1d-c810d192cb5c.png)

So, how do I search? By clicking on the funnel icon

[2018-02-28 13:15] ldimaggi opened #2390 "User on cluster 2 (console.starter-us-east-2a) seeing consistent problems/delays in starting Jenkins pod"
Started seeing this consistently overnight (Feb 27-to-28) - it can take up to 10 for the Jenkins pod to be usable after an env reset. This only seems to be a problem on the 2a/new cluster. Events from the Jenkins pod:

[code]

[code]

[2018-02-28 13:15] ldimaggi commented on #2390
Issue found/encountered by EE tests.

[2018-02-28 13:18] containscafeine opened #2391 "Unable to import previously imported but deleted codebase"
I had imported the following codebase, but then deleted it, and now I'm trying to import it again, but getting the following error. Any idea why?

![screenshot from 2018-02-28 18-46-22](https://user-images.githubusercontent.com/9133660/36789499-bf63f15a-1cb7-11e8-8313-9498476c2c86.png)

[2018-02-28 13:26] joshuawilson commented on #2389
I agree it is not intuitive. There is a complete redesign of the wizard so this will not get changed as this version of the wizard is going to be replaced.

[2018-02-28 13:26] #2389 closed

[2018-02-28 13:26] jyasveer commented on #2325
fix is here https://github.com/fabric8-ui/fabric8-recommender/pull/441

[2018-02-28 13:29] joshuawilson commented on #1378
@chmouel @pradeepto @rupalibehera any ideas?

[2018-02-28 13:37] #2386 closed

[2018-02-28 13:39] sara-02 commented on #2126
@ldimaggi This is an error on the old UI, can you please check the new stack-report UI and let us know if your concerns are still valid or not?
Also, @GeorgeActon it is possible that even with Kronos being able to process wildlfy, we find no outliers. In that case we need 2 messages, one to display when there is no outlier because the system cannot understand the dependencies in the first place. O

[2018-02-28 13:50] jyasveer commented on #2325
closing as it is fixed

[2018-02-28 13:50] #2325 closed

[2018-02-28 13:53] jyasveer commented on #2147
@sunilk747 can you please confirm if your changes are in prod ?

[2018-02-28 13:56] stevengutz commented on #2381
@pradeepto who should be looking at this?

[2018-02-28 14:02] nimishamukherjee commented on #2293
Fix on prod preview

[2018-02-28 14:03] nimishamukherjee commented on #2294
@ppitonak fix on production please review.

[2018-02-28 14:04] ibuziuk commented on #2385
@ldimaggi please, create an issue on upstream che for this.

[2018-02-28 14:05] nimishamukherjee commented on #2289
@muruGanesan any update on this.
We can close this if we are not changing the implementation.

[2018-02-28 14:07] nimishamukherjee commented on #1993
@aslakknutsen please check. Fix on production.

[2018-02-28 14:09] aslakknutsen commented on #2381
@jfchevrette What tenant version are these running? see labels

[2018-02-28 14:14] pbergene commented on #2381
Set up by tenant service. Templates are in place, but not applied for some.  Will get a list and compare notes with @aslakknutsen - also check for versions / labels.

[2018-02-28 14:20] rupalibehera commented on #2381
@pbergene , as we discussed on the triage call can we remove team/build-cd label from the issue

[2018-02-28 14:21] ldimaggi commented on #2385
https://github.com/eclipse/che/issues/8963

[2018-02-28 14:25] pbergene commented on #2381
@rupalibehera yeah, we'll loop you in as required :)

[2018-02-28 14:26] sbose78 commented on #2332
This impacts OSO too .

![screenshot from 2018-02-28 19-54-33](https://user-images.githubusercontent.com/545280/36792748-6e0c68b4-1cc1-11e8-99da-a2b83785e3c7.png)

[2018-02-28 14:29] jfchevrette commented on #2381
@aslakknutsen one tenant which was initialized 44 hours ago is missing jenkins-git-ssh. The other one (jenkins-hub-api-token) is present. dc/jenkins is at version 4.0.56

Could it be that the quota update is applied later in the process? I noticed one of them (only one) still had a secrets limit of 20 (should be 40) and there is a total of 21 secrets once a tenant is fully provisioned (including d

[2018-02-28 14:37] msrb commented on #2282
@maxandersen

Thanks Max, we hold cabals irregularly, but I will definitely invite you to the next one :+1:

[2018-02-28 14:49] muruGanesan commented on #2289
We are not changing any icons at this moment. We will close this issue

[2018-02-28 14:49] #2289 closed

[2018-02-28 15:59] sunilk747 commented on #2147
@jyasveer Yes the changes are in production.

[2018-02-28 16:13] pbergene commented on #2381
@aslakknutsen To clarify the secrets were added to these namespaces manually.  I was busy investigating when @jfchevrette mentioned this. He has a list of the namespaces that *were* affected if you want to compare notes.

[2018-02-28 16:15] nimishamukherjee commented on #1994
@aslakknutsen fix on prod. Please check.

[2018-02-28 16:17] nimishamukherjee commented on #2209
@dharmit please check. Fix on production

[2018-02-28 16:21] ldimaggi opened #2392 "User on cluster 2 (console.starter-us-east-2a) seeing random access/permissions problems"
Started seeing random access/login/permissions problems for a user account on cluster console.starter-us-east-2a - no pattern yet seen.

In one case, attempting to access OSO from OSIO resulted in this error:
![screenshot from 2018-02-28 10-18-51](https://user-images.githubusercontent.com/642621/36798683-46f0f198-1c79-11e8-817b-4f3267672ea8.png)

In another case, attempting to access the Jenkins b

[2018-02-28 16:26] nimishamukherjee commented on #1829
Closing issue as it has been resolved.

[2018-02-28 16:26] #1829 closed

[2018-02-28 16:32] #2301 closed

[2018-02-28 16:44] nimishamukherjee commented on #1531
Closing this as we have removed this screen from planner.

[2018-02-28 16:45] nimishamukherjee commented on #1595
@muruGanesan please have a look and suggest.

[2018-02-28 16:46] nimishamukherjee commented on #1554
@muruGanesan @michaelkleinhenz thoughts on this?
When do we show notifications?

[2018-02-28 16:48] nimishamukherjee commented on #1207
@apupier following up on this issue. We have fixed it. Please verify.

[2018-02-28 16:48] rkratky commented on #2215
@catrobson @qodfathr I have only now realized that this resulted in the creation of https://openshift.io/documentation.html -- I find that suboptimal. I don't mean the look of the page, but the fact that there are now two docs landing pages:

* https://openshift.io/documentation.html
* https://docs.openshift.io/

Not only does that create a potential for confusion (users might not be immediately s

[2018-02-28 16:49] nimishamukherjee commented on #1598
@aditya-konarde please check on prod. The side panel design has changed.

[2018-02-28 16:51] nimishamukherjee commented on #1638
@ldimaggi please check. Now the work item's detail page opens up.

[2018-02-28 16:52] nimishamukherjee commented on #1755
@Preeticp can we close this?

[2018-02-28 16:53] hferentschik commented on #1554
All the time and half of them are not needed and just distractive. Not to speak about that you have to actively close them most of the time.

[2018-02-28 16:54] nimishamukherjee commented on #1830
Closing this as we do not have detailed work item creation.

[2018-02-28 16:54] #1830 closed

[2018-02-28 17:18] catrobson commented on #2215
@rkratky thanks for the message, this was an oversight I'm afraid.

I agree with the redirect methodology, but would like to suggest that we should have docs.openshift.io redirect to /documentation so it follows our URL logic for everything else we're going to do on Openshift.io domain name.  Is that OK with you?

[2018-02-28 17:20] andrewazores commented on #2334
I think this is a dupe of #575 but I don't think 575 has to do with special characters necessarily - the incorrect portion of the path is taken from the buildconfig namespace, rather than the OSIO username as I believe is actually required. For users who log in to OSIO with a non-email username, this probably lines up the same. For users who log in with an email address then this will be broken.

[2018-02-28 17:24] andrewazores commented on #2334
Where are the links supposed to point? Should "tttt-2" in this case link to the same place as the "Pipelines" card title, or is there some other place it's supposed to go?

[2018-02-28 17:27] andrewazores commented on #2333
I can't reproduce this - following the steps as reported, I'm redirected to the OSO web console as expected. @krishnapaparaju can you share the URL that the link points to and which produces a 404?

[2018-02-28 18:04] andrewazores commented on #2334
Where are the links supposed to point? Should "tttt-2" in this case link to the same place as the "Pipelines" card title, or is there some other place it's supposed to go?

[2018-02-28 18:06] stevengutz commented on #2368
@rupalibehera @jaseemabid Is there an update on this.  It's still sitting open, so I assume we're still blocked.  Can you add a link to the work item that is blocking this?  The previous one (https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/180) seems to be closed now

[2018-02-28 18:13] andrewazores commented on #1048
This looks to be effectively a dupe of #575 . Both links are implemented the same way and exhibit the same incorrect behaviour.

[2018-02-28 18:24] joshuawilson commented on #1755
We have a new doc at https://openshift.io/documentation.html that is maintained by @rkratky and his team.
Please work with them to get it updated.

[2018-02-28 18:24] jaseemabid commented on #2368
@stevengutz @kbsingh I can see the Idler page now, trying to bring up the Jenkins. I'll run a few builds to test this change and report findings.

[2018-02-28 18:35] stevengutz commented on #2368
@jaseemabid  Awesome news.  I know it's late for you, but this will be a big step toward helping the SD guys get back on track so your efforts are appreciated.  A beverage of choice on me when I'm there :-)

[2018-02-28 18:42] ldimaggi commented on #1638
This is still a bug:

![screenshot from 2018-02-28 13-40-40](https://user-images.githubusercontent.com/642621/36806194-421b55be-1c8d-11e8-8d49-8bd4db630dd4.png)

[2018-02-28 18:43] ldimaggi commented on #1638
No longer a bug - closing.

[2018-02-28 18:43] #1638 closed

[2018-02-28 18:43] camilamacedo86 commented on #1830
@nimishamukherjee did you solve the issue or you could not reproduce it?

[2018-02-28 18:50] joshuawilson commented on #2334
@catrobson do you know what that link is supposed to do?

[2018-02-28 18:51] jyasveer commented on #2147
closing it.

[2018-02-28 18:51] #2147 closed

[2018-02-28 19:00] jiekang commented on #2025
`environment-widget.component.ts` has been updated [1] and no longer has dependencies on `a-runtime-console` code.

[1] https://github.com/jiekang/fabric8-ui/commit/a00a065a31d302621826556ce31ffd7d41f2587e

[2018-02-28 19:14] aslakknutsen commented on #2381
@jfchevrette  4.0.56 was the mass update v.

[2018-02-28 19:33] joshuawilson commented on #1830
@camilamacedo86 the page has been removed, therefore there is nothing to fix.

[2018-02-28 20:35] ldimaggi commented on #2217
Test for running maven install and test commands from Che terminal - https://github.com/fabric8io/fabric8-test/pull/463

[2018-02-28 20:59] jfchevrette commented on #2392
Looks like there is something wrong with your route. I could not reproduce the following using my own jenkins route.

I will raise an issue with the openshift team

[code]

[2018-02-28 20:59] mmclanerh commented on #2390
Was your jenkins master pod idle before running tests?  If so, was it maybe idled in a broken state? Perhaps delete your jenkins master pod and see if that makes progress.

[2018-02-28 22:41] alexeykazakov opened #2393 "Support user deprovisioning"
We need to support user deprovisioing.

- [ ] Auth service provides API for deprovisioing users (called by OSO only) - https://github.com/fabric8-services/fabric8-auth/issues/353
- [ ] OpenShift Online calls Auth service when user is being deporvisioned
- [ ] Auth blocks deprovisioned users from login and token refresh - https://github.com/fabric8-services/fabric8-auth/issues/353
- [ ] Tenant serv

[2018-02-28 22:53] aslakknutsen commented on #1994
@nimishamukherjee General keyboard flow compared to normal forms etc is still behaving odd, but I'll open separate issues.

[2018-02-28 22:57] aslakknutsen opened #2394 "Planner Create Iteration modal has a odd flashing behavior on name field"
https://youtu.be/PcP5QM0emss

[2018-03-01 00:08] ldimaggi commented on #2392
I was wondering why this was closed.   ;-)

[2018-03-01 00:41] #1993 closed

[2018-03-01 01:53] ldimaggi commented on #2392
How does a user recover from this situation? An env reset does not seem to clear up the problem. Thx!

[2018-03-01 01:55] ldimaggi commented on #2126
Verified in production - closing.

[2018-03-01 01:55] #2126 closed

[2018-03-01 03:00] aslakknutsen commented on #2375
Same casue https://github.com/openshiftio/openshift.io/issues/2381

[2018-03-01 03:02] aslakknutsen commented on #2381
Tenant Service is seeming getting 'random' 403 Forbidden response from OSO when attempting to provision new users. This happens mostly on the Jenkins namespace as the other namespaces are rather empty, but type of resource seems irrelevant; secrets, volums, resource limits, etc

Cause: Unknown

[2018-03-01 03:51] ldimaggi commented on #2392
The same account is seeing problems blocking build pipelines:

[code]

[2018-03-01 03:58] #1048 closed

[2018-03-01 04:27] sivaavkd commented on #1329
@tisnik - are we still blocked ? Can you bring it up in today's standup?
@msrb - please let me know if you need help to unblock @tisnik

[2018-03-01 04:29] sivaavkd commented on #1089
@tisnik - The epic this issue belongs to (#829), is already closed.  Are we targeting this for the current sprint ?

[2018-03-01 04:31] sivaavkd commented on #1440
@msrb - are we targeting this for the current sprint ?

[2018-03-01 04:32] sivaavkd commented on #1635
@tisnik - are we targeting this for the current sprint ?

[2018-03-01 04:35] sivaavkd commented on #1761
@sunilk747 - Can you help me understand the current status of this ?  are we targeting this for the current sprint ?

[2018-03-01 04:36] sivaavkd commented on #1792
Moving this to Backlog

[2018-03-01 04:37] sivaavkd commented on #1897
@pkajaba - are we targeting this for the current sprint ?
cc @msrb

[2018-03-01 04:38] ldimaggi opened #2395 "Intermittent/recurring issue - PVC errors showing up after env reset"
Started seeing these after an env reset late on Feb 28 - in production on first cluster - multiple retries before COntent Repo and Jenkins pods are back up.
[code]

[2018-03-01 04:39] sivaavkd commented on #1974
@miteshvp - I think we are done with all the changes.  Can you please review and close it ?
cc @arunkumars08 @invincibleJai

[2018-03-01 04:42] sivaavkd commented on #2012
@msrb @miteshvp - as we bumped up this as Sev2, we need to find where the problem is and fix it.

[2018-03-01 04:44] sivaavkd commented on #2045
@humaton @msrb - are we targeting this for the current sprint ?

[2018-03-01 04:46] sivaavkd commented on #2047
@tuxdna - are we targeting this for the current sprint ? cc @msrb

[2018-03-01 05:06] muruGanesan commented on #1554
@ppitonak, @nimishamukherjee  Could please explain the scenario in details?
The toast notification is part of user/system feedback mechanism.

[2018-03-01 05:11] #2334 closed

[2018-03-01 07:57] hferentschik commented on #1554
Sure, but my point is that it is overused and badly implemented. Let's take an example. I go to the planner (Scenarios), file in a work item title and then press add. The new item is created and appears directly in the list below. Still I get a toast notification "Item foo created". What's the point? I already focusing on the item appearing in the actual list  and then my attention get distracted

[2018-03-01 08:00] hferentschik commented on #1554
Also, the way this notification is displayed is ways to obstrusive. It looks harsh and clunky. Reducing the amount of times it is displayed is the more important step, but after that I'd also look at the look and feel of this notification.

[2018-03-01 08:38] camilamacedo86 commented on #1830
tks for the explanation :-)

[2018-03-01 08:59] rkratky commented on #2215
@catrobson Well, the actual docs would still live at docs.os.io/foobar.html, so unless we move these files to os.io/documentation/foobar.html, then I think we would be not be solving the problem.

[2018-03-01 09:05] rkratky commented on #1755
@RickJWagner The 'Getting Started Guide' is intended to describe only specific paths through the product to allow users to start experimenting with it quickly.

We also have a 'User Guide', which aims to describe the product's feature in a more comprehensive manner. Work items are documented at https://docs.openshift.io/user-guide.html#working_with_work_items -- could you please have a look and po

[2018-03-01 09:16] msrb commented on #2047
@sivaavkd yeah, the plan is to have the NPM data in graph by the end of the sprint. The sync process is already running and @tuxdna is keeping an eye on it. Also there is a parallel effort to make the sync faster.

[2018-03-01 09:18] msrb commented on #1897
@sivaavkd that is correct, this is for current sprint.

[2018-03-01 09:53] tisnik opened #2396 "Issue found in the graph database - several properties are missing causing integration tests to fail"
The following properties `cm_avg_cyclomatic_complexity`, `cm_loc`, `cm_num_files`, `dependents_count` can not be found for the tested package `io.vertx:vertx-core`, causing the integration tests to fail.

Reproducer:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/494

Logs:
https://ci.centos.org/job/devtools-e2e-fabric8-analytics/349/console

[2018-03-01 10:17] miteshvp commented on #2396
@msrb - are we even collecting this static code analysis data? If not,then I think the tests should also be removed accordingly. cc @tisnik

[2018-03-01 10:21] ppitonak commented on #2293
Looks ok in prod-preview

[2018-03-01 10:23] ppitonak commented on #2294
Verified. Am I supposed to close the issue?

[2018-03-01 10:24] kbsingh commented on #2314
https://github.com/openshiftio/openshift.io/issues/2230 has impact from the work done here

[2018-03-01 10:26] kbsingh commented on #1902
do we have a good plan in place here ?

[2018-03-01 10:28] jaseemabid commented on #1902
@kbsingh, @chmouel is on PTO this week, so you might have to wait until he is back to get an update on this.

[2018-03-01 10:30] ppitonak commented on #1902
@chmouel, what do you mean by "internal infrastructure"? Behind the firewall or public but owned by Red Hat?

[2018-03-01 10:30] kbsingh commented on #1902
all the infra is public, no plan to move any of it

[2018-03-01 10:39] #1232 closed

[2018-03-01 10:40] tisnik commented on #1745
This repository has been deprecated, so this issue is no longer valid.

[2018-03-01 10:41] #1745 closed

[2018-03-01 10:44] containscafeine commented on #2179
hey @eivantsov @JPinkney any updates on this?

[2018-03-01 10:56] jaseemabid opened #2397 "Building vertx apps on prod fails with maven dependency errors."
This is the gist of the error.

[code]

Jenkins build : https://jenkins.openshift.io/job/jaseemabid/job/vertxapp/job/master/1/console

Full build logs:

[code]

[2018-03-01 11:01] jaseemabid commented on #2368
I cannot test the changes since I've been unable to get a few builds work on prod consistently since last 4 days even after so many attempts. Right now, I'm blocked on https://github.com/openshiftio/openshift.io/issues/2397 :man_shrugging:

[2018-03-01 11:03] jaseemabid commented on #1902
@ppitonak jenkins.cd.test.fabric8.io runs on GKE infra and is not managed by the SD team. This is about build team not having to separately manage any infrastructure.

[2018-03-01 11:26] containscafeine opened #2398 "Che should warn when pressing Ctrl+w"
As with a lot of other webpages where we use a web based terminal, we tend to press Ctrl+w to delete the last word, and those webpages catch this with a pop up warning that "you are trying to exit the page, are you sure?"

This behavior is not yet enabled when I'm working in the Che workspace, and I happened to close it today multiple times accidentally.

Would help to catch such strokes.

[2018-03-01 11:40] msrb commented on #2396
@miteshvp we don't collect those any more. Do we expect the properties to be always there, but values to be null or something?

[2018-03-01 12:00] ldimaggi commented on #2392
This account is the only user account that I have on cluster 2a - question - are other user accounts on cluster 2a also affected by this or only this account? Thx!

[2018-03-01 12:07] jaseemabid commented on #2397
@kbsingh, @hrishin says this is related to the proxy we use and you could help.

[2018-03-01 12:22] hrishin commented on #2397
@jaseemabid @kbsingh it could be networking issue for downloading the dependencies but weirdly its boiled down to file I/O as well while writing dependencies to file system.

Btw just to note `/root/.m2` is a mount path for secrete  `jenkins-maven-settings'.

[2018-03-01 12:32] miteshvp opened #2399 "[13] Integration Test Suite for Booster support"
### Description
As an OSIO Tester, I would like to increase UI Test coverage in support of all the boosters.

The boosters to be covered are:
* HTTP:  Vertx, Springboot, WildflySwarm
* HealthCheck: Vertx, Springboot, WildflySwarm
* ConfigMap: Vertx, Springboot, WildflySwarm

#### Acceptance Criteria
Integration Tests (to exercise the Boosters running in the context of OSIO) should increase the ove

[2018-03-01 12:36] stevengutz commented on #2397
Is anyone looking at this.  Since it's blocking https://github.com/openshiftio/openshift.io/issues/2368 it's a pretty high priority to get resolved

[2018-03-01 12:37] ldimaggi commented on #2399
Test to create a new Che workspace is running now:
https://ci.centos.org/view/Devtools/job/devtools-test-e2e-openshift.io-chetest-cluster-one/

[2018-03-01 12:38] ldimaggi commented on #2399
Test to run mvn build command in Che / OSIO - https://github.com/fabric8io/fabric8-test/pull/463

[2018-03-01 12:41] qodfathr commented on #2370
If we have to match the naming rules of every underlying system (including systems to be added in the future), we'll essentially face  an impossible task. We should not be leaking underlying naming rules up to the topmost UI, we should assume those rules will continue to change, and we should simply be offering the best UX to our users.

As such,. in cases such as these, we need a safe way to tran

[2018-03-01 12:45] qodfathr commented on #2370
@jiekang you are correct -- I was misinterpreting the output I was seeing at a different online regex tester.

[2018-03-01 12:48] qodfathr commented on #1378
Sure does feel like a sign bug. Any chance that, due to a difference in clocks on two of the systems (e.g. the user's browser and the Jenkins pod), that the elapsed time is being calculated as something like -1 secs? And, if yes, can we either just correctly use unsigned or maybe even just Math.Min() to floor at zero?

[2018-03-01 12:49] Preeticp commented on #1755
@rkratky, @RickJWagner this section in the user guide is currently being reworked as per the latest changes in Planner UX.

[2018-03-01 12:51] qodfathr commented on #2334
@joshuawilson do you think the fix for this also fixed #575? cc: @maxandersen @ldimaggi

[2018-03-01 12:56] pbergene commented on #2364
Closing, can file bugs vs idler / proxy component as required.

[2018-03-01 12:56] #2364 closed

[2018-03-01 13:08] qodfathr commented on #2385
While annoying, this does not impact any functionality, so adjusting severity.

[2018-03-01 13:14] qodfathr commented on #2191
@jiekang can you do a test on just prod -- adding the same codebase to two Spaces on prod? If you get the same error, that's a more serious bug. A user should be able to add a codebase to multiple Spaces.

[2018-03-01 13:16] qodfathr commented on #2178
@joshuawilson what's an Epic? Haven't we moved on from those... :)

[2018-03-01 13:22] qodfathr commented on #2193
@joshuawilson can you help identify the right team to investigate this? Thanks.

[2018-03-01 13:30] qodfathr commented on #2247
Let's not start with an Epic but rather focus on authoring real-world Scenarios with true value propositions. In fact, we already have some and we just need to augment them (both Scenarios and Fundamentals). That will lead to new Experiences, and only then can we properly come up with the new set of Features.

[2018-03-01 13:36] corinnekrych commented on #2258
@xcoulon shall we move that as done? we still got HK processing but the bulk of work mentioned in PR is done.

[2018-03-01 13:42] catrobson commented on #2334
It is supposed to navigate to Pipelines page with it pre-filtered to pipelines with that application name - showing all builds of that application.  I don't think that filtering works on the pipelines page right now, however.

[2018-03-01 13:46] corinnekrych opened #2400 "Display feature-flagged component"
belongs to [User story: Feature toggle for component](https://github.com/openshiftio/openshift.io/issues/2056)
# Description
As a user I want to be able to see if a page content feature-flagged components. Implement the visual scree as per UX design
https://redhat.invisionapp.com/share/KAF97RBGB#/screens/276638411_Options_Selection
# Tasks
- [ ] UI display tooltip about list of feature per page

[2018-03-01 13:46] andrewazores commented on #2334
@catrobson is there an existing issue for the broken filtering on that page?

[2018-03-01 13:48] jaseemabid commented on #2397
@hrishin and I are looking into this

[2018-03-01 13:59] hferentschik opened #2401 "A vicious Idler feedback loop"
*Period*: 23/02/2018
*System*: OpenShift Online
*Affected*: All OpenShift.io users

- [Story](#story)
- [Takeaways](#takeaways)
	- [Don't underestimate potential "small" issues](#dont-underestimate-potential-small-issues)
	- [Make clear action items when issues occur](#make-clear-action-items-when-issues-occur)
	- [Improve design of Idler](#improve-design-of-idler)
	- [External systems](#external-

[2018-03-01 13:59] stevengutz commented on #2397
@jaseemabid Please assign it to yourselves if you are working on it, just so everyone knows it's getting some love

[2018-03-01 14:02] corinnekrych opened #2402 "[4] User consent profile screens revisited"
belongs to [Epic: feature flags](https://github.com/openshiftio/openshift.io/issues/1165)
# Description
As a developer I should be able to able to get more information when accepting a user-consent level in the profile update screen. See UX screen:
https://redhat.invisionapp.com/share/KAF97RBGB#/screens/276638410
# List of tasks:
- [ ] profile/settings has been redesigned according to https://redh

[2018-03-01 14:04] corinnekrych commented on #2402
@mceledonia where does the links `send feedback` and `link here` link to?

[2018-03-01 14:07] hferentschik commented on #2401
To quantize the amount of requests made:

~90 req/s GET requests on deploymentconfigs
~60 req/s PATCH requests on endpoints

See also https://github.com/fabric8-services/fabric8-jenkins-idler/issues/133#issuecomment-368135408

[2018-03-01 14:12] corinnekrych commented on #1165
I've created:
- [User consent screen revisited](https://github.com/openshiftio/openshift.io/issues/2402)
- [Display feature-flagged components](https://github.com/openshiftio/openshift.io/issues/2400)

@joshuawilson @qodfathr @catrobson to be able to work on `Display feature-flagged components`, we really need concrete use-cases. Something better than feature1 is beta feature2 is experimental etc.

[2018-03-01 14:12] muruGanesan commented on #1554
@hferentschik, I got your point and I too agree that (1) Toast notification can be avoided where the user actions are very clear.
Let us review the planner application first and try our best to enhance the experience (only for planner). Do any specific area to focus immediately?

[2018-03-01 14:45] jaseemabid opened #2403 "Expose controller errors in vertx app(Vert.x HTTP Booster)"
Expose controller is something we believed we weren't even using in production, but I'm noticing errors related to ec in the deployment step.  Relevant part of the logs are

[code]

1. I have to admit that I don't understand what exposecontroller do, but I was under the impression that its not part of osio anymore. Now we have builds failing because of it.
2. The build reports success, even though

[2018-03-01 14:46] jaseemabid commented on #2368
Blocked by https://github.com/openshiftio/openshift.io/issues/2403 as well.

[2018-03-01 14:56] sthaha commented on #1900
### status update

We (@sbose78, Kishan and I) tried implementing the long term solution which is to switch to fabric8-auth for jenkins using the [`openid connect`][openid-plugin] but encountered issues with the plugin failing to authenticate and even with saving the configuration.

I then tried the simpler solution-2 to edit the openshift-login-plugin to enable user with `view` role to have the [

[2018-03-01 15:16] kbsingh commented on #1900
does the auth team have an action item that reflects this ask from your side @sthaha ? if so, can we get that linked in here as well please.

Well done on the execution so far.

[2018-03-01 15:43] andrewazores commented on #2025
`pipelines.component.ts`

- PipelinesService
- fabric8-pipelines-list in template

[2018-03-01 15:43] jiekang opened #2404 "Fix pipeline widget build links"
On production, the pipeline widget build links direct to openshift.io, which I believe is incorrect.

![pipeline-build](https://user-images.githubusercontent.com/5430520/36853781-55ea02e2-1d3d-11e8-968e-33d9a5d3c88a.png)

[2018-03-01 15:47] andrewazores commented on #2207
I believe this has been resolved. The Pipelines widget title link on the Analyze page now goes to a URL like this: `http://localhost:3000/aazores@redhat.com/test-space/create/pipelines`, rather than the OSO web console.

[2018-03-01 15:49] andrewazores commented on #1301
This looks like a dupe of https://github.com/openshiftio/openshift.io/issues/2334

[2018-03-01 15:51] andrewazores commented on #575
@qodfathr I think this has been resolved with the PRs for #1048 and #2334 - when working in those areas I didn't see any issue relating to special characters in particular, simply mishandling of usernames vs namespaces.

[2018-03-01 15:56] andrewazores commented on #2404
Not the case for me, so there's something weird going on. Maybe proxy related?

![screenshot from 2018-03-01 10-54-07](https://user-images.githubusercontent.com/3787464/36854468-15d054f2-1d3f-11e8-8a2e-6e7b6035553b.png)

[2018-03-01 15:57] andrewazores commented on #2404
Or maybe it has something to do with completed vs cancelled builds somehow?

[2018-03-01 16:01] andrewazores opened #2405 "Pipelines filtering "filterQuery is undefined""
The filter box in the toolbar of the Pipelines page is broken. What appears to be a text box is actually a dropdown with one item, "*Filter by Application...*", and selecting this item does nothing on the page while causing an error to be printed in the browser console:

![screenshot from 2018-03-01 10-59-43](https://user-images.githubusercontent.com/3787464/36854724-a9831b30-1d3f-11e8-9aa1-a2766e

[2018-03-01 16:26] joshuawilson commented on #2178
The devs are still using `epic` and `user-story`. As he called it a User-story but labeled it Epic.
Is it a bad thing to let them use those labels? You could double up the labels so it works for you too.

So this issue could have `type/user-story` and `type/feature`. Just need the parent.

[2018-03-01 16:31] RickJWagner commented on #1755
Hi @rkratky and @Preeticp,
Thanks for having a look at this.  I've taken a look at the User Guide also, I think we have an opportunity to help our users.
The User Guide clearly explains the mechanics of pushing the right button to make a work item, but what is missing is some context around how the user might want to structure their items.  There are many choices:  Scenario, Fundamental, Papercut,

[2018-03-01 16:34] #2383 closed

[2018-03-01 17:10] qodfathr commented on #1165
@corinnekrych we can get you some real examples.
@joshuawilson @xcoulon @aslakknutsen  we  likely need to become more prescriptive with all new development to ensure that it's backed by new feature flags.

[2018-03-01 17:16] qodfathr commented on #575
@maxandersen care to verify if fixed?

[2018-03-01 17:26] andrewazores commented on #2405
Reviewing the implementation, the dropdown is actually intentional - there are supposed to be filters for both "Filter by Application..." and "Filter by Codebase..."

[2018-03-01 17:40] andrewazores commented on #2405
Reviewing the implementation, the dropdown is actually intentional, and appears to be meant to pre-populate with lists of Applications or Codebases, depending on the type of filter selected in the toolbar. This list is never updated.

[2018-03-01 17:45] ldimaggi commented on #1301
This looks like it is working now - JF - can you retry and close?

[2018-03-01 17:45] andrewazores commented on #2405
The function updating the toolbar's lists of Applications and Codebases iterates over known Build Configs and looks for labels "app" and "codebase" respectively. For my example pipelines at least, the only label present is "space". I think the Build Config properties "id" and "gitUrl" might be used as replacements (temporarily?).

[2018-03-01 17:47] ldimaggi commented on #2405
I am not able to recreate the problem that you are seeing - are you seeing this in production?

[2018-03-01 17:49] andrewazores commented on #2405
Yes, though as I mentioned above this seems to be a pipeline labels thing more than anything else. I'll try clearing out my old stuff and starting fresh and see if the correct labels are applied now.

[2018-03-01 18:06] andrewazores commented on #2405
No, doesn't seem to have helped any.

To confirm - @ldimaggi , you see populated values in this dropdown?

![screenshot from 2018-03-01 13-05-09](https://user-images.githubusercontent.com/3787464/36861213-474891d6-1d51-11e8-9afd-c7fdd47ea65b.png)

For me only the placeholder value is present in this dropdown (likewise when Codebase filtering is selected), and inspecting the build config objects re

[2018-03-01 18:07] jiekang commented on #2191
@qodfathr
If a codebase has a pipeline in one space, the validation API no longer allows you to add that codebase with a pipeline in another space. I don't think this happened before. However, whatever is being added to the GH repository for a codebase to have a pipeline looks to be in a format that doesn't allow a codebase + pipeline to exist for multiple spaces. Or reworded, it looks like the fi

[2018-03-01 18:36] jiekang opened #2406 "Make validation issue easier to see when importing existing code"
When adding a codebase and pipeline via 'Import existing code' that already has been added with a pipeline in another space, the validation request fails at step 1B with BuildConfig already exists. However, the UI displays the issue in a location that can't be seen without scrolling down. [1] This isn't very obvious. At first I was going to submit an issue that there was no indication of what went

[2018-03-01 18:47] sbose78 commented on #1900
@sthaha  I would need some well defined authorization requirements - that way we can ensure that the authorization needs are taken care of in our current design which is being implemented. I can rope in Todd + UX for validation once we have it.

[2018-03-01 18:59] ldimaggi commented on #2405
Ah - OK - +1 - I see the same thing.

[2018-03-01 19:02] jfchevrette commented on #2395
It appears a tenant reset has been done 60 minutes and the content-cache PV has been re-created.

[2018-03-01 19:02] jfchevrette commented on #2392
The infra services have been restarted and the route is now working properly. Upstream are still investigating logs and data to try and pinpoint the root cause.

[2018-03-01 19:04] andrewazores commented on #2405
I have a patch nearly ready which fixes the sorting and filtering functionality. I will open a separate bug report for the linkable filtering feature.

[2018-03-01 19:10] hferentschik commented on #1554
cool

The same applies for working with codebases and pipelines which are imo even more important.

[2018-03-01 19:27] aslakknutsen commented on #2404
This has to do with the config load order, sometimes it comes out correct some times it don't. Refresh a few times and it should be ok.There is another issue on it that I can't seem to find atm. @joshuawilson ?

[2018-03-01 19:49] joshuawilson commented on #2334
@qodfathr there were 2 PRs that went in. One was to fix this and the other was to fix #575.

@catrobson I thought it might be done that way.

@andrewazores I do not recall an issue for that.

[2018-03-01 19:51] jfchevrette commented on #1301
This is not fixed.

- My space URL is: https://openshift.io/jfchevrette@gmail.com/demovertx5
- From the space page (above URL), the pipeline URL is: https://openshift.io/jfchevrette/demovertx5/create/pipelines

[2018-03-01 19:54] andrewazores commented on #1301
@jfchevrette would you be able to test on prod-preview? I don't think the change has bubbled to prod yet (@joshuawilson ?)

[2018-03-01 20:13] ldimaggi opened #2407 "User on cluster 2 (starter-us-east-2a) - seeing 401 errors in trying to create a new quickstart"
A newly provisioned user (ldimaggi-osiotest4) on the starter-us-east-2a cluster - seeing 401 errors in trying to create a new quickstart:

![screenshot from 2018-03-01 14-20-04](https://user-images.githubusercontent.com/642621/36867350-dadc7c4e-1d62-11e8-8d45-ab5372cfa486.png)

[code]

[2018-03-01 20:25] joshuawilson commented on #2405
It sounds like we need to get the designs from @catrobson and find out if they need to be updated.

[2018-03-01 20:29] ldimaggi opened #2408 "Intermittent/recurring failures in completing execution of build pipeline - maven throttling?"
Seeing this problem intermittently - a build pipeline fails - is this an example of the maven throttling?

[code]

[2018-03-01 20:30] ldimaggi commented on #2408
Issue found/encountered by EE tests.

[2018-03-01 20:35] joshuawilson commented on #2404
The `Build #6` link takes me to OSO. Where as the name `app2` takes me to the pipeline page in OSIO. What are you seeing that is different then this?

[2018-03-01 20:37] andrewazores commented on #2404
In Jie's screenshot, the "Build #3" link is hovered and in the bottom left, the browser preview shows that the URL points to simply "https://openshift.io".

[2018-03-01 20:38] alexeykazakov commented on #2407
@gastaldi ?

[2018-03-01 20:40] joshuawilson commented on #1301
I have not pushed it to prod yet.

[2018-03-01 20:43] ldimaggi opened #2409 "After an env reset, seeing long delays in initial pipeline build pipeline - more detailed logging would help to debug"
Steps to recreate:
* Reset user env
* Create new quickstart - observe build pipeline
* When the pipeline completes, start it up again:

![screenshot from 2018-03-01 13-42-25](https://user-images.githubusercontent.com/642621/36868614-e26326ee-1d66-11e8-9409-15b844c0b690.png)

The disparity in time required makes sense, as the initial build provisions the jenkins slave. But - the scale of the differ

[2018-03-01 20:43] alexeykazakov commented on #259
@pradeepto any updates on it?

[2018-03-01 20:44] joshuawilson commented on #2404
That is weird. I have not seen that before and can't reproduce it. @jiekang are you able to reproduce it?

[2018-03-01 20:44] ldimaggi commented on #2409
Another example:

![screenshot from 2018-02-28 09-45-34](https://user-images.githubusercontent.com/642621/36868785-6b9d0ace-1d67-11e8-9bf0-08ff86d5de94.png)

[2018-03-01 20:45] joshuawilson commented on #2409
could this be the Jenkins Idler spinning up?

cc @hferentschik @aslakknutsen

[2018-03-01 20:55] joshuawilson commented on #2404
I was just now able to see this. I'm working on trying to reproduce it. I do know that refreshing cleared it and reset to the correct URL.

[2018-03-01 22:28] aslakknutsen commented on #2381
All found effected namespace has been updated.

Cause: Unknown

[2018-03-01 22:41] gastaldi commented on #259
We removed the need for email in fabric8-launcher. We require at least:
- `read:org`
- `read:user`
- `repo` (or `public_repo` is enough)
- `admin:repo_hook`

[2018-03-01 22:55] alexeykazakov commented on #259
This ^ list looks better!

The list of permissions we currently require:

- `read:org`
- `user`
- `repo`
- `admin:repo_hook`
- `gist`

So, the question is if we can confirm that we can:
- drop `gist`
- replace `user` by `read:user`
- replace `repo` by `public_repo`

@gastaldi, you are confirming that the app wizard is ok with that, right?
@pradeepto, what about build?
@l0rd if there any requiremen

[2018-03-01 22:55] aslakknutsen commented on #2406
@joshuawilson @catrobson This isn't just a UX issue. I think the root cause needs to be addressed.

The codebase backend only cares about uniqueness between Space and Repository. 'Build' here seems to uphold uniqueness between Account and Repository.

Does it make much sense to have multiple Builds of the same Repository on the same Account? Not really...

Does it make much sense to not allow to i

[2018-03-02 00:36] mmclanerh commented on #2408
have we checked the xml files that get created to make sure the maven central named object isn't getting over-written on subsequent runs? i recall something about the maven config xml getting corrupted sometimes..

[2018-03-02 00:37] mmclanerh commented on #2409
i think this is probably working fine and is a part of the un-idle process..  the first hit of a github hook is going to error on an idled jenkins -- it sometimes takes a few minutes for the retry hook to schedule, from what i've seen.  also github had undergone a bit of a ddos attack for a while..  was this during that event? githubengineering.com/ddos-incident-report/

[2018-03-02 01:25] sthaha commented on #1900
@sbose78 is there an example of a well defined auth requirement that you can point me to?

[2018-03-02 02:31] joshuawilson commented on #259
@gastaldi it's not just the new launch wizard but the old app wizard too.

[2018-03-02 02:34] joshuawilson commented on #2406
@aslakknutsen the request is to make validation easier to see. You are raising the issue based on the validation message. I do agree that we need to address that too.

[2018-03-02 02:43] gastaldi commented on #259
@joshuawilson yes, I know that. I think it may be worth a test with the scopes that @alexey suggested, I don't think we'd need anything much different than that

[2018-03-02 03:07] ldimaggi opened #2410 "Not seeing any evidence of the idler functioning on cluster starter-us-east-2"
Steps to recreate:
* Reset user env - and then observe that the Jenkins pod is not scaled from 1 to zero

[code]

![screenshot from 2018-03-01 22-05-14](https://user-images.githubusercontent.com/642621/36881543-a5923e2c-1d9c-11e8-8d90-375cb534af58.png)

[2018-03-02 05:09] miteshvp commented on #2396
Based on this https://github.com/fabric8-analytics/fabric8-analytics-data-model/blob/master/src/graph_populator.py#L78, it looks like we will not have those properties at all in the graph

[2018-03-02 06:28] sunilk747 commented on #1761
@sivaavkd I am currently not working on this user story and we are not targeting this in this sprint. I think it's better to put it backlogs.

[2018-03-02 07:23] jaseemabid commented on #2403
@hrishin Are you sure you could access the app? I cant.

[2018-03-02 07:53] rgarg1 opened #2411 "If no is iteration assigned, don't show N/A"
Planner today in the __Backlog__ view, displays __N/A__ for all workitems that are not assigned to any particular iteration. In other words, workitems in _root_ iteration are displayed as such.

Expected: Name of the root iteration should be displayed in place of N/A.

![na](https://user-images.githubusercontent.com/28748448/36888723-cde6257a-1e1c-11e8-9271-4c053419813a.png)

[2018-03-02 07:55] muruGanesan commented on #1595
@nimishamukherjee, IMO: this is a part of the business decision too...
-  If we go with UX: 50-80 characters per line is readable by users
- There is no limitation on the **number of lines** because in real life scenario user would not type so lengthy text.

@qodfathr, Hi Todd, I would like to discuss with you about some common standards like "maximum character limit, date/time formats & stamp, tr

[2018-03-02 08:02] rgarg1 opened #2412 "Workitem title's font size is too small to view on a large screen"
The workitem title's font size is set to 10.5 pts, whereas Github's title font size is 12 pts.

While viewing Planner backlog view on a large screen, this feels inadequate. We've more than sufficient whitespace to fill.
![font size compare](https://user-images.githubusercontent.com/28748448/36889035-201ab65c-1e1e-11e8-9278-9c8620d27b59.png)

[2018-03-02 08:06] rgarg1 opened #2413 "Too much whitespaces in the Planner views"
The Planner views have too much of the whitespace all around, and the view could be further condensed to pack more information on the screen. This is just an observation; final decision lies with UX.

![backlog view](https://user-images.githubusercontent.com/28748448/36889158-b060896c-1e1e-11e8-93f0-9fde7327a7a8.png)

[2018-03-02 08:10] rgarg1 opened #2414 "Bring back the root iteration"
Provide an entry for the __root__ iteration in the left hand side-panel for iterations. This used to exist before and was later removed. All workitems that are not assigned to any particular iterations are, by default, assigned to root iteration and this option would enable a way to access those workitems.

[2018-03-02 10:17] rkratky commented on #1755
Thanks for the input @RickJWagner. @Preeticp has a WIP section on SDD (scenario-driven development) that should provide the context you're looking for.

[2018-03-02 11:06] miteshvp commented on #1378
One more
<img width="504" alt="image" src="https://user-images.githubusercontent.com/17736013/36896232-dab74728-1e37-11e8-8299-78cdcdde7075.png">

[2018-03-02 11:07] msrb commented on #2218
@pkajaba any luck with this one?

[2018-03-02 11:08] jaseemabid commented on #2403
This took quite some frustrating effort to dig into. We forked the [kubernetes-pipeline-plugin](https://github.com/fabric8io/kubernetes-pipeline-plugin/blob/master/devops-steps/src/main/java/io/fabric8/kubernetes/pipeline/devops/ApplyStepExecution.java) added a lot of expose controller specific code into it. I was looking at the upstream code for a long time :man_shrugging:

@maxandersen I think w

[2018-03-02 11:19] aslakknutsen commented on #2403
@jaseemabid so according to you this has been broken since October 2017?

[2018-03-02 11:32] kbsingh opened #2415 "Test coverage in production for Quickstarts through to build is poor"
We need every quickstart we publish in the service to be tested all the way through from start through to the build corrosponding being promoted and validated in the -run env

[2018-03-02 11:44] jaseemabid commented on #2403
@aslakknutsen Let me try to reproduce this with some other account.

[2018-03-02 12:53] qodfathr commented on #2178
This feels closer to an Experience (it's basically describing what the user would see/do in the acceptance criteria), but it would need a parent Scenario and child  Features.

[2018-03-02 12:54] jaseemabid commented on #2403
@aslakknutsen I tried the same with @jarifibrahim's account, but we never got past `All nodes of label ‘mavenvertx2_2’ are offline` even after several attempts. @rupalibehera Can you please try it out once?

[2018-03-02 12:55] qodfathr commented on #2191
@jiekang this is a very significant, and breaking, change. Whom needs to be brought into this conversation to discuss and resolve?

[2018-03-02 12:56] rupalibehera commented on #2403
@jaseemabid, I see the same error
[code]

[2018-03-02 12:58] qodfathr commented on #1595
@muruGanesan  happy to have the discussion. Let's start it somewhere else which is easier to have this kind of conversation, and work our initial investigations into a new Fundamental here.

[2018-03-02 13:06] aslakknutsen commented on #2391
How did you delete it?

[2018-03-02 13:06] ldimaggi commented on #2415
Actions to take - in this sequence:

1) Create credential for user account to be dedicated to running automated regression test for each quickstart on cluster (starter-us-east-2) - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1423

2) Create credential for user account to be dedicated to running automated regression test for each quickstart on cluster (starter-us-east-2a) - the credentia

[2018-03-02 13:11] pkettman opened #2416 "VTX code changes not propagated on the deployed booster"
Today after some time I started to test the basic Hello World Scenario on newly created Vertex booster. The code change was propagated to GitHub, pipeline builds were triggered, code successfully built and deployed on Stage and Run environments. But when I run the microservice change ("Hello" >> "Hello from Osaka") is not there, see screenshots below. Did I miss something? BTW: isn't is covered by

[2018-03-02 13:16] pmacik opened #2417 "Che workspace for boosters is broken by OSIO creating OSO routes that are too long."
![image](https://user-images.githubusercontent.com/3263627/36900746-d32486be-1e24-11e8-83f5-6a1787569f6f.png)

The username was: devtools-automated-tests-osiotest1

Hostnames of OSO routes are generated by concatenating strings including deployment name and username. That can end up longer than the limit of 63 characters when the username is long.

![image](https://user-images.githubusercontent.co

[2018-03-02 13:22] catrobson commented on #2402
@corinnekrych Let's remove the "send feedback' link for right now.  We plan to implement a feedback mechanism in the future, but we don't have it in OSIO today.

For "link here" - @mceledonia should that link to the page that the feature exists on?  Otherwise if it was meant to just contain more informational information I think we should remove that as well.

[2018-03-02 13:31] tisnik commented on #2396
@miteshvp so if current data contains just leftovers, I'll update the test. Do you agree?

[2018-03-02 13:32] miteshvp commented on #2396
@tisnik - 👍

[2018-03-02 13:36] tisnik commented on #2396
thanks @miteshvp I'm on it

[2018-03-02 13:37] catrobson commented on #2405
@joshuawilson There are no designs built for this page.  If this is about the filter control we would expect this to behave like the standard patternfly-ng filter, and we should use that filter exactly if we can:  https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/filters

I don't think it makes sense to a design exercise based on what we have there today, so if we want to just do

[2018-03-02 13:40] andrewazores commented on #2405
I don't think we need designs or to discuss it - the pf-ng filter example is clear and the implementation's intent is clear (and matches the standard pf-ng design), it's just that the implementation is broken.

[2018-03-02 13:41] catrobson commented on #1365
We will be removing multi-repository adding from the import flow for the first revision because we do not support how to handle multiple repositories from an "application" standpoint.  The user will be importing one codebase to one pipeline for now.  I think this issue is now outdated and can be closed, and we'll update the launcher experience UI to handle multiple project import as we get to that

[2018-03-02 13:56] sbose78 commented on #2332
@pbergene @alexeykazakov now that we are not blocked with onboarding of users, should we re-consider the severity here?

We are in touch with Vlastimil regarding his code changes - which would take at least a week.

[2018-03-02 13:58] tisnik commented on #2396
Tests has been fixed in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/497

[2018-03-02 13:59] #2396 closed

[2018-03-02 14:18] catrobson commented on #2215
Ok, understood.  We'll redirect the other way for the URL then.

[2018-03-02 14:19] joshuawilson commented on #2413
@rgarg1 if you know the issue is UX related then you need to use the correct labels. You may also want to cc @muruGanesan

[2018-03-02 14:22] joshuawilson commented on #2414
@rgarg1 Is this a bug or a feature request? If it is really a bug, please assign Severity

[2018-03-02 14:25] ldimaggi opened #2418 "If a user account fails a defined number of attempts to idle with a defined time period - that account cannot idle until the idler is restarted"
Started seeing this with a user account that was used for manual testing on Feb 28/March 1. At some point, its attempts to idle Jenkins reached a threshold, at which point, attempts to idle Jenkins for this account stopped.

Can we:
* Get some definition on the number of attempts that must fail with what time period?
* Generate logging messages (info level) to assist the user and RH support staff

[2018-03-02 14:29] aslakknutsen commented on #2418
@hferentschik doc a 'alg' doc somewhere?

[2018-03-02 14:38] joshuawilson commented on #2178
This is a learning experience for everyone. As you are explaining it here.

@invincibleJai can you work with @sivaavkd and @krishnapaparaju to update this according to what @qodfathr has said?

[2018-03-02 14:38] rkratky commented on #2215
@catrobson Could you please let me know where I can find the source code for the landing page you created, so that I can deploy it on docs.os.io? Also, are there some other considerations? I.e. should the top bar be the same even though it would be a different URL?

[2018-03-02 14:54] ldimaggi commented on #2403
Am also seeing this same error:

[code]

But - the app is deployed, is reachable, and runs on both stage and run.

[2018-03-02 14:58] #1228 closed

[2018-03-02 15:03] ldimaggi opened #2419 "Jenkins idler seems to be retaining stale data on active builds - this blocks idler from running"
Related to issue: https://github.com/openshiftio/openshift.io/issues/2418

It appears that the issue reported in #2418 is caused by stale data relating to a completed build that is marked as active. The idler sees this build as active:

[code]

And - an active build prevents the idler from running.

But - no builds are active:

[code]

[2018-03-02 15:13] pbergene commented on #2332
Ack, I'll leave that to Alexey - I think it would be useful to keep it as a point on the triage call regardless (if not only to satisfy my curiosity ;))

[2018-03-02 15:19] jiekang commented on #2191
@joshuawilson Do you know who owns this piece of the project?

[2018-03-02 15:24] joshuawilson commented on #2191
This is a mix of the build/CD team and those working on the wizard.

cc @pradeepto @chmouel @rupalibehera @krishnapaparaju @gastaldi

[2018-03-02 15:29] catrobson commented on #2405
I would have probably gone for text area, but I'm open to either.

[2018-03-02 15:35] joshuawilson commented on #2391
He deleted the space/app and tried to import the same existing codebase.

@containscafeine the codebase has been modified, revert the last change made by `openshift-io `

[2018-03-02 15:36] joshuawilson commented on #2191
releated to #2391

[2018-03-02 15:41] jiekang commented on #2206
Closing: Fix has been merged, this should no longer occur on latest.

[2018-03-02 15:41] #2206 closed

[2018-03-02 15:43] pbergene commented on #2410
Mine idled - test was a little different though.  Did a quickstart, promoted through build and left OSO open at the console.

[2018-03-02 15:50] ldimaggi opened #2420 "Intermittent/recurring error - attempts to open Che workspace fail - Start of environment 'default' failed"
This problem has been seen periodically - it has been seen several times this week - with both manual and automated tests.

For example:
[code]

![screenshot from 2018-03-02 10-21-32](https://user-images.githubusercontent.com/642621/36909621-81a63f66-1e0c-11e8-89b9-a65b541b9597.png)

In the specific instance for which this^ error was returned, the user account in question had (1) existing Che work

[2018-03-02 15:50] alexeykazakov commented on #2332
@rkratky RHD has been updated with a fix for this issue. Can you please verify if it now works for you when you login using your email?

[2018-03-02 16:25] ldimaggi commented on #2420
It looks like the problem is caused by a Failed Mount issue:

Che Event log:

[code]

[2018-03-02 16:33] ldimaggi commented on #2420
Question - the error seems to occur randomly when a user has at least ONE existing Che workspace and tries to create another.

[2018-03-02 16:37] qodfathr commented on #2375
@aslakknutsen do you recommend closing as a dupe?

[2018-03-02 16:40] qodfathr commented on #2367
What `type` is this?

[2018-03-02 16:43] #2405 closed

[2018-03-02 16:45] jiekang commented on #2405
@andrewazores see above comment: looks like switching to text area is acceptable

[2018-03-02 16:54] joshuawilson commented on #2215
@rkratky it is this repo.
https://github.com/openshiftio/openshift.io

[2018-03-02 17:00] andrewazores commented on #2226
Would changing the cursor shape (from pointer arrow to "hand") when over the cards help with this?

[2018-03-02 17:05] alexeykazakov commented on #2367
It's a task.

[2018-03-02 17:09] andrewazores opened #2421 "Pipelines page filtering should allow users to enter text"
https://github.com/openshiftio/openshift.io/issues/2405#issuecomment-369952737

![screenshot from 2018-03-02 12-07-24](https://user-images.githubusercontent.com/3787464/36911716-61f9cfba-1e12-11e8-8778-b8c1513122ab.png)

Application/Codebase filter should allow users to type text rather than having to select from the dropdown. This would be more evidently useful for a space with many more pipeline

[2018-03-02 17:11] andrewazores opened #2422 "Pipelines page toolbar should show total number of pipelines"
Related: https://github.com/openshiftio/openshift.io/issues/2421

![screenshot from 2018-03-02 12-07-24](https://user-images.githubusercontent.com/3787464/36911814-b925061a-1e12-11e8-86b4-b603553929b5.png)

The toolbar on the Pipelines page should show a count of how many pipelines are present in total. When filtering, the number of matching pipelines should be displayed as well. For the current t

[2018-03-02 17:12] ibuziuk commented on #2420
Looks like a duplicate of https://github.com/openshiftio/openshift.io/issues/2154

[2018-03-02 17:15] ldimaggi commented on #2408
Is this example of maven throttling?
[code]

[2018-03-02 17:16] joshuawilson commented on #2226
cc @catrobson

[2018-03-02 17:28] hrishin commented on #2403
yes @jaseemabid http://vertxhttpbooster-hshinde-stage.8a09.starter-us-east-2.openshiftapps.com

Here is the app, like others I'm also facing expose controller error logs but the app is getting deployed in the staging environment.

[2018-03-02 17:33] muruGanesan commented on #1595
@qodfathr, I will prepare a few common standards based on the best practices and share it with you for review.

[2018-03-02 18:03] alexeykazakov commented on #2332
Login should now work for majority of affected users. We still can have issues with password reset for affected users and RHD team is working on the fix for the reset password thing. I de-escalated it to Sev-2. We are not blocked anymore.

[2018-03-02 18:24] mmclanerh commented on #2408
to help debug, we should try to find out what ip that's resolving to within the container.  maybe we need to add a static set of ips to /etc/hosts? is this resolving to ipv6 vs ipv4? etc.  with the low amount of concurrency here, even with a proxy in front, we may continue to have dependency fetch problems.

Looks like the CDN for this is fastly, at least for my workstation.. (may not be the same

[2018-03-02 18:33] rkratky commented on #2332
@alexeykazakov It works right away in Chrome. In Firefox, I first got the following:

![weresorry](https://user-images.githubusercontent.com/6623103/36915261-5af92b32-1e50-11e8-9cc5-cceda1425baf.png)

But when I go directly to RHD and log in through there, then head back to OSIO and click on LOG IN, it goes through.

[2018-03-02 18:42] qodfathr commented on #2333
@andrewazores did you try with a pipeline that has a `-` in its name, as in the screenshot?

[2018-03-02 18:42] ldimaggi opened #2423 "On cluster starter-us-east-2a - Failed connect to jenkins:80; No route to host - intermittent problem"
Seeing this multiple times on March 3 on cluster starter-us-east-2a - symptoms presented to user is that a build pipeline is not able to perform build.

In the Jenkins pod log:

[code]

[2018-03-02 18:45] andrewazores commented on #2333
Yes, the example I tried is called "app2-booster".

Interestingly I hit behaviour that looks like a different known issue (https://github.com/openshiftio/openshift.io/issues/2404), but I haven't seen the 404 described.

[2018-03-02 18:49] qodfathr commented on #2324
@aptmac, today we do not permit you to link private repos.

[2018-03-02 18:51] qodfathr commented on #2322
@ibuziuk are you saying that you got the 2nd error ("repo already exists") even though it did not exist (in GitHub)?

[2018-03-02 18:53] aptmac commented on #2324
@qodfathr as in the UI shouldn't allow me to do it, or there isn't underlying functionality to handle them specifically? Because I have no troubles importing a private repo into my spaces at the moment.

[2018-03-02 18:56] qodfathr commented on #2318
Probably related; in fact, these may all, ultimately, be variations of the same bug: #2417, #2370

[2018-03-02 19:10] mmclanerh commented on #2408
I performed a curl and noticed my connection was no longer blocked, so, I thought maybe this has something to do with user agent filtering.  On further troubleshooting, this seems to be related to keepalives.  If I fetch 1 page with keepalives on, stop my client, then make another request -- the request times out.   If I disable keepalives and make a subsequent request -- it's fine.  So this makes

[2018-03-02 19:16] andrewazores commented on #2421
ie "Type Ahead" style filtering: https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/filters

[2018-03-02 19:18] ldimaggi commented on #2420
Yup - it looks like the same issue as #2154.

But - how do we address this?

[2018-03-02 19:18] #2420 closed

[2018-03-02 19:21] mmclanerh commented on #2408
Varnish (Fastly) just hangs.  In at least one attempt, I received about 200 bytes of content before the hang happened.  This is very clearly unexpected CDN behavior.

1 client concurrency - looking to issue 2 requests:

[code]

[2018-03-02 19:34] ldimaggi commented on #2408
Another failure:

[code]

[2018-03-02 19:35] ldimaggi commented on #2408
The failures are all occurring on the starter-us-east-2a cluster today.

[2018-03-02 20:05] mmclanerh commented on #2408
[code]

[2018-03-02 22:53] gastaldi commented on #2415
@Ladicek may be interested in this

[2018-03-03 00:18] aslakknutsen commented on #2381
OSO is returning the following on the 403 errors:

[code]

Which seems to imply some kinda async behavior around the update of the ResourceQuota "object-counts" which we update as part of the init. It takes a certain time before it's 'ready/applied' 100%.

[2018-03-03 00:27] mmclanerh opened #2424 "Configure maven client, during pipeline build, to disable http keepalives."
It appears that there are issues with Maven's CDN provider which results in HTTP timeouts under some conditions when HTTP Keepalives are used.  See:  https://github.com/openshiftio/openshift.io/issues/2408#issuecomment-370037655 for details.

We should configure the Maven client, within the build pipeline, to not use HTTP Keepalives.

This might be done (needs confirmation) through the following p

[2018-03-03 00:31] fche commented on #2424
I opened a discussion with support@fastly.com about the situation.  They haven't quick acknowledged the problem yet, but we're going back & forth.  There isn't a public ticket URL AFAIK.  Will advise of further developments.

[2018-03-03 00:47] mmclanerh commented on #2424
Concurrently, I've opened GH issue #2424 to look at disabling keepalives in
the Maven client within the quickstart pipelines and see if this improves
the build times or at least, reduces/eliminates timeouts.   While we're
also investigating other avenues here, do we thinking we could commit to
picking up and getting that updated in prod-preview say, by early/mid next
week? This could be a great wi

[2018-03-03 03:11] joshuawilson commented on #2424
What `type` is this?

[2018-03-03 03:42] sbose78 commented on #2332
Robert, that might be because of an existing session which conflicted.

For a clean test, I would suggest you to close all incognito sessions, and
then open only one incognito window - please try out the OpenShift.io login
there.

On Sat, Mar 3, 2018, 00:04 Robert Kratky <notifications@github.com> wrote:

[2018-03-03 16:51] muruGanesan commented on #2413
@rgarg1, I am planning to review planner UI and flow for optimizing the notifications.
 we will review these points and come up with some general rules.

[2018-03-03 20:58] ldimaggi opened #2425 "On cluster starter-us-east-2a users seeing persistent/repeated 503 errors starting Jenkins pod"
Seeing this for the past 2 hours - unable to start the Jenkins pod:

![screenshot from 2018-03-03 15-55-24](https://user-images.githubusercontent.com/642621/36939247-a1a19488-1efb-11e8-872d-4687ddb3af72.png)

[2018-03-03 20:58] ldimaggi commented on #2425
[code]

[2018-03-03 21:08] ldimaggi commented on #2425
![screenshot from 2018-03-03 16-08-18](https://user-images.githubusercontent.com/642621/36939344-1e9f9c90-1efd-11e8-8988-6aa5b4e0443c.png)

[2018-03-03 22:59] ldimaggi opened #2426 "Users provisioned on cluster starter-us-east-2a seeing repeated build failures - maven socket closed"
Seeing this error on approx. 40% of build pipelines for user account provisioned on cluster starter-us-east-2a - unclear if this is maven throttling or networking issues such as those seen on March 2.

Steps to recreate:
* Reset user env
* Create new space and quickstart
* Observe Jenkins build log

Log fragment:

[code]

[2018-03-03 23:03] ldimaggi opened #2427 "Intermittent/recurring issue - Users seeing repeated build failures - Jenkins slave never connects - BZ# 1552373"
Seeing this error on approx. 40% of build pipelines for user account provisioned on cluster starter-us-east-2a

Steps to recreate:

* Reset user env
* Create new space and quickstart
* Observe Jenkins pod log

Seeing this sequence:

Jenkins slave fails to start after 100 tries:
[code]
Then - it tries again:
[code]
And - quotas are exceeded:
[code]
The Jenkins pod at this point is in a loop - the "

[2018-03-03 23:03] ldimaggi commented on #2427
Issue found/encountered by EE tests

[2018-03-03 23:03] ldimaggi commented on #2426
Issue found/encountered by EE tests

[2018-03-04 02:05] muruGanesan commented on #2412
@rgarg1, let us discuss this issue and take it forward because I don't understand your point of view.  Anyway I will be reviewing the common elements for the UX enhancements, I will consider this point too.

[2018-03-04 09:05] sunilk747 opened #2428 "Add distinct_license field to license recommendation API response"
## Description
Due to the presence of single license in different format, license graph in dependency editor showing redundant licenses. In order to resolve this a distinct_licenses field needs to be added in order to show distinct licenses in the graph.
## Task list
- [x] Add a `distinct_license` field in the license response which will show the distinct licenses present in the stack.

[2018-03-04 09:16] jaseemabid commented on #2403
Now I've to find out why my deployments are failing. How long does it take usually for a deployment to come up @hrishin?

[2018-03-04 10:55] ibuziuk commented on #2398
@containscafeine could you please open issue upstream https://github.com/eclipse/che ?

[2018-03-04 19:29] slemeur commented on #2415
cc @krishnapaparaju

[2018-03-04 20:54] tuxdna commented on #2047
The graph sync ran for few days now, and we have `92695` NPM package versions in the pending list. There are no more package-versions going through the sync anymore.

There are known reasons due to which this is happening

 * package data (`prod-bayesian-core-package-data`) for a particular version is not present in S3 but package version does (`prod-bayesian-core-data`) have data in S3. For examp

[2018-03-04 22:01] gastaldi commented on #2415
Requires https://github.com/fabric8-launcher/launcher-planning/issues/98

[2018-03-05 02:03] ldimaggi opened #2429 "Intermittent/recurring 401 error being seen on quickstart creation"
This problem showed up over the weekend (March 3-4) - when creating a new quickstart - a 401 error is sometimes logged. There does not seem to be a functional impact as the quickstart is created.

![screenshot from 2018-03-05 12-25-15](https://user-images.githubusercontent.com/642621/36989703-79b161e4-2070-11e8-9ebe-2fbb37a66c6b.png)

![img_7428](https://user-images.githubusercontent.com/642621/36

[2018-03-05 02:23] gastaldi commented on #751
Closing as the version in production already uses the updated booster

[2018-03-05 02:23] #751 closed

[2018-03-05 03:54] miteshvp commented on #2396
Thanks @tisnik that was quick :+1

[2018-03-05 03:56] pradeepto commented on #259
@alexeykazakov @sthaha is investigating and will report back.

[2018-03-05 03:57] sthaha commented on #259
@alexeykazakov FYI I am starting to investigate the permissions required by the build service

[2018-03-05 04:07] joshuawilson commented on #2428
What `type` is this?

[2018-03-05 04:09] joshuawilson commented on #2403
@ldimaggi why is this not a `bug`? What `type` should it be?

[2018-03-05 04:31] sthaha commented on #259
I will start documenting the permissions required by the build service here for our ci/cd and osio

#### Jenkins: CI/CD
- github auth plugin
  - `read:org` `user:email`

#### Jenkins: OSIO

[2018-03-05 05:30] rgarg1 commented on #2414
Since it was available earlier and removed later, I should call this a bug with Sev-3.

[2018-03-05 06:11] sthaha opened #2430 "UI Tests: move away from using Phantomjs"
With the announcement of ["Archiving phantomjs"](https://github.com/ariya/phantomjs/issues/15344) , it may be a good idea to port all UI (unit, functional) tests  from using `phantomjs` to  `chrome-headless`. This should also reduce the size of images since we current are install both phantomjs and chrome.

[2018-03-05 06:17] sivaavkd commented on #2012
@msrb @miteshvp - any update on this please ?  are we focusing on this current sprint ?
cc @krishnapaparaju

[2018-03-05 06:19] jyasveer opened #2431 "Task list for Standalone Dependency Editor"
### Standalones
- [ ] UI - Update the UI with respect to latest UXD - Sanket #2489, #2518, #2513
- [ ] UI - Check License card UI logic if we refresh the list on every call - Sanket
- [x] UI - handle the repetitive licenses -  Sanket
- [x] UI - License donut % text - Sanket
- [x] UI - Show cve flag in each deps in browse dependency - Sanket/Jyasveer
- [ ] UI/API - /depeditor-analyses , /depeditor-

[2018-03-05 07:33] tuxdna commented on #2047
Here is the summary for package version counts using BookKeeping and GraphSync APIs

From: `GET /bookkeeping`

[code]

From: `GET /graphsync/pending/npm`

[code]

From above we have `416920` package versions in total, and out of these `92715` are not synced to graph yet because of reasons mentioned in earlier comment above. This gives us 77.76 % coverage of NPM data  by package-version counts in G

[2018-03-05 08:11] miteshvp commented on #2012
@sivaavkd - I will wait for @msrb updates here.

[2018-03-05 08:13] debloper commented on #1837
We have two options to go with regarding this issue:

1. Ignore it as `working as intended` - relying on forcing a newline before start of a list.
2. Change markdown parser lib to a more flexible/standard one, and risk breaking stuff.

I know which way we'll take.
No points for Ravenclaw :frowning_face:

[2018-03-05 08:19] debloper commented on #1531
Closing as per Nimisha's comment.

[2018-03-05 08:19] #1531 closed

[2018-03-05 08:23] debloper commented on #1425
Very reasonable request, and I think it should be escalated to SEV-2 for being significantly bad product experience under certain circumstance (using a popular and standard screen resolution).

[2018-03-05 08:24] debloper commented on #1207
Verified: fixed.

[2018-03-05 08:24] #1207 closed

[2018-03-05 08:45] rgarg1 opened #2432 "Scenarios context is not set on navigating to Planner page"
_with ngrx fixes..._

On navigating to the planner home page, the default context must be set to Scenarios, which is not happening. The URL displayed is fine, but the context in UI is missing.

![scenario not selected in left panel](https://user-images.githubusercontent.com/28748448/36965426-9f3211f2-207f-11e8-8abe-a04a1b98f8e5.png)

Manually selecting 'Scenarios' is also not setting the context.

[2018-03-05 08:46] krishnapaparaju opened #2433 "Sprint plan for Fabric8 Analytics: #146"
**IMPROVE current Insights for WF Swam based boosters**

- [x] #2090

**Ingest RHAT specific downstream dependencies present at OSIO boosters** #2282
- [x] [Identify changes needed for supporting 3rd party package repositories](https://github.com/openshiftio/openshift.io/issues/2481) [5]

***Insights for Node ecosystem***

- [ ] [13] Productionizing Deep learning models [Get model training to run

[2018-03-05 08:53] krishnapaparaju opened #2434 "Productionize Deep learning Models for Node ecosystem"
Insights for Node ecosystem are driven by Deep learning models, implemented on TensorFlow based  Neural networks. These are the following work items would need to closed before Insights for Node ecosystem can be exposed to OSIO users:

- [x] Ingest all the manifest files thru Jobs API of OpenShift

- [x] Graph database host all the known Node based dependencies

- [x] Make TensorFlow based trainin

[2018-03-05 09:00] rgarg1 opened #2435 "Cannot add child workitems via inline-add"
_with ngrx fixes..._

User cannot add a child workitem using the inline quick-add option as:
1. The workitem type selector drop-down menu is overlapping
2. The bottom layer is preventing the user from selecting the workitem type
![overlapping text and mislayering](https://user-images.githubusercontent.com/28748448/36966130-bba5cbe2-2081-11e8-8ef7-9f1eddd2015d.png)

[2018-03-05 09:03] nimishamukherjee opened #2436 "Need consistent placement for the results text"
Without filter, the result text is left aligned
![nofilter](https://user-images.githubusercontent.com/1892722/36966220-1c2ae75e-2082-11e8-9c93-2043db352d8f.png)

With filter, the result text is right aligned
![withfilter](https://user-images.githubusercontent.com/1892722/36966226-216397fc-2082-11e8-92e2-a514eb5adbb0.png)

[2018-03-05 09:04] Raunak1203 opened #2437 "[Planner] : Inline quickAdd workItem type dropdown broken"
Steps:
![screenshot from 2018-03-05 14-33-29](https://user-images.githubusercontent.com/34271052/36966253-36c5563a-2082-11e8-85b2-4e9caec9613c.png)

- Navigate to palnner home page
-Select wit group Scenario
-Click on inline quick Add
-Click on inline workItemType dropdown

[2018-03-05 09:11] vikram-raj commented on #2437
Duplicate of https://github.com/openshiftio/openshift.io/issues/2435

[2018-03-05 09:13] krishnapaparaju commented on #2282
@maxandersen Cabal is on devtools calendar, have forwarded the invite to you..

[2018-03-05 09:15] rootAvish commented on #2434
/cc @miteshvp @msrb Would need your help with the first and second task items.

[2018-03-05 09:16] Raunak1203 opened #2438 "Planner : Empty title can be saved in quick preview"
Steps:
-Click on Work item title to open quick preview
-Now remove the work Item title and try saving it.
-Error is not thrown.
![screenshot from 2018-03-05 14-46-20](https://user-images.githubusercontent.com/34271052/36966826-fd9b13f2-2083-11e8-8124-9ea3cea20e76.png)

[2018-03-05 09:24] jaseemabid commented on #2403
I can deploy a 'Vertx health check' app, but the logs show very similar errors.

[code]

@ldimaggi Out dependency on exposecontroller is most probably a bug and should be fixed.

[2018-03-05 09:37] krishnapaparaju opened #2439 "Scale Launcher to support 500 OSIO concurrent users [2]"
OSIO Launcher is a key component to drive 'Getting started experience'.
Front end and backend components of Launcher would need to scale for at least 500 OSIO concurrent users with each user action at Launcher  would need to be under 1 second delay.

- [x] Document test results

- [x] Identify required resources and work with SD team

- [ ] Deploy required resources at production

[2018-03-05 09:38] krishnapaparaju opened #2440 "Sprint plan for OSIO Getting started experience : #146"
**Getting Started Experience**

- [x] Close all the open work items related to backend API, Integration #2377
- [ ] Get UI implementation closer to match the latest, baselined UX
- [x] Integrate Launcher component into OSIO Fabric8 UI
- [ ] Functional tests are in place for the end to end Launcher components
- [ ] CICD, Semantic release has to be implemented
- [x] Completely functional Launcher is

[2018-03-05 09:52] Raunak1203 opened #2441 "Planner : Items are not filtered based on child workitem"
Steps:
- Create a workItem of type Scenario.
- Now create a child workItem of type Experience and change the state to Closed
And apply filter to filterBy state closed.

WorkItem is not displayed whereas if filter based on parent workitem then it works

[2018-03-05 09:59] rgarg1 opened #2442 "Fix the workitem type-selector in quick-add"
_with the ngrx changes..._

The workitem type-selector in quick-add is displaying 'Bug' as the first entry and 'Feature' as second. This happens while adding a child workitem in 'Experiences' context and also while adding as new WI in 'Requirements' context.

The list should look like:
-
  | - Feature
  | - Bug

[2018-03-05 10:02] divyanshiGupta opened #2443 "WorkItem Loader is shown after a user drag and drops a workitem on a workitem it is not allowed to."
Workitem loader should not be shown after a user drops a workitem on a workitem it is not allowed to instead it should show a message saying something like - "x workitem cannot be added to y workitem" and should not block the UI.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/20724543/36968814-adaa1e0a-2089-11e8-91de-28a10d288ed0.gif)

[2018-03-05 10:03] jarifibrahim opened #2444 "Planner - Updating Iteration name doesn't update the workitem associated iteration"
Associated iteration name doesn't change in workitem quickpreview and list view

Step to reproduce
1. Associate a workitem with an iteration, say A
2. Rename iteration A to iteration B

Expected - The iteration associated with workitem should have title B
Actual - The iteration associated with workitem has title A

[2018-03-05 10:06] #2443 closed

[2018-03-05 10:12] kbsingh commented on #2427
Something for the build team to investigate, let us know if we can help in anyway from SD

[2018-03-05 10:13] kbsingh commented on #2426
something for the build team to investigate, let us know if we can help with anything from the SD side

[2018-03-05 10:15] aslakknutsen commented on #2381
Seeing 3 different cases around this:

* Getting 403 from OSO to apply 'any' object; secrets, pvc, service etc due to Quota issue. OSO got slow to apply ResourceQuota objects and should have been fixed by adding a retry loop: https://github.com/fabric8-services/fabric8-tenant/pull/546
* Getting 403 from OSO to apply ResourceQuota/LimitRanges after ProjectRequest, seemingly slow to apply general au

[2018-03-05 10:19] l0rd commented on #259
@alexeykazakov in Che we use the github token to locally clone the repo and push changes to the same github repo. Hence if `read:user` is enough to push changes to the remote github repo it should be ok for Che.

[2018-03-05 10:19] rgarg1 opened #2445 "Horizontal scrollbar is missing, yet again"
The horizontal scrollbar is not displayed, making it impossible to scroll to the right most column, without the help of a touch device.

![backlog view](https://user-images.githubusercontent.com/28748448/36969909-d0ede63c-208c-11e8-9881-69649f35e85f.png)

[2018-03-05 10:21] Raunak1203 opened #2446 "Planner : Associating child and then its parent work item to Iteration shows 2(same id) workItem in Iteration"
Steps:
-Associate a workItem of type task to Iteration having heirarchy(Sceanrio->Experience->Bug->task)
-Now Associate task parent Bug to same Iteration
-It shows two workItem having same Id (see screenshot)
![screenshot from 2018-03-05 15-37-39](https://user-images.githubusercontent.com/34271052/36969900-cacf840e-208c-11e8-9a4d-9f4d5c37887f.png)

Now edit one workItem 2nd is not edited
![screens

[2018-03-05 10:21] rgarg1 commented on #2444
Also note that updating the iteration of a workitem, does not moves the workitem out of the current view, unless the page is either refreshed or user moves to another view.

[2018-03-05 10:25] Raunak1203 opened #2447 "Planner : Clicking on label doesn't work"
Steps:
- Click on title to open quick preview
- assign a label and close the quick preview
- Now click on label , it doesn't work

[2018-03-05 10:38] rgarg1 opened #2448 "Cannot filter workitems by 'Unassigned'"
_with ngrx changes_

Cannot apply the filter to view all workitems in 'Unassigned' state. The filter fails to apply and there is no workaround.

[2018-03-05 10:38] Raunak1203 opened #2449 "Planner : Same filter condition can be applied many times"
Select filter By- state: new, same condition can be applied many times
![screenshot from 2018-03-05 16-06-55](https://user-images.githubusercontent.com/34271052/36970698-6fe291fa-208f-11e8-966e-54a60dfdc485.png)

[2018-03-05 10:40] Raunak1203 opened #2450 "Planner : No option to clear all filters"
Apply 3-4 filters from Filter-By toolbar. Now if you want to remove all the filters there is no option

[2018-03-05 10:41] muruGanesan commented on #2447
@Raunak1203, @nimishamukherjee, @catrobson
We need to redefine "create and assign the label"experience because it mismatches/ misleads the user.

[2018-03-05 10:45] rgarg1 opened #2451 "Applying a new filter value just appends to the existing one, instead of replacing it"
_with ngrx changes_

Apply a filter, say Assignee=abc. When the results are displayed, change the value to Assignee=xyz.

Observe that instead of applying the filter Assignee=xyz, the new filter applied is:
Assignee=abc AND Assignee=xyz

![multiple filters](https://user-images.githubusercontent.com/28748448/36970981-58d58552-2090-11e8-9bd0-7298437ab97f.png)

[2018-03-05 10:48] rgarg1 opened #2452 "Applied filter is lost on switching contexts"
_with ngrx changes_

Apply a filter, say Assignee=me in the Scenarios context. Now navigate away to Requirements context.

Observe that the filter is lost. This is working in production.

[2018-03-05 11:06] Raunak1203 opened #2453 "Planner : Description in quick preview is in edit mode when we move from one work item to other"
Steps:
-Click on work item title(here test1) to open quick preview
-Click on description and type "desc"
![screenshot from 2018-03-05 16-35-49](https://user-images.githubusercontent.com/34271052/36971927-5824938e-2093-11e8-8b19-af7400e9c2a2.png)

-Now click on other workitem it still shows "desc" in edit mode
![screenshot from 2018-03-05 16-35-56](https://user-images.githubusercontent.com/34271052

[2018-03-05 11:20] chmouel commented on #1902
cprrect, I meant managed by SD team instead of GKE when I meant "internal infra"

[2018-03-05 11:39] tisnik opened #2454 "[2] RFE: Improve code quality in the following repository: fabric8-gemini-server"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2018-03-05 11:40] tisnik commented on #1089
@sivaavkd yes, this is a long term goal and we are going to finish it soon

[2018-03-05 12:13] chmouel commented on #2350
I could not see anywhere in the logs where the jenkins plugins get udpated, any ideas where is this @rupalibehera ?

[2018-03-05 12:33] rupalibehera commented on #2350
@chmouel, Yes Jenkins plugins don't get updated for sure but they might checking for updates

[2018-03-05 12:47] chmouel commented on #2350
@rupalibehera  It was reported that it was at boot time but i could not see it in the logs (which is part of the perf issues), is it a periodic tasks? I don't see any documentations anywhere about it,

[2018-03-05 12:49] #2319 closed

[2018-03-05 12:55] pmacik opened #2455 "Implement PoC of an automated EE performance scenario simulating a user working with a Booster app in Che"
The scenario is logically divided into the following phases:
 * Login user
 * Create a new space
 * Create a quick-start project
 * Create a Che workspace and work with the booster
 * Remove the space

[2018-03-05 13:14] muruGanesan commented on #1595
@qodfathr, first cut proposal:

1. User name / any input box =  80 characters
2. Actionable text =  120 - 130 characters
3. Address field-1 =  255 characters
4. Short Description =  140 - 255 characters
5. Summary=  2000 - 4000 characters
6. Long summary/Description =  30000 chars

**Truncate RULE: **   
1) Labels with ONE column (UI grid) =  50 -80 chars
2) Title/header/page title  (with Less the

[2018-03-05 13:52] joshuawilson commented on #1425
I think this may actually be a `feature` or `task`. What do you think @michaelkleinhenz ?

[2018-03-05 13:54] joshuawilson commented on #2432
What `Severity` is this?

[2018-03-05 13:54] joshuawilson commented on #2435
What `severity` is this?

[2018-03-05 13:55] joshuawilson commented on #2436
What `severity` is this?

[2018-03-05 13:56] #2437 closed

[2018-03-05 13:57] joshuawilson commented on #2438
What `type` is this?

[2018-03-05 13:59] joshuawilson commented on #2441
What `type` is this?

[2018-03-05 13:59] joshuawilson commented on #2442
What `severity` is this?

[2018-03-05 14:07] joshuawilson commented on #2445
What `severity` is this?

[2018-03-05 14:08] animuk commented on #2371
Here is the Loadtesting Report.
https://docs.google.com/spreadsheets/d/1QL6WlCf3z2d5JLyCJ0JdSoMmnAZi4-LAzvrxvnoJl_g/edit?usp=sharing
Closing this as next to do list is referenced in issue #2439

[2018-03-05 14:08] #2371 closed

[2018-03-05 14:09] kwk commented on #2453
Why is that considered a bug and not a feature? @michaelkleinhenz

[2018-03-05 14:09] joshuawilson commented on #2446
What `type` is this?

[2018-03-05 14:11] joshuawilson commented on #2448
What `severity` is this?

[2018-03-05 14:12] joshuawilson commented on #2449
What `type` is this?

[2018-03-05 14:13] joshuawilson commented on #2450
What `type` is this?

[2018-03-05 14:13] joshuawilson commented on #2447
What `type` is this?

[2018-03-05 14:14] joshuawilson commented on #2451
What `severity` is this?

[2018-03-05 14:14] joshuawilson commented on #2452
What `severity` is this?

[2018-03-05 14:16] joshuawilson commented on #2455
What `type` and `team` is this?

[2018-03-05 14:49] aptmac commented on #2451
Isn't that how the patternfly toolbar filters are supposed to be applied? By visiting the pf-ng demo page [0] and applying the abc & xyz filters, they get added to each other. It's even described in the patternfly design documentation [1], that active filters are stackable (unless stackable filters is toggled off).

![filters](https://user-images.githubusercontent.com/10425301/36981019-fe292a36-20

[2018-03-05 15:04] chmouel commented on #2368
Can we clarify this issue ?

Can you confirm this is not accurate anymore ? (as per offline convo)

From what I gather only https://github.com/jaseemabid/maven-builder/commit/3c1400630a847bd78bae1256ce6030c8995dc3a1 is needed and currently on process to get some before/after numbers before getting merged, right?

and what's difference with @hrishin 's https://github.com/fabric8io/fabric8-pipeline-

[2018-03-05 15:34] jfchevrette commented on #2381
We should open a BZ and track this upstream even though we have a workaround now. Do you have an easy way to reproduce so I can provide that in the upstream issue?

Did we have an issue for this one?

[2018-03-05 15:54] kbsingh commented on #2423
is this related to #2427

[2018-03-05 16:32] sanbornsen commented on #2452
I don't think that's an expected behavior. Side panels were always out of filter context. I don't when it was updated to be like that in production. Updating navigation anchor on each filter doesn't make any UX sense to me.

[2018-03-05 16:34] ldimaggi commented on #2407
This is still a problem - BUT ONLY FOR THIS SPECIF USER ACCOUNT - other accounts are able to create quickstarts on the 2a cluster.

![screenshot from 2018-03-05 11-32-56](https://user-images.githubusercontent.com/642621/36986929-22d1555c-2069-11e8-9152-86f237ea3fab.png)

[2018-03-05 16:35] sanbornsen commented on #2451
In our case, we do AND operation with these filters. So, imagine a filter with ```iteration: it1 AND iteration: it2```, no item will be selected in the list, so it's an invalid filter but also, you can do the same with assignees and then it's valid filter. So it's a matter of discussion.

[2018-03-05 16:35] sanbornsen commented on #2450
Someone, please assign me to this.

[2018-03-05 16:36] sanbornsen commented on #2449
This is a duplicate issue - https://github.com/openshiftio/openshift.io/issues/2451

Please close one of these two.

[2018-03-05 16:37] sanbornsen commented on #2448
Please assign me or Vikram to this.

[2018-03-05 16:38] sanbornsen commented on #2446
This issue is resolved in this PR - https://github.com/fabric8-ui/fabric8-planner/pull/2488

[2018-03-05 16:41] sanbornsen commented on #2442
How do we order types like this? We use in the same order as it comes from the backend. @kwk any idea?

[2018-03-05 16:44] sanbornsen commented on #2437
Fixed in this PR - https://github.com/fabric8-ui/fabric8-planner/pull/2487

[2018-03-05 16:45] sanbornsen commented on #2435
Fixed in this PR - fabric8-ui/fabric8-planner#2487

[2018-03-05 16:45] sanbornsen commented on #2436
This is how the UX was given. It's intentional.

[2018-03-05 16:53] #2449 closed

[2018-03-05 17:30] rkratky commented on #2332
@sbose78 It now works even without an incognito window. Thanks.

[2018-03-05 17:47] joshuawilson commented on #2450
you need to accept the invite to join the repo

[2018-03-05 17:48] rkratky opened #2456 "Both 'log in' and 'log out' shown when logging in"
Upon entering creds on the login page, the OSIO landing page is briefly shown before the personal starter page shows up.

On the briefly shown landing page, both the 'LOG IN' and 'LOG OUT' links are shown:

![login-logout-osio](https://user-images.githubusercontent.com/6623103/36990241-579e62ee-20a4-11e8-9b68-9c6af07a1273.png)

To me, that the 'LOG OUT' link is positioned 1 pixel above the 'LOG IN

[2018-03-05 17:50] joshuawilson commented on #2446
What `severity` is this?

[2018-03-05 18:59] jaseemabid commented on #2368
@chmouel No, I'm not blocked on this.

@hrishin's approach was to change the k8s.secrets and we both agreed that its better to change the base image instead. This is in progress now.

[2018-03-05 19:03] msrb commented on #2434
@miteshvp do we already know how should the GitHub query look like for NPM?

[2018-03-05 20:00] msrb commented on #2012
We talked about multiple things here. One by one:

- `stax:stax-ri` in prod graph, but not in S3
No idea, there is no such artifact in [Maven Central](https://mvnrepository.com/artifact/stax/stax-ri). Also the timestamp pointing to March 2017 as the day of ingestion is fishy as I don't think we had production deployment back then. My guess is that when we migrated to AWS, people were developing ag

[2018-03-05 21:01] jfchevrette commented on #2368
Tested with https://github.com/jfctest1/benchapp4/blob/master/Jenkinsfile#L2 (pv branch)

Build times are now consistently under 5 minutes even for the first build. (when using a good mirror)

[2018-03-05 21:05] jfchevrette opened #2457 "Jenkins slave should use a known good/local maven mirror"
As I was testing #2368 today I noticed downloading the dependencies was still painfully slow. It took ~10 minutes to download them even on local/ephemeral storage.

I had a look at the settings.xml we provide and it doesn't contain anything wrt. mirrors. Maven probably picks a mirror at random (?) and we seem to be hitting a bad mirror most of the time.

I had a look at Che's settings.xml (where m

[2018-03-05 21:09] jiekang opened #2458 "Investigate duplicate calls to auth::/api/users in f8-ui"
The web application makes duplicate requests to https://auth.openshift.io/api/users when visiting the home page. This should be investigated to see if this is necessary, otherwise reduced to a single request with the data being reused.

![api-users](https://user-images.githubusercontent.com/5430520/36999871-8056c7b8-208f-11e8-970f-2965aa99804e.png)

[2018-03-05 21:10] jiekang opened #2459 "Investigate duplicate calls to auth::/api/users/<user-id>"
The web application makes duplicate requests to https://auth.openshift.io/api/users/<user-id> when visiting the home page. This should be investigated to see if this is necessary, otherwise reduced to a single request with the data being reused.

![api-users-user](https://user-images.githubusercontent.com/5430520/36999961-c12e5d28-208f-11e8-9a6f-0cb3a8be16bb.png)

[2018-03-05 21:11] jiekang opened #2460 "Investigate duplicate calls to auth::/api/user/service"
The web application makes duplicate requests to https://auth.openshift.io/api/user/services when visiting the home page. This should be investigated to see if this is necessary, otherwise reduced to a single request with the data being reused.

![api-user-services](https://user-images.githubusercontent.com/5430520/37000020-f3022a46-208f-11e8-8450-dd5ffb15da8b.png)

[2018-03-05 21:22] #2240 closed

[2018-03-05 21:31] msrb commented on #2047
@tuxdna

I don't think that having no package-level data should be an issue for graph import. In case of `arachne-ui`, it looks like an error in ingestion pipeline, but in general, there can be components for which we simply won't have any package-level data.

Could you please check in data-importer, how it behaves when there are no package-level data?

[2018-03-05 21:31] #2047 closed

[2018-03-05 21:38] aptmac opened #2461 "Multiple instances of mobx in the UI"
When running unit tests in the UI, I've been seeing the following warning:

![2018-03-05-162908_1440x116_scrot](https://user-images.githubusercontent.com/10425301/37000762-5a72dc32-2092-11e8-96e7-8c0678291b76.png)

There are supposedly multiple instances of mobx running, and I just wanted to verify if this is intended/proper behaviour.

From rolling back commits, it appears this was introduced wit

[2018-03-05 21:40] jiekang commented on #2183
Closing as frontend and backend changes have been merged.

[2018-03-05 21:40] #2183 closed

[2018-03-05 21:47] aptmac commented on #923
I cannot find any mention of the "settings-wizard" module, is this the space-settings module?

[2018-03-05 21:48] andrewazores commented on #2380
During the Platform weekly meeting today this was brought up and we discussed alternative approaches.

The first alternative is the possibility of simply polling faster, with the assumption that a GET every few seconds should not really be all that heavy of a load, and is perhaps preferable to a Websocket that is always held open. This requires no backend support, is a one-liner change on the fron

[2018-03-05 21:56] ebaron opened #2462 "Use timeout for Kubernetes/OpenShift HTTP requests"
We should set some sort of timeout in the Deployments backend when making HTTP calls to the Kubernetes and OpenShift API servers. This way if there network issues, we won't have HTTP clients waiting endlessly and consuming resources.

The Hawkular Go client already uses a hardcoded 30 second timeout for all requests.

[2018-03-05 22:00] ebaron commented on #2356
Fixed with https://github.com/fabric8-services/fabric8-wit/pull/1931

[2018-03-05 22:00] #2356 closed

[2018-03-05 22:17] alexeykazakov commented on #259
I guess this should be enough because we still going to ask for public_repo. But can someone from the Che team confirm?

[2018-03-05 22:44] mmclanerh commented on #2408
Digging a little deeper here:  if we use alternative maven mirrors, we don't see timeouts.
 See github: https://github.com/openshiftio/openshift.io/issues/2457 on the request to get different mirrors added to the default maven config.

Basically this boils down to:  Fastly's CDN for the maven content results in quite frequent timeouts and/or http protocol violations (confusing the maven client).

[2018-03-05 22:54] mindreeper2420 commented on #2215
@rkratky @catrobson for the Documentation page (openshift.io/documentation.html), I can set up an automatic redirect, bringing the user to docs.openshift.io. If that is the desired operation, then the documentation.html page can either just be left blank or, in the case of a timeout or redirect issue, can have information on where the user should navigate to.

Thoughts?

[2018-03-05 23:02] aslakknutsen commented on #2381
[code]

[2018-03-06 00:19] mmclanerh commented on #2408
As an additional reference, may be worth reviewing Maven's http client library (Wagon).  There are some specific historical issues here:
https://issues.apache.org/jira/browse/WAGON-486?focusedCommentId=15948630&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-15948630

[2018-03-06 00:20] mmclanerh commented on #2408
and for reference, how to enable more detailed http logging: https://hc.apache.org/httpcomponents-client-ga/logging.html

[2018-03-06 01:34] ldimaggi opened #2464 "User provisioned on starter-us-east-2a does not have OSO projects created"
Just noticed this for a new user account provisioned on starter-us-east-2a (The username is ldimaggi-osiotest5).

The account shows this in OSO:

![screenshot from 2018-03-05 20-25-29](https://user-images.githubusercontent.com/642621/37009348-8de221f0-20b4-11e8-8e85-fa74f62d0208.png)

[2018-03-06 01:56] alexeykazakov commented on #2464
@aslakknutsen it seems that OSIO provisioning failed?

[2018-03-06 03:15] joshuawilson commented on #2458
this is an issue and we are looking into using ngrx to set up a store to hold that info

[2018-03-06 03:19] joshuawilson commented on #2461
@dlabrecq this looks like a question for you.

[2018-03-06 03:39] dlabrecq commented on #2461
The Planner UI uses TreeList from patternfly-ng, which is a wrapper for angular-tree-component. The app-launcher only uses the toolbar and a truncation pipe from patternfly-ng. Will try to dig into it

[2018-03-06 04:16] hrishin commented on #2368
@jaseemabid no need to change the k8s.secretes unless path `/root/.mvnrepository` is not going to change.

[2018-03-06 04:49] joshuawilson commented on #923
We don't have anything like that. I have to wonder if she meant the `app-wizard`.

[2018-03-06 05:12] muruGanesan commented on #2447
@joshuawilson , @sunilmalagi , @michaelkleinhenz , @nimishamukherjee, @catrobson, This is a UX issue and the flow has to be redefined.

[2018-03-06 05:54] jaseemabid commented on #2457
@jfchevrette Can you make this change on the tenant Jenkins as well?

[2018-03-06 05:58] muruGanesan commented on #1595
@qodfathr, @catrobson, @joshuawilson, @maxandersen, @michaelkleinhenz, @nimishamukherjee,  I am sorry... UX team already define the rules on May 2017 and I would request you to review and provide your feedback.
INVISION URL: https://redhat.invisionapp.com/share/23CC7R3QZ#/screens/235814943

@qodfathr, Todd, if you are fine with the rules defined, I would request you to close this issue.

[2018-03-06 08:10] muruGanesan commented on #2412
@rgarg1, I reviewed OSIO and various pages of the application. Font size is not too small i.e. there is no readability issue.
Moreover, if the dev/Eng team implemented  'Patternfly' style then the font-size is taken care.

@nimishamukherjee. @michaelkleinhenz , @SMahil, @sahil143 , Can anyone confirm me about the 'body' text CSS class?

[2018-03-06 08:29] muruGanesan commented on #2413
@rgarg1, I reviewed the planner with proper data in each column... it doesn't appear with a lot of whitespaces. Please refer the screen-shot; Close this issue if you agree.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/26006817/37021661-4b7da324-2146-11e8-89f9-e65de9e8eb7c.png">

[2018-03-06 09:18] kwk commented on #2442
@sanbornsen If you go to https://api.prod-preview.openshift.io/api/spacetemplates/2e0698d8-753e-4cef-bb7c-f027634824a2/workitemtypegroups and see the `typeList` relationship you find that this is an array and it is ordered so that the first type in the array is the default type to use in the quick add. I'd say the UI is loading this typeList wrongly into the drop down.

![bildschirmfoto von 2018-0

[2018-03-06 09:21] sahil143 commented on #2412
@muruGanesan @nimishamukherjee @michaelkleinhenz @rgarg1

current font size is 14px.
patternfly default font-size is 12px which is being overridden.

[2018-03-06 09:38] aslakknutsen commented on #2464
Not seeing any issues with this account. Seems to have been provisioned just fine at March 6th 2018, 01:47:37.837 (GMT+1)

[2018-03-06 09:55] muruGanesan commented on #2412
@rgarg1,
As per my understanding (since @SMahil is involved in front-end development) there should not be any readability issue. Because we would have followed the  Pattern fly typography (http://www.patternfly.org/styles/typography/).

I recommend you to close this issue.

[2018-03-06 09:56] l0rd commented on #259
@ashumilova do you think that a github token with `read:user` privilege is enough to run Che on OSIO (clone and push to remote)?

[2018-03-06 09:58] corinnekrych opened #2465 "unleash admin login throw 502 error"
Intermittent error when trying to login to prod or preprod unleash admin.

[2018-03-06 10:16] pmacik opened #2466 "Counted number of filtered results is incorrect in _myspaces page"
While listing spaces on `_myspaces` page using `Filter by Name...` filter. The counted number of results is shown to be `0 Results` while the actual number is different:
![image](https://user-images.githubusercontent.com/3263627/37026773-b2eb2af2-212f-11e8-87b6-31ac5ecc2ded.png)

[2018-03-06 10:24] sivaavkd commented on #1527
@tisnik - closing this since this is taken care of in 143 as per @samuzzal-choudhury .  Please reopen if you think otherwise.

[2018-03-06 10:24] #1527 closed

[2018-03-06 10:57] chmouel commented on #2403
@jaseemabid here @joshuawilson is pointing you out that we need to add a label on issue for classifications when you log an issue on openshift.io/

[2018-03-06 11:31] kbsingh commented on #2423
@ldimaggi can you confirm this is still a problem ?

[2018-03-06 11:43] rootAvish opened #2467 "[13] Get the deep learning model to train on EMR through data collected from core"
## User Story

As a fabric8-analytics user I should be able to get stack analyses results for the NPM ecosystem.

## Acceptance Criteria

- [x] The deep learning model should be able to train on EMR.

## Epic (Feature)

Part of the work being done towards #2434.

## Description

Extending our work from the previous issues #2264, #2002 and #2004 we have finalized on using the CVAE approach to get t

[2018-03-06 11:48] tuxdna commented on #2047
@msrb: Sure, will check and update.

[2018-03-06 11:59] muruGanesan commented on #1554
@hferentschik, @michaelkleinhenz, @nimishamukherjee, @ppitonak, @sunilmalagi, @qodfathr,
Here is our proposal:
 "Toast notifications are displayed only for all the 'Save/Delete, Error and Warning' type actions and not anything else, for example, we don't need the notification for Title change".

[2018-03-06 12:04] ppitonak commented on #1554
+1 for delete, error and warning
I'm not sure about save, though... if the result of save operation is visible and there was no error, I see no reason to show notification

[2018-03-06 12:05] dharmit commented on #2209
It's working now. Thanks.

[2018-03-06 12:05] #2209 closed

[2018-03-06 12:20] Raunak1203 opened #2468 "Planner : creating new label closes the tree heirarachy"
Steps:

- Click on Scenario work item type group.
- Click on show child of a work item
- Now click on work item to open quick preview.
- Click 'Add Label' and create a new label
Tree heirarachy is collapsed

[2018-03-06 12:22] ppitonak commented on #2140
Open issues for e2e tests: https://github.com/fabric8io/fabric8-test/issues?q=is%3Aissue+is%3Aopen+label%3AE2E-test

Proposal for re-architecting e2e tests: https://github.com/fabric8io/fabric8-test/issues/494

[2018-03-06 12:25] Raunak1203 opened #2469 "Planner : Notification issue on creating new label"
Steps:
- Click on work Item to open quick preview
- Now create a label which is already in the list.
- Notification shows "something went wrong..."

Expected
- It should show something like "label already exists..."
![screenshot from 2018-03-06 17-47-21](https://user-images.githubusercontent.com/34271052/37032178-8eadba78-2167-11e8-86c4-b4850a86cce8.png)

[2018-03-06 12:40] rupalibehera opened #2470 "Update the Jenkins plugins to latest version"
- List all the plugins that needs be updated https://github.com/fabric8io/openshift-jenkins-s2i-config/blob/master/plugins.txt
- Test after the update

[2018-03-06 12:51] aslakknutsen opened #2471 "Toggle-Service respond with 500 on expired token. Should be 401"
[code]

[2018-03-06 13:04] jaseemabid commented on #2427
All of my builds failed with the same issue. This needs investigation.

[2018-03-06 13:09] ldimaggi commented on #2427
Are you seeing ALL (100%) of your builds fail with this error?

If we are seeing all users on cluster starter-us-east-2a unable to create/execute a build pipeline, then I think that we should designate this issue as SEV1.

[2018-03-06 13:13] pmacik commented on #2455
It's a task and it's related to the Getting Started Experience/Boosters.

[2018-03-06 13:13] pmacik commented on #2455
Done by https://github.com/fabric8io/fabric8-test/pull/502

[2018-03-06 13:20] jaseemabid commented on #2427
I tried a couple of quickstarts, ran a few builds per app and all of them failed with `Jenkins doesn’t have label mavenvertx2_3`. We've known/seen this for months. It just got unbearable on the new cluster.

AFAIK, its getting stuck in this [loop](https://github.com/jenkinsci/kubernetes-plugin/blob/master/src/main/java/org/csanchez/jenkins/plugins/kubernetes/KubernetesLauncher.java#L118) in the ku

[2018-03-06 13:28] rgarg1 commented on #2432
@joshuawilson Since we're using severity levels to track issues in production, I've not defined any severity here as these issues were reported against a build on planner-master, but not prod. Makes sense?

[2018-03-06 13:33] ldimaggi commented on #2464
Verified fixed in production - thanks!

[2018-03-06 13:33] #2464 closed

[2018-03-06 13:59] ldimaggi commented on #2425
This errir is being seen by at least (2) user accounts. (ldimaggi-osiotest3 and ldimaggi-osiotest5)

[2018-03-06 14:08] ldimaggi commented on #2427
@jaseemabid   What are you seeing in the Jenkins pod log at this time? Is it caught in a 10-second loop trying to connect but failing due to quota being exceeded?

[2018-03-06 14:12] ldimaggi commented on #2229
Sorry to be vague - here is the path to take to recreate the bug:

![screenshot from 2018-03-06 09-10-13](https://user-images.githubusercontent.com/642621/37036711-7b8c90ac-211e-11e8-9800-c1452dce78f0.png)

[2018-03-06 14:20] dlabrecq commented on #2461
I believe there is a problem with how ngx-forge is built. I see a ngx-forge.js bundle with its own copy of patternfly-ng. The package.json also defines "module": "bundles/ngx-forge.js" -- that probably should be index.js.

This also appears to be why the platform build is slower. Instead of the build completing in 7:30, it only takes about 2:30 with the index.js change. Unfortunately, the tests fa

[2018-03-06 14:22] ldimaggi commented on #2229
The link provided is:
https://console.starter-us-east-2.openshift.com/console/project/username/browse/pipelines

When the link should be:
https://console.starter-us-east-2a.openshift.com/console/project/username/browse/pipelines

[2018-03-06 14:26] sthaha commented on #1900
@aslakknutsen @kbsingh FYI: all required PRs [149][1] [63][2] that implement solution 2 have been merged. I think we can start deploying the new jenkins.

Please also note that deploying this will not remove any existing `edit` roles so those would need to be removed manually.

[1]: https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/149
[2]: https://github.com/fabric8-services/fabric8-

[2018-03-06 14:27] ljelinkova opened #2472 "Notify user that there are no pods available"
I am able to create 2 applications and deploy them on staging environment. But the third is "successfully" deployed only there is no pod available.

![pipeline_final_testmar61520344305338](https://user-images.githubusercontent.com/2078072/37036846-2c23b5bc-2151-11e8-95ce-ed3ed3084c52.png)

I think this is confusing. I understand that user has limited resources but some hint on what is going on and

[2018-03-06 14:35] jfchevrette commented on #2340
@hrishin that makes sense. I do see the same in my logs. Seeing those headers a couple of times is what made me think something was happening twice.
Thanks!

[2018-03-06 14:35] #2340 closed

[2018-03-06 14:37] catrobson commented on #2215
@mindreeper2420 can you help get the OS.io marketing page header and footer into docs.openshift.io so that we maintain a good user experience even if the URL is different?  Once that is ready, we can redirect.

[2018-03-06 14:38] andrewazores opened #2473 "Deployments pod donut state ordering is not predictable"
It's difficult to capture a screenshot with the current slow update rate on the Deployments page, but the ordering of pods' states is not guaranteed in the pod donut chart and its legend. This means that the legend can have states appearing in different orders visually, and the donut's orientation can also change - for example, if there are two pods, one in Running state and one in Terminating, th