[2018-04-11 03:50] joshuawilson commented on #2990
@SMahil can you please fix this.

[2018-04-11 05:13] rgarg1 opened #2991 "List in work item description not displayed properly"
Displaying markdown lists in work item description field is not working as desired.

If the list does not start from the 1st line, the list is not rendered.

E.g.
The following is displayed properly as a list:

[code]

The following is NOT displayed as a list:

[code]

[2018-04-11 05:15] msrb opened #2992 "Remove old tasks from worker codebase"
Planner ID: 2286

# Description

We have tons of tasks in worker codebase that we don't run anymore. Time to delete them. We can always dig them up from git history, if needed.

[2018-04-11 05:32] sbose78 commented on #2844
reviewed, thanks.

@qodfathr , `Association of teams with areas` wasn't part of the engineering design we've been working on. I'm adding  `Association of teams with areas` to the discussion agenda for our monday UX+PM+Engineering authorization meeting.

[2018-04-11 05:38] msrb opened #2993 "Do not run dependency snapshot task if recursive limit is 0"
# Description

Results of the dependency snapshot task are only used internally, during ingestion. However, if recursive limit parameter is set to 0, then the results are not needed and thus the task can be skipped.

[2018-04-11 06:02] ppitonak opened #2994 "Planner GitHub icon should be always next to link text"
1. add comment with multiple GitHub links and some long text

Result:
Since the text is long, lines are wrapped but the GitHub icon belonging to the link stays at the end of line instead of being placed next to the link on new line

![planner_github_icon](https://user-images.githubusercontent.com/445100/38598918-a0cd59d0-3d5e-11e8-93e8-7117b4f211fa.png)

[2018-04-11 06:12] maxandersen opened #2995 "Add and open does not open"
Clicking Add and Open on workitems via quick add does not actually open the workitem.

It does add and I think I've seen it eventually open the workitem once or twice but it took a few seconds but here today it does not open within the first 5-10 seconds.

[2018-04-11 06:18] maxandersen opened #2996 "Have to click show more on even the simplest workitems - why not show all or at least allow scroll"
On most issues and comments that are beyond a few lines I have to always click show more where as I'm naturally trying to scroll the text but nothing happens.

I would expect to either be able to scroll or that the show more/show less would be sticky since the screen is about 70% whitespace.

![2018-04-11_08-15-19](https://user-images.githubusercontent.com/54129/38599417-c7e9bb88-3d60-11e8-9d7d-5b

[2018-04-11 06:30] mishaone commented on #2869
@muruGanesan can you clarify about Sample-2: User pipe-line > build failed [4.4. Working with pipelines] please? The previous screenshot is for a running pipeline (i.e. no longer at "new") so the edit option should appear when it's running when the user goes to that page. Did I miss what you meant?

[2018-04-11 06:31] maxandersen opened #2997 "Iteration labels not used consistently"
in detail of workitem the root iteration is listed as "/spacename" but in table views it says NA which means not applicable which is false as the iteration is the /spacename or  if you want empty.

Expectation either use the same "/spacename" everywhere or leave it blank. At least be consistent.

[2018-04-11 06:33] msrb commented on #2218
PR: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/588

[2018-04-11 06:35] SMahil commented on #2990
sure @joshuawilson

[2018-04-11 06:43] msrb commented on #2480
2 out of 3 PRs are merged.

[2018-04-11 06:44] msrb commented on #2313
I will move this forward.

[2018-04-11 06:49] michaelkleinhenz commented on #2991
Checkboxes are a GH-extension to Markdown that our used library does no support by default. Addig them would be rather easy (the same way we added the custom GH links to the markdown). The problem is in the persistence of the checked state for arbitrary checkboxes in Markdown values. That would require new functionality on the backend as well as frontend. I'd would even go so far that I would say

[2018-04-11 06:49] michaelkleinhenz commented on #2991
While there are a lot of different Markdown flavours, checkboxes are a GH invention that is not a part of the "common" Markdown - also because they don't make any sense without persistence. Therefore, this is not a bug rather than a new story.

[2018-04-11 06:50] maxandersen commented on #2991
this issue is about the formatting - not about persistence IMO.

We are literally talking here about that our markdown flavor requries a new line before the list where is github flavor does not.

Nothing else.

[2018-04-11 06:51] michaelkleinhenz commented on #2991
@maxandersen ah, yes, sorry, I was overreading the desc and was directly going from the Mattermost discussion here :-)

[2018-04-11 06:56] maxandersen commented on #2991
@rgarg1 updated the description so it uses verbatim so you can actually see and copy the exact text triggering the issue.

[2018-04-11 07:00] sara-02 commented on #2989
@ldimaggi Can you please verify if the versions used are community or RHOAR versions?

[2018-04-11 07:02] sara-02 commented on #2989
@miteshvp These dependencies are known to Kronos, please check in the graph where they are missing.

[2018-04-11 07:07] kwk commented on #2975
Okay, done. This is how it looks like:

![bildschirmfoto von 2018-04-11 09-06-51](https://user-images.githubusercontent.com/193408/38601398-b4369514-3d67-11e8-9cb4-eb7951aeb8cd.png)

[2018-04-11 07:14] rgarg1 commented on #2991
Thanks @maxandersen

[2018-04-11 07:26] sara-02 commented on #2989
I picked the pom.xml from
https://github.com/openshiftio-vertx-boosters/vertx-configmap-booster-redhat
https://github.com/openshiftio-vertx-boosters/vertx-configmap-booster

[2018-04-11 07:41] sara-02 commented on #2989
Just for record
`https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-configmap/blob/master/pom.xml`: No unknown EPV

`https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-configmap-redhat/blob/master/pom.xml`
[code]

[2018-04-11 07:58] sara-02 commented on #2989
Also for Springboot the record:
`https://github.com/snowdrop/spring-boot-configmap-booster`
No unknown EPV

[2018-04-11 08:07] rhopp opened #2998 "Left panel - items in iteration-tree clickable only on text"
Items in left panel in iteration tree are clickable only on the text itself, even though the cursor indicates it should be possible to click anywhere in the `li` element (whole row).
Best shown on this gif:
![iteration-tree-bug](https://user-images.githubusercontent.com/1215011/38604013-7111d034-3d6f-11e8-9c28-744540401351.gif)

[2018-04-11 08:53] sara-02 commented on #2989
For springboot healthcheck
`https://github.com/snowdrop/spring-boot-health-check-booster
`
[code]
For Springboot http
`https://github.com/snowdrop/spring-boot-http-booster`
[code]
And my hunch that we need `1.5.12-redhat` for these packages as well.

[2018-04-11 08:57] maxandersen opened #2999 "Planner have critical fixes in prod-preview that currentlty can't make it to prod"
this issue is to link to to gather whatever is blocking it.

[2018-04-11 09:13] arunkumars08 commented on #2936
@bdellasc Thanks for your thoughts Brian.

Regarding point number 1. @animuk has already made necessary changes and it is already in prod-preview and will be soon in production.

And, I will handle the space change accordingly.

[2018-04-11 10:11] GeetikaBatra commented on #2702
https://github.com/fabric8-analytics/fabric8-analytics-version-comparator/pull/1

[2018-04-11 10:12] michaelkleinhenz opened #3000 "Description Field Value goes missing when updating data on Quick Preview"
When I update data on the Quick Preview (eg, add/remove Label, change title), the value of the decription field disappears. The value is still there on reload, but it vanishes from view.

[2018-04-11 10:13] michaelkleinhenz opened #3001 "Label selection dropdown has only one Label when switching contexts"
If I select "Label" from the filter dropdown, then switch sidebar context, then click on the value dropdown of the filter, the dropdown only contains a few or even no entries. I need to select the "Label" filter type from the left dropdown again to refresh the values dropdown.

[2018-04-11 10:46] kwk commented on #3000
@michaelkleinhenz can you add `env/prod` or `env/prod-preview` to tell where this issue occured?

[2018-04-11 10:55] #2937 closed

[2018-04-11 10:55] #2935 closed

[2018-04-11 10:55] arunkumars08 commented on #2934
Closing as this PR - https://github.com/openshiftio/openshift.io/issues/2937 handled this

[2018-04-11 10:55] #2934 closed

[2018-04-11 11:02] jarifibrahim commented on #2999
The planner team needs Github access token of centos-ci bot (previously we were using fabric8-cd bot) https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1715

[2018-04-11 11:14] ppitonak commented on #2694
It happened to me 10 min ago on prod-preview.

[2018-04-11 11:24] invincibleJai commented on #2819
closing it as app creation is happening fine now, feel free to reopen if you see it again.

[2018-04-11 11:24] #2819 closed

[2018-04-11 11:25] miteshvp commented on #2694
@ppitonak @ldimaggi any console logs that you can share will be greatly appreciated. Also, stack report gets triggered as part of build process, maybe you can send those build logs too for better debugging. Thanks in advance.

[2018-04-11 11:45] invincibleJai commented on #2920
@ldimaggi @pmacik am assuming this has been observed with "New Getting Started Experience"

if yes, as per my understanding Quickstarts should work fine in prod-preview with links. Once changes have been promoted to prod it can be tested.

Workaround for now in prod could be  using the same value as for "application name" and "maven artifact id" in summary screen.

@animuk @ravsa ^^

[2018-04-11 11:48] debloper commented on #2940
The discussion resulted in: https://openshift.io/openshiftio/openshiftio/plan/detail/2021

[2018-04-11 11:49] ldimaggi commented on #2920
I am not sure about that workaround - how will users wanting to use only the new launcher do that?

[2018-04-11 11:51] ldimaggi commented on #2988
Eclipse Vert.x 3.4.2.redhat-009 (RHOAR)

[2018-04-11 11:51] ldimaggi commented on #2989
Eclipse Vert.x 3.4.2.redhat-009 (RHOAR)

[2018-04-11 11:51] invincibleJai commented on #2920
@ldimaggi in new launcher maven artifact id which appears in summary and the app name both are editable fields so if you provide same value it should work as expected.

in Legacy(existing) wizard am assuming it's working fine.

[2018-04-11 11:54] invincibleJai commented on #2920
Once changes promoted to prod. Workaround for new launcher experience won't be needed anymore.

with help of @joshuawilson will try to promote it asap

[2018-04-11 11:58] maxandersen opened #3002 "during drag'n'drop it is not possible to see where things land"
when using drag'n'drop to reorder there are no indication of where elements land.
Makes it really hard to be sure the move I'm doing is correct.

Also when dropping things to the bottom in a list they don't reorder, i.e. the drop don't take effect.

![2018-04-11_13-54-37](https://user-images.githubusercontent.com/54129/38615199-1e4b2884-3d90-11e8-8fa3-dcdefb249c0f.gif)

[2018-04-11 12:07] ldimaggi commented on #2920
I just tried that in production and it did not resolve the problem.

[2018-04-11 12:07] kwk commented on #2996
@maxandersen, maybe consider switching to a smaller monitor ;)

[2018-04-11 12:16] muruGanesan commented on #2844
Hi All,

@catrobson, @lwrigh, @mceledonia, @Veethika, @sunilmalagi, @parvathyvr, @alexeykazakov, @SMahil, @sbryzak @sbose78 @rohitkrai03, @qodfathr

I updated the "Teams" flow with permission (at a higher level). Please review the same.
https://redhat.invisionapp.com/share/DGGQJ04RC36

If there is no major change, I will start on the wireframe from tomorrow.

[2018-04-11 12:17] debloper commented on #2969
Duplicate of #2736

[2018-04-11 12:17] debloper commented on #2959
Duplicate of #2736

[2018-04-11 12:28] ravsa opened #3003 "stage and run links are not showing on pipeline for import flow (if repo name and artifact id do not match)"
![screen](https://user-images.githubusercontent.com/11839674/38616427-a1916408-3db1-11e8-969b-d565b4d97bb0.png)
deployed application links for the stage and run on pipeline screen is missing for new launcher import flow.

[2018-04-11 13:00] joshuawilson commented on #3003
Please add team and type labels. (area is nice too)

[2018-04-11 13:04] joshuawilson commented on #2999
the issues have been fixed

[2018-04-11 13:04] #2999 closed

[2018-04-11 13:04] ldimaggi commented on #3003
Duplicate of:  https://github.com/openshiftio/openshift.io/issues/2920

[2018-04-11 13:07] samuzzal-choudhury commented on #2326
Sprint 147 user story for Epic https://github.com/openshiftio/openshift.io/issues/2774

[2018-04-11 13:18] invincibleJai commented on #2920
ah, @ravsa @animuk can pls take a look at this. Having same value of artifact id and app name is not working for @ldimaggi

[2018-04-11 13:19] rhopp opened #3004 "When codebase is deleted, delete also appropriate che workspaces"
Currently, when user removes codebase from codebases UI, all che workspaces created for this codebase are not deleted (orphaned ;-)). I think it would make sense to delete all workspace associated with the deleted codebase.

[2018-04-11 13:25] tisnik commented on #2792
1st part:
https://github.com/fabric8-analytics/fabric8-analytics-server/pull/297

[2018-04-11 13:41] invincibleJai commented on #2942
changes are in prod, hence closing.

[2018-04-11 13:41] #2942 closed

[2018-04-11 13:42] invincibleJai commented on #2821
@mishaone changes are in prod now, pls let us know if you still experience this issue.

[2018-04-11 13:44] invincibleJai commented on #2916
Changes are prod, hence closing.

[2018-04-11 13:44] #2916 closed

[2018-04-11 13:45] andrewazores commented on #2961
Possibly obsoleted - the new Analyze dashboard appears to no longer use the EnvironmentWidget?

[2018-04-11 13:46] jiekang commented on #2744
@dgutride

" I'm open to suggestions but the loggedInUser subscribes all over the place are a huge problem for our maintainability."

Can you elaborate further on how subscribes are a problem for maintainability?

Upon further investigation, the setting of the loggedInUser is embedded within the login/logout flow for the entire application. The login flow relies on a redirect with query parameter

[2018-04-11 13:46] joshuawilson commented on #3004
@l0rd do you know if there is an API for this?

[2018-04-11 13:51] ibuziuk commented on #3004
There is no API exposed on wit side yet, but there is an issue[1] for it.  Basically, It was planned to do stop / delete by communicating with che server directly as a first step - https://github.com/openshiftio/openshift.io/issues/1439#issuecomment-375609892

[1] https://github.com/openshiftio/openshift.io/issues/2745

[2018-04-11 13:54] invincibleJai opened #3005 "[GS] Scan Organisation fails with - Invalid scan credentials"
Steps :
(opt in for internal feature)
- Login to OSIO
- Profile -> update profile -> reset env
- Profile -> update profile -> update tenant
- create a space -> click "try our new getting started experience"
- create new app with Quickstart
- build won't trigger
- visit https://jenkins.openshift.io/job/{gitHubUserName}/computation/console , check Scan Organisation logs

full log : https://gist.gith

[2018-04-11 13:55] invincibleJai commented on #3005
@animuk @ravsa observed this. CC @gastaldi

[2018-04-11 14:05] jiekang commented on #2920
@ldimaggi Hmm, when I create an application with the flow in Production and set 'Project name' and 'Maven artifact' to the same value, the deployment is correct and it works; Are you able to show us what was deployed in your OSO stage/run environment? E.g. screenshot of the OSO console with stage/run project open. The name of the deployment should match the name of the application if 'Project name

[2018-04-11 14:08] invincibleJai commented on #2920
thanks @jiekang , @ldimaggi prod have been updated with recent changes. Now user need not bother about having same value for artifact_id and app name. It's been taken care in background.

[2018-04-11 14:10] invincibleJai commented on #3003
@ldimaggi I don't think it's duplicate of #2920 as this talks specifically about "import flow" in new launcher.

let me know your thoughts, I feel we should have it open to track.
CC @joshuawilson

[2018-04-11 14:37] dgutride commented on #2744
@jiekang  - I understand what you are saying - we need to make sure the application cannot load if the user isn't resolved.  We can add this to the parent application component and prevent the internal components from rendering until it's populated, a root resolver for the routes or anything else that turns the user information into a synchronous call.  Using async calls for the user has led to si

[2018-04-11 14:37] ldimaggi opened #3006 "App launcher - on 2nd use in one login session - when user selections are complete - "Set up Application" button appears to fail - user is locked in the launcher"
Steps to recreate:
* Create a new app with the launcher - complete the process - observe the app build pipeline running
* Start to create a 2nd new app with the launcher
* At the completion of the selection process, the user presses the "Set up Application" button
* Nothing appears to happen - no errors are logged to the Chrome browser console
* The "x" button to exit the launcher also appears to

[2018-04-11 15:07] l0rd commented on #3004
That's for @ashumilova and `team/che/plugins`

[2018-04-11 15:41] alexeykazakov commented on #2844
Related question is setting roles/permissions for areas. I thought we agreed on roles on Org and Space level in the first version.

[2018-04-11 15:46] ravsa commented on #3003
I tried new launcher create flow  and deployed application links are coming for stage and run. This issue specifically talk about import flow. I am working  with @edewit to fix this issue soon.
cc @gastaldi

[2018-04-11 15:56] invincibleJai commented on #3005
@gastaldi workaround for this is to run legacy wizard once than try new launcher flow ;)

[2018-04-11 15:59] invincibleJai commented on #3006
I have observed it once, it occurs when sockets won't give any response @jyasveer is working with @gastaldi on SSE once that is tested should resolve this.

[2018-04-11 16:09] gastaldi commented on #3005
@invincibleJai that indicates that something is missing in the new flow.

@ravsa can you help us verifying that?

[2018-04-11 16:29] arunkumars08 opened #3007 "Change styles of tags in launcher"
As per the UX - https://redhat.invisionapp.com/share/VGF1RF15J#/screens/286890970 ,
the styles of the tags have to be modified.

Currently it appears as below,

<img width="1671" alt="screen shot 2018-04-10 at 4 18 45 pm" src="https://user-images.githubusercontent.com/7880465/38630112-97a41d92-3dd3-11e8-8b88-3ffcec82a06d.png">

[2018-04-11 16:33] arunkumars08 opened #3008 "Pipelines card in application summary space is getting distorted (Launcher)"
Steps to reproduce

1. Go to the new getting started experience,
2. Select 'create a new codebase'
3. Go to pipelines section
4. Select the pipeline with the most number of stages
5. Go to the summary screen via the left navigation
7. You can see the pipelines appear the blow way

<img width="1268" alt="screen shot 2018-04-11 at 6 30 37 pm" src="https://user-images.githubusercontent.com/7880465/38

[2018-04-11 17:12] jiekang commented on #2744
@dgutride

There are a number of related topics under discussion now so I'll try to organize my thoughts more.

1.
A change was introduced to `fabric8-ui` that is broken. It would not be broken if we had a some design. We do *not* have the design and adding the design would involve a large amount of refactoring of `fabric8-ui`. In my opinion, since said change relies on said design, the change sho

[2018-04-11 17:26] lwrigh opened #3009 "New standards for loading experiences across Openshift.io"
### Updated Loading Experience Standards

Link to updated standards: https://redhat.invisionapp.com/share/JKGR07DRUC3
Link to design Github issue: https://github.com/openshiftio/openshift.io/issues/2870

##### Locations within Openshift.io

First Time Logging into Openshift.io

- [ ] Replace the blue progress loading bar that pops up when a user is first logging into Openshift.io with the progress

[2018-04-11 17:30] #310 closed

[2018-04-11 17:35] qodfathr commented on #1946
@slemeur okay if we close this in favor of #2715? We can continue to refine that Experience (or create sibling Experiences) which describe the user experience from WI to branch to Che and beyond.

[2018-04-11 17:41] qodfathr commented on #2070
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2036

[2018-04-11 17:41] #2070 closed

[2018-04-11 17:41] qodfathr commented on #2071
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2037

[2018-04-11 17:41] #2071 closed

[2018-04-11 17:43] qodfathr commented on #2069
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2038

[2018-04-11 17:43] #2069 closed

[2018-04-11 17:45] qodfathr commented on #2072
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2039

[2018-04-11 17:45] #2072 closed

[2018-04-11 17:46] qodfathr commented on #2073
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2040

[2018-04-11 17:46] #2073 closed

[2018-04-11 17:47] qodfathr commented on #2074
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2041

[2018-04-11 17:47] #2074 closed

[2018-04-11 17:49] qodfathr commented on #2075
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2042

[2018-04-11 17:49] #2075 closed

[2018-04-11 17:50] Essjaysee opened #3010 "Nav prototypes: View all spaces (3)"
- [x] Update the centered nav prototype according to the designs: https://redhat.invisionapp.com/share/Z3GA73GQ5DC#/269795045_3_Homespace  and https://redhat.invisionapp.com/share/Z3GA73GQ5DC#/269795048_5_Spaceplan2
- [x] Double-check that all prototypes use the same icon to indicate individual space and the same icon to indicate view all spaces
- [ ] Take a screenshot of a spaces list page
- [ ]

[2018-04-11 17:50] qodfathr commented on #2076
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2043

[2018-04-11 17:50] #2076 closed

[2018-04-11 17:51] qodfathr commented on #2077
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2044

[2018-04-11 17:51] #2077 closed

[2018-04-11 17:53] qodfathr commented on #2078
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2045

[2018-04-11 17:53] #2078 closed

[2018-04-11 17:53] qodfathr commented on #2081
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2046

[2018-04-11 17:53] #2081 closed

[2018-04-11 17:54] Essjaysee opened #3011 "Nav prototypes: Search (5)"
- [x] In left-hand nav prototype, add slide-out animation that reveals the search bar
- [x] In mega-menu prototype, double-check the colors used in the search box(the text seems really dark)
- [x] In centered nav prototype, add animation that slides the search open when the search icon is clicked

[2018-04-11 17:59] qodfathr commented on #2080
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2047

[2018-04-11 17:59] #2080 closed

[2018-04-11 18:05] lwrigh commented on #2870
@catrobson  A task list containing the changes that need to get made has been posted as an issue.

[2018-04-11 18:10] jfchevrette commented on #2427
The clusters have been upgraded to 3.9 and the openshift team believe this issue may have been fixed by some of the SDN/networking patches that were included in 3.9.

@chmouel @ldimaggi if you still see this issue can you please reach out to me directly on chat.openshift.io so I can do live troubleshooting?

[2018-04-11 18:11] jfchevrette commented on #2426
The clusters have been upgraded to 3.9 and the openshift team believe this issue may have been fixed by some of the SDN/networking patches that were included in 3.9.

@chmouel @ldimaggi if you still see this issue can you please reach out to me directly on chat.openshift.io so I can do live troubleshooting?

[2018-04-11 19:11] qodfathr commented on #2088
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2048

[2018-04-11 19:11] #2088 closed

[2018-04-11 19:13] qodfathr commented on #2089
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2049

[2018-04-11 19:13] #2089 closed

[2018-04-11 19:14] qodfathr commented on #2068
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2035

[2018-04-11 19:14] #2068 closed

[2018-04-11 19:26] qodfathr commented on #650
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2054

[2018-04-11 19:26] #650 closed

[2018-04-11 19:27] qodfathr commented on #2217
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2055

[2018-04-11 19:31] qodfathr commented on #2085
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2056

[2018-04-11 19:31] #2085 closed

[2018-04-11 19:32] qodfathr commented on #282
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2057

[2018-04-11 19:32] #282 closed

[2018-04-11 19:33] qodfathr commented on #1365
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2058

[2018-04-11 19:33] #1365 closed

[2018-04-11 19:37] qodfathr commented on #1317
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2059

[2018-04-11 19:37] #1317 closed

[2018-04-11 19:38] qodfathr commented on #2083
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2050

[2018-04-11 19:38] #2083 closed

[2018-04-11 19:53] qodfathr commented on #2134
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2060

[2018-04-11 19:53] #2134 closed

[2018-04-11 19:55] qodfathr commented on #2135
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2061

[2018-04-11 19:55] #2135 closed

[2018-04-11 19:56] qodfathr commented on #1775
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2062

[2018-04-11 20:01] qodfathr commented on #2159
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2063

[2018-04-11 20:01] #2159 closed

[2018-04-11 20:01] qodfathr commented on #1399
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2064

[2018-04-11 20:01] #1399 closed

[2018-04-11 20:04] qodfathr commented on #2169
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/1981

[2018-04-11 20:04] #2169 closed

[2018-04-11 20:05] qodfathr commented on #1943
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/1983

[2018-04-11 20:05] #1943 closed

[2018-04-11 20:06] qodfathr commented on #2715
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/1982

[2018-04-11 20:06] #2715 closed

[2018-04-11 20:09] qodfathr commented on #2723
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/1954

[2018-04-11 20:09] #2723 closed

[2018-04-11 20:10] qodfathr commented on #2751
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2065

[2018-04-11 20:10] #2751 closed

[2018-04-11 20:13] qodfathr commented on #350
Moved to OpenShift.io: https://openshift.io/openshiftio/openshiftio/plan/detail/2066

[2018-04-11 20:13] #350 closed

[2018-04-11 20:30] gastaldi commented on #2358
@ibuziuk I have forked the  https://github.com/redhat-developer/che-starter repository to my account and imported it and I can see the `run` menu item. I tested in prod-preview, but production should be the same:

![screenshot from 2018-04-11 17-29-36](https://user-images.githubusercontent.com/54133/38641644-05f09fa8-3dae-11e8-8d0f-a9b0ed9fe380.png)

[2018-04-11 20:48] Essjaysee opened #3012 "Nav prototypes: Help/Doc"
- [ ] Decide on an icon to represent help and/or doc
- [ ] In the mega-menu prototype, figure out where to include a link/icon for help and/or doc
- [ ] Add said link/icon to mega-menu prototype
- [ ] Update left-hand and centered prototypes to use new icon, as appropriate

[2018-04-11 20:51] Essjaysee opened #3013 "Nav prototypes: Animation for left hand nav (3)"
UI Implementation for

- [x] Add animation to left-hand nav to slide-out and slide-down on all menus (slideinleft, slideindown from library)

[2018-04-11 20:53] Essjaysee opened #3014 "Nav prototypes: Animation in Centered Nav (5)"
- [x] Add animation for the various items to slide across (ltr/rtl) the header when they're selected in the centered nav prototype

[2018-04-11 21:19] Essjaysee opened #3015 "Nav prototypes: Space name (3)"
UI Implementation into prototype of the following:

- [x] In the left-hand nav, add the space name to the space selector at the top (when you're in the context of the space)

[2018-04-11 21:23] Essjaysee opened #3016 "Nav prototypes: Dummy screen shots (5)"
- [x] Come up with a set of space names, work item names, and user names to show in the dummy screen shots
- [x] Make the home dashboard show those things
- [x] Decide which menu items we're going to link to (Deployments w/ feature flags was mentioned today, user profile/settings page, first screen of create space)
- [x] Create space screen cap needs fade-in animation
- [x] Take screen shots (desk

[2018-04-11 21:48] Essjaysee commented on #3014
@mindreeper2420 and @bdellasc spoke about this today and plan to work together on it.

[2018-04-11 22:01] Essjaysee opened #3017 "Nav prototypes: Notifications"
- [ ] In left-hand nav, figure out where to put the notification icon
- [ ] In centered nav, figure out where to put the notification icon
- [ ] Take a desktop screen shot of @mceledonia 's intended design for notification drawer
- [ ] Take a mobile screen shot of @mceledonia 's intended design for notification drawer
- [ ] Link up the screen shots to the icons in all 3 prototypes

[2018-04-11 22:06] Essjaysee opened #3018 "Nav prototypes: System status"
- [ ] Remove system status icon from left-hand nav and centered prototypes
- [ ] Remove system status menu from left-hand nav and centered prototypes
- [ ] In the centered prototype, the down caret will remain to the right of the pipe
- [ ] The menu that the caret opens will contain "Jump to Console" and "Current Console" sections

[2018-04-12 03:09] joshuawilson commented on #2744
@jiekang
Those are all great points. Thanks for taking the time to write them down. I'll do my best to respond to them. (@dgutride may have more insight and can respond too)

1) The original design was to follow the basic component architecture laid out in the Angular docs. We have out grown that and we have #2501 as a start. This is something we can all work out together.
2) It is public and I ag

[2018-04-12 05:10] #2731 closed

[2018-04-12 05:19] Raunak1203 opened #3019 "new space create experience :Extra white spaces while creating new application using new space creation experience"
![extrawgitespace](https://user-images.githubusercontent.com/34271052/38657657-174a0532-3e3f-11e8-9781-feeb5c75e744.gif)

[2018-04-12 05:21] Raunak1203 opened #3020 "Clicking BuildNo. in home page redirect to home page not to build pipeline"
![buildpipeline](https://user-images.githubusercontent.com/34271052/38657725-6975ec54-3e3f-11e8-9e24-6638b07734e3.gif)

[2018-04-12 05:27] liangxia opened #3021 "Click add-work-item lead to error page."
Click the '+' on the project page,
![screenshot from 2018-04-12 13-25-11](https://user-images.githubusercontent.com/4716987/38657873-1773f336-3e55-11e8-86ca-e2499b252c0b.png)

It show me a page like this,
![screenshot from 2018-04-12 13-25-41](https://user-images.githubusercontent.com/4716987/38657876-1857d380-3e55-11e8-9135-08294cca8082.png)

[2018-04-12 05:29] Preeticp opened #3022 "New Launche experience: Spaces in GH Repository Name prevents you from Setting up an Application"
Adding Underscores resolved the issue.
![screenshot from 2018-04-12 10-51-16](https://user-images.githubusercontent.com/16647625/38657944-7b481f50-3e40-11e8-81c6-3f3fdf206649.png)

[2018-04-12 05:34] invincibleJai opened #3023 "[Launcher] build failure with timeout: Socket closed ERROR"
Steps :
- Create a new space
- Select new launcher flow
- Create codebase
- go through all steps
- trigger build

Build failed , logs : https://gist.github.com/invincibleJai/ef40904a8cac2bd5166ca087727cbc45

In second attempt build passed.

<img width="1680" alt="screen shot 2018-04-12 at 10 55 37 am" src="https://user-images.githubusercontent.com/5129024/38658046-f9217b42-3e40-11e8-9ef9-926ae377c

[2018-04-12 05:41] jarifibrahim opened #3024 "Better error reporting is needed if a build fails at roll out to stage step due to the user being over quota"
On production, the build failed at roll out to stage. Here's[0] the log

[code]
[0] - https://jenkins.openshift.io/job/jarifibrahim/job/clickParty1/job/master/1/console

[2018-04-12 05:53] Raunak1203 opened #3025 "Planner : detail page header is hidden"
![screenshot from 2018-04-12 11-20-14](https://user-images.githubusercontent.com/34271052/38658650-a81e1766-3e43-11e8-8abe-0cb947e5bc10.png)

[2018-04-12 05:56] mmatsuya opened #3026 "Jenkins login does not work reliably"
On the click party in Apr 12, I followed https://docs.openshift.io/getting-started-guide.html to run helloworldvertx. The build pipeline started. And it stuck in the Approve stage.
Even after the Promote button was clicked, it cannot go forward. It still stopped in the Approve stage.

This is similar to https://github.com/openshiftio/openshift.io/issues/2119.
But, a workaround (to click "View Log"

[2018-04-12 05:56] sclarkso opened #3027 "Build Stalls at 'Approve' stage"
Clicking promote doesn't seem to do anything.  Openshift logs showed:

[code]
Couldn't access jenkins logs recieved multiple errors about access jenkins logs:

[code]

[code]

[code]

[code]

Tried multiple 'update tenant' and did multiple 'reset environments' (over the course of a few hours) as well.

[2018-04-12 05:57] rootAvish commented on #3020
+1 also facing the same issue.

[2018-04-12 06:01] Raunak1203 opened #3028 "Adding label in quick preview and opening detail page throws error "There was problem adding label""
![label](https://user-images.githubusercontent.com/34271052/38658989-f60ffede-3e44-11e8-8928-72de52dd33f1.gif)

[2018-04-12 06:10] arunkumars08 commented on #2755
I can see this while testing Planner too. It seems to be across OSIO.

Here is the screen capture
<img width="1264" alt="screen shot 2018-04-12 at 11 39 26 am" src="https://user-images.githubusercontent.com/7880465/38659242-4ee8d5f2-3e46-11e8-81b8-1dbf5990293e.png">

[2018-04-12 06:14] arunkumars08 commented on #2755
Removing intermittent tag, as I can see it all the time.

[2018-04-12 06:15] parvathyvr commented on #2755
I have it as well,during testing in OSIO click party

<img width="1680" alt="screen shot 2018-04-12 at 11 43 32 am" src="https://user-images.githubusercontent.com/33114242/38659368-e189530a-3e46-11e8-8a0d-5ec539920493.png">

[2018-04-12 06:24] rootAvish opened #3029 "Clicking on analyze multiple times when coming from planner distorts the toobar"
1. Open Planner
2. Now click on analyze
3. Get frustrated while it loads, click a second time
4. Click a third time for good measure

<img width="1654" alt="screen shot 2018-04-12 at 11 52 02 am" src="https://user-images.githubusercontent.com/5445560/38659700-3a5a3b74-3e48-11e8-8924-86ffc5b590eb.png">

[2018-04-12 06:25] #3008 closed

[2018-04-12 06:26] #3007 closed

[2018-04-12 06:26] #2936 closed

[2018-04-12 06:28] garagatyi opened #3030 "Incorrect link to a Jenkins service in a commit status"
When I push commits in Che I see that there is a commit status badge on Github which means that it is configured to show a status of a build on Jenkins. But the link is broken - looks like Jenkins integration is not fully configured.

BTW triggering of a build by webhook from Github doesn't work also.

Here is my git repo https://github.com/garagatyi/clicktest
Webhook URL is https://jenkins.opensh

[2018-04-12 06:28] arunkumars08 commented on #2810
@sanketpathak Please update this issue list accordingly.

[2018-04-12 06:29] ashmitha7 opened #3031 "Faced a capacity issue while at Click Party"
![screenshot from 2018-04-12 11-27-19](https://user-images.githubusercontent.com/28265276/38659868-e4bb9f2c-3e48-11e8-896a-efb63450c045.png)

Followed all the steps mentioned in the google doc for using OSIO - https://docs.google.com/document/d/1KDx05WAk5omKXi7OosRfDTMRDorOt1k6iJrozWWRKZ4/edit

Was facing a build issue (It was starting and could not view any logs) so tried to view the status in OS

[2018-04-12 06:32] rootAvish opened #3032 "Wildfly health check booster build fails with possible out of memory error"
[code]

I did "reset environment" before I ran this.

[2018-04-12 06:33] ashmitha7 opened #3033 "No stages started in any of the recent runs"
![screenshot from 2018-04-12 12-00-47](https://user-images.githubusercontent.com/28265276/38659969-4988c9a2-3e49-11e8-8f07-7df5296a9755.png)

It took forever to assign a jenkin's slave, no stages started and eventually it all failed. Blocked at this point.

[2018-04-12 06:37] ashmitha7 opened #3034 "Failed to login to Jenkins"
![screenshot from 2018-04-12 11-49-55](https://user-images.githubusercontent.com/28265276/38660183-fcdb1406-3e49-11e8-93da-7349edc7e02d.png)

My build was released and 'roll out to stage' took 10 sec after this in the 'approve' state, I clicked on 'Input required' and the 'promote' option would not work. Eventually, the screenshot is the error I received when trying this twice.

[2018-04-12 06:56] garagatyi opened #3035 "Namespace description in the "new space create" experience is not saved"
I filled out description field but when namespace was created there was no description.

[2018-04-12 07:01] garagatyi opened #3036 "After manually triggering build it didn't start after half an hour"
During click party, I tried to manually start build. After half an hour it is still in pending state.
Might be a load issue, but I'm not sure.
Here is the link to the build https://console.starter-us-east-2.openshift.com/console/project/ogaragat/browse/pipelines/app-test-1-2/app-test-1-2?tab=details

[2018-04-12 07:06] krishnapaparaju opened #3037 "Deleting OSIO pipelines"
@qodfathr  Have tried 'Delete' button at OSIO user's pipeline's screen. This 'delete' removes OSIO pipeline + NO new pipelines (e.g.: Git Push) would start after 'delete' action (Respective build config gets deleted) .   Am trying to understand if there was a valid use case / reason for this behaviour / a bug ?
<img width="1408" alt="screen shot 2018-04-12 at 11 35 18 am" src="https://user-images.

[2018-04-12 07:06] garagatyi opened #3038 "Apostrophe mark is replaced by a code sequence on UI"
![image](https://user-images.githubusercontent.com/1851863/38661358-348a20a6-3e39-11e8-8fe3-3d3a6617d208.png)

[2018-04-12 07:10] rgarg1 opened #3039 "Planner stuck at "Loading work items""
During the click-party held on 12th Apr 2018, it was observed that most people could not access the Planner as the page got stuck at "Loading work items".

The page loaded for a lucky few but got stuck later after a refresh.

No errors were seen in the network tab.

![planner is stuck](https://user-images.githubusercontent.com/28748448/38661478-a3f40992-3e4e-11e8-9564-1c2a7cca05c0.png)

[2018-04-12 07:11] ravsa commented on #3005
@invincibleJai I tried it according to the steps you suggested but not able to reproduce it. I think it's an intermittent issue.

[2018-04-12 07:12] rgarg1 commented on #3039
Fixed by https://github.com/fabric8-ui/fabric8-ui/pull/2731
Thanks @sanbornsen

[2018-04-12 07:13] rgarg1 commented on #3039
Cc @joshuawilson @corinnekrych @michaelkleinhenz @ldimaggi @nimishamukherjee @qodfathr

[2018-04-12 07:13] invincibleJai commented on #3005
@ravsa nice if it's just with me, we'll retry sometime later today.

[2018-04-12 07:14] rgarg1 commented on #3039
Can someone please merge this on priority, before Europe's click-party starts.
@corinnekrych @nimishamukherjee

[2018-04-12 07:15] nurali-techie opened #3040 "App never deployed on stage and run environment"
**Issue:**
After successful completion of build pipeline, app didn't deployed, neither on stage nor on run environment.

**Steps:**
In Click Party Bangalore, I created space, created app and pipeline triggered automatically.  After successful completion of build for pipeline, I was expecting that the app will be deployed on stage and run environment but app deployment not happened after 15 mins al

[2018-04-12 07:15] #3039 closed

[2018-04-12 07:25] ibuziuk commented on #2358
@gastaldi awesome, but IMO we should keep this open until osio will use new UI. WDYT ?

[2018-04-12 07:45] Preeticp opened #3041 "Planner: Moving table attributes using gear icon distorts alignment of the list view columns"
When you move attributes from Available to Displayed using the gear icon, the table columns in the list view get distorted.
![screenshot from 2018-04-12 13-09-25](https://user-images.githubusercontent.com/16647625/38663098-84674d64-3e53-11e8-9a88-9f7ba1d130c5.png)
![screenshot from 2018-04-12 13-09-37](https://user-images.githubusercontent.com/16647625/38663106-891bd78a-3e53-11e8-9b27-c703dca1473c

[2018-04-12 07:59] rhopp commented on #2856
@ibuziuk No idea. I've never seen this behavior (on 5 nor on 6)

[2018-04-12 08:02] ibuziuk commented on #2856
I definitely saw in on Che 5, but looks like Che 6 is also affected according to the eclipse/che#9321

[2018-04-12 08:14] rhopp commented on #2856
@ibuziuk I've discussed this issue with Igor Ohrimenko (che qe) and he just created that issue. I'm not sure he was able to reproduce it anywhere. This is what he wrote to me:

and also I have discussed this problem with @vitalii_parfonov , he will check macross  functionality.

[2018-04-12 08:15] Preeticp commented on #3022
Also please note, the entry in the Space Path field overflows the Application Information rectangle. It could be a problem if the Space names are big.

[2018-04-12 08:36] #2732 closed

[2018-04-12 08:37] corinnekrych commented on #2815
fixed with https://github.com/fabric8-ui/fabric8-ui/pull/2730

[2018-04-12 08:37] #2815 closed

[2018-04-12 08:37] corinnekrych commented on #2732
fixes with https://github.com/fabric8-ui/fabric8-ui/pull/2730

[2018-04-12 08:48] slemeur commented on #2564
Duplicate of : https://github.com/openshiftio/openshift.io/issues/2988

Should be fixed by: https://github.com/fabric8-launcher/launcher-backend/pull/216

[2018-04-12 08:48] Preeticp opened #3042 "Planner: Applying a filter overwrites labels"
To reproduce:

1. Click Experiences or Requirements in the left pane. Note this is not seen when you click Scenarios on the left pane.
2. Apply the work item type filter.

This is what you will see:
![screenshot from 2018-04-12 14-13-12](https://user-images.githubusercontent.com/16647625/38666143-e4778874-3e5b-11e8-8b6b-4f03de040efc.png)
![screenshot from 2018-04-12 14-12-46](https://user-images.g

[2018-04-12 08:51] rgarg1 commented on #3038
Addressed by https://github.com/fabric8-ui/fabric8-planner/pull/2518

[2018-04-12 08:59] miteshvp commented on #2755
I got this error while viewing build logs.
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/17736013/38666941-cb938054-3e5d-11e8-8c66-7109abdb3060.png">

[2018-04-12 09:03] invincibleJai opened #3043 "Migration to CHE workspace took more than 15 minutes"
Steps :
- create a new space
- Select new launcher flow
- Create codebase
- go through all steps
- trigger build
- go to dashboard
- click create
- click codebases
- click open codebase

Migration to CHE workspace took more than 15 minutes, but it works.

<img width="1678" alt="screen shot 2018-04-12 at 10 53 01 am" src="https://user-images.githubusercontent.com/5129024/38667214-7b834170-3e5e-11e8

[2018-04-12 09:05] invincibleJai commented on #3043
@rgarg1 pls check labels if it's correct.

[2018-04-12 09:08] ibuziuk commented on #3043
@invincibleJai could you please share your openshift events ?
there might be infra related problems such as volume mount which makes the migration long-running.
Anyway, it is good that it was successful as I understand

[2018-04-12 09:15] invincibleJai commented on #3043
yes @ibuziuk it works just fine, it just took longer. Can't see any events though. Am I checking at the right place?

<img width="1594" alt="screen shot 2018-04-12 at 2 43 31 pm" src="https://user-images.githubusercontent.com/5129024/38667792-fccad44a-3e5f-11e8-9595-cfa587854a24.png">

[2018-04-12 09:17] msrb commented on #2989
All community artifacts should be already known.

[2018-04-12 09:32] michaelkleinhenz commented on #3000
Both prod and prod-preview yesterday. But since the latest deployment, it is no longer appearing for me. Closing.

[2018-04-12 09:34] invincibleJai commented on #3043
@ibuziuk thanks monitoring i checked it's blank there as well. This is what I can see here

<img width="1680" alt="screen shot 2018-04-12 at 3 01 46 pm" src="https://user-images.githubusercontent.com/5129024/38668925-ae117b62-3e62-11e8-8b27-e472c8414020.png">

[2018-04-12 09:35] michaelkleinhenz commented on #3000
Mhh..weird. It looks like it is only appearing sometimes. I just tested it and it worked, not it is not working again. Both on prod with 5 minutes between and no reload.

[2018-04-12 09:39] ibuziuk commented on #3043
@invincibleJai migration pods completed successfully, but still strange that there are no events which would explain long-running execution...

[2018-04-12 09:41] rgarg1 opened #3044 "Cannot create a new application using new launcher"
Received an error message that states that there was a problem with config.xml and as a result, my pipeline was not triggered. All other steps were complete while creating the application.

Snapshot:
![config xml does not contain valid xml](https://user-images.githubusercontent.com/28748448/38668995-da0df9d4-3e62-11e8-841a-711321d7caff.png)

Steps:
1) Updated tenant
2) Using the new launcher, sele

[2018-04-12 09:49] tisnik commented on #2792
2nd part:
https://github.com/fabric8-analytics/fabric8-analytics-server/pull/301

[2018-04-12 09:50] tisnik commented on #2792
Actual code coverage just reached 50% threshold:

[code]

[2018-04-12 09:50] #2792 closed

[2018-04-12 09:54] rgarg1 opened #3045 "Creating new application stuck at "Working Through Setup""
1) Reset my environment
2) Created a new space
3) Using the new launcher, selected REST API mission and the Spring Boot runtime
4) Rest of the selections were the default
5) Clicking on _Set up application_ button resulted in nothing, except a wait spinner at the top of the page labeled "Working Through Setup"

![working thriugh setup](https://user-images.githubusercontent.com/28748448/38670097-82

[2018-04-12 09:54] aslakknutsen opened #3046 "The "features on this page" override data in planner"
![screenshot from 2018-04-12 11-53-14](https://user-images.githubusercontent.com/132158/38670127-39844f0a-3e48-11e8-8626-3e30e0b6f2fd.png)

[2018-04-12 09:55] rgarg1 commented on #3045
Note 3: Cannot even cancel this through the X button on the top-right corner of the page. The button as no effect

[2018-04-12 09:57] aslakknutsen commented on #3031
east-1 is not a OSiO Cluster. We have east-2 and 2a.

[2018-04-12 10:07] #2986 closed

[2018-04-12 10:12] aslakknutsen commented on #3046
Is it intentional to warn me(red)? And why locked? I can see the planner so shouldn't it be green an unlocked?(maybe not a design thing but a impl issue? @corinnekrych )

![screenshot from 2018-04-12 12-11-07](https://user-images.githubusercontent.com/132158/38671013-9a0a633a-3e4a-11e8-9bb4-139c78d540a0.png)

[2018-04-12 10:48] ravsa opened #3047 "WebHook: new build is not showing on pipeline screen."
Merge to master is triggering the build. In the background, Jenkins is running and deployed the modified application but I'm not able to see the latest build on pipeline screen.

![screen1](https://user-images.githubusercontent.com/11839674/38672690-927752f0-3e6c-11e8-8735-5046b4b2ef42.png)
![screen2](https://user-images.githubusercontent.com/11839674/38672709-a3a912a2-3e6c-11e8-81c5-68285e88f2b6.

[2018-04-12 11:05] Raunak1203 commented on #3025
fixed with PR: https://github.com/fabric8-ui/fabric8-planner/pull/2548

[2018-04-12 11:05] #3025 closed

[2018-04-12 11:10] sara-02 commented on #2989
@ldimaggi Can verify from your end, if the EPVs are still unknown.

[2018-04-12 11:17] aslakknutsen opened #3048 ""Feature flags" with 'dev' flag set show up in prod"
Only show flags that can be seen in online v

![screenshot from 2018-04-12 12-06-06](https://user-images.githubusercontent.com/132158/38674175-d7a8ef14-3e53-11e8-83f3-c4ccfccb32b0.png)

[2018-04-12 11:36] sara-02 commented on #2882
We can check the updated screenshot here:
https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/issues/204#issuecomment-380774494

[2018-04-12 11:36] #2882 closed

[2018-04-12 11:42] sara-02 commented on #2853
@sivaavkd The epic is already created. here https://github.com/openshiftio/openshift.io/issues/1809

[2018-04-12 11:53] invincibleJai commented on #3022
@Preeticp thanks have put the validation for space check,  in gitHubRepo name.  For space issue

i feel we should log a separate issue as it's in overlay screen.

[2018-04-12 11:59] Preeticp commented on #3022
Sure @invincibleJai will log another issue for this.

[2018-04-12 12:10] Preeticp opened #3049 "Launcher: Space Path field entry overflows outside the space provided"
The entry in the Space Path field overflows the Application Information space, this could be a problem when we have big Space names.
![screenshot from 2018-04-12 10-51-16](https://user-images.githubusercontent.com/16647625/38675980-321ed210-3e77-11e8-8901-631fe1ad5985.png)

[2018-04-12 12:38] jiekang commented on #1658
This task was created to track the work for meeting the original UX design. Closing as completed. New issues will be opened to track work for meeting the additional changes in UX design.

[2018-04-12 12:38] #1658 closed

[2018-04-12 12:49] corinnekrych commented on #3046
@aslakknutsen red is the color chosen for internal. The icon now display the user-level consent (instead of the feature level as it used to) this was a UX choice. cc @mceledonia

[2018-04-12 12:50] corinnekrych commented on #3046
For the override of data since it's a fixed position there is no easy css tricks here. maybe we can play on opacity? not sure cc @mindreeper2420

[2018-04-12 12:53] corinnekrych commented on #3046
@aslakknutsen I let Michael and Adam but this is not an implementation bug.

[2018-04-12 13:14] xcoulon opened #3050 "New Getting Started create experience - CSS issue"
On the second page of the new wizard, the highlighting border around the `Create a new codebase` option is too small, and as a result the text goes beyond the borders:

<img width="900" alt="screenshot 2018-04-12 15 12 19" src="https://user-images.githubusercontent.com/178502/38679491-2a7a94e4-3e64-11e8-9d1c-0363d701026a.png">

[2018-04-12 13:24] #2952 closed, assigned to nobody

[2018-04-12 13:40] xcoulon opened #3051 "Feature flag message when a single feature is available"
when there's a single internal/experimental/beta feature on the page, the message should be `There is 1 .. feature on this page`, rather than `There are 1 .. feature(s) on this page`

[2018-04-12 13:41] xcoulon opened #3052 "No need for a caret on the work item tree leaves"
If an item ahs no child element, why showing a caret to expand the item and then a `disabled` cursor when moving over it ? what about hiding the caret instead ?

[2018-04-12 13:41] pbergene commented on #2755
Can we see what certificate is being served when we get this error please, that will greatly help figuring out what is going on.

[2018-04-12 13:43] xcoulon opened #3053 "Work item detail header not visible"
Work item detail is not hidden behind the top nav bar on the `/detail` page:

<img width="1274" alt="screenshot 2018-04-12 15 42 15" src="https://user-images.githubusercontent.com/178502/38681066-2911aac6-3e68-11e8-9ebd-2617a4ba5579.png">

[2018-04-12 13:44] apupier opened #3054 "No Feedback in Pipeline view of the current state of the pipeline"
I had spinning cursor for a long time and went to the OpenShift web console directly.

The build had started but there was no feedback in openshift.io UI:
![nofeedbackinopenshiftiothatbuildreleasestarted](https://user-images.githubusercontent.com/1105127/38681116-44b4353c-3e68-11e8-9d81-ee214d5ac5bd.png)

The build has even failed and there was still no feedback, still a spinning monitor:
![nofeed

[2018-04-12 13:44] rhopp opened #3055 "New create space experience: missing validation for space name"
New create space experience is missing validation for space name. This can results in users putting invalid names as space name (for example "clickparty!" is invalid - the exclamation mark should not be there).

This invalid name of the space further more results in lot of errors pop up when working with OSIO:
![image](https://user-images.githubusercontent.com/1215011/38681154-5cdb4db2-3e68-11e8-8

[2018-04-12 13:44] joshuawilson commented on #3046
@mceledonia @catrobson this is very confusing. I feel like something is hidden from me or something is broken with the red and lock when I know this page is not Internal. I would rather see 3 icons for each level.

[2018-04-12 13:45] mattd72 opened #3056 "500 Error on Pipeline promotion"
Attempt to promote build during Approve pipeline stage returns 500 error.
Set up pipeline during 4/12 click party: https://docs.google.com/document/d/1KDx05WAk5omKXi7OosRfDTMRDorOt1k6iJrozWWRKZ4/edit

Pipeline stops at approve stage with Input Required.  I select Input Required button and then the Promote button.

![screen shot 2018-04-12 at 9 41 48 am](https://user-images.githubusercontent.com/10

[2018-04-12 13:46] xcoulon opened #3057 "Tree state lost after coming back from detail page"
When clicking on the back button of the browser from the work item detail page, I come back to the plan/scenarios page as expected, but the tree is collapsed instead of being expanded as it was when I clicked on the link to the detail page. It would be better if I could come back to the previous page and find it in the same state as it was when I left it.

[2018-04-12 13:47] apupier opened #3058 "Pipeline build failure for new space with rest/SpringBoot example"
I followed the "click party" instructions except that i choose Spring Boot instead of the Vert.x

The pipeline build has failed:
[ERROR] Failed to execute goal io.fabric8:fabric8-maven-plugin:3.5.38:build (fmp) on project app-test-1: Failed to execute the build: Unable to build the image using the OpenShift build service: An error has occurred. timeout: Socket closed -> [Help 1]
org.apache.maven.l

[2018-04-12 13:48] apupier commented on #3058
please note that clicking "Start pipeline" to try to retrigger a build is not working

[2018-04-12 13:50] mattd72 commented on #2534
Same issue during 4/12 click party.  Following guide: https://docs.google.com/document/d/1KDx05WAk5omKXi7OosRfDTMRDorOt1k6iJrozWWRKZ4/edit

{"Errors":[{"code":"500","detail":"could not login to Jenkins in madavis-jenkins namespace"}]}.
....
Authentication required

</body></html

[2018-04-12 13:51] pbergene commented on #2755
Realize that may not be easy for the api errors, but from the sso one it should be. One theory for the api one is that it could be due to bad host headers set and openshift is returning the openshiftapps certificate.

[2018-04-12 13:56] apupier commented on #3058
when clicking "Start Pipeline", in fact a new pipeline stacks up in OpenSHift console (not visible in openshift.io):
![image](https://user-images.githubusercontent.com/1105127/38681883-12e784da-3e6a-11e8-908a-f1ae5cf71aaa.png)

[2018-04-12 13:59] xcoulon opened #3059 "Reordering items in background"
Could we just submit a request to reorder items and have the server respond with `202 Accepted` and let it process with the reordering in background, rather than wait for the response ? that would certainly make the experience smoother

[2018-04-12 14:04] xcoulon opened #3060 "Broken page after filtering work items"
After filtering my work items by assignee (but having no result, if that matters), I can see that the `Add Work Item` text hovers the `Requirement` filter:

<img width="952" alt="screenshot 2018-04-12 15 57 58" src="https://user-images.githubusercontent.com/178502/38682350-27768210-3e6b-11e8-83d3-3d853f75bd08.png">

[2018-04-12 14:04] joshuawilson commented on #3055
@dgutride @dlabrecq can one of you look at this.

[2018-04-12 14:07] pematous opened #3061 "could not login to Jenkins namespace, Moved Permanently"
This issue was found during the click party held on Apr 12.

I have followed the "roadmap" document provided fot the click party. But end up on building the pipeline. The build has started and paused in Approve stage waiting for 'Input Required'. When pressing the link 'Input Required' I got:

`{"Errors":[{"code":"500","detail":"could not login to Jenkins in pematous-jenkins namespace"}]}<a href="

[2018-04-12 14:07] xcoulon opened #3062 "Confusing message in iteration page"
After creating an iteration and selecting it, I should have no work item assigned to it yet, which is correct, but the page displays a confusing message: `14 in Iteration 1`, although I can't see any:

<img width="1279" alt="screenshot 2018-04-12 16 06 19" src="https://user-images.githubusercontent.com/178502/38682536-9eca2268-3e6b-11e8-9440-742ae4a53584.png">

[2018-04-12 14:09] Preeticp commented on #3060
Duplicate of #3042

[2018-04-12 14:09] psrna opened #3063 "UI Parts are hidden, cannot scroll (vertically) in a scenario"

[2018-04-12 14:09] pbergene commented on #2755
The HOST headers sent in the full request are also interesting here.

[2018-04-12 14:09] psrna commented on #3063
https://www.dropbox.com/s/3xigdstfibhajl8/Screenshot%202018-04-12%2016.06.42.png?dl=0

[2018-04-12 14:09] bostrt opened #3064 "Unable to re-import github project after deleting workspace"
I created workspace A, successfully imported a codebase from my github, then deleted the workspace. After creating workspace B, I'm not able to import that same codebase and I see error:

`The repository tomcat-static-hello has already a build config, please select another repo.`

When deleting a workspace, am I truly starting from a clean slate?

[2018-04-12 14:11] pematous commented on #3061
![screenshot from 2018-04-12 16-08-22](https://user-images.githubusercontent.com/18208770/38682722-167311ee-3e6c-11e8-91dd-b3bb462fd4e9.png)
![screenshot from 2018-04-12 16-07-56](https://user-images.githubusercontent.com/18208770/38682723-16cd7abc-3e6c-11e8-926e-a0ee98573f03.png)

[2018-04-12 14:12] xcoulon opened #3065 "Provide help for markdown syntax"
A link to the documentation for the supported Markdown syntax would be helpful when editing the description or a comment on a work item

[2018-04-12 14:15] xcoulon opened #3066 "Add a button to close the popup"
When changing the state of a work item, I get a popup to confirm that the change was taken into account, but I have to wait for a few seconds for it to disappear automatically, which is annoying, especially because this popup is partially over the button to close the work item panel:

<img width="505" alt="screenshot 2018-04-12 16 13 34" src="https://user-images.githubusercontent.com/178502/386829

[2018-04-12 14:15] mattd72 commented on #3061
Ran into the same thing attempting to view logs on a build.  Jenkins build never really starts.

{"Errors":[{"code":"500","detail":"could not login to Jenkins in madavis-jenkins namespace"}]}<a href="https://auth.openshift.io/api/login?redirect=https:%2F%2Fjenkins.openshift.io%2Fjob%2Fmattd72%2Fjob%2Fmattspace2%2Fjob%2Fmaster%2F2%2Fconsole">Moved Permanently</a>.

[2018-04-12 14:16] corinnekrych commented on #3046
@catrobson @joshuawilsonfor the record the fact that the button icon now matches the user-consent was discussed in here:
https://github.com/openshiftio/openshift.io/issues/2400#issuecomment-378285335

[2018-04-12 14:21] ppalaga opened #3067 "Automatic rebuild in Che does not work"
Steps to reproduce:

* new space
* Import Spring Boot HTTP quickstart
* Run via Che
* Visit the preview URL, works as expected
* Change the greeting in GreetingProperties.java to "Hi, %s!"

Expected: the app should rebuild in the "run" terminal
Actual: nothing happens

[2018-04-12 14:22] apupier opened #3068 "Moving tooltip on + of "iterations" in planner"
in this place:
![image](https://user-images.githubusercontent.com/1105127/38683389-a002b8d2-3e6d-11e8-952a-52855e9265c9.png)

see https://drive.google.com/open?id=1kiKNqt7uUKZkwVwnTFSsa3ORZFMTaIXu

[2018-04-12 14:22] ptoal opened #3069 "Changing work item status in planner generates a notification that covers the 'x' (close) icon"
Reproduction steps:
1. In the 'Plan' tab of a workspace, 'Add work item'.
2. Click the work item to bring up the side-panel.
3. Change the Status in the drop-down.

A notification pops up in the panel that says "Workitem updated".  The notification lasts about 5s, and obscures the close panel icon in the top right corner.

Example:
![image](https://user-images.githubusercontent.com/77685/38683380-

[2018-04-12 14:23] soltysh opened #3070 "Planner filter does not work right away"
I'm trying to filter resources in the Backlog view by specifying Title and picking some name that exists and nothing actually happens. Only when I switch tabs on the left (Experiences and then back to Scenarios) the filtering is applied. The same applies to clearing the filters:
![image](https://user-images.githubusercontent.com/576341/38683480-da4dd51c-3e6d-11e8-92a8-d80ea2441df7.png)

[2018-04-12 14:26] pkettman opened #3071 "User shall be informed in case apod is not deployed on Stage or Run environment"
Scenario:

1) I commited and pushed a repo update
2) corresponding pipeline build was executed and Rollout to Stage and Rollout to Run become Green
3) when I clicked on the pod / microservice link right to "Rollout to Stage/Run" it was not accessible
4) OSO Jenkins showed that the build was successful, but pod deployment for cancelled

Expected scenario: User shall be notified and the link not pre

[2018-04-12 14:27] soltysh opened #3072 "Drag&Drop items on the planner does not persist item moving"
I've created several items in the new list of Scenarios. I've moved some of them to open, in progress and resolved list (using drag&drop). Then I switch the tab to Experiences and back to Scenarios and all the items are back in the new list.

[2018-04-12 14:34] apupier opened #3073 "Cannot create "Experience" work item"
Go to experiences
 click on the blue +
fill both entries:
![image](https://user-images.githubusercontent.com/1105127/38684011-0487344e-3e6f-11e8-8309-1cc849480582.png)

click on the  check button to create it
--> nothing happens in UI
there is an http 400 error in network:

[2018-04-12 14:39] psrna opened #3074 "Iterations loading issues - data appears to vanish"
I played a bit with planner, created several iterations, but then they disappeared. Actually I could see them on the 'Board' tab but not on the 'Backlog' tab.

screenshots:
https://www.dropbox.com/s/uw6zwsmabb7hldw/Screenshot%202018-04-12%2016.35.27.png?dl=0
https://www.dropbox.com/s/z63trutagmhqjm8/Screenshot%202018-04-12%2016.35.42.png?dl=0

After a bit more playing I managed to crash the planne

[2018-04-12 14:39] l0rd commented on #3067
That's a regression of https://github.com/redhat-developer/rh-che/issues/254, problably not related to Che itself but to some changes to the spring-boot booster. We need to investigate to get more details. cc @gastaldi

[2018-04-12 14:42] apupier opened #3075 "UI is not responding anymore to any clicks"
I have several errors in console log:

![image](https://user-images.githubusercontent.com/1105127/38684630-68736ec2-3e70-11e8-9aeb-2fa96b4549c3.png)
![image](https://user-images.githubusercontent.com/1105127/38684652-75a41e0c-3e70-11e8-8435-f39b6b58bc39.png)

[2018-04-12 14:42] gastaldi commented on #3067
@gytis @cmoulliard @metacosm care to take a look at this?

[2018-04-12 14:43] #3069 closed, assigned to nobody

[2018-04-12 14:45] leospol opened #3076 "OpenShift Project 'xxxxxx-jenkins' cannot be found"
I've followed OSIO Click Party steps and my pipeline got stucked in Approve state. XHR calling [1] returns 500 Internal Server Error. Here are headers and payload:

**Request:**
Accept: application/json, text/plain, */*
Accept-Encoding: gzip, deflate, br
Accept-Language: en-US,en;q=0.9
Authorization: /snip/
Connection: keep-alive
Content-Length: 0
Host: forge.api.openshift.io
Origin: https://opens

[2018-04-12 14:45] mpguerra opened #3077 "Github API Usage quota message on Build Release Step"
When starting a build and clicking "View Log" I could see the following messages in the Jenkins Console output screen:

[code]

A similar message is also seen on the second Build:

[code]

[2018-04-12 14:47] apupier commented on #3075
if I go to the root page by hand, and click create space, the Ui is frozen with a slightly black transparent shape:
![image](https://user-images.githubusercontent.com/1105127/38684971-2ff53cfa-3e71-11e8-8f85-c5543bef012a.png)

[2018-04-12 14:49] aptmac opened #3078 "Feature footer displays incorrect information when going from pages with experimental features to pages without"
When visiting a page with experimental features enabled (e.g., deployments) and going to a page with no experimental features enabled (e.g., analyze), the feature footer displays incorrect information.

Example:

1. Visiting the analyze page, the feature footer explains that there are no experimental features on the page.
![analyze-1](https://user-images.githubusercontent.com/10425301/38684512-dca

[2018-04-12 14:53] GeorgeActon commented on #3063
<img width="1221" alt="screen shot 2018-04-12 at 10 46 52 am" src="https://user-images.githubusercontent.com/19672343/38685376-c8298bd4-3e3f-11e8-84bc-627b739afc8e.png">

[2018-04-12 14:54] apupier opened #3079 "Automatically choose another unused color for next label creation in Planner"
![automaticallychooseanotusedcolorfornextlabeltocreate](https://user-images.githubusercontent.com/1105127/38685417-26efef46-3e72-11e8-9f3e-c63682452701.png)

[2018-04-12 14:55] rhopp commented on #3075
I'm also impacted by this (rhopp@redhat.com account).
I've successfully reproduced this in incognito mode in chrome browser.
Also deleting cookies, resetiing environment, logging off and back in does not help.
We are basically stuck.

[2018-04-12 14:57] pkettman opened #3080 "'Add codebase' button become inactive"
'Add codebase' button become inactive, see the picture below. The rest of UI is active, for instance I can add a pipeline, etc...

![addcodebase](https://user-images.githubusercontent.com/26871874/38685573-80288b68-3e72-11e8-9c9f-08ccf64a0271.png)

[2018-04-12 14:57] apupier opened #3081 "Useless description due to size of displayed text/content of description when choosing a template"
Currently there is a title and then a truncated description which then contains no other information

Externalized Configuration --> The Externalized Configuration mission provides a basic... --> no new information, we already know the title and we already suppose that it will "provides" something. Except that it is a mission (what is a mission??)
Health Check --> The Health Check mission demontra

[2018-04-12 14:59] apupier opened #3082 "Cropped Backlog Plan UI"
![croppedmenu](https://user-images.githubusercontent.com/1105127/38685735-e3da13d4-3e72-11e8-9eeb-f4a6c51f11b3.png)

[2018-04-12 15:00] apupier opened #3083 "Description label in Backlog Planner is not aligned to other attributes label"
![image](https://user-images.githubusercontent.com/1105127/38685782-01a9d4c6-3e73-11e8-97ee-52807128f6ea.png)

[2018-04-12 15:01] eivantsov commented on #1454
@mattd72 do you have any additional steps to reproduce? Like clicking on not clicking on project explorer space etc.

[2018-04-12 15:02] pbergene commented on #2755
I've done 1264 hits vs api.openshift.io.  1257 of these resulted in the openshift.io wildcard as expected, while 7 returned the openshiftapps certificate.  I think we have our culprit.

[2018-04-12 15:02] apupier opened #3084 "Avoid horizontal scrollbar by default when creating a scenario"
![horizontalscrollbarbydefaultalthouttherearelotofspace](https://user-images.githubusercontent.com/1105127/38685892-524e69c8-3e73-11e8-8e27-26c9536057bc.png)

[2018-04-12 15:03] mattd72 opened #3085 "[~?] Plannner: Cannot expand out Scenario tree after navigating away and coming back"
From the Scenario window, created test_scenario.  Underneath that created a test_experience.  Under the test_experience created a feature and a bug, with task for each.  Navigated away to Experiences tab.  Came back to Scenario tab and expand arrow beside the scenario is no longer active.

Created a new test_scenario_2 with test_experience_2 with test_bug_2, bug_task_2, test_feature_2, feature_tas

[2018-04-12 15:04] apupier commented on #3055
in fact there is a validation which is very limited and which is not matching the description
![namecannotstartwithuppercaseneither](https://user-images.githubusercontent.com/1105127/38685971-86eb623a-3e73-11e8-91ca-2cd1cc738e35.png)
![namecontainsspaceneither](https://user-images.githubusercontent.com/1105127/38685977-88d761e8-3e73-11e8-8348-bbabcfeef53a.png)

[2018-04-12 15:07] apupier opened #3086 "Icons are not aligned in dropdown in planner"
I noticed here but I think it is in several places

![notalignedicons](https://user-images.githubusercontent.com/1105127/38688151-a9f0a07e-3e78-11e8-98fd-d772837d18ad.png)

[2018-04-12 15:10] apupier opened #3087 "ERR_TOO_MANY_REDIRECTS when accessing builds on jenkins.openshift.io"
![toomanyredirectswhenaccessingjenkinsinstanceeveniffinallyredirectedtojenkinsautomatically](https://user-images.githubusercontent.com/1105127/38686345-616bcbb6-3e74-11e8-9fc5-cfc88b3ef5d1.png)

it finally redirects to the correct place but this page shows up for few seconds

[2018-04-12 15:12] joshuawilson commented on #3075
This has been fixed. I had to do a hard refresh `ctl + shft + R` and under the network tab had to `disable cache`.

[2018-04-12 15:12] mmclanerh opened #3088 "[production] Using experimental quicklaunch, stale pipelines are generated when choosing non-default app name"
Steps:
- enabled all internal/experimental features
- went through quickstart (new ui) added new workspace "clickparty0412b"
- quickstart prompts seemed to default to app-test-1 instead of clickparty0412b..  chose "shinytest1" for repo name.
- renamed app-test-1 field during one of the quicklaunch dialogs, to shinytest1
- ended up with 1 pipeline in openshift.io view but a mis-named + abandoned pi

[2018-04-12 15:13] corinnekrych opened #3089 "Feature-flag button displayed as empty when there are features to display"
Accessing a feature by it URL route result in feature-flag not being displayed. An empty icon is displayed even tho there is content.

To reproduce:
- make sure your user-consent is internal
- loggin to OSiO
- go to http://openshift.io/yourusername/yourspace/plan
- see empty lock icon

expected:
not empty lock icon should display Planner as an experimental feature

Reported by @aslakknutsen on mat

[2018-04-12 15:15] dlabrecq commented on #3055
The space name overlay is something we can fix.

The application name validation is performed by calling a service in the app-launcher code (i.e., ngx-forge package) -- the analytics team will have to address that one.

[2018-04-12 15:19] apupier opened #3090 "Typo "Atrributes" in settings to add a work item scenario in Planner"
![typoatrributes](https://user-images.githubusercontent.com/1105127/38686850-97e89dee-3e75-11e8-9439-8d1780cfc7ad.png)

[2018-04-12 15:20] apupier opened #3091 ""Red Hat suggests" tooltip is unreadable"
![unreadbaletooltip](https://user-images.githubusercontent.com/1105127/38686915-c57aee24-3e75-11e8-9afb-bac581f2005b.png)

[2018-04-12 15:21] apupier opened #3092 "Useless up/down arrow to "Add Assignee""
with a single name, it is fully visible no need of it and if it is just a one pixel thing, just increase size of the dialog

![uselessupdown](https://user-images.githubusercontent.com/1105127/38686950-db50a6e4-3e75-11e8-832a-f1df201a5415.png)

[2018-04-12 15:24] apupier opened #3093 "Color of background to "Create a New Space" is not coherent/friendly"
before we are on a screen in majority white/light. having it black is not friendly for my eyes.

At least use same intensity.
At best, keep a light theme

[2018-04-12 15:30] msrb opened #3094 "Unit tests fail for WildFly Swarm HTTP quickstart, but only in Che"
When I run `mvn -X clean test` in terminal in Eclipse Che, I get an error (see below). I am trying to test https://github.com/msrb/click-party-1, an unmodified source code of the WildFly Swarm HTTP Booster.

Note the same project builds just fine in Jenkins.
[code]

[2018-04-12 15:32] mrizzi opened #3095 "OpenShift (not openshift.io) shows and have duplicated pipelines when app and repo name are different"
I created an application named `app-test-1` (the default value in wizard) and then used a different name (`click-party`) for the [repository](https://github.com/mrizzi/click-party) .
This produces 2 different pipelines (`app-test-1` and `click-party`) in the openshift.com UI (Screenshot-0) but only `app-test-1` pipeline is in openshift.io (Screenshot-1).

**Screenshot-0**
![screenshot-0](https://u

[2018-04-12 15:37] RickJWagner opened #3096 "OSIO asks me to Log in at odd times in the workflow"
Example:  Today I started a new workspace, then clicked the link to go view the Build Pipeline-- this resulted in a trip to the Log In screen.
Can we please reduce the workflow to only 1 Log in?

[2018-04-12 15:38] RickJWagner opened #3097 "Navigating to view Build Pipeline can result in circular navigation"
Going to look at the build pipeline was not intuitive.  The links led to some circular navigation.

[2018-04-12 15:39] Preeticp commented on #3086
Are you referring to these drop-downs?
![screenshot from 2018-04-12 21-06-59](https://user-images.githubusercontent.com/16647625/38687996-9f58ed8e-3e95-11e8-82be-9f422dc02c50.png)
![screenshot from 2018-04-12 21-06-17](https://user-images.githubusercontent.com/16647625/38688012-aa389984-3e95-11e8-87a5-92928ab3822e.png)

[2018-04-12 15:40] RickJWagner opened #3098 "Build log produces messages that seem alarming (but maybe shouldn't be)"
Watching the build log, the viewer will see messages similar to these.
Given that the process does not smoothly transition to the next step (which it may eventually), these messages seem alarming.  (Maybe we could provide additional explanatory text?)

  "Still waiting to schedule task
  Jenkins doesn’t have label mavenclickparty1_1"

[2018-04-12 15:40] apupier commented on #3086
yes, I provided the wrong screenshot :s

[2018-04-12 15:42] RickJWagner opened #3099 "Planner 'New Iteration' dialogue box doesn't provide completion button"
Using Planner, added an Iteration and another with first as parent.  'New Iteration' Dialogue box did not close after 'Finish'.

![iterationdialoguestaysopen](https://user-images.githubusercontent.com/524520/38688197-236ab66e-3e3e-11e8-9778-4c7463710cae.png)

[2018-04-12 15:42] sudsen opened #3100 "Import code base attempt gives 404 error"
I tried to import a codebase but can't see the modal where I could paste the Github URL and import as repository. Rather it takes to a 404 if I follow a particular path.

Steps to reproduce -
1. Go to a space page - `https://openshift.io/{username}/{spacename}`
2. Click on `Import Codebase` - It goes to `/(action:add-codebase)`
3. Nothing happens
4. Next try the `+` button in the corner of that wi

[2018-04-12 15:43] RickJWagner opened #3101 "Manually deleting/starting Builds doesn't work smoothly"
Noticed Build2 wasnt working, so deleted it (and Build 3).  Tried to manually start a Pipeline, it added Build 4 but it didn't start.
![buildwontstart](https://user-images.githubusercontent.com/524520/38688273-4741f9c6-3e3e-11e8-8af4-fa6307067bfc.png)

[2018-04-12 15:44] RickJWagner opened #3102 "Slick new workspace wizard doesn't allow scrolling to completion button"
Using new setup wizard, could not scroll to action button (Had to refresh screen, then I could use down arrow button to scroll).

The screenshot below was taken while the page could not be scrolled down.

![setupdoesntscroll](https://user-images.githubusercontent.com/524520/38688336-6b3a70e2-3e3e-11e8-8366-56db05a09ca8.png)

[2018-04-12 16:00] #3075 closed

[2018-04-12 16:17] ldimaggi opened #3103 "Users unable to creaet a new Che workspace in OpenShift.io"
Steps to recreate:
* Create a new space, new app/quickstart
* Attempt to create a new Che workspace
* The workspace fails to start - hangs on this screen:

![screenshot from 2018-04-12 12-09-04](https://user-images.githubusercontent.com/642621/38690136-5a87cb66-3e4b-11e8-9621-936edf03ba51.png)

No errors are seen in the Che6 log:
[code]

[2018-04-12 17:10] ibuziuk commented on #3103
Related to https://github.com/redhat-developer/rh-che/issues/629

[2018-04-12 17:12] corinnekrych commented on #3080
duplicate of https://github.com/openshiftio/openshift.io/issues/3100

[2018-04-12 17:12] #3080 closed

[2018-04-12 17:16] joshuawilson commented on #3097
What did you click on? where did you expect it to take you and where did you end up?

[2018-04-12 17:26] #2925 closed

[2018-04-12 17:30] catrobson commented on #3100
Thanks @joshuawilson.  We do want to remove this option and change this to be "Create an Application" which will open the launcher experience where users can add just codebases, or applications that have pipelines and deployment capabilities built into them as well.

[2018-04-12 17:38] ibuziuk commented on #3103
might be @rhopp is going to perform some load tesing AFAIK

[2018-04-12 17:39] ldimaggi commented on #3084
Can you provide some context here? What is the bug? Thx!

[2018-04-12 17:44] ldimaggi commented on #3077
Multiple people saw this error during the April 12 'click party' - is this caused by all the jenkins requests/jobs being through a single Jenkins user?

[2018-04-12 17:55] ldimaggi commented on #3054
The build failure should have been reported back to the user in the OSIO UI. I have seen this reported in the past.

[2018-04-12 17:59] ldimaggi commented on #3040
Are you able to recreate this issue? The build log and Jenkins pod log might provide some clues to the causes of the delay.

[2018-04-12 18:00] ldimaggi commented on #3034
Is this problem reproducible now?

[2018-04-12 18:01] ldimaggi commented on #3033
Can you retry this now? And - watch the Jenkins pod log - perhaps this was caused by resource contention with many people performing builds at the same time?

[2018-04-12 18:14] RickJWagner commented on #3097
I clicked on the blue 'Buildx' link, it brought me to a screen that seemed more like an overview than something specific to a particular Build.  Screenshots below.

![build1](https://user-images.githubusercontent.com/524520/38695949-61279eda-3e53-11e8-9013-76f9cf321a0d.png)
![afterbuildclick](https://user-images.githubusercontent.com/524520/38695952-64be9bfc-3e53-11e8-86e9-1c5370bf2b91.png)

[2018-04-12 18:26] nurali-techie commented on #3040
The issue has happened around 10:45 IST to 11:10 IST on 12-april-2018.
Let me know if you want me to re-trigger the pipeline for the app to re-try deployment.

[2018-04-12 18:26] eivantsov commented on #3103
@ibuziuk is it still Che starter that is in charge of staring workspaces? According to server log, the workspace has been created but never started. Auto start of workspaces is set to false as far as I understand. Hence, when IDE link is opened in a new tab, there's this message and the IDE does not auto start the workspace.

[2018-04-12 18:30] #2877 closed

[2018-04-12 18:49] joshuawilson commented on #3066
The `ESC` key also gets you out of the side panel view.

[2018-04-12 18:55] ldimaggi commented on #3024
The error message has the answer in it - your account is over quota.

[2018-04-12 18:55] #3089 closed

[2018-04-12 18:55] ldimaggi commented on #3024
Are you requesting a better way to provide this error message to the user?

[2018-04-12 18:56] ldimaggi commented on #3026
Is this problem reproducible now? Thx!

[2018-04-12 19:03] ldimaggi commented on #3021
I am not able to recreate this page - can you try again? Thanks!

[2018-04-12 20:00] evanshortiss opened #3104 "Unable to scroll on a Space homepage"
If the homepage for a Space is run in a window that's less than approx 970px wide the lower tiles are pushed down (response design FTW), but it's not possible to scroll down and see them. 
![screen shot 2018-04-12 at 12 57 26](https://user-images.githubusercontent.com/1303687/38700800-18f6ac16-3e51-11e8-9825-26d1fd4793d5.png)

[2018-04-12 20:03] evanshortiss opened #3105 "Profile - URL input eror checking"
On the user profile screen (https://openshift.io/$USERNAME/_update?bio=true) if you enter a URL such as `abc.com` it turns red and won't let you update your profile until it's prefixed with `https://`. It'd be a better UX to explain the error.

[2018-04-12 20:04] aptmac commented on #3104
Related: https://github.com/openshiftio/openshift.io/issues/1443

[2018-04-12 20:07] radikaled opened #3106 ""Create work item" button does not work and breaks UI"
From the workspace home, click on the "Create work item" button on the lower left-hand side of the "My Work Items" box. Observe that it doesn't take you to the appropriate page and that the URL changes in the browser window to something like this:

https://openshift.io/rhn-support-nkim/nkim-test/(action:add-work-item)

Screenshot attached:

![image](https://user-images.githubusercontent.com/99636/

[2018-04-12 20:12] csheremeta opened #3107 "Page for full detail of work item is cut off at the top, large gray bar at the bottom, cannot scroll"
I cannot see the top of the full detail pages for work items - the text is cut off. Also, I have a large gray bar at the bottom. It looks like the page isn't aligning correctly.
![selection_540](https://user-images.githubusercontent.com/4502875/38701614-59d59bbe-3e6c-11e8-8da2-83dd8f282d86.png)

[2018-04-12 20:14] animuk commented on #3003
I would say this is an existing bug which is there in the legacy flow itself. trick to reproduce is choose a repository to import that has the repo name and artifact id different. then also, you can not see pipleline links in the pipeline UI.

[2018-04-12 20:18] evanshortiss opened #3108 ""Add codebase" button does not work"
When on the screen `https://openshift.io/$USERNAME/Test/create` clicking the "Add codebase" button does not perform any action. It does however update the URL like so `https://openshift.io/eshortis/Test/create/(action:add-codebase)`

[2018-04-12 20:23] csheremeta opened #3109 "When filtering workitems by type, sometimes text is on top of other text"
Specifically, "Experiences" shows up where "Add Work Item" is. Screenshot attached:
![selection_541](https://user-images.githubusercontent.com/4502875/38702131-d01b411a-3e6d-11e8-9f3d-5b87133aa3a4.png)

[2018-04-12 20:31] joshuawilson commented on #3071
duplicate of #2629

[2018-04-12 20:31] #3071 closed

[2018-04-12 20:38] xstefank commented on #3041
Not sure if the same problem. Steps to reproduce:

* In Experiences tab create 3 items
* In Scenarios tab create 2 or less items
* In Experiences tab - Move some columns from Displayed to Available
* Switch to Scenarios
* Switch back to Experience
* Move the columns back to Displayed

![2018-04-12_1915x600](https://user-images.githubusercontent.com/9353101/38702921-277fb0c4-3ea2-11e8-9ada-a78d7283

[2018-04-12 20:40] #3060 closed

[2018-04-12 20:55] aptmac opened #3110 "Deployment charts can be rendered improperly if redirecting to a different page while charts are initializing"
Occasionally, the deployment charts can be rendered in such a way that the chart lines and graphics don't show, but the data points & tooltips still work.

When on the deployments page, if another page is visited (e.g., codebases, pipelines) while the charts are being initialized (a good indicator of this is when the donut charts are white and haven't been filled in blue yet), then upon re-visitin

[2018-04-12 21:18] Gopikrishna19 commented on #2929
@krishnapaparaju @joshuawilson any updates?

[2018-04-12 22:25] alexeykazakov commented on #3096
View build pipeline where? openshift.io buiild/view tab? Jenkins? OpensShift console?
Need more details :)

[2018-04-12 23:01] ebaron opened #3111 "Read environments from Tenant instead of Config Map"
The current Deployments API queries environments from the `fabric8-environments` Config Map [1]. This Config Map does not support more complex scenarios such as namespaces that reside on another cluster or those shared within an organization (https://github.com/openshiftio/openshift.io/issues/350). Instead of using `fabric8-environments`, we should read environments from Tenant with the `/api/user

[2018-04-13 00:51] goodwinos opened #3112 "OSIO Click Party error: "set up new application" phase failed, "no user namespace found for <username>""
During the OSIO Click Party (APAC session), the "setup new application" phase failed (attempted 5 times, same result every time). I was instructed to reset my profile, which I did, and then repeated the steps. Same error. I checked on github, and the repo was correctly created, e.g. https://github.com/goodwinos/attempt6 but the OSIO user-interface reports "No user namespace found for rhn-support-m

[2018-04-13 02:14] joshuawilson commented on #2929
@sivaavkd do you know who should look at this?

[2018-04-13 02:23] ldimaggi opened #3113 "Auto recompile/redeploy fails for REST/SpringBoot app"
Steps to recreate:
* Create new app: REST/SpringBoot
* Observe successful creation of build pipeline
* Observe successful creation of Che workspace
* Edit source files - observe auto compile does not occur

![screenshot from 2018-04-12 22-19-03](https://user-images.githubusercontent.com/642621/38713615-0a1478a0-3ea0-11e8-9398-2471c0c28f4d.png)

Error seen in dev-machine window:

[code]

[2018-04-13 02:38] #3100 closed

[2018-04-13 03:25] animuk commented on #3003
cc @krishnapaparaju @ravsa

[2018-04-13 03:42] mmatsuya commented on #3026
Yes, it's still reproducible.

On Fri, Apr 13, 2018 at 3:56 AM, Len DiMaggio <notifications@github.com>
wrote:

[2018-04-13 03:53] ravsa commented on #3003
@animuk I found the same. If artifact id is same as project name in new import flow links are coming.

[2018-04-13 04:33] Preeticp commented on #3109
Duplicate of #3042

[2018-04-13 05:01] miteshvp opened #3114 "Planner - Description section becomes blank on editing any other property"
In Planner while editing any other property of a work-item makes the description details disappear.

Steps to reproduce
1. Click on any existing work-item having description details filled in.
2. Edit any other property like title/area/iteration/labels.
3. On save, the description details just disappears.

[2018-04-13 05:02] miteshvp commented on #3114
I am not an expert, but is it a side-effect of the fix for https://github.com/fabric8-ui/fabric8-planner/pull/2509

[2018-04-13 05:15] nimishamukherjee commented on #3114
Assigned Sev3 as the content is not lost. If you navigate back to the work item, the description shows up.

[2018-04-13 05:15] invincibleJai commented on #3003
@animuk @ravsa nice, but in legacy wizard user is not supposed to enter app name so it's not a problem for end-user but in new launcher flow user needs to enter app name so it won't be a good user experience as we can't expect user to user same app name as is artifact id in import application

[2018-04-13 05:25] nimishamukherjee commented on #3099
@divyanshiGupta after adding, the modal does not close. Please check.

[2018-04-13 05:26] nimishamukherjee commented on #3092
@SMahil can we hide the arrows if there is only a single user?

[2018-04-13 05:27] nimishamukherjee commented on #3090
@sahil143 please correct the use the correct spelling - "Attributes"

[2018-04-13 05:29] miteshvp opened #3115 "Planner - what is the use of "Add and Open" button"
In Planner for any work-item there is `Add and Open` button displayed.
It results in the same behavior as `Add` button. Is this expected? Or is it suppose to open the newly created work-item as well. If its latter then its a bug.

[2018-04-13 05:30] invincibleJai commented on #3003
@gastaldi am not sure, could be. What is the need to have app name same as artifact ID am not able to understand?

As for legacy wizard pipelines is working fine, not sure if pipelines UI is making use of App name to get routes for stage and prod, which API/sockets it's consuming. I tried debugging couldn't make out completely.

@joshuawilson any help how it works for maybe the right person to rea

[2018-04-13 05:36] miteshvp commented on #3114
@nimishamukherjee - yes that's correct. Content is not lost, but seeing the description went blank, if a user tries to add some details, and save them, original content gets lost. As a first-time user, it was a natural instinct to type those details again.

[2018-04-13 05:37] Preeticp commented on #3022
Lgtm @invincibleJai

[2018-04-13 05:38] miteshvp commented on #3042
@nimishamukherjee - able to reproduce the same on chrome

[2018-04-13 05:39] Preeticp commented on #3042
Chrome @nimishamukherjee

[2018-04-13 05:40] nimishamukherjee commented on #3085
@sahil143 can you replicate this issue? I tried and could not replicate the issue.

[2018-04-13 05:42] nimishamukherjee commented on #3107
Duplicate of #3082

[2018-04-13 05:45] SMahil commented on #3092
is this issue reproducible on Linux/windows only?

[2018-04-13 05:45] vikram-raj commented on #3114
Duplicate #3000

[2018-04-13 05:46] SMahil commented on #3042
here is the PR for this issue : https://github.com/fabric8-ui/fabric8-planner/pull/2532

[2018-04-13 05:46] nimishamukherjee commented on #3074
@vikram-raj can you replicate the issue?

[2018-04-13 05:47] SMahil commented on #3083
here is the PR for this issue: https://github.com/fabric8-ui/fabric8-planner/pull/2477

[2018-04-13 05:48] SMahil commented on #3107
already PR submitted: https://github.com/fabric8-ui/fabric8-planner/pull/2548

[2018-04-13 05:50] nimishamukherjee commented on #3073
Closing this issue as the board view will be re-done completely.

[2018-04-13 05:50] #3073 closed

[2018-04-13 05:51] nimishamukherjee commented on #3072
@soltysh were the changes (open, in progress, etc) done on the board view?

[2018-04-13 05:51] nimishamukherjee commented on #3070
Closing this issue as the board view will be re-done completely.

[2018-04-13 05:51] #3070 closed

[2018-04-13 05:53] nimishamukherjee commented on #3068
@SMahil can you confirm if this is an issue?

[2018-04-13 05:55] nimishamukherjee commented on #3066
@sunilmalagi please confirm the behaviour for notifications when a work item is updated.
Can we go ahead with @catrobson 's suggestion?

[2018-04-13 05:55] sivaavkd commented on #2929
@miteshvp - can you please review this ? cc @joshuawilson @krishnapaparaju

[2018-04-13 05:56] nimishamukherjee commented on #3065
@Preeticp do we have any help for markdown syntax?

[2018-04-13 05:58] Preeticp commented on #3065
No, not at the moment @nimishamukherjee . I will explore this.

[2018-04-13 05:58] nimishamukherjee commented on #3062
@sahil143 can we display the correct number?

[2018-04-13 05:58] nimishamukherjee commented on #3059
@sanbornsen please evaluate?

[2018-04-13 05:59] nimishamukherjee commented on #3057
@sanbornsen is it possible to retain the tree expanded state?

[2018-04-13 06:00] nimishamukherjee commented on #3052
@sunilmalagi please answer.

[2018-04-13 06:06] SMahil commented on #3068
It is likely a browser behaviour

[2018-04-13 06:13] Preeticp commented on #3065
@xcoulon can you please expand on this?
Are you asking for a help link to the supported markdown syntax in our User Guide - https://docs.openshift.io/user-guide.html#adding_description_to_a_work_item ?

[2018-04-13 06:15] nimishamukherjee commented on #3041
@sahil143 try the following:
- deselect columns
- view the table
- add back the columns
- view the table
The columns are distorted.

[2018-04-13 06:28] #3107 closed

[2018-04-13 06:40] nimishamukherjee commented on #2997
@sunilmalagi please recommend. Do we remove the root iteration name across planner and replace it with blank?

[2018-04-13 06:46] nimishamukherjee commented on #3001
@vikram-raj can you have a look.

[2018-04-13 06:47] nimishamukherjee commented on #2998
@SMahil this is a duplicate right? Can you reference the original issue here?

[2018-04-13 06:52] sahil143 commented on #3085
@nimishamukherjee No, I'm not able to reproduce this on prod.

[2018-04-13 06:54] apupier commented on #3084
the problem is that there is an horizontal scrollbar  (and so some information is hidden) although there is a lot of blank space.

[2018-04-13 06:57] SMahil commented on #2994
@nimishamukherjee in comments text and tags are getting rendered from the backend.

[2018-04-13 06:59] SMahil commented on #2998
here is the PR: https://github.com/fabric8-ui/fabric8-planner/pull/2529

[2018-04-13 07:08] rgarg1 commented on #2997
Dup of https://github.com/openshiftio/openshift.io/issues/2411

[2018-04-13 07:17] vikram-raj commented on #3001
@nimishamukherjee @michaelkleinhenz I am not able to reproduce this issue. Is only newly added label are not present in the dropdown or older labels as well?

[2018-04-13 07:31] nimishamukherjee commented on #1831
Fix is in prod.

[2018-04-13 07:31] #1831 closed

[2018-04-13 07:35] nimishamukherjee commented on #1920
@aslakknutsen this has been fixed on prod. Work items are displayed based on a selected space.

[2018-04-13 07:36] nimishamukherjee commented on #2638
Fix is in prod.

[2018-04-13 07:36] #2638 closed

[2018-04-13 07:37] invincibleJai commented on #3102
@animuk this related to https://github.com/openshiftio/openshift.io/issues/3045 @jyasveer is already looking into this. It happens on socket call from the client at times.

[2018-04-13 07:49] animuk commented on #3094
Duplicate issue : https://github.com/openshiftio/openshift.io/issues/2152

[2018-04-13 07:56] msrb commented on #3094
I think you're right. I will let Che people confirm and if it's really the case, please close this one. Thanks :wink:

[2018-04-13 07:58] invincibleJai commented on #3088
@mmclanerh thanks Mike , so if am understanding it correctly osio is showing it correct only 1 pipelines but in os console you see 3 pipelines?

[2018-04-13 08:13] invincibleJai commented on #2821
Closing this as it has been fixed, feel free to reopen if you still see it.

[2018-04-13 08:13] #2821 closed

[2018-04-13 08:14] invincibleJai commented on #2833
This has been fixed

[2018-04-13 08:15] invincibleJai commented on #2820
Closing it, as it's the current way by design.

[2018-04-13 08:15] #2820 closed

[2018-04-13 08:40] soltysh commented on #3072
Yes, it was all done on the board view. The initial state looked like the one linked to https://github.com/openshiftio/openshift.io/issues/3070. Then I moved some cards to open, other to in progress, then I changed the panes on the left (Experiences, Requirements) and when I got back to Scenarios I was again presented with that linked image, which was quite unexpected, tbh.

[2018-04-13 08:48] trepel commented on #3095
Hi there, I just wanted to say I observed very same behaviour during Apr 12, 2018 click party.

In my case no stages had started for app-test-1 pipeline when suddenly the new pipeline (named after the actual name of my github repo) appeared and this pipeline finished before the app-test-1 pipeline. I was also not able to see this pipeline in openshift.io as described.

It happened before I created

[2018-04-13 08:58] invincibleJai commented on #3049
@Preeticp this appears to be fixed, I tried can see as below

<img width="1060" alt="screen shot 2018-04-13 at 2 26 24 pm" src="https://user-images.githubusercontent.com/5129024/38726092-c9babc42-3f26-11e8-9826-a72dfd8ed556.png">

Let me know if you still see this.

[2018-04-13 09:07] Preeticp commented on #3049
Is this on prod?
I still see this, had I added one more word to the space name, I think it would spill over.
![screenshot from 2018-04-13 14-36-02](https://user-images.githubusercontent.com/16647625/38726543-14e9f556-3f28-11e8-9903-2170d73d2845.png)

[2018-04-13 09:21] xcoulon opened #3116 "Enable features by user email"
Being able to configure a feature for a group of users given their email address would allow an even thiner access restriction, which can make sense while a feature is still in a `WIP` state.

[2018-04-13 09:32] corinnekrych commented on #3048
After further discussion with @xcoulon we think it's better to remove the flag `restricted='dev'` and replace it by an implementation on `fabric8-toggles-service`. The proposal is to use a different strategy. Istead of using `enableByLevel` in admin ui, you will use `byUserEmail`. See https://github.com/openshiftio/openshift.io/issues/3116
We think this is a more robust and flexible approach to se

[2018-04-13 09:34] hrishin commented on #2729
### Update:

We hav evalauted mutiple approaches to limit concurrent build for the time being

1. Jenkins throtteling plugin
2. Changing Jenkins configuration to limit the concurrent build execuation
3. Using jenkins proxy

Approach 2 is more fesible option where in we are chaning `<instanceCap>1</instanceCap>` (https://github.com/fabric8-services/fabric8-tenant-jenkins/blob/master/apps/jenkins/sr

[2018-04-13 09:48] animuk commented on #2861
closing this as this issue is not there.

[2018-04-13 09:48] #2861 closed

[2018-04-13 09:56] animuk commented on #2822
closing this as this is a duplicate issue.

[2018-04-13 09:56] #2822 closed

[2018-04-13 10:04] ibuziuk commented on #3103
@eivantsov yeah, che-starter is in charge of starting workpaces. It seems that the issue occurs under some load when dozen of users tries to start a workspace. Assuming that workspace startup is implemented asynchronously it might be a matter of configuring async thread pool executor on che-starter side.

However, if you take a look at description of rh-che issue https://github.com/redhat-develope

[2018-04-13 11:32] nimishamukherjee commented on #2918
@vikram-raj can you have a look. I'm not able to replicate the issue.

[2018-04-13 11:33] nimishamukherjee commented on #2919
We will be re-do the board view in I train.

[2018-04-13 11:33] #2919 closed

[2018-04-13 11:35] sunilmalagi commented on #3002
@maxandersen @nimishamukherjee as of now its implemented as per PF-ng design, earlier I had made a suggestion, here it is: https://redhat.invisionapp.com/share/J4AKB1LCS#/220227075_01_ListView.  I can provide the color specifications if you are able to modify the same.

[2018-04-13 11:36] nimishamukherjee commented on #2995
Duplicate of #2567

[2018-04-13 11:38] SMahil commented on #3086
https://github.com/fabric8-ui/fabric8-planner/pull/2560

[2018-04-13 11:41] nimishamukherjee opened #3117 "Disable create label button if the label name starts with a space"
Disable create label button if the label name starts with a space

[2018-04-13 11:43] arunkumars08 commented on #2840
Just to update, Stack report creates work item of the type 'Bug'.

[2018-04-13 11:49] nimishamukherjee commented on #2990
https://github.com/fabric8-ui/fabric8-ui/pull/2724 fixed this issue.

[2018-04-13 11:49] #2990 closed

[2018-04-13 11:49] #3078 closed

[2018-04-13 11:50] SkorikSergey commented on #2918
Not reproduced.

[2018-04-13 11:50] #2918 closed

[2018-04-13 11:57] nimishamukherjee commented on #3029
@sahil143 are you able to replicate this issue? I'm not able to replicate this issue.

[2018-04-13 12:43] qodfathr commented on #3037
I think what you are really reacting to is the fact that we currently do not have a way to add new pipelines to an existing codebase. Once we have that capability, deleting pipelines makes more sense. For now, this is mainly a way to reduce resource utilization/effectively kill a pipeline forever.

[2018-04-13 13:05] #2056 closed

[2018-04-13 13:16] maxandersen commented on #3037
@krishnapaparaju this is a "sideffect" of no real rationalized/unified model on how pipelines gets configured/setup.

Are you sure delete actually removes the pipelines ? jenkins should still be triggered and what you might be seeing is that this Delete is just done at the UI front level ?

If delete actually goes and remove the webhook call me surprised :)

[2018-04-13 13:24] ldimaggi commented on #3026
I have not been able to recreate this error:

![screenshot from 2018-04-13 09-23-46](https://user-images.githubusercontent.com/642621/38737170-67893e24-3efc-11e8-8dc8-a4ec5896a1d7.png)

Do you still see this error if you resent the environment from your profile? Thx!

[2018-04-13 13:29] ldimaggi commented on #3103
Are the parameters to force the error: 10 users - regardless of whether their accounts are configured on the same or different clusters - if they all attempt to start a workspace in the same ~2 minute window?

[2018-04-13 13:34] mindreeper2420 commented on #3048
@corinnekrych this sounds good - the Home Dashboard has already been merged to master, and the Space Dashboard is in PR. I believe those are the only two pieces that had the `restricted='dev'` flag.

[2018-04-13 13:34] jyasveer commented on #3045
Fix is here https://github.com/fabric8-ui/fabric8-ui/pull/2742

[2018-04-13 13:35] jyasveer commented on #3112
Fix is here https://github.com/fabric8-ui/fabric8-ui/pull/2742

[2018-04-13 13:36] jyasveer commented on #3102
Fix is here https://github.com/fabric8-ui/fabric8-ui/pull/2742

[2018-04-13 13:39] jyasveer commented on #3006
Discussions are going on for this. Currently we are trying out other approaches other than WebSocket which would take care of of the multi pod support.

[2018-04-13 13:42] ldimaggi opened #3118 "Vert.x Health Check quickstart - corrupted text in deployed app on stage and run"
Steps to recreate:
* Create the new app in the launcher
* Upon successful completion of the build pipeline, access the deployed app at the OSIO stage and run endpoints
* See attached screenshot of deployed app:

![screenshot from 2018-04-13 09-36-18](https://user-images.githubusercontent.com/642621/38737955-dc0a7c02-3efe-11e8-8312-0b95800442cf.png)

[2018-04-13 13:43] jiekang opened #3119 "TypeError in recent-workspaces-widget.component.ts"
[code]

I ran local ui against prod and visited the home page.

[code]

undefined and null are distinct. The code should check for both. It could possibly be simplified to:

[code]

[2018-04-13 13:45] jiekang commented on #3119
@dlabrecq Can you take a look at this? Your commit https://github.com/fabric8-ui/fabric8-ui/commit/944420daee3131a0bba040d7b18a87c5daced387 introduced it.

[2018-04-13 13:46] gastaldi commented on #3006
Just an update (probably does not belong to this issue): We're not going to migrate to Server Side Events. I don't know what is the relation of this bug with WebSockets x SSE.

This needs to be investigated, as it seems to be a UI bug.

[2018-04-13 13:46] jiekang commented on #3119
@mindreeper2420 when you reviewed https://github.com/fabric8-ui/fabric8-ui/pull/2720, was this not seen? I wonder what special case you need to hit this scenario.

[2018-04-13 13:51] jyasveer commented on #3006
Ahh my bad. i saw the comment before and replied to it.
This was a known issue and the fix is here https://github.com/fabric8-ui/fabric8-ui/pull/2742

[2018-04-13 13:58] jiekang commented on #3040
Can you provide screenshots of pipelines page, build and pod logs and screenshots of OSO stage/run project consoles?

[2018-04-13 14:00] ldimaggi commented on #3118
Note that the error is not encountered if the app is run in Che and accessed at http://localhost:8080, per the quickstart's README file:

![screenshot from 2018-04-13 09-50-30](https://user-images.githubusercontent.com/642621/38738533-5d6dc2b2-3f00-11e8-9ebf-92539dab4b03.png)

[2018-04-13 14:03] mindreeper2420 commented on #3119
@jiekang When I reviewed, it was all local, so the new Dashboard rendered and not the one that is currently seen in production. Could that be the case? I didn't notice any console errors and the build didn't have issues for me.

[2018-04-13 14:06] tisnik commented on #2898
Implemented via https://github.com/fabric8-analytics/fabric8-analytics-api-gateway/pull/9

[2018-04-13 14:06] #2898 closed

[2018-04-13 14:15] ldimaggi opened #3120 "User docs should remind users that quickstarts/boosters may have unique requirements"
This might be overkill, but some users may encounter unexpected problems running quickstarts/boosters, if they assume that in Che, they can simply select the Che "run" menu option. Each quickstart and booster is unique and may require unique steps, mvn commands, etc. to be run within Che. It would be a good idea to add a note to our user guide to reinforce this with users. Thx!

[2018-04-13 14:15] tisnik commented on #2899
Already on QA Dashboard.

[2018-04-13 14:15] #2899 closed

[2018-04-13 14:38] ldimaggi opened #3121 "Che6 is not automatically stopping workspaces when users attempt to open a new workspace"
Related to https://github.com/redhat-developer/rh-che/issues/629

Steps to recreate issue:
* Create and open a Che workspace in OpenShift.io
* While that workspace is open, attempt to create a 2nd workspace
* The 2nd workspace's browser tab opens, but Che does not automatically stop the first workspace and open the 2nd workspace as was the case in Che5:

![screenshot from 2018-04-13 10-29-26](http

[2018-04-13 15:03] #2355 closed

[2018-04-13 15:04] ebaron commented on #2636
All API cleanup has been completed.

[2018-04-13 15:04] #2636 closed

[2018-04-13 15:40] dlabrecq commented on #3119
I had pushed this fix below and I'm no longer able to reproduce it with a space that has no codebases. If you still see the error after pulling the latest, please reopen.
https://github.com/fabric8-ui/fabric8-ui/pull/2739

[2018-04-13 15:44] andrewazores commented on #3046
This may not be the best place for this question, but why is a "Floating Action Button" design being used for an element that is not a clickable button and performs no action... ?

[2018-04-13 15:54] stooke opened #3122 "Settings: Adding collaborators must distinguish identical names"
Many organizations have more than one person with the same name, or the same person in the system more than once.  The list of collaborators shows only name, but needs to show more information (perhaps email) in the case of duplicate names.

[2018-04-13 15:55] ldimaggi opened #3123 "rest-http - wildfly-swarm Booster/Quickstart fails to run in Che in OpenShift"
Steps to recreate:
* Create a new app, Mission = REST, Runtime = Wildfly
* Observe the build pipeline run through to successful completion
* Create a Che workspace
* In Che, execute the maven command documented in the README: mvn wildfly-swarm:run
* Observe this error:
[code]

Note - running these commands outside of Che are successful:
* git clone git@github.com:username/reponame
* cd reponame
*

[2018-04-13 16:00] jiekang commented on #3119
@dlabrecq I still see this. It's not related to a unit test.

[2018-04-13 16:02] jiekang commented on #3119
![recent-workspaces-null](https://user-images.githubusercontent.com/5430520/38745409-7646de2e-3f12-11e8-8ff0-94382f6753b1.png)

[2018-04-13 16:02] jiekang commented on #3119
The original comment on this issue highlights the problematic code and suggested fix.

[2018-04-13 16:27] andrewazores commented on #3122
This wasn't Planner, this was the Collaborators page, ex. `https://openshift.io/aazores@redhat.com/test-space/settings/collaborators`.

[2018-04-13 16:31] andrewazores commented on #2701
@chrislessard

[2018-04-13 16:33] stooke commented on #3122
Thanks, @andrewazores.

[2018-04-13 16:34] andrewazores commented on #2797
@catrobson just to be sure - all three examples above are using the terms "Delete" and "Remove" correctly, right? ie Delete means some resource or configuration is actually being deleted and will no longer exist, whereas Remove is more like an "unlink" in this case since the GitHub repository still exists but will no longer be associated with the Space.

[2018-04-13 17:12] ldimaggi opened #3124 "health-check - Wildfly-swarm quickstart/booster fails to build - should be removed from OSIO until it builds"
Steps to recreate:
* Create a new app in the laucnher, select mission = Health-check, runtime = WildFly-swarm
* Observe the build fail - error reported in the Jenkins build log:
java.io.IOException: Mount point not found

[code]

[2018-04-13 17:25] dlabrecq commented on #3055
It turns out that validation code already exists for the create space overlay, but it wasn't enabled. To enable, we must declare a couple directives from ngx-fabric8-wit. The create space name overlay should perform the same validation as the existing forge wizard now.

See: https://github.com/fabric8-ui/fabric8-ui/pull/2745

[2018-04-13 17:27] stooke commented on #3046
I believe this could be improved.  When I first saw this, it was bright red, and had a lock icon on it.
To me, that meant "there is something wrong, and you can't change it".
This button obscures text on the page, and can't be removed - in itself that's bad enough.

If I change my settings, the icon and icon colour changes; apparently the icon glyph is a characteristic of my settings and the icon

[2018-04-13 17:58] andrewazores commented on #2797
![screenshot from 2018-04-13 13-56-20](https://user-images.githubusercontent.com/3787464/38750324-951726d2-3f22-11e8-8725-e4fa021dfe3b.png)
![screenshot from 2018-04-13 13-56-39](https://user-images.githubusercontent.com/3787464/38750325-9528b438-3f22-11e8-8115-7618200cbf54.png)
![screenshot from 2018-04-13 13-57-00](https://user-images.githubusercontent.com/3787464/38750326-9537a650-3f22-11e8-815

[2018-04-13 18:33] andrewazores opened #3125 "[2] Clicking on a Deployment Card should expand whole row"
Parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2143

# Task

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/288036404

Clicking on a Deployment Card should expand whole row. Also a "expansion arrow" should be added to the left of the application name. Clicking on the application name or arrow should also expand the row.

[2018-04-13 18:35] andrewazores opened #3126 "[2] Deployments view should have an empty state for "No Applications""
Parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2144

# Task

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/286564374

Deployments view should have an empty state for "No Applications"

# Related

https://github.com/openshiftio/openshift.io/issues/2188

[2018-04-13 18:36] baijum commented on #2927
I think 400 is fine. For example, we are using 400 response for empty space name. Let me know if this is fine.

[2018-04-13 18:36] andrewazores opened #3127 "[6] Deployments view should have an empty state for "None of your applications have been deployed yet""
Parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2144

# Task

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/286564375

Deployments view should have an empty state for "None of your applications have been deployed yet"

# Related

https://github.com/openshiftio/openshift.io/issues/2188

[2018-04-13 18:39] andrewazores opened #3128 "[5] Deployments view "Resource Usage" cards should indicate quota taken by deployments associated with the current space"
Parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2145

# Task

https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/288036404

Deployments view "Resource Usage" cards should indicate quota taken by deployments associated with the current space vs. other spaces the user owns or is a collaborator on.

# Notes

Will require backend support to distinguish which space deployments bel

[2018-04-13 18:47] andrewazores opened #3129 "[4] Deployments API for environment quota should report usage from other spaces as well"
Parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2145

# Task

Response from `/environments` endpoint should include data about not only the user's total resource quota and the current usage, but should also divide the usage into usage by the queried spaceId and usage by all other spaces.

# Related

- [ ] https://github.com/openshiftio/openshift.io/issues/3128

[2018-04-13 18:50] ldimaggi opened #3130 "Health Check/SpringBoot quickstart/booster - Che auto-recompile fails"
Steps to recreate:
* Create new quickstart, mission = Health Check, runtime = SpringBoot
* Observe build pipeline runs through to completion
* Create new Che workspace for quickstart - verify quickstart runs
* Edit source code - observe auto-recompiling does not take place

Error seen in dev-machine window:

[code]

[2018-04-13 18:51] andrewazores commented on #3125
@mceledonia have we interpreted the expansion proposal design correctly w.r.t. which elements are clickable?

[2018-04-13 18:52] baijum commented on #2927
PR send. Waiting for review.

https://github.com/fabric8-services/fabric8-wit/pull/2014

[2018-04-13 19:02] jiekang commented on #3119
@dgutride

I'm on revision ed18ecde1cc573ccf27aace7ce2d5ba2233b1f73 which is one commit ahead of your fix. You need a space with a codebase in it. Having no codebases won't hit the problem as the for loop won't iterate at all.

I've asked others to run local f8-ui against production and they have the issue as well.

If I log the codebase in `initWorkspace` like so:
``
  private initWorkspaces(): v

[2018-04-13 19:14] mceledonia commented on #3046
@stooke @andrewazores @corinnekrych We are exploring other options for where we can put this icon... I think the core idea of having an indicator which expands to show a list of pre prod items works, but I agree the floating action button style is not nearly as effective as planned. This design was actually a response to feedback of not placing the icon in the top bar, as we want to avoid clutteri

[2018-04-13 19:47] ldimaggi opened #3131 "ConfigMap / SpringBoot quickstart/booster fails to build"
Steps to recreate:
* Create new quickstart/booster, Mission = config, runtime = SpringBoot
* Observe build fail:

[code]

[2018-04-13 19:52] jiekang commented on #3119
I added some more console logs in the code that sets the workspaces:

[code]

These are the outputs for my account:

![workspaces-null](https://user-images.githubusercontent.com/5430520/38755113-8c1ffaee-3f32-11e8-816b-115cb33b01e1.png)

Looks like I was wrong, the defaults could be undefined (need to verify), but the code is actually setting workspaces to null for me.

[2018-04-13 19:56] mindreeper2420 opened #3132 "Account for Empty Chart in Work Item Overview card"
## UXD Issue

### Description
Create an empty bar chart (or other identifier) when the Work Items Overview card does not have any corresponding work items to display. Currently, when there are no Resolved/In progress/Open issues assigned to the user, C3 does not display an empty chart.

### Parent Issue(s)
- [PR - Space Dashboard: Added new work item widget](https://github.com/fabric8-ui/fabric8-u

[2018-04-13 20:00] jiekang commented on #3119
Going further, the workspaces api has response:

[code]

Looks like on the API side, it would be preferable to have an empty state instead of a null state. On the UI side, it would be nice to be robust against 'bad' data.

[2018-04-13 21:20] ldimaggi opened #3134 "ConfigMap / Wildfly quickstart fails to build"
Steps to recreate:
* Create a new app/quickstart - select mission= Config, Runtime = Wildfly
* Observe build pipeline fail

Error:
[code]

[2018-04-13 21:59] joshuawilson commented on #3116
is this a task or bug, if a task what is the parent?

[2018-04-14 02:01] #1920 closed

[2018-04-14 03:49] Gopikrishna19 commented on #2929
1. Create a project
2. Select nodejs+mongodb template
3. Fill in the usual information
4. Fill in custom git repository url, I am not using the default openshift nodejs template repo, and my repo had that simple express code (and the only code in the repo):
[code]
5. Wait for the first build and deploy
6. Go to the nodejs pod log
7. See the `Handling /pagecount` logs

[2018-04-14 03:51] Gopikrishna19 commented on #2929
Yesterday, the handler reached a ~5000 hits even though I haven't accessed the server for two days.

[2018-04-14 04:07] miteshvp commented on #2929
@Gopikrishna19 - this looks like you are building a project on `openshift.com`. If that is the case, you should be asking your question here https://github.com/openshift/
This repo is for `openshift.io` and unfortunately it may be confusing.
Please let me know if that is not the case, else, request you to close this one and open a new issue at the link mentioned above.

[2018-04-14 05:06] joshuawilson commented on #3119
I found the PR the fix is in, I merged it.

[2018-04-14 05:06] #3119 closed

[2018-04-14 12:58] fabricepipart commented on #2834
Sadly not much news in 2weeks :(

I finally found a workaround: I disabled the deployment of my maven artefacts. I actually just need the docker images to be published to be able to start the application.
[code]

But note that the wildfly booster does include this maven artefacts deployment by default.

[2018-04-14 22:33] skjolber commented on #2426
Are anyone seeing this on starter-ca-central-1.openshift.com too? My build works, but I'm having problem connecting a mongodb instance to a java application with java.net.NoRouteToHostException: No route to host (Host unreachable)}. This previously worked, so stopped working recently (on redeploy).

[2018-04-15 02:48] ldimaggi opened #3135 "Intermittent issue - user provisioned on starter-us-east-2 - Che workspace does not start automatically"
Probably related to https://github.com/redhat-developer/rh-che/issues/629

This might be related to #2154 - have not yet observed an identifiable pattern - but seeing this late in the evening on April 14.

Steos to recreate:
* Create a new quickstart/app
* Attempt to create a new Che workspace
* Observe the workspace is not created - "Workspace is not running"

![screenshot from 2018-04-14 22-21-5

[2018-04-15 08:02] krishnapaparaju commented on #2384
As discussed @rupalibehera , I guess this issue be taken care if @hrishin has a fix for #2729

[2018-04-15 11:04] mattd72 commented on #1454
Just following the steps listed here: https://docs.google.com/document/d/1KDx05WAk5omKXi7OosRfDTMRDorOt1k6iJrozWWRKZ4/edit
Only one project in the explorer space.

[2018-04-15 12:11] divyanshiGupta commented on #2453
@Raunak1203 this issue can be closed

[2018-04-15 15:25] Raunak1203 commented on #2453
fixed with PR https://github.com/fabric8-ui/fabric8-planner/pull/2509

[2018-04-15 15:25] #2453 closed

[2018-04-15 18:52] abs51295 opened #3136 "Cannot do graph sync once Graph Importer Task fails"
Steps performed:

1. Invoked `bayesianFlow` with `EPV` and  `force_graph_sync=True`.

2. The flow had already been invoked before with `EPV` and it failed at `GraphImporterTask` because of a gremlin endpoint error (in my case, but it can be anything). So it had the entry in the `analyses` table.

3. Now, while the initial invocation failed as mentioned in step 2, I did it again as mentioned in ste

[2018-04-15 18:53] abs51295 commented on #3136
cc: @msrb to have a look and change the severity if needed.

[2018-04-15 21:47] slemeur opened #3138 "New Launcher: default choices and placeholders"
We are missing default choices and placeholder names, so the user could complete the flow quicker, faster and with less efforts. For example, user is asked to setup a name for a repository, but we could pre-fill this one with the name of the application.

[2018-04-15 21:50] slemeur opened #3139 "New Launcher: Navigation to next section is unclear"
As a user, I'm struggling a little bit with what I have to do, to go for the next section in the new Launcher flow.
We have a lot of empty space in the flow and the "next arrow" is hard to find. Users have to scroll to be able to find it. I imagine quite a lot of the users could be a bit confused by that.

[2018-04-15 21:53] slemeur opened #3140 "New Launcher: Left sidebar not enough efficient"
The left sidebar seems to not provide that much value. When using the flow, I'm almost never giving a look at that part of the screen, so it does not help the user to navigate either.
It could an issue with the colors users, but I found myself not using it.

[2018-04-15 21:56] slemeur opened #3141 "New Launcher: "Create" button is hard to find"
At the end of the flow, the new laucnher is displaying the application summary, but it is taking a lot of space. User has to scroll to find the "Create" button which is a bit small compared to the other elements in the screen.

"Create" action should be easy to find and always available - users should not have to put any cognitive load to do the action.

[2018-04-15 22:26] catrobson commented on #3002
@sunilmalagi I don't think that this code is from PF-ng, we handle drag and drop differently in that implementation:  https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/table.  It still doesn't follow recommended guidelines, so we could fix it there, but it still won't fix it in the planner since we are not pulling from patternfly-ng yet.

[2018-04-15 22:27] catrobson commented on #2972
+1 that this should just be 'Type'

[2018-04-15 22:32] catrobson commented on #2763
@chmouel we just created some new loading page standards you can view here:  I think the full page loading bar is what we would ideally want here, but I'm not certain if we have enough information to show a determinate loading bar.  Let us know!

https://redhat.invisionapp.com/share/JKGR07DRUC3#/screens/289269774

[2018-04-15 22:41] catrobson opened #3142 "Wireframes: Teams (8)"
Wireframes for creating, editing, and removing teams from a space based on the workflow identified in #2844.

PARENT: #351

VERIFICATION CRITERIA:
- [x] Wireframes created in sketch and posted to InVision
- [x] Sketch file exists in OSIO google drive
- [ ] InVision link posted to #351

[2018-04-15 22:53] catrobson commented on #2845
@parvathyvr can you link your InVision project here?

[2018-04-15 23:29] catrobson commented on #2797
@andrewazores those look good, and understand not wanting to get into the a-runtime-console code to fix those margins.  Thanks for the updates!

[2018-04-16 03:31] miteshvp commented on #3136
@abs51295 - very detailed. Thanks. @msrb - we should not pop the EPV when `force_graph_sync` is true. WDYT?

[2018-04-16 05:25] Raunak1203 opened #3143 "Custom query: issue with custom query name if first 15characters are same"

[2018-04-16 05:48] jyasveer commented on #3112
@goodwinos changes are in prod now. can you please test and close this. thanks

[2018-04-16 05:48] vikram-raj commented on #3074
@psrna I am not able to reproduce this issue. Can you please provide the steps to reproduce this?

[2018-04-16 05:55] jyasveer commented on #3102
@RickJWagner fix is available in prod now. can you please verify and close this issue.

[2018-04-16 05:57] jyasveer commented on #3045
@rgarg1 fixes are available in prod now. can you please verify and close this issue.

[2018-04-16 05:59] jyasveer commented on #3006
@ldimaggi fixes are available in prod now. can you please verify and close this. thanks

[2018-04-16 06:05] Raunak1203 commented on #2539
fixed with PR https://github.com/fabric8-ui/fabric8-planner/pull/2534

[2018-04-16 06:05] #2539 closed

[2018-04-16 06:31] mishaone commented on #2869
Created and merged PR for two of the three suggestions. No response for #2 so closing this. Please re-open if there is additional work required.
https://github.com/fabric8io/fabric8-online-docs/pull/272

[2018-04-16 06:58] goodwinos commented on #3112
Hi @jyasveer I just tested, and exactly the same result. See attached image. Maybe it isn't quite in prod yet??

![image](https://user-images.githubusercontent.com/4495123/38794122-57d5362a-4197-11e8-9c0d-2ac2b13b8aa2.png)

[2018-04-16 07:13] msrb commented on #3136
@abs51295

Short version:
Good catch Aagam :+1: let's see how we can unblock you here.

Long version:
To be honest, I think this whole `force_graph_sync` thing should be removed from flows completely. We should clearly draw the line between S3 ingestion and graph. Flows should only care about analyzing packages and storing results in S3. And that's it, nothing more. Graph subsystem should be notif

[2018-04-16 07:14] rohitkrai03 opened #3144 "Router redirect doesn't work if there is some `error` param in the previous URL"
Clicking the `Take me home` button on

- https://openshift.io/_error works fine.
- https://openshift.io/_error?error=some_error it doesn't.

[2018-04-16 08:39] SMahil commented on #2998
@debloper We are not making entire block clickable as we already have three different action items inside the block

[2018-04-16 08:39] msrb commented on #2218
Fixed in prod.

[2018-04-16 08:39] #2218 closed

[2018-04-16 08:51] Preeticp commented on #3065
@xcoulon as discussed on mail, as an immediate action point I have added the note below to the 'Adding Comment' (https://docs.prod-preview.openshift.io/user-guide.html#adding_comments_to_a_work_item) and 'Adding description' topics in the user guide(https://docs.prod-preview.openshift.io/user-guide.html#adding_description_to_a_work_item) via PR https://github.com/fabric8io/fabric8-online-docs/pull

[2018-04-16 09:00] ibuziuk commented on #3135
@ldimaggi could you provide openshift events ? Does pressing start button starts the workspace ?

[2018-04-16 09:03] ibuziuk commented on #3121
@ldimaggi is it consistently reproducible or interminate ?

[2018-04-16 09:06] Preeticp opened #3145 "UX for providing help for markdown syntax"
Related to #3065.
As an immediate solution, a note with required links has been added to the docs. (https://docs.prod-preview.openshift.io/user-guide.html#adding_description_to_a_work_item)

@sunilmalagi, as per @xcoulon a direct help link from Description/Comments section in the UX to Markdown documentation would help. Can you please explore further?

[2018-04-16 09:14] psrna commented on #3074
I cannot reproduce Today, but it was a terrible experience during Thursday's click party. May be worth checking if there were some issues with service delivery during that time.

[2018-04-16 10:16] jyasveer opened #3146 "New Launcher Overlay updates as per UXD"
- Update the validation for application name as per UXD
- Add a tooltip to the application name to show the validation rules.

[2018-04-16 10:25] Preeticp opened #3147 "Roundabout work item linking process"
Currrent behavior:
1. We have a huge plus sign with the following text -'Work Item Links' and 'There are no items linked to this issue'. All of this seems redundant as the number highlighted in blue, next to links, mentions 0.
![screenshot from 2018-04-16 15-06-16](https://user-images.githubusercontent.com/16647625/38803825-01387fec-418e-11e8-9ff4-14e7f052fdda.png)

2. Then there is a Create link

[2018-04-16 10:42] #2873 closed

[2018-04-16 10:47] #2313 closed

[2018-04-16 12:26] maxandersen opened #3148 "when trying to create link it says "null" in label"
clicked create link on #2166 and typed in "status page" and on enter I got 'null -status page' in label.

![2018-04-16_14-25-08](https://user-images.githubusercontent.com/54129/38808890-00cf0a82-4182-11e8-9894-f541c7d06032.png)

[2018-04-16 12:27] maxandersen commented on #3148
note, when doing it the opposite direction I get "undefined" instead.

![2018-04-16_14-27-37](https://user-images.githubusercontent.com/54129/38808993-52b8be10-4182-11e8-8628-15f49bad552e.png)

[2018-04-16 12:28] SMahil commented on #3092
PR: https://github.com/fabric8-ui/fabric8-planner/pull/2561

[2018-04-16 12:31] maxandersen opened #3149 "when creating circular links or similar no info shown to user"
when trying to make parent a child or some other invalid linking the only ui feedback that shows up eventually is a upper right hand corner "Problem creating link" layover for a few seconds.

Would have expected an error dialog/info of some sort.

[2018-04-16 12:34] muruGanesan commented on #2869
@mishaone, sorry for the delayed response.
point 2: e.g.
In the current scenario, when you delete the 'space' your builds and workspaces are not cleared from the 'space dashboard'.

Ideally, we need to fix this issue... if NOT possible...
as a temporary solution:  Can add some NOTE -or- Workaround in the documentation? So that the user can be aware of the next step.

I hope it clarifies your doubt

[2018-04-16 12:34] ppitonak commented on #3056
I see this in Firefox console:

[code]

[2018-04-16 12:38] maxandersen commented on #1900
is this still open ?

@pbergene what housekeeping issue are you referring to ?

[2018-04-16 12:55] rgarg1 commented on #3147
I agree with @Preeticp POV that this section needs a UX rethink.

[2018-04-16 13:29] ibuziuk commented on #3135
@ldimaggi could we close it as a duplicate of https://github.com/openshiftio/openshift.io/issues/3103 ?
Those two seems to be identical

[2018-04-16 13:33] pbergene commented on #1900
Jenkins namespace is locked down so can be closed, -run and -stage envs still remain for build.  Status of che is last I heard waiting for SA logic in tenant services.

HK issue is 844

[2018-04-16 13:34] catrobson opened #3150 "Wireframe: Feature flags revisit (5)"
Revisit the feature flags placement on pages that have features that are under a flag.  The floating action button has been identified as not the best design for this purpose, so explore a few other placements and experiences for it.

Verification Criteria:
- [x] Create wireframes for new designs in Slack, upload to Google Drive
- [x] Upload to InVision.  Share with UXD, Eng, PM.
- [ ] Come to con

[2018-04-16 13:43] jiekang commented on #3119
https://github.com/fabric8-ui/fabric8-ui/pull/2740

[2018-04-16 13:47] catrobson opened #3151 "UI Implementation: Applications widget (8)"
Implementation of the applications widget in the space dashboard as designed here:  https://redhat.invisionapp.com/share/F6FETDZBA2D#/283827734_NewSpaceDash1

Verification Criteria:
- [x] Feature built in UI and reviewed with @mceledonia
- [x] Unit tests created for this code
- [x] PR submitted for applications widget with feature flag capabilities

[2018-04-16 13:47] bdellasc opened #3152 "OSIO Launcher - New Error State"
There's an error that can came up during the click party where the user clicks the "Setup Application" button at the end of the launcher flow, but the system has an issue before it can ever get to the status page.

I asked them to send some screen caps of it. They wanted to know how to handle that situation. My gut was telling me to add the error to the Summary section, so they don't leave that UI

[2018-04-16 13:50] hrishin commented on #2729
### Update:

by setting `<containerCap>1</containerCap>` parameter to 1 is limiting the one slave pod at a time while `<instanceCap>` is for limit the number of slaves to spin up. Setting `<containerCap>` to 1 will fix the #2384 as well for time being.

[2018-04-16 13:51] ppitonak commented on #3124
Probably related to #2152

[2018-04-16 13:54] catrobson commented on #2848
Closing as duplicate of https://github.com/openshiftio/openshift.io/issues/2877

[2018-04-16 13:54] #2848 closed

[2018-04-16 13:55] #3051 closed

[2018-04-16 14:02] ppitonak commented on #3084
duplicate of #2296

[2018-04-16 14:10] jiekang commented on #2961
Agreed as obsolete. @andrewazores I think you can close this issue.

[2018-04-16 14:10] lstant opened #3153 "Multiple home UIs rendered vertically"
I'm not sure how I got into this state. I had just created a new space, imported code and was waiting for a Che workspace to start. I went back to the home view and tried to create a new space. Instead of seeing a dialog appear, I just saw the modal backdrop show up, preventing interaction with the UI. I think I tried refreshing the UI and the vertical rendering occurred multiple times but the bac

[2018-04-16 14:16] ppitonak commented on #2285
Any update? As we are moving high-level items to Planner, it's annoying that I cannot open links.

[2018-04-16 14:19] ppitonak commented on #2951
Related to this... if you open a link to an issue (e.g. https://openshift.io/openshiftio/openshiftio/plan/detail/1873), browser window/tab title is "Plan: Detail - OpenShift.io" which is not usable for bookmarks.

[2018-04-16 14:41] CermakM commented on #2783
The implementation of the classifier (which was implemented as a self-containing library) can be found in the [nvd-toolkit], the research and experiments around the task has been documented in both the [nvd-toolkit] as well as in the [POC repository](https://github.com/fabric8-analytics/fabric8-analytics-POCs).

[nvd-toolkit]: https://github.com/fabric8-analytics/fabric8-analytics-nvd-toolkit

The

[2018-04-16 14:46] aptmac commented on #2953
duplicate: https://github.com/openshiftio/openshift.io/issues/2285

[2018-04-16 14:56] andrewazores commented on #3110
This looks suspiciously similar to some c3 async loading stuff we've run into before, but I can't remember what the context for that was last time. @jiekang do you remember?

[2018-04-16 14:57] RickJWagner commented on #3096
Hi @catrobson,
I can't reproduce, unfortunately.  (But this is not an uncommon bug for me to hit, I've seen it several times.)
Related thought:  It's difficult to remember the exact (and complete) series of clicks that lead to some particular bug.  I wish I had a good way to record (or find) my click trail so I'd have a better chance of reproducing bugs.  Any suggestions?
Thanks,
Rick

[2018-04-16 14:58] #3050 closed

[2018-04-16 15:03] RickJWagner commented on #3102
I've confirmed this issue is fixed.  Thanks!

[2018-04-16 15:03] #3102 closed

[2018-04-16 15:03] jiekang commented on #3110
Yes now that you mention it. I think we've looked at this before. c3js runs some timers async and doesn't clean things up properly, so this behavior is 'expected' for c3js.

[2018-04-16 15:03] jiekang commented on #3110
I wonder if I ever filed an issue for it.. Dang.

[2018-04-16 15:17] stooke commented on #3150
I'm not sure if this is the best place for me to make this comment, but the feature flag is more useful than has been articulated.   In fact, with a different user interface, this can be used to enable 'pro' features or other such user category-enabled features.  So the user interface is crucial, but also  should be as non-intrusive as possible.

[2018-04-16 15:32] aptmac commented on #3110
Yeah it looks to be an async problem. The function where the null value is showing up is `c3.convertDataToTargets()` [0], which is being called after loading the new chart data at `DeploymentsDonutChartComponent.updateChart()` [1]. If I put a breakpoint at [1] (or a console log at [0], I haven't been able to put breakpoints into node_modules), I haven't been able to see a null value because it get

[2018-04-16 15:44] jiekang commented on #3110
Ah found it:
https://github.com/fabric8-ui/fabric8-ui/pull/2359

https://github.com/c3js/c3/issues/1205
https://github.com/bcbcarl/react-c3js/issues/22

See my comments in pull request, and there was a mitigation. I'm not sure if this is the same error as you reported, but I expect it to be similar.

[2018-04-16 15:45] jiekang commented on #3110
The mitigation isn't as good when the charts are in the process of loading, unfortunately. I'm not sure how much we can do on our side.

[2018-04-16 15:55] RickJWagner opened #3155 "How can planner items be reconciled to commit logs?"
When using tools like JIRA or Bugzilla to track issues, source control log messages often contain hyperlinks back to the originating issue.  (At the least, a discrete issue tracking number is often used to allow the code reviewer to tie the work back to the issue that caused it.)

How is this done using our planning tool?  How should we decorate source control push messages so the code being commi

[2018-04-16 15:55] aptmac commented on #3110
Ah yes, it seems to be the same error as the c3 issue you've linked above.

[2018-04-16 16:00] andrewazores commented on #2961
Well the EnvironmentWidget either needs to be updated as this issue planned for, or it needs to be removed along with its corresponding DeploymentsService bits. I'll see what the timeline is for the new Analyze dashboard and update this issue accordingly.

[2018-04-16 17:13] dlabrecq commented on #3104
I'm not able to reproduce the issue on either the new or old dashboard layouts. Tested the latest code from master using Firefox and Chrome.

Looking at the browser console errors in the snapshot, I see a routing error which could have been the underlying problem?

That error was fixed by: https://github.com/fabric8-ui/fabric8-ui/pull/2738

[2018-04-16 17:15] andrewazores commented on #3151
@dlabrecq here's my branch where I've refactored the EnvironmentWidget so that it consumes the DeploymentApiService rather than the DeploymentsService. This is how we're intending for non-Deployments areas to consume data from the Deployments backend, so I hope it'll be a good reference for you here. https://github.com/andrewazores/fabric8-ui/commits/environment-widget

[2018-04-16 17:25] catrobson opened #3156 "Loading Indicator for First Time Logging into Openshift.io"
### Description
Replace the blue progress loading bar that pops up when a user is first logging into Openshift.io with the progress bar that is featured in the updated standards which provides more loading information to the user and is more closely aligned with PatternFly.

UI implementation changes across OpenShift.io for loading states.

Link to updated standards: https://redhat.invisionapp.com

[2018-04-16 17:29] catrobson opened #3157 "Widget loading behavior in Space Dashboard (5)"
### Description
If a widget is loading in a dashboard, the loading experience should be replaced with the widget loading experience that is documented in the new standards. That widget loading experience includes disabling the title of the widget, including a spinner, and a context specific loading message that gives the user a better sense of what is loading.

Analytics team would need to impleme

[2018-04-16 17:33] catrobson opened #3158 "Visual Design: Skeleton page loader"
If a page like the deployments page features skeleton content while it's loading, the loading message should be centered, placed within a dialog box, and feature a spinner. The content of the loading message should also be specific to the page that is loading.

The wireframes for this are here: https://redhat.invisionapp.com/share/JKGR07DRUC3
Link to wireframe Github issue: #2870

Create a visual

[2018-04-16 17:43] lwrigh opened #3159 "Line item loading behavior- Codebases Page"
### Description
If a line item is loading, such as on the Codebases page when a workspace is loading, the information within the row should become disabled and the column where the workspace is being created should feature a spinner and a creating workspace loading message inline. This inline loading pattern was based off of the inline spinner that's featured in PatternFly.

Link to updated standa

[2018-04-16 17:58] jiekang opened #3160 "Websocket connections for pipelines pages eventually close with error"
If you stay on 'create/pipelines' page for a lengthy duration (30 minutes? definitely if 1 hour or more), the console will log the websocket connections failing with broken close frame containing reserved code. See image below.

I'm not sure if this affects the functionality of the page since I'm not familiar with how the page is supposed to work. Maybe the code reopens them already and the log ca

[2018-04-16 18:13] jiekang opened #3161 "UserService.currentLoggedInUser is racy in fabric8-ui"
As of this issue's creation date:

ngx-login-client:UserService initializes the logged in user in the constructor [1]. A broadcast of 'loggedin' will trigger an async http request to acquire user information, with currentLoggedInUser set once the request completes. Thus the value of 'currentLoggedInUser' will not be set until two async actions occur.

1. Broadcast of 'loggedin'
2. Http request com

[2018-04-16 19:03] #2496 closed

[2018-04-16 19:28] nickboldt opened #3162 "On an issue's detail page, the links aren't links"
On a page like https://openshift.io/openshiftio/eclipse-che/plan/detail/57 I see there's a link to its parent issue in the details pane on the right side. But that link isn't a clickable link -- I can highlight it, but I can't click on it to get back to https://openshift.io/openshiftio/eclipse-che/plan/detail/41

This is kinda lame, since if I look in the preview view, the links DO work:

![image]

[2018-04-16 20:35] andrewazores commented on #2961
Not obsolete after all. The widget may or may not end up being removed, so I'll assume it will be around for some time and move ahead on refactoring it.

[2018-04-16 21:55] chrislessard opened #3163 "Change background color for "Create" and "Planner" tab toolbars"
Discussion was had in this pr https://github.com/fabric8-ui/fabric8-ui/pull/2711 where @jiekang, @mceledonia and I agreed that the navigation bars for the "Create" and "Planner" tabs, which currently look like this :

![v1](https://user-images.githubusercontent.com/17230733/38837225-26b9bce8-419f-11e8-8bd5-1be19248e3f4.png)

![v2](https://user-images.githubusercontent.com/17230733/38837224-26acfbb

[2018-04-16 22:16] chrislessard opened #3164 "Re-examine refresh flows for connected accounts"
The refresh flows for connected user accounts - namely Github and Openshift - were discussed in [this PR](https://github.com/fabric8-ui/fabric8-ui/pull/2711) and are being formalised here.

Regarding Github, when a user refreshes their account, this necessarily causes a page redirect. Why was this done ? Need it always be this way ? The current behaviour at the time of writing is defined [here](ht

[2018-04-16 22:25] alexeykazakov commented on #3164
GitHub and OSO account linking is basically a regular OAuth2 login flow.
It involves redirecting users to GH/OSO to login then back to OSIO.
We don't control logins on the OSO or GitHub sides. It's up to OSO/GitHub to handle it.

Please note that re-connecting an account users the same flow/API as connecting it the very first time. If the connection already exists then we will update the stored to

[2018-04-16 22:30] chrislessard commented on #3164
@alexeykazakov Understood. Are the words "refresh" and "reconnect" interchangeable in this context ? Also, do you think the current approach for refreshing OSO - in which the user is disconnected first, then reconnected - should be changed ?

[2018-04-16 23:27] ldimaggi commented on #3135
The problem shows the same dialog as #3103 to the user - but - unlike #3103, this errors occurs when there are no/few active users.

[2018-04-16 23:37] alexeykazakov commented on #3164
Yes.

The disconnection step is just not needed here. It doesn't break anything but it's just not needed. It used to be required but not anymore.

[2018-04-17 00:09] joshuawilson commented on #3161
cc @dgutride @christianvogt

[2018-04-17 00:11] joshuawilson commented on #3161
This is what we hope to fix by going to ngrx to store that kind of information.

[2018-04-17 00:27] joshuawilson commented on #3104
I can't reproduce this in the dashboards in prod. Closing.
@evanshortiss if you can provide steps to reproduce this, please reopen.

[2018-04-17 00:33] joshuawilson commented on #3153
I can't reproduce it using the steps you listed. Are you able to?

[2018-04-17 00:34] #3084 closed

[2018-04-17 01:07] mindreeper2420 opened #3165 "Update Documentation for Status Dropdown Removal"
As part of https://github.com/openshiftio/openshift.io/issues/2859, the Status Dropdown will be removed from the OpenShift.io UI. This needs to be reflected in the documentation.

[2018-04-17 05:03] mmatsuya commented on #3026
What I did are..

1) go and login to https://openshift.io/_home
2) select a created space in "Recent spaces"
3) click "Add to space" in Pipelines.
4) click "import existing code"
5) select "helloworldvertx2" and click Next.
6) select "Release, stage, approve and promote", and click Next.
    NOTE: "Override jenkins and POM files" is selected by default. I didn't
change it.
7) just click Finish in

[2018-04-17 06:03] sahil143 commented on #3002
@catrobson @sunilmalagi [ng-drag-drop](https://github.com/ObaidUrRehman/ng-drag-drop) is being used for drag and drop.
"Green plus sign" is shown under mouse cursor if the workitem is droppable. We acknowledge the problem. The implementation is little tricky. As of now, it's not blocking the drag n drop or reordering feature. We shall start working on it shortly.

[2018-04-17 06:05] GeetikaBatra commented on #2702
@msrb, @sivaavkd . This will be a spill over.

[2018-04-17 06:06] sahil143 commented on #3029
@nimishamukherjee No, I'm not able to reproduce this issue on prod.

[2018-04-17 06:17] miteshvp commented on #2883
@msrb - any updates here? Can we close this issue?

[2018-04-17 06:39] miteshvp commented on #2694
@ldimaggi - any updates here? Can we close this if not recurring?

[2018-04-17 06:42] miteshvp commented on #2343
@msrb - any updates here? Have we experienced this again?

[2018-04-17 06:44] miteshvp commented on #642
@jyasveer - I guess this has been handled. Can you point me to the PR? If not, any ETA on this?

[2018-04-17 06:47] #2783 closed

[2018-04-17 06:54] animuk commented on #3138
@invincibleJai It looks to be relevant in the only new app launcher flow and not affecting the import flow. because in import flow, user need to choose the repo explicitly.
cc @slemeur

[2018-04-17 06:56] nimishamukherjee commented on #1814
Fix available on prod.

[2018-04-17 06:56] #1814 closed

[2018-04-17 07:12] invincibleJai commented on #3138
@animuk makes sense for create flow i.e Quickstarts as user need not have to retype repo name if app name value good otherwise he can edit it.
One scenario I can think of is if user types app_name as "app-123" and we prefill repo name with "app-123"  but if user already has that repo name in his org then we'll be as well showing error message below i.e `Duplicate: app-123 already exist as user/app

[2018-04-17 07:26] msrb opened #3166 "The audit log data for failed workers is not in DB"
_From @tuxdna on March 22, 2018 13:7_

We have BookKeeping API to retrieve worker results for give EPVs. However when a worker fails, all we get is None for `started_at` / `ended_at`.

Here is an example when GraphImporterTask fails:

https://gist.github.com/tuxdna/b49a3ea484177a0cb53c4960ef9b6c59#file-gantt_charts-ipynb

We need a way to store worker audit log irrespective of whether a worker suc

[2018-04-17 07:39] samuzzal-choudhury opened #3167 "OSIO Gemini Server: Productization"
# Description
This user story contains the tasks required to productize the Gemini Analytics Server that scans OSIO applications for any existing security vulnerabilities in their respective dependencies set.

**Ecosystems To Be Supported:** Maven, Python, Node and Go.

## Task List
- [ ] ~~Gemini Server: Develop `/scan` endpoint to initiate osioAnalysisFlow.~~
- [ ] ~~Create a scheduled job to pe

[2018-04-17 07:58] msrb commented on #2702
@GeetikaBatra Ack, please add story points. Thanks :wink:

[2018-04-17 08:01] GeetikaBatra commented on #2702
@msrb, Sure, on it :D

[2018-04-17 08:05] GeetikaBatra commented on #2699
@msrb, I think we can close this one. :)

[2018-04-17 08:10] slemeur commented on #3138
If we pre-fill information on behalf of the user, we should not pre-fill with values that cause errors. We should take care of that for the user - but inform him that we did change the repo name.

If `app-123` repo is already taken, then why not moving forward with `app-123-2` and display a message bellow: `user/app-123 repository already exist, renamed the repository to user/app-123-2`

@catrobso

[2018-04-17 08:15] GeetikaBatra opened #3168 "Python module/library for comparing Maven versions"
## Task Description:
Currently, maven versions can be compared by utilizing maven versioning package that resides in maven-artifacts. Since most of the Fabric8 code is python based. This implementation will provide a python module for version comparison.

## Task List
- [ ] Understand how maven versioning works.
- [ ] Create a method parse version which will  breakdown the version and push into re

[2018-04-17 08:22] rgarg1 opened #3169 "Sort filter values in alphabetical order"
Area/Assignee/Creator/Label names listed in the Planner's filter toolbar are not sorted in any order and looking up an area in a big list could be user unfriendly.

The lists should be sorted in an alphabetical order for easy accessibility.

[2018-04-17 08:37] samuzzal-choudhury commented on #3167
Resource requested to the service delivery team: https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1742

[2018-04-17 08:38] samuzzal-choudhury commented on #3167
Need to revert the PR https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/604 as the messaging to the feature team has to be private.

[2018-04-17 09:00] rgarg1 commented on #3092
LGTM @SMahil

[2018-04-17 10:32] ppitonak commented on #2694
I observed it couple of minutes ago

[2018-04-17 11:37] msrb commented on #2343
@miteshvp yes, we did.

[2018-04-17 11:41] sivaavkd commented on #2328
@krishnapaparaju - any update on this ? can you verify if this is still a problem ?

[2018-04-17 12:26] maxandersen commented on #2757
Nice; i would say its more likely to have no connection to github or not have working credentials. Good both issues are helping each other here.

[2018-04-17 12:48] maxandersen commented on #2996
I get less whitespace in a smaller monitor but I still have to click show more to scroll in anything with more than a few lines. Very tedious.

[2018-04-17 12:50] maxandersen commented on #3002
the drag'n'drop on https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/table is better as rows moves "out of the way" to see where things will land.

[2018-04-17 13:04] mmclanerh commented on #2755
Has anyone checked that the current time is accurate across all the nodes?

[2018-04-17 13:05] Preeticp opened #3170 "Similar names for work item type groups and work item types could confuse end users"
In the left pane of Planner the work item type groups, Scenarios and Experiences, should have different names than the work item types they group together. Scenarios club together Scenario, Fundamental and Papercuts. Experiences club together Experience and Value-Proposition.

![screenshot from 2018-04-17 16-14-52](https://user-images.githubusercontent.com/16647625/38871045-437ec534-426d-11e8-962f

[2018-04-17 13:12] maxandersen opened #3171 "Takes 30+ seconds to be told 404 for a non existing page"
https://github.com/openshiftio/openshift.io/issues/2731 is now fixed which is great; but before I fairly fast got a 404 page I'm now having to wait 30+ seconds.

https://prod-preview.openshift.io/does/not/exist was what I tried as seems #2731 is not fully deployed yet.

[2018-04-17 13:35] sara-02 commented on #2883
@ldimaggi Can you please provide any update on this issue?

[2018-04-17 14:09] sunilmalagi commented on #3145
@nimishamukherjee @michaelkleinhenz @Preeticp I would like to know if you want to implement suggestion made by Xavier.

If yes, I can provide 2 options, they are:
Option 1:  Provide a link for help which opens up https://docs.prod-preview.openshift.io/user-guide.html#adding_description_to_a_work_item

Option2: Provide 2 links saying  "Markdown Syntax  &  Extensions" which opens 2 different pages r

[2018-04-17 14:15] andrewazores commented on #2887
Pinging for feedback on the demo linked above - @joshuawilson @catrobson @mceledonia

[2018-04-17 14:17] sara-02 commented on #2883
@msrb ^^ :/

[2018-04-17 14:43] debloper commented on #2998
@SMahil I've submitted the fix here fabric8-ui/fabric8-planner#2564 - please take a look.
It also includes part of the style changes used in fabric8-ui/fabric8-planner#2529; thanks for that!

[2018-04-17 14:49] debloper commented on #3169
Duplicate of #2604

[2018-04-17 14:50] debloper commented on #3169
Can you please verify the PR https://github.com/fabric8-ui/fabric8-planner/pull/2524
If this works for you for the WI types, I can just extend it for other filters and update the PR.

[2018-04-17 14:53] maxandersen commented on #2499
@joshuawilson was this issue closed by accident?

[2018-04-17 14:55] maxandersen commented on #2499
about `npm ci` it does not only make things faster; it will also fail builds if package.json has changes that are incompatible with package-lock.json (http://blog.npmjs.org/post/171556855892/introducing-npm-ci-for-faster-more-reliable) thats exactly what is needed imo to get some sanity.

cc @michaelkleinhenz

[2018-04-17 15:27] andrewazores commented on #3040
Related / same bug? https://github.com/openshiftio/openshift.io/issues/2985

[2018-04-17 15:47] kwk commented on #2996
@maxandersen I tried to make a joke and have said multiple-times that the "Show more" crap is trying to solve a problem we don't have yet. It is classic premature optimization.

[2018-04-17 15:48] kwk commented on #2996
Let's get rid of the pencil that is only showing on mouse hover as well and make it an always visible pencil as well. All those small details make the UI unusable on mobile.

[2018-04-17 16:01] andrewazores commented on #2746
@joshuawilson not sure who owns this page. Can I take this bug?

[2018-04-17 16:05] catrobson commented on #2887
I don't think the toast notifications are needed or that helpful, so I would vote for removing them since we're taking you to a full page error experience.  Otherwise this looks good to me!

[2018-04-17 16:11] andrewazores commented on #2887
Okay, will remove the notification and finalize the PR. Thanks.

[2018-04-17 16:16] jiekang opened #3173 "EnvironmentsWidget shows link to application even if it has 0 deployments (0 pods)."
If you set a deployment to 0 pods, the link is still shown and clicking it will result in the standard Application is not available page. The widget should hide the link if there are no pods deployed.

[2018-04-17 16:47] aptmac commented on #3046
It looks like there are plans to redo this feature completely [0], but as a short-term work-around until then would it make sense to make the button moveable? I came up with a quick PoC that shows what it could look like:
![moveable-feature-footer](https://user-images.githubusercontent.com/10425301/38884107-997a248c-423c-11e8-960a-9d707672d485.gif)

[0] https://github.com/openshiftio/openshift.io/

[2018-04-17 16:58] aptmac commented on #3021
This particular issue should have been amended in https://github.com/fabric8-ui/fabric8-ui/pull/2738, @liangxia can you confirm?

Actually using the add work item controls is broken for me, but this behaviour should be fixed.

[2018-04-17 17:13] ldimaggi opened #3174 "OSIO developer's name appears in Jenkins pod log"
Just noticed this in a Jenkins pod log:

[code]

[2018-04-17 17:38] aptmac opened #3175 "Stack report modal overlay can persist if opened not via the hyperlink"
**Description:**
If the stack report modal is opened by clicking one of the cards within the "Stack Report Recommendations" widget on the dashboard, then closing the modal will not result in removal of the darkened screen overlay.

**Steps to reproduce:**
1. Go to a space analyze page
2. On the dashboard, click any of the "Security Issues", "Licenses", or "Insights" cards to open the stack report.

[2018-04-17 18:18] ldimaggi opened #3176 "Intermittent issue - attempting to view Jenkins build log fails"
Seeing this issue intermittently today - when attempting to view a running build pipeline's Jenkins build log:

[code]
Workaround - trying a second time seems to work every time.

[2018-04-17 18:47] msrb commented on #2883
Hmm, we will need to figure out how to keep data in staging up-to-date. We don't actively analyze new versions in prod-preview. This happened because dependencies in quickstarts got updated.

In any case, I can see the data on S3 and should be also in graph. We should be good (for now).

[2018-04-17 19:02] andrewazores commented on #3173
I'll start this once https://github.com/fabric8-ui/fabric8-ui/pull/2755 is merged.

[2018-04-17 19:49] aptmac commented on #3020
@RanjithRV & @rootAvish is this an issue that you're seeing frequently? I was having a hard time reproducing this.
I did however notice that if I logged out, cleared my cache, then logged back in, I would encounter this error on the first instance of going to a space -> analyze page. After a refresh or reload of the page, I am unable to see this - so it only occurs on the first instance of viewing

[2018-04-17 20:02] ashumilova commented on #2745
The preflight requests are not properly handled by Che, and thus OPTIONS requests fail with 403, when try to interact with Che server directly from UI.

[2018-04-18 01:07] sdash-redhat opened #3177 "HDD Designs to Support Summit Talks"
To support the talks at Red Hat Summit around HDD concept, we need to ensure, we have broadly the following items  reviewed and ready :

1. The concept with high-level workflow involving experiment, hypothesis, creation of metrics and unit of measurements.
2. The updated story (based on the review discussion on 16th April. ) should reflect in the concept
3. The dynamic-map visualization that refle

[2018-04-18 02:16] liangxia commented on #3021
From the workspace home, click on the "Create work item" button on the lower left-hand side of the "My Work Items" box.
![screenshot from 2018-04-18 10-08-04](https://user-images.githubusercontent.com/4716987/38907987-e24eee36-42f0-11e8-9f96-4132b532f6c9.png)

A page show up with "Choose a new work item type". But instead, click create on the top.
![screenshot from 2018-04-18 10-08-22](https://use

[2018-04-18 03:30] mishaone commented on #2869
Hi @muruGanesan - no worries. I'm happy to keep this open till your feedback is satisfied. To clarify, when I referred to number 2, I meant *Sample-2: User pipe-line > build failed [4.4. Working with pipelines]*. My question about this was that the previous steps are about the pipeline indicator getting to *running*. In this case, it's unlikely the *edit pipeline* option would not appear. I'll add

[2018-04-18 03:46] ldimaggi opened #3178 "Intermittent build failures - s2i EXITCODE 0[ERROR] F8: Failed to execute the build [Unable to build the image using the OpenShift build service]"
For about 7 hours on April 17, users provisioned on starter-us-east-2 saw a consistent pattern of failed builds:  Caused by: java.net.SocketTimeoutException: timeout

The problem seemed to resolve at about 23:00 April 17 (Boston time zone).

I don't have any pod logs or events from this time period - was any maintenance being performed at this time?

[code]

[2018-04-18 05:17] aslakknutsen opened #3179 "Unable to create a space resource via auth service causing 500 in WIT"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/3187/

"Deprovisioned" user attempting to "Create Space" trigger a 401 unauth in "Auth Service" which causes 500 in Wit.

[code]

[2018-04-18 05:26] miteshvp commented on #2883
@msrb - I confirmed the data is now available on stage. I still think we need to re-work on the success of stack reports. I feel checking unknown components may not be the right approach. Let's discuss this during our cabal.
@ldimaggi - please reopen if you still see unknown deps on prod-preview.

[2018-04-18 05:28] #2887 closed

[2018-04-18 05:28] miteshvp commented on #3040
@nurali-techie - this looks like you are out of quota for the app to be deployed. Can you go to openshift console and paste the stage and run projects overview?

[2018-04-18 05:33] animuk commented on #3112
@jyasveer Could you please let me know whether this is taken cared of. If yes, close this.

[2018-04-18 05:41] animuk commented on #3045
@rgarg1 Closing this for now. If you experience again, you can reopen.

[2018-04-18 05:41] #3045 closed

[2018-04-18 05:45] animuk commented on #3032
Duplicate issue :https://github.com/fabric8-launcher/launcher-booster-catalog/issues/189

[2018-04-18 05:46] animuk commented on #3032
known issue. degrading to sev3

[2018-04-18 05:53] CermakM opened #3180 "Implement remaining feature hooks into nvd-toolkit"
Basic feature hooks have been implemented into [nvd-toolkit's FeatureExtractor](https://github.com/fabric8-analytics/fabric8-analytics-nvd-toolkit/blob/master/src/toolkit/transformers/extractors.py). However, there are various feature hooks left, ie. uppercase hooks, artifact/product comparison, etc..

Once implemented, find an optimal combination of feature hooks yielding best classification resu

[2018-04-18 05:58] invincibleJai commented on #3088
it seems to be duplicate of https://github.com/openshiftio/openshift.io/issues/3095

[2018-04-18 06:09] goodwinos commented on #3112
@animuk @jyasveer
I just retried yet again, and the problem is not resolved. EXactly the same result as re-reported 2 days ago (see above).

Regards
-- Mark

[2018-04-18 06:28] msrb opened #3181 "IntegrityError('(psycopg2.IntegrityError) duplicate key value violates unique constraint"
Yet another flavor of https://github.com/openshiftio/openshift.io/issues/2218.

This time in component-level flow.

[code]

[2018-04-18 06:44] nurali-techie commented on #3040
@miteshvp yup my bad, I was checking resource quota for preview/default rather stage/run.  I have removed app from stage and run and re-trigger pipeline my my new app "node-manager" and now I can see it's coming up in stage and run.

Thanks for all the help and sorry for the trouble caused by my mistake.  Closing the issue.

[2018-04-18 06:44] #3040 closed

[2018-04-18 06:49] maxandersen commented on #2996
yes, I know it was a joke - just wanted to point out that the amount of whitespace isn't the real issue ;)

[2018-04-18 07:06] maxandersen commented on #2970
changing the hand only makes it less weird (the UI will at least not be "lying").

But in general I believe it is bad/ineffective UX to have primary navigation points be so hard to click /cc @catrobson wdyt ?

If kebab being a child of the container is a problem then lets fix that instead - could introudce a container to have the label in that takes up all width for example.

[2018-04-18 07:31] msrb opened #3182 "Mercator worker returns empty results"
Package `io.vertx:vertx-web::3.5.1` analyzed in prod-preview:

[code]

That's not correct as the package has dependencies: http://central.maven.org/maven2/io/vertx/vertx-web/3.5.1/vertx-web-3.5.1.pom

This problem must have been introduced recently.

[2018-04-18 07:32] msrb commented on #3182
Recently=last month or so

[2018-04-18 07:38] msrb commented on #3168
@GeetikaBatra I think we can move the task list to https://github.com/openshiftio/openshift.io/issues/2702 and close this issue.

[2018-04-18 07:41] msrb commented on #2621
Thanks @tuxdna :wink:

[2018-04-18 07:41] #2621 closed

[2018-04-18 07:43] GeetikaBatra commented on #3168
@msrb, sure. :)

[2018-04-18 07:44] #3168 closed

[2018-04-18 07:50] msrb commented on #2702
@GeetikaBatra we still need the story points for this issue :wink:

[2018-04-18 07:53] GeetikaBatra commented on #2702
@msrb, updated :D.

[2018-04-18 08:06] rkratky commented on #3120
@mishaone Perhaps an admonition in [4.12. Configuring your Che workspace](https://docs.openshift.io/getting-started-guide.html#configuring_your_che_workspace-hello-world) in the GSG?

[2018-04-18 08:49] debloper commented on #3148
Issue with the backend.

[Just verified](https://api.openshift.io/api/search?spaceID=020f756e-b51a-4b43-b113-45cec16b9ce9&q=remove), the response sent for the typeahead lookup does send the WI ID as null/undefined.

[code]

[2018-04-18 08:56] rkratky commented on #2849
@joshuawilson Is this still tracked as a bug, or can it be closed now that the behaviour has been documented?

[2018-04-18 08:56] msrb commented on #1093
@tuxdna any ETA on this issue? If this is going to take more than 1 day, then please pick different issue from the current sprint. We have SEV-2 issues that we need to close. Thanks :wink:

[2018-04-18 09:15] animuk commented on #3141
@catrobson any further status update on the above for the UX team point of view.

[2018-04-18 09:15] animuk commented on #3140
@catrobson any further status update on the above for the UX team point of view.

[2018-04-18 09:16] animuk commented on #3139
@catrobson any further status update on the above for the UX team point of view.

[2018-04-18 09:17] animuk commented on #3138
@catrobson any further status update on the above for the UX team point of view.

[2018-04-18 09:27] CermakM opened #3183 "[5] Maven package name from commit hash"
#### Background:
It is often a case that for a single CVE ID, multiple PRs for different ecosystems get open, as there is a similar package name in the other ecosystem. The goal of this task is to track the commit hash w.r.t the changed files and find the correct package name.

It is sufficient to handle only Maven ecosystem, in this task.

#### Input
The function will receive path to a GitHub pro

[2018-04-18 09:27] CermakM commented on #3183
cc @msrb

[2018-04-18 09:28] tuxdna commented on #1093
@msrb Yes, this one will take more than 1 day for sure. Which SEV2 issue do you mean ?

[2018-04-18 09:28] debloper opened #3184 "Discussion on optimizations on ngrx implementation"
Participants: @christianvogt @sanbornsen @joshuawilson @rohitkrai03 @debloper

- Caching/concurrency issue with data store (needs SSE/Socket.IO)
- Transformation of fetched data and at which level (computed values)
- Normalization of data to avoid unnecessary re-renders
- Whether it's worth moving away from 2-way data binding to unidirectional data (Joshua)

[2018-04-18 09:33] michaelkleinhenz commented on #3000
Possibly the same issue: when I open the quick preview of a WI, edit the title, then (without closing the qp), switch to a different WI, the title value gets "pinned" and is the one from WI#1 regardless of the selected WI.

[2018-04-18 09:36] #3116 closed

[2018-04-18 10:07] rkratky commented on #2516
@jyasveer What's the documentation task in this issue?

[2018-04-18 10:11] rkratky commented on #1842
The old PDF is no longer used, and all remaining issues have been addressed in https://docs.openshift.io/getting-started-guide.html (and https://docs.openshift.io/getting-started-guide.pdf). Closing.

[2018-04-18 10:11] #1842 closed

[2018-04-18 10:14] rkratky commented on #1758
The old PDF is now deprecated, and the new doc (https://docs.openshift.io/getting-started-guide.html, https://docs.openshift.io/getting-started-guide.pdf) doesn't have this problem. Closing.

[2018-04-18 10:14] #1758 closed

[2018-04-18 10:22] #1757 closed, assigned to qodfathr

[2018-04-18 10:38] sivaavkd commented on #2584
Added severity.  Please modify as needed

[2018-04-18 10:48] tuxdna commented on #3182
Running ingestion for this package on local machine gives

[code]

So it looks like the issue is reproduced.

[2018-04-18 11:27] invincibleJai commented on #3152
@bdellasc one sample scenario is :

- When user tries to `setup app`, some input data may be wrong i.e 400 bad request/ 500 internal server error. ( these are not so common scenario but we need to had to handle it in generic way)

<img width="1670" alt="screen shot 2018-04-18 at 4 53 07 pm" src="https://user-images.githubusercontent.com/5129024/38929250-58848b00-4329-11e8-886a-a6f1dca973a9.png">

[2018-04-18 11:36] jyasveer commented on #3146
fix is here in this PR https://github.com/fabric8-ui/fabric8-ui/pull/2761

[2018-04-18 12:35] ppitonak commented on #3178
I could reproduce on the first try.

[2018-04-18 12:43] gastaldi commented on #2988
@ldimaggi please retest. The booster was updated this week

[2018-04-18 13:18] aptmac commented on #3021
Neat, thanks for the screenshots!

[2018-04-18 13:24] catrobson commented on #3141
@slemeur When we did user testing, users had no problem seeing the create button.  However, the cards were not extending beyond the content, so the create button was normally viewable on screen.  Let's fix the cards being taller than they should be and leave the create button as is unless we start to see issues with the button itself.

[2018-04-18 13:41] mmclanerh commented on #3077
This is likely something performing un-authenticated calls to GitHub.  This is based on the error message showing a limit of "60" (vs 5000+).

https://developer.github.com/v3/#rate-limiting

[2018-04-18 14:30] pbergene commented on #3077
@krishnapaparaju leaving a ping here following todays ic.

[2018-04-18 14:37] sdash-redhat opened #3185 "High-level HDD concept with "Pod-Memory" Use-Case"
This is a task to engage with stakeholders in-order to contribute in solutioning so that a high level concept can be developed based on the stakeholder's vision and Hypothesis-Driven Development (HDD) principles taking into context the practical and potential usage in the target user segment.
This will involve:

- [ ] 1.   Understanding and articulate the vision and translating it into a tangible

[2018-04-18 14:46] sdash-redhat opened #3186 "Updated HDD concept with replaced Use-Case of "Users.Registration""
Update the concept based on the new use-case related to "Users Registration & Button Sizes" as per review feedback (16 Apr 2018) with PM.

This will include the following :
1. Updating the concept (latest reviewed version 2.0.6) to change the UI labels, associated list items, and associated data reflected on the UI .
2. Change the data visualization/ graph etc. reflected on the UI
3. Misc changes

[2018-04-18 14:53] sdash-redhat opened #3187 "Dynamic Map Visualization for Builds and Experiments"
Create a data-visualization map that shows the real-time status of builds, experiments, experiment status for a given hypothesis. This should also provide auto/semi-automatic controls to the user to control the experiments running and move the build to production.

This will include:
1. Conceptualizing the workflow.
2. Translating the workflow to UI and associated interactions.
3. Engage with stak

[2018-04-18 14:56] sdash-redhat opened #3188 "Miscellaneous Support Activities for HDD Summit Talk"
This is a generic task for any support work and the work/smaller tasks not covered in any of the associated story and its subtasks.

[2018-04-18 15:07] tisnik opened #3189 "Provide 100% integration test coverage for all supported packages/components (vertx, ...)"
## This epic is about improving integration tests code coverage

- [x] #3490 [2] Implement check of any form of metadata against selected schema for package-level metadata
- [x] #3488 [3] Implement check of any form of metadata against selected schema for component-level metadata
- [x] Tests for package level metadata for `io.vertx-vertx.core` stored in the S3
- [x] Tests for component level metad

[2018-04-18 15:15] tisnik opened #3190 "[½] Add fabric8-analytics-nvd-toolkit repository to the QA Dashboard"
Add `fabric8-analytics-nvd-toolkit` repository to the QA Dashboard

https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-04-18 15:32] jiekang commented on #3171
One part of this is that visiting a page via the browser url constitutes visiting a 'new' page, resulting in the initial loading of the entire angular application. This is a good number of seconds. Apart from cutting down the load time, I'm not sure we can do much about it.

Another part is that certain parts of the url are variable, representing the user name or the space name, etc., so a request

[2018-04-18 15:35] jiekang commented on #3104
Yeah. I can reproduce as well; there is no scrollbar for any page after visiting the Planner

[2018-04-18 15:44] andrewazores commented on #3171
I can't see how the commit that went in (https://github.com/fabric8-ui/fabric8-ui/pull/2686) to fix the issue you referenced could possibly increase the time to reach the 404 state. All it's doing is rewriting the URL displayed in the browser URL bar when the 404 state does get hit - all of the logic and lead up to getting to that 404 page, which is what's going to take measurable time, is untouch

[2018-04-18 15:52] #2962 closed

[2018-04-18 17:01] ldimaggi commented on #3178
Are all users on the cluster affected?

[2018-04-18 17:08] #2714 closed

[2018-04-18 17:09] bdellasc commented on #3152
@invincibleJai - Before I mock anything up, here's what I would expect to happen:

1. User clicks the blue "Set Up Application" button
2. Error 400 or 500 triggers, and we show a custom error message with a blue primary action button to return the user to the Launcher summary section (they could also click the "Back" button in the browser).
3. Because the information from the Laucher UI was cached

[2018-04-18 17:33] jyasveer commented on #3006
closing this for now. please reopen if the issue persists.

[2018-04-18 17:33] #3006 closed

[2018-04-18 17:40] #2961 closed

[2018-04-18 17:43] mmclanerh commented on #3077
This may be related? At the very least, it's a very similar error -- which points to a problem within Jenkins:

https://issues.jenkins-ci.org/browse/JENKINS-44776

[2018-04-18 17:51] andrewazores commented on #2921
Closing as all child tasks have been completed. `DeploymentApiService` is available and ready for external consumers (and `EnvironmentWidget` has already become the first), and `DeploymentsService` has been cleaned up for Deployments-area specific usage.

[2018-04-18 17:51] #2921 closed

[2018-04-18 18:04] andrewazores commented on #2757
I'm not sure if there's any design or plan to have a more visible "GitHub is disconnected" application state for the user. Would this be something that might become a persistent notification in a global notification drawer, for example? Having such a notification might alleviate the need to have specific handling for this case in each view that touches the GitHub connection.

In the short term, wo

[2018-04-18 18:15] bdellasc commented on #3014
Met with @mindreeper2420 , @Essjaysee , @mceledonia on current state of prototype. Here's the to-do list coming out of that meeting. We'll regroup when Adam has something new to show:

**Notes on Centered Nav**:
- [ ] Remove carat & pipe from user piece. No menu under user when it’s not the focus
- [ ] Add carat to space icon
- [ ] No accompanying text when a section is not the focus
- [ ] Differe

[2018-04-18 18:42] andrewazores commented on #3144
@joshuawilson I can look into this since I've been dealing with the router and other navigation tasks lately.

[2018-04-18 18:45] andrewazores commented on #2889
I think this ask should be canceled in light of recent design updates - see https://github.com/openshiftio/openshift.io/issues/3129 . We now do have a reason to pass the spaceId with the environment resource usage requests.

[2018-04-18 18:47] andrewazores commented on #2786
Unassigning Chris as he will be away.

Considering that the data units will change within the data interval for every deployment that is younger than the data interval length, I think this should gain some priority.

[2018-04-18 18:52] jyasveer commented on #3112
@goodwinos let me check it again. i think i have to dig this more.

[2018-04-18 18:54] jyasveer commented on #3044
@animuk @ravsa can you please have a look at this. This is something to do with the server side calls. Thanks

[2018-04-18 19:00] andrewazores commented on #3144
This was done intentionally:

https://github.com/fabric8-ui/fabric8-ui/blame/master/src/app/shared/login.service.ts#L86

but I don't know the context of why this choice was made. The login service sees the "error" parameter, sends a notification, and then simply stops. This leaves the `openShiftToken` property of the service undefined, which presumably is why the "Take me home" button doesn't work

[2018-04-18 19:37] #3179 closed

[2018-04-18 19:49] dlabrecq commented on #3144
I know that when the error param is provided, the message is displayed as a notification message. Although, the _error page message is probably no longer appropriate for that?

"404: You've found something, but not the page you're looking for"

At one time, LoginService set a message via ErrorService, prior to navigating to _error, but that no longer appears to be used. I suspect that a REST API p

[2018-04-18 21:46] gastaldi opened #3191 "Create new Space is broken"
I am getting errors when creating a new space in prod-preview:
HTTP Error 500: `{"errors":[{"code":"unknown_error","detail":"EOF","status":"500","title":"Unknown error"}]}`

[2018-04-18 21:47] gastaldi commented on #3191
@sbose78 can you have a look at this? This is breaking our integration tests

[2018-04-18 21:49] gastaldi commented on #3191
Sentry issue: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/3247/

[2018-04-18 22:03] ebaron commented on #2889
For the resources page [1], we'll still need something to show environment quotas for whole namespaces. This will end up being a separate API method from the one used by the deployments page though.

[1] https://redhat.invisionapp.com/share/FWFGF7VXMB8#/screens/282415828

[2018-04-18 22:11] alexeykazakov commented on #3191
Caused by https://github.com/fabric8-services/fabric8-wit/commit/f704d8cbd38e1ef04e923a0127cc176f96e165c6

[2018-04-18 22:37] ebaron commented on #2985
This also occurs when creating an application using "Import an existing codebase". The new launcher allows you to specify a custom application name, and defaults to `app-test-*`, which is likely different from the Maven artifact ID. See below, application is named `app-test-1`, but repository (and artifact ID) is named `mynewvertx`:
![screenshot from 2018-04-18 17-28-14](https://user-images.github

[2018-04-19 01:12] mishaone commented on #3165
PR created and merged to remove the references and screenshots of the tenant status: https://github.com/fabric8io/fabric8-online-docs/pull/279

[2018-04-19 01:12] #3165 closed

[2018-04-19 01:16] mishaone commented on #2869
@muruGanesan the beedback you specified in the samples should be fixed now on https://docs.prod-preview.openshift.io

Is there any other feedback you have for this issue, or are we good to consider this closed?

[2018-04-19 02:16] mishaone commented on #3178
Update, tested due to len's request. I'm on east-2 and it works.

[2018-04-19 03:04] ldimaggi commented on #2988
Same problem is still there:

![screenshot from 2018-04-18 23-04-10](https://user-images.githubusercontent.com/642621/38969174-e2fa5aa2-435c-11e8-9785-5c59252e061b.png)

[2018-04-19 03:24] #3191 closed

[2018-04-19 03:58] #3048 closed

[2018-04-19 04:53] muruGanesan commented on #2869
@joshuawilson, @mishaone, @rkratky,

Please close this issue and thanks

[2018-04-19 04:55] krishnapaparaju commented on #3077
@pbergene Ack. looking into this..

[2018-04-19 05:01] jaseemabid commented on #2977
Related https://github.com/fabric8io/fabric8-build-team/issues/53

[2018-04-19 05:06] mishaone commented on #2869
Thanks @muruGanesan

[2018-04-19 05:06] #2869 closed

[2018-04-19 05:09] jaseemabid commented on #3058
[code]

This is not even a build issue, but a network issue.

[2018-04-19 05:29] miteshvp commented on #3077
@pbergene @krishnapaparaju as I said earlier, I could see my github credentials being used while building. Snapshot below
<img width="811" alt="image" src="https://user-images.githubusercontent.com/17736013/38972851-a4f2571e-43c0-11e8-82b2-79186c09bf15.png">

[2018-04-19 06:32] abs51295 opened #3192 "Add support for package-lock.json in mercator"
Currently, we only support `npm-shrinkwrap.json` in mercator as a [lock file](https://github.com/fabric8-analytics/mercator-go/blob/master/handler_templates/handler_npm#L6) for `package.json`. Since npm@5 a new lock file [package-lock.json](https://docs.npmjs.com/files/package-lock.json) was introduced and hence we need to support that as well.

[2018-04-19 06:33] abs51295 commented on #3192
/cc: @msrb @miteshvp

[2018-04-19 06:55] msrb commented on #3192
This should be easy. According to the docs, `package-lock.json` and `npm-shrinkwrap.json` should be identical: https://docs.npmjs.com/files/shrinkwrap.json.

[2018-04-19 06:56] rootAvish commented on #2694
@sivaavkd This should be a SEV-3, it's not breaking anything in prod.

[2018-04-19 06:57] rootAvish commented on #2063
@sivaavkd This should be deprecated to SEV-3, it's not a prod issue.

[2018-04-19 07:01] rgarg1 opened #3193 "Different toast notifications in Analytics and Planner"
The notifications used in Analytics and Planner look different and are also different functionally. From the user experience perspective, the look and feel across OSIO pages should be uniform.

# Analytics notifications
- Gray and white in color
- Close button

# Planner notifications
- Green and white in color
- No close button

![analytics notification](https://user-images.githubusercontent.com/

[2018-04-19 07:01] rgarg1 commented on #3193
Cc @catrobson @SMahil

[2018-04-19 07:09] abs51295 commented on #3192
@msrb while we work on adding support in mercator, I worked on a hack to add support for `package-lock.json` in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/612.

[2018-04-19 07:15] jyasveer commented on #3152
@bdellasc i doubt we can go back to the same state as we were in Summary screen. I have to see the feasibility here

[2018-04-19 07:15] rgarg1 opened #3194 "Analytics 'thumb' feedback button has no feedback"
The detailed stack analysis reports has _Thumbs up_ & _Thumbs down_ buttons to register user feedback, but clicking on those two buttons result in no feedback from the buttons that the feedback was actually registered. The only feedback is in form of the toast notification that shows up on top of the page, far from the buttons itself.

Expectations:
The buttons can either turn solid, to indicate a

[2018-04-19 07:25] miteshvp commented on #833
@Preeticp @samuzzal-choudhury any updates here?

[2018-04-19 07:28] corinnekrych commented on #3150
@mceledonia recently we've introduced a new rollout strategy with @xcoulon see: https://github.com/fabric8-ui/fabric8-ui/wiki/fabric8-toggles#enable-by-emails we can display a WIP feature to a set of users only. Should those features be displayed in the floating icon?
note that atm, we display only enableByLevel features.

[2018-04-19 08:02] Preeticp commented on #3065
@rkratky, thanks, I was unaware of this help page. We can definitely change the first link to point to https://access.redhat.com/help/markdown.

For the extensions link, https://github.com/russross/blackfriday was used by @xcoulon as a library with a number of extensions, https://github.com/fabric8-services/fabric8-wit/blob/master/rendering/markdown.go#L12-L29
Tables for example weren't rendering

[2018-04-19 08:09] rkratky commented on #3065
@Preeticp I'm not sure I follow. Does OSIO support some special  MD extensions?

[2018-04-19 08:55] rgarg1 commented on #3194
Additionally, it would help if it has an info-tip that explains how that feedback is going to be used? Is that going to reflect on the dependency's Github page? Or it's purely internal for analytics consumption purposes. This needs to be made explicit.

[2018-04-19 09:13] ibuziuk commented on #3135
@ldimaggi in this case, could you please provide openshift events?

[2018-04-19 09:13] sara-02 commented on #3194
@rgarg1 Currrently we are just storing the feedback per stack_id. We are currently not running any analysis on the feedback, but it will be purely for internal purpose/internal analytics consumption.
As for the UI changes @arunkumars08 should be able to help you.

[2018-04-19 09:16] rgarg1 opened #3195 "Link to the related GitHub repo is missing from the Analytics report"
The analytics stack report detail page is missing the link to the GitHub repository, for which its displaying statistics. Without the GitHub link, it becomes a guessing game to identify the right repository it is referring to. See snapshot and try to locate the GH link:

![analytics stack report sample](https://user-images.githubusercontent.com/28748448/38982452-81f8a14a-43df-11e8-9a7a-416b719ee90

[2018-04-19 09:17] sara-02 commented on #2858
@stooke can you check for unknown dependencies again, and for `com.fasterxml` can tell if the insight was for alternate or companion. Also can you place a screenshot of the empty insights.

[2018-04-19 09:26] miteshvp commented on #3195
@rgarg1 - this is expected and not a bug. Changing it to feature-requests.

[2018-04-19 09:50] xcoulon commented on #2867
Looking at the logs for the `auth` service, the problem seems to come from the resource deletion in Keycloak:

[code]

[2018-04-19 09:51] xcoulon commented on #2867
@sbose78 @alexeykazakov is there something we can do about such errors ?

[2018-04-19 09:56] jyasveer commented on #642
@miteshvp We had a Stack Analysis Report revamp. This has been handled where the dashboard would show the recommendations for the latest pipeline build. We can close this issue

[2018-04-19 10:10] adisakala commented on #2352
@pradeepto @krishnapaparaju please priortize accordingly.

[2018-04-19 10:17] Raunak1203 opened #3196 "New space creation: Clicking cancel throws error , "Space Name is required to create a Space.""
Steps:

- Select New space create Experience
- Now click cancel it throws error "Space Name is required to create a Space."
![new space creation](https://user-images.githubusercontent.com/34271052/38986028-c71a7cf4-43e8-11e8-8853-0f0494b1212c.gif)

[2018-04-19 10:22] Raunak1203 opened #3197 "Pressing Enter should create a new space (2)"
Steps:

- Click create space
- Provide a space name.
- Now Pressing enter should create a new space

[2018-04-19 10:30] tuxdna commented on #3182
This is the output I get from `mercator` present in worker-ingestion container:

[code]

With mercator compiled from master branch and additional debug statements uncommented I still get this output:

[code]

It appears to be that there is a bug in Mercator.

[2018-04-19 10:32] sara-02 commented on #2858
@stooke What quickstart was this? `http` or `health-check`

[2018-04-19 10:33] Raunak1203 opened #3198 "Clicking Ok button twice while creating a new space throws error, "Failed to create space" but space is created"
![new space error](https://user-images.githubusercontent.com/34271052/38986689-caf6ff08-43ea-11e8-9368-1aef80f6ca4f.gif)

[2018-04-19 10:50] tisnik commented on #2790
Implemented via:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/526
and
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/527

[2018-04-19 10:50] #2790 closed

[2018-04-19 11:03] tisnik commented on #3190
Implemented via:
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/525
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/527

[2018-04-19 11:03] #3190 closed

[2018-04-19 11:04] pkajaba commented on #3182
@tuxdna rename `vertx-web-3.5.1.pom` to `pom.xml` and it will work.

it's because of this https://github.com/fabric8-analytics/mercator-go/blob/master/handlers/java_handler/src/main/java/mercator/MercatorJava.java#L47

[2018-04-19 11:15] sanketpathak opened #3199 "Extra Space in 'Select Mission and Runtime' step"
Need to scroll down too much to go to the next step which is not comfortable

![screenshot from 2018-04-19 16-43-22](https://user-images.githubusercontent.com/10252230/38988517-1182746a-43f1-11e8-97b5-031fc9d0ac32.png)

[2018-04-19 11:26] Raunak1203 opened #3200 "Extra space in header when moving from settings to plan tab"
Steps:
- Click settings
- Now click Plan tab
![screenshot from 2018-04-19 16-55-20](https://user-images.githubusercontent.com/34271052/38988892-7fb3e4c2-43f2-11e8-98f8-3921d85bf90e.png)

[2018-04-19 11:33] debloper commented on #2970
@catrobson can you please post a highlighted bounding box reference to show what you mean, just so that your point is taken beyond any possible confusion?

FWIW, the PR I submitted, makes the entire `.f8-itr__header` (the highlighted area) receptive to clicks and changes cursor accordingly. Should we make it so that `.f8-itr__header` element is stretched to fill up the empty spot upto the kebab me

[2018-04-19 11:35] tisnik opened #3201 "[½] Fix build failure of fabric8-analytics-auth repository main build job"
Fix build failure of `fabric8-analytics-auth` repository main build job:

[code]

[2018-04-19 11:45] baijum commented on #2285
The issue is with gzip middleware which is part of [goa.design](https://goa.design). This issue has been fixed in `1.3.1` version of goa.design.

But upgrading goa.design requires upgrading another dependency (uuid package) because of this fix in goa.design: https://github.com/goadesign/goa/pull/1492
Since that package has changed some API, lots of code change is required in backend.

[2018-04-19 11:49] baijum commented on #2285
Some more clarification about the API, we use a function named `uuid.NewV4` to generate random UUID which requires two arguments:
https://godoc.org/github.com/satori/go.uuid#NewV4
But in the current code base we expect 1 argument.

[2018-04-19 11:59] ldimaggi commented on #3178
https://github.com/fabric8io/fabric8-test/pull/612

[2018-04-19 12:03] tisnik opened #3202 "Code refactoring: the recommender.py module from f8a-server-backbone repository"
RFE: code needs to be refactored in the `recommender.py` module from `f8a-server-backbone` repository. Namely those methods:

`filter_versions`

https://github.com/tisnik/f8a-server-backbone/blob/53fdd35f09673f3557da7b769acc024866356c1d/src/recommender.py#L149

`execute`

https://github.com/tisnik/f8a-server-backbone/blob/53fdd35f09673f3557da7b769acc024866356c1d/src/recommender.py#L413

[2018-04-19 12:08] pmacik commented on #2578
@ldimaggi +1

[2018-04-19 12:27] slemeur commented on #3138
We have only few things to handle on this:
- We should have a placeholder for the project name. Then, use that name for the repository too.
- We should default the "personal" organization of the user.

The flow should be very fast to execute and requires as less as possible of interaction. The user should be freed to input text.

@animuk why don't you move forward on the proposal I gave?

[2018-04-19 12:28] slemeur commented on #3139
@animuk : I think here you can start by reducing the space between each sections.

[2018-04-19 12:28] kwk commented on #2285
@baijum These are the changes from v1.3.0 to v1.3.1: https://github.com/goadesign/goa/compare/v1.3.0...v1.3.1 I can see no reason not to update to 1.3.1.

[2018-04-19 12:36] sivaavkd commented on #2963
@arunkumars08 @invincibleJai - is this still open ?  Do we want to move to 148 ?

[2018-04-19 12:37] sivaavkd commented on #2853
@sara-02 where are we with this ?  Is this spilling over to 148 ?

[2018-04-19 12:38] sivaavkd commented on #2810
@sanketpathak Where are we with this ?  Is this spilling over to 148 ?  Please update accordingly.

[2018-04-19 12:39] sivaavkd commented on #2517
@jyasveer - Where are we with this ?  Is this spilling over to 148 ?  Please update accordingly.

[2018-04-19 12:40] invincibleJai commented on #2963
@sivaavkd issue has been already fixed by @arunkumars08 here is the PR https://github.com/fabric8-ui/fabric8-recommender/pull/442 , I don't think changes are in prod yet though.

[2018-04-19 12:42] sivaavkd commented on #2516
@jyasveer Where are we with this ?  Is this spilling over to 148 ? Please update accordingly.  cc @GeorgeActon
@animuk - if this needs to be reassigned to somebody else, please review that.

[2018-04-19 12:44] sivaavkd commented on #2481
@msrb This is a spill over which I am moving to 148.  Can you assign it to somebody else, since Jirika is not working on this anymore ?

[2018-04-19 12:47] sivaavkd commented on #2326
@abs51295 Can you close this and create a new story for 148 ? I believe the stretch items mentioned in this story will become the items for 148. cc @samuzzal-choudhury

[2018-04-19 12:47] sivaavkd commented on #1897
@pkajaba @msrb This is spilling over to 148, moving it again.

[2018-04-19 12:49] sivaavkd commented on #2045
@humaton  Where are we with this ?  Is this spilling over to 148 ?  Please update accordingly. cc @msrb

[2018-04-19 12:49] sivaavkd commented on #1084
@msrb Where are we with this ?  Is this spilling over to 148 ?  Please update accordingly.

[2018-04-19 12:50] sivaavkd commented on #1077
@tisnik  Where are we with this ?  Is this spilling over to 148 ?  Please update accordingly. cc @msrb

[2018-04-19 13:03] sara-02 commented on #2853
@sivaavkd Yes.

[2018-04-19 13:04] kbsingh commented on #3077
@miteshvp the log above clearly stats anonymous access; so if you can confirm that every github access made through your run infact used the creds, it might not be the same thing

[2018-04-19 13:05] miteshvp commented on #2326
Closing in favor of https://github.com/openshiftio/openshift.io/issues/3167

[2018-04-19 13:05] #2326 closed

[2018-04-19 13:08] miteshvp commented on #3077
@kbsingh - I can confirm every build used my git creds correctly. Maybe a re-validation might help here.

[2018-04-19 13:12] jfchevrette commented on #3077
Where is the jenkins-slave getting the github user token from? From what I can see the slave pods appear to mount a secret called **jenkins-hub-api-token** and at this time the value from that secret is **null** for all tenants.

[2018-04-19 13:27] miteshvp commented on #3077
It picks it from secret `cd-github` under user namespace

[2018-04-19 13:30] mmclanerh opened #3203 "When starting a new build with the experimental features enabled, the pipeline isn't created before the link to the pipeline is ready"
![image](https://user-images.githubusercontent.com/33727536/38993754-c25121f4-43e4-11e8-8f6e-4fcec2812123.png)

The link here goes through openshift.io, rather to the proper openshift online cluster.

This should probably go to:  https://console.starter-us-east-2.openshift.com/console/project/mmclane-1/browse/pipelines

[2018-04-19 13:31] mmclanerh opened #3204 "While waiting for a build to finish, i seem to have been logged out without any user notice."
Appears I am logged out after ~10 minutes, while waiting for build to complete:

![image](https://user-images.githubusercontent.com/33727536/38994446-b49c52c0-43e6-11e8-86aa-9dcf65d59d28.png)

[2018-04-19 13:36] aptmac commented on #3175
Duplicate of: https://github.com/openshiftio/openshift.io/issues/2328

[2018-04-19 13:36] #3175 closed

[2018-04-19 13:38] aptmac commented on #2328
I'm currently seeing this in production, I had filed it as another issue a couple days ago (so I've closed that one and re-opened this one).

I have made a gif to show exactly what I'm seeing:
![report-overlay-bug](https://user-images.githubusercontent.com/10425301/38994747-3e3f095a-43b5-11e8-8156-a8bec0f8ddac.gif)

If opening the report either by clicking the link or clicking one of the three car

[2018-04-19 13:39] andrewazores commented on #3144
Would it make sense in this case to just make the error param check into its own standalone if-statement, removing the "else" after it? So instead of (paraphrasing):

[code]

it would simply become:

[code]

This should allow the login service to resume its normal flow so that it remains in a good state regardless of the error parameter, but the error is still reported. Again, not sure what the co

[2018-04-19 14:10] jiekang commented on #2985
I would not be surprised if a lot of the pipelines code makes assumptions that various names are equal. There was already one bug related to this found with PR opened: https://github.com/fabric8-ui/fabric8-ui/pull/2754

[2018-04-19 14:36] chmouel commented on #2352
Looking

[2018-04-19 14:48] sdash-redhat commented on #3187
Shared the first draft of Canary switching concept (v 0.0.1) with Mitch for review discussion scheduled for tonight.
Internal document link shared over email.

HDD Status Visualization Map - 0.0.1- 16Apr 2018.pdf
HDD Status Visualization Map - 0.0.1- 16Apr 2018.pptx (source )

[2018-04-19 14:52] #3173 closed

[2018-04-19 15:13] ldimaggi commented on #2989
Confirmed - it's working now in production - https://github.com/fabric8io/fabric8-test/tree/master/ee_tests

[2018-04-19 15:15] patternfly-build commented on #3144
Spoke with @dgutride regarding the error param and this code may be left over from when we had implemented our own authentication? It could be that Kubernetes returned this parameter, but the current login doesn't appear to reach this code.

I'm thinking that the error parameter can simply be removed? @alexeykazakov may now if Kubernetes still provides the error param? That is, unless @rohitkrai03

[2018-04-19 15:25] rohitkrai03 commented on #3144
@andrewazores @patternfly-build This scenario was not specific to login page. We have a page for verification of email which will be having some error param if needed. Something like this - https://openshift.io/_verifyEmail?verified=false&error=some_error
And there is a button for redirect to home which doesn't work because of the bug.

[2018-04-19 15:26] invincibleJai commented on #3138
Thanks @slemeur for inputs, we are working on it.

we currently have Project name prefilled with "app-test-1", by placeholder you mean should not have it prefilled but have a placeholder message like "Please enter Project Name"?

We have handled it.

[2018-04-19 15:36] dlabrecq commented on #3144
I was logged in as @patternfly-build

Considering that the verification email has its own error page, we should probably remove the error param code from the login service. We don't want to display that as an additional notification message.

[2018-04-19 15:59] chmouel commented on #2352
Note that we already have the `failedBuildsHistoryLimit` option :

![image](https://user-images.githubusercontent.com/98980/39003554-b318d25c-4418-11e8-8a37-d7062c4208dd.png)

[2018-04-19 16:02] ldimaggi commented on #3178
Seeing this on prod-preview too:

![screenshot from 2018-04-19 12-01-36](https://user-images.githubusercontent.com/642621/39003755-89b022b6-43c9-11e8-8f86-91226b5620db.png)

[2018-04-19 16:09] parvathyvr commented on #2278
Invision link with the highlevel userflow for this experience :https://redhat.invisionapp.com/share/UGGTL037K95#/screens/290869536
Please go through it and comment your thoughts.

[2018-04-19 16:14] ldimaggi commented on #3178
The pattern is consistent - the error is:
[code]

[2018-04-19 16:14] rohitkrai03 commented on #3144
@andrewazores @dlabrecq We do need to handle the error param because /_verifyEmail doesn't send the notification. Also, just had a talk with @alexeykazakov that we might need to handle errors for login as well (probably in future). So, removing it altogether is not a good idea.
I did try the logic @andrewazores mentioned above for splitting `if...else` for error handling and it solves the problem.