[2018-05-31 12:17] kishansagathiya commented on #3617
To give an idea of how much work should be required for Spinnaker to work well on OpenShift checkout https://github.com/spinnaker/clouddriver/pulls?q=is%3Apr+author%3Alwander+is%3Aclosed
See all the PRs starting with fix(provider/kubernetes)

[2018-05-31 12:58] tisnik commented on #3694
Updated via https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/103

[2018-05-31 12:59] sthaha commented on #3390
### status update

Following changes have been made to proxy in the past two weeks

- https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/285
- https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/282
- https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/276
- https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/273
- https://github.com/fabric8-services/fa

[2018-05-31 13:05] Bob-Davis commented on #3690
So you're saying that if I create an issue (which only gives you the ability to add a title and type), I can't add a description because I am not the owner of the issue?

[2018-05-31 13:29] joshuawilson commented on #3690
If we are planning on letting non-contributors create issues then it is a bug.
If we don't want non-contributors to create issues then it is a bug.
Looks like we have a bug. I'll update the labels.

@michaelkleinhenz are you aware of this?

[2018-05-31 13:31] tisnik commented on #3694
Current status:
[code]

[2018-05-31 13:31] tisnik commented on #3694
thanks @sara-02 , but we are already on 91%. Sure, the tests needs to be updated... :)

[2018-05-31 13:32] dlabrecq commented on #3122
If you end up using @ng-select/ng-select, we have a stylesheet contribution to make that look more like PatternFly. https://github.com/patternfly/patternfly-ng/pull/343

Typically we wrap components, not provide stylesheets for 3rd party libraries -- probably will wrap it. The team still needs to decide if @ng-select/ng-select is a good fit for Patternfly, but it has a lot of potential.

This is a

[2018-05-31 13:34] #3694 closed

[2018-05-31 13:35] rohitkrai03 commented on #3122
@dlabrecq We can also use 1.x version now and move to 2.x when we migrate to Angular 6.

[2018-05-31 13:36] tisnik commented on #3694
@sara-02 yes, the #3522 needs to be implemented as well. I've updated the code a bit to lower the cyclomatic complexity, but the rest might be up to you :)

[2018-05-31 13:37] tisnik commented on #3522
Cyclomatic complexity has been lowered during other refactoring.

[2018-05-31 13:40] dlabrecq commented on #3122
Yes, I was on the fence about taking an older version. Just don't get the latest bug fixes and features, if any.

[2018-05-31 13:42] joshuawilson commented on #3122
we are moving to angular 6 shortly

[2018-05-31 13:45] mindreeper2420 commented on #3668
@bdellasc Do you have an existing issue that you can link this to for tracking purposes?

[2018-05-31 14:00] aptmac commented on #3637
In the same vein as the first image, we questioned this as well with the empty-states page for when there are no deployments [0], because the help text asks you if you want to checkout your resource usage in your Settings page, or to check your pipelines page for upcoming deployments [1].

[0] https://github.com/fabric8-ui/fabric8-ui/pull/2935#discussion_r190551750
[1] https://user-images.githubus

[2018-05-31 14:01] bdellasc commented on #3668
We're planning to create some UX-specific issues around Summit feedback. We can reference this issue as part of that. Thanks!

[2018-05-31 14:05] aptmac commented on #3696
I've done this before as well, the add item bar seems really unintuitive. However, this issue is already open twice once as a feature request [0] and once as a bug [1], so I'll close this one as a duplicate and discussion can happen on the other issues.

[0] https://github.com/openshiftio/openshift.io/issues/3552
[1] https://github.com/openshiftio/openshift.io/issues/3595

[2018-05-31 14:05] #3696 closed

[2018-05-31 14:06] mindreeper2420 commented on #3622
IMO, no users should be shown, outside of those that are either part of a team attached to the Space (not possible now), or are not collaborators on an issue in the Space (also not possible now).

For the time being, I would show just a search bar with informative text on what to do, and then only show a filtered list once the user enters a certain number of characters (2-3). This would cut down o

[2018-05-31 14:07] christianvogt commented on #3686
All projects that depend on other project(s) whose dependencies are moving to peer dependencies should update their dependency versions to point to the latest.

Once all projects have been updated I will update fabric8-ui to use the latest versions.

[2018-05-31 14:11] joshuawilson commented on #3686
alternatively, make this a `user-story` and add tasks for each of the points listed

[2018-05-31 14:41] chrislessard opened #3701 "Cannot remove profile bio"
As it stands, you can modify your profile bio, but erasing it completely will not register upon clicking save. Steps to reproduce:

1. Navigate to your profile
2. Make sure you have a bio at least one character long; if you don't, add one and save changes
3. Edit your profile again, this time remove your bio entirely and save
4. Notice that the bio will still be present

[2018-05-31 14:42] jiekang commented on #2528
Sample Events data from k8s
[code]

[2018-05-31 15:13] dlabrecq opened #3702 "Analyze page: "Create an Application" button missing"
After pulling the latest source, I noticed that the "Create an Application" button is missing from the analyze page (i.e., space dashboard) -- confirmed this with prod as well.

There is still a button provided via the application widget's empty state. However, after an application has been created, users have no way to create additional applications.

Note that I'm logged-in and have experimental

[2018-05-31 15:17] dlabrecq commented on #3671
Created PR https://github.com/fabric8-ui/fabric8-ui/pull/2975

[2018-05-31 15:49] Raunak1203 opened #3703 "Iteration should show Active on the last and first day of month"
-If I create a new iteration with start date 1st day of month and end date last day of month, it should be automatically activated but If Iteration is created on last day it is not activated.

Discussion from backened team:
UI request contains the startAt and endAt values as "2018-04-01T12:00:00Z" and "2018-04-30T12:00:00Z" respectively. The date is fine but the time is ALWAYS set to "12:00:00Z".

[2018-05-31 16:44] stooke commented on #3553
@xcoulon has create repos  **fabric8-services/fabric8-common** and **fabric8-services/fabric8-starter** to address this.  Common code (and a sample main.go) will go in common, while a small starter service will go in starter.

Issues will be created to capture the discussion around the initial contents of those repos.

[2018-05-31 17:16] andrewazores commented on #3701
I can't reproduce this on current prod, with either Production or Experimental feature opt-in.

[2018-05-31 17:35] Essjaysee opened #3704 "Adjust initial launcher screen based on Summit feedback (5)"
From the feedback that I got from showing the OSIO launcher to attendees as Summit, there were a few things for us to address to help the usability.

![screen shot 2018-05-31 at 11 48 52 am](https://user-images.githubusercontent.com/3267889/40797390-02ae453a-64d6-11e8-8ffe-257e8fe27645.png)

- The "Continue" button fell below the fold, and users did not get the hint from the button turning blue th

[2018-05-31 18:02] dlabrecq opened #3705 "Widgets show loading state after environment reset (3)"
After resetting my environment, the home dashboard widgets appear to be stuck in the loading state. I expect that the following subscription returns empty spaces so the loading state can be changed. However, debugging shows the code does not always reach here.

[code]

Note that after creating a new space, the code behaves as expected. After briefly loading, the widgets show the empty state as exp

[2018-05-31 18:07] alexeykazakov commented on #3701
I can reproduce it if I do the following:

1. Navigate to your profile
2. Make sure you have a bio at least one character long; if you don't, add one and save changes
3. Go to the Edit profile page again,
**4. Refresh the page**
5. this time remove your bio entirely and save
6. Notice that the bio will still be present

I can't reproduce it if I skill the step 4 - refresh

[2018-05-31 18:07] alexeykazakov commented on #3701
@rohitkrai03 please take a look

[2018-05-31 18:15] andrewazores commented on #3701
Ah yes, I wasn't refreshing the page. Thanks.

[2018-05-31 19:11] chrislessard commented on #3701
@alexeykazakov @andrewazores That's strange, I didn't need to refresh to experience the bug. What browser are you using ? I'm on Chrome.

[2018-05-31 19:14] andrewazores commented on #3701
Hmm. I tried it on both Chrome and Firefox.

[2018-05-31 19:31] andrewazores commented on #3701
Interestingly, replacing the bio text with a non-empty whitespace string (ex a single space) results in the text being removed.

[2018-05-31 19:52] alexeykazakov commented on #3701
I suspect the problem is that empty strings are just ignored as unchanged values.
We had this issue in the old user profile UI and it looks like we inherited it in the new UI.

[2018-05-31 19:57] aptmac commented on #3702
I think this is an async issue. The button is supposed to be displayed if `userOwnsSpace()` returns true.

`userOwnsSpace()` compares the value of the current logged in user to the `owned-by` attribute of the `context.space` [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/analyze/analyze-overview/analyze-overview.component.ts#L84).  The `context` variable is set in the `ng

[2018-05-31 20:11] chrislessard commented on #3702
Yes, @aptmac has got this one right. It's an async issue coupled with the fact that the ngIf is bound on a function call, not a boolean [0]. I'll play around with this to resolve it.

[0] https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/analyze/analyze-overview/analyze-overview.component.html#L9

[2018-05-31 21:37] maxandersen opened #3706 "adding link is really tedious as UI is not indicating it actually worked"
Here is me trying to add a link to an existing issue and the combox is rendered weirdly but worst is that when selecting a workitem the UI is not updated to show I selected it.

Turns out when clicking link it at least seem to do the right thing - can't be sure as when rendered in list the workitem number is no longer shown.

![2018-05-31_23-34-06](https://user-images.githubusercontent.com/54129/4

[2018-05-31 21:45] maxandersen opened #3707 "is it Timeline or audit ?"
Timeline is nice!

But why is it not using number indicator to state if there is something or not the same way as links and comments ?

And why is there a *big* text saying "No Audits Available" - "There are no audits.." when it is using the word timeline in header ?

Audits is the technical concept behind the timeline - implementation detail that shouldn't be necessary to expose here.

What I exp

[2018-06-01 05:06] piyush1594 commented on #3608
Duplicate of #3299

[2018-06-01 05:06] #3608 closed

[2018-06-01 06:31] aslakknutsen commented on #3251
This is essentially asking for support for 'mono repo' type deployments, something we don't really support atm. The current model implies 1 repo, 1 build, 1 app, 1 deployment.

[2018-06-01 06:53] kishansagathiya commented on #3617
So far I don't find Spinnaker to be the right tool for us. So I am going to stop evaluating this with following reasons
- Spinnaker is not sufficient for us since it only does Continous Delivery and does not have code check in and Continous Integration. Refer https://medium.com/netflix-techblog/global-continuous-delivery-with-spinnaker-2a6896c23ba7
- Since it is written for Kubernetes and doesn't

[2018-06-01 07:36] rohitkrai03 opened #3708 "Profile update form validations"
- Profile Bio cannot be removed or set to empty string. Issue - https://github.com/openshiftio/openshift.io/issues/3701
- Company name cannot be removed.
- URL cannot be removed.
- URL validation is not working correctly. For example i can update URL to http:// and it gets updated.

[2018-06-01 07:38] rohitkrai03 commented on #3701
PR raised - https://github.com/fabric8-ui/fabric8-ui/pull/2978. It fixes a bunch of other validation related issues.

[2018-06-01 07:55] jaseemabid commented on #3581
This was a common issue for the build team every other day. The only solution was to periodically restart the GKE instances and it was silly. This is observed on prod as well.

[2018-06-01 08:00] jaseemabid commented on #3581
On 31 May 2018 at 17:42, SriKrishna <notifications@github.com> wrote:

Isolation still doesn't the problem of resource consumption and deluge of
horrible hacks we have to throw on top of it like Idler and Proxy. A single
Jenkins master will never be able to handle 2 customers that are
potentially malicious. This is a dead end.

As of now we still haven't solved that issue and "throwing yet another

[2018-06-01 08:04] jaseemabid commented on #3581
On 31 May 2018 at 17:35, SriKrishna <notifications@github.com> wrote:

on demand. The solution you propose is what we have on prod since ages.
This will not work as the resource usage of master alone will make the
solution commercially infeasible and an engineering nightmare.

--
Senior {Jenkins Babysitter | Software Archaeologist | Wiki Writer}

[2018-06-01 08:44] msrb commented on #3567
Thanks for the summary Marek. Let's move this issue to backlog for now and create new issue for worker monitoring. I will take care of that.

[2018-06-01 09:20] rgarg1 commented on #3503
Due to this issue, I'm stuck with piles of test spaces created using API. Reset env is of no help either:
![unable to erase spaces](https://user-images.githubusercontent.com/28748448/40833284-1a04998e-65ab-11e8-93d7-aa42f22870fc.png)

[2018-06-01 09:26] rgarg1 commented on #3642
This PR fixed a subset of the issue, but a wider fix is needed.

[2018-06-01 10:29] nimishamukherjee commented on #3028
On the UI, if we follow the steps mentioned above, an additional POST call on labels is made when we navigate from quick preview to detail page

[2018-06-01 11:03] rohitkrai03 opened #3709 "Profile bio truncate behaviour"
![40659532-8d45fc3a-631c-11e8-986c-df8b143820ea](https://user-images.githubusercontent.com/6041994/40837942-ad4618b8-65b9-11e8-9b71-e587bcd84641.png)

![40659537-8f2b365a-631c-11e8-8594-a148c9bac42d](https://user-images.githubusercontent.com/6041994/40837976-d351c67e-65b9-11e8-935f-976c52f19d69.png)

Based on @jiekang's comment on a [PR](https://github.com/fabric8-ui/fabric8-ui/pull/2777). I think

[2018-06-01 11:36] sivaavkd commented on #3371
@arunkumars08 @aptmac I tried this few times and yet, unable to reproduce.

[2018-06-01 12:12] joshuawilson commented on #3709
cc @openshiftio/uxd-team

[2018-06-01 13:30] aptmac commented on #3371
@sivaavkd yes I'm still able to see this quite frequently. It's still intermittent - I do see the correct screen sometimes. Here's a quick gif where I see the error and then the correct screen back-to-back (not shown: me seeing the bug 4 times previous to this clip)

![stack-report-error](https://user-images.githubusercontent.com/10425301/40843221-45c4691e-657e-11e8-8a19-0ca092f9484a.gif)

[2018-06-01 14:44] RickJWagner commented on #3251
Our own repositories (OSIO, Fabric8, Wildfly, etc.) are all composed in such a way that components cannot be extracted for use in OSIO without a fork-and-restructure.

Looking around GitHub, this seems to be true for all sorts of repositories-- individual developers, examples from vendors like Spring, etc. etc.

Most any book that references source code on GitHub is going to have the code organize

[2018-06-01 14:59] dlabrecq commented on #3709
This particular functionality is based on Patternfly's "count remaining characters" pattern. The character length itself is something that was dictated by the back-end.

http://www.patternfly.org/pattern-library/widgets/#cnt-remaining-chars

The behavior for this particular page is to not allow the user to enter more than the character limit. However, the patternfly-ng directive does allow for tha

[2018-06-01 14:59] mindreeper2420 opened #3710 "PatternFly-Next Upgrade: Convert Less to Scss"
In order to convert the Platform (fabric8-ui) to use PatternFly-Next, the current Less code needs to be converted to Sass (scss).

- [ ] All Less dependencies will need to be swapped out for Sass dependencies
- [ ] Webpack configurations are updated for Sass
- [ ] Shared stylesheets are converted
- [ ] Component stylesheets are converted and typescript component.ts files updated to point to the ne

[2018-06-01 15:04] joshuawilson commented on #3710
@mindreeper2420 This feels like a user-story, please add the bullets as `type/tasks` under it.
I would also ask that you not start on it until we upgrade to latest Angular and Webpack.

[2018-06-01 15:06] mindreeper2420 opened #3711 "CSS Cleanup & Conversion"
In order to improve the maintainability of the CSS within OpenShift.io, it needs to be audited, cleaned and converted to a more user friendly configuration.

- All classes should be converted to the BEM methodology
- All components should be prefaced properly in order to avoid collisions
  - fabric8-ui components should be prefaced with `f8ui-`
  - fabric8-planner components prefaced with `f8plann

[2018-06-01 15:08] mindreeper2420 commented on #3710
- [ ] All Less dependencies will need to be swapped out for Sass dependencies
- [ ] Webpack configurations are updated for Sass
- [ ] Shared stylesheets are converted
- [ ] Component stylesheets are converted and typescript `component.ts` files updated to point to the new `.scss` files

[2018-06-01 15:11] mindreeper2420 opened #3712 "Swap Less dependencies for Sass dependencies"
As a task of https://github.com/openshiftio/openshift.io/issues/3710, the existing Less dependencies need to be swapped out for Sass dependencies, in order for the compilation to occur.

[2018-06-01 15:12] mindreeper2420 opened #3713 "Update Webpack configurations for Sass"
As a task of https://github.com/openshiftio/openshift.io/issues/3710, the current webpack configurations need to be converted to handle Sass. This includes using Sass from PatternFly (rather than the Less files), Font Awesome and Bootstrap.

[2018-06-01 15:13] #3524 closed

[2018-06-01 15:15] mindreeper2420 opened #3714 "Convert stylesheets to use Sass (scss)"
As a task of https://github.com/openshiftio/openshift.io/issues/3710, the shared stylesheets for OpenShift.io need to be converted to use Sass (scss).

As part of this conversion, the variables and formulas need to be updated, as they are not compatible with the Less code methods.

[2018-06-01 15:16] joshuawilson opened #3715 "Upgrade Angular, Webpack, RxJS, Typescript, and other libs"
We need to upgrade to Angular 6 and Webpack 4.
This is a great time to update all the other libs too.

[2018-06-01 15:17] mindreeper2420 opened #3716 "Convert Component stylesheets to Sass and Update component.ts files"
As a task of https://github.com/openshiftio/openshift.io/issues/3710, the component stylesheets for OpenShift.io need to be converted to use Sass (scss), with their common typescript files updated to reference `*.component.scss` files rather than `*.component.less` files.

[2018-06-01 15:18] l0rd commented on #2063
ping @invincibleJai @sivaavkd what is the correct value for `RECOMMENDER_API_URL` on prod-preview?

[2018-06-01 15:24] mindreeper2420 opened #3717 "Update Code Guidelines for Sass Usage"
As a task of https://github.com/openshiftio/openshift.io/issues/3710, the Code Guidelines document needs to be updated to account for the usage of Sass vs Less.

[2018-06-01 15:51] dlabrecq commented on #3157
Created https://github.com/fabric8-ui/fabric8-ui/pull/2977

[2018-06-01 16:23] mindreeper2420 commented on #3687
A rawgit for the UX testing prototype can be found here: https://rawgit.com/mindreeper2420/feature-flag-prototype/master/index.html

[2018-06-01 17:02] ldimaggi opened #3718 "User accounts that have zero spaces fail to fully load dashboard page after login (blocking automated tests)"
Steps to recreate:
* Login to https://openshift.io

Expected results:
![screenshot from 2018-06-01 12-47-14](https://user-images.githubusercontent.com/642621/40853341-bcfcbadc-659b-11e8-9a99-dc69c7e95e65.png)

Error being seen by multiple user accounts - accounts used by automated tests:
![screenshot from 2018-06-01 12-30-07](https://user-images.githubusercontent.com/642621/40853365-cd6fd336-659b-

[2018-06-01 17:20] ldimaggi commented on #3718
It looks as though this issue is only present if a user has zero defined spaces.

[2018-06-01 17:59] joshuawilson opened #3719 "email notification posts the wrong person"
The email notifications for work items in Planner only state the creator as the one that makes the change.

If someone else changes it is still lists the creator as the one that made the update.

[2018-06-01 18:00] joshuawilson commented on #3719
@mindreeper2420 were you the one that worked on this?

[2018-06-01 18:02] mindreeper2420 commented on #3719
@joshuawilson I just made the template - I believe Aslak would have a better idea on why it isn't showing the correct info.

[2018-06-01 19:08] joshuawilson commented on #3719
cc @aslakknutsen

[2018-06-01 19:45] #3157 closed

[2018-06-01 19:47] mindreeper2420 commented on #3633
@chrislessard from your screenshots, it appears that you are also using a viewport size that is smaller than 1000px wide. Due to that, you are also not seeing the description of what the feature actually is. Would that make the screenshot more informative in any way?

[2018-06-01 19:50] aptmac commented on #3127
This empty-state screen was added in https://github.com/fabric8-ui/fabric8-ui/pull/2935

[2018-06-01 19:50] #3127 closed

[2018-06-01 19:53] stooke opened #3720 "Populate new fabric8-services/fabric8-starter repository with sample service"
This repository contains a small skeleton Fabric8 service that starts and provides a few required endpoints for service readines and metrics. Wherever possible, it uses fabric8-services/fabric8-common packages to implement functionality.

Contents of this repository are anticipated to include:

Build

Dependency management
Goa code generation
Docker
Tests
common target names
Database

Database mig

[2018-06-01 19:54] stooke commented on #3720
@aslakknutsen has a suggestion for various levels of app - hopefully the repo will allow this:

1. Basic service

	1. build scripts
	2. docker file(s)

2. Basic k8 service

	1. readiness endpoint
	2. health endpoint
	3. json based console logging
	4. error reporting to sentry
	5. metrics exposure for prometheus
	6. ops abillity (gops) for runtime inspection
	7. tracing ability via e.g. Opentracing

[2018-06-01 20:01] mindreeper2420 commented on #3633
@mceledonia Do you want to keep the screenshots and make them larger/more prominent, or remove them? I'm also open to other ideas but, as you were the original designer of this, I wanted to make you aware of this instance.

[2018-06-01 20:16] joshuawilson commented on #3720
Please add labels. Is this a task or user-story?

[2018-06-01 20:19] stooke commented on #3720
I think it's a task.

[2018-06-01 20:25] AdamJ opened #3721 "UX: Update Loading Screen"
Currently, the loading screen is displayed as a placeholder navigation bar and a large background image with a spinner progress bar the intermittently animates. This should be updated to match the other loading animations/feedback loops that are provided to users throughout the application.

**Current Screen**
![loadingscreen](https://user-images.githubusercontent.com/4032718/40861749-34ccdaee-65b

[2018-06-01 20:28] mindreeper2420 commented on #1909
@aptmac @jiekang @joshuawilson is this still an issue or has it been resolved through other work on the Deployments page?

[2018-06-01 20:32] mindreeper2420 commented on #3711
For reference, the current Code Guidelines are located here: https://uxd.fabric8.io/code-guidelines/. There is also a link within the fabric8-ui UI Architecture Guide (https://github.com/fabric8-ui/fabric8-ui/wiki/UI-Architecture-Guide#less).

[2018-06-01 20:39] aptmac commented on #1909
IMO it's still an issue, but perhaps not exclusive to the deployments page like the issue was originally written for. There are oddities that occur at various screen sizes, especially when viewing small screens - but this is also website-wide too. Perhaps it'd be better to capture these individual issues in a larger tracker issue.

[2018-06-01 20:41] mindreeper2420 opened #3722 "Pipelines History Renders Awkwardly"
When navigating to the Pipelines history page, the top section renders underneath the navigation, causing information to be cut off/lost. The only way to see it is by opening the devtools console and manually changing the code to move the content down the page.

![screely-1527885557966](https://user-images.githubusercontent.com/4032718/40862390-585d0400-65ba-11e8-853d-7cdb700e14ac.png)

Additional

[2018-06-01 20:44] mindreeper2420 opened #3723 "Deployments Toolbar Placeholder Text is Cut Off"
On the Deployments page, the placeholder text for the Application Filter is cut off, leaving only 'Filter by Applicati'. This does not change no matter viewport size or zoom level.

![screen shot 2018-06-01 at 4 43 13 pm](https://user-images.githubusercontent.com/4032718/40862617-147b6e1a-65bb-11e8-8230-b6e5e7233964.png)

[2018-06-01 20:57] chrislessard commented on #3633
@mindreeper2420 Yes that would certainly help ! Otherwise I feel as though I'm left guessing. I didn't realise that I was seeing that particular viewport, thanks for catching that.

[2018-06-01 21:19] mindreeper2420 opened #3724 "Animations Differ Between User Profile and Settings Navs"
On the User Profile page, the navigation used to switch between "My Work Items" and "My Spaces" differs from that found under the Settings page.

Under User Profile, there is a noticeable jump when going between the two sections, as well as a different animation for the hover and active line under the link.

User Settings, the active line under each link is animated to fade and slide in from under

[2018-06-01 21:33] ldimaggi commented on #3718
The problem is still there in production:

![screenshot from 2018-06-01 17-33-16](https://user-images.githubusercontent.com/642621/40864455-efaf2afc-65c1-11e8-84ec-d831b2493125.png)

[2018-06-01 21:39] ldimaggi commented on #3718
You can recreate the issue by:
* Login to https://openshift.io
* Reset user env
* Go to 'account home' page

[2018-06-02 04:33] joshuawilson commented on #3718
Is this not a duplicate of #3705? The PR mentioned above has not been merged yet.

[2018-06-02 05:06] gastaldi commented on #3715
Cc @edewit @ia3andy

[2018-06-03 17:44] pjlcastro opened #3725 "Jenkins pod stuck in initialising and recreate mode"
Hello, my Jenkins pod is stuck into recreating phase for the last 2 days, and since my user doesn't have permission for any action like deleting the pod, I am unable to do much in order to solve this.

Am I missing something here?

Best regards

<img width="570" alt="screen shot 2018-06-03 at 14 41 24" src="https://user-images.githubusercontent.com/39656243/40889403-5362743e-673c-11e8-905e-6212a19

[2018-06-04 04:33] miteshvp commented on #2063
@l0rd for prod-preview -
`RECOMMENDER_API_URL = https://recommender.api.prod-preview.openshift.io/api/v1`

[2018-06-04 04:39] rohanKanojia commented on #3604
+  Deployable on Openshift :x:

     Although there is some work going on related to this. Some of the drafts of a spec :
        -  https://review.openstack.org/#/c/560136/
        -  https://review.openstack.org/570667
        -  https://review.openstack.org/535557
     That being said, I'm not sure how long it would take for Zuul to provide production grade support
     for Openshift/Kubernetes

[2018-06-04 06:16] CermakM commented on #3567
Agreed, Thanks @msrb

[2018-06-04 06:56] arunkumars08 commented on #3686
@joshuawilson @christianvogt Any info on how long this might take, just curious to know? The reason is that this PR - https://github.com/fabric8-ui/fabric8-ui/pull/2962 is totally dependent on these changes.
Thanks.

cc: @GeorgeActon @animuk

[2018-06-04 07:11] yzainee commented on #3677
Population of data is hurdled as the data importer deployment is getting failed

[2018-06-04 07:28] sivaavkd commented on #3371
@aptmac thanks.
@arunkumars08 I removed P0 label since that label is not applicable now.

[2018-06-04 07:56] ppitonak commented on #3718
IMHO it is a duplicate of #3705

[2018-06-04 08:43] tisnik opened #3726 "[3] Provide script for populating data stores with test data"
#### Planner [2473](https://openshift.io/openshiftio/openshiftio/plan/detail/2473)

## Description
It is easy to run subset of fabric8-analytics E2E against any f8a deployment (dev cluster for example). But there are certain tests which require data to be present in various places (s3 buckets, graph database). The goal here is to provide a way (a script?) that would populate deployment with data t

[2018-06-04 09:01] jaseemabid commented on #3581
An example where Jenkins is stuck and cannot make progress because all executor slaves went into odd states.

![image pasted at 2018-6-4 14-11 png](https://user-images.githubusercontent.com/601714/40908272-e36f2b0e-6803-11e8-8516-da24dfa84ef4.jpg)

[2018-06-04 09:37] rgarg1 opened #3727 "[Sentry] [213 Events] Cannot read property 'closeClick' of undefined"
Ref: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-ui/issues/2286/

TypeError - fabric8-planner/app/components_ngrx/work-item-detail/work-item-detail.component in closeDetail

![close_error](https://user-images.githubusercontent.com/28748448/40910150-07cd9940-6809-11e8-9d85-5aed07131a9e.png)

[2018-06-04 09:39] l0rd commented on #2063
Thank you @miteshvp

[2018-06-04 09:42] rgarg1 commented on #3727
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-ui/issues/2286/

[2018-06-04 09:47] rgarg1 opened #3728 "[Sentry] [29 Events] Cannot read property 'selected' of undefined"
Ref: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-ui/issues/2232/

TypeErrorfabric8-planner/app/components_ngrx/group-types-panel/group-types-panel.component in SafeSubscriber._next

![error_2](https://user-images.githubusercontent.com/28748448/40910675-5f803584-680a-11e8-863a-327ad708ab24.png)

[2018-06-04 09:48] rgarg1 commented on #3728
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-ui/issues/2232/

[2018-06-04 11:39] joshuawilson commented on #3686
This is being worked through on all the child repos. Not all have been merged. Then we can update the f8-ui repo.

[2018-06-04 11:42] joshuawilson commented on #3715
After a webpack change we are making I will work my through all the libs. If anyone plans to work on this for their own lib, please coordinate with me.

[2018-06-04 11:42] joshuawilson commented on #3715
Otherwise I will be submitting PRs to do the updates.

[2018-06-04 11:43] ldimaggi commented on #3718
Correct - it is the same issue as #3705.

[2018-06-04 11:43] #3718 closed

[2018-06-04 12:07] jaseemabid opened #3729 "Evaluate Quay for #3570"

[2018-06-04 12:21] andrewazores commented on #3723
Comparing this toolbar to the ones in the Codebases and Pipelines views, it seems as though that first divided section of the toolbar is fixed width. These are all just using the `pfng-toolbar` component. Should this toolbar specific to the Deployments page be customized to increase the width of this first section? Or perhaps the "Application Name" filter label can simply be renamed shorter, to ke

[2018-06-04 12:36] tisnik opened #3730 "[1] The analyzed repositories needs to be stored in one common directory"
## Link to planner:

2526

## Description

The following thing needs to be improved in QA Dashboard:

* the analyzed repositories needs to be stored in one common directory named `repositories`

Now the cloned repositories is stored in `.` which is not good, because we need to implement other functions that will conflict with current behaviour.

[2018-06-04 12:55] jiekang commented on #2713
Closing as PR merged.

https://github.com/fabric8-ui/fabric8-ui/pull/2941
https://github.com/fabric8-ui/fabric8-ui/pull/2953

[2018-06-04 12:55] #2713 closed

[2018-06-04 12:57] tisnik commented on #3730
Implemented in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/555

[2018-06-04 12:59] #3730 closed

[2018-06-04 13:14] joshuawilson commented on #3729
Please add labels

[2018-06-04 13:16] #3561 closed

[2018-06-04 13:17] tisnik opened #3731 "[3] Ability to display history with code coverage for all repositories"
## Planner link

https://openshift.io/openshiftio/openshiftio/plan/detail/2525

## Description

QA Dashboard should display history of code coverage for all repositories. The history should be shown as graph(s)

## Acceptance criteria

- [x] graphs generated for all supported repositories
- [x] links to graphs are displayed on QA Dashboard
- [x] all graphs to be regenerated automagically each day

[2018-06-04 13:22] muruGanesan commented on #2912
NOTE: Currently, Planner team implemented scrum template i.e. Scrum template is already available in Planner but we need to find the better way of implementing SDD, Scrum, and Agile template.
**Discovery:**
We need to discuss with Scrum masters, Agile coach and Planner team find the common template. This is more of discovery/Analysis phase.
I will update once I get more information from the above

[2018-06-04 13:22] bdellasc opened #3732 "Loader for Che - Final Design Exploration"
VCs:

- [ ] Meet with @slemeur 's team RE: research they needed to do and was discussed in the last meeting. [Meeting notes here](https://docs.google.com/document/d/1UBudUth8GGfPRlyw9jkke3bGbZNgjCNx6ZUFwK3yoFc/edit).
- [ ] Based on the discussion, narrow down animations for final design push
- [ ] Share designs with Stevan's team, gather any additional feedback, verify final requirements
- [ ] One

[2018-06-04 13:32] dlabrecq commented on #3249
Having some trouble implementing this design. When a pipeline is not in the stage or run environment, we're showing an in-progress state. However, we're not accounting any failed pipelines as shown below. To add to the complication, there may be one or more failed pipelines while one or more pipelines are in-progress.

Screenshot of Application widget Vs the pipelines page
![40805979-063cedce-64ee

[2018-06-04 13:40] jiekang commented on #3455
Has anyone been able to look at this? It still occurs and makes some of the UI confused.

![double-build](https://user-images.githubusercontent.com/5430520/40920605-126390ae-67db-11e8-9c34-358dad28d5ce.png)
![double-promote](https://user-images.githubusercontent.com/5430520/40920607-141137d0-67db-11e8-95bb-5f89fda59a55.png)

[2018-06-04 14:03] Veethika opened #3733 "Planner Process Templates"
## Description
The different process template will have an impact on various aspects of Planner as well as on other areas in OpenShift.io. Map the various dependencies and provide a solution in the form of wireframes.

## Verification Criteria

- [x] Explore how the change in process template can possibly impact other sections within Planner and also beyond. Capture as screenshots/sketches in InVi

[2018-06-04 14:21] jfchevrette commented on #3467
@chmouel any update on this?

[2018-06-04 14:34] jiekang commented on #1909
Yeah to confirm, this is definitely still an issue for the Deployments page. The UX probably needs a separate design for smaller screen sizes. A lot of information could stand to be compacted to fit the same information on a smaller screen size.

[2018-06-04 14:47] jiekang opened #3734 "Importing existing codebase does not edit space label (I think it should)"
When importing an existing codebase which has previously been imported, the space label is not adjusted leading to problems later down the road as the space does not match. E.g with deployments API we get `could not retrieve space arst: deployment config osio-prod-3 is part of space qwfp, expected space arst`

Steps to reproduce:

1. Create space. Add codebase (vertx booster).
2. Delete space or r

[2018-06-04 14:48] jiekang commented on #3734
@joshuawilson could you triage this to the right team? Thanks so much!

[2018-06-04 14:50] jiekang commented on #3734
@ebaron I think you investigated this from the Deployments API side before; any ideas?

[2018-06-04 14:52] aptmac opened #3735 "Deployments loading page layout distorts elements at small screen size"
When navigating to the Deployments page using a small screen size (which happens to me when my browser is at half-size of my screen on my 1920x1080 monitor), the layout of the loading screen elements are distorted. The cards are too large for the row, and appear to overflow onto the next row.

![before](https://user-images.githubusercontent.com/10425301/40923943-0edbd8a2-67e4-11e8-8b47-82ea8c85865

[2018-06-04 15:08] ebaron commented on #3734
@jiekang I think this is due to the project being initially created using the old launcher. As far as I know, the new launcher does not configure any labels in the project's POM. Because this old configuration is still present, new deployments will still get the label for the old space.

[2018-06-04 15:09] mindreeper2420 commented on #3015
@Essjaysee I've updated the space selector to show the appropriate name based on context: https://rawgit.com/mindreeper2420/leftnav-prototype/master/index.html

[2018-06-04 15:18] muruGanesan commented on #3653
#3142
Teams (with users & permission) will be handled here.

[2018-06-04 15:18] jiekang commented on #3734
Ah okay. That makes sense then thanks! So the resolution sounds like: old launcher projects are incompatible with new launcher system and user needs to manually redo fiddle with his git repository to get it to work? At least for me I can just delete the old repository and create a new one.

For a user who's not just creating dummy testing repositories, this sounds like quite a serious issue. As op

[2018-06-04 15:51] aptmac commented on #3529
Additionally, the tooltip [0] has a fixed max width [1] so space names that are large will be cut-off prematurely.

Example:
![cutoff](https://user-images.githubusercontent.com/10425301/40926945-7480334a-67eb-11e8-9048-ecb9b6a19a50.png)

[0] https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/home/home.component.html#L94
[1] https://github.com/twbs/bootstrap/blob/be3aa437a11dbe625ba401ad3

[2018-06-04 15:57] mindreeper2420 commented on #2926
- Updated text size from 14px to 16px.
- change the dropdown to a button, in order to match the context selector styling
- email address piece updated

[2018-06-04 15:58] Veethika commented on #2912
Creating a new story to capture the new set of evolved verification criteria #3733

[2018-06-04 15:58] #2912 closed

[2018-06-04 15:59] andrewazores commented on #3724
What's the preferred behaviour?

[2018-06-04 16:54] muruGanesan commented on #3733
@Veethika, verification criteria look good to me... if needed we will add later.
I will work on this.

[2018-06-04 17:02] joshuawilson commented on #3189
Can you please move this to the next sprint, your backlog, or close it?

[2018-06-04 17:19] aptmac commented on #3634
Related: https://github.com/openshiftio/openshift.io/issues/2324

[2018-06-04 17:20] mindreeper2420 commented on #2926
- Updated text size from 14px to 16px.
- change the dropdown to a button, in order to match the context selector styling
- email address piece updated

[2018-06-04 17:42] mindreeper2420 commented on #3012
The leftnav utilizes 'Help', which matches the megamenu text. The only thing it does not have is the use of the book icon.

![screen shot 2018-06-04 at 1 41 27 pm](https://user-images.githubusercontent.com/4032718/40932659-10f4ae34-67fd-11e8-9822-a39c9886be4a.png)

[2018-06-04 17:53] chrislessard commented on #3724
Regarding the underline on hover :

I've scrolled through my original PR, and it wasn't explicitly mentioned (https://github.com/fabric8-ui/fabric8-ui/pull/2711) : "Yes we should definitely include a hover state. I think if you make the text change color to the same blue color it changes to when it's selected, that should be great. That still separates it from the selected state because of the und

[2018-06-04 17:56] mindreeper2420 commented on #3011
Leftnav updated:
![screen shot 2018-06-04 at 1 56 16 pm](https://user-images.githubusercontent.com/4032718/40933329-1a7f1712-67ff-11e8-9979-66554e5fa85d.png)

[2018-06-04 17:58] andrewazores commented on #3724
"necessarily wouldn't" is bad phrasing there - more like "wouldn't necessarily". It would depend on the type of colour blindness the individual experiences. (I'm not sure that any of the forms of colour blindness result in difficulty distinguishing black from light blue, though) /pedant-mode

[2018-06-04 18:04] chrislessard commented on #3724
Ah, my bad :)

Fair enough, i'm no expert either, it was just something that crossed my mind. @mceledonia since you were the one helping me with that PR, what do you make of this ?

[2018-06-04 18:05] mindreeper2420 commented on #3017
Leftnav updated:
![screen shot 2018-06-04 at 2 05 29 pm](https://user-images.githubusercontent.com/4032718/40933725-60c647da-6800-11e8-9a1d-cd5c9158a163.png)

[2018-06-04 19:33] joshuawilson commented on #3734
I think there is another issue reporting this but can't find it.

[2018-06-04 19:38] ebaron commented on #3734
This issue is similar: https://github.com/openshiftio/openshift.io/issues/2724

[2018-06-05 04:46] joshuawilson commented on #3735
@mindreeper2420 did you know about this?

[2018-06-05 04:51] joshuawilson commented on #3735
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2982

[2018-06-05 04:51] #3735 closed

[2018-06-05 04:58] sbose78 opened #3736 "Handle logout scenarios for 401s without a jwt error"
The PR https://github.com/fabric8-ui/ngx-login-client/pull/111 does not handle 2 corner cases

1. The backend returns a 401 in cases where the jwt is valid but the associated identityID does not exist in the system. In general, this scenario shouldn't happen.

2. For a deprovisioned user, the jwt is valid, but the backend returns a 401 for API calls which do 'writes'. Example if a deprovisoined us

[2018-06-05 05:49] alexeykazakov commented on #3736
I think we should just start returning `WWW-Authenticate: LOGIN` headers along with 401 response when we want the client to relogin user. This will require changes in all our backend services. So when the user access token is not valid our services should add `WWW-Authenticate: LOGIN` header to the response.
It's kinda related to https://github.com/openshiftio/openshift.io/issues/2118

[2018-06-05 05:50] animuk commented on #3686
@joshuawilson Could you please expedite the merging process as this causes delays dependency editor integration with getting started launcher.

[2018-06-05 05:55] jarifibrahim opened #3737 "Workitem timeline shows empty values"
![download 3](https://user-images.githubusercontent.com/12949454/40957459-f272b04e-68b2-11e8-8411-0d96fe25f942.png)

Workitem https://openshift.io/openshiftio/openshiftio/plan/detail/2277

[2018-06-05 06:22] animuk commented on #2824
As the legacy launcher flow is replaced with new App launcher, We should not see this behaviour now. Closing this.

[2018-06-05 06:22] #2824 closed

[2018-06-05 06:28] animuk commented on #2429
Is this still reproducible or can we close this @ldimaggi ?

[2018-06-05 06:39] animuk commented on #2387
"Override Jenkins and POM files" options were part of legacy launcher which replaced with new App Launcher. So, should be resolved by this. closing this.

[2018-06-05 06:39] #2387 closed

[2018-06-05 06:42] animuk commented on #534
Duplicate Issue : #1360. Hence Closing this.

[2018-06-05 06:42] #534 closed

[2018-06-05 06:47] arunkumars08 commented on #2429
@animuk @ldimaggi I just tried to run the flow again in prod to see if I can reproduce. I am successfully able to click setup and pipelines are getting started.

I don't seem to get that 401 error.

[2018-06-05 06:50] animuk commented on #3689
@ldimaggi  As discussed, This blank boosters are not yet ready to work on OSIO. these are not supposed to work at the moment because these are not yet published by runtime owners.

[2018-06-05 06:50] #3689 closed

[2018-06-05 07:06] Raunak1203 opened #3738 "Creating a new label and pressing Enter key closes the label dropdown"
- Click on a workItem title to open quick Preview
- Click Assign Label
- Create a new label -> Enter text
- Press Enter Key
Dropdown is closed
![peek 2018-06-05 12-33](https://user-images.githubusercontent.com/34271052/40960320-f81c688c-68bc-11e8-8b18-86aa6758fc22.gif)

[2018-06-05 07:28] Raunak1203 opened #3739 "Custom query dropdown issue"
- Apply a filter click on save
- Save Filter dropdown opens in the left(side panel).
- Now click cancel and try again it open below Save button

![save](https://user-images.githubusercontent.com/34271052/40961359-f7769b48-68bf-11e8-953e-d169bcf06795.gif)

[2018-06-05 07:42] animuk commented on #3734
@jiekang I have followed the steps you mentioned previously in the new app launcher. Could not able to reproduce the error. For me, after deleting space, I could able to import the existing repo in the new space.Deployment also completed without errors.
Like @ebaron mentioned, It might be due to arises from old launcher project.

[2018-06-05 07:46] Raunak1203 opened #3740 "Scrum template : Custom Fields are not properly aligned"
![screenshot from 2018-06-05 13-14-12](https://user-images.githubusercontent.com/34271052/40962218-88d852f0-68c2-11e8-91cb-2184b33e68a7.png)

[2018-06-05 07:51] Raunak1203 opened #3741 "Custom query name should be cleared once it is saved"
Steps:

- Apply filter
- Save your Query.
- again apply some other filter
- Click save
- Saved Query name should be cleared.
![peek 2018-06-05 13-18](https://user-images.githubusercontent.com/34271052/40962465-36c00ff2-68c3-11e8-87d0-1ac33016be81.gif)

[2018-06-05 08:59] hrishin commented on #2729
### Update:

Using build blocker plugin Jenkins is able to throttle the builds.

![image](https://user-images.githubusercontent.com/28615674/40965744-3806df9a-68cc-11e8-8e19-ea0817a6157d.png)

Final PR's for this issue:
1) Changed build block plugin code for OSIO : https://github.com/fabric8-jenkins/build-blocker-plugin/pull/1
2) Fabric8 Jenkins Image

- to include this new plugin https://github.c

[2018-06-05 08:59] ppitonak commented on #3710
@mindreeper2420 is it a all-or-nothing change or can we upgrade components gradually?

[2018-06-05 09:32] sunilk747 commented on #3734
@animuk @jiekang I followed the above steps but I couldn't reproduce the issue. I guess as @ebaron said it's the problem with the old launcher.

[2018-06-05 10:02] yzainee commented on #3695
Draft doc prepared and shared for review with @miteshvp  and @msrb . Will be incorporating the comments and will publish on the main readme file

[2018-06-05 11:44] ljelinkova opened #3742 "Pipelines: two builds are triggered instead of one"
I've ran the E2E tests and encountered strange pipelines behavior.

I created quickstart and ran the pipeline, but two builds were triggered instead of one. The builds are inconsistent between OSIO and Jenkins.

OSIO: Build 1 has not started at all, build 2 has failed
Jenkins: Build 1 failed, build 2 successful

![pipeline-2](https://user-images.githubusercontent.com/2078072/40973885-1d40e5bc-68c6

[2018-06-05 11:55] hrishin commented on #3675
To support node.js boosters/applications current build system need following capabilities.

- [ ] Container image: having node runtime and npm tool
- [ ] Build source code: build(compile, optional tests) npm package
- [ ] Publish build artifacts: Push build artifacts to content repository or npm.js
- [ ] Containerize build artifacts: package application into container image and push to registry
-

[2018-06-05 11:56] jyasveer commented on #3629
@aptmac i am re-assigning to myself as it is on the critical path.

[2018-06-05 12:24] ldimaggi commented on #3742
Are you able to recreate this bug manually? It looks like the 2nd build actually ran before the first?

[2018-06-05 12:29] GeorgeActon commented on #3663
@ravsa is this closed?

[2018-06-05 12:29] GeorgeActon commented on #3663
@ravsa Is this closed

[2018-06-05 12:30] piyush1594 commented on #3742
Generating two pipelines is duplicate of https://github.com/openshiftio/openshift.io/issues/3455 and build failing is duplicate of #3058

[2018-06-05 12:30] GeorgeActon commented on #3629
@jyasveer this needs link to the feature in planner

[2018-06-05 12:31] GeorgeActon commented on #3662
@jyasveer This needs link to feature in planner

[2018-06-05 12:37] piyush1594 commented on #3662
@jyasveer is this in prod now?

[2018-06-05 12:44] #3663 closed

[2018-06-05 12:56] mindreeper2420 commented on #1909
After some thought, this is one of the areas of openshift.io that I'd like to see have a minimal view on mobile, with a message displayed that it is best used on a desktop (or tablet) display. We will soon be at the point where using openshift.io will just be a bad idea for a multitude of screens, and this is the start of that.

@joshuawilson @openshiftio/uxd-team what do y'all think of an approac

[2018-06-05 12:58] mindreeper2420 commented on #3723
I don't have an issue with adjusting the width of the input to fit the placeholder text. There will probably be a good number of applications with longish names, so having extra space before it begins to move horizontally wouldn't be bad either.

[2018-06-05 13:00] mindreeper2420 commented on #3710
@ppitonak these are all-or-nothing (all at once) upgrades, as the builder/bundlers need to be updated to support the sass compilation.

Having done conversions in the past, it should only take about 2-3 days to update something like fabric8-ui to sass, with the build processes updated as well.

[2018-06-05 13:03] tisnik commented on #3731
1st related part - refactoring of GIT utility module: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/556

[2018-06-05 13:19] #2407 closed

[2018-06-05 13:22] ldimaggi commented on #2429
Closing as non-reproducible.

[2018-06-05 13:22] #2429 closed

[2018-06-05 13:24] sspeiche commented on #3570
Please add https://brigade.sh/ to the list

[2018-06-05 13:38] joshuawilson commented on #1909
I'm fine with telling the user that the screen is better on a desktop but I still want to see it the information and have it laid out so that the columns makes sense. Even if that means horizontal scrolling.

When I'm on a mobile device I almost never have a laptop available to switch to. So switching isn't usually an option.

[2018-06-05 13:39] jiekang commented on #3734
For what it's worth, to reproduce you need to acquire a project created with an old launcher. One way is to fork the project I used, then try to reproduce.

https://github.com/jiekang/osio-prod-3

It's just an auto-created vertx booster so it should be safe. I understand if you'd rather not fork it though.

[2018-06-05 13:41] jiekang commented on #3734
@ebaron do you think it makes sense for the new launcher or pipelines or whatever to ignore the space label then?

[2018-06-05 13:49] aptmac commented on #3629
@jyasveer sounds good, let me know if there's anything I can do to help. I had opened a PR [0] on Friday that ripped out the instances of the old launcher & app import slider if you want to take a look at it or incorporate it into your planning.

[0] https://github.com/fabric8-ui/fabric8-ui/pull/2980

[2018-06-05 14:06] joshuawilson commented on #3742
If this is really a duplicate, we should close it.

[2018-06-05 14:07] ebaron commented on #3734
@jiekang We could reduce this to a warning in the deployments API, which where the error you're seeing comes from. How does that sound?

[2018-06-05 14:13] joshuawilson commented on #3686
The PR for this is blocked by https://github.com/fabric8-ui/fabric8-planner/pull/2659
@michaelkleinhenz @nimishamukherjee can you please get this reviewed and hopefully merged?

[2018-06-05 14:15] #3325 closed

[2018-06-05 14:18] ljelinkova commented on #3742
The #3455  says that the second job is created after clicking the Promote button. I my case I didn't get so far - the build failed and the second one started.

[2018-06-05 14:27] RickJWagner commented on #3725
Hi.  Have you tried 'resetting' your environment?
This is done by going to your account Profile (upper right hand corner of the screen, select 'Profile'), then using the 'Edit Profile' button on the left.  The next screen will have a 'Reset Environment' button, please give this one a try.
You will lose your Space artifacts, but they can easily be rebuilt. (GitHub is not affected.)
Good luck,
Rick

[2018-06-05 14:36] jiekang commented on #3742
Maybe the 'clicking Promote' is a red herring then. Sounds like both builds are triggered and it will only run one at a time so for a successful build, it will not finish till Promote is clicked. Then the second build starts.

In your case for a failed build, the second will start then.

[2018-06-05 14:40] ldimaggi commented on #3742
In Lucia's case - I think that the 2nd build ran before the first.   ;-)

[2018-06-05 14:40] jiekang commented on #3742
Probably best to keep one issue for tracking this two builds queued problem though. I've closed #3455 in favor of this. @ljelinkova can you update this issue a little to make it clear the problem is that two builds are being triggered instead of one.

[2018-06-05 14:41] jiekang commented on #3742
Yeah, in my issue, build 2 also ran before build 1.

[2018-06-05 14:41] jiekang commented on #3455
Closed in favor of https://github.com/openshiftio/openshift.io/issues/3742

The issue is not limited to just 'Promote'. It looks like two builds are being queued, the 'second' build will run after the first completes (success or failure).

[2018-06-05 14:41] #3455 closed

[2018-06-05 14:47] jiekang commented on #2889
For this I'd suggest `deployments/environments`. The `deployments/spaces/{spaceId}/environments` endpoint should remain for use in future design updates, as Andrew commented.

[2018-06-05 14:47] jiekang commented on #2889
I guess the endpoint name can also be discussed in the PR review process, it's not too hard to change :)

[2018-06-05 14:49] #3701 closed

[2018-06-05 14:49] #3708 closed

[2018-06-05 16:35] #3613 closed

[2018-06-05 16:47] hrishin commented on #2729
accidentally closed by PR merge

[2018-06-05 18:45] andrewazores commented on #3665
Reading back through the latest commits to the component and service, it looks like the call is being made correctly. It's going to what seems to be the correct endpoint and with the correct parameter - @corinnekrych even posted example curls that matched the same request format being made here, and receiving a correctly populated response. Maybe something changed on the backend side and the corre

[2018-06-05 18:57] sbose78 opened #3743 "Unable to complete wizard if github not connected"
1. Disconnect Github account from https://openshift.io/username/_settings , Or login as a new user.
2. Create a space and attempt creation of an app using the wizard.
3. Try 'authorize github'.

Observe that the UI does not respond. The console has a
[code]
This is because the UI is not sending the `Authorization: Header <>` in the request.

![screenshot from 2018-06-06 00-21-50](https://user-imag

[2018-06-05 19:40] ebaron commented on #3734
It should be fine to treat as a warning, as we have done with the case of a missing space label, at least until the situation involving space labels improves (#2360).

[2018-06-05 20:49] ebaron commented on #2889
Agreed, we should leave the existing endpoint and create a new one. `deployments/environments` makes sense to me.

[2018-06-06 01:20] pjlcastro commented on #3725
Hello, thanks a lot, that did the trick, now everything is as it should be :)

Best regards,
PJ

[2018-06-06 01:20] #3725 closed

[2018-06-06 04:51] invincibleJai commented on #3743
thanks @sbose78 , will look into this on priority.

[2018-06-06 07:53] corinnekrych commented on #3665
Indeed prod-preview is fine whereas production miss the endpoint `GetFeaturePerStrategy` in prod. Here is a PR https://github.com/openshiftio/saas-openshiftio/pull/897 to push to prod.

[2018-06-06 08:00] jyasveer commented on #3662
@GeorgeActon this is yet to be moved to prod. once we test in prod we can close this.

[2018-06-06 08:00] jyasveer commented on #3662
@piyush1594 no it is not yet in prod

[2018-06-06 08:02] jyasveer commented on #3629
thanks @aptmac for the PR reference. i will have a look

[2018-06-06 08:59] #3645 closed

[2018-06-06 09:23] ljelinkova opened #3744 "Analytics report not generated after a successful build"
The E2E tests encountered this issue when the stack report is not generated even when the build was successful.

You can see the screenshot here:
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/79/e2e-0605-230714_7.png

Probably the same issue as here (I do not have right to re-open): https://github.com/openshiftio/openshift.io/issues/2694

[2018-06-06 09:49] animuk commented on #3629
@GeorgeActon We already have link feature : https://openshift.io/openshiftio/openshiftio/plan/detail/2447

[2018-06-06 11:29] samuzzal-choudhury commented on #3673
Here is the link to the design document of the OSIO application scanner service for security vulnerabilities.

https://docs.google.com/document/d/1tar8Czb4WEajzHufdgNvnW5qzOzmhDJ88wqwyj42tMQ/edit#.

[2018-06-06 11:33] invincibleJai commented on #3743
Have verified changes are in prod-preview.

[2018-06-06 11:39] miteshvp commented on #3744
@ljelinkova - it will be great if you could share some logs as well. Thanks.

[2018-06-06 11:43] ljelinkova commented on #3744
Please specify what you mean by 'logs'. We run the following script when the pipeline is finished - we could put there whatever you like.

https://github.com/fabric8io/fabric8-test/blob/master/ee_tests/oc-get-jenkins-logs.sh

This is the report from the build when analyses failed.

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/79/oc-logs-o

[2018-06-06 11:54] joshuawilson commented on #3665
I merged the PR. It should be in prod now.

[2018-06-06 12:02] rkratky commented on #3665
Works as expected.

[2018-06-06 12:02] #3665 closed

[2018-06-06 12:03] joshuawilson commented on #3744
Please add labels.

[2018-06-06 12:27] miteshvp commented on #3744
@ljelinkova - please provide jenkins logs for which the test resulted into failure. Also, if you have any web console logs, e.g. when you get an empty stack report even though build succeeds.

[2018-06-06 12:34] ljelinkova commented on #3744
This is the Jenkins log
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/79/pipelines-log.html

I am afraid we do not have any web console logs. As I said before - we can query oc using command line but need to know what you need.

[2018-06-06 12:45] miteshvp commented on #3744
@invincibleJai @arunkumars08 @jyasveer - this looks to me like an issue with dashboard somewhere. Stack id for this build is `3b4e6263a05e42feb17cf65fee7138f4` and report seems to be generated properly. Can one of you please look into this issue.
cc @animuk

[2018-06-06 12:55] tisnik commented on #3731
Implementation of the 1st item: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/557

[2018-06-06 13:05] animuk commented on #3662
@GeorgeActon This feature is alredy in the planner: https://openshift.io/openshiftio/openshiftio/plan/detail/2454

[2018-06-06 13:09] sbose78 commented on #3743
Works in prod-preview. Good to go, @joshuawilson .

[2018-06-06 13:27] jyasveer opened #3745 "[3] CICD for fabric8-recommender"
As a developer, I should be able to seamlessly develop and deploy changes as and when pushed to master in the `fabric8-ui/fabric8-recommender` repository

### Acceptance Criteria

- Stop the GKE way of build and deploy.
- CICD should happen in the CentOS environment. Pushing changes to master branch should release a new NPM version and release it to NPMJS.org

### Tasks

- [x] - Bring in script fi

[2018-06-06 14:54] aslakknutsen opened #3746 "401 (Unauthorized) on Token Refresh with seemingly no issue in UI"
Failed to load resource: the server responded with a status of 401 (Unauthorized) https://auth.prod-preview.openshift.io/api/token/refresh"

UI Took no action to relogin.

Happened after a long period of not logging into prod-preview, entered the main page and got redirected to user profile as if everything was fine. UI showed me as logged in, but the console was showing a failure to refresh token

[2018-06-06 15:08] alexeykazakov commented on #3746
Related to https://github.com/openshiftio/openshift.io/issues/3736

[2018-06-06 15:17] alexeykazakov commented on #3736
Another use case is when the token is valid but Keycloak session was killed (because we had to kill all KC pods and restart them for example or because user logged out in a different browser tab). In this case our token refresh endpoint will return 401 without a jwt error. I suspect this is what happened in https://github.com/openshiftio/openshift.io/issues/3746

[2018-06-06 17:10] abs51295 commented on #3592
Ongoing PR: https://github.com/fabric8-analytics/fabric8-gemini-server/pull/66. Current coverage 67%

[2018-06-06 18:07] jiekang opened #3747 "Visiting another users profile page breaks the inner navigation"
Edit: Possibly an intermittent issue. May be some race condition around the asynchronously tracked variables; could be investigated if it can be triggered on user X page when logged in as user X too...

If you visit user Y profile page while logged in as user X, the inner navigation, (work items and spaces tabs) are broken.

Steps to reproduce:

1. Visit user Y profile page as user X, e.g. if not

[2018-06-06 18:08] jiekang commented on #3747
@rohitkrai03 If you have time could you take a look this? Triage and delegate as needed.

[2018-06-06 18:20] aptmac commented on #3747
fwiw this seems to be sporadic; I ran into it about 3 times in a row but haven't been able to recreate it since. When running locally I managed to get a glimpse of the logged error, it was complaining about a null `attributes` value for `loggedInUser.attributes` in the [work-items component](https://github.com/fabric8-ui/fabric8-ui/blob/0f8a284b99d14244cd3e38dfcdc2d1765aa6e437/src/app/profile/over

[2018-06-06 18:30] jiekang commented on #3734
@ebaron did you want this issue to remain open for tracking purposes? I'm inclined to close this as it looks like there isn't really a fix for it.

[2018-06-06 18:36] jiekang commented on #3724
Agree with underline on hover and the animations on the Profile page are definitely fishy. I can't believe I didn't notice that when testing it myself :(

[2018-06-06 18:40] jiekang commented on #3723
Yes we can adjust for this but it really feels like this something the pfng-toolbar component should be handling, no?

[2018-06-06 18:47] aptmac commented on #3723
I'm having flashbacks, I had looked into [this](https://github.com/fabric8-ui/fabric8-ui/pull/2422) [0] before and gotten a bit stuck so I opened an [issue](https://github.com/patternfly/patternfly-ng/issues/311) [1] on the pf-ng repo hoping for some feedback .. and forgot about it haha.

[0] https://github.com/fabric8-ui/fabric8-ui/pull/2422
[1] https://github.com/patternfly/patternfly-ng/issues/

[2018-06-06 18:53] jiekang commented on #3723
In my experience it's pretty unreliable to communicate via GH issues and @ tags... Some people respond, others don't. Best would be to ping someone who works on patternfly-ng in mattermost and make sure it's on their plate.

[2018-06-06 18:54] jiekang commented on #3723
I wouldn't mind seeing something like https://github.com/fabric8-ui/fabric8-ui/pull/2422 merged though. If it ever gets resolved in the library we can change to accomodate easily enough.

[2018-06-06 19:23] jiekang commented on #3631
From https://github.com/openshiftio/openshift.io/issues/3536#issuecomment-390823742 it sounds like once the page that list spaces has a search feature, this 'View all Spaces' can be removed.

Are there other outstanding requirements, if any blocking this removal? I wouldn't mind submitting the PR that removes this page.

[2018-06-06 19:47] aptmac opened #3748 "Cannot run unit tests in fabric8-ui after ngx-forge update"
After a recent [commit](https://github.com/fabric8-ui/fabric8-ui/commit/cd48fa472b8347e3e16be05af494fe956cc59497) [0] to update the ngx-forge version, the unit tests in fabric8-ui cannot be ran. The `fabric8-analytics-dependency-editor` cannot be found, and halts the running of tests.

Here's an example of what is printed to the console when running `npm run test:unit`:
[code]

[0] https://github.

[2018-06-06 19:56] ebaron commented on #3734
@jiekang Let's keep it open, and close it once we change the error in question to a warning.

[2018-06-07 01:19] gorkem commented on #3562
@MatousJobanek The incremental auto-compilation issue on Che is about to go away as Che is switching to [jdt.ls](https://github.com/eclipse/eclipse.jdt.ls/).

Regardless, I think the real value is to achieve "second step" on an IDE agnostic way. Did we ever study what would it take for us to get to second step?

[2018-06-07 05:15] nimishamukherjee commented on #2538
@vikram-raj please work on this issue

[2018-06-07 05:28] arunkumars08 commented on #3744
@miteshvp Looking into it.
@ljelinkova Is this happening always during End to end tests? or is it random?
Also, could you, just to make sure, check the create -> pipelines tab and see if the stack report is not appearing there as well against the builds?

[2018-06-07 05:36] invincibleJai commented on #3743
Thanks, closing it as changes are in prod.

[2018-06-07 05:36] #3743 closed

[2018-06-07 05:38] arunkumars08 commented on #3744
@ljelinkova Just one more thing I would like you to verify.

Steps:

1. Open the network tab (Filter by XHR) - Also in the filter-text box place this '**build**'
2. Reload the page
3. Ideally, you should see 2 builds and 2 buildconfigs shown
4. Click on the Second **builds**
5. On the right side, expand the response
6. Expand items
7. find the application name that you have given while creating th

[2018-06-07 05:46] nimishamukherjee commented on #3688
@rgarg1 can you replicate this issue?

[2018-06-07 07:53] lordofthejars commented on #3667
After trying to run Flux, it seems that it is using one volume mapping feature that only works in kubernetes 1.10 (Openshift 3.10). Since Openshift 3.10 is not released yet, we can stop taking a look on how to run flux in Openshift.

[2018-06-07 07:53] #3667 closed

[2018-06-07 08:31] sdash-redhat commented on #3622
I somewhat agree with the direction of  @mindreeper2420

Here is a quick initial thoughts/representation that might be a temporary approach inline with the above... with some improvements I believe (like showing some search results loading icons etc.)
In long term, I think for such scenarios where the source list is too big or we do not want to show the whole list, and similar reasons, use of a se

[2018-06-07 09:48] rgarg1 commented on #3688
@nimishamukherjee I cannot reproduce this issue. Looks like a corner case for which, we don't know the trigger.

[2018-06-07 09:53] invincibleJai commented on #1028
@animuk @ravsa IMO It needs to be removed from API response as well if it's not needed.

`https://*****/api/services/jenkins/pipelines` returns stages list as well along with description for each stage

eg:

[code]

am not sure if this will OSIO only change or needed for launcher-frontend as well. CC @gastaldi

[2018-06-07 10:15] tisnik commented on #3731
Implementation of the 2nd item: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/558

[2018-06-07 10:17] #3731 closed

[2018-06-07 10:41] rohanKanojia commented on #3604
## Update
I've been able to set up Zuul as a part of [SoftwareFactory](https://softwarefactory-project.io/sf/welcome.html). SF is distribution of RPMs packages with deployment tool called sfconfig that setup a development forge based on Zuul3. Think of relation between Software Factory and Zuul as same as the relation between Openshift and Kubernetes. I setup a demo project using `sfconfig --provi

[2018-06-07 10:45] yzainee commented on #3677
https://github.com/fabric8-analytics/gremlin-docker/pull/42

[2018-06-07 10:53] jyasveer commented on #3662
@piyush1594 @GeorgeActon This is available in prod. So I am closing it.

[2018-06-07 10:53] #3662 closed

[2018-06-07 11:47] gastaldi commented on #1028
@invincibleJai launcher-frontend doesn't use `/api/services/jenkins/pipelines`, so feel free to change the data in https://github.com/fabric8io/fabric8-jenkinsfile-library however it fits

[2018-06-07 11:51] rgarg1 commented on #3690
I tried adding work items to spaces that I don't own but was not successful. But, the _tools_ space is different and I was able to add a work item to it.

https://openshift.io/openshiftio/tools/plan/detail/6

What's so special about this space? Could be an auth issue.

[2018-06-07 12:14] bmicklea commented on #1117
@kbsingh - I think this is generally complete - can you confirm?

[2018-06-07 12:54] ppitonak commented on #2283
Still reproducible in prod

[2018-06-07 12:54] #2284 closed

[2018-06-07 12:54] joshuawilson commented on #3690
what is special is that you have not been added as a collaborator yet

[2018-06-07 12:55] ppitonak commented on #2285
Works in Firefox 60

[2018-06-07 12:55] #2285 closed

[2018-06-07 12:56] ldimaggi commented on #578
This is still an open issue as of June 7, 2018.

[2018-06-07 12:57] ppitonak commented on #2287
Fixed for `Creator` field but NOT for `Assignee` field

[2018-06-07 12:58] #1055 closed

[2018-06-07 12:59] ppitonak commented on #2290
Still reproducible

[2018-06-07 13:00] ppitonak commented on #2291
Still reproducible

[2018-06-07 13:00] ldimaggi commented on #1302
Closing as duplicate of:  https://github.com/openshiftio/openshift.io/issues/3344

[2018-06-07 13:00] #1302 closed

[2018-06-07 13:01] ldimaggi commented on #1360
This is still an issue as of June 7, 2018.

[2018-06-07 13:03] ppitonak commented on #2292
Update: clicking on `Set start date` or `Set end date` selects the iteration

[2018-06-07 13:03] #2293 closed

[2018-06-07 13:04] ldimaggi commented on #1759
This is still an issue, but it has zero functional impact to the user.  It  would be nice to not write any alarming messages to our logs if possible,

[2018-06-07 13:04] #2294 closed

[2018-06-07 13:05] ppitonak commented on #2296
Still reproducible

[2018-06-07 13:06] ldimaggi commented on #1938
Closing as non-reproducible.

[2018-06-07 13:06] #1938 closed

[2018-06-07 13:07] ldimaggi commented on #2113
This is still an issue as of June 7, 2018.

[2018-06-07 13:09] ppitonak commented on #2994
Still reproducible

[2018-06-07 13:09] ldimaggi commented on #1731
Closing as non-reproducible.

[2018-06-07 13:09] #1731 closed

[2018-06-07 13:11] ldimaggi commented on #1895
The root cause is still present - if the pod starting issue happens, the user will not be alerted through the build pipeline window.

[2018-06-07 13:13] ldimaggi commented on #1880
Closing as the quickstart was removed from OSIO.

[2018-06-07 13:13] #1880 closed

[2018-06-07 13:13] ldimaggi commented on #1947
Closing as the quickstart was removed from OSIO.

[2018-06-07 13:13] #1947 closed

[2018-06-07 13:22] ldimaggi commented on #1948
Closing as the quickstart was removed from OSIO.

[2018-06-07 13:22] #1948 closed

[2018-06-07 13:22] joshuawilson commented on #578
Platform team has been maintaining this page. I missed it due to original labels.

[2018-06-07 13:28] ibuziuk commented on #3336
@ldimaggi are you sure it is still reproducible? If yes, please, provide detailed steps to reproduce

[2018-06-07 13:33] ldimaggi commented on #411
Closed in favor of:  https://openshift.io/openshiftio/openshiftio/plan/detail/2587

[2018-06-07 13:33] #411 closed

[2018-06-07 13:46] stacymcauliffe opened #3749 "Review UI content for caps standards"
- [ ] Review all existing content for inconsistencies in capitalization
- [ ] Create document with areas that need to be updated

[2018-06-07 13:57] ibuziuk commented on #2063
@miteshvp @invincibleJai @sivaavkd I started to doubt that bayesian have ever worked on prod-preview. Basically, what we are doing on che side is simply downloading `0.0.5` release [2] version of ls and running it during workspace startup. Funny thing is that https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/releases/download/0.0.5/ca-lsp-server.tar contains the following line (tha

[2018-06-07 14:21] christianvogt commented on #3686
Waiting to resolve https://github.com/fabric8-launcher/ngx-launcher/pull/265 before updating fabric8-ui webpack changes.

[2018-06-07 14:38] ldimaggi commented on #1904
Closing as obsolete.

[2018-06-07 14:38] #1904 closed

[2018-06-07 14:38] ldimaggi commented on #2392
Closing as non-reproducible.

[2018-06-07 14:38] #2392 closed

[2018-06-07 14:39] ldimaggi commented on #2909
Closing as non-reproducible.

[2018-06-07 14:39] #2909 closed

[2018-06-07 15:18] lwrigh commented on #3249
@dlabrecq In that case would it be possible to surface the failed pipeline in the applications widget? Would it be possible to show different stages even if set up is still in progress?

[2018-06-07 15:40] andrewazores commented on #3748
This is resolved, isn't it?

[2018-06-07 15:43] dlabrecq commented on #3249
I believe we can determine which pipeline failed, but there may be more than one. We could display the number of failed pipelines?

We could show a different layout if all applications are in-progress. (We do that now with the empty state.) However, after one or more applications move to the stage and/or run states, we only have the header to work with.

We really don't have a lot of room in the c

[2018-06-07 15:44] aptmac commented on #3748
Yes, this cannot be reproduced any more - closing.

[2018-06-07 15:44] #3748 closed

[2018-06-07 17:38] muruGanesan commented on #3622
@sdash-redhat, please check with development team i.e. are they going to develop "Teams"  if yes, then we may we propose 'Teams'... or propose something similar to "teams flow"

[2018-06-07 17:42] #3723 closed

[2018-06-08 01:30] sdash-redhat commented on #3622
@muruGanesan makes sense... will check.

[2018-06-08 02:19] joshuawilson commented on #3622
The Auth team will most likely be developing `Teams` but I don't expect them to start until J train.
cc @alexeykazakov

[2018-06-08 02:27] sdash-redhat commented on #3622
Thanks, @joshuawilson  ..this is helpful.
@muruGanesan , I think as Adam suggested we can go with a temporary fix till the team is implemented. Any thoughts?

[2018-06-08 04:39] invincibleJai commented on #945
@krishnapaparaju it has been fixed as suggested by @muruGanesan and changes are in prod.

[2018-06-08 04:43] invincibleJai commented on #3054
@krishnapaparaju looks like it's related #945 ( https://github.com/openshiftio/openshift.io/issues/3054#issuecomment-385674173) it has been fixed as suggested by @muruGanesan and changes are in prod.

[2018-06-08 04:59] invincibleJai commented on #2063
@ibuziuk yes your assumption is correct, LSP is working on prod in che as 0.0.5 has the fallback url for prod i.e in case env is not found. That is the reason it never worked for prod-preview.

`this.server_url = process.env.RECOMMENDER_API_URL || "https://recommender.api.openshift.io/api/v1";`

If we can have env var for `RECOMMENDER_API_URL` for prod and prod-preview then this should be fine as

[2018-06-08 05:33] alexeykazakov commented on #3622
The collaborators page will go away as soon as we implement permissions/roles page in UI. The UI part is planned for J train. So, it doesn't make much sense to spend a lot of time on improving the current collaborators overall UX. But we will need to use very similar dropdown dialog for searching users in the new UI too. And @rohitkrai03 is working on finding a better component for that.

We still

[2018-06-08 06:48] rgarg1 commented on #1837
This is not a bug with the planner. but with the upstream library, it consumes.

[2018-06-08 06:53] rgarg1 commented on #1835
Planner removed the functionality to allow work item creation through the detailed view screen. Also added is a border around the title field to improve visibility. However, I'd le UX take the call on what next should be done.

[2018-06-08 07:03] rgarg1 commented on #555
The issue still persists.

[2018-06-08 07:06] rgarg1 commented on #2506
Fixed by #2648. Closing.

[2018-06-08 07:06] #2506 closed

[2018-06-08 07:09] rgarg1 commented on #2991
Related to: https://github.com/openshiftio/openshift.io/issues/1837

[2018-06-08 07:09] joshuawilson commented on #1835
cc @openshiftio/uxd-team

[2018-06-08 07:10] ibuziuk commented on #2063
@invincibleJai thanks for clarifications, so it turns out that bayesian never worked on prod-preview and it is not really a regression. In order to support it we need to inject required env var to workspace pod. Currently there is no mechanism for setting config env vars into workspace pod (need to implement environment provider [1] and bind [2] it in rh-che assembly).

Side discussion. Current ve

[2018-06-08 07:59] tisnik opened #3750 "[1] Add a check for code coverage threshold to all CI jobs for analytics repositories"
## Issue in Planner

https://openshift.io/openshiftio/openshiftio/plan/detail/2588

## Problem description

We have defined a threshold (90% ATM) for the code coverage. In order to keep the required code quality, the CI jobs needs to be updated to check if the threshold has been reached or not. It needs to be done for all analytics repositories.

## Acceptance criteria

Check is added to `runtest.

[2018-06-08 08:16] tisnik opened #3751 "[5] Check all our shell scripts for possible bugs and vulnerabilities by the tool ShellCheck"
## Issue on Planner

https://openshift.io/openshiftio/openshiftio/plan/detail/2674

There's a tool **ShellCheck** (https://www.shellcheck.net/) that could be used to check our shell scripts for possible bugs and vulnerabilites. It would be nice to check all our scripts, especially ones used on CI.

## Acceptance criteria

Most relevant issues fixed in following repositories:

- [x] f8a-server-back

[2018-06-08 08:21] jyasveer commented on #3629
This is available in prod-preview now. We have to wait until it is available in prod

[2018-06-08 08:57] Veethika commented on #3707
For future implementation it has been proposed that 'Timeline' would include both comments and audit logs. Also, the work for 'audit trail' is divided into sprints and not everything would be implemented in one go hence it would take sometime till we get to see the final version of audit trail on Planner. @sanbornsen @nimishamukherjee am I right?
Here is the UX document for the same(a WIP after PM

[2018-06-08 09:46] Veethika commented on #2972
@maxandersen @nimishamukherjee can we go ahead with changing 'WorkItem Type' to 'Type'?

[2018-06-08 10:04] pkajaba commented on #3534
There is a PR for first part of this: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/660

[2018-06-08 10:11] pkajaba commented on #3534
Last build failed because of Libraries.io test https://ci.centos.org/job/devtools-fabric8-analytics-worker-f8a-build-master/309/console. This build was about to introduce changes in openshift template which enabled sentry again.

We have to deploy and test latest image.

[2018-06-08 10:11] pkajaba commented on #3534
I am un-assigning from this since I am leaving the team today.

[2018-06-08 10:17] pkajaba commented on #1196
Currently opened PR by me:
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-server/pull/226
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/489
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/232
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-pgbouncer/pull/34

@humaton in order to get this done you have to go through every

[2018-06-08 12:38] GeorgeActon commented on #3515
@arunkumars08 Get UXD to review the implementation if they have not already done so.

[2018-06-08 13:08] abs51295 commented on #3592
@tisnik can this issue be closed?

[2018-06-08 13:12] piyush1594 commented on #3054
Yaa it seems like this has happened because of duplicate pipeline issue because, in OSIO, we always show sync the pipeline which is by the app name and here openShift and Jenkins are in sync in the other pipeline that got created by repo name and nothing happens in OSIO pipeline. We already fix the issue of two pipelines getting created in #3095 and also about the feedback in #945

I think we can

[2018-06-08 13:58] bmicklea commented on #3662
There are two checkboxes in the description for testing - were those completed?

[2018-06-08 14:11] chrislessard commented on #3648
Potentially related to https://github.com/openshiftio/openshift.io/issues/2097, which still needs to go through design and PM.

[2018-06-08 14:18] ppitonak commented on #3648
Yes, it's a duplicate of #2097, closing.

[2018-06-08 14:18] #3648 closed

[2018-06-08 14:37] joshuawilson commented on #3515
@GeorgeActon if you want USD you can ping them with @openshiftio/uxd-team

[2018-06-08 15:57] rupalibehera commented on #2729
https://github.com/openshiftio/saas-openshiftio/pull/904, raised PR to get this in Production

[2018-06-08 15:59] rupalibehera opened #3752 "Cluster wide tenant wide update to Jenkins version 4.0.84"
This will fix openshiftio/openshift.io#2729
Details here https://github.com/openshiftio/saas-openshiftio/pull/904

[2018-06-08 16:01] mindreeper2420 commented on #3515
It looks like the PR was merged 2 days ago, if I'm looking at the correct one?

[2018-06-08 17:39] joshuawilson commented on #3752
please add labels

[2018-06-08 17:52] joshuawilson commented on #3214
cc @openshiftio/uxd-team

[2018-06-08 18:10] hrishin opened #3753 "Deploy new version of tenant Jenkins"
Need to perform tenant wide Jenkins update

Jenkins version to update: 4.0.84

[2018-06-08 18:56] lwrigh commented on #3654
Here's an updated link with the latest updates: https://redhat.invisionapp.com/share/KQKK0IADV2F

[2018-06-08 18:59] abs51295 commented on #3750
@tisnik could we also a coverage badge to every repository and maybe also have a bot like centos-ci to comment the coverage on every commit added to the PR?

[2018-06-08 20:07] ebaron commented on #3500
I think what is happening (with some help from @jiekang), is that the frontend is calling the Delete Space API and Clean Tenant API asynchronously [1]. Before these two APIs operated on different backend resources, but this is no longer true now that Delete Space also cleans up OpenShift resources. Interleaving these two API calls could trigger a variety of errors.

Perhaps we should make cleaning

[2018-06-08 23:09] joshuawilson commented on #3753
cc @aslakknutsen

[2018-06-08 23:10] joshuawilson commented on #3753
duplicate of #3752

[2018-06-08 23:10] #3753 closed

[2018-06-10 13:07] GeorgeActon commented on #3162
@nickboldt can you recheck this. I tested using your example and the links worked.

[2018-06-10 15:54] muruGanesan commented on #3214
@rgarg1, we are working on standardizing the UI and experience... (it may be in 'J' train time frame)
meanwhile, can you provide some more details on the look & feel differences? Please provide screenshots that would help UI/UX team to understand better.

[2018-06-10 16:04] muruGanesan commented on #1835
@sunilmalagi, @Veethika, any thoughts on this point?

[2018-06-11 05:55] sunilmalagi commented on #3200
Looks like the issue got resolved, I dont see any extra space when you toggle from 'Settings' to Plan tab.. UI issue got fixed.

[2018-06-11 05:58] Raunak1203 commented on #3200
Issue is fixed. Hence, closing this issue

[2018-06-11 05:58] #3200 closed

[2018-06-11 06:09] Veethika commented on #241
@Preeticp can you please have a look at this?

[2018-06-11 06:11] invincibleJai commented on #3054
Thanks @piyush1594 , closing it.

[2018-06-11 06:11] #3054 closed

[2018-06-11 06:11] yzainee commented on #3695
We will add the swagger file in the upcoming sprints. Right now will keep the readme file.
@msrb please review the readme and merge it so that this task can be closed.

[2018-06-11 06:33] Preeticp commented on #241
We have a [Troubleshooting section](https://docs.openshift.io/user-guide.html#troubleshooting) in the Getting started and the User guide, but the FAQ has more information. We can either link to the FAQ from the troubleshooting section in the guides or maybe add the wiki to our Docs landing page. This way users can access it through the help menu as suggested by @joshuawilson in addition to what is

[2018-06-11 06:37] Veethika commented on #1835
@RickJWagner as @rgarg mentioned we do not allow WorkItem creation through detailed view anymore. That said, we have included an outline around the text field for the title (and other text inputs) to improve noticeability.

[2018-06-11 06:44] Veethika commented on #2650
@musienko-maxim @nimishamukherjee in reference to the attached screenshot, unless the mandatory fields contain some values, the 'Create' button should be disabled.

<img width="641" alt="screen shot 2018-06-11 at 12 11 35 pm" src="https://user-images.githubusercontent.com/35127763/41216179-d9391970-6d70-11e8-94bb-a1fa6246831a.png">

[2018-06-11 06:50] Veethika commented on #3079
@apupier what I had written it is the expected behaviour and needs to be implemented. @nimishamukherjee is it possible to work on this soon?

[2018-06-11 07:17] nimishamukherjee commented on #3162
Closing this issue as PR https://github.com/fabric8-ui/fabric8-planner/pull/2652 fixed this issue.

[2018-06-11 07:17] #3162 closed

[2018-06-11 08:09] tisnik commented on #3750
@abs51295 re coverage badge: it's in progress. re centos-ci bot: it'd need more investigation, but it is doable, of course :)

[2018-06-11 09:39] humaton commented on #3303
No, I have just upgraded to 2.7.4 to get over a bug in the previous release.

[2018-06-11 09:48] rupalibehera commented on #3752
https://github.com/openshiftio/saas-openshiftio/pull/904 closing this as this is closed via this https://github.com/openshiftio/saas-openshiftio/pull/906

[2018-06-11 09:48] #3752 closed

[2018-06-11 09:49] rupalibehera commented on #2729
Closing this is should be in prod https://github.com/openshiftio/openshift.io/issues/3752.

[2018-06-11 09:49] #2729 closed

[2018-06-11 10:32] tisnik opened #3754 "Register all analytics repositories on codecov.io and provide badges to all READMEs"
## Acceptance criteria

### All repositories are registered on codecov.io:

- [ ] f8a-server-backbone
- [ ] fabric8-analytics-api-gateway
- [ ] fabric8-analytics-auth
- [ ] fabric8-analytics-data-model
- [ ] fabric8-analytics-ingestion
- [ ] fabric8-analytics-jobs
- [ ] fabric8-analytics-license-analysis
- [ ] fabric8-analytics-npm-insights
- [ ] fabric8-analytics-nvd-toolkit
- [ ] fabric8-analyti

[2018-06-11 11:48] ljelinkova opened #3755 "Pipeline is not started"
I tried to run a quickstart but the pipeline didn't start - it showed ``Setting up your build server.
This may take several minutes to complete`` for at least half an hour.

I checked Jenkins on ``https://jenkins.openshift.io/`` and it was not idled - it was running but didn't have the job.

[2018-06-11 12:04] ljelinkova commented on #3755
Some logs I've found:
Jenkins -> Organization Events
[code]

Jenkins pod
[code]

[2018-06-11 12:20] ldimaggi commented on #3755
I have seen this same issue randomly in the past. Most recently, someone else also reported seeing this issue - https://github.com/openshiftio/openshift.io/issues/3725

[2018-06-11 12:22] ldimaggi commented on #3755
This sounds like this same issue - https://github.com/openshiftio/openshift.io/issues/3422

[2018-06-11 12:59] ljelinkova opened #3756 "Feature opt-ins are not in sync on prod and prod-preview"
Since prod-preview is the base for testing if something can be pushed to production, I assume the feature opt-ins should be the same on both systems.

[2018-06-11 13:05] joshuawilson commented on #3756
Can you please list or specify what you are seeing.

[2018-06-11 13:08] Veethika commented on #3492
Board View for iteration 149: https://redhat.invisionapp.com/share/26KHLOH3HCF Overall board view UX progress(Work in Progress): https://redhat.invisionapp.com/share/RGKHLPKSC94
Further refinements of board view shall be tracked in a separate story.

[2018-06-11 13:08] #3492 closed

[2018-06-11 13:11] #3010 closed

[2018-06-11 13:13] lwrigh commented on #3374
@catrobson @alexeykazakov @aslakknutsen @qodfathr
What are your thoughts on these wireframes for integrating BitBucket into the Launcher and the user settings?

Here's the latest link: https://redhat.invisionapp.com/share/KWKMUW7CJT3

[2018-06-11 13:25] andrewazores opened #3757 "Deployments card status icons always initially appear as "OK""
When the Deployments page is visited, the status icons on Deployment cards always initially appear with the green "OK" (pficon-ok) icon. After some time has passed and detailed information about the resources of a Deployment have been received, the icon may change, ex. to a yellow warning triangle (pficon-warning-triangle-o). For Deployment cards where the resource usage is always at or above the

[2018-06-11 13:33] parvathyvr commented on #3679
**Invision mockups to the earlier explorations**
1) opt-in settings in OSIO to receive notifications:
https://redhat.invisionapp.com/share/CZKEK78TF4G#/screens/301742862_Table_Of_Contents
2)for the email notification:
https://redhat.invisionapp.com/share/65GBNCQ32ER#/285431424_email_Notification_V2

[2018-06-11 13:34] parvathyvr commented on #3679
Invision Mockup with the latest updates:https://redhat.invisionapp.com/share/VPKMQPFMF8U#/screens/302332659

[2018-06-11 13:47] jfchevrette opened #3758 "Multiple jenkins instances not idling after many days"
[code]

All have zero Builds or Buildconfigs. I've also tried to check the `/api/idler/info/NAMESPACE` endpoint as explained in the readme but that endpoint doesn't work (returns 404)

I've restarted the idler service so that it regenerate it's initial state/cache and then look for the above namespaces in the logs and I could not find them at all. I wonder if those are not tracked by the idler for

[2018-06-11 13:50] catrobson commented on #3374
@lwrigh @mceledonia can you help explain if we should be looking at these or looking at @mceledonia's latest designs?  Are these being combined in some way?

[2018-06-11 13:56] joshuawilson commented on #3757
@openshiftio/uxd-team

[2018-06-11 14:04] joshuawilson commented on #241
That is a nice idea, but please know that we have not been maintaining the FAQ. So the link to it is a good idea, please don't depend on it for all information.
Knowing that there is a link, we can try to update it.

[2018-06-11 14:15] catrobson commented on #3757
pficon-in-progress is an actual state, not a loading state, so it shouldn't be used for this.

We would show a spinner in the place of the icon until it gets to the point where we can show the status I would think, but I'm not sure if this would end up with spinners all over the place and be a bit too active on the page (distracting over helpful).  @serenamarie125 do you have any situations where

[2018-06-11 14:21] lwrigh commented on #3374
@mceledonia Have you been working on multiple Git providers too?

[2018-06-11 14:31] catrobson commented on #3374
@lwrigh oh shoot - sorry, my fault.  I was looking across too many tabs.  This is independent work from @mceledonia.  Will review and comment in InVision!

[2018-06-11 14:38] rkratky commented on #2623
@mindreeper2420 Any update on this? Now that I'm getting tons of notifications from OSIO, I'd like them to be pretty :)

[2018-06-11 14:43] tisnik opened #3759 "Frequent unit test failures in repository `fabric8-analytics-worker`"
Today I've seen the following error several times:

## Bug description:
Frequent unit test failures in repository `fabric8-analytics-worker` on CI

## How to reproduce:
Seems like some issue in DB sync. code, so it is **NOT** 100% reproducible.

## Logs:
I'm including the whole log (sorry, it is a bit longer):

[code]

[2018-06-11 14:43] tisnik commented on #3759
(@msrb FYI)

[2018-06-11 14:45] mindreeper2420 commented on #2623
@rkratky I do not know why - the image is present, but isn't being sent. @joshuawilson any idea why am image that is available in the repo and directory is not being served by openshiftio? The URL https://openshift.io/_openshiftio/assets/images/openshift_logo_black.png send a 404.

[2018-06-11 15:41] aptmac opened #3760 "Create API endpoint for retreiving list of spaces where a user is a collaborator"
Following discussion regarding the work-item-widget [0] , it would be ideal if there was an API endpoint for retrieving a list of spaces that a particular user is a collaborator on.

The work-item related components should display work items for spaces that the user is designated as a collaborator [1]. At the moment, this information cannot be easily retrieved and the components are displaying inf

[2018-06-11 16:01] Raunak1203 opened #3761 "Opening quick-Preview and then hiding side Panel issue"
Steps:

- Click on workitem title to open quick preview
- Click on Hide Panel
- Extra white space in data table view.
Please see the screenshot.
![screenshot from 2018-06-11 21-24-53](https://user-images.githubusercontent.com/34271052/41242984-abdf159e-6dbe-11e8-91e0-9b6484a2c12a.png)

[2018-06-11 16:02] alexeykazakov commented on #3760
We are deprecating collaborators API. We are moving to teams and orgs. So, we are not going to add anything new to the existing collaborators API but we might want to have similar functionality in our new permission API.

[2018-06-11 17:11] Raunak1203 opened #3762 "Clicking on Backlog and then filtering the workitem by title throws 404 error"
Steps:
- Click on Backlog
- URL changes
- Now select filter By - Title, throws 404 error

![backlog](https://user-images.githubusercontent.com/34271052/41246376-80b446f0-6dc8-11e8-916f-42a2879b3fe1.gif)

[2018-06-11 19:03] #2645 closed

[2018-06-11 19:03] #2740 closed

[2018-06-11 19:05] joshuawilson commented on #3760
@alexeykazakov do you want to keep it open to remember or just create a new issue to track it as a task?

[2018-06-11 19:10] aptmac commented on #3489
The old add-codebase action and routing has been removed as of: https://github.com/fabric8-ui/fabric8-ui/pull/2980

[2018-06-11 19:10] #3489 closed

[2018-06-11 20:28] alexeykazakov commented on #3760
We have bunch of issues in https://openshift.io/openshiftio/openshiftio/plan plus some UX taks in GitHub which are overlapping with this request.

But we can keep this GH issue open just because it's more specific.

[2018-06-12 03:51] hrishin commented on #2729
Since this fix is in the production, only one pipeline can run at a time. It would make sure not throwing random `Soket time out exception` .

@krishnapaparaju @pradeepto

[2018-06-12 05:47] Raunak1203 commented on #3761
Inconsistent issue.

[2018-06-12 05:47] #3761 closed

[2018-06-12 05:48] animuk commented on #2370
@GeorgeActon What @qodfathr has suggested is a nice approach to plan for to solve this kind of naming rules across the platform level at OSIO. We will initiate discussion on the same line. But It requires involvement with all the team.

So, I suggest at the moment, we would handle from the UI and start the discussion for the generic implementation. @arunkumars08

[2018-06-12 06:46] ljelinkova commented on #3756
This is screenshot from production Feature opt-ins page
![production](https://user-images.githubusercontent.com/2078072/41274130-a1aec2d2-6e1c-11e8-9cd7-17f9a011f439.png)

And this is screenshot from prod-preview Feature opt-ins page
![preview](https://user-images.githubusercontent.com/2078072/41274143-b0231728-6e1c-11e8-9d45-74fbe4bfcd51.png)

For example Deployments is in Beta on production but

[2018-06-12 07:01] joshuawilson commented on #3756
cc @corinnekrych

[2018-06-12 07:04] ppitonak commented on #3756
@joshuawilson to be more specific, we need `beta` and `released` feature flags to be set the same in prod-preview and prod

[2018-06-12 07:17] maxandersen commented on #2972
For me this looks like a visual bug that just needs fixing. Especially if its just the text string returned in the description from the backend. /cc @michaelkleinhenz @kwk in case that string is more than just a description ie. a key?

[2018-06-12 08:41] ppitonak commented on #3756
@corinnekrych could you write a test that would periodically verify that these two are in sync?

[2018-06-12 09:40] piyush1594 commented on #3591
As there is new profile page, this issue is not there and even this page is outdated. Just cross-checked. Closing this. Thanks, @ppitonak for the reminder.

[2018-06-12 09:40] #3591 closed

[2018-06-12 09:41] yzainee commented on #3677
https://github.com/fabric8-analytics/gremlin-docker/pull/43

[2018-06-12 09:41] rgarg1 commented on #3690
@alexeykazakov WDYT?

[2018-06-12 09:50] rgarg1 commented on #3738
Pressing Enter key should:
- Create label
- Clear the label field
- Allow the next label to be created

[2018-06-12 09:57] rgarg1 commented on #3644
@Veethika WDYT?

[2018-06-12 10:04] nimishamukherjee commented on #3630
@Raunak1203 do you still face this issue? If yes, please list the steps and browser details.

[2018-06-12 10:07] nimishamukherjee commented on #3609
Fix is in production.

[2018-06-12 10:07] #3609 closed

[2018-06-12 10:15] #3629 closed

[2018-06-12 10:18] invincibleJai commented on #3210
closing it as new launcher flow is in production now.

[2018-06-12 10:18] #3210 closed

[2018-06-12 10:18] rgarg1 commented on #3486
Fixed.

[2018-06-12 10:18] #3486 closed

[2018-06-12 10:21] nimishamukherjee commented on #3474
Closing as issue is not seen on prod

[2018-06-12 10:21] #3474 closed

[2018-06-12 10:22] nimishamukherjee commented on #3449
Fix is on prod

[2018-06-12 10:22] #3449 closed

[2018-06-12 10:27] nimishamukherjee commented on #2951
Closing as we are working on a new revamped board view.

[2018-06-12 10:27] #2951 closed

[2018-06-12 10:31] ppitonak commented on #2951
@nimishamukherjee why not to leave it open until new board view is in place?

[2018-06-12 10:38] invincibleJai commented on #1360
I tried now, it works fine for me

Steps :
1. Open openshift.io in a tab
2. Open gitHub in another tab
3. Forked a repo under one of my organisations in gitHub
4. Opened new launcher in openshift.io selected import flow
5. Selected gitHub flow and Org in dropdown I was able to see the forked repo in the dropdown.

Note: if Organisation is already selected in launcher gitHub step and then user fork

[2018-06-12 10:54] ppitonak opened #3763 "Remove 'View all spaces'"
There are similar views - `My spaces` and `View all spaces`

* they both show the same data
* `_spaces` feels more outdated
* `_spaces` shows huge profile photo and user name which doesn't make sense

[2018-06-12 10:58] ppitonak opened #3764 "Analyze menu item is misleading"
1. navigate to any space

* top menu contains `Analyze` item which leads to space dashboard
* this page contains not only analytics report but also pipelines, codebases and applications so the name of menu item is misleading
* `Analyze` item is the second item of the four displayed, people expect the first one to be home or dashboard
* it should be replaced with a different string or an icon (as s

[2018-06-12 11:02] ppitonak opened #3765 "Menu disappear when user tries to use a beta feature"
1. set your account to released features
2. create a space and navigate to space dashboard
3. click `Plan` or `Create -> Deployments` in top menu (both are beta features at the moment)

result:
* warning saying that this is a beta feature is displayed - this is expected
* top menu disappears so it's not possible to navigate back to space dashboard

![peek 2018-06-12 13-02](https://user-images.gith

[2018-06-12 11:06] ppitonak opened #3766 "It's impossible to distinguish users when adding collaborator"
1. open space
2. click settings -> collaborators
3. add collaborators

result:
* if multiple users have the same/similar name, it's impossible to distinguish them

![peek 2018-06-12 13-05](https://user-images.githubusercontent.com/445100/41286905-54ddaa16-6e41-11e8-904f-808bca12ad37.gif)

[2018-06-12 11:10] ppitonak opened #3767 "Add collaborators dialog too big"
1. go to space -> settings -> collaborators -> add collaborators
2. select multiple users

result:
* both before and after selecting user, the dialog contains a lot of empty space

![peek 2018-06-12 13-09](https://user-images.githubusercontent.com/445100/41287068-da0ae64a-6e41-11e8-9a4f-b4798394b4a3.gif)

[2018-06-12 11:15] ppitonak opened #3768 "Add collaborators: focus is not in search field"
1. open space -> settings -> collaborators -> add collaborators
2. click `Select` dropdown

expected:
* focus is in search input so that I can immediately type

[2018-06-12 11:19] animuk commented on #3612
@gastaldi Can you check this ? I remember that you were planning to implement some Queue for the websocket call. what is the current update

[2018-06-12 11:54] invincibleJai commented on #3356
Task list from UI to accomodate above changes :

- [ ] - introduce env in fabric8-ui to consume newly introduced endpoint to check jenkins status
- [ ] - Service in fabric8-ui
- [ ] - Polling of api to check if jenkins is up and running
- [ ] - UI changes needed  to show a modal with a loading state and message "Starting up Jenkins, it may take few minutes"
- [ ] - UI changes to show modal Jenkins

[2018-06-12 11:56] gastaldi commented on #3612
@animuk Is this caused by having multiple replicas?

Yes, the backend supports that but the JMS service (Artemis) is not installed in the dsaas cluster (that's why it is running in 1 replica only).

[2018-06-12 12:11] jyasveer commented on #3662
I had missed those ;-)

[2018-06-12 12:14] msrb opened #3769 "IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "api_requests_pkey""
I can see following exception in Sentry (staging project):

[code]

Sentry has more information: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-staging-kb/issues/4675/

[2018-06-12 12:15] msrb commented on #3769
@miteshvp @samuzzal-choudhury any idea about severity of this issue?

[2018-06-12 12:46] Preeticp commented on #2991
This section in the User guide documentation https://docs.openshift.io/user-guide.html#adding_description_to_a_work_item  has a note with links to the standard markdown syntax provided by RH as well as the upstream library extensions used by Planner.
The note reads: "In addition to the [standard markdown syntax](https://access.redhat.com/help/markdown), refer to these [extensions](https://github.c

[2018-06-12 12:47] Preeticp commented on #1837
The docs have been updated with a note on this. This section in the User guide documentation https://docs.openshift.io/user-guide.html#adding_description_to_a_work_item  has a note with links to the standard markdown syntax provided by RH as well as the upstream library extensions used by Planner.
The note reads: "In addition to the [standard markdown syntax](https://access.redhat.com/help/markdow

[2018-06-12 13:32] #3671 closed

[2018-06-12 13:47] jiekang commented on #3500
@ebaron I wouldn't mind fixing the race condition in cleanup.component.ts. What's the suggested API to use now? Is having it run the delete spaces one by one, followed by clean tenant, an okay fix?

[2018-06-12 14:09] ebaron commented on #3500
@jiekang Yes, I think what you described would be the way to fix it in the frontend. We could also add an optional parameter to the API where you can skip deleting OpenShift resources when deleting a space. Then I don't believe we would have to synchronize between deleting spaces and cleaning the tenant.

[2018-06-12 14:10] samuzzal-choudhury opened #3770 "Gemini Server to report a background processing failure to the client"
## Description
Gemini server failed to generate reports for some of the repositories which are either without manifest files or with some other errors. The requirement is to report such a scenario to the gemini client.

This is an enhancement of the current Gemini server implementation that assumes that the scanned repository must have a valid manifest version lock file.

@miteshvp @sivaavkd for y

[2018-06-12 14:15] jiekang commented on #3500
Ah; so the longer path is to provide a parameter in the API, and then have the UI use it. Hmm...

[2018-06-12 14:16] jiekang commented on #3500
Were you planning to take a look at providing that parameter?

[2018-06-12 14:36] ebaron commented on #3500
@jiekang Sure, if there are no objections, I can add this parameter to the Delete Space API. The frontend will have to make sure that this argument is set to true only when resetting the environment.

[2018-06-12 14:52] andrewazores commented on #3766
Duplicate of https://github.com/openshiftio/openshift.io/issues/3122

[2018-06-12 14:52] #3766 closed

[2018-06-12 14:55] andrewazores commented on #3763
@catrobson was there an issue for tracking this already? I know it's been brought up before.

[2018-06-12 14:56] xcoulon opened #3771 "Features toggles changes are not taken into account"
Any new change made in the unleash admin console is not reflected in the `toggles-service` API. This is due to a bug in the forked client, where the `timer` used to performed the data sync between the toggles server (unleash) and the toggles-service is performed only once (by definition, a `timer` only sends an event *once* on its channel). The solution is to replace the timer with a ticker which

[2018-06-12 15:24] joshuawilson commented on #3503
@aslakknutsen who can fix this?

[2018-06-12 15:31] ldimaggi commented on #3500
Just to confirm - the fix will be to delete spaces one by one, followed by clean tenant - correct?

[2018-06-12 15:31] joshuawilson commented on #3161
So this is still an issue if you have a slow internet connection.

[2018-06-12 15:37] jiekang commented on #3500
@ldimaggi We're currently going with a different fix:

Make delete space API have parameter that, when true, makes delete API not clash with clean tenant API. Then front-end is free to request delete spaces and clean tenant APIs at the same time.

[2018-06-12 15:37] jiekang commented on #3500
However I'm open to any opinions otherwise.

[2018-06-12 15:55] jiekang commented on #3516
Related https://github.com/openshiftio/openshift.io/issues/3503

[2018-06-12 16:06] sunilk747 commented on #2980
I tried the above steps and faced the same error. The image is built and pushed but  it's failing while pulling the image from internal registry.
![screenshot from 2018-06-12 17-54-11](https://user-images.githubusercontent.com/7105965/41302640-a1e3e81a-6e88-11e8-99c7-316423408864.png)

[2018-06-12 16:20] nimishamukherjee commented on #2991
Thanks @Preeticp

[2018-06-12 16:20] #2991 closed

[2018-06-12 16:36] ebaron commented on #3500
I am open to suggestions as well. The clean tenant API clears a superset of what is cleared by the delete space API. When resetting the environment, this makes any OpenShift cleanup done by the delete space API redundant and also prone to racing with the clean tenant API.

[2018-06-12 17:09] GeorgeActon opened #3772 "When filtering by creator some users not showing up in list"
Look at this link
https://openshift.io/openshiftio/openshiftio/plan?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20typegroup.name:Scenarios%20$AND%20label:6ec2db63-790e-4ac9-8809-3e74432100d0)&showTree=true

Note the creator for all the subordinate planner items is Krishna Paparaju
Then select filter by creator
 User Krishna Paparaju does not appear in the list ... but Spaparaj does appear

[2018-06-12 17:33] #3564 closed

[2018-06-12 18:34] joshuawilson commented on #3771
what severity is this?

[2018-06-12 18:38] ldimaggi opened #3773 "Feature request - Create an API for pipelines"
Since the introduction of the deployments API (http://swagger.goa.design/?url=github.com/fabric8-services/fabric8-wit/design#/ - see deployments), the remaining area that does not support an OSIO API is pipelines.

This feature request is to request that an OSIO API be created for pipelines. At present, the Kubernetes/OpenShift API supports the OSIO pipelines page:
* https://docs.openshift.com/ind

[2018-06-12 18:40] joshuawilson commented on #3763
Duplicate of #3536

[2018-06-12 18:40] #3763 closed

[2018-06-12 18:45] jiekang commented on #3500
I'd prefer a single endpoint exist for the 'reset environment' action that handles it however it wants, but that might be exposing too much at a single point. If there aren't any opinions I think we can just go ahead with the optional parameter until someone objects :)

[2018-06-12 18:55] joshuawilson commented on #3773
cc @krishnapaparaju @aslakknutsen

[2018-06-12 18:56] sara-02 commented on #3681
Quick Updates:
As per @msrb, during the first batch of data collection, 63%(of 10k) packages were not found in maven central.
And we have placed a resource request for the service here: https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2036
The results of load testing can be found here: https://docs.google.com/spreadsheets/d/1YZzEDFFtLsEVksMOnY2Dqe_bsJgnqmci1QVN1VBtDeA/edit?usp=sharing
The lo

[2018-06-12 18:58] joshuawilson commented on #3768
I'm not sure this will get worked. We are deprecating the collaborators page in favor of teams.

[2018-06-12 19:01] joshuawilson commented on #3767
I'm not sure this will get worked. We are deprecating the collaborators page in favor of teams.

[2018-06-12 19:02] joshuawilson commented on #3765
@openshiftio/uxd-team I would agree, it makes it hard to go back when you loose your menus if you don't want to opt-in.

[2018-06-12 19:08] joshuawilson commented on #3764
@openshiftio/uxd-team Can you please revisit this.

[2018-06-12 19:08] ldimaggi opened #3774 ""View Log" (Jenkins build log) returns 502 (Bad Gateway) error"
Steps to recreate:
* Create a new app
* On the pipelines page, clock on "View Log"
* Observe the 502 error:

![myimage](https://user-images.githubusercontent.com/642621/41311446-4fd4bcc4-6e52-11e8-888f-620b53101cf1.gif)

[2018-06-12 19:22] joshuawilson commented on #3502
Can you bring back the feature where we could click on the row for the quick-preview and it closes it? There are several default behaviors that don't work here. I should be able to click on the navigation area and close the slide out.

If you remove the "close on ESC" then we have to wait for the notification to close to close the view.

[2018-06-12 20:04] mindreeper2420 commented on #3765
@corinnekrych are the feature toggles wrapping the navigation, or just only showing items when pages appear? Ideally, the Feature State should just block the content, not the navigation items.

[2018-06-12 20:06] mindreeper2420 commented on #3764
The navigation is currently being looked at and variations are making their way through the user testing. Updates will be shared as more information is available.

[2018-06-12 20:42] joshuawilson commented on #3764
but this is not exactly navigation as much as it is a feature toggle thing

[2018-06-12 20:54] mindreeper2420 commented on #3764
@joshuawilson this is navigation. When a user owns a particular Space (or is a co-owner), they are shown the Settings icons first, and then Analyze. If they are not an owner of the Space, then they are shown Analyze first (Settings is omitted).

- Owner of Space:
Settings | Analyze | Plan | Create
- Not Owner of Space:
Analyze | Plan | Create

@ppitonak If I'm reading the description correctly, yo

[2018-06-12 21:17] ebaron commented on #2360
The proper fix for this bug involves the following PRs:

- [ ] fabric8io/fabric8-pipeline-library#390: Adds capability to mavenCanaryRelease to read the space label from the Build object corresponding to the running job and pass to FMP. (Needs updating once below FMP PR is present in a released version)
- [ ] fabric8io/fabric8-maven-plugin#1252: Adds a new enricher (and OSIO profile) that applies

[2018-06-12 22:16] joshuawilson commented on #3764
oops, I was thinking of another issue I was just reading

[2018-06-13 02:40] alexeykazakov commented on #3767
Closing as “won’t fix”. As Joshua said we are depreciating the collaborators page.

[2018-06-13 02:40] #3767 closed

[2018-06-13 02:42] alexeykazakov commented on #3768
Closing as “won’t fix”. As Joshua said we are depreciating the collaborators page.

[2018-06-13 02:42] #3768 closed

[2018-06-13 03:07] alexeykazakov commented on #3690
Currently only collaborators are allowed to create new Work Items in spaces. Which is IMO wrong.
But openshiftio space is special (good) - https://github.com/fabric8-services/fabric8-wit/blob/master/controller/workitems.go#L76
Editing should be allowed by the Work Item creator.

So, my suggestion is: let's allow create Work Items for any OSIO users in any space.
Edit should be allowed by collabora

[2018-06-13 03:07] alexeykazakov commented on #3690
@michaelkleinhenz it's related to what we discussed recently ^

[2018-06-13 05:42] invincibleJai commented on #3356
yes

@sthaha sorry for the confusion, it won't be a different modal window. It would be the same modal window where currently we show promote/abort buttons, in case of Jenkins idled the same modal content would show loading state (spinner) and the message "Starting up Jenkins, it may take few minutes" along with greyed out/hidden Accept/Reject buttons. Once Jenkins start running it would show what

[2018-06-13 05:53] sthaha commented on #3356
Here we are requiring user to poll i.e check if the jenkins has started, again and again and again... and that UX can be improved by showing the spinner right next to "input required" until it is up and running. That way once the workflow becomes
1. user clicks on `[input requred]`
2. A dialog is shown " jenkins starting ... "
3. they dismiss the dialog and `[input required]` now becomes `[input r

[2018-06-13 06:16] ppitonak commented on #3764
@mindreeper2420 my recommendation is that the Analyze menu is reordered AND renamed

[2018-06-13 06:22] kishansagathiya commented on #3356
@sthaha @invincibleJai

Check https://github.com/openshiftio/openshift.io/issues/3356#issuecomment-387149597
We already know the proposed behavior from UX. I think what @invincibleJai is saying matches with what UX has suggested except that button remain grayed out(unclickable) until Jenkins is up.
I like what UX has proposed compared to what @sthaha has proposed [here](https://github.com/openshif

[2018-06-13 06:33] #3771 closed

[2018-06-13 07:14] corinnekrych commented on #3756
At the moment we haven't worked for sync between the two. This is 2 separate DBs / server.
Most of the time the 2 are not in sync.
No need for a test but if/when we need sync we need to add a US and work on it.
cc @xcoulon

[2018-06-13 07:29] ljelinkova commented on #3756
@corinnekrych Why cannot both (prod-preview, production) use the same DB/server? Why is it separated? Is there any use case where we want different configuration between those two?

[2018-06-13 07:33] aslakknutsen commented on #2110
Moved to https://openshift.io/openshiftio/openshiftio/plan/detail/2601

[2018-06-13 07:33] #2110 closed

[2018-06-13 07:36] #3505 closed

[2018-06-13 08:15] divyanshiGupta commented on #2537
@Raunak1203 can you verify if this issue is still in prod and prod-preview?

[2018-06-13 08:33] animuk commented on #2980
@piyush1594 Could you please check from the build side why docker image is not pushed into the docker registry though build pipeline is getting succeeded in the OSIO.
Please note: this issue is only affecting the user's repo. For Boosters, things are working fine.

[2018-06-13 08:34] ljelinkova commented on #3416
Could anybody answer my question?

[2018-06-13 08:42] ppalaga commented on #2980
@animuk from what is shown in the https://github.com/openshiftio/openshift.io/issues/2980#issuecomment-380131515 comment above, I think we can conclude that the image is pushed to the internal registry successfully. The image is there, only deployer cannot access it for some reason.

[2018-06-13 09:00] arunkumars08 commented on #2370
@animuk @jiekang Changes are already moved in production. Closing this issue. Please feel free to open if you think it is happening again.

[2018-06-13 09:00] #2370 closed

[2018-06-13 09:18] AshishDurgude opened #3775 "Title bar style of "Dependencies" is not matching as per UX input"
Steps to access the feature
1. Login into prod-preview.openshift.io
2. Go to Top right username -> Settings -> Features opt-in
3. Select 'Internal Experimental Features'
4. Go to Home screen
5. Create a new space or pick an existing space
6. Create a new application
7. Select quick start flow
8. You should see dependency editor as a 2nd step

Initially, it will be just with a button to let the use

[2018-06-13 10:10] krishnapaparaju commented on #2729
great. thanks @hrishin

[2018-06-13 10:21] xcoulon commented on #3756
@ljelinkova prod and pre-prod are on different clusters, so we can't share the same DB.

[2018-06-13 10:45] nimishamukherjee opened #3776 "[Planner] Problem editing work item title"
In quick preview use the mouse and click on title, you cannot edit it.

[2018-06-13 10:47] sunilk747 opened #3777 "[5]Add description for each dependencies shown in dependency editor"
### User Story: https://openshift.io/openshiftio/openshiftio/plan/detail/2619
As an OSIO user, I will be able to see the description for each dependencies shown in dependency editor.

## Description:
Currently we don't show any description for dependencies shown in dependency editor screen. As per the UX there should be some short description for each dependencies show in dependency editor. This u

[2018-06-13 11:32] GeorgeActon commented on #3777
@sunilk747 @animuk This needs an estimate &a the link to the planner feature

[2018-06-13 11:53] ppitonak commented on #3758
Since one of them is mine, can I help you somehow?

[2018-06-13 11:55] ljelinkova commented on #3756
Maybe I should explain in more detail why this is so important for us, QA and our E2E tests.

Our understanding of the process (based on this readme https://github.com/openshiftio/saasherder) was that when code is pushed into repository, it is installed automatically to prod-preview. Several different commits from different developers can be installed there and at some point, somebody, let's say J

[2018-06-13 12:06] ppitonak commented on #3517
@containscafeine my Jenkins (project ppitonak-jenkins) didn't un-idle correctly
1. When I go to https://jenkins.openshift.io/ I see the message that it was idled
2. OpenShift console shows this
![osio_unidle_jenkins](https://user-images.githubusercontent.com/445100/41350241-c70a1b34-6f12-11e8-98c8-55ffe19ee458.png)
3. `oc logs -c content-repository-init <jenkins pod name>` shows this every couple

[2018-06-13 12:18] tisnik opened #3778 "[3] Add fabric8-analytics-jenkins-plugin into the QA Dashboard"
## Acceptance criteria

- [x] CI job has been setup for the `fabric8-analytics-jenkins-plugin`
- [x] module written to translate JaCoCo results to PyCov-compatible output
- [x] QA Dashboard updated to support JaCoCo results
- [x] code coverage + new job visible on QA Dashboard [1]

[1] https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-06-13 12:19] tisnik commented on #3778
New CI job: https://ci.centos.org/job/devtools-fabric8-analytics-jenkins-plugin-fabric8-analytics/

[2018-06-13 12:21] tisnik commented on #3778
Code coverage report is already displayed on QA Dashboard:
https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-06-13 12:34] tisnik commented on #3778
Implementation of item #2 and #3: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/560

[2018-06-13 12:35] #3778 closed

[2018-06-13 12:38] jiekang commented on #3416
The 'recent' filter has always been a mystery to me. It will show any pipelines, successful or failed ones, however I think it's filter for what's 'recent' or not, may be a bit off.

[2018-06-13 12:39] jiekang commented on #3416
I'll try to investigate a little more... but really I hope the Pipelines related code can receive an update similar to how the Applications/Environments pages were transformed into the Deployments page.

[2018-06-13 12:47] jiekang commented on #3416
Okay, it looks like it does filter out completed builds. @ljelinkova

Code snippet of 'recent' filter (2018-06-13):

[code]

[2018-06-13 12:50] joshuawilson commented on #3764
The original intent was that tabs are verbs. And the first tab is for the dashboards where the users "analyzes" their space. With that in mind, we shouldn't move the dashboards but if you want to rename it, I'll leave that to UX and PM.

[2018-06-13 12:52] ldimaggi commented on #3416
So - it filters out *successfully* completed builds.  ;-)

[2018-06-13 12:53] ljelinkova commented on #3416
Still, it is very confusing. The title says Recent with no implication that successful builds are left out.

[2018-06-13 12:54] krishnapaparaju commented on #945
@invincibleJai we can close this issue..

[2018-06-13 12:54] #945 closed

[2018-06-13 12:55] ppitonak commented on #3764
@joshuawilson I don't understand your comment about not moving it... what I mean is that most-used page should be first in menu, now we have settings on first position and I don't think that people will adjust space settings multiple times a day

[2018-06-13 13:10] jiekang commented on #3416
I'm not sure how useful it is. For what it's worth, it does say 'Recent **Active** Pipelines' so I guess the definition of Active does not include Completed builds. Also I wonder if the inclusion of failed builds, which aren't 'Complete' was intended or if it was an oversight. I don't know the history here...

[2018-06-13 13:46] jiekang opened #3779 "Cannot add application in local f8-ui instance"
When adding an application in a local f8-ui instance via `$ npm start`, the 'Select Dependencies' process is blocked due to:

[code]

![add-application](https://user-images.githubusercontent.com/5430520/41355045-8bbe4a06-6eee-11e8-88e3-cddb6896e5ff.png)

Edit: And the widgets? stay in the loading state forever, as seen in the image above.

[2018-06-13 13:50] joshuawilson commented on #3536
I'm waiting on @openshiftio/uxd-team to tell me what they want.

[2018-06-13 13:52] animuk commented on #3777
@GeorgeActon This user story is in planning stage. candidate for analytics backlog right now.

[2018-06-13 13:56] arunkumars08 commented on #3515
Closing the issue. The PR for the same is merged and the changes are already in production as an internal feature.

[2018-06-13 13:56] #3515 closed

[2018-06-13 14:14] tisnik opened #3780 "[1] Make logs for QA Dashboard more comprehensive"
Issue in planner: https://openshift.io/openshiftio/openshiftio/plan/detail/2611

Currently log messages are quite terse. It would be better to use proper logging (colorful one), probably by using `fastlog`.

[2018-06-13 14:14] jiekang opened #3781 "UI acceptable project name is not accepted by API"
Steps to reproduce:

1. Attempt to create application with name "0123 3210" which is accepted by the UI.
2. See API fail when hitting "Set Up Application" button.

![name-fail](https://user-images.githubusercontent.com/5430520/41356739-7d8f0732-6ef2-11e8-886f-44f51468dc99.png)

[2018-06-13 14:31] ldimaggi opened #3782 "Intermittent issue - Creatig 2 apps in sequence causes the 2nd to fail to have a build created"
Steps to recreate this issue:
* Create a new app, observe that build pipeline starts
* Immediately create a second new app - observe this error  - seeing this about 50% of the time today:

![screenshot from 2018-06-13 10-12-14](https://user-images.githubusercontent.com/642621/41357740-d3df2b7e-6ef4-11e8-99a4-2198cac26bdf.png)

[2018-06-13 14:34] ldimaggi opened #3783 ""Recent spaces" in user account home page shows deleted spaces"
Steps to recreate this issue:
* Create and delete the same space multiple times
* Observe multiple instances of the name of the deleted space listed in the user account home page:

![screenshot from 2018-06-13 10-14-05](https://user-images.githubusercontent.com/642621/41357904-3096b01c-6ef5-11e8-8965-a501f1feee8c.png)

[2018-06-13 14:46] jiekang commented on #3347
@dlabrecq Do you know if UXD is aware of the need to have designs for state around not logged in user?

E.g. When not logged in, the widgets on the space now are permanently in the 'Please wait while we load...' state. I think there should be a state of some kind that tells the user that the information is unavailable because they're not logged in.

[2018-06-13 14:49] rohanKanojia commented on #3604
So I've been able to successfully setup openshift test job on top of Zuul following https://softwarefactory-project.io/draft/zuul-openshift/.
**This is just a prototype which proves that Openshift builds on top of Zuul is feasible.**
1.) With Nodepool openshift provider, Nodepool returns an Openshift project with a service account
instead of an ansible inventory instance.
[code]

2.) Zuul created

[2018-06-13 14:52] dlabrecq commented on #3347
That particular issue is related to the subscriptions not returning a value. It's possible that we could have a different empty state for when the user is not logged in, but believe this needs to be fixed first.

https://github.com/openshiftio/openshift.io/issues/3705

[2018-06-13 15:00] dmsimard commented on #3604
@rohanKanojia (ARA author here) note that ARA can also very easily be implemented with openshift-ansible too -- here's an example CI job for our standalone openshift registry: https://logs.rdoproject.org/81/14181/7/check/legacy-rdo-registry-integration/01ee52c/logs/ara/

[2018-06-13 15:02] jiekang commented on #3705
Possible rework:

The widgets should have a default empty state. The loading state should be enabled when an http request to acquire data is made (after the spaces are acquired), and disabled when it returns, possibly after some time out.0

If there are no spaces then no http request will be made and the loading state need not trigger.

[2018-06-13 15:32] joshuawilson commented on #3756
This makes sense to me.
@corinnekrych @xcoulon do you think it is better to use the same db or to manually keep them in sync?

[2018-06-13 15:42] joshuawilson commented on #3764
Ah, I understand now. I thought you were talking about moving the "analyze" tab.

[2018-06-13 15:49] joshuawilson commented on #3783
If you refresh do they go away?

[2018-06-13 16:06] jiekang commented on #3774
Any chance you can get the response information, does the body contain anything?

Were you able to visit the jenkins instance?

[2018-06-13 16:55] jiekang opened #3784 "Maven artifactIds starting with a number can't rollout from Jenkins"
EDIT:

Scenario 2 steps to reproduce:

1. Import application from GitHub repository with maven project name that starts with a number.
2. Observe build failure in Jenkins:

[code]

More specifically:
[code]

[2018-06-13 17:16] jiekang commented on #2528
Another sample:
[code]

[2018-06-13 17:19] jiekang commented on #2528
Suggested reduced data object returned by deployments API

[code]

@andrewazores Thoughts? Do you think the information here will cover our needs? Are there any fields that could be dropped, or maybe added?

[2018-06-13 17:30] andrewazores commented on #2528
The timestamps might be useful at least for logging purposes, so I'd add those. Otherwise I think it's a good minimal set.

[2018-06-13 17:31] ldimaggi commented on #3783
Before browser refresh:
![screenshot from 2018-06-13 13-29-20](https://user-images.githubusercontent.com/642621/41367773-fe489f94-6f0d-11e8-8d00-4dcdde22f6f0.png)

After browser refresh:
![screenshot from 2018-06-13 13-30-25](https://user-images.githubusercontent.com/642621/41367786-090b0c28-6f0e-11e8-9a25-2d60b9ec387f.png)

[2018-06-13 17:39] joshuawilson commented on #3783
This is part of the old issue about needing to refresh. Once we get the smart components and state in place we can look at fixing this.

[2018-06-13 18:04] #3686 closed

[2018-06-13 19:41] joshuawilson opened #3785 "Planner locks up and creates visual artifacts when expanding a tree while quick view is open"
While using the planner these extra arrows appear and extra text. The more I click the more I get.

To reproduce:
1. view a work item in quick-view
2. expand the tree in a different work item

I was able to resolve it by refreshing. But you lose whatever you were working on.

![plan backlog openshift io](https://user-images.githubusercontent.com/1184371/41374043-17993e6a-6f20-11e8-91db-7a8065272dd

[2018-06-13 20:22] lwrigh commented on #3654
Here's the latest updates to the wireframes: https://redhat.invisionapp.com/share/9UKW89QM3ZH

[2018-06-13 20:58] jiekang commented on #2528
For timestamps we have

[code]

Which were you thinking of? All three? Or maybe `metadata.creationTimestamp` is sufficient? Or just the first/last, hahah.

[2018-06-13 21:15] andrewazores commented on #2528
Hmm. Not really sure. Maybe `creationTimestamp`?

[2018-06-14 02:04] sbose78 commented on #3756
Thanks @ljelinkova  I see the requirement for tests it to have the same feature 'levels'.
@corinnekrych  @xcoulon  @joshuawilson , we should be manually keeping them in sync instead of a common db because user management is done separately for prod and prod-preview. ( ie, prod is unaware of users in prod-preview )

[2018-06-14 05:29] Raunak1203 commented on #2537
@divyanshiGupta fixed with PR https://github.com/fabric8-ui/fabric8-planner/pull/2590

[2018-06-14 05:29] #2537 closed

[2018-06-14 05:49] containscafeine commented on #3517
@ppitonak great, so the init container is failing to make connection to the content-repository. This confirms the link with https://github.com/openshiftio/openshift.io/issues/3299, so well, maybe we're blocked on that :man_shrugging:
A workaround is to kill the pod, so the pod's networking stack gets reset (if there's any such thing), and the new pod comes up just fine.
This workaround can be scri

[2018-06-14 05:50] nimishamukherjee opened #3786 "[Planner] Quick preview covers the toolbar"
Quick preview covers the toolbar. As a user, I would like access to the entire toolbar row. Options like Show Completed, Show Tree are hidden.

[2018-06-14 06:20] sunilmalagi opened #3787 "Board View Visuals for Planner"
Create the basic board view Visuals for Planner - Iteration #149

Planner Issue Link:
https://openshift.io/openshiftio/openshiftio/plan/detail/2073

Verification Criteria

- [ ] Explore different column width options approaches to see which one fits better.

- [ ] Individual Card Layout

- [ ] Create Specification

[2018-06-14 06:30] rgarg1 commented on #3785
I was able to reproduce this issue on openshiftio space, but not on any other space. It appears that lots of data is needed in order to encounter this issue.
Steps:
1. Open a random WI and add a couple of labels to it. Once added, remove both labels
2. Keeping the quick-preview window open, try expanding another tree. You should be able to see the issue

[2018-06-14 06:31] ppitonak commented on #3517
@containscafeine which pod am I supposed to kill? Jenkins?

[2018-06-14 06:35] ppitonak commented on #3756
In that case, can you create a test/script that will regularly verify that they are in sync?

[2018-06-14 06:36] containscafeine commented on #3517
@ppitonak yes.

[2018-06-14 06:47] ppitonak commented on #3517
@containscafeine How do I do that? It seems that I don't have permissions to do anything in ppitonak-jenkins project

[2018-06-14 07:14] containscafeine commented on #3517
@ppitonak that's weird. Can you check with @kbsingh or @aditya-konarde about the permissions?

[2018-06-14 07:54] ppitonak commented on #3517
For the record, it's expected that users cannot restart Jenkins pod.

[2018-06-14 10:03] muruGanesan commented on #3622
thanks, @alexeykazakov.

[2018-06-14 11:28] pradeepto commented on #3578
@rupalibehera Is this done? Can you articulate your findings in this issue and close it. And then move it to done.

[2018-06-14 11:30] pradeepto commented on #3617
@kishansagathiya If this is done, can you move close this and move it to done?

[2018-06-14 11:31] pradeepto commented on #3603
@kishansagathiya Did you say yesterday that you wanna have a stab at this?

@jaseemabid Do you have any findings to report?

[2018-06-14 11:31] pradeepto commented on #3729
@jaseemabid Do you have any findings to report?

[2018-06-14 11:56] kishansagathiya commented on #3617
As asked by @krishnapaparaju on 13 June's standup, I will be evaluating this more.

[2018-06-14 11:59] rupalibehera commented on #3578
Here are the findings for Travis CI
https://docs.google.com/document/d/1OyKgfGeJRTm9DV2eVhoo7NkQZljabWiZjZYsxZaRShg/edit#heading=h.yawr4cpp0hdr

[2018-06-14 12:08] kishansagathiya commented on #3603
@pradeepto Yes, but first I have to spend more time evaluating spinnaker as asked by @krishnapaparaju

[2018-06-14 12:09] animuk commented on #3782
Duplicate Issue : https://github.com/openshiftio/openshift.io/issues/2729#issuecomment-375621527

[2018-06-14 12:32] GeorgeActon opened #3788 "Signing in to OSIO and/or going to Account Home - Recent spaces displays spinning wheel"
When I sign into OSIO/ or select Account Home the Recent spaces never refreshes
- just shows the spinning wheel
I can go to my account and select any workspace and immediately see the workspace

[2018-06-14 12:42] jiekang commented on #2528
Yeah if anything it can be changed pretty easily.

Sample transformed object:

[code]

[2018-06-14 12:52] rupalibehera commented on #3578
Two Major reason why further evaluation does not make sense:
1. Installing locally : I could not find any docs for installing travis ci locally, they do provide on-prem service but that is enterprise version of it link to the docs https://docs.travis-ci.com/user/enterprise/. They don’t have anywhere in the documentation about installing it locally the complete setup. So how we could we install it

[2018-06-14 12:54] ldimaggi commented on #3788
Duplicate of:
* https://github.com/openshiftio/openshift.io/issues/3705
* https://github.com/openshiftio/openshift.io/issues/3718

[2018-06-14 12:57] sthaha opened #3789 "API for CICD.next"
Need generic API for users, SREs to interact with CICD.next platform:
Initial draft may include:

  1. Trigger operations around pipeline
  1. Status operations around status of pipeline
  1. Log retrieval operations around pipelines
  1. Operations around cluster wide resources
  1. Operations around cluster wide jobs

[2018-06-14 13:00] andrewazores commented on #3346
The API you're asking for sounds like a combination of ones that already exist and one we have in progress for the Deployments page: https://github.com/openshiftio/openshift.io/issues/3388 . We also have an OpenShift events bus API in progress which would allow you to discover when deployment failures occur: https://github.com/openshiftio/openshift.io/issues/2528 .

[2018-06-14 13:01] andrewazores commented on #2528
That looks like it'll meet our needs.

[2018-06-14 13:13] GeorgeActon commented on #3788
closing as a duplicate

[2018-06-14 13:13] #3788 closed

[2018-06-14 13:17] #3578 closed

[2018-06-14 13:17] GeorgeActon commented on #3772
@michaelkleinhenz @joshuawilson Is this a planner or platform issue.

[2018-06-14 13:57] joshuawilson commented on #3772
It might be an Auth issue, but I don't think it is Platform.
cc @alexeykazakov @sbose78

[2018-06-14 14:15] chrislessard opened #3790 "The cursor should not change when hovering over another user's space's description"
Unfortunately screenshot tools don't capture the cursor, so you'll need to take the following steps to recreate this potential issue:

1) Log into OSIO
2) Visit another user's space, preferably one with a description to make life easier (ATTOW openshift.io/almacdon/SuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuperLongSpaceName works)
3) Hover over the description
4) Notice the change in cursor

I

[2018-06-14 14:17] corinnekrych commented on #3756
This is certainly not a bug. Let's tag it user-story for future implementation.
we brainstorm with @xcoulon @aslakknutsen around the question: How do we make sure prod-preview / prod are in sync for feature flag?

We came up with 3 options:
* Diff tool between pro-preview / prod to help the manual sync
this is still manual process and prod
* Sync tools, potentially automatic with k8s watcher
how t

[2018-06-14 14:35] ppitonak commented on #3756
From testing POV, if a toggle is in preview in beta/released, it has to be in prod as well (in the same level), we don't care much about toggles in Internal/Experimental.

From overall maintenance POV, in my opinion it's much easier to keep them in sync all the time. My proposal for the development process would be something like this:
1. introduce a new toggle in both prod and preview (in interna

[2018-06-14 14:40] sbose78 commented on #3772
In both places the list is populated by :
https://api.openshift.io/api/spaces/020f756e-b51a-4b43-b113-45cec16b9ce9/collaborators?page[offset]=0&page[limit]=100

It looks like a client-side issue to me -
In the creator list while filtering, the lookup is being done only by username.
In the possible assignee list, the lookup is being done only by the user's name :)

@sanbornsen @vikram-raj could you

[2018-06-14 14:44] joshuawilson commented on #3790
@openshiftio/uxd-team

[2018-06-14 17:41] lwrigh commented on #3654
Security groups has been added to the wireframes.

[2018-06-14 22:19] catrobson commented on #3764
We're already looking into alternatives for the Settings tab as part of the new designs for teams, user permissions, and security groups within that settings area - https://github.com/openshiftio/openshift.io/issues/3652.  'Analyze' we'll consider as part of the navigation effort.

[2018-06-14 22:20] catrobson commented on #3652
Designs being captured in this InVision document:  https://redhat.invisionapp.com/share/KNL0FMQVC4G

[2018-06-14 22:29] catrobson commented on #3721
@mindreeper2420 I thought when we talked to Dan about this he said it was updated to use the latest given Laura's designs.  Can you map this to what Laura put together regarding this loading page and see if we still need this issue?

[2018-06-14 23:12] catrobson opened #3791 "Design for additional deployment metrics (8)"
### Description
Additional deployment metrics should be added to the Deployments page to help capture any metric that might influence an app not being deployed successfully.

### Parent Issue(s)
- https://openshift.io/openshiftio/openshiftio/plan/detail/2598

### Verification Criteria
- [x] Requirements for which metrics need to be added captured and added to this work item
- [ ] Designs created f

[2018-06-14 23:19] catrobson opened #3792 "Document launcher use cases and designs with OpenShift wizard (5)"
Today OpenShift and OpenShift.io have two different getting started experiences that look and feel very different.  Start document with OpenShift team about the launcher experience vs. Service Catalog wizard overlay experience.  Start with use cases to understand how the use cases are the same or differ.  Then capture designs from OpenShift.io vs. OpenShift and what the pros and cons are from each

[2018-06-15 03:34] joshuawilson commented on #1121
@aslakknutsen is this something you can fix or should we close his?

[2018-06-15 04:36] animuk commented on #1360
Closing this as the issue does not seem to be there

[2018-06-15 04:36] #1360 closed

[2018-06-15 05:08] hrishin commented on #3784
Would it be better to restrict from [launcher backend][backend-code] as well?

@gastaldi @animuk

[backend-code]: https://github.com/fabric8-launcher/launcher-backend/blob/8984b1af4970e6c6e1c448ebfe06f2ba54cdfa3f/web/src/main/java/io/fabric8/launcher/web/endpoints/inputs/LaunchProjectileInput.java#L45

[2018-06-15 05:10] gastaldi commented on #3784
@hrishin agreed, feel free to send a PR ;)

[2018-06-15 05:50] Raunak1203 opened #3793 "Search for my spaces doesn't work if there is a space between words"
Steps:
- Create a new space say "test space"
- Click on My space( from the drop-down left side of the header)
- Search space by name
- doesn't Work if there is a space b/w the words

searching by test works but searching by 'test space' doesn't work

[2018-06-15 06:38] #3695 closed

[2018-06-15 06:39] yzainee commented on #3677
https://github.com/fabric8-analytics/gremlin-docker/pull/48

[2018-06-15 06:53] joshuawilson commented on #3793
What does "b/w" mean?

[2018-06-15 07:00] Veethika opened #3794 "Audit Trail Changes"
Re-look at the following areas for 'Audit Trails' interaction rules:

- [x] Sequence for the nested comments
- [x] Deletion rules for primary and secondary rules
- [ ] Accommodate edited comments history
- [x] Permisson to edit/delete

[2018-06-15 07:06] Raunak1203 commented on #3793
Sorry b/w- between
updated the title

[2018-06-15 08:01] invincibleJai opened #3795 "Launcher : Community badge not appearing for runtime WildFly Swarm"
-In Missions and Runtime step,  Community badge not appearing for runtime "WildFly Swarm" with rest and Heath check missions

[2018-06-15 08:05] ppitonak opened #3796 "Pipeline: Maven Central artifacts downloading from wrong URL"
Build of my Vert.x HTTP project failed because of this error:
[code]

Although this seems to be just a random network issue, [Maven documentation](https://maven.apache.org/guides/mini/guide-mirror-settings.html) says that a different URL is official one:

Implementation of #2486 might prevent this kind of issues

[2018-06-15 08:11] ppitonak opened #3797 "Pipeline: message Jenkins doesn’t have label xxx is not clear enough"
1. Start a new build
2. Open Jenkins log

result:
* The job will stop for some time after the following message is printed
[code]
It's not clear if it's an expected behavior or some error and whether it's fatal or will continue after some time.

[2018-06-15 08:14] ppitonak opened #3798 "Pipeline: No service hubot is running"
1. create a project using pipeline with promote step
2. open Jenkins log

result:
* after project is successfully built and rolled out to stage, the following message appears in Jenkins log
[code]
* it should be either fixed or removed

[2018-06-15 08:31] sunilk747 commented on #3782
Hey @ldimaggi I tried quite good number of times to reproduce the issue. It didn't occurred for me. It worked everytime for me. Could you reset your account and try it one more time.

[2018-06-15 08:32] piyush1594 commented on #3782
@ldimaggi and @sunilk747 Can you let us know the Jenkins version you are using?

[2018-06-15 08:43] sdash-redhat opened #3799 "Design Standards Wiki"
## Description:
Design Standardization Wiki has the two following focus areas:

- For our team of designers to know what to use when designing screens at a more granular level than PatternFly can achieve as a design system.  Clear guidance on how we do typical screen layouts, CRUD actions, and when to use which patterns.

- For our team to have a discussion with other teams like Tectonic, OpenShif

[2018-06-15 08:46] sunilk747 commented on #3782
@piyush1594 It's `4.0.84` for me.

[2018-06-15 08:47] sdash-redhat opened #3800 "Initial Setup for the Design Standard Wiki"
## Description:
Setting up initial environments for Design Standard Wiki using Wordpress

Refer: Design Standards Wiki #3799

[2018-06-15 08:48] piyush1594 commented on #3782
fix for #2729 is available in Jenkins version 4.0.84

[2018-06-15 08:49] Veethika commented on #3644
@rgarg1 the action items restricted for a non-collaborator should appear disabled already instead of giving an error message later and keeping the user wondering about what exactly went wrong.

@sunilmalagi @nimishamukherjee However, it could also be a good idea to have a warning at top of the page to communicate to the user that they cannot make changes to the space as they are not a collaborator

[2018-06-15 08:53] #3677 closed

[2018-06-15 08:54] sunilk747 commented on #3782
@ldimaggi Here the repo is created but it failed to push the contents of selected mission and runtime. That's why this error but I didn't able to reproduce the same.

[2018-06-15 09:00] sdash-redhat opened #3801 "Initial Explorations of the Commonly Used Components & Patterns Across the Applications [13]"
## Description:
Initial explorations on the applications to identify and list out the commonly used patterns and components across the applications namely _Openshift.io_  .
This activity will include:

- Review the applications in terms of various aspects and attributes to identify and list the commonly used patterns/components/widgets etc.
- Review the applications and identify the areas of incon

[2018-06-15 09:06] kwk commented on #2972
@maxandersen @Veethika @catrobson this is how my change looks in prod-preview. Please let me know if this is good to go into prod:

![bildschirmfoto von 2018-06-15 11-05-14](https://user-images.githubusercontent.com/193408/41460180-1227423e-708c-11e8-933b-3c566c8bcde8.png)

[2018-06-15 09:24] sahil143 commented on #3738
@rgarg1 I'm not able to reproduce this on prod-preview. Please, Can you verify?

[2018-06-15 09:31] #3780 closed

[2018-06-15 09:33] Raunak1203 commented on #3738
@sahil143 issue can be recreated only if you have comments

[2018-06-15 09:36] sahil143 commented on #3738
Thanks @Raunak1203, I can reproduce it with comments

[2018-06-15 10:29] ppitonak opened #3802 "Pipeline not removed when a space is removed"
1. create a new project
2. wait for pipeline to create
3. verify on https://jenkins.openshift.io/job/yourusername that the pipeline really exists
4. go to My Spaces
5. remove the space
6. verify on https://jenkins.openshift.io/job/yourusername that the pipeline was removed

expected:
* pipeline is not listed in Jenkins UI

result:
* pipeline was not removed
* pipeline will be removed no matter wha

[2018-06-15 10:35] ppitonak opened #3803 "Recent spaces lists non-existing spaces"
1. create space `aaa`
2. create space `bbb`
3. go to My spaces and remove `aaa`
4. go to Account home

expected:
* Recent spaces card contains only `bbb` (and other previously visiting spaces that still exist)

actual:
* Recent spaces card contains both `aaa` and `bbb`
* clicking on `aaa` results in 404

[2018-06-15 11:05] rupalibehera opened #3804 "Cluster wide tenant wide update to Jenkins version 4.0.88"
Details here - https://github.com/openshiftio/saas-openshiftio/pull/921

cc: @aslakknutsen

[2018-06-15 11:08] rgarg1 commented on #3644
Thanks @Veethika for the confirmation. Yeah, it would be a good idea to upfront let a non-collaborator know that they need permissions in order to edit.

[2018-06-15 11:13] piyush1594 commented on #3804
Is not this done @rupalibehera https://github.com/openshiftio/openshift.io/issues/3752

[2018-06-15 11:13] piyush1594 commented on #3804
I think typo in the subject - it's 4.0.88

[2018-06-15 11:14] mindreeper2420 commented on #3800
Environment is configured at www.uxd.fabric8.io

[2018-06-15 11:16] mindreeper2420 commented on #3790
Nope, the cursor should not change to give the user the idea that another users Space is editable. Users should only see the 'pointer' cursor over the description when they are an admin/owner of the Space.

[2018-06-15 11:17] lordofthejars opened #3805 "Evaluating Argo"
https://applatix.com/open-source/argo/
#3570

[2018-06-15 11:36] rupalibehera commented on #3804
Yes typo @piyush1594 thanks for correcting it.

[2018-06-15 11:54] kwk commented on #1681
Since https://github.com/fabric8-services/fabric8-wit/commit/4bf70c8fca7628511173c8e71cf7c35996dd35ec#diff-10cf0004539aea02ccd7fc7acf7ae7a3R230  we don't allow cross-space links.

[2018-06-15 11:54] #1681 closed

[2018-06-15 12:29] ldimaggi commented on #3803
Looks like a duplicate of: https://github.com/openshiftio/openshift.io/issues/3783  ?

[2018-06-15 12:32] ppitonak commented on #3803
Yes, duplicate

[2018-06-15 12:32] #3803 closed

[2018-06-15 12:52] hrishin commented on #3784
@gastaldi sent a PR :+1: . Could you please review it?

[2018-06-15 13:34] xcoulon opened #3807 "Move forked unleash go client repo into `fabric8-services` org"
The forked repo that contains extra functions is currently located at https://github.com/xcoulon/unleash-client-go but it should be moved into https://github.com/fabric8-services/

[2018-06-15 13:51] tisnik opened #3808 "[3] Detect possible dead code in fabric8-analytics repositories"
Planner issue: https://openshift.io/openshiftio/openshiftio/plan/detail/2615

We'd need to improve code quality by detecting (and removing) all dead code found in fabric8-analytics repositories. It can't be done fully automatically because of highly dynamic nature of Python and also because some tasks are executed via flow declaration created outside actual sources. OTOH simple cases might be cove

[2018-06-15 15:13] mindreeper2420 commented on #3721
@catrobson from what I can see, it looks as if the individual loading states for the cards were updated, as well as lists, but not the overall page loading screen.

I've updated the description to state that the loading screen should match the design from Laura.

[2018-06-15 15:48] #3046 closed

[2018-06-15 16:43] joshuawilson commented on #3805
please add labels

[2018-06-15 16:48] joshuawilson commented on #3802
@aslakknutsen @xcoulon is this covered by the work to do a complete delete of everything? is it a duplicate?

[2018-06-15 17:01] lordofthejars commented on #3805
I have no rights for doing it nor add myself as assignee

[2018-06-15 17:21] joshuawilson commented on #3805
invite sent, accept and you will ;)

[2018-06-15 18:28] invincibleJai opened #3809 "Dependecy Editor : unable to scroll to next section from dependency editor"
- unable to scroll to next section from dependency editor with arrow

Steps :

1. Login to http://prod-preview.openshift.io/
2. Opt-in for internal feature
3. Select Mission and Runtimes
4. Move to Dependency editor section
5. Click down Arrow
6. Move to next section
7. Scroll up to Dependency Editor section
8. Click Down arrow ( Can't scroll to next screen )

<img width="1680" alt="screen shot 20

[2018-06-15 18:43] ldimaggi opened #3810 "In Planner child workitem shows link - parent workitem does not"
In the Planner:
* I created a parent workitem - https://openshift.io/openshiftio/openshiftio/plan/detail/2504
* Over the past few weeks, this parent workitem acquired 2 child workitems - both of these workitems are correctly displayed in the links
* On June 15, I created a new workitem - https://openshift.io/openshiftio/openshiftio/plan/detail/2616 and linked it as a child to the parent workitem
*

[2018-06-15 19:04] lwrigh commented on #3374
Here are the most recent wireframes: https://redhat.invisionapp.com/share/9SL3BF2PUCM

[2018-06-15 19:40] #3163 closed

[2018-06-15 19:41] #3702 closed

[2018-06-15 19:42] #2889 closed

[2018-06-15 19:55] #3111 closed

[2018-06-15 20:01] joshuawilson commented on #3796
Please add labels

[2018-06-15 20:15] #3734 closed

[2018-06-15 22:10] ebaron commented on #3500
@joshuawilson @jiekang Just a heads up, I opened a PR for the backend portion of the fix I proposed above (https://github.com/openshiftio/openshift.io/issues/3500#issuecomment-395875685): https://github.com/fabric8-services/fabric8-wit/pull/2121

[2018-06-18 00:41] ldimaggi commented on #3774
Closing as not reproducible.

[2018-06-18 07:18] hrishin commented on #3784
@jiekang still it's not working.

`1123213-1232": a DNS-1035 label must consist of lower case alphanumeric characters or '-', start with an alphabetic character, and end with an alphanumeric character (e.g. 'my-name',  or 'abc-123', regex used for validation is '[a-z]([-a-z0-9]*[a-z0-9])?')`

Can we use this `[a-z]([-a-z0-9]*[a-z0-9])?'` regex as it?

[2018-06-18 08:23] msrb commented on #3534
PRs merged and latest image promoted to production.

[2018-06-18 08:29] CermakM commented on #3684
The issue has been targeted in https://github.com/msrb/nvdlib/pull/4 and is waiting for a review.

[2018-06-18 08:37] lordofthejars opened #3811 "Evaluate Brigade"
https://brigade.sh/

[2018-06-18 09:07] tisnik commented on #3759
@samuzzal-choudhury is it the same problem you've faced?

[2018-06-18 09:44] tisnik opened #3812 "[1] Increase code coverage for the `fabric8-analytics-version-comparator` to 100% again"
## Issue in planner:
https://openshift.io/openshiftio/openshiftio/plan/detail/2642

## Description
We'd need to increase code coverage for the `fabric8-analytics-version-comparator` to 100% again

## Acceptance criteria

- [x] code coverage back to 100%
- [x] code coverage displayed on the QA Dashboard

[2018-06-18 10:10] stevengutz commented on #3775
This is not a SEV2.  It's a SEV3.  There isn't anything major failing here.

[2018-06-18 10:18] stevengutz commented on #3810
First I think this is a SEV3 rather than SEV2.

However when I look at the parent: https://openshift.io/openshiftio/openshiftio/plan/detail/2504 Is the child work item you recreate listed there.  Perhaps there is just latency that delays it appearing in the parent's link.  In fact, even in your screen cap for the parent's link I see the work 2616.

I don't think there's a bug here.

[2018-06-18 10:53] AshishDurgude opened #3813 "UX changes for Dependency Editor"
steps to access the feature

Login into prod-preview.openshift.io
Go to Top right username -> Settings -> Features opt-in
Select 'Internal Experimental Features'
Go to Home screen
Create a new space or pick an existing space
Create a new application
Select quick start flow
You should see dependency editor as a 2nd step
Initially, it will be just with a button to let the user select mission and run

[2018-06-18 10:53] slemeur opened #3814 "Authentication and Registration when user goes directly to che.openshift.io"
## Description
To support the transition of codenvy.io to che.openshift.io, we need to handle the different authentication flow, when a user will access directly to che.openshift.io.

## Proposed Flows
**User, non-authenticated + not having osio account, goes to che.openshift.io**
- Authentication page displayed
  - The page is today displaying only “OpenShift.io” information
  - Could we speciali

[2018-06-18 10:54] stevengutz commented on #3802
I don't think this is a SEV2 - nothing really failed here.  Just a process lingering that should have been killed.

[2018-06-18 10:55] stevengutz commented on #3797
This is definitely not a SEV2

[2018-06-18 11:14] yzainee commented on #3677
https://github.com/rhdt/EL-Dockerfiles/pull/63 This PR needs to be merged in order to get wget which can be used in the dockerfile.rhel file

[2018-06-18 11:39] tisnik commented on #3812
Implementation: https://github.com/fabric8-analytics/fabric8-analytics-version-comparator/pull/19

[2018-06-18 12:15] joshuawilson commented on #3802
You are unable to remove a pipeline. The pipeline will continue to take up resources. That is why I marked it a SEV2. If you or the build team (or anyone else) wants to change the label, they may do that.

[2018-06-18 12:17] ppitonak commented on #3802
As @joshuawilson wrote, it's using resources so I agree with SEV2 label.

[2018-06-18 12:39] jiekang commented on #3784
I think the change in fabric8-ui is not in production yet; after it is included, a user should not be able to create a project starting with a number.

A better change throughout the whole project is to keep names as unrestricted strings that users can set to whatever, and use an internal 'name' or 'uuid' for the key that is valid for the different APIs we use: Jenkins, Kubernetes, Openshift, etc.

[2018-06-18 12:45] invincibleJai commented on #3781
@animuk it has already been fixed thanks to @jiekang can see the changes https://github.com/fabric8-ui/fabric8-ui/pull/3025 . Have tried locally looks good to me. @joshuawilson can we get changes promoted to prod?

[2018-06-18 12:52] joshuawilson commented on #3814
which team will work on this? Che or Auth or both?

[2018-06-18 12:59] corinnekrych opened #3815 "Extract feature-flag service out of fabric8"
so that Planner can use the service

[2018-06-18 13:07] Katka92 opened #3816 "Prod-preview gettingstarted page is empty"
When I login into prod-preview.openshift.io the only thing I can see is header and empty space.

![screenshot from 2018-06-18 14-45-52](https://user-images.githubusercontent.com/29278800/41537579-33b0e656-7309-11e8-8e2d-80d04b21208e.png)

[2018-06-18 13:15] #2872 closed

[2018-06-18 13:16] Katka92 opened #3817 "Prod-preview could not start workspace"
When trying to start workspace, there is an internal error.

![screenshot from 2018-06-18 15-16-08](https://user-images.githubusercontent.com/29278800/41538069-94157416-730a-11e8-922a-b26d8e2c70f3.png)

[2018-06-18 13:18] GeorgeActon commented on #2594
I do not see this issue anymore

[2018-06-18 13:18] #2594 closed

[2018-06-18 13:23] mindreeper2420 commented on #3800
I believe this has been completed by https://github.com/openshiftio/openshift.io/issues/2872.

[2018-06-18 13:29] joshuawilson commented on #3781
I've promoted it.

[2018-06-18 13:36] sbose78 commented on #3816
I changed the url to `/_home` and that allowed me to move on. The auto-redirect isn't working at the moment.

[2018-06-18 13:37] joshuawilson commented on #3815
@corinnekrych this feels like a story level thing, can you list out tasks that are needed to complete it.

[2018-06-18 13:40] dlabrecq commented on #3721
So far, I've only updated the loading state for cards. We didn't change the progress bar on this page because this page isn't loading, it's waiting (e.g., for authentication to return). That's why we used an the existing indeterminate progress bar.

After speaking with Laura and Adam, changing the overall page is a different task and that Laura's deigns would need to be updated.

[2018-06-18 13:43] lwrigh commented on #3249
Account for error and failed states, update designs with those taken into mind.

[2018-06-18 13:45] sbose78 commented on #3816
There's a 400 being returned while fetching the oso token.

[code]
[code]

and then a 400 when trying to link -

[code]

[code]

[2018-06-18 13:53] jiekang opened #3818 "Application name validation can be bypassed via existing github repository when importing codebase"
The application name should not start with a number, but this can be bypassed when importing a codebase by selecting a GitHub repository that has a name starting with a number.

This eventually leads to a failed Jenkins build. See https://github.com/openshiftio/openshift.io/issues/3784

Steps to reproduce:

1. Have an existing GitHub repository with a name that is valid for GitHub but invalid for

[2018-06-18 13:54] corinnekrych commented on #3815
not sure about the tasks yet. we'll need to decide where/what we need to move. Once I got a closer look I'll add.

[2018-06-18 13:55] jiekang commented on #3781
The bug described here can no longer occur; closing. @invincibleJai can you see also https://github.com/openshiftio/openshift.io/issues/3818

It is related.

[2018-06-18 13:55] #3781 closed

[2018-06-18 14:09] sbose78 commented on #3816
calling 'https://auth.prod-preview.openshift.io/api/token?for=openshift'
returns a "{"errors":[{"code":"internal_error","detail":"unable to load provider for cluster URL https://api.starter-us-east-2a.openshift.com","status":"500","title":"Internal error"}]}
"

Looks like a problem with looking up the cluster config.

[2018-06-18 14:14] jiekang commented on #3784
Though the UI does not allow application names with a number after https://github.com/fabric8-ui/fabric8-ui/pull/3025, this is still an issue as it seems to be using the GitHub repository name.

1. Create GitHub repository with name starting with number, like `1234-4321`.
2. Import codebase with valid application name `abcd` and use GitHub repository above.
3. Observe failure to build with same er

[2018-06-18 14:24] catrobson commented on #3733
Is there any activity on this story to date?

[2018-06-18 14:49] joshuawilson commented on #3816
I see a 404 that is CORS related but I don't have an issue using prod-preview.

Can you try a hard refresh? (ctl + shft + R)
maybe logout and login. Sometimes you get logged out on the service but the app in the browser doesn't know it.

[2018-06-18 14:49] invincibleJai commented on #3781
sure @jiekang

[2018-06-18 14:51] ppitonak commented on #3816
Neither `Ctrl + Shift + R` nor logout & login helped

[2018-06-18 14:52] sdash-redhat commented on #3800
Ok. Please close this.. But there may be some changes to the menu structure etc.. depending on the scope and what items are going to be covered. For that if required we can create another quick task and will update that one.

[2018-06-18 15:18] joshuawilson commented on #3818
why remove 'team/analytics'? it is the parent that makes for easier searches

[2018-06-18 15:34] jiekang commented on #3129
[code]

[2018-06-18 15:35] pbergene commented on #3816
On it.

[2018-06-18 15:40] alexeykazakov commented on #3816
The issue was caused by wrong OSO cluster config secret update in preview. The secret was updated (to wrong value) by mistake.

[2018-06-18 15:59] invincibleJai commented on #3818
we mostly filter by `team/analytics/wizard` for launcher task as we have separate scrum/planning for it, `team/analytics` i felt is more to do with core analytics work. If you feel that makes search easier, will re-add it. :)

[2018-06-18 16:01] joshuawilson commented on #3818
I'll leave that to @sivaavkd and @GeorgeActon to decide. Then we can all follow that direction.

[2018-06-18 16:01] pbergene commented on #3816
Confirmed restored correct values.  Got preview working for me.

[2018-06-18 16:01] #3816 closed

[2018-06-18 16:35] muruGanesan commented on #3733
@catrobson, I am started working on Scrum but as per current status, the OSIO Planner will have "Agile template".
So, the current focus is to create a common template for all the process method (tools).
I will add the draft version soon and hold this issue (for some time).

[2018-06-18 19:41] jiekang opened #3819 "Deployments API might be confused by . and - replacements in OpenShift"
If you create an application from a GitHub repository with a '.' in the name, it is deployed in OpenShift with '-' replacing the '.'. E.g. `abc.123` is `abc-123` in OpenShift.

The deployments API does not seem to be able to find the deployment for the application. The response from `https://api.openshift.io/api/deployments/spaces/<spaceId>`looks like:

[code]

When I look at the OpenShift console

[2018-06-18 19:41] jiekang commented on #3819
@ebaron does this look like it could be a problem in the Deployments API?

[2018-06-18 19:48] ldimaggi commented on #3810
In this case - the lack of the link to the 4th work item is persistent. Is this evidence of some DB corruption?

[2018-06-18 20:13] jiekang commented on #2380
@openshiftio/uxd-team

Could someone take a look at the designs given to us @ https://redhat.invisionapp.com/share/BHGPNUXCR9A

Were these reviewed or finalized in any way? Is this something that we want developers to work on? The backend support for some of the information required for these designs exists now.

[2018-06-18 20:40] ebaron commented on #3819
@jiekang I forked your abc.123 repo and was not able to reproduce the issue. It works fine for me.
Build config is named abc.123:
[code]
Deployment config is named abc-123:
[code]

![screenshot from 2018-06-18 16-36-15](https://user-images.githubusercontent.com/4326090/41560664-d4dabdc0-7315-11e8-8dbd-ead81220c6d3.png)

Could you check again, or let me know if I'm missing something?

[2018-06-18 21:05] jiekang commented on #3819
[code]
[code]
Interesting. My space name is 1234 but it should be using uuid's anyways.

The deployments array is definitely empty in the response from `https://api.openshift.io/api/deployments/spaces/<spaceId>`

When I examine the labels for dc abc-123 it seems to be correct too. I'm not sure why this is happening for me then.

[2018-06-18 21:07] ebaron commented on #2724
With https://github.com/fabric8-services/fabric8-wit/pull/2112, incorrect space labels are now logged as a warning in the Deployments API instead of returning an error. The launcher no longer configures fabric8-maven-plugin to apply space labels at all, so any space labels on deployments are from old configuration left behind by the old launcher. Let's use #2360 to track the work to fix space labe

[2018-06-18 21:07] #2724 closed

[2018-06-18 21:41] ebaron commented on #3819
@jiekang Could you attach the builds for this application? It might give us some clues.
[code]

[2018-06-19 04:18] sthaha commented on #1933
Since this issue seems to not occur anymore, I am going to close it . Please reopen it if that isn't the case.

[2018-06-19 04:18] #1933 closed

[2018-06-19 04:20] sthaha commented on #1866
This issue seems to be not relevant anymore; hence closing it. Please reopen it if that isn't the case.

[2018-06-19 04:20] #1866 closed

[2018-06-19 04:20] sthaha commented on #2239
Since this issue seems to be not relevant anymore, I am going to close it . Please reopen it if that isn't the case.

[2018-06-19 04:20] #2239 closed

[2018-06-19 06:27] sanbornsen commented on #3184
We are ahead of this discussion and things are in place right now. We don't need this thread anymore.

[2018-06-19 06:27] #3184 closed

[2018-06-19 06:29] nimishamukherjee commented on #3810
@ldimaggi I see all the three child links including https://openshift.io/openshiftio/openshiftio/plan/detail/2616
![alllinks](https://user-images.githubusercontent.com/1892722/41580336-2f5e1740-73b8-11e8-8ebf-1acdd998734a.png)

[2018-06-19 06:30] rgarg1 commented on #3706
Good suggestions @Veethika. We also would need to display WI IDs in the list of existing links. Do we need a mock UI before we get executing on this? @nimishamukherjee

[2018-06-19 06:34] nimishamukherjee commented on #3810
I also tried the steps mentioned by you and could not reproduce the issue.

[2018-06-19 06:34] nimishamukherjee commented on #3810
@rgarg1 can you reproduce this issue?

[2018-06-19 06:35] nimishamukherjee commented on #3786
@Veethika @sunilmalagi please evaluate this recommendation.

[2018-06-19 06:36] muruGanesan commented on #3792
@catrobson, @serenamarie125 , Could you please point me to the stakeholders & designers of Openshift, So that I can initiate the discussion.

[2018-06-19 06:44] nimishamukherjee commented on #3615
@Raunak1203 can you please add the current behaviour?

[2018-06-19 06:49] kishansagathiya commented on #3617
From what I have read (https://www.spinnaker.io/ebook/ContinuousDeliveryWithSpinnaker.pdf, https://thenewstack.io/ci-cd-with-kubernetes-ebook-free-download-on-the-new-stack/), it is meant for individual companies to do their deployments.
Spinnaker does not have an end to end CICD System. If anyone were to use Spinnaker, they will have to use something like Jenkins or TravisCI for CI(https://stacko

[2018-06-19 06:51] nimishamukherjee commented on #3690
@michaelkleinhenz @alexeykazakov looping in UX (@Veethika ) for addressing create and edit rights on work items.

[2018-06-19 06:56] #2704 closed

[2018-06-19 07:13] nimishamukherjee commented on #3772
@Veethika @sunilmalagi please have a look and let us know your thoughts. If we need to include first name, last name, and user name, how would the UI look?

[2018-06-19 07:19] Raunak1203 commented on #3615
@nimishamukherjee we are getting error while adding workitem ,"Problem adding work item."
![add](https://user-images.githubusercontent.com/34271052/41581117-144fd7f6-73bb-11e8-85fc-d06893f131b1.gif)

[2018-06-19 07:31] animuk opened #3820 "[8] Performance Improvement for Dependency Editor APIs"
## User Story

Dependency Editor API response are currently not efficient and takes longer response times. Plan is to  -

1. implement Caching mechanism in the APIs
2. Optimize Front API calls to remove the redundancy and error handling.
3. Stress testing the analytics APIs list for the dep editor for the optimal performance.

[2018-06-19 07:38] kishansagathiya commented on #3617
https://chat.openshift.io/developers/pl/nd1snhhfzf8nzjk73byj1bzdae

[2018-06-19 08:01] ljelinkova commented on #3756
@corinnekrych @xcoulon Before implementing proper solution, could you please manually change the following feature levels on prod-preview to Beta so that we can run our tests there? Thanks.

- Deployments
- MyWorkItemsCard
- Planner

[2018-06-19 08:05] #3800 closed

[2018-06-19 08:07] sdash-redhat commented on #3653
Was taken care of by Michael in his holistic approach to team, security groups and users

[2018-06-19 08:07] #3653 closed

[2018-06-19 08:08] ljelinkova commented on #3416
For me the "Recent Active" is contradiction - as recent should be finished and active still running :-) Is there anybody who knows how this "Recent Active Pipelines" are supposed to work?

I personally would prefer the simplest approach - title just Recent pipelines and it would contain the list of pipelines without any filtering.

[2018-06-19 08:12] AshishDurgude commented on #3813
One more issue related to UX changes in Dependency editor
https://github.com/openshiftio/openshift.io/issues/3775

[2018-06-19 08:12] nimishamukherjee commented on #3707
Correct @Veethika
@maxandersen
We are working on delivering the UI as specified by the wireframe.
On "No audit" text, PM's feedback was there will never be a "No audit" scenario. By default, we need to show the work item created entry.
Also, the term audit might draw a negative response from users of the system, hence the term timeline.

[2018-06-19 08:12] chmouel opened #3821 "After a tenant reset, UI would get stuck"
after resetting my tenant :

![image](https://user-images.githubusercontent.com/98980/41584886-c473e70c-73a8-11e8-8af2-0e4ce124ccbe.png)

I go back to my Dashboard home and I am getting a spinner with a `Please wait while we load your recent spaces`

![image](https://user-images.githubusercontent.com/98980/41584921-e173cb38-73a8-11e8-9f5d-13b5acc8d9f0.png)

This is the XHR requests I am getting wh

[2018-06-19 08:13] sdash-redhat commented on #3655
@catrobson Is there a link to the latest design files for the space that the current implementation is based on?

[2018-06-19 08:17] sdash-redhat commented on #3801
@muruGanesan @mindreeper2420
Can we look into the OSIO and list down the inconsistencies?

[2018-06-19 08:28] arunkumars08 commented on #3284
Closing this as the changes for the same are handled here - https://github.com/openshiftio/openshift.io/issues/3244

[2018-06-19 08:28] #3284 closed

[2018-06-19 08:32] nimishamukherjee commented on #3706
@Veethika @sunilmalagi we need to come up with a layout option for linking which has a better readability.
The current layout is confusing.

Maybe something like
What would you like to link with "work item title [work item id]]
_work item dropdown_
How would you like to link the two
_relationships dropdown_

Another consideration would be, if we would like to introduce add of children on the detai

[2018-06-19 08:35] sdash-redhat commented on #3655
@catrobson I found one active link in #477 i.e. https://redhat.invisionapp.com/share/DQDSL22JA#/screens/258353405
Is this the latest one?

@catrobson @muruGanesan @joshuawilson  @bmicklea
Also, to understand some background on the earlier discussions that might have touched upon the search aspect  --

what was stakeholder's opinion on the using a global search bar in the main navigation bar that a

[2018-06-19 09:52] piyush1594 commented on #1259
I am able to reproduce both the issue @bartoszmajsak and @sthaha has mentioned.

[2018-06-19 09:54] piyush1594 commented on #1126
@sthaha I tried to reproduce it. Setup phase goes perfectly. In the test phase when I commit and push to origin/master from che. There is no second pipeline that comes up for me.

[2018-06-19 09:57] piyush1594 commented on #1368
@krishnapaparaju Is this still an issue. If yes, how it can be reproduced? Are you able to reproduce it now?

[2018-06-19 09:59] piyush1594 commented on #2041
@mishaone I think this is not an issue right now. @sthaha Can you please take a look. Seems like a network issue only. Closing this.

[2018-06-19 09:59] #2041 closed

[2018-06-19 10:09] piyush1594 commented on #2191
@sthaha As @ebaron mentioned #2360 is the issue and he is already working on a proper fix. I don't know we should keep this or close as the other one has more visibility.

@ebaron Is there anything that build team need to do for this. In that case, can we drop the build team label?

[2018-06-19 10:11] piyush1594 commented on #2235
@michaelkleinhenz @joshuawilson @jaseemabid As the planner team has moved to GKE is this still a relevant issue?

[2018-06-19 10:13] piyush1594 commented on #2237
@michaelkleinhenz with #2729 we have tried queuing the builds. Is this still the issue. cc @hrishin

[2018-06-19 10:16] piyush1594 commented on #2397
@jaseemabid @hrishin Is this still a valid issue? Right now boosters are working properly.

[2018-06-19 10:32] chmouel commented on #3821
it seems consistent, as 2h later it still loops indefinitely with the same "please wait" message

[2018-06-19 10:33] miteshvp commented on #1368
@piyush1594  - yes, this is still the case. Build does not use Users OSIO token while invoking Analytics API.

[2018-06-19 10:56] #3812 closed

[2018-06-19 10:57] jaseemabid commented on #2397
@piyush1594 Let's close it. Thanks for spotting it.

[2018-06-19 10:57] #2397 closed

[2018-06-19 11:03] piyush1594 commented on #2527
@pradeepto @krishnapaparaju @sthaha @maxandersen Is there need to fix this in build.now. The fix is the pipeline is already there to limit the name to 40 chars.

[2018-06-19 11:04] piyush1594 commented on #2418
@sthaha I think this is still the issue not sure. Do you have any inputs on this?

[2018-06-19 11:21] Raunak1203 opened #3822 "Issue while filtering workitem"
Steps:

- Open https://openshift.io/openshiftio/openshiftio/plan?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20typegroup.name:Requirements)
- Click WorkItemGroup Requirements
- Select filter-By Title 'notification' i'm getting loading
- And if you Toggle "Show Tree" on and off more "Filters" are added to the 'enabled filters

[2018-06-19 11:55] invincibleJai opened #3823 "[5] UI support to enable Openshift.io users to opt-in for monitoring their stacks"
### User Story : https://openshift.io/openshiftio/openshiftio/plan/detail/2090

As an openshift.io user it should be possible to get notified of any security issues in their application stack. Also, it should be possible for OSIO users to opt-out of such service for any repositories under their codebases.

**Acceptance:**

- OSIO users are by default opted-in to monitor their application stacks fo

[2018-06-19 12:01] sthaha commented on #1126
@piyush1594

that seems like another unrelated bug if this is the case. Changes to the project should result in a build.

Could you please confirm that you did abort the first build?

[2018-06-19 12:10] #3122 closed

[2018-06-19 12:10] #3622 closed

[2018-06-19 12:39] krishnapaparaju commented on #3442
closing as its not reproducible..

[2018-06-19 12:39] #3442 closed

[2018-06-19 13:05] jiekang commented on #2406
I believe this wizard no longer exists. Closing this issue.

[2018-06-19 13:05] #2406 closed

[2018-06-19 13:06] Veethika commented on #3690
@alexeykazakov @nimishamukherjee @michaelkleinhenz  I have my doubts if these 'rights' could be looked at in isolation. Shouldn't there be a larger story around it?

[2018-06-19 13:07] jiekang commented on #3416
Agree on confusing and I'd be fine changing it to just `Recent` instead of `Recent Active` and showing the last 4-5 pipelines based on date only. The change in the filter is easy, just remove the condition for `bc.statusPhase !== 'Complete'`

The thing is, I am not up to date on the UX work being done in this area. Is this widget already being reworked? Or will it be dropped? Is it okay to make th

[2018-06-19 13:23] xcoulon commented on #3756
@ljelinkova I just updated the 3 features you mentioned above to the requested `beta` level. Please let me know if it's ok for you or if you have any issue.

[2018-06-19 13:30] joshuawilson commented on #3655
I think that if we had a global search that would cover the need to search here. However, I think we can make this minor change much faster and should do this first. Then we can remove it when the global is in place.

[2018-06-19 13:32] #3741 closed

[2018-06-19 13:53] rgarg1 commented on #3822
This is certainly Sev-1 as I reach a point of no return. See below:

![planner s1](https://user-images.githubusercontent.com/28748448/41601498-45d531b4-73f6-11e8-819a-263ee0029d90.png)

[2018-06-19 13:54] ljelinkova commented on #3756
It works, thanks :-)

[2018-06-19 13:56] GeorgeActon commented on #3675
@pradeepto Is this in a planner work item? Getting Started (GS) team is dependent on it so I wuld like to be able to see it in planner to link the dependency into the GS plan.

[2018-06-19 13:59] nimishamukherjee commented on #3690
@muruGanesan @catrobson do we have a story around permissions at an OSIO level.

@Veethika we need to work with the auth team, align with the overall OSIO permission model and arrive at Planner's permission model.

[2018-06-19 14:10] joshuawilson commented on #2235
I don't think so but I'll let @michaelkleinhenz confirm.

[2018-06-19 14:40] chrislessard opened #3824 "Mobile view of the deployments page could use some help."
On a mobile view (simulated with Chrome), interpreting the deployments page becomes very difficult.
It would appear as though some icons are rendering outside of their cards, and the labels no longer match up with them in a logical fashion.

Screenshot:

![2018-06-19-103713_1919x991_scrot](https://user-images.githubusercontent.com/17230733/41604309-e7d20c16-73ac-11e8-9145-7347e3a82c62.png)

[2018-06-19 14:43] serenamarie125 commented on #3792
@muruGanesan, the OpenShift stakeholders will be myself, Colleen Hart, Chris Shinn & Brie Mignano.  The OpenShift team hasn't been able to prepare their use cases yet, but it would be great if we could have some time set for you to share your findings with us.  If possible, could we set something up for Monday the 25th ?  A number of the OpenShift designers will be OOO starting the 26th and 27th f

[2018-06-19 14:44] sdash-redhat commented on #3655
@aslakknutsen Your thoughts will be valuable in this context. Do you believe, for a long-term perspective, we should explore the global serach option (maybe as a separate story)... Also any other thoughts in this regard?

[2018-06-19 14:47] aptmac commented on #3824
Related: https://github.com/openshiftio/openshift.io/issues/1909

But this issue is mobile specific, and may require additional/different discussion than just generic small screen sizes.

[2018-06-19 14:55] bmicklea commented on #3821
Strange, I can't reproduce it... @ldimaggi would you mind trying?

[2018-06-19 15:05] joshuawilson commented on #3821
by consistent, we are asking if you can reproduce this?

[2018-06-19 15:08] muruGanesan commented on #3690
@nimishamukherjee, @Veethika

Here are the relevant stories:
Master story from PM: https://github.com/openshiftio/openshift.io/issues/2068
UX story: https://github.com/openshiftio/openshift.io/issues/2910
Additional UX story:
- https://github.com/openshiftio/openshift.io/issues/3599
- https://github.com/openshiftio/openshift.io/issues/3654

-----
@Veethika
I would request you to keep @alexeykazako

[2018-06-19 15:14] chmouel commented on #3821
Yes I can reproduce it, (and I have done this a few times before logging into this bug), went again to https://openshift.io/cboudjna/_cleanup got another message that says my tenant has been cleaned up :

![image](https://user-images.githubusercontent.com/98980/41606489-1384e4d2-73e4-11e8-8c4e-7640d2d65c9e.png)

and still get this "Please wait while we load your recent spaces" showing instead of h

[2018-06-19 15:28] aptmac opened #3825 "Visiting Planner changes HTML header font-sizes on the Deployments page"
Currently, visiting the Planner and then viewing the Deployments page results in the h3/h4 font-sizes to be decreased by roughly ~1px. The [f8ui _typography.less](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/assets/stylesheets/shared/_typography.less) [0] rules get overshadowed, and for example, the h3 font-size goes from 1.3em to 15px.

![css](https://user-images.githubusercontent.com

[2018-06-19 16:41] nimishamukherjee commented on #3692
@Raunak1203 please add the OSIO link here

[2018-06-19 16:42] christianvogt opened #3826 "webpack chunk JS files contains inlined source maps for CSS"
I noticed that the webpack chunks output from `npm run build:prod` included source map information in the JS chunks. I turned off source maps from the css and less loaders in webpack.common.js and the following table are the results.

I don't suggest turning off source maps, but rather all source maps should be included in external files. There is already a generated `.map` file for each JS chunk.

[2018-06-19 17:13] joshuawilson commented on #3825
Over time we have had several issues on this. This is due to how Planner handles CSS. We hope to align them as we move to extensibility.

[2018-06-19 17:39] alexeykazakov opened #3827 "Can't open user profile if username looks like email"
For example https://openshift.io/alkazako%2B1@redhat.com gives 404 Not Found error.
The username is `alkazako+1@redhat.com` but UI doesn't encode it when calling Auth service:
https://auth.openshift.io/api/users?filter[username]=alkazako+1@redhat.com so, Auth returns an empty list of users.
All params in our HTTP requests should be encoded properly:
https://auth.openshift.io/api/users?filter[usern

[2018-06-19 17:51] ebaron commented on #3819
@jiekang It looks like the problem is that there are no completed builds for the build config. The first build was cancelled, and the second seems to be stuck in the "New" phase. I think what may have happened is the first build finished and rolled out to the stage environment, but was cancelled instead of promoted.

In order to find the deployment config name when it differs from the build config

[2018-06-19 17:53] serenamarie125 commented on #1840
@catrobson I'd suggest that we start with a subset from this list : https://www.ssa.gov/accessibility/keyboard_nav.html

[2018-06-19 17:57] christianvogt commented on #3826
Found the following regarding css-loader and source maps from here https://webpack.js.org/loaders/css-loader/#sourcemap

Maybe for production we need to turn off sourceMaps for CSS.

[2018-06-19 17:57] serenamarie125 commented on #3502
I think we need to have a list of generic keyboard controls which we support across the app.  We then may need to identify how to handle specific areas of the UI .  I'd suggest that @Veethika starts with getting agreement on a subset of keyboard controls (likely a subset of these https://www.ssa.gov/accessibility/keyboard_nav.html).  Once we have agreement there, go further into specific areas of

[2018-06-19 18:14] alexeykazakov opened #3828 "Majority of avatars are not rendered correctly in collaborators page"
![col](https://user-images.githubusercontent.com/620087/41615894-5fecb5c6-73b1-11e8-8f13-d2cf398fc324.png)

Probably there are some problems with these avatars. Not sure why the majority of users has "broken" avatars though... We need to investigate it. But even if we really can't render the avatar then maybe we can  show an empty or default pic or something?

[2018-06-19 19:23] maxandersen commented on #2527
since >40 on names is still going to happen it would make sense to figure out why this is failing to actually know why the limit is necessary to be there.

[2018-06-19 19:37] joshuawilson commented on #3826
I think they are on for sentry reporting.

@dgutride do you know if we turned that for anything else?

[2018-06-19 19:52] mindreeper2420 commented on #3799
Linking this with https://github.com/openshiftio/openshift.io/issues/2871, as they both relate to design standards in OSIO.

[2018-06-19 20:43] ebaron commented on #3819
@jiekang This shouldn't be too hard to change.

I think a better long-term solution would be to apply labels to associating OpenShift objects to their OSIO application, but this will affect several different areas.

[2018-06-19 21:11] mindreeper2420 commented on #3826
I didn't enable them, as far as I can remember. The less-loader has a new plugin for extracting stylesheets into a dedicated file, but that requires Webpack 4.

[2018-06-19 23:32] mindreeper2420 commented on #3826
A thought on sourcemaps - if they are removed from production, we won't be able to see what Less file a particular style resides in. Not sure if that will be an issue for anyone trying to figure out why something isn't correct.

[2018-06-20 00:18] sthaha commented on #1259
This would only be solved as a part of CICD.next as link to jenkins.openshift.io can only route to the jenkins of the logged in user.

Perhaps we should close this as won't fix

/cc @krishnapaparaju @pradeepto

[2018-06-20 01:34] joshuawilson commented on #3822
Do we have a fix for this? If not, is someone working on it?
cc @nimishamukherjee @michaelkleinhenz

[2018-06-20 01:45] joshuawilson commented on #3416
@openshiftio/uxd-team please advise.

[2018-06-20 02:56] joshuawilson commented on #3791
I'm not sure @l0rd is the right person. Maybe @ebaron and @andrewazores could help.

[2018-06-20 03:17] sthaha commented on #2479
@piyush1594 lets close this issue since significant amount of changes have gone into idler and jenkins proxy.

[2018-06-20 03:17] #2479 closed

[2018-06-20 03:31] piyush1594 commented on #1126
Yes, I abort the first build. @sthaha

[2018-06-20 03:39] alexeykazakov commented on #3690
This story is outdated.

[2018-06-20 03:51] piyush1594 commented on #2600
@RickJWagner this won't happen right now. If Jenkins is idled and you start a build, then first Jenkins get unidled and build starts. There is a case where it is not, that issue is already there #3517

@sthaha @RickJWagner can we close this issue?

[2018-06-20 03:57] muruGanesan commented on #3794
@Veethika, If you have any planner reference please paste the "ID" & "Link". If you have completed in Planner then I request you to close this issue by providing 'Invision link'

[2018-06-20 03:58] piyush1594 commented on #2728
@ldimaggi @alexeykazakov The related issue #2229 has been closed with the fix. I think we are good to close this.

Moreover, this issue is related to UI, if its still there can we drop the `build-cd` label. Thanks, cc @sthaha

[2018-06-20 04:00] piyush1594 commented on #2748
@jaseemabid I think this is very old and not the case right now. Can we close this? cc @sthaha

[2018-06-20 04:01] piyush1594 commented on #2805
@chmouel Is this done or still pending?

[2018-06-20 04:02] muruGanesan commented on #3142
Moved to:  https://github.com/openshiftio/openshift.io/issues/3654
Here is the final version of 'the team flow'
https://redhat.invisionapp.com/share/9UKW89QM3ZH#/screens/302986109

[2018-06-20 04:02] #3142 closed

[2018-06-20 04:03] sthaha commented on #2748
@piyush1594 2a seems to work just fine based on my experience with prod-preview. Going to close this.

@jaseemabid  Please reopen if can reproduce this.

[2018-06-20 04:03] #2748 closed

[2018-06-20 04:04] piyush1594 commented on #2641
@Ohrimenko1988 Can you reproduce right now. I think this is not the case in current prod. Yes, there may be little bit delay as the sync happens at an interval of 5 sec. Can you try and if this is not the case, can you close? cc @sthaha

[2018-06-20 04:07] piyush1594 commented on #2807
@Veethika @mishaone Seems like a UX change and UI issue. Is there anything `build-cd` team needs to do with it. If that is the case, can you please drop the label? Thanks cc @sthaha

[2018-06-20 04:14] piyush1594 commented on #3774
@ldimaggi I think you forgot to close. Can we close or its still an issue?

[2018-06-20 04:16] piyush1594 commented on #2931
@animuk This is not the case in the current system. Can you please just confirm and close this issue? Build is working fine for me.

[2018-06-20 04:18] piyush1594 commented on #3030
Duplicate of #1259 Can we close this issue? @sthaha @garagatyi

[2018-06-20 04:29] piyush1594 commented on #3346
@andrewazores @animuk @jyasveer Is there anything `build-cd` team is needed to do. Can we drop that label is all is fine?

[2018-06-20 04:31] piyush1594 commented on #3024
@jarifibrahim @ldimaggi Seems like this is duplicate of #3346 Can we close this as the other one has more visibility and work is going on there?

[2018-06-20 05:08] Veethika opened #3829 "Keyboard Access for Planner(5)"
To come up with a keyboard access guideline for Planner in OSIO.
(Related to #1840 #3502)

### **Verification Criteria**

- [x] Map the Planner controls to existing keyboard commands listed here: https://www.ssa.gov/accessibility/keyboard_nav.html

- [x] Identify areas/controls within Planner that would require additional commands

- [x] Propose additional set of commands if needed

- [x] Get the

[2018-06-20 05:14] Veethika commented on #3829
@serenamarie125 @nimishamukherjee @muruGanesan here is the new story I'll be using to track the progress.

[2018-06-20 05:23] Raunak1203 opened #3830 "Upating Business Value field in Agile template throws error"
Steps:
- Create a work Item of type Theme
- Open Quick Preview and try updating Business Value field
- Getting error, "Problem in update Workitem."

![update](https://user-images.githubusercontent.com/34271052/41638626-029753c8-7478-11e8-803f-ee5cc9d17172.gif)

[2018-06-20 05:29] Raunak1203 opened #3831 "None in Priority and Severity dropdown should be removed in Agile template"
- Create a work item of type Defect
- Click on the workItem title to open quickPrebiew
- Select Priority or Severity drop-down
- None is also displayed in the drop-down which should be removed

![screenshot from 2018-06-20 10-54-28](https://user-images.githubusercontent.com/34271052/41638808-dd39cca4-7478-11e8-81d6-906c02e8e0ca.png)

[2018-06-20 05:31] sbose78 commented on #3690
@sanbornsen @baijum  Let's ensure this works at the API level, and if not, we'll understand where to put in a fix.

[2018-06-20 05:57] Raunak1203 opened #3832 "Agile template : Creating new defect has by default Priority P1, Severity- Sev1, and resolution-Done"
- Create a new workItem of type Defect
- Click on workitem to open quickPreview
- By default Priority p1, Severity - Sev1, and resolution - Done selected

![screenshot from 2018-06-20 11-26-59](https://user-images.githubusercontent.com/34271052/41639770-dc555b88-747c-11e8-8581-6d2f567f1824.png)

[2018-06-20 05:57] jarifibrahim commented on #3024
@piyush1594 The error I saw was `Forbidden!Configured service account doesn't have access`. I don't think this is related to https://github.com/openshiftio/openshift.io/issues/3346

[2018-06-20 05:59] piyush1594 commented on #3024
@jarifibrahim If you see the error

[code]

This is about exceeded quota limits

[2018-06-20 06:01] animuk commented on #3782
@ldimaggi @sunilk747 Should we close this if this is not reproducible.

[2018-06-20 06:02] jarifibrahim commented on #3024
Thanks @piyush1594. It looks like a duplicate of https://github.com/openshiftio/openshift.io/issues/3346

Closing this one.

[2018-06-20 06:02] #3024 closed

[2018-06-20 06:08] nimishamukherjee commented on #3822
@DhritiShikhar can you confirm if the work item creator can update the work item

[2018-06-20 06:14] nimishamukherjee commented on #3822
@joshuawilson we are looking into this.

[2018-06-20 06:14] piyush1594 commented on #2973
@jaseemabid Is this possible to fix this in the current build.now and also is this important to fix this in build.now?

[2018-06-20 06:15] DhritiShikhar commented on #3822
^ Creator which is non-collaborator.

@nimishamukherjee looking into it

[2018-06-20 06:17] ljelinkova opened #3833 "Prod: cannot create an application"
The E2E tests started to fail on prod-preview.

Steps:
1. Start Create a new space wizard and fill the values
2. Fill the values on Create an Application screen (Select create a new codebase) and press Continue
3. Result: 404: You've found something, but not the page you're looking for.

The reason why I am reporting this on prod-preview is to prevent it from getting to the production

[2018-06-20 06:18] sdash-redhat commented on #3655
Based on my discussions with @catrobson, @joshuawilson  and @aslakknutsen  it appears that it makes more sense to have a global search that would be more meaningful for the users in various contexts of what they are looking for. That should be somewhat a long-term and recommended approach, and it is the right time we can explore the scope and behaviour and design of global search.

Meanwhile, for

[2018-06-20 06:22] piyush1594 commented on #3833
@ljelinkova Please add labels.

[2018-06-20 06:31] jarifibrahim commented on #2235
@piyush1594 We can close this issue. The failures were on GKE and the planner team is no longer using GKE.

[2018-06-20 06:31] #2235 closed

[2018-06-20 06:44] Raunak1203 opened #3834 "Selecting other space and clicking Plan tab shows loading workitem"
Steps:
- Login to - https://openshift.io/openshiftio/openshiftio/plan?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20typegroup.name:Scenarios)&showTree=true
- Select other space from dropdown
- Click Plan tab shows loading workitem

Issue is reproducible in both prod and prod-preview

![peek 2018-06-20 12-18](https://user-images.githubusercontent.com/34271052/41641866-4a93eca2-7484-11e8-93

[2018-06-20 06:51] ljelinkova commented on #3833
@piyush1594 Sorry, I do not have permissions to do that.

[2018-06-20 07:15] hrishin commented on #3517
@ppitonak please request admin permission from @aslakknutsen

[2018-06-20 07:20] piyush1594 commented on #3252
@lordofthejars @gastaldi @aslakknutsen As the workaround is there in the proxy and fix is needed in launcher side. I am dropping the `build-cd` label and adding the launcher labels for the same. Thanks

cc @sthaha

[2018-06-20 07:26] surajssd opened #3835 "URL decoding of the content does not seem to be done correctly"
I did a comment on planner with three back ticks and some json content, it does not render as it does on github

here is the screenshot:

![screenshot from 2018-06-20 11-56-58](https://user-images.githubusercontent.com/5815795/41643563-2693555e-7489-11e8-9322-8fb429a4bfa6.png)

And the link to the issue is here: https://openshift.io/openshiftio/openshiftio/plan/detail/2083

[2018-06-20 08:09] AshishDurgude commented on #3801
I am currently working on OSIO review for design standards.

[2018-06-20 08:46] miteshvp commented on #3685
fixed by https://github.com/fabric8-analytics/fabric8-analytics-server/pull/324

[2018-06-20 08:46] #3685 closed

[2018-06-20 08:53] invincibleJai commented on #2063
@ibuziuk Analytics own's bayesian ls in OSIO.

[2018-06-20 09:15] sbryzak opened #3836 "Review new e-mail templates for team and space invitations"
This PR in the notification service requires review of the wording and layout for the two new e-mail templates it adds:

[https://github.com/fabric8-services/fabric8-notification/pull/72/files](https://github.com/fabric8-services/fabric8-notification/pull/72/files)

New templates:

- [template/invitation.space.noorg](https://github.com/sbryzak/fabric8-notification/blob/a0c70d4071f873813b225d97870e

[2018-06-20 09:18] sbryzak commented on #3836
Related issues:

[https://github.com/fabric8-ui/fabric8-ux/issues/941](https://github.com/fabric8-ui/fabric8-ux/issues/941)

[https://github.com/fabric8-services/fabric8-auth/issues/507](https://github.com/fabric8-services/fabric8-auth/issues/507)

[2018-06-20 09:38] jyasveer commented on #3585
closing this as this will be handled here https://github.com/fabric8-launcher/ngx-launcher/issues/261

[2018-06-20 09:38] #3585 closed

[2018-06-20 09:40] piyush1594 commented on #3833
@ljelinkova I have added the labels which look relevant to me.  As this is in prod-preview, I have added SEV-2, but if it gets promoted to prod, then it's a potential SEV-1.

[2018-06-20 09:45] piyush1594 commented on #3833
Steps to reproduce

1. Go to a `space` in `prod-preview`. Click `Create Application`. Enter all the details.

![create-1](https://user-images.githubusercontent.com/19270240/41650835-9326014a-749c-11e8-9ba5-7f40c2174162.png)

2. Now clicking on `Continue` will result to

![create-2](https://user-images.githubusercontent.com/19270240/41650874-b39c0b04-749c-11e8-820c-3d311f4738d5.png)

[2018-06-20 09:55] piyush1594 commented on #3058
@rohanKanojia @krishnapaparaju @hrishin

Better error logging PR has been merged in FMP, still not in boosters yet. But I have an observation that as this is an intermittent issue. While fixing #3450 when we downgraded the RAM to use 1 GB, we faced the same issue, so it is something happening when Jenkins namespace does not have enough space to create a new pod and may be occurring because of #334

[2018-06-20 10:04] piyush1594 commented on #2834
@sthaha I am not sure. What should we do about this? The other issue mentioned is closed and I never faced this.

[2018-06-20 10:05] sbose78 commented on #3836
Hi @mindreeper2420 , could you please review the email templates.
CC: @lwrigh @muruGanesan

[2018-06-20 10:05] sbryzak commented on #3836
A couple of screenshots also, which might be useful:

![image](https://user-images.githubusercontent.com/165507/41651916-1b9f4388-74c5-11e8-80fc-0025f27e0cdd.png)
![image](https://user-images.githubusercontent.com/165507/41651945-31095d8a-74c5-11e8-9829-364f4fc7dba7.png)

[2018-06-20 10:08] ljelinkova commented on #3833
@piyush1594 Thanks

[2018-06-20 10:08] vikram-raj commented on #3785
This issue is fixed by PR https://github.com/fabric8-ui/fabric8-planner/pull/2688.

@rgarg1 Can you please verify.

[2018-06-20 10:36] #3834 closed

[2018-06-20 10:47] michaelkleinhenz commented on #3835
Could be a double encoding on the HTTP encapsulation.

[2018-06-20 11:09] hrishin commented on #3675
Team, please note that we have done this investigation to the best possible extent by observing and trying booster applications, fabric8-pipelin-lirary and jenkins files.
However, there are some unknowns(how) which can be known upfront or during execution. There are things which could impact to the amount of work we have to do based on option/path we choose (e.g. deployment resource, using nodeshi

[2018-06-20 11:18] piyush1594 commented on #3101
hey @RickJWagner

I just tried to reproduce this and it works fine for me. Can you please check and if everything is fine. Can you please close? cc @sthaha

Thanks

[2018-06-20 11:32] piyush1594 commented on #1126
@sthaha I tried it again. Its not triggering PR on commit and push