[2018-07-11 18:31] quintesse commented on #3940
@slemeur about the number of clicks: I think the whole idea of the hub & spoke model is to present the user with most options pre-filled to reasonable defaults. So for example, I think the Pipeline should already be pre-selected, probably with the most advanced option available (but perhaps opinions differ on that).

@catrobson Now looking at this design again I realized that we're missing the clu

[2018-07-12 01:04] sbryzak commented on #3929
Something that is currently not supported, but most likely would be useful, is if we send the resource ID (i.e. the space ID) as a parameter of the redirect request.  If this is required, please create a new issue in [fabric8-auth](https://github.com/fabric8-services/fabric8-auth) and assign to me.

[2018-07-12 05:13] sthaha commented on #3802
@gastaldi

I agree with it in principle but since launcher creates these pipelines, wouldn't it make sense for the service that creates it to also cleanup? Or would rather suggest that creation of jobs and pipeline must move out of launcher to some service that should be under build?

@lordofthejars

Thanks for the investigation. I agree it is a non-trivial amount of work.

[2018-07-12 05:19] gastaldi commented on #3802
Yes, that would be the ideal choice. IMHO in a perfect architecture, Launcher would send an event to a bus saying that a GitHub repository was created and the interested parties would react accordingly.

IMHO Launcher shouldn't be doing more than just what was designed to do (launching a booster).

[2018-07-12 05:32] ibuziuk commented on #3957
@ldimaggi please provide more info (openshift events / logs). Creating an issue with no details makes it utterly difficult to investigate.

[2018-07-12 05:46] ibuziuk commented on #3957
Was able to repro against the user provisioned on `us-east-2a` oso cluster. Workspace startup is failing due to `Failed Mount` problem :

![image](https://user-images.githubusercontent.com/1461122/42614687-3d92fe42-85a7-11e8-89d3-12392b50a4d2.png)

Adding SD team

[2018-07-12 05:49] bartoszmajsak commented on #3942
I would start simple to see if you could handle service with a db and deploy that through pipeline. Probably first focus on the figuring out if such an app could be deployed on OSIO and only then start adding extras like APE tests.

If you encounter issues which are beyond "build" we should definitely reach out to other teams.

I really like @chmouel way of [evaluating NodeJS](https://hackmd.io/aO

[2018-07-12 05:54] lordofthejars commented on #3942
@bartoszmajsak Sure, let's do that it is a really good idea.

[2018-07-12 06:04] ibuziuk commented on #3884
@rhopp the issue seems to be not reproducible anymore on prod. Will you be able to verify that now it is possible to create a workspace without problems on prod when the user is added to the lockdown toggle ?

[2018-07-12 06:12] divyanshiGupta commented on #3776
Closing this issue since it is fixed now.

[2018-07-12 06:12] #3776 closed

[2018-07-12 06:23] rootAvish opened #3962 "Work items in the "closed" should be easily differentiable from items in any other state in planner"
There is no point to having a 'resolved' status if both cannot be easily differentiated from each other in the overview by any means other than the "type" column. A basic workaround to it is to make them appear greyed out or put a "closed" icon or notification next to them.

[2018-07-12 06:27] rootAvish opened #3963 ""User story" should be the default instead of "impediment" when creating a child item of an epic in the scrum template of planner."
IDK if a survey is required around this but I'm pretty sure people create user stories much more frequently than they create impediments. I can't imagine a scenario where the number of impediments you have is more than the number of stories you have to work on.

I created 3 user stories as impediments because I wasn't looking the first time I used planner to create them. I assume the same would ha

[2018-07-12 06:30] rootAvish opened #3964 "When creating a child user story from an epic the area of the epic should be inherited by the user story"
There might be scenarios prevalent where the user story is of a different work area than it's parent, but I'm sure those situations are far and in between so it's a safe bet to assume it's from the same area and give the user story the area of it's parent.

It's a major annoyance to edit each user story separately and add the correct area type.

[2018-07-12 06:37] rootAvish opened #3965 "Why can't we delete items from the planner?"
Is that something you wish to implement in the future, or is there some solid reason around not allowing users to delete (other than the fear that people might accidentally delete things). I tried searching for this question but couldn't find anything with the query "delete items planner".

[2018-07-12 06:46] rootAvish commented on #3962
Relates to https://github.com/openshiftio/openshift.io/issues/3943

[2018-07-12 06:57] rootAvish opened #3966 "When creating a child work item of an epic that is already assigned an iteration, the iteration should be inherited"
If the parent item itself is a part of an iteration, we should automatically add it's child to the same iteration as well. If user has to change it, from say train/J to train/J/sprint#, they can always still do that but in most cases I'm assuming the iterations will be defined structured enough by the team where the iteration of the parent will be the iteration for the child (If I have to complete

[2018-07-12 07:13] hrishin commented on #3942
From build standpoint that makes sense. It would be better to provision application dependencies (DB, cache, MQ, may be cloud resources) through pipeline, maybe using service catalog. (_real world app_).

[2018-07-12 07:38] skryzhny commented on #3884
I still have problem starting workspace, tried few minutes ago and got:
[code]

[2018-07-12 07:51] skryzhny commented on #3884
I finally got my workspace running after visiting https://openshift.io
It was showing that I'm not logged in, which is strange, cause I already logged in to https://che.openshift.io
Anyway after login in to https://openshift.io I'm able to run workspace at https://che.openshift.io

[2018-07-12 09:01] chmouel commented on #3954
No problem here too with a lot of different accounts,

[2018-07-12 09:13] ravsa commented on #3960
@ldimaggi Could you add more details about selected runtime and mission.

[2018-07-12 09:20] sthaha commented on #3942
@lordofthejars

Good point! I think @bmicklea who came up with this requirement will be able to help us define what a better support for SB will be like

[2018-07-12 09:42] kishansagathiya commented on #3954
Thanks a lot @chmouel

[2018-07-12 09:45] ibuziuk commented on #3884
@skryzhny yeah, that's strange but probably when you logged in via openshift.io some init tenant script was executed that fixed configuration problems in your *-che namespace.
@rhopp yeah, I see a bunch of `401 Unauthorized` for your user in oso-proxy logs. Could you please check if che sa exists in your namespace ?

[2018-07-12 09:48] kishansagathiya commented on #3895
some more thought from @chmouel

something like this ? https://stackoverflow.com/questions/34682099/how-to-call-rest-from-jenkins-workflow
no need the whole thing just checking if it's coming back with a 2xxx

[2018-07-12 09:54] lordofthejars commented on #3942
This is something that it is managed by kubernetes (case of definition + lifecycle), and then there is the "when it is started" which could be managed by pipeline as you suggested, but if fmp can (and I have used it) for this, then I think we should maintain pipeline simple. I will record a demo when I have everything in place.

[2018-07-12 09:55] CermakM opened #3967 "Persistent training and invariant testing data"
Currently, the training data is being gathered directly from the NVD feed, which changes in time as new CVEs come and go. Also, usually multiple feeds are merged together, which takes additional time.

As a developer I want to be able to evaluate models on an invariant data such that the evaluation is reliable.

Additional benefit: Persistent training database will allow to increase the amount of

[2018-07-12 09:59] CermakM opened #3968 "Estimate sources and the amount of available Golang CVEs"
[spike]

Currently, we haven't got a clear picture about how many CVEs there is in the NVD feed or whether there exist other sources of Golang CVEs.

The outcome of this spike should be an estimation of the amount of Golang CVEs available in the NVD feed (which is our main source of the data) and an insight in other possible sources of Golang CVEs.

[2018-07-12 10:37] rhopp commented on #3884
@ibuziuk `che` SA is present in my `-che` namespace:
![image](https://user-images.githubusercontent.com/1215011/42628380-3fb4cdda-85d0-11e8-8694-b388b193731f.png)

[2018-07-12 10:56] Veethika commented on #3951
@rgarg1 if the user has edited any field in the quick preview panel and has not committed to it or saved it, the moment they perform an action that calls for the closing of the panel, a warning should appear asking them to commit to the change or discard it.

[2018-07-12 11:40] #3842 closed

[2018-07-12 11:41] hrishin commented on #3784
_got closed due to PR merge_

[2018-07-12 11:41] #3891 closed

[2018-07-12 11:53] piyush1594 opened #3969 "Build not getting triggered when doing a master commit in case of different app and repo name"
When you create an application(different repo and application name) using the launcher and do some master commit on GitHub or some webhook event, build is not getting triggered. It is reproducible every time.

Steps to reproduce:
1. Create an application in space.
2. Put application name and repo name different.
3. Launch application
4. Go to GitHub of the repository, do some changes and commit to

[2018-07-12 12:08] arilivigni commented on #3871
@chmouel I can help if you have questions about s2i and how it works

[2018-07-12 12:17] ldimaggi commented on #3960
This is being seen for all runtimes/missions. The simplest example is REST + Vert.X.

[2018-07-12 12:22] ldimaggi commented on #3957
Sorry for the lack of detail - the problem is that the workspace creation was failing 100% of the time. The user account that I used is provisioned on the starter-us-east-2 cluster.

[2018-07-12 12:24] yzainee opened #3970 "Validations of typescript on OSIO"
Planner
https://openshift.io/openshiftio/Openshift_io/plan/detail/70

Tasks

- [x] Validate end-to-end workflow works as expected in OSIO

- [x] Validate end-to-end workflow works as expected in VsCode

- [x] Validate companion recommendations shown are relevant

[2018-07-12 12:28] ibuziuk commented on #3957
@ldimaggi any ideas about the reasons of failure ?

[2018-07-12 12:42] yzainee opened #3971 "Validations of nodejs on OSIO"
Planner
https://openshift.io/openshiftio/Openshift_io/plan/detail/71

Description
NodeJS support is one of the most important business goals.  Analytics platform needs to support NodeJS so that NodeJS developers get all insights same as what Maven developers get today.  Whether it is stack report, VSCode extension, inside Che editor - all of these need to work well with NodeJS as well going forwar

[2018-07-12 12:52] jarifibrahim opened #3972 "Markdown component layout breaks on copy-paste"
![screenshot from 2018-07-12 18-19-15](https://user-images.githubusercontent.com/12949454/42634216-3df3f9b4-8600-11e8-9179-9216392ce024.png)

NOTE - The extra whilte space cannot be removed by delete/backspace key

Steps to reproduce
1. Copy any json from https://github.com/fabric8-services/fabric8-wit/blob/68996d1555a29a9ef310403403855b47559d5a71/controller/test-files/work_item_type/list/ok_agile

[2018-07-12 12:52] jarifibrahim commented on #3972
@SMahil I've assigned it to you. Feel free to assign it to someone else.

[2018-07-12 13:16] amisevsk commented on #3884
To add onto the above comment, I was having the same issue until my account was removed from the lockdown feature toggle by @ibuziuk.

- `4ede3680-42b9-461b-b9bb-362bc04745f0 / amisevsk / us-east-2`

[2018-07-12 13:33] michaelkleinhenz opened #3973 "WIT "hides" Work Items when they are moved in the order-of-execution"
On prod, a WI (`109`, `e46f0528-8703-4021-8d40-b6bba51584e3`) was moved to the bottom of the tree in the "Backlog" View of the `Openshift_io` Space.

After that operation, the WI is no longer appearing in the tree or list display. It can be accessed directly. Th output of `https://api.openshift.io/api/search?page[limit]=200&filter[expression]={%22$AND%22:[{%22space%22:{%22$EQ%22:%22e8864cfe-f65a-4

[2018-07-12 13:34] piyush1594 commented on #3969
The related issue on Jenkins sync plugin https://github.com/fabric8io/jenkins-sync-plugin/issues/35

[2018-07-12 14:03] michaelkleinhenz commented on #3973
I checked if it is a repository bug by adding an explicit `system.order` to the test in `workitem/workitem_repository_blackbox_test.go::TestList()`:

[code]

..and this works. So I think it has to be something up the line, possibly in the controller.

[2018-07-12 14:06] stranvi commented on #2980
I have a microservice deployment that consists of 11 images. I ran into this same error when I changed the remote registry for images. Imagestream, dc, rc, pod description all looked fine, new registry (ACR) was referenced in each place. Also I'm sure all 11 components successfully pushed into ACR. Somehow 1 of the 11 components refused to deploy with this same "failed to pull image: authenticatio

[2018-07-12 14:15] michaelkleinhenz commented on #3973
Another weird thing: the above query shows "100" work items in the UI. The query above indicates in the `meta` section that there are 109 Work Items in the response, but there are only 102 actually in the response.

[2018-07-12 14:29] michaelkleinhenz commented on #3973
The WI (109) does show up when an additional query term is added to the query:

[code]

[2018-07-12 14:35] michaelkleinhenz commented on #3973
Ok, found ot the issue. It has something to do with the pagination: when retrieving the inital set with this query:

[code]
Note the `limit` of 200. The response says it has 109 Work Items, but only has 102. Going to the `next` link from this response:

[code]

returns a *different* list, that starts *later* in the order, *but includes Work Item 109*. So I guess the pagination does not work correc

[2018-07-12 14:37] DhritiShikhar commented on #3973
At a time API returns 100 workitems in a page.
This URL
[code]
returns the missing WI (109)

when we set the `page[offset]=100`

[2018-07-12 14:45] #3252 closed

[2018-07-12 14:47] michaelkleinhenz opened #3974 "Selecting an Iteration also shows WIs in Childs now, but doesn't apply the query"
https://openshift.io/openshiftio/Openshift_io/plan?q=(space:e8864cfe-f65a-4351-85a4-3a585d801b45%20$AND%20typegroup.name:Execution%20$AND%20iteration:eeb1f690-7258-4bcf-a09f-22aaf3e71216%20$AND%20workitemtype:2c169431-a55d-49eb-af74-cc19e895356f)

..shows the Epics from J and below, but *also non-Epics from child iterations*.

[2018-07-12 14:49] michaelkleinhenz commented on #3974
No workaround exists and this severely impacts the query ability, setting this to SEV-1.

[2018-07-12 14:49] michaelkleinhenz commented on #3973
There is no workaround for this and it severely impacts the query ability. Setting this to SEV-1.

[2018-07-12 15:20] stooke commented on #3932
@rgarg1 what is the output when you try to GET
https://api.openshift.io/api/deployments/spaces/17c1e9de-a89a-494b-91c4-819a013cb3b9 ?
(please ensure you are using the appropriate auth token)

[2018-07-12 15:34] andrewazores commented on #3655
Okay. Lots of food for thought here. I think the typeahead functionality will take some extra time and effort to implement because it requires some expanded backend support specific to that functionality.

Is the intent of the results list to be an infinite scroll, rather than Patternfly pagination? I have it prototyped with a pagination component at the moment - see the gif below. It's still miss

[2018-07-12 15:43] piyush1594 commented on #3742
This issue has been fixed in launcher backend using https://github.com/fabric8-launcher/launcher-backend/pull/478 and is in prod by https://github.com/openshiftio/saas-launchpad/pull/178

Feel free to reopen it if you face it next time. Thanks

[2018-07-12 15:43] piyush1594 commented on #3252
This issue has been fixed in launcher backend using https://github.com/fabric8-launcher/launcher-backend/pull/478 and is in prod by https://github.com/openshiftio/saas-launchpad/pull/178

Feel free to reopen it if you face it next time. Thanks

[2018-07-12 16:00] dlabrecq commented on #3940
Below are instructions for running the hub & spoke demo I created -- I don't have a place to host this ATM.

The ngx-launcher repo contains the simple demo we've tested before. I've also integrated the changes into fabric8-ui, but that's slightly more involved to setup.

The fabric8-ui demo will allow users to fully create an application, while ngx-launcher is just a simulation (good as a backup).

[2018-07-12 19:32] samuzzal-choudhury opened #3975 "Research various aspects to develop a service to handle different container images"
## Description
We are aiming to develop an API service that can take any container image as an input and can decode container details layerwise. This API should be generic enough to support integration with various services that can consume its output and provides specific insights of for each layer.

In this regard, we need to do research on various types of available container images to come up

[2018-07-12 20:51] #3857 closed

[2018-07-12 22:04] piyush1594 commented on #3846
@nurali-techie Seems like the PR tagged is merged, can we close this? If not please add the respective labels and severity

[2018-07-12 22:06] piyush1594 commented on #3954
@kishansagathiya I tried it and its working fine for me. Assigning the severity SEV-4

[2018-07-12 22:08] piyush1594 commented on #3956
@chmouel Adding it severity-2 tag please upgrade/ downgrade if does not look good.

[2018-07-13 03:12] #3846 closed

[2018-07-13 06:35] yzainee opened #3976 "Design the workflow to check for newer version availability"
#### **Planner:** [235](https://openshift.io/openshiftio/Openshift_io/plan/detail/235)

**Tasks**:
- [x] Decide on the various trigger points to trigger the flow

- [x] Design the workflow

- [x] Decide on the json structure

- [x] Document the details in a doc/ppt

[2018-07-13 06:35] yzainee commented on #3976
https://docs.google.com/presentation/d/1QOYGmtw-YsfymjEr902_XQDF-_i-HYSKBzaieX9f1SQ/edit#slide=id.g3cfd439a6e_0_56

[2018-07-13 07:32] jarifibrahim commented on #3875
From https://github.com/fabric8-ui/fabric8-planner/issues/2351

Single/double quotes do not get rendered properly when writing in code-blocks.

![screenshot from 2017-11-23 15-20-48](https://user-images.githubusercontent.com/713521/33468945-d8154ffa-d685-11e7-8975-0aced1b7bb17.png)

[2018-07-13 07:56] ravsa opened #3977 "[3] Enable Wildfly-Swam redhat runtime version boosters"
As an OSIO Developer, I will be able to create a Wildfly-Swam redhat runtime version boosters
#### Description:
As wildfly-swam redhat runtime version boosters(Mission: rest-http, health-check, configmap) are working fine. we want to enable those boosters and disable the community version boosters in openshift launcher flow.
**Acceptance:**
- Boosters should be able to pass these steps in openshif

[2018-07-13 08:05] chmouel commented on #3956
It seems that you have add a SEV-4 tho,

[2018-07-13 09:20] muruGanesan commented on #3733
This is an initial concept based on engineering team's review we may proceed or drop.

https://docs.google.com/presentation/d/1UxeI0xj_ShQ4yMLbnS9nnKQlOPIORrCNaf43gd3lIXY/edit?usp=sharing

@Veethika please update the status of this issue based on planner goal & priority, we can reconsider this story again.

[2018-07-13 10:13] DhritiShikhar opened #3978 "The problem with Pagination in Planner"
The Planner UI doesnot support pagination where as the backend returns paginated response. If a workitem does not lie in the first page, the workitem could not appear in the UI (refer: https://github.com/openshiftio/openshift.io/issues/3973)

The UI could not implement pagination because it messes up the table tree view experience.

It is not the best idea to fetch all the work items at once from

[2018-07-13 10:13] DhritiShikhar commented on #3973
Based on the discussion with @nimishamukherjee @kwk @aslakknutsen the backend is temporarily increasing the paging limit to fix the problem.

But this needs more discussion and a proper fix. I have created an issue here -> https://github.com/openshiftio/openshift.io/issues/3978

[2018-07-13 10:28] rootAvish opened #3979 "[13] Recommendation support for Golang - productionization tasks"
#### Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/108

#### User Story

The analytics platform should have the Golang recommendation service
integrated so that it can start serving the full stack report to users.

#### Description

Changes are required in the analytics server and API backbone to start supporting Golang as a valid ecosytem. In addition to those, extensive

[2018-07-13 10:30] rootAvish opened #3980 "[8] Recommendation support for Golang - Deployment configuration and Load Testing"
#### Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/107

#### User Story

The analytics platform should be able to run the Golang recommendation service on the internal OSD cluster so that recommendations can be served from a REST endpoint.

#### **Description**

This task involves the tasks required to deploy the model as a standalone service so that it can be tested usin

[2018-07-13 10:31] sdash-redhat commented on #3655
Awesome Andrew! Looks great.
Yes, the  initial intent was to have an infinite scroll, as users have better experiences with this.

P.S. I feel if we can increase the modal width , may that will help show longer description that might be there in the result items under the spce names.

[2018-07-13 10:35] rootAvish opened #3981 "[13] Companion recommendation support for Golang - Training"
#### Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/100

#### **User Story**

Analytics platform will have access to a recommendation model for Golang ecosystem to enable insights around applications and its dependencies.

#### **Description**

In order to show companion recommendations we need to train either the CVAE model or the HPF model using the data we gather for th

[2018-07-13 11:31] ppitonak commented on #385
it's possible to configure e2e tests to run with a specific booster, closing

[2018-07-13 11:31] #385 closed

[2018-07-13 11:58] Preeticp commented on #241
@joshuawilson a link to the FAQ has been added to the Troubleshooting section of the docs through this PR: https://github.com/fabric8io/fabric8-online-docs/pull/399

[2018-07-13 12:18] jarifibrahim commented on #3974
Fixed via https://github.com/fabric8-services/fabric8-wit/pull/2168

[2018-07-13 12:21] jarifibrahim commented on #3973
@stevengutz We will have a SEV-1, again.

[2018-07-13 12:39] GeorgeActon commented on #3772
why is real estate a problem.
when you are in that drop down, couldn't it simply be wider to accommodate the information?

[2018-07-13 13:00] bartoszmajsak commented on #3977
@ravsa Could you elaborate which links and where?

@ldimaggi can we use existing Booster e2e tests to cover all the steps from this acceptance criteria?

[2018-07-13 13:01] ppitonak commented on #3957
@ibuziuk @ldimaggi didn't we agree that a serious bug in prod-preview should be labeled as SEV1?

[2018-07-13 13:12] andrewazores commented on #3655
Is the increased width idea to help maintain a constant modal height when longer descriptions are shown? There are a few spaces I've seen with really, really long descriptions where no reasonable modal width would end up helping. Maybe there's another discussion to be had around a trimming or expansion behaviour of the space descriptions here.

I'll continue looking into the backend API for sortin

[2018-07-13 13:13] andrewazores commented on #3655
And PS, what are your thoughts on the button used to summon the modal? I took a little liberty with that and used a button that mimics the style of the "Create Space" one.

[2018-07-13 13:28] yzainee opened #3982 "Notification Service: Change the CVEs workflow from existing workers to gemini server"
**Planner:** https://openshift.io/openshiftio/Openshift_io/plan/detail/281
Tasks

- [x] Modify the build pipeline to send the direct/transitive dependencies

- [x] Modify the jenkins plugin to restrict scan call when notification is set to off

- [x] Test

[2018-07-13 13:38] yzainee opened #3983 "Notification Service: Check for newer versions (Build Flow)"
**Planner:** https://openshift.io/openshiftio/Openshift_io/plan/detail/236

- [x] Modify the aggregator API - Redirect the call for newer version notification

- [x] Use the stack data for version comparison & license compatibility

- [ ] Generate report

- [ ] Test Cases

- [ ] Test [ When the api is called, it should return back correct report in json format ]

[2018-07-13 13:40] yzainee commented on #3982
Refer to : https://docs.google.com/presentation/d/1QOYGmtw-YsfymjEr902_XQDF-_i-HYSKBzaieX9f1SQ/edit#slide=id.g3cfd439a6e_0_120

[2018-07-13 13:40] yzainee commented on #3983
Refer to : https://docs.google.com/presentation/d/1QOYGmtw-YsfymjEr902_XQDF-_i-HYSKBzaieX9f1SQ/edit#slide=id.g3cfd439a6e_0_120

[2018-07-13 13:42] ldimaggi commented on #3934
This is still a problem today:

[code]

[2018-07-13 14:18] yzainee opened #3984 "Notification Service: Enhance the logic to check for license"
As a notification application, i should get the additional data for the license conflict, so that the report can contain details of it

Description
For all the newer versions recommended to the user, the report should also contain if any of the newer versions contains any conflicts related to the licenses.

Acceptance Criteria
The report generated should contain license conflict details

[2018-07-13 14:21] yzainee opened #3985 "Notification Service: Enhance the logic to check for CVEs"
As a notification application, i should get the additional data for the CVE info, so that the report can contain details of it

Description
For all the newer versions recommended to the user, the report should also contain if any of the newer versions contains any conflicts related to the CVEs.

Acceptance Criteria
The report generated should contain CVE details

[2018-07-13 14:21] stooke commented on #3932
@rgarg1, are both accounts linked to the same GitHub account?

[2018-07-13 14:39] ibuziuk commented on #3043
Migration of workspaces from che5 to che6 have finished a few month ago. Closing

[2018-07-13 14:39] #3043 closed

[2018-07-13 15:21] ravsa commented on #3977
@bartoszmajsak I'm talking about the deployed application links to stage and run on pipeline screen.

[2018-07-13 15:21] aptmac opened #3986 "Clicking between nav tabs results in noticeable flickering animation"
When clicking between items in the nav-tabs (settings, profile, and update profile pages), there is a noticeable flicker of the nav element. This was referenced in a gif [[0]](https://user-images.githubusercontent.com/4032718/40863978-e42c8334-65bf-11e8-81ab-f99be1756f41.gif) from another issue [[1]](https://github.com/openshiftio/openshift.io/issues/3724#issue-328664172).

Here's an example of it

[2018-07-13 17:21] ibuziuk commented on #3883
issue description has been updated.
@garagatyi would you be able to investigate `per workspace` toggle as part of - redhat-developer/rh-che#741 ?
@l0rd could we add this story to the walking skeleton epic  - eclipse/che#10123 ?

[2018-07-13 17:51] ldimaggi opened #3987 "Calls to https://recommender.api.openshift.io/api/v1/stack-analyses endpoint fail with unexpected error"
The problem is that if I attempt an API call to the https://recommender.api.openshift.io/api/v1/stack-analyses/ endpoint, and reference a github repo for an existing booster - such as https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-rest-http - the call is successful.

However, if I make the same API call and reference another repo - for example, a repo that is the result of building

[2018-07-13 19:42] notfred commented on #3932
@rgarg1 I am trying to reproduce your issue but have failed so far. Is it ongoing? Also can you give me the exact steps you used to reproduce this?

[2018-07-13 19:44] stooke commented on #3932
@rgarg1 I am trying to reproduce your issue but have failed so far. Is it ongoing? Also can you give me the exact steps you used to reproduce this?

[2018-07-13 19:57] ldimaggi commented on #3957
Closing as not reproducible - after several days of failing - this just starting working again - thx!

[2018-07-13 19:57] #3957 closed

[2018-07-13 20:08] jiekang commented on #578
The date-based filter has been removed as per comments above to be brought back in a future design.

[2018-07-14 16:20] Veethika commented on #3733
@muruGanesan I have added 'Agile' along with Scrum to make the description more relevant
It would be helpful if you could add more comments to the slides as it's a bit difficult to figure as of now which section relates to which point of the listed verification criteria. Captions for the screenshots could also be help bring some more clarity.

[2018-07-14 16:45] Veethika opened #3988 "UX for deleting work-items in Planner"
Planner story ref.: https://openshift.io/openshiftio/Openshift_io/plan/detail/34

### **Description**
As a user, I want to be able to delete/remove Work Items from my Space.

### **Acceptance Criteria**
- [x] Interaction for deleting a work item
- [x] Permissions for deletion of work items of different types
- [x] Mechanism for handling of deleted workitems in queries
- [x] Implication of deletion

[2018-07-15 01:36] gorkem commented on #3883
Just to confirm, Does ws.next toggle means use ws.next way of creating/defining workspaces and use Theia IDE by default?

[2018-07-15 11:18] ibuziuk commented on #3883
@gorkem Correct. Also it is expected that this toggle would be `per workspace` (user should still have a possibility of creating classic / non-workspace.next workspaces via Codebases UI and UD in the general case

[2018-07-15 12:31] chmouel opened #3989 "Jenkins Fabric8 is still using Centos as base image"
We need it update to a RHEL image,

[2018-07-16 02:43] ldimaggi opened #3990 "Outdated references to groovy in repos generated for new apps by OSIO"
Steps to recreeate:
* Create a new app in OSIO - select Vert.X/REST
* Observe the reference to groovy 2.4.9 in /src/licenses/licenses.xml

This should be updated to 2.4.12

[2018-07-16 04:58] miteshvp commented on #3987
@ravsa - can you PTAL here?

[2018-07-16 05:07] muruGanesan commented on #3477
@sahil143, @sunilmalagi, please update this issue with an appropriate status.

[2018-07-16 05:13] miteshvp commented on #3987
Its an expected behavior and git repo can only be supported for boosters currently. Hence removing it as bug and closing this.

[2018-07-16 05:13] #3987 closed

[2018-07-16 05:44] ravsa commented on #3987
@miteshvp correct, And if user wants run stack-analyses on other maven project,  that project should contains effective-pom and do not need to pass ‘source=osio’ in payload.

[2018-07-16 06:11] rgarg1 opened #3991 "Work item sequence in quick inline-add drop-down could be improved for usability"
The first item in the list should be the child WIT, followed by Defect and then impediments.

For example:

**Theme**
  - Epic
  - Defect
  - Impediment

**Epic**
  - Story
  - Defect
  - Impediment

**Story** is already displaying the correct order.

[2018-07-16 06:11] rgarg1 commented on #3991
Cc @Veethika

[2018-07-16 06:36] nimishamukherjee commented on #2598
@sunilmalagi can you please share the visual for point 2

[2018-07-16 06:54] rootAvish opened #3992 "[8] Ingestion support for Golang"
#### Planner link:https://openshift.io/openshiftio/Openshift_io/plan/detail/97

The analytics platform should have all the raw data ingested for the packages present in the manifest files used to train the recommendation model so that it can show the users component information.

#### **Description**

Need to ingest golang packages to graph and S3 so that we can show license/CVE information, versi

[2018-07-16 07:06] rgarg1 commented on #3932
@stooke

GET https://api.openshift.io/api/deployments/spaces/17c1e9de-a89a-494b-91c4-819a013cb3b9

**Using rgarg-osiotest1 account:**
{
    "errors": [
        {
            "code": "internal_error",
            "detail": "failed to GET url http://f8osoproxy/oapi/v1/namespaces/rgarg-osiotest1/buildconfigs?labelSelector=space%3Drgarg-osiotest1-AGILE-space-2018-07-02T05-00-57 due to status code 403:

[2018-07-16 07:12] #3871 closed

[2018-07-16 07:14] rgarg1 commented on #3932
**UPDATE**

The problem is now solved.

Reason:
My account rgarg-osiotest1 was linked to Openshift account of rgarg1. I saw this in the settings page of my profile. Once I clicked the refresh link next to that, its auto fixed itself and started to show rgarg-osiotest1.

If you can figure and fix the root cause of the problem, its would be great.

[2018-07-16 07:30] sunilmalagi commented on #3772
@GeorgeActon @nimishamukherjee @Veethika @joshuawilson Here is the visual for showing the 'Assignee', https://redhat.invisionapp.com/share/E6MUSNDBAQT#/308269814_Proposed_Assignnee_List
where you can search with name or the id, you get to see both from the list.

[2018-07-16 07:34] CermakM opened #3993 "Make use of mapped CVEs"
Currently, the mapping of application CVEs, that is from the NVD feed, where (vendor, product, version range) is specified, to the (ecosystem, package, version range) happens all over again if the same package has multiple CVEs. As manual review is a part of mapping process, it has to happen multiple times as well.

Potential Issue: The mapping (vendor, product[, version_range])  -> (ecosystem, pa

[2018-07-16 08:16] rootAvish opened #3994 "When trying to click in the middle of a box when adding child work item, cursor position does not move"
When trying to create a child work item in the new scrum template on clicking inside a textbox to some point of the sentence prior to the current character, the cursor position does not move.

In the below screenshot, I was trying to move the cursor to after "Estimate" but am unable to do so by clicking, so had to move back using the left arrow key.

Browser: Firefox Quantum (61.0.1 (64-bit))

<im

[2018-07-16 08:22] ljelinkova opened #3995 "Prod-preview change on codebases page"
I've noticed that there is change on Codebases page on prod-preview (actually, E2E tests started to fail on that change). When you have no workspaces and click "Create workspace", normally a new tab with Che would open. But now it does not and you have to click Open manually. Is that expected?

[2018-07-16 08:32] sunilmalagi opened #3996 "UX for Change Type Operation on UI"
Come up with visual proposal for 'Change Work Item type'.  The user should be allowed to change the Work Item type in both Quick preview and Detailed page.

[2018-07-16 08:33] rhopp opened #3997 "Selecting mission - it's possible to select "Externalized Configuration" with springboot"
AFAIK Spring Boot runtime should not be available with "Externalized Configuration" booster.
The behavior is really weird. Selecting Spring Boot runtime first, the "Externalized Configuration" booster is disabled, but selecting "Externalized Configuration" booster first, Spring Boot runtime is enabled. (And on top of that, "REST API Level 0" and "Health Check" boosters are disabled, which is super

[2018-07-16 09:40] Veethika opened #3998 "Design enhancement for detailed-view in Planner"
For a more seamless and intuitive experience, while working on Planner, the design for the detailed view needs to be revisited in terms of layout, information, interactions and navigation.

### **Verification Criteria**
- [ ] Revisit the content and information displayed in the detailed view
- [ ] Define interactions for adding/updating/removing info for the final content, wherever applicable
- [

[2018-07-16 09:44] Veethika opened #3999 "Design enhancement for quick preview for Planner"
Revisiting the quick preview panel design to ensure the feature serves the expected primary functions without hindering the users from performing other quick actions.

### **Verification Criteria**
- [x] Revisit the content and information displayed in the quick preview - look at different ways of presenting contents such as links, timeline, the title, and description.
- [ ] Define the basic diffe

[2018-07-16 09:58] Veethika commented on #3998
@nimishamukherjee @michaelkleinhenz
This is a larger story that would also affect the following: #3448 #3951 #3066 #2838 #3786 #3147

[2018-07-16 11:02] ppitonak opened #4000 "Scan report: missing image in header"
1. create a new application - http vert.x
2. wait for scan report in your email

result:
* there is an image missing in email header

![osio_scan_report](https://user-images.githubusercontent.com/445100/42755405-501db79c-88f8-11e8-9069-c7c711979d09.png)

[2018-07-16 11:04] ppitonak opened #4001 "Scan report: 2 CVEs in Vert.x http booster"
1. create new app using Vert.x http booster
2. wait for scan report to appear in your email

result:
* there are 2 CVEs in the generated application
* org.codehaus.groovy:groovy | 2.4.12 | CVE-2016-6497 [5.0/10]
* org.codehaus.groovy:groovy-xml | 2.4.12 | CVE-2016-6497 [5.0/10]

![osio_scan_report](https://user-images.githubusercontent.com/445100/42755513-c506ce4a-88f8-11e8-9d8e-8accbb5192a4.png)

[2018-07-16 11:06] miteshvp commented on #4000
Related to https://github.com/openshiftio/openshift.io/issues/2623

[2018-07-16 11:11] miteshvp commented on #4001
@ppitonak - that's a CVE occurring in a transitive dependency and for `scope:test`.  We are working towards not triggering a CVE alert unless its a direct dependency and `scope:compile`. Hope it helps.

[2018-07-16 11:51] ldimaggi commented on #3742
* I am able to reproduce this issue ~100% of the time when running a test directly through the API with a user account provisioned on the starter-us-east-2 cluster.
* I am also able to reproduce this issue ~10-15% of the time when running a test through the UI with a user account provisioned on the starter-us-east-2 cluster.

[2018-07-16 11:51] ppitonak commented on #3990
duplicate of #4001?

[2018-07-16 11:56] ldimaggi commented on #3990
Yup - closing as a duplicate of #4001 - let's track the issue in #4001.

[2018-07-16 11:56] #3990 closed

[2018-07-16 12:05] jarifibrahim commented on #3974
Reopening this since the fix is not yet on prod.

[2018-07-16 12:09] rootAvish commented on #3994
/cc @jarifibrahim Can you guys please look into this? 🙂

[2018-07-16 12:16] jarifibrahim commented on #3994
@rootAvish I cannot reproduce it. I tried in on latest chrome and firefox quantum.

[2018-07-16 12:18] ldimaggi commented on #3987
In order to perform this action on any maven project that is not an existing booster, these conditions must be met:

1) The project should contain effective POM file else response will be empty insights.
mvn help:effective-pom -f <input-pom.xml> -Doutput=<output-file>

2) payload ->
         a) Don't need to pass `source=osio`
         b) `github_ref` = 'branch name or release version'
[code]

[2018-07-16 12:29] ljelinkova commented on #3744
Any updates on this issue?

[2018-07-16 12:42] msrb opened #4002 "Design how to keep user-facing CVE database in sync with data from GitHub"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/95

CVE data in graph database need to be kept in sync with the primary source of the data - F8A CVE database in GitHub.

**Description:**

This is a Spike.

Source of truth for CVE data used in F8A is a GitHub repository. However, F8A users and services don't query GitHub data directly, but they rely on graph database. It

[2018-07-16 12:51] lordofthejars commented on #3942
I have an initial version working of Spring Boot + DB in OSIO. I have taken an example of boosters and adapted to OSIO, then I  have contributed upstream.

Now working on the testing part.

[2018-07-16 13:07] bartoszmajsak commented on #3977
@ravsa Configmap booster is currently not enabled on prod - do you know what was the reason for that?

[2018-07-16 13:23] rootAvish commented on #3994
I still see this issue, forgot to mention - this is Firefox on Mac.

[2018-07-16 13:24] rootAvish commented on #3994
One comment here, it only happens if you click on "Create child work item" somewhere, not in the add work item field on the top of the page, that is clickable.

[2018-07-16 13:42] #3654 closed

[2018-07-16 13:47] aptmac commented on #3995
This would have been introduced in a PR relating to opening workspaces with ad-blocker [[0]](https://github.com/fabric8-ui/fabric8-ui/pull/2972#issue-191572823), in response to issue 3565 [[1]](https://github.com/openshiftio/openshift.io/issues/3565)

[0] https://github.com/fabric8-ui/fabric8-ui/pull/2972#issue-191572823
[1] https://github.com/openshiftio/openshift.io/issues/3565

[2018-07-16 13:50] jiekang commented on #3924
I don't think there was ever any intention to have a search bar for this component, so I'm not sure how to move this issue forward. @openshiftio/uxd-team Is this something to add?

[2018-07-16 13:50] miteshvp commented on #3744
@invincibleJai or @jyasveer - can one of you take this over.
There are two issues it seems.
For stack-id `c0f13bedf49c4410bd479bde4ab6b055` that Pavel P has got, uses unknown dependencies. Could it be the case of not showing stack report if we do not get any known dependencies?
For stack-id `3b4e6263a05e42feb17cf65fee7138f4` , everything looks perfect from backend. Was it because stack report may

[2018-07-16 13:51] invincibleJai commented on #3744
@jyasveer needed your help here.

[2018-07-16 13:52] jiekang commented on #3837
To clarify some of the conversation above. The plan of action should be to update both components to show "[username]'s spaces/work items" and the work item widget should be fixed to actually show that user's work items. The spaces widget is already correct in that regard.

Does that sound right? @aptmac @andrewazores

[2018-07-16 13:56] aptmac commented on #3837
@jiekang Yeah that sounds right to me.

[2018-07-16 14:00] bdellasc commented on #3732
After meeting last week, this work will be back-burnered for the time being.

[2018-07-16 14:14] andrewazores commented on #3837
@jiekang correct

[2018-07-16 14:22] muruGanesan commented on #3792
Here is the latest file:
https://docs.google.com/presentation/d/1hu-9_-7FvDQkz5kVM3XDMH2U_gAfr1BLSFCercgnWvw/edit?usp=sharing

[2018-07-16 14:47] jiekang opened #4003 "The recent spaces widget can sometimes show the same space twice"
![recent-spaces-twice](https://user-images.githubusercontent.com/5430520/42765204-7787c344-88e5-11e8-9389-fb6ddc01b8f6.png)

This was seen in the production instance after working with space creation when using a local instance and working with space creation in the production instance. At this point in time I have not analyzed a cause.

[2018-07-16 15:21] aptmac commented on #4003
It seems like there's something fishy going on behind the scenes with regards to recent spaces .. it seems to be a larger pain point [0][1][2][3][4][5][6]:

[0] https://github.com/openshiftio/openshift.io/issues/387
[1] https://github.com/openshiftio/openshift.io/issues/1335
[2] https://github.com/openshiftio/openshift.io/issues/1342
[3] https://github.com/openshiftio/openshift.io/issues/2065
[4]

[2018-07-16 15:51] gastaldi commented on #3742
@piyush1594 sure, by all means

[2018-07-16 16:30] nimishamukherjee commented on #2598
@SMahil when and why did we increase the width of the quick preview panel? The quick preview in the screenshot looks elegant.

[2018-07-16 16:30] nimishamukherjee commented on #2598
@divyanshiGupta please work with @sunilmalagi on resolving this issue

[2018-07-16 16:32] msrb opened #4004 "Revisit version ranges in CVEjob"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/94

Pull requests with CVE records should, if possible, contain information about which versions of a package are affected by given vulnerability.

**Description:**

We've tried to implement this functionality in the past, but it turned out that versions in NVD often don't match versions from upstream repositories. Therefo

[2018-07-16 16:47] jyasveer commented on #3744
@invincibleJai @miteshvp @ppitonak let me have a look

[2018-07-16 17:11] msrb opened #4005 "CVEjob is easy to use and maintainable"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/89

Introducing new features to CVEjob can be difficult as running it locally (and thus testing the new features) is quite difficult.

**Description:**
The goal is to make it easy for new developers to continue development of CVEjob. This includes dockerized local development, documentation, CI builds, etc.

**Acceptance c

[2018-07-16 17:50] msrb commented on #3987
Note it seems like the `source` param is not documented:
https://docs.openshift.io/analytics-integration-api-guide.html#_parameters

@ldimaggi how did you discover about the param?

[2018-07-16 18:26] ldimaggi commented on #3742
I am also seeing this on cluster starter-us-east-2a - when a test accesses the API directly:

![screenshot from 2018-07-16 14-25-34](https://user-images.githubusercontent.com/642621/42776181-44635f7c-8904-11e8-9044-594473bb9d8b.png)

[2018-07-16 19:21] ldimaggi opened #4006 "After user env reset - multiple errors seen in Jenkins log while loading Blue Ocean plugins"
Steps to recreate:
* Reset user env in OSIO profile page
* Observe Jenkins pod log when pod starts:
[code]

This is being seen on the starter-us-east-2, 2a, 1a, 1b clusters.

[2018-07-16 20:24] andrewazores commented on #2065
This widget displays its empty state based on when the viewing user owns 0 spaces, and the empty state implemented for it reflects this - the empty state informs the user that they have no spaces and nudges them toward getting started by creating a new space. If the user does own spaces but has not "recently" (need to determine what constitutes "recent" behind the scenes), then we get this blank s

[2018-07-16 20:35] #2342 closed

[2018-07-17 03:38] hrishin opened #4007 "Perform network checks while Jenkins spin's new slave agent"
**Problem:**
Sometimes Jenkins fails to execute job because of slaves not able to communicate with peer services (e.g. content-repo) or master.

As Jenkins spinup's new slave pod, execute network checks if is pod able to communicate with master or peer services.
This check would help to execute a job reliably and prevent Jenkins slaves to enter into a zombie state.

**Tasks:**
- [ ] Add hook to pe

[2018-07-17 04:50] piyush1594 commented on #3742
Hey, @ldimaggi Can you please check the number of webhook events on the repo.

[2018-07-17 05:03] mishaone commented on #2307
The slightly changed interface makes this a bit higher SEV, IMO. If I didn't know to go into Profile and Edit Profile to find the little Reset Environment option, I would be lost. Particularly since the Settings options have a nice menu of options to do with the account settings but nothing to reset the environment, which would be in frequent use for anyone using OpenShift Online and facing the re

[2018-07-17 06:31] ljelinkova commented on #3995
OK, so that is a feature. In that case, this behavior should be introduced also when you click the right menu and select "Create workspace". At the moment, this opens a new tab.

[2018-07-17 06:48] ljelinkova opened #4008 "Prod-preview: Cannot create an application"
When I try to create a new space on prod-preview, I get the following error:
![space](https://user-images.githubusercontent.com/2078072/42800962-111f48ac-899e-11e8-9dec-e2969f038a14.png)

The space is created and I am able to continue to create an application, but it fails with the following error:
![app](https://user-images.githubusercontent.com/2078072/42800989-26ac6c72-899e-11e8-8951-94aad646bf

[2018-07-17 06:57] SMahil commented on #2598
@nimishamukherjee The screenshot is cropped.

[2018-07-17 06:59] sdash-redhat commented on #3655
@andrewazores True. We need to maintain a constant height at all time irrespective of the number of results displayed. Wider width will help in providing descent whitespace among the each item in a line. It would help us maintain a decent

https://redhat.invisionapp.com/share/23CC7R3QZ#/screens/235814943_Slide01

Regarding the visual aspect , size dimension etc, Sunil can help ....

@sunilmalagi P

[2018-07-17 07:12] sunilmalagi commented on #3706
@Preeticp Can you please look at the wording link section, I will work on the visuals based on your inputs..

[2018-07-17 07:32] ljelinkova opened #4009 "Intermittent issue - application is not available to run environment"
The E2E tests fail intermittently because the application is not available on run environment.

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/322/07-02-run.html

The E2E workflow is:
1. Create space
2. Create Vert.x with REST API and Rollout to Run strategy
3. Waits until the pipeline is finished and promotes to Run
4. Checks the stage app

[2018-07-17 08:44] ljelinkova commented on #3935
@piyush1594 Could you be more specific what we should check in openshift console?

The timeout for E2E tests to finish the whole pipeline is 30 minutes, so it stays in the state where Promote option is in Jenkins but not in OSIO UI at least 15 minutes.

This error occurred also in the following build (full Jenkins log):
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smo

[2018-07-17 08:45] jyasveer commented on #3745
Work is done for this task. However i am facing a issue in the npm release process. Looking into the issue to fix it. Here is the jenkins logs for the build error https://ci.centos.org/view/Devtools/job/devtools-fabric8-recommender-npm-publish-build-master/2/console

[2018-07-17 08:46] ppitonak commented on #4008
works for me

[2018-07-17 08:54] nimishamukherjee commented on #2598
@Veethika @sunilmalagi should we consider reducing the width of quick preview?

[2018-07-17 08:56] ljelinkova commented on #4008
Works for me too and also E2E tests on Jenkins and prod-preview passed.

[2018-07-17 08:57] #4008 closed

[2018-07-17 09:11] hrishin commented on #3952
@rupalibehera if we are going to drop the content repository is it worth to manage the lifecycle of it?

@kishansagathiya @chmouel

[2018-07-17 09:37] rupalibehera commented on #3952
@hrishin , not sure but the image is already updated. Below are the respective PR's
Image - https://github.com/fabric8io/caddy-server/pull/4
fabric8-tenant - https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/71
saas-openshiftio to promote to prod - https://github.com/openshiftio/saas-openshiftio/pull/977

[2018-07-17 10:08] hrishin commented on #3952
@rupali yeah somehow missed PR links, no worries :)

[2018-07-17 11:11] kwk commented on #3978
My suggestion for the client is to fetch as many pages as it needs (possibly all) or can handle (maybe 1000 work items?) and then render the tree or the list. There's no need to implement pagination that is visible in the UI.

While collecting the pages from the backend the UI should consider a maximum limit that it wants to show. If that limit is reached it should tell the user to narrow down the

[2018-07-17 11:29] kwk commented on #3973
@michaelkleinhenz that's what I try to point out here as well: https://github.com/openshiftio/openshift.io/issues/3978#issuecomment-405546058

[2018-07-17 11:39] lordofthejars commented on #3942
I have been working with this example and I have faced two problems that now need a deeper and broader analysis:

1) Quota problems: Now instead of 1 we are trying to release two pods every time. This means that you reach quota problems when you are trying to update the application. The first time you are releasing the application there is no problem since `staging` environment is empty, but when

[2018-07-17 12:23] ldimaggi commented on #4009
Is there any possibility that this is a timing issue? I have seen random instances of the deployment to run requiring a long time to complete.

Or, might this be a resources issue? Do you see anything in the logs related to a quota being reached? Maybe the env reset is not removing any existing deployments to run?

[2018-07-17 12:29] GeorgeActon opened #4010 "Unable to see existing collaborators in a space"
Log In as space owner (e.g. for OpenShift_io)
select settings (tab to the left of Analyze/Plan/Create
select Collaborators
only see 20 collaborators
    randomly selected list sorted by first name

I have no way of knowing if a person is already added

[2018-07-17 12:37] GeorgeActon opened #4011 "Unable to add collaborators"
Log In as owner of the space (e.g. Openshit_io)
Go to Collaborators
click on Add collaborators
Search for person
Select person
do this multiple times to add more than one person at a time in the same search box
the add button turns blue
Click the add button
    what does it mean when it does not react?
does it mean that person is already a collabrator?
      Which person is already a collaborator

[2018-07-17 12:42] muruGanesan commented on #3951
@rgarg1, I believe this issue is closed or addressed from the UX side. If yes, you can remove UX labels.

@Veethika, @AshishDurgude, @sunilmalagi, @sdash-redhat, would you link to capture this UX recommendation as part of UX standards in our design wiki?

[2018-07-17 12:49] muruGanesan commented on #3881
@Veethika thanks.
Though this issue is related to the planner, Do you (@Veethika, @AshishDurgude, @sunilmalagi, @sdash-redhat) think it can be captured as UX standard in our design wiki?

[2018-07-17 13:07] rupalibehera commented on #3952
closing it , merged to prod.

[2018-07-17 13:07] #3952 closed

[2018-07-17 13:13] rohitkrai03 commented on #3929
@catrobson Any updates on this one?

[2018-07-17 13:15] rgarg1 commented on #3951
Done @muruGanesan

[2018-07-17 13:19] muruGanesan commented on #3951
thanks @rgarg1

[2018-07-17 13:34] #3986 closed

[2018-07-17 14:06] #3705 closed

[2018-07-17 14:08] pradeepto commented on #3942
cc @gorkem @bmicklea @slemeur PTAL and comment.

[2018-07-17 14:21] bartoszmajsak commented on #3942
Just for traceability - there was some work needed in the booster itself to make it running https://github.com/snowdrop/spring-boot-crud-booster/pull/46 (ended up as a separated branch, hence this PR is closed, not mergeD)

[2018-07-17 16:06] chmouel opened #4012 "BlueOcean is broken in latest Jenkins"
I don't see any blueocean links anymore, and i see this in my logs  this may be specific to my environement but to test I have completely deleted my pvc (oc delete pvc -n $USER-jenkins) and ran it from scratch, which would be the experience of the new user . Here is the error in the logs about it :

[code]

[2018-07-17 16:30] ldimaggi commented on #4012
Duplicate of: https://github.com/openshiftio/openshift.io/issues/4006

[2018-07-17 16:39] bmicklea commented on #3942
For #1 could we stop using a rollover strategy? It's not really necessary
for staging at least is it?  Or is this only solvable by getting more RAM /
tenant?

[2018-07-17 16:48] sbose78 commented on #4011
@GeorgeActon , this happens when one of the choices you made was already a collaborator right?

[2018-07-17 16:50] sbose78 commented on #4010
Just checked, the front-end makes an API call which looks like this https://api.openshift.io/api/spaces/67ec9059-b09d-4885-a8d1-bd25dedd8edc/collaborators?page[limit]=20

So, the default paginated limit of 20 collaborators is all we see.

[2018-07-17 16:52] sbose78 commented on #4010
@rohitkrai03 , till we decide how we would wanna handle pagination in the front-end ( it would need UX involvement ) , could you bump up the default limit to 100 in the API call ?

CC: @sbryzak

[2018-07-17 16:54] sbose78 commented on #4011
@rohitkrai03 , Could we populate the search results by leaving out existing collaborators ?

[2018-07-17 17:10] sbose78 commented on #4010
@lwrigh   @catrobson  The collaborators page by default lists 20 collaborators - without pagination support. For the sake of continuity of usage, I suggest we change the default to a higher number to 100 and show it all together. However, I have a concern that 71+ collaborators might be too long a list to look good.

Wondering if we should borrow something from the roles' design, and use it here?

[2018-07-17 17:18] jiekang opened #4013 "fabric8-services/fabric8-wit, goadesign/goa and satori/go.uuid"
`f8-wit` depends on `goadesign/goa`, specifying version `1.3.0`
`f8-wit` depends on `satori/go.uuid`, specifying version `1.2.0`

`goa`, unfortunately, also depends on `satori/go.uuid` but does not specify a version, instead using `go get` and grabbing the latest commit in the master branch.

I would like to update `goa` to version `1.4.0` which contains some fixes I have submitted to use for a we

[2018-07-17 17:33] msrb opened #4014 "Unstable data-importer tests"
Tests in data-importer are failing randomly, but very often: https://ci.centos.org/view/Devtools/job/devtools-fabric8-analytics-data-model-f8a-build-master/

Out of last 30 builds, only 5 of them succeeded.

With such unstable test suite, it would be almost impossible to push (tested) fixes to production for urgent issues.

[code]

[2018-07-17 17:43] catrobson commented on #4010
Ideally we've been trying to do infinite scroll lists with progressive loading of more rows.  I'd want the collaborators list to work the same way so that we have a consistent list experience across OSIO.  I'm not sure what the initial load number is set to on other pages, but 20 for collaborators seems reasonable, and then load in sets of 20 as you scroll down the list.

[2018-07-17 17:47] catrobson commented on #3929
I think we can just bring the user into the space dashboard (openshift.io/<spacename>/analyze).  The only way they would be able to work on content that space is by being a collaborator, so bringing them into the space dashboard so they can start working makes the most sense to me rather than having them click through an additional "confirmation" page.

[2018-07-17 17:53] rohitkrai03 commented on #4010
@sbose78 @catrobson It seems like infinite scroll directive is being used in this component that is why the limit has been set to 20. The problem here is infinite scroll works on scroll event of the component or HTML element to be exact and since this element doesn't have a fixed height here scroll event never gets fired.
- With a quick CSS fix i can make it working if i set the `max-height` for t

[2018-07-17 18:13] catrobson commented on #4010
@dlabrecq FYI

[2018-07-17 18:16] rohitkrai03 commented on #4010
It would look something like this.

![collab-area](https://user-images.githubusercontent.com/6041994/42837325-6d34119a-8a1b-11e8-9fbb-de1e6f60c8ec.gif)

cc: @catrobson @sbose78

[2018-07-17 18:17] rohitkrai03 commented on #4010
@catrobson @sbose78 It would look something like this.

![collaborators](https://user-images.githubusercontent.com/6041994/42837428-b42cb1e2-8a1b-11e8-9c37-eb47977ffb2e.gif)

[2018-07-17 18:24] dlabrecq commented on #4010
You need to fetch more than 20 items (people) so that the list height triggers the scrolling. (20 is the REST API default.) Without the ability to scroll, you cannot fetch more data.

[2018-07-17 18:29] catrobson commented on #3929
@rohitkrai03 Fair point - for an error situation going to a page that explains the problem that follows the same pattern we have established for the e-mail validation is perfect.  I think you can just re-use that page and enter a relevant message for this situation - we would be happy to review the PR or terminology if you want to post it here.

[2018-07-17 18:29] msrb opened #4015 "E2E tests always fail when pgbouncer gets updated"
When we roll out new pgbouncer image, E2E tests always fail. The problem seems to be that some services keep long-lived pgbouncer connections open and when they try to reuse the old connection after pgbouncer restart/update, they fail. All subsequent connections are OK.

[2018-07-17 18:30] rohitkrai03 commented on #4010
20 is enough to trigger the scroll event but it doesn't trigger the event for the collaborators list component but for the whole container component which is why `fetchMore()` is never called.

[2018-07-17 18:34] rohitkrai03 commented on #3929
@catrobson Sure. Will work on it and raise a PR. You can approve or help with the exact error message that gets displayed. Thanks.

[2018-07-17 18:51] dlabrecq commented on #4010
We shouldn't need to override the CSS max-height property -- we use infinite scroll in a few other areas.

If fetching more than 20 items doesn't trigger the fetch event, perhaps the fetchThreshold and/or eachElementHeightInPx attributes are not set correctly for this particular almInfiniteScroll directive?

[2018-07-17 20:12] ldimaggi commented on #4015
Is this a test issue or a services issue? After the restart, are services continuing to attempt to use the old connections?

[2018-07-17 20:44] ldimaggi opened #4016 "On prod-preview, quickstart deployed app text is corrupted"
Steps to recreate:
* On prod-preview, create a new Vert.x/REST app
* When the pipeline build completes, observe the apps as deployed to stage and run:

![screenshot from 2018-07-17 11-59-23](https://user-images.githubusercontent.com/642621/42844311-8a94a78a-89e0-11e8-889a-b446043502f1.png)
![screenshot from 2018-07-17 11-59-00](https://user-images.githubusercontent.com/642621/42844312-8aac4c5a-89e

[2018-07-17 21:05] ldimaggi opened #4017 "When promoting app from stage to run, dialog is displayed for fraction of a second"
Steps to recreate:
* Create new app in Openshift.io launcher
* Press "input required" button to deploy app to run
* Observe small dialog displayed for fraction of a second:
![frame-022](https://user-images.githubusercontent.com/642621/42845198-2eadd592-89e3-11e8-90bd-6a74e58fabe7.jpg)

* After which it is overwritten by the promote dialog:
![frame-028](https://user-images.githubusercontent.com/642

[2018-07-17 23:51] sthaha commented on #2360
@ebaron Are we good to close this issue?

[2018-07-18 02:39] ldimaggi opened #4018 "Launcher UI - can we avoid a 3-step display?"
In the Launcher today, the user is navigated from the Launcher's black background, to the user's dashboard, to the Launcher:

![myimage](https://user-images.githubusercontent.com/642621/42856199-169fd070-8a12-11e8-9c0d-2e129e380109.gif)

Can we avoid the 2nd step and not display the user's dashboard?

[2018-07-18 04:58] hrishin commented on #4009
@ljelinkova did you see resource quota? sometimes quota gets full for target namespace. OS accepts the new DC request successfully but not able to deploy it if the quota is reached.

[2018-07-18 05:21] msrb commented on #4015
It's a services issue. Exactly, after the restart, services attempt to use the old connections. So first request after the restart always fail (on staging, the request is from E2E tests) and then all subsequent requests are OK as the services open a new connection.

[2018-07-18 05:47] baijum commented on #3978
If we implement the idea suggested by @kwk the chance for displaying the warning message by default is very high. For example, in the agile template we display work items belongs to all work item types. A space like "Openshift_io" will have hundreds of open issues by default.

My suggestion is to avoid all kinds of nested tree structures, not even exploration. And introduce proper pagination.

Few

[2018-07-18 06:58] ljelinkova commented on #4009
@hrishin The resource quota should not be the problem since we reset the whole environment after each test.

@ldimaggi It might be the timing issue, maybe if the tests waited for some time the app would start.

But the main question is - how does random user know that the deployment failed? Or that the deployment is finished? Should not this be part of "Pipeline"? I simple assumed that once the Pi

[2018-07-18 07:03] ljelinkova opened #4019 "Error while creating application"
The E2E tests ran into this error today - what does the error message mean? Could you change the message to something meaningful?

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/329/03-01-afterEach.png

[2018-07-18 07:07] ljelinkova opened #4020 "Jenkins doesn't have label XY"
The E2E tests encounter this issue from time to time - what does it mean? Is there something we could do about it?

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-beta/332/05-02-jenkins-log-failed.png

[2018-07-18 07:49] lordofthejars commented on #3942
@bmicklea, changing the rolling strategy is just postponing the problem. We can change the rolling strategy then it will work in this concrete case, but when we move to another example (for example 2 services + Artemis) we will face the same problem again.

So I think that the solution might be by allowing the user to run more pods in namespaces so we can cover more use cases. Something similar wo

[2018-07-18 08:12] GeetikaBatra commented on #3983
@yzainee. Where would this endpoint be running `user-repos/versions-notify`.

[2018-07-18 08:18] msrb commented on #3992
Mercator subtask: https://github.com/openshiftio/openshift.io/issues/2893

[2018-07-18 08:38] tisnik opened #4021 "[4] Display dead code and common issues (errors) detected in all fabric8-analytics Python repositories on the QA Dashboard"
## Problem description

We need to be able to display information about the (possible) dead code and common issues found in all fabric8-analytics repositories. The central tool for displaying such information is the QA Dashboard.

Related to #3808

## Acceptance criteria

All dead code and common issues are displayed on the QA Dashboard for following repositories:

- [x] f8a-server-backbone
- [x]

[2018-07-18 08:40] AshishDurgude commented on #3902
Here is the initial research for an empty state for OSIO:
https://redhat.invisionapp.com/share/A9LH2EXE2CG#/304437808_4

[2018-07-18 09:58] rupalibehera opened #4022 "Setup CI/CD process in CICO for kubernetes-client, kubernetes-model and fabric8-maven plugin"
- [ ] learn how to setup Job in CICO

- [ ] Figure out how/where to move secrets if any

- [ ] Setup job for Kubernetes-model

- [ ] Setup job for kubernetes-model

- [ ] Setup job for fabric8-maven plugin

[2018-07-18 10:08] sdash-redhat commented on #3902
Based on the explorations, it looks like the solution to this should address the following aspects of the Empty States [Refer to a quick diagram I made to start with ]

If you have any thoughts regarding any of these aspects please add as a comment below -- That I will take care while in design:

![layout-emptystates-3902-mm](https://user-images.githubusercontent.com/27761023/42874937-063e6802-8aa

[2018-07-18 10:09] bartoszmajsak commented on #4022
Out of curiosity - what would be needed to do that on OSIO instead?

[2018-07-18 10:14] rupalibehera opened #4023 "Setup CI/CD process in CICO for jenkins-openshift-base, openshift-jenkins-s2i-config, fabric8-tenant-jenkins and fabric8-tenant"
This current process is confusing to remember check if we can reduce the jobs or automate in a better way

- [ ] learn how to setup Job in CICO

- [ ] Figure out how/where to move secrets if any

- [ ] jenkins-openshift-base: write CI/CD pipeline and move to CICO

- [ ] openshift-jenkins-s2i-config: write CI/CD pipeline and move to CICO

- [ ] fabric8-tenant-jenkins: write CI/CD pipeline and move

[2018-07-18 10:39] GeetikaBatra commented on #3983
@yusuf, Can you add epic corresponding to this workitem. Thanks :)

[2018-07-18 10:42] rupalibehera opened #4024 "Setup CI/CD process in CICO for builder-clients, maven-builder and caddy-server"
- [x] Learn how to setup Job in CICO
- [x] Figure out how/where to move secrets if any
- [x] Setup job for builder-clients
- [x] Setup job for maven-builder
<strike>- [ ] Setup job for caddy-server</strike>

[2018-07-18 12:22] #4012 closed

[2018-07-18 12:30] tisnik commented on #4021
Related changes: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/575

[2018-07-18 12:36] slemeur commented on #3814
I've replied over email in a separate thread, but there is no new logo or name that we want to use here.

The users are going to be redirected to a "pure Eclipse Che" experience. We can reuse Che logo in the header. We can also have a subtitle "Powered by Red Hat on OpenShift.IO"

[2018-07-18 13:20] tisnik commented on #4021
Everything is now visible on https://fabric8-analytics.github.io/dashboard/dashboard.html

[2018-07-18 13:22] #4021 closed

[2018-07-18 13:34] #3808 closed

[2018-07-18 13:37] sdash-redhat commented on #3902
Empty State Info types --

Info - is standard information that is expected in the beginning or the first run

Alert - In the scenario of empty space which is the result of beyond the result of something that needs user's specific attention  (e.g. in case of no result when some alert level info is shown to the user inline), when a specific message that may appear with an alert icon.  This can be ap

[2018-07-18 14:16] ebaron commented on #2360
@sthaha Yes, this seems to be good now that the remaining PRs have been merged. We will have to revisit this as we add support for additional languages.

[2018-07-18 14:16] #2360 closed

[2018-07-18 15:57] bmicklea commented on #3942
Makes sense but "allowing users to run more pods" means giving them more
RAM, right? Or does it require a different change?

[2018-07-18 16:41] bartoszmajsak commented on #3948
This, in fact, was even visible during Sprint Demo. Thanks for filing this issue.

[2018-07-18 16:42] bartoszmajsak commented on #3945
@animuk can you point me to the related fix if already done?

[2018-07-18 16:57] bartoszmajsak commented on #3948
When I hit ">" `run` command I'm getting different error though

[code]

[2018-07-18 17:31] rohitkrai03 commented on #4010
@dlabrecq The only two components that use infinite scroll in fabric8-ui are -
- https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/profile/spaces/spaces.component.html

<img width="1680" alt="screen shot 2018-07-18 at 10 57 28 pm" src="https://user-images.githubusercontent.com/6041994/42897636-32ed2378-8ade-11e8-9952-8fbfb91af259.png">

- https://github.com/fabric8-ui/fabric8-ui/blob/ma

[2018-07-18 18:43] bartoszmajsak commented on #3997
Sounds like we missed some unit tests in `ngx-launcher`. Good find @rhopp!

[2018-07-18 20:53] joshuawilson commented on #578
Closing since it has been removed.

[2018-07-18 20:53] #578 closed

[2018-07-18 21:00] joshuawilson commented on #2307
There are 2 points here. One, it is in the docs for people to find, right?
Two, we don't want/expect users to use the ability often and would like to remove it.

[2018-07-18 21:53] mishaone commented on #2307
Absolutely, it's in the docs, but docs should be complementary to good UX flow.

Re: removing the option, what is the intended replacement workflow? I use this option after all my OpenShift Online resources are used up or when a project pipeline is consistently failing (separate issue but a fairly common use case in my experience so far, and so not a stretch to consider it may be reasonably common

[2018-07-18 21:57] joshuawilson commented on #2307
@aslakknutsen @catrobson can you please comment?

[2018-07-18 22:15] joshuawilson commented on #4011
I think the first is better, less annoying.

[2018-07-19 03:36] sbose78 commented on #4011
I agree with @joshuawilson . Let's go ahead with the first one.

[2018-07-19 03:37] sbose78 commented on #4010
Thank you @rohitkrai03 @catrobson and @dlabrecq - the design discussion looks great.

[2018-07-19 05:43] animuk commented on #3948
@ldimaggi at the moment, Blank mission booster is an empty repo with proper core run time dependencies. You can build in Che, but could not able to run unless developer put in the relavant codes in the repo to make it work.
@ravsa please comment on this

[2018-07-19 05:44] animuk commented on #3948
This is as per designed.

[2018-07-19 06:21] #3509 closed

[2018-07-19 06:30] sunilmalagi commented on #2598
@nimishamukherjee @divyanshiGupta Here is the invision link where it is showing the modal window with save confirmation...

[2018-07-19 06:37] bartoszmajsak commented on #3948
I don't agree with this design as we ship not working code at the moment. We could equally well just don't add any code nor runtime specific plugins. Re-opening until we address the gaps.

[2018-07-19 06:40] ravsa commented on #3509
Blank booster is an empty repo with core dependencies according to the selected Runtime. A user can build the booster but cannot run unless he/she puts necessary code to make it runnable.

[2018-07-19 07:21] rohitkrai03 commented on #4011
@sbose78 @joshuawilson I've raised a PR - https://github.com/fabric8-ui/fabric8-ui/pull/3179 according to the first approach. But I think there is some potential issue with both of the approaches -
- Since, it is an infinite scroll not all the collaborators will be rendered most of the time.
- And we filter out the results based on the already added collaborators that are present and rendered in t

[2018-07-19 07:51] chmouel commented on #3896
New repo https://github.com/fabric8io/osio-pipeline

[2018-07-19 08:40] rgarg1 opened #4025 "Work item tree auto-expanding on work item update"
Planner backlog view represents data in tree form. It is observed that while working and updating a work item in a particular tree, the collapsed tree auto-expands and the user loses track of the work item in focus.

The auto-expanding tree creates a clutter of too many work item and makes using the system extremely difficult.

See it in action here (keep an eye on the collapsed Theme with ID=200)

[2018-07-19 08:45] rgarg1 opened #4026 "Closed work items are being displayed in the list view"
By default, closed work items should be filtered away from the list view, but apparently, due to some defect, the closed work items are being displayed. See here:

![closed wi displayed](https://user-images.githubusercontent.com/28748448/42939878-08e3623a-8b75-11e8-8b56-b72bb3a3f233.png)

[2018-07-19 08:55] rgarg1 opened #4027 "'Meta State' drop-down and warning showing up in all work items"
**Meta States** are meant to be used internally by Planner to keep track of the various states of a work item. This should not be exposed to the user. Also, a sticky warning message is showing up, which looks ugly:

![metastate error](https://user-images.githubusercontent.com/28748448/42932291-89b9effc-8b5f-11e8-88d1-172205125869.png)

[2018-07-19 08:55] ibuziuk commented on #3883
After more detailed discussion with @garagatyi and @l0rd it appeared to be that workspace.next toggle enabled `per workspace` is not smth. that we are planning to implement. Basically, the plan is the following:

- there would be a feature toggle enabled for `all` osio users by default that would allow creation of workspace next (NOTE: when this toggle is enabled it just means that user `can` crea

[2018-07-19 09:00] rgarg1 opened #4028 "Underscores "_" in the space name are replaced with spaces on Account home page"
All underscores in a space name are replaced with spaces on the Account home page. Either don't allow underscores in space name or display the exact name on all pages. Changing space names automatically causes confusion to users. See here:

![space name underscores not displayed](https://user-images.githubusercontent.com/28748448/42932513-187c05b8-8b60-11e8-8bb7-025263afa460.png)

**my_space** is

[2018-07-19 09:02] rhopp commented on #3883
What about using `enableByLevel` and set the desired level to `experimental`? This way, only users with experimental features enabled will be able to start Theia workspaces.

[2018-07-19 09:05] ibuziuk commented on #3883
@rhopp currently we want to support workspace.next only via `che.openshift.io` flow NOT `openshift.io` flow (please, take a look at the issue description)

[2018-07-19 09:22] humaton opened #4029 "Documentation for fabric8-auth service"
The new authentication service is not well documented.
What is the difference between Service account token and regular user token?
What specific info do we store in user token?
How do you identify the public key? (keycloak provided us URL that returned one clearly identifiable key https://sso.openshift.io/auth/realms/fabric8/)

[2018-07-19 09:37] chmouel commented on #1259
Issue reported here by @gabemontero here https://issues.jenkins-ci.org/browse/JENKINS-48079

we need to reopen this @sthaha this is a jenkins image issue, the problem is actually that we don't have a proper jenkins.model.JenkinsLocationConfiguration.xml in $JENKINS_HOME

I have just done this with the right URL, for example :

[code]

and I have it reporting properly the URL :

![image](https://us

[2018-07-19 09:41] baijum commented on #4026
This state value is `Closed` (capitalized) in Agile space template. Whereas in SDD, it is lower case, `closed`.

[2018-07-19 10:43] kwk commented on #4026
@rgarg1 in your screenshot you have toggled on "Show Completed" and so you should expect to see closed items. Right @michaelkleinhenz @baijum @sanbornsen ?

[2018-07-19 10:46] michaelkleinhenz commented on #4026
Yes, indeed.

[2018-07-19 10:55] kwk commented on #4026
@rgarg1 also, next time please paste a URL so we can see the ourselves.

[2018-07-19 11:11] lordofthejars commented on #3942
Not 100% sure, but I think it means more RAM and maybe CPU.

[2018-07-19 11:18] rgarg1 commented on #4026
@kwk Ignore the selected "Show completed" checkbox; it doesn't makes a difference.

[2018-07-19 11:32] joshuawilson commented on #4011
I think we need @openshiftio/uxd-team involved.

I like the last point, that way we could tell the user they are already added.

[2018-07-19 12:16] sbose78 commented on #4011
@rohitkrai03 , That seems like a valid problem. We are discussing if changing the API would be the right thing to do. https://github.com/fabric8-services/fabric8-auth/issues/556 .

[2018-07-19 12:31] kwk commented on #4026
@baijum is right. The executed query to the backend contains a hard-coded list of states to exclude:

```https://api.openshift.io/api/search?page[limit]=200&filter[expression]={"$AND":[{"space":{"$EQ":"8469e18f-d49c-47b1-b45e-e96ff18fbcdf"}},{"typegroup.name":{"$EQ":"Work%20Items"}},{"state":{"$NE":"closed"}},{"state":{"$NE":"Done"}},{"state":{"$NE":"Removed"}}],"$OPTS":{"tree-view":true}}```

@sa

[2018-07-19 12:37] catrobson commented on #2307
@joshuawilson this is an internal only feature IMO.  Is it implemented as such, or is it available to all users?  Once we work out what feature flag level it belongs in, then we can work through flow improvements.

[2018-07-19 13:00] catrobson commented on #4011
@sbose78 @joshuawilson I would actually have recommended that we show all the users, all the time in the dropdown and then handle it correctly on the backend.  It really doesn't do 'harm' for the user to add a user multiple times from a UI perspective, and when someone doesn't show up in the list it often turns into wasted time/discussion on the user's end (they go to the user and say, "are you su

[2018-07-19 13:30] joshuawilson commented on #2065
@openshiftio/uxd-team can we change from recent (last 5 days or whatever) to last visited, that way it doesn't time out?

[2018-07-19 13:31] mishaone commented on #2307
This was a necessary part of the workflow for getting started users, since we guide users through creating two projects. After this, they can't do anything else without reclaiming their OpenShift resources. I can create an issue to track removing this but we need clarification on what the desired workflow is to replace the reset environment option if your OSIO is stuck or you just want to clear th

[2018-07-19 13:41] kwk opened #4030 "Visit-page-experience"
For almost a year I didn't report this issue but it is bugging me a lot everytime I go to the openshift start page.

When I go to https://openshift.io I get to see this page:

![bildschirmfoto von 2018-07-19 15-25-11](https://user-images.githubusercontent.com/193408/42945528-f00ab22e-8b68-11e8-93e5-b49fe5edd606.png)

Notice that you can see both, a Logout, a Login and a Signup button on this page.

[2018-07-19 13:53] aptmac commented on #4030
I believe this is a duplicate of https://github.com/openshiftio/openshift.io/issues/2456 (open) and https://github.com/openshiftio/openshift.io/issues/2771 (closed as dupe of 2456)

[2018-07-19 14:06] sbose78 commented on #4011
@joshuawilson @catrobson Thanks, yes that sounds reasonable to me. Let me modify the API.

[2018-07-19 14:09] kwk commented on #4030
@aptmac the issues share some details but mine is the only one that shows the whole 4 pages.

[2018-07-19 14:46] tisnik opened #4031 "Inconsistent output from the license analysis service on prod-preview"
# Problem description

The license analysis service returns incorrect data with the status set to `failure`. The output is different from one used in documentation for the dependency editor - so either the service has a bug or the documentation is not consistent w.r.o. the request/expected response.

## Documentation

https://docs.google.com/document/d/1PIbir8p6IE1fLYpEpP9EoHRpjZ1MwR4j8luHFKar8XI/

[2018-07-19 14:55] sunilk747 commented on #4031
@tisnik Are you trying it on prod-preview?

[2018-07-19 15:12] sunilk747 commented on #4031
@tisnik The documentation was not correct. I added the correct response. PTAL. Still you might found difference in results for prod and prod-preview because of unavailability of data of staging.

[2018-07-19 15:21] tisnik commented on #4031
@sunilk747 yes, I'm trying it on prod-preview. And thanks for updating the documentation. If everything's ok, I'll close this issue. Stay tuned please :)

[2018-07-19 15:24] tisnik commented on #4031
@sunilk747 do we have any checked input that returns 'success' status?

[2018-07-19 15:52] sbose78 commented on #4030
Re: The multiple redirects after login

**Previously** we had a form in the `\_gettingstarted` page which checked if your Github & OpenShift Online account was connected. And if not:

1. You had to *check*  "Connect my OpenShift Online" & "Connect my Github" accounts .
2. Click "Connect".
3. get redirected to a page where you allowed ( tick marks in a checkbox ) OpenShift.io to manage your OpenShi

[2018-07-19 16:24] catrobson commented on #2307
The reason we needed this button was because "Delete space" did not work properly.  As long as "Delete space" works properly, this should be the documented way to clean out your environment to start new projects.

[2018-07-19 17:05] sunilk747 commented on #4031
@tisnik
[code]

[2018-07-19 17:19] msrb commented on #4014
Fixed by https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/185.

[2018-07-19 17:19] #4014 closed

[2018-07-19 19:04] ldimaggi commented on #3742
Yes - there is 1 event:

![screenshot from 2018-07-19 14-58-45](https://user-images.githubusercontent.com/642621/42964392-e1afde56-8b64-11e8-8a8d-18a68d229b3a.png)

[2018-07-19 19:09] ebaron commented on #3500
@jiekang there is now a "skipCluster" boolean argument for the delete space API in production. By setting this to true (e.g. `DELETE https://openshift.io/api/spaces/780dc9bb-0f04-4e39-97cf-c3110be78005?skipCluster=true`), WIT will not attempt to delete any OpenShift resources. We should specify this only when calling the delete space API when resetting the user's environment, since tenant will cle

[2018-07-19 19:46] jiekang commented on #3500
Okay I will look at opening a PR for that.

[2018-07-19 20:04] joshuawilson commented on #2307
I don't think `delete space` fully deletes everything yet.

[2018-07-20 04:49] mishaone commented on #2307
Thanks, that clears it up a bit. I was looking for an issue tracking this functionality of `delete space` and/or the subsequent removal of `reset environment` but couldn't find anything. Is there something you can point me to so I can monitor it for docs changes, @joshuawilson?

I'll close this issue after having something else to monitor about this issue.

[2018-07-20 06:56] msrb opened #4032 "Collect and normalize feedback data"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/227

In order to improve analytics support for Maven, we need to collect feedback from users, normalize it and store it on S3 where other components can find it and make use of it.

**Acceptance criteria:**

* normalized feedback data is available in S3

[2018-07-20 07:30] msrb opened #4033 "Build a logic to accommodate feedback data into training"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/228

In order to make use of user provided feedback for Maven analytics recommendations, we need to build a logic to accommodate this feedback into the next round of training.

The aim here is to implement the feedback logic.

**Tasks:**

* _TBD_

**Acceptance Criteria:**

* _TBD_

[2018-07-20 07:49] msrb opened #4034 "Accommodate the feedback logic into the current training module"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/229

Accommodate the feedback logic implemented in https://openshift.io/openshiftio/Openshift_io/plan/detail/228 into the current training module.

**Tasks:**

* Refactor the feedback logic as per the changes in the training and scoring logic.
* Test the workflow.

**Acceptance Criteria:**

* Test the workflow.

[2018-07-20 08:06] tisnik commented on #4031
Thanks @sunilk747,

unfortunately I got one error:

[code]

I guess we don't have all the data on pre-prod.

[2018-07-20 08:20] msrb opened #4035 "Validate Golang ingestion support"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/230

[2018-07-20 08:44] msrb opened #4036 "Support for declared licenses in Golang ingestion pipeline"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/231

All license-related analytics features are based on declared licenses. Declared licenses for Maven packages are taken from pom.xml files, for Node.JS it's from package.json files, etc. However, Golang doesn't have manifest files that would provide information about declared licenses.
Therefore we will look for various

[2018-07-20 09:21] kwk commented on #4030
Fair enough. Thanks for the detailed explanation @sbose78

[2018-07-20 15:09] jiekang commented on #4028
Similar to https://github.com/openshiftio/openshift.io/issues/3793

This is being worked on.

[2018-07-20 15:09] #4028 closed

[2018-07-20 15:44] bartoszmajsak commented on #3977
- Before running tests in any IDE (including Che) execute `mvn package fabric8:resource fabric8:build`
- The above command would execute unit tests, in order to run integration tests execute `mvn install -Popenshift-it`
- Verify if pipeline is able to execute builds (both from master and `PR`)

[2018-07-20 16:48] andrewazores commented on #3655
Here's a quick update for where I'm at right now. Still needs visual tweaks, needs sorting support (backend and frontend), and we still need to settle how typeahead will work in practical terms. I think typeahead will end up being a future enhancement.

![ezgif-2-acd632a934](https://user-images.githubusercontent.com/3787464/43014744-30618d5e-8c1b-11e8-99ea-35b5eee804ad.gif)

[2018-07-20 18:49] aptmac commented on #3825
fixed in: https://github.com/fabric8-ui/fabric8-planner/pull/2701

[2018-07-20 18:49] #3825 closed

[2018-07-21 02:32] sunilk747 commented on #4031
@tisnik Yes. You will get the correct response if you will try it on prod.

[2018-07-23 06:01] Raunak1203 opened #4037 "Notification URL issue"
Steps:

- Update/ Create a work item in production.
- A mail is sent to your user account.
- Go to mail and click on the link to the work item [userName/spaceName]
- It shows busy indicator

![peek 2018-07-23 11-27](https://user-images.githubusercontent.com/34271052/43059800-d228ec7a-8e6b-11e8-94f4-80b254eb98ba.gif)

[2018-07-23 06:02] sdash-redhat commented on #3655
@andrewazores Looks really great!!!

@sunilmalagi is creating specs to help you tweak the minor visual glitches like spacing and padding. He will be sharing with you shortly today. Hope that will help :)

Thanks again for the great stuff!

[2018-07-23 06:19] animuk commented on #3890
since this is not reproducible anymore.closing this,

[2018-07-23 06:19] #3890 closed

[2018-07-23 06:41] sunilk747 opened #4038 "Understanding the architecture and codebase of chat.openshift.io"
Planner : https://openshift.io/openshiftio/Openshift_io/plan/detail/242

## Task List:
- [x] Understanding code base and all associated repos/services.
     - [x] Understand the chat.openshift.io deployment process and associated repository.
     - [x] Understand the mattermost-server upstream code repository.
- [x] Come up with HLD document which could help others to understand code flow.
- [x] S

[2018-07-23 06:44] ravsa opened #4039 "Analysing reusability of various components/modules in chat.openshift.io"
**PLANNER LINK** :- https://openshift.io/openshiftio/Openshift_io/plan/detail/246

#### User Story:
As an OSIO Developer, I will be able to reuse various components/modules of chat.openshift.io for User-Analytics(ChatBot) use case.

#### Description:
As we are going to integrate the chatbot with chat.openshift.io so we want to analyze all the backend and frontend components that can be reused for

[2018-07-23 06:48] ravsa opened #4040 "Identifying the Data sources which would be useful for User-analytics use cases."
**PLANNER LINK** :- https://openshift.io/openshiftio/Openshift_io/plan/detail/241

#### User Story:
As an OSIO Developer, I will be identifying the Data sources which would be useful for user-analytics use cases.

#### Description:
As we are going to develop user analytics AI use cases, It will require data for that so the goal is identifying the different Data sources.

**Acceptance:**
- Identify

[2018-07-23 06:49] invincibleJai opened #4041 "Exploring Tensorflow.js and understand how it works"
**PLANNER LINK** :- To Be updated

#### User Story:

As an Analytics Developer, I would like to explore and understand `tensorflow.js`, it's API's and working.

#### Description:
As we are going to have  chatbot powered by analytics so we want to analyze tensorflow.js for same to see if we can leverage some of it's capabilities. an Analytics Developer, I would like to explore and understand `tenso

[2018-07-23 07:07] yufchang commented on #3656
@elmiko ,Hi, I did not reproduce this. Do you mind sharing all your steps? Do you mean "password change form"  in "https://openshift.io/_home" -> "Setup profile" ->"Edit profile" ->"Change password" ? After that , I am not redirected. Thanks.

[2018-07-23 07:42] jyasveer commented on #3745
To decouple GKE build from this repo :-
1. Need to remove the GKE relate files
    Here is the PR which deletes the files https://github.com/fabric8-ui/fabric8-recommender/pull/460
2. Delete the GKE related webhooks from the github repo. @joshuawilson you can help here with
    deleting the webhooks

[2018-07-23 07:52] invincibleJai commented on #3745
@jyasveer can't we get required rights from @joshuawilson , so that we can verify and test it on our own?

[2018-07-23 08:10] piyush1594 commented on #3969
Reopening as it is still not in Prod.

[2018-07-23 09:18] pmacik opened #4042 "Clicking on the Promote button in the pipeline results in 404 ERROR"
When a QS is created by the launcher, the pipeline is built and goes up to the Promote stage.

Clicking on the Promote button in the pipeline results in the following 404 ERROR:

[code]

Where
* `osio-ci-ee9` is OSIO/OSO username
* `osio-ci-ee9-BDD-2018-07-23T10-27-54` is the name of space
* `osio-ci-ee9-BDD-2018-07-23T10-27-54-test123` is the name of the git repository
* `test123` is the name of

[2018-07-23 09:29] jarifibrahim commented on #3943
Assigning it to @vikram-raj since we will be fixing this in the UI.

[2018-07-23 09:37] ravsa opened #4043 "Design of Chat bot for OSIO"
**PLANNER LINK** :- https://openshift.io/openshiftio/Openshift_io/plan/detail/250

#### User Story:
As an OSIO Developer, I will have proper High-Level Design for the OSIO Chatbot.

#### Description:
As we are going to develop a chatbot for User-Analytics AI use case. That bot will be able to handle basic queries asked by the OSIO user and will provide the solutions for that if available. And this

[2018-07-23 10:09] GeorgeActon commented on #4024
Sev numbers are only used for defects. This is planned work and should be a story or task.

[2018-07-23 10:10] GeorgeActon commented on #4023
Sev numbers are only used for defects. This is planned work and should be a story or task.

[2018-07-23 10:11] GeorgeActon commented on #4022
Sev numbers are only used for defects. This is planned work and should be a story or task.

[2018-07-23 10:21] jyasveer opened #4044 "Implement the draft version of the UI Angular Component for chat bot"
### Planner Link :- https://openshift.io/openshiftio/Openshift_io/plan/detail/249

### Tasks
- [x] Modify the angular cli way of building the UI Application to the Webpack way of building UI app.
- [x] Show the chatbot on click of a button which should remain fixed on any given page. (like we see the feature button in OSIO)
- [x] Create a npm package and publish it.
- [x] Consume the UI Component

[2018-07-23 10:35] kishansagathiya commented on #3954
Clearly no one else is facing this except me, but I still face this.
I wonder if it could be because me having elevated access to my Jenkins!
![screenshot from 2018-07-23 16-02-06](https://user-images.githubusercontent.com/10185999/43071907-debf422e-8e91-11e8-9e01-8601bc01e839.png)

[2018-07-23 10:41] rupalibehera commented on #3954
@kishansagathiya , it works for me as well.

[2018-07-23 10:48] GeorgeActon commented on #4010
@sbose78 @catrobson please tell me this list will be sorted by user name

[2018-07-23 11:44] tinakurian opened #4045 "Fix error handling"
Error handling in planner currently does not support changing the type of error which is being thrown.

This can be achieved by changing the errors/errors.go file to take a parameter of type error. Stack trace can be preserved - see wrapf –> callers() for example.

[2018-07-23 11:48] tinakurian opened #4046 "Deprecate "/userspace/*" endpoint"
The **/userspace/*** endpoint is incorrect and was implemented as a hack in order to get some data in from the tenant jenkins. This endpoint is no longer used and can be removed. The database should also be removed as part of this defect.

[2018-07-23 11:56] stevengutz commented on #4044
Why are we still putting story work in GH.  This should be in the Planner.  @GeorgeActon can point you to the right place

[2018-07-23 11:58] stevengutz commented on #4041
Story work should now be in the Planner.  Talk to @GeorgeActon to get help

[2018-07-23 12:20] sunilmalagi commented on #3655
@sdash-redhat @andrewazores
Here is the visual screen for Space list with specification (total 2 screens), please check the below link and let me know if any further details required:
https://redhat.invisionapp.com/share/2HN3WIHAGQ6#/310210007_SpaceList_01

[2018-07-23 12:36] tinakurian opened #4047 "[2] Effort field populates incorrect value"
Enter the value 11111111111111111.51 in the effort field. On save, this value is converted to 11111111111111112

Enter the value 111111111111111111111111.51 and it will save as 1.1111111111111111e+23. However, attempting to re-save this value will result in the following error message: "Invalid value for the field type float"

[2018-07-23 13:37] stevengutz commented on #4039
One this is captured in Planner this work item and the child work items should be closed.

[2018-07-23 14:01] stevengutz commented on #4047
Nice defect.  I was trying to convince people that this field should be an integer.  Time to say "I told you so" ;-)

[2018-07-23 14:18] nimishamukherjee commented on #4047
@kwk would your work around default values address this issue?

[2018-07-23 14:23] tinakurian opened #4048 "Selecting the description field does not enable editing automatically when the field is populated"
When editing a description which contains text, clicking within the description text field does not automatically allow for editing. The check mark icon does not automatically appear the same way it does when there is no text or similar to how the title field functions. The user is forced to click on the pencil icon in order to start editing.

[2018-07-23 14:27] tinakurian opened #4049 "Moving focus off of some fields does not force the editing icons to disappear"
When moving focus off of the description field, the 'check mark' and 'x' icons do not disappear the same way they do with the title field.

Other fields that behaves this way is the effort field and comments field.

These fields should function the same way as the title field.

[2018-07-23 15:14] jarifibrahim commented on #4047
This is failing from the frontend for now. The field type `effort` and `storypoints` are of kind `float` and we cannot have a float with more than `17 digits` (computational limits). We should restrict this on the UI. Allow something like max 5 digits.

[2018-07-23 15:15] sdash-redhat commented on #3902
Here is the initial observation and proposed draft for review by the team to share their thoughts:
https://redhat.invisionapp.com/share/UEN434JGF72

Please review and share your feedback.
Based on that we will improve it and come up with a VD, that would finally be added to the Wiki

@catrobson @serenamarie125 @muruGanesan @sunilmalagi @AshishDurgude @bdellasc @Essjaysee

[2018-07-23 15:30] stevengutz commented on #4030
Can we try to limit defect ownership to a single team at a time?  This one has three - which team should start looking at this?

[2018-07-23 17:46] tinakurian commented on #2599
+1 this is inconvenient

[2018-07-23 20:06] msrb opened #4050 "[RepoDependencyFinderTask] duplicate key value violates unique constraint "worker_results_worker_id_key""
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/5742/

Happens quite frequently.

[code]

[2018-07-23 20:09] msrb opened #4051 "[license_task] Invalid value for "input": Path does not exist"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/5731/

[code]

[2018-07-23 20:10] andrewazores opened #4052 "Space dashboard visual "pop"/re-layout on each visit"
When visiting the space dashboard view, there is a noticeable "pop" or "flicker" of the page content which appears to be multiple items' layouts changing and the view content redrawing. This looks pretty jarring. I suspect this is a feature-flags thing.

![ezgif-5-92f21e1b67](https://user-images.githubusercontent.com/3787464/43100253-c0bada4e-8e92-11e8-9c7e-b9e566f6bef6.gif)

[2018-07-23 20:12] msrb opened #4053 "Max retries exceeded with url: /api/notify"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/6378/

[code]

[2018-07-23 20:17] msrb opened #4054 "ValidationError: None is not of type 'array'"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/5719/

[code]

[2018-07-23 20:20] aptmac commented on #4052
Yeah, in the gif you can see both the production/beta level and exp/internal mastheads being rendered one after the other.

[2018-07-23 20:23] msrb opened #4055 "'popitem(): dictionary is empty'"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/5921/

[code]

[2018-07-23 20:26] msrb opened #4056 "PermissionError: [Errno 13] Permission denied: '.vscode'"
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-analytics-production/issues/6286/

[code]

[2018-07-23 20:41] aptmac opened #4057 "Space Dashboard Work Item Widget not displaying bar chart"
The work item widget at https://openshift.io/openshiftio/openshift_io is not displaying the bar chart. The reason it is not rendering the chart is because the counters are not being incremented [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/dashboard-widgets/work-item-widget/work-item-widget.component.ts#L62). This is because for some reason the `system.state` in the `workItem.

[2018-07-24 04:08] tinakurian opened #4058 "Overpopulated title field in detailed view can prohibit viewing the work item"
The title field does not appear to have any cap on the amount of text which can be entered. If large amounts of text are entered, no scroll bar appears and the user is unable to see the rest of the work item.

Ideally, the title field should be capped in size. Titles shouldn't contain large paragraphs of text.

![titleoverpopulated](https://user-images.githubusercontent.com/40298444/43116621-aba3f

[2018-07-24 04:15] tinakurian opened #4059 "Business value field never displays the show less / show more option"
The business value field appears to function like the description field. However, the description field displays the "show more / show less" toggle when it has been populated with text.

The business value field should make use of the same toggle.

![businessvalue1](https://user-images.githubusercontent.com/40298444/43116639-b78d17e0-8ed6-11e8-8e25-ab1bd2da7064.png)

[2018-07-24 04:29] sthaha commented on #4024
Closing this issue as it is moved to planner.

[2018-07-24 04:31] sthaha commented on #4023
Closing this as this task is moved to Planner.

[2018-07-24 04:31] #4023 closed

[2018-07-24 04:32] tinakurian opened #4060 "Aw, snap! Performance issues ..."
It is possible to get planner into an "Aw, snap!" situation. This can be done by spamming the business value field with a ton of text.

At first, the performance starts to take a hit. When more text is added performance will grind to a halt and the page will eventually crash when attempting to view/edit in full detail view.

The business value field is where performance issues are easily exposed.

[2018-07-24 04:32] sthaha commented on #4022
Closing this as the task is moved to Planner.

[2018-07-24 05:35] animuk commented on #3612
this issue is not observed now. So, closing this

[2018-07-24 05:35] #3612 closed

[2018-07-24 05:39] animuk commented on #2849
closing this as this is already documented.

[2018-07-24 05:39] #2849 closed

[2018-07-24 05:40] rohitkrai03 commented on #4037
@Raunak1203 Is that the work item link or area link? When i tried it, work item link opened fine but the area link seems to be broken.

Current link is being formed in the format `https://openshift.io/<username>/<spacename>/plan?area=<areaname>`

I even tried something like `https://openshift.io/<username>/<spacename>/plan?q=(area:<areaname>)` which gives 0 work items in the result.

I think worki

[2018-07-24 08:07] CermakM commented on #3968
The results of the spike and links to additional resources can be found in this google doc:
https://docs.google.com/document/d/1_rD4kF4I2Xj2YqidNyfu1Q8kHrWhe9qi58OT_2UNUX4/edit?usp=sharing

[2018-07-24 08:34] kishansagathiya commented on #2779
This issue was created for sprint planning. I don't see a reason to keep it open once the sprint is done.
Closing it.

[2018-07-24 08:34] #2779 closed

[2018-07-24 08:35] bartoszmajsak commented on #2779
@kishansagathiya before closing it would be good to update the status of the checklist in the description

[2018-07-24 08:46] sunilk747 opened #4061 "Collect and format data from identified data sources."
**PLANNER LINK** :- https://openshift.io/openshiftio/Openshift_io/plan/detail/277

#### User Story:
As an OSIO Developer, I will collect data from identified sources and store it in some predefined format.

#### Description:
As we are going to develop user analytics AI use cases, It will require data for that so the goal here is to collect as much data available from internal sources as well as ex

[2018-07-24 08:50] invincibleJai opened #4062 "Design and feasibility study for the UI Component for chat bot"
### Planner Link :- https://openshift.io/openshiftio/Openshift_io/plan/detail/278

### User Story
As a OSIO developer i need to a feasibility study and come up with the design of UI component for chatbot that would help the user to get analytics insights/suggestions for OSIO

### Acceptance Criteria
1. Document a list of features that have to be present in the chatbot
2. Come up with design/specif

[2018-07-24 09:31] Raunak1203 commented on #4037
@rohitkrai03 area link is broken.
So, when we are in planner URL is https://openshift.io/<username>/<spacename>/plan?q=(space:<space_id>AND%20typegroup.name:Scenarios)&showTree=true

@vikram-raj  @sanbornsen can comment more on this.

[2018-07-24 11:02] GeorgeActon commented on #3552
@catrobson what does the (5) mean? Is that an estimate?

[2018-07-24 11:59] pmacik opened #4063 "Work item tree re-expanded after first collapse attempt"
![osio-planner-tree-collapse](https://user-images.githubusercontent.com/3263627/43136646-b177e254-8f49-11e8-99a8-e20565ed1587.gif)

[2018-07-24 12:16] #3745 closed

[2018-07-24 12:16] ldimaggi commented on #4042
I just tried this in the UI on https://openshift.io (production) and was not able to recreate the issue. Pavel - are you still seeing this?

[2018-07-24 12:32] ldimaggi commented on #3742
Seeing this problem again today - but - this time when a new app is created in the launcher - not during an import operation - steps to recreate:

* Reset user env
* After confirming that Jenkins and Content Repo are up and running
* Create a new space
* In that space, create a new app (I used REST/Vert.X) in the launcher
* Observe (2) pipelines started:
![screenshot from 2018-07-24 08-13-55](http

[2018-07-24 12:43] serenamarie125 opened #4064 "Validate environments flows"
Verify that the flows documented [here](https://redhat.invisionapp.com/share/MSMWAR0WX8P#/screens/290869534) are accurate and cover all use cases we need for J Train.

Previous Issue based on which the above flow is made:https://github.com/openshiftio/openshift.io/issues/2845

Met with the OSIO architects, Serena & Catherine (optional) to validate that the flows are accurate.  Note that Aslak is t

[2018-07-24 12:44] serenamarie125 commented on #4064
@catrobson please review content of this issue

[2018-07-24 12:45] #4011 closed

[2018-07-24 12:59] serenamarie125 opened #4065 "Deployments page - brainstorm on how to visualize when a DB exists"
Investigate methods to visualize when databases exist in an app environment on the deployments page.

Background:
Currently we have too simplistic of a view of what an application really is.  The dev team is suggesting that we investigate having a single card for the code, but an additional card for a database.

- Touch base with Chris Shinn to see if any of the design thoughts and concepts from t

[2018-07-24 12:59] serenamarie125 commented on #4065
@catrobson please review

[2018-07-24 13:30] ppitonak commented on #2951
I suggest to change severity to sev2 because it's important if we want to use Planner.

[2018-07-24 13:30] ldimaggi commented on #2140
+1 - I vote to close this - the tests run multiple times per day

On Tue, Jul 24, 2018 at 9:23 AM Pavol Pitonak <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2018-07-24 13:38] #2140 closed

[2018-07-24 13:55] catrobson commented on #3552
@GeorgeActon yes that is our storypoint estimate for UXD.  Sorry, we usually do this on just UXD created stories - didn't realize we stuck it on a regular eng story!

[2018-07-24 13:59] andrewazores commented on #4057
Yea, the `open` vs `Open` does seem to be the problem here. The responses coming back for `https://openshift.io/openshiftio/openshift_io` all look like `New`, `Closed`, `Resolved`, `In Progress`. The responses for `https://openshift.io/openshiftio/openshiftio` look like `new`, `closed`, `resolved`, `in progress`.

Whatever database these things come from should have these labels made the same, or

[2018-07-24 14:01] andrewazores commented on #4057
A minimal hacky workaround on the `fabric8-ui` platform client side is as short as this:

[code]

but we should try to avoid such a solution.

[2018-07-24 14:06] tisnik opened #4066 "Strange behaviour of stack_license endpoint of licence analysis when package name or package version is omitted"
Strange behaviour of stack_license endpoint of licence analysis when package name or package version is omitted - the analysis is performed w/o problem, but the output does not contain the data that are missing at input (package name or package version). That result is not consistent and I'm aware it is not consumable by UI parts.

# Actual behaviour

## Input

[code]

## Output

Please note that

[2018-07-24 14:15] ldimaggi commented on #4042
And now - it's failing again:

![screenshot from 2018-07-24 10-13-41](https://user-images.githubusercontent.com/642621/43144191-85587c66-8f2a-11e8-82cb-af8629440be5.png)

[2018-07-24 14:38] ldimaggi opened #4067 "For user provisioned on starter-us-east-2, stage and run pods are not starting"
Steps to recreate:
* Login to https://openshift.io with user account provisioned on starter-us-east-2
* Reset user env, verify that Jenkins and Content Repo pods start
* Create new space
* Create new app in Launcher
* Observe successful deployment to stage and promotion to run in OpenShift.io UI
* Observe stage and run endpoints are not accessible:

![screenshot from 2018-07-24 10-36-03](https://u

[2018-07-24 14:40] ldimaggi commented on #4067
Still happening:

[code]

[2018-07-24 15:20] catrobson commented on #4064
@serenamarie125 - edited one line.  Otherwise looks good to me.

[2018-07-24 15:21] sunilk747 commented on #4066
@tisnik I agree there should be a error message for this case. But the packages and their versions are picked up from pom file and then it fetch license information for each package from graph db. The query itself will fail if either package name or version is missing before it calls the license service. IMO We can put a check before calling the license service. https://github.com/fabric8-analytic

[2018-07-24 15:55] piyush1594 commented on #3058
@lordofthejars It is managed by the booster team, as they upgrade and do the release they update our catalogue also, so I think we can do anything for this.

[2018-07-24 16:15] bartoszmajsak commented on #3058
@piyush1594 @lordofthejars we probably could think about some automation around that

[2018-07-24 16:58] serenamarie125 commented on #4064
@parvathyvr this is the story we discussed on Monday.  Let us know if you have any questions!

[2018-07-24 16:59] serenamarie125 commented on #4065
@sdash-redhat this is the story we discussed yesterday.  Please let us know if you have any questions.  Thanks!

[2018-07-24 17:14] ldimaggi commented on #4067
This looks like it was fixed in the last 30 min - no longer seeing this issue.

[2018-07-24 17:36] serenamarie125 opened #4068 "Validate & document requirements for the App widget on the dashboard"
Setup a meeting with Stevan & Dev Archs to capture the requirements around the Applications widget on the dashboard.

Background :
What should the applications widget represent …
- If I’m a developer coming to the dashboard, what do I need to know about the applications that I’m setting up
- Interesting actions are hidden under the kebab
- Note that Laura had a story to evolve the application widg

[2018-07-24 17:37] serenamarie125 commented on #4068
@catrobson please review

[2018-07-24 17:41] serenamarie125 opened #4069 "Codebases widget on the space dashboard should allow easy access to edit in Che"
Propose design solutions to allow the user to get into Che for that URL (note there is a way to do this now on the code bases page) in the codebases widget.

Currently, you can follow a link to GitHub, but that's not the desired result.
Investigate different solutions.  One possibility is associating the Che icon with a link which may help educate the user that they will be brought to Che.

Backgr

[2018-07-24 17:41] serenamarie125 commented on #4069
@catrobson please review

[2018-07-24 17:48] #4067 closed

[2018-07-24 17:49] serenamarie125 opened #4070 "Improve the launcher experience to enable the user to get full feedback of the setup"
Currently when the launcher flow completes, you are shown a page in the wizard which shows a number of steps, but then you are brought back to OSIO dashboard with no indication of what's going on.

Design a solution which improves this experience, allowing the user to view what was done in the launcher, get feedback at any time, and understand next steps.

Investigate the following as design alter

[2018-07-24 17:49] serenamarie125 commented on #4070
@catrobson please take a look

[2018-07-24 18:38] catrobson commented on #4070
@serenamarie125 added one final bullet point.  Otherwise looks good!

[2018-07-24 18:40] catrobson commented on #4069
Additional note:  a user can create multiple workspaces for one codebase.  We'll need to consider how this is handled in the dashboard if you want to open your codebase in Che.

[2018-07-24 18:48] ldimaggi commented on #4042
Note - that there is no work-around for the user other than starting a new build.

The same 404 error is seen if the user attempts to promote the build from the 'promote' link in the Jenkins log:

![screenshot from 2018-07-24 14-45-39](https://user-images.githubusercontent.com/642621/43159561-accb4852-8f50-11e8-8914-d9c97d39b2a0.png)

[2018-07-24 20:04] metacosm commented on #3067
Hmm, wasn't aware of this until now. Not sure how I missed it. `spring-boot-dev-tools` is properly set as a dependency so it should be working. As far as changes go, it's difficult to tell what could be causing the issue, especially without being able to test (I don't have an OSIO account).

[2018-07-25 01:04] sdash-redhat commented on #4065
Thanks @serenamarie125, will connect with Chris today. Will keep you updated.

[2018-07-25 05:11] nimishamukherjee commented on #4057
@sanbornsen please have a look

[2018-07-25 05:17] nimishamukherjee commented on #1595
@michaelkleinhenz when do we take this up?

[2018-07-25 05:18] nimishamukherjee commented on #4060
There is a larger discussion around character restrictions for various planner fields #1595 . This defect would get fixed when 1595 is taken up.

[2018-07-25 05:22] nimishamukherjee commented on #4059
@stevengutz @michaelkleinhenz what is the purpose on the Business Value field and how should it behave? How should Business Value be specified?

[2018-07-25 06:30] invincibleJai commented on #4042
am not sure if it's `team/launcher` or `team/build-cd` CC @nimishamukherjee @joshuawilson

[2018-07-25 07:20] sunilmalagi commented on #3772
@SMahil @nimishamukherjee
I have created spec for accepted design, here is the invision link:
https://redhat.invisionapp.com/share/E6MUSNDBAQT#/310668254_Proposed_Assignnee_List_Spec
Let me know for any more information required.

[2018-07-25 08:30] #3875 closed

[2018-07-25 08:33] ppitonak commented on #4067
Missing env variable after cluster was upgraded to OpenShift 3.10

[2018-07-25 08:43] kishansagathiya commented on #3897
@hrishin or @rupalibehera
Can you please archive unused pipeline-plugins?

[2018-07-25 09:03] invincibleJai commented on #3820
Have handled below pointers in dependency editor from UI side:

- On addition of dependencies from insights as well as from modal it shows up twice.
- On addition of dependencies from insights as well as from modal it gets added to core dependencies as well.
- On addition/removal of added dependencies insights API call is not having the correct payload.

[2018-07-25 09:24] pmacik commented on #4042
@ldimaggi Just tried with 2 different accounts, `pmacik@redhat.com` that is on `starter-us-east-2` cluster, and the original `osio-ci-ee9` that is on `starter-us-east-2a` cluster with the following observation:

* The 404 error only happens with the `osio-ci-ee9` account (thus on `starter-us-east-2a` cluster).
* The Promote button works with the `pmacik@redhat.com` account (on `starter-us-east-2`

[2018-07-25 09:30] tisnik opened #4071 "license-recommender API endpoint returns HTTP code 500 for wrong input"
## Actual behaviour:

For the wrong input, ie. missing attributes in JSON payload, the `license-recommender` API endpoint returns HTTP code 500 with the message written in HTML:

[code]

## Reproducer:

Reproducer: https://github.com/fabric8-analytics/fabric8-analytics-common/pull/581

## Expected behaviour:

Any meaningful 4xxx code with JSON containing status + error message:
https://blog.restca

[2018-07-25 09:37] sunilk747 commented on #4066
@tisnik Okay. I will send a PR for this.

[2018-07-25 09:50] kishansagathiya opened #4072 "fabric8-pipeline-library: Figure out if nexus repository is used, if so where?"
Figure out if nexus repository is used, if so where?
And does it have anything to do with content repo?

[2018-07-25 10:00] ppitonak commented on #3058
Any updates?

[2018-07-25 10:05] ppitonak commented on #3416
@openshiftio/uxd-team any updates?

[2018-07-25 11:21] ppitonak commented on #3744
Happened again on prod-preview with account `osio-ci-e2e-002-preview`, space `e2e-0725-044225`

[2018-07-25 11:34] piyush1594 commented on #3969
PR on sync plugin https://github.com/fabric8io/jenkins-sync-plugin/pull/36 and PR on openshift-jenkins-s2i-config https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/181 has been merged. This will be in prod after tenant upgrade.

[2018-07-25 11:45] invincibleJai commented on #3744
@ppitonak thanks @jyasveer is looking into this what we have observed is if `fabric8.io/bayesian.analysisUrl` annotation is not present, so stack-report link din't appear and did you get the chance to look at

[code]

was above key present?

even jenkins log would be of help if you can share, log should have :

`
[Pipeline] echo
Adding annotation 'fabric8.io/bayesian.analysisUrl: https://recommend

[2018-07-25 11:51] lordofthejars commented on #4006
I have been investigating this issue, and there is something really weird that I cannot understand.
I have entered to my Jenkins (jenkins.openshift.io) I entered to `Manage Jenkins`  and I have run next groovy script in console:

[code]
Which prints all plugins that are installed.
The result can be seen at: https://gist.github.com/lordofthejars/6a98a37814cb204c606a8df5617ad180#file-gistfile1-txt-L

[2018-07-25 12:09] ldimaggi commented on #4042
I am seeing this 30-50% of the time for a user account provisioned on starter-us-east-2

[2018-07-25 12:11] DhritiShikhar opened #4073 "User Avatar shows clickable pointer"
The user avatar shows a "hand pointer" which means that it should either be clickable component or show a infotip neither of which happens as of now.

![screenshot_2018-07-11_13-31-33](https://user-images.githubusercontent.com/6303309/42558640-80f06f3c-850f-11e8-808e-a4b1fd2afbc2.png)

![screenshot_2018-07-11_13-31-46](https://user-images.githubusercontent.com/6303309/42558641-8126a3e0-850f-11e8-9

[2018-07-25 12:12] DhritiShikhar opened #4074 "Long title is not rendered properly in the Timeline"
![screenshot_2018-07-11_15-13-41](https://user-images.githubusercontent.com/6303309/42564091-75ba8766-851d-11e8-86f3-7d516fdbeafd.png)

[2018-07-25 12:14] DhritiShikhar opened #4075 "Workitem hierarchy not rendered properly"
![screenshot_2018-07-11_16-23-58](https://user-images.githubusercontent.com/6303309/42567385-37b821d0-8527-11e8-8873-cedeae3df30a.png)

[2018-07-25 12:14] DhritiShikhar opened #4076 "Problems with Iteration Hierarchy"
Iteration Hierarchy more than level 4 is not supported.

Iteration at 5th level appears at the 2nd level.

Refer:
https://youtu.be/lt9C3IDfc-Q

[2018-07-25 12:33] Preeticp commented on #833
WIP here: https://docs.google.com/document/d/1M0EVdcz6kpcvh1LVJ5Spc2LycjYZ0yDp2BWWDD1f-1g/edit?usp=sharing.

[2018-07-25 12:41] ldimaggi commented on #3744
Seeing the same issue here too:

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/376/

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/

[2018-07-25 12:55] stevengutz commented on #4072
@kishansagathiya Tasks shouldn't have a severity value

[2018-07-25 12:56] GeorgeActon commented on #4070
@serenamarie125 please label with team and story or task etc.

[2018-07-25 13:08] catrobson commented on #3814
@davidfestal - Many of the things you pointed out are being discussed here:  https://docs.google.com/presentation/d/1P8p_6Va1hExB3y7vZvmAxkHjliDpzOZVDaT6ox-2lG8/edit#slide=id.g3e4795d877_0_20

@sbose78 FYI

[2018-07-25 13:14] davidfestal commented on #3814
@catrobson yes, Thanks for the information. I already added some comments in this document. In fact it happens that the google doc has been created / shared while I was writing the comment above: I found it just after.

[2018-07-25 13:16] ibuziuk commented on #3814
@davidfestal thanks for a detailed analyses / explanations and the demo - https://youtu.be/fGZZZVY93Uc

Am I correct that this would be a new app hosted on osd ? I personally like this idea more than the other proposal [1]
[1] https://docs.google.com/presentation/d/1P8p_6Va1hExB3y7vZvmAxkHjliDpzOZVDaT6ox-2lG8/edit#slide=id.g3e4795d877_0_75

@slemeur @l0rd improving the situation with fixing the re

[2018-07-25 13:17] catrobson commented on #4068
Added one bullet about multi-container apps.  Otherwise looks good to me @serenamarie125!

[2018-07-25 13:20] jyasveer commented on #3744
@ljelinkova @ppitonak @ldimaggi
One question to clarify. Do you people see the stack report link on the pipeline page ?
cc @invincibleJai

[2018-07-25 13:29] ppitonak commented on #3744
This one was prod

[2018-07-25 13:30] davidfestal commented on #3814
yes, or there could be an even simpler solution implemented fully in rh-che by overriding the [`che.keycloak.js_adapter_url`](https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/multiuser.properties#L147) in order to use a customized version of the Keycloak client script (that would delegate to the standard one, but simply add the provision

[2018-07-25 13:36] ppitonak commented on #3744
We discussed two examples today:

prod:
* account osio-ci-e2e-003
* space e2e-0725-100622
* Jenkins log snippet: Adding annotation 'fabric8.io/bayesian.analysisUrl: https://recommender.api.openshift.io/api/v1/stack-analyses/878236943d0045258e8e85f38957938e' to Build e2e-0725-100622-1
* pipeline screenshot http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-

[2018-07-25 13:40] jyasveer commented on #3744
If the annotation is getting created, we should see the stack report link. Have to dig into the code and check. Thanks for all your inputs

[2018-07-25 13:42] kwk commented on #4058
@nimishamukherjee @tisnik for the title in particular I think we could do it similar to github does it when you create PR.

When you create a PR with a very long title and some text in the description field:

This is the title of the commit:

![bildschirmfoto von 2018-07-25 15-37-02](https://user-images.githubusercontent.com/193408/43204255-ae1ce82a-9020-11e8-96df-3ba707d7a2a4.png)

Your PR will h

[2018-07-25 13:47] ibuziuk commented on #3814
@davidfestal yes, please. We discussed it with @slemeur and he confirmed that we could spend  time on POC that would provide better UX for registrations via `che.openshift.io` in this sprint.

[2018-07-25 13:49] ruthetdav commented on #3814
@ibuziuk @slemeur great !

[2018-07-25 13:51] davidfestal commented on #3814
@slemeur @ibuziuk great !

[2018-07-25 14:09] jyasveer commented on #3744
I just executed 2 builds in my space. I am not able to reproduce the issue. Let me try out some more times and see if I can reproduce the error

[2018-07-25 14:22] hrishin commented on #3897
@rupalibehera can do it.

[2018-07-25 16:01] stevengutz commented on #4059
I was hoping this field would be a string where we could a line of text to highlight how the WI relates back to the business.  Unfortunately it seems to be a number

Steve Gütz
sgutz@redhat.com

[2018-07-25 16:41] nimishamukherjee commented on #3113
@animuk should we (app-creation) look into this?

[2018-07-25 18:14] tinakurian commented on #4060
Thanks @nimishamukherjee & @rgarg1

I had a look at  #1595 and noticed this document which seems to indicate that we don't plan to put a limit for the description field: https://docs.google.com/presentation/d/1x1iJyuqbqPedxhnduUASiJkRogh1RA8qVLIcJEGFjM0/edit#slide=id.g35442f53a6_1_86

I think for the performance reasons outlined in this defect we should implement some sort of a large character lim

[2018-07-25 18:18] tinakurian commented on #4048
Thanks @nimishamukherjee

The behvaiour seems somewhat inconsistent though. Shouldn't the title function the same way in this case?

Personally prefer the way the title works better.

[2018-07-25 18:21] muruGanesan commented on #4070
linking the relevant GH issue #3366 [https://github.com/openshiftio/openshift.io/issues/3366](url)

[2018-07-25 19:03] piyush1594 opened #4077 "Not able to build any Quickstart Application"
Steps to reproduce:

1. Go to your space.
2. Create an application
3. Choose a new codebase.
4. Follow all the steps and Setup application
5. See that master build fails with error.

Error:
[code]

I tried around 7-8 times and all failing for me. I don't know if its something related to my account only.

[2018-07-25 21:05] catrobson commented on #3416
Hi all - sorry for the non-response on this issue.

+1 that we can change this to just be "Recent pipelines" and show the last (5?) pipelines that have had activity happening in the system in this widget, completed or not.  I'm not sure what the number limit is on how many we show today, so maybe we need to see how it looks with 4 or 5 to make sure we avoid scrolling in the widget if possible.

[2018-07-26 00:35] bartoszmajsak commented on #3944
@ldimaggi can we close it then?

[2018-07-26 00:43] bartoszmajsak commented on #3796
@ppitonak If it's a random network issue how come it is SEV-2 then?

@sthaha which version of Maven are we using in our build pods? According to Maven changelog as of 3.0.4 the default URL has been changed from http://repo1.maven.org/maven2 to http://repo.maven.apache.org/maven2. Can you check if there is something in `settings.xml` on the build side?

[2018-07-26 03:50] hrishin commented on #3956
![image](https://user-images.githubusercontent.com/28615674/43239901-ad02bb4a-90b1-11e8-9c6c-acf3f5f4584a.png)

Not only for first time but it alos happens during unideling case as well.
As shown in the above graph Jenkins doesn't respond at for certain timeframe when its CPU workload reaches to given limits. Also its observed that rediness and liveness probs keep failing during the same timeframe

[2018-07-26 04:37] samuzzal-choudhury commented on #3114
I replicated this issue today. My descriptions disappeared from the planner. Here is a screenshot

![image](https://user-images.githubusercontent.com/17740190/43241952-a26d4ef2-90bb-11e8-942b-1fe46ef36f60.png)

cc: @miteshvp @GeorgeActon

[2018-07-26 05:12] sunilmalagi commented on #4048
@tinakurian @nimishamukherjee @Veethika I agree with you Tina, the behaviour should be consistent across all the editable fields, I feel we should allow the user to edit when he/she click within any text field and if we do that, we can also consider taking out the edit icons, Veethika please confirm on the same.

[2018-07-26 05:13] samuzzal-choudhury commented on #3114
FYI - I had to rewrite the description in the work item to make it appear again.

[2018-07-26 05:40] vikram-raj opened #4078 "Linking of ngx-launcher with fabric8-ui is not working"
For local development, we need to link ngx-launcher with fabric8-ui to see the changes that we made in ngx-launcher and it is broken now. There is one workaround

Steps:
After making any change I have to do
1. npm run build
2. In dist folder run npm pack. After npm pack .tgz file will be created
3. In fabric8-ui run npm install <path of .tgz file>
4. npm start

And it takes 4 to 5 mins.

[2018-07-26 05:55] rgarg1 commented on #3114
@samuzzal-choudhury Could you pls list some steps to reproduce this problem. I'm unable to reproduce this. We recently fixed a similar issue: https://github.com/openshiftio/openshift.io/issues/3842

[2018-07-26 06:04] sdash-redhat commented on #3902
Thanks for the feedback in invision, Have updated with some minor tweaks.
https://redhat.invisionapp.com/share/UEN434JGF72#/310256253_Slide01

[2018-07-26 06:08] rgarg1 commented on #4060
I agree with @tinakurian here. The limit could be large enough to not cause a constraint to the user, but we need definitely need one. In the absence of a limit, we run a risk of a DoS attack too.

[2018-07-26 07:50] ppitonak commented on #3796
It's a random issue occuring very often, severity increased for visibility.

[2018-07-26 07:52] bartoszmajsak commented on #3796
I understand your reasoning and it is fine to increase the visibility, but I don't think this is really something for `area/app-wizard`  `area/launcher` to explore. This is more likely build / infra problem.

[2018-07-26 08:16] rgarg1 commented on #3978
Please consider if _Keyset-based Pagination_ is useful in this case:
https://blog.philipphauer.de/restful-api-design-best-practices/#keyset-based-pagination-aka-continuation-token-cursor

[2018-07-26 08:41] rootAvish commented on #4004
Hey so what do you guys think about putting in a commented version string, like we were discussing it on chat? Also can you please tell me which other ways you were considering?

[2018-07-26 08:46] nimishamukherjee commented on #1554
@kpiwko Notifications in this issue refer to the toast notifications. We are not addressing email notifications.

[2018-07-26 08:50] nimishamukherjee commented on #2288
Closing this as UX has decided on not to change the icon.
https://github.com/openshiftio/openshift.io/issues/2289

[2018-07-26 08:50] #2288 closed

[2018-07-26 09:04] lordofthejars commented on #4006
@ldimaggi Do you have any idea when this log lines started to appear? It seems that 8 months ago we updated Jenkins to 2.93.1 so probably this is not the cause of this problem. But also I cannot understand why we get this 1.6.2 problem when the Blue Ocean that we have installed is 1.5.0.

[2018-07-26 09:46] GeorgeActon commented on #3886
@jyasveer label this correctly & set Severity

[2018-07-26 10:41] ppitonak commented on #4009
I agree that it should be part of the pipeline, i.e. "Rollout to Run" step should be marked as successful only when the app was deployed successfully. WDYT @openshiftio/uxd-team

[2018-07-26 10:54] catrobson commented on #3902
Your recommendations look good to me @sdash-redhat!  I'd like to see the title capitalization be contributed back into PatternFly 3 specifications.  Otherwise I think much of this is ready for our wiki!

[2018-07-26 10:56] catrobson commented on #4009
@ppitonak Agree we would only mark that step successful when the app was deployed successfully.

[2018-07-26 11:04] bartoszmajsak commented on #3886
@GeorgeActon is your team going to work on it this sprint? @vikram-raj stumbled upon the same issue and might help to sort this out.

See #4078

[2018-07-26 11:21] ldimaggi commented on #3944
Yes - this is resolved - closing.

[2018-07-26 11:21] #3944 closed

[2018-07-26 11:44] arilivigni commented on #3989
@chmouel I think it is ok to use the CentOS image I think this is part of using the OpenShift Jenkins CentOS image.

[2018-07-26 12:30] rhopp opened #4079 "Slow mount of PVC for che workspaces - can prevent workspaces from starting."
gitlab issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2169
Mounting PVC which has lots of files is very slow and it can even prevent che workspaces from starting.

To put it into perspective - It's enough to have 3 workspaces with Angular [1] example to get into the state, where workspaces fail to start.

Right now, this may not be such a big issue (but we had people in the past wh

[2018-07-26 12:43] jyasveer commented on #3886
@GeorgeActon i have updated the labels now

[2018-07-26 12:47] GeorgeActon commented on #3886
@bartoszmajsak that explains Anindya's comment that Vikram was goig to work on this.

@animuk  if this is a duplicate of the one that @vikram-raj then one of these should be closed as a duplicate. Coordinate with Vikram

[2018-07-26 12:49] rhopp commented on #4079
We've also created job, which is monitoring mount times of PVC. This PVC was pre-populated with filex equivalent to two built angular quickstarts (~20000 files if I remember that correctly). @ScrewTSW Could you please provide link to zabbix?

[2018-07-26 13:06] hrishin commented on #2967
@sthaha its feature request.

[2018-07-26 13:11] hrishin commented on #3238
@sthaha its feature request.

[2018-07-26 13:29] hrishin commented on #3796
In maven settings its

[code]

If thats the case we could update it. Maven settings https://github.com/fabric8-services/fabric8-tenant-jenkins/blob/master/apps/jenkins/src/main/fabric8/jenkins-maven-settings-secret.yml#L4

[2018-07-26 13:31] stacymcauliffe commented on #3633
Presented some ideas for how we might minimize this banner and make better use of this space:
https://redhat.invisionapp.com/share/X4N6UEVJKWA#/310993205_Desktop

Comments from the team so far -
Does this conflict with the experimental features button?
Would use of a modeless overlay for this conflict with other ways we use it in the UI? (yes)
How would this work with the getting started experienc

[2018-07-26 13:31] jiekang commented on #3784
I tried to rollout to stage:

Application Name: awtftwtaw
Repository Name: 1234-4321
Maven Artifact ID: 1234-4321

and still see failure log:

Caused by: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: https://kubernetes.default/api/v1/namespaces/jkang-stage/services. Message: Service "1234-4321" is invalid: metadata.name: Invalid value: "1234-4321": a DNS-1035

[2018-07-26 13:31] jiekang commented on #3784
@hrishin @sthaha Any ideas? Is the update not in production or maybe something is still missing?

[2018-07-26 13:54] lordofthejars commented on #3989
Can we close this issue? For now I leave as some work to be done, but if we agree on no changes then we can close it.

[2018-07-26 14:02] ScrewTSW commented on #4079
Here are the job results with two angular projects installed.

![screenshot from 2018-07-26 15-46-09](https://user-images.githubusercontent.com/16451875/43267069-4446c0b0-90ed-11e8-9df2-f2387e921f9c.png)
![screenshot from 2018-07-26 15-55-59](https://user-images.githubusercontent.com/16451875/43267080-483475dc-90ed-11e8-8149-e88387470348.png)

https://zabbix.devshift.net:9443/zabbix/charts.php?ddr

[2018-07-26 14:09] lordofthejars commented on #2931
If this is already identified and tracked to another issue, maybe we could close it.

[2018-07-26 14:12] lordofthejars commented on #3954
It works for me as well, @kishansagathiya maybe we can close and reopen if necessary?

[2018-07-26 14:16] rhopp commented on #4079
This have one more implication...

Normally, when workspace is deleted, the `rm-<workspace-name>` pod is spawned. It's purpose is to delete workspace files from the PVC.

But when the PVC has lots of files, the mount fails (or takes longer, then is the timeout for startup of the `rm-` pod) and user is basically stuck in situation when he cannot start any workspace AND he is not able to remove the

[2018-07-26 14:46] jiekang commented on #3837
Closing as PR addressing this is merged.

[2018-07-26 14:46] #3837 closed

[2018-07-26 16:14] nimishamukherjee commented on #3086
Fix in prod

[2018-07-26 16:14] #3086 closed

[2018-07-26 16:18] nimishamukherjee commented on #3052
@sunilmalagi @Veethika can you summarise what is the recommendation?

[2018-07-26 16:23] nimishamukherjee commented on #4076
@DhritiShikhar refer to https://github.com/openshiftio/openshift.io/issues/2046
This is the intended behaviour.

[2018-07-26 16:29] hrishin commented on #3784
@jiekang the Its not updated in prod yet.

[2018-07-26 17:48] jiekang commented on #3784
What's the plan to get it into production? Is there anything blocking it? If it's all good feel free to close this issue again.

[2018-07-26 17:50] catrobson commented on #3902
To contribute this to PatternFly - create an issue referencing the missing information in the current empty state here to alert people that this is being addressed and you're doing the work:
https://github.com/patternfly/patternfly-design/issues

Then start a PR with your improvements to the documentation on this page that will go through review:
https://github.com/patternfly/patternfly-design/blo

[2018-07-27 02:07] hrishin commented on #3784
yesterday we were trying to roll out into prod but we are facing issues with builds, hence it is blocked. Will post the update here.

[2018-07-27 02:09] hrishin commented on #3796
@ppitonak is it blocking the builds? Could you please share the complete log?

[2018-07-27 03:30] sdash-redhat commented on #4065
I have collated some of my thoughts and understanding as a mindmap in the following InVision link:

**https://redhat.invisionapp.com/share/DRN7CQASTJ7#/311139340_Deployments_Page-4065-Understanding-0-1_**

Please review and share your thought/comment on any node of thought ...this will help me understand the context better.

Also please feel free to point out if any other angle, issues perspective

[2018-07-27 05:27] samuzzal-choudhury opened #4080 "Notification service fails to equate the SSH and HTTPS url for the same git repo"
## Steps to recreate
1. Create a fork of the repo - 'https://github.com/spicemit/maven-simple-2-1.git'.
2. On prod-preview.openshift.io, create a space and import the newly forked repo during the set up.
3. Opt in for 'Internal Experimental Features' if not done already.
4. Go to the codebases link in the new space and switch on the 'SECURITY ALERT'.
5. You will receive the scan report for the rep

[2018-07-27 05:34] nurali-techie commented on #4080
While analyzing the issue, I have observed that there is an attempt made to send_email even there are zero_receiver.  Please add check in f8-notification not to call send_email in case of zero_receiver. [code_link](https://github.com/fabric8-services/fabric8-notification/blob/master/email/notifier.go#L74)

[2018-07-27 05:40] piyush1594 commented on #4077
This is still an issue if we upgrade the latest tenant to prod. Reopening it. This is not in prod. But upgrading to prod is blocked on this.

[2018-07-27 05:48] ppitonak commented on #3796
Yes, pipeline fails.

Example 1:
* Jenkins log http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/379/05-01-jenkins-log.html
* Pipeilne http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/379/05-02-afterEach.png

Example 2:
* Jenkins log http://artifacts.ci.centos.org/devtools/e2e/devtools-test

[2018-07-27 06:00] Veethika commented on #4048
@tinakurian @sunilmalagi @nimishamukherjee It makes sense to make any input field active on clicking inside the field when it's empty. But once some data has been entered in a particular field, one should only be allowed to edit it after clicking on the edit button/icon available. And this behavior should be consistent across fields.

[2018-07-27 06:03] kishansagathiya opened #4081 "fabric8-tenant-jenkins: Remove init container from jenkins"
Init container hack was added to jenkins to handle network issue(https://github.com/openshiftio/openshift.io/issues/3895) in openshift
At this point it is creating more problems than what it is solving. This should be removed.

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/338

[2018-07-27 06:07] Veethika opened #4082 "New Work Item Browsing"
Come up with a new list view structure which can display custom query results in a scalable manner(can show a large number of work items without duplication) and also has a user-friendly navigation to the parent and child of a particular work-item.

### **Acceptance Criteria**
- [x] Resulting Work Items are displayed in a list.
- [x] Each list entry contains meaningful information (based on the cu

[2018-07-27 06:10] kishansagathiya opened #4083 "Remove content repository"
There is a long discussion regarding how and why content repository is not being used right now and does not add any value. Even though it is not very clear, if this has to be removed or not, there is value in at least investigating whether it can or should be removed.

Test the system by removing it, see what happens. With this exercise we will also be able to know if it is really required. This

[2018-07-27 06:15] #3954 closed

[2018-07-27 07:00] kishansagathiya commented on #3037
@sthaha I think this requires some investigation on what is happening and if it is desirable. The behaviour that @krishnapaparaju has mentioned in the description is something I have observed several times.

[2018-07-27 07:04] rhopp commented on #3052
I would also vote for removing the arrow, when the item is not expandable. I cannot agree with this sentence: `it was looking visually imbalanced and looked mis aligned`. To me, the screenshot without arrows seems completely normal. And I think this is pretty normal to not show the arrow, when the item is not expandable.

Few examples of how this is done in other applications:
Google material desi

[2018-07-27 07:18] kishansagathiya commented on #2120
None of the above two links worked from me, both gave `Not Found`

[2018-07-27 07:23] lordofthejars commented on #2120
@kishansagathiya maybe in your case is because of https://github.com/openshiftio/openshift.io/issues/4006

[2018-07-27 07:30] kishansagathiya commented on #2120
@lordofthejars Yes, I thought the same. Have seen those links multiple times. From what I know, we are not using BlueOcean UI and thus it doesn't affect us. But this is certainly not a desirable and should be fixed keeping in mind the efforts required.
May @rupalibehera or @hrishin would have a better sense how important this issue is

[2018-07-27 08:16] kishansagathiya commented on #1872
@rhopp Haven't seen any update on this issue from a long time. Is this still relevant?

[2018-07-27 08:34] hrishin commented on #3784
Just for info: Test build logs https://pastebin.com/3TRm3eUP for the repo https://github.com/hrishin/1222-123236435141.
This is how patched service URL looks
`svc-1222-123236435141: "https://svc-1222-123236435141-hriships-stage.b542.starter-us-east-2a.openshiftapps.com"`

This update is blocked due to https://github.com/openshiftio/openshift.io/issues/4077

[2018-07-27 09:38] apupier opened #4084 "Cannot access documentation of Eclipse Che from links inside it"
if i click on a link "learn more", I have this kind of message:

![image](https://user-images.githubusercontent.com/1105127/43313835-7d6b8d40-9191-11e8-9f69-bf84120396b1.png)

I tried from
![image](https://user-images.githubusercontent.com/1105127/43313849-87b14bdc-9191-11e8-9849-5d2eef410f92.png)
and
![image](https://user-images.githubusercontent.com/1105127/43313858-8e8147b4-9191-11e8-9e50-9bdaf

[2018-07-27 09:46] rhopp commented on #4084
Already reported in rh-che repository: https://github.com/redhat-developer/rh-che/issues/747

[2018-07-27 10:57] Raunak1203 opened #4085 "Board navbar should be highlighted on click"
Steps:

- Click on plan tab
- Click on Backlog
- URL is changed for board view but Board is not highlighted.

[2018-07-27 12:12] chmouel commented on #3989
Probably not! Jaime was the one who did the update of all OSIO to rhel
images maybe check with him and PO if it's okay for this one to leave it to
centos?

[2018-07-27 12:40] tinakurian commented on #4048
@Veethika I think it could be confusing to the user to change behaviours as they interact with the tool. Personally, if i did some action the first time, as a user, i would expect it to do the same thing the second and third time. I think changing the behaviour would cause some uses frustration as they wouldn't know what happened. Although logically, this makes sense, from a users perspective it m

[2018-07-27 12:40] andrewazores commented on #4003
Note to self - this looks like an issue in SpacesService, rather than the Recent Spaces widget

[2018-07-27 13:48] jiekang commented on #3784
Okay, thanks for the updates!

[2018-07-27 15:05] sdash-redhat commented on #4065
Thanks, @bartoszmajsak  for pointing this out. Keeping a note of it.

Can you also help in reviewing the scenarios and understanding mentioned in this link ?**https://redhat.invisionapp.com/share/DRN7CQASTJ7#/311139340_Deployments_Page-4065-Understanding-0-1_**

Please feel free to add your thoughts as a comment against any point mentioned there.

[2018-07-27 15:37] piyush1594 commented on #4077
This has been fixed using https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/183

Closing this.

[2018-07-27 15:37] #4077 closed

[2018-07-27 17:51] Veethika commented on #4048
@tinakurian I understand it feels like it. But the behavior I mentioned above is a standard one across the majority of the products(anything that uses input fields frequently, not necessarily only ALMs or version control tools, social media is a good example to explore). When we want the user to start adding content to a field, it shouldn't be as difficult as spotting the button first and then act

[2018-07-27 19:09] RickJWagner opened #4086 "Spring Boot quickstarts fail, "Non-resolvable import POM: Could not find artifact me.snowdrop:spring-boot-bom:pom""
Attempting a vanilla Spring Boot application (Health Check) gets this:

[rickjwagner_july27_master-NMD3WWQMIQSUK63AP7NZGLDTGROS56JMNKFRHDWGWSIBNORAECMQ] Running shell script
+ mvn org.codehaus.mojo:versions-maven-plugin:2.5:set -U -DnewVersion=1.0.1
Picked up _JAVA_OPTIONS: -Duser.home=/root/ -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -Dsun.zip.disableMemoryMapping=true -XX:

[2018-07-27 19:48] andrewazores commented on #3655
Here's another update. I need to do some refactoring and write tests, and I'd like someone else who's better at CSS help me clean that up as well.

Still no support for sorting or typeahead, still thinking those should be done as future followups.

![ezgif-5-563e258c3b](https://user-images.githubusercontent.com/3787464/43343519-836f4d9e-91b4-11e8-9822-7e18ea0acfba.gif)

[2018-07-28 03:05] tinakurian commented on #4048
@Veethika I (respectfully) disagree :-) This works for github because the design of the UI is quite different than what we have. The user expects this behaviour when interacting with the github UI. The UI we currently have created doesn't permit the user to understand how to navigate it easily with the flow you are mentioning. We are trying to combine two different experiences that don't seem to b

[2018-07-28 08:09] Veethika commented on #4048
@tinakurian I like how Jira is taking care of the info part. The message editing feature looks horrible(I think we do it better). Social media isn't something I wanted to draw inspiration from, but the point was that those ubiquitous interactions do inculcate a behavior pattern in the user. Let's settle on there not being any standard :)

A few suggestions that I think we look at here:
1) We could

[2018-07-28 08:42] muruGanesan commented on #3733
@Veethika,
I updated the document with interaction notes & I also proposed for the "process template" switching in (Slide-9).
It is a proposal, but feel free to modify/change anything based on 'planner' scope.

https://docs.google.com/presentation/d/1smpjYQJDmOXbJfEMZOP0-IQCuPj5SeeRWxfXBbMroLk/edit?usp=sharing

[2018-07-28 09:54] bartoszmajsak commented on #2152
@ibuziuk I provided PR for the `-f` issue. Not really sure which issues from this huge snowball it will fix, so can we sync on how to verify that in Che?

[2018-07-28 11:42] GeorgeActon commented on #4080
@samuzzal-choudhury please assign a severity to this issue

[2018-07-28 11:43] GeorgeActon commented on #4071
@tisnik please assign a severity to this bug

[2018-07-28 11:44] GeorgeActon commented on #4066
@tisnik please assign a severity to this bug

[2018-07-28 11:51] GeorgeActon commented on #3966
@rootAvish this asking for a change in feature functionality. Good idea but not a bug.

[2018-07-28 20:21] rupalibehera commented on #1593
Need to verify if this is still the case

[2018-07-28 20:22] rupalibehera commented on #1759
This is some exceptions thrown by Jenkins I am not sure how much control we have on this.

[2018-07-28 20:38] rupalibehera commented on #1902
Duplicate https://github.com/fabric8io/fabric8-build-team/issues/19 and it is moved to planner

[2018-07-28 20:39] #1902 closed

[2018-07-28 20:50] rupalibehera commented on #3174
related to this https://github.com/openshiftio/openshift.io/issues/2490 and as we voted to close this one, lets close this too.
This is not a bug it is some feature of autofavourite plugin, closing this issue.

[2018-07-28 20:50] #3174 closed

[2018-07-29 18:13] sbose78 commented on #4029
This is already documented here: https://fabric8-services.github.io/fabric8-auth/reference.html#_service_accounts

Every token has a "kid" claim. Validate the token with the public key having the similar "kid" https://auth.openshift.io/api/token/keys?format=pem .
Usually languages/frameworks have a JWT 'middleware' which takes care of validation if configured with a set of one of more public keys.

[2018-07-29 21:02] slemeur commented on #4079
@rhopp : https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2169

[2018-07-30 03:41] sthaha commented on #3789
closing this as we won't the working on it in the near future.

[2018-07-30 03:41] #3789 closed

[2018-07-30 04:14] sthaha commented on #1103
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/321

[2018-07-30 04:42] hrishin commented on #2601
Hi @RickJWagner
Thanks for reporting an issue. Could you provide more details to reproduce this behavior?

Otherwise, its good to close for current Jenkins.

[2018-07-30 04:49] hrishin commented on #2551
@joshuawilson @jiekang this issue still persist considering following sreenshot?

![image](https://user-images.githubusercontent.com/28615674/43378020-bc5e19c6-93e1-11e8-98f8-08db179c3fc4.png)

[2018-07-30 05:03] hrishin commented on #3425
@rgarg1 not able to reproduce it. Could you please give it a try otherwise its good to close it.

![image](https://user-images.githubusercontent.com/28615674/43378325-cd9ea1b8-93e3-11e8-80e4-ea23240de7d7.png)

[2018-07-30 05:06] rootAvish commented on #3966
@GeorgeActon This used to be default behavior in Jira and Trello, I assumed this was an overlook and so filed it as a bug, but if not then yes this is better marked as a feature request.

[2018-07-30 05:06] hrishin commented on #3444
@rupalibehera have you triaged this issue?

[2018-07-30 05:15] hrishin commented on #3802
Above discussion makes sense. On other hand do we ETA for event-based implementation?
If its gonna take long meanwhile it could be fixed in the platform. Shall we go for it?

[2018-07-30 05:38] sthaha commented on #3811
Closing this as this can be tracked in planner if need be

[2018-07-30 05:38] #3811 closed

[2018-07-30 05:38] sthaha commented on #3805
Closing this as this can be tracked in planner if need be

[2018-07-30 05:38] #3805 closed

[2018-07-30 05:48] sunilmalagi commented on #3996
https://redhat.invisionapp.com/share/27MZUP44AK5#/309101360_01_Existing_Change_Type_Operation

[2018-07-30 06:29] sthaha commented on #877
Closing this issue based on https://github.com/openshiftio/openshift.io/issues/877#issuecomment-401414194 please reopen if the issue isn't fixed.

[2018-07-30 06:29] #877 closed

[2018-07-30 06:33] sthaha commented on #643
removed the `team/build-cd` since it doesn't seem related to build

[2018-07-30 06:57] piyush1594 commented on #3969
This has been resolved in sync plugin, but not in prod.

[2018-07-30 07:02] piyush1594 commented on #3058
@ppitonak This needs to be reproduced to further resolve this.

[2018-07-30 07:07] piyush1594 commented on #2973
@sthaha @hrishin This needs to be resolved.

[2018-07-30 07:08] piyush1594 commented on #3758
@lordofthejars Can we close this as a duplicate of #2418 WDYT @jfchevrette

[2018-07-30 07:08] piyush1594 commented on #2418
This needs to be resolved @sthaha

[2018-07-30 07:11] piyush1594 commented on #2210
@jmelis This is not the case now. It is working fine now. Can we close this?

[2018-07-30 07:21] sunilmalagi commented on #3052
@nimishamukherjee @Veethika
Our recommendation is to go with current design that is, showing with caret (enable them when there is child WI and disable when there is no child WI).

[2018-07-30 07:21] piyush1594 commented on #1378
This is a rare intermittent issue. Never happened to me. Not sure where to fix this @sthaha

[2018-07-30 07:38] ibuziuk commented on #4086
@RickJWagner does it happen only when building project in Che or it is in general the quickstart issue and it is not possible to build it locally ?

[2018-07-30 07:42] sunilmalagi commented on #4074
@SMahil @nimishamukherjee Truncate the title to two lines.

[2018-07-30 07:47] hrishin commented on #2973
@piyush1594 Yes, I would say. It could affect OSIO on OSIO as well if an issue still persists.

[2018-07-30 07:59] Raunak1203 commented on #4085
fixed in PR https://github.com/fabric8-ui/fabric8-planner/pull/2729

[2018-07-30 07:59] #4085 closed

[2018-07-30 08:03] ibuziuk commented on #4079
@rhopp could you please test how it works on prod-preview where deployments are used instead of bare pods - https://github.com/eclipse/che/pull/10021#issuecomment-401833342  ?

[2018-07-30 08:39] piyush1594 commented on #1593
@rupalibehera @aditya-konarde I tried to reproduce. This is still happening. We need to fix this.

[2018-07-30 08:40] piyush1594 commented on #1126
@sthaha I tried to reproduce this and it is working fine. Not able to reproduce this.

[2018-07-30 08:41] piyush1594 commented on #763
@sthaha This is an issue which is reproducible in the current state also.

[2018-07-30 08:43] piyush1594 commented on #555
Clicking on the GitHub repo link on pipeline page should also open in new tab. Right now it opens in tab and is a bad experience at least for me.

[2018-07-30 08:46] msrb opened #4087 "[analytics/golang] IndexError: string index out of range"
[code]

[2018-07-30 08:48] Raunak1203 commented on #4027
https://github.com/fabric8-ui/fabric8-planner/pull/2729/commits/f1dce40ee2c93b88ad349b7d965d89ae76524f69 removes meta state field from the detail page

[2018-07-30 08:54] piyush1594 commented on #4086
@ibuziuk AFAIK, this is a booster issue which happens in Jenkins build or locally also. Have seen this in past.

[2018-07-30 09:02] sunilmalagi commented on #3706
@maxandersen @nimishamukherjee Here is the visuals flow for the Linking section with required changes made, also got it reviewed with UX and Dev teams: https://redhat.invisionapp.com/share/BAN4UOBQHSN#/310977348_AddLink_01

[2018-07-30 09:15] ibuziuk commented on #3884
@rhopp che has been updated on prod / prod-preview and usage of che SA token should technically work. Could we start with testing the lockdown again on prod & prod-preview in order to finish with - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/844
That's a pity though that it is not clear why it stopped working on prod out of the blue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issu

[2018-07-30 09:19] rhopp commented on #4079
@ibuziuk On prod-preview, when the failure happens, it happens with weird message (timeout 0 miliseconds, even though it fails after few minutes):
[code]

[2018-07-30 09:22] slemeur commented on #4079
That's the one I hit last week indeed.

![screen shot 2018-07-23 at 13 28 09](https://user-images.githubusercontent.com/1636769/43388986-df9784fa-93ea-11e8-8a99-bdf1ecae12ce.png)

[2018-07-30 10:21] sthaha commented on #1259
Filed in Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/312

[2018-07-30 11:03] sthaha commented on #1049
Removing `team/build-cd` since it doesn't seem like an issue related to build. Additionally this feature request must be tracked in Planner

[2018-07-30 11:17] sdash-redhat commented on #4065
Added a slide with the 4 basic questions to know the common understanding https://docs.google.com/presentation/d/1bRn63ZVxb24unGGOTscs72UGtUQocgb3Hxhx9w7XCNQ/edit?usp=sharing

[2018-07-30 12:00] rupalibehera commented on #4022
Yes moved to CICO

[2018-07-30 12:20] jiekang commented on #2551
This was fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2970

Thanks for the notification, closing!

[2018-07-30 12:20] #2551 closed

[2018-07-30 12:34] hrishin commented on #3425
It good to close now. If persists feel free to reopen or file a new one.

[2018-07-30 12:34] #3425 closed

[2018-07-30 13:35] catrobson commented on #3940
Added edit icons into the design here:  https://redhat.invisionapp.com/share/SVHP0ZMU7QD

I think we should add these as a interim solution that allows editing of these cards, and the complete and close this story in favor of the design thinking sessions as a way to extend design options around this effort.

[2018-07-30 13:41] Veethika commented on #4082
Progress: https://redhat.invisionapp.com/share/D7N6MW8YBPW#/310944369_List_View

[2018-07-30 13:45] sthaha commented on #1126
Closing the issue based on https://github.com/openshiftio/openshift.io/issues/1126#issuecomment-408790258

[2018-07-30 13:45] #1126 closed

[2018-07-30 13:49] slemeur commented on #3940
+1 I don't think we should be spending more time on a new "Hub & Spoke" wizard at this moment. We have broader problems to solve which a new wizard is not going to help on yet.

[2018-07-30 13:50] sthaha commented on #2973
I am bumping up the priority of this bug since this can stop all builds to break for a user.

[2018-07-30 14:00] rupalibehera commented on #2760
@sthaha , closing this as we are not sure CICD.next in coming sprints

[2018-07-30 14:01] #2760 closed

[2018-07-30 14:04] #4055 closed

[2018-07-30 14:22] muruGanesan commented on #4070
UXD team with PM and Eng will be doing a design thinking workshop (30 Jul - 2 Aug 18) to find the specific UX improvement area of 'OSIO Launcher'. This story will be updated after the workshop.

[2018-07-30 14:31] parvathyvr commented on #3791
Keeping this story on hold since the design for 'deployments page' will be affected by the new design efforts in the following stories:
https://github.com/openshiftio/openshift.io/issues/4064
https://github.com/openshiftio/openshift.io/issues/4065

[2018-07-30 14:54] rupalibehera commented on #3286
closing this in Github as this story is already moved to Planner.

[2018-07-30 14:55] #3286 closed

[2018-07-30 15:12] ibuziuk commented on #4086
@cmoulliard could you please take a look ? This problem is also results in redhat  che-dockerfiles build failures where up-to-date versions of the quickstarts are pre-build - https://github.com/redhat-developer/rh-che/issues/780

[2018-07-30 15:22] ldimaggi commented on #4086
I'm seeing this problem too.

[2018-07-30 15:46] miteshvp commented on #3681
@sara-02 - any updates here? Can this be closed or comments edited to point to correct planner items?

[2018-07-30 16:04] ldimaggi commented on #4086
Seeing the same issue for the SpringBoot/REST quickstart.

[2018-07-30 16:41] piyush1594 commented on #3969
This is in prod if you are using tenant Jenkins version 4.0.95 Closing this.

[2018-07-30 16:41] #3969 closed

[2018-07-30 16:43] piyush1594 commented on #3969
@ldimaggi @ljelinkova @ppitonak  It will be good if you can cover this scenario in your tests. Basically, this is an issue from 2-3 months and no one reported so assuming our tests are not covering this scenario.

[2018-07-30 16:43] piyush1594 commented on #3784
@jiekang @hrishin This has been promoted to prod in tenant Jenkins version 4.0.95. Thanks,  closing this.

[2018-07-30 16:43] #3784 closed

[2018-07-30 16:55] #3995 closed

[2018-07-30 17:11] #3681 closed

[2018-07-30 20:09] #2890 closed

[2018-07-30 20:50] msrb commented on #4087
https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/705

[2018-07-30 20:50] #4087 closed

[2018-07-31 04:53] kishansagathiya commented on #2332
I am facing this issue on prod. Blocked on this.

[2018-07-31 05:48] #3820 closed

[2018-07-31 05:50] Raunak1203 opened #4088 "Update success comment for planner PR builds"
Success comment in the PR is wrong:
https://github.com/fabric8-ui/fabric8-planner/pull/2729#issuecomment-408833888

[2018-07-31 06:33] sunilmalagi commented on #4075
Here is the recommendations after discussing with Nimisha, Veethika and Sukhvir,

1. Optimising the indentation will help accommodating more level of WI's.
2. Increase the title column width after 6 levels
3. As the column width increases, auto-scroll the title column so that it focuses on the new work item being linked. (Such level of depth can be achieved only through the work item linking and n

[2018-07-31 06:43] kishansagathiya opened #4089 "Too many errors and they are also not placed correctly"
![screenshot from 2018-07-31 12-06-00](https://user-images.githubusercontent.com/10185999/43442187-e5311b3a-94ba-11e8-987b-6e6dad10a421.png)
Seems like a bug to me

[2018-07-31 06:47] jyasveer commented on #4039
UI code of chat.openshift.io is in React. As fabric8-ui is in Angular framework, ui components of chat.openshift.io cannot be reused

[2018-07-31 06:55] surajssd commented on #1990
- Now WIT sends `revisionID` along with the `workitemId` to notification service. https://github.com/fabric8-services/fabric8-wit/pull/2176

- What notification service can now do is parse this `revisionID` from the custom attributes and in order to generate *workitem update template* it should query the WIT endpoint `GET /workitems/{wiID}/events`. And in the output you will get all the events and

[2018-07-31 07:01] jyasveer commented on #4062
I went through various chat bot implementations which is listed below :-

1. https://github.com/llSourcell/tensorflow_chatbot
2. https://github.com/mrfishie/js-chatbot
3. https://github.com/ovh-ux/ovh-angular-chatbot
4. https://github.com/AngularFirebase/angular-chatbot
5. https://github.com/mlabouardy/dialogflow-angular5
6. https://github.com/mariohmol/ng-ai-chatbot
7. https://github.com/PKief/an

[2018-07-31 07:03] AshishDurgude commented on #4069
Hi @serenamarie125 and @catrobson
I will start working on it today (31 July).

[2018-07-31 07:13] rohitkrai03 commented on #4037
@sbose78 This one has been idle for a week now. Maybe you can point it to someone who can work on notification-service to refactor the URL formation.

[2018-07-31 07:45] divyanshiGupta commented on #3666
@rgarg1 this issue is not reproducible, probably the issue is fixed.

[2018-07-31 09:08] invincibleJai opened #4090 "Exploring integration of chat bot with Fabric8-UI"
### Planner Link :- https://openshift.io/openshiftio/Openshift_io/plan/detail/336

### Tasks

- [x] Understand the areas in OSIO where this chatbot can be integrated
- [x] Integrate the chatbot UI into fabric8-ui (Dev Mode)
- [x] Chatbot ui should popup if the user clicks on "chat with us"
- [x] Chatbot ui should be shown on the bottom right corner of the screen
- [x] Chatbot ui should be closed i

[2018-07-31 09:31] invincibleJai opened #4091 "Validate the extension for last two releases of VSCode"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/287

### Tasks :

- [x] Test Component analysis (LSP)  and stack analysis feature in VSCode 1.25.*
- [x] Test Component analysis (LSP)  and stack analysis feature in VSCode 1.24.*
- [x] Test Component analysis (LSP)  and stack analysis feature in VSCode 1.23.*
- [x] Perform above validation for Mac
- [x] Perform above val

[2018-07-31 09:33] nimishamukherjee commented on #4019
@ljelinkova can you confirm if this only happens during E2E tests. Have you encountered this when using the UI?

[2018-07-31 09:40] piyush1594 commented on #3969
@ppitonak Thanks for the information, I think we are good if it is covered and I already added the test for this functionality in sync plugin.

[2018-07-31 09:40] nimishamukherjee commented on #3959
@vikram-raj please disable the button after it has been clicked once.

[2018-07-31 09:47] nimishamukherjee commented on #3927
Making it Sev3 - as there is a work around

[2018-07-31 09:58] invincibleJai opened #4092 "Support analysis of semantically versioned node stacks"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/285

### Tasks :
- [x] For node ecosystem in case of stack analysis, identify exact dependencies of packages mentioned in package.json
- [x] Resolve dependencies in package.json with `npm list`
- [x] Implement the logic to have semantically versioned direct dependencies resolved on VSCode with `npm list/package-lock.json`

[2018-07-31 09:58] #4039 closed

[2018-07-31 10:07] #3976 closed

[2018-07-31 10:08] nimishamukherjee commented on #3224
Closing this as  there is a single experience now.

[2018-07-31 10:08] #3224 closed

[2018-07-31 10:11] nimishamukherjee commented on #3124
Closing this as Wildfly has been removed from the UI.
Work in progress for Wildfly - https://github.com/openshiftio/openshift.io/issues/3977

[2018-07-31 10:11] #3124 closed

[2018-07-31 10:17] sunilk747 commented on #4038
Here is the HLD for chat.openshift.io :- https://docs.google.com/document/d/1wo0K4VVrIWt5bqtnDubB6NeJ_CBsq6yC37ocVdjVVg4/edit?usp=sharing

[2018-07-31 10:32] lordofthejars commented on #4006
I have tried this set of plugins in a Jenkins 2.93 locally and I get the same problem, now I am trying to figure out if the problem is in Blue Ocean plugin or in another transitive dependency. What I see is that a possible solution to this problem would be to update our base Jenkins image to jenkins-2.108-1.1 WDYT?

[2018-07-31 10:37] rupalibehera commented on #4006
Jenkins 2.93 did you use the upstream image from the update center ?
If we have only choice of upgrading the image then we should try moving to the latest image.

[2018-07-31 10:38] lordofthejars commented on #4006
I have downloaded the Jenkins from Jenkins site. Then I have taken our plugins.txt file and applied to that installation.

[2018-07-31 10:41] rupalibehera commented on #4006
could you try this same thing with jenkins-2.108-1.1  and does it make difference ?

[2018-07-31 11:02] #2894 closed

[2018-07-31 11:15] lordofthejars commented on #4006
As I am investigating more I see that the requirement for Blue Ocean 1.6.2 comes from another plugin which requires transitively this version, because exploring Blue Ocean 1.5.0 pom (https://github.com/jenkinsci/blueocean-plugin/blob/blueocean-parent-1.5.0/pom.xml#L29) you can see that the minimum version is 2.73.3

[2018-07-31 11:28] invincibleJai opened #4093 "Creation of new template for newer versions notification"
### Planner Link : Creation of new template for newer versions notification

### Tasks :

- [x]  Finalizing on template for versions notification
- [x]  Development of versions notification template

[2018-07-31 11:46] sunilk747 commented on #4031
Hey @tisnik If you are clear on this can you close this one.

[2018-07-31 11:59] ldimaggi commented on #2332
Just to confirm - you are seeing this issue TODAY? on https://openshift.io?

Was this working for you recently?

[2018-07-31 12:09] tisnik opened #4094 "Build failure for the fabric8-analytics-tagger"
The fabric8-analytics-tagger can not be build on CI due to following error:

[code]

reason:

[code]

[2018-07-31 12:11] sbose78 commented on #2332
Nope, this has been happening for a long long time ( since the RHD keycloak upgrade in March ). Fix was to:
- change the password
- login user the username

[2018-07-31 12:13] tisnik commented on #4094
Fixed by: https://github.com/fabric8-analytics/fabric8-analytics-tagger/pull/90

[2018-07-31 12:16] sbose78 opened #4095 "Add telemetry to the registration flow"
Find out how the user reached the RHD login/reg page

"we are interested in all accounts created from the page here: openshiftio/openshift.io#3814 and should be using the referrer to know if the user was coming from a factory or not"

( Update this space based on discussion in https://github.com/redhat-developer/rh-che/issues/749 )

[2018-07-31 12:17] piyush1594 commented on #3862
So, right now if push a commit to PR is a build is going on then if we commit to PR then build is not getting triggered. Ideally it should trigger a build for every update.

Tasks
- [ ] PR build should be triggered for every PR commit push or webhook event. Need to be resolved on sync plugin https://github.com/fabric8io/jenkins-sync-plugin/issues/38

- [ ] Enable Cancel Build on Update to cancel t

[2018-07-31 12:20] kishansagathiya opened #4096 "Jenkins pod doesn't come up"
Jenkins pod continuously fails the readiness check and doesn't come up(unidle).
Adding deployment logs here
[jenkins-2.log](https://github.com/openshiftio/openshift.io/files/2245194/jenkins-2.log)

[2018-07-31 12:33] abs51295 commented on #3961
The remaining tasks were re-prioritized and will be taken as a part of Sprint 153. Follow up issue: https://github.com/openshiftio/openshift.io/issues/3982. /cc: @yzainee @sivaavkd @miteshvp @samuzzal-choudhury

[2018-07-31 12:36] yzainee commented on #3982
Follow up issue: #3982.

[2018-07-31 12:37] abs51295 commented on #3961
Closing the issue since it's completed ;)

[2018-07-31 12:45] sthaha commented on #4096
Closing this as duplicate of #3956

[2018-07-31 12:45] #4096 closed

[2018-07-31 12:46] piyush1594 commented on #3956
![jenkins](https://user-images.githubusercontent.com/19270240/43460272-caeb66c6-94ed-11e8-8a6d-a5871a69aeae.png)

[2018-07-31 13:06] GeorgeActon commented on #3961
@samuzzal-choudhury where is the corresponding link to planner story?
and where is the estimate
incomplete stories do not get closed
they move to next sprint

[2018-07-31 13:12] sthaha commented on #3299
Removed `team/build-cd` since it seems like an upstream openshift issue and nothing related to pipeline.

[2018-07-31 13:15] sthaha commented on #2057
Closing this. Please open an EPIC in Planner instead

[2018-07-31 13:15] #2057 closed

[2018-07-31 13:18] sthaha commented on #2243
Closing this as this EPIC would be covered by the work on https://github.com/fabric8io/osio-pipeline

[2018-07-31 13:18] #2243 closed

[2018-07-31 13:27] #3606 closed

[2018-07-31 13:36] sthaha commented on #2763
Closing this as the story has been moved to planner see: https://openshift.io/openshiftio/Openshift_io/plan/detail/342

[2018-07-31 13:36] #2763 closed

[2018-07-31 13:39] aptmac commented on #4089
Neat, how'd you get that to happen?

[2018-07-31 13:40] #3950 closed

[2018-07-31 13:48] samuzzal-choudhury opened #4097 "Load test the analytics backend services with Maven and Node traffic"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/284

### Tasks :
- [x] Identification mixed traffic sample
- [x] Carry out load testing on stack analysis
- [x] Publish the result
- [x] Explain the process for
       - Requesting production resources to scale the analytics system.
       - Calculating KPI for concurrent users

[2018-07-31 13:48] sthaha commented on #3941
Closing this as the story is added to planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/343

[2018-07-31 13:48] #3941 closed

[2018-07-31 13:51] sthaha commented on #2967
Closing this for now. lets open a new epic in planner if there is a need.

[2018-07-31 13:51] #2967 closed

[2018-07-31 13:52] kishansagathiya commented on #4089
I think, this is what I did

1. By default, `Create a new codebase` is selected. Typed the project name.
2. I remember that I have the project already and I want to import it. I select `Import and existing codebase` and that's when I saw it.

That's all the information I have.

[2018-07-31 13:53] kishansagathiya commented on #4083
Blocked on https://github.com/openshiftio/openshift.io/issues/3956

[2018-07-31 13:54] apupier opened #4098 "Provide usage tracking of activated "installers""
i'm particularly interested to have figures for the Camel Language Server but having it for all installers can provide good insight to all "installers" maintainers

[2018-07-31 13:56] sthaha commented on #2486
Closing this as the story has been moved to planner

[2018-07-31 13:57] kishansagathiya commented on #3956
The issue happened to us even though I was not a first time user. Plus in my case it's not just slow, It doesn't start at all.

[2018-07-31 14:02] ibuziuk commented on #4095
IMO the woopra registration event should not be limited to Che factory usecase but rather track in general, from which page the user was redirected to the registration page (I believe it would be quite easy to do via `document.referrer`[1] on the registration side and super useful from the marketing perspective)

[1] https://developer.mozilla.org/en-US/docs/Web/API/Document/referrer

[2018-07-31 14:04] ibuziuk commented on #4086
@ldimaggi do you happen to know who is the key contact for spring boot runtime on osio ?

[2018-07-31 14:07] piyush1594 commented on #4086
@geoand can help us here.

[2018-07-31 14:15] geoand commented on #4086
@RickJWagner is this error still occurring? We fixed a similar issue this morning, but I'm not certain that it's related

[2018-07-31 14:16] tisnik opened #4099 "Build failure for the fabric8-analytics-comparator"
The fabric8-analytics-comparator can not be build on CI due to following error:

[code]

reason:

[code]

[2018-07-31 14:17] #3965 closed

[2018-07-31 14:25] samuzzal-choudhury opened #4100 "Validate configured rate limits"
### Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/282

### Tasks:
- [x] Validate 3scale rate limits for `component-analyses`
- [x] Validate 3scale rate limits for `stack-analyses`

[2018-07-31 14:37] kishansagathiya opened #4101 "Shouldn't the placeholder be light?"
Looking into this page, I don't see any difference between a real value and placeholder value.
I get the part where first is not italicized and second is, but then why is `scenario driven development` in italicized.
I think to make placeholders look like placeholders they should be light and not italicized
![screenshot from 2018-07-31 19-58-05](https://user-images.githubusercontent.com/10185999/43

[2018-07-31 14:39] ibuziuk commented on #3124
@nimishamukherjee am I correct that health-check  has been removed only today from osio ?
our build seems to start failing because of it and we probably need to also remove it on che-dockerfiles side [2] ?

[1] https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/335/consoleFull
[2] https://github.com/redhat-developer/che-dockerfiles/blob/master/recipes/dockerfiles/wildfly-swarm/Docker

[2018-07-31 15:09] tisnik commented on #4099
Fixed by https://github.com/fabric8-analytics/fabric8-analytics-version-comparator/pull/26

[2018-07-31 15:10] #4099 closed

[2018-07-31 15:20] rohitkrai03 opened #4102 "Refactor email-verification page into a generic landing page for various other redirects"
Related UX issue - https://github.com/openshiftio/openshift.io/issues/3929

Currently we have status pages for redirects coming from verification of emails.
- Success - https://prod-preview.openshift.io/_verifyEmail?verified=true
- Error - https://prod-preview.openshift.io/_verifyEmail?verified=false&error=some_error

Now we need a similar landing page for invitations API. Based on the comments by

[2018-07-31 15:28] msrb opened #4103 "Support mercurial in Golang ingestion pipeline"
**Planner:** https://openshift.io/openshiftio/Openshift_io/plan/detail/346

[2018-07-31 15:37] ibuziuk commented on #3124
ok, failures seem to be coupled with the runtime renaming to the `thorntail`

[2018-07-31 15:50] bartoszmajsak commented on #3124
@ibuziuk does it mean we don't support Wildfly Swarm anymore as a name? I think there is no productized Thorntail yet. - Can we have both?

[2018-07-31 15:58] RickJWagner commented on #4086
Hi @geoand
The problem is still there, I just replicated it.
Thanks,
Rick

[2018-07-31 16:03] bartoszmajsak commented on #4086
@geoand how did you fixed that? I believe we are on older version here https://github.com/fabric8-launcher/launcher-booster-catalog/blob/master/spring-boot/current-redhat/health-check/booster.yaml#L11

[2018-07-31 16:07] geoand commented on #4086
@bartoszmajsak I fixed it by deleting the tag and recreating it with the correct release. I did that because that course of action didn't require a PR to the launcher so I thought it would be faster.

Does the launcher "cache" the repos? If so, is there any way to un-"cache" them or do I have to do a new release of the boosters?

[2018-07-31 16:13] bartoszmajsak commented on #4086
Yes, it caches it. I don't have enough karma to trigger `reindex`. Summon @gastaldi

[2018-07-31 16:14] geoand commented on #4086
@bartoszmajsak Thanks!

[2018-07-31 16:18] gastaldi commented on #4086
@geoand Yes Launcher caches the repositories (that's why it's not a good idea to force push a tag) :)

I triggered a reindex in production, let me know if that works

[2018-07-31 16:19] geoand commented on #4086
@gastaldi Understood, thanks! I did it thinking that it would speed up the resolution of the issue, obviously it had the opposite effect:(

[2018-07-31 16:37] geoand commented on #4086
@RickJWagner @ldimaggi @piyush1594 the error should be gone, can you verify please?

[2018-07-31 16:54] ibuziuk commented on #4086
FYI, redhat-che-dockerfiles build is back to normal [1] whicildableh means all quickstarts used on osio are buildable

[1] https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/

[2018-07-31 17:15] geoand commented on #4086
Thanks for the update @ibuziuk

[2018-07-31 17:53] ldimaggi commented on #4086
Looks good to me - Rick can you verify and close?

[2018-07-31 18:25] RickJWagner commented on #4086
I've just made a new workspace, the problem is gone.  Thanks!

[2018-07-31 18:25] #4086 closed

[2018-07-31 19:25] geoand commented on #4086
Awesome!

[2018-07-31 19:51] ibuziuk commented on #3124
@bartoszmajsak I belive @nimishamukherjee @gastaldi or @kenfinnigan would be able to provide better input to this question. But as I can see on osio `thorntail` is already used in the app wizard:

![image](https://user-images.githubusercontent.com/1461122/43483285-7e451cb8-950b-11e8-8294-c83f4e132bac.png)

[2018-07-31 19:53] kenfinnigan commented on #3032
They already are:
https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-health-check-redhat/tree/7.1.0-redhat-1
https://github.com/fabric8-launcher/launcher-booster-catalog/blob/master/wildfly-swarm/redhat/health-check/booster.yaml

[2018-07-31 19:54] kenfinnigan commented on #3124
There is currently no product for Thorntail.

There won't be one until later this year. In the interim there will be WF Swarm for product and Thorntail for community

[2018-07-31 20:08] aptmac commented on #2430
This sounds pretty interesting, so I ran a couple of experiments here for fun. I found a blog post [[0]](https://medium.com/@metalex9/replace-phantomjs-with-headless-chromium-for-javascript-unit-testing-in-karma-59812e6f8ce4) outlining a way to migrate to using headless chrome for testing, and gave it a quick test. I have a branch for with the corresponding commit here [[1]]( https://github.com/ap

[2018-07-31 21:42] slemeur commented on #3124
Until now we were targeting only the productized versions of the runtimes. In this case, for now, we should keep WF Swarm versions into IO.

I'll start a conversation about enabling the community versions in OSIO separately.

Thanks.

[2018-08-01 05:42] animuk commented on #3256
closing this as this was for old wizard.

[2018-08-01 05:42] #3256 closed

[2018-08-01 05:53] rhopp commented on #3337
@sthaha What's the reason for closing this one? I agree this is not very important one, but it would be nice to have...

[2018-08-01 06:13] sdash-redhat commented on #3902
The wiki has been updated with the design
refer to the link to the Wiki page here: https://uxd.fabric8.io/layout/empty-state/
Marking as complete.

[2018-08-01 06:13] #3902 closed

[2018-08-01 06:17] rootAvish commented on #3981
Link to document containing initial research: https://docs.google.com/document/d/1ZpQ1TY75lZiqL_PTUal7qraExWja16w-bnvNLFmCT7A/edit# Owing to factors listed in the document, would only work on Golang support for the Kubernetes ecosystem.

[2018-08-01 06:40] bartoszmajsak commented on #3124
@slemeur Not sure if that is the case for WF Swarm. We switched to the community, b/c productized versions were behind and were not working in our environment. And this is what we serve right now.

To give more context: this issue comes from the update of runtime name in global `metadata.yml`, where the catalog itself still has the product versions (Widlfly Swarm references) which we can use, but

[2018-08-01 06:56] mvulavak commented on #2856
@ldimaggi Can this issue be closed?

[2018-08-01 06:57] bartoszmajsak commented on #3032
Thanks @kenfinnigan, the reason I asked is that the issue was closed on 31st of May whereas those updates happened 2 weeks earlier. I also recall 31st being mentioned on several issues - hence the ask.

Moreover with the `7.1.0-redhat-1` we are still facing hanging tests on OSIO which work perfectly fine with the community version so I wonder if there is another issue.

[2018-08-01 07:06] #4043 closed

[2018-08-01 07:15] bartoszmajsak commented on #3349
Just was hit by the same issue. So maybe it is not P4 @GeorgeActon

[2018-08-01 07:26] #3982 closed

[2018-08-01 07:27] sthaha commented on #3337
@rhopp I closed it since we are going to track feature requests in Planner and hoping an Epic for this would be filed if there is a real need for it.

[2018-08-01 07:32] ljelinkova commented on #3744
This has started to happen 100% times on prod-preview. Could you have a look?

@jyasveer

[2018-08-01 07:57] rhopp commented on #3337
@sthaha If that's the reason, link to issue in planner would be nice, when closing issues in github.

[2018-08-01 07:59] rhopp commented on #2856
@mvulavak I think not. I reserved some time today to look at this issue and I think I found a reliable way how to reproduce this issue. I'll reopen the upstream one and comment the steps there.

[2018-08-01 09:43] sunilk747 opened #4104 "Create a ML model for chatbot"
### Planner Link : - https://openshift.io/openshiftio/Openshift_io/plan/detail/353

### Tasks
TBD

[2018-08-01 09:45] sunilk747 opened #4105 "Design and implement backend for chatbot"
### Planner Link :- https://openshift.io/openshiftio/Openshift_io/plan/detail/352

### Tasks
TBD

[2018-08-01 09:49] invincibleJai opened #4106 "Generating the Structured data for the AI model training"
### Planner link : https://openshift.io/openshiftio/Openshift_io/plan/detail/337

### Tasks :

- [x] Generating structured data for getting started story, classify intent, entity and intent type.
- [x] Generating structured data for analytics story, classify intent, entity and intent type.
- [x] Data should be in the proper format that can be consumable by the AI model

[2018-08-01 09:50] sunilk747 opened #4107 "Generating the Structured data for the AI model training"
### PlannerLnk :- https://openshift.io/openshiftio/Openshift_io/plan/detail/337

### Tasks
TBD

[2018-08-01 09:50] #4107 closed

[2018-08-01 10:00] abs51295 opened #4108 "Productionize analytics notification service"
## Planner Issue

https://openshift.io/openshiftio/Openshift_io/plan/detail/354

## Task List

- [x] Productize the CVE ingestion flow to call analytics notification.
- [x] Productize the Build pipeline flow to call analytics notification.
- [x] Complete the development of integration tests for the `/user-repo/*` service workflows.
- [x] Add functionality to `user-repo/drop` endpoint.
- [x] Pass t

[2018-08-01 10:01] abs51295 commented on #4108
@yzainee please update the planner issue number once it's there.

[2018-08-01 10:05] rootAvish opened #4109 "Setup Maven model training on EMR"
#### Planner Link

https://openshift.io/openshiftio/Openshift_io/plan/detail/327

#### Task List

- [x] Write the job to zip the code and upload to S3
- [x] Write the EMR cluster configuration
- [x] Write the code for write back to S3 from EMR
- [x] Ensure training happens

[2018-08-01 10:07] bartoszmajsak opened #4110 ""Community warnings" adding up when switching between runtimes"
Start switching back and forth between the runtimes (Thorntail - Vertx) to see that community warnings are getting stacked up.

![image](https://user-images.githubusercontent.com/719616/43515632-4639136a-9583-11e8-96f1-b1f5e8775482.png)

Side note: warning from using community versions contradicts with "open source way".

[2018-08-01 10:08] rootAvish opened #4111 "Retrain Maven model with all the ingested data to increase coverage"
#### Planner Link
https://openshift.io/openshiftio/Openshift_io/plan/detail/328

#### Task list

- [x] The maven model should be retrained with all the data available for the ecosystem, to the extent possible
- [x] Need to perform load testing of the model in isolation again
- [x] The new model needs to be available in production

[2018-08-01 10:13] yzainee opened #4112 "Platform support for new template for newer version"
**Planner Link:**  https://openshift.io/openshiftio/Openshift_io/plan/detail/325

- [x] Add the logic to supprt a new template "analytics.notify.version"

- [x] Add logic to populate the html template with the json information for the email

- [x] Test cases

[2018-08-01 10:13] rootAvish opened #4113 "Validate recommendations using real world Maven stacks, automated accuracy evaluation"
#### Planner Link

https://openshift.io/openshiftio/Openshift_io/plan/detail/329

#### Task list

- [x] Document results from the automated evaluation of the complete maven model
- [x] Sync the metrics report with that of NPM (calculate recall@300, recall@50)
- [x] Conduct UAT meetings every week where the team tests the quality of the recommendations on real world stacks

[2018-08-01 10:25] yzainee opened #4114 "Create a cron job for notification trigger"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/326

- [x] Create an OSIO cron job

- [x] Write a python file to be called from the cron job

- [x] Using gremlin query, fetch the repos with current version, latest version and license

- [x] Perform the version comparison

- [x] Perform license compatibility

- [x] Create json structure for notification

- [x] Modify the

[2018-08-01 10:33] stevengutz commented on #4089
Any idea what team/area this belongs to?

[2018-08-01 11:09] tisnik commented on #4031
@sunilk747 is it possible pls to update the documentation so it will be usable on prod-preview as well?

[2018-08-01 11:25] nimishamukherjee commented on #1468
Audit history available on Prod.

[2018-08-01 11:25] #1468 closed

[2018-08-01 11:56] sunilk747 commented on #4031
Actually it's possible for same stack you may or may not get result on prod-preview but you will get a result on prod. So should I change my documentation as per prod-preview results. WDYT?

[2018-08-01 12:14] jyasveer commented on #3744
@ljelinkova let me try it out and see if i can reproduce the issue.

[2018-08-01 13:07] hrishin commented on #3931
@jarifibrahim thanks!

[2018-08-01 14:48] ia3andy commented on #4110
Would you mind adding a copy of the dom?

In the dev console, you should see something like this:
[code]
Could you add this as well.

Cheers,

[2018-08-01 14:53] ia3andy commented on #4110
@bartoszmajsak about the LaunchConfig, my bad, it's only present in the standalone Launcher.

Do you know if there is a way to find which osio ui version you are using so we can deduce the ngx-launcher version?

[2018-08-01 15:18] bartoszmajsak commented on #4110
Coming from this :

https://github.com/openshiftio/saas-openshiftio/blob/fe2f5b3b9b9da37a42b6043c80b9fd74c37d1464/dsaas-services/fabric8-ui.yaml#L2

Getting this answer:

https://github.com/fabric8-ui/fabric8-ui/blob/656d47a544a7ec56dbaa34ea769cb0f44c7f7021/package.json#L145

=> `1.0.3`

[2018-08-01 15:42] ldimaggi opened #4115 "New intermittent issue seen - promote to run dialog not displayed for user - no other error apparent"
Steps to recreate:
* Login to https://openshift.io (production)
* Reset user env, verify that Jenkins and Content Repo start successfully
* Create new OSIO space
* Create new OSIO quickstart (REST/Vert.X), select run/promote release strategy
* Observe build pipeline starts ans deploys successfully to stage
* Observe in Jenkins build log that promote to run is prompted:
![screenshot from 2018-08-01

[2018-08-01 15:51] aslakknutsen commented on #2928
Similar redhat-developer/che-starter#310

[2018-08-01 15:54] jyasveer commented on #3744
@ljelinkova i tried to create a space and a app with Rest and Vertx and it worked totally fine for me in the prod preview.

[2018-08-01 16:00] bartoszmajsak commented on #3744
What about Throntail + any existing mission?

[2018-08-01 16:08] GeorgeActon commented on #4010
@joshuawilson @nimishamukherjee why is this closed? I am in prod and I still can only see 20 random collaborators?

[2018-08-01 16:10] ia3andy commented on #4110
@bartoszmajsak there are some errors (linked to the dependency editor) in the log when I am switching missions/runtimes in the osio flow which I don't have in the launcher flow.

[code]
I suspect it to be messing with angular rendering...

I am going to investigate it further tomorrow.

[2018-08-01 16:32] ldimaggi commented on #3744
@bartoszmajsak
Two separate issues - If there are problems related to Thorntail and builds, analytic reports, etc., we should log those problems in separate github issues.

The problem described in #3744 is that historically we have seen random/intermittent instances of analytics reports not being generated. What changed on August 1 is that for several hours no analytics reports were generated on

[2018-08-01 16:45] ldimaggi commented on #4042
Seeing this again today - August 1.

It looks like the promote/abort endpoints/links displayed in the Jenkins build log are incorrect. Both links simply point back to the console:

https://jenkins.openshift.io/job/ldimaggi/job/ldimaggi-redhat-com-BDD-2018-08-01T12-21-43-test123/job/master/1/console#

[2018-08-01 17:05] GeorgeActon commented on #4010
@rohitkrai03 Thanks.

[2018-08-01 17:07] bartoszmajsak commented on #3744
But those reports are generated for given stacks. Having a rename in mind I was wondering if that could be the problem of that re-occurring right now.

[2018-08-01 17:09] ldimaggi commented on #3744
@bartoszmajsak
Ah - now I see your point - unfortunately, that bug is back into hiding - I was just able to create an analytcis report (REST/Thorntail) on prod-preview.

[2018-08-01 17:31] bartoszmajsak commented on #4110
Thanks a lot @ia3andy. I think it might have something to do with backend not handling properly rename of WildFly to Thorntail. But I guess in order to reproduce you can just stub that service with `500` :) Let me know if you need any help.

[2018-08-01 17:31] alexeykazakov commented on #2867
We don't use Keycloak for space AuthZ anymore. Closing as resolved.

[2018-08-01 17:31] #2867 closed

[2018-08-01 18:33] bartoszmajsak commented on #4110
It seems to be fine in prod so I guess the analytics backend has been fixed. @miteshvp can you confirm that?

[2018-08-01 19:07] ldimaggi commented on #4042
The issue seems to be that when the promotion fails, the 'promote' link has been assigned a URL of:

https://jenkins.openshift.io/job/userName/job/spaceName/job/master/1/console#

When the correct pattern is:

https://jenkins-username-jenkins.8a09.clusterName.openshiftapps.com/job/username/job/spaceName/job/master/1/console#

[2018-08-01 19:30] bartoszmajsak commented on #3134
FWIW latest community edition works on prod (at least for the master build). PRs, when integration tests are executed end up with

[code]
More details https://gist.github.com/9c93ac78befd1f303f2a9def7755697d

Was this problem for PR builds observed before too?

[2018-08-01 19:44] bartoszmajsak commented on #763
Another issue leading to that problem (reproducible if you have Configmap booster imported) https://github.com/openshiftio/openshift.io/issues/3134#issuecomment-409694091

[2018-08-01 20:09] bartoszmajsak commented on #3134
@lordofthejars interesting bit here is:

[code]

where you see we pass ` -Dnamespace.use.existing=bartosz-1` with the intention of executing IT tests in that namespace. But when you look at Cube logs it's saying ` namespace = bartosz-1-jenkins`

Also in [`arquillian.xml`](https://github.com/bartoszmajsak-test/thorntail-configmap-001/blob/master/src/test/resources/arquillian.xml#L3) we say  `use.cu

[2018-08-01 20:27] bartoszmajsak commented on #3134
After flipping the values in `arquillian.xml` the IT passes in Jenkins, as we use the right namespace now.

@sthaha @alex I can provide PR to pipeline library if we agree that it's the right approach - setting `namespace.use.current=false` and `enableImageStreamDetection=false` while invoking integration tests in the pipeline (as oppose to what is set now and intended to be working in Che)

[2018-08-01 20:27] rohitkrai03 opened #4116 "Move FeatureFlagResolver from fabric8-ui to ngx-feature-flag library"
- `ngx-feature-flag` library was extracted out of `fabric8-ui` so that external libraries such as `fabric8-planner` would be able to use feature flags.
- But there is still one piece of code `FeatureFlagResolver` inside `fabric8-ui` which needs to move to `ngx-feature-flag` so that the other libraries do not need to write it all over again.

[2018-08-01 20:30] bartoszmajsak commented on #763
I managed to fix my other issue. For this one - do we have a reproducer?

[2018-08-02 03:28] #2486 closed

[2018-08-02 04:00] kishansagathiya commented on #4089
Let me know if you can't reproduce it. I see it regularly(almost all the time)

[2018-08-02 04:14] kishansagathiya opened #4117 "Intermediate pages on any task"
In general, there are several use cases where you try to open a page(or do something which is supposed to get you to some page), instead of directly taking you to that page, it will take you to some other page(mostly dashboard).
For example

- I just created a new space and added name for the application, selected `import codebase`. Ideally it is supposed to take me to a page where I select a repo

[2018-08-02 05:34] abs51295 commented on #3961
@GeorgeActon There is a follow up issue for this: https://github.com/openshiftio/openshift.io/issues/4108. Can we close this issue now?

[2018-08-02 06:30] lordofthejars commented on #3134
@bartoszmajsak Yes I agree that pipeline must be the correct place to make tests run just in build phase. If you want we can discuss this in BJN.

[2018-08-02 06:35] parvathyvr opened #4118 "UX Work for creation of new template for newer version notification"
Planner Link to the story:https://openshift.io/openshiftio/Openshift_io/plan/detail/375
Description:
Come up with the UX Flow and email template the user will receive for newer version notification.

[2018-08-02 08:37] Veethika commented on #2997
@maxandersen @nimishamukherjee @joshuawilson  It's definitely misleading to see the name of the root iteration if the WI hasn't explicitly been attached to an iteration. Let's go ahead with just a '/' and not expose the root iteration(spacename).
In case of no iteration attached, it should just say NA.

[2018-08-02 08:43] chmouel commented on #3956
i only mentioned at first boot here cause it's a easy scenario to reproduce from scratch but yeah it's dead slow to start most of the time (sometime it's quick but that is quite rare these days), I have read that the Che people had IO issue on volume maybe thats the root cause?

[2018-08-02 08:59] ppitonak commented on #4020
related to #3797

This message means that Jenkins is waiting for slave to be provisioned. In this case though, it stays in this state for long time and Jenkins job times out, therefore increasing priority.

[2018-08-02 09:10] ia3andy commented on #4110
@bartoszmajsak I fixed the bug in this PR:
https://github.com/fabric8-launcher/ngx-launcher/pull/341

[2018-08-02 09:20] ppitonak commented on #3517
There is a big groups of cross-linked related issues.

Right now, team is trying to solve the issue of Jenkins booting too slow (#3956, PR https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/114)

[2018-08-02 09:58] kishansagathiya opened #4119 "Build URL not set correctly on GitHub commit"
![screenshot from 2018-08-02 15-20-11](https://user-images.githubusercontent.com/10185999/43576808-da8e6bca-9667-11e8-8de5-42ae138c04a7.png)

The tick mark sign should take me to build logs. It does not because the url set is wrong.
I see a URL something like this http://www.unconfigured-jenkins-location.com/job/kishansagathiya/job/app-test-1/job/master/9/display/redirect

http://www.unconfigured-

[2018-08-02 10:04] piyush1594 commented on #4119
Duplicate of #1259

[2018-08-02 10:04] #4119 closed

[2018-08-02 11:46] sunilk747 commented on #4031
@tisnik I have updated the document with correct request and response. PTAL and close this one if you are clear on this.

[2018-08-02 12:07] tisnik commented on #4031
LGTM, thanks a lot @sunilk747

[2018-08-02 12:07] #4031 closed

[2018-08-02 12:33] #4081 closed

[2018-08-02 12:42] stevengutz commented on #4116
Is this a bug? The work item needs a type

[2018-08-02 12:46] rohitkrai03 commented on #4116
@stevengutz I was not sure about the type here. I guess this will be a task. This one is needed to enable other external libraries like planner to use feature flags.

[2018-08-02 12:58] sthaha commented on #123
I am turning this into a feature request for the pipeline-library since what I gather from the issue is that it is asking the library to follow some consistent versioning system like semver.

[2018-08-02 12:59] rupalibehera commented on #123
This looks like a feature request

[2018-08-02 13:29] stacymcauliffe opened #4120 "Review verb usage across UI"
Review OSIO to see how we're using verbs and if we're being consistent -

For example, when are we saying "Open" vs "View" vs "Edit" etc.

-[ ] Review UI for examples
-[ ] Identify and flag issues/inconsistencies
-[ ] Document recommendations for standards we can use to enforce consistency moving forward

[2018-08-02 13:31] sthaha commented on #259
@alexeykazakov @sbose78 are we good to close this?
I have removed the `build-cd` tag from this issue. Please add it back if you require more info.