[2018-08-28 16:43] rafabene commented on #4243
We need to add or reference the color pattern used in the console. Lines starting with date are presented in red, even when they are not errors.

<img width="508" alt="screenshot 2018-08-27 12 59 59" src="https://user-images.githubusercontent.com/30131/44737404-ead36c80-aabf-11e8-859b-084091518e5c.png">
<img width="507" alt="screenshot 2018-08-27 13 00 09" src="https://user-images.githubuserconten

[2018-08-28 18:31] ibuziuk commented on #4243
@rafabene have created an issue upstream and added to the list of sub-tasks

[2018-08-28 20:02] aptmac commented on #4261
This should be fixed once https://github.com/fabric8-ui/fabric8-ui/commit/c5c2a6168943aad1f86eec278b5bd806de932c74 hits production. It contains a commit (https://github.com/fabric8-ui/fabric8-planner/pull/2759) that fixes the alignment - the table looks okay to me when running local fabric8-ui.

[2018-08-28 20:15] ibuziuk commented on #4084
PR https://github.com/redhat-developer/rh-che/pull/830 is merged to master and soon will be available on prod

[2018-08-28 20:16] ibuziuk commented on #3878
@SriKrishnaPaparaju sure, I will try to drag it to the next sprint

[2018-08-28 20:17] ibuziuk commented on #3528
@ldimaggi closing. feel free to reopen if it is still reproduciable

[2018-08-28 20:17] #3528 closed

[2018-08-28 23:50] alexeykazakov commented on #3793
I agree with @christianvogt. We should stop using spaceName pipe and disallow spaces in space names in the new space dialog.

[2018-08-29 06:01] invincibleJai opened #4263 "Getting 403 while submitting feedback for companion dependencies"
Getting 403[forbidden] while submitting feedback for companion dependencies from VSCode extension

<img width="1676" alt="screen shot 2018-08-29 at 11 26 30 am" src="https://user-images.githubusercontent.com/5129024/44768426-e7eb8100-ab7e-11e8-8667-4c24f8df39b4.png">

[2018-08-29 06:59] rootAvish commented on #4244
@samuzzal-choudhury I'm not getting this error on my end.

[2018-08-29 07:40] sara-02 commented on #4255
@samuzzal-choudhury @invincibleJai The problem does not seem to have resolved. Tried with SentenTree.
Still seeing the same error for the whole workspace, and nothing is happening in the logs or UI for the single manifest.
![screenshot from 2018-08-29 13-06-29](https://user-images.githubusercontent.com/7047079/44772912-d14c2680-ab8c-11e8-9fee-4d9aa30171fe.png)

[2018-08-29 07:51] msrb opened #4264 "Unknown licenses in stack report"
##### Issue Overview

Stack report generated from VS Code shows some unknown licenses for https://github.com/jvm-operators/abstract-operator.

Dependency name: `org.reflections:reflections:0.9.11`
License(s) used: The New BSD License, WTFPL

##### Expected Behaviour

Well known licenses are recognized by license analysis services.

##### Current Behaviour

License analysis service doesn't recogniz

[2018-08-29 08:15] hrishin commented on #3796
@ppitonak

Could you https://openshift.io/_profile/_tenant?jenkinsVersion=PR-v80e5cd9-3&mavenRepo=https://nexus.cd.test.fabric8.io/content/repositories/staging update the tenant and test it?
This one is prod.

My bad, I thought we could update the prod-preview in same but it doesn work there.

[2018-08-29 08:26] yzainee commented on #4221
@GeetikaBatra code coverage of 91% for utils.py
https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler/pull/31

[2018-08-29 08:41] invincibleJai commented on #4255
sorry about missed out testing in fedora , taken care in https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/pull/158

[2018-08-29 08:42] invincibleJai commented on #4244
Thanks @rootAvish closing it.

[2018-08-29 08:42] #4244 closed

[2018-08-29 08:50] sunilk747 opened #4265 "Recommended license shown as Unknown when declared license is not found for a package"
## Issue Overview
When for a analyzed package no declared license is found from graph database the recommended license is shown as unknown.

## Expected behaviour
Is should be shown as `None` with some appropriate message.

## Current Behaviour
![scsc](https://user-images.githubusercontent.com/7105965/44776653-3bb59480-ab96-11e8-89e6-5a7074ca73c6.png)

### Steps to reproduce
Generate stack report

[2018-08-29 09:01] sunilk747 opened #4266 "Different response for same pom.xml on prod and prod-preview"
## Issue Overview
Different response for same pom on prod and prod-preview. In response from prod there is stack level license but on prod-preview it's showing one of the license as unknown.

prod-preview response - https://gist.github.com/sunilk747/d134b3ef6992bc4600fa029d9a3e0bcb

prod response - https://gist.github.com/sunilk747/2b4beca149811452d453ee7a1c26c739

### Steps to reproduce
Perform s

[2018-08-29 10:56] tinakurian commented on #4216
@piyush1594 No, no errors that I know of. The PR can be found here: https://github.com/fabric8-launcher/launcher-backend/pull/512

[2018-08-29 11:08] tinakurian commented on #4216
@bartoszmajsak

https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/jenkins/JenkinsConfigParser.java#L80

https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/test/java/io/fabric8/launcher/osio/jenkins/JenkinsConfigParserTest.java#L108

https://github.com/tinakurian/launcher-backend/blob/master/

[2018-08-29 11:09] stevengutz commented on #4261
Changing this to SEV2.  Annoying but hardly severe

[2018-08-29 11:09] #4216 closed

[2018-08-29 11:12] stevengutz commented on #4266
This looks like a duplicate of https://github.com/openshiftio/openshift.io/issues/4265

[2018-08-29 11:12] stevengutz commented on #4264
This looks like a duplicate of https://github.com/openshiftio/openshift.io/issues/4265

[2018-08-29 11:14] stevengutz commented on #4262
@ldimaggi Is this really a bug.  Looks like a impediment/feature request to me.  The code is doing what it was designed to do

[2018-08-29 11:25] michaelkleinhenz commented on #4262
Agree. This is a feature request. Also, a story describing a solution for this should include what to do with very long descriptions. Possibly, we just want to increase the default displayed text size so that it covers most of the standard use cases.

[2018-08-29 11:25] invincibleJai commented on #4247
It has been fixed, hence closing.

[2018-08-29 11:25] #4247 closed

[2018-08-29 12:05] DhritiShikhar opened #4267 "There should be a upper limit for story points and effort field of workitem in planner"
##### Expected Behaviour

1. There should be an upper limit to story points and effort fields of workitem. Such large values do not make much sense for story points.

##### Steps To Reproduce

1. Enter a large float value in story point text area

![screenshot_2018-08-29_17-16-28](https://user-images.githubusercontent.com/6303309/44785789-b4751a80-abaf-11e8-848b-cc09fadf6d20.png)

2. Save the valu

[2018-08-29 12:11] andrewazores commented on #3924
An initial PR has been merged (not in prod yet, and will be feature toggled when it hits) for #3655 which will allow users to search for spaces by name from the "My Spaces" view accessible in the top left global navigation bar dropdown. @ldimaggi does this satisfy your requirement?

[2018-08-29 12:25] andrewazores commented on #2757
@openshiftio/uxd-team

[2018-08-29 12:29] michaelkleinhenz commented on #4262
See Planner userstory here: https://openshift.io/openshiftio/Openshift_io/plan/detail/399

[2018-08-29 12:38] andrewazores commented on #3312
Having the client check if a new version of the client is available seems like it makes sense. Causing a proper reload on path change would be a nice "automagic" feature, but perhaps a first step before implementing that could be to just display a banner informing the user that a new application version is available and that they can refresh the page to load it.

[2018-08-29 12:45] pmacik opened #4268 "After logging in to the OSIO for the first time after user registration the UI flow freezes at _gettingstarted page"
##### Issue Overview

Recently I registered 2 RHD accounts and signed up to the `starter-us-east-2a` cluster. After verifying email and receiving the 'Welcome to OpenShift.io' email indicating that the OSIO environment is ready I wanted to log in to OSIO to continue with linking the GH account. But the page freezes at empty `https://openshift.io/_gettingstarted` page.

##### Expected Behaviour

Af

[2018-08-29 12:52] andrewazores commented on #3793
The spaceName pipe usage has been removed, but I'm not sure the status of space handling in the dialog.

[2018-08-29 13:14] sbose78 commented on #4268
- After logging in, this is the behaviour https://github.com/openshiftio/openshift.io/issues/4030#issuecomment-406325715
- Also, as a suggestion: you could use 1a or 1b cluster, capacity-wise they are doing well.

[2018-08-29 15:00] jiekang commented on #3793
Thanks for the update, I forgot to clear this issue. Spaces are no longer allowed and the pipe has been removed.

Closing as resolved.

[2018-08-29 15:00] #3793 closed

[2018-08-29 15:22] #4235 closed

[2018-08-29 15:41] andrewazores opened #4269 ""Search for a space" from My Spaces can displace scrollbar"
##### Issue Overview

When appropriately sized, the My Spaces page will display a standard scroll bar. If the "Search for a space" toolbar button is clicked and the modal dialog appears, this scroll bar may disappear, causing the background (My Spaces view) to shift slightly. When the modal is dismissed the scroll bar may reappear, which shifts My Spaces back. This behaviour has been reproduced in

[2018-08-29 15:47] pmacik commented on #4268
Thanks for the suggestion, but our other account `osio-ci+booster1@redhat.com` is already on the 2a cluster, and we want the group to stick together.

[2018-08-29 16:28] rohitkrai03 commented on #4268
@sbose78 This seems to be related to latest changes for `HttpClient`.

[2018-08-29 17:18] sbose78 commented on #4268
Some observations on the issue:

1) On the getting started page: the authorization header is being passed while fetching the token - and therefore, we get the right response header. ( which is why my `/_gettingStarted` page works fine where account is connected, but not for Florent)

2) Fetching the token doesn't work in the Settings page. And there, I've noticed that the authorization header isn'

[2018-08-29 17:51] jiekang commented on #4268
I posted this on a related PR, but posting here for visibility:

The cause of this is primarily around the use of `HttpClient` over `Http`. The `fabric8-ui` application provides a custom `Http` client in `app.module.ts` first via

[code]

and then in the same file, afterwards via

[code]

The `HttpService` comes from `ngx-login-client` and appends an auth header for any request that it touches. Th

[2018-08-29 17:56] #4268 closed

[2018-08-29 20:51] alexeykazakov commented on #3719
Fixed in prod. Closing as resolved.

[2018-08-29 20:51] #3719 closed

[2018-08-29 21:11] jiekang commented on #4184
I think having two different spaces with projects with the same name should work. The underlying system should preferably use a hash id instead of a name, otherwise it can use a combination of space + project name.

[2018-08-30 02:41] serenamarie125 commented on #3940
@catrobson how do we indicate that this is no longer is progress?

[2018-08-30 02:42] serenamarie125 commented on #4069
@andrewazores please reach out if you have any questions on the design.  Is this something you are starting soon?

[2018-08-30 06:29] jarifibrahim commented on #3894
This issue has been fixed via https://github.com/fabric8-ui/ngx-widgets/pull/153 (and updated in planner via https://github.com/fabric8-ui/fabric8-planner/pull/2772) but the fix is not yet on prod

[2018-08-30 06:29] divyanshiGupta opened #4270 "Add support for user-changeable infotips in planner."
There are two types of infotips, we have static non-user-changeable infotips and user-changeable infotips. The former are all static UI elements and concepts, the latter is all what is defined in the process templates. Because the user will be able to change the templates we need support for user-changeable infotips in planner.

[2018-08-30 06:34] jarifibrahim commented on #3737
This issue is no longer reproducible. Closing it.

[2018-08-30 06:34] #3737 closed

[2018-08-30 08:27] msrb commented on #2808
This is not fixed yet.

[2018-08-30 08:55] sunilk747 commented on #4266
@stevengutz No. Both the issues are different.

[2018-08-30 09:03] ljelinkova commented on #4215
We have updated the script that retrieves logs from oc and the last result is here:

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-beta/588/oc-logs-output.txt

[2018-08-30 09:28] benoitf opened #4271 "Unable to delete some Che workspaces from Che dashboard"
##### Issue Overview

Unable to delete che workspaces.

##### Expected Behaviour

I should be able to delete my workspaces

##### Current Behaviour

I have errors when trying to remove some workspaces

##### Steps To Reproduce

Go into dashboard and delete workspaces
![removal-workspaces-failure](https://user-images.githubusercontent.com/436777/44843005-90fdae80-ac47-11e8-80a0-e00fc18030b1.gif)

#

[2018-08-30 10:54] ljelinkova commented on #3935
This issue is still occurring
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/1916/05-01-pipeline-failed.png

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/1916/05-02-jenkins-log-failed.html

[2018-08-30 11:10] piyush1594 commented on #3935
@ljelinkova Thanks for bringing this up. The thing I am asking you to check this in openshift console is that pipeline looks like this in openshift-console also means no promote or abort button in openshift console or only it is showing like this in OSIO. TIA

[2018-08-30 11:47] ljelinkova commented on #3935
Ok, we'll need to add this to the E2E tests - I'll update this issue once we have results.

[2018-08-30 11:52] rupalibehera commented on #4135
Merged all PR, hence closing this.

[2018-08-30 11:52] #4135 closed

[2018-08-30 12:17] jiekang commented on #3416
Fix has been merged. Closing.

[2018-08-30 12:17] #3416 closed

[2018-08-30 12:17] jiekang commented on #2528
Feature has been merged. Closing.

[2018-08-30 12:17] #2528 closed

[2018-08-30 12:18] Veethika commented on #4048
Unassigning myself and Sunil as we're not actively working on this issue.
Track progress on #3999

[2018-08-30 12:26] samuzzal-choudhury commented on #4178
The root cause was found to be related to the unexpected cooccurrance_probability associated with the recommended companion component which looks something like the one follows -
[code]

This in turn, causes the RDS operation to insert the recommendation into the database table `worker_results` to fail.
[code]
Because of this exception, no recommendation data could be fetched for the stack during

[2018-08-30 12:33] samuzzal-choudhury commented on #4178
@rootAvish can you please investigate and propose a fix on hpf-insights why a `cooccurrence_probability` value for `NaN` is returned?

In the meanwhile, additionally, I will handle this on the server-backbone side by replacing `NaN` with `100.0` so that the database operation never fails.

cc: @miteshvp

[2018-08-30 12:37] piyush1594 commented on #3796
Maven central URL has been fixed and is available in prod. Use Jenkins version 4.0.106 Thanks, closing the issue.

[2018-08-30 12:37] #3796 closed

[2018-08-30 12:40] piyush1594 commented on #3934
Basically, this is not an issue but these warnings are events logs for the pod. We have fixed this warning for idling/unidling condition but it will still show for reset environment thing and just add the logs, so no problem or effects.

It is available in Jenkins Version 4.0.106 in prod. Thanks, closing this.

[2018-08-30 12:40] #3934 closed

[2018-08-30 12:59] rootAvish commented on #4178
@samuzzal-choudhury The NaN values are due to the way the current fold-in logic is implemented. If we don't recommend it as a companion, I double we would be able to recommend companions at all in most cases. I would vote to keep it as-is and show the recommendations with the "99.999%" confidence score (which these companions turn into) before I pick up the ticket item of the fold-in logic re-impl

[2018-08-30 12:59] rootAvish commented on #4178
Is that what's causing this issue?

[2018-08-30 13:03] abs51295 commented on #4208
This issue is produced due to mercator giving empty results for the dependencies included inside `<projects></projects>` tag, which in turn is caused by the use of `mvn help:effective-pom` while generating effective pom for root level manifest file, since that in turn aggregates all the poms of modules and pastes it in the effective pom for root. Have a look here: https://gist.github.com/abs51295/

[2018-08-30 13:37] samuzzal-choudhury commented on #4264
@sunilk747 PTAL

[2018-08-30 13:40] andrewazores commented on #4069
@serenamarie125 yes, I will probably be taking it on next sprint. I had one remaining question/request in a comment on the Invision design but I'll echo it here: is there an existing (low-res/appropriately sized) image asset for the Che icon that I can reuse?

[2018-08-30 13:47] samuzzal-choudhury commented on #4178
@rootAvish as mentioned, cooccurrence_probability is breaking the RDS insert step for recommendations. I am currently preventing those companion components from appearing in the recommendations with a log message and making sure that the DB insert goes on successfully.

[2018-08-30 13:51] miteshvp commented on #4178
@samuzzal-choudhury - rather than filtering out those dependencies altogether, assign a value of `1.0` where we get `NaN` value. Because all of those requests served from hpf will give value `NaN`.

[2018-08-30 14:48] stooke opened #4272 "Kubernetes authorization checking API enhancement"
This issue covers an enhancement to WIT (and eventually to UI) to optionally check k8s permissions when for k8s objects.

The basic proposal is to add a new optional parameter to several endpoints (currently 'qp=true') that causes WIT to interrogate k8s permissions for an object and return those permissions as an array of valid HTTP request types for that object.
The WIT sub-issue is #2268 (Provid

[2018-08-30 14:56] aptmac opened #4273 "Home and Profile work item components not showing work items for all spaces"
##### Issue Overview

The home and profile work item components no longer display work item information for all spaces. What I mean by this, is I can see work items from the openshift_io planner for example, but one of my own spaces with work items will show nothing. All of the work item network responses for the components came back with no work item data.

If I had to guess, this may have someth

[2018-08-30 15:07] aptmac opened #4274 "Planner can get stuck in a loading state when visiting without a direct url"
##### Issue Overview

Trying to visit the planner without a direct url link may cause the planner to load forever. I've currently tried `refresh -> home -> space -> planner` and `refresh -> space -> planner` and they both cause the planner to get stuck in a loading state. However, using a url to go straight to the planner will display it as normal.

##### Expected Behaviour

The planner should loa

[2018-08-30 16:35] ibuziuk commented on #4243
most of the issues (debugging frames / PR flow) have been fixed after today's update of rhche on prod.
red output for `catalina.sh run` seems to be expected behaviour - https://github.com/eclipse/che/issues/10973#issuecomment-416835533

[2018-08-30 16:37] ibuziuk commented on #3496
closing. Fixes are now on prod

[2018-08-30 16:37] #3496 closed

[2018-08-30 16:54] sunilk747 commented on #4264
This PR - https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/pull/131 fixes this issue.

[2018-08-30 16:54] #4264 closed

[2018-08-30 17:05] ibuziuk commented on #4084
Fix is available on prod. Closing

[2018-08-30 17:05] #4084 closed

[2018-08-30 17:14] ibuziuk commented on #3064
@bostrt was not able to reproduce ? Could you please re-try and provide details if you still facing this issue ?

[2018-08-30 19:41] aptmac commented on #4241
fixed in prod after planner update

[2018-08-30 19:41] #4241 closed

[2018-08-30 19:41] aptmac commented on #4261
fixed in prod after planner update

[2018-08-30 19:41] #4261 closed

[2018-08-30 20:27] bostrt commented on #3064
@ibuziuk I'm no longer seeing this issue.

[2018-08-30 20:27] #3064 closed

[2018-08-31 05:54] ppitonak commented on #4020
I saw the same today
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-beta/596/oc-logs-output.txt

[2018-08-31 06:06] ppitonak commented on #4215
[code]

[2018-08-31 06:11] ibuziuk commented on #4271
related rh-che issue - https://github.com/redhat-developer/rh-che/issues/728

[2018-08-31 06:11] rootAvish commented on #4178
@samuzzal-choudhury Sorry, did not read the earlier comment. Yes, I think it's best to proceed with the approach suggested by @miteshvp momentarily till the fold-in is fixed.

[2018-08-31 06:12] benoitf commented on #4271
The good news is that I was able to remove them with the latest update of Che !

[2018-08-31 06:12] #4271 closed

[2018-08-31 06:13] ibuziuk commented on #4271
ah, awesome!

[2018-08-31 06:59] invincibleJai commented on #3193
@rgarg1 I feel both are consistent with patternfly specification as mentioned by @catrobson.

https://www.patternfly.org/pattern-library/communication/toast-notifications/

In Stack report toast notification has an action associated i.e "View Work item" so close icon would be appropriate here I believe as we just can't hide it after few seconds. Unlike Planner Toast notification which is more like

[2018-08-31 07:05] #4270 closed

[2018-08-31 07:06] invincibleJai commented on #4208
I am no java expert, I'll suggest validate it even with effective pom generated in IDEs like eclipse and take a decision. Will work based on that.

As it's recommended in docs as well https://maven.apache.org/plugins/maven-help-plugin/effective-pom-mojo.html

[2018-08-31 07:31] ibuziuk commented on #4243
@rafabene the easiest way to get rid of the red output would be redirecting  stderr to stdout via  `2>&1` on the command level e.g.
`mvn -f ${current.project.path} clean install 2>&1 && cp ${current.project.path}/target/*.war $TOMCAT_HOME/webapps/ROOT.war && $TOMCAT_HOME/bin/catalina.sh run 2>&1`
tested on osio and this seem to work just fine:

![image](https://user-images.githubusercontent.com/14

[2018-08-31 07:57] msrb commented on #4208
As discussed on mattermost, poms which start with `<projects>` element are invention of the `help` plugin and are not valid Maven poms.

I'd suggest switching to `stackinfo-maven-plugin` - we can implement missing functionality there.

Note there is a reason why we use `stackinfo-maven-plugin` in pipelines: output from `help:effective-pom` can contain user credentials as it includes contents of Ma

[2018-08-31 07:59] kwk commented on #2928
https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/2320/

[2018-08-31 08:28] kwk commented on #2928
@aslakknutsen just so you know it appears that the underlying issue is something different now. We're investigating it and tracking the issue here: https://github.com/fabric8-services/fabric8-wit/issues/2267. When it was discussed in Mattermost chat (https://chat.openshift.io/developers/pl/hf9hqhf8ti8nucmdma9zq7n9sh) the issue didn't came from Sentry but was a real error discovered by somebody and

[2018-08-31 11:39] rhopp commented on #1294
The reopened issue is already resolved (by this PR https://github.com/eclipse/che/pull/9522). I've tried to reproduce this bug on che.openshift.io without any success. Closing this issue.

[2018-08-31 11:39] #1294 closed

[2018-08-31 11:49] rhopp commented on #1160
@apupier This is how the `About` dialog is looking now:
![image](https://user-images.githubusercontent.com/1215011/44910492-b364fa00-ad23-11e8-854d-8476aab0daa1.png)
As we are not doing any official releases, but continuous deployment, our maven artifacts are still version `1.0.0-SNAPSHOT`, but we also have the most important things there: Build Time and Revision (commit id).

I see, that having `

[2018-08-31 12:07] rhopp commented on #1651
I wasnt' able to reproduce this issue on latest che on che.openshift.io. Closing.

[2018-08-31 12:07] #1651 closed

[2018-08-31 12:16] rhopp commented on #2116
This should be fixed now, because reset environment also deletes all workspaces from codebases (not the ones created directly using che.openshift.io). Closing.

[2018-08-31 12:16] #2116 closed

[2018-08-31 12:26] rhopp commented on #2179
This is still failing on che.openshift.io (che 6.10.0).
I've used `vert.x` stack and enabled yaml ls. Opening yaml file produces this error:
[code]

[2018-08-31 12:53] humaton commented on #4032
@sara-02 any updates on this? Is the entry point in server useful for you?
Can we close it?

[2018-08-31 13:16] JPinkney commented on #2179
@rhopp Out of curiosity can you try vert.x stack again but do the same thing with json ls and a json file

[2018-08-31 13:48] eivantsov commented on #2179
@rhopp interesting.. we have tests for yaml LS and most of them pass - currently only one unstable which checks hovers.

[2018-08-31 13:56] eivantsov commented on #2179
@JPinkney @rhopp i know what the issue is. There are two of them.

First off, installer failed to grab LS binaries. You can see that lls-yaml dir is empty except for a launch script

[code]

Secondly, there's no nodejs in the image

[code]
You we need a symlink in the image - an alias for nodejs > node

[2018-08-31 14:12] rafabene commented on #4243
@slemeur Do you think we should update the factory with the command above?

[2018-08-31 14:36] andrewazores commented on #4069
Tasks are laid out in OSIO Planner here: https://openshift.io/openshiftio/Openshift_io/plan/detail/503

[2018-08-31 15:00] ibuziuk commented on #1649
@rhopp I believe we could close this one, since the issue with workspace deletion should not be reproducible anymore.

[2018-08-31 15:00] #1649 closed

[2018-08-31 19:13] chrislessard commented on #3129
Current progress, just needing review : https://github.com/chrislessard/fabric8-wit/tree/space-id-endpoint

[2018-08-31 19:13] chrislessard commented on #3388
Current progress, just needing tests : https://github.com/chrislessard/fabric8-wit/tree/quota-info

[2018-08-31 19:55] samuzzal-choudhury commented on #4178
It was found that the issue mentioned here are caused by:
1. hpf insights recommendation engine: When that returns a list of companion components with cooccurrence probability `NaN`. This has been fixed on server backbone in the PR fabric8-analytics/f8a-server-backbone#100.
2. A bug in the f8a-server-backbone code when that calls the kronos-maven insights engine for multiple manifests with a cumul

[2018-08-31 20:15] samuzzal-choudhury commented on #4210
@rootAvish @miteshvp @invincibleJai  This cannot be considered as an application's bug. Initial studies show that there have to be some configuration changes at the service level to accommodate large payloads. Let us consider this an enhancement.

[2018-09-03 04:45] msrb commented on #2343
I haven't seen this error in staging/prod for couple of weeks now. I am going to close this issue. We can reopen it if the same error appears again.

[2018-09-03 04:45] #2343 closed

[2018-09-03 04:51] msrb commented on #3329
We don't run the tagging tasks in staging/prod any more.

[2018-09-03 04:51] #3329 closed

[2018-09-03 05:03] msrb commented on #2808
This happens when worker container gets restarted. No real harm anywhere.

[2018-09-03 05:03] #2808 closed

[2018-09-03 05:12] Raunak1203 opened #4277 "Assignee and label dropdown is hidden (if assignees are greater than 3 and labels > 5)"
Steps:

- Create a workitem
- Assign it to more than 3 people
- Now click on drop-down toggle Number
![screenshot from 2018-09-03 10-40-03](https://user-images.githubusercontent.com/34271052/44968472-d2eb6500-af65-11e8-9240-657704480f8b.png)

[2018-09-03 07:00] apupier commented on #3068
personally I can't confirm if it still persists or not because the panel is not loading. I have an endless spinning "loading"
![image](https://user-images.githubusercontent.com/1105127/44971939-bd6f3e80-af57-11e8-8a0a-5cefd25c4920.png)

[2018-09-03 07:02] abs51295 commented on #4208
@invincibleJai can you make the necessary changes in VS code extension?

[2018-09-03 07:06] invincibleJai commented on #4208
@abs51295 this is an enhancement we need to plan for it,  am not sure about 154. We can accommodate if it's really urgent. And it would be good if we can make it support one particular pom as well as @msrb suggested.

`
I'd suggest switching to stackinfo-maven-plugin - we can implement missing functionality there.
`

 CC @samuzzal-choudhury @miteshvp

[2018-09-03 07:10] miteshvp commented on #4208
@invincibleJai - sounds good.

[2018-09-03 07:52] ppitonak commented on #4215
Another job failed, status `DeadlineExceeded` is the only useful information that we have
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/610/oc-logs-output.txt

[2018-09-03 08:06] ppitonak commented on #4215
@sthaha it seems that this bug is more probable on starter-us-east-2a, focus on this cluster.

[2018-09-03 08:17] ppitonak commented on #3744
It appeared again 4 hours ago on prod-preview
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/2006/

[2018-09-03 08:43] ppitonak opened #4278 "Pipeline: Maximum threads for service reached when downloading Maven artefacts"
##### Issue Overview

Error `Maximum threads for service reached` when Maven downloads dependencies from Maven Central (intermittent error)

##### Expected Behaviour

Maven downloads all direct and transitive dependencies successfully

##### Current Behaviour

Pipeline fails with following error (whole log [here](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.

[2018-09-03 08:47] pkettman commented on #3226
@invincibleJai I retested the scenario today and it's still not working as expected, see below:
1) I created two new work items over 'Create work item' in the 'Companion Dependency Details' tab. Links are already working fine.
![wi-created](https://user-images.githubusercontent.com/26871874/44976793-92401b80-af66-11e8-98b5-62b9a422bdcf.png)

2) went to planner to see them, but it can't be opened i

[2018-09-03 08:53] sthaha commented on #4215
@ppitonak thanks for uploading the logs. From the logs, it appears like an issue with openshift or the namespace.
could you please upload the result of `oc get -o yaml dc/jenkins` ?
Is the env reset before running the test?

[2018-09-03 09:19] tisnik opened #4279 "fabric8-analytics-notification-scheduler repository: Wrong import and unused variable found in the entrystript.py"
Tracking bug for https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler/issues/32

[2018-09-03 09:20] tisnik opened #4280 "fabric8-analytics-server: Maintainability index is too high for utils.py and api_v1.py modules"
Tracking bug for: https://github.com/fabric8-analytics/fabric8-analytics-server/issues/373

[2018-09-03 09:21] tisnik opened #4281 "fabric8-analytics-server: Unused variables found in the server source code"
Tracking bug for https://github.com/fabric8-analytics/fabric8-analytics-server/issues/372

[2018-09-03 09:21] tisnik opened #4282 "fabric8-analytics-server: Unused local variables and strange definitions found in the server source code"
Tracking bug for: https://github.com/fabric8-analytics/fabric8-analytics-server/issues/369

[2018-09-03 09:44] humaton commented on #4143
This seems to be caused by the firehose stream instability. I have tested 3 different client implementations and they all crash after approximately 1 minute.

[2018-09-03 09:49] slemeur commented on #4243
Factory updated.

[2018-09-03 10:43] ppitonak commented on #4215
@sthaha I'll update our script to gather also these info. We do reset env but it happens approximately 4 hours before next run which should be plenty of time.

[2018-09-03 10:55] abs51295 commented on #4156
This isn't a bug. It's basically happening because of an npm repository (https://github.com/gorkem/penfold) being tested for CVEs and subscribed to security alerts on prod. We don't support node for security alerts for end users. This is more of a feature request rather than a bug.

[2018-09-03 11:10] ppitonak opened #4283 "Space dashboard lists work items from deleted spaces (beta feature)"
##### Issue Overview

"My Work Items" section of space dashboard lists work items not related to given space

##### Expected Behaviour

Space dashboard lists work items from given space assigned to me

##### Current Behaviour

Space dashboard lists all (?) work items assigned to me, multiple items point to the same URL, none of the links work

![osio_deleted_space_wi2](https://user-images.githubus

[2018-09-03 11:11] ppitonak commented on #4283
@rgarg1 @Raunak1203 this seems to be a good test case for your new integration test suite

[2018-09-03 11:31] sunilk747 commented on #4209
This issue has been fixed. Closing this issue.

[2018-09-03 11:37] yzainee commented on #4220
doc : https://docs.google.com/document/d/1dV7r4veA2z59IJks6Oc8k9UexPaR02Qmeq2jCcKiuJs/edit

[2018-09-03 11:47] yzainee opened #4284 "OSIO Notifications and Platform - More config options for newer versions notifications"
##### Issue Overview
During the demonstration of our feature of newer versions notifications, it was suggested that we need to have more config options where the user can select his desired level of notification.

##### Expected Behaviour
The user should be able to chose from one of the following options: "All Dependencies", "Direct Dependencies", "None"

##### Current Behaviour
As we do not have

[2018-09-03 11:50] sbose78 opened #4285 "Volume mount/unmount failure stops Che workspace from loading"
##### Issue Overview
Unable to start a Che workspace from the dashboard, on cluster `starter-us-east-2`
[code]

##### Steps To Reproduce

1. Visit che.openshift.io
2. Add a new workspace using the Golang stack
3. Notice that the workspace doesn't start.

##### Additional Information
I've tried removing the volume claim, but looks like that is stuck as well.

[code]

[2018-09-03 12:53] sthaha opened #4286 "jenkins image generation repositories: write CI/CD pipeline and move to CICO"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/305

[2018-09-03 16:05] ibuziuk commented on #4285
@sbose78 original issue is related to https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2169 when workspace is failing to mount volume due to large amount of files in the PV. The only way to workaround it is remove `claim-che-workspace` either manually or via `Reset Environment`.

`I've tried removing the volume claim, but looks like that is stuck as well.`

Could you please try to remove `cl

[2018-09-03 17:07] samuzzal-choudhury commented on #4178
This issue has been fixed and the changes are in production. Hence, closing this. Please reopen if found otherwise.

[2018-09-03 17:07] #4178 closed

[2018-09-03 17:15] samuzzal-choudhury commented on #4209
@sunilk747 did you create a prod PR to move your changes to prod? If not, please keep this issue open until that's done.

[2018-09-04 05:12] piyush1594 commented on #4115
@ljelinkova @ldimaggi This seems like the same as #3935

[2018-09-04 05:34] Raunak1203 opened #4287 "Planner loading issue when opened from home page"
Steps:
prod-preview -
- Login to OSIO
- Open home page
- Click on recent space
- Now click on plan tab
- Planner get stuck in loading state
- Now try "Ctrl+ shift+ r" it works
- Try clicking on any workitem to open quickpreview, it breaks
- URL is not updated with query parameter

![space](https://user-images.githubusercontent.com/34271052/45011815-1ca18180-b032-11e8-9f3f-e3ae34653fd2.gif)

[2018-09-04 06:35] abs51295 commented on #4156
@msrb this will be taken care of once [experimental endpoint](https://github.com/fabric8-analytics/fabric8-gemini-server/blob/master/src/rest_api.py#L158-L160) is in production, we won't be using worker flows then 😉 .

[2018-09-04 06:40] divyanshiGupta commented on #4287
@Raunak1203 does this issue appears always or randomly for you? Because I tried reproducing this 3-4 times but couldn't be reproduced.

@Raunak1203 can you also add a gif for when clicking on workitem quickpreview breaks?

[2018-09-04 06:44] rgarg1 opened #4288 "Link sub-menu unable to search for work item titles with special characters"
##### Issue Overview
On Prod-preview:

Link sub-menu unable to search for work item titles with special characters. So for example, there is a work item with title __'planner wi1'__, and the user types in the string _'planner_ in the search bar, the planner fails to look up the work item. However, if you type the exact same string along with the ending quote, the work item is found e.g. _'planner

[2018-09-04 08:03] #2219 closed

[2018-09-04 08:29] divyanshiGupta commented on #4287
@kwk yes production is also affected.

[2018-09-04 08:31] #4156 closed

[2018-09-04 08:39] divyanshiGupta commented on #4287
@kwk @rgarg1 this issue might be occurring because the refresh token is not getting updated the first time user logs in and opens Plan. Below is the screenshot:
![screenshot from 2018-09-04 14-05-45](https://user-images.githubusercontent.com/20724543/45020232-fee11600-b04b-11e8-9fa0-3ed6ac59f7ea.png)

[2018-09-04 08:40] kwk commented on #4287
I can reproduce the behavior. Here are my observations in the browser console:

These are almost all the calls that go to `/api` and have a status code other than `200`.

![bildschirmfoto von 2018-09-04 10-36-22](https://user-images.githubusercontent.com/193408/45020214-9b94bb00-b02e-11e8-8c1e-cd0d399fa75e.png)

What do you expect to happen? @sanbornsen will we update the URL when something when a

[2018-09-04 08:47] hrishin opened #4289 "[nodejs] display application route links on pipeline view"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/538

[2018-09-04 09:04] bartoszmajsak commented on #3997
@vikram-raj is that fixed with all the PRs merged? If you can confirm maybe @rhopp can give a quick look and ack so we can close that?

If you worked on that could you please assign yourself here?

[2018-09-04 10:10] vikram-raj commented on #3997
Yes @bartoszmajsak, this issue has been fixed and in prod.

[2018-09-04 10:12] jyasveer commented on #4223
Associated PRs:
- https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/pull/51
- https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/pull/53
- https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/pull/55

[2018-09-04 10:25] bartoszmajsak opened #4290 "GitHub autolink takes precedence when regular Markdown link is defined"
##### Issue Overview

With https://github.com/openshiftio/openshift.io/issues/334 regular markdown links which are pointing to GitHub are not rendered as expected.

##### Expected Behaviour

`[thread](https://github.com/arquillian/ike-prow-plugins/issues/101#issuecomment-380567855)` should result in [thread](https://github.com/arquillian/ike-prow-plugins/issues/101#issuecomment-380567855).

#####

[2018-09-04 10:37] kwk commented on #4290
@michaelkleinhenz I've assigned you to this issue because you created the rendering for github links.

[2018-09-04 11:17] sunilk747 opened #4291 "Unknown License found in stack report"
### Issue Overview
Stack report showing `GWT terms` as unknown.
![image pasted at 2018-9-4 12-42](https://user-images.githubusercontent.com/7105965/45028252-f1cf2180-b061-11e8-99f4-47e9622d495d.png)

[2018-09-04 11:36] #4289 closed

[2018-09-04 11:41] piyush1594 opened #4292 "[nodejs] Create api for spawn"
create an API 'spawn' to execute commands in a new container

https://openshift.io/openshiftio/Openshift_io/plan/detail/541

[2018-09-04 11:44] humaton commented on #4143
After the investigation into this issue, we decided to create new tasks to create our own release monitoring tool.

[2018-09-04 11:44] #4143 closed

[2018-09-04 11:51] tisnik opened #4293 "fabric8-analytics-jobs: unused parameter found in the GitHubMostStarred.execute method"
Tracking bug for https://github.com/fabric8-analytics/fabric8-analytics-jobs/issues/302

[2018-09-04 11:54] ldimaggi commented on #4115
Yes - I think that this is the same bug.

Closing as a duplicate of #3935

Thanks!

[2018-09-04 11:54] #4115 closed

[2018-09-04 11:57] humaton commented on #3339
@sivaavkd there is a fix for it. here fabric8-analytics/fabric8-analytics-jobs/pull/287

But this issue will be present in any future code that will schedule flows directly not using jobs or server api.

[2018-09-04 12:03] ljelinkova opened #4294 "Add tooltips to "Add" icons on space dashboard"
I am sometimes confused what the "Add" button actually does (for example the Add button on Pipelines card adds new codebase). Is it possible to add tooltips to these icons?

![dashboard](https://user-images.githubusercontent.com/2078072/45029489-18cd2980-b049-11e8-80df-3fc29c417895.png)

[2018-09-04 12:03] #4258 closed

[2018-09-04 12:19] catrobson commented on #3940
Closing this issue and we can open a new one if any further work is required.

[2018-09-04 12:19] #3940 closed

[2018-09-04 13:06] ldimaggi commented on #3366
Is this the same issue referenced here:   https://openshift.io/openshiftio/Openshift_io/plan/detail/508

[2018-09-04 13:09] ldimaggi commented on #4042
Just noticed a pattern with this issue - it seen VERY frequently with the Vert.x quickstart - both in manual testing and automated testing.

[2018-09-04 13:33] aptmac commented on #4287
Similar/duplicate: https://github.com/openshiftio/openshift.io/issues/4274

[2018-09-04 13:38] aptmac commented on #4283
This may be an issue with the f8-ui spaces service [[0]](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/spaces.service.ts#L36) rather than an issue with the planner. The spaces service is responsible for maintaining the list of `recent` spaces, however it has no mechanism for removing deleted spaces from the list. As a result, if you had deleted a space it was likely not remov

[2018-09-04 13:58] andrewazores commented on #4003
This should have been fixed a while back when https://github.com/fabric8-ui/fabric8-ui/pull/3166 was merged. Closing.

[2018-09-04 13:58] #4003 closed

[2018-09-05 01:13] sanbornsen commented on #4287
@aptmac that error is not a problem. It's an error happening out of the ngZone thus it doesn't freeze the UI. We found the problem and the solution is also merged to master. It'll be prod-preview soon.

[2018-09-05 01:13] sanbornsen commented on #4287
Yes that is true.

[2018-09-05 01:49] serenamarie125 commented on #4294
Agreed that this is a good idea.  That icon is used interchangeably for Create and Add, and we should explicitly state the appropriate action with context.

[2018-09-05 01:52] serenamarie125 commented on #4294
@muruGanesan can you please take a look at this asap, and suggest the appropriate tooltips?

The tooltip should match the action, the modal/dialog title, and should also comply with the PatternFly [terminology guidelines](https://www.patternfly.org/styles/terminology-and-wording/):
- *Add* - Add an existing item to an existing list, group, view, or other container element
- *Create* - Create somet

[2018-09-05 02:00] muruGanesan commented on #4294
@serenamarie125 , I will provide an appropriate solution as per PF.
[IMO: we might have defined this common behavior, if not we will add it to our OSIO-UXD wiki]

[2018-09-05 02:05] serenamarie125 commented on #4294
+1 to adding to the OSIO-UXD wiki, but let's address the short term issues here asap by defining the content of these 3 tooltips.  Please cc Stacy & myself for quick review once available.  Thanks!

[2018-09-05 05:59] vikram-raj opened #4295 "Pipeline option in select option is disappear after authorize GitHub from app creation flow."
##### Issue Overview
Pipeline options in select pipeline section disappears when the user connects GitHub account from app creation flow.

##### Expected Behaviour
Pipeline option in select pipeline section should not disappear.

##### Current Behaviour
Pipeline option in select pipeline section disappears.

![screenshot from 2018-09-05 11-20-06](https://user-images.githubusercontent.com/2561818/4

[2018-09-05 06:34] Raunak1203 opened #4296 "Fields are getting duplicated in quick preview"
Steps:
Login to OSIO
Open home page
Click on recent space
Now click on plan tab
Planner get stuck in loading state
Now refresh and
Try clicking on any workitem to open quickpreview, fields are getting duplicated in quick preview

space: -https://prod-preview.openshift.io/rbajpai-preview/test_space/plan?q=(typegroup.name:Scenarios)&showTree=true

[2018-09-05 08:54] piyush1594 commented on #4292
This has been resolved with https://github.com/hrishin/fabric8-pipeline-library/pull/1

[2018-09-05 08:54] #4292 closed

[2018-09-05 08:57] piyush1594 commented on #4161
All the requirements are working fine with the upstream image till now.

[2018-09-05 09:05] tisnik opened #4297 "f8a-hpf-insights: unused parameter found in the GitHubMostStarred.execute method"
Tracking bug for https://github.com/fabric8-analytics/f8a-hpf-insights/issues/60

[2018-09-05 10:06] ljelinkova commented on #4215
This is the result of updated script (with oc get -o yaml dc/jenkins command)

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/628/oc-logs-output.txt

[2018-09-05 10:36] #4260 closed

[2018-09-05 10:40] ljelinkova commented on #4009
One of my colleagues from different team tried OSIO and was also confused by the fact that the application was not available after the pipeline finished.

This seems also like a usability issue, so I am adding UX team label too.

[2018-09-05 10:50] humaton commented on #4032
sample data output can be found here https://paste.fedoraproject.org/paste/siSDNTwoq-UjN8d-to5O8g

[2018-09-05 11:27] muruGanesan commented on #4294
Thanks, @AshishDurgude.
Here is the design proposal:
https://redhat.invisionapp.com/share/6RNVW22T2NM#/318163171_Tooltip_Standard_Scr2

[2018-09-05 11:55] animuk commented on #3226
@pkettman I have just tested on my chrome version 68.0.3440.106
![image](https://user-images.githubusercontent.com/11207106/45091514-53f65800-b130-11e8-869c-8738c3a350e1.png)
and for me the scenario is working perfectly fine. Please see the screenshot below:

![image](https://user-images.githubusercontent.com/11207106/45091568-830cc980-b130-11e8-9d40-d09ab21ba0a3.png)
![image](https://user-images.

[2018-09-05 12:05] invincibleJai commented on #3226
Let my try in fedora as well once.

[2018-09-05 12:12] chmouel commented on #4286
Submitted :

https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/40
https://github.com/openshiftio/openshiftio-cico-jobs/pull/792
https://github.com/openshiftio/openshiftio-cico-jobs/pull/793
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2284

[2018-09-05 12:32] rgarg1 commented on #4288
The search failure in Link section is also resulting in multiple sentry errors like this: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-wit/issues/2320/

[2018-09-05 12:37] kwk commented on #4288
@rgarg1 I'm trying to address this in https://github.com/fabric8-services/fabric8-wit/pull/2272

[2018-09-05 12:46] pkettman commented on #3226
I've just reinstalled Chrome to Version 69.0.3497.81, but the described issue is still there. After an initial creation are the WIs shown in the 'Companion Dependency Details' tab by each dependency, but when I leave this screen (e.g. go to pipelines, etc.) and come back, they are not there, see:
![wis not visible on analytics2](https://user-images.githubusercontent.com/26871874/45093958-4d5ce600-

[2018-09-05 13:14] miteshvp commented on #4225
@tisnik @msrb - is this a bug?

[2018-09-05 13:54] serenamarie125 commented on #4294
@muruGanesan the Invision provides a nice way to see how we access the tooltips.

But we also need to provide the content of these tooltips, as I mentioned above:

[2018-09-05 14:55] andrewazores opened #4298 "Planner HTTP Interceptor overwrites Authorization header on all requests"
##### Issue Overview

`fabric8-planner` (version `0.55.2` as is current in `fabric8-ui`) provides an Angular AuthInterceptor. This AuthInterceptor unconditionally adds or replaces an Authorization header to HTTP requests, with `Bearer $usertoken`. I discovered this while attempting to implement a feature on the Analyze dashboard (https://openshift.io/openshiftio/Openshift_io/plan/detail/542). Some

[2018-09-05 15:37] rafabene commented on #4243
Mine, doesn't show. Does it only work if I update the tenant?
<img width="988" alt="screenshot 2018-09-05 11 36 37" src="https://user-images.githubusercontent.com/30131/45104406-0e219b80-b100-11e8-9aea-89f566f6213c.png">

[2018-09-05 15:57] andrewazores commented on #4298
Yea, the Planner equivalent's source is here: https://github.com/fabric8-ui/fabric8-planner/blob/b3880f494b63373e47d2e39e4f2a72d673816f69/src/app/shared/http-module/auth.interceptors.ts#L1 . Note the lack of any checks for what the request URL is.

I do think it should be possible (and may already be the case) that any AuthInterceptors added to the fabric8-ui AppModule would apply to requests issu

[2018-09-05 22:12] msrb commented on #4266
I think this could be because the environments don't share data and staging is basically a subset of prod?

[2018-09-05 23:23] alexeykazakov opened #4299 "WIT: Integration tests fail randomly"
Both master and PR jobs started to fail very often due to various integration test failures.
Most common one is:
`level=panic msg="failed to populate the database with common types" err="pq: duplicate key value violates unique constraint \"work_item_link_categories_pkey\""`
For example - https://ci.centos.org/view/Devtools/job/devtools-fabric8-wit-build-master/537/console

I tried to run tests loc

[2018-09-06 02:48] muruGanesan commented on #4294
@ljelinkova, the screenshot that you have provided is OLD dashboard view.
Here is the latest (implemented) screen from OSIO
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/26006817/45132068-27345600-b1ad-11e8-8aa4-79450c12d679.png">

But for your issue i.e. for yours & engineering reference: Whenever we add  (+) symbol for 'Add/Create", we need to provide tooltip as gi

[2018-09-06 04:29] serenamarie125 commented on #4069
@AshishDurgude @catrobson are you aware if we have the Che icon?

[2018-09-06 04:34] serenamarie125 commented on #4190
@sdash-redhat has this Invision been updated to reflect input?

[2018-09-06 04:44] serenamarie125 commented on #4188
Proposed solution is shown here:
<img width="591" alt="screen shot 2018-09-06 at 12 43 15 am" src="https://user-images.githubusercontent.com/12504403/45135533-e49f5900-b16d-11e8-81cd-b6751524ee9c.png">

When clicking on the Log an Issue menu item, a new browser tab would be opened and directed to: https://github.com/openshiftio/openshift.io/issues

[2018-09-06 05:26] animuk commented on #3226
@pkettman I think, this functionality is not implemented. @invincibleJai can you check

[2018-09-06 05:28] invincibleJai commented on #3226
@pkettman there are two things we are discussing here i believe

1. Work items created in Analytics Insights can't be opened in Chromium and Firefox (as title of issue says)
Expectation: User clicks on "Create work item" under the companion tab, it should show toast notification with the hyperlink "View work item". If user clicks on view work item, it should open a new window in browser and user c

[2018-09-06 06:04] miteshvp commented on #4266
@sunilk747 License in prod-preview has a `white-space`. Maybe license analysis code should strip the license fields while evaluating the license. Plus, this looks to be a case where data needs correction in staging.
On prod-preview
[code]
On Prod
[code]

[2018-09-06 07:09] jarifibrahim commented on #4299
I don't think the failures are because of leftover test data. I ran the following script and tests still failed.
` docker rm -f $(docker ps -aq)` removes all the containers.
[code]

[2018-09-06 07:12] kwk commented on #4299
@jarifibrahim it can still be left over test data that exists and isn't erased.

[2018-09-06 07:13] ravsa commented on #3226
@pkettman @invincibleJai I tried on chromium, Firefox, Chrome and things are working fine for me.

[code]
![screenshot from 2018-09-06 12-33-33](https://user-images.githubusercontent.com/11839674/45141021-57dab680-b1d2-11e8-9d53-59de76ed6be6.png)
![screenshot from 2018-09-06 12-31-37](https://user-images.githubusercontent.com/11839674/45141027-5ad5a700-b1d2-11e8-98c1-f99ae5c90af0.png)
![screenshot

[2018-09-06 07:14] jarifibrahim commented on #4299
@kwk `docker rm ... ` wiped off the container entirely. How can there be test data when the test DB container doesn't exist :confused: ?

[2018-09-06 07:16] kwk commented on #4299
@jarifibrahim not from a previous execution of the same job but it could be that some tests don't clean up properly and influence other tests.

[2018-09-06 08:56] sdash-redhat commented on #4190
Here it is as Invisio link:
https://redhat.invisionapp.com/share/HJNWRKFMY6U#/318416629_-4190_-_Title
@serenamarie125

[2018-09-06 09:05] sdash-redhat commented on #4065
Based on the last whiteboarding session, here is the link to the 2 high-level concepts work in progress   **https://redhat.invisionapp.com/share/G6NW31BAC59#/318220539_Slide01**
 @aslakknutsen @joshuawilson @alexeykazakov  @serenamarie125 @catrobson @muruGanesan @parvathyvr  @sunilmalagi

[2018-09-06 09:47] divyanshiGupta commented on #4057
@kwk @baijum can you please look at this issue? Can we fix this in backend and use same case for both the templates as it is causing a lot of issues?

[2018-09-06 11:04] piyush1594 opened #4300 "[nodejs] Improve spawn api"
Right now in new pipeline, spawn api looks like

[code]

Improve it to have the following functionality also

[code]
and

[code]

Planner https://openshift.io/openshiftio/Openshift_io/plan/detail/547

[2018-09-06 11:16] sthaha commented on #4300
@piyush1594 the empty closure isn't needed .. so I have corrected it

[2018-09-06 11:44] AshishDurgude commented on #4294
Here is the invision link:
https://redhat.invisionapp.com/share/6RNVW22T2NM

[2018-09-06 11:47] pkettman commented on #3226
@invincibleJai yes, there are two things discussed here:
1) the original scenario works already fine for me on both Chrome and Firefox
2) this is still an open issue - the 3 steps scenario is in my comment from Sep 3rd

Are you fine with resolving item 2) here or do you prefer to close this ticket and open another one for 2)?

[2018-09-06 11:56] miteshvp commented on #3226
@pkettman - item 2 described above is more of a feature request. Hence I would request you to close this issue and create a new issue with feature request for team-analytics. cc @invincibleJai

[2018-09-06 12:03] Veethika commented on #4133
Here are the InVision files for the design:
Draft 1: https://redhat.invisionapp.com/share/Z3NL0AM5JRV
Draft 2: https://redhat.invisionapp.com/share/3FNW40HCY49

[2018-09-06 12:14] miteshvp commented on #3193
@sivaavkd - any updates here?

[2018-09-06 12:45] serenamarie125 commented on #4195
@serenamarie125 Move to backlog, since this is no longer a priority

[2018-09-06 12:46] muruGanesan commented on #4069
@serenamarie125, we need to get the icon from Steven PM

[2018-09-06 12:55] #3829 closed

[2018-09-06 12:56] Veethika commented on #3988
Solution: https://redhat.invisionapp.com/share/4WN4T2BMZQX

[2018-09-06 12:56] #3988 closed

[2018-09-06 12:57] muruGanesan commented on #3733
@Veethika , @GeorgeActon , @serenamarie125 ,
I am closing this issue because Planner team is tracking in the planner.

[2018-09-06 12:57] #3733 closed

[2018-09-06 12:57] Veethika commented on #4082
Solution: https://redhat.invisionapp.com/share/D7N6MW8YBPW

[2018-09-06 12:57] #4082 closed

[2018-09-06 13:00] Veethika commented on #3999
1st draft: https://redhat.invisionapp.com/share/TFNWY6LZJ3Q#/317272289_Low_Fidelity_Wireframe_Template_With_Side_Notes_Copy_17

[2018-09-06 13:03] Veethika commented on #4195
Unassigning myself and Ashish until the work on this story is resumed

[2018-09-06 13:06] Veethika commented on #3794
Permissions: https://docs.google.com/spreadsheets/d/1ALVEMyI_i5dvOwx_0ChN9WvlyGhHkCwchylje2SrpdQ/edit#gid=0
Solution https://redhat.invisionapp.com/share/N7IH5I3QWZU

[2018-09-06 13:06] #3794 closed

[2018-09-06 13:07] Veethika commented on #3887
Unassigning myself from this story as this issue is being taken care of in the following story: https://github.com/openshiftio/openshift.io/issues/3999

[2018-09-06 13:08] Veethika commented on #3978
UX solution for New work-item browsing: https://redhat.invisionapp.com/share/D7N6MW8YBPW
Unassigning myself until further UX work is required on this.

[2018-09-06 13:10] Veethika commented on #3693
Design solution provided by @sunilmalagi
https://redhat.invisionapp.com/share/E6MUSNDBAQT

[2018-09-06 13:11] Veethika commented on #3644
^Since the UX solution has been provided I'm removing myself. Please reassign if needed.

[2018-09-06 13:16] Veethika commented on #3502
here's the document for the keyboard shortcut for planner: https://docs.google.com/spreadsheets/d/1cATzs0UyUgeZ_cn32LCTQlVHJLsPcfmw3KUTYQN6n-E/edit#gid=2056972779
In reference to this particular issue, ESC should only exit the immediate active field/area - e.g. if a person is editing a field within quick preview, ESC should first exit that field. Pressing ESC again should exit the quick preview.

[2018-09-06 13:18] Veethika commented on #3147
Removing myself and assigning @sunilmalagi as he's been actively working on this story:
(a work in progress) - https://redhat.invisionapp.com/share/BAN4UOBQHSN#/314308013_AddLink_01

[2018-09-06 13:19] Veethika commented on #2846
Removing myself as this is not an active story.

[2018-09-06 13:31] gorkem commented on #4069
Are you looking for this https://www.eclipse.org/che/images/logo-eclipseche.svg

[2018-09-06 13:38] slemeur commented on #4069
Let me know if you need something more than the SVG.

[2018-09-06 15:54] tisnik opened #4301 "fabric8-analytics-license-analysis: Python 2-related code in the rest-api.py"
Tracking bug for https://github.com/fabric8-analytics/fabric8-analytics-license-analysis/issues/141

[2018-09-06 16:38] #4298 closed

[2018-09-06 17:39] andrewazores commented on #4298
@sanbornsen 's Planner PR has been merged and the Planner version updated in fabric8-ui. Testing latest fabric8-ui master locally after this update sees corrected behaviour where the Authorization header is not overridden, suggesting the interceptor is no longer inappropriately modifying requests.

[2018-09-06 22:13] serenamarie125 commented on #4294
Agreed @ljelinkova! @muruGanesan please identify the appropriate tooltip for the Pipeline action as well.

[2018-09-07 04:49] divyanshiGupta commented on #4049
@sanbornsen @sahil143 we don't want to close dynamic fields on outside-click, right? If yes, then there are two ways to fix this issue :-

1. Remove close on outside-click from title field.
2. Add close on outside-click on all text-fields including the dynamic-fields.

[2018-09-07 06:29] Preeticp commented on #1756
@RickJWagner I am closing this issue as it affects the deprecated PDF version of getting started doc. The current version:https://docs.openshift.io/getting-started-guide.html has this documented clearly as you mentioned in your earlier comment.

[2018-09-07 06:29] #1756 closed

[2018-09-07 07:19] waveywaves commented on #4285
Me too
![screenshot from 2018-09-07 12-46-44](https://user-images.githubusercontent.com/11972233/45204305-65f50980-b29c-11e8-8ca1-2317dcaada0b.png)

[2018-09-07 11:48] piyush1594 commented on #4300
We are not going with script thing right now, we are only implementing command. If there requirement will come for the script then we will have it.

[2018-09-07 12:45] andrewazores commented on #3128
@openshiftio/uxd-team I'm still looking for guidance on my question above. The backend support for this feature is going to be ready very soon.

[2018-09-07 12:59] andrewazores commented on #4069
Thanks, I think that SVG should suffice.

[2018-09-07 13:00] andrewazores commented on #4069
I still have a question outstanding in the Invision comments, regarding the filter behaviour when deep linking from Pipelines back to Codebases: https://redhat.invisionapp.com/share/5SN9DYO93E7#/screens/313254506/comments/102521742 . @AshishDurgude ?

[2018-09-07 13:29] pkettman commented on #3226
@miteshvp Closing this ticket as the scenario 1 works fine. I am going to open a separate bug for the scenario 2. I am not sure what you meant by a feature request, but when a user goes repeatedly to 'Companion Dependency Details' tab and can't see links to WIs he created and were there on his/her previous page visit, it's definitely a wrong behavior - bug.

[2018-09-07 13:29] #3226 closed

[2018-09-07 14:00] ppitonak opened #4302 "Login is unstable/dashboard doesn't load"
##### Issue Overview

Our e2e test for login is unstable

##### Expected Behaviour

##### Current Behaviour

dashboard is not loaded resulting in

![osio_login_1](https://user-images.githubusercontent.com/445100/45223147-c5601300-b2b6-11e8-99c3-fc9666384bea.png)

or

![osio_login_2](https://user-images.githubusercontent.com/445100/45223155-cb55f400-b2b6-11e8-989f-9080770029ec.png)

##### Steps To

[2018-09-07 14:11] ldimaggi commented on #4302
On which cluster are you seeing this?

[2018-09-07 14:14] pmacik commented on #4302
I saw it, too... at a third attempt. The account is at the `2a` cluster.

[2018-09-07 14:14] ldimaggi commented on #4302
I am not seeing this on the starter-us-east-2 cluster - are you on 2a?

[2018-09-07 18:11] alexeykazakov commented on #4302
It's developers.redhat.com issue. Has nothing to do with cluster. I can't reproduce it, so, maybe RHD had some outage... I see a lot of errors in Zabbix regarding RHD status.

[2018-09-07 19:04] divyanshiGupta commented on #4057
@andrewazores it cannot be fixed in backend as @kwk mentioned above that it is not easy and we should not fix this in `workItemService` as `updateWorkItems()` function uses `getWorkItems()` that returns an object with an array of workItems and we cannot change the returned value as this particular function is used in a lot of other places, and hence the returned value should be generic, so that it

[2018-09-07 19:31] andrewazores commented on #4057
Okay, in light of that explanation then doing a simple case-insensitive comparison does seem to make sense for this widget. `toLowerCase()` isn't actually the right way to go though - see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare for a better way.

[2018-09-07 19:55] aptmac opened #4303 "Dashboard Work Item Widget displays inaccuate number of total work items"
##### Issue Overview

The dashboard work item widget uses the length of the returned work items array for it's total length. However, the object returned from the `getWorkItems()` [[0]](https://github.com/fabric8-ui/fabric8-planner/blob/9b055197da928b8651e64de0af1b2795849672d1/src/app/services/work-item.service.ts#L80) function has a value for totalCount, which returns the number of work items. Th

[2018-09-07 21:07] piyush1594 commented on #4161
So the latest update is after using the image as per the PR https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/35 then results are

[code]

And if we use the image `openshift/jenkins-slave-nodejs-centos7` then results are
[code]

[2018-09-08 04:07] divyanshiGupta commented on #4057
Thanks, will have a look at it.

[2018-09-08 06:56] msrb commented on #4225
It is not in my opinion. The invitation to collaborate was sent so there is nothing we can do now (and I can see it has been accepted already).

[2018-09-08 06:56] #4225 closed

[2018-09-09 13:28] ibuziuk commented on #4285
I believe we should close this issue since it is a duplicate of  https://github.com/openshiftio/openshift.io/issues/4079
@waveywaves could you try removing `claim-che-workspace`  PVC  manually from *-che namespace ( (reset environment from user profile page on openshift.io would also re-create the pvc)) and try to create workspace from scratch ?

[2018-09-09 14:14] sbose78 commented on #4285
Illya, unfortunately, "reset environment" isn't working for me :(

[2018-09-10 03:42] yzainee commented on #4220
Discussion for GH has been going on with the auth team. More information can be seen here : https://github.com/fabric8-services/fabric8-auth/issues/345

[2018-09-10 03:42] #4220 closed

[2018-09-10 03:53] xcoulon commented on #4302
Login works for me this morning. @ppitonak could you check to confirm it works for you too, now ?

[2018-09-10 04:08] sbose78 opened #4304 "Could we display user's cluster URL in the user's profile?"
Could we display user's cluster URL in the user's profile - it is helpful for quickly looking it up while debugging issues.

- The info is available in the User API - adding it should be straightforward.
- In future, even when we have a user interacting with multiple clusters from the same account, she would still be associated with some default free 'developer' cluster like today's OpenShiftOnlin

[2018-09-10 04:42] sbose78 commented on #4285
Closing, because it's being tracked in #4079

[2018-09-10 04:42] #4285 closed

[2018-09-10 05:14] #3760 closed

[2018-09-10 05:29] alexeykazakov commented on #4304
We will need to add user's cluster URLs to the profile page to support multiple clusters anyway. Including the free one.
Users will be able to manage their clusters there: view, add, remove.

[2018-09-10 06:28] ravsa commented on #3593
@sanketpathak I tried with given payload and I'm getting success status
[code]

@sanketpathak Could you please this issue?

[2018-09-10 06:30] #3593 closed

[2018-09-10 06:54] ppitonak commented on #4302
Yes, it seems to be solved now.

[2018-09-10 06:54] #4302 closed

[2018-09-10 09:01] miteshvp commented on #4280
@tisnik - why is this a bug? Is it breaking any functionality?

[2018-09-10 09:08] jyasveer commented on #4223
This is done.

[2018-09-10 09:08] #4223 closed

[2018-09-10 09:10] jyasveer commented on #3744
@ppitonak
Once  build is successful 10 seconds should be good to receive annotations from build which will have Stack-ID, then a GET call is made to stack-analysis (analytics Service) which ideally won't take more then couple of seconds.

It takes more is dependencies are more to be analyzed @Mitesh can add more detail here. So overall i feel 15-20 seconds should be good enough.

On diff note if s

[2018-09-10 09:16] #4297 closed

[2018-09-10 09:18] miteshvp commented on #4266
Data corruption is fixed in staging. @sunilk747 please make sure to handle such whitespaces at the code level

[2018-09-10 09:18] #4266 closed

[2018-09-10 09:20] sunilk747 commented on #4266
Thanks @miteshvp . I will do the required changes to handle such cases in future.

[2018-09-10 09:59] sunilk747 commented on #4202
I triggered stack analyses call for the above mentioned repo and in response I am getting the details of conflicting license. I don't know why it's not coming up in stack report.

[2018-09-10 10:29] piyush1594 opened #4305 "Not able to access jenkins.openshift.io"
##### Not able to access jenkins.openshift.io

Accessing jenkins.openshift.io throwing
[code]

This error is also thrown in between the ongoing build also and no further logs get printed. This error goes after 3-4 times of refresh. But after some time happens again.

##### Expected Behaviour

should be able to access jenkins.openshift.io

##### Current Behaviour

not able to access jenkins.openshi

[2018-09-10 11:58] aslakknutsen opened #4306 "Jenkins servers un-idled in loop across all clusters"
'Something' is causing the Jenkins servers to come alive roughly every 10-20min. Seems to effect cluster 1a the hardest by starting ~250 servers, but all clusters show the same behavior.

![screenshot from 2018-09-10 13-55-17](https://user-images.githubusercontent.com/132158/45296106-44e12280-b501-11e8-82c0-7841f6014a38.png)

[2018-09-10 12:02] tisnik commented on #4282
PR has been merged -> I'm closing this bug.

[2018-09-10 12:02] #4282 closed

[2018-09-10 12:04] aslakknutsen commented on #4306
Findings:

Jenkins-Idler service is restarting on a 20min ish interval as it's crash looping due to out of memory.

    kubernetes.labels.deploymentconfig: "jenkins-idler" AND message:"Log for pmcd on"

Jenkins-Idler service seems to be having issues with an EOF reading from the Build Watch API of OS (33 million times the past 24h):

    kubernetes.labels.deploymentconfig: "jenkins-idler" AND msg:

[2018-09-10 12:21] tisnik opened #4307 "fabric8-analytics-data-model: Python 2-related code in the rest-api.py"
Tracking bug for https://github.com/fabric8-analytics/fabric8-analytics-data-model/issues/196

[2018-09-10 12:29] tisnik opened #4308 "fabric8-gemini-server: Undefined name logger has been found in src/notification/user_notification.py"
Tracking bug for https://github.com/fabric8-analytics/fabric8-gemini-server/issues/99

[2018-09-10 12:32] pbergene commented on #4306
@chmouel Are those lastUpdate times coming from the dc?  If so I'll check the state of some of those users lastupdate on the cluster.

cc @jfchevrette @mmclanerh

[2018-09-10 12:34] pbergene commented on #4306
@chmouel also, if you don't mind, could we remove the user references from the public issue please? :)

[2018-09-10 12:41] chmouel commented on #4306
@pbergene yes they are coming from the DC,

[2018-09-10 12:41] ppitonak commented on #4180
This error breaks E2E tests quite often

http://artifacts.ci.centos.org/devtools/e2e/devtools-saas-openshiftio-e2e-smoketest-released/129/05-03-jenkins-direct-log.png
http://artifacts.ci.centos.org/devtools/e2e/devtools-saas-openshiftio-e2e-smoketest-beta/127/05-03-jenkins-direct-log.png
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/653/05

[2018-09-10 13:08] Bob-Davis commented on #3193
This looks good - Thanks.

Bob

[2018-09-10 13:15] sivaavkd commented on #3193
Closing the issue after discussing with PM (Bob) -- Thanks,

[2018-09-10 13:15] #3193 closed

[2018-09-10 13:35] serenamarie125 commented on #4304
@sbose78 I think it's useful to show the cluster before we have multi-cluster support.  Do you agree?  If that's the case, we can have this issue associated with a short term solution (J Train), where #3337 would be for a longer term solution.

[2018-09-10 13:38] jfchevrette commented on #4306
A lot of users jenkins DCs were scaled down to 0 last week on Friday to lower the load on the Gluster clusters which were under stress following a tenant update. Possibly related?

[2018-09-10 13:45] serenamarie125 commented on #4304
@parvathyvr It seems like for a quick solution, the easiest thing to do would be keep OpenShift in the Connected Accounts tile as it is now, but just add the context of the current OpenShift cluster there (similar to what you have in your forward looking mocks)

[2018-09-10 14:03] GeorgeActon commented on #4281
@tisnik @miteshvp It would be preferable to put these kind of things into planner and plan the work for future Train/sprint.

[2018-09-10 14:15] mmclanerh commented on #4306
This was happening prior to the scale down.

[2018-09-10 16:30] piyush1594 commented on #4161
So for `node 8.9` - `openshift/jenkins-agent-nodejs-8-centos7`

and for `node 4.6` - `jenkins-slave-nodejs-centos7`

Thanks

[2018-09-10 16:46] aptmac commented on #4269
FWIW, this is intentional on the Bootstrap side of things [[0]](https://github.com/twbs/bootstrap/blob/283ab30164f0f58ffb13063d800b7a2ee686bb8a/scss/_modal.scss#L7).

Having said that, I played around a little bit with this, and if the `overflow` value is set to `scroll` then the scrollbar will persist. However, the body gets appended with a `modal-open` attribute and  `padding-right: 15px` stylin

[2018-09-10 17:31] sbose78 commented on #4304
Agreed, short term we should show the user which cluster she is on.

In fact, we are always gonna have the default one  even when we have multiple connected environments.

[2018-09-10 17:38] serenamarie125 commented on #4304
ok great, @parvathyvr and i discussed this a bit earlier, and she will be posting a "short term" design solution here at the start of her day tomorrow.  Thanks!

[2018-09-10 17:46] #4296 closed

[2018-09-10 17:53] sbose78 commented on #4304
Thank you Serena and Parvathy!

[2018-09-10 18:32] aptmac commented on #4283
Related: https://github.com/openshiftio/openshift.io/issues/2646

[2018-09-11 00:32] serenamarie125 commented on #3938
@muruGanesan this should move out of In Progress since it's not part of the J Train Goals.  Thank you

[2018-09-11 05:05] #2283 closed

[2018-09-11 07:03] divyanshiGupta commented on #4049
@Veethika do we close all the text-fields on outside-click including the dynamic-fields?

[2018-09-11 07:30] Raunak1203 opened #4309 "Clicking on Iteration freezes the UI"
Click on any Iteration in the side panel freezes the UI

[2018-09-11 08:02] aslakknutsen commented on #4304
We would love not to have that. Instead of overbooking a single cluster in hopes people won't show up at the same time, be able to move users around as needed where there is room. Especially around 'un-archive' etc. Simply use 'all clusters' as a single pool.

[2018-09-11 09:45] #4308 closed

[2018-09-11 09:53] #4279 closed

[2018-09-11 09:53] piyush1594 commented on #4161
Fixed with https://github.com/fabric8io/fabric8-pipeline-library/pull/426

[2018-09-11 09:53] #4161 closed

[2018-09-11 09:54] piyush1594 commented on #4300
Fixed with https://github.com/fabric8io/fabric8-pipeline-library/pull/424

[2018-09-11 09:54] #4300 closed

[2018-09-11 09:57] piyush1594 opened #4310 "[nodejs] Improve utils"
Refactor utils and remove the not required util function. Refactor the code in whole library accordingly

https://openshift.io/openshiftio/Openshift_io/plan/detail/558

[2018-09-11 11:48] samuzzal-choudhury opened #4311 "OSIO analytics platform integration with RACHEL"
## Planner Link
https://openshift.io/openshiftio/Openshift_io/plan/detail/569

### Description
In order to integrate RACHEL with the analytics platform, a new API service has to be developed that will work without OSIO token-based authentication. The new service is going to handle the RACHEL traffic independent of the OSIO traffic and will be then rate limited separately using 3scale gateway using

[2018-09-11 13:09] muruGanesan commented on #3792
I am closing this issue because we would be relooking at this E2E as part of K train.

[2018-09-11 13:09] #3792 closed

[2018-09-11 13:11] rootAvish commented on #4238
Resolved with: https://github.com/openshiftio/saas-analytics/pull/474

[2018-09-11 13:11] #4238 closed

[2018-09-11 13:31] muruGanesan commented on #4294
@serenamarie125, @ljelinkova,  there is no (+) symbol in pipeline card... Because, it would make any sense for the pipeline.
This is an implementation issue.

Please refer to the design.
https://redhat.invisionapp.com/share/WQFA7QEUS#/screens/272611017
<img width="1527" alt="screen shot 2018-09-11 at 9 30 53 am" src="https://user-images.githubusercontent.com/26006817/45363397-6f84b700-b5a5-11e8-83

[2018-09-11 13:40] muruGanesan commented on #4070
I am closing the issue since it is tracked under #4197

[2018-09-11 13:40] #4070 closed

[2018-09-11 13:48] andrewazores commented on #3655
This feature as it currently stands in production (see PR linked above or GIF above) was just demoed in sprint review, and a good point was raised: this new view provides no way for owners to delete their Spaces, but this is functionality is present in the View All Spaces view that this is intended to replace. What is the intended path going forward for owners to delete their Spaces? Should this b

[2018-09-11 13:58] #4303 closed

[2018-09-11 14:09] chmouel commented on #4306
Fixed the EOF error with https://github.com/fabric8-services/fabric8-jenkins-idler/commit/33d06182dfc6ea408df16ef35703776b2c5251ee and deployed to prod, we still have works on the unidling issue,

[2018-09-11 14:17] pbergene commented on #4306
Thanks for the update!

[2018-09-11 14:48] joshuawilson commented on #3502
That makes sense to me.

I also think we need to fix it so that you can click on the nav bar and it closes it.

[2018-09-11 16:18] sdash-redhat commented on #3655
@andrewazores That's a good point! I believe that should the case, the user should be able to delete in My Space.
@catrobson @serenamarie125 @muruGanesan what's your thought on this?

[2018-09-11 17:03] aslakknutsen commented on #4306
No longer effecting prod, but root cause still not fixed. Downgrading to Sev-2

https://chat.openshift.io/developers/pl/tn6egyhtntdapxkwbu6dcrcmeo

[2018-09-11 17:07] Veethika commented on #4049
@tinakurian can you confirm if the issue still exists? I cannot reproduce it.

[2018-09-11 17:56] invincibleJai opened #4312 "Reducing API traffic passing through LSP server"
### Planner link :
https://openshift.io/openshiftio/Openshift_io/plan/detail/625

### Task :

- [x] - For npm ecosystem we make component-analyses call for all dependencies i.e dependencies, dev-dependencies. We can limit it only for Runtime dependencies.
- [x] - For maven ecosystem we make component-analyses call for all dependencies. We can limit it only for runtime and compile dependencies.
- [

[2018-09-11 20:02] piyush1594 commented on #4305
I am not anymore seeing this issue now.

[2018-09-11 23:52] serenamarie125 commented on #4193
When looking at this as a quick win, lets focus on *Investigate having the launcher be part of the IA - Since the launcher is not part of the IA, it presents a number of problems*

[2018-09-11 23:53] serenamarie125 commented on #4195
This will not be addressed as part of J Train

[2018-09-12 02:40] sdash-redhat commented on #4185
The first draft of WF/concept is available here for review:
**https://redhat.invisionapp.com/share/AVO07M22SPQ#/319408218_Slide01**
@serenamarie125 @muruGanesan @catrobson @sunilmalagi

[2018-09-12 03:25] arilivigni opened #4313 "[EPIC] Knative Build CRD and OpenShift working together"
## [EPIC] Knative Build CRD and OpenShift working together
Beyond the initial work from Vincent Batt's [Knative+buildah](https://gist.github.com/vbatts/ab78083700872ca854e46cccc9f18fd5). We need to prove out that Knative builds can replace some small set of use cases that we are using Jenkins for today.  If this part is successful then a follow-on Epic/story can be proven of using Knative CICD.
*P

[2018-09-12 06:10] miteshvp opened #4314 "Implement CVE Audit trail endpoint"
Planner Link - https://openshift.io/openshiftio/Openshift_io/plan/detail/572

[2018-09-12 06:26] abs51295 opened #4315 "Document ecosystem commands to differentiate between direct and transitive dependencies"
### Planner Link

https://openshift.io/openshiftio/Openshift_io/plan/detail/475

### Task List

- [ ] Identify the command(s) required for maven ecosystem.
- [ ] Identify the command(s) required for Node ecosystem.
- [ ] Identify the command(s) required for Go ecosystem.
- [ ] Identify the command(s) required for Python ecosystem.

[2018-09-12 06:33] Veethika commented on #4194
Thank Samir!

[2018-09-12 06:59] abs51295 commented on #4315
Please find the findings here: https://docs.google.com/spreadsheets/d/1xDGVbIfWeAqQIqDBzCBY5CXYG7EkkPFNmzMoaIcf4KI/edit#gid=1303215311

[2018-09-12 07:00] #4315 closed

[2018-09-12 07:13] kwk commented on #4288
@rgarg1 the bug is fixed in prod-preview now. Once we get an approval from UI to update prod it should be fixed in prod as well.

[2018-09-12 09:05] rgarg1 commented on #4288
@kwk Issue is verified to be fixed in prod-preview.

[2018-09-12 09:37] parvathyvr commented on #4304
@sbose78 @serenamarie125 -Below is the Invision link to the mockups.I have provided 3 options.
https://redhat.invisionapp.com/share/UMO0E18P6X2#/319458842_Table_Of_Contents
Please comment in the Invision your suggestions and preferred option.

[2018-09-12 10:47] bartoszmajsak commented on #4162
@joshuawilson is there any progress on this?

[2018-09-12 11:09] ppitonak opened #4316 "Recent spaces always empty in prod-preview"
##### Issue Overview

"Recent spaces" card in "Account home" is always empty, it's a regression in prod-preview, works as expected in prod.

##### Expected Behaviour

It shows a list of spaces that user opened in the recent past.

##### Current Behaviour

Empty

##### Steps To Reproduce

1. create a space
2. close the following wizard (don't create an app)
3. click Menu -> Account home
4. verify t

[2018-09-12 11:11] ppitonak commented on #4316
@joshuawilson  example of failed Jenkins job (space created, project created, recent spaces empty) http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/2229/04-01-afterEach.png

[2018-09-12 11:37] bartoszmajsak commented on #2358
@ibuziuk @gastaldi I think we are using "new UI" right now, aren't we? This can be closed then if you can confirm.

[2018-09-12 12:09] ppitonak commented on #3744
I changed the test but it failed for me once when running tests locally.

Jenkins log contains `Adding annotation 'fabric8.io/bayesian.analysisUrl: https://recommender.api.openshift.io/api/v1/stack-analyses/8f0b00fc7c9849029d868ca5ef8442cb' to Build e2e-0912-1331-914-1`

I tried to refresh space dashboard multiple times but the analytics report is not available even after 25 minutes. The only erro

[2018-09-12 13:57] GeetikaBatra commented on #4219
covered by this [PR](https://github.com/fabric8-services/fabric8-notification/pull/91)

[2018-09-12 13:57] #4219 closed

[2018-09-12 13:58] GeetikaBatra commented on #4218
Covered by this [PR](https://github.com/fabric8-services/fabric8-notification/pull/91)

[2018-09-12 13:58] #4218 closed

[2018-09-12 13:58] kwk commented on #4309
@Raunak1203 what is the state of this bug? Is there an cause analysis or a PR to fix this?

[2018-09-12 14:01] kwk commented on #4288
@rgarg1 I'm talking about this issue which has no information: https://github.com/openshiftio/openshift.io/issues/4309

[2018-09-12 14:08] catrobson commented on #3655
@sdash-redhat You should only be able to delete spaces that you own, so I don't think we need this in the search dialog.  We should only need to allow for deletion on the my spaces list.  I did notice that we do have "remove space" in the kabob menu there now.  In the design we actually specified two behaviors:  "Delete space" (when it is owned by me), and "Leave space" (When it has been added to

[2018-09-12 14:36] jiekang opened #4317 "Filtering deployments does not affect card visibility"
##### Issue Overview

Applying a filter to the deployments page no longer affects visibility of the deployment cards.

##### Expected Behaviour

Apply filter. Cards that do not match are not shown.

##### Current Behaviour

Apply filter. No filtering occurs.

[2018-09-12 14:59] stevengutz commented on #1160
Raising the priority so someone hopefully fixes/closes this old bug

[2018-09-12 15:47] jiekang commented on #4283
This is related to a regression commented on in https://github.com/fabric8-ui/fabric8-ui/pull/3282#issuecomment-416226814

The work items widget in the space dashboard should list work items for the space that the dashboard represents, not other spaces.

It looks like there hasn't been any response though. @sanbornsen Have you had any time to look at this?

[2018-09-12 16:03] piyush1594 commented on #763
Fixed with https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/37

[2018-09-12 16:03] #763 closed

[2018-09-12 16:04] piyush1594 commented on #4310
Fixed with https://github.com/fabric8io/fabric8-pipeline-library/pull/429

[2018-09-12 16:04] #4310 closed

[2018-09-12 17:18] piyush1594 opened #4318 "Move jenkinsfile to /.openshiftio folder"
https://openshift.io/openshiftio/Openshift_io/plan/detail/583

[2018-09-12 17:20] piyush1594 opened #4319 "Integrate and Test Maven Boosters with New Pipeline"
https://openshift.io/openshiftio/Openshift_io/plan/detail/582

[2018-09-12 17:21] piyush1594 opened #4320 "Document API's of new pipeline"
https://openshift.io/openshiftio/Openshift_io/plan/detail/581

[2018-09-12 17:22] piyush1594 opened #4321 "Update the upstream nodejs boosters with the application.yaml as required"
https://openshift.io/openshiftio/Openshift_io/plan/detail/580

[2018-09-12 18:19] yzainee commented on #4221
https://github.com/fabric8-analytics/fabric8-analytics-notification-scheduler/pull/36

[2018-09-12 19:32] bartoszmajsak commented on #4321
I'm not really sure what exactly is the goal of this task, but @piyush1594 please get in touch with @gastaldi and his team about that - best through their mailing list https://groups.google.com/forum/#!topic/fabric8-launcher, as they already have such descriptor files in place.

[2018-09-12 19:42] serenamarie125 commented on #4188
@muruGanesan can you add a mockup ( or invision) which adds "Log an Issue" in the Help menu between Documentation & About OpenShift.io ?

[2018-09-12 19:59] serenamarie125 commented on #4197
Look at this document for context :  https://docs.google.com/document/d/199NSMJUOCyjbO-BBtW0rIomO33ITn43O3VRiYJ8KobU/edit

[2018-09-13 00:45] serenamarie125 commented on #4304
@sbose78 @slemeur @sspeiche are you ok with iotuib 2 (in above Invision) for an immediate change?

[2018-09-13 04:13] sbryzak opened #4322 "Cannot import user profile image from GitHub"
On the user profile page, clicking the "Import from GitHub" link returns an error, "Unable to Link Image".  Link to GitHub is up to date.

![image](https://user-images.githubusercontent.com/165507/45466735-485eee80-b739-11e8-9102-a956211e959d.png)

[2018-09-13 05:16] rohitkrai03 commented on #4322
@sbryzak I could not reproduce this issue on prod-preview and local. It seems that there is already a fix in place but has not reached prod yet.

[2018-09-13 05:47] piyush1594 commented on #4321
Hey, @bartoszmajsak Thanks for raising the concern. The title of the issue was not clear and I have updated it. This issue is regarding the nodejs boosters and I have already raised the PR https://github.com/bucharest-gold/nodejs-health-check/pull/124 here. Hope this clarifies. Thanks

[2018-09-13 05:47] sdash-redhat commented on #4189
This story is addressed in the following first draft wireframe/concept
https://redhat.invisionapp.com/share/F9O152GZN8D
Related to the stories -- #4185, #4186, #4187 and #4189

[2018-09-13 05:47] sdash-redhat commented on #4187
This story is addressed in the following first draft wireframe/concept
https://redhat.invisionapp.com/share/F9O152GZN8D
Related to the stories -- #4185, #4186, #4187 and #4189

[2018-09-13 05:47] sdash-redhat commented on #4186
This story is addressed in the following first draft wireframe/concept
https://redhat.invisionapp.com/share/F9O152GZN8D
Related to the stories -- #4185, #4186, #4187 and #4189

[2018-09-13 05:48] sdash-redhat commented on #4185
Updated wireframe here 0.2. 👍
This story is addressed in the following first draft wireframe/concept
https://redhat.invisionapp.com/share/F9O152GZN8D
Related to the stories -- #4185, #4186, #4187 and #4189

[2018-09-13 06:30] jarifibrahim commented on #4309
Observation (on prod-preview and prod)

All newly created workitems are assigned to the **FIRST iteration** in the list of iterations instead of the root iteration.The payload being sent from the frontend **contains ID of the first iteration instead of the root iteration**.

Not sure if this could cause any problems.

[2018-09-13 06:35] sahil143 commented on #4309
@jarifibrahim can you tell me the steps for this. I'm not able to reproduce this problem. For me all newly created WorkItems have root iteration assigned to them on prod-preview.

[2018-09-13 06:46] jarifibrahim commented on #4309
@sahil143 This can't be reproduce on prod-preview. My bad. But it can be reproduced on prod.
Try this
1. Make sure you have atleast one iteration
2. Create a workitem. Notice the iteration in quick preview. It should be the **root iteration**.
3. Click on the iteration in side panel
4. Go back to the main list. (click on `workitems` in case of Agile space).
5. Create a workitem. Notice the iterati

[2018-09-13 06:52] ibuziuk commented on #2358
Just tested on production and run command `mvn compile spring-boot:run` has been added by default. Closing

[2018-09-13 06:52] #2358 closed

[2018-09-13 06:58] jarifibrahim commented on #4309
@Raunak1203 we have a PR https://github.com/fabric8-ui/fabric8-planner/pull/2788 ready to fix build issues but we cannot merge it untill this issue is fixed. The PR build (e2e tests) would fail without the fix for this issue..

[2018-09-13 08:08] jarifibrahim commented on #4309
Looks like the issue was introduced by https://github.com/fabric8-services/fabric8-wit/commit/7ab24ac099a9316843c3044d1ad80dc4e0758934

Steps to reproduce
1. Pull both the docker-compose files from https://gist.github.com/jarifibrahim/4a0f3e6fc6f510b38a7b3090496a2f79
2. Run `docker-compose -f docker-compose-bad.yml up` (contains https://github.com/fabric8-services/fabric8-wit/commit/7ab24ac099a931

[2018-09-13 08:08] slemeur commented on #4304
Yes option2 is the one that I find the best.

I added few comments in the option 3 - page 13. I think they are applicable
to option 2 too. cc @parvathyvr

Thanks

On Thu, Sep 13, 2018 at 2:45 AM, Serena Chechile Nichols <
notifications@github.com> wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2018-09-13 08:18] kwk commented on #4309
@jarifibrahim can you post the iteration you've created here please? Then @tinakurian and I can have a look at it. I wonder if payload from `https://<YOUR-HOST>/api/iterations/<ITERATION-ID>` looks interesting, e.g. bad iteration path or resolved path.

[2018-09-13 08:28] jarifibrahim commented on #4309
@kwk This was the request made from browser
[code]

and this was the response received
[code]

[2018-09-13 10:42] muruGanesan commented on #4188
@serenamarie125
Please find the first cut concept:
https://redhat.invisionapp.com/share/HZO1B3WSATV#/319728954_4188_LogIssue

[2018-09-13 11:12] bartoszmajsak commented on #763
@piyush1594 did we run PR builds to verify that? Can you point me to the booster repos?

[2018-09-13 11:29] piyush1594 commented on #763
@bartoszmajsak I tested @hrishin PR https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/36 using my repo https://github.com/piyush1594/test-ci-maven

[2018-09-13 11:31] sspeiche commented on #4304
I have no strong reaction to any of the options (good or bad).

[2018-09-13 11:55] miteshvp commented on #4224
Looks like all the P1 and P2 along with some other issues are handled.
1. https://github.com/openshiftio/openshift.io/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Ateam%2Fanalytics+label%3Atype%2Fbug++is%3Aclosed+created%3A%3E2018-08-23+author%3ArootAvish+
2. https://github.com/openshiftio/openshift.io/issues?q=is%3Aissue+label%3Ateam%2Fanalytics+label%3Atype%2Fbug+is%3Aclosed+created%3A%3E2018-08-23

[2018-09-13 11:55] #4224 closed

[2018-09-13 12:09] ppitonak commented on #4316
@aptmac do you already know which commit broke it? E2E tests are failing because of this issue.

[2018-09-13 12:39] #1240 closed

[2018-09-13 12:41] stevengutz commented on #4162
@adisakala Is this really P1?  This means we drop what we are doing and focus on it.  Isn't it better described as a P2?  High priority rather than critical?

[2018-09-13 13:06] chmouel commented on #4286
jenkins-openshift-base move to CiCO is fully working for CI and CD and updateDownstream shenanigans thing (which is useful i think)

Doing now s2i-config, PR here: https://github.com/fabric8io/openshift-jenkins-s2i-config/pull/199

[2018-09-13 13:10] aptmac commented on #4316
@ppitonak it should be https://github.com/fabric8-ui/fabric8-ui/commit/844b4bfe7cb754ecc4ce9e6655bf677618825760, and my guess is that it's from an uncaught error, which is addressed in https://github.com/fabric8-ui/fabric8-ui/pull/3315

[2018-09-13 13:58] kwk opened #4323 "Have default labels in each space"
I think it makes sense to have a default set of labels for each space that is created. Any suggestions?

[2018-09-13 16:09] #4313 closed

[2018-09-14 03:52] #4221 closed

[2018-09-14 04:12] abs51295 opened #4324 "Promote experimental user scan endpoint of gemini to production"
### Planner Link
TBD

### Task List

- [ ] Make the [experimental](https://github.com/fabric8-analytics/fabric8-gemini-server/blob/master/src/rest_api.py#L160) endpoint as a primary endpoint for user scans.
- [ ] Modify unit tests to reflect the new endpoint schema.
- [ ] Modify the integration tests to reflect the new endpoint schema.
- [ ] Implement unit/integration tests for newly introduced co

[2018-09-14 06:18] sbose78 commented on #4079
Could you please tell me if there's been progress on resolving this?

[2018-09-14 10:04] rohitkrai03 commented on #4322
This is fixed in prod now. Closing it.

[2018-09-14 10:04] #4322 closed

[2018-09-14 12:58] serenamarie125 commented on #4188
@joshuawilson can you get someone to look at this :

[2018-09-14 12:59] serenamarie125 commented on #4188
@muruGanesan can you change the menu item from "Log an issue" to "Log Issue" (be sure that the I is capital)

[2018-09-14 14:09] stooke commented on #2096
A second WIT PR has been added for proxy support

#2284 migrate WIT to use proxy for all deployments API requests
https://github.com/fabric8-services/fabric8-wit/pull/2284

[2018-09-14 15:41] joshuawilson commented on #4188
@serenamarie125 the invision link has the Planner as the 2nd screen. Should the link go to the Planner or to the github issues?

I think that `Log issue` might get confused with "where I go to look at Log issues" vs `Report an issue`. Just my thoughts.

[2018-09-15 00:11] serenamarie125 opened #4325 "Remove duplicate of spaces"
There are 2 "spaces" pages available to the user.  Only one of these should exist
<img width="284" alt="screen shot 2018-09-14 at 8 10 08 pm" src="https://user-images.githubusercontent.com/12504403/45580012-4771ae00-b85a-11e8-8b82-2d83d418bcf7.png">

[2018-09-15 14:30] sbose78 commented on #4189
Hi @serenamarie125 ,

Wondering if the following could be addressed as part of the current work of providing an easy starting point.

CC: @bartoszmajsak
- Should we create the space in the background and expose only 'Create app' to the user because a lot of users have asked "why do I need to create a space?" as an additional step. Example, users evaluating middleware might find the 'Create space'

[2018-09-15 14:34] sbose78 commented on #4304
option (2) looks good @parvathyvr @serenamarie125 .

[2018-09-16 14:30] serenamarie125 opened #4326 "Improve the My Spaces page"
Improve the layout of the My Spaces page:

<img width="1439" alt="screen shot 2018-09-16 at 10 16 56 am" src="https://user-images.githubusercontent.com/12504403/45597480-10ef7c80-b99b-11e8-8ee9-cf79ef5829b1.png">

Issues to be addressed:

- provide context so users know what they are looking at
- list view should be column based

[2018-09-16 14:38] serenamarie125 commented on #4325
Up for internal OSIO UX review before sharing with external stakeholders: https://redhat.invisionapp.com/share/APO2SX65VSZ

FYI @muruGanesan @sdash-redhat @AshishDurgude @parvathyvr @Veethika @sunilmalagi

[2018-09-16 14:45] serenamarie125 commented on #4191
@AshishDurgude @sunilmalagi @muruGanesan
Please provide some design options to make Screen-01 and Screen-02 have a white background rather than black.  It may be worth looking at the [PatternFly Modal Overlay](https://www.patternfly.org/pattern-library/forms-and-controls/modal-overlay/) for some guidance.
For now, I think that we should keep the launcher (Screen-03) unchanged.  Thanks!
**Screen-01

[2018-09-16 18:50] serenamarie125 commented on #4188
@joshuawilson i didn't see the second page.  You are correct, that this is supposed to allow the user to Create a GitHub Issue.
Let's get some guidance from @stacymcauliffe should it be Create Issue or Send us Feedbak

<img width="1015" alt="screen shot 2018-09-16 at 2 48 20 pm" src="https://user-images.githubusercontent.com/12504403/45599780-cc2a0c80-b9bf-11e8-8fc5-61c0cc7f2564.png">

[2018-09-16 18:56] serenamarie125 opened #4327 "Chat with Us should be under Help menu"
The Chat with Us menu item should be under the Help menu, not the user menu.

[2018-09-16 18:56] serenamarie125 commented on #4327
Note: Need to validate this is ok before moving forward

[2018-09-17 01:18] serenamarie125 opened #4328 "NAME column in Codebases page should not be bold"
NAME column in Codebases page should not be bold

[2018-09-17 01:25] serenamarie125 opened #4329 "Collaborators page needs headings and NAME column shouldn't be bold"
Provide designs for this view:
- include column headings
- NAME column should not be bold
- Data should be in columns

[2018-09-17 01:31] serenamarie125 opened #4330 "User should be able to view collaborators & easily add a collaborate when viewing a space"
When viewing a space, the user should
1 - be able to view the collaborators without changing context
2 - be able to add a collaborator without changing context

[2018-09-17 01:53] serenamarie125 commented on #4330
Initial proposal for internal review : https://redhat.invisionapp.com/share/7MO2VNOV5JB#/320201485_OSIO-4330-01
@muruGanesan @sdash-redhat @sunilmalagi @Veethika @parvathyvr @catrobson @AshishDurgude

[2018-09-17 04:43] jarifibrahim commented on #4296
@Raunak1203 can you please verify it again? fabric8-ui was pushed to production 3 days ago and it should have the fix for this issue.

[2018-09-17 06:42] #4309 closed

[2018-09-17 08:39] ljelinkova commented on #4294
@muruGanesan Thanks for your help and I've added platform team to have a look.

[2018-09-17 10:20] sdash-redhat commented on #4326
Search portion concept of this view is a related story can be found here https://github.com/openshiftio/openshift.io/issues/3655

[2018-09-17 10:20] ljelinkova commented on #4009
@serenamarie125 Could somebody from UX team have a look at this?

The issue here is that some users expect the application to be deployed and ready when the pipeline is finished and that is not true. The end of the pipeline means that the deployment was triggered but the application might not be available for several minutes. However, the link to the deployed application is clickable and user gets

[2018-09-17 11:31] hrishin opened #4331 "[nodejs] deployment should apply configmap"
Support configmap example for nodejs

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/309

[2018-09-17 12:44] serenamarie125 commented on #4194
For this task, we should be focusing on the scenario where we are onboarding a new user, thus don't worry about the error states for part of this.

[2018-09-17 13:05] parvathyvr commented on #4304
@serenamarie125 -here is the updated Invision mockup with option2 (also have made modifications based on the invision comments about changing from 'Connected Accounts' to 'Connected Services')
https://redhat.invisionapp.com/share/UMO0E18P6X2#/screens/319458842

[2018-09-17 13:59] serenamarie125 commented on #4304
@sbose78 @aslakknutsen @slemeur final design is above and ready for JTrain

[2018-09-17 14:32] joshuawilson commented on #4304
@sbose78 maybe something for @rohitkrai03

[2018-09-17 14:38] sbose78 commented on #4304
We'll pick it up - thanks @serenamarie125 .
Probably I missed it earlier - my bad. Getting the cluster name displayed in this format "Starter:US East" would be hard and would need some parsing which could break with future cluster URLs.

Is it OK if we just display "starter-us-east-2" ? :)

[2018-09-17 15:41] serenamarie125 commented on #4304
@sbose78 yes i think that's fine.  Thank you

[2018-09-17 19:54] gorkem opened #4332 "Allow workspace creation according to factory configuration"
When we are creating a workspace for a repository with `.factory.json` in it.  Create workspace according to the definiton of `.factory.json`.

[2018-09-18 02:03] serenamarie125 commented on #4330
@catrobson yes - PatternFly shows something here: option 1 example for the [popover](https://www.patternfly.org/pattern-library/widgets/#popover)

[2018-09-18 02:30] serenamarie125 commented on #4304
@sbose78 do i have to add/remove any tags or move into another project column since this is now in your hands?  Let me know

[2018-09-18 02:47] sbose78 commented on #4304
@alexeykazakov  agreed.
@serenamarie125 labels fixed.

[2018-09-18 06:42] sbose78 opened #4333 "Github linking fails in the UI"
1. Login to an OSiO account.
2. If github is connected, disconnect it.
3. Create App -> Try to connect Github. Notice that the code fails.

![screenshot from 2018-09-18 11-47-26](https://user-images.githubusercontent.com/545280/45668766-9f026900-bb3b-11e8-8738-2c93936f285c.png)
![screenshot from 2018-09-18 11-48-25](https://user-images.githubusercontent.com/545280/45668778-a3c71d00-bb3b-11e8-9a25-

[2018-09-18 08:18] corinnekrych commented on #4162
@alexeykazakov I see different ways of doing it:
- either modify osio build script to fetch pdf from https://docs.openshift.io/getting-started-guide.pdf (as it seems this is the place the document is published) and make it available thro osio website via https://github.com/openshiftio/openshift.io/blob/master/webpack.config.js#L149 , we can remove deprecated pdf in https://github.com/openshiftio/o

[2018-09-18 08:40] rohitkrai03 commented on #4333
@sbose78 Raised a PR  - https://github.com/fabric8-ui/fabric8-ui/pull/3324

[2018-09-18 08:40] sahil143 commented on #4075
closing this as the PR merged to reduce the indentation in tree-view.

[2018-09-18 08:40] #4075 closed

[2018-09-18 08:45] sahil143 commented on #3477
Closing this issue because this was fixed with PR https://github.com/fabric8-ui/fabric8-planner/pull/2768. Now, the indentation in the tree view is 20px.

[2018-09-18 08:45] #3477 closed

[2018-09-18 09:16] sbose78 commented on #4333
Thanks @rohitkrai03 ! @corinnekrych could you please help review and merge this?

[2018-09-18 09:30] sanketpathak opened #4334 "Not able to link organisation with test account"
My test account is already linked with my GitHub account. Now for testing purpose I want the repositories to be created under the test organisation. But I'm not able to link organisation with my account.

   Steps:
1. Go to setting
2. Disconnect Github account.

![issue](https://user-images.githubusercontent.com/10252230/45676801-3e315b80-bb50-11e8-850e-35c1a16b8b45.png)

3. Connect account.

![is

[2018-09-18 10:04] sbose78 commented on #4334
![screenshot from 2018-09-18 15-33-03](https://user-images.githubusercontent.com/545280/45680294-31186a80-bb58-11e8-9c24-176541c2c83d.png)

Could you look for the organization in the "Location" dropdown?

[2018-09-18 10:18] sanketpathak commented on #4334
Well, I was not able to see this a moment before but now after deleting the existing organisation, creating a new one, removing third party restrictions and re-logging with github; now able to see this option. Thanks for the help.

[2018-09-18 10:18] #4334 closed

[2018-09-18 11:45] #4333 closed

[2018-09-18 12:04] serenamarie125 commented on #4200
Note: This design work is to be done in the J Train, although development will follow in a later release.

[2018-09-18 12:04] serenamarie125 commented on #4201
Note: This design work is to be done in the J Train, although development will follow in a later release.

[2018-09-18 12:12] #4137 closed

[2018-09-18 12:18] chmouel commented on #4022
reopenning this hasn't been done

[2018-09-18 12:37] chmouel commented on #4022
@bartoszmajsak dockerbuild root thingies,

[2018-09-18 12:47] sdash-redhat commented on #4065
Link to updated WF (0.3) :
**https://redhat.invisionapp.com/share/Y5O30X9AKWV**
@serenamarie125 @aslakknutsen @joshuawilson @muruGanesan @catrobson

[2018-09-18 15:59] catrobson commented on #4330
@serenamarie125 ok, just be aware this will need to be custom built in OSIO since we don't import Bootstrap in to the project.

[2018-09-18 18:28] alexeykazakov commented on #4162
I would get rid of PDF doc completely. But we promoted https://openshift.io/osiogettingstarted.pdf link in our welcome emails. So, while it's fine to kill the doc we need to keep https://openshift.io/osiogettingstarted.pdf link alive but it should redirect to https://docs.openshift.io/

@sbose78 do you know if we now use https://docs.openshift.io/ in our welcome emails?

[2018-09-18 18:32] muruGanesan commented on #4192
There are two parts
Part-1:  'Space dashboard' appears during the application creation flow. - should be removed
Here is the first-cut draft for correcting the screen
https://redhat.invisionapp.com/share/U7O4E0W3A6V

Part-2: Application Creation (Launcher) has some glitches in animation - I will capture the issue and provide UX recommendation soon

[2018-09-18 18:43] sbose78 commented on #4162
Agreed, let's get rid of that. ( Sooner the better ).
We do use https://docs.openshift.io now in our welcome emails.

[2018-09-19 06:05] AshishDurgude commented on #4328
@serenamarie125 @muruGanesan
Here is the invision link: https://redhat.invisionapp.com/share/K2O4OSTQB5M
please review it. Thanks.

[2018-09-19 06:08] AshishDurgude commented on #4327
@serenamarie125 @muruGanesan Here is the invision link:
https://redhat.invisionapp.com/share/9EO4OU7FWAM

please review it. Thanks.

[2018-09-19 07:32] piyush1594 commented on #4320
Closed iwth https://github.com/fabric8io/osio-pipeline/pull/29

[2018-09-19 07:33] #4320 closed

[2018-09-19 07:35] piyush1594 opened #4335 "Improve Deploy API to be able to apply all resources"
Improve the deploy API so that it should be able to apply all resources processed from template file

https://openshift.io/openshiftio/Openshift_io/plan/detail/629

[2018-09-19 09:34] vikram-raj commented on #4175
@bartoszmajsak I am not able to reproduce this in prod. I think Its already fixed in this PR https://github.com/fabric8-launcher/ngx-launcher/pull/352. Can you please check it again?

[2018-09-19 10:11] rohitkrai03 commented on #4304
@sbose78 The cluster URL we get from user attribute is like https://api.starter-us-east-2a.openshift.com/. That means we'll have to extract cluster name first and then show the actual URL inside a tooltip on hover.

[2018-09-19 10:36] sbose78 commented on #4304
Rohit, could you check https://api.openshift.io/api/user/services ( with user token ) to get the console url and other info you would need?

[2018-09-19 10:41] ibuziuk commented on #3463
@eivantsov am I correct that we can close this one since the upstream issue is resolved https://github.com/eclipse/che/issues/9621 ?

[2018-09-19 11:07] ibuziuk commented on #2152
@bartoszmajsak sorry for the late response. Basically, `-f`  should fix the first part of the problem since thornail does not handles `-f` option. However, I see that PR is still not merged upstream so we still can not run the sample via coommand
@dkranz current workaround is executing the tests via run command which disables tests during the build or skipping tests via `-DskipTests=true` in termi

[2018-09-19 11:14] eivantsov commented on #3463
Yes, it can be closed

[2018-09-19 11:36] muruGanesan commented on #4328
@AshishDurgude, I believe the below screen address this issue:
https://redhat.invisionapp.com/share/9EO4OU7FWAM#/320723982_Screen_Shot_2018-09-19_At_11-30-38_AM

[2018-09-19 11:37] ibuziuk commented on #3463
@eivantsov hmm.. I thought that we could remove now maven options set in the build command [1] for wildfly but it is still failing. And btw it is started to fail also from terminal. So now behavior is pretty consistent in a bad way ;-)  setting MAVEN_OPTS='-Xmx500m' ` fixes the issue, so wondering what would be the best way to tackle it by default ?

[1] https://github.com/redhat-developer/rh-che/

[2018-09-19 11:42] eivantsov commented on #3463
Well, the original issue was about consistency. It is consistent now.  Yes, MAVEN_OPTS may be required for some projects

[2018-09-19 11:43] muruGanesan commented on #4192
There are two parts
Part-1: 'Space dashboard' appears during the application creation flow. - should be removed
Here is the first-cut draft for correcting the screen
https://redhat.invisionapp.com/share/U7O4E0W3A6V

Part-2: Application Creation (Launcher) has some glitches in animation - I will capture the issue and provide UX recommendation soon
https://redhat.invisionapp.com/share/U7O4E0W3A6V#/3

[2018-09-19 15:10] serenamarie125 commented on #4196
@Veethika as a first step, please move this into In Progress as you begin, and let's investigate the scope of this work here: https://docs.google.com/document/d/1o72wUnVXv9KYtu2TwFnzCQkSXsZqVxqwKDLQQgItK_A/

[2018-09-19 16:37] serenamarie125 opened #4336 "Open button is not always present on the codebase card - responsive issue maybe?"
##### Issue Overview

When accessing workspaces from the codebase card, there is an issue with the visibility of the Open button.

I'm running Chrome on a Mac.  It looks like a responsive issue.  I have a recording here to capture what i'm talking about: http://recordit.co/ydudg5lxnb

##### Expected Behaviour
User should always be able to view and click on the Open button
##### Current Behaviour
t

[2018-09-19 16:37] serenamarie125 commented on #4336
@alexeykazakov FYI

[2018-09-19 16:39] serenamarie125 commented on #4192
@muruGanesan @AshishDurgude thank you for taking the time to capture this!  I'm asking a few devs about next steps.

[2018-09-19 17:03] muruGanesan commented on #4197
@serenamarie125 , @catrobson , @Veethika, @sunilmalagi
Please look at the updated flow and provide your feedback.
https://redhat.invisionapp.com/share/7VO5831SYNF#/320872289_Pipeline

[2018-09-19 17:57] catrobson commented on #4197
Is there documentation or notes that go along with these screens?  I'm unclear on your proposal given just screens with some numbers on top with no notes/callouts/additional doc.

[2018-09-19 21:48] muruGanesan commented on #4197
@catrobson, @serenamarie125, updated with interaction notes. Please let review the same and provide your feedback.

[2018-09-19 21:52] muruGanesan commented on #4193
@serenamarie125, as we discussed, this is similar to #4197, Please review the UX recommendation and let me know if this issue is NOT addressed.
https://redhat.invisionapp.com/share/7VO5831SYNF#/320872291_Start-App

[2018-09-20 08:17] sdash-redhat commented on #3791
There is a question as to if showing deployments should be available in OSIO, and if so couldn't we just link out to OpenShift.

Based on the number of discussions, we have consensus to stop the design work regarding the deployments page.

Closing this issue.
@serenamarie125 @muruGanesan @joshuawilson @aslakknutsen @sunilmalagi

[2018-09-20 08:17] #3791 closed

[2018-09-20 08:18] sdash-redhat commented on #4065
There is a question as to if showing deployments should be available in OSIO, and if so couldn't we just link out to OpenShift.

Based on the number of discussions, we have consensus to stop the design work regarding the deployments page.

Closing this issue.
@serenamarie125 @muruGanesan @joshuawilson @aslakknutsen @sunilmalagi

[2018-09-20 08:18] #4065 closed

[2018-09-20 09:05] muruGanesan commented on #3704
Since it covered under #4191, I am closing this issue.

[2018-09-20 09:05] #3704 closed

[2018-09-20 09:42] rohitkrai03 commented on #4304
@sbose78 I did check the API endpoint but it didn't give me any extra information than what i already had with user data. That API also returned cluster URL only.

[2018-09-20 09:53] sbose78 commented on #4304
Yeah, the cluster name is available nowhere at the moment - you'll have to parse it out. What /api/user/services gives you is the cluster console url which the user should be able to visit on clicking the URL.

[2018-09-20 10:31] chmouel commented on #4024
Done for maven and builder clients, archived caddy-server since not used anymore,

[2018-09-20 10:32] #4024 closed

[2018-09-20 11:08] abs51295 opened #4337 "[VSCode] Stack report generation stuck in infinite loop"
##### Issue Overview

Stack report generation is stuck in infinite loop for https://github.com/facebook/react.

##### Steps To Reproduce

1. Run stack analysis on workspace for https://github.com/facebook/react.

##### Additional Information

By looking at the logs, we can see that the extension is failing while trying to parse the following `npm list` output:
[code]
But even after failing to pars

[2018-09-20 12:16] Raunak1203 opened #4338 "[Intermittent issue][Planner]: The planner screen gets stuck with a spinner on the left and no work items"
The planner screen gets stuck with a spinner on the left and no work items.

[2018-09-20 15:12] muruGanesan commented on #4185
@serenamarie125, @catrobson, @sdash-redhat , @AshishDurgude
Please review our UX proposal
https://redhat.invisionapp.com/share/E7O609F8T9W#/321098831_Proposed_Screen_Create-Space

[2018-09-20 17:31] catrobson commented on #4185
@parvathyvr @Veethika FYI for your review as well.

I've added a few comments on the InVision document.

[2018-09-20 18:33] aptmac commented on #2196
Functionality for removing deleted spaces from recent spaces has been added in https://github.com/fabric8-ui/fabric8-ui/pull/3211.

[2018-09-20 18:33] #2196 closed

[2018-09-20 23:19] serenamarie125 commented on #4192
@mindreeper2420 might you be able to look into the issues that we mention above and the suggested solution?  I spoke with @catrobson earlier today and we were wondering if you could take a quick look to scope the effort, and then discuss with Catherine to see if you had time to address this in the next week or so.

[2018-09-21 01:11] muruGanesan commented on #4194
@serenamarie125, I believe that new user flow would start from 1. 'Space creation' and then 2. Application creation. - correct me if I am wrong.

@Veethika, I believe you might have finalised the empty state and starting points.
I am curious to know what direction we are heading towards .i.e. as per your discussion with Serena, Steve Speicher and Steve Gutz, are we going to start with "an applicat

[2018-09-21 04:09] sdash-redhat commented on #4198
@serenamarie125 @catrobson @muruGanesan
Appears that it has overlap with  #4197 - 'Analyze Dashboard: Address issues with after app creation'

[2018-09-21 04:54] kishansagathiya opened #4340 "Jenkins in idle-unidle loop for some namespaces"
For certain namespace jenkins is idle-unidle loop ( there is no waiting time of 45 minute before idling, and it unidles automatically after idling)

@gorkem @sthaha

[2018-09-21 05:07] kishansagathiya commented on #4340
the number of Jenkins pods is a flat graph on zabbix

[2018-09-21 07:05] chmouel opened #4341 "Jenkins Proxy proper external validation"
Jenkins Proxy is not validating properly the external requests from Github before passing them to Jenkins, let's investigate how we can make this better,

[2018-09-21 08:14] yzainee commented on #3971
Total manifests injected : 27936
Total EPVs : approx 500- 600k

[2018-09-21 09:41] #3971 closed

[2018-09-21 09:56] yzainee commented on #3970
Total manifests injected : 27936
Total EPVs : approx 500- 600k
Out of these, 900 manifests are from angular stack.

[2018-09-21 09:56] #3970 closed

[2018-09-21 12:51] stevengutz commented on #1375
Can't we just fix this?  Seems like it should be pretty simple to add an image.

[2018-09-21 13:06] mindreeper2420 commented on #4192
@serenamarie125 I can take a look. I know that this process uses two different modules, so that will have to be taken into account for solutions/effort. I'll speak with Dan L. too, as he worked with me on the initial implementation of the two Creation and Naming overlay screens.

[2018-09-21 14:36] RickJWagner opened #4342 ""Runtime is already started" error."
##### Issue Overview

OSIO won't start workspace.

##### Expected Behaviour

Workspace can be started and used.

##### Current Behaviour

OSIO reports "Runtime is already started".

##### Steps To Reproduce

1. Make a new project, based on a Java Maven project
2. Use it.  At end of day, close browser.
3.  Next day, try to start workspace again.

##### Additional Information

A Google search of the

[2018-09-21 14:37] RickJWagner commented on #4342
![image](https://user-images.githubusercontent.com/524520/45887653-e5490980-bd81-11e8-81d8-346346c855c7.png)

[2018-09-21 14:45] ibuziuk commented on #4342
@RickJWagner hmm.. workspace should have been idled. Does it help if you try to stop / start the workspace via dashboard ?

[2018-09-21 15:41] RickJWagner commented on #4342
Hi Ilya,
Thanks for the quick response.
The Che dashboard didn't offer my any workspaces to operate on (as seen in picture above).
I tried going to the oc command line to kill the Che pod, as expected a new one restarted.  This one failed as well.
I next tried deleting the OSIO codespace and making a new workspace (re-importing my code from Github), but I get a message that OSIO knows the workspac

[2018-09-21 16:05] ibuziuk commented on #4342
looks like you are hitting - https://github.com/redhat-developer/rh-che/issues/899
Could you try to login into your oso to  `*-che` namespace and provide info about what resources do you have there ?

[2018-09-21 16:14] RickJWagner commented on #4342
Hi @ibuziuk ,
Sure.  Here's what I've got:

Using project "rhn-support-rick-che".
[rick@DESKTOP-C47TI0G ~]$ oc get all
NAME                                           DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
deploy/workspacegxf1bu4fi8qx2z3s.dockerimage   1         0         0            0           36m
deploy/workspacesg8b7x4b0sllbass.dockerimage   1         1         1            1

[2018-09-21 19:12] mindreeper2420 commented on #4192
@serenamarie125 a couple of things I noticed:

1) I'm not seeing any odd animations when starting in a Space and adding a Codebase. The animation from the overlay to the Launcher is smooth, and I was unable to witness the awkward sliding motion of the vertical step indicator that was noted in the doc. This could just be my browser, but I'm not sure. Leaving the Launcher and returning to the Space

[2018-09-21 21:04] serenamarie125 commented on #4198
@sdash-redhat
Yes!  #4197 deals with the applications card, so avoid that
Re: #4187 I wouldn't think that affects the content of the dashboard cards themselves, do you?

[2018-09-22 13:13] ibuziuk commented on #4342
@RickJWagner due to rh-che issue with idling during rollout update there are some untracked deployments in the `*-che` namespace. Am I correct that `https://che.openshift.io/dashboard/` shows that you have no workspaces running? If this is the case, please, try to execute the following command in order to cleanup the untracked workspace resources:

`oc delete all -l che.workspace_id`

[2018-09-23 00:50] sdash-redhat commented on #4198
Thanks, @serenamarie125 for confirming :) Will avoid #4197 part.

True, regarding #4187, it won't impact the dashboard card themselves, but only the state transitioning to that dashboard. Will explore and share.

[2018-09-23 10:32] ibuziuk commented on #2366
@RickJWagner are you still able to reproduce this problem ?

[2018-09-23 16:00] markottaviani commented on #3667
@lordofthejars with 3.10 now GA'd are there any plans to take a fresh look at flux?

[2018-09-23 23:54] serenamarie125 commented on #4192
Just re-tested as well @mindreeper2420.  No longer reproducible - maybe someone fixed it purposefully or inadvertently ?  Regardless, i will close.  Thanks for looking into it!

[2018-09-23 23:54] #4192 closed

[2018-09-24 06:44] invincibleJai commented on #4337
Thanks @abs51295 , let me take a look.

[2018-09-24 06:52] #4335 closed

[2018-09-24 06:53] piyush1594 commented on #4335
Closed with https://github.com/fabric8io/osio-pipeline/pull/33

[2018-09-24 06:59] piyush1594 opened #4343 "Update osio-pipeline to process resources of same kind from different template file"
Update osio-pipeline to process multiple resources of the same kind from multiple template file and can be passed to build and deploy API.

https://openshift.io/openshiftio/Openshift_io/plan/detail/673

[2018-09-24 07:01] yzainee opened #4344 "Implement node support at API server"
Planner Link:

Tasks:

- [ ] Discuss and identify the approach to be taken for integrating node projects

- [ ] Provide a plugin which takes in giturl as an input from the build

- [ ] Make a call for stack analysis

[2018-09-24 07:08] yzainee opened #4345 "Implement node support at Gemini server"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/674

**Tasks:**

- [x] Parse the lock file to get the deps (direct & transitive)

- [x] Use the deps to scan for CVEs

[2018-09-24 07:38] jarifibrahim commented on #4338
I think this has been already been fixed by @sahil143. @Raunak1203 can you please check if this is still reproducible.

[2018-09-24 08:10] yzainee opened #4346 "Implement notification support"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/675

**Tasks:**

- [ ] The notification should get called to send an email for the CVEs found

[2018-09-24 08:14] yzainee opened #4347 "Integrate the workflow"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/676

**Tasks:**

- [x] Test that all the components are working together

[2018-09-24 09:16] Raunak1203 commented on #4338
No @jarifibrahim this issue is not reproducible always

[2018-09-24 09:50] #4336 closed

[2018-09-24 10:20] ljelinkova commented on #4215
This issue still occurs - is there any progress here?

[2018-09-24 10:33] ljelinkova commented on #4020
Is there any update on this issue?

[2018-09-24 10:41] stevengutz commented on #2587
Lowering to SEV3 since it's more of annoyance than an critical failure

[2018-09-24 10:43] stevengutz commented on #2611
@l0rd Since this is a duplicate and #2358 is closed, can't this be closed?

[2018-09-24 10:55] sahil143 commented on #4338
@Raunak1203 I'm not able to reproduce this issue. Tried many times.

[2018-09-24 11:31] kishansagathiya commented on #4305
@piyush1594 Let's close this. Will reopen if this happens again.

[2018-09-24 11:55] piyush1594 commented on #4305
Yup, not seeing it now. Closing this. Thanks

[2018-09-24 11:55] #4305 closed

[2018-09-24 12:28] sthaha commented on #3467
I am going to close this since it isn't a bug rather a feature request. Lets open up a story in planner instead when we find a need for it.

[2018-09-24 12:28] #3467 closed

[2018-09-24 12:51] RickJWagner commented on #2366
Hi @ibuziuk,
I'm not able to reproduce this issue, so this one can be closed.
Thanks,
Rick

[2018-09-24 12:51] #2366 closed

[2018-09-24 12:51] sthaha commented on #3949
Closing this since the utility seems useful to run tests locally.

[2018-09-24 12:51] #3949 closed

[2018-09-24 13:03] ppitonak opened #4348 "Logout doesn't work"
##### Issue Overview

Logout doesn't work

##### Expected Behaviour

When user logs out, he will be redirected to public page, login is necessary to access the platform again

![osio_logout2](https://user-images.githubusercontent.com/445100/45953997-0e7cca80-c00c-11e8-8b3a-2cf5d2f52775.png)

##### Current Behaviour

User sees some stub page and clicking on login brings him back without providing n

[2018-09-24 13:12] Veethika commented on #3999
Because of the changed priorities for the K-train moving this issue back to the backlog.

[2018-09-24 13:58] RickJWagner commented on #4342
HI @ibuziuk,
Thank you for the above suggestion.  I gave it a try, unfortunately it did not clean up the failing workspace.
I am 'off the beaten path' here, I am trying to use a workspace for an unusual use case.  (I am trying to do some Fuse development with a Che recipe that I think is probably not a good fit.)  I am trying to learn more about workspace startup and the objects and processes that

[2018-09-24 13:58] #4342 closed

[2018-09-24 14:03] giacomolm commented on #2980
Is this causing issues like the one below ?

[2018-09-24 14:27] dneary commented on #4342
This is the same symptom I have observed. Glad to hear there is some understanding of the cause, concerned that it was not an isolated incident for me.

[2018-09-24 15:33] aptmac commented on #4348
I've been able to see this, but the problem seems to be with the home `work-item-widget.component`, so it will only occur if trying to logout from the home page. From skimming through the code for the component, it appears that on a logout the component attempts to load work items for the "logout" space .. which is undefined [0]. This was introduced in f8ui 3282 [1] when the component was updated

[2018-09-24 15:52] #4057 closed

[2018-09-24 16:21] #2611 closed

[2018-09-25 00:42] alexeykazakov commented on #4348
@aptmac is this something you can take care of?
cc @rohitkrai03

[2018-09-25 04:55] hrishin commented on #4348
@rohitkrai03 Is's closed accidentally?

[2018-09-25 04:56] rohitkrai03 commented on #4348
@hrishin Sorry.

[2018-09-25 05:16] invincibleJai opened #4349 "Remove reference of planner in stack-report for VSCode extension"
- In VSCode extension currently, we have the reference  of planner as below

![change-display-text](https://user-images.githubusercontent.com/5129024/45994032-6c162300-c0af-11e8-9ef9-7c9864507ca5.png)

Below are the files which needs to be changed

- https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui/blob/master/src/app/stack/card-details/card-details.component.ts#L85

- https:

[2018-09-25 06:04] miteshvp opened #4350 "Analytics services to get direct and transitive dependencies from build/ide extensions"
### Description
Analytics service is consumed either in IDE or on OSIO. Currently for maven, analytics services receives direct and transitive dependencies once the build is successful.

#### Problem
With the new build approach to rely on S2I and openshift platform to run a build, the new problem arises
- S2I provides post-build hook to run some arbitrary commands after the build. Analytics can ge

[2018-09-25 06:10] rohitkrai03 commented on #4348
@alexeykazakov PR raised - https://github.com/fabric8-ui/fabric8-ui/pull/3338/files

[2018-09-25 06:35] sunilmalagi commented on #4191
Here is the Invision Link:
https://redhat.invisionapp.com/share/2MO880J6SUZ#/321751189_Cover_Page-App

Also included the Sketch file into Invision Assets section:
https://invis.io/a/Y932GZPRVFDP

[2018-09-25 06:44] invincibleJai commented on #4349
It closed due to fixes in PR description, opening it. It has been fixed. Will close once changes move to prod.

[2018-09-25 07:38] stranvi commented on #2980
Sorry, my problem was that I was just confused with RBAC. While I had created a service account and linked the ACR pull secret with it, my deployment config specifies no service account, so "normal" operations (such as oc rollout latest dc/mydc) are done with the default SA. Linked the external registry pull secret to default SA as well and now pulling works always, not just the first time.

[2018-09-25 08:58] Veethika opened #4351 "Work Item Widget Improvements"
Here are a couple of suggested quick improvements for the work-item widget in the space dashboard:

1) The space work-item widget is not displaying correct data and the bar chart:
<img width="535" alt="screen shot 2018-09-25 at 2 23 03 pm" src="https://user-images.githubusercontent.com/35127763/46003668-bb1f8080-c0ce-11e8-8412-9a53addee513.png">

2) The states should have a direct link to navigate

[2018-09-25 09:12] piyush1594 commented on #4343
closed with https://github.com/fabric8io/osio-pipeline/pull/35

[2018-09-25 09:12] #4343 closed

[2018-09-25 09:28] Veethika commented on #4351
@sahil143 @sanbornsen is it possible to provide a link to the states(Resolved, In progress, Open) that directly takes the user to the respective query page where the list of work-items in that particular state would appear?
+ @serenamarie125

[2018-09-25 09:29] kishansagathiya opened #4352 "All build are not reflected in the UI"
##### Issue Overview

I have sixth build running and seventh waiting for its turn, somehow that UI doesn't show anything after 4th build

##### Expected Behaviour
OSIO should show all builds

##### Current Behaviour
I have sixth build running and seventh waiting for its turn, somehow that UI doesn't show anything after 4th build
![screenshot from 2018-09-25 14-29-06](https://user-images.githubuser

[2018-09-25 09:31] bartoszmajsak commented on #4175
Looks like. Cannot reproduce anymore. Closing. Thanks for the heads up.

[2018-09-25 09:31] #4175 closed

[2018-09-25 10:07] stevengutz commented on #4351
This doesn't sound like a bug to me.  If it's an impediment of some sort we should probably track it in Planner

[2018-09-25 10:09] stevengutz commented on #4349
@invincibleJai @sivaavkd I'm not sure what a status/competed is.  Is this bug now supposed to be closed?

[2018-09-25 10:11] sivaavkd commented on #4349
@stevengutz - It is fixed and is available in staging.  Once we move it to Prod (after saas-analytics PR is merged), we will close.

[2018-09-25 12:35] serenamarie125 commented on #4326
@parvathyvr, based on our latest conversations, I think the proposal is to have the following order:

- PIN
- NAME
- OWNER
- # COLLABORATORS
- # WORK ITEMS
- LAST UPDATED
- KEBAB MENU

the Description should be below the name.

[2018-09-25 12:59] serenamarie125 commented on #4191
@sunilmalagi this looks great - a couple of questions:
1 - it may be worth having the modal aligned with the top banner, as in the PF pattern
2 - I think the location of the buttons on the Create App and Create Space modals - should be bottom right aligned

Here's the modal overlay PF Design patter for reference: https://www.patternfly.org/pattern-library/forms-and-controls/modal-overlay/#design

[2018-09-25 12:59] serenamarie125 commented on #4191
FYI @catrobson

[2018-09-25 15:05] chmouel opened #4353 "POC for a prowl and jenkins-pipeline-runner"
A POC that has prowl and jenkins-pipeline-runner running,

- [ ] what are the limitations and advantages compared to the current infra,
- [ ] can we get rid of proxy/idler along the way,
- [ ] what are others are doing, (i.e: jenkins-x)

OUTPUT:

- [ ] simple POC
- [ ] POC Document

[2018-09-25 18:30] #4348 closed

[2018-09-25 18:41] muruGanesan commented on #4197
I updated based on the UX review comments:
https://redhat.invisionapp.com/share/7VO5831SYNF#/320872291_Start-App.

[2018-09-25 19:59] piyush1594 commented on #4321
PR merged, closing this.

[2018-09-25 21:35] serenamarie125 commented on #4185
@muruGanesan this needs to be reviewed during one of our Mon/Thu Review meetings as well, please add it as an agenda item.

[2018-09-26 04:32] GeetikaBatra commented on #4245
@miteshvp, on it

[2018-09-26 04:51] GeetikaBatra commented on #4245
@miteshvp, It didn't take that long, but the insights are zero.

![screenshot from 2018-09-26 10-19-19](https://user-images.githubusercontent.com/8664238/46057887-a518cb00-c175-11e8-9c59-e75ce08a3f17.png)

[2018-09-26 04:55] GeetikaBatra commented on #4245
Also, one more observation that @invincibleJai brought to my notice is that if we first time open this project in vscode, it takes around 7 minutes to run.

[2018-09-26 05:08] #4245 closed

[2018-09-26 05:17] sunilk747 commented on #4202
@miteshvp The messaging part is done. I have added reason for each case where the stack license is none or unknown and for the above issue conflicting licenses is not showing up because of a bug in stack-report code. I guess jai is working on this. He can add more. cc @invincibleJai

[2018-09-26 05:54] invincibleJai commented on #4202
thanks @sunilk747 , yes I need to look into it. Not started with it yet. Will update once I start with this.

[2018-09-26 06:05] sunilmalagi commented on #4191
Thank you Serena for your inputs,
1. Modal window moved up to match with PF.
2. Button location can be positioned on both side of the form as per PF:
https://www.patternfly.org/pattern-library/forms-and-controls/buttons-on-forms/
We had centre alignment for 'Create App' (Continue - button) and now its moved towards right to align with PF.
Thank you

[2018-09-26 08:10] corinnekrych opened #4354 "Quay-pushed Docker.builder should not embed fabric8-ui source code"
##### Issue Overview

In fabric8-ui, a regression was introduced by https://github.com/fabric8-ui/fabric8-ui/pull/3033

On each PR/master build the unit tests were ran from the docker.builder image 1.0.0 pushed by
[code]
Looking at the CICO log https://ci.centos.org/job/devtools-fabric8-ui/6128/consoleFull, the following commands were ran:
[code]
I do get the same as CentOS CI “only 743 tests” are

[2018-09-26 08:29] rupalibehera commented on #4136
@rohanKanojia , should I close this one as we are going to merge model and client ?

[2018-09-26 08:29] sthaha commented on #4340
I will have a look at this bug again after I add in logs to understand why certain pods are not getting idled/unidled - https://github.com/openshiftio/openshift.io/issues/4215

[2018-09-26 08:31] sthaha commented on #4306
I am going to add more logs to idler to understand why `user-idler` part idles/ unidles pods as a part of solving  https://github.com/openshiftio/openshift.io/issues/4215. Once we have the logs we should have better insights into the "decision" making process of idler which at the moment is hard to figure out without logs.

[2018-09-26 08:32] sthaha commented on #4215
I am going to add more logs to idler to understand why `user-idler` part idles/ unidles pods as a part of solving this bug. Once we have the logs we should have better insights into the "decision" making process of idler which at the moment is hard to figure out without logs.

[2018-09-26 08:38] rohanKanojia commented on #4136
@rupalibehera : ah, yeah. makes sense. Sorry for wasting your time

[2018-09-26 08:40] rupalibehera commented on #4136
closing this issue as kubernetes-model is merged with kubernetes-client details - https://github.com/fabric8io/kubernetes-client/issues/1216

[2018-09-26 08:41] #4136 closed

[2018-09-26 08:53] chmouel commented on #4306
I think we have quite a bit of logs but I guess if you think that helps,

What about some Prometheus checks? send idling/unidling/deployment
etc. ? Maybe we can have some correlations with ELK ?

[2018-09-26 09:38] piyush1594 commented on #4321
Boosters to be updated
 - [ ] https://github.com/bucharest-gold/nodejs-rest-http-redhat (master)
 - [ ] https://github.com/bucharest-gold/nodejs-rest-http-redhat (8.x)
 - [ ] https://github.com/bucharest-gold/nodejs-health-check-redhat (master)
 - [ ] https://github.com/bucharest-gold/nodejs-health-check-redhat (8.x)

[2018-09-26 09:52] invincibleJai opened #4355 "Enable VSCode extension to generate direct and transitive dependencies"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/474

### Task List :

- [x] - Support for direct-dependencies and transitive-dependencies  in `stack-analyses` POST call
- [x] - Impliment changes in VSCode extension to generate direct-dependencies and transitive-dependencies
- [x] - Making stack-analyses call from the extension, post generation of direct/transitive depe

[2018-09-26 09:53] invincibleJai commented on #4355
@abs51295 FYI, pls add if any more tasks are needed.

[2018-09-26 10:18] ljelinkova opened #4356 "Cannot reset environment on prod-preview"
##### Issue Overview

Some of the accounts are unable to reset the environment.

![reset-failed](https://user-images.githubusercontent.com/2078072/46073344-f11f3c00-c184-11e8-88f3-90c57dfe6570.png)

##### Expected Behaviour
The resent environment should be successful
##### Current Behaviour
The reset environment fails
##### Additional Information
This issue does not occur for all users - it does n

[2018-09-26 10:40] Veethika commented on #4194
Based on discussions with various stakeholders, it was understood that users should at least have one application created by the time they land on the space dashboard. This implies that there would never be a situation when the dashboard would have empty states(except the work-item widget that requires to create a work-item in Planner).

Following are the new flows proposed by @serenamarie125 and

[2018-09-26 10:48] rhopp commented on #4356
My account (rhopp-preview) is also affected by this issue.
Here's what I scraped from f8tenant logs:
<details><summary>f8tenant logs</summary>
<p>

[code]

</p></details>

[2018-09-26 11:16] sdash-redhat commented on #4194
Nice explorations!I am assuming the user has created a space name and this flow is engaged after that.

Just one thought that came to my mind was that as creation of work item is there as the part of the dashboard, a user might want to start defining a set of tasks to some team members before even creating a an application -- for example let's say one of the tasks he creates might be about creatin

[2018-09-26 12:15] rhopp commented on #3997
Verified in prod. Thanks!
Closing.

[2018-09-26 12:37] ljelinkova commented on #4172
This issue started to occur on pretty frequent basis approximately in the last 7 days. At first, the build starts in OSIO as number 2 but once it is finished the OSIO UI changes to build number 1.

Are there any additional information, logs etc. that we could provide?
These are screenshots from e2e tests:

1. Build number 2 is started
![05-01-pipeline-info](https://user-images.githubusercontent.co

[2018-09-26 12:41] ljelinkova commented on #3742
This issue started to occur on pretty frequent basis approximately in the last 7 days. At first, the build starts in OSIO as number 2 but once it is finished the OSIO UI changes to build number 1.

Are there any additional information, logs etc. that we could provide?
These are screenshots from e2e tests:

1. Build number 2 is started
![05-01-pipeline-info](https://user-images.githubusercontent.co

[2018-09-26 12:59] muruGanesan commented on #4194
"option-3" looks better.

@serenamarie125, @Veethika,
I too believe that the user is inside the space (i.e. either created or part of a contributor) before starting this application flow.

[2018-09-26 13:09] #4349 closed

[2018-09-26 13:12] piyush1594 commented on #4321
PR's

- https://github.com/bucharest-gold/nodejs-health-check-redhat/pull/50
- https://github.com/bucharest-gold/nodejs-health-check-redhat/pull/51
- https://github.com/bucharest-gold/nodejs-rest-http-redhat/pull/49
- https://github.com/bucharest-gold/nodejs-rest-http-redhat/pull/50

[2018-09-26 13:16] serenamarie125 commented on #4327
![helpmenucontents](https://user-images.githubusercontent.com/12504403/46082295-c7f2b180-c16c-11e8-8a41-e4582bed09a7.png)

[2018-09-26 13:17] serenamarie125 commented on #4188
![helpmenucontents](https://user-images.githubusercontent.com/12504403/46082329-d93bbe00-c16c-11e8-96aa-89d9d135692c.png)

Clicking on Create Issue will navigate to https://github.com/openshiftio/openshift.io/issues in a new browser tab

[2018-09-26 13:28] ppitonak commented on #4172
@joshuawilson can somebody from your team have a look?

[2018-09-26 13:41] Veethika commented on #4194
@stacymcauliffe That's right. With the new flow, the user would be making that choice of choosing between creating and importing upfront.
@muruGanesan @sdash-redhat letting the users define work-items before creating an app might lead to them using Planner as a mere issue tracker, which is a problem we need to address as well. Space is definitely needed for an application to be created, we are yet

[2018-09-26 13:47] joshuawilson commented on #4172
Yes, we can look at it.

[2018-09-26 13:48] joshuawilson commented on #4188
ok, thanks

[2018-09-26 13:58] sdash-redhat commented on #4198
Here is the first draft for internal UX review
https://redhat.invisionapp.com/share/2FO931J79ZU
@muruGanesan @serenamarie125 @catrobson

[2018-09-26 14:06] rupalibehera opened #4357 "Add a Jenkinsfile for "Build Release" option"
https://github.com/fabric8io/fabric8-jenkinsfile-library/tree/master/node

[2018-09-26 14:09] rupalibehera opened #4358 "Add a Jenkinsfile for "Build Release, Rollout to Stage" option"
https://github.com/fabric8io/fabric8-jenkinsfile-library/tree/master/node

[2018-09-26 14:11] rupalibehera opened #4359 "Add a Jenkinsfile for "Build, Rollout to Stage, Approve, Rollout to Run""
https://github.com/fabric8io/fabric8-jenkinsfile-library/tree/master/node

[2018-09-26 18:43] #3388 closed

[2018-09-26 18:45] piyush1594 commented on #4321
All the 4 patches merged, closing this.

[2018-09-26 18:45] #4321 closed

[2018-09-26 21:06] anagavk opened #4360 "Error 400 gotten from URL: https://forge.api.openshift.io/api/osio/launch"
##### Issue Overview

I was getting this error while trying to setup my application in Openshift.IO. I was using the following choices: REST API level 0 + vertx + 4 step build + authorized github account. Refreshing the page and trying this again didn't work.

[2018-09-27 00:05] alexeykazakov commented on #4356
Fixed by https://github.com/fabric8-services/fabric8-auth/pull/668 and https://github.com/fabric8-services/fabric8-tenant/pull/639

[2018-09-27 00:05] #4356 closed

[2018-09-27 00:51] sbose78 commented on #3161
@rohitkrai03 , could you review this?

[2018-09-27 00:52] sbose78 commented on #3096
This couldn't be reproduced. Please re-open if you see this again @RickJWagner .

[2018-09-27 00:52] #3096 closed

[2018-09-27 01:07] sbose78 commented on #2960
When we configure login to happen using RHD directly, instead of via keycloak, the experience would be more uniform. https://github.com/fabric8-services/fabric8-auth/issues/350

Log out of OSiO would imply only logout of OSiO and not RHD. Since RHD is our IDP and needn't be auto logged out as well.

[2018-09-27 01:08] sbose78 commented on #2772
We'll be logging in through RHD directly instead of doing so via keycloak. That would close this issue
https://github.com/fabric8-services/fabric8-auth/issues/350

[2018-09-27 01:10] sbose78 commented on #2757
Hi @serenamarie125 , Do you think we should address this soon? Asking in case this would be part of the information architecture review.

[2018-09-27 01:17] sbose78 commented on #2703
Haven't come across this - closing.
Please re-open if you encounter this again.

[2018-09-27 01:17] #2703 closed

[2018-09-27 01:27] sbose78 commented on #2357
We don't force users to connect github account on login anymore. We only ask them to connect when needed. Closing this.

[2018-09-27 01:27] #2357 closed

[2018-09-27 01:28] sbose78 commented on #3539
should go away when we remove keycloak in the flow https://github.com/fabric8-services/fabric8-auth/issues/350#issue-300327237

[2018-09-27 05:28] yzainee opened #4361 "Dependency files not getting generated in some cases"
##### Issue Overview
The maven dependencies were not getting properly generated in some cases having multi modules

##### Expected Behaviour
maven dependency files should get generated for direct and transitive deps

##### Current Behaviour
For multiple maven modules, its not working as expected

[2018-09-27 08:05] rupalibehera commented on #4359
planner link https://openshift.io/openshiftio/Openshift_io/plan/detail/308

[2018-09-27 08:05] rupalibehera commented on #4358
Planner link https://openshift.io/openshiftio/Openshift_io/plan/detail/307

[2018-09-27 08:05] rupalibehera commented on #4357
Planner link
https://openshift.io/openshiftio/Openshift_io/plan/detail/306

[2018-09-27 08:07] #2456 closed

[2018-09-27 08:32] ppitonak commented on #4121
@ldimaggi is this still happening?

[2018-09-27 08:33] ppitonak commented on #3115
@michaelkleinhenz @nimishamukherjee  can you comment on this?

[2018-09-27 08:42] ppitonak commented on #4283
@sanbornsen any update?

[2018-09-27 09:17] Veethika commented on #3145
Unassigning myself as UX solution has been provided. Please assign again if needed. @Preeticp also please update on the status of this issue.

[2018-09-27 09:27] vikram-raj commented on #3115
@miteshvp @ppitonak ```Add and open``` button will open the detail page of the newly created work item.

I verified it on production and it is working as expected.

[2018-09-27 12:33] hrishin commented on #4278
@ppitonak is it still happening after updating maven central URL?

[2018-09-27 12:40] hrishin commented on #4183
AFAIK this feature may not be available with Jenkins case yet. Is it gonna be the feature request right?

@sthaha @stevengutz

[2018-09-27 12:40] nimishamukherjee opened #4362 "App Creation: Pipeline section does not show up"
**The pipeline options do not show up for some users.**
The users were first time users
They used machines like Mac or Windows
One user who faced this issue was on Safari + Mac
Solution: Refresh the page, and the pipeline options show up.

[2018-09-27 12:43] ppitonak commented on #4278
No, I probably haven't seen this bug since reporting it.

[2018-09-27 12:45] hrishin commented on #4278
Thanks @ppitonak for confirming it. For the time being I'm closing it. If you observe this issue please free to open it again with higher priority.

[2018-09-27 12:45] #4278 closed

[2018-09-27 13:01] hrishin commented on #4017
@ldimaggi this is happening because dialog box checks if Jenkins is running and not idle before eanbling those buttons. What improvement are we expecting here? Better UX?

[2018-09-27 13:13] yzainee commented on #4361
https://github.com/fabric8io/fabric8-pipeline-library/pull/432

[2018-09-27 13:15] ldimaggi commented on #4017
Can we hide that additional dialog? It's confusing to see it displayed for only a fraction of a second.

[2018-09-27 13:17] hrishin commented on #2403
This would go away with OSIO pipeline library. As sooner or later we will move Java projects to new us new pipeline library.

cc: @sthaha @rupalibehera

[2018-09-27 13:37] piyush1594 commented on #4017
@ldimaggi If Jenkins is in the idle state, then it will be there for a long time until it does not get unidle. This box was introduced for that purpose only.

[2018-09-27 14:10] ldimaggi commented on #4017
So - if Jenkins is not idle - then the dialog is only displayed very quickly, correct? Is it possible to check if Jenkins is idle, and if it is not, then not display the dialog?

[2018-09-27 15:14] GeorgeActon commented on #4141
@humaton Are you working on this? It does not show in progress and end of Train is in 3 days

[2018-09-27 16:42] ldimaggi commented on #4121
I think we can close this one - it's been almost 2 months and I do not think the issue is happening now.

[2018-09-27 18:07] #4049 closed

[2018-09-28 01:58] sthaha commented on #2403
Going to mark this as "won't fix" since this will be solved in by the new pipeline - https://github.com/fabric8io/osio-pipeline

[2018-09-28 01:58] #2403 closed

[2018-09-28 02:12] sthaha commented on #4009
From the pipeline side of things, I  think it is better to spend effort on supporting maven builds using the new [osio-pipeline](https://github.com/fabric8io/osio-pipeline) than fixing it in the current [f-p-l](https://github.com/fabric8io/fabric8-pipeline-library)

I am treating this as a "won't fix" since the new pipeline [solves it](https://github.com/fabric8io/osio-pipeline/blob/ef2345a2edf5ff

[2018-09-28 04:19] hrishin commented on #3797
This message is coming from Jenkins
https://github.com/jenkinsci/jenkins/blob/22aa2e6e766074d11249893e3f35e0b99e20d3d0/core/src/main/resources/hudson/model/Messages.properties#L346

To fix such kind of issues. Either we fix this on Jenkins side or need to check plugin or Jenkins provides a timeout message.

[2018-09-28 05:10] #4304 closed

[2018-09-28 05:45] CermakM commented on #4228
@msrb
The research results have been presented in this [Jupyter Notebook](https://github.com/fabric8-analytics/fabric8-analytics-POCs/blob/master/cves/security_patches/research_cve_patch_identification.ipynb).

The decision about further approach and acceptance of the proposal is yet to be made.

[2018-09-28 06:41] sthaha commented on #4183
@ppitonak has this ever worked before?

[2018-09-28 08:12] sunilk747 commented on #4291
Added GWT terms to list of known licenses. Closing this issue.

[2018-09-28 08:12] #4291 closed

[2018-09-28 08:29] #4299 closed

[2018-09-28 13:40] #3389 closed

[2018-09-28 19:33] abs51295 commented on #4324
Blocked on failing e2e tests for https://github.com/fabric8-analytics/fabric8-analytics-server.

[2018-09-29 13:17] Oliboy50 commented on #2980
@giacomolm I have your issue very very frequently on `starter-us-east-1` this week

Have you told openshit maintainers about this?

[2018-09-29 16:52] theangrydev commented on #2980
I am also having this issue with a fresh `starter-us-east-1` with the first attempt at Jenkins install via the catalog

[2018-09-29 18:34] invincibleJai opened #4363 "Stack report insights card details not getting updates on click in prod-preview"
Stack report insights card details not getting updates on click in prod-preview and component-feedback API are failing with 401 as authorization headers are not being set.

[2018-09-29 22:58] gorkem opened #4364 "Openshift.io rebranding"
This is the top level issue to collect and followup different items related to the rebranding of OSIO.

### Priority One
- [ ] [RH Developer Site](http://developers.redhat.com/) OPENSHIFT.IO - Nav Item
- [ ] RH Developer Site OPENSHIFT.IO - [Overview](http://developers.redhat.com/products/openshiftio/overview)
- [ ]  Manage.openshift.com - OpenShift.io tile shown as an active subscription
- [ ] Op

[2018-10-01 05:48] ppitonak commented on #4183
@sthaha I have no idea...I guess that it never worked

[2018-10-01 05:53] AshishDurgude commented on #4330
Hi, @serenamarie125 and @catrobson  I have worked on the visual design on this issue. Here is the InVision link: https://redhat.invisionapp.com/share/MVOBQ1ZRXHZ

[2018-10-01 06:01] kwk commented on #3703
And it should not send the exact time. If I remember correctly, we can only select dates and not times in the UI. So the UI should not care about any time in my humble opinion.

Does it make sense to start an iteration on any other time than midnight or end at midnight? Do we have usecases for this? If not, then maybe the backend needs to interpret the date and ignore the time maybe.

Also, when g

[2018-10-01 06:12] Raunak1203 opened #4365 "404 error on clicking Query tab in planner"
Prod-preview
Steps:
- Open planner
- Click on the Query tab throws 404 error

[2018-10-01 07:37] kishansagathiya commented on #4007
@sthaha had suggested to use slave docker image's ENTRYPOINT to check if it can reach master or not. What I am trying to find is how would slave find the master Jenkins' URL.

[2018-10-01 08:12] ppitonak commented on #3742
It's happening quite often, another example https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/781/console

[2018-10-01 08:19] ppitonak commented on #3742
@joshuawilson can somebody from your team have a look?

[2018-10-01 08:40] Raunak1203 opened #4366 "Newly created areas are not shown in the list"
Prod-preview Steps:
1. Click on settings
2. navigate to areas
3. Add new child area
4. newly created Area is not visible in the list but filtering by area name works.
Please find attached screenshot
![peek 2018-10-01 14-02](https://user-images.githubusercontent.com/34271052/46278368-8fdfda00-c583-11e8-9ded-64536cefa143.gif)

[2018-10-01 09:03] muruGanesan commented on #4197
@serenamarie125, @catrobson
Updated based on "OpenShift.io Sprint Demo" date 26 Sep 18. [I added open che i.e. 'open code ready editor' - button in 'Application setup' page]
https://redhat.invisionapp.com/share/7VO5831SYNF

[2018-10-01 10:12] hrishin commented on #4017
@ldimaggi

Sorry didnt get that.

[2018-10-01 10:32] #4032 closed

[2018-10-01 10:35] #4033 closed

[2018-10-01 11:15] msrb opened #4368 "Design how to store and incorporate feedback from CVE reviews"
Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/718

[2018-10-01 11:56] miteshvp commented on #3243
Closing this since we use different set of E/P/V for testing.

[2018-10-01 11:56] #3243 closed

[2018-10-01 12:08] msrb commented on #3769
This was some problem with Gemini/stack-analysis, but we haven't seen this exception for 2 months. With so many changes in Gemini in the last 2 months, I am going to assume that this was "fixed by accident" by someone.

[2018-10-01 12:08] #3769 closed

[2018-10-01 12:08] #3567 closed

[2018-10-01 12:18] chmouel opened #4369 "Build Team OSD Support: fabric8-build-service"
Provide fabric8-build-service to support OSD

https://github.com/fabric8-services/fabric8-build-service

Documentation:

https://docs.google.com/document/d/1JcL2ZXjxkgTfDLwtpLHzymS0Z-cSo4wEiSc9_QuUUPE/edit#
https://docs.google.com/document/d/16ACdnRF5imhZ2uFrUI9HHboPnUl71ltwSzDVqmcA0S0/edit#

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/721

[2018-10-01 12:23] chmouel opened #4370 "Build Team OSD Support: Integrations plans"
Provide architecture document for how the build tools are going to integrate with the multi environment OSD support.

Doc: https://docs.google.com/document/d/1SRFH_keOjOaHUxPlKyxwLTAxKfKvYMI9Bm3IK1iJYQI/edit#

Planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/720

[2018-10-01 12:29] serenamarie125 commented on #4327
@joshuawilson @christianvogt can we get this on the dev backlog?  Once confirmed, I'll pull off the UX tags.

[2018-10-01 12:33] serenamarie125 commented on #4330
@joshuawilson @christianvogt can we get this on the dev backlog? Once confirmed, I'll pull off the UX tags.

[2018-10-01 12:40] yzainee opened #4371 "Stack Report button doesnt appear for imported node project"
##### Issue Overview

Once the build is successful, we can see the stack report from the dashboard but the stack report button doesnt appear on the build pipeline for imported node projects

##### Expected Behaviour
Stack report button should appear on UI

##### Current Behaviour
Button works fine for maven projects, but doesnt work on node project.

##### Steps To Reproduce

1. Login to openshift

[2018-10-01 12:40] serenamarie125 commented on #4191
I will review the launcher format - whether we take launcher in the modal or wizard

[2018-10-01 12:49] samuzzal-choudhury opened #4372 "Analytics API responds with HTTP error 500 for unauthorized requests"
##### Issue Overview
When analytics API endpoint `/stack-analyses` or `component-analyses` is called with an invalid OSIO token, the API responds with HTTP 500 (Internal Server Error) instead of the expected response code 401 (Unauthorized)

This inconsistent behaviour affects the user experience of the consumers of this service and requires immediate rectification.

cc: @miteshvp @sivaavkd

[2018-10-01 12:51] sunilmalagi commented on #4191
Here is the invision link:
https://redhat.invisionapp.com/share/2MO880J6SUZ#/322787844_Cover_Page-App

[2018-10-01 12:52] sivaavkd commented on #4372
Hi @humaton , based on my discussion with Sam, this is very critical and hence appreciate working on this asap cc @GeorgeActon

[2018-10-01 13:01] sunilmalagi commented on #4191
@stacymcauliffe

[2018-10-01 13:06] serenamarie125 commented on #3633
@serenamarie125 to create a new Issue to capture "How do we introduce a new feature", and then close this issue.

[2018-10-01 13:08] serenamarie125 commented on #4193
@muruGanesan is this ready for review or In Progress?  Please move it to the appropriate state, thanks!

[2018-10-01 13:10] muruGanesan commented on #4197
@stacymcauliffe, could you please review this UX recommendation and help me to align the content consistent with other flows.

[2018-10-01 13:13] parvathyvr commented on #4199
@serenamarie125 below is the Invision link to the wireframes made:
https://redhat.invisionapp.com/share/D7NSUDLB25Z#/318449533_Table_Of_Contents

[2018-10-01 13:17] parvathyvr commented on #4200
The first cut wireframes are posted in invision: https://redhat.invisionapp.com/share/A7NWVO8KZ2S#/318447884_Table_Of_Contents
**Note: These wireframes are under review and not final.**

[2018-10-01 13:41] humaton commented on #4372
This is a problem in handling Exceptions on the side of API server. I am working on a fix.

[2018-10-01 13:41] Preeticp commented on #3145
@michaelkleinhenz @nimishamukherjee currently I see only 'Markdown supported' mentioned in the UX. Is this how we decided to implement this or are we implementing the suggestion made by @sunilmalagi? IMHO the second alternative linking to Markdown syntax is better, however I am not sure if we want two links there or only one. If we decide on one, which one: the RH .md help page or the black friday

[2018-10-01 13:58] humaton commented on #4372
I am not able to reproduce it on prod-preview.
All I get is correct error message: { "error": "Authentication failed - could not decode JWT token"}

[2018-10-01 14:13] parvathyvr commented on #4326
@serenamarie125 here is the invision link to the mockups for review:
https://redhat.invisionapp.com/share/Y7OC1HORWQC#/322844091_Table_Of_Contents

[2018-10-01 15:22] ldimaggi opened #4373 "It can appear as though incorrect totals shown in Planner Backlog Display"
##### Issue Overview

The totals displayed for woriktems in queries are incorrect in the Planner. To illustrate:

![screenshot from 2018-10-01 11-16-58](https://user-images.githubusercontent.com/642621/46298097-3ae49980-c56c-11e8-8ee5-cb5ccfa1b42d.png)

The expected results are for the totals to match the query results.

[2018-10-01 16:54] hrishin commented on #4007
Many slave images could have some fixed `entrypoint`. Instead, can we run init containers here to check if the master is reachable? Unlike previous Jenkins case if init container fails here with `restartPolicy: never` then pod will not try to start and the pod lifecycle can be delegated to  Kubernetes/OpenShift.

[2018-10-01 18:06] giacomolm commented on #2980
Hi @Oliboy50 @theangrydev
I've contacted the free support and they told me they are aware of this issue. In my case was solved after couple of hours, but I had the same trouble two days after: probably they are working on it and the fix is not stable. I will try again to play around tomorrow and I will let you know in case I've the same issue

[2018-10-01 19:53] chmouel opened #4374 "Build Team OSD Support: Fabric8-jenkins-idler"
Meta task to track the OSD support in f8-jenkins-idler.

Some details of the plans here :

https://docs.google.com/document/d/1SRFH_keOjOaHUxPlKyxwLTAxKfKvYMI9Bm3IK1iJYQI/edit#

[2018-10-01 20:43] #3129 closed

[2018-10-02 01:27] serenamarie125 commented on #4325
@AshishDurgude @sunilmalagi please be sure to call the entry "Spaces" and use fa-th as the icon  - my initial invision needs to be updated, with the format of the "My Spaces" page.

Please add these mocks to the GDrive as well

[2018-10-02 01:34] serenamarie125 opened #4375 "Horizontal nav bar should be darker"
When the horizontal navigation bar sits directly under the top banner (masthead), use a dark gray background on the horizontal navigation bar.

There are 3 screens we need to modify:
- Space Settings
- Space Plan
- Space Create

<img width="1435" alt="screen shot 2018-10-01 at 9 29 35 pm" src="https://user-images.githubusercontent.com/12504403/46324408-56c65a80-c5c1-11e8-97ee-05cea8859ad7.png">
<i

[2018-10-02 01:35] serenamarie125 commented on #4375
@sunilmalagi @AshishDurgude can you also do these 3 screens and add the sketch files to the Drive?

[2018-10-02 01:37] sthaha commented on #4007
@hrishin didn't go that path already with jenkins -> content repository and fail? Could you please help me understand why adding this functionality to the the entrypoint script of jnlp container is sub-optimal?

[2018-10-02 01:38] sthaha commented on #4007
@kishansagathiya I meant add the code [here](https://github.com/fabric8-jenkins/jenkins-openshift-base/blob/master/slave-base/contrib/bin/run-jnlp-client) in case it wasn't clear

[2018-10-02 01:52] serenamarie125 opened #4376 "Remove unnecessary onboarding area on the home page"
Remove the dark "onboarding" area on the home page.

<img width="1440" alt="screen shot 2018-10-01 at 9 47 17 pm" src="https://user-images.githubusercontent.com/12504403/46324864-ac036b80-c5c3-11e8-83bf-095edac712f4.png">

[2018-10-02 01:52] serenamarie125 commented on #4376
@sunilmalagi @AshishDurgude please create a version of this page without the "dark on boarding" area & put the sketch file into the GDrive, thanks!

[2018-10-02 04:00] serenamarie125 commented on #4325
This illustrates what I was talking about above.
![osio-006](https://user-images.githubusercontent.com/12504403/46328570-1e7d4700-c5d6-11e8-8633-1d18d9d6fd06.png)

[2018-10-02 04:04] serenamarie125 commented on #4325
Please include 3 screens
[1] Home selected, showing Home selected in the drop-down
<img width="771" alt="screen shot 2018-10-02 at 12 03 05 am" src="https://user-images.githubusercontent.com/12504403/46328688-bf6c0200-c5d6-11e8-9115-0c4bc32f33fd.png">

[2] Spaces selected, showing Spaces selected in the drop-down
<img width="776" alt="screen shot 2018-10-02 at 12 02 39 am" src="https://user-images

[2018-10-02 05:35] pradeepto commented on #4370
cc @alexeykazakov @gorkem

[2018-10-02 08:16] muruGanesan commented on #4193
@serenamarie125, since it is similar to #4197, I am moving this to review phase.

[2018-10-02 08:20] muruGanesan commented on #4186
@serenamarie125, we address this issue as part of #4191,
Here is the Invision link:
https://redhat.invisionapp.com/share/2MO880J6SUZ#/322787844_Cover_Page-App

[2018-10-02 08:34] muruGanesan commented on #4189
@serenamarie125, We covered this issue in #4191 please review the same let me know if we can close this issue.
Here is the Invision link:
https://redhat.invisionapp.com/d/main#/projects/prototypes/15484761

NOTE:
1) The above UX recommendation is under design review and it is NOT for implementation discussion.
2) Once it is ready for implementation, Serena will connect with the engineering team fo

[2018-10-02 08:51] #4141 closed

[2018-10-02 09:38] humaton commented on #4372
hotfix https://github.com/fabric8-analytics/fabric8-analytics-server/pull/387

[2018-10-02 09:47] ljelinkova opened #4378 "Jenkins is not unidled for 1a cluster user"
##### Issue Overview
For our both user accounts on 1a cluster, Jenkins is stuck in idled state and even the reset of environment does not help.

##### Expected Behaviour
The Jenkins is unidled when pipeline starts.
##### Current Behaviour
Jenkins is not unidled when pipeline starts. Reset of environment does not help.
##### Additional Information
This happens only for our 1a accounts. I do not hav

[2018-10-02 11:38] invincibleJai commented on #4363
closing it as fixed.

[2018-10-02 11:38] #4363 closed

[2018-10-02 11:59] scela opened #4379 "Ghost deployment preventing starting of workspaces"
Today I had an apparently unsuccessful start of a workspace and it was showing as red in my workspaces list.

After that I was unable to start any other workspaces. Upon further investigations it turned out that a full clearing 'oc delete all' style was needed for my account to get back in shape.

I didn't have anything useful but one would think this is overkill to restore usability of the accoun

[2018-10-02 12:11] ljelinkova commented on #4378
It seems that Jenkins tries to start but does not pass the readiness probe on time.

![jenkins-log](https://user-images.githubusercontent.com/2078072/46347688-b87fd680-c64c-11e8-8a83-b7a925ee3c5f.png)

[2018-10-02 12:36] invincibleJai commented on #4312
closing it as fixed

[2018-10-02 12:36] #4312 closed

[2018-10-02 13:00] jfchevrette commented on #4378
There is no "jenkins-home" PVC under that namespace, which explains why the jenkins pod refuses to start.

[2018-10-02 13:19] #4162 closed

[2018-10-02 13:28] chmouel commented on #4378
downgradding to SEV2 since that can only occur for a subset of users in sev1

[2018-10-02 14:14] ppitonak commented on #4378
Who is responsible for creating this PVC?

[2018-10-02 14:18] sthaha commented on #4378
@ppitonak it must be created as a part of `init-tenant` so I would say fabric8-tenant-service - https://github.com/fabric8-services/fabric8-tenant.

I am curious to know if we have any logs about tenant initialisation for this namespace.

[2018-10-02 14:46] rhopp commented on #4378
@jfchevrette I don't think it's solely because of that...
For example with my account `rhopp-osiotest2` (id `436a9797-e818-4697-b5d2-648c2068645e`), when I do env reset, the pvc is created, but jenkins deployment fails - pod is created, PVC mounted, I can also observe pod logs (see, that jenkins IS starting), but I think, that the start takes so long, that the deployment fails.

<details>
<summary

[2018-10-02 15:10] chmouel commented on #4378
Thanks for the investigation @rhopp,

@jfchevrette where can we look to see the gluster IO sisue ? this is IO or networking who would shows this,

[2018-10-02 15:28] sthaha commented on #4378
[code]

corresponds to https://github.com/fabric8-jenkins/jenkins-openshift-base/blob/5ff927d8786e9e43ed629236e932fe034e93958d/2/contrib/s2i/run#L308
and `java -jar /usr/lib/jenkins/jenkins.war ` (redacted) seems to take a long time extracting the war file which to me seems like I/O issue (perhaps glusterfs)

[2018-10-02 15:51] rhopp commented on #4378
Gluster monitoring in zabbix:
cluster 1a: https://zabbix.devshift.net:9443/zabbix/screens.php?elementid=55
cluster 2 (for comparison): https://zabbix.devshift.net:9443/zabbix/screens.php?elementid=65

[2018-10-02 20:41] #3339 closed

[2018-10-02 21:11] amisevsk commented on #4379
Potentially related to https://github.com/eclipse/che/issues/11447 or (more likely) https://github.com/eclipse/che/issues/11445 + an issue retrieving userId on restart.

### Background:
Around the time this happened in @scela's namespace, the Che server hit an OOM error which caused it to restart. Due to the issues above, the running workspace either could not be recovered, or recovery was prevent

[2018-10-02 23:03] #4229 closed

[2018-10-03 00:02] sthaha commented on #4007
No, we should submit the patch upstream.

Just because we are going to do this in the `entrypoint` script doesn't mean it should  be any different to how it would be done in `initContainer`. I.E bail out after some retries.

Do you realise the whole point of doing this **NOT** in `initContainer` is because it was [tried once for Jenkins](https://github.com/fabric8-services/fabric8-tenant-jenkins/c

[2018-10-03 06:13] kishansagathiya commented on #4007
@sthaha @hrishin
I am planning a check similar to what we had for initContainer. Let me know if this works.
[code]

[2018-10-03 06:17] ppitonak commented on #4378
@chmouel why did you decrease severity? See the definition of SEV-1 from https://access.redhat.com/support/policy/severity

For at least three users the production system is not functioning and no workaround exists

[2018-10-03 06:20] kishansagathiya commented on #4007
@sthaha not sure what should be the right course of action if we find that network is faulty

[2018-10-03 06:44] chmouel commented on #4007
Just exit 1 IMHO should be fine, at least it would come back to the user as fail instead of stucks,

[2018-10-03 07:02] ibuziuk commented on #3878
PR with the fix has been merged and should be available on prod after the next rollout to production - https://github.com/redhat-developer/rh-che/pull/932

[2018-10-03 07:14] chmouel commented on #4378
@sthaha wasn't there some optimisations done by the che team for the slow gluster io ? maybe we can see if they can fit ?

@l0rd @ibuziuk  do you have some advice maybe of what you have found ?

[2018-10-03 07:15] hrishin commented on #4007
Yes, unlike Jenkins in this case event if` initContainer` fails to execute (assuming worst case) anyways pod won't come-up and Jenkins will try to spin up new slave pod I guess. Isnt it?

[2018-10-03 07:19] chmouel commented on #4378
@ppitonak I assume it's because it's only affects 1a and not everyone, I don't mind really having it in SEV-1 if you want it as is :)

[2018-10-03 08:44] l0rd commented on #4378
@chmouel if you refer to the problem with volumes with more than 20k files [this is the PR](https://github.com/kubernetes/kubernetes/pull/68680) that @benoitf has created. The fix should be available in 3.11. I don't know when it will be available on OSO honestly.

[2018-10-03 09:08] invincibleJai opened #4380 "Dependency editor API calls fails with 400 Bad request"
Dependency editor API calls fails with 400 Bad request , in order to reproduce follow below steps:

1. Opt in to Experimental feature
2. Choose creation of application
3. Select "Create a new codebase"
4. Select a Runtime and mission
5. Observe stack-analyses call from dependency editor fails with 400

<img width="1666" alt="screen shot 2018-10-03 at 2 30 34 pm" src="https://user-images.githubuser

[2018-10-03 09:38] sunilmalagi commented on #4376
@serenamarie125 here is the invision link for the visuals review:
https://redhat.invisionapp.com/share/FHODIIRR3X5#/323334634_-4374_01
&
Here is the sketch file in GDrive:
https://drive.google.com/open?id=1oKYBJifW8xxKp4I0aPe7AwzmCSRHUt7Y

[2018-10-03 09:43] sunilmalagi commented on #4191
@stacymcauliffe @serenamarie125 updated the visuals for 'Create App' based in Stacy's content inputs:
https://redhat.invisionapp.com/share/2MO880J6SUZ#/322787865_Create_App_02

Still awaiting inputs for 'Create Space' info content...

[2018-10-03 09:44] ppitonak commented on #4378
It seems that there are multiple issues here... should I log `persistentvolumeclaim "jenkins-home" not found` error as a new issue?

[2018-10-03 09:54] chmouel commented on #4378
@ppitonak good idea,

[2018-10-03 09:55] chmouel commented on #4378
@l0rd i guess that's would improve the volume mounting slowness but unfortunately not the slow IO writes on gluster,

[2018-10-03 10:07] rhopp commented on #4378
@l0rd @chmouel This issue is unfortunately completely different from the che slow mount problem. In this issue, the mount is pretty quick, because the PVC is empty after env reset (unlike the che mount problem, where the PVC is populated with lot of files)

[2018-10-03 11:01] AshishDurgude commented on #4325
Hi @serenamarie125 below is the InVision link for Visuals
https://redhat.invisionapp.com/share/5SODKG576EU

Also, I am attaching a sketch file google drive link below:
https://drive.google.com/open?id=1iYNbi--p1FS8JEaRa0iK80w2WSEiW5Vb

Please review it. Thanks.

[2018-10-03 12:19] chmouel commented on #4286
Blocked by https://github.com/fabric8-services/fabric8-tenant/pull/634 until it is merged

[2018-10-03 13:17] serenamarie125 commented on #4191
@sunilmalagi can you take the “PatternFly wizard” page out of the invision?

[2018-10-03 13:27] ljelinkova opened #4381 "Space dashboard - work items from different spaces are shown"
##### Issue Overview

When I open space dashboard for any space, I can see all my assigned work items even from different spaces.

##### Expected Behaviour
I should see only work items that are assigned to me AND belong to the current space.
##### Current Behaviour
I can see also work items from different spaces.
##### Steps To Reproduce

1. Create space A
2. Create work item A in space A
3. Creat

[2018-10-03 13:33] ljelinkova opened #4382 "Work items are not deleted when space is removed"
##### Issue Overview
When I create work items in a space, they are not deleted when I remove the space.

##### Expected Behaviour
Work items should be deleted when the space is removed.
##### Current Behaviour
Work items are not deleted when the space is removed.

[2018-10-03 13:38] aptmac commented on #4382
Duplicate?: https://github.com/openshiftio/openshift.io/issues/4283

[2018-10-03 13:38] aptmac commented on #4381
This appears to have been introduced in https://github.com/fabric8-ui/fabric8-ui/pull/3282, and is discussed a bit in a couple places [[0]](https://github.com/fabric8-ui/fabric8-ui/pull/3282#issuecomment-416226814) [[1]](https://github.com/openshiftio/openshift.io/issues/4283#issuecomment-420698369)

[0] https://github.com/fabric8-ui/fabric8-ui/pull/3282#issuecomment-416226814
[1] https://github.c

[2018-10-03 15:53] ibuziuk commented on #4379
Current workaround is manual cleanup of the *-che namespace via `oc delete all -l che.workspace_id` command

[2018-10-03 16:40] sdash-redhat commented on #4198
Based on the last discussion a comparison among the current state and proposed states provided in the WF for internal UX review.
https://redhat.invisionapp.com/share/EXODVV9BYRK

@muruGanesan @serenamarie125

[2018-10-03 19:13] serenamarie125 commented on #4325
Very minor change needed - change "Account home" to "Home".  Thanks @AshishDurgude

[2018-10-03 19:43] joshuawilson commented on #4330
Story created at https://openshift.io/openshiftio/Openshift_io/plan/detail/752

[2018-10-04 03:11] #4176 closed

[2018-10-04 05:11] sthaha commented on #4378
@jmelis I am assigning this to you (need a point of contact) since does not seems like an idler or a jenkins issue but some I/O bound problem .

[2018-10-04 05:54] AshishDurgude commented on #4325
@serenamarie125 I made changes.
InVision link: https://redhat.invisionapp.com/share/5SODKG576EU

Google Drive Link: https://drive.google.com/open?id=1UfdMQSUW2FLBJu45eSA9O7iF7Tep9F4b

[2018-10-04 07:58] ppitonak commented on #4283
Closing in favor of #4381 and #4382

[2018-10-04 08:15] #4283 closed

[2018-10-04 08:48] ljelinkova commented on #4381
Thanks, I've looked into the code and noticed that you filter closed work items on client side. Is that necessary?  Is it possible to retrieve only open issues from work item service?

[2018-10-04 09:06] ppitonak commented on #4382
@aptmac yes, it was an intentional duplicate. The original issue was about two bugs so we split them into two issues.

[2018-10-04 09:36] rupalibehera commented on #3861
The PR link is here
 https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/41

[2018-10-04 10:18] sunilmalagi commented on #4375
Hi @serenamarie125 here is the invision link with visuals created for "Space Settings, Space Plan & Space Create" pages:
https://redhat.invisionapp.com/share/MBOEF1JX4VD#/323634779_Space_Create
&
Source file Sketch version which is completely re-created:
https://drive.google.com/open?id=1AKHGUkSI-eRHWAU5CRKUUoGm4Jql5wvu

[2018-10-04 10:29] nimishamukherjee commented on #330
We have a new epic to track board view - https://openshift.io/openshiftio/Openshift_io/plan/detail/395

[2018-10-04 10:29] #330 closed

[2018-10-04 10:30] #1094 closed

[2018-10-04 10:59] Veethika commented on #4133
This has been implemented.

[2018-10-04 10:59] #4133 closed

[2018-10-04 10:59] nimishamukherjee commented on #1239
Decided to continue with the current label mechanism. Label list closes when we click outside it.

[2018-10-04 10:59] #1239 closed

[2018-10-04 11:00] Veethika commented on #3066
UX solution provided, un-assigning myself.

[2018-10-04 11:01] Veethika commented on #4196
Invision doc: https://redhat.invisionapp.com/share/CJODELCR68H#/323293987_Cover_Page_Template

[2018-10-04 11:13] Veethika commented on #3502
UX Document has been provided.
Removing UX labels and assignment.
@rgarg1 Please assign this to the concerned team.

[2018-10-04 11:18] Veethika commented on #4194
Invision Doc: https://redhat.invisionapp.com/share/3NODELM7JKQ#/323294967_Cover_Page_Template

[2018-10-04 11:29] arilivigni opened #4383 "Move to upstream Maven image"
We want to stay in sync with the upstream image of maven.  We need to convert to using the upstream images and patch any issues upstream if possible or make a subsequent image in the meantime downstream based on the upstream maven image.

[2018-10-04 11:32] arilivigni opened #4384 "Move to upstream slave base image"
We want to stay in sync with the upstream image of slave-base. The upstream image currently works in OSIO.

[2018-10-04 11:55] Veethika commented on #3978
@DhritiShikhar many of the concerns were addressed here #4082
Should this discussion be closed now?

[2018-10-04 11:56] Veethika commented on #3966
@michaelkleinhenz @nimishamukherjee Has there been a previous discussion around this?

[2018-10-04 11:58] ppitonak commented on #4121
Happening right now with account `osio-ci-e2e-001-preview` on prod-preview.

[2018-10-04 12:00] ppitonak commented on #4378
I see the following event in OpenShift console for account `osio-ci-e2e-001-preview` on prod-preview (together with PVC jenkins-home not found)

[code]

[2018-10-04 12:07] DhritiShikhar commented on #3978
@Veethika I will close this issue.

[2018-10-04 12:07] #3978 closed

[2018-10-04 12:51] ppitonak opened #4385 "Non-standard version of Jenkins deployed"
##### Issue Overview

User `osio-ci-e2e-001-preview` has non-standard version of Jenkins deployed

##### Expected Behaviour

Other accouts have version `4.0.109` deployed

##### Current Behaviour

User `osio-ci-e2e-001-preview` has version `7537946a69a222340a7d6f0a9527468cfa995bea-dirty`

##### Steps To Reproduce

1. `oc login`
2. `oc project osio-ci-e2e-001-preview-jenkins`
3. `oc get -o custom-c

[2018-10-04 12:55] chmouel commented on #4385
@matousjobanek could this be related to this which just got merged ? https://github.com/fabric8-services/fabric8-tenant/pull/634

[2018-10-04 13:04] ppitonak commented on #4385
It indeed is a hash of the latest fabric8-tenant commit... what does the `-dirty` part stands for?

[2018-10-04 13:12] MatousJobanek commented on #4385
Hi, yeah that is related to the PR @chmouel has mentioned. So far it is using the same commit info that is used also for health-check - that's why there is also the `-dirty` suffix.
We have agreed on different versioning, but it wasn't part of that PR. The new versioning is implemented here https://github.com/fabric8-services/fabric8-tenant/pull/648 and I'm just waiting for an approval to get it m

[2018-10-04 14:04] Veethika opened #4386 "Create Work-item for the Query Tab"
**Description**
As a user, I want to be able to create a new Work Item from the Query Tab.

**Acceptance Criteria**
- [ ] The user can create a new Work Item from the Query Tab.
- [ ] The new Work Item dialog has the same features as the full detail dialog.
- [ ] When the user selects/changes the Work Item type, the form adapts dynamically to the schema, displaying all needed attribute fields.
- [

[2018-10-04 14:05] Veethika commented on #4386
Invision Doc: https://redhat.invisionapp.com/share/J2O8MP098VX

[2018-10-04 14:05] #4386 closed

[2018-10-04 14:08] Veethika commented on #3707
Removing UX labels, solution has been provided.
@nimishamukherjee can we close this issue?

[2018-10-04 14:10] Veethika commented on #3786
This issue has been taken care of in #4386
https://redhat.invisionapp.com/share/J2O8MP098VX
If the solution works well for the query tab it could be implemented for the Backlog as well.

[2018-10-04 14:12] Veethika commented on #3595
This issue has been taken care of in #4386
https://redhat.invisionapp.com/share/J2O8MP098VX
If the solution works well for the query tab it could be implemented for the Backlog as well.

[2018-10-04 14:12] Veethika commented on #3552
This issue has been taken care of in #4386
https://redhat.invisionapp.com/share/J2O8MP098VX
If the solution works well for the query tab it could be implemented for the Backlog as well.

[2018-10-04 14:29] jfchevrette commented on #4378
The original issue was about jenkins not coming up in the `osio-ci-e2e-001-jenkins` namespace. The jenkins pod sometimes do come up after about 10 minutes, and sometimes will time out. That appears to be due to a known storage issue which is being worked on. We expect the fix to be deployed within the next few weeks.

Ref. https://bugzilla.redhat.com/show_bug.cgi?id=1631834
Upstream PR: https://gi

[2018-10-04 14:50] ppitonak commented on #4121
https://github.com/openshiftio/openshift.io/issues/4378#issuecomment-427040622

[2018-10-04 15:32] invincibleJai commented on #4380
verified changes are prod-preview looks good.

[2018-10-04 15:44] invincibleJai commented on #3744
These failures were due to a diff issue as a result 401s were observed in prod-preview, which has been taken care of now.

[2018-10-04 15:50] invincibleJai commented on #3744
@yzainee yousuf can you pls help with this. Needed your build expertise ;)

[2018-10-04 18:19] piyush-garg commented on #4172
This issue seems like the side effect of #3742 to me. Because in that case the second job of Jenkins get sync to first build of pipeline and the first job of Jenkins gets sync to the second build of the pipeline. One job succeeds and one job fails and it appears opposite to us in OSIO pipeline. Just a thought as I have observed this behavior.

[2018-10-04 18:39] piyush-garg commented on #4009
This issue has been fixed in the new pipeline where Jenkins job fails if the deployment fails. This train we are integrating java boosters in new pipeline and with that, this will get resolved.

[2018-10-04 18:41] piyush-garg commented on #3935
This issue seems like coming from Jenkins-sync plugin

[2018-10-04 18:46] joshuawilson commented on #4327
Add this to the plan at https://openshift.io/openshiftio/Openshift_io/plan/detail/688

[2018-10-04 18:47] #4327 closed

[2018-10-04 18:51] christianvogt commented on #4328
Dev story: https://openshift.io/openshiftio/Openshift_io/plan/detail/780

[2018-10-04 18:52] #4328 closed

[2018-10-04 18:55] christianvogt commented on #4329
dev story: https://openshift.io/openshiftio/Openshift_io/plan/detail/781

[2018-10-04 18:55] #4329 closed

[2018-10-04 19:03] joshuawilson commented on #4193
Added to the dev plan at https://openshift.io/openshiftio/Openshift_io/plan/detail/778

[2018-10-04 19:18] christianvogt commented on #4325
dev story: https://openshift.io/openshiftio/Openshift_io/plan/detail/782

[2018-10-04 19:18] #4325 closed

[2018-10-04 19:28] christianvogt commented on #4191
dev story for create space / app: https://openshift.io/openshiftio/Openshift_io/plan/detail/785

[2018-10-04 19:30] christianvogt commented on #4326
dev story: https://openshift.io/openshiftio/Openshift_io/plan/detail/786

[2018-10-04 19:38] serenamarie125 commented on #4185
@AshishDurgude @sunilmalagi can we get an updated Invision file which has
- the "This space will be public" should remain on the right using the info icon
- the modal backgrounds should be black

Thank you

[2018-10-04 19:39] christianvogt commented on #4185
dev story: https://github.com/openshiftio/openshift.io/issues/4185

[2018-10-05 01:36] muruGanesan commented on #4382
@sunilmalagi, @Veethika,
IMO: It looks like an integration issue.
Because, from the UXD perspective, we provide notification when a user is about to delete the space and all the data related to that particular Space is soft-deleted - Is there any deviation in 'Planner' flow?
Could please look at this issue and provide your inputs?

CC: @nimishamukherjee, @michaelkleinhenz

[2018-10-05 04:27] Veethika commented on #4382
@ljelinkova @ppitonak the mentioned expected behavior in the description is valid. When a space is deleted, all the work items within that space should be removed as well.  Given the very high consequence, a warning should be displayed to the user before they confirm the action for space deletion, stating that all the contained work-items would be removed.
@michaelkleinhenz @nimishamukherjee ^soun

[2018-10-05 04:29] Veethika commented on #3366
The direction for this task has largely deviated. The validity of the solution would be questionable in the newly proposed architecture. @serenamarie125 Should this be closed?

[2018-10-05 04:54] yzainee commented on #3744
@ppitonak @invincibleJai I need the jenkins logs. Please share the link if you have them

[2018-10-05 05:57] #3896 closed

[2018-10-05 06:10] invincibleJai commented on #3744
@yzainee logs can be seen here https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension/blob/master/Jenkinsfile#L45,  in build logs annotations are being set but doesn't appear in WS call for build-config. it's intermittent and observed in e2e, can it be due to sync plugin?

[2018-10-05 06:31] yzainee commented on #3744
@invincibleJai I dont see any logs link

[2018-10-05 06:32] samuzzal-choudhury opened #4387 "Enable the access to analytics service without OSIO token"
### Description
As analytics service is going to have different integration points other than the Openshift.io, there is a need to enable its access without the Openshift.io authorization token.

### Acceptance Criteria
Client requests do not need OSIO user token for accessing analytics services like `stack-analyses` and `component-analyses`.

[2018-10-05 06:42] yzainee commented on #3744
@invincibleJai http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/282/05-01-jenkins-log.html in this, you can see that the fabric8.io/bayesian.analysisUrl is successfully added, but while creating the deployment config, i see this annotation missing and this is what i feel is causing the problem.
@hrishin Can you please have a look at it

[2018-10-05 07:46] Veethika commented on #2582
@pkettman This is an intended behavior. Only all the parents of a matching work-item are shown expanded. If all the trees are expanded all the time a lot of screen space would be wasted on non-meaningful data. And at any point of time, the user can expand a tree manually to view.
Please close the issue as this is an intended UX behaviour.

[2018-10-05 09:00] pkettman commented on #2582
@Veethika It's quite confusing behavior, especially as the Show Tree checkbox is share for all 3 WI types and folding unfolding is different per each. Is there a requirement/user story/design document requiring such a behavior? Thanks

[2018-10-05 09:38] #4361 closed

[2018-10-05 10:26] yzainee opened #4388 "Identify git PR creation process using tokens"
Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/642

Tasks

- [x] Create a new email id

- [x] Create a new GH account

- [x] Use the GH token in the code

[2018-10-05 11:03] yzainee opened #4389 "Enhance the current maven logic to handle more usecases"
**Planner Link:** https://openshift.io/openshiftio/Openshift_io/plan/detail/791
**Tasks**
- [x] Refactor the code to use lxml instead of xml.etree

- [x] Add logic for maven special cases

[2018-10-05 11:10] Veethika commented on #2582
@pkettman I'll find the issue and get back, since this work was done before I started to work with planner.
IMO this approach takes care of 2 situation:
1) There could be multiple branches to the children of a work-item for multiple levels, but only one way up to the parent list. Hence displaying all the parents is possible, but displaying all the child items might bring in many more discrepancies

[2018-10-05 11:55] yzainee opened #4390 "Platform support for users to opt-in for Analytics PR collaboration"
**Planner Link :** https://openshift.io/openshiftio/Openshift_io/plan/detail/653
**Tasks**

- [ ] Add a new drop down in user code base where he can select the level of notification for newer versions

[2018-10-05 13:05] ljelinkova opened #4391 "Che workspace is stuck in stopping state and cannot be deleted (prod-prev)"
##### Issue Overview
On our prod preview account for E2E tests (osio-ci-e2e-001-preview) we have one workspace that is stuck in stopping state. It is not possible to delete it and it is preventing any other workspace to start.

We tried `oc delete all` as suggested in https://github.com/openshiftio/openshift.io/issues/4379 but it did not help.

Could it be that the user does not have access rights

[2018-10-05 13:12] nimishamukherjee commented on #2292
@Preeticp any suggestions on what we can change the text to?

[2018-10-05 13:40] ScrewTSW commented on #4079
@sbose78 Hello.
I've tested the new update on the free-stg cluster. I really tried to break it, but I was unable to :D
I've mounted a simple pod with the PVC attached, created 30 000 artificial files + 6 large ones besides those that already existed from the workspaces previously run with that account (around 8000 more real files)
I tried mounting the volume and creating new workspaces back and fo

[2018-10-05 14:03] GeorgeActon commented on #1077
@tisnik What is the actual status of this?

[2018-10-05 14:06] GeorgeActon commented on #3754
@tisnik Is this linked to any planner item?

[2018-10-05 14:07] Avni-Sharma opened #4392 "Implement necessary DB schema for Clair"
#### **Description**

Understanding Clair's Postgres database and generating an ER for the same. Also getting insights about what all tables would be affected in Clair Scanner integration work.

#### **Task list**

- [x]     Get the understanding on current Clair DB schema
- [x]     Identify properties that needs to be persisted in Clair DB for a CVE
- [x]     Document all the gaps for CVE details

[2018-10-05 14:08] GeorgeActon commented on #1636
@tisnik Is this in planner or is this redundant?

[2018-10-05 14:12] sbose78 commented on #4079
@ScrewTSW Fantastic! Thank you.

yeah, this should be OK.

[2018-10-05 14:24] Avni-Sharma opened #4393 "Extend Clair Wrappers to be integrated with Analytics services"
#### **Description**

Understanding Clair's codebase, designing and documenting the approach of wrappers mechanism.

#### **Tasks list**

- [x]     Understand the source code for Clair wrappers
- [x]     Architect and document the workflow
- [x]     Implement the code for adding OSIO as a source of CVE information

[2018-10-05 14:31] Preeticp commented on #2292
@nimishamukherjee We can either change the text from: Set start date - Start end date to:
* Start date - End date : But this could still mislead users into thinking they could click on the text to add the dates. So we may need an infotip in addition saying: Use the options menu to edit the iteration to add start and end dates.

Or if we have enough place, use:
* No start date set - No end date set

[2018-10-05 14:36] cnulenka opened #4394 "Identify application dependencies in an image"
### **Description**

Understand Clair's codebase and add functionality to get app-level dependencies from a container image and scan them against CVEs.

**Acceptance Criteria**

- Understand how Clair identifies system level dependencies
- Identify commands to get application-level dependencies for all ecosystems (Maven, Golang, Python, Node)
- Extend current Clair approach to gather application l

[2018-10-05 14:39] cnulenka opened #4395 "Support of data-model API to integrate with Clair DB"
### **Description**

Work on creating new API endpoint in OSIO  to be consumed by Clair to get CVE info about Application level dependencies.

**Acceptance Criteria**

- Extend CVEJob to push the new CVEs to Clair DB (wrappers to listen on some port)
- Start persisting all the necessary details in a CVE node as identified earlier
- Implement auth in data-model or have new endpoints available in ap

[2018-10-05 14:51] christianvogt commented on #4376
dev story: https://openshift.io/openshiftio/Openshift_io/plan/detail/792

[2018-10-05 14:51] #4376 closed

[2018-10-05 15:00] christianvogt commented on #4197
dev story: https://openshift.io/openshiftio/Openshift_io/plan/detail/793

[2018-10-05 16:30] AshishDurgude commented on #4194
Hi, @serenamarie125 @Veethika I have completed the visual design for this issue. below is the InVision link: https://redhat.invisionapp.com/share/G2OFKWK4MKX

Also, I am giving Google folder link for this issue: https://drive.google.com/drive/folders/1TaRwpr3o4i88hTe7XNNaauDGsA1Ye1_D?usp=sharing

Question for @serenamarie125 : we decided to create launcher flow in Modal view. In the wireframe that

[2018-10-05 17:30] Raunak1203 commented on #4338
Closing the Issue, It is not reproducible now.

[2018-10-05 17:30] #4338 closed

[2018-10-05 18:50] ppitonak commented on #4009
Cool, please let us know when it gets to prod-preview.

[2018-10-05 20:17] joshuawilson commented on #4009
Do we need a new "stage" for lack of a better term on the pipelines UI for "deployed"? Or maybe we can just use the feedback to activate the link to the deployed app.

The first is a UX change. The later is just a code update to the new api.

Please let us know when it is available.

[2018-10-07 08:27] SriKrishnaPaparaju opened #4396 "Enhance application stack report to include transitive application dependencies"
OSIO AI platform's current ability to scan transitive dependencies would need to need to be included at 'application stack report'. This is required for all the current integrations: OpenShift.IO, VSCode extension.

[2018-10-08 06:11] jarifibrahim commented on #3894
This issue has been fixed. Closing it.

[2018-10-08 06:11] #3894 closed

[2018-10-08 06:35] Veethika commented on #4381
@ljelinkova @nimishamukherjee @divyanshiGupta
Users should only be able to see the work-items from the same space when they are on the dashboard of that particular work-item. Is this an implementation bug?
Removing area/UX tag from here.

[2018-10-08 06:40] Veethika commented on #3693
@raunak the UX solution has been provided. Removing area/UX from this issue.

[2018-10-08 06:43] Veethika commented on #3147
Removing UX tags as the UX solution has been provided and discussed with the team.

[2018-10-08 06:46] Veethika commented on #3066
@rgarg1 @xcoulon removing UX label from this issue as the solution has been provided and awaits implementation.

[2018-10-08 06:51] apupier commented on #3079
@Veethika the behavior is exactly the same than when I reported it

[2018-10-08 06:52] sunilmalagi commented on #3145
I am removing area/UX & team/ux labels as I have provided the solutions.

[2018-10-08 06:52] Veethika commented on #3832
UX suggestion provided, removing UX labels.

[2018-10-08 06:59] Veethika commented on #1834
@shannon @michaelkleinhenz this behavior has been defined by Patternfly and we couldn't take a call to get rid of it. The learning curve with this behavior is very short, hence this doesn't affect the experience much.
If needed please raise an issue on the Patternfly team repository on GitHub
https://github.com/patternfly/patternfly-design/issues

[2018-10-08 07:07] Veethika commented on #4048
@tinakurian Please add this issue as a verification criteria to #3999 and close this one. It will be easier to track everything at one place.

[2018-10-08 07:13] Veethika commented on #3887
@rgarg1 please verify is this point is covered in #3999 . If not then add it there and please close this issue, it's getting difficult to track all the Quick preview and detailed view stories as separate issues.

[2018-10-08 07:16] Veethika commented on #3991
@rgarg1 looks like this has already been taken care of. Please verify and close.

<img width="304" alt="screen shot 2018-10-08 at 12 45 07 pm" src="https://user-images.githubusercontent.com/35127763/46595893-17839680-caf8-11e8-8830-3ab573ff1614.png">

<img width="262" alt="screen shot 2018-10-08 at 12 45 31 pm" src="https://user-images.githubusercontent.com/35127763/46595894-17839680-caf8-11e8-933

[2018-10-08 07:20] Veethika commented on #1840
@rsvoboda @aslakknutsen
We have attempted to define many of the keyboard shortcuts here: https://docs.google.com/spreadsheets/d/1cATzs0UyUgeZ_cn32LCTQlVHJLsPcfmw3KUTYQN6n-E/edit#gid=2056972779
Please comment on the spreadsheet if you feel the need to swap or change any shortcut before they set out for implementation in Sprint 158

[2018-10-08 07:30] Veethika commented on #241
@serenamarie125 are we looking at communicating to the onboarded users about existing Issues as a part of the new experience?

[2018-10-08 07:34] sunilmalagi commented on #1097
Please create the issue on PF repository, here is the link:
https://github.com/patternfly/patternfly-design/issues

Removing the area/UX label since PF team is responsible for spinner component.

[2018-10-08 08:57] rsvoboda commented on #1840
@ppitonak @psrna you might be interested in Keyboard Controls list, see comment above

[2018-10-08 09:13] parvathyvr opened #4397 "Mockups for notification service to the user"
Description
We need to implement the UI for newer versions notifications. Here we would need the following things covered:
1. Have the Git url 2. Have a table for the direct & transitive dependencies. [ Sl num, eco system, name, existing version, newer version ] 3. Link to the GH pull request
2.Apart from this, we need 2 options for the codebbases page where we either have 1 toggle button or 2 tog

[2018-10-08 09:20] rootAvish commented on #3552
@Veethika looks good, just one question here: What is the action when somebody presses "enter" after writing something in the query tab here: https://redhat.invisionapp.com/share/J2O8MP098VX#/screens/321871625 ?

[2018-10-08 09:31] Veethika commented on #3552
@rootAvish the custom query solution has been captured in this invision Doc: https://redhat.invisionapp.com/share/ESOFBERRG7U#/322048695_Cover_Page_Template

[2018-10-08 09:39] ppitonak commented on #4382
@Veethika you are right that it would be nice to expand the message that user sees when deleting the space. This is how it looks like now:

![osio_delete_space](https://user-images.githubusercontent.com/445100/46601822-ac819200-caee-11e8-9144-b8d9ef98ccfa.png)

[2018-10-08 09:43] ppitonak commented on #4381
@Veethika would it be possible to keep `area/UX` label for future reporting?

[2018-10-08 09:47] ppitonak commented on #2292
I vote for not displaying anything.

[2018-10-08 09:49] Veethika commented on #4381
@muruGanesan can you check the relevance of having a UX tag on this issue?

[2018-10-08 09:50] sunilmalagi commented on #4197
@muruGanesan Done, I have made the changes accordingly and sent you the sketch file.  You can incorporate the same in your flow and upload the same into G-drive.

[2018-10-08 10:04] Veethika commented on #3002
@muruGanesan as of now we're not getting rid of the tree view completely. Drag-n-drop would still be valid for the flat list browsing.
@sunilmalagi has provided the link for the visual treatment here.

[2018-10-08 10:11] sahil143 commented on #4373
@ldimaggi The total number of work items shown in the given screenshot is correct. We only count the work items which are matching the applied filter. In this case, filters are `area: Getting Started, iteration: Sprint 156` that's why the count is seven. Work item number 723 is not considered in the count because it belongs to sprint 156 but does not belong to `area: Getting started`.

[2018-10-08 10:11] ppitonak commented on #4381
@Veethika @muruGanesan I would like to know what is the meaning of this label? Is it "a usability issue" or "an issue that UX team needs to do something about"?

[2018-10-08 10:30] muruGanesan commented on #4197
@sunilmalagi, Thanks for your help.
Here is the latest Invision file:
https://redhat.invisionapp.com/d/main#/projects/prototypes/15439853
Here is the Sketch file (google drive - other than UXD team may request):
https://drive.google.com/drive/folders/1Ql-Rhtp60nG-xaOiN6mPpJ_gml9CxzMP