[2018-10-31 14:26] sunilk747 commented on #4265
We can close this issue. I addressed this issue in my last PR.

[2018-10-31 14:26] #4265 closed

[2018-10-31 15:05] ibuziuk commented on #4511
@rhopp do you think we can close this issue now ?

[2018-10-31 15:11] ibuziuk commented on #1914
@hrishin am I correct the issue can be closed now since it was basically a dependency problem ?

[1] https://github.com/openshiftio/openshift.io/issues/1914#issuecomment-358614550

[2018-10-31 15:18] joshuawilson commented on #3155
@aslakknutsen @bartoszmajsak what do you think. My first thought is to use the work items number like github does with the hash sign. I don't know what you have planned though.

[2018-10-31 15:23] joshuawilson commented on #4098
cc @gorkem

[2018-10-31 15:29] joshuawilson commented on #3706
This is done and in production.

[2018-10-31 15:29] #3706 closed

[2018-10-31 15:33] christianvogt commented on #4512
@kwk @joshuawilson I too agree with the cleaner look.

That being said, the issue about borders is most likely our own doing.

If you look at the pattern fly library we see this as guidance for inline edit:
![image](https://user-images.githubusercontent.com/14068621/47798282-76ef5380-dcfe-11e8-9bec-4510ac4cb935.png)

As for the comments. I could only find these wireframes. But again there are no b

[2018-10-31 15:34] rhopp commented on #4511
@ibuziuk Yes. Closing.

[2018-10-31 15:35] invincibleJai commented on #672
closing as implemented.

[2018-10-31 15:35] #672 closed

[2018-10-31 15:48] pbergene commented on #4511
Turns out the starter clusters have all been set in maintenance mode due to the ongoing upgrades, so this alert had been missed.

[2018-10-31 15:50] hrishin commented on #1914
Yes @ibuziuk

[2018-10-31 16:03] joshuawilson commented on #4074
I think it would be nicer to have a fixed length so the user doesn't think their very long title will work.

I would rather have the field stop at 56 char or 200 char and I know I need to change my text to fit.

[2018-10-31 16:14] joshuawilson commented on #3996
This is in production.

[2018-10-31 16:14] #3996 closed

[2018-10-31 16:24] joshuawilson commented on #4076
closing since it works as designed

[2018-10-31 16:24] #4076 closed

[2018-10-31 16:34] joshuawilson commented on #4060
That is not how a DoS attack works.

However it does make for a poor user experience and should be fixed.

Closing, please add more anything missing to the:
Duplicate of  #1595

[2018-10-31 16:34] #4060 closed

[2018-10-31 16:34] joshuawilson commented on #4060
Duplicate of #1595

[2018-10-31 16:53] joshuawilson commented on #4058
Duplicate of #1595

[2018-10-31 18:21] joshuawilson commented on #3994
I **can** reproduce this on both mac and fedora Firefox. This is a valid issue.

[2018-10-31 19:53] joshuawilson commented on #2951
Bookmarking any space for planner has the title `Plan: Backlog - OpenShift.io`. This still needs to be fixed.

[2018-10-31 19:55] joshuawilson commented on #2951
It should use the name of the Space like `Foo: Backlog - OpenShift.io`.  Where `Foo` is the space name.

[2018-10-31 19:57] joshuawilson commented on #4063
This is fixed in production, closing.

[2018-10-31 19:57] #4063 closed

[2018-10-31 20:02] joshuawilson commented on #4025
I can also reproduce this.
@sahil143 what is the status on this.

[2018-10-31 20:13] joshuawilson commented on #2599
This is still an issue.

[2018-11-01 02:00] joshuawilson commented on #4480
@serenamarie125 what do you think about a permanent filter or tab that has the `closed` issues?

[2018-11-01 02:01] joshuawilson commented on #3962
Duplicate of #4480

[2018-11-01 02:01] #3962 closed

[2018-11-01 02:02] joshuawilson commented on #4480
From @rootAvish

[2018-11-01 02:05] joshuawilson commented on #3964
Related to #3966

[2018-11-01 02:05] joshuawilson commented on #3964
@openshiftio/uxd-team please advise

[2018-11-01 02:38] joshuawilson commented on #2469
@kwk I am good with your suggestion. That is what I would expect.

[2018-11-01 02:39] joshuawilson commented on #2959
this is fixed in production

[2018-11-01 02:39] #2959 closed

[2018-11-01 03:10] joshuawilson commented on #2643
This is fixed in production.

[2018-11-01 03:10] #2643 closed

[2018-11-01 04:32] joshuawilson commented on #3926
Duplicate of #3052

[2018-11-01 04:32] #3926 closed

[2018-11-01 04:46] sthaha commented on #4451
Happened to me today as well. Here is the `oc get -w ev` output

[code]

And then the mount failure
[code]

[2018-11-01 06:30] joshuawilson commented on #3831
@kwk is this value coming from the backend? If so, should it be removed there?

@openshiftio/uxd-team is there ever an case where you might want to set it to `none`?

[2018-11-01 06:33] joshuawilson commented on #3739
This is still an issue.

[2018-11-01 08:56] ljelinkova opened #4513 "Codebases are not loaded on space dashboard screen"
E2E encountered this issue twice in the last 24h. After creating new application, you can see on the dashboard the newly created pipeline, but you do not see the codebase.

![dashboard](https://user-images.githubusercontent.com/2078072/47842076-ee36ed00-ddbb-11e8-96ba-be1e79d19ead.png)

I can see the following log entry in the browser log

[2018-11-01 09:53] rhopp opened #4514 "Failed mounts in tenant spaces - "invalid character 'm' looking for beginning of value""
##### Issue Overview

E2E tests are intermittently failing on jenkins not being woken up.

After further investigation, it seems, that idler works correctly, but openshift fails to mount volume to jenkins pod with this message:
[code]

Looking into kibana for this message it seems, that it affects not only jenkins unidling/starting, but there is also one instance, where the same error prevented ch

[2018-11-01 10:03] ljelinkova commented on #4215
New issue created to fix infrastructure problem that prevents Jenkins to start

https://github.com/openshiftio/openshift.io/issues/4514

[2018-11-01 10:12] pbergene commented on #4514
Good find though! That error does look like something is explicitly going wrong.

[2018-11-01 10:15] pbergene commented on #4514
Adding the kubernetes.host field to your log query above shows that this seems to be happening on two nodes only.  This may be a bad assumption, but indicates that there could be storage client issues on those hosts.

[2018-11-01 10:38] kwk commented on #3831
@joshuawilson. The backend should by now set the severity or any other enum typed field to the first value in the list of allowed enums or to the default value if given. See this file: https://github.com/fabric8-services/fabric8-wit/blob/master/spacetemplate/assets/agile.yaml

That being said, no the None value does not come from the backend. Can you please see if this is still an issue? Sudipta k

[2018-11-01 11:57] ldimaggi commented on #4514
Is this the same problem as is described in:  #4451   ?

[2018-11-01 12:01] rhopp commented on #4514
@ldimaggi That seems like a different issue. #4451 has `exceeded quota` errors, this one is about `invalid character 'm' looking for beginning of value`

[2018-11-01 13:19] joshuawilson commented on #3831
It is preset to a severity but the `none` is still present. I just don't know if it should stay or not.

[2018-11-01 13:22] stevengutz commented on #4505
@sthaha I changed this to Sev3 since there isn't an actual failure.  Doesn't really fit the criteria for Sev2

[2018-11-01 13:30] ppitonak commented on #4503
@stevengutz please make sure that somebody is assigned, this is nr. 1 reason of failing tests on prod-preview

[2018-11-01 13:33] GeorgeActon commented on #4435
@ljelinkova if this is  a bug, please label it and assign a severity

[2018-11-01 13:47] #4437 closed

[2018-11-01 14:01] joshuawilson commented on #4513
That is really odd. I can't reproduce it on prod.

Can you add the log entry you mentioned?

[2018-11-01 14:50] kwk commented on #3831
It should not stay.

[2018-11-01 14:51] stevengutz commented on #4503
@sthaha @pradeepto Another P1 bug affecting the E2E tests.  Please take a look at this one ASAP.

[2018-11-01 14:51] jarifibrahim commented on #3831
@joshuawilson @kwk I agree the `None` shouldn't be in the list. I've raised https://github.com/fabric8-ui/fabric8-planner/pull/2798 to fix it.

[2018-11-01 14:52] jarifibrahim commented on #3832
This should be fixed by https://github.com/fabric8-ui/fabric8-planner/pull/2798

[2018-11-01 16:35] JohnStrunk commented on #4514
I haven't found a reference to that error message (kibana url doesn't work for me), but I have found a problem w/ one of the fuse mounts on the compute node. Currently awaiting node-level logs.

[2018-11-01 19:24] andrewazores opened #4515 "Deployments API responding 500s on some requests"
### Issue Overview

Requests to the `https://openshift.io/api/deployments/spaces/{spaceId}/applications/{appName}/deployments/{envName}/statseries` are (at least in some scenarios - it's 100% on my deployments, ex. `https://openshift.io/api/deployments/spaces/7ac6e4be-dcf2-4635-9ca1-1ae3a69e2ff9/applications/demo-2/deployments/stage/statseries?start=1541098721220&end=1541099621220`) responding wit

[2018-11-02 02:01] sthaha commented on #4503
@ppitonak can you please give us the following details?

- how frequent is this? always?
- time in UTC when the build was started so that we can corroborate with kibana logs
- are you able to reproduce this locally?  if so, steps we can follow to reproduce it?
- how long does the build take?
- when does the build start ( all time in UTC)

The attached logs do not tell us when the build started

In

[2018-11-02 06:03] yzainee commented on #4371
@miteshvp @invincibleJai This issue was raised when the npm list command was executed in the build, and we were using the generated json file to do the further stack analysis computation. As this flow is changed now and we are no longer using build for the deps, i am closing this issue as this cannot be even tested.

[2018-11-02 06:03] #4371 closed

[2018-11-02 07:07] invincibleJai opened #4516 "Support Quick fixes with codeAction in case of CVEs flagged from LSP"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/948

Currently in VSCode Extension, we flag CVEs for any core dependencies, proposed would be to enable quick fixes to those with enabling codeAction from Language Server.

### Tasks:
- [x]  Update language server and client version
- [x] Bind codeAction supportin Language Server
- [x] Register command in client to listen

[2018-11-02 07:58] ljelinkova commented on #3744
I've noticed that there has been UI change in the space dashboard regarding analyses - there is a progress bar now. But when I see progress bar even after the build finishes - is that only another visual representation of this issue? Or is the analyses independent from build now and we should wait for the results?

![dashboard-analyses](https://user-images.githubusercontent.com/2078072/47900467-54

[2018-11-02 08:46] piyush-garg commented on #4461
This has been fixed in prod using https://github.com/openshiftio/saas-openshiftio/pull/1122 Closing this.

[2018-11-02 08:46] #4461 closed

[2018-11-02 08:46] piyush-garg commented on #3935
This has been fixed in prod using https://github.com/openshiftio/saas-openshiftio/pull/1122 Closing this.

[2018-11-02 08:46] #3935 closed

[2018-11-02 08:47] piyush-garg commented on #4020
Tenant has been updated in prod using https://github.com/openshiftio/saas-openshiftio/pull/1122 Cluster wide update is still pending

[2018-11-02 09:21] ljelinkova commented on #4513
Sorry about the log, I wanted to attach it but than I was not sure if that's relevant and than I forgot :-)

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/966/03-01-afterEach.log

There is one SEVERE entry at the top of it but it is probably before the launcher was actually called.

[2018-11-02 09:58] scela commented on #4507
I'm seeing similar issues with a fresh workspace from a centos-java workspace. Here's the exception when it starts:

`
2018-11-02 09:42:03,232[ool-13-thread-1]  [INFO ] [j.l.JavaLanguageServerLauncher 98]   - Starting: Init...
2018-11-02 09:42:03,236[ool-13-thread-1]  [INFO ] [j.l.JavaLanguageServerLauncher 98]   - Starting: 0% Starting Java Language Server
2018-11-02 09:42:03,312[rverInitializer]

[2018-11-02 10:05] ljelinkova commented on #4503
This is one of the last job runs on prod-preview
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/3452/
Artefacts folder
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/3452/
The pipeline started but failed
![image](https://user-images.githubusercontent.com/2078072/47908747-2c9cdc

[2018-11-02 10:13] ljelinkova commented on #4503
One production example
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/972/

[2018-11-02 10:19] ljelinkova opened #4517 "Pipeline build failed with Error during kubernetes apply: java.lang.NullPointerException"
##### Issue Overview

One e2e test failed on cluster 2a when building pipeline with Spring Boot booster with the following error
[code]
You can see the whole Jenkins log here:
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/973/05-05-jenkins-log.html

And more artifacts and logs here
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-

[2018-11-02 10:35] sahil143 commented on #4025
Fixed in the referenced PR

[2018-11-02 10:41] piyush-garg commented on #4500
I am picking all the three vert.x one's.

[2018-11-02 10:47] piyush-garg commented on #4500
@rupalibehera is working on three spring boot boosters

[2018-11-02 10:54] sbose78 commented on #4154
@bartoszmajsak

Are you proposing that we omit showing "Spring Boot / Vertx" as a detected runtime , and instead show "Maven/Gradle" because that's what our build really cares about?

[2018-11-02 10:58] sthaha commented on #4503
@ljelinkova I see that http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/3453/oc-jenkins-logs-before-all.txt indicates that jenkins has been running for almost 52mins before starting build. Is that true?

[2018-11-02 11:01] jarifibrahim commented on #3831
I'll close the issue once the changes are in prod.

[2018-11-02 11:14] ppitonak commented on #4503
When looking on data about http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta

* Build #3452 (Nov 2, 2018 9:40:00 AM)
  * before test: pod/jenkins-1-pcmb4   1/1       Running   0          **42m**
  * after test: pod/jenkins-1-6j7sw                  0/1       ContainerCreating   0          **8s**
  * **successful reset**
* Build #345

[2018-11-02 12:20] sthaha commented on #4503
@ppitonak and I went to debug the issue close and we figured that this happens as designed (albeit we both agree that it must be tweaked). Here is what happens

1. 00:00:00 Jenkins gets reset
2. 00:45:00 So it is scheduled to be idled at 00:45:00
3. 00:43:00  **But ** A test run starts
4. 00:45:00 Idler tries to idle when it reaches  45mins but finds that there is an active build so it waits for t

[2018-11-02 13:42] kwk commented on #3832
Why not? It is transparent for when and why it did it. I've talked about this before with @sanbornsen so I thought he knows best. If he doesn't want to work on it, he can assign it back or to someone else.

[2018-11-02 13:55] kwk commented on #2469
@Raunak1203 can you please add a status of this bug. Who is working on it?

[2018-11-02 13:57] kwk commented on #3951
I consider this a high priority because of Data loss.

[2018-11-02 14:10] ppitonak commented on #4503
Let's keep it open until it's in production.

[2018-11-02 14:40] yzainee commented on #4355
The API server changes are done and can be found here : https://github.com/fabric8-analytics/fabric8-analytics-server/pull/408

[2018-11-02 15:02] joshuawilson commented on #3832
Because being assigned means you are actively working on it and no one else should. If he doesn't check this then it would just stay assigned to him and not get worked. In our planning cycle we assign all the work the individual should be able to do. If they have more bandwidth they can come look for unassigned bugs/issues and pick them up.

[2018-11-02 16:20] joshuawilson commented on #4513
This might be it. You can see the error in red about 3/4 down the page.
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/3456/console

[2018-11-02 17:02] andrewazores commented on #4513
There's a .png linked in those log artifacts showing that the app launcher failed while pushing to the new git repo, and there was then a 404 on retrieving the information about the (presumably associated) new Space. I'm not clear on the logs in the initial report vs the logs Joshua has linked - the name of the e2e space differs from what I see in the logs, so these appear to be different test run

[2018-11-03 00:45] hrishin commented on #3744
@ppitonak could you try this?

[code]

[2018-11-04 18:54] muruGanesan commented on #2307
@serenamarie125 , I will look at this issue and come up with an initial concept tomorrow.

[2018-11-05 03:42] muruGanesan commented on #2307
@serenamarie125, Here is the first cut UI change.
[I would like to review this proposal with UX review meeting (Monday, Nov 5) today. Based on the input, I will work on the next iteration & share it with Eng]

<img width="1676" alt="image" src="https://user-images.githubusercontent.com/26006817/47976791-4e8a9f00-e0da-11e8-8714-146218889dec.png">

But we need to review a couple of points before mov

[2018-11-05 03:59] joshuawilson commented on #4513
It might be a github outage issue. We should add error handling for github outages.

I've been trying to reproduce this and / or trace it from the logs. I can't find it. @ldimaggi @ljelinkova if you can provide more info or a way to reproduce it, we can try to fix it. Currently the e2e are passing, so I'm going to downgrade this one.

[2018-11-05 04:43] sunilmalagi commented on #2307
@muruGanesan @serenamarie125 if we go by the alphabetical order, should the 'Account' tab at the beginning of all the remaining tabs?

[2018-11-05 05:02] invincibleJai opened #4518 "Single command to generate stack analyses in VSCode Extension"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/950

Currently, there two separate commands to trigger stack analyses
- Generate Stack Analyses on Manifest
- Generate Stack Analyses on Workspace

With this change, user will have just one command
- View Dependency Analytics Report ...
It'll handle both workspace and manifest flow depending on the context from it's being

[2018-11-05 05:06] muruGanesan commented on #2307
@serenamarie125, thanks Serena!
In fact, created a similar page, later I moved to 'link'. Because we get the repeated text as shown  below:

<img width="758" alt="image" src="https://user-images.githubusercontent.com/26006817/47978621-decde180-e0e4-11e8-9989-ed2b71034d80.png">

[2018-11-05 05:35] sunilmalagi commented on #2307
1. Account tab re-order
2. Have the page title called 'Account', like the way when you are in 'Connected Services' tab.
3. I dont think we need have 'Change Password' & 'Reset Environment' as titles,
Only text link OR buttons for 'Change Password' & 'Reset Environment' is enough, if we are going to have buttons, we need know which one is primary and which one is secondary, we also need to decide i

[2018-11-05 07:43] chmouel commented on #4444
This is unblocked,

[2018-11-05 11:17] ppitonak commented on #4517
Happened multiple times over the weekend:

* https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/985/ (Nov 3, 2018 11:05:00 PM)
* https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/979/ (Nov 2, 2018 9:05:00 PM)
* https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/976/ (Nov 2, 2018 9:05:00 AM)

[2018-11-05 12:00] ljelinkova commented on #4513
This issue occurred again during weekend, but intermittently, I am not able to reproduce it myself. It is interesting that I've seen it only on 1b cluster.

I'll try to modify e2e tests to create screenshot of the launcher to see if there were any errors. It is strange that pipeline is created so I'll try to wait for the result and maybe Jenkins job log.

I'll update this issue once I have some ne

[2018-11-05 12:00] ppitonak opened #4519 "FMP: Unable to build the image using the OpenShift build service"
##### Issue Overview

`Build Image` stage in pipeline fails (Vert.x HTTP booster)

##### Expected Behaviour

Pipeline builds the application successfully

##### Current Behaviour

Build fails

[code]

##### Steps To Reproduce

1. create a new app using launcher
2. navigate to pipeline
3. open Jenkins log

##### Additional Information

Couple of Jenkins jobs failed with this error:

* https://ci.ce

[2018-11-05 12:19] ppitonak commented on #3742
Happened on Sunday on prod-preview
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/3494/

[2018-11-05 12:31] sthaha commented on #4519
From the logs it seems that issue is that s2i build fails since Openshift wasn't able to bring up a build pod.

[code]

@ppitonak providing the output of `oc get ev` should certainly help

[2018-11-05 12:44] rupalibehera commented on #4121
This seems like an reset issue, assigning to platform team.

[2018-11-05 12:48] #4306 closed

[2018-11-05 13:01] ppitonak commented on #4172
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2-released/964/  (Oct 31, 2018 10:05:00 AM)

[2018-11-05 13:05] ibuziuk commented on #4079
@ScrewTSW could you please verify and close this issue if all the starter clusters have been updated and the issue is not reproducible anymore ?

[2018-11-05 13:55] ppitonak commented on #3744
@hrishin I added this command to our script. Can you please answer Lucia's question?

[2018-11-05 14:02] ppitonak commented on #4451
I was it in yesterday's logs
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/988/

only `jenkins-home` is mentioned

[code]

[2018-11-05 14:19] ppitonak commented on #4519
@sthaha it's a self-service ;) Click any of the links in the issue description, open console log, scroll to the end of Jenkins log and click on link next to `Artifacts were uploaded to`. Review `oc-jenkins-logs-before-all.txt` and `oc-jenkins-logs.txt`

http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1325/oc-jenkins-logs-before-all.txt
[code]

h

[2018-11-05 14:36] pbergene commented on #4514
There has been movement not reflected here.  The storage client had run into a segfault on a couple of nodes.  As there was an upgrade happening the nodes have been rebooted and this should be resolved.

[2018-11-05 14:42] ppitonak commented on #4511
There were many 504s recently on cluster 1a since this issue was closed resulting in either creating a workspace in OSIO UI
![osio](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1345/04-01-afterEach.png)
or when inside IDE waiting for workspace to start
![workspace](http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smo

[2018-11-05 14:59] chmouel opened #4520 "Build: Deploy fabric8-env service for make dev"
Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/58

[2018-11-05 15:20] rhopp commented on #4511
@ppitonak What you are reporting seems more like https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2400 to me.

[2018-11-05 15:32] ppitonak commented on #4511
OK

[2018-11-05 15:32] #4511 closed

[2018-11-05 16:05] #4520 closed

[2018-11-05 16:47] chmouel commented on #4488
This is emptied and rearchived, here is the script used :

[code]

[2018-11-05 16:47] #4488 closed

[2018-11-05 17:12] #4444 closed

[2018-11-05 17:23] chmouel opened #4521 "Saas Openshiftio: RHEL images are not starting"
[code]

Saas Openshiftio issue: https://github.com/openshiftio/saas-openshiftio/issues/1125

[2018-11-05 17:24] #4521 closed

[2018-11-05 17:25] chmouel opened #4522 "Build: RHEL images are not starting"
[code]

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/61

[2018-11-05 17:53] hrishin commented on #3935
@ljelinkova @ldimaggi feel free to open another ticket if E2E still face this issue.

[2018-11-05 17:55] #4522 closed

[2018-11-05 18:05] hrishin commented on #3798
@ppitonak this is not causing any harm. Now with new `osio-pipeline` it will get removed eventually.

Putting this all, I'm clisng this issue for now. Feel free to open this again.

[2018-11-05 18:05] #3798 closed

[2018-11-05 18:12] hrishin commented on #2210
@jmelis couple of things:

For the time being, the user would not face this issue, as we restricted the number of builds can run simultaneously. Chance of pipeline getting stuck is less.

We are trying to change the message in case of pipeline not able to spin up the slave pod.

Considering this I'm closing this issue. Please free to open it some again you face it again.

[2018-11-05 18:12] #2210 closed

[2018-11-05 18:16] hrishin commented on #2120
Recently we have updated blue ocean UI plugins. Right now the user is able to access the BO UI.
![image](https://user-images.githubusercontent.com/28615674/48017646-cd242280-e154-11e8-97e5-8ef55791b351.png)

It's better to close this issue. Let's file another issue if we face it again.

[2018-11-05 18:16] #2120 closed

[2018-11-05 18:20] hrishin commented on #2980
This is more of OpenShift issue. Removing tag from build team.

[2018-11-05 18:33] hrishin commented on #4017
@ldimaggi I think this dialogue is needed, however, we can try to enhance the overall UX around it.
i.e. UI can keep the active state of Jenkins (idle or not idle) by polling it or using watch request on Jenkins deployment. In that way, UI would not poll Jenkins each and every time while opening the dialogue box.

@joshuawilson @ldimaggi are we planning any enhancements here?

[2018-11-05 18:44] JohnStrunk commented on #4451
@ppitonak Looks like the mount took a while but did succeed. This is probably the chown issue for which there is a pending fix. I can't really verify however since the PV seems to have been deleted.

I don't know anything about the readiness probe issue.

[2018-11-05 18:49] hrishin commented on #1895
@ldimaggi this issue has been discussed recently by @pmacik. I guess its duplicate of #4009. If that makes sense, shall we close this issue?

Essentially build pipeline fails to acknowledge if an application get up and running after deploying it. This is taken care in `osio-pieline` library. Hopefully, we will roll out this soon for Java quickstarts.

[2018-11-05 20:39] CermakM commented on #4004
@msrb can we close this?

[2018-11-05 21:15] joshuawilson commented on #4017
Eng doesn't have any current plans to change this. However, if @openshiftio/uxd-team provides direction here we can add it to the backlog.

[2018-11-06 06:10] nimishamukherjee commented on #2292
![dates](https://user-images.githubusercontent.com/1892722/48045947-6f292680-e1b8-11e8-9619-e04d3768e644.png)
@ppitonak @Preeticp have a look at the screenshot
I have tried various combination
- S1 has a start date and an end date
- S2 does not have a start date and an end date
- S3 has only the start date
- S4 has only the end date

I find S3 and S4 a bit confusing. Thoughts?

[2018-11-06 06:51] Preeticp commented on #2292
@nimishamukherjee I think S2 in the first image makes the most sense, when user sets no date.
If we give users the option to set one of the dates (either start/end), then how about Start date: Nov 1, 2018 or End date: Nov 10, 2018

[2018-11-06 08:56] ljelinkova commented on #4513
I was able to reproduce this issue locally. It was not GitHub related, simply some racing issue. When you create a new application and click "Return to dashboard" before all checks pass, you are redirected to the dashboard but the dashboard is never updated with the new created codebase.

So there are 2 probles:
1.  "Return to dashboard" button should be disabled until all checks finish.
2. Dashbo

[2018-11-06 09:20] chmouel commented on #4488
Unarchived [shootout-docker-maven](https://github.com/fabric8io/shootout-docker-maven/) since used,

[2018-11-06 09:20] chmouel opened #4523 "Shootout Docker Maven: Unarchive repository"
Since this is used by @rhuss (cf: https://github.com/fabric8io/shootout-docker-maven/pull/3)

Related: https://github.com/openshiftio/openshift.io/issues/4488

Shootout Docker Maven issue: https://github.com/fabric8io/shootout-docker-maven/issues/4

[2018-11-06 09:31] chmouel opened #4524 "Shootout Docker Maven: Fix security issue with org.apache.tomcat.embed:tomcat-embed-core"
cf: https://github.com/fabric8io/shootout-docker-maven/network/alert/pom.xml/org.apache.tomcat.embed:tomcat-embed-core/open

update  org.apache.tomcat.embed:tomcat-embed-core :

[code]

Related Upstream: https://github.com/fabric8io/shootout-docker-maven/issues/6

[2018-11-06 09:33] #4524 closed

[2018-11-06 10:45] chmouel opened #4525 "Kubernetes Model: Archive repository"
Not used anymore,

Kubernetes Model issue: https://github.com/fabric8io/kubernetes-model/issues/345

[2018-11-06 11:12] chmouel commented on #4488
Archived more :

https://github.com/fabric8-jenkins/fabric8-pipelines-plugin
https://github.com/fabric8-jenkins/fabric8-declarative-pipeline-step-functions-plugin
https://github.com/fabric8io/django-examples
https://github.com/fabric8io/fabric8-console

[2018-11-06 11:12] chmouel commented on #4488
archived as well :

https://github.com/fabric8io/kubernetes-model/

[2018-11-06 14:10] piyush-garg commented on #4519
@ppitonak This is resource quota. No enough space to create a new build pod.

[2018-11-06 14:39] ppitonak commented on #4519
@piyush-garg it happened after account reset

[2018-11-06 14:40] chmouel commented on #4488
https://github.com/fabric8io/fabric8-e2e-pipeline-prod-preview/

[2018-11-06 16:24] joshuawilson commented on #4513
Thanks for finding that. If you can fix the tests we can work on the bugs.

[2018-11-06 23:59] fabineri commented on #2152
A solved passing system property and force a layout

System.setProperty("thorntail.filesystem.layout.class", "org.wildfly.swarm.internal.MavenFileSystemLayout");

A see the class FileSystemLayout.CUSTOM_LAYOUT_CLASS implementation. sorry my english

[2018-11-07 10:44] ibuziuk commented on #4507
issue for tracking this problem in upstream - https://github.com/eclipse/che/issues/11856

[2018-11-07 12:16] ppitonak commented on #4517
@pradeepto please assign to somebody

https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/3558/console
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/3559/console
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/3567/console
https://ci.centos.org/job/

[2018-11-07 12:35] chmouel opened #4526 "Build: Run env server in dev mode to create some samples"
We need to make sure env server is run in dev mode so we can create some samples

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/64

[2018-11-07 12:47] #4526 closed

[2018-11-07 12:58] serenamarie125 commented on #4512
@sunilmalagi could you take a look at this and provide some visual input?

[2018-11-07 13:05] ppitonak commented on #4172
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/3553/console

[2018-11-07 13:06] ppitonak commented on #4172
@rupalibehera can you post update? The issue has been open for almost 3 months.

[2018-11-07 14:33] GeorgeActon commented on #4010
This issue has resurfaced.
I was asked to remove some people as collaborators. I was unable to see them since we are back to a randomly selected list of 20.
I was signed in as owner of Openshift_io.
Interesting that the home view shows a count of 20 collaborators as well:

![screen shot 2018-11-07 at 9 29 55 am](https://user-images.githubusercontent.com/19672343/48137363-e241a400-e26f-11e8-8641-db

[2018-11-07 14:38] aptmac commented on #4010
For the most part, this will be fixed when https://github.com/fabric8-ui/fabric8-ui/pull/3396 hits production. Note that the unsorted-ness of the collaborators is what's coming from the backend, so that will remain. However, you'll be able to see collaborating users in a pop-over element.

[2018-11-07 14:40] ppitonak commented on #4519
Another failed job https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1006/console, the same symptoms... there are two `jenkins-slave-*` pods. @piyush-garg @sthaha you should probably investigate why two pods are created, this is probably the root cause.

[2018-11-07 14:57] GeorgeActon opened #4527 "No ability to opt in or out of notifications."
##### Issue Overview

No longer see the ability to opt-in/opt-out of notifications in Settings or profile

##### Steps To Reproduce

1. sign in as collaborator on any space
2. open settings
3. open Features Opt-in  tab
No option for notifications

##### Additional Information

Chrome:
Version 70.0.3538.77 (Official Build) (64-bit)

![screen shot 2018-11-07 at 9 54 48 am](https://user-images.github

[2018-11-07 15:04] GeorgeActon commented on #2603
@DhritiShikhar Can you define what is meant by order of execution?

[2018-11-07 15:10] aptmac commented on #4527
Just for background, the original notifications option was removed in https://github.com/fabric8-ui/fabric8-ui/pull/3277 and AFAIK it was never hooked up to do anything.

[2018-11-07 15:30] #4425 closed

[2018-11-07 18:31] piyush-garg commented on #4172
@ppitonak I already commented my findings there https://github.com/openshiftio/openshift.io/issues/4172#issuecomment-434451200 and its the side effect of #3742

@rupalibehera mentioned earlier also https://github.com/openshiftio/openshift.io/issues/4172#issuecomment-431794196

Thanks

[2018-11-07 18:37] piyush-garg commented on #4519
@ppitonak This has already been fixed with https://github.com/openshiftio/saas-openshiftio/pull/1128 today. Closing this.

[2018-11-07 18:37] #4519 closed

[2018-11-07 18:37] GeorgeActon commented on #4010
fixed by update of Prod by Joshua

[2018-11-07 18:37] #4010 closed

[2018-11-07 19:02] joshuawilson commented on #4414
I just looked over the code in the UI. It does not allow you to start with an underscore (or anything not alpha). It will allow you to use underscores in the name, just not doubled together).

So you can create the space with that name but when you try to create an the backend doesn't allow it.

We want to allow underscores in the name but we don't want to start with them. The reason is that the n

[2018-11-07 19:06] joshuawilson commented on #4414
checking for `null` is not what i would call validation

[2018-11-07 19:08] gastaldi commented on #4414
@joshuawilson the following RegExp is used to validate the project name: https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/projectiles/context/OsioImportProjectileContext.java#L33

AFAIK underscores are not valid, so that may need to change

[2018-11-07 19:10] joshuawilson commented on #4527
As this was never designed and not implemented, there is nothing to fix. It is a feature-request. Please write it up on https://openshift.io/openshiftio/Openshift_io/plan and close this one.

[2018-11-07 19:14] joshuawilson commented on #4414
Thanks. That regex line is the reason I think.

I don't know if there is an OpenShift or Che reason for not allowing underscores at all. I only know for sure we can't have them be the first character.

@gorkem @aslakknutsen @jfchevrette @jmelis @pbergene can one you confirm what is allowed on OS?

[2018-11-07 19:16] joshuawilson commented on #2603
That means the order you want to do the work. You can move the items up and down according to what you plan to work on first.

[2018-11-07 19:49] jfchevrette commented on #4414
@joshuawilson k8s object names must meet rfc1123 DNS names specifications

ValidateNamespace
https://github.com/kubernetes/kubernetes/blob/6c9b854542619e2bdac0cfe489e9dd5dd89fb8a3/pkg/apis/core/validation/validation.go#L5052-L5059

https://github.com/kubernetes/apimachinery/blob/ed135c5b96450fd24e5e981c708114fbbd950697/pkg/api/validation/generic.go#L62

https://github.com/kubernetes/apimachinery/b

[2018-11-07 20:09] joshuawilson commented on #4414
ok, so I looked at the links and the spec and it doesn't appear to block/ban underscores

[2018-11-07 20:10] joshuawilson commented on #4414
If they are allowed then the backend should allow them, right?

[2018-11-07 20:39] joshuawilson commented on #4414
OK, we will update the UI to disallow underscores.

[2018-11-08 03:29] #4449 closed

[2018-11-08 04:13] serenamarie125 commented on #3214
This will be considered to be addressed as part of L Train, but not before.

[2018-11-08 04:16] serenamarie125 commented on #4187
closing since this is already addressed by 2 other issues

[2018-11-08 04:16] #4187 closed

[2018-11-08 05:55] hrishin commented on #1895
closing this in regards #4009

[2018-11-08 05:55] #1895 closed

[2018-11-08 06:02] chmouel opened #4528 "Build: Use buildah/podman on CI"
Since it is the future, better start now!

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/67

[2018-11-08 06:28] #4528 closed

[2018-11-08 06:42] chmouel opened #4529 "Build: Fix buildah image build"
Using dockeries

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/69

[2018-11-08 07:31] invincibleJai commented on #4518
Changes are in prod, closing it.

[2018-11-08 07:31] #4518 closed

[2018-11-08 07:32] invincibleJai commented on #4516
changes are in prod, closing it.

[2018-11-08 07:32] #4516 closed

[2018-11-08 07:44] muruGanesan commented on #2307
@serenamarie125,
Here is the Invision link (to review with stakeholders)
https://redhat.invisionapp.com/d/main#/console/15878174/329445923/preview

@ engineering team:
You will NOT have access to the above 'Invision link'.
I will share the public link, once we complete our internal review.

[2018-11-08 07:55] invincibleJai commented on #3744
@ljelinkova no it's not something newly added to UI , it's observed in scenarios where Annotations are fetched in UI from build and UI makes call to analytics service with stackID and even analytics service takes some time to process the stack. So it's different from earlier comments in this thread , earlier even progress was not shown as annotations were not fetched in UI.

@hrishin @yzainee can

[2018-11-08 07:55] #4529 closed

[2018-11-08 08:45] miteshvp commented on #3744
@ljelinkova @ppitonak @ldimaggi
The original issue was due to the lack of annotations getting created from build. Since then, there has been couple other occasions where stack report is not generated
To list stack report not being generated
1. Due to failure of adding annotations from build side
2. Due to time taken to generate a stack report in a timely manner (we are seeing some load after relea

[2018-11-08 09:02] ppitonak commented on #3742
@tinakurian @stevengutz can you please post update? It's a P1 issue which probably causing also #4172

[2018-11-08 09:30] ppitonak commented on #4172
OK, I asked @tinakurian for update on #3742

[2018-11-08 09:41] miteshvp commented on #3744
SLA for stack report is 30 minutes

[2018-11-08 10:37] ppitonak commented on #4517
Appeared 5 times today (100% of test failures), most recent one is https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1010/

[2018-11-08 10:38] sbose78 commented on #4517
Does it work outside the tests, when tried out manually?

[2018-11-08 10:59] hrishin commented on #4517
yes. Somehow its intermittent ATM.

[2018-11-08 11:41] ppitonak commented on #4517
How can I do that?

[2018-11-08 12:04] serenamarie125 commented on #4326
@andrewazores "Remove space" should be "Remove Space"

[2018-11-08 12:18] serenamarie125 commented on #4189
Closing since this is a duplicate

[2018-11-08 12:18] #4189 closed

[2018-11-08 13:02] hrishin commented on #4517
@ppitonak

By editing `DeploymentConfig`

Eaither by OpenShift web console or `oc edit dc/jenkins -n <jenkins-namespace>`

[2018-11-08 13:09] nimishamukherjee commented on #4512
Updated labels as this issue is related to UI and UX.

[2018-11-08 13:16] sthaha commented on #4517
@hrishin that isn't an option when running e2e tests.

[2018-11-08 13:40] #4414 closed

[2018-11-08 14:16] nimishamukherjee commented on #4403
@divyanshiGupta please have a look and add your comments. Infotips appear on the quick add. They do not appear on the side panel.

[2018-11-08 14:22] sbose78 commented on #3742
@ppitonak I'm on this as well. Will let you know if I find something.

[2018-11-08 15:04] nimishamukherjee commented on #4417
@openshiftio/uxd-team we need your input on the email format.

[2018-11-08 15:40] stacymcauliffe commented on #4417
@serenamarie125 what about something like this (see below) for the email format, where we add additional descriptive text about what the user did (which can hopefully grab from what's already being displayed in the planner UI) and a bit more context where it makes sense (for example, showing 2-3 recent messages in an instance where someone is responding to comments in a thread). Here are a few exa

[2018-11-08 15:51] aptmac commented on #4417
FWIW, there have been designs for this sort of thing for a while, they've mostly flown under the radar though.

January 2018
https://github.com/openshiftio/openshift.io/issues/1990#issue-290971783
https://redhat.invisionapp.com/share/XHD0O8A5B#/screens/248448903

May 2018
https://github.com/openshiftio/openshift.io/issues/3419#issuecomment-385998592

Hopefully the discussion from those issues can

[2018-11-08 16:39] nimishamukherjee commented on #4273
@openshiftio/uxd-team we require your input on this. Do we need to display works items across spaces?

[2018-11-08 16:40] serenamarie125 commented on #4191
This is ready for implementation, just need to review with Dev to be sure there are no questions.

[2018-11-08 16:45] serenamarie125 commented on #3296
@Veethika please take this Issue - this is the one about utilizing a modal rather than navigating to view your opt in settings.

[2018-11-08 16:46] serenamarie125 commented on #3765
Need to review with UI Dev

[2018-11-08 16:47] nimishamukherjee commented on #4267
@RanjithRV @stevengutz what would be the upper limit for story points and efforts?
cc @openshiftio/uxd-team

[2018-11-08 17:06] nimishamukherjee commented on #4222
Note that for a work item, we have
- a ID (UUID) that is not user friendly (7627694b-368d-48a5-9bda-9effcbbad42e)
- a user friendly number (5)

@openshiftio/uxd-team @Veethika we need your input here.
cc @Preeticp

[2018-11-08 17:13] jarifibrahim commented on #4403
The infotips are available on prod-preview and docs haven't been updated on prod in the last 4 months. That's why we don't have infotips for agile on prod.

Removing workitem-tracker label since there's nothing to be done on the backend.

[2018-11-08 17:14] jarifibrahim commented on #4403
@Preeticp is there a reason for using old (4 months old) version of docs on prod? Can we push the latest version of docs to prod?

[2018-11-08 17:17] serenamarie125 commented on #4191
The items which should be addressed in this issue should include:
- change it to a modal
- background color of modal should be while
- visual treatment of the radio buttons should match whats in the invision

[2018-11-08 17:50] divyanshiGupta commented on #4403
@Preeticp last time I checked with you, you told me that there was a problem with Centos CI but this issue is 4 months old. Can you check why the doc is still not updated on prod?

Removing ui label since this is a docs issue.

[2018-11-08 18:01] chmouel opened #4530 "Build: build merge doesn't fail gracefully when there is an issue."
For example [here](https://ci.centos.org/job/devtools-fabric8-build-fabric8-push-build-master/10/console) :

[code]

Should fail and not go on

[2018-11-08 18:12] #4530 closed

[2018-11-08 20:13] hrishin commented on #4517
@ppitonak we can some failures for `va519389`. Shall  we try `v87522af`?

[2018-11-08 21:58] serenamarie125 opened #4531 "Design guidelines for input validation"
Determine and document design guidelines for input validation.  Be sure to investigate PF3 and PF4 solutions as part of this.

Stay away from yelling at users before they have finished inputting (OSIO example below)
<img width="619" alt="screen shot 2018-11-08 at 4 55 52 pm" src="https://user-images.githubusercontent.com/12504403/48229913-5e72df00-e377-11e8-9645-9b3c6145871a.png">

[2018-11-09 02:53] serenamarie125 opened #4532 "Provide content recommendations for mission section of the launcher"
Background: During testing, the concept of mission actually was fairly well understood, but what each of them did was less clear.  They defaulted to “Blank Mission” because of that.

[2018-11-09 02:59] Preeticp commented on #4403
@jarifibrahim you are right there has been an issue with updating docs in the prod and @rkratky has been trying to get it resolved. I have been following it up with him and Piyush. Piyush mentioned a workaround, we will give it a try and try to get this resolved ASAP.

[2018-11-09 03:14] serenamarie125 opened #4533 "Revisit the design of the Application Summary section"
The application summary section of the summary section should be fully visible on a 1440x900 screen.  It is not currently fully visible, confusing users.

<img width="994" alt="screen shot 2018-11-08 at 2 45 18 pm" src="https://user-images.githubusercontent.com/12504403/48241122-8f690900-e3a3-11e8-8501-f26fac620e55.png">

Background:

- A couple participants during usability testing were confused

[2018-11-09 03:15] serenamarie125 commented on #4533
@Veethika do you have time to look at this?

[2018-11-09 06:05] muruGanesan commented on #4185
@serenamarie125, based on 'OpenShift.io Sprint Demo' held on 26th Sep 2018 & 11 Oct 2018, we decided to keep the "public space" warning info on top of the action button. Because later, the user will have an option to choose "private | public"  so the message near the action button would be an appropriate placement.

1) Please let us know if you would like to move "This space will be public" inform

[2018-11-09 06:12] muruGanesan commented on #4197
@serenamarie125, I look forward to collecting your inputs after your discussion with Steven S and Chtistian about the external links during the application setup.

[2018-11-09 07:34] nimishamukherjee commented on #4122
@openshiftio/uxd-team can you recommend the ordering here.
Do we go by iteration start date?
If yes, how do we handle iterations without a start date as we do not enforce iteration start and end dates.

[2018-11-09 07:38] nimishamukherjee commented on #4074
@openshiftio/uxd-team @Veethika need your input here.
Do we fix the length at, say 200 characters? Or do we try something like GitHub where they truncate the title and add the rest of the title text to the description?

[2018-11-09 07:39] ljelinkova commented on #4020
I've just seen this in the logs:

[code]

At first, there was `‘Jenkins’ doesn’t have label ‘mavene2e_1109_0720_4737_1’` message but after a while the build continued. Does it mean that this issue is fixed in production now?

[2018-11-09 07:40] hrishin commented on #4517
@ppitonak @ljelinkova note that a Jenkins update is available with new tenant deployments.

[2018-11-09 07:45] kwk commented on #4259
@DhritiShikhar what is the actual behavior at the moment?

[2018-11-09 07:45] sunilmalagi commented on #4512
@serenamarie125 I think its covered in #3561 Audit Trial issue, here is the invision link: https://redhat.invisionapp.com/share/QAJ43I3RV69#/298319287_01_AuditTrial
Basically the editable fields should have the boxes only on hovering on them.
@Veethika please provide any interaction notes if I have missed.

[2018-11-09 07:47] nimishamukherjee commented on #4059
@openshiftio/uxd-team @Veethika need your input here.

[2018-11-09 07:49] nimishamukherjee commented on #1595
We can refer to https://github.com/openshiftio/openshift.io/issues/4058 for recommendations made.

[2018-11-09 07:50] nimishamukherjee commented on #4058
Closing this as it is a duplicate. Referenced this issue in #1595 to retain the recommendations.

[2018-11-09 07:50] #4058 closed

[2018-11-09 07:56] nimishamukherjee commented on #1595
https://docs.google.com/presentation/d/1x1iJyuqbqPedxhnduUASiJkRogh1RA8qVLIcJEGFjM0/edit?usp=sharing

@muruGanesan @openshiftio/uxd-team can we refer to the above link?

[2018-11-09 08:15] muruGanesan commented on #1595
Yes, @nimishamukherjee,
Please treat this document as a guideline but if there are corner/exceptional cases then please feel free to connect with @sdash-redhat or any of our UXD member.
FYI:
OSIO UXD wiki (work in progress) > "https://uxd.fabric8.io/information/data-display-guidelines/"

CC: @serenamarie125, @sdash-redhat

[2018-11-09 08:30] ibuziuk commented on #4079
All starter clusters have been updated this week to openshift 3.11. However, yet another requirement for fixing this slow volume mount issue is having  gluster-subvol driver fix [1] deployed to the prod clusters. I will provide an update here when the fix would be available on prod clusters and qa verification could be done.

[1] https://github.com/gluster/gluster-subvol/pull/24

[2018-11-09 08:36] kwk commented on #4512
No offense but just as note: This issue was reported was reported 9 days ago and probably should be easily fixable within a day, yet we're still finding out if somebody has proof for that the borders should have never been there?

@christianvogt you wrote:

Patternfly didn't have the concept of comments back then so planner created one.

I don't care so much about consistency but about the look an

[2018-11-09 08:40] kwk commented on #1595
@muruGanesan it doesn't help when such guidelines are spread over multiple places. Do you have a repository on Github where you can store these guidelines? That would tremendously help us when we implement anything here. The Backend for example might need to add a check about the length of a field in characters but it has no way to refer to where this definition comes from other than the google sp

[2018-11-09 09:39] muruGanesan commented on #1595
@kwk, valid points.
The aim of the 'OSIO UXD wiki' is to capture all such standards in a commonplace.
I will check with @serenamarie125 and come back.
But currently, the UXD wiki is a reference point: "https://uxd.fabric8.io/information/data-display-guidelines/".

[2018-11-09 09:56] kwk commented on #1595
If that page has been generated from a source file it would certainly help if you can let me know that file.

[2018-11-09 10:22] muruGanesan commented on #1595
@kwk,
Here is the doc:
https://docs.google.com/presentation/d/1x1iJyuqbqPedxhnduUASiJkRogh1RA8qVLIcJEGFjM0/edit?usp=sharing
For more information, I would request @sdash-redhat (Samir) help you on this.

[2018-11-09 10:39] ppitonak commented on #4517
Last failure had these versions:
[code]
[code]

What is the new version?

[2018-11-09 11:09] kwk commented on #1595
@muruGanesan no no, I didn't mean a google doc. I thought the page https://uxd.fabric8.io/information/data-display-guidelines/ is maybe generate from some markdown. That would be the single source of truth for me.

[2018-11-09 12:22] sdash-redhat commented on #4198
The annotation is added to the Final visual.
https://redhat.invisionapp.com/share/VYOHSD2WKQZ#/330469956_-4198-Analyze_Dashboard_-_Re-Evaluate_In_Progress_States_In_The_Dashboard-pdf_1

Also adding the image inline below:

![artboard 1](https://user-images.githubusercontent.com/27761023/48262328-1f608e80-e448-11e8-8721-e25ed824733b.png)

Marking this story as complete.

[2018-11-09 13:00] #3744 closed

[2018-11-09 13:52] msrb commented on #4483
Good catch :wink:

[2018-11-09 13:52] #4483 closed

[2018-11-09 15:15] ppitonak commented on #4503
It appeared today again https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1404/console

before test run: `pod/jenkins-1-s4skh   1/1       Running   0          1h`
after test run: `pod/jenkins-1-pmvhh   0/1       ContainerCreating   0          32s`

Events contain a lot of `Error creating: pods "jenkins-1-xxxxx" is forbidden: exceeded quota`
http://artifacts.ci.cent

[2018-11-09 17:49] serenamarie125 commented on #4185
@muruGanesan there is a bunch of confusion at the moment as to what is being proposed by this design.  For example:

- does this only affect the Create Space modal?
- I think the main poin is to add a right column to provide contextual information (shown below)
![screen shot 2018-11-09 at 12 12 58 pm](https://user-images.githubusercontent.com/12504403/48277535-f7a60200-e418-11e8-88b3-1e7d83b6202a.

[2018-11-09 18:19] #4004 closed

[2018-11-10 11:53] muruGanesan commented on #4185
@serenamarie125, thanks for your info.
@sunilmalagi can help us to change the split to 50:50.

[2018-11-10 12:13] muruGanesan commented on #4030
@kwk,
Please review the UX recommendation provide your inputs (if any).
https://redhat.invisionapp.com/share/3AOH1QYH69G#/324562585_4030_Login-2-Home

CC: @sbose78, @aptmac, @serenamarie125,

[2018-11-10 12:32] muruGanesan commented on #3938
@serenamarie125, since you are working on new IA for OSIO (version 1.5), we can close this issue if it is irrelevant.

[2018-11-10 12:42] muruGanesan commented on #4009
@ljelinkova, @joshuawilson, @sthaha,
Since UXD proposal is accepted, I am removing 'UX label' and my name from the assignee list.
Please add me/include me if anyone needs any clarification from the UX side.

CC: @serenamarie125

[2018-11-10 12:57] muruGanesan commented on #2841
@catrobson, @serenamarie125,
Since, no one is working on this issue, I am removing the assignees.

[2018-11-11 04:56] serenamarie125 commented on #3924
@ldimaggi what's the use case here?  I can think of the following use cases:

1. user searches for a space that they own (already supported)
1. user searches for a space of which they are a contributor to (already supported)
1. user searches for a space (already supported)
1. user sees a huge list of spaces in a page, and wants to search for one of them ... (supported in many areas ... maybe not a

[2018-11-12 00:07] serenamarie125 commented on #4512
@kwk can we identify the appropriate parties and have a quick meeting to discuss the solution rather than continuing with this unproductive thread.

[2018-11-12 00:15] serenamarie125 commented on #1595
I'm not sure why we are using a wiki or google docs rather than a GH Design Repo so that information is more easily accessed for our devs.  Regardless, @kwk i agree that we should have a single location which provides design guidance for the product.  The UX team will be revisiting the content on the wiki that you have referenced this week - I'm not sure where we came up with the info that's on th

[2018-11-12 01:57] serenamarie125 commented on #4059
I think we need to verify the datatype of business value, in order to provide a good recommendation.  I'm not sure of the input type that's being used in the UI today, but the font is completely different as well.  Let's make sure that the font type and size are the same as the description field.

![j2tzamktjd](https://user-images.githubusercontent.com/12504403/48322166-32b05d00-e5f4-11e8-9041-ea6

[2018-11-12 03:15] gorkem opened #4534 "initial build is not started"
##### Issue Overview
When a new application is created the initial build is not started, Toolchain UI looks like there is a
build going on but a jenkins build is not really started.

##### Expected Behaviour
A build is started right after the new application wizard is completed.

##### Current Behaviour

##### Steps To Reproduce

1. Create a new space and a new application. I have use Spring Boot

[2018-11-12 08:43] Veethika commented on #4533
@serenamarie125 I'll look at this.

[2018-11-12 10:18] fabric8cd opened #4535 "Analytics fails to find manifest files while using the osio pipeline library for building Java projects"
I am working on https://github.com/openshiftio/openshift.io/issues/4319 - which is Java support with the new [osio pipeline](https://github.com/fabric8io/osio-pipeline) library for existing boosters.
I came across this bug while testing one of the Java boosters.
Below are the logs :
[code]
Here is the complete build log - https://paste.fedoraproject.org/paste/dan8~RXaqQ3DrkXilQDboA

Steps to repro

[2018-11-12 10:58] nimishamukherjee commented on #4048
@openshiftio/uxd-team as mentioned by @Veethika we will wait for #3999

[2018-11-12 12:02] ppitonak commented on #4517
@hrishin ^

https://ci.centos.org/view/Devtools/job/devtools-saas-openshiftio-e2e-smoketest-beta/326/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1419/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1029/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1030/con

[2018-11-12 14:34] michaelkleinhenz commented on #3870
Is fixed with the default value feature.

[2018-11-12 14:34] #3870 closed

[2018-11-12 14:50] vikram-raj commented on #4142
This issue has been fixed and on prod. Feel free to reopen if you see this issue again.

[2018-11-12 14:50] #4142 closed

[2018-11-12 14:55] #3715 closed

[2018-11-12 14:56] joshuawilson commented on #3558
GKE is gone so this is out of date

[2018-11-12 14:56] #3558 closed

[2018-11-12 14:58] joshuawilson commented on #354
tracking in planner

[2018-11-12 14:58] #354 closed

[2018-11-12 16:03] joshuawilson commented on #4273
This was changed to a feature-request because the drop-down in the widget allows you to view other spaces.

[2018-11-12 16:51] nimishamukherjee commented on #4177
@sivaavkd do you still face this issue?

[2018-11-12 16:54] nimishamukherjee commented on #4089
@kishansagathiya do you still face this error?

[2018-11-12 17:43] sbose78 commented on #4030
@muruGanesan , Looks good.

However, we need to figure out how to handle the scenario where the user doesn't have openshift online connected. Currently, a couple of redirects which connects the user's openshift online to OSiO. Do we wanna keep it the same way? Generally, this needs to happen only once per user.

[2018-11-12 19:20] joshuawilson commented on #4185
I've commented on the design. I like Option 1 more.

[2018-11-12 19:32] joshuawilson commented on #4009
@sthaha when will the new OSIO-pipelines be ready (with the verify deployment check)?

[2018-11-12 20:04] gorkem commented on #4534
@sunilk747 Did you have time to verify if this is a real issue?

[2018-11-13 00:29] sivaavkd commented on #4177
Tried various filters and seems to be working fine.  Closing this.

[2018-11-13 00:29] #4177 closed

[2018-11-13 06:14] nimishamukherjee commented on #3951
@openshiftio/uxd-team please provide a visual of the warning.
cc @Veethika @sunilmalagi

[2018-11-13 09:01] Veethika commented on #4196
@serenamarie125 @AshishDurgude @christianvogt Updated the InVision doc with detailed descriptions for the changes
https://redhat.invisionapp.com/share/YDOI4Z19R3B#/330983963_1

[2018-11-13 10:17] joshuawilson commented on #3951
I don't think we need a warning as much as auto-save. When you leave the field it should save the information.

[2018-11-13 10:43] sbose78 opened #4536 "Workspace creation from WIT in che 7 without stackIDs"
Given that we are moving way from Stack/StackIDs in Che 7, what would be the ideal way to trigger workspace creation from api.openshift.io ?

[2018-11-13 10:44] sbose78 commented on #4536
Need your inputs @l0rd .

[2018-11-13 10:52] joshuawilson commented on #4025
this does not appear fixed yet

[2018-11-13 11:41] hrishin commented on #4517
@ppitonak v541889d is the new version.

[2018-11-13 11:47] l0rd commented on #4536
Che 7 based workspaces are still working with stacks IDs. What has changed is that a Che 7 stack corresponds to a list of Che plugins (e.g. `java + git + terminal + ...`) rather than a container image (e.g. `centos-jdk8`).

We may in the future discontinue the usage of a stack ID to start a workspace in favor of a list of plugins IDs but that's something we haven't planned for the near future.

[2018-11-13 12:05] sbose78 opened #4537 "Changes in WIT/Che-starter for using stacks in Che 7"
OSiO Che team and ToolChain backend team to discuss changes needed for Che 7 to work with OSiO

[2018-11-13 12:38] ppitonak commented on #4514
@rhopp can we close this issue?

[2018-11-13 12:50] rhopp commented on #4514
@ppitonak I guess so. Kibana show no occurrence of this. Closing.

[2018-11-13 12:50] #4514 closed

[2018-11-13 12:57] piyush-garg commented on #4534
Closing this issue as we are not able to reproduce this. Please reopen if you see it again. Thanks

cc @sthaha @gorkem

[2018-11-13 12:57] #4534 closed

[2018-11-13 13:09] Veethika commented on #3693
@Joshua could you elaborate a bit on 'same dropdown' and 'format of data'? Would help in understanding the problem better

[2018-11-13 13:29] rgarg1 commented on #3951
+1 to @joshuawilson

[2018-11-13 13:38] hrishin commented on #4517
@ppitonak we working on this issue. Appears like the new image might have broken some plugins dependencies which in turn causing this issue.

[2018-11-13 16:21] christianvogt commented on #4512
@kwk @serenamarie125 I'm ok with quick fix solutions that get us improvements with minimal efforts.

As the UI team move towards better componentization of the UI building blocks, we hope to better address such issues by replacing old UI with the new components. Thus inheriting consistent styles and interactivity.

[2018-11-13 16:33] piyush-garg commented on #4503
This may have happened because of the same thing as https://github.com/openshiftio/openshift.io/issues/4519. It has been resolved.

[2018-11-13 16:42] joshuawilson commented on #3693
I would want one design that looks at the same data. It should display the same way and filter the same way. In fact it should be the same dropdown code shared everywhere we need a dropdown.

@christianvogt Is there something in PF that we should use or do we need to standardize ours?

[2018-11-13 17:17] christianvogt commented on #3693
@joshuawilson pf3 does have a drop down / search menu that does fit with the filter but I do not see any component that meets the needs of the assignee dropdown. For now aligning the content for functionality will be sufficient. We need to revisit these components in the future as neither work well without a mouse.

[2018-11-13 17:46] serenamarie125 commented on #3693
@christianvogt @joshuawilson let's cover this in our Stakeholder review tomorrow!

[2018-11-13 18:54] ldimaggi commented on #2385
Closing as no longer reproducible.

[2018-11-13 18:54] #2385 closed

[2018-11-13 20:58] fabricepipart commented on #4504
Unfortunately even after cleaning up and starting fresh, the build still fails. I don't get what is happening. During my build, fabric8 builds my war and then builds the docker image from it if I understand properly.

During the creation of the tar, I get an exception:
`org.codehaus.plexus.archiver.ArchiverException: Problem writing to output in xAR operation Disk quota exceeded`
https://jenkins.o

[2018-11-14 01:04] sdash-redhat commented on #4411
Based on the discussions, Here is the first draft of concept/mockups with highlevel flow:
https://redhat.invisionapp.com/share/WQP3OKNK7HZ

This has 3 scenarios:

1. Developer - Browses the Market place, Views Details, Provides Review /Rating.
2. Publisher - Submits a Plugin for Market Place, Views List of his plugins.
3. Admin - Reviews Plugin for approval.

I have referred the catalogue app and

[2018-11-14 04:30] sbose78 opened #4538 "Import code flow: Start workspace from Che devfile"
If the repo has a Che devfile, the imported repo should use the devfile to start a workspace.
See https://github.com/eclipse/che/issues/11549

[2018-11-14 04:40] Preeticp commented on #4403
@divyanshi, the workitems infotip was added in the yaml file 2 months back: https://github.com/fabric8-services/fabric8-wit/pull/2266/files
Yesterday I added it to the glossary too as per the old method and it is merged, can you please check why it's still not reflected as an infotip?

[2018-11-14 09:45] #4393 closed

[2018-11-14 11:36] jarifibrahim opened #4539 "Internal Server Error when trying to create application (launcher)"
##### Issue Overview

App creation fails after resetting environment because of incorrect space ID.

##### Expected Behaviour
Creating a new application should use correct `space_id` and should not fail with `500: Internal Server Error`

##### Current Behaviour
New app creation fails with Internal Server Error after resetting environment. The `space_id` used to create the new application is the in

[2018-11-14 11:36] #4228 closed

[2018-11-14 13:07] serenamarie125 opened #4540 "Multi cluster & multi environment Designs"
- users need the ability to see all cluster they have access to
- when creating a space, there should be default environments, but the user should be able to optionally override those defaults before the space is created
- space owners (can collaborators too?) should be able to view environments associated with a space
- space owners should be able to edit environments after the space is created,

[2018-11-14 13:50] parvathyvr commented on #4540
@serenamarie125 The initial set of mockups can be found in the following Invision link:
https://redhat.invisionapp.com/share/UKP3Z6LHXBM#/331308226_Table_Of_Contents

[2018-11-14 13:52] gorkem commented on #4536
We can not sustain stack_ids forever. The import flow will _hopefully_ introduce more unpredictable application architectures, which we will not have a corresponding stack id.

[2018-11-14 14:10] joshuawilson commented on #4540
some of this is being tracked at:

- Wireframes:Defining Environments from ’Space Settings’ #4200
- Wireframes:Managing the Openshift instances that user can connect to OSIO from User ‘Settings’ #4199

I'm not sure if something in here is a duplicate.

[2018-11-14 14:16] joshuawilson commented on #4539
Did you use the same name for the space?
I'm wondering if it might be some caching issue.

@alexeykazakov I'm adding Platform since it has to do with Resetting the Env and Space IDs.

[2018-11-14 14:28] msehnout opened #4541 "Create a backend application that provides plugin metadata via web API"
Backend repository: https://github.com/msehnout/che-marketplace-backend
Go back to planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/972

Set (unordered by its definition) of tasks needed for PoC:
- [X] CI (Travis)
- [X] CD (OpenShift pre-hook)
- [X] Unit testing
- [X] Endpoint for listing plugins
- [X] Endpoint for receiving metadata about a specific plugin
- [ ] Proper error han

[2018-11-14 14:43] parvathyvr commented on #4540
@joshuawilson The Invision links in #4199 and #4200 are showing the screens for the current OSIO UI.I am not sure,if they are relevant anymore.The Invision link in this Github issue has screens for the new OSIO UI

[2018-11-14 14:45] parvathyvr commented on #4540
@joshuawilson The Invision links in4199 and 4200 are showing the screens for the current OSIO UI.I am not sure,if they are relevant anymore.The Invision link in this Github issue has screens for the new OSIO UI and Navigation. FYI @serenamarie125

[2018-11-14 14:49] joshuawilson commented on #4540
I guess as long as we implement the new navigation first that is fine.

Should the other issues be closed?

[2018-11-14 15:02] joshuawilson opened #4542 "Planner description does not change when selecting a new one"
##### Issue Overview

The Description field keeps the last text when you select a new work item

##### Expected Behaviour
To change the description

##### Current Behaviour
Description doesn't update

##### Steps To Reproduce

1. go to planner
2. click on a work item (so that is open the quick preview)
3. edit the description
4. change to the preview tab for the description (seeing what it will lo

[2018-11-14 15:10] chmouel opened #4543 "Build: Add more configuration option for CleanTestData/DSN/Logs"
This is needed if we want to use testsuite from fabric8-common :

https://github.com/fabric8-services/fabric8-common/blob/master/test/suite/db_test_suite.go#L18-L23

[2018-11-14 15:17] #4543 closed

[2018-11-14 19:02] gorkem opened #4544 "Incorrect details on Github's PR Checks view"
##### Issue Overview
The details link on a PR check result created by Toolchain leads to an undefined URL.

##### Expected Behaviour
The details url opens the results of the PR check build

##### Current Behaviour
The details view is populated with a URL similar to [1]

[1] http://www.unconfigured-jenkins-location.com/job/gorkem/job/abootapp/job/PR-1/1/display/redirect

For instance, in this [PR](

[2018-11-14 19:59] gorkem commented on #1602
Closing as we want che.openshift.io to retain Che identity.

[2018-11-14 19:59] #1602 closed

[2018-11-14 20:10] gorkem commented on #3498
I am closing this as it did not see any action for a while and can not be reproduced

[2018-11-14 20:10] #3498 closed

[2018-11-14 20:31] alexeykazakov commented on #4539
I have no idea how reset env in backend can cause such issue. Looks like an UI issue to me. The wizard uses some wrong space ID.

[2018-11-14 20:32] alexeykazakov commented on #4539
@sbose78 @rohitkrai03 maybe you can take a look guys.

[2018-11-14 21:14] ldimaggi opened #4545 "Creating a new workspace is requiring user to login again"
##### Issue Overview
When a user adds a new project to a space in OpenShift.io, the user is given the option of creating a new workspace in Che. If the user opts to create that new workspace in Che, the user is prompted to login to OpenShift.io again. This is a change to the path/flow in the UI.

##### Expected Behaviour
The expected, and previous behavior is that the user, when creating a new Che

[2018-11-14 21:46] ldimaggi opened #4546 "Creating a new Thorntail project fails with a Forge error"
##### Issue Overview
Creating a new project with the Thorntail runtime fails with a 500/server error.

##### Expected Behaviour
It should be possible for users to create new projects configured with the Thorntail runtime.

##### Current Behaviour
This error results:
[code]

##### Steps To Reproduce

1. Create new space and new project
2. For the project, select Mission = REST, and runtime = Thornt

[2018-11-14 21:48] ldimaggi commented on #4546
If, after encountering this issue, the user attempts to then create a Vert.x or Springboot app, the same error occurs. Logging out and then back in seems to clear the error.

[2018-11-14 21:59] joshuawilson commented on #4539
The reset is done in the backend, something on the tenant services. The Space ID is set by the backend. I don't know how the UI could cache the ID but it might.

[2018-11-14 22:03] joshuawilson commented on #4546
@gastaldi is this an error you recognize?

[2018-11-14 22:29] gastaldi commented on #4546
@joshuawilson I just redeployed a new backend version. @ldimaggi Can you please try to reproduce the error again?

[2018-11-14 22:36] gastaldi commented on #4546
I see this error in Sentry: https://errortracking.prod-preview.openshift.io/openshift_io/fabric8-launcher-backend/issues/9275/ is the Analytics Service down?

[2018-11-14 22:41] gastaldi commented on #4546
Looks like https://github.com/fabric8-launcher/launcher-backend/pull/564 can be merged now

[2018-11-14 23:33] ldimaggi commented on #4546
Seems to be working now - I wonder why only thorntail was affected?

[2018-11-14 23:37] gastaldi commented on #4546
No clue, but feel free to close this issue and reopen if the problem
reappears

Em Qua, 14 de nov de 2018 21:34, Len DiMaggio <notifications@github.com
escreveu:

[2018-11-15 02:40] ldimaggi opened #4547 "Creating a new Thorntail project fails - build failure due to quota being exceeded"
##### Issue Overview
Creating a new project with the Thorntail runtime fails with build error.

##### Expected Behaviour
It should be possible for users to create new projects configured with the Thorntail runtime.

##### Current Behaviour
See build log fragment below for error.

##### Steps To Reproduce
1. Create new space and new project
2. For the project, select Mission = REST, and runtime = T

[2018-11-15 02:40] ldimaggi commented on #4546
Closing in favor of:
https://github.com/openshiftio/openshift.io/issues/4547

[2018-11-15 02:40] #4546 closed

[2018-11-15 02:43] ldimaggi commented on #4547
This is in production - cannot yet recreate on prod-preview as env reset results in Jenkins pod not starting.

[2018-11-15 05:49] piyush-garg commented on #4546
Seems like duplicate of #4539

[2018-11-15 05:52] piyush-garg commented on #4544
Duplicate of #1259 that issue has more visibility. closing this.

[2018-11-15 05:52] #4544 closed

[2018-11-15 07:34] vikram-raj commented on #4539
I follow the steps as mentioned by @jarifibrahim but not able to reproduce this issue.

I tried on prod and on prod-preview as well.

[2018-11-15 07:41] #3981 closed

[2018-11-15 08:43] piyush-garg commented on #4539
@vikram-raj @jarifibrahim @joshuawilson I also faced this issue, reloading the page works for me.

[2018-11-15 09:18] sunilk747 opened #4548 "Integrate the Backend with Frontend model to make this design work end to end"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/973

### Description
This task aims to integrate the available APIs with frontend component and make the whole application work end to end.

Backend Component - https://github.com/msehnout/che-marketplace-backend

Frontned Component - https://github.com/jeff-phillips-18/catalog-test-app

### Acceptance criteria
A running

[2018-11-15 09:22] sunilk747 opened #4549 "Investigation on the Frontend Architecture for Openshift Marketplace"
**Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/971**

### **Description**
Our Main Aim is to analyse, understand the Underlying frontend architecture of the Openshift Marketplace so that we can re-use its code base as initial design of Che Marketplace.

### **Acceptance Criteria**
A clear understanding of the openshift marketplace frontend codebase.

### **Task List**
-

[2018-11-15 09:51] jarifibrahim commented on #4539
I was playing around with che and build so I had created and deleted a lot of spaces and builds. I think I cleaned the environment a couple of times.

[2018-11-15 10:45] msehnout opened #4550 "Planner should have CLI interface"
The planner should offer a CLI alternative to the web UI. As an example, take a look at this Bugzilla cmd tool, that comes with Python API:
https://github.com/python-bugzilla/python-bugzilla

Python API and CLI tool can help with the batch processing of many tasks in big teams. It is also convenient for developers working primarily from a terminal (using `git`, `oc`, `vim`, etc.).

[2018-11-15 12:29] Veethika commented on #4480
@joshuawilson I just confirmed, 'Show Completed' checkbox does hide closed items even in the iteration view. But if the tree view is enabled, it might still show the parent item that has been closed.
Also, there's a clear visual difference in the type weight for a closed item to differentiate it from regular items.
IMO we should be using one term at both places instead of - 'Completed' and 'Closed

[2018-11-15 12:33] #4506 closed

[2018-11-15 13:32] ldimaggi commented on #4547
Seeing this on prod-preview too:

![screenshot from 2018-11-15 08-31-51](https://user-images.githubusercontent.com/642621/48556096-f2c9ce00-e8b0-11e8-99f8-8816e1424ed6.png)

[2018-11-15 14:15] joshuawilson commented on #3693
We need to bring this back to the initial issue.

The 'filter' displays **username** instead of "real name".

[2018-11-15 14:21] chmouel opened #4551 "Build: Make sure pipelines name are UNIQUE and NOT NULL"
Since we don't want no sinkins doublons!

[2018-11-15 14:34] serenamarie125 commented on #4199
Closing, this work is being tracked by #4540

[2018-11-15 14:34] serenamarie125 commented on #4200
Closing, this work is being tracked by #4540

[2018-11-15 14:34] #4200 closed

[2018-11-15 14:34] #4199 closed

[2018-11-15 14:58] Veethika commented on #4480
After discussing with Joshua it looks like after all there is a bug in the implementation.
@vikram-raj In the attached screenshot, the closed work items are appearing even if they don't have a child item that's in an active state.
@sunilmalagi there's no differentiation in the way the active and closed items are displayed. Did you provide any design for that earlier?
<img width="1675" alt="screens

[2018-11-15 15:19] chmouel opened #4552 "Build: Reintroduce golangci megacheck"
Since this has seem to be fixed :

https://github.com/golangci/golangci-lint/commit/898ae4d3647ceb1404ca9ee25f20b0c9ea373849

Build Service Issue: https://github.com/fabric8-services/fabric8-build/issues/82

[2018-11-15 15:39] chmouel commented on #4547
You seem to have run with an infamous [OOM](https://www.kernel.org/doc/gorman/html/understand/understand016.html) which basically mean your software is consuming too much memory to run on starter's OSIO restricted environment,

if you can it would be nice if you can copy and paste the `oc get ev` from the -jenkins namespace  to confirm this,

[2018-11-15 15:40] serenamarie125 opened #4553 "Research current use of username and full name & provide a consistent design throughout the product"
Currently, username and full name are shown throughout OSIO.  We display it different in different areas of the UI, and often do not support filtering consistently either.

As part of this issue, identify all areas in the UI which username and full name are displayed as well as filtered on, and suggest a consistent design to alleviate the issues.

[2018-11-15 15:58] joshuawilson commented on #1121
I think we should involve @alexeykazakov in this.

[2018-11-15 17:43] sbose78 commented on #4550
You can check out the  https://github.com/fabric8-services/fabric8-wit#4-developer-setup project , do a `make build` to generate the CLI.

You could then explore the API by doing a `./bin/wit-cli .....`
[code]

[2018-11-15 18:20] divyanshiGupta commented on #4403
@Preeticp as I mentioned in the mattermost chat that we had, I cannot see the description field in the attributes of work items typegroup response that means the correct response in not coming from the backend or there is some problem in the way the infotip was added in the yaml file.
![screenshot from 2018-11-14 10-15-51](https://user-images.githubusercontent.com/20724543/48572926-d4a3b280-e930-1

[2018-11-15 18:33] sbose78 opened #4554 "Support dynamic resources for multi-container scenarios"
The first time deployment works however the subseqent 'CD' triggered doesn't update the deployment because the rolling deployment fails for multi-container nodejs booster with quota issues

[code]

Booster: https://github.com/nodeshift-starters/nodejs-rest-http-crud
Jenkinsfile: https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/master/node/ReleaseAndStage/Jenkinsfile

[2018-11-15 19:20] ldimaggi commented on #4547
Your guess is correct - see log fragment below.

Note that the first step in the test was to reset the user's OpenShift.io env - no other spaces or projects were present when the test was run:

[code]

[2018-11-15 22:22] alexeykazakov commented on #1121
We need some help from UX/UI experts here to fix the email templates - https://github.com/fabric8-services/fabric8-notification/tree/master/template

[2018-11-16 02:42] alexeykazakov commented on #4547
If some booster project can’t be built on OSO then it should be removed from the wizard. This is something for the getting started team.

I’m reopening the issue.

[2018-11-16 03:01] joshuawilson commented on #1121
ok, we can work together on it

[2018-11-16 05:03] jarifibrahim commented on #3510
To support Node boosters (let's say https://github.com/nodeshift-starters/nodejs-rest-http)  the following changes have to be made
1. The `nodejs` boosters have to be enabled in launcher backend, they're disabled right now. (https://github.com/fabric8-launcher/launcher-booster-catalog/tree/master/nodejs)
2. The supported pipelines for `nodejs` have to be enabled. The UI doesn't show any pipelines

[2018-11-16 07:29] sbose78 commented on #3964
Sounds like a fair request. However, we can't set the parent item's area as a default without giving the user an option to opt out of the default. This is because it is not rare to have epics which have stories belonging to different areas.

[2018-11-16 07:31] sbose78 commented on #3510
Story tracked in the plan:
https://openshift.io/openshiftio/Openshift_io/plan/detail/1045

[2018-11-16 07:41] sbose78 commented on #3510
Tracked:
https://openshift.io/openshiftio/Openshift_io/plan/detail/1034

[2018-11-16 07:46] sbose78 commented on #3510
@jarifibrahim

Could you be more specific, please?

That way we'll be able to decide if we would wanna change boosters or the stack, or both.
( https://openshift.io/openshiftio/Openshift_io/plan/detail/1033 )

OK. Let's track the task as part of https://openshift.io/openshiftio/Openshift_io/plan/detail/1033

[2018-11-16 09:49] msehnout commented on #4550
I've already tried that, and even filled in an issue in the fabric8-wit repository, but I get some kind of an error every time I try to use the tool. e.g. using your example:
[code]
or
[code]
long story short, maybe it works, but in that case the usability is poor and I wasn't able to get it working.

[2018-11-16 09:56] chmouel opened #4555 "Build: We need some better ways to clean tables between tests"
We do something like this :

[code]

it's flaky, ugly and not very future proofey[1]

[1] I know it's not a word, I just tried to end this sentence in rythm!

[2018-11-16 10:11] bartoszmajsak commented on #4547
Is removal the right thing to do? How about we try to optimize the booster itself? @slemeur any comment on that?

@ldimaggi I have two questions here

- is that a permanent issue?
- is it the only affected booster for this runtime?

[2018-11-16 10:43] #4552 closed

[2018-11-16 10:53] chmouel opened #4556 "Build: codecov is failing to get its base report"
codecov is installed on the GITHub CI but fails to report properly due of having
its base report not detected.

We probably need to run codecov in build-merge to be able to have proper
coverage detection on issues.

Build Issue: https://github.com/fabric8-services/fabric8-build/issues/85

[2018-11-16 11:58] chmouel opened #4557 "Build: Implement show and list pipelines environments"
Now that we have create pipeline environments and all the boilerplates around
let's add the show and the listing.

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/86

[2018-11-16 13:41] slemeur commented on #4547
Yes, if it was working before, it's a regression and we need to look at that.

[2018-11-16 13:48] GeorgeActon commented on #4547
@bartoszmajsak Who will look at the booster.

[2018-11-16 14:10] bartoszmajsak commented on #4547
@GeorgeActon App Creation aka Getting Started with help of booster owner if our initial analysis will lead to a conclusion that we have to improve booster to make it running in our env

[2018-11-16 14:13] GeorgeActon commented on #4547
@sbose78 All indications at this point are to look at the Booster. Please sync with @chmouel and figure next steps.

[2018-11-16 14:20] bartoszmajsak commented on #4539
If the reloading the page fixes the behaviour it might mean we are caching / storing this value globally. @vikram-raj did you have a chance to analyze the code which is responsible for this interaction?

[2018-11-16 14:29] ldimaggi commented on #4547
Yes - this is a regression. It is 100% reproducible. And it blocks the user from creating the booster. As there is no workaround I think that it is a SEV1. Thx!

[2018-11-16 14:44] chmouel commented on #4547
I think the first thing would be to look at the booster and see if there was any update for the last couple of weeks and track down the regression between the versions,  I am not sure what is the girhub repo but assuming is this one there was a version update https://github.com/thorntail-examples/health-check/commit/6291567de288d4ed52aa908c21b3b163c2c641aa

[2018-11-16 15:02] GeorgeActon commented on #4547
It fails for either REST API and for Health check. tried both this morning.

[2018-11-16 15:02] bartoszmajsak commented on #4547
This is how boosters are mapped:

- defined in the catalog (and enabled for OSIO) https://github.com/fabric8-launcher/launcher-booster-catalog/blob/master/thorntail/community/rest-http/booster.yaml#L10
- pointing to version 15 (tag) https://github.com/thorntail-examples/rest-http/tree/15 (which has been updated month ago)

[2018-11-16 15:08] rootAvish commented on #3964
Right, so the way this can then be done is to maybe have a checkbox on the creation form somewhere:

Which the user can uncheck if there's a particular user story that is in fact for a different area.

[2018-11-16 15:47] bartoszmajsak commented on #3510
@jarifibrahim probably known by now, but:

Is a matter of adding:

[code]

in the corresponding `yaml`s.

[2018-11-16 23:02] ibuziuk commented on #4545
@ldimaggi I can not reproduce. Does it happen every single time for you ?

[2018-11-18 14:06] ibuziuk commented on #4545
Probably the issue is simlar to  https://github.com/openshiftio/openshift.io/issues/2587 but currently I can reproduce none of them

[2018-11-18 14:10] ibuziuk commented on #4332
@gorkem is it planned to support both `factory.json` & `dev-file` [1] ?

[1] https://github.com/openshiftio/openshift.io/issues/4538

[2018-11-18 14:18] ibuziuk commented on #4536
Currently I do not understand what would be the openshift.io flow for che 7 **without** support of `stack_id`. For example, it is not clear how the plugins are going to be defined on UI side and passed to wit / che-starter when workspace is created (is it plan to guess set of plugins somehow based on the project type?).

Are there are any mockups for this new flow ?

[2018-11-18 14:36] ibuziuk commented on #4537
I have created an issue on che-starter side - https://github.com/redhat-developer/che-starter/issues/316
Basically, first thing that needs to be done is defining API endpoints on che-starter side. Currently, any work  related to che 7 support in che-starter is not planned and is not a priority for the upcoming sprints. I will comment once Che OSIO team will start planning this work

[2018-11-18 17:29] sbose78 commented on #4537
Thanks @ibuziuk .
I wouldn't mind dedicating engineering time on our side to make changes on che-starter if needed, as long as we have a 'todo' list of changes in place.

[2018-11-18 17:36] ldimaggi commented on #4545
Closing as no longer reproducible.

[2018-11-18 17:36] #4545 closed

[2018-11-18 17:43] sbose78 commented on #4536
I really like the idea of passing a list of plugins. Today, any change in plugin list means a new stack would be needed which doesn't scale.

My immediate use case ( pain point ) is that
- user imports node.js project
- starts che workspace
- `run` command doesn't work ( https://github.com/redhat-developer/rh-che/pull/1078 )

The `run` command might not work because the imported project probably h

[2018-11-18 17:49] sbose78 commented on #4536
1. Have a reasonable list of default list of plugins for maven|node|golang projects
2. override certain defaults by asking for user inputs in the import flow.

[2018-11-19 05:07] #4503 closed

[2018-11-19 05:40] sunilmalagi commented on #4480
@Veethika earlier we have limited no. of status and this was our proposal:
https://redhat.invisionapp.com/share/3HP6GZUBZSV#/290540725_States_Icons

Later there was need of more no. of status and we took the decision to takeout all the icons from the status, I also suggested to take out the generic icon which they are using right now (without consulting UX team), because it make no sense at all.

[2018-11-19 05:52] khrm commented on #4341
@gastaldi
Hi,
We would need changes in fabric8-launcher to resolve this vulnerability. https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2331#note_472399
Check the updated flow here:
https://docs.google.com/document/d/1kX8HGXVRe2r2Zrh36yXOvsPDURRGLMqRRk2smi4dwMw/edit

Around this part:
https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/

[2018-11-19 05:59] vikram-raj commented on #4480
@Veethika  correct. Work item ```483``` and ```388``` are visible because its parent status is not closed and its sibling work item matches the applied filter.

Closed work item is not visible only if
- It is top level work item and none of its child work items match the applied filter.
- It is a child and none of there sibling matches the applied filter.

It is our current implemetation.
cc: @sah

[2018-11-19 06:03] sunilmalagi commented on #4401
I have collected all the required screens and uploaded them into Invision, wherever there is only text updation is required, those ones are taken care off.  I will be updating the remaining screens when I get the updated logo:
https://redhat.invisionapp.com/share/4EP3YNNUVSB

[2018-11-19 06:19] sbose78 commented on #4154
As a first cut - let's have the following:

On import,

**Step 1**
The UI would make a call to the backend to determine:
- `maven` project
- `nodejs` project
- `unknown`

The detection is shown to the user and the user is allowed to change it ( in case an incorrect detection was done )

**Step 2**
Based on the above, show the right pipelines.

What do you think?

[2018-11-19 06:30] Veethika commented on #4480
@sahil143 @vikram-raj IMO if a work-item doesn't have a child that matches the filter, it's shouldn't appear in the result set at all. The only purpose of showing the closed WIs while the tree view enabled is to avoid breaking the tree structure. A sibling WIs status shouldn't be considered while surfacing closed items. Is there any other reasoning that I'm probably missing out on?

@sunilmalagi T

[2018-11-19 08:16] ibuziuk commented on #2587
Similar issue [1] has been closed as not reproducible. Closing this one also. Feel free to reopen with more details.

[1] https://github.com/openshiftio/openshift.io/issues/4545

[2018-11-19 08:16] #2587 closed

[2018-11-19 08:42] sbose78 commented on #4547
I agree @bartoszmajsak . @corinnekrych , let's take a look at possibly fixing the booster.

Btw, If that doesn't happen soon enough, we should temporarily take the booster out and then put it back only after its fixed. You OK with that, @slemeur ?

[2018-11-19 08:48] slemeur commented on #4547
Yes that would be fine with me @sbose78

[2018-11-19 08:48] Preeticp commented on #4403
@Raunak1203 @nimishamukherjee this is now available in prod-preview and should be seen on prod as soon as the prod is updated with latest changes.
See below for changes in prod preview:
![screenshot from 2018-11-19 14-15-55](https://user-images.githubusercontent.com/16647625/48695756-043f0d00-ec06-11e8-8691-d7d25c970d5d.png)

[2018-11-19 09:05] sunilk747 opened #4558 "Python support in Language server"
### Planner Link : https://openshift.io/openshiftio/Openshift_io/plan/detail/1000
### **Description**
Add support for python in dependency analytics language server, should work on `requirements.txt`.

### **Acceptance Criteria**
- [x] It should flag out the CVEs in user python project.
- [x] It should able to provide a quick fix for the flagged CVEs.

#### **Assumption**
None

[2018-11-19 09:21] Raunak1203 commented on #4403
@Preeticp @divyanshiGupta for Iterations I can still see UUID
![screenshot from 2018-11-19 14-49-03](https://user-images.githubusercontent.com/34271052/48697392-7fa2bd80-ec0a-11e8-8703-1311c105b1dc.png)

[2018-11-19 09:22] Raunak1203 commented on #4403
verified fixed in prod-preview.
Closing this issue

[2018-11-19 09:22] #4403 closed

[2018-11-19 10:21] bartoszmajsak commented on #4154
I would break it down even further to work on that in parallel to progress on that flow and fix issues which are currently there.

- start without build detection and only let the user select among supported build tools and show the right set of pipelines
- work on integrating detection as a parallel stream

WDYT @sbose78?

[2018-11-19 10:48] sbose78 commented on #4154
@bartoszmajsak Sounds good!

@vikram-raj
Let's give the user an option to say if the imported project is a
- maven project , or
- nodejs project

@Veethika Could you please help with a UX recommendation on how to present the choice to the user?

[2018-11-19 10:52] ljelinkova commented on #4517
Still failing in production e2e tests
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1522/console

[2018-11-19 11:01] piyush-garg commented on #4517
@ppitonak @ljelinkova Update on this issue, this is coming from upstream plugin and waiting for this PR https://github.com/jenkinsci/kubernetes-pipeline-plugin/pull/70 to get merged

[2018-11-19 11:47] gastaldi commented on #4341
@khrm can you provide a PR with the necessary changes? I'd be happy to review and merge when available.

[2018-11-19 12:19] ljelinkova opened #4559 "Delete space does not delete che workspace"
##### Issue Overview
When you have space in OSIO with created Che workspace, neither delete space action neither reset of environment action deletes the Che workspace.
##### Expected Behaviour
The Che workspace should be deleted when associated space is deleted.
##### Current Behaviour
The Che workspace is NOT deleted when associated space is deleted.
##### Steps To Reproduce
1. Create space, appl

[2018-11-19 12:29] serenamarie125 commented on #3938
This should be closed since it's no longer applicable

[2018-11-19 12:29] #3938 closed

[2018-11-19 12:34] piyush-garg commented on #4475
@kishansagathiya This issue may have happened for a while but not able to see this now. Can you please check? Thanks

[2018-11-19 12:37] piyush-garg commented on #4352
@kishansagathiya If you have triggered the build using Build now option on Jenkins console, then that will not be shown in OSIO and OSO. Can you please confirm?

[2018-11-19 12:39] piyush-garg commented on #4455
Adding team UI here as seems like there. Feel free to remove the label if its not that. Thanks

[2018-11-19 12:45] serenamarie125 opened #4560 "Iterate on the Che Marketplace Designs"
Given the initial designs provided in [this design](https://redhat.invisionapp.com/share/WQP3OKNK7HZ#/331199240_Che-MarketPlace-0-1-pdf_1), create a new Invision file focusing on pp. 3-9 addressing the comments which were provided from the initial review.

[2018-11-19 13:32] chmouel opened #4561 "Build: Protect create pipeline environemnt with JWT authentication"
We currently don't need a token when creating a pipeline environement mapping,
we need to have it protected.

Make sure to have a test covering authentication and one that are testing we
can't access publicly.

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/87

[2018-11-19 13:49] joshuawilson commented on #4455
I just tried it and it works with not error. I would expect that you were logged out (timed out) and didn't know it. That makes this more of a "did you tell the user they were logged out instead of silently throwing a 401?" kind of issue.

@sbose78 @alexeykazakov do you know if we have something that is currently tracking this?

[2018-11-19 13:52] xcoulon commented on #4559
On the contrary, I believe that Che should return valid links that WIT can follow. The client service should not "build" URLs itself, but rather, it should rely on a previous response from the remote service.

[2018-11-19 13:53] rhopp commented on #4559
Yep... I was writing faster than thinking :-D You are 100% correct...

[2018-11-19 14:09] chmouel opened #4562 "Build: Add README documentation for dev"
Let's add information about how to dev with the build service

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/89

[2018-11-19 14:10] chmouel commented on #4447
README => openshiftio/openshift.io#4562 and fabric8-services/fabric8-build#89

[2018-11-19 14:47] tinakurian commented on #4154
@ldimaggi we don't support an "other" option yet. Only nodejs and maven. If however, the url to the repository we receive from the user is neither build by maven or nodejs the build-tool-detector will return "unknown." Not sure what our recourse is here? Do we just notify the user that it's unsupported and not show any pipelines? Or are there some default pipelines we show them?

[2018-11-19 14:51] #4562 closed

[2018-11-19 14:54] kishansagathiya commented on #4352
@kishansagathiya These builds were triggered with a github commit

[2018-11-19 14:56] #4556 closed

[2018-11-19 14:58] kishansagathiya commented on #4475
I think this was happening during the mess created by that issue related to glusterFS. I would just close it as we are not seeing it.

[2018-11-19 14:58] bartoszmajsak commented on #4154
What would the default pipeline do if we don't have the tool supported yet? In my opinion, we should not allow importing such a project because. If you can't build that or deploy what is OSIO useful for?

[2018-11-19 15:08] bartoszmajsak commented on #3155
@joshuawilson Jira with Bitbucket, GitHub, GitLab - they use the same convention. Why should we re-invent the wheel if that's a common and well-known thing known as `#hashtag`? ;)

[2018-11-19 15:11] tinakurian commented on #4154
Not too sure. Perhaps you want to import and edit it in eclipse che? You arent ready to build and deploy yet? Maybe this is something you want to do at a later time? Perhaps the easier route would be to reject.

[2018-11-19 15:14] bartoszmajsak commented on #4154
But what is the benefit of editing it in Che if you can't really do much more than that?

[2018-11-19 15:17] tinakurian commented on #4154
I guess the way i was thinking about it was that you could import a barebones project that hasn't been integrated with maven yet. After you import and open in eclipse che, you're next step could be to add in maven. Maybe in eclipse you want to select the "Convert to Maven project" option. Now you have a pom.xml and you can select a build + pipelines...

[2018-11-19 15:20] bartoszmajsak commented on #4154
It is a valid use case, I'm just not sure we are there yet.

Not sure we have an option of "add pipeline" later in the flow yet, or in general incremental enrichment of the project with OSIO bits.

[2018-11-19 15:31] nimishamukherjee commented on #4191
@serenamarie125 @muruGanesan please update the Invision link to reflect screens which are needed for this story. This story needs to focus on how the modal, buttons, input text, etc needs to look.
The above link has visuals for #4185 also which is a separate story.

Based on this story, we had created a UI dev story https://openshift.io/openshiftio/Openshift_io/plan/detail/785

This separation wil

[2018-11-19 16:02] sbose78 commented on #4154
Yes, other than node and maven, we wouldn't let the user proceed with the import.

The issue *otherwise* would be:
- the user would have an expectation that the imported project would work in all angles in OSiO - which would be incorrect.
- In the current form, we expect to start a che workspace using a stackID . ( which we would like to change in future by letting the user enter custom che config

[2018-11-19 16:23] nimishamukherjee commented on #3810
Closing this issue as it cannot be reproduced.

[2018-11-19 16:23] #3810 closed

[2018-11-19 16:31] ldimaggi commented on #4154
+1 Initially limit the user to: other than node and maven, we wouldn't let the user proceed with the import.

[2018-11-19 16:37] nimishamukherjee commented on #3951
@Veethika @serenamarie125 please comment ^^

[2018-11-19 16:43] nimishamukherjee commented on #235
Closing this issue as the "Report issue" button is no longer available.

[2018-11-19 16:43] #235 closed

[2018-11-19 16:43] joshuawilson commented on #3155
I wasn't asking if you liked the idea but if you planned to implement it? :)

[2018-11-19 16:45] nimishamukherjee commented on #241
@openshiftio/uxd-team please comment.

Generally, we do NOT list known issues. As part of release notes, we do mention that we fix.

[2018-11-19 16:47] michaelkleinhenz commented on #311
Not relevant anymore. Needs more req's.

[2018-11-19 16:47] #311 closed

[2018-11-19 17:14] joshuawilson commented on #4401
@serenamarie125 The rebranding has been requested to be done as soon as possible. We will look at what we can do without image updates, but I think most of what is needed falls under that.

cc @christianvogt

[2018-11-19 17:19] christianvogt commented on #3765
@serenamarie125 I completely agree that the nav menu should be present at all times. I will update issue #3296 with my comments regarding the user flow.

[2018-11-19 18:42] ldimaggi commented on #4547
+1 to removing the booster until it works - anything visible should be working.

[2018-11-19 21:12] ldimaggi opened #4563 "Confusing redirection is possible during new user login"
##### Issue Overview
After clicking “Create My Account,” it was clear they had to go verify their email.  However, when they clicked the link in the email, it went to the Red Hat Developers web site and not OpenShift.io, which was very confusing.

It redirects back to OSIO if login/registration is initiated from OSIO - it is core feature of the keycloak. But there are some exceptions, eg if link f

[2018-11-19 21:13] ldimaggi commented on #4563
@Essjaysee
Sarahjane here's the issue you requested - can you add any additional details?

[2018-11-19 23:30] sdash-redhat commented on #4560
This story is next step from #4411

[2018-11-19 23:38] alexeykazakov commented on #4455
I don't know why forge threw 401 here. Maybe the token was expired maybe something else. Something for the build team to investigate. If the token was expired then it's the end service responsibility to handle it gracefully and pop it up to UI properly. There is nothing Auth can help with.

[2018-11-19 23:44] sdash-redhat commented on #4560
Based on the feedback on the [previous draft of mockup](https://redhat.invisionapp.com/share/WQP3OKNK7HZ) and details scope , have updated the mockups (not final VD) here. https://redhat.invisionapp.com/share/T7P78MK3V8E#/332254181_Title
@serenamarie125 @slemeur @catrobson @SriKrishnaPaparaju
Please review and add your feedback in comments.

[2018-11-19 23:51] sdash-redhat commented on #4411
Closing the current story, as it is completed .
The next steps, on iterations on the Che Marketplace concepts based on the feedback received, can be found in the story #4560
The iterations and scope of the design in #4560 is based on the slides of the concept from 3-9 of the [draft](https://redhat.invisionapp.com/share/WQP3OKNK7HZ) created in the current story .

[2018-11-19 23:51] #4411 closed

[2018-11-20 03:07] muruGanesan commented on #3296
@christianvogt,
Here are my 2 cents:
1) Loading Beta (unstable) application before 'opt-in' may break the experience
(For e.g. planner takes a long time to load -or shows 404/500 error) on top, if we are showing 'full screen/modal' won't look nice. (I am looking at a '-ve scenario' where the Beta application fails to load)
It's my point of view, let us hear from Serena.

[2018-11-20 03:52] muruGanesan commented on #4197
@serenamarie125, based on the latest discussion, I updated the flow. Could you please review and provide your comments?
https://redhat.invisionapp.com/share/7VO5831SYNF#/332276211_Existing_Flow

CC: @sunilmalagi

[2018-11-20 06:07] nimishamukherjee commented on #333
Closing this as we have https://openshift.io/openshiftio/Openshift_io/plan/detail/288 on OSIO.

[2018-11-20 06:07] #333 closed

[2018-11-20 06:15] yzainee commented on #4535
@rupalibehera As we havnt added our support for the new pipeline for maven, it will not trigger the analytics as its not able to find the manifest files. As discusses in sprint demo and [https://chat.openshift.io/developers/pl/u34eh8o3wfyomksp77kjt4k3se] we will providing support for maven only in L train.
If its blocking your work, you can go ahead and merge this new pipeline, but the analytics w

[2018-11-20 06:34] nimishamukherjee commented on #795
@openshiftio/uxd-team do we want to support file attachments in comments, description, etc

[2018-11-20 06:46] nimishamukherjee commented on #1321
@openshiftio/uxd-team can you evaluate this suggestion.

[2018-11-20 06:47] nimishamukherjee commented on #1225
@openshiftio/uxd-team can you evaluate this story and let us know if we need to work on it.

[2018-11-20 06:49] nimishamukherjee commented on #1447
Closing this as we have revived remote work items - https://openshift.io/openshiftio/Openshift_io/plan/detail/958

[2018-11-20 06:49] #1447 closed

[2018-11-20 06:50] nimishamukherjee commented on #1976
Any update @sunilmalagi @muruGanesan

[2018-11-20 07:40] muruGanesan commented on #4030
@sbose78,
IMO: This story is all about "user credentials are validated + stored in the Browser"
As per UX recommendation: we need to remove the progress bar, gray screens & reduce the waiting time.
Please refer: https://redhat.invisionapp.com/share/3AOH1QYH69G#/324562585_4030_Login-2-Home

Regarding 'First-time login' flow will remain unchanged.

[2018-11-20 08:05] muruGanesan commented on #4191
@nimishamukherjee,
The scope of this story to bring consistency (look & feel) among 'Space creation' & 'Application creation' screens

IMO:
There are THREE major changes in 'Space creation' & 'Application creation' screens:
1) The back background will be removed
2) The full-screen view will be modified to modal
3) Additional content (contextual help) is added

For Invision file: @sunilmalagi is up

[2018-11-20 08:30] slemeur commented on #4560
At first (and at the stage we are) the submission of a plugin will be handled by a github PR on the plugin-registry.

[2018-11-20 08:54] sunilmalagi commented on #4191
Here you go with updated screens:
https://redhat.invisionapp.com/share/2MO880J6SUZ

[2018-11-20 09:16] nimishamukherjee commented on #2657
Delete feature added in the query tab.

[2018-11-20 09:16] #2657 closed

[2018-11-20 09:31] sunilmalagi commented on #1976
Long time back we came up this visuals:
https://redhat.invisionapp.com/share/UWP6GWI7XJQ
Not sure if its still valid

[2018-11-20 09:58] muruGanesan commented on #1976
@nimishamukherjee,
I saw a proposal from @sunilmalagi:
https://redhat.invisionapp.com/share/UWP6GWI7XJQ#/251777234_06_WorkitemLabels

I request @sunilmalagi to confirm the same.
CC: @serenamarie125, @Veethika

[2018-11-20 10:04] yzainee commented on #4346
https://github.com/fabric8-services/fabric8-notification/pull/91

[2018-11-20 10:04] #4346 closed

[2018-11-20 10:04] tolusha opened #4564 "Sometimes namespace of type 'user' is missing for some, which results in failures during workspace startup"
##### Issue Overview
When I start workspace I observe such an error:
`Failed java.lang.RuntimeException: No namespace with type 'user' was found in the user tenant`
Resetting env didn't help me. It seems to be problem with my account.

##### Steps To Reproduce

1. Go to che.openshift.io
2. Start workspace from any stack

##### Additional Information

 * Google Chrome | 67.0.3396.99 (Official Build

[2018-11-20 10:18] sdash-redhat commented on #4560
Thanks, @serenamarie125, and @slemeur.

[2018-11-20 10:28] chmouel opened #4565 "Build: Check that space is present before creating a pipelineenv"
We currently have a dummy function for this :

https://github.com/fabric8-services/fabric8-build/blob/ae6e40cb34a75f477e5d25dd8e37dfc2ffbc050d/controller/pipeline_environments.go#L113-L117

Probably have to go to query fabric8-wit (except if this is another service)?

We may need to have to solve openshiftio/openshift.io#4561 first to be able to
pass a JWT token to fabric8-wit

Fabric8 Build issue

[2018-11-20 10:32] chmouel opened #4566 "Build: Check that environment is present before creating a pipelineenv"
We currently have a function for this but this doesn't check for environment :

https://github.com/fabric8-services/fabric8-build/blob/ae6e40cb34a75f477e5d25dd8e37dfc2ffbc050d/controller/pipeline_environments.go#L30-L38

We would need to query fabric8-env for this.

We may need to have to solve openshiftio/openshift.io#4561 first to be able to
pass a JWT token to fabric8-env

Fabric8 Build issue:

[2018-11-20 11:20] sunilmalagi commented on #1976
@muruGanesan Yes Muru, thats the one..

[2018-11-20 12:06] chmouel opened #4567 "Build: Create a coverage check in CI for merge"
We unfortunately can't do this at merge time because it would be running twice and cause issues, so let's create a new target like done here :

https://github.com/openshiftio/openshiftio-cico-jobs/blob/fe7eac5ac08c18cdf5299cc15ab94c2539087545/devtools-ci-index.yaml#L3219-L3224

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/95

[2018-11-20 13:07] nimishamukherjee commented on #2394
Fix is on production. Pressing tab keeps highlighting various elements.

[2018-11-20 13:07] #2394 closed

[2018-11-20 13:08] nimishamukherjee commented on #2411
@openshiftio/uxd-team please comment.

Do note that the notion of root iteration is not exposed to the end user.

[2018-11-20 13:11] nimishamukherjee commented on #2414
Closing this as we are not supporting SDD now.

[2018-11-20 13:11] #2414 closed

[2018-11-20 14:50] chmouel opened #4568 "Optimise plugin disk space in Jenkins"
The plugins directory consume over 383Mb out of 478mb and is copied over and over everywhere which cause a scale issue on the gluster volumes,

Longer discussion here :

https://chat.openshift.io/developers/pl/ic6z8bppkbf8jb78z8bhsoispe

[2018-11-20 15:07] ljelinkova opened #4569 "Application is created in wrong space"
##### Issue Overview
When you are on the dashboard of some space and create a new space and a new application (using top left menu), the new application is created in the old space.
##### Expected Behaviour
The application should be created in the new space
##### Current Behaviour
The application is created in other (old) space
##### Steps To Reproduce
1. Create new Space_A and using the same wiza

[2018-11-20 15:08] nimishamukherjee commented on #2642
Fixed.

[2018-11-20 15:08] #2642 closed

[2018-11-20 15:10] nimishamukherjee commented on #2603
Looping on @openshiftio/uxd-team

[2018-11-20 16:07] #4567 closed

[2018-11-20 16:42] Veethika commented on #3296
Proposed flow captured in this InVision doc: https://redhat.invisionapp.com/share/YRP2XB6GT23
(This hasn't been reviewed by a visual designer yet so there might be small little inconsistencies in the visual design)

[2018-11-20 17:02] christianvogt commented on #3296
@Veethika this looks good. Your flow aligns with my comment above.

[2018-11-21 04:44] nimishamukherjee commented on #2593
@openshiftio/uxd-team this would tie to the user permission model story.
cc @Veethika

[2018-11-21 04:53] #2451 closed

[2018-11-21 04:54] nimishamukherjee commented on #2451
Closed the issue as it is the expected behaviour.

[2018-11-21 04:57] nimishamukherjee commented on #2441
Issue is fixed
![state](https://user-images.githubusercontent.com/1892722/48819840-07f2a100-ed78-11e8-92d1-bc3375c3ddb2.png)

[2018-11-21 04:57] #2441 closed

[2018-11-21 04:59] nimishamukherjee commented on #2730
Closing this as #2736 fixes this issue too.

[2018-11-21 04:59] #2730 closed

[2018-11-21 05:01] nimishamukherjee commented on #2838
Duplicate of #2598

[2018-11-21 05:01] #2838 closed

[2018-11-21 05:02] nimishamukherjee commented on #2923
Issue fixed
![count](https://user-images.githubusercontent.com/1892722/48819967-ae3ea680-ed78-11e8-8e3c-4de7e3e2f0d0.png)

[2018-11-21 05:02] #2923 closed

[2018-11-21 05:04] nimishamukherjee commented on #2932
We now have unit tests (256+) on planner

[2018-11-21 05:04] #2932 closed

[2018-11-21 05:17] nimishamukherjee commented on #2951
@openshiftio/uxd-team need your input on the bookmark title format.

[2018-11-21 05:18] nimishamukherjee commented on #2969
#2736 fixes this issue.

[2018-11-21 05:18] #2969 closed

[2018-11-21 05:33] nimishamukherjee commented on #2994
@ppitonak This is not an issue. It depends on the amount of text entered. We cannot dictate or "update" the user entered text.
If a user add a new line, the URL would come to a new line with the Git icon placed appropriately.

1. Hanging Git icon
![hanginggiticon](https://user-images.githubusercontent.com/1892722/48820850-bac4fe00-ed7c-11e8-8e8d-9a380bf7baee.png)

2. No Git icon at the end
![longt

[2018-11-21 05:35] nimishamukherjee commented on #3059
@openshiftio/uxd-team we need your input on the failed scenario. If re-ordering fails, then what happens?

[2018-11-21 05:36] nimishamukherjee commented on #3066
We now have notifications only for erros.

[2018-11-21 05:48] nimishamukherjee commented on #3145
@sunilmalagi https://redhat.invisionapp.com/share/R8I1JRXFVGQ#/295251624_00_Markdown_Syntax
has various options.
Provide the updated invision link with the final option.

[2018-11-21 05:53] nimishamukherjee commented on #4191
@muruGanesan then why do have #4185 ?

@sunilmalagi which is the correct screen
https://redhat.invisionapp.com/share/2MO880J6SUZ#/screens/322787874
OR
https://redhat.invisionapp.com/share/2MO880J6SUZ#/screens/331501370

[2018-11-21 05:58] nimishamukherjee commented on #3147
The updated link creation is on prod.

[2018-11-21 05:58] #3147 closed

[2018-11-21 06:01] nimishamukherjee commented on #3155
@openshiftio/uxd-team please evaluate this request.

[2018-11-21 06:02] nimishamukherjee commented on #3170
Closing as this is related to SDD and we are not supporting that template.

[2018-11-21 06:02] #3170 closed

[2018-11-21 06:03] nimishamukherjee commented on #3245
Closing as we have a single Agile template now.

[2018-11-21 06:03] #3245 closed

[2018-11-21 06:05] nimishamukherjee commented on #3298
Fix is on prod
![filterstates](https://user-images.githubusercontent.com/1892722/48822004-71c37880-ed81-11e8-9b42-cb903a167137.png)

![witstates](https://user-images.githubusercontent.com/1892722/48822007-7556ff80-ed81-11e8-8a74-fbf6062f2bc8.png)

[2018-11-21 06:05] #3298 closed

[2018-11-21 06:06] nimishamukherjee commented on #3448
Fix on prod

![filterstates](https://user-images.githubusercontent.com/1892722/48822066-a800f800-ed81-11e8-9880-557012b4d480.png)

![witstates](https://user-images.githubusercontent.com/1892722/48822074-aafbe880-ed81-11e8-9a38-5a92fee9a18e.png)

[2018-11-21 06:06] #3448 closed

[2018-11-21 06:09] nimishamukherjee commented on #3485
Issue fixed. No gray space is seen now.
Please re-open is otherwise.

[2018-11-21 06:09] #3485 closed

[2018-11-21 06:13] nimishamukherjee commented on #3507
Issue fixed.
![specialchars](https://user-images.githubusercontent.com/1892722/48822318-a126b500-ed82-11e8-9974-047fc6364e95.png)

Please re-open is you find the issue.

[2018-11-21 06:13] #3507 closed

[2018-11-21 06:33] #4495 closed

[2018-11-21 07:00] piyush-garg commented on #4017
@joshuawilson @ldimaggi @hrishin

This seems like a UI issue and needs recommendations from the UX team. Nothing build team can do with this. Removing build team label and adding UX label

cc @sthaha @muruGanesan @pradeepto

[2018-11-21 07:19] sunilmalagi commented on #3145
@nimishamukherjee I have provided 2 options to review, I did review it with team and we couldn't decide on any, I am not sure about the reason.

Option 1: 'Markdown supported' link takes you to the page, where the user will land on the page with 'Markdown Syntax & Extensions" links..

Option 2: is having 'Markdown Syntax & Extensions" links upfront and which takes you directly to the respective pa

[2018-11-21 07:48] piyush-garg commented on #4009
@joshuawilson This has already been done in new pipeline https://github.com/fabric8io/osio-pipeline/blob/ef2345a2edf5ff978b3cee64c94ab8887e81e087/vars/deploy.groovy#L43

[2018-11-21 07:52] piyush-garg commented on #3797
@ppitonak

Now the Jenkins log looks like this

[code]

[2018-11-21 08:14] corinnekrych commented on #4547
Let's start with disabling it see PR.
@bartoszmajsak do you ping dev directly or automatic reviewer `launcher-devs` is enough?

[2018-11-21 08:30] nimishamukherjee commented on #3711
@christianvogt @mindreeper2420 can we close this?

[2018-11-21 08:42] nimishamukherjee commented on #3692
@openshiftio/uxd-team do we allow filtering/searching by work item ID?

[2018-11-21 09:55] Veethika commented on #4480
@sunilmalagi @joshuawilson  @serenamarie125
From a visual design point of view, we need to answer the following questions:
1) Should we again have icons for each state?
2) How to differentiate 'closed from not-closed WI', and 'WI with children from WI without children'?
3) Should there be a caret next to items without a child WI?

[2018-11-21 09:58] muruGanesan commented on #4191
@sunilmalagi, @nimishamukherjee,
Based on our last UX review (19 Nov18) meeting, we are making some design changes. Once we finalize the design we will share the Invision link.

[2018-11-21 10:00] kishansagathiya commented on #4490
Resolved with https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/335

[2018-11-21 10:00] #4490 closed

[2018-11-21 10:03] muruGanesan commented on #4193
Here is the Invision link for design review.
https://redhat.invisionapp.com/share/MHP7TIO3XYK#/332556493_ExistingFlow-_Start

CC: @serenamarie125, @sunilmalagi, @sdash-redhat,

[2018-11-21 10:56] sbose78 commented on #4547
FYI: Figuring out why something which was working is now breaking, and not owned by us, will take a while. The sev1 might take longer to resolve.

[2018-11-21 12:10] kishansagathiya opened #4570 "Jenkins Proxy: Unit tests for github webhook request and refactor proxy"
Regarding refactor: Delete `mock` and `clients` packages and move them to relevant package such as wit, idler, tenant etc

[2018-11-21 12:37] serenamarie125 opened #4571 "Document Multi Env & Multi Cluster Use Cases"
In order to properly design the user experience, we need to capture, document & review the use cases around the multi environment & multi cluster features.

[2018-11-21 12:37] serenamarie125 commented on #4571
Here's an initial doc which is being used to capture these: https://docs.google.com/document/d/1mxwV2EZu4jN9l8-sAn_b9i249hOJUn2c9iAKSO5_UDo/

[2018-11-21 12:54] muruGanesan commented on #4017
@piyush-garg, @joshuawilson @ldimaggi @hrishin,
The 'gif' animation (attachment) appears like an experience issue.
But when I tested with my application (pipeline), I found a huge delay in activating Jenkins. so I don't get a chance to see the second pop-up at all.

I suggest two corrections:
1) **Visual interference:** pop-up window's height changes abruptly - this can be fixed immediately.

2) T

[2018-11-21 13:15] nimishamukherjee commented on #1976
@sunilmalagi @muruGanesan the Invision link does not address the use case specified by this issue.

[2018-11-21 13:43] muruGanesan commented on #1976
@nimishamukherjee,
I got your point, the Invision file covers 'add & remove' label flow.
But, I need to know the interaction flow of 'label creation + assignment' before I suggest a solution.
Let me check with @Veethika & @sunilmalagi  -if they aware of these functions. If not, I will discuss and get back on this.

[2018-11-21 13:47] ibuziuk commented on #4559
@ljelinkova to unblock e2e tests could all the previous workspaces been removed ? also why after execution cleanup of previously created workspaces does not happen ?

[2018-11-21 14:49] Veethika opened #4572 "Identify common use-cases around query builder usage in OSIO"
Understand and capture the common use-case scenarios around the usage of query builder by the prominent personas that work with OSIO. This involves understanding their expectations and interaction with the tool as well.

(The result would be used to validate the design for query builder captured in the following doc: https://redhat.invisionapp.com/share/ESOFBERRG7U )

[2018-11-21 15:47] christianvogt commented on #3296
The following was discussed in a call (using planner as an example):
* When the user visits the planner, the URL will update to the planner URL instead of the current beta feature url.
* The page will display an opt-in link and a link to the feature toggle page. Final UXD is still required.
* Clicking the back button at this point will simply return the user back to their previous page in browser

[2018-11-21 16:38] christianvogt commented on #3711
Captured in planner: https://openshift.io/openshiftio/Openshift_io/plan/detail/947

[2018-11-21 16:52] chmouel commented on #4547
I vote for this boost being only available when building on a OSD clusters, it may be possible to fit it to run on OSO but the users would never being able to use it :(

[2018-11-21 16:54] nimishamukherjee commented on #3664
Issue fixed.
![header](https://user-images.githubusercontent.com/1892722/48856377-399d5380-eddc-11e8-8089-af60ec164070.png)

[2018-11-21 16:54] #3664 closed

[2018-11-21 16:55] nimishamukherjee commented on #3688
Closing as the issue is not reproducible.
@ldimaggi please re-open if you face this issue again.

[2018-11-21 16:55] #3688 closed

[2018-11-21 16:56] nimishamukherjee commented on #3641
Closing this issue as it is not reproducible.

[2018-11-21 16:56] #3641 closed

[2018-11-21 16:57] nimishamukherjee commented on #3600
Closing this as we do not have the SDD template.

[2018-11-21 16:57] #3600 closed

[2018-11-21 19:54] ibuziuk commented on #4559
@xcoulon che-starter already provides API for deleting workspace by name:

**DELETE /workspace/{name}**

hmm... I do not really understand why it is currently expected that `delete` link exists at all, since it has never been part of response from che-starter. I believe we should simply remove `delete` link check [1] and simply execute removal of the workspace by name [2] in the loop. It is quite

[2018-11-22 04:10] alexey-osio-dsaas-stg opened #4573 "Unable to use dsaas-stg cluster as target for tenant namespaces"
As part of our OSD support effort I'm experimenting with targeting our dsaas-stg OSD cluster to provision all tenant namespaces for a test user.

It's still a single cluster environment I just replaced the OSO starter cluster

[2018-11-22 04:13] #4573 closed

[2018-11-22 04:17] alexeykazakov opened #4574 "Unable to use dsaas-stg cluster as target for tenant namespaces"
As part of our OSD support effort I'm experimenting with targeting our dsaas-stg OSD cluster to provision all tenant namespaces for a test user.

It's still a single cluster environment I just replaced the OSO starter cluster by our dsaas-stg cluster for one test user I specially created for that.

I faced bunch of issue which we should address.

- [ ] Can't open jenkins via OSIO UI / jenkins idle

[2018-11-22 04:19] alexeykazakov commented on #4574
@ibuziuk @chmouel @sthaha could you guys take a look? It's quite important because it's for our OSD support.

[2018-11-22 05:44] nimishamukherjee commented on #3574
Closing this issue. Duplicate of #1840

[2018-11-22 05:44] #3574 closed

[2018-11-22 06:49] GeetikaBatra opened #4575 "Modifications in Devstudio"
Planner Link: https://openshift.io/openshiftio/Openshift_io/plan/detail/1096

Tasks:

- [x] Update Read me
- [x] Set Up Devstudio
- [x] Enable new LSP changes
- [x] Remove auth code
- [x] Support only one command to generate analyses

[2018-11-22 06:50] GeetikaBatra commented on #4575
@animuk. PTAL

[2018-11-22 08:14] ibuziuk commented on #4574
@alexeykazakov could you please provide events from the *-che namespace ?

[2018-11-22 08:48] corinnekrych commented on #4547
I've tested v11
and it's failed too. @ldimaggi so [v11](https://github.com/thorntail-examples/health-check/tree/11) (last updated  24th July) and [v12](https://github.com/thorntail-examples/health-check/tree/12) (last updated 16th October) of the thorntail healtg-check app and both [fails](https://jenkins.prod-preview.openshift.io/job/corinnekrych/job/ewewewewe/job/master/1/console) on my prod-pre

[2018-11-22 08:53] chmouel commented on #4574
@alexeykazakov idler should not be enabled on OSD, isnt it ? as for webhook we are buidling a new service for the webhook handling which would take care of OSD not having the webhook going to proxy, as for  fabric8-jenkins-proxy it needs to be modified to take care of OSD,

[2018-11-22 09:04] sbose78 commented on #4547
Thanks for the investigation @corinnekrych and @chmouel .

I'll give this a shot.

[2018-11-22 09:08] divyanshiGupta commented on #3296
@Veethika is this https://redhat.invisionapp.com/share/YRP2XB6GT23 the final design doc or some changes still need to be added?

[2018-11-22 09:09] chmouel commented on #4547
Thanks @sbose78 this would be a nice use case for osio-pipeline,

[2018-11-22 09:14] ljelinkova commented on #4559
@ibuziuk Thanks for the answer. We've already taken care of e2e by removing all old workspaces. We do not automatically delete old workspaces because that is something normal user should not need to do. We wouldn't even find this problem if we were deleting them automatically.

@xcoulon How do you propose to proceed? Will you rewrite the WIT to use che-starter delete workspace API?

[2018-11-22 09:21] jarifibrahim commented on #3832
This issue has been fixed on prod.

[2018-11-22 09:21] #3832 closed

[2018-11-22 11:38] nimishamukherjee commented on #2292
Fix is on prod.

[2018-11-22 11:38] #2292 closed

[2018-11-22 12:43] ibuziuk commented on #2856
upstream issues have been and I can not reproduce this problem anymore. Closing

[2018-11-22 12:43] #2856 closed

[2018-11-22 12:45] ibuziuk commented on #2639
![image](https://user-images.githubusercontent.com/1461122/48903798-d3a4e080-ee5c-11e8-9880-9163ce2a587a.png)
This problem is not reproducible against the latest version 6.13.1 deployed on prod. Closing

[2018-11-22 12:45] #2639 closed

[2018-11-22 13:44] rhopp commented on #2856
Confirmed... Cannot reproduce that either.

[2018-11-22 13:54] chmouel opened #4576 "Remove the tables cleanups"
This code :

https://github.com/fabric8-services/fabric8-build/blob/17be754902018aec1f789cf6a7023fd6de133aff/controller/pipeline_environments_blackbox_test.go#L51-L56

and this code :

https://github.com/fabric8-services/fabric8-build/blob/17be754902018aec1f789cf6a7023fd6de133aff/build/pipelineenv_blackbox_test.go#L34-L39

is not needed anymore, since DBTestSuite row cleanup works properly now,

[2018-11-22 14:04] #4561 closed

[2018-11-22 14:07] piyush-garg commented on #4576
Closed in https://github.com/fabric8-services/fabric8-build/pull/102

[2018-11-22 14:07] #4576 closed

[2018-11-22 14:38] chmouel opened #4577 "Build: Add contract testing"
Fabric8-auth [has started](https://github.com/fabric8-services/fabric8-auth/pull/711) to integrate contract testing from :

https://github.com/fabric8io/fabric8-test/tree/master/contract_tests/go/auth-api

Figure out how we can integrate that for fabric8-build

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/103

[2018-11-22 14:56] sbose78 commented on #4547
Both the health-check and rest-http booster works with the new pipeline library since the build happens in the user namespace.

Example:
https://github.com/thorntail-examples/rest-http/pull/53
https://github.com/fabric8io/fabric8-jenkinsfile-library/pull/44/

Once we finish migrating our Java boosters to use the new pipeline library, then we can update the `Jenkinsfile`s and this should just work.

[2018-11-22 15:08] chmouel opened #4578 "Build: Handle conflicts properly"
We are currently getting this :

[code]

when we should get some proper 509 coming back and nicer error message,

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/106

[2018-11-22 16:14] alexeykazakov commented on #4574
@chmouel correct. We don't need idler for OSD.
But let me clarify a bit what I'm doing. My intention is to test what we have now and collect possible issues unexpected issues as early as possible. By using this test account we can start testing things earlier without need to wait for full OSD support. If there are some issues like GitHub hooks which we are already aware of and it's being addressed

[2018-11-22 16:19] chmouel commented on #4574
@alexeykazakov fair enough so if I understand properly you want a quick workaround before +proxy and +webhook implementation are done which is a fair request to ask since this is going to take a while,

Is there any chances we can get a `OSD`  flag in fabric8-cluster ? that would help a lot, we would just need to get proxy to respect it and go directly to the jenkins without checking via idler if

[2018-11-22 16:22] chmouel commented on #123
This is going to be addresse with osio-pipeline library as we plan to do versionning properly there,

can you confirm @sthaha or @hrishin and closes this year and half old issue if that's correct,

[2018-11-22 16:23] chmouel commented on #297
We have implemented this for build-cd a long time ago, i am going to remove the build-cd tag from here,

[2018-11-22 16:38] hrishin commented on #123
Yes @chmouel  that's the plan with osio-pipeline library .
https://github.com/fabric8io/osio-pipeline/issues/72

[2018-11-22 16:39] #123 closed

[2018-11-22 16:39] chmouel commented on #123
perfect closed ;)

[2018-11-22 16:50] alexeykazakov commented on #4574
@ibuziuk first at all when I tried to re-open the workspace in OSIO UI (codebases) the che in my namespace didn't unidle I had to unidle it manually in the OpenShift console.
The workspace deployment failed with the following (only) event:
`Error creating: pods "workspacefvhca2jjqttcph8d.dockerimage-75589c545-" is forbidden: error looking up service account alexey-osio-dsaas-stg-che/che-workspace:

[2018-11-22 17:02] alexeykazakov commented on #4574
@chmouel the webhook is not a big deal right now because we can workaround it (manually start a new build) but still would be nice to see it working so we can make sure we don't have other issues with hooks.. But it's not our top priority for sure :)
Proxy is more important. It blocks quite a few important functionality. Why deployments fail? Is it related to proxy somehow?

Regarding the OSD/OSO

[2018-11-22 17:30] chmouel commented on #4574
@alexeykazakov so after looking at the code properly :

proxy get clusters url from idler
idler is filtering those clusters that are not oso (with regexp)
proxy fail with a `could not find entry`

what we want is getting the list from cluster on idler still but only have idler active on OSO.

We can continue do this with regexp but would be nicer to do with a flag,

I have created an issue here :

[2018-11-22 17:36] ibuziuk commented on #4574
@alexeykazakov looks like you do not have latest version of che template for some reason - `che-workspace` sa [1] should have been created by in your *-che namespace by init-tenant.

[1] https://github.com/fabric8-services/fabric8-tenant/blob/master/environment/templates/fabric8-tenant-che-mt.yml#L56

[2018-11-22 18:12] alexeykazakov commented on #4574
@MatousJobanek it looks like that tenant service provisioned the single tenant che template instead of the default multi tenant che template. Could you please investigate why?

[2018-11-23 02:02] sthaha commented on #4547
@sbose78

https://github.com/openshiftio/openshift.io/issues/4535 would need to be done before we can start using the new pipeline for java projects.

[2018-11-23 08:29] hrishin commented on #4121
Still facing this issue on us-east-2 cluster.

![image](https://user-images.githubusercontent.com/28615674/48933821-aec96f80-ef27-11e8-87ca-d4d50251ee40.png)

@aslakknutsen @jmelis @mmclanerh do we any update on this?

[2018-11-23 08:33] chmouel opened #4579 "Osio Pipeline: Enhancement: quay build target"
Here is an idea that we may want to investigate.

For dockerbuild or for other reasons why can perhaps offer to build on quay directly and pull the output image for CD,

We are currently using s2i build on openshift to build but what about we are going driver based and let the user specify he/she wants to build on quay instead as this seems to support it : https://docs.quay.io/guides/building.html

[2018-11-23 08:58] Preeticp commented on #4373
This has been fixed by: https://github.com/fabric8io/fabric8-online-docs/pull/445

[2018-11-23 08:58] #4373 closed

[2018-11-23 09:02] #4578 closed

[2018-11-23 09:38] chmouel commented on #4555
Fixed in https://github.com/fabric8-services/fabric8-build/commit/0bad36abb8226c38478b41291f9edc5b837df561

[2018-11-23 09:38] #4555 closed

[2018-11-23 09:40] ibuziuk commented on #3850
@bdellasc am I correct that issue is no longer used for tracking branding activities and can be closed ?

[2018-11-23 09:41] chmouel commented on #4460
Part of it has been implemented in https://github.com/fabric8-services/fabric8-build/commit/662de07202a1b7562c26e2b7f0ae09a16c9a0b45

[2018-11-23 09:52] #4460 closed

[2018-11-23 10:09] piyush-garg commented on #4517
This has beeen fixed with https://github.com/openshiftio/saas-openshiftio/pull/1145

[2018-11-23 10:18] hrishin commented on #4517
### Update

This issue has been fixed in `devops-steps` [plugin](https://github.com/jenkinsci/kubernetes-pipeline-plugin/pull/70). We have updated the Jenkins image with plugin and we will rollout tenants updates soon.

Meanwhile to test this patch could you do `update tenant` then `reset environment` through osio profile and run 2e2 tests? @ljelinkova @ppitonak

Thanks @chmouel @piyush-garg

[2018-11-23 12:57] Preeticp opened #4580 "The Add Collaborator feature in the dashboard should be Add Collaborators"
For consistency:

We should have 'Add Collaborators' on the dashboard instead of 'Add Collaborator' to keep it consistent with the dialog box which says 'Add collaborators'. Keeping it plural makes sense since we can add multiple collaborators at once.
In the dialog box 'collaborators' should be 'Collaborators'.
add_collaborators
![add_collaborators](https://user-images.githubusercontent.com/16647

[2018-11-23 13:01] Preeticp opened #4581 "Add Pin feature in the Spaces page does not work"
The Add Pin option in the kebab menu to the right of a space, does not pin the space nor move it to the top of my list:

![screenshot from 2018-11-23 18-28-58](https://user-images.githubusercontent.com/16647625/48944735-fb27a600-ef4d-11e8-808c-bce9d03564cc.png)

[2018-11-23 13:33] GeorgeActon opened #4582 "Analyze page - Work Item Overview showing counts which cannot be reconciled in Plan page"
##### The work item counts shown on the Analyze page/Work Item Overview use states which do not reflect the states in the current Scrum template . When going to the plan, it is not possible to reconcile any of those numbers in the plan

Since this is the first thing a user sees when they open their project every day it gives a poor first impression.

##### Expect the states to reflect the states u

[2018-11-23 15:48] hrishin opened #4583 "Build: PR build fails with error: fatal: Couldn't find remote ref"
PR build fails with an `error: fatal: Couldn't find remote ref xxx` if PR originates from a different repository

[2018-11-23 18:05] alexeykazakov commented on #4574
@MatousJobanek we discussed it with @ibuziuk and Ilya said that we can just remove the single tenant templates completely. It's not used.

[2018-11-25 01:36] joshuawilson commented on #4455
If you can reproduce it then we might find a way to insulate the user. I'm removing UI and waiting for Build.

[2018-11-25 01:43] joshuawilson commented on #795
@nimishamukherjee since the request is coming from a PM, I think we should be asking them to add this to their backlog. (and work out the details with PM and Eng)

[2018-11-25 02:11] joshuawilson commented on #2603
I don't think this is a bug for UX but a validation of the intentional design by PM. @slemeur

[2018-11-26 06:06] miteshvp commented on #4324
@abs51295 - can you please test this changes now? It seems the core is deployed on prod-preview

[2018-11-26 06:29] Veethika commented on #3296
@divyanshiGupta this doc doesn't have the final visual design. @sunilmalagi is taking this up and will post the VD doc here soon.

[2018-11-26 07:18] jarifibrahim commented on #4539
I can no longer reproduce this issue. Maybe it was fixed because I did a `reset environment`.
I'm closing this since it cannot be reproduced.

[2018-11-26 07:47] sdash-redhat commented on #4560
Here is an updated version 0.3
https://redhat.invisionapp.com/share/9DPAAHAYKZA#/333225269_Title
Apart from implementing the feedback, I also added 2 screens showing an option that the catalog appearing inside the Che.

Please review @serenamarie125 @slemeur @catrobson

[2018-11-26 08:49] nimishamukherjee commented on #4480
Closed work items are displayed based on certain conditions. If a parent work item matches a criteria, all the children, closed and open ones, are displayed.
Why are we doing this - the backlog tree view serves two purposes:
1. Display matching results
2. Allow exploration

We need to change this to a feature request. Also, we can focus on the Closed Work Item behaviour under the Query tab.

[2018-11-26 09:49] slemeur commented on #4560
Thanks @sdash-redhat

[2018-11-26 10:34] chmouel commented on #4557
Spending some time with this and we actually don't need the list for here, or at least according to this https://docs.google.com/document/d/16ACdnRF5imhZ2uFrUI9HHboPnUl71ltwSzDVqmcA0S0/edit#heading=h.jpbx2mdixfec as we have everything in the GET, closing this here,

[2018-11-26 10:34] #4557 closed

[2018-11-26 10:48] chmouel opened #4584 "Build: Generate swagger API documentation"
Add information about the swagger API Documentation.

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/113

[2018-11-26 10:57] #4584 closed

[2018-11-26 11:10] sunilmalagi commented on #3145
@Preeticp @nimishamukherjee
Here is the updated visuals for #3145, I have retained the 2nd option as suggested by Preeti and made the changes for "Markdown syntax and extensions"
https://redhat.invisionapp.com/share/83I1JRFM2AR#/295251625_000_Markdown_Syntax

[2018-11-26 12:04] ljelinkova commented on #4517
Is the fix already in production? I didn't do any tenant update but we do reset the environment every run.  Jenkins version is 9a1fbb4.

E2E tests are unusually green in the last few days and I haven't seen this issue anymore. So if you confirm that the fix is in production we can close this issue.

[2018-11-26 12:15] piyush-garg commented on #4517
@ljelinkova This PR has been moved to prod, but it's still not available for every user. Any user who does reset environment or update tenant, the user will get these changes. Jenkins image tag should be `vd38332c` and Jenkins version should be `9a1fbb4` to have these changes. These changes have been moved to prod on Friday 23 November. Tenant update is still pending to reflect it for all user. Ho

[2018-11-26 12:52] chmouel opened #4585 "Build: Permission denied when deploying the dockerfile binary"
Getting this when deploying the docker image on openshift :

[code]

intersingly this only happen on openshift and not when running with docker directly,

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/116

[2018-11-26 13:29] sbose78 commented on #4585
I had done this as a workaround to proceed.
https://github.com/fabric8-services/build-tool-detector/commit/8495051288dd8e289a396be9a4be19ba571fcde2

[2018-11-26 13:35] chmouel commented on #4585
@sbose78 I have already that script set as 0755, It seems that because I get the directory create as 0700 owned to the build user,

since k8/openshift runs don't respect the USER direcive,it with use random uuid and we can't access it

Not sure why i didn't have this before, but moving the binary to /bin 'fixed' the issue,

[2018-11-26 13:42] #4585 closed

[2018-11-26 13:48] chmouel commented on #4585
Ah perhaps that's a behavior from 'buildah'! since i didn't have that when building with 'docker'

[2018-11-26 14:04] chmouel opened #4586 "Build: Move to only one DB openshift/deploy-openshift-dev.sh"
We are currently deploying a DB for each services when we can just simply use
another database instead of deploying a whole new instance

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/119

[2018-11-26 17:46] joshuawilson commented on #4017
I would agree that making them the same size makes sense. Please let us know what else should be changed.

[2018-11-26 17:50] joshuawilson commented on #1976
@muruGanesan why do you expect it to work current way, instead of what he is asking for?

[2018-11-26 19:32] sbose78 commented on #4564
Looks like your initial account setup didn't complete.

[2018-11-26 19:41] ldimaggi commented on #4539
Same issue as #4546 - which also seems to be fixed now.

[2018-11-26 20:33] joshuawilson commented on #4581
@sbose78 do we have a way to store/save this info? Just asking if there is an API to support it yet.

cc @alexeykazakov

[2018-11-26 22:12] gorkem commented on #4564
@sbose78 @tolusha This needs some labels

[2018-11-26 22:21] gorkem opened #4587 "Improve displayed filename for npm stack reports"
##### Issue Overview
Stack report shows the file name in the jenkins build workspace on the stack report for npm stack analysis. It should instead show the workspace root relative path of the file.
![image](https://user-images.githubusercontent.com/82738/49045596-7fbd3300-f19f-11e8-9a24-18342b988a7b.png)

[2018-11-27 04:50] piyush-garg commented on #4539
I am still facing the issue

Steps to reproduce:-

1. Create a space - test
2. Create an application
3. Reset Environment
4. Create space again with the same name
5. Create an application and it will throw the same error at the time of clicking `setup application`

If you refresh at this stage, it will work.

Thanks

[2018-11-27 05:55] MatousJobanek commented on #4574
That is great news, I'll be more than happy to remove it. I'll create an issue as well as a PR in the tenant project and link it here.

[2018-11-27 06:18] dipak-pawar commented on #4574
Proxy is more important. It blocks quite a few important functionality. Why deployments fail? Is it related to proxy somehow?
Regarding the OSD/OSO flag it's fair request. I've created an issue for that - fabric8-services/fabric8-cluster#31
We will try to provide it ASAP. cc: @dipak-pawar

@chmouel fabric8-services/fabric8-cluster#31 is merged to master and ready to use in prod-preview which means

[2018-11-27 08:13] muruGanesan commented on #4185
@joshuawilson, thanks.
This story and UX proposal overlap with #4191. I will discuss this point with the team (in today's UX design review meeting) and conclude.

[2018-11-27 08:52] chmouel opened #4588 "Jenkins Idler: Remove regexp based free starter cluster detection"
We now have an API :

https://github.com/fabric8-services/fabric8-cluster/issues/31

which we can use and remove the [regexp based](https://github.com/fabric8-services/fabric8-jenkins-idler/blob/ebf73b784db1341c44307c8424eb51ac1f679769/internal/cluster/service.go#L22-L28) filtering

There is other things to do in this area, we want to have idler only enabled for those OSO clusters
but we don't wan

[2018-11-27 08:53] chmouel commented on #4574
@dipak-pawar thanks, i have added this https://github.com/fabric8-services/fabric8-jenkins-idler/issues/306

[2018-11-27 09:35] rupalibehera commented on #3861
@arilivigni I am done with the testing and review of the PR, it would be nice if you could address them.

[2018-11-27 11:22] divyanshiGupta commented on #3296
@christianvogt We cannot keep the planner URL when the page changes because when the path is resolved it checks if planner is under a feature flag in `FeatureFlagResolver` and it navigates to the warning page, if not under feature flag or the respective feature flag level is already selected it navigates to planner and the same happens for all the other menu tabs like analyze etc. What can be done

[2018-11-27 12:21] ibuziuk commented on #1454
Upstream issue has been fixed [1]. Closing

[1] https://github.com/eclipse/che/issues/7143

[2018-11-27 12:21] #1454 closed

[2018-11-27 12:30] ibuziuk commented on #4564
@alexeykazakov we have similar issue in - https://github.com/redhat-developer/rh-che/issues/1043
Could someone form the platform team investigate the root cause ?

[2018-11-27 12:53] sahil143 opened #4589 "Inconsistent naming in area and iterations Response"
##### Issue Overview
Response for `https://prod-preview.openshift.io/api/spaces/${SPACE_ID}/iterations`
[code]
Response for `https://prod-preview.openshift.io/api/spaces/${SPACE_ID}/areas`
[code]
Either the name should be `resolved_parent_path` or `parent_path_resolved`?
cc @kwk @jarifibrahim

[2018-11-27 12:59] sthaha commented on #4455
Seems more like a platform issue that anything build related hence tagging `team/platform`

[2018-11-27 13:09] #4145 closed

[2018-11-27 13:09] sthaha commented on #4145
Closing this since openshift build doesn't support it

[2018-11-27 13:10] vikram-raj commented on #4295
This issue has been fixed and on prod.

[2018-11-27 13:10] #4295 closed

[2018-11-27 13:13] vikram-raj commented on #4362
@nimishamukherjee Please verify. This issue has been fixed and on prod.

[2018-11-27 13:32] kwk commented on #4589
all pain no gain

[2018-11-27 14:04] joshuawilson commented on #4017
Promote and reject are actions against Jenkins. If Jenkins isn't there and you click the button it should fail with an error code that indicates Jenkins is down. There is no way to click those, have them work and not call Jenkins.

[2018-11-27 14:21] joshuawilson commented on #4193
I've commented on the invision.

[2018-11-27 14:29] joshuawilson commented on #4589
@sahil143 if this is something that really bothers you, maybe you should just make a PR to change it.

[2018-11-27 14:45] joshuawilson commented on #4582
What number in that is wrong? I just checked and for the live system they appear correct.

[2018-11-27 14:51] joshuawilson commented on #4582
`in progress` and `open` appear to be wrong. Not sure what is being counted there.

[2018-11-27 15:15] chmouel opened #4590 "Build: Renable other checkers in golangci linters"
those are disabled

- typecheck
- lll
- prealloc
- gosec

but we can enable them again now that we have golangci service running,

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/121

[2018-11-27 15:48] #4590 closed

[2018-11-27 16:25] slemeur commented on #2603
Yes, I don't think it is a bug.
Users are ordering by drag&drop the WI, which should be reflecting the priority or order of execution.

[2018-11-27 19:09] joshuawilson commented on #2994
I agree, this isn't a bug but word wrap.
I'm closing this. If you can come up with a user experience that fixes word wrap let us know.

[2018-11-27 19:09] #2994 closed

[2018-11-27 20:11] joshuawilson commented on #4569
Confirmed. That is very odd.

[2018-11-27 20:15] joshuawilson commented on #4569
@sbose78 @bartoszmajsak This looks like it is something not getting reset in the getting started launcher.

[2018-11-27 20:30] joshuawilson commented on #4563
cc @openshiftio/uxd-team @alexeykazakov

[2018-11-28 05:03] muruGanesan commented on #4197
@joshuawilson, @vikram-raj, @christianvogt
Please note, this story covers the 'App setup' progress screen ONLY & Story #4193 deals about, 'how to access this module from Dashboard'

<img width="1283" alt="image" src="https://user-images.githubusercontent.com/26006817/49130007-e81f2800-f2f7-11e8-922f-d7d33177036e.png">

HERE IS THE UX PROPOSAL:
https://redhat.invisionapp.com/share/7VO5831SYNF#/3334

[2018-11-28 05:21] muruGanesan commented on #4185
@vikram-raj,
As discussed,
Please look at our UX recommendation below, this covers 'Space & application' creation pages ONLY.
[The story #4191 covers visual aspects of the OSIO flow so for the current implementation you can refer the below recommendation]

https://redhat.invisionapp.com/share/E7O609F8T9W#/332319129_4185_Proposed_SpaceCreation

CC: @nimishamukherjee, @joshuawilson, @christianvogt

[2018-11-28 05:32] vikram-raj commented on #4185
@muruGanesan Please see my comment on invision screen.

[2018-11-28 05:34] yzainee commented on #4344
https://github.com/fabric8-analytics/fabric8-analytics-server/pull/419

[2018-11-28 06:08] muruGanesan commented on #4185
@vikram-raj, I saw your comments about the error case. I will refer PatternFly and add those additional screens.

[2018-11-28 08:29] muruGanesan commented on #4193
@joshuawilson, Thanks for your review comments. I responded back with explanation.
Please let me know if you have a different point of view.

[2018-11-28 09:49] ibuziuk commented on #1620
@rhopp wondering if you could confirm you theory if removal of multiple workspaces could prevent new workspace from startup. If this is the case we need to open an issue upstream.

[2018-11-28 09:58] muruGanesan commented on #1976
@joshuawilson,
Here are my initial thoughts
1) If I compare our implementation with Github 'Creation Label'  and  'Assigning Label' are two different  actions, though it appears in the same dropdown.
2) There may be two personas (a) PM/Scrum master who creates labels  (b) set of users who uses the labels.

But, I am comparing our current implementation with other products and PF4 standards. I will

[2018-11-28 11:17] Katka92 commented on #1620
Hi, I've tried it on production with 5 and 8 workspaces and works fine. "delete-" pods were started quickly and there was no problem with immediately starting new workspace.

The flow was:
* create 9 worksapces
* start one workspace
* delete 8 worksapce (including the running one)
* start remaining workspace

[2018-11-28 13:07] sdash-redhat commented on #4560
Based on the feedback and the discussion with the dev team, here are the updates
**https://redhat.invisionapp.com/share/YJPC9T776ZW**

Please review @serenamarie125 @catrobson @slemeur

Highlights of the change:
1. No authentication happens in the marketplace site ...so no user details on the market place nav bar etc.
2. Need to Add a call to action for preview instead of Install.
3. the flow for

[2018-11-28 13:11] Katka92 commented on #1620
@ibuziuk I've tried to create and run 7 workspaces. Then I deleted them at once and immediately run another workspace. All workspaces were removed (including data on PVC) and workspace was started successfully. When I investigated events, sometimes I saw warning:
[code]
But it didn't show every time and it seems it is not strictly connected with removing more than one workspace.
Hope this report h

[2018-11-28 13:35] ppitonak commented on #3742
@sbose78 any updates?

[2018-11-28 13:53] ibuziuk commented on #4538
We had a call where @skabashnyuk and @mshaposhnik presented early version of `devfile`. Basically, from implementation perspective support of `devfile` in osio flow should be pretty easy to implement. che-starter could detect `devfile` in the repository and send `POST /api/devfile` request to Che server with `devfile` definition in the body e.g.:

[code]

This would create a  `petclinic-dev-enviro

[2018-11-28 14:11] ibuziuk commented on #1620
Thanks, for investigation. According to your findings workspace removal works as expected. Closing.

[2018-11-28 14:11] #1620 closed

[2018-11-28 14:57] ppitonak commented on #4559
@xcoulon any updates?

[2018-11-28 15:29] ibuziuk commented on #4332
@gorkem during today's call with  @skabashnyuk and @mshaposhnik it was discussed that potentially `devfile` would be a replacement for `factory.json / chefile` and be the only portable format for workspace generation. Taken this into account I'm wondering if it really makes sense to have this issue in the osio backlog, or the only focus should be on `devfile` integration as part of osio flow - htt

[2018-11-28 15:30] sunilmalagi commented on #4191
Updated visuals:
https://redhat.invisionapp.com/share/2MO880J6SUZ#/322787844_Cover_Page-App

[2018-11-28 15:34] ppitonak commented on #2951
Github does the following, IMHO both are acceptable

browser title: `Description of an issue  · Issue #99999 · openshiftio/openshift.io`
email notification: `[openshiftio/openshift.io] Description of an issue (#99999)`

[2018-11-28 15:36] ppitonak commented on #4009
@piyush-garg is it in prod already?

[2018-11-28 15:40] ppitonak commented on #3797
@piyush-garg that is much better. Is it already in prod?

[2018-11-28 15:41] joshuawilson commented on #3296
I've added an work item for tracking the engineering work.
https://openshift.io/openshiftio/Openshift_io/plan/detail/1110

[2018-11-28 15:55] divyanshiGupta commented on #3296
@christianvogt The rendering of planner view happens in a way that when `/plan` is in the route the backlog view gets rendered where the `router-outlet` is placed in the main html file and the same thing happens for the other areas like analyze and create so how do we display the warning page without altering the route?

[2018-11-28 15:58] ppitonak commented on #4517
Is mass tenant update done?

[2018-11-28 15:59] joshuawilson commented on #1976
In github if you are in the `assign labels` dropdown you can add/create a new one and it gets added after you create it without having to click on it.

For the PM/Scrum master that just wants to make the set of labels, there should be a page/screen that allows for management of labels. Github does this.

[2018-11-28 16:03] muruGanesan commented on #4191
@nimishamukherjee  This story will address all the visual aspects of the OSIO other stories will address only specific flow, interaction, and content (there may be overlaps but better not to combine)

FYI: Today (28th Nov 18) we finalized a few aspects of the visual design which is updated in both 4185 and 4191.

[2018-11-28 16:03] piyush-garg commented on #4517
@ppitonak Cluster-wide tenant update is still pending.

[2018-11-28 16:03] piyush-garg commented on #3797
@ppitonak Yes, I have seen that in prod.

[2018-11-28 16:06] piyush-garg commented on #4009
@ppitonak New pipeline library is not in prod. We are working on moving java booster to the new pipeline. Apart from that there 2-3 other things that need to resolved to get that in production like new pipeline support for analytics and updating upstream boosters application.yaml

[2018-11-28 16:09] ibuziuk commented on #3257
@bostrt can you still reproduce this issue ? Could you please provide the project that you have used ?

[2018-11-28 16:45] gorkem commented on #4332
Ultimately, all the integration from Toolchain to Che should become based on `devfile` meaning that the old `stack_id` based integration should go away. Are we tracking it somewhere?  #4538 seems to be very import specific.

What is the plan to support/convert existing `factory.json` users?

[2018-11-28 16:56] #4345 closed

[2018-11-28 18:35] ldimaggi opened #4591 "Email notifications generated for workitem updates do not include details on what was updated"
##### Issue Overview
The Planner generates an email notification when a workitem is updated. No content related to the update made to the work item is included in the email. See attached for an example.

##### Expected Behaviour
A user would reasonably expect to see content in the email notification.

##### Current Behaviour
No content is included in the email notification.

##### Steps To Reprodu

[2018-11-28 18:51] christianvogt commented on #3296
@divyanshiGupta What I'd like to see is something like this:

[code]

[2018-11-29 02:01] joshuawilson commented on #3296
When you hit the `plan` route it will fetch and load the code. I think that is fine since they wanted to see it anyway. If the user opts out, then they just have a bit of extra in their browser. But the load time happened when they were looking at the opt-in page. So it's fine.

The suggested implementation by @christianvogt fits with what I had in mind. Be aware that the accept button reveals the

[2018-11-29 07:17] nimishamukherjee commented on #4364
@gorkem @serenamarie125 we need to cover the Login and Sign Up screens also
![loginsignup](https://user-images.githubusercontent.com/1892722/49205269-8b456f80-f3d4-11e8-899c-d2451b7cc6c9.png)

[2018-11-29 07:24] karthikjeeyar opened #4597 "Remove redundant API calls in my spaces page"
##### Issue Overview

My spaces page calls the same API endpoints multiple times, causing the lag in the page load time.

##### Expected Behaviour

There should not be redundant calls to the same API endpoints from the same component and page load time should be decreased.

##### Current Behaviour

Multiple calls to the same API endpoint resulting in slower page loads.

![image](https://user-image

[2018-11-29 07:31] ljelinkova commented on #3742
The issue happeneded again

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1633/console

[2018-11-29 07:57] sbose78 commented on #4538
Thanks @ibuziuk , this looks promising.
Are you folks creating a list of devfile samples which we could consult, as part of the learning curve?

[2018-11-29 09:46] ppitonak opened #4598 "jenkins.http’s server IP address could not be found."
##### Issue Overview

When user navigates to http://jenkins.openshift.io, he sees error page instead of Jenkins UI

##### Expected Behaviour

Jenkins UI is displayed

##### Current Behaviour

Error message
![05-04-jenkins-direct-log](https://user-images.githubusercontent.com/445100/49212684-ea9a8400-f3c2-11e8-8a50-46a9984993cc.png)

##### Steps To Reproduce

1. create a space, create a new app, wa

[2018-11-29 10:27] jarifibrahim opened #4599 "jenkins throws 401 even when the user is logged in."
##### Issue Overview
Clicking on `view log` (or any other jenkins URL) fails with
[code]
The above error was thrown by auth.prod-preview.openshift.io

##### Expected Behaviour
User should automatically be logged in (or shown a login page) when clicked on a jenkins URL.

##### Current Behaviour
Login on jenkins fails with `unauthorized` error

##### Steps To Reproduce

Not sure if the following ste

[2018-11-29 10:30] piyush-garg commented on #4009
There are still missing parts which needs to be done before deploying to prod like

 - [ ] https://github.com/openshiftio/openshift.io/issues/4500
 - [ ] https://github.com/openshiftio/openshift.io/issues/4501
 - [ ] https://github.com/openshiftio/openshift.io/issues/4500
 - [ ] https://github.com/openshiftio/openshift.io/issues/4535

[2018-11-29 10:33] jarifibrahim commented on #4599
I could access jenkins in incognito mode.

This could be because old session/cookie data being used by the UI.

[2018-11-29 10:38] ibuziuk commented on #4332
There is a separate issue `Workspace creation from WIT in che 7 without stackID`
 - https://github.com/openshiftio/openshift.io/issues/4536

Could you please clarify what are `factory.json` users in the context of openshift.io flow ? currently `factory.json` is not supported on osio flow at all, so there is nothing to support. The question is should we bring the support of both `factory.json` and

[2018-11-29 12:48] divyanshiGupta commented on #3296
@christianvogt I tried what you are suggesting but we will have to change it everywhere from route level to component level. And feature-flags are mostly being resolved at a route level. If that sounds okay I can go ahead with this approach.

What I tried to do was to put `<f8-feature-toggle>` in planner list view and when the beta feature flag was not enabled it showed the warning page otherwise

[2018-11-29 13:45] gorkem commented on #4364
Thanks @nimishamukherjee I have added it to the list

[2018-11-29 13:52] jarifibrahim opened #4600 "Webhook from github to jenkins fails with 500 status code"
##### Issue Overview
I am trying to build a nodejs app (https://github.com/nodeshift-starters/nodejs-rest-http-crud) on OSIO pipeline. The build works fine but I cannot trigger builds via code commits. The webhook from github to jenkins always fails with `500 status code`

Tell us briefly what the problem is about.

##### Expected Behaviour
Commits to the source code should retrigger new builds

#

[2018-11-29 14:03] gorkem commented on #4332
Something openshift.io flow did not support in the past does not mean it does not exist.

Do we think there is a significant number of users of `factory.json` that we want to support on che.openshift.io? @slemeur
Of course this is assuming there is a migration path, compatibility for `factory.json` upstream

[2018-11-29 16:23] corinnekrych commented on #4600
- I've reproduced the issue with app creation of a vertx booster.
- I've noticed that the webhook error only occurs on prod-preview see [webhook error on prod preview](https://github.com/corinnekrych/tooooooo/settings/hooks/66307222), prod is ok.
- As @jarifibrahim noticed:
it's failing because the usename is missing. The error was
[code]
it should be namespaces/$username-jenkins/deploymentconfigs

[2018-11-29 16:33] gastaldi commented on #4600
Not sure this is a Launcher bug, as it seems to be a bug in the Jenkins side. Launcher only adds the webhook

[2018-11-29 16:40] chmouel commented on #4600
[code]

weird it seems that it can't get the username here, it seems that it occurs since we merged kishan's commit :

https://github.com/fabric8-services/fabric8-jenkins-proxy/commit/d3a8164fe54989d3c5bc23e4e75fb0ac96e59ee8

@khrm can you please revert this commit and take this forward to test if the bug is in that patch ?

[2018-11-29 21:38] rohitkrai03 commented on #4581
@joshuawilson We are using `contextInformation` in profile data to save pinned space info. But it seems pinning logic is broken and its not sending proper data back to backend for saving. I'll look into it.
cc: @sbose78

[2018-11-30 01:09] alexeykazakov opened #4601 "Tenant namespaces provisioned with delay"
I'm not sure what's going on but I registered couple of new users but after login I didn't see any namespaces in OSO. In the logs I saw messages from tenant service saying that it can't retrieve OSO user tokens.
For example:
[code]
But in Auth logs for that request I see status 200:
[code]
And UI can retrieve the token without problem too.

While I was looking at logs the namespaces magically appe

[2018-11-30 02:48] joshuawilson commented on #4597
Please talk to @christianvogt about this.

[2018-11-30 07:17] GeetikaBatra commented on #4575
Here is the PR for the changes https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/178

[2018-11-30 08:43] ibuziuk commented on #4538
@skabashnyuk @mshaposhnik ^ maybe you could comment regarding samples ?

[2018-11-30 08:49] ibuziuk commented on #3814
@slemeur @mindreeper2420 is any work still planned to re-branding of the registration pages ?

[2018-11-30 10:53] ibuziuk commented on #1060
@rhopp @ScrewTSW @Katka92 Che has been switched to jdt.ls [1] so it would be great to see if this problem is still reproducible

[1] https://github.com/eclipse/che/issues/6157

[2018-11-30 11:10] skabashnyuk commented on #4538
@ibuziuk the question is a bit unclear. Are we talking about upstream samples or something else?

[2018-11-30 11:43] ibuziuk commented on #4538
yeah, upstream samples

@skabashnyuk AFAIK it is not planned to extend `devfile` functionality in downstream for osio, so we are planning to fully reuse upstream functionality.

[2018-11-30 11:50] chmouel commented on #4565
https://github.com/fabric8-services/fabric8-build/commit/2a6fbefa5ed94bb00c3c02b2ec4bbb7fa1b89488

[2018-11-30 11:50] #4565 closed

[2018-11-30 12:00] ppitonak commented on #4598
Happened again yesterday, again on us-east-1a with the same account.

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1647/ Nov 29, 2018 6:35:00 PM

Out of 22 runs, 3 failed with this error. The job runs every 2 hours.

[2018-11-30 12:16] skabashnyuk commented on #4538
In upstream AFAIK no.

[2018-11-30 13:37] chmouel opened #4602 "Build: Redeploy build latest and its service dependences on merge"
Let's deploy the whole stack on each merge,

Related: https://github.com/openshiftio/openshiftio-cico-jobs/pull/910

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/127

[2018-11-30 14:50] #4602 closed

[2018-11-30 15:03] ldimaggi commented on #1637
Closing this issue - no updates since January - has not been seen recently.

[2018-11-30 15:03] #1637 closed

[2018-11-30 15:28] MatousJobanek commented on #4601
These two logs don't relate to each other I'm afraid. That one retrieved from tenant service is a failure while retrieving user token: https://github.com/fabric8-services/fabric8-tenant/blob/master/auth/service.go#L204-L215 which calls [Retrieve](https://github.com/fabric8-services/fabric8-auth/blob/master/design/token.go#L52) endpoint in `TokenController`. The log from auth service you mentioned

[2018-11-30 15:53] MatousJobanek commented on #4574
@alexeykazakov @ibuziuk here is PR that removes it: https://github.com/fabric8-services/fabric8-tenant/pull/690

[2018-11-30 16:40] MatousJobanek commented on #4601
I wasn't successful in reproducing it in prod-preview.
Here is PR to promote the change to prod https://github.com/openshiftio/saas-openshiftio/pull/1152 and as soon as the issue accurs again, we will be able to figure out which account wasn't more likely linked or if there was any other issue

[2018-11-30 16:47] alexeykazakov commented on #4601
Oh, right. Sorry, my bad.

[2018-11-30 18:11] ldimaggi commented on #4452
Closing - this issue is no longer being seen.

[2018-11-30 18:11] #4452 closed

[2018-11-30 19:28] ldimaggi opened #4603 "On prod-preview, after successful build of Node.js booster, analytics report fails"
##### Issue Overview
On prod-preview, after successful build of Node.js booster, analytics report fails

##### Expected Behaviour
Expected behavior is that the analytics report will be generated on both production and prod-preview.

##### Current Behaviour
The report is generated on production and fails on prod-preview.

##### Steps To Reproduce

1. Clone: https://github.com/ldimaggi/nodejs-rest-h

[2018-11-30 19:50] ldimaggi commented on #2631
Closing - issue is no longer seen.

[2018-11-30 19:50] #2631 closed

[2018-11-30 22:14] ldimaggi commented on #4451
Have not been seeing this issue recently. Will close in a couple of days if no one else is seeing to too.

[2018-12-01 03:35] ldimaggi commented on #2830
Closing as no longer reproducible.

[2018-12-01 03:35] #2830 closed

[2018-12-02 21:06] ldimaggi commented on #2382
Closing this issue is not specific to OpenShift.io - as linked Che issue - https://github.com/eclipse/che/issues/8943 - was closed. Will open a new feature request for Theia.

[2018-12-02 21:06] #2382 closed

[2018-12-02 21:18] ldimaggi commented on #1060
Closing - this problem is not being seen now:

![screenshot from 2018-12-02 16-18-23](https://user-images.githubusercontent.com/642621/49345088-f77ed800-f64d-11e8-9919-0f2e1fb758c8.png)

[2018-12-02 21:18] #1060 closed

[2018-12-02 21:19] ldimaggi commented on #2113
This is still an issue as of December 1.

[2018-12-02 22:46] ldimaggi commented on #3113
Closing as duplicate of - https://github.com/openshiftio/openshift.io/issues/3130 - it's the same issue.

[2018-12-02 22:46] #3113 closed

[2018-12-02 22:50] ldimaggi commented on #3130
The same issues exists - the workaround is:

* execute run command
* open app url
* change java file
* execute build command
* see changes in the app

From #3113:
It is expected that auto recompile/redeploy will not occur for spring-boot since auto recompile / redeployment happens only after the re-building the project -https://github.com/redhat-developer/rh-che/issues/254#issuecomment-335816550

[2018-12-02 22:53] ldimaggi commented on #3130
Can we re-visit this sequence - or is this how we will leave things?

[2018-12-03 04:46] kishansagathiya commented on #4570
resolved with https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/339

[2018-12-03 04:46] #4570 closed

[2018-12-03 05:13] sdash-redhat commented on #4560
Based on the feedback from Brad, Serena and the team, updated the mockups (0.4.1).
https://redhat.invisionapp.com/share/YJPC9T776ZW#/334584779_Title

The changes include:
1. tags are removed from the card.
2. left hand nav bar is removed as there is only one catalog.

Please review @serenamarie125 @slemeur @catrobson @sivaavkd

[2018-12-03 05:34] kishansagathiya commented on #4600
Looking into this
This is exactly where it is happening

https://github.com/fabric8-services/fabric8-jenkins-idler/blob/ebf73b784db1341c44307c8424eb51ac1f679769/internal/api/api.go#L202

looking if proxy is sending an empty namespace

[2018-12-03 05:58] kishansagathiya commented on #4600
The error is happening because of
https://github.com/fabric8-services/fabric8-jenkins-proxy/blob/140b669a04d1a98a9c75d3161f3822fa34a88f83/internal/proxy/github.go#L64

`ns` is an empty string here. Will be pushing a fix soon.

[2018-12-03 09:03] piyush-garg commented on #2093
Removing SEV-2 label as this is task not bug.

[2018-12-03 09:30] ibuziuk commented on #2907
@ldimaggi I do not think that this issue is related to #2113, the route is unreachable due to the fact that preview url is displayed before the app is started, but I do not think we can do much about it, since currently it is expected behaviour in the upstream project. What UX are you expecting to have for the run commands ?

[2018-12-03 10:14] yzainee commented on #4603
not able to reproduce this issue. The stack analyses call doesnt fail.

[2018-12-03 11:04] ljelinkova commented on #4598
I've seen this error on all clusters 1-2 times during weekend, for example:

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1683/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1b-released/1159/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1152/console

There is one thing commong

[2018-12-03 11:19] rhopp commented on #2907
Just to put it in comparison with devstudio:
In devstudio, the browser is opened automatically once the deployment finishes successfully.

But now, I don't see anything wrong with displaying preview URL even when the build didn't finish... Developer can see the console output, and he can determine from the output, whether the app should be already running or not.

[2018-12-03 12:09] hrishin commented on #4517
### Update

Tenant update is scheduled for `Monday`.

[2018-12-03 12:11] chmouel opened #4604 "Build: Make sure to check we own the space before being able to using it."
This may be done automatically but at lest we need to test it properly.

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/131

[2018-12-03 12:47] Veethika commented on #4533
Rearranged the layout to fit in one screen such that the user doesn't have to scroll down to look at all the details

<img width="1069" alt="screenshot 2018-12-03 at 6 14 09 pm" src="https://user-images.githubusercontent.com/35127763/49374493-84499480-f727-11e8-85de-ac162ce64cfc.png">

[2018-12-03 13:08] tisnik commented on #4603
Is it possible to show us the reproducer please?

[2018-12-03 15:09] yzainee opened #4605 "Notification emails not being sent"
We are not getting any emails for the CVEs scan report.
This is the input that we are sending
[https://gist.github.com/yzainee/3dcc4665c58be19a3399e492a2cc240c]()
URL: [https://notify.api.prod-preview.openshift.io/api/notify]()

We get back a blank response with "202 Accepted".

Looked into the kibana logs and this is what i see for the my request
[https://gist.github.com/yzainee/cd6059aaf1b330398

[2018-12-03 15:09] yzainee commented on #4605
![screenshot from 2018-12-03 20-36-42](https://user-images.githubusercontent.com/37098367/49382127-90d7e800-f73b-11e8-86ec-b5bfe6c2f251.png)

[2018-12-03 15:49] xcoulon commented on #4605
@yzainee ok, so the notification service rejected the email sending because of the following reason:
[code]
but I would believe that we should return an error if the payload is invalid :/

PS: next time, please also mention that this happened on preview platform ;)

[2018-12-03 15:50] xcoulon commented on #4605
@yzainee I've opened https://github.com/fabric8-services/fabric8-notification/issues/93 so we can give a better feedback when the notification service is called.

[2018-12-03 15:50] xcoulon commented on #4605
closing for now, since the payload was missing some data

[2018-12-03 16:13] alexeykazakov commented on #387
We changed a lot in this area. @burrsutter could you please reopen this issue with latest details if you still have any issues with that?

[2018-12-03 16:13] #387 closed

[2018-12-03 16:23] ibuziuk commented on #2907
@rhopp exactly, that's why I opt for close it as won't fix / expected behaviour.
@ldimaggi if you think that UX should be improved please open relevant issue with details in upstream che, reopen this issue and link both.

[2018-12-03 16:23] #2907 closed

[2018-12-03 16:30] alexeykazakov commented on #4601
This is not 100% reproducible. Reducing to sev-2

[2018-12-03 17:49] alexeykazakov opened #4606 "API to cleanup inactive users"
We need some single endpoint which we can call to cleanup resources of an inactive (TBD) user:

- Delete tenant namespaces
- Delete WIT artifacts - spaces, WIs, codebases, ...?
- Clean up che workspaces?
- ...?

Sub tasks:
- [ ] Provide an endpoint in WIT to delete corresponding items. So, instead of Auth calling multiple WIT endpoints it will call just one.
- [ ] The same as above but for Che if

[2018-12-03 17:54] sbose78 commented on #4606
Cleaning up Che workspaces https://github.com/fabric8-services/fabric8-auth/issues/721

[2018-12-03 18:36] sbose78 commented on #4606
@ibuziuk @l0rd We need an API on the Che side which we could call and that would gracefully clean-up everything on the Che side for a given user.

I see there are a couple of APIs which do something with cleanup and deletion:

1. curl -X DELETE -v 'http://che-server:8080/api/user/:id'  -H 'Authorization: Bearer admin-keycloak-token
2. http://che-tenant-maintainer:8080/cleanWorkspaces

Could you he

[2018-12-03 21:24] chmouel opened #4607 "Unable to mount gluster volumes on -2"
Perhaps this is related #4422 or maybe that's intermitent but my jenkins has not being able to mount its gluster volume for a few time today :

[code]

[2018-12-03 22:41] fkorotkov commented on #4488
@chmouel `kubernetes-model` is used by `kubernetes-client`. Should it be still archived? What it the status of `kubernetes-model`?

[2018-12-03 23:34] alexeykazakov commented on #4272
Outdated. Closing.

[2018-12-03 23:34] #4272 closed

[2018-12-03 23:36] alexeykazakov commented on #4515
Outdated. Closing.

[2018-12-03 23:36] #4515 closed

[2018-12-03 23:39] alexeykazakov commented on #4455
If 401 is returned by auth service it doesn't mean it's a bug in Auth service. Please investigate this issue on the build side (since it's reproducible in build) and add more details to the issue. I'm closing it until further details are provided.

[2018-12-03 23:39] #4455 closed

[2018-12-03 23:39] alexeykazakov commented on #4455
If 401 is returned by auth service it doesn't mean it's a bug in Auth service. Please investigate this issue on the build side (since it's reproducible in build) and add more details to the issue. I'm closing it until further details are provided.

[2018-12-04 03:55] hrishin commented on #4488
@fkorotkov its moved to [kubernetes-client](https://github.com/fabric8io/kubernetes-client/tree/master/kubernetes-model) repository it self.

[2018-12-04 05:31] nurali-techie commented on #4605
@xcoulon I guess you added wrong error_payload for `skipping send email`.  Here is error_msg for req_id=`crL4gE89o1-67801`.
[code]

[2018-12-04 05:39] sdash-redhat commented on #4560
Based on yesterday's standup review and other feedback, have updated the mockups (0.4.2)
**https://redhat.invisionapp.com/share/GKPFLJIP583**
Highlights of the change:
1. Removed 'View Details' button from the card
2. Removed Kebab menu from the card
3. In details page, added the hint to provide the link for info on how to enable the plugin , this replaced the earlier link about the same.
4. The o

[2018-12-04 05:44] yzainee commented on #4605
@nurali-techie Whats the correct json format?

[2018-12-04 06:49] MatousJobanek commented on #4601
After clarification from today - this log that I referenced is not related - it contains a different `for` parameter. Sorry for confusions (looking forward to having Kibana working for me)

[2018-12-04 07:02] nurali-techie commented on #4605
@miteshvp @yzainee it's mostly not about payload format/requirement.  It's like for given codebase url `https://github.com/yzainee/node-js-sample` there are no codebase found where cve_scan is true.  I am investigating from myside.  You can try with one more user the same :+1:

[2018-12-04 07:53] nurali-techie commented on #4605
I see that codebase_search returns 0 record for given url=`https://github.com/yzainee/node-js-sample` that could be the issue.  Even it's returning 0 record for other urls too.

[code]
@yzainee no need to try with other users or do more investigation from your side.  I continues investigate further on codebase_search API.

[2018-12-04 08:15] nurali-techie commented on #4605
@yzainee @miteshvp issue found.  It's problem with url sent in notification_payload.

URL sent: https://github.com/yzainee/node-js-sample
URL required: https://github.com/yzainee/node-js-sample.git

Note: `.git` suffix missing in url.

[code]
returns one record.

Plz send correct URL in payload.  I would like to close this issue.

[2018-12-04 08:17] muruGanesan commented on #4185
@vikram-raj, based on yesterday's UX design review meeting, we decided to handle the 'error case' -or- 'form validation' in a different story.  Moreover, we would like to look at those 'error cases' in a holistic way (across OSIO).

[2018-12-04 08:37] muruGanesan commented on #4193
Based on 3 Dec 18, UX design review I updated with the following changes:
1) Removal of tooltips (on mouse over of button in 'setup page' and link in space dashboard)
2) Hint-box (blue box) with text introduced in 'setup page'
URL:
https://redhat.invisionapp.com/share/MHP7TIO3XYK#/332556493_ExistingFlow-_Start

[I requested @sunilmalagi to review the wireframes and to provide visual design inputs]

[2018-12-04 09:49] muruGanesan commented on #4197
@joshuawilson, @vikram-raj, @christianvogt,
Based on our UX design review meeting (03Dec18), I added a 'hint box' to educate the user.
Please refer to the latest mockup:
https://redhat.invisionapp.com/share/7VO5831SYNF#/332276211_Existing_Flow

[2018-12-04 10:06] piyush-garg opened #4608 "Use the upstream openshift-login plugin"
Right now, we are using(https://github.com/fabric8io/openshift-jenkins-s2i-config/blob/master/plugins/openshift-login.jpi) the fork(https://github.com/fabric8-jenkins/jenkins-openshift-login-plugin) of upstream login plugin(https://github.com/openshift/jenkins-openshift-login-plugin) in our Jenkins image for a single change(https://github.com/fabric8-jenkins/jenkins-openshift-login-plugin/commit/3

[2018-12-04 10:35] rohitkrai03 commented on #4580
Fixed in https://github.com/fabric8-ui/fabric8-ui/pull/3426

[2018-12-04 10:35] #4580 closed

[2018-12-04 10:51] chmouel commented on #4568
More discussions and investigation here:

https://chat.openshift.io/developers/pl/sm4bacg41iye3bwn3cau4hwr7r

patch to symlink the hpi/jpi instead of copying https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/49 saves around 187mb

[2018-12-04 11:49] #4509 closed

[2018-12-04 11:50] hrishin commented on #4510
some work has done in the context of osio-pieline testing, will close and file another issue for build E2E task

[2018-12-04 11:50] #4510 closed

[2018-12-04 11:53] hrishin opened #4609 "Build: E2E test case scenarios"
https://openshift.io/openshiftio/Openshift_io/plan/detail/1144

[2018-12-04 11:54] hrishin opened #4610 "Build: E2E test case scenario for build"
https://github.com/openshiftio/openshift.io/issues/4609

[2018-12-04 11:58] hrishin opened #4611 "Build: E2E test case scenario for deploy functionality"
https://github.com/openshiftio/openshift.io/issues/4609

[2018-12-04 13:03] joshuawilson commented on #4197
That doesn't tell them were it can be found since it is hidden in a kabab menu. If we force the kabab menu open when they start then it might make sense, but who would want that menu open every time after they have seen it the first time. We need some kind of "first time trainer" like they have in games, after the hint, it goes away.

[2018-12-04 13:12] joshuawilson commented on #4197
I just saw on a different design that you add "view Setup Progress" to the page and it is not hidden in a kabab menu.

Why are there 2 design docs for the same thing?

[2018-12-04 13:17] joshuawilson commented on #4193
That looks good.

[2018-12-04 13:19] joshuawilson commented on #4185
That kind of error handling/display is very common. There should be lib for it but if not, we either add it to PF or make our own. We need to do a bit of research to see what is available for the tech stack we are using.

[2018-12-04 13:43] ljelinkova commented on #4513
Yes, I can confirm that on prod-preview, when I create new application, the _Return to Dashboard_ button is visible only after all checks are finished. After clicking the button, the codebases are loaded correctly.

[2018-12-04 13:43] #4513 closed

[2018-12-04 13:52] ljelinkova commented on #4517
The E2E tests do not encounter this issue any more so I am closing this issue now and not waiting for tenant update.

[2018-12-04 14:08] ppitonak commented on #4609
Will this test require production environment?

If yes, they should live in https://github.com/fabric8io/fabric8-test and you should share as much detail as possible with me and @ljelinkova

If no, stop calling them e2e tests so that we minimize confusion in wider OSIO/Toolchain team.

[2018-12-04 14:19] piyush-garg commented on #4517
@ljelinkova Whenever you do reset environment, then Jenkins comes up with latest tenant properties. This is not the case for all users, we need do that for all user. In e2e test, we reset the environment that's why no error is shown there. Ideally, we should wait for tenant update to reflect the changes for all users. Thanks

[2018-12-04 14:34] muruGanesan commented on #4197
@

There were TWO options.
We finalized on ONE design i.e. there will be a  link "view Setup Progress" (which appears on the Space Dashboard)

[2018-12-04 14:51] joshuawilson commented on #4197
That image is from `User should be able to view progress of application creation at any time before it's complete` #4193 and not listed in the design link provided. Once I saw it, I agreed to the changes in this one.

[2018-12-04 15:02] ppitonak commented on #4517
@piyush-garg makes sense. However, @hrishin wrote earlier that tenant update was scheduled on Dec 3, was it postponed?

[2018-12-04 15:11] piyush-garg commented on #4517
@ppitonak It was scheduled on 3 dec but postponed because of a blocking issue https://github.com/openshiftio/openshift.io/issues/4568

[2018-12-04 15:19] #4347 closed

[2018-12-04 19:15] ibuziuk commented on #4606
@sbose78 currently there is no API that would both stop / delete all the workspaces and user itself from the Che db. This API should probably be provided by che-starter that plays the role of API adapter but there were no plans to implement it in the nearest future. @l0rd do you think we should prioritize this task ?

Yeah, just deleting namespace might have unpredictable side-effects (at least al

[2018-12-04 21:21] alexeykazakov commented on #3660
Outdated.

[2018-12-04 21:21] #3660 closed

[2018-12-04 21:30] alexeykazakov commented on #3414
Please re-open if you still see this problem.

[2018-12-04 21:30] #3414 closed

[2018-12-04 21:30] alexeykazakov commented on #3953
Duplicates https://github.com/openshiftio/openshift.io/issues/3385

[2018-12-04 21:31] alexeykazakov commented on #3385
Adding team/ui since we need help from some one with good UI skills to fix the UI template used by notification service.

[2018-12-04 21:35] alexeykazakov commented on #1375
Duplicates https://github.com/openshiftio/openshift.io/issues/3385

[2018-12-04 21:35] alexeykazakov commented on #1121
Duplicates https://github.com/openshiftio/openshift.io/issues/3385

[2018-12-04 21:35] #1121 closed

[2018-12-04 21:35] alexeykazakov commented on #3110
Outdated.

[2018-12-04 21:35] #3110 closed

[2018-12-04 21:38] alexeykazakov commented on #2629
Not a bug. Rather missing functionality.

[2018-12-04 21:40] alexeykazakov commented on #2269
Outdated.

[2018-12-04 21:40] #2269 closed

[2018-12-04 21:42] alexeykazakov commented on #874
Duplicates https://github.com/openshiftio/openshift.io/issues/2629 ?

[2018-12-04 21:45] alexeykazakov commented on #866
It's not a bug. It's a feature request. And it's rather for WIT.

[2018-12-04 21:55] aptmac commented on #3110
This can still reproduced, but the bug is in the c3js repo. Even if/when it gets fixed in c3js it may be a headache to update patternfly to the latest version.

[2018-12-05 02:32] sdash-redhat commented on #4560
Agree. looking at the current amount of content if we take out screenshots I belive we can put that in the hint itself.

![1 1 5](https://user-images.githubusercontent.com/27761023/49486247-b06a3000-f863-11e8-8aec-c9568c47725e.png)

Have a updated the flow. @serenamarie125  @slemeur  @sivaavkd  please review. .
**https://redhat.invisionapp.com/share/J8PGG7D7TFP**

[2018-12-05 03:35] #4600 closed

[2018-12-05 03:59] piyush-garg commented on #4600
This has been fixed with https://github.com/fabric8-services/fabric8-jenkins-proxy/pull/342 and new proxy deployed on prod-preview today morning.

[2018-12-05 06:15] hrishin commented on #4609
@ppitonak not sure yet but mostly not the production environment.

Prefixing the issues with "Build:" would not help to avoid the confusion?

[2018-12-05 06:20] pradeepto commented on #4609
@ppitonak Can we call it e2e tests for osio-pipeline-library? If not, can you suggest a correct name?

[2018-12-05 06:22] sbose78 commented on #4538
@ibuziuk Could you help us with the API usage for passing the devfile in the payload? Also, would it need changes in che-starter? @tinakurian could get started on that if you could advise on the design.

[2018-12-05 06:39] alexeykazakov commented on #4434
This issue seems to be outdated.
It currently opens https://developers.redhat.com/auth/realms/rhd/account/password which is exactly Change Password page.
Closing.

[2018-12-05 06:39] #4434 closed

[2018-12-05 06:46] sbose78 commented on #4606
OK, thanks @ibuziuk . So we'll consider this to be the 'user cleanup' API for a user's Che objects

[2018-12-05 08:01] ljelinkova commented on #4598
This issue still occurs and affects the E2E tests so I'd also like to see some suggestions what we could do about it.

https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-1a-released/1169/console

[2018-12-05 08:18] kwk commented on #4606
@alexeykazakov may I ask why we need that?

[2018-12-05 08:35] invincibleJai commented on #4558
Closing as done.

[2018-12-05 08:35] #4558 closed

[2018-12-05 08:39] #4355 closed

[2018-12-05 09:22] ljelinkova opened #4612 "Space name is not cleared in Create space dialog and you cannot create second space"
##### Steps to reproduce
1. Create new space with name XYZ (with or without application)
2. Open Create new space dialog again - the space name is filled with name XYZ
3. You are not able to create any space even if you change the name (the Create Space buttons are disabled)

[2018-12-05 09:35] ppitonak commented on #4612
@vikram-raj caused by your recent commits.

[2018-12-05 09:38] chmouel opened #4613 "Build: Build merge is failing due of buildah not being able to push to quay"
comes back with :

`access to the requested resource is not authorized`

Fabric8 Build issue: https://github.com/fabric8-services/fabric8-build/issues/134

[2018-12-05 09:54] rootAvish commented on #3980
This is done, so closing. Load testing numbers shared with SD and service is in staging.

[2018-12-05 09:54] #3980 closed

[2018-12-05 09:55] rootAvish commented on #3979
The work for this is done, refer to planner for a detailed list of tasks.

[2018-12-05 09:55] #3979 closed

[2018-12-05 10:12] chmouel commented on #4606
Related for build: Jenkins proxy deletion API: https://github.com/openshiftio/openshift.io/issues/4454

[2018-12-05 10:51] chmouel commented on #4613
Fixed in https://github.com/fabric8-services/fabric8-build/pull/135

[2018-12-05 10:51] #4613 closed

[2018-12-05 12:05] vikram-raj commented on #4612
I am looking into.

[2018-12-05 12:10] sunilmalagi commented on #4560
Here is the invision link with Visuals and Specification

Option 1: (Hint without steps)
https://redhat.invisionapp.com/share/GKPFLJIP583#/335161034_1-1-1_Visuals

Option 2: (Hint with steps)
https://redhat.invisionapp.com/share/J8PGG7D7TFP#/335166344_0-4-3_Visuals

[2018-12-05 12:54] chmouel commented on #4568
Symlink directory into the image saves us 358MB in total,

[2018-12-05 13:05] serenamarie125 commented on #4197
Closing as design is approved by stakeholders, and there is an associated planner issue exists : https://openshift.io/openshiftio/Openshift_io/plan/detail/793

[2018-12-05 13:10] kishansagathiya commented on #4588
Instead of using fabric8-clusters API directly, we can make changes to the `/clusters` endpoint of f8-auth that proxies to f8-clusters. That would be the right thing to do and will also save a lot of work for idler and proxy

[2018-12-05 13:11] serenamarie125 commented on #4401
@joshuawilson @christianvogt the official word is that the logo won't be available til after the new year.  The short term resolution will be to create an image with "CodeReady Toolchain" in the Interstate font.  We are awaiting access for the font now - prioritizing so that we can make this available today.

[2018-12-05 13:50] ppitonak commented on #4568
"In total" is confusing... Is it 358 MB per user or per cluster?

How will symlink handle various versions of Jenkins?

[2018-12-05 13:52] piyush-garg opened #4614 "Build Service: Add api to update pipeline env map"
Provide a new API so that user should be able to update the pipeline env map to add the new environments

https://github.com/fabric8-services/fabric8-build/issues/139

[2018-12-05 13:54] chmouel commented on #4568
there is no global plugins 'folder' in our infrastructure so it is per user,

I am not sure i understand your question, did you read the patch?

[2018-12-05 15:13] muruGanesan commented on #4185
@serenamarie125, @joshuawilson, @christianvogt, @vikram-raj
I have seen this implementation as part of SOS demo (on 4Dec18) & stakeholder review meeting (5Dec18) stakeholder's meeting.

If required we can close this story.

[2018-12-05 15:16] muruGanesan commented on #4193
@joshuawilson, thanks.
I see an acceptance from the stakeholders today (5 Dec 18).
Please close the story based on the engineering plan.

CC: @christianvogt, @serenamarie125

[2018-12-05 16:48] sbose78 commented on #4538
In the first version, we are gonna use it in boosters ( CRUD specially ). No generation, will create it and place it in the repo.

Yes.
Intially, we'll expect the file to be present in the repo which is being imported.
In version 2,
We'll be showing the user an editable 'template' devfile in the import flow. Subsequently, it would be added to the repo. The import experience hasn't been finalized.

[2018-12-05 18:42] alexeykazakov commented on #4606
@sbose78 the entry point here should be reg app I think...
We can't clean up everything on OSIO side without deprovisioning OSO users. Otherwise it will be possible to login to the cluster and use it resources directly. If there is no tenant namespaces then nothing will stop them (quota is not reached).

So, our flow should be:
1. Someone/something calls oso reg app API to deprovision user. OSO de

[2018-12-06 04:42] hrishin commented on #4568
Some observations for the [sym link](https://github.com/fabric8-jenkins/jenkins-openshift-base/pull/49) patch

**Plugin management:**
1) installed artifcatory plugin from plugins.txt
plugin worked :heavy_check_mark:
plugins size

First boot
[code]

2) installed prometheous plugin (without restart option) from Jenkins admin conosle
plugin worked :heavy_check_mark:
plugins size

First boot (without

[2018-12-06 06:32] muruGanesan commented on #3765
@ppitonak, @joshuawilson, @christianvogt
Please close this issue if it is captured and monitored by engineering team.

[2018-12-06 07:06] skabashnyuk commented on #4538
FYI our implementation will require public GitHub repo.

[2018-12-06 08:52] ljelinkova commented on #4598
@chmouel @stevengutz @ldimaggi

[2018-12-06 09:22] ljelinkova commented on #4598
This log looks also interesting
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1724/oc-jenkins-logs.txt

Extract:
[code]

[2018-12-06 09:22] ljelinkova commented on #4598
http://artifacts.ci.centos.org/devtools/e2e/devtools-test-e2e-openshift.io-smoketest-us-east-1a-beta/1723/oc-jenkins-logs.txt

[2018-12-06 09:36] ljelinkova commented on #4598
@piyush-garg The number of failed e2e tests is increasing so give it a high priority please.

[2018-12-06 09:55] jarifibrahim commented on #4539
I encountered this issue again.
What did I do?
 - Reset my environment
 - Create a new space and try to import a codebase

[2018-12-06 10:47] ppitonak commented on #3765
@muruGanesan I agree with removing `team/UX` label but don't see a reason to close it until it's implemented and in production.

[2018-12-06 11:29] ppitonak opened #4616 "Create and app: form state is not reset on cancel"
##### Issue Overview

The state of dialog "Create an Applicatiion" is not reset on cancel.

##### Expected Behaviour

State of form is reset

##### Current Behaviour

State is not reset, causes unexpected behavior

![osio_create_app](https://user-images.githubusercontent.com/445100/49581318-cc4bff80-f951-11e8-8b94-a82b6f01d4f2.gif)

##### Steps To Reproduce

1. open https://prod-preview.openshift.

[2018-12-06 12:47] sbose78 commented on #4606
@alexeykazakov , Agreed.

Here's my understanding.

Today:
**Ban**:  Blocks user, deletes namespaces, doesn't delete openshift.io data

Henceforth,
1. **Ban** : Blocks user, deletes namespaces, doesn't delete openshift.io data. This is a single step process which already exists today.
2. **Ban & Deprovision** :  Blocks user, deletes namespaces, deletes openshift.io data.
Initially, this should inv

[2018-12-06 12:56] ppitonak opened #4617 "No focus in create space and create app modal"
##### Issue Overview

When "Create space" or "Create an Application" modal dialog is rendered, the `name` input should be focus

##### Expected Behaviour

Input is focused

##### Current Behaviour

Input is not focused

##### Steps To Reproduce

1. open https://prod-preview.openshift.io
2. click top-left menu and click `Create Space`

result: input is not focused, the same behavior is observed in

[2018-12-06 13:16] ljelinkova commented on #4616
Would it be possible to use modal dialog events to reset the form? Like it is described here:

https://valor-software.com/ngx-bootstrap/#/modals#directive-events

You reset the form on various places and that is very error prone.

[2018-12-06 13:20] sivaavkd commented on #4535
Planner link: https://openshift.io/openshiftio/Openshift_io/plan/detail/1168

[2018-12-06 13:35] rupalibehera commented on #4319
https://github.com/fabric8io/osio-pipeline/pull/91

[2018-12-06 14:04] ppitonak commented on #4616
@stevengutz IMHO it makes sense to fix it now while @vikram-raj is working on this component. It's much better than completely re-creating context in couple of weeks/months.

[2018-12-06 14:55] joshuawilson commented on #1375
this is not a duplicate of #3385

On the backend you need to set the image URL to
https://openshift.io/_assets/images/Logotype_RH_OpenShift-io_RGB_RedGray.8a5017a968a14445c7d62315cd7bcfa4.png

[2018-12-06 14:58] alexeykazakov opened #4618 "Switch go builds from epel-testing to epel-stable"
We need to switch all our go repos from using go from epel-testing to epel-stable

[2018-12-06 15:00] alexeykazakov commented on #4618
cc: @pbergene @sbose78 @sunilk747 @chmouel @ibuziuk

[2018-12-06 15:04] hrishin commented on #4568
Yes @chmouel we have tested by deploying a new version of `sync-plugin`, Jenkins was able to pick it up.

I was not able to run pipelines, as jenkins is behaving wiredly due to idler issue. Rest of behavior stays same as per previous observation.

[2018-12-06 15:06] #4612 closed

[2018-12-06 15:11] christianvogt commented on #4616
Instead of trying to reset the state of the modal, the component should be unmounted and destroyed when the modal is not opened. This would automatically create a new state when the modal reopens. This will also reduce the DOM because right now the modal and all it's contents are in the DOM but hidden.

[2018-12-06 15:50] ppitonak commented on #4598
Happened twice in last 40 minutes:
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-released/4272/console
https://ci.centos.org/job/devtools-test-e2e-openshift.io-smoketest-us-east-2a-released/1181/console

Jenkins seems to unidle properly and start the job:
![osio_ip_1](https://user-images.githubusercontent.com/445100/49594811-f368f800-f976-11e8-8d6b-e

[2018-12-06 16:11] ppitonak commented on #4598
Another failure, the same story. Three successful runs before this one so probably not caused by something broken in previous run.
https://ci.centos.org/job/devtools-test-e2e-prod-preview.openshift.io-smoketest-pr-us-east-2a-beta/4274/

[2018-12-06 17:23] joshuawilson commented on #874
yes

[2018-12-06 17:23] #874 closed

[2018-12-06 17:35] joshuawilson commented on #4539
I don't think this is a UI issue. It appears to be a conflict with the Space ID and it not being cleaned properly  during the reset.
@sbose78 @alexeykazakov what part of the backend deals with this? Please add the correct team.

[2018-12-06 17:46] joshuawilson commented on #3765
I'm going to close this as a duplicate of #3296 since the designs and work is being tracked there.

[2018-12-06 17:46] #3765 closed

[2018-12-06 17:51] joshuawilson commented on #4616
@vikram-raj can you work on this?

[2018-12-06 17:56] joshuawilson commented on #3953
This is not a duplicate

[2018-12-06 17:58] joshuawilson commented on #3385
The boarder is being cut off on the right side. This looks like a responsive CSS issue.
We can help with that.