[2018-01-12 09:24] liangxia commented on #1805
GoupId validation is tracked in https://github.com/openshiftio/openshift.io/issues/1807

[2018-01-12 09:27] rkratky commented on #1862
@rsvoboda https://docs.openshift.io/ has been updated and now hosts OSIO docs.

[2018-01-12 09:57] rsvoboda commented on #1862
@rkratky :+1:

[2018-01-12 10:53] #1871 closed

[2018-01-12 11:20] rkratky commented on #1588
@joshuawilson https://docs.openshift.io/ is now live, it can be safely linked to.

[2018-01-12 11:54] pkajaba commented on #1724
@vpavlin 's idea sounds good to me. @kbsingh what do you think?

[2018-01-12 11:54] rkratky commented on #182
@aditya-konarde https://docs.openshift.io/ is now live and can be linked to.

[2018-01-12 11:56] pkajaba commented on #1263
the updated plugin seems to be working. It contains URL to build now combined with truncated logs. So a user can see from email what is going on.

I wanted to fix/tweak this, so from my point of view, this card is complete. @msrb, Can I close it?

[2018-01-12 12:49] mindreeper2420 commented on #1851
@joshuawilson This should be fixed with the latest push to production. It was addressed on prod-preview during the break.

[2018-01-12 12:56] catrobson commented on #1817
@joshuawilson yes, but we've only done a bit of design thinking about this so there are not existing designs to point to right now.  We hope to address this soon as a related step of the wizard design process.

[2018-01-12 12:59] rhopp opened #1872 "Need help with deploying Pull request builds of rh-che."
While thinking about https://github.com/redhat-developer/rh-che/issues/447 I saw, that fabric8ui has some mechanism for deploying pull request artifacts to some cluster and reporting that as an URL back to github repository.

We need some place where we can deploy rh-che built from PR and run integration tests on it.

Historically we just replaced che-server of the test user in his OSO, but this a

[2018-01-12 13:03] mindreeper2420 commented on #1829
@joshuawilson looks like there is definitely a conflict between styles. Is Planner pulled in with all of the CSS already compiled, or is it built by the Platform? If there are any overrides in the Planner code, then those will always override Platform, unless specificity is exact.

[2018-01-12 13:04] rhopp commented on #1872
Copying  @rupalibehera's answer from mail thread:

Here is deployment script Jenkinsfile, this will give you a complete idea of how we can do this. we can do an initial hand holding and set this up together but someone from your team should be taking ownership of this later on.

Thanks! Any help appreciated ;-)

What I meant is that fabric8ui surely needs to communicate with other services running

[2018-01-12 13:09] catrobson commented on #1579
@mindreeper2420, @joshuawilson, @dlabrecq  I'm fine with this change from a Design/UX point of view.  I know we have this as a ng pattern, can you speak towards any concerns in implementing the change to make sure we get this consistently changed?

[2018-01-12 13:19] ldimaggi opened #1873 "On https://openshift.io, creating Che workspace results in workspace missing "run" command"
Steps to recreate:
* Create new space
* Create new quickstart
* Create new Che workspace for quickstart
* Observe that "run" command is missing in workspace:

![screenshot from 2018-01-12 08-17-33](https://user-images.githubusercontent.com/642621/34876820-4b922a82-f771-11e7-94ab-830be9ae597f.png)
![screenshot from 2018-01-12 08-17-20](https://user-images.githubusercontent.com/642621/34876821-4bb26

[2018-01-12 13:25] rhopp commented on #1873
How are you creating the workspace... I guess from openshift.io codebases page, right?
Is it reproducible with different projects? Or is it reproducible with some specific project? What project?

[2018-01-12 13:30] dlabrecq commented on #1579
The recent spaces widget isn't from patternfly-ng, but some patternfly-ng components show an empty state. For example, when a list , tree list, and table have no data to display. Changing the recent spaces widget is doable, but inconsistent.

[2018-01-12 13:34] rhopp commented on #1873
I was able to reproduce this on prod with vertx http booster project.

[2018-01-12 13:38] mindreeper2420 commented on #1579
That card is built directly into the home dashboard and the icon is controlled by an `*ngIf` statement. If the desire is to always have the "+" icon in the title bar, that is just an adjustment to the statement.

[2018-01-12 13:39] ldimaggi commented on #1873
Yes - just create a new quickstart.

[2018-01-12 13:39] ldimaggi commented on #1873
Haven't we seen this problem in the past too?

[2018-01-12 13:41] mindreeper2420 commented on #1571
@joshuawilson yes, there are forced overrides in Planner that are affecting Platform. They will need to be fixed for issues such as this to be resolved.

[2018-01-12 13:41] eivantsov commented on #1873
@ldimaggi yes we have. I think the wrong stack is being pulled

[2018-01-12 13:48] rhopp commented on #1873
It seems like java-centos stack is being used instead of vert.x
[code]

[2018-01-12 14:22] ldimaggi opened #1874 "Intermittent issue - Analytic report is not always generated by a successful pipeline build"
Seeing this intermittently over the past couple of days. Steps to recreate:
* Create a new quickstart
* After the successful completion of the build pipeline, sometimes, the analytic report is not generated:

![screenshot from 2018-01-12 09-00-20](https://user-images.githubusercontent.com/642621/34879056-fefcbcce-f779-11e7-8264-de30d663bf34.png)
![screenshot from 2018-01-12 09-00-00](https://user-

[2018-01-12 14:24] c-koehler commented on #1480
@joshuawilson I can make this into a PR. I'm not sure if you found anything from digging around, if not I can make a PR with the fix if that's okay with you.

[2018-01-12 14:27] ldimaggi commented on #1725
No longer seeing this - closing.

[2018-01-12 14:27] #1725 closed

[2018-01-12 14:32] dlabrecq commented on #1556
Are there any errors in the browser console?

[2018-01-12 14:42] catrobson commented on #1579
Created a UXD issue to fix this here:  https://github.com/fabric8-ui/fabric8-ux/issues/809

[2018-01-12 14:47] dlabrecq commented on #1868
This seems to happen with any query param. I see errors in the browser console and suspect this error prevents the header from rendering properly.

"GET https://api.openshift.io/api/spaces/3eeaa158-a68c-4ff3-9b0d-23ee3368d8b3 404 (Not Found)"
"Failed to retrieve list of spaces owned by user"

[2018-01-12 15:01] ldimaggi commented on #1874
It should look like this:

![screenshot from 2018-01-12 10-01-03](https://user-images.githubusercontent.com/642621/34880790-8c5ae622-f77f-11e7-8358-3f8cd205fad7.png)

[2018-01-12 15:05] ldimaggi commented on #1611
I think we need to fix this first - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/846

[2018-01-12 15:16] ibuziuk commented on #1873
@joshuawilson @corinnekrych could you please check if it is not a regression of https://github.com/openshiftio/openshift.io/issues/1137

[2018-01-12 15:32] mindreeper2420 commented on #1579
@qodfathr @catrobson I've updated the code (PR filed https://github.com/fabric8-ui/fabric8-ui/pull/2386) to include the "+" icon at all times in the Card Header.
<img width="464" alt="screen shot 2018-01-12 at 10 26 26 am" src="https://user-images.githubusercontent.com/4032718/34882156-a2d73b04-f783-11e7-855f-0144bee6cc61.png">
<img width="464" alt="screen shot 2018-01-12 at 10 28 07 am" src="http

[2018-01-12 15:34] GeorgeActon commented on #1874
@sivaavkd please assess

[2018-01-12 15:40] mindreeper2420 opened #1875 "Header has red border"
After that latest updates, the Header now has a red border around it. There should only be a 3px border on the top of the header, per UX designs.

<img width="1430" alt="screen shot 2018-01-12 at 10 40 23 am" src="https://user-images.githubusercontent.com/4032718/34882584-05fcf100-f785-11e7-904e-1b1e25c25653.png">

[2018-01-12 15:41] mindreeper2420 opened #1876 "Home Dashboard has horizontal scrollbar"
After the latest update, the Home Dashboard now has a horizontal border. Other dashboards (Analyze, etc.) do not have horizontal scroll bars.

<img width="1440" alt="screen shot 2018-01-12 at 10 41 00 am" src="https://user-images.githubusercontent.com/4032718/34882634-31aa6efe-f785-11e7-8e8b-aababc6bbb54.png">

[2018-01-12 15:44] mindreeper2420 opened #1877 "Link Photo text flows outside of the button"
After the latest update, the Link Photo text in the Profile Photo row of the User Profile flows outside of the button for linking the users photo.

<img width="614" alt="screen shot 2018-01-12 at 10 42 26 am" src="https://user-images.githubusercontent.com/4032718/34882771-987e56fe-f785-11e7-86ed-2ca81e1b88c4.png">

[2018-01-12 16:13] joshuawilson commented on #1579
Do we want to do this consistently?

[2018-01-12 16:18] mindreeper2420 commented on #1579
@joshuawilson I'm going through the other cards with the "+" options and making sure that they are always present, no matter the state. That will keep it consistent across all cards/dashboards and documentation.

[2018-01-12 16:19] joshuawilson commented on #1873
@ibuziuk I'm not sure if it is a regression or just the same error introduced again. Isn't it a Che issue though, or do you think this is set in the wizard?

[2018-01-12 16:20] joshuawilson commented on #1579
ok, thanks

[2018-01-12 16:32] joshuawilson commented on #1873
@gastaldi looks like this is for you.

[2018-01-12 16:33] jpopelka commented on #1330
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/446

[2018-01-12 16:59] qodfathr commented on #40
Verified as fixed.

[2018-01-12 16:59] #40 closed

[2018-01-12 17:04] qodfathr commented on #127
@joshuawilson this looks like a dup of closed #1366. Can we close? (I vote to close.)

[2018-01-12 17:04] jiekang opened #1878 "Show 1 minute increments of last 15 minutes in Deployments page sparkline charts"
The deployments page sparkline charts show the same data as those in the Openshift Web Console. The Openshift Web Console charts show the last 15 minutes of data with 1 data point per minute for a maximum of 15 data points per chart. This should be followed by the deployments page charts. This will also help constrain the memory usage of the page as there can be significantly more charts than the

[2018-01-12 17:08] #127 closed

[2018-01-12 17:11] qodfathr commented on #132
@catrobson Is this something for which UXD has a plan? Or is this one of the open issues around Space deletion?

[2018-01-12 17:23] qodfathr commented on #197
All of this UI has undergone substantial change since June, and associated fabric8-ui issue has been closed. Closing.

[2018-01-12 17:23] #197 closed

[2018-01-12 17:24] qodfathr commented on #198
Associated issue has been closed. Closing.

[2018-01-12 17:24] #198 closed

[2018-01-12 17:26] qodfathr commented on #230
App Wizard is more explicit about what is happening. Closing.

[2018-01-12 17:26] #230 closed

[2018-01-12 17:52] joshuawilson commented on #168
@qodfathr I think we need a new epic to define what it will be.

[2018-01-12 17:55] qodfathr commented on #252
Closing, as the inability to remove the various tenant projects created in OSO is behavior by design.

[2018-01-12 17:55] #252 closed

[2018-01-12 18:12] alexeykazakov commented on #1868
I see this space ID is hardcoded here https://github.com/fabric8-ui/fabric8-ui/blob/0db1b8c07de4bbc667826f2c6c309e1ca243e0d9/src/app/profile/my-spaces/my-spaces-item-actions/my-spaces-item-actions.component.spec.ts#L108
Not sure why and how it affects this usecase.

[2018-01-12 19:05] qodfathr commented on #268
The current implementation is a modal with an 'X' close button, so I'm not sure that "clicking outside the modal should dismiss it" is still valid or not (@sdash-redhat that's something for UXD to determine). However, `ESC` does not close the modal, and it should. That was mentioned earlier in this discussion. Do we want to modify this issue to also be about `ESC`, or should we open a new issue?

[2018-01-12 19:18] qodfathr commented on #270
We will be addressing blocked work items differently; this should not be handled via the Status field. The semantic reasons for this are subtle, but the status is the current 'internal' state of the work item. A work item is never in a blocked state -- that's an external state imposed upon a work item. A work item can be an any internal state *and* externally blocked at the same time. As such, blo

[2018-01-12 19:18] #270 closed

[2018-01-12 19:25] qodfathr commented on #281
Do we want to keep the Epic open? Although I don't disagree with the goals of this epic, I feel that much of these goals are being addressed and/or restated in other epics (both existing and to be existing). Moreover, some of these have been addressed yet not tracked here.

@michaelvirgil @joshuawilson thoughts on closing?

[2018-01-12 19:27] qodfathr commented on #282
@joshuawilson @ldimaggi  has anyone verified that, today, OSIO prohibits access to private GitHub repos?

[2018-01-12 19:30] qodfathr commented on #283
I am adding myself as an assignee. The spirit of this Epic is correct, but we need to reword based upon current plans and create child issues. This reworking will likely occur during I train planning.

[2018-01-12 19:55] qodfathr commented on #284
I feel this Epic has been captured by several other Epics (some which are planned but still need to be authored). Thoughts on closing this one in favor of several others?

[2018-01-12 19:58] qodfathr commented on #285
This Epic is concerning email notifications, but I'd suggest the more proper epic is concerning notifications in general, of which email is just one kind (and therefore a child). UXD has been working on notification designs. Should we simply reword this Epic to capture the broader notification Scenario?

[2018-01-12 20:28] qodfathr commented on #286
@catrobson & @joshuawilson how should we handle this? We've revised the registration and login process since this issue was created, and we have designs for even more enhancements.

I'm not sure the acceptance criteria, as defined in this issue, accurately matches the designs. Do we want to create a new epic (or maybe one already exists) for the overall registration and login process (or maybe it'

[2018-01-12 20:34] qodfathr commented on #445
Closing, as Application screen is going away in favor of revised Deployments screen.

[2018-01-12 20:34] #445 closed

[2018-01-12 20:35] qodfathr commented on #773
Given the new design for Deployments, would you be willing to close this @cctrieloff ?

[2018-01-12 20:37] qodfathr commented on #776
The Applications screen has been replaced by the Deployments screen. The design for the Deployments screen addresses this capability.

[2018-01-12 20:37] #776 closed

[2018-01-12 20:41] qodfathr commented on #287
I recommend removing #874 as a child, as that issue really needs to be captured under a larger epic regarding Quota and, as such, shouldn't block successful completion of the revised Deployments screen.

[2018-01-12 20:43] qodfathr commented on #899
@joshuawilson I see that https://github.com/fabric8-ui/fabric8-ui/issues/1508 is closed. Can this be closed?

[2018-01-12 20:49] qodfathr commented on #900
I'm not sure what this is proposing.

The first sentence says talks about deleting "the associated resources from the .. environments." What is meant by associated? The deployments, deployment configs, etc.  etc.?

The second sentence seems to limit it to just the pipeline resources. But are their any pipeline resources in the State/Run environments?

Also, I believe the pipeline delete functional

[2018-01-12 20:50] qodfathr commented on #491
Fixed.

[2018-01-12 20:50] #491 closed

[2018-01-12 20:52] qodfathr commented on #492
This screen is going away.

[2018-01-12 20:52] #492 closed

[2018-01-12 20:55] qodfathr commented on #1561
@hferentschik based upon new designs in #287, may we close?

[2018-01-12 20:58] dgutride commented on #1868
@alexeykazakov - that's just a unit test, this is related to the hardcoded _home in several components.  Must be a new use-case to add something to that url as this hasn't changed in a while on the front end.

[2018-01-12 21:01] qodfathr commented on #289
We have new epics and stories coming for a complete permissions model which supersedes this.

[2018-01-12 21:01] #289 closed

[2018-01-12 21:04] qodfathr commented on #292
Anyone one to comment on the state of this (including @ALRubinger )? Has this been addressed yet or is it still an open issue?

[2018-01-12 21:08] qodfathr commented on #296
We don't have a status widgets for Planner or Platform, but we do have relevant status widgets, so I feel this is safe to close. As we continue to componentize the major features of OSIO, it likely makes sense for each to be able to dynamically augment the status widget as part of the extension APIs.

[2018-01-12 21:08] #296 closed

[2018-01-12 21:14] #307 closed

[2018-01-12 21:18] qodfathr commented on #325
@michaelkleinhenz I believe the spirit of what this issue was trying to accomplish has been met with the revised Planner (including capabilities on the backlog for the Planner). Does it make sense to close this particular GitHub issue?

[2018-01-12 21:18] dgutride commented on #1868
Fixed by https://github.com/fabric8-ui/fabric8-ui/pull/2389 @alexeykazakov @joshuawilson

[2018-01-12 21:20] joshuawilson commented on #1561
The new design can be seen at https://openshift.io/josh-6/flew/create/deployments
There is a menu option on the card that links to OSO.
Closing as it is has been redesigned. Please comment on #287 if disagree or want something different.

[2018-01-12 21:20] #1561 closed

[2018-01-12 21:22] qodfathr commented on #328
@michaelkleinhenz @sdash-redhat is this now being tracked in the Planner? Or are we still using this GitHub issue?

[2018-01-12 21:24] qodfathr commented on #333
In #285, I've proposed the need for a new epic that covers Notifications broadly. If that is accepted, this will likely get revised to be some form of child of the new epic.

[2018-01-12 21:32] qodfathr commented on #341
@alexeykazakov given the recent new capabilities, is the issue complete?

[2018-01-12 21:34] qodfathr commented on #344
I believe #354 covers this, although #354 needs to be flushed out with more text so as to replace the PDD (which I will do).

[2018-01-12 21:34] #344 closed

[2018-01-12 21:39] qodfathr commented on #346
This should be rewritten to match the current set of UXD designs, with links to those designs.

[2018-01-12 21:41] #900 closed

[2018-01-12 21:43] joshuawilson commented on #899
It was only closed there to move it here, the work was never done.
However this is for a page that is going away, so I'm going to close it.

[2018-01-12 21:43] #899 closed

[2018-01-12 21:43] qodfathr commented on #347
This needs to be decomposed into several child issues.

[2018-01-12 21:45] qodfathr commented on #349
This has become a large topic area, although the original intent was to get a status widget (as far as I can gather), and that has been accomplished. We have other design work on a status page, which should be managed though a different set of issues. I vote to close this issue as done.

[2018-01-12 21:48] qodfathr commented on #168
@joshuawilson agreed. That's on me.

[2018-01-12 21:55] qodfathr opened #1879 "Fundamental: Browsers Supported by OpenShift.io"
details coming; this is mainly a placeholder parent for some other issues.

[2018-01-12 21:59] ldimaggi opened #1880 "wfswarm-circuit-breaker booster fails to build after import into OSIO"
This is a placeholder for running the RHOAR booster programs after importing into OSIO.

wfswarm-circuit-breaker fails with this build error:

[code]

[2018-01-12 22:10] gastaldi commented on #1880
@heiko-braun @kenfinnigan any clues?

[2018-01-12 22:12] alexeykazakov commented on #341
Oh yes, this is done.

[2018-01-12 22:12] #341 closed

[2018-01-12 22:15] alexeykazakov commented on #1565
The question is answered. @nimishamukherjee if we see any problems with login please give some details and open an issue. Closing this one.

[2018-01-12 22:15] #1565 closed

[2018-01-12 22:20] alexeykazakov commented on #1334
All the questions here were answered I hope. I'm closing this issue.

[2018-01-12 22:20] #1334 closed

[2018-01-12 23:51] alexeykazakov commented on #946
This should be fixed. Please re-open if still can reproduce.

[2018-01-12 23:51] #946 closed

[2018-01-12 23:56] alexeykazakov commented on #737
Removed team/auth because it's actually matter of using redirect_url param properly in UI when login user.

[2018-01-12 23:57] alexeykazakov commented on #469
It's fixed.

[2018-01-12 23:57] #469 closed

[2018-01-12 23:58] alexeykazakov commented on #469
To be clear. It's not possible to have both OSIO and OSO accounts using the same RHD account.

[2018-01-13 00:01] alexeykazakov commented on #654
It's now possible to re-connect GitHub account in the user profile page. Autodetection of invalid tokens is covered in https://github.com/openshiftio/openshift.io/issues/869 and https://github.com/fabric8-services/fabric8-auth/issues/38
Closing.

[2018-01-13 00:01] #654 closed

[2018-01-13 00:03] alexeykazakov commented on #371
I guess the issue actually is about supporting using the same GH account in multiple OSIO account. This is done. Closiing.

[2018-01-13 00:03] #371 closed

[2018-01-13 00:07] alexeykazakov commented on #412
This issue is too broad. I'm going to close it. We need to discuss some concrete features/tools instead.

[2018-01-13 00:07] #412 closed

[2018-01-13 00:34] catrobson commented on #132
Yes, this is one of the open issues around space deletion.

[2018-01-13 02:23] kenfinnigan commented on #1880
Nothing I've seen before

[2018-01-13 04:25] joshuawilson commented on #910
Where is it hosted at that it is not in prod yet?

[2018-01-13 04:30] joshuawilson commented on #1879
@qodfathr we have this https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers

Are you looking for something else?

[2018-01-13 04:37] joshuawilson commented on #286
I'm not sure. I know the main idea is still an issue. People don't like grant us access to everything they have in github.

[2018-01-13 04:37] alexeykazakov commented on #910
@joshuawilson it's openshiftio app. It was merged pretty long time ago https://github.com/openshiftio/openshift.io/pull/1701 and https://github.com/openshiftio/openshift.io/commit/95b1972ba19c15722ad6921a299ee4143aaf5d49 and it's available in preview https://prod-preview.openshift.io/not-authorized.html
But it's still not deployed to prod. So it's not available in https://openshift.io/not-authoriz

[2018-01-13 04:40] joshuawilson commented on #910
merged the PR, closing this.

[2018-01-13 04:40] #910 closed

[2018-01-13 04:40] joshuawilson commented on #910
thanks

[2018-01-13 04:42] joshuawilson commented on #285
If it is a major rewrite then you could just make a new one and reference this one and close it. If it is just adding a bit then do it here.

[2018-01-13 04:43] joshuawilson commented on #284
If you can point to the others that cover it then we can close this.

[2018-01-13 04:44] joshuawilson commented on #282
I don't know that this has been proven yet. Do you have a private one to try?

[2018-01-13 04:46] joshuawilson commented on #281
This is on me. I need to update it. There are several things here that I still want to get done, so let's keep it open.

[2018-01-13 04:57] #1868 closed

[2018-01-13 12:51] liangxia opened #1881 "Wrong email validation on profile page"
On profile page, invalid email, e.g, @, a@, can pass email validation.

![screenshot from 2018-01-13 20-13-33](https://user-images.githubusercontent.com/4716987/34906205-76d0e66a-f8a3-11e7-8f39-aef402aa7203.png)

[2018-01-13 14:14] rkratky commented on #1879
Based on the outcome of http://post-office.corp.redhat.com/archives/devtools-leads/2017-November/msg00201.html, shouldn't we update the wiki not to mention incognito/guest mode?

[2018-01-14 03:06] joshuawilson commented on #630
We do not have a `clean tenant`. `Reset Environment` will delete everything. I just added 70 new spaces and they were all removed with reset env.

Closing as this appears fixed.

[2018-01-14 03:06] #630 closed

[2018-01-14 03:11] joshuawilson commented on #631
@dlabrecq please keep this in mind for the new design

[2018-01-14 03:11] liangxia opened #1882 "Wrong count of characters on profile bio."
Trying to update bio on profile page, it always show "245 characters remaining" until you begin to input chars.
![screenshot from 2018-01-14 10-48-22](https://user-images.githubusercontent.com/4716987/34912325-b124add0-f919-11e7-96c0-a910708bba4f.png)
![screenshot from 2018-01-14 10-51-27](https://user-images.githubusercontent.com/4716987/34912326-b155a89a-f919-11e7-9f3f-9763171eb5af.png)

[2018-01-14 08:04] dlabrecq commented on #631
Yes, the view all spaces page does use an infinite scroll and believe it fetches 40 spaces initially. You need to scroll for it to fetch more.

I cannot tell from the video (didn't see the original spaces), but are you absolutely certain the same spaces show up again? Perhaps you had more spaces than you deleted?

When I deleted the 40 spaces shown in my page, they remained deleted. However, there

[2018-01-14 14:24] krishnapaparaju commented on #1792
As part of understanding codebase, I have done a small experiment which converts a Java application code base into AST with https://github.com/antlr/antlr4. 'Antlr' does support rich grammars for other well known languages. Please see the attached screen shot capturing AST for the Java application I have tried. Once ASTs are in place, next step can be to figure out 'important functions' at a code

[2018-01-14 16:23] GeetikaBatra commented on #1692
This is covered by https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/pull/110

[2018-01-15 02:00] joshuawilson commented on #631
That was my concern as well. I believe we will likely use the same logic and APIs with the new design. That would mean this issue will persist in the new design too.

[2018-01-15 02:05] joshuawilson commented on #1603
@dlabrecq @catrobson @dgutride what are the plans for the `View all spaces` page? The new `My Spaces` page supports delete. This page is still active and this is still an issue on that page.

[2018-01-15 09:39] #1682 closed

[2018-01-15 11:27] msrb opened #1883 "Use API token for fetching lib io data"
# Description

We want to start using API token for fetching lib io data. @msrb has the token, ping him :)

[2018-01-15 11:43] maxandersen commented on #1792
@krishnapaparaju how are these generated tests supposed to be better than no tests ?

[2018-01-15 12:09] liangxia opened #1884 "After clear filters on my spaces page, the spaces no long sort alphanumeritically"
1. Go to my spaces page, sort spaces.
2. Type something to search spaces.
![screenshot from 2018-01-15 19-47-22](https://user-images.githubusercontent.com/4716987/34941690-c7e76384-fa2f-11e7-895f-839e7724dec8.png)

3. Clear the filter, and check the spaces again.  The spaces no long sort in order.
![screenshot from 2018-01-15 19-47-58](https://user-images.githubusercontent.com/4716987/34941694-cd1

[2018-01-15 12:15] liangxia opened #1885 "Duplicate scroll bars on profile page."
Create several spaces, some of them with long names. Check profile page.
![screenshot from 2018-01-15 20-12-07](https://user-images.githubusercontent.com/4716987/34941962-d3c01d1c-fa30-11e7-9376-9686e67822f8.png)

[2018-01-15 12:18] liangxia opened #1886 "Overlap on profile page when there are space with long names"
![screenshot from 2018-01-15 20-17-08](https://user-images.githubusercontent.com/4716987/34942084-408cfd0c-fa31-11e7-956c-d1069ae52ce7.png)

[2018-01-15 12:25] rgarg1 opened #1887 "Closing the green experimental bar by selecting 'Got it' results in the display of a weird looking gray colour bar on the right side"
Closing the green experimental bar by selecting Got it, results in the display of a weird looking gray colour bar on the right side of the Planner.

![experimental accept issue](https://user-images.githubusercontent.com/28748448/34942289-21f5c914-fa1d-11e7-845c-552bcf7722ff.png)

[2018-01-15 14:03] jiekang commented on #1865
For the record I've talked with Michael about this and we've agreed on a plan moving forward. Hope to see UI mock ups to code against soon; in the mean time I'll be writing some prototype implementations.

[2018-01-15 14:11] gastaldi commented on #1880
This looks like a bug in the fabric8-maven-plugin. Who is in charge of this plugin that could have a look at this error?

[2018-01-15 14:55] GeorgeActon commented on #1404
@tuxdna if this is complete please close it.

[2018-01-15 15:19] catrobson commented on #1603
We haven't submitted a PR for the new my spaces page as far as I know.  When we do we should remove the existing view all spaces page and close this issue.

[2018-01-15 15:24] catrobson commented on #286
Let's update this existing issue with the new criteria together this week rather than create a different issue around this.

[2018-01-15 16:35] dlabrecq commented on #1603
Yes, the my spaces page has been merged -- worked with Brian on that one. The view all spaces page still allows the user to search all spaces on the system -- there is no other way to do that.

[2018-01-15 18:38] chrislessard commented on #1885
I dealt with something similar with our infinite scroll module in the "view all spaces" section, so I'll take a look. I suspect it might just be an issue with how divs are being used.

[2018-01-15 18:55] jiekang opened #1888 "Check CSS scope for Deployments page"
Angular 4 encapsulates views to their component s.t. a parent component's css does not affect child component's.

The Deployments page components should be checked for css that doesn't apply because of this. Whenever possible, the css should be moved to the component it applies to. If this isn't possible (e.g. donut charts have css applying to c3js classes), the component should use ViewEncapsulat

[2018-01-15 19:36] qodfathr commented on #574
@ldimaggi @joshuawilson can anyone confirm that the latest available Firefox for RHEL (I assume installed from SCL) does, in fact, work with OSIO?

[2018-01-15 19:38] qodfathr commented on #927
See also #574

[2018-01-15 19:47] qodfathr commented on #862
This is still happening. Moreover, if you do not refresh, if you go to edit your profile again, the profiler editor shows the old email address, not the new one. So it looks like nothing happened when you did the first update.

[2018-01-15 19:47] qodfathr commented on #1881
Never mind, @liangxia . I was hitting issue #862

[2018-01-15 19:58] chrislessard commented on #1885
A PR w/ a fix has just been opened here : https://github.com/fabric8-ui/fabric8-ui/pull/2391

[2018-01-15 20:32] chrislessard commented on #1884
A fix has been opened here https://github.com/fabric8-ui/fabric8-ui/pull/2392

[2018-01-15 20:39] chrislessard commented on #1659
Can we close this ?

[2018-01-15 20:58] jiekang commented on #1884
This issue likely occurs in most of the toolbar-like components that have the ability to filter and sort. The fix proposed should be able to apply to all of them.

[2018-01-15 21:30] qodfathr commented on #1886
This is part of a larger issue that resizing the browser down past certain widths causes various layout problems in OSIO. For example, on this page, if you make it even smaller, eventually (depending upon the size of the source image), your profile image can appear massive.

Related to #1443 ; there needs to be a Responsive UI epic.

[2018-01-15 21:33] qodfathr commented on #1887
The new feature flag capabilities and UI will probably render this issue obsolete because this functionality will be replaced with new functionality.

[2018-01-15 21:44] jiekang opened #1889 "Check stability of Deployments page content"
The Deployments page relies on API requests to display content. It should be robust against API downtime. At the very least, if API's return with errors like 404, 503, etc., the page should not crash the web application. At best, it should display sensible information that explains to the user what occurred, without them having to view, for example, the network tab in Chrome's Developer Console.

[2018-01-15 21:45] jiekang commented on #1889
A good way to test the current iteration is to modify the local mock API to return errors instead of successes and see what happens.

[2018-01-15 21:48] qodfathr commented on #350
We need a higher level scenario. I will create.

[2018-01-15 21:49] qodfathr commented on #351
We need a higher level scenario. I will create.

[2018-01-15 21:49] qodfathr commented on #352
We need a higher level scenario. I will create.

[2018-01-15 22:28] qodfathr commented on #356
Closing as it looks like this has been addressed. Reopen if needed.

[2018-01-15 22:28] #356 closed

[2018-01-15 22:31] qodfathr commented on #358
It looks like #1165 is really capturing all of the use cases, so this can be considered to be a dupe. Reopen if needed.

[2018-01-15 22:31] #358 closed

[2018-01-15 22:33] qodfathr commented on #359
Fixed.

[2018-01-15 22:33] #359 closed

[2018-01-15 22:35] qodfathr commented on #372
@ldimaggi is this issue still valid?

[2018-01-15 22:37] qodfathr commented on #375
@ldimaggi it looks like all of the associated issues have been closed. May this be closed?

[2018-01-15 22:39] qodfathr commented on #385
@ldimaggi another old one. Did this get done, or, if not, is it still worth doing?

[2018-01-15 22:42] qodfathr commented on #387
I think we've got a broader problem that touches this and some other product areas. It appears that we are maintaining some these "recent" lists in the browser cache/local storage. If I change browsers, or machines, or got incognito, etc., this information is lost or inconsistent. It would be better if "recent" lists were determined via a platform API call, such that the results are always consist

[2018-01-16 01:14] mindreeper2420 commented on #1887
@SMahil There is a class in `_planner-layout.less`, that I believe is part of the issue. `.f8-wi-container>main` has the property `overflow: hidden`. When this is removed, the Planner UI fills up the full width of the UI. I would start there, and then look at all of the absolute and fixed positioning. Those are also causing issues.

@qodfathr The HTML/CSS for the Feature Flag work uses the same co

[2018-01-16 01:42] ldimaggi commented on #385
We should keep this one open - I started looking at doing this for the RHOAR boosters, we should do the same for the OSIO quickstarts.

[2018-01-16 01:42] ldimaggi commented on #375
Closing - this issue is no longer being seen.

[2018-01-16 01:42] #375 closed

[2018-01-16 01:43] ldimaggi commented on #372
Closing - this error is no longer being seen.

[2018-01-16 01:43] #372 closed

[2018-01-16 01:58] ldimaggi commented on #574
It looks OK with Firefox 52.3.0

[2018-01-16 03:30] RanjithRV commented on #869
@alexeykazakov curious regarding why we marked this issue as not a bug. This is not expected behaviour is it?

[2018-01-16 03:44] RanjithRV commented on #1130
Closing this ticket as this information is no longer needed due to active triaging of issues and active monitoring via Zabbix, Kibana and PCP.

[2018-01-16 03:44] #1130 closed

[2018-01-16 06:00] abs51295 commented on #1803
The first part for NPM data collection is done with help from @miteshvp . Data is now available in s3.

[2018-01-16 06:14] alexeykazakov commented on #869
In this case the reset env failed because the OSO token was invalid. It’s expected behavior to fail in such case. It’s rather a missing feature to auto detect invalid OSO tokens.

[2018-01-16 09:34] #1263 closed

[2018-01-16 09:46] Katka92 opened #1890 "Wrong icon position of popup"
Speaking about the popups showed in openshift.io in right top corner - the text is covered by icon. This popups are appearing after creating a workspace, copying token, creating space. I've tried it in Chrome Version 63.0.3239.132 (Official Build) (64-bit) and in incognito mode too.

![screenshot from 2018-01-16 10-37-46_2](https://user-images.githubusercontent.com/29278800/34982315-5d24cad4-faaa-

[2018-01-16 10:45] tuxdna commented on #1085
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/495
- [ ] https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/69

[2018-01-16 11:04] pkajaba opened #1891 "SPIKE: Compare nvd.nist.gov data with Snyk.io for NPM ecosystem"
# Description

nvd.nist.gov provides CVE data for various software components. However, it often provides data which are not complete eg. missing ecosystem, version range, the correct name of the package. On the other hand, Snyk.io enhances these data and adds some extra entries into their database.

# Acceptance criteria
- [ ] Sum up the current status of nvd.nist.gov for NPM ecosystem.

[2018-01-16 11:20] pkajaba commented on #1891
From comparing snyk.io and NVD data I have stumbled upon two categories of vulnerability issues [1].

**1. CVEs which can be directly linked to NVD database by CVE's id.**

These entries can be easily traced to NVD data streams. However, Snyk.io is able to categorize these CVEs into a correct ecosystem and assign version ranges. Note that these data can be found even in NVD, but they are provided

[2018-01-16 11:37] pkajaba commented on #1891
I was able to dig deeper into community behind and I found this repository [1]. It contains an extensive database of well-structured CVEs, but I can't tell how well it's updated.
[1] https://github.com/nodejs/security-wg

[2018-01-16 12:20] maxandersen opened #1892 "person updated in the from/author field for notifications"
It would be really great if notification emails would put the realname/author in the from field rather than just "openshift.io".

Compare openshift.io:
![2018-01-16_13-19-03](https://user-images.githubusercontent.com/54129/34988697-d6e8b316-fabf-11e7-9082-416933ef3e13.png)

with similar from github:

![2018-01-16_13-19-27](https://user-images.githubusercontent.com/54129/34988720-f23c26a2-fabf-11e7

[2018-01-16 12:48] kbsingh commented on #1533
@vpavlin @jfchevrette can we get confirmation and close this issue ?

[2018-01-16 15:10] ibuziuk commented on #1666
Closing. Fix for prod cluster is applied / bugzilla[1] for starter-us-east-2 is has "verified" status
Controllers restart is not required anymore

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1526165

[2018-01-16 15:10] #1666 closed

[2018-01-16 15:17] qodfathr commented on #388
@slemeur @joshuawilson since #1549 is closed, can we close this? Or is #1016 blocking this? (I don't think it is but want to confirm with you.)

[2018-01-16 15:19] qodfathr commented on #390
Working.

[2018-01-16 15:19] #390 closed

[2018-01-16 15:32] qodfathr commented on #394
Vert.x CRUD is no longer an approved OSIO quickstart and has been removed from the catalog. Also, #1667 is closed.

[2018-01-16 15:32] #394 closed

[2018-01-16 15:37] qodfathr commented on #395
I suspect this quickstart will not be OSIO compatible without significant work. How do we get it removed from the catalog, like we did with the Vert.x CRUD?

[2018-01-16 15:39] qodfathr commented on #396
Wildfly has been removed from the quickstart catalog.

[2018-01-16 15:39] #396 closed

[2018-01-16 15:40] qodfathr commented on #397
Wildfly has been removed from the quickstart catalog.

[2018-01-16 15:40] #397 closed

[2018-01-16 15:40] qodfathr commented on #398
Wildfly has been removed from the quickstart catalog.

[2018-01-16 15:40] #398 closed

[2018-01-16 15:40] qodfathr commented on #401
Wildfly has been removed from the quickstart catalog.

[2018-01-16 15:40] #401 closed

[2018-01-16 15:43] qodfathr commented on #402
cc: @slemeur

[2018-01-16 15:45] qodfathr commented on #403
cc: @slemeur

[2018-01-16 15:46] qodfathr commented on #404
cc: @slemeur

[2018-01-16 15:47] qodfathr commented on #406
cc: @slemeur

[2018-01-16 15:48] qodfathr commented on #408
cc: @slemeur

[2018-01-16 15:50] qodfathr commented on #411
This is a fairly open-ended RFE, so it's going to be very hard to close. I propose that we author a new top-level Fundamental with some specific Experiences, and then close this Issue referencing that new Scenario.

[2018-01-16 15:52] qodfathr commented on #413
The preferred solution is to not have users manage their tenants; tenant updating should be automatic and we want to remove the update tenant button.

[2018-01-16 15:52] #413 closed

[2018-01-16 16:15] jfchevrette commented on #1533
Not able to reproduce anymore. Closing.

[2018-01-16 16:15] #1533 closed

[2018-01-16 19:28] jiekang commented on #1346
Closing as the fix has been merged.

[2018-01-16 19:28] #1346 closed

[2018-01-16 19:31] jiekang commented on #1659
After thought, I'm closing this issue as done. I'll open an appropriate issue for the next step.

[2018-01-16 19:31] #1659 closed

[2018-01-16 19:33] jiekang commented on #1622
Closing as a service is available now.

[2018-01-16 19:33] #1622 closed

[2018-01-16 19:33] jiekang commented on #1661
Closing as a service is available now.

[2018-01-16 19:33] #1661 closed

[2018-01-16 19:33] jiekang commented on #1660
A service is available now.

[2018-01-16 19:33] #1660 closed

[2018-01-16 19:34] jiekang commented on #1655
Reopening as there are portions that this issue tracks that are still not complete, for example API to provide URLs  for logs, openshift console and application.

[2018-01-16 19:37] jiekang opened #1893 "Tweak chart height of Deployments card charts"
The chart height of the Deployments card charts should be reduced to more closely follow the UX design [1].

Adding this to make sure the task isn't forgotten.

[1] https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/260764293

[2018-01-16 20:10] joshuawilson commented on #395
cc @gastaldi

[2018-01-16 20:13] joshuawilson commented on #388
@ibuziuk what is the status on this? Do you still need the API or something else?

[2018-01-16 20:14] gastaldi commented on #395
+1, I'll remove it

[2018-01-16 20:26] joshuawilson commented on #574
this is fixed, closing

[2018-01-16 20:26] #574 closed

[2018-01-16 20:28] joshuawilson commented on #387
The solution is to fix our caching issues, get control of refreshing, and push updates where needed. These are all things we are working on to one degree or another.

[2018-01-16 20:42] joshuawilson commented on #927
Is anyone still using Firefox 45? From the beginning we said we would support current -2. The latest I have is FF 57.
@qodfathr do we have a requirement to support older versions of browser? If not, can we close this?

[2018-01-16 20:54] ldimaggi commented on #395
The quickstart builds - but when it is deployed to stage, the stage pod fails to start and repeatedly fails with this error:

[code]

[2018-01-16 20:55] ldimaggi commented on #395
[testtodd2-1-dprgd.log](https://github.com/openshiftio/openshift.io/files/1636764/testtodd2-1-dprgd.log)

[2018-01-16 20:58] ldimaggi opened #1894 "Seeing this randomly today - stage icon is sometimes deleted from the UI display"
Nothing in the logs - notice how the icon is not present on the first pipeline.

![screenshot 2](https://user-images.githubusercontent.com/642621/35011953-fe5844a0-fad5-11e7-86e4-c9526b6e6af0.png)

[2018-01-16 21:04] gastaldi commented on #395
@ldimaggi that´s most likely because the cluster requires more resources to boot (CPU, Memory, Disk, etc)

[2018-01-16 21:05] #395 closed

[2018-01-16 21:10] jiekang commented on #1655
A list of endpoints from the first iteration of API:

    /apps/environments/{envName}
    /apps/environments/{envName}/applications/{appName}/pods
    /apps/spaces/{spaceID}
    /apps/spaces/{spaceID}/environments
    /apps/spaces/{spaceID}/applications/{appName}
    /apps/spaces/{spaceID}/applications/{appName}/deployments/{deployName}
    /apps/spaces/{spaceID}/applications/{appName}/deployment

[2018-01-16 22:29] joshuawilson commented on #1085
I removed `user-story` as it had 2 `type` labels. It reads more like a `feature`.  It's up to you if you want to change it, but it should have only one `type`.

[2018-01-16 22:31] joshuawilson commented on #1890
duplicates #1854

[2018-01-16 22:31] #1890 closed

[2018-01-16 22:39] joshuawilson commented on #1886
cc @mindreeper2420

[2018-01-16 22:49] joshuawilson commented on #1888
We need to discuss this with @mindreeper2420 @dlabrecq and @dgutride as the use of ViewEncapsultation has been an on going topic.

[2018-01-16 22:51] joshuawilson commented on #1880
Looks like @jstrachan worked on it initially but I don't recognize any of the other major contributors.

[2018-01-16 23:03] alexeykazakov commented on #292
We (OSIO Auth) would need some input from the launcher team. It’s not clear to me what launcher needs from OSIO in terms of Auth.

[2018-01-16 23:24] aslakknutsen commented on #463
@bmicklea Sure, there are already 4 links or so that does that.. :) We could make that a link to the Space dashboard to workaround the issue.

[2018-01-16 23:30] aslakknutsen commented on #1190
Related/Similar https://github.com/openshiftio/openshift.io/issues/1892

[2018-01-17 00:38] ldimaggi opened #1895 "Quickstart/app Deployment errors not accurately reported to users in build pipeline window"
Followup to: https://github.com/openshiftio/openshift.io/issues/395

In this case, the application was deployed, but errors blocked the stage and run pods from starting. The deployments were reported as successful to the user in the OSIO UI.

[2018-01-17 00:57] andrewazores commented on #1787
#2402 is not technically feasible at this time and #2388 has been merged. Closing.

[2018-01-17 00:57] #1787 closed

[2018-01-17 01:06] qodfathr commented on #557
@kbsingh looks like the last question before we can close was directed at you.

[2018-01-17 01:07] qodfathr commented on #610
@krishnapaparaju this looks like it was in support of workshops. Please close if nothing more to be done. Thx.

[2018-01-17 01:16] qodfathr commented on #836
Question on this one: is this asking for a FAQ for *users* of fabric8/OSIO, or is it for *contributors* to fabric8/OSIO?

[2018-01-17 01:19] qodfathr commented on #872
@joshuawilson any idea on who should own this? Ultimately, the docs team, of course, but, as a start, we need someone to get the limits from the OSO team. (Unless we feel they are well understood by now.)

[2018-01-17 01:21] qodfathr commented on #889
With the many changes to Jenkins, I wonder if this is still valid? @ldimaggi, do you have an opinion? We should verify against an account with Jenkins idling enabled.

[2018-01-17 01:23] qodfathr commented on #915
I think this is fixed, but the circular loop of GitHub issue linkages is making me question my memory. @joshuawilson , thoughts?

[2018-01-17 01:25] qodfathr commented on #932
@joshuawilson @alexeykazakov @SMahil anyone want to confirm if this old issue is addressed?

[2018-01-17 01:27] qodfathr commented on #1023
@alexeykazakov @catrobson @joshuawilson is this done?

[2018-01-17 01:42] mindreeper2420 commented on #1888
Dan, Dana and I recently discussed proper specificity and capturing components inside a naming convention that defines the component (something like `f8deployments-`). One of the major reasons View encapsulation is off is due to the need for overwrites and specificity issues.

Happy to have this discussion again, but it would probably best with all parties on a call.

[2018-01-17 01:56] ldimaggi commented on #889
The ability to reset a user's environment made this issue obsolete. Do we want to have users randomly deleting resources in OSO? I'd vote to simply close this issue.

[2018-01-17 01:56] #889 closed

[2018-01-17 02:31] alexeykazakov commented on #932
We do not support changing usernames in OSIO. And I don't think we will be able to support it soon. I'm closing this issue since there is nothing to validate in UI for usernames.

[2018-01-17 02:31] #932 closed

[2018-01-17 02:33] alexeykazakov commented on #1023
@qodfathr almost! :) I have been chasing this issue for quite long time and we are almost there. Hope to close it tomorrow.

[2018-01-17 03:23] joshuawilson commented on #915
@ldimaggi I haven't set up my spaces for this in a while. Have you seen this?

[2018-01-17 03:25] joshuawilson commented on #872
I think we should have someone from SD provide the info to Docs.
cc @rkratky @jfchevrette @vpavlin @pbergene @kbsingh

[2018-01-17 06:07] mishaone commented on #1798
This also happens when a new quickstart project is created:

![issue](https://user-images.githubusercontent.com/926572/35028198-7430ea54-fba0-11e7-91e4-8fb017864a9b.png)

[2018-01-17 06:13] ALRubinger commented on #292
Per Jake Lucky on the OSO team, requesting provisioning on OSIO (us-east-2: Ohio) is no longer considered a "Starter" cluster, and will not prevent provisioning on other Starter clusters.

[2018-01-17 06:55] samuzzal-choudhury opened #1896 "Spring-boot 1.5.8.RELEASE components are missing"
The springboot 1.5.8.RELEASE was found to be missing from the production graph which resulted in empty analyzed_dependencies list for Spring Boot quick start applications on OSIO. Here is one example component -

[code]

CC: @msrb @miteshvp

[2018-01-17 08:07] msrb commented on #1896
I see following in the logs:

[code]
[code]

and:

[code]
[code]

But API still thinks there is no data:
[code]

Looks like Gremlin issue(?) cc @miteshvp

[2018-01-17 09:19] miteshvp commented on #1896
I checked the entry in our graph and it looks perfectly ok there. Maybe, we need to debug `<component-analyses>` endpoint further.
cc @samuzzal-choudhury @msrb

[2018-01-17 09:37] samuzzal-choudhury commented on #1896
@miteshvp the output pasted above is from `/component-search` endpoint.

[2018-01-17 09:38] msrb commented on #1896
@samuzzal-choudhury but shouldn't `/component-analyses` endpoint return the data if they are in graph?

[2018-01-17 09:39] samuzzal-choudhury commented on #1896
@msrb it should and it does :-) if we're not making a mistake. `component-search` was a subsequent verification for the existence of the component in graph.

[2018-01-17 09:41] miteshvp commented on #1896
I guess, the edge from Package Node to Version Node is missing here
I am debugging the data importer further.

[2018-01-17 09:41] samuzzal-choudhury commented on #1896
@miteshvp can you please share the output of your query on Mattermost?

[2018-01-17 09:47] pkajaba commented on #1765
I am already done with removing codebase and CI/CD part. I am waiting until services are scaled down in stage and production. We decided to scale down services instead of removing them. In some rare circumstances we might need it, so it will stay there.

[2018-01-17 10:05] pkajaba commented on #1891
@msrb PTAL when you will have some time :-).

[2018-01-17 10:10] pkajaba opened #1897 "[3] Gradle support in f8a-worker"
# User story
In this user story https://github.com/openshiftio/openshift.io/issues/689, gradle support was implemented into Mercator-go. It means that Mercator is able to process Gradle manifest files*. f8a-core should take Mercator's output and parse necessary information (dependencies, version, package, etc.).

# Acceptance criteria
- f8a-worker is able to parse Mercator's output for gradle ecos

[2018-01-17 11:05] miteshvp commented on #1896
@samuzzal-choudhury - Please check now. I guess this was due to the fact that the latest changes of data-importer were not promoted to prod due to the Christmas holidays. My bad as it completely slipped out of my mind later. Please close this issue if you see the expected output now.

[2018-01-17 11:17] maxandersen commented on #1892
thanks @aslakknutsen didn't realize I already opened one :) closing this as its a duplicate.

[2018-01-17 11:17] #1892 closed

[2018-01-17 12:16] ldimaggi commented on #1895
The UI indicated that the deployment to stage and run were successful - but after the deployment, the deployed pods failed to start:

The quickstart builds - but when it is deployed to stage, the stage pod fails to start and repeatedly fails with this error:

[code]

[2018-01-17 12:17] ldimaggi commented on #1895
See log:  https://github.com/openshiftio/openshift.io/files/1636764/testtodd2-1-dprgd.log

[2018-01-17 12:27] rhopp opened #1898 "Unable to login into openshift.io (affecting prod AND prod-preview)"
After filling credentials at developers.redhat.com, user is redirected to this page:
![image](https://user-images.githubusercontent.com/1215011/35042787-397a06e0-fb8a-11e7-96dd-dd427bbb3e08.png)

[2018-01-17 12:28] aditya-konarde opened #1899 "Unable to log-in. Unexpected error."
![error](https://user-images.githubusercontent.com/6318164/35042803-fe801d42-fbaf-11e7-8c5f-6dfcabd91454.png)

[2018-01-17 12:29] aditya-konarde commented on #1899
Closing as duplicate of #1898

[2018-01-17 12:29] #1899 closed

[2018-01-17 12:33] pbergene commented on #1898
Upstream issue with developer.redhat.com -> reaching out.

[2018-01-17 12:41] pbergene commented on #1898
I can log in now, their status has gone from red -> yellow.

[2018-01-17 12:43] pbergene commented on #1898
Anyone still having issues? If not I'll close.

[2018-01-17 12:45] pbergene commented on #1898
Now status is green, closing.

[2018-01-17 12:45] #1898 closed

[2018-01-17 12:50] catrobson commented on #1678
@joshuawilson do you know if there is a way to route directly into the XML editor in OpenShift?  I think the best we could do is have this route to the Pipelines page in OpenShift, which is the same thing as other links on this page do.

[2018-01-17 12:59] kbsingh commented on #1870
dropping service-delivery from this, please ping me if there is anything we can help with here.

[2018-01-17 13:00] kbsingh commented on #1732
dropping service delivery, let us know if we can help with anything here.

[2018-01-17 13:04] qodfathr commented on #1895
As commented in #395, the CRUD QuickStart is not OSIO compatible today and will be removed. We'll reconsider it post launch. I recommend closing, but if you'd like to wait until the quickstart is no longer available, @ldimaggi , that's okay with me.

[2018-01-17 13:07] ldimaggi commented on #1895
The quickstart was already removed - so #395 can be safely closed.

However - if a similar pod starting issue happens, the user will not be alerted through the build pipeline window.

[2018-01-17 13:09] qodfathr commented on #414
This is pretty old, and I suspect no longer applicable. Plus, this discussion thread here covers a lot of additional topics, but these have generally spawned new epics and user stories. I'm going to close, but if anyone has a problem with that, please feel free to re-open.

[2018-01-17 13:09] #414 closed

[2018-01-17 13:13] chmouel opened #1900 "Getting jenkins deployment and namespace locked for users on OSIO"
Currently users are able to modify Jenkins deployment and namespace and change everything.

It has been requested from the SD team that we would need to have this locked so users would not be able to modify this anymore.

This story would include :

* Investigate and document how the current Jenkins deployment on OSIO, what is the workfow how it get created with which rights.

* What do we need to

[2018-01-17 13:14] chmouel commented on #1900
@sthaha i just have assigned you, hopefully we can talk about it sometime tomorrow at our meeting

[2018-01-17 13:17] gastaldi commented on #1880
Moving to Deploy team, as we believe this is an issue in the Fabric8 maven plugin

[2018-01-17 13:19] rkratky commented on #1862
@rsvoboda Now that docs.openshift.io is live with docs, can this be closed?

[2018-01-17 13:21] rsvoboda commented on #1862
yes, closing.

[2018-01-17 13:21] #1862 closed

[2018-01-17 13:25] ldimaggi opened #1901 "Errors on Centos CI - Blocking Jenkins jobs from running"
Multiple users are seeing this today:
[code]

[2018-01-17 13:27] chmouel opened #1902 "Jenkins moving out from GKE"
We are currently running our own build cluster for an internal project on GKE, we would like to move this to the internal infrastructure.

This story would involve these steps :

* Investigate what do we need to move, what are the namespaces, what are the artifacts and jobs [https://github.com/openshiftio/openshift.io/issues/2246]
* Investigate where we want to move it on which cluster, and what c

[2018-01-17 13:30] qodfathr commented on #422
This is pretty old and I'm pretty sure fixed long ago. Reopen if you are concerned.

[2018-01-17 13:30] #422 closed

[2018-01-17 13:32] qodfathr commented on #431
Closing as dupe of #429.

[2018-01-17 13:32] #431 closed

[2018-01-17 13:33] qodfathr commented on #437
Fixed.

[2018-01-17 13:33] #437 closed

[2018-01-17 13:34] ldimaggi commented on #1901
Issue also emailed to:  ci-users@centos.org

[2018-01-17 13:35] chmouel opened #1903 "Jenkins monitoring"
Monitoring the fabric8 Jenkins instance. The Jenkins master gets rebooted often, perhaps under load. Before we make any assumptions, we need to set up some kind of monitoring for this instance so that we can take an educated call on what needs to be done.

This issue is being worked on here https://github.com/fabric8io/fabric8-build-team/issues/4

[2018-01-17 13:35] aslakknutsen commented on #1446
API Draft/Flow discussed with UI @dgutride

[code]

[2018-01-17 13:37] qodfathr commented on #441
Lots of associated issues have been closed. May this be closed? cc: @maxandersen @joshuawilson @gastaldi @corinnekrych

[2018-01-17 13:39] chmouel commented on #1731
This should probably go along with https://github.com/openshiftio/openshift.io/issues/1903 @jaseemabid i think it may be a good idea to talk about  monitoring on Jenkins to at least have a view how long we have the runs going on,

[2018-01-17 13:40] gastaldi commented on #441
Closing issue. Reopen if the problem persists

[2018-01-17 13:40] #441 closed

[2018-01-17 13:40] qodfathr commented on #448
@catrobson @joshuawilson can you confirm that this has been addressed via new design, implemented, and released to prod?

[2018-01-17 13:50] qodfathr commented on #1894
Closing as dupe of #456.

[2018-01-17 13:50] #1894 closed

[2018-01-17 13:52] qodfathr commented on #1589
I believe this is fixed. @kwk @ldimaggi @joshuawilson anyone want to confirm & close?

[2018-01-17 13:54] qodfathr commented on #457
This is an old issue and seems to be fixed. Please reopen if you disagree.

[2018-01-17 13:54] #457 closed

[2018-01-17 13:57] GeorgeActon commented on #1807
@krishnapaparaju as per George G request on MM please review. This is a UI issue on existing OSIO wizard.

[2018-01-17 13:58] qodfathr commented on #460
Fixed.

[2018-01-17 13:58] #460 closed

[2018-01-17 14:00] qodfathr commented on #463
Fixed

[2018-01-17 14:00] #463 closed

[2018-01-17 14:20] kbsingh commented on #1665
is this still a thing ?

[2018-01-17 14:22] ldimaggi opened #1904 "Investigate slow throughput of automated EE tests on prod-preview"
Tests running on production are seeing a consistent pattern of completing in1 1-12 minutes:
https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-ts-openshift.io-runTest/

The same tests require >20 min to run and frequently timeout:
https://ci.centos.org/job/devtools-test-end-to-end-ts-prod-preview.openshift.io-runTest/

The goal of this task is to identify the bottlenecks.

[2018-01-17 14:32] rhopp commented on #1665
@kbsingh I just tried this on one of my accounts and I wasn't able to reproduce this. Feel free to close.

[2018-01-17 14:33] hrishin commented on #1880
@gastaldi @sbose78 @pradeepto we are looking into it. Thanks for reporting an issue.

[2018-01-17 14:42] ibuziuk commented on #1665
@rhopp closing. Feel free to reopen

[2018-01-17 14:42] #1665 closed

[2018-01-17 14:42] krishnapaparaju commented on #1807
@arunkumars08 please pick this up as part of next sprint.

[2018-01-17 14:53] fche commented on #1731
For monitoring OSIO tenant jenkins instances, see https://github.com/fabric8io/fabric8-build-team/issues/24

[2018-01-17 15:02] alexeykazakov commented on #1023
Done.

[2018-01-17 15:02] #1023 closed

[2018-01-17 15:08] ldimaggi commented on #1731
Related to #1904

[2018-01-17 15:15] ldimaggi commented on #1873
Can we get this issue addressed? It makes it difficult for user (and automated tests) to run an app in Che - thx!

[2018-01-17 15:17] jpopelka commented on #1891
See also [this document](https://docs.google.com/document/d/1Xa68aMUNTjJW8D0UMIrrxRZtNs0vomeXQtz4njL3f0o) for more sources of CVE data for NPM.

[2018-01-17 15:28] ldimaggi opened #1905 "On prod-preview, Jenkins and Content Repo pods are not starting up after a user resets the environment"
Steps to recreate:
* On prod-preview, reset a user's environment
* Observe the following errors in the pod events:

[code]

[2018-01-17 15:43] maxandersen commented on #292
@ALRubinger does that mean no matter if you start at launcher site or openshift.io you don't get excluded from the other ?

[2018-01-17 15:46] kbsingh commented on #1905
removing SEV1 - is only application to production,
removing service-delivery, adding build team to work out.

[2018-01-17 15:56] kbsingh commented on #1901
ci centos should be back - can you confirm

[2018-01-17 15:57] gastaldi commented on #1873
@ldimaggi I'll look into it

[2018-01-17 15:57] rhopp commented on #1901
It's fine here.

[2018-01-17 15:58] #1901 closed

[2018-01-17 15:59] pbergene commented on #1901
Spoke to people working on cico, they were back to about 80% an hour ago - aware of the problem and addressing it.  Have had reports of succeeding builds.

[2018-01-17 16:03] hferentschik commented on #1905
Same here. Unable to get Jenkins up, even after a reset.

[2018-01-17 16:31] xcoulon opened #1906 "Remove tenant code that is specific to Kubernetes"
The tenant service has blocks of code that are only executed if the platform is Kubernetes and not OpenShift, as defined by an environment variable: https://github.com/fabric8-services/fabric8-tenant/blob/master/openshift/init_tenant.go#L616

Unless we want to keep supporting k8s, we could remove these code blocks in order to simplify the maintenance and future work.

[2018-01-17 16:43] maxandersen commented on #1776
reopen for clarification - doesn't push cover pull-request ? we would want builds on pull-requests for sure.

@gastaldi feel free to close if build on PRs still works.

[2018-01-17 16:47] jiekang commented on #1751
Closing as change has been merged.

[2018-01-17 16:47] #1751 closed

[2018-01-17 16:53] qodfathr commented on #468
Quota information is making its way into OSIO, but the current UXD design does not call for it to go to the status widget (@catrobson feel free to correct me). Closing for now; reopen if needed.

[2018-01-17 16:53] #468 closed

[2018-01-17 16:54] qodfathr commented on #476
Fixed.

[2018-01-17 16:54] #476 closed

[2018-01-17 16:57] qodfathr commented on #478
Awaiting a determination on #915, but I think this is implemented to the extent needed for now. If we need additional capabilities, we'll add the separately to the backlog.

[2018-01-17 16:59] qodfathr commented on #485
Closing by design. As you said in the title, it's the *first* build, and first == 1. :)

Yes, that's a lame answer, but it will be sufficient for now.

[2018-01-17 16:59] #485 closed

[2018-01-17 17:01] qodfathr commented on #495
Closing by design. We can revisit post launch.

[2018-01-17 17:01] #495 closed

[2018-01-17 17:06] qodfathr commented on #497
@slemeur is this still an issue?

[2018-01-17 17:31] ldimaggi commented on #1732
Closing as this problem is not reproducible.

[2018-01-17 17:31] #1732 closed

[2018-01-17 17:42] qodfathr commented on #508
This is still an issue, but I'm not sure I 100% agree with the proposed solution of not displaying the stage until the pod is up and ready. ((1) What if it never becomes ready? (2) in Jenkins, the next stage will have already started running and we want to show that.) I think instead we need some additional visual cues -- e.g. don't show the link to the application until the pod is ready (and perh

[2018-01-17 17:45] qodfathr commented on #510
@joshuawilson you are correct that we decided to remove this. Does someone own that or is there a type/task which exists for getting that done?

[2018-01-17 17:48] qodfathr commented on #518
@burrsutter we have removed WF from the quickstart catalog for now. But I'm not sure how that would impact import. @slemeur , does the App Wizard import build the correct stack for Che if importing a WF Swarm project?

Is this simply not a supported scenario at this time? (Or is this maybe actually now working?)

[2018-01-17 17:51] qodfathr commented on #519
@catrobson did we decide if the Edit kabob option on the Pipelines screen was going to stay? If yes, where is it supposed to go / can you link the design here? If not, @joshuawilson do we have a plan to remove which we can reference here?

[2018-01-17 17:53] gastaldi commented on #1776
@maxandersen PUSH does not cover when pull-requests are opened. I updated the backend to create the webhook for the `PUSH`, `PULL_REQUEST` and `ISSUE_COMMENT` events.

[2018-01-17 18:07] ldimaggi commented on #518
The import is now working for the wildfly-swarm health check booster - and it builds and deploys to stage and run.

But - I have not been able to get its Che workspace to open:

![screenshot from 2018-01-17 13-05-02](https://user-images.githubusercontent.com/642621/35058863-3b93e5d4-fb87-11e7-8d33-f6ef19a25ee3.png)

I'd suggest closing this issue until we get to a point where we want to officially

[2018-01-17 18:30] qodfathr commented on #521
Fixed.

[2018-01-17 18:30] #521 closed

[2018-01-17 18:31] qodfathr commented on #526
Closing as dupe of #508, which now suggests a similar solution.

[2018-01-17 18:31] #526 closed

[2018-01-17 18:35] ALRubinger commented on #292
@maxandersen For new provisioning requests, that is my understanding.  ie: If I am awaiting OSIO access and request Starter, I may be given an instance on Starter us-east-1 or other.

[2018-01-17 18:35] qodfathr commented on #527
This is still a valid issue. We should not have the Remove menu option on the Space owner.

[2018-01-17 18:50] qodfathr commented on #534
I actually was able to reproduce this when importing the first project (on step # 2). There seems to be a issue whereby the Import Wizard is not seeing recently added stuff to GitHub. Maybe a GitHub API issue?

I canceled the Import Wizard and tried again, and it worked fine on the 2nd attempt. Moreover, when I got to step # 5, it works on the first try (and I did not delay between steps 4 and 5).

[2018-01-17 18:53] qodfathr commented on #543
I'm going to re-type this as a bug.

[2018-01-17 18:57] qodfathr commented on #552
Given the huge change to the Planner UI, I'm closing this as it's referring to controls which do not even exist anymore. If you find similar problems with the new Planner once it drops the Experimental flag, please open new issues. Thx!

[2018-01-17 18:57] #552 closed

[2018-01-17 19:13] joshuawilson commented on #519
I do not recall, I think @catrobson has the notes on it.

[2018-01-17 19:24] jiekang opened #1907 "Consistently order environments in Deployments page"
Users currently always have stage, and run environments. The order these appear should probably always be the same.

[2018-01-17 19:25] stevengutz opened #1908 "Pipeline doesn't start"
Following the basic OSIO tutorial, when I create a space the build never starts.  Spins forever but nothing is ever built

![image](https://user-images.githubusercontent.com/35299711/35062388-292771da-fb92-11e7-9d21-f12d59f6aafe.png)

[2018-01-17 19:26] jiekang commented on #1907
@catrobson Do you have a suggestion on what the order should be? Or if it should always be ordered the same, even? My guess on an order would be Test, Run and Stage.

This is referring to the order of environments in [1] where it shows Stage and Run from left to right. The mock doesn't include the Test environment.

[1] https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/260764292

[2018-01-17 19:28] jiekang commented on #1907
Oh, after further research the Test environment

[2018-01-17 19:38] jiekang commented on #1907
Okay nevermind... some more digging reveals there is a 'test' environment and it's {spaceName} project on OSO.

@catrobson The question is actually valid. Sorry for the confusion and multiple pings;;

[2018-01-17 19:39] jiekang commented on #1907
E.g:

run 	name: Run
		namespace: jkang-run
		order: 2
stage 	name: Stage
		namespace: jkang-stage
		order: 1
test 	name: Test
		namespace: jkang
		order: 0

This suggests the order: Test -> Stage -> Run

[2018-01-17 19:40] jiekang commented on #1907
Though the Test project exists, is there any way in the UI to deploy an application to it? I'm not sure what it's used for. The pipelines have rollout to stage and rollout to run...

@joshuawilson Do you know?

[2018-01-17 19:54] catrobson commented on #508
We don't have any updated proposals around the pipeline page yet.  I do think you're right @qodfathr that we'll want there to be a distinction around status/completeness of the stage vs. things that are linked off of that stage.  The pipeline might progress while work is still being done on elements in a previous stage.

For now, if we could complete the stage, but use a spinner and a notice that

[2018-01-17 19:56] catrobson commented on #519
Yes, we agreed that we wanted to remove "edit" from the pipeline kabob.  https://docs.google.com/spreadsheets/d/1Tmsh3bfzShNLoOYZQAsFdNxXdkqeiV6bwIvgxg_cXBw/edit

[2018-01-17 20:17] qodfathr commented on #518
@slemeur would like you to see this closed, or would you like to keep it open and reference it from a Che/OSIO issue?

[2018-01-17 20:27] qodfathr commented on #1906
@bmicklea this likely needs guidance as to our overall upstream story. Historically, fabric8 has been tooling for k8s. Are we going to continue with that principle for the DSaaS fabric8 work? Is supporting OpenShift Origin as an alternative a consideration? And how would we go about putting the processes in place to ensure that the upstream on k8s/Origin/whatever works properly?

That's clearly a

[2018-01-17 20:33] #1873 closed

[2018-01-17 20:33] gastaldi commented on #1873
Pushed fix to staging. @ldimaggi See if it works, then I'll update production

[2018-01-17 20:34] gastaldi commented on #1873
After https://ci.centos.org/view/Devtools/job/devtools-launcher-backend-generator-build-master/80/console is done, of course

[2018-01-17 20:47] #1885 closed

[2018-01-17 21:22] qodfathr commented on #555
@rgarg1 can we close this an open individual issues for each link which is still misbehaving (if any)?

[2018-01-17 21:27] qodfathr commented on #561
@ldimaggi can you please review https://redhat.invisionapp.com/share/YSDL0KRKW and close this issue if you are satisfied?

[2018-01-17 21:29] qodfathr commented on #575
@maxandersen is this bug still valid?

[2018-01-17 21:32] qodfathr commented on #577
Fixed.

[2018-01-17 21:32] #577 closed

[2018-01-17 21:34] maxandersen commented on #577
fixed without code changes ?

[2018-01-17 21:37] qodfathr commented on #578
I cannot get date-based filtering to work at all, even if I treat it as a string. I'm not sure what the use case is here, especially since it's limited to filtering to a particular date and not a date range. Moreover, date selections should have a calendar control, etc. etc.

@catrobson UX thoughts on this? I'm prepared to remove date-based filtering from the Codebases screen at this point in time

[2018-01-17 21:42] qodfathr commented on #456
xref #508

[2018-01-17 21:46] qodfathr commented on #647
Close as dupe #456.

[2018-01-17 21:46] #647 closed

[2018-01-17 21:46] qodfathr commented on #1589
Close as dupe #456.

[2018-01-17 21:46] #1589 closed

[2018-01-17 21:46] aptmac opened #1909 "Smaller screen size disrupts the layout of Environments on Deployments Page"
When resizing the browser horizontally (this happens to me if I make the window half the width of my monitor, for example) the "Environments" components on the Deployments page re-position themselves in an unintended way.

Examples:

This is what the deployments page looks like at full screen, note that the "vertx-hello" cards are under the Test and Run environments.
![full-size](https://user-imag

[2018-01-17 21:48] qodfathr commented on #585
Close as dupe #456.

[2018-01-17 21:48] #585 closed

[2018-01-17 21:52] qodfathr commented on #586
Fixed.

[2018-01-17 21:52] #586 closed

[2018-01-17 21:53] ldimaggi commented on #561
Closing - the new 'deployments' page will satisfy this feature request - thx!

[2018-01-17 21:53] #561 closed

[2018-01-17 21:54] qodfathr commented on #587
As this is how Jenkins behaves, closing by design.

[2018-01-17 21:54] #587 closed

[2018-01-17 21:55] qodfathr commented on #588
Fixed.

[2018-01-17 21:55] #588 closed

[2018-01-17 21:56] qodfathr commented on #1539
Closing as dupe.

[2018-01-17 21:56] #1539 closed

[2018-01-17 21:57] ldimaggi commented on #456
The E2E tests do look for the link - it sounds like this problem pops up now as multiple people have seen it...infrequently.

This issue is a dup of #456

[2018-01-17 21:57] qodfathr commented on #1543
Closing as (effectively a) dupe of #592.

[2018-01-17 21:57] #1543 closed

[2018-01-17 21:59] qodfathr commented on #592
I believe this to be fixed, @rafabene , but please reopen if you can still reproduce.

[2018-01-17 21:59] #592 closed

[2018-01-17 22:03] qodfathr commented on #604
@ldimaggi I have not seen this in a long time. Closable?

[2018-01-17 22:10] qodfathr commented on #626
This particular issue is fixed, but there are several others in the same vein (per #1399).

[2018-01-17 22:10] #626 closed

[2018-01-17 22:14] qodfathr commented on #629
Fixed, plus we've got a new Spaces UI coming.

[2018-01-17 22:14] #629 closed

[2018-01-18 02:01] #1480 closed

[2018-01-18 02:18] joshuawilson commented on #604
Looks fixed, closing.

[2018-01-18 02:18] #604 closed

[2018-01-18 02:36] joshuawilson commented on #519
@chrislessard when you have some time, here is something to fix.

[2018-01-18 02:36] joshuawilson commented on #1907
you need to talk to @ldimaggi

[2018-01-18 02:38] joshuawilson commented on #543
@catrobson is this in the new designs?

[2018-01-18 02:40] sthaha commented on #1900
@chmouel  by

By namespace do you mean that the users are able to modify the openshift `<user>-jenkins` **project**? And by modify do you mean delete pvc, stop the jenkins service etc?

Should they even have access to the openshift projects where all the supporting services / infrastructure are run -  like jenkins, che, planner on openshift?

[2018-01-18 02:51] kbsingh commented on #1900
@sthaha that is correct. We want to get to a point where we can isolate these pieces, they are not there now. Just re-iterating the ask at the moment is to scope up what work is needed to get there. Once we have that, we can then work back to schedule and prioritise the tasks.

[2018-01-18 02:53] kbsingh commented on #557
content is reported to the servicedel channel

[2018-01-18 02:53] #557 closed

[2018-01-18 03:42] joshuawilson commented on #510
@qodfathr there is no task for this.
@chrislessard do you want to fix this?

[2018-01-18 03:44] joshuawilson commented on #485
It is designed to be `1.0.1` for the first version instead of `1.0.0`?

[2018-01-18 03:56] joshuawilson commented on #1678
We might be able to, I haven't looked at the URL. Something to explore.

[2018-01-18 03:56] joshuawilson commented on #1678
I thought we were removing the `edit` option.

[2018-01-18 04:00] joshuawilson commented on #1900
I don't think we want to create name specific labels as they will just pile up. We have `train/next` and have talked about changing that to `train/future`.

[2018-01-18 04:08] joshuawilson commented on #1909
@aptmac please talk to @mindreeper2420 about responsive design. He has been implementing it through out the UI.

[2018-01-18 04:10] mishaone opened #1910 "GitHub link displays over quickstart summary info"
When creating a quickstart project, the final summary screen of the wizard is supposed to display the link to the codebase in git. This text used to look correct (elipsis for the remainder of the link) as of yesterday:

![vertx_final](https://user-images.githubusercontent.com/926572/35080421-2f9ad940-fc59-11e7-9162-2cf526e06208.png)

Now the text is overlapping the summary information:
![text](htt

[2018-01-18 04:14] joshuawilson commented on #1910
duplicates #1175

[2018-01-18 04:14] #1910 closed

[2018-01-18 04:23] joshuawilson commented on #508
@qodfathr I think we should downgrade this to SEV3. Is this something you want fixed by GA?

[2018-01-18 04:24] joshuawilson commented on #1908
This appears to have been an issue with the permissions on OSO being reset when an update occurred. This should be fixed now. Can we close it?

[2018-01-18 04:46] joshuawilson commented on #1870
@kbsingh do you know how to get access to any of these or how to monitor them to make sure they are up and working?

[2018-01-18 07:01] liangxia opened #1911 "Long space name cross boarder."
![screenshot from 2018-01-18 14-58-35](https://user-images.githubusercontent.com/4716987/35084726-550df868-fc60-11e7-878f-c42c6343b3a6.png)

[2018-01-18 08:29] xcoulon opened #1912 "Add support for `released` level of feature"
Once released, a feature should be set to the released level (and presumably, all other levels could be removed). This level might be kept for a few weeks after the release, in order to keep a mean to roll it back in case something wrong. Once the delay is expired, we should remove all conditional statements in the code base and remove the feature settings in the toggle server, and keep the featur

[2018-01-18 08:29] maxandersen commented on #575
yes, still not fixed.

[2018-01-18 08:35] maxandersen opened #1913 "no pipelines in pipeline view when there haven't been builds for a while - data get pruned ?"
I keep seeing this and forgetting to report it - when you add an app to  a space the codebase gets setup and pipelines are running.

if you wait a few days the codebase is still visible (as expected), but now pipelines are gone - its as if pipelines only is a view into the *active* pipelines recorded by openshift objects but if I recall those get pruned and thus the pipeline info is lost.

I haven

[2018-01-18 08:48] hrishin opened #1914 "[OSIO] Usability issues"
I'm using springboot quickstart application and added following dependency in the `pom.xml`
[code]

I'm facing following issues while developing an application

- [che] Import package: It's really not easy to add import statement with alt + ctrl popup. Import option gets hide somewhere bellow of in between. It's slowing down my velocity.
![import](https://user-images.githubusercontent.com/28615674

[2018-01-18 09:07] pkajaba commented on #1024
@msrb what is current status of this? Do we have to just promote to prod?

[2018-01-18 09:49] michaelkleinhenz commented on #328
Yes, it is tracked in Planner. Closing.

[2018-01-18 09:49] #328 closed

[2018-01-18 09:50] michaelkleinhenz commented on #325
Yes.

[2018-01-18 09:50] #325 closed

[2018-01-18 10:02] eivantsov commented on #1914
@hrishin did you try to right click the project > Maven - > reimport?

[2018-01-18 10:03] maxandersen commented on #1900
I don't see how name specific labels pile up. `train/next` require you to move labels constantly and you loose history anyway. with train/heather we have the same and can just delete the label when not relevant anymore.

[2018-01-18 10:04] corinnekrych commented on #1671
admin available:
Prod UI: http://admin-dsaas-production.09b5.dsaas.openshiftapps.com/toggles/
Preview UI: http://admin-dsaas-preview.b6ff.rh-idev.openshiftapps.com/toggles/

[2018-01-18 10:04] #1671 closed

[2018-01-18 10:05] corinnekrych commented on #1669
part of https://github.com/fabric8-ui/fabric8-ui/pull/2283

[2018-01-18 10:05] #1669 closed

[2018-01-18 10:05] corinnekrych commented on #1668
part of https://github.com/fabric8-ui/fabric8-ui/pull/2283

[2018-01-18 10:05] #1668 closed

[2018-01-18 10:11] slemeur commented on #1914
@hrishin : The first issue that you are mentioning is that the completion proposals (and quick actions) are not getting sorted in an efficient way. Correct?

[2018-01-18 10:17] hrishin commented on #1914
@eivantsov I tried sorry to say but didn't worked.

[2018-01-18 10:17] corinnekrych commented on #1673
closing this one in favor of https://github.com/openshiftio/openshift.io/issues/1667 as support for `released` is implemented there.
cc @xcoulon

[2018-01-18 10:17] #1673 closed

[2018-01-18 10:18] eivantsov commented on #1914
@hrishin do you see this lib in dependencies? There's a folder in the bottom of the project.

[2018-01-18 10:18] hrishin commented on #1914
@slemeur Yes, it would be nice if mostly used option appears on the top and used options bellow.

[2018-01-18 10:29] eivantsov commented on #1914
![image](https://user-images.githubusercontent.com/5337267/35093418-03608496-fc4b-11e7-87c1-be6ce20dad13.png)

Cannot reproduce locally with Che 6.

I assume that the library download failed and thus it has never been added to classpath.

[2018-01-18 10:33] chmouel commented on #1900
What about we use the ml and not this PR to discuss this? (labeling)

  I merely applied what was in an email recommendation happy to change it to whatever you guys recommend it

[2018-01-18 11:03] jpopelka commented on #1883
Currently we web scrape the following info from https://libraries.io:

- dependent repositories
  - count (of all)
  - list of top dependent repositories
- dependent projects
  - count
- releases
  - latest release
  - recent releases
  - count (of all)

We're able to get the following via API:
- releases
  - latest
    - `# curl -s https://libraries.io/api/npm/serve-static?api_key=$tk | jq '.late

[2018-01-18 11:07] hrishin commented on #1914
@eivantsov ahaan my bad, its dependency issue. Got it fixed now.

[2018-01-18 11:12] hrishin commented on #1914
@eivantsov just wondering why it's not showing warning in IDE

[2018-01-18 11:13] eivantsov commented on #1914
@hrishin there should be a warning in pom.xml

[2018-01-18 11:15] hrishin commented on #1914
@eivantsov Yes I can see vulnerability warning.
![dependency_issue](https://user-images.githubusercontent.com/28615674/35095598-018d0724-fc6f-11e7-938f-f901997131c6.png)

[2018-01-18 11:17] eivantsov commented on #1914
@hrishin I mean if the lib was never downloaded, the warning should say smth about it, not merely LS warning

[2018-01-18 12:15] gorkem commented on #1719
@fbricon another request for the pom.xml LSP

[2018-01-18 12:48] qodfathr commented on #1907
There used to be a Test environment, but we removed it ~7 months ago.

For now, the ordering should be Stage then Run.

In the future, users will be able to (1) define their own environments and (2) order them however they want.

[2018-01-18 13:01] qodfathr commented on #631
Two things.

1. @ldimaggi, the above discussion may explain why you still saw Spaces -- perhaps you did delete a bunch, but there were more that you didn't see (due to a bug). Can you please re-verify? If you agree that you observed the display bug, then I'd recommend closing this issue and...
2. ... @joshuawilson , can we open a new issue for the infinite-scroll-component-not-fetching-when-rows-d

[2018-01-18 13:02] xcoulon opened #1915 "Make sure that the `enabledByLevel` strategy exists in unleash"
This can be useful for all environments where the `toggles-service` needs to run (production, but also local)

[2018-01-18 13:03] qodfathr commented on #634
I see no associated tasks against this user story, an no parent epic. Is this work that we still intend to do at some point, or can we close this?

[2018-01-18 13:04] qodfathr commented on #635
I see no associated tasks against this user story, an no parent epic. Is this work that we still intend to do at some point, or can we close this?

[2018-01-18 13:04] qodfathr commented on #637
I see no associated tasks against this user story, an no parent epic. Is this work that we still intend to do at some point, or can we close this?

[2018-01-18 13:07] qodfathr commented on #638
Is this still valid for the backlog? Do we intend to do this work?

[2018-01-18 13:07] qodfathr commented on #638
If #638 is closed due to no intention to work on it, then this should also be closed.

[2018-01-18 13:09] ldimaggi commented on #1905
This looks OK today - can anyone report on what was wrong and how it was repaired?

[2018-01-18 13:09] #1905 closed

[2018-01-18 13:12] qodfathr commented on #642
By convention, the Analysis screen is dynamic. Note that all other data on that screen updates in (near) real-time. The stack report widget should adopt the same convention, so I recommend changing this to type/bug. Since others have been arguing against that, I won't do so without first hearing new arguments as to why this should remain type/feature.

[2018-01-18 13:13] Preeticp commented on #778
I saw this issue again today. I reset my environment, however I could still see work items from my previous Space in the Dashboard (Analyze tab). A refresh of the screen however fixes the issue and the stale work items are cleared.

[2018-01-18 13:24] omajid commented on #679
I can no longer reproduce this. Closing.

[2018-01-18 13:24] #679 closed

[2018-01-18 13:27] ldimaggi opened #1916 "In Codespace page - icon is mis-aligned"
![screenshot from 2018-01-18 08-24-31](https://user-images.githubusercontent.com/642621/35100293-55cc42c8-fc29-11e7-92e8-86bdb5582f60.png)

![screenshot from 2018-01-18 08-24-46](https://user-images.githubusercontent.com/642621/35100294-55dc84bc-fc29-11e7-9f49-6cd017c35905.png)

[2018-01-18 13:29] ldimaggi commented on #1873
Have tried this multiple times on prod-preview - and could never get past this point:

![screenshot from 2018-01-18 08-28-49](https://user-images.githubusercontent.com/642621/35100408-b9fe85ee-fc29-11e7-82dd-a0cadb3833e1.png)

[2018-01-18 13:31] ldimaggi opened #1917 "Unable to create a new Che workspace on prod-preview"
When creating a new workspace, the UI is not able to progress beyond this point:

![screenshot from 2018-01-18 08-28-49](https://user-images.githubusercontent.com/642621/35100408-b9fe85ee-fc29-11e7-82dd-a0cadb3833e1.png)

[2018-01-18 13:32] Preeticp opened #1918 "Analyze tab (dashboard) does not display work items created in planner"
I created a fresh space, after resetting environment. Added a few work items using the 'Quick Add', I can see them in the Planner Backlog view. However the work items are not seen in the Analyze tab, My Work Items section.
Refreshing the screen has no effect.

[2018-01-18 13:36] Preeticp commented on #1918
Also #778 needs to be revisited, I faced the same issue today and have added my observations on the same here: https://github.com/openshiftio/openshift.io/issues/778#issuecomment-356608229

[2018-01-18 13:39] gastaldi commented on #1873
It appears to be something wrong with your user. It works for me:

![screenshot from 2018-01-18 11-39-28](https://user-images.githubusercontent.com/54133/35100810-4774223e-fc44-11e7-86d0-3b7428107d1b.png)

[2018-01-18 13:42] ldimaggi commented on #1873
Have tried multiple times - will try with a diff account.

[2018-01-18 13:58] ldimaggi commented on #1873
OK - it seems fine with a diff account:

![screenshot from 2018-01-18 08-55-16](https://user-images.githubusercontent.com/642621/35101475-b0dd5bf8-fc2d-11e7-9f6c-29c27d4a81a6.png)

But - how can we debug this? Why are some accounts blocked by this - while others are not?

[2018-01-18 13:59] ldimaggi commented on #1917
This seems fine with a diff account:

![screenshot from 2018-01-18 08-55-16](https://user-images.githubusercontent.com/642621/35101475-b0dd5bf8-fc2d-11e7-9f6c-29c27d4a81a6.png)

But - how can we debug this? Why are some accounts blocked by this - while others are not?

[2018-01-18 14:09] michaelkleinhenz commented on #778
@Preeticp How did you reset your environment? Because if you still stay inside the OSIO ui application, this could very well be caused by other issues than caching.

[2018-01-18 14:18] gastaldi commented on #1873
I have no idea. Maybe it would be nice to have an issue assigned to the Che team to investigate this

[2018-01-18 14:27] stevengutz commented on #1908
I don’t think there’s an actual bug.  I still can run my example ConfigMap example due to some other permission issue but it’s probably not a code issue

Steve Gütz
sgutz@redhat.com

[2018-01-18 14:33] xcoulon commented on #1912
@qodfathr I'm not sure I understand the `Projects` / `Needs Parent in team/PM` metadata here. I just submitted a PR to resolve this issue, does it mean I need to hold it until you approve the issue itself ?

[2018-01-18 14:34] joshuawilson commented on #1908
Can we close this?

[2018-01-18 14:35] ldimaggi commented on #1917
[che_log.txt](https://github.com/openshiftio/openshift.io/files/1643159/che_log.txt)

[2018-01-18 14:39] joshuawilson commented on #778
@Preeticp how is this issue different then #1918?
@michaelkleinhenz if you think it is something other then caching, can you have someone fix them. Meanwhile, it looks like we still have this issue.

[2018-01-18 14:50] catrobson commented on #1678
@joshuawilson yes, you’re right :). Let’s remove as agreed!

[2018-01-18 15:06] mindreeper2420 commented on #1886
@qodfathr @joshuawilson agreed - there needs to be an Epic for continuing to update responsiveness. There was a UX story on updating responsiveness of the Dashboards, but not other pages.

The User Profile page has updated designs, so that should be taken into account whenever this page is updated to fix responsive issues.

[2018-01-18 15:08] stevengutz commented on #1908
Yes from my perspective

Steve Gütz
sgutz@redhat.com

[2018-01-18 15:10] catrobson commented on #543
Yes, the designs here change this to a searchable list pattern:
https://redhat.invisionapp.com/share/EGF2SMJQ3

[2018-01-18 15:13] catrobson commented on #578
Yes, this should enable a calendar control.  Agree that we should remove it until we build that capability into PatternFly-ng filters. @joshuawilson should Anna’s team remove this or would you like for me to assign to Dan?

[2018-01-18 15:14] #1785 closed

[2018-01-18 15:17] aslakknutsen opened #1919 "Vert-X ConfigMap QuickStart fails with "Unable to read the configuration""
* Use wizard to create a new Vert-X ConfigMap QucikStart
* Wait until pipeline is done
* Check app in either Stage or Run
* Input message: Response fails with "Unable to read the configuration"

The App log
[code]

There are no attempts to deploy a config map of that name at all in the Jenkins log.

The Config Map does not exist.

[2018-01-18 15:25] l0rd commented on #1150
rh-che issue with more details about the single tasks needed to achieve this epic https://github.com/redhat-developer/rh-che/issues/448.

[2018-01-18 15:28] miteshvp commented on #637
Closing this issue as we have achieved improvements already.

[2018-01-18 15:28] #637 closed

[2018-01-18 15:28] miteshvp commented on #635
Closing this issue as it is no longer valid

[2018-01-18 15:28] #635 closed

[2018-01-18 15:33] miteshvp commented on #638
Closing this issue as we are using a different approach to improve on PGM recommendations.

[2018-01-18 15:33] #638 closed

[2018-01-18 15:44] aslakknutsen opened #1920 "Work items presented in "My Work Items" on _home Dashboard link to wrong Space"
Link result in 404: https://openshift.io/aslak/openshiftio/plan/detail/4fd647fc-84c3-4929-a5f5-95cac8dfe999

The issue is from the openshiftio/openshiftio space.

Seems to be missing the correct Space and using UUID instead of Number

![screenshot from 2018-01-18 16-40-33](https://user-images.githubusercontent.com/132158/35106377-5884be24-fc6e-11e7-92ca-13400e3d23e0.png)

[2018-01-18 15:57] aptmac commented on #1909
Okay. Just so it's written out somewhere, I did a bit of shallow digging and this behaviour is a result of hitting the "small" screen size. Currently, the components in question are using a 'col-sm-4' and there are four columns on the page which results in a bit of run-off if the screen reaches this size. Using a 'col-sm-3' for the components maintains the layout, but the other components weren't

[2018-01-18 16:00] ldimaggi commented on #631
I think that we can close this one - these steps are now successful:

Steps to recreate:
* Create 20+ new spaces
* Navigate to "View all Spaces"
* Delete the spaces
* Navigate to "View all Spaces"
* Observe that spaces are not displayed
* Navigate to "Account Home"
* Observe that spaces are not displayed

[2018-01-18 16:00] #631 closed

[2018-01-18 16:03] ldimaggi commented on #1907
Sorry - I don't have a path to the Test deployment platform either.

[2018-01-18 16:10] aslakknutsen opened #1921 "UI Navigation vanishes on certain UI exceptions"
* Go to https://openshift.io/openshiftio/openshiftio
* Go to Create
* Go to Environments
* Press top right menu link to Profile

WebConsole reports:

[code]

![screenshot from 2018-01-18 17-08-54](https://user-images.githubusercontent.com/132158/35107852-4a78927a-fc72-11e7-82ca-c0c408344746.png)

[2018-01-18 16:13] aslakknutsen opened #1922 ""Opt-in to Experimental Features" button does nothing"
Pressing the button does seemingly nothing. From the web console one can see the Navigation is started but Canceled for an unknown reason.

"Router Event: NavigationCancel "

![screenshot from 2018-01-18 17-11-21](https://user-images.githubusercontent.com/132158/35107969-9f7497b0-fc72-11e7-852e-47a887ace60d.png)

[2018-01-18 16:16] aslakknutsen commented on #1918
@Preeticp Did you assign the WorkItems to your self?

[2018-01-18 16:20] Preeticp commented on #1918
Ah no @aslakknutsen that explains it. I will close this issue.

[2018-01-18 16:20] #1918 closed

[2018-01-18 16:31] Preeticp commented on #778
@michaelkleinhenz, I navigated to Profile>Update Profile>Reset Environment. I was within the OSIO UI. I am not sure what the reason for the behavior is, but this is what I observed.

@joshuawilson this is different from #1918, Aslak gave a reason for the behavior in #1918, on hindsight, that was obvious and I have closed that one.
In this issue, you are able to see work items from a space which wa

[2018-01-18 16:40] chmouel commented on #1126
should it just go to the fabric8-ui backlog instead of build backlog?

[2018-01-18 16:42] chmouel commented on #1103
pinging @adisakala

[2018-01-18 16:43] chmouel commented on #657
jenkins pipelines seems to do well here as reported, should we just move this to the f8-ui backlog instead of ours?

[2018-01-18 16:48] aslakknutsen opened #1923 "Leaking Query Parameters between component/pages"
* Go to https://openshift.io/openshiftio/openshiftio
* Go to Plan
* See URL change to ../plan?q=(space:020f...
* Go to Create
* See URL change to ./create?q=(space

[2018-01-18 16:52] stooke opened #1924 "WIT - Ensure /apps endpoints return [] for empty arrays, not 'NULL'"
To simplify the Deployments page UI code, empty arrays in JSON for the /apps endpoints should not return NULL.

curl -H "Authorization: Bearer $TT" http://localhost:8080/api/apps/spaces/03e7296a-8e34-4579-b98a-6622d809d411

Before:
{"data":{"applications":null}}
After:
{"data":{"applications":[]}}

[2018-01-18 16:58] #1924 closed

[2018-01-18 17:08] aslakknutsen opened #1925 ""My Spaces" add Empty sub navigation in certain routes"
* Go to https://openshift.io/openshiftio/openshiftio/
* Go to Create
* Go to "My Spaces" in top left menu

![screenshot from 2018-01-18 18-07-28](https://user-images.githubusercontent.com/132158/35110995-7906906c-fc7a-11e7-8b5c-de537b1b9ac1.png)

[2018-01-18 17:37] #1919 closed

[2018-01-18 17:42] gastaldi commented on #1919
Because this deployment is performed separately from the original launcher code, I decided to remove the booster from the list and add it back after we refactor it to use the same code.

[2018-01-18 18:19] ldimaggi opened #1926 "Intermittent/recurring issue - Investigate delays in starting a build pipeline"
Saw a situation on https://openshift.io today where, after a successful user env reset, an attempt to start a build pipeline hung for over an hour, until the user env was reset again.

During the hour delay, no errors were displayed or written to the Jenkins pod log (attached).

Question - If a user experiences this type of problem, what steps do we recommend?

![screenshot 5](https://user-images.

[2018-01-18 18:23] ibuziuk commented on #1917
@ldimaggi could you provide openshift events ? Also, have you tried env_reset ?
according to the logs you provided `Pod with deployment name che-ws-pbiyqskgz26tgeau not found` it looks like you are hitting - https://github.com/openshiftio/openshift.io/issues/1733

[2018-01-18 18:36] ldimaggi opened #1927 "On prod-preview, Jenkins and Content Repo pods fail to start after an env reset"
Steps to recreate:
* On prod-preview, reset a user's env
* Observe these errors in the jenkins and content repo pod events:

[code]

[2018-01-18 18:42] ldimaggi commented on #1927
Looks like this error is back:  https://github.com/openshiftio/openshift.io/issues/1905

[2018-01-18 18:45] bmicklea commented on #1906
+1 on dealing with it in the F2F. My preference would be to keep this open to k8s in the upstream but we may need the community to help...

[2018-01-18 18:47] kbsingh commented on #1103
we need to consider this in the scope of the work we are looking at for h-train and the goals / stability pieces we need to bring together in the mean time.

[2018-01-18 18:49] jfchevrette commented on #1927
Hibernation got turned on on that cluster. This do not run in openshift.io production environments. I am reaching out to the people responsible for this to see if we can exclude namespaces from the hibernation process.

[2018-01-18 18:54] bmicklea commented on #1103
I expect this may be destabilizing when first implemented. My expectation is that we tackle this in I-train but since the solution will be more broadly "live" by then we'll need to work out how to compartmentalize any adverse impacts of the change.

[2018-01-18 18:55] ldimaggi commented on #1927
Thanks!  Is there anyway to determine if this was also the problem yesterday? prod-preview was unusable most of the yesterday and most of today too.

[2018-01-18 19:10] ldimaggi commented on #1927
Question: What is the trigger than turns on hibernation?

[2018-01-18 20:03] ldimaggi commented on #1927
Do we know if it is being enabled manually or automatically? I'm asking because it seems to have happened at about the same time each day.

[2018-01-18 20:08] joshuawilson commented on #657
We do not track anything in fabric8-ui repo. Do you mean move it to `team/platform`?

I am wondering if this is a duplicate of #508

[2018-01-18 20:09] jfchevrette commented on #1927
@ldimaggi it's an automated process that got turned on recently. It automatically hibernates namespaces after a defined set of rules are matched. Once our tests namespaces are excluded from this process it shouldn't be a problem anymore. This process will not run at all on production. It's just a side-effect of us using the same online staging environment as the online team.

[2018-01-18 20:12] joshuawilson commented on #1907
please ignore my comment, I had misread

[2018-01-18 20:13] ldimaggi commented on #1917
Yes - this was after a reset.

Will retest as soon as prod-preview is usable again - see: https://github.com/openshiftio/openshift.io/issues/1927

[2018-01-18 20:16] joshuawilson commented on #631
@ldimaggi did you try it with more then 40? The initial fetch is for 40. Do you have a test that can create them?

[2018-01-18 20:21] joshuawilson commented on #578
we should have @ashumilova take care of it if her team is able to

[2018-01-18 20:21] dlabrecq commented on #1557
PR has been merged: https://github.com/fabric8-ui/fabric8-ui/pull/2410

[2018-01-18 20:23] joshuawilson commented on #543
Closing as it is being redesigned.

[2018-01-18 20:23] #543 closed

[2018-01-18 20:25] joshuawilson commented on #1557
I merged it early and reverted it. So this is still open.

[2018-01-18 20:50] bmicklea commented on #1103
Thanks for the context @kbsingh, it's up to @qodfathr to determine train priority but I don't think it's in the current train :)

[2018-01-18 20:51] #1908 closed

[2018-01-18 20:55] qodfathr commented on #648
@maxandersen what's the status of this? Some quickstarts work, some do not. I'm not sure what how testable any of them are in OSIO. The referenced issues have not been touched in awhile (https://github.com/fabric8-launcher/launcher-planning/issues/10 untouched in 9 month).

[2018-01-18 20:56] joshuawilson commented on #634
cc @sivaavkd @krishnapaparaju

[2018-01-18 20:58] qodfathr commented on #650
Is this still an issue?

[2018-01-18 20:59] joshuawilson commented on #1900
The Milestones won't work because you can have an issue in only one at a time, so it could not go in the sprint.

Let's use @maxandersen idea, we should be moving to Planner soon enough and it won't matter then.

[2018-01-18 20:59] qodfathr commented on #657
Fixed, although there are related issues of interest in #508.

[2018-01-18 20:59] #657 closed

[2018-01-18 21:04] qodfathr commented on #674
I'm going to close as a "reverse dupe" of #1363 . While this issue was recorded first, all of the action is happening in the other issue. @ldimaggi please grab yourself a gold star sticker from the closet.

[2018-01-18 21:04] #674 closed

[2018-01-18 21:17] qodfathr commented on #676
I'd like to revisit this. I feel we need to be able to handle dots in Space names; otherwise, it very well may be a blocker for adoption. Note that having a dot in a Space name does not mean that the dot has to be used everywhere the name is propagated; we can do substitutions. We can also have overloaded substitutions (let me explain by example) -- in fact, we already have them.

Create a Space n

[2018-01-18 21:19] qodfathr commented on #678
Fixed.

[2018-01-18 21:19] #678 closed

[2018-01-18 21:21] qodfathr commented on #691
Do we have issues created for each integration so we can link them back to here?

[2018-01-18 21:21] ldimaggi commented on #676
The inability of a user to include underscores, dashes, etc. in space names will, I think, cause problems as it makes complex space names difficult to read.

I'd vote for enabling the user of the "." character in the space names (just not as a leading or trailing character).

[2018-01-18 21:23] qodfathr commented on #696
Can someone give an update on the status of this?

[2018-01-18 21:24] aptmac commented on #1893
Fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2408

[2018-01-18 21:24] #1893 closed

[2018-01-18 21:25] ldimaggi commented on #648
I'm working with the RHOAR folks (tomorrow, as it turns out) to incorporate this test - https://github.com/fabric8io/fabric8-test/blob/master/ee_tests/src/specs/booster_pipeline.spec.ts - incorporated in to their tests to verify the operation of the boosters in OSIO. Stay tuned - at least some of the boosters do not work in OSIO as of today: https://github.com/openshiftio/openshift.io/issues/1880

[2018-01-18 21:26] qodfathr commented on #697
Status check: are the goals & subtasks of this issue still valid for the backlog?

[2018-01-18 21:32] qodfathr commented on #699
May we get a status update on this?

[2018-01-18 21:38] qodfathr commented on #711
@bmicklea is this issue still correct? Should it be CentOS only? RHEL only? Some combo?

[2018-01-18 21:41] qodfathr commented on #718
Crazy late response, I know -- but, in essence, I agree that the commit message should related back to the work item in some form. However, right now, we don't have an implemented workflow which communicates to Che about what work the user is doing. That's part of some of the design work that is happening.

I am going to assign this to myself, so that I eventually return to this issue and link it

[2018-01-18 22:23] bmicklea commented on #711
This has been fixed, thanks for the bump. Closing.

[2018-01-18 22:23] #711 closed

[2018-01-18 23:27] joshuawilson commented on #676
@ldimaggi I'm not following you. He did not say you couldn't use underscore, you just can't use it if it is already in use.

If you make a space name `foo_bar` then `foo bar`(which resolves to `foo_bar`) would fail as a duplicate.

@qodfathr I agree that we should include it but we might want to replace it with underscore like we did for whitespace. It will keep it more readable. Do you have a cou

[2018-01-19 00:40] jfchevrette commented on #1927
@ldimaggi Your 5 namespaces have been excluded from hibernation. We can add more later if needed. Presumably your jenkins namespace was hibernated because it had reached its usage quota. The other 4 namespaces were not.

PTAL and close if resolved

[2018-01-19 01:23] alexeykazakov commented on #1126
There is no fabric8-ui backlog. Who is responsible for pipeline front end? Build-cd team, right? If it should be fixed in fabric8-ui component then the build-cd team is responsible for fixing it in fabric8-ui.

[2018-01-19 02:27] joshuawilson commented on #1925
@mindreeper2420 @dgutride any idea if this is styles thing or a routing thing?

[2018-01-19 02:29] joshuawilson commented on #1922
I'm not sure this has anything to do with the Feature Flags. I think it has to do with how an error is not being handled else where in the observable for the Context. It breaks routing. That is just my first thought, could be something else.

[2018-01-19 02:31] joshuawilson commented on #1921
This is related to an error in an observable subscribing to the Context and not being handled, breaking everything else.

[2018-01-19 02:33] joshuawilson commented on #1920
@michaelkleinhenz are you aware of this?

[2018-01-19 02:42] joshuawilson opened #1928 "Service breaking in Planner"
a service is breaking in planner:
[code]
app/services/label.service.ts - currentSpace.links isn't always present and this shouldn't be listened to if disposing

@michaelkleinhenz this was found by @dgutride he can give you more details if needed.

[2018-01-19 02:44] joshuawilson commented on #1928
This is a SEV1 because it is breaking the main UI navigation.

[2018-01-19 02:45] joshuawilson commented on #1928
cc @nimishamukherjee

[2018-01-19 02:45] dgutride commented on #1928
@michaelkleinhenz - this is easy to repro, just click on plan -> board and then navigate to profile, the current space observable is updated and there is no .links present on that object so any function in this service that uses that needs to check for null first.

[2018-01-19 02:48] joshuawilson commented on #1928
There is a fix coming in RxJS 6. Until we have that, this code has to be fixed.

[2018-01-19 02:49] joshuawilson commented on #1920
This may be related to #1928

[2018-01-19 02:50] joshuawilson commented on #1921
This is related or even possibly caused by #1928

[2018-01-19 02:50] joshuawilson commented on #1922
This is related or even possibly caused by #1928

[2018-01-19 03:53] joshuawilson commented on #1916
duplicates #1867

[2018-01-19 03:53] #1916 closed

[2018-01-19 03:55] ldimaggi commented on #1927
Thanks! - but, one problem - for automated tests - each test creates a new space. Can hibernation be turned off on a per-user basis?

[2018-01-19 04:02] joshuawilson commented on #1883
Do we have permission to use their data?

[2018-01-19 04:06] joshuawilson commented on #1913
I think this is something for the build team to look into. Or maybe someone on the SD team knows what is happening.
cc @chmouel @pradeepto @jfchevrette @vpavlin

[2018-01-19 04:08] joshuawilson commented on #1911
@michaelkleinhenz can you add this to list of UI fixes that we need. This might just be taken care of in the redesign of the navigation. It still needs to be handled there.

[2018-01-19 04:12] joshuawilson commented on #1923
cc @michaelkleinhenz @nimishamukherjee

[2018-01-19 04:16] joshuawilson commented on #1866
@bartoszmajsak do you have time to look into this?

[2018-01-19 04:21] joshuawilson commented on #1300
this was fixed with a reset, closing

[2018-01-19 04:21] #1300 closed

[2018-01-19 04:23] joshuawilson commented on #1136
This is being redesigned. The new design will cover this.

[2018-01-19 04:23] #1136 closed

[2018-01-19 04:25] joshuawilson commented on #757
Is this still an issue?

[2018-01-19 04:28] ldimaggi commented on #757
One of those quickstarts has been removed - let's close this one.

[2018-01-19 04:28] #757 closed

[2018-01-19 04:31] joshuawilson commented on #1600
This page is getting deprecated in favor of the new Deployments page. As @catrobson said, the new design doesn't have this in it. Closing.

[2018-01-19 04:31] #1600 closed

[2018-01-19 05:11] mishaone opened #1929 "Environments page's Experimental features has a lot of odd bugs"
I'm just logging a bunch of smaller issues here since they all pertain to the same task: enabling experimental features from the Environments page.

* Typo: "Use *theses* at your own risk" should be "Use these at your own risk".
* Changing the Chrome window/tab size makes things disappear. See this example:
  * First, we have the normal smaller sized tab with nothing wrong:
![okay](https://user-im

[2018-01-19 05:20] mishaone commented on #1929
Also, I'd suggest that clicking Update should take us back to the Environment page instead of the Profile page.

[2018-01-19 05:36] joshuawilson commented on #1707
So the simple solution would be to have the pipeline default to use the codebase listed if there is one. Do you agree?

[2018-01-19 05:43] joshuawilson commented on #1929
Some of this is a duplicate of #1921 and #1922. But the typo is new. Can you please clean this up to be just one issue or close it and make an individual bug for each issue found. It is easier to track and fix when each issue is for just one thing.

[2018-01-19 05:53] mishaone opened #1930 "Typo in experimental issue text"
Typo: "Use *theses* at your own risk" should be "Use these at your own risk".

![okay](https://user-images.githubusercontent.com/926572/35135631-2dac38dc-fd2a-11e7-8179-a943617719fb.png)

[2018-01-19 05:54] mishaone commented on #1929
No problem, @joshuawilson. Created https://github.com/openshiftio/openshift.io/issues/1930 for the typo. If the rest aren't new (admittedly I don't know how to replicate that last one), please feel free to close this one.

[2018-01-19 06:09] joshuawilson commented on #1930
cc @corinnekrych

[2018-01-19 06:10] #1929 closed

[2018-01-19 06:35] chmouel commented on #1913
I have some pipelines dating back from a month ago, are you talking somewhere else in the UI ?
![image](https://user-images.githubusercontent.com/98980/35137779-5e9018fe-fceb-11e7-98b5-b1340255c02e.png)

[2018-01-19 07:53] nimishamukherjee commented on #1928
Raised PR https://github.com/fabric8-ui/fabric8-planner/pull/2413 to fix this defect.

[2018-01-19 08:03] nimishamukherjee commented on #1923
@joshuawilson based on the guided work item hierarchy, planner always needs to have a query.
The default will be space: space-id AND $WITGROUP: group type name
We are setting this only within planner.
Not sure how it gets applied to the other tabs.
Need to look in to this.

[2018-01-19 08:29] xcoulon opened #1931 "Verify unleash client is ready before listing features"
[This kind of verification](https://github.com/fabric8-services/fabric8-toggles-service/blob/master/featuretoggles/toggles_client_wrapper.go#L94-L97) should also be done when listing features by their names in [here](https://github.com/fabric8-services/fabric8-toggles-service/blob/master/featuretoggles/toggles_client_wrapper.go#L78-L85)

[2018-01-19 09:19] rupalibehera opened #1932 "Upgrading Jenkins image to LTS"
- Investigate if the upgrade of Jenkins [image](https://github.com/fabric8-jenkins/jenkins-openshift-base) does not break our current setup

- if it does not break upgrade the image to LTS

[2018-01-19 09:27] rupalibehera commented on #1932
please check this issue before this one https://github.com/fabric8-jenkins/jenkins-openshift-base/issues/10

[2018-01-19 09:46] rupalibehera opened #1933 "Investigate what is required to help fabric8-ui CI pipeline to get faster and better"
- The development time increases due to long running PR and not getting successful in multiple builds due to slave related issues or a genuine failure in the code or some other failure.

- It would be nice if we get the pipelines a bit faster so the feedback cycle is quick.

- CD team will need help from fabric8-ui team on this as none of us know or understand much of it.

- https://github.com/fab

[2018-01-19 11:20] sara-02 commented on #1674
@arunkumars08 as long as the work flow is taken into account, we are good.

[2018-01-19 11:20] tisnik opened #1934 "Different 'label' values are stored in the Graph database for package versions data"
The 'label' values for package versions seems not to be consistent, at least on the __Stage__ Graph database. Sometimes the value is set simply to `"vertex"` and sometimes to `"Version"`.

Reproducer:

[code]

Actual output:

[code]

@msrb @pkajaba FYI

[2018-01-19 11:26] arunkumars08 commented on #1547
This will be handled as a part of the new revamp.

[2018-01-19 11:27] arunkumars08 commented on #1807
@krishnapaparaju Sure, will take care in the coming sprint.

[2018-01-19 11:28] arunkumars08 commented on #1833
@krishnapaparaju Yes, this will be handled as a part of new revamp

[2018-01-19 12:32] krishnapaparaju opened #1935 "Fabric8 Analytics: Plan for the H train"
**Support users of openshift.io, IDE extensions**

**Combined wizard: Single component for Wizard and Launcher operational at OSIO, launch.openshift.io**

**Analytics driven Dependency Editor be integrated into OSIO Wizard**

**Launch Che workspace with the generated project from combined wizard**

**POC, UX for application stack editor, supporting multi container applications**

**Integrate insig

[2018-01-19 12:34] gtema commented on #422
Have similar situation
![screenshot_20180119_132155](https://user-images.githubusercontent.com/16461884/35150987-d8ad2c22-fd1c-11e7-9ee1-2aec1f001d0b.png)

Jenkins log:
[jenkins-1.log](https://github.com/openshiftio/openshift.io/files/1646486/jenkins-1.log)

[2018-01-19 12:42] ashumilova opened #1936 "Codebases and Workspaces UI"
### Description
In an OSIO space, a user is able to configure multiple codebases. At this moment, the user is able to manage the different codebases.
The users who are coding on the codebases are creating Che workspace - but the current capabilities of OSIO don't allow the user to manage his workspaces easily. In some cases, it also requires the user to go into the Che's dashboard in order to be a

[2018-01-19 13:03] sbose78 commented on #422
Build made progress after a `reset environment`.

[2018-01-19 13:06] chmouel commented on #1900
soon is a strong word :)

[2018-01-19 13:09] ldimaggi commented on #1913
I'm watching pipelines too - these seem OK after almost 1 day:

![screenshot from 2018-01-19 08-02-12](https://user-images.githubusercontent.com/642621/35152354-1be1131e-fcf0-11e7-84b5-260240b395a8.png)

[2018-01-19 13:44] xcoulon opened #1937 "Make the `featureLevel` not optional in the user's profile"
Making the `featureLevel` mandatory in the user's profile will avoid having to deal with 2 values for the same state: `nil` and `released`: in both cases (first is default, second is when user opted for a pre-release level and back to `released` level afterwards). This also means that the `User.FeatureLevel` field will not be a `*string` but a `string`.
Also, in the DB, the column should be conver

[2018-01-19 13:55] ldimaggi opened #1938 "On prod-preview, attempting to view a build pipeline log traps user in infinite login loop"
Steps to recreate:
* On prod-preview, create a new quickstart, observe its build pipeline start
* Attempt to "View Log" (jenkins build log):

![screenshot from 2018-01-19 08-40-21](https://user-images.githubusercontent.com/642621/35153917-501510ee-fcf6-11e7-9ba8-98978fec84f1.png)

Then, attempt to login to OpenShift:
![screenshot from 2018-01-19 08-40-36](https://user-images.githubusercontent.com/

[2018-01-19 13:55] ldimaggi commented on #1938
![screenshot from 2018-01-19 08-48-26](https://user-images.githubusercontent.com/642621/35153995-84bbf60a-fcf6-11e7-9794-8a4c2ee209f9.png)

[2018-01-19 13:58] ldimaggi commented on #1933
See related issues:
https://github.com/openshiftio/openshift.io/issues/1926
https://github.com/openshiftio/openshift.io/issues/1904

[2018-01-19 14:10] catrobson commented on #1707
@joshuawilson I think we shouldn't have an "add" on the pipeline widget at all probably, since really all you can add are applications, which consist of codebases + pipelines.  The application wizard should be the only way I can add a pipeline.

[2018-01-19 14:27] nimishamukherjee commented on #1928
The issue auto closed as I used Fixes in my commit message. Waiting for deployment on prod.

[2018-01-19 14:48] joshuawilson commented on #1900
haha, ok. How about, I have come to agree with Max. I will use it the same way.

[2018-01-19 14:51] joshuawilson commented on #1707
I think this is one for further discussion.

[2018-01-19 15:48] jiekang commented on #1907
Closing as fix has been merged.

[2018-01-19 15:48] #1907 closed

[2018-01-19 15:51] qodfathr commented on #778
Based upon the description, I wonder if this is a Planner bug or a Platform bug. The display of the work items on the account dashboard which is fixed via a refresh sounds like a Platform bug to me. We seem to have a few issues related to the various dashboards being able to react to changes made immediately before their display (e.g. after creating a new Space and running the App Wizard, the redi

[2018-01-19 15:54] joshuawilson commented on #778
That was my thought too. However, if @michaelkleinhenz thinks it is something else I don't want to hinder him from fixing it.

[2018-01-19 16:28] qodfathr commented on #739
@corinnekrych is this still a valid and open epic?

[2018-01-19 16:37] jiekang commented on #1710
Closing in favor of actionable issues like: https://github.com/openshiftio/openshift.io/issues/1865

Any screen size related problems should be reported as their own issue.

[2018-01-19 16:37] #1710 closed

[2018-01-19 16:38] bartoszmajsak commented on #739
Yes, we are on it.

[2018-01-19 16:44] jiekang opened #1939 "Fix deployments donut chart to properly apply c3js css"
The deployments donut chart is a copy of the OSO Web Console donut chart. This has custom CSS that applies to c3js html elements for a specific look and feel. In Angular, CSS is encapsulated to the component the style is applied on. This leads to the c3js specific CSS not applying as it is a 'child' of the DeploymentsDonutChart component.

This should be fixed via ng-deep or view encapsulation non

[2018-01-19 16:44] qodfathr commented on #755
@ldimaggi can you please check if this is still open or not? Thanks!

[2018-01-19 16:49] qodfathr commented on #448
Please also see #770 for related discussions.

[2018-01-19 16:49] qodfathr commented on #770
Closing as dupe of #448, although good additional data here which I will xref in 448. Let's finish the discussion in the other issue.

[2018-01-19 16:49] #770 closed

[2018-01-19 16:49] ldimaggi commented on #755
Closing - looks like it is working now.

![screenshot from 2018-01-19 11-49-17](https://user-images.githubusercontent.com/642621/35161659-d61f4e4e-fd0e-11e7-8773-bb0fb9979fb3.png)

[2018-01-19 16:49] #755 closed

[2018-01-19 16:49] jiekang commented on #1654
Closing as the work targeted for this tracking issue is now complete and functioning. Any subsequent issues are external to this tracking issue.

[2018-01-19 16:49] #1654 closed

[2018-01-19 17:10] qodfathr commented on #777
I'll recommend that the current solution is good enough to close this issue, but we should open a new issue to address this the "right way" per @alexeykazakov (unless that's already been done, of course...)

[2018-01-19 17:13] qodfathr commented on #782
Closing as this UI has been radically redesigned.

[2018-01-19 17:13] #782 closed

[2018-01-19 17:14] qodfathr commented on #794
Fixed.

[2018-01-19 17:14] #794 closed

[2018-01-19 17:17] gastaldi commented on #777
Closing. Reopen if the problem persists

[2018-01-19 17:17] #777 closed

[2018-01-19 17:19] qodfathr commented on #799
Fixed.

[2018-01-19 17:19] #799 closed

[2018-01-19 17:27] qodfathr commented on #814
This looks like a bug, not a feature request. Technical debt on something that has been deployed to production and is causing that production service to not operate properly is a bug.

I'm not sure what severity to attach to this, tho. Is this usage a commonly anticipated use case? If so, this should get moved to SEV2. For now, I'm going to set to SEV3.

[2018-01-19 17:28] qodfathr commented on #819
FYI, I find that if I leave my browser open on OSIO overnight, I can rarely do anything successfully without a refresh (but need not be a hard refresh; just a regular F5).

[2018-01-19 18:08] qodfathr commented on #1934
@tisnik can you please add a severity level? Thank you.

[2018-01-19 18:15] qodfathr commented on #834
Since the message returned is, in fact, wrong (it's more than misleading, IMHO), I'm reclassifying as a bug.

[2018-01-19 18:20] jiekang opened #1940 "Unable to visit Profile page from Environments"
There is a router navigation error when trying to visit the Profile page from the Create -> Environments page.

e.g.
[code]

This breaks the entire application

[2018-01-19 18:21] qodfathr commented on #841
@samuzzal-choudhury @GeetikaBatra is there a proposal for supporting OpenAPI spec for which you can provide a link? Without any description on this issue, it's impossible for me to determine the goal. Maybe this is type/task instead?

[2018-01-19 18:25] qodfathr commented on #843
Anyone consuming the API will have their application broken when the typo is finally fixed, correct? Is this API available to consumers outside of the Analytics team? If yes, I'd argue this could be as high as a SEV1. If no, then I'm okay with SEV3 as the only clients that will need to be fixed are our own.

[2018-01-19 18:25] bartoszmajsak commented on #648
@qodfathr it's a problem of too many issues open in too many places. I'm getting clarification from the guys, but from Arquillian Cube perspective, our work is completed.

Second item is on RHOAR/Booster side, also getting info on that.

[2018-01-19 18:27] qodfathr commented on #846
There must be a bug related to this. Either the documentation is wrong, or the application is wrong. Can someone tell me which it is? Thank you.

[2018-01-19 18:39] qodfathr commented on #853
@samuzzal-choudhury @tisnik can either of you confirm if this has been fixed?

[2018-01-19 18:46] jiekang commented on #1940
After further investigation the suggested problem isn't correct. The spaces object should be null when visiting the Profile page. I'm updating the issue to define the issue only so as not to lead people astray.

[2018-01-19 18:52] qodfathr commented on #860
per #510, we are removing this menu option. Fixed via removal. :)

[2018-01-19 18:52] #860 closed

[2018-01-19 19:12] joshuawilson commented on #448
@catrobson I can you confirm?

[2018-01-19 19:16] joshuawilson commented on #739
I agree, we need this.

[2018-01-19 19:21] qodfathr commented on #869
This sounds like a request for a new feature, so I'm going to type/feature for now. Also, when bug was removed severity was not, so I'll do that, too.

[2018-01-19 19:25] joshuawilson commented on #1684
What is the status on this?

[2018-01-19 19:25] qodfathr commented on #873
@joshuawilson is this different than #874? Can we close one as a dupe of the other. As mentioned in #287, we need an entire epic devoted to quota.

[2018-01-19 19:32] qodfathr commented on #877
@joshuawilson @ldimaggi I'm wondering if we can create a Space, create a QuickStart, and then modify the Jenkinsfile and insert into it a forced failure as a way to (1) create a failure on Rollout to Stage and (2) as a way to see if this problem is fixed.

[2018-01-19 19:34] qodfathr commented on #880
@ldimaggi this is pretty old and I don't recall seeing it in quite some time. Please close if you feel this has been fixed.

[2018-01-19 19:38] qodfathr commented on #881
Is there really a bug here? The stages are Geen, which is correct, and there is a red X on the overall build, which is also correct. At best, this is a request for change/enhancement, but I'm struggling to call this one a bug.

My option would be different if there wasn't the red X.

I'm going to relabel as feature, but feel free to put back to bug if you feel strongly about it.

cc: @ldimaggi @ca

[2018-01-19 19:40] qodfathr commented on #883
Given new design of Spaces, perhaps this can be closed? (At best, it's NPTF since it's an issue related to a screen which is going away.)

[2018-01-19 19:42] qodfathr commented on #508
@joshuawilson I think SEV3 is correct for now.

[2018-01-19 19:43] qodfathr commented on #884
Effectively a dupe of #508.

[2018-01-19 19:43] #884 closed

[2018-01-19 19:44] qodfathr commented on #508
Per #884 , which should apply the solution/logic in the Promotion modal dialog box, which also has a link to view the application and suffers the same problem today.

[2018-01-19 19:48] jiekang commented on #1940
It looks like some component being loaded when visiting the Environments page is not able to handle a null object. It's highly likely it's an attempt to use `space.attributes` when `space` is set to null when routing to the Profile page, with the access attempt occurring after it's set to null.

I suppose the priority of a fix depends on the remaining lifetime of this page. @joshuawilson Thoughts?

[2018-01-19 19:53] qodfathr commented on #891
@joshuawilson is this still correctly an open issue? If it is, I'll get it prioritized under an epic.

[2018-01-19 20:00] alexeykazakov commented on #1685
Is anyone working on this?

[2018-01-19 20:08] ldimaggi commented on #891
The fact that I have not seen this issue in several months of heavy manual and automated testing makes me think that it has been resolved. I vote to close this.

[2018-01-19 20:08] #891 closed

[2018-01-19 20:10] ldimaggi commented on #883
+1 - closing.

[2018-01-19 20:20] ldimaggi commented on #881
I have not seen this bug for a long time - I vote to just close it. We can always re-open it if we start seeing it again.

[2018-01-19 20:21] ldimaggi commented on #880
Closing - this has not been seen for a while.

[2018-01-19 20:21] #880 closed

[2018-01-19 20:24] ldimaggi commented on #873
Closing as duplicate of #874

[2018-01-19 20:24] #873 closed

[2018-01-19 20:38] #881 closed

[2018-01-19 20:39] jiekang commented on #1909
@aptmac Right, I suppose col-sm-4 came from the assumption there would only be 3 columns. In the current production this actually holds true, the 'Test' environment shouldn't exist, so it should be okay to keep a 3 column design.

However, in the future the number of environments isn't fixed so we will need to consider how to future-proof it against this. Horizontal scrolling could be applied I su

[2018-01-19 20:42] jiekang commented on #1752
Note there are at least two steps:

1. Removing the applications and environment page from being accessible and loadable in the web application.

2. Removing the `a-runtime-console` codebase that contains the code for these pages.

Step 2 is a much larger task and should be it's own issue.

[2018-01-19 20:42] #883 closed

[2018-01-19 20:49] joshuawilson commented on #1685
I don't think anyone has taken this on yet.
@dgutride do you have time to look at this?

[2018-01-19 20:52] joshuawilson commented on #1940
we are not removing the page in the next few days, so this will need to be fixed

[2018-01-19 21:05] joshuawilson commented on #877
I've moved this to the Build/CD team.

[2018-01-20 09:55] bartoszmajsak opened #1941 "Automated Definition of Done"
We spent an enormous amount of time focusing on things which are not the core of the PR itself. This includes, but it's not limited to:

- Code quality aspects
  - is a feature shipped with tests and docs
  - proper syntax
  - common bugs
  - docs
  - code coverage
- Pull Request
  - is the description provided?
  - is it linked to existing issue?
  - are commits [using proper labels](https://sees

[2018-01-20 09:55] bartoszmajsak opened #1942 "OSIO Stability improvements"
### Contract testing

- [ ] introduce contract testing between key OSIO components
- [ ] build a service for sharing contracts and orchestrate builds

### Ensuring cluster update stability

- [ ] develop a mechanism to detect configuration mismatch prior to rolling out the new cluster

[2018-01-20 09:56] bartoszmajsak opened #1943 "Testing on production"
As a developer, I want to test my service on production without affecting currently deployed versions and users so I can gain more confidence when shipping new feature.

## Related stories

- [Spikes for testing in production](https://github.com/arquillian/arquillian-organization/issues/16)

## Parent Scenario
#2169 Development teams desire to adopt best practices

[2018-01-20 10:54] abs51295 commented on #1941
👍  Looking forward to this. Would be very nice to have this :)

[2018-01-20 14:00] krishnapaparaju commented on #1792
@maxandersen this is an experiment to alert if unit tests are missing + auto generate unit tests

[2018-01-20 14:02] krishnapaparaju commented on #1792
Implementations around DeepCoder paper (https://openreview.net/pdf?id=ByldLrqlx) can be found at https://github.com/vaporized/DeepCoder-tensorflow & https://github.com/HiroakiMikami/deep-coder.

[2018-01-20 15:08] qodfathr commented on #892
I'm going to restate this issue is a slightly less technical, less implementation-specific way. @joshuawilson please correct me if I am wrong.

"How should OpenShift.io handle artifacts within a connected environment which were not created by OpenShift.io."

Absent of some better word-smithing, is that effectively correct?

I'm going to assign this to myself, as it needs a top-level Scenario. Also

[2018-01-20 15:11] qodfathr commented on #896
Closing in favor of epic #1936

[2018-01-20 15:11] #896 closed

[2018-01-20 15:15] qodfathr commented on #898
Fixed.

[2018-01-20 15:15] #898 closed

[2018-01-20 15:17] qodfathr commented on #901
close as dupe of #902

[2018-01-20 15:17] qodfathr commented on #902
Close as dupe of #901

[2018-01-20 15:17] #902 closed

[2018-01-20 15:20] qodfathr commented on #904
Now handled via #287

[2018-01-20 15:20] #904 closed

[2018-01-20 15:23] qodfathr commented on #907
Closing as this screen is being removed. If we have a similar issue on #287 , we can open a new issue for that.

[2018-01-20 15:23] #907 closed

[2018-01-20 15:29] qodfathr commented on #1252
Bumping to SEV2 as this is becoming a larger point of confusion for new users.

[2018-01-20 15:31] qodfathr commented on #916
As of today, the flow is essentially correct. We'll create new Scenarios as necessary, although we already know that the Analyze screen group is an area of future investment and we anticipate seeing big changes here future trains (likely by K). #1252 is still a significant issue, however.

[2018-01-20 15:31] #916 closed

[2018-01-20 15:48] qodfathr commented on #922
Needs parent Scenario around permissions (which is currently in PDD but needs to get to GitHub or OSIO).

[2018-01-20 15:51] samuzzal-choudhury commented on #841
@qodfathr we will have to take up this engineering activity at a later time. This is not a priority at this moment and we can close this.

[2018-01-20 15:51] #841 closed

[2018-01-20 15:54] qodfathr opened #1944 "My Spaces UI is very hard to use on large monitor"
![image](https://user-images.githubusercontent.com/16322190/35185282-fb1dbae8-fdcf-11e7-9661-8f5ef062faee.png)
On my 4K monitor, running my browser full-screen, the kabob menu is extremely far away from the Space names. Also, there is no visual feedback of which row I am hovering over. As such, we I open the kabob menu to delete a space, I have to stop myself because I'm no longer sure if I opened

[2018-01-20 15:54] samuzzal-choudhury commented on #853
@qodfathr changes are already available. Closing this issue. CC: @tisnik

[2018-01-20 15:54] #853 closed

[2018-01-20 15:56] qodfathr commented on #925
This is actually pretty concerning, as it does not look to be just a caching/display issue. The deleted Space really does seem to still exist.

[2018-01-20 16:01] qodfathr commented on #928
Related #892. When that gets a new parent Scenario, this issue should also be considered as part of that.

[2018-01-20 16:03] qodfathr commented on #929
The error page has been created, so technically this issue can be closed. If we need user flows for other kinds of errors, each one of those should get its own issue (and a common parent Scenario).

[2018-01-20 16:03] #929 closed

[2018-01-20 16:09] qodfathr commented on #934
Addressed, as we now have a way for people to update their profile with whatever image URL they want. (Although, to be fair, that functionality is very buggy right now and I have security concerns which need to be discussed.)

[2018-01-20 16:09] #934 closed

[2018-01-20 16:13] qodfathr commented on #945
@ldimaggi still an issue? If only one prod-preview, we have a new env/prod-preview label you may use.

[2018-01-20 16:24] qodfathr opened #1945 ""View last build" menu option on a pipeline brings user to a generally useless screen"
This:
![image](https://user-images.githubusercontent.com/642621/30660599-6da14614-9e0f-11e7-9ce8-63225112189d.png)
brings you to this:
![image](https://user-images.githubusercontent.com/16322190/35185515-d0c2a4da-fdd3-11e7-87cc-75e3aa456d4a.png)
I have no idea what the purpose of this screen is.

I'm tempted to recommend that we remove this menu option altogether, unless someone can argue in favor

[2018-01-20 16:24] qodfathr commented on #1945
@catrobson thoughts on this?

[2018-01-20 16:27] qodfathr commented on #981
I recommend that we remove this menu option for now.

[2018-01-20 16:31] aslakknutsen commented on #925
@qodfathr It only 'seems' to exist. It is actually deleted, but for whatever silly reason a new one is created with the same name. Some integrations only match on SpaceName which is why you can see 'old' data still in the same, but the Space actually has a different ID.

[2018-01-20 18:05] qodfathr commented on #982
@catrobson I don't think anyone knows what these are supposed to do, and I know UXD didn't design them. I'd vote to remove this menu options. Thoughts?

[2018-01-20 18:06] qodfathr commented on #556
#982 is discussions the possibility of removing this menu option.

[2018-01-20 18:08] qodfathr commented on #994
Fixed.

[2018-01-20 18:08] #994 closed

[2018-01-20 18:10] qodfathr commented on #1020
@ldimaggi did you mean 24-hour instead of 20-hour

@l0rd any updates on this?

[2018-01-20 19:15] qodfathr commented on #1030
@Preeticp thank you for this suggestion. A checklist in a work item is actually an anti-goal of the Planner. That's how some other systems behave (e.g. Trello; GitHub) because those systems fail to properly support true parent/child relationships. In the OpenShift.io Planner, rather than a checklist in a work item, the work item would be linked to a number of children, each representing one of the

[2018-01-20 19:15] #1030 closed

[2018-01-20 19:21] qodfathr commented on #1245
Is this done?

[2018-01-20 19:24] qodfathr commented on #1285
cc: @bob-davis

[2018-01-20 19:28] qodfathr commented on #1344
Closed as dupe AND fixed.

[2018-01-20 19:28] #1344 closed

[2018-01-20 21:27] ldimaggi commented on #1020
Yes - sorry - that should read "24"

On Sat, Jan 20, 2018 at 1:10 PM, Todd Mancini <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2018-01-20 21:31] ldimaggi commented on #945
I think that we should close this bug in favor of this newer issue:  https://github.com/openshiftio/openshift.io/issues/1933

[2018-01-21 03:13] dlabrecq commented on #1685
@joshuawilson / @dgutride We had spoken about this issue during UXD planning a couple sprints back. It was suggested that another team was working in this same area?

[2018-01-21 07:10] joshuawilson commented on #1944
Looks like we need to be responsive on large and small screens.
cc @mindreeper2420

[2018-01-21 07:24] joshuawilson commented on #892
@qodfathr that sounds right to me.

[2018-01-21 07:49] arunkumars08 commented on #1684
@joshuawilson This activity could be taken as a part of the coming sprint. Also, the proxy is not yet ready I guess.

[2018-01-21 12:58] dgutride commented on #892
@qodfathr @joshuawilson - there is a design we are trying to move toward that would look at the Openshift environment on application load to see if there are resources in there that were created outside of openshift.io:  https://redhat.invisionapp.com/share/WRE22FA2B#/screens/260370530 -

We had requested an API that could detect suitability of the environment to be used on this page:  https://git

[2018-01-21 13:02] Preeticp commented on #1030
Sounds good. Thanks for the explanation, that helps.

Sure, I will do that.

[2018-01-21 13:02] catrobson commented on #982
Agree on removal.

[2018-01-21 14:29] slemeur commented on #1434
From my understanding the latest version of the mockups is the following one: https://redhat.invisionapp.com/share/V9EIZNOZX#/screens/263956702_Codebases_And_Workspaces_1.

[2018-01-21 15:19] catrobson commented on #1945
This is all information that is available in the OpenShift console, which we link to readily from the pipeline.  Agree we should get rid of this additional page for now.

[2018-01-21 15:28] catrobson commented on #1574
Will address as part of https://github.com/fabric8-ui/fabric8-ux/issues/443

[2018-01-21 15:53] slemeur opened #1946 "Pre-merge feedback flow"
### Goal
Provides a pre-merge feedback flow which allows all stakeholders to be involved on reviewing the work that is getting done in a WI.

### Description
OSIO provides simple interactions between all the stakeholders which might be involved on a particular WI. This epics will provide a seamless integration between a WI, Che workspaces and CI.

**Sample Flow:**
- Dev starts working on a WI, cli

[2018-01-21 16:25] alexeykazakov commented on #1684
Proxy is available in preview. Please start working on this ASAP.

[2018-01-21 21:01] ldimaggi opened #1947 "wfswarm-rest-http-secured-redhat booster fails to build after import"
Error reported in Jenkins build log for booster - wfswarm-rest-http-secured-redhat

Jenkins build log:

[WARNING] Rule 0: org.apache.maven.plugins.enforcer.RequireProperty failed with message:
The property `SSO_AUTH_SERVER_URL` is missing!
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ----------------------------------------------------

[2018-01-21 21:13] joshuawilson commented on #1574
Can we close this if you have it tracked elsewhere?

[2018-01-21 21:28] ldimaggi opened #1948 "wfswarm-rest-http-secured booster fails to build after import"
Error reported in Jenkins build log for booster - wfswarm-rest-http-secured

[WARNING] Rule 0: org.apache.maven.plugins.enforcer.RequireProperty failed with message:
The property `SSO_AUTH_SERVER_URL` is missing!
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO]

[2018-01-21 21:29] ldimaggi opened #1949 "wfswarm-booster-license-generator fails to build after import"
Error reported in Jenkins build log for booster - wfswarm-booster-license-generator

[ERROR] Failed to execute goal org.wildfly.swarm:wildfly-swarm-fraction-plugin:65:generate-licenses (generate-licenses) on project wfswarm-booster-license-generator: null: MojoExecutionException: NullPointerException -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e sw

[2018-01-21 21:36] ldimaggi opened #1950 "wfswarm-circuit-breaker-redhat fails to build after import"
Error reported in Jenkins build log for booster - wfswarm-circuit-breaker-redhat

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] WildFly Swarm - Circuit Breaker Booster ............ FAILURE [ 28.420 s]
[INFO] WildFly Swarm - C/B Booster - Name Service ......... SKIPPED
[INFO] WildFly Swarm - C/B Booster - Greeting Service .....

[2018-01-21 21:41] ldimaggi opened #1951 "wfswarm-rest-http-crud-redhat - build after import is successful, stage and run endpoints are never reachable"
Stage log:

2018-01-21 20:57:04,924 INFO  [org.jboss.weld.Bootstrap] (main) WELD-ENV-002001: Weld SE container internal shut down
2018-01-21 20:57:04,925 ERROR [stderr] (main) java.lang.reflect.InvocationTargetException
2018-01-21 20:57:04,925 ERROR [stderr] (main) 	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
2018-01-21 20:57:04,925 ERROR [stderr] (main) 	at sun.reflect.NativeMe

[2018-01-21 23:13] ldimaggi opened #1952 "wfswarm-rest-http-crud - build after import is successful, stage and run endpoints are never reachable"
Same error as:  wfswarm-rest-http-crud-redhat

See: https://github.com/openshiftio/openshift.io/issues/1951

[2018-01-21 23:15] ldimaggi opened #1953 "wfswarm-configmap - build fails after import"
Jenkins build log:

Jan 21, 2018 10:29:25 PM org.jboss.arquillian.core.impl.ObserverImpl resolveArguments
WARNING: Argument 1 for UpdateTestResultBeforeAfter.update is null. It won't be invoked.
Jan 21, 2018 10:29:25 PM org.jboss.arquillian.core.impl.ObserverImpl resolveArguments
WARNING: Argument 1 for UpdateTestResultBeforeAfter.update is null. It won't be invoked.
Jan 21, 2018 10:29:25 PM org.j

[2018-01-21 23:16] ldimaggi opened #1954 "wfswarm-configmap-redhat - build fails after import"
Jenkins build log:

[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 309.322 s <<< FAILURE! - in io.openshift.boosters.GreetingServiceTest
[ERROR] io.openshift.boosters.GreetingServiceTest  Time elapsed: 309.321 s  <<< ERROR!
org.jboss.arquillian.container.spi.client.container.DeploymentException: Process failed to start
Caused by: org.jboss.arquillian.container.spi.client.c

[2018-01-21 23:37] ldimaggi commented on #648
Summary of running RHOAR boosters on OSIO (import, execute build pipeline)

* wfswarm-booster-license-generator - build fails - https://github.com/openshiftio/openshift.io/issues/1949
* wfswarm-circuit-breaker  - build fails - https://github.com/openshiftio/openshift.io/issues/1880
* wfswarm-circuit-breaker-redhat - build fails - https://github.com/openshiftio/openshift.io/issues/1950
* wfswarm-co

[2018-01-22 01:42] mindreeper2420 commented on #1443
Current list of screens with issues at the "small" resolution/breakpoint:

- [ ] User Profile
- [ ] Planner (all)
- [ ] Deployments

[2018-01-22 01:42] mindreeper2420 commented on #1909
As it stands today, with it only being a three column layout, I have no problem continuing to use the `col-sm-4` classes. The page was designed with this 'fixed' methodology in mind, so it falls in line with that.

As far as the issues when the small screen is hit, the product is not currently 100% designed to handle all screen sizes. In some instances, it does not make sense to configure screens

[2018-01-22 01:45] mindreeper2420 opened #1955 "Experimental Features Bar Incorrectly Styled"
The Experimental Features bar is incorrectly styled. There is an awkward shadow/border around the 'profile' link and the 'Got It!' button in the bar.

<img width="339" alt="screen shot 2018-01-21 at 8 44 05 pm" src="https://user-images.githubusercontent.com/4032718/35201750-f0b25cd6-feeb-11e7-99c2-0a41073d54af.png">

[2018-01-22 01:46] mindreeper2420 opened #1956 "Opt-In Button Styled Incorrectly"
The Opt-In button that appears on the Blank State Features screen in styled incorrectly. The shadows are not to PatternFly specs, there is no hover affect and the onclick styles are incorrect.

<img width="270" alt="screen shot 2018-01-21 at 8 46 35 pm" src="https://user-images.githubusercontent.com/4032718/35201785-3225854e-feec-11e7-94b7-2758cc2ee227.png">

[2018-01-22 01:54] mindreeper2420 commented on #1944
At this time, large screens are anything great than or equal to 1200px wide. As such, the standard 1920x1080 screens are about as large as are supported by default on the current frameworks. For resolutions above that (especially 3840x2160 or 7680x4320), we will need a complete custom set of queries and add-ons.

For reference, these are the supported media queries:
[code]

[2018-01-22 04:07] joshuawilson commented on #1944
What will it take to add custom media queries for the large screens?

[2018-01-22 06:07] mishaone opened #1957 "Git Commit in workspace does not commit, says it did"
I'm trying the standard demo workflow:
1. Created a new space, a new HTTP Booster project. So far so good.
2. Created a workspace, made a minor change to the code, committed to git. Got a terminal message that the commit successfully happened:
![hw_commit_successful](https://user-images.githubusercontent.com/926572/35207290-daa3ac9a-ff8d-11e7-9644-d7290cddb98f.png)
3. Checked out pipelines page an

[2018-01-22 08:02] corinnekrych opened #1958 "Provide a way to not load menu when feature flag is off"
Belong to [EPIC: Feature Flags](https://github.com/openshiftio/openshift.io/issues/1165)
# Description
Provide a way for feature to not be loaded at all when the feature is a menu. Use the dynamic routing to avoid ,loading unnecessary menu.

# Acceptance Criteria
List of tasks:
- [ ] App routing implementation like https://gist.github.com/corinnekrych/90cfd7086ddb052a7d8e720568f9d51b#hide-menu

cc

[2018-01-22 08:16] maxandersen commented on #1792
yes, I get that - but what value does it give the users to be told unit tests are missing vs having coverage tests running that would reveal the same ?

what kind of unit tests are expected to be generated ? looking at paper it  seem to just be academic boundary tests ?  (which can be fine but it would be a big stretch to call those sufficient as unit tests)

[2018-01-22 09:07] sunilk747 commented on #1833
Closing this issue as this case is handled as part of new UI.

[2018-01-22 09:07] sunilk747 commented on #1833
Closing this issue as this case is handled as part of new UI.

[2018-01-22 09:07] #1833 closed

[2018-01-22 09:08] #1937 closed

[2018-01-22 09:11] sunilk747 commented on #1547
Closing this issue as it is handled as part of new UI.

[2018-01-22 09:11] #1547 closed

[2018-01-22 09:29] sunilk747 commented on #1676
Closing this issue as it is handled as part of new UI.

[2018-01-22 09:29] #1676 closed

[2018-01-22 10:08] jyasveer opened #1959 "Usage outlier number and details does not match"
I created a space with the quick start application "Spring Boot - Http Example' and then clicked on the stack report link on the dashboard once it was visible.
In the report i see that usage outliers is 1 in the Insights summary card, but when i click on the card, i see no details for the usage outliers. Below is the stack id that got generated :-
**73f5b8c33de049dc8d122227e7290a10**

Here is the

[2018-01-22 10:22] bartoszmajsak commented on #648
@ldimaggi can you break down what kind of issues we are facing in those builds in the comment above? I see several different problems including license plugin for Maven, Fabric8 Maven Plugin, Enforcer Plugin and test errors.

[2018-01-22 10:24] maxandersen commented on #1245
jenkins idler is in production for subset of users now. still work to be done to enable for users by default.

[2018-01-22 10:34] corinnekrych opened #1960 "support both `released` and `nopreproduction` in user consent profile page"
Linked to https://github.com/openshiftio/openshift.io/issues/1912

The UI should support both `released` and `nopreproduction` in user consent profile page.
We need to support both until the auth backend is deployed.

This is the plan for deployment:
1 - UI has to support the new released value along with the older nopreproduction one. HERE what this issue is about.
2 - auth will convert the nopre

[2018-01-22 10:35] corinnekrych opened #1961 "support only `released` in user consent profile page"
Linked to https://github.com/openshiftio/openshift.io/issues/1912

The UI should support both `released` and `nopreproduction` in user consent profile page.
We need to support both until the auth backend is deployed.

This is the plan for deployment:
1 - UI has to support the new released value along with the older nopreproduction one.
2 - auth will convert the nopreproduction to released, so that

[2018-01-22 10:39] #1959 closed

[2018-01-22 10:45] xcoulon opened #1962 "Update user profile to convert remaing `nopreproduction` to `released`"
Update the `users` table to convert any remaining `nopreproduction` values in the `feature_level` column to `released`.

[2018-01-22 10:51] jpopelka commented on #1883
@GeorgeActon ^

[2018-01-22 11:55] maxandersen commented on #1913
Here is what I see in openshift console:
![2018-01-22_12-52-50](https://user-images.githubusercontent.com/54129/35219506-37f2a31c-ff73-11e7-975d-bef8f3183ed1.png)

Notice there are both test3 and test4.

In openshift.io I see this:
![2018-01-22_12-54-18](https://user-images.githubusercontent.com/54129/35219549-5f10a430-ff73-11e7-97d3-2a46dbd6aea3.png)

notice how only test4 shows up.

when I commi

[2018-01-22 11:56] maxandersen commented on #1913
My question is from *where*  are the list of pipelines fetched ? if in openshift resources - what is the age limit on those ?

[2018-01-22 11:57] chmouel commented on #1913
No idea, let's see if @rupalibehera or @sthaha would know

[2018-01-22 12:13] ldimaggi commented on #1913
I have seen problems like this - but they were due to an account env being reset - I've been watching some pipelines in my account since last week and they are still there:

![screenshot from 2018-01-22 07-11-37](https://user-images.githubusercontent.com/642621/35220276-b901a1cc-ff43-11e7-8a0c-d27aee60e6eb.png)

[2018-01-22 12:43] jpopelka commented on #953
Regarding Glide support see #1406 and #1618

[2018-01-22 13:07] pbergene commented on #1928
@nimishamukherjee What is the status here?

[2018-01-22 13:07] sunilk747 commented on #1147
Closing this as it is handled as part of new UI.

[2018-01-22 13:07] #1147 closed

[2018-01-22 13:09] jpopelka commented on #1079
Has been completed since Nov 2017, closing.

[2018-01-22 13:09] #1079 closed

[2018-01-22 13:16] rgarg1 commented on #1928
@joshuawilson The fix seems to be available and working in production. Could you please once verify and close.

[2018-01-22 13:19] #1928 closed

[2018-01-22 13:22] ldimaggi commented on #648
I'm not sure what's wrong with the circuit breaker boosters - it seems to have this problem - Cannot extract generator config - at it core.

* wfswarm-circuit-breaker - build fails - #1880
* wfswarm-circuit-breaker-redhat - build fails - #1950
____________________________________

For the configmap boosters, the problem look like a failed dependency on Arquillian:
* wfswarm-configmap - build fails

[2018-01-22 13:30] ibuziuk commented on #1957
@mishaone have you commit & push to github, or just commit in the local repo ?

[2018-01-22 13:30] l0rd commented on #1615
@slemeur can you please try to reproduce it?

[2018-01-22 13:38] sunilk747 commented on #1497
Closing this as it is handled as part of new UI. Please feel free to reopen if you feel otherwise.

[2018-01-22 13:38] #1497 closed

[2018-01-22 15:06] jiekang commented on #1923
Some notes on behavior:

Looking at Console logs, there are two separate Router event chains when visiting the Planner tab. One for the initial route to the Planner tab, and another routing to the Planner tab with the query parameters set.

When navigating away from the Planner tab to Analyze or Create under a Space, this second Routing event chain persists. There is an initial route to the target

[2018-01-22 15:08] qodfathr commented on #1165
@corinnekrych @joshuawilson sorry that I missed the question from a few months ago. Joshua's response was and still is correct -- anonymous users only see "released" content.

[2018-01-22 15:13] ldimaggi opened #1963 "Feature request - Can we delay displaying stage/run links on screen until deployment to stage/run is complete?"
When an app is deployed to stage or run from its build pipeline, the link to the deployed app is often visible in the UI before the app itself is reachable at the link.

The result is that while the user sees this on the pipeline page of the UI:
![screenshot from 2018-01-22 10-04-22](https://user-images.githubusercontent.com/642621/35227331-d6d0745e-ff5b-11e7-8878-18f265e1a4d3.png)

Depending on t

[2018-01-22 15:18] qodfathr commented on #1517
@joshuawilson @alexeykazakov this seems okay to close, but want to get your opinions.

[2018-01-22 15:20] ldimaggi commented on #1517
I'd vote to close this one - I am creating new apps/quickstarts every day without seeing this issue.

[2018-01-22 15:21] gastaldi commented on #1517
Closing as requested.

[2018-01-22 15:21] #1517 closed

[2018-01-22 15:34] joshuawilson opened #1964 "Deployments: update configs"
# Description
As a user I want to be able to update the build configs from the Deployments page.

# Acceptance Criteria

- [ ] todo

[2018-01-22 15:41] joshuawilson opened #1965 "deployments: add labels"
# Description
As a user I want to be able to add kubernetes labels to the apps on the Deployments page.

# Acceptance Criteria

- [ ] Each application should be able to take a label
- [ ] One label should be able to be shared across different apps
- [ ] Sub-components of an app should be able to be labeled

[2018-01-22 15:55] jiekang opened #1966 "Deployments Donut: Desired replicas text should only update when user attempts to scale"
The desired replicas text currently updates when users attempt to scale, or the pods data changes. The latter should not occur. Otherwise, when a user scales the pod in Openshift's console and the pods data changes, the text in the OSIO Deployments page will be misleading.

The relevant code is in `deployments-donut-chart.component.ts`

[2018-01-22 15:58] gastaldi commented on #1949
This is not a booster. Closing

[2018-01-22 15:58] #1949 closed

[2018-01-22 16:00] gastaldi commented on #1061
Booster was removed. Closing. Reopen if the problem persists

[2018-01-22 16:00] #1061 closed

[2018-01-22 16:05] GeorgeActon commented on #1692
@GeetikaBatra Is this completed?

[2018-01-22 16:06] maxandersen commented on #1683
marking as crucial dependency for #948 as without it we can't complete multicluster support.

[2018-01-22 16:08] maxandersen commented on #1684
marking as crucial dependency for #948 as without it we can't complete multicluster support.

[2018-01-22 16:09] ibuziuk commented on #1683
@maxandersen FYI, the fix on che / che-starter side is ready we just do not want to merge it till OSO proxy would be available on prod - https://github.com/redhat-developer/rh-che/pull/514#issuecomment-359378172

[2018-01-22 16:09] maxandersen commented on #1685
marking as crucial dependency for #948 as without it we can't complete multicluster support.

[2018-01-22 16:10] maxandersen commented on #1686
marking as crucial dependency for #948 as without it we can't complete multicluster support.

[2018-01-22 17:10] andrewazores opened #1967 "Deployments cards' text cannot be selected"
Highlighting/selecting text within deployments cards causes the cards' expanded states to toggle, preventing users from being able to easily copy things out via mouse selection.

[2018-01-22 17:24] qodfathr commented on #1957
@mishaone please take another look at the QuickStart guide. It looks like you missed the Push, as @ibuziuk has suggested. When you git commit, you are committing to the *clone* of your GitHub repo which has been placed into your Che workspace. You need to git push from the Che workspace back to the "upstream" GitHub repository for the pipeline to kick off.

[2018-01-22 17:36] ldimaggi commented on #1952
See:  https://issues.jboss.org/browse/SWARM-1801

[2018-01-22 17:49] qodfathr commented on #1028
I don't care where this gets fixed -- either in the App Wizard or in the pipeline definitions.

[2018-01-22 17:58] qodfathr commented on #1050
It sounds like we have a reasonable work-around now, and if we run into further needs adding the Red Hat repos we can either reopen this or create a new issue as part of a larger Scenario.

[2018-01-22 17:58] #1050 closed

[2018-01-22 18:11] mindreeper2420 commented on #1925
My guess is routing. There are routing modules that add in the secondary navigation based on the parent element. The styles are applied after the parent element tells the UI to display the child navigation.

[2018-01-22 18:33] joshuawilson opened #1968 "deployments: allow migration to alternate servers"
# Description
As a user I want to be able to move my app to a different server or tier.

# Acceptance Criteria

- [ ] Be able to have the app deploy to different servers per stage
- [ ] Be able to migrate the app from one server to another one
- [ ] Be able to migrate the app while it is live/running
- [ ] Be able to migrate from free tier to pro and back

[2018-01-22 18:34] GeetikaBatra commented on #1692
@GeorgeActon ,Yes.

[2018-01-22 18:34] #1692 closed

[2018-01-22 18:35] GeetikaBatra commented on #1691
This is completed. We can close this one.

[2018-01-22 18:36] GeetikaBatra commented on #1284
This is completed, we can close this one as well.

[2018-01-22 18:37] GeetikaBatra commented on #1278
3scale connect api is available in production, we can close this one.

[2018-01-22 18:50] alexeykazakov commented on #1069
This issue is covered by https://github.com/openshiftio/openshift.io/issues/948 and https://github.com/openshiftio/openshift.io/issues/1747
I'm closing this issue as a dupe.

[2018-01-22 18:50] #1069 closed

[2018-01-22 18:51] joshuawilson commented on #1049
I think we should consider keeping this. On the free tier the user may want to play around and then reset. I reset just to clean up so I don't have to do it manually.

[2018-01-22 18:57] joshuawilson commented on #1029
Yes, I believe it is still valid. This is an idea that @cctrieloff had. With the intent that a certain individuals could have a profiles on OSO that has more RAM and CPU.

[2018-01-22 18:59] joshuawilson commented on #998
Yes, it's a dup. We have Sentry.io set up and once we get the UI to start logging errors there, you can write up an issue to use it.

[2018-01-22 18:59] #998 closed

[2018-01-22 19:25] bartoszmajsak commented on #1953
@ldimaggi can you share bigger chunk of the log?

[2018-01-22 19:25] bartoszmajsak commented on #1954
@ldimaggi can you share bigger chunk of the log?

[2018-01-22 19:27] ldimaggi commented on #1735
Closing as this has not been seen in 2+ weeks.

[2018-01-22 19:27] #1735 closed

[2018-01-22 19:28] jiekang commented on #1888
@mindreeper2420 To clarify the conclusion of the discussion, is the suggested path to use ViewEncapsulation.None in situations where we need to apply styles to child components?

[2018-01-22 19:30] jiekang commented on #1625
Closing as this has been done.

[2018-01-22 19:30] #1625 closed

[2018-01-22 19:31] jiekang commented on #1623
@stooke is this still a valid issue or can it be closed?

[2018-01-22 19:32] jiekang commented on #1370
I think this issue can be closed now. There's still a few pieces of API that are awaiting changes in the backend but they can be tracked in their own issues if needed. @andrewazores thoughts?

[2018-01-22 19:35] andrewazores commented on #1370
How about I modify the commit message for https://github.com/fabric8-ui/fabric8-ui/pull/2416 so that it closes this issue when merged, and we can create a new tracking issue for the stuff in the card dropdown menu?

[2018-01-22 19:35] jiekang commented on #1370
That sounds good to me. Thanks!

[2018-01-22 19:51] andrewazores opened #1969 "Deployments cards' dropdown menu items don't link to app/OSO"
"View logs", "View OpenShift Console", and "Open Application" all point to example.com currently. "View logs" and "View OpenShift Console" should link to the OSO console for the deployment, and "Open Application" should link to the URL of the deployment itself, if applicable.

[2018-01-22 19:52] qodfathr commented on #1968
Why was this give label train/heather? I don't see a commitment to this in the H plan.

[2018-01-22 19:52] andrewazores commented on #1370
Dropdown menu issue here: https://github.com/openshiftio/openshift.io/issues/1969

[2018-01-22 19:52] joshuawilson commented on #1961
Do we still need to do this based on the merging of the related PR?

[2018-01-22 19:53] qodfathr commented on #1092
As #263 is closed, what's the status of this?

[2018-01-22 19:57] joshuawilson commented on #1968
This is phase 2 for Deployments and falls under "in-progress". I consider this story a stretch goal however.

[2018-01-22 20:14] qodfathr commented on #1114
This was targeted for Sprint 140. Status?

[2018-01-22 20:19] qodfathr commented on #1121
Status on this? Some threads look fine in Gmail, but some make it look like the entire body of the message is the old, quoted portion. See the ... in the image below? That's the most recent email in the thread, and it should be showing the body of the message.

![image](https://user-images.githubusercontent.com/16322190/35242419-834fe298-ff87-11e7-923f-7d76d658beff.png)

[2018-01-22 20:22] stooke commented on #1623
Still an issue, will probably change this to also use the Proxy server where possible.

[2018-01-22 20:27] qodfathr commented on #1122
When I go to someone else's Space and Add to Space, I can walk through the wizard and it actually creates a new repo in *my* GitHub account. "Finishing" the wizard seems to try and run it again, during which it hangs.

The "Add to Space" buttons either need to be disabled or removed when I'm in another space for which I am not a collaborator. (And given that the collaboration model is pretty light

[2018-01-22 20:30] qodfathr commented on #456
@ldimaggi did you mean #508 or #585? I don't think this issue is a dupe of itself. :)

[2018-01-22 20:33] qodfathr commented on #1126
Although related to #508, I actual think, based upon my experience, that this is a separate issue. I believe that I have often observed that, after having deployed an update to Stage, when I view the application (even after the rolling update is complete) I see the old version of the application.

A refresh fixes the problem, so this feels like a caching issue.

I do not know if it's a problem wit

[2018-01-22 20:36] qodfathr commented on #1141
Step # 2 worked for me, but I still got the error all the same.

[2018-01-22 20:43] maxandersen commented on #1968
I don't see these in H and also management of deployments is done via jenkins builds and templates - I'm struggling to see how this fits into deployment UI ?

[2018-01-22 20:49] qodfathr commented on #1152
A cancel button is now available, but back shouldn't behave the way it does. (For me, Back just leaves me on the same Work Item Type screen.)

FWIW, I believe this button is going away. Is that correct, @michaelkleinhenz ?

[2018-01-22 20:51] mishaone commented on #1957
ACK, was missing the push checkbox. Thanks folks, apologies for the brainfart.

[2018-01-22 20:51] #1957 closed

[2018-01-22 20:52] qodfathr commented on #1162
Closing, as this is now being tracked in upstream.

[2018-01-22 20:52] #1162 closed

[2018-01-22 20:53] qodfathr commented on #1170
No ones seems to be able to reproduce this, so closing. @krishnapaparaju please feel free to reopen if you see it again.

[2018-01-22 20:53] #1170 closed

[2018-01-22 21:04] qodfathr commented on #1171
Fixed

[2018-01-22 21:06] qodfathr commented on #1175
Fixed.

[2018-01-22 21:06] #1175 closed

[2018-01-22 21:07] mindreeper2420 commented on #1121
From what I've seen, Google tends to do this for a lot of emails in my account - whether from OpenShift.io or just replies within Gmail. I'm not sure, at this point, if this is a Gmail application issue, or something from our service.

[2018-01-22 21:08] qodfathr commented on #1177
Fixed

[2018-01-22 21:08] #1177 closed

[2018-01-22 21:09] qodfathr commented on #1178
Fixed.

[2018-01-22 21:09] #1178 closed

[2018-01-22 21:12] qodfathr commented on #1183
Still not fixed in prod.

[2018-01-22 21:15] qodfathr opened #1970 "Space creation fails when Space name has 63 characters"
1. Create a Space with 63 characters in the name
2. Get a failure notification; no Space created.

[2018-01-22 21:15] qodfathr commented on #1183
I am going to close this as fixed and I've opened a new issue #1970.

[2018-01-22 21:15] #1183 closed

[2018-01-22 21:23] qodfathr commented on #1193
Closing in favor of tracking upstream.

[2018-01-22 21:24] qodfathr commented on #1194
@ldimaggi status check on this?

[2018-01-22 21:26] qodfathr commented on #1206
Closing, as this part of the UI has been completely rewritten

[2018-01-22 21:26] #1206 closed

[2018-01-22 21:30] qodfathr commented on #1208
We've had to sacrifice drag-and-drop for the time being with the new design. Closing (since it's no longer reproducible as it is no longer even doable). If this returns when drag-and-drop returns, feel free to reopen or file a new issue.

[2018-01-22 21:30] #1208 closed

[2018-01-22 21:31] qodfathr commented on #1220
Fixed.

[2018-01-22 21:31] #1220 closed

[2018-01-23 00:24] ldimaggi commented on #1194
I think I saw this over the weekend - will run some tests tonite and close it it does not happen - unclear what might have caused or fixed this.

[2018-01-23 01:33] krishnapaparaju commented on #1083
@samuzzal-choudhury would 3Scale dashboard provide this information ?

[2018-01-23 01:34] krishnapaparaju commented on #1085
@tuxdna @msrb Lets target Graph to be in complete sync for complete Maven and Node ecosystems.

[2018-01-23 01:36] krishnapaparaju commented on #1330
@jpopelka what is the criteria being followed to term a resoruce as 'stale / unnecessary' resource ?

[2018-01-23 01:40] krishnapaparaju opened #1971 "Sprint plan for Fabric8 Analytics: #144"
**IDE Extensions: Make required changes as per PM's feedback**

**Extend insights to cover WildFly Swarm applications**

- [ ] #2090

**TODOs for publishing Devstudio plugin**

- [x] Replace all printStackTrace and System.out.println calls with proper logging(https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/149)
- [x] Refactor plugins(https://github.com/fabric8-analyt

[2018-01-23 02:03] ldimaggi commented on #456
Yes - that is #508.

[2018-01-23 02:03] #456 closed

[2018-01-23 02:06] krishnapaparaju commented on #833
@samuzzal-choudhury can you please work with Preethy and close this issue

[2018-01-23 02:08] krishnapaparaju commented on #834
@samuzzal-choudhury please check if this issue is reproducible..

[2018-01-23 02:11] ldimaggi commented on #1049
+1 to keeping it. Thx!

On Mon, Jan 22, 2018 at 1:51 PM, Joshua Wilson <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2018-01-23 02:13] krishnapaparaju commented on #541
@rgarg1 I could not reproduce this issue.. Wizard is doing good, build pipelines are kicking in, could see stack report. Can you please recheck and close this issue..

cc @qodfathr

[2018-01-23 02:57] ldimaggi commented on #1953
[jenkins_log.txt](https://github.com/openshiftio/openshift.io/files/1654354/jenkins_log.txt)

[2018-01-23 03:08] samuzzal-choudhury commented on #1083
@krishnapaparaju 3scale does have built in analytics for measuring the 3scale service usage but that does not drill down to the details of individual API calls. I think that will not be enough to fulfill our requirement.

AFAIK, Kibana provides means to do all of the above for us. I will have to check that.

[2018-01-23 03:34] mishaone opened #1972 "applications: app name should stay in box"
In the Applications page, if we resize the browser window, the application name doesn't stay in the box:

![name](https://user-images.githubusercontent.com/926572/35256900-f4921592-0041-11e8-9884-6632c2da13c6.png)

[2018-01-23 03:35] joshuawilson commented on #1972
This page is deprecated and will be removed soon. We are not updating it.

[2018-01-23 03:35] #1972 closed

[2018-01-23 03:35] joshuawilson commented on #1972
It is being replaced by the Deployments page.

[2018-01-23 03:45] miteshvp commented on #1896
@samuzzal-choudhury - FWIW, I am not able to reproduce this issue. Closing this. Please re-open if you see otherwise.
Corresponding PR which was raised https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/64 but promoted to prod a bit late https://github.com/openshiftio/saas-analytics/pull/201

[2018-01-23 03:47] #1896 closed

[2018-01-23 03:48] vikram-raj commented on #1092
@qodfathr This has been Done and it is in prod.

[2018-01-23 03:55] #1092 closed

[2018-01-23 04:05] #1370 closed

[2018-01-23 04:11] #1877 closed

[2018-01-23 06:28] #1875 closed

[2018-01-23 06:51] tuxdna commented on #1085
Data Model importer API does not have a public route in production. So we need to add a JOBs API for invoking the sync mechanism.

Now working in creating a JOBs API invoke the sync on production.

[2018-01-23 07:23] corinnekrych commented on #1114
let me close this one. @ldimaggi did update the test long ago (using another issue I think)

[2018-01-23 07:23] #1114 closed

[2018-01-23 07:27] corinnekrych commented on #1961
@joshuawilson yes his one will clear the unneeded code here: https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/profile/update/update.component.ts#L422-L424
once auth db has migrated all user to `released`
cc @xcoulon

[2018-01-23 07:43] corinnekrych commented on #1672
Spike done here: https://github.com/corinnekrych/fabric8-ui/commit/7e3ec801d452eee952a1340b6b3249f31b895077
we need to investigate further the 'dynamic loading of component` (if needed)
but there is an issue for that https://github.com/openshiftio/openshift.io/issues/1958
therefore I'm closing.

[2018-01-23 07:43] #1672 closed

[2018-01-23 07:49] apupier commented on #1193
the visibility for Red Hat teams upstream is the same than here? Should I add the almost Red Hat specific use cases upstream?

[2018-01-23 07:50] corinnekrych commented on #1165
@qodfathr @joshuawilson @catrobson @xcoulon Could we close this one as an epic for G-train. We could open a new EPIC that hilghlights better what left to do:
- admin console for PM to set finer granularity for feature level, admin PM role, admin developer (internal feature)
- grouping of features
- component wrapper for finer granularity on the page: with or without dynamic loading, how do we disp

[2018-01-23 07:51] #1667 closed

[2018-01-23 08:08] corinnekrych commented on #1922
This has been fixed part of https://github.com/openshiftio/openshift.io/issues/1370

[2018-01-23 08:08] #1922 closed

[2018-01-23 08:10] corinnekrych commented on #1921
Fix with https://github.com/openshiftio/openshift.io/issues/1370

[2018-01-23 08:10] #1921 closed

[2018-01-23 08:57] #1694 closed

[2018-01-23 08:57] samuzzal-choudhury commented on #1647
The performance test results can be found here: https://docs.google.com/spreadsheets/d/160SEJNO__1UdCTW62s0x18YjsepApgosvlbVbwt-kSs/edit#gid=1208181716

Closing this issue.

[2018-01-23 08:57] #1647 closed

[2018-01-23 08:59] samuzzal-choudhury commented on #852
This issue was reported first by @tisnik. I could not reproduce and I think assigning this to @tisnik will make more sense.

[2018-01-23 09:07] samuzzal-choudhury commented on #834
@pkajaba After putting some more thought on this, I feel that this is appropriately reported as an HTTP error 404 (not found) and hence the response comes with the key "error". As we always (and will always) integrate this endpoint with OSIO/IDE, this is not going to have any user impact. Can we close this?

[2018-01-23 09:23] jpopelka commented on #1330
@krishnapaparaju So far, the script for deleting the AWS resources doesn't operate with 'stale/unnecessary' term as that would probably be too risky.
One needs to explicitly specify a tag (see #1081) and the script will delete all resources tagged with this tag.

[2018-01-23 09:41] abs51295 commented on #1803
The Deep and Wide model as described in this [research paper](https://arxiv.org/abs/1606.07792), has two parts:

1) Retrieval System:
    - The retrieval system returns a short list of items that best match the query using various signals, usually a combination of machine-learned models and human-defined rules.

2) Ranking System:
    - The ranking system ranks all items received from the retrieva

[2018-01-23 09:41] #1803 closed

[2018-01-23 10:10] maxandersen opened #1973 "EPIC: use of rhel for base images"
# Goals

All prod and user facing images must be on a Red Hat OS, RHEL is preferred as default and RHEL must be available as an option.

# Linked issues and subtasks

- [ ]  Images for Che https://github.com/redhat-developer/rh-che/issues/519

[2018-01-23 10:17] arunkumars08 opened #1974 "[Checklist]: Items to be addressed with VSCode extension and Stack report revamp"
Checklist of items to be addressed from VSCode IDE and revamped Stack Report point of view. The following list is formed after the demo.

### In Revamped Stack Report:

- [x] Colors for manifest tabs (indicate colors based on highest severity (CVE))
- [x] Security card notification color has to be based on cve progress colour
- [x] Insights color has to be changed (not red, may be warning color)
-

[2018-01-23 10:17] arunkumars08 commented on #1974
cc: @krishnapaparaju

[2018-01-23 10:38] corinnekrych commented on #1955
fix in https://github.com/fabric8-ui/fabric8-ui/pull/2428#pullrequestreview-90758574

[2018-01-23 10:38] #1955 closed

[2018-01-23 10:38] corinnekrych commented on #1956
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2428#pullrequestreview-90758574

[2018-01-23 10:38] #1956 closed

[2018-01-23 12:40] ldimaggi commented on #1926
Request to add Jenkins monitoring - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1157

[2018-01-23 12:48] qodfathr commented on #1221
Fixed

[2018-01-23 12:48] #1221 closed

[2018-01-23 12:49] rootAvish commented on #1802
It was clear in the initial stages of the POC itself that simply using a different library will not scale the approach to large ecosystems such as NPM, as a result we came up with a bunch of different deep learning approaches to solve the problem but finally settled on two parallel paths: The use of autoencoder based approaches and a matrix factorization approach (HPF) to solve the problem for NPM

[2018-01-23 12:49] #1802 closed

[2018-01-23 12:50] rootAvish commented on #1802
/cc @sara-02 @krishnapaparaju @sivaavkd

[2018-01-23 12:54] qodfathr commented on #1239
Done.

[2018-01-23 12:56] qodfathr commented on #1239
This is regarding the application of existing labels; reopening as I misunderstood.

[2018-01-23 13:03] aslakknutsen opened #1975 "Sometimes the UI manages to include multiple 'page' components into one page"
![screencapture-openshift-io-aslak-test670-1516712110688](https://user-images.githubusercontent.com/132158/35277142-f8f22d6c-0045-11e8-8725-1d85a3dfc75a.png)

[2018-01-23 13:03] qodfathr opened #1976 "Creating a new label on a new work item should default to being included on the work item"
1. Create a new work item

![image](https://user-images.githubusercontent.com/16322190/35276979-3c2d7fce-0013-11e8-8f2b-2fd927a6a7f7.png)

2. Open the details

![image](https://user-images.githubusercontent.com/16322190/35276996-4aada0ce-0013-11e8-9544-e332ec544bb7.png)

![image](https://user-images.githubusercontent.com/16322190/35277005-515b11cc-0013-11e8-9568-5a2c1e903dce.png)

3. Add label

![

[2018-01-23 13:06] qodfathr opened #1977 "New work item Add and Open button does not open details"
Use quick-add to create a new work item and click Add and Open button.

![image](https://user-images.githubusercontent.com/16322190/35277274-31cfbfaa-0014-11e8-9737-0eff00b9f8e1.png)

You remain on backlog view; work item details are not opened. The item is correctly added.

![image](https://user-images.githubusercontent.com/16322190/35277289-456c7be8-0014-11e8-8d25-02d8774770c3.png)

[2018-01-23 13:18] krishnapaparaju commented on #1761
pushing this work to sprint 144.

[2018-01-23 13:24] krishnapaparaju commented on #1695
Can we close this issue ?

[2018-01-23 13:31] nickboldt commented on #1971
Question.... should there be checkboxes under "TODOs for publishing Devstudio plugin" ?

When do you plan to have something stable, with passing tests, ready to add to jbosstools/devstudio Central? Next code freeze (for 4.5.3.AM1 / 11.3.0.AM1) is Feb 7, the last Wednesday of sprint 144. See Google [1] and JIRA calendars [2], [3] for more details and to know when subsequent milestones/code freezes

[2018-01-23 13:40] gastaldi opened #1978 "Typo in the Features Opt-In UI in the User profile page"
The word *recommended* is spelled as *recommenced*

![screenshot from 2018-01-23 11-39-51](https://user-images.githubusercontent.com/54133/35278806-421b430c-0032-11e8-8ac3-3286e2987c1a.png)

[2018-01-23 13:41] xcoulon commented on #1978
thanks, @gastaldi !

[2018-01-23 13:43] jiekang commented on #1978
It's in `update.component.html` of `fabric8-ui`, for what it's worth :)

[2018-01-23 13:45] qodfathr commented on #1247
Closing as the kebab menu no longer exists.

[2018-01-23 13:45] #1247 closed

[2018-01-23 13:52] krishnapaparaju commented on #1971
@nickboldt +1

@sivaavkd can you please refine work items related to DevStudio plugin work..

[2018-01-23 13:58] #1404 closed

[2018-01-23 14:01] aslakknutsen opened #1979 "Menu on iteration hides behind the background"
![screenshot from 2018-01-23 15-00-17](https://user-images.githubusercontent.com/132158/35279738-3c88f7f6-004e-11e8-9e23-5ed37f7f3e28.png)

![screenshot from 2018-01-23 15-02-14](https://user-images.githubusercontent.com/132158/35279794-6b43134c-004e-11e8-92f0-0a21f93c6ac9.png)

[2018-01-23 14:05] jiekang opened #1980 "Task: Move observable subscriptions to where they're used"
The deployments page makes use of quite a few Observables (Subjects, ReplaySubjects, plain Observables, etc.). The subscriptions for these should be consistently done at the point where the data provided by the observable is needed.

[2018-01-23 14:11] aslakknutsen opened #1981 "Creator avatar in Planner is sometimes missing"
All WorkItems created by the same user.

Unsure why, but the img elements are different:

* wrong avatar
[code]

* correct avatar
[code]

![screenshot from 2018-01-23 15-08-32](https://user-images.githubusercontent.com/132158/35280130-87a7781a-004f-11e8-9ea6-b15dba2bfcc6.png)

[2018-01-23 14:13] qodfathr commented on #1165
@corinnekrych when we move to the OSIO Planner we'll have a way to deal with multi-train "epics", but, to keep GitHub Issues clean and moving forward, I'm fine with this plan -- open a new Epic, xref it from here, and close this Epic.

[2018-01-23 14:14] joshuawilson commented on #1973
@maxandersen who would do this?

[2018-01-23 14:15] aslakknutsen opened #1982 ""Force Active" is inherited from parent iteration on "Create child""
![screenshot from 2018-01-23 15-14-28](https://user-images.githubusercontent.com/132158/35280328-236e7e2e-0050-11e8-9d3b-c8e4e8cb8eca.png)
![screenshot from 2018-01-23 15-14-13](https://user-images.githubusercontent.com/132158/35280329-2389f820-0050-11e8-871d-ae2a8b0df2ef.png)

[2018-01-23 14:16] joshuawilson commented on #1974
@sivaavkd @RanjithRV what `type` should this be?

[2018-01-23 14:19] sunilk747 commented on #1695
@krishnapaparaju Yes. Closing this as all the unknown licenses are now added to the platform.

[2018-01-23 14:19] #1695 closed

[2018-01-23 14:21] aslakknutsen opened #1983 "Filter by Creator|Assignee cause Type error in Console and hang for ever"
[code]

![screenshot from 2018-01-23 15-19-06](https://user-images.githubusercontent.com/132158/35280505-c50b5482-0050-11e8-9d95-3fb84c2be557.png)

## Impacts
- [ ] #2146 Planning Experience placeholder

[2018-01-23 14:36] aslakknutsen opened #1984 "Saved Status changes are not reflected in Table view"
![screenshot from 2018-01-23 15-33-22](https://user-images.githubusercontent.com/132158/35281299-dd3b76d4-0052-11e8-87c2-b9e61d9a9f1b.png)

[2018-01-23 14:36] #1962 closed

[2018-01-23 14:39] nickboldt commented on #1971
[ ] Enable tests. Verify all tests pass in Jenkins
[ ] Ensure back end service requirements are stable
[ ] QE approves contribution for inclusion in JBoss Tools and Devstudio Central, as a Technology Preview.
[ ] Declaration of readiness is posted to the JIRA: https://issues.jboss.org/browse/JBIDE-24897
[ ] Nick publishes a copy of the latest CI build of the fabric8 analytics plugins & feature to

[2018-01-23 14:50] RanjithRV commented on #1974
@joshuawilson As this is listing a bunch of small issues thrown together...I am marking it as type/paper-cut for now

[2018-01-23 14:53] #1876 closed

[2018-01-23 14:56] krishnapaparaju commented on #1974
@miteshvp  @invincibleJai   would  license at repo. level (current license) be optional at required API changes ?

[2018-01-23 15:09] aslakknutsen opened #1985 "WorkItemType filter on Iteration only show Types on direct Iteration, not children"
* All Tasks are children of Feature
* All Work Items are in the same iteration hierarchy

When filtered on Work Item Type, only Tasks that are directly on the iteration in question are shown.

https://prod-preview.openshift.io/aslak/test669/plan?q=(iteration:a96bcd5d-8e2d-4f39-a285-60322ad1651c%20$AND%20workitemtype:bbf35418-04b6-426c-a60b-7f80beb0b624,26787039-b68f-4e28-8814-c2f93be1ef4e,0a24d3c2

[2018-01-23 15:11] xcoulon opened #1986 "Fix random test failure on `auth`"
A test failure may happen on the `TestListCollaboratorsNotModifiedUsingIfModifiedSinceHeader` test:
[code]
(see https://ci.centos.org/job/devtools-fabric8-auth-build-master/154/consoleFull)

[2018-01-23 15:14] joshuawilson commented on #1715
Since this was a question on configuration that has been answered I'm closing it. Please reopen if you still have an issue.

[2018-01-23 15:14] #1715 closed

[2018-01-23 15:14] qodfathr commented on #1256
@maxandersen I think this is fixed. Can you verify, please, and close if it is? Thanks.

[2018-01-23 15:23] qodfathr commented on #1284
Who owns closing this? @samuzzal-choudhury, is it you?

[2018-01-23 15:25] qodfathr commented on #1301
Is this still an open issue? I don't have an `@` account to verify.

[2018-01-23 15:27] qodfathr commented on #1314
Any updates here?

[2018-01-23 15:29] qodfathr commented on #1315
Is this still an issue? Perhaps the problem is/was something along the lines of a missing Space label in OSO?

[2018-01-23 15:31] qodfathr commented on #1317
It looks like the checkboxes are out-of-date relative to the child issues. Can someone update, please?

[2018-01-23 15:33] michaelkleinhenz commented on #1984
Works for me, please check again. We had some hiccups on prod in the last minutes.

[2018-01-23 15:35] qodfathr commented on #1322
Fixed

[2018-01-23 15:35] #1322 closed

[2018-01-23 15:37] michaelkleinhenz commented on #1983
Works for me as well on prod and prod-preview. In which state did you encounter this? Were you logged in or logged out?

[2018-01-23 15:38] qodfathr commented on #1324
This seems to be done? Can we close?

[2018-01-23 15:40] qodfathr commented on #1325
Fixed

[2018-01-23 15:40] #1325 closed

[2018-01-23 15:43] michaelkleinhenz commented on #1982
We discussed that in the planning and we think this is an intended behaviour. While iterations are independent on the active state, creating a new iteration sets some meaningful default values. And in the case the parent is already active, this meaningful state would be that the child may in most cases also be active (especially for new iterations, matching a workflow of a team).

Anyway, this is

[2018-01-23 15:44] michaelkleinhenz commented on #1981
Maybe a caching issue? Will look at that.

[2018-01-23 15:45] rkratky commented on #1324
@qodfathr We prepped the cookbook, but were asked to hold on with publishing because of some part that wasn't supposed to be seen publicly. So we're holding on to it for now. Tracking in https://github.com/fabric8io/fabric8-online-docs/issues/116

@Preeticp, could you provide details, please?

[2018-01-23 15:45] qodfathr commented on #1337
Closing because (1) it's currently working as designed and (2) a new design is on the way.

[2018-01-23 15:45] #1337 closed

[2018-01-23 15:45] michaelkleinhenz commented on #1977
Scheduled for Sprint #144.

[2018-01-23 15:49] qodfathr commented on #1340
The Spaces are now correctly listed, but the work item list is still wrong (e.g., the space selection drop-down is a list of my spaces). We probably shouldn't even be displaying the work items. UXD has an Epic to clean up the UI.

[2018-01-23 15:53] qodfathr commented on #1343
Fixed.

[2018-01-23 15:53] #1343 closed

[2018-01-23 15:56] qodfathr commented on #1347
I cannot reproduce this. @Rydekull can you verify that it is fixed?

[2018-01-23 16:01] qodfathr commented on #1193
@apupier I'm not sure I understand the question.

[2018-01-23 16:11] apupier commented on #1193
Providing XML Language Server protocol is a generic request making sense for a lot of Eclipse Che users but I think it makes even more sense for Red Hat with openshift.io and projects like Fuse relying on Apache Camel XML DSL.
I'm wondering if having the issue upstream only, we won't lose from sight that it has very specific Red Hat additional added values.

Should I put the specific Red Hat use c

[2018-01-23 16:24] jiekang commented on #1940
Closing as the proposed fix has been merged. Tested navigation path of Environments -> Profile works on production at time of writing.

[2018-01-23 16:24] #1940 closed

[2018-01-23 16:24] alexeykazakov commented on #351
To be clear. Not everything from this epic is double for train/heather. We plan to implement some backend for this but UI most likely will go to the next sprint.

[2018-01-23 16:31] alexeykazakov commented on #338
To be clear. We plan to implement some backend for this and switch the current collaborator functionality to the new backend. But father integration with OSIO clients/components and UI will go to the next train. We can't build a massive new backend and adopt it across OSIO in the same train.

[2018-01-23 16:32] alexeykazakov commented on #340
To be clear. We plan to implement some backend for this and switch the current collaborator functionality to the new backend. But father integration with OSIO clients/components and UI will go to the next train. We can't build a massive new backend and adopt it across OSIO in the same train.

[2018-01-23 16:38] maxandersen commented on #1256
verified it works. closing.

[2018-01-23 16:38] #1256 closed

[2018-01-23 16:42] aslakknutsen commented on #1446
https://github.com/fabric8-services/fabric8-tenant/issues/469

[2018-01-23 16:48] jiekang commented on #1655
Reopening as there are portions that this issue tracks that are still not complete, for example API to provide URLs for logs, openshift console and application.

[2018-01-23 16:53] andrewazores opened #1987 "Deployments service should conform to backend JSON-API response format"
https://github.com/fabric8-services/fabric8-wit/pull/1849

[2018-01-23 16:54] andrewazores commented on #1969
See also https://github.com/openshiftio/openshift.io/issues/1987

[2018-01-23 17:01] #1986 closed

[2018-01-23 17:07] xcoulon commented on #1986
thanks @alexeykazakov!

[2018-01-23 17:17] xcoulon commented on #1912
reopening (was closed by the `fixes...` in the commit message of https://github.com/fabric8-services/fabric8-toggles-service/pull/28), but https://github.com/openshiftio/openshift.io/issues/1961 isn't done yet.

[2018-01-23 17:38] qodfathr commented on #1979
Fixed

[2018-01-23 17:38] #1979 closed

[2018-01-23 17:41] qodfathr commented on #1983
I see this on prod.

[2018-01-23 17:43] joshuawilson commented on #1315
@chmouel @rupalibehera can you verify this?

[2018-01-23 17:44] qodfathr commented on #1984
Working for me on prod.

[2018-01-23 17:47] qodfathr commented on #1360
@ldimaggi any update on this? I think I've seen something similar recently. Not sure if this is an OSIO issue or a behavior of GitHub. Regardless, this is a bug until determined to be otherwise.

[2018-01-23 17:51] qodfathr commented on #1362
No one seems to be able to reproduce this. Closing but feel free to reopen if reproducible steps can be identified.

[2018-01-23 17:51] #1362 closed

[2018-01-23 17:55] qodfathr commented on #1193
@slemeur thoughts?

@apupier I see now. You are requesting that a new LSP be created. I misunderstood. I am going to modify the title to be a little clearer. Reopening.

[2018-01-23 18:06] qodfathr commented on #1378
I have not seen this in a long time. Anyone else?

[2018-01-23 18:08] qodfathr commented on #1380
@ldimaggi can we consider this to be a dupe of #508?

[2018-01-23 18:08] joshuawilson commented on #1347
This had been an issue, but we think we fixed it. If you see it again and can document how to reproduce it, please reopen this.

[2018-01-23 18:08] #1347 closed

[2018-01-23 18:12] ldimaggi commented on #1380
Closing as a dupe of #508

[2018-01-23 18:12] #1380 closed

[2018-01-23 18:14] apupier commented on #1193
LSP is the good technical choice I think :-)
The functional need is to have XML file edition with completion/validation, color syntax :-)

[2018-01-23 18:14] qodfathr commented on #1982
Reopening as a question. The original plan was for only 1 active iteration per Team -- this is particularly important for running reports, setting reasonable defaults on new work items, etc. But maybe there is a model whereby there can be more than one active iteration.

I'll own this and work on a plan with UXD.

[2018-01-23 18:15] ldimaggi commented on #1378
I saw this last week. Let's keep it open for a bit. I will keep an eye open for this and catch a new screenshot.

[2018-01-23 18:17] ldimaggi commented on #1360
It's still there - is there something that runs every 5 min to update OSIO?

[2018-01-23 19:16] jiekang commented on #1966
Closing as fix has been merged.

[2018-01-23 19:16] #1966 closed

[2018-01-23 19:27] ldimaggi commented on #1194
Closing this issue - I *think* that this is actually a variation on the bugs related to slow builds.
* Intermittent slow thruput on prod-preview #1904
* Intermittent long delays (>1 hour) starting build pipeline #1926

[2018-01-23 19:27] #1194 closed

[2018-01-23 19:34] aslakknutsen opened #1988 "Centralize cluster configuration across services"
Provide a central API that holds information about the configured clusters.

- [x] GET /api/clusters to provide OSO cluster info https://github.com/fabric8-services/fabric8-auth/issues/282
- [x] Add automatic backend discovery support based on Cluster API https://github.com/fabric8-services/fabric8-oso-proxy/issues/3
- [x] Implement Cache Warm up and validation of Cluster tokens during startup htt

[2018-01-23 19:45] aslakknutsen opened #1989 "Expose Comment revision API"
Related to https://github.com/fabric8-services/fabric8-wit/issues/841

[2018-01-23 19:54] aslakknutsen opened #1990 "Include what was changed in notification email"
For WorkItem Update and Comment Update notifications, only part of the new state is included. In the Work Item Update case the email is a notification that 'something changed', but with no real information to what.

The current UX can be found here: https://redhat.invisionapp.com/share/XHD0O8A5B#/248448905_Notification-Comment-Updated

- [ ] Expose Work Item revision API https://github.com/fabric8

[2018-01-23 19:54] #1884 closed

[2018-01-23 20:08] aslakknutsen commented on #1983
@michaelkleinhenz I see it in prod and preview. It's not in the openshiftio space, but it's on one of my own. Possible related; there is only 1 collaborator on my space, me.

[2018-01-23 20:14] ldimaggi commented on #1926
Note - in this case - 9 minutes before the build could actually start:

![screenshot from 2018-01-23 15-12-59](https://user-images.githubusercontent.com/642621/35298384-09416584-0050-11e8-8578-42643046eed6.png)

[2018-01-23 20:19] aslakknutsen commented on #1984
Can't reproduce now. Works in both Prod and Preview. Closing.

[2018-01-23 20:21] qodfathr commented on #1408
@catrobson was there a determination made on the final design for 'Delete codebase'? I'm wondering if this issue can be closed.

[2018-01-23 20:47] qodfathr commented on #1421
Closing as dupe #543. This particular issue isn't fixed per-se, but a whole new design is coming (see 543 for details).

[2018-01-23 20:47] #1421 closed

[2018-01-23 20:50] mindreeper2420 commented on #1579
@joshuawilson this can be closed, as the PR to fix has been merged.

[2018-01-23 20:52] qodfathr commented on #1423
Can this be closed? Also, is the intent to bring the Che version number back to the status widget? If yes, is there an issue filed for this yet? (I searched but did not find anything, but it's easy to not find things in GitHub.)

[2018-01-23 20:53] qodfathr commented on #1424
Closing as this menu no longer exists.

[2018-01-23 20:53] #1424 closed

[2018-01-23 20:56] ldimaggi opened #1991 "Cannot create Che workspace for Wildfly Swarm quickstarts"
The new WildFly Swarm - HTTP and WildFly Swarm - Health Checks quickstarts build and run, but creating a new workspace fails with this error:

[code]

No errors are logged here:
https://console.rh-idev.openshift.com/console/project/dsaas-preview/browse/pods/che-44-72gwk?tab=log

[2018-01-23 20:58] qodfathr commented on #1442
Is this still a valid issue?

[2018-01-23 20:59] mindreeper2420 commented on #182
In the current iteration of the Home Dashboard, there is no link to the documentation. That link is now in the user drop down menu under 'Documentation'.

The links on the Home Dashboard are "Learn More" (brings you to openshift.io/features), "your profile" (brings user to their profile) and "containerized development and deployment" (brings the user to openshift.com/container-platform).

@joshuaw

[2018-01-23 21:00] gastaldi commented on #1991
Assigning to the che team to investigate.

[2018-01-23 21:04] mindreeper2420 commented on #1617
@joshuawilson I just tested this on production - issue is resolved.
![screen shot 2018-01-23 at 4 04 21 pm](https://user-images.githubusercontent.com/4032718/35300649-1b096be8-0057-11e8-8d9a-953dfd09d650.png)

[2018-01-23 22:03] qodfathr commented on #1447
This is a pretty broad request / epic. We've got the first elements of GitHub issue integration on the OSIO side of things (you can link GitHub issues into an OSIO work item and see their status within the WI).

As deeper integration is certainly part of the long-term plan and will likely span a Scenario or two, @rafabene are you okay with this being closed in favor of new epics yet-to-be-written?

[2018-01-23 22:58] qodfathr commented on #1456
@xcoulon looks fixed to me. Can you please confirm?

[2018-01-23 23:11] #1579 closed

[2018-01-23 23:16] joshuawilson commented on #1442
@qodfathr do you want this?
cc @aslakknutsen

[2018-01-23 23:17] joshuawilson commented on #182
I think this is fine, closing.

[2018-01-23 23:17] #182 closed

[2018-01-23 23:17] #1617 closed

[2018-01-24 00:23] mishaone commented on #1239
Adding details for clarity:
* X is usually a negative closing option, translating to "Cancel/stop this and don't save the changes I made".
* OK/Check is usually a positive closing option, translating to "Yes, I'm done with my changes, save and close this now."

In this case, we probably need a positive closing icon to confirm that your changes are saved and you want to exit the options menu.

[2018-01-24 01:14] aslakknutsen opened #1992 "Pressing 'Enter' in 'edit title' field creates newline"
Expected:

* Enter submits the change

![screenshot from 2018-01-24 02-12-28](https://user-images.githubusercontent.com/132158/35309327-2905c11a-00ac-11e8-92a1-938d8c22e4db.png)

[2018-01-24 01:16] aslakknutsen opened #1993 "Quick add title field loose focus on 'Enter'"
... rendering it a not so quick add.

[2018-01-24 01:18] aslakknutsen opened #1994 "Create iteration should set focus on "Name" input field when opened"

[2018-01-24 01:20] aslakknutsen opened #1995 "Pressing Enter should submit Create Iteration form"
Expected:

* With focus on Name and pressing enter should submit the form (create)

Actual:

* Nothing

![screenshot from 2018-01-24 02-20-45](https://user-images.githubusercontent.com/132158/35309521-36ade814-00ad-11e8-804d-daa9cfff9f1c.png)

[2018-01-24 01:31] aslakknutsen opened #1996 "Expanding certain Parent WorkItems cause errors in console"
Expanding  "Scenario 2" cause error in console
https://openshift.io/aslak/Test666/plan?q=(space:f01a9e4c-4bf8-4609-8d7c-a95930fa209f%20$AND%20$WITGROUP:Scenarios)

[code]

![screenshot from 2018-01-24 02-28-58](https://user-images.githubusercontent.com/132158/35309791-6aec952a-00ae-11e8-8774-a21147995d97.png)

[2018-01-24 01:37] aslakknutsen opened #1997 "Cannot read property 'filter' of null"
Steps:

* Open https://openshift.io/openshiftio/openshiftio/plan?q=(space:020f756e-b51a-4b43-b113-45cec16b9ce9%20$AND%20$WITGROUP:Scenarios)
* Go to Board
* Use top left menu to move to the Dashboard of "some other space"

[code]

[2018-01-24 01:40] mishaone opened #1998 "UX enhancement suggestion: always available home button"
I probably do a lot more environment resetting and tenant updating than the average user but it always irks me that we don't have an always-present home button to take us to the OSIO home page (https://openshift.io/_home) when I'm done with these resets. Instead, we have this option buried in the less obvious place: click your username in the top left side of the screen and select *Account Home* f

[2018-01-24 01:46] aslakknutsen opened #1999 "Create Area should set focus on the Name input field"
![screenshot from 2018-01-24 02-44-45](https://user-images.githubusercontent.com/132158/35310250-c770808e-00b0-11e8-89df-724f9653c40f.png)

[2018-01-24 01:50] aslakknutsen opened #2000 "Inconsistent 'User select' between Planner:Assignee and Spaces:Collaborators"
![screenshot from 2018-01-24 02-48-34](https://user-images.githubusercontent.com/132158/35310328-2fe92c6a-00b1-11e8-9f94-b9c4b64e9614.png)

![screenshot from 2018-01-24 02-50-00](https://user-images.githubusercontent.com/132158/35310360-4b98fac6-00b1-11e8-8180-d9066222bd10.png)

[2018-01-24 04:11] #1738 closed

[2018-01-24 04:14] mishaone opened #2001 "occasionally edit profile and profile page load together in one page"
I keep seeing this periodically, possibly due to resetting my environment a lot for testing and retesting. I go to the Profile page, then click Update profile. The update profile page loads, but the main profile page loads just under it. See screenshots for the whole page:

![profilepage1](https://user-images.githubusercontent.com/926572/35314272-c458c2c0-0110-11e8-9268-ab465c0d57ac.png)

## Impac