[2017-10-05 13:46] ldimaggi commented on #788
Seeing this bug again today:
![screenshot from 2017-10-05 09-38-33](https://user-images.githubusercontent.com/642621/31230362-d0a37306-a9b1-11e7-8b2e-21da1e461986.png)

Jenkins log:
[jenkins-2log.txt](https://github.com/openshiftio/openshift.io/files/1359515/jenkins-2log.txt)

Pod information from oc:

[code]

[2017-10-05 13:54] jstrachan commented on #788
so we need `oc get buildconfig` and `oc get build` in the users main namespace `ldimaggi-osiotest1` - to know if the pipeline was created properly and the pipeline build starts correctly. Given it appears in the UI then there's almost certainly a BuildConfig - we just need to know if a build has been triggered in Jenkins & whether or not a Build / job is starting.

It could just be that OSO / jenk

[2017-10-05 14:07] ldimaggi commented on #788
Jenkins log:
[jenkins-2log.txt](https://github.com/openshiftio/openshift.io/files/1359587/jenkins-2log.txt)

[2017-10-05 14:07] ldimaggi commented on #788
Just added oc get buildconfig and oc get build to test. Thx!

[2017-10-05 14:16] jstrachan commented on #788
BTW that jenkins log is the master pod log - what we need is the build log for this pipeline. Having the main pod log can be handy - particularly when the build pods don't start.

The only real way to get the Jenkins build log is via a REST call to Jenkins though; its not visible via the `oc` CLI

[2017-10-05 15:00] ldimaggi commented on #607
Closing as this bug is no longer being seen.

[2017-10-05 15:00] #607 closed

[2017-10-05 16:07] ldimaggi opened #1060 "Run As -> JUnit test works only if the project was built beforehand"
**Blocked by JDT LS switch** eclipse/che#6157

Steps to recreate:
* Create new quicksart - for example Vert.x Basic
* Create Che workspace
* In the Che workspace, attempt to run the test programs as JUnit tests;
![screenshot from 2017-10-05 11-52-50](https://user-images.githubusercontent.com/642621/31237695-ad047c06-a9c5-11e7-8390-b0f9916bf16f.png)

[2017-10-05 16:11] ldimaggi commented on #1056
Automated test to trap this bug:
https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-openshift.io-runTest/

[2017-10-05 16:58] ldimaggi opened #1061 "Quickstart "Vert.x - HTTP & Config Map" runs in Che workspace, generates non-fatal (SEVERE) error messges"
Steps to recreate:
* Create new space
* Create new "Vert.x - HTTP & Config Map" quickstart
* Create Che workspace
* Run app in Che workspace - observe that the app is reachable at URL similar to:
http://vertx-wvrfv4s0qmr7lz4a-[username]-che.8a09.starter-us-east-2.openshiftapps.com

But - observe repeated errors in run log/window in Che workspace:

[code]

[2017-10-05 17:28] ldimaggi commented on #788
One of the problems that I am seeing is there there is no link in the UI to a build log:
![screenshot from 2017-10-05 13-26-09](https://user-images.githubusercontent.com/642621/31241152-05fde63e-a9d1-11e7-9eee-3e66b19817c8.png)

[2017-10-05 17:29] ldimaggi commented on #788
Just spotted this error in the Jenkins pod log (see attached file):

[code]

There may be multiple root causes for this error?
[jenkinslog.txt](https://github.com/openshiftio/openshift.io/files/1360297/jenkinslog.txt)

[2017-10-05 17:44] jstrachan commented on #788
The link to the build log is created by Jenkins when a build starts

[2017-10-05 19:05] ldimaggi commented on #788
I was able to manually start a build (build #2,. as build #1 never happened) and found this in build log:

[code]
[build_log.txt](https://github.com/openshiftio/openshift.io/files/1360543/build_log.txt)

[2017-10-05 19:10] ibuziuk commented on #1061
@ldimaggi does the app functionality is broken, or everything works fine from the user perspective ?

[2017-10-05 19:32] ldimaggi commented on #1061
The app runs. The SEVERE level log message is odd - and will be alarming to users. Can we remove the cause of the ERROR?

[2017-10-05 19:45] ibuziuk commented on #1061
@ldimaggi I haven't tried it yet, so do not really know what is causing it. Does the same logs are traced when this quickstart project is run on local machine, or is it che spesific issue ?

[2017-10-06 05:20] krishnapaparaju commented on #705
@samuzzal-choudhury this change would break the current flow at IDE extensions.

@invincibleJai how do we handle this at VSCode extension ?

@GeetikaBatra how do we handle this at DevStudio plugin ?

cc @msrb @GeorgeActon

[2017-10-06 05:35] krishnapaparaju commented on #705
Please ensure the current API supports both kinds of pom.xml (effective, normal) till IDE extensions could support effective pom.xml

[2017-10-06 07:50] humaton opened #1062 "[8] Green field deployment of fabric8-analytics"
# Description

As a fabric8-analytics developer, I want to be able to deploy all fabric8-analytics (f8a) services easily on the dev cluster. This will enable me to test my changes in close-to-prod environment before commiting them to master branch.

# Acceptance criteria

- the process of deploying f8a services on the dev cluster is straightforward and documented
- the process of deploying custom

[2017-10-06 07:53] samuzzal-choudhury opened #1063 "Epic: Enable support for generating effective POM in IDE plugins"
##### Definition:
As part of [an on-hold change](https://github.com/openshiftio/openshift.io/issues/705), mercator-go will stop generating effective POM for user uploaded pom.xml files while calling /stack-analyses. A client, on the other hand, is the best place to resolve all dependencies used in a developer environment and hence, to generate the effective POM.

This requirement triggers changes

[2017-10-06 08:05] samuzzal-choudhury commented on #1056
@tisnik this should be fixed now by the PR https://github.com/fabric8-analytics/fabric8-analytics-server/pull/172

[2017-10-06 08:15] rawlingsj commented on #788
Not sure yet why this script approval issue has started but it will be fixed once this commit trickles through the pipelines and is available in prod https://github.com/fabric8-services/fabric8-tenant-jenkins/pull/34

The Jenkins version to look out for is 4.0.27

[2017-10-06 08:35] maxandersen opened #1064 "on latest firefox spaces don't load and top navigation bar is missing"
when I try load https://openshift.io/openshiftio/openshiftio in latest firefox (beta) the spaces don't load (just gives error page) and top navigation bar is missing on openshift.io/_home too.

 https://v.usetapes.com/4Pebyoyjyh

the errors I see when loading openshiftio:

![error_-_openshift_io_and_analyze_-_openshift_io](https://user-images.githubusercontent.com/54129/31269778-ffccb702-aa81-11e7

[2017-10-06 08:36] maxandersen commented on #1064
note: ffox beta works perfectly fine with all other major pages so we must have some bug or non-resilient code that gets triggered somehow.

[2017-10-06 09:18] jpopelka commented on #850
As I stated in previous comment the behaviour seems correct to me so unless somebody ( @samuzzal-choudhury @invincibleJai ) explains to me what's wrong I'm going to close this thicket.

[2017-10-06 10:17] fridex commented on #636
@SaketJNU could this be marked as completed?

[2017-10-06 10:32] tisnik commented on #856
Fixed by https://github.com/fabric8-analytics/fabric8-analytics-server/commit/163c3254aea2b880a9f9cc21bc3aa9da50946ccc

[2017-10-06 10:36] #1013 closed

[2017-10-06 10:36] #944 closed

[2017-10-06 10:36] #856 closed

[2017-10-06 10:41] fridex commented on #686
BTW some import paths can lead to different git repos. [This list could help](https://github.com/gofed/gofedlib/blob/master/gofedlib/providers/data/ip2pp_mapping.json) to map import path to provider prefix when analysing projects.

[2017-10-06 10:50] #942 closed

[2017-10-06 11:49] msrb commented on #705
I will revert the changes for now as we discussed on a meeting today with @GeetikaBatra @invincibleJai @samuzzal-choudhury and @miteshvp.

[2017-10-06 11:53] ibuziuk commented on #1060
@ldimaggi one needs to build project first before running the tests.
related rh-che issue - https://github.com/redhat-developer/rh-che/issues/365
upstream che issue - eclipse/che#6549

[2017-10-06 11:55] jstrachan opened #1065 "new projects created via the create quickstarts don't have their pipelines triggered"
currently you need to manually start the pipeline

[2017-10-06 11:56] ldimaggi commented on #788
On October 6, after an upgrade to 4.0.27 - I am able to manually trigger builds. The problem seems to have morphed into an issue of the build pipelines not being automatically triggered.

The build that is created is assigned number zero:
![screenshot from 2017-10-06 07-40-46](https://user-images.githubusercontent.com/642621/31276817-d3d5e580-aa6b-11e7-9b8f-756650f0dc9f.png)

[2017-10-06 11:57] ldimaggi commented on #1065
Related to https://github.com/openshiftio/openshift.io/issues/788

[2017-10-06 12:13] ldimaggi commented on #1065
Screnshot from failing test:
http://artifacts.ci.centos.org/devtools/e2e/420_testoct51507220037588_pipeline_promote_fail.png

[2017-10-06 12:25] ibuziuk opened #1066 "[prod-preview] Incognito mode / cleaning cache is required for login to prod-preview"
Related openshift.io issue for prod-cluster - https://github.com/openshiftio/openshift.io/issues/955

[2017-10-06 12:27] rawlingsj commented on #1065
This will be because I disabled the sync plugin from auto triggering builds on a scan. We can change it to trigger if no other builds exist but that means whenever anyone initially uses the GitHub org scan in Jenkins it will trigger master. For our fabric8 repos as an example that would be a new release, not sure if we want that?

I guess we should do that for now until we think of a better way as

[2017-10-06 12:31] ibuziuk opened #1067 "[prod-preview] navigating to che-server route results in 403"
Steps to reproduce:
- reset environment from profile page on prod-preview.openshift.io
- navigate to `*-che namespace in prod-preview cluster - https://console.free-int.openshift.com
- when che-server pod is up & running navigate to it's route
- ERROR: HTTP Status 403

related rh-che issue - https://github.com/redhat-developer/rh-che/issues/301
che version: 2.0.35

[2017-10-06 12:33] ibuziuk opened #1068 "[prod-preview] Can not create a space - error occurs with Forge backend"
Can not create a space on prod-preview - error occurs with Forge backend
![image](https://user-images.githubusercontent.com/1461122/31277859-34ebd046-aaa3-11e7-9216-54d330bba22b.png)

[2017-10-06 12:39] pkettman commented on #1053
Additional info: the issue was detected on Chrome 56.0.2924.87 Fedora Project (64-bit) and Firefox 52.0 (64-bit), on another hand it works fine on Google Chrome Verze 61.0.3163.100 (64-bit).

[2017-10-06 12:41] jstrachan commented on #1065
we could switch to triggering the job in Forge; the only downside is that Jenkins may not be running yet; so the folder sync might not have run yet. However if syncing doesn't trigger builds am not sure thats an issue anyway?

[2017-10-06 12:49] catrobson opened #1069 "Using proxy user instead of requiring OpenShift token"
In a discussion with Jake, @alexeykazakov, and @aslakknutsen we determined that we could improve the user flows (remove the first time user experience need of asking for connection to OpenShift) and make the system more scalable through the use of a proxy user for requesting information and actions on OpenShift over using a token for those actions.  This issue to a place to start to gather the tas

[2017-10-06 13:28] ldimaggi commented on #1065
_James R: '...We can change it to trigger if no other builds exist but that means whenever anyone initially uses the GitHub org scan in Jenkins it will trigger master...'_

Is the concern here that any new build/pipeline will cause all builds to be rebuilt?

[2017-10-06 13:30] jstrachan commented on #1065
its more the other way around - the concern is organisation scans should not trigger new releases

[2017-10-06 14:09] ibuziuk commented on #1061
@ldimaggi the whole point of `Vert.x - HTTP & Config Map` is deploying the project to minishift / OpenShift online via:
` mvn clean fabric8:deploy -Popenshift`

More details can be found in the docs[1]
It is similar to what I wrote about `OpenShiftIt` [2] tests for vertx / spring boot quickstarts.

IMO, `Vert.x - HTTP & Config Map` project should not be listed in quickstarts, because there is no m

[2017-10-06 16:27] dgutride opened #1070 "Task: Move user to space after creation or leave in place if adding to space"

[2017-10-06 17:51] jstrachan commented on #1065
fixed now in prod

[2017-10-06 17:51] #1065 closed

[2017-10-06 17:52] jstrachan commented on #788
could we check if this is now fixed as https://github.com/openshiftio/openshift.io/issues/1065 is now?

[2017-10-06 18:17] cctrieloff opened #1071 "Bad work item title for new analytics work items"
Work item that "Create Work Item" as title -- should be meaning full.

Might be nice if it also created the patch.

![analytcis](https://user-images.githubusercontent.com/13753654/31292327-fe9eb366-aaa0-11e7-986f-0fd6ad8c72eb.png)

[2017-10-06 18:44] ldimaggi commented on #788
Running tests now - will close it lata today unless something unexpected happens. Thanks!

[2017-10-06 21:39] alexeykazakov commented on #1053
https://github.com/fabric8-services/fabric8-wit/pull/1694 should fix that

[2017-10-06 23:23] alexeykazakov commented on #1064
This is a duplicate of https://github.com/openshiftio/openshift.io/issues/1053
Ajax in Firefox doesn't follow 307 redirects for some reason. Maybe because it's CORS redirects: wit.osio -> auth.osio.
https://github.com/fabric8-services/fabric8-wit/pull/1694 should fix it.

[2017-10-06 23:23] #1064 closed

[2017-10-06 23:32] alexeykazakov commented on #1066
Is there any reason to keep two separate issues open for prod and preview? :)
Looks like just a duplicate of https://github.com/openshiftio/openshift.io/issues/955

[2017-10-06 23:36] alexeykazakov commented on #1067
Did you re-link your OSO account after we re-configured prod for the free-int cluster?

[2017-10-07 07:45] ibuziuk commented on #1067
I have not done anything - just login via https://developers.redhat.com/

[2017-10-07 07:48] ibuziuk commented on #1066
everything works fine for me on prod, but not on prod-preview, so I have created a separate one.
Anyway, feel free to close this issue if tracking it in one place is more handy

[2017-10-07 08:50] samuzzal-choudhury commented on #1071
@arunkumars08 @invincibleJai Can one of you please look into this? Currently, the title appears as _Create Work Item_ for analytics work items. AFAIK, we do pass a valid title in the work item creation API call. Was there any recent changes in the API parameters which we missed incorporating?

[2017-10-07 10:50] invincibleJai commented on #1071
@samuzzal-choudhury We are looking into it.

[2017-10-07 12:39] arunkumars08 commented on #1071
@samuzzal-choudhury @cctrieloff The fix for this is in this PR - https://github.com/fabric8-ui/fabric8-recommender/pull/353

As per this fix, it will show 'Alternate component for {name of the component}' for alternate recommendation and 'Add {name of the component} to your application stack' in case of companion recommendation

@invincibleJai Thanks for helping me with the fix.

[2017-10-07 14:04] samuzzal-choudhury commented on #1071
@arunkumars08 @invincibleJai thanks for the fix.

[2017-10-07 15:24] alexeykazakov commented on #1067
Yeah.. I meant preview. Not prod :)
OK. Try to re-link your OSO account in prod-preview. We change the cluster there, so, the old tokens won't work anymore.

[2017-10-07 15:32] alexeykazakov commented on #1066
Yeah.. It's browser state dependent. For some it works fine in prod but not in preview. For some it's fine in preview but not in prod. Something wrong in browser cache/local storage. I'm closing it as duplicate.

[2017-10-07 15:32] #1066 closed

[2017-10-07 15:33] alexeykazakov commented on #955
@joshuawilson @dgutride any progress here? It's really becoming a blocker if you don't use incognito mode.

[2017-10-07 18:16] dgutride commented on #955
@alexeykazakov - it's not happening for me locally and I have only seen it happen on one other person's box.  We need a very clear repro case.

[2017-10-07 18:56] alexeykazakov commented on #955
@dgutride unfortunately I can't reproduce it anymore. But maybe you can do a bluejeans session with @ibuziuk, so, he could help you to debug the problem.

[2017-10-07 19:03] alexeykazakov commented on #1053
It now works for me in prod-preview in my FF (after merging https://github.com/fabric8-services/fabric8-wit/pull/1694). But we haven't promoted it to prod yet.

[2017-10-08 07:43] ibuziuk commented on #955
@dgutride @alexeykazakov I can not reproduce it on prod, but it happens for me every now and than on prod-preview - https://github.com/openshiftio/openshift.io/issues/1066

[2017-10-08 08:15] ibuziuk commented on #1067
re-linking oso & github account via https://sso.prod-preview.openshift.io/auth/realms/fabric8/account/identity does not seem to help - still getting 403 after navigating to che-server url:

[code]

[2017-10-08 16:57] alexeykazakov commented on #1067
The KC token which was used in that request was issued by prod. Not prod-preview sso.

[2017-10-08 17:00] alexeykazakov commented on #1067
Check what SSO is used by Che in preview for authentication/login. It looks like it's using the wrong SSO (prod vs preview).

[2017-10-09 03:58] adisakala commented on #1071
where are we tracking "Might be nice if it also created the patch."? this one or separate issue? @samuzzal-choudhury

[2017-10-09 04:00] invincibleJai commented on #1071
@adisakala it is this one only Adi, as per my knowledge.

[2017-10-09 06:19] sanbornsen commented on #265
We don't have dialog create anymore. Non contextual detail add serves the purpose and it works fine.

[2017-10-09 08:04] ibuziuk commented on #1067
@alexeykazakov hmmm... in che cm prod-preview github / oso endpoints are used for obtaining the token:
![image](https://user-images.githubusercontent.com/1461122/31329140-f89e6314-acd8-11e7-84a0-9582261d562c.png)

@davidfestal any ideas about this keycloak thingy ?

[2017-10-09 08:14] davidfestal commented on #1067
@ibuziuk by default the `che.keycloak.auth_server_url` property is set to `https://sso.openshift.io/auth` in `rh-che.properties`.

It should be set to the pre-prod keycloak server I assume.

For now there's no value in the config map for this. So on pre-prod you should add an environement variable to you `che` deployment configuration:

`CHE_KEYCLOAK_AUTH__SERVER__URL`

However there's a pending i

[2017-10-09 08:34] ibuziuk commented on #1067
@davidfestal great, thank you for an update. As I recall update of the prod cluster to 3.7 is going to happen no sooner than mid October, so we would be probably ok by this time (mt branch will be merged to master and new env var would be properly set) and will be able to test che on free-int before the prod cluster update

[2017-10-09 08:36] msrb commented on #705
PR restoring the original behavior: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/387

[2017-10-09 09:05] arunkumars08 commented on #1038
Closing as the tasks are complete.

[2017-10-09 09:05] #1038 closed

[2017-10-09 09:05] arunkumars08 commented on #1037
Closing as the tasks are complete.

[2017-10-09 09:06] arunkumars08 commented on #1037
This is the PR for moving changes into fabric8-analytics-server, https://github.com/fabric8-analytics/fabric8-analytics-server/pull/175

[2017-10-09 09:08] arunkumars08 commented on #959
Changes are moved to a new repository under fabric8-analytics organization - https://github.com/fabric8-analytics/3scale-admin-gateway

For rollback, we need to think of a good mechanism. That is still pending in this story.

[2017-10-09 09:10] arunkumars08 commented on #743
Closing as the tasks are complete.

[2017-10-09 09:10] #743 closed

[2017-10-09 09:34] fridex commented on #1037
@arunkumars08 AFAIK the PR was not merged, so this shouldn't be closed and considered as done. Or did I miss something?

[2017-10-09 09:40] arunkumars08 commented on #1037
@fridex Yes Fridolin, that's my mistake.

[2017-10-09 10:00] msrb opened #1072 "[8] Sync nuget and npm data to graph"
# Description

Not all Nuget and NPM data made it all the way to graph. We need to sync them.

# Acceptance criteria

- [x] all Nuget data from from production S3 buckets are available in graph
- [ ] all NPM data from from production S3 buckets are available in graph

[2017-10-09 10:14] msrb opened #1073 "[5] Notify developers when E2E tests failed"
# Description

We run E2E tests only on merge to master branch. The problem is that developers won't be notified if their changes broke the master branch. They need to check the results themselves - and nobody does that, of course.

We want to modify our CI/CD configuration in a way that either whole analytics team, or just involved people are notified (email, mattermost, ...) when E2E tests trigg

[2017-10-09 11:11] jpopelka commented on #940
Do we actually have any examples of maven packages with wrong security scans ?
Because I don't recall any problems with security scans of maven packages.

[2017-10-09 11:47] tisnik opened #1074 "Please add 'schema' attribute into the JSON file for the keywords taggings in component core data"
Please add 'schema' attribute into the JSON file for the keywords taggings in component core data. This attribute should contains nodes 'name' and 'version'.

Please note: it is not urgent, but other metadata already have this attribute, so we would need to be consistent a bit ;)

[2017-10-09 14:23] rootAvish commented on #985
Closing this as changes pushed to production.

[2017-10-09 14:30] rootAvish commented on #985
Pushed to production, marking done.

[2017-10-09 14:34] rootAvish commented on #987
All review comments in the final PR have been addressed, this script will not be pushed to production and the results will be published in a spreadsheet for public viewing instead.

[2017-10-09 14:39] ldimaggi commented on #788
This seems to be fixed now! Many thanks!

[2017-10-09 14:39] #788 closed

[2017-10-09 18:56] alexeykazakov commented on #1053
Should be fixed now in prod. It works in my FF now.

[2017-10-09 18:56] #1053 closed

[2017-10-09 18:58] samuzzal-choudhury commented on #1039
The iteration 1 can be considered complete with a completed demo. We can create another user story going forward

[2017-10-10 02:09] ldimaggi opened #1075 "Intermittent failure in pipeline build"
Started seeing this on Oct 9 - when a new project/quickstart is created and its build pipeline runs - the build fails intermittently with this error:
[code]

See atta
[build_log_1.txt](https://github.com/openshiftio/openshift.io/files/1370349/build_log_1.txt)
[build_log_2.txt](https://github.com/openshiftio/openshift.io/files/1370350/build_log_2.txt)

ched build logs.

[2017-10-10 06:32] krishnapaparaju commented on #609
@tisnik @samuzzal-choudhury we need to maintain a simple matrix with number of replicas required to support certain 'n' number of stack analysis and component analysis requests and response times  would be perceived by the end user

@GeorgeActon @miteshvp @msrb

[2017-10-10 07:28] tisnik opened #1076 "[5] Refactor common.py module from the fabric8-analytics-common repository"
Currently, this module is getting quite large, having 84kB and 2210 lines. It would be nice to split it into several logical parts, at least:

- [ ] utility functions (timestamps, JSON handling, data mocking, etc.)
- [x] functions that check attributes (timestamps, status, schema, ...)
- [ ] core API liveness, readiness, schema checks etc.
- [x] dtto for jobs API
- [x] stack analysis tests
- [x] c

[2017-10-10 07:42] jyasveer commented on #1008
Done https://github.com/fabric8-ui/fabric8-recommender/pull/356

[2017-10-10 07:42] #1008 closed

[2017-10-10 07:45] tisnik opened #1077 "New integration tests: checks for component and analysis results stored in the S3"
Having the new functionality implemented via #954 it would be nice to develop following new tests:

### Pypi ecosystem
- [ ] analysis for 'simple' package (no dependents)
- [ ] analysis for more complicated package (complicated == library with many dependents etc.)
- [ ] analysis for package with more licenses

### NPM ecosystem
- [ ] analysis for 'simple' package (no dependents)
- [ ] analysis fo

[2017-10-10 07:49] jyasveer opened #1078 "Task : Update Ops Portal UI to accommodate the new license data"
- Update the recommender portal in the OSIO with the new license data.

Below is the new json structure for license data :-
{
  "license_analysis": {
    "f8a_stack_licenses": [],
    "status": "Unknown",
    "conflict_packages": [{
        "package1": "",
        "license1": "",
        "package2": "",
        "license2": ""
      },
      {
        "package1": "",
        "license1": "",

[2017-10-10 08:17] krishnapaparaju opened #1079 "Clear up / Back up messages at SQS Queues"
Both to serve user facing traffic (async) and ingestion of data, Analytics platform heavily uses SQS queues. From the operational side, there been couple of instances where messages at these queues pileup (during some failure scenario) and require cleaning / backing up of messages at these SQS queues to resume user facing traffic / data ingestion.

A script to clear up messages at these SQS queues

[2017-10-10 08:20] krishnapaparaju opened #1080 "Track API calls across multiple services of Analytics platform"
Currently manual verification / pattern of log files at multiple services is required to trace current state of incoming API call: its either waiting at SQS queue, pending with Service A / B etc. Unique ID would need to be prefixed to every log message being printed to track current state of incoming API call.

[2017-10-10 08:23] fridex commented on #1079
Is there some specific case for doing this? Queues are currently configured to drop messages after 14 days (that is maximum that AWS SQS offers) - messages will be automatically removed from queues.

Also clearing messages is not that straightforward as if cleaned in a wrong way, it can result in infinite task flows (workers would get stuck). Cleaning queues should occur in really necessary situat

[2017-10-10 08:23] krishnapaparaju opened #1081 "[5] Mapping of AWS resources to Dev,Stage and production environments"
AWS resources being used currently from various analytics platform developer environments (Dev, stage and production) would require (a) List all the AWS resources being used (b) tag AWS resources to associate with Dev,Stage, production / individual developers.

Tagging cloud resources is the most common way to handle this: either thru AWS console, APIs

[2017-10-10 08:23] tisnik opened #1082 "Checks of system liveness and readiness"
It would be nice to implement a system, that will periodically check system liveness and readiness by:

- [ ] accessing server API (stage, prod)
- [ ] accessing jobs API (stage, prod)
- [ ] accessing AWS S3 and all relevant buckets
- [ ] performing stack analysis (with less frequency)

[2017-10-10 08:27] krishnapaparaju opened #1083 "Statistics around current, historical API traffic and associated response times"
Need a script to spit out current API calls (#) being processed, historical data around API calls (from start time, end time) and associated response times for processing every API call.  Once 3Scale API Gateway integration is in place, need to check if we can leverage statistics at 3Scale AI gateway to cover subset of the required information.

[2017-10-10 08:34] krishnapaparaju opened #1084 "Resilient infra for services of Analytics platform"
When one of our services unexpectedly fail (fail=gets restarted by OpenShift) during stack analysis, data ingestion, etc. the system should be able to recover and analysis shouldn't stay "in progress" indefinitely. We'd like to add/modify our E2E tests so we can easily test such scenarios and discover bugs early.

It's not necessary to run these types of tests in CI for every merge to master branc

[2017-10-10 08:38] krishnapaparaju opened #1085 "Able to figure out and sync the delta between OLAP and OLTP stores"
S3 being OLAP and Graph layer on DynamoDB being OLTP, there is always a need to figure out the delta between these two data sources and able to initiate sync. between these data sources (only for the identified delta) would be key to provide very recent information to users of analytics platform.

[2017-10-10 08:59] krishnapaparaju commented on #1073
Notifications would need to be integrated at Mattermost channels, GitHub

[2017-10-10 08:59] fridex commented on #1074
Done in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/392 (still WIP).

[2017-10-10 09:02] krishnapaparaju opened #1086 "Visualization tool for data at graph layer"
All the current data at OLTP is in form of entities and relations between these entities. Opening up an AWS console (graph layer used DynamoDB as storage backend) would not help as the stored data in the binary format.

Need a browser based tool to fire in selective queries and able to visualize entities and relations in form of a tree.

[2017-10-10 09:10] krishnapaparaju opened #1087 "EPIC: Improvements to current infra. of Analytics platform"
Currently the infra. for analytics is not resilient to various kinds of failure: connectivity, availability of AWS, OpenShift resources.

There are plenty of manual steps are currently being followed / no visibility into application data at production.

These issues cover resiliency and visibility into operational side of infra of analytics platform:

#1084
#1079
#1080
#1081
#1083
#1085
#1073
#108

[2017-10-10 09:44] navidshaikh commented on #228
It seems to be resolved for me.

[2017-10-10 09:44] #228 closed

[2017-10-10 09:49] navidshaikh opened #1088 "RFE planner: Ability to update card (task item) type"
This RFE is regarding planner for OSIO.

```OSIO -> Space -> Plan -> Board```

While creating cards (task items) during planning, the task item could be created with wrong type [Feature/Task/Bug/etc]. While reviewing / updating the card, user might want to update the type of task item.

[We](https://github.com/CentOS/container-pipeline-service) are using planner for our sprints.

[2017-10-10 10:51] #850 closed

[2017-10-10 10:55] #796 closed

[2017-10-10 12:56] tisnik opened #1089 "[3] Configure Pydocstyle in all relevant fabric8-analytics repositories"
This issue belongs to the #829 epic.

# Description

In order to improve code quality, we would like to run Pydocstyle on every PR.

# Acceptance criteria

- [x] PRs are checked in CI

All pull requests in the following repo listing are checked against the output of Pydocstyle:

- [x] fabric8-analytics-server
- [x] fabric8-analytics-worker
- [x] fabric8-analytics-common
- [x] fabric8-analytics-sta

[2017-10-10 14:27] jpopelka opened #1090 "Add license boilerplate notice to each file"
Fabric8-analytics has been licensed under GPLv3 and Apache v2.0.

Per

- https://www.gnu.org/licenses/gpl-3.0.en.html
- https://www.apache.org/licenses/LICENSE-2.0#apply

we should add a boilerplate notice to the start of each source file.

[2017-10-10 15:45] alexeykazakov commented on #948
Tasks to be done to get Multi cluster support:

- [ ] Information about user's cluster should be available on the OSIO side. As first step the OSIO/OSO registration app can pass this info to the Auth service when user is approved and Auth passes it along to the tenant service. This workflow can change later as part of our registration/provisioning workflow refactoring.

**Steps to be done until we

[2017-10-10 17:06] nimishamukherjee opened #1091 "POC for integrating info-tips into Planner"
1. Infotips are available in the docs repo
2. The UI will query the back-end for the infotip
3. The back-end needs to query the docs repo and fetch the relevant infotip and pass it to the UI

[2017-10-10 17:10] nimishamukherjee opened #1092 "Backend support for search by title [8]"

[2017-10-10 17:14] jpopelka opened #1093 "Better failed /stack-analyses error report"
Follow-up of #850

When `/stack-analyses` fails because of some problem in manifest file the subsequent `/stack-analyses/<external_request_id>` call returns just `{ "error": "Invalid manifest file(s) received. Please submit valid manifest files for stack analysis" }`
I think we should give more details about why it was not possible to process the manifest file, for example: `Dependencies could not

[2017-10-10 17:19] nimishamukherjee opened #1094 "Improve overall stability of Core"
1. We should use the new test fixture where we can and where it makes sense.
1. We should use sub-tests to establish a context. So instead of `TestAssigneesNullAfterWIUpdate` we should probably have a test that, when run, outputs `TestWorkItem/update/remove_assignees/ok`. The formula for this simple:
   1. What is the subject? (here: a `WorkItem`)
   1. What is action? (here: `update`)
   1. Narro

[2017-10-10 23:20] vikram-raj commented on #1092
Related to https://github.com/openshiftio/openshift.io/issues/263

[2017-10-11 02:49] joshuawilson commented on #1023
@alexeykazakov @catrobson can we close this?

[2017-10-11 02:52] joshuawilson commented on #1044
I've been working on this, I think I have a resolution worked out. If it works it will be rolled out this week.

[2017-10-11 02:59] joshuawilson commented on #1045
We have a user story to track this issue. We are are aware of how difficult it currently is to maintain spaces.
Thank you for your feedback, please track the issue at https://github.com/openshiftio/openshift.io/issues/478. I'm going to close this one.

[2017-10-11 02:59] #1045 closed

[2017-10-11 03:01] joshuawilson commented on #239
@kbsingh what is the status of this?

[2017-10-11 03:02] alexeykazakov commented on #1023
No, we still redirect to OSO account management page which may be confusing.

[2017-10-11 03:02] joshuawilson commented on #1047
@ldimaggi Is this still an issue?
@rawlingsj were you aware of this?

[2017-10-11 03:05] joshuawilson commented on #1048
I'm not sure if this needs to be fixed in the UI auth component or on the pipelines page. We need to investigate to see where to fix it.
@dgutride @jstrachan do you have any ideas?

[2017-10-11 03:09] joshuawilson commented on #1050
Based on your last comment, is this fixed?

[2017-10-11 03:11] joshuawilson commented on #1051
@ldimaggi is this still an issue? Can you reproduce it?
cc @rawlingsj @jstrachan

[2017-10-11 03:13] joshuawilson commented on #466
@jeffmaury I'm closing this, if there is something else to do please reopen it.

[2017-10-11 03:13] #466 closed

[2017-10-11 03:14] joshuawilson commented on #1049
@ibuziuk what are you asking for? Are you asking for some UX on this back door?

[2017-10-11 03:15] joshuawilson commented on #503
Can we close this?

[2017-10-11 03:21] joshuawilson commented on #1054
Closing as it is a duplicate of #313

[2017-10-11 03:21] #1054 closed

[2017-10-11 03:22] joshuawilson commented on #313
@rkratky can you look into this please?

[2017-10-11 03:25] joshuawilson commented on #1055
@jstrachan @kbsingh any idea how we can get notified if the Content repo fails?

[2017-10-11 03:26] #645 closed

[2017-10-11 03:28] joshuawilson commented on #1046
It appears this was an issue with your environment and is fixed now. If it is still an issue please reopen and comment.

[2017-10-11 03:28] #1046 closed

[2017-10-11 03:31] joshuawilson commented on #1057
@fridex  this is something we try to have on all our repos. Has this been done yet. To be honest, it should be done, I don't know why it is an issue.
cc @krishnapaparaju

[2017-10-11 03:36] joshuawilson commented on #1059
Is anyone working on this? Do we need to make someone else aware of it?

[2017-10-11 03:39] joshuawilson commented on #1058
@jerboaa how did you create the space? Steps to reproduce, please.

[2017-10-11 03:42] joshuawilson commented on #1056
Is this fixed? Can we close it?

[2017-10-11 03:43] joshuawilson commented on #636
Can we close this?

[2017-10-11 03:45] joshuawilson commented on #1060
Is this a valid issue? Is it a duplicate? Can we close it?

[2017-10-11 03:46] joshuawilson commented on #1068
I don't think we have ever had prod-preview working with Forge.
@jstrachan @kbsingh @corinnekrych is this something we are going to fix or should we close it as "not fixing"?

[2017-10-11 03:53] ldimaggi commented on #1051
This one turned out to not be reproducible - closing - thx!

[2017-10-11 03:53] #1051 closed

[2017-10-11 04:15] eivantsov commented on #503
I think so. The issue's fixed in the upstream.

[2017-10-11 04:47] #503 closed

[2017-10-11 04:58] joshuawilson commented on #1088
cc @michaelkleinhenz @nimishamukherjee

[2017-10-11 05:01] joshuawilson commented on #1073
cc @rawlingsj

[2017-10-11 05:02] joshuawilson commented on #1082
I think we already have some of this, please check with @kbsingh

[2017-10-11 05:03] joshuawilson commented on #1081
Does @kbsingh know about this?

[2017-10-11 05:07] joshuawilson commented on #977
Is this complete?

[2017-10-11 05:08] joshuawilson commented on #1080
This type of thing might be good for the whole project. You should discuss it with @kbsingh @aslakknutsen  @jstrachan

[2017-10-11 05:12] joshuawilson commented on #1075
@ldimaggi did you see this question?

[2017-10-11 05:19] joshuawilson commented on #1067
@ibuziuk can we close this?

[2017-10-11 05:20] joshuawilson commented on #265
closing, please reopen if this is still an issue

[2017-10-11 05:20] #265 closed

[2017-10-11 05:22] joshuawilson commented on #1071
Can we close this? I think the fix is in prod.

[2017-10-11 05:25] joshuawilson commented on #955
I did see this once in a workshop, but after looking at the screen for a while it moved on. It appeared to be loading very slowly. That might be unrelated, I don't know.

[2017-10-11 05:27] #614 closed

[2017-10-11 05:27] #941 closed

[2017-10-11 05:27] #958 closed

[2017-10-11 05:27] #1005 closed

[2017-10-11 05:27] #1007 closed

[2017-10-11 05:27] #1039 closed

[2017-10-11 05:30] #771 closed

[2017-10-11 05:33] #987 closed

[2017-10-11 05:33] #985 closed

[2017-10-11 05:34] miteshvp commented on #975
@fridex marking it as closed. Please re-open if needed.

[2017-10-11 05:34] #975 closed

[2017-10-11 05:34] miteshvp commented on #954
@tisnik marking this as closed. Please re-open if needed.

[2017-10-11 05:34] #954 closed

[2017-10-11 05:35] miteshvp commented on #640
@harjinder-hari - can we mark this as completed/closed?

[2017-10-11 05:42] nimishamukherjee commented on #1088
@navidshaikh this request has a larger implication. We will revisit this post Freesia.

[2017-10-11 05:57] jstrachan commented on #1068
I've never really been able to use prod preview; we can test local UI / forge against prod on our tenants so I don't really see the point of prod preview for UI / forge really. We can already test PRs of UI against prod too; would be more interested in testing PRs against forge on prod as well

[2017-10-11 05:58] nimishamukherjee commented on #783
This issue has been fixed. @slemeur please check.

[2017-10-11 06:01] jstrachan commented on #1055
zabbix should be able to alert on a tenants content repo; its a canonical URL for each user.

Its such a trivial microservice; it should never really fail; it uses minimal memory and some PV. However if users need to know if its up or not we could always add a status icon to the fabric8-ui status UI; we can just do a HTTP GET on the content repo to see if its up

[2017-10-11 06:02] nimishamukherjee commented on #268
OSIO issue - https://openshift.io/openshiftio/openshiftio/plan/detail/1528

[2017-10-11 06:03] jstrachan commented on #1048
probably its a bug in the pipelines dashboard page; using the user email rather than entity name or something?

[2017-10-11 06:04] joshuawilson commented on #824
Is this fixed or is someone working on it?

[2017-10-11 06:06] joshuawilson commented on #557
@rawlingsj based on your demo this appears done. Is there something else that needs to be done or can we close this?

[2017-10-11 06:12] nimishamukherjee commented on #779
@rafabene can you confirm if you still face this issue as we were not able to replicate this issue.
We only noticed a difference in the work item ID

[2017-10-11 06:14] nimishamukherjee commented on #967
OSIO - https://openshift.io/openshiftio/openshiftio/plan/detail/1530 and https://openshift.io/openshiftio/openshiftio/plan/detail/1480

[2017-10-11 06:15] joshuawilson commented on #445
@catrobson how are the designs doing for this?
@burrsutter @qodfathr @burrsutter This is now a part of the Ginger train goals.

[2017-10-11 06:16] joshuawilson commented on #441
Were you able to get what you needed?

[2017-10-11 06:18] nimishamukherjee commented on #993
OSIO - https://openshift.io/openshiftio/openshiftio/plan/detail/1531

[2017-10-11 06:21] joshuawilson commented on #244
@kbsingh is this done? What do you think about @maxandersen comment/question?

[2017-10-11 06:22] joshuawilson commented on #242
@aslakknutsen is this done or still in-progress?

[2017-10-11 06:23] nimishamukherjee commented on #971
This would get fixed with the new tree list component from Patternfly-ng

[2017-10-11 06:23] joshuawilson commented on #163
@jstrachan what do you think?

[2017-10-11 06:27] joshuawilson commented on #1055
@ldimaggi is this something you happening often or just this once? Can you reproduce it?

[2017-10-11 06:29] nimishamukherjee commented on #553
The count does not display 0 now.
We do have another issue related to work item counts - https://openshift.io/openshiftio/openshiftio/plan/detail/1533

[2017-10-11 06:29] #553 closed

[2017-10-11 06:30] corinnekrych commented on #977
Pending review as you can see in the PR linked.
@rgarg1 do you need help with the review?

[2017-10-11 06:33] joshuawilson commented on #971
@michaelkleinhenz why remove the label `area/planner`? Is this not work to be done in the Planner? Or do you see the work being done someplace else?

[2017-10-11 06:38] corinnekrych commented on #1068
@joshuawilson @jstrachan @kbsingh As log as we keep "localhost" in the list of valid (it was once removed and then added back by @alexeykazakov https://github.com/fabric8-services/fabric8-auth/pull/122) we indeed have an env variable to work locally (ui and forge) targeting remote WIT. I guess where it becomes mor ecomplex is if you need all servers running locally (ie WIT too).

@ibuziuk here is

[2017-10-11 06:50] rootAvish opened #1095 "[13][Spike] Tagging packages using LDA/NMF and TextRank to increase coverage and accuracy of tags"
### Description

As discussed in the [proposal on the mailing list](https://docs.google.com/document/d/1fdA4zKotLY_7vnimAp5cW80yFqaoHMCowRK4pRCQeeQ/edit#), the plan here is to use TextRank and LDA/NMF for tagging packages in an attempt to increase the coverage and quality of tags. [Previous work results](https://docs.google.com/spreadsheets/d/1X6ClIqc3sJZXR7mrl0RvJ9FxM9q2tJfJkdjRatybyFo/edit#gid=0

[2017-10-11 06:50] fridex commented on #1093
[FatalTaskError](http://selinon.readthedocs.io/en/latest/tasks.html#task-failures) causes that a task will not be retried (overriding retry stated in `nodes.yaml`). If a task raises some error, it can be transparently stored in the storage adapter that is assigned to that particular task - selinon will call `store_error` that [can store information](http://selinon.readthedocs.io/en/latest/storage.

[2017-10-11 07:05] msrb opened #1096 "Gremlin docker image fails to build"
_From @msrb on August 24, 2017 7:54_

Following links seem to be dead:
https://s3.amazonaws.com/bayesian-titan110/titan-1.1.0-SNAPSHOT-hadoop2.zip
https://s3.amazonaws.com/bayesian-titan110/titan-all.tgz

[code]

_Copied from original issue: fabric8-analytics/gremlin-docker#14_

[2017-10-11 07:05] msrb commented on #1096
_From @abs51295 on October 10, 2017 7:15_

@msrb Is this issue resolved?

[2017-10-11 07:05] msrb commented on #1096
I don't think so: https://ci.centos.org/job/devtools-gremlin-docker-fabric8-analytics/1/

cc @miteshvp

[2017-10-11 07:09] msrb commented on #686
Golang support is now available in production. Thanks everyone for help and suggestions!

[2017-10-11 07:10] msrb commented on #668
Just an update here: scaler is running in staging now, @humaton is talking to SD as we need a service account before we move it to prod.

[2017-10-11 07:10] sunilk747 commented on #996
This is the final JSON file generated for machine generated stacks. https://pastebin.com/hgLSBNSR

[2017-10-11 07:11] sunilk747 commented on #996
This is the final JSON file generated for machine generated stacks. https://pastebin.com/hgLSBNSR

[2017-10-11 07:11] joshuawilson commented on #686
nice!

[2017-10-11 07:20] rgarg1 commented on #977
@corinnekrych Reviewed. Seeing few failures. Check https://github.com/fabric8io/fabric8-test/pull/221

[2017-10-11 07:24] msrb commented on #829
This looks complete-ish to me. @pkajaba @tisnik could you guys please confirm?

[2017-10-11 07:26] abs51295 commented on #1011
This the final [JSON](https://privatebin-it-iso.int.open.paas.redhat.com/?959850b418baeae1#WvwafmEEHVNexLTsTqQoqnndiHgAK/cIqSOTJKK3u5U=) file that maps the packages with the categories.

[2017-10-11 07:26] debloper commented on #795
I believe we are to design it to save and receive files over a CDN server instead of the Planner web-server from the get go? This will save the overhead work of _readjustments_ later on.

In that case the process for uploading the files goes like:
- User intents to attach a file to a Planner entity (not necessarily WI only, but that's good first cut)
- User is given a file uploading interface (bro

[2017-10-11 07:27] #1011 closed

[2017-10-11 07:41] sunilk747 commented on #1010
This is the final [JSON](https://privatebin-it-iso.int.open.paas.redhat.com/?33c2bf8c29cf075e#XRXd7dkQN3Dx69yL8NHDknuZRbXGzMcRAhy59BrDHMc=) file that maps the packages with the categories for vertx.

[2017-10-11 07:41] #1010 closed

[2017-10-11 07:44] msrb commented on #670
I've seen this running in prod and [configuration](https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/f8a_jobs/default_jobs/githubGatheringJob.yaml) looks OK to me (the task runs every 2 weeks and ingests the refreshed data to graph). Although this is still running in prod for pre-summit data, I am OK to mark this as complete. Thanks everyone, especially to @fridex, for fixing

[2017-10-11 07:48] sunilk747 commented on #1009
This is the final [JSON](https://privatebin-it-iso.int.open.paas.redhat.com/?760e23ed18aa0784#RBPN6RG4rLZNU7B/5qaZm7ItvTl/rTmEWjLK2QyT42s=) file that maps the packages with the categories for springbot.

[2017-10-11 07:48] #1009 closed

[2017-10-11 08:19] msrb commented on #956
@pkajaba please update this issue as we discussed yesterday 😉

[2017-10-11 08:28] #1012 closed

[2017-10-11 08:29] msrb commented on #707
This is running in production at the moment. I am not 100% confident that the run will be successful so let's keep this open for now.

[2017-10-11 08:34] abs51295 commented on #1012
This the final [JSON](https://privatebin-it-iso.int.open.paas.redhat.com/?959850b418baeae1#WvwafmEEHVNexLTsTqQoqnndiHgAK/cIqSOTJKK3u5U=) file that maps the packages with the categories.

[2017-10-11 08:35] nimishamukherjee opened #1097 "UX refinement for the page loader spinner"
https://docs.google.com/document/d/1NvbCbiHDKTkLHwALDXf91szke4miVuny4K_l_n5eXCg/edit#heading=h.jgwvnrr16u46

[2017-10-11 08:49] pkajaba commented on #956
As we discussed those exceptions are usually caused because of 2 things:
1) A problem in the library which we are using for reading server-side events. If there are 0 bytes read from stream exception is thrown which leads to restart of a container. Unfortunately, there is no documentation for firehose-fetcher from libraries.io but from doing some research 0 usually, means the end of the stream. wh

[2017-10-11 08:51] fridex commented on #952
Thanks @jpopelka we are now able to analyse go packages even based on versions (patch https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/181). Marking this as completed, can be closed.

[2017-10-11 08:54] fridex commented on #829
I would say yes - marking as completed. Feel free to adjust task status if there are some other bits necessary that I missed.

[2017-10-11 08:56] fridex commented on #709
Ping... Any new findings or solutions?

[2017-10-11 09:07] fridex commented on #1057
We don't do that currently in fabric8-analytics repos. This issue was created so this workflow is approved - it's a manner of few mins to turn this on, but still it's good to know about it and notify devs about this change.

[2017-10-11 09:18] fridex opened #1098 "[5] Improve documentation of Selinon/Dispatcher"
# Description

Selinon/Dispatcher powers task flows in the fabric8-analytics core data gathering. It would be nice to update documentation so it reflects latest changes in the source code that are not documented yet as well as document parts that have missing or poor documentation. This will help to spread knowledge inside team about task flows.

The current documentation can be found at [1], docu

[2017-10-11 09:26] jerboaa commented on #1058
@joshuawilson Using the new space wizard.

[2017-10-11 09:45] aditya-konarde commented on #182
@mishaone wanted to know what the status on this is. Are we ready to publish the documentation now?

[2017-10-11 10:05] krishnapaparaju commented on #1081
Yes, discussed the need to get handle on resources being used.

[2017-10-11 10:17] tisnik opened #1099 "[5] RFE: a simple QA dashboard"
# Description

Provide a simple dashboard that displays all QA-relevant data:

## Services liveness and readiness
- [x] Actual status of stage server (OK, N/A)
- [x] Actual status of production server (OK, N/A)

## SLA
- [x] Basic perf.tests results (component and stack analysis duration)
- [x] Integration tests results for Stage env. (note it is different from testing on CI)
- [x] Integration tes

[2017-10-11 10:25] harjinder-hari commented on #640
@miteshvp not yet. I will finish the integration tests today. Then this issue can be closed. Will keep you updated.

[2017-10-11 10:26] samuzzal-choudhury commented on #1078
This is already available on prod. Hence, closing.

[2017-10-11 10:26] #1078 closed

[2017-10-11 11:10] #734 closed

[2017-10-11 11:43] tuxdna opened #1100 "[5] Go dependencies extraction in F8A core"
As part of this task: https://github.com/openshiftio/openshift.io/issues/686 we added support for ingestion of Go packages. For that to happen, we extract the dependencies from a Go packages source code using [gofedlib-cli](https://github.com/gofed/gofedlib/issues). There are some potential issues which may cause  `gofedlib-cli` to fail. The known issues are following:

- [x] ~https://github.com/g

[2017-10-11 11:45] catrobson commented on #445
@joshuawilson in progress on designs.  We'll have something to show this week to get review on.

[2017-10-11 12:00] msrb opened #1101 "Spike: lower memory requirements of license worker"
Worker containers often get killed by OOM when running license analysis. We want to do a quick spike and see if we could lower memory requirements.

[2017-10-11 12:12] debloper commented on #266
Track #795

[2017-10-11 12:17] krishnapaparaju opened #1102 "POC: Suggest a Github repository based on intent of OSIO user"
Current OSIO flow would start with either with (a) quick start applications (b) point to some existing code base, GitHub repository. OSIO user might need help to figure if any existing GitHub repositories exist that he/she can clone after expressing intent of the application he/she trying to build.  Need a POC for (a) OSIO expressing intent of the application that needs to be built (b) Analytics p

[2017-10-11 12:22] rawlingsj opened #1103 "enable docker build strategy for specific user on OSIO so we can build OSIO images"
so that we can build OSIO on OSIO we will need OpenShift to build our Dockerfiles.  Currently the docker build strategy is disabled but we're in talks with the OpenShift team to enable this for a specific user / namespace

Raising an issue so we track progress, this is related to an internal email.

/CC @rajdavies @jstrachan @smarterclayton @kbsingh

[2017-10-11 12:26] krishnapaparaju opened #1104 "POC: Enable linters and display report along with OSIO Analytics stack report"
Along with recommendations around package dependencies, OSIO user might wanna have clean, following standards kinda codebase. Having linters (can be configurable on/off at user profile page of OSIO user) enabled would display 'report from linters' next to stack analysis report.

As part of POC, can start PyLint (using as part of OSIO analytics development effort) and need to evaluate linters requi

[2017-10-11 12:30] krishnapaparaju opened #1105 "POC: Static analysis of code display bugs along with OSIO Analytics stack report"
Along with recommendations around package dependencies, OSIO user might wanna be notified with bugs in his/her codebase. Having static analyzers (can be configurable on/off at user profile page of OSIO user) enabled would display 'any possible bugs' next to stack analysis report.

As part of POC, can start with Infer (opensource from FaceBook) and need to evaluate static analyzers required for oth

[2017-10-11 12:38] krishnapaparaju opened #1106 "POC: Build knowledge graph for language specific codebase"
As a developer would think thru possible list of things to be implemented and mapping these steps into steps / syntax of a programming language. This POC would build a knowledge graph of accepted operations and associations with other other language constructs (syntactic, semantic). This knowledge graph would be useful to automate generation of code (correct from syntax and semantic point of view)

[2017-10-11 12:42] krishnapaparaju opened #1107 "POC: Weekly developer newsletters around open source packages"
Developers would love a weekly newsletter covering changes / new releases to the ecosystems that they are interested in. As part of this weekly email, this POC can include information on typo squatting (not good packages , but look like good packages).

Functionality around typo squatting involves plain NLP around package names and other descriptive stats that OSIO analytics currently possess. Thi

[2017-10-11 12:46] krishnapaparaju opened #1108 "POC: Monitor application stacks of OSIO users"
OSIO users ask for recommendations and digital vault of OSIO analytics platform would have dependencies along with user's information (email address).

OSIO analytics platform can proactively look for changes in these dependencies, raise PR, build the stack with updated dependencies (dependbot.com / Dependency Monkey)  and alert the user.

 https://github.com/fabric8io/fabric8-platform/issues/156

[2017-10-11 12:49] rawlingsj commented on #557
@kbsingh which mattermost channel are the prod deployment events being sent to?  I've had a little look but cant find them, once we know that yeah I think this issue can be closed.

[2017-10-11 12:49] krishnapaparaju opened #1109 "POC: Static code analysis of content inside application packages"
Currently OSIO analytics platform maintains descriptive statistics about a package (name....., versions etc. ). This POC takes the work to the next level to indicate the health of the code inside the   application package (non binary)

[2017-10-11 12:51] krishnapaparaju opened #1110 "EPIC: POCs enhancing the value and reach of OSIO analytics platform"
Outside the daily work items, these POCs would significantly enhance the value that OSIO analytics platform deliver to broader developer audience.

#1102
#1104
#1105
#1106
#1107
#1108
#1109

[2017-10-11 13:01] corinnekrych commented on #861
it is fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:01] #861 closed

[2017-10-11 13:02] pkajaba commented on #1052
I had an idea about asking fedora/RHEL package maintainers for help on this one. These people usually have knowledge about CVE's and they can surely match CVE to a component.

@humaton told that package maintainers are at the end of the CVE announcement chain and there are people who might know better. He could elaborate more on this.

[2017-10-11 13:05] corinnekrych commented on #911
it's fixed with https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:05] #911 closed

[2017-10-11 13:06] rawlingsj commented on #1103
This is in progress and next stage is working with the security team to ensure correct policies and processes are in place before our new tenant can use the docker build strategy.

[2017-10-11 13:25] corinnekrych commented on #793
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:25] #793 closed

[2017-10-11 13:25] corinnekrych commented on #774
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:25] #774 closed

[2017-10-11 13:27] corinnekrych commented on #756
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:27] #756 closed

[2017-10-11 13:28] corinnekrych commented on #653
should be fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:28] #653 closed

[2017-10-11 13:28] corinnekrych commented on #591
fixed https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:28] #591 closed

[2017-10-11 13:29] corinnekrych commented on #544
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:29] #544 closed

[2017-10-11 13:30] corinnekrych commented on #543
@catrobson do we have any widget in patternfly-ng that could help?

[2017-10-11 13:31] corinnekrych commented on #540
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:31] #540 closed

[2017-10-11 13:32] corinnekrych commented on #532
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:32] #532 closed

[2017-10-11 13:33] catrobson commented on #543
Does this field still exist?  What does it do so I can better identify the right widget?

[2017-10-11 13:33] corinnekrych commented on #507
fixed https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:33] #507 closed

[2017-10-11 13:33] corinnekrych commented on #506
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:33] #506 closed

[2017-10-11 13:34] corinnekrych commented on #505
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:34] #505 closed

[2017-10-11 13:34] corinnekrych commented on #484
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:34] #484 closed

[2017-10-11 13:34] corinnekrych commented on #483
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:34] #483 closed

[2017-10-11 13:36] #439 closed

[2017-10-11 13:36] ldimaggi opened #1111 "Cannot create new quickstart project on prod-preview"
Steps to recreate:
* On prod-preview, create a new space
* Attempt to create a new quickstart project - observe this Forge error:
![screenshot from 2017-10-11 09-16-48](https://user-images.githubusercontent.com/642621/31443435-72e1622c-ae67-11e7-80d0-445f5dcb87fe.png)

This error is seen when the Jenkins log when the pod starts up:

[code]

[jenkins.log](https://github.com/openshiftio/openshift.io

[2017-10-11 13:37] corinnekrych commented on #382
fixed in https://github.com/openshiftio/openshift.io/issues/966

[2017-10-11 13:37] #382 closed

[2017-10-11 13:42] ldimaggi commented on #1055
Yes - this is reproducible - if the Jenkins pod is up, but the Content Repo pod is down - the "Jenkins" status icon in the status display is still green.

[2017-10-11 13:43] corinnekrych opened #1112 "Create shareable code for Forge wizard between fabric8-ui and launchpad-frontened"
# Description
As a developer, I want to share UI code between launchpad-frontend and fabric8-ui for the forge wizard widgets.

# Acceptance Criteria
- [x] create a ngx-forge repo
- [x] use the dependency in fabric8-ui
- [x] use the dependency in aunchpad-frontend

Joint effort with @edewit

[2017-10-11 13:44] ldimaggi commented on #1047
Closing - there is a newer new issue- https://github.com/openshiftio/openshift.io/issues/1111

[2017-10-11 13:44] #1047 closed

[2017-10-11 13:49] #670 closed

[2017-10-11 13:49] corinnekrych opened #1113 "Finish wizard flow with default values"
# Description
As a user of Application wizard, I want to be able to finish the import and the quickstart flow with default values.

# Acceptance Criteria
- [ ] update patternfly-ng repo with @catrobson design as discussed durin UX/dev meeting: https://docs.google.com/document/d/11AV3TAgHcg_i_ywg6h8UwCz_dDtNJvWA3bqJU4o6ZFc/edit also described in design: https://redhat.invisionapp.com/share/DUD3OHBM

[2017-10-11 13:54] corinnekrych opened #1114 "Update e2e test to run with new application design"
# Description
To follow up on https://github.com/openshiftio/openshift.io/issues/966 we need to revisit e2e test and Forge API test to run with the new wizard.

# Acceptance Criteria
- [ ] update fabric8-test e2e space creation test
- [ ] update fabric8-test e2e quickstart test
- [ ] update fabric8-test e2e import wizard test
- [ ] update API test quickstart test
- [ ] update API test import wizar

[2017-10-11 13:55] ibuziuk commented on #1111
Look like a duplicate of https://github.com/openshiftio/openshift.io/issues/1068

[2017-10-11 14:02] ibuziuk commented on #1068
@corinnekrych my use-case is different - I can not create a quickstart on staging environment ;)

@jstrachan how could we test openshift upgrades without staging environment? Migration from 3.5 to 3.6 was literally a nightmare for Che and I believe it was agreed that before cluster update everything must be tested on staging environment first (free-int is 3.7 / prod is 3.6 currently)

[2017-10-11 14:07] jstrachan commented on #1068
I'm not saying we shouldn't use testing or other clusters - am just saying I've never found the staging cluster to be useful for anything I've work on in OSIO.

We can boot up the entire OSIO platform on any openshift/kubernetes cluster via the [fabric8 installer](https://github.com/fabric8io/fabric8-platform/blob/master/INSTALL.md) and then test that - stuff typically then works too. Whereas outs

[2017-10-11 15:02] #1058 closed

[2017-10-11 15:26] ldimaggi commented on #663
Closing this issue.  The EE tests that are now running on Centos CI verify the creation of pipelines and Che workspaces for all of our (5) integrated quickstarts. We are now working on getting the tests running on each PR.

[2017-10-11 15:26] #663 closed

[2017-10-11 15:27] ldimaggi opened #1115 "Extend EE tests to cover user accounts that are/are not in github organizations"

[2017-10-11 15:39] kbsingh commented on #1068
at the moment the errors look specific, eg :
[code]

it would be good if we can investigate what the problem is - its possible this is symptoms of something that is going to blow up in prod next.

[2017-10-11 15:40] ldimaggi commented on #1111
![screenshot from 2017-10-11 11-40-20](https://user-images.githubusercontent.com/642621/31451030-fdbe53f8-ae78-11e7-91f4-78565e4c02fe.png)

[2017-10-11 15:41] jerboaa commented on #1058
Could somebody explain why this issue got closed?

[2017-10-11 15:47] kbsingh commented on #1068
that specific error might not be interesting, Jenkins seems to be running ok. I think someone on the Forge team is going to need to look at this.

[2017-10-11 15:52] jfchevrette commented on #1068
![jenkins](https://user-images.githubusercontent.com/3001/31451480-370996bc-ae7a-11e7-9ef4-6bb448ded748.png)

[code]

[2017-10-11 17:08] xcoulon opened #1116 "Cannot open a space when username is an email address"
working locally with my username being my email address, I can create a space but cannot open it: `/xcoulon%40redhat.com/test` not found. Also, once created, it does not appear in the `recent spaces` card of my home page. For that latter case, the request is sent to `http://localhost:8080/api/namedspaces/xcoulon@redhat.com?page[limit]=5` which returns a `404 Not Found` response.

Also, the server'

[2017-10-11 17:08] xcoulon commented on #1116
Also opened here: https://github.com/fabric8-services/fabric8-wit/issues/1707

[2017-10-11 18:00] bmicklea opened #1117 "Idle / awake policies for OpenShift.io"
Idling of pods is needed in order to optimize the distribution of resources to active users and increase the number of concurrent users that can be handled. Below are two separate options that present an ideal (#1) and easier (#2) method.

## Option 1 (Ideal): Aggressive Idling with Fast Awakening
Each pod (in stage or run, inclusive of Fabric8-generated PR pods) is idled after 15 minutes since la

[2017-10-11 18:22] #1071 closed

[2017-10-12 04:54] joshuawilson commented on #1117
@kbsingh is this something you should own?

[2017-10-12 04:57] joshuawilson commented on #1116
@xcoulon I can see how this could be fixed in just the UI, but you posted it in -wit too. Do you plan on fixing this or see where it can be fixed in the backend?

[2017-10-12 05:00] joshuawilson commented on #1058
@aslakknutsen why did we close this?

[2017-10-12 05:07] joshuawilson commented on #1115
Is this really for the Test team, that being @bartoszmajsak and his team?

[2017-10-12 05:12] joshuawilson commented on #1055
What is the Content Repo?

[2017-10-12 05:26] joshuawilson commented on #266
Closing as it is a duplicate.

[2017-10-12 05:26] #266 closed

[2017-10-12 05:29] joshuawilson commented on #182
cc @rkratky

[2017-10-12 05:30] joshuawilson commented on #1057
good point

[2017-10-12 05:40] miteshvp opened #1118 "[5] Improve Vertx/Springboot coverage to 100% of top Github Stacks by Manual tagging effort"
### Description
Automated tags can not be captured due to multiple reasons such as dependent component being a private repo, Github url being stale, No information on mvncentral, etc. Also, not all the components automatically tagged may result in accurate tags.

This task is about manual tagging of each of the Vertx and Springboot components that are part of top popular `Github Stacks [1]` and fo

[2017-10-12 05:49] jstrachan commented on #1055
A small nexus like thing to store releases Pom / jars

[2017-10-12 05:57] miteshvp opened #1119 "[8] [Spike] GraphDB - migrate from TitanDB to JanusGraph"
#### Description
Currently f8-analytics graph uses AWS DynamoDB with TitanDB. With TitanDB upstream community no longer active and already migrated to JanusGraph, AWS has also added support for the same. This spike is about to see any challenges we might face and list it if we migrate from existing TitanDB to JanusGraph.

##### Task List
- [ ] Initiate Gremlin-Docker with Titan layer pointing to A

[2017-10-12 06:05] joshuawilson commented on #1055
@jstrachan is this something you can fix?

[2017-10-12 06:27] humaton commented on #1052
Yes, people in SRT dept should have the information much sooner, they are the people creating CVE bugzilla for package maintainers.

[2017-10-12 07:26] jstrachan commented on #1055
not sure which part of this you want me to fix.

* there's something going wrong if the Content Repo can't run - I've no clue why thats happening or what the fix to stop it is. Someone who reproduces this issue needs to use `oc` to describe the `DeploymentConfig` / `Pod` and maybe look at the pods log to find out why its not running - is it quota related? PVs full maybe?
* someone on the monitorin

[2017-10-12 07:46] #686 closed

[2017-10-12 07:46] #772 closed

[2017-10-12 07:46] #792 closed

[2017-10-12 07:47] #829 closed

[2017-10-12 07:47] #949 closed

[2017-10-12 07:47] #952 closed

[2017-10-12 07:47] #956 closed

[2017-10-12 07:47] #976 closed

[2017-10-12 08:01] #977 closed

[2017-10-12 08:26] jpopelka commented on #1105
We still have a [task in f8a-worker](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/csmock_worker.py) which runs [csmock](https://github.com/kdudka/csmock) tool for static analysis, but the task has not been enabled for some time.

Also, how is this related to #1109 ?

[2017-10-12 09:26] SaketJNU commented on #983
Now the desired list is available in "prod-manifests-new" s3 bucket.
So, We can close this issue.

[2017-10-12 09:27] #983 closed

[2017-10-12 09:47] #996 closed

[2017-10-12 09:50] miteshvp commented on #973
@sara02 - think about normalizing the weighted factor

[2017-10-12 09:55] miteshvp opened #1120 "[3] Ingest Node and .NET ecosystem into Graph"
#### Description
We have already analyzed .NET and Node components and results are available in S3. We want all of that data into our Graph for OLTP transactions.

##### Acceptance Criteria
All the data for .NET and Node present in S3 should be ingested into our graph db

[2017-10-12 10:03] #1120 closed

[2017-10-12 10:04] miteshvp commented on #1120
Closing as duplicate of #1072

[2017-10-12 10:07] msrb commented on #939
Starting small in staging environment. If everything goes well there I will schedule bigger batch in production so workers are busy over the weekend.

[2017-10-12 10:22] tuxdna commented on #1100
Here is a comparison of `go list` vs `gofedlib`.

Lets us try to find dependencies of `github.com/docker/docker` using `go list`:

[code]

So it seems that `go list` tries to check `*.go` files in base input path. If there are no such `*.go` files, then no dependencies are reported. Instead an error is generated.

Now lets try `gofedlib-cli`:

[code]

Clearly `go list` can not provide dependencies

[2017-10-12 10:28] tuxdna commented on #1100
There is one more significant difference between `go list` output and `gofedlib-cli` output, that former just reports the package names. And the later one reports the SCM repo URL, which is better for fetching dependencies.

Using `go list` a kind of mapping from **package name** to **SCM repo URL** will be needed.

This kind of mapping is also used by `gofedlib-cli`, used to generate the SCM repo

[2017-10-12 10:32] samuzzal-choudhury commented on #959
This work is completed in the sprint 138 and the rest of the works are going to be tracked in the user story https://github.com/openshiftio/openshift.io/issues/701

[2017-10-12 10:32] #959 closed

[2017-10-12 10:44] msrb commented on #939
First observation: anitya task is failing - which is weird because it shouldn't be executed for Go ecosystem.

[2017-10-12 10:49] aslakknutsen opened #1121 "Notification email threading 'broken' in Gmail"
The current email layout combined with gmails 'remove things we've seen before' is causing some odd looking results..

![screenshot from 2017-10-12 12-45-19](https://user-images.githubusercontent.com/132158/31492466-756bfcf2-af4b-11e7-9d58-211d6511d189.png)

@mindreeper2420 Something you can look at?

[2017-10-12 10:58] fridex commented on #939
Looks like logical error: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/394

[2017-10-12 11:36] tuxdna commented on #1100
@msrb I guess, we should also capture the test dependencies using `gofedlib-cli`

[code]

At present we are not doing that - https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/mercator.py#L199

[2017-10-12 14:04] fridex commented on #690
PR in https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/185

[2017-10-12 14:12] joshuawilson commented on #357
You don't have to close it but you can't stay here. Please close or move to backlog or next sprint.

[2017-10-12 14:12] joshuawilson commented on #974
You don't have to close it but you can't stay here. Please close or move to backlog or next sprint.

[2017-10-12 14:13] joshuawilson commented on #710
You don't have to close it but you can't stay here. Please close or move to backlog or next sprint.

[2017-10-12 14:13] joshuawilson commented on #712
You don't have to close it but you can't stay here. Please close or move to backlog or next sprint.

[2017-10-12 14:13] joshuawilson commented on #726
You don't have to close it but you can't stay here. Please close or move to backlog or next sprint.

[2017-10-12 14:13] joshuawilson commented on #640
You don't have to close it but you can't stay here. Please close or move to backlog or next sprint.

[2017-10-12 14:22] rawlingsj commented on #1073
All failed pipeline jobs will now automatically notify a mattermost channel when a PR or master job fails.  You should be able to see the channels prefixed with `f8_` and then the github org that your repo is in.

[2017-10-12 14:23] rawlingsj commented on #1073
Which repo / job are we talking about here?

[2017-10-12 14:24] pkajaba commented on #1073
We are talking about this organization https://github.com/fabric8-analytics/ and most of repos from this org

[2017-10-12 14:29] pkajaba commented on #1073
For each repository, there should be three jobs and we are interested about ones which builds master branch: for example https://ci.centos.org/job/devtools-fabric8-analytics-jobs-f8a-build-master/

[2017-10-12 14:29] rawlingsj commented on #1073
Ah it looks like fabric8-analytics isn't using fabric8 pipelines yet.  I can see they have Jenkinsfiles so great!  I wonder if we should add the fabric8-analytics to the fabric8 GKE cluster that's building the other orgs?  That way it's the same infra as the repos and you'll get the mattermost notifications?

Where does the current jenkins that's running these live?  If the above is no good you co

[2017-10-12 14:37] pkajaba commented on #1073
We are running in https://ci.centos.org/ and unfortunately, we don't use Jenkinsfiles there. However, we can add some commands into https://github.com/fabric8-analytics/fabric8-analytics-jobs/blob/master/cico_setup.sh

We moved to Centos CI just recently and I am not sure whether we want to move there. @msrb might shed some light into it

This sounds like the best option in our current situation.

[2017-10-12 14:54] rawlingsj commented on #1073
Ok I dont know much about that I'm afraid.

Shame you didn't move to fabric8 pipelines and help out with the dog fooding, you'd have had this OOTB then ;)

There is an existing hubot that we use but I've disabled the external route as it's an unauthenticated service.

If this is on ci centos the I think there's already some mattermost integration already,  @kbsingh @vpavlin could either of you two

[2017-10-12 15:19] aslakknutsen commented on #867
Reclassify as an Enhancement, not a bug.

[2017-10-12 15:24] aslakknutsen commented on #676
Not sure this is a bug. Spacename is defined to be DNS compatible, to possible allow spacename.account.openshift.io exposed at some point.

[2017-10-12 15:28] aslakknutsen commented on #630
@dgutride You loop over the spaces for a user and delete 1 by 1, don't you? Are you taking pagination into account?

[2017-10-12 15:35] aslakknutsen commented on #535
Fixed by fabric8-ui/fabric8-ui-openshift-nginx#9

[2017-10-12 15:48] aslakknutsen commented on #777
@alexeykazakov I think I missed the point of the xyz@gmail.com part...

[2017-10-12 16:01] ldimaggi commented on #1073
Syam set up this channel for us - for alerts from the EE tests running on
Centos CI - https://chat.openshift.io/developers/channels/openshiftio-alerts

It receives updates from Zabbix when the tests pass/fail.

On Thu, Oct 12, 2017 at 10:54 AM, James Rawlings <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  9

[2017-10-12 16:08] ldimaggi commented on #1055
Sorry for any confusion - the issue here is that the content repo status is not shown in the OSIO status icon pulldown list. So - the user will not know if it is down. It's a different issue if it crashes or fails to start. Thx!

[2017-10-12 16:17] rkratky commented on #313
@joshuawilson, that link never went live because it was decided not to have docs on the RH Customer Portal. Could you please just remove until we have acks to publish docs on docs.osio? (I asked Catherine to remove the link many months ago, but I guess it got lost in some noise.)

[2017-10-12 16:20] rkratky commented on #182
@aditya-konarde, it was decided that OSIO docs won't be (at least for time being) published on the RH Customer Portal. Instead, they'll be at docs.openshift.io. As I mentioned in #313, this link should be removed until we have acks to publish on docs.osio.

[2017-10-12 17:05] slemeur commented on #1060
The issue is still valid and the end-user experience is really not straight forward this way. We might find workarounds for that.

[2017-10-12 17:06] slemeur commented on #1022
@ldimaggi : Have you been able to reproduce this problem ? If not, can we close it for now and reopen if we encounter it again?

[2017-10-12 17:41] slemeur commented on #1061
Removing the label `kind/bug` as the product is behaving correctly, but it is more an open question about the quick start it self.

@ibuziuk : About the validity of the use case. I agree that the logical flow on osio should be to go over a jenkins pipeline to handle this step. But it should still remain possible to execute that action from Che - exactly as you would be able to do it from your loca

[2017-10-12 17:55] slemeur commented on #531
@l0rd : I'm still seeing the on 2.0.35

![screen shot 2017-10-12 at 19 54 29](https://user-images.githubusercontent.com/1636769/31511211-4776ed70-af87-11e7-8181-7cd755504240.png)

[2017-10-12 19:39] ldimaggi commented on #1022
I think that we can close this issue - I have not seen it for a while. Thx for the followup!

[2017-10-12 19:39] #1022 closed

[2017-10-12 20:03] ldimaggi opened #1122 "Logged in user is able to view in another user's space - attempts to create projects in another users space hang - should raise an error"
While debugging a failed test - I was able to access a different user's space:

![screenshot from 2017-10-12 15-56-19](https://user-images.githubusercontent.com/642621/31516536-e719d2d2-af66-11e7-8c32-0e2a10c40578.png)

Impacts #2133

[2017-10-12 20:05] joshuawilson commented on #313
I've moved this to the Platform backlog since it is a code change to the dashboard UI.

[2017-10-12 20:08] joshuawilson commented on #1122
Accessing another space is not really a bug. There doesn't appear to be a security risk, it is just some bad UI that needs cleaning up.

[2017-10-12 20:11] ldimaggi commented on #1122
I will need the other space's owner (James) to do this - but if he sets a project's associated github repo to private - should I be able to see it through OSIO?

[2017-10-12 21:10] alexeykazakov commented on #777
@aslakknutsen Just didn't want to expose my real email in the comment above so I edited the original output and replaced the realm email by xyz@gmail.com

[2017-10-12 21:12] alexeykazakov commented on #357
Done.

[2017-10-12 21:12] #357 closed

[2017-10-12 21:18] alexeykazakov commented on #313
I don't see this link anymore. Looks like it has been already removed?

[2017-10-13 01:54] joshuawilson commented on #313
So it has, closing.

[2017-10-13 01:54] #313 closed

[2017-10-13 01:58] joshuawilson commented on #777
So how do we fix this?

[2017-10-13 01:59] joshuawilson commented on #1122
I don't think we support private repos yet, so it shouldn't work at all.

[2017-10-13 02:13] alexeykazakov commented on #777
1. We should use the user's public email in the initial commit instead of private@github.com
2. If user doesn't have any public email then create the initial commit using some osio email (bot@openshift.io ?) We could register a user with such email so it renders nicely in GitHub UI.

[2017-10-13 04:05] joshuawilson commented on #1055
@jstrachan thanks, that lists helps enough for others to pick up the bits.

[2017-10-13 04:06] joshuawilson commented on #777
would this be fixed in the registration process? github connection point? app wizard?

[2017-10-13 04:32] alexeykazakov commented on #777
The first commit is created by forge generator I think?

[2017-10-13 09:06] fridex commented on #1072
I've just scheduled syncs of nuget packages to graph on priority workers. Once finished, we can move on to nuget ecosystem.

[2017-10-13 10:46] rootAvish commented on #1095
Blocked due to lack of AWS console access.

[2017-10-13 10:57] krishnapaparaju commented on #668
@humaton do we have documentation around the strategy been followed to get around the current limitation of OpenShift around scaling..

[2017-10-13 10:59] krishnapaparaju commented on #707
@msrb I believe we are talking about detected licenses (as part of this issue). Showing detected licenses is not current priority, not being shown to OSIO users. Might be important piece of information down the road, I would suggest not to spend workers towards this workitem.

[2017-10-13 11:45] abs51295 opened #1123 "[13] [Spike] - Graph based PGM for detecting outliers"
### Description
Currently, PGM is not able to suggest accurate outliers. This spike is about to see if Graph DB can be used to overcome this limitation of PGM.

### Acceptance Criteria
To come up with Graph DB Design and algorithm to detect outliers.

### Task List
- [x] Design the Graph Schema for the Graph DB.

- [x] Ingest the data into Graph DB.

- [x] Query the Graph DB to verify outlier dete

[2017-10-13 14:01] fridex commented on #707
Based on this comment and discussion we had on today's standup, I will stop the batch run and move this card back to backlog.

[2017-10-13 14:12] fridex commented on #707
Workers are still processing the batch, there was an error with endpoint (https://github.com/fabric8-analytics/fabric8-analytics-jobs/issues/188)

[2017-10-13 15:40] joshuawilson commented on #777
@jstrachan do you have any insight on this?

[2017-10-13 15:41] joshuawilson commented on #867
Why is this not a bug, it should have always rolled up to the button?

[2017-10-13 15:43] ldimaggi commented on #1034
Event log - required ~9 min to successfuly start Jenkins after an env. reset

[jenkins_pod_9_min.pdf](https://github.com/openshiftio/openshift.io/files/1383136/jenkins_pod_9_min.pdf)

[2017-10-13 15:45] ldimaggi commented on #616
Closing - this issue has not been seen recently.

[2017-10-13 15:45] #616 closed

[2017-10-13 15:49] joshuawilson commented on #1034
@aslakknutsen do think this is an issue for Platform, SD, or build?

[2017-10-13 15:51] joshuawilson commented on #959
Added to Sprint 138 so we can track what we closed.

[2017-10-13 15:54] ldimaggi commented on #617
Closing as this is non reproducible and has not been seen for weeks.

[2017-10-13 15:54] #617 closed

[2017-10-13 15:57] ldimaggi commented on #1075
Closing as non-reproducible - I think that this was caused by resource contention when multiple tests ran (inadvertently) at the same time - and collided.

[2017-10-13 15:57] #1075 closed

[2017-10-13 17:26] l0rd commented on #531
@slemeur we need to set Che upstream version to `5.19.0` to get this fix to osio. That's planned for next week.

[2017-10-13 17:30] joshuawilson commented on #1044
The versions have been aligned and the code updated to use the latest version of Angular (4.4.4).

[2017-10-13 17:30] #1044 closed

[2017-10-13 17:31] joshuawilson commented on #1044
To be clear, PF does not drive what version of Angular someone should use. They can tell you what they support.

[2017-10-13 17:40] l0rd commented on #1061
@slemeur @ibuziuk an initial requirement for Che on OSIO was to block access to the OpenShift API from within a Che workspace. We didn't want users to be able to call the API directly to create pods, services routes etc...This requirement was particularly important for the service delivery team (cc @kbsingh). That explains why this quickstart should not work in Che by design.

This makes sense fro

[2017-10-13 17:53] jpopelka commented on #1052
First I've been trying to make sure there's no better option than some (semi-)manual mapping.

There are several publicly available databases which use ecosystem(platforms):package-name (not CPE):
- [Snyk's vulndb](https://github.com/snyk/vulnerabilitydb) - we were using this previously, but abandoned it because they had stopped updating data
- [OSS Index](https://ossindex.net/b/16-07/24.package-s

[2017-10-13 19:16] pombredanne commented on #1052
@jpopelka pong! You have built a fairly comprehensive list there. I could add  a few ones for Debian, Ubuntu, Rubygems and FWIW I met with the cve-search folks a few times and we have plans to collaborate in this domain.

This ticket nails it: mapping reliably a Package (e,g, what you call an EP) to a CVE/vulnerability is NOT a solved problem and is the essence of any package vulnerability alertin

[2017-10-13 19:55] ibuziuk commented on #1061
I believe it is still possible to deploy the app from workspace on osio to some other cluster by executing oc commands from the terminal. Just saying that for now there is no meaningful use-case for it

[2017-10-14 06:59] jpopelka commented on #1052
I guess Github folks are tackling similar questions when implementing their [Security alerts](https://github.com/blog/2447-a-more-connected-universe)

[2017-10-14 16:40] pombredanne commented on #1052
@jpopelka you wrote:

So we should find out who handles this at GH so we can work things out together?

[2017-10-14 17:02] aslakknutsen commented on #1059
@joshuawilson It's brewing in the back of my head. Just not quite sure what to actually check for. Specially when we're starting to talk about Profiles as the templates in a large extent decide what auth the user needs. But we can certainly add a few basic know ones for now, e.g. create/edit RoleBindings/RoleBindingRestrictions/DeploymentConfigs/Secrets/ConfigMaps

[2017-10-16 03:59] invincibleJai commented on #1118
@miteshvp have added task list for UI with my understanding on it as of now. Please add if anything i missed.
CC @samuzzal-choudhury

[2017-10-16 04:07] krishnapaparaju opened #1124 "On a single screen, showing up duplicate panels for Pipeline, Codebase views"
Few clicks on 'Codebases' , 'Pipelines' (repeatedly) would add (repeatedly) UI panels for 'Codebases and 'Pipelines' resulting in duplicate content / panels on a single UI screen.

[2017-10-16 05:46] sthaha opened #1125 "Che: Clicking on preview link in run tab does not reflect the latest change"
Che version
----------------
[code]

## Steps to reproduce the issue ##

### Setup ###
1. Create a Vert.x Helloworld project
1. Open the project in `che`
1. Make changes to the `index.html` under `src/main/resources/webroot/`
1. Run
1. Click on the preview link (opens a new tab)

### Test ###
1. Modify the `index.html` file (save)
1. Wait for the `run` to finish
1. Click on preview link which open

[2017-10-16 06:05] sthaha opened #1126 "pipeline: clicking stage preview link opens an older version"
Openshift.io version
--------------------------
[code]

## Steps to reproduce the issue ##

### Setup ###
1. Create a Vert.x Helloworld project, choose `build -> roll to stage -> approve -> run` pipeline
1. Wait for the pipeline (build-1) to finish (waiting approval)
1. Click on the `Stage - Preview link`
1. Abort pushing to `Run`

1. Open the project in `che`

### Test ###
1. Make some changes sa

[2017-10-16 06:15] arunkumars08 commented on #984
@miteshvp @SaketJNU Is this API change available in production? I don't see it when I ran a new stack analysis.
This is what I 've just triggered (https://recommender.api.openshift.io/api/v1/stack-analyses/76830a2a374f43a6bfd61e942c85649b).

Correct me if I am missing something?

[2017-10-16 06:38] arunkumars08 opened #1127 "POC - Machine Generated Tasks - Phase II"
### Tasks

- [x] Removing the redundant code
- [x] Removing selection from dropdown in case user clicks close.
- [x] Address flickering while on hover of component
- [ ] Bring in validation [When user submits without any data, it has to be handled]
- [ ] Bring in a mechanism to have a display of error messages [Make it generic]
- [x] Fix the added packages overlapping each other when they exceeded

[2017-10-16 07:17] SaketJNU commented on #984
HI @arunkumars08 ; The changes are not available at desired place as the PR https://github.com/fabric8-analytics/fabric8-analytics-server/pull/171 is still open with no further comment. Once, this PR will get approved, merged and deployed on prod, you may  say the changes in response if an input-stack has that.
Thank

[2017-10-16 07:36] sthaha opened #1128 "Clicking on "Plan" tab followed by "Create" and then back to "Plan" creates duplicate tabs"
Version Info
----------------
[code]

![osio-multiple-tabs-bug](https://user-images.githubusercontent.com/3005132/31600057-5dfa2012-b298-11e7-9491-f23e1aa85a58.gif)

[2017-10-16 08:12] rootAvish commented on #1095
Will be blocked once we get around to maven.

[2017-10-16 08:21] ibuziuk commented on #955
start getting this issue on prod - `connect your GitHub and OpenShift.com accounts` screen is never moving on for me

[2017-10-16 08:31] jstrachan opened #1129 "import project wizard no longer seems to default to the current users 'organisation'"
I can't seem to import any repos any more that are owned by me - the only options provided are now just the organisations I belong to.

[2017-10-16 08:31] jstrachan commented on #1129
whoah - just tried a second time and it worked ;) wonder if it was just a caching issue?

[2017-10-16 08:31] #1129 closed

[2017-10-16 08:34] vpavlin commented on #1068
@ibuziuk I think the issue you saw should be gone on prod-preview now with change in https://github.com/fabric8io/generator-backend/pull/63/files

There is another bug though - according to @jstrachan and @rawlingsj probably related to 3.7

[code]

Generally it seems Forge (?) cannot upload build configs to OSO 3.7

[2017-10-16 08:35] RanjithRV opened #1130 "Gather some data points for the Freesia Release Retrospective"
Request for data related to number of commits to pre-prod and prod along with any other data that   might us to have a very focused and objective retrospective.

List of failures that slowed us down such as pipelines failing or some commit breaking the production etc. We know that we are not there yet from a CI/CD point of view and hoping this will help us to realise the length of the journey to h

[2017-10-16 08:37] jstrachan commented on #1068
that error should have gone away now with the revert of the new kubernetes client in forge https://github.com/fabric8io/fabric8-generator/commit/e80e93ccb205e8a8aca876875ba36be687e8a895

[2017-10-16 08:42] ibuziuk commented on #1068
@vpavlin @jstrachan having another problem right now
![image](https://user-images.githubusercontent.com/1461122/31602871-94a5862c-b25e-11e7-98ba-1f23673cfd42.png)

[2017-10-16 08:53] #966 closed

[2017-10-16 08:56] vpavlin commented on #1068
@ibuziuk Assuming you get this at the end of the Forge workflow, it's cause by the error I pasted above (error is from container logs)

[2017-10-16 09:02] rawlingsj commented on #1068
Looks like there's an issue with openshift because the version that has the fix for https://github.com/openshiftio/openshift.io/issues/1068#issuecomment-336818638 is in fabric8-forge https://github.com/fabric8io/generator-backend/tree/v1.0.81, the DC in prod preview is  1.0.81 but the pods are still at 1.0.80.

Also checking the DC it shows it has 2 desired but 0 current:
[code]

[2017-10-16 09:05] ibuziuk commented on #1068
@vpavlin yeah, it was at the very end

[2017-10-16 09:10] vpavlin commented on #1068
@rawlingsj I kick off another deployment and it succeeded - could that the image was unavailable or something? There were some readiness probe fails toos, but probably not enough to kill the deployment, though we could give it more head room for readiness probe..

Anyway, I was able to get through the quickstart generation and pipeline kicked off

[2017-10-16 09:11] michaelkleinhenz commented on #1097
See https://redhat.invisionapp.com/share/UGDX1WHZ5

[2017-10-16 09:11] rawlingsj commented on #1068
So this issue can be closed?

[2017-10-16 09:13] rawlingsj commented on #1068
As a side point it would be good to get some monitoring / alerting to notify if a DC deployment fails or pods are at the wrong version.

[2017-10-16 09:13] vpavlin commented on #1068
If @ibuziuk confirms it works for him, then yes

[2017-10-16 09:13] vpavlin commented on #1068
@jfchevrette I am sure it's somewhere in Zabbix, do we send failed prod-preview DCs notification somewhere?

[2017-10-16 09:18] corinnekrych commented on #1068
@ibuziuk @vpavlin I was able to import a repo using wizard on prod-preview;
https://www.dropbox.com/s/4dr40tdl6txfh2q/Screenshot%202017-10-16%2011.15.41.png?dl=0
🎉
It looks good to me.

[2017-10-16 10:59] pkajaba commented on #1073
I can't see openshiftio-alerts channel. Is it private? Do you think that Syam can do the same thing for us? Or are those message for the whole centos-CI?

[2017-10-16 11:08] andrew commented on #1052
@pombredanne I believe @benjam has a contact at GH that we're talking too about this, and linking with Libraries.io data

[2017-10-16 11:29] krishnapaparaju opened #1131 "Maintain graph relations in form of RDF"
OSIO Analytics platform uses graph database to server user traffic. The required entities, relations of this database are documented in form of a document, can migrate current entities, relations and all the future entities, relations to RDF. This enables code generation from this RDF content.

[2017-10-16 11:48] ibuziuk commented on #1068
Still not able to create space based on vertx quickstart, but with a different error now:

![image](https://user-images.githubusercontent.com/1461122/31610470-793644ca-b278-11e7-981a-bd76aa5685f3.png)

[2017-10-16 12:09] ldimaggi commented on #1073
I just sent you an invite to that mattermost channel. The goal of the channel is for all all alerts for OSIO.

[2017-10-16 12:31] krishnapaparaju opened #1132 "Extend the coverage of licenses for calculating application stack level license"
Currently OSIO Analytics calculates application stack level license, figures out outliers based on licenses. Towards this goal, OSIO analytics support limited set licenses at individual package level, as described here : https://www.dwheeler.com/essays/floss-license-slide.html

As part of increasing the coverage of licenses, can consider (not limited to) package licenses mentioned here : https://c

[2017-10-16 12:50] slemeur commented on #531
Ok thanks @l0rd !

[2017-10-16 12:53] pkajaba commented on #1073
Thanks a lot for an invitation. However, there are just reports whether E2E
tests failed/succeeded. Our goal in this task is to notify developer that
his PR failed. Is there any implemented way how to do it?

On Mon, Oct 16, 2017 at 2:09 PM Len DiMaggio <notifications@github.com>
wrote:

[2017-10-16 13:24] vpavlin commented on #1068
Something had to change again:) I see it too, but I also see a change in Forge UI (but generator backend did not update, so I blame the UI this time:) ). @joshuawilson What do you think?

[2017-10-16 13:27] rawlingsj commented on #1068
I suspect it's related to this endpoint having an extra`/` at the end? https://github.com/fabric8io/generator-backend/blob/master/Jenkinsfile#L78

[2017-10-16 13:30] vpavlin commented on #1068
I don't think so..I've specifically put it there to follow the default value here https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/EnvironmentVariables.java#L35

[2017-10-16 13:33] rawlingsj commented on #1068
OK so in that case yeah sounds like this commit might be related @corinnekrych https://github.com/fabric8-ui/fabric8-ui/commit/07b035dab43a4d415321e3c9207991dd59d7764b

[2017-10-16 13:45] corinnekrych commented on #1068
@rawlingsj @vpavlin I confirmed we just pushed a big UI PR.
Checking https://github.com/fabric8-ui/fabric8-ui/blob/master/environments/openshift-prod-cluster.sh#L49 it seems the forge one is without `/` so we add it here https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/forge-wizard/forge.service.ts#L16 but i guess we should wether or not it's here already. let me fix that.

[2017-10-16 14:36] alexeykazakov commented on #1126
Pipeline actually shows builds. So, when you the staging step gets green it means it has been built but it still takes some time to deploy it to stage. The same for "Run"/prod.
@jstrachan please correct me if it has changed.

@sthaha, so, if you wait for successful deployment then it should work.

@jstrachan @rawlingsj, It's actually confusing. It would be useful if we have something in pipelines

[2017-10-16 15:40] sthaha opened #1133 "New Quickstart project fails with "SyntaxError: Unexpected end of JSON input""
Version Info
---------------
[code]

## Steps to reproduce
1. Click on Analyze tab
1. Click "Add to space"
1. Click "Create new Quickstart project"

## Actual Result
Error: something went wrong ...
SyntaxError: Unexpected end of JSON input

## Expected Result
Should bring up the templates to choose from

## Probable cause
It seems the UI is fetching from https://forge.api.openshift.io//forge/comma

[2017-10-16 15:45] sthaha commented on #1133
Seems to be fixed in version - `Build #707 Time stamp 2017-10-16T14:53:25+00:00 `

[2017-10-16 15:45] #1133 closed

[2017-10-16 17:20] joshuawilson commented on #1131
This will become very important as we move forward.

Ping me and I can help whoever takes this on.

[2017-10-16 17:37] joshuawilson commented on #1130
@RanjithRV you can also see that we closed 149 issues at https://github.com/openshiftio/openshift.io/milestone/14
I'm not sure how to count how many issues were logged during the sprint without counting them.

[2017-10-16 17:40] joshuawilson commented on #955
@dgutride @dlabrecq maybe you could set up a time to view @ibuziuk system to see what is happening.

[2017-10-16 17:44] joshuawilson commented on #1128
It works for me. Can you try in incognito mode.

[2017-10-16 17:48] joshuawilson commented on #1128
OK, I can reproduce it now.
Go to a space, go to settings, go to any other tab.
@dlabrecq can you please take a look.

[2017-10-16 17:51] dlabrecq commented on #955
I'm also stuck on the getting started page for prod -- preview seems to work.

[2017-10-16 17:54] joshuawilson commented on #1124
Is this a duplicate of https://github.com/openshiftio/openshift.io/issues/1128 or something different. I don't know how to reproduce created duplicated tabs under `Create`.

[2017-10-16 17:55] joshuawilson commented on #955
That is good news, because I can't reproduce it.

[2017-10-16 18:04] dlabrecq commented on #1128
It was difficult to reproduce at first, but now I cannot stop it. Just clicking on the settings tab is enough.

[2017-10-16 18:10] alexeykazakov commented on #955
It's back for me too. Stuck on the getting started page inr prod.

[2017-10-16 18:11] dlabrecq commented on #955
Unfortunately, I cannot reproduce it locally. It's only when I login directly into prod, which I cannot debug easily.

[2017-10-16 18:13] alexeykazakov opened #1134 "Can't open Collaborators page."
Nothing happens when I'm trying to click on the space Collaborators page.
I see the following error message in console:
`NavigationError(id: 13, url: '/alkazako/mywork/settings/collaborators', error: TypeError: Cannot read property 'unsubscribe' of undefined)`

[2017-10-16 18:18] joshuawilson commented on #1134
@dlabrecq this might be related to #1128

[2017-10-16 20:09] alexeykazakov commented on #1134
It's probably the same issue but if I just open https://openshift.io/alkazako/mywork/settings/collaborators in my browser (instead of trying to click on Collaborators tab to navigate to that page) and try to add some collaborators the list of users there is always empty. I don't see any requests to backend to search users by name.

[2017-10-16 20:30] dlabrecq commented on #1128
Fixed by https://github.com/fabric8-ui/fabric8-ui/pull/2116

[2017-10-16 20:30] dlabrecq commented on #1134
Fixed by https://github.com/fabric8-ui/fabric8-ui/pull/2116

[2017-10-16 21:30] alexeykazakov opened #1135 "Token refresh is broken"
This PR will fix it - https://github.com/fabric8-ui/ngx-login-client/pull/84

[2017-10-16 21:31] alexeykazakov commented on #1135
cc: @sbose78

[2017-10-16 21:34] alexeykazakov commented on #1134
@dlabrecq the navigation works now but I still can't add collaborators. There is no any requests to backend to search users. See my previous comment. Should we create a new issue for that?

[2017-10-17 00:23] sthaha commented on #1128
Can't reproduce this in  `Build #709 Time stamp 2017-10-16T20:25:22+00:00` so marking it as fixed.

[2017-10-17 00:23] #1128 closed

[2017-10-17 00:51] sthaha commented on #1126
@alexeykazakov thanks, your explanation matches my observation and I agree that the UI seems counter intuitive. It says "Rollout to stage" and has a ✔ which IMHO indicates the rollout to stage is successful and at this point I would expect to see the new version deployed to stage.

[2017-10-17 01:06] rafabene opened #1136 "Improve summary screen"
The last screen of the wizard is not very intuitive.

There''s no label that indicates what the following information means and how it's useful to the users.

![screenshot 2017-10-16 23 05 12](https://user-images.githubusercontent.com/30131/31641904-9fe6d24e-b2c6-11e7-9fb4-730f72905e33.png)

[2017-10-17 02:14] rafabene opened #1137 "WORKSHOP CRITICAL: CHE doesn't create Run and Debug commands for Vert.x and SpringBoot projects"
CHE doesn't have the "run" and "debug" commands.

It only allows the user to add a new one.

![screenshot 2017-10-17 00 13 45](https://user-images.githubusercontent.com/30131/31643567-1018ddb0-b2d0-11e7-93dc-6ca07079820a.png)

[2017-10-17 02:25] rafabene opened #1138 "Workshop critical: SpringBoot quickstart doesn't show correctly"
If I don't use filters in the wizard, I can't scroll down the options and I barely can see the SpringBoot option.

![screenshot 2017-10-17 00 25 20](https://user-images.githubusercontent.com/30131/31643851-ad69729a-b2d1-11e7-9206-c4e5f98d50f0.png)

[2017-10-17 02:38] rafabene commented on #779
I'm not able to replicate the issue anymore. Closing...

[2017-10-17 02:38] #779 closed

[2017-10-17 02:44] ldimaggi opened #1139 "Unexpected Change to Che UI - Run command was removed?"
Just noticed this as the EE tests were failing - the runcommand is not present by default:

![screenshot from 2017-10-16 22-43-03](https://user-images.githubusercontent.com/642621/31644307-936a2dfc-b2c3-11e7-93e5-09c6eb8439eb.png)

[2017-10-17 02:45] ldimaggi commented on #1139
Sorry - it's a dup of 1137 - https://github.com/openshiftio/openshift.io/issues/1139

[2017-10-17 02:45] #1139 closed

[2017-10-17 02:51] rafabene commented on #543
@catrobson Yes. The field still exists and it still hard to understand the "filter" usage.

[2017-10-17 03:04] joshuawilson commented on #1138
@corinnekrych please take a look

[2017-10-17 03:06] joshuawilson commented on #1136
@catrobson can you please have someone look into this

[2017-10-17 03:08] joshuawilson commented on #1134
I think we can use this one, it is the same issue.

[2017-10-17 06:05] mishaone opened #1140 "Adding collaborators does not find any users"
I'm testing adding and editing Collaborators to a space for an article but am unable to add any Collaborators at all. The search field seems unresponsive and displays nobody. I tried this with my team mates (searched for "Preeti" and "Robert" and even "Burr" for the name search, then tried username "rkratky" as an alternative). The result remains as displayed in the screenshot no matter what I sea

[2017-10-17 06:18] mishaone opened #1141 "Incorrect and odd Space creation error when logging out"
I tried this twice and both times I get an incorrect and unnecessary error about my space not being created.

**How to reproduce error:**
1. Create a new space
2. In the new space, try to add a collaborator (doesn't work)
3. Click your name at top right corner of screen and then Log out
4. Logs out but displays weird message about recently created space not being created, but this is not correct b

[2017-10-17 06:55] samuzzal-choudhury commented on #609
@krishnapaparaju Here are the SLA benchmarks for stack analysis:

https://docs.google.com/spreadsheets/d/13CRoYJPxGrDkhgnTKeyjP80SVdY0Sdfg6bbGlIT6azY/edit?ts=59e5024c#gid=0

[2017-10-17 07:16] maxandersen commented on #955
i'm curious - why is it harder to debug in prod vs prod-preview for you ?  isn't this issue mainly about how the client side behaves on the responses it gets from server side ?

[2017-10-17 07:18] corinnekrych commented on #1138
@dlabrecq I had `overflow: auto` to `.pfng-wizard-position-override` it sorts out the display. is it something to fix on patternfly-ng? or it possible to override it in f8-ui?
![screenshot 2017-10-17 09 15 34_preview](https://user-images.githubusercontent.com/1395710/31651482-1faff3fc-b31c-11e7-9784-1fb40a33b430.png)

cc @edewit

[2017-10-17 07:26] corinnekrych commented on #543
@catrobson indeed we reuse the same multi-slelect filter list as defined by Mitch. I also don't find it intuitive. For exemple, once you have filter and selected an item and you want to remove it, you can not edit the input to remove a selection, you have to either browse the whole list and remove it from checkbox or filter again to find it and remove it from the.
![wizard_filter_multi_select](htt

[2017-10-17 08:04] msrb commented on #1100
@tuxdna PRs merged, this looks complete-ish to me? Should we label it as `status/completed`?

[2017-10-17 10:07] krishnapaparaju opened #1142 "Figure out the delta for incremental ingest of packages into OSIO platform"
OSIO analytics platform relies on providing accurate information to OSIO users and able to incrementally ingest the changes to package attributes and newer packages. Need a dashboard to display the newer packages, package attributes YET / required to be ingested. This would require background jobs to be run (maybe once in a week) to display information about incremental data refresh.

@msrb

[2017-10-17 10:27] miteshvp commented on #1096
@msrb - Thanks for bringing to my attention. I will check a workaround and update.

[2017-10-17 11:02] arunkumars08 opened #1143 "Bug - Stack report Independent Portal doesn't load properly in Edge Browser"
This happens when the stack report that is generated via Dev Studio IDE and viewed via IDE Browser (When Edge browser appears as the default browser).

[2017-10-17 11:15] krishnapaparaju opened #1144 "EPIC: Scale OSIO analytics platform"
Need to scale OSIO analytics to process 100 stack analysis requests (SLA: 2 mins) , 500 components analysis (SLA: 1 sec) requests concurrently.

This work is being tracked here and all the code/configuration changes that would be made to achieve the above goal around scalability.

https://docs.google.com/a/redhat.com/spreadsheets/d/13CRoYJPxGrDkhgnTKeyjP80SVdY0Sdfg6bbGlIT6azY/

cc @msrb @samuzzal-

[2017-10-17 11:46] fridex commented on #1144
How is this defined? 1 sec for one component analysis?

[2017-10-17 13:07] catrobson commented on #1136
https://github.com/fabric8-ui/fabric8-ux/issues/696 . We'll be looking at this information as part of this story.

[2017-10-17 13:29] #1076 closed

[2017-10-17 13:34] dlabrecq commented on #955
The prod environment is uglified/minified, so I cannot view the JS code. I can add break points when building locally.

[2017-10-17 14:10] junezhang commented on #921
@catrobson @bdellascio Here are two designs for the improvement, one is same with the style of www.redhat.com, still use blue color on the dark background(reference link is here:https://www.redhat.com/en/success-stories/macquarie), but the blue color is #73bcf7, lighter than current one; the other one is using the white and underline style on the dark background. welcome feedback.

<img width="977

[2017-10-17 14:20] dlabrecq commented on #1134
I think that may be an issue with not retrieving the right tokens? I suspect ths may begin working after https://github.com/openshiftio/openshift.io/issues/955#issuecomment-337140183 is fixed?

[2017-10-17 14:26] alexeykazakov commented on #1134
No tokens required (from the backend side) to search for users. And I don't see any requests to backend at all.

[2017-10-17 14:29] catrobson commented on #921
@junezhang I think V1 is a good improvement to make the text more accessible and readable.  Would support moving forward with V1!

[2017-10-17 14:30] dlabrecq commented on #955
Capturing the openshift-platform conversation...

dlabrecq
10:10 AM
Dana and I were debugging the getting started page and noticed the refresh OPTION request is returning 404. It appears that subsequent calls to retrieve tokens fail because of this?
API: https://api.openshift.io/api/token/refresh
RESPONSE:
{
    "errors": [
        {
            "code": "not_found",
            "detail": "/api/tok

[2017-10-17 14:33] dlabrecq commented on #1134
I have a lot of websocket errors in my page, failed with HTTP authorization. I suspect there are no collaborators to add because a list cannot be retrieved?

Once we have the UI in a more stable state, I can better debug this.

[2017-10-17 14:42] dlabrecq commented on #1138
The space wizard seems to be overriding a lot of CSS, but you really don't need to. Please have a look at the wizard example for patternfly-ng. We're defining selectors to set the height and overflow like so:

    this.wizardConfig = {
      title: 'Wizard Title',
      sidebarStyleClass: 'example-wizard-sidebar',
      stepStyleClass: 'example-wizard-step'
    } as WizardConfig;

This outputs sel

[2017-10-17 14:58] rafabene opened #1145 "CHE: Multiple tabs opening for the same file"
CHE takes a while to load. Double clicking the file before it is loaded results in multiple tabs of the same file.

How it behaves: https://pasteboard.co/GPkrU0n.gif

[2017-10-17 16:14] ibuziuk commented on #1137
@joshuawilson it looks like with the latest UI changes the UI is not passing correct stack id to wit: all workspaces are created against `java-centos` stack

[2017-10-17 16:19] ibuziuk commented on #1137
According to the che-starter logs all the workspaces are created against `java-centos` stack

[2017-10-17 16:32] bmicklea opened #1146 "Provide capacity to support 500 concurrent users"
## Goal
Provide capacity to support 500 concurrent users.

## Description
We need to be able to support 500 active concurrent users on OpenShift.io initially. An active user is one who has at least one space with:
- Planner with >50 work items
- Che with at least 1 workspace
- Jenkins with at least 1 build executing
- Fabric8 with at least 1 pipeline executing
- Two pods (1 stage, 1 run) active

#

[2017-10-17 16:33] alexeykazakov commented on #955
@dlabrecq just for clarification. The issue with token refresh (https://github.com/fabric8-ui/ngx-login-client/pull/84) is very new one. The issue with the getting started page was reproducible before too. So, they should not be related.

[2017-10-17 16:35] corinnekrych commented on #1137
@ibuziuk I confirm we don't pass stackId for quickstart. Let me fix it on f8-ui

[2017-10-17 17:27] alexeykazakov commented on #1135
Reopening it until the change promoted to prod.

[2017-10-17 17:29] alexeykazakov commented on #1140
This issue was reported in https://github.com/openshiftio/openshift.io/issues/1134 (see the comments)

[2017-10-17 17:32] alexeykazakov commented on #1134
@mishaone has created a separate issue for the user list issue -  https://github.com/openshiftio/openshift.io/issues/1140
I'm closing this one because the original issue in the description was about the navigation part. Navigation now works so let's track the user list bug in https://github.com/openshiftio/openshift.io/issues/1140

[2017-10-17 17:32] #1134 closed

[2017-10-17 17:33] rafabene commented on #1126
This issue is annoying. Is there a way to just complete the stage if the deployment completes?

[2017-10-17 19:33] alexeykazakov commented on #955
Another issue I started to notice. When I login (successfully) I redirected to the getting started page (the same as described above) but the top menu saying I'm not logged in. If I click on login again then I'm forwarded to the home page.
The getting started page behaves very weird indeed.

[2017-10-17 19:40] dlabrecq commented on #955
Yes, the getting started page is displayed whenever the tokens are not retrieved properly. In some cases, the tokens were actually retrieved from local storage, but the login service wipes that information clean because the refresh request failed.

The getting started page is only a symptom of a larger problem. There are underlying issues that must be resolved.

[2017-10-17 23:36] l0rd commented on #1125
@sthaha it looks like a problem of cache that doesn't get invalidated. It's not related to Che. You can verify that you get the same result even without Che. For example you get the same result running the vertx booster from a shell:

[code]

@cescoffier it may be a problem of the vert.x booster?

[2017-10-17 23:46] l0rd commented on #1145
@rafabene what worries me here is that "CHE takes a while to load". How much is a while (it should never take more than 2 minutes)? Can you reproduce it systematically or is it something that happens from time to time? And it would be of great help if you could provide the logs of the `che-host` pod and the openshift events (from the monitoring tab) when it happens.

[2017-10-18 00:42] sthaha commented on #1125
@l0rd thanks for digging deeper. http-cache didn't cross my mind.

I agree that setting cache-control for index.html could be confusing to the user.

[2017-10-18 00:43] sthaha commented on #1125
@l0rd Please feel free to close the bug since this isn't a che issue per se.

[2017-10-18 02:40] #961 closed

[2017-10-18 03:03] joshuawilson commented on #1140
@dlabrecq are you ok, to take this on this week?

[2017-10-18 03:15] joshuawilson commented on #1146
cc @kbsingh

[2017-10-18 03:20] joshuawilson commented on #1096
@krishnapaparaju we are currently in Sprint 139. Did you intentionally assign this to 140?

[2017-10-18 03:30] joshuawilson commented on #1100
@krishnapaparaju did you want this in Sprint 140 or the current one?

[2017-10-18 03:51] #1137 closed

[2017-10-18 06:29] #702 closed

[2017-10-18 06:31] jyasveer opened #1147 "Bug: Show the unknown license count for unique unknown licenses in the stack report UI"
Currently, we display just the count of total unknown licenses ignoring the fact that a license can be unknown for two components, but at stack level this has to be taken only once to show the count.

- [ ] Fix in recommender UI
- [ ] Fix in stack report UI portal

[2017-10-18 07:04] humaton commented on #668
@krishnapaparaju you mean like documentation for oc command scale? I am not sure I follow you here. We use standard way for scaling openshift deployments nothing special. We just don't use autoscaling.

[2017-10-18 07:09] #849 closed

[2017-10-18 07:19] vpavlin commented on #1068
I consider this one fixed

@ibuziuk What about you?

[2017-10-18 08:31] jyasveer opened #1148 "Task: Update the existing user-intent end point in server to serve manual tagging requests"
### List of Tasks:-
- [x] Add a get logic to get the user data
- [x] Update the post logic to serve manual tagging and also adding intent from the recommender UI
- [x] Add a new storage adapter in the worker for manual tagging
- [x] Update the latest commit hash of worker in the server docker file
- [x] Fix review comments if any and see that the PR is merged.
- [x] Update the saas-git repo with t

[2017-10-18 08:35] msrb commented on #939
I can see errors like following in jobs service:
[code]

This is not just the jobs service, we will have similar problems on worker level as well. Perhaps we should `go get` the package, instead if trying to use git directly.

[2017-10-18 09:08] corinnekrych commented on #1138
`Encapsulation.None` at component level was the missing instruction to make it work.

[2017-10-18 09:10] jpopelka commented on #939
You're right, many of the [packages](http://go-search.org/api?action=packages) don't point to the main repo, but to a directory in it
For example source code of "github.com/bradfitz/gomemcache/memcache" lives in "memcache" directory of https://github.com/bradfitz/gomemcache repo.

Regarding `go get`: not sure we can get older revision of a package, since I don't see anything like that in `go get -

[2017-10-18 09:17] debianmaster opened #1149 "Backend pod deployment failing"
[code]

[2017-10-18 09:21] debianmaster commented on #1149
<img width="1279" alt="screen shot 2017-10-18 at 2 21 27 am" src="https://user-images.githubusercontent.com/1439169/31710813-00b682ba-b3ab-11e7-899e-edcd8ff96b1f.png">

[2017-10-18 10:06] slemeur opened #1150 "Deploy Che 6 on OSIO"
## Description
A lot of work has been done around the SPI in the new version of Che, usually called Che 6.
This version will have impacts how Che is running on OSIO.

The goal of this epic is to have multi-tenant Che on OSIO running the new version with the SPI coming with Che 6.

### Linked issues
https://github.com/eclipse/che/issues/5098

[2017-10-18 10:42] #844 closed

[2017-10-18 10:58] tuxdna commented on #1100
@msrb: Yes, except for the documentation, all is good. Working on documentation at the moment ( which doesn't block this issue ).

[2017-10-18 11:15] tuxdna commented on #1100
Here is a WIP for documentation ( which we will move to project docs location later ) - https://gist.github.com/tuxdna/dd9d7214ce9901a1826cc1c529ed559f

[2017-10-18 12:16] #1125 closed

[2017-10-18 12:42] rajdavies commented on #287
Would be great if the user can also retrieve information about how much free space they have available on their attached persistent volume.

[2017-10-18 13:19] tsmaeder commented on #955
@alexeykazakov I saw the same behaviour today. Logging in on the _gettingStarted page fixed it for me.

[2017-10-18 13:23] joshuawilson commented on #1135
merged to prod, closing

[2017-10-18 13:23] #1135 closed

[2017-10-18 13:27] krishnapaparaju commented on #1144
@fridex Yes, OSIO user triggering component analysis would expect the response in 1 second and response for stack analysis in not more than 2 mins.

[2017-10-18 13:32] fridex commented on #1144
Is it response from API server in both cases?

[2017-10-18 13:37] eivantsov commented on #1061
I have got the same error when the app runs in stage namespace.

[2017-10-18 13:54] joshuawilson commented on #1149
Please explain in detail how to reproduce.

[2017-10-18 14:44] rafabene commented on #1145
The "CHE takes a while to load" was reported from Sunil Thaha <sthaha@redhat.com>. I just copied his feedback. It happened to me just once. In that case, CHE loaded in no more than 2 minutes and then I could click several times in the file and open it in multiple tabs.

[2017-10-18 14:54] catrobson commented on #287
Designs for Deployments page - https://redhat.invisionapp.com/share/YSDL0KRKW#/screens/257823464  (Replaces today's Application page)

[2017-10-18 14:55] catrobson commented on #287
Original designs for the environments page.  Note that there is interest in discussing further whether the current deployments page covers our needs enough that we can get rid of this environments page, or if there is any particular value in the environments page that we should keep or roll into deployments.

https://redhat.invisionapp.com/share/3UAZNL1JQ#/226251975_Environments_Pods

[2017-10-18 15:29] #1138 closed

[2017-10-18 16:26] debianmaster commented on #1149
i just used template approach to install openshift.io  on   my   `oc cluster up` environment.  and all other services are up except   `launchpad-backend` pod.
I have shared logs in the issue above

[2017-10-18 16:27] debianmaster commented on #1149
Also tried giving  `privileged` and `anyuid`  to defult service accounts, no luck

[2017-10-18 17:09] slemeur commented on #1145
Ok after playing a bit, I have been able to reproduce the problem!

The steps are the following:
- open the workspace a first time
- unfold the explorer and open a file from the project explorer
- close the browser's tab where you have Che
- on OSIO > Codebase, click to reopen the workspace
- while the workspace is reopening, Che first restore its state (from the previous opening) in the project e

[2017-10-18 17:15] alexeykazakov commented on #1149
@cc: @ALRubinger @gastaldi

[2017-10-18 18:19] dlabrecq commented on #1140
Sure. I'll start digging...

[2017-10-18 19:12] dlabrecq commented on #1140
FYI, it appears that the searchFilterText property of angular-2-dropdown-multiselect was removed at some point. It's not available for v1.6.0; however, it works if I revert back to v1.1.0.

[2017-10-18 19:30] gastaldi commented on #1149
No idea on how to reproduce that. Any ideas @quintesse @edewit ?

[2017-10-18 19:34] debianmaster commented on #1149
is there a slack for openshift.io ?

[2017-10-18 19:36] dlabrecq commented on #1140
Fixed by: https://github.com/fabric8-ui/fabric8-ui/pull/2150

[2017-10-18 20:07] cescoffier commented on #1061
The config map is not created because it must be created explicitly. The config map is not created by default as it may use a different deployment cycle.

[2017-10-18 21:28] quintesse commented on #1149
@debianmaster  There is the `#1-launch` channel on `obsidian-toaster` on Slack

[2017-10-18 21:30] quintesse commented on #1149
I've used that template several times without problems, but only with minishift, never with `oc cluster up`. Is that something you could try @debianmaster ?

[2017-10-18 23:33] dlabrecq commented on #955
Seems to be working as expected now, after https://github.com/fabric8-ui/ngx-login-client/pull/84 was merged. That is, after clearing my cache to ensure the new refresh URL (https://api.openshift.io/api/login/refresh) is used.

[2017-10-18 23:55] debianmaster commented on #1149
i tried on origin 3.7 aplpha version, i will give a try with 3.6 stable

[2017-10-19 00:10] debianmaster commented on #1149
just tested, this problem is not there on 3.6  minishift, closing

[2017-10-19 00:10] #1149 closed

[2017-10-19 02:01] ldimaggi opened #1151 "Analytics reports are not running to completion"
See the attached screenshot - the "unknown" image is displayed and the report is not completed.

![screenshot from 2017-10-18 21-59-37](https://user-images.githubusercontent.com/642621/31750725-cf0ba862-b44f-11e7-8c70-c032ec61b6ac.png)

[2017-10-19 02:28] ncoghlan commented on #1080
Given http://www.hawkular.org/blog/2017/04/19/hawkular-apm-jaeger.html, perhaps it would make sense to explore the use of https://github.com/jaegertracing/jaeger-client-python?

[2017-10-19 02:29] #1140 closed

[2017-10-19 02:32] joshuawilson commented on #1149
@debianmaster for Openshift.io we have our own Mattermost, it is an OSS chat like slack. Free to join at https://chat.openshift.io/developers/

[2017-10-19 06:10] mishaone opened #1152 "UX Enhancement: Back from new WI page should be Planner view"
1. Click **Plan** tab for Planner view
2. Click the **+ Create** button on the right side of the page to create a new WI
3. Work Item type page displays. If you changed your mind here and just want to go back to seeing the Work Items list, no cancel button available so instead, I press the back button for my browser.
4. Unexpectedly, I'm back at the Space Dashboard view (same result as clicking **

[2017-10-19 07:20] samuzzal-choudhury commented on #814
@krishnapaparaju This shall be targeted in sprint 139. Hence, changing the milestone back to sprint 139.

[2017-10-19 09:19] tisnik opened #1153 "Component search does not work on production instance of fabric8-analytics"
From the log it looks like the failure is caused by rejected connection to the DB:

[code]

[2017-10-19 10:11] krishnapaparaju commented on #1144
Yes

[2017-10-19 10:16] fridex commented on #1144
OK, thanks for clarification.

[2017-10-19 11:49] msrb commented on #668
Some documentation can be found in https://github.com/fabric8-analytics/fabric8-analytics-scaler.

Since we can't use the built-in memory or CPU-based autoscaling that OpenShift currently offers, we periodically check how many messages is there in SQS and we call `oc scale <deployment-config> --replicas=<corresponding-number-of-replicas>`.

[2017-10-19 12:00] ldimaggi commented on #1151
As spotted by the EE tests here: https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-openshift.io-runTest/

[2017-10-19 13:05] apupier opened #1154 "[Complete Stack report]On hover of bottom item of the table, it expands too much"
on my space page, click "Show complete stack report"
![image](https://user-images.githubusercontent.com/1105127/31772062-9cce36b4-b4de-11e7-93c4-f7e5e69438b7.png)

click on "Additional components are often used by similar stacks" to display the second table:
![image](https://user-images.githubusercontent.com/1105127/31772094-bab462f2-b4de-11e7-8265-91c905cae05b.png)

hover on the line, it expands

[2017-10-19 13:06] apupier commented on #1154
in fact even on the first table, it increases the size a lot for a lot of emptiness:
![image](https://user-images.githubusercontent.com/1105127/31772177-16c12c56-b4df-11e7-82ab-236c1c48978d.png)

[2017-10-19 13:10] apupier opened #1155 "Missing scroll in dialogs"
![image](https://user-images.githubusercontent.com/1105127/31772322-99d940e2-b4df-11e7-95a1-9c85c7d0ca48.png)

there is also a display glitch with the bottom square elements which is drawing outside of the dialog

[2017-10-19 13:14] apupier opened #1156 "[Enhancement]Provide validation for project name when typing"
When creating a new application, we cna provide an OpenShift Project name which is "invalid", there is an error message only after clicking next (which is not even emphasizing which field exactly)

no error:
![image](https://user-images.githubusercontent.com/1105127/31772497-2e40d33a-b4e0-11e7-8143-23df24a55a2f.png)

error after clicking on next
![image](https://user-images.githubusercontent.com/1

[2017-10-19 13:16] apupier commented on #1156
it would be nice to provide the exact regexp used for valid name seems that it doesn't like capital letters:
![image](https://user-images.githubusercontent.com/1105127/31772544-5a0f5d74-b4e0-11e7-8c33-dd8cdb9ab7bd.png)

Considering "capital letters" as "special characters" is not very user friendly. Maybe improving the error message in a first time will help.

[2017-10-19 13:18] apupier commented on #1155
it is on all dialogs:
![image](https://user-images.githubusercontent.com/1105127/31772677-bf2175c6-b4e0-11e7-98d8-de54e8803a33.png)

[2017-10-19 13:25] apupier opened #1157 "generated OpenShift project name when "Space" contains spaces is invalid"
create a Space named with some spaces like "second space of my life"
try to create a new Application based on template, it will generate an OpenShift project name with underscores instead of space:
![image](https://user-images.githubusercontent.com/1105127/31773003-ab09443c-b4e1-11e7-95b7-5fc93f385651.png)

after clicking next it is reported as invalid:
![image](https://user-images.githubuserconte

[2017-10-19 13:28] corinnekrych commented on #1155
@joshuawilson we need to push to PROD 318d700917e020103847a02a00523d300e81283c of fabric8-ui to fix it

[2017-10-19 13:32] apupier opened #1158 "Invalid group id when creating a new application is reporting a not clear error"
provide an invalid name for group id (make a little typo with ; instead of . which is quite common with Azerty latin keyboard):
![image](https://user-images.githubusercontent.com/1105127/31773188-3831cd52-b4e2-11e7-9a63-b366877e35f2.png)

go to the end of the wizard:
![image](https://user-images.githubusercontent.com/1105127/31773117-ff808282-b4e1-11e7-858a-2037ff270042.png)

it would be better to

[2017-10-19 13:37] fridex commented on #1014
Implementation is in https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/409.

This is configurable directly by Celery and we already configure it - see [f8a_worker/celery_settings.py](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/celery_settings.py#L56).

[2017-10-19 13:47] apupier opened #1159 "Help -> Community menu in Development Workspace is redirecting to openshift.io home page"
![image](https://user-images.githubusercontent.com/1105127/31774006-cb3dd7ec-b4e4-11e7-93f8-5fd0d690e8e4.png)

redirects to
![image](https://user-images.githubusercontent.com/1105127/31774013-d1d4115c-b4e4-11e7-9adf-2cac81e70857.png)

[2017-10-19 13:48] apupier opened #1160 "Missing Version in Help -> About of OpenShift Eclipse Che"
![image](https://user-images.githubusercontent.com/1105127/31774090-00b162b8-b4e5-11e7-96d0-b4d2b3c9a156.png)

[2017-10-19 13:50] apupier opened #1161 "[enhancement] provide by default a "light" theme for OpenShift Eclipse Che"
it would be best to use the same theme than the other part of of openshift.io but at least avoid to have switching between a dark and light theme will be far more user-friendly

[2017-10-19 13:53] apupier opened #1162 "[enhancement][che]Provide more space for commiter fields in Preferences dialog"
![image](https://user-images.githubusercontent.com/1105127/31774271-8ebbf280-b4e5-11e7-9c64-9b8ec28103f9.png)
there is quite a lot of space available and it will avoid to have cropped email or names

[2017-10-19 14:56] alexeykazakov commented on #1155
Duplicates https://github.com/openshiftio/openshift.io/issues/1138 (not closing because it's not in prod yet)

[2017-10-19 15:37] GeorgeActon commented on #438
@msrb Is this fixed with the deployment of the new stack analysis endpoint?

[2017-10-19 15:42] joshuawilson commented on #1156
@corinnekrych when you get a chance can you please take a look.

[2017-10-19 16:56] samuzzal-choudhury commented on #1153
@tisnik I have tried out `/component-search` on prod which worked fine for me. Ex.
`https://recommender.api.openshift.io/api/v1/component-search/vertx-core`

Also, it is indicated that an entire module has failed if a bug is marked as `severity/blocker` which requires an immediate fix. This does not look to me to be case for this issue. Hence, changing the severity to `severity/P2`.

Please feel f

[2017-10-19 18:15] joshuawilson commented on #1155
Please verify, the fix should be in prod.

[2017-10-19 19:10] joshuawilson opened #1163 "Space fails to Create"
When creating a new Space there is a failure notification, though it appears the Space is actually created.

This throws an error in the console of:
`
patternfly.min.css:1 ERROR TypeError: r.valueChanges.debounceTime(...).distinctUntilChanged(...).takeUntil is not a function
    at UniqueSpaceNameValidatorDirective.valFn (fabric8-ui-global-overrides.less:2)
    at UniqueSpaceNameValidatorDirective

[2017-10-19 19:35] alexeykazakov opened #1164 "Status checkmark doesn't show anything"
If I move mouse over I don't see anything. If I click on it I see the following error in console:
[code]
After clicking on the status checkmark the Profile/login/logout menu on top right gets broken too.

[2017-10-19 21:25] qodfathr opened #1165 "EPIC: Feature Flags"
## Goal
Ability for Product Management to control which features in production are visible to groups of users.

## Description
This is the phase one implementation of feature flags for OSIO. This will allow Red Hat to continue to create experimental and innovative features without disrupting users in production. It will provide per-user controls so that each can choose their level of visibility in

[2017-10-19 21:26] qodfathr commented on #1165
@slemeur please see above, as Che is called out. Feel free to comment if you'd like to see any changes/additions.

[2017-10-20 01:56] ldimaggi opened #1166 "Status icon on http://openshift.io is not working"
See screenshot - the error written to the browser console log is:

[code]

![screenshot from 2017-10-19 21-54-05](https://user-images.githubusercontent.com/642621/31801779-56aa724e-b518-11e7-990b-11b3077e6a33.png)

[2017-10-20 02:10] alexeykazakov commented on #1166
Duplicates https://github.com/openshiftio/openshift.io/issues/1164

[2017-10-20 02:10] #1166 closed

[2017-10-20 05:09] krishnapaparaju opened #1167 "English text across 'stack report' needs to be revamped"
UX of stack report needs to be revamped, get reviewed.  eg: words like 'conflict with in a component' does not make sense.

[2017-10-20 05:12] krishnapaparaju opened #1168 "Stack report does not load completely"
Stack report does not load completely, hour glass does not go away.

[2017-10-20 05:14] krishnapaparaju opened #1169 "Footer text getting appended every time stack report opens up"
The footer text 'Report title on Application - *' at the bottom of the stack report screen is getting appended after every time stack report  is opened. Opening stack report 4 times, 4 times the footer text is getting appended.

[2017-10-20 05:40] krishnapaparaju commented on #1124
duplicate panels of Pipelines and CodeBase getting added vertically to the current screen with each click on either 'pipelines' / 'Codebases' links

[2017-10-20 06:28] krishnapaparaju opened #1170 "Space name showing up repeatedly at Pipelines screen"
Under Pipelines screen, try to perform any operation on a Pipeline would show up the corresponding space name multiple times. Please check the screenshot
<img width="1424" alt="screen shot 2017-10-20 at 11 49 17 am" src="https://user-images.githubusercontent.com/15967765/31807769-ae1fa1e6-b58d-11e7-8adb-fa57592abe74.png">

[2017-10-20 07:34] apupier opened #1171 "Cropped information in "Application wizard" on Summary step"
![image](https://user-images.githubusercontent.com/1105127/31809854-ccd08ace-b579-11e7-9e8a-ce7c15d9f068.png)

[2017-10-20 07:45] apupier opened #1172 "[Analytics]"Something unexpected happened" in Stack report recommendations"
I created a space with a quickstart based on vertx, here is the resulted github: https://github.com/apupier/my-springboot-project.git
with the simplest pipeline strategy (Release)
the build is marked as Complete

![image](https://user-images.githubusercontent.com/1105127/31810194-25976d66-b57b-11e7-9b98-34fd5ffe0864.png)

[code]

[2017-10-20 07:51] apupier opened #1173 "[Che]Only "null" written in Download outputs log file"
when creating a workspace, there is alittle notification window at the top saying "starting workspace", there is a "Download outputs" links,
![image](https://user-images.githubusercontent.com/1105127/31810417-04dacb1c-b57c-11e7-9a54-8e2d25d678ba.png)

When downloaded I got only "null" written in the log file.

[2017-10-20 07:56] apupier opened #1174 "[Che] Error message when creating a second workspace from Che dashboard should be improved until creation of several workspaces will be allowed"
Che dashboard is accessible through the top "left arrow":
![image](https://user-images.githubusercontent.com/1105127/31810642-d0eeabc4-b57c-11e7-9acc-939e3728960b.png)

then there is a "create workspace menu" but it is failing with this error:
![image](https://user-images.githubusercontent.com/1105127/31810653-df547fea-b57c-11e7-9355-688b986e7fd3.png)

[2017-10-20 08:02] invincibleJai commented on #1168
fix are in place
- https://github.com/fabric8-ui/fabric8-recommender/pull/365
- https://github.com/fabric8-ui/fabric8-ui/pull/2158

@jyasveer thanks for help

[2017-10-20 08:02] invincibleJai commented on #1169
fix are in place
- https://github.com/fabric8-ui/fabric8-recommender/pull/365
- https://github.com/fabric8-ui/fabric8-ui/pull/2158

@jyasveer thanks for help

[2017-10-20 08:07] apupier opened #1175 "Overlapping of text in "Summary" when importing existing projects"
![image](https://user-images.githubusercontent.com/1105127/31811070-78d65926-b57e-11e7-9050-5b632289ea34.png)

[2017-10-20 08:10] apupier opened #1176 ""Unable to load preferences after creating a workspace"
![image](https://user-images.githubusercontent.com/1105127/31811144-b6d9ea94-b57e-11e7-94ce-02b16cb7eed9.png)

I already created for another codebase.
Fo rthis one, I imported the code from https://github.com/apupier/quickstarts and then click on "create workspace in the "Codebases" window

[2017-10-20 08:11] apupier commented on #1176
doing F5 is providign the same error

doing Ctrl+F5 is opening the workspace correctly

[2017-10-20 09:13] tisnik commented on #1153
Thanks @samuzzal-choudhury . It seems that the component search started to work 'automagically' (at least from my POV). It would be nice to know the cause of that issue, so we will be able to monitor it.

[2017-10-20 10:00] apupier opened #1177 "[Codebases]Worskpaces cells vanishes when changing the sort"
create several codecases
then in Codebases page, try to change the sort order from Name to last commit for instance, if one line is moving, we don't have anymore the Workspaces information:
![image](https://user-images.githubusercontent.com/1105127/31815769-081e3298-b58e-11e7-9f9e-96ae2107548f.png)
![image](https://user-images.githubusercontent.com/1105127/31815776-0e2d4638-b58e-11e7-8bcd-fd3a81d4

[2017-10-20 10:01] apupier opened #1178 "[Codebases]initial sort is reversed to what is displayed"
notice the A to Z order in the toolbar but the Z to A order in the table when arriving on the page:
![image](https://user-images.githubusercontent.com/1105127/31815898-6d7af9c8-b58e-11e7-9c98-5167a6d28bbc.png)

[2017-10-20 10:03] apupier opened #1179 "[codebases]Arrow of the hover of the + sign is shifted"
![image](https://user-images.githubusercontent.com/1105127/31815982-bc6b70e4-b58e-11e7-82f8-ee55b1c8acda.png)

[2017-10-20 10:04] ibuziuk commented on #1067
@joshuawilson nope, it is still relevant issue

[2017-10-20 10:05] apupier opened #1180 "[codebases]the popup dialog to add a codebase from codebases is a little dialog at the top-right"
![image](https://user-images.githubusercontent.com/1105127/31815996-dbf4b6be-b58e-11e7-921b-2cf0ffb9af92.png)

it would be better to have a centered dialog like all others on the UI that i noticed so far.
Also if GitHub Repository can be wirtten on a single line it would be better

[2017-10-20 10:12] apupier opened #1181 "[codebases]First click on + is always a miss"
The first time I try to click the + button, a scrollbar appears and then the click finally is not triggered as the cursor is moved outside of the +

see video: https://drive.google.com/open?id=0B-rING_ZzzceT0R2Ml9jd05ueUk

[2017-10-20 10:31] ibuziuk commented on #1173
Duplicate - https://github.com/openshiftio/openshift.io/issues/513

[2017-10-20 10:31] #1173 closed

[2017-10-20 10:34] benoitf commented on #513
Fix has been merged in upstream che, it will be included in che 5.0.20

[2017-10-20 13:32] qodfathr commented on #358
Superseded by #1165 (this could potentially be a child of that epic)

[2017-10-20 13:56] joshuawilson commented on #1181
@mindreeper2420 can you take a look and see if this is a styles thing.
@apupier that video made me LOL, thanks for pointing that out.

[2017-10-20 13:58] joshuawilson commented on #1124
Is this a duplicate of #1128 or something different.

[2017-10-20 14:04] krishnapaparaju commented on #1124
Its different from #1128.  I am not able to reproduce this problem anymore..

[2017-10-20 14:04] #1124 closed

[2017-10-20 14:11] mindreeper2420 commented on #1181
@joshuawilson it looks like something happened with this PR: https://github.com/fabric8-ui/fabric8-ui/pull/2077. The Add Codebases panel tries to slide out, but does not (causing the scrollbar), and then actually works on the second click.

@dlabrecq any thoughts? I can't fully tell what is happening (the commit is massive), but I do not believe this to be a CSS issue.

[2017-10-20 14:11] ldimaggi opened #1182 "Analytic reports not created on prod-preview"
After the successful completion of a build pipeline on prod-preview - the analytics report is never generated:

![screenshot from 2017-10-20 09-56-57](https://user-images.githubusercontent.com/642621/31825058-f8317160-b57e-11e7-883a-6fca97ec6ebc.png)

[2017-10-20 14:12] joshuawilson commented on #1170
@krishnapaparaju I'm not seeing this. Can you please specify the exact steps you followed so we can reproduce it.

[2017-10-20 14:17] joshuawilson commented on #1171
@corinnekrych @edewit can you please take a look.
Maybe @mindreeper2420 you can see if it is a simple style change.

[2017-10-20 14:23] joshuawilson commented on #1172
Can you please try it again, we applied a fix that should have fixed a few hrs ago.

[2017-10-20 14:34] dlabrecq commented on #1181
I don't see the scroll-bar. The slide-out appears at the bottom of the page for me. It's also broken for the ngx-widgets demo. It appears a few .detail-pane styles may be overridden (e.g., top: em(34) is no longer applied).

![screen shot 2017-10-20 at 10 27 31 am](https://user-images.githubusercontent.com/17481322/31825825-694c4544-b581-11e7-867d-45f134991f4d.png)

[2017-10-20 14:38] fridex commented on #1024
Implementation (WIP) in https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/204.

[2017-10-20 14:42] apupier commented on #1172
With the initial workspace it was still not working but i guess that it is normal and that i need to "rest my environment" so Jenkins Service is no more starting so no build so no Analytics. Will test again on monday

[2017-10-20 14:48] joshuawilson commented on #1176
can you please try this again and verify

[2017-10-20 14:52] apupier commented on #1172
ok so no more errors on the first page but when clicking on "Show complet stack reports", I have a spinning cursor which never ends.
And if I close and reopen, a new "layer" is added at the bottom of the opened dialog
![image](https://user-images.githubusercontent.com/1105127/31827039-10484c00-b5b7-11e7-9f8f-2a62cf3f8564.png)

[2017-10-20 14:53] joshuawilson commented on #1153
There were several fixes that happened in the last 12. You will have to look at the commits to see what applies.

[2017-10-20 14:59] mindreeper2420 opened #1183 "Can't Create a Space using the max number of characters"
When creating a Space through the wizard, the first screen states that Spaces cannot have names longer than 63 characters.
![screen shot 2017-10-20 at 10 51 41 am](https://user-images.githubusercontent.com/4032718/31827331-70d5a7a2-b585-11e7-8617-9e77430d9c8b.png)

When meeting that requirement, the Space fails to create (with no error), but still allows me to select either Quickstart or Import an

[2017-10-20 15:01] mindreeper2420 commented on #1171
I was unable to duplicate this on my first attempt. It could be an issue with the length of the name, but I'm unable to create a second space at the moment.

I used Safari on a 1920x1080 screen.

![screen shot 2017-10-20 at 10 37 40 am](https://user-images.githubusercontent.com/4032718/31827509-f4d2be3c-b585-11e7-8d79-94b862fa9899.png)

[2017-10-20 15:22] dlabrecq commented on #1181
@mindreeper2420 I hard reset my ngx-widgets branch to commit 0669dc5, from Aug 18. The slide-out panel works fine for the ngx-widgets demo. However, when I hard reset to commit 97dc40d, from Sep 8, the slide-out panel is broken. I've confirmed by resetting the commits multiple times, clearing my cache, etc.

The broken commit appears to be related to the LESS conversion? The ngx-widgets version wa

[2017-10-20 16:25] joshuawilson commented on #1163
fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2153

[2017-10-20 16:25] #1163 closed

[2017-10-20 16:26] joshuawilson commented on #1164
fixed with https://github.com/fabric8-ui/fabric8-ui/pull/2153

[2017-10-20 16:26] #1164 closed

[2017-10-20 16:30] joshuawilson commented on #1177
related to https://github.com/openshiftio/openshift.io/issues/198

[2017-10-20 17:01] l0rd commented on #1174
@apupier you are trying to start a workspace when one is already running. Thats' why it's failing. Having more than one workspace running is not supported in OSIO currently. However this message doesn't help but should be improved with new upstream version of Che (v5.19.0). We are currently working on rebasing rh-che (Che for osio) on that version.

[2017-10-20 17:03] l0rd commented on #1174
@apupier if you are ok I would change title to "Error message when creating a second workspace from dashboard should be improved"

[2017-10-20 17:05] joshuawilson commented on #1179
@mindreeper2420 can you look at this, when you have time.

[2017-10-20 17:10] joshuawilson commented on #1180
cc @mindreeper2420

[2017-10-20 17:11] joshuawilson commented on #1182
@ldimaggi can you please verify. Fixes were applied, should have fixed it.

[2017-10-20 17:13] joshuawilson commented on #1183
cc @corinnekrych @edewit

[2017-10-20 17:19] joshuawilson commented on #1172
can you try in incoginto or a hard refresh

[2017-10-20 17:44] ldimaggi opened #1184 "Cannot access Che on prod-preview (403 error)"
See attached log.

[code]

![screenshot from 2017-10-20 13-36-49](https://user-images.githubusercontent.com/642621/31834662-c2fa5b56-b59c-11e7-9c92-b7c8877ed473.png)

[che_log.txt](https://github.com/openshiftio/openshift.io/files/1402827/che_log.txt)

[2017-10-20 18:07] ldimaggi commented on #1182
Verified - closing - thx!

[2017-10-20 18:07] #1182 closed

[2017-10-20 18:08] joshuawilson commented on #1184
This looks like it might be an issue for the SD team. cc @kbsingh @vpavlin

[2017-10-20 18:29] alexeykazakov commented on #1184
It tries to get an OSO token from sso prod. Not prod-preview. Look at the log: https://sso.openshift.io/auth/realms
Seems to be an issue with che configuration in preview. It should call sso.prod-preview.openshift.io

[2017-10-21 00:44] mindreeper2420 opened #1185 "Add Button to Quickly Access Chat on OpenShift.io homepage"
Add a 'Chat with us on MatterMost' button to the OpenShift.io homepage that will bring people to chat.openshift.io. There, they can either sign in or sign up to speak with the OpenShift.io team on the #openshiftio channel.

Requirements:
- [ ] UX Design w/flow
- [ ] Code Updates with proper linkage

[2017-10-21 00:44] mindreeper2420 commented on #1185
![osio_chat](https://user-images.githubusercontent.com/4032718/31846293-739d993e-b5d7-11e7-94ca-fcf936437ef6.png)

[2017-10-21 00:45] mindreeper2420 commented on #1121
@aslakknutsen would it be possible to have an option in all of the emails to view them as a web page? That might help with this issue. I'm not sure how much time it will take (as I need to research Gmail threading) to lock this down for all email clients.

[2017-10-21 04:10] krishnapaparaju commented on #1168
Stack report now shows up as expected. Closing this...

[2017-10-21 04:10] #1168 closed

[2017-10-21 06:29] joshuawilson commented on #1185
@mindreeper2420 have you discussed adding this feature you really should discuss this with PM ( @qodfathr ) during this sprint.
And I think that @kbsingh has been planning something around adding chat so you should talk to him too.

[2017-10-21 06:40] krishnapaparaju commented on #816
@muruGanesan  @samuzzal-choudhury Is this been fixed ?

[2017-10-21 06:41] krishnapaparaju commented on #748
@miteshvp @saara-02 what are the possible reasons OSIO user get to see for recommended alternative components ?

[2017-10-21 06:43] krishnapaparaju commented on #747
@miteshvp Dev. cluster would need to be the starting point for development activity, can close this issue.

[2017-10-21 06:44] krishnapaparaju commented on #638
@miteshvp @sara-02 any work being done around this issue ?

[2017-10-21 06:45] krishnapaparaju commented on #1101
@miteshvp this I guess need to be picked analytics stream to fix any memory related enhancements.

cc @msrb

[2017-10-21 06:47] krishnapaparaju commented on #1090
@jpopelka do you have text available for boilerplate notice ? need to run down the same with legal

@GeorgeActon @sivaavkd

[2017-10-21 08:48] krishnapaparaju commented on #1095
@rootAvish are you still blocked with AWS console access ???

[2017-10-21 09:06] ibuziuk commented on #1184
Duplicate - https://github.com/openshiftio/openshift.io/issues/1067

[2017-10-21 09:06] #1184 closed

[2017-10-21 09:26] rootAvish commented on #1095
@krishnapaparaju Yes, need it for working with Maven, and to avoid collecting more NPM data. Was working with a set of ~90 packages collected for NPM on the TextRank based approach. Stackoverflow data will be fetched from big query but need the maven package data collected by core that is present in AWS.

[2017-10-21 10:20] krishnapaparaju commented on #1057
@fridex precursor to enable these checks is team start using Dev. cluster. Will enable these checks once team is on board with starting development work from the dev. cluster.

[2017-10-21 10:34] corinnekrych opened #1186 "Add component to ngx-forge"
# Description
As a developer, I want to have all forge components in ngx-forge.
this is a follow-up of https://github.com/openshiftio/openshift.io/issues/1112

# Acceptance Criteria
- [ ] move [forge error component](https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/forge-wizard/components/forge-errors/forge-errors.component.ts) to ngx-forge
- [ ] move [forge-exception](https://gi

[2017-10-21 10:38] corinnekrych opened #1187 "ngx-forge should have CI?CD integration for fabric8-ui"
# Description
As a developer, I want to do PR on ngx-forge and have fabric8-cd run CI. Once merged fabrci8-ui should be updated,

# Acceptance Criteria
- [ ] CI runs unit test on PR
- [ ] CD integration with fabric8-ui

cc @edewit

[2017-10-21 11:11] mindreeper2420 commented on #1185
@joshuawilson yes, this came from PM. The button, placement, text and flow have already been given the okay. I added this story for tracking against a soon-to-be-filed PR. :-)

[2017-10-21 15:15] samuzzal-choudhury commented on #816
@krishnapaparaju AFAIK the UX team is working on a revamped UX which should address all these issues and the UI implementation is dependent on its completion. @muruGanesan please keep me honest on this.

[2017-10-22 12:11] krishnapaparaju commented on #1105
This issue enables static code analysis for users of OSIO where static code analysis is applied on the  OSIO user's code base.

[2017-10-22 12:22] krishnapaparaju commented on #1096
Have updated the milestone..

[2017-10-22 13:58] krishnapaparaju commented on #772
@SaketJNU can you please add docs. covering the scripts that are being used to retrieve manifest files from GitHub

[2017-10-22 14:01] krishnapaparaju commented on #614
@invincibleJai @samuzzal-choudhury this issue needs to cover the availability of 3Scale gateway and end to end workflow with all the IDE traffic to OSIO Analytics platform go thru 3Scale gateway..

[2017-10-23 00:24] mindreeper2420 opened #1188 "Brand chat.openshift.io login/signup page"
Currently, when a user clicks on the 'Chat' link on OpenShift.io/Get-Involved (and does not currently have a chat.openshift.io MatterMost account), they are brought to a generic MatterMost signup/sign-in screen. Ideally, this would be branded with OpenShift.io logos and colors.

https://chat.openshift.io/login?redirect_to=%2Fdevelopers%2Fchannels%2Ftown-square
<img width="1916" alt="screen shot 20

[2017-10-23 00:28] mindreeper2420 commented on #1185
**Flow:**
OSIO Homepage chat button--> MatterMost Login w/ registration link

[2017-10-23 02:40] #1185 closed

[2017-10-23 02:54] joshuawilson commented on #816
@krishnapaparaju is this for sprint 140?

[2017-10-23 02:56] joshuawilson commented on #1187
@corinnekrych we are in sprint 139, did you intend to put this in 140? If so, I think it should just go to the backlog.

[2017-10-23 03:26] krishnapaparaju commented on #816
Yes @joshuawilson ..

[2017-10-23 03:38] krishnapaparaju commented on #1144
@samuzzal-choudhury @sivaavkd @GeorgeActon scaling the platform for significantly higher number of users is on the critical path for opening up the platform for IDE users.

[2017-10-23 06:17] samuzzal-choudhury commented on #1172
@sara-02 @abs51295, looks like the integration of license scorer and recommender task has got some issues for this stack. Error is logged here - https://gist.github.com/samuzzal-choudhury/62d376bcafa1e39536f835cf41b49428.

Steps to recreate:
1. Clone `https://github.com/apupier/my-springboot-project.git` locally.
2. Open postman
3. Run `/stack-analyses` POST for the top-level `pom.xml` of `my-spri

[2017-10-23 06:33] maxandersen opened #1190 "have author name in from of notifications"
Today you see this in your mail client:

[code]

would be nicer if the author would be in from:

[code]

[2017-10-23 07:18] sara-02 commented on #638
@krishnapaparaju None as of now.

[2017-10-23 07:19] sara-02 commented on #748
@krishnapaparaju Alternate recommendation shown if the component is either a PGM outlier or a license outlier.

[2017-10-23 07:58] jpopelka commented on #1090
Yes, from https://www.gnu.org/licenses/gpl-3.0.en.html
[code]

and from https://www.apache.org/licenses/LICENSE-2.0#apply
[code]

[2017-10-23 08:10] jpopelka commented on #1101
@krishnapaparaju Michal is probably talking about the [scancode toolkit](https://github.com/nexB/scancode-toolkit) which we (core stream) use during component license scan.

I already increased the memory limit of the worker twice (https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/127 and https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/326).
Michal, if you s

[2017-10-23 08:46] rgarg1 commented on #1190
+1 @maxandersen

[2017-10-23 09:58] pkajaba commented on #1073
I am marking this blocked for now.

Current problem is that Jenkins does not allow to send emails to not registered users. This means that Email-ext plugin [1] can be used just to send emails to a mailing list without notifying developer and reviewer. I am waiting for a response from Centos CI mailing list [1].

There might be an option to use Mattermost publisher (publishers are basically post-jo

[2017-10-23 10:24] ibuziuk commented on #1174
@apupier could you please provide more details (che-version / che-server logs / openshift events) ? As, @l0rd mentioned you are probably trying to create worksapce when one is already running and this is expected to fail due to quota limit issue:

![image](https://user-images.githubusercontent.com/1461122/31884078-4d2fa442-b7ec-11e7-8b9e-9437a404dd13.png)

However, there should not be the error me

[2017-10-23 10:25] ibuziuk commented on #1176
version of che ?

[2017-10-23 10:29] ibuziuk commented on #1162
@apupier could you please create an upstream issue for this, since it is pure IDE improvement - https://github.com/eclipse/che ?

[2017-10-23 10:31] ibuziuk commented on #1161
this is smth. that should be discussed with PMs before prioritization @slemeur @bmicklea

[2017-10-23 10:34] ibuziuk commented on #827
@ldimaggi is it still reproducible ?

[2017-10-23 10:36] ibuziuk commented on #596
@ldimaggi @rhopp could you please verify on the latest che version ?

[2017-10-23 10:38] ibuziuk commented on #824
@@ldimaggi is it still reproducible ?

[2017-10-23 10:38] ibuziuk commented on #1041
@ldimaggi is it still reproducible with the lastest version of che?

[2017-10-23 10:46] ibuziuk commented on #1159
@apupier I believe it was done deliberately, since for now there is no better place for pointing to the osio community. @slemeur @bmicklea any ideas what should be the "Community" link from che on osio if not `openshift.io`?

[2017-10-23 11:35] rhopp commented on #596
@ibuziuk I was able to push to github repository from workspace after the host was idled and awakened.

[2017-10-23 12:02] ldimaggi commented on #827
I have not seen this issue for a while - we should close this - I will re-open if it re-appears.

[2017-10-23 12:04] ibuziuk commented on #827
thanks @ldimaggi. Closing

[2017-10-23 12:04] #827 closed

[2017-10-23 12:43] ibuziuk commented on #596
@rhopp thanks for verifying! Closing

[2017-10-23 12:43] #596 closed

[2017-10-23 13:01] ibuziuk commented on #1160
currently che version in the about dialog should be the same as in the status osio info:
![image](https://user-images.githubusercontent.com/1461122/31890017-0b07442e-b802-11e7-9598-1800d61aa6aa.png)
However, once che-server is multi-tenant it will not deployed [1]  to user space anymore and would be located in dedicated cluster. Need to get back to this issue once multi-tenant migration is done an

[2017-10-23 13:34] tisnik opened #1191 "Component analysis is slow on the production server, probably because of memory allocation issue"
We have found that the component analysis is slow on the production server. The SLA threshold is one second, now we got average time just below two seconds for known component and over three seconds for the unknown component! Additionally it seems that the Pod is using all its 512 MiB of memory, but we are unable to figure out what's the original cause of this memory consumption.

Please note that

[2017-10-23 13:35] tisnik commented on #1191
@msrb @fridex @samuzzal-choudhury FYI ^^^

[2017-10-23 13:41] fridex commented on #1191
As discussed in the office, we could expose a debug endpoint and try to track memory usage (e.g. https://pythonhosted.org/Pympler).

Compared to our jobs service the memory consumption is really high (jobs service takes ~190MiB compared to API which takes 440MiB on fresh start).

We could also try to switch the underlying http server (jobs uses gunicorn, api server uses apache httpd).

[2017-10-23 13:41] bmicklea commented on #1159
I believe there’s a community page being planned for OpenShift.io but in the meantime wouldn’t it be better to point them to the OpenShift github repo?

[2017-10-23 13:42] bmicklea commented on #1161
I generally agree, but the light theme used to be a little rough around the edges. @slemeur - thoughts?

[2017-10-23 13:44] ldimaggi commented on #824
This problem seems to be solved - closing the issue - thx!

[2017-10-23 13:44] #824 closed

[2017-10-23 13:45] ldimaggi commented on #1041
Not seeing this issue - closing - thx!

[2017-10-23 13:45] #1041 closed

[2017-10-23 14:08] apupier commented on #1176
I think it is still the same that I have currently as I think that i didn't reset the environment since I reported it so Che 2.0.37

[2017-10-23 14:10] apupier commented on #1162
done https://github.com/eclipse/che/issues/6923

[2017-10-23 14:13] apupier commented on #1174
che-version: 2.0.37
che-serv logs/openshift events: where are they? How to provide them?

[2017-10-23 14:15] apupier commented on #1174
ouch, hope it will be implemented soon. Working on 2 microservices at the same time seems to me to be a very common use case

[2017-10-23 14:16] tisnik opened #1192 "RFE: Expose a debug endpoint and try to track memory usage to the 'server' instance"
We should expose a debug endpoint and try to track memory usage. One nice library that can produce expected results is Pympler (https://pythonhosted.org/Pympler).

## Reason

ATM it is very hard to debug memory-related issues on stage and prod servers.

## Expected functionality

Existence of debug API endpoint that produces consumable output in form of JSON-encoded data about memory usage.

[2017-10-23 14:16] tisnik commented on #1192
@msrb @fridex @samuzzal-choudhury

[2017-10-23 14:16] apupier commented on #1174
updated to "Error message when creating a second workspace from Che dashboard should be improved until creation of several workspaces will be allowed"

[2017-10-23 14:23] fridex commented on #1192
Related: https://github.com/openshiftio/openshift.io/issues/1191

[2017-10-23 15:11] msrb commented on #1191
The API pod consumes 550 MiB of RAM right after start.

[2017-10-23 15:31] joshuawilson commented on #1176
@ibuziuk does the import wizard add the needed che file? I haven't looked in a while.

[2017-10-23 15:37] joshuawilson commented on #1159
or point to https://chat.openshift.io/developers for help

[2017-10-23 15:38] joshuawilson commented on #1190
cc @mindreeper2420 @aslakknutsen

[2017-10-23 15:41] apupier commented on #1176
I don't reproduce anymore

[2017-10-23 15:41] #1176 closed

[2017-10-23 15:48] apupier opened #1193 "[Che]Provide an xml editor with xsd completion and validation"
it will be useful for Apache Routes for JBoss Fuse project (and surely for a lot of other files)

i created https://github.com/eclipse/che/issues/6925 upstream

[2017-10-23 16:01] jpopelka commented on #1052
I've been looking at how to more specifically obtain some EP (ecosystem/package-manager:package) to CPE mappings.

A) downstreams

a) Debian [has](https://wiki.debian.org/CPEtagPackagesDep) a list of CPEs along with a deb package name.
In the following example I'm getting CPEs for python packages that Debian ships:

[code]

For python it's easy, because they have 'python' prefix or suffix.
The sam

[2017-10-23 18:54] ldimaggi opened #1194 "Intermittent issue - Pipeline not created, build log also not created on https://openshift.io"
Seeing this problem intermittently starting on October 22:

* Create a new space
* Create a new quickstart project
* Observe that the pipeline is never created:

![screenshot from 2017-10-23 10-18-58](https://user-images.githubusercontent.com/642621/31907426-c8133038-b801-11e7-88c1-41264d03e36f.png)

Observe that quotas are not exceeded:

![screenshot from 2017-10-23 10-20-21](https://user-images.

[2017-10-24 00:01] alexeykazakov commented on #777
https://github.com/fabric8io/fabric8-generator/blob/master/src/main/java/io/fabric8/forge/generator/github/GitHubFacade.java#L241

[2017-10-24 02:34] ldimaggi opened #1195 "On prod-preview, unable to access pipeline build logs"
The login to Jenkins through OSIO are failing with a 403 error.

To recreate:
* Create new project
* Attempt to view the pipeline build log - the login to Jenkins will fail
* The chrome browser log shows a 403 error

[2017-10-24 04:18] miteshvp commented on #747
@krishnapaparaju makes sense.

[2017-10-24 04:18] #747 closed

[2017-10-24 08:41] gazarenkov commented on #435
For my understanding:
Testing on staging environment before prod is not an option?

[2017-10-24 10:05] msrb opened #1196 "Move all fabric8-analytics images to "fabric8-analytics" namespace"
# Description

Most of the f8a images still live in `bayesian/` namespace. All new images are in `fabric8-analytics/`. We'd like to move all images to the new namespace.

# Acceptance criteria
- [ ] all f8a images that we build in CI are in the new `fabric8-analytics/` namespace

[2017-10-24 10:05] msrb opened #1197 "Proper releases of fabric8-analytics Jenkins plugin"
# Description

Currently we build fabric8-analytics Jenkins plugin in CI and copy (manually) resulting binary artifact to https://github.com/fabric8io/openshift-jenkins-s2i-config. We'd like to start doing proper releases of the plugin so it's available via https://plugins.jenkins.io

# Acceptance criteria
- [ ] the plugin is available via https://plugins.jenkins.io

[2017-10-24 10:05] msrb opened #1198 "Tests for fabric8-analytics Jenkins plugin"
Planner ID: 2286

# Description

We don't have any tests for our Jenkins plugin, which is bad. We want to add some.

# Acceptance criteria
- [ ] there are tests for [fabric8-analytics-jenkins-plugin](https://github.com/fabric8-analytics/fabric8-analytics-jenkins-plugin) and they run in CI

[2017-10-24 10:05] msrb opened #1199 "Selinon configuration bundled with fabric8-analytics-worker"
# Description

Selinon configuration resides in worker codebase, but it's also needed by other components (API server, Jobs). The other components currently need to install full worker library in order to get the configuration. And the worker library is pretty bloated.

# Acceptance criteria
- [ ] API server and Jobs service don't need to install the full worker library in order to function proper

[2017-10-24 10:05] msrb opened #1200 "Decouple API server and worker"
# Description

API server and worker used to reside in the same repository. We later split them into separate repositories, but the codebases are still quite tightly coupled. For example, many functions that are only needed by the API server reside in `f8a_worker.utils`. Server also directly talks to worker tables in RDS, but worker is responsible for database migrations.

Ideally, API server shou

[2017-10-24 10:05] msrb opened #1201 "[5] spike: exclude result collector from the main flow"
# Description

The way how flows are designed right now is that results are first stored in RDS and they are moved to S3 only at the end of the flow. This means that one needs to wait till the flow is almost finished in order to see any results. It also means that if flow is interrupted before result collector is called, we don't get any results.

Storing results in S3 directly could give us at le

[2017-10-24 10:10] msrb opened #1202 "CI/CD for mercator-go"
# Description

Our mercator-go project doesn't have CI job defined in https://ci.centos.org/ yet.

# Acceptance criteria

- [ ] job for mercator-go exists in https://ci.centos.org/, both PRs and master branch are tested there

[2017-10-24 10:55] msrb opened #1203 "[2] Make it possible to deploy API and ingestion workers separately"
# Description

Currently it's not possible to only update ingestion workers, or only API workers in production. Since the two types of workers don't share the same workload and are used for different purposes, it would be nice to be able to update just one type of worker, when situation calls for it.

# Acceptance criteria
- [x] it is possible to update only certain type of workers in production

[2017-10-24 11:41] fridex commented on #1203
Basically this is possible based on the configuration of saas-analytics YAML file where we wouldn't share hash with other workers. Nevertheless I don't find this to be a good idea:

1. Actually workers share workload - API workers send transitive dependencies to be analysed on ingestion workers - if this split would happen this compatibility layer needs to be maintained explicitly (which API worke

[2017-10-24 13:35] ldimaggi opened #1204 "On prod-preview, rollout to 'run' fails with exceeded quota error"
To recreate on prod-preview:
* Reset user account
* Create new space
* Create new project - accept all defaults - select Vert.x Basic
* Observe that the project is rolled out to stage, but not run
* Observe the following error in the Jenkins pod log:

[code]

[2017-10-24 13:54] ldimaggi commented on #1111
Closing as no longer reproducible.

[2017-10-24 13:54] #1111 closed

[2017-10-24 14:06] joshuawilson commented on #1204
cc @kbsingh @vpavlin

[2017-10-24 14:18] ibuziuk commented on #1068
@vpavlin yeah, let's close it

[2017-10-24 14:18] #1068 closed

[2017-10-24 16:11] msrb commented on #1203
Good summary 👍

This is really about being able to do it, when necessary. I don't think we should start deploying different worker types separately, but sometimes situation may require it. Right know we only know that it's possible to do with different hashes in saas-analytics YAML, but we don't know what/where could go wrong. And what should person promoting such change to production check.

Addi

[2017-10-24 17:07] samuzzal-choudhury commented on #1203
@fridex @msrb I have a got a different take on this. IMO, the responsibilities of API workers and Ingestion workers are properly demarcated and there should not be any problem of having two separate repositories if we decide to have a shared common worker library repo as a cleaner approach.

1. The only API resource that leverages on API worker ATM is /stack-analyses which does not invoke any of t

[2017-10-24 17:12] alexeykazakov opened #1205 "Forge generator build fails"
The build fails since last week.
https://jenkins.cd.test.fabric8.io/job/fabric8io-auto-rel/job/generator-backend/job/master/

[2017-10-24 17:13] apupier opened #1206 "[Backlog] contextual menu for the "more" 3 vertical points is expanding inside the frame of the task (and so almost hidden)"
![image](https://user-images.githubusercontent.com/1105127/31957583-8b5d963a-b8ef-11e7-9da9-1fa2cf81d45b.png)

try to click on the 3 vertical dots:
![image](https://user-images.githubusercontent.com/1105127/31957592-90938e3e-b8ef-11e7-899a-371d299f4aac.png)

a long scroll is available

![image](https://user-images.githubusercontent.com/1105127/31957597-9510709e-b8ef-11e7-994b-8bf80b7281d3.png)

[2017-10-24 17:20] apupier opened #1207 "[Planner]Unassigned filter is not working"
I have a task Unassigned
![image](https://user-images.githubusercontent.com/1105127/31957862-50d40d86-b8f0-11e7-9066-b9712923a00f.png)

if I choose unassigned filter, nothing is displayed
![image](https://user-images.githubusercontent.com/1105127/31957879-6107eb6e-b8f0-11e7-865b-73369b2934ca.png)

[2017-10-24 17:23] apupier commented on #1207
please note that it is working to filter Assigned tasks

[2017-10-24 17:27] apupier opened #1208 "[Planner]Drag'n'drop of a task from the list to the iteration list is creating a ghost "iteration""
![image](https://user-images.githubusercontent.com/1105127/31958233-6193e82a-b8f1-11e7-988f-47ab6932209e.png)

if DnD aaa on "First iteration":

![image](https://user-images.githubusercontent.com/1105127/31958228-5af1dee6-b8f1-11e7-9b4f-be6b6704ed0e.png)

https://drive.google.com/open?id=0B-rING_Zzzcea2RNcnZGb0h6TW8

[2017-10-24 17:48] ldimaggi opened #1209 "Create new space - UI limits user to <64 characters - but, the real limit is <63"
Steps to recreate:
* Create a new space
* Attempt to use a 63 character string as the space name
* Observe that the UI accepts the string, but the space is not created

In order for the space to be created, the upper-limit on the number of characters is 62.

[2017-10-24 18:17] alexeykazakov commented on #1209
Duplicates https://github.com/openshiftio/openshift.io/issues/1183

[2017-10-24 18:17] ldimaggi opened #1210 "OSIO allows user to create a project with an invalid name - results in builds failing"
Steps to recreate:
* Create a new project / add to space
* Designate an OpenShift Project Name that begins with an integer
* Observe the build pipeline fail with this error:

[code]

[2017-10-24 18:17] #1209 closed

[2017-10-24 18:22] alexeykazakov commented on #1205
The last build finally succeed. Closing.

[2017-10-24 18:22] #1205 closed

[2017-10-24 18:37] alexeykazakov commented on #777
How it looks now:
![openshift-io](https://user-images.githubusercontent.com/620087/31961362-5d5b96a0-b8af-11e7-8fc9-ef1d37862284.png)

But we still need to fix forge generator to use https://github.com/kohsuke/github-api/blob/master/src/main/java/org/kohsuke/github/GHMyself.java#L69 getEmails2() to load user's emails properly from GitHub.
See https://github.com/fabric8io/fabric8-generator/pull/75#

[2017-10-24 18:47] ldimaggi commented on #1151
Closing - this bug is no longer being seen.

[2017-10-24 18:47] #1151 closed

[2017-10-24 18:49] ldimaggi commented on #1115
Closing - this will be moved to:  https://github.com/fabric8io/fabric8-test/issues/284

[2017-10-24 18:49] #1115 closed

[2017-10-24 23:01] austincunningham opened #1211 "Review and Confirm can't 'Confirm Subsciption'"
Clicking on 'Confirm Subscription' renders the same page again

![image](https://user-images.githubusercontent.com/16667688/31971814-70c69940-b915-11e7-9db1-527f2a0b485a.png)

[2017-10-24 23:09] alexeykazakov commented on #1211
It looks like your subscription has been confirmed successfully. What browser are you using? Does it help if you refresh the page?

[2017-10-24 23:11] austincunningham commented on #1211
tried chrome and firefox

[2017-10-24 23:21] austincunningham commented on #1211
The Early Access Program, may not be provisioned yet :)

[2017-10-24 23:28] alexeykazakov commented on #1211
Your account has not been provisioned yet. You are in the waiting list. But you should see the following screen instead:
![oso](https://user-images.githubusercontent.com/620087/31972988-592f8234-b8d8-11e7-8fc9-1b588211f413.png)

Try open https://manage.openshift.com/account/index it should work.

[2017-10-24 23:31] alexeykazakov commented on #1211
I can reproduce:
1. Sing up
2. Confirm subscription
3. Try to sign up again
4. The registration app redirects to the confirm subscription page instead of https://manage.openshift.com/account/index

[2017-10-25 03:04] joshuawilson commented on #1210
@aslakknutsen @rawlingsj is this error/issue to do with the name set when making the space or something in openshift and k8?

[2017-10-25 03:18] joshuawilson commented on #1181
@mindreeper2420 were you able to figure this out?

[2017-10-25 03:20] joshuawilson commented on #1179
@mindreeper2420 this appears releated to #1181

[2017-10-25 03:23] joshuawilson commented on #1175
@mindreeper2420 this looks like another styles issue, you can work with @edewit for implementation details.

[2017-10-25 03:25] joshuawilson commented on #1171
@mindreeper2420 can you please take another look but with a much longer project name

[2017-10-25 03:29] joshuawilson commented on #1122
@ldimaggi can you confirm that you can or can NOT actually create projects in another users space?

[2017-10-25 03:46] joshuawilson commented on #1116
@xcoulon what is your intent with this issue?

[2017-10-25 03:47] joshuawilson commented on #1116
@alexeykazakov I thought was had a solution in place for this, do you remember this issue?

[2017-10-25 04:11] joshuawilson commented on #924
Closing as it appears fixed

[2017-10-25 04:11] #924 closed

[2017-10-25 04:12] alexeykazakov commented on #1116
Username has nothing to do with this issue. It was a problem of local dev enthronement configuration in WIT on Mac. See details here - https://github.com/fabric8-services/fabric8-wit/issues/1707
I believe we can close this issue.

[2017-10-25 04:12] #1116 closed

[2017-10-25 04:14] joshuawilson commented on #926
@michaelkleinhenz @nimishamukherjee this appears fixed to me, but since it is a planner issue I'm passing it back to you for confirmation.

[2017-10-25 04:18] joshuawilson commented on #912
@rkratky I think this issue fits with the work you are doing.

[2017-10-25 04:24] joshuawilson commented on #908
@luebken @mindreeper2420 is this still an issue?

[2017-10-25 04:26] joshuawilson commented on #894
@ldimaggi can you please confirm this with the new wizard?

[2017-10-25 05:32] adisakala commented on #477
Today if i have 2 spaced that I have created but there are 4 spaces I am collaborating, there is no way for me know which one I own vs which one I am collaborating. Do we have a way to represent this my home or else where? Raising this as I am not sure if this aspect is covered in above designs or description of issue. @joshuawilson @catrobson

[2017-10-25 06:36] arunkumars08 opened #1212 "Crowd Sourcing - Generation from IDE end. (UI Portal)"
### Description

There is already a user story that targets the crowd sourcing functionality featuring in the Stack Reports (OSIO)

In continuation to the same thought, this user story targets the same functionality featuring from direct IDEs.

In this case, we tentatively assume to generate a captcha at specified intervals in order to make sure the user is utilising the feature in a positive way.

[2017-10-25 06:40] arunkumars08 commented on #1212
@samuzzal-choudhury This is added almost at the end of the sprint, hence I ain't measuring the points for this user story.

[2017-10-25 07:01] msrb opened #1213 "KeyError in recommender task (KeyError: 'status')"
Found this in the logs (prod).

[code]

[2017-10-25 07:01] msrb commented on #1213
cc @miteshvp

[2017-10-25 08:07] sara-02 commented on #1172
@samuzzal-choudhury the source of the error has been identified. Working on the fix now.

[2017-10-25 08:34] austincunningham commented on #1211
https://manage.openshift.com/account/index renders correctly

[2017-10-25 08:34] #1213 closed

[2017-10-25 09:11] #993 closed

[2017-10-25 11:34] pbergene commented on #1211
I got the welcome email myself for an account I signed up on my private email during summit.  Tried it and got the same result. Screen capture [here](https://sometimes.works/osio/new-user.ogv).  It's not the best user experience or first impression. The first instinct I would have after getting the welcome email from Todd would be to log in :)

[2017-10-25 11:49] pombredanne commented on #1052
@jpopelka you wrote

Same conclusion here: there is not a single way and we eventually need all these ways with some crowdsourced/community curation to get something decent.

Other data sources to consider
- processing and parsing package changelogs: they may have CVE references
- Oval when available
- RH rpm 2 cve: https://www.redhat.com/security/data/metrics/rpm-to-cve.xml which is a clear packa

[2017-10-25 11:53] pombredanne commented on #1052
@jpopelka you wrote:

well there are legal issues as each source may have specific license terms and sometimes software license terms applied to data are hard to handle. See https://github.com/victims/victims-cve-db/issues/25 for instance. Some like pyup data prohibit commercial usage whatever this means.

So nothing as a straightforward slam dunk **sigh**

[2017-10-25 12:07] pombredanne commented on #1052
Another issue is if the data are current or not: see for instance https://github.com/snyk/vulnerabilitydb/issues/16#issuecomment-338619059 which makes the snyk data source mostly harmless.

Though they have an RSS feed https://snyk.io/vuln/feed.xml and IMHO a peculiar interpretation of the AGPL license which is a poor license for data anyway:

[2017-10-25 12:54] catrobson commented on #477
We have settled on a final design direction for a My Spaces list page that you can see here:
https://redhat.invisionapp.com/share/DQDSL22JA#/screens/258353405

This includes spaces you own and those you are a collaborator on.  We need some additional APIs in order to move forward into implementation of this view.

Please let me know if this doesn't cover anything that the team feels is needed.

[2017-10-25 12:57] jyasveer opened #1214 "Bug fix in stack report independent portal."
- Earlier UI was referring to the `dependencies` key in the stack_info object. This was modified to `analyzed_dependencies` in the api side. This fix is in place to replicate the changes in the UI side not to break the page.

[2017-10-25 12:57] #1214 closed

[2017-10-25 12:58] mindreeper2420 commented on #1181
@joshuawilson I'm still catching up from leave, so I'll take a look at ngx-widgets today. A few things changed in there while I was away, so I'll go through the various PRs as well.

[2017-10-25 13:00] mindreeper2420 commented on #1175
@joshuawilson @edewit it looks to be a truncation/constraint issue. All of this was done while I was on leave, so it will take time to sort through it all.

[2017-10-25 13:04] mindreeper2420 commented on #908
@joshuawilson @luebken I have no issue opening the Pipeline history in Firefox - either in the same window or a new tab. Firefox 56.0 on macOS 10.13.

[2017-10-25 13:40] edewit commented on #1183
@joshuawilson 63 characters should be the max for "Openshift project name" and this validation is done in the Forge addon.

[2017-10-25 13:43] edewit commented on #1183
was fixed in this commit: https://github.com/fabric8-launch/launchpad-addon/commit/db71e10b3a15f05078ef0f262afce1053b7ec722

[2017-10-25 14:00] edewit commented on #1175
@mindreeper2420 html for this screen is here: https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/forge-wizard/import-pages/step5/review-step.component.html guess quick fix would be to put the github url above the other information.

[2017-10-25 14:05] mindreeper2420 commented on #1175
@edewit Why the use of a list view there? It seems that a table would be more suitable for this instance?

[2017-10-25 14:09] edewit commented on #1175
@mindreeper2420 don't know you'll have to ask @corinnekrych she made it like this

[2017-10-25 14:09] ibuziuk opened #1215 "che-server '/api/stack' API return empty array"
che version 2.0.40

Found during che-starter integration tests - https://ci.centos.org/job/devtools-che-starter/292/console

[2017-10-25 14:24] ibuziuk commented on #1215
PR is sent https://github.com/redhat-developer/rh-che/pull/389

[2017-10-25 14:43] joshuawilson commented on #908
I'm going to close this. Please reopen if you are still seeing this issue.

[2017-10-25 14:43] #908 closed

[2017-10-25 14:44] joshuawilson commented on #1183
So how do we get this fix to production?

[2017-10-25 14:47] edewit commented on #1183
update this to version 17 https://github.com/fabric8io/fabric8-generator/blob/f3c23c794fc9cf387603e5ea60e46ac51a31755b/pom.xml#L25

[2017-10-25 15:00] ldimaggi opened #1216 "On prod-preview, app deployment to stage failing intermittently"
Iss https://github.com/openshiftio/openshift.io/issues/1204 described a problem where rollout to run fails due to a quota limit.

It looks like there are related issues. In the case of this issue, the rollout to run was successful, but the rollout to stage, while appearing to be successful, actually failed.

The user was presented with this feedback in the OSIO pipeline UI:
![1](https://user-image

[2017-10-25 15:07] jpopelka commented on #940
Since https://github.com/victims/victims-cve-db/pull/95 the data will be [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0) licensed, which as I understand it means, that if we used victims-cve-db in our security scans, we'd need to distribute the resulting data under the same license.

[2017-10-25 15:16] ldimaggi commented on #1122
What I am seeing is that if user #1 attempts to create a project in user #2's space, the 'add to space' dialog hangs. It would better if we could return an error to the user:

![screenshot from 2017-10-25 11-14-51](https://user-images.githubusercontent.com/642621/32006900-fb0b2ffc-b975-11e7-97cb-383884b603a2.png)

[2017-10-25 15:31] alexeykazakov commented on #1211
Fixed. Closing.

[2017-10-25 15:36] alexeykazakov commented on #1211
@austincunningham btw thank you for reporting this issue! :)

[2017-10-25 16:03] joshuawilson commented on #1216
I'm not sure if this issue is more for the SD team or Build.
cc @kbsingh @vpavlin @rawlingsj

[2017-10-25 16:16] joshuawilson commented on #119
This has been fixed for a while.

[2017-10-25 16:16] #119 closed

[2017-10-25 16:20] joshuawilson opened #1217 "OpenShift.io Space Templates"
When a new Space is created in OpenShift.io, the creator is asked to choose from a list of available Space Templates. These templates may configure the Space in numerous ways.

Some examples of ways a template could configure a Space:
- [ ] Populate the Planner with a set of Work Item Types and a Guided Type Navigation such that the development methodology associated with the template may be easil

[2017-10-25 16:25] jpopelka commented on #1052
I agree with your licensing point of view. Few notes to other ideas:

Great idea, but I'm afraid the vulnerabilities are in many cases fixed before they get a CVE identifier.

I'm still failing to understand what data we could possibly get from it.
From what I checked, I haven't seen anything more than what's in NVD.

Only a tiny fraction of existing components are shipped downstream as packages i

[2017-10-25 16:46] pombredanne commented on #1052
@jpopelka

Re: parsing Changelogs, I am not making this up and this si not my idea... this can be for CVEs AND other security issue indicators.  And I wished things were fixed before a CVE is published, but that is often not the case.
This is likely in part one approach of pyup: https://github.com/pyupio/changelogs , and I know this is one approach of other non-FLOSS tools. The same applies to par

[2017-10-25 17:03] ibuziuk commented on #1215
Closing. fixed in che `2.0.42`

[2017-10-25 17:03] #1215 closed

[2017-10-25 17:06] msrb commented on #940
Which, I think, is not a problem (?)

[2017-10-25 17:09] joshuawilson commented on #1211
@alexeykazakov is this done?

[2017-10-25 17:11] joshuawilson commented on #1122
So the UI looks like you are allowed until you actually try it and then it fails?

[2017-10-25 17:21] mindreeper2420 commented on #1181
@joshuawilson @dlabrecq I've created a PR that addresses this issue. The tooltip was set render off-screen, which caused the misfires, click errors and scrollbars.

[2017-10-25 17:32] alexeykazakov commented on #1211
yes.

[2017-10-25 17:32] #1211 closed

[2017-10-25 17:48] ldimaggi commented on #1122
The wizard stops at the loading screen shown in the screenshot^.  No error is raised to the user - but - the user can press cancel. It really should put up an error message.

[2017-10-25 18:50] #1181 closed

[2017-10-26 00:20] qodfathr opened #1218 "Cannot open work item immediately after creating on a board"
1. Switch to board view
2. Create a work item
3. Try to open it

It should open, but it never does for me.

If I refresh the page, then I can open it.

[2017-10-26 01:08] qodfathr opened #1219 "Reset environment creates zombie work items"
1. Create a new space
2. Create some work items in that space -- add a description to get the full effect and change their states
3. Reset your environment
4. Create a new space, same name as step 1
5. Create some work items

I'm finding that WIs 1, 2 3, etc. from step 2 are being reincarnated in step 5.

[2017-10-26 01:09] qodfathr commented on #1218
Also, when I create the new work item, another empty work item appears. If I refresh, that new one goes away. Not sure if this is by design or not.

[2017-10-26 01:11] joshuawilson commented on #1219
It might be related to https://github.com/openshiftio/openshift.io/issues/925

[2017-10-26 01:12] qodfathr opened #1220 "Cannot scroll to 'Closed' column on planner board"
1. Set screen resolution to 1920x1080
2. Go to board
3. Leave sidebar expanded
4. Bottom scroll bar is visible; Closed column is not
5. Move scroll bar

Closed column should become visible, but it does not.
If you collapse side bar, you can see the closed column.

[2017-10-26 01:21] joshuawilson commented on #1219
@aslakknutsen @alexeykazakov how could we keep this kind of data? Maybe the reset only deletes the space but doesn't delete the WI and then same user and same space name allow them to get reconnected?

[2017-10-26 01:33] alexeykazakov commented on #1219
No, it should not be the case.. We do delete all space's work items when deleting the space. Maybe it's some UI cache? @godfathr can you share the link to the space with reincarnated WIs?

[2017-10-26 02:08] alexeykazakov commented on #1219
I can't reproduce it but what I found out is that because we use soft deletes in WIT, when we delete a space in WIT the cascade delete is not triggered and all Work Items from the deleted space are still present in WIT with deleted_at == null. They should not be listed in the new space though. But direct links to the old Work Items will work.

@kwk, @xcoulon something for you to investigate.

[2017-10-26 05:29] mishaone opened #1221 "Labels for everything in WI creation is "label""
I was trying to create a new work item from the Planner Backlog view (non Quick Add way) and all the labels for fields appear to be "label". I couldn't find a label specific issue in the issues. so @alexeykazakov  please feel free to close this if it's already reported somewhere.

![label](https://user-images.githubusercontent.com/926572/32036282-2fb993f0-ba62-11e7-9861-daa07b804e9e.png)

[2017-10-26 05:38] joshuawilson commented on #1219
that fits with what I thought was happening

[2017-10-26 06:53] kwk commented on #1219
I've assigned the issue to me. When deleting a space we currently leave all the WI's untouched (we not even soft-delete them). From the space controller I will probably soft-delete everything that links to a space  when that space gets deleted. This will make it more explicit and maintainable instead of setting up triggers. @aslakknutsen do you agree?

[2017-10-26 09:38] aslakknutsen commented on #1219
I get the WorkItem.Description from Number 1 in the deleted space when I attempt to create a new WorkItem in the new space. The first WorkItem in new space gets Description from deleted Space WorkItem.Number 1, the second gets Description from deleted space WorkItem.Number 2 etc etc...

It happens when you're on the Create screen (Full Detail view), And 'ok' the title. The inserted data and respon

[2017-10-26 12:28] ldimaggi commented on #1194
The automated EE tests also encountered this on Oct 23/24

[2017-10-26 12:50] krishnapaparaju opened #1222 "POC: Integration with Dependency Monkey"
OSIO analytics platform would need to verify compatibility of packages being recommended to OSIO users.

This compatibility  would need to be tested for (a) Compilation of packages with in an application stack  (b) E2E tests are  run for runtime sanity.

'Dependency Monkey'  enables these compatibility checks, (a), (b).
This POC covers integration related work items (Dependency Monkey and OSIO Ana

[2017-10-26 14:41] ldimaggi opened #1223 "Login to https://openshift.io is failing"
The user is put into a loop where he/she is directed to: https://openshift.io/_gettingstarted
![screenshot from 2017-10-26 10-40-28](https://user-images.githubusercontent.com/642621/32059448-277a9180-ba3a-11e7-8330-81df69518560.png)

Attempting to connect the account to github returns the user to: https://openshift.io/_gettingstarted

[2017-10-26 14:46] ldimaggi commented on #1223
This issue only lasted about 15 min - was something changed? It seems fine again now.

[2017-10-26 14:46] #1223 closed

[2017-10-26 14:52] tisnik opened #1224 "[3] RFE: Improve code quality for all projects in fabric8-analytics-common repository"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 14:57] qodfathr opened #1225 "Proposed improvement to new work item experience"
There have been on-going discussions about entering new work items on the backlog. The "quick add" method permits the quick creation of WIs with few details, and is considered nice for someone like a Product Manager. A more complete "add via the full details form" is seen as better for people like developers, and is more closely aligned with the experience in services such as GitHub.

I propose a

[2017-10-26 15:03] tisnik opened #1226 "[2] RFE: Improve code quality in the following repository: fabric8-analytics-server"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:04] tisnik opened #1227 "[1] RFE: Improve code quality in the following repository: fabric8-analytics-worker"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:05] tisnik opened #1228 "RFE: Improve code quality in the following repository: fabric8-analytics-stack-analysis"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:07] tisnik opened #1229 "RFE: Improve code quality in the following repository: fabric8-analytics-license-analysis"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:08] tisnik opened #1230 "[5] RFE: Improve code quality in the following repository: fabric8-analytics-jobs"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [ ] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:09] tisnik opened #1231 "[2] RFE: Improve code quality in the following repository: fabric8-analytics-data-model"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:10] ldimaggi commented on #1225
This souds good! One question - for the quick add path - will we provide* the user with a default work item type?

* Or, allow the user to configure this choice?

[2017-10-26 15:10] tisnik opened #1232 "RFE: Improve code quality in the following repository: fabric8-analytics-recommender"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:12] tisnik opened #1233 "RFE: Improve code quality for all projects in fabric8-analytics-tagger repository"
Acceptance criteria:
- [x] all source files are checked by Pylinter
- [x] script to run Pydocstyle is in the repository
- [x] all source files are checked by Pydocstyle
- [x] CI is setup to run Pydocstyle
- [x] results (all green) are available on QA dashboard: https://fabric8-analytics.github.io/dashboard/dashboard.html

Blocker for #1089

[2017-10-26 15:14] qodfathr commented on #1225
@ldimaggi the Quick Add would still require the selection of the Work Item Type, as it is today.

[2017-10-26 15:27] sdash-redhat commented on #1225
+1
This sounds a good idea..best from the both worlds of personae.
"Add and Open" is a great entry point for additional info entry...  May be a label on this new button like  "Add More Info" can hint that the user can add more info ...

In work details screen ..I wonder if we can reduce the number of buttons (currently 4 ones each one having a "save" prefix .. or may be we can think of changing th

[2017-10-26 15:37] jfchevrette commented on #1195
This is caused by OpenShift not allowing jenkins to unidle because of the new hibernation/force-sleep features in OSO 3.7

I will bring this up with the OSO/CD team and will loop back here once I have a solution

[2017-10-26 15:47] jfchevrette commented on #1204
I cannot find anything specific to free-int or OCP 3.7 that can explain this. As the error state at the time jenkins could not launch a slave to execute the deploy job.

If you can re-produce let me know and I can live-debug to see what's going on

[2017-10-26 15:49] jfchevrette commented on #1216
According to the 'exceeded quota' error, this appear to be the same as #1204

[2017-10-26 15:54] jfchevrette commented on #1067
Can we get this prioritized as this is breaking our che e2e tests in staging?

[2017-10-26 16:03] qodfathr commented on #1225
@sdash-redhat, I agree that 4 buttons is a bit crazy. :) Does UXD have a recommendation? For example, what are UXD's thoughts on a combo-control button which includes a drop-down, thereby 'stacking' several button operations on a single button?

And if that's acceptable, would the choice become sticky? i.e., if the default is `Save and Close`, but I change it do be `Save and New`, would it remain

[2017-10-26 16:27] jfchevrette commented on #1195
After verification, this is NOT caused by 'force-sleep'.

@ldimaggi can you give more details on how the jenkins login fails? Do you get sent to OpenShift for auth? Are you given the opportunity to link jenkins authentication to openshift's?

Can you take a screenshot or copy/paste the chrome browser 403 error (along with request details)

[2017-10-26 16:48] sdash-redhat commented on #1225
Yeah...  sticky option also sounds more close... Let me draw these and play-around ..that might light some bulb ;) I will get back tomorrow ...

[2017-10-26 17:04] ldimaggi commented on #1195
The problem is no longer visible - I was just able to access a build log:

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Vert.x - HTTP 1.0.1
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- stackinfo-maven-plugin:0.2:prepare (default-cli) @ testoct26 ---
[INFO]

[2017-10-26 17:04] #1195 closed

[2017-10-26 17:07] ldimaggi opened #1234 "On prod-preview, analytic reports are failing - 401 error"
Fragment from build log showing the error:

[code]

[2017-10-26 17:08] ldimaggi commented on #1195
The fix to this bug has opened a path to this new bug - analytic report generation failing: https://github.com/openshiftio/openshift.io/issues/1234

[2017-10-27 05:44] krishnapaparaju commented on #1222
cc @samuzzal-choudhury @kbsingh

[2017-10-27 07:38] tisnik commented on #1082
It's part of #1099

[2017-10-27 07:40] #1082 closed

[2017-10-27 07:56] miteshvp commented on #987
@rootAvish - can we also reference the spreadsheet where you are maintaining this observations?

[2017-10-27 08:44] rootAvish commented on #987
https://docs.google.com/spreadsheets/d/1X6ClIqc3sJZXR7mrl0RvJ9FxM9q2tJfJkdjRatybyFo/edit#gid=0

[2017-10-27 08:53] rootAvish commented on #1095
### Results for NPM

Implementation in code: https://github.com/fabric8-analytics/devnull/pull/10
using standard textrank approach:

```` {'ROUGE-1': 0.25047, 'ROUGE-2': 0.09449, 'ROUGE-L': 0.24696, 'ROUGE-SU4': 0.12192} ````

this is with thresholding done.

Using a levenshtein distance based implementation of textrank:

```` {'ROUGE-1': 0.32795, 'ROUGE-2': 0.06353, 'ROUGE-L': 0.32327, 'ROUGE-SU4

[2017-10-27 08:59] jyasveer commented on #1167
@krishnapaparaju
This are changes in the UI for the license module. Below is the deck showing the screenshots of all license analysis scenarios. Please suggest some changes if you find any
https://docs.google.com/presentation/d/1DiMQsXQxPze9Pl8-341r5VhP8k2_HK4LMyPi6JOmKXk/edit#slide=id.g28cfca7043_0_17

[2017-10-27 09:07] samuzzal-choudhury opened #1235 "User Story: Revamp the Analytics stack report UI"
#### Description:
Improve the current design of the stack report UI based on the UX wireframe in this [link](http://to-be-done-by-muru).

#### Acceptance Criteria:
The new UI is developed based on the above wireframe and is deployed on the production cluster for OSIO users.

[2017-10-27 09:34] miteshvp commented on #1095
Previously collected Vertx/Springboot packages can be found [here](https://gist.github.com/miteshvp/608307e0f5029079790f2ded1db3ed5c)
It also contains tags that came out accurate using automated tagging effort.
*Accuracy was arrived at after comparing top 4 automated tags vs. manual tag collected previously for a subset of Vertx/Springboot packages*