[2017-10-27 11:25] tisnik commented on #1099
The 1st version of the dashboard can be seen here:
https://fabric8-analytics.github.io/dashboard/dashboard.html

[2017-10-27 14:55] krishnapaparaju opened #1236 "Handling unknown scenarios: OSIO user enquiring for a Component"
OSIO user while editing at Che editor would be flagged for a component if a component got a CVE associated. This flow is triggered thru LSP (Language server protocol) server initiating REST API onto OSIO platform.

In case this specific component is unknown to OSIO platform (has not ingested the data for this component), trace message at log file need to be printed. This would help to gather the l

[2017-10-29 01:55] krishnapaparaju opened #1237 "Needs correction of License for stack report portal UI"
License for the following repository is mentioned as 'Apache 2.0' ,  this needs to be changed GPL-3.0.

https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui

[2017-10-29 02:01] krishnapaparaju commented on #1101
@jpopelka  thanks for the clarification...

[2017-10-29 14:55] krishnapaparaju commented on #1222
cc @accorvin @shgriffi Please update with  proposed deploy architecture..

[2017-10-29 16:51] sdash-redhat commented on #1225
Here is quick-preview of how they might look like ...

![image](https://user-images.githubusercontent.com/27761023/32145911-f43f065c-bcf5-11e7-8331-41504658b6a7.png)
If the user clicks on "Save & Open" he lands n the detailed view

The following detailed view shows all the options of save as a split button (PF pattern)
![image](https://user-images.githubusercontent.com/27761023/32145923-345ba11e-b

[2017-10-29 23:25] ldimaggi opened #1238 "Recurring, intermittent error opening Che workspace"
This problem stared showing up on Oct 27 - seeing it > 50% of the time on automated EE tests:
[code]

[2017-10-30 05:16] mishaone opened #1239 "UX/UI: Label menu needs an OK or check mark button"
When adding a label to my new Work Item, I select one or more labels and expect to have an OK or &#10003; button to confirm that I would like to add the selected labels. Instead, I have to press X (common associated with cancel and/or close) to save my changes.

![label](https://user-images.githubusercontent.com/926572/32155768-24b6a260-bd85-11e7-9e8a-83445ef2c759.png)

Furthermore, the newly sele

[2017-10-30 07:41] jpopelka commented on #940
I've created a CLI for searching victims-cve-db, see [PR#96](https://github.com/victims/victims-cve-db/pull/96)

[2017-10-30 08:55] ibuziuk commented on #1238
@alexeykazakov @sbose78 looks like there are problems with oso endpoint availability

[2017-10-30 08:57] sbose78 commented on #1238
Thanks @ibuziuk for notifying - I'll have a look at the logs.

[2017-10-30 09:03] ibuziuk commented on #1067
@l0rd @davidfestal are we going to fix single-tenant che-server on prod-preview or it is planned to have it broken till multi-tenancy would be in place for prod-preview ?

[2017-10-30 10:49] ibuziuk commented on #1238
@ldimaggi please, define che-server version

[2017-10-30 10:50] krishnapaparaju opened #1240 "Use development cluster for testing changes from individual developers"
Features / changed being done on developer’s laptop, merged to master to test the incremental developer specific changes at staging cluster. Sanity of production setup starts with sanity of staging cluster.
No more development would be done on developer’s laptop (docker compose)
Every developer would start testing their features / changes at Dev. cluster.
Once developers are satisfied, rebase thei

[2017-10-30 10:50] krishnapaparaju commented on #1240
cc @msrb @samuzzal-choudhury @miteshvp

[2017-10-30 10:55] ldimaggi commented on #1238
Che 2.0.42

On Mon, Oct 30, 2017 at 6:49 AM, Ilya Buziuk <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-10-30 11:09] tisnik opened #1241 "[2] Fix and enable all tests that check result of stack analysis"
Currently, some tests that check result of stack analysis had to be commented because of changes made in the stack analysis API. Those tests - and especially its mock data - have to be updated and re-enabled again.

## Acceptance criteria

- [ ] all tests in selfcheck.feaure and stack_analyses*.feature are enabled
- [ ] all such tests will pass on CI

[2017-10-30 11:21] ibuziuk commented on #1238
Hmmm..

According to the logs the token passed to the Keycloak is empty for some reason:

[2017-10-30 11:42] ibuziuk commented on #1238
@ldimaggi is it reproducible manually?

[2017-10-30 12:49] joshuawilson commented on #1241
I made this a P1 since we are running a live system that get's updated everyday. Tests are one of the main ways we know that it is good to merge. If we have commented out tests, that does not count as passing. Those should be turned on and the build should fail till they are fixed.

[2017-10-30 13:17] ibuziuk commented on #1238
I have provided PR which improves validation on controller side  - https://github.com/redhat-developer/rh-che/pull/394
However, it is still not clear at all why the keycloakToken passed to the controller is blank. Basically, `/user` endpoint is used for securing workspaces (checking if the keycloak token matches the user associated with the *-che namespace) and it is called from `KeycloakAuthentic

[2017-10-30 13:58] tisnik opened #1242 "[8] Identify bottlenecks in the stack analysis"
## Description

Update current logging/tooling to be able to identify bottlenecks in the stack analysis

## Acceptance criteria

- [ ] new stack analysis is started, optionally with debug/verbose/ etc. parameter
- [ ] durations for (all) processes and steps can be retrieved via Kibana or via the stack report itself

## Related issues
Task for the epic #1144

[2017-10-30 14:05] tisnik opened #1243 "[5] Identify bottlenecks in the component analysis"
## Description

Update current logging/tooling to be able to identify bottlenecks in the component analysis, both for known component(s) and for unknown (non-existing) components as well

## Acceptance criteria

- [ ] perform API call for component analysis for known component and ecosystem, optionally with debug/verbose parameter
- [ ] durations for (all) processes and steps can be retrieved via

[2017-10-30 15:12] msrb opened #1244 "[3] Ignore description inherited from parent POM"
Bug discovered by @rootAvish, thanks :wink:

# Description

We first build effective pom before we try to extract information from pom.xml files. This means, among other things, that if given pom.xml doesn't have `<description>` on its own, the description is inherited from parent pom. This can lead to a situation when dozens of packages share the same description inherited from common parent pom,

[2017-10-30 15:52] vpavlin opened #1245 "Implement idling of tenant Jenkins instance"
* Jenkins is taking 1GB of RAM even if there are no builds running
* Idle Jenkins if not used (based on builds status)
* Add cache/proxy for webhooks coming to Jenkins
* Investigate if we can proxy all Jenkins traffic to get better UX when unidling

Implementation in the services [fabric8-jenkins-proxy](https://github.com/fabric8-services/fabric8-jenkins-proxy) and  [fabric8-jenkins-idler](https:/

[2017-10-30 16:58] ldimaggi commented on #1238
The interesting thing is that this is only happening intermittently - all with the same user account.

[2017-10-30 17:11] xcoulon opened #1246 "Add an endpoint on WIT to search for codebases by URL and provide the space owner"
Add an endpoint with the following pattern: `/api/search/codebases?q=...` to search for codebases by URL. This endpoint will be used by the Jenkins (un)idle service when a incoming GitHub request (using a webhook) is processed. The response needs to provide the space owner, too.

[2017-10-31 01:23] #1112 closed

[2017-10-31 03:25] sbose78 commented on #955
@joshuawilson was facing this in prod-preview few hours back. Did we get a chance to diagnose this?

[2017-10-31 05:03] mishaone opened #1247 "Backlog view: Work Items are within a panel which limits menu options display"
In the Planner's Backlog view, I clicked on the three dots icon for additional options for my Work Item. The options display, but is cut off, as seen in the screenshot:

![1](https://user-images.githubusercontent.com/926572/32208147-57f65efa-be4c-11e7-9213-fbf5eef70e9f.png)

This makes it really obvious that there is a restricted panel displaying the list of Work Items. I try to view the rest of t

[2017-10-31 05:06] sdash-redhat commented on #1225
Some minor tweak in labels --  may be we can use "Save" and "Add Details"  (Instead of "Add" . & "Add & Open" ) which will not sound monotonous and give similar meaning.
Also to reset the text box, will use an 'X' icon in the text box when the text is filled in. Rest everything remains same.

[2017-10-31 05:22] miteshvp opened #1248 "Expand stack report to Node ecosystem"
### Description
Currently, fabric8-analytics can generate stack report for Vertx and Springboot ecosystem. Need to expand the recommendations to node ecosystem as well.

#### Acceptance Criteria
- End users should be able to see recommendations for node packages that are part of top popular github stacks [1] with a recommendation accuracy of 70%

*Github query to identify top popular node stacks*

[2017-10-31 07:00] msrb opened #1249 "spike: explore download statistics in JBoss Nexus"
# Description

We had a meeting with David Hladky from JBoss and he could give us access to some Maven Central download statistics that they have in their Nexus repository. We want to explore the data.

David needs our JBoss username in order to give us access to the data.

# Acceptance criteria
- [ ] document describing what data we could get from JBoss Nexus exists

[2017-10-31 07:12] miteshvp commented on #683
Closing this for https://github.com/openshiftio/openshift.io/issues/1248

[2017-10-31 07:12] #683 closed

[2017-10-31 07:16] joshuawilson commented on #955
not yet, we will take a deeper look at it this week

[2017-10-31 07:18] abs51295 opened #1250 "Identification of Anchor Packages for Maven Ecosystem"
### Description

Currently, PGM doesn't have the notion of anchor packages. Need to determine the anchor packages for Maven Ecosystem to generate better outlier recommendations from PGM.

#### Acceptance Criteria
- A list of anchor packages should be generated for Maven ecosystem.

[2017-10-31 07:23] abs51295 commented on #1123
Spike results are accurate as expected. Can move the approach to production in a future sprint.

[2017-10-31 07:23] #1123 closed

[2017-10-31 07:28] sunilk747 opened #1251 "Identification of Anchor Packages for Node Ecosystem"
### Description

Currently, PGM doesn't have the notion of anchor packages. Need to determine the anchor packages for Node Ecosystem to generate better PGM recommendation's for outliers.

#### Acceptance Criteria
- A list of anchor packages should be generated for Node ecosystem.

[2017-10-31 07:39] l0rd commented on #1067
@ibuziuk is it just a matter of setting some config maps to the right value or is there some issue that prevent us to deploy latest `rh-che` on prod-preview?

[2017-10-31 09:21] l0rd commented on #1145
@slemeur do you know if it's reproducible on openshift.io only or if we should consider it an upstream issue?

[2017-10-31 10:37] msrb commented on #1243
I am already looking into this.

[2017-10-31 11:23] ldimaggi commented on #955
I saw this same issue - but only briefly - last week too:
https://github.com/openshiftio/openshift.io/issues/1223

The problem only lasted about 10 min for me - this was in production.

[2017-10-31 11:47] miteshvp commented on #1118
@invincibleJai - can you remove UI related items from this task. It seems, they should be part of crowd sourcing work as it is more relevant there

[2017-10-31 11:54] samuzzal-choudhury commented on #1148
All tasks have been completed for this. Hence, closing

[2017-10-31 11:54] #1148 closed

[2017-10-31 12:03] samuzzal-choudhury commented on #1127
New user story(ies) shall be opened for this with new requirements. Hence, closing this.

[2017-10-31 12:03] #1127 closed

[2017-10-31 12:04] samuzzal-choudhury commented on #1118
@miteshvp the UI task has been removed.

[2017-10-31 12:05] samuzzal-choudhury commented on #1099
Closing this as the task has been completed. @tisnik @msrb @miteshvp  reopen if required.

[2017-10-31 12:05] #1099 closed

[2017-10-31 12:07] samuzzal-choudhury commented on #1212
`/api/v1/generate-file` is available on prod currently. Hence, closing this issue. Please feel free to reopen with the valid sprint milestone.

[2017-10-31 12:07] #1212 closed

[2017-10-31 12:08] samuzzal-choudhury commented on #1037
`/api/v1/generate-file` is available on prod. Closing this. Reopen with the proper sprint milestone if someone thinks otherwise.

[2017-10-31 12:08] #1037 closed

[2017-10-31 12:09] samuzzal-choudhury commented on #984
Closing this as the first cut has been deployed on production.

[2017-10-31 12:09] #984 closed

[2017-10-31 12:14] samuzzal-choudhury commented on #1143
The merged PR https://github.com/fabric8-analytics/fabric8-analytics-devstudio-plugin/issues/21 fixes this. Closing this bug. Please reopen if you think otherwise.

[2017-10-31 12:14] #1143 closed

[2017-10-31 12:17] ibuziuk opened #1252 "After quickstart project creation new codebase is not visible in the dashboard"
After quickstart project creation new codebase is not visible in the dashboard:
See https://youtu.be/h7OhxG6je84?t=1m55s

[2017-10-31 16:06] ibuziuk commented on #1238
@ldimaggi could you please update to `2.0.44` and provide stacktrace (if it will not contain sensitive info ;-) if this would still be reproducible

[2017-10-31 16:14] ibuziuk commented on #1067
@l0rd cm update only AFAIK

[2017-10-31 16:17] rafabene opened #1253 "CHE autosave: Shouldn't it be disabled by default?"
All IDEs doesn't have autosave enabled by default? Why should it be enabled in CHE?

That causes issues when you are using the auto-complete feature and the application is running since it saves the file with a wrong syntax and causes errors on the console.

[2017-10-31 17:39] rafabene opened #1254 "Workshop issue: Pipeline failed to rollout to Stage"
Error on Jenkins console:

Could not update commit status. Message: Server returned HTTP response code: 201, message: 'Created' for URL: https://api.github.com/repos/rafabene/myvertxhello/statuses/c6bda09a0aea605e9d8c060384f0f235beed933a

ERROR: Error during kubernetes apply: java.lang.RuntimeException: Failed to create ImageStream from pipeline.json. io.fabric8.kubernetes.client.KubernetesClientE

[2017-10-31 17:41] rafabene opened #1255 "Workshop issue: Che 2.0.44 didn't start"
When I open the Che workspace, I can see only HTTP Status 403 -

[2017-10-31 17:56] ibuziuk commented on #1255
@rafabene could you share che-server stack trace ?

[2017-10-31 18:01] ibuziuk commented on #1255
was able to reproduce:

[code]

Looks like che  2.0.44 is entirely broken. Working on hot-fix

[2017-10-31 18:18] samuzzal-choudhury commented on #205
This issue does not apply any more as the license scorer service is in place which can suggest a stack level license and can also provide information license conflicts and license outliers. Hence, closing this. Please reopen if you think otherwise.

[2017-10-31 18:18] #205 closed

[2017-10-31 18:20] samuzzal-choudhury commented on #835
The integration cookbook describes the API. Hence, closing this issue. Please reopen if you think otherwise.

[2017-10-31 18:20] #835 closed

[2017-10-31 18:24] samuzzal-choudhury commented on #659
Closing this as this does not occur any more. Please reopen in case this issue still persists.

[2017-10-31 18:24] #659 closed

[2017-10-31 18:50] samuzzal-choudhury commented on #845
This has been resolved. userstack.dependencies contains the dependencies from the original manifest file. Closing this issue. Please feel free to reopen if you think otherwise.

[2017-10-31 18:50] #845 closed

[2017-10-31 18:53] ibuziuk commented on #1238
@ldimaggi `2.0.44` is completely broken due to regression, so I had to revert the commit with validation improvements

[2017-10-31 19:46] ibuziuk commented on #1255
Fixed in `2.0.45`

[2017-10-31 19:46] #1255 closed

[2017-10-31 20:00] ibuziuk commented on #1253
InteliJ has autosave enabled by default - it is not time based, but rather focus based [1]

@eivantsov could you please clarify how autosave is implemented in Che (according to the issue description dirty editors are saved on time intervals, or it is just a known bug e.g https://github.com/openshiftio/openshift.io/issues/516 )?

[1] https://www.jetbrains.com/help/idea/saving-and-reverting-changes.

[2017-10-31 20:13] maxandersen opened #1256 "areas don't scroll/handle well when more areas than can fit on a page"
I just created a new area called "testinfra" under https://openshift.io/openshiftio/openshiftio/settings and it won't show it how much I try to scroll or refresh.

Only if a use Ctlr+F to search for it the area shows up - using normal scroll does not work.

[2017-10-31 21:14] sara-02 commented on #1118
Concerned PR for PGM scoring: https://github.com/openshiftio/saas-analytics/pull/142

[2017-10-31 21:14] #1118 closed

[2017-11-01 02:15] joshuawilson commented on #1254
@jstrachan @rawlingsj can you take a look please.

[2017-11-01 09:16] msrb opened #1257 "[3] Push images built from PRs to a registry"
# Description

We want to allow developers to easily test their changes on the dev cluster, but they need images with the changes to be available in a registry somewhere (devshift?).

Currently we build images in https://ci.centos.org/  when someone opens a PR in https://github.com/fabric8-analytics/. We test them, but we don't push them.

We could modify our CI jobs and start pushing PR images.

[2017-11-01 09:26] rkratky commented on #912
@joshuawilson, the docs will be at docs.openshift.io. I believe this link can be considered final.

[2017-11-01 09:37] bartoszmajsak commented on #1252
I was about to open the same issue - if you refresh it shows up though.

[2017-11-01 09:43] bartoszmajsak commented on #592
I have faced the same issue. Created quickstart and ended up with two builds

![image](https://user-images.githubusercontent.com/719616/32268982-5dae21d4-bef1-11e7-91fb-f720b6cd980f.png)

Repo: https://github.com/bartoszmajsak/bartosz-sdp-test-01

Single hook pointing to: https://jenkins-bartosz-1-jenkins.8a09.starter-us-east-2.openshiftapps.com/github-webhook/

[2017-11-01 09:46] msrb opened #1258 "[5] Make it possible to easily run E2E tests against f8a deployments on the dev cluster"
# User story

As a fabric8-analytics developer, I want to be able to test my fabric8-analytics deployment running on the dev cluster so I can verify that my changes did not break anything.

# Description

Devs testing their changes on the dev cluster may want to run E2E tests from time to time. It should be easy enough to do so. See https://github.com/fabric8-analytics/fabric8-analytics-common for

[2017-11-01 09:49] bartoszmajsak opened #1259 "Build status on initial GH commit in Pending state"
After creating new quickstart in OSIO I end up with initial commit on GH being in "pending build state" forever.

![image](https://user-images.githubusercontent.com/719616/32269168-e95a971c-bef1-11e7-829d-c3c3deec015d.png)

Clicking on it gets me to `http://unconfigured-jenkins-location/job/bartoszmajsak/job/bartosz-sdp-test-01/job/master/2/display/redirect`.

[2017-11-01 09:59] bartoszmajsak commented on #1205
I looked at failed builds logs - most of it was due to docker registry error. Do we know what was the issue?

<details>
<summary>Build error</summary>
[ERROR] Failed to execute goal io.fabric8:fabric8-maven-plugin:3.5.22:push (default) on project generator-backend: Unable to push 'fabric8/generator-backend:1.0.85' from registry '10.15.255.18:80' : received unexpected HTTP status: 500 Internal Serv

[2017-11-01 10:17] bartoszmajsak commented on #1259
Out of curiosity - why the commit says `openshift-io committed with jboss `? Where is this jboss thingy coming from?

[code]

[2017-11-01 11:04] eivantsov commented on #1253
@ibuziuk Auto save is triggered with a 1-2 second delay after you have stopped typing in the editor.

I suppose you will have the same issue with a desktop IDE, with auto save on.

[2017-11-01 11:48] msrb opened #1260 "[8] Explore how DependencyCheck maps JARs/components to CPE names"
# Description

In this spike we want to find out how DependencyCheck maps JARs/components to CPE names and explore whether we could use the same (or slightly modified) approach for mapping CVE entries from NVD to actual components.

# Acceptance criteria:
- [x] there is a document describing how DependencyCheck maps JARs/components to CPE names
- [x] findings whether we could use the same approach

[2017-11-01 11:57] msrb opened #1261 "[3] Collect license information from GitHub"
# Description

Our GitHub worker doesn't collect license information from repositories.

# Acceptance criteria
- [x] existing GitHub worker collects also repository level license information

[2017-11-01 12:10] jpopelka commented on #940
https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/420

[2017-11-01 12:10] kbsingh commented on #1073
Note that we have fairly extensive monitoring infra in zabbix, and this would be a good example for something that would fit there. It also has escalation and triggers support, so actions can be taken when certain conditions are met ( we already track a few e2e tasks there and co relate them with the rest of the service state etc ).

[2017-11-01 12:12] #1074 closed

[2017-11-01 12:16] pkajaba commented on #1073
I am well aware of that. You can see here [1], your request was already configured. However, we would prefer to have more information from Jenkins build (currently we see just status).

[1] https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/722

[2017-11-01 12:21] aslakknutsen opened #1262 "Write tests for WorkItem Label List"
No tests found for https://github.com/fabric8-services/fabric8-wit/blob/master/controller/work_item_labels.go#L36

[2017-11-01 12:22] pkajaba opened #1263 "Tweak developer notifications"
This issue is follow up on https://github.com/openshiftio/openshift.io/issues/1073

# Description
Despite several technical blockers, we were able to setup notifications through a mailing list and Zabbix.
In both cases, we just receive notifications whether E2E tests failed. This was a goal of the previous task, but we need more information such as BUILD URL, BUILD number, etc.

# Acceptance crite

[2017-11-01 12:23] #1052 closed

[2017-11-01 12:24] #1014 closed

[2017-11-01 12:24] rawlingsj commented on #1254
Is this reproducible every time and on new reset environments?  I think that error might be coming back from openshift but the year 2006 does look odd still, that said if it's not reproducible or happening every build it isn't a severity 1 / blocker.

[2017-11-01 12:34] #1100 closed

[2017-11-01 12:35] #1073 closed

[2017-11-01 12:35] #1098 closed

[2017-11-01 12:35] jpopelka opened #1264 "[3] Document steps how to map package identifiers to CPEs (used in NVD data)"
# Description

In #1052 we agreed on that if we want to build a source of open data with vulnerabilities we should start with creating a mappings of package identifiers (i.e what we use to identify a package) to [CPEs](https://nvd.nist.gov/products) (i.e. to what NVD uses to identify product) in order to be able to reliable search data from NVD database for vulnerabilities in packages that we anal

[2017-11-01 13:04] pkajaba commented on #1073
@kbsingh Thanks for pointing out :-)

[2017-11-01 13:31] rupalibehera commented on #1254
@rawlingsj , I was not able to reproduce this issue,
@rafabene it would be nice if you could share more details about it. It would help reproducing the issue. what was jenkins version (the jenkins image being used)
Did you try a 'reset environment' after you faced this issue  ?

[2017-11-01 13:33] aslakknutsen commented on #1254
@rawlingsj 2006 is the Format, not the date. https://stackoverflow.com/questions/20530327/origin-of-mon-jan-2-150405-mst-2006-in-golang It's trying to parse an empty string into that format.

[2017-11-01 14:13] qodfathr commented on #1225
@sdash-redhat re: "Add & Open" vs. "Add Details".

`Add & Open` makes it reasonably clear that the item is being *added* and then being *opened*. When the user reaches the details page and clicks the Cancel button, it should be self-evident that the item was already added, so clicking `Cancel` does *not* result in no item being added to the backlog. It is simply canceling any changes made to the d

[2017-11-01 15:10] alexeykazakov commented on #1205
I don't know what was the reason. cc: @jstrachan @rawlingsj

[2017-11-01 15:22] jstrachan commented on #1205
the 2006 parsing issues are due to this: https://github.com/fabric8io/kubernetes-model/issues/241 - PR and release on the way shortly...

[2017-11-01 15:23] jstrachan commented on #1254
the 2006 issue is due to this https://github.com/fabric8io/kubernetes-model/issues/241 PR and fix on the way - its a regression in the kubernetes-model

[2017-11-01 15:38] joshuawilson commented on #1254
@rafabene can you please try to reproduce this.

[2017-11-01 17:01] alexeykazakov opened #1265 "Add new Auth API URL env var to fabric8-ui"
There should be a new FABRIC8_AUTH_API_URL env var available in all relevant deployments in prod, preview and badger. We expect this env var set to access Auth service from our UI,

We need this to unblock https://github.com/fabric8-ui/fabric8-ui/pull/2011
Part of https://github.com/fabric8-services/fabric8-auth/issues/149

[2017-11-01 17:03] alexeykazakov commented on #1265
cc: @jstrachan @rawlingsj @sbose78

Could someone from the SD team to help with this while James x2 are not available? @kbsingh

[2017-11-01 17:21] ldimaggi opened #1266 "Che and Jenkins pods failing to start on prod-preview"
The problem is that persistent volume claims (PVCs) are not being created.

No logs are written - errors such as this are generated in the event list:
[code]

[events.pdf](https://github.com/openshiftio/openshift.io/files/1435027/events.pdf)

[2017-11-01 17:29] ldimaggi commented on #1266
Note - I am seeing this problem with 2 separate user accounts.

[2017-11-01 18:35] jfchevrette commented on #1266
The PVs are all missing. I was unable to find out why because there are no related errors in the tenants events log. Presumably this problem occurred during the tenant initialization phase.

I was also able to create the PVs manually so it is not a quota issue or a storage backend issue.

Re-creating/initializing the tenant is probably the only way to fix this for now.

[2017-11-01 18:36] l0rd commented on #1067
@ldimaggi @jfchevrette for your information during our sprint planning we have included this in the current sprint backlog (https://github.com/redhat-developer/rh-che/issues/403).

[2017-11-01 18:43] rhopp commented on #1266
If you are recreatign/initializing the tenants, please include user kkanova-osiotest1. We are seeing this too. Thanks.

[2017-11-01 18:47] ldimaggi commented on #1266
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/723

[2017-11-01 18:59] jfchevrette commented on #1266
The problem has been isolated to a misconfiguration of the StorageClasses on the preview cluster. We're looking into it.

[2017-11-01 19:06] ldimaggi commented on #1067
Great - thanks!

On Wed, Nov 1, 2017 at 2:36 PM, Mario Loriedo <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2017-11-01 19:12] joshuawilson commented on #1258
cc @ldimaggi

[2017-11-01 19:14] joshuawilson commented on #1252
@aslakknutsen @dgutride this is one of those things we need to figure out how to refresh/update so the user knows the system is live.

[2017-11-01 19:16] joshuawilson commented on #912
Thanks @rkratky.
@mindreeper2420 can you add this to your list, please.

[2017-11-01 19:38] ldimaggi commented on #1254
I'm not able to reproduce this problem - is anyone still seeing it?

[2017-11-01 19:45] ldimaggi commented on #1266
Solved - thanks - closing.

[2017-11-01 19:45] #1266 closed

[2017-11-01 19:52] ldimaggi opened #1267 "On prod-preview - slowness of jenkins pods causes frequent errors where build pipeline fails to run"
After a successful environment reset, a new quickstart's build pipeline fails. Jenkins reports the following in an infinite loop:

[code]

[2017-11-01 19:55] ldimaggi commented on #1267
Not reproducible

[2017-11-01 20:15] ldimaggi commented on #1267
This error is causing all the EE tests running on prod-preview to fail.

[2017-11-01 20:23] mindreeper2420 commented on #912
@joshuawilson - where is the documentation located? I’ve not seen nor heard of any.

[2017-11-02 03:19] miteshvp commented on #1072
- Once finished, we can move on to nuget ecosystem.

@fridex - I guess you meant node ecosystem here. Any updates whether we already started node syncs?

[2017-11-02 03:29] miteshvp commented on #973
@sara02 - can you please update this issue. Please update here with your findings/observations

[2017-11-02 04:24] samuzzal-choudhury commented on #562
Closing this issue as it could not be reproduced in the recent times. @krishnapaparaju please reopen if you think otherwise.

[2017-11-02 04:24] #562 closed

[2017-11-02 04:27] samuzzal-choudhury commented on #1224
@tisnik I think this is a core stream goal. Hence, removed the stream/integration tag.

[2017-11-02 04:54] samuzzal-choudhury commented on #1241
@joshuawilson We run a minimal set of tests which is sufficient to verify the health of stack-analysis for different ecosystems.

@tisnik what are the tests that we are planning to add? I hope you remember that the integration tests in its full glory had slowed down Bayesian on staging environment completely because it bombards the system with many stack analyses requests and our PR checks were he

[2017-11-02 08:17] pranavgore09 commented on #1262
Hi @aslakknutsen  I found this https://github.com/fabric8-services/fabric8-wit/blob/master/controller/label_blackbox_test.go#L95

[2017-11-02 09:28] fridex commented on #1072
Nope, nuget is in progress. Will wait for nuget to finish first, we can start with npm afterwards.

[2017-11-02 09:33] sdash-redhat commented on #1225
Thanks Todd. This is not overthinking rather is positively helpful :).

I think the answer can be having "**Save**" and  "**Save and Open**" it is in the same line as what you are expecting and the users will be clear that the content is saved and then opened. It is exactly similar lines of "Add" and "Add & Open" but the saving will make it evident that the action makes the data to be actually sav

[2017-11-02 09:42] #1095 closed

[2017-11-02 09:55] rootAvish opened #1268 "[8] Automated Tagging and Validation of tags for all packages in NPM ecosystem"
### Epic: #1248

### User Story

The PGM will be able to get automated tags for NPM packages so that it can be trained to show alternate and companion recommendations for the NPM ecosystem.

### Description

In order to show recommendations for the NPM ecosystem, we need to train our current recommendation engine(the PGM) using a package tag map and a set of reference manifest files(reference `pac

[2017-11-02 10:02] rootAvish opened #1269 "Training the PGM for NPM"
#### Description

In order to show recommendations for the NPM ecosystem we need to train the PGM using data of the node ecosystem.

#### Acceptance Criteria

It should be possible to train the PGM for NPM.

#### Task List

TBD

#### Dependencies

[ ] Need the manifest `package.json` files to train the PGM.

[2017-11-02 10:18] nimishamukherjee commented on #1220
Create issue on OSIO [1668](https://openshift.io/openshiftio/openshiftio/plan/detail/1668)

[2017-11-02 10:22] nimishamukherjee commented on #1218
Created issue on OSIO [1669](https://openshift.io/openshiftio/openshiftio/plan/detail/1669)

[2017-11-02 10:25] nimishamukherjee commented on #926
Created issue [1670](https://openshift.io/openshiftio/openshiftio/plan/detail/1670) for QE to verify.

[2017-11-02 10:28] nimishamukherjee commented on #1239
Created feature on OSIO [1671](https://openshift.io/openshiftio/openshiftio/plan/detail/1671)

[2017-11-02 10:28] SaketJNU opened #1270 "[8] Crowd Sourcing: Offline pipeline for PGM training"
## Description:
As the tagger could not automatically generate accurate tags for a huge percentage of packages, so here the idea is to **crowd-source** the tagging work of those unknown packages. The end-users(developer) of **osio** may assign the tags to packages suggested to them, which will further be used for PGM training after post data-cleansing.

### Acceptance Criteria:
Able to read end-us

[2017-11-02 10:43] miteshvp commented on #1072
- I've just scheduled syncs of nuget packages to graph on priority workers. Once finished, we can move on to nuget ecosystem.

@fridex - you mentioned nuget in both the places which got me confused. But my understanding is correct. Thanks. Given the priority, we would like to sync npm first rather than nuget. Can it be done?

[2017-11-02 11:16] fridex commented on #1072
? @fridex - you mentioned nuget in both the places which got me confused. But my understanding is correct. Thanks. Given the priority, we would like to sync npm first rather than nuget. Can it be done?

Ah, sorry - corrected. Sure, I will do it today.

[2017-11-02 12:03] samuzzal-choudhury opened #1271 "Implement API to facilitate crowdsourcing through IDE"
### Epic: https://github.com/openshiftio/openshift.io/issues/744

### User Story
As an OSIO developer I should be able to get a component to tag and save the tags for the component so that all the users can get better recommendations.

### Description:
As a fabric8-analytics developer I would like to create some API endpoints to facilitate crowdsourcing through IDE so that the tagged intents for a

[2017-11-02 12:18] rajdavies commented on #1267
This looks like different limits are set on prod-preview to prod - if you looked at the log - you'd see the problem is that there is an error in provisioning. Not sure why limits are different on prod preview to prod - they should be the same. Not a pipeline problem though

[2017-11-02 12:22] nimishamukherjee commented on #1219
Tracking this on OSIO [1672](https://openshift.io/openshiftio/openshiftio/plan/detail/1672)

[2017-11-02 12:42] pbergene commented on #1254
I just got it on my space.  Couldn't reproduce it earlier, but logged in and hit 'start pipeline' on the pipeline screen and it failed to rollout to stage.

[2017-11-02 12:59] joshuawilson commented on #1254
Are you able to reproduce? Were you in incognito?

[2017-11-02 13:15] pbergene commented on #1254
Did it from the top now, could reproduce a second time by resetting environment, wait for everything to come up, run vertx quickstart, wait for initial build to finish, promote to run and then hit 'run pipeline' on the pipeline screen.  You may end up with the same thing following other paths like triggering a build from somewhere else.
I was not in incognito mode, but I have a chrome I only use f

[2017-11-02 13:24] samuzzal-choudhury opened #1272 "User Story: Manual Tagging UI and API integration"
### Description:
As a fabric8-analytics developer I would like to integrate the existing Manual Tagging (internal) UI with crowdsourcing API endpoints (to be implemented based on https://github.com/openshiftio/openshift.io/issues/1271) so that the tagged intents are propagated to the PGM training module via the analytics verification module.

### Acceptance Criteria:
The UI is behind a basic auth

[2017-11-02 13:45] joshuawilson commented on #1225
I know we are not "mobile-first" yet, but I still need to ask. How would this work on a mobile devise?

[2017-11-02 13:48] joshuawilson commented on #912
@mindreeper2420 as @rkratky stated they are at https://docs.openshift.io/

[2017-11-02 13:49] mindreeper2420 commented on #912
@joshuawilson @rkratky my bad! That is what happens when you look at GitHub on your phone 😎 . I'll file a PR for this today.

[2017-11-02 13:53] xcoulon opened #1273 "Fix the way pagination links are generated"
Write a test scenario that verifies that the limit is not `0` (makes no sense) and that it does not change in the output

[2017-11-02 13:55] samuzzal-choudhury opened #1274 "Implement UI to facilitate crowdsourcing through IDE"
### Epic: https://github.com/openshiftio/openshift.io/issues/744

### User Story:
As a IDE user, I will be able to add intent tags to a given component so that it will improve recommendation system of analytics

### Description:
will be providing a UI to the IDE users to add intent tags to a given component so that the those are propagated to the PGM training module via the analytics verification

[2017-11-02 14:02] fridex commented on #1072
Scheduled NPM sync on priority workers.

@miteshvp could you please check the current status of nuget in the graph? The sync should be over.

[2017-11-02 14:13] samuzzal-choudhury opened #1275 "User Story: Implement timeout and counter based crowdsourcing in Dev Studio plugin"
### Description:
As a Bayesian developer I would like to involve an IDE user to take part in crowdsourcing of component intent based on a timeout and also a counter so that the analytics stack recommendations get improved based on the user's input.

### Acceptance Criteria:
The IDE user should see a modal prompt in the stack report UI to provide intent tag for a component of user's relevant ecosys

[2017-11-02 14:14] samuzzal-choudhury opened #1276 "Implement timeout and counter based crowdsourcing in VSCode plugin"
### Epic: https://github.com/openshiftio/openshift.io/issues/744

### User Story:
As a IDE user, I will be able to add intent tags to a given component so that it will improve recommendation system of analytics

### Description:
will be providing a UI to the IDE users to performs stack analyses through VSCode after a timeout duration or after a count of stack analyses runs to add intent tags to a

[2017-11-02 14:23] samuzzal-choudhury opened #1277 "Implement the OSIO stack report as per revamped UX"
### User Story:
As an OSIO Developer I will be able view more detailed stack report so that I can get lot more clarity so that I can get lot more clarity

### Description:
As a fabric8-analytics developer, I would like to implement the stack report on openshift.io based on the revamped UX (as per ~~https://redhat.invisionapp.com/share/JUEBSI892#/screens/262435891~~
https://redhat.invisionapp.com/s

[2017-11-02 14:30] samuzzal-choudhury opened #1278 "Deploy 3scale user registration portal on production"
### Description:
As a fabric8-analytics developer I would like to deploy 3scale user registration portal on the production so that the IDE extensions can consume its services during the IDE user authentication via OSIO.

### Acceptance criteria:
The 3scale user registration portal is to be deployed on production with a route exposed for consuming its services

PR- https://github.com/openshiftio/sa

[2017-11-02 15:04] pbergene commented on #1254
Also applies to builds triggered by git commit from che, effectively breaking the workshop flow.

[2017-11-02 15:30] ldimaggi commented on #1254
I was able to recreate the problem - the key is to re-run an existing pipeline. The first run is successful - the re-run fails.

[2017-11-02 15:44] jfchevrette commented on #1204
From my investigation it appears that after the build is completed the jenkins-slave pod takes from 5-10 minutes to terminate completely and as such for 5-10 minutes after a build it is not possible to promote to prod as there are not enough quota to spawn a new slave for that task.

We need to investigate why the jenkins slave is stuck in Terminating state for 5-10 minutes after a termination req

[2017-11-02 15:49] sdash-redhat commented on #1225
This current design does not reflect the mobile viewport based rendering and nor even "mobile-first". That will be detailed out when the mobile-first is in the scope of delivery.

[2017-11-02 15:52] jfchevrette commented on #1204
- Initial state, no build, jenkins master is running

[code]

- Push change to github repo, webhook pings jenkins
- Jenkins start slave jenkins-slave-1br17-4qld8

[code]

- Actual jenkins build starts once the slave pod is ready
- A few minutes later s2i build pod starts

[code]

- s2i build finished, s2i pod is in completed state

[code]

- jenkins build finishes, slave pod is in terminating stat

[2017-11-02 15:55] jfchevrette commented on #1204
Quickfix idea: can we make the jenkins build wait for the slave pod to be gone/deleted before the build is marked as finished?

Better fix: understand why it takes 5-10 minutes for the slave pod to terminate and optimize. I've seen this happen when processes inside containers don't respond to to SIGTERM and so OpenShift has to wait longer and eventually sends a SIGKILL

[2017-11-02 16:19] vpavlin commented on #1254
The supposed fix is merged, so maybe this is an issue with pipelines not being triggered automatically somewhere? @jstrachan @rajdavies @rawlingsj ?

[2017-11-02 17:20] jfchevrette commented on #1204
In production the jenkins slave takes about 30 seconds to terminate and get deleted

[2017-11-02 17:49] rafabene opened #1279 "Workshop issue: Che is not starting"
CHE 2.0.45 tab opens with a message/dialog "Workspace is not running".

In the CHE pod log I see the following message:

"org.eclipse.che.api.core.ServerException: Multiple ImageStreamTags found for name che-ws-nlzkmmtkz8n42aqvpzhwfs4h1f3rl2xb"

[2017-11-02 17:50] rafabene commented on #1254
Yes. It always happens on the second run.

[2017-11-02 17:51] rafabene commented on #524
This doesn't happen anymore. Closing

[2017-11-02 17:51] #524 closed

[2017-11-02 17:54] ldimaggi commented on #1204
More slow results.

On production - 5 min:
![screenshot from 2017-11-02 13-52-09](https://user-images.githubusercontent.com/642621/32341889-28f0cffc-bfd5-11e7-8468-aa0b06fd2c94.png)

On prod-preview - 11 min:
![screenshot from 2017-11-02 13-08-54](https://user-images.githubusercontent.com/642621/32341919-46571cae-bfd5-11e7-9951-64ea84ab35ef.png)

[2017-11-02 17:54] ibuziuk commented on #1279
@rafabene is it for vert.x stack ? also would be great to get some some steps to repro

[2017-11-02 17:56] ibuziuk commented on #1253
@eivantsov not in Intelij I believe, where autosave is not time based, but rather focus based

[2017-11-02 20:23] ap1kenobi opened #1280 "Deleted spaces appear in the recently used spaces list"
![image](https://user-images.githubusercontent.com/1463555/32348428-186bb0ec-bfea-11e7-8fd3-0ee476a84b93.png)

[2017-11-02 21:07] #1246 closed

[2017-11-02 21:16] alexeykazakov commented on #1280
We need to update the list of recently used spaces when removing a space.

[2017-11-02 21:27] pkajaba commented on #1261
PR created: https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/424

[2017-11-02 21:47] ibuziuk opened #1281 "Can not start workspace - Forbidden! Configured service account doesn't have access"
che: 2.0.45
Error while starting a workspace:

[code]

OSO account relinking via https://sso.openshift.io/auth/realms/fabric8/account/identity
does not seem to help

[2017-11-02 21:47] ibuziuk commented on #1281
@alexeykazakov any ideas ?

[2017-11-02 21:49] ibuziuk commented on #1281
@ldimaggi not sure if it is reproducible for other accounts, would be great if you could check

[2017-11-02 21:59] alexeykazakov commented on #1281
Looks like a problem with OS service account for che tenant? I don't see here anything related to OSIO or OSO user tokens.

[2017-11-02 22:41] pkajaba commented on #1244
Hello @rootAvish,

Can you elaborate how did you get this result?

I am trying to run mercator in base folder of freshly cloned git repo:
a) `MERCATOR_JAVA_RESOLVE_POMS=true mercator  .`
b) `mercator  .`
c) `mercator oss-parent/pom.xml`
d) `MERCATOR_JAVA_RESOLVE_POMS=true mercator oss-parent/pom.xml`

all of commands returns correct description.

Thanks!

[2017-11-02 22:42] pkajaba commented on #1257
Hello @kbsingh, would it be OK, if we pushed images from PR as it is described in this issue into the devshift?

[2017-11-03 03:11] miteshvp commented on #1072
@fridex - I don't see nuget syncs increments anymore. Maybe they have finished. Have provided the numbers in MM

[2017-11-03 05:29] joshuawilson commented on #1281
This was an AWS limit issue and has been fixed.

[2017-11-03 05:33] joshuawilson commented on #1280
This is a duplicate of #879, closing.

[2017-11-03 05:33] #1280 closed

[2017-11-03 05:35] joshuawilson commented on #1279
This was an AWS limit issue and has been fixed.

[2017-11-03 05:35] #1279 closed

[2017-11-03 05:44] joshuawilson commented on #1254
We now know this is due to a something in Jenkins 4.0.42. If you manually change to 4.0.41, the pipeline runs. @rawlingsj @jstrachan

[2017-11-03 06:02] sudsen commented on #1218
PR - https://github.com/fabric8-ui/fabric8-planner/pull/2324

[2017-11-03 06:05] ibuziuk commented on #1281
I still have this problem after resetting environment:

[2017-11-03 06:07] joshuawilson commented on #1225
At Java One, 90% of the user signed up for OSIO on their phones. This only worked because @mindreeper2420 used mobile-first for the login page. I'm afraid that if we follow this approach we will have mobile-last and this might make it hard to introduce it later when it will become part of the scope.

[2017-11-03 06:15] krishnapaparaju commented on #1257
With integration tests be done at two clusters (Dev, Stage) and three instances (1. developer's branch  content at Dev cluster , 2. after rebasing at Dev cluster, 3. After merge to master at Staging cluster). Which of these three instances do we wanna push images to Registry ? 2,3 ?

[2017-11-03 06:17] sara-02 commented on #1172
@samuzzal-choudhury and @apupier The issue shoudl be fixed now. Please reopen if the issue persists.

[2017-11-03 06:17] #1172 closed

[2017-11-03 06:17] joshuawilson commented on #1281
:( ok thanks

[2017-11-03 06:38] SaketJNU opened #1283 "Crowd Sourcing: Create a job to read tags from graph."
## Epic #https://github.com/openshiftio/openshift.io/issues/1270
### Description:
As the package-tagging task is crowd-sourced, end-user (developer) will suggest few tags for an unknown package, which will be saved in a graph. In next, we need to read those tags so that we can perform further tags cleaning, verification and make them available to PGM. For this, we can create a new job which will b

[2017-11-03 06:39] samuzzal-choudhury opened #1284 "Dev Studio integration with 3scale registration portal"
### EPIC: https://github.com/openshiftio/openshift.io/issues/697

## User Story:
As a Devstudio IDE user, I will be able to call API's as per limits so that I can get better security.

## Description:
Currently, no API management is being done on the endpoints used in the Devstudio IDE to make fabric8-analytics available. This renders . limited scalability and unmanaged traffic control.
This imple

[2017-11-03 06:41] samuzzal-choudhury opened #1285 "VSCode integration with 3scale registration portal"
### Epic: https://github.com/openshiftio/openshift.io/issues/698

### User Story:
As a VSCode IDE user I will be able to consume APIs with rate limits so that i can achieve better security and control around APIs

### Description:
Once extension user authenticates through openshift.io implicitly registers her/him to 3scale gateway. In process of registration we need to consume services of 3Scale p

[2017-11-03 06:43] rootAvish commented on #1244
@pkajaba I needed the descriptions to run evaluations on the tagging work, for that I collected the descriptions that are present in the `metadata.json` file in the "prod-bayesian-core-data" bucket under the latest version folder of these packages. I'm sorry I can't help you with how they got there 🙁 , I've shared the file that I have containing the package names and the aggregated data with you o

[2017-11-03 06:54] #912 closed

[2017-11-03 06:59] #623 closed

[2017-11-03 06:59] #622 closed

[2017-11-03 07:00] #748 closed

[2017-11-03 07:01] miteshvp commented on #748
Current implementaion recommends an alternate packages if they are usage based outliers or license based outliers. Reasoning is only implemented for Usage based.

[2017-11-03 07:13] pkajaba commented on #1257
At this point, we are doing the third option. This task suggests pushing images when there is PR open for a repository.

[2017-11-03 07:32] ibuziuk commented on #1281
@alexeykazakov yeah, it is not related to external token, but rather service account one :/

[2017-11-03 07:42] sdash-redhat commented on #1225
@joshuawilson is ur question for this specific deisgn feature discussed in this thread or the whole planner UX aspect?

Also, are you referring to "small screens" as mobility devices?

[2017-11-03 07:50] sara-02 opened #1286 "[8] Updated Crowsourcing engine with Packages that PGM needs tag for."
### Epic: #1287

## User Story:
Upon training, PGM will be able to update the crowd-sourcing engine with un-tagged packages.

## Description:
Every time PGM is trained, it recognizes the packages with missing tags. These packages need to be listed for crowd-sourcing. Once the tags are verified, they are stored in s3, and can be consumed by PGM for retraining.

## Acceptance Criteria
Un-tagged pack

[2017-11-03 07:58] pkajaba commented on #1244
@rootAvish Thanks for providing examples. It seems to be a bug or "normal behavior" in generating effecting POMs. Let's see how we can fix it.

[2017-11-03 08:02] joshuawilson commented on #1225
I just wanted to bring it up again. I have been asking for mobile-first for 1.5 yrs on this project. I guess it is still out of scope.

[2017-11-03 08:02] msrb commented on #1244
@pkajaba I think you need to run mercator on a pom.xml which doesn't have `<description>` on its own, but has `<parent>` section and therefore inherits the description from parent.

[2017-11-03 08:24] sara-02 opened #1287 "100% Coverage of Vertx/Springboot"
### User Story #1286
### User Story #1312

[2017-11-03 08:26] sdash-redhat commented on #1225
@joshuawilson +1
I do agree with you that "mobile-first" is an important aspect.
I am positive and do hope that in coming trains this would be addressed.

[2017-11-03 08:36] jarifibrahim commented on #926
@nimishamukherjee @joshuawilson This issue seems to be resolved.

[2017-11-03 08:42] aslakknutsen commented on #1254
Rollbacked to Jenkins 4.0.41 https://github.com/fabric8-services/fabric8-tenant/commit/1cc44c645dae1f64843923863698bdb4a0c94861

[2017-11-03 08:46] l0rd commented on #1281
It looks like Che service account doesn't have the right to create a route anymore. @aslakknutsen may be related to https://github.com/fabric8-services/fabric8-tenant/commit/df0db9a77c70b9cf486cbbbec594e2042a8fa75b?

[2017-11-03 09:09] l0rd commented on #1281
Looking better at the problem it looks like the policy for route creation on OSO has changed yesterday. Route creation fails if the host is explicitly specified (was ignored before):

[code]
fails with error message "**The Route "che3" is invalid: spec.host: Forbidden: you do not have permission to set the host field of the route**".

If `host` is not specified the route is created successfully.

[2017-11-03 10:23] jyasveer opened #1288 "Show a relevant message to the user if we do not have any usage data in the fabric8 analytics stack report(dashboard & modal screen)"
In the below screenshot, we get a message in the usage section saying "Components that aren't common", but we don't see a usage count below. This has to be handled on the UI side showing a valid message to the user like "No usage data available"

![screenshot from 2017-11-03 12-43-13](https://user-images.githubusercontent.com/5430080/32369277-a0871970-c0ae-11e7-9724-0def28693c9f.png)

[2017-11-03 10:32] pbergene commented on #1281
I did some testing around this and confirmed that this also applies to the service token that owns the namespace. After inquiring with ops I got a reply saying that there was a change done yesterday to how us-west-1 and us-west-2 handle routes and that custom route host are no longer allowed. It looks like this has also been applied to us-east-2. The previous behaviour seems to be that this field

[2017-11-03 10:38] l0rd commented on #1281
@pbergene we will provide a fix with @ibuziuk to avoid specifying the `host`. That implies releasing a new version of upstream Che. Probably `v5.18.1` (cc @riuvshin).

[2017-11-03 13:42] xcoulon commented on #1246
The `/api/search/codebases?url=...` endpoint allows for search by a codebase `URL`. It returns a list of matching codebases along with the data of their parent space, in the following form:

[code]

[2017-11-03 14:25] GeorgeActon commented on #1288
The component total line also does not seem to make sense.
Should it be

Components Total:  4 | Known 3 | Unknown 1

[2017-11-03 15:41] joshuawilson commented on #1254
Closing and we'll let the next fix come when it does.

[2017-11-03 15:41] #1254 closed

[2017-11-03 15:50] samuzzal-choudhury commented on #1272
@jyasveer @invincibleJai @ravsa, I had a discussion with @miteshvp  who confirmed that no UI changes for manual tagging will be required to gather tags for vert.x and springboot ecosystems. The analytics team has already got two sets of tags for a significant subset of vert.x and springboot components to implement the tag verification logic. CC: @krishnapaparaju @GeorgeActon @sivaavkd

[2017-11-03 15:50] #1272 closed

[2017-11-03 15:51] tisnik commented on #1224
Docstrings have been added into all source files, Pydocstyle script has been created, and CI configured. DB is green (for this repo).

[2017-11-03 15:51] #1224 closed

[2017-11-03 16:21] joshuawilson commented on #1246
cc @dgutride @dlabrecq

[2017-11-03 16:23] #926 closed

[2017-11-03 17:37] joshuawilson opened #1289 "[Spike] evaluate websocket vs REST"
Currently we have a lot of REST calls. There are a few websockets set up. There are some concerns regarding websockets on network traffic especially on a multi-cluster set up.

Please list findings and concerns here.

[2017-11-03 17:58] #1281 closed

[2017-11-03 19:14] jpopelka commented on #1264
[There are](https://github.com/openshiftio/openshift.io/issues/1052#issuecomment-338708342) several ideas from where we can possibly get these mappings.
Few can be taken from *'downstreams'*, some from existing vulnerability databases like [VictimsDB](https://github.com/victims/victims-cve-db) which licenses the data under CC-BY-SA.
I'll leave these out now and focus on getting the mappings from C

[2017-11-04 07:15] krishnapaparaju commented on #689
@msrb Are we working on this initiative ?

[2017-11-05 13:55] mindreeper2420 commented on #1179
@joshuawilson @apupier I believe that this is fixed by the fix for #1181. Can I get a second verification?

[2017-11-05 13:57] mindreeper2420 commented on #1188
@kbsingh @joshuawilson Is it possible to add custom branding/imagery to our MatterMost signup/login page? I've found documentation from MatterMost, but I do not know that Version/Edition that we have, nor its configuration.

Happy to chat offline about this.

[2017-11-06 03:02] ldimaggi opened #1290 "Che pod is not able to run after env reset"
Started seeing this on November 5 - after an env reset the Che pod fails to start:

[code]

[2017-11-06 05:48] samuzzal-choudhury commented on #438
@burrsutter This has already been addressed and the fix is on prod. Closing this issue. Please reopen if you think otherwise. CC: @GeorgeActon @sivaavkd @krishnapaparaju @miteshvp

[2017-11-06 05:48] #438 closed

[2017-11-06 05:50] samuzzal-choudhury commented on #1241
@tisnik changing the severity of this issue to P3 as we already have got a working set of minimal tests for stack analyses.

[2017-11-06 05:52] samuzzal-choudhury commented on #1169
@krishnapaparaju this fixes for this has been on prod. Closing this issue. Please reopen if you think otherwise.

[2017-11-06 05:52] #1169 closed

[2017-11-06 05:57] samuzzal-choudhury commented on #1167
@krishnapaparaju The UX revamp is in-progress which should address this issue. We already have a work item for this purpose https://github.com/openshiftio/openshift.io/issues/1277. Closing this to track the UX revamp progress in the [sprint 140 work item](https://github.com/openshiftio/openshift.io/issues/1277).

[2017-11-06 05:57] #1167 closed

[2017-11-06 06:02] samuzzal-choudhury commented on #1154
@apupier @joshuawilson the stack report UX revamp is in progress which will address this issue. We are tracking that in the work item https://github.com/openshiftio/openshift.io/issues/1277. The UX can be seen here: https://redhat.invisionapp.com/share/64E3OQ2NJ#.

Closing this issue to track the progress in the sprint 140 level work item https://github.com/openshiftio/openshift.io/issues/1277. Pl

[2017-11-06 06:02] #1154 closed

[2017-11-06 06:07] miteshvp commented on #851
@tisnik - can you please re-check if this is still happening.

[2017-11-06 06:10] samuzzal-choudhury commented on #817
@ldimaggi  The UX revamp for stack report is in progress and current wireframe can be found here -  https://redhat.invisionapp.com/share/P5E5BDKQ3. We already have an in-progress work item for sprint 140 https://github.com/openshiftio/openshift.io/issues/1277 to work on this new UX and would like to track the progress with that.

Closing this issue as this is a duplicate of https://github.com/open

[2017-11-06 06:10] #817 closed

[2017-11-06 06:17] samuzzal-choudhury commented on #1191
@tisnik are we still observing this issue on prod? How critical it is to get fixed?

[2017-11-06 06:21] samuzzal-choudhury commented on #1153
@joshuawilson no fixes have been done to address the component-search issue. Could not reproduce this issue on prod when I tried again. So, closing this. @tisnik please reopen if you think otherwise.

[2017-11-06 06:21] #1153 closed

[2017-11-06 06:25] samuzzal-choudhury commented on #852
Changed the severity to P3 as `/component-search` is not being used on prod.

[2017-11-06 06:27] samuzzal-choudhury commented on #843
@tisnik changed the severity to P3 as this does not affect any functionality.

[2017-11-06 06:54] abs51295 opened #1291 "Identification of sub-ecosystems for Maven Ecosystem"
##### Epic: #1250

#### User Story

As an OSIO developer, I will be able to get better outlier recommendations for Maven ecosystem so that I can refine my chosen Maven stack.

#### Description

Since maven ecosystem is huge, we need to group the eco-system into sub-ecosystems so that we can easily identify the anchor packages for each sub-ecosystem.

#### Acceptance Criteria

* Given a sub-ecosyst

[2017-11-06 06:54] miteshvp commented on #1096
This should be clubbed when we move from Titan DB to Janus Graph as backend. It can be followed here - https://github.com/openshiftio/openshift.io/issues/1119

[2017-11-06 07:13] abs51295 opened #1292 "Identification of statistical metric(s) to determine anchor packages for Maven ecosystem"
##### Epic: #1250

#### User Story

As an OSIO developer, I will be able to get better outlier recommendations for Maven ecosystem so that I can refine my chosen Maven stack.

#### Description

After the identification of sub-ecosystems ( #1291 ) we need to determine the set of metrics with which to identify anchor packages.

#### Acceptance Criteria

* System should be able to provide a list of a

[2017-11-06 07:56] corinnekrych commented on #1175
@edewit @mindreeper2420 for this screen we have a UX ticket to revisit it: https://github.com/openshiftio/openshift.io/issues/1136

[2017-11-06 13:22] sunilk747 opened #1293 "Data collection for node ecosystem from different data sources for anchor package determination"
#### Epic: #1251

#### User Story
As an OSIO developer, I will be able to get better outlier package recommendation for node ecosystem so that I can improve my stack selection.

#### Description
In order to determine anchor package for node ecosystem we need statistical data (i.e download count, fork count, stars count, watchers count) for each node package. This user story aims to first identify

[2017-11-06 13:48] joshuawilson commented on #1241
@samuzzal-choudhury it's not a question of if you have some tests. This issue states that you have failing tests there turned off so the build would pass. That is why it should be highest priority.

[2017-11-06 14:27] mindreeper2420 commented on #1225
My 2 cents - For those thinking "mobile later, or we'll do mobile in the future", that is not as easy at it sounds. If a system is not designed or coded with mobile as even a thought from the start, going back will be next to impossible. Almost all of the Platform UI works on mobile devices (not perfect, but is usable), which was a conscience choice. Even the navigation has been retouched in order

[2017-11-06 15:29] benoitf commented on #1290
on my side after a reset 2.0.46 is working

[code]

[2017-11-06 15:29] benoitf commented on #1290
![image](https://user-images.githubusercontent.com/436777/32448595-9ee0dfb2-c30f-11e7-89ef-5a8140ae8c8e.png)

[2017-11-06 17:56] qodfathr opened #1294 "Should .vertx folder be handled differently in Che?"
In Che, after you run an Eclipse Vert.x app generated by the Quickstart, a .vertx folder is created and it's not controlled by git. It appears in the Projects Explorer with a red X -- which appears to the casual observer to be some sort of error which should be addressed:
![image](https://user-images.githubusercontent.com/16322190/32455794-600afa84-c2f1-11e7-9f75-931e239c37bf.png)
Not sure what th

[2017-11-06 18:22] aslakknutsen commented on #1121
@mindreeper2420 You can just as well 'un thread/un hide' them in the client.

[2017-11-06 21:32] jiekang commented on #1289
The Openshift Container platform documentation for REST API [1] has "The API is designed to work via the websocket protocol. API requests may take the form of "one-shot" calls to list resources or by passing in query parameter watch=true. When watching an endpoint, changes to the system may be observed through an open endpoint. Using callbacks, dynamic systems may be developed that integrate with

[2017-11-06 22:03] msrb commented on #939
@tuxdna PR merged 😉 thanks. Could you please try to analyze couple hundred Go packages in staging to see how it goes?

[2017-11-07 05:34] miteshvp opened #1295 "[3] CrowdSourcing Schema"
### Description
In order to support crowd sourcing through our analytics platform, we require the necessary back-ends schema to be created.

#### Acceptance Criteria
In order to enable end-users to contribute towards tagging through IDE or OSIO platform, there has to be a stable and robust back-end schema created.

##### Task List
- [x] Identify database to be used
- [x] Create necessary schema to

[2017-11-07 05:38] miteshvp commented on #1295
Discussed whether to use Postgres or Graph for this use-case.
Graph was selected as we can use all the existing nodes in graph plus with few additional properties at each node level can also help with our online transactions.

[2017-11-07 05:42] miteshvp commented on #1295
Schema PR created - https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/58

[2017-11-07 05:46] miteshvp commented on #1295
**Query Section**
_**Online Query**_
1. Get next untagged component
2. Store the tags

**_Offline PGM Query_**
1. Store all packages with no tags

**_Offline Verification_**
1. Pick all the packages which have been tagged more than once
2. Store processed tags for the packages

[2017-11-07 06:03] rgarg1 opened #1296 "Enable 2FA for OSIO login"
As a user, I wan't my OSIO account to be protected by 2FA so that simple loss of my password does not compromises my account.

Also, it would be great if a 'Capcha' is implemented on the login page to protect from dictionary/scripted brute-force attack.

[2017-11-07 06:08] msrb commented on #689
@krishnapaparaju not in this sprint, but I will prioritize it in the next.

[2017-11-07 06:15] sunilk747 opened #1297 "Identification of statistical vector(s) to determine anchor packages for node ecosystem"
#### Epic: #1251

#### Description

This user story aims to enable the fabric8-analytics developer to identify the correct statistical vectors for identification of anchor packages in order to improve the outlier package recommendation by PGM.

#### Acceptance Criteria

Have a set of statistical metric(s) for determination of anchor packages.

#### Task List

- [x] Identify a set of statistical me

[2017-11-07 06:30] alexeykazakov commented on #1296
OSIO login is developers.redhat.com login.
2FA, captcha, etc should be implemented there.

[2017-11-07 06:32] msrb commented on #1072
@miteshvp can you please confirm that this is running as expected? I can see activity on priority workers, but I don't see anything in graph-importer logs.

Thanks.

[2017-11-07 07:38] msrb commented on #1243
My findings and observations:

**component-analysis level**

- requests are mostly dependent on graph response times and our ability to schedule flows quickly
- graph is doing mostly fine, with only occasional response times > 1 second (proper load test is yet to be performed though)
    - see Kibana logs for more details: http://red.ht/2yDqlxX
- we run "bookkeping" flow we each successful graph q

[2017-11-07 08:18] miteshvp commented on #1072
@msrb - I see activity in graph-importer logs. Maybe workers were busy processing something else. Currently there are 65086 EPVs for node.

[2017-11-07 09:05] msrb commented on #1242
My findings and observations:

**stack-analysis level**

- it's now possible to retrieve information about tasks that were executed for a particular stack analysis request:
    - for example: `curl -H "Authorization: Bearer $OSIO_TOKEN" https://recommender.api.openshift.io/api/v1/stack-analyses/5e904143e9074248a3294ad58f52da9e/_debug`
- stack analysis consists of multiple tasks, `stack_aggregator_

[2017-11-07 09:06] msrb commented on #1242
Example response from the new debug endpoint:
[code]

[2017-11-07 09:10] msrb commented on #1144
Component analyses are OK-ish (not flawless though): https://github.com/openshiftio/openshift.io/issues/1243#issuecomment-342399807

There will be some work around stack analyses: https://github.com/openshiftio/openshift.io/issues/1242#issuecomment-342418630

[2017-11-07 09:43] l0rd commented on #1290
@ldimaggi it looks like this issue is related to lack of resources when starting your workspace. Not sure we can do to address that Che side. Adding label `team/service-delivery`.

[2017-11-07 10:32] tuxdna opened #1298 "Caused by: java.io.IOException: No space left on device"
When scheduling scan of maven packages using Jobs API, following error is encountered in the staging cluster:

[code]

Full logs are available here: http://pastebin.test.redhat.com/529944

[2017-11-07 10:40] tuxdna opened #1299 "fatal: unable to look up current user in the passwd file: no such user"
When scheduling scan of Go packages using Jobs API, following error is encountered in the staging cluster:

[code]

Full logs available here: http://pastebin.test.redhat.com/529956

[2017-11-07 11:33] maxandersen commented on #955
okey so i constantly have this issue - with all of my accounts. Simply cannot get any reaction when I click connect accounts.nada.

lately trying to login with "maxiotest" - if anyone want to try that I can share the credentials for debugging.

[2017-11-07 11:38] maxandersen commented on #955
correction - I could login via safari browser and it did not ask me for connecting accounts.

in chrome even after repeatedly refreshing pages i keep getting stuck in connect accounts.

[2017-11-07 12:09] joshuawilson commented on #955
@maxandersen can you verify that it is not a local cache issue by trying it in incognito mode?

[2017-11-07 12:20] joshuawilson commented on #1290
cc @vpavlin @kbsingh @jfchevrette

[2017-11-07 12:29] joshuawilson commented on #1296
@rgarg1 when you have made an issue on RHD please link the issue here. Closing as not something we can fix.

[2017-11-07 12:29] #1296 closed

[2017-11-07 12:32] maxandersen commented on #955
incognito it works.
trying same in non-incognito and it fails.

[2017-11-07 12:45] joshuawilson commented on #955
If you clear your local cache it should work again. I think it has to do with storing old tokens.

[2017-11-07 12:57] maxandersen commented on #955
If that works this is about the 3rd or 4th time I as "dumb user" have to clear local cache because we do an update. Why is that ?

[2017-11-07 13:02] joshuawilson commented on #955
I thought we had fixed this too. We are looking into it.

[2017-11-07 13:13] aslakknutsen commented on #1290
Known issues. Ops is looking into it.

[2017-11-07 14:23] tisnik commented on #1233
Everything is checked and 'green' now: https://fabric8-analytics.github.io/dashboard/repository_fabric8-analytics-tagger.html

[2017-11-07 14:24] #1233 closed

[2017-11-07 14:32] kadel opened #1300 "Can't import repository to the new space"
I've created new space and imported codebase from GitHub repository.
Then I have deleted the whole space and created the new one with different name.

If I try to import the same repository to the new space I get the following error:

[code]

[2017-11-07 14:49] jfchevrette opened #1301 "Link to pipelines is invalid"
The pipeline link is invalid. It appear to be missing '@gmail.com' of my username.

Steps to reproduce
1) Reset environment
2) Create a new space and Vertx codebase from wizard
3) Observe that I am redirected to that new workspace at URL https://prod-preview.openshift.io/jfchevrette@gmail.com/testapp4
3) Observe that Build #1 starts immediately
4) Click on 'testapp4' in the pipelines section(scree

[2017-11-07 15:02] ldimaggi commented on #1267
It looks like the problem is that the jenkins pods take too long to terminate after a build, so subsequent builds and/or promotions that happen before the first pod dies won't work because of quota limits. The first jenkins slave pod should be gone and have released from quotas for the next one to work.

And - the pods on prod-preview seem to be much slower than on production.

[2017-11-07 15:07] ldimaggi opened #1302 "Insufficient resources to perform build should prevent new builds from starting"
Related to issue: https://github.com/openshiftio/openshift.io/issues/1267

If a new build pipeline cannot be created due to insufficient resources, the UI should prevent/pause that build from starting.

[2017-11-07 15:08] jpopelka commented on #940
The only evaluated source has been [Victims CVE DB](https://github.com/victims/victims-cve-db).
Pros are that there are vulnerabilities which are not in NVD (thus not reported by OWASP DependencyCheck).
Cons are that (by words of one of the interested people) "it has since rotted away because it requires a lot of manual work".
So I decided it would be nice to use it just as an addition to the exis

[2017-11-07 15:14] ldimaggi opened #1303 "Intermittent issue on prod-preview and https://openshift.io - Che workspaces cannot be created - Didn't find publicKey for specified kid"
Seeing this error logged:

[code]

[2017-11-07 15:43] tuxdna commented on #939
It seems like our Go ingestion is working well. All the Golang packages which were scheduled by Jobs API, ended up in graph storage. For more details do look at this gist:

 * https://gist.github.com/tuxdna/615db46b337f24c28a3c7dede2f0bbe1#file-readme-md

There were was one error encountered in logs which is reported in this issue: https://github.com/openshiftio/openshift.io/issues/1299

Another t

[2017-11-07 16:46] jfchevrette commented on #1267
https://bugzilla.redhat.com/show_bug.cgi?id=1510556

[2017-11-07 18:32] ibuziuk commented on #1303
@ldimaggi could you please explain how have you tried to create a workspace ? Also, please specify the version of che ?
In any case che on prod-preview is broken due to https://github.com/openshiftio/openshift.io/issues/1067, but according to the logs this issue does not look like a duplicate

[2017-11-07 18:34] pbergene commented on #1290
This should be resolved, details on saas list.

[2017-11-07 18:36] ibuziuk commented on #1253
@slemeur IMO, with current implementation of autosave this feature should be disabled (on osio at very least). Maybe it would be great to create an epic "Autosave improvements" upstream with investigation of focus based autosave [1] ?

[1] https://www.jetbrains.com/help/idea/saving-and-reverting-changes.html

[2017-11-07 18:37] ibuziuk commented on #1238
@ldimaggi are you still able to reproduce this blank keycloak token issue ?

[2017-11-07 18:46] ibuziuk commented on #1294
@eivantsov any ideas about this issue. I believe `.vertx` folder is mainly used for hot deployment and should not be exposed to the end user on osio (smth. similar to `.git` folder) ?

![image](https://user-images.githubusercontent.com/1461122/32511535-50db19be-c3f4-11e7-8a70-8c10ff831cf9.png)

[2017-11-07 18:53] ldimaggi commented on #1290
Seems to be working now - thanks! - closing.

[2017-11-07 18:53] #1290 closed

[2017-11-07 18:55] ldimaggi commented on #1303
Sorry for the confusion. The issue here is that the user is not able to created a workspace as the "your workspaces are loading" waiting icon is displayed, but, the link to create a workspace is not displayed:

![screenshot from 2017-11-07 13-48-20](https://user-images.githubusercontent.com/642621/32511914-3de3e740-c3c3-11e7-8a32-715f5d1ab335.png)

[2017-11-07 22:29] ldimaggi opened #1304 "Che cannot create new workspaces (due to slow routes) on https://openshift.io - "Unable to Initialize IDE" - "Workspace agent is no longer responding""
Steps to recreate:
* Create new space
* Create new project - quickstart
* Create codebase

Observe this error in the Che IDE:
[code]
![screenshot from 2017-11-07 16-25-14](https://user-images.githubusercontent.com/642621/32521344-21774c0a-c3e1-11e7-8d3a-5af1322a1053.png)

[2017-11-07 22:30] ldimaggi commented on #1304
No error is written to the Che pod log:

[code]

[2017-11-08 01:16] ldimaggi commented on #1238
Closing this issue as it seems to be gone.

Other new issues are present - see: https://github.com/openshiftio/openshift.io/issues/1304

[2017-11-08 01:16] #1238 closed

[2017-11-08 03:03] joshuawilson commented on #1304
I wonder if this has to do with the throttle of OS that was reported earlier today.

[2017-11-08 03:17] miteshvp commented on #1243
- We are scheduling "bookkeeping" flow for each successful request.

@msrb - +1. During our very initial discussion with Slavek, it was more leaning towards separation of server and worker, but I guess we should re-think that now, since stack-analyses gets the data directly from RDS, and I see no reason why it can't directly persist the same in RDS as book-keeping. cc @samuzzal-choudhury

[2017-11-08 03:21] sthaha opened #1305 "UX: Hovering mouse over icons with tooltip make them jump around"
![osio-icon-jumps-around](https://user-images.githubusercontent.com/3005132/32530054-96efc6aa-c487-11e7-882e-5953a42c7b06.gif)

I have seen the behaviour happen in icons used in planner as well

[2017-11-08 04:16] miteshvp opened #1306 "PGM Scoring load tests"
##### Description
In order to support our SLAs for stack-analyses, PGM scoring takes majority of the time in providing recommendations. This exercise of load test will help us arrive at the numbers that current PGM scoring service can handle.

##### Task List
- [ ] Run PGM load tests against Prod service
- [ ] Identify the response times for one stack analysis service under load
- [ ] Identify how

[2017-11-08 04:17] miteshvp commented on #1242
@msrb - good findings. It will definitely help to identify PGM scoring rate. We did perform PGM load tests previously, but lot has changed over time and it asks for one more round of load tests. I've created an issue which can be tracked for PGM load tests - https://github.com/openshiftio/openshift.io/issues/1306

[2017-11-08 04:30] joshuawilson commented on #1305
What page is this on?

[2017-11-08 04:59] tuxdna commented on #939
I scheduled another ingestion job for 400 go packages. It turns out that many packages are not getting scheduled due to error similar to following:

[code]

As in previous comment, any go package name that contains more than two components, `github.com/astaxie/beego/session` fails. An issue has been filed here: https://github.com/fabric8-analytics/fabric8-analytics-jobs/issues/208

[2017-11-08 05:06] sthaha commented on #1305
@joshuawilson I saw this behaviour on `Create/Codebases` - https://openshift.io/sunil.thaha/foobar/create

[2017-11-08 05:10] sthaha commented on #1305
I see this happen only when the workspaces are empty

[2017-11-08 05:17] sthaha commented on #1305
@joshuawilson I think the reason this happens is when the tooltip doesn't have enough space to the right to be displayed. Adding `padding-right` to make enough space for the tooltip seems to resolve this. See:

![padding](https://user-images.githubusercontent.com/3005132/32532711-e485a0a0-c497-11e7-8286-0bcadd7b1390.gif)

[2017-11-08 06:23] ibuziuk commented on #1303
@ldimaggi thanks for clarifications, could you please also clarify the logs origin - this does not look like che-server logs

[2017-11-08 06:52] ibuziuk commented on #1304
@ldimaggi can not reproduce. Could you please provide the browser logs ?

[2017-11-08 08:57] humaton commented on #1062
Hi, there we are currently facing issue with accessing AWS RDS from the dev cluster.
Problem is that we either have to create VPC configuration for the dev cluster or make RDS publicly accessible.
Development of the script is happening on my fork.
https://github.com/humaton/fabric8-analytics-common

[2017-11-08 09:01] jyasveer commented on #1274
This is the workflow doc for the UI implementation
https://docs.google.com/presentation/d/1qODPBH2Lk0GV02O_Evswzwfo58tKCc3v8l6JMwKmK_s/edit#slide=id.g2a76d8ec0e_0_0

[2017-11-08 09:23] tuxdna commented on #1299
This could've been a temporary error, because it is not reproducible. I scheduled 200 golang package analyses and then 400 golang packages again, but no error was encountered in the Jobs API logs.

[2017-11-08 09:47] tisnik commented on #1306
It is subtask for the https://github.com/openshiftio/openshift.io/issues/1144 EPIC

[2017-11-08 12:35] aslakknutsen commented on #1303
@ibuziuk I can confirm. Seeing the same error in che-host in tenant space on preview.

[2017-11-08 12:40] ibuziuk commented on #1303
I suspect that this issue is a side effect of https://github.com/openshiftio/openshift.io/issues/1067

[2017-11-08 12:52] aslakknutsen commented on #1303
@ibuziuk Yea, I was suspecting a missing auth URL somewhere. Tenant service supports the variable CHE_KEYCLOAK_AUTH__SERVER__URL so it should be just to use it in the templates

[2017-11-08 12:54] ldimaggi commented on #1303
The log fragment is from the Che pod's log.

[2017-11-08 13:50] ibuziuk commented on #1303
@aslakknutsen yeah. looks correct cc: @davidfestal

[2017-11-08 14:23] rajdavies opened #1307 "Building OSIO on OSIO"
Waiting to be able to do docker builds on OSIO - see https://github.com/openshiftio/openshift.io/issues/1103

[2017-11-08 14:31] rawlingsj opened #1308 "Increased BDD test coverage"
We now have BDD testing features that that cover scenarios that OSIO offers around CI/CD pipelines  - https://github.com/fabric8-jenkins/godog-jenkins/blob/master/jenkins/features/import.feature

Currently enabled on the OSIO jenkins for pull requests that builds and deploys a snapshot image and executes the BDD tests.  The current simple scenario tests kubernetes-model, kubernetes-client, fabric8

[2017-11-08 14:38] aslakknutsen commented on #1303
@ibuziuk Related https://github.com/fabric8-services/fabric8-tenant-che/pull/33

[2017-11-08 17:18] slemeur commented on #1253
The autosave feature is probably something that a user might want to disable when he is working on a project with hot deployment active. In this case, he wants to control when he is doing the "save" action, to not pull sources that are currently in edition.

I think we should have an option to disable autosave when we are creating the workspace. This way, when we know that the workspace will have

[2017-11-08 18:53] mindreeper2420 commented on #1305
@joshuawilson I'll take this. It was fixed before, so there is something larger going on. Last time, it was code in the `.ts` file that was positioning against the wishes of the CSS.

[2017-11-08 19:11] joshuawilson commented on #1305
thanks @mindreeper2420

[2017-11-08 19:49] mindreeper2420 commented on #1305
related to https://github.com/openshiftio/openshift.io/issues/1179

[2017-11-08 19:49] mindreeper2420 commented on #1179
should be fixed with PR https://github.com/fabric8-ui/fabric8-ui/pull/2215

[2017-11-08 20:02] #1305 closed

[2017-11-08 20:22] mindreeper2420 commented on #1180
@joshuawilson I'll be submitting a PR the ngx-widgets for this.

@apupier as the design called for the use of the [Modaless Overlay](http://www.patternfly.org/pattern-library/forms-and-controls/modeless-overlay/), this is something that can be revisited as part of a separate issue. I will just be fixing the placement of it at the bottom of the page.

[2017-11-08 20:49] #1180 closed

[2017-11-08 21:22] joshuawilson commented on #1155
I confirm this is not fixed. @mindreeper2420 can you please take a look. Both the left and right sides extend past the modal.

[2017-11-08 21:28] ldimaggi opened #1309 ""Update Profile" presents the user with a blank screen"
See attached screenshots:

![screenshot from 2017-11-08 16-25-36](https://user-images.githubusercontent.com/642621/32575333-b1d56b18-c4a1-11e7-89e2-ce1f87ac291b.png)

![screenshot from 2017-11-08 16-26-08](https://user-images.githubusercontent.com/642621/32575339-b71531da-c4a1-11e7-8ecb-2495ea460aed.png)

[2017-11-08 21:32] joshuawilson commented on #1070
What is the status on this?

[2017-11-08 21:33] joshuawilson commented on #1113
What is the status on this?

[2017-11-08 21:36] joshuawilson commented on #1309
@mindreeper2420 Please take a look.

[2017-11-08 21:45] ldimaggi commented on #1304
Closing - not reproducible - thx!

[2017-11-08 22:33] ldimaggi commented on #1304
Looks like it is intermittent - the EE tests are seeing this - and I just saw it once in 3 tries.

Seeing this in the log:

[code]

[2017-11-09 03:19] joshuawilson commented on #1309
fixed in #2218

[2017-11-09 03:19] #1309 closed

[2017-11-09 07:03] corinnekrych commented on #1113
@joshuawilson the status is TODO

[2017-11-09 07:09] corinnekrych commented on #1155
@joshuawilson @mindreeper2420 I've just tested it on PROD:
![screenshot 2017-11-09 08 08 19_preview](https://user-images.githubusercontent.com/1395710/32592701-45fbd830-c525-11e7-8061-2cd3551adfbb.png)

and I see it fixed...
#puzzled
@joshuawilson how do you reproduce the problem?

[2017-11-09 07:13] xcoulon opened #1310 "`relationships.owned-by.related` URL must be absolute when showing a space"
The current response to a request such as `GET https://api.openshift.io/api/spaces/715f10fd-1513-4b12-a68a-54016d65a987` contains relationships with `related` links:

[code]

They are all absolute except the `owned-by` one. This is a regression introduced in https://github.com/fabric8-services/fabric8-wit/commit/a78156eb5f4dc0099e30ee51892d62b5aee306e8#diff-539b5d9c6c13722feba14308fd61a6cdR404

[2017-11-09 08:02] ibuziuk commented on #1304
@ldimaggi but it is another issue with a blank token and I would not mixed them together since those are completely different - https://github.com/openshiftio/openshift.io/issues/1238

[2017-11-09 08:02] SaketJNU opened #1311 "Crowd Sourcing: Implement verification logic"
## Epic #1270

### User Story:
As an **OSIO** developer, i will be able to reduce the number of unknown packages in stack-analysis report so that i will get better recommendations for alternate and companion packages.

### Description:
As the tags suggested by end-users of osio, stored in graph may be inaccurate. We need to perform data cleansing and verification for these tags. These verified tag

[2017-11-09 08:15] ibuziuk commented on #1303
PR for fabric8-tenant-che - https://github.com/fabric8-services/fabric8-tenant-che/pull/60

[2017-11-09 08:29] sara-02 opened #1312 "[8] Testing and Evalution of PGM results."
### Epic #1287

## User Story:
The PGM engine will be able to test the re-trained model so that it can evaluate the accuracy of the new model.

## Description:
Currently, there is no testing and evaluation module for the trained model. Which means that we have no way of automatically determining how good/bad or improved the model is after training. With testing in place, we will be able to measure

[2017-11-09 08:31] corinnekrych commented on #1300
@joshuawilson this is not a bug, more an enhancement on fabric8-generator addon to add ability to override of buildconfig.
@kadel have you use the `Reset environment` in the profile page to clean?

[2017-11-09 08:34] sara-02 opened #1313 "Separate S3 for staging and Production PGM model"
Currently the PGM model served in Staging and Production picked from the same S3 bucket. Because of this rolling back to the previous model if the current one is not an improved is difficult, less a manual backup is taken and the bucket is later manually updated with the backup.
With #1312 in place, we will need mechanism to drive this automatically.

[2017-11-09 11:23] #1310 closed

[2017-11-09 13:18] fridex commented on #1201
Done in https://docs.google.com/a/redhat.com/document/d/1azMHHv6Sj_aokNWAbGOBQUhdJUM1ikgkf35esjaOdB4/edit?usp=sharing

[2017-11-09 13:23] ldimaggi commented on #1304
The interesting thing is that the 500 server error was written to the log when the "Workspace agent is no longer responding. To fix the problem, verify you have a good network connection and restart the workspace" error was displayed to the user. Maybe it was just a coincidence?

Either way - I have been seeing this network connection problem intermittently  for the past couple of days - both in m

[2017-11-09 13:29] ibuziuk commented on #1304
@ldimaggi well, as I understand this particular issue was related to IDE - "unable to initialize IDE" (pop-up on the screenshot) that is why I was wondering what were the browser logs. On the other hand blank token is another issue - https://github.com/openshiftio/openshift.io/issues/1304#issuecomment-342983742

So, just do not want to mix everything together

[2017-11-09 13:30] kadel commented on #1300
Yes, I did that. That is the only way to around that issue that I know.

[2017-11-09 13:38] ldimaggi commented on #1304
+1 I will update the blank token separately. Thx!

[2017-11-09 13:52] mindreeper2420 commented on #1155
@joshuawilson @corinnekrych The scrolling is present for me in production. I'm not seeing any issues.

[2017-11-09 14:02] tisnik opened #1314 "Inconsistent stack analysis results - analysis is temporarily returned without results created by the 'recommendation_v2' job"
## Current behaviour:
1. stack analysis is started via API endpoint
2. when the stack analysis results are available, the API returns HTTP code 200
3. the returned JSON does not contains partial results created by the 'recommendation_v2' job (the path to missing results is ```result/0/recommendation/alternate```)
4. after some time, when user made another call to get stack analysis, the whole resu

[2017-11-09 14:03] tisnik commented on #1314
@msrb @samuzzal-choudhury needinfo

[2017-11-09 14:09] kadel opened #1315 "Pipelines are not shown when importing repo without overriding Jenkinsfile"
When I import a repository with unchecked  "Override Jenkins and POM files."  pipeline page is empty.

The repository that I'm importing has its own custom Jenkinsfile.

I've checked OpenShift console and I can see that pipeline was created and I is running, but openshift.io Pipelines page is empty.

[2017-11-09 15:19] corinnekrych commented on #1155
@mindreeper2420 @joshuawilson I'm closing the issue as fixed then.

[2017-11-09 16:27] ldimaggi commented on #1303
[che_log.txt](https://github.com/openshiftio/openshift.io/files/1458345/che_log.txt)

[2017-11-09 18:07] jerboaa commented on #1304
For what it's worth, I've seen only this issue on my end. It was never working today for me :(

[2017-11-09 18:09] sbose78 opened #1316 "New users unable to connect accounts"
- login to OpenShift.io
- On the "getting started" page, "login in" shows up on top right.
- The "Connect Accounts" button doesn't work"

In the console:

there is 400 for https://sso.openshift.io/auth/realms/fabric8/broker/openshift-v3/token
and 401 for https://auth.openshift.io/api/token?for=https://github.com

[2017-11-09 18:10] slemeur opened #1317 "Further merge the Launcher and OSIO project creation wizard"
## Goal
Further merge fabric8 launcher and OSIO wizard so they share a code base and the user experience is fluid from launcher to OSIO.

## Description
We have two separate codebases between Launcher and project creation wizard in OSIO. This came from historical reasons while Launcher needed to be released while OSIO was not ready. The goal of the epic is mainly to reduce the technical debt betwe

[2017-11-09 18:16] jerboaa commented on #1304
Seems to be caused by:

    https://wsagent-kn4qaavpbnoc36hw-sgehwolf-che.8a09.starter-us-east-2.openshiftapps.com/api/

returning 503. That's what the developer console tells me.

[2017-11-09 18:18] jfchevrette commented on #1234
This was a problem with the recommender api token. The token has been updated until the work on the per-user token is done. This test should pass now.

[2017-11-09 18:19] jerboaa commented on #1304
Then I see:

     Failed to load https://wsagent-kn4qaavpbnoc36hw-sgehwolf-che.8a09.starter-us-east-2.openshiftapps.com/api/: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://che-sgehwolf-che.8a09.starter-us-east-2.openshiftapps.com' is therefore not allowed access. The response had HTTP s

[2017-11-09 18:19] slemeur opened #1318 "[EPIC] Leverage Chefile in fabric8 boosters"
## Goal
Anyone who is using Launcher (from standalone or from its integration within OSIO) will be able to get a developer workspace in Che fully ready and configured to work on the generated project (boosters).

## Description
When a user is using Launcher, he is selecting a booster which is then uploaded on a git repository. We want to provide the associated Chefile with the booster so that it p

[2017-11-09 18:24] alexeykazakov commented on #1316
Reproducible only for new users who never connected GitHub before.

Auth service returns 401 with WWW-Authenticate header if GitHub is not connected to the OSIO account.
That 401 wrongly broadcasts authenticationError in UI and UI logs out the user.

**Workaround**: Click on the login button on the getting started page (top right corner) and try to connect the accounts before UI kicks you out agai

[2017-11-09 18:27] slemeur opened #1319 "Ability to provide an analytic driven project dependency editor into Launcher"
## Goal
Provide complete specification and design to add the ability to include an analytics-driven project dependency editor into Launcher.

## Description
Launcher allows to generate source code for applications which are deploy-able onto OSO. Those are called the boosters. We would like to allow the developer to configure the dependencies which are included inside of the boosters. This means, t

[2017-11-09 18:28] slemeur opened #1320 "[EPIC] Document a plan for a containerized application stack editor add-on for the merge Launcher / Wizard"
## Goal
Document a plan for a containerized application stack editor add on for the merged launcher / wizard.
Editor is used for selecting, editing and assembling containerized application stacks (infrastructure + project template + code dependencies)
- Supports multi-container scenarios

- Supports databases and other non-app services

- APIs are reusable across products and user interfaces

- Cu

[2017-11-09 18:28] jerboaa commented on #1304
On the CHE server logs has only this:

    2017-11-09 18:14:18,607[aceSharedPool-2]  [INFO ] [o.e.c.a.w.s.WorkspaceRuntimes 676]   - Launching 'org.eclipse.che.ws-agent' agent at workspace workspacekn4qaavpbnoc36hw
    Exception in thread "OkHttp Dispatcher" java.lang.NullPointerException
            at io.fabric8.kubernetes.client.dsl.base.OperationSupport.createStatus(OperationSupport.java:275)

[2017-11-09 18:37] joshuawilson commented on #1320
cc @corinnekrych @edewit @krishnapaparaju

[2017-11-09 18:38] joshuawilson commented on #1319
cc @krishnapaparaju @arunkumars08

[2017-11-09 18:39] ibuziuk commented on #1304
![image](https://user-images.githubusercontent.com/1461122/32623170-80996ca4-c585-11e7-9325-89573aa77322.png)
There is no error logs in che-server for me, but I can reproduce

`Failed to load https://wsagent-o5fd8qzwq6pfskck-ibuziuk-che.8a09.starter-us-east-2.openshiftapps.com/api/: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present

[2017-11-09 18:40] jerboaa commented on #1304
Same what I've posted above.

[2017-11-09 18:41] joshuawilson commented on #1316
To reproduce run the following command, getting the auth_token from the browser application tab local storage
`curl -i  -H "Authorization: Bearer $AUTH_TOKEN" -X DELETE  https://auth.openshift.io/api/token?for=https://github.com`

[2017-11-09 18:42] ibuziuk commented on #1304
@alexeykazakov there are quite a few 403s in the networking - could this be related to keycloak somehow ?

[2017-11-09 18:53] joshuawilson commented on #1234
@ldimaggi can you please verify?

[2017-11-09 19:03] joshuawilson commented on #1317
cc @corinnekrych @edewit @krishnapaparaju @gastaldi

[2017-11-09 19:09] jerboaa commented on #1304
Interesting. This seems to be easier to reproduce if using the ***vert.x http booster***. Using the ***spring boot http booster*** and creating the workspace *worked* for me.

This time I see:

    _app-0.js:16215 ERROR
       (org.eclipse.che.plugin.languageserver.ide.LanguageServerFileTypeRegister):
       java.lang.Exception:
	at Unknown.Nn(Throwable.java:74)
	at Unknown.Vn(Exception.java:33)

[2017-11-09 19:09] jerboaa commented on #1304
![screenshot from 2017-11-09 20-07-18](https://user-images.githubusercontent.com/357222/32624554-dfdcb776-c589-11e7-81f7-c1836d5bd603.png)

[2017-11-09 19:20] samuzzal-choudhury commented on #1234
@jfchevrette thanks for updating the hardcoded access token. Manual test shows no error 401 or any other error for Bayesian during the build. Waiting for the e2e.

[2017-11-09 19:35] jerboaa commented on #1304
FWIW, I've seen the same for a working workspace. It was spring boot, though.

[2017-11-09 19:51] gastaldi commented on #1317
I created https://github.com/openshiftio/appdev-planning/issues/69 and we (cc @quintesse) are working on https://github.com/openshiftio/appdev-planning/issues/66

[2017-11-09 19:55] joshuawilson commented on #1155
If you reduce the size of viewport the inner views extend beyond the modal.

[2017-11-09 20:00] ibuziuk commented on #1304
Do not know what is exactly going on but the workaround would be navigating to the dashboard after failure and reopening workpace from there - https://youtu.be/sXKpMp1LcO4

403s error does not seem to be related to the problem (still see them when opening workspace from dashboard but those do not cause any problems). The real issue seems to be

Failed to load https://wsagent-jc5d4votwarp33rn-ibuzi

[2017-11-09 20:07] joshuawilson commented on #1315
@kadel the import in OSIO adds a jenkinsfile. If you have one then it does not overwrite it. And yours probably won't work. You could try to save a copy of your jenkinsfile and then remove it so that the import can install the one that is needed. Once you confirm it works you can try to modify the new one based on your old one. However, there is no promise it will work after you change it.
@jstrac

[2017-11-09 20:28] sbose78 commented on #1316
Re-opening , will ensure it works in Prod before we close this.

[2017-11-09 20:33] rafabene opened #1321 "Planner: Add icon for PR received"
We should add an icon and a status in the Work Item for when a Git PR is received and under analysis

[2017-11-09 20:39] joshuawilson commented on #1321
cc @michaelkleinhenz @nimishamukherjee

[2017-11-09 20:43] ibuziuk commented on #1304
Strange... the issue is still reproducible for me with disabled keycloak:
![image](https://user-images.githubusercontent.com/1461122/32628688-ff4e4c8e-c596-11e7-89ef-60962735053a.png)

[2017-11-09 20:53] joshuawilson commented on #1316
This is still not fixed because the build is stuck and we can't get it to master.

@rajdavies @rawlingsj @jstrachan I think GKE may be down or something but the build is stuck and this fix if a broken production. Please help move this forward.
`All nodes of label ‘uingx_login_client_25’ are offline`
https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/ngx-login-client/job/master/25/console

[2017-11-09 20:56] joshuawilson commented on #1321
This is something that PM and UX will need to work into the long term plan. It is a very complicated issue that we are not ready to build at this time.

[2017-11-09 21:55] ibuziuk commented on #1304
this issue seems to be related to the fact that wsagent route is not accessible for some time after creation - 503 in response. Not sure what exactly causes this delay but it looks like it started to happen after cluster update when we were forced not to set host explicitly [1] (weird those that it started to be reproducible for everyone only today)

[1] https://github.com/eclipse/che/commit/05a91

[2017-11-09 22:04] ibuziuk commented on #1067
@ldimaggi should be fixed. Could you please verify ?

[2017-11-09 22:05] ibuziuk commented on #1303
@ldimaggi fixed. Could you please verify ?

[2017-11-09 22:12] davidfestal commented on #1304
The cause of the problem seems the 503 error returned when trying to access the wsagent api endpoint.
When trying on my own account I also get these error messages in the browser console:
[code]
And when looking into all the wsagent logs, it seems the wsagent server is correcly started, no error is shown, even in the access log.

Another point is that, when having the error, a simple refresh of th

[2017-11-10 00:10] mindreeper2420 commented on #1155
@joshuawilson do you have an idea as to the resolution you see that at?

[2017-11-10 01:12] alexeykazakov commented on #467
closing as duplicate

[2017-11-10 01:12] #467 closed

[2017-11-10 04:07] miteshvp commented on #1314
@tisnik - This is actually an expected behavior. Since we have two workers running async and in parallel, since stack_aggregator runs faster, you see partial results. Idea was show whatever results are currently available to the user. One thing that we can change here is the response code of 202 to see partial results or no results. cc @samuzzal-choudhury

[2017-11-10 06:00] mishaone opened #1322 "s/organisation/organization in quickstart wizard (and elsewhere, if relevant)"
Red Hat products and docs all use the en-US spelling, so we would always write organization instead of organisation. I would recommend changing organization in the Quickstart wizard to reflect this (and if this is used as a field anywhere else in OSIO.

![organization](https://user-images.githubusercontent.com/926572/32644908-41bb4592-c630-11e7-8013-6ad658d28fb9.png)

[2017-11-10 07:26] ibuziuk commented on #1304
yeah, I confirm page refresh also helps
But definitely smth. weird is going on with route accessibility - for example che host route is accessible only in ~ 1 min after the pod is running (workaround for this problem [1] is in che-starter for quite a while) and now we start getting similar things for wsagent

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1481603
[2] https://github.com/openshifti

[2017-11-10 07:43] joshuawilson commented on #1155
I can't get to it right now due to a bug but I just kept shrinking the screen until it happened.

[2017-11-10 09:10] ibuziuk commented on #1304
@rhopp @ldimaggi @Katka92 could you please confirm that this issue is prod specific and not reproducible on prod-preview ?

I have done a few tests and workspace creation works just fine for me against prod-preview oso [1]

[1] https://console.free-int.openshift.com/console/

[2017-11-10 09:23] arunkumars08 opened #1323 "Analytics flow to create his/her own application stack"
#### Epic: https://github.com/openshiftio/openshift.io/issues/1319

#### User Story:

As an OSIO user, I will be able to drag and drop boxes (containers) and connect them in case they are required. I will also be able to enter details about ecosystem, intention and framework ... in each of the boxes so that I can get custom dependencies related to the details.

#### Description:

User drags and dr

[2017-11-10 09:42] ibuziuk commented on #1304
also not reproducible on minishift for me `minishift v1.7.0+1549135`

[2017-11-10 09:45] jerboaa commented on #1304
FWIW, page refresh does not necessarily work the first time around. I had to refresh twice for it to work.

[2017-11-10 09:49] ibuziuk commented on #1304
@jerboaa yeah, because on the first refresh wsagent route was still not accessible and more time was required to make it available (~1 min after creation)
@kbsingh it looks like there is a regression or smth. similar to  https://bugzilla.redhat.com/show_bug.cgi?id=1481603 has been introduced on the prod

[2017-11-10 09:52] jerboaa commented on #1304
Yes, makes sense.

[2017-11-10 09:59] miteshvp commented on #1295
Queries completed and can be found as part of [presentation](https://docs.google.com/a/redhat.com/presentation/d/1dA3f8U_5jf2Y0j9g5JUn3_0G1eyyUX1yOHXvre0HlHU/edit?usp=sharing)

[2017-11-10 10:30] miteshvp commented on #1248
Top node github stacks collected

[2017-11-10 10:33] kadel commented on #1315
Jenkinsfile is fine, as I can see it running in Jenkins and in OpenShift console, only OpenShift.io is not showing it.
If I import repository with my own Jenkinsfile and let OSIO overwrite it and then put my Jenkinsfile back, then pipelines are shown correctly.

I've also tried to import repository that was created by OSIO quickstart (with default Jenkinsfile) and OSIO pipelines page was empty eve

[2017-11-10 11:23] pbergene commented on #1304
Running https://paste.fedoraproject.org/paste/B41q-i9dOj8QOKxMTZGH5w to make sure it's a route creation issue rather than an intermittent one.  Right now it looks like the former - sometimes routes will come up immediately and others they will 503 a few times, then some 403s in between until it seems to stabilize on 403.  Can try supplying the token too.

It doesn't look exactly like  https://bugz

[2017-11-10 11:51] fridex commented on #731
Documentation available at https://selinon.readthedocs.io/en/latest/migrations.html.

[2017-11-10 12:19] slemeur commented on #1294
+1. We should not show that folder.

The project explorer show all the sub-folders of `/projects` - it does not take into account if the folder is hidden or not and I think that's the issue.

Created the upstream issue: https://github.com/eclipse/che/issues/7302

[2017-11-10 12:53] #482 closed

[2017-11-10 13:26] #1156 closed

[2017-11-10 13:29] l0rd commented on #1304
@pbergene from what I understand there is not much we can do Che side. I am removing label `team/che`. Let us know if we can help somehow.

[2017-11-10 13:36] miteshvp commented on #1283
@SaketJNU - I have already published one package with multiple tags and given the URL which will help you with what data is returned in the json. cc @sivaavkd

[2017-11-10 13:56] joshuawilson commented on #1316
in prod now, closing

[2017-11-10 13:56] #1316 closed

[2017-11-10 13:58] joshuawilson commented on #1315
@corinnekrych are you aware of this?

[2017-11-10 15:06] tisnik commented on #1241
Fixed via https://github.com/fabric8-analytics/fabric8-analytics-common/pull/354

[2017-11-10 15:06] #1241 closed

[2017-11-10 15:09] joshuawilson commented on #1155
@mindreeper2420 if you make the screen smaller then the modal then you have to scroll down to see the bottom of the model you can see things extending below the edge. The smaller the screen the more that sticks out.

[2017-11-10 15:12] tisnik commented on #1314
Hi @miteshvp. If this is expected, it should be mentioned in the Integration Cookbook + the info should be publicly available because the API might be consumed by virtually anybody. Is it possible (at least) to introduce attributes with status of each workers?

(actually I think this behaviour goes again RESTfull API logic, let's talk about this issue later)

[2017-11-10 15:42] tisnik opened #1324 "Make the Integration Cookbook publicly available"
Because the fabric8 API can be consumed by virtually anyone, it would be nice to:

1) finish the Integration Cookbook
2) perform proofreading
3) update it according to latest changes in the stack-analysis response
4) make it available

We can either make it part of OSIO documentation or build the book on CI.

Acceptance criteria:

1) person outside the fabric8 team will be able to read the book an

[2017-11-10 15:58] ldimaggi opened #1325 "After successfully creating a new quickstart project, the UI implies that the user can cancel the project"
Steps to recreate:
* Create a new quickstart project
* At the completion of the 'add to space' wizard, observe the dislog:

![screenshot from 2017-11-08 21-24-58](https://user-images.githubusercontent.com/642621/32666569-d45fbbc4-c605-11e7-9561-0238bb5392d1.png)

The user has 3 options:
* Select 'OK' - the project has been created and the dialog is closed
* Select 'Cancel' - the project has been c

[2017-11-10 16:04] ldimaggi opened #1326 "On prod-preview, resetting the user environment is failing ~90% of the time"
Seeing this on prod-preview;
* Reset the user environment
* About ~90 of the time - the reset fails - the error displayed to the user is:

![screenshot from 2017-11-10 10-32-55](https://user-images.githubusercontent.com/642621/32666808-b51bdc38-c606-11e7-820f-5d576f434627.png)

![screenshot from 2017-11-10 10-33-25](https://user-images.githubusercontent.com/642621/32666822-be10f512-c606-11e7-84e9-

[2017-11-10 16:27] ALRubinger commented on #751
https://github.com/openshiftio-vertx-boosters/vertx-http-booster/pull/20
https://github.com/openshiftio-vertx-boosters/vertx-http-booster-redhat/pull/5

[2017-11-10 16:28] ALRubinger commented on #751
PRs submitted.

Note that the Boosters are owned by the project teams, so in the future the best avenue to request changes is to ask 'em directly. :)  Easy fixes here so we were happy to help direct traffic.

[2017-11-10 16:44] joshuawilson commented on #751
@ALRubinger thanks. Can you also post here when they get merged so we can close this.

[2017-11-10 16:46] joshuawilson commented on #1326
@ldimaggi have you tried this on prod.

@aslakknutsen @kbsingh are you aware of this?

[2017-11-10 16:48] joshuawilson commented on #1325
@ldimaggi you are using a word we don't have in the application, "project". Do mean the Space is created or the application is created. Those Cancels should cancel the application. The Space gets created in the first step. We do have it on the UX redesign to create more separation there.

[2017-11-10 17:02] ldimaggi commented on #1325
Sorry - this is in regard to the app that is created. (But - it does refer to "project.  ;-)

![screenshot from 2017-11-10 12-00-22](https://user-images.githubusercontent.com/642621/32669565-f9e4f504-c60e-11e7-8ac5-e4dc4062d3ed.png)

[2017-11-10 17:03] tisnik opened #1327 "Configure the fabric8 server module to use Swagger and make the API Swagger-compliant"
To improve the main fabric8 API it would be nice to use the Swagger that allow us and consumers to:

1) display all API endpoints
2) play with the API
3) check the API correctness
4) make a decent documentation

FYI: the Swagger is already used for the jobs API and it is very nice and valuable.

[2017-11-10 17:20] ldimaggi opened #1328 "On https://openshift.io, resetting a user's environment is not restarting the Jenkins pod"
Steps to recreate:
* On https://openshift.io, reset a user's environment
* Observe the Che pod restart, and the Jenkins pod not restart:

![screenshot from 2017-11-10 12-14-15](https://user-images.githubusercontent.com/642621/32670336-7207b7fe-c611-11e7-8b8c-c4a5af609f0f.png)
![screenshot from 2017-11-10 12-13-58](https://user-images.githubusercontent.com/642621/32670337-7216fc00-c611-11e7-9a14-57

[2017-11-10 17:20] ldimaggi commented on #1328
This seems to be reproducible - just saw it 4 out of 4 tries.

[2017-11-10 17:20] ldimaggi commented on #1326
Seeing this on production:  https://github.com/openshiftio/openshift.io/issues/1328

[2017-11-10 17:51] samuzzal-choudhury commented on #1324
@tisnik these are the updates on the Integration cookbook -

1. It was Finished.
2. It was proof-read by Preeti from the documentation team.
3. It was updated with the latest stack analysis response.
4. It was already made available to the devtools team on Aug 9.

Here is the link - https://docs.google.com/document/d/1k5hbknuebBZVVMkWpKZKAP6LoHWXD2bbvrn-4P4wmjg/edit

We can discuss about how to di

[2017-11-10 19:00] ALRubinger commented on #751
@joshuawilson That doesn't make much sense to me.  If you're filing issues here in openshiftio, I'm guessing you'd want to do your own verification that the fixes were merged, released, and visible through OSIO.  I'd like to avoid babysitting issues and manual cross-tracking.  If only we had a tool to help us do that? :P

[2017-11-10 20:41] aslakknutsen commented on #1326
There is a bug in tenant service when 'waiting for the clean jobs to finish' so the UI times out on a Gateway erroor, but the root cause of the hang is due to the openshift client timing out waiting for, in my case, the Che namespace to clean out.

[code]

It left behind a few Workspaces.. Cleaning a second time passes.

[2017-11-10 20:48] joshuawilson commented on #751
@ALRubinger They are your PRs right? It's not like I was asking you towatch something external to you.
 All you have to do is link this issue with those PRs with "fixes" and the URL to this one. Then when they are closed they will notify this one. Since this was raised here, it needs to be verified by the OP or a lead to be closed.

[2017-11-10 20:58] joshuawilson commented on #1328
@aslakknutsen is this related to the issue you are seeing?
cc @kbsingh @jstrachan

[2017-11-10 21:14] aslakknutsen commented on #1328
Tenant Service is failing to update the namespaces. Something wrong with the templates.

[code]

[2017-11-10 21:32] joshuawilson commented on #1325
So how do know that it created it, the app is in the apps page and github link was created/added? Because I don't see those. I have the newly created Space.

[2017-11-10 21:45] aslakknutsen commented on #1328
@ibuziuk Never mind. This seems to have been around since at least Nov 3. Effects all namespaces.

[2017-11-10 21:46] aslakknutsen commented on #1328
@ldimaggi Raised to @jfchevrette

[2017-11-10 21:58] ibuziuk commented on #1253
yeah, makes sense

[2017-11-10 22:58] ALRubinger commented on #751
@joshuawilson Yep they're my PRs, but merging them into the upstream doesn't mean they're surfaced and available in OSIO was my point.  I can ping back when they're merged and y'all can decide how you want to handle it.

[2017-11-10 23:38] ldimaggi commented on #1325
After pressing the Cancel button - the app's pipeline is created:

![screenshot from 2017-11-10 18-37-56](https://user-images.githubusercontent.com/642621/32683056-5c39cbbc-c646-11e7-932b-6fb2f1dad6a0.png)
![screenshot from 2017-11-10 18-37-29](https://user-images.githubusercontent.com/642621/32683057-5c4320e0-c646-11e7-90a1-518052ef80e9.png)

[2017-11-10 23:40] ldimaggi commented on #1326
What I am seeing on prod-preview is that a 2nd attempt at a cleaning also fails (as does a 3rd, etc.)

[2017-11-11 04:33] miteshvp commented on #1297
@sunilk747 - you can assign yourself when you actually start working on it. Till then no assignment

[2017-11-11 04:34] miteshvp commented on #1292
@abs51295  - you can assign yourself when you actually start working on it. Till then no assignment

[2017-11-11 04:35] miteshvp commented on #973
@sara02 - Why is this issue not being closed yet? Please share your findings and close this issue.

[2017-11-11 04:38] #636 closed

[2017-11-11 04:40] miteshvp commented on #726
@fridex @pkajaba - Any updates here? Is there more work to be done or can we close this issue?

[2017-11-11 04:40] miteshvp commented on #640
I will open a new issue for license analysis integration tests. Closing this one now.

[2017-11-11 04:40] #640 closed

[2017-11-11 04:41] miteshvp commented on #974
@sara-02 - any updates on this one? Can we close this?

[2017-11-11 08:57] l0rd commented on #1326
@aslakknutsen I don't know if that is related but the 9th Nov. the fabric8 maven plugin has been upgraded in `fabric8-tenant-che`. As a consequence I have seen some weird differences in the yaml file that has been generated like:

[code]

[2017-11-11 13:55] aslakknutsen commented on #1326
@ldimaggi As oppose to my account, you seem to be getting timeouts on the second attempt as well:

[code]

Not sure what's going on here. Can't reproduce atm. I'll keep trying and see if Openshift is reporting anything.

[2017-11-11 21:46] fridex commented on #726
The status of this epic is up2date. The open (linked) workitems were not planned for the upcoming sprint.

[2017-11-12 02:06] ldimaggi commented on #1328
On November 11 - I started seeing also this problem with the Che pod on https://openshift.io

[2017-11-13 07:56] krishnapaparaju opened #1329 "EPIC: Perform integration tests for data ingestion related components"
Currently integration tests are either not complete, not enabled for components involved in data gathering ingestion parts of OSIO analytics architecture. Starting point of these integration tests  would be ingestion of data from public sources and end point would be landing the processed data either at S3  / Graph (or both of these destinations).

[2017-11-13 08:30] msrb commented on #1329
Current status:

- we have E2E tests for data ingestion all the way to S3, graph is not covered yet
- these tests are not enabled in CI as we don't have AWS credentials in Jenkins

Note I suspect that testing whether data landed in graph might be tricky as the tests run staging environment where graph is already populated. cc @tisnik

[2017-11-13 09:00] corinnekrych commented on #1315
@joshuawilson nope i wasn't aware of this issue. maye the existing jenkins/pom is causing issue. @kadel would you mind linking your test repo?
@jstrachan is the bet to comment about it.

[2017-11-13 09:08] miteshvp commented on #1329
We can use `last_updated` key for Package and Version. It is time elapsed in seconds since epoch. We can check if the `last_updated` > our expected time (submission time)

[2017-11-13 09:18] tisnik commented on #1329
that brings another question - how well is this part checked by unit tests? Could we rely on existing internal API?

[2017-11-13 10:46] pkajaba commented on #1257
https://github.com/fabric8-analytics/fabric8-analytics-stack-analysis/pull/120
https://github.com/fabric8-analytics/gremlin-docker/pull/21
https://github.com/fabric8-analytics/fabric8-analytics-server/pull/200
https://github.com/fabric8-analytics/fabric8-analytics-stack-report-ui/pull/45
https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/60

[2017-11-13 11:37] krishnapaparaju commented on #1079
With readonly access at console, would need to script all the delete of AWS resources if required for operational needs

[2017-11-13 11:41] krishnapaparaju opened #1330 "Delete unnecessary AWS resources if required for operational needs"
Many a times , AWS resources get created for pure experimental needs and these resources would not be required after some time (weeks from creation) and they become stale, never get deleted.

Need to script to delete unnecessary DynamoDB tables and S3 buckets.

[2017-11-13 11:44] fridex commented on #1079
Already done. We can also get queue attributes (for now age of messages).

See https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/196 https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/183 https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/206

[2017-11-13 13:46] ashumilova opened #1331 "Improve the list of codebases by including workspaces info"
The list of codebases, that are available by requesting:
`spaces/{id}/codebases`
should include the list of workspaces per codebase, similar to
`codebases/{id}/edit`
This is needed for [list of workspaces](https://redhat.invisionapp.com/share/U2D95C1EC#/screens/259930825).

[2017-11-13 14:02] ashumilova opened #1332 "Add new entry point for workspaces retrieval per space"
There is need in adding one more entry point for retrieving the list of workspaces by space id or by bunch of repositories. The response of the workspaces list should include codebase (repository) data as well.

[2017-11-13 16:14] kadel commented on #1315
@corinnekrych

You can try to reproduce it by importing  https://github.com/kadel/test and unchecking  "Overriding Jenkins and POM files".

That repo is Verte.x quickstart created by OSIO with default valid Jenkinsfile without any modification.

[2017-11-13 16:21] #1158 closed

[2017-11-13 16:31] joshuawilson commented on #1315
If you uncheck "override", they are saying don't override my jenkinsfile just use mine. If you use your own then there is a very good chance it is not set up correctly. All of this is pre-beta, so i expect things to break. We just need to produce it so we can fix it. :)

[2017-11-13 17:05] sbose78 commented on #1265
This is done, and is in Prod.

[2017-11-13 17:05] #1265 closed

[2017-11-13 18:42] joshuawilson commented on #1328
This appears to be effecting all new users too.

[2017-11-13 18:46] joshuawilson commented on #1326
This appears related to https://github.com/openshiftio/openshift.io/issues/1328

[2017-11-13 18:51] joshuawilson commented on #1325
@corinnekrych @edewit are you aware of this?

[2017-11-13 18:52] joshuawilson commented on #751
Thanks @ALRubinger

[2017-11-13 20:07] Rydekull opened #1333 ""Learn more" on front page brings you back to the first page again"
When you go to: https://openshift.io/_home

And click "Learn more"
OpenShift.io information
Learn more about what OpenShift.io can do for you

It links to: https://openshift.io/
Which loads https://openshift.io/_gettingstarted

Which brings you back to: https://openshift.io/_home

[2017-11-13 20:10] Rydekull opened #1334 "Are username's based on UID's or actual strings of the username"
It looks to me that the key for my username is an actual string of my username which transports me around.

Usually, in a widely deployed application with tons of users. This might not be desired since it requires unique usernames all over. Instead of just basing it all on a UID which just publishes a username.

Probably by design, but something I feel worth raising since if there are to be severa

[2017-11-13 20:13] Rydekull opened #1335 "OpenShift.io Frontpage - Recent spaces widget"
Some feedback about the widget(with lack of a better term):
 - it is called recent spaces, and it holds a "+" button where you can create a new space (in recent spaces?)
   Perhaps just a rename of Recent Spaces to something else?

 - Seems like it tracks spaces I've visited, regardless if they are mine or someone else, but it does not show who the owner of each space is unless I hover above it an

[2017-11-13 20:14] joshuawilson commented on #1334
@aslakknutsen do know the answer?

[2017-11-13 20:15] joshuawilson commented on #1333
@mindreeper2420 can you update this user flow loop to point to the docs?

[2017-11-13 20:17] Rydekull opened #1336 "Logging into OpenShift.io yields a 500 in developer console"
Looking at the details

**Request:**
GET /api/user/services HTTP/1.1
Host: api.openshift.io
Connection: keep-alive
Origin: https://openshift.io
Authorization: Bearer
xyz
Content-Type: application/json
Accept: application/json, text/plain, */*
User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.89 Safari/537.36
X-Request-Id: 92d43fa2-ed4d-4860-8601-45

[2017-11-13 20:19] Rydekull opened #1337 "Searching for spaces gives no feedback"
Going to: https://openshift.io/arydekul@redhat.com/_spaces

And using the search for spaces, returns no feedback if its successful, failure, or syntax error.

Also, there is no "search" button, but confusingly a "New" button at the end of the form. So I am searching by hitting enter.

[2017-11-13 20:20] Rydekull opened #1338 "Jenkins and che services does not load properly when logging in"
In the top right corner when looking at status of service, the services does not load properly.

![image](https://user-images.githubusercontent.com/1591438/32747269-88bbc554-c8b8-11e7-9776-9ee38bb5e0ee.png)

[2017-11-13 20:24] alexeykazakov commented on #1334
Right now we use usernames (must be unique) which are visible to users because they are used in URL (e.g. https://openshift.io/alkazako ), OpenShift Online project names, etc.
We also use UUIDs internally.

[2017-11-13 20:27] joshuawilson commented on #1335
@mindreeper2420 when you get a chance, please take a look at this one.

[2017-11-13 20:28] mindreeper2420 commented on #1335
@joshuawilson I'll create a story in fabric8-ux for this, as the Dashboards are currently being reviewed.

[2017-11-13 20:30] joshuawilson commented on #1336
Did you do anything besides or after logging in?

[2017-11-13 20:32] Rydekull opened #1339 "Documentation links point to different places"
In the top right, there is a link to documentation at docs.openshift.io

When you for example have no space ćreated and you look at your profile page, the "My Spaces" widget tells you:
Create a Space
Learn how to get started in the documentation

That link points to access.redhat.com-documentation.

Should be pointing to the same

[2017-11-13 20:34] joshuawilson commented on #1337
Currently it searches as you type. This page is not ideal and is under a redesign at https://github.com/openshiftio/openshift.io/issues/477.

[2017-11-13 20:40] Rydekull opened #1340 "Visiting another persons profile lists your own spaces and work items, but not accounts"
When you visit someone elses profile. You'll see the following widgets:
 - My spaces
 - My work items
 - My connected accounts

My spaces
This widget loads the most recent state of "loaded" spaces into the browser. If you go to someones profile, hit ctrl+shift+r, load someone elses profile, you'll see the spaces of the previous person.

My work items
Always displays your own items, regardless who'

[2017-11-13 20:42] Rydekull commented on #1340
Also, when viewing your profile with spaces, workitems and accounts. Perhaps a link to manage/create new in each section would be good.

[2017-11-13 20:43] Rydekull opened #1341 "Updating your profile bio does not refresh the profile page"
When you update your bio, adding a text and hit update profile it brings you back to the profile page.

You still see the old information on that page.

[2017-11-13 20:45] alexeykazakov commented on #1341
Duplicates https://github.com/openshiftio/openshift.io/issues/862

[2017-11-13 20:45] #1341 closed

[2017-11-13 20:50] Rydekull opened #1342 "Deleting a space still leaves it in "recent spaces" as an active link"
When I go to : https://openshift.io/username/_spaces

And delete a space in the list, it disappears from that page, and from the menu in the top-left.

However, if I then go to https://openshift.io/_home

My deleted space will still appear in the list of recent spaces. And its a clickable link.
If I try to click it, it will give me an error in the top right saying its not found.

[2017-11-13 20:51] Rydekull opened #1343 "Unessecary link in notification when creating a new space"
If I create a new space, it'll transport me to my new space.

At the same time, in the top right corner, there is a notification saying I can visit my new space and gives me a link to visit the same page which I am already on.

[2017-11-13 20:55] Rydekull opened #1344 "No way to remove a codebase from a space"
Once you've added a codebase to a space. There is no way to remove it as far as I can find

Going to https://openshift.io/user/myspace/create

I can view information about the codebase, but not change anything.

[2017-11-13 20:58] Rydekull opened #1345 "Codebase creation page has a UI-bug in top right"
If I navigate to:
https://openshift.io/user/myspace/create

And then in the codebase-part of the page try to hover at the + in the upper right of that page. The browser will start having a seizure.

Also, I have noticed that at some circumstances (still not able to replicate) it fails to load my workspaces and gives me a red error popout next to the workspaces column.

[2017-11-13 20:59] Rydekull opened #1346 "Codebase creation page - Filter search box results is wrong"
it always tells me 0 results regardless if it have matched results or not

[2017-11-13 21:13] joshuawilson commented on #1340
@catrobson we need to work out the right flow and access here.

[2017-11-13 21:19] catrobson commented on #1340
@mindreeper2420 please look at this as soon as possible.

[2017-11-13 22:17] mindreeper2420 commented on #1340
Currently, viewing a user's profile is no different than viewing their own. There is definitely a problem with the fact that the system cannot keep track of whether you are looking at your profile or some else's.

We should have different views depending on whether you are viewing your own profile or someone else's. There should also be checks in place to prevent anyone from erasing another user's

[2017-11-13 22:30] alexeykazakov commented on #1340
To be clear. You should not be to erase another user's environment. Even if you see this option in UI it should not work. Can you confirm that if you click on that "erase environment" button it actually erases the env?

[2017-11-13 22:32] mindreeper2420 commented on #1340
@alexeykazakov I'm not sure I want to try this, just in case it does work :-) Is there a 'donor' account that we can try it on?

[2017-11-13 22:41] alexeykazakov commented on #1340
Fill free to try to nuke mine openshift.io/alkazako :)

[2017-11-13 22:42] Rydekull opened #1347 "Sometimes the settings button for a space, does not bring the settings but replicates the top menu"
When navigating around in the UI, sometimes when you go to a space settings
https://openshift.io/user/myspace/settings

By clicking in the top menu UI next to the drop down, it does not bring you to the settings, rather it replicates the menu once more. For each time you click the icon "Analyze Plan Create" replicates to the right

[2017-11-13 22:45] Rydekull opened #1348 "Space areas - Missing info, unable to delete"
It isn't really clear what areas are and what you can do with them. So i guess this is an unfinished bit.

Regardless, There is a menu in the top right side of the page to "Add Area", when executing that action it adds a new child to the parent.

You can do the same thing by clicking on the parents "menu" on the right hand side. However, this is now called "Add Child Area" despite the same action

[2017-11-13 22:48] GeorgeActon commented on #1234
@samuzzal is there a work item in our backlog for the per user token or are you keeping this open and on our priority list?

[2017-11-13 22:50] Rydekull opened #1349 "Space information page"
When viewing your space its a bit unclear that the top menu is where you're supposed to find settings for that page. The UI-logic is a bit illogical. Especially since there are buttons and configurations at other places of the page.

When you are viewing a space, you also do not know who owns it by looking at the page.

When viewing someone else's space, there are buttons to add work items, add to

[2017-11-13 22:54] Rydekull opened #1350 "Able to see spaces, work items, boards and backlogs despite not being logged in"
noticed this as I logged out. There is a quick refresh of the page where there appears a login button in the top right corner, so I clicked it. All of a sudden I was brought back to my space-page.

But I also noticed I weren't logged in. I did a ctrl-shfit-r to see if it was just a cache, but it was all there. I could navigate around, not all links were visible, but many are, and I could even find

[2017-11-13 23:01] Rydekull commented on #1334
Sure, but if you look at the number of account options that exist when you try to login. There is a good chance someone on one service is using the same username as someone else at another service. Which means there will be a collision.

[2017-11-13 23:02] Rydekull commented on #1336
Well, i did things after. but that was the loading of the first dashboard you get when you login. From the page that you get sent to after finishing your username/password input.

[2017-11-13 23:04] Rydekull commented on #1338
Its worth noting. I found my way into OpenShift Online. And in there I could see the following

All pods in username-jenkins project was in Error state.

No pods exists in username-che project.

So there seems to have been something going wrong with the initial setup of my user

[2017-11-13 23:04] dlabrecq commented on #1340
The UI didn't allow me to erase your env

[2017-11-13 23:04] Rydekull commented on #1338
Oh, and after manually starting the pods in username-jenkins, The status icon within OpenShift.io is still in the same state.

[2017-11-13 23:08] Rydekull commented on #1340
well... I wouldn't say that. It was partially successful to me.

![image](https://user-images.githubusercontent.com/1591438/32754152-e627ff66-c8cf-11e7-9791-e649c515ac9c.png)

Also worth noting, suddenly I see a "Log in" button in top right, I was logged in before the reset.

[2017-11-13 23:10] alexeykazakov commented on #1334
Not sure I'm following... My user OSIO name is alkazako. What other services do you mean? You mean not-OSIO services? Why should we care? What collisions we may get?

[2017-11-13 23:14] alexeykazakov commented on #1340
UI is not correct here. That request did nothing to my account.

[2017-11-13 23:16] ldimaggi commented on #1234
Sorry - I cannot verify this bug fix as I cannot get the Che/Jenkins pods on prod-preview to start up/deploy after an environment reset. See this bug:   https://github.com/openshiftio/openshift.io/issues/1326

[2017-11-13 23:18] alexeykazakov commented on #1340
And it actually was the reason why you were forced to logout. UI caught 401 and logged-out. So, there are a several major UX/UI issues in that flow. But at least we don't have security issue with allowing nuking another user's accounts in that page.

[2017-11-13 23:19] Rydekull commented on #1334
Well, let's say... I have a github account, authorizing with: mycoolusername
I sign up to OpenShift.io, using the login page that exists.

Later, another person using mycoolusername on twitter, decides to sign up.
Will they now see that mycoolusername which they auth with is already taken as username?

Basically, will it cause an issue/collision?

[2017-11-13 23:20] Rydekull commented on #1340
Well, that's good news :-)

[2017-11-13 23:25] alexeykazakov commented on #1334
Oh, you are referring to social login in developers.redhat.com (we use developers.redhat.com to login to openshift.io). We are working on removing this option for now until it works well. To be clear. You wont be allowed to create a user with a username if it's already taken but it's not recommended to use social login because of different issues.
Right now usernames are auto-generated but we plan

[2017-11-13 23:26] Rydekull commented on #1334
Actually, that just made me realize there is a problem.

So in OpenShift.io I login, and I can see my accountname in the URL (basically my email).

Whereas when I go to OpenShift online, the projects created are half my username, namely, the part before @, which means if two usernames are in different domains there will be a problem.

[2017-11-13 23:58] alexeykazakov commented on #1334
Yeah... it's not ideal right now. We don't use your email as a username actually. It just happened that developers.redhat.com created a username == your email. This is one of the reason why we want developers.redhat.com allow user to pick a username instead of auto-generate it.
OpenShift Online doesn't allow to use @ in usernames. So it's trimmed. We are going to refactor it at some point.

[2017-11-14 02:29] joshuawilson commented on #1338
@kbsingh here is the issue from earlier today.

[2017-11-14 02:30] samuzzal-choudhury commented on #1234
@GeorgeActon This was taken on priority and I worked with @jfchevrette to get the new access token deployed on the prod-preview. We do not have any open todo item to work on at this moment, unless @ldimaggi finds otherwise after he overcomes the bug https://github.com/openshiftio/openshift.io/issues/1326.

[2017-11-14 03:08] joshuawilson commented on #1350
Overall you are getting the expected results. You are meant to be able to "view" just about everything. If you think of github, you may not have permissions but you can see what others are doing.

I would like to know what you think is information we should hide when you are not logged in. We do have an issue to track this already. Please post your updates and questions to https://github.com/opens

[2017-11-14 03:10] joshuawilson commented on #1349
@catrobson can you please add this to the Space design refactoring/upgrade.

[2017-11-14 03:13] joshuawilson commented on #1348
@catrobson more input for the Space design

[2017-11-14 03:26] joshuawilson commented on #1346
@ashumilova here is an issue for you to add to the refactor.

[2017-11-14 03:29] joshuawilson commented on #1345
@mindreeper2420 I thought you had fixed this, is it just not in prod or not done yet?

@Rydekull can you please make a new issue for the second comment about workspaces loading.

[2017-11-14 03:32] joshuawilson commented on #1344
This is a duplicate of #192
cc @ashumilova

[2017-11-14 03:36] joshuawilson commented on #1343
Originally the notification was the way to move to the new Space and then we found it easier to redirect you .

@catrobson can you add this to your backlog to have someone work out the UX please.

[2017-11-14 03:38] joshuawilson commented on #1342
This is a refresh issue. It is being tracked at #879, please add any other comments there.

Closing as a duplicate.

[2017-11-14 03:42] joshuawilson commented on #1339
@mindreeper2420 was this fixed or only partially?

[2017-11-14 03:44] mindreeper2420 commented on #1339
@joshuawilson the original issue was to just add/update the link in the user drop down. There was no mention of it being updated or added elsewhere. Easy fix though.

[2017-11-14 03:45] joshuawilson commented on #1339
thanks

[2017-11-14 03:46] mindreeper2420 commented on #1345
@joshuawilson this has been fixed and verified at least once. Not sure what the issue is now. How do you tell if something is in prod? The releases don’t seem to be up to date.

[2017-11-14 03:46] mindreeper2420 commented on #1345
@joshuawilson at this point, the tooltip problem might be the module that we use. It is not something made by us, but an external piece.

[2017-11-14 03:48] mindreeper2420 commented on #1333
Currently, the site is not configured to allow visitors back to OpenShift.io and stay there. It will always redirect users back to _home or _gettingstarted. Not a bug, but by request.

[2017-11-14 03:53] joshuawilson commented on #1333
`Learn more` should not take you back to the landing page but to a doc.

[2017-11-14 03:54] joshuawilson commented on #1333
If the `learn more` is on the landing page then the button needs to tell the user what is happening and where to go once there.

[2017-11-14 04:01] joshuawilson opened #1351 "[8] Linting the UI"
### Description
As a developer of the system, I want the code to be linted when I compile and build it.

### Acceptance
 - [x] Update the linter rules for TS and Angular #1352
 - [x] Fix linting issues TS and Angular #1353
 - [x] Activate the linter on build, stopping the build if it fails #1354

[2017-11-14 04:03] joshuawilson opened #1352 "Update the linter rules"
Listed in User Story #1351

The current linter was set up under an older version of Angular and TypeScript with older libraries. It needs to be updated before we can use it.

[2017-11-14 04:06] joshuawilson opened #1353 "Fix linting issues"
Listed in #1351

To turn on the linter for the build we need to have it run clean. This task is to fix all the existing linting issues.

[2017-11-14 04:08] joshuawilson opened #1354 "Activate the linter on build, stopping the build if it fails"
Listed on User Story #1351

Configure the build to run the linter so that it fails when linting reveals failures.

[2017-11-14 07:04] Rydekull commented on #1334
Well, in a way it makes more sense to have it done with the full username using an email, it makes it unique.
The only way I could notice these issues is the fact that so many "old" users didn't follow the same theme.

With or without having a full email, I do not think using that as part of URL etc is good (unless its unique).
But even if it is unique, if its in my URL, sharing a link, writing do

[2017-11-14 08:03] #940 closed

[2017-11-14 08:15] ashumilova commented on #1346
@joshuawilson ok. will do

[2017-11-14 11:36] kadel commented on #1315
That is not the case as the Jenkinsfile is exactly the as same the one generated by OSIO quickstart and works there.
The issue is not Jenkinsfile.

You can reproduce this with Jekinsfile that you can be sure is 100% working using following steps:
 - create a new space
 - create new quickstart project
 - choose one of the stacks - for example "Verte.x HTTP Booster"
 - next, next, ... finish
 - chec

[2017-11-14 12:10] jerboaa commented on #1210
This is the same or similar issue as what I've opened and got closed out without a reason: #1058

[2017-11-14 12:17] jerboaa opened #1355 "Importing a project from github produces two pipeline builds immediately."
Steps to reproduce:

1. Create new space, give it any name, import basic Vert.X booster via the quickstart wizard. Do not import existing code.
2. Wait for builds to finish.
2. Reset env.
3. Create a new space, give it any name not equal to the one in step 1. Import the git repo as created by step 1 above.
4. Observe two jenkins pipeline builds being scheduled. One is likely triggered by the git p

[2017-11-14 12:20] jerboaa commented on #1355
![screenshot from 2017-11-14 13-18-38](https://user-images.githubusercontent.com/357222/32779532-6929a176-c93e-11e7-811e-339f822a26c0.png)

Example schedule. What's weird is that the second build runs first.

[2017-11-14 12:33] aslakknutsen commented on #1210
@joshuawilson @jerboaa It wasn't closed without a reason, but without a link. @jstrachan did a fix to the Maven plugin I believe that was suppose to address this. Not sure if this is still a problem or not?

[2017-11-14 12:36] jerboaa commented on #1210
@aslakknutsen FWIW, it's good practice to explain in a bug report why it gets closed. Be it a link or some other comment. Hence, my "without a reason" comment.

[2017-11-14 12:53] aslakknutsen commented on #1210
@jerboaa Yes, I completely agree. To be honest I'm not sure what happened in this case. I have a vauge memory about that issue being a duplicate of some other issue that the fix was linked to. But yea, this should have been linked to the duplicate at minimal.

[2017-11-14 13:01] joshuawilson commented on #1355
I thought this was closed in #915.

I think this is less an issue with importing and more with the deletion of pipelines not happening. What do you think @jstrachan @aslakknutsen ?

[2017-11-14 13:03] ldimaggi commented on #1338
Related to:  https://github.com/openshiftio/openshift.io/issues/1328

[2017-11-14 13:07] joshuawilson commented on #1315
I know there is an issue with deleting pipelines after resetting your environement, that may be the cause.

We can test this if you reset and then try to import one that I made, that way you aren't importing the same one that may not have been fully deleted. https://github.com/joshuawilson/hawk

[2017-11-14 13:11] corinnekrych commented on #1325
@joshuawilson yes it's per design. the summary is an extra step to add codebase to wit backend. the previsous screen has a `finish` button this si where the pipeline is created on the forge backend.

[2017-11-14 13:15] joshuawilson commented on #1325
Why is there a `Cancel` button on the page if there is nothing to cancel?

@corinnekrych can you confirm it does nothing? If so then this is a UX question.

[2017-11-14 13:47] corinnekrych opened #1356 "Spike: see how unleash can fit Features flag requirements"
# Description
Following [EPIC: Feature Flags](https://github.com/openshiftio/openshift.io/issues/1165), we want to create a PoC to see how to configure and use https://github.com/unleash/unleash to evaluate if it fits the needs.

# Acceptance Criteria
List of task for feature flag using [f8toggle](https://github.com/fabric8-services/fabric8-toggles) with [unleash](https://github.com/unleash/unleas

[2017-11-14 14:07] mindreeper2420 commented on #1351
@joshuawilson I played around with TSLint a bit here: https://github.com/mindreeper2420/fabric8-ui/tree/enviro-linting. It required updates to the packages to fix known bugs, as well as issues with the config file.

[2017-11-14 14:11] xcoulon opened #1357 "Include list of available features in the `show user` response"
As part of https://github.com/openshiftio/openshift.io/issues/1356, the goal is to enrich the `GET /api/user` response by including the list of available "toggled" features given the current level of features that the user wants to use (`no pre-production`, `beta-only` or `experimental`).
The user needs to be flagged as a member of one of the `internal`, `beta` or `experimental` groups to be able

[2017-11-14 14:12] ldimaggi commented on #1325
Ah - ok - when the user selects "Finish" - it completes the creation of the new app/project/quickstart.

The confusion is that the screen/window displayed after Finish implies that the user has options when in reality that final screen is only displaying post-creation information for the user.

I think all we have to do is to remove the Cancel button on that final screen. Thx!

[2017-11-14 14:19] rafabene opened #1358 "Codebases is not populates after the new quickstart wizard."
**Codebases** is not populates after the new quickstart wizard. **Pipelines** are shown.

Should **applications** show something?

![screenshot 2017-11-14 12 18 56](https://user-images.githubusercontent.com/30131/32784452-08ee9fa8-c936-11e7-86ef-de60da929e05.png)

[2017-11-14 14:24] corinnekrych commented on #1325
@ldimaggi @joshuawilson you can cancel the create of the codebase.
This was discussed in our UX review, we renamed "review" to summary. cc @catrobson do you think we should remove the cancel button to make it clearer?

[2017-11-14 14:39] tisnik opened #1359 "[2] Timestamps should be represented in UTC in the fabric8-analytics-worker sources"
Currently it seems that timestamp values are read by using ```datetime.now()``` which returns current localtime. Because the API, performance tests, and other tools expect time to be represented in UTC, I'd suggest to use ```datetime.utcnow()``` instead of ```datetime.now()```

Search:
[code]

[2017-11-14 14:40] msrb commented on #1359
Good catch, thanks @tisnik.

[2017-11-14 14:47] ldimaggi opened #1360 "Enhancement request - Enable users to refresh set of repos than can be imported"
If a user forks a repo, it can take OSIO up to 5 min for OSIO to recognize that newly forked repo. This seems to be on a 5 minute timer.

Can we enhance this by adding a feature/button to enable users to force an immediate refresh? I think that users will want to see this feature. Thx!

[2017-11-14 14:57] jerboaa commented on #1355
I should note that if I deselect "Trigger build" in the wizard, only one build gets scheduled (the "Provide CI integration hook" checkbox is still marked). So I suppose in order to reproduce this one needs to have both of them selected (default). The expectation would be to: If both are checked (default), only create one build on initial import.

[2017-11-14 15:07] #1339 closed

[2017-11-14 15:13] mindreeper2420 commented on #1333
The “Learn More” isn’t actually called that anymore, as it was reworded to “Features”. As this lives on the marketing page, the redirect logic will need to be rewritten to account for this. I’ll be taking care of that as part of a separate story that was already in the queue. I’ll use this issue for renaming and relinking the Dashboard URL to use “Features”.

[2017-11-14 15:29] catrobson commented on #1325
@corinnekrych yes we can remove the cancel button.  I actually think our team is just about ready to send an updated design for the summary page, so you might want to make that change along with any layout changes proposed by the team in general.

[2017-11-14 15:34] joshuawilson commented on #1355
@jerboaa you can verify by importing one I made via the quickstart. That way there is no name conflict.
https://github.com/joshuawilson/hawk

[2017-11-14 15:37] catrobson commented on #1343
Added a story about removing the pop-up notification when space is created.  https://github.com/fabric8-ui/fabric8-ux/issues/746

[2017-11-14 15:38] joshuawilson commented on #1343
thanks

[2017-11-14 15:40] catrobson commented on #1348
Thanks, we'll consider this into redesigns of this page.

[2017-11-14 15:42] joshuawilson commented on #1360
What are steps to reproduce this? What needs to be set up first in OSIO?

[2017-11-14 15:42] catrobson commented on #1349
Thanks @Rydekull - I agree there is some confusion based on current design here.  We're already starting to think about how to improve many aspects of this, but your feedback is much appreciated to confirm our suspicions around how new users experience this.

[2017-11-14 16:00] jerboaa commented on #1355
@joshuawilson I'm trying, but joshuawilson is not possible via the "Application Wizard". I'm using the "Import existing code" widget within the wizard, not the button in "Codebases". So I've forked the repo to my space, now this new repo in my namespace isn't showing in the UI (yet?).

[2017-11-14 16:03] ldimaggi commented on #1360
Steps to recreate:
* Log into OSIO
* In a diff browser window - log into github and fork a repo
* In OSIO observe a ~5 min delay before the forked repo can be accessed in the Import option of 'add to space'

[2017-11-14 16:03] jerboaa commented on #1355
Ok seems to have worked now. And for that, `hawk`, it only schedules one job. This one gave me two:
https://github.com/jerboaa/vertx-http-booster

[2017-11-14 16:04] jerboaa commented on #1355
![screenshot from 2017-11-14 17-04-14](https://user-images.githubusercontent.com/357222/32790146-ed10aa42-c95d-11e7-9a63-f631087e74a8.png)

[2017-11-14 17:08] jerboaa commented on #1355
I was too fast. After an env reset this does happen.
![screenshot from 2017-11-14 18-05-57](https://user-images.githubusercontent.com/357222/32793630-c57dff30-c966-11e7-8cd1-3a2a6551a16a.png)

[2017-11-14 18:28] samuzzal-choudhury commented on #1234
#### Brief about the solution:
This issue was  caused by an expired hardcoded access token (openshift secret _jenkins-recommender-api-token_) on the staging cluster which was set up for Jenkins pipeline to integrate with the recommender API.

The auth team had earlier generated a token for the prod-preview with 365 days expiry which I shared with @jfchevrette who deployed the secret with that. Thi

[2017-11-14 18:39] joshuawilson commented on #1315
ok, thanks @kadel we'll take a look

[2017-11-14 18:42] joshuawilson commented on #1358
duplicates #1252

[2017-11-14 18:42] #1358 closed

[2017-11-14 18:56] joshuawilson commented on #1334
While it may make documenting action more difficult, it should make getting work done easier.

The intent is to share your link, like a github URL, with others and have them see your work. This is made easy by using your username in the URL.

It was designed this way intentionally. But we are open to hearing your concerns.

[2017-11-14 18:57] ldimaggi commented on #1326
Closing - this problem seems to be fixed.

[2017-11-14 18:57] #1326 closed

[2017-11-14 19:05] pkajaba commented on #1244
https://github.com/fabric8-analytics/mercator-go/pull/21 PR submitted here. @msrb or @tuxdna PTAL, thanks!

[2017-11-14 19:35] ldimaggi commented on #1204
Closing as this issue seems to be closed - the speed on production and prod-preview looks similar today and rollout to run is successful.

[2017-11-14 19:35] #1204 closed

[2017-11-14 19:36] ldimaggi commented on #1216
Closing - this issue is not being seen on prod-preview today.

[2017-11-14 19:37] #1216 closed

[2017-11-14 19:39] ldimaggi commented on #1234
Closing - I am now able to generate reports on prod-preview.

[2017-11-14 19:39] #1234 closed

[2017-11-14 19:40] ldimaggi commented on #1267
Closing - not seeing this issue today on prod-preview.

[2017-11-14 19:40] #1267 closed

[2017-11-14 19:51] ldimaggi commented on #1303
Not seeing this issue on prod-preview today - closing.

[2017-11-14 19:51] #1303 closed

[2017-11-14 19:52] ldimaggi commented on #1033
Closing as non-reproducible.

[2017-11-14 19:52] #1033 closed

[2017-11-14 19:54] ldimaggi commented on #813
Just verified that the error can be generated if the user pressed the create space key twice.

[2017-11-14 20:53] c-koehler commented on #450
@siamaksade This may have been fixed, I'm able to follow the link when I run the latest version. Does this still happen for you?

[2017-11-14 22:45] c-koehler opened #1362 "Header menu randomly repeats multiple times"
At the top, the buttons on the header are repeated 4x. I'm not sure what is causing this to happen, it's random. A pre-requisite _may_ be that the repository for the space has to be deleted on github (manually) without any action being done through openshift.io to cause it to get deleted. However, due to the random nature of this, I'm not sure if that is a pre-requisite to trigger this or it just

[2017-11-14 22:56] joshuawilson commented on #1362
This was fixed in #1128
@dlabrecq can you please take a look again.

[2017-11-14 23:47] dlabrecq commented on #1362
I cannot reproduce. Even after deleting my GitHub repo, the navigation appears to work fine. It would be helpful to note any errors logged in the browser console?

FYI, the issue for #1128 was related to an error in the page, caused by a patternfly-ng component. That error has since been fixed; however, any JS error in platform, planner, etc. can prevent the page from working properly.

[2017-11-15 03:08] joshuawilson commented on #1362
@c-koehler can you please try to figure out the steps to reproduce this.

[2017-11-15 03:10] joshuawilson commented on #450
Closing as it appears fixed. If you continue to see this, please reopen.

[2017-11-15 03:10] #450 closed

[2017-11-15 03:20] #1333 closed

[2017-11-15 04:34] mishaone opened #1363 "UX Enhancement: tenant indicator should be green or red"
Every time I reset my environment, I have to wait for the tenant services to refresh. While I'm waiting, I see a white check button:

![check_icon](https://user-images.githubusercontent.com/926572/32818898-dfeedbea-ca11-11e7-80ff-b83c3bcefea3.png)

When the tenant service refresh (or some part of it) fails, the button remains white.
![status_error](https://user-images.githubusercontent.com/926572/

[2017-11-15 06:15] joshuawilson commented on #1363
duplicate of #674 but since it has more detail I'm keeping it open

[2017-11-15 06:36] rootAvish commented on #1268
https://docs.google.com/a/redhat.com/spreadsheets/d/1bGq1z4NpzGdPcDFl0MZ-i3qNxECej-aWe2ZtLYFwK8k/edit?usp=sharing <-- numbers from first tagging run

[2017-11-15 09:34] corinnekrych commented on #1165
@qodfathr Our understanding of the requirements is that a logged-in user can opt in/out for internal/experimental/beta features. What should happen for anonymous users? Should they have access to no experimental feature, or as implemented today with Planner, access to all experimental features? Should we unified the behaviour and do not show an experimental feature to anonymous user.

[2017-11-15 11:17] kbsingh commented on #1304
if che is down, its a che-team responsibility to bring it back up.

[2017-11-15 12:19] sivaavkd commented on #851
@tisnik - can you please recheck ?  This is marked as P1 and we will need to work on it if it is still an issue.

[2017-11-15 12:24] sivaavkd commented on #814
@samuzzal-choudhury are we still targeting this for Sprint 140 ?

[2017-11-15 12:59] rootAvish commented on #1095
For NPM see: #1268

[2017-11-15 13:46] ldimaggi opened #1364 "Reset Environment on prod-preview - Che pod fails to restart"
This problem started showing up on November 15 - it appears to be reproducible.

Steps to recreate:
* Reset user environment.

For Che pod, observe that the pod does not restart, observe errors in the events log:
[code]
![screenshot from 2017-11-15 08-28-55](https://user-images.githubusercontent.com/642621/32838933-a3d341ae-c9e0-11e7-96f0-ea429f9619e3.png)
![screenshot from 2017-11-15 08-28-25](ht

[2017-11-15 13:48] ldimaggi commented on #1364
Note - I was not seeing this issue yesterday/last night - seems to be new.

[2017-11-15 13:56] abs51295 commented on #1292
@miteshvp I think the problem was trivially solved since we decided to move with mvn repository's download statistics. Assigning it to me and taking this is in current sprint goals.

[2017-11-15 14:16] tisnik commented on #851
I've re-checked in on production and the license analysis is returned correctly -> closing this issue.

[2017-11-15 14:16] #851 closed

[2017-11-15 14:21] corinnekrych opened #1365 "Import repo wizard: UX revisited summary page"
The summary page has been revisited to fit the multi-pojects import:
https://redhat.invisionapp.com/share/KDE940ZVQ#/screens/262045714

[2017-11-15 14:32] l0rd commented on #1364
@ldimaggi It looks like for some reason you have a misconfigured namespace (with bad quotas). I have tried on prod and cannot reproduce it (the yaml files are the same). Will try to reproduce it on prod-preview as soon a I get access to it.

[2017-11-15 14:34] l0rd commented on #1364
@ldimaggi are you able to provide the `fabric8-tenant-che` version of you deployment config (you should see it amongst the dc labels).

[2017-11-15 14:43] ldimaggi commented on #1364
labels:
      app: che
      group: io.fabric8.tenant.apps
      provider: fabric8
      version: 2.0.55

[2017-11-15 14:43] ldimaggi commented on #1364
Yes - the quotes look wrong - what would have misconfigured the namespace? Thx!

[2017-11-15 15:01] l0rd commented on #1364
@aslakknutsen do you have any clue?

[2017-11-15 15:07] l0rd commented on #1364
I have tried on prod-preview too and I am not able to reproduce. Quotas looks fine:

![image](https://user-images.githubusercontent.com/606959/32843040-0326ffb8-ca1f-11e7-9252-bbbbf1ce5e05.png)

[2017-11-15 15:07] jiekang opened #1366 "Add charts in place of detailed information placeholder in deployment cards"
The deployments page cards are expandable and currently show the text 'Detailed information placeholder'. This text should be replaced with charts showing cpu, memory and network usage for the deployment.

In order to add charts, patternfly-ng requires patternfly settings. How this is done needs to be resolved.

`require('patternfly/dist/js/patternfly-settings');`

[2017-11-15 15:18] rafabene opened #1367 "CHE Issue. Can't start it: Workspace agent is no longer responding."
Once I create the CHE 2.0.55 workspace I see the following message.

![screenshot 2017-11-15 13 15 16](https://user-images.githubusercontent.com/30131/32843657-69d430ea-ca07-11e7-971a-be30be2b34ea.png)

When I click "Restart". The message changes to "Workspace is not running".

[2017-11-15 15:31] ldimaggi commented on #1367
Duplicate of:  https://github.com/openshiftio/openshift.io/issues/1304

[2017-11-15 15:31] ldimaggi commented on #1367
Did you only just start seeing this today?

[2017-11-15 15:32] ldimaggi commented on #1364
So - this is limited to *some* namespaces?

[2017-11-15 16:06] #1367 closed

[2017-11-15 16:06] rafabene commented on #1367
@ldimaggi Last week I didn't run OSIO as I was in a conference.

[2017-11-15 16:26] ldimaggi commented on #1364
After 3 hours this problem became non-reproducible - closing now - will re-open is needed.

[2017-11-15 16:35] krishnapaparaju opened #1368 "OSIO Build pipelines trigger Analytics API with User access tokens"
Currently OSIO build pipelines use offline / hardcoded token to trigger Analytics API (to show stack report after OSIO user performs build).
To correct this, OSIO build pipelines would need to start passing in 'User access tokens'  to trigger analytics API.

[2017-11-15 16:38] jiekang opened #1369 "Incorporate Pod lifecycle donut chart"
The deployment cards should show the Pod lifecycle donut chart, exactly the same as those found in Openshift's console.

This issue has a number of sub-issues as at time of writing.

Donut charts are not implemented in patternfly-ng. This should be done: patternfly/patternfly-ng#180

The pod donut charts in Openshift console are heavily customized and are written for AngularJS. These should be use

[2017-11-15 16:39] jiekang opened #1370 "Use f8-wit endpoints instead of mock self-generated data"
The deployments page services should make HTTP requests against the f8-wit API instead of generating mock data.

[2017-11-15 16:40] jiekang opened #1371 "Try to incorporate bootstrap less mixin's to reduce class duplication"
Bootstrap has less mixins [1] that can be used to reduce class duplication for defining grid spacing. We should try to use this to for example reduce instances of:
[code]
[1] https://getbootstrap.com/docs/3.3/css/#grid-less

[2017-11-15 16:41] jiekang opened #1372 "Split elements into separate directives/components"
The elements in the deployments page should be split into separate, smaller components that handle their specific task.

[2017-11-15 16:42] jiekang opened #1373 "Use component properties instead of static values in html for the deployments pages"
The placeholder design in the deployments page uses static values, e.g. `<span>6 Pods</span>` that should come from component properties instead. These will later be dynamic values coming from a third-party service.

[2017-11-15 16:43] jiekang opened #1374 "Extract common and in-line html styles into .less files for deployments pages"
The deployment page html components have common and html in-line styles that can be extracted into .less files.

[2017-11-15 18:12] fche commented on #732
Is the bayesian software likely to stay inside its own distinct namespaces on OSD?  If so, would you like it to be monitored internally (with its own copy of all the pcp collection infrastructure, as in the osd-monitor pod)?  Or would you like it remotely monitored, cross-namespace from within normal OSD?

[2017-11-15 18:14] kbsingh commented on #732
the analytics stack is deployed into its own namespace.

However, I would *strongly* recommend not doing your own monitoring UX - that should be consolidated with the osio service stack in zabbix.

[2017-11-15 18:20] fche commented on #732
The plain pcp webapps represent a zero cost alternative, no custom UX involved.  Does there already exist a zabbix schema/plan for absorbing this information?

[2017-11-15 18:21] kbsingh commented on #732
if every 22 feature teams end up with their own monitoring stack, we've effectively failed at the whole monitoring goals.

[2017-11-15 18:45] maxandersen opened #1375 "mail notifications point to urls that are not actual an image"
The main openshift.io image is not found/rendered.

The url is `https://openshift.io/_openshiftio/assets/images/openshift_logo_black.png` which when downloaded is actually html.

[2017-11-15 18:49] fche commented on #732
KB, I don't know how what you're worried about relates to anything that I said.  :-)

Anyway, first things first, getting some basic data collection going.  That'll require some patches against each of the microservice pods, just like:
https://github.com/fche/fabric8-toggles/commit/d8bca43e00b921e93b8ab3869a0476dbcfb29441

Then we need to pick the model for central logging and/or zabbix relay.  If

[2017-11-15 19:10] joshuawilson commented on #1375
@mindreeper2420 is this an easy fix?

[2017-11-15 19:20] joshuawilson commented on #1372
Are there specific elements this needs to be done to?

[2017-11-15 19:21] joshuawilson commented on #1371
We are using Patternfly. While it is based on bootstrap, you should talk to @mindreeper2420 about this too.

[2017-11-15 19:27] mindreeper2420 commented on #1371
Bootstrap states using the stacked classes when writing the structure (https://getbootstrap.com/docs/3.3/css/#grid-example-mixed). This structure also makes it easier for the community to contribute, following Bootstrap's documentation.

[2017-11-15 19:45] joshuawilson commented on #1368
@jstrachan @rawlingsj are you aware of this?

[2017-11-15 19:52] fche commented on #732
@fridex, could you identify a candidate pod (from bayesian-*) that would benefit most from instrumentation?  Can its copy on .rh-idev. get some workload, so we can identify which resources it may be short of (cpu? memory?).

[2017-11-15 19:56] joshuawilson commented on #1365
@krishnapaparaju are you going to work this?

[2017-11-15 20:15] fridex commented on #732
IMHO all bayesian-worker-{api,ingestion,priority} pods could be really strong candidates here - they all are one [image](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/Dockerfile) (based on [worker-base image](https://github.com/fabric8-analytics/fabric8-analytics-worker-base/blob/master/Dockerfile) that is candidate for placing PCP) deployed with different configuration

[2017-11-15 20:33] joshuawilson commented on #1165
Since we store their choice to what they want to access on their profile they must be logged in to get past the experimental stage. Therefore, if they don't login then they can only see released content.

@qodfathr if you want it different then we need to rethink how we do things technically. I suppose they could access experimental areas but they would not store it as a setting. Still this would

[2017-11-15 20:45] mindreeper2420 commented on #1375
That is part of the dynamically generated content, not part of the template. Aslak would have to adjust what is going on there.

[2017-11-15 20:45] jiekang commented on #1371
I'm not sure I follow your comment;;

We are looking at using bootstrap less mixins to reduce the repetition of grid spacing so we can go from:
`<div class="col-xs-12 col-sm-4 col-md-2"> ... </div>`
to
`<div class="grid-application-card"></div>`

where the less mixin for `application-card` defines the grid spacing. It can be reused if needed and also helps to clear up situations like:
[code]

Note

[2017-11-15 20:47] mindreeper2420 commented on #1371
This example has us creating a bunch of custom classes in order to use the mixins, where just using the `col-*-*` classes can just be used without having to learn a bunch of custom classes.

It is still easier for external contributors to participate using the `col-*-*` classes, rather than learning our custom classes.

[2017-11-15 20:53] joshuawilson commented on #1375
cc @aslakknutsen

[2017-11-15 20:55] jiekang commented on #1372
Hmm, right. I think this can be split into a separate issue for each element.

At the time this is already done for:

* deployment cards

It should be done for:

* resource usage panel

This can also be done for:

* Elements within the resource panel
E.g. the utilization bars are duplicate content with different data, these could be the same component with constructor setup pointing at the write d

[2017-11-15 21:18] jiekang commented on #1371
Okay, I understand now, thanks.

Using css is creating custom classes in order to set style properties instead of having used style properties in-line, throughout your html, to reduce duplication. The goal is the same here as well, to reduce duplication. I argue that logical organization of specific grid classes into a class-name, to be used where appropriate  is easier to understand in the long-r

[2017-11-16 02:47] mishaone commented on #1304
If it's useful in terms of troubleshooting, I can report that I've had this blocking my OSIO use consistently since yesterday.

![workstation_fail](https://user-images.githubusercontent.com/926572/32871322-1392a476-cacc-11e7-9503-2cdf63846c59.png)

In an email thread with the team, I was advised that refreshing the tab usually fixes the problem. This does not work for me, so still blocked. This is

[2017-11-16 07:56] fridex commented on #1203
OK. I will leave this discussion up to you guys. Also with [flow migrations on redeployment](http://selinon.readthedocs.io/en/latest/migrations.html), please make sure that messages of different versions are consumable on one worker type so there will be no migration skew (see docs). This should be guaranteed with the current structure of flows now as I'm thinking about this from top of my head.

[2017-11-16 08:11] msrb commented on #1079
Our jobs service now has `api/v1/jobs/queue-purge` endpoint which can be used to purge all or explicitly listed queues. This functionality is available in production.

[2017-11-16 08:23] msrb commented on #1087
We are now able to [clear up queues](https://github.com/openshiftio/openshift.io/issues/1079) via API and we get [notifications when E2E tests fail](https://github.com/openshiftio/openshift.io/issues/1073).

[2017-11-16 10:47] vpavlin opened #1376 "Tenant Jenkins builds do not timeout"
According to information from @kbsingh, Jenkins jobs should terminate with timeout after 30 minutes, but they do not.

Here is a screenshot of job running for 15 hours:

![screenshot from 2017-11-16 11-43-54](https://user-images.githubusercontent.com/4759808/32887256-9504e842-cac3-11e7-99ef-2bd0e691525d.png)

This is problematic (not only) because Idler will not idle Jenkins with running jobs and

[2017-11-16 12:41] ldimaggi commented on #1304
Example of this issue encountered by the automated EE tests:  https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-openshift.io-chequickstartTest/1731/console

[2017-11-16 13:00] msrb commented on #1062
I tested the script. It works, but it's a bit clunky.

- keycloak URL could be predefined
- deployment prefix could be just `$(oc whoami)`, `msrb-greenfield-test` is too long
- the old analytics spark training job is failing; AFAIK this jobs is not needed any more, we can skip it
- running the script twice fails with `FATAL:  password authentication failed for user "coreapi"`

[2017-11-16 13:21] ldimaggi commented on #1364
Re-opening - seeing this again - after a reset - on prod-preview:

[code]

But - no quota issues are seen:

![screenshot from 2017-11-16 08-19-26](https://user-images.githubusercontent.com/642621/32893361-275d8676-caa7-11e7-9a5c-741b4bbd529e.png)
![screenshot from 2017-11-16 08-19-09](https://user-images.githubusercontent.com/642621/32893362-2768a11e-caa7-11e7-84a7-e30d1ba87674.png)
![screenshot f

[2017-11-16 13:26] ldimaggi commented on #1364
[code]

[2017-11-16 13:49] l0rd opened #1377 "Internal server error when trying to reset my account on PROD Preview - user is blocked on prod-preview"
This happened the first time I've tried to reset my account on prod preview

![image](https://user-images.githubusercontent.com/606959/32894436-1a320dc4-cadd-11e7-8a48-4f2c23fe2af7.png)

![image](https://user-images.githubusercontent.com/606959/32894516-517f54da-cadd-11e7-923b-73fd4d16abc0.png)

[2017-11-16 13:55] aslakknutsen commented on #1377
The cause of the 500 "Get http://f8tenant:80/api/tenant: dial tcp 172.30.248.54:80: getsockopt: no route to host"

e.g. req_id: "331bb83d-179b-4654-823f-554671a5551a"

There seems to be a ~10min gap between when a tenant pod was stopped, before the next pod was started.

Coming from a Node eviction

2:37:03 PM "Node controller eviction  Marking for deletion Pod f8tenant-360-1t5x8 from Node ip-172-

[2017-11-16 14:56] ldimaggi opened #1378 "Randomly occurring issue - Invalid minute counter shows up in build pipeline"
This problem is not reproducible at will.

Steps to recreate:
* Create a new app/quickstart
* Observe the build pipeline:

![screenshot from 2017-11-16 09-50-06](https://user-images.githubusercontent.com/642621/32897758-6b5ab418-cab4-11e7-97f1-8f83637e63b8.png)

[2017-11-16 15:01] joshuawilson commented on #1377
@l0rd can you try again? Looks like the Node was down and is back now.

[2017-11-16 15:04] joshuawilson commented on #1378
Have you ever seen this on Prod?

[2017-11-16 15:18] ibuziuk opened #1379 "[prod-preview] space creation via wizard is failing"
This is quite critical for testing workshop scenario on prod-preview against multi-tenant che-server
![image](https://user-images.githubusercontent.com/1461122/32898839-982ceda0-cae9-11e7-9087-3fc691083f43.png)

[2017-11-16 15:24] l0rd commented on #1377
@joshuawilson it works now. Thanks @joshuawilson

[2017-11-16 15:24] #1377 closed

[2017-11-16 16:02] ldimaggi commented on #1378
Only on prod-preview - started seeing it today.

[2017-11-16 16:09] ldimaggi opened #1380 "Intermittent issue - seeing on prod-preview only - in build pipeline, run link is not displayed"
Started seeing this problem - intermittently - on prod-preview (and not on production) on November 16.

Steps to recreate:
* Create a new app/quickstart, observe the build pipeline, promote to stage/run

![screenshot from 2017-11-16 10-45-10](https://user-images.githubusercontent.com/642621/32901737-8c0c72a0-cabe-11e7-8c22-c63ea1336a5e.png)

[2017-11-16 16:27] ldimaggi opened #1381 "Intermittent, but recurring build failures being seen on prod-preview"
To recreate the issue:
* Create a new app/quickstart - observe the Jenkins build log

The failures are happening about 35-50% of the time - the failures are consistently happening here:

[code]

See attached production (success) and prod-preview (failure) build logs:

[prod-preview-build.txt](https://github.com/openshiftio/openshift.io/files/1479299/prod-preview-build.txt)
[prod_build.txt](https:/

[2017-11-16 16:27] ldimaggi commented on #1381
This issue is not being seen on production.

[2017-11-16 16:28] ibuziuk commented on #1379
hmmm... can not repro any more :/

[2017-11-16 16:28] ldimaggi commented on #1381
Issue is being seen by manual and automated EE tests.

[2017-11-16 16:41] alexeykazakov commented on #1379
I see 4(!!!) requests for a GH token for this user within one second in Auth backend around the time when the issue was reported. All of them were successful. @joshuawilson can we ask someone to take a look at the wizard? Why we are sending so many requests?

[2017-11-16 16:48] alexeykazakov commented on #1379
OK. I found a 500 error from Keycloak in the logs a bit earlier that the successful requests above ^^^
Keycloak is not very stable in that endpoint for some reason.. but we can workaround it in Auth service.

[2017-11-16 16:53] alexeykazakov commented on #1379
I will take care of this error, so it will work even if Keycloak is down. But @joshuawilson it's still worth looking at the wizard to see why we are calling Auth so many times.

[2017-11-16 17:15] fche commented on #732
@fridex, from looking at the deployment yamls, they seem to be different images based on the same analytics-worker intermediate.  Since the pcp agent needs to be started with a modified CMD/ENTRYPOINT, we'd probably be just as well editing only those individual -{api,ingestion,priority} Dockerfiles rather than a common base *and* the individual ones.

[2017-11-16 18:03] msrb commented on #732
@fche all those deployments actually share the same `registry.devshift.net/bayesian/cucos-worker` image. The base image contains various tools and runtimes that don't change very often. So PCP would fit there perfectly.

We can then modify CMD in the worker image itself.

[2017-11-16 18:04] fche commented on #732
Can you point me to the worker image Dockerfiles too pls?

[2017-11-16 18:05] msrb commented on #732
There is only one worker image Dockerfile. [Here](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/Dockerfile) you go :)

[2017-11-16 18:09] #1379 closed

[2017-11-16 18:44] jiekang opened #1382 "Rename Applications page to Deployments"
The Applications page is being updated with new content and should be titled 'Deployments', at the least in the tab under 'Create', if not throughout the code itself (file names and contents).

[2017-11-16 19:25] joshuawilson commented on #1382
@catrobson did we finalize on changing the name from `applications` to `deployments`?

[2017-11-16 19:40] joshuawilson commented on #1379
@alexeykazakov can you please post the question in a new issue.

[2017-11-16 20:23] msrb opened #1383 "Move fabric8-analytics deployment scripts and documentation to a separate repository"
# Description

Currently all f8a deployment scripts and documentation resides in https://github.com/fabric8-analytics/fabric8-analytics-common, together with E2E tests and other things (don't ask why:)). I think it would be better to move it to a separate repository so it is easier to find.

# Acceptance criteria
- [x] f8a deployment scripts and documentation has been moved to a separate repositor

[2017-11-16 20:24] msrb commented on #1383
@tisnik @humaton what do you guys think?

[2017-11-16 20:35] catrobson commented on #1382
Yes, we have.

[2017-11-16 21:05] andrewazores opened #1385 "Split "Resource Usage" panel into component"

[2017-11-16 21:06] fche commented on #732
https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/444  -- for the individual pod-side collection

[2017-11-16 21:07] ibuziuk commented on #1067
@ldimaggi closing. feel free to reopen

[2017-11-16 21:07] #1067 closed

[2017-11-16 21:07] andrewazores commented on #1372
@jiekang yes, that sounds about right to me.

I've created the first sub-task for that here: https://github.com/openshiftio/openshift.io/issues/1385

[2017-11-16 21:18] joshuawilson commented on #1304
This is supposedly a fix for this, we are just waiting for it to hit prod, this issue is blocking users.

[2017-11-16 21:21] jiekang commented on #1374
Fixed in https://github.com/fabric8-ui/fabric8-ui/pull/2232

[2017-11-16 21:21] #1374 closed

[2017-11-17 00:28] aslakknutsen commented on #1375
@mindreeper2420 The reason it downloads HTML is due to 'someone' removing the image... Got a new URL? Or want to add it back?

[2017-11-17 01:27] alexeykazakov opened #1386 "New App wizard calls /token endpoint a few times to get GitHub token"
While working on https://github.com/openshiftio/openshift.io/issues/1379#issuecomment-344982315 I noticed 4 requests to auth.osio/token endpoint within one second which seemed to be coming from the app wizard.

One request is not enough? :)

[2017-11-17 01:27] alexeykazakov commented on #1379
https://github.com/openshiftio/openshift.io/issues/1386

[2017-11-17 01:55] joshuawilson commented on #1386
@dgutride can you look at this, it might be a result of how we are using Observables.

[2017-11-17 04:28] joshuawilson opened #1387 "Changing logins"
From a new user:
"If I want to keep my openshift.io account but have changed companies with a new redhat login how do I do that? "

[2017-11-17 04:47] alexeykazakov commented on #1387
You can change your email in developers.redhat.com - https://developers.redhat.com/auth/realms/rhd/account/ so you will be able to login using the new email.
But OSIO do not support changing emails in OSIO user profile atm - https://github.com/fabric8-services/fabric8-auth/issues/62. And it means that the OSIO notifications will go to the old email. The rest should work.

[2017-11-17 04:48] joshuawilson commented on #1387
What about changing RHD accounts?

[2017-11-17 04:52] alexeykazakov commented on #1387
New RHD account == new OSIO account. I don't think we will ever support changing RHD accounts for OSIO accounts. We should rather move to even closer relation between these two accounts.
It's like "hey, I created a new Google account. Can I use tight it to my old gmail account?"

[2017-11-17 07:33] SaketJNU commented on #1311
Opened PRs
https://github.com/fabric8-analytics/fabric8-analytics-common/pull/371
https://github.com/fabric8-analytics/fabric8-analytics-jobs/pull/211
https://github.com/fabric8-analytics/fabric8-analytics-worker/pull/445

[2017-11-17 08:41] pbergene commented on #1304
@joshuawilson What is the fix? Is there something that can be done on our side?

[2017-11-17 12:00] l0rd commented on #1304
@pbergene I think there was a misunderstanding. Last week, when the issue first arose, we thought that we could somehow mitigate that with a fix Che side. But after some testing we could verified that unfortunately the problem was still there even after applying the fix.

[2017-11-17 12:01] pbergene commented on #1304
@mario Thanks, just making sure I didn't miss anything here.

[2017-11-17 14:03] ldimaggi opened #1388 "On prod-preview, isolated instance of idling resulting in Che and Jenkins pods stopping, not restarting"
Noticed this overnight on November 16-17 - logging this issue to track, attempt to recreate.

![screenshot from 2017-11-17 07-33-50](https://user-images.githubusercontent.com/642621/32950887-fef536aa-cb75-11e7-8e49-56a09e153b5d.png)

![screenshot from 2017-11-17 07-33-33](https://user-images.githubusercontent.com/642621/32950888-feffec9e-cb75-11e7-9097-80ad957e2f95.png)

![screenshot from 2017-11-

[2017-11-17 14:22] mindreeper2420 commented on #1375
@aslakknutsen should this image live inside of the template, rather than calling to an asset in openshiftio/openshift.io? As the image name changed, if it changes again in the future, all of the templates would then have to be updated.

[2017-11-17 14:23] xcoulon opened #1389 "Reverse lookup tenant by cluster/namespace"
Goal is to add an endpoint with the following template
`GET /api/tenants?master_url=x&namespace=x []Tenant`

Result would be a list of 1 since that combo is unique, but `List` since it's a general filter on a collection.

Also, this should follow the same SA Token restriction as /api/tenants/id

[2017-11-17 14:25] xcoulon commented on #1389
See https://github.com/fabric8-services/fabric8-tenant/blob/master/controller/tenants.go#L28 and apply the same authorization rule to restrict the call to this endpoint to the `ServiceAccount` only.

[2017-11-17 14:26] aslakknutsen commented on #1375
@mindreeper2420 If you can manage to encode it in the html sure. I failed for some reason last time I tried. It could technically be published to Mandrill as a template and they host it etc or auto encode it, but that's a larger change atm since we don't use that feature/api at all.

[2017-11-17 14:27] ldimaggi opened #1390 "On https://openshift.io, "Log out" menu item is seen after a user logs out"
Started seeing this late on November 17 - steps to recreate:
* Log out of https://openshift.io
* Observe the "LOG OUT" item in the top level menu bar:

![screenshot from 2017-11-17 09-12-59](https://user-images.githubusercontent.com/642621/32951846-640159f4-cb79-11e7-98af-7ad1cde76f13.png)

[2017-11-17 15:07] mindreeper2420 commented on #1375
I've added the logo back into the assets folder after looking at embedded images. It is named exactly as referenced in the templates, so nothing should be required on that end.

[2017-11-17 15:27] joshuawilson commented on #1390
@mindreeper2420 this looks like a result of the latest changes that you made. Can you please take a look.

[2017-11-17 15:29] mindreeper2420 commented on #1390
@joshuawilson - there is some brutal caching or logging issue going on. This works without issue using incognito or private mode (depending on browser). This didn’t occur running locally outside of incognito.

A similar issue happened when the design refresh was done. It took hours/days for the site to load properly.

[2017-11-17 15:30] joshuawilson commented on #1390
@ldimaggi can you please do a hard refresh and try again.

[2017-11-17 15:43] ldimaggi commented on #1390
OK - it's gone now - thx!

[2017-11-17 15:43] #1390 closed

[2017-11-17 15:50] joshuawilson opened #1392 "Add onboarding doc"
We need to get the onboarding PDF file available via an openshift.io URL. Anticipate the need to replace the PDF with newer versions in the future.

This will be a temporary solution, even if something as simple as "openshift.io/gettingstarted.pdf" can serve up a static file.

This file must NOT be blocked by login; it needs to be accessible to all

[2017-11-17 15:50] joshuawilson commented on #1392
@mindreeper2420 do you think this is something you can do? You can get the doc from @qodfathr.

[2017-11-17 16:33] alexeykazakov opened #1393 "Openshift.io landing page asks logged-in users to sign up"
1. Open your browser in incognito mode to make sure there is no any cache issues involved
2. Login to OSIO
3. go to openshift.io

- I'm still logged-in but the first thing I see is a big red button: "Sign up for preview".
- It's quite hard to figure out what you have to do to get back to the home page (you have to click on your name).

![newflow](https://user-images.githubusercontent.com/620087/32

[2017-11-17 16:39] joshuawilson commented on #1393
@catrobson @mindreeper2420 can we get someone to look at this new UX flow, please? It is very awkward.

[2017-11-17 18:32] mindreeper2420 commented on #1392
@joshuawilson sure - is there a thought as to where this link would exist, or would it jsut be shared in a doc/email of some kind?

[2017-11-17 18:35] mindreeper2420 commented on #1393
@catrobson do we want to return this to what it was a while back, with a "HOME" link added to the navbar, and the "Sign Up for the Preview" button hidden when logged in?

[2017-11-17 18:36] chrislessard commented on #1363
Does this mean abandoning the white icon entirely ? If not, in a situation where all the services are available and the icon is green, would it then be appropriate to change it back to white once the user has clicked on the button and seen that everything is ready ?

[2017-11-17 18:39] joshuawilson commented on #1363
I think the white button should be the color and icon of the worst state. If all is green then it should be green too.

We should confirm with @catrobson and team.

[2017-11-17 18:41] joshuawilson commented on #1392
@qodfathr do you have an opinion?
@catrobson any thoughts?

[2017-11-17 19:03] catrobson commented on #1392
@rkratky - do you have any HTML based open source tools that you use for docs like this that we might look at for the openshift.io webpage?  Would need to be a quick, lightweight, option so we could get the doc into it and stand it up quickly.

@qodfathr is there a requirement to need to be able to make edits to this as things change in the service as well?  If so we probably either need to point

[2017-11-17 19:06] mindreeper2420 commented on #1392
@catrobson The thought after talking with @qodfathr is to have a PDF hosted on the landing page, with a simple URL. Updates to that file would only take a PR of a new PDF. The URL wouldn't be shared anywhere on the landing page or inside the product.

I'm open to other ideas, just wouldn't want it to be so complicated that it requires a chunk of changes to the overall config of the landing page.

[2017-11-17 19:07] catrobson commented on #1363
Unfortunately green and red icon are too thin for the color and don't show up on the dark black header, which is why it is white.  I'll talk to the team about whether we can put a indicator on the icon that there is a problem in the problem state, or at least turn the icon to the proper icon (x) if there is a problem.

[2017-11-17 19:10] catrobson commented on #1392
@mindreeper2420 thanks - that sounds good to me.

[2017-11-17 19:59] qodfathr commented on #1392
This is essentially a temporary solution to meet an **immediate** need. We absolutely need to move to a more flexible, "HTML-based" solution longer term.

[2017-11-17 20:07] msrb opened #1394 "dependency_snapshot worker fails with ValueError: need more than 2 values to unpack"
dependency_snapshot task fails for `go:github.com/dhowett/go-plist:233df3c4f07b0c562da0e8a6fb850681ac49bb90`

[code]

[2017-11-17 20:10] msrb commented on #1394
cc @tuxdna

Saleem, could you please take a look what's wrong here?

[2017-11-17 20:49] aslakknutsen commented on #948
I've noted down these as currently missing for the complete flow between registration, auth and tenant. (they might overlap with some above)

- [ ] the OS registration app doesn't send us the info
- [ ] auth can't receive the info
- [ ] auth doesn't send it to tenant service
- [ ] the flow should change from tenant init on user registration/approval instead of first access
- [ ] tenant can't recei

[2017-11-17 20:49] andrewazores opened #1395 "DeploymentsService should be injected via InjectionToken"
`DeploymentsService` already has the associated `IDeploymentsService` and `DEPLOYMENTS_SERVICE` InjectionToken, which helped with unit tests mocking the service. All DI sites using `DeploymentsService` should instead use `@Inject(DEPLOYMENTS_SERVICE)` and type the parameter as `IDeploymentsService`. The apps.module also needs to be modified to properly provide the service via InjectionToken.

(Not

[2017-11-17 21:26] alexeykazakov commented on #948
Sure @aslakknutsen. And I will update the list above with links to the issues we are currently working on.

[2017-11-17 21:29] qodfathr commented on #1392
@mindreeper2420 is /osiogettingstarted.pdf an acceptable filename / URL? I have a revised document (slightly different than the one I shared with you earlier) if you want to tell me into which directory in the repo to place it. I'll fork and generate a PR based upon your instructions.

[2017-11-17 21:56] mindreeper2420 commented on #1392
@qodfathr the PR is in place (#1396) for this addition. I've added it to the route of the directory, so that it is a lot easier to access. Once that PR is merged, you can create a PR for that file, and it will update accordingly.

[2017-11-17 22:07] andrewazores opened #1397 "Do not in-place replace runtime console"
The new Deployments component should be implemented as its own top-level component with a menu item at Create > Deployments, so that it is adjacent to the existing Applications (runtime console), and behind a NODE_ENV guard so that it is invisible in prod-preview/prod. This allows the runtime console to be left fully intact, and when the time comes to replace runtime console, it is a much cleaner

[2017-11-17 22:09] #1373 closed

[2017-11-17 22:12] andrewazores commented on #1382
See https://github.com/openshiftio/openshift.io/issues/1397

[2017-11-17 22:25] mindreeper2420 commented on #1375
@maxandersen subsequent emails should have the logo in place, as it now resides in the app. If you could, please verify and close if fixed. Thanks!

[2017-11-17 23:51] maxandersen commented on #1375
I haven't received a mail the last 7 hours - so can't verify yet; but if the file is now available shouldn't existing mails load it fine ? If yes, then something is wrong as it doesn't load for me yet.

And https://openshift.io/_openshiftio/assets/images/openshift_logo_black.png don't exist. Maybe it haven't deployed yet ?

[2017-11-18 00:13] mindreeper2420 commented on #1393
A fix will be coming that will update the handling of redirects. Should be in by the beginning of next week.

[2017-11-18 00:13] joshuawilson commented on #1393
great, thanks

[2017-11-18 03:35] joshuawilson commented on #1336
@Rydekull are you still seeing this?

[2017-11-18 13:49] msrb opened #1398 "[2] Configure SQS queues only once per deployment"
# Description

Currently we configure SQS every time when worker container starts. We can have dozens of worker containers and thus we'd be configuring SQS from all of them, at the same time. And we do it once again when containers get restarted. This was implemented recently and I noticed a lot of "Request is throttled" error messages in logs.

I think we should configure queues only once per dep

[2017-11-18 14:29] joshuawilson commented on #1179
@mindreeper2420 this is not fixed. If you reduce the screen height so that it will need a scroll bar then the "plus" moves as the scroll bar tries to appear.

[2017-11-18 14:36] joshuawilson commented on #1032
@gnufied if you think this is important, please file an issue as an enhancement. I'm closing this since your question was answered.

[2017-11-18 14:36] #1032 closed

[2017-11-18 15:38] rkratky commented on #1392
@catrobson, @joshuawilson, we already have our docs (including an onboarding doc) built as both HTML and PDF. You can see that at https://docs.prod-preview.openshift.io/ -- these get automatically rebuilt with every update.

This is ready to be deployoed on doc.openshift.io whenever we get the go-ahead from Todd.

[2017-11-18 16:09] qodfathr commented on #1392
@rkratky the user guide and on boarding documentation you reference were based, in part, upon other non-canonical (e.g. the first several revisions of the workshop document) or outdated sources (e.g. the glossary) and, as such, has issues related to the naming of things, the messaging behind certain capabilities, etc. Not a fault of the documentation team, but it will take some degree of effort to

[2017-11-18 16:21] rkratky commented on #1392
@qodfathr, we're working on that right now. That said, it would be of great help if people could start filing issues in https://github.com/fabric8io/fabric8-online-docs/issues

I filed https://github.com/fabric8io/fabric8-online-docs/issues/70 -- more input/details would be appreciated.

[2017-11-18 20:34] joshuawilson commented on #919
@ashumilova this is an interesting idea that is worth thinking about.

[2017-11-18 21:14] joshuawilson commented on #894
@ldimaggi if you can confirm this, please reopen

[2017-11-18 21:14] #894 closed

[2017-11-18 21:17] joshuawilson commented on #865
@catrobson what do you want to do with this?

[2017-11-18 21:35] joshuawilson commented on #777
Is this fixed?

[2017-11-18 21:42] joshuawilson commented on #521
@mindreeper2420 can you look at this too, please.

[2017-11-18 21:44] joshuawilson commented on #453
Closing, if this is still an issue please reopen.

[2017-11-18 21:44] #453 closed

[2017-11-18 21:51] joshuawilson commented on #308
Closing as this should be fixed, please reopen if needed.

[2017-11-18 21:51] #308 closed

[2017-11-18 23:32] joshuawilson commented on #936
Closing as it is being tracked at #286

[2017-11-18 23:32] #936 closed

[2017-11-18 23:42] joshuawilson opened #1399 "Open source Spaces on OpenShift.io may be browsed anonymously"
When the user is not logged in or viewing someone else's account there are certain fields and elements that they can NOT access. These elements need restricting.

@catrobson has a list that we can start with at: https://docs.google.com/a/redhat.com/spreadsheets/d/1cNSDuek0v1EBPpdPlFwG_Y_yOlux86m9MYf9UrF82l4/edit?usp=drive_web

## Parent Scenario
#2159 A world of open source Scenario placeholder

[2017-11-18 23:46] joshuawilson commented on #935
Closing as the list of pages was captured. We will track the task at #1399.

[2017-11-18 23:46] #935 closed

[2017-11-18 23:48] joshuawilson commented on #933
This has been fixed, closing.

[2017-11-18 23:48] #933 closed

[2017-11-19 00:08] joshuawilson commented on #921
@mindreeper2420 can you add this to your list.

[2017-11-19 01:53] joshuawilson commented on #917
@krishnapaparaju I think this fits into what you are trying to do.

[2017-11-19 01:57] joshuawilson commented on #916
@catrobson @qodfathr are you considering a change in the flow?

[2017-11-19 02:06] joshuawilson commented on #915
This falls under User-Story #478

[2017-11-19 02:18] joshuawilson commented on #913
@qodfathr @catrobson what do you think of this?

[2017-11-19 02:21] joshuawilson commented on #910
@mindreeper2420 aren't you working on something related to this?

[2017-11-19 02:23] mindreeper2420 commented on #910
There is currently a UX story in place for a design of a ‘not authorized’ page.

fabric8-UX story: https://github.com/fabric8-ui/fabric8-ux/issues/686

[2017-11-19 02:23] qodfathr commented on #913
Looks interesting and I understand the problem it is trying to address. Let's put on the backlog for consideration in I train.

[2017-11-19 02:28] mindreeper2420 commented on #1179
@dlabrecq can you assist? The more I look at it, the more it feels like the bootstrap-tooltip module is having issues.

[2017-11-19 02:33] joshuawilson commented on #906
@alexeykazakov fixed by the new proxy we are setting up?

[2017-11-19 02:36] joshuawilson commented on #905
@catrobson were you able to look into this?

@qodfathr what do you think?

[2017-11-19 02:38] joshuawilson commented on #904
@catrobson can you please consider this and share it with whoever is doing the designs.

[2017-11-19 02:50] joshuawilson commented on #868
related to #1399

[2017-11-19 02:55] joshuawilson commented on #858
I'm closing as this has been finished.

[2017-11-19 02:55] #858 closed

[2017-11-19 02:58] joshuawilson commented on #819
Fixing this should also eliminate the need for incognito mode.

[2017-11-19 02:59] joshuawilson commented on #819
@dgutride maybe you could take a look at this.

[2017-11-19 03:06] joshuawilson commented on #678
@catrobson has this been added to the designs?

[2017-11-19 03:08] joshuawilson commented on #677
Closing as this has been fixed.

[2017-11-19 03:08] #677 closed

[2017-11-19 03:10] joshuawilson commented on #626
related to #1399

[2017-11-19 03:11] alexeykazakov commented on #777
openshift-io user is now the creator of the repo. But it’s rather a workaround. The proper solution should be a fix in the app wizard (forge) which should properly load the GitHub user email and use it to create the first commit.

[2017-11-19 03:16] joshuawilson commented on #625
Closing as the page has been updated. Please reopen if there are still concerns.

[2017-11-19 03:16] #625 closed

[2017-11-19 03:18] joshuawilson commented on #543
@catrobson is this something that is still under design?

[2017-11-19 03:27] alexeykazakov commented on #906
The main issue here is that the use can create a namespace manually before OSIO initiates the tenant. It happens for example when users logs into OpenShift.com after approval and then starts creating projects before logging into OSIO. Then OSIO is screwed.
The OSO proxy won’t solve this problem.
This will be fixed if we refactor our registration flow and start initiating tenant as part of approval

[2017-11-19 03:31] alexeykazakov commented on #906
I think we can close this issue. This particular problem with this user was manually fixed. The general solution will be addressed as part of our multi cluster support effort - https://github.com/openshiftio/openshift.io/issues/948#issuecomment-345361433

[2017-11-19 05:15] joshuawilson commented on #906
Thanks, closing.

[2017-11-19 05:15] #906 closed

[2017-11-19 05:17] joshuawilson commented on #777
@gastaldi can you add this to your list of things to do?

[2017-11-19 05:31] joshuawilson commented on #1299
Can this be closed?

[2017-11-19 05:37] joshuawilson commented on #1170
@krishnapaparaju is this still an issue for you?

[2017-11-19 05:39] joshuawilson commented on #1155
@mindreeper2420 are you able to reproduce it?

[2017-11-19 05:43] joshuawilson commented on #1056
Closing as this is fixed.

[2017-11-19 05:43] #1056 closed

[2017-11-19 06:09] joshuawilson commented on #945
@ldimaggi are you still seeing this?

[2017-11-19 06:13] joshuawilson commented on #825
Closing as this hasn't been seen in a while.
@rafabene if you see it again, please reopen.

[2017-11-19 06:13] #825 closed

[2017-11-19 06:16] joshuawilson commented on #814
@krishnapaparaju all bugs need a `SEV`. I'll set it to `SEV3`, but please change it to what you think is right.

[2017-11-19 13:25] gastaldi commented on #777
I can have a look, unless one of the openshiftio addon maintainers does it first (/cc @jrawlings @jstrachan).

In launchpad-missioncontol (which is used in fabric8-launch but not in the openshiftio addon - wait until our unified codebase efforts are done), we use openshiftio-launchpad as the initial commit user: https://github.com/fabric8-launch/launchpad-missioncontrol/blob/master/services/github

[2017-11-19 15:25] joshuawilson commented on #769
Has this been fixed?

[2017-11-19 16:51] qodfathr commented on #905
I'm not sure what I think of this. I can argue both for and against it. My recommendation is to hold off until we can A/B test it.

[2017-11-19 16:57] joshuawilson commented on #768
Was this fixed?

[2017-11-19 17:10] joshuawilson commented on #751
@ALRubinger were your PR's merged?

[2017-11-19 17:19] joshuawilson commented on #679
@jstrachan can you take a look at the content @omajid provided.

[2017-11-19 19:14] joshuawilson commented on #655
@ldimaggi are you still seeing this?

[2017-11-19 19:21] joshuawilson commented on #632
@ldimaggi are you still seeing this?

[2017-11-19 19:43] msrb commented on #1244
@pkajaba I think we will need to bump spec file before we build an RPM.

[2017-11-19 20:00] joshuawilson commented on #552
@nimishamukherjee has this been fixed?

[2017-11-19 20:14] joshuawilson commented on #513
Closing, if this is still an issue please reopen.

[2017-11-19 20:14] #513 closed

[2017-11-19 20:30] joshuawilson commented on #504
Closing as this has been fixed for a while and we have a new flow in place too.

[2017-11-19 20:30] #504 closed

[2017-11-19 21:50] joshuawilson commented on #429
@ldimaggi can we close or can you reproduce this?

[2017-11-19 21:55] joshuawilson commented on #423
@ldimaggi is this still an issue?

[2017-11-19 22:41] joshuawilson commented on #408
@krishnapaparaju can you work with @gastaldi to get the quickstarts fixed?

[2017-11-19 23:01] joshuawilson commented on #304
Fixed in https://github.com/fabric8-ui/fabric8-ui/pull/1713

[2017-11-19 23:01] #304 closed

[2017-11-19 23:09] joshuawilson commented on #257
Can this be closed?

[2017-11-19 23:10] joshuawilson commented on #90
@alexeykazakov has this been fixed?

[2017-11-20 00:03] #1342 closed

[2017-11-20 00:06] joshuawilson commented on #627
Closing as this appears fixed. If you see this again, please reopen.

[2017-11-20 00:27] joshuawilson commented on #1034
Is this still an issue?

[2017-11-20 01:13] joshuawilson commented on #277
Appears resolved, closing.

[2017-11-20 01:13] #277 closed