[2018-01-24 04:42] mishaone commented on #2001
And again just now when I was updating my experimental features settings to production only (ignore the second green profile updated thing, this is a composite of two images because I have to scroll down in my browser):

![1](https://user-images.githubusercontent.com/926572/35314888-d9585f88-0114-11e8-8971-a2798fb2cbc7.png)

[2018-01-24 06:30] joshuawilson commented on #2001
I've seen this kind of duplication of the UI components under the Create tab but never on Profile.

Do you have a reliable way to reproduce it?

[2018-01-24 06:33] mishaone commented on #2001
Not really. It seems to come up now and then if I'm resetting the environment and then creating a space and then quickstart again a few times. Maybe the stress of resetting several times over a period of a few hours makes it happen? I'll try and post here if I see it again and what specific circumstances prompted it this time.

[2018-01-24 06:59] nimishamukherjee commented on #1984
@michaelkleinhenz @aslakknutsen I see this issue for child work items.
The state gets updated for top level work items but not for child work items.

[2018-01-24 07:33] rootAvish opened #2002 "Experimenting autoencoder based approaches for NPM insights"
### User Story

As an OSIO/IDE-extensions user I should be able to pass in a stack so that I can get companion/alternate and outlier insights for its components.

### Description

In the [previous experiment done to achieve this target](#1802) it became clear at the start that simply porting the existing model to a different library/framework is not a good approach to tackle large ecosystems, and

[2018-01-24 07:34] rootAvish commented on #2002
/cc @sivaavkd @krishnapaparaju - this is the issue for the work I'll be doing around the autoencoder approaches, the HPF stuff will be documented in a separate issue.

[2018-01-24 07:47] corinnekrych opened #2003 "f8-toggles-service to support cumulative level"
Reafactor https://github.com/fabric8-services/fabric8-toggles-service/blob/master/featuretoggles/enablebylevel_strategy.go#L25-L28 to ba able to support cumulative level. Atm when PM enters a `beta` feature in unleash admin ui he has to set `internal` OR `experimental` or `beta`.
With this refactor he could just set `beat` (which will still include internal and experimental level)

[2018-01-24 07:48] sara-02 opened #2004 "[POC] Framework for auto-encoder based approaches for recommendations for NPM"
## User Story:
As an consumer of Fabric8-Analytics stack report, I should be able to get companion/outlier insights for my NPM stack via the new approach.

## Acceptance Criteria:
Prepare the framework for auto-encoder based approaches as described in [this](https://github.com/openshiftio/openshift.io/issues/2002) issue.

## Task List:
- [x] Data Cleaning
- [x] Data Preparation: Generate the Ratin

[2018-01-24 08:05] GeetikaBatra commented on #1971
@nickboldt and @krishnapaparaju
Following are the items left from development point of view.

- [ ] Replace all printStackTrace and System.out.println calls with proper logging(fabric8-analytics/fabric8-analytics-devstudio-plugin#149)
- [ ] Refactor plugins(fabric8-analytics/fabric8-analytics-devstudio-plugin#143)

[2018-01-24 08:05] pkajaba commented on #834
@samuzzal-choudhury your representation seems correct to me. I am closing it

[2018-01-24 08:05] #834 closed

[2018-01-24 08:22] msrb opened #2005 "Try to determine ecosystem from NVD data"
# Description

In this spike we want to try to find out if it's possible to determine ecosystem for CVE entries in NVD. Knowing which ecosystem is affected by a particular CVE would help us narrow down the set of possible package names.

Example:
[code]

Above is a CVE for Maven package `org.codehaus.plexus:plexus-utils`. Humans can figure it out, but we'd like to try to automate this, if possible

[2018-01-24 08:50] msrb opened #2006 "Determine version ranges from NVD data"
# Description

In this spike we want to try to find a way how to extract version ranges from NVD data. Version range is a range that determines which versions of a component are affected by given vulnerability.

NVD plans to improve the format how affected versions are identified: https://nvd.nist.gov/General/News/CPE-Range-Notification
But it's very likely that old entries will not be migrated to

[2018-01-24 08:53] msrb commented on #2005
cc @abs51295 @CermakM

[2018-01-24 08:53] msrb commented on #2006
cc @abs51295 @CermakM

[2018-01-24 09:09] msrb opened #2007 "Collect requirements for collecting manifest files from GitHub"
# Description

We need to collect proper requirements for the job that collects manifest files from GitHub.

- what is the input for the job?
- what is the expected output? (`manifest.json`?)
- who/how/when will consume the results of this job?
- where to store the output?
    - if on S3, what's the expected structure of the bucket?
- do we need to refresh the data?
    - if so, how often?
    - i

[2018-01-24 09:12] msrb commented on #2007
cc @miteshvp

[2018-01-24 09:13] msrb commented on #2005
Guys, first step is to explore the NVD data so you have an idea what's inside.

[2018-01-24 09:16] msrb commented on #2007
We need to do this first, before we start improving/rewriting the job.

[2018-01-24 09:24] rgarg1 commented on #1984
@nimishamukherjee @michaelkleinhenz @aslakknutsen I could see the issue with statuses of child workitems. This is a refresh issue, and the updated status is displayed on page refresh.

[2018-01-24 09:35] ibuziuk commented on #1991
`Status 404 Error Not Found Message Not Found Trace
io.fabric8.che.starter.exception.StackNotFoundException: Stack with id 'WildFly Swarm' was not found
	at io.fabric8.che.starter.client.StackClient.getStack(StackClient.java:63)
	at io.fabric8.che.starter.client.WorkspaceClient.createWorkspace(WorkspaceClient.java:140)
	at io.fabric8.che.starter.client.WorkspaceClient$$FastClassBySpringCGLIB$$9ee2

[2018-01-24 09:35] maxandersen commented on #239
closing as main gist of this around idling jenkins is tracked in https://github.com/openshiftio/openshift.io/issues/1245

[2018-01-24 09:35] #239 closed

[2018-01-24 09:37] #2003 closed

[2018-01-24 09:39] msrb commented on #2007
We can create more tasks once it's clear what is it we are trying to achieve.

[2018-01-24 09:40] #1330 closed

[2018-01-24 09:44] gastaldi commented on #1991
Thanks Ilya, I pushed a fix to launcher-backend. @ldimaggi can you test again in prod-preview once https://ci.centos.org/view/Devtools/job/devtools-launcher-backend-generator-build-master/105/console finishes?

[2018-01-24 09:49] pkajaba commented on #1792
@krishnapaparaju have you tried researching for existing projects? I stumbled upon this after short search https://github.com/randoop/randoop

[2018-01-24 10:01] ibuziuk commented on #1991
works for me on prod-preview, but will let @ldimaggi to verify & close

[2018-01-24 10:06] ibuziuk commented on #1789
@ldimaggi I can not reproduce this issue. Can we close or you still facing it ?

[2018-01-24 10:09] arunkumars08 commented on #1235
@samuzzal-choudhury I think you can close this issue as another revamp has happened and that is tracked here - https://github.com/openshiftio/openshift.io/issues/1773

[2018-01-24 10:10] arunkumars08 commented on #1488
Closing this as design has been changed for the new-revamp which will be in prod.

[2018-01-24 10:10] #1488 closed

[2018-01-24 10:11] arunkumars08 commented on #1511
@sanketpathak Currently, the progress bar doesn't appear. Please close it if you think it works fine.

[2018-01-24 10:16] arunkumars08 commented on #1769
Closing this issue as it is no more reproducible.

[2018-01-24 10:16] #1769 closed

[2018-01-24 10:19] arunkumars08 commented on #1874
@ldimaggi Could you still reproduce the issue? Meaning is it still intermittent?

[2018-01-24 10:23] #1978 closed

[2018-01-24 10:24] sunilk747 commented on #986
@miteshvp Can we close it? AFAIK we are not proceeding with machine generating stack.

[2018-01-24 10:24] miteshvp opened #2008 "Show alternate version for components with CVEs"
Currently in stack-analyses we just flag the package if it has CVE. We should extend the use-case of component-analyses where we recommend a better alternate version without any CVEs.

[2018-01-24 10:55] humaton opened #2009 "Decouple deployment scripts from tests in fabric8-analytics-common"
fabric8-analytics-common repository has become a mess.
We currently have tests, openshift and docker-compose deployments scripts and a couple of other things in it.

I suggest creating a new repository for tests. fabric8-analytics-tests
And use common repo for deployment-related scripts.

[2018-01-24 11:13] ibuziuk commented on #875
@sleshchenko @l0rd  am I correct that in che6 it was decided to create pods directly without usage of dc (same manner as used for jenkins pod are currently been created on osio) ?

[2018-01-24 11:14] sleshchenko commented on #875
@ibuziuk Yes, you're correct.

[2018-01-24 11:15] ibuziuk commented on #914
Upstream issue https://github.com/eclipse/che/issues/5006

[2018-01-24 11:19] ibuziuk commented on #875
If there is no objections the issue should be closed as outdated once che6 would be used on osio

[2018-01-24 11:27] msrb opened #2010 "Expose data from monitored_upstreams table via API"
# Description

We store project URLs in `monitored_upstreams` table in RDS. The problem is that there is no easy way how to check what data we have there (no `psql` in prod). Therefore we want to expose the data via API.

Note OSIO users don't need to know what's in there. This is just for us.

[2018-01-24 11:29] ibuziuk commented on #1020
@ldimaggi current version of che on osio is `5.22.1` which contains the fix.
Also with multi-tenant che server all the logs are consolidated in one place and json format is used.
The issue was created for single-tenant che, so it also can be treated as out-of-dated. Are you ok to close it as fixed ?

[2018-01-24 11:34] msrb opened #2011 "CVE job produces duplicates"
# Description

Our new Jenkins job that runs once a day and tries to find new CVEs for Maven packages produces duplicates, i.e. opens PRs for CVEs that already exist in our DB.

[2018-01-24 11:37] ibuziuk commented on #1411
@l0rd do you happen to know if @vrubezhny is working on verification of this issue on osio ?

[2018-01-24 11:40] ibuziuk commented on #1423
@qodfathr yeah, I think we can close it - version of the service (not only che) should be obtained as part of  https://github.com/openshiftio/openshift.io/issues/1870

[2018-01-24 11:40] #1423 closed

[2018-01-24 11:43] ibuziuk commented on #1502
Should be closed after switching to che6

[2018-01-24 11:46] skabashnyuk commented on #1411
@ibuziuk FYI it would be much easier to do with che6 in comparison to che5

[2018-01-24 11:48] ibuziuk commented on #1620
@rhopp is it still reproducible ?

[2018-01-24 11:52] ibuziuk commented on #1699
@slemeur PR to che-starter is merged and promoted to prod - Closing

[2018-01-24 11:52] #1699 closed

[2018-01-24 12:42] tisnik opened #2012 "The 'latest_version' property has empty value in the stage graph database"
The `latest_version` values for packages seems not to be consistent, at least on the Stage Graph database. Sometimes the value is set simply set to empty string.

Reproducer:

[code]

Actual output:

[code]

Expected output:

[code]

[2018-01-24 12:42] tisnik commented on #2012
@msrb FYI

[2018-01-24 12:58] pkettman commented on #182
@joshuawilson I think it would be still valuable to link the user docs also from the "Learn More" page if possible, as it's accessible & visible directly from the Account Homepage as an initial page to start & learn, also the "containerized development and deployment" link points to the comprehensive OCP docs.

I was also looking for a user manual on "Learn more" first, then gave up and afterwards

[2018-01-24 13:02] rhopp commented on #1620
Yes. Deleting multiple workspaces at once spawns multiple "delete-<wkspc-name>" pods and it seems like they are racing for mounting the same volume.
But it is more like a cosmetic thing... Given enough time, they all manage to succesfully mount the volume, do their thing and die ;-)

[2018-01-24 13:14] msrb commented on #1765
@pkajaba I think we can delete the deployments. If we don't depend on them in the code, then there is no reason keeping them around (IMO).

[2018-01-24 13:16] msrb commented on #1765
Of course we can just scale them down for now and delete them once it's clear we won't need to rollback  from some reason.

[2018-01-24 13:19] #1961 closed

[2018-01-24 13:21] msrb commented on #2012
@miteshvp can we run the reproducer also against prod graph DB?

[2018-01-24 13:21] slemeur commented on #1699
Thanks @ibuziuk

[2018-01-24 13:24] slemeur commented on #1502
The icon has been changed but the interaction are going to be improved as part of the current sprint: Upstream issue https://github.com/eclipse/che/issues/7715

[2018-01-24 13:30] #1767 closed

[2018-01-24 13:32] ibuziuk commented on #1620
@rhopp ok, this looks like infra ebs thingy. Am I correct that this has no impact from the user-perspective ? if so, I would probably set it as low priority

[2018-01-24 13:43] slemeur commented on #1193
Agree having an XML LS, close to the [YAML LS](https://github.com/redhat-developer/yaml-language-server) would be a great addition to upstream Che and we could leverage it on OSIO.

It is not in the priorities for Che at this moment, but we should discuss about the effort for this with @JPinkney.

@apupier : Would it be something your team could consider contributing?

[2018-01-24 13:46] mitchharpur opened #2013 "Hypothesis Engine UX Epic"
## Goal
- Elaborate validate and explore the user experience that will be offered by the hypothesis engine.
- Implement  CI/CD mechanism that will deploy internal storage and 3 public api endpoints that will collectively form the hypothesis engine .

## Stretch goal
- Interactive html prototype.

## Acceptance Criteria
- A slide deck showcasing the interactive experience and serve as a basis for o

[2018-01-24 13:48] apupier commented on #1193
I doubt as providing the Apache Camel Language Server is already not an high priority. But you can still try to negotiate with the Fuse Product Managers. (Personally, I would say "go for it" :-))

[2018-01-24 13:52] rhopp commented on #1620
The only scenario affecting user I could imagine is:
1) delete multiple workspaces
2) immediately start new workspace

In this case, I think, the workspace pod could enter the race for volume with those "delete-<name>" pods.
But this theory is not confirmed (I didn't try this).
Setting this issue to low priority is ok with me.

[2018-01-24 13:53] qodfathr commented on #1540
Closing as working as designed; however, as @joshuawilson points out, #1542 may result in a design change.

[2018-01-24 13:53] #1540 closed

[2018-01-24 13:55] msrb commented on #1891
That's what I thought. Thanks @pkajaba 😉

[2018-01-24 13:55] #1891 closed

[2018-01-24 13:58] fche commented on #948
For OSO tenant monitoring, we will only need https://github.com/fabric8-services/fabric8-tenant/issues/369 - the tenant enumeration API that gives us the cluster+tenant route base URLs.

[2018-01-24 13:59] qodfathr commented on #1542
As a stop-gap measure, would it help if we just moved the validation DIV to below the Create button? That would seemingly stop the distracting jumping and let us close this issue. Any redesign should be tracked separately.

[2018-01-24 14:01] qodfathr commented on #1544
Fixed.

[2018-01-24 14:01] #1544 closed

[2018-01-24 14:03] mindreeper2420 commented on #1998
@mishaone we are currently looking at a refresh of the entire IA, so I will add this to the list. Thank you for the heads up! :)

[2018-01-24 14:05] qodfathr opened #2014 "Stack Report Create Work Item notification pop-up has link which opens in new browser tab"
1. Open a stack report with a Create Work Item on a suggestion
2. Observe the notification pop-up that a work item has been added to the planner.
3. Click link the the notification
4. Work item details is opened in a new browser tab rather than the current tab

This this the intended behavior?

[2018-01-24 14:05] mindreeper2420 commented on #1911
@joshuawilson I believe this can be closed, unless it has not been pushed to prod yet.

[2018-01-24 14:05] qodfathr commented on #2014
@catrobson mainly a question to your team for now. Not sure if this is a bug or not.

[2018-01-24 14:16] gastaldi commented on #1991
I updated production with the fix. @ldimaggi please retest and close this issue if your tests pass

[2018-01-24 14:16] michaelkleinhenz commented on #1933
Experiencing random failures on Planner UI builds as well. The failures come up in different stages.

Examples would be even before npm kicks in, while npm is running with either timeouts on resolving dependencies, getting timeouts on the functional tests (while interacting with the Chrome instance) or failures with no visible reason (the log just stops with no visible error or exit or even empty

[2018-01-24 14:16] michaelkleinhenz commented on #1933
This looks familiar: https://github.com/npm/npm/issues/9884

[2018-01-24 14:19] msrb commented on #2009
cc @tisnik

[2018-01-24 14:30] l0rd commented on #1411
@ibuziuk yes @vrubezhny should be working on this issue.

@skabashnyuk yes actually @vrubezhny should verify that with Che6 this is fixed.

[2018-01-24 14:36] qodfathr opened #2015 "OpenShift.io registration and on-boarding process is Pleasant and Inviting"
First impressions matter.

When a user first registers to join OpenShift.io, it should be a friction-free experience, getting them into the product as quickly as possible and immediately engaged with their first learning actions.

## Supporting Value Propositions

## Realizing Experiences
- [ ] #286 OSIO Register, Sign up, login flow
- [ ] #2109 OpenShift.io registration queuing
- [ ] #2884 First

[2018-01-24 14:37] gastaldi commented on #1684
I'll do it. What is the proxy URL?

[2018-01-24 14:39] qodfathr opened #2016 "OpenShift.io has best-of-breed performance"
## Supporting Value Propositions

## Realizing Experiences

[2018-01-24 14:40] qodfathr opened #2017 "OpenShift.io has best-of-breed stability"
## Supporting Value Propositions

## Realizing Experiences

[2018-01-24 14:45] qodfathr opened #2018 "OpenShift.io adheres to the standards of an open web"
## Supporting Value Propositions

## Realizing Experiences

[2018-01-24 14:48] alexeykazakov commented on #1684
@gastaldi https://github.com/redhat-developer/rh-che/pull/514#issuecomment-360005601

[2018-01-24 14:54] qodfathr opened #2019 "OpenShift quota management can be difficult"
When a developer is using OpenShift as their development platform, especially when it is a shared platform for which they do not have complete or direct control or one on which they have been granted limited resources, it can be difficult to manage the various OpenShift artifacts (applications, memory, cores, routes, services, etc.) within these constraints. These resource constraints can lead to

[2018-01-24 14:58] gastaldi commented on #1684
I created https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1164 asking to update the OSIO OPENSHIFT API URL. Once that is done, we can merge https://github.com/fabric8-launcher/launcher-backend/pull/34

[2018-01-24 15:05] jiekang opened #2020 "Unsubscribe deployments service subscriptions when service is destroyed"
The deployments service has a few subscribe calls. The return value should probably be stored so they can be unsubscribed. I believe the service can have an ngOnDestroy like the other components.

[2018-01-24 15:11] qodfathr opened #2021 "Collecting feedback from users to influence future project planning"
Successful projects and products nearly always have a way to collect meaningful and actionable feedback from their users of those projects and products. Yet it is not enough to collect this feedback nor to simply accept all of it with equal weight. Ultimately, success is ensured through the careful curation of this feedback.

When the work to be done in a project is managed via work items (regardl

[2018-01-24 15:16] ldimaggi commented on #1991
Closing - it's fixed in production:

![screenshot from 2018-01-24 10-13-18](https://user-images.githubusercontent.com/642621/35339821-94b0d9fc-00ef-11e8-86df-2165ee2db12e.png)

(The issue related to the "run" command missing may have returned - will investigate and log that in a separate issue.)

[2018-01-24 15:16] #1991 closed

[2018-01-24 15:23] ldimaggi opened #2022 "Che "run" command missing for Wildfly Swarm quickstarts"
Just spotted this on https://openshift.io

Steps to recreate:
* Create new WildFly Swarm quickstart
* Create new Che workspace for that quickstart

[2018-01-24 15:23] ldimaggi commented on #2022
![screenshot from 2018-01-24 10-13-18](https://user-images.githubusercontent.com/642621/35340269-a9fe19ea-00f0-11e8-99d5-698f1ee466a1.png)

[2018-01-24 15:28] gastaldi commented on #1684
Proxy URLs for reference:

Staging:  https://f8osoproxy-test-dsaas-preview.b6ff.rh-idev.openshiftapps.com
Production: https://f8osoproxy-test-dsaas-production.09b5.dsaas.openshiftapps.com

[2018-01-24 15:30] tisnik opened #2023 "Several property values are stored as strings instead of ints in the Graph DB"
Some values taken from the Libraries.io are stored as strings in the graph database:

[code]

Is it expected behaviour? And what's the reason for having such 'schema'?

[2018-01-24 15:30] tisnik commented on #2023
@msrb FYI

[2018-01-24 15:47] maxandersen commented on #1501
is this in prod yet ? i'm still not seeing issues unless i'm logged in and have enabled experimental ?

[2018-01-24 15:53] apupier opened #2024 "[Che]Provide Apache Camel completion using Apache Camel Language Server"
The Apache Camel Language Server is available here https://github.com/lhein/camel-language-server

it will be useful for Red Hat JBoss Fuse and Apache Camel projects.

The Apache Camel Language Server is providing completion for a specific xml attribute. It will then be very useful to have an XML LSP also available, see https://github.com/openshiftio/openshift.io/issues/1193

[2018-01-24 15:56] miteshvp commented on #986
Closing this issue as its being followed as one of the task items in
https://github.com/openshiftio/openshift.io/issues/1971 and https://github.com/openshiftio/openshift.io/issues/1935

[2018-01-24 15:56] #986 closed

[2018-01-24 16:04] msrb commented on #2009
@humaton dup? https://github.com/openshiftio/openshift.io/issues/1383

[2018-01-24 16:09] miteshvp commented on #2023
@tisnik - libio data is represented in string format. e.g something like `85k`, `4.1k`, etc. as seen in the image.
<img width="388" alt="image" src="https://user-images.githubusercontent.com/17736013/35342833-0b92cefe-014f-11e8-9b3c-7cb901680c38.png">
 Hence this notion. Please close this issue if this helps.

[2018-01-24 16:22] tisnik commented on #2023
@miteshvp thanks for clarification, I thought it is based on input data. Are we planning to use such numbers for (any) computation?

[2018-01-24 16:24] ldimaggi commented on #1020
Yes - that's fine - closing. Thx!

[2018-01-24 16:24] #1020 closed

[2018-01-24 16:25] miteshvp commented on #2023
AFAIK, we do not have any such plans around libio data sets.

[2018-01-24 16:25] ldimaggi commented on #1874
Haven't seen this issue recently - closing.

[2018-01-24 16:25] #1874 closed

[2018-01-24 16:35] miteshvp commented on #2012
Yes definitely, but if I may ask, what is the use of this exercise?. FWIW, I've got first 50 packages in prod that are having the same issue as latest_version as ''. We need to cross-check with each of them in S3 buckets metajson for the latest version. I checked one for `msv:relaxngDatatype` and `version:20030807` from the file `20030807.json` and latest_version is null. So that is more an expect

[2018-01-24 16:38] tisnik commented on #2023
Cool, thanks @miteshvp for explanation. let's close this question then :)

[2018-01-24 16:38] #2023 closed

[2018-01-24 16:55] jiekang opened #2025 "Remove a-runtime-console code in fabric8-ui"
Tracking issue for removing the `fabric8-ui` code under the folder `src/a-runtime-console`

[2018-01-24 17:01] tisnik commented on #2012
@msrb @miteshvp we need to figure out where is the origin of this issue (data crawlers? Postgress->S3?, S3->Graph?). All packages checked by the script mostly has >= 2 versions stored in the graph DB, so the info about latest_version is availabe.

[2018-01-24 17:33] ibuziuk commented on #1683
@alexeykazakov @aslakknutsen che with oso-proxy is deployed on prod-preview and quick start scenario seems to work just fine \o/

[2018-01-24 17:49] ibuziuk commented on #2022
PR is sent https://github.com/redhat-developer/rh-che/pull/527

[2018-01-24 17:51] gastaldi commented on #1684
Changed in prod-preview.

[2018-01-24 17:56] gastaldi commented on #1684
It works in Prod-preview for me. Can someone test that too?

[2018-01-24 17:58] jfchevrette commented on #1637
What I have seen in the past is that OpenShift API calls return before the actual backing resources are deleted (which can take some time as pods are gracefully terminated, etc..). If we immediately try to re-create namespaces and/or resources before OpenShift has had the time to terminate them, this can result in a tenant that is half reset (or half recreated)

One potential solution would be to

[2018-01-24 18:03] aslakknutsen commented on #1637
@jfchevrette That is a known issue, but the effect has been that it can't create the namespace. While you can't see the namespace it's hanging in the backend waiting for the Jenkins/Che to shutdown so the API return a naming conflict when tenant tries to recreate the namespace. Never seen it fail on a single DC.

[2018-01-24 18:06] jfchevrette commented on #1301
Yes I am still having this issue in production.

Attached screenshot should be clear. Let me know if I can provide more info.

![pipeline-bad-link](https://user-images.githubusercontent.com/3001/35348864-5edf3f7c-0107-11e8-9a6c-f317db778c68.png)

[2018-01-24 18:07] aslakknutsen commented on #1442
We can't support this in OSO Free, as only 1 user can have access to a namespace. This would be part of the general 'Collaboration' model.

[2018-01-24 18:33] qodfathr opened #2026 "Finding meaningful and actionable information within a large development project"
As a development project continues to grow along multiple dimensions -- the size of the team, the amount of work tracked (both past, present and future), the number and variety of artifacts created, etc. -- it runs the risk of becoming an undecipherable ocean of data. Large data sets, in of themselves, are often indistinguishable from noise.

The ability to extract meaningful and actionable inform

[2018-01-24 18:34] qodfathr opened #2027 "Easily searching across all the development artifacts of OpenShift.io"
As OpenShift.io continues to support the management of more development artifacts of increasing scope and variety, it is essential that users can find information easily and quickly.

Google search has set the bar of ease -- a single search box which enables searching of the entire web. Within this single search box is the capability to do context-aware searching via parameterized search.

OpenShi

[2018-01-24 18:34] gastaldi commented on #1684
Updated in production. Closing this issue. Reopen if the problem persists.

[2018-01-24 18:34] #1684 closed

[2018-01-24 18:56] qodfathr commented on #2027
@catrobson something for UXD to consider before we decompose into Features for engineering.

[2018-01-24 19:01] abs51295 commented on #2005
@msrb Can you assign this issue to @CermakM as well. Thanks.

[2018-01-24 19:05] abs51295 commented on #2006
@msrb Can you assign @CermakM here as well?

[2018-01-24 19:29] qodfathr commented on #1879
Closing in favor of #2018

[2018-01-24 19:29] #1879 closed

[2018-01-24 19:32] qodfathr opened #2028 "OpenShift.io scales to meet user demand"
As the number of users of OpenShift.io -- both registered and anonymous -- continues to grow, it is imperative that OpenShift.io scales to meet the demand.

## Supporting Value Propositions

## Realizing Experiences

[2018-01-24 19:42] msrb commented on #2006
@abs51295 we don't need to do both spikes this sprint. If you could pick one, which one would it be?

[2018-01-24 19:43] msrb commented on #2005
@abs51295 we don't need to do both spikes this sprint. If you could pick one, which one would it be?

[2018-01-24 19:46] msrb commented on #2012
@miteshvp not having latest version seems like a bug since all packages in our DB should have at least one release.

Since @tisnik found this discrepancy in staging DB, we want to check if we have the same problem in prod as well. This looks like data ingestion bug to me.

[2018-01-24 19:47] abs51295 commented on #2005
@msrb I think this would be the one :)

[2018-01-24 19:47] msrb commented on #2005
@abs51295 ack, let's do this one this sprint 😉

[2018-01-24 19:48] abs51295 commented on #2006
#2005 would be the one.

[2018-01-24 19:49] msrb commented on #2005
I am not able to assign Marek from some reason. He will need to do it himself tomorrow :)

[2018-01-24 19:53] qodfathr opened #2029 "OpenShift.io users inactive for a long period of time adjusted to consume a minimal amount of OSO Starter resources"
OpenShift.io users who have been inactive for an extended period of time -- currently defined as 8 weeks but open for review and discussion -- should have their OpenShift Online Starter resource consumption reduced to the absolute minimum. However, should any of these users return to OpenShift.io, they must be put back into a state essentially the same as when they last logged in.

In essence, all

[2018-01-24 19:57] qodfathr opened #2030 "Idling of applications deployed to OpenShift Online Starter Stage project"
## Parent Scenario
#2028 OpenShift.io scales to meet user demand

[2018-01-24 19:58] qodfathr opened #2031 "Idling of applications deployed to OpenShift Online Starter Stage project"
## Parent Scenario
#2028 OpenShift.io scales to meet user demand

[2018-01-24 20:01] alexeykazakov commented on #1988
auth.openshift.io/api/clusters is now available in both prod and preview. Removing /team/auth from the issue.

[2018-01-24 20:21] #1878 closed

[2018-01-24 20:48] #1911 closed

[2018-01-24 20:55] qodfathr opened #2032 "Space Dashboards"
When a user opens an OpenShift.io Space, they are show the primary Space dashboard. The primary Space dashboard is one of potentially many Space dashboards; these dashboards display information about the Space, its contained artifacts and its associated environments. The information is displayed via a number of widgets.

When a new Space is created, a single, default dashboard is automatically cre

[2018-01-24 21:08] qodfathr opened #2033 "Extending the capabilities of OpenShift.io"
Due to the SaaS nature of OpenShift.io, it is difficult for members of the community to contribute directly to OpenShift.io. There are a myriad of reasons for this, but perhaps the primary one is that Red Hat, the operators of OpenShift.io, need to maintain strict controls over quality and product management of features deployed to OpenShift.io.

A decoupling of the core deployment platform, the f

[2018-01-24 21:52] joshuawilson commented on #182
@pkettman can you write up a new issue requesting this. This bug has been fixed. It is better to create a feature request so that UX and PM can review it.

[2018-01-24 22:07] ldimaggi opened #2034 ""Promote" button in build pipeline results in 500 server error (both on production and prod-preview)"
Steps to recreate:
* Create new quickstart, select release, stage, run release strategy
* In build pipeline screen, when quickstart is built, press the 'promote' button

![screenshot from 2018-01-24 16-38-53](https://user-images.githubusercontent.com/642621/35359658-ed4962b2-0128-11e8-90fd-992ebc6d2c85.png)

[2018-01-24 22:07] ldimaggi commented on #2034
Workaround -  Open the Jenkins log ("View Log") and select promote from there.

[2018-01-24 22:25] ldimaggi opened #2035 "On prod-preview, creating new quickstart fails"
Creating a new quickstart fails with this error:

![screenshot from 2018-01-24 17-24-06](https://user-images.githubusercontent.com/642621/35360356-78abd2d4-012b-11e8-8ab2-0817f40ada7b.png)

[2018-01-24 22:46] qodfathr opened #2036 "OpenShift.io should be Testable in Product"
As a proving ground for modern software development approaches and methodologies, OpenShift.io should adopt the principle of Test in Production. This is in support of a model of continuously delivering value.

## Supporting Value Propositions

## Realizing Experiences
- [ ] #1165 Feature Flags

[2018-01-24 23:00] c-koehler opened #2037 "Two values come through every time the deployments poll for memory data"
When getting the MemoryStat (and possibly cpu/network too, haven't checked) it will poll twice, or the observable fires twice. If you place a `console.log()` statement inside the subscription for `getDeploymentNetworkStat` you will see its fired twice.

It should only be firing once.

An example of a timeline would be (with the polling rate of 30 seconds, which may be 60 seconds now):

MemoryStat

[2018-01-24 23:03] c-koehler opened #2038 "Deployments should request the last 15 minutes of data, not start with only one data point"
Right now at the beginning our sparklines are barren because they only get one data point... and then wait 60 seconds to get the next data point. This causes the graph to be empty with a single dot until another value comes in.

What should happen is it should grab the last 15 minutes of data (or `15*60 / POLLING_RATE_SECONDS` points of data) and display those at the beginning.

This will also sol

[2018-01-24 23:35] aslakknutsen opened #2039 "Seq_Scan of complete table: wit.iterations"
Somewhere in the work item tracker a complete table load is done over and over and over and over and over...

[code]

[2018-01-24 23:37] aslakknutsen opened #2040 "Seq_Scan of complete table: wit.areas"
Somewhere in the work item tracker a complete table load is done over and over and over and over and over...

[code]

Similar: Seq_Scan of complete table: wit.iterations https://github.com/openshiftio/openshift.io/issues/2039

[2018-01-24 23:39] aslakknutsen commented on #2040
@pranavgore09 Could you take a look at this? Possible this is called with an empty array https://github.com/fabric8-services/fabric8-wit/blob/master/area/area.go#L139

[2018-01-25 00:09] mishaone commented on #2001
Another similar thing when I refreshed my pipeline builds page:
![duplicate_rendering](https://user-images.githubusercontent.com/926572/35363824-c57c4990-01b7-11e8-9452-e9297be6067c.png)

[2018-01-25 00:14] mishaone opened #2041 "target server issue when running pipeline builds"
I haven't been able to get a response in the MM chat so far, so creating this issue. I created a new space and a new quickstart project (HTTP Booster) and the first pipeline build starts but never completes successfully. I tried resetting the environment and doing all of this again a few times yesterday but nothing.

Build log: http://pastebin.test.redhat.com/549969

It looks like this sort of fai

[2018-01-25 00:47] mishaone commented on #2041
Update: I reset the environment again today and tried anew and it seems to have worked now. If the issue with the target server not responding is just due to network issues, please feel free to close this.

[2018-01-25 01:36] mishaone commented on #2034
+1 encountering this a lot today. I can't see the errors but nothing happens after clicking Promote and I have to go click proceed from the Jenkins log instead.

[2018-01-25 02:29] sthaha commented on #1685
@alexeykazakov Pipeline UI kebab shows an option to `Open in Openshift console` what should this link point to? Would replacing this with OSO-Proxy redirect user to the actual OSO cluster?

[2018-01-25 02:34] pranavgore09 commented on #2040
sure @aslakknutsen

[2018-01-25 02:39] alexeykazakov commented on #1685
Proxy won't help here. Proxy is for API calls only. And here is just a link.
I'm not sure if we have anything in our tenant service which can provide a proper URL for the namespace...
@aslakknutsen ?
If not then UI could construct that URL.
For example here is a pipleline URL for my user: https://console.starter-us-east-2.openshift.com/console/project/alkazako/browse/pipelines
You could load the u

[2018-01-25 03:02] aslakknutsen commented on #1685
@alexeykazakov Shouldn't this link to the Jenkins-Idler-Proxy? @vpavlin

[2018-01-25 03:09] pranavgore09 commented on #2040
btw, how do I test that it is no more calling `select * from...` after I make changes?

[2018-01-25 03:16] aslakknutsen commented on #2040
Good question. One would be to verify the expected output where you find the error, e.g. Create an Area, call it with an empty array, and ensure nothing was returned. Alternatively, you could possibly hook into Gorm to verify the SQL itself. Beyond that, I'm sure we'll see the DB CPU drop a few % points and I'll check the DB log after the merge.

[2018-01-25 04:14] miteshvp commented on #2012
FWIW, there is no data for `stax:stax-ri` in prod S3 buckets. But they are still there in graph. What could be the reason? Second, as I mentioned I checked `package-msv:relaxngDatatype version-20030807`  there is latest_version as null. This said package was ingested on `2017-07-26 17:12:59.549999`. This explains to me that latest_version is not having any values based on https://github.com/fabric

[2018-01-25 04:24] joshuawilson commented on #2035
This is due to you having your OSO account tied to free-int instead of free-stg.

[2018-01-25 05:04] invincibleJai commented on #1974
@krishnapaparaju i'll be passing licence data as an extra parameter while making POST stack-analysis call

[2018-01-25 05:04] krishnapaparaju opened #2042 "Inaccurate license information is displayed for packages"
Showing different licenses  (for the same packages) while triggering stack analysis from workspace and individual manifest file level. This needs to consistent..

[2018-01-25 05:27] #1768 closed

[2018-01-25 05:28] #1764 closed

[2018-01-25 05:31] krishnapaparaju opened #2043 "Parse text at LICENSE file to figure out declared license for a GitHub repo"
Parse text at LICENSE file to figure out declared license for a GitHub repo. This is required to display the OSIO users the current license being used along with calculated stack level license.

[2018-01-25 05:38] sunilk747 commented on #1002
@samuzzal-choudhury What is the progress for this user story. If it's completed can we close it now?

[2018-01-25 05:40] sunilk747 commented on #1278
@GeetikaBatra If this user story is completed please close it.

[2018-01-25 05:40] sivaavkd commented on #634
Closing this for now.  if we need to use PGM for something other than vert.x and springboot, we will create a new item for this.

[2018-01-25 05:40] #634 closed

[2018-01-25 05:41] sunilk747 commented on #1451
@invincibleJai As I can see most of the task items in this user story are completed, can we close it now?

[2018-01-25 05:42] miteshvp commented on #1974
@krishnapaparaju - Yes, license at API will be an optional parameter. It will be handled accordingly

[2018-01-25 05:45] invincibleJai commented on #1451
@sunilk747 not sure if we can close it as i can see it under review from PM , @sivaavkd any views?

[2018-01-25 05:50] #1278 closed

[2018-01-25 05:50] sunilk747 commented on #1530
@jyasveer What's the status for this user story. Can we close it?

[2018-01-25 05:50] #1691 closed

[2018-01-25 05:51] GeetikaBatra commented on #1284
Closing this user story.

[2018-01-25 05:51] #1284 closed

[2018-01-25 05:52] sanketpathak commented on #1511
As this case is handled in UI. closing it

[2018-01-25 05:52] #1511 closed

[2018-01-25 06:16] sunilk747 commented on #1601
Closing it as it is handled as part of new UI. Feel free to reopen if you feel otherwise.

[2018-01-25 06:16] #1601 closed

[2018-01-25 06:17] sunilk747 commented on #1770
@sanketpathak What's the progress for this user story? Can we close it?

[2018-01-25 06:20] sunilk747 commented on #1002
@samuzzal-choudhury Can we close this issue?

[2018-01-25 06:23] sanketpathak commented on #1770
Yeah the user story is completed. It can be closed

[2018-01-25 06:23] #1770 closed

[2018-01-25 06:53] #1740 closed

[2018-01-25 06:57] #1793 closed

[2018-01-25 06:57] #1451 closed

[2018-01-25 06:58] #1285 closed

[2018-01-25 07:06] pranavgore09 commented on #2040
you are right @aslakknutsen
it is firing ` SELECT * FROM "areas"  WHERE "areas"."deleted_at" IS NULL` on DB when we pass an empty slice to `LoadMultiple` function
I have verified by adding `.Debug()` in then calling that function with an empty slice in test (I checked by watching the console that query is fired or not) hence  test is not added to the PR.
PR https://github.com/fabric8-services/fabr

[2018-01-25 07:12] nimishamukherjee commented on #1836
@michaelkleinhenz when we use the drop down, we are associating / disassociating or assigning/unassigning labels with a work item. This experience is similar to Assign User, with the added functionality of "Creating Label".

We can rename the action as Assign Label, keeping it consistent with users. Or we could use Git like phrase "Apply Label"

[2018-01-25 07:24] pranavgore09 commented on #2040
@aslakknutsen is there any way to check DB logs before merging(on that branch?) and can I check it?

[2018-01-25 07:39] rgarg1 opened #2044 "Question to PM: Exploration of child workitems under a matching workitem entry"
Should we allow free exploration of all child workitems under all workitem (parent) that match the selection criteria? OR should we limit to display only matching children?

For example, consider the following tree structure:
- Feature-1
  - Bug-1
  - Task-1

When  __Requirements__ is selected from the left sidebar, the context is set to display _Features and Bugs_. So, in this case, the structure

[2018-01-25 07:52] corinnekrych commented on #1958
Dynamic routing is already used for menu/submenu. When we toggle-off a menu the module, components are not loaded.
The menu is not visible but also the route (URL bookmark) should not load the module and redirect to error page.
Accessing the menu will trigger load of component.
If a component is causing issue, PM should toggle it off.

[2018-01-25 07:52] #1958 closed

[2018-01-25 08:21] samuzzal-choudhury commented on #1763
This work has been completed. The high performer /stack-analyses has been already made available on prod and the all the integration points now currently working.

[2018-01-25 08:21] msrb commented on #2012
I don't think so. We should always have the latest version. Even if package has only one release, then that release is also the latest version. I suspect this is a bug in our pipeline somewhere.

[2018-01-25 08:21] #1763 closed

[2018-01-25 08:24] msrb commented on #2012
This is super weird. Do we have timestamps in graph? Was this package added to graph last year, pre-summit?

[2018-01-25 08:27] samuzzal-choudhury commented on #1527
@tisnik this has already been addressed in the sprint 143 through https://github.com/openshiftio/openshift.io/issues/1763. Can you please close this issue?

[2018-01-25 08:29] sivaavkd commented on #1270
This is completed and hence closing this.

[2018-01-25 08:29] #1270 closed

[2018-01-25 08:30] miteshvp commented on #2012
`2017-03-28 14:29:37.369750`

[2018-01-25 08:30] tisnik commented on #2012
@msrb last_updated property? https://github.com/fabric8-analytics/fabric8-analytics-data-model/blob/e40952bbe33f43c3a871162f40ed6785481f0387/src/graph_populator.py#L100

(btw we really need to use UTC everywhere)

[2018-01-25 08:35] jyasveer commented on #1530
this can be closed now. as it is handled in the revamp of UI work.

[2018-01-25 08:35] #1530 closed

[2018-01-25 08:36] msrb opened #2045 "[7] API gateway for fabric8-analytics services"
# Description

We have plenty of services in fabric8-analytics, but except one (API server) they are not meant to be used by OSIO end users. Therefore they don't have routes exposed. However, sometimes it would be tremendously useful if we (fabric8-analytics team) could access them. The services have REST APIs, but they don't have any authentication in place, therefore we can't just expose routes.

[2018-01-25 08:36] msrb commented on #2045
cc @humaton

[2018-01-25 08:36] samuzzal-choudhury commented on #1467
@msrb @tisnik the objective of this issuee has already been achieved through this issue and https://github.com/openshiftio/openshift.io/issues/1763. I only performance related activity left to do is the one mentioned in the Sprint 144 goals as "Scale the platform to support 1000 concurrent users". Can one of you please close this? CC: @sivaavkd

[2018-01-25 08:40] nimishamukherjee opened #2046 "How many levels of nested iteration do we support in planner?"
@qodfathr - Keeping the side panel real estate in mind, how many levels of nested iteration do we support?

Currently we set indentation up-to four levels:
![nestediterations](https://user-images.githubusercontent.com/1892722/35378416-bb3c7894-01d8-11e8-8b22-d7375bd6835a.png)
Note: One level to Six level are nested iterations (up to a depth of six)
The indentation works for four levels, beyond tha

[2018-01-25 08:53] msrb commented on #2012
Increasing severity. We need to find out where the problem is and fix it.

[2018-01-25 08:55] msrb opened #2047 "Sync NPM data to graph"
# Description

Not all NPM data made it all the way to graph. We need to sync them.

Acceptance criteria

- [x] all NPM data from production S3 buckets are available in graph

[2018-01-25 08:56] msrb opened #2048 "Sync Maven data to graph"
# Description

There were times when data ingestion pipeline was broken or certain parts of the pipeline were disabled. During such times, we analyzed plenty of packages and stored results in S3, but never ingested the data to graph database. With https://github.com/openshiftio/openshift.io/issues/1085 implemented, we want to sync all missing data from S3 to graph.

# Acceptance criteria

- [ ] al

[2018-01-25 08:58] sivaavkd commented on #1773
Changes are yet to be pushed to prod

[2018-01-25 09:00] jpopelka commented on #2043
The [scancode-toolkit](https://github.com/nexB/scancode-toolkit) that we have in [worker-base image](https://github.com/fabric8-analytics/fabric8-analytics-worker-base/blob/master/hack/install_scancode.sh) and [run in worker](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/license.py#L52) is very good at this.

Or if we're talking about already existing

[2018-01-25 09:01] miteshvp commented on #1085
@msrb @tuxdna - now since we have jobs API also available, is it possible to start the actual sync between graph and S3 in production starting with maven and then with node?
cc @krishnapaparaju

[2018-01-25 09:03] msrb commented on #1072
Replaced by https://github.com/openshiftio/openshift.io/issues/2047

[2018-01-25 09:03] #1072 closed

[2018-01-25 09:03] divyanshiGupta commented on #1836
Yes I agree with @nimishamukherjee and we should have a separate functionality for deleting labels. Or we can have both the things create label and delete label at one place rather than in the label-selector dropdown.

[2018-01-25 09:05] miteshvp commented on #2043
@jpopelka - it may not necessary be github repo all the times. I was also contemplating using scancode-toolkit for this purpose. Only change would be, we may have to build a redundant functionality in license scoring service, since this is more of an enhancement for license scoring and it has to work stand-alone for dependency-editor use-case

[2018-01-25 09:13] abs51295 commented on #2048
Fixed a typo @msrb :)

[2018-01-25 09:24] miteshvp commented on #1727
https://docs.google.com/document/d/1OG3PH6gyUeLRWG1FbAqhDu72tulTwR8kYJV_NsSFxgA/edit is where we are maintaining the comments from experts.

[2018-01-25 09:26] sivaavkd commented on #1727
Closing this since we are tracking the comments separately.  If there are any changes needed based on the comments, we will open separate issue(s).

[2018-01-25 09:26] #1727 closed

[2018-01-25 09:33] michaelkleinhenz commented on #1985
To clarify the problem here: "Task 4" and "Task 5" should be displayed with the parent ("Feature"). @sudsen @kwk can you check whether this is a UI or backend problem?

[2018-01-25 09:35] michaelkleinhenz commented on #1996
@aslakknutsen is this a newly created Scenario WI or was it created a while ago?

[2018-01-25 09:46] michaelkleinhenz commented on #1984
@sudsen can you look into this, seems like a grid issue to me.

[2018-01-25 09:48] xcoulon opened #2049 "[EPIC] OSIO feature enablement with fine-grained control via admin UI"
## Goal
Ability for Product Management to control with fine granularity which features or groups of features in production are visible to groups of users.
## Description
This is the phase two implementation of feature flags for OSIO. This phase builds on top of phase one [EPIC: Feature Flags](https://github.com/openshiftio/openshift.io/issues/1165).
For this Epic, the PM can control feature flags

[2018-01-25 09:48] nimishamukherjee commented on #1977
PR for fixing this issue - https://github.com/fabric8-ui/fabric8-planner/pull/2404

[2018-01-25 09:49] michaelkleinhenz commented on #1983
Still can not reproduce on one of your spaces or one of mine with only one contributor. Weird.

[2018-01-25 09:50] michaelkleinhenz commented on #1983
@aslakknutsen on which space are you seeing this?

[2018-01-25 09:52] #1467 closed

[2018-01-25 09:53] michaelkleinhenz commented on #1152
@qodfathr yes, this will go away when the "Create and Open" button is working.

[2018-01-25 09:57] michaelkleinhenz commented on #778
@joshuawilson @qodfathr Whatever caused this exact behaviour, we still have an issue with the caching. We're currently fundamentally changing how state data is managed in Planner by integrating ngrx/store in all components. This change will make analyzing the caching issue(s) much easier. We will likely finish this move in the next 2 sprints. So I would then look at this again.

[2018-01-25 10:09] michaelkleinhenz commented on #1920
No, looks like the component rendering the links there is outdated. The component is assembling the link in a wrong way:

platform/home/work-item-widget/work-item-widget.component.html:
´´´
<a [routerLink]="['/', loggedInUser.attributes.username, currentSpace.attributes.name, 'plan', 'detail', workItem.id]"
´´´
..it is always using the logged in user instead of the current space owner. Also the WI

[2018-01-25 10:11] krishnapaparaju commented on #1084
Please check this Choas Monkey for OpenShift 3X: https://github.com/Produban/monkey-ops

[2018-01-25 10:12] pkettman opened #2050 "Update of Learn more page"
The Learn more page is not well formatted in my Chromium browser v56.0.2924.87 (see the picture below), there is no white space on the left/right side and text & pictures are in one column. I sometimes can't access the Learn more page from my 6 months old Chrome, in that case I am moved back to the homepage. On Firefox it works fine.

In addition I would propose to link the User & Getting Started

[2018-01-25 10:14] pkettman commented on #182
Done, it's https://github.com/openshiftio/openshift.io/issues/2050

[2018-01-25 10:15] michaelkleinhenz commented on #1920
I think the WI service (or even the JSONAPI) should provide a ready made UI link for use by external UIs. Assembling the link is not a trivial task and may also change. Created a userstory for this here: https://openshift.io/openshiftio/openshiftio/plan/detail/1839

[2018-01-25 10:44] xcoulon opened #2051 "toggles-service testing"
There's a need to add integration tests on the `toggles-services` with a real instance of the toggle server (unleash) with its DB.
Besides, mocking the unleash client has some limitations due to internal types and at the end of the day, covering all use-cases may mean that the client logic has to be re-implemented in the mock (unless hard-coded values are used within the mock).

[2018-01-25 10:46] sanbornsen commented on #1984
I am on it.

[2018-01-25 10:53] xcoulon opened #2052 "[User-Story] Admin UI for the feature toggles service"
Belongs to [Epic: feature flags - phase2](https://github.com/openshiftio/openshift.io/issues/2049)

# Description
As a PM I should be able to access a admin UI to:
- toggle off a feature (in case of an issue)
- rollout a feature from beta to released etc...
- easy way to group feature
- provide an export tool to retrieve the list of features (json format) so it can be used for hard-coded features

[2018-01-25 11:00] xcoulon opened #2053 "[User-Story] Grouping features in the toggle service admin UI"
belongs to [Epic: feature flags](https://github.com/openshiftio/openshift.io/issues/1165)
# Description
The feature toggles can be grouped, so that components of a feature can easily be enabled/disabled or promoted to a given level of enablement, in a coherent manner. This means:
- either the UI needs to provide a treeview of all feature toggles, while the backend provides an endpoint to retrieve

[2018-01-25 11:22] xcoulon opened #2054 "[User-Story] CI/CD of toggles-admin-ui"
belongs to [Epic: feature flags - phase2](https://github.com/openshiftio/openshift.io/issues/2049)

# Description
The new `toggles-admin-ui` needs to have CI/CD enabled, so we can build, test and push a commit to pre-production and later promote to production

# List of tasks
- [ ] dockerfile + makefile
- [ ] template OS in root repo
- [ ] centos-ci jobs
- [ ] new file in https://github.com/opensh

[2018-01-25 12:09] maxandersen commented on #1245
@hferentschik on the performance test - this was more a stresttest you were setting up, right ? to verify the idler and proxy actually behaved correctly ?

[2018-01-25 12:50] ldimaggi commented on #2034
Problem was found by regression test:
https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-ts-openshift.io-runTest/

[2018-01-25 12:52] ldimaggi commented on #2035
This had been working until late in the day on January 24 - did something change? Also, how do I reconfigure the user account? Thx!

[2018-01-25 12:55] qodfathr commented on #1501
@maxandersen,  anonymous users only have access to released features, so I would not expect Planner to be visible to them. But this does bring up a larger concern that wherever we are using feature flags, we need to gracefully handle the use cases of anonymous browsing. It should not error our; rather, it should behave as if the user is set to Released level.

[2018-01-25 12:56] qodfathr commented on #1165
@corinnekrych after some thought, I think it's best to just keep this issue open and complete it in Heather. Let's use it as motivation to get it done early in the train. :)

[2018-01-25 12:59] qodfathr commented on #1165
Question -- how do feature flags handle anonymous browsing?

PM has decided that anonymous browsing should be treated the same as a user who is set to the Released level of flags. Does the burden of making this determination lie with the consumer of the feature flag APIs, or do these APIs handle this use case automatically?

[2018-01-25 13:08] corinnekrych opened #2055 "[User-Story] Disable route for feature on menu"
belongs to [Epic: feature flags](https://github.com/openshiftio/openshift.io/issues/1165)
# Description
Revisit UI routing so that the URL links is not available when feature is toggled off.
# List of tasks:
- [x] Delete/disable route when toggle-off
- [x] Delete/disable route when level is internal and user is not RH
- [x] Hide menu (like when feature is toggle off) when level is internal and use

[2018-01-25 13:18] corinnekrych opened #2056 "[6] Feature toggle for component"
belongs to [Epic: feature flags](https://github.com/openshiftio/openshift.io/issues/1165)
# Description
As a developer I want to be able to wrap an angular component with a wrapper. the wrapper will contain the name of the feature which is embedded.
# List of tasks:
- [x] wrap feature component to hide them if feature is not enable. No dynamic load. https://github.com/openshiftio/openshift.io/issu

[2018-01-25 13:27] aslakknutsen commented on #1983
@michaelkleinhenz Any space with only 1 user so far... But here is one https://openshift.io/aslak/test670/plan

[2018-01-25 13:30] ldimaggi commented on #2035
Problem was found by regression test:
https://github.com/openshiftio/openshift.io/issues/2035

[2018-01-25 13:31] aslakknutsen commented on #1996
@michaelkleinhenz 2 days ago. Go to the URL provided in the description. It has all the info and is reproducible every time.

[2018-01-25 13:36] aslakknutsen commented on #1985
@michaelkleinhenz I was expecting "Task 1" and "Task 3" to show up as well, but not under the parent since it's of a different type.

[2018-01-25 13:58] krishnapaparaju opened #2057 "Challenges with parallel OSIO builds"
I ran thru these steps with two builds in parallel triggered on two OSIO quick start applications:

1) Create a space A , trigger a build after selecting a quick-start  'Q1'
2) While build for 'Q1' is under progress, create a space 'B', trigger a build after selecting a quick-start 'Q2'
3) Build for 'Q1' fails with an error [1] , build for 'Q2' succeeds
4) Click on 'Promote to next environment' (U

[2018-01-25 14:08] maxandersen commented on #1501
the first version of the experimental allowed one to view the work items on direct urls. That worked pretty well.

This does mean we can't share links to planner team work items and prevents planner adoption for other teams as we can't share without the receiver has an active openshift.io account.

[2018-01-25 14:15] chmouel commented on #2057
This is not something we have at this time,

[2018-01-25 14:23] gastaldi commented on #2035
Just pushed a fix, mind trying again? Glad that the change that caused is not in production

[2018-01-25 14:23] gastaldi commented on #2035
When https://ci.centos.org/view/Devtools/job/devtools-launcher-backend-generator-build-master/118/console finishes, of course

[2018-01-25 14:25] xcoulon commented on #1912
closing now, as all sub-tasks have been resolved.

[2018-01-25 14:25] #1912 closed

[2018-01-25 14:36] ldimaggi commented on #2035
It's fixed now - closing.

[2018-01-25 14:36] #2035 closed

[2018-01-25 14:49] sbose78 commented on #2035
Hi @gastaldi , do you mind referring the PR here please? Helps learn.. :)

[2018-01-25 14:50] gastaldi commented on #2035
@sbose78 sure, I'll remind this for future fixes. I commited directly in master: https://github.com/fabric8-launcher/launcher-backend/commit/96fab06d04c47110195efab33d164217d1b61527

[2018-01-25 14:54] ldimaggi commented on #2057
I think that this is the reason that you did not see anything happen when you pressed the "Promote" button:  https://github.com/openshiftio/openshift.io/issues/2034

[2018-01-25 14:54] corinnekrych commented on #2052
As discussed closing this one. we'll see later if we really need it (we can always re-open)
cc @xcoulon @aslakknutsen @joshuawilson

[2018-01-25 14:54] #2052 closed

[2018-01-25 14:58] gastaldi commented on #1832
@GeorgeActon @krishnapaparaju can you assign someone to look into this?

[2018-01-25 15:02] qodfathr opened #2058 "A development platform should provide an application-centric view"
Historically, development *platforms* have generally enabled operational views of deployed code and services. Often, a more logical, application-centric view has been elusive. Take, for example, OpenShift, which although has a set of Application screens, these views are tied to a single OpenShift Project. Yet a developer view of an application may easily span multiple OpenShift Projects.

Other de

[2018-01-25 15:16] chmouel commented on #2034
Weird I haven't had any issues on openshift.io :

![image](https://user-images.githubusercontent.com/98980/35395570-01464f4c-01eb-11e8-8ac4-f5d56dcf8b56.png)

and then :

![image](https://user-images.githubusercontent.com/98980/35395579-0895a608-01eb-11e8-8b67-7427f4c0f671.png)

did I not test properly ?

[2018-01-25 15:36] qodfathr commented on #2037
Is this impacting the proper display of data to the user? If not, I might argue for SEV3 vs SEV2.

[2018-01-25 15:45] chrislessard commented on #1999
I've made a number of attempts to solve this, and believe we're going to need to do something about the ngx-modal dependency that this section of the code base depends on. It's source can be found [here](https://github.com/pleerock/ngx-modal) and you can see as by the README that it has been deprecated for some time.

There are two components at play here, [areas-component](https://github.com/fabr

[2018-01-25 15:49] jiekang opened #2059 "Update OSIO css for pod donut chart to match OSO"
The OSO web console css has a few `!important` tags that are missing in the OSIO css for the pod donut charts. These are actually required to override some css in child c3js classes and should be added.

The releveant files are:

OSO origin-web-console: `_components.less`
OSIO fabric8-ui: `deployments-donut-chart.component.less`

[2018-01-25 15:49] michaelkleinhenz commented on #1501
As far as I can see, the feature *is supposed to be enabled* in the Platform code, but it does not work. While the feature resolving actually should make the Planner available for non-logged in users, the initial feature resolving returns a 401 for ´/api/features´ (note no additional extra path there). I think this call is being made here:

´context.service.ts::changeContext(navigation: Observable

[2018-01-25 15:57] stevengutz commented on #1501
We need to turn this back on so we in Development can actually use the Planner.  Otherwise, as Max notes, our own teams will never adopt Planner.  We need to get teams to move because there is no hierarchy in GitLab and it is a nightmare to plan/track anything.

[2018-01-25 16:01] qodfathr opened #2060 "Proper planning is an important success factor for non-trivial development projects"
Simple software projects are simple.

Most software projects are not simple.

Even when a software project only has a single developer, once the size and scope of the project reaches a certain critical mass, planning the execution of the project becomes a key factor in the overall success of the project. Features need to be defined and prioritized. Work needs to be tracked against those features.

[2018-01-25 16:05] jpopelka commented on #1883
https://github.com/librariesio/libraries.io/issues/1935

[2018-01-25 16:07] michaelkleinhenz commented on #1501
Looking at is a bit more, this is not limited to Planner. I get the same behaviour on all deep links wherever they go.

I'd say the Unleash service is just rejecting all requests without a valid token. The service returns:

`{"errors":[{"code":"jwt_security_error","detail":"missing header \"Authorization\"","id":"5wx5mf6G","status":"401","title":"Unauthorized"}]}`

[2018-01-25 17:23] jiekang commented on #1752
A tracking issue for removing `a-runtime-console` code has been created: https://github.com/openshiftio/openshift.io/issues/2025

That issue will try to organize what needs to be done for the goal to be completed.

[2018-01-25 17:48] corinnekrych commented on #2049
@xcoulon as we agree with @qodfathr to keep alive the initial one. https://github.com/openshiftio/openshift.io/issues/1165
Let me close that one.

[2018-01-25 17:48] #2049 closed

[2018-01-25 17:49] #2054 closed

[2018-01-25 18:03] tisnik opened #2061 "Unit tests for the fabric8-analytics-worker repo should be run on CI for each PR"
ATM only two CI jobs are run for each PR:

1) Pylint
2) docker image build

It would be helpful to run unit tests as well (we already have bunch of them).

@msrb @jpopelka @pkajaba  WDYT?

[2018-01-25 18:14] jiekang commented on #2025
Suggested plan of action:

Prerequisites: Applications and Environments pages are okay to be removed.

Steps:

1. Remove applications and environments modules and components from `src/app`
2. Delete unused modules and components from `src/a-runtime-console`
3. Submit an initial PR to slim down the modules and components
3. Review remaining dependencies on an individual basis for plans to replace,

[2018-01-25 19:54] sbose78 commented on #1685
When The `getting started` page's loads, it depends on calling `https://sso.prod-preview.openshift.io/auth/realms/fabric8/broker/openshift-v3/token` to determine if the account is linked, this has to be changed to `GET /api/token?for=<user's cluster url`

[2018-01-25 21:17] c-koehler commented on #2037
@qodfathr The user will get proper data and the charts will look normal for the most part, they might not notice it either since it will likely emit the same data twice and just create a horizontal bar.

[2018-01-25 21:19] aptmac commented on #1859
Fixed in commit https://github.com/fabric8-ui/fabric8-ui/pull/2423

[2018-01-25 21:19] #1859 closed

[2018-01-25 21:46] qodfathr opened #2062 "Continuous delivery is hard"
When a software project becomes large along almost any physical axis -- e.g. number of lines of code, number of source files, number of dependencies, number of remote services, number of contributors -- it can easily become unmanageable. One potential consequence of this is that this lack of manageability can block the ability for the team to produce a working version of the application. For those

[2018-01-25 21:56] qodfathr commented on #2039
@aslakknutsen do you have a recommendation for severity? Are you suggesting that this is constantly consuming CPU resources on the DB?

[2018-01-25 21:58] qodfathr commented on #2057
Parallel builds are not permitted in free usage of OpenShift.io. Regardless, there is a bug here.

[2018-01-25 22:06] qodfathr commented on #2046
As long as the back-end can handle `n` levels of depth, I'm fine with the UI only supporting 4 today.

[2018-01-25 22:13] qodfathr commented on #2050
@joshuawilson @aslakknutsen does this potentially look like a variation of #1975?

@ldimaggi note reported issue with Chromium v56.0.2924.87. As we continue to define #2018, hopefully we'll be in a position to say more about our expectations for that browser version to work.

[2018-01-26 00:08] aslakknutsen commented on #2039
@qodfathr It seems like with more or less every operation on a work item we're running two complete table dumps of all the iterations and areas. Both tables are relatively small at the moment so not consuming too much CPU/Network, but that will just increase as more users come on. Based on the data extract I have those two queries count for 49% of the DB queries. But we got plenty of DB resources

[2018-01-26 05:42] joshuawilson commented on #2050
No this is about the docs not the main application.

[2018-01-26 06:15] #1798 closed

[2018-01-26 06:27] #2040 closed

[2018-01-26 06:27] #2039 closed

[2018-01-26 09:38] ScrewTSW opened #2063 "Misconfiguration of prod-preview environment"
Hello.

The configuration of prod-preview environment causes issues with Bayesian not working.
We have tested the version of rh-che that had the issues on the production environment and our independent dev clusters and minishift solutions.

The issue is only present on che.prod-preview.openshift.io

Could you please look into this issue?
If additional information is needed, feel free to ask :)

or

[2018-01-26 10:11] corinnekrych opened #2064 "Feature flag: anonymous user should be able to nagivate"
When going to `https://openshift.io/USER_NAME/SPACE`, the user should be able to see the space.
atm as the error is not handle in context, we get redirected to error page.

## Impacts
- [ ] #1165

[2018-01-26 14:17] corinnekrych commented on #1165
@qodfathr this is how it is displayed atm:
![screenshot 2018-01-25 19 21 03_preview](https://user-images.githubusercontent.com/1395710/35443482-85efbc72-02ab-11e8-9832-144097e27ae7.png)
the fabric8-toggles-service `api/features` return a 401 so we don't get the information on each feature's level (therefore the grey - indetermined- banner).
If we want a separate behavior it's worth opening a user

[2018-01-26 14:24] corinnekrych commented on #1501
@michaelkleinhenz I've fixed it in https://github.com/openshiftio/openshift.io/issues/2064 sorry I missed that one. Pr is there too for review.

[2018-01-26 15:34] qodfathr commented on #1994
Changing to type/bug. type/papercuts is used as a top-level parent for a whole set of related, low priority work. This issue could have been a descendent of a papercut, of course. But now that it got moved to SEV2, that's probably not necessary.

[2018-01-26 15:42] qodfathr commented on #2001
Potentially related: #1975

[2018-01-26 15:47] chrislessard commented on #510
@joshuawilson on it

[2018-01-26 15:49] qodfathr commented on #2024
Moving to backlog for consideration and prioritization

[2018-01-26 15:55] qodfathr commented on #1548
Making a SEV4 because this doc will soon be obsolete... :)

[2018-01-26 16:09] qodfathr commented on #1556
Closing as the Environments page is now deprecated in favor of #287

[2018-01-26 16:09] #1556 closed

[2018-01-26 16:12] qodfathr commented on #1559
Closing as this work is well underway and will be deployed in the not too distant future. Thanks for the feedback, @ibuziuk!

[2018-01-26 16:12] #1559 closed

[2018-01-26 16:14] qodfathr commented on #1562
The left and right *are* different. The right is your profile, the left is showing recent places you have been, which can include your profile page (hence why it may look like a duplicate). In any event, the entire navigation is going to be updated.

Closing as By Design.

[2018-01-26 16:14] #1562 closed

[2018-01-26 16:15] qodfathr commented on #1563
Making a SEV4 because this doc will soon be obsolete.

[2018-01-26 16:18] qodfathr commented on #2016
Should this just be considered to be a dupe of #2028 ? Perhaps consolidate both under a broader title?

[2018-01-26 16:19] #1967 closed

[2018-01-26 16:19] qodfathr commented on #1571
Closing as this part of the Planner UI no longer exists. Please feel free to open new issues against the navigation.

[2018-01-26 16:19] #1571 closed

[2018-01-26 16:26] qodfathr commented on #1576
I feel that the Import Codebase dialog does have some pretty inconsistent wording -- to the point that it actually confuses me when I use it. I'm increasing to SEV2 and would like to see UXD get involved in helping to establish consistent terminology.

cc: @catrobson

[2018-01-26 16:31] qodfathr opened #2065 "Recent Spaces is empty; help guidance is missing"
Logged in, and although I've got a ton of spaces which I've recently visited, Recent Spaces on my Account Home is empty:

![image](https://user-images.githubusercontent.com/16322190/35449869-3b565a28-028c-11e8-96fa-1a45316cd6ec.png)

Moreover, there is no text in the empty portion of the widget telling me to create a new Space (plus links to documentation).

[2018-01-26 16:34] qodfathr commented on #1590
Fixed, although the edit button is crazy-hard to click.

[2018-01-26 16:34] #1590 closed

[2018-01-26 16:36] qodfathr opened #2066 "Space description edit icon is difficult to use"
The pencil edit icon for editing a Space description is hard to use.

1. It's not always visible, so it's almost undiscoverable.
2. When you make it visible (by hovering over the description), you start to play a game of trying to mouse over to it without causing it to disappear.

It seems it would be more sensible to just make it so that clicking anywhere on the description turns on edit mode (as

[2018-01-26 16:38] qodfathr commented on #1591
Fixed (well, removed).

[2018-01-26 16:38] #1591 closed

[2018-01-26 16:40] qodfathr commented on #1594
Closing as By Design

[2018-01-26 16:40] #1594 closed

[2018-01-26 16:43] qodfathr commented on #1597
Fixed

[2018-01-26 16:43] #1597 closed

[2018-01-26 16:54] qodfathr commented on #1606
Also, the lack of the name of the Space in the dialog always scares me to death -- I have to close the dialog and make sure I clicked on the right delete link multiple times before I'm semi-confident I'm deleting the correct space.

This dialog should require strong confirmation -- such as typing in the name of the Space -- as it is destructive/irreversible/data-losing.

[2018-01-26 16:55] qodfathr commented on #1608
Fixed.

[2018-01-26 16:55] #1608 closed

[2018-01-26 16:57] qodfathr commented on #1609
No need for 2 issues -- it appears both are fixed. :)

[2018-01-26 16:57] #1609 closed

[2018-01-26 16:59] qodfathr commented on #1626
@vpavlin @joshuawilson do we feel this is still an issue?

[2018-01-26 17:17] joshuawilson commented on #1574
that works

[2018-01-26 17:23] ldimaggi opened #2067 "Edits to a workitem's labels are not dynamically updated in backlog view"
Steps to recreate:
* Create a workitem, assign one or more lables to it
* Locate and open the workitem for editing from the backlog view
* Observe that state changes are immediately reflected in the backlog display
* Observe that label changes are not - the view must be manually refreshed to see the label changes

![screenshot 8](https://user-images.githubusercontent.com/642621/35452168-ac0c610c-0

[2018-01-26 17:32] ldimaggi commented on #1378
Just saw it again

![screenshot from 2018-01-26 12-31-31](https://user-images.githubusercontent.com/642621/35452577-004185da-0295-11e8-84cd-7bb9bfe121f2.png)

[2018-01-26 17:41] ldimaggi commented on #1378
![screenshot from 2018-01-26 12-38-05](https://user-images.githubusercontent.com/642621/35452892-2dddf90a-0296-11e8-8cf0-62215e3ccc90.png)

[2018-01-26 17:57] chrislessard commented on #510
Fix under review here https://github.com/fabric8-ui/fabric8-ui/pull/2452

[2018-01-26 17:58] joshuawilson commented on #1378
48 yrs is a long time to wait for a build

[2018-01-26 17:59] chrislessard commented on #519
On it

[2018-01-26 18:07] qodfathr opened #2068 "User managed fine-grained access control in OpenShift.io"
A team is looking to adopt OpenShift.io. However, they need to maintain a fine level of control over access to various parts of OpenShift.io -- such as who is allowed to create certain content, who is allowed to view it, who is allowed to edit it, who is allowed to delete it, who is allowed to perform certain kinds of operations, etc. These requirements for control may be a result of legal reasons

[2018-01-26 18:08] qodfathr opened #2069 "Broad End-to-End Permissions Experience"
This end-to-end experience is a non-canonical example of several ways a permission model could be utilized in OSIO -- in other words, this Experience is making a lot of assumptions about future functionality in various parts of OSIO. This Experience need not be implemented precisely as written; rather, this end-to-end story is meant to provide a reasonably clear demonstration of the expectation of

[2018-01-26 18:09] qodfathr opened #2070 "Access Control"
An organization can provide, on a user-by-user or role-by-role basis, access to data in OpenShift.io, so that only authorized users may create certain content, and only authorized users may view certain content.

## Parent Scenario
#2068

[2018-01-26 18:10] qodfathr opened #2071 "Operational control"
An organization can provide, on a user-by-user or role-by-role basis, operational control within OpenShift.io, so that only users may only perform the operations to which they are authorized.

## Parent Scenario
#2068

[2018-01-26 18:12] ldimaggi commented on #2070
The higest level object for OSIO is the organization, right? - and users, groups exist with an organization?

[2018-01-26 18:14] qodfathr opened #2072 "System-level access control"
It is possible to define permissions which govern usage rights at the operational level of OpenShift.io. These are rights typical reserved for system operators of OpenShift.io, and automated services interfacing with OpenShift.io. Such permissions could include the ability to backup/restore all of OpenShift.io, create new entities (read: user and organizational accounts) in OpenShift.io, impersona

[2018-01-26 18:17] qodfathr opened #2073 "Entity(User)-level access control"
It is possible to define permissions which govern usage rights at the *entity* level of OpenShift.io, when the entity is a *user*. These are rights which govern operations within a user’s account. For example: being able to create a new Space for the user; being able to delete an existing Space in the User’s account; being able to read certain parts of a User’s profile; being able to update certai

[2018-01-26 18:18] qodfathr opened #2074 "Entity(Organization)-level permissions"
It is possible to define permissions which govern usage rights at the *entity* level of OpenShift.io, when the entity is an *organization*. (In this context, entity can be thought of as the same as an *account*. There are two entity types -- User and Organization.)

An example would be the “Create a new Space” permission. A user `U` with this permission in entity `E` has the ability to create a ne

[2018-01-26 18:20] qodfathr opened #2075 "Space-level permissions"
It is possible to define permissions which govern usage rights at the *space* level of OpenShift.io.

An example would be the the “Create tag definition in this space” permission. Users with this permission are permitted to create new tags within the Space.

## Parent Scenario
#2068

[2018-01-26 18:22] qodfathr opened #2076 "Team-level assignment"
It is possible to assign Space-level permissions to *teams* in OpenShift.io.

An example would be the the “Create tag definition in this space” permission. When set to ‘Allow’ for a given team, members of that team are permitted to create new tags within the Space. Note that although the permission is being granted at the Team level, the permission itself is defined at the Space level. As such, me

[2018-01-26 18:23] qodfathr opened #2077 "Security Group-level assignment"
It is possible to assign both Entity-level and Space-level permissions to *security groups* in OpenShift.io.

An example would be the the “Create tag definition in this space” permission. When set to ‘Allow’ for a given security group, members of that security group are permitted to create new tags within the Space.

## Parent Scenario
#2068

[2018-01-26 18:27] qodfathr opened #2078 "User-level assignment"
It is possible to assign both Entity-level and Space-level permissions to *users* in OpenShift.io. This is not to be confused with the Entity-level of access control, when the entity happens to be a user. The entity level is at the “account” level, whereas this experience is describing assigning a permission to a specific user within a Space (and not necessarily the Space owner).

In other words,

[2018-01-26 18:29] apupier commented on #2024
see related issue https://github.com/lhein/camel-language-server/issues/3 and related branch https://github.com/apupier/che/tree/CamelLsp

[2018-01-26 19:08] joshuawilson commented on #2070
From way back we had talked about an Entity being the parent / interface concept technically. A User and an Org would be a type of Entity. This may or may not have any bearing on the user experience.

[2018-01-26 19:24] ldimaggi opened #2079 "In the Planner, the display of an Iteration description can be difficult to read"
If a user creates an iteration description that is more than 40-50 characters in length, the description text will be wrapped in the display in the shortcut bar.

For an example, see:
https://openshift.io/openshiftio/openshiftio/plan?q=(iteration:f76cc930-77cb-429e-8b25-12fb24867402%20$AND%20workitemtype:bbf35418-04b6-426c-a60b-7f80beb0b624,26787039-b68f-4e28-8814-c2f93be1ef4e,0a24d3c2-e0a6-4686-8

[2018-01-26 19:37] chrislessard commented on #519
@rgarg1 I'm unable to reproduce, and unfortunately your video refuses to load :/ Is it possible someone addressed this elsewhere ?

<img width="1437" alt="screen shot 2018-01-26 at 2 36 19 pm" src="https://user-images.githubusercontent.com/17230733/35457271-5214ba1a-02a6-11e8-9f6a-a6e9211a58c4.png">
<img width="1440" alt="screen shot 2018-01-26 at 2 36 24 pm" src="https://user-images.githubusercon

[2018-01-26 19:46] chrislessard commented on #519
Fixed by https://github.com/fabric8-ui/fabric8-ui/commit/bcdd362ffd979a0ddb48e6eb35f59e92f0a1d516

[2018-01-26 19:46] #519 closed

[2018-01-26 20:31] qodfathr commented on #338
Closing in favor of #2075. There are actually two issues hidden in this one: (1) what is the scope of control for a Space-level permission and (2) which Space-levels permissions do we need to define across all the various parts of OpenShift.io. (And that second one is really a whole bunch of issues -- we'll need to start creating lists of permissions for Planner, for Pipelines, for Environments, e

[2018-01-26 20:31] #338 closed

[2018-01-26 20:37] qodfathr opened #2080 "Permission resolution"
General rule of thumb: `Deny` always takes precedence. If a permission `P` is explicitly set to `Deny` for **any** Team or Security Group to which a user `U` belongs, either belonging to directly or as an ancestor to `U`, the resolution of `P` is `Deny`. If the permission is not set for `U` nor in all ancestors of `U`, the resolution of `P` is `Not Set`, which is handled as `Deny` per #2081. Other

[2018-01-26 20:39] qodfathr opened #2081 "Permission states"
For a given user and context, permission can be in one of three states:
* `Allow` -- The permission is explicitly granted
* `Deny` -- The permission is explicitly denied
* `Not set` -- The permission is undefined -- **treated as `Deny`**

Furthermore, there is a single state qualifier
* `Inherited` -- generally used for display purposes, indicating that the value of the permission for the user and

[2018-01-27 02:50] kbsingh commented on #1083
where are we with closing this down ? I am still worred about how long it taekes for individual calls to close down

[2018-01-27 02:55] kbsingh commented on #1973
Work is going to be spread out over team/analytics team/build team/service-delivery and a few external groups we need to engage with. This task needs to be broken down into Work items and then individually assigned.

Tracking from Asker/Looker team ( as owners to execute this ), would be the way to go.

[2018-01-27 03:02] kbsingh commented on #2057
can we do something simple like set workers to be max limited to 1 ? that way while the triggers can come through, they just get queued.

the way our resourcing model works in the free setup, only 1 build should run at a time.

[2018-01-27 03:07] kbsingh commented on #1329
who is this blocked on ?

[2018-01-27 03:17] kbsingh commented on #2045
please ensure the service team is kept updated on this - the goals here are a bit of an anti pattern. While the stated goal of being able to reach endpoints is something that is worth working through - we should explore ways to get there without opening up external routes.

[2018-01-27 09:48] alexeykazakov commented on #2069
@godfathr Security groups look like roles to me. And permission == scope.
Resource server == extension.

In first version we are going to implement pre-defined set of security groups/roles with predefined set of permissions/scopes.

For example we have a resource server (extension) - planner (currently planner is a part of work item tracker).
Planer has a set of roles/groups - admin, writer, reade

[2018-01-27 09:59] alexeykazakov commented on #2074
@sbryzak so, we need to treat Organizations as resources too.

[2018-01-27 10:06] alexeykazakov commented on #2075
@qodfathr I don’t see an experience for permissions on area level. Why? In our initial design we set permissions for resources. For planner and wit the resources are Organizations and Areas (root area == space).

[2018-01-27 13:33] qodfathr commented on #2069
Although an extension could define a set of groups, this is generally not desirable. The system itself will define some top-level groups (e.g. System Administrators), and all Spaces will get some reasonable Space-level groups such as Contributor, Reader, and Space Administrator. Space Templates are free to define and use additional groups, but this would likely be uncommon.

Planner would then def

[2018-01-27 13:33] qodfathr commented on #2069
Didn't mean to close...

[2018-01-27 14:23] qodfathr commented on #2067
@michaelkleinhenz possible dupe of #1984? Feel free to close this as a dupe if you feel that it is.

[2018-01-27 14:25] qodfathr commented on #2079
@catrobson thoughts from UXD? Should we even be displaying the description, or is that best left to be a tooltip or something else?

[2018-01-27 14:43] qodfathr commented on #1630
With the advent of the proposal for the new Permission model (#2068), this is likely going to become a more *interesting* problem to solve. There will no longer be a a first-class concept of "contributor" in OpenShift.io. Rather, you'll be a user who may have certain Permissions in certain Spaces. So I think this query needs to consider two factors:

- Do I own the Space? This should be a high-lev

[2018-01-27 15:05] qodfathr commented on #1632
Due to the proposed permission model of #2068, there really is no first-class notion of a private Space.

When a Space is first created, it does make sense to ask the creator if it is to be Public or Private. This selection should be used to define an appropriate set of initial Permissions across an initial set of Groups. But, otherwise, the selection of public or private is not maintained, for on

[2018-01-27 15:09] qodfathr opened #2082 "OpenShift.io has best-of-breed reliability"
## Supporting Value Propositions

## Realizing Experiences
- [ ] #1635

[2018-01-27 15:13] qodfathr commented on #1638
@ldimaggi is this still happening?

[2018-01-27 15:17] qodfathr commented on #1656
@ldimaggi still happening in new Planner? Is there a regression test for this?

Perhaps #1638 is related?

[2018-01-27 15:24] qodfathr commented on #1657
Wait, is this a bug? We are getting into some semantics here. The pipeline **is** running, just like any application which is currently awaiting user input is running. May it be nicer to have an indication "hey, this thing is waiting for you to do something?" Sure, but that would be a new feature. I propose we change this back to `type/feature`.

Even on the full pipeline screen itself, it's in th

[2018-01-27 15:25] qodfathr commented on #1664
@joshuawilson still an issue?

[2018-01-27 15:29] qodfathr commented on #1678
Fixed via removal.

[2018-01-27 15:29] #1678 closed

[2018-01-27 15:45] qodfathr commented on #1707
We've got this oddity right now -- we have "Wizard Import," which lets you import a codebase **and** have a version of the App Wizard help you set up a pipeline, etc., and we also have "Add Codebase" (see #1576 ) which is just a quick-and-dirty way to add a codebase to the codebase list. I do not think this method will even establish a pipeline if a Jenkinsfile currently exists in the added repo.

[2018-01-27 17:09] alexeykazakov commented on #2069
@godfathr my proposal is to implement predefined set of groups (roles) and each group (role) has predefined set of permissions (scopes) in the first version.
And also have a predefined set of resource types (system, organization, space/area) where each type has its own set of roles/groups.

We can add flexibility and allow roles/groups  and scopes/permissions be more dynamic later.
I’m talking abo

[2018-01-27 17:24] alexeykazakov commented on #2069
cc: @sbryzak

[2018-01-27 17:37] alexeykazakov commented on #2080
From client (UI) and resource server (Planner backend/WIT) point of view it seems that we can translate these four states of permission to two states (present, not present) simplifying our implementation significantly. A user has a permission to do something with a resource if he/she has a corresponding scope (permission). Scope can be inherited from a parent resource, granted through teams etc. I

[2018-01-27 17:38] alexeykazakov commented on #2081
See further related desiccation here - https://github.com/openshiftio/openshift.io/issues/2080#issuecomment-361000682

[2018-01-27 18:13] qodfathr commented on #1742
Fixed

[2018-01-27 18:13] #1742 closed

[2018-01-27 18:14] qodfathr commented on #1753
Setting to SEV4 because it's probably that the Getting Started guide will be deprecated before we have a chance to fix it.

[2018-01-27 18:15] qodfathr commented on #1754
Setting to SEV4 because it's probably that the Getting Started guide will be deprecated before we have a chance to fix it.

[2018-01-27 18:15] qodfathr commented on #1755
Setting to SEV4 because it's probably that the Getting Started guide will be deprecated before we have a chance to fix it.

[2018-01-27 18:15] qodfathr commented on #1756
Setting to SEV4 because it's probably that the Getting Started guide will be deprecated before we have a chance to fix it.

[2018-01-27 18:16] qodfathr commented on #1757
Setting to SEV4 because it's probably that the Getting Started guide will be deprecated before we have a chance to fix it.

[2018-01-27 18:17] qodfathr commented on #1758
Setting to SEV4 because it's probably that the Getting Started guide will be deprecated before we have a chance to fix it.

[2018-01-27 18:23] qodfathr commented on #1774
Closing as Working as Designed. Once we've got the fully query system & UI in place, you should be able to do more complex Boolean queries.

[2018-01-27 18:23] #1774 closed

[2018-01-27 18:26] qodfathr commented on #1777
Related: #2028

[2018-01-27 18:29] qodfathr commented on #1786
Related: #2082

[2018-01-27 18:40] qodfathr commented on #1799
@luciddreamz are you tracking an issue anywhere to fix the by-line for the OpenShift.io tile?

@alexeykazakov given the current state of things, I agree that we should not include a tile to get to the OSO linked to OSIO. (In other words, keep things they way they are today).

Going back to the original question of this issue -- I feel it has been addressed. We are basically seeing intended behavio

[2018-01-27 18:40] #1799 closed

[2018-01-27 19:38] qodfathr commented on #1810
Thouhts, @catrobson ?

[2018-01-27 19:41] qodfathr commented on #1815
@catrobson is this a bug, or a feature request? Should the filter text box be dynamically adjusting the list on every character typed?

[2018-01-27 19:42] qodfathr commented on #1816
Setting to SEV4 because it's likely that the Getting Started guide will be deprecated before we have a chance to fix it.

[2018-01-27 19:50] qodfathr commented on #1817
See also https://github.com/openshiftio/openshift.io/issues/1542#issuecomment-360143574 which suggests this blank area could be used for validation error messages.

[2018-01-27 19:52] qodfathr commented on #1820
Closing as a dupe of #1604

[2018-01-27 19:52] #1820 closed

[2018-01-27 19:53] qodfathr commented on #1821
Closing in favor of #2018

[2018-01-27 19:53] #1821 closed

[2018-01-27 19:54] qodfathr commented on #927
Closing in favor of #2018

[2018-01-27 19:54] #927 closed

[2018-01-27 19:57] qodfathr commented on #1822
I assume this is regarding the Applications screen, which has be deprecated in favor of the #287 Deployments screen.

[2018-01-27 19:57] #1822 closed

[2018-01-27 19:59] qodfathr commented on #1825
With the new Planner UI now rolling out, I do not believe this issue still applies as it is against the old UI. I'm closing, but feel free to either reopen or create a new issue if there is a concern.

[2018-01-27 19:59] #1825 closed

[2018-01-27 20:01] qodfathr commented on #1828
I've never seen this, and certainly not recently. @ldimaggi , still seeing it?

[2018-01-27 20:03] qodfathr commented on #1854
Closing as dupe of #1829.

[2018-01-27 20:03] #1854 closed

[2018-01-27 20:08] qodfathr commented on #1834
See also #2000

[2018-01-27 20:10] qodfathr commented on #1836
@michaelkleinhenz it sounds like the plan is to change the words on the screen, but, otherwise, **this** issue can be closed as working as designed. Agreed? (If yes, feel free to close.)

[2018-01-27 20:14] qodfathr commented on #1840
@catrobson can UXD please make a determination on this? And if this response is "yes, we should do this," so we need a plan to find **all** places where CTRL+ENTER needs to be consistently handled?

[2018-01-27 20:16] qodfathr commented on #1842
Thanks for the feedback, @tradej. Setting to SEV4 because it's likely that the Getting Started guide will be deprecated before we have a chance to fix it.. @rkratky, there have been a lot of these types of issues reported. I'm confident the docs team is ensuring these will be addressed, as needed, in the new docs. :)

[2018-01-27 20:22] qodfathr commented on #1848
Thanks, @camilamacedo86. I agree that this is messy. I'm going to change to `type/feature`, simply because it is working as designed (even if the design is bad), so it's technically not a bug. That being said, there is an active discussion to address this. (e.g. see here: https://github.com/openshiftio/openshift.io/issues/1707#issuecomment-360993231 and #1576 .)

Moving to `team/platform` as the i

[2018-01-27 20:23] qodfathr commented on #1707
Se also #1848

[2018-01-27 20:24] qodfathr commented on #1852
@slemeur should this be opened in the upstream instead?

[2018-01-27 20:25] qodfathr commented on #1853
@slemeur should this be opened in the upstream instead?

[2018-01-27 20:27] qodfathr commented on #1858
@slemeur @krishnapaparaju is this a bug? Or do the new stack report designs mean this issue may be closed?

[2018-01-27 20:29] qodfathr commented on #1970
Closing a dupe of #1869

[2018-01-27 20:29] #1970 closed

[2018-01-28 03:43] joshuawilson commented on #1664
I haven't seen this in a while. I don't know if it is staying up because it was fixed or because there is more then James watching it. Can someone confirm if it was fixed?

[2018-01-28 12:39] tuxdna commented on #1085
- [ ] Unable to make any API calls due to authorization failure   https://github.com/fabric8-analytics/fabric8-analytics-jobs/issues/244

[2018-01-28 14:48] qodfathr commented on #1946
Related: #718
We need to precisely author this entire experience (and it may require us to create more than one experience). During that time, let's discuss the merits of #718.

[2018-01-28 15:20] qodfathr opened #2083 "Promoting and Adopting new Frameworks for Developers"
A software developer or team has created some code to be consumed by other developers -- for example a new framework, library or package. Even if it is the world's greatest framework, if it goes unseen or unused, it will never achieve its potential.

Developers who are likely candidates to consume things such as new frameworks and packages face the [Paradox of Choice](https://en.wikipedia.org/wiki

[2018-01-28 15:25] qodfathr opened #2084 "Getting Started Quickly with a Framework - from Wizard, to IDE, to Deployment"
**WIP**

E2E experience -- decompose into peer experiences

App Wizard
Che
Pipeline

## Parent Scenario
#2083

[2018-01-28 15:33] qodfathr opened #2085 "Getting Started Quickly with a Framework - from Import, to IDE, to Deployment"
**WIP**

E2E experience -- decompose into peer experiences

Import Wizard
Che
Pipeline

## Implemented Features
- [ ] #282 Public GitHub Repos - Verify the free tier for users on OSIO
- [ ] #1365 Import repo wizard: UX revisited summary page

## Associated Defects
- [ ] #113 Doing an import codebase and selecting the default options seems to kick off master builds continually
- [ ] #518
- [ ] #534

[2018-01-28 15:42] qodfathr commented on #2034
I started to noticed this on 27-Jan-2018. The Input Required button brings up the promotion dialog, but the promote button does not do anything. Clicking the Promote button in Jenkins does work correctly.

[2018-01-28 16:13] mindreeper2420 commented on #1829
@SMahil you are working on this issue, correct?

[2018-01-28 16:16] qodfathr commented on #1683
Removing SEV2 because it's not a bug. `crucial-dep` now relates the importance of this issue.

[2018-01-28 16:22] qodfathr commented on #2050
@joshuawilson do you know who owns features.html?

[2018-01-28 16:24] qodfathr commented on #1060
@ibuziuk this is an important and prominent feature which is not working out-of-the-box, so IMHO `SEV2` is appropriate.

[2018-01-28 16:27] qodfathr commented on #981
Fixed via removal.

[2018-01-28 16:27] #981 closed

[2018-01-28 17:24] qodfathr commented on #2075
@alexeykazakov mainly because I'm not done writing issues yet. :) But it won't be on Areas, it will be on Teams.

[2018-01-28 17:33] qodfathr commented on #2075
Actually, upon further consideration, there are no Team or Area specific Permissions. Teams are just a form of Security Group, and, as such, they are **granted** or **denied** Space-level rights, but no specific Permissions are **defined** at these levels. Note that this issue (and others like it) discuss the *definition* of Permissions, not the *assignment*.

Teams can only be assigned Space-leve

[2018-01-28 17:42] qodfathr commented on #1906
@RanjithRV can you please ensure that this is specifically called out on the f2f agenda somewhere so we remember to address it? Thanks!

[2018-01-28 17:49] catrobson commented on #1810
This wizard design does not let you choose future steps as you must complete the step you are on, and selecting next is often a validation point for the wizard.  This is as designed.  This wizard design/behavior is being changed with the latest quick start flow so we shouldn't continue to see this usability issue moving forward.

[2018-01-28 17:53] qodfathr commented on #2013
Mitch and I need to rework this into a proper set of Scenarios, Value Props and Experiences.

[2018-01-28 17:59] catrobson commented on #1576
Agree we have several problems with this dialog and flow.  Captured story for UXD to determine improvements and then create implementation stories.

[2018-01-28 18:07] qodfathr commented on #1945
Fixed via removal

[2018-01-28 18:07] #1945 closed

[2018-01-28 18:07] catrobson commented on #2014
This is as designed.  As specified by PatternFly for toast notifications:

"Clicking on an action should either help the user achieve the goal automatically, or open up a modal window or a different page. "

In this case, clicking the link can't perform an immediate action (restart server as an example), it is just bringing the user to information, therefore we open it in a different page as to no

[2018-01-28 18:11] catrobson commented on #1408
@ashumilova can you show how delete currently works?  I think this was a developer idea to have delete codebase look like our delete filter, and not actually desired by the UX Designers.  I don't support this, and hope the current delete acts as most of ours throughout the system does - kabob menu to "Delete", confirmation modal with red button to confirm Deletion.

[2018-01-28 18:14] catrobson commented on #1657
Feature/design issue.  We'll look at how to improve this in the views where you can't see the whole pipeline such as dashboard widgets.

[2018-01-28 18:15] SMahil commented on #1829
Yes Adam

[2018-01-28 18:15] catrobson commented on #1707
Agreed we need to clean up these flows, and agree with a "I don't want a Jenkinsfile" option."   We'll probably want to call this "pipeline" and get into the details of the jenkinsfile as a definition of your pipeline in the advanced cases for a user's perspective.

[2018-01-28 18:16] aslakknutsen commented on #1906
If we want to keep k8 support we need to setup k8 testing as part of the normal flow. Else we're just coding in the dark and hope it works.

[2018-01-28 18:20] catrobson commented on #1840
It should actually just be "Enter" when in the textbox area, and Shift+Enter should create a new line.  UXD had created an OSIO keyboard shortcuts document a while back that I don't believe we ever tested against.  @ldimaggi, comments?

https://docs.google.com/spreadsheets/d/1KglEj4LHhSXO55ksfUgl3jZv6WihibTGFUQixwOMM5w/edit#gid=0

Some of these may need updating as things have changed since this w

[2018-01-28 18:24] qodfathr commented on #1049
Okay, now I'm even more confused. :)

Are we saying that this issue needs to be addressed directly?
Are we saying that the Reset Env button should not go away?
Are we saying this is all moot because the Reset Env button is going to go away?

Personally, I really want to see the Reset Env button go away. IMHO, it's existence is being used crutch to avoid fixing bugs. I never enjoy having to push th

[2018-01-28 18:34] qodfathr commented on #864
Closing, as this will get addressed in some way by https://github.com/fabric8-ui/fabric8-ux/issues/839, #1707, #1576, which are all related to the same area of concern.

[2018-01-28 18:34] #864 closed

[2018-01-28 18:37] aslakknutsen commented on #1049
@qodfathr Agree that this feature should be hidden from normal usage. It's to destructive during normal usage of the system, and really only valuable for test envs or test users. The users need for this will go away when Space:Delete takes OSO space related resources into account on Delete: https://github.com/openshiftio/openshift.io/issues/1746

[2018-01-28 18:43] qodfathr commented on #1360
That last question was to you, @joshuawilson , I think.

FWIW, I do not want to see us add a refresh button. I just want it to work transparently (if possible).

[2018-01-28 18:45] qodfathr commented on #1152
Closed due to removal.

[2018-01-28 18:45] #1152 closed

[2018-01-28 18:46] qodfathr commented on #979
Fixed via removal.

[2018-01-28 18:46] #979 closed

[2018-01-28 18:48] qodfathr commented on #556
Fixed via removal.

[2018-01-28 18:48] #556 closed

[2018-01-28 18:49] qodfathr commented on #427
Closing in favor of #2018.

[2018-01-28 18:49] #427 closed

[2018-01-28 18:51] aslakknutsen commented on #1840
@catrobson You know that's _not_ how normal input work, right? That's not how _this_ comment box work, not of GitHub descriptions work etc etc..

The normal behavior is:

TextArea(MultiLine): When NewLine is part of the normal input, Enter is newline, and shift+enter normally does nothing. This is normal for Descriptions / Comments etc.

Input[text](SingleLine): When NewLine is not allowed or usef

[2018-01-28 18:55] qodfathr opened #2086 "Deployments Screen should show all quota metrics which can block successful deployment"
OSO quota items:
- [x] CPU
- [x] Memory
- [ ] # of Routes
- [ ] # of Services
(need to determine full list)

## See Also
#287

## Parent Scenario
#2058

[2018-01-28 18:59] qodfathr commented on #1724
Is this resolved, or is there more to discuss?

[2018-01-28 19:02] qodfathr commented on #865
@catrobson, with the advent of https://github.com/fabric8-ui/fabric8-ux/issues/839, can we now close this question in favor of that one as the answer?

[2018-01-28 19:11] joshuawilson commented on #1360
I'll have to check if there is an update running.
I agree, it should "feel" live even if it isn't.

[2018-01-28 19:21] alexeykazakov commented on #2075
I’m a bit confused...
Let’s take OSIO as an example.
Our thoughts were that we can create a OSIO Space. Then Planner, Auth, Analytics, etc areas within the OSIO Space.
Then we can create Planner, Auth teams, or let’s say Platform teams which we can assign special roles in the area. For example Planner team has “writer” role in Planner area.
Do you have something else in mind?

[2018-01-28 19:39] aslakknutsen opened #2087 "Usage of Hawkular REST Client in "Deployments" leak Go Routines"
Each call to https://github.com/fabric8-services/fabric8-wit/blob/master/controller/apps.go#L47 creates a new Hawkluar client under the hood which starts up a new goroutine (https://github.com/hawkular/hawkular-client-go/blob/master/metrics/client.go#L670). The client is never reused nor closed, so each client creation leaks 1 goroutine. These calls are also done in a refresh loop on the client si

[2018-01-28 19:41] aslakknutsen commented on #2087
@stooke Something for you?

[2018-01-28 20:01] joshuawilson commented on #2050
@qodfathr yes, that is UXD. I think @mindreeper2420 does the work on it.

[2018-01-29 00:16] qodfathr commented on #2075
Yes, I have something else in mind. Teams do not create their own security groups / roles; they are, in fact, just a version of a security group.

What you are describing looks good on paper, but not in practice. Very few organizations would have a need for that level of control *within a Space*, and if some organization really does want it, the same level of control can be achieved (with some eff

[2018-01-29 00:22] qodfathr opened #2088 "Security Groups"
Security Groups are a set of zero or more Users, Security Groups, or Teams.

Security Groups may be defined at the System level (for the administration of OSIO itself), at the Entity level (i.e. a User account or an Organization account) or at the Space level.

A Security Group has a name and optionally a description.

## Implementing Features

## Parent Scenario
#2068 User managed fine-grained ac

[2018-01-29 00:26] qodfathr opened #2089 "Teams (Permissions definition)"
Teams are a set of zero or more Users, Security Groups, or Teams.

Teams may only be defined at the at the Space level.

A Team has a name, one or more **administrators** and optionally a description. The list of administrators may include Users, Security Groups and Teams.

## Implementing Features

## Parent Scenario
#2068 User managed fine-grained access control in OpenShift.io

[2018-01-29 00:33] alexeykazakov commented on #2075
Todd, could you describe some example. How we would organize our “openshift.io” space using your permission model. I mean if we use OSIO to develop OSIO.

[2018-01-29 00:37] qodfathr commented on #2075
That sounds like a good thing to discuss at the f2f. It will take some whiteboards.

[2018-01-29 00:40] qodfathr commented on #1049
@aslakknutsen are you suggesting a new Tenant Override page? Or is that some hidden thing that already exists? Regardless, I agree with the value for the scenarios you described.

[2018-01-29 00:42] qodfathr commented on #2014
Thanks!

[2018-01-29 00:42] #2014 closed

[2018-01-29 00:43] mindreeper2420 commented on #2050
Per the [Wiki](https://github.com/openshiftio/openshift.io/wiki/Supported-Browsers), OpenShift.io requires Chrome v60.x or higher. At a minimum, for the site to render correctly, [Chrome v57.x](https://developers.google.com/web/updates/2017/03/nic57) must be used, as that was the first version to support the CSS styles/techniques that are in use. Chrome v57.x was released March 2017 for MacOS, Win

[2018-01-29 00:43] qodfathr commented on #1810
Closing as Working as Designed.

[2018-01-29 00:43] #1810 closed

[2018-01-29 00:48] qodfathr commented on #2050
@mindreeper2420 I think my main concern right now is that we have a static HTML page (features.html) which does not render in a web browser produced in the last 10 years. Given that this page is a marketing page meant to convince people to try out the service, it should be made as backwards compatible as possible (IMHO).

FYI, the Wiki will soon be wrong and require updating, once we finish author

[2018-01-29 00:52] qodfathr commented on #2069
FYI @alexeykazakov , you keep tagging the wrong GitHub users. My id starts with a `Q`. The pne starting with a `G` is somebody else.

I'm okay with baking in a set of roles at first, provided we are using those in a manner consistent with the capabilities specified. Sounds like a very wise approach for an MVP.

[2018-01-29 00:53] mindreeper2420 commented on #2050
@qodfathr Ok, I will add this to the UX issue list for this sprint. I will also update the Getting Started page, as that uses the same CSS techniques as the Features page.

[2018-01-29 00:57] qodfathr commented on #2057
@kbsingh I think that's how it is working. I think @ldimaggi is right, the bug is #2034.

I'd like to propose closing this as:

1. a feature request that conflicts with the intended design (i.e. wanting parallel builds in free OSIO tier)
and
2. a reported bug. which is a dupe of #2034.

@krishnapaparaju , if you are okay with that, please close this issue. Thanks!

[2018-01-29 01:07] qodfathr commented on #284
I could try and find them all. Or, I could also point out that this dates back to June 23 and not a single checkbox has been marked as completely, and no other issues reference this Epic indicating that it is being worked on. :)

I honestly don't feel it's worth the effort to track down and list all of the related issues which replace this one, so I am going to close. Anyone is welcome to reopen i

[2018-01-29 01:07] #284 closed

[2018-01-29 01:07] qodfathr commented on #282
I do not. @ldimaggi ?

[2018-01-29 01:12] qodfathr commented on #739
@bartoszmajsak you still owe me some links :)

[2018-01-29 01:14] qodfathr commented on #1944
What about highlighting the row via some form of `hover`? That would help a lot...

[2018-01-29 01:25] alexeykazakov commented on #2069
@qodfathr oh, thanks! I didn't realize I was tagging wrong user :)

[2018-01-29 03:07] ldimaggi commented on #2057
Bug #2034 refers to the 'promote' button not working - for a single build. It is not related to 2 builds colliding.

[2018-01-29 03:09] ldimaggi commented on #1049
I'm fine with the feature being hidden - but it should not be removed. Users, especially new users, and users experimenting with OSIO will require access to a cleaned environment.

[2018-01-29 03:59] aslakknutsen commented on #1049
@qodfathr It's a thing that exists, but usage is restricted to 'Internal'.

[2018-01-29 05:32] krishnapaparaju opened #2090 "Extend Insights for WildFly Swarm applications"
With OSIO quick starts catalog containing  WildFly Swarm applications, would need to extend insights.

- [ ] Ingest manifest files for  WildFly Swarm applications

- [ ] Train the models with WildFly Swarm manifest files

- [ ] S3 to Graph is in sync with the packages for  WildFly Swarm ecosystem

cc @msrb @miteshvp

[2018-01-29 06:44] rgarg1 commented on #2044
@qodfathr

Thanks for the clarification. I used that _contrived_ example to demonstrate the case where this specific workitem filtering was noticed in the tree view. So from your response I understand that:

- Workitems display in the tree should not be constrained in any manner
- The above rule does not apply if the workitem type created is not known to Planner

Cc @michaelkleinhenz @nimishamukhe

[2018-01-29 09:12] corinnekrych opened #2091 "Anonymous user should see features as `released` ie: Production only"
# Description
As a user not logged-in on OSiO I should be able to see features as if my user consent is set to "production only: ie: `released`.
* If a feature is toggled off completely bu the PM => not visible in the menu.
* If a feature is beta/experimental => visible with banner asking me to log-in to accept experimental feature.
* if a feature is released =>visible without banner
# List of tas

[2018-01-29 09:13] corinnekrych commented on #1165
@qodfathr tracked in: https://github.com/openshiftio/openshift.io/issues/2091

[2018-01-29 11:41] maxandersen commented on #2029
do you really mean that ? wouldn't the more natural thing be that the pipelines are listed there but marked as "Inactive" or similar. Related scenario are when a user that don't have RBAC approved access to the cluster - he/she won't be able to see anything either as they simply don't have the access. In that case it would also  be relevant to have some status/list of pipelines that can be viewed

[2018-01-29 12:17] rootAvish commented on #2090
@sara-02 Since you'll be working on this please assign yourself.

[2018-01-29 12:41] jpopelka commented on #685
I think this can be closed as we already covered this in follow-up tickets like #1052

[2018-01-29 12:41] #685 closed

[2018-01-29 12:54] ibuziuk commented on #2034
e2e tests are failing on both prod & prod-preview since Jan 24th:
- https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-ts-openshift.io-runTest/
- https://ci.centos.org/job/devtools-test-end-to-end-ts-prod-preview.openshift.io-runTest/
S

[2018-01-29 12:58] tuxdna commented on #1085
Ready to invoke the sync: https://gist.github.com/tuxdna/4930d9f6c30f2cca8e2a77aeab77b8b7

[2018-01-29 13:00] ibuziuk commented on #1512
e2e tests are failing on both prod & prod-preview since Jan 24th due to https://github.com/openshiftio/openshift.io/issues/2034. Shouldn't this issue be marked as SEV1 ?

[2018-01-29 13:02] ibuziuk commented on #2022
@ldimaggi could you please verify on `prod-preview` ? we are going to promote the fix today on prod

[2018-01-29 13:31] aslakknutsen commented on #2034
The call from the OSiO UI to Jenkins happens in the Forge/Launcher code.. @gastaldi ?

[2018-01-29 13:37] hferentschik opened #2092 "UI does not refresh when adding a codebase"
There are several workflows in the UI where actions affect areas of the screen which then don't get updated until a full reload of the page is triggered. For example.

1. As newly provisioned user log into openshift.io
1. Create your initial space
1. Choose to create a sample pipeline (using the wizard)
1. Follow the steps of the wizard
1. Once complete you can close the wizard and you can see you

[2018-01-29 13:37] gastaldi commented on #2034
@aslakknutsen was something changed in the Openshift projects to support the Jenkins proxy? This is the error I see in the logs:

[code]

[2018-01-29 13:40] gastaldi commented on #2034
It was working when https://github.com/openshiftio/openshift.io/issues/1684 was implemented

[2018-01-29 13:43] msrb commented on #1724
Not resolved yet.

I think the problem with devtools/CentOS CI is the shared JJB configuration in https://github.com/openshiftio/openshiftio-cico-jobs. Since all devtools teams share the single configuration file, we need to be very  careful while merging PRs. Bad PRs can break CI for everybody. So only very few people can merge PRs and thus modify CI configuration. It certainly feels like a bottl

[2018-01-29 14:07] msrb commented on #2045
@kbsingh if we could somehow access the endpoints without opening up external routes, then our problem would be solved. Any idea how we could achieve that?

[2018-01-29 14:09] jiekang commented on #2059
Closing as fix has been merged.

[2018-01-29 14:09] #2059 closed

[2018-01-29 14:09] tisnik commented on #1329
@kbsingh we need to have S3 credentials to be used on CI (ie. we need to know hashes of the 'real' credentials)

[2018-01-29 14:11] gastaldi opened #2093 ""Promote" button in OSIO pipeline calls launcher-backend"
As part of the merge initiative with the forked generator-backend, we noticed that the legacy code contains some code that [proxies requests to the user Jenkins](https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/web/endpoints/JenkinsProxyEndpoint.java).

IMHO that doesn't make sense that service to exist in launcher-backend, s

[2018-01-29 14:14] aslakknutsen commented on #2034
@gastaldi hmm, no.. got some more?

[2018-01-29 14:16] msrb commented on #2061
Not a bug, we are running the tests in CI. Closing 😉

[2018-01-29 14:16] #2061 closed

[2018-01-29 14:20] msrb commented on #1085
@tuxdna Cool! :) Please go ahead and do so. Please start with Maven. Thanks 😉

[2018-01-29 14:20] luciddreamz commented on #1799
@qodfathr The change (https://github.com/openshift/online-registration/pull/902/files) is currently in stage and will go out with our next release to prod, which should be this week.

[2018-01-29 14:23] gastaldi commented on #2034
No, that's all that is displayed there.

[2018-01-29 14:26] gastaldi commented on #2093
Assigning to the platform team to start discussion about it

[2018-01-29 14:35] tisnik opened #2094 "Unit tests for the fabric8-analytics-license-analysis repo should be run on CI for each PR"
ATM only two CI jobs are run for each PR:

    Pylint
    docker image build

Please look, how the build job looks like:

[code]

[2018-01-29 14:37] jiekang commented on #2038
@stooke @ebaron Does the metrics API support requesting the last 15 minutes of data?

[2018-01-29 14:42] michaelkleinhenz commented on #1501
@corinnekrych looking at the code, I'd say that the problem is more in how Unleash responds than in Platform code. Is it correct to block all requests to Unleash without Auth header? Seems hash to me. I'd expected Unleash to be more fine granular. @xcoulon

[2018-01-29 14:42] aptmac commented on #2038
@jiekang There's a query that can be added on the the end of the stats and statseries api to get data within a range of time.

[2018-01-29 14:44] gastaldi commented on #2093
My gut tells me this service should belong to CD, but I need someone to confirm

[2018-01-29 14:53] jiekang commented on #2038
Okay nice. Thanks!

[2018-01-29 15:00] ldimaggi commented on #2034
Yes - this is also a problem on prod-preview:
![screenshot from 2018-01-29 09-58-35](https://user-images.githubusercontent.com/642621/35516975-2fd23478-04db-11e8-8af8-72dfbccbe76b.png)

[2018-01-29 15:11] jiekang opened #2095 "Make collapsed cards linger"
The deployments cards can be expanded for more detailed information and subsequently collapsed. At the moment, the components are fully unloaded when collapsed and reloaded when expanded again. The collapsed components should linger instead, so if a user closes and opens the card in quick succession, it does not unload and load repeatedly.

[2018-01-29 15:11] #2064 closed

[2018-01-29 15:54] aslakknutsen commented on #1687
Tenant Service updated and in prod.

[2018-01-29 15:54] #1687 closed

[2018-01-29 15:54] aslakknutsen commented on #2034
This will get fixed when UI is updated. It's currently sending forge the OSO token, not OSiO token so 401 is returned by the proxy. https://github.com/openshiftio/openshift.io/issues/1685

[2018-01-29 15:58] tisnik commented on #1794
Remark for myself: use ```https://ci.centos.org/job/devtools-test-end-to-end-prod-fabric8-analytics/api/json``` to fetch statuses of all remembered jobs.

[2018-01-29 16:08] gastaldi commented on #2093
Made SEV-2 because we're refactoring the launcher-backend and that will be gone after that

[2018-01-29 16:08] stooke opened #2096 "Migrate Deployments API to use proxy instead of accessing OpenShift directly."
To support multicluster, etc, the Deployments API (in WIT) must be migrated to the OSIO proxy wherever it tries to access OpenShift clusters.

Part of user story #2632

[2018-01-29 16:14] aptmac commented on #1939
Fixed in PR: https://github.com/fabric8-ui/fabric8-ui/pull/2442

[2018-01-29 16:14] #1939 closed

[2018-01-29 16:17] catrobson commented on #1775
UXD issue for the HTML/CSS implementation of this:  https://github.com/fabric8-ui/fabric8-ux/issues/841

[2018-01-29 16:26] gastaldi commented on #2034
Ah I tested this feature using `cURL`, that explains why it passed in my tests. Should have used the UI instead

[2018-01-29 16:33] chrislessard opened #2097 "Delete batch of spaces from My Spaces interface"
If a user wants to delete a batch of spaces (even if it's as small as two or three of them) via the My Spaces UI, they need to individually click each kebab and go through the warning message. Attached is an image of a (rare) pain point where many spaces need to go, but can only be deleted one by one.

![many-spaces](https://user-images.githubusercontent.com/17230733/35521553-0cc5e9cc-04e8-11e8-8c

[2018-01-29 16:34] catrobson commented on #865
@qodfathr yes

[2018-01-29 16:36] catrobson commented on #1840
@aslakknutsen thanks.  So let's just say we need to revisit keyboard shortcuts - I didn't check the validity of that document at any point, it was assembled before I was leading.  I'll create a UX issue around this.

[2018-01-29 16:38] catrobson commented on #1840
UXD Issue created for revisiting keyboard shortcuts:
https://github.com/fabric8-ui/fabric8-ux/issues/842

[2018-01-29 17:16] andrewazores opened #2098 "Deployments service does not handle empty object timeseries responses"
Sometimes, the backend response to a timeseries stats request for a deployment comes back like `{"data":{}}`, such as when a deployment has 0 pods. This currently results in a console message like "series is undefined" because the DeploymentsService does not detect this case, and so an empty object is bubbled through the subscription and fails at some mapping step. Instead, the service should not

[2018-01-29 17:35] ibuziuk commented on #2022
@ldimaggi the fix has been promoted to prod. Could you please verify & close ?

[2018-01-29 17:35] michaelkleinhenz commented on #1933
Example PR build fails:
https://jenkins.cd.test.fabric8.io/blue/organizations/jenkins/fabric8-ui%2Ffabric8-planner/detail/PR-2419/3/pipeline

[2018-01-29 17:44] #865 closed

[2018-01-29 17:53] chrislessard commented on #2097
@catrobson Before I try to implement this, is there anything I should keep in mind from a design standpoint, regarding which icons or buttons to use and where to place them ?

[2018-01-29 17:54] joshuawilson commented on #2093
So you want it fixed before you refactor it and it is gone?

[2018-01-29 17:54] andrewazores commented on #2037
Pretty sure this is happening because of the `combineLatest` here:

https://github.com/fabric8-ui/fabric8-ui/blob/93c0327037011e2327b63eace36470429cd3018f/src/app/space/create/deployments/services/deployments.service.ts#L216

What's happening is that this Observable needs data from two different sources - the per-environment quota, and the per-deployment timeseries stats. Each of those sources ind

[2018-01-29 17:55] gastaldi commented on #2093
Yes, does that make sense?

[2018-01-29 17:56] joshuawilson commented on #2097
@chrislessard `features` need to go through design and PM. You should not work on it till they work it.

[2018-01-29 17:56] bartoszmajsak commented on #2093
Refactoring is by definition changing internal structure and preserving the behaviour - so removing some functionality without introducing new service providing the same is a no-go.

[2018-01-29 17:57] joshuawilson commented on #2093
and why should someone fix something that is going away?

[2018-01-29 17:58] gastaldi commented on #2093
It's not going away, the UI still needs it. It needs to be moved to another project. It doesn't make sense to be where it is right now

[2018-01-29 17:59] ibuziuk opened #2099 "Could we have `status/pending-qa-verification` label ?"
When the fix is promoted to prod / prod-preview it would be very nice to have a possibility to set `status/pending-qa-verification` label which would notify that QA verification is required. For now there is labels “verified-fix-in-prod-preview” / “verified-fix-in-prod” but nothing to notify QA team about verification request.

Wiki description:

[2018-01-29 18:07] bartoszmajsak commented on #2099
No way of having automated verification before any fix lands in prod-preview?

[2018-01-29 18:08] ibuziuk commented on #1683
Che OSO proxy support is now on prod. Once it will be confirmed that multi-cluster is working with che as expected the issue can be closed

[2018-01-29 18:13] aslakknutsen commented on #1683
Verified in preview and prod on new cluster.

[2018-01-29 18:13] #1683 closed

[2018-01-29 18:14] joshuawilson commented on #2099
Labels do NOT notify when set. But sure you can have that label.

[2018-01-29 18:15] chrislessard commented on #2097
@joshuawilson Gotcha, thanks !

[2018-01-29 18:16] ibuziuk commented on #2099
at very least for che there is no such verification in place (not sure about if other component are fully automated and require no manual tests these days), but @rhopp is working on having this done at least partially [1]. Also there are cross-component & prod-preview specific issues like [2] where QA verification would be nice to have. Currently in order to get QA attention we need to ping them i

[2018-01-29 18:16] joshuawilson commented on #2099
We don't have `verified-fix-in-prod-preview` OR `verified-fix-in-prod`

[2018-01-29 18:18] ibuziuk commented on #2099
notify = QA will be sorting issues by this label on daily basis and see where their involvement is required

We do. This is not documented in wiki though. Do not know who os the creator

[2018-01-29 18:19] joshuawilson commented on #2099
I missed them at the bottom, i thought they would have been under status.
I added the requested label.

[2018-01-29 18:20] ibuziuk commented on #2099
@joshuawilson thanks!

[2018-01-29 18:23] #2099 closed

[2018-01-29 18:25] chrislessard opened #2100 "Line wrapping doesn't seem to be supported in profile bio"
It would appear as though long words will not always be wrapped to continue on the next line in a user's profile bio.

![bio-wrapping-1](https://user-images.githubusercontent.com/17230733/35527129-b9cb12c8-04f7-11e8-8c99-d4622301817d.png)
![bio-wrapping-2](https://user-images.githubusercontent.com/17230733/35527130-b9d5f35a-04f7-11e8-9cdb-16ff07f11256.png)

## Impacts
- [ ] #2135 Profile Screen

[2018-01-29 18:51] jiekang commented on #2095
Closing as fix has been merged

[2018-01-29 18:51] #2095 closed

[2018-01-29 19:23] aslakknutsen opened #2101 ""Deployments" cause panic in prod"
[code]

## Impacts
- [ ] #2082

[2018-01-29 19:24] aslakknutsen commented on #2101
@stooke Making this a sev-2 and not a sev-1 since it doesn't seem to cause any damage beyond triggering alerts.

[2018-01-29 19:33] alexeykazakov commented on #1686
Jenkins seems to work in muliti-cluster env. Closing.

[2018-01-29 19:33] #1686 closed

[2018-01-29 19:35] chrislessard opened #2102 "Git repo url overlaps relevant attributes in Application Wizard"
Steps to reproduce: Create a new space, create a new project, give it sufficiently long name that will be matched by corresponding github repo.

It seems there is overlap between the github URL and the project attributes in the final view of the Space Wizard.

![overlap-text](https://user-images.githubusercontent.com/17230733/35530226-79d67a04-0501-11e8-8db9-b1e64f644ddb.png)

[2018-01-29 20:04] msrb commented on #2048
@sivaavkd description updated, is it better now?

[2018-01-29 20:38] ldimaggi commented on #2022
Closing - verified fixed in production and on prod-preview.

[2018-01-29 20:38] #2022 closed

[2018-01-29 20:40] alexeykazakov commented on #1685
OSO Proxy URLs:

Preview: https://f8osoproxy-test-dsaas-preview.b6ff.rh-idev.openshiftapps.com
Production: https://f8osoproxy-test-dsaas-production.09b5.dsaas.openshiftapps.com

[2018-01-29 20:47] ldimaggi opened #2103 "Che "run" command fails for Wildfly Swarm quickstarts"
[code]

![screenshot from 2018-01-29 15-37-28](https://user-images.githubusercontent.com/642621/35533186-b573d350-050a-11e8-9adc-2d10be20da04.png)

The run command is not doing a build before it tries to do a run.

[2018-01-29 20:50] ibuziuk commented on #2103
@ldimaggi have you build the project before executing run command e.g. did you have swarm jar before executing `java -jar`

[2018-01-29 20:59] ldimaggi commented on #2103
That works - but - shouldn't the run command also perform a build?

[2018-01-29 21:05] ibuziuk commented on #2103
nope, but I agree that this could be a bit misleading if one have not get used to the way Che IDE commands suppose to work in comparison with Descktop IDE. So, if you think it is important usability problem the issue upstream could be opened https://github.com/eclipse/che

[2018-01-29 21:11] ibuziuk commented on #2103
@ldimaggi actually giving another thought I think we could improve the situation with run comands [1]
 - mvn package && java -jar ./target/example-jpa-war-swarm.jar
 - mvn wildfly-swarm:run
The second option is more preferable, but might require quickstart update.

[1] https://github.com/wildfly-swarm/wildfly-swarm-examples/tree/master/jpa/jpa#run

[2018-01-29 21:14] ldimaggi commented on #1512
Sev1 is for production only, not prod-preview,

This is a bad bug, but, the user is not 100% blocked as they can promote from either the Jenkins build log or from OSO.

But - yes - we should fix this ASAP...

[2018-01-29 21:15] andrewazores opened #2104 "Deployments service is never destroyed"
The DeploymentsService is never destroyed, which is problematic since the service starts polling indefinitely once initialized. This means that background Deployments API requests will continue to occur even after the user has navigated away from the Deployments tab.

[2018-01-29 21:15] andrewazores commented on #2020
See also https://github.com/openshiftio/openshift.io/issues/2104

[2018-01-29 21:15] andrewazores commented on #2104
See also https://github.com/openshiftio/openshift.io/issues/2020

[2018-01-29 21:25] ldimaggi commented on #2029
What would the problem be with the user recreating the pipeline? Couldn't he/she just "create pipeline" from OSIO?

[2018-01-29 21:29] qodfathr commented on #510
Reopening because this fix is not live in prod yet.

[2018-01-29 22:12] chrislessard commented on #510
@qodfathr ah, sorry about that :)

[2018-01-29 22:39] ldimaggi commented on #282
Sorry - I do not - private accounts seem to require $$$.   ;-)

[2018-01-29 22:50] ldimaggi commented on #1828
I'm missing something here - what is the issue?

https://ci.centos.org/view/Devtools/job/devtools-test-end-to-end-ts-prod-preview.openshift.io-quickstartTest/

![screenshot from 2018-01-29 17-48-09](https://user-images.githubusercontent.com/642621/35538657-b3234970-051c-11e8-9912-a22e90f79340.png)

[2018-01-29 22:54] ldimaggi commented on #1656
Closing - not seeing this now.

[2018-01-29 22:54] #1656 closed

[2018-01-29 23:26] bartoszmajsak commented on #282
At this moment there is no difference from OSIO standpoint. I can import private repository to existing space by adding new codebase as well as while creating new space and importing existing repo. I can see it in the drop-down and successfully create a new space.

[2018-01-29 23:54] mishaone commented on #1842
Logged an issue to check these issues in the latest version of the getting started doc once we finish updating it: https://github.com/fabric8io/fabric8-online-docs/issues/174

[2018-01-29 23:55] aslakknutsen commented on #282
@qodfathr @catrobson Got any UX around this?

[2018-01-30 01:16] kbsingh commented on #1724
there is no clear way to enforce per-team scopes, I think we should use the testing mechanism listed in the readme file locally for anyone sending PR's. and use the validation in place now.

Beyond that, +1 for listing the names of people who can merge there.

[2018-01-30 03:49] aslakknutsen commented on #2087
Seems to have calmed down after the fix. Closing.

![screenshot from 2018-01-30 04-48-04](https://user-images.githubusercontent.com/132158/35547352-d550b490-0578-11e8-801d-2fe1baccfd66.png)

[2018-01-30 04:08] joshuawilson commented on #2102
This is a duplicate but I can't find the other one right now.

[2018-01-30 04:13] #2098 closed

[2018-01-30 04:49] tuxdna commented on #1085
We can not track ingestion in other task for Maven. Closing this.

[2018-01-30 04:49] #1085 closed

[2018-01-30 04:52] tuxdna commented on #2048
Carrying forward from - https://github.com/openshiftio/openshift.io/issues/1085#issuecomment-361237441

Some intermittent failures encountered in Graph layer. This seems to be happening very sparsely:

[code]

[2018-01-30 05:39] tuxdna commented on #2048
Figured out the cause of above error from gremlin server logs:

[code]

Essentially the queries are not formed should factor in special characters like newlines correctly in existing code here:

https://github.com/fabric8-analytics/fabric8-analytics-data-model/blame/51ae4e1ecbd03e352a1a8e63a003bf2d7264a1a1/src/graph_populator.py#L112-L124

[code]

Happens for this package

[code]

[2018-01-30 05:58] tuxdna commented on #2048
`metadata.json` for the above EPV contains

[code]

Notice the newline.

[2018-01-30 06:37] nimishamukherjee commented on #2079
@ldimaggi can you confirm if you still get the description field. The Planner UI's iteration section has been updated (last week Thursday)?

[2018-01-30 07:17] krishnapaparaju opened #2106 "POC for automating mapping CPEs to individual application dependencies"
Automation of CPEs would require these following steps and to start with , wanna focus on step (4) which carry most of the uncertainty.

Would suggest we run down this POC for Node, Python ecosystems..

1. Gather all the content from CPE description and associated links mentioned at CPE
2. Pick a CVE a NVDB and gather (manually) all the possible dependencies (master list)
3. Gather tags / intent f

[2018-01-30 08:19] pbergene commented on #2101
+1 Glad we caught it for you & thanks.

[2018-01-30 08:40] sunilmalagi commented on #2079
@qodfathr @catrobson I had confirmed with Dev team, this is an old screenshot and invalid. Prod has been updated over the weekend. Description is no longer shown...

[2018-01-30 08:45] arunkumars08 commented on #1689
Closing this as it is no longer relevant.

[2018-01-30 08:45] #1689 closed

[2018-01-30 08:46] arunkumars08 commented on #1720
Closing this as it is no longer relevant

[2018-01-30 08:46] #1720 closed

[2018-01-30 09:22] chmouel commented on #1933
If we have random failure, I think we need some kind of profiling :

* How can we get those infos from  GKE
* How can we get that info from the application (i.e: profiling memory usage and cpu on intepreter)

[2018-01-30 09:40] ibuziuk commented on #1060
The issue is going to be fixed after swithing to JDT LS.
demo link https://youtu.be/zE9Cvu_u9-c

[2018-01-30 09:43] xcoulon opened #2107 "Improve the space deletion confirmation dialog"
The current message is as follow:

![screenshot 2018-01-30 10 42 27](https://user-images.githubusercontent.com/178502/35559165-4919acac-05aa-11e8-89b5-1a282de98eab.png)

IMHO, the message should at least contain the name of the space, so the user knows which space is about to be deleted. Or something even less error-prone, where the user needs to input the name of the space in order to confirm the

[2018-01-30 11:33] aslakknutsen commented on #2107
@xcoulon Where did you click this?

I believe it should follow similar flow as Reset Env, with a full list of what is being deleted and a confirmation box etc; https://redhat.invisionapp.com/share/2BD1C1GQY#/screens/249789313

[2018-01-30 11:56] tisnik opened #2108 "[2] The test that checks packages stored in Gremlin should have better logic for the latest_version property"
Currently, the ```latest_version``` property is checked against one fixed number:

[code]

It would be better to check, if the actual version is the same or never than expected version:

[code]

ATM we can ignore the 'Alpha', 'Beta', 'GA', 'CR' etc. postfixes.

[2018-01-30 11:59] msrb commented on #2011
Aaand fixed.

[2018-01-30 11:59] #2011 closed

[2018-01-30 13:01] catrobson commented on #2079
@sunilmalagi thanks for the update!

[2018-01-30 13:42] humaton commented on #2045
One possible solution that came up in discussions with @msrb is that we could create one container that will have our services forwarded to different ports. Developers will then just ssh to the container and use curl to get access to the service associated with a port.

[2018-01-30 14:30] qodfathr opened #2109 "OpenShift.io registration queuing"
Although OpenShift.io needs to scale (#2028) , there may be times when the number of new registrations per unit time is dramatically increased (e.g. after a press announcement, during a presentation at a public event, a viral tweet, etc.). As such, the elastic capacity of OpenShift.io may occasionally face temporary challenges in meeting customer need.

## Typical flow when the service has capacit

[2018-01-30 14:31] kbsingh commented on #2045
👎 to ssh into prod infra, it needs far more access than would be suiteable for that environment. What I would say is open an internal HK issue for this work and lets work this there. Close this issue here, since its not a bug or a feature. Its a more housekeeping / operating model / security scoped.

[2018-01-30 14:47] msrb commented on #2005
Shuffling things a bit, let's focus on https://github.com/openshiftio/openshift.io/issues/2106 this sprint.

[2018-01-30 15:07] catrobson commented on #282
@aslakknutsen nope, hadn't seen this issue before now.  We're already looking at importing a codebase in the following design story, so I'll link this issue up and make sure we're considering it in the validation of github repo linking.

https://github.com/fabric8-ui/fabric8-ux/issues/839

[2018-01-30 15:17] sivaavkd commented on #2106
@abs51295 and @CermakM - Please create individual user stories and link them to this epic. If you think that this is a story sized, and not an epic sized, let us discuss more.

[2018-01-30 15:21] aslakknutsen opened #2110 "Openshift.io DSaaS Monitoring/Metrics"
All OSIO services expose metrics for central monitoring

# Services

## Container Level: CPU/Network/Memory, etc

- [x] fabric8-wit (go)
- [x] fabric8-auth (go)
- [x] fabric8-tenant (go)
- [x] fabric8-notification (go)
- [x] fabric8-toggles (node)
- [x] fabric8-osoproxy (go)
- [ ] fabric8-toggles-service (go)
- [x] jenkins-idler (go)
- [ ] jenkins-proxy (go)
- [x] che-mt (java)
- [ ] che-starter (

[2018-01-30 15:22] ldimaggi opened #2111 "Changes to Planner shortcut bar truncate iteration title display"
See attached screenshot - the iteration title strings are truncated - and since the user cannot resize the shortcut panel, the full text of the titles cannot be viewed.

![screenshot from 2018-01-30 08-16-46](https://user-images.githubusercontent.com/642621/35574241-41eb56ea-05a7-11e8-8735-0036c968411e.png)

![screenshot from 2018-01-30 08-16-31](https://user-images.githubusercontent.com/642621/35

[2018-01-30 15:23] kbsingh commented on #2110
@jfchevrette @fche @pbergene

[2018-01-30 15:36] ldimaggi commented on #2111
Also, if the first 13 characters of 2 iterations titles are identical, and the iterations are both at the same level in the hierarchy, then both identical title sub-strings are displayed.

[2018-01-30 15:43] ldimaggi opened #2112 "OSIO Deployments page should include links to the deployed run/stage apps"
The current implementation of the Deployments page does not include links to deployed apps on run/stage - these links are provided on the pipeline page.

It would be helpful if we added the links to the Deployment page too. Thx!

[2018-01-30 15:50] ldimaggi opened #2113 "In the Deployment page, a status of running is displayed before the app is actually reachable"
When an app is deployed, its status is displayed as running when the app's deployed pod is running, but this is before the app itself is actually reachable.

![screenshot from 2018-01-30 10-26-15](https://user-images.githubusercontent.com/642621/35575792-4f81a148-05ab-11e8-9c6e-d18411a10502.png)

[2018-01-30 15:56] qodfathr commented on #1828
well, @ldimaggi , you did agree what it was a problem 20 days ago. :) Sounds like it is now fixed. Closing.

[2018-01-30 15:56] #1828 closed

[2018-01-30 16:00] qodfathr commented on #534
Related: #1360

[2018-01-30 16:15] jiekang commented on #2113
Currently, the status only reflects the status of the Pod and even then, isn't entirely complete. It's behavior will be updated as more API gets merged into fabric8-wit

Application status is application specific and could present some issues in displaying something useful. In practice, Openshift allows users to attach readiness or liveness probes to their application. The most basic is an http en

[2018-01-30 16:17] joshuawilson commented on #2107
I think this is getting removed with the newer UX designs.
@catrobson can you confirm?

[2018-01-30 16:20] jiekang commented on #1888
Closing this issue in favor of issues with specific tasks. For the most part, the deployments page is okay. Css scope has been updated in the donut charts: https://github.com/openshiftio/openshift.io/issues/1939

[2018-01-30 16:20] #1888 closed

[2018-01-30 16:21] jiekang commented on #1658
Status update:

Everything is complete except:

Status alerts for pod deployment failures
Links for logs, openshift console and application
Action for deleting application

[2018-01-30 16:21] jiekang commented on #2112
Right. This is in the works. As soon as the API is merged into fabric8-wit, fabric8-ui will be updated and the links will be available.

Closing as this is tracked (loosely) under:
https://github.com/openshiftio/openshift.io/issues/1658
https://github.com/openshiftio/openshift.io/issues/1655

[2018-01-30 16:21] #2112 closed

[2018-01-30 16:27] #2055 closed

[2018-01-30 16:31] fche commented on #2110
Would this moot https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/354 ?

[2018-01-30 16:32] jiekang commented on #1889
Closing as API endpoints all catch errors and have reasonable return values on catch. Rather than checking stability manually, we should see if tests can be added that can verify that these reasonable return values are actually reasonable. This would be a separate issue.

[2018-01-30 16:32] #1889 closed

[2018-01-30 16:33] #2037 closed

[2018-01-30 16:40] fche commented on #2110
Note that this list includes only the OSD-side metrics, not tenant OSO-side metrics.

[2018-01-30 17:00] qodfathr commented on #2092
Closing as dupe of #1252

[2018-01-30 17:00] #2092 closed

[2018-01-30 17:01] aslakknutsen commented on #2110
@fche Added OSO components, a few more OSD and some DBs. Which level are analytics workers at, container?

[2018-01-30 17:08] aslakknutsen opened #2114 "Openshift.io DSaaS Central Error reporting"
All OSIO services log their errors to a central location for tracking/triage

## Services

- [x] fabric8-wit (go) - https://github.com/fabric8-services/fabric8-wit/pull/1909
- [x] fabric8-auth (go) - https://github.com/fabric8-services/fabric8-auth/issues/337
- [ ] fabric8-tenant (go)
- [ ] fabric8-notification (go)
- [ ] fabric8-toggles (node)
- [ ] fabric8-osoproxy (go)
- [ ] fabric8-toggles-ser

[2018-01-30 17:58] qodfathr commented on #767
@mindreeper2420  @joshuawilson wasn't this related to the fact when we were going to expose an analytics form of some sort that an anonymous user could use without even logging into OSIO? Is that even still part of the plan? I think this may be a dead issue?

[2018-01-30 18:00] mindreeper2420 commented on #767
@qodfathr I believe that was pulled out of the overall plan and that this is indeed a dead issue.

[2018-01-30 18:03] fche commented on #2110
Same as core OSD: per-container.  Because they're in a separate openshift namespace, they have their own copy of osd-monitor running.

[2018-01-30 18:20] catrobson commented on #2107
Looks like we didn't resolve this in the design or dev of the spaces listing, but we have set out a standard for delete modals that I'd like to follow here:  https://redhat.invisionapp.com/share/YSDL0KRKW#/273202263_Deployments_Delete.   Does deleting a space actually work though?  I think there are a variety of problems to solve about what, other than the space construct, we delete (pipelines, co

[2018-01-30 18:41] #767 closed

[2018-01-30 18:43] joshuawilson commented on #2107
This modal is on the View All spaces page. Are we keeping that page?

[2018-01-30 18:45] catrobson commented on #2107
Same modal from both My Spaces and View All Spaces.  Expecting to remove View All Spaces page when we can add a search to the My Spaces page.

[2018-01-30 18:48] joshuawilson commented on #2107
ah, ok
I'll leave this to you for design then.

[2018-01-30 18:49] #2104 closed

[2018-01-30 19:07] mindreeper2420 commented on #1775
PR for HTML/CSS filed: https://github.com/fabric8-ui/fabric8-ui/pull/2461

[2018-01-30 19:24] andrewazores commented on #2038
Perhaps this is large enough to fall under a separate issue, but the once-a-minute polled updates should also include all data samples available from the API since the last update, not just the most recent as I believe is received currently.

[2018-01-30 19:27] jiekang commented on #2038
The OSO requests are for the last X minutes in buckets of Y minutes. With initial request being 15 and 1, and subsequent requests being 1 and 1. Since the API should be making the same kind of request to Openshift or Kubernetes, we should be able to mimic that to get a 15 minute chart with 1 data point per minute.

[2018-01-30 19:54] andrewazores opened #2115 "Deployments card details (charts) look unrefined for deployments with 0 pods"
![screenshot-20180130145054](https://user-images.githubusercontent.com/3787464/35587869-fe91384e-05cc-11e8-8d2f-1bc5864a257a.png)

Deployment cards' expanded details states look unrefined and incomplete when there are 0 pods to a deployment. Need design guidance on this one - @catrobson ? I have a patch prepared that simply hides the CPU/memory/network charts and labels, but I don't know if that's

[2018-01-30 19:55] andrewazores commented on #2115
![screenshot-20180130145538](https://user-images.githubusercontent.com/3787464/35588109-a69b36fc-05cd-11e8-943f-b2daefa7dfb6.png)

This is what it looks like with the patch applied to simply hide the charts.

[2018-01-30 20:05] catrobson commented on #2115
+1 to hide the charts when there are no pods and data, looks good @andrewazores

[2018-01-30 20:44] aslakknutsen commented on #2107
@catrobson so this is out? https://redhat.invisionapp.com/share/2BD1C1GQY#/screens/249789313

[2018-01-30 22:55] alexeykazakov commented on #2109
cc: @luciddreamz

[2018-01-30 23:54] hferentschik commented on #1245
The rollout of Idler/Proxy will occur in two steps. First, we enable the Jenkins Proxy for everyone and then we deploy the Jenkins Idler and enable the idling feature.

The Proxy itself is ready to go, but there are two migration tasks which need to occur in parallel with the rollout:

* https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/114 - Updating the links in the pipeline view

[2018-01-31 00:01] kbsingh commented on #1245
@hferentschik it might be good to ensure the launcher team have delivered their new code, so new users are not going to need migrations etc, before we do the cluster wide rollout for idler/proxy.  cc @gastaldi - as he's doing that work in launcher

[2018-01-31 03:14] mishaone opened #2116 "Old workspaces being reused for new project with same name"
I'm testing and documenting our getting started doc so we have a lot of resetting the environment and doing the steps with the same names for spaces and projects over and over (and deleting the codebase in GH) so that the screenshots are consistent.

Today, I reset the environment and then created yet another space called myspace and a new project using the Vertx HTTP quickstart names helloworldve

[2018-01-31 03:37] aslakknutsen commented on #2116
The match between Codebases and Che is based on User+repo-url. And Che is not part of the delete spaces flow, semi related: https://github.com/openshiftio/openshift.io/issues/1746

[2018-01-31 03:50] aslakknutsen commented on #869
@alexeykazakov This is technically /api/user/services not replying with propper www-auth headers based on response from auth, and UI not understanding it if it did.. :)

[2018-01-31 04:16] mishaone opened #2117 "Occasionally, Ok button greyed out when using quickstart wizard"
This is a weird minor issue and may be related to me creating spaces and projects with the same names over and over, but periodically my quickstart wizard's summary step has a greyed out OK button. Not sure why, but this tends to happen sometimes with the first new quickstart I create in a new space after an environment reset.

![not_ok](https://user-images.githubusercontent.com/926572/35604936-e8

[2018-01-31 04:37] aslakknutsen opened #2118 "On demand permissions to remote systems"
The overall system requires remote system permissions in different locations to perform the required actions. This could be;

* GitHub access to create repositories
* Openshift access to deploy applications
* Openshift to provision environments

The system should be able to automatically detect and instruct the user on how to provide the correct permissions in some of the following scenarios:

* W

[2018-01-31 04:49] krishnapaparaju commented on #2042
@sunilk747 @miteshvp were these changes promoted to OSIO ?

[2018-01-31 06:05] sivaavkd commented on #1191
@tisnik - Can you please verify if this is resolved with the performance work that we did in sprint 142 ?

[2018-01-31 06:07] mmclanerh commented on #1700
This has decayed.  I've been able to not experience this issue several times, since experiencing it.  Closing.

[2018-01-31 06:07] #1700 closed

[2018-01-31 06:09] krishnapaparaju opened #2119 "Button for 'Promote to next environment' is not working"
<img width="576" alt="screen shot 2018-01-31 at 11 37 14 am" src="https://user-images.githubusercontent.com/15967765/35607679-59af5162-067b-11e8-89dd-d8f90a2a2088.png">
Clicking on buttons to 'promote to next environment' (at OSIO UI) not doing anything. However promoting (to the next environment) directly from Jenkins console is 'promoting' a quick start application to the next environment.
<img

[2018-01-31 06:15] alexeykazakov commented on #2119
A dupe of https://github.com/openshiftio/openshift.io/issues/2034

[2018-01-31 06:15] #2119 closed

[2018-01-31 06:28] arunkumars08 commented on #1808
@tisnik Currently, by design, we don't have any feature that shows the progress of the stack analysis report.

What happens when you **click** on stack report link as soon as build is done, may be one of the following

1. It can immediately give you the desired report if analysis had been faster.
2. It shows a message saying it is still generating report or some kind and asks the user to check bac

[2018-01-31 07:48] msrb commented on #2106
@sivaavkd it's important to keep in mind that everything around CVEs is basically a research project. We need to try things and see what works and what doesn't. So the possibility of not delivering anything useful at the end of the sprint is always there.

[2018-01-31 08:02] hferentschik commented on #1245
Right, this is a requirement. As I keep saying there are several pieces which need to fall in place when enabling the Jenkins Proxy for everyone.

[2018-01-31 08:15] msrb commented on #2106
I see one potential problem with using tags. CVE description and most of the links don't discuss the package itself. They describe the vulnerability. Therefore trying to connect CVE (description+links) with packages based on tags could be difficult. Of course, if we could identify which of the links points to the project's homepage, that could help us a lot. The same for GitHub/SCM links.

[2018-01-31 08:20] hferentschik commented on #1245
This was an integration test really. It was not about determining any baseline of similar. It was about verifying that things work and that there are no obvious leaks. So far the test just covers the pure proxying part. To also test the actual idle/unidle functionality some more changes on the Idler side are needed (https://github.com/fabric8-services/fabric8-jenkins-idler/pull/101).

[2018-01-31 08:25] hferentschik commented on #1245
Another thing which I think needs to be discussed more is the combination of Idler and multi-cluster. @vpavlin had the idea of running one Idler per cluster, but I am wondering whether this would even be possible.

[2018-01-31 09:11] maxandersen opened #2120 "can't open blueocean UI"
I'm not sure if this issue caused/related to idler or "just" a jenkins issue; but here is what I did:

goto jenkins.openshift.io
click the "Goto blueocean" (https://jenkins.openshift.io/blue/organizations/jenkins)
Sees that it ends up at https://jenkins-manderse-jenkins.8a09.starter-us-east-2.openshiftapps.com/login?from=%2Fblue%2Forganizations%2Fjenkins%2F
and shows me username/password and i'm l

[2018-01-31 09:14] msrb opened #2121 "Document how current CVE job works"
# Description

We need to document how current CVE job works. Although the job will be likely replaced with something more sophisticated in the near future, the documentation will be a good starting point for https://github.com/openshiftio/openshift.io/issues/2106.

[2018-01-31 09:22] rhopp opened #2122 "Che workspaces cannot be started on prod & prod preview."
All info in original issue: https://github.com/redhat-developer/rh-che/issues/530
Creating also here for tracking purposes.

[2018-01-31 10:09] rgarg1 opened #2123 "Add a 'Submit a bug' button in the OSIO header"
To make it easier for OSIO users to submit bugs against the system, we should cut the process short by providing a 'Submit a bug' button in the OSIO header. Currently, to submitting a defect is a multi-click process where either,

1) [Click-1] User clicks 'Create work item' from the dashboard --> [Click-2] Selects work item type as 'Bug' --> [Click-3] Submits the bug report

OR

2) [Click-1] Brows

[2018-01-31 10:23] tisnik commented on #1191
I've run the benchmarks on prod today and the results are much better:

https://fabric8-analytics.github.io/perf-tests/core_api/component_analysis/2018-01-31/component_analysis_sequenced_calls_known_component.png

https://fabric8-analytics.github.io/perf-tests/core_api/component_analysis/2018-01-31/component_analysis_sequenced_calls_known_component_min_max_avg_times.png

https://fabric8-analytics.

[2018-01-31 10:26] tisnik commented on #1191
Also the output data seems to be correct -> ok to move this issue to current sprint and close it.

[2018-01-31 10:26] #1191 closed

[2018-01-31 10:42] ibuziuk commented on #2122
@aslakknutsen I guess there is smth. you could help me with to tackle this problem. Looks like `api/user/services` does return blank `cluster*` payload:

[code]

[2018-01-31 10:46] jarifibrahim commented on #1933
Npm install failed without any errors - https://jenkins.cd.test.fabric8.io/job/fabric8-ui/job/fabric8-planner/job/PR-2417/11/console

[2018-01-31 11:16] msrb commented on #852
Since this endpoint is not officially supported and we don't expect people to use it, I would suggest not spending any time on this issue. Unless there is a plan to make this endpoint officially supported in the near future.

[2018-01-31 11:21] corinnekrych commented on #1501
@michaelkleinhenz we'll change that indeed. here is: https://github.com/openshiftio/openshift.io/issues/2091

[2018-01-31 11:31] ibuziuk commented on #2122
PR with validation on rh-che side https://github.com/redhat-developer/rh-che/pull/531

[2018-01-31 11:35] tuxdna commented on #2048
Fixed issue -

- [ ]  https://github.com/fabric8-analytics/fabric8-analytics-data-model/issues/71

Another issue encountered

- [ ] https://github.com/fabric8-analytics/fabric8-analytics-data-model/issues/74

[2018-01-31 12:54] tisnik commented on #1383
@msrb I'm ok with it.

[2018-01-31 12:58] #2009 closed

[2018-01-31 13:28] msrb commented on #852
@samuzzal-choudhury please free to reopen if you think otherwise. Thanks 😉

[2018-01-31 13:28] #852 closed

[2018-01-31 13:36] qodfathr commented on #2102
You cannot find it because we closed as fixed. :) #1171. Perhaps there is a bug in the logic which determined when to show a truncated "..." version. Maybe it is basing the decision on the number of characters rather than the rendering length of the text. I'll close this as a dupe of #1171 and reopen that one.

[2018-01-31 13:36] #2102 closed

[2018-01-31 13:37] qodfathr commented on #1171
Reopening due to observations in #2102.  Please see screenshots and commentary on that issue.

[2018-01-31 13:38] qodfathr commented on #2100
@catrobson is this a bug or working as designed?

[2018-01-31 13:44] qodfathr commented on #2093
I though we were reserving SEVs for bugs. This issue needs a `type`.

[2018-01-31 13:55] ldimaggi commented on #2093
Isn't this the same issue as bug: #2034
?

[2018-01-31 13:58] gastaldi commented on #2093
No, this is a task asking the CD team to move to their domain

[2018-01-31 14:00] ibuziuk commented on #2122
@rhopp could you please verify on prod-preview ?

[2018-01-31 14:03] qodfathr commented on #2113
#508 is related, as this same issue was observed on Applications screen and Pipeline screen. (In #508, you'll find several other related issues covering those cases.)

[2018-01-31 14:08] maxandersen commented on #2029
not following your question - sorry. can you provide a bit more context ?

[2018-01-31 14:09] rhopp commented on #2122
@ibuziuk Has something changed? I can see, that your PR is not merged yet, che pod on rh-idev has been running for ~one day (has not bee updated today) and (most importantly) the issue is still present on prod-preview.

[2018-01-31 14:09] qodfathr commented on #2111
@sdash-redhat is this a bug or working as designed?

[2018-01-31 14:12] ibuziuk commented on #2122
@rhopp just figured out with Aslak that PR is not actually fixed. PR for rh-che just improves validation, the real fix is on `fabric8-tenant` side

[2018-01-31 14:17] qodfathr commented on #2117
I know that the OK button is disabled while the appwizrd is doing verifications, but I don;t recall seeing this on the very last page of the wizard. @mishaone , what did you do to dismiss the appwizard so you could go on to the next step?

[2018-01-31 14:23] bartoszmajsak opened #2124 "Unable to enable experimental features"
- Go to the space you are not the owner of (i.e. https://openshift.io/openshiftio/openshiftio/plan)
- You will be presented with "opt-in" button to enable experimental features

### Expected behaviour

Opens user profile and let you enable experimental features

### Actual behaviour

Nothing happens

### Additional info

**This works when in your own space**

JS error while calling GET present in

[2018-01-31 14:25] miteshvp opened #2125 "Need to add f8a-server-backbone as part of fabric8-analytics dev cluster deployment"
Currently dev cluster deployment for fabric8-analytics does not deploy latest [api-backbone](https://github.com/fabric8-analytics/f8a-server-backbone/) service. This deployment replaces worker-api deployments and it should be handled as part of dev-cluster deployment as well.

[2018-01-31 14:26] qodfathr commented on #2116
See also #915. Revisions to Space deletion is something that PM and UX need to address.

[2018-01-31 14:35] sdash-redhat commented on #2111
@qodfathr I do not remember that as a part of the original design last I contributed. At the first glance, to me it looks like a cosmetic issue not addressed and thought through -- for example even if the truncation happens, it should not happen this way, rather it should be explored inline with some high-level pointers mentioned here.
Will check with Sunil and update if that is based on some desi

[2018-01-31 14:40] msrb commented on #2125
We already have the backbone service in our `deploy.sh` script: https://github.com/fabric8-analytics/fabric8-analytics-deployment/blob/master/openshift/deploy.sh#L78

[2018-01-31 14:40] catrobson commented on #2100
@qodfathr Yes, this is a bug, we should truncate on characters.

[2018-01-31 14:42] miteshvp commented on #2125
Cool. I was unaware. Thanks.

[2018-01-31 14:42] #2125 closed

[2018-01-31 14:50] aslakknutsen commented on #2122
@rhopp @ibuziuk The PR did fix it, but it failed to deploy to preview. Both preview and prod are now updated.

[2018-01-31 14:50] ibuziuk commented on #2122
@rhopp @ScrewTSW the fix was promoted to prod. Please verify & close

[2018-01-31 15:03] ldimaggi opened #2126 "Analytic reports for Wildfly Swarm boosters are empty"
See attached screenhot:

![screenshot from 2018-01-31 09-43-58](https://user-images.githubusercontent.com/642621/35629894-c9561e0a-066d-11e8-97a4-d400ee76e430.png)

[2018-01-31 15:07] catrobson commented on #2107
@aslakknutsen.  Correct, sorry, lost track of the design coming back from vacation!  That was my open question to Joshua (and you) though - are we going to do the backend work to support that full space delete.  Right now its hard to give any description of what it does since it just creates orphaned objects to my understanding.

[2018-01-31 15:15] corinnekrych commented on #2124
@joshuawilson @bartoszmajsak I've reproduced the problem on fabric8-ui master, then switch to commit https://github.com/fabric8-ui/fabric8-ui/commit/abfa3a336eef8eff27465ae1fd3aa36cd9d1dec9 and the problem is still there.
One thing I've noticed those calls to `api/spacetemplates` get cancelled when accessing other person space. See:
![screenshot 2018-01-31 15 47 44_preview](https://user-images.git

[2018-01-31 15:20] bartoszmajsak commented on #2124
how about git-bisect and some test to "quickly" find the culprit here?

[2018-01-31 15:20] krishnapaparaju commented on #2126
Thanks Len. Work related to supporting WF Swarm is being tracked as adding a 'feature' here at #2090

[2018-01-31 15:22] rhopp commented on #2122
Verified on both prod&prod-preview. Great work, guys!

[2018-01-31 15:22] #2122 closed

[2018-01-31 15:26] ldimaggi opened #2127 "Cannot create new quickstarts on https://openshift.io"
This issue just started in the past 20 min - attempts to create new quickstarts are failing:

![screenshot from 2018-01-31 10-20-26](https://user-images.githubusercontent.com/642621/35631113-0ec9ae04-0671-11e8-956a-856e47450896.png)

[2018-01-31 15:26] ldimaggi commented on #2127
The problem seems to be limited to production, prod-preview is not showing this error.

[2018-01-31 15:48] maxandersen commented on #1245
for multicluster I would assume its about running one idler instance per cluster on OSD, right ?  and each of those idlers will have a cluster name to talk to and monitor ? I guess that would work...why wouldn't it ?

[2018-01-31 15:50] gastaldi commented on #2127
That's weird, I can create quickstarts in Production perfectly. Is there something wrong with your user? Can anyone else confirm that?

[2018-01-31 15:50] krishnapaparaju opened #2128 "Fix liveness probe for recommender API server"
Current liveness probe not been updated as per the recent architectural changes. resulting in restarting pods.

[2018-01-31 15:51] gastaldi commented on #2127
Ah wait, I thought you were referring to the Wizard screen, that happens when the Finish button is pressed, right?

[2018-01-31 15:53] gastaldi commented on #2127
The error in the log is: `
Caused by: java.nio.file.FileSystemException: /tmp/projectDir1105022648082137236: No space left on device
`

Can someone restart the pod please? This is another bug caused by the legacy forked code

[2018-01-31 15:57] gastaldi commented on #2127
Also, can we have a Liveness Probe configured to automatically discard the pod if the space is near full? That would be a decent workaround until we finish migration

[2018-01-31 16:23] gastaldi commented on #2127
After the pod was restarted, it works now. This should no longer happen once we get rid of the legacy code (being worked as part of the backend migration). Closing this issue

[2018-01-31 16:23] #2127 closed

[2018-01-31 16:28] #1807 closed

[2018-01-31 16:29] #1931 closed

[2018-01-31 16:40] joshuawilson commented on #2107
yes, that is work have planned for

[2018-01-31 16:43] joshuawilson commented on #2117
The wizard is going through a completely new redesign. This will soon be out of scope.

[2018-01-31 16:47] GeorgeActon commented on #1883
@joshuawilson We have permission from Libraries.io to use the information. This was agreed in a business to business meeting at the same time that we negotiated a higher API rate.

[2018-01-31 16:48] joshuawilson commented on #1883
great, thanks for the confirmation

[2018-01-31 17:05] corinnekrych commented on #2124
@bartoszmajsak you're welcome topaly the git game but you need to know which component/lib is causing issue.
For me it seems located in Planner but I'm not familiar with the code:
![screenshot 2018-01-31 18 02 21_preview](https://user-images.githubusercontent.com/1395710/35636295-029c60be-06b1-11e8-9ae1-3ae07c64dbae.png)
@michaelkleinhenz does it sound familiar to you?

[2018-01-31 17:08] qodfathr opened #2129 "Handling of pre-existing OpenShift Online Starter artifacts for new OpenSHift.io users"
WIP

## Implementing Features
- [ ] #1446 Detect if the user to init on Tenant already has a project on OSO

## Parent Fundamental
#2015 OpenShift.io registration and on-boarding process is Pleasant and Inviting

[2018-01-31 17:14] qodfathr opened #2130 "OpenShift.io development methodologies are best practicies"
WIP

[2018-01-31 17:16] qodfathr opened #2131 "OpenShift.io development uses CI"
WIP

## Parent Fundamental
#2130 OpenShift.io development methodologies are best practices

[2018-01-31 17:24] qodfathr opened #2132 "Rendering Papercuts for Heather"
There are a number of minor rendering issues which should be addressed during Heather.

[2018-01-31 17:25] qodfathr opened #2133 "Dashboard Rendering Issues"
## Associated Defects
- [ ] #1975 Sometimes the UI manages to include multiple 'page' components into one page

[2018-01-31 17:33] ibuziuk commented on #2103
`wildfly-swarm` plugin is not installed in quickstarts, so in order to proceed we need to add this plugin to all wildfly quickstarts:

`[ERROR] No plugin found for prefix 'wildfly-swarm' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories [local (/home/user/.m2/repository), central (https://repo1.maven.org/maven2)] -> [Help

[2018-01-31 17:34] qodfathr opened #2134 "Creating one's professional brand in the software industry"
WIP -- why users want to build a personal brand; more than just devs

## Supporting Value Propositions

## Realizing Experiences
- [ ] #2135 Profile Screen

[2018-01-31 17:34] qodfathr opened #2135 "Profile Screen"
WIP

## Implementing Features
- [ ] #1775 Ability to select Private or Public for the Email address on user profile page

## Associated Defects
- [x] #862 Updating user profile requires browser refresh to see the changes
- [x] #1881 Wrong email validation on profile page
- [x] #2100 Line wrapping doesn't seem to be supported in profile bio

## Parent Scenario
- [ ] #2134 Creating one's professiona

[2018-01-31 17:38] qodfathr opened #2136 "Navigation Rendering Issues for Heather"
## Associated Defects
- [ ] #1708 Analyze tab not highlighted when selected

## Parent Papecuts
#2132 Rendering Papercuts for Heather

[2018-01-31 17:44] qodfathr commented on #1606
Technically, this issue is reported against the Profile page, and you can no longer delete Spaces from the profile page. So closing as fixed by removal.  However, see all #2107

[2018-01-31 17:44] #1606 closed

[2018-01-31 17:49] gjbianco commented on #259
Even without changing the UX, it seems like some of the permissions aren't needed. For example, it doesn't seem like it needs full access to personal user data. Is read only enough?

As far as managing repos for the user, it would seem like it only needs full access to repositories.

[2018-01-31 17:56] joshuawilson commented on #2123
I think we already have an issue or two on this.

[2018-01-31 18:05] joshuawilson commented on #2118
I know that @catrobson has started working on a flow that would work with this once it is done.

[2018-01-31 18:08] qodfathr opened #2137 "Navigation Papercuts for Heather"
There are a number of minor navigation issues which should be addressed during Heather.

## Realizing Experiences

[2018-01-31 18:08] qodfathr opened #2138 "Platform Navigation Issues for Heather"
## Associated Defects
- [ ] #1997 Cannot read property 'filter' of null

## Parent Papercuts
#2137 Navigation Papercuts for Heather

[2018-01-31 18:22] qodfathr opened #2139 "Profile Rendering Issues for Heather"
## Associated Defects
- [ ] #2001 occasionally edit profile and profile page load together in one page

## Parent Papercuts
#2132 Rendering Papercuts for Heather

[2018-01-31 18:30] chrislessard commented on #2100
For what it's worth, wrapping _does_ seem to apply in certain cases when spaces are introduced. It does not seem like the method we've implemented to achieve wrapping knows how to break up long continuous words. This begs the question: should they be broken up via a hyphen, as is usually the case in English texts ?

[2018-01-31 18:36] aslakknutsen commented on #259
Related https://github.com/openshiftio/openshift.io/issues/2118

[2018-01-31 18:59] nickboldt commented on #1971
I'm ready to add F8A to Central. https://github.com/jbosstools/jbosstools-discovery/pull/375

But first we need to publish a milestone release to its own update site: http://download.jboss.org/jbosstools/oxygen/development/updates/fabric8analytics/

Let me know which build you'd like tagged as a milestone, from those here:

http://download.jboss.org/jbosstools/oxygen/snapshots/builds/jbosstools-fa

[2018-01-31 19:02] qodfathr opened #2140 "OpenShift.io has automated end-to-end (E2E) tests"
## Implementing Features

## Associated Defects
- [x] #1611 E2E have hardcoded github username

## Parent Fundamental
#2082 OpenShift.io has best-of-breed reliability

[2018-01-31 19:02] rawagner commented on #1971
@nickboldt B701 please http://download.jboss.org/jbosstools/oxygen/snapshots/builds/jbosstools-fabric8analytics_master/2018-01-31_11-56-20-B701/

[2018-01-31 19:12] corinnekrych commented on #2124
Actually it might be link to guard validation here: https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/shared/owner-guard.service.ts#L29
I'll take the ticket and look closer

[2018-01-31 19:20] nickboldt commented on #1971
Done. http://download.jboss.org/jbosstools/oxygen/development/updates/core/fabric8analytics/

[2018-01-31 19:42] qodfathr opened #2141 "Cache Related Rendering Issues for Heather"
## Associated Defects
- [ ] #819 Users have to hard refresh browser from time to time

## Parent Papecuts
#2132 Rendering Papercuts for Heather

[2018-01-31 19:43] joshuawilson commented on #2124
that was my first thought too, just not sure how it is related

[2018-01-31 20:00] qodfathr commented on #1122
Okay, let's just remove the 'Add to Space' button if you are not the Space owner, and we'll better address what should and what should not be possible in a future train (it's going to require #2068 anyway).

[2018-01-31 20:07] ldimaggi opened #2142 "Intermittent issue being seen today - user is unable to access Jenkins build log"
Steps to recreate:
* Create new quickstart
* While quickstart is building, attempt to access Jenkins build log ("View Log")
* Observe the following:

1) The log is not viewable:
![screenshot from 2018-01-31 15-02-02](https://user-images.githubusercontent.com/642621/35644838-14b37d32-0698-11e8-81cd-54d5c5487121.png)

2) The Jenkins pod remains in a starting state:
![screenshot from 2018-01-31 14-56

[2018-01-31 20:37] qodfathr commented on #2107
@catrobson  I think all we really need to answer for right now is "of the two designs for the Space deletion confirmation dialog, which one is the right one?"

[2018-01-31 20:42] qodfathr opened #2143 "AppWizard Rendering Issues for Heather"
## Associated Defects
- [ ] #1171 Cropped information in "Application wizard" on Summary step

## Parent Papercuts
#2132 Rendering Papercuts for Heather

[2018-01-31 20:43] nickboldt commented on #1971
Please note that " Ensure back end service requirements are stable" also includes 'does the website work with Internet Explorer / default OOTB embedded Eclipse browser?' which apparently... is no, not yet. :)

[2018-01-31 20:54] qodfathr opened #2144 "OpenShift.io has a thriving upstream -- the fabric8 project"
WIP

## Realizing Experiences
- [ ] #2145 Project is well documented for contributors

ref: https://openshift.io/openshiftio/openshiftio/plan/detail/2168

[2018-01-31 20:55] qodfathr opened #2145 "Project is well documented for contributors"

[2018-01-31 21:25] aslakknutsen commented on #2124
The "unsafe:null" bit has been there for 8months+

[2018-01-31 21:31] mmclanerh commented on #2142
tried to reproduce this.  created a new quickstart.  while it's building, clicked into logs.  this did take my to jenkins but i had to log in.

![image](https://user-images.githubusercontent.com/33727536/35648578-6c630408-0693-11e8-8e24-189681dbb99c.png)

![image](https://user-images.githubusercontent.com/33727536/35648590-77944f1c-0693-11e8-8de5-7e0fb296c487.png)

[2018-01-31 22:18] kbsingh commented on #2114
cc @mmclanerh fyi

[2018-01-31 22:32] aslakknutsen commented on #2114
@kbsingh This issue was part of the announcement :)

[2018-01-31 22:39] mmclanerh commented on #2142
/cc @pbergene

[2018-01-31 22:47] qodfathr commented on #340
@alexeykazakov agreed. We'll need to write a bunch of new issues for the specific permissions available in the service, but first we need to build the permission system. :)

I'm going to remove `heather` from this; I'll start scoping some proposed permissions and look for contributions from the team.

[2018-01-31 22:56] qodfathr commented on #1239
@mishaone I agree with you, but not 100%. For example, look how labels are applied in GitHub to an issue (like this one). If the actions taken within the 'dialog' occur immediately, then `X` is just close, not cancel. I think for things like labels, the immediate application is the correct behavior.

That being said, I personally think that the whole work item detail form itself should behave a yo

[2018-01-31 23:05] qodfathr commented on #1442
This does not really apply to OSIO in its current incarnation. If we end up scoping out work for other environments (OSO Pro, OSD, etc.), we'll likely end up specifying features similar to this one, but I'll keep this on the backlog for now.

[2018-01-31 23:06] qodfathr commented on #1977
Fixed.

[2018-01-31 23:06] #1977 closed

[2018-01-31 23:10] qodfathr opened #2146 "Planning Experience placeholder"
WIP

## Child Experiences
- [ ] #2162 Planner Backlog Management Experience placeholder
- [ ] #2163 Planner Task Board Experience placeholder

## Parent Scenario
#2060 Proper planning is an important success factor for non-trivial development projects

[2018-01-31 23:16] qodfathr commented on #510
**Now** it's fixed. :)

[2018-01-31 23:16] #510 closed

[2018-02-01 00:42] GeorgeActon commented on #2126
@krishnapaparaju this is actually failing fairly gracefully but we should probably rethink the comments we display in a scenario like this.
For example the usage outlier comment should robablyindicate no data available instead of all your components work well together

[2018-02-01 03:39] alexeykazakov commented on #259
Yeah... "read:user" and "user:email" should be enough. We don't need write access to user profile I guess.
@pradeepto could you please confirm that you need/do not need "user" scope?

[2018-02-01 05:54] sthaha commented on #259
I am pretty sure you would also require `read:org`.

[2018-02-01 05:55] sdash-redhat commented on #1239
@qodfathr  Sure.  Sunil is looking into it.

[2018-02-01 06:18] krishnapaparaju opened #2147 "Incorrect number of unknown licenses at stack report"
<img width="1349" alt="screen shot 2018-02-01 at 11 47 15 am" src="https://user-images.githubusercontent.com/15967765/35663927-c7485456-0745-11e8-83c4-77155c70897f.png">

Please see inconsistent numbers at top panel and bottom panel (for unknown license count)

[2018-02-01 07:27] sunilk747 commented on #2147
@krishnapaparaju This PR will fix this bug.
https://github.com/fabric8-analytics/fabric8-analytics-data-model/pull/70

[2018-02-01 07:32] nurali-techie commented on #1869
**Issue:** creation of space failed when space name has 63 chars.
**Why:** backend API allowed name with max length 62 chars only.  Check - https://github.com/fabric8-services/fabric8-wit/blob/master/design/resources.go, function -> nameValidationFunction()
**Fix:** modify nameValidationFunction() and set MaxLength to 63
**Impact:** this nameValidationFunction() used not only for space name but al

[2018-02-01 08:05] jpopelka opened #2148 "Remove dead Black Duck related code"
# Description

Long time ago we created a [Black Duck worker/task](https://github.com/fabric8-analytics/fabric8-analytics-worker/blob/master/f8a_worker/workers/blackduck.py), but we used it only very shortly and we haven't utilize it for over a year, so I think it's time to remove all the dead code.
It'll stay in history, so it can be reverted, if needed in future.

# Acceptance criteria
[f8a_work

[2018-02-01 08:28] kwk commented on #2044
@rgarg1 @qodfathr @nimishamukherjee @michaelkleinhenz

Sorry if my question seems stupid but I have some concerns in a topology where one of the matches is the child of another match. Let's take this contrived topology:

[code]

Let's say we have a search in which the matching items are `B` and `C`. In normal mode we would start by just showing `B` and `C` (maybe nested or not, I don't know now):

[2018-02-01 08:32] alexeykazakov commented on #259
yes sure. The question is if we can remove "user" scope and add "read:user" and "user:email" instead.
Currently we ask GH for `admin:repo_hook read:org repo user gist`
Could we ask for `admin:repo_hook read:org repo read:user user:email gist` instead? Will it be enough for buld?

[2018-02-01 09:31] msrb commented on #2148
+1

[2018-02-01 09:39] tisnik commented on #1786
Implemented in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/478

[2018-02-01 09:39] #1786 closed

[2018-02-01 09:52] sunilmalagi commented on #1239
@qodfathr @mishaone Its designed based on the requirement / user story provided, I will discuss with Dev team and decide based on the updated user story or the requirement I will provide the design.

[2018-02-01 10:05] tisnik commented on #1794
Implemented in https://github.com/fabric8-analytics/fabric8-analytics-common/pull/479

[2018-02-01 10:05] #1794 closed

[2018-02-01 10:14] jpopelka opened #2149 "[2] Delete github_details.json(s) from S3 bayesian-core-data bucket"
Moved from https://github.com/fabric8-analytics/fabric8-analytics-worker/issues/339

Prior to creating package-level data (i.e. version agnostic package data) workflow, the `github_details.json` was stored in S3 `(PREFIX-)bayesian-core-data` bucket, while now it's stored in `(PREFIX-)bayesian-core-package-data`.
Task is to cleanup the old metadata that are not going to be used any more.

[2018-02-01 10:30] tisnik commented on #2108
Implemented via https://github.com/fabric8-analytics/fabric8-analytics-common/pull/480

[2018-02-01 10:30] #2108 closed

[2018-02-01 10:46] pbergene commented on #2148
Removed from worker secrets.

[2018-02-01 10:48] divyanshiGupta commented on #1992
@aslakknutsen the fix corresponding to this bug is now available in prod. Can you please verify?

[2018-02-01 11:34] aslakknutsen commented on #1992
@divyanshiGupta Please link to the commit with the change

[2018-02-01 11:40] jpopelka opened #2150 "Unify tasks` error handling"
Long time ago there was an issue about the $subject, filled by @fridex , but I can't find it now (maybe it even was in some previous repo).
I recently realized how difficult is to debug a failing tests for a task if we catch `TaskError` and turn it into `{'status': 'error'}`. We should let selinon handle those exceptions (i.e. (re-)raise them when caught or not catch them) instead of masking them

[2018-02-01 12:32] fridex commented on #2150
Cannot find it, but I think it was on one of the internal issue trackers. IMHO it could simplify rescheduling failed tasks and possible task failure tracking/notifications.

[2018-02-01 12:44] divyanshiGupta commented on #1992
@aslakknutsen https://github.com/fabric8-ui/fabric8-planner/commit/4c0984e2e4e0f8e9452a815bd424088eb20aceb7

[2018-02-01 12:56] jyasveer commented on #2147
fix is here https://github.com/fabric8-ui/fabric8-recommender/pull/435

[2018-02-01 13:02] corinnekrych commented on #2124
The "unsafe:null" => pb is link to DataTableRawWrapperComponent (reading the error).
@aslakknutsen @joshuawilson Agreed nothing to do with this issue.

indeed, the navigation is cancelled bc of buggy `owner-guard`. Navigating directly from a space (different then `user_space`) to `user_space/_update` was failing the guard validation. The issue has always been there (old bug) even with original exp

[2018-02-01 13:11] ldimaggi commented on #1611
The hardcoded name has been removed - https://github.com/fabric8io/fabric8-test/pull/422

[2018-02-01 13:11] #1611 closed

[2018-02-01 13:11] ldimaggi commented on #1611
The name is set as a default - the CICO job definition over-rides the value.

[2018-02-01 13:17] aslakknutsen commented on #1992
@divyanshiGupta So it... technically works.. but... The event'ing is wrong. In the current impl you get this behavior:

* Type 'text'
* Press enter
* newline is inserted into the text
* newline is removed from the text
* input is submitted

In the process, the input field/text/size flickers needlessly.

The correct behavior is:

* Type 'text'
* Press enter
* input is submitted

There are a few way

[2018-02-01 13:29] jpopelka opened #2151 "401 Client Error: Unauthorized for url: https://api.github.com/rate_limit"
Seeing this on prod-preview when GithubTask is run:

[code]

[2018-02-01 13:33] vpavlin commented on #1245
Correct, N clusters would result in N idler deployments on OSD, each consuming events from a different cluster.

On the other hand, I think with current refactoring @hferentschik is doing, it might be also possible to use a single Idler per multiple clusters (as long it it handles the load), but that would require code changes in Idler and a bit more thought.

Proxy is ok from the point of getting

[2018-02-01 13:37] aslakknutsen commented on #1245
@vpavlin Jenkins proxy does proxying both with and without access to the users token, correct?

[2018-02-01 13:41] pbergene commented on #2142
@rupalibehera @chmouel I wasn't seeing it, but then I reset environment and it started happening.  Seeing it consistently.  Could it be that I pulled in jenkins 4.0.48 (is this new-ish?) and there is a return of openshift-login plugin issues from #1525? https://github.com/openshiftio/openshift.io/issues/1525

[2018-02-01 13:42] msrb commented on #2148
Thanks @pbergene 😉

[2018-02-01 13:43] vpavlin commented on #2120
The problem is that the url does not have `/` at the end

https://jenkins.openshift.io/blue/organizations/jenkins

vs.

https://jenkins.openshift.io/blue/organizations/jenkins/

The missing slash triggers 302 redirection in Jenkins web server and returns the OSO Jenkins URL

Not sure how to solve this - the only thing that comes to my mind is to inspect headers in proxy on 302 redirect and check i

[2018-02-01 13:46] jpopelka commented on #2151
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1212

[2018-02-01 13:48] michaelkleinhenz commented on #2044
@rgarg1 @qodfathr There is no WIT not known to the Planner as we're always working from the same one template - at least for now. If an external component creates a WI in the core, it has to be part of the template and thus being known by the Planner. If that is a requirement, we need to introduce filters (or reuse the existing filters in a sense of default filters). But that is not defined nor im

[2018-02-01 13:50] michaelkleinhenz commented on #2044
@rgarg1 @qodfathr what we have is a filter on WILTs. Only the parent-child relationships are recognized for the tree display. There are other Link Types that are available but are not appearing in the tree (likely because they use graph instead of tree topology).

[2018-02-01 13:54] michaelkleinhenz commented on #2044
@kwk in **non-tree**, we show B and C as a list (non-nested), no exploration. In **tree display**, we show:

[code]
..with C expandable, but collapsed. B and C are bold/highlighted. **X is not** but is displayed.

[2018-02-01 14:36] ibuziuk opened #2152 "'GreetingServiceTest' from wildfly booster is failing in Che"
Steps to reproduce:
- start workspace with wildfly booster quickstart
- execute build command

[code]

[2018-02-01 15:01] lordofthejars commented on #2152
I found this issue running on `openshift.io`. If I run `mvn clean install` locally it runs correctly this test that is failing on Che.

[2018-02-01 15:05] ppitonak commented on #2034
Any updates?

[2018-02-01 15:10] ldimaggi opened #2153 "Print format for new Analytic reports is not usable"
See screenshot - if a user attempts to print an Analytic report, the report is not readable:

![screenshot from 2018-01-31 18-07-58](https://user-images.githubusercontent.com/642621/35685507-eb88fe82-0737-11e8-9bb2-26d673741ad4.png)

[2018-02-01 15:12] joshuawilson commented on #2153
This will need a second set of styles written for printing and then some kind of print icon on the report to activate it. Need to get UX involved.

[2018-02-01 15:12] joshuawilson commented on #2153
cc @catrobson

[2018-02-01 15:27] rhopp opened #2154 "Intermittent/recurring issue - Workspace pod fails to start due to volume mount failures"
Original issue: https://github.com/redhat-developer/rh-che/issues/467
Workspace pod sometimes fails to start because "Failed Mount":
![failed](https://user-images.githubusercontent.com/1215011/35686418-83033ed8-076c-11e8-924c-b34659ebf0b3.png)
And this exception in che-server logs:
[code]

[2018-02-01 15:59] rupalibehera commented on #2142
@pbergene ,I can also reproduce same issue https://github.com/openshiftio/openshift.io/issues/1525 and I am not sure what changed since we did not change anything from Jenkins image side.
what do you mean by you pulled Jenkins 4.0.48 plugins ?

[2018-02-01 16:00] lordofthejars commented on #2142
It happens to me but the error is not intermittent but permanently, it happens to me all the time. I just created a new project from Wildfly Swarm Booster and I got this issue. Also, the status of the pipeline remains `Running` all the time.

[2018-02-01 16:10] rupalibehera commented on #2142
@lordofthejars are you seeing this issue after `update tenant` ?  what version of Jenkins you see, is it 4.0.48 ?

[2018-02-01 16:11] ldimaggi commented on #2142
I should be more clear - getting the problem to occur happens intermittently for me. But, once the problem occurs, it does not clear up on it own just by waiting.

[2018-02-01 16:31] lordofthejars commented on #2142
@rupalibehera yes I pushed the update tenants several times. I don't know exactly the version of Jenkins, I have just followed the wizard. In fact if I try to access to Jenkins instance I got the same message as when I click to View Logs.

[2018-02-01 16:37] divyanshiGupta commented on #1992
sure @aslakknutsen I will figure out something.

[2018-02-01 16:42] lordofthejars commented on #2142
Yes 4.0.48

[2018-02-01 17:12] qodfathr commented on #2057
Okay, here's my proposal.

The failure of the first build is the context of **this** issue. (We need to keep issues to single bugs.)
The failure of the promote button is #2034.
The messed up pipelines screen is related to / a dupe of #1975
The failure of the 2nd promote button is probably also #2034

@ldimaggi thoughts?

[2018-02-01 17:15] qodfathr opened #2155 "CI Experience placeholder"
WIP

## Implementing Features

## Associated Defects
- [ ] #2057 Challenges with parallel OSIO builds

## Parent Scenario
#2062 Continuous delivery may increase success

[2018-02-01 17:21] qodfathr opened #2156 "Tenant Override Screen placeholder"
WIP -- we have a tenant override screen, but it's not yet documented in an issue. That will go here.

## Implementing Features
- [ ] #1049 "Reset Environment" should cleanup custom tenant config

## Parent Fundamental
#2036 OpenShift.io should be Testable in Production

[2018-02-01 17:26] mmclanerh commented on #2142
Re-tested for Jenkins pod not spinning up as expected and Jenkins handoff/login not prompting as expected.   Here's my data, fwiw.

# Prior State
Jenkins seemed to be running, but I was getting prompted with wrong login form to Jenkins (ver: 4.0.47).

# Steps taken and result
- Updated tenant
- Reset environment

This set me up with 4.0.48 Jenkins image and after this, I saw correct Jenkins login

[2018-02-01 18:00] qodfathr commented on #1840
PM is good with the proposed UX change. @joshuawilson is Platform Eng good?

[2018-02-01 18:05] #2079 closed

[2018-02-01 18:08] qodfathr opened #2157 "Planner iterations Feature palceholder"
WIP

## Associated questions
- [ ]#2046 How many levels of nested iteration do we support in planner?

## Parent Experience
#2146 Planning Experience placeholder

[2018-02-01 18:10] #2046 closed

[2018-02-01 18:32] qodfathr commented on #2029
@maxandersen yes, an indication of "Inactive" makes more sense then empty. I'll revise the wording. Thanks.

[2018-02-01 18:37] qodfathr commented on #2111
Personally, I'm okay with the current implementation.

@ldimaggi this feels like a NPTF (no plan to fix) in terms of the truncation. Feel free to open a feature request for a resizable side bar, if you feel strongly about that. Does that work for you?

[2018-02-01 18:38] ldimaggi commented on #2111
OK - that's fine. Thx!

[2018-02-01 18:56] mmclanerh commented on #2142
After 1.5 hours, logged back into OpenShift.io

- Note: my Jenkins pod wasn't idled.
- Started a new work space
- Added Quickstart (Vert.x HTTP Booster, Release+Stage Pipeline)
- Clicked view log and was taken to Jenkins as expected
  - Jenkins loaded
  - Jenkins prompted for OpenShift.io handoff login
  -  build log is progressing

At this time, having trouble reproducing with my account.

[2018-02-01 19:11] qodfathr commented on #2044
@michaelkleinhenz agreed that Planner knows all WITs today. That will not be true in the future, so you guys should start thinking about what that means on your end. :)

@kwk that's a good example, and not too contrived, either. Although guided type navigation basically avoids the creation of your example, here's a real-world case:

Feature `F1` is specified in the backlog.
Dev team says "that fea

[2018-02-01 19:13] qodfathr commented on #2111
Closing as NPTF

[2018-02-01 19:13] #2111 closed

[2018-02-01 19:17] andrewazores opened #2158 "Deployments service does not log HTTP errors"
## Parent Experience
- [ ] #2114 Openshift.io DSaaS Central Error reporting

[2018-02-01 19:27] ibuziuk commented on #2154
There is not much che team can do about this problem since it is infrastructure related

[2018-02-01 19:31] mmclanerh commented on #2142
Going back to original issue (jenkins pod not starting): @ldimaggi are you still seeing this?  if so, please engage sd if you do see it. if not, lets close this.

On secondary issue (jenkins login prompt not as expected): @rupalibehera @ldimaggi  if doing a tenant update/reset env isn't fixing jenkins login prompt issue and the issue still exists, let's generate a new gh issue specific to the jenk

[2018-02-01 19:36] qodfathr commented on #292
@ALRubinger @maxandersen so, this is fixed? I definitely see that people awaiting OSIO have been able to get OSO on another cluster.

[2018-02-01 19:37] mmclanerh commented on #2154
@rhopp can you provide which environment you're seeing this on (prod? starter-us-east-2? starter-us-east-2a?) and a relative day/timezone+time/tenant id?

@jfchevrette can you review?

[2018-02-01 19:41] catrobson commented on #2153
@mganesan - do we have a finalized design for web in place at this point, or is that still changing?  If it is final, it would be good to assign this as a HTML/CSS task to @SMahil.

[2018-02-01 19:44] joshuawilson commented on #1840
I agree with @aslakknutsen view. I'm good with UX taking on the task to record what keyboard shortcuts we want. (their issue only starts it, it doesn't present anything)

[2018-02-01 19:45] ldimaggi commented on #2142
I have not seen this issue today. Will keep an eye open for this....

[2018-02-01 20:09] ldimaggi commented on #2034
Issue found/encountered by EE tetss.

[2018-02-01 20:09] ldimaggi commented on #1926
Issue found/encountered by EE tetss.

[2018-02-01 20:11] ldimaggi commented on #1938
Issue found/encountered by EE tests.

[2018-02-01 20:14] ldimaggi commented on #1901
Issue found/encountered by EE tests.

[2018-02-01 20:14] ldimaggi commented on #1894
Issue found/encountered by EE tests.

[2018-02-01 20:15] ldimaggi commented on #1873
Issue found/encountered by EE tests.

[2018-02-01 20:15] ldimaggi commented on #1863
Issue found/encountered by EE tests.

[2018-02-01 20:18] ldimaggi commented on #1780
Issue found/encountered by EE tests.

[2018-02-01 20:18] ldimaggi commented on #1733
Issue found/encountered by EE tests.

[2018-02-01 20:19] ldimaggi commented on #1732
Issue found/encountered by EE tests.

[2018-02-01 21:19] catrobson commented on #2107
This is the proposed design: https://redhat.invisionapp.com/share/2BD1C1GQY#/screens/249789131

[2018-02-01 21:29] vpavlin commented on #1245
Not sure if I understand the question, but I'll try to answer:)

There are 2 paths of proxying

1. Github webhook - does not require auth/token, user is recognized based on codebase URL
2. Authenticated user - based on token acquired through redirect to auth service - then cookies are used to verify auth against Jenkins so that we don't need to redirect to auth everytime

Not sure if it helps:)

[2018-02-01 21:47] qodfathr opened #2159 "A world of open source Scenario placeholder"
WIP

## Value Propositions

## Realizing Experiences
- [ ] #1399 Open source Spaces on OpenShift.io may be browsed anonymously

[2018-02-01 21:54] qodfathr opened #2160 "Planner backlog Feature placeholder"
WIP

## Parent Experience
#2146 Planning Experience placeholder

[2018-02-01 22:05] qodfathr commented on #1658
#1865 was once referenced from here, but now is not. Is #1865 a task that needs to be completed for this? Thanks.

[2018-02-02 03:50] krishnapaparaju commented on #2106
right. Package names are not typically mentioned in the description. Hence tags describing the master list of packages would be one possible approach (this poc) to interpose onto the content (description + content from the links).

[2018-02-02 05:45] mishaone commented on #2117
@qodfathr I clicked Cancel since that's the only button that's active at the moment. You can see in the first screenshot that the build is already starting so the canceling doesn't cancel anything except the wizard.

[2018-02-02 06:29] rhopp commented on #2154
@mmclanerh I'm seeing this on prod (starter-us-east-2) and prod preview (free-stg).
Kibana searches for this error, where you can see the times of occurences:
Prod: https://logs.dsaas.openshift.com/goto/ce0f1dd614d4a674322616f30f5ae73a
Prod-preview: https://logs.rh-idev.openshift.com/goto/749adcbe504f0f1546fc66be3cdd68c7

I'm not sure what do you mean by tenant id. We used few accounts, for exampl

[2018-02-02 07:25] krishnapaparaju opened #2161 "Separate end point for ingestion traffic to Graph database"
We would need separate end point for write side of ingestion traffic to not impact the OISO users.

cc @msrb

[2018-02-02 07:47] krishnapaparaju commented on #2128
These are changes been changed to fix this issue:

1) Switched to TCP Socket liveness probe, HTTP probe is failing, restarting pods with requests queening in, liveness times out.

2) mod_wsgi (used as part of the API server) is now configured for Pod = 3 processes, 1 thread per each process (previously Pod had = 1 process, 1 thread per process resulting in mod_wsgi being restarted)

3) DynamoDB re

[2018-02-02 07:47] #2128 closed

[2018-02-02 08:25] eivantsov commented on #2152
[code]
I get a different error for some reason.

[2018-02-02 08:42] bartoszmajsak commented on #2152
@eivantsov is that the whole log you are getting? That's a bit blurry to reason what is really going on.

[2018-02-02 08:52] eivantsov commented on #2152
`scl enable rh-maven33 'cd ${current.project.path} && mvn clean install'` if you try this command you will get past the error but hit another one.

As you can see, maven is invoked in root dir rather than path to pom.xml is passed as an arg

[2018-02-02 09:17] michaelkleinhenz commented on #1933
This is now serious for us. We're blocked because builds are more failing than working. We need this infra to work reliably. A whole team wastes lot's of time hitting that rebuild button. **We need to solve this.**

[2018-02-02 09:30] kwk commented on #2044
I have a PR to address this: https://github.com/fabric8-services/fabric8-wit/pull/1877

[2018-02-02 09:36] maxandersen commented on #945
@ldimaggi how is this issue that is about openshift.io build issue related to #1933 that is about build issues on GKE ?

[2018-02-02 09:41] maxandersen commented on #945
reopening as i'm also seeing very slow jenkins start build times on prod.

[2018-02-02 09:43] maxandersen commented on #1933
I'm upgrading this to sev1 as it does not really matter where the issue is rooted - several teams are affected by "random failures".

If these issues are really caused by exhausted resources on the build server then lets get the resources increased to see if it gets better - that must be cheaper than getting stuck at this.

If it requires more investigation then lets please get it listed here and

[2018-02-02 10:37] #2044 closed

[2018-02-02 10:37] tuxdna commented on #2048
More issues encountered

- [ ] https://github.com/fabric8-analytics/fabric8-analytics-data-model/issues/75

- [ ] https://github.com/fabric8-analytics/fabric8-analytics-jobs/issues/247

[2018-02-02 10:54] sbose78 commented on #1933
@chmouel , I'm guessing it gets billed to the account automatically.
Inform the planner team, so that they can quickly try things out after you make the change? @pranavgore09 @michaelkleinhenz  ?

[2018-02-02 10:57] #1765 closed

[2018-02-02 10:58] jarifibrahim commented on #1933
For purely experimentation purpose, I ran the first 3 stages (which includes building and testing) of `fabric8-planner` build on Travis-CI [[0]](https://travis-ci.org/jarifibrahim/fabric8-planner).
Here's what I found out -
1. The average running time (for the first 3 stages) is about **5 minutes on Travis-CI** and about **18 minutes on jenkins.cd.test.fabric8.io**
![download](https://user-images.

[2018-02-02 11:18] bartoszmajsak commented on #1933
Is this really a whole build of `fabric8-planner` and you [literally have 7 specs](https://travis-ci.org/jarifibrahim/fabric8-planner/jobs/335747004#L859)? Something is really odd here... also from the perspective of the tim needed to execute it (even on travis).

[2018-02-02 11:42] rupalibehera commented on #1933
@chmouel , I am not sure if we can resize this same instance or we don't have enough privileges for that, should we ask @pbergene @jfchevrette they both have more access than us ?

[2018-02-02 11:51] sthaha commented on #1933
@chmouel I am curious what we are resizing here - the jenkins master or the slave? isn't the job run in the slave? Can we get an measurement of the cpu and the memory utilisation of the slave when the job is run?

[2018-02-02 11:56] rupalibehera commented on #1933
this is resizing of the complete cluster where other services also run `configmapcontroller, content-repository, elasticsearch, exposecontroller, fabric8-docker-registry, hubot-mattermost, jenkins, jenkins-slave-*, kibana, mattermost-db, mattermost, nexus`

[2018-02-02 12:18] qodfathr opened #2162 "Planner Backlog Management Experience placeholder"
WIP

## Implementing Features
- [ ] #1840 Add Ctrl+Enter support to submit comment / confirm text / confirm markdown area
- [ ] #2157 Planner iterations Feature placeholder
- [ ] #2160 Planner backlog Feature placeholder

## Associated Defects
- [ ] #1595 Planner: Work Item descriptions and comments do not have a maximum characters limit
- [ ] #1814 HTML entities not rendered in Planner Item Title